[2022-04-18 03:12] brentalanmiller commented on #44250
Thanks for all the help and clarification everyone, I appreciate it.

[2022-04-18 03:12] #44250 closed

[2022-04-18 12:04] LixinGuoX opened #44925 "intel_adsp_cavs25: multiple tests failed after running tests/boards/intel_adsp"
**Describe the bug**
When running `tests/boards/intel_adsp/smoke/` on cavs25, it may stuck at some test functions and get failed due to timeout, then other tests which should get passed (for example: tests/crypto/tinycrypt) failed without any log.
This issue can be avoided by reverting this   PR: #43267 or power cycle the board.

**To Reproduce**
Steps to reproduce the behavior:
1. `twister -W -p

[2022-04-18 12:06] LixinGuoX opened #44926 "intel_adsp_cavs25: can not build multiple tests under tests/posix/ and tests/lib/newlib/"
**Describe the bug**
After this PR: #44529 merged, multiple tests with specific config can not build successfully on intel_adsp_cavs25.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cmake -B build1 -DBOARD=intel_adsp_cavs25 -GNinja -S tests/posix/common/ -DCONFIG_NEWLIB_LIBC=y
2. cd build1/
3. ninja
4. See error

Or using twister:
1. twister -p intel_adsp_cavs25 -T tests/posix/ -T t

[2022-04-18 12:26] beiszhihao opened #44927 "Problems in using STM32 Hal Library"
hello everyone
I try to use stm32f7 Hal Library in my zephyr app project to operate stm32f746g_ Disco's LCD works through ltdc, but unfortunately it can't work normally. After I compiled and burned the code, the LCD didn't achieve my expected effect. Finally, I compiled the same code on keil5 and found that it can drive the LCD after burning it on the board.
Has the Hal library on zephyr changed a

[2022-04-18 14:05] trond-snekvik commented on #41093
@smenor would you mind creating a post on Nordic's [devzone](https://devzone.nordicsemi.com) for this? Any details you can provide about your environment would be helpful.

[2022-04-18 19:22] carlst opened #44931 "Bluetooth: Samples: broadcast_audio_source stack overflow"
**Describe the bug**
`samples/bluetooth/broadcast_audio_source` crashes when FPU enabled in `prj.conf` with:

`CONFIG_NEWLIB_LIBC=y`
`CONFIG_FPU=y`
`CONFIG_FP16=y`
`CONFIG_FP_HARDABI=y`

FPU is used e.g. by `modules/liblc3codec`

Please also mention any information which could help others to understand
the problem you're facing:

 - What have you tried to diagnose or workaround this issue?
Stack s

[2022-04-18 19:42] #44926 closed

[2022-04-18 21:21] dcpleung commented on #43786
Since the PR in SOF has been merged, is this still an issue for you?

[2022-04-18 23:00] andyross commented on #43828
Ping?  Any update on the failure rate, etc...?

[2022-04-18 23:01] andyross commented on #43975
Process demands we close this for now, pending response.  Please reopen if it persists.

[2022-04-18 23:01] #43975 closed

[2022-04-19 00:23] #44902 closed

[2022-04-19 00:42] smenor commented on #41093
@trond-snekvik sure I can do that

[2022-04-19 00:50] lachlansmith opened #44938 "Pin assignments SPIS nrf52"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

I'd like to use SPIS on the Particle Argon but I can't figure out the csn-pin to use. I believe **boards > arm > particle_argon > dts >** ```mesh_feather_spi_spi1.dtsi``` references the nrf52 pin assignments. This leads me to believe I need to look at [nordic](https://in

[2022-04-19 01:38] aiChaoSONG commented on #43786
Liam suppose this will be fixed later, alright, let's close for now.

[2022-04-19 01:38] #43786 closed

[2022-04-19 01:59] sam131208 commented on #29394
@sylvioalves Do you have any plans to release S3 support?

[2022-04-19 02:23] Oreobird commented on #38978
Is this still WIP? Recently I try to run microTVM auto tuning example on ESP32 with Zephyr，but got the exactly same error.

[2022-04-19 02:35] lachlansmith commented on #44938
I'm unsure if this is correct but it seems like a pretty good guess. Since a GPIO bus goes from [0 ... 31] and gpio1 is the "next" bus the mapping is **gpio1 14 = 31 + 14 = 45**. So the pins are referencing the GPIO number plus whatever bus they are on. Hate when things seem obvious after the fact. I can't find documentation on this so I assume this is just a known convention I haven't come across

[2022-04-19 02:35] #44938 closed

[2022-04-19 03:10] nashif commented on #44347
use --disable-suite-name-check

[2022-04-19 03:10] #44347 closed

[2022-04-19 03:19] #44259 closed

[2022-04-19 07:14] lairdjm commented on #44691
That isn't a commit sha, go to the zephyr directory and do `git log -n 1` and get the commit hash from that. Works for me:
[code]
As can be seen from your output, the rom start offset is 0, which means it is not leaving space for an mcuboot header

[2022-04-19 07:37] erwango commented on #44352
Closed, now that https://github.com/zephyrproject-rtos/zephyr/pull/44378 is merged.

[2022-04-19 07:37] #44352 closed

[2022-04-19 08:14] #41220 closed

[2022-04-19 08:25] XavierChapron commented on #44834
Absolutely, the code in the issue description was there just to show the length of the diff, but if this solution is selected, I would add some logic with conditional code based on the DTS flag. Something like https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/gpio/gpio_pca95xx.c#L57

Would you agree with such a solution?

[2022-04-19 08:29] UnicycleBloke opened #44942 "Dictionary logging to automatically remove strings from the installed image"
I have been trying to use the dictionary-based logging feature because my target device has only 64KB ROM. My client creates a log in the flash which can be examined if a device is returned from the field. They currently fill half the space with strings used at run time, and with those same strings stored in the log. A dictionary solution which removes the strings entirely is highly desirable. Thi

[2022-04-19 08:49] nordic-krch commented on #44942
@nashif, @carlescufi do you know who can help from linker side?

[2022-04-19 08:55] carlescufi commented on #44942
@tejlmand or maybe @dcpleung

[2022-04-19 09:47] #44687 closed

[2022-04-19 09:47] #44721 closed

[2022-04-19 09:47] #44724 closed

[2022-04-19 09:47] #44706 closed

[2022-04-19 09:58] kv2019i commented on #44872
@andyross I can verify masking timer-irq on secondary cores (patch in cavs-latency-rig branch) indeed fixes the avg problem.
In practise I think we should go ahead with this for SOF.

But, but, I'd still argue there is  a flaw in the logic. With the new rig and without the irq matching patch, I get result like this:

work0: last -1357 peak   2804 **avg   692** (N = 5894)
work1: last   424 peak   4

[2022-04-19 10:24] PerMac commented on #43975
@andyross Sorry for the hassle and not replying. I wanted to collect some more input about the failures, but I couldn't reproduced  them locally and in the meantime doing restructuring in our hw CI. If I manage to reproduce the error I will come back to you with more details. Thanks and sorry again.

[2022-04-19 11:00] Thalley opened #44944 "LE Audio: Add ISO part to broadcast audio bsim tests"
**Is your enhancement proposal related to a problem? Please describe.**
Broadcast ISO should be working in the babblesim now, and as such the broadcast audio bsim tests can be expanded upon to fully utilize the API.

**Describe the solution you'd like**
The babblesim tests need to fully use the API including creating and syncing to the BIG.

**Describe alternatives you've considered**
N/A

**Addit

[2022-04-19 11:07] evenl commented on #44586
Sorry for the slow response, I have been on Easter vacation and thanks for looking at my case.

Yes, it's is very hard to reproduce this issue in a controlled environment. And as mentioned before it seems to be hardware dependent, currently we have found two devices here at the office that show this behavior, but all devices show this behavior over time. It also seems to be very dependent on the t

[2022-04-19 12:24] #42672 closed

[2022-04-19 12:50] ruuddw commented on #30348
I raised the priority, as this is an issue for a specific ARC user to move to MetaWare.

[2022-04-19 13:17] gopiotr opened #44947 "cmsis_dsp: matrix: error during building libraries.cmsis_dsp.matrix.unary_f64 for qemu_cortex_m3"
**Describe the bug**
Test `libraries.cmsis_dsp.matrix.unary_f64` from `tests/lib/cmsis_dsp/matrix` cannot be built for `qemu_cortex_m3` platform.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Twister by command:
[code]
2. Observe output logs - especially those from building process

**Expected behavior**
Test should be able to build on `qemu_cortex_m3` platform, or limits in test scena

[2022-04-19 13:39] gopiotr opened #44948 "cmsis_dsp: transofrm: error during building cf64.fpu and rf64.fpu for mps2_an521_remote"
**Describe the bug**
Tests `libraries.cmsis_dsp.transform.cf64.fpu` and `libraries.cmsis_dsp.transform.rf64.fpu` from `tests/lib/cmsis_dsp/transform` cannot be built for `mps2_an521_remote` platform.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Twister by command:
[code]
2. Observe output logs - especially those from building process

**Expected behavior**
Test should be able to build

[2022-04-19 13:41] stephanosio commented on #44947
You are explicitly running twister with `--overflow-as-error`.  Note that the default behaviour is to automatically skip the platforms that do not have enough resources to run this platform.

This is not a bug.

[2022-04-19 13:41] stephanosio commented on #44948
Same as https://github.com/zephyrproject-rtos/zephyr/issues/44947#issuecomment-1102671532

[2022-04-19 13:44] gopiotr commented on #44948
Okay, so is there any sense to keep in `integration_platform` entry with `mps2_an521_remote` platform?

[2022-04-19 13:45] erwango commented on #44861
Hi,

Thanks for your interest.

First, please note that out of the 3 boards you mention, only b_u585i_iot02a embeds a (MXCHIP) WIFI module.

There is no plan currently to enable support for this module in short term.

There are already some wifi driver implementations available there: `drivers/wifi`.
For instance, [disco_l475_iot01 board](https://docs.zephyrproject.org/2.6.0/boards/arm/disco_l475_

[2022-04-19 13:51] stephanosio commented on #44947
Closing this once because, unlike #44948, `qemu_cortex_m3` is not one of the listed integration platforms for this test.

[2022-04-19 13:51] #44947 closed

[2022-04-19 15:25] nashif commented on #44530
closing this, there is really not much we can do here. This should be addressed by the user of the toolchain which does not have this support.

[2022-04-19 15:25] #44530 closed

[2022-04-19 16:20] carlescufi commented on #44904
@npitre will you be able to look at fixing this soon or should we just revert your change?

[2022-04-19 16:25] npitre commented on #44904
I intend to have it fixed it today.

[2022-04-19 16:26] #41613 closed

[2022-04-19 16:27] carlescufi commented on #44921
@arpitkalla could you please try with the Zephyr SDK on Linux, using the bundled toolchain and qemu?

[2022-04-19 17:09] stephanosio commented on #44921
I just tested this on macOS using the Zephyr SDK 0.14.1 and the QEMU installed from Hombrew, and am unable to reproduce this.

[2022-04-19 19:13] bbilas opened #44956 "Deprecate the old spi_cs_control fields"
## Introduction

Deprecate the old spi_cs_control fields such as `gpio_dev, gpio_pin and gpio_dt_flags` in favor of using `gpio_dt_spec` gpio member.

### Proposed change

Deprecate the `gpio_dev, gpio_pin and gpio_dt_flags` members from `spi_cs_control` struct.

### Proposed change (Detailed)

https://github.com/zephyrproject-rtos/zephyr/pull/39338

### Dependencies

All in-tree drivers.

### Con

[2022-04-19 19:34] AndreyDodonov-EH commented on #23302
@rlubos
Great that you mentioned ACK issue.
Yes, there is room for improvement in terms of ACK-ing multiple packages with a single ACK, there is even a (somewhat stale) issue for that: https://github.com/zephyrproject-rtos/zephyr/issues/30366

[2022-04-19 20:57] Thalley commented on #44931
@carlst You mentioned stack sizes. Did you see a stack overflow?

Can you provide a crash log of some sort?

[2022-04-19 21:58] carlst commented on #44931
Crash is almost immediate and there is little info. The instruction address (r15/pc) looks suspicious.
[broadcast_audio_source_20220419.txt](https://github.com/zephyrproject-rtos/zephyr/files/8516660/broadcast_audio_source_20220419.txt)

Removing  `CONFIG_BT_DEBUG_LOG=y` did not affect the crash.

I am using Segger Embedded Studio on Windows 10.  Have not yet found a way to copy Call Stack out of

[2022-04-19 21:59] mmahadevan108 commented on #44671
Unable to reproduce this with `zephyr-v3.0.0-2805-gc6b05afc9255`
[code]

[2022-04-20 00:29] #40874 closed

[2022-04-20 00:29] #39922 closed

[2022-04-20 00:29] #38747 closed

[2022-04-20 01:12] crides commented on #44349
Okay that works, but the assertion remains the same (now it's on line 654 due to the commits).

[2022-04-20 01:24] cvinayak commented on #44913
@adamfowleruk You are using the nRF Connect SDK supplied SoftDevice Controller for which you can report the issue here: https://devzone.nordicsemi.com/

My guess, would try to increase `CONFIG_BT_MAX_CONN` and check

[2022-04-20 01:34] #44671 closed

[2022-04-20 01:34] cvinayak commented on #44349
@crides ok, please provide your `zephyr.map` file to review if Controller's global variables could be overrun into.

[2022-04-20 01:42] crides commented on #44349
[zephyr.map.txt](https://github.com/zephyrproject-rtos/zephyr/files/8517521/zephyr.map.txt)

[2022-04-20 03:18] hunterhu3000 commented on #43867
The problem is fixed by https://github.com/zephyrproject-rtos/zephyr/pull/44720

[2022-04-20 03:18] #43867 closed

[2022-04-20 03:21] hunterhu3000 commented on #43864
mec172xevb_assy6906 does not support pwm input, so the test case is unable to run on it.

[2022-04-20 03:21] #43864 closed

[2022-04-20 03:52] cvinayak commented on #44349
I do not see anything suspicious in the map file.

[2022-04-20 06:34] 99003662 opened #44966 "build fails for nucleo wb55 rg board."
Build fails for p-nucleo wb55rg board.
      Hi am using vs code with nrfconnect through vs code. while building am getting below error.
![image](https://user-images.githubusercontent.com/78849757/164165254-1ab5b26f-357b-48d1-b08b-3dcb47b3c422.png)

kindly suggest .

[2022-04-20 08:53] erwango commented on #44966
Please run "west update"

[2022-04-20 08:55] erwango commented on #44337
#44322 merged

[2022-04-20 08:55] #44337 closed

[2022-04-20 08:56] erwango commented on #44336
#44323 merged

[2022-04-20 08:56] #44336 closed

[2022-04-20 10:25] erwango commented on #44966
Also, note that nucleo_wb55rg might not be able to work in NRFConnect, you might need to fetch/use Zephyr directly.

[2022-04-20 10:43] henrikbrixandersen opened #44977 "samples: modules: canopennode: failure to initialize settings subsystem on nucleo_g474re"
**Describe the bug**
The samples/modules/canopennode/ sample fails to initialize the settings backend (NVS) on the ST nucleo_g474re board due to only one page (2k) being reserved for the flash storage partition. NVS requires at least two pages.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nucleo_g474re samples/modules/canopennode/
2. west flash
3. See error

**Expected behav

[2022-04-20 11:11] jeppenodgaard opened #44980 "ws2812_spi allow setting CPHA in overlay"
**Is your enhancement proposal related to a problem? Please describe.**
I've added an mimxrt1050_evk_qspi conf and overlay in the samples/drivers/led_ws2812/boards and connected a ws2812b to lpspi1. The RGB does not react to the data transmitted, but the timings are valid. However the line is SDO is held high between transmission which seems to cause the issue.

**Describe the solution you'd like*

[2022-04-20 11:27] #43715 closed

[2022-04-20 11:55] Thalley commented on #44931
The log does contain the following line
[code]
So it likely just a stack overflow :)

[2022-04-20 12:23] Thalley commented on #44931
@carlst Can you please double check your commit SHA? The build number from the SHA you provided does not match the log you've sent.

[2022-04-20 13:08] henrikbrixandersen opened #44985 "tests: drivers: can: timing: failure to set bitrate of 800kbit/s on nucleo_g474re"
**Describe the bug**
The `drivers/can/can_stm32fd.c` uses the PCLK clock as clock source for the FDCAN IP. This clock is 170MHz, at least on the nucleo_g474re board. This prevents the use of the CAN in Automation (CiA) standard bitrate of 800kbit/s (170000000/(n * 800000) is not an integer).

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nucleo_g474re tests/drivers/can/timing/

[2022-04-20 13:51] #42096 closed

[2022-04-20 13:59] #42588 closed

[2022-04-20 14:25] #43344 closed

[2022-04-20 14:25] #44255 closed

[2022-04-20 14:39] mbolivar-nordic commented on #38725
Moving status to on hold since it's on my plate but I haven't touched it yet to add I2C driver maintainers. Will move back to In Progress when I have a PR.

[2022-04-20 14:54] 12csw1 commented on #44985
Should this issue be labeled as priority: high?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other information boostin

[2022-04-20 16:23] dbkinder opened #44992 "doc: Update Google Analytics tracking to use Google Analytics 4"
Zephyr docs use Google Analytics "Universal Analytics" to collect tracking information.

Google Analytics 4 is the next-generation measurement solution, and is replacing Universal Analytics. On July 1, 2023, Universal Analytics properties will stop processing new hits. They recommend that you complete your move to Google Analytics 4 before then.

See https://support.google.com/analytics/answer/115

[2022-04-20 16:35] stephanosio commented on #44992
References:
* https://github.com/zephyrproject-rtos/zephyr/pull/16666
* https://github.com/zephyrproject-rtos/zephyr/commit/aa9b602e004176d3c995491e1736c6318f6cbc71

[2022-04-20 16:37] stephanosio commented on #44992
NOTE: LF will handle this.

[2022-04-20 16:45] stephanosio commented on #44947
`min_flash` and `min_ram` are already set for these tests. The problem is that `min_flash` and `min_ram` are by no means a fundamental solution.

Every platform has different resource requirements; for instance, `min_ram` of 64KB may be enough to allow a test to run on platform A, but it may not be enough for platform B because, for instance, its HAL takes up a lot more RAM than that of the platfo

[2022-04-20 17:53] carlst commented on #44931
SES does not display the log when `z_arm_usage_fault()` is hit. There was no obvious way to copy the registers from SES at that point, but I have since found a copy op and a register dump at  `z_arm_usage_fault()` is included in the attached file below. The stack pointer appears to refer to the stack of a system work queue when that fault occurs. Not sure if that is meaningful; if corruption is ca

[2022-04-20 19:06] attie-argentum opened #44996 "logging: transient strings are no longer duplicated correctly"
**Describe the bug**

Since #43520 was merged (specifically the changes to `include/zephyr/logging/log_msg2.h`, ping @nordic-krch), logged strings that are not in read-only memory are no longer correctly duplicated and preserved for deferred output... in some cases... (🤯)

If the following conditions are met, you will expose the issue: (there may be others)
- The string variable is declared `uint8

[2022-04-20 19:11] Thalley commented on #44931
Thanks. I'm able to reproduce it (even on the current `main` branch), but having some trouble figuring out the issue, so I'll need to dig deeper :)

[2022-04-20 19:31] lairdjm opened #44997 "zcbor build error when ZCBOR_VERBOSE is set"
**Describe the bug**
Upon trying to build smp_svr, where ZCBOR_VERBOSE is set by default, the build fails with errors like:
[code]

**Expected behavior**
No build errors

**Impact**
Annoyance

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain: Zephyr SDK 0.14.0
 - Commit SHA or Version used: fc88ddf59cc2814ee88ed39a60e4673d3a13a2a6

[2022-04-20 19:38] nordicjm opened #44998 "SMP shell exec command causes BLE stack breakdown if buffer size is too small to hold response"
**Describe the bug**
If a `shell exec` SMP command is sent over bluetooth with the default 4.0 values i.e. no DLE, 23 byte MTU, small buffers etc. for something like the `help` command, the bluetooth stack emits a few errors about being unable to allocate buffers, but seems to have broken the stack and there is a phantom bluetooth connection and this then prevents any future connections.

Output:

[2022-04-20 19:50] lairdjm commented on #44998
@Thalley FYI, not looked into this issue as of yet, not sure if it's a bug in mcumgr or bluetooth but seems similar to a very old issue I saw in the zephyr bluetooth controller whereby it thought there was an active connection forever when the target device had actually disconnected

[2022-04-20 19:51] lairdjm commented on #44997
@oyvindronningstad FYI

[2022-04-20 20:54] attie-argentum commented on #44996
Further example:

[code]

The first `transient_string` is shown as `transient_string2`, and I'm not sure why `transient_string3` is being truncated here...
[code]

Swapping all three `uint8_t` for `char` resolves the behaviour fully:
[code]

[2022-04-20 21:34] albertofloyd opened #45001 "drivers: espi: UART to SoC mapping shall use device tree"
Currently using KConfig for eSPI virtual UART port to physical SoC UART

Need to use existing device tree selected uart in board device tree

[2022-04-20 23:07] carlst commented on #44931
In a system with FPU, a stack adjustment is made (to make space for saving FP registers).
With CONFIG_FPU_SHARING (default mode if CONFIG_FPU used), this is automatic on context switch.

To see this, in `arch\arm\core\aarch32\thread.c`, set a breakpoint in `z_arm_thread_stack_info_adjust()` for line:
`thread->stack_info.start +=`
					`FP_GUARD_EXTRA_SIZE;`

The system here saves 96 bytes. If `tx_

[2022-04-21 00:31] #38632 closed

[2022-04-21 03:02] lachlansmith opened #45006 "Bluetooth HCI SPI fault"
**Describe the bug**
A clear and concise description of what the bug is.

I'm attempting to get the samples/bluetooth/hci_spi example working with my particle_argon board and encountering a usage fault. I believe it is coming from my overlay, however, I'm unsure how to verify if it is or if it's something else. Unforunately, I'm unable to use hci_uart due to the board I'm interfacing with.

**To R

[2022-04-21 03:39] lachlansmith commented on #45006
This overlay also produces the same fault.

[code]

[2022-04-21 04:06] lachlansmith commented on #45006
On a side note, building the sample using the ```nrf51dk_nrf51422``` board overflows.

[code]

[code]

[2022-04-21 05:04] lachlansmith commented on #45006
My west was behind, sample works fine

[2022-04-21 05:04] #45006 closed

[2022-04-21 06:19] huarunlin opened #45008 "esp32: i2c_read() error was returned successfully at the bus nack"
**Describe the bug**
I use i2c_read() to read slave data. After sending the slave address on the bus, if the slave does not reply to ack, i2c_read() error returns the read success.

**To Reproduce**
esp32.overlay
[code]
main.c
[code]

Steps to reproduce the behavior:
1. west build
2. west flash

**Logs and console output**
[code]
![image](https://user-images.githubusercontent.com/43947272/16438549

[2022-04-21 06:40] chen-png opened #45009 "twister: many tests failed with "mismatch error" after met a SerialException."
**Describe the bug**
When running twister on reel_board, if it met a serial.SerialException, all tests later will be failed with "mismatch error".

I found that in the monitor serial thread, **if met a serial exception, it would invoke ser.close() and the monitor thread would exit, then the current test A(i.e. kernel.mutex) would be judged as failed immediately, like output log as below**, it won'

[2022-04-21 07:05] FRASTM commented on #45009
Maybe similar to the https://github.com/zephyrproject-rtos/zephyr/issues/44539,

[2022-04-21 07:13] gopiotr commented on #44947
I understood. Thank you for your answer :)

[2022-04-21 07:31] jfischer-no commented on #26073
I am against forcing it for all drivers APIs.

[2022-04-21 07:33] shaoanxli opened #45012 "sam_e70b_xplained: failed to run test case tests/drivers/can/timing/drivers.can.timing"
**Describe the bug**
The test case failed after commit id: 5961ad2af8f3<Assertion failed at WEST_TOPDIR/zephyr/tests/drivers/can/timing/src/main.c:194: test_timing_values: (sp_err >= 0 is false)>.The root cause is not clear yet.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. west build -p always -b sam_e70b_xplained tests/drivers/can/timing
3. Open another terminal a

[2022-04-21 08:34] Thalley commented on #44998
@lairdjm Can you please provide instructions on how to reproduce?

[2022-04-21 08:36] Thalley commented on #44931
I can reproduce it here with just setting `CONFIG_FPU=y`. Some other people are seeing related issues with ISO, so may be a memory corruption somewhere, and not actually a stack overflow.

We'll keep investigating :)

Ping @cvinayak

[2022-04-21 09:02] lairdjm commented on #44998
Build `cmake -GNinja -DBOARD=nrf52840dk_nrf52840 -DOVERLAY_CONFIG="overlay-shell.conf;overlay-shell-mgmt.conf" -DCONFIG_MCUMGR_CMD_IMG_MGMT=n -DCONFIG_IMG_MANAGER=n -DCONFIG_MCUBOOT_BOOTUTIL_LIB=n -DCONFIG_BOOTLOADER_MCUBOOT=n -DCONFIG_USE_DT_CODE_PARTITION=n -DCONFIG_ROM_START_OFFSET=0x0 -DCONFIG_FLASH_LOAD_OFFSET=0x0 -DCONFIG_MCUMGR_CMD_FS_MGMT=n -DCONFIG_MCUMGR_SMP_BT=y -DCONFIG_MCUMGR_SMP_BT_A

[2022-04-21 09:29] oyvindronningstad commented on #44997
cc @de-nordic

[2022-04-21 09:34] oyvindronningstad commented on #44997
@lairdjm I cannot reproduce. Which board are you using? Can you confirm that you are trying to build `samples/subsys/mgmt/mcumgr/smp_svr/`?

[2022-04-21 09:39] lairdjm commented on #44997
I can't remember the exact command or board I was building for yesterday but I'm able to reproduce it with `cmake -GNinja -DBOARD=nrf52840dk_nrf52840 -DOVERLAY_CONFIG="overlay-shell.conf;overlay-shell-mgmt.conf" -DCONFIG_ZCBOR_VERBOSE=y ..` whatever command I was using yesterday, it was being enabled by default and I had to disable it using menuconfig.

[2022-04-21 09:46] oyvindronningstad commented on #44997
Thanks, I can reproduce it if I enable ZCBOR_VERBOSE explicitly.

It seems `zephyr/lib/libc/minimal/include/inttypes.h` is missing `PRIuFAST32` and `PRIxFAST32`.

[2022-04-21 09:54] Thalley commented on #44621
@MariuszSkamra Correct me if I am wrong, but isn't the issue here that the ASE ends up in the `BT_AUDIO_EP_STATE_RELEASING` state, and then never transitions from that state to the `BT_AUDIO_EP_STATE_IDLE` state?

I think that `static void ase_process(struct k_work *work)` was supposed to handle that with

[code]

But either `ase_process` is not called correctly, or `ase->ep.stream` does not becom

[2022-04-21 10:19] henrikbrixandersen commented on #42030
@erwango First step in solving this: #45014

[2022-04-21 11:00] #44985 closed

[2022-04-21 11:00] #44837 closed

[2022-04-21 11:21] carlescufi commented on #44701
Closing as per comment above, please reopen if you still see the issue.

[2022-04-21 11:21] #44701 closed

[2022-04-21 11:23] carlescufi commented on #44734
Fixed by #44648

[2022-04-21 11:23] #44734 closed

[2022-04-21 11:23] carlescufi commented on #44913
This is an nRF Connect SDK issue as mentioned by @cvinayak.

[2022-04-21 11:23] #44913 closed

[2022-04-21 11:34] Thalley commented on #44931
@carlst Added a PR to increase the default TX stack size

[2022-04-21 11:57] CodingGhost commented on #44701
I just tested it, but the Problem did not change. I currently cannot test on the latest upstream due to some complications with our setup, but I am still on the LTS I guess? its v20701.

[2022-04-21 12:07] henrikbrixandersen commented on #42030
@erwango Second step in solving this: #44951

More to follow.

[2022-04-21 12:19] asbjornsabo commented on #44579
The issue seems to be somehow related to the ATT MTU size or the ATT MTU exchange.

The discovery shell command started failing after commit 6eafc64855192fba71b43a95ce85f12c3d5e1b24  Bluetooth: audio: Enable auto ATT MTU Exchange for BASS and unicast client

For the commit before this the discovery command succeeds.  But it fails if "gatt exchange-mtu" is done before the discovery.

The BabbleSim

[2022-04-21 12:27] CodingGhost commented on #44701
CONFIG_BT_MAX_CONN=2

[2022-04-21 12:29] Thalley commented on #44579
Correct.

With a larger MTU, we get more characteristics in a single discovery GATT command response, thus triggering more subscribe requests while handling the discovery response.

The quick workaround for this is to increase the number of TX buffers to the number of characteristics we'll subscribe to (expensive, and will still cause issues if e.g. doing any other discovery procedure or GATT proc

[2022-04-21 12:39] benediktibk opened #45021 "Configurable SDMMC bus width for STM32"
**Is your enhancement proposal related to a problem? Please describe.**
I have a pretty bad disk access performance on a STM32H7 due to only one out of 4 bus lines being used.

**Describe the solution you'd like**
I would like to use all 4 bus lines.

**Describe alternatives you've considered**
None really available, besides not using the zephyr driver and doing it manually.

[2022-04-21 13:57] hunterhu3000 commented on #43838
On mec172xevb_assy6906, the test of adc_dma is similar to adc_api. So testing the adc_api is enough. No need to test adc_dma.

[2022-04-21 13:57] #43838 closed

[2022-04-21 15:06] jachatzi opened #45031 "Make NVS support sector sizes larger than 64k"
**Is your enhancement proposal related to a problem? Please describe.**
I'm working with an STM32H7 with 128k sectors and I'd like to use the settings module with the NVS as backend (as proposed in the documentation of the flash circular buffer). However this does not work, as NVS does not support sector sizes that large.

**Describe the solution you'd like**
I'd like to have NVS support larger se

[2022-04-21 15:08] cvinayak commented on #44701
ok, that does not explain the error. Advertising Extensions support is experimental in v2.7, you should try the latest upstream which had many changes/fixes.

[2022-04-21 15:55] peter-mitsis opened #45033 "Allow kernel objects to specify a "cleanup" handler to be executed on behalf of pended threads that timeout"
**Is your enhancement proposal related to a problem? Please describe.**
Some threads, after they time-out from waiting on a kernel object require some cleanup work to be done on the kernel object. Rather than being done immediately, this is typically only be done once that thread has been scheduled to execute.  This may result in suboptimal behavior or system performance until that is done.

One e

[2022-04-21 15:58] peter-mitsis commented on #44659
Fixed by PR #44810

[2022-04-21 15:58] #44659 closed

[2022-04-21 17:39] gopiotr commented on #44539
@FRASTM are you satisfied with introduced solutions (add `RunID` verification and option `--disable-suite-name-check`)? Is it acceptable to you to run tests with permanently added option `--disable-suite-name-check`?

Is it enough for you? To be honest I don't have any idea what else can be done in this situation. Especially that when I ask you for run Twister with `--west-flash="--erase"` option

[2022-04-21 18:16] carlst commented on #44931
Yes, that could be.

One other item: in addition to space for FP register storage (96B in this case), there appears to be a stack guard region defined in:
`arch\arm\core\aarch32\mpu\arm_core_mpu.c`, `z_arm_configure_dynamic_mpu_regions()`.

If `CONFIG_FPU=n`, it is 32B.
If `CONFIG_FPU=y`, it is 128B.

[2022-04-21 19:24] Laczen commented on #45031
@jachatzi, the reason a uint16_t is used is to keep the ate size small, the ate contains the starting address of the data. Increasing the sector size will therefore break compatibility with existing nvs systems.

For the STM32H7 with 128kB sectors there are other reasons why this is not a good fit with nvs:
a. The minimum write block size is 256 byte (266 with ecc) and as each write will require a

[2022-04-21 21:52] henrikbrixandersen commented on #29394
I have started work on adding support for the ESP32 CAN controller.

[2022-04-21 22:17] carlst opened #45039 "Bluetooth: Controller: Broadcast multiple BIS (broadcast ISO streams)"
**Is your enhancement proposal related to a problem? Please describe.**
The core architecture supports broadcasting multiple BIS (e.g. transmitting stereo audio or multiple language audio).

**Describe the solution you'd like**
Would like to transmit (audio over) multiple BIS using one BIG.

**Additional context**
The host and controller appear to contain the logic required for multiple BIS, howev

[2022-04-21 22:28] danieldegrasse opened #45040 "Update checkpatch to fail on C99 comments in DTS files"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, `checkpatch` will succeed when run against a patch that includes C99 style `// ` comments in DTS files. Since the Zephyr coding convention generally prohibits C99 style comments, checkpatch should fail when run against a patch with this comment style.

**Describe the solution you'd like**
When a patch includes C99 c

[2022-04-22 00:10] edersondisouza commented on #44925
Hi @LixinGuoX ,

You mention that this issue is sporadic ("it may stuck"). How frequent is that? I tried running your command a few times using latest main, and while I got some issues in the "intel_adsp/smoke" ones, none of them was a hang that prevented any further tests from running.

Do you have other examples of this issue?

[2022-04-22 02:20] chen-png commented on #45009
No, but this is not related to this option.

[2022-04-22 02:32] keqiaozhang opened #45044 "cavstool: add a new option to dump contents to the specified file"
**Is your enhancement proposal related to a problem? Please describe.**
We are switching to use the cavstool.py to dump the mailbox or DMA trace contents, we want to save the trace to a specified file for debugging propose.  It would be great if there was an option to dump the contents to a specified file.

**Describe the solution you'd like**
$ cavstool.py -l -o outfile

**Describe alternatives y

[2022-04-22 02:32] smrtos commented on #43828
(more details)

There are 2 test sets:

<details>
<summary>Test Set 1</summary>

- boards.intel_adsp : boards.intel_adsp.host_ipc
- boards.intel_adsp : boards.intel_adsp.clock_calibrate
- boards.intel_adsp : boards.intel_adsp.ipm_cavs_host

</details>

<details>
<summary>Test Set 2</summary>

-  drivers.dma.chan_blen_transfer.dma_m2m_chan1_burst8
-  drivers.sensor.generic.sensor_unit_conversion
-

[2022-04-22 03:21] povergoing commented on #43852
Hi @stephanosio @carlocaione,
Update here: the FVP_BaseR_AEMv8R on [page ](https://developer.arm.com/tools-and-software/simulation-models/fixed-virtual-platforms/arm-ecosystem-models) can download without any logins or registers.

The tricky part is how we avoid redistribution? That means the docker file should not contain the fvp bins (since anyone can easily get the docker image). Can we downloa

[2022-04-22 03:28] hunterhu3000 opened #45045 "mec172xevb_assy6906: tests/arch/arm/arm_irq_vector_table failed to run"
**Describe the bug**
Failed to run the test case of tests/arch/arm/arm_irq_vector_table

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? -> mec172xevb_assy6906
 - What have you tried to diagnose or workaround this issue? Do the same thing on MEC15, it can pass

**To Reproduce**
Steps to reproduce the behavi

[2022-04-22 06:27] LixinGuoX commented on #44925
Yes, that may be difficult to reproduce when running light-weight tests, for most of the time intel_adsp/smoke execute fail due to assertion failure. But if we run the whole tests directory, the reproducibility of hang is nearly 100%.
#43828 for reference, thanks.

[2022-04-22 07:43] #44931 closed

[2022-04-22 11:24] hjuul commented on #38548
Another update, because I think someone else will run into a similar problem later: The root cause of this seems to be speculative access on ARM Cortex-M7.

The Cortex-M7 may occasionally do speculative reads to any memory that is configured as Normal memory type. By default this includes the address space for the memory mapped QUADSPI.
When a speculative read is done within the address space of m

[2022-04-22 11:46] #42534 closed

[2022-04-22 11:57] jachatzi commented on #45031
@Laczen thanks for the prompt reply!

Couldn't we configure the max section size and thus ate size, such that it is backwards compatible, but still can be configured to be used with larger targets?
The minimum write block size of the H7 is, if I'm not mistaken, 256bits, not bytes.

Can you point me to some issue/discussion about that problem with the interrupted write on fcb which might lead to a

[2022-04-22 12:34] AndreyDodonov-EH commented on #23302
@jukkar
Probably wrong thread to ask, but is there a reason behind magic constant 3 ?
https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/ip/tcp.c#L1801

Because I observed that max window size is quite critical.
Actually not to get Data buffer allocation errors, I had to change that to 4, or define custom CONFIG_NET_TCP_MAX_SEND_WINDOW_SIZE

Sorry if I'm missing something here

[2022-04-22 13:10] Laczen commented on #45031
This might be possible. Maybe a completely different approach is also possible where nvs would think that it has a smaller sector size and calls the gc over a multiple of sectors (need to think about that...).

Correct it is bits, not byte. An ate uses 8 byte, so 24 byte are lost for each ate.

As said I have no knowledge of someone ever running into this. The problem is that fcb writes the length

[2022-04-22 14:15] alwa-nordic opened #45072 "[Coverity CID: 248346] Copy into fixed size buffer in /subsys/bluetooth/shell/bt.c"
Static code scan issues seen in File: /subsys/bluetooth/shell/bt.c
Category: Copy into fixed size buffer
Function: cmd_scan_filter_set_addr
Component: Bluetooth
CID: 248346
Please fix or provide comments to square it off in Coverity in the link: https://scan9.scan.coverity.com/reports.htm#v45144/p12996/fileInstanceId=90886360&defectInstanceId=8695719&mergedDefectId=248346

[2022-04-22 14:55] cfriedt opened #45073 "nucleo_h743zi failing twister builds due to NOCACHE_MEMORY warning"
**Describe the bug**
Twister is currently failing on a number of network-related tests involving `nucleo_h743zi`.

Please also mention any information which could help others to understand
the problem you're facing:
 - **What target platform are you using?** Twister (CI)
 - **What have you tried to diagnose or workaround this issue?** looked at error output

**To Reproduce**
Steps to reproduce the

[2022-04-22 15:09] #44977 closed

[2022-04-22 16:08] cfriedt commented on #24685
Visibility:
- it is non-portable (i.e. visibility works with elf-targets only)

AMP:
- are different OSes being run or just different applications?
- can't this be achieved just running separate processes?

Non-host libc:
- in general, there are no problems running a non-host libc
- 1 exception I have seen is calling `fcntl()` from within `uart_native_posix.c`
- I worked around this with `dlopen()

[2022-04-22 16:39] evenl commented on #44586
After some more testing, it seems like the bug may be located or related to the logging system. In my setup I am using the UART backen.

I have tried to run the device that usually fails within 15 - 20 seconds without logging (CONFIG_LOG=n) and it ran for 12 hours before I stopped it manually. Enabling logging again would make it fail within 15 -20 seconds as expected.

I am also running a test no

[2022-04-22 17:15] rftafas commented on #29394
ICYMI:
https://github.com/zephyrproject-rtos/hal_espressif/issues/97

[2022-04-22 18:33] #44670 closed

[2022-04-22 18:40] maximevince commented on #29394
Especially getting the device into deep sleep from a Zephyr application is the first major goal to getting to a viable battery powered device (talking multiple years on a primary battery cell). Thanks for the replies here, much appreciated!!

[2022-04-22 19:19] tony-bianco commented on #44143
Hi @keith-packard, @carlescufi, and @stephanosio. I apologize in advance if this isn't the right place to ask, but I didn't see a picolibc thread in the Zephyr discord server and don't have a email address ending in an acceptable domain to join the Zephyr slack channel. Anyhow, we at [Perceive](https://perceive.io/) are very excited about this work and would love to leverage it as soon as it becom

[2022-04-22 21:39] henrikbrixandersen commented on #45012
Thank you for reporting this. Please rerun the test with an updated main branch (needs https://github.com/zephyrproject-rtos/zephyr/commit/7a5116acb25a6ed2d729a0d9a051532c0f8d857e) and update the console output. I need to see the CAN core clock frequency.

[2022-04-22 21:54] attie-argentum commented on #44996
Intriguing - I'd love to hear more about it, not sure I'm fully following at the moment.

Thanks for looking in to it either way!

[2022-04-22 21:54] henrikbrixandersen commented on #45012
I solved a similar issue on another platform recently: https://github.com/zephyrproject-rtos/zephyr/issues/44985

[2022-04-22 22:27] keith-packard commented on #44143
You can test the current picolibc integration if you want to help validate whether this is ready for merging into Zephyr. That's available via either PR #44096 or in my zephyr repository https://github.com/keith-packard/zephyr/commits/picolibc-module

[2022-04-22 22:56] spekary commented on #38900
It seems strange to me that the gpio interrupt handler has no way of reliably querying what pin caused the interrupt, nor what edge (rising or falling) triggered it, and therefore cannot query the value of the pin. The only way to do it is to create a separate handler for each pin, rather than sharing the handlers. The fact that the handler sends the pin mask of all the pins that might trigger the

[2022-04-23 00:30] #42535 closed

[2022-04-23 00:30] #39948 closed

[2022-04-23 00:30] #33876 closed

[2022-04-23 00:47] cvinayak commented on #44701
Multiple advertising sets with legacy and extended advertising seems to work, check this chat snippet answered by @Thalley

![image](https://user-images.githubusercontent.com/6350656/164840203-507c6097-a005-498d-919a-8cb1baca9f3c.png)

[2022-04-23 05:55] cdrx commented on #33876
I think this is still an issue.

@sylvioalves could this be reopened please?

[2022-04-23 10:32] helo9 opened #45089 "stm32: usart: rx pin inversion missing"
**Is your enhancement proposal related to a problem? Please describe.**
SBUS is a common serial protocol in radio control that uses inverted logic (1=L, 0=H).

**Describe the solution you'd like**
STM32 can natively support this, by setting pin `RXINV` in `USART_CR2` for many chips. Therefore I would add this option
to the devicetree bindings and the API.

**Describe alternatives you've considered

[2022-04-23 20:17] romainreignier opened #45094 "stm32: Add USB HS device support to STM32H747"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
I would like to add support for the Arduino Portenta H7 board in Zephyr, but I am new to Zephyr.
Adding a new dts seemed doable but some more changes are needed like the support of USB High Speed for the stm32h474.

**Describe why you are asking for this support?**
I am new to

[2022-04-24 01:12] shaoanxli commented on #45012
I ran the can.timing on main branch(https://github.com/zephyrproject-rtos/zephyr/commit/7a5116acb25a6ed2d729a0d9a051532c0f8d857e) ,and the console output was as follow :

[code]

[2022-04-24 02:19] stephanosio commented on #43852
Thanks for the update.

While that should work, doing so would incur a significant amount of traffic to the ARM website and also, more importantly, will slow down the CI depending on the file provider server load.

I think the best way to handle this would be to create a private CI Docker image, based on the public one, that is only available to the authenticated Zephyr CI runners (and of course,

[2022-04-24 05:30] povergoing commented on #43852
Agreed, looks like it is the best way. So, is there anything we can help with? :)

[2022-04-24 08:12] stephanosio commented on #43852
I will implement a proof-of-concept this week and let you know if there are any issues. Thanks.

[2022-04-24 13:32] stephanosio commented on #43852
Test CI run using a private CI docker image that contains ARM FVP: https://github.com/zephyrproject-rtos/zephyr-testing/actions/runs/2215429286

[2022-04-24 13:57] aescolar commented on #24685
@cfriedt
About visibility, even if we wanted to support other than elf (which we don't today), you can see there is two proposals. The one with static linking does not rely on hidden symbols at runtime, but local symbols to each library at link time.
About your AMP question (note that it is a separate topic. This proposed change enables the use case to some degree, but would require further change

[2022-04-24 14:43] stephanosio commented on #43852
@povergoing Testing with the latest ARM FVP available on the website, I am seeing a lot of failures:

* fvp_baser_aemv8r: [3 failures](https://gist.github.com/stephanosio/4eea54d6b48d83c3efa60bbf7d65ab42)
    * [samples/subsys/tracing/tracing.user: Timeout](https://gist.github.com/stephanosio/4eea54d6b48d83c3efa60bbf7d65ab42#file-gistfile1-txt-L6)
    * [tests/kernel/threads/thread_apis/kernel.thr

[2022-04-24 16:59] cfriedt opened #45100 "Allow CONFIG_POSIX_API on CONFIG_ARCH_POSIX"
**Is your enhancement proposal related to a problem? Please describe.**
Problem:
1. `CONFIG_ARCH_POSIX` and `CONFIG_POSIX_API` should not be mutually exclusive
1. the POSIX arch should provide a scalable, portable, and maintainable abstraction layer

Intent:
With the POSIX arch, we want to abstract away the host OS system calls (and parts of the system C library) in order to
1. efficiently test Ze

[2022-04-24 20:50] crides commented on #44349
So, the problem is resolved.. The cause is that an [application stack size](https://github.com/crides/zmk/blob/fissure/app/src/split/bluetooth/service.c#L103) [is set too low](https://github.com/crides/zmk/blob/fissure/app/Kconfig#L193), basically throwing the BLE stack stuff into the void.

Now my question would be, is there any related debugging/error reporting utility related to this? If Zephyr

[2022-04-24 20:50] #44349 closed

[2022-04-24 23:03] rivimey commented on #44704
I think I may have the same problem. Asked Q on Discord: https://discord.com/channels/720317445772017664/938474761405726800/967870175351275521
I'm using MacOS not windows. As for whether I installed it right, at this point I don't know! It's been so complicated to figure out all the bits&pieces.

[2022-04-25 01:36] povergoing commented on #43852
Amazing work, I didn't expect you have done it so quickly 🥇

I see the failures. @SgrrZhf  and I will fix them as soon as possible.

May I ask if those failures will block the CI or something for others? Can we see the results if we push a PR for fixing them in the GitHub action?

[2022-04-25 06:05] GuptaAshi-Eaton commented on #1495
Is newlibc library supported for ESP32 in Zephyr ?

[2022-04-25 06:37] shaoanxli commented on #45012
I have a question about can timing.I see that the datasheet of sam_e70b_xplained recommends that the can controller use pck5. Why the driver here only has three clock source options?

[2022-04-25 07:45] FRASTM commented on #45089
That could be an USART  _option flag_ like it is done withthe PWM_STM32_COMPLEMENTARY by the https://github.com/zephyrproject-rtos/zephyr)/include/zephyr/dt-bindings/pwm/stm32_pwm.h

[2022-04-25 08:15] stephanosio commented on #43852
@povergoing We can merge #45099 after these failures are fixed.

You can try opening a PR with the fixes to [`zephyr-testing`](https://github.com/zephyrproject-rtos/zephyr-testing) to see if they pass.

[2022-04-25 08:22] povergoing commented on #43852
understood, thanks!

[2022-04-25 08:29] Zhaoningx opened #45105 "ACRN: failed to run testcase tests/kernel/fifo/fifo_timeout/"
Describe the bug

Failed to run the test case tests/kernel/fifo/fifo_timeout/.

To Reproduce
twister -p acrn_ehl_crb --device-testing -T tests/kernel/fifo/fifo_timeout/  --device-serial-pty="/opt/remotehw/acrn-test-pty.exp,ehlsku11-2" --west-flash="/opt/remotehw/remotehw-x86-acrn.sh,ehlsku11-2" -vv

Logs and console output

[code]

Environment (please complete the following information):

OS: Linu

[2022-04-25 08:50] aescolar commented on #45100
For background, this topic was discussed, between others, here: #13054, and the PR that disabled the combination was #13540

About the purposes of native_posix: those are listed in the documentation. The "_run Zephyr inside of a POSIX process in a production system (†)_" is *not* one, and I very strongly discourage it for several reasons. @cfriedt, please, remove that from the description as that

[2022-04-25 08:51] Zhaoningx commented on #45105
I did some changes to debug this issue,
[code]
the log:
[code]
I find that the spent time is more than or equal to the timeout value of 20ms, So I guess this is due to it's not having enough time to wait for the subthread to write data to the FIFO.

[2022-04-25 09:04] aescolar commented on #45100
CC @pfalcon @daor-oti

[2022-04-25 09:14] stephanosio opened #45108 "fvp_baser_aemv8r: multiple test failures"
**Describe the bug**
Multiple tests fail on `fvp_baser_aemv8r`:

* [samples/subsys/tracing/tracing.user: Timeout](https://gist.github.com/stephanosio/4eea54d6b48d83c3efa60bbf7d65ab42#file-gistfile1-txt-L6)
* [tests/kernel/threads/thread_apis/kernel.threads.apis: Timeout](https://gist.github.com/stephanosio/4eea54d6b48d83c3efa60bbf7d65ab42#file-gistfile1-txt-L25)
* [tests/kernel/mem_protect/syscall

[2022-04-25 09:17] stephanosio opened #45110 "fvp_baser_aemv8r_smp: multiple test failures"
**Describe the bug**

Multiple tests fail on `fvp_baser_aemv8r_smp`.

* fvp_baser_aemv8r_smp: [37 failures](https://gist.github.com/stephanosio/581d40cacc81a569beb56d429956fb61)
    * tests/kernel/smp/kernel.multiprocessing.smp: Timeout
    * samples/userspace/shared_mem/sample.kernel.memory_protection.shared_mem: Timeout
    * samples/userspace/hello_world_user/sample.helloworld: Timeout
    * te

[2022-04-25 09:19] stephanosio opened #45111 "fvp_base_revc_2xaemv8a: multiple test failures"
**Describe the bug**

Multiple tests fail for `fvp_base_revc_2xaemv8a`.

* fvp_base_revc_2xaemv8a: [3 failures](https://gist.github.com/stephanosio/8393439c0c7f85837034130f73ef8595)
    * [tests/ztest/error_hook/testing.ztest.error_hook: Failed](https://gist.github.com/stephanosio/8393439c0c7f85837034130f73ef8595#file-gistfile1-txt-L7)
    * [tests/kernel/mem_protect/mem_map/kernel.memory_protecti

[2022-04-25 09:20] stephanosio commented on #43852
Filed bug reports for the failures reported in https://github.com/zephyrproject-rtos/zephyr/issues/43852#issuecomment-1107855478:

#45108
#45110
#45111

[2022-04-25 09:25] erwango commented on #45094
@romainreignier Adding USB HS to stm32h747 is doable but this will allow its usage in Zephyr application, it won't have any effect on bootloading.

[2022-04-25 09:27] erwango commented on #45089
@helo9, Can you check if what you request is matching following feature which was merged recently ?https://github.com/zephyrproject-rtos/zephyr/pull/44487/

[2022-04-25 09:33] romainreignier commented on #45094
Yes, I know but to allow to automatically reboot the the bootloader to upload a new sketch, the detection of the switch to 1200 bauds is needed like on the sam0 platform.
A callback must be called when the baudrate is changed while usind cdc-acm.

25 avr. 2022 11:25:21 Erwan Gouriou ***@***.***>:

[2022-04-25 09:43] r2r0 opened #45112 "Cannot install watchdog timeout on STM32WB"
**Describe the bug**
iwdg_stm32_install_timeout does not return because it is stuck inside `while (LL_IWDG_IsReady(iwdg) == 0)` loop.
It looks like k_uptime_get_32 returns the same value for every call.

Please also mention any information which could help others to understand
the problem you're facing:
 - STM32WB55 clocked by PLL (based on HSE), with enabled tickless kernel (LPTIMER with LSE).
 -

[2022-04-25 10:37] cfriedt commented on #45100
@aescolar Thanks for the links - I'll add them to the summary.

I strongly discourage it as well. It has been suggested verbally in the past, which is why I mentioned it as a hypothetical.

Done.

I'll consider it. I would rather just solve this issue here and then allow the other PR to move forward.

I re-reviewed the static proposal and it still mentions "localizing hidden symbols (those not dec

[2022-04-25 10:39] manuja2000 opened #45114 "Sample net/sockets/echo not working with disco_l475_iot1"
**Describe the bug**
net/sockets/echo not working with disco_l475_iot1,[ accept() function](https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/net/sockets/echo/src/socket_echo.c#L61) not returning anything and no line is executing after it, but client which is running on linux gets connected.

**To Reproduce**
Steps to reproduce the behavior:

Access point/wifi connected with the IoT b

[2022-04-25 11:29] FRASTM commented on #45112
@r2r0  could you please check if PR #44989  helps

[2022-04-25 11:45] r2r0 commented on #45112
Thanks @FRASTM - in fact this PR removes the trigger of described problem.
After applying #44972 CPU leaves the while loop and the timeout hangout is avoided but it is still present.

[2022-04-25 14:04] ssharks opened #45117 "drivers: clock_control: clock_control_nrf"
**Bug description**
Using the NRF52832, I bumped in an issue that the device was not booting properly with a FW build using the NRF Connect SDK 1.9.1 in combination with MCUboot 1.1.0. With newer versions of MCUboot, build using the SDK 1.7.1 everything works fine.
The bootloader started the application image, but the application did not start. After a while the watchdog cause the device to reboot

[2022-04-25 14:18] aescolar commented on #45100
In the static case the output of the "pre-link" stage is an object file. Local symbols are just not global symbols, meaning `static int a;` in translation unit scope is a "local" symbol. The idea of that proposal is that the {Zephyr OS + embOS + app + possible embedded libC} (without the native_posix + SOC + arch) are pre-linked together, (calls to the arch, soc and board are left as unresolved, e

[2022-04-25 14:32] DerekSnell opened #45118 "Error claiming older doc is the latest"
**Describe the bug**
This is a documentation issue.  Googling for Zephyr docs frequently finds doc pages from older releases instead of the latest.  Most older pages have a note at the top linking to the latest version of that doc page.  But this older page claims it is the latest https://docs.zephyrproject.org/2.6.0/boards/arm/lpcxpresso55s69/doc/index.html.  It misleads the reader into thinking

[2022-04-25 17:39] warasilapm opened #45123 "driver: can_stm32fd: STM32U5 series support"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**

In most ways the current `"st,stm32-fdcan"` driver is ready to be used with the STM32U5 series of processors from ST, but there are a couple of small hiccups in its usage that I've had to address while setting it up on our board to test with. At the moment, I'm still trying t

[2022-04-25 18:07] helo9 commented on #45089
@erwango have seen those changes, but they do not exactly help me. Have already implemented a prototype of what I need: https://github.com/helo9/zephyr/commit/bd5c9e00fb2b1d8f17b693c4168bb4fa668cc88d

@FRASTM I thought about adding this to the `uart_stm32_init` and maybe the `uart_stm32_configure` functions.

I'll open a PR with my branch, so we can discuss it there.

[2022-04-26 00:30] #41472 closed

[2022-04-26 02:03] hunterhu3000 commented on #44887
@carlescufi Could you please change the label from Microchip to ITE? I made a typo in the issue title. The issue is only seen on ITE. Thanks.

[2022-04-26 07:00] #45111 closed

[2022-04-26 07:00] #43851 closed

[2022-04-26 07:50] erwango commented on #45123
Thanks for sharing this.

1- Looking to the device tree snippet submitted. It looks like the interrupt number provided are not correct. Please have a try with:
[code]

2- Indeed, there are changes ahead regarding clock selection, but until this is merged, just follow the current scheme.

3- Good observation, I hope we should be able to get rid of this once #42097 and follow ups are merged.

[2022-04-26 08:08] CarloWM opened #45129 "mimxrt1050_evk: GPIO button pushed only once"
**Is your enhancement proposal related to a problem? Please describe.**
the GPIO button can only be pushed once. than it fails to push again. this is because in the DTS the up function is missing

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button_0 {
			label = "User SW8";
			gpios = <&gpio5 0 GPIO_ACTIVE_LOW>;
		};
	};

**Describe the solution you'd like**
change gpios from only GPIO

[2022-04-26 08:10] XavierChapron commented on #44834
Closed by https://github.com/zephyrproject-rtos/zephyr/pull/44987

[2022-04-26 08:10] #44834 closed

[2022-04-26 08:10] erwango commented on #44539
It works, thanks.

Though, this raises an issue to integrate this in the bench as we're also running V2.7.x branch tests on our bench.
And on a v2.7.x branch, this prevents twister to run.

How to deal with this? I can see 2 solutions for now:
- Patch the bench to detect which version is being tested (based VERSION file)
- Get twister v2.7.0 not to fail on this option and just discard it.

Other i

[2022-04-26 08:22] Thalley opened #45130 "LE Audio: Allow set sizes of 1"
**Is your enhancement proposal related to a problem? Please describe.**
Erratum https://www.bluetooth.org/errata/errata_view.cfm?errata_id=17007 has been approved which changes the minimum CSIS set size to 1 from 2.

**Describe the solution you'd like**
`BT_CSIS_MINIMUM_SET_SIZE` should be updated to be 1 instead of 2.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-04-26 09:04] Thalley commented on #44738
For the server side, you can see the way CSIS is handled with CAP in https://github.com/zephyrproject-rtos/zephyr/pull/44522

[2022-04-26 09:35] #44546 closed

[2022-04-26 09:54] fkokosinski commented on #44856
Thanks for reporting this issue. I'm looking into it.

[2022-04-26 10:02] AndreyDodonov-EH commented on #25046
@vla3913
First of all, thanks a lot for a very relevant enhancemt proposal!

Was there any reason to choose s2opc implementation over [open62541 ](https://github.com/open62541/open62541)?

[2022-04-26 10:41] jukkar commented on #23302
No specific reason, just a somewhat reasonable value when the code was written. If you find value 4 more suitable, please send a PR that changes it.

[2022-04-26 11:01] LeeNuss opened #45139 "Extend sensor API by new sensor_read function"
## Problem description

The current sensor API does not allow for the distinction between a sensor that is explicitly sampled by Zephyr (e.g. a simple temperature sensor that allows Zephyr to simple read back the current temperature) and a sensor that manages sampling itself (e.g. an IMU that has an internal sample clock and writes samples to an internal FIFO). In the latter case, it is not possib

[2022-04-26 12:46] rlubos commented on #44449
So the crash seesm to be caused by the SLIP driver (or rather underlying uart_pipe) which tries to make use of undefined UART devcie (uart_pipe tries to read the device name from DTS, but it's not defined for qemu_riscv32).

Anyway, it seems that this platform is not capable for emulated networking at the moment. It only seems to have a single UART device, while we need at least 2 if we want to ha

[2022-04-26 14:21] bbilas commented on #44956
@henrikbrixandersen Should this issue be still opened since https://github.com/zephyrproject-rtos/zephyr/pull/39338 is already merged?

[2022-04-26 14:46] DerekSnell commented on #45118
That was fast, thanks @nashif !

[2022-04-26 14:46] #45118 closed

[2022-04-26 15:38] ballanor commented on #44783
Hello everyone.
I'm facing the same issue but, maybe, with a different use case.
I'm basically working with an external SPI NOR Flash.
Everything is working fine on M7 core, but, wehen I try to switch to M4 core, the driver throws an exception as suggested by @FRASTM in https://github.com/zephyrproject-rtos/zephyr/issues/44783#issuecomment-1096266036

If I comment out:
[code]
everything is work as

[2022-04-26 16:06] #45073 closed

[2022-04-26 18:51] henrikbrixandersen commented on #44956
No, it should be closed. Thanks.

[2022-04-26 18:51] #44956 closed

[2022-04-26 20:03] henrikbrixandersen commented on #38900
This is a typical limitation of the underlying hardware.

[2022-04-26 20:42] spekary commented on #38900
Seems like a limitation of Zephyr. Zephyr already associates a callback and data structure with a pin, and then lets you configure how the callback is triggered, as in which edge triggers it. Seems like it would not be too difficult to save some of this information in the callback data structure and return it to the handler, since the callback data and the pins are already returned. Recording the

[2022-04-26 21:33] dcpleung opened #45152 "`tests/subsys/logging/log_stack` times out on `qemu_arc_hs6x` with twister"
**Describe the bug**
When running twister, `tests/subsys/logging/log_stack` times out on `qemu_arc_hs6x` after commit from PR #44562:

[code]

Note that all the timed out tests actually ran successfully according to their corresponding `handler.log`.

**To Reproduce**
Steps to reproduce the behavior:
1. `./scripts/twister -T tests/subsys/logging/log_stack/ -p qemu_arc_hs6x`

**Expected behavior**

[2022-04-26 22:55] #45152 closed

[2022-04-27 00:13] edersondisouza commented on #44925
No luck either, still couldn't reproduce it =/

Do you have another system to test this issue? Just to exclude some faulty hw, environment, etc.

[2022-04-27 02:12] #45108 closed

[2022-04-27 02:18] ck-telecom commented on #38900
Could Zephyr try to save context and pass each pin handler?

[2022-04-27 02:41] Cherish-Gww opened #45155 "STM32 serial port asynchronous initialization TX DMA channel error"
https://github.com/zephyrproject-rtos/zephyr/blob/3b56fdcceca9f4a9370aac7a1757206abcb821d9/drivers/serial/uart_stm32.c#L1413

[2022-04-27 02:54] spekary commented on #38900
That should be really easy with a user data field in the callback data. Maybe a void*? Just annotate that the data can't be on the stack.

[2022-04-27 04:03] keith-packard opened #45157 "cmake: Use of -ffreestanding disables many useful optimizations and compiler warnings"
Zephyr unconditionally enables the C compiler flag -ffreestanding which is only necessary when the environment does not include the standard C library. This may be necessary when using the minimal C library, but it's not helpful when using a POSIX compatible C library such as newlib or picolibc.

Not only does -freestanding disable many builtin functions, it also disables compile-time warnings abo

[2022-04-27 04:10] stephanosio commented on #45155
Please file the bug report based on the template.

[2022-04-27 04:10] #45155 closed

[2022-04-27 07:03] FRASTM commented on #45112
When you build the samples/subsys/task_wdt with `CONFIG_WDT_DISABLE_AT_BOOT=n`
(by default in the prj.conf  the CONFIG_WDT_DISABLE_AT_BOOT is 'y')
the timeout is installed during the initialisation of the device, with the same sequence as in _install_timeout_

[2022-04-27 07:26] vla3913 commented on #25046
@AndreyDodonov-EH Thanks !
I think S2OPC and Zephyr share common objectives such as safety and cybersecurity certification so it really make sense to bind the two products.
However, as my team and myself are S2OPC maintainers, my opinion cannot be called truly objective ;-).

[2022-04-27 07:49] AndreyDodonov-EH commented on #23302
I don't think it makes sense to open PR with another magic constant, at the very least with KConfig flag.

It worked for me, yes, but I'd like to understand the meaning behind it. Ideally this coefficient should be calculated.

[2022-04-27 11:18] cvinayak commented on #34600
@alwa-nordic is following up on possible solutions.

[2022-04-27 11:23] cvinayak commented on #41822
@rlubos If the solution is restricted due to RAM requirement, could you mark this as a known issue?

[2022-04-27 11:25] wojciechslenska commented on #39347
Hello,
I observed this problem after upgrade of Ubuntu from 20.04 to 22.04. In tests I used static_obs example from this thread. Only change is that C++ is set to 17 instead of 20.

Ubuntu 20.04 GCC 9.4 -> works perfect
[code]

Ubuntu 22.04 GCC 11.2 -> ctors are not executed
[code]
When I compiled and run this as normal application constructors works properly.
[code]

[2022-04-27 11:26] cvinayak commented on #42520
Bluetooth team is not currently looking into this, @asbjornsabo is free to take up.

[2022-04-27 11:27] cvinayak commented on #43097
@MariuszSkamra are you planning to work on this soon?

[2022-04-27 11:28] cvinayak commented on #43246
@LingaoM  and @Thalley have you had any progress here?

[2022-04-27 11:31] cvinayak commented on #43248
@PavelVPV did you get to investigate the reasons why HCI Commands did not go through causing the k_sem_take timeout assertion?

[2022-04-27 12:20] henrikbrixandersen commented on #38900
This can already be done using the existing GPIO API. Please see the exception mentioned in https://docs.zephyrproject.org/latest/develop/api/design_guidelines.html#using-callbacks.

[2022-04-27 12:32] PavelVPV commented on #43248
@cvinayak No, I didn't

[2022-04-27 14:06] marc-hb commented on #45044
@keqiaozhang why is file redirection not enough?

[2022-04-27 14:07] nashif commented on #45044
please submit a PR, this is a small change to the script.

[2022-04-27 14:39] asbjornsabo opened #45172 "Bluetooth: attr->user_data is NULL when doing discovery with BT_GATT_DISCOVER_ATTRIBUTE"
**Describe the bug**
Changing the discovery type from BT_GATT_DISCOVER_CHARACTERISTIC to BT_GATT_DISCOVER_ATTRIBUTE results in the attr->user_data for discovered characteristics being NULL in the discovery callback.

A clear and concise description of what the bug is.
I have the following code in a discovery callback:
[code]

If the discovery is called with  BT_GATT_DISCOVER_CHARACTERISTIC, this g

[2022-04-27 15:52] stephanosio commented on #34256
Didn't realise this existed.

Although #43852 came later, I will close this since most of the discussions happened there.

[2022-04-27 15:52] #34256 closed

[2022-04-27 15:52] stephanosio commented on #34256
Duplicate of #43852

[2022-04-27 19:12] Thalley commented on #45172
Useful addition from the `bt_gatt_discover_func_t` documentation:

[code]

The documentation states that it is `NULL` for descriptors, but should otherwise provide one of the above structs as the `user_data`

[2022-04-27 19:13] Thalley commented on #45172
Alternative way of reproducing it is also to simply use the bt shell and run `gatt discover` and output the `attr->user_data` value, as that also does discovery with `BT_GATT_DISCOVER_ATTRIBUTE`

[2022-04-27 19:49] Thalley commented on #43246
I have not looked more into this

[2022-04-27 21:29] palchak-google commented on #39347
The differing results with different toolchains points indicates that this likely has something to do with a change in libstdc++. For reference, I used the following toolchain and library to build for `native_posix`, `native_posix_64`, and native Linux (non-Zephyr) targets:

* gcc (Debian 11.2.0-16) 11.2.0
* libstdc++-11-dev:amd64 11.2.0-16
* libstdc++-11-dev:i386  11.2.0-16

These version are all

[2022-04-27 21:59] danieldegrasse opened #45182 "MCUBoot Usage Fault on RT1060 EVK"
**Describe the bug**
When flashing the MCUBoot bootloader (`mcuboot/boot/zephyr`), the bootloader encounters a usage fault and does not load a bootable image. Reproduced on zephyr-v3.0.0-3118-g82634eda93, with a RT1060 EVK

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk mcuboot/boot/zephyr
3. make
4. make flash
5. see usage fault

**Expec

[2022-04-28 02:42] smrtos commented on #43828
The Test Set 1 is failing for all cavs15/18/25 platforms now.

[2022-04-28 04:22] LixinGuoX opened #45185 "Intel CAVS: tests under tests/ztest/register/ are failing"
**Describe the bug**
testing.ztest.register.verify_execution failed due to assertion failure on multiple intel cavs platforms.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W -p intel_adsp_cavs25 --device-testing --device-serial-pty=$HOME/zephyrproject/zephyr/soc/xtensa/intel_adsp/tools/cavstwist.sh --west-flash=$HOME/zephyrproject/zephyr/soc/xtensa/intel_adsp/tools/cavstwist.sh -

[2022-04-28 04:26] AmPaschal commented on #26038
Hi,

While the issue #3689 is still open, it says llvm currently works with the board set to native_posix. But when I try this, I still run into this same error specified here.

[2022-04-28 05:19] LixinGuoX commented on #44925
I am sorry to tell you that I have tried on another cavs25 board, this issue happens again. I ran the `tests/boards/intel_adsp/smoke/` for several times and it hung as expected, then tests like `tests/crypto/tinycrypt/` which should pass in normal state failed due to timeout.
I am trying to get a list of tests that would be affected by the hung state of `tests/boards/intel_adsp/smoke/`

[2022-04-28 05:54] AmPaschal opened #45186 "Building Zephyr on Ubuntu fails when ZEPHYR_TOOLCHAIN_VARIANT is set to llvm"
**Describe the bug**
When trying to build zephyr on Ubuntu 20.04.3 LTS, with ZEPHYR_TOOLCHAIN_VARIANT set to llvm, build fails with error message

[code]

But Zephyr builds successfully with ZEPHYR_TOOLCHAIN_VARIANT set to zephyr

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? Ubuntu 20.04.3 LTS
 - What ha

[2022-04-28 06:01] marc-hb commented on #45044
There are various tricks to combine `sudo` + redirection, here's my favorite:

[code]

[2022-04-28 06:14] stephanosio commented on #45186
Can you post a full build log so we can better understand the problem?

[2022-04-28 06:50] shaoanxli opened #45189 "sam_e70b_xplained: failed to run test case tests/benchmarks/cmsis_dsp/basicmath"
**Describe the bug**
The test case failed after commit id: 900b6723e76897841888a18d20d710d7dfdbee7c <WEST_TOPDIR/zephyr/tests/benchmarks/cmsis_dsp/basicmath/... FAILED Timeout>.The same bug on frdm_k64f platform. The root cause is not clear yet.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. west build -p always -b sam_e70b_xplained  tests/benchmarks/cmsis_dsp/basicm

[2022-04-28 07:52] fkokosinski commented on #42854
Hi! Thanks for reporting this issue, we're looking into it.

[2022-04-28 10:10] stephanosio commented on #45189
Can you try on the latest main? The commit https://github.com/zephyrproject-rtos/zephyr/commit/900b6723e76897841888a18d20d710d7dfdbee7c has been reverted: https://github.com/zephyrproject-rtos/zephyr/commit/462b13e16e013a7c8e9c7187ca6a01b99c19494f

cc @yperess

[2022-04-28 10:46] keqiaozhang commented on #45044
Yes, we can use stdout redirection. Now I'm using '&>' for debugging.

[2022-04-28 11:07] cvinayak commented on #43248
@PavelVPV When you get a chance to work on this, please enable the HCI Debug logs on the host side to get the HCI opcode that is waiting.

[2022-04-28 11:15] cvinayak commented on #43440
@yajunzhi Could you provide the symptoms you are observing with the reported issue. Also, it will be helpful if you can provide a sample test application to reproduce the issues.

Also, if there is issue with `bt_acl_recv`, this should be a new github issue.

Closing this issue, until more details around reproducing the issue is provided, and feel free to reopen.

[2022-04-28 11:15] #43440 closed

[2022-04-28 11:23] cvinayak commented on #43465
@atoncetti Could you let us know the peer device that is advertising?

The raw data does not follow the AD Data format of lenght-type-value.

[2022-04-28 11:27] wojciechslenska commented on #39347
I made some more checks in Ubuntu 22.04, looks like constructors works properly only in GCC 9.
[code]
For any other GCC (10, 11, 12) from ubuntu 22.04 constructors are not executed. In this example I used 10, but 11 and 12 works exactly the same.
[code]
Exactly the same behavior I observed for `native_posix` and `native_posix_64`

Nevertheless current behavior, when constructors are not executed d

[2022-04-28 11:32] cvinayak commented on #43811
@jori-nordic could take a look into using a user work queue or pre-emptible threads to defer long duration operations/functions.

[2022-04-28 12:15] shaoanxli commented on #45189
I tried on the latest main. The test case ran pass.

[2022-04-28 12:18] #42434 closed

[2022-04-28 12:18] #42436 closed

[2022-04-28 12:18] #44621 closed

[2022-04-28 12:23] stephanosio commented on #45189
Thanks for confirming.

Closing this since the issue has been fixed by reverting the offending commit.

[2022-04-28 12:23] #45189 closed

[2022-04-28 12:24] michalsieron commented on #44478
Changed register offsets are not enough to make it work. You would also need to update timer init code:
[code]

That is because of different layout of data, when CSRs are 32-bit.
Those two registers are 4 bytes each, so with 8-bit CSR each of them requires 4 subregisters.
Each subregister is on address aligned to 4 bytes, that's why there was a loop writing one value spread over 4 subregisters.

W

[2022-04-28 13:05] kunoh commented on #45182
Hi, I'm getting a similar error on RT1050 EVKB QSPI

I: Starting bootloader
E: ***** USAGE FAULT *****
E:   Illegal use of the EPSR
E: r0/a1:  0x6000aa44  r1/a2:  0x800087e4  r2/a3:  0x800087d4
E: r3/a4:  0x00000040 r12/ip:  0x00000000 r14/lr:  0x60008b73
E:  xpsr:  0x60000000
E: Faulting instruction address (r15/pc): 0x00000040
E: >>> ZEPHYR FATAL ERROR 0: CPU exception on CPU 0
E: Current thread

[2022-04-28 13:28] oyvindronningstad opened #45209 "Minimal LIBC missing macros"
**Describe the bug**
Minimal LIBC is missing the macros PRIuFAST32, PRIxFAST32 and many related macros.

All macros on the form `PRI{d|i|o|u|x|X}{FAST|LEAST}{8|16|32|64}` are missing, as well as all macros starting with `SCN`

See #44997 for more information.

[2022-04-28 13:30] gopiotr commented on #44539
@erwango - I don't see any other way rather than modify Twister's command depend on Zephyr version (taken from VERSION file)

[2022-04-28 14:08] AmPaschal commented on #45186
(.venv) pamusuo@berlin:~/zephyrproject/zephyr$ west build -p auto -b native_posix samples/basic/blinky
-- west build: generating a build system
Loading Zephyr default modules (Zephyr base).
-- Application: /home/pamusuo/zephyrproject/zephyr/samples/basic/blinky
-- Found Python3: /home/pamusuo/zephyrproject/.venv/bin/python3 (found suitable exact version "3.8.10") found components: Interpreter
-- C

[2022-04-28 14:08] AmPaschal commented on #45186
@stephanosio Would this be helpful?
Please, let me know if there's any other data that's needed

[2022-04-28 14:18] #44997 closed

[2022-04-28 14:38] volodyaleo opened #45211 "settings - erase all feature"
**Describe the solution you'd like**
I suggest to introduce a function to erase all settings.

There are two issue examples:
- device factory reset
- failure repair

In both cases easier way is to erase whole storage and reboot.

[code]

or

[code]

The settings_erase_all may use functions bellow to make reliable full erase:
- nvs_clear
- fcb_clear
- fs_unlink

[2022-04-28 14:56] Laczen commented on #45211
@volodyaleo, thanks for this enhancement proposal.

I see one possible problem, what if your factory settings are stored in the settings backend?

[2022-04-28 15:14] #44539 closed

[2022-04-28 16:01] Asthachavda commented on #43757
Hi Ruibin,
We used your patch & we also got some what similar results. I am closed the issue. Thanks.

[2022-04-28 16:02] #43757 closed

[2022-04-28 16:19] danieldegrasse commented on #45129
@CarloWM verified this issue also exists on an RT1064- can you test the PR #45214 to ensure it fixes the issue for you?

[2022-04-28 16:20] danieldegrasse commented on #44672
@hakehuang This issue should be able to be closed since #45075 merged, correct?

[2022-04-28 16:21] danieldegrasse commented on #43830
@durinwinter Could you confirm if you were able to get this sample to work for you?

[2022-04-28 16:46] volodyaleo commented on #45211
@Laczen , thanks for quick answer.

The erase_all function pointer could be placed to custom backend structure. If somebody store factory settings in the backend he could also implement own erase_all function.

I had no issues with `settings_load()`. It was just an example. But I had issues with another sdk (not zephyr) key-value storage.

Such feature may be useful to keep device operable in unpr

[2022-04-28 17:05] edersondisouza commented on #44925
That's sad =/
Just to check, are you testing with latest main?

[2022-04-28 18:22] landonh12 opened #45218 "rddrone_fmuk66: I2C configuration incorrect"
@dleach02 @danieldegrasse I am submitting this issue for my own tracking, I do not expect you two to put much effort towards this at the moment. :)

**Describe the bug**
I2C bus on rddrone_fmuk66 is broken

I have a branch on a fork to NXPHoverGames/zephyr where I am trying to add support for on-board sensors in the rddrone_fmuk66 board.

When testing samples/bmm150 or samples/bme280, the initial

[2022-04-28 19:06] henrikbrixandersen opened #45219 "drivers: can: transceivers are initialized after controllers"
**Describe the bug**
The default initialization priority for the CAN transceiver drivers is set to 70. The CAN controllers have a default initialization priority of 50, but CAN controller drivers depend on the CAN transceivers.

**Expected behavior**
CAN transceiver drivers should be initialized prior to CAN controller drivers by default.

**Impact**
Users of the CAN transceiver drivers have to ma

[2022-04-28 19:35] albertofloyd opened #45222 "drivers: peci: user space handlers not building correctly"
**Describe the bug**
PECI subsystem cannot be enabled with USERSPACE feature
User handlers do not build correctly.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 - What have you tried to diagnose or workaround this issue?
 - ...

**To Reproduce**
Steps to reproduce the behavior:
1) cd samples/drivers/pec

[2022-04-28 20:20] andyross commented on #44872
Been playing with this still.  The fix (#45174) that merged yesterday got ahead of the rig needed to measure it, which I have working reasonable well now here: https://github.com/andyross/zephyr/tree/xtensa-idle-overhead-rig

This basically measures the time (in Xtensa CCOUNT cycles) needed to:

1. Suspend the currently running thread
2. Context switch into the idle thread
3. Handle an interrupt (

[2022-04-28 20:24] henrikbrixandersen commented on #45012
From the SAM E70 data sheet, page 1362:

![image](https://user-images.githubusercontent.com/1076226/165839311-56cd1abe-342f-42c4-ad9d-362f72edba26.png)

[2022-04-28 20:25] henrikbrixandersen commented on #45012
@shaoanxli I have created a partial, draft pull request for changing the CAN core clock source of the SAM CAN driver, but I do not have the hardware to test and finish it. See https://github.com/zephyrproject-rtos/zephyr/pull/45223

[2022-04-28 21:22] palchak-google commented on #39347
Commit https://github.com/zephyrproject-rtos/zephyr/commit/d10b46dc3be4492f5e7794c0a73c0e925d51c2ee addresses a defect in Zephyr reported in https://github.com/zephyrproject-rtos/zephyr/issues/39347. However, further investigation has revealed that https://github.com/zephyrproject-rtos/zephyr/commit/d10b46dc3be4492f5e7794c0a73c0e925d51c2ee does not correctly resolve the root cause of the issue. Ad

[2022-04-28 22:12] andyross commented on #43828
Amber poked me to come look at this one.  Indeed, I see this reliably now (though checking the dates, it's likely that there is another problem on the CI hardware).

But for the existing failure: this bisects to this patch which merged a few weeks back:

commit 5416abfe5f70 ("util: convert wait_for macro to uppercase")

A simple revert of that works, but as it involves other subsystems I can't sub

[2022-04-29 01:22] shaoanxli commented on #45012
I modified the code the same as https://github.com/zephyrproject-rtos/zephyr/pull/45223 ，but failed. The console output showed :
[code]

[2022-04-29 02:20] LixinGuoX commented on #44925
Yes, checked with latest main commit, this issue happens again.
And when get the hung state, rerun the smoke test, it will stuck at starting the second cpu `z_smp_start_cpu(2)`
[code]

[2022-04-29 02:51] #45185 closed

[2022-04-29 03:13] hakehuang commented on #44672
@danieldegrasse correct

[2022-04-29 03:13] #44672 closed

[2022-04-29 05:17] henrikbrixandersen commented on #45012
My guess is the UPLL clock is not enabled. Without having access to the hardware, it is difficult for me to debug this further.

[2022-04-29 05:35] cvinayak commented on #44349
@crides Thanks for following up and help resolve the issue. I do not think there is any runtime detection of the stack overflow other than SoC/Architecture supported `CONFIG_MPU_STACK_GUARD`, please check if this option catches your issue.

[2022-04-29 07:39] erwango opened #45226 "samples/drivers/led_pwm: Build failure"
**Describe the bug**
`samples/drivers/led_pwm` seems now broken.

`twister -T samples/drivers/led_pwm -n -p bl654_usb` generates build error:
[code]

[2022-04-29 08:25] stephanosio commented on #45226
Fixed by #45217

[2022-04-29 08:30] PerMac opened #45229 "sample: spi: bitbang: spi_bitbang sample has improper definition of its test"
**Describe the bug**

Sample for SPI bitbang (https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/drivers/spi_bitbang) has improper definition of its test in sample.yaml. It does not provide means to verify its correctness. I think there are 2 modifications needed:

1.) Add `harness: console and explicitly given regexes to look for in its sample.yaml (e.g. like https://github.com/zephyr

[2022-04-29 09:02] kunoh commented on #45182
Thank you @danieldegrasse, it works perfectly!

[2022-04-29 09:09] Thalley opened #45230 "Bluetooth: Host: Read maximum advertising data length"
**Is your enhancement proposal related to a problem? Please describe.**
The host is now capable of segmenting and sending up to 1650 octets for extended advertising, but the controller may not support such large values (based on `CONFIG_BT_CTLR_ADV_DATA_LEN_MAX`).

The host should read the maximum adverting data length and reject requests for values larger than the response when the application re

[2022-04-29 09:09] Thalley commented on #45230
ping @cvinayak @rugeGerritsen

[2022-04-29 09:12] rugeGerritsen commented on #45230
I guess we can set a low priority on this? We can rely on the controller returning an error code when setting too much data

[2022-04-29 09:13] Thalley commented on #45230
Aren't priorities for bugs only?

Should we expect the controller to do the checks if `CONFIG_BT_CTLR_PARAM_CHECK=n`?

[2022-04-29 09:16] rugeGerritsen commented on #45230
Good point. I was not aware of this configuration, and I see it is specific to BT_LL_SW_SPLIT. Disabling this configuration puts the controller in a non-qualifiable state. In either case it may be a good idea to add this functionality to the host as it improves the debugging experience

[2022-04-29 09:26] rustand2 commented on #1392
It does not help to have pyelftools.

pip install pyelftools
Requirement already satisfied: pyelftools in /home/USERNAME/zephyr/venv/lib/python3.10/site-packages (0.28)

make -j
[  1%] Built target version_h
[  3%] Built target parse_syscalls_target
[  6%] Built target syscall_list_h_target
[  6%] Generating include/generated/driver-validation.h
[  6%] Generating include/generated/kobj-types-enum.

[2022-04-29 09:29] rustand2 commented on #1392
I actually had to install it outside of the virtualenv also for make to find it. This is obviously not how things are supposed to work

[2022-04-29 09:37] r2r0 commented on #45112
Unfortunately blocking of while loop is visible only very rarely when console and debugger (even without breakpoints installed) are connected. When it happens then it looks that also LPTIM ISR is not working.
After power cycling problem disappears (usually) for long time.
Because I am not able to consistently reproduce problem then I will close this issue for now.
BTW> @FRASTM  would it be possibl

[2022-04-29 09:37] #45112 closed

[2022-04-29 10:34] #45219 closed

[2022-04-29 11:23] lsangild opened #45234 "stm32: Allow multiple GPIOs to trigger an interrupt"
**Is your enhancement proposal related to a problem? Please describe.**
Due to the by-pin-number setup of the STM32 EXTI controller, it is currently only possible to have one interrupt per pin number, e.g. only PB10, not PB10 and PC10.

**Describe the solution you'd like**
I can handle one interrupt from multiple port, as shown in the irq_handler `gpio10_cb` in the code example at the bottom, but

[2022-04-29 11:36] erwango commented on #44966
Closing as this is not a Zephr issue, but a misuse of nrf SDK

[2022-04-29 11:36] #44966 closed

[2022-04-29 11:42] erwango commented on #44777
@vincemulhollon Can you close this issue an open it in https://github.com/mcu-tools/mcuboot ?

[2022-04-29 11:45] erwango commented on #43775
https://github.com/zephyrproject-rtos/zephyr/pull/43313 was merged

[2022-04-29 11:45] #43775 closed

[2022-04-29 11:47] FRASTM commented on #44600
Closed as already covered by the https://github.com/zephyrproject-rtos/zephyr/issues/44539

[2022-04-29 11:47] #44600 closed

[2022-04-29 12:01] erwango commented on #43836
@ycsin Did you made any progress on this issue? Is it still valid ?

[2022-04-29 12:03] asbjornsabo opened #45237 "RFC: API Change: Bluetooth - replace callback in bt_gatt_subscribe_param"
## Introduction
Replacing the `write` callback in `struct bt_gatt_subscribe_params`with a `subscribe` callback, to be able to return the subscription parameters in the callback.

### Problem description
The `struct bt_gatt_subscribe_params`has a `write`member, of type `bt_gatt_write_func_t` that is called when the CCC is written.
The problem is that this function
- does (in principle) return write

[2022-04-29 12:25] ycsin commented on #43836
I've left my previous company and I doubt if anyone made any progress on this issue, it should still be valid

[2022-04-29 12:27] erwango commented on #43836
Thanks for the head's up.

[2022-04-29 12:32] mbolivar-nordic opened #45241 "(Probably) unnecessary branches in several modules"
**Describe the bug**

Several modules in the upstream west.yml file point to forks that have what look like unnecessary branches.

Each unnecessary branch:

1. creates wasted network traffic, since `west update` will fetch all remote branches by default (i.e. unless `west update --narrow` is used)
2. clutters the `west update` output for users, who see a line printed for each unnecessary branch:

[2022-04-29 12:34] henrikbrixandersen commented on #45012
The purpose of that test is exactly what you have come across here - a clock configuration issue, which does not allow the CAN controller to operate in the most commonly used CAN bitrates. This test was not there when the SAM CAN driver was added, which is why the bug wasn't discovered during development.

[2022-04-29 12:40] asbjornsabo commented on #45237
Agree, will do. (Was tying to  follow the guideline (which said "<subsystem>".

[2022-04-29 13:52] jfischer-no commented on #42066
Plan updated.

[2022-04-29 14:10] #41742 closed

[2022-04-29 14:11] #44737 closed

[2022-04-29 14:15] rweickelt opened #45248 "Avoid redefining 32-bit integer types like __UINT32_TYPE__"
**Describe the bug**

Zephyr [redefines built-in 32 bit integer types](https://github.com/zephyrproject-rtos/zephyr/pull/16645). While the arm-none-eabi-gcc package shipped by ARM uses "long int", Zephyr uses just "int". The end result may look like the same in C, but this creates problems when linking external C++ libraries. C++ mangles types into the symbol name. "long int" and "int" result in d

[2022-04-29 14:29] stephanosio commented on #45248
This was a deliberate decision as described in the issue you linked (https://github.com/zephyrproject-rtos/zephyr/pull/16645).

For now, the expectation for the third-party libraries to be used with Zephyr is that they should include the Zephyr `zephyr_stdint.h` globally so that they use the same type system as the upstream Zephyr code.

The plan is to eventually get rid of this "hack":
https://gi

[2022-04-29 14:34] stephanosio commented on #45248
Please add something like the following when you are building third-party libraries:
https://github.com/zephyrproject-rtos/zephyr/blob/bf3cd116e9f553c33b7d2ef483a3ea00132a5bf1/CMakeLists.txt#L288

[2022-04-29 15:27] Casper-Bonde-Bose commented on #45241
liblc3codec is clean

[2022-04-29 16:54] AmPaschal commented on #45186
I discovered I didn't have llvm and clang installed in the ubuntu machine I was using 😩😢
I installed it and have built the executable.

I'll be closing this issue

[2022-04-29 16:54] #45186 closed

[2022-04-29 20:56] dcpleung commented on #45241
`hal_xtensa` is scrubbed.

[2022-04-29 23:20] jyviko commented on #3150
Hi, I am interested to integrate this sensor to zephyr. Has anyone tried to integrate it?

[2022-04-30 00:29] #41517 closed

[2022-04-30 13:42] LeBlue opened #45261 "mcumgr: conversion of version to string fails (snprintf format issue)"
**Describe the bug**
The version information is not correctly converted to a string when querying image slots.

**To Reproduce**
Steps to reproduce the behavior:
run `mcumgr image list` command with suitable firmware.

The version string received is: `hu.hu.`

**Expected behavior**
Version should be converted correctly

**Impact**
showstopper

**Logs and console output**

hexdump of response:
<pre

[2022-04-30 13:52] LeBlue commented on #45261
1. Problem might be related to https://github.com/zephyrproject-rtos/zephyr/issues/45209

[2022-04-30 14:58] volodyaleo commented on #45211
@Laczen So, probably your suggestion is useful ( settings_delete_subtree(char *name) ).

If somebody store every setting with his manufacturer specific prefix (for example, /<company>/<module>) it may be useful to have ability to erase all his own settings. If user requested factory reset or settings validation failed this function may be used instead of one by one parameter deletion.

[2022-05-01 09:23] ric96 opened #45266 "teensy41: pwm sample unable to build"
I am trying to test pwm on teensy41, but i can't seem to build the sample. The sample code is untouched, I just added a teensy 41 specific overlay to output on teensy41's pin 2, which is EMC_04:
[code]

I get the following error during build:
[code]

[2022-05-01 12:49] AndreyDodonov-EH commented on #5842
This is still the case, right?
At least in 2.7.
I tried using this to tell webserver running on Zephyr to slow down, but both select and poll return immediately.

[2022-05-01 16:34] lucasdietrich opened #45267 "kernel: Recursive spinlock in k_msgq_get() in the context of a k_work_poll handler"
**Describe the bug**
Recursive spinlock in `k_msgq_get()`, when called from a k_work_poll handler function, when event is configured for notification on message availability in the MsgQ.

This situation appears only if the thread "putting" the message in the MsgQ is preemptive and if the workqueue assigned for the process of the k_work_poll handler has a higher priority.

**Edit: I described the i

[2022-05-01 17:14] oscarbaselga opened #45268 "Error newlibc ESP32"
Hi all, I am trying to build a Zephyr project for ESP32 which uses libc functions. First option has been set `CONFIG_NEWLIB_LIBC=y`, however, the compilation fails. Maybe newlib libc provided by the Zephyr SDK is not supported in ESP32. I saw that other option is to build the project linking an external provided C library through `CONFIG_EXTERNAL_LIBC=y`. I thought to provide the ESP-IDF newlib li

[2022-05-01 19:04] boaks opened #45270 "CMake - TEST_BIG_ENDIAN"
**Describe the bug**

Adding

[code]

to the `CMakeLists.txt`fails. It reports:

**To Reproduce**

Add

[code]

to the `CMakeLists.txt`. Execute

**Expected behavior**

`TEST_BIG_ENDIAN(IS_BIG_ENDIAN)` sets `IS_BIG_ENDIAN` according the used processor.

**Impact**

`IS_BIG_ENDIAN` must be set manually,

**Environment (please complete the following information):**
 - Ubuntu 18.04
 - ncs 1.9.1

[2022-05-02 06:12] lsangild commented on #45234
Hmmm, I see.
`

Hmm I see.

Yes, if the callback is the same as the one already configured, could it be made so that both e.g. PB10 and PC10 triggers callbacks, and then you discriminate on the triggering pin by reading the value of the pins? The change in Zephyr would here be that the callback configuration is allowed, but it is up to the programmer to discriminate which pin triggered the ISR.
I

[2022-05-02 06:56] erwango commented on #45234
Well, I guess we can implement this as a Kconfig option, deactivated by default.

[2022-05-02 07:00] erwango commented on #45114
@manuja2000 Can you check if your point is similar as this one: https://github.com/zephyrproject-rtos/zephyr/issues/38544?

[2022-05-02 07:02] erwango commented on #38544
@chrisc11 Would you mind having a look to this point which relates to #35815 that you pushed?

[2022-05-02 07:05] rweickelt commented on #45248
Thank you for the suggested workaround. I will instead define a replacement type for uint32_t in the public API of our library.

I would be glad if this hack is removed.

[2022-05-02 07:10] Navin-Sankar commented on #45241
**lz4** is clean

[2022-05-02 08:30] davidschillerJKU commented on #44998
Has anyone figured out a workaround (manually changing buffer sizes, ...)?
Or is there at least a way to recover the BT stack?

[2022-05-02 08:56] microbuilder commented on #45241
@mbolivar-nordic The `gh-pages` branch in zscilib is used to store the following documentation and host it via Github: https://zephyrproject-rtos.github.io/zscilib/ ... seems like a valid use case to have a (smaller) branch???

[2022-05-02 08:56] #43872 closed

[2022-05-02 08:56] #45129 closed

[2022-05-02 09:19] stephanosio commented on #45270
This seems to be more of a bug in the CMake itself than the Zephyr build system.

[code]

The compilation of `TestEndianness.c` fails because the toolchain, without any "required arguments," defaults to linking some libraries that expect certain symbols (e.g. `_exit` in case of `arm-zephyr-eabi`) to be defined by the application.

Note that the [CMake `TEST_BIG_ENDIAN` implementation calls `try_co

[2022-05-02 09:30] tleksell-pe commented on #45241
@nashif the up2 branch in the TraceRecorderSource repo was created by you, does it fill any purpose or can it be deleted?

[2022-05-02 09:32] boaks commented on #45270
FMPOV, the interesting part of this issue seems to be, that the tool-chain is usually used for "cross-compiling". So I'm not sure, if that is a working solution at all, to compile & execute the test.

Maybe, it's possible to provide an other approach, where somewhere in the board definition (or target cpu), this could be provided and returned, instead of trying to do the test above.

[2022-05-02 09:36] stephanosio commented on #45241
@microbuilder Is there a separate "upstream" repository for the `zscilib`? or is https://github.com/zephyrproject-rtos/zscilib in itself supposed to be the upstream?

If the latter, I suppose we have no option but to leave the branch as-is since it is a special case (we usually have separate upstream repos).

[2022-05-02 09:37] microbuilder commented on #45241
@stephanosio This is the 'home' repo for zsclib.

[2022-05-02 09:47] stephanosio commented on #45270
It only compiles and does not execute the test, so it can and does (as shown above) work for cross compilers.

Note that it literally looks for a string in a compiled binary, without attempting to execute it:
https://github.com/Kitware/CMake/blob/8dbf38eaaf0d465a7b44e337204c3b763915ebb5/Modules/TestBigEndian.cmake#L99-L103

[2022-05-02 09:53] boaks commented on #45270
Thanks, then I was wrong, mislead by the "executable" in the error logs.

[2022-05-02 09:57] ccoenenatbaumer opened #45276 "Add support for multiple zero-latency irq priorities"
**Is your enhancement proposal related to a problem? Please describe.**
If CONFIG_ZERO_LATENCY_IRQS is enabled all IRQs with the IRQ_ZERO_LATENCY latency flag are set to the highest but same priority 0. Sometimes it is necessary to have multiple IRQs configured as low-latency but with different priorities. For example the sampling ISR from ADC should be able to interrupt the UART ISR, but both ISR

[2022-05-02 10:02] jchabod commented on #41787
Sorry, I have not been able to reproduce this issue. I now removed my patch and do not have anymore the problem.

I'll reopen, if this issue comes back in the future.

[2022-05-02 10:02] #41787 closed

[2022-05-02 10:07] PerMac opened #45278 "twister: Run_id check feature breaks workflows with splitted building and testing."
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/pull/44661 added mandatory check for a matching run_id for ztest test. The id is given to a test during its building and then, when executing, twister is checking if the output has the matching id. However, the run_id is nowhere stored nor propagated for following twister calls. This breaks the plans where images are first built wit

[2022-05-02 10:07] boaks commented on #45270
I tried to apply your patch. Doing so, I found [TestBigEndian.cmake - deprecated:: 3.20](https://github.com/Kitware/CMake/blob/master/Modules/TestBigEndian.cmake#L5-L21)

I will try that. Maybe that works without patch.

[2022-05-02 10:30] PerMac commented on #45278
@nashif I could try to provide a quick fix, where RunID will be stored in the csv file from where the tests descriptions are taken from. Or maybe you have some better idea how to solve the issue?

[2022-05-02 11:04] stephanosio opened #45279 "Update to CMSIS 5.9.0"
**Describe the solution you'd like**
[CMSIS 5.9.0 has been released.](https://github.com/ARM-software/CMSIS_5/releases/tag/5.9.0)

Update the following CMSIS components in the [Zephyr CMSIS fork](https://github.com/zephyrproject-rtos/cmsis) and integrate them to the Zephyr:

* CMSIS-Core
* CMSIS-DSP
* CMSIS-NN

[2022-05-02 11:05] stephanosio commented on #45279
cc @JordanYates @microbuilder @povergoing

[2022-05-02 11:14] stephanosio commented on #45279
Since the feature freeze for 3.1 is in two weeks (2022/05/13), we should target 3.2 for this feature.

[2022-05-02 12:22] LaVoute974 opened #45280 "GPIO Configuration Issue"
### Discussed in https://github.com/zephyrproject-rtos/zephyr/discussions/45249

<div type='discussions-op-text'>

<sup>Originally posted by **LaVoute974** April 29, 2022</sup>
Hi ! This is probably a dumb question but I need some help : I'm trying to simply blink an LED on my STM32L073 board. The LED is connected to the PB6 pin here's my code :

[code]

I'm using platformio with Zephyr RTOS frame

[2022-05-02 14:07] erbr-ot commented on #43435
Failures (26) from fresh run of LL/CON and LL/PER tests on Ellisys Bluetooth Qualifier | Release | 20212.8080.8084.20312 with tip of Zephyr with refactored LLCP:

LL/CON/CEN/BI-02-C.Central T_Terminate Timer
LL/CON/CEN/BI-14-C.Invalid LLID
LL/CON/CEN/BV-08-C.Central Sending Termination
LL/CON/CEN/BV-126-C.Data Length Update - Preserve Parameters After a PHY Change - LE 2M PHY
LL/CON/CEN/BV-27-C.In

[2022-05-02 14:17] stephanosio commented on #45280
Please do not create issues for questions.

[2022-05-02 14:17] #45280 closed

[2022-05-02 18:16] danieldegrasse commented on #44647
Hi @kunoh, MCUBoot (and therefore USB DFU mode) is not currently supported on the RT1050 EVK using the hyperflash, because MCUBoot does not support flash devices with a minimum write size of 16 bytes, only those with a minimum write alignment of 8 or smaller. If you use the QSPI flash (see [AN1208 for for information](https://www.nxp.com/docs/en/application-note/AN12108.pdf)), you should be able t

[2022-05-02 22:53] crides commented on #44349
Yep it does:

[code]

Would still need some digging after this point to know what exactly caused the problem, but I think this would be a good start to find the problem. Thanks!

[2022-05-03 00:30] #42943 closed

[2022-05-03 00:30] #42915 closed

[2022-05-03 01:40] dleach02 commented on #45182
@kunoh, can you review #45183

[2022-05-03 01:42] dleach02 commented on #45218
@landonh12, I'm going to assign this one to you for the moment

[2022-05-03 05:47] kunoh commented on #44647
Hi @danieldegrasse, I changed my board to use QSPI and it works with MCUBoot, thank you - QSPI is also an excluded platform for the DFU example. Do you know why and what's needed in order to get this to work? (Sorry, maybe the question belongs to another issue?)

[2022-05-03 06:55] ssharks commented on #23302
With the latest patches in, in the field I get the cloud application dropping larger transfers as the transfer rate drops too low. This happens when there is less then 240 bytes transferred in the last 5 seconds.

Looking at the test results I can see something interesting happening.

Based on the qemu_cortex_a9 target (not different for qemu x86)

Transferring 60 kByte

With preemptive scheduling

[2022-05-03 07:01] henrikbrixandersen commented on #44910
Please include information about your environment (host OS) and full error output.

[2022-05-03 07:02] avigreen1978 commented on #44394
This feature is really needed, any update?

[2022-05-03 07:03] henrikbrixandersen commented on #44830
You are including said headers in your application, so how would the compiler know not to check them? The headers are included by the preprocessor before handing the source off to the compiler, for which you have set the compiler flags.

[2022-05-03 07:04] henrikbrixandersen commented on #43139
@chrta Have you considered "advertising" for more maintainers on the developers mailing list?

[2022-05-03 08:44] shaoanxli commented on #45012
I check the code and it seems that the test failed because -1 returns here zephyr/drivers/can/can_common.c:60 when the bitrate is 800000.

[2022-05-03 09:16] cvinayak commented on #45039
@carlst have you already sent a PR with your suggestions?

I had something in my PR here #45069, do check if this meets your requirement...

[2022-05-03 12:50] yashi opened #45302 "Bus Fault with Xilinx UART Lite"
**Describe the bug**

[Xilinx AXI UART Lite v2.0](https://docs.xilinx.com/v/u/en-US/pg142-axi-uartlite) has the following clause for both RX and TX FIFO (emphasis mine):

To avoid this we have `xlnx_uartlite_read_status(dev) & STAT_REG_RX_FIFO_VALID_DATA` and `xlnx_uartlite_read_status(dev) & STAT_REG_TX_FIFO_FULL` but this is not enough for multi-threaded app.

Consider this:

| **Scheduler** |

[2022-05-03 13:06] henrikbrixandersen opened #45303 "drivers: can: CAN classic and CAN-FD APIs are mixed together and CAN-FD is a compile-time option"
**Describe the bug**
The current implementation of CAN-FD support depends on a compile-time flag (Kconfig), which either enables or disables CAN-FD support completely.

With `CONFIG_CAN_FD_MODE=y` it is not possible to enable/disable the reception of CAN-FD frames at run-time, meaning the CAN node will ACK CAN-FD frames - and CAN-FD frames will be matched by the added RX filters - even if the CAN

[2022-05-03 13:21] henrikbrixandersen opened #45304 "drivers: can: CAN interfaces are brought up with default bitrate at boot, causing error frames if bus bitrate differs"
**Describe the bug**
Currently, the CAN drivers start with a default bitrate (or timing) specified using devicetree and start the CAN controller in their respective `init()` functions.

This is fine for CAN nodes using only one fixed bitrate, but if the bitrate is set by the user (e.g. via a DIP-switch or other HMI which is very common), the CAN driver will still initialise with the default timing

[2022-05-03 14:23] evgeniy-paltsev commented on #44466
Any thoughts about this?

As of today we have undefined behavior in Zephyr kernel code (so bumping priority)

To avoid that undefined behavior we either need to
 * disable strict aliasing optimization (`-fno-strict-aliasing` option for GCC and LLVM)
or
 * fix all places in kernel code where we violate strict aliasing rule (IMO, it's hardly achievable)

[2022-05-03 14:41] erwango commented on #38544
@nandojve Is this issue still valid?

[2022-05-03 15:39] andyross commented on #44466
Sorry, just seeing this.  I'm not sure I buy that example.  That's just typecasting, there's no aliasing because in the local function, the pointers have the same value and the compiler can prove that.    And if k_thread_priority_get() is inlined, it gets the same treatment.  If it's not inlined, then the pointer gets passed as an argument and aliasing optimization isn't possible anyway.

There's

[2022-05-03 16:23] cfriedt opened #45307 "Improve documentation on backport / release process"
**Is your enhancement proposal related to a problem? Please describe.**
While it is OK to submit PRs without an associated issue to `main`, all backport PRs require an associated issue. Even those automatically created by `zephyrbot`.

If the original PR to `main` does have a linked issue, or if the backport is part of a larger qualification effort with an issue, or if the backport is part of a CV

[2022-05-03 16:28] mbolivar-nordic commented on #44830
Closing the issue since there is an existing discussion

[2022-05-03 16:28] #44830 closed

[2022-05-03 16:46] andyross commented on #45267
Hm... can you walk me through which lock is held when the thread yields?  The one in the workqueue seems correctly released around the callback.  Is the bug that poll is calling its handlers with a spinlock held?

[2022-05-03 17:14] lucasdietrich commented on #45267
In my case it's the MsgQ lock which is held when the thread yields.

Let's take my test program as reference ([main.c](https://github.com/lucasdietrich/zephyr-qemu-dev/blob/18f632773b7cbf25846d0cfb844135ae6030d9fc/src/main.c)):

- In the call of [`k_msgq_put()`](https://github.com/lucasdietrich/zephyr-qemu-dev/blob/18f632773b7cbf25846d0cfb844135ae6030d9fc/src/main.c#L35) :
  - `msgq->lock` first l

[2022-05-03 17:31] andyross commented on #45267
OK, gotcha.  Let me restate and see if this matches your expectations:

1. msgq calls z_handle_obj_poll_events() inside its spinlock
2. for the case of triggered work items, poll then calls k_work_submit_to_queue()
3. k_work_submit_to_queue() is a scheduling point and tries to context switch

This is an evolutionary messup, I think.  Poll traditionally wouldn't schedule from its handler (and there

[2022-05-03 18:38] #45182 closed

[2022-05-03 19:38] lucasdietrich commented on #45267
That's exactly it.

1. I quickly thought of this solution, it doesn't seem to be the simplest way to do it to me. Is there a particular advantage for using this solution over the others?
2. You're right, that's what I had in mind: Do not alter the behavior of the normal workqueue mecanism but prevent the thread from yielding in this particular case, to simply solve the bug.
3. (With my young exper

[2022-05-03 19:50] andyross commented on #45267
I think I'd lean with #2 also, as it doesn't involve an API change and can be done 100% compatibly.   #3 is simpler still, and while it is a behavior change, we aren't actually breaking any specified behavior as k_work_submit_to_queue() was never documented to reschedule.

[2022-05-04 00:49] kuikka opened #45314 "ASSERTION FAIL [!link->next] @ ZEPHYR_BASE/subsys/bluetooth/controller/ll_sw/ull_conn.c:1952"
**Describe the bug**
BLE link layer asserts and causes a kernel Oops. (see console log below)

HW: nRF52840-DK
SW: Zephyr v3.0.0
This unit is a BLE Central, connecting to a peripheral.

I have a strong suspicion that the ongoing SMP procedure (see smp_security_request and others) with concurrent link usage is triggering this.

In the log below GATT service discovery is started immediately upon con

[2022-05-04 00:51] kuikka commented on #45314
Any advise on the root cause of said assert and what may trigger is would also be appreciated.

[2022-05-04 01:26] ewalt1 opened #45315 "drivers: timer: nrf_rtc_timer: NRF boards take a long time to boot application in CONFIG_TICKLESS_KERNEL=n mode after OTA update"
Observed on the NRF9160 running a non-tickless kernel. When doing an OTA update it took about 12 seconds from reset to MCUboot's "Jumping to the first image slot" log message. However it consistently takes a similar amount of time until the Zephyr "*** Booting Zephyr..." log message is printed.

This issue occurs because the tick interrupts aren't firing for that same period of time. Once the firs

[2022-05-04 01:32] ewalt1 commented on #45315
FYI
@nordic-krch
@jciupis
@pkwiek
@ankuns

[2022-05-04 01:39] ewalt1 opened #45316 "drivers: timer: nrf_rtc_timer: SYS_CLOCK_TICKS_PER_SEC too high for when CONFIG_KERNEL_TICKLESS=n"
NRF chips set it indiscriminately to [32768](https://github.com/zephyrproject-rtos/zephyr/blob/main/soc/arm/nordic_nrf/Kconfig.defconfig#L24). This makes sense for tickless builds, but will cause far too frequent of interrupts when using a non-tickless build.

The Zephyr Kconfig default definition is to use [100](https://github.com/zephyrproject-rtos/zephyr/blob/main/kernel/Kconfig#L604) for non-t

[2022-05-04 01:40] ewalt1 commented on #45316
FYI
@nordic-krch
@jciupis
@pkwiek
@ankuns

[2022-05-04 04:50] stephanosio commented on #40593
Closing this as per https://github.com/zephyrproject-rtos/zephyr/issues/44947#issuecomment-1104161983

[2022-05-04 04:50] #40593 closed

[2022-05-04 06:22] stephanosio commented on #22870
Although #35381 introduced the `mps2_an521_remote` target, which executes code on the CPU 1, a Cortex-M33F core that supports DSP and single-precision FPU, it has some limitations:

1. Its code memory is limited to 512K due to the TFM partitioning, which is not enough for some tests (e.g. CMSIS-DSP).

    https://github.com/zephyrproject-rtos/zephyr/blob/88ca4fb5336151f11857f966bb8ed1e11bf1962d/bo

[2022-05-04 06:31] stephanosio opened #45319 "Add MPS2 AN386 board for emulated Cortex-M4 test coverage"
**Is your enhancement proposal related to a problem? Please describe.**

As noted in #22870, we do not currently have Cortex-M4 test coverage in the CI because Zephyr does not support any emulation-capable boards with a Cortex-M4 core.

**Describe the solution you'd like**

Add `mps2_an386` board support (mainly for emulation).

**Describe alternatives you've considered**

There is #22870, which t

[2022-05-04 06:31] stephanosio commented on #22870
Closing this in favour of https://github.com/zephyrproject-rtos/zephyr/issues/45319

[2022-05-04 06:31] #22870 closed

[2022-05-04 06:31] stephanosio commented on #45319
cc @microbuilder @povergoing

[2022-05-04 06:59] nordic-krch commented on #45316
@ewalt1 thanks for creating the issue, I've opened a PR.

[2022-05-04 07:10] manuja2000 commented on #45114
Yes, seems to be similar, when using the B-L475E-IOT01A, attempts to use a TCP socket result in a
hang.

[2022-05-04 07:27] FRASTM opened #45322 "tests: drivers: pwm_api fails with stm32 devices"
**Describe the bug**
the tests/drivers/pwm/pwm_api/ fails in the test_pwm_usec  sequence when running on stm32 target boards

`Assertion failed at WEST_TOPDIR/zephyr/tests/drivers/pwm/pwm_api/src/test_pwm.c:137: test_pwm_usec: test_task(DEFAULT_PWM_PORT, DEFAULT_PERIOD_USEC, DEFAULT_PULSE_USEC, UNIT_USECS) == TC_PASS is false`

Please also mention any information which could help others to underst

[2022-05-04 08:43] erbr-ot opened #45323 "Bluetooth: controller: llcp: Implement handling of delayed notifications in refactored LLCP"
Figure out how to and implement handling delay in sending notification to host.

[2022-05-04 08:47] rlubos commented on #5842
Right, this has not been resolved yet.

[2022-05-04 09:14] AndreyDodonov-EH opened #45324 "NET_TCP_BACKLOG_SIZE is unused, it has to be either implemented or deleted"
### Discussed in https://github.com/zephyrproject-rtos/zephyr/discussions/44973

<div type='discussions-op-text'>

<sup>Originally posted by **AndreyDodonov-EH** April 20, 2022</sup>
According to the quick grep, it's not used anymore, but still present in KConfig:
https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/ip/Kconfig#L366

Is it not needed anymore or am I missing something?<

[2022-05-04 09:38] MariuszSkamra commented on #44058
- [ ] Consider `has_preset_list` to be converted form array to double linked list

[2022-05-04 10:02] evenl commented on #44586
After some more investigation it seems that the issue we are seeing is the result of the EasyDMA in one of the UARTs and the CPU is accessing the same memory. This issue originates from our own code where we are trying to use on of the UARTs as a slave on a multi device single wire uart bus. I'll close this issue now as this is not related to any Zephyr code.

[2022-05-04 10:02] #44586 closed

[2022-05-04 10:09] de-nordic commented on #45261
Provided fix here, https://github.com/zephyrproject-rtos/zephyr/pull/45329 , nevertheless I find fixing the %hhu to be actually workaround for New C lib not correctly processing it.

[2022-05-04 11:13] stephanosio commented on #45261
See https://github.com/zephyrproject-rtos/zephyr/pull/45329#discussion_r864711556

[2022-05-04 12:35] stephanosio opened #45336 "newlib: PRIx8 inttype incorrectly resolves to `hh` with newlib-nano"
**Describe the bug**
[The `hh` format modifier (e.g. `%hhu`), which is used for the `[u]int8_t` types, is not supported by the Zephyr SDK newlib-nano build because the nano variant builds without the `_WANT_IO_C99_FORMATS` option:](https://github.com/zephyrproject-rtos/newlib-cygwin/blob/2893dbb10f1fe3bf431a26f89a22e12a5020dc02/newlib/libc/stdio/vfprintf.c#L1105-L1110)

[code]

Noting that the new

[2022-05-04 12:35] stephanosio commented on #45336
FYI @de-nordic

[2022-05-04 12:44] torres98 opened #45337 "timing: missing extern "C" in timing.h"
During the compilation of a C++ project i get an undefined reference error regarding the timing functions declared in zephyr/timing/timing.h. Even though the compilation flag 'CONFIG_TIMING_FUNCTIONS' is set and the include doesn't raise any error, the linker doesn't seem to add the function code in the binaries...

Here is the complete output of the build command:

[code]

This is the main.cpp fi

[2022-05-04 12:55] Thalley commented on #31306
**Proposal 1: Specific UUIDs**

client_1:
[code]

client_2:

[code]

**Proposal 2: Register service UUID**

client_3:

[code]

**Proposal 3: Register service UUID but with individual callbacks**

client_4:

[code]

[2022-05-04 13:41] finikorg opened #45341 "[backport] Backport adding new EHL SKUs for IBECC"
IBECC is not working for a number of Elkhart Lake board variants: SKU13, SKU14, SKU15

[2022-05-04 13:59] jachatzi opened #45345 "Make FCB work with sectors larger than 16K"
**Is your enhancement proposal related to a problem? Please describe.**
FCB currently only supports sectors up to 16K.
It further does only abide to the underlying flash alignment constraints by pure chance at some places.
E.g. in `fcb_append()` the line `fcb->f_active.fe_elem_off = sizeof(struct fcb_disk_area);` will abide alignment
constraints if `sizeof(struct fcb_disk_area)` happens to be a mu

[2022-05-04 14:39] #45278 closed

[2022-05-04 15:16] mbolivar-nordic commented on #41616
@stephanosio can you please make sure that edit access to groups.io events is also on the list of resources, so meeting chairs can cancel events as needed?

[2022-05-04 15:18] stephanosio commented on #41616
@mbolivar-nordic unfortunately, groups.io is one of the few services that I do not have admin access to (it is managed by the Linux Foundation). I will ask @bprestonlf to take a look.

[2022-05-04 15:47] mniestroj opened #45349 "ESP32: fails to chain-load sample/board/esp32/wifi_station from MCUboot"
**Describe the bug**
Complex application, such as `samples/boards/esp32/wifi_station`, fails to boot when chain-loaded from MCUboot (`Fatal exception (0): IllegalInstruction`). Simpler application, such as `samples/boards/esp32/wifi_station`, works without issues.

Issue seems to be related to some low-level details like code alignment on flash or RAM usage. When reproducing with downstream applic

[2022-05-04 15:56] dleach02 commented on #45241
hal_nxp cleaned up

[2022-05-04 17:39] PureEngineering commented on #27841
I would like to repoen this issue. as still seeing this issue.

[2022-05-04 18:40] carlst commented on #45039
@cvinayak I have not sent a PR.

#45069 appears to provide a more comprehensive solution (for Broadcast multiple BIS).

[2022-05-04 18:55] nandojve commented on #38544
Hi @erwango,

Last time I tested was in January and currently I don't have the shield to re-test. I 'll have access to this shield again only in August. It may be good keep this open until a next check once it is a regression.

[2022-05-04 19:04] tristan-google opened #45355 "Twister fails when west is not present"
**Describe the bug**
My understanding based on comments in `west_projects()` at `scripts/zephyr_module.py:365` is that it should be possible to run Twister without west installed. However, twister appears to unconditionally attempt to import some west modules in `west_projects()`, called from `main()` at `scripts/twister:962`.

Is this expected behavior? Is there a CLI arg I should pass in to supr

[2022-05-04 22:01] danieldegrasse commented on #44647
I tried this sample on a few other evaluation kits, and the issue seems to be that the FlexSPI flash is too large to erase in one step (doing so results in USB communication timing out). Enabling `CONFIG_IMG_ERASE_PROGRESSIVELY` fixed the issue for me. @kunoh, can you try #45358 on the RT1050 modified to use QSPI flash, and see if device firmware upgrade works for you?

[2022-05-04 22:28] danieldegrasse opened #45359 "USB DFU sample does not work on RT series boards"
**Describe the bug**
The USB DFU sample times out while writing to the flash on RT series boards.

Please also mention any information which could help others to understand
the problem you're facing:
This issue was reproduced on the RT1024 and RT1060 EVKs

**To Reproduce**
Steps to reproduce the behavior:
1. Flash mcuboot to the board
2. Flash samples/subsys/usb/dfu to the board
3. Run the sample

[2022-05-04 23:01] karlp opened #45361 "samples/bluetooth/hci_usb doesn't build for nucleo_wb55rg"
The Nucleo WB55RG board supports both USB and Bluetooth, so, by the definitions of the requirements: https://docs.zephyrproject.org/latest/samples/bluetooth/hci_usb/README.html it should be supported.

https://docs.zephyrproject.org/latest/boards/arm/nucleo_wb55rg/doc/nucleo_wb55rg.html doesn't explicitly mention that USB is supported, but it was added in https://github.com/zephyrproject-rtos/zeph

[2022-05-05 00:22] rettichschnidi commented on #22161
I am also in need of a shell module to read and write settings.

Thankfully, @Damian-Nordic already added the functionality to list keys and read their values. Is there any reasons (other than it being more work) why the writing part has been left out? Any reason that would prevent someone from upstreaming this feature?

[2022-05-05 00:41] mauricionh opened #45362 "sample/net/sockets/dumb_http_server not working with enc28j60"
**Describe the bug**
I'm trying to build the dumb_http_server sample application for a CC1352 launch pad, but it doesn't seem to work with the enc28j60 ethernet adapter board. I get a lot of build errors.

I'm using zephyr sdk 0.14.1, on Windows 10, following the instructions from the getting started [page](https://docs.zephyrproject.org/latest/develop/getting_started/index.html) v 3.0.99

Please

[2022-05-05 00:59] dakejahl commented on #41382
I've been struggling with this on the nrf52840dk for months. I have not been able to get current consumption below 270uA. I've tried everything with no luck. Can you share with me your code you used to successfully achieve the few uA? I added your above snippets but I am still seeing 270uA. If I got into System OFF mode I do indeed see a very low current oonsumption, so I know at least that works,

[2022-05-05 02:58] #40970 closed

[2022-05-05 03:03] #19979 closed

[2022-05-05 03:26] bob2oneil opened #45365 "Zephyr IP Stack Leak Diagnostic Help"
**Describe the bug**
I have a networking based application that provides 2 interfaces under the Native-POSIX board target, a simulated wired and simulated wireless interface.

The wired interface provides support for 2 UDP receive sockets, which can optionally (conditional compilation) be replaced with a singular raw layer 2 socket.

A Telnet server is active on this interface to provide status an

[2022-05-05 05:13] hunterhu3000 commented on #45045
It seems the following patch fixed this problem
commit 8ef2403d3775ce1bbcc1d73a719ddc2f17d53c39 (HEAD -> main)
Author: Jay Vasanth <jay.vasanth@microchip.com>
Date:   Thu Apr 14 15:22:30 2022 -0400

    boards: arm: mec172xevb_assy6906: Include limited drivers

    Include only required drivers for hello world application

    Signed-off-by: Jay Vasanth <jay.vasanth@microchip.com>

[2022-05-05 06:15] ssharks opened #45367 "net: tcp: Scheduling dependent throughput"
**Describe the bug**
The throughput with the TCP stack for large transfers is even in ideal situations dependent on scheduling / timing. Even till the point where it can fail entirely.

The situation is happening on an proprietary embedded system in combination with an Azure cloud application, when sending data. Receiving data does not prose challenges so far.
It can also be reproduced using a mod

[2022-05-05 06:16] ssharks commented on #23302
I attempted to dive a little bit deeper in issue: https://github.com/zephyrproject-rtos/zephyr/issues/45367

[2022-05-05 06:36] AndreyDodonov-EH commented on #45367
@ssharks I'm about to open an issue and probably PR dedicated specifically to
`Data buffer ... allocation failed`
(or, rather, underlying problems, it's just a symptom)

I'll create it and link it here within maximum next week.
If I forget to do so, feel free to ping me.

[2022-05-05 07:13] Damian-Nordic commented on #22161
@rettichschnidi The only reason was that I needed only listing and reading settings for test/verification purposes and I wanted to achieve that with minimum effort. Also, I wasn't sure if writing would be equally useful, but if it would it can be added for sure :).

[2022-05-05 08:10] shaoanxli opened #45371 "frdm_k64f: failed to run test case tests/net/socket/offload_dispatcher"
**Describe the bug**
The test case failed after commit id: 4896a23aeabf937293aa3f231d1e5c0cf85ce8cb.And before this commit, there is a build error. The root cause is not clear yet.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. west build -p always -b frdm_k64f tests/net/socket/offload_dispatcher/
3. Open another terminal and execute: picocom -b 115200 /dev/ttyACM0
4

[2022-05-05 08:12] erwango commented on #45361
@karlp `USB_DEVICE_BLUETOOTH` implies support of BT_CHI_RAW protocol, which is not supported on nucleo_wb55rg.

[code]

This explains why `sample/hci_usb` won't build.
Hence this is not a bug, but a new feature to be supported, and then I'm converting this issue as an `feature request`.
Please close if this is not something that you don't actively request (eg only testing this 'out of curiosity').

[2022-05-05 09:14] Ventsislav-Trayanov-GHD opened #45372 "PWM not working"
**Describe the bug**
In commit 3650664875a645c184cfe79e6f7f369b3af23653
a bug was introduced when sending 0 to period_cycles its expected to stop the PWM that was the case in the previous version now this does not work.

Please also mention any information which could help others to understand
the problem you're facing:
I can stop the PWM by sending 0XFFFF but that shudnt be the case.
 - ...

**To

[2022-05-05 09:31] erbr-ot commented on #43435
Failures from fresh run of LL/CON/CEN and LL/CON/PER tests on Ellisys Bluetooth Qualifier | Release | 20212.8080.8084.20312 with tip of Zephyr with refactored LLCP:

- [ ] LL/CON/CEN/BI-02-C.Central T_Terminate Timer
- [ ] LL/CON/CEN/BI-14-C.Invalid LLID
- [ ] LL/CON/CEN/BV-08-C.Central Sending Termination
- [ ] LL/CON/CEN/BV-27-C.Initiating Connection Parameter Request - different procedure colli

[2022-05-05 09:38] gmarull commented on #45372
@GeorgeCGV

[2022-05-05 09:41] karlp commented on #45361
Given that it didn't work, I did find an alternative board, yes.  I also understand that you don't want to keep feature requests open as issues permanently, so close it if you feel you must.

[2022-05-05 09:56] rick1082 opened #45374 "Creating the unicast group before both ISO connections have been configured might cause issue"
**Describe the bug**
I try to modify the unicast_audio_client and unicast_audio_server for creating TWS scenario demo (one client connects to two servers).
And if the unicast group is created before both ISO connections have been configured, then the CIG creating parameter will be wrong.

I'm using controller from [here](https://github.com/nrfconnect/sdk-nrf/blob/v1.9.99-dev1/applications/nrf5340_

[2022-05-05 10:03] GeorgeCGV commented on #45372
The check is still present.

https://github.com/zephyrproject-rtos/zephyr/blob/3650664875a645c184cfe79e6f7f369b3af23653/drivers/pwm/pwm_stm32.c#L298

However, it shall be moved higher up.. before subtraction happens.

[2022-05-05 11:15] danie007 opened #45395 "Programming NXP i.MX RT OTP fuse with west"

[2022-05-05 11:35] rlubos opened #45379 "net: TCP/IP Maxwell Pro test results"
Thanks to the courtesy of NXP, we've collected a series of TCP/IP stack test results. The test report can be found in a separate repository (https://github.com/zephyrproject-rtos/test_results/issues), each test failure received a separate issue.

Now, before we start moving the issues into Zephyr as an actual bug reports, we need to triage them first. This means, that every issue needs to be exami

[2022-05-05 12:02] #45361 closed

[2022-05-05 12:24] stephanosio commented on #45336
Further investigation revealed two major issues:

1. As expected, there was a header inclusion issue in which the full `newlib.h` was being included instead of the nano `newlib.h` even when `CONFIG_NEWLIB_LIBC_NANO=y`.

    * `nano.specs` is malformed.

2. Even if the nano `newlib.h` is included, `inttypes.h` still resolves `PRIx8` to `hh*`.

    * This is because [`inttypes.h` decides the modifie

[2022-05-05 13:19] lescopc opened #45383 "cmake: Support building inside MinGW/MSYS environment on Windows"
**Describe the bug**
During 'cmake' step, Zephyr fails to auto-detect the  'gnuarmemb' toolchain because the toolchain fails to compile a dummy C file

**To Reproduce**
 cmake -DBOARD=qemu_cortex_m3 -DZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb -DGNUARMEMB_TOOLCHAIN_PATH=/c/Users/%USER%/gcc-arm-10.3-2021.07-mingw-w64-i686-arm-none-eabi %ZEPHYR_BASE%/samples/hello_world

**Expected behavior**
[...]
-- Found

[2022-05-05 13:31] erwango commented on #45322
Same as https://github.com/zephyrproject-rtos/zephyr/issues/45372 (fixed by https://github.com/zephyrproject-rtos/zephyr/pull/45376).
Closing

[2022-05-05 13:31] #45322 closed

[2022-05-05 15:08] stephanosio commented on #45383
Using MSYS2/mingw64, the build environment is completely broken (this is not supported anyway):

[code]

Using the MinGW environment included in "Git for Windows" (i.e. `git-bash`), compilation proceeds without any problem; though, in this case, I am using the Windows native CMake and Ninja installed through Chocolatey, as described in the Getting Started Guide.

This problem is not reproducible w

[2022-05-05 15:14] lescopc opened #45390 "MinGW-w64: Cannot build Zephyr project"
**Describe the bug**
It is not possible to build & run Zephyr on MinGW-w64 because of PATH Unix/Windows difference

Because of [MSYS2 PATH auto-conversion](https://www.msys2.org/docs/filesystem-paths/), sometimes we get the wrong value going in-and-out CMake (to Shell or Python3).

To Reproduce
cmake -DBOARD=qemu_cortex_m3 -DZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb -DGNUARMEMB_TOOLCHAIN_PATH=/c/Users/%U

[2022-05-05 15:18] stephanosio commented on #45390
See https://github.com/zephyrproject-rtos/zephyr/issues/45383#issuecomment-1118672615

We do not support building Zephyr inside MSYS environment.

[2022-05-05 15:18] #45390 closed

[2022-05-05 15:25] lescopc commented on #45383
I fixed that first error with a 'pull request' I'll push in few minutes.
There are only a second PATH problem. So, Zephyr build is not completely broken on MinGW :) .
Yes, I do use git-bash (which is based on MinGW-w64 + Unix Makefile (not Ninja)) because it is way faster than MSYS2 and does not need to install/use a WSL environment. Also, it is built to run GCC.

Well, using native Windows tools

[2022-05-05 15:28] cfriedt commented on #45100
By default, symbols are global unless declared static, in terms of plain-old C. Symbol "visibility" (at the compiler level) is an ELF construct (it is not available for Mach-O targets, iirc).

However, Mach-O does support tooling to categorize symbols as "exported" and "unexported" and the object format also supports differentiating between global and local.

[code]
https://opensource.apple.com/so

[2022-05-05 15:55] stephanosio commented on #45383
Have you tried building various tests using the `twister` (e.g. at least `tests/kernel`)? I highly doubt the fix is going to be just two minor patches.

Also `west` seems to be broken under certain flavours of MSYS2 environment too:
[code]

If the fix is relatively simple, I am not opposed to adding the MinGW/MSYS support but it likely is not going to be.

[2022-05-05 15:56] stephanosio commented on #45383
Marking this as an enhancement, since this is not really a bug as described above.

[2022-05-05 16:04] BugenZhao opened #45393 "atomic: use `likely` in pure-C atomic implementation for better branch prediction"
**Is your enhancement proposal related to a problem? Please describe.**
Most of the time, the atomic operation will be uncontended, and the CAS procedure will be likely to succeed. For those processors that do not support hardware atomic operations and rely on the pure C implementation, they are more likely not to support SMP, so there is even less chance of contending.

**Describe the solution yo

[2022-05-05 17:03] stephanosio commented on #45383
Just out of curiosity and also to document the MinGW/MSYS2 developer experience for future reference, I did a brief investigation and found a series of problems:

1. west does not work under certain flavours of MSYS2.

[code]

1. unable to install some required Python packages (`pip3 install -r scripts/requirements.txt`)

[code]

1. twister cannot run tests in QEMU because `psutil` Python package

[2022-05-05 17:53] aralex1 opened #45394 "Bug when sending a BLE proxy mesh msg of length exactly 2x the MTU size"
Hi all, I am sorry if this is not the correct format for reporting something. I am new to open source code, so beforehand, I apologize if this is not the correct procedure.

I am currently using the [bt_mesh_proxy_msg_send ](https://github.com/zephyrproject-rtos/zephyr/blob/d8b45e38c130b6c83fc8eba6f9e031c78cb2b276/subsys/bluetooth/mesh/proxy_msg.c#L140) function call in my implementation and I not

[2022-05-05 18:19] ssharks commented on #45367
Thanks to a comments from @rlubos the pending PR https://github.com/zephyrproject-rtos/zephyr/pull/45018 fixed the hanging. Secondly the time leaps are explained by https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/lib/sockets/sockets.c#L708. Halving the WAIT_BUFS significantly reduces the test duration.

[2022-05-05 18:28] stephanosio commented on #45383
Also note that MSYS2 support has been explicitly removed in https://github.com/zephyrproject-rtos/zephyr/pull/11300/.

[2022-05-05 19:35] #45123 closed

[2022-05-05 19:36] #45372 closed

[2022-05-05 19:47] #44704 closed

[2022-05-05 20:48] henrikbrixandersen commented on #45371
The title says tests/drivers/can/timing/drivers.can.timing is failing on frdm_k64f, but the body talks about sam_e70b_xplained and tests/net/socket/offload_dispatcher/? Which is it?

[2022-05-05 21:21] mauricionh commented on #45362
Upon further inspection of the issues involving the enc28j60, I reviewed this [one](https://github.com/zephyrproject-rtos/zephyr/pull/23730#issue-587211033). I followed the changes and replicated in my setup, and I still get the same issues. The basic understanding I have at the moment is pointing me towards the board overlay that I've added to the project. The build error messages involve the pro

[2022-05-05 21:37] atoncetti commented on #43465
Hi @cvinayak

Here is an example of a scan from the bbc microbit (left) and from my ubuntu machine running a scan with `bluetoothctl` (right):

![scan](https://user-images.githubusercontent.com/26976213/167028058-02c73dc4-9f4a-4d71-a936-286bbb587761.png)

Strangely, the bbc microbit picks up a different device address even though there is a single device currently advertising.

Moreover, if I star

[2022-05-06 00:14] shaoanxli commented on #45371
Sorry ,I got the command wrong, I have fixed it , thanks for reminding. The bug occurred on the frdm_k64f platform.

[2022-05-06 00:28] hunterhu3000 commented on #45045
Close fixed

[2022-05-06 00:28] #45045 closed

[2022-05-06 00:40] hunterhu3000 commented on #43874
Close first. Will open a new bug when I get the HW to verify the problem.

[2022-05-06 00:40] #43874 closed

[2022-05-06 03:02] hakehuang opened #45401 "test-ci: adc: lpcxpresso55s28: adc pinctl init error"
**Describe the bug**
pinctl apply state report error for adc module
``
	err = pinctrl_apply_state(config->pincfg, PINCTRL_STATE_DEFAULT);
	if (err) {
		return err;
	}
``

 - ...

**To Reproduce**
Steps to reproduce the behavior:
tests/drivers/adc/adc_api
1. west build -b lpcxpresso55s28
2. west flash --runner jlink --tool-opt='-SelectEmuBySN 723347811' --  '--device=LPC55S28' '--reset-after-load'

[2022-05-06 03:07] hakehuang commented on #45401
@dleach02 , @danieldegrasse , @mmahadevan108

[2022-05-06 04:36] cvinayak commented on #43465
@atoncetti what do you get when using the samples/bluetooth/central or the samples/bluetooth/central_hr sample? Please use the peripheral_hr sample as the peer and let me know if the advertising data is parsed correctly by the central.

If you share your branch, steps to build your application and the peer device used for advertising, I can try to reproduce at my end.

[2022-05-06 05:16] danie007 commented on #45395
@marc-hb thanks for the overview on `west` and suggesting the appropriate channel for this query. It would be helpful if you could move/transfer this issue to the **Zephyr repo**.

Currently we're using NXP provided tools (_[blhost](https://www.nxp.com/docs/en/user-guide/MCUBLHOSTUG.pdf) & [MFGtool](https://www.nxp.com/docs/en/user-guide/MBOOTMFGTOOLUG.pdf) - pointing to respective user guides_) f

[2022-05-06 05:33] ppryga opened #45404 "Bluetooth: Controller: Periodic advertising scheduling is broken, TIFS/TMAFS maintenance corrupted"
**Describe the bug**
TIFS/TMAFS is not maintained correctly when use of PHY CODED and periodic advertising with chained PDUs.
The problem may be observed with use of a BLE sniffer.

**To Reproduce**
Prepare a sample application that uses CODE PHY and a chain of PDUs for periodic advertising.

**Expected behavior**
TIFS/TMAFS is maintained correctly.

**Impact**
Medium. The issue was found during c

[2022-05-06 06:49] shaoanxli opened #45405 "up_squared: most of the test case timeout"
**Describe the bug**
The test case failed after commit id: d5e7732e0d0f66bc9a3684f9597d9fd6a2d351b2 .

Many tests failed , we take hello_world as an example.
**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. west build -p always -b up_squared samples/hello_world
3. Open another terminal and execute: picocom -b 115200 /dev/ttyUP2
4. west flash
5. See error
 or
2.twister -

[2022-05-06 07:23] vishnusudhan opened #45407 "Support for flashing the Zephyr based application on i.MX RT 1160 EVK through SDP Mode(USB-HID/ UART) & PyOCD runner"
Hi,

I am very new to this platform, I am using i.MX RT 1166 EVK board for my development purpose. I could able to build & flash the zephyr based application using west flash command using JTAG (JLink segger) alone.

The i.MX RT1166 EVK has the SDP mode flash support through USB-HID / UART, Is there any support / reference available to flash the zephyr based application through SDP mode (USB-HID /

[2022-05-06 08:15] enjiamai commented on #45405
Hi @andyross, @spoorthik  we found the up2 daily testing blocked by this change https://github.com/zephyrproject-rtos/zephyr/commit/d5e7732e0d0f66bc9a3684f9597d9fd6a2d351b2 . Do we need to set any extra BIOS configuration for supporting it? Thanks!

[2022-05-06 08:32] FRASTM commented on #44690
tested with _west build -p auto -b b_u585i_iot02a samples/drivers/spi_flash_
[code]
Data read matches data written. Good!!

in SPI/STR or OPI  STR / DTR modes with interrupt
or with (GP)DMA transfer with https://github.com/FRASTM/zephyr/tree/ospi_dma_u5

[2022-05-06 09:26] lescopc commented on #45383
Thank you for giving it a try!

Sorry, I didn't find it on my search

I never used `twister` and when I tried to used `west` (on v1.14) it was really broken. I had to completely uninstall it otherwise it would break my Zephyr build. I've never tried to re-install it since.
I didn't face the python script problem because I don't use the requirements script. As an end-user, I simply need pyelftools,

[2022-05-06 12:00] AndreyDodonov-EH opened #45426 "Data buffer allocation: TCP stops working"
**Describe the bug**

**Symptom:**
TCP connection is broken and neither recovers nor closes (remains ESTABLISHED).
Indicating errors in log are:
[conn: ... packet allocation failed](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/ip/tcp.c#L1020)
and
[Data buffer ... allocation failed](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/ip/net_pkt.c#L1197)

**_Suppos

[2022-05-06 12:25] kruithofa opened #45427 "Bluetooth: Controller: LLCP: Data structure for communication between the ISR and the thread"
Currently using slist for data communication, but this can create a race condition

**Describe the solution you'd like**
To be discussed in F2F

**Describe alternatives you've considered**

**Additional context**

[2022-05-06 12:35] ppryga opened #45431 "Bluetooth: Controller: df: Wrong antenna identifier inserted after switch pattern exhausted"
**Describe the bug**
Antenna switch pattern is not correctly applied in case a CTE length is enough to exhaust the switch pattern.

During the reception of CTE in AoA mode or transmission of CTE in AoD mode radio switches antennas according to user provided switching pattern.
Take as an example that there is an antenna switch pattern provided by user to controller e.g.: A0, A1, A2, A3, A4.
Antenna

[2022-05-06 15:11] AndreyDodonov-EH commented on #45367
@ssharks
Here is the issue dedicated to one of the reasons for `Data buffer allocation` errors
https://github.com/zephyrproject-rtos/zephyr/issues/45426

Correspondent PR:
https://github.com/zephyrproject-rtos/zephyr/pull/45437

[2022-05-06 15:19] AndreyDodonov-EH commented on #45367
@ssharks
Another relevant issue would be https://github.com/zephyrproject-rtos/zephyr/issues/5842
because if we have select/poll working for writing sockets, application would be able to determine _exactly_ when we can send new data.

[2022-05-06 15:45] sylvioalves commented on #45349
@mniestroj Thanks. I found the issue. It will be submitted upstream. It might take a bit to be synced in Zephyr. Let me know if you need the changes asap.

[2022-05-06 18:33] yerabolu commented on #45405
@shaoanxli: Do you see any BIOS output ? If not, could you check BIOS settings if EFI is to display-only ?

[2022-05-06 18:53] yerabolu opened #45440 "Intel CAVS: intel_adsp_hda testsuite is failing due to time out on intel_adsp_cavs15"
**Describe the bug**
intel_adsp_hda testsuite is timing out due to device not responding after the test started to run on intel_adsp_cavs15

Please also mention any information which could help others to understand
the problem you're facing:
- Observed only on inel_adsp_cavs15.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W -p intel_adsp_cavs15 --device-testing --device-serial-pt

[2022-05-06 19:35] scottwcpg opened #45441 "SPI NOR driver assume all SPI controller HW is implemnted in an identical way"
**Describe the bug**
The Zephyr SPI NOR driver in drivers/flash/spi_nor.c calls the SoC's SPI driver to perform the transaction.
SPI NOR assumes the SPI controller hardware implementation always clocks data in when transmitting to the flash.
For example, in a simple flash read the SPI NOR driver will pass the the same array of two struct spi_buf's to the SPI driver spi_transcieve API.  The first s

[2022-05-06 20:03] lucasssvaz opened #45443 "SAMD21: Wrong voltage reference set by enum adc_reference"
Hello there!

While working with the SAMD21G18A MCU I noticed a weird behavior on the voltage reference selection for the ADC and haven't found any comment, issue or google result regarding this. After a some troubleshooting I decided to post this here to let anyone who's facing the same problem know.

### **Describe the bug**

In short:
- ```ADC_VREF_VDD_1_2``` actually uses the 1/1.48 _VDDANA_ r

[2022-05-07 02:56] povergoing opened #45448 "Request for backporting to 3.0.0"
This is a request for backporting the following PRs/commits:

- https://github.com/zephyrproject-rtos/zephyr/pull/43309:

- https://github.com/zephyrproject-rtos/zephyr/pull/43576:

- https://github.com/zephyrproject-rtos/zephyr/pull/43845:

Generally, most of them fixed arm64 fvp v8r platform, one commit fixed qemu_cortex_a53 compile error

[2022-05-07 07:26] shaoanxli commented on #45405
Currently ，the daily up_squared  board cannot enter the bios , is trying to find another board or wait for chenpeng to enter the lab to see if it can be solved .

[2022-05-07 08:06] stephanosio commented on #45448
@povergoing There is no need to create an issue requesting backport, you can add the `backport v3.0-branch` label to a PR and a backport PR will be automatically created for you (if there is a merge conflict, you may need to manually create one).

[2022-05-07 09:21] AndreyDodonov-EH commented on #45426
@ssharks Thanks for the tip!

I cherry-picked those changes (I'm on [Zephyr SDK NRF version 2.7.99](https://github.com/nrfconnect/sdk-zephyr/tree/v2.7.99-ncs1), Nordic version) as you suggest.

After that TCP is not dying, but I still get fair share of Data buffer allocation errors, even though yes, not infinite and connection leaves on.

[2022-05-07 09:34] povergoing commented on #45448
@stephanosio Thanks for reminding me. Sounds very convenient!

[2022-05-07 09:35] zephyrbot opened #45451 "[backport v3.0-branch] backport of #43845 failed"
This issue was created automatically because the backport of #43845 to `v3.0-branch` failed.

The backport to `v3.0-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.0-branch` and the `compare`/`head` branch is `backport-43845-to-v3.0-branch`.

[2022-05-07 09:39] povergoing commented on #45448
@dkalowsk @stephanosio  I have added the backport tag into the PRs that I need. So should I close this issue?

[2022-05-07 09:40] zephyrbot opened #45454 "[backport v2.7-branch] backport of #45400 failed"
This issue was created automatically because the backport of #45400 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-45400-to-v2.7-branch`.

[2022-05-07 09:40] zephyrbot opened #45455 "[backport v2.7-auditable-branch] backport of #45400 failed"
This issue was created automatically because the backport of #45400 to `v2.7-auditable-branch` failed.

The backport to `v2.7-auditable-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-auditable-branch` and the `compare`/`head` branch is `backport-45400-to-v2.7-auditable-branch`.

[2022-05-07 09:43] #45455 closed

[2022-05-07 09:43] #45454 closed

[2022-05-07 09:52] AndreyDodonov-EH commented on #45426
@ssharks

As far as I understand, fix from @rlubos  in https://github.com/zephyrproject-rtos/zephyr/pull/44227
reuses packets, and preventing from running dry,
and my PR https://github.com/zephyrproject-rtos/zephyr/pull/45437 ensures that pending resend is called right away via mutex_unlock.

But apparently I introduced another dead lock.

It's a little bit hard for me test, because my primary tar

[2022-05-07 09:53] povergoing commented on #45451
waiting for https://github.com/zephyrproject-rtos/zephyr/pull/45452

[2022-05-07 13:13] hunterhu3000 opened #45458 "it8xxx2_evb: tests/drivers/pwm/pwm_api assertion fail"
**Describe the bug**
A clear and concise description of what the bug is.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using -> it8xxx2_evb
 - What have you tried to diagnose or workaround this issue? -> see the comments

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p always -b it8xxx2_evb t

[2022-05-07 13:15] hunterhu3000 commented on #45458
The commit below changed the interface of pwm, but does not remove the mircosecond test in the test case
[code]
I'll provide a PR later

[2022-05-07 14:00] Damian-Nordic commented on #22161
@rettichschnidi Actually, I've been recently working on some settings-related stuff and needed a write command for testing, so created a PR https://github.com/zephyrproject-rtos/zephyr/pull/45459 with both write and delete commands.

[2022-05-07 15:29] hunterhu3000 commented on #45458
In the file ./tests/drivers/pwm/pwm_api/src/test_pwm.c function:
[code]
The code of
[code]
The code does not have the branch of UNIT_USECS. It takes the usec parameters such as "DEFAULT_PERIOD_USEC" the same as nsec. This will cause the period/pulse value out of range in some of the boards.

[2022-05-07 15:30] hunterhu3000 commented on #45458
PR https://github.com/zephyrproject-rtos/zephyr/pull/45461 is created for review. Thanks

[2022-05-07 20:43] MattCampbellST opened #45463 "null function pointer called when using shell logger backend under heavy load"
**Describe the bug**
Using the shell logger back end and under certain heavly load situations can result in calling a null function pointer call in `mpsc_pbuf`. The shell logger back end sets the `notify_drop` callback to null when configuring it's mpsc buffer, but the mpsc code doesn't do a null check.

This was exposed in my application when I turned on mcumgr shell interface. This enables the d

[2022-05-08 00:29] #43034 closed

[2022-05-08 14:39] yashi opened #45468 "Is uart_poll_in() blocking or not?"
I don't know which one is right or wrong.  There is mismatch in documentation and implementations for `uart_poll_in()`. The documentation for UART states that both `uart_poll_in()` and `uart_poll_out()` are blocking functions:

https://docs.zephyrproject.org/latest/hardware/peripherals/uart.html

But, from the first commit, `uart_poll_in()` has never be a blocking function, and most implementation

[2022-05-09 00:30] #42102 closed

[2022-05-09 00:30] #41995 closed

[2022-05-09 06:13] ssharks commented on #45426
Thanks for sharing your progress. The matter is not easy. A few things to keep in mind:

Both the sending, re-sending and send_window are competing for the same pool of buffers. Send packets are quickly feed up, but when the send window grabs buffers, it won't release them until the data is acknowledged by the receiver or the connection terminates. Using a too big send window (by one or more conne

[2022-05-09 07:27] #45012 closed

[2022-05-09 07:28] #42587 closed

[2022-05-09 07:50] ssharks commented on #45367
@AndreyDodonov-EH
As indicated by @rlubos, most of the time is spend in the polling loop in the zsock_sendto_ctx. An alternative implementation has been made by using exponentially increasing delays in:
https://github.com/ssharks/zephyr/commit/00b744d67d2c07210b614565bf402616c14f4d29

Using the test: test_v4_send_recv_large

With exponential delay:
Preempt: 10.3
Coop: 6.2

With conventional 100 ms

[2022-05-09 08:23] ssharks commented on #45367
Other significant contributors to the low throughput are the enormous amount of context switches as well as the lack of a real congestion avoidance algorithm using fast re-transmit or something similar. Implementation of Nagle's algorithm has to potential to significantly reduce the amount of context switches when sending small chunks of data.

Implementing a fast re-transmit would make the TCP st

[2022-05-09 09:24] AndreyDodonov-EH commented on #45426
@ssharks

Thanks for your input!

Regarding the first consideration: there is a [default send window](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/ip/tcp.c#L41).
However, I totally agree that user is responsible for explicitly setting the Window as well, if needed.

But another point for the user to consider, and normally this point shouldn't be considered, is the size of the

[2022-05-09 10:13] rlubos commented on #45426
This sounds correct. That's why I think we should focus on implementing POLLOUT properly, so that a non-blocking socket will not unnecessarily occupy the buffers if it won't be able to send anyway. This would require some kind of signalling mechanism from TCP to net_context/socket, to notify that TX window is avaialble again. This could also be used in case of a blocking socket, so that it doesn't

[2022-05-09 10:46] AndreyDodonov-EH commented on #45426
@rlubos
Yes, this would be great, eliminating flooding the socket in case of non-blocking and need for sleep in case of blocking.

@ssharks That's what I meant when saying that ideally we shouldn't use sleep  `k_sleep(WAIT_BUFS);` at all instead of adjusting its value.

[2022-05-09 10:59] oscarbaselga opened #45482 "Adding, building and linking Lua in a project"
**Bug description**
My project has to integrate the Lua scripting language to implement user services. For that purpose, I first included its source code to the project, then coded cmake to build this code and to link the library to the final target, and finally invoked the C API of Lua from the main function. This does not work, it failed at compile time and run time.

My environment:
- NXP FRDM

[2022-05-09 11:21] boaks commented on #23424
See [zephyr/mbedtls](https://github.com/zephyrproject-rtos/mbedtls/pull/36)

[2022-05-09 11:57] Olfox59 commented on #8139
Hi guys, any news about this driver please ? thanks a lot

[2022-05-09 12:13] vincemulhollon commented on #44777
OK I opened

https://github.com/mcu-tools/mcuboot/issues/1361

and will close this issue.

Thanks for your time!

[2022-05-09 12:13] #44777 closed

[2022-05-09 12:14] stephanosio commented on #45482
This is not a Zephyr bug, but a problem/bug with something you are working on.

[2022-05-09 12:16] vishnusudhan opened #45486 "MCUBootloader can't building for imxrt1160_evk_cm7 core"
I tried the following procedure to build the MCU Bootloader for imxrt1160 EVK for CM7 core.

1. In the ZEPHYRBASE/bootloader/mcuboot/zephyr/prj.conf file , I included KEY value as    CONFIG_BOOT_SIGNATURE_KEY_FILE="root_rsa_2048.pem " (for singing the image)
2.  Now using the "**west build -s boot/zephyr -b mimxrt1160_evk_cm7**" , I build the MCUBootloader.
      While building , I observed fatal

[2022-05-09 13:54] #45359 closed

[2022-05-09 15:27] dkalowsk commented on #45448
@povergoing linking the backport to this issue would help give a reason for why it was needed/done.

[2022-05-09 15:43] peter-mitsis opened #45493 "Multiple Reader Single Writer Semaphores"
## Introduction

I would like to propose the addition of multiple reader single writer semaphores (RWsemaphores) to the Zephyr kernel.

### Problem description

It is a relatively common situation where a resource may have many threads that want access to it, but few threads that need to modify it. A RWsemaphore has been a common solution to that class of problem in a variety of operating systems.

[2022-05-09 16:46] #44557 closed

[2022-05-09 20:48] #45355 closed

[2022-05-10 01:43] povergoing commented on #45448
The followings are the backport link:

https://github.com/zephyrproject-rtos/zephyr/pull/45452
https://github.com/zephyrproject-rtos/zephyr/pull/45450 depends on #45452
https://github.com/zephyrproject-rtos/zephyr/issues/45451 also needs #45452, I will manually fix the auto backport failure when #45452 merged

[2022-05-10 04:11] manuja2000 commented on #45114
Hi @erwango,
Is there anything that can help/resolve this issue?

[2022-05-10 06:42] r2r0 commented on #43115
@FRASTM any chance to go forward?

[2022-05-10 06:58] kmeinhar commented on #43887
Same issue on board `atsamd20_xpro`. Is there a quick fix or work around?

[2022-05-10 08:14] FRASTM commented on #43115
I have a branch here https://github.com/FRASTM/zephyr/tree/spi_using_dma
with the following recommended order for the SPI communication sequence:
_When starting communication using DMA, to prevent DMA channel management raising
error events, these steps must be followed in order:
1. Enable DMA Rx buffer in the RXDMAEN bit in the SPI_CR2 register, if DMA Rx is
used.
2. Enable DMA streams for Tx and

[2022-05-10 08:15] rlubos commented on #45426
I'm working on a semaphore-based solution to notify the upper layers whether trasfers are possible. The idea is that the upper layer could monitor the semaphore status with `k_poll()` instead of waiting blindly. It should also allow to monitor the semaphore in `poll()` to implmemnt `POLLOUT`.

[2022-05-10 08:20] kunoh commented on #44647
Thank you @danieldegrasse, it works when CONFIG_IMG_ERASE_PROGRESSIVELY is enabled!

[2022-05-10 08:37] kunoh opened #45505 "NXP MIMXRT1050-EVKB: MCUBoot Serial Recover: mcumgr hangs when trying to upload image"
**Describe the bug**
When entering serial recovery mode in MCUboot and trying to upload an image, the progress bar stays at 0B`
[code]

**To Reproduce**
Board config bootloader/mcuboot/boot/zephyr/boards/mimxrt1050_evk_qspi.conf
[code]

west build -b mimxrt1050_evk_qspi bootloader/mcuboot/boot/zephyr/ -d build-mcuboot -- -DOVERLAY_CONFIG='overlay-rsa.conf;serial_recovery.conf' -DCONFIG_BUILD_OUTPU

[2022-05-10 08:37] AndreyDodonov-EH commented on #45426
@rlubos Just a consideration, would it make sense to use signal of k_poll_signal_raise, because then we can pass extra integer?

Because ideally we need to know how much data we can send, not just that we can send.
That it also consistent with return codes of poll and select.

As a side note, I think there is also a mapping error in VTABLE, that socket poll calls zephyr select.

[2022-05-10 09:02] rlubos commented on #45426
I considered using signals initially, but it'd be more complex to implement signalling properly due to synchronization issues. The socket layer would need to reset the signal with `k_poll_signal_init()` before using it in `k_poll()` (at least that's what documentation states), so we'd have a potential race condition, in case for example data is acknowledged at TCP level before the signal is reset,

[2022-05-10 09:27] AndreyDodonov-EH commented on #45426
I checked POSIX, and you are right, it should just return number of sockets available, and since we are doing it anyway on a socket-per-socket basis, returning just 1 if we can send data again is fine.
Middlewares, e.g. civetweb also expect that: https://github.com/civetweb/civetweb/blob/master/src/civetweb.c#L5966

As for the poll/select, I formulated it incorrectly, sorry.
I just remembered that

[2022-05-10 10:33] erwango commented on #45114
@manuja2000 I'm having a look. Though, I'm not able to reproduce your set up completely as I'm not able to establish connection between client and server.

Isn't it `echo_server` that you're using?

Also, did you enable specific option to automatically connect to SSID? Did you add code from https://github.com/jptcarreira/zephyr-demo-wifi/blob/master/zephyr-demo-wifi/ to zephyr echo sample?

[2022-05-10 11:23] ssharks commented on #45426
Great work guys, the k_poll implementation will be a huge improvement over the current wait loop. My proposed exponential wait time was a low effort intermediate solution to gain a quick significant improvement, but definitely not final solution. This will work for the case where the transmit buffer is full.

I'm a little skeptical if it is feasible to make a rock solid implementation for the situ

[2022-05-10 11:30] rakons opened #45509 "ipc: ipc_icmsg: Can silently drop buffer if message is too big"
**Description**
Target platform: nrf5340dk_nrf5340
Application: Internal tests that uses ipc_service with ICMSG backend.

When we receive a message that cannot fit the callback buffer, in mbox_callback_process, when calling icmsg_buf_read we will get -ENOMEM. This error is not handled properly and the message is just silently dropped. I would an assertion on such an error or some error message at

[2022-05-10 11:48] AndreyDodonov-EH commented on #45426
@ssharks
If there are no buffers, then with polling solution from @rlubos, poll will return only once there are free buffers again.
Or once timeout happens (if specified). Then it's up to the app to retry.

Consider e.g. civetwebs usage of polling.

We send: https://github.com/civetweb/civetweb/blob/master/src/civetweb.c#L6083
Then if there are no buffers - we poll, until some buffers are free: ht

[2022-05-10 13:25] GuptaAshi-Eaton commented on #29394
Hello,

By when we can expect support for ESP32-S3 in Zephyr ? As per timeline given on https://www.espressif.com/en/news/new_operating_systems_in_ESP32 this would have available by Q1. Is there any new timeline ?

[2022-05-10 13:40] krish2718 opened #45514 "UDP Packet socket doesn't do L2 header processing"
**Describe the bug**
Datagram socket (https://docs.zephyrproject.org/3.0.0/reference/kconfig/CONFIG_NET_SOCKETS_PACKET_DGRAM.html) should handle L2 header processing i.e., adding L2 header from sockaddr_ll in TX and removing L2 header and populating sockaddr_ll in the RX. But this is not being done and the packet is sent as is.

**To Reproduce**
Steps to reproduce the behavior:
Run the unit test:

[2022-05-10 14:05] rlubos commented on #45426
I've prepared a proof-of-concept implementation of the TX window signaling and POLLOUT:
https://github.com/rlubos/zephyr/tree/tcp/tx-window-avaialble-signalling

I've tested it briefly and it seems to work fine, the transfer in TCP test gets a significant boost, I've also added a test that verifies the POLLOUT for stream sockets. I'm still not confident enough though to propose it as a PR for seve

[2022-05-10 14:10] rlubos commented on #45426
Actually, I have to agree with @ssharks here regarding net_buf/net_pkt availability, I don't really see a good/easy way to monitor this for several reasons:
1. Mem slab used as a net_pkt pool is not monitorable by `k_poll()`,
2. I don't see an easy way to predict how many net_bufs would actually be needed to sucessfully trasfer a packet, since due to all of the cloning taking place at the TCP laye

[2022-05-10 14:42] andyross commented on #44872
Closing this per earlier discussion.  I think we have a good handle on the performance characteristics here and they don't seem to be a blocker for real applications on hardware.  We can always reopen or add new issues to track some of the features discussed (e.g. doing cache management at "migration time", adjusting interrupt targetting, etc...)

[2022-05-10 14:57] DerekSnell opened #45518 "LPCXpresso55S69 incorrect device name for JLink runner"
**Describe the bug**
Device name passed to JLink runner is incorrect for the LPC55S69 device.  This causes issues flashing the device when flash size is large.

**To Reproduce**
Build an application where flash size exceeds 300KB.  Then use west flash command with JLink runner.  JLink programming will fail.

**Expected behavior**
JLink should be able to program the flash up to maximum flash size.

[2022-05-10 15:54] stephanosio commented on #45336
This issue should stay open until the Zephyr CI is updated to use the new SDK release.

[2022-05-10 16:05] #45518 closed

[2022-05-10 16:30] mbolivar-nordic commented on #45468
@yashi based on the release working group discussion:

- The functions are not meant to be blocking based on their existing documentation in Doxygen, so the bug is in the .rst documentation page and in the drivers which implement this according to the .rst instead of doxygen
- Yes, could you please raise bugs against the drivers which are busy-waiting forever?
- Do you think you can send a documen

[2022-05-10 16:32] #45463 closed

[2022-05-10 16:33] mbolivar-nordic commented on #45458
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/45461

[2022-05-10 16:33] #45458 closed

[2022-05-10 16:35] mbolivar-nordic commented on #45443
@nandojve if you have time to look at this, could you please self-assign this issue?

[2022-05-10 16:39] #45267 closed

[2022-05-10 16:42] #41650 closed

[2022-05-10 16:43] mbolivar-nordic commented on #45394
@PavelVPV could you please take a look and decide if it's a bug or not?

[2022-05-10 16:52] mbolivar-nordic commented on #45337
@torres98 can you please post a reproducer? matrix_test is not an upstream application, so we cannot diagnose this issue without more information

[2022-05-10 16:55] #45448 closed

[2022-05-10 16:56] #44284 closed

[2022-05-10 16:58] mbolivar-nordic commented on #45324
@AndreyDodonov-EH could you please send a PR removing the unused option as suggested by @jukkar ?

[2022-05-10 17:05] stephanosio commented on #45337
This is because the `timing.h` is missing the global `extern "C"`:

https://github.com/zephyrproject-rtos/zephyr/blob/83c7baf34a0de457dcd6b1e178bb898645a8cc01/include/zephyr/kernel.h#L24-L26

[2022-05-10 17:13] AndreyDodonov-EH commented on #45426
I cherry-picked it on top of Zephyr-SDK 2.7.99, and it seems to work just fine.
I did some stress-test with 4 KB chunks in send on Wi-Fi AP and civetweb as webserver, which were previously failing, and they are just fine.

Also I extended http_clinet with zsock_poll, it also seems to work stable.

[2022-05-10 17:29] AndreyDodonov-EH commented on #45426
Side note.
I also find current memory sharing system extremely complex and limiting in some aspects.
I have a feeling that with how it is, it will be quite hard to extend TCP.

And judging by this https://github.com/zephyrproject-rtos/zephyr/issues/45379, as well as observations which I started to sum up here - https://github.com/zephyrproject-rtos/zephyr/issues/45367#issuecomment-1120905595, ther

[2022-05-10 19:42] danieldegrasse opened #45528 "Support LittleFS and Settings subsystem on LPC55s69"
**Is your enhancement proposal related to a problem? Please describe.**
The LPC55s69 flash driver does not support using LittleFS with the default configuration or the Zephyr settings subsystem. This is due to the requirement enforced by the LPC flash driver that all writes be in multiples of 512 bytes.

**Describe the solution you'd like**
The LPC flash driver should support bytes of less than 51

[2022-05-10 20:03] mrkhldn opened #45529 "GdbStub get_mem_region bug"
**Describe the bug**
When analyzing a core dump, the get_mem_region function in gdbstub.py currently will return a given memory region if the desired address is equal to the "end" of the memory region. A valid memory region should only be returned if the given address is less than the "end". Otherwise we won't be able to read the value at "addr". Additionally, a different memory region may have th

[2022-05-10 20:04] cfriedt commented on #45529
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/42711

[2022-05-10 22:22] atoncetti commented on #43465
Hi @cvinayak,

unfortunately at the moment I do not have another device at hand on which I can flash the peripheral_hr (is there a way to simulate one?)

Anyways I've tried to run the samples/bluetooth/central on the bbc_microbit and I got similar results as above, namely, the bbc_microbit picks up a device address that is incorrect:

[code]

For all three tests I've used a device created with the

[2022-05-11 00:29] #43117 closed

[2022-05-11 02:25] yashi opened #45532 "uart_msp432p4xx_poll_in() seems to be a blocking function"
**Describe the bug**

As per #45468, I'm filling a bug report against the UART driver for TI Simplelink MSP432P4XX.  The function `uart_msp432p4xx_poll_in()` seems to be a blocking call, as [wrongly documented in our doc](https://docs.zephyrproject.org/latest/hardware/peripherals/uart.html).  The function, instead, should be non-blocking and must return `-1` when there is no valid data.

**Expecte

[2022-05-11 02:28] yashi opened #45533 "uart_imx_poll_in() seems to be a blocking function"
**Describe the bug**

As per #45468, I'm filling a bug report against the UART driver for NXP i.MX7.  The function `uart_imx_poll_in()` seems to be a blocking call, as [wrongly documented in our doc](https://docs.zephyrproject.org/latest/hardware/peripherals/uart.html).  The function, instead, should be non-blocking and must return `-1` when there is no valid data.

**Expected behavior**
Non block

[2022-05-11 02:29] yashi commented on #45468
OK. Thanks.

- #45532
- #45533

Will do.

[2022-05-11 05:26] vishnusudhan commented on #45486
I have also tried to build the unsigned image, just enabled CONFIG_BOOTLOADER_MCUBOOT=y & start to build the MCUBootloader by giving command as "**west build -s boot/zephyr -b mimxrt1160_evk_cm7**", but still getting same issue as

**home/vishnusudhan/zephyr-sdk-0.13.2/arm-zephyr-eabi/bin/../lib/gcc/arm-zephyr-eabi/10.3.0/../../../../arm-zephyr-eabi/bin/ld.bfd: zephyr/zephyr_pre0.elf section **rod

[2022-05-11 06:57] Laczen commented on #45528
@danieldegrasse, I have looked at the issue and the proposed solution (#45526 ). The solution uses a read/modify/erase/write method that will increase the wear and might leave zephyr users breaking their system early. Next to this it also might result in a broken littlefs system or lost data (nvs) whenever a write is interrupted.

For nvs let's consider a flash area (page) that contains ate's, the

[2022-05-11 07:09] torres98 commented on #45337
@stephanosio Thank you for the answer, i tried adding that option to the `timing.h` file and it compiles correctly. Is this change going to be added to the next release?

[2022-05-11 07:11] stephanosio commented on #45337
Please feel free to create a PR if you would like; if not, I will do that to get this change in for 3.1.0.

[2022-05-11 07:13] torres98 commented on #45337
I'll surely do that. Thanks again!

[2022-05-11 07:14] stephanosio commented on #45337
That's great, thanks.

I will keep this issue open so that we do not forget to fix this for 3.1.0. When you create a PR, you can specify `Fixes #45337` to link this issue.

[2022-05-11 07:31] rlubos commented on #45426
Well, a common packet/buffer pool might bring some complexity and unpredictable behaviour when it comes to timing, but on the other hand, it also allows to lower the overall memory consumption, if we had to keep a separate memory pool for each net_context for instance, we'd need way to use more memory. With TCP we need to be especially careful with buffer number selection as first it allocates two

[2022-05-11 08:02] Thalley commented on #31306
There has been a consensus that this is a good idea.

The suggestion has been to do a primary service discovery, and for each service found check if anything has registered for the service UUID. If so, then we should perform a characteristic (or perhaps an attribute) discovery, and then provide the attributes in the services to the registering modules.

For that we can either
A) For each service,

[2022-05-11 08:03] Thalley commented on #31306
@asbjornsabo @MariuszSkamra @rymanluk @alwa-nordic @runegrunnet Please provide input on the above if my memory has failed me in terms of what we discussed.

[2022-05-11 08:16] AndreyDodonov-EH commented on #45324
@mbolivar-nordic Yeah, will do!
But we need to keep this (or similar) issue open to make sure that we know that there is implementation missing.

[2022-05-11 08:43] markusarnoldsson opened #45542 "Implementing firmware image decompression in img_mgmt_upload()"
Hey!

I am working on implementing decompression of a firmware image file. I believe this should be done in img_mgmt_upload() and decompressed chunks.

I further believe that It should be within the cbor_read_object, since before it, all values are at zero and after they are the compressed values. After cbor_read_object, upload_inspect and so forth are called, where I want the decompressed values

[2022-05-11 08:47] #45303 closed

[2022-05-11 08:49] CXsCode opened #45543 "Build samples/bluetooth/broadcast_audio_sink raises an error"
**Describe the bug**
Direct build samples/bluetooth/broadcast_audio_sink for nrf52840dk_nrf52840

**To Reproduce**
Steps to reproduce the behavior:

cd zephyrproject/zephyr
west build -b nrf52840dk_nrf52840 -p auto -d 52840 .\samples\bluetooth\broadcast_audio_sink\

**Expected behavior**
Is this a bug or does this demo not support nrf52840dk_nrf52840?

**Logs and console output**
warning: default

[2022-05-11 08:55] xnaveira opened #45545 "K_ESSENTIAL option doesn't have any effect on k_create_thread"
**Describe the bug**
In our application we spawn a thread at innit that will be running a loop during all the lifecycle of the app. If that thread stops execution or exits for any reason we want the whole system to restart. To achieve this we configure the thread with the option **K_ESSENTIAL** which according to the documentation:

*This option tags the thread as an essential thread. This instruc

[2022-05-11 09:00] finikorg commented on #45341
Fix merged

[2022-05-11 09:00] #45341 closed

[2022-05-11 09:03] de-nordic commented on #45542
This is not an issue, this is topic for discussion.

[2022-05-11 09:07] shaoanxli commented on #45371
Before this bug , the test had a build error after the commit: 7ad2e604bb3155c09a484717e1252c8f404640c0

console output:
[code]
I think two bugs are related.

[2022-05-11 09:10] carlescufi commented on #44449
SLIP + logging requires 2 UARTs, so this platform simply doesn't support networking at the moment.

[2022-05-11 09:10] #44449 closed

[2022-05-11 09:11] #45542 closed

[2022-05-11 09:11] carlescufi commented on #44507
Closing as per [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/44507#issuecomment-1099066019)

[2022-05-11 09:11] #44507 closed

[2022-05-11 09:12] de-nordic commented on #45542
@markusarnoldsson You can just press the "Convert to discussion" at the right bottom of the screen (next to green Comment).

[2022-05-11 09:13] carlescufi commented on #44473
This is being tracked in #34044

[2022-05-11 09:13] #44473 closed

[2022-05-11 09:13] de-nordic commented on #45542
And the `cbor_read_object` is no more because we have converted mcumgr to zcbor.

[2022-05-11 09:42] LixinGuoX commented on #44925
Here is the list of tests that would be affected by the hung state of `tests/boards/intel_adsp/smoke/`
[code]

[2022-05-11 10:28] jukkar commented on #45365
Are you familiar with the promiscuous mode sample app at `samples/net/promiscuous_mode`, it shows how to use the promiscuous mode API. In short, if you enable promiscuous mode by calling ` net_promisc_mode_on()`, then you need to have a handler that will need to unref the received packet, otherwise there is a leak.

[2022-05-11 10:43] AndreyDodonov-EH commented on #45426
Did some more testing with the cherry-picked polling implementation, and there are some issues with TLS.

`tls_mbedtls_handshake` function prints `TLS handshake error`, which was working previously

[2022-05-11 10:47] PavelVPV opened #45549 "bt_gatt_write_without_response_cb doesn't use callback"
**Describe the bug**
Seems like in this PR https://github.com/zephyrproject-rtos/zephyr/pull/44269 `bt_gatt_write_without_response_cb` was refactored so that it doesn't use `func` callback anymore. This brakes some mesh functionality which relies on the callback.

[2022-05-11 10:48] PavelVPV commented on #45394
Hi @aralex1 , yes, you are right, this is a bug. I'll fix this.

[2022-05-11 11:03] bob2oneil commented on #45365
I understand, but this then implies that using standard POSIX APIs at the network layer is incompatible with promiscuous mode for the network interface, that is Zephyr is not compatible with that standard.  Is there any way that the underlying collection pointer to be freed could be exposed to say the zsock_recv() API so that the application could free it?, or would it just make sense that Zephyr

[2022-05-11 11:15] rlubos commented on #45365
I think we've discussed this already in https://github.com/zephyrproject-rtos/zephyr/issues/36748.

TLDR the conclusion was that the module enabled with `CONFIG_NET_PROMISCUOUS_MODE` is a standalone API, not integrated with sockets, therefore I think it's safe to say that Zephyr does not support promiscuous RAW sockets. Threfore I think the issue should rather be cosidered as an enhancement, not a

[2022-05-11 11:24] bob2oneil commented on #45365
Yes, the discussion from the past is the same one, over time I have found that I really needed that raw socket, which is not uncommon for any Layer 2 networking device, and as the Zephyr code base as it has evolved since my original posting, changes/updates have not addressed that issue.

Is the level of effort described to have the **zsock_recv** API simply free up the local allocation a complex

[2022-05-11 12:26] aralex1 commented on #45394
Hi @PavelVPV, thanks for checking this bug.

[2022-05-11 12:42] jukkar commented on #45365
You could have a somewhat hackish workaround by having a "dummy" promiscuous mode handler that just discards the received packets, and then your raw socket should also receive all the same packets. This is not optimal of course but should work until we get support for proper promiscuous mode sockets.

[2022-05-11 12:48] rlubos commented on #45514
Thanks for the report @krish2718

I've investigated the issue briefly and noticed two problems with the UDP packet socket handling:
1. The ethernet header does not seem to be filled correctly on the TX path, for example, the EtherType field in the header is empty.
2. Because of this, the packet is rejected by the Ethernet L2, when the packet is being processed on the RX path. At the same time, the

[2022-05-11 13:10] erwango opened #45557 "doc: Some generic yaml bindings don't show up in dts/api/bindings.html#dt-no-vendor"
**Describe the bug**
pincfg-node.yaml and pintrcl-device.yaml don't show up in https://docs.zephyrproject.org/latest/build/dts/api/bindings.html#dt-no-vendor

**Expected behavior**
All bindings are available in https://docs.zephyrproject.org/latest/build/dts/api/bindings.html

**Impact**
annoyance

[2022-05-11 13:22] Thalley opened #45558 "LE Audio: Update MICP API with new naming scheme"
**Is your enhancement proposal related to a problem? Please describe.**
Apply the new naming scheme from https://github.com/zephyrproject-rtos/zephyr/issues/40920 to the MICP implementation and API

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-05-11 13:27] krish2718 commented on #45514
Thanks, Robert. It is inline with my investigations as well, for now, I have workedaround this in the application to do L2 processing.

[2022-05-11 14:14] anangl commented on #45441
The problem is not in the SPI NOR flash driver but in the Microchip XEC QMSPI driver. SPI is a full-duplex interface, so when both TX and RX buffers are passed to the `spi_transceive` function, they should be processed in parallel, not first TX then RX, like in the QMSPI driver: https://github.com/zephyrproject-rtos/zephyr/blob/4966de201407e255542362941000f3824abf974d/drivers/spi/spi_xec_qmspi.c#L

[2022-05-11 14:17] andyross commented on #45545
I originally assumed this got dropped in the rework of thread abort that happened about a year ago.  But here's the commit that removes the old implementation, and it's not present there either (it's just an assert): https://github.com/zephyrproject-rtos/zephyr/commit/c0c8cb0e97617c6b35fc8f27de8c82d74ada11fc

So I guess we've never done this right per the docs.  Oops.  Should be a simple fix.

[2022-05-11 14:59] PerMac commented on #45371
I also see the same test failing on nrf52840dk_nrf52840 also with stack overflow:
[code]

[2022-05-11 15:30] andyross commented on #45545
No, we just never did it the way we documented it.  I don't see why we shouldn't match the docs, your use of K_ESSENTIAL as a kind of watchdog feature seems very reasonable to me, and the added code is literally as simple as `if(z_is_thread_essential(t)) k_panic();` in the right spot on the abort path.

[2022-05-11 17:51] gordonklaus opened #45564 "Zephyr does not boot with CONFIG_PM=y"
I am running Zephyr v2.7.2 on the nucleo_l552ze_q board.

Not long after enabling CONFIG_PM, I produced a build that simply does not boot.  Where there is normally a banner announcing the Zephyr version, there is nothing, and the system has clearly halted (my normally blinking LED is dark).

Oddly, arbitrary changes to the code/configuration make the problem disappear and reappear.  For example, p

[2022-05-11 21:29] junkbondtrader opened #45566 "Out of tree soc sample"
**Is your enhancement proposal related to a problem? Please describe.**
I have been unable to pull a riscv-privilege soc out of tree. Placing it in an application/soc/riscv/riscv-privilege folder leads to the Kconfigs seemingly not being discovered. Placing it in an application/soc/riscv folder results in unresolved dependencies.

**Describe the solution you'd like**
I would love to see a sample o

[2022-05-11 22:11] danieldegrasse commented on #45505
@kunoh Just wanted to give you a heads up- I am looking into this right now, and it seems that the issue is likely similar to the USB DFU mode problem. Decreasing the size of the MCUBoot partitions (from 3MB to 128K) fixed the issue for me. I'm looking into enabling progressive erase for MCUBoot now, to see if the full partition size can be supported.

[2022-05-11 22:21] chrihell opened #45568 "STM32H7xx: Driver for internal flash memory partially uses a fixed flash program word size, which doesn't fit for all STM32H7xx SOCs (e.g. STM32H7A3, STM32H7B0, STM32H7B3) leading to potential flash data corruption"
**Describe the bug**
When running an adapted version of the Zephyr littlefs example on a Nucelo-H7A3ZI-Q board it fails to create and format the littlefs filesystem placed in an internal flash partition.

The UART log output shows that littlefs cannot successfully create the filesystem and fails to create superblock 0 with error code [-28](https://github.com/littlefs-project/littlefs/blob/40dba4a5

[2022-05-11 23:07] danieldegrasse commented on #45505
@kunoh Progressive erase can be supported by fixing the flash node name in the RT1050 QSPI DTS file (see PR #45569). With this change and `CONFIG_BOOT_ERASE_PROGRESSIVELY=y`, I was able to download an image using the MCUBoot serial recovery feature and mcumgr. Please let me know if these changes work for you.

[2022-05-12 03:21] chen-png commented on #45405
this is mainly caused by the bios console redirection setting, not related to zephyr code.
because now we could still get test results from monitor screen via HDMI, the only problem was that we couldn't get results from device serial COM0, because that after d5e7732, we got results from bios efi console directly, if we want to access efi via serial, we need to enable this console redirection for C

[2022-05-12 03:21] #45405 closed

[2022-05-12 07:14] jukkar commented on #45365
Yeah, I was thinking a thread that would set the interface to promiscuous mode and have a while loop like you have above.
After some code digging there seems to be a simpler way. The promiscuous packets are processed in https://github.com/zephyrproject-rtos/zephyr/blob/bb8575962da291e3b75dfb3abe2fcb9341f76be2/subsys/net/ip/net_if.c#L3900 and if the interface is set to promiscuous mode but there is

[2022-05-12 08:18] kborowski2 commented on #43115
It still does not work as expected. I suspect that now we have a problem that transmission can be started when NSS is already active, which causes data corruption. Is there any hardware mechanism, which prevent that kind of behavior?

[2022-05-12 08:19] luca-fancellu opened #45578 "cmake: gcc --print-multi-directory doesn't print full path and checks fails"
**Describe the bug**

When building Zephyr through environment like yocto using cross-compiling gcc (not zephyr toolchain), the configuration stops
because of a check in a cmake file that expects a full path to a library file but instead just the name of the file is found in the variable.
Here the problem in zephyr/cmake/modules/extensions.cmake:2068:
[code]

The problem is in these lines:
[code]

[2022-05-12 08:32] ABOSTM commented on #45568
@chrihell ,
Thanks for reporting this issue, and welcome to Zephyr community.
Thank you also for your analysis, which is very detailed, and further more exact,
And finally thanks for the fix you proposed, and the test you performed, it looks good.

So you made all the job, thus I propose you to continu the Zephyr experience, and push, on your own, the fix that you proposed in a Pull Request.

[2022-05-12 08:43] tfir1981 opened #45579 "[v2.7.x] Application defined Shell Command not registered"
**Describe the bug**
I implemented some submodules in my Zephyr-Project with some shell command impelmentations. When i was still working on zephyr version 2.6.0 everything worked fine.

Now i did an Update to Zephyr 2.7.1 and later to 2.7.2. Since the Update i faced the problem, that my shell command have disappeared. When i went back to 2.6.0 everything is fine again.

If the source files with m

[2022-05-12 09:52] PerMac commented on #43515
I am reopening this issue since I also see this failures on nrf boards: nrf9160dk_nrf9160 nrf5340dk_nrf5340_cpuapp (zephyr-v3.0.0-3725-g806ee8601c). E.g. I can get it failed on nrf9160dk on my desk ~5/10 runs.
Log from nrf9160dk
[code]
Also (roughly same often) I see such failure (not sure how related):
[code]

It can happen that this test fails 3 times in a row making our on-target test suite fai

[2022-05-12 10:20] pflonz opened #45580 "ESP32-C3: CONFIG_ESP32_PHY_MAX_TX_POWER undeclared error when building with CONFIG_BT=y"
**Describe the bug**
As soon as I activate the flag CONFIG_BT I get the following error during the build of the firmware:

[code]

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
    - ESP32-C3 DevKitM1
 - What have you tried to diagnose or workaround this issue?
    - If I enable the following flags I am a

[2022-05-12 10:26] PerMac opened #45581 "samples: usb: mass: Sample.usb.mass_flash_fatfs fails on non-secure nrf5340dk"
**Describe the bug**
A test scenario sample.usb.mass_flash_fatfs https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/subsys/usb/mass/sample.yaml#L29 fails on nrf5340dk_nrf5340_cpuapp_ns. The test expects
`The device is put in USB mass storage mode.` in the output. However, the only output produced is:
[code]
and the test timeout

The test passes on not "non-secure" version, i.e. nrf5340

[2022-05-12 10:45] 2Eagle2 opened #45583 "Typo in definition of lsm6ds0.h"
threre is typo in definition
zephyr/drivers/sensor/lsm6ds0/lsm6ds0.h:362

there is
#define LSM6DS0_DEFALUT_ACCEL_FULLSCALE
and should be:
#define LSM6DS0_DEFAULT_ACCEL_FULLSCALE

because of that there is no way how to build CONFIG_LSM6DS0_ACCEL_FULLSCALE = 16

[2022-05-12 10:52] cvinayak commented on #45404
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/43385 or https://github.com/zephyrproject-rtos/zephyr/pull/43480

[2022-05-12 10:52] #45404 closed

[2022-05-12 11:05] cvinayak commented on #45172
@asbjornsabo @Emil-Gydesen-Bose  as you have done a detailed analysis and may have solutions that can be discussed, may be you could send a PR?

[2022-05-12 11:11] cvinayak commented on #45394
@PavelVPV Adding the `Fixes #45394` in the PR description would link it with this issue, adding as a comment does not.

[2022-05-12 11:23] cvinayak commented on #43718
@jori-nordic I will assume you will resume discussion based on the work you are doing here https://github.com/jori-nordic/zephyr/commit/2215bf0a945bc1f84ebb2a2c9b5b2d6754877b16

[2022-05-12 11:32] cvinayak commented on #43465
@atoncetti I will will try out with nRF Connect android app and check if I get similar malformed data using samples/bluetooth/central on bbc_microbit board is observed.

[2022-05-12 11:38] scottwcpg commented on #45441
I can accept the bug.  I wish the SPI driver documentation was more clear in stating the buffers must be processed in parallel.
NOTE: We have a new user requiring SPI NOR and multiple old users no using SPI NOR (using the QMSPI as is to talk to SPI flash).  We can't force all the current users to immediately update their application code.  I am proposing a QMSPI Kconfig defaulting to OFF for this

[2022-05-12 11:58] Damian-Nordic opened #45591 "settings: using the settings system as a key-value store and retrieve system is slow"
**Is your enhancement proposal related to a problem? Please describe.**
I'm working on a project that writes a few settings on each boot. It turns out it causes performance degradation, namely, each boot takes about 70ms more than the previous one:

[code]

Some application characteristics in the tested scenario:
- Due to the nature of the solution - we don't know all possible keys in advance - th

[2022-05-12 11:59] Damian-Nordic commented on #45591
@Laczen fyi

[2022-05-12 12:33] PerMac opened #45593 "tests: newlib: test_malloc_thread_safety fails on nrf9160dk_nrf9160_ns"
**Describe the bug**
A test  test_malloc_thread_safety from https://github.com/zephyrproject-rtos/zephyr/blob/main/tests/lib/newlib/thread_safety/testcase.yaml#L35 fails on nrf9160dk_nrf9160_ns

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf9160dk connected
2. run `./scripts/twister -s tests/lib/newlib/thread_safety/libraries.libc.newlib.thread_safety.userspace.stress -p nrf9160dk_n

[2022-05-12 12:55] Thalley opened #45595 "LE Audio: Add LC3 TX for Unicast Server Sample"
**Is your enhancement proposal related to a problem? Please describe.**
The LE Audio unicast server sample had TX capabilities added by https://github.com/zephyrproject-rtos/zephyr/pull/42964, but without LC3 support.

Besides LC3 support, we may want to refactor the code such that the code for sending over LC3 and the unencoded data is more separated (e.g. move the TX and RX handling into new fil

[2022-05-12 13:24] PerMac opened #45596 "samples: Code relocation nocopy sample has some unusual failure on nrf5340dk"
**Describe the bug**
A hex produced by sample for "code relocation nocopy" https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/application_development/code_relocation_nocopy/sample.yaml#L5 is unflashable and casues twister failures on nrf5340dk_nrf5340_cpuapp. I think there are couple of issues:
- twister (and west) has a timeout for flashing operation set to 20 sec and cannot finish th

[2022-05-12 13:27] erwango commented on #45583
@2Eagle2 Thanks for raising this. Would you be able to push a PR to fix this directly ?

[2022-05-12 13:40] jeronimoagullo commented on #33876
I am facing the same issue when I try to build the example with TensorFlow Lite, which requires the use of newlibc too.
I there any update? Thanks

[2022-05-12 13:48] sylvioalves commented on #33876
Hi, please, update Zephyr to latest main, run `west update` then  `west espressif update`.
Notice that now ESP32 uses Zephyr-SDK 0.14.1. Please, also run `export ZEPHYR_TOOLCHAIN_VARIANT="zephyr"` so that it used the SDK as expected.
In case you have issues running `west update` regarding `hal_espressif`, try deleting `hal_espressif` folder and run `west update` again.

[2022-05-12 13:52] Laczen commented on #45591
I have no experience at all with OpenThread or Matter. I have seen that OpenThread has a method to directly use flash instead of using the settings system. Maybe that is an alternative approach.

[2022-05-12 14:05] Damian-Nordic commented on #45591
I'm not sure about OpenThread, but in Matter we definitely need some sort of key-value store, so if we use flash directly it only means that we need to implement the settings-like layer ourselves or use another open source implementation, which is one option, but of course, we would prefer to invest in a common, reusable solution rather than project-specific solutions.

While we probably use setti

[2022-05-12 14:06] gordonklaus commented on #45564
Update:  The behavior is not as consistent as I previously thought (perhaps I didn't do many repetitions before).  I now see the behavior changing after reset, for a particular firmware image.  Sometimes it boots, sometimes not.

I should say that the impact is considerably higher now, if we can't be sure after a single test whether the program will boot or not.

[2022-05-12 14:13] jeronimoagullo commented on #33876
Hi @sylvioalves

Thank you very much for your answer.

I tried firstly to use the Zephyr toolchain instead of the ESP-IDF. I am trying to compile for esp32, thus I am building with `west build -b esp32 -p`. My computer OS is Windows 11.  However, when I get the following error.

[code]

The issue is that the path where west is looking for doesn't exist. `C:/Workspace/zephyr-sdk-0.14.1/xtensa-_zeph

[2022-05-12 14:52] rlubos commented on #45426
@AndreyDodonov-EH Can you elaborate a bit on how to reproduce the failure? I tried with `tls_ext` tests and echo samples with TLS enabled and they just work.

[2022-05-12 15:04] Laczen commented on #45591
@Damian-Nordic, some history information:
a. The settings system has been designed basically as a read-once system. The addition of `settings_load_subtree(_direct)` has never been my favorite addition because the usage breaks this read-once rule. This addition comes at the disadvantage of speed.
b. The nvs backend for settings has been created to minimize flash wear, as a key will normally not cha

[2022-05-12 15:08] gordonklaus commented on #45564
@erwango I'm able to reproduce it on v2.7.2 and v2.7.1, but not on v2.7.0.  It's hard to be totally sure about v2.7.0, as the same program doesn't always show the same behavior between versions (e.g. my minimal reproducer did not have the issue (but I didn't have any trouble finding a variant that did)).  But I did try several variants and they all booted on v2.7.0.

I'll revert to v2.7.0 for now

[2022-05-12 15:18] chen-png commented on #45009
this could be reproduced by the local patch below, it would raise serial.SerialException manually at the first time to reproduce the later twister working process.
after applying the patch, run the twister on any board, i.e.

twister -p reel_board --device-testing --device-serial /dev/ttyACM0 -T tests/kernel/semaphore/semaphore/ -T tests/kernel/mutex/mutex_api/ -vv

and see the twister results on

[2022-05-12 16:12] Laczen commented on #45591
Regarding proposal 1: The nvs backend does not do any comparison of keys or values, it just prepares them for the settings system. If however a entry is deleted it is not allowed to call the settings_handler, this is why it needs to see if the value is there.

Regarding the caches: Maybe I am misundestanding your proposal, suppose we have two keys that give the same hash how will this be handled (

[2022-05-12 16:24] Damian-Nordic commented on #45591
What I meant in proposal 1 is that if I want to load a key "a/b/c",  when checking NVS ID 0x8001 we should first just load the NVS data and compare it with "a/b/c" rather than go straight to reading NVS ID 0x8001 + 0x4000 just to realize in the callback that the data doesn't match "a/b/c".

Ad caches: if I save a setting and I determine that NVS ID to store my key "a/b/c" is 0x8001 I simply put 0x

[2022-05-12 16:50] aaronemassey commented on #26569
If you use clangd. You can also add the following to your `.clangd` file:

[code]

So it doesn't complain about unrecognized argument error.

[2022-05-12 17:57] atoncetti commented on #43465
Hi @cvinayak,

Thank you for your support!

As a follow up, I have created a temporary repository with the exact same zephyr project I ran at the beginning of this issue.

Here is the code: https://github.com/atoncetti/zephyr_bbc_microbit_ble_fault_example

[2022-05-12 18:57] Laczen commented on #45591
@Damian-Nordic, don't forget the settings backends have no `load(*key, ...)` method. The backends have no idea what key is requested. The settings system would first need to be extended with such a load method.

Regarding the caches, this could work inside the nvs_settings_backend.

[2022-05-12 19:38] danieldegrasse commented on #45486
@vishnusudhan, using the changes to the partition layout for the RT1160 captured in #45602, as well as increasing the maximum number of sectors supported by MCUBoot (see the required changes here: https://github.com/mcu-tools/mcuboot/pull/1365), I was able to use MCUBoot on this platform. Can you verify that MCUBoot works for you with these changes?

[2022-05-12 19:56] #44690 closed

[2022-05-12 20:44] szundi opened #45604 "modem APN can only be set at build time, but some use cases needs it to be configured runtime"
Modem APN can only be set at build time with CONFIG_MODEM_GSM_APN option. This is used by gsm_ppp.c:
[code]

I would like to be able to set this at **runtime**, my use case requires APN configuration after clients gets the device and puts own SIM card in.

Tried to find a way I could insert my dynamic APN value into gsm_ppp.c's namespace, but this seems to be directly wired from CONFIG_MODEM_GSM_A

[2022-05-12 21:13] chrihell commented on #45568
@ABOSTM
Thanks for the quick and welcoming reply. I'll try to do the PR then.
It can't be that hard to change a line of code, right? ;)

[2022-05-12 23:05] #45302 closed

[2022-05-13 00:31] #43224 closed

[2022-05-13 07:19] martinjaeger opened #45611 "GD32 build failure: CAN_MODE_NORMAL is redefined"
**Describe the bug**
As first seen in #41673, GD32-based `longan_nano` board build fails because of redefinition of CAN_MODE_NORMAL.

[code]
Relevant PR that introduced the redefinition: #45380

**To Reproduce**
[code]

[2022-05-13 08:42] Thalley opened #45613 "LE Audio: Setting ISO chan path and CC from BAP"
**Is your enhancement proposal related to a problem? Please describe.**
The BAP Codec Configuration is never applied to the data path when calling `hci_le_setup_iso_data_path`, and also only supports HCI data path.

**Describe the solution you'd like**
The data path needs to be configurable from the BAP API, as well as automatically settings the CC from the `bt_codec` used in BAP

**Describe alter

[2022-05-13 08:46] AndreyDodonov-EH commented on #45426
@rlubos
I have to apologize, TLS failure seems to be caused by my incorrect cherry-picking.
I'm working with NRF's Zephyr-SDK [2.7.99](https://github.com/nrfconnect/sdk-zephyr/tree/v2.7.99-ncs1), so had to cherry-pick.

Now I picked only the changes relevant to polling, and it works.
Sorry for that.

Side note:
I didn't manage to correctly cherry-pick receive window handling from you: often downlo

[2022-05-13 09:05] AndreyDodonov-EH commented on #45324
@mbolivar-nordic Here you go: https://github.com/zephyrproject-rtos/zephyr/pull/45614

[2022-05-13 09:29] erwango commented on #38371
@sambhurst Would you mind updating description so we can follow what is currently under review and what is already merged ?

[2022-05-13 09:49] jeronimoagullo commented on #33876
Hi @sylvioalves
It is working now.
The issue was that I was working with an all version of Zephyr code. I notice that `west update` updates all the sub-repositories of zephyr project but doesn't update the main repository. Thus, I needed to do a `git pull` in the root of zephyr project and a new `west update` afterwards. Then, the modules were updated (specially the hal_espressif) and everyhting w

[2022-05-13 10:35] sylvioalves commented on #33876
@jeronimoagullo Have you also tested the application and perform Lora send/received contents or only built the project?

[2022-05-13 10:45] Thalley commented on #45543
Already fixed by https://github.com/zephyrproject-rtos/zephyr/pull/45015

[2022-05-13 11:04] #45324 closed

[2022-05-13 11:40] #45486 closed

[2022-05-13 12:42] aolowin commented on #43718
@jori-nordic Thank you for tracking this down. Is the fix in your branch likely to be the final solution or will there be other changes before it goes into the main branch?

[2022-05-13 12:43] Thalley commented on #45172
Either @asbjornsabo or I will take a crack at it :)

[2022-05-13 12:45] #45394 closed

[2022-05-13 12:53] #43512 closed

[2022-05-13 13:21] Thalley opened #45621 "LE Audio: Update VCP API with new naming scheme"
**Is your enhancement proposal related to a problem? Please describe.**
Apply the new naming scheme from https://github.com/zephyrproject-rtos/zephyr/issues/40920 to the MICP implemenation and API

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-05-13 13:25] Thalley opened #45622 "LE Audio: Update BAP API with new naming scheme"
**Is your enhancement proposal related to a problem? Please describe.**
Apply the new naming scheme from https://github.com/zephyrproject-rtos/zephyr/issues/40920 to the MICP implemenation and API.

For BAP it will mostly be to omit the `bt_audio` prefix as well as splitting audio.h into role-specific files, and probably also creating a stream.h

All values related to generic audio assigned number