[2020-12-08 09:46] joerchan commented on #29223
@mfinmuch I'm not sure why it would be stuck in `attempt_scan`.
Are you able to share the code and which commit of zephyr you are on so that I can reproduce this issue locally to figure this one out?

[2020-12-08 10:30] rlubos commented on #30486
As for Thread in general, you can send multicast messages by using one of the multicast addresses (for instance `FF03::1` "all-nodes" address). Not sure though if updatehub can make use of it (from what I see it works in PULL mode, i. e. Block2 option is used).

As for device limits in Thread mesh, it's 32 routers with up to 511 children per router which gives a maximum theoretical value of 16352

[2020-12-08 11:31] tejlmand commented on #30493
@valeros could you please explain why the existing possibility of saving the configuration file to a custom location is not sufficient ?

![image](https://user-images.githubusercontent.com/9802583/101478463-068d7480-3951-11eb-8ef4-82c159f31c65.png)

This custom conf file can then be used later with `cmake -DCONF_FILE=<path>/my_hello_world_debug.conf ...`

[2020-12-08 11:57] koffes commented on #29994
@cvinayak : I tested with the combination you suggested. It then asserts almost right away.

The call stack looks like:` lll_hfclock_off()` ->` z_nrf_clock_bt_ctlr_hf_release();` -> `hfclk_stop();` then something is strange happens with the call stack, as the actual assert seems to be triggered in `int64_t z_impl_k_uptime_ticks(void)` then `k_spin_lock(struct k_spinlock *l)` -> `__ASSERT(z_spin_lo

[2020-12-08 12:34] nandojve commented on #30486
The current UpdateHub pulls server for data and right now and there is no benefit using a multicast address. I have ideas about enhancements that can able update by multicast. The thing is, some node need continue to pull the server than broadcast the received data to others, This usually should be done on the border router but can be made by any node on the network.

[2020-12-08 13:18] PerMac opened #30526 "tests: drivers: timer: Tests from drivers.timer.nrf_rtc_timer.basic fail on all nrf platforms"
**Describe the bug**
Tests from drivers.timer.nrf_rtc_timer.basic (zephyr/tests/drivers/timer/nrf_rtc_timer) fail on all platforms.

**To Reproduce**
Steps to reproduce the behavior:
1. go to zephyr dir
2. have nrf52 platform connected (e.g. nrf52dk_nrf52832)
3. run `./scripts/sanitycheck --device-testing -T tests/drivers/timer/nrf_rtc_timer/ -p nrf52dk_nrf52832 --device-serial /dev/ttyACM0 -v -v`

[2020-12-08 13:28] PerMac commented on #30526
It seems the fail of kernel.common.stack_sentinel.fatal is caused by the issues with the above driver, so I won't create a new issue for that:
[code]

[2020-12-08 13:38] pabigot commented on #30467
What this will enable is replacement of:

[code]

with

[code]

[2020-12-08 14:10] tejlmand commented on #28847
@KevinThompson-SR @jturnsek  Fixed here: #30528

[2020-12-08 14:23] #30507 closed

[2020-12-08 14:30] #30432 closed

[2020-12-08 14:42] PerMac commented on #30101
I was asked about the same issue today by or developers. What @andrewboie is describing seems like a real threat.
I would say that ram overflow during building should be treated as an error. However, tests should also be better in providing how much memory they need. Tests can define min_ram and flash required to run in their yamls.
The test Andrew is pointing to does not have these min values def

[2020-12-08 14:42] joerchan commented on #21238
@jhedberg The Company ID approach with LF would not work for our out-of-tree Bluetooth LE Controller which implements the Zephyr HCI VS extensions.

There hasn't been any issues with the VS HCI system since I reported this issue, so I'm considering to just close this. Any objections?

[2020-12-08 14:54] nashif commented on #30101
if you want them to be errors, there is not an options ```--overflow-as-errors``` that enables that.

The issue with tests specifying ram limits is that each platform and architecture behaves differently, some boards enable all kind of irrelevant features by default which make them fail.

In the past this was always a very not-fun game, CI would start failing left and right and would keep us modif

[2020-12-08 14:57] joerchan commented on #27692
@jhedberg Currently bt_set_name would clear the rest of the Scan Response data.
Should we perhaps change that and instead document that the application will have to toggle advertising (in order to provide the scan response data pointer again) when setting the name this way and using the USE_NAME option?

Should we add the option to select the advertising name in the advertising packet instead? I r

[2020-12-08 14:58] nashif commented on #30395
One option that would give us this:

Define board groups, so instead of

[code]

we would have:

[code]

This way you can select the group instead of having to feed a list of boards.

[2020-12-08 15:18] PerMac commented on #30101
It seems you actually added this option with recent PR :) https://github.com/zephyrproject-rtos/zephyr/commit/f68146f74ec994b7632921c8b41d62cae188fb0a
But I guess the issue is about a use in a CI, and I guess this --overflow-as-errors won't be default for the CI.

What about a workflow, where if a test has defined min ram/flash sanitycheck will throw an error when it spills over during the buildin

[2020-12-08 15:23] jhedberg commented on #21238
No objections to closing this

[2020-12-08 15:29] erwango commented on #30462
@wal003 are you caring to improve zephyrproject or wanting to sell your own project?
https://github.com/search?q=Introduce+to+this+project+Dpulls%2C&type=issues

[2020-12-08 15:32] nordic-krch commented on #30353
@pabigot
So with _generic i am able to serialize all log arguments into an array, detect strings and make the copy into the message. What i missing now is on backend side when string needs to be formatted to be able to get args from serialized array instead `va_list`.

I was thinking about extending cbprint api with something like:
[code]
then change current cbvprint body and replace `va_arg` with

[2020-12-08 15:35] jhedberg commented on #27692
@joerchan I don't have a strong opinion either way wrt `bt_set_name()`, however that seems orthogonal to this particular issue. My gut feeling is that putting the name in the advertising data rather than the scan response is such a minority use case that we can require apps to just do the manual work in that case. I'm open to be convinced to change my mind, however 😄

[2020-12-08 15:37] nashif opened #30531 "When using ccache, compiler identity stored in ToolchainCapabilityDatabase is always the same"
**Describe the bug**

When using ccache for building, the identity of the toolchain is always the same and matching ccache binary rather than the toolchain itself. This causes issues when switching between two compilers or toolchains, ie. gcc -> llvm.

**To Reproduce**

- Enable ccache
- switch between toolchains and try to build for native_posix for example.
- examine cache log file in ~/.cache/z

[2020-12-08 16:09] pabigot commented on #30353
Can you point me to the proposed solution using `_Generic`?  And how you determine the amount of space required for the stream with that interface?

I think the general idea of what you propose has potential, but I'm still concerned about ensuring argument processing is consistent throughout.  Unless you're matching arguments against format specifications, which would require the callback API I pr

[2020-12-08 17:14] wal003 commented on #30462
@erwango You're completely right, and your question is legitimate, so better be fully transparent.
In reality, I'm not really familiar with zephyr's project. I just noticed after a quick search that working with dependent PRs is a common thing in this project, so I wanted to propose this tool. Am I caring to improve this project ? Of course, like any other project I think I can provide some added

[2020-12-08 17:50] nordic-krch commented on #30353
All macro wizardry starts here: https://github.com/nordic-krch/zephyr/blob/7960fd342b65f1779e0c47c1dfc360237d61bf4d/include/logging/log_msg2.h#L399

First, `_Generic` is used to detect if there are any `char *` arguments by summing using FOR_EACH on arguments. If there are no char * then case is simple, there are no strings to copy. If there are any `char *` then complex path is taken (`Z_LOG_MSG_

[2020-12-08 18:19] pabigot commented on #30353
But that's wrong.  If I write:
[code]
I expect to see the string value of `cfg->label` and the pointer value of `cfg->label`.  Displaying the address of some copy of the string made by the logging infrastructure is not acceptable.

The only way I can see to get correct output is to walk the format string, decode the specifiers, and use the specifier character to determine that a copy of a string n

[2020-12-08 18:45] nordic-krch commented on #30353
yes, that is exactly as you wrote. `_Gereric` is used to determine at compile time if extended version of macro is used or the simple one. Extended involves call to `z_log_get_s_mask` which decode specifiers and returns mask of `%s` types. So if if have `LOG_DBG("label addr: %p", (char *)label)` it will compile extended version but `z_log_get_s_mask` will return 0 and no strings will be copied.

I

[2020-12-08 18:47] nordic-krch commented on #30353
Also it is possible to apply extension only to `char *` and not to `const char *` to save space but it may not always be correct (eg. if transient string comes as `const char *` function parameter).

[2020-12-08 18:47] pabigot commented on #30353
Ew.  OK; where's `z_log_get_s_mask()`?  Can you point me to the branch?

[2020-12-08 18:49] valeros commented on #30493
Hi @tejlmand , thanks for answering. Please correct me if I'm wrong, but doesn't that approach conflicts with the usual configuration workflow when the Zephyr build system picks up `prj.conf` if it exists in the project by default? Also, there is a solid chance that a user may specify a custom `*.conf` file using the same `CONF_FILE` variable directly in their `CMakeLists.txt` (this method even me

[2020-12-08 19:34] nordic-krch commented on #30353
this function is already used in master: https://github.com/zephyrproject-rtos/zephyr/blob/87ddddae5222f3158f3d8d4dec26867fc4ab4b4b/subsys/logging/log_core.c#L84

The branch i'm working on: https://github.com/nordic-krch/zephyr/tree/log_64bits

[2020-12-08 19:44] pabigot commented on #30353
Thanks; I see that now.  It is another decoding of the format specifier, which I'd hoped to avoid because parsing the format sequence to extract conversions correctly is not trivial.  (For example `z_log_get_s_mask()` will do the wrong thing if `%n` or the `*` width or precision flags are present.)

But my first attempt at sharing the conversion extraction fails, because of the way `va_list` objec

[2020-12-08 20:02] erwango commented on #30462
@wal003 Thanks for this effort of transparency! :+1:

[2020-12-08 22:46] mbolivar-nordic commented on #29779
any comments on this?

[2020-12-09 00:28] vandita5 opened #30540 "CONFIG_TRACING not working after updating from v2.1.0 to 2.2.0"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Tried different versions v2.3.0 and v2.2.0 and v2.1.0. tracing logs are only printed for v2.1.0. I am using net/socket/echo_server sample with the following config values added to prj.cnf file
CONFIG_TRACING=y
CONFIG_TRACING_CPU_STATS=y
CONFIG_TRACING_CPU_STATS_LOG=y

[2020-12-09 01:11] #27841 closed

[2020-12-09 01:31] LingaoM commented on #30240
DW
Dexter Wong
Additional comments•2020-12-01 09:51:12
https://www.bluetooth.org/DocMan/handlers/DownloadDoc.ashx?doc_id=481160

https://www.bluetooth.org/tse/errata_view.cfm?errata_id=12773

@michal-narajowski  Do you have time to help solve this problem? Above is the detailed documentation I provided about this test item.

[2020-12-09 01:34] huelsenfruchtzwerg opened #30541 "l2m2m: writing to ressources with pre_write callback fails"
**Describe the bug**
Writing to ressources which have a pre_write callback registered that can return a buffer thats longer than the original ressource buffers size may fail with -EINVAL.

**To Reproduce**

Try to write a value to e.g. "3/0/13" (device time).
`assert(!lwm2m_engine_set_s32("3/0/13", 1607477126)`

This will fail with -EINVAL.

**Expected behavior**
The value should've been written t

[2020-12-09 06:11] nordic-krch commented on #30353
That is more or less what I have in mind regarding `struct cbprintf_packed_args` but I assume that it is possible to build `struct cbprintf_packed_args` only based on types of arguments provided to the string using `_Generic`.

Walk might be second option when `__VA_ARGS__` is not available and va_list is used (e.g. hooking external logger functions).

[2020-12-09 06:25] VinodSHegde opened #30544 "nrf5340 pwm "Unsupported board: pwm-led0 devicetree alias is not defined""
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
Describe in details the hardware support being requested and why this support benefits Zephyr.

**Describe why you are asking for this support?**
Describe why you are asking for this support instead of contributing it directly to the tree

If this is a new board or SoC, please

[2020-12-09 06:31] nordic-krch commented on #30353
And definitely `z_log_get_s_mask()` belongs in cbprintf.

[2020-12-09 08:04] MaikVermeulen opened #30546 "LwM2M Execute arguments currently not supported"
**Is your enhancement proposal related to a problem? Please describe.**
Currently LwM2M Execute arguments are not supported in the Zephyr LwM2M stack. The execute callback only accepts the object instance id. For a project we are working on, we need to be able to include an epoch time as argument with some executes. (As detailed in the [OMA specification](http://openmobilealliance.org/RELEASE/Ligh

[2020-12-09 08:31] erwango commented on #29779
It's in my TODO list, sorry for the delay.

[2020-12-09 09:02] ashaannajoy commented on #29632
Clarifying that this is not a test but an ask to add interrupt support for gpio IO expander chip in microchip gpio driver, similar to the implementation done for  #28308

[2020-12-09 09:11] s-kelvin opened #30547 "reel_board: tests/net/ieee802154/fragment/ build failure"
**Describe the bug**
Running tests/net/ieee802154/fragment/ on reel board. Build Failure encountered.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b reel_board tests/net/ieee802154/fragment/

**Expected behavior**
Be successfully built and test should pass.

**Impact**
Build failure

**Logs and console output**
[code]

**Environment (please complete the following infor

[2020-12-09 09:11] mfinmuch commented on #29223
Finally, I found out that my call_back notify_func will set _params->value_handle=0U_ when unsubscribe occurs.
I guess this is because the notifry handle of the connected peripheral was also cleared.
This part feels that zephyr is not well managed in multilink

[2020-12-09 09:13] s-kelvin opened #30548 "reel_board: tests/net/ieee802154/l2/ build failure"
**Describe the bug**
Running tests/net/ieee802154/l2/ on reel board. Build Failure encountered.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b reel_board tests/net/ieee802154/l2/

**Expected behavior**
Be successfully built and test should pass.

**Impact**
Build failure

**Logs and console output**
[code]

**Environment (please complete the following information):**

[2020-12-09 09:21] #30541 closed

[2020-12-09 09:58] JordanYates commented on #28685
I have pushed a sample application that demonstrates this issue based on master.
https://github.com/csiro-wsn/zephyr/tree/bug/indication_timeout/samples/bluetooth/indication_timeout

The issue is reproducible using the nRF Connect Android application as the central.

[2020-12-09 10:05] MaikVermeulen commented on #30546
Please see [PR#30511](https://github.com/zephyrproject-rtos/zephyr/pull/30551).

[2020-12-09 10:17] RoyAnupam commented on #29008
[DC_Latest.zip](https://github.com/zephyrproject-rtos/zephyr/files/5665130/DC_Latest.zip)

Hello @cvinayak ,
 Please find attached the complete sniffer log file.

[2020-12-09 11:14] #21238 closed

[2020-12-09 11:15] pabigot commented on #30353
Can we make logging select `CBPRINTF_COMPLETE`?  Because if it has to work with the cbprintf changes won't apply.

IMO it's reasonable to require complete support when using logging.  @carlescufi you particularly wanted nano as an optoin, what do you think?

[2020-12-09 12:15] cvinayak commented on #29008
@RoyAnupam Thank you for the sniffer log, and following up with the requests on this issue.

From the time reference set between CRC errors in the master's packets, it appears the 1.28 s advertising interval when colliding with the connection event, may have caused the event counter of the master to have been corrupted.

Please take in the fixes in here: https://github.com/zephyrproject-rtos/zephy

[2020-12-09 13:00] rlubos commented on #30548
This is already fixed on master.

[2020-12-09 13:00] rlubos commented on #30547
This is already fixed on master.

[2020-12-09 13:43] RoyAnupam commented on #29008
Hello @cvinayak

or try with the latest master, and please share the results whether the connection is stable with the fixes in the PR.

Sure, I will check ASAP & update my observation. Thank you for sharing the info~

BR,
-Anupam Roy

[2020-12-09 14:08] arludwig opened #30553 "kconfig.py exits with error when using multiple shields"
**Describe the bug**
When I try to set two shields
[code]
`kconfig.py` exits with return code 1 (System can't find file).

When I use a single shield instead
[code]
everything works as expected.

I dug a bit through the cmake code, in particular `kconfig.cmake`, and ended up comparing the `execute_process` calls in line 241. I found, that they differed in their `COMMON_KCONFIG_ENV_SETTINGS`, in pa

[2020-12-09 14:09] ioannisg opened #30554 "tests/kernel/fatal/exception/sentinel test is failing for various nrf platforms"
**Describe the bug**
tests/kernel/fatal/exception/ stack_sentinel test variant is failing for various nRF platforms
tested on nRF5340 and nRF9160.

**To Reproduce**

On current master:
Build flash and run stack sentinel test variant of tests/kernel/fatal/exception

**Expected behavior**
Test should not assert.

**Impact**
kernel test failing

**Logs and console output**

[code]

[2020-12-09 14:10] ioannisg commented on #30554
@nordic-krch I suspect a driver issue here, but might be wrong.

[2020-12-09 14:14] cfriedt commented on #28438
Is anyone else is working on this?
I would be happy to take a crack at it - need to do the same anyway for finishing the [Greybus for Zephyr](https://github.com/cfriedt/greybus-for-zephyr) module.

[2020-12-09 14:30] ioannisg commented on #30526
This is observed in several Nordic platforms, so I am raising priority to high.

[2020-12-09 14:31] ioannisg commented on #30554
SImilar as reported in #30526

[2020-12-09 14:59] rlubos commented on #30429
@ADEscobar I did some more investigation and realized that it's possible to enable CSMA backoff at software level in OpenThreads MAC, so it's possible to run RCP even w/o hardware support for this feature.

I've posted a PR which enables it (https://github.com/zephyrproject-rtos/zephyr/pull/30556) and tested that RCP built for `nrf52840dk_nrf52840`  works correctly with the docker image from https

[2020-12-09 15:12] PerMac commented on #30395
I am worried that this solution would be harder to maintain. In the sdk-nrf CI we would probably prefer to have higher flexibility, not relying on updating the upstream, whenever we decide to change the scope of tested platforms in our own plan. And we are already directly feeding a list of boards with `-p`.

Another solution could be that if  `-G` is used it adds/filters platforms from `integrati

[2020-12-09 15:20] sslupsky opened #30557 "i2c slave driver removed"
@pabigot
Reviewing the 2.4 release notes I noticed issue  #27303 removed the i2c slave driver.  This was the only i2c slave driver available in the tree and its removal without a replacement is particularly troubling since I use this driver.  Please put it back.

[2020-12-09 15:26] pabigot commented on #30557
What do you use it for?  Something similar is still present in a sample, you can move it into your project and use it there.  Also there's an i2c emulator API that can implements a similar capability.

I don't think it's likely this will be restored as a supported driver because its usefulness is extremely limited and its presence was confusing to many people.  If you can provide a more compelling

[2020-12-09 15:30] sslupsky commented on #30557
Well, there is no i2c slave driver or API at present so that is a problem.  This driver attempted to address that.  I suspect the original author thought that some attention would be given to the i2c slave side of things but that doesn't appear to have ever happened.

In my case, I have two boards running Zephyr that talk to each other using i2c.  One is the master and the other is a slave.  So, I

[2020-12-09 15:32] sslupsky commented on #30557
Also, this issue is most definitely a bug, not an enhancement.  This driver was removed which has broken my application.

[2020-12-09 15:42] pabigot commented on #30557
? There is an I2C "slave" API, it's implemented in five I2C drivers where the hardware supports it.

What there isn't anymore is a supported "i2c eeprom slave" driver which does nothing but act like an eeprom.  But the entire implementation is still in-tree in a sample, where people can use it.

It went through a removal process that included community notifications before the removal in #27387.

[2020-12-09 15:53] sslupsky commented on #30557
I think you are referring to the four functions that register and unregister a slave driver?  I would suggest those are not a slave API, rather, an API for implementing a custom i2c slave API?

The sam0 has i2c slave hardware.  I am not aware of any implementation of a slave driver for the sam0 other than the eeprom emulation driver.  Is there something else I can use that I am not aware of?

IMO,

[2020-12-09 16:04] mbolivar-nordic commented on #30423
I can't rule out a bug from reviewing the details description. Will take a more detailed look.

[2020-12-09 16:47] ioannisg commented on #30253
The nRF5340 DK platform cannot run this test. We need to do the same as we did in mem_protect/userspace test-suite, and exclude the platform (or, better, include only the platforms with sufficient mpu regions)

[2020-12-09 16:49] pabigot commented on #30467
Based on TSC discussion we'll just go ahead with this, in separate PRs grouped by reasonable categories (subsystem and/or SOC family).  If you're willing to help please assign yourself, and where possible identify the areas where you intend to work so we don't duplicate effort.  We do need a decision soon on #30400 so we know which style of macro to use: my current position is [here](https://githu

[2020-12-09 17:20] galak commented on #30467
I've got a PR for all the I2C drivers coming

[2020-12-09 17:40] Ithilien commented on #29394
@sylvioalves Since ESP-IDF v4.2 has finally been released, what is the update plan for the esp-idf/hal_espressif so I can align my ESP32-S2 PR to it?

[2020-12-09 17:41] mrrosen commented on #29394
@sylvioalves Since ESP-IDF v4.2 has been finally been released, what is the plan for updating the esp-idf/hal_espressif so I can align my ESP32-S2 PR to it?

[2020-12-09 17:41] jfischer-no commented on #30467
@pabigot I can help/take-over display controller drivers and USB relevant things.

[2020-12-09 17:48] sylvioalves commented on #29394
@mrrosen, we are waiting approval to use this `hal_espressif`branch: https://github.com/sylvioalves/hal_espressif/tree/zephyr
It is based on release/v4.2 and will probably make easier for you to rebase.
I'll update you once we get on track.

[2020-12-09 18:44] sslupsky opened #30564 "RFC: GNSS API"
## Introduction

Has there been any work on developing a GNSS API for Zephyr?

### Problem description

GNSS is a widely used technology for global positioning.  Zephyr should consider support of an API to interface with various GNSS chips.

### Proposed change

This proposed API was developed to work the u-blox GNSS solutions.  It does not implement advanced GNSS capabilities at the current time.

[2020-12-09 19:10] vagotec opened #30566 "flashing issue with ST Nucleo board H745ZI-Q"
Hi,
there is a bug with ST Nucleo H745ZI-Q. The same issue (Ticket:#29732). But the solution does not work.
----------------------------------------------------------------------
openocd.cfg
source [find board/st_nucleo_h745zi.cfg]

reset_config srst_only srst_nogate connect_assert_srst

$_CHIPNAME.cpu0 configure -event gdb-attach {
        echo "Debugger attaching: halting execution"
        rese

[2020-12-09 20:12] galak commented on #30467
Converted ADC (#30567) and SPI (#30568)

[2020-12-09 21:25] jukkar commented on #30564
I just wonder would it make sense to look how gpsd (https://gitlab.com/gpsd/gpsd) is interfacing to different GNSS providers. It has this gps_type_t API https://gitlab.com/gpsd/gpsd/-/blob/master/include/gpsd.h#L423 for that. See https://gitlab.com/gpsd/gpsd/-/tree/master/drivers for different drivers.
I do not mean we would need to do things the same way as gpsd, but we need to make sure that our

[2020-12-09 22:28] andyross commented on #29954
Closing this one.  For clarity, the root cause was that SOF was making requests for N bytes of DMA memory and requesting that it be aligned to a cache line.  But it was not **padding** N to an integer number of cache lines, so the unused suffix memory could be used by the heap for other purposes, and clobbered by DMA.

[2020-12-09 22:28] #29954 closed

[2020-12-09 22:29] andyross commented on #28777
Closing this one.  We've now removed the whole mem_pool API.

[2020-12-09 22:29] #28777 closed

[2020-12-09 23:14] galak commented on #30467
Converted PWM (#30570)

[2020-12-10 01:43] jenmwms opened #30573 "up_squared: slowdown on test execution and timing out on multiple tests"
**Describe the bug**
There is a regression in some of the tests for up2 in which the tests are taking longer to execute than previously, to the extent that sanitycheck gives a timeout error. Sanitycheck is not an issue here, it is working properly. The issue here is the significant increase in time of test execution on these test suites. This is observed on HW (up2). On emulator (qemu) the tests w

[2020-12-10 01:46] jenmwms commented on #30573
@nashif @andrewboie - fyi
@chen-png - please help me get a better log for sanitycheck results

[2020-12-10 01:47] jenmwms commented on #30275
Closing this, it is now part of cluster in https://github.com/zephyrproject-rtos/zephyr/issues/30573

[2020-12-10 01:47] #30275 closed

[2020-12-10 01:47] jenmwms commented on #30305
Closing this, it is now part of cluster in https://github.com/zephyrproject-rtos/zephyr/issues/30573

[2020-12-10 01:47] #30305 closed

[2020-12-10 01:48] jenmwms commented on #30306
Closing this, it is now part of cluster in https://github.com/zephyrproject-rtos/zephyr/issues/30573

[2020-12-10 01:48] #30306 closed

[2020-12-10 01:48] jenmwms commented on #30307
Closing this, it is now part of cluster in https://github.com/zephyrproject-rtos/zephyr/issues/30573

[2020-12-10 01:48] #30307 closed

[2020-12-10 02:20] chen-png opened #30574 "up_squared: tests/kernel/semaphore/semaphore failed."
**Describe the bug**
when running "tests/kernel/semaphore/semaphore" on up_squared, this test will stop at the "test_sem_reset" and fail with timeout.
the last good commit is 6e561570, the first bad commit is da70d20a.
and there were lots of tests failed with the same error:
        tests/posix/eventfd
	tests/posix/common
	tests/portability/cmsis_rtos_v1
        tests/kernel/queue
        tests/ke

[2020-12-10 02:20] jenmwms commented on #29737
I need to do a bisect to see where this started occurring.

[2020-12-10 05:06] sslupsky commented on #30564
I will have a look at that.  I had done some prior work with the Sparkfun library which was my starting point.

[2020-12-10 05:16] nehalrohit opened #30576 "code size reduced for nrf52840dk"
Hello,
I merged  the code  updatehub+openthread+5 I2c sensor+SDcard for nrf52840dk_pac10056 (all extra logs are diasble).
My problem is the code(bin file ) size is more than **0x67000**  having any reason why zephyr-based code(simple CLI code -412 KB) takes more space?
how to reduce the code size?

[2020-12-10 05:38] andrewboie commented on #30573
is it consistent where it hangs for ~2 minutes or does the place vary from run to run?

[2020-12-10 05:56] dcpleung commented on #30573
On my UP2, it pauses in different places between reboots.

[2020-12-10 05:58] gregshue commented on #28438
At this point it is stalled waiting for alignment on the repository naming pattern, then for the empty repositories to get created to enable a PR with my draft content.

Feel free to look at it under my Github account and provide early feedback or comment in the eventual PR.

[2020-12-10 07:01] ashaannajoy commented on #29961
We request for a generic test which can be common to all processors and maybe configurable further  like configure the basic speed for bus0, try to read register 0x00 for all  slave addresses and identify which  are the slaves which exist in the bus. Further stress testing of data communication can be done.

[2020-12-10 07:01] andrewboie commented on #30573
some things to try:

- get the GDB stub that @ceolin implemented going and stop execution in a pause period. what is the system doing in each active core?
- if you can't get GDB going, put log statements at entry/exit for the arch_* APIs in x86_mmu.c to see if it's getting stuck in any of them or functions they call
- modify DTS to reduce system RAM size from its current 2GB value to something muc

[2020-12-10 08:58] erwango commented on #30566
@vagotec can you check that this isn't fixed with https://github.com/zephyrproject-rtos/zephyr/pull/30417 ?

[2020-12-10 09:10] henrikbrixandersen commented on #30557
@sslupsky Could you please explain how the I2C EEPROM "slave" driver is being used in your application? As far as I can tell, the I2C EEPROM "slave" driver only exposes an EEPROM-like device to the I2C "master", but provides no API for interaction with the rest of the application running on the I2C "slave" CPU?

[2020-12-10 10:13] JavierGarJim commented on #30429
@rlubos thanks for your support with this issue. I just tested your branch, building the RCP for the `nrf52840dk_nrf52840` board and with the usb overlay, but it did not work together with the border router, either as docker image or native installed in the rpi3. How did you test it?

[2020-12-10 10:33] nordic-krch opened #30578 "Reusing test fixtures between various tests"
There are some tests which may rely on the same fixture. `gpio_loopback` is one example. It is used for `gpio_basic_api` https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/drivers/gpio/gpio_basic_api/testcase.yaml and it could also be reused for `uart` or `spi_loopback` test since all those requires few pins to be shortened. However, I don't see what would be the best way to reuse it.

[2020-12-10 10:34] nordic-krch commented on #30578
@nashif can you help?

[2020-12-10 10:37] brucehoult commented on #30315
I have the same errors. First time attempting to use Zephyr, fresh install precisely following the getting started instructions (other than that the cmake instructions didn't work because of lack of a key so I had to use instructions from the kitware site instead)

[2020-12-10 10:38] brucehoult commented on #30315
hifive1_revb instead of hifive1 builds, but of course that's not the board I want.

[2020-12-10 11:43] Thalley opened #30582 "Doxygen doesn't catch errors in argument names in callback functions that are @typedef'd"
**Describe the bug**
For this bug I'll use a simple callback (bt_ready_cb_t`) as an example, but this seem to be a generic issue. It is at this time declared as:

[code]

If the declaration is updated to
[code]
instead, but the `@param err` isn't, then doxygen does not capture this.

**To Reproduce**
Introduce a doxygen error (e.g. create a mismatch between the doxygen argument names and the funct

[2020-12-10 11:46] anirudhajith commented on #30315
@brucehoult I finally went with `samples/hello_world` as a substitute to `samples/blinky`. Try running `west build -p auto -b hifive1 samples/hello_world/`.

[2020-12-10 11:48] rlubos commented on #30429
I've tested with official docker image (https://openthread.io/guides/border-router/docker?hl=en) and UART transport.

I think that the issue with USB might be related to the reset that is triggered on the RCP when BR starts, and the fact that the USB device re-enumerates then. I'm observing this on my side. Upstream NCP sample implements something called "pseudo reset" to prevent disconnect of the

[2020-12-10 11:58] #30468 closed

[2020-12-10 11:58] #30435 closed

[2020-12-10 12:00] #30148 closed

[2020-12-10 12:04] #30338 closed

[2020-12-10 12:06] brucehoult commented on #30315
Yeah, things other than blinky seem to build. minimal, blinky_pwm. Philosophers. hello_world, as you say.

[2020-12-10 12:12] carlescufi commented on #30378
Is there a chance you could try to reproduce this on the current master @hardik-proxy?
This might well be an issue in the Host, but without being able to reproduce it consistently it is hard to pinpoint exactly where.

[2020-12-10 12:14] carlescufi commented on #30378
Are the centrals all connected at the same time to the single peripheral, or does this happens sequentially?

[2020-12-10 12:15] carlescufi commented on #29994
Have you tried 3 as well?

[2020-12-10 12:17] carlescufi commented on #29994
@cvinayak is it expected that `lll_hfclock_off()` disables interrupts at some point in the call tree?

[2020-12-10 12:41] nvlsianpu opened #30587 "flash_map: Add a flash_area_?() API for check read-only property"
**Is your enhancement proposal related to a problem? Please describe.**
A fixed-partition might be read-only. This is not reflected in flash_area API.

**Describe the solution you'd like**
Mayby worth to add a flash_area API function for check that
And additionally dismiss write to read only area in flash_area_write().

`struct flash_area` have to be extended by the read_only property field.

**De

[2020-12-10 12:41] nvlsianpu commented on #30587
cc @de-nordic

[2020-12-10 12:49] joerchan commented on #29223
Are you using the same subscribe parameters for all connections, that is not supported.
You will have to have separate subscribe parameters per subscription.

[2020-12-10 12:57] nashif commented on #30066
which board is that?

/home/nashif/bin/zephyr-sdk-0.12.0-beta-2/riscv64-zephyr-elf/bin/../lib/gcc/riscv64-zephyr-elf/10.2.0/../../../../riscv64-zephyr-elf/bin/ld: region `RAM' overflowed by 10864 bytes

This is 10K overflow, not sure how we are going to get this into 16k of RAM. This board just needs to be excluded from this test IMO.

@andrewboie  which ARM board with 16K works with this test?

[2020-12-10 13:02] erwango commented on #30553
@tejlmand would you be able to have a look ?

[2020-12-10 13:08] mfinmuch commented on #29223
So how can I avoid the disconnected peripheral from affecting the connected peripheral without canceling `params-value_handle=0`?
Then why cancel the` params->value_handle=0` so that the peripheral in the connection will not be stuck?

Thanks,
Poyi

[2020-12-10 13:27] pabigot commented on #30578
For the case of `gpio-loopback` as a fixture I think we need to move the binding that supports it up into the zephyr dts hierarchy, possibly as a compatible `zephyr,fixture,gpio-loopback`.  Then we could add nodes to specific boards so they don't have to be replicated in the tests.

I will prototype that for `gpio-loopback` so we can see what it looks like.

[2020-12-10 13:38] noelleclement opened #30590 "kernel idling / timer API, idle parameter limitations"
**Is your enhancement proposal related to a problem? Please describe.**
At the moment the only way that [timer API's] `z_clock_set_timeout()` can be called with `is_idle=true`, is in [kernel/timeout.c] `z_set_timeout_expiry()`, with the condition that the new timeout will only be set (`z_clock_set_timeout()` is called with that timeout value) when it is sooner than the existing (soonest?) timeout.

[2020-12-10 13:43] noelleclement commented on #30590
Issue created per suggestion by @pabigot.
Referenced limitation in kernel/timeout commited by @andyross (#12204), probably would be great to get your perspective on this too!

[2020-12-10 14:31] vagotec commented on #30566
Hello erwango,
unfortunately I get another error now.
my changes in relation to this document: https://github.com/zephyrproject-rtos/zephyr/pull/30417/files/768126367154828ceecab4998c712bcf361eab7a

-------------------------------------------------------------------------------------------------------
boards/arm/nucleo_h745zi_q/board.cmake
----------------------------------------------------------

[2020-12-10 14:33] nashif commented on #30590
@andyross  Can you please take a look?

[2020-12-10 14:45] andrewboie commented on #30066
frdm_k64f:

[code]

[2020-12-10 14:46] andrewboie commented on #30066
I think I see where this got muddled, ram-report has different numbers:

[code]

[2020-12-10 14:48] andrewboie opened #30591 "build RAM usage printout uses prebuilt and not final binary"
[code]

The true size is actually 26243. The numbers being printed out by the build are from the prebuilt and not final binary. This needs to be changed to use the correct binary.

[2020-12-10 14:52] galak commented on #30467
Converted watchdog (#30592)

[2020-12-10 14:54] tejlmand commented on #30493
@valeros Thanks for the update.

I was under the impression you wanted to avoid modifying the original `prj.conf`, hence the reason for using a custom name.
That way PlatformIO would not need to modify the original `prj.conf`

The `<build-folder>/.config` is only for testing local configuration changes, as described:
https://docs.zephyrproject.org/latest/guides/kconfig/setting.html

So the `.confi

[2020-12-10 14:56] andrewboie commented on #30066
I opened https://github.com/zephyrproject-rtos/zephyr/issues/30591

The extra memory comes from generating privilege mode stacks.

No, we need Risc V coverage, this is not an appropriate resolution.

There is more simply some more work to do in this test case not to generate so many separate stacks, there are currently 9 in total. CONFIG_PRIVILEGED_STACK_SIZE=1024 so if we don't use so many stacks

[2020-12-10 15:11] joerchan commented on #29223
When you subscribe you use a pointer to subscribe parameteres, you have to provide different pointers.

For example like this:

[code]

[2020-12-10 15:31] erwango commented on #30566
@vagotec It seems you're using sdk version zephyr-sdk-0.11.4.
Latest beta version (0.12) includes several additions/fixes on h7 support on openocd. Would you mind upgrading to latest SDK and have a new try ?

[2020-12-10 15:41] cfriedt commented on #28438
Ah, interesting - I'll take a look at that. I just hacked something together last night independently of the Greybus repo. It looks  similar-ish to yours with the exception that you have everything within the zephyr directory.

https://github.com/cfriedt/zephyr-example-module

I'll take a look at your repo as well.

[2020-12-10 15:50] pabigot commented on #30590
Background: See also #28572 which I believe is related, in particular [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/28572#issuecomment-737509492).  Also [SYSTEM_CLOCK_SLOPPY_IDLE](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_SYSTEM_CLOCK_SLOPPY_IDLE.html).  I see only these system timers doing something with the `idle` parameter: arcv2 arm_arch cortex_m_systi

[2020-12-10 16:43] galak commented on #30467
Converted GPIO (#30597)

[2020-12-10 16:55] nashif commented on #30066
sure, but this is not going to be with this board with only 16k of RAM. We have RISCv coverage in emulation on both renode and qemu. For userspace we probably need to pick another board with more RAM and resources, maybe the VEGA board.

frdm_k64f has way more RAM than 16K.

[2020-12-10 16:56] galak commented on #30467
Converted Entropy (#30600)

[2020-12-10 17:48] Delsian commented on #22161
Vote for this feature

[2020-12-10 17:51] yerabolu commented on #30066
@nashif : I don't have a VEGA board .. can i reproduce it any other way ?

[2020-12-10 18:02] nashif commented on #30066
this board might not be right for testing this feature, I was just thinking loud.

TBH, not sure what the bug is. This architecture needs boards both hardware and emulation that would allow testing features that require resources. Right now we do not have many boards support in riscv and those we have either do not support MMU or are low on RAM/Flash.

so I am inclined to just close it and ask for

[2020-12-10 18:42] mbolivar-nordic commented on #30423
@arludwig I can reproduce the issue on v2.4.0 as given in your report, but it doesn't reproduce on master.

Bisection shows that 8165008f44beb68f686ac37b6db99f94a6ced71c, which removed legacy macro support, also avoids the error. Since this commit doesn't cherry-pick cleanly onto v2.4.0, here is a patch which just turns off legacy define generation in the build system, that is on top of v2.4.0:

[

[2020-12-10 18:42] #30423 closed

[2020-12-10 19:07] jaronkelleher opened #30612 "build: Allow board discovery on nested folders"
**Is your enhancement proposal related to a problem? Please describe.**
cmake/boards.cmake supports nested folders in the list_boards() function. However, the board discovery step in boilerplate.cmake (line 349) does not support nest board definitions. This can lead to one set of boards being listed when listing all possible boards, and the inability of the user to select those that are nested.

A

[2020-12-10 20:18] vanwinkeljan opened #30618 "Add arduino header/spi support for HSDK board"
**Is your enhancement proposal related to a problem? Please describe.**

Currently the HSDK board has an `ILI9340` display added on the arduino spi interface (hsdk `spi2`) which is not physically present on the board and as such a display shield should be used instead.

Problem in removing the display is that the HSDK board is missing the arduino header & spi.
Adding the arduino spi is straight fo

[2020-12-10 20:55] gregshue commented on #28438
Everything Zephyr-unique is kept beneath the zephyr/ subdirectory to allow extending any existing repository to also be a Zephyr module simply by copying this in and filling in the glue.  I already did that in the `zephyr` branch of https://github.com/bacnet-stack/bacnet-stack and migrated all the unit tests to `ztest`.  `sanitycheck` nicely ran with code coverage metrics.

[2020-12-10 22:25] jenmwms commented on #25507
Can you please help me understand why we are reporting this issue? I see that `up_squared` is excluded for this test case, so are we trying to resolve something in order to include it in testing? https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/portability/cmsis_rtos_v2/testcase.yaml

[2020-12-10 22:45] nashif commented on #25507
the issue was reported before testcase.yaml was changed :-)

[2020-12-10 22:54] vagotec commented on #30566
Hello erwango,
i tried with Zephyr SDK 0.12.0 Beta-3: https://github.com/zephyrproject-rtos/sdk-ng/releases/tag/v0.12.0-beta-3 and the same configuration.
i still get errors:
-------------------------------------------------------------------------------------------
Error:

[  1%] Generating misc/generated/syscalls.json, misc/generated/struct_tags.json
[  2%] Built target parse_syscalls_target
[

[2020-12-10 23:41] dcpleung commented on #30573
Works fine without pauses when doing `CONFIG_MP_NUM_CPUS=1`.

[2020-12-11 01:40] andrewboie commented on #30573
@dcpleung thanks this is really helpful. OK, I think this may be some race related to SMP and the recent changes I made to have self-exiting threads do their cleanup tasks in the context of the idle thread.

This looks like the expected code path where ztest calls `k_thread_join()` on the target ztest thread, and since it is still running when it gets invoked in run_test() in ztest.c, it blocks un

[2020-12-11 01:43] andrewboie commented on #30573
Oh wow I think I see it.

If SMP is enabled, `update_cache()` does NOT call `next_up()`. That's an ifndef not an ifdef. We need to do something else to ensure that idle thread temporarily preempts everything else on this CPU.

[2020-12-11 01:55] andrewboie commented on #30573
Hmm but that's not the whole story. In the SMP case, we eventually get into `do_swap()` in kswap.h. This invokes `z_get_ready_thread()`:

[code]

And that is implemented to call `next_up()`:

[code]

So it should get the idle thread back, and that should be the next thing to run. Except apparently it doesn't sometimes.

[2020-12-11 01:58] andrewboie commented on #30573
I would not be surprised if this issue has a relationship to https://github.com/zephyrproject-rtos/zephyr/issues/28105 which has been confounding us for some time.

[2020-12-11 02:20] katsuster commented on #29535
@andrewboie
RISC-V standard calling convention requires stack pointer must be 16bytes aligned.
See: https://riscv.org/wp-content/uploads/2015/01/riscv-calling.pdf
18.2  RVG Calling Convention

If users use only C functions compilers keep SP 16bytes aligned, but in z_setup_new_thread(), it sets SP manually.
So Zephyr violates SP alignment rules of RISC-V.

[2020-12-11 05:24] hardik-proxy commented on #30378
@carlescufi

Yes, I was able to reproduce it on latest master.

I understand. I am trying to reproduce it but with minimal GATT read and write operations I am not able to do so. Our application is more than just those operations. So trying to figure out the best minimal way to reproduce it.

it's like if Centrals are within given RSSI range of the peripheral, all of them will try to connect and do

[2020-12-11 05:25] #30548 closed

[2020-12-11 05:25] #30547 closed

[2020-12-11 07:19] mfinmuch opened #30624 "BLE : ATT Timeout occurred during multilink central connection"
**Describe the bug**
Situation:
Modify the example of zephyr BLE central_hr so that it can be connected to multiple peripherals.
Each peripheral will subscribe to the central, and then the peripheral uses `notify `to send the data to the central, and the central uses `bt_gatt_write `to return the value to the peripheral.
Now I use one central to 5 peripherals to test connection stability
It will w

[2020-12-11 07:34] arludwig commented on #30423
Yes, this fixes the issue. Thank you!

[2020-12-11 07:54] erwango commented on #30566
Is is possible not to shout :-) ?
Ok, thanks for the additional test. Well this is strange, as I have no issue with the same board on my side.

Would you be able to describe exactly the procedure that doesn't work (flash/plugg/unplugg, ...).
An idea might be to start from a clean sheet and start by fully erasing the flash using STM32CubeProgrammer.

On my side, I'll have few more tests and get bac

[2020-12-11 10:00] tejlmand commented on #30612
@jaronkelleher Thanks for this.
I wonder if the board revision helpfull in this case ?
https://github.com/zephyrproject-rtos/zephyr/pull/29990

[2020-12-11 10:24] #30253 closed

[2020-12-11 10:32] alexanderwachter commented on #30477
-33 looks like it comes from `settings_nvs.c`
[code]

[2020-12-11 11:40] pfalcon opened #30634 "frdm_kw41z: Current master fails compilation in drivers/pwm/pwm_mcux_tpm.c"
Build error messages:

[code]

Full log:
https://ci.linaro.org/view/lite-iot-ci/job/zephyr-upstream/5818/PLATFORM=frdm_kw41z,ZEPHYR_TOOLCHAIN_VARIANT=zephyr,label=docker-xenial-amd64-13/console

Specific commit built: d5072d13786edc4bc34a169e743d5aeeee34a819

[2020-12-11 11:41] pfalcon commented on #30634
Posted to capture the issue and avoid possibility of duplicating effort. I didn't perform further triaging so far.

@agansari, @MaureenHelm : FYI

[2020-12-11 12:09] koffes opened #30635 "cpu_stats: Change from printk to LOG_*"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, if you want to print CPU stats, https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/tracing/cpu_stats.c#L155 uses printk.

This has two drawbacks:
1. Printk will interrupt ordinary `LOG_*` making output scrambled and more challenging to read.
2. `CONFIG_TRACING_CPU_STATS_LOG=y `makes the user think that

[2020-12-11 12:11] mfinmuch commented on #29223
Thank you,
The method you provide can be used, which is much more reasonable than I canceled `params-value_handle=0`

Poyi

[2020-12-11 12:21] joerchan commented on #29223
Great, I'll close this issue now then.

[2020-12-11 12:21] #29223 closed

[2020-12-11 12:22] lund-prevas opened #30636 "TCP stack locks irq's for too long"
In subsys/net/ip/tcp2.c, function "net_tcp_get", the irq_lock() is used to avoid interrupts.

On a Freedom K64 board, with a Kinetis K64 running 120 MHz, this function locks interrupts for ~164 us
Same board provides several UART's with no flowcontrol signals and no FIFO, so each byte has to be read before next byte is received.
With a baudrate on 115200, there is ~86 us between each byte, so lock

[2020-12-11 12:31] pabigot opened #30638 "nrf pwm broken"
@galak `pwm_nrfx.c` doesn't build anymore; adding `#define DT_DRV_COMPAT nordic_nrf_pwm` at the top seems to work.

Also, doesn't it need to use `DEVICE_DT_DEFINE(PWM(idx))` instead of `DEVICE_DT_INST_DEFINE(idx)` since the instance numbers don't necessarily match the `pwmN` labels, and the rest of the macros in that file depend on the labels?  I'm unfamiliar with what's been going on with DT so I

[2020-12-11 12:55] RoyAnupam commented on #29008
Hello @cvinayak ,
 Today I git pulled project to latest and tried reproducing the scenario. However, the issue happens to reproduce still with same setup & scenario. Sharing some information's below to cross-check with you if I am missing something. Kindly check

**git project**: git@github.com:zephyrproject-rtos/zephyr.git

$git branch
* master

**git tip commit hash** : 4f4dd9f29fe33a1840959678b

[2020-12-11 13:32] carlescufi commented on #30353
Logging is big enough as a subsystem that `select`ing `CBPRINTF_COMPLETE` when enabling it is reasonable to me. The nano version of cprintf is there for tiny apps that do not use the logging subsystem, just the console/printk.

[2020-12-11 13:34] lowlander commented on #30365
Would be good if this can be disabled/enabled at runtime on a per socket basis.

[2020-12-11 14:00] galak commented on #30634
Fixed by #30644

[2020-12-11 14:02] #30638 closed

[2020-12-11 14:16] valeros commented on #30493
Indeed, at first glance, it seems like a sane approach, but still it forces users to take all these non-obvious steps with relative paths and a proper file name every single time when they run the `menuconfig` target instead of just saving their configurations when prompted at exit. Besides, that approach can lead to obscure issues when users already use  `OVERLAY_CONFIG`  in their `CMakeLists.txt

[2020-12-11 14:32] #30634 closed

[2020-12-11 14:33] EinarHenriksen opened #30649 "Trouble with gpio callback on frdm k64f"
**Describe the bug**
I'm trying to set up a gpio callback, but it's not working as I'd expect.
I want the callback to trigger when I receive a high signal at the PTC12 port (arduino header D8) on my frdm k64f.
I suspect that I'm not using the device tree correctly, but I've done everything like in the examples I've seen and can't figure out any other way to do this.
The button example works correc

[2020-12-11 14:35] galak opened #30651 "sanitycheck samples/video/capture/sample.video.capture fails to build on mimxrt1064_evk"
`scripts/sanitycheck -s samples/video/capture/sample.video.capture -p mimxrt1064_evk`

Gets:
[code]

[2020-12-11 14:36] galak commented on #30651
I believe this is related to @andyross change:

commit fcd392f6ceff5d552d52b3337f373ed8ed14a30e
Author: Andy Ross <andrew.j.ross@intel.com>
Date:   Mon Dec 7 05:53:28 2020 -0800

    kernel: subsys: lib: drivers: Use k_heap instead of z_mem_pool wrappers

[2020-12-11 15:02] cfriedt commented on #26477
Added interrupt capabilities.

[2020-12-11 15:36] jfischer-no commented on #30649
I do not think that there is a bug, try this:

[code]

[2020-12-11 16:00] nashif commented on #30635
sound reasonable, however I am planning to actually change the way we collect stats and move away from this implementation (CPU based) to something based on threads (using `CONFIG_THREAD_RUNTIME_STATS`).

[2020-12-11 16:14] #30576 closed

[2020-12-11 16:26] nashif commented on #30573
here another issues most likely caused by this bug: https://github.com/zephyrproject-rtos/zephyr/issues/30574

[2020-12-11 17:22] stefbo opened #30657 "BT Mesh: Friendship ends if LPN publishes to a VA it is subscribed to"
**Describe the bug**
Given a single LPN and friend node in friendship and a Generic Level Server model on the LPN which has a virtual address as publish address (say 0xbeef) the same LPN is subscribed also to, when publishing a (say) STATUS message on this model (with master credentials), then the friendship ends, because subsequent update messages are ignored by the LPN.

After some investigation

[2020-12-11 17:32] vandita5 opened #30659 "High cpu usage with udp sockets"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
I ran characterization for throughput and cpu usage. I modified sockets/echo_server sample's udp file to run a thread that receives an initial message, then starts sending data in a loop. After sending a certain amount of data, the thread sleeps for a certain interval

[2020-12-11 17:32] vandita5 commented on #30659
@jukkar Have you worked with udp or can you help tag someone who could help with this?

[2020-12-11 17:47] nandojve commented on #30486
The below scenario uses OT 1.1 with NCP on a Linux PC as border router. It uses Tayga for NAT64 and OT example default configs. This is based on PR #30460. The UpdateHub-CE is a docker hosted at an US service provider at NY. I'm running at South America and ping is around 138 ms from OT node to US server.

Download: ~ 16m 30s
Swap: ~30s
Confirm: ~1 min

[code]

[2020-12-11 17:54] nashif commented on #29737
some issues with this test were fixed in cf8177406929f664b68c1f7b2071e4f87f209f97, any other issues most likely due to now https://github.com/zephyrproject-rtos/zephyr/issues/30573

[2020-12-11 17:54] #29737 closed

[2020-12-11 17:55] nashif commented on #30574
based on quick test, this seems to be caused by #30573

[2020-12-11 18:03] nashif commented on #29284
closing per comment above

[2020-12-11 18:03] #29284 closed

[2020-12-11 18:06] nandojve commented on #30316
It is not necessary to run UpdateHub and have internet connectivity.

The below scenario uses OT 1.1 with NCP on a Linux PC as border router. It uses Tayga for NAT64 and OT example default configs. This is based on PR #30460. The UpdateHub-CE is a docker hosted at an US service provider at NY. I'm running at South America and ping is around 138 ms from OT node to US server.

Application un-signed

[2020-12-11 18:16] nashif commented on #30477
didnt we have this issue before?

[2020-12-11 18:18] nashif commented on #30591
@tejlmand FYI

[2020-12-11 18:19] puranjaymohan opened #30663 "Support for TI's TMP117 Temperature Sensor."
**Is your enhancement proposal related to a problem? Please describe.**
I propose the addition of a driver for the tmp117 temperature sensor.
This sensor is very similar to the tmp116, which is already supported by the zephyr.
The difference between the two sensors is that tmp117 has more precision than tmp116.

**Describe the solution you'd like**
The driver can be added by making minimal changes

[2020-12-11 18:19] puranjaymohan commented on #30663
I want to work on this, please assign it to me.
Thanks

[2020-12-11 18:48] dcpleung commented on #30574
Traced it to `CONFIG_INTEL_VTD_ICTL` being enabled for UP Squared board. After building with it disabled, the test ran fine. So this is not the same cause as #30573, as that problem is still there after disabling `CONFIG_INTEL_VTD_ICTL`. So re-opening this one as the root-cause is different.

[2020-12-11 18:49] dcpleung commented on #30573
Note that #30574 is caused by `CONFIG_INTEL_VTD_ICTL` being enabled, so not the same issue.

[2020-12-11 19:03] sslupsky commented on #30564
@jukkar Have you used gpsd?  I had a look and it looks quite good.

A couple observations:

1. I am unsure about the weight of this.  Does it require the network stack to be running?  I think I saw that it uses sockets so I think networking is a requirement which increases the memory requirements significantly.
2. The intro It says you can connect via serial or usb.  Do you know if there are there

[2020-12-11 19:17] sslupsky commented on #30557
Hi @henrikbrixandersen, the driver also provides an api for the slave.  The app running on the i2c slave cpu uses the AT_24 api to "program some data to the eeprom memory".  The app running on the i2c master cpu can pull that data from the slave device over the i2c bus.

[2020-12-11 20:41] cederom commented on #29921
Hello world, I just want to add that `nrfutil` (insalled with Python's `pip`) works for me on FreeBSD to generate ZIP DFU and then program the firmware using NRF DFU :-)

[2020-12-11 21:01] cederom opened #30667 "NRF DFU ZIP BUILD + FLASH AUTOMATION"
Hello world :-)

**Is your feature request related to a problem? Please describe.**
I have that amazing `nRF52840-DONGLE` which does not have Debug HIC only DFU is available for flashing. Flashing is possible with Python's `nrfutil` [1]. Still, in the first place HEX file needs to be converted into DFU ZIP what can be also done with `nrfutil`. The process consists of several steps which needs to b

[2020-12-11 22:06] dcpleung commented on #30126
Note that `DEF_INT_C_HANDLER()` does not refer to EPS/EPC registers so no issue there.

[2020-12-11 22:19] dcpleung commented on #30574
@tbursztyka `CONFIG_INTEL_VTD_ICTL` is causing issue on UP Squared board.

[2020-12-12 01:14] #20925 closed

[2020-12-12 02:14] cvinayak commented on #30624
Please ensure that you use unique GATT parameter variables for each simultaneous connection. For instance, your `cmd_read` which is using the same single `static struct bt_gatt_read_params read_params;` across all active connections.

[2020-12-12 02:35] LingaoM commented on #30657
This is obviously a specification error. LPN messages should not be stored in friend queue. This error has been corrected by SIG, mesh profile draft R13 3.5.5 friend queue.

[2020-12-12 02:35] LingaoM commented on #30657
Network layer discards the message with SRC as its own address. MESH.TS 1.0.1.2 4.8.4 MESH/NODE/RLY/BI-02-C [Ignore Invalid SRC] will specifically check this.

[2020-12-12 04:50] mfinmuch commented on #30624
Hello
I'm not sure what you mean, I didn't use `cmd_read`, I did `bt_gatt_write `on the conn when I received the notify from the peripheral
This should not use the same.

[2020-12-12 08:53] mfinmuch commented on #30624
@cvinayak
Hello
Or should I modify my `bt_gatt_write_params `to be like this?
`static struct bt_gatt_write_params write_params[CONFIG_BT_MAX_CONN];`
Then when writing, use this to manage?
`write_params[bt_conn_index(conn)]`

[2020-12-12 18:39] shlomow commented on #29394
Hi! I saw some forks that contain some features for the esp32. Maybe it will be useful if anyone that works on features for the esp32 can post here his fork. It will remove any duplication of work and allow people to test and use some code which has not upstreamed yet. I intend to add support for spi and I hope that I am not duplicating this.

[2020-12-12 18:44] sylvioalves commented on #29394
Yes, we need to handle that in some way.
Regarding SPI, we have already implemented SPI2 and SPI3 drivers but it is under internal review. Same for timer drivers. Once we have a few PRs merged, we will push it as well.

[2020-12-12 19:12] cfriedt opened #30673 "cmake: zephyr_module.cmake included before ZEPHYR_EXTRA_MODULES is evaluated"
**Describe the bug**
I was having some usual difficulty trying to build a module using the approach mentioned here:
https://docs.zephyrproject.org/latest/guides/modules.html

Dug into it a bit more and found that `ZEPHYR_EXTRA_MODULES` was empty inside of `cmake/zephyr_module.cmake`.

This was without initialising using `west init` previously (which was working fine in the CI for my external modul

[2020-12-13 01:18] #27997 closed

[2020-12-13 01:18] #26330 closed

[2020-12-13 01:54] cvinayak commented on #30624
yes, something like that, to avoid using the same memory for multiple simultaneous transactions.

[2020-12-13 03:10] cvinayak commented on #29008
Could you do a scan for number of WiFI access points in the vicinity of your setup? From the sniffer log review, there it is a wide spread of CRC errors and packet drops in the range of almost 1-13 WiFI channels overlapping the BLE radio channels.

[2020-12-13 06:04] mfinmuch commented on #30624
Indeed, this has improved a lot, which made my connection stable for more than 3 hours.
But in the end there was still the problem of ATT timeout error.

In this case, does discover_params also need to be set to
` static struct bt_gatt_discover_params discover_params[CONFIG_BT_MAX_CONN];`?

So ATT timeout error, is it a problem that occurs when I use the same memory for multiple transactions at th

[2020-12-13 07:36] cvinayak commented on #30624
Yes.

If you have based your application out of an upstream sample. I suggest you send a PR with your changes to make the sample capable of multiple connections simultaneously. This will make it easier to review your changes.

[2020-12-13 08:06] mfinmuch commented on #30624
I don’t really understand, how can I send a PR? Is there any sample code?
In addition, I found that I can improve my stability by changing these
[code]
Is there any reason for this?

[2020-12-13 08:59] katsuster commented on #29349
Similar issue in ztest. ztest creates a thread for each unit tests.
But we cannot specify K_FP_REGS in thread_options of struct unit_test using current ztest macros.

[2020-12-13 11:45] mkarklins commented on #25956
@ngoma94 I've just encountered a similar issue where I'd need to set the module with FSK modulation. By any chance - is there anything you could share about your driver at least as a starting point? It seems I'll also have to write one myself :)

[2020-12-13 13:39] pabigot opened #30678 "support user-provided ports in puncover target"
The puncover report custom target hard-codes a list of arguments.  It would be nice to be able to specify the port on which the server will run, so that we can simultaneously interact with multiple builds to assess their differences.

My cmake-fu is not up to this.  It could be something like
[code]
which doesn't work.

[2020-12-13 15:41] pabigot opened #30679 "puncover worst-case stack analysis does not work"
sdk-0.12.0-beta-3 breaks puncover support for worst-case stack analysis from https://docs.zephyrproject.org/latest/guides/optimizations/tools.html#build-target-puncover.  No stack data is visible in the puncover web; dropping back to sdk-0.11.4 it shows up.

Not clear whether the problem needs to be fixed here, in the sdk, or in HBehrens/puncover

[2020-12-13 15:43] nashif commented on #30679
just verified the generated .su files are the same across gcc versions.. so this is not the problem.

[2020-12-13 16:14] mfinmuch commented on #30624
I pulled my code request but I’m not sure if I’m doing this right
[https://github.com/zephyrproject-rtos/zephyr/pull/30680#issue-538975971](url)

[2020-12-13 18:15] EinarHenriksen commented on #30649
I tried adding this, but it doesn't seem to make any difference.
My callback still isn't getting triggered.

[2020-12-13 21:23] henrikbrixandersen commented on #30557
That actually makes the driver usable in a generic way. I missed that part of the functionality back when we discussed moving the driver to a sample.

[2020-12-13 22:04] henrikbrixandersen commented on #30477
@Zhaoningx Than you for reporting this. I am unable to reproduce the error you are seeing:

`$ ./scripts/twister -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -T samples/subsys/canbus/canopen/
INFO    - Zephyr version: zephyr-v2.4.0-2328-g4cfd2a1943
INFO    - JOBS: 2
INFO    - Building initial testcase list...
INFO    - 3 test suites (3 configurations) selected, 0 configurations disca

[2020-12-13 22:08] henrikbrixandersen commented on #30477
@nashif Yes, see #28152.

[2020-12-14 00:02] pabigot commented on #30353
The solution proposed here as I understand it is based on external processing of the log format string and argument `va_list` to determine what each parameter is, mutating some arguments (such as transient strings), and saving them all off the stack for subsequent processing.

At a high level this seems reasonable, but I believe the packaging of data that will be processed by cbprintf must be done

[2020-12-14 00:25] #21273 closed

[2020-12-14 00:26] #30446 closed

[2020-12-14 00:28] #30526 closed

[2020-12-14 01:17] #28791 closed

[2020-12-14 01:56] ite-ch commented on #29349
Yes, that's what I thought K_FP_REGS option is not applicable for RISC-V arch.
I think enable HW float directly if user configure CONFIG_FPU when compiling is the most safest way to avoid system getting stuck.

[2020-12-14 02:39] enjiamai opened #30682 "Add additional doxygen descriptions for test cases to generate test specifications"
## Introduction

Add additional doxygen descriptions for test cases to generate test specifications.

### Problem description

In order to make zephyr adapt to IEC61508 standard, dedicated test specifications which descript more details of test cases will be needed. For current test cases, they will be generated and put together with zephyr's API. We propose to put a test specification section in

[2020-12-14 02:42] enjiamai commented on #30682
FYI @LeiW000

[2020-12-14 03:07] KangJianX opened #30683 "intel_adsp_cavs15:running tests/kernel/sched/schedule_api failed"
Describe the bug
running tests/kernel/sched/schedule_api error, it showed assertion failed.

To Reproduce
Steps to reproduce the behavior:

sanitycheck -W -p intel_adsp_cavs15 --device-testing -T tests/kernel/sched/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/up_squared_adsp/tools/up_squared_adsp_flash.sh, /home/ztest/work/sof/rimage/keys/otc_private_key.pem" --device-serial-

[2020-12-14 03:19] Zhaoningx commented on #30477
@henrikbrixandersen Hi, I re-tested this by using `twister -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -T samples/subsys/canbus/canopen/`, and it still showed me:

*** Booting Zephyr OS build zephyr-v2.4.0-2317-gb517b1fc6086  ***
[00:00:00.005,000] ^[[1;31m<err> app: failed to initialize settings subsystem (err = -33)^[[0m

[2020-12-14 06:46] RoyAnupam commented on #29008
Hello @cvinayak ,

 I can see list of ~25 AP found in my Android S8+ phone.

BR,
-Anupam

[2020-12-14 07:04] henrikbrixandersen commented on #30477
@Zhaoningx Thank you for retesting. Perhaps this has something to do with the state of your storage partition in flash.

@dleach02 Could this somehow be related to #27203 although it is on K64?

[2020-12-14 07:49] hongshui3000 commented on #30126
yes,But there will be other warnings.When there is no interruption of leve6 and leve7, the interrupt function _xtensa_handle_one_int6 and _xtensa_handle_one_int7 will not exist
msg：
[code]

[2020-12-14 07:54] #30546 closed

[2020-12-14 07:59] s-kelvin opened #30685 "reel_board: tests/kernel/fatal/exception/ failure"
**Describe the bug**
Running testcase kernel.common.stack_sentinel in tests/kernel/fatal/exception/ on reel board. The output is incomplete and the testcase appears to be a failure in sanity check.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p auto tests/kernel/fatal/exception/ -- -DOVERLAY_CONFIG=sentinel.conf
2. west flash

**Expected behavior**
Test should pa

[2020-12-14 08:06] SeppoTakalo opened #30686 "getaddrinfo() does not respect socket type"
**Describe the bug**
When requesting an address for listening socket using `getaddrinfo()` with `AI_PASSIVE` in the flags field, the returned address is always using socket type `SOCK_STREAM`. Following example demonstrates this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare test network for QEMU `./net-setup.sh`
2. `west build -b qemu_cortex_m3 -t run`
3. Check output.

**

[2020-12-14 08:38] erwango commented on #30566
@vagotec I just had a try this morning and everything works fine on my board.
Please provide more information on the steps to reproduce and use west -vvv when running you commands to provide more hints on what is going wrong.

[2020-12-14 08:48] erwango commented on #6199
Closing this as lack of this document as not been identified as an issue so far

[2020-12-14 08:48] #6199 closed

[2020-12-14 09:44] noelleclement commented on #28572
Something I think is important if this is going to be considered for a larger (power management) infrastructural change:

During my current debugging I've observed that reconfiguring the SoC system clock during the power management subsystem's exit function (`_sys_pm_power_state_exit_post_ops()`) might be too late in the post wake-up interrupt sequence. Just as a bit of a dummy example: a lot of g

[2020-12-14 10:06] taoyinzhou opened #30688 "Using openthread based lwm2m_client cannot ping the external network address unless reset once"
**Describe the bug**
I want to implement the thread terminal to automatically connect to the OTBR by commissioning after it starts, and then connect to the external network.
OTBR runs openwrt Integrated with otbr-posix.
The nrf52840 runs .hex file which is one compiled from samples/net/lwm2m_client .
overlay-ot.conf modified：
[code]
Before the terminal starts, OTBR will create Thread network with

[2020-12-14 10:19] #30673 closed

[2020-12-14 10:35] nehalrohit opened #30689 "USB console for openthread"
Hello
Thanks for all your support,
I want to USB console as the same as the UART console for the openthread example.
I am able to print all log on USB CDC but not cmd shell on USB.
![img_20201214](https://user-images.githubusercontent.com/50902801/102070856-b6695300-3e25-11eb-8a62-aac5fa8054f5.png)

How to enable OT shell and updatehub shell on  USB?

[2020-12-14 11:07] noelleclement commented on #30590
So, I obviously don't have as much experience with this as you guys (and my knowledge is limited to the STM32 SoCs I've worked with), but I feel like these points are important to take into account if a larger architectural change is going to be considered:

I think it's important to note that this (obviously) requires the chosen kernel system timer clock source to be available at all (available /

[2020-12-14 11:10] jfischer-no commented on #30689
`CONFIG_UART_SHELL_ON_DEV_NAME="CDC_ACM_0"`
You can use _tests/bluetooth/shell/cdc_acm.conf_ as example.

[2020-12-14 11:14] neo-rink106 commented on #30486
hello Sir,
@nandojve ,
I find some one link of OTA code using thread but without Zephyr , that code update time is just 3 min 12 second , that was amazing but why Zephyr code takes too much time , I want to reduce time . What can i do .
**Can you tell me particular reason behind it.**

![Screenshot from 2020-12-14 16-37-06](https://user-images.githubusercontent.com/74714275/102074784-4bbb1600-3e2b

[2020-12-14 11:15] #30689 closed

[2020-12-14 11:19] mejtejt commented on #30349
I have spent a couple of days trying to really understand the problem, so I am better prepared to understand your answers. The question really boils down to: I cannot have socket CAN working when using std::ostringstream.

The following code snippets illustrate the problem:
![image](https://user-images.githubusercontent.com/33463717/102074993-e0ab1880-3e05-11eb-96a5-e82eba1445b9.png)

As you can s

[2020-12-14 11:32] lmajewski opened #30692 "Request for dynamic distinction between different boards' versions (i.e. "single binary" for many boards)"
**Problem**
Support for many variants of the same boards. For example - a board (foo) is added once to Zephyr project. Its HW has been described in foo.dts. After some time second revision of this board (PCB v2) has been introduced (with e.g. added extra LED, some extra devices attached to I2C) with foo_v2.dts.
Ideally, I would like to have a single binary to support both variants.

**Solution**
W

[2020-12-14 11:35] gmarull opened #30694 "Some boards enable non-minimal peripherals by default"
**Describe the bug**

Some boards, e.g. `reel_board`, enable non-minimal peripherals by default like SPI. This goes against board porting guidelines, as it enables a peripheral that is not necessarily used by all samples.

So for example, if I take the "hello_world" sample on `reel_board` I get:
[code]
If I compile the same sample with CONFIG_SPI=n, as it's not needed:
[code]

Not only that, but i

[2020-12-14 11:49] jfischer-no commented on #30694
FYI @jremmert-phytec-iot

[2020-12-14 12:01] jfischer-no commented on #30694
There are other boards that do not follow the _guideline_.
@gmarull Do you want to open a general issue about this?

boards/arc/hsdk/hsdk_2cores_defconfig:CONFIG_SPI=y
boards/arc/hsdk/hsdk_defconfig:CONFIG_SPI=y
boards/arm/96b_carbon_nrf51/96b_carbon_nrf51_defconfig:CONFIG_SPI=y
boards/arm/adafruit_feather_m0_basic_proto/adafruit_feather_m0_basic_proto_defconfig:CONFIG_SPI=y
boards/arm/atsamd20_xp

[2020-12-14 12:23] nandojve commented on #30486
Hello @neo-rink106,

It is difficult to say the real motive behind this higher time. There are some things that need be in mind:

1) The currently OT support on UpdateHub is experimental. This means, it works as I show to you, but it is not tuned yet.
2) The OTA on the NordicZone uses a dedicated local solution and I showed to you a true internet FW upgrade from US to Brasil. The ping from interne

[2020-12-14 12:44] carlescufi commented on #30692
Maybe related to https://github.com/zephyrproject-rtos/zephyr/pull/29990

[2020-12-14 12:48] e-rk opened #30698 "OpenThread Kconfigs should more closely follow Zephyr Kconfig recommendations"
**Is your enhancement proposal related to a problem? Please describe.**
The OpenThread Kconfigs make frequent use of `select` statement, which makes it more difficult to track enabled functionalities.
Some default values, like `OPENTHREAD_SHELL=y` should also be reconsidered.

**Describe the solution you'd like**
The Kconfigs should be refactored according to the guide: https://docs.zephyrproject.

[2020-12-14 13:01] carlescufi commented on #30692
Re: "Single-binary" functionality, you'd probably need: https://github.com/zephyrproject-rtos/zephyr/issues/11918, which is under discussion.

[2020-12-14 13:07] pabigot commented on #30590
Not exactly.  I tried to word the concepts so that the system clock can be turned off (stop advancing) without losing context, including pending alarms.  However, if nothing returns the system to a mode where the clock is running before the first deadline, when the alarm fires depends on the clock restoration process (all fire at once if the clock jumps to cover the sleep duration, all fire with a

[2020-12-14 13:10] pabigot commented on #30685
This also fails on other Nordic boards including pca10056.

[2020-12-14 13:11] pabigot commented on #30685
@nordic-krch The failure is an assertion in `z_nrf_rtc_timer_compare_set()`.

[2020-12-14 13:18] lmajewski commented on #30692
@carlescufi Thanks for sharing those links. It looks like the #29990 has the biggest chances to be pulled soon.

[2020-12-14 13:19] erwango commented on #30692
Before running into "how we can make this possible?", I want to be sure we're all on the same page here:
@lmajewski Zephyr binary is built against a device tree description. New device tree means new binary. 2 dts implies 2 binaries.
So, none of the proposed solution or proposed alternatives would work there.

This being said, we can start looking for a solution. But is that a use case that Zephyr

[2020-12-14 13:19] Thalley opened #30699 "Persisting connectable extended advertising"
**Is your enhancement proposal related to a problem? Please describe.**
The scenario is that an application wants to have a persisting connectable advertising set, i.e. an advertising set that starts advertising again after connection (if `CONFIG_BT_MAX_CONN` allows it).

It is technically possible to do this to some extent with the current API/implementation. However, there are two challenges wit

[2020-12-14 13:20] PerMac commented on #30685
This is already reported here: https://github.com/zephyrproject-rtos/zephyr/issues/30554
and here https://github.com/zephyrproject-rtos/zephyr/issues/30526
Closing this issue due to repetition.

[2020-12-14 13:20] #30685 closed

[2020-12-14 13:30] amergnat commented on #30066
It's a FPGA (arty 100t) simulating RISC-V core E34 (looks like hifive1_revb) with 32k (or 64k) RAM and Floating Point Unit support.

I think add a new board to test RISC-V's userspace feature isn't the best solution, it look more like a workaround.
I admit rework the test or RISC-V specific code to fit in 16k RAM could be huge, then do what you want, I just giving my opinion.

[2020-12-14 13:33] carlescufi commented on #30692
Yes, but that won't solve your problem entirely I believe. Please do spend some time reviewing it however, see if it covers your use case, and to what extent.

[2020-12-14 13:34] pabigot commented on #30692
In a limited form something like this is necessary.  It ties to #19448 and suggests a need for runtime probing of hardware to determine which disabled but built and linked devices need to be started.  Certainly an old binary can't support new hardware unless that hardware is self-describing (e.g. QSPI flashes using JESD216), but a new binary should be able to figure out what's available and do its

[2020-12-14 13:34] carlescufi commented on #30692
My understanding was that this was something we wanted to have limited support for, unlike the fully flexible CircuitPython-style functionality. But let's continue to discuss this here and reach a decision.

[2020-12-14 13:40] gmarull commented on #30694
@jfischer-no converted to a generic issue

[2020-12-14 13:57] katsuster commented on #29349
Hmm, as you said, this problem will be gone if we forcedly set FS field of mstatus when CONFIG_FPU is set.
However, I'm not sure whether ignoring K_FP_REGS option is acceptable or not...

[2020-12-14 14:22] galak commented on #30651
Think this is fixed by https://github.com/zephyrproject-rtos/zephyr/pull/30677

[2020-12-14 14:23] galak commented on #30679
I take that to mean its probably on the puncover side.

[2020-12-14 14:31] pabigot commented on #29165
This should have been fixed as a result of #29876

[2020-12-14 14:31] #29165 closed

[2020-12-14 14:53] rlubos commented on #30698
CC @MarekPorwisz

Do you have any specific cases of `select` overuse to discuss or is it a general complaint? To my knowledge, OT subsys will only `select` those OS features which are _essential_ for OT to run/build (for instance first on the list `SETTINGS` module - OT won't run w/o it). The same goes with `select`s on mbedTLS configuration - the core mbedTLS functionality needed for OT to run is

[2020-12-14 15:00] cvinayak commented on #25434
This is no longer observed. Closing the issue.

[2020-12-14 15:00] #25434 closed

[2020-12-14 15:43] lindemer opened #30702 "Shell module broken on LiteX/VexRiscv after release zephyr-v2.1.0"
**Description**
In releases after [zephyr-v2.1.0](https://github.com/zephyrproject-rtos/zephyr/releases/tag/zephyr-v2.1.0) the shell module no longer accepts input on LiteX/VexRiscv running on an Arty A7 FPGA.

**To reproduce**
Steps to reproduce the behavior:
1. Clone and follow the installation steps in https://github.com/litex-hub/zephyr-on-litex-vexriscv.
2. Load the FPGA bitstream according t

[2020-12-14 15:53] jukkar commented on #30659
Not sure what was the issue as the bug template was not filled fully. Are you just asking if that kind of performance is expected? For UDP I have seen similar numbers but have not tried that hw.
There is a draft PR at #30346 that tries to minimize various latencies in the network stack. You can certainly try that if it improves throughput.

[2020-12-14 15:55] e-rk commented on #30698
I understand the reasoning behind using `select` in OT Kconfigs. I actually made this issue because I was surprised by the fact that the shell was enabled in my example despite me never stating any will to enable shell in the project config. The reason is that the `OPENTHREAD_SHELL` uses `select SHELL` and defaults to `y` with almost no dependencies.  `OPENTHREAD_SHELL` becomes in this case the on

[2020-12-14 16:01] jukkar commented on #30564
I have used gpsd (but over 10 year ago). I would not want to use it in zephyr as is, but perhaps we can look how it interfaces to different chips as it has lot of supported GNSS providers. Your API looks reasonable but you mentioned it was developed according to u-blox GNSS. So would that API work with other GNSS providers?

[2020-12-14 16:13] jukkar commented on #30686
Indeed, the code seems to hard code `SOCK_STREAM` type in this case. See https://github.com/zephyrproject-rtos/zephyr/blob/905f496603b905a05d8ae41d81b2cac7987232e7/subsys/net/lib/sockets/getaddrinfo.c#L129 for details. The fix looks quite simple, @SeppoTakalo would you be able to fix this and submit a PR?

[2020-12-14 16:13] sslupsky commented on #30564
@jukkar I agree, I think there are some good things to learn from the studying the gpsd library.  I think the API above would be fine across other GNSS providers.  We need to add additional protocols as the API only contemplates four at the moment:

[code]

We also need to understand how the existing and future solutions interface to the mcu.  I think the majority use a serial uart.  Some have USB

[2020-12-14 16:28] jukkar commented on #30564
Also cellular modems usually provide support for GNSS. For example GSM modems have GSM muxing implemented where one UART will provide multiple virtual channels to the caller, and the GNSS data is transferred in one of these channels. The muxed UART will look same as normal UART to the application so it should work ok.

[2020-12-14 16:38] martinjaeger opened #30705 "STM32 PWM driver generates signal with wrong frequency on STM32G4"
**Describe the bug**

The following code snipped should generate a 5 kHz PWM signal with 50% duty cycle.

[code]

The actual signal generated is 7.5 kHz (duty cycle of 50% is correct).

Tested MCUs: STM32G431 and STM32G474.

**Environment:**
 - OS: Linux
 - Zephyr master, SHA: 1b680c82345577cf81f9e3333ae6708c81df85c9

@gmarull I'm trying to find a fix for the issue myself, but if you already have

[2020-12-14 16:51] jukkar commented on #30636
Hi @lund-prevas, I have a fix proposal at #30707. I did test it but could you report does it help in your use case?

[2020-12-14 16:55] jukkar commented on #30698
For the OT shell, it might be good idea to use `imply` for "selecting" it.

[2020-12-14 16:56] #30531 closed

[2020-12-14 16:57] joerchan commented on #29008
@RoyAnupam From what I can see both devices in the Connection reach supervision timeout. This also happens in the sniffer (the sniffer reaches supervision timeout and starts scanning advertiser channels, confirmed by actually seeing them).
The supervision timeout appears to be set quite low at 420 ms, with 40 ms connection interval that is just 11  connection intervals.

Can you try with a longer

[2020-12-14 17:00] hubertmis opened #30708 "BLE SW controller PA/LNA pins configuration in device tree"
It looks that currently there are two ways to define PA/LNA pins for radio drivers in Zephyr. One of them is device tree like here: https://github.com/zephyrproject-rtos/zephyr/blob/1b680c82345577cf81f9e3333ae6708c81df85c9/boards/arm/nrf21540dk_nrf52840/nrf21540dk_nrf52840.dts#L113 or https://github.com/nrfconnect/sdk-nrf/tree/master/dts/bindings/radio_fem . The other one is to use Kconfig like he

[2020-12-14 17:38] lmajewski commented on #30692
To provide some explanation (and please correct me if I'm wrong):
1. The #29990 would help with generating different binaries for different HW boards revisions (foo_v1, foo_v2, etc.)
2. Then it would be good to have a single binary - which would cover all variants with some runtime probing of underlying PCB revisions (with e.g. EEPROM).

Keeping in mind that Zephyr targets very constrained devices

[2020-12-14 18:16] ngoma94 commented on #25956
Hi @mkarklins,

I used the source files provided in the [loramac-node zephyr projec](https://github.com/zephyrproject-rtos/loramac-node/tree/master/src/radio/sx1276) as my starting point. I mentioned before that in these files resided the functionality I needed, but they weren't made available by the lora driver API. The API in question is [here](https://github.com/zephyrproject-rtos/zephyr/blob/m

[2020-12-14 18:55] ioannisg commented on #17656
Removing the stale, once more, I guess we'd like to address this soon (hopefully already for 2.5 and not LTS)

[2020-12-14 19:10] gmarull commented on #30705
It may be related with https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/pwm/pwm_stm32.c#L109 function. Timer clock frequency calculation has some differences amongst STM32 series.

[2020-12-14 20:04] SeppoTakalo commented on #30686
Sure.
Submitted a PR https://github.com/zephyrproject-rtos/zephyr/pull/30711

[2020-12-14 20:35] pfalcon opened #30712 ""make zephyr_generated_headers" regressed again - ";" separator for Z_CFLAGS instead of spaces"
`make zephyr_generated_headers`, as used to integrate Zephyr's build system with 3rd-party build systems, regressed again (previous case: https://github.com/zephyrproject-rtos/zephyr/issues/28230). Now it produces following Makefile.exports.C:

CXX = /home/pfalcon/opt/zephyr-sdk-0.11.4/x86_64-zephyr-elf/bin/x86_64-zephyr-elf-g++
OBJCOPY = /home/pfalcon/opt/zephyr-sdk-0.11.4/x86_64-zephyr-elf/bin/x

[2020-12-14 20:36] pfalcon commented on #30712
I didn't do detailed triaging/bisecting yet, pretty late for me, may fall asleep before I finish. Assigning to you, @tejlmand, just in case, hopefully you'll be able to help, just as with the previous case above. Thanks.

[2020-12-14 20:52] andrewboie opened #30713 "doc: "Variable ZEPHYR_TOOLCHAIN_VARIANT is not defined""
**Describe the bug**
Imaged a new Ubuntu machine and followed all the directions on https://docs.zephyrproject.org/latest/getting_started/index.html

I used the default location for the SDK.

Unfortunately, this page doesn't mention that ZEPHYR_TOOLCHAIN_VARIANT has to be set for `twister` to work.

**To Reproduce**
[code]

**Expected behavior**
Doc page would mention this detail.

**Impact**
Mino

[2020-12-14 20:54] pfalcon commented on #30712
Ok, 8275d39d4dbac85ffa095751b5529cf78e2962f2 broke it, with telling title "cmake: adding $<SEMICOLON> instead of space on zephyr_get_compile_<type>".

[2020-12-14 22:32] vandita5 commented on #30659
@jukkar Yes, that was my intention. Thanks for sharing the PR link. I'll take a look and try it out once it shows up as ready but probably early next year.
My overall intention is to see if there is other work planned to improve the cpu usage and if not, are there any suggestions available on what I could try to improve the cpu usage. My application requires ~8Mbps throughput and I'd like to minim

[2020-12-14 22:44] tejlmand commented on #30712
Fived here: https://github.com/zephyrproject-rtos/zephyr/pull/30714

[2020-12-15 01:15] #25173 closed

[2020-12-15 02:09] ite-ch commented on #29349
Indeed, I think so too, so I just modify it on my local side.
I'm looking forward to any good news.
Anyway, thanks for your attention to this issue.

[2020-12-15 07:28] mkarklins commented on #25956
@ngoma94 thanks! This is really helpful!

[2020-12-15 07:38] tbursztyka commented on #30574
@dcpleung I will check

[2020-12-15 08:23] jukkar commented on #30659
Ok, I misunderstood the issue. So basically you are looking a solution where you could cap the performance (mbit/sec) to some number. Right now we do not have that kind of support implemented, patches are welcome if you would like to implement one.

[2020-12-15 08:49] lund-prevas commented on #30636
Hi,
It does help. I am not seeing data loss on the UART when applying this commit

[2020-12-15 08:58] rlubos commented on #30698
Well if it's a matter of `OPENTHREAD_SHELL` being enabled by default I think we can consider disabling it (@MarekPorwisz what do you think?). Are there any other OT features enabled by default that you have an issue with?

[2020-12-15 09:25] MarekPorwisz commented on #30698
I don't mind disabling it by default. but we'll need to remember to update thread samples. However I'm not sure 100% that is a good idea. I think Thread should be easy to use for the beginners so we propose a set of initial default values that allow quick start with thread and when people became more Zephyr/Thread aware they can tune up the setting to their need. It is quite easy to find what feat

[2020-12-15 09:27] martinjaeger commented on #30705
It turns out that the reason was a too high prescaler value, which I left at the default value of `10000`.

https://github.com/zephyrproject-rtos/zephyr/blob/55df308025e29d133e4b29759e3c483534a48e84/dts/arm/st/g4/stm32g4.dtsi#L425

So the issue was my fault and it's solved with a smaller prescaler.

@gmarull Do you know the reason why the prescaler for STM32 PWM nodes is sometimes set to `10000` a

[2020-12-15 09:30] gmarull commented on #30705
@martinjaeger I don't know, I've always seen it set to 10000. @erwango do you know why?

[2020-12-15 09:31] martin-aberg opened #30723 "libc: malloc() returns unaligned pointer, causes CPU exception"
**Describe the bug**
The Zephyr minimal malloc() implementation returns pointers
aligned to 4 byte on 32-bit systems.

This does not comply with the requirement and expectation that
`malloc()` shall return a pointer which can be used to access any
type of object. (C99 §7.20.3)

A consequence is that user applications can not use `malloc()`
to allocate and access general data structures such as `st

[2020-12-15 09:49] RoyAnupam commented on #29008
[Connection1.zip](https://github.com/zephyrproject-rtos/zephyr/files/5694778/Connection1.zip)

Hello @cvinayak & @joerchan ,
  I have tested Connection between one nF52840 USB dongle (same dongle which I am using for Peripheral) and one commerical Android Phone (S20+) as Central/Initiating device.

**Result**: Connection seems to be rock solid!  Its almost 23+ hours now FYI, &  connection is still

[2020-12-15 09:55] cvinayak commented on #29008
The phone does channel map update, see the number of channels it has disabled:
![image](https://user-images.githubusercontent.com/6350656/102199266-b881ef00-3ec3-11eb-84a1-c65b9a87d84a.png)

You can do the same using the channel map update from BlueZ, this will either need information from WiFi controller or implement channel utilization statistics in the Zephyr controller.

[2020-12-15 10:02] RoyAnupam commented on #29008
Hello @cvinayak,
 Thank you for quick reply. Does it mean, connection instability between 2 nRF dongles is normal/known issue with certain number of AP's in nearby environment?

[2020-12-15 10:09] evgeniy-paltsev commented on #28942
The issue is related to openocd presence in custom config, I'll look to it by myself.

[2020-12-15 10:16] #30636 closed

[2020-12-15 10:22] #30651 closed

[2020-12-15 10:29] martinjaeger commented on #30705
Yeah, `10000` is much more common, but there are also quite a few occasions of `0`

[code]

[2020-12-15 10:30] Navin-Sankar opened #30724 "CAN J1939 Support"
**Is your feature request related to a problem? Please describe.**
    SAE J1939 is the vehicle bus recommended practice used for communication
    and diagnostics among vehicle components. Originating in the car and
    heavy-duty truck industry in the United States, it is now widely used in
    other parts of the world.
    J1939, ISO 11783 and NMEA 2000 all share the same high level protocol.

[2020-12-15 10:33] evgeniy-paltsev opened #30725 "ARC: add QEMU configuration to test XIP"
**Is your enhancement proposal related to a problem? Please describe.**
We are going to disable XIP for ARC hsdk_* boards. This feature is quite complex and rely on the image sections relocation in runtime. It would be good to add simulation platform (preferably QEMU based) to have it tested.

**Describe the solution you'd like**
Add new ARC QEMU platform with XIP enabled (something like x86 has `

[2020-12-15 10:36] Navin-Sankar commented on #30724
@jukkar @alexanderwachter requesting for comments and feedback.

[2020-12-15 10:46] rlubos commented on #30688
I'm sorry but I cannot reproduce the issue. I've built the `lwm2m_client` sample with the config changes you've listed (nrf52840dk_nrf52840), commissioned my device into the network (wpantund-based border router) and I could ping `net ping 64:ff9b::0808:0808` right away after joining, no reboot required.

[2020-12-15 10:50] jukkar commented on #30724
That is the way to go if you want support socket interface for this protocol. Your plan looks ok to me.

[2020-12-15 11:14] cvinayak commented on #29008
@RoyAnupam No, it is not an issue between dongles, it is the responsibility of the host to perform periodic channel map updates or to increase the connection supervision timeout. As you can see, the phone's host uses periodic channel map updates and is using a supervision timeout of 5 seconds compared to your setup that does not perform any channel map update and uses 420 ms as supervision timeout

[2020-12-15 11:46] RoyAnupam commented on #29008
Hello @cvinayak ,
 Okay, I see. Thanks for explaining~
May i request you to suggest any quick workaround in Zephyr Controller code by which this blocker can be resolved? I am not so familiar with Zephyr Controller code & making host changes might need a bit of time & analysis. Sorry about it~

BR,
-Anupam Roy

[2020-12-15 12:00] cvinayak commented on #29008
@RoyAnupam you can hard code your desired channel map in this file: https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/ll_sw/ull_chan.c

[2020-12-15 12:03] PerMac opened #30730 "tests: nrf: Tests in tests/drivers/timer/nrf_rtc_timer are flaky"
**Describe the bug**
The tests in tests/drivers/timer/nrf_rtc_timer are flaky (both nrf_rtc_timer and nrf_rtc_timer_no_zli). I didn't run statistics but the chances for a fail look high and it is hard to get a clear run. I only saw test_reseting_cc failing in this suite.

**To Reproduce**
Steps to reproduce the behavior:
1. go to zephyr dir
2. have nrf platform connected (e.g. nrf52dk_nrf52832)
3.

[2020-12-15 12:23] carlescufi commented on #29008
@RoyAnupam you can also use the [bt_le_set_chan_map](https://docs.zephyrproject.org/latest/reference/bluetooth/gap.html#c.bt_le_set_chan_map) existing API call instead to avoid having to modify the code at all.

[2020-12-15 13:27] #30573 closed

[2020-12-15 13:32] ktolonen opened #30736 "Deadlock with usb_transfer_sync()"
Calling usb_transfer_sync() from multiple thread with same endpoint address can cause deadlock.

Example code to reproduce can found from wpanusb sample where same end point is used from tx and rx context. USB_MAX_NUMBER_TRANSFERS shall be greater than 1 (default 4). Race condition is hard to get in practice and I don't have test code to reproduce the issue.

Based on debugging and code review iss

[2020-12-15 13:37] #30712 closed

[2020-12-15 13:45] jfischer-no commented on #30736
@ktolonen yes usb_transfers were not made to handle multiple transfers for the same endpoint simultaneously.
Please go ahead and submit PR.

[2020-12-15 13:45] RoyAnupam commented on #29008
Hello @cvinayak ,
 Thank you for your suggestion I will look into the code & try it.

Hello @carlescufi ,

Is this API part of BT HCI USB controller code? Actually, I am using Zephyr HCI USB controller for my nRF52840 USB dongle & Bluez host (Ubuntu PC). Please help me understand if I am missing something. Thank You

[2020-12-15 13:51] #29174 closed

[2020-12-15 13:59] nashif commented on #30540
Does this work for you in master?

[2020-12-15 14:04] koffes commented on #30540
Does the system/thread hang after the CPU log print should have happened?
May be related to https://github.com/zephyrproject-rtos/zephyr/issues/30418

[2020-12-15 14:35] martinjaeger commented on #30705
Raised the question of correct prescaler setting also in #30740, so I'm closing this issue as the original problem is resolved.

[2020-12-15 14:35] #30705 closed

[2020-12-15 15:22] nashif commented on #30513
cant reproduce:
[code]

[2020-12-15 15:22] #30513 closed

[2020-12-15 15:24] nashif commented on #30514
cant reproduce

[code]

[2020-12-15 15:24] #30514 closed

[2020-12-15 15:44] e-rk commented on #30698
@rlubos
`OPENTHREAD_SHELL` is the only option I have such problem with right now.

[2020-12-15 15:46] rlubos commented on #30698
Feel free to send a PR then, just please remember to enable it back in the samples (look for `overlay-ot.conf`).

[2020-12-15 15:47] vandita5 commented on #30540
@koffes  No. the app keeps running normal. Just no cpu usage prints.
@nashif I have not tried master but I tried zephyr-v2.1.0, zephyr-v2.2.0 and zephyr-v2.3.0 It broke v2.2.0 and beyond. I'll try to find some time this week to test with master as well.

[2020-12-15 15:50] wentongwu opened #30746 "how to add Zephyr include directories to external library which's using different build system"
**Describe the bug**
The example samples/application_development/external_lib demonstrates how to include an external static library
using a different build system into the Zephyr build system.
But sometimes the external library code(using different build system) needs some functions from Zephyr, that means when building the external static library with its own building system, it also needs Zephy

[2020-12-15 15:51] wentongwu commented on #30746
@SebastianBoe

[2020-12-15 15:53] vandita5 commented on #30659
Yes. More like I'm hoping to get a lower cpu usage. probably around 20-30% to get 8Mbps throughput from UDP. I honestly, don't have ideas around it as I haven't looked into udp or networking code. I am happy to try things out and implement a patch but I'd need some help as I haven't worked with this kind of code before. So, I was hoping to get ideas or get to connect with someone working on simila

[2020-12-15 16:15] #30746 closed

[2020-12-15 16:25] nashif commented on #30475
Cant reproduce.

[2020-12-15 16:25] #30475 closed

[2020-12-15 16:27] nashif commented on #30476
This test probably should be excluded for this board and requires additional setup (networking)

[2020-12-15 16:35] ktolonen commented on #30736
PR is ready for review.

[2020-12-15 17:22] #30686 closed

[2020-12-15 17:50] galak opened #30750 "Convert i2s_cavs to devicetree"
Covert i2s_cavs to utilized devicetree.

[2020-12-15 17:58] evgeniy-paltsev opened #30752 "ARC: passed tests marked as failed when running sanitycheck on nsim_* platforms"
**Describe the bug**

The 531fe89e80f859d9bc820418059cec93463e0539 commit of #28372 causes regression for ARC.
When we running sanitycheck on nsim_* platforms we get some exception from sanitycheck code and mark test as FAILED however it successfully passed.

Here is an example on exception:
[code]

In the `tests/kernel/mutex/sys_mutex/system.mutex/handler.log` everything looks OK:
[code]
The test

[2020-12-15 18:17] nashif commented on #30465
@carlocaione  can you take a look?

[2020-12-15 18:40] jukkar commented on #30659
Ok, one way to implement this could be something like this:

Modify `subsys/net/ip/net_core.c:net_recv_data()` and add some functionality there to calculate the incoming traffic and optionally
  1. drop traffic directly or
  1. inform the driver that it should stop accepting incoming traffic

For these the 1st is easy, we just drop the received packet with some criteria. This will affect the upper

[2020-12-15 19:03] nixward commented on #30698
@MarekPorwisz

"I wonder what would be a systemic approach to solve this conflict of interests I see between samples and actual products."

Note that a summary of Kconfig build options is output in the build folder in this file: zephyr/.config

I've found this very useful to review what is going into a project's build.

[2020-12-15 19:50] andrewboie commented on #30434
Interesting bug. Looks like the current test design of memcpy()ing program text into another virtual page is unsound and needs a different approach.

If we can supply a testcase specific linker script, could place the test function into its own page, which could then be first remapped to not allow execution, show that faults, and then remap with execution and show that works. No virtual address wo

[2020-12-15 20:13] SeppoTakalo commented on #30713
I was just searching for the same issue.
Apparently `export ZEPHYR_TOOLCHAIN_VARIANT=zephyr` is the right choice, if you installed the Zephyr SDK, and it has been visible in the documentation in the past:
https://docs.zephyrproject.org/1.14.1/getting_started/installation_linux.html#zephyr-sdk

But current documentation does not mention it. Probably at some point all the build tools detected Zephyr

[2020-12-15 21:24] jaronkelleher commented on #30612
I'll take a look at this and bring it up to the team. Thanks for pointing it out.

[2020-12-16 01:17] #22247 closed

[2020-12-16 03:33] nashif commented on #27573
I think this one was already fixed with recent move to multiprocessing.

[2020-12-16 03:33] #27573 closed

[2020-12-16 04:38] cvinayak commented on #29994
@carlescufi No, there should not be any disabling of interrupts. This function is called in the LLL context, any CPU overhead here will show up as Radio asserts.

[2020-12-16 06:11] katsuster commented on #29349
I talked with @andrewboie on slack, this is bug of RISC-V subsystem.
I sent PR #30765. After merged it, I hope this issue is solved.

[2020-12-16 07:41] taoyinzhou commented on #30688
I used the example samples/net/sockets/echo_server to print less .
overlay-ot.conf modified：
[code]
compile
[code]
The steps to reproduce the problem are exactly the same. Below is my log, hopefully that will help you figure out what the problem is
[code]

[2020-12-16 07:43] manoj153 commented on #17902
Hi, what's the current state/decision of Zephyr to support QSPI flash?

[2020-12-16 08:16] sw opened #30770 "mps2_an521: no input to shell from Windows qemu host"
**Describe the bug**
Trying to run a sample with shell functionality and have it work in an emulated ARM machine on a Windows host.
The sample runs and prints the shell prompt, but no input from keyboard is possible.

**To Reproduce**
Run in Windows command prompt (cmd):
[code]

**Expected behavior**
I expect to be able to enter shell commands and have them executed.

**Impact**
Prevents manual us

[2020-12-16 08:20] LingaoM opened #30771 "Logging: Fault instruction address in the logging thread"
**Describe the bug**
Every time power on, it will trigger the crash exception.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. west build -b nrf52840dk_nrf52840 zephyr/tests/bluetooth/mesh_shell/
3. west build -t menuconfig

Zephyr Kernel Version: 2.4.99

[00:00:17.732,574] <dbg> bt_mesh_crypto.bt_mesh_beacon_auth: BeaconKey 001245a59b55cee65ede2ecd3706dba~
[00:00:17

[2020-12-16 08:23] lindemer commented on #30702
This may be unrelated, but Zephyr's memory footprint appears to have increased significantly after that release. Here's the RAM usage for two samples on `litex_vexriscv`:

|  | `zephyr-v2.1.0` | `zephyr-v2.2.0` |
|-|-----------------|-----------------|
| `hello_world` | 13024 B | 80560 B |
| `shell_module` | 73584 B | 138672 B |

[2020-12-16 08:25] LingaoM commented on #30771
[autoconf.zip](https://github.com/zephyrproject-rtos/zephyr/files/5701281/autoconf.zip)

[2020-12-16 08:31] carlocaione commented on #30465
This is not the first time someone reported this, see #29058 for AArch64 so I think this is a real problem. I'll resurrect the PR for the AArch64, for the fix on AArch32 I think @ioannisg is the right person

[2020-12-16 09:03] erwango commented on #20262
@maxvankessel, I'd suggest to have a look to latest timers/pwm bindings. I think this should answer your querry.
I'm closing the point for now. Feel free to reopen if needed.

[2020-12-16 09:03] #20262 closed

[2020-12-16 09:05] erwango commented on #10857
@mbolivar-nordic agree to close. @SebastianBoe feel free to re-open.

[2020-12-16 09:05] #10857 closed

[2020-12-16 09:09] erwango commented on #27525
@intercreate, @jfischer-no, @jettr if sticking with existing request "Including STM32Cube's USB PD support to Zephyr", I'd tend to close current issue,  as we agree this won't be the way to go. An new issue could be created for USB PD support if required.
Is that fine for you ?

[2020-12-16 09:12] jfischer-no commented on #27525
@erwango yes

[2020-12-16 09:54] #30316 closed

[2020-12-16 10:25] carlocaione commented on #30725
I'm currently working on adding XIP support to the AArch64 and I'm testing it loading the binary zephyr file using `-bios` instead of `-kernel`. I'm not sure if that's the correct way to test it but it is working nicely for me.

[2020-12-16 11:29] pabigot commented on #17902
Currently we continue to write flash drivers rather than attempt to support generic quad SPI operations.

[2020-12-16 11:58] carlescufi commented on #29008
No, but it's an HCI command, so you can use BlueZ to send that command. The command is "LE Set Host Channel Classification command"

[2020-12-16 12:57] rlubos commented on #30688
Ok, I think I've figured it out. In your example the OT network uses non-default on-mesh prefix, `fd29:ceec:9986:f495::/64` (which is perfectly fine btw.), but you still register a static address with the default prefix (`fdde:ad00:beef:0:0:0:0:2`). Because of that, this IP address is not recognized by Zephyr as mesh-local and can be selected as source address for external destinations. We end up

[2020-12-16 13:26] RoyAnupam commented on #29008
Hello  @carlescufi ,
Sure, got it~ Thank you for the clarification. I will try to make some host modification for channel map update, but as I understand, it apparently seems to be not so straightforward & perhaps dependent on run-time wi-fi channel states. Will give it a try though!

@cvinayak & @carlescufi ,
Just FYI...today, I tried a small test whereby I just attempted to change Supervision ti

[2020-12-16 13:27] #30657 closed

[2020-12-16 13:27] retfie commented on #30486
Hello @neo-rink106,
here is an example of what time you could achieve with the following conditions:

CONFIG_LWM2M_COAP_BLOCK_SIZE=512
example: samples/net/lwm2m_client + OpenThread + https://github.com/retfie/zephyr/commit/3b9dd7281845c281106b2e85eca604f2665919a6 (zephyr.signed.bin is ~344k)
file server: Californium, cf-simplefile-server into local IPv6 network
Multiple updates are possible in pa

[2020-12-16 14:20] nandojve commented on #30486
Hello @retfie,

It will be nice have data from a real deploy using internet from one continent to another with ping info on Zephyr console, for the records. Please, share better your scenario, ping? hardware? Etc? Are you using native IPv6 or NAT 6to4?

Why ping is so important: From 138ms to 20ms (I'm assuming 20ms local network, it can be even better).
(6000 * 0.138) = 828s
(6000 * 0.02) = 120s

[2020-12-16 14:38] ioannisg commented on #30028
I suppose you mean =y, @Jacharcus , correct?

[2020-12-16 15:03] intercreate commented on #27525
@erwango , yes...
I am looking forward to @jettr getting the chromium OS code in there!

[2020-12-16 15:24] nashif commented on #29772
not able to reproduce this.

[2020-12-16 15:24] #29772 closed

[2020-12-16 16:02] nashif commented on #29287
@tbursztyka  can you look at that?

[2020-12-16 16:05] retfie commented on #30486
Dear @nandojve,
nothing to sell here, just an alternative working solution for FOTA into Zephyr.
OpenThread + LWM2M on nrf52840 based HW, native IPv6, local, no Clouds.
My apologies for posting into wrong topic.

[2020-12-16 16:15] drandreas commented on #29287
I think this was fixed with #29320

[2020-12-16 16:28] jukkar commented on #30659
IMHO this is more like an enhancement than a bug so changing the label.

[2020-12-16 16:28] joerchan commented on #29008
As of latest release 3.1.0, the sniffer does not support LE Coded PHY.

[2020-12-16 16:46] nandojve commented on #30486
Hi @retfie,

It is ok and that is the beauty of Zephyr, it gives us many choices!
👍

[2020-12-16 17:09] nashif commented on #30470
cant reproduce this.

[2020-12-16 17:09] #30470 closed

[2020-12-16 17:12] nashif commented on #29773
duplicate of #30472

[2020-12-16 17:12] #29773 closed

[2020-12-16 17:35] jukkar opened #30792 "Cannot build network echo_server for nucleo_f767zi"
**Describe the bug**
Following dts errors are shown when trying to compile echo_server sample app for nucleo_f767zi

[code]

**To Reproduce**
`west build -d build -b nucleo_f767zi samples/net/sockets/echo_server`

**Environment (please complete the following information):**
 - OS: Fedora 33
 - SDK 0.11.3
 - Commit SHA: 7a3f9c4e391f75558c74cbebcd503f16c6ed047c

[2020-12-16 17:49] #30472 closed

[2020-12-16 17:50] #30476 closed

[2020-12-16 18:04] ioannisg commented on #30028
@nashif i am not sure about this ticket.

This is a regular stack overflow due to removing all compiler optimizations.
@Jacharcus if you want to test this:
do something along the following in prj.conf:

[code]
and the test should pass.

Frankly, i am not sure this should be a bug. Clearly removing optimization increases stack usage, so thread stacks should be resized appropriately.
Not sure whethe

[2020-12-16 18:05] dcpleung commented on #29701
Coverity said it's fixed. So closing this...

[2020-12-16 18:05] #29701 closed

[2020-12-16 19:12] bigstefan commented on #29287
Yes it is fixed with #29320

[2020-12-16 19:12] #29287 closed

[2020-12-16 21:39] #30557 closed

[2020-12-16 22:02] andyross commented on #29430
See changes to adsplog.py in https://github.com/zephyrproject-rtos/zephyr/issues/30683 which should resolve the root cause issue with running sanitycheck via the standard SOF trace output mechanism.  I'm writing up docs on that right now and will push in that PR along with the west flash integration.

[2020-12-16 22:07] yerabolu commented on #30066
Based on the discussion above closing this issue.

[2020-12-16 22:07] #30066 closed

[2020-12-16 22:26] evgeniy-paltsev commented on #30752
The fix for this is #30411, so no need in debugging.

[2020-12-16 22:34] andrewboie commented on #29300
This is intended. Forcing `const k_tid_t name` to have static scope would preclude anyone from referencing the thread externally. The actual stack and thread objects generated could be static though.

About the original report:

The declared `struct k_thread` is not and must not be const. It's the thread control block. `const struct k_thread *` would imply we are declaring a pointer to a read-only

[2020-12-16 22:39] aleandroconte commented on #5626
Hi, I've a similar issue, what i see is this:
`gabriele@Gabriele-T490s:~/zephyr/zephyr-dwm1001/examples/ex_01a_simple_tx/build$ cmake -GNinja -DBOARD=nrf52_dwm1001 ..
Zephyr version: 1.14.0
-- Selected BOARD nrf52_dwm1001
CMake Error at /home/gabriele/zephyr/cmake/toolchain/zephyr/host-tools.cmake:44 (include):
  include could not find load file:

    /home/gabriele/zephyr/cmake/toolchain/zephyr/0

[2020-12-17 00:41] hardik-proxy commented on #30378
So I tried to perform GATT write on a characteristic of a Central device, instead of the central reading the characteristic.
The tx buffer overflow error along with few more errors started appearing very early in the application. Logs attached here.
[more_logs.txt](https://github.com/zephyrproject-rtos/zephyr/files/5706258/more_logs.txt)

[2020-12-17 01:03] qin-zou opened #30800 "STM32 usb clock from PLLSAI1"
I have external clock source (8MHz) for my STM32L452.
I want to configure my USB to use PLL as clock source (PLLSAI1).

Here is my current config.
[code]

With the above configuration, USB clock source is still from HSI48.
I am wondering if it's possible to create the clock configuration like the picture attached using zephyr config parameters.

![Screen Shot 2020-12-16 at 3 52 15 PM](https://user

[2020-12-17 01:23] manoj153 commented on #17902
@pabigot I see, that makes sense, In my experience, I have only used quad SPI for flash like interface only. Anyway, is there a sample for a particular where quadspi flash supported?

[2020-12-17 01:25] andrewboie commented on #29535
I posted analysis and an alternate approach in the linked PR. Long story short, your stack object is itself mis-aligned as its base address and size are only aligned to Z_RISCV_PMP_ALIGN.

[2020-12-17 01:29] andrewboie commented on #29535
@katsuster @Teng-Shih-Wei ^^

[2020-12-17 02:30] ite-ch commented on #29349
Cool, that's a big help!
I think it can be solved, at least, we don't get system stuck so far.
I appreciate your help very much.

[2020-12-17 03:02] pabigot commented on #17902
`samples/drivers/spi_flash` has checks to support `nrf52840dk_nrf52840` using the Nordic QSPI driver, which I think is the only one in tree so far.  Several things in `samples/subsys/fs` work on flash drivers of different types.

[2020-12-17 03:10] manoj153 commented on #17902
Thanks, I will take a look, I am interested in STM32 qspi, I am picking up zephyr now (coming with freeRTOS experience). Will be porting it for stm32 specific

[2020-12-17 03:15] pabigot commented on #17902
You'll want to be looking at #25806 then.  I believe somebody else is trying to pick up that work.

[2020-12-17 03:41] Zhaoningx opened #30805 "Build error at tests/kernel/queue in mec15xxevb_assy6853(qemu) platform"
I used command `twister -p mec15xxevb_assy6853 -T tests/kernel/queue/` to run in my master branch,
a error is met, the error log as below:
...
[ 86%] Linking C static library libdrivers__gpio.a
[ 86%] Built target drivers__gpio
Scanning dependencies of target drivers__i2c
[ 87%] Building C object zephyr/drivers/i2c/CMakeFiles/drivers__i2c.dir/i2c_common.c.obj
[ 88%] Building C object zephyr/driver

[2020-12-17 03:59] nashif commented on #29300
not a bug.

[2020-12-17 03:59] #29300 closed

[2020-12-17 06:18] taoyinzhou commented on #30688
Thank you. The problem solved

[2020-12-17 07:19] taoyinzhou commented on #30688
I did what you said and changed CONFIG_NET_CONFIG_MY_IPV6_ADDR="".
At first it was fine, but just now the network was down again, I looked at the ipaddr,
found that there is an additional address. 2001:db8:0:0:0:0:0:1
[code]
Even reset didn't help. I searched the code and didn't find that I had set this address.
Then I entered dataset clear and factoryreset into the board. at this time, it was not

[2020-12-17 07:31] taoyinzhou commented on #30688
CONFIG_NET_CONFIG_MY_IPV6_ADDR=""

[2020-12-17 07:31] #30688 closed

[2020-12-17 07:56] #25507 closed

[2020-12-17 08:01] LingaoM opened #30808 "Blueooth: Controller Response COMMAND DISALLOWED"
**Describe the bug**

Use nrf52832 as controller, use nrf52840 as host, use H4 transport layer.

*** Booting Zephyr OS build zephyr-v2.4.0-1367-g7d16ab50d738  **

[00:00:02.807,769] <inf> bt_hci_core: HW Platform: Nordic Semiconductor (0x0002)
[00:00:02.807,800] <inf> bt_hci_core: HW Variant: nRF52x (0x0002)
[00:00:02.807,800] <inf> bt_hci_core: Firmware: Standard Bluetooth controller (0x00) Versi

[2020-12-17 08:01] #27525 closed

[2020-12-17 08:07] erwango commented on #30792
@jukkar can you try `west udpate` ?

[2020-12-17 08:36] yingmingx opened #30809 "new testcase is failing after 3f134877 on mec1501modular_assy6885"
The issue:

miss macro TIMEOUT after commit-id 3f134877
new testcase(tests/drivers/sensor/generic #30763) is failing after 3f134877 on mec1501modular_assy6885:

tests/drivers/sensor/generic/driver.sensor in mec1501modular_assy6885:tests/drivers/sensor/generic/driver.sensor
Including boilerplate (Zephyr base): /workdir/zephyr/cmake/app/boilerplate.cmake
-- Application: /workdir/zephyr/tests/drivers

[2020-12-17 09:21] PerMac opened #30810 "tests: kernel: kernel.threads.armv8m_mpu_stack_guard fails on nrf9160dk"
**Describe the bug**
The test from tests/kernel/threads/thread_stack/ fail on nrf9160dk
git bisect: c770cab1a3a6cbfefbe8432939f78b321770d498 is the first bad commit

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf 9160dk connected
2. go to zephyr dir
3. run `./scripts/sanitycheck --device-testing -T tests/kernel/threads/thread_stack/ -p nrf9160dk_nrf9160 --device-serial /dev/ttyACM0

[2020-12-17 09:39] jukkar commented on #30792
Indeed that was the case. I forgot to update the HAL. Sorry for the noise.

[2020-12-17 09:39] #30792 closed

[2020-12-17 10:24] #30480 closed

[2020-12-17 10:47] ruuddw commented on #30752
I believe PR #30411 actually fixes this - however it needs an update/rebase for the sanitcheck->twister rename.
@wangnuannuan can you please take care of that?

[2020-12-17 11:35] sw commented on #30770
cmake/emu/qemu.cmake uses `find_program` to find QEMU, but doesn't specify the `.exe` suffix. I suspect that is why setting the `QEMU_BIN_PATH` env variable doesn't work.

After changing line 17 as follows, setting `QEMU_BIN_PATH` will work:
[code]

[2020-12-17 12:48] henrikbrixandersen commented on #30477
@Zhaoningx My guess is that you will have success if you flash it with `west flash --erase` - but that will also clear the state of the flash and make it more difficult to find the root cause.

[2020-12-17 13:02] erwango commented on #30800
@qin-zou This setting is not available yet. It has to be implemented.
It would need to be implemented directly in usb driver: `drivers/usb/device/usb_dc_stm32.c`, function `usb_dc_stm32_clock_enable`. We have no plan to implement this for now, but we can provide support.

[2020-12-17 13:11] carlescufi commented on #30105
@tejlmand could you comment on the full list of toolchains to check support for?
My assumption here is that the list is currently restricted to:

- GCC (version?)
- clang (version?)
- Metaware
- armclang
- esp32 IDF

[2020-12-17 13:21] erwango opened #30819 "twister: --generate-hardware-map crashes and deletes map"
**Describe the bug**
`twister --generate-hardware-map ../map.yaml` returns error and deletes map when a new board is detected.

**To Reproduce**
Steps to reproduce the behavior:
1. Plug a new board to the bench
2. Run `twister --generate-hardware-map ../map.yaml`
3. See reported error:
[code]
4. map.yaml is still there but empty.

**Expected behavior**
New board is populated in map.yaml

**Impact*

[2020-12-17 13:23] erwango commented on #30819
@nashif Hit the issue once again on my set up and it seems we're facing the same issue on our bench.
From what I can see this is finally not an error from my part.

[2020-12-17 13:44] cfriedt commented on #30809
duplicate of #30805

[2020-12-17 13:44] #30809 closed

[2020-12-17 13:44] mejtejt opened #30822 "designator order for field 'zcan_filter::rtr' does not match declaration order in 'const zcan_filter'"
**Describe the bug**
After making a "pull" on zephyr repository, I can no longer compile my code. It fails on CAN zcan_filter struct.
After executing Zephyr pull, I did "west update". I am using socket CAN. Therefore, I tried compiling socket example from Zephyr, using "west build -b nucleo_l452re_p samples/net/sockets/can --pristine". It compiles fine.

**Logs and console output**
![image](https:

[2020-12-17 13:46] cfriedt commented on #30805
This bug seems to be causing tests to fail for all of the PR's I have open. I presume it's affecting all PR's at the moment.

[2020-12-17 13:49] cfriedt commented on #30805
Looks like it was fixed in af2ba71e18bd7f8383d897b36b1a54e62655bee7?

[2020-12-17 13:53] cfriedt commented on #30805
Yeah, lookes like it was fixed by af2ba71e18bd7f8383d897b36b1a54e62655bee7

[2020-12-17 13:55] nashif commented on #30819
yeah, I have  a fix for this already. will push asap

[2020-12-17 13:58] nashif commented on #30805
fix merged.

[2020-12-17 13:58] #30805 closed

[2020-12-17 14:18] #30752 closed

[2020-12-17 15:59] carlescufi commented on #28438
Proposal for CI:

1. The `west.yml` in the external repo points to a release tag of zephyr, and the repo itself is only tested against that last release, on PR to the external repo. Who would be responsible for updating the external repo to the latest release when an `-rc`1` is tagged?
2. We integrate building the external repo in our on-PR CI in the main zephyr tree, by adding something similar t

[2020-12-17 16:06] nashif commented on #30574
this should be closed after the revert in #30716

[2020-12-17 16:06] #30574 closed

[2020-12-17 16:21] utzig commented on #30582
I submitted a fix to Doxygen with https://github.com/doxygen/doxygen/pull/8259, which was already merged, so once they ship a new release we can look into upgrading and close this issue.

[2020-12-17 16:46] galak commented on #28438
My suggestion for a name would be either `example-application` or `example-project`

[2020-12-17 16:49] vagotec commented on #30566
Hello Erwan,
After your comments and tests, i ordered a new board and re-tested everything. Now everything works fine.It's hard to believe that my new (old) board was broken (defekt from factory).

Thank you very much for your efforts (Thanksssssss)

[2020-12-17 16:55] galak commented on #28438
dev-review (Dec 17 2020):
* Suggestion is to just have a "daily" ci in the new repo
* Suggestion is that this repo is setup for multiple "applications"

[2020-12-17 16:59] erwango commented on #30566
That's a relief !! :-)
@vagotec Thanks for the heads up! Closing the point.

[2020-12-17 16:59] #30566 closed

[2020-12-17 17:08] gregshue commented on #28438
@galak Right now the Zephyr directory tree structure has `conf.prj` files (arguably "applications") under `tests` and `samples`.  Would it make sense to add a parallel `projects` tree for non-test, non-sample `conf.prj` et. al., to live?

[2020-12-17 17:23] gregshue commented on #28438
Is it appropriate for this repository to also be a regressive test case to verify that the `west -m <> --mr <> and --mf <>` options continue to work?

[2020-12-17 18:15] jukkar commented on #30355
Retried this with the same nucleo board.

[code]

Setting up the interfaces:
[code]

pings work ok
[code]

Then some UDP traffic
[code]

I had some issues with my firewall settings, so I disabled firewall for the vlan.100, vlan.200 and the main interface.

[2020-12-17 18:38] mejtejt opened #30841 "How to disable reception of socket CAN frames"
**Is your feature request related to a problem? Please describe.**
I am using setsockopt function to subscribe to the messages I want tor receive on the CAN. The function is as follows:
[code]
And the code runs, I am receiving messages I want. After some time, I want to tell socket CAN "stop receiving those messages". I tried implementing it with the following function:

`setsockopt(socket_id, SOL

[2020-12-17 19:06] mejtejt commented on #30822
Update. Ok, so this "designator order for field..." message is because I am compiling it in C++, and the sample project is compiled as C. When I align initialization with order in the struct, it is fine. So, code compiles.

But, with the reworked CAN implementation, I get no CAN messages. This is the commit I am on:
![image](https://user-images.githubusercontent.com/33463717/102531777-2afcf580-40a

[2020-12-17 19:09] jukkar commented on #30841
Indeed the code checks that option and size are correct.
See https://github.com/zephyrproject-rtos/zephyr/blob/ae35d3000f73e5ff104d4277e64103b11da2b092/subsys/net/lib/sockets/sockets_can.c#L603 and few lines below for details.
If giving NULL option and/or 0 length would mean that the filter needs to be unregistered, then these checks should be changed. Would you be able to send patches for these?

[2020-12-17 19:29] qin-zou commented on #30800
Thanks, I'll do some reading on it.

[2020-12-17 19:52] mbolivar-nordic commented on #30612
Note that this helps address revisions at the board level, but not the MCU level. For that we would need to rework the concept of 'board', I think.

[2020-12-17 21:18] jukkar commented on #30841
BTW, have you checked how the filter is removed in Linux? We should probably do it similarly in Zephyr.

[2020-12-17 21:54] qin-zou commented on #30800
[code]

@erwango Is this implementation ok? The drawback is that it's board specific.

[2020-12-17 22:37] mbolivar-nordic opened #30846 "devicetree: unspecified phandle-array elements cause errors"
**Describe the bug**
As shown in https://github.com/torvalds/linux/blob/master/include/linux/of_gpio.h#L82, a `0` cell in a phandle array should be treated as an unspecified element.

In zephyr, edtlib chokes on this with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add a 0 cell in a phandle-array to the devicetree
2. `west build --cmake-only` any application

[2020-12-18 02:38] chen-png opened #30850 "iotdk: couldn't flash image into iotdk board using west flash."
**Describe the bug**
Couldn't use west flash command to flash image into iotdk board.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b iotdk -p auto samples/hello_world/
2. west flash
3. see error

**Logs and console output**

-- west flash: using runner openocd
Open On-Chip Debugger 0.10.0+dev-01341-g580d06d9d-dirty (2020-06-25-12:07)
Licensed under GNU GPL v2
For bug reports,

[2020-12-18 07:56] erwango commented on #30800
@qin-zou Seems correct. What you can do is add a new Kconfig symbol (such as `USB_DC_STM32_CLOCK_PLLSAI` for instance) in `drivers/usb/device/Kconfig` to control this.
This new symbol would be STM32 specific. You just need to care about the dependencies (at least depends on SOC_STM32L4..).

[2020-12-18 07:59] mejtejt commented on #30841
Setting optval to NULL, and optlen to 0 iz exactly how I use it on Linux. The following is an excerpt from my Linux code:

![image](https://user-images.githubusercontent.com/33463717/102589270-0dfe0c00-410f-11eb-8ac2-64710f58a949.png)

And it works just like I want it to. This is part of the CAN_Open function, where I want to explicitly set that no messages are to be  received before instructed to

[2020-12-18 09:54] fzawadiak opened #30857 "SDRAM not working on STM32H747I-DISCO"
In file boards\arm\stm32h747i_disco\stm32h747i_disco_m7 FMC pinctrl-0 misses pin fmc_d25_pi1 so SDRAM is not working.
On that board pin fmc_a13_pg3 is used for something else (DSI) so should be removed.

[2020-12-18 11:38] pabigot opened #30860 "legacy timeout ticks mishandled"
This provides an issue backing #30842 which by inspection is correct and appears to be high priority.  With legacy timeouts `Z_TIMEOUT_TICKS` converts the tick count to a timeout which is expressed in milliseconds, not ticks.

Ticks should be assigned directly to timeout value in case of
CONFIG_LEGACY_TIMEOUT_API=y, just as they were before referenced patch.

Fixes: 7a815d5d993d ("kernel: sched: U

[2020-12-18 11:48] nordic-krch opened #30861 "drivers: uart: increase timeout precision in uart_rx_enable"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, `uart_rx_enable` gets `timeout` given in milliseconds. `timeout` refers to inactivity period which leads to `UART_RX_RDY` event. Millisecond resolution may significantly lower communication throughput if protocol requires ACK. For example, device transmits 10 bytes @1Mbaud, it takes ~100us but receiver has 1ms timeo

[2020-12-18 11:50] pabigot opened #30862 "Nordic system timer driver incompatible with LEGACY_TIMEOUT_API"
At some point the implementation started depending on support for absolute timeouts: attempts to build hello world with `CONFIG_LEGACY_TIMEOUT_API=y` produce errors.

The "fix" for this may be to stop supporting `LEGACY_TIMEOUT_API`.  #30860 shows that a breaking change to that implementation can go almost two weeks without being noticed.

[2020-12-18 12:04] mniestroj commented on #30862
I've noticed that issue yesterday after bumping Zephyr in one of old downstream projects. In most cases that doesn't happen, as projects tend to rely on stable releases instead. So that breaking change could be noticed even after 2.5.0 would be released.

Anyway, the problem comes from incomplete testing of `CONFIG_LEGACY_TIMEOUT_API=y` I guess.

[2020-12-18 12:19] pabigot commented on #30862
@nashif Should we plan to remove LEGACY_TIMEOUT_API for LTS?

[2020-12-18 12:28] shlomow commented on #30861
Maybe it is worth to add  more definitions like `SYS_FOREVER_MS` to the api that have soft restrictions on the drivers implementation as well as the occurrence of the `UART_RX_RDY` signal. For example, we can add `WAIT_INACTIVITY` define that that may be implemented by drivers as 1 ms timeout, and can be implemented using some hardware advantages. In the define I described the `UART_RX_RDY` will b

[2020-12-18 12:51] nashif commented on #30850
@abrodkin  @ruuddw fyi

[2020-12-18 12:58] abrodkin commented on #30850
Update SDK to v0.12.0 which was finally released yesterday: https://github.com/zephyrproject-rtos/sdk-ng/releases/tag/v0.12.0.

[2020-12-18 14:05] galak opened #30869 "Convert designware PWM driver to devicetree"

[2020-12-18 14:12] galak opened #30870 "Convert Intel DMIC to devicetree"
Convert drivers/audio/intel_dmic.c to be based on devicetree.

[2020-12-18 14:23] alexanderwachter opened #30871 ""warning: compound assignment with 'volatile'-qualified left operand is deprecated" when building with C++20"
**Describe the bug**
Building with C++20 issues a warning

**To Reproduce**
build some C++ code with C++20 that includes zephyr.h

**Expected behavior**
Build without warnings.

**Impact**

**Logs and console output**
[code]

[2020-12-18 14:29] galak opened #30872 "Convert Intel GNA driver to devicetree"
Convert drivers/neural_net/intel_gna.c to be devicetree based.

[2020-12-18 14:29] #30750 closed

[2020-12-18 14:29] galak commented on #30872
@nashif not sure who to assign this to, so started with you :).

[2020-12-18 15:40] nashif commented on #28438
Just for illustration of the various use cases:

<img width="1035" alt="image" src="https://user-images.githubusercontent.com/180017/102632478-2bd26d80-411d-11eb-92ca-2017d54838ed.png">

<img width="930" alt="image" src="https://user-images.githubusercontent.com/180017/102632508-368d0280-411d-11eb-8c5b-cce5325a4ed6.png">

<img width="1027" alt="image" src="https://user-images.githubusercontent.com

[2020-12-18 17:38] nashif commented on #30862
yes, we should.

[2020-12-18 17:39] nashif commented on #30862
we need to create another issue for that though..

[2020-12-18 17:41] nashif opened #30893 "Remove LEGACY_TIMEOUT_API"
Remove legacy timeout API support, this has been there for a few releases already and shall be removed for LTS, so ideally remove before 2.5 is released.

[2020-12-18 17:54] nashif commented on #30862
@pabigot  what is the reason you are still using the legacy timeouts with nordic timer?

[2020-12-18 18:11] nvlsianpu commented on #30075
assigned to me, #30370 fixes this issue.

[2020-12-18 18:55] andyross commented on #30860
@pabigot posted this along with the fix, so it's for him.

But... the legacy timeout feature was a source compatibility layer for a feature that landed and became default three (four?) releases ago.  Maybe the correct fix is just to remove the feature?  If no one has tripped over this in legacy code in the past year, no one will.  And no one should be writing new code to it by default.

[2020-12-18 18:58] mbolivar-nordic commented on #28438
@nashif are the pictures where module A and module B appear in the zephyr manifest and the product manifest meant to show that those modules are imported, or that they are being overridden?

Also, just for reference, here is a table showing how different repositories that may be involved in the build can be set up and relate to the build system:

**West project?**|**Zephyr module?**|**Notes or exa

[2020-12-18 19:03] #30860 closed

[2020-12-18 19:04] andyross commented on #30860
I misassigned it anyway, was @mniestroj 's patch.  But it's closed not.   I should have read through the cluster of issues and comments first.  Note that as a root cause, this is really a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/30893

[2020-12-18 19:22] qin-zou commented on #30800
Thanks,
Qin

[2020-12-18 19:30] nashif commented on #28438
via import, so they are in the zephyr project west yaml file.

[2020-12-18 19:31] nashif commented on #28438
oh, I think I should use different names :-)

[2020-12-18 19:34] pabigot commented on #30862
I'm not; I was trying to validate #30842 and had to use NXP because Nordic doesn't build hello world with that option.    Also see https://github.com/zephyrproject-rtos/zephyr/issues/30862#issuecomment-748049838 for why this might show up in the real world.

[2020-12-18 20:01] andyross commented on #30862
Obviated by https://github.com/zephyrproject-rtos/zephyr/pull/30903 FWIW

[2020-12-18 20:01] andyross commented on #30893
Agreed.  Patch away.

[2020-12-18 20:04] pabigot commented on #30893
Deprecated in 2.3 by #23382 so it's "legal" to remove it, though we never actually marked it deprecated.

[2020-12-18 20:10] nashif commented on #28438
fixed now.

[2020-12-18 20:17] mbolivar-nordic commented on #28438
Your pictures still show west projects in a different color than modules, but any repository can be either or both.

[2020-12-18 20:19] mbolivar-nordic commented on #28438
I still also see "west project A" in the picture for "a project (product tree) that is a zephyr module as well". It's still a cause for confusion for me. That could mean that the project west.yml overrides that project, or that it imported it.

[2020-12-18 22:15] #30106 closed

[2020-12-18 22:16] alexanderwachter commented on #30106
Solved by #28345

[2020-12-18 22:17] alexanderwachter commented on #22333
Solved by #28345

[2020-12-18 22:17] #22333 closed

[2020-12-18 22:43] alexanderwachter commented on #30724
@Navin-Sankar don't forget that you are not allowed to copy any code from the Linux kernel (GPL licensed) to the Zephyr repository. Only Apache licensed or compatible code is allowed.

[2020-12-19 00:39] nashif commented on #28438
yes, modules can be shaded to signify they are also projects.

[2020-12-19 01:21] #19497 closed

[2020-12-19 06:12] gregshue commented on #28438
@nashif, Thank you for trying to describe this with a graphic.  I assume you are describing the roll of each repository in each use case rather than the capabilities of each repository (since Zephyr always has a manifest file even if it is not the one referenced in the west workspace.  Consider showing both what the repository contains and how it is used.

As I have worked with it, it is quite pra

[2020-12-19 10:54] #30871 closed

[2020-12-19 17:17] nashif commented on #28438
if I understand you correctly, this is case (2)

[2020-12-19 18:29] gregshue commented on #28438
Yes, and no.

When I am working on extending https://github.com/bacnet-stack/bacnet-stack to also be a Zephyr module, the bacnet-stack repository is Product XYZ in Case 2.  When I am integrating the bacnet-stack module into my product, the bacnet-stack is Module C in either Case 2 and Case 3 (whether or not any of bacnet-stack's manifest files are imported).

Part of the need for this new reposito

[2020-12-19 21:58] #30857 closed

[2020-12-20 00:20] #30819 closed

[2020-12-20 01:22] #28938 closed

[2020-12-20 03:58] pabigot commented on #29363
Should be closed by #29876

[2020-12-20 03:58] #29363 closed

[2020-12-20 12:35] #30362 closed

[2020-12-20 13:19] mejtejt opened #30914 "No warnings when compiling with extra options"
**Is your enhancement proposal related to a problem? Please describe.**
In CMakeLists.txt of my application, if the following compile option is specified:
`add_compile_options(-Wall -Wextra)`
a huge amount of warnings is show, related to "Zephyr" directory.

**Describe the solution you'd like**
When compiling with the above option, I want to see no warning/errors at all related to Zephyr directory

[2020-12-20 18:01] #29139 closed

[2020-12-20 18:01] #27570 closed

[2020-12-20 18:02] #30663 closed

[2020-12-20 18:32] #30869 closed

[2020-12-20 19:49] #29430 closed

[2020-12-21 01:53] chen-png commented on #30850
it was passed with sdk 0.12.0, closed this.

[2020-12-21 01:53] #30850 closed

[2020-12-21 02:25] KangJianX commented on #28590
Verify this issue, it is fixed.

[2020-12-21 02:25] #28590 closed

[2020-12-21 02:37] chen-png opened #30918 "up_squared: tests/kernel/mem_protect/mem_protect failed."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/mem_protect/mem_protect
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
 Booting Zephyr OS build zephyr-v2.4.0-2666-gfe8311843285
Running test suite memory_protection_test_suite

START - test_permission_inheritance
E: Page fault at address 0x12e990 (error code 0x4)
E: Linear a

[2020-12-21 03:26] KangJianX commented on #29430
@andyross  Hi Andy, it still have a problem. Run twister and check handle.log but log not correct, the result of test cases is that I used twister to flash last time. For example, use west to build and flash test cases of thread_api. Then **use twister to run test cases of mutex**, the result of twister is thread_api log, **not mutex**.

[2020-12-21 03:52] manoj153 opened #30921 "west flash failed with an open ocd error"
**Describe the bug**
I was trying to test my first blinky sample and encountered a error

**To Reproduce**
Steps to reproduce the behavior:
1. cd ~/zephyrproject/zephyr
2. west build -p auto -b nucleo_h723zg samples/basic/blinky
3. See error

**Impact**
Not allowed to flash and test a starter project to get started

**Logs and console output**
`
<pre><font color="#4E9A06"><b>manoj@M-Ping</b></font

[2020-12-21 07:51] mejtejt commented on #30822
I probably should have mentioned it eariler. I am using STM32L462 microcontroller. It might help pinpoint where the problem lies.

Thanks.

[2020-12-21 08:40] KelvinTsoi commented on #29879
[code]

[2020-12-21 08:41] KelvinTsoi commented on #29879
still has some problems after updating the lib.

[2020-12-21 09:21] jukkar commented on #29879
I am not seeing errors like that, gptp sample compiles just fine. Have yo done `west update`?
[code]

[2020-12-21 09:31] noelleclement commented on #30590
@pabigot thanks for the clarifications!
What you're essentially proposing is to split up the (kernel system clock) timer drivers and timeout infrastructure, right? To allow for more specific applications, especially regarding power management?

Thinking out loud:
Essentially this would make a use-case possible where the high-frequency clock is still used as the kernel system clock (becoming discon

[2020-12-21 09:58] UberDoefus commented on #30362
Thanks guys, I can confirm this fixes the issue.

[2020-12-21 10:22] rtzu6 commented on #30355
Interesting. Just to confirm: you ran the pings/UDP traffic in parallel I assume?
The issue does not necessarily happen immediately. Maybe you can run the described test setup for a longer period of time, e.g. 10 minutes.
Also: what connections are shown in the statistics and why is there a large amount of dropped packets?

[2020-12-21 11:34] nehalrohit opened #30929 "PDM Driver for nrf52840dk"
I want to interface with an MP34DT05 MEMS audio sensor for nrf52840dk_pca10056.

can you give me some steps or any sample example?
Thanks...
Nehal

[2020-12-21 17:46] cfriedt opened #30935 "tests: net: sockets: tcp: add a tls tests"
**Is your enhancement proposal related to a problem? Please describe.**
Currently I'm attempting to use mbedTLS in a custom application and am creating a test to verify TLS in CI. The test is multi-threaded and uses TCP sockets with the TLS extensions; the server server socket is managed by one thread and the client socket is managed by the main thread.

My reference(s) for the application were th

[2020-12-21 17:46] cfriedt opened #30936 "tests: sockets: tcp: add a tls test"
**Is your enhancement proposal related to a problem? Please describe.**
Currently I'm attempting to use mbedTLS in a custom application and am creating a test to verify TLS in CI. The test is multi-threaded and uses TCP sockets with the TLS extensions; the server server socket is managed by one thread and the client socket is managed by the main thread.

My reference(s) for the application were th

[2020-12-21 18:39] pabigot opened #30938 "samples/net/dhcpv4_client does not work with sam_e70_xplained"
Building this sample for `sam_e70_explained` reveals two problems:
* By default the MAC address is 00:00:00:00:00:00.  This can be eliminated by adding `CONFIG_ETH_SAM_GMAC_MAC_I2C_EEPROM=y` somewhere.
* Once that's fixed wireshark shows that the device is not transmitting any DHCP requests.

The same sample with `frdm_k64f` works as expected.

[2020-12-21 22:38] tejlmand commented on #30105
Looks precise enough to me.
Unsure how this would impact custom toolchains, @daor-oti comments ?

For the versions, I think:
gcc
- 9.x.x, Zephyr SDK 0.12 is using 10, but gnuarmemb is GCC 9 based.

clang
- 10.0.0 as that is what has recently been introduced.

[2020-12-22 00:34] ufechner7 commented on #30204
Created a fairly complete documentation how to build and burn a basic example for Teensy 4.0 on Ubuntu: [](https://github.com/ufechner7/zephyr_teensy4_test/blob/teensy40/readme.md)

Tricky: cmake must be neither too new nor too old. And you need the 2.4 branch of Zephyr. Is this still true?

[2020-12-22 01:31] cvinayak commented on #30808
Please provide details to reproduce like the commit, samples, configuration, build steps used, flashing steps and test procedure.

[2020-12-22 01:44] cvinayak commented on #30708
This is a welcome request. If anyone with better knowledge to port Kconfig define used, to using the devicetree then its quicker to have this enhancement.

[2020-12-22 01:58] cvinayak commented on #30378
Your log starts after ~28 minutes of operations, without a sample to reproduce the issue, it is difficult to provide an analysis.

It also appears that asserts do not halt the CPU, have you changed the default assert implementation?
Also, use CONFIG_ASSERT=y, try to halt at exceptions and backtrace the function call tree.

[2020-12-22 04:08] qin-zou opened #30943 "MPU fault with STM32L452"
I have a customized application modified based on webusb (loopback) app.
I am seeing this MPU fault quite a lot.

[code]

Not sure what address 0xedf7ff20 is.

Here is the decode for the LR register:
[code]

Sometime, adding an extra log message could cause this fault to occur.
And adding a delay may also change the behavior.
Do you have any idea what could be causing this issue?

Thanks,
Qin

[2020-12-22 06:27] cvinayak commented on #24142
@binkboyd and @SloMusti

Please try using #30950  and leave your comments here or in the PR.

Add the following to your application core MCU program, to permit the GPIO to be controlled by network core MCU.
[code]

[2020-12-22 07:58] hubertmis commented on #30708
While developing FEM support for 802.15.4 we have gained enough knowledge to port Generic and Skyworks FEM bindings https://github.com/nrfconnect/sdk-nrf/tree/master/dts/bindings/radio_fem to Zephyr. However, we don't have enough knowledge about BLE Controller to help starting using DTS description in this module. I think a good starting point could be an example how MPSL is using DTS to configure

[2020-12-22 08:05] jukkar commented on #30938
Works for me (after enabling the MAC address)

[code]

[2020-12-22 08:09] jukkar commented on #30935
How this is different from #30936, do we need two TLS issues that look identical?

[2020-12-22 08:31] LingaoM opened #30955 "Bluetooth: userchan: k_sem_take failed with err -11"
**Zephyr build version:  zephyr-v2.4.0-1367-g7d16ab50d738**

Step to build and configuration:

- 1. west build -b native_posix zephyr/samples/bluetooth/central
- 2. west build -t menuconfig

- 3. west build

**Use Cambridge Silicon Radio CSR rck PTS Dongle as Controller**
- 1. sudo btmon
- 2. sudo hciconfig hci1 down

**Finally run command: sudo ./build/zephyr/zephyr.exe --bt-dev=hci1**
In a short

[2020-12-22 08:35] LingaoM commented on #30955
@JoeSpeedboat CC

[2020-12-22 09:36] lowlander commented on #28312
@ABOSTM  This is not the general D/I cache (the F4 has no cache), but the special cache of the internal flash controller only. See `3.5.2 Adaptive real-time memory accelerator (ART Accelerator™)`

This should not cause any of the DMA problems like on the F7 with a real data cache.

[2020-12-22 12:53] pabigot opened #30961 "esp32 broken by devicetree device updates"
This issue backs PR #30937 which fixes issue introduced by DT update: #30845

Created to provide a way to improve visibility for a broken SOC not exposed by CI.

[2020-12-22 13:18] pabigot commented on #30938
Huh.  Wonder if it's a board problem.  Mine has on the back A09-2637/02 sn 12000009780. On the front there's a JX02 94V09 26 18 where the last two suggest it may have been built in July 2018.

[2020-12-22 13:28] pabigot commented on #30105
The current ESP32 (xtensa) toolchain is:
[code]

[2020-12-22 13:34] #30846 closed

[2020-12-22 13:48] jukkar commented on #30938
I have earlier version A09-2637/01 from 2017. I remember that there was two versions (A vs B) of this board, perhaps this is related to board version. I though the difference between the boards was related to number of TSN queues, and not about IP connectivity.

[2020-12-22 14:52] GroteGnoom opened #30964 "Sleep calls are off on qemu_x86"
**Describe the bug**
When running the dining philosophers sample on qemu_x86, the philosophers don't sleep when eating, and they should.

So, for example, this philosopher does not sleep for 450 ms:
[code]

The generated build.ninja has a `-icount shift=5,align=off,sleep=off` in the qemo-system-i386 command, and when `sleep=on` the problem is fixed. The origin of this seems to be `/zephyr/cmake/em

[2020-12-22 14:59] GroteGnoom commented on #30964
Ah, I only searched the open issues, my bad. This has been reported here as well:
https://github.com/zephyrproject-rtos/zephyr/issues/29518
Shouldn't this be fixed in general, instead of everybody removing their icounts?

[2020-12-22 15:34] sw commented on #30770
Serial input is working with board `qemu_cortex_m3`, so this may be a problem with the uart_cmsdk_apb driver not working properly in qemu

[2020-12-22 15:59] Chandranshu9 commented on #23465
Please help me integrate Zephyr authentication- ZAUTH so that I can run sample bluetooth authentication code available.
Below is the error I am getting while doing build in Ubuntu terminal:

Parsing /home/chandranshu/zephyrproject/zephyr/Kconfig
Loaded configuration '/home/chandranshu/zephyrproject/zephyr/boards/arm/arduino_nano_33_iot/arduino_nano_33_iot_defconfig'
Merged configuration '/home/cha

[2020-12-22 16:00] Chandranshu9 commented on #23465
If this is not the right place to ask this question then please tell me where to ask.

Please help me integrate Zephyr authentication- ZAUTH so that I can run sample bluetooth authentication code available.
Below is the error I am getting while doing build in Ubuntu terminal:

Parsing /home/chandranshu/zephyrproject/zephyr/Kconfig
Loaded configuration '/home/chandranshu/zephyrproject/zephyr/boards

[2020-12-22 16:04] s-kelvin commented on #30918
After bisect, I found that previously the timeout issue in test_permission_inheritance has been fixed by 8ad5ad22140611cc335380bd078dc627ec4412b9, so before that commit, the results of testcases following test_permission_inheritance are unknown due to timeout.

@jenmwms mentioned this unexpected fatal error in test_mem_domain_setup and found the bad commit in [#30305](https://github.com/zephyrproj

[2020-12-22 16:56] pabigot commented on #30938
Aha.  Yes, it turns out I do have the B variant, as indicated by this cryptic output:

    [00:00:00.000,000] <wrn> soc: CIDR mismatch: chip = 0xa1020e01 vs HAL = 0xa1020e00

When I switch to `sam_e70b_xplained` it works.

[2020-12-22 16:56] #30938 closed

[2020-12-22 17:01] deangereaux commented on #23465
@Chandranshu9   `HAS_NRFX` is platform specific for the Nordic nRF52 SOCs and should not be in the `prj.conf` file.  Go ahead and remove and try to re-create.  Also I fixed a bug recently, the stack size of the main thread was too small.   You should also add `CONFIG_MAIN_STACK_SIZE=4096` to the proj.conf file.

ZAUTH is still a work in progress, so there will be bugs.  I'm hoping to finish and su

[2020-12-22 17:18] Chandranshu9 commented on #23465
Hello @deangereaux, Thanks for your quick response, Yes removing HAS_NRFX solved my issue, Now I am receiving some Kconfig warnings, The same warnings were also shown when I was running the test version of authentication. Please help me with this. I am eagerly waiting for the final version of your ZAUTH, it looks very promising.
Below is the error that I am receiving while building the code:-

Par

[2020-12-22 17:58] cfriedt commented on #30936
I used this patch to get a bit more detail from mbedTLS
[tls-debug.patch.txt](https://github.com/zephyrproject-rtos/zephyr/files/5731340/tls-debug.patch.txt)

[2020-12-22 18:41] puranjaymohan commented on #26392
Is this bug solved? if not I would like to work on this.

[2020-12-22 19:14] deangereaux commented on #23465
@Chandranshu9   Not sure why you're getting these errors.  I'll take a look later this week, in the mean time if you figure out what's causing these config errors, please let me know.

[2020-12-22 19:52] Chandranshu9 commented on #23465
@deangereaux  This is because I am not able to integrate your ZAUTH with zephyrRTOS properly, Can you tell me how to integrate them both.
I downloaded ZAUTH and pasted it inside zephyr folder.
Are there any changes that need to be made for running your ZAUTH library properly with zephyrOS?
I think if you can tell me how to install this properly then these issues will be solved.

[2020-12-22 20:05] deangereaux commented on #23465
@Chandranshu9   Let's move this conversation off this RFC doc.  Please enter this info here as an issue: https://github.com/GoldenBitsSoftware/zephyr/issues

[2020-12-22 20:20] jaronkelleher commented on #30612
This was the sentiment I received from the team as well. While that is a nice solution for board revisions, there is still a preference to be able to organize MCU subfolders by a board name as was suggested initially. I'd also like to emphasize that this is targeted for out-of-tree zephyr folders, not the in-tree board folder here.

[2020-12-22 20:23] Chandranshu9 commented on #23465
@deangereaux Sure, I have moved the issue. Please reply there.

[2020-12-22 20:33] bdkrae commented on #30204
I updated my zephyr-fork and rebased the teensy4-branch. This brought up the [SRAM problem](https://github.com/zephyrproject-rtos/zephyr/issues/30204#issuecomment-735422250) mentioned above. Proposed solution is pushed to the branch. So the teensy4 board should now run with latest zephyr code.

**Some thoughts about RAM placement**

It seems that Zephyr always needs a memory region named _sram_. T

[2020-12-22 20:53] fabiojmendes commented on #28620
Having the same issue here! Thanks @thelittlebug for the info, I went through some hoops to enable the shell because I didn't know how to. But after a was able to ping the host (raspberry pi 4) from the test board (nrf52840 DK) a reached the same point as described in this bug.

**Environment (please complete the following information):**
Raspbian GNU/Linux 10 (buster) Linux pi4 5.4.79-v8+ #1373 S

[2020-12-22 22:27] ufechner7 commented on #30204
Congrats for fixing two difficult issues!

Question: Did you already create a pull request for you nxp-hal patch?

[2020-12-23 01:12] LuoZhongYao opened #30972 "USB: SET_ADDRESS logic error"
**Describe the bug**
When enumerating USB, when HOST sends a SET_ADDRESS command to zephyr, zephyr first calls usb_dc_set_address, and then responds via usb_dc_write, and this response uses a new device address, causing enumeration to fail, because HOST is still waiting for a response at address 0.

**Expected behavior**
After zephyr receives the SET_ADDRESS command, it should answer first, and th

[2020-12-23 09:02] jfischer-no commented on #30972
It is up to the driver to handle this situation correctly. This is due to historical reasons and it does not work differently with some drivers. For the current implementation of the stack this will not change.

[2020-12-23 10:00] manoj153 commented on #30921
Issue solved, found out because of the outdated open-OCD package, for now, I upgraded to latest v0.12.0 package

[2020-12-23 10:00] #30921 closed

[2020-12-23 10:39] gmarull commented on #30692
If two boards have distinct pinctrl for the same peripheral I see no other way other than having 2 images. Zephyr uses DT in a static way, and while it has many advantages in terms of optimized binaries (size and runtime) it has its downsides. When it comes to devices (e.g. a sensor), one could have all of the required ones defined but disabled and then leave the application to decide which device

[2020-12-23 11:24] zisisadamos opened #30977 "stm32f4 error in adc register size in dtsi files. Missing adc nodes from stm32f405.dtsi"
**Describe the bug**
stm32f4.dtsi incorrectly states that adc1 node starts at 0x40012000 with size 0x400. Although that [RM0368](https://www.st.com/resource/en/reference_manual/dm00096844-stm32f401xb-c-and-stm32f401xd-e-advanced-arm-based-32-bit-mcus-stmicroelectronics.pdf#page=39&zoom=100,165,493) states that adc spans from 0x40012000 to 0x400123FF if we take a closer look at adc register mapping

[2020-12-23 13:22] KangJianX opened #30979 "up_squared_adsp: Twister can not capture testcases log correctly"
**Describe the bug**
When use twister to run test cases, after to check the handle.log(the test cases result), the result of testcases are not specified by myself.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T **tests/kernel/mutex/mutex_api/** --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,

[2020-12-23 17:57] andyross commented on #30979
This doesn't seem to happen for me.  I tried several times and couldn't reproduce.

That said: this is not impossible, owing to the fact that the log output is static in the device memory and that twister will start the log reader script earlier than the flash script, causing the earlier output to be emitted first.  I suppose we could add an argument that doesn't print the current buffer contents,

[2020-12-23 21:53] gregshue commented on #28438
I think we will want to document this in terms of the source code [topologies supported by west](https://docs.zephyrproject.org/2.4.0/guides/west/repo-tool.html#topologies-supported), and be a bit more explicit about module.yml files, DTS files, multiple projects, and Zephyr Project hosted repos vs external ones.  How about this?

![Manifest topologies with modules](https://user-images.githubuserc

[2020-12-24 04:08] enjiamai commented on #30918
@jocelyn-li  @s-kelvin
I did some analysis on this, the test case failed due to k_mem_domain_init() failed.

test_mem_domain_setup() ->  k_mem_domain_init() -> arch_mem_domain_init().
In arch/x86/core/x86_mmu.c:1623

domain->arch.ptables = page_pool_get();   it returns -ENOMEM.
This means no more page pool can be used.

And if we look at boards/x86/up_squared/Kconfig.defconfig:31
config X86_MMU_PA

[2020-12-24 07:36] sercantun opened #30989 "driver : STM32 Ethernet : Pin definition for PH6"
Hi,

We are working on a Stm32f429 based custom board. We are trying to test the Ethernet interface.
MII mode is used.  While trying to make HW configuration in pinmux.c, we realised that there is no ethernet definition for the PH6 in  pinmux_stm32f4.h

Can we define it in a similiar way to the other ethernet pins? Or will this cause a problem in the driver?

[2020-12-24 08:25] RoyAnupam commented on #29008
@joerchan ,

Ok, thanks for confirming. Does the sniffer support Extended Advertising & Extended Connection over 2M PHY?

[2020-12-24 10:07] VinodSHegde opened #30991 "Unable to add new i2c sensor to nrf/samples"
I am trying to add adxl345 to nrf52840 and BMI160 to NRF52840.

I followed all configuration mentioned in nordic devzone but device_get_binding(DT_LABEL(DT_INST(0,adi_adxl345))) returns NULL.

How to properly setup sensor with nrf/sample examples.

[2020-12-24 11:08] ufechner7 commented on #30204
@bdkrae I tested your latest commits and I can confirm that it works fine now with the master branch of Zephyr. I updated my installation instructions: [https://github.com/ufechner7/zephyr_teensy4_test](https://github.com/ufechner7/zephyr_teensy4_test)

I made a small change to the demo application to improve logging: https://github.com/ufechner7/zephyr_teensy4_test/commit/f6a77180f0d72f7532afe203

[2020-12-24 12:21] pabigot commented on #30590
I'm not sure exactly what you mean.  The timeout infrastructure (`k_uptime_ticks()`, `struct _timeout`) should always be directly driven by the state of the system clock driver (`<drivers/timer/system_timer.h>`) selected as the system clock.

What I'm proposing is that the system clock driver API be augmented with features to support it being turned off during periods where `struct _timeout` time-

[2020-12-25 03:44] cfriedt opened #30997 "samples: net: sockets: echo_client: posix tls example"
**Is your enhancement proposal related to a problem? Please describe.**
It would be good to provide a sample application to run on POSIX systems, linking with OpenSSL, to connect to the `echo_sever` sample application (running on hardware or in qemu) with TLS enabled.

**Describe the solution you'd like**
Provide a source file in `samples/net/sockets/echo_client/src` as well as a `Makefile.posix`

[2020-12-25 06:53] IHIDCHAOS opened #30999 "updatehub with openthread build update pkg failed"
**Describe the bug**
Hello
I am trying to follow this issue #30316 and zephyr [doc](https://docs.zephyrproject.org/latest/samples/subsys/mgmt/updatehub/README.html) to do an update for my nrf52840dk using updatehub with openthread.

And the updatehub runs successfully:
[code]
But I ran into some problems while creating the upgrade package.

**To Reproduce**
[code]

**Logs and console output**

whe

[2020-12-25 10:55] ufechner7 commented on #30204
Using the example of @bdkrae or my fork, I am not able to toggle pin 2, while toggling the internal LED (pin 13) works fine.

The following code look suspicious to me:
[code]
Whe is the pin toggle_gpio in a section "compatible = "gpio-keys";" ? Perhaps thats the problem?

[2020-12-25 11:43] bdkrae commented on #30204
@ufechner This seems to be a pin mapping problem. It works fine on T4.1 or if I take another pin on T4.0:

[code]

But after that I still can see signal on pin 2 but still searching where it comes from.

I fixed up a bug this morning regarding a missing pinmux statement in ```teensy40_defconfig```. Maybe this is important to know before starting with I2c etc.

[2020-12-25 12:32] ufechner7 commented on #30204
I tried to create a table of the GPIO and pin names: [https://github.com/ufechner7/zephyr_teensy4_test](https://github.com/ufechner7/zephyr_teensy4_test) (near the end of the page), but I do not think it is correct. I still do not understand how to do the mapping correctly. Main main source so far was the schematics at [https://www.pjrc.com/store/teensy40.html](https://www.pjrc.com/store/teensy40.

[2020-12-25 13:18] jukkar commented on #30997
The net-tools project contains `echo-client` program that can be used from Linux. The https://github.com/zephyrproject-rtos/net-tools/blob/master/README.md file contains information how to use stunnel to tunnel TLS traffic between Linux and zephyr.

[2020-12-25 19:57] bdkrae commented on #30204
I have already created this mapping table for zephyr documentation. Look at ```doc/index.rst``` in the board folder.

This mapping from _teensy-pin-names_ to _imxrt-logial-names_ to _imxrt-port/pin-numbers_ follows no arithmetic pattern. You have to study the reference manual for imxrt starting from page 293 (Chapter 10 - External Signals and Pin Multiplexing).

[2020-12-26 00:16] cfriedt commented on #30997
Interesting - that might be useful for testing. My eventual use case will likely not be able to use stunnel though.

[2020-12-26 00:21] ufechner7 commented on #30204
@bdkrae My table was based on the schematics, which had one or two wrong pin labels. I could fix them using your table. You can find my current test results at [https://github.com/ufechner7/zephyr_teensy4_test](https://github.com/ufechner7/zephyr_teensy4_test) . Conclusions:
1. I understand now the pin numbering, which often - but not always - follows an arithmetic pattern.
2. Most GPIO pins work,

[2020-12-26 02:20] ufechner7 commented on #30204
The issue mentioned above is fixed. I created a pull request, [https://github.com/bdkrae/zephyr/pull/2](https://github.com/bdkrae/zephyr/pull/2) , but I have to do it again because the commit message doesn't comply to the rules.

[2020-12-26 09:21] alexisc67 opened #31008 "error: initializer element is not constant .attr = K_MEM_PARTITION_P_RX_U_RX"
**Describe the bug**
Find an error when building a basic sample Blinky for the Thingy:52.
Here is the error:
zephyrproject/zephyr/arch/arm/core/aarch32/cortex_m/mpu/arm_core_mpu.c:77:3: error: initializer element is not constant
   .attr = K_MEM_PARTITION_P_RX_U_RX,
   ^
zephyrproject/zephyr/arch/arm/core/aarch32/cortex_m/mpu/arm_core_mpu.c:77:3: error: (near initialization for 'static_regions[0].

[2020-12-26 13:39] ufechner7 commented on #30204
I updated my table of the pins and the test status. Only difference to your table so far is pin 6. You write it is GPIO1_10, my finding is that is is GPIO2_10. Perhaps a typo?

[2020-12-26 15:04] pabigot commented on #31008
Which version of ARM embedded are you using?  I'm unable to reproduce this on Linux at current master head 4ca7942411 with either gcc-arm-none-eabi-9-2020-q2-update or gcc-arm-none-eabi-10-2020-q4-major.

[2020-12-26 20:00] raveslave commented on #27525
@jettr great to see this coming! agree that PD is a completely separate thing.
...in most our products, we have the PD stack (talking to the PD PHY) + power state machine (talking to chargers, pmic's, vbus switches etc) running on a low-power ARM, while the USB stack itself runs completely decoupled on a larger mcu/dsp or such.

some topics that probably would need separate issues:

1. Discuss how

[2020-12-26 20:01] bdkrae commented on #30204
Thanks for checking, typo is fixed.

This issue seems to be relatively complex. I digged a little deeper:

Confirming your analysis, issue comes back to the file you mentioned. It seems to provide a table containing a boot configuration which is accessed by hardware during boot. Asking the net returns that this file must be generated using NXPs MCUXpresso tools. Since T4.1 has optional external SR

[2020-12-26 22:42] ufechner7 commented on #30204
@bdkrae I can confirm that your branch works. It is a cleaner solution than my commit. Lets go for that!

At some point it would be nice to support additional QSPI memory for Teensy 4.1, but I am not even sure if the two files that you deleted would be required to achieve this goal. And yes, I would postpone that, step one should be to fully support Teensy 4.0, then Teensy 4.1 without extra memory

[2020-12-27 09:40] GrixaYrev opened #31014 "Incorrect timing calculation in can_mcux_flexcan"
**Describe the bug**

Fields `propSeg`, `phaseSeg1` and `phaseSeg2` are given to FLEXCAN HAL without conversion (i.e. like register value), but this fields are used in timing calculation like interval value. Interval value is equal register value increased by one.
Incorrect bus speed and large number of errors are in result.

**To Reproduce**
Speed of FlexCAN 250k and greater (When speed is 125k,

[2020-12-27 16:32] cfriedt commented on #30997
I suspect that the existing solution of using `stunnel` will be sufficient for Zephyr & most people's testing needs, but just in case anyone else needs  a decent reference for a suitable client (and server) for Linux that uses OpenSSL, they can use the attached. It's MIT licensed, tested, etc.

I wrote a test client / server because the application-specific use case required it.

The attached code

[2020-12-27 16:32] #30997 closed

[2020-12-27 17:15] #26477 closed

[2020-12-27 17:16] #29992 closed

[2020-12-27 17:17] #29519 closed

[2020-12-27 17:19] #30961 closed

[2020-12-27 17:20] #30979 closed

[2020-12-27 18:16] eanderlind commented on #10945
Building `zephyr/samples/hello_world` with gcc (10.2 installed via homebrew, with a manual link `ln -s /usr/local/bin/gcc-10 /usr/local/bin/gcc`) on macOS 10.15.7 (ie only 64-bit supported) with
`west build -b native_posix_64 -d build_posix64`
selects correct gcc toolchain, however stumbles when compiling ``zephyr/arch/posix/core/offsets/offsets.c`with errors
[code]
It looks like the struct member

[2020-12-27 20:07] ufechner7 commented on #30204
I created a second tutorial/ example on how to use the Zephyr shell with Teensy 4.0: [https://github.com/ufechner7/teensy4_shell](https://github.com/ufechner7/teensy4_shell)

[2020-12-27 22:22] bdkrae commented on #30204
Checked the CAN sample. After adding a _can-primary_ define to ```teensy40.dts``` it worked fine with _flexcan1_ and _flexcan2_. I defined _flexcan1_ as chosen default. Find the code [here](https://github.com/bdkrae/zephyr/commit/8c6ce59bfd349caa6f6e5109b0b9b24d698d31fc).

With _flexcan3_ the sample doesn't work. But since this peripheral seems to have some special status acc. to manual, this seem

[2020-12-28 01:34] #29155 closed

[2020-12-28 01:42] vrahane commented on #30378
Hi @cvinayak, so, yes the asserts are disabled. Probably due to code size. We did play around a bit with the settings and did some investigation, I tried it with 3 peripherals and 1 central, I have come to a point where I understand that there are 4 connections getting initiated trying to securely talk to our central whereas only 3 devices are advertising and they get disconnected if they do not "

[2020-12-28 02:14] IHIDCHAOS commented on #30999
Solved. Use `uhu cleanup` to clean old builds.

[2020-12-28 02:14] #30999 closed

[2020-12-28 03:49] ufechner7 commented on #30204
Any idea where this warning might be coming from:
"[00:00:00.297,000] <wrn> usb_dc_mcux_ehci: endpoint 0x1 already occupied"

Do you also see it when running your example?

[2020-12-28 05:55] IHIDCHAOS commented on #30316
Hi @nandojve
I am following your guide above to do OTA too.
In the last step, I encountered this error:`<err> updatehub: Could not receive data`
[code]

Could you please help me to solve this problem? Thanks in advance!

[2020-12-28 06:03] chen-png opened #31018 "up_squared: tests/kernel/pipe/pipe_api failed."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/pipe/pipe_api
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
Booting Zephyr OS build zephyr-v2.4.0-2674-g4ca7942411f7
Running test suite pipe_api

**START - test_pipe_thread2thread**
E: General protection fault (code 0x0)
E: RAX: 0x0000000000cac000 RBX: 0x0000000000000000 RCX

[2020-12-28 06:22] LingaoM opened #31019 "Bluetooth: Mesh: Thread competition leads to failure to open or close the scanning."
**Describe the bug**
Bluetooth Mesh unable to start scanning or disable scanning, as a result, the provisioning procedure failed.

Use NRF52DK as Controller attach to Linux OS, Run Zephyr Bluetooth Host on Qemu.

**To Reproduce**
Steps to reproduce the behavior:
`/* Controller */`
1. west build -b nrf52dk_nrf52832 zephyr/samples/bluetooth/hci_uart/
2. west flash
3. sudo btattach -B /dev/ttyACM1 -S

[2020-12-28 06:37] LingaoM commented on #31019
Based on the log information, it is preliminarily inferred that it is a competition issue caused by the ADV thread and the HCI RX thread simultaneously enabling or closing scanning.

https://github.com/zephyrproject-rtos/zephyr/blob/380528676960d0fb57fae48d8616154a5e06705c/subsys/bluetooth/host/hci_core.c#L8563-L8574

ADV Thread will also operate scanning when closing the broadcast. At this time,

[2020-12-28 06:52] LingaoM commented on #31019
https://github.com/zephyrproject-rtos/zephyr/blob/380528676960d0fb57fae48d8616154a5e06705c/subsys/bluetooth/mesh/cfg_srv.c#L1967-L1998

I think if it is possible to put the` bt_mesh_reset` operation in `bt_mesh_send_cb::end` to execute, there will be no such problem.

But the problem now is that the sending of the proxy does not implement the real callback. I think it is meaningful to implement th

[2020-12-28 07:19] KangJianX opened #31020 "CI build failed on intel_adsp_cavs18 when submitted a PR"
**Describe the bug**
Submit a mailbox test cases PR on Github, CI build failed on adsp_cavs18

**To Reproduce**
Push a PR about mailbox test cases.

**See error**
......
[ 64%] Building C object zephyr/lib/posix/CMakeFiles/lib__posix.dir/pthread_common.c.obj
[ 65%] Building C object zephyr/lib/posix/CMakeFiles/lib__posix.dir/nanosleep.c.obj
[ 67%] Linking C static library liblib__posix.a
[ 67%] Bu

[2020-12-28 09:17] lmajewski commented on #30692
For a handful of boards the approach with having a single DTS with all versions defined and then deciding in run time (in user's application) which one to use seems like a feasible approach.

However, I do think that sooner than latter there will be a use case where many boards' revisions are going to be supported  and the user application will not be able to handle it. Hence, was my question - if

[2020-12-28 10:50] nandojve commented on #30316
Hi @IHIDCHAOS ,
UpdateHub is expecting an UpdateHub-CE running at 64:ff9b::6a0d:d7b7. Are you sure that UpdateHub-CE is running? Are there routes, no firewall blocking etc?
https://docs.zephyrproject.org/latest/samples/subsys/mgmt/updatehub/README.html#step-2-1-updatehub-ce-community-edition

[2020-12-28 11:16] IHIDCHAOS commented on #30316
Hi @nandojve ,
I am sure that my UpdateHub-CE is running like this (old picture):
![image](https://user-images.githubusercontent.com/20263334/103210445-92b20c80-48fd-11eb-989b-f6d91f7938df.png)

And I think the output `[00:01:02.171,905] <inf> updatehub: Probe metadata received` can also prove this.
I have tried to capture the packet from Wireshark on My OTBR wpan0, It seems that it's always sendi

[2020-12-28 12:03] nandojve commented on #30316
Hi @IHIDCHAOS ,

Yes, you are right! It seems something in the UpdateHub-CE side, at first. Are you using latest version or an old one?
Any data that you can share may help to find the problem. Share your diff configs from current master too.

[2020-12-28 12:12] ufechner7 commented on #30204
I updated https://github.com/ufechner7/teensy4_shell . I added sections about custom commands and inter thread communication.

Other topic: I can confirm that the flag GPIO_PULL_UP doesn't work . This is a missing feature or bug, not in the board definition, but in the driver for the CPU. It should be processed in the file drivers/gpio/gpio_imx.c , but it isn't.

Current code:
[code]

In the file

[2020-12-28 12:45] mejtejt commented on #30349
I would like to provide an update on this issue. I have been able to resolve it. What made a difference, was in addition to increasing stack size of `_read_thread`, I also had to set the following in prj.conf file: `CONFIG_MAIN_STACK_SIZE=2048`. Now, CAN thread is not crashing any more. But there was no error in Zephyr CAN implementation, it was a coincidence that the stack which was corrupted was

[2020-12-28 12:45] #30349 closed

[2020-12-28 13:00] pabigot commented on #30692
I don't think so.  At some point we should get rid of the assumption that all devicetree data can be processed statically at build time, and just stick a DTB into the application so we can use devicetree properly.  Personally I think we're rapidly approaching that point.

[2020-12-28 13:13] mejtejt opened #31027 "Google tests run twice"
**Describe the bug**
I am unit testing my C++ code with google test framework in Zephyr. When, inside of the tests folder prj.conf file, I enable
CONFIG_CPLUSPLUS=y
CONFIG_LIB_CPLUSPLUS=y

tests are executed twice.

**Expected behavior**
I want tests to run once.

**Logs and console output**
The following screen shot represents the structure of my project:
![image](https://user-images.githubuserco

[2020-12-28 14:30] othmaneAZ opened #31028 "Cannot READ_BIT(RCC->CR, RCC_CR_PLL1RDY) on STM32H743 based board"
Hi,
I am working on a STM32H743 based custom board by porting it to Zephyr. I am trying to build a firmware for the blinky sample and this build runs just fine. After flashing the firmware on the board using the STLINK-v2, the sample does not run as expected. I managed to run a debug session using OpenOCD and I figured out that my program stops in the stm32h7xx_ll_rcc.h
`4352      return ((READ_BI

[2020-12-28 18:21] pabigot commented on #26072
struct device is now const.  We don't yet have generic device RAM support, but that's not this issue.

[2020-12-28 18:21] #26072 closed

[2020-12-28 18:31] pabigot opened #31031 "samples/bluetooth/mesh is not helpful"
`samples/bluetooth/mesh` lacks any description of what it actually does, or how to verify that it does anything at all.

The documentation specifies that it supports automated provisioning, and messages do show that if samples/bluetooth/mesh_provisioner is running it will be "provisioned", but on completion of provisioning there is no observable behavior between it and an unprovisioned node.  Also

[2020-12-28 19:57] swinslow commented on #7317
Hi @nashif, @kestewart suggested I comment here about this. I've been working on a proof-of-concept to automatically generate tag-value SPDX documents for CMake-based projects.

A prototype is at https://github.com/swinslow/cmake-spdx, with the example using a build of Zephyr's basic/blinky sample project. It leverages the [cmake file-based APIs](https://cmake.org/cmake/help/latest/manual/cmake-fi

[2020-12-29 01:03] IHIDCHAOS commented on #30316
Yes I am using the latest Version: `commit 4ca7942411f70f0caee6cd872ab14200f88b221b (HEAD -> master, origin/master)`

I modified:

[code]

And add: `zephyrproject/zephyr/samples/subsys/mgmt/updatehub/overlay-prj.conf`

[code]
UpdateHub-CE runs the latest version too and the port are opened.:
[code]

[2020-12-29 01:36] #28854 closed

[2020-12-29 01:36] #26961 closed

[2020-12-29 05:47] VinodSHegde opened #31036 "BMI 160 i2c version not working. I modified to i2c in kconfig to make it use i2c."
Build failed.
bmi160.c : warning : 'bmi160_api' defined but not used [-Wunused-cons-variable=]

Apart from modifying SPI to I2C in Kconfig, where do I need to modify to make the program work for BMI160 on board NRF52840 using I2C

[2020-12-29 06:57] s-kelvin commented on #31020
Same problem here.

[2020-12-29 08:18] yingmingx commented on #31020
Same problem here,too.

[2020-12-29 09:24] Cherish-forever opened #31110 "How can I overwrite west build in command?"
Is there a way to overwrite west build command? I want have a pretty print for west status.

[2020-12-29 09:47] VinodSHegde commented on #31036
#define BMI160_DEVICE_INIT(inst)					\
	DEVICE_DT_INST_DEFINE(inst, bmi160_init, device_pm_control_nop,	\
		&bmi160_data_##inst, &bmi160_cfg_##inst,		\
		POST_KERNEL, CONFIG_SENSOR_INIT_PRIORITY,		\
		&bmi160_api);

There is some errot in DEVICE_DT_INST_DEFINE

I changed into other definition where error goes but doesn't boot. What to do to get BMI160 i2c working with NRF52840DK?

[2020-12-29 15:38] jimparis opened #31043 "Infinite loop in modem cmd_handler_process"
In `drivers/modem/modem_cmd_handler.c`, there is potential for an infinite loop here:
https://github.com/zephyrproject-rtos/zephyr/blob/5358a11687a3a04a85f8c3b1f862bbb3b696221b/drivers/modem/modem_cmd_handler.c#L426-L429

Basically this will loop forever if it receives too much data without a newline.

My particular setup that triggers the bug:
I'm using a nRF52 with `drivers/wifi/esp.c` which use

[2020-12-29 18:19] pabigot opened #31044 "sample.bluetooth.peripheral_hr build fails on rv32m1_vega_ri5cy"
Recording this as an official issue since it's starting to show up in PR builds:

samples/bluetooth/peripheral_hr/sample.bluetooth.peripheral_hr_rv32m1_vega_ri5cy in  rv32m1_vega_ri5cy:samples/bluetooth/peripheral_hr/sample.bluetooth fails CI as demonstrated at the first failure of https://buildkite.com/zephyr/zephyr-daily/builds/190.

[code]

This will be fixed by #31005 when that gets merged.

[2020-12-29 22:39] bdkrae commented on #30204
Yes, I also can see it. Most samples regarding usb use ```CONFIG_USB_DRIVER_LOG_LEVEL_ERR=y``` in their prj.conf. Especially in combination with log outputs mapped to usb. So I think its ok to do the same and get rid of :-)

[2020-12-29 23:26] dakhouya commented on #30204
Hi! I was wondering if one of you two have some work done on the SPI? Btw thank you for all your work on this board, it will be a really nice add-on to the projet!

[2020-12-29 23:27] gmarull commented on #30989
You can define your own pinmux definitions. Note that however, these are now deprecated in favor of DT pinctrl definitions, see e.g. https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/stm32h747i_disco/stm32h747i_disco_m7.dts#L74

[2020-12-29 23:31] gmarull commented on #31028
From my experience HSE is usually generated by an actual crystal on custom boards, so `CONFIG_CLOCK_STM32_HSE_BYPASS` should be set to `n`. Not sure if that's the problem, but it may help.

[2020-12-29 23:38] ufechner7 commented on #30204
SPI is next on my ToDo list... No guarantee, of course, but holidays in shutdown give some room for coding and testing...

[2020-12-30 00:05] mmoyer2 opened #31049 "18830 and 18831 ipso objects (mqtt) support for lwm2m client"
**Is your enhancement proposal related to a problem? Please describe.**
The zephyr samples have a mqtt and lwm2m (with ipso object) client examples but it would be useful to establish an mqtt connection via lwm2m ipso objects 18830 MQTT Broker and 18831 MQTT Publication.

**Describe the solution you'd like**
Add 18830 and 18831 ipso objects functionality and examples so that a mqtt broker and publ

[2020-12-30 03:29] KwonTae-young commented on #29581
I have a problem configuring the ChirpStack environment, so I can't test it. :(

[2020-12-30 08:41] othmaneAZ commented on #31028
Thank you @gmarull, That actually helped me solve the bug.
Do you know any documents that explain why HSE is usually generated by an actual crsytal and not an external user clock on custom boards ? Just to understand better.
Thank you again !

[2020-12-30 10:38] gmarull commented on #31028
Many ST dev boards use ST-Link clock output, this is why bypass is needed, on custom boards you'll likely have a crystal. Would you mind closing the issue?

[2020-12-30 10:44] othmaneAZ commented on #31028
Thank you @gmarull, I will !

[2020-12-30 10:44] #31028 closed

[2020-12-30 14:21] MaikVermeulen opened #31053 "LwM2M FOTA pull not working with modem (offloaded socket) driver using UART"
**Describe the bug**
[`lwm2m_firmware_start_transfer()`](https://github.com/zephyrproject-rtos/zephyr/blob/7127f0a7420869876e425f514dedf6c1645269a5/subsys/net/lib/lwm2m/lwm2m_obj_firmware_pull.c#L460) is issuing a work item for [`firmware_transfer()`](https://github.com/zephyrproject-rtos/zephyr/blob/7127f0a7420869876e425f514dedf6c1645269a5/subsys/net/lib/lwm2m/lwm2m_obj_firmware_pull.c#L369), whi

[2020-12-30 15:35] pabigot opened #31055 "nordic: west flash no longer supports changing `CONFIG_GPIO_PINRESET` when flashing"
6628a16e4d7aa46e57fd2cc8796592983bcc6516 changed the behavior of west flash, which formerly used `--eraseall` which clears both flash and UICR.  `CONFIG_GPIO_PINRESET=n` is intended to support *not* programming `NRF_UICR->PSELRESET` to co-opt the reset pin for the reset function, instead leaving it available for the application to use as a button.

It appears that the west change prevents these re

[2020-12-30 18:03] jimparis opened #31058 "SWO log backend clock frequency is off on some CPUs"
When setting up SWO, `log_backend_swo.c` assumes that the trace port frequency is the same as the CPU clock frequency:
https://github.com/zephyrproject-rtos/zephyr/blob/746ba2dd9c9fc76d14238e4feeb51749d0b1e927/subsys/logging/log_backend_swo.c#L35-L45

This isn't true for devices like nRF52, where CPU frequency is 64 MHz and the trace port frequency is set through `NRF_CLOCK->TRACECONFIG` as 32 MHz

[2020-12-30 21:58] henrikbrixandersen commented on #9507
I think we need to distinguish between turning off the PWM output (driving it to an inactive state) and turning off the PWM controller (in order to reduce power consumption).

The former was clarified in the API documentation in 31ae13eeb16f726e56fbcfc0820675811b2f3362 and a4337bde28c8b0f79d8cc2882bbf872c90a11a9a, but some driver may not have caught up yet. The latter requires power management sup

[2020-12-31 01:49] LingaoM commented on #19003
Since @trond-snekvik solves this problem better in PR(#30005), this issure should be closed.

[2020-12-31 01:49] #19003 closed

[2020-12-31 02:12] LingaoM commented on #19850
I think we should solve this ancient problem. I agree with @trond-snekvik point of view, I think each module should manage its own data storage separately.

At present, there are 10 modules that need to be decoupled from setting. The list is as follows:

1. 	BT_MESH_RPL_PENDING
2. 	BT_MESH_KEYS_PENDING
3. 	BT_MESH_NET_PENDING
4. 	BT_MESH_IV_PENDING
5. 	BT_MESH_SEQ_PENDING
6. 	BT_MESH_HB_PUB_PENDIN

[2020-12-31 02:38] LingaoM commented on #30240
https://bluetooth.service-now.com/ess/x_bsig_case_manage_case.do?sysparm_query=number=CASE0069829 PTS8.0.0 has been solved this problem.

[2020-12-31 02:38] #30240 closed

[2020-12-31 13:58] noelleclement commented on #30590
Haha okay YES we're now on the same page then :)

In our case the CPU isn't expected to do anything while the system clock is off. The RTC generates the external interrupt, and has a different source that is still available during the used sleep mode.
So yes, I would say that that is consistent with our needs.

What I find interesting is that this is similar to what I'm currently doing (see #30790

[2021-01-01 01:43] #27596 closed

[2021-01-01 05:21] JordanYates opened #31067 "usb: cdc_acm: compilation error without UART"
**Describe the bug**

The USB CDC ACM driver cannot be used on a board without a physical UART peripheral being enabled.
Attempting to do so results in the following error:
[code]

`CONFIG_USB_CDC_ACM` selects `SERIAL_HAS_DRIVER`, which adds the `serial/CMakeLists.txt` file.
Without a UART peripheral enabled however, none of the `zephyr_library_sources_ifdef`'s result in a source being added.
This

[2021-01-01 05:57] JordanYates opened #31069 "net: buf: remove data from end of buffer"
**Is your enhancement proposal related to a problem? Please describe.**

The `net/buf.h` API currently implements the following functionality:

| data location | data operation | API |
|-|-|-|
| buffer start | add | `net_buf_push_*` |
| | remove | `net_buf_pull_*` |
| buffer end | add | `net_buf_add_*` |
| | remove| ??? |

I propose to add an implementation for the final category of operations.

*

[2021-01-01 11:23] VinodSHegde commented on #31036
BMI 160 nrf_twim_error and failed to set PMU error.

I am unable to resolve any!

[2021-01-02 01:39] #27510 closed

[2021-01-02 02:16] cvinayak commented on #30378
If there has been any assert check failures that does not halt the CPU, then there is possibility of memory corruption or incorrect state in the subsystem. This will make it difficult to analyse any bugs.

As you are making changes to the Bluetooth controller design, deviating from the standard HCI rules of using the Number of Completed Packets and HCI Read Buffer Size counts, will impact the Zeph

[2021-01-02 05:39] rdmeneze opened #31071 "board: arm: SiliconLabs: add support to development kit efm32pg_stk3401a"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
I'd like to add support to the board SLSTK3401A from Silicon Labs ([SLSTK3401A](https://www.silabs.com/documents/public/user-guides/ug154-stk3401-user-guide.pdf))

**Describe why you are asking for this support?**
To perform this porting, I had to create some new files at the

[2021-01-02 09:49] JordanYates opened #31073 "Linker sections based on devicetree partitions"
**Is your enhancement proposal related to a problem?**

I am in the process of writing a custom NVS-like filesystem that can be initialized at compile time. Compile time initialization is required as values are expected to be many KB large (Compiled in values are expected to never be deleted). Storing them once in `.rodata` and then saving them again to the NVS on init is not feasible (In extreme

[2021-01-02 21:39] fabiobaltieri commented on #28620
Hey I've hit this problem as well and managed to bisect it to:

b7b73d0 net: ipv6: added interface multicast group filtering

Filed #31075 with a fix.

[2021-01-03 01:44] #29261 closed

[2021-01-03 15:44] StevenGhe opened #31079 "Receiving extended scans on an Adafruit nRF 52840"
**Describe the bug**
A clear and concise description of what the bug is.
The "bt_le_scan_start" method fails with error -5, when using extended advertisements (CONFIG_BT_EXT_ADV).
After investigating I've found the error " bt_hci_core: opcode 0x2041 status 0x01". This comes from hci_core.c, line 341, It returns an IO error. Not too sure what could be wrong with IO?

What have you tried to diagnose

[2021-01-03 22:46] frazieje opened #31085 "networking / openthread: ipv6 mesh-local all-nodes multicast (ff03::1) packets are dropped by zephyr ipv6 stack"
**Describe the bug**
Zephyr recently started dropping mesh-local all-nodes multicast (dest ff03::1) packets delivered from openthread l2 when using the bsd sockets api in an application. sockets api still receives link local all-nodes multicasts (dest ff02::1) as expected. This regression seems to only affect the zephyr networking stack, as packets are processed as expected by openthread. From the

[2021-01-04 01:45] #29367 closed

[2021-01-04 01:45] #27600 closed

[2021-01-04 01:45] #26409 closed

[2021-01-04 01:45] #18276 closed

[2021-01-04 06:51] avigreen1978 commented on #30236
I experienced a similar issue. In my case, when I I turned off NET_CONFIG options and just set my ip manually, it stopped happening.

[2021-01-04 07:19] nobodyguy commented on #19244
It's definitely the protocol's round trip, I'm getting very similar results (around 2 KiB/s) either via serial or BLE.

[2021-01-04 07:48] koffes commented on #29713
This is still an issue on master today. @carlescufi : Is this an issue which should be prioritised? Having warnings in pure vanilla samples is highly undesirable.

[2021-01-04 08:04] FRASTM commented on #30977
Correct,
Note that in RefMan RM0090 and RM0383 for stm32f411 the ADC1 is mapped from 0x000 - **0x04C** in the ADC area (0x4001 2000 - 0x4001 23FF)

[2021-01-04 08:14] anangl commented on #30929
@nehalrohit You can take a look at #27671 and perhaps use it as your starting point. This PR aims at adding API for PDM drivers so any feedback in this regard is welcome.

[2021-01-04 08:32] zisisadamos commented on #30977
So I have added the missing nodes. But I cannot add the interrupts because python script complains. Is there any work-around for that?

[2021-01-04 08:35] #29631 closed

[2021-01-04 08:38] lukasbrchl opened #31086 "bluetooth: Resume peripheral's advertising after disconnection when using new bt_le_ext_adv_* API"
Hello,
There was a feature in Bluetooth legacy API `bt_le_adv_*` that when advertising connectable advertisements and central connects to peripheral, the advertisements get paused. When central disconnects, the advertisements get again resumed. This was a convenient feature because one doesn't need to rely on the disconnect callback to resume the advertisements manually.

However, in the new Bluet

[2021-01-04 08:50] FRASTM commented on #30977
Which python script fails ?
I can still compile the  `tests/drivers/adc/adc_api`/  for the  nucleo_f401re board after changing the adc area of the stm32f4.dtsi

[2021-01-04 09:00] zisisadamos commented on #30977
**gen_isr_tables.py: error: multiple registrations at table_index 18 for irq 18 (0x12)
Existing handler 0x80259e5, new handler 0x80259e5** . Thats the error if i modify stm32f405.dtsi by adding

`adc2: adc@40012100 {
			compatible = "st,stm32-adc";
			reg = <0x40012100 0x4d>;
			clocks = <&rcc STM32_CLOCK_BUS_APB2 0x00000100>;
			interrupts = <18 0>;
			status = "disabled";
			label = "ADC_2";

[2021-01-04 09:15] #30989 closed

[2021-01-04 09:18] cvinayak commented on #31079
did you turn on the experimental CONFIG_BT_CTLR_ADV_EXT=y ?

See, https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/bluetooth/periodic_sync/boards/nrf52840dk_nrf52840.conf

[2021-01-04 10:03] FRASTM commented on #30977
Ok I see.
BTW : STM32_CLOCK_BUS_APB2 0x00000200  for adc2 and STM32_CLOCK_BUS_APB2 0x00000400 for adc3

[2021-01-04 10:13] zisisadamos commented on #30977
Is that correctly classified as a bug? Since I am missing the nodes? Is it something that I dont see?

[2021-01-04 10:18] ioannisg commented on #31008
will take a look

[2021-01-04 10:20] AnanthJaisankar opened #31087 "Support for ram retention in nrf52840"
I want to keep some variables n my application retained even after system power off mode.Do we have support for ram retention for nrf52840?.

[2021-01-04 10:21] ioannisg commented on #30771
@trond-snekvik maybe you could take a look at this mesh-related test issue?

[2021-01-04 10:36] FRASTM commented on #30977
Well, not really a bug. This is the zephyr interrupt handler configuration which limits to only **one** active (in the board dts) at a time.
All ADC instances can share the same irq vector (18) but cannot be all activated simultaneously.

If you need more than one ADC, maybe a global ADC dtsi is better (with large reg = <0x40012000 0x400>) instead of splitting in 3 ADC areas as you only have one i

[2021-01-04 10:37] StevenGhe commented on #31079
I did not. This fixed it for me!
I didn't knew there weren't any board specific config's...

You just saved me a from a lot of frustration. :)

Tyvm

[2021-01-04 10:37] #31079 closed

[2021-01-04 11:15] #30397 closed

[2021-01-04 11:22] erwango commented on #30692
As a coexisting alternative to current built time support you mean ?

[2021-01-04 11:38] nehalrohit commented on #30929
Hi @anangl
I  added all files and their config for nrf52840dk
do the same as the change did for Thingy:52 and create pdm example.
I have below problem
![Screenshot from 2021-01-04 17-03-25](https://user-images.githubusercontent.com/50902801/103531420-4a6f8d00-4eaf-11eb-990c-d556a9f46e0e.png)

[2021-01-04 12:10] trond-snekvik commented on #30771
@ioannisg This error is happening on the logging thread, I can't quite see how the mesh shell module is interfering.
Deferring to shell module code owners, but I'll stick around in case there's something wrong in the mesh usage of shell.

[2021-01-04 12:14] #28355 closed

[2021-01-04 14:13] erwango commented on #30943
@qin-zou can you have a try to increase stack sizes (`CONFIG_MAIN_STACK_SIZE, CONFIG_IDLE_STACK_SIZE, CONFIG_ISR_STACK_SIZE`) ?

[2021-01-04 14:15] erwango commented on #30800
@qin-zou Let me know if this point can be closed or if you have further questions

[2021-01-04 15:16] ioannisg commented on #29713
It is prioritized correctly, even LOW priority bugs count towards release criteria.
The problem is that this is not a trivial fix, considering that the peripheral base addresses _are_ identical in these nRF peripherals, so there's something to be done with DTS...

Perhaps @anangl have an idea?

[2021-01-04 15:20] #31067 closed

[2021-01-04 15:27] #31044 closed

[2021-01-04 16:07] qin-zou commented on #30800
@erwango You can go ahead and close this. Thanks.

[2021-01-04 16:09] PerMac commented on #30100
I started a gh discussion to sort this issue and define a consistent nomenclature.
https://github.com/zephyrproject-rtos/zephyr/discussions/31090
Please, have a look at the presentation there and let me know if it is useful and what do you think about the proposed namings.

[2021-01-04 16:30] #30800 closed

[2021-01-04 18:43] qin-zou commented on #30943
@erwango I tried to increase those stack size, and it didn't seem to help.  One more thing I noticed is that recently, I see this issue when I update the firmware using dfu-util with ```:leave``` option.
```sudo dfu-util -a 0 -i 0 -s 0x08000000:leave -D [upload file]```
Once I reset the chip, the MPU fault is not showing up anymore.

Do you think it has something to do with the way I update my ima

[2021-01-04 19:05] dleach02 commented on #30477
@henrikbrixandersen, not sure. I don't remember ever seeing this type of error on the K64 like I was able to reproduce (occasionally) in #27203. Is there a way to get a dump of the flash before doing an erase (@MaureenHelm)?

[2021-01-04 19:07] xhpohanka opened #31091 "usb: usb_transfer_sync deadlocks on disconnect/cancel transfer"
`usb_transfer_sync()` blocks on semaphor that is normally released in a callback

[code]

however when the transfer is interrupted (eg. by disconnecting the cable in my test setup with stm32) that callback is never called as we can see in `usb_transfer_work()`

[code]

I do not see any obvious fix now, probably we can move the sync semaphore to the `usb_transfer_data` structure and check that case

[2021-01-04 20:19] jfischer-no commented on #31091
@xhpohanka I guess it happens in your custom USB application? It is in responsibility of your application to cancel an endpoint transfer on USB_DC_DISCONNECTED event, for example https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/class/bluetooth.c#L223

[2021-01-04 20:46] MaureenHelm commented on #30477
There isn't anything built into the west integration to do this, but you can use JLink or pyOCD commands directly

[2021-01-04 20:51] xhpohanka commented on #31091
If I understand it correctly the bluetooth example does exactly what I'm describing in the first post. It calls an `usb_cancel_transfer()` which sets the transfer status to `-ECANCELED` and thus the callback is never called.

[code]
However the semaphor used in the `usb_transfer_sync()` is created on the stack and freed only in its never called callback.

[code]

[2021-01-04 21:57] farhangj commented on #18896
Any movement on this ticket? it would be really helpful for my use-case to have Thread+BLE and a FEM support.

[2021-01-05 02:39] manoj153 commented on #30105
issuing command :

[code]

returns :

[code]

**Development environment:**

1. zephyr-sdk-0.12.0
2. STM32H7xx

from reading from devdocs seems GCC v10 supports C17, I can write my app code successfully with C17?

[2021-01-05 08:50] daor-oti commented on #30105
@tejlmand Thanks for asking. Our toolchain uses clang 9.0.0 as frontend and as such it supports both C11 and C17. We actually set -std=c11 for clang today and have done for a long time. For our custom backend, is a little more difficult to determine whether there will be some corner C11/C17 unsupported areas, but I suspect there will be very few, if any.
So, for our toolchain point of view, I see

[2021-01-05 08:57] rtzu6 commented on #30236
Interesting. Do you have a small example that I can test/steps to produce one? I can get rid of most of these, but for example removing CONFIG_NET_CONFIG_NEED_IPV6 is not possible.

[2021-01-05 09:22] jfischer-no commented on #31091
okay, I missed sync part. That is bad.

I do not see an easier solution as well. `struct k_sem sem;` in `struct usb_transfer_data` should be renamed before.
Do you have a patch or started working on it? Otherwise, I will prepare it today.

[2021-01-05 09:33] trond-snekvik commented on #19850
@LingaoM is this something you're currently working on? It's approaching the top of our task queue as well

[2021-01-05 09:34] xhpohanka commented on #31091
I do not have a patch yet. I do not know if eg. we cannot remove the `(trans->status != -ECANCELED)` check for calling the callback. Maybe it would make better sense to call the callback in any case but with the status as an argument, but it needs an API change...

The most easiest would be probably to add whole `struct usb_transfer_sync_priv` into the `struct usb_transfer_data` and deal with it o

[2021-01-05 10:07] LingaoM commented on #19850
In fact, I have always wanted to do it, but my recent work has nothing to do with it

[2021-01-05 10:08] Laczen commented on #31073
Hi @JordanYates, I have one major concern regarding this enhancement: the enhancement creates an image that consists of several regions that need to be uploaded separately when all partitions are enabled, how will this be handled ?

Regarding the **other problem solved by this addition**: this is not really a solution, when `zephyr, code-partition` is set to `flash0` the complete flash is reserved

[2021-01-05 10:31] trond-snekvik commented on #19850
Alright, I'll let you know if we start working on it.

[2021-01-05 11:11] JordanYates commented on #31073
The regions are simply an abstraction used by the linker. The only observable change in output images is that variables may be placed at different addresses (if the memory regions are used to store custom sections). Depending on the partitions/regions enabled, `.bin` files may have substantial padding, but that doesn't change the upload process.

code and `storage` partitions are already being dec

[2021-01-05 12:04] Laczen commented on #31073
The padding will overwrite data that it should not overwrite.

Correct, if you look at Kconfig.zephyr you will see that if `USE_DT_CODE_PARTITION` is not defined and `FLASH_LOAD_SIZE` and `FLASH_LOAD_OFFSET` are left to default the whole flash is reserved for code and the partitioning is completely ignored. If partitioning needs to be taken into account `USE_DT_CODE_PARTITION` is a correct way to

[2021-01-05 12:20] koffes commented on #29440
Stale label should be removed.

[2021-01-05 12:27] JordanYates commented on #31073
How will this occur? Padding by definition is only inserted at memory locations where no variables are present to reach addresses where more variables exist.

Once you get to a `.bin` or `.hex` to upload the sections/memory regions are invisible. Is there something I'm missing here?

Sorry, what are the associated problems with multiple regions?

IMO partitioning needing to be taken into account a