[2021-04-05 00:29] #31164 closed

[2021-04-05 02:49] pabigot commented on #28819
Make that six months.

[2021-04-05 09:20] zhoukejun opened #34014 "Toolchain Compile Error of RISC-V(rv32m1-vega board)"
**Describe the bug**
     __asm__ volatile("csrr %0, mtval" : "=r" (mtval));
A compile error of assembly code  rv32m1-vega board (RISC-V) by using open-isa official toolchain.
The toolchain is https://github.com/open-isa-org/open-isa.org/releases

What have you tried to diagnose or workaround this issue?
Comment  the code out
//     __asm__ volatile("csrr %0, mtval" : "=r" (mtval));
then no compil

[2021-04-05 12:23] houssine97 opened #34015 "cfb sample "Device not found" for esp32 when SSD1306 is enabled"
**Describe the bug**
When building a project with the SSD1306 enabled and set up, I get this output:

**To Reproduce**
Steps to reproduce the behavior:
1 - add `CONFIG_SSD1306=y` to prj.conf
2- add `arduino headers` and `arduino_I2C` to `esp32.dts`
[code]
2-Build using west build -b esp32 samples\display\cfb -- -DSHIELD=ssd1306_128x64

**Expected behavior**
display a message on oled display

**out

[2021-04-05 19:12] sylvioalves commented on #33876
Hi @houssine97, someone on the team is analyzing that.

[2021-04-05 19:19] jenmwms commented on #33593
Thanks! this value of 24 is a default for several of the x86 SoCs like [apollo_lake](https://github.com/zephyrproject-rtos/zephyr/blob/master/soc/x86/apollo_lake/Kconfig.defconfig). However I don't see it specified for the ia32 (which is 64 bit, despite the naming) so it must be coming from another level of kconfig if not set by board or SoC. Looks like we need to add this for acrn_ehl_crb board l

[2021-04-05 19:23] jenmwms commented on #33593
Thanks @enjiamai ! Can you please offer some insight why this needs to differ from the default which is used widely across other x86 boars and SoCs (which use default 24). So far, many configurations from ACRN on EHL CRB align with the native HW EHL CRB, which makes me curious to understand if this deviation from native is a workaround here or resolving the real issue at hand.

[2021-04-05 19:24] jenmwms commented on #33593
I'll submit a patch with this change so we can discuss :)

[2021-04-05 20:00] madscientist159 commented on #22965
Tested on Kestrel (POWER-based soft BMC) with a Micron N25Q512A.  Seems to function correctly in 4BA mode, and detects 4BA mode automatically (`CONFIG_SPI_NOR_SFDP_RUNTIME=y`).

[2021-04-06 00:02] jenmwms commented on #32603
I saw no obvious impact to resolve this issue using that TSC value.

[2021-04-06 00:38] jenmwms opened #34023 "test_prevent_interruption has wrong data type for key"
**Describe the bug**
The `test_prevent_interruption( )` uses a `irq_lock( )` and `key`. The `key` is defined as `int`, which is incorrect according to the API Docs. This should be an `unsigned int`.

**To Reproduce**
Inspect the source code of the test case
Observe the error in key definition
https://github.com/zephyrproject-rtos/zephyr/blob/64995e2a54a2d77dac291de29b29d39aca12202c/tests/kernel/in

[2021-04-06 00:43] jenmwms commented on #32603
FYI - https://github.com/zephyrproject-rtos/zephyr/issues/34023

[2021-04-06 03:30] mehrdadh opened #34026 "RISCV32 QEMU illegal instruction exception / floating point support"
**Describe the bug**
I'm running a machine learning model on qemu_riscv32 and I ran into illegal instruction exception for some reason. I wasn't sure if this is a bug and if so whether it is related to zephyr or qemu, however I'll try to provide as much as information to get a better understanding.

Here is the assembly code that I'm running:

[code]

My code breaks on line `0x8000bd8a` and then t

[2021-04-06 03:41] mehrdadh commented on #34026
The same function on qemu_riscv64 doesn't generate the `fmv.w.x` assembly code:
[code]

[2021-04-06 06:59] #30101 closed

[2021-04-06 07:33] wngur300 commented on #33974
I tried attaching wb55rc to the nucleo_wb55rg board.
![board](https://user-images.githubusercontent.com/46815991/113668026-9e775100-96ec-11eb-9be1-d93c6cd58bea.jpg)

**LED on/off works well on the nucleo_wb55rg board with wb55rc MCU. (built with nucleo_wb55rg board setting).**
**Checking the waveforms of the OSC_IN and OSC_OUT pins also produces a good clock (32 MHz).**

By the way, my circuit dia

[2021-04-06 07:39] jhn-nordic commented on #33662
@nashif did I manage to explain it?

[2021-04-06 07:58] erwango commented on #33974
@wngur300 This is indeed strange. I suspect a clock configuration issue.
Can you check that the clock configuration used with CubeMx is the exact same one as used on Zephyr ?

[2021-04-06 08:05] jukkar commented on #30365
Looks reasonable, but one can probably only see if it really works as expected after running the code. Can you send a PR for this + supporting the setsockopt too?

Agreed on TCP_NODELAY option, we should have that supported from day one.

There is also some MSS work going on in #32076

[2021-04-06 08:25] erwango commented on #33966
@manoj153 These are both enabled on STM32F7 and STM32H7 series.

[2021-04-06 08:34] wngur300 commented on #33974
Yes, this is the information I set as cubemx. (Please click on the screenshot)
![cubemx](https://user-images.githubusercontent.com/46815991/113679610-e7360680-96fa-11eb-9db0-a5ad0744ed2b.PNG)

**Changed to CONFIG_CLOCK_STM32_CPU2_PRESCALER=2 as per CubeMax setting:**
![cpu2](https://user-images.githubusercontent.com/46815991/113681698-3da44480-96fd-11eb-991f-3b4502c7a87e.PNG)

**And I set up the b

[2021-04-06 08:41] santi681 commented on #33747
CMakeLists.txt file:

[code]

I can see these config parameters are already defined. Does it make sense to be able to get the seconds and not the nanosecond? Are the requirements for both parameters the same?

[2021-04-06 09:02] houssine97 commented on #33876
@sylvioalves  thank you

[2021-04-06 09:13] FRASTM commented on #32320
For the stm32G0 series, the FLASH ACR only has CPU Instruction cache reset bit (ICRST:) :
[code]

[2021-04-06 09:51] oyvindronningstad commented on #33956
Turns out TFM doesn't support -mfloat-abi=hard. Fixing this is not trivial so it probably won't be done in the foreseeable future. We could set up a relationship between BUILD_WITH_TFM and FP_HARDABI though. @ioannisg @frkv thoughts?

[2021-04-06 10:33] joerchan commented on #33897
@cvinayak @jhedberg We might just have to document that the advertiser needs to be started in the advertising connected callback instead of the connection connected callback.
This is also related to this issue: https://github.com/zephyrproject-rtos/zephyr/issues/30699, which is to have the host manage this automatically.

[2021-04-06 10:48] jukkar commented on #34004
False positive

[2021-04-06 10:48] #34004 closed

[2021-04-06 11:51] #34009 closed

[2021-04-06 11:53] tejlmand commented on #32111
For some reason i'm not able to re-produce the infinite loop when using llvm, but I oberserve the infinite CMake loop when working on arm-clang support in windows, and I suspect those to be related.

But what I do observe during build when using clang on windows is this:
[code]
https://github.com/zephyrproject-rtos/zephyr/blob/5cc20faa2f8e305b1f612c948b3b1db764082e4f/include/toolchain.h#L40-L47

O

[2021-04-06 12:10] carlescufi commented on #33977
As long as you are willing to contribute and then support the platform and driver support, then the actual board does not need to be available commercially at the moment of the contribution. That said, you will need to document very carefully what hardware the drivers and boards are targeting.

[2021-04-06 12:19] joerchan commented on #33645
@tcpipchip Not much information to go on there, are you sure it isn't just the difference in the advertising PDU? You have put the name in the scan-response, so you won't see it in the ADV_IND pdu.

[2021-04-06 12:22] tejlmand commented on #33921
@pabigot Thanks for you comments.

It is.

Besides the fact that a board maintainer may decide to default to a specific variant when no variant is provided, then I think the variant seen from user can be considered part of the board name.

Not only that.
Today, the board provided by user goes to the CMakeCache along with an extra internal variable to ensure user cannot modify the BOARD / SHIELD va

[2021-04-06 12:22] sylvioalves commented on #33968
HI @maweicoltsmart, Please, can you try this:

Add this into `zephyr/soc/xtensa/esp32/linker.ld`:

L310:
[code]

[2021-04-06 12:22] cvinayak commented on #33897
Agree.

@joerchan But what about the missing check on `BT_ADV_ENABLED` in `bt_le_ext_adv_start`? Do you want me to send a PR?

[2021-04-06 12:26] pabigot commented on #33921
Is that true?  If so, why?

Or is it that the names are case sensitive, and the (strongly) recommended practice is that lower case be used.  (I can see a vendor wanting to use the correctly capitalized name of their product for branding purposes.)

[2021-04-06 12:31] joerchan commented on #33897
I can fix it while I update the documentation.

[2021-04-06 12:33] erwango commented on #33921
The board was just added 2 weeks ago in current release. If the modification is done soon enough, I think it is "safe" to notify current user and just clean up the E.

[2021-04-06 12:42] tcpipchip commented on #33645
@joerchan
I want to broadcast the localname....
What do you suggest

[2021-04-06 12:46] joerchan commented on #33645
Putting the localname in the scan-response achieves that, but the scanner needs to be an active one.
The other option is to put it in the advertising data (ADV_IND).

[2021-04-06 12:52] hakehuang commented on #33747
it depends on CONFIG_PTP_CLOCK_MCUX, so you need define it in boards just like frdm_k64f does, and this in HAL driver enables the hardware ptp timestamp

[2021-04-06 12:52] jukkar commented on #33999
The GSM muxing is optional and not enabled by default in GSM modem driver. It should not be a big task to add another way of multiplexing the data in the `drivers/modem/gsm_ppp.c`. Patches are welcome if you want to implement this.

[2021-04-06 12:59] jukkar commented on #33986
Your fix looks good, can you send a PR for it?

[2021-04-06 13:07] FRASTM commented on #33974
I confirm : no pb seen sofar with this sample config. of the nucleo wb55rg
[code]

[2021-04-06 13:08] tcpipchip commented on #33645
i had choosen the second option! It[s working
Have you a little example showing the scan-response example

[2021-04-06 13:12] joerchan commented on #33645
https://docs.zephyrproject.org/2.5.0/reference/bluetooth/gap.html?highlight=adv_start#c.bt_le_adv_start
if you put it as `ad` in will be in the advertising data `ADV_IND`, if you put is `sd` it will be in the scan response data `SCAN_RSP`.

[2021-04-06 13:15] jorgenmk commented on #33662
Created a PR for this issue: #34041

[2021-04-06 13:23] maweicoltsmart commented on #33968
The problem is solved, thank you for your help!

[2021-04-06 13:28] carlescufi commented on #33978
@ustinov-dev perhaps you could send a PR with a fix?

[2021-04-06 13:30] maweicoltsmart commented on #33969
In fact, I discovered this problem when porting net offload to an ARM Cortex m0 MCU. Although the protocol stack program can run, it sometimes crashes inexplicably. I think the cause of the crash should also be caused by the forced type conversion of non-four-byte aligned addresses in the net offload program. I am waiting for your help.

[2021-04-06 13:30] #33655 closed

[2021-04-06 13:32] #33827 closed

[2021-04-06 13:38] maweicoltsmart opened #34044 "TCP connection does not support keepalive function"
The keepalive function in tcp is very important. When will Zephyr OS support this function?

[2021-04-06 13:41] maweicoltsmart commented on #34044
If the lwip protocol stack is transplanted, the network function of zephyr os will be more powerful.

[2021-04-06 13:54] tejlmand commented on #33921
Today, all boards are case-sensitive and Kconfig fragments / DT overlays must be named according to the board name and variant.
So if a board is named: `my_board`, then the corresponding Kconfig fragment must be named: `my_board.conf`.

If we start normalizing board, shield and variant names, then what should be the name of the Kconfig fragment or DT overlay ?

Normalizing board name would mean `-

[2021-04-06 13:55] tejlmand commented on #33921
Their could be downstream users who are using custom boards and letter revision, so therefore I think a proper warning is in place.

[2021-04-06 13:58] erwango commented on #33921
Ok, if not only for this particular one, this makes sense indeed.

[2021-04-06 14:04] aunsbjerg opened #34045 "samples: subsys: mgmt: smp_srv: UDP sample does not boot on frdm_k64f"
**Describe the bug**
When following the [instructions](https://docs.zephyrproject.org/latest/samples/subsys/mgmt/mcumgr/smp_svr/README.html) on building the UDP sample for the frdm_k64f board, the board never boots up the actual application after initial flashing.

I have also seen boot loops, but cannot consistently reproduce them.

The bug is seen on latest master (64995e2a54). I've tracked the

[2021-04-06 14:12] masz-nordic commented on #33077
False positive, `event_idx` will never exceed `NRFX_IPC_ID_MAX_VALUE`.

[2021-04-06 14:12] #33077 closed

[2021-04-06 14:12] masz-nordic commented on #33053
False positive, `event_idx` will never exceed `NRFX_IPC_ID_MAX_VALUE`.

[2021-04-06 14:12] #33053 closed

[2021-04-06 14:16] chrta commented on #32771
@jonasn-ge Do you have the MPU enabled? I am currently facing a similar problem on the nucleo_f429zi with zephyr 2.5.0. I get MPU faults (Instruction Access Violation) during ethernet initialization for certain applications (not all), but i am still in the process to identify the reason or an reproducer.

[2021-04-06 14:18] pabigot commented on #33921
But [above](https://github.com/zephyrproject-rtos/zephyr/issues/33921#issuecomment-811145674) you have (italics added):

Which is it?  I think it's that they're case sensitive.

This is all complex, and there are distinctions being made that don't seem justified to me, so I'll leave my position as this:

The simplest and most flexible solution seems to be have all components of board identifiers b

[2021-04-06 14:19] tcpipchip commented on #33645
Yes, i did that

Maybe is the BLE SCANNER (ARDUINO) ESP32 example bug :(

[2021-04-06 14:19] ngboonkhai opened #34046 "Failed to build arm64 architecture related board"
**Describe the bug**
I was trying to build the zephyr on qemu_cortex_a53, bcm958402m2_a72, xenvm using command eq:$west build -b qemu_cortex_a53 samples/hello_world and it failed with error attached in the log section. it seems like environment issue, but i reinstall zephyr followed the getting started guide but no luck.

I have tried
1)	Switch back to the changes https://github.com/zephyrproject-

[2021-04-06 14:28] joerchan commented on #33645
Maybe, can you verify with your phone that the name shows up? You can use the  nRF Connect app

[2021-04-06 14:49] #33593 closed

[2021-04-06 14:50] tcpipchip commented on #33645
they show!

But, is using ESP32 as ble scan :(

[2021-04-06 14:50] #21489 closed

[2021-04-06 15:37] e-devs opened #34049 "Nordic nrf9160 switching between drivers and peripherals"
**Nordic nRF9160 has a limitation for a number of simultaneously enabled peripherals with Shared ID.**

E.g. UARTE0 and SPIM0 cannot be enabled at the same time.

This limitation is applicable to UARTE, SPIM, SPIS, TWIM, and TWIS peripherals. Only totally 4 peripherals from the list above can be enabled simultaneously. This can achieved by changing of peripheral's ID value, e.g. UARTE0, UARTE1, SP

[2021-04-06 15:47] tejlmand commented on #33921
Sorry, I meant `case-sensitive`. Also the example should make that clear as it stated:

i'm not sure why you use `@A` in your quote, as I didn't wrote that above in that sentence. I used `@a` <-- lower case.

Which is the case today and I'm arguing that we do not change that.

Zephyr offers two generic revision formats, numeric and letter, as described:
https://docs.zephyrproject.org/latest/guides

[2021-04-06 15:56] pabigot commented on #33921
Because I didn't restore the single-quotes around those to make them code, so they became mentions.  (at)a names a github user whose handle is `A` and (at)b names a github user whose handle is `b`.

Why can't we change it to:

[2021-04-06 16:15] tejlmand commented on #33921
Before answering, so a user doing:
`board_check_revision(FORMAT LETTER)` can do both:
`a.conf` and `A.conf`, or how does he choose which format to be used ?

If `<board>@a` can match `A.conf` then they become case-insensitive, which I thought we agreed we didn't want.

Note, I wrote above:

But unless there is a real wish for having the upper case version, I would suggest to just change the generi

[2021-04-06 16:27] pabigot commented on #33921
I certainly don't want that, and only suggested support for it if *everything* related to board identification was to become case insensitive (normalized).  If `a.conf` and `A.conf` exist, they're two different versions, and should co-exist as that.  (That actually having both is probably a bad idea is true, but not something Zephyr should be enforcing.)

I think I missed that because I don't get

[2021-04-06 16:56] carlescufi commented on #33641
2021.06.04:

- Dictionary-based logging: https://github.com/zephyrproject-rtos/zephyr/pull/30539#issuecomment-814274278
- Doxygen warnings and `#ifdef __DOXYGEN__`: https://github.com/zephyrproject-rtos/zephyr/pull/33972#issuecomment-814274671

[2021-04-06 17:25] galak commented on #32252
Waiting on v1.3.0 TFM release which will have a fix for having a local mbed crypto/tls code base

[2021-04-06 17:26] galak commented on #33303
@joerchan any updates on this?

[2021-04-06 17:27] galak commented on #34046
Have you updated to SDK 0.12.4, you need that version for the recent arm/arm64 split.

[2021-04-06 17:31] carlocaione commented on #34046
@galak is there a way to print a warning if the latest SDK is not installed?

[2021-04-06 17:36] tejlmand commented on #33921
I completely agree, having both is a bad idea.
When it comes to variants, then Zephyr is not enforcing anything.
`board_check_revision()` is simply a helper function which provides some common revision patterns that can be used for common cases, and from that view point I would prefer to keep just one of type when that helper function is used with `LETTER` so users don't mix up `A.conf` and `a.con

[2021-04-06 17:38] carlescufi commented on #34046
I don't think so, no. @tejlmand?

[2021-04-06 17:40] MaureenHelm commented on #33994
Which board are you using?

[2021-04-06 18:00] mbolivar-nordic commented on #33641
Why are we doing this here? This is inconsistent with other meetings that track minutes in a Google doc and may confuse external observers.

[2021-04-06 18:15] dcpleung commented on #33967
The sizes of individual items are of the items themselves, while the total size takes into account of alignments and padding. That's why the total size is larger.

And one important thing to remember, not all symbols are itemized. There are symbols in the image (for example, strings) that do not appear in the symbol table, and thus not in the list but counted towards total size.

[2021-04-06 18:28] jenmwms commented on #32603
Issue still remains if we set this (recently discovered needed for acrn_ehl_crb) in /boards/x86/acrn/acrn_ehl_crb_defconfig:

`CONFIG_APIC_TIMER_IRQ=48`

[2021-04-06 18:37] #34023 closed

[2021-04-06 19:06] mbolivar-nordic commented on #34011
Are you missing an include? I'm guessing the full compiler output looks like this:

[code]

At any rate, I can't reproduce this as this C file builds fine for me:

[code]

Changing from bug to question.

[2021-04-06 20:45] jukkar commented on #34044
Indeed, the keepalive messages are currently not there. I cannot really say when they would be implemented. If you want that feature urgently, one option is to send a PR that fixes the issue. As always patches are welcome.

[2021-04-06 22:31] galak commented on #34026
You mean need to add `k_float_enable(_current, 0);`

@katsuster was making some changes to the floating point support recently and guessing he'll be able to know better how this is suppose to work.

[2021-04-06 22:55] mehrdadh commented on #34026
Thanks to @galak suggestion, I added k_float_enable(_current, 0) and CONFIG_FPU_SHARING config flag and updated my zephyr to master branch and which solved some other issues that I had with double division operation.

I still have this issue though. Also, it would be great if @katsuster can suggest a solution with zephyr 2.5, if possible, since we are using that release version in our pipeline.
Th

[2021-04-06 23:57] mehrdadh commented on #34026
Update:
Adding @galak suggestions fixes this issue as well.
@katsuster please let me know if you know any workaround with zephyr 2.5.
Thanks!

[2021-04-07 00:14] #33649 closed

[2021-04-07 01:34] ngboonkhai commented on #34046
Nope, I didn't. But my teammates just got it debugged yesterday from our side, there is a cmake file need to be updated in the zephyr sdk (/usr/zephyr-sdk-0.11.4/cmake/zephyr/target.cmake)

I will try on 0.12.4 before closing this issue.
Thanks

[2021-04-07 01:39] ngboonkhai commented on #34046
That will be great if there is a warning message.

The getting started guide must get updated as well, as for now, the getting started guide still asking user to install 0.12.3.

And for future, if there are any changes that require user to update to the latest zephyr (specific version) probably include that information in the commit message.

[2021-04-07 05:23] Vudentz commented on #32960
It is a false positve, we do check for both type and size before that.

[2021-04-07 05:44] jonasn-ge commented on #32771
@FRASTM: Yes, I have noticed that the reproducer code has stopped working against Zephyr master. It appears that it's no longer possible to get a device pointer before the device is initialized, or something. What still works is modifying the eth0_data struct in eth_stm32_hal.c with the new auto-negotiation settings. Then the reproducer main.c can be essentially empty.

[2021-04-07 05:49] jonasn-ge commented on #32771
Yes, MPU is enabled. Though I mostly experienced the code trying to jump to a NULL pointer and the MPU doesn't protect against that currently (there is an open PR for that, last time i looked).

[2021-04-07 06:12] #32960 closed

[2021-04-07 06:40] nordic-krch commented on #32957
Assert was added by #32970

[2021-04-07 06:40] #32957 closed

[2021-04-07 06:43] nordic-krch commented on #32902
Fixed by #33408

[2021-04-07 06:43] #32902 closed

[2021-04-07 06:44] nordic-krch commented on #32915
Fixed by #33408

[2021-04-07 06:44] #32915 closed

[2021-04-07 06:49] erwango commented on #32771
Exact.

If this is `CORTEX_M_DEBUG_NULL_POINTER_EXCEPTION_DETECTION` it has been merged.
You can enable it using `CONFIG_CORTEX_M_DEBUG_NULL_POINTER_EXCEPTION_DETECTION_MPU=y`

[2021-04-07 06:54] erwango commented on #33966
Question answered

[2021-04-07 06:54] #33966 closed

[2021-04-07 06:54] nordic-krch commented on #32929
False positive, commented in the coverity report.

[2021-04-07 06:54] #32929 closed

[2021-04-07 06:55] marc-hb commented on #13639
Ouch, I spent ages last week looking for this old issue and gave up eventually. Mentioning a commit links only one way. Mentioning PR #13159 here links both ways and would have let me find this issue :-)

[2021-04-07 06:56] nordic-krch commented on #32935
Fixed by #33408

[2021-04-07 06:56] #32935 closed

[2021-04-07 07:01] vanwinkeljan commented on #33753
@jeremyherbert Did you use the exact same config in the simulator form the description above I assume not?

Did you test with the `native_posix` board and did it behave as expected?

Further on:

This in only valid if the exact same config is used

I would assume that the `native_posix` board is used for this use case and not the stock LVGL simulator

[2021-04-07 07:09] jeremyherbert commented on #33753
I did try to match the configs as best as possible (it is not trivial because LVGL is not configured by Kconfig options). With the default config the two look very different to eachother.

I don't know how to use the native_posix board with a display, but I will try to work it out and test it ASAP

[2021-04-07 07:10] ioannisg commented on #33053
@masz-nordic did you mark the issues as false positive in Coverity as well?

[2021-04-07 07:41] de-nordic commented on #34045
@aunsbjerg Can you check if any other sample works with the same bootloader?
For example hello world?

[2021-04-07 07:44] de-nordic commented on #34045
The problem isn't with the build as title suggest, because the app seems to build. It does not boot.

[2021-04-07 07:53] avisconti commented on #33440
@richardbarlow
#33530 has been merged.
Can you prepare a PR to address this issue? I'm of course available to review it.

[2021-04-07 08:03] richardbarlow commented on #33440
@avisconti I've just seen. Thank you very much for sorting that out. It seems it turned out to be more work than I was expecting! I will create a PR right now.

[2021-04-07 08:17] masz-nordic commented on #33053
@ioannisg Yes I did.

[2021-04-07 08:19] #33212 closed

[2021-04-07 08:26] aunsbjerg commented on #34045
I can, but not until later this week. I didn't do exhaustive testing yesterday because of time, but wanted to document the issue in any case. I'll update the issue when I know more.

[2021-04-07 09:53] hongshui3000 opened #34068 "DOC BUILD FAIL"
**Describe the bug**
LOG1:
[code]
FILE: zephyr\include\bluetooth\gatt.h
[code]

LOG2:
[code]

Environment (please complete the following information):

Windows(Chinese)

[2021-04-07 10:10] cvinayak commented on #32958
These are false issues, the dptr is an offset into a static PDU buffer memory in the same file with sufficient size.

[2021-04-07 10:10] cvinayak commented on #32910
These are false issues, the dptr is an offset into a static PDU buffer memory in the same file with sufficient size.

[2021-04-07 10:18] rlubos commented on #34008
It's a false-positive. `sock_c`/`sock_s` cannot be negative at this point as the test verifies this earlier and asserts in case of a negative value.

[2021-04-07 10:18] #34008 closed

[2021-04-07 10:18] rlubos commented on #34002
It's a false-positive. `sock_c`/`sock_s` cannot be negative at this point as the test verifies this earlier and asserts in case of a negative value.

[2021-04-07 10:18] #34002 closed

[2021-04-07 10:21] ioannisg commented on #34049
I believe @anangl could answer this?

[2021-04-07 10:23] rlubos commented on #34010
False-positive, the device names used in the test were finetuned to fit into the provided buffers.

[2021-04-07 10:23] #34010 closed

[2021-04-07 10:53] jhedberg commented on #33901
@andyross I remember seeing some internal discussion wrt to this. IIRC there was some speculation about whether the feature should be completely removed? Is someone already looking into this?

[2021-04-07 11:20] carlescufi commented on #32958
Marked as false positive in Coverity.

[2021-04-07 11:20] #32958 closed

[2021-04-07 11:21] carlescufi commented on #32910
Marked as false positive in Coverity.

[2021-04-07 11:21] #32910 closed

[2021-04-07 11:37] mniestroj commented on #34000
I think that there should be `if (!remote_iface)` check added just after `remote_iface` assignment:
[code]
and
[code]

[2021-04-07 11:39] nashif commented on #32809
the log files are already attach in https://github.com/zephyrproject-rtos/zephyr/issues/32809#issuecomment-790232747

[2021-04-07 11:42] hongshui3000 opened #34076 "Unrecognized characters generated during document construction"
**Describe the bug**
file:zephyr\doc\_build\rst\doc\reference\devicetree\bindings.rst
[code]
file:zephyr/dts/bindings/vendor-prefixes.txt
[code]
Open this file in my system, the text is correct(utf-8)
The intermediate file generated by the build is incorrect，It seems that utf-8 is not used, generating

**Environment (please complete the following information):**
 -  Windows(Chinese)

[2021-04-07 12:06] cvinayak commented on #33091
False positive.

Updated in coverity.

[2021-04-07 12:06] #33091 closed

[2021-04-07 12:16] #33612 closed

[2021-04-07 12:16] #33203 closed

[2021-04-07 12:17] jukkar commented on #34000
I considered that solution but decided to do it differently. If both IPv4 and IPv6 are enabled, there would be the same check twice which is unnecessary. So I placed the remote_iface NULL check after the IPv4/IPv6 checks.

[2021-04-07 12:30] mniestroj commented on #34000
There would be two checks in compiled binary, yes. But it is hard to do without it before using `net_if_get_mtu()`. And I don't think returning 0 from `net_if_get_mtu(NULL)` (as proposed in https://github.com/jukkar/zephyr/commit/83db5ca1f3e719f91e198676b37ea0c05879ff49) is a good idea. With this code:
[code]
`mtu` will end up being negative value. In most cases (including that one) returning 0 fr

[2021-04-07 12:31] mniestroj commented on #34000
And as noted above, this check would be twice in compiled binary. However for a single function invocation, there would be just a single check.

[2021-04-07 12:37] mniestroj commented on #34000
What about calculating ip headers first (based on IPv4 vs IPv6):
[code]
or
[code]
and then `mtu` after `remote_iface` check:
[code]

[2021-04-07 12:38] cvinayak commented on #33090
False positive

Updated coverity.

[2021-04-07 12:38] #33090 closed

[2021-04-07 12:40] galak commented on #34014
Glancing at 3.1.3.6 RI5CY Memory map and register descriptions in the RV32M1RM it looks like mtval isn't a supported CSR.

[2021-04-07 12:44] cvinayak commented on #33057
Intentional.

Updated coverity.

[2021-04-07 12:44] #33057 closed

[2021-04-07 12:57] jukkar commented on #34000
The mtu value (if <0) is not used as we bail out if remote_iface is NULL.

[2021-04-07 13:30] nashif opened #34082 "Bullets are broken in documentation"
Something is broken in the docs. look at  https://docs.zephyrproject.org/latest/reference/kernel/threads/index.html

compare with https://docs.zephyrproject.org/2.5.0/reference/kernel/threads/index.html

[2021-04-07 13:59] ruuddw commented on #32809
Hmm, it doesn't make sense to me. The CmakeOutput.log says the C and C++ compilers are succesfully recognized as CLang, but the west log says "-- The C compiler identification is unknown". Comparing to Evgeniy's log, there C compiler is recognized "-- The C compiler identification is Clang 9.0.1". I'm using a later Metaware version and see Clang 10.0.1 being recognized.

[2021-04-07 14:22] gmarull commented on #34068
`ATOMIC_DEFINE(flags, BT_GATT_SUBSCRIBE_NUM_FLAGS);` is a known issue, and it is actually filtered out, has no relation with the reported problem. Looks like you are running out of date dependencies, make sure to run first `pip install -U scripts/requirements-doc.txt`. If the problem persists, you may try to set `SPHINXOPTS=` to see if default parallelization is the culprit.

[2021-04-07 15:39] joerchan commented on #33303
@GavinGonsalves Some configurations must have changed for you in your application, I'm not able to see the same any issues here.

The dumping of register is not done by the assert handler, but by the fatal exception handler for each architecture. Most of these handlers use the LOG subsystem, so at the very least this must be enabled.
In addition for x86 it seems that `EXCEPTION_DEBUG` needs to be

[2021-04-07 15:43] galak opened #34090 "Convert video_sw_generator.c to new kwork API"
Convert drivers/video/video_sw_generator.c to use new kwork API.

See the following issue for details:

https://github.com/zephyrproject-rtos/zephyr/issues/33104

[2021-04-07 15:45] galak opened #34091 "Convert uart_stm32.c to new kwork API"
Convert drivers/serial/uart_stm32.{c.h} to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 15:47] galak opened #34092 "Convert usb to new kwork API"
Convert drivers/usb/device/usb_dc_nrfx.c & subsys/usb/usb_work_q.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 15:50] galak opened #34093 "Convert bluetooth to new kwork API"
Convert the following files related to bluetooth to use new kwork API:

[code]

See the following issue for details:

#33104

[2021-04-07 15:55] galak opened #34094 "Convert ubsys/ipc/rpmsg_service/rpmsg_backend.c to new kwork API"
Convert subsys/ipc/rpmsg_service/rpmsg_backend.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 15:56] galak opened #34095 "Convert CAN to new kwork API"
Convert  subsys/canbus/canopen/CO_driver.c &  subsys/canbus/isotp/isotp.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:07] galak opened #34096 "Convert samples nrf clock_skew to new kwork API"
Convert samples/boards/nrf/clock_skew/src/main.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:08] galak opened #34097 "Convert samples/boards/reel_board/mesh_badge to new kwork API"
Convert samples/boards/reel_board/mesh_badge/src/periphs.c & samples/boards/reel_board/mesh_badge/src/reel_board.c.

See the following issue for details:

#33104

[2021-04-07 16:09] galak opened #34098 "Convert samples/drivers/led_sx1509b_intensity to new kwork API"
Convert samples/drivers/led_sx1509b_intensity/src/main.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:11] joerchan commented on #29224
@KKopyscinski Can you please clarify this issue?

[2021-04-07 16:11] galak opened #34099 "Convert subsys/tracing/cpu_stats.c to new kwork API"
Convert subsys/tracing/cpu_stats.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:12] #34082 closed

[2021-04-07 16:13] galak opened #34100 "Convert subsys/shell/shell_telnet to new kwork API"
Convert include/shell/shell_telnet.h & subsys/shell/shell_telnet.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:17] KKopyscinski commented on #29224
@joerchan I don’t remember now more than I wrote here, but I’ll revisit this issue on Monday

[2021-04-07 16:21] galak opened #34101 "Convert subsys/mgmt to new kwork API"
Convert subsys/mgmt/hawkbit/hawkbit.c  & subsys/mgmt/updatehub/updatehub.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:22] galak opened #34102 "Convert drivers/serial/uart_sam0.c to new kwork API"
Convert drivers/serial/uart_sam0.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:23] galak opened #34103 "Convert drivers/console/uart_mux.c to new kwork API"
Convert drivers/console/uart_mux.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:23] galak commented on #34102
@nandojve @mnkp can one of you take a look at this?

[2021-04-07 16:27] galak opened #34104 "Convert tests/benchmarks/footprints/src/workq.c to new kwork API"
Convert tests/benchmarks/footprints/src/workq.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:28] jukkar commented on #34103
Hmm, I can take this as it is tied to gsm_mux that I already converted in the same directory.

[2021-04-07 16:29] galak opened #34105 "Convert tests/kernel/workq to new kwork API"
Convert tests/kernel/workq/critical/src/main.c & tests/kernel/workq/work_queue/src/main.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:30] galak opened #34106 "Convert tests/kernel/pending/src/main.c to new kwork API"
Convert tests/kernel/pending/src/main.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 16:30] galak commented on #34103
thanks.

[2021-04-07 16:32] katsuster commented on #34026
@mehrdadh
Thanks for report. I think most easiest way is calling k_float_enable(_current, 0) before using FPU (that is suggested by  @galak).
But unfortunately Zephyr 2.5-branch has not yet had k_float_enable() because this is very recently changing. So we need to take a little complex way.

Do you want to run floating point instruction on main thread?
If you don't have strong reason to run on mai

[2021-04-07 16:33] galak opened #34107 "Convert tests/benchmarks/mbedtls/src/benchmark.c to new kwork API"
Convert tests/benchmarks/mbedtls/src/benchmark.c to use new kwork API.

See the following issue for details:

#33104

[2021-04-07 17:17] marc-hb commented on #33567
Join the party in https://github.com/thesofproject/sof/pull/4002 if you think you can help.

[2021-04-07 17:25] ngboonkhai commented on #34046
Hi galak,
Tested with the latest 0.12.14 sdk, it's working now, Thanks

[2021-04-07 18:01] pabigot commented on #34105
Two choices for the maintainer:
* (Recommended) Once all other in-tree uses are converted merge #32888 to deprecate the old API.  That PR includes a solution that retains the tests of the deprecated API without causing CI failures.  #34112 should be merged when the deprecated API is removed in a future release.
* (Not Recommended) Merge #34112 immediately, opening the possibility that the behavior

[2021-04-07 18:55] tejlmand commented on #34046
We have:
https://github.com/zephyrproject-rtos/zephyr/blob/103fc5e43aacc5baa5b15e789fbe6f61c22d28dc/cmake/verify-toolchain.cmake#L19
which can be set to `0.12.4` when `arm64` is used.

but to make it fail if the toolchain is not new enough we would also need to add `REQUIRED` here:
https://github.com/zephyrproject-rtos/zephyr/blob/103fc5e43aacc5baa5b15e789fbe6f61c22d28dc/cmake/verify-toolchain.cma

[2021-04-07 19:22] #32279 closed

[2021-04-07 21:13] yerabolu opened #34116 "mec15xxevb_assy6853: tests/kernel/mutex/sys_mutex/"
**Describe the bug**
test_mutex_multithread_competition in tests/kernel/mutex/sys_mutex/ failed

This test is also failing on Up squared x86 and Nordic Reel board

**To Reproduce**
Steps to reproduce the behavior:
1.  twister --hardware-map ~/mec1.file --device-testing -s tests/kernel/mutex/sys_mutex/test_mutex_multithread_competition/
2. See error

**Expected behavior**
Test should pass

**Logs a

[2021-04-07 22:14] yerabolu opened #34117 "ehl_crb: tests/kernel/context tests failed"
**Describe the bug**
kernel_cpu_idle_atomic and kernel_cpu_idle tests failed

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W -p ehl_crb --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/context/ --west flash="/home/user/EHL_X86_PXE.sh"
2. Test results

**Expected behavior**
Tests should pass

**Logs and console output**

[code]

**Environment (please complete the follo

[2021-04-07 23:22] GavinGonsalves commented on #33303
@joerchan I can also make it work with the Hello World sample and a minimal proj.conf file of
`CONFIG_ASSERT=y
CONFIG_ASSERT_LEVEL=2`

When I copy the proj.conf file from my application over to Hello World, I get the failure. I'll try to narrow down the CONFIG param that is causing my issue.

[2021-04-07 23:41] GavinGonsalves commented on #33303
@joerchan It is certainly something in the logging config param.

Here is what I currently have that is causing the error:
`CONFIG_LOG=y
CONFIG_LOG_RUNTIME_FILTERING=y
CONFIG_LOG_MODE_OVERFLOW=y
CONFIG_LOG_MAX_LEVEL=4
CONFIG_LOG_DEFAULT_LEVEL=2
CONFIG_LOG_OVERRIDE_LEVEL=2
CONFIG_LOG_PRINTK=y
CONFIG_LOG_PRINTK_MAX_STRING_LENGTH=128
CONFIG_LOG_PROCESS_TRIGGER_THRESHOLD=0
CONFIG_COVERAGE=n
CONFIG_LOG

[2021-04-07 23:44] GavinGonsalves commented on #33303
@joerchan

Running 2.4.0 with proj.conf:
`CONFIG_ASSERT=y
CONFIG_ASSERT_LEVEL=2

CONFIG_LOG=y
CONFIG_LOG_RUNTIME_FILTERING=y
CONFIG_LOG_MODE_OVERFLOW=y
CONFIG_LOG_MAX_LEVEL=4
CONFIG_LOG_DEFAULT_LEVEL=2
CONFIG_LOG_OVERRIDE_LEVEL=2
CONFIG_LOG_PRINTK=y
CONFIG_LOG_PRINTK_MAX_STRING_LENGTH=128
CONFIG_LOG_PROCESS_TRIGGER_THRESHOLD=0
CONFIG_COVERAGE=n
CONFIG_LOG_PROCESS_THREAD=y
CONFIG_LOG_BUFFER_SIZE=65

[2021-04-07 23:45] GavinGonsalves commented on #33303
Here is my Hello World main()
`void main(void)
{
	printk("Hello World! %s\n", CONFIG_BOARD);
    __ASSERT_PRINT("__ASSERT_PRINT \n");
    __ASSERT_LOC(false);
    __ASSERT_MSG_INFO("__ASSERT_MSG_INFO \n");
//    __ASSERT_NO_MSG(false);
    __ASSERT(false, "Force ASSERT!");   // ***** Failure line
    __ASSERT_PRINT("__ASSERT_PRINT 2 \n");
    __ASSERT_LOC(false);
    __ASSERT_MSG_INFO("__ASSERT_MS

[2021-04-08 05:04] hongshui3000 commented on #34068
@gmarull
Thanks
It can work after updating the version.

[2021-04-08 05:46] hongshui3000 commented on #34076
Similarly, I can’t write Chinese characters in it, and I will report an error directly.
zephyr/dts/bindings/vendor-prefixes.txt
LOG:
[code]

[2021-04-08 06:19] hongshui3000 commented on #34068
This issue has been repeated with another issue   close it

[2021-04-08 06:19] hongshui3000 commented on #34068
This issue has been repeated with another issue   close it

[2021-04-08 06:19] hongshui3000 commented on #34068
This issue has been repeated with another issue   close it

[2021-04-08 06:19] #34068 closed

[2021-04-08 06:29] nashif commented on #34116
This is a new test that was introduced recently in 7e91223ae0e, please verify if the issue is in the test as the first thing.

[2021-04-08 06:45] hongshui3000 opened #34121 "Unable to generate pdf according to the documentation steps on windows"
**Describe the bug**
From the documentation, it supports pdf generation, on the windows system. But it does not actually support it.
[code]
![image](https://user-images.githubusercontent.com/25566498/113979912-73ba0380-9878-11eb-8e44-4caaf047503d.png)

After I ran the zephyr-env.cmd command, another error occurred
[code]
zephyr.log
[code]
Seems to be pictures that do not support gif format

see ht

[2021-04-08 06:48] #34104 closed

[2021-04-08 07:55] PerMac commented on #34116
I see failures in the same place on all Nordic boards we deliver results for, Ubuntu 20.04, zephyr-sdk 0.12.2
Hovewer, I see `The highest priority thread failed to take the mutex.` on most of them

[2021-04-08 08:01] #33787 closed

[2021-04-08 08:01] #33821 closed

[2021-04-08 08:16] joerchan commented on #33303
@GavinGonsalves The thing that happened between 2.4.0 and 2.5.0 is that now the KERNEL log level controls the output of the fatal handler.
The change affecting you is this one: https://github.com/zephyrproject-rtos/zephyr/commit/3ed8083dc1625b0f3043b95a3cd6fb1dbd04f84b

So at the very least you need to set the kernel log level to ERR instead of OFF.
`CONFIG_KERNEL_LOG_LEVEL_ERR=y`

PS: You need th

[2021-04-08 08:26] joerchan commented on #33303
@nashif Unless we don't wish the kernel log level to disable the fatal error messages then this issue can be closed.

[2021-04-08 08:36] hongshui3000 commented on #34121
When I replaced this picture with a jpg picture, another problem appeared
LOG:
[code]
zephyr.log
[code]

[2021-04-08 08:38] Zhaoningx commented on #34116
Hi, yes, there are some platforms failed to run this case, I'm working on it now. And this case's PR is : https://github.com/zephyrproject-rtos/zephyr/pull/33492 , and I designed this case based on the zephyr doc:
![image](https://user-images.githubusercontent.com/62736294/113995357-c3083000-9888-11eb-8933-b28edbe2de2b.png)

[2021-04-08 09:50] hongshui3000 commented on #34121
When I deleted the points, another problem appeared
zephyr.log
[code]

[2021-04-08 10:56] hongshui3000 commented on #34121
When I replaced it with the correct picture, a new problem appeared.
It seems that the utf-8 character "μ" cannot be recognized

LOG:
[code]
zephyr.log
[code]

[2021-04-08 11:23] carlescufi commented on #30026
As per the log, the BLE communication between node1 and Linux and node2 and Linux seems stable all through the trace, even after connecting node2. This looks instead like a TCP-related problem, as shown in the trace if you load it in Wireshark:

![image](https://user-images.githubusercontent.com/12450381/114018423-81b65700-986d-11eb-8118-bee7b7304cb7.png)

@Vudentz or @jukkar could you please take

[2021-04-08 11:34] hongshui3000 commented on #34121
Same problem as above. The picture “lpcxpresso11u68.png” is also unrecognizable

[2021-04-08 11:38] nordic-krch commented on #33929
Tried the latest one `zephyr-sdk-0.12.4` and don't see those warnings.

[2021-04-08 11:52] jukkar commented on #30026
What Zephyr version was used here?

I looked the latest upstream TCP code and the RST is send to peer after SYN only if the packet is malformed or we received unknown TCP option. The dump file shows that the only option we receive is the Maximum Segment Size and current TCP code should be able to handle that. There was some fixes for the option handling in this commit 9e8c1b0bbfe02f84185f81002a429

[2021-04-08 11:56] Delsian opened #34131 "TFTP client ignores incoming data packets"
TFTP client implementation (/subsus/net/lib/tftp/tftp_client.c) doesn't work with tftpd ver.0.17-22
After creating socket (line 235) it sends request to server port 69 (line 196). Server responds with data packet, but the data transfer ports are chosen independently by the sender and receiver during the transfer initialization.
As a result, /subsus/net/ip/connection.c drops incoming data packet fr

[2021-04-08 12:03] Delsian commented on #34131
Is it possible to use 'setsockopt' to modify socket behaviour in part of source port checking?
Or any suggestion, how to change conn->remote_addr->sin_port value to 0 after sending the first packet?
Or better to use 'bind' to random incoming port instead 'connect' to port 69?

[2021-04-08 12:03] jukkar commented on #30026
I tested the TCP and option handling by sending TCP SYN with the same options as in the btmon.log file. Zephyr did not send RST to peer so our TCP MSS option handling works ok.
Was the application in Zephyr listening the 1883 port?

[2021-04-08 12:05] ioannisg opened #34132 "Static and dynamic (pools) allocation of cachable and non-cachable memory"
## Introduction

We would like to have an API that allows for static and/or dynamic allocation of memory blocks on cache-able and/or non-cacheable memory.

### Problem description

Allocation of cache-able and non-cachable memory is currently not supported in Zephyr, in a generic way.

Some architectures (e.g. Cortex-M) have some arch-level support for defining non-cacheable linker/memory sections

[2021-04-08 12:22] #34014 closed

[2021-04-08 12:55] carlescufi commented on #8393
reopening as this still applies

[2021-04-08 13:11] hguomin8 commented on #30026
Zephyr version is v2.2.0

[2021-04-08 13:13] hguomin8 commented on #30026
Yes, I am running an MQTT app that listening the 1883 port, but this issue can be simply reproduced with MQTT running.

[2021-04-08 13:18] wysman opened #34134 "USB do not works if bootloader badly use the device before"
**Describe the bug**
From the version 2.5 of zephyr-os, the USB-ACM of mcuboot is not working anymore, but the chain loading of the application slot is working. My application is using USB too. I think the previous failed init of USB from MCUBoot prevent the zephyr-os usb init to works.

**Work around**
- Use mcuboot provided and compiled for Zephyr-os 2.4
- Use Application compiled  for Zephyr-os

[2021-04-08 14:13] GavinGonsalves commented on #33303
@joerchan I'm good to remove `CONFIG_KERNEL_LOG_LEVEL_OFF`.  Thanks for the help.

However, I would expect an output where I would at least get the "Hello World". Not this:

`-- west build: running target run
[0/1] To exit from QEMU enter: 'CTRL+a, x'[QEMU] CPU: qemu32,+nx,+pae
SeaBIOS (version zephyr-v1.0.0-0-g31d4e0e-dirty-20200714_234759-fv-az50-zephyr)
Booting from ROM..`

There is no real way

[2021-04-08 14:31] joerchan commented on #33303
@GavinGonsalves
From your output here you got it:
[code]

The other stuff is part of QEMU, so it will be different if you use a different board (native_posix for example).

[2021-04-08 14:40] carlescufi commented on #34134
Are you enabling `CONFIG_MCUBOOT_CLEANUP_ARM_CORE` in MCUboot?

[2021-04-08 14:52] jfischer-no commented on #34134
I guess it is Zephyr OS with USB device stack, CDC-ACM class support and MCUboot as application?
Can you please test samples/subsys/usb/cdc_acm without MCUboot and any modifications?

[2021-04-08 14:54] GavinGonsalves commented on #33303
@joerchan That output was with the following config:

`CONFIG_ASSERT=y
CONFIG_ASSERT_LEVEL=2

CONFIG_LOG=y
#CONFIG_LOG_RUNTIME_FILTERING=y
#CONFIG_LOG_MODE_OVERFLOW=y
#CONFIG_LOG_MAX_LEVEL=4
#CONFIG_LOG_DEFAULT_LEVEL=2
#CONFIG_LOG_OVERRIDE_LEVEL=2
#CONFIG_LOG_PRINTK=y
#CONFIG_LOG_PRINTK_MAX_STRING_LENGTH=128
#CONFIG_LOG_PROCESS_TRIGGER_THRESHOLD=0
#CONFIG_COVERAGE=n
#CONFIG_LOG_PROCESS_THREAD=y
#C

[2021-04-08 15:11] jukkar commented on #30026
Ok, that is an ancient version. Would you be able to try your setup in latest upstream so we could get information if the TCP issue is fixed there.

[2021-04-08 15:17] wysman commented on #34134
@carlescufi I have made a test with the `CONFIG_MCUBOOT_CLEANUP_ARM_CORE`. It's do not works better.

[2021-04-08 15:38] wysman commented on #34134
@jfischer-no I have test the `samples/subsys/usb/cdc_acm` application without mcuboot. It's do not works.

**Logs and console output (Board)**
Booting Zephyr OS build zephyr-v2.5.0
[00:00:00.054,000] <inf> cdc_acm_echo: Wait for DTR

**Logs and console output (Linux host)**
avril 08 17:35:07 cortex kernel: usb 1-2.1: new full-speed USB device number 76 using xhci_hcd
avril 08 17:35:07 cortex kerne

[2021-04-08 17:23] jenmwms commented on #33544
This is not observed on `acrn_ehl_crb` at this point in the code base. A different issue is seen but is easily resolved using the CONFIG_APIC_TIMER_IRQ=48, recently discovered while working on https://github.com/zephyrproject-rtos/zephyr/issues/33593 (merged).

Adding the same APIC timer irq for this native EHL configuration did not resolve the assert observed here.

[2021-04-08 17:45] jenmwms commented on #33544
ehl_crb uses HPET_TIMER. APIC_TIMER is not set on ehl_crb, that is one of the differences between acrn_ehl_crb and ehl_crb.

[2021-04-08 17:46] GavinGonsalves commented on #33303
@joerchan Actually, I can't reproduce the output:

-- west build: running target run
[0/1] To exit from QEMU enter: 'CTRL+a, x'[QEMU] CPU: qemu32,+nx,+pae
SeaBIOS (version zephyr-v1.0.0-0-g31d4e0e-dirty-20200714_234759-fv-az50-zephyr)
Booting from ROM..

With the Hello world sample app. I can only see it in my own app.

I consider this issue resolved.

[2021-04-08 17:46] #33303 closed

[2021-04-08 18:30] mehrdadh commented on #34026
@katsuster Thanks for the information.
This approach would be kinda complicated for our setup. We will update ours once 2.6 is out. Thanks for the great work on supporting riscv boards!

[2021-04-08 18:31] #34026 closed

[2021-04-08 19:35] dhoove commented on #33994
Hi,I just added a board file to the PR for the STM32L476 nucleo board.Cheers,DavidOn 6 Apr 2021 19:41, Maureen Helm ***@***.***> wrote:
Which board are you using?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-08 20:06] gmarull commented on #33994
related PR: https://github.com/zephyrproject-rtos/zephyr/pull/33996

[2021-04-08 23:19] galak opened #34145 "Convert NXP kinetis boards to have pindata in devicetree"
- [x] frdm_k22f
- [x] frdm_k64f
- [x] frdm_k82f
- [x] frdm_kl25z
- [x] frdm_kw41z: need to understand what's going on w/ TPM/PWM
- [x] hexiwear_k64
- [x] hexiwear_kw40z: requires had coded pin dts file
- [x] ip_k66f:
- [x] twr_ke18f (#34200)
- [x] twr_kv58f220m
- [x] usb_kw24d512: Need to figure out how to handle internal signals connected to modem

[2021-04-08 23:40] bwasim commented on #34131
The TFTP client polls on the socket (see https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/tftp/tftp_client.c#L108), And so any data received on this socket should make it to the client even if its sent by a different source port. So the client is doing the correct thing.

I'm not aware of the latest changes within the networking stack which may have caused this. @jukkar woul

[2021-04-09 01:23] NanlinXie opened #34149 "Invalid link in Zephyr document to ACRN page"
There's one invalid link in document page for "Getting started guide for Intel NUC "
https://docs.zephyrproject.org/latest/boards/x86/acrn/doc/index.html#on-the-acrn-sos

The latest ACRN GSG guide link should be:
https://projectacrn.github.io/latest/getting-started/rt_industry_ubuntu.html

[2021-04-09 02:35] LingaoM opened #34150 "Bluetooth: Mesh: reduce adv thread stack"
**Mesh advertiser thread stack size**
At least 768 bytes up to 1K Bytes if host run crypto.

I think we can postpone `cb->start` and `cb->end` to `k_work_thread`.
In order to reduce the ram consumption and meet the current use of microbit resources.

**Potential questions, whether it affects the timing of friends and LPN?**

We can add an option to select whether it is more appropriate to enable t

[2021-04-09 02:36] KangJianX commented on #34116
Same behavior can be reproduce on ADSP.

[2021-04-09 02:49] KangJianX opened #34152 "intel_adsp_cavs15: run tests/kernel/smp/ failed on ADSP"
**Describe the bug**
run this testcase failed on ADSP

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/smp/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/zephyrproject/modules/audio/sof/zep

[2021-04-09 03:49] hongshui3000 commented on #34121
summary:
1.The steps to generate the document in the document are incomplete
2.Picture problem：ReelBoard-Blinky.gif bmd_345_eval.png lpcxpresso11u68.png mimx8mm_evk.jpg stm32f103_mini_yellow.jpg
3.Character problem:   ？ （  ） μ
4.Extra character problem :  https://www.bosch-sensortec.com/products/environmental-sensors/humidity-sensors-bme280/`

[2021-04-09 06:31] #32492 closed

[2021-04-09 06:51] carlocaione opened #34154 "AArch64 PR reviews and merges are lagging behind"
This is a know problem but again I'm having a hard time convincing someone to review or merge AArch64-related PRs. For example I have a trivial PR #33181 opened since 9th of March with only one review but many others are sitting there praying someone would notice, ping doesn't seem to be effective either.

Now, the problem is that only me and @npitre are actively working on AArch64 with a lot of p

[2021-04-09 06:52] carlocaione commented on #34154
Tagging the usual suspects @nashif @galak @ioannisg

[2021-04-09 07:21] jsun26intel commented on #33593
please double check zephyr's implementation.
EHL native doesn't use APIC timer, it use HPET timer by default, whereas ACRN has no vHPET implementation, so we have to use APIC timer instead. That's why the issue could not be reproduced on EHL native. Maybe you can have a try on APIC timer with SMP disabled.

On Zephry's apic timer implementation (drivers/timer/apic_timer.c), it would enable the har

[2021-04-09 07:54] jfischer-no commented on #34134
@wysman can you please check STM32 relevant [release-nodes-2.5](https://docs.zephyrproject.org/latest/releases/release-notes-2.5.html). Maybe your issue is related to pinmux changes, "_STM32 pinmux driver has been reworked to allow pin configuration using devicetree definitions. The previous C macros are now deprecated._"

[2021-04-09 07:58] jfischer-no commented on #34134
Exactly which board supported by Zephyr OS can be used to reproduce this problem?

[2021-04-09 08:11] wysman commented on #34134
@jfischer-no I have test the sample on our **custom board** with your custom DTS. We have migrated the pinmux stuff during our 2.4 to 2.5 migration, and USB is working with the older mcuboot.

Our custom board are based on STM32F412RG.

[2021-04-09 08:24] jukkar commented on #34131
Noticed following issues with tftp:

* There is no sample app for the tftp functionality. Dunno how this went unnoticed but this needs to be fixed, every feature needs to have a sample so that it is easy to test things and also make sure the code does not bitrot. @bwasim would you be able to send a PR that adds simple tftp client app? The app does not need to implement anything useful, just to mak

[2021-04-09 08:28] erwango commented on #34134
I've just had a try using `nucleo_f429zi` on `samples/subsys/usb/cdc_acm` and it seems to work fine, on latest master (`zephyr-v2.5.0-2093-ga074b335db`):
[code]

[2021-04-09 08:43] aunsbjerg commented on #34045
The hello world sample with `CONFIG_BOOTLOADER_MCUBOOT=y` works just fine on the `frdm_k64f` board. It boots up and runs the hello world code as expected.

The issue seem to be isolated to the SMP UDP sample. When `CONFIG_MCUMGR_SMP_UDP=y` is set AND `CONFIG_BOOTLOADER_MCUBOOT=y` is set at the same time, the application does not boot. Disable either of the options, and the applications boots.

[2021-04-09 08:54] JordanYates commented on #27471
Issue is not stale, solutions are being actively prototyped.

[2021-04-09 09:08] tejlmand commented on #32111
Thanks for the hint.
Of course we must setup the triplet correctly on windows, which apparently is not correctly done.

When doing `clang -target  i686-pc-none-elf -dM -E -x c dummy.c` I get the desired behavior.
` i686-pc-none-elf` is the triplet in use for `qemu_x86` in Linux (wonder if that should actually be `i386-pc-none-elf` for qemu_x86).
[code]

but for unknown reason this triplet is not a

[2021-04-09 09:24] tsvehagen commented on #30391
Has there been any further discussion regarding this? Personally I think it would be really nice to see something like this to ease with application testing as well.

[2021-04-09 09:25] tejlmand commented on #32111
ok, seems to be correctly applied in later CMake versions.
Fails with CMake 3.17, but correctly applied when using CMake 3.20 on windows.

[2021-04-09 09:31] Thalley commented on #31180
The parameters set in the `struct bt_iso_chan_io_qos` of the peripheral should probably be validated based on the parameters of this event, and trigger an automated rejection of the CIS if they are not satisfied.

[2021-04-09 09:35] Thalley opened #34159 "Function to truncate a UTF8 string"
**Is your enhancement proposal related to a problem? Please describe.**
An ASCII string can easily be truncated by simply inserting a `\0` where wanted, or simply by copying only `X` bytes. UTF strings may have characters that span multiple octets, and thus such simple truncation can not be done on those, without the risk of invalidating a character.

**Describe the solution you'd like**
Implement

[2021-04-09 09:57] ustinov-dev commented on #33978
I have done PR #34161

[2021-04-09 10:29] galak commented on #34149
@NanlinXie can you submit a PR to fix this?

[2021-04-09 11:06] galak commented on #33805
Not a bug, this test is trying to validate we get an error reported in this case.

[2021-04-09 11:08] #33805 closed

[2021-04-09 11:08] galak commented on #33814
Not a bug, this test is trying to validate we get an error reported in this case.

[2021-04-09 11:08] #33814 closed

[2021-04-09 11:08] galak commented on #33783
Not a bug, this test is trying to validate we get an error reported in this case.

[2021-04-09 11:08] #33783 closed

[2021-04-09 11:08] johann2 opened #34165 "SNTP fails to close the used socket"
**Describe the bug**
Seems that the close function used in `sntp_close` will resolve to some `close` function not related to sockets instead of the one that calls `zsock_close`. As a result the socket remains open.

**To Reproduce**
I haven't been able to put together a minimal example to reproduce this.
The issue seems to happen only when `CONFIG_NET_SOCKETS_POSIX_NAMES=n`

**Expected behaviour**

[2021-04-09 11:13] tejlmand commented on #32111
Seems we need to look at what to do for the gcc assembly:
[code]

which on my system happens because clang can't use it's built-in assembler and thus calls out to an external assembler, in my particular case: `C:\\cygwin64\\bin\\as.exe`
[code]

and trying to avoid that results in:
[code]

[2021-04-09 11:19] #33488 closed

[2021-04-09 11:23] #33000 closed

[2021-04-09 11:23] #33001 closed

[2021-04-09 11:40] jukkar commented on #34165
@pfalcon can you take a look at this as this seems to be related to the Posix API issues we have been seeing occacionally.

[2021-04-09 12:12] hguomin8 commented on #30026
Let me try it and get back to you later next week.

[2021-04-09 12:31] JordanYates opened #34167 "RFC: memory regions from devicetree partitions"
## Introduction

The core problem that this issue is attempting to resolve is that the flash space of devices is partitioned in devicetree, but that partitioning is not used by the only tool that matters for memory layout, the linker. This results in problems such as #27471.

A secondary problem which can be resolved at the same time is the placement of variables at specific memory addresses. Plac

[2021-04-09 14:41] pfalcon commented on #34165
@johann2:

That doesn't sounds too reassuring. To fix the issue, we need to see the issue. So, please try to provide steps to reproduce (ideally, reproduction code + build files).

Then the likely reason is that SNTP should depend on CONFIG_NET_SOCKETS_POSIX_NAMES=y (or POSIX_API=y). I can prepare such a patch.

The latest SDK release is 0.12.4. 0.11.3 is 4-5 releases old. Please upgrade and retry

[2021-04-09 14:43] jefffhaynes commented on #20576
This is still a problem

[code]

[2021-04-09 14:47] carlescufi commented on #34154
@carlocaione While I appreciate the situation of AArch64, this is a general problem in this project and many others, especially in areas where there is only one party contributing to at a particular moment in time. I have added the TSC label to see if we can make progress on your proposals.

[2021-04-09 14:51] kaiser-ren commented on #32721
I verified, CONFIG_BT_LOG_SNIFFER_INFO method works. I can capture the address of periodic advertise after reset the board.

[2021-04-09 14:54] Thalley commented on #32721
@kaiser-ren Is that enough to close this issue?

[2021-04-09 15:01] kaiser-ren commented on #32721
Great works, thanks.

[2021-04-09 15:01] #32721 closed

[2021-04-09 15:55] #21993 closed

[2021-04-09 15:55] #34090 closed

[2021-04-09 16:48] #33956 closed

[2021-04-09 17:54] jenmwms commented on #34149
This was quick to fix, I hope that helps @NanlinXie . Thanks for providing the corrected link in the bug report!

[2021-04-09 17:59] jenmwms commented on #34117
Ok, I see this is one of those tests sensitive to timing (off by 1ms). Let's see what we find in debug. Thanks!

[2021-04-09 18:24] katsuster commented on #29535
Reopened...
We need to solve this issue. Current RV32 Zephyr printf() outputs very strange values by this problem.

[code]

[2021-04-09 18:49] #34149 closed

[2021-04-09 18:53] #33253 closed

[2021-04-09 19:22] GunZi200 opened #34178 "apds9960 sensor sample does not build on STM32"
**Describe the bug**
Example for sensor apds9960 doesn't build for board Nucleo L412RB-P, I tried also Nucleo F401RE with same results.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -p -b nucleo_l412rb_p samples/sensor/apds9960`
2. See various DT errors

**Expected behavior**
The example should finish building.

**Impact**
What impact does this issue have on your progress (e.g.

[2021-04-09 19:54] galak commented on #34178
You need a devicetree node for the sensor, similar to what is in boards/arm/reel_board/dts/reel_board.dtsi.

This is not a bug, but expected behavior as the board does not support the sensor by default.

[2021-04-09 19:54] #34178 closed

[2021-04-09 20:00] GunZi200 commented on #34178
Thanks @galak I will take a better look.

[2021-04-10 00:17] jenmwms commented on #28551
Hardcoding `pad_base=0x500` to overcome the suspicious `0xffffffff` value did not improve the issue. All gpio devices are init'd with it, but still same issue. Perhaps that is only one aspect.

Reviewing the prints in previous comments, I saw another difference in addition to pad_base:
`val` was 0 when it worked. After the bisected patch, `val` is non-zero.
_Before/Working_
[code]

_After/Error_
[

[2021-04-10 02:01] galak opened #34184 "video samples fail to build"
The following samples fail to build:
[code]

Failure is of form:

[code]

[2021-04-10 02:04] galak commented on #34184
Possible fix:

[code]

[2021-04-10 02:25] jenmwms commented on #28551
I'm digging around this part for `regs(dev)` (snippet below) because I found that even if I brute force through the check_perms by hardcoding `pad_base` to expected 0x500 and all the `val` to 0, this trips in the next stage of configuring interrupts.
[code]
where
[code]

[2021-04-10 09:21] maweicoltsmart commented on #33969
This can be solved. But I wonder if there are similar problems in other subsystems such as network

[2021-04-10 09:28] loicpoulain commented on #34184
cf #34186

[2021-04-10 11:52] #34184 closed

[2021-04-10 13:24] bob2oneil opened #34190 "Newbie: Simple C++ List App Builds for QEMU but not Native Posix Emulation"
I am a newbie to Zephyr, so this is probably a newbie caliber question, but we were all newbies at one time.

I have a simple C++ application exploring the use of std::list, and in general std support in Zephyr for an application written in C++.

The application builds fine when targeting the qemu_x86 emulation, but fails to build when targeting native_posix.  It appears from the build issues that

[2021-04-10 15:02] gudnimg opened #34192 "Sensor BME680: Add support for SPI operation"
The BME680 can operate with both I2C and SPI but currently Zephyr only supports I2C operation. It would be neat to have the option to choose between I2C and SPI.

Example of a sensor board the exposes the SPI pins: https://www.sparkfun.com/products/16466

Quick links:
Zephyr BME680 library: https://github.com/zephyrproject-rtos/zephyr/tree/master/drivers/sensor/bme680
Zephyr BME680 sample: https:/

[2021-04-10 21:57] Kludentwo commented on #34145
regarding frdm_kw41z: In the pinmux.c file it says kPORT_MuxAlt4 but in the dts file it says < 0 5 >. Is it muxed wrong?

[2021-04-10 22:03] eugmes commented on #33523
I've tried to use `bossac` from current Arduino (Version 1.9.1-17-g89f3556)` with the current master (f6f951cc1709a23fa0a6e4d74337667f90a03af1) on MacOS and the application keeps rebooting. Removing `-o` parameter to `bossac` helps.

[2021-04-10 23:41] ric96 opened #34196 "st_lis2mdl: LSM303AGR-MAGN not detected"
**Describe the bug**
on the stm32f411e_disco the LSM303AGR-MAGN is not detected but LSM303AGR-ACCEL works just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Update DT as per https://github.com/zephyrproject-rtos/zephyr/pull/34181
2. build for the following code snippet with the correct prj.conf
[code]
3. flash
4. See error

**Expected behavior**
magnetometer is detected

**Impact**
M

[2021-04-11 00:29] #31150 closed

[2021-04-11 00:29] #31149 closed

[2021-04-11 02:50] madscientist159 opened #34197 "samples: telnet: Tab completion not working in telnet shell"
**Describe the bug**
When connecting via telnet to the system shell, tab completion does not function.  Tab completion works fine on the standard UART shell.

**To Reproduce**
Build the telnet sample application, and attempt to interact with the console using tab completion.  Note that no commands are completed, and the tab is echoed locally with no effect.

**Expected behavior**
Commands should b

[2021-04-11 06:40] jacoba-at commented on #30162
I tried re-building with MW toolchain on a zephyr 2.5 tree, this time no errors, but still got some warnings which indicate not clean build:

..........
-- The C compiler identification is Clang 9.0.1
-- The CXX compiler identification is Clang 9.0.1
-- The ASM compiler identification is **unknown**
-- Found assembler: /tools/synopsys/metaware/safety_arc/Q-2020.06/MetaWare/arc/bin/ccac
-- **Warnin

[2021-04-11 09:39] kaiser-ren opened #34201 "Fatal error when perform "bt phy-update" if there is not any connections at ./tests/bluetooth/shell"
**Describe the bug**
*./tests/bluetooth/shell* is a Swiss-knife application, however, if there is not any connections but performs **bt phy-update**, it can cause a fatal error because of conn-check-missing.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A warning message return is appreciated instead of system failure.

**Impact**
I need to reset the board to make the b

[2021-04-11 09:53] kienasv opened #34202 "MPU Fault when running central coded bluetooth and ENC28J60 dhcpv4_client"
**Describe the bug**
I am building the coded bluetooth gateway using nrf52840 and ENC28J60. Integrated between two examples:
- https://github.com/nrfconnect/sdk-nrf/tree/master/samples/bluetooth/central_hr_coded
- https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/dhcpv4_client

I created two task:

[code]

[code]

There is no main function. I start two tasks using:
[code]

**If

[2021-04-11 10:35] jukkar commented on #34202
Have you checked where the app is crashing, try for example something like this to get some more info
[code]
the addr2line program can be found in Zephyr SDK.

There is also `NET_EVENT_IPV4_DHCP_BOUND` event that can be also used. The `ADDR_ADD` event is ok too but if you are using DHCPv4, then the `IPV4_DHCP_BOUND` event is probably more suitable one to use.

[2021-04-11 13:35] Vladimirek opened #34204 "nvs_write: Bad documented return value."
Docs say:
https://github.com/zephyrproject-rtos/zephyr/blob/1342d12500867d3de09025037e65e756d5486eba/include/fs/nvs.h#L105-L106

But when the key is already in flash with the same value zero is returned:
https://github.com/zephyrproject-rtos/zephyr/blob/6acc4a25213e70ad47524a176bcf47431b0547e5/subsys/fs/nvs/nvs.c#L842-L846

Need update code or doc header.

[2021-04-11 13:59] lgl88911 commented on #32289
Since the usdhc code was moved to the driver, https://github.com/zephyrproject-rtos/zephyr/pull/29096 was abolished and create https://github.com/zephyrproject-rtos/zephyr/pull/34205

[2021-04-11 16:36] Laczen commented on #34204
@Vladimirek, thanks for reporting this. I am unsure what the error is, when a rewrite of the same data is done, nothing is written to flash, so nvs reports 0 (as documented).

Wether this operation is succesful or not, this can be discussed.

[2021-04-11 17:32] Vladimirek commented on #34204
That is exactly what I missing. Simple note about 0 will be describe the situation exactly.
_Number of bytes written. On success, it will be equal to the number of bytes requested to be written. **Zero if value already present.** On error returns -ERRNO code._
Yes I know that there is documented on other place, but who have a time read it all :-)

[2021-04-11 19:25] pjfarleyiii opened #34206 "Question: Is zephyrproject actively maintaining the windows-curses sub-project?"
There have been several issues filed in the zephyrproject-rtos/windows-curses sub-project since June 2020 with no responses.  I am asking here whether zephyrproject-rtos intends to actively maintain the windows-curses sub-project or whether issues in windows-curses must be resolved via fork and independent debugging and corrections.

Peter

[2021-04-11 22:16] galak commented on #34145
@Kludentwo take a look at https://github.com/zephyrproject-rtos/zephyr/pull/34146

[2021-04-12 00:29] #30771 closed

[2021-04-12 04:49] dastarling opened #34209 "BLE Mesh Provisioning generates value 0 outside of Specification for Blink, Beep, or Vibrate"
**Describe the bug**
The BLE Mesh spec v1.0.1 specifies:
When the Authentication Method 0x02 (Authentication with Output OOB) is used and when Output OOB Action for the Authentication Action value is equal to Blink, Beep, or Vibrate, then the device shall select a random integer between 0 and 10 to the power of the Authentication Size exclusive.

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-04-12 05:13] KKopyscinski commented on #29224
Last time it was tested on PTS v7.6.x. I tested it today on v8.0.2 and it passes, so indeed it was PTS issue. I'm closing the issue

[2021-04-12 05:13] #29224 closed

[2021-04-12 05:15] dastarling commented on #34209
I can write up another case, but after rechecking the AuthValue, it does not appear to be in BE format:

00> D: ConfirmationKey 19a40d5be0334b3d07593d423f19e01e
00> D: RandomDevice acca9e3dd988f4c89c5876ad3b23dfea
00> D: AuthValue 00000000000000000000000000000003

The Provisioner on an ESP32 shows:
D (14353) BLE_MESH: AuthValue 00000000000000000000000003000000

[2021-04-12 06:48] kienasv commented on #34202
@jukkar thanks for your help.

I checked with addr2line, the crash position is /nRFConnectSDK/v1.5.0/modules/hal/nordic/nrfx/drivers/src/nrfx_spi.c:254
![image](https://user-images.githubusercontent.com/82312782/114351564-fd2d4680-9b94-11eb-93da-ab40d28f6f19.png)

It happens on the SPI transfer byte process. I increased thread stack size but the problem still occur.

When I run only ethernet task,

[2021-04-12 07:03] CSparn commented on #30416
Hi,
thanks for all your help. I could finally solve it by using the native_posix app.
Greetings CSparn

[2021-04-12 07:03] #30416 closed

[2021-04-12 07:34] mengxianglinx opened #34214 "codes reference weak variable are optimized out"
**Describe the bug**
In `subsys/power/device.c`, there is a variable defined as
[code]
When define a strong version of this variable in other file, the code in this file
[code]
can't be compiled correctly, they are optimized out.

**To Reproduce**
Steps to reproduce the behavior:
1. cherry pick patch https://github.com/mengxianglinx/zephyr/commit/08864aabb1cc3570bb99cdca618e35576826af58
2. run `tw

[2021-04-12 07:50] jacoba-at commented on #31757
Please remove the stale label.

[2021-04-12 08:09] jukkar commented on #34202
This seems to be a downstream (nRFConnectSDK) issue, perhaps you could ask info from Nordic forum. @carlescufi does this sound right?

[2021-04-12 08:13] yingmingx commented on #34152
It seems that the testcase is OK, in passed on up_squared platform.  It is very likely that there is a problem with the ADSP platform. We need an expert in this field to have a look.

[2021-04-12 08:13] nordic-krch commented on #32084
Function requires getting and putting the message as described here: https://docs.zephyrproject.org/2.5.0/reference/logging/index.html#logger-backends

[2021-04-12 08:13] #32084 closed

[2021-04-12 09:00] carlescufi commented on #34206
@pjfarleyiii thanks for the interest. The windows curses package was originally developed to enable menuconfig on Windows, and a new release has been made with the latest (3.9) Python repository. While the original maintainer is no longer involved with Zephyr, I do believe that maintaining the respository's location as the reference one is within the intent of the project. So I would encourage any

[2021-04-12 09:26] MaikVermeulen commented on #32610
Any progress? I have upcoming projects that would benefit from handling intermittent connectivity.
I'm definitely willing to jump in on this! Any particulars I can get started on?

[2021-04-12 09:36] JPSELC commented on #32610
Hi @MaikVermeulen, sorry, not made much progress on this, due to other priorities. The initial challenge is to translate a message which may be in TLV format to JSON for forwarding. I think the data should only be sampled once, as a second read (for JSON format) may not return the same results. That may not be important though.

[2021-04-12 09:55] abrodkin commented on #31757
@jacoba-at just FYI we do remember about adding `-mcpu` [and probably more compiler options] to match real SoC configuration. But now we're about to submit support of ARCv3 64-bit processors (see https://www.synopsys.com/dw/ipdir.php?ds=arc-HS6x-processors) and to not add an extra turbulence in the CI and verification results (as a part of the aforementioned port we have quite some re-work of the

[2021-04-12 10:02] teijokk opened #34216 "Using nrfx_gpiote library with spi(nrf52840)"
We need to measure pulse rate very accurate. We try to use general interrupt and gpio callback but it's not accurate enough.
Nordic instucting us to use gpiote hw as interrupts. I assume that general gpio cannot be used with gpiote? Is this correct?

I get pin out and irq code working on devboard. Problem is to use spi chipselect with nrfx_gpio drivers.
overlay file:
&spi1 {
	cs-gpios = <&gpio0 24

[2021-04-12 10:53] LingaoM commented on #34209
Mesh Spec 1.0.1 Provisioning Authentication

For example, if the Authentication with Output OOB method is used with Output OOB Action as Blink and
value outputted is 5, then the AuthValue shall be 0x00000000000000000000000000000005. The
AuthValue is then encoded as defined in Section 5.1 in order to compute confirmation values, resulting in
an array consisting of [0x00, 0x00, 0x00, 0x00, 0x00, 0x0

[2021-04-12 10:59] gebauerf opened #34218 "Civetweb server crashing when trying to access invalid ressource"
**Describe the bug**
I tried to run the civetweb sample on the recommended target (Atmel SAM-E70 Xplained). Building and flashing seems to work fine. I'm using the Revision "B" of the Atmel-Chip, that i already figured out. Shortly after connecting to the webserver via browser, zephyr crashes. Before this, i flashed a bunch of basic samples without any issue.

**To Reproduce**
Steps to reproduce t

[2021-04-12 11:20] nvlsianpu commented on #34204
I think from user perspective API should return the number of bytes requested to be written for this case as well.

[2021-04-12 11:32] #34001 closed

[2021-04-12 12:13] torsteingrindvik opened #34222 "Commit related to null pointer exception detection causing UART issues"
**Describe the bug**

I have been seeing issues related to UART lately.
The current master (`8bee027ec4`) has the following problem:

* UART works right after flashing
* If the board is reset (`nrfjprog -r`), no output is shown

I have only found this to be true in `tests`, not in `samples`.
I found that the bug happens when ZTEST is used.

I have bisected the current master (bad) vs. the `v2.5.0`

[2021-04-12 12:34] jfischer-no commented on #34222
related to #33381

[2021-04-12 12:42] #33207 closed

[2021-04-12 14:27] mengxianglinx commented on #34214
before root cause, I have tried four work around:
1. change "__weak const char *const z_pm_core_devices[]" to "__weak const char *z_pm_core_devices[]"
2. define a local variable like pm_core_devices inside function pm_create_device_list() to reference z_pm_core_devices and use that variable in the function
3. add "__atrribute__(optimize(O0)) to function pm_create_device_list()
4. add configuration

[2021-04-12 14:58] Liviu112 opened #34225 "BBC micro:bit v1.5 LSM303AGR-ACCEL"
**Describe the bug**
Hi, I was trying to use the lis2dh example code in combination with BBC micro:bit v1.5 .
The code compiles without issues and can be flashed, when the board is reseted the following message is received:

![image](https://user-images.githubusercontent.com/38521446/114413033-89e00080-9ba5-11eb-9560-9968db042a5f.png)

**What have you tried to diagnose or workaround this issue?**

[2021-04-12 15:09] FRASTM commented on #34225
LSM303AGR sensor (MAGN part) is mentioned in the issue https://github.com/zephyrproject-rtos/zephyr/issues/34196

[2021-04-12 15:16] Liviu112 commented on #34225
That does not yet explain why is disabled in bbc_microbit.dts file :)

[2021-04-12 15:18] mglettig opened #34226 "Compile error when building civetweb http_server sample for posix_native"
**Describe the bug**
Using Zephyr 2.5.0 the build of civetweb http_server sample fails for the board posix_native. From the build logs it looks like an issue with conflicting types (useconds_t, pthread_t, pthread_mutexattr_t, pthread_condattr_t, ...)

**To Reproduce**
`west build -b native_posix samples/net/civetweb/http_server`

**Expected behavior**
The build should succeed.

**Impact**
For test

[2021-04-12 15:35] de-nordic opened #34227 "Use compile time resolved device bindings in flash map, when possible"
**Is your enhancement proposal related to a problem? Please describe.**
Currently the flash map API uses `device_get_binding` at run-time to obtain pointer to the `struct device` type object for the flash device it is going to operate on.
This means, that with current source code each flash operation requires obtaining binding prior to any work done.

**Describe the solution you'd like**
With new

[2021-04-12 15:35] de-nordic commented on #34227
Attempting to resolve here: https://github.com/zephyrproject-rtos/zephyr/pull/33346

[2021-04-12 15:47] #34100 closed

[2021-04-12 15:55] #34116 closed

[2021-04-12 16:04] jfischer-no commented on #34225
Because it is for [v1.5 variant of bbc:microbit](https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/bbc_microbit/bbc_microbit.dts#L78), the "default" variant v1.3 has MMA8653FC enabled.
"_See https://tech.microbit.org/hardware/i2c/ for board variants_ "
This is all in the dts file you screenshotted instead of just posting a link to the line.

[2021-04-12 16:09] albertofloyd commented on #33929
@nordic-krch let us try upgrading to that SDK version

[2021-04-12 16:16] Liviu112 commented on #34225
It didn't was clear to me at the start what was the problem. Now looking back that makes sense, also you do not have to feel offended I tried just to help.

[2021-04-12 16:16] #34225 closed

[2021-04-12 16:28] mbolivar-nordic commented on #34227
Here is a summary of my concerns as discussed in #33346.

- The `struct flash_area` members were copy/pasted straight from the mynewt operating system's HAL when they were introduced in 25269fb0ede953f70d0e4e22d220638269291abd. Every [port of MCUboot to a specific RTOS must define this structure](https://github.com/mcu-tools/mcuboot/blob/master/docs/PORTING.md#flash-map) in this way for purely his

[2021-04-12 16:54] Laczen commented on #34227
@mbolivar-nordic, correct me if I'm wrong, but doesn't flash_map api provide 2 functionalities:

a. A flash MAP that describes the flash partitions in a run-time structure,
b. Write, read and erase instructions for each of the areas in the flash MAP

Functionality a. seems only needed for a bootloader, and should be part of bootloader code,
Functionality b. is what can be found in other toolchains

[2021-04-12 18:24] bob2oneil opened #34229 "C++ Exception Support in qemu_riscv32 emulation"
I have a test application written in C++ using the qemu_riscv32 emulation.  It simply tosses and exception with a handler, which never gets called.   The real target is a RISC-V processor.  My KConfig file includes what I believe are the necessary dependencies as follows:

CONFIG_LIB_CPLUSPLUS=y
CONFIG_NEWLIB_LIBC=y
CONFIG_CPLUSPLUS=y
CONFIG_EXCEPTIONS=y
CONFIG_STD_CPP2A=y

The build script is as

[2021-04-12 18:49] Delsian commented on #34131
@jukkar Approve. My code works fine with connection port set to 0. Thanks.
Additionally, it's good to have streaming mode for TFTP client (for example, to write data to Flash)

[2021-04-12 18:52] mbolivar-nordic commented on #32224
Done in fbd34dca1e619272a6489de32e7bb4ca9e049fc3

[2021-04-12 18:52] #32224 closed

[2021-04-12 19:01] Delsian opened #34231 "uzlib (decompression library)"
## Origin

https://github.com/pfalcon/uzlib

Radically unbloated DEFLATE/zlib/gzip compression/decompression library. Can decompress any gzip/zlib data, and offers simplified compressor which produces gzip-compatible output, while requiring much less resources (and providing less compression ratio of course).

## Mode of integration

@pfalcon Please, can you add your library as additional module o

[2021-04-12 20:05] bwasim commented on #34131
I will do a pull request firstly to fix the issues described in this issue, and we can think about enhancements later.

@jukkar , I was supposed to send out a pull request for the app, but I moved away from this project fairly quickly and forgot to do so. Will also do that with this issue.

[2021-04-12 20:17] henrikbrixandersen commented on #20269
Do you have an example of a SoC with built-in opamp?

[2021-04-12 20:40] Vudentz commented on #32035
Having a callback doesn't fix this problem, in fact it would likely result in even more code because it can still cause the above errors while the callback notification is pending. Also the spec is pretty clear regarding not to attempt to exchange the MTU multiple times so it is normally expected the client do the exchange MTU in the very beginning to avoid this sort of problem, or in case of cust

[2021-04-12 20:42] Vudentz commented on #32035
[code]

[2021-04-12 20:53] pabigot commented on #34227
It is that functionality that made it the API of choice for littlefs.

[2021-04-12 23:15] lodup29 opened #34233 "OpenThread build issues"
As previously reported [here](https://github.com/zephyrproject-rtos/zephyr/issues/29567#issuecomment-717832182), a clean build appears to required for projects integrating OpenThread. Moreover, some parameters (ex. : _CONFIG_OPENTHREAD_NETWORK_NAME_) just never make it into the final build, clean or not.

Also, the parameter _CONFIG_OPENTHREAD_CUSTOM_PARAMETERS_ must be defined on top of already e

[2021-04-12 23:17] ric96 commented on #34196
@FRASTM  setting `status = "okay"` did not help in this case.

[2021-04-12 23:41] ric96 commented on #34196
nvm, it was a mix of that status flag and irq flags. I have it working now thanks, will update the pr asap.
closing

[2021-04-12 23:41] #34196 closed

[2021-04-13 00:29] #31762 closed

[2021-04-13 02:20] dastarling commented on #34209
Interesting, I see that example in the Spec, but it also indicates BE in the spec as well, and in the code it uses **sys_put_be32(num, &bt_mesh_prov_link.auth[12]);**.  It seems odd, but I'll see was Espressif says about the matter.  But either way using provisioners/nodes from different vendors does not work as expected.

[2021-04-13 03:53] lipengit opened #34234 "UART NS16550 Underflow Issue During Clearing Port"
**Describe the bug**
During UART initialization, the CPU reads the RDR register to clear the UART port, the Synopsys UART IP reports a buffer under flow error.

**To Reproduce**
We have this issue on Synopsys UART IP. Not sure if this issue can be reproduced on other UART IPs that are NS16550 compatible.

**Expected behavior**
During the UART initialization, when the CPU reads the RDR register to

[2021-04-13 04:42] coderkalyan opened #34236 "External source code integration request: Raspberry Pi Pico SDK"
## Origin

Raspberry Pi Foundation - Pico SDK
https://github.com/raspberrypi/pico-sdk

## Purpose
Register/struct definitions, runtime, and HAL for the Raspberry Pi RP2040 SoC and derivatives.

## Mode of integration

I'd like to integrate this as a module (something like modules/hal/pico-sdk). I am not completely sure about the layout yet but I think I will copy just the register and struct defin

[2021-04-13 05:28] pjfarleyiii commented on #34206
I guess my question then becomes:  What can a "just plain python user" do when an issue s/he has found in windows-curses is blocking their own work, and they do not have the skills or experience to tackle debugging code as deep and complex as curses seems to be (especially the underlying PDCurses library)?

I would personally be more than happy to make a generous donation to anyone who would do th

[2021-04-13 05:55] xiaoliang314 opened #34239 "Call settings_save_one in the system work queue, which will cause real-time performance degradation."
`settings_save_one` is a very time-consuming function, a call is usually a few hundred milliseconds to a few seconds, I think it should be preemptible. However, the function is usually called in the system work queue. Because the system work queue is not preemptive, this will cause the entire system to stagnate for a long time.

[2021-04-13 07:08] trond-snekvik commented on #34209
Hey, nice catch!
This count=0 issue is definitely a bug, I'll make a PR.
I'm not quite sure what's going on with the printed value in espressif. I just did a test, and the auth value appears to be encoded correctly in zephyr:
[code]

Espressif appears to have inherited the same blink=0 bug - it might be worth raising with them as well: https://github.com/espressif/esp-idf/blob/master/components/bt

[2021-04-13 07:10] dastarling commented on #34209
Ok, will raise with them too.  I had that issue when trying the pushbutton auth in the opposite direction, difficult to press the button 0 times :)

[2021-04-13 07:18] trond-snekvik commented on #34209
Yeah, it's a pretty corny bug :smile: PR: https://github.com/zephyrproject-rtos/zephyr/pull/34240

[2021-04-13 07:34] dastarling commented on #34209
Your fix should only affect the 3 output OOB (Blink, Beep, and Vibrate) and the 2 input OOB (Push and Twist) Otherwise you are limiting the values available for OOB Number (such as Input Numeric and Output Numeric) which are not limited from value 0 in the specification.

[2021-04-13 07:41] de-nordic commented on #34227
The advantage of the flash map API is that, using only the partition identifier, it allows to gain access to some partition on some device, hiding the details from the user and taking care of proper offsets and sizes.
The user defines everything in DTS and then just uses the identifier to collect object that and use API on that object.

Yes, this is bad design on part of mcuboot although we have a

[2021-04-13 07:51] trond-snekvik commented on #34209
Of course, yes. Updated.

[2021-04-13 08:00] teijokk commented on #34216
Ok now I think I understand what going on. If using nrfx gpioe library i can't use zephyr api anymore like spi etc. I have to use nordic spi driver directly. There is no bug here.

[2021-04-13 08:00] #34216 closed

[2021-04-13 09:12] Laczen commented on #34239
@xiaoliang314, `settings_save_one` can indeed take a long time to complete, could you add some more information about the use case (e.g. the used backend, the backend storage size, ...).

[2021-04-13 09:21] johann2 commented on #34165
An update:
The issue can be easily reproduced using the sntp_client example.
Set `CONFIG_NET_SOCKETS_POSIX_NAMES=n` and change the `inet_pton` function calls in the example to `zsock_inet_pton`
I've also updated the SDK, however it didn't affect anything.

I still don't understand why depending on POSIX api is desireable. It just makes tracking down things a lot harder. The API is not properly nam

[2021-04-13 09:39] mglettig commented on #34226
Could this be related to the following topic #13054? Is it currently not possible to use POSIX subsytem for ARCH_POSIX?

[2021-04-13 09:43] xiaoliang314 commented on #34239
@Laczen Thank you for your reply!

**Configuration**
   1. backend: FCB
   2. storage size: 8KB
   3. sector size: 4KB

[2021-04-13 09:57] Laczen commented on #34239
@xiaoliang314, could it be that your storage needs are approaching 4kB?

[2021-04-13 10:07] xiaoliang314 commented on #34239
@Laczen My storage needs are less than 1KB. But the storage frequency is faster, about once every 4 seconds.

[2021-04-13 10:17] jukkar commented on #34165
No, it is a public API. The BSD socket API calls the `zsock_` functions.

[2021-04-13 11:11] pfalcon commented on #34165
@johann2 : Good timing. I also was looking into this stuff and posted https://github.com/zephyrproject-rtos/zephyr/pull/34244.

So, the question is why do you set that? Per the current state of affairs (not how it was 5 or so years ago), if you use networking in an application (== sockets), either CONFIG_POSIX_API or CONFIG_NET_SOCKETS_POSIX_NAMES should be set. Or, you're doing something very pec

[2021-04-13 11:18] Laczen commented on #34239
@xiaoliang314, with this configuration and requirepents you should not be getting a few seconds to do a `settings_save_one`. The worst case should be when a sector erase is needed. Your storage/settings area is also not poluted with settings that are no longer needed? As a test could you erase the storage area and perform the test again?

[2021-04-13 11:27] FRASTM commented on #32771
@jonasn-ge could you please check the CONFIG_CORTEX_M_DEBUG_NULL_POINTER_EXCEPTION_DETECTION_MPU ( force setting to 'y' in the prj.conf) and run the test

[2021-04-13 11:30] armandomiguel opened #34246 "LoRa driver sending opcode of commands without parameters"
Hi all,

I'm testing the LoRa drivers included in Zephyr and through a logic analyzer I realized that the driver for the SX1261 is transmitting the opcode of the commands over SPI but without any parameters.

The image below depicts the problem when the driver sends the command with opcode 0x98 (CalibrateImage), which requires two bytes for the parameters 'freq1' & 'freq2':
![Logic Analyzer](https

[2021-04-13 11:50] xiaoliang314 commented on #34239
@Laczen Yes, it is usually not so fast in normal use. This is just one of my test cases.
I have an application. I received data from the hardware in the interrupt handler and placed it in a high-priority thread for processing. Because the work queue was doing settings_save_one, my thread did not process the data and release the buffer in time, resulting in data loss.

[2021-04-13 12:04] xiaoliang314 commented on #34239
My storage area is used after erase.

[2021-04-13 12:32] tejlmand commented on #32111
Seems to be cause by this:
https://github.com/zephyrproject-rtos/zephyr/blob/35f52fd31a65eb71238f3262281ae5bb478d027c/arch/x86/core/ia32.cmake#L6

[2021-04-13 12:47] galak commented on #34234
Fix in #34235

[2021-04-13 12:51] galak commented on #34102
@nandojve @mnkp ping.

[2021-04-13 13:02] erwango commented on #33974
Moving this to 'question' as this is reported on a SoC that is not yet supported with zephyr, w/o board supported.

@wngur300 Do you confirm the issue is till present ?

[2021-04-13 13:26] galak commented on #32839
@andyross / @FRASTM any updates on this?

[2021-04-13 13:30] armandomiguel commented on #34246
Update:
The problem could be related to the function for transmitting data over SPI (located in /drivers/lora/sx126x.c):
`static int sx126x_spi_transceive(uint8_t *req_tx, uint8_t *req_rx, size_t req_len, void *data_tx, void *data_rx, size_t data_len)`
The contents of 'req_tx' (opcode + dummy bytes for read operations) are being correctly transmitted, but the contents of 'data_tx' (command paramet

[2021-04-13 13:39] johann2 commented on #34165
In our main codebase this option was implicitly set to n as I wasn't aware it's required for SNTP. I only set it to n to reproduce this using the `sntp_client` sample.

The `zsock_*` API is in my opinion better. While not a global standard, `zsock_close` is more clear and less ambiguous than just `close`, especially for someone who hasn't done a lot of low-level unix C programming. Since the SNTP

[2021-04-13 13:59] ycsin opened #34249 "Unable to initialize on STM32F103RE + Quectel EC21 using BG9x driver"
**Describe the bug**
I'm trying the Quectel BG9x modem driver on my STM32F1 custom board with Quectel EC21 as their initialization should be the same and the offloaded TCP AT commands are the same.

I compiled the modem on `basic/blinky` example with these

`prj.conf`

[code]

`def_config`
[code]

`.dts`:
[code]

The driver initialized fine, however it seems to be stucked in a bootloop:

Log:
[cod

[2021-04-13 14:09] abrodkin commented on #33610
SDK with ARC64 support is being discussed here: https://github.com/zephyrproject-rtos/sdk-ng/pull/327

[2021-04-13 14:45] Nukersson commented on #34226
Hello and thank you for your bug description.  I think, that posix support for civetweb need to be rethinked.
The first guys, who ported civetweb, were cool dudes from Anrmicro. @PiotrZierhoffer can you provide more info on posix support within civetweb?

[2021-04-13 14:48] Nukersson commented on #34218
Hello @gebauerf and thank you for your bug description here.

Can you test any other simpler sample, which is using ethernet driver? I would first try to determine if ethernet driver works properly.

[2021-04-13 15:39] mglettig commented on #34218
Hi @Nukersson & @gebauerf

The same error can be reproduced when running the sample with qemu_x86. However on this setup it didn't crash when testing with Firefox browser. Also the sample does not crash when running a GET request with CURL. For me it looks like the problem is that strftime is not implemented (just stubed). I guess that civerweb expects to get an initialized char array when calling

[2021-04-13 15:51] Nukersson commented on #34218
Could you test it with your suggested fix?

[2021-04-13 15:57] gebauerf commented on #34218
Hi @Nukersson and thank you for your response.

I just tried the "dumb_http_server"-sample and this one worked just fine. I even connected multiple times to the webserver to ensure proper functionality.

[code]

![dumb_server](https://user-images.githubusercontent.com/81357721/114582608-07c50a00-9c81-11eb-9d01-9ace312406bf.jpg)

[2021-04-13 16:16] Nukersson commented on #34218
Okay. This is very good. I'll take a look at civetweb later.

[2021-04-13 16:24] mglettig commented on #34218
To  check if the problem is actually related to strftime I added a dummy implementation: strncpy(dst,"dummy",dst_size); in the function strftime in zephyr/samples/net/civetweb/common/src/libc_extensions.c. However the error was still there.

[2021-04-13 16:35] carlescufi commented on #34227
API meeting 2021.04.13

- Agree to remove MCUboot-specific structure members from `flash_area`
- Investigate whether it is possible to entirely deprecate the first 32-bits of `flash_area` without compromising mcuboot/mcumgr
- Depending on the outcome, revisit in order to decide

[2021-04-13 17:02] #33868 closed

[2021-04-13 17:18] carlescufi commented on #34202
This is an nRF Connect SDK issue.  Please ask the question in the Nordic Devzone instead. Thanks!

[2021-04-13 17:18] #34202 closed

[2021-04-13 17:26] galak commented on #34229
This looks to be a duplicate or related to https://github.com/zephyrproject-rtos/zephyr/issues/32448

[2021-04-13 17:30] galak commented on #34222
I think we should disable this be default.  Users keep running into this and I think their expectation of being able to debug should take precedence.

[2021-04-13 17:34] galak commented on #32252
@ioannisg can you take a look at this now that we merged the TFM 1.3.0 support.

[2021-04-13 17:36] carlescufi commented on #33641
For consistency with the rest of the meetings, closing this in favor of:
https://docs.google.com/document/d/1lv-8B5QE2m4FjBcvfqAXFIgQfW5oz6306zJ7GIZIWCk/edit#

[2021-04-13 17:36] #33641 closed

[2021-04-13 17:38] galak commented on #32816
@andyross any updates?

[2021-04-13 17:41] galak commented on #32564
Have you tried just make this a uint32_t and testing that.  That might convey if its a memory or atomic issue.

[2021-04-13 17:50] galak commented on #32261
@StefJar any updates on this.

[2021-04-13 18:19] Laczen commented on #34239
@xiaoliang314, on some devices the flash erase blocks all execution of code. It is in general not possible to make the flash erase preemtible. For code to be executable during the erase all code should be executed from ram. If you really need the high priority task to be always done you will not be able to use any flash storage that is using internal flash.

[2021-04-13 18:29] carlocaione opened #34256 "Add support for FVP in CI / SDK"
With #33905 just landed and #34252 almost there we should start thinking about adding FVP to the CI / SDK for testing the ARM platforms. Besides the technical issue I'm not sure if the licenses allow that. Anyway, opening this feature request to track this.

[2021-04-13 19:08] ioannisg commented on #32252
It's on my task list for this week.

[2021-04-13 19:38] etterli commented on #33583
@anangl Any estimation when you will have a look into this?

[2021-04-13 19:50] StefJar commented on #32261
not yet
I just started to rebuild my project from the scratch to figure out what config crashes. Means I take the 2.5.xx API + rebuild my board dts + proj conf + minimal main.c
From my debugging so far, I can say that the stack sentinel kicks in before the main thread is executed. So I guess it must be some driver ?ISR? that breaks the stack at kernel init.
I keep you posted

[2021-04-13 20:21] armandomiguel commented on #34246
Update:
In order to confirm the root of the problem, I modified the `sx126x_spi_transceive()` function in /drivers/lora/sx126x.c so that it combines 'req_tx' and 'data_tx' into a single array, which is then transmitted over SPI. Thus avoiding the use of an array of buffers (i.e. `spi_buf_set.count = 1`).
And after doing this modification, the transmission of data over SPI works properly and I'm ab

[2021-04-13 20:32] jaslob opened #34259 "Problem running code with memory domain"
I did an application in Zephyr. I initialized 2 memory domains with two or more partitions and assigned one thread to each domain. This works perfectly fine.
Now I wanted to initialize a third memory domain. The build process worked just fine but I get an error when running.
jas@ubuntu:~/zephyrproject/zephyr/project/mem_domain_shm$ west build -t run
-- west build: running target run
[0/1] To exit

[2021-04-13 22:17] galak commented on #34249
@bwasim can you help with this.

[2021-04-13 22:29] #32457 closed

[2021-04-13 23:58] mnkp commented on #34102
I don't have SAM0 hardware to test it, SAM and SAM0 families are quite different. I looked at the `uart_sam0.c` driver code however and it seems like it should be one of those easy cases where the change could be done with #33924 from @pabigot.

[2021-04-14 00:16] nashif commented on #33799
closed in coverity

[2021-04-14 00:30] erikarn commented on #21538
For hardware that has Interrupts + FIFOs for TX/RX phase, it'd be nice to have asynchronous i2c stuff to manage multiple busses.

Right now everything seems to stop in the thread whilst the i2c work is going on, where I'd instead like to be doing other async work like USB and servicing/initiating other i2c transactions.

[2021-04-14 01:08] PiotrZierhoffer commented on #34226
I must say it's been a while, and the civetweb module got pulled in during a very heated discussion on the POSIX APIs. I'm not very familiar with the current state of affairs in this topic.

If what @mglettig mentions still holds, then it is definitely a relevant problem. And it does seem so from your log:

[code]

So Civetweb relies on the POSIX_API, and I'm not aware if there is any "switch" tha

[2021-04-14 01:41] bwasim commented on #34249
The stack trace in your screenshot shows Zephyr Native Networking function calls, which isn't needed when you're using an offloaded driver like quectel-bg9x. So as a first pass, can you please update your configuration to include these options:
[code]
This doesn't directly fix whatever problem you're seeing, but tries to bypass it as you don't need native networking stack. Should help resolve the

[2021-04-14 01:47] ycsin commented on #34249
I'm building this now

[2021-04-14 02:01] #34249 closed

[2021-04-14 02:48] Berte-Yu opened #34262 "Unable to find detailed documentation on pinmux driver development"
I‘m porting zephyr to a new soc(cortex-m3),

When developing the pinmux driver, the detailed documentation cannot be found..

[2021-04-14 02:49] xiaoliang314 commented on #34239
@Laczen Usually, the time for a flash erase or write is not very long, about 2-8ms. The time consumed by `settings_save_one` is generally a few hundred milliseconds or a few seconds. I have browsed the code of the settings subsystem, `settings_save_one` spends most of the time on the lookup flash.

I think calling "settings_save_one" in the system work queue caused this issue because it cannot be

[2021-04-14 03:00] jenmwms commented on #28551
Noticed a couple things when I was looking at this alongside the tests for `DEVICE_MMIO_NAMED_*` macros (tests/kernel/device/src/mmio.c). Using those as example implementations, I'm considering:
- We appear to get valid MMIO addresses. So why does the calculation of `pad_base` have incorrect result (0xffffffff) for the first few iterations of early driver initialization, and then flip flop between

[2021-04-14 05:22] Laczen commented on #34239
@xiaoliang314, yes during `settings_save_one` all your data is read to avoid rewriting the same data twice. However your storage size is so small (and reads are so fast) that I concluded the reads could not be the problem.

[2021-04-14 05:47] #33969 closed

[2021-04-14 05:54] xiaoliang314 commented on #34239
@Laczen I halt the CPU, I see it is doing `settings_fcb_compress` most of the time.

[2021-04-14 06:07] Laczen commented on #34239
Ok, this means it is erasing sectors. You are going through the flash life fast, be carefull. Do you have the possibility to increase the number of sectors?

[2021-04-14 07:11] ioannisg commented on #32252
Submitted a PR that addresses the issue.

[2021-04-14 07:35] PerMac opened #34264 "CI: twister: Add merged report from all sub-builds to buildkite build artifacts"
**Is your enhancement proposal related to a problem? Please describe.**
If one wants to check the status of some particular test run in the CI, they will have to check individual reports/artifacts from sub-builds (there are 20 of them). It would be more convenient to be able to have access to a single report with all the results

**Describe the solution you'd like**
After all sub-builds are execut

[2021-04-14 07:58] FRASTM commented on #33140
I made a test on nucleo_h723zg :  but I cannot reproduce the issue (when commenting the loop at _Check if 256 bits location is erased_)
[code]

[2021-04-14 08:03] ergo70 opened #34265 "BME280 Pressure calculation"
case SENSOR_CHAN_PRESS:
		/*
		 * data->comp_press has 24 integer bits and 8
		 * fractional.  Output value of 24674867 represents
		 * 24674867/256 = 96386.2 Pa = 963.862 hPa
		 */
		val->val1 = (data->comp_press >> 8) / 1000U;
		val->val2 = (data->comp_press >> 8) % 1000 * 1000U +
			(((data->comp_press & 0xff) * 1000U) >> 8);
		break;

Gives 102 for val1 and 0.3 for val2 if the pressure is actu

[2021-04-14 08:04] bwasim commented on #34249
Great, I would like to get some feedback on how well this driver works with the EC21 modem. When I initially wrote it, I primarily looked only at the BG95 guide, but found that the BG96 TCP commands are the same. Hence named the driver, "quectel-bg9x".

I haven't looked at the EC21 guides, but if it works well (even with minor modifications), we may want to incorporate those changes in this driver

[2021-04-14 08:16] jfischer-no commented on #34265
kPA is taken as a basis here, see https://github.com/zephyrproject-rtos/zephyr/blob/master/include/drivers/sensor.h#L82
102300 Pa = 102,3 kPa

[2021-04-14 08:58] Verfuchst opened #34268 "Bluetooth: Mesh: Sample is stuck in init process on disco_l475_iot"
**Describe the bug**
I was trying to test the mesh sample `${ZEPHYR_BASE}/samples/bluetooth/mesh/`. After i build and flashed it on my board, it was working first by pressing the userbutton and turn off/on the led. After i rebuild and flashed it again on the board, without making changes, it stucks in the init flash process.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto

[2021-04-14 09:01] FRASTM commented on #31290
In that case where all `st,prescaler = <0>;` what is the benefit to have a default value ?

[2021-04-14 09:08] ergo70 commented on #34265
OK, thank you.

[2021-04-14 09:20] FRASTM commented on #31290
Should this be extended to all the PWM prescaler : stm32f1, stm32f0 , stm32f3, stm32f4, stm32f7, stm32g4 , stm32h7, stm32l4, stm32wb  soc devices which still have  `st,prescaler = <10000>; `

[2021-04-14 09:23] #34265 closed

[2021-04-14 09:45] carlescufi commented on #34134
@erwango did you use MCUboot? Because this is the issue here.

[2021-04-14 09:46] erwango commented on #31290
Point is to define default value to 0 in soc.dtsi files, which can be then be configured later on at board/application level.
But having st,prescaler = <1000>; set as default is confusing for users. Specially because this is done arbitrarily in soc.dtsi depending on the timer instances.

This is indeed the request.
Though, please note that this can't be done simply in a PR. There are users for the

[2021-04-14 09:47] erwango commented on #34134
@carlescuffi This was an observation vs following message:

[2021-04-14 09:49] Laczen commented on #34239
@xiaoliang314, could you share exactly what you are saving (size and name), how frequent, from what you reported you are doing fcb_compress each time you are doing a save. This is not normal.

[2021-04-14 10:00] hongshui3000 opened #34269 "LOG_MODE_MINIMAL BUILD error"
**Describe the bug**
[code]
Can not build successfully when CONFIG_DEBUG is enabled, and can build successfully when CONFIG_DEBUG=n
I found out when I was building mcuboot, its default configuration CONFIG_DEBUG=y
LOG:
[code]

[2021-04-14 10:04] RenierVDWBluerain opened #34270 "NVS read after consecutive restarts."
**Describe the bug**
I'm using NRF52840 dongle and are trying to get NVS flash to work. I've followed the examples on my custom code but are experiencing the following issue. When NVS write are completed in a button press interrupt I restart the board. On bootup NVS_read only reads the data successfully after the first restart. For consecutive restarts NVS_read no longer reads any data. Is this no

[2021-04-14 10:14] xiaoliang314 commented on #34239
@Laczen
name: "bt/mesh/RPL/%x",  (%x is 0x0001 ~ 0x7FFF)
size: 4
frequent: 4 ~ 8 second

[2021-04-14 10:20] Laczen commented on #34239
@xiaoliang314, this is writing data with a new name every time, if this data is never deleted, storage is full and each time a call to settings_save is done a trial is made (unsuccesfully) to create space for the new data.

[2021-04-14 10:25] xiaoliang314 commented on #34239
@Laczen This is part of bluetooth mesh.
https://github.com/zephyrproject-rtos/zephyr/blob/b6217e1bec999c8133a21c34701d4bf0d3536099/subsys/bluetooth/mesh/rpl.c#L251-L271

[2021-04-14 11:06] Laczen commented on #34239
Yes, but the entry->src is not expected to have so many values.

[2021-04-14 11:07] #34103 closed

[2021-04-14 11:09] ycsin commented on #34249
Hey @bwasim , I'm still working on the driver, been stuck for quite a few hours.

I've checked the TCP/IP AT commands of BG96 & EC21 and they are identical. Then I try to run the `mqtt_publisher` example, but it doesn't work.

![image](https://user-images.githubusercontent.com/1563974/114700143-b89bd980-9d53-11eb-8941-a33567898956.png)

I traced a bit and found that it connected with my MQTT broke

[2021-04-14 11:25] PerMac opened #34272 "twister: Add memory footprint info to json report"
**Is your enhancement proposal related to a problem? Please describe.**
Our customers decide which platform to use for their needs based on (among other criteria) the table where each available sample is marked if it will fit or not on each board based on the sample's ram/rom usage. Maintaining such table will be easier if this information could be easily posessed with a single run of twister

**D

[2021-04-14 11:54] ycsin opened #34273 "mqtt_publisher: Unable to connect properly on EC21 modem with bg9x driver"
**Describe the bug**
I'm working on to port the bg9x driver for EC21. I've checked the TCP/IP AT commands of BG96 & EC21 and they are identical. I tried to run the `mqtt_publisher` example, but it doesn't work.

![image](https://user-images.githubusercontent.com/1563974/114700143-b89bd980-9d53-11eb-8941-a33567898956.png)

I traced a bit and found that it connected with my MQTT broker, but disconne

[2021-04-14 11:54] ycsin commented on #34273
@bwasim May I have you input please?

[2021-04-14 12:12] MarekPieta opened #34275 "drivers: led_pwm: Improper label assignment"
**Describe the bug**
led_pwm driver uses label property assigned directly to the node that is compatible with "pwm-leds". The dts binding assumes that the label is assigned to its child node. Because of that the driver ignores the assigned label and it always uses the default one.

I think that the label should be assigned directly to the node that is compatible with "pwm-leds" (this node could be

[2021-04-14 12:34] PerMac commented on #34272
It looks like such feature is already implemented (json report can have rom and ram fields) but I cannot make it to work yet.

[2021-04-14 12:44] ycsin commented on #33998
I'd love to try it, but how should I use the pin from dts without dts binding file?

[2021-04-14 13:08] nordic-krch commented on #27415
I would like to keep single thread support in zephyr. I started to work towards it (see #34279).

[2021-04-14 13:10] MaikVermeulen commented on #32610
@JPSELC Forgive me, but I don't yet understand why TLV would have to be translated to JSON. Shouldn't we just store all notifications if the device is offline / keep confirmable notifications until acknowledged? Can't those messages can remain in memory as-is?

[2021-04-14 13:40] ycsin commented on #34273
Okay I think the `sock->is_waiting` is always false because the driver works on a polling basis?

[2021-04-14 13:40] thanhduongvs opened #34280 "Add USB to LPCXpresso55S69 board"
How to adding usb hid to device tree?

[2021-04-14 13:47] jfischer-no commented on #34280
There is no USB device controller support for LPCXpresso55S69 in Zephyr.
It is not necessary to add "usb hid" to any tree.

[2021-04-14 13:47] #34280 closed

[2021-04-14 13:47] ycsin commented on #34273
I'm guessing there's some issue with the `modem_socket_poll` and `modem_socket_data_ready`, particularly some synchronization issue with the `&cfg->sem_poll`.

[2021-04-14 13:50] yurvyn opened #34282 "HAL Module Request: hal_telink"
## Origin

Zephyr HAL Telink project.
Sources to be added:
http://wiki.telink-semi.cn/tools_and_sdk/Driver/hal_telink.zip

## Purpose

This software provides Hardware Abstraction Layer drivers support for Telink TLSR9 family SoCs.

## Mode of integration

Please integrate this project as a module according to the generic Zephyr HAL modules structure.

## Pull Request

N/A (new project)

## Descrip

[2021-04-14 13:56] JPSELC commented on #32610
The key issue is the time information is lost, because when you are sending stored notifications, the time of receipt by the server is not relevant.
The json format requires a timestamp
See https://github.com/eclipse/leshan/issues/595
See also OMA-TS-LightweightM2M-V1_0-20170208-A p56

[2021-04-14 14:12] galak commented on #34229
Going to close this and lets use #32448 for discussion.

[2021-04-14 14:12] #34229 closed

[2021-04-14 14:15] galak commented on #32448
Seeing this issue on qemu_riscv32 as well.

@bob2oneil / @r2r0 can you guys look at working up a proper testcase for this.  It seems like extending tests/application_development/cpp to have a test for catch/throw would be ideal.

[2021-04-14 14:21] cfriedt commented on #18554
A while ago I started looking at taking the conventional route to support std::thread, std::mutex, and std::condition_variable (basically wrapping all of it around pthread using gthr.h). Would involve minor modifications to the toolchain. Wrapping pthread requires pthread_create to accept a NULL attr, which requires dynamically allocated thread stacks, ..., dynamic kobject, heap allocator modifica

[2021-04-14 14:22] #32098 closed

[2021-04-14 14:41] rlubos commented on #34197
I've submitted a fix in https://github.com/zephyrproject-rtos/zephyr/pull/34284, @madscientist159 please have a look.

[2021-04-14 14:52] FRASTM commented on #32839
I set the flash latency for the stm32g0 and then is the test passed with nucleo_g071 board

[2021-04-14 14:53] galak commented on #32448
So there are a few things to get this working.  I've debugged this some and got a hackish working solution.  I'll try to figure out how to post that somewhere:

* Get a proper testcase for this functionality
* We need to pull in crtbegin.o and crtend.o when we link.  These have various code bits we need for the C++ exception handling for these platforms.  @tejlmand to hopefully help with this.
* C

[2021-04-14 14:56] sarthsmart commented on #31290
@erwango @FRASTM So for now submitting PR for [#2](https://github.com/STM32-OSF/zephyr/issues/2), what `st,prescaler` value should I go with?

Already the values that are used from the reference of SOC series.

[2021-04-14 14:58] FRASTM commented on #32839
in the drivers/clock_control/clock_stm32_ll_common.c, at the end of the  stm32_clock_control_init function :
[code]

[2021-04-14 15:20] galak commented on #32448
Here's my working tree for that
https://github.com/galak/zephyr/tree/cpp-exception

It in theory this works for x86 and riscv32/64

[2021-04-14 15:27] gebauerf commented on #34218
Update:
I tried to debug the civetweb-sample to evaluate the point zephyr crashes. Maybe the call-stack helps to find the issue.

![debug](https://user-images.githubusercontent.com/81357721/114734993-0e1cba00-9d45-11eb-804c-1085f74cc220.jpg)

After trying to connect to the webserver with several browsers, its interesting that zephyr does not crash when connecting to it with curl. After the webserv

[2021-04-14 15:53] carlescufi commented on #34231
@Delsian could you please fill out the whole template instead of just a small part of it?

[2021-04-14 16:21] #34091 closed

[2021-04-14 18:08] laurenmurphyx64 opened #34295 "TensorFlow Lite Micro Module"
## Pull Request

PR #34057

## Origin

[TensorFlow](https://github.com/tensorflow/tensorflow)

## Purpose

[TensorFlow](https://www.tensorflow.org/) is an end-to-end open-source platform for machine learning that includes many tools and libraries. With support for the [TensorFlow Lite for Microcontrollers](https://www.tensorflow.org/lite/microcontrollers) C/C++ library, Zephyr apps will be able to

[2021-04-14 18:16] Delsian commented on #34231
I hope @pfalcon, as one of Zephyr code owners, can make better decisions about his library integration?

[2021-04-14 19:04] jenmwms commented on #34234
Can the title be slightly modified to describe the issue? Maybe add 'underflow issue' or 'does not fully clear the port'?

[2021-04-14 19:36] #33839 closed

[2021-04-14 22:59] jenmwms commented on #33544
Hi @andyross ! Did you get a chance to look at this test case failing, fixed by moving the printk?

[2021-04-14 23:26] jenmwms commented on #33545
Noting that this is still an issue. This one is not simple to bisect based on last known working point in history, unknown when that was so moving forward with debug otherwise.

[2021-04-15 00:39] galak commented on #34282
Please fill out the full form for a new external source repo:

https://github.com/zephyrproject-rtos/zephyr/issues/new?assignees=&labels=TSC&template=ext-source.md&title=

[2021-04-15 00:45] mnkp opened #34303 "I2S API should support hardware that is enforcing specific physical width of the RX/TX data samples"
During the development of the I2S driver for NXP LPC devices #32054 it was identified that the design of I2S API does not match well hardware limitations imposed by the platform.

When the user sends data to the I2S driver they are placed in one large buffer and passed to the driver via `i2s_write` system call. So far the I2S API assumed that the data are always packed in an optimum way. E.g. an 8

[2021-04-15 00:52] mnkp commented on #34303
I checked the ALSA API but couldn't find anything that would allow to specify physical width of the data sample. Something that snd_pcm_format_physical_width() would return.

That said, the PCM format specification states

Enumerator | Description
-- | --
SND_PCM_FORMAT_S8 | Signed 8 bit
SND_PCM_FORMAT_S24_LE | Signed 24 bit Little Endian using low three bytes in 32-bit word
SND_PCM_FORMAT_S24_3LE

[2021-04-15 02:08] KangJianX opened #34304 "intel_adsp_cavs15: run tests/kernel/queue/ failed on ADSP"
**Describe the bug**
run this testcase failed on ADSP

**To Reproduce**
Steps to reproduce the behavior:
twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/smp/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/zephyrproject/modules/audio/sof/zephyr

[2021-04-15 03:06] YanzhouYu commented on #32111
hi @tejlmand

I reproduced the error on qemu_x86 board in zephyr like below:
<img width="945" alt="llvm-error" src="https://user-images.githubusercontent.com/28034913/114807455-073f8700-9dd9-11eb-82a9-8dd92c558150.png">

But I installed the old version of clang for my windows 10: https://releases.llvm.org/3.7.0/LLVM-3.7.0-win64.exe
It has the 'Target: x86_64-w64-windows-gnu'.
Also, tried to build

[2021-04-15 05:01] Laczen commented on #34270
@RenierVDWBluerain, thanks for creating the issue.

The behavior you are describing should not happen. Could you give some more detail on how this exactly happens (code, platform, ....).

[2021-04-15 05:05] thulithwilfred opened #34305 "Shell [modem send] command causes shell to hang after about 10 seconds, Sara R4 - Particle Boron"
**Describe the bug**
When using the modem shell command to interact with a ublox sara-r4 (Particle Boron Device), the command will function initially once the application has booted. However, if the modem send command has not been used for apx 10s from either application boot time or the last time a modem send command was send, and then a modem command is sent (after 10s of no modem send commands)

[2021-04-15 05:42] jonasn-ge commented on #32771
@FRASTM I have run with current Zephyr master (zephyr-v2.5.0-2255-g0dc7b9ee46), patched to disable auto-negotiation in eth_stm32_hal.c. The behaviour is the same as I've seen before when I start filling the network with traffic ("ping 10.10.10.255 -i 0.005 -A" from a Busybox shell work well for me).

With CONFIG_ASSERT=y:
[code]

With CONFIG_CORTEX_M_DEBUG_NULL_POINTER_EXCEPTION_DETECTION_MPU=y in

[2021-04-15 06:07] gebauerf commented on #34218
Another update:
Thanks to @mglettig, i partially solved the issue. When connecting to the webserver via browser, there's a GET request for an unimplemented resource called "favicon.ico". When this request is blocked in the developer-options of the browser, zephyr does not crash!

![favicon_block](https://user-images.githubusercontent.com/81357721/114820935-16660b00-9dc0-11eb-9c06-183d7e701b9c.jpg)

[2021-04-15 07:14] pfalcon commented on #34231
@Delsian: Glad that you find uzlib useful! uzlib is a simple, minimalist, os-, hardware-, and vendor- independent zlib compression/decompression library, which can easily integrate with Zephyr or any other system. uzlib needs more work in the areas of testsuite and finishing the API. I definitely would be interested to work in those areas (otherwise the work on uzlib was done in my own free time,

[2021-04-15 08:59] IRISZZW commented on #31299
I have checked our daily CI, this test can run successful for a long time.
One day, it’s like a miracle, it disappeared..

[code]

@abrodkin  May we closed this issue?

[2021-04-15 09:27] YanzhouYu commented on #32111
Tried with following process:

Modified in zephyr/cmake/compiler/clang/target.cmake #60:
  # This libgcc code is partially duplicated in compiler/*/target.cmake
  execute_process(
#    COMMAND ${CMAKE_C_COMPILER} ${TOOLCHAIN_C_FLAGS} --print-libgcc-file-name
    COMMAND i486-elf-gcc --print-libgcc-file-name
    OUTPUT_VARIABLE LIBGCC_FILE_NAME
    OUTPUT_STRIP_TRAILING_WHITESPACE
    )

And added

[2021-04-15 09:34] jfischer-no commented on #34096
Also #33355 fixes this issue

[2021-04-15 09:39] yurvyn commented on #34282
Done, please review.

[2021-04-15 09:48] abrodkin commented on #31299
Sure, let's close this one. If we start seeing it agin we'll re-open it.

[2021-04-15 09:48] #31299 closed

[2021-04-15 09:50] armandomiguel opened #34308 "SPI transceive function only transmitting first tx_buffer on Sifive's MCU"
**Describe the bug**
The `spi_transceive` function only transmits/receives the first buffer in `spi_buf_set tx`.

I used the following code for creating and transmitting two SPI buffers using the SPI drivers for SiFive's MCUs (on a HiFive1 Rev. B board). This code should transmits two tx_buffers, each with two bytes of data, i.e. 4 bytes in total.
[code]

The used project configuration is as follo

[2021-04-15 10:15] JPSELC commented on #32610
I appreciate 1.0.2 spec is the latest : OMA-TS-LightweightM2M-V1_0_2-20180209-A.pdf
but nothing changed with regard to notification storing etc.

[2021-04-15 10:18] moncef-bibani opened #34309 "unable to connect to azure iot hub via mqtt protocol"
**Describe the bug**
I am trying to connect the nucleo-f429zi using the wifi shield esp-01 to my azure-iot-hub. The samples project is here: https://docs.zephyrproject.org/latest/samples/net/cloud/mqtt_azure/README.html
i created an iot-hub and i added a device. The sample project requires these parameters:

- Username: {iothubhostname}/{device_id}/?api-version=2018-06-30
- Device ID
- SaS token.

[2021-04-15 10:25] #33978 closed

[2021-04-15 11:03] carlescufi commented on #34282
[code]

I am sorry, but this clause violates the [OSI open source definition](https://opensource.org/osd), which means that this is not an OSI-approved license. This makes it impossible to be integrated with upstream zephyr, as described [here](https://docs.zephyrproject.org/latest/contribute/external.html#software-license). The only viable pahs forward for you are:

- Integrate this in your own p

[2021-04-15 11:06] armandomiguel commented on #34308
Update:
In order to confirm the root of the issue, I modified the function `spi_sifive_transceive` (in a very simplistic way) for updating the context of transmission and reception. For that, I replaced the line `spi_sifive_xfer(dev, hw_cs_control);` with this piece of code:
[code]
With such a modification, the amount of buffers is taken into consideration and the first rx_buffer is going to recei

[2021-04-15 11:38] nvlsianpu commented on #34204
Will response to this in a patch.

[2021-04-15 11:45] #32912 closed

[2021-04-15 12:16] #27032 closed

[2021-04-15 12:21] yurvyn commented on #34282
Thanks for the info.
Let's keep this ticket open and I will came back with updates as soon as possible.

[2021-04-15 12:50] carlescufi commented on #34282
@yurvyn sounds good. Thanks.

[2021-04-15 12:52] yurvyn commented on #34282
In case if Telink relicense this HAL (to eg. 3-clause BSD), it still contains "libB91.a" library.
Is the library usage acceptable?

[2021-04-15 13:09] carlescufi commented on #34282
Zephyr doesn't currently accept precompiled binaries directly, but you can check with @sylvioalves how Espressif solved this problem for the ESP32 platform.

[2021-04-15 13:24] mglettig commented on #34218
Hi @Nukersson & @gebauerf

I tested with the latest version of [zephyrproject-rtos/civetweb](https://github.com/zephyrproject-rtos/civetweb) (revision 73fd993ec8e4f922c04a313904f51099aa1cf539 ) and with master of [civetweb/civetweb](https://github.com/civetweb/civetweb) (revision 4aee4ea66135f000f3f7c11f35192328d4466005). All versions behaved the same.

If I return early (before the call to send_n

[2021-04-15 13:25] aelsam opened #34315 "BMI270 configuration file sending to I2C seems to be not handling the last part of the configuration properly."
**Describe the bug**
The BMI270 driver's initiation code is not sending to the I2C sensor the same way as the Bosch code sample.  The BMI270_WR_LEN is written in regardless of the configuration size.    The bosch code handles this with a remaining value.  And not send off data pass the config_file max length.

**To Reproduce**
Check the write_config_file function in bmi270.c

**Expected behavior**

[2021-04-15 13:34] yurvyn commented on #34282
As I see, "libhal.a" library is directly linked in "hal_espressif/components/xtensa/CMakeLists.txt".
It is the same what I am doing in "hal_telink/B91_Driver_v1.5.0/CMakeLists.txt" (libB91.a).

So, maybe, precompiled binaries are allowed for vendors HALs.
@sylvioalves am I right?

[2021-04-15 13:34] Laczen commented on #34204
@nvlsianpu, I don't think a patch is needed. It should be possible for a user to distinguish between a real write to flash and a trial to rewrite. If a documentation update is required i leave up to you.

[2021-04-15 13:46] carlescufi commented on #34282
They are not allowed in a repository hosted by the zephyrproject-rtos GitHub organization, so you will need to pull them in via  a command or a Git submodule.

[2021-04-15 13:51] jukkar commented on #34273
@rlubos any ideas for the MQTT issue?

[2021-04-15 13:57] chyu313 commented on #32564
Changing type of net_buf ref form uint8_t to atomic_t finally did not prevent my system from crashing, so I did not try uint32_t.

The zephyr master branch solves some race condition problems after v2.5 release, so I changed to use master branch code. The system crashed with ARM hard fault as following:
[code]
The faulting instruction address locates to a non-text area, it seems to be a stack prob

[2021-04-15 14:09] jfischer-no commented on #34315
@BoschSensortec :arrow_up: FYI

[2021-04-15 14:13] sylvioalves commented on #34282
@yurvyn, yes, the binary is linked in the CMakeLists but the file itself cannot be hosted by the zephyrproject-rtos.
The proposed solutions are by the maintainers are:

1. Put the binaries in a submodule that is linked into your `hal module` repo. Then, on `west.yml`, you add the `submodules: true` so that it can be pulled by `west update` automatically.
2. Create a west command that resides in `h

[2021-04-15 14:15] carlescufi commented on #34282
Thanks @sylvioalves. Could you describe what option Espressif took and where this is implemented, for @yurvyn's information?

[2021-04-15 14:19] EarthLord commented on #23165
I had the same issue after a fresh install and solved it by `pip3 install numpy pyelftools`

[2021-04-15 14:19] rlubos commented on #34273
Well it's really likely there's some issue with `modem_socket_poll`, at least that's what the application log would suggest. If you look at the implementation of the `try_to_connect()` function in the sample:
https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/net/mqtt_publisher/src/main.c#L364
the application will:
1. `mqtt_connect()`: Create a socket and send the `CONNECT` message t

[2021-04-15 14:45] bwasim commented on #34273
`modem_socket_poll` would fail if the quectel-bg9x zephyr driver (or the quectel modem) didn't receive data or failed to report data reception.

[2021-04-15 14:57] ioannisg commented on #33667
This seems to fail also for nrf9160dk_nrf9160ns, in the same way (@PerMac confirm?)

[2021-04-15 15:19] #34234 closed

[2021-04-15 15:22] ioannisg commented on #34007
That's a false positive - as the ASSERT statement above will catch the case if i becomes negative. Somehow we need to tell coverity that ASSERTS are ON, on tests. I'll "fix" this in the code, anyways...

[2021-04-15 15:27] jukkar commented on #34309
The -116 errno is ETIMEDOUT, so the connection cannot be established. Difficult to know what is going on, there are lot of moving parts involved when setting the Azure configuration parameters etc. I do not have Azure credentials to try this.

[2021-04-15 15:36] jukkar commented on #34309
BTW, the current timeout (from your screenshot) seems to be 3 sec. Could you try to increase it as I remember seeing some complaints that the cloud connection establishment can take a long time.

[2021-04-15 15:39] ioannisg commented on #33667
@anangl did you have a chance to pick this bug investigation?

[2021-04-15 15:39] moncef-bibani commented on #34309
i tried again with esp-01. i could connect the nucleo to my wifi. But this time, i get another error. see picture below:
![azure-error-wifi](https://user-images.githubusercontent.com/82579384/114897449-89e43880-9e11-11eb-902a-d4c2032a26c4.png)

[2021-04-15 15:40] ycsin commented on #34273
@rlubos I might have edited the timeout to 10 seconds, can't remember, experimented with a few things.

I did put breakpoints to two of these functions, but if I put break point to both of them, then only `modem_socket_poll` runs, `modem_socket_data_ready` likely can't run as when the packet comes in and the CPU is halted?

If I only breakpoint at `modem_socket_data_ready`, then I remember everyti

[2021-04-15 15:41] moncef-bibani commented on #34309
i skiped the field for the ip-address because it is not mandatory for this sample. But i got another error. thank you for your Response.

[2021-04-15 15:43] ycsin commented on #34273
It did report data reception
[code]
and the AT commands shows that it received something
[code]
I read that you tested this driver with mqtt pub/sub, did you try the `mqtt_publisher` sample or something else?

[2021-04-15 15:55] jfischer-no commented on #34098
fixed by #33390

[2021-04-15 15:55] #34098 closed

[2021-04-15 15:55] anangl commented on #33667
The problem is that this loop: https://github.com/zephyrproject-rtos/zephyr/blob/28a730901724ff71d8d1b5eb7cc73d30e132c539/tests/kernel/timer/timer_api/src/main.c#L757-L761 has no chance to finish because the execution of `rem_ticks = k_timer_remaining_ticks(&remain_timer);` always takes more than one tick (for the non-secure image; for the secure one, it is a bit shorter, so the test passes).

[2021-04-15 16:05] bwasim commented on #34273
You're receiving a URC indicating that the modem has received data for socket 0. Once this is done, the `modem_socket_poll` should unblock (with success) and your application would trigger a read from the modem. This will eventually call up `on_cmd_sockread_common` in quectel-bg9x.c which performs the actual read from zephyr. Seems that that's not happening.

Can you debug your main application (m

[2021-04-15 16:29] #34092 closed

[2021-04-15 20:32] jenmwms commented on #33275
I found that the runtime statistics are gotten using the default kernel timer when using `CONFIG_THREAD_RUNTIME_STATS`. But
 some architectures, SoCs or boards have timers with higher resolution available via timing functions. Using these timers can be enabled with this instead `CONFIG_THREAD_RUNTIME_STATS_USE_TIMING_FUNCTIONS`. I thought that might be the case for EHL, but had no impact when I ch

[2021-04-16 02:27] ghlualven opened #34324 "RTT is not working on STM32"
**Describe the bug**
I would like to use logging RTT backend with Segger RTTViwer but it does not work. My Segger J-Link is not able to find the RTT control block. Using the same setup with another board (nRF52840dk) does work without any problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Blinky sample as the base
2. use the following prj.conf
[code]

3. add LOG_xxx in main loop
[c

[2021-04-16 02:51] thulithwilfred commented on #34305
@mike-scott I've noticed that you have worked on this driver a fair bit, i was wondering if you had any ideas?

Thanks!

[2021-04-16 03:04] albertofloyd opened #34325 "hal: microchip: Missing Wake bit definitions"
**Describe the bug**
None of the wake event (GIRQ21 and GIRQ22) are exposed in the HAL

KSC_INT, SMB-I2C _WAKE_ONLY, ESPI_WAKE_ONLY, PS2_0A_WK, etc

**Expected behavior**
Bit definitions to be added in HAL.

**Impact**
Magic numbers to be used inside SoC power module making this error prone or relying in old documentation.

[2021-04-16 05:48] thulithwilfred commented on #34305
UPDATE:
Okay so if the init sequence makes it past AT+CTREG, this no longer happens. I have confirmed this by using a SIM.

Sorry for the bother!

[2021-04-16 06:01] yurvyn commented on #34282
The "libhal.a" file is directly included in [hal_espressif](https://github.com/zephyrproject-rtos/hal_espressif/blob/zephyr/components/xtensa/esp32/libhal.a), it is not like git submodule.

I will try to resolve mentioned issues for hal_telink and will come back once I have updates.
Thanks for the support.

[2021-04-16 06:47] ycsin commented on #34273
`wait()` returned 0, the `if (nfds > 0)` in `wait()` is not true, so it just returned the `int ret = 0`

[2021-04-16 06:58] ycsin commented on #34273
@rlubos
[code]

Looks like something is wrong after it got the sem, I need to add more log to see what's going on better

[2021-04-16 07:03] ycsin commented on #34273
The `wait()` returned 0 as `z_sock_poll()` returned 0, and because of that `mqtt_input()` didn't run

[2021-04-16 07:56] erwango commented on #33140
@weinholtendian I'm mivong this issue to enhancement as I don't see the reported behavior as a bug, though I agree that behavior could (/should) be improved.
Can you push [your proposal](https://github.com/endiantechnologies/zephyr/commit/d541116eeb66e4eb5cd92f457fab454e256e86c1) as a PR and we'l perform a review so it can be integrated.

[2021-04-16 08:02] erwango commented on #32789
To sum up the question: Could USB_DFU be supported w/o MPU support ?

@jfischer-no any insight ?

[2021-04-16 08:15] erwango commented on #31959
For specific questions on controller behavior with clocks variations, please ask directly to WB support teams ([here](https://github.com/STMicroelectronics/STM32CubeWB) for instance).

For the ability to select clocks in Zephyr, we'll work on enhancing the current code in current release.
I'm moving this from 'bug' to 'enhancement' to reflect new status.

[2021-04-16 08:33] ycsin commented on #34273
Log:
[code]

I think the problem is here:
[code]

Somehow the packet size is always 0, therefore `modem_socket_poll` always returns 0

[2021-04-16 08:39] jfischer-no commented on #32789
Yes. But I do not have an overview of what MPU_ALLOW_FLASH_WRITE has for hidden effects.
I guess `select MPU_ALLOW_FLASH_WRITE if ARM_MPU` or `imply MPU_ALLOW_FLASH_WRITE` could resolve this issue.

[code]

[2021-04-16 09:02] MaikVermeulen opened #34329 "lwm2m: pmin and pmax attributes should be optional"
**Describe the bug**
According to the [LwM2M spec](http://www.openmobilealliance.org/release/lightweightm2m/V1_0-20170208-A/OMA-TS-LightweightM2M-V1_0-20170208-A.pdf), pdf page 18, `pmin` and `pmax` should be optional. However, [currently these are always used in the LwM2M stack engine](https://github.com/zephyrproject-rtos/zephyr/blob/188cb2cb7c44148849889670bedfb3a2e259ad3c/subsys/net/lib/lwm2m/

[2021-04-16 09:05] erwango commented on #34268
@Verfuchst Did you make any specific modification before reflashing ?
I has a try on my side and it worked fine...

[2021-04-16 09:14] erwango commented on #32789
I guess select MPU_ALLOW_FLASH_WRITE if ARM_MPU or imply MPU_ALLOW_FLASH_WRITE could resolve this issue.

Great. @ycsin  Can you have a try and report back ?

[2021-04-16 09:19] yurvyn commented on #34282
@galak, @carlescufi
Before making decisions, I have two questions.

1. Is the next case acceptable?
hal_telin contains only cmake and module yaml files, the driver files are added as a git submodule with the existing Telink License and precompiled binary inside. If this workaround works for precompiled binary, I suppose, it also can work for the License issue.

2. If set `submodules: true` in `wes

[2021-04-16 10:11] Laczen commented on #34239
@xiaoliang314, can this issue be closed ?

[2021-04-16 10:27] trond-snekvik commented on #34268
Same for me. Are you able to try on a non-modified master, and pinpoint where things go wrong with a debugger? Does it get into the bluetooth enable callback?

[2021-04-16 10:37] carlescufi commented on #34282
I am not sure this would be accepted. First of all, the current recommended pattern is to have [all glue code files](https://docs.zephyrproject.org/latest/guides/modules.html#module-integration-files-in-zephyr), include CMake and Kconfig, in the main zephyr tree, in the `modules/` folder. Second, a repository with only a submodule is likely not going to be approved in the TSC. You can of course fe

[2021-04-16 11:26] thanhduongvs commented on #34280
thanks @jfischer-no

[2021-04-16 11:30] xiaoliang314 commented on #34239
@Laczen I think that time-consuming functions should not be called in the system queue, which will reduce the real-time performance of system, what do you think?

[2021-04-16 11:34] xiaoliang314 commented on #34239
@Laczen Another solution is to add a set of APIs that modify thread preemptibility, set it to preemptible when calling `settings_save`, and restore preemptibility after the end.

[2021-04-16 11:38] xiaoliang314 commented on #34239
`settings_save` is preemptible because it can be called by general threads, which are preemptible threads.

[2021-04-16 11:56] MaikVermeulen commented on #34329
Please see [PR#34336](https://github.com/zephyrproject-rtos/zephyr/pull/34336).

[2021-04-16 11:59] FRASTM commented on #33475
@Kshitij4kk thanks to provide this change, do not hesitate to push and add a board config, if needed.

[2021-04-16 12:02] jfischer-no commented on #34280
I found old PR regarding device controller support for lpc55s69, see https://github.com/zephyrproject-rtos/zephyr/pull/19014

[2021-04-16 12:03] Laczen commented on #34239
@xiaoliang314, this IMO us not so important. The real problem is: a flash erase operation can take a long time during which the cpu can be halted. If this is the case it is impossible to guarantee real time operation. This can be avoided by not using internal flash storage.

The problem you had was that this happened on every write because the flash space was exhausted.

[2021-04-16 12:27] xiaoliang314 commented on #34239
@Laczen The erasing and writing time of my flash is not very long, about 2-8ms. If the thread can preempt, theoretically the CPU can process a higher priority task every 8 milliseconds.

[2021-04-16 12:38] Laczen commented on #34239
When and how `settings_save_one` is called is completely up to the user. Please time the routine in a normal use case, it should be ms.

[2021-04-16 13:26] xiaoliang314 commented on #34239
@Laczen The Bluetooth subsystem also uses settings_save_one in the system work queue, which is the cause of this problem. However, there seems to be no better solution. Can I keep it open until the problem is solved?

[2021-04-16 13:37] Laczen commented on #34239
@xiaoliang314, no problem with keeping it open. I will remove my assignment, for me this is closed.

[2021-04-16 13:54] andresmanelli opened #34341 "SWO logging and DWT timing collision"
**Describe the bug**
The `log_backend_swo_init` function sets the `CYCCNTENA` bit of the `DWT` register to `0`, disabling the counter (which is necessary for the timing functions.

As a workaroud/fix I added this patch:

[code]

I'm not sure why the value used before is 0x4... (those bits are supposed to be read only). Maybe I'm missing something.

**To Reproduce**
I executed a simple loop and rea

[2021-04-16 13:56] weinholtendian commented on #33140
@FRASTM This was tested with an STM32H745 Nucleo-144 (NUCLEO-H745ZI-Q). I believe that the H723 also will exhibit the same behavior as otherwise described in this issue. Both reference manuals (RM0399 and RM0468) contain this type of text: *When DBECCERR1/2 flag is raised, a bus error is generated. In case of successive double error detections, a bus error is generated each time a new data is sent

[2021-04-16 14:01] scottwcpg commented on #34325
The modules/hal/microchip/mec/mec1501/component/keyscan.h has defines for keyscan GIRQ21 NVIC value 135 and GIRQ21 bit position 21, and a define for the GIRQ mask value.  There's a type in the NVIC, MCHP_KSAN_NVIC instead of MCHP_KSCAN_NVIC.  I will fix.  Is this sufficient for key scan definitions?
PS/2 component header ps2_ctrl.h is missing the GIRQ21 wake bits.  Will add.
I will add the GIRQ22

[2021-04-16 14:04] andresmanelli opened #34342 "No output on SWO pin (STM32L4)"
**Describe the bug**
I'm not quite sure if this is a bug, but by default the SWO pin is not enabled to output data. I thing the debugger could do this, but I feel like asking the question though.

As a workaround, I added this line:

[code]

**To Reproduce**
 - Enable SWO logging as backend
 - Log simple messages in loop
 - No output is present on pin

**Expected behavior**
SWO pin outputs the log

[2021-04-16 14:33] Verfuchst commented on #34268
I tried again on the master commit 36d96d2cd9b9e9f200691e34d053bb8cf52321ca
![Screenshot_2021-04-16_16-29-45](https://user-images.githubusercontent.com/48048282/115040143-67b1ef80-9ed1-11eb-931a-35ac2d865ca8.png)

[2021-04-16 14:56] galak opened #34345 "samples/net/civetweb/websocket_server fails to build"
**Describe the bug**

Trying to build samples/net/civetweb/websocket_server fails

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir samples/net/civetweb/websocket_server/build; cd samples/net/civetweb/websocket_server/build
2. cmake -DBOARD=nucleo_h745zi_q_m7
3. make
4. See error:

[code]

This is due to the fact that the dir `build/zephyr/include/generated//web_page/` doesn't get create

[2021-04-16 15:24] galak commented on #34264
Is there a tool we use that can merge junit xml files?

[2021-04-16 15:29] erwango commented on #34268
One thing to unlock your issue quickly would be to remove `		zephyr,flash-controller = &mx25r6435f;` so you don't use qspi anymore. Does not solve the point but could help.

[2021-04-16 15:31] bwasim commented on #34273
The URC indicating data reception doesn't inform about the amount of data received. Its just tells the system that data is available for this socket. I would assume that that's why you get `sock->packet_sizes[0]=0`.

[2021-04-16 15:36] galak commented on #34264
Looks like we can use junitparser

[2021-04-16 15:54] Verfuchst commented on #34268
I tried this with removing the line, but it did not changed anything. Now I'm also stuck in another code section.
![Screenshot_2021-04-16_17-51-42](https://user-images.githubusercontent.com/48048282/115050803-6d610280-9edc-11eb-93be-2b775afe9137.png)
I can try to get the same board next week and see if its something with the hardware.

[2021-04-16 15:57] bwasim commented on #34273
Seems that the quectel-bg9x driver is broken since this commit: https://github.com/zephyrproject-rtos/zephyr/commit/7d67991a91f21aee5fde7a6830522c1beefbcadd

The quectel-bg9x driver URC doesn't give information about the amount of data received, and hence modem_socket_poll fails.

[2021-04-16 16:30] nashif commented on #32448
@galak  do you want to submit a PR, this is not really broken in the tree after merging with #34291

[2021-04-16 17:30] madscientist159 commented on #32100
Just ran into this rather odd limitation.  Looking into fixing it.

[2021-04-16 17:34] ycsin commented on #34273
Yep, because the `fds[0].events` is set to `ZSOCK_POLLIN` in [mqtt_publisher's main.c](https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/net/mqtt_publisher/src/main.c#L119), for `modem_socket_poll` to return a non zero value, this condition must be fufilled in the [second for loop](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/modem/modem_socket.c#L325)

[code]

W

[2021-04-16 17:37] erikarn opened #34354 "Please investigate adding DMA support to STM32 I2C!"
Please investigate adding DMA support to STM32 I2C!

I've noticed that the STM32 I2S driver has DMA support, but the I2C driver doesn't!
It'd be nice to see the i2c interrupt support (where a semaphore is used to put the calling thread to sleep, so it doesn't just poll waiting for completion) and DMA (to avoid interrupt overheads and byte-at-a-time transfers) to improve performance.

Thanks!

[2021-04-16 17:42] ycsin commented on #32789
Is this patch different from manually removing `MPU_ALLOW_FLASH_WRITE` in terms of the functionality? I think the ST's dfuse software and the dfu-util still won't work.

[2021-04-16 17:46] albertofloyd commented on #34325
Sounds like a good plan.
Note most interrupt values and aggregator bits are directly used in device tree (no macros required)
I'm referring to LPM wake up-only GIRQs values   (SMB, PS2, KSCINT & eSPI wake)

Current code
void soc_deep_sleep_non_wake_en(void)
{
#ifdef CONFIG_ESPI_XEC
	GIRQ22_REGS->SRC = 0xfffffffful;
	GIRQ22_REGS->EN_SET = (1ul << 9); /* Better to have a macro */
#endif
}

Code to b

[2021-04-16 17:55] bwasim commented on #34273
Yeah, I think that the 2nd check for `packet_sizes` done here (https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/modem/modem_socket.c#L324) is redundant. I can understand why the first check (https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/modem/modem_socket.c#L296) helps is needed if the data is already available, but the 2nd check shouldn't be required. Can you ju

[2021-04-16 17:59] ycsin commented on #34273
In fact I tried this, but then the modem will now attempt to read the sock even if there is no new incomming data URC. That resulted in some "length problem/error"

[2021-04-16 18:08] bwasim commented on #34273
I think you're running into a different problem here that has nothing to do with socket polling (probably a protocol error)? If so, we should look at this problem separately. Once the poll function returns successfully, the `offload_recvfrom` function gets invoked with a certain required `len`. Is it possible that in your case, the `len` provided by the app and the length of data returned by the m

[2021-04-16 18:21] ycsin commented on #34273
Because after this change the `modem_socket_poll` will always returns non zero value, since `(fds[i].events & ZSOCK_POLLIN)` is always valid(for every fds available) as this is set from the `main.c` application. And then the `offload_recvfrom ` gets invoked and do `AT+QIRD` even without new incoming data.

Unfortunately I didn't save the AT transactions of the modem, will have to try again during

[2021-04-16 19:29] icatorze opened #34355 "LittleFS sample code catch an "undefined symbol `ITCM_ADDR' referenced in expression" in linker step"
I'm trying littlefs subsys sample on a mimxrt1020_evk with relocation to ITCM zone. After a menuconfig i can build code but linker step aborts with:
undefined symbol `ITCM_ADDR' referenced in expression.

There's no evidence of ITCM_ADDR anymore, because this address comes from DTS file now. I searched all code and scripts but can not found who is still using this symbol.

After I manually edit ge

[2021-04-16 19:31] #34099 closed

[2021-04-16 19:32] #34329 closed

[2021-04-16 19:54] galak commented on #34355
@JordanYates can you take a look at this.  Not sure if its related to your recent work.

[2021-04-16 19:56] galak commented on #34341
@andresmanelli can you send a PR with the fix.

[2021-04-16 21:31] galak commented on #32448
Note: need to fixup tests/application_development/libcxx/testcase.yaml  to run on all arch's in the future with this is fixed.

[2021-04-16 21:32] galak commented on #32448
#34357 is starts of fix for this issue.

[2021-04-16 22:47] JordanYates commented on #34355
Yes, this was reported in #34185 and fixed in #34331.

[2021-04-17 00:48] jenmwms commented on #28551
Worked backward on the mapping, leading to `z_phys_map()`. Building with `CONFIG_ASSERT=y` does throw any asserts for this sample (was making sure the `z_phys_map()` did not throw asserts). The `*virt_ptr` (which is `reg_base` in this case) appears to be valid address, and we observe it does function as expected for some of the GPIOs defined in this sample. Subtle bug that might be in `z_phys_map(

[2021-04-17 05:06] hguomin8 commented on #30026
@jukkar Just tested this issue with same environment and configuration on Zephyr latest v2.5.0, this issue still exist and the same. the two node's local ip(start with fe80::) ping both works fine, but the global ip(start with 2001:db8::) ping not working.

[2021-04-17 11:47] #26728 closed

[2021-04-17 11:47] #34345 closed

[2021-04-17 12:06] pabigot opened #34363 "k_work: incorrect return values for synchronous cancel"
The return value is documented to be true if the work was pending, but the implementation returned true only if the work was actually running (i.e. the caller had to wait). It should also return true if scheduled or submitted work was cancelled.

With the bug callers cannot correctly determine whether a cancel operation left something unprocessed by the work handler.  The problem was identified in

[2021-04-17 17:59] madscientist159 commented on #32100
Initial patch here:
https://gitlab.raptorengineering.com/kestrel-collaboration/kestrel-firmware/zephyr-rtos/-/commit/e93d84d2621b569bc5700e7a8e57fb6fcc6661c5

We're blocked on submitting a PR for this until https://github.com/zephyrproject-rtos/zephyr/pull/32844 has been merged.

[2021-04-17 22:11] key1066 commented on #32286
@vanwinkeljan, Any progress on the ST7789 display orientation support? Thanks.

[2021-04-18 06:00] vanwinkeljan commented on #32286
@key1066 sorry no progress on this. I currently have not the time or the HW to look into this.

As you have the HW feel free to send a PR introducing orientation support.

[2021-04-18 07:52] chepo92 opened #34368 "Cmake's Python path breaks after using west build --pristine"
I have two python 3 installations, but cmake fails to find the correct one after using --pristine build option

**To Reproduce**
Steps to reproduce the behavior:

1. After correctly building a hello world example i used --pristine option to build another example
` west build -b sam4e_xpro samples/subsys/usb/cdc_acm --pristine`
2. which caused the following error:

[code]

**Expected behavior**
Cma

[2021-04-18 13:10] galak commented on #34095
@alexanderwachter / @henrikbrixandersen any updates here?

[2021-04-18 13:32] skyarm opened #34369 "Driver esp for wifi got a dead lock."
**Describe the bug**
  driver esp for wifi got a dead lock:
  when bg_thread_main call the net_init, then net_init call net_if_init:
[code]

[2021-04-18 14:04] alexanderwachter commented on #34095
Isn't this change included in the mass conversion?

[2021-04-18 14:38] skyarm commented on #34369
I try to fixed the bug, But there is no way. Or update the base library of subsys/net_if.c, So like eswifi, Cann't call net_if_xxx function in other thread.  Or do not wait for the result of esp_iface_init in main thread.

[2021-04-18 21:38] albertofloyd commented on #33929
Unable to repro with master branch and latest SDK, hence closing

[2021-04-18 21:38] #33929 closed

[2021-04-19 01:32] KangJianX commented on #34304
Can not reproduce this issue, closed.

[2021-04-19 01:32] #34304 closed

[2021-04-19 01:49] #34272 closed

[2021-04-19 06:22] caco3 commented on #30074
We migrated to Zephyr `2.5.0` and cleaned up our code/initializations. Since then I havent seen this issue anymore for months now, so I am going to close this issue. Thanks for your support!

[2021-04-19 06:22] #30074 closed

[2021-04-19 06:37] caco3 opened #34372 "Occational CPU Lockups on high BLE throughput"
**Describe the bug**
We have an application based on a nrf52840. We see occational `CPU Lockups` while sending BLE notifications every few ms.

It seems to happen more oftnen when `CONFIG_ASSERT=y` is enabled, but also happens without that.
No log message is output, the MCU simply restarts and the `CPU Lockup` flag is set.

The code is used for a measurement device. We run an external ADC at 10 kS

[2021-04-19 07:37] henrikbrixandersen commented on #34145
@galak I had a look at the usb_kw24d512. I am not sure what you mean by "Need to figure out how to handle internal signals connected to modem"?

[2021-04-19 08:10] XavierChapron commented on #34273
Hi @bwasim , if I understand correctly, your are talking about the `sock->packet_sizes[0] > 0U` condition?
I didn't introduced this condition, [it was there](https://github.com/zephyrproject-rtos/zephyr/commit/f5c45c29468158b5745352ac0c7cc3a841041774#diff-36990db8e7451f52524903d2da613a9d53d54d18d7c96f8d726741a97c34b9faR273) since the first version.

I'm not familiar with the modem_socket.c code, b

[2021-04-19 08:11] jukkar commented on #32412
False positive

[2021-04-19 08:11] #32412 closed

[2021-04-19 08:12] jukkar commented on #32413
False positive

[2021-04-19 08:12] #32413 closed

[2021-04-19 08:14] weinholtendian commented on #33140
@FRASTM I might have figured out why you couldn't reproduce the bus fault from my instructions. The `flash read` command probably never went out to the flash device in your case because the data written with `flash write` was still in the cache. (For various reasons I happened to test this with the MQTT sample and it must have been doing enough things with the system that the cache line got flushe

[2021-04-19 08:52] kumarnac opened #34375 "drivers: can: Can configure fails when CONFIG_CAN_FD_MODE is enabled"
The can_configure API fails when  CONFIG_CAN_FD_MODE is enabled.
Below API passes the speed for the FD mode as 0 which returns an ERROR computed by can_set_bitrate and  can_calc_timing_data

`static inline int can_configure(const struct device *dev, enum can_mode mode, uint32_t bitrate)
{
if (bitrate > 0) {
       int err = can_set_bitrate(dev, bitrate, 0);
      if (err != 0) {
       return err;

[2021-04-19 09:41] #34309 closed

[2021-04-19 12:08] nordic-krch commented on #34269
@hongshui3000 can you be more specific? Which sample is failing to build? More details about configuration would be needed as well.

[2021-04-19 12:38] nvlsianpu opened #34382 "fs/nvs: if closing ATE has to high offset NVS iterates up to the end of flash."
**Describe the bug**
If closing ate is valid (crc is ok) and close_ate.offset
has not allowed value GC will performed flash read above
NVS partition.

**Environment (please complete the following information):**
 - https://github.com/zephyrproject-rtos/zephyr/commit/e3a25b3b3a141560d9d6c41121ab598e07a431c4

[2021-04-19 12:58] galak commented on #34355
Considering this resolved.  @icatorze please reopen if you still have issues.

[2021-04-19 12:58] #34355 closed

[2021-04-19 13:13] galak commented on #34145
@henrikbrixandersen so I believe if you look at the manual for the SoC.  There is this section:

4.3 Internal Functional Interconnects and System Reset

The pins define there relate to how we setup SPI1 in boards/arm/usb_kw24d512/pinmux.c.  However those pins don't show up in the DTS pinmux data file as I dont believe they are in the xml data files from NXP.

So thus my comment on how to handle th

[2021-04-19 13:14] galak commented on #34095
The mass conversion is just an example, we have no intents to convert it.  Each subsystem / driver maintainer needs to review it and determine if those changes actually make sense and send a PR.

[2021-04-19 13:16] galak commented on #34096
Fixed by #33355

[2021-04-19 13:16] #34096 closed

[2021-04-19 13:19] carlescufi commented on #32238
@key1066 we need reviewers for #32532, specifically deciding which direction to take there: whether to merge it as-is or to turn it into a generic LED matrix driver.

[2021-04-19 13:34] carlescufi commented on #32911
Marked as false positive in Coverity.

[2021-04-19 13:34] #32911 closed

[2021-04-19 13:42] carlocaione commented on #33122
So, back at this again.

This is a possible proposal based on the @carlescufi proposal.

1. The cache code should be moved and live in `drivers/cache/` with the API defined in `include/drivers/cache/cache.h` (it's better to have a `cache` directory as well in case we need to host cache-related header files).
2. `drivers/cache/` directory should at least host the arch code cache management (so `cac

[2021-04-19 13:50] nashif opened #34387 "Error message in include/linker/kobject-text.ld is unclear"
**Describe the bug**
getting this:

[code]

when building `samples/subsys/debug/gdbstub/sample.debug.gdbstub` with llvm.

https://github.com/zephyrproject-rtos/zephyr/blob/3dd65a7663ee0c22c297e95b6b15f21020381839/include/linker/kobject-text.ld#L35

**To Reproduce**
Use LLVM for building

**Expected behavior**
The message is unclear and seem to be wrong, `set 'CONFIG_KOBJECT_TEXT_AREA' to a value l

[2021-04-19 14:12] wysman opened #34390 "i2s: bitrate is wrongly configured on STM32"
**Describe the bug**

The I2S peripheral can be used in master or slave mode for the clock.
If the peripheral is configured with master clock output enable. The peripheral will generate two clocks: the master clock is 8 times higher than the bit clock.

Some codec[1] do not used the master clock but only the bit clock. In this case the I2S peripheral will output the bit clock too high. During the

[2021-04-19 14:45] kevin137 commented on #33747
Hello everyone. I wanted to give a quick update and confirm that we see the same problem on the RT1050EVK. I believe we are configuring prj.conf correctly and have also confirmed that the HAL driver is being referenced. We are preparing a complete package of code, working on the frdm_k64f, NOT working on 1020 and 1050, to be able to share here.

[2021-04-19 14:59] #18351 closed

[2021-04-19 14:59] #26170 closed

[2021-04-19 14:59] #26246 closed

[2021-04-19 14:59] #30353 closed

[2021-04-19 14:59] zephyrbot opened #34391 "[backport v1.14-branch] backport of #34237 failed"
This issue was created automatically because the backport of #34237 to `v1.14-branch` failed.

The backport to `v1.14-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v1.14-branch` and the `compare`/`head` branch is `backport-34237-to-v1.14-branch`.

[2021-04-19 14:59] zephyrbot opened #34392 "[backport v2.5-branch] backport of #34237 failed"
This issue was created automatically because the backport of #34237 to `v2.5-branch` failed.

The backport to `v2.5-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.5-branch` and the `compare`/`head` branch is `backport-34237-to-v2.5-branch`.

[2021-04-19 15:12] #34197 closed

[2021-04-19 15:24] hakehuang commented on #33747
Thanks kevin. please share your code.

[2021-04-19 15:35] de-nordic commented on #34227
OK. With mcumgr it should be easier as it does not seem to use `area_id` only to identify the current transfer, so it keeps it in global state variable; there is only once condition regarding that variable which is that `-1` is "bad area_id" or rather no area id selected.
I guess that we could just define that field to be `const struct flash_area *` for Zephyr and the original `int` for non-zephyr

[2021-04-19 16:15] Laczen commented on #34227
The proposed method seems like a very complex solution to the problem. I am at the moment working on a flash partition api that does (IMO) everything zephyr needs, mainly a partition write, read and erase, but also a partition get sectors, ...
The definition of a flash partition would be a pointer to a const struct **cfg** (only containing the device) and a pointer to a struct **state** (empty at

[2021-04-19 17:42] de-nordic commented on #34227
It is not. It is intended to allow having one `flash_area` definition and avoid translations and additional API over/under the one we have already. The mcuboot will have to be changed and mcumgr will have to be altered.

So basically it would be what @mbolivar has proposed, and has been so far accepted, that we should have `const struct device *` + offset + size and that is all that is needed to s

[2021-04-19 18:09] GunZi200 commented on #30977
I suppose this issue is related to: https://github.com/zephyrproject-rtos/zephyr/issues/26874

[2021-04-19 18:28] Laczen commented on #34227
Your future `flash_area` definition would be the same as my proposed `flash_partition`, it is just a name and by making it different the name `flash_area` could be maintained in mcuboot.

I would take the opportunity to think about this a little more and to create something that could be easily extended. At the moment there is nothing more than `const struct device *`, `offset` (is this const or n

[2021-04-19 18:35] zhudsonPHY opened #34397 "Update getting started docs to reflect gdb python requirements"
**Describe the bug**
west debug fails with error
[code]
I followed the getting started guide and the application development steps to create a very simple hello world program outside of the zephyr base directory. It compiles and flashes fine however when trying to get debug functioning I get the above error. I am using a jlink and mimxrt1060_evk.

Based on some stack exchange posts of other people

[2021-04-20 02:03] JordanYates opened #34402 "spi: spi_nrfx_spim: wrong clock frequency selected"
**Describe the bug**

When using a chipset that has SPI modules with different maximum clock speeds, the clock selection is made based on the module with the highest clock, not the module being used.

As an example, the nRF52840 supports 32MHz SPI only on SPI3, while SPI0, SPI1 and SPI2 are limited to 8MHz.
If a peripheral with a maximum clock rate of 16MHz is placed on SPI0, `get_nrf_spim_frequen

[2021-04-20 03:51] madscientist159 opened #34403 "Logging disable function causes Zephyr hard lockup"
**Describe the bug**
After the new logging v2 patches [1] were applied to our development tree, existing, previously functional code using `z_shell_log_backend_disable()` has ceased to function.

Whereas before this call would disable logging on the affected shell:
`z_shell_log_backend_disable(shell->log_backend);`

it now causes a complete hard lockup of the entire system immediately upon executi

[2021-04-20 05:20] nordic-krch commented on #18351
floats can now be logged with new logging. Currently legacy version is the default one, so it has to be explicitly enabled (`CONFIG_LOG2_MODE_DEFERRED`).

[2021-04-20 05:21] nordic-krch commented on #26246
64 bit values can now be logged with new logging. Currently legacy version is the default one, so it has to be explicitly enabled (`CONFIG_LOG2_MODE_DEFERRED`).

[2021-04-20 06:19] galak commented on #34397
You need to do:
`sudo apt get install python3.8-dev`

[2021-04-20 06:20] galak commented on #34397
This is a known requirement.  You can also utilize the `/home/user/zephyr-sdk-0.12.4/arm-zephyr-eabi/bin/arm-zephyr-eabi-gdb-no-py` version

[2021-04-20 06:53] IRISZZW commented on #32809
@qipengzha I notice that you use a old version cmake(14.2), Can you upgrade it to the newest version and try again. this may help.

[2021-04-20 07:04] jfischer-no commented on #34397
Unfortunately, exactly this Python version is no longer available on some distributions.

[2021-04-20 07:16] IRISZZW commented on #30162
this warnings is expected:

https://github.com/zephyrproject-rtos/zephyr/blob/facd0f57db85163432bdca7767a05e3f1d742b9f/cmake/linker/arcmwdt/target.cmake#L133-L142

[2021-04-20 07:20] trond-snekvik commented on #32906
This is a false positive, as the passed `stats_hdr` structure is meant to be accessed out of bounds.

I am not able to put this in coverity though, as I still haven't been granted access.

[2021-04-20 07:20] #32906 closed

[2021-04-20 07:21] ycsin commented on #34273
Now I fixed most of the driver side issue and it published qos 0 message successfully

Log:
[code]

Modem AT:
[code]

It publishes to my server and I subscribe to the `sensors` topic on my laptop, but somehow I only received `DOORS:OPEN_QoS0` once and no QoS 1 or 2 messages received. I modified the `mqtt_publisher` to run `publisher();` only once. From the example code I think it should ping then

[2021-04-20 07:22] ycsin commented on #34273
@XavierChapron I think the `modem_socket.c` is fine, the issue should be at the driver. The bg9x driver has nothing to set the initial inbound packet size

[2021-04-20 07:35] asbjornsabo commented on #26246
Confirmed - it works now.

[2021-04-20 07:54] Laczen commented on #34227
@de-nordic, something that might also be usefull: allow the dts to specify a `erase_block_size` for the partition. This has to be at least equal to the largest flash page size of the partition, but could also be a multiple of this. Creating this would allow sector size in nvs/fcb to be specified from the dts, and also the block size in littlefs (@pabigot). A lot of code in trying to find the large

[2021-04-20 08:15] n-lohrmann opened #34409 "mDNS response on link local when using DHCPv4 and AutoIP/Static IP"
**Describe the bug**
When using device that is configured for both DHCPv4 and AutoIP/Static IP, all mDNS responses have link local as source. These responses are not received by host on DHCP network.

**To Reproduce**
CONFIG_NET_DHCPV4=y
CONFIG_NET_IPV4_AUTO=y
CONFIG_NET_IF_UNICAST_IPV4_ADDR_COUNT=2
CONFIG_DNS_SD=y
CONFIG_MDNS_RESPONDER=y
CONFIG_MDNS_RESPONDER_DNS_SD=y

**Expected behavior**
Expec

[2021-04-20 09:05] yurvyn commented on #34282
I am still working on the issues with License and precompiled binary file..

@carlescufi, could you please help me with the next 2 questions:

1. Is it acceptable if change the License only in Zephyr HAL Modules repo, but do not change the License on Vendor's website?
As I see, Nordic is dong it. [Zephyr hal_nordic/nrfx](https://github.com/zephyrproject-rtos/hal_nordic/tree/master/nrfx) has 3-calu

[2021-04-20 09:35] ioannisg commented on #34007
Need to close this manually, since I had forgotten to properly add the "Fixes" comment in the PR

[2021-04-20 09:35] #34007 closed

[2021-04-20 09:45] de-nordic commented on #34101
@Navin-Sankar is more appropriate person to handle subsys/mgmt/hawkbit/hawkbit.c
and @nandojve  to handle subsys/mgmt/updatehub/updatehub.c.

[2021-04-20 10:06] nordic-krch opened #34413 "Improve __used attribute to actually keep requested function/variable"
**Is your feature request related to a problem? Please describe.**
There is `__used` specified in `include/toolchain/gcc.h` which is setting attribute `used`. The idea is to keep marked function/variable in the binary even when it is not used. However, linker still removes it (thanks to garbage collection?).

**Describe the solution you'd like**
Similarly as `__used`, `__func_used` could be added

[2021-04-20 10:27] caco3 commented on #34372
I can enforce the `CPU Lockup` with following code in the main loop:
[code]

[2021-04-20 10:33] raveslave commented on #27525
Hi Jeff, just checking in if there are any development for the zephyr tcpm work

[2021-04-20 10:42] #33456 closed

[2021-04-20 10:44] #32320 closed

[2021-04-20 11:18] caco3 commented on #34372
I might have found the culprit:

I have my own logger backend defined but I haven't defined a custom panic handler:
[code]

When I create a panic handler and assign it, it no longer crashes on a `log_panic()` call.

Can somebody confirm this?

[2021-04-20 11:23] skyarm commented on #34369
The driver of esp wifi is so complex, I suggest that the UART commutation do not work in other thread, like eswifi driver.

[2021-04-20 11:31] mtpr-ot opened #34416 "Configuration HAS_DTS has no function, preventing compile for vendors without device tree"
DTS has been made mandatory, however certain vendors do not want to go down that road.
Where an empty device tree in certain configurations is sufficient, in others, the number of hacks needed to compile is unreasonable.

**Expected behavior**
It should be possible to use- and unset the existing CONFIG_HAS_DTS to compile zephyr on vendor platforms.

**Impact**
Currently a local hack is used to com

[2021-04-20 11:45] skyarm commented on #34369
A UART interface wifi modem use three thread to initial the driver, It's so complex.

[2021-04-20 11:53] mniestroj commented on #34369
@skyarm Feel free to send PRs with improvements. Any contribution is welcome!

[2021-04-20 11:55] #34264 closed

[2021-04-20 12:29] #34387 closed

[2021-04-20 12:30] #30465 closed

[2021-04-20 12:52] nordic-krch commented on #34403
Can you add more details? Platform? I assume that logging v2 is not used (no change in logging configuration). From which context it is disabled?

I tried to add shell command that disables and enables shell log backend and that runs fine on `qemu_cortex_m3` with shell over uart.

[2021-04-20 13:13] #34097 closed

[2021-04-20 13:29] carlescufi commented on #33667
@andyross what do you suggest we do for configurations where the execution of the loop will always exceed one tick given that the calls are slow to execute when we are in TEE non-secure mode?

[2021-04-20 13:31] carlescufi commented on #32839
On Nordic platforms, this is caused by non-secure execution speed, see [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/33667#issuecomment-820541025)

[2021-04-20 13:37] galak opened #34419 "significant build time increase with new logging subsystem"
We are seeing large increases in CI times associated with the new logging subsystem:

Comparing https://buildkite.com/zephyr/zephyr-daily/builds/304#_ [before logging changes merged] to https://buildkite.com/zephyr/zephyr-daily/builds/305#_.

We can take a random build like 6/400 and see an increase from 33m41s to 42m28s.

Looking at git commits this seems to be between 67fade04a0cf (before loggin

[2021-04-20 13:44] tejlmand opened #34421 "Improve Zephyr MODULE_EXT_ROOT documentation."
**Is your enhancement proposal related to a problem? Please describe.**
From slack.
It is not clear enough that in order to get the code located under `MODULE_EXT_ROOT` the module itself must also be present.

The current documentation should be improved to reflect that a module must still be present in `ZEPHYR_MODULES` or `ZEPHYR_EXTRA_MODULES` in order for the code in `MODULE_EXT_ROOT` to be sou

[2021-04-20 14:19] galak opened #34423 "twister build issue with arm64"
Getting the following warning (treated as error):

From:

`tests/misc/test_build/buildsystem.debug.build`
`tests/subsys/jwt/libraries.encoding.jwt`

on:

`qemu_cortex_a53_smp`
`nxp_ls1046ardb_smp`

[code]

[2021-04-20 14:37] nandojve commented on #34101
I can handle updatehub.
CC @otavio

[2021-04-20 14:48] nandojve commented on #34102
I can take a look and test on SAMR21.

[2021-04-20 14:58] de-nordic commented on #34101
Thanks @nandojve !

[2021-04-20 15:04] nandojve commented on #34101
Sorry for my long delay, too busy because of chip shortage.

[2021-04-20 15:15] galak commented on #34101
Chip shortages don't effect software ;).

[2021-04-20 15:25] carlescufi commented on #34419
The increase is visible also when building locally.

[2021-04-20 15:28] carlescufi commented on #34372
I am hoping @nordic-krch can confirm that.

[2021-04-20 15:30] jettr commented on #27525
We are still a ways off from upstreaming a native TCPM port to Zephyr. @keith-zephyr will know more about schedule and priorities at list point

[2021-04-20 15:30] galak commented on #34102
thanks

[2021-04-20 15:32] zhudsonPHY commented on #34397
If specifically python3.8 is required the getting started documentation should be changed to reflect that. Currently it just calls out installing python3 which on 18.04 installs python3.6.9

I appreciate that your solution solves my problem, and I had even already found a solution before I posted. The issue here is more with the documentation.

[2021-04-20 15:47] de-nordic commented on #34101
I have just notified you so the delay is like 6 hours so far ;).

[2021-04-20 15:55] jfischer-no opened #34426 "RFC: API Change: USB HID remove get_protocol/set_protocol/get_idle/set_idle callbacks"
USB HID remove get_protocol/set_protocol/get_idle/set_idle callbacks from stable API

### Problem description

The USB HID class API offers the possibility to register callbacks
for Get/SetIdle, Get/SetProtocol to the application.
Rules for these callbacks are neither obvious nor documented.

The Get/SetProtocol callbacks are redundant and do not provide any
additional value since the way to infor

[2021-04-20 16:28] keith-zephyr commented on #27525
We haven't started any of the upstream Zephyr TCPM work yet.  We do have the TCPM stack working with Zephyr as the kernel, but this still very tightly coupled with our EC application.  The time frame to de-couple the TCPM stack from our EC application is ways out.

You can see some of the groundwork regarding the KConfig options that have been created here:
https://chromium.googlesource.com/chromi

[2021-04-20 16:30] madscientist159 commented on #34403
@nordic-krch This is on a custom LiteX platform [1], but I would expect the same problem to show up on the RISC-V LiteX demo if you enable the telnet shell.  That's likely a difference from your test environment, both the UART and telnet shells are enabled on this platform.

The call is from the shell thread itself.  See https://gitlab.raptorengineering.com/kestrel-collaboration/kestrel-firmware/z

[2021-04-20 16:33] nandojve commented on #34101
@de-nordic yes, on this, but I think there are others with more than 2 weeks.

[2021-04-20 16:35] nashif commented on #6291
AFAIK most of this was done in the context of other issues/enhancements

[2021-04-20 16:35] #6291 closed

[2021-04-20 16:36] nandojve commented on #34101
It has been tough weeks these days and I can only help on my free time.
At end LT is increasing hehe

[2021-04-20 16:54] madscientist159 commented on #34403
@nordic-krch Here are the logging-related configuration options from the build:

[code]

[2021-04-20 17:13] galak commented on #34416
Can you post this as a PR.  Thanks.

[2021-04-20 17:26] galak commented on #34342
@andresmanelli can you send a PR with this.

[2021-04-20 17:33] madscientist159 commented on #34403
@galak What additional information do you need from me at this point?  I've provided links to everything and the full configuration.  Would be nice to get this feature working again.

[2021-04-20 17:44] #34000 closed

[2021-04-20 17:44] #34003 closed

[2021-04-20 17:44] #34006 closed

[2021-04-20 19:10] mnkp opened #34434 "subsys: testsuite: ztest framework breaks if run in cooperative mode only"
**Describe the bug**

When running a testcase with kernel configured to run in cooperative mode only, i.e. `CONFIG_NUM_PREEMPT_PRIORITIES=0`, the ztest framwork generates "ASSERTION FAIL" at runtime indicating invalid thread priority value.

**To Reproduce**

Run any testcase in cooperative mode only. E.g.
[code]
**Logs and console output**
[code]

**Expected behavior**

ztest framework should wor

[2021-04-20 19:51] #34423 closed

[2021-04-20 19:55] moose-rivieh commented on #32822
Any update on this?

[2021-04-20 20:14] andresmanelli commented on #34342
@galak submitted #34436

[2021-04-20 21:26] madscientist159 opened #34438 "CivetWeb sample only supports HTTP, Zephyr lacks SSH support"
**Is your enhancement proposal related to a problem? Please describe.**
We need an encrypted method to transfer data to and from a remote Zephyr system.  Plain text telnet / HTTP will not suffice.

**Describe the solution you'd like**
We'd like to see integration of Zephyr, CivetWeb, and mbedtls into a concise sample application.

**Describe alternatives you've considered**
Adding a SSH server to

[2021-04-20 22:15] nashif commented on #32809
btw, one issue debugging this type of problem is the cache cmake creates, so sometimes we do not get all the errors because of that, it is advised to remove all cache files and then provide the files. The file to remove is `~/.cache/zephyr/ToolchainCapabilityDatabase/` on Linux.

@tejlmand  we need a better way to disable cache for such cases...

[2021-04-20 22:21] #34201 closed

[2021-04-20 23:12] nashif opened #34439 "Logging subsystem causes build to fail with LLVM"
**Describe the bug**

Build fails with
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. build with llvm
2. export ZEPHYR_TOOLCHAIN_VARIANT=llvm
3. west build -b qemu_x86 samples/hello_world/

**Expected behavior**
build is completed

**Impact**
Almost all tests/samples are failing now.

**Logs and console output**
see above

**Environment (please complete the following information):**

[2021-04-21 00:29] #31761 closed

[2021-04-21 01:20] nandojve commented on #34101
@de-nordic, @nvlsianpu

I don't understand what is happening. frdm-k64f, and nucleo_f767zi don't boot zephyr image. frdm-k64f I know that @henrikbrixandersen will fix code at Zephyr side soon, so I have a workaround at MCUboot for now. However, frdm-k64f and nrf52840dk_nrf52840 doesn't confirm image.

My last good Zephyr image is from early Dec/20. Since there, everything stop to work and now even

[2021-04-21 01:41] otavio commented on #34101
What is more concerning is that this kind of regression has become a habit inside the Zephyr project. What actions are on course to avoid this from happening in the future? How can developers trust Zephyr for critical devices and upgrade to new Zephyr releases with such bad regression tracking?

[2021-04-21 03:40] hongshui3000 opened #34443 "Document font display is incomplete"
**Describe the bug**
![image](https://user-images.githubusercontent.com/25566498/115493339-238a6a80-a296-11eb-856d-51ff9ab3f6ca.png)

OS:WINDOWS10
Google Chrome
Document font display is incomplete
Font doesn't feel good

[2021-04-21 03:52] Navin-Sankar commented on #34101
@nandojve I am also experiencing the same error. hawkbit  image doesn't boot with frdm_k64f board.
[code]
mcuboot doesn't handover the control to hawkbit image.

[2021-04-21 05:04] cvinayak commented on #25440
Fixed in https://github.com/zephyrproject-rtos/zephyr/pull/31477

[2021-04-21 05:04] #25440 closed

[2021-04-21 05:06] cvinayak commented on #26118
Fixed in https://github.com/zephyrproject-rtos/zephyr/pull/30732

[2021-04-21 05:06] #26118 closed

[2021-04-21 05:16] mbolivar-nordic commented on #34368
Thanks for the verbose logs, @chepo92 !

@tejlmand that part looks weird, since earlier it says:

Seems like there's a bug in the code that should be using WEST_PYTHON for everything  if it is set, no?

[2021-04-21 06:14] ceolin commented on #33122
The problem with weak function is if you end up having two strong definitions (that would cause a build failure) or two weak symbols which the behavior is not defined. Is there a explicit precedence between arch / peripheral ? If yes we could establish that architectures would always implement an weak function and peripherals the strong symbol. The drawback is that all arch  have to implement this

[2021-04-21 07:09] nordic-krch commented on #34403
Further questions:
- is there any change in optimization? Maybe optimization is off?
- do you stack guard enabled, is there any on that platform?
- if not stack guard can you try to increase shell thread stack?
- if optimization is off, can you confirm that `CONFIG_LOG2_ALWAYS_RUNTIME` is set

The thing is that logging v2 code is supposed to be compiled out when not enabled. However, it is using c

[2021-04-21 07:13] tejlmand commented on #34413
not convinced that the right thing to do here is to actually place all of those functions in same output section.

Of course it has the benefit to those users who don't care in which output section the code is placed.
They won't have to specify an new section in the linker script, which is often the case today when users specify custom sections.

An alternative that users can do in their CMake fil

[2021-04-21 07:16] de-nordic commented on #34045
Similar problem reported here https://github.com/zephyrproject-rtos/zephyr/issues/34101#issuecomment-823706258

[2021-04-21 07:22] de-nordic commented on #34101
I will look into the problem on nrf52840dk.

[2021-04-21 08:02] jukkar commented on #34438
Instead of SSH, a bit more easier route might be to port Wireguard to Zephyr. Someone has ported it to lwip so it should be possible to port that one to Zephyr. https://github.com/smartalock/wireguard-lwip

[2021-04-21 08:05] jukkar commented on #34438
If you only need HTTPS client support, then Zephyr already provides native HTTP client API that also support mbedtls. See `include/net/http_client.h` for API details. There is also a sample app in `samples/net/sockets/http_client`.

[2021-04-21 08:12] nordic-krch commented on #34413
What about following approach:
- create section, e.g. `keep_functions`
- then macro:
[code]
- then use if after the function, like:
[code]

[2021-04-21 08:24] carlocaione commented on #33122
Build failure is "good" (because you can catch the problem early) and I don't see how you can end up with two weak symbols. The only place where the weak symbol is supposed to be declared is inside `cache.c`. Both arch and peripheral drivers should use non-weak functions.

Yes, that should be enforced using Kconfig. For example `CONFIG_HAS_SOC_CACHE` should disable the arch and only use the periph

[2021-04-21 08:38] jukkar commented on #34409
@n-lohrmann Are you able to receive another mDNS requests after this? If you have net-shell enabled, what does `net conn` show after your fix?
The fix looks okeish but might cause some unintended side effects because the local address is used in bind. The default bind is done at mDNS init so it might be possible to alter the address as you have done. Just to want to make sure everything works as e

[2021-04-21 09:01] FRASTM commented on #32771
@jonasn-ge, could you please describe the exact test environment (target, ethernet connection to/from, test appli, command, etc) all the setup to reproduce the issue.

[2021-04-21 09:09] philips77 commented on #19244
@bgiori any update on this? A specially iOS side?

[2021-04-21 09:59] StefJar commented on #32261
update:
I rebuild my project set up with the latest zephyr drivers. Didn't managed to break that.

BUT I managed to get that stack overflow when using a constant string at a `LOG_xxx` without `log_strdup`.
Rechecked my code for forgotten `log_strdup` but didn't found some.

My intension is now shifting towards the logger. In my project I have an own  logging back end.
Looks like the logging backen

[2021-04-21 10:00] FRASTM commented on #33169
@heinwessels  in item 3 of the bug description : where do you intend to "_Add this line LL_SPI_SetRxFIFOThreshold(spi, LL_SPI_RX_FIFO_TH_QUARTER);_"

[2021-04-21 10:14] pfalcon commented on #34165
@johann2:

That was my hunch, thanks for confirming it. That's why I went with https://github.com/zephyrproject-rtos/zephyr/pull/34244 , because that's the actual expectation how it should be for last few years.

Yes, "zsock_" is "better" as a thing-in-its-own-small-box. That's why I went the "zsock_" prefix in the initial prototype many years ago. But the goal was different - to support the stand

[2021-04-21 10:18] heinwessels commented on #33169
@FRASTM for debugging purposes I think simply added it to [`static void spi_stm32_shift_m(SPI_TypeDef *spi, struct spi_stm32_data *data)`](https://github.com/zephyrproject-rtos/zephyr/blob/5425700e74abeab55e5276125d7594cfd990af0a/drivers/spi/spi_ll_stm32.c#L258).

[2021-04-21 10:21] de-nordic commented on #34101
@nandojve Can you give me sha of the Zephyr commit you are using?

As I understand, the image confirmation is done so that there would be no attempt to update device from unconfirmed image, right?

I have problem with reproducing that on nrf52840dk; I have build the updathub sample with ot overlays and programmed the image to the board.
I get this:
[code]

Can you send me some more context?
SHA of

[2021-04-21 10:33] FRASTM commented on #33169
This use case is like a SPI simplex mode:
"_The SPI can communicate in simplex mode by setting the SPI in transmit-only or in receiveonly using the RXONLY bit in the SPIx_CR2 register. In this configuration, only one line is
used for the transfer between the shift registers of the master and slave. The remaining
MISO and MOSI pins pair is not used for communication and can be used as standard
GPIO

[2021-04-21 10:58] Navin-Sankar opened #34457 "Implement Poll for non-socket based file descriptor"
# Problem Description
Currently poll() and select() syscall implementation is tightly bounded to networking interface.
Which mean's we can't use poll(), select() syscall without enabling the **NETWORKING** Kconfig

# Solution
Copied from slack, from @jukkar

Currently the poll is implemented in networking via ioctl virtual method (struct fd_op_vtable), see also subsys/net/lib/sockets/sockets.c. I

[2021-04-21 11:19] StefJar commented on #32288
hey guys
I needed to get some work around done
this is a work around for the internal channels
https://github.com/zephyrproject-rtos/zephyr/pull/34458

problem with the current stm32 adc drv:
- internal channels are overlapping with the external ones
- example: channel 17 at stm32f412  = external or VRef

Idea:
- there is no adc channel muxer yet but we might need some
- we don't like to rewrite t

[2021-04-21 11:37] Thalley opened #34459 "Bluetooth: GATT: Add flag for last chunk of prepare write as server"
**Is your enhancement proposal related to a problem? Please describe.**
If a client does the write long value procedure it will use the prepare and execute write ATT commands. Once the execute command is received on the server, the server will send the data to the application, but there is no way for the application to know the number of chunks or to know which chunk is the last.

**Describe the s

[2021-04-21 12:27] nashif commented on #34419
@nordic-krch  do we have an idea what is going on?

[2021-04-21 12:35] n-lohrmann commented on #34409
Yup, you are right, it only works for one response, then stops replying.
[net-conn-mdns.txt](https://github.com/zephyrproject-rtos/zephyr/files/6350810/net-conn-mdns.txt)

[2021-04-21 12:36] evgeniy-paltsev commented on #32809
Just for a record - I've tested build from exact same commit (19c2f78) and with exact same MWDT version (2020.06) and I can't reproduce this.
Given the old cmake usage and strange symptoms in logs (incorrect compiler detection) probably it worth to try it with newer cmake (I've tested it on 3.17.2) and also remove cmake cache as nashif proposed.

[2021-04-21 13:04] #24142 closed

[2021-04-21 13:08] nandojve commented on #34101
Hello, it was #5520 from yesterday. Probably we are at same point by v2.5.0-`2444`.
I update everything and than try build one version to validate kwork API.

What are below differences? If we are supposed to use same build/flash commands why we got different values?
What steps you use?

nandojve
[code]
de-nordic
[code]

[2021-04-21 13:10] #34434 closed

[2021-04-21 13:24] #34397 closed

[2021-04-21 13:39] nordic-krch commented on #34419
currently, both versions are compiled since `IS_ENABLED` compile-time switch is used also logging v2 is more extensively using preprocess (analyzing each argument and determining its type and size). Tomorrow i will be looking into speeding things up.

[2021-04-21 13:39] #34107 closed

[2021-04-21 13:54] manuaatitya opened #34461 "Unable to use PWM pins with STM Nucleo H743ZI"
# Unable to use PWM with STM Nucleo H743ZI

Hi, I'm trying out to control a servo motor attached to the STM Nucleo H743Zi board running on Zephyr RTOS but the PWM pins seems to be configured improperly and I get no signal from the pins.

The issue I'm facing is very similar to [this issue](https://github.com/zephyrproject-rtos/zephyr/issues/26607) however, the solution provided here doesn't seem t

[2021-04-21 13:55] shlomow opened #34462 "samples: net: sockets: packet: reception stops working after a while"
**Describe the bug**
When running `samples/net/sockets/packet` the reception stops working after about 14 packets were received.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -b native_posix_64 zephyr/samples/net/sockets/packet`
2. On one terminal, run `sudo ./net-setup.sh` from the `net-tools` repo.
3. On the first terminal, type `west build -t run`.
4. Start sending packets t

[2021-04-21 14:10] shlomow commented on #29915
I faced this issue today with `nucleo_h743zi`. When I pulled the latest `hal_stm32` repo It worked. It seems that it was fixed in `1.9.0`  version of the cube drivers

[2021-04-21 14:11] jukkar commented on #34409
Yep, the workaround you had overwrites the local listening address which now prevents the incoming traffic to 224.0.0.251, so this is no good.
What IP addresses you have assigned to your network interface. Can you attach output of `net iface` command here.

To me it looks like we should get proper src address from `net_if_ipv4_select_src_addr()`, so if you have ll address and normal IP address, th

[2021-04-21 14:19] MaikVermeulen opened #34463 "LwM2M bootstrap DELETE operation not working"
**Describe the bug**
When connecting to a bootstrap server which sends an empty DELETE frame, the LwM2M client responds with a [`COAP_RESPONSE_CODE_INTERNAL_ERROR`](https://github.com/zephyrproject-rtos/zephyr/blob/084a8b6bf4ca3c64bddc5b0c18f959352269c849/subsys/net/lib/lwm2m/lwm2m_engine.c#L3988).

![image](https://user-images.githubusercontent.com/27008793/115568800-ed141600-a2bc-11eb-83f7-e8bec

[2021-04-21 14:35] de-nordic commented on #34101
in Zephyr dir, clean master (383700b6355b0407b25e096d98164d26ab6a11a5), west update and so on, then
[code]
I do menuconfig to set the mcuboot key and increase log levels, then I got:
[code]

But this is just from last run. The log I have gave you previously has been received after I have already flashed several updatehub images and even smp_svr (with the same mcuboot) to check if the `boot_write_i

[2021-04-21 14:52] pabigot commented on #29107
It looks like Zephyr now supports ISO bluetooth operations, so maybe this is still worth doing?

[2021-04-21 15:00] MaikVermeulen commented on #34463
Just a quick and dirty test [inserted here](https://github.com/zephyrproject-rtos/zephyr/blob/084a8b6bf4ca3c64bddc5b0c18f959352269c849/subsys/net/lib/lwm2m/lwm2m_engine.c#L3646):
[code]

The code is now coming a bit further already, but still breaks. (This might be unrelated to Zephyr though, the bootstrap info requires DNS which we are not currently supporting)
[code]

Maybe all that is needed to

[2021-04-21 15:03] FRASTM commented on #34461
I check with the samples/basic/blinky_pwm/ on a nucleo_h723zg which is a like the nucleo h743zi with similar PWM config. The PWM output of the Timer12 channel1 is on pin **pb14**. On the nucleo board  (MB1364) the PB14 is the red led. Enabling the PWM of the the TIMER 12 channel 1, will directly control the red led.

[2021-04-21 15:22] Nukersson commented on #29915
@erwango Can you agree with that?

[2021-04-21 15:36] FRASTM commented on #34342
If so, maybe using the `LL_DBGMCU_SetTracePinAssignment` of the stm32l4xx_ll_system.h  could help.

[2021-04-21 15:40] nandojve commented on #34102
@galak, @mnkp

There are building problems with DT when using async for sam0.
Can someone help identify what is missing?

To reproduce can be (at master) any one from above, don't need board:

[code]

[2021-04-21 15:42] adamfowleruk commented on #33977
OK great. The hardware designs (still in development, initial run in the coming weeks) are now live on the above repo. I've also created 1 custom driver so far for a generally available and common sensor. Once I have the set all working I'll look to issue a PR for the hardware and drivers.

[2021-04-21 16:14] IshanBhatnagar14 commented on #34461
Nope , nothing like that is happening , are you sure , we do not see any red led blinking ?

[2021-04-21 16:15] Mattemagikern opened #34469 "nrf53: nrf5340dk_nrf5340_cpunet not executing."
**Describe the bug**
Received my nrf53 a couple of days ago.
After testing it for a day I attached a debugger to it to solve ble problem, after I detached the debugger, I was unable to flash the board again.

[code]

This issue was solved by a tip in the zephyr slack channel by executing:
[code]

However after this I'm able to flash the device but the network cpu dosn't seem to be executing any co

[2021-04-21 16:53] #34094 closed

[2021-04-21 16:55] galak commented on #34102
@nandojve if I remember you need to disable all uarts except the one with dma as when you enable async uart its assumed to be supported on ALL uarts.

[2021-04-21 17:35] MaikVermeulen commented on #34463
Thank you Robert. You are completely right. I think the problem is that [`parse_option()`](https://github.com/zephyrproject-rtos/zephyr/blob/26336061307c774d8c58b9487996dc78483bce4c/subsys/net/lib/coap/coap.c#L636) (called in [`coap_find_options()`](https://github.com/zephyrproject-rtos/zephyr/blob/26336061307c774d8c58b9487996dc78483bce4c/subsys/net/lib/lwm2m/lwm2m_engine.c#L3643)) assumes that it

[2021-04-21 17:48] manuaatitya commented on #34461
Hi @FRASTM, the issue is there is not output from the PWM pin and hence we do not see any blining/flashing of leds,

Now I also tried out the blinky_pwm_led example as you suggested, but I get an error on build saying zephyr/include/drivers/pwm.h:374 "undefined reference to __device_ord_24'

[2021-04-21 18:47] #34443 closed

[2021-04-21 19:04] raveslave commented on #27525
thx for update, looking forward!

[2021-04-21 19:48] chepo92 commented on #34368
Yeah, I was searching for similar issues and there is a findpython script in python.cmake that i think is producing this behaviour, https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/python.cmake

[2021-04-21 20:04] madscientist159 commented on #34403
@nordic-krch

- No change in optimization.
- Stack guard is enabled.  It does not trip.
- Already tried increasing stack size -- no effect

Also tested the following:
- Confirmed reverting the logger v2 patchset [1] restored all functionality
- Apparent race condition was noted with the v2 patchset applied.  If two consoles are printing large amounts of text at the same time, the system will deadl

[2021-04-21 20:36] StefJar commented on #32261
Looks like it's not logger related. I can now trigger a reliable stack overflow by just setting
CONFIG_INIT_STACKS=y
Looks like the initial stack set up gets corrupted.
My current test set up is custom board (STM32F412) + dts + simple main that logs something. The stack overflow is detected by the sentinel before the main function is entered.

[2021-04-21 21:04] tejlmand commented on #34214
Did some investigation on this, and looking at both the map file, and the elf file, it does look correct:
Map file, `z_pm_core_devices` symbol is chosen from correct object file:
[code]

and in the elf:
[code]
so let's look at address: `0x001093b1`:
[code]
So content is correct.

Let's look at the code:
devices.c
[code]
and:
pm_interfaces.c
[code]

so the weak array is of size 1, and the strong ar

[2021-04-21 21:08] laurenmurphyx64 opened #34473 "Add Requirements repository with infrastructure and placeholder requirements"
Initialize a GitHub repository for requirements with placeholder requirements and put in applicable infrastructure.

[2021-04-21 21:24] AfflatusX opened #34474 "MPS2-AN385 SRAM does not match what the documentation page says"
**Describe the bug**
We're using MPS2-AN385 + QEMU for unit tests, and noticed when building for that board, both FLASH and SRAM reports 4MB for region size. According to https://docs.zephyrproject.org/2.5.0/boards/arm/mps2_an385/doc/index.html it has 8MB SRAM. Is the discrepancy expected?

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mps2_an385 samples/net/sockets/echo_serve

[2021-04-21 21:49] mbolivar-nordic commented on #34368
I'm also surprised you're not hitting https://github.com/zephyrproject-rtos/zephyr/blob/e1a6820e4c470ad5693eef469a0f4b61f868d8ec/cmake/west.cmake#L48

[2021-04-22 00:29] #30325 closed

[2021-04-22 00:29] #30204 closed

[2021-04-22 00:42] #34106 closed

[2021-04-22 04:44] tejlmand commented on #34368
He does:

[2021-04-22 05:00] tejlmand commented on #34368
Fixed here: https://github.com/zephyrproject-rtos/zephyr/pull/34479

[2021-04-22 05:29] tejlmand commented on #32809
This would be a very good idea, as newer CMake's has better handling of toolchains.
There is also a possibility that your Toolchain capabilities db might have been setup at an earlier stage where other things could be wrong (like license check), in which case certain flags could be marked as not working.
So it could also be a good idea to clean the db.
To clear it, run: `rm -rf ~/.cache/zephyr/Too

[2021-04-22 06:58] emillindq commented on #29915
I can agree with this. Building dumb http server sample and running `ab -n 1000 -c 1 http://192.168.222.254:8080/` (which is the ip of my devkit) it works very well. If the people agrees, I can close this issue.