[2019-04-10 10:05] akshhr opened #15325 "conn->le.keys pointer is not cleared even after the keys struct is invalidated after unpair"
I observe bond control settings save with bt/keys/0000000000000, after unbond and disconnection of a device. Looks like conn->le.keys pointer is not cleared after unpair and invalidation of keys struct.

[2019-04-10 11:05] Vudentz opened #15329 "Bluetooth: GATT Client Configuration is not cleared when device is unpaired"
When a device is unpaired all its settings shall be cleared from storage, currently that is only done for CCC leaving CF still in memory/flash.

[2019-04-10 11:42] SebastianBoe commented on #15324
I believe this is due to the use of CROSS_COMPILE, can you confirm this by retrying with ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb instead of CROSS_COMPILE?

See https://docs.zephyrproject.org/latest/getting_started/toolchain_3rd_party_x_compilers.html#gnu-arm-embedded for how to do this.

[2019-04-10 11:47] #15325 closed

[2019-04-10 12:01] #15012 closed

[2019-04-10 13:08] SebastianStumm commented on #14918
If I try to call the remap function it's undeclared.

If I inlcude the the header file it does compile
[code]
It did not change anything in the behaviour of the sample.

I enabled debug log for CAN, could not find a way to turn on assertion for CAN specificly just globally.
[code]

My output before pressing the user button now is:
[code]

After I press the button it does drop a lot of messages for

[2019-04-10 13:16] andrewboie commented on #15324
This is an old, unsupported version of Zephyr.

[2019-04-10 13:32] AntoineZen opened #15331 "CONFIG_CODE_DATA_RELOCATION does not work with Cache enabled MCUs."
**Describe the bug**

When using the Code relocation (CONFIG_CODE_DATA_RELOCATION=y) with platforms that have a cache (tested on ARM Cortex-M7), leads to unreliable execution. When doing so, in the CPU crash in random exception (Hard-fault, MPU fault, Usage Fault, bus fault, etc..) with random cause (illegral access to EPSR...). The exception cause is never the same. A small change in the code, li

[2019-04-10 13:40] jfischer-phytec-iot commented on #14882
can not reproduce it on latest master, for nRF52840 see  #15330, an example config can be found [here](https://github.com/zephyrproject-rtos/zephyr/pull/15330/commits/626f005fd3ab82e8968e58fab1a2bd043c96d5e1)

[2019-04-10 13:40] #14882 closed

[2019-04-10 14:15] lemrey opened #15333 "hci_uart controller driver loses sync after host driver is reset"
The `hci_uart` controller driver will lose synchronization with the host, if the host is reset while sending data. If the controller driver is reset, the host can wait for a `NOP` from the controller before continuing;
this can serve as a synchronization mechanism. However, the `hci_uart` sample does not emit a NOP command.

Solution:
Emit a `NOP` command from the `hci_uart` controller driver,
to

[2019-04-10 14:38] lemrey opened #15334 "Unable to reset nRF52840 from nRF9160 on pca10090 DK"
It is desirable to be able to reset the nRF52840 on the pca10090 DK from the nRF9160, especially in situations where the two SoC communicate and their state needs to be synchronized (and given that only one reset button exists on the board).

Because the nRF52840 chip does not have a reset line connected to the nRF9160, a GPIO line can be used to issue a reset. Let nrf52840_pca10090 be reset via a

[2019-04-10 14:48] Mierunski opened #15336 "Unable to transmit data using interrupt driven API with nrf UARTE peripheral"
**Describe the bug**
TX using interrupt driven API with nrf UARTE peripheral is not working in some cases.

**To Reproduce**
Using hci host with interrupt driven API using nrf UARTE peripheral.

**Expected behavior**
TX working.

**Impact**
It is impossible to use hci host on nordic devices. Especially nrf91

**Environment (please complete the following information):**
 - Linux
 - Zephyr SDK
 - Ze

[2019-04-10 14:58] rgundi commented on #13223
Now, this is as weird as it gets. For some reason, the address of i2s_mem_slab is getting changed somewhere from the time the k_mem_slab_init function is called to the first time k_mem_slab_alloc is called. The address is 0xbe00b5f0 when k_mem_slab_init is called and it is 0xbe00b600 when the first k_mem_slab_alloc is called. Debug underway.

Submitted a PR #15317

[2019-04-10 15:24] avisconti commented on #6866
I had same issue this week myself, as I was forced to completely re-install a linux workstation and to
go again through the process of setting up the zephyr toolchain.

Few comments that may help other people in the future:

What I needed to do was to call following command:

pip3 install --user -r scripts/requirements.txt
-- or (better for my case) --
python3 -m pip  install --user --upgrade -r s

[2019-04-10 16:47] andrewboie commented on #13003
If we have per-thread page tables, the following actions need to take place when various memory domain APIs are called. This should also be applicable to #15223

The following assumes that for any thread, HW state is applied when context switching in, or dropping to user mode.

- k_mem_domain_add_thread() / k_mem_domain_remove_thread() - Re-compute that thread's data to reflect the change in membe

[2019-04-10 17:53] #15336 closed

[2019-04-10 17:54] #15204 closed

[2019-04-10 18:15] balajikulkarni commented on #14997
I have been following Zephyr and going through it's internals for sometime now, and I wish to start contributing to Zephyr. Could you please help me on taking up my first task?

[2019-04-10 18:25] #13766 closed

[2019-04-10 18:48] Thea-Aldrich commented on #14997
Hello and welcome to the Zephyr Project! It is great to hear you are interested in contributing. This is a great first issue. Have you taken a look at the [Contribution Guidelines](https://docs.zephyrproject.org/latest/contribute/index.html)? You'll be able to find the coding style and commit guidelines there, as well as information about our CI, contributions tools and workflow. I'm happy to help

[2019-04-10 18:59] MaureenHelm commented on #15247
I don't think this is a watchdog reset. The watchdog gets disabled during boot and doesn't get re-enabled unless you enable the watchdog driver (which we don't by default).

We are getting a usage fault and git bisect is pointing to:
[code]
cc: @andyross

[2019-04-10 21:16] henrikbrixandersen opened #15339 "RISC-V: RV32M1: Load access fault when accessing GPIO port E"
**Describe the bug**
Due to the clock for GPIO port E on the RV32M1 not being enabled, attempting to access any of the port E registers cause a load access fault exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to access GPIO port E registers on the RV32M1 SoC
2. Error reported on console (see further down)

**Expected behavior**
Port E register access succeeds.

**Impact**

[2019-04-10 22:23] zerotri commented on #13434
@galak @ulfalizer As the non-DT_ prefixed macros are being deprecated, is there any plan for generating macro labels that are less hardware specific?

In a prior release I could use an alias to define a macro `SERIAL_RS232_LABEL` that could translate to either `DT_NS16550_SERIAL_RS232_LABEL` or `DT_ST_STM32_USART_SERIAL_RS232_LABEL` depending on which board I was building for. The same code could

[2019-04-11 02:07] #15216 closed

[2019-04-11 03:23] nhauyeneducation commented on #15324
@andrewboie I am porting IoTivity to Zephyr+NRF52. The Iotivity requires makefile but the lastest version of Zephyr is just support Cmake. Then I found Zephyr 1.9.2 is lastest version that support makefile.

@SebastianBoe I changed the toolchain to third-party **arm-none-eabi-gcc** that download from [here](https://launchpad.net/gcc-arm-embedded/+download) and the error disappeared.
Thank your sup

[2019-04-11 03:25] #15324 closed

[2019-04-11 03:42] balajikulkarni commented on #14997
Thank you. I think this issue is already fixed. Need to look at other good first issues. How do show interest in picking up issues for which I could provide a fix? so that no one else is working on the same.

[2019-04-11 06:31] cinlyooi-intel opened #15343 "tests/kernel/interrupt: Assertion Failure in test_prevent_interruption"
**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=qemu_x86
3. make
4. make run

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora29
 - Toolchain zephyr
 - Commit SHA or Version used: 110cab8aa37e0c08824cebae7047a042e56f8377

**Additional context**
Add any other context about the problem her

[2019-04-11 06:34] wentongwu commented on #13003
I agree above design.

It also doesn't take effect to the MPU(for arm) at once in current code if current thread change him-self's memory domain.

[2019-04-11 07:14] eibe85 commented on #15181
You are right about the print macro. I had just looked at the PRINT_LINE macro but at one defined in the wrong place where it was directed to use printf. The one I looked at is not used in ztest.

I think your solution would improve things considerably. It should a low all lines to be printed completely then. At least if the output is parsed you should then get the correct number of SKIP, FAIL and

[2019-04-11 07:25] SebastianBoe commented on #15324
I'm not sure where the root cause is. I am no longer familiar with how 1.9.2 works.

[2019-04-11 08:02] #15236 closed

[2019-04-11 08:17] nhauyeneducation commented on #15324
I was looking in iotivity-lite/port/zephyr/outdir/nrf52_pca10040/zephyr.map and found these lines
 .data          0x00000000        0x0 /opt/gcc-arm-none-eabi-5_4-2016q3/bin/../lib/gcc/arm-none-eabi/5.4.1/armv7e-m/libgcc.a(**_aeabi_uldivmod.o**)
 .bss           0x00000000        0x0 /opt/gcc-arm-none-eabi-5_4-2016q3/bin/../lib/gcc/arm-none-eabi/5.4.1/armv7e-m/libgcc.a(**_aeabi_uldivmod.o**)

It me

[2019-04-11 08:20] jhedberg opened #15345 "hello_world fails to build for qemu_xtensa on macOS"
I've got the xtensa qemu available on macOS, so I was expecting to be able to build and run the qemu_xtensa board. The board documentation doesn't say that it's Linux specific either. However, hello_world doesn't build:
[code]

[2019-04-11 08:21] rveerama1 opened #15346 "VLAN support is broken"
VLAN sample is not working. I tried VLAN sample as per its README file and tried to ping from Linux host. Zephyr receives Neighbor Solicitation and replies NA. But Linux host doesn't receive ping reply. Wireshark shows bogus replies from Zephyr.

[2019-04-11 08:23] jhedberg commented on #15345
I'm assuming I'm just missing the right xtensa toolchain. Any ideas on how to install that for macOS?

[2019-04-11 08:27] SebastianBoe commented on #15324
It could be, but this is not supported, so it would have to be maintained by the user.

[2019-04-11 08:30] overheat commented on #15343
@cinlyooi-intel I can't reproduce it in my environment. It works for for me.
[code]
[code]

[2019-04-11 08:32] jhedberg commented on #15345
I'll close this for now, and reopen if I fail to get things going with the toolchain installed. I assume it's the one at https://docs.espressif.com/projects/esp-idf/en/latest/get-started/macos-setup.html

[2019-04-11 08:33] #15345 closed

[2019-04-11 08:48] cinlyooi-intel commented on #15343
@overheat @wentongwu As it is triggered by an assertion, it definitely did happened. However, I think this might be one of the rarely occurred bug. This is the first time I see in about two weeks worth of daily triaging every possible failure in preparation for 1.14.

[2019-04-11 09:04] #15329 closed

[2019-04-11 09:24] ioannisg opened #15348 "ARM Cortex-M: SysTick: unhandled race condition"
It looks like we are not handling properly a possible race condition in ARM Cortex-M SysTick.

The implementation in `z_clock_set_timeout()` for TICKLESS mode performs the following steps:
1. Disables interrupts
2. Calculates SysTick re-load value based on the desired timeout
3. Re-configures and re-starts the SysTick timer to count-down towards this timeout.
4. Re-enables interrupts.

If, during

[2019-04-11 09:26] RandomReaper opened #15349 "stm32: uart fix pin pull-up"
**Is your enhancement proposal related to a problem? Please describe.**
1. Pull-up are enable on the TX pins of stm32 uart, they are unnecessary and a waste of energy since TX pins are always driven by the peripheral.
2. Pull-ups are not enable on RX pins, this is a problem when the uart is not connected (a shell uart for instance).
( see defines in drivers/pinmux/stm32/pinmux_stm32).

**Describe

[2019-04-11 09:34] ioannisg commented on #15348
FYI @andyross @pizi-nordic

[2019-04-11 10:15] overheat commented on #15349
Good point!

[2019-04-11 10:45] wentongwu commented on #15223
@ioannisg  it seems this enhancement should be done both on ARC and ARMv8. could I take ARMv8's enhancement ? Thanks.

[2019-04-11 11:11] ioannisg commented on #15348
FYI @MaureenHelm @galak
This affects tick-less operation in ARM platforms with SysTick as system timer.

[2019-04-11 11:35] carlescufi commented on #15171
From @Vudentz in the mailing list:

You could perhaps try to increase the buffer pool with:
`CONFIG_BT_L2CAP_TX_BUF_COUNT 5`
If that solves it we may have to consider making the default the number of connection + 1 so we can actually emit notifications to all connection at once, though that doesn't guarantee there is always going to be buffer available if there are more traffic going on.

[2019-04-11 11:59] pizi-nordic commented on #15348
For me this issue is a next call for absolute time in kernel. As the timer is running all the time, the software will always be racing with it. So we either get more interrupts than we want or we lost/delay some of them.
And the code should be prepared to deal with such situations.

[2019-04-11 12:39] erwango opened #15354 "counter: stm32: Issue with LSE clock source selection"
**Describe the bug**
Compilation issue in STM32 counter driver when LSE is the clock source and SoC is not F4.

cf #15351

[2019-04-11 12:51] tautologyclub opened #15355 "Driver for U-Blox SARA modem (used by Particle Boron)"
We're currently working on a driver for the U-Blox Sara modem and I'd like to check if anyone else is working on the same thing. We're planning to upstream our work either way.

Pinging @pabigot (author of Particle Boron board config files).

[2019-04-11 12:54] #15333 closed

[2019-04-11 13:03] tautologyclub commented on #14123
@mike-scott See #15355

[2019-04-11 13:24] SebastianBoe opened #15359 "The docs incorrectly state that common.dts integrates with mcuboot"
The documentation is stating something that is incorrect. It says that;

But in reality common.dts no longer does anything and should be removed. Along with any documentation referencing it.

[2019-04-11 13:31] ioannisg commented on #15334
@carlescufi are we addressing this in 1.14?

[2019-04-11 13:45] nashif commented on #335
![image2018-10-29_20-12-26](https://user-images.githubusercontent.com/180017/55962232-79a38c80-5c3e-11e9-909a-b80e273b9ebd.png)

[2019-04-11 13:45] nashif commented on #335
![image2018-10-29_20-13-37](https://user-images.githubusercontent.com/180017/55962263-87f1a880-5c3e-11e9-94c6-710a6611b3bc.png)

[2019-04-11 13:50] pawelzadrozniak commented on #14882
Fixed in #15360

[2019-04-11 14:39] #15070 closed

[2019-04-11 14:43] ioannisg opened #15361 "nRF timer: investigate race condition when setting clock timeout in TICKLESS mode"
Relates to #15348 , please look there for more details.

The implementation of z_clock_set_timeout() in nRF system timer is as follows:

[code]

The timer is running even after we lock interrupts. If an event is generated while we reprogram the comparator, we are going to get a timer IRQ immediately after we unlock interrupts, and this will make the clock slip a lot, since the timeout could be lon

[2019-04-11 14:52] pizi-nordic opened #15363 "Decoupling system timer from non-timer relaated areas"
At the moment the system timer frequency is used in many places due to lack of infrastructure needed to pass clock information to the drivers and SoC initialization code.

As we are going to have selectable system clock source, this becomes a a problem as system timer frequency might be no longer equal to system bus frequency driving given peripheral, leading to misconfigured devices.

For some pe

[2019-04-11 14:53] pizi-nordic commented on #15363
FYI: @ioannisg, @carlescufi, @mbolivar

[2019-04-11 14:57] rgundi commented on #13223
This is easy to reproduce. Further characterization in progress.

There's exception on the commit ID 69b6cc8 (with workaround for #13710) even after enabling XTENSA_ASM2. That means we don't have an answer to why there's no exception seen on the latest HEAD.

We realized xthal_dcache_region_writeback_inv was not the right API to use and debugged further. Looks like aligning i2s_mem_slab to XCHAL_D

[2019-04-11 15:07] mike-scott commented on #15355
I have a working modem driver for SARA modem here: https://github.com/zephyrproject-rtos/zephyr/pull/14057

[2019-04-11 15:07] SebastianBoe commented on #15363
Last I checked there was no DT binding for the CPU node so AFAICT all CPU DTS code is dead code.

[2019-04-11 15:15] jhedberg opened #15365 "Bluetooth qualification test MESH/SR/HM/CFS/BV-02-C is failing"
The Bluetooth Mesh qualification test MESH/SR/HM/CFS/BV-02-C is failing with latest master

[2019-04-11 15:32] Thea-Aldrich commented on #14997
We have a couple ways that you can see who is working on an issue and get more information about other solutions that may be being considered. Often times, when a solution to an issue is being actively worked on, you'll see reference to a PR that attempts to solve the issue. In this case: https://github.com/zephyrproject-rtos/zephyr/pull/14998.

A good place to start asking is to contact the issue

[2019-04-11 16:32] StefJar commented on #13799
I tried to get it down to a simple example.
So I setup the usb ACM & create an simple rx thread polling on input. In this system are running I2C, SPIs, ADC and UART & DMA transfers. I am running the code on a stm32F412.

To test some code snippet:

[code]

no bytes are coming through

[2019-04-11 16:43] dcpleung commented on #13223
I tested against 7352d2b0c1b912c4e95ef0977cc310f9f427d6ed (which is 69b6cc8956fb6898ba6a2876a331330f8dc37b37 plus fixes in #13710). I was getting exception via `k_mem_slab_free` due to invalid pointers in `slab->wait_q`. The exception went away and the test was working after aligning the buffers to 64 bytes.

[2019-04-11 16:58] tedd-an commented on #15365
Tested with PR above and test still failed.
AutoPTS report:
[MESH_MESH_SR_HM_CFS_BV-02-C.log](https://github.com/zephyrproject-rtos/zephyr/files/3069737/MESH_MESH_SR_HM_CFS_BV-02-C.log)

Sniffer from PTS side:
[MESH_SR_HM_CFS_BV_02_C_2019_04_11_09_52_32.zip](https://github.com/zephyrproject-rtos/zephyr/files/3069748/MESH_SR_HM_CFS_BV_02_C_2019_04_11_09_52_32.zip)

[2019-04-11 17:01] tautologyclub commented on #15355
@mike-scott Wow that's great news!

[2019-04-11 17:20] #15346 closed

[2019-04-11 17:28] balajikulkarni commented on #15159
@StefJar I am interested in taking this one as my first issue. Let me know if I can start working on changes.

[2019-04-11 17:35] carlescufi commented on #15334
@ioannisg yes, we are waiting for a PR from @lemrey

[2019-04-11 17:36] #14954 closed

[2019-04-11 17:36] #14957 closed

[2019-04-11 17:50] #15309 closed

[2019-04-11 17:50] #15348 closed

[2019-04-11 18:24] #15365 closed

[2019-04-11 18:56] PingiliV commented on #4326
Hello, Iam new to zephyr and psoc6. Is there any document or link where i can check the supported features/ Drivers for psoc6 particularly. Also, specific way to check issues related to Psoc6?
Thanks in advance for your effort !
BR
Vinay

[2019-04-11 18:57] PingiliV commented on #6654
Hi, Iam getting this issue while compiling samples/bluetooth/beacon for psoc6. Is this issue resolved?
Any workaround?

[2019-04-11 19:38] ulfalizer opened #15368 "'htmldocs' doc target seems to require sphinx.builders.latex"
When running

[code]

, I get this error after a while:

[code]

I can probably figure out what to install. Just seems weird that `htmldocs` would require latex stuff.

There's also this message when running `cmake`:

[code]

[2019-04-11 19:40] ulfalizer commented on #15368
Oh, wait, maybe the `(exception: No module named 'docutils.utils.roman')` is the real issue. Ignore this bug in that case.

[2019-04-11 19:56] sathishkuttan commented on #13223
That was not the realization. It's the right API if the problem is due to valid data eviction from the cache upon invalidation.

There are a bunch of experiments done and observations made, yet no confirmed root cause. So it is early to say what is the right solution and what is not.

In order to root cause, can you post the memory addresses of the buffers as well as the k_mem_slab structure to se

[2019-04-11 19:57] andrewboie opened #15370 "log_strdup() leaks memory if log message is filtered"
**Describe the bug**
If someone uses log_strdup() to safely log a string, and the logic in __LOG() decides that the message should be dropped, then the string is never freed and its memory in the log_strdup_pool is leaked.

**Expected behavior**
Any invocation of log_strdup() in an instrumentation point should eventually be freed even if the log message is filtered out at runtime.

**Impact**
Even

[2019-04-11 19:59] andrewboie commented on #15370
filed after discussion on Slack with @carlescufi and @jhedberg

[2019-04-11 20:01] carlescufi commented on #15370
I think this is an issue regardless of whether `CONFIG_LOG_RUNTIME_FILTERING` is enabled or not, since the arguments are still evaluated thanks to `log_printf_arg_checker`

[2019-04-11 20:05] andrewboie commented on #11743
Spent some time looking at this today.

First step is to identify the APIs that are intended to be used at the application level. I spoke to @carlescufi and I think we need some re-namespacing; there are lot of APIs, symbols, or macros which start with log_/LOG_ but seem to be intended for internal use by the logging core, or part of an API between the logging core and various log backends, or are

[2019-04-11 20:25] dcpleung commented on #13223
With K_MEM_SLAB_DEFINE onto top of 7352d2b0c1b912c4e95ef0977cc310f9f427d6ed:

[code]

`_k_mem_slab_buf_i2s_mem_slab` is not aligned to cache lines, and the last buffer occupies the same cache line as top of stack for `i2s_thread_id` (which is `_k_thread_stack_i2s_thread_id`).

Without `K_MEM_SLAB_DEFINE`:

[code]

Where the `audio_buffers` occupies from `0xbe0106f0` to `0xbe0112ef` according to GD

[2019-04-11 20:55] sathishkuttan commented on #13223
Good info.

for the record, can you update the comment with the start & end address of audio_buffers for the case "With `K_MEM_SLAB_DEFINE`"?

[2019-04-11 21:23] andrewboie commented on #11743
@nordic-krch can you confirm the above list of application-facing APIs?

[2019-04-11 21:36] dcpleung commented on #13223
There is no `audio_buffers` with `K_MEM_SLAB_DEFINE` as the buffer creation is taken care of by the macro, which in this case is the `_k_mem_slab_buf_i2s_mem_slab`.

[2019-04-11 21:48] ioannisg commented on #15361
I have now investigated this in more detail and I think that the issue we have addressed in #15348 with respect to the SysTick timer does not appear in the nRF RTC timer. Here's is a detailed explanation:

Assume TICKLESS mode for the Kernel.
The problem we addressed in #15348 was, briefly, the fact that a timer wrap during z_clock_set_timeout() could make the timer give an interrupt immediately a

[2019-04-11 21:50] ioannisg commented on #15361
@pizi-nordic please close this issue if you agree with my argumentation.

[2019-04-11 21:59] #15206 closed

[2019-04-11 22:01] #15197 closed

[2019-04-11 22:14] ioannisg commented on #12342
PendSV might take long to execute due to MPU re-programming, FPU save/restore, and possibly other things we do when we swap. I feel this rules out the possibility of raising PendSV prio to highest.

[2019-04-11 22:35] sathishkuttan commented on #13223
OK, I just wanted the address of the buffers and didn't meant to say specifically the `audio_buffers`. I missed the `_k_mem_slab_buf_i2s_mem_slab` earlier.

Agree, this shows that the 1st 32 bytes of a cache line will be that of the buffer and the 2nd 32 bytes of the same cache line will be that of the stack.

It's not aligned to cache line, though. `0xf0` falls in a 48 byte offset, so in this cas

[2019-04-11 22:42] andrewboie opened #15372 "logging can't dump exceptions without losing data with CONFIG_LOG_PRINTK"
I was making some changes to samples/subsys/logging/logger when I noticed that my exception printouts were garbled:

[code]

We're missing some of the call trace and the register dump.

[2019-04-11 22:52] pfl opened #15373 "IPv4 link local packets are not sent with ARP ethernet type"
When testing IPv4 link local address configuration with SAM E70 Xplained board, it was found that the five first packets where Zephyr announces its intended link local address are sent with ethernet type 0x0800, which means IPv4. The packets should instead be sent with ethernet type 0x0806, which is ARP. Wireshark thus sees five bogus IPv4 packets and complains that the IP version in the IPv4 head

[2019-04-11 23:05] dcpleung commented on #13223
This would explain why turning on `CONFIG_STACK_SENTINEL` would cause the stack check to fail. It is possible that the sentinel was set (at top of stack as intended) but never committed to the memory. So the sentinel value only exists in the data cache. When that cache line was invalidated, entire line was read back from memory on next read. The top of stack then contained the value in memory inst

[2019-04-11 23:44] pabigot opened #15374 "PR 15230 introduces test failure for particle_argon"
git bisect identifies 7b1ee5cf13dc4f130b556534bd4c8dd78ceec6c6 as introducing this failure, which blocks testing of #15369.
[code]

[2019-04-12 00:08] dcpleung commented on #13223
Also, with 7352d2b0c1b912c4e95ef0977cc310f9f427d6ed and `K_MEM_SLAB_DEFINE()`, I was always getting double fault exception via GDB. When I changed the MEMCTL value to bypass cache (0x2222fff2, instead of 0x4242fff2), I was no longer getting any exception and the test was running fine. Note that this was done without forced cache alignment. In other words, vanilla 7352d2b0c1b912c4e95ef0977cc310f9f4

[2019-04-12 01:46] #9831 closed

[2019-04-12 02:18] nashif commented on #15374
@andrewboie any idea what is going on here? This is a weird one.

[2019-04-12 03:16] mike-scott commented on #15374
Looks like SPI is enabled but no HW driver is selected.

[2019-04-12 03:51] andrewboie commented on #15316
are you using minimal libc or newlib?
what platform are you running this on?
printk doesn't support floating point at all, I can tell you that

[2019-04-12 04:27] wentongwu commented on #15331
I tested SAM E70, and it works well.
Also it seems board mximxrt1050_evk isn't supported by zephyr so far.
yeah, this issue maybe highly relate to cache. but it highly depends on cache design and how cache is configured.
So can you talk more about your soc's cache and how it's configured, also please attach you map file. Thanks

[2019-04-12 04:39] andrewboie commented on #15374
Userspace is off so the syscall handlers aren't built, so there's nothing to build at all for the driver. @SebastianBoe any idea?

[2019-04-12 04:54] nashif commented on #15374
@mike-scott

the actual offending commit is dd70c6bb92f5da6c8af59665785e70f71647cfc8

you should have

[code]

in Kconfig.defconfig

[2019-04-12 04:58] nordic-krch commented on #11743
@andrewboie the structure of headers were following:
-  `log.h` - API to be used by the modules which are using the logger
- `log_ctrl.h` - API to be used to control the logger - trigger processing (if thread is not used), control filtering, enable backends, etc.
- 'log_instance.h' - API to be used when logger is used to filter on module instance level. Actually, now it can be merged with `log.h`

[2019-04-12 05:03] overheat commented on #14970
@cinlyooi-intel I works with today's source code version, I suppose this bug be fixed by other commits. FYI.
![52840_wd](https://user-images.githubusercontent.com/4322417/56013449-5acaf600-5d23-11e9-9674-9d97f681cefc.png)

[2019-04-12 05:31] mike-scott opened #15379 "foundries.io CI: tests/kernel/mem_protect/stackprot fails on nrf52"
**Describe the bug**
Due to PR: https://github.com/zephyrproject-rtos/zephyr/commit/3e255e968a250b0099518cc2edb539183dd1a98f
sanitycheck now fails on nrf52_blenano2 -- and probably a lot of other arm HW.  (log below in "Screenshots or console output")

Related CI failure:
https://ci.foundries.io/projects/zephyr/builds/5694/sanity-test-nrf52/

**To Reproduce**
Steps to reproduce the behavior:
1. cd

[2019-04-12 05:57] cinlyooi-intel opened #15380 "USAGE FAULT on tests/crypto/rand32/ on sam_e70_xplained"
Occurs for testcase  crypto.rand32.random_hw_xoroshiro.rand32

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=sam_e70_xplained
3. make
4. make run

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - OS: fedora29
 - Toolchain: zephyr
 - Commit SHA or Version used: a69cb036c4e457e66e9bd94549b8151e74229

[2019-04-12 06:13] aescolar commented on #15379
@mike-scott : From your description this seems to not be related to sanitycheck, but to this particular test? Also, Is this test is happening in the Zephyr master branch? If so, the problem would not be related to your CI, or?
If that is the case, could you change the title to be a bit more clear that it just relates to this test and particular board?
(Something like  "tests/kernel/mem_protect/sta

[2019-04-12 06:34] jukkar commented on #15373
Only one assignees at a time please, otherwise it can be unclear who will start to look at the issue.

[2019-04-12 06:34] aasthagr opened #15381 "[Coverity CID :197623]Incorrect expression in /tests/kernel/interrupt/src/nested_irq.c"
Static code scan issues seen in File: /tests/kernel/interrupt/src/nested_irq.c
 Category: Incorrect expression
 Function: offload_function
 Component: Tests
 CID: 197623
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:34] aasthagr opened #15382 "[Coverity CID :197622]Incorrect expression in /tests/kernel/tickless/tickless_concept/src/main.c"
Static code scan issues seen in File: /tests/kernel/tickless/tickless_concept/src/main.c
 Category: Incorrect expression
 Function: test_tickless_sysclock
 Component: Tests
 CID: 197622
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15383 "[Coverity CID :197621]Incorrect expression in /tests/kernel/static_idt/src/main.c"
Static code scan issues seen in File: /tests/kernel/static_idt/src/main.c
 Category: Incorrect expression
 Function: test_static_idt
 Component: Tests
 CID: 197621
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15384 "[Coverity CID :197620]Incorrect expression in /tests/kernel/static_idt/src/main.c"
Static code scan issues seen in File: /tests/kernel/static_idt/src/main.c
 Category: Incorrect expression
 Function: test_static_idt
 Component: Tests
 CID: 197620
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15385 "[Coverity CID :197619]Incorrect expression in /tests/kernel/mem_pool/mem_pool/src/main.c"
Static code scan issues seen in File: /tests/kernel/mem_pool/mem_pool/src/main.c
 Category: Incorrect expression
 Function: test_pool_block_get_wait
 Component: Tests
 CID: 197619
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15386 "[Coverity CID :197618]Error handling issues in /subsys/shell/shell_telnet.c"
Static code scan issues seen in File: /subsys/shell/shell_telnet.c
 Category: Error handling issues
 Function: read
 Component: Other
 CID: 197618
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15387 "[Coverity CID :197617]Incorrect expression in /tests/kernel/common/src/multilib.c"
Static code scan issues seen in File: /tests/kernel/common/src/multilib.c
 Category: Incorrect expression
 Function: test_multilib
 Component: Tests
 CID: 197617
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15388 "[Coverity CID :197616]Null pointer dereferences in /subsys/testsuite/ztest/src/ztest_mock.c"
Static code scan issues seen in File: /subsys/testsuite/ztest/src/ztest_mock.c
 Category: Null pointer dereferences
 Function: z_ztest_get_return_value
 Component: Other
 CID: 197616
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15389 "[Coverity CID :197615]Incorrect expression in /tests/kernel/fatal/src/main.c"
Static code scan issues seen in File: /tests/kernel/fatal/src/main.c
 Category: Incorrect expression
 Function: test_fatal
 Component: Tests
 CID: 197615
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15390 "[Coverity CID :197614]Incorrect expression in /tests/lib/c_lib/src/main.c"
Static code scan issues seen in File: /tests/lib/c_lib/src/main.c
 Category: Incorrect expression
 Function: test_stdint
 Component: Tests
 CID: 197614
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15391 "[Coverity CID :197613]Possible Control flow issues in /subsys/net/ip/net_core.c"
Static code scan issues seen in File: /subsys/net/ip/net_core.c
 Category: Possible Control flow issues
 Function: services_init
 Component: Networking
 CID: 197613
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15392 "[Coverity CID :197612]Integer handling issues in /lib/os/printk.c"
Static code scan issues seen in File: /lib/os/printk.c
 Category: Integer handling issues
 Function: z_vprintk
 Component: Other
 CID: 197612
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15393 "[Coverity CID :197611]Integer handling issues in /lib/os/printk.c"
Static code scan issues seen in File: /lib/os/printk.c
 Category: Integer handling issues
 Function: z_vprintk
 Component: Other
 CID: 197611
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15394 "[Coverity CID :197610]Incorrect expression in /tests/kernel/fatal/src/main.c"
Static code scan issues seen in File: /tests/kernel/fatal/src/main.c
 Category: Incorrect expression
 Function: check_stack_overflow
 Component: Tests
 CID: 197610
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15395 "[Coverity CID :197609]Incorrect expression in /tests/kernel/interrupt/src/nested_irq.c"
Static code scan issues seen in File: /tests/kernel/interrupt/src/nested_irq.c
 Category: Incorrect expression
 Function: isr0
 Component: Tests
 CID: 197609
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15396 "[Coverity CID :197608]Incorrect expression in /tests/lib/c_lib/src/main.c"
Static code scan issues seen in File: /tests/lib/c_lib/src/main.c
 Category: Incorrect expression
 Function: test_limits
 Component: Tests
 CID: 197608
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15397 "[Coverity CID :197607]Incorrect expression in /tests/drivers/uart/uart_async_api/src/test_uart_async.c"
Static code scan issues seen in File: /tests/drivers/uart/uart_async_api/src/test_uart_async.c
 Category: Incorrect expression
 Function: test_write_abort
 Component: Tests
 CID: 197607
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15398 "[Coverity CID :197606]Incorrect expression in /tests/kernel/common/src/irq_offload.c"
Static code scan issues seen in File: /tests/kernel/common/src/irq_offload.c
 Category: Incorrect expression
 Function: test_irq_offload
 Component: Tests
 CID: 197606
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15399 "[Coverity CID :197605]Null pointer dereferences in /subsys/testsuite/ztest/src/ztest_mock.c"
Static code scan issues seen in File: /subsys/testsuite/ztest/src/ztest_mock.c
 Category: Null pointer dereferences
 Function: z_ztest_check_expected_value
 Component: Other
 CID: 197605
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15400 "[Coverity CID :197604]Memory - corruptions in /tests/kernel/mem_protect/userspace/src/main.c"
Static code scan issues seen in File: /tests/kernel/mem_protect/userspace/src/main.c
 Category: Memory - corruptions
 Function: stack_buffer_scenarios
 Component: Tests
 CID: 197604
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15401 "[Coverity CID :197603]Incorrect expression in /tests/kernel/fatal/src/main.c"
Static code scan issues seen in File: /tests/kernel/fatal/src/main.c
 Category: Incorrect expression
 Function: test_fatal
 Component: Tests
 CID: 197603
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15402 "[Coverity CID :197602]Incorrect expression in /tests/kernel/common/src/intmath.c"
Static code scan issues seen in File: /tests/kernel/common/src/intmath.c
 Category: Incorrect expression
 Function: test_intmath
 Component: Tests
 CID: 197602
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15403 "[Coverity CID :197601]Incorrect expression in /tests/kernel/common/src/intmath.c"
Static code scan issues seen in File: /tests/kernel/common/src/intmath.c
 Category: Incorrect expression
 Function: test_intmath
 Component: Tests
 CID: 197601
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15404 "[Coverity CID :197600]Incorrect expression in /tests/lib/c_lib/src/main.c"
Static code scan issues seen in File: /tests/lib/c_lib/src/main.c
 Category: Incorrect expression
 Function: test_stddef
 Component: Tests
 CID: 197600
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15405 "[Coverity CID :197599]Incorrect expression in /tests/kernel/fatal/src/main.c"
Static code scan issues seen in File: /tests/kernel/fatal/src/main.c
 Category: Incorrect expression
 Function: check_stack_overflow
 Component: Tests
 CID: 197599
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15406 "[Coverity CID :197598]Incorrect expression in /tests/drivers/uart/uart_async_api/src/test_uart_async.c"
Static code scan issues seen in File: /tests/drivers/uart/uart_async_api/src/test_uart_async.c
 Category: Incorrect expression
 Function: test_single_read
 Component: Tests
 CID: 197598
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15407 "[Coverity CID :197597]Incorrect expression in /tests/kernel/static_idt/src/main.c"
Static code scan issues seen in File: /tests/kernel/static_idt/src/main.c
 Category: Incorrect expression
 Function: test_static_idt
 Component: Tests
 CID: 197597
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:35] aasthagr opened #15408 "[Coverity CID :197596]Memory - corruptions in /tests/net/lib/mqtt_packet/src/mqtt_packet.c"
Static code scan issues seen in File: /tests/net/lib/mqtt_packet/src/mqtt_packet.c
 Category: Memory - corruptions
 Function: test_mqtt_packet
 Component: Tests
 CID: 197596
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-04-12 06:38] aasthagr commented on #15381
*** CID 197623:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/kernel/interrupt/src/nested_irq.c: 115 in offload_function()
109     ARG_UNUSED(param);
110
111     zassert_true(z_is_in_isr(), "Not in IRQ context!");
112     k_timer_init(&timer, timer_handler, NULL);
113     k_busy_wait(MS_TO_US(1));
114     k_timer_start(&timer, DURATION, 0);

115     zassert_not_equal(check_lock_new, check_loc

[2019-04-12 06:39] aasthagr commented on #15382
*** CID 197622:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/kernel/tickless/tickless_concept/src/main.c: 86 in test_tickless_sysclock()
80     ALIGN_MS_BOUNDARY();
81     t0 = k_uptime_get_32();
82     k_sleep(SLEEP_TICKLESS);
83     t1 = k_uptime_get_32();
84     TC_PRINT("time %d, %d\n", t0, t1);
85     /**TESTPOINT: verify system clock recovery after exiting tickless idle*/

86     zasse

[2019-04-12 06:40] aasthagr commented on #15383
*** CID 197621:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/kernel/static_idt/src/main.c: 157 in test_static_idt()
151     volatile int error;     /* used to create a divide by zero error */
152
153
154     TC_PRINT("Testing to see interrupt handler executes properly\n");
155     _trigger_isr_handler();
156

157     zassert_not_equal(int_handler_executed, 0,
158       "Interrupt handler did

[2019-04-12 06:41] aasthagr commented on #15384
*** CID 197620:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/kernel/static_idt/src/main.c: 172 in test_static_idt()
166      * Use exc_handler_executed instead of 0 to prevent the compiler
167      * issuing a 'divide by zero' warning.
168      */
169     error = 32;     /* avoid static checker uninitialized warnings */
170     error = error / exc_handler_executed;
171

172     zassert_not_e

[2019-04-12 06:41] aasthagr commented on #15385
*** CID 197619:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/kernel/mem_pool/mem_pool/src/main.c: 245 in test_pool_block_get_wait()
239     evidence = 0;
240     rv = k_mem_pool_alloc(&POOL_ID, &block_list[1], 128, K_FOREVER);
241     zassert_true(rv == 0, "k_mem_pool_alloc(128) expected %d, got %d\n", 0, rv);
242
243     switch (evidence) {
244     case 0:

245     zassert_true(evidence ==

[2019-04-12 06:42] aasthagr commented on #15386
*** CID 197618:  Error handling issues  (CHECKED_RETURN)
/subsys/shell/shell_telnet.c: 458 in read()
452     if (read_len > length) {
453     read_len = length;
454     flush = false;
455     }
456
457     *cnt = read_len;

458     net_pkt_read(pkt, data, read_len);
459
460     if (flush) {
461     (void)k_fifo_get(&sh_telnet->rx_fifo, K_NO_WAIT);
462     net_pkt_unref(pkt);
463     }

[2019-04-12 06:43] aasthagr commented on #15387
*** CID 197617:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/kernel/common/src/multilib.c: 26 in test_multilib()
20     void test_multilib(void)
21     {
22     volatile long long a = 100;
23     volatile long long b = 3;
24     volatile long long c = a / b;
25

26     zassert_equal(c, 33, "smoke-test failed: wrong multilib selected");
27     }
28
29     /**
30      * @}

[2019-04-12 06:43] pizi-nordic commented on #15361
Agreed.

[2019-04-12 06:43] #15361 closed

[2019-04-12 06:43] aasthagr commented on #15388
*** CID 197616:  Null pointer dereferences  (FORWARD_NULL)
/subsys/testsuite/ztest/src/ztest_mock.c: 226 in z_ztest_get_return_value()
220
221     if (!param) {
222     PRINT("Failed to find return value for function %s\n", fn);
223     ztest_test_fail();
224     }
225

226     value = param->value;
227     free_parameter(param);
228
229     return value;
230     }
231

[2019-04-12 06:44] aasthagr commented on #15389
*** CID 197615:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/kernel/fatal/src/main.c: 236 in test_fatal()
230     TC_PRINT("test alt thread 1: generic CPU exception\n");
231     k_thread_create(&alt_thread, alt_stack,
232     K_THREAD_STACK_SIZEOF(alt_stack),
233     (k_thread_entry_t)alt_thread1,
234     NULL, NULL, NULL, K_PRIO_COOP(PRIORITY), 0,
235     K_NO_WAIT);

236     zassert_not_eq

[2019-04-12 06:44] aasthagr commented on #15390
*** CID 197614:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/lib/c_lib/src/main.c: 106 in test_stdint()
100      * @brief Test integer types library
101      *
102      */
103
104     void test_stdint(void)
105     {

106     zassert_true((unsigned_int + unsigned_byte + 1u == 0U), NULL);
107
108     }
109
110     /*
111      * variables used during string library testing

[2019-04-12 06:45] aasthagr commented on #15391
*** CID 197613:  Possible Control flow issues  (DEADCODE)
/subsys/net/ip/net_core.c: 436 in services_init()
430     static inline int services_init(void)
431     {
432     int status;
433
434     status = net_dhcpv4_init();
435     if (status) {

436     return status;
437     }
438
439     dns_init_resolver();
440
441     net_shell_init();

[2019-04-12 06:46] aasthagr commented on #15392
*** CID 197612:  Integer handling issues  (CONSTANT_EXPRESSION_RESULT)
/lib/os/printk.c: 197 in z_vprintk()
191     u32_t u;
192
193     if (long_ctr == 0) {
194     u = va_arg(ap, unsigned int);
195     } else if (long_ctr == 1) {
196     long lu = va_arg(ap, unsigned long);

197     if (lu > INT32_MAX) {
198     print_err(out, ctx);
199     break;
200     }
201     u = (u32_t)lu;
202     } else

[2019-04-12 06:46] aasthagr commented on #15393
*** CID 197611:  Integer handling issues  (CONSTANT_EXPRESSION_RESULT)
/lib/os/printk.c: 166 in z_vprintk()
160     s32_t d;
161
162     if (long_ctr == 0) {
163     d = va_arg(ap, int);
164     } else if (long_ctr == 1) {
165     long ld = va_arg(ap, long);

166     if (ld > INT32_MAX || ld < INT32_MIN) {
167     print_err(out, ctx);
168     break;
169     }
170     d = (s32_t)ld;
171     } else

[2019-04-12 06:47] aasthagr commented on #15394
*** CID 197610:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/kernel/fatal/src/main.c: 202 in check_stack_overflow()
196     K_THREAD_STACK_SIZEOF(alt_stack),
197     #endif /* CONFIG_STACK_SENTINEL */
198     (k_thread_entry_t)handler,
199     NULL, NULL, NULL, K_PRIO_PREEMPT(PRIORITY), flags,
200     K_NO_WAIT);
201

202     zassert_equal(crash_reason, _NANO_ERR_STACK_CHK_FAIL,
203

[2019-04-12 06:47] aasthagr commented on #15395
*** CID 197609:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/kernel/interrupt/src/nested_irq.c: 72 in isr0()
66     void isr0(void *param)
67     {
68     ARG_UNUSED(param);
69     printk("%s running !!\n", __func__);
70     k_busy_wait(MS_TO_US(10));
71     printk("%s execution completed !!\n", __func__);

72     zassert_equal(new_val, old_val, "Nested interrupt is not working\n");
73     }

[2019-04-12 06:48] aasthagr commented on #15396
*** CID 197608:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/lib/c_lib/src/main.c: 54 in test_limits()
48      *
49      */
50
51     void test_limits(void)
52     {
53

54     zassert_true((long_max + long_one == LONG_MIN), NULL);
55     }
56
57     /**
58      *
59      * @brief Test boolean types and values library

[2019-04-12 06:48] aasthagr commented on #15397
*** CID 197607:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/drivers/uart/uart_async_api/src/test_uart_async.c: 302 in test_write_abort()
296
297     uart_tx(uart_dev, tx_buf, 95, 100);
298     uart_tx_abort(uart_dev);
299     zassert_equal(k_sem_take(&tx_aborted, 100), 0, "TX_ABORTED timeout");
300     if (sent != 0) {
301     zassert_equal(k_sem_take(&rx_rdy, 100), 0, "RX_RDY timeout");

3

[2019-04-12 06:49] aasthagr commented on #15398
*** CID 197606:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/tests/kernel/common/src/irq_offload.c: 46 in test_irq_offload()
40      */
41     void test_irq_offload(void)
42     {
43     /**TESTPOINT: Offload to IRQ context*/
44     irq_offload(offload_function, (void *)SENTINEL_VALUE);
45

46     zassert_equal(sentinel, SENTINEL_VALUE,
47     "irq_offload() didn't work properly");

[2019-04-12 06:49] aasthagr commented on #15399
*** CID 197605:  Null pointer dereferences  (FORWARD_NULL)
/subsys/testsuite/ztest/src/ztest_mock.c: 196 in z_ztest_check_expected_value()
190     param = find_and_delete_value(&parameter_list, fn, name);
191     if (!param) {
192     PRINT("Failed to find parameter %s for %s\n", name, fn);
193     ztest_test_fail();
194     }
195

196     expected = param->value;
197     free_parameter(param);
19

[2019-04-12 06:50] aasthagr commented on #15400
*** CID 197604:  Memory - corruptions  (ARRAY_VS_SINGLETON)
/tests/kernel/mem_protect/userspace/src/main.c: 991 in stack_buffer_scenarios()
985      * the stack pointer.
986      *
987      * First test does direct read & write starting at the estimated
988      * stack pointer up to the highest addresses in the buffer
989      */
990     stack_ptr = &val;

991     for (pos = stack_ptr; pos < stac

[2019-04-12 06:55] mike-scott commented on #15379
@aescolar sanitycheck runs this for nrf52 hardware.  The "easy" way to reproduce is to run just this test.  The actual regression was found via sanitycheck for real HW.

I don't see the issue with the description.

[2019-04-12 06:57] mike-scott commented on #15379
Note: this test will probably fail on a lot more hardware than just nrf52_blenano2.

I'll adjust the title to mention the test specifically.

[2019-04-12 07:11] OlegKapshii commented on #4326
Hello,
All available documentation is in boards/arm/cy8ckit_062_wifi_bt_m0 (m4) doc folders. There are also some links to Cypress PSoC6 resources. At the moment, there is a basic PSoC6 support added (cy8ckit_062_wifi_bt board), a device tree created, a sample project can be compiled and loaded into a PSoC6 board (hello_world e.g.).
There are two UART ports in the device tree: one for CM0 core, one

[2019-04-12 07:34] wentongwu commented on #15379
@mike-scott how you trigger the CI test, Thanks? Actually this change passed the CI test before checkin.

[2019-04-12 07:52] aescolar commented on #15399
False positive. Confirmed by @mtpr-ot ("the ztest_test_fail() will abort the process if param == NULL, so no NULL pointer dereference is possible."). Flagged as false positive.

[2019-04-12 07:52] #15399 closed

[2019-04-12 07:53] aescolar commented on #15388
False positive. Confirmed by @mtpr-ot ("the ztest_test_fail() will abort the process if param == NULL, so no NULL pointer dereference is possible."). Flagged as false positive in the tool..

[2019-04-12 07:53] #15388 closed

[2019-04-12 07:55] cinlyooi-intel opened #15411 "tests/kernel/critical: Continuous reboot at test_critical"
**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=sam_e70_xplained #also arduino_due
3. make
4. make run

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora29
 - Toolchain: zephyr
 - Commit SHA or Version used: a69cb036c4e457e66e9bd94549b8151e74229598

[2019-04-12 09:08] nordic-krch commented on #15370
That sounded scary but I don't think that such thing will happen. That is because __LOG macro finally resolves to something like:
[code]
so even in runtime if flag is resolved to false arguments will not be evaluated. Same goes for prinf_arg_checker which is never executed (only goes through compiler).

That was the intention to ensure that arguments are not evaluated when not used.

To be on the

[2019-04-12 09:19] carlescufi commented on #15370
@nordic-krch that makes sense. I will close this issue, thanks for the explanation

[2019-04-12 09:19] #15370 closed

[2019-04-12 09:34] nordic-krch commented on #15372
yes, that is because that part is called before log_panic occurs. In that case, printk content is formatted to a stirng and stored in the logger buffer. Since the content is stored and not log message like in standard logs it consumes more space in the buffer (approx string length + >20bytes). With series of such messages buffer can get full quite fast.

There are two options:
- bigger buffer
- re

[2019-04-12 09:35] rgundi commented on #13223
Upon configuring the memmap_cache_attr to 0x4212FFF2, I do not see the issue anymore with both static K_MEM_SLAB_DEFINE and the dynamic k_mem_slab (latest HEAD a942fc). The cache attribute is set to "write through" for the memory addresses in this case.

[2019-04-12 09:45] StefJar commented on #15159
thx for taking this issue. There are several functions defined but not necessary implemented in the stdlib.

Think a good approach is to have a look how the Linux guys are handling this problem.

IMHO these functions like bsearch, qsort etc. should stay out of the stdlib to have a general small lib footprint.

[2019-04-12 10:31] StefJar opened #15419 "reset and halt function"
It would be great to have an "reset" or "halt" function, which can be called form user space.

Use cases:
-  something got bad inside the app
- own firmware upgrades via own bootloader written with ZephyrOS

[2019-04-12 10:36] StefJar opened #15421 "setting the system/logging time"
So far there is no access to set the system/log time via function call. This can be extremely useful, when having distributed systems. Fusing the logs from the different nodes is done via merge and sort by time. To get a full log - let me call it "system log"  - of the whole system(=multiple devices) a common reference time is needed.

[2019-04-12 10:52] aescolar commented on #15419
`sys_reboot` does not fulfill your needs?

[2019-04-12 10:56] jukkar commented on #15373
BTW, there is net_pkt flag for storing necessary info. It is called ipv4_auto_arp_msg, it seems that it is not set or checked properly in the code.

[2019-04-12 11:17] StefJar commented on #15419
thanks - almost there
1st) for me a bit confusing, that a "sys_reboot" function can be activated under boot options
2nd) a halt function which stops the system but does not a reboot. This is useful for error search

[2019-04-12 11:31] aescolar commented on #15419
@StefJar I assign @andrewboie as I hope he can help be more useful in this discussion

[2019-04-12 12:35] #15386 closed

[2019-04-12 12:38] #15169 closed

[2019-04-12 12:40] nashif commented on #15404
[code]

[2019-04-12 12:46] #15168 closed

[2019-04-12 12:46] #15381 closed

[2019-04-12 12:46] #15382 closed

[2019-04-12 12:46] #15383 closed

[2019-04-12 12:46] #15384 closed

[2019-04-12 12:46] #15385 closed

[2019-04-12 12:46] #15387 closed

[2019-04-12 12:46] #15389 closed

[2019-04-12 12:46] #15390 closed

[2019-04-12 12:46] #15394 closed

[2019-04-12 12:46] #15395 closed

[2019-04-12 12:46] #15396 closed

[2019-04-12 12:46] #15397 closed

[2019-04-12 12:46] #15398 closed

[2019-04-12 12:46] #15401 closed

[2019-04-12 12:46] #15402 closed

[2019-04-12 12:46] #15403 closed

[2019-04-12 12:46] #15404 closed

[2019-04-12 12:46] #15405 closed

[2019-04-12 12:46] #15406 closed

[2019-04-12 12:46] #15407 closed

[2019-04-12 13:29] nashif commented on #15379
CI does not run on real HW

[2019-04-12 13:40] ioannisg commented on #15411
Some issue with the watchdog, perhaps?

[2019-04-12 14:06] #15379 closed

[2019-04-12 14:24] finikorg commented on #13799
@StefJar Thanks, I will check this issue, I am thinking about using ring_buf for TX path also.

[2019-04-12 14:57] galak commented on #15393
This is a duplicate of 13843, Coverity triggered due to:

commit 4aa48833d812ca56b62226462d48da24fb9bf756 (upstream/topic-sensors)
Author: Patrik Flykt <patrik.flykt@intel.com>
Date:   Thu Mar 14 19:42:51 2019 -0600

    subsystems: Rename reserved function names

[2019-04-12 14:57] #15393 closed

[2019-04-12 14:58] galak commented on #15392
This is a duplicate of 13843, Coverity triggered due to:

commit 4aa4883 (upstream/topic-sensors)
Author: Patrik Flykt patrik.flykt@intel.com
Date: Thu Mar 14 19:42:51 2019 -0600

subsystems: Rename reserved function names

[2019-04-12 14:58] #15392 closed

[2019-04-12 15:10] nashif commented on #15411
bisected and found f0835674a31da824c3b9cfb6a68376960975e07d to be guilty from pr #14961

[2019-04-12 15:16] MaureenHelm commented on #15411
Reproduced on frdm_k64f

[2019-04-12 15:17] nashif commented on #15411
that bisect is wrong , tested on v1.14.0-rc3-41-gc240b69956 and it worked fine, looking into it

[2019-04-12 15:19] MaureenHelm commented on #15411
@ioannisg It looks like a systick occurring during mpu dynamic reconfiguration

[code]

[2019-04-12 15:21] avisconti opened #15429 "shields: improve cmake to define/extract pinmux and defconfig info"
## Introduction

Currently shields are able to provide dts specific info thru an overlay file, which gets parsed
by cmake in order to extend the host board dts with the shield information.

---
Ex:
boards/shields/x_nucleo_iks01a1/x_nucleo_iks01a1.overlay

/*
 *
 * Copyright (c) 2018 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&arduino_i2c {

	hts221@5f {
		compatible = "st,hts221

[2019-04-12 15:24] nashif commented on #15411
2895da02a44980e901fbcdd7ec87edc2016605c5

[2019-04-12 15:24] nashif commented on #15411
@MaureenHelm @ioannisg  got to the same systick commit.

[2019-04-12 15:24] avisconti commented on #15429
@erwango @galak
Can you take a look to this RFC, pls?
I'm not sure how to proceed here.
I'm about to support a ST shield with microphones on-board.

[2019-04-12 15:27] mike-scott commented on #15429
@avisconti: can you take a look here? https://github.com/zephyrproject-rtos/zephyr/pull/14057

[2019-04-12 15:43] avisconti commented on #15429
It looks like exactly what I was talking about here. With much more details of what I was able to
describe here.

So, the work seems a bit spread into different needa, but I'm particularly looking at the "boards: shields: introduce SparkFun u-blox SARA-R4 shield" commit, where I can see that you are addressing some of my points (like how to extend the host board config file)

[2019-04-12 15:53] avisconti commented on #15429
@mike-scott
Correct me if I'm wrong. It seems that in the shield you may define

1. a per-board dts overlay (.overlay) file and/or a config (.conf) file
2. a shield dts overlay file and/or config file common for all boards

Next week I'll take a look to it more deeply. Thx for pointing me to your work!

[2019-04-12 16:28] andrewboie commented on #15400
this is a false positive, I dismissed in Coverity

[2019-04-12 16:28] #15400 closed

[2019-04-12 16:29] andrewboie commented on #15419
`> a halt function which stops the system but does not a reboot. This is useful for error search

k_panic() does this

[2019-04-12 16:34] andrewboie commented on #11743
There's really no such thing as 'indirect public', it's just the macros that are public. These functions need to be renamed.

[2019-04-12 18:04] ioannisg commented on #15411
OK, I am going to look at it now. Worst case we will have to revert that SysTick event-clear commit

[2019-04-12 19:18] ioannisg commented on #15411
@MaureenHelm thanks for the GDB output. Could you also post the test print log?

A bit confused: SystTick interrupt during PendSV (Context-switch) should be happening all the time.

[2019-04-12 19:19] carlescufi commented on #15419
Summarizing the answers:

- `sys_reboot()` will reboot the MCU
- `k_panic()` will halt the system

[2019-04-12 19:19] #15419 closed

[2019-04-12 19:23] pfl commented on #15373
PR #15433 is now fixing the ARP packet type and address issue. There seems to be an excess of 18 bytes attached to the ARP packets as well.

[2019-04-12 19:36] ioannisg commented on #15411
Now I am totally confused. The test is passing on nRF52, nRF52840 on current master.
It passes when I change the nRF52 to use the SysTick instead of the nRF RTC timer.
At the moment I have no access to non-Nordic HW to test this one.

[2019-04-12 19:38] ioannisg commented on #15411
[code]

[2019-04-12 19:47] vslapik commented on #12261
Sorry, I don't have access to the HW anymore, no updates on it.

[2019-04-12 20:13] andrewboie commented on #15411
I tested on two boards, sam_e70_xplained and frdm_k64f. It reboots over and over on both.

@ioannisg do you have any frdm_k64f boards?

[2019-04-12 20:15] ioannisg commented on #15411
At my current location, no, @andrewboie .

[2019-04-12 20:17] MaureenHelm commented on #15411
The test hangs on mimxrt1050_evk.

If I revert commit 2895da02a44980e901fbcdd7ec87edc2016605c5, the test passes on frdm_k64f and mimxrt1050_evk.

[2019-04-12 20:42] MaureenHelm commented on #15247
I think this is related to #15411. The same suspicious commit 2895da02a44980e901fbcdd7ec87edc2016605c5 changes this test from failing to passing!

[2019-04-12 20:47] andrewboie commented on #12342
I'm very confused by this assertion, I don't think this is true at all. You're not going to lose this, look at x86's code (or indeed, every arch except ARM). We track in the kernel the nested exception count, we only call swap once the last exception has been processed. We don't call swap at the end of every nested exception!

Also FWIW, for irqs that have extremely sensitive latencies we already

[2019-04-12 20:52] andrewboie commented on #15247
@MaureenHelm I think you may be onto something. For unrelated reasons I was looking into the implementations of tests/kernel/critical and tests/posix/common for #14642 . These two tests have something in common: they both do a crazy amount of context switch thrashing between various threads.

So if we have some kind of race condition involved with context switching, it's reasonable for both these

[2019-04-12 21:25] nashif commented on #15247
this bug however was opened before 2895da0 was committed...

[2019-04-12 21:26] MaureenHelm commented on #15247
The test fails before that commit and passes after it.

[2019-04-12 21:28] nashif commented on #15247
oh, I misread the comment above

[2019-04-12 21:31] ioannisg commented on #15247
This makes me think the root-cause of these fails might be on kernel - not on the timer driver side.

[2019-04-12 21:36] arewhyan opened #15435 "device fails to boot when spi max frequency set above 1000000"
I'm using MCUboot on  a device w/ an STM32L4 and an external W25QXX flash part connected via SPI.

        spi-flash@0 {
                #address-cells = <1>;
                #size-cells = <1>;
                compatible = "winbond,w25q16";
                reg = <0>;
                spi-max-frequency = <1000000>;
                label = "W25QXXDV";

With the spi-max-frequency set to 1000000, the d

[2019-04-12 21:43] nashif commented on #15247
the test fails if you add CONFIG_BOOT_DELAY=1000

[2019-04-12 21:45] wentongwu commented on #15411
I tested it yesterday with sam_e70_xplained also, it behaved as Cinly mentioned.

[2019-04-12 21:54] arewhyan commented on #15435
What debug options are necessary to debug Zephyr on STM32? These are the only options I have set.

set *0xE0042004 = (*0xE0042004) | 0x7
set *0xE0042008 = (*0xE0042008) | 0x1000

Any breakpoint I set prior to mcuboot main, causes the debugger (TrueSTUDIO) to exit. I'm able to debug MCUboot code fine.

[2019-04-12 21:59] #13223 closed

[2019-04-12 22:29] andyross commented on #15247
This board has a watchdog, right?  Is it just that the boot delay is happening with interrupts locked and/or in a state where the watchdog hasn't been set up for the right timeout yet?

[2019-04-12 22:45] MaureenHelm commented on #15247
The watchdog gets disabled very early in the boot process before the delay, and doesn't get reenabled unless `CONFIG_WATCHDOG=y`. I'm also able to reproduce this without the boot delay.

[2019-04-13 02:39] ulfalizer commented on #15368
Some Sphinx uninstalling/reinstalling fixed it. Not convinced this is a real issue, so I'll close for now.

[2019-04-13 02:39] #15368 closed

[2019-04-13 13:01] markusr commented on #15259
I also want to use CAN on ```nucleo_l432```. There is no additional CAN hardware attached.

I added to both  ```proj.conf```
[code]

For  ```samples/net/sockets/can``` the output is

[code]

For  ```samples/drivers/CAN``` the output is:
[code]

It seems that ```HAL_CAN_Init```returns a timeout.

Maybe there are 2 problems:
- can-driver on stm32_l4 series does not work
- socketcan fails if can-driv

[2019-04-13 14:03] alexanderwachter commented on #15259
@markusr the CAN controller fails during initialization because you don't have a CAN transceiver attached. The controller only initializes correctly if there are at least 11 cycles recessive state (high value at the CAN_RX pin) during initialization.

[2019-04-13 14:11] alexanderwachter commented on #14918
@SebastianStumm The logg looks good actually. Except it doesn't stop sending. I think this behavior is not related to the CAN driver. Can you run the test cases? The location is `zephyr/tests/drivers/can/api/`.
You can build and flash them with logging enabled. If you see SUCCESS at the end, everything is fine.

[2019-04-13 14:36] pfl commented on #15373
Fixed also.

[2019-04-13 20:48] atx opened #15443 "usb_dc_stm32: Missing semaphore initialization and missing pin remapping configuration"
Described in the commits of PR #9412

[2019-04-14 10:57] SebastianStumm commented on #14918
@alexanderwachter I also don't think it's the CAN driver. I ran the tests with the following result:
[code]

I also modified the sample by adding a work thread which sends "Hallo Welt" each 5 seconds and this seems to work just fine. So I assume the problem lays outside of the can driver itself, maybe the gpio/user-button.
[code]
Should I do a pr now for the CAN controller or try to figure out why

[2019-04-14 11:23] alexanderwachter commented on #14918
Go for it!
If you have time to figure it out you can do that but as long as the CAN driver works, I'm fine with it.

[2019-04-14 11:54] jukkar commented on #14581
@mike-scott I think we have all the information already in network interface for what you want. As you have some specific use case on mind, could you propose an API how the information in network interface could be used for that?

[2019-04-14 13:34] aescolar commented on #15133
@ioannisg Can you help here?

[2019-04-14 14:13] nashif commented on #15380
I think it is still the same issue as #13935

[2019-04-14 14:13] #15380 closed

[2019-04-14 15:28] ioannisg commented on #15133
A bit confused here, are you talking about an external interrupt controller, not NVIC?

[2019-04-14 18:05] lucaspeixotot opened #15444 "Error initiating sdhc disk"
I tried to run samples/subsys/fs and I got error in `disk_access_init()` function. Tracking the problem, I noticed that the error was at the beginner of the communication between mcu and sdhc, when the mcu needs to send some CMD messages to initiate the communication. The error was, more specifically, in the sending of CMD9(SDHC_SEND_CSD) message.

[code]

If we look `sdhc_cmd_r1_raw()` function,

[2019-04-15 02:29] cinlyooi-intel opened #15446 "ssanitycheck --coverage -p mps2_an385: Some remaing test cases that are still failing"
**Describe the bug**
There are two cases that generate Hardware failure, and one that generates an Assertion Failure.
sanitycheck (without coverage) passed for all the test case noted here.

**To Reproduce**
[code]

**Screenshots or console output**
 37/214 mps2_an385                tests/kernel/mem_protect/stackprot/kernel.memory_protection FAILED: timeout
	see: sanity-out/mps2_an385/tests/kernel

[2019-04-15 02:34] cinlyooi-intel opened #15447 "sanitycheck --coverage -p qemu_x86: Fatal failures with tests/kernel/pipe/pipe/kernel.pipe"
**Describe the bug**
When running coverage, tests/kernel/pipe/pipe/kernel.pipe generates a lot of serious failures not observed on other platforms.

I confirmed that the test case ran successfully if I am not trying to generate coverage data

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Screenshots or console output**
[code]

**Environment (please complete the following information):

[2019-04-15 03:13] chaos4284 opened #15448 "help to use zephyr-ninja flash of st_nucleo_l476rg"
My system is WUL(Ubuntu 18.04) of Windows 10.
I can cmake the project sample/hello_world, then when I flash to the board the error open:

    [0/1] Flashing nucleo_l476rg
    Using runner: openocd
    Open On-Chip Debugger 0.10.0+dev-g0b1cbf175-dirty (2019-03-08-20:54)
    Licensed under GNU GPL v2
    For bug reports, read
      http://openocd.org/doc/doxygen/bugs.html
    Info : The selected tra

[2019-04-15 03:15] cinlyooi-intel opened #15449 "tests/net/ieee802154/crypto: Assertion Failure: ds_test(dev) is false"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=quark_se_c1000_devboard -Darch=x86
3. make
4. make run

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora29

[2019-04-15 04:24] hongshui3000 commented on #2746
I wonder if there is any plan to support it in future roadmap?

[2019-04-15 07:25] nordic-krch commented on #15421
do you mean providing external function for timestamping?

https://github.com/zephyrproject-rtos/zephyr/blob/06ab394f05c0d7561a815cbaf4e7131fe91510f1/include/logging/log_ctrl.h#L65

[2019-04-15 08:47] MarekPieta opened #15451 "doc: settings Misleading examples"
In both examples function `foo_settings_set` is used as `.h_set` callback. There is `settings_val_read_cb(value_ctx, &foo_val, sizeof(foo_val));` used as return value. The function typically returns number of bytes read, which is treated as error code by callback (when there is no error, zero should be returned).
This makes documentation misleading for reader.

[2019-04-15 09:10] #15145 closed

[2019-04-15 09:22] jukkar commented on #15259
This is basically hw configuration/setup issue, meaning that the transceiver is missing -> closing.

[2019-04-15 09:22] #15259 closed

[2019-04-15 09:26] balajikulkarni commented on #15159
@StefJar You are right. In case of Linux, this is implemented as part of separate **lib**, instead of having it done as part of **stdlib**.
I see we do have zephyr/lib/libc/minimal/ which includes these kinds of utilities. Would this be the right place to have bsearch implemented as well? If not please suggest the right one.

[2019-04-15 10:28] SebastianBoe opened #15453 "Kconfig should enforce that at most one Console driver is enabled at a time"
**Is your feature request related to a problem? Please describe.**
As the Kconfig sources are written today multiple Console drivers can be enabled simultaneously, but this results in an invalid configuration as only one Console driver should be enabled at a time.

**Describe the solution you'd like**
Kconfig should enforce somehow, for instance through a 'choice' construct, that only one Console

[2019-04-15 15:02] galak opened #15460 "build failures tests/drivers/counter/counter_basic_api/peripheral.counter"
[code]

[2019-04-15 15:07] alexanderwachter commented on #15259
@dykon @markusr you can write me on slack if you have any further questions.

[2019-04-15 15:33] gnuless opened #15463 "soc/x86/apollo_lake/soc_gpio.h: leading zeros on decimal constants"
**Describe the bug**

Some constants intended to be in base 10 are unintentionally in base 8, and are therefore malformed, e.g.,:

`#define APL_GPIO_8                      08`

The leading zeroes should be stripped.  The compiler will choke on these if they're used.

[2019-04-15 15:53] galak opened #15465 "Fix build failures for test_newlib & tests/lib/mem_alloc/libraries.libc.newlib w/ARM gcc"
[code]

[2019-04-15 18:06] andyross commented on #15279
Can you turn this into some example code that shows a corrupt block?  I don't think this is correct.

It's true that blocks are not required to be a full aligned power-of-four size and that breaking into four can result in trailing blocks that overlap, but the code handles that by adding only the accessible subblocks to the list.  That overlapping one you think you are seeing is a phantom; it neve

[2019-04-15 21:16] pfl opened #15472 "DNS resolver sample sends only one A query"
samples/net/dns_resolve/README.md seems to indicate that both A and AAAA queries for www.zephyrproject.org would be sent when IPv4 and IPv6 are enabled. Also there are two DNS entries in the example, one for IPv6 and one for IPv4.

What actually happens is that only one A query is sent to the first DNS server, no AAAA queries are sent nor is the second DNS server used.  MDNS messages are not sent

[2019-04-16 00:37] #15247 closed

[2019-04-16 00:42] #15463 closed

[2019-04-16 00:48] nashif commented on #15411
posted a workaround and kept bug open.

[2019-04-16 00:54] #15460 closed

[2019-04-16 02:46] fulong82 opened #15477 "Zephyr network stack will up the Ethernet interface after its driver initialized (regardless of actual status)"
**Describe the bug**
During the Zephyr boot up, if the network interface does not connect any cable, network stack will still up every network interfaces.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=up_squared ../
3. make
4. boot up Zephyr without connecting network cable
5. perform network transaction

**Expected behavior**
During Zephyr boot up, n

[2019-04-16 09:13] vonhust opened #15481 "object_access in common-rom.ld missed GROUP_LINK_IN(ROMABLE_REGION)"
**Describe the bug**
It seems that the `object_access` in linker/common-rom.ld missed  GROUP_LINK_IN(ROMABLE_REGION).

The correct definition should be
[code]

Without  **GROUP_LINK_IN(ROMABLE_REGION)**, the .object_access.* may be put in region starting from 0x0.  And if the ROMABLE_REGION does not start from 0x0, error will come out during zephyr initialization.

**To Reproduce**
Steps to reprod

[2019-04-16 09:38] vonhust opened #15483 "add mpu and fpu support for arc iotdk"
ARC iotdk is equipped with hardware fpu and ARC MPUv2.  The current support doesn't include the configuration of MPU and fpu.

[2019-04-16 09:42] jukkar commented on #15472
Hmm, works for me. Below is capture from wireshark
[code]

[2019-04-16 10:24] pdunaj commented on #13316
We need to reopen this one as we see problem with it.
@kapi-no when gatt is notified about connection error is not checked. It can happen that connection failed and in this case notification will still be sent. We observe that when direct advertised connection fails.

[2019-04-16 10:32] StefJar commented on #15159
Think from an end-user perspective it only counts, that the linker finds the symbols defined in the stdlib.h.
Usually the linker does dead code elimination. Means that if you compiled a function, but not using it it gets removed. We can use this mechanism and add an extra lib like bsearch.lib, qsort.lib etc. and let the linker do the dirty removal work for us.
Additional we can add a section at kc

[2019-04-16 10:53] StefJar commented on #15421
Don't get me wrong - I like to have 2 additional function at the API:
- set_systime(date d, time t)
- get_timestamp(timestamp * t)

**Why I like to have set_systime?**
my typical log:
[code]
if my system(multiple devices) have a central time server that syncs every time in my system. Imagine something like [NTP](https://en.wikipedia.org/wiki/Network_Time_Protocol)

For example if you building a em

[2019-04-16 10:56] StefJar commented on #15419
maybe we can add this information to the kernel API documentation

[2019-04-16 11:00] wentongwu commented on #15139
studying futex these days, sys_sem's implementation highly depends on userspace's API of futex, it seems most of the work is on futex side.

[2019-04-16 11:14] rlubos commented on #15408
False positive

[2019-04-16 11:14] #15408 closed

[2019-04-16 11:39] balajikulkarni commented on #15159
I have the changes ready and tested locally. I have added couple of new files under libc for now (bsearch.h and bsearch.c).
But I didn't get the last part on adding section to kconfig and getting these lib activated by default. Could you please share some reference or some more details on how I can achieve this?

[2019-04-16 11:43] pfalcon commented on #15193
Well, it tests at least something, specifically what it could (easily) test. And for what it tested, the logic is correct, so updating the ticket title.

[2019-04-16 12:55] #8734 closed

[2019-04-16 13:32] StefJar commented on #13799
small update. I changed a bit the test code to make it more convinent with the sample. I am attaching it at the end of the post.

First experiences:
- waiting for data ready leading to working rx
- the tx is working a bit longer till it breaks
- after tx error "<err> usb_dc_stm32: Unable to write ep 0x82 (-16)" the tx never recovers

My test code:
[code]

[2019-04-16 13:40] dmazzella opened #15486 "usb composite MSC + HID (with CONFIG_ENABLE_HID_INT_OUT_EP)"
**HW: NRF52840 (pca10059).**
I have tried to build a composite device with MSC (ram or flash) + HID with  CONFIG_ENABLE_HID_INT_OUT_EP.

On Linux and MacOS work fine, but on Windows i have problem.

Attached minimal test build with prj_nrf52840_pca10059.conf.

[hid_w_out_ep-mass.zip](https://github.com/zephyrproject-rtos/zephyr/files/3085596/hid_w_out_ep-mass.zip)

Attached screenshots.

![hid_w_o

[2019-04-16 13:50] pfl commented on #15472
This is the query I don't see, I wonder why. But notice that only the first DNS server is consulted, not the second one. Let me investigate...

[2019-04-16 14:18] raveslave commented on #11172
+1

[2019-04-16 14:23] timork commented on #11172
@nashif Any plans for the item in V2.x?

[2019-04-16 14:36] galak commented on #15465
Looks like when we link the newlib we get has a bunch of FP stuff we don't need thus bloating the size.

[2019-04-16 14:40] SebastianBoe opened #15489 "Support configuring buffer sizes based on application configuration"
**Is your feature request related to a problem? Please describe.**

I would like to have an application that has optional C sources or features that are enabled/disabled through KConfig. This is well supported through specifying a KCONFIG_ROOT and writing app-specific build scripts.

But I need more, I need in-tree Kconfig-controllable buffer sizes, like SYSTEM_WORKQUEUE_STACK_SIZE, to be adjusted

[2019-04-16 14:49] carlescufi commented on #11172
@timork as much as we'd like to support Armv7-A and Armv8-A (i.e. the non-M architectures), we would need individuals or companies with strong interest into having Zephyr ported to those in order for the port to happen, since this being an open source project features are typically added by those that require them. If you know of such company or individual please let us know.

[2019-04-16 14:59] raveslave commented on #11172
If we could find the right person/company, we would be willing to sponsor such effort.

_not knowing the exact effort, how much comes with cmsis, what needs to be done on top.. I've only seen some commercial rtos'es supporting armv8-a, but I guess there should be interest from people using hypervisors like jailhouse, acrn or similar._

[2019-04-16 15:07] hwagner66 commented on #15171
@cvinayak @carlescufi  Can we setup a conference call this week to discuss potential resolution of this issue?  I am meeting with the customer Friday and would like to have a potential plan in place before then.

[2019-04-16 15:11] galak commented on #15465
Closing this issue for now, it appears that we pull in floating point support on i.mx because of CCM_ANALOG_GetPllFreq.  We have fp disabled by default for these platforms so we get soft-float and thus larger code.

[2019-04-16 15:11] #15465 closed

[2019-04-16 15:13] timork commented on #11172
@carlescufi We working on Armv8-A port and can consider to mainline it (Marvell).
We have some doubts due to previous experience with [Cortex R](https://github.com/zephyrproject-rtos/zephyr/pull/9316) port that still not mainlined from Aug 18 (Lexmark and Marvell effort)...

[2019-04-16 15:29] galak commented on #11172
@raveslave can you connecting me on this.

[2019-04-16 15:43] #13316 closed

[2019-04-16 16:10] galak commented on #5697
@mbolivar to move this PR into a project.

[2019-04-16 16:23] galak opened #15494 "2.0 Release Checklist"
Add items as required
--------
- [x] Major enhancements:
   - [x]  BLE Split Link Layer: #12681
   - [x]  Support for PPP protocol: #14034
   - [x]  Initial support for ARM Cortex-R: #9316
   - [x]  Initial support for TEE for ARC: #9341
   - [x]  A new DTS/binding parser: #17660
   - [x]  External modules into standalone repositories: #16454
   - [x]  ~~Make newlib libc the default c library: #31

[2019-04-16 16:24] galak commented on #9898
#15494

[2019-04-16 16:27] galak opened #15495 "tests/drivers/spi/spi_loopback/peripheral.spi fails to build on several boards"
[code]

[2019-04-16 16:29] galak commented on #15374
This issue might be related: #15495

[2019-04-16 16:31] galak commented on #13444
Not able to reproduce with SDK 0.10.0 and current master.

[2019-04-16 16:31] #13444 closed

[2019-04-16 16:35] pabigot commented on #15495
There's a fix for this in #15369 if somebody wants to cherry-pick and merge it.

[2019-04-16 16:40] galak commented on #15495
Thanks, I'll cherry-pick that out of the PR for 1.14.

[2019-04-16 17:12] mbolivar commented on #15448
Hi @chaos4284 and thanks for the report.

[code]

I am not 100% sure, but I don't think you can flash devices from the WSL command line, as the `/dev` tree there doesn't mirror the windows device tree completely.

Can you try building and flashing using an installation built with cmd.exe instead? The getting started guide (https://docs.zephyrproject.org/latest/getting_started/index.html) has a win

[2019-04-16 17:37] #15374 closed

[2019-04-16 17:38] galak commented on #15495
Resolved by #15496

[2019-04-16 17:38] #15495 closed

[2019-04-16 17:58] nashif commented on #11172
@timork

Do you have everything covered in your work? i.e.
- architecture
- Soc
- Boards
- Does it run in Qemu?

Those are needed to validate the port and make sure it is maintained and kept in sync with the rest of Zephyr.

[2019-04-16 18:18] psidhu commented on #14066
Has there been any movement on creating a PR for this? I can help test on the STM32L4+ series.

[2019-04-16 18:19] galak commented on #11172
@timork are you willing to share the work you guys are doing?

[2019-04-16 18:32] #15481 closed

[2019-04-16 18:46] timork commented on #11172
@nashif

Yes we plan for:
We cover arch/plat code
SoC - [Marvell Armada 3700](https://www.marvell.com/embedded-processors/armada-3700/)
Board: [Espresso Bin](http://espressobin.net)
Qemu - TBD

[2019-04-16 18:47] timork commented on #11172
Yes,
When the code will be more mature we will post it as PR.

[2019-04-16 19:46] MaureenHelm commented on #15331
I tried running this sample on mimxrt1050_evk and got the following result:
[code]
I used commit 3a8db5549ab2a5d231900c6e727921aa852aa21e and SDK 0.10.0 (same as you). The SHA in your boot banner doesn't seem to match this SHA.

[2019-04-16 20:08] jli157 opened #15497 "USB DFU: STM32: usb dfu mode doesn't work"
**Describe the bug**
Tried the sample `samples/subsys/usb/dfu` with `mcuboot` on a Nucleo_F429ZI board, strictly following the instructions by the README. However, the DFU function never works: dfu-util can't do any operations like upload, download or query. The master branch is as of 04/16/2019 (the head is db8d32881f5c5a84abefa75ca7bf36368ec0cbfb).

**To Reproduce**
Steps to reproduce the behavi

[2019-04-16 20:09] jli157 commented on #15497
More logs are attached here:
[dfu_logs-2.txt](https://github.com/zephyrproject-rtos/zephyr/files/3086716/dfu_logs-2.txt)

[2019-04-16 20:16] jli157 commented on #15497
By the way, the command `dfu-util -l` sometimes works well, sometimes gives wrong info:

* Normal outputs:
[code]

* Bad outputs
[code]

[2019-04-16 20:27] jli157 commented on #15497
Also, I tried the suggested solutions to the issue #14882, no luck to make it work on the nucleo_f429zi board.

[2019-04-16 23:56] gnuless opened #15499 "gpio_intel_apl: gpio_pin_read() pin value doesn't match documentation"
The Intel GPIO driver for the Apollo Lake SoC has behavior that is slightly different from the documented interface: `gpio_pin_read()`  (implemented by `gpio_intel_apl_read`) sets `value` to `0` for a low level (as expected), but `2` for a high level.  This is correct as far as C's truth values are concerned, but the documentation for `gpio_pin_read()` says that `value` will be either `0` or `1`.

[2019-04-16 23:57] gnuless commented on #15499
@dcpleung @andyross @nashif @andrewboie Any thoughts?

[2019-04-17 00:03] dcpleung commented on #15499
Probably missed a bit shift somewhere... if API asks for 0 or 1, we should only return 0 or 1.

[2019-04-17 00:05] gnuless commented on #15499
@dcpleung Yeah, it's a simple fix (the receive state for the GPIO state is in bit 1 of the register, not bit 0).

Ok, I'll implement that fix, rather than changing the API.

[2019-04-17 02:22] fulong82 commented on #15477
Hi @jukkar,

Tested patches from #15480 and it works.

Thanks & Regards,
Wilson

[2019-04-17 03:10] chaos4284 commented on #15448
In use cmd.exe
Occur still problem .
[0/1] Flashing nucleo_l476rg
Traceback (most recent call last):
  File "c:\python37\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\python37\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Python37\Scripts\west.exe\__main__.py", line 9, in <module>
  File "c:\python37\lib\site-packages\west\_boots

[2019-04-17 03:29] bublover opened #15501 "smp_svr build issue"
**Describe the bug**
I was trying to build project with mcugmr enabled.
But error happened.
[code]

**To Reproduce**
Steps to reproduce the behavior:

0. cd zephyr/samples/subsys/mgmt/mcumgr/smp_svr
1. mkdir build; cd build
2. cmake -DBOARD=96b_carbon_nrf51 ..
3. make
4. See error

**Expected behavior**
Build OK

**Impact**
I'd like to use mcumgr function to flash kernel image on my private board.

[2019-04-17 08:01] carlescufi commented on #15501
Please follow the instructions on the Getting Started Guide to clone the repo with west and then run:
`west update`. That will pull the tinycbor repo, which seems to be missing from your copy.

[2019-04-17 08:26] summer20100514 opened #15504 "Can I use one custom random static bd_addr before provision?"
I want to change the bluetooth advertisement id_addr before provision, and I read the source code but find that the advertisement use BT_ID_DEFAULT which can't be deleted or changed and is initialized by read out static addr. Is it true? Can I use one custom random static bd_addr in other way? @jhedberg @Vudentz

[2019-04-17 08:26] masz-nordic commented on #15486
Hi @dmazzella, can you use [bug  issue template](https://github.com/zephyrproject-rtos/zephyr/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)? Also, a branch on fork would be more useful than a .zip file.

[2019-04-17 08:34] dmazzella commented on #15486
@masz-nordic sorry for template error. Yes, i can use a bug issue template.

close this and open new one?

[2019-04-17 08:38] carlescufi commented on #15448
@chaos4284 please install OpenOCD for Windows and place it in your PATH.

[2019-04-17 09:03] jfischer-phytec-iot commented on #15497
@jli157 _Ubuntu 16.04_ native or inside a VM?

[2019-04-17 09:13] tbursztyka commented on #15391
@jukkar can you mark this as a non-issue in coverity? When dhcpv4 is not enabled, indeed that code flow cannot happen (but gcc is smart enough to optimize that path).

[2019-04-17 09:15] tbursztyka commented on #10657
Closing this as #14103 fixed that specific issue.

There is still an issue for the test to pass, but that's in issue #15449

[2019-04-17 09:15] #10657 closed

[2019-04-17 09:21] tbursztyka commented on #8726
Closing this, legacy TCP is not going to be cleaned up.

TCP is being reworked here #11443

[2019-04-17 09:21] #8726 closed

[2019-04-17 09:21] tbursztyka commented on #9570
Closing this, legacy TCP is not going to be cleaned up.

TCP is being reworked here #11443

[2019-04-17 09:21] #9570 closed

[2019-04-17 09:22] tbursztyka commented on #8723
edited: removed the TCP cleanup tasks.

[2019-04-17 09:27] dmazzella opened #15507 "NRF52840: usb composite MSC + HID (with CONFIG_ENABLE_HID_INT_OUT_EP)"
**Describe the bug**
Composite usb device MSC + HID does not work on Windows, the device does not complete the installation.
MSC can be either configured with either one of `CONFIG_DISK_ACCESS_RAM` or `CONFIG_DISK_ACCESS_FLASH`, HID has `CONFIG_ENABLE_HID_INT_OUT_EP=y`

**To Reproduce**
1. git clone https://github.com/dmazzella/zephyr.git
2. cd zephyr/samples/subsys/usb/hid_w_out_ep-mass/
3. mkdir

[2019-04-17 09:50] summer20100514 commented on #15504
@carlescufi problem solved! thank you!

[2019-04-17 09:50] #15504 closed

[2019-04-17 09:54] anddam commented on #15507
I figure #15486 can be closed now.

[2019-04-17 09:56] #15486 closed

[2019-04-17 10:00] pdunaj opened #15508 "No space to store CCC cfg"
**Describe the bug**
When using multiple identities device can experience `No space to store CCC cfg` after reconnection.
When CCC cfg lookup is done address and id (identity) is checked. The problem is when `bt_gatt_attr_write_ccc` obtains a new slot it is not storing information about the identity. This quickly leads to draining the available slots when switching between peers connected using di

[2019-04-17 10:19] jfischer-phytec-iot commented on #15497
@jli157 Can you test it with http://github.com/zephyrproject-rtos/zephyr/pull/9412 (if yes then please rebase it on latest master) ?

[2019-04-17 10:27] jukkar commented on #15391
Agreed, this is a non-issue. I will mark it.

[2019-04-17 10:27] #15391 closed

[2019-04-17 11:56] pabigot opened #15513 "nRF timer unnecessary configuration?"
While working on my alarm infrastructure I noticed that nrf_timer_rtc for the system clock uses nrf_rtc_event_enable() for COMPARE0, which is the basic timer event, and has done so since the module was originally implemented in 2016.

As I understand it enabling events is intended to introduce a dependency on HFCLK to support use with PPI, but it increases power consumption when HFCLK is not other

[2019-04-17 12:47] nordic-krch commented on #15513
Not sure if I understand the issue but enabling event is required to get interrupt from that COMPARE0 event. It has to be done even if PPI is not used.

[2019-04-17 13:00] pabigot commented on #15513
@nordic-krch No.  Enabling INTEN is necessary to get the interrupt.  Enable EVTEN is necessary for only for PPI.

[2019-04-17 13:01] finikorg commented on #15507
I tested on `reel_board` sample `samples/subsys/usb/hid` with enabled MSC, works fine.

[2019-04-17 13:01] SteveOss opened #15516 "Implementation of CONFIG_MAX_PTHREAD_COUNT"
**Describe the bug**

CONFIG_MAX_PTHREAD_COUNT appears to have been implemented as the maximum number of POSIX threads that can ever be created, rather than what might be expected i.e the maximum number of active POSIX threads. If the former is intended IMHO this is a "bad idea"
in that it breaks any dynamic creation of threads and should be documented, if the latter then is clearly a bug.

**To R

[2019-04-17 13:09] finikorg commented on #13799
BTW: I have RFC PR #15511.

[2019-04-17 13:21] dmazzella commented on #15507
yes, it work. The problem is triggered by enabling `CONFIG_ENABLE_HID_INT_OUT_EP=y`

[2019-04-17 13:37] galak commented on #9898
@Thea-Aldrich added you for the "marketing blog".

[2019-04-17 14:03] Qbicz commented on #14826
@pawelzadrozniak This issue no longer occurs on 06ab394f05c (v1.14.0)

The sequence after plugging a cable is now
[code]
There is no reset is suspended state.

[2019-04-17 14:03] #14826 closed

[2019-04-17 14:06] Thea-Aldrich commented on #9898
Thanks! We have 2 pieces that will go out this week. We have a formal press release that will be posted to the website as soon as it hits the wire. That is scheduled for today IIRC. That will also trigger the official social media promotion.

Friday we will be posting a second blog that includes additional quotes, more details from the release notes and a reminder to get entries in for the bug fix

[2019-04-17 14:12] cinlyooi-intel opened #15520 "tests/ztest/mock: test_multi_value_test: Unused mocked return value"
**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=altera_max10
3. make
4. make run

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora
 - Toolchain: zephyr
 - Commit SHA or Version used: 88a1fd7dd96b7c21f1bd0109c7c9df0249fc9447

**Additional context**
Add any other context about the problem

[2019-04-17 14:22] rlubos commented on #13097
@ozanoner I've submitted a PR with a solution for the issue you've described, see #15521. Now it will be checked during OT initialization, whether a valid dataset is stored. The default configuration will only be applied in case there no dataset.

[2019-04-17 14:31] pfl opened #15522 "Extra padding in IPv4 link local ARP packets"
Link local IPv4 address configuration ARP packets have extra padding at the end. Packets captured by wireshark look like the following:
[code]
The whole issue is described in #15373

[2019-04-17 14:33] pfl commented on #15373
Fix did not work, but the extra padding has its own issue #15522

[2019-04-17 14:47] chaos4284 commented on #15448
expected to be reason for firewall, close this question.

[2019-04-17 14:58] #15443 closed

[2019-04-17 15:09] pdunaj opened #15526 "Unhandled identity in bt_conn_create_slave_le"
**Describe the bug**
See the following line in `bt_conn_create_slave_le`:
`conn = bt_conn_lookup_addr_le(BT_ID_DEFAULT, peer);`

Lookup is done on the default identity whereas connection can be done on some other identity.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 identities.
2. Advertise (directly) on second identity.
3. Connect to peer.
4. Advertise (directly) again on the s

[2019-04-17 15:40] #15339 closed

[2019-04-17 15:40] StefJar commented on #13799
merci for letting me know. I will test the code, when it gets merged into master

[2019-04-17 16:12] marc-hb commented on #15315
I think this doc change would be especially useful considering how CMake's cache seems to silently discard most user changes of mind... :-( Deleting build/ has become second nature for me.

[2019-04-17 16:22] tbursztyka commented on #15522
I guess in arp while preparing the arp message it adds up arp hdr size again to an already set up pkt (since ipv4 autoconf does it by itself).

[2019-04-17 16:40] andrewboie commented on #15315
[code]

Can't you just do:

[code]

[2019-04-17 16:40] jli157 commented on #15497
My Ubuntu is running in a Parallel virtual machine but the USB devices are given to the virtual machine during my development. I guess the timeout parameters for USB on a VM could be a bit different from native ones. However, should we also support development on a VM? You can also tell me what kind of parameters I should adjust to make it work if you suspect VM is the culprit? I'd like to try it.

[2019-04-17 16:41] jli157 commented on #15497
Sure, I'll give it a try.

[2019-04-17 16:59] pfl commented on #15522
The third patch in #15433  was attempting to do that, but when I added a link local check to net_buf_add(pkt->buffer, sizeof(struct net_arp_hdr)) in arp_prepare() in ethernet/arp.c, no packet was sent out. So something

[2019-04-17 17:33] marc-hb commented on #15315
Two issues:
- doesn't delete dot (hidden) files
- This command is too dangerous. At the very least I would do rm -rf ../build/*

[2019-04-17 18:19] andrewboie commented on #15315
There aren't any unless I'm missing something:

[code]

Seems a matter of opinion.

[2019-04-17 19:37] marc-hb commented on #15315
... until the next CMake/west/ninja/zephyr/whatever version. Too low-level implementation details; not interested in debugging potential issues like this - can be very time-consuming.

I did lose data a few times by running similar commands in the wrong directory or by picking them up by mistake when re-using my history too fast and I did hear and read similar stories. Maybe we're just a minority

[2019-04-17 21:58] jli157 commented on #15497
Host logs for downloading. The downloading took almost 1 hour!
[code]

[2019-04-18 00:49] #14997 closed

[2019-04-18 01:47] bublover commented on #15501
Hi Carles @carlescufi, as guide, I have done 'pip3 install --user west '
[code]
But No positive response from 'west --version'.
[code]

[2019-04-18 02:24] #15499 closed

[2019-04-18 03:58] cinlyooi-intel opened #15546 "tests/kernel/mem_protect/protection/: Reached unreachable code"
** Description **
Executed asserted false because unreachable code blocks were accessed. It happens at various places

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=arduino_due
3. make
4. make run

**Screenshots or console output**
If applicable, add a screenshot (drag-and-drop an image), or console logs
(cut-and-paste text and put a code fence (\`\`\`

[2019-04-18 05:08] ioannisg commented on #15546
Fails because I enabled MPU on the Soc level but not at the board definition too (Ibhad a separate PR for that)

Somehow the filter of the test is wrong: selects cpu-has-arm-mpu but instead it should use the user option to enable mpu

[2019-04-18 05:52] finikorg commented on #15507
It works for me on `reel_board` with enabled `CONFIG_ENABLE_HID_INT_OUT_EP=y`

[2019-04-18 07:17] dmazzella commented on #15507
can you please paste your .conf used for test?

this is mine for ```nrf52840_pca10059``` with sample  ```samples/subsys/usb/hid```

[code]

without `CONFIG_ENABLE_HID_INT_OUT_EP=y` work fine for me.

[2019-04-18 07:59] carlescufi commented on #15315
Several things to comment on here:

- `ninja pristine` cleans up everything but the build folder itself, so we could use that  instead of `rm`, avoiding differences between NIX and Windows
- If, in the examples in the doc,  we assume the user is inside the tree, we can also use `git clean -fdx`
- Windows uses `rmdir /Q /S`, which is quite ugly and hard to type
- We just merged a PR into west that

[2019-04-18 08:15] carlescufi commented on #15501
This sounds like your Python installation has not added the folder where it stores the executables  to the PATH. Please check that `~/.local/bin` is in your PATH

[2019-04-18 08:24] jfischer-phytec-iot commented on #15497
@jli157 About USB DFU attached to a gast behind a VM: I did not have time to analyze it and I do not see it as a bug as long it works on native host.

About speed, can you please revert ea177e785ca32cb97fb41475377890e2afdd1d17 and test it again on NUCLEO-F429ZI?

[2019-04-18 08:47] bublover commented on #15501
Thx @carlescufi , working.   BTW, could you pls tell me how to use mcumgr to download image via UART?

[2019-04-18 08:58] wentongwu commented on #15516
not related to your reported issue, did you enable CONFIG_USERSPACE when using POSIX threads?

[2019-04-18 09:37] summer20100514 opened #15549 "[FCB question] Is it true that fcb storage won't overwrite old records which limits the max num?"
As we all know, zephyr uses one storage backend which is fcb. We have tested the library and find that if there is no room for more data, it won't overwrite the old ones, and therefore only a specific number of records can fit into the storage. right?
@nvlsianpu

[2019-04-18 09:55] carlescufi commented on #15501
@bublover

You need to use a serial port profile connection with mcumgr, something like:

`mcumgr conn add ttyACM0 connstring='dev=/dev/ttyACM0,baud=115200,mtu=512'`
and then
`mcumgr -c ttyACM0 image list`
and so on

[2019-04-18 09:55] #15501 closed

[2019-04-18 09:58] #15508 closed

[2019-04-18 09:59] #15526 closed

[2019-04-18 10:07] SteveOss commented on #15516
CONFIG_USERSPACE was not configured.

[2019-04-18 11:25] benpicco opened #15551 "CMake enables -fmacro-prefix-map on GCC 7"
**Describe the bug**
When trying to build the latest master with GCC 7, the build fails due to the compiler option `-fmacro-prefix-map` not being available.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=atsamd21_xpro
3. make
4. See error

**Expected behavior**
The build succeeds.

**Impact**
It's impossible to build Zephyr unless you have GCC 8 instal

[2019-04-18 12:21] SebastianBoe commented on #15551
@marc-hb : FYI

[2019-04-18 12:26] dmazzella commented on #15507
@finikorg @masz-nordic none of you have the chance to try with `nrf52840_pca10059`?

[2019-04-18 13:00] nvlsianpu commented on #15549
@summer20100514  This was question tho the fcb setting back-endI answered on slack right?

[2019-04-18 13:43] masz-nordic commented on #15507
I was able to reproduce with `nrf52840_pca10059`.
`GET_DESCRIPTOR(Configuration)` gets stalled. Its size is 64 bytes (which is equal to the size of an IN transaction). Probably a zero length packet should be added.

[2019-04-18 14:11] nashif commented on #14711
I am going to close all those issues, we should track coverage in 1 single issue, otherwise it does not scale and very difficult to keep track of..

[2019-04-18 14:11] #14702 closed

[2019-04-18 14:11] #14703 closed

[2019-04-18 14:11] #14704 closed

[2019-04-18 14:11] #14705 closed

[2019-04-18 14:11] #14706 closed

[2019-04-18 14:11] #14707 closed

[2019-04-18 14:11] #14708 closed

[2019-04-18 14:11] #14709 closed

[2019-04-18 14:11] #14710 closed

[2019-04-18 14:11] #14711 closed

[2019-04-18 14:11] #14712 closed

[2019-04-18 14:11] #14722 closed

[2019-04-18 14:11] #14723 closed

[2019-04-18 14:11] #14724 closed

[2019-04-18 14:11] #14725 closed

[2019-04-18 14:11] #14726 closed

[2019-04-18 14:11] #14727 closed

[2019-04-18 14:11] #14728 closed

[2019-04-18 14:11] #14729 closed

[2019-04-18 14:11] #14730 closed

[2019-04-18 14:11] #14731 closed

[2019-04-18 14:11] #14733 closed

[2019-04-18 14:11] #14734 closed

[2019-04-18 14:11] #14736 closed

[2019-04-18 14:11] #14769 closed

[2019-04-18 14:11] #14713 closed

[2019-04-18 14:11] #14715 closed

[2019-04-18 14:11] #14716 closed

[2019-04-18 14:11] #14717 closed

[2019-04-18 14:11] #14718 closed

[2019-04-18 14:11] #14719 closed

[2019-04-18 14:11] #14720 closed

[2019-04-18 14:11] #14721 closed

[2019-04-18 14:44] mbolivar commented on #15315
Not sure why we're on the subject of how to delete files even after reading these comments. The new `-B` flag is an improvement no matter how you look at it AFAICT, even on a fresh build:

[code]

vs:

[code]

Does anybody disagree we should use `-B`? If so, why?

[2019-04-18 15:13] mbolivar commented on #15448
Thank you for the feedback. If your investigation shows a way we could detect the firewall issue and print a better error message instead of a stack trace, please let us know! Thanks.

[2019-04-18 15:16] bfrog opened #15555 "Counter Docs Missing Callback Context Note"
Current counter API docs in 1.14 don't seem to show the context of the callbacks for top/alarm, looking at least at the nrfx driver it happens in an IRQ context. I think it'd be good to document that.

[2019-04-18 16:12] #12602 closed

[2019-04-18 16:26] #15046 closed

[2019-04-18 16:42] marc-hb commented on #15551
@benpicco can you point at where exactly you got this toolchain to speed up reproduction attempts?

[2019-04-18 17:19] marc-hb commented on #15315
Sorry for the digression and confusion; as noted by @mbolivar this issue is _not_ about documenting how to clean up. Cleaning up build directories was just one example. Another example is building multiple configurations in different build directories (without cleaning up)

Ignoring what would be the best documentation for a minute, "just switching" cmake examples to west would be a much bigger do

[2019-04-18 17:22] benpicco commented on #15551
@marc-hb `sudo apt install gcc-arm-none-eabi` on Ubuntu 19.04

My .zephyrrc is

[code]

[2019-04-18 18:10] marc-hb commented on #15551
This is strange, I just tested with Ubuntu 18.04 and
[code]
and everything went fine, the option was correctly disabled as not supported.

Can you please try this:
[code]

then open cmake-verbose.log and search for `zephyr_cc_option(-fmacro-prefix-map=`
About 10 lines later can you check if you find something like this:
[code]
(FYI the corresponding code is in cmake/extensions.cmake, line 680)

Ne

[2019-04-18 20:20] andrewboie opened #15558 "support for power-of-two MPUs on non-XIP systems"
On a XIP system, text/rodata are on flash and all read-write memory are on SRAM. It's trivial to define MPU regions for each with appropriate permissions.

On a non-XIP system, text, rodata, and data are all in SRAM. We need the capability to configure a power-of-two sized subsection, starting at the lowest SRAM addresses, for text/rodata, and then pad this out so that data starts at the end of th

[2019-04-18 22:29] benpicco commented on #15551
Alright, now this is odd.
I've just upgraded my computer at home to Ubuntu 19.04 and here the issue is not present.

So it looks like my `~/.cache/zephyr/ToolchainCapabilityDatabase` got somehow screwed up on my machine at work, deleting that cache then should fix the problem. I can only try this next week, but since I can't reproduce this and it this was probably only caused by some intermediate

[2019-04-18 22:29] #15551 closed

[2019-04-18 23:05] marc-hb commented on #15551
I/we would appreciate if you could give my instructions a try at work, carefully not deleting anything, just renaming build directories and caches. The cache should never get screwed up, if it does then there's a bug.

[2019-04-19 04:19] lorepieri8 opened #15565 "undefined references to `sys_rand32_get'"
**Describe the bug**
I get `undefined references to `sys_rand32_get'` after building a zephyr app with qemu_cortex_m3 or qemu_x86, while the same setup seems working for nrf52840_pca10056.

**To Reproduce**
Steps to reproduce the behavior:
1. https://github.com/AnyLedger/anyledger-wallet, commit 8fb0247e1ac3d61d20802eaf2f81c2511039174e
2. zephyr build instructions, with zephyr version picked using

[2019-04-19 05:49] chaos4284 commented on #15448
Afterward ninja debug,
    [0/1] Debugging nucleo_l476rg
Using runner: openocd
Open On-Chip Debugger 0.10.0+dev-g0b1cbf175-dirty (2019-03-08-20:54)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/doc/doxygen/bugs.html
/opt/zephyr-sdk/arm-zephyr-eabi/bin/arm-zephyr-eabi-gdb: error while loading shared libraries: libpython2.7.so.1.0: cannot open shared object file: No such

[2019-04-19 07:01] wentongwu commented on #15516
https://github.com/wentongwu/zephyr/commit/8b6edc1c36fadcd9d9ac5dec042f860cda28ba8e
@SteveOss  would you like try this patch? Thanks!

[2019-04-19 07:43] SteveOss commented on #15516
@wentongwu Patch looks good. We have a bank holiday here today and Monday, so won't be able
till test till Tuesday. Will let you know how I get on.

[2019-04-19 08:08] amitrajrd commented on #3192
This may be a repeat reporting (or request).

As @jhedberg  says, and as the time and applications have moved on towards more possibilities, a `dt_disable()` seems helpful.

In the simplest case of "advertising without connection" (`bt_le_adv_start(BT_LE_ADV_NCONN, <>, <>, <>);`), I suggest a workaround for developers - use "bt_le_adv_stop()"  to stop advertisement, wherever required as per applic

[2019-04-19 09:07] summer20100514 commented on #15549
@nvlsianpu there is high chance the program will crash(blocking?) if I write multile records using settings_save_one when it comes to the 4K boundary. is there any best practice rules I must obey here using fcb?

[2019-04-19 09:34] dmazzella commented on #15507
@masz-nordic can i try something?

[2019-04-19 10:36] finikorg commented on #15507
@dmazzella to verify that issue @masz-nordic mentioned you can add another HID, it will increase descriptor table.

[2019-04-19 10:52] summer20100514 commented on #15549
my usage fault, issue closed

[2019-04-19 10:52] #15549 closed

[2019-04-19 11:54] jukkar commented on #15565
Try to set these in prj.conf file
[code]

[2019-04-19 13:19] pdunaj opened #15570 "Unbonded peripheral gets 'Tx Buffer Overflow' when erasing bond on master"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Bond master and peripheral
2. Remove bonds on peripheral
3. Observe peripheral disconnecting
4. Since master still has peripheral bonded it tries to reconnect
5. Connection is established and security start is called (that will fail as peripheral does not have bond)
6. When security fails and peripheral disconnects o

[2019-04-19 13:47] dmazzella commented on #15507
@masz-nordic @finikorg I tried adding another HID and the device on Windows works as expected.
Is a fix without adding a second HID possible?

[2019-04-19 14:07] galak opened #15571 "Fix sanitycheck failures for v2m_musca_b1_nonsecure"
We've currently disabled sanitycheck from running on v2m_musca_b1_nonsecure (see `boards/arm/v2m_musca_b1/v2m_musca_b1_nonsecure.yaml`).

If you remove the `sanitycheck: false` line in `v2m_musca_b1_nonsecure.yaml`:

`./scripts/sanitycheck -p v2m_musca_b1_nonsecure`:

[code]

[2019-04-19 14:07] galak commented on #15571
@karl-zh can you look into fixing this.

[2019-04-19 14:08] carlescufi commented on #15570
We fixed this recently in the scope of https://github.com/zephyrproject-rtos/zephyr/pull/15335, can you check if you have those commits?

[2019-04-19 14:43] pdunaj commented on #15570
Hi @carlescufi , I have these changes (ncs zephyr a288e8b8ab54c667c6ed9776042200411710a9cf)

[2019-04-19 16:46] carlescufi commented on #15570
In that case this sounds like a new issue. @cvinayak can you please take a look?

[2019-04-19 17:08] pfl commented on #15472
Strange, I still see only one query for A resource record to the IPv6 name server when I run the sample on SAM E70 Xplained.

[2019-04-19 17:49] pfl commented on #15472
That might be the explanation, actually. You seem to get Refused responses for both A and AAAA records, I get a response for the first query, and the dns_resolve application seems to be happy with such a result?

[2019-04-19 18:35] pfl commented on #15472
Seems that DNS over IPv6 and MDNS both get cancelled:
[code]

[2019-04-19 18:48] pfl commented on #15472
In the subsys/net/lib/dns/resolve.c we have the following code, that on a successful DNS response (where items > 0) does the following:
[code]
So all is fine, any queued DNS queries are cancelled, as the log says above. So the README could see some fine tuning, as it is now, the impression can be that both A and AAAA queries are sent to both or all configured DNS servers in prj.conf. Other than th

[2019-04-19 18:56] #10739 closed

[2019-04-19 19:09] jhedberg commented on #3192
@amitrajrd why do you call that a workaround? A workaround for what? The appropriate way to stop advertising is `bt_le_adv_stop()`.

Of course. Any activity, such as advertising, that you ask the controller to perform will consume power. That's unavoidable.

I'm not sure what you're trying to say with that above. Yes, they are not the same, however I'm still struggling to understand the use case f

[2019-04-19 20:57] lorepieri8 commented on #15565
Thanks @jukkar.

1- This indeed fixes the qemu_cortex_m3 ninja. How did you figure out about those config options? Where can I get more info on how to identify which config=y I need?

2- qemu_x86 is still failing. I think that the problem is the toolchain that I'm using.

[code]

[2019-04-20 06:36] ixmeins opened #15580 "SAMD21 Adafruit examples no longer run on boards"
A fresh download and install of Zephyr 14 will build the (eg) samples/subsys/shell/shell_module code but when downloaded to an Adafruit Feather M0 board the code does not run or simply causes the soc to reboot. On Zephyr 13 these examples compiled and ran as expected.
The helloworld sample produces the same result, successful build but just reboots the board into bootloader on 14.
I found this aft

[2019-04-20 07:03] ixmeins commented on #15580
Fixed - another newb gotcha, you need to manually set the flash base address (ninja menuconfig) to 0x2000 to allow for the Adafruit feather bootloader being at 0x0000. Obviously I did that once when I first installed 13.

[2019-04-20 07:03] #15580 closed

[2019-04-20 07:28] finikorg commented on #15507
This should be fixed for the board device controller, I think this is serious issue, since all control packets multiple of 64 bytes fails, according to this finding.

[2019-04-20 14:09] pabigot commented on #15513
[Nordic devzone](https://devzone.nordicsemi.com/f/nordic-q-a/14023/evten-inten-nrf52-rtc) has a very clear description of the rolls of `EVTEN` versus `INTEN`.

The [nRF52840 Product Specification](https://infocenter.nordicsemi.com/topic/ps_nrf52840/rtc.html?cp=3_0_0_5_21_5#concept_eml_dkj_sr) explains why channels should be disabled in `EVTEN` if PPI is not being used.

[2019-04-20 14:41] dwj-scut commented on #1392
pip3 install -r scripts/requiements.txt

[2019-04-20 18:15] #15272 closed

[2019-04-21 07:37] henrikbrixandersen commented on #15278
I am looking into a project in the near future, where we will need to integrate CANopen support in Zephyr. Still searching for an appropriate, small CANopen implementation on top of SocketCAN, that can be ported to Zephyr.

[2019-04-21 15:41] lorepieri8 opened #15587 "Zephyr was unable to find the toolchain"
**Describe the bug**
I'm not able to build sample projects such as "blinky", since Zephyr is unable to find the toolchain.

**To Reproduce**
Steps to reproduce the behavior:
Install zephyr SDK as in https://docs.zephyrproject.org/latest/getting_started/installation_linux.html
export ZEPHYR_TOOLCHAIN_VARIANT=zephyr
export ZEPHYR_SDK_INSTALL_DIR=/root
source zephyr-env.sh
Go to /zephyr/samples/basic

[2019-04-21 16:46] carlescufi commented on #15587
This looks like remnants of an old version of zephyr, because `/zephyrproject/zephyr/cmake/compiler/gcc.cmake` doesn't seem to exist anymore? can you run `git clean -fdx` from the root of your repo (careful, this will delete any files not tracked by Git) and `git rev-parse HEAD` to show us what commit you are in?

[2019-04-21 17:24] ghost opened #15588 "Does zephyr support different time slices for each thread?"
There are two threads of the same priority, one that takes longer time to execute and the other that takes shorter. Can we assign two different time slice to each other?

[2019-04-21 17:26] dwj-scut commented on #15588
I didn't find the method in the document of zephyr

[2019-04-21 18:39] carlescufi commented on #15588
@dwj-scut yes, you need to enable `CONFIG_TIMESLICING`: https://docs.zephyrproject.org/latest/reference/kernel/threads/index.html#preemptive-time-slicing

[2019-04-22 01:53] lorepieri8 commented on #15587
[code]

This was indeed the problem, I can build now. Thank you.

[2019-04-22 01:53] #15587 closed

[2019-04-22 03:21] matthew-koch opened #15591 "Add STM32 LCD-TFT Display Controller (LTDC) Driver"
**Is your feature request related to a problem? Please describe.**
Add support for STM32's LTDC on STM32F4, F7, H7, etc.

**Describe the solution you'd like**
Initially, an API specific to the LTDC implemented with a long-term objective of enhancing the generic display API to support more advanced LCD drivers either on-board or in-MCU while supporting smaller displays with little overhead. This dr

[2019-04-22 06:41] xiaoliang314 opened #15593 "How to use gdb to view the stack of a thread"
When I use gdb to interrupt the execution of the MCU, It usually stop in the idle thread. The stack of the idle thread is useless on me.
At this time, I want to see what happened to my thread, what should I do? How should I use gdb to view the stack of my thread?

[2019-04-22 07:24] carlescufi commented on #15591
🥇

[2019-04-22 09:39] chinli opened #15594 "net shell "net tcp send" command failed when repeated many times"
we used net shell of zephyr phylogenetic (version of 1.14.0-rc3-465)，and PC create TCP server, devices use command of "net tcp connect 192.168.1.107 8000" to connected, then successfully, send data by "net tcp send "hello world"" cmd, and repeate it  dozens of times. shell will report a error about failed to get free buffer. the detail information as below:

uart:~$ net tcp send "hello world "
##c

[2019-04-22 09:47] xiaoliang314 commented on #15593
I think I know how to do it.
This is my steps(ARM v7):
1. Find the thread(demo_thread) you need to view
2. Use the following command to switch the stack to this thread.
[code]
3. Use the 'bt' command to view the thread stack
[code]

[2019-04-22 10:30] hakehuang commented on #14605
@dleach02 , I write a qspi program application to write the qspi flash, which is based on the qspi_polling demo in sdk.

[2019-04-22 11:40] hakehuang commented on #13766
@MaureenHelm fixed in d18ec535755210a738f56db24933f5f6bdacb88e

[2019-04-22 12:01] pfalcon commented on #15594
Please use 1.14.0 release, or master.

Beyond that, how reproducible is this? (I.e. of e.g. 20 runs of a board (which board?) after hardware reset, how many runs exhibit this issue?)

[2019-04-22 12:10] pfalcon opened #15596 "net: Zephyr's SNTP API time precision is not adequate"
Currently available sntp_request() call returns time in seconds, completely ignoring fractional second value provided by SNTP. Second-level precision is clearly not adequate for the state of the art of technology.

Possible solutions:
* Returned precise time with fractional seconds as SNTP fixed-point number.
* Return it as POSIX `struct timeval` (converting fractional seconds to microseconds).
*

[2019-04-22 12:11] pfalcon commented on #15596
@d3zd3z, @galak: As we look into SNTP, we shouldn't pass by this issue.

[2019-04-22 12:19] summer20100514 opened #15597 "[question] How to include mesh related header files in my own source file"
Does anyone here know the way to set correct include header file which resides in
```zephyr\subsys\bluetooth\host\mesh```
for example, I want to include "mesh/adv.h" for my test purpose. thank you.
@jhedberg @carlescufi @andrzej-kaczmarek

[2019-04-22 12:26] summer20100514 commented on #15597
as @SebastianBoe suggested, I should add
[code]
into cmakelist

[2019-04-22 12:26] #15597 closed

[2019-04-22 13:53] mbolivar commented on #15448
@chaos4284 I guess this means port 3333 is blocked by your firewall; is that right?

If there is a problem with port 3333 but you can use some other port in your firewall, you can use `west debug --gdb-port SOME_OTHER_NUMBER` instead of `ninja debug` to pick a value that will work for you.

[2019-04-22 13:54] #9333 closed

[2019-04-22 14:11] Mani-Sadhasivam opened #15598 "Standard devicetree connectors for boards"
**Is your feature request related to a problem? Please describe.**
For the boards belonging to a standard form factor like 96Boards, it would be nice to have a dedicated devicetree connector which can expose the available peripherals like GPIO, I2C, SPI in a generic way so that the sample applications can run on any board adhering to the standard.

**Describe the solution you'd like**
This could b

[2019-04-22 15:08] doceme opened #15601 "pwm: nRF default prescalar value is wrong"
**Describe the bug**
A value of 1 for the ```data->prescalar``` causes the frequency to be half of desired frequency. I've confirmed this using an oscilloscope. The correct value for ```data->prescalar``` should be ```0U```.

**To Reproduce**
1. Modify ```samples/basic/fade_led/src/main.c``` to set a PWM cycle value to something <= 32767. For example:
[code]
2. build with board ```nrf52840_pca1005

[2019-04-22 15:47] MaureenHelm commented on #15593
Hi @xiaoliang314 , if you're using openocd or pyocd gdb server, you can enable zephyr thread awareness by setting `CONFIG_OPENOCD_SUPPORT=y` in your application. You can then use gdb thread commands.
https://docs.zephyrproject.org/latest/guides/debugging/host-tools.html
https://sourceware.org/gdb/current/onlinedocs/gdb/Threads.html

[2019-04-22 16:25] mike-scott commented on #15598
There is a bit of discussion about supporting GPIOs for headers (and shields) on this example PR: https://github.com/zephyrproject-rtos/zephyr/pull/14057

[2019-04-22 16:33] cvinayak commented on #15570
@pdunaj could you provide more details for the below:

On which callback do you initiate disconnect in your peripheral application?

[2019-04-22 18:10] mrfuchs opened #15603 "Unable to use C++ Standard Library"
**Describe the bug**
C++ Standard Library cannot be used with Zephyr 1.14.0. It used to work with 1.14-rc1.

**To Reproduce**
prj.conf: `CONFIG_CPLUSPLUS=y`

main.cpp:
[code]

Command line: `D:\zephyr-test>cmake -GNinja -Bbuild -H. -DBOARD=stm32f4_disco && ninja -C build`

Output:
[code]

**Expected behavior**
It compiles, as with 1.14-rc1:
[code]

**Impact**
Cannot update to Zephyr 1.14.0 for cur

[2019-04-22 19:35] andrewboie commented on #15565
You can't compile qemu_x86 with a gcc-arm-none-eabi-7-2018-q2-update compiler.

[2019-04-22 20:14] henrikbrixandersen commented on #12109
Would it possible to just call `WDOG32_Deinit()` from `fsl_wdog32.c` in the MCUxpresso SDK?

[2019-04-22 20:48] pfalcon commented on #13943
Unfortunately, as of master 8e307a3ad9648035dcf84f05466c5bd9f6166c7a, this issue isn't really fixed, running `ab -n1000 http://192.0.2.1:8080/` against dumb_http_server/dumb_http_server still times and locks up out after 3 requests.

[2019-04-22 21:19] marc-hb commented on #14904
fixed by PR #15523 ?

[2019-04-22 21:23] marc-hb commented on #14649
Nit: not clear whether this particular github issue is specifically about some qemu timing issues (as described in the description), or more generally an "umbrella" issue trying to exhaustively list all retry issues (as described by the title)

[2019-04-22 21:47] andrewboie commented on #14649
I think it's fairly clear what we are trying to accomplish:

I would consider the above to be acceptance criteria for closing this.
The root cause of most of these retries is QEMU's timing issues but we need to fix them all regardless of cause so that we can **abolish the retry policy completely**, and report all failures even if intermittent.

[2019-04-22 21:50] marc-hb opened #15604 "Suspicious PCI and build_on_all default test coverage"
Like any other test suite, sanitycheck's default test coverage tries to strike a difficult balance between:
1. too little coverage, versus:
2. combinatorial explosion -> impractical and unusable build times.

This github issue is about two specific default coverage settings: A. **PCI** and B. **build_on_all**

Context: while performing some unrelated experimentations (don't ask) I broke by acciden

[2019-04-22 21:52] marc-hb commented on #15604
Found these more or less related issues:
Enhance Testing and Test Coverage #5027
Provide a mean to find tests with 0 platforms due to bad filtering #652
No test builds these files #12860
need to improve filtering and coverage in sanitycheck #6857

[2019-04-23 01:55] xiaoliang314 commented on #15593
@MaureenHelm Thanks for your reply, I am using J-Link GDB Server + GDB (ARM) for debugging. CONFIG_OPENOCD_SUPPORT has no effect on my debugging tools.

[2019-04-23 02:26] bublover opened #15605 "Unaligned memory access by ldrd"
**Describe the bug**
Running zperf test, I always found unaligned memory access fault with CONFIG_SPEED_OPTIMIZATIONS=y.

**To Reproduce**
Steps to reproduce the behavior:
1. Input command in shell.
[code]
2. Input command in PC.
[code]
3. See error

Error from this line
0x2015f38 <udp_received+192>    ldrd   r3, r2, [r8, #4]
r8 is not 4-byte aligned.
[code]
[code]
C code:
[code]
[code]

**Expecte

[2019-04-23 03:37] lingwei901011 opened #15606 "trickle.c can't work for multiple triggerings"
**Describe the bug**
in subsys/net/ip/trickle.c, the delayed work "trickle->timer" is initialized in net_trickle_start() at the first time to set its handler function as trickle_timeout(), in which the callback function we need will be invoked. Then, in the trickle_timeout(), the reschedule() will be called to re-schedule the next interval. in reschedule(), the SAME delayed work "trickle->timer" i

[2019-04-23 05:29] cinlyooi-intel commented on #15411
Confirmed working on 8e307a3ad9648035dcf84f05466c5bd9f6166c7a. Kept bug open as per @nashif  comment above (https://github.com/zephyrproject-rtos/zephyr/issues/15411#issuecomment-483469642)

[2019-04-23 06:00] KwonTae-young opened #15607 "nRF52: 2.4 GHz proprietary RF support"
I am trying to make a wireless keyboard using the `nRF52840`.

At first I tried to use another MCU + [nRF24L01](https://www.nordicsemi.com/?sc_itemid=%7B36BDC7E1-5E35-4967-8B4D-E41DCD96512F%7D).
However, the product description says `Not recommended for new designs`.
I do not know exactly why it is `Not recommended for new designs`.
[nRF24 Series](https://www.nordicsemi.com/?sc_itemid=%7B36BDC7E1-

[2019-04-23 06:42] matthew-koch commented on #15591
FYI (no response required)

If it wasn't implied in the issue writeup, I intend to take a stab at this. I'm doing development on an stm32f746g_disco board.

Will be slow going to start - Zephyr's build system has a bit of a learning curve with some tools I'm not familiar with. However, nobody seems to be pounding the table for this driver. I will try to get a PR on a couple of things that might ca

[2019-04-23 07:00] chinli commented on #15594
@pfalcon tks for your caution! I upgrade the code, it's fixed! ^_^

[2019-04-23 07:00] #15594 closed

[2019-04-23 07:25] summer20100514 opened #15608 "[question] my board won't boot without debugger attached but no issue using nordic SDK"
I came across such weird situation which is my custom board couldn't boot without debugger. But the NRF52DK works well. I have tried to choose the internal RC clock, but in vain. Anyone who knows the root cause?
and what's more, if I use nordic mesh sdk, everything goes well without any problem. thank you.
@carlescufi @jhedberg @SebastianBoe @nvlsianpu

[2019-04-23 07:29] #15282 closed

[2019-04-23 07:30] bublover commented on #15605
UDP packet is not 4-byte aligned.
Reference:
https://community.arm.com/developer/ip-products/processors/f/cortex-a-forum/7179/hard-fault-in-cortex-m4

[2019-04-23 07:37] wentongwu commented on #15516
@SteveOss  I test this patch on my side, it works well, how about your test?

[2019-04-23 07:40] jukkar commented on #15565
I just looked existing networking samples for clues, and these two options were used in many places when compiling for qemu.

[2019-04-23 08:01] pfalcon commented on #15596
https://github.com/zephyrproject-rtos/zephyr/pull/15600 chooses this solution, as the most obvious one, avoiding potentially expensive multiplications. Different users then can apply further calculations as they need.

[2019-04-23 08:05] SebastianBoe commented on #15608
I don't think there is enough information here for anyone to be able to give you a good answer. You are going to have to debug and find out what is going on.

[2019-04-23 08:32] mnkp opened #15611 "gpio/pinctrl: GPIO and introduce PINCTRL API to support gpio, pinctrl DTS nodes"
## Introduction

As a general requirement we want Zephyr DTS to adhere to the specification as well as to use bindings compatible with those of the Linux kernel. To support gpio, pinctrl DTS node bindings the current GPIO driver needs to be reworked. We also need to introduce PINCTRL driver.

A GPIO driver is used to configure and control the pins directly by the application. A PINCTRL driver is u

[2019-04-23 08:46] summer20100514 commented on #15608
@SebastianBoe but if I attached the debugger, everything is ok. If I detached, the board seems not booting at all.

[2019-04-23 08:54] dwildmark opened #15612 "bt_set_id_addr() to allow public address as argument"
**Is your enhancement proposal related to a problem? Please describe.**
As of the current state of Zephyr, one can't use bt_set_id_addr() to set a public address, as the function prohibits this. I see no reason why the API would prohibit this behavior. I would like to discuss why it is that way and if we come to the conclusion that it should be allowed, I will patch it.

**Describe the solution yo

[2019-04-23 10:07] anangl commented on #15601
@doceme Thanks for reporting this.
Obviously, when there is no need to divide the PWM clock, (i.e. the requested period cycles fit into the 15-bit PWM counter), the prescaler value should be `0`, not `1`. I'll provide a PR that fixes this.

[2019-04-23 10:11] #15477 closed

[2019-04-23 10:14] #15605 closed

[2019-04-23 10:42] SteveOss commented on #15516
@wentongwu Have pulled your commit and is working for me. Guess the thread pool index could have been stored in the posix_thread struct to avoid the lookup on thread exit, but is no big deal. Thanks for sorting this, is this going to be back ported to the 1.14 release branch?

[2019-04-23 11:13] pdunaj commented on #15570
Hi @cvinayak ,
I replicate the problem with pca20041 (mouse) and pca10059 (dongle). Our project supports DK so I will check if problem replicates there too. I guess it should as this code is common.

Let me add some more info to each step:
2. Remove bonds on peripheral
In our case we do it with `bt_unpair(cur_peer_id, BT_ADDR_LE_ANY);` after user confirms. `cur_peer_id` is current identity and you

[2019-04-23 11:38] pdunaj commented on #15570
I checked if problem can be replicated on pca10056 and it does. There is however one problem - on DK we don't support a bond control button so bonds have to be removed manually (I erase them by clearing settings with `nrfjprog -f NRF52 --erasepage 0x000f8000-0x00100000`). After this is done I see dongle connecting with DK but no security, disconnect and then another attempt. I do the same on dongl

[2019-04-23 11:43] erwango commented on #13148
@vinny74man, did you manage to get it working?
If yes, can we close this ticket?

[2019-04-23 12:58] pdunaj commented on #15570
We have checked replication route together with @cvinayak . There are two observations worth noting.

First, apparently it is enough to simply wait (i.e. bonds on dongle do not have to be removed) as after 5 retries crash is observed. The error reported on disconnection is 61. Logs below.
Second, when I do the same while working with windows 7 (Intel drivers stack) there is no crash. I still get d

[2019-04-23 13:29] finikorg commented on #13799
I found an issue related to this error. After sending packet multiple of 64 bytes we add zero length packet for which stm32 driver does not generate callback and we do not give semaphore `ep_state->write_sem`. So after that we get error `<err> usb_dc_stm32: Unable to write ep 0x82 (-16)`.
@ydamigos @loicpoulain could you verify that?

[2019-04-23 13:43] #13097 closed

[2019-04-23 13:47] loicpoulain opened #15622 "NXP RT10XX: Load code to ITCM"
Today, i.MX RT10XX targets have support flash XIP or ITCM (debug mode), but the most common scenario is to have code stored in flash and linked/executed in ITCM. This is currently not supported. I assume there is a trick to let the boot rom to load the code in ITCM (boot header?). Any help is welcome here. Moreover, this would allow supporting MCU boot.

[2019-04-23 14:21] nordic-krch commented on #15513
I didn't know that then.

Frankly speaking, to me this section doesn't mention PPI and drawing shows that `EVTEN` register gates PPI and IRQ so i'm confused. I guess you verified it so it's rather documentation issue.

[2019-04-23 14:39] pabigot commented on #15513
Agree the diagram is a little confusing; the tie to PPI is in the text at the end of the arrow at the bottom.

I've been doing system timers with Nordic for over four years now and never had to touch the EVTEN registers, which is why I was a bit confused when I looked at what that HAL function did.  I've certainly verified it's not necessary.

[2019-04-23 15:22] gatzka opened #15625 "target_compile_features in CMakeLists.txt triggers an error"
I've a simple application that uses a library. In the libraries CMakeLists.txt I've the following statement:
`target_compile_features(sha PRIVATE c_std_99)`

When I now run west build, I got the following error during cmake configuration:
`target_compile_features no known features for C compiler
  "GNU"
  version 8.3.0`

After digging around, I found that this seems to be triggered by the statemen

[2019-04-23 15:42] lorepieri8 commented on #15565
I see. I hoped there was a simpler way.
I will open a feature request. It would be useful to know which config options are needed for given functions.

[2019-04-23 15:42] #15565 closed

[2019-04-23 15:50] lorepieri8 opened #15626 "Link config options in prj.conf with enabled functions."
**Is your enhancement proposal related to a problem? Please describe.**
When building with `cmake -GNinja ` it can happen to have an error of the kind `In function X:
undefined reference to Y`
This problem can be solved enabling the right config options in prj.conf, but it's unclear a priori which option should be turned on.

**Describe the solution you'd like**
An easy way to search with config o

[2019-04-23 18:06] doceme commented on #15601
Thanks @anangl. I was going to make a PR, but got busy.

[2019-04-23 18:33] jhedberg commented on #15612
Is the expectation that this would use the Zephyr vendor HCI extensions? There's no standard way to set the public address over HCI.

[2019-04-23 19:38] dwildmark commented on #15612
Ok, now I see the problem. Was not aware that this is not possible through standard HCI commands.
The way I did it was a bit of a hack, but I basically pretended it was a Random address and disabled some checks in hci_core.c and it worked on the nRF52840, but it would probably not work on other bluetooth devices.
The vendor specific HCI extensions seems like the proper place for this kind of featu

[2019-04-23 19:53] jhedberg commented on #15612
For the record, the specification for the Zephyr HCI vendor command is available here: https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/reference/bluetooth/hci.txt#L408

[2019-04-23 20:04] #15546 closed

[2019-04-23 20:11] mbolivar commented on #12825
With this patch (a revert of the relevant pieces of https://github.com/zephyrproject-rtos/zephyr/commit/2c84fd2631dcc8e586a8455b7fe696d58a92aaf5 that @nashif bisected to), I am able to get SystemView tracing working on an nRF52840.

[code]

[2019-04-23 20:26] carlescufi commented on #15607
Hi @KwonTae-young. This feature is already supported in the zephyr-based SDK maintained by Nordic, take a look here: https://github.com/NordicPlayground/fw-nrfconnect-nrf/tree/master/samples/esb

[2019-04-23 20:26] #15607 closed

[2019-04-23 20:47] pfalcon opened #15627 "Application compiled with CONFIG_POSIX_API doesn't have access to POSIX headers"
Turns out, when an application (e.g. a sample) has an option CONFIG_POSIX_API=y in its prj.conf, it doesn't have include/posix/ path added to its compiler include path. This is completely unexpected given the https://github.com/zephyrproject-rtos/zephyr/blob/master/lib/posix/CMakeLists.txt#L6 directive. Turns out that a few POSIX tests we have work that around by explicitly adding that include pat

[2019-04-23 20:49] carlescufi commented on #15612
@jhedberg indeed, I was going to point that out. But the `bt_set_id_addr()` API call still needs to implement it right?

[2019-04-23 20:54] pfalcon commented on #15627
The effect of this is as follows: when POSIX subsystem implementation files are built, they are using include/posix/. Later, when an application is built, those headers are not available, and libc headers are picked up instead. In case of newlib, that means that different definitions for various types and structures are used, leading to erratic behavior of apps. In case of minlibc, it means that a

[2019-04-23 20:55] pfalcon commented on #15627
@SebastianBoe, please help to fix this issue.

[2019-04-23 21:20] jukkar commented on #15606
Nice analysis. Could you send a PR that implements the fix you have in the comment?

[2019-04-23 21:41] jhedberg commented on #15612
@carlescufi right

[2019-04-23 22:32] #15601 closed

[2019-04-23 22:59] carlescufi commented on #15608
@summer20100514 this sounds like it might be a clock issue perhaps? The debugger keeps the clock on I believe.

[2019-04-24 01:15] sixoctets commented on #15570
@carlescufi on slack:

it really looks like https://github.com/zephyrproject-rtos/zephyr/pull/15335#issuecomment-482082539

It is not host, to my understanding for now, as data buffer is leaked in the controller. I still need to try updates to my test setup (i need to try adding a bt_conn_security call in my peripheral after bt_unpair scenario).

It is not related to #15335 as that code path is no

[2019-04-24 03:03] KwonTae-young commented on #15607
@carlescufi
Thank you.
I did not know there was a separate SDK. :sweat_smile:

[2019-04-24 07:20] pkral78 commented on #12825
Oh, what you try to do ? I think we are still going in circles. Please read discussion in  #11393.

[2019-04-24 07:54] erwango opened #15637 "Support of device tree gpio-map"
## Introduction

Implement device tree gpio-map concept to enable the complete definition of connectors, down to individual pin assignments.

### Problem description

Today, in device tree description, we miss a way to provide a reference to an individual pin.
This limitation is particularly blocking in the shield area where we need to be able to use a generic reference to a single pin, in the way

[2019-04-24 07:54] erwango commented on #15598
@Mani-Sadhasivam, I've created https://github.com/zephyrproject-rtos/zephyr/issues/15637 that aims at solving this issue

[2019-04-24 08:44] SebastianBoe commented on #15627
This should be resolved by turning PTHREAD into a zephyr_interface_library.

There are many examples of this in-repo that can be used as a reference.

[2019-04-24 09:48] summer20100514 opened #15639 "[question] how to get the bd_addr from scan callback as shown on nrf-connect app?"
is there any way I can get the bd_addr as shown on my nrf-connect app from scan callback? I printed the bd_addr in bt_mesh_scan_cb but the address keeps changing from time to time which actually originates from the same device. thank you.

![微信图片_20190424174553](https://user-images.githubusercontent.com/6761214/56650102-fad83600-66b8-11e9-9fe6-d5c1cbbdde96.jpg)

[2019-04-24 09:53] #15596 closed

[2019-04-24 09:55] #15606 closed

[2019-04-24 10:04] SebastianBoe commented on #15626
This would be good to have, ideas for how to do this in a maintainable way are welcome.

[2019-04-24 10:09] summer20100514 commented on #15639
@carlescufi @jhedberg @nvlsianpu

[2019-04-24 10:16] SebastianBoe commented on #15625
Using 'target_compile_features' is not supported unfortunately.

c99 is already what is used by default in Zephyr, so I believe you can safely remove

target_compile_features(sha PRIVATE c_std_99)

[2019-04-24 11:39] benpicco commented on #15551
Just fyi, removing `~/.cache/zephyr` fixed it.

I've uploaded [cmake-verbose.log](https://gist.github.com/benpicco/10b9a0f846b6666936b4926db8ea1e64) and [~/.cache/zephyr](http://s000.tinyupload.com/index.php?file_id=47472623497909455346) if you want to investigate this further.

[2019-04-24 11:49] #15639 closed

[2019-04-24 11:59] finikorg commented on #13799
[code]
@StefJar does this fix the issue?

[2019-04-24 13:06] StefJar commented on #13799
This fixes my issue :D

[2019-04-24 13:18] finikorg commented on #13799
However other USB drivers return in such case -EAGAIN, so I have another fix

[2019-04-24 13:22] loicpoulain commented on #13799
note that ep_write can be called in irq context, if the the caller call write before the previous one has been completed, then it's probably a bug in the caller itself.

I'm going to have a look.

[2019-04-24 13:36] ozanoner commented on #13097
Thank you!

[2019-04-24 15:38] wgy0831 commented on #15279
https://gist.github.com/wgy0831/91bb743d0b56a24d05b330ca7be6a13c

You can easily compile and run this C file. I did what I said before and memset the last small block, then I noticed that the big block has been changed.

[2019-04-24 16:06] andrewboie commented on #15588
This is not currently supported, there are no per-thread timeslice values.

[2019-04-24 16:16] andyross commented on #15588
But that said, there's no particular reason it can't be if there's an actual need.  The slice time is set on context switch (or interrupt exit into a different thread) and we can fetch it from anywhere.

But I'd worry about a design that relied on this. Timeslicing is a (crude) way to achieve something approximating "fair" distribution of the global CPU resources.  It sounds from the phrasing abov

[2019-04-24 16:32] galak opened #15652 "document the mailing list for nightly build results"
Document on the wiki or somewhere about the mailing list that nightly builds.

[2019-04-24 16:33] galak commented on #15652
@dbkinder any suggestions on where to add this info to the docs?

[2019-04-24 16:34] galak commented on #15652
Nightly CI builds are currently done and reports are sent to `builds@lists.zephyrproject.org`.  Details are here:

https://lists.zephyrproject.org/g/builds

[2019-04-24 16:34] galak commented on #15652
@carlescufi fyi.

[2019-04-24 16:43] mbolivar commented on #12825
Use SystemView to trace execution, e.g. by enabling it on the philosophers sample. I've read that discussion.

[2019-04-24 17:36] bravegnu commented on #13943
@pfalcon Is this witnessed only with the stellaris driver or with other drivers as well?

[2019-04-24 18:35] andrewboie opened #15657 "properly define kernel <--> arch APIs"
We are part of the way there, but we need a very clear definition of the interface between the core kernel, and the arch/ code.

- All APIs and macros prefixed with z_arch_ / Z_ARCH_
- All interface definitions in a single interface header under kernel/include/. If someone wants to do a new arch port, they will know that everything they need to implement is in this header.
- Pulling in arch/cpu.h

[2019-04-24 22:19] kestewart opened #15659 "Add capability to generate an SBOM (based a files actually used) for each build."
**Is your feature request related to a problem? Please describe.**
Licensing of a binary is dependent on the licenses of the files included in the binary.   By generating an accurate SBOM based on the files actually included,  the licensing clarity is improved, and the compliance with the licensing is straight forward.

**Describe the solution you'd like**
Generate an SPDX document as the output o

[2019-04-24 22:21] #3418 closed

[2019-04-24 22:22] #3426 closed

[2019-04-24 22:24] galak commented on #14517
Addressed by PR #15647

[2019-04-24 22:28] jhedberg commented on #3648
Already implemented with `bt_unpair()`

[2019-04-24 22:28] #3648 closed

[2019-04-24 22:29] jhedberg commented on #3678
already implemented

[2019-04-24 22:29] #3678 closed

[2019-04-24 22:31] jhedberg commented on #8404
already fixed (according to @carlescufi at least :)

[2019-04-24 22:31] #8404 closed

[2019-04-24 22:32] jhedberg commented on #3417
no plans for implementing this

[2019-04-24 22:32] #3417 closed

[2019-04-24 22:33] jhedberg commented on #2611
no plans for implementing this

[2019-04-24 22:33] #2611 closed

[2019-04-24 22:33] jhedberg commented on #2587
no plans for implementing this

[2019-04-24 22:33] #2587 closed

[2019-04-24 22:34] nategraff-sifive commented on #3651
Closing because support for Pulpino was removed from Zephyr in #12876

[2019-04-24 22:34] #3651 closed

[2019-04-24 22:38] carlescufi commented on #9070
Closing this since there are no plans for adding additional BR/EDR support

[2019-04-24 22:38] #9070 closed

[2019-04-24 22:40] carlescufi commented on #5423
No longer applicable

[2019-04-24 22:40] #5423 closed

[2019-04-24 22:43] #2396 closed

[2019-04-24 22:43] #2397 closed

[2019-04-24 22:43] #2398 closed

[2019-04-24 22:43] #2399 closed

[2019-04-24 22:43] #2400 closed

[2019-04-24 22:43] #2401 closed

[2019-04-24 22:44] laperie commented on #3710
Looks like we won't implement that any time soon, hence closing

[2019-04-24 22:44] #3710 closed

[2019-04-24 22:47] jhedberg commented on #14678
I'm not sure it's worth trying to do this for 2.0. There are no users (I know of at least) of these extensions with the old controller. I'd prefer if the full mesh vendor spec was implemented and then update the mesh stack to use them when available. However, if no-one commits to do that for 2.0 then just set some future milestone.

[2019-04-25 06:12] gatzka commented on #15625
Well, not really. The library I wrote is avaliable for several operating systems like Linux, Windows, mbedOS etc. For those it is highly beneficial to declare the C standard to be used.

[2019-04-25 06:15] aescolar commented on #14678
Thanks @jhedberg , milestone changed

[2019-04-25 06:44] pkral78 commented on #12825
I would prefer configure SystemView to use differend RTT channel if it is possible, it is cleanest solution. A smarter RTT ring buffer locking as suggested in #11393 is on my TODO list. (OT: unfortunately I'm currently stuck on issues that both HEADs of bluez mesh stack and zephyr are still incompatible).

[2019-04-25 09:04] SebastianBoe commented on #15625
I'm not sure what kind of scenario you are describing, is it just the .a file that
is portable, or also the build scripts? If it's the build scripts then perhaps you
could write something like

if(NOT ZEPHYR)
target_compile_features(sha PRIVATE c_std_99)
endif()

[2019-04-25 09:35] tejlmand opened #15664 "Zephyr modules failure report"
During CMake configure time the script `zephyr_module.py` is called to find potential Zephyr modules.

`zephyr_module.py` uses `west list`, however if `west list` fails, the error from `west` is swallowed by `zephyr_module.py` and instead a new error is raised making it harder to find the root cause.

Existing error raised looks as:
[code]

[2019-04-25 09:47] StefJar commented on #15021
I wrote some basic code for the stm32f4 platform. I uploaded a blueprint for that:
https://github.com/StefJar/zephyr_stm32_rtc_driver

[2019-04-25 09:49] StefJar commented on #15421
I added a sample implementation for the stm32f4 arch
https://github.com/StefJar/zephyr_stm32_rtc_driver

[2019-04-25 10:20] jukkar commented on #15522
I tried to replicate this with latest master but did not see the issue. I tested it like this:
* `cd samples/net/ipv4_autoconf`
* `cmake -B build -DBOARD=qemu_x86 -DOVERLAY_CONFIG=../sockets/echo_server/overlay-e1000.conf .`
* `make -C build/ run`

Perhaps the extra padding is added by the ethernet driver. @pfl what board you were using in your test?

[2019-04-25 10:22] jukkar commented on #15522
Export from wireshark
[code]

[2019-04-25 11:09] pfalcon commented on #13943
@bravegnu: The current picture I have in my head re: 3 eth qemu drivers is:

* smsc911x works pretty well
* e1000 throws weird pkt alloc warnings and sometimes hangs
* stellaris hangs on 3rd  apache bench request

But that's somewhat dated picture, I'd encourage to try all 3 drivers with current codebase and see.

[2019-04-25 11:24] pfalcon commented on #13212
@rlubos: I see that somehow you weren't cc:ed here, even though this was posted as generalization of our discussion re: MQTT API. Doing this now.

[2019-04-25 11:38] SebastianBoe commented on #15659
It might be possible to extract this from CMake target properties, but it won't be easy.

It might also be possible to do "Build Output Parsing" and extract this from the logs of a verbose ninja build. But this probably won't be 100% safe.

One tricky use-case would be a source file that does

#include <../../../far_out_of_the_repo/into/new/repo/wrong_license.h>

point being that whatever mechanis

[2019-04-25 11:38] chinli opened #15668 "Support request: Issue with documentation warning"
I submit a PR with https://github.com/zephyrproject-rtos/zephyr/pull/15636, but it comment one waring always, detail infor as below:
warning: reached end of file while inside a verbatim block!
The command that should end the block seems to be missing!

some one could help me? i have tried many times, but still not resolved.
tks~

[2019-04-25 11:44] aescolar commented on #13519
"- [ ] Use `atomic_cas` when supported by the arch without disabling interrupts ([see for more info](https://github.com/zephyrproject-rtos/zephyr/pull/12404#pullrequestreview-192102680))"
 was removed due to https://github.com/zephyrproject-rtos/zephyr/pull/13471 being closed

[2019-04-25 11:53] SebastianBoe commented on #14740
@pfalcon : Then we would have to move the overlays out-of-tree wouldn't we?

I believe we want them in-tree to be able to use git to enforce that they are versioned to be compatible with the source.

[2019-04-25 12:48] chinli opened #15672 "net: socket send return error(-110) when http request 100 times"
we implement http client based BSD socket, and we request repeatedly when socket connected for testing the stability, but i'm confused that it send error when request 100times almost each test.
"are you kidding me?"
"No, I'm serious, the test procedures as below:"
1. Got IP addr, and connect it with socket
2. http request
3. recv the http response and parse it
repeates step 2~3,  send error(-110)

[2019-04-25 13:02] tbursztyka commented on #15672
That does not tell much, no logs, no code... It could be your test that does something wrong as well.

Could you share the code?

[2019-04-25 13:40] #15513 closed

[2019-04-25 13:42] aescolar commented on #13519
"- [ ] Add support for (current) Mesh Extensions (#14678)"
removed as there was no real interest for that, and the ticket was morphed into adding full mesh extensions to the controller.

[2019-04-25 13:44] galak commented on #15571
Fixed by #15595

[2019-04-25 16:49] marc-hb commented on #15551
Thanks @benpicco , appreciated. I scanned this log and extracted the relevant parts below. According to this log, the cache had indeed the wrong, "1" (= True) value.

[code]

This comment in `target_toolchain.cmake` drew my attention:
[code]
In this case the binary is `/usr/bin/arm-none-eabi-gcc`. However `-fmacro-prefix-map` is not a compiler option, it's a preprocessor option. @benpicco, @Sebast

[2019-04-25 16:52] Thea-Aldrich commented on #15668
Hello,
Thanks so much for reaching out and thank you for your contribution! Welcome! I have added David Kinder who helps with our documentation. We'll look through the PR and help find the issue that is hanging everything up.

I also wanted to mention that the Slack Channel is also a great place to get quick help on issues like this.

https://join.slack.com/t/zephyrproject/shared_invite/enQtNDgwNz

[2019-04-25 17:09] andrewboie opened #15675 "DTS question about pinmix/GPIO"
problem statemenet :

The GPIO register features and alternate mode selection for each pin live in the same set of registers. This is why I tried the following in the dts.

[code]

I get the following warning after executing cmake

[code]

Solution 1 :

One proposed solution is to do the following in the dtsi which correctly represents that a gpio is part of a pcr (Pin Control Register).
There is

[2019-04-25 17:17] dbkinder commented on #15668
The unterminated verbatim block error here is because ``\r`` is meaningful to doxygen comment processing.  Change this to be ``\\r\\n`` and the error should go away.

[2019-04-25 17:28] pabigot commented on #15611
Pull-up and pull-down input configuration flags appear to be missing.

`GPIO_DIR_OUT_LOW/HIGH` and `GPIO_OUTPUT_INIT_LOW/HIGH` appear to be redundant.

Some devices (Nordic GPIO, Semtex SX1509B) support drive strength configuration with very different capabilities and defaults.  Slew rate was also mentioned.  Unless every potential hardware capability can be anticipated with a generic API, there s

[2019-04-25 17:52] pabigot opened #15676 "Support instrumentation for time spent in various power states"
A basic need in low-power devices is to compare time spent with the CPU active with time spent with the CPU off.

I can't see anything in Zephyr that provides this capability.  There are subsystems to explicitly control system or device power, but nothing that tracks how much time the idle task is active.

Instrumenting the idle task is trivial but produces implausible results: the system is activ

[2019-04-25 18:06] jli157 commented on #15497
@jfischer-phytec-iot Any suggestions to solve the slow flashing issue introduced by ea177e7?

[2019-04-25 19:10] jukkar commented on #15672
The error code 110 is ESHUTDOWN in newlib (you are using that right?).

[2019-04-25 19:16] jukkar commented on #15373
The original issue was already fixed and merged to master -> closing.

[2019-04-25 19:16] #15373 closed

[2019-04-25 19:34] b0661 commented on #15611
If this is the output configuration it should be renamed to GPIO_OUTPUT_ACTIVE_LOW/HIGH to avoid any misinterpretation.

How is push/pull operation configured?

Why not have a set of generic debounce times that may fit a lot of SoCs (e.g. DEBOUNCE_NONE, DEBOUNCE_SHORT, DEBOUNCE_MEDIUM, DEBOUNCE_LONG). What short/ medium/ long means is dependent on the SoC and may even be specified in the DTS.

[2019-04-25 20:11] mrfuchs commented on #15603
Is this a reasonable fix or am I oversimplifying?

[code]

[2019-04-25 21:27] psidhu commented on #13151
This affects adafruit_trinket_m0. It's required that the adafruit_trinket_m0 boots from 0x2000 due to their UF2 bootloader.

zephyr,code-partition isn't taken into account because BOOTALODER_MCUBOOT isn't set apparently. So currently, no one can boot zephyr on the adafruit_trinket_m0 unless they physically change where flash begins e.g. something like:

[code]

I'm sure there are other boards affe

[2019-04-25 23:24] galak opened #15678 "Watchdog peripheral api docs aren't generated correctly."
https://docs.zephyrproject.org/latest/reference/peripherals/watchdog.html

[2019-04-25 23:24] galak commented on #15678
@nategraff-sifive FYI.

[2019-04-26 01:50] chinli commented on #15672
@tbursztyka the code of http client you can reference PR #15636, and  I enable all the LOG of networking, but there was any useful information, but i can see it shutdown connection by itself with wireshark.

@jukkar i don't know what do you mean using that right about the newlib. Is there any special usage about socket?

[2019-04-26 02:26] Jxudong opened #15679 "Can GPTP support multiple slave nodes"
When I use one master node and one slave node is working well, when I use one master node and  multiple slave nodes, there is a problem, the slave node report warning is as follows：

![image](https://user-images.githubusercontent.com/27182458/56779395-6cc19400-680d-11e9-9390-68f9f7bdc831.png)

Is this a configuration problem or does GPTP not support multiple child nodes?

[2019-04-26 02:41] summer20100514 commented on #15608
@carlescufi seems due to DCDC settings.

[2019-04-26 03:41] #15159 closed

[2019-04-26 05:29] chinli commented on #15668
@Thea-Aldrich @dbkinder well, thanks for your comment! it's done.

[2019-04-26 05:29] #15668 closed

[2019-04-26 06:00] aescolar commented on #15603
CC @SebastianBoe

[2019-04-26 06:06] aescolar opened #15680 ""backport v1.14 branch" label: update description and doc"
After renaming the backport label, and using it for the backport automation it was forgotten to update the label description and doc.
=>
Update the label description for "backport v1.14 branch", and the description in the doc: https://docs.zephyrproject.org/latest/development_process/dev_env_and_tools.html#pr-only-labels
to match the meaning of the new label.
Whenever a new doc section exists to d

[2019-04-26 06:22] chinli commented on #15672
@tbursztyka there is some logs indicated socket disconnect..
[00:00:28.370,000] <dbg> net_http_client.http_client_request: (0x0010699c): http client request start

[00:00:28.370,000] <dbg> net_if.net_if_tx: (0x0010b5f8): Processing (pkt 0x0011ae20, prio 0) network packet
[00:00:28.370,000] <dbg> net_if.net_if_tx: (0x0010b5f8): Calling context send cb 0x0010ab18 status 178
[00:00:28.380,000] <dbg>

[2019-04-26 06:33] jukkar commented on #15672
As the error code is ESHUTDOWN, it is returned by tcp code when the connection is about to be terminated but user data is tried to be sent.

[2019-04-26 06:41] chinli commented on #15672
@jukkar Yes, I understand  this point. but the question is i don't know what problem break off the socket connection.  there is a log for notice connection be removed as below:
**[00:00:28.390,000] net_conn.net_conn_unregister: (0x0010b560): [1] connection handler 0x0010b8bc removed**
do you have any ideas?

[2019-04-26 07:29] SebastianBoe commented on #15551
AFAIK *-gcc does not actually exec *-cpp, it links with / has built-in the code for preprocessing. So this should be safe.

In theory, a binary could link with two different DLLs, which would not be detected by the caching mechanism, but this won't happen for arm-none-eabi-gcc I believe.

[2019-04-26 07:53] jukkar commented on #15679
Are you using TSN supported Ethernet switch? Note that child nodes should not see each other traffic, only master should see child nodes traffic. This means that if you connect three TSN capable devices into normal Ethernet switch, there will be conflicts and it will not work.

[2019-04-26 07:59] jukkar commented on #15672
That unregister call is probably happening when we receive SYN and start to establish a connection. See `net_tcp_unregister()` call in tcp.c around line 2149. There might be better information shown if you enable TCP debugging.

[2019-04-26 09:05] chinli commented on #15672
[00:01:10.760,000] <dbg> net_core.processing_data: (0x0010b0f4): Consumed pkt 0x0011cd68
[00:01:10.760,000] <dbg> net_core.net_recv_data: (0x0010711c): prio 0 iface 0x001207c0 pkt 0x0011cd68 len 694
[00:01:10.760,000] <dbg> net_core.net_rx: (0x0010b0f4): Received pkt 0x0011cd68 len 694
[00:01:10.760,000] <dbg> net_conn.net_conn_input: (0x0010b0f4): Check TCP listener for pkt 0x0011cd68 src port 80

[2019-04-26 09:34] rlubos commented on #12942
@turon Two PRs were submitted, introducing Sleepy End Device support into Zephyr: #15552 and #15685.

There's no out-of-the-box sample that implements SED yet, I'm thinking about adding an overlay for the `echo_client` that'd configure a SED device. Just note, that when configuring SED in Zephyr, one should avoid setting a custom IPv6 address with the Mesh Local prefix, otherwise it breaks the add

[2019-04-26 12:54] jfischer-phytec-iot commented on #15497
@jli157 as alternative workaround you can set USB_DFU_DNLOAD_POLLTIMEOUT to 256

I consider to revert  ea177e7 at present there is no solution to be sure that a control had success before start erase process.

[2019-04-26 13:02] summer20100514 opened #15696 "[question] why bt_setting is dependant of printk in menuconfig?"
It's kind of weird that bt setttings is dependant of printk as follows
[code]

[2019-04-26 14:39] nvlsianpu commented on #15696
cc @jhedberg

[2019-04-26 14:47] nvlsianpu commented on #15696
AFIK sprintk() is used for generating settings key-names form BLT addresses etc (for instance).

[2019-04-26 15:03] MarekPieta opened #15698 "bluetooth: bt_conn: No proper ID handling"
**Describe the bug**
bt_conn->id is probably not handled properly (using hardcoded value - zero) - noticed errors connected with inproper BLE connection handling while using directed advertising (e.g. unable to properly refer to the connection).

**Expected behavior**
ID should be updated correctly for BLE connections (it should not have hardcoded value of zero).

**Impact**
 It may cause errors i

[2019-04-26 15:55] jhedberg commented on #15696
Yep, `snprintk` is being used, and there's currently no separation of the printk console output functionality from its formatting functionality, but just one high-level `PRINTK` Kconfig option.

[2019-04-26 16:24] jhedberg commented on #15698
Wasn't this fixed by #15532 ?

[2019-04-26 16:27] jhedberg commented on #15698
@pdunaj @carlescufi FYI

Another note: non-default id is only supported for peripheral role, so there should be no need to add custom id functionality for central-related code.

[2019-04-26 16:34] pabigot commented on #11626
@carlescufi As a consequence of #14991 reverting this change the misbehavior is again present in Zephyr 1.14 and current master.  Re-testing on nRF52840 shows 50 us delays complete in 24 to 32 us, 75 us delays in 55 us, and 100 us delays in 86 us tested on 1.14.0.

@pizi-nordic FWIW the alternative timer infrastructure in my fork has no effect on the behavior of `k_busy_wait`.

[2019-04-26 16:40] jli157 commented on #15497
Reverting ea177e7 already works for me. I'm just thinking what's the next you like to give it a better solution.

Do you recommend to close this issue or rename it to something like slowing DFU issue?

[2019-04-26 17:14] MarekPieta commented on #15698
We didnt set conn->id and it caused problems with direct advertising. Connection was not properly handled by API, which caused problems like advertising failing to start.

[2019-04-26 17:21] jhedberg commented on #15698
@MarekPieta thanks for clarifying, your updated PR is looking better (and simpler :)

[2019-04-26 17:27] jfischer-phytec-iot commented on #15497
Please let it open, I have an idea how to fix but tend to revert it for now.

[2019-04-26 18:14] ilanbiala commented on #14591
Bump, any update on this?

[2019-04-26 20:56] pabigot opened #15703 "ADC (and SPI?) async operations block caller if resource is in use"
The `adc_context.h` common file used to support asynchronous ADC requests in a driver-independent manner is only asynchronous for the first operation, as the lock used to queue a new operation is held by the driver as long as the previous operation is active.  This makes the invoking thread block while attempting to schedule the next operation.

The following example may clarify.  This code on nRF

[2019-04-26 23:06] pabigot commented on #15703
Linking in @andrewboie for comment:

The rationale in #15040 for copying the `adc_sequence` and `adc_options` objects into the async context instead of holding the sequence pointer appears to be undercut by the sequence object itself holding a pointer to the result buffer, which could equally be on the heap or call stack.   `struct spi_context` has exactly the same sort of design but with more poi

[2019-04-27 00:05] lorepieri8 opened #15706 "tunslip6: main: open: No such file or directory"
**Describe the bug**
Trying to follow https://docs.zephyrproject.org/1.13.0/subsystems/networking/qemu_setup.html in docker (Ubuntu 18.04) I fail to complete step 2 without errors.

**To Reproduce**
1. In terminal 2, ./loop-socat.sh
2. In terminal 3, sudo ./loop-slip-tap.sh

**Expected behavior**
Unknown. (Not specified in the link above)

EDIT:
In a Digital Ocean linux instance I get:
[code]

**S

[2019-04-27 00:29] pabigot commented on #11626
The [diagnosis supporting #14991]( https://github.com/zephyrproject-rtos/zephyr/issues/14186#issuecomment-477623826) is not correct.  The error between the system clock (counting 10 ms ticks) and the cycle clock (counting 32 KiHz ticks) is not due to RC vs LFXT variation, but the fact that using `CONFIG_SYS_CLOCK_TICKS_PER_SEC=100` results in a system clock 1 s that corresponds to 32700 cycles of

[2019-04-27 01:24] pabigot commented on #11626
I'm going to retract that: it's not so simple.

Here's instrumentation on the test that failed in #14186 when `CONFIG_SYS_CLOCK_TICKS=100`:
[code]

When `CONFIG_SYS_CLOCK_TICKS=128` on the same hardware I get:
[code]
Both of these taken from the branch used in #15707, with `prj.conf` updated to override the default, running on a Particle Xenon (nRF52840).

I don't understand why this succeeds and

[2019-04-27 02:14] #15678 closed

[2019-04-27 13:53] pabigot commented on #11457
I like this proposal if it's generalized beyond SPI to ADC, and possibly other async-able subsystems like sensors.

I agree that assuming `k_poll` with a signal is always suitable makes the ADC (and SPI) async APIs difficult to use in some cases.  So I'd like to see a generic way to specify how asynchronous results are conveyed to the caller.  (I personally prefer a callback as it's the most flexi

[2019-04-27 16:02] aescolar opened #15709 "CODEOWNERS ignored in GitHub"
**Describe the bug**
New PRs do not get reviewers automatically assigned thru the CODEOWNERS file, and CODEOWNER status is not displayed in the reviewer list

**To Reproduce**
a) Create a PR against code owned by anybody, see there is no automatic added reviewers
b) Note that in all PRs for the last couple of days there is no shield code owner symbol next to any reviewer.

**Impact**
No appropriat

[2019-04-27 16:04] aescolar commented on #15709
CC @pfalcon

[2019-04-27 19:38] #15664 closed

[2019-04-28 02:21] summer20100514 commented on #15696
OK, get it.

[2019-04-28 02:21] #15696 closed

[2019-04-28 09:30] Jxudong commented on #15679
This means that if I want to run GPTP, I have to use a switch with TSN functionality, not a normal switch?

[2019-04-28 09:31] Jxudong commented on #15679
@jukkar

[2019-04-28 09:33] summer20100514 opened #15710 "[question] how about the current consumption on NRF52DK running power_mgr sample?"
It seems that power subsystem has been updated during 1.14 release. As old issues #12150 and #12367 indicate the current consumption is not controlled well. So what's the newest current result and if none, what's the roadmap on this topic? thank you.
@pizi-nordic

[2019-04-28 11:03] chinli commented on #15672
Well, tks for your comments, I found the reason of this problem that http protocal Keep-Alive limited 100 times with current connection of http server. so this issue is a normal disconnect.

[2019-04-28 11:03] #15672 closed

[2019-04-28 11:49] nashif commented on #12478
problem still exist

[code]

[2019-04-28 15:04] lgl88911 opened #15713 "MCUMGR_LOG build error"
**Describe the bug**
when I config CONFIG_MCUMGR_CMD_LOG_MGMT=y,  mcumgr log will build error:

**error 1**: create makefile fail:
[code]
I fix it by modify *zephyr/ext/lib/mgmt/mcumgr/cmd/log_mgmt/CMakeLists.txt*
[code]
then disapper
**error 2** can't find file:
[code]

I search zephyr path & west path， can't find mdlog， but it be used by zephyr_log_mgmt.c.
It's a bug? or I config have some error

[2019-04-28 15:16] parthitce opened #15714 "samples/bluetooth/peripheral: could not connect with disco_l475_iot1 board"
**Describe the bug**
When I tried to run `samples/bluetooth/peripheral/` in `disco_l475_iot1` board and unable to connect with Bluez. The sample application crashes with exception.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/bluetooth/peripheral; mkdir build; cd build
2. cmake -GNinja -DBOARD=disco_l475_iot1 ..
3. ninja; ninja flash
4. Run bluetoothctl: trust the zephyr device

[2019-04-28 16:02] carlescufi commented on #15713
That file doesn't seem to have ever existed. It might be that this has never been correctly tested. @ccollins476ad can you shed some light?

[2019-04-28 17:21] jhedberg commented on #15714
I don't have this board, so I can't really do much about this with the given information. Do the instruction pointers resolve to some meaningful place in the code? Which threads are the ones that are faulting? Have you double-checked that this isn't a thread stack overflow?

[2019-04-28 17:32] #15558 closed

[2019-04-28 20:29] parthitce commented on #15714
@jhedberg I haven't checked the `addr2line`, will do it tomorrow. I am not sure about the stack size, I have also tried with increased *STACK_SIZE's, still no luck.

[2019-04-28 22:31] dmazzella commented on #15507
@finikorg i have tried with commit d44086db5a2aa362510d7ac1a1f2f401c8ff180c and now on macOS I have this error:

[code]

with .conf:

[code]

[2019-04-28 22:45] dmazzella commented on #15507
@finikorg `nrf52840_pca10059` with sample `samples/subsys/usb/mass` my .conf:

[code]

error:
[code]

[2019-04-29 01:59] jhedberg commented on #15714
@erwango do you know anything about Bluetooth support on this board?

[2019-04-29 05:07] pizi-nordic commented on #11626
I missed that.... Due to fact that on some board test passed and on others not as well as measurement results fixated my mind. Thank you @pabigot for pointing this out!

[2019-04-29 05:26] cinlyooi-intel opened #15719 "tests/ztests/mock/ : Stuck at test_parameter_tests"
**Describe the bug**
Test stuck at test_parameter_tests(). If I remove the test, the other tests will run fine.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=altera_max10
3. make
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your progress (e.g., annoy

[2019-04-29 06:25] finikorg commented on #15507
@dmazzella So does it work in Windows?

[2019-04-29 07:02] tbursztyka commented on #15703
Not a bug here. Looks like we have a misunderstanding in API usage: there is no queuing mechanism in SPI or ADC (anywhere in other API in fact), so it will not pile up calls. The async is on once the transaction is on. As long as the caller does not have its turn on the driver it will be blocked yes. Fact that there is no timeout is another issue, we brought this to the table many times as most of

[2019-04-29 07:37] dmazzella commented on #15507
`samples/subsys/usb/mass` work on Windows. YES

`samples/subsys/usb/hid` with conf:

[code]

YES

[2019-04-29 07:45] pdunaj commented on #15698
Hi @jhedberg , the previous one caused resource leak but I admit I have not tested it enough and there was another bug there.

[2019-04-29 07:57] erwango commented on #15714
@jhedberg, BLE module on this board is 4.1. We've used it to perform IPSP demos.

[2019-04-29 08:15] joerchan commented on #15570
Case 1:
Central and Peripheral try to establish encryption.
Central has bond information for peripheral
Peripheral has no bond information.

Sniffer log: (1 and 2)
peripheral_no_bond_kernel_panic.pcapng

Problem 1:
Encryption procedure is not terminated on peripheral side when sending reject ind (PIN OR KEY MISSING)
function event_enc_prep is still using:

`  /* procedure request acked */`
`  conn

[2019-04-29 08:16] joerchan commented on #15570
[mic_failure_sniffer_traces.zip](https://github.com/zephyrproject-rtos/zephyr/files/3126462/mic_failure_sniffer_traces.zip)

[2019-04-29 08:22] StefJar opened #15720 ""z_clock_elapsed" implementation seems to be missing #linking #sched"
After pulling the latest Zephyr code(8bd28db98035f1bb4b66ae8956810c5b2041a16d) and running the build of my project, the linking fails.

I am running Zephyr on a stm32f4(custom board).

The linking fails with:
[code]
For me it looks like that the "z_clock_elapsed" function got lost.

[2019-04-29 08:34] #15698 closed

[2019-04-29 08:54] pizi-nordic commented on #15710
Key facts:
1. At the moment there is no comprehensive power management solution in Zephyr. There are 2 distinct and limited frameworks:
   - System Power Manager - which chooses power mode depending on the expected idling time.
   - Device Idle Power Manager - which disables devices which are not used.
2. The frameworks mentioned above does not cooperate witch each other, so for example devices ar

[2019-04-29 09:11] summer20100514 commented on #15710
@pizi-nordic thank you.

[2019-04-29 09:11] #15710 closed

[2019-04-29 09:30] parthitce commented on #15714
@erwango Thanks, yes it got 4.1 based on ST's SPBTLE-RF module. It has the LE protocol stack built into the module and access is provided over SPI.

Is 4.1 a restriction for this use case?

[2019-04-29 09:31] erwango commented on #15714
I don't know, I was hoping it could help @jhedberg for his analysis.

[2019-04-29 10:00] wentongwu commented on #15331
@AntoineZen from MaureenHelm's test, relocation code works well on board mimxrt1050_evk.

[2019-04-29 10:31] ioannisg opened #15728 "tests/benchmarks/timing_info: wrong value for context switch duration"
**Describe the bug**
The reported value of Context Switch time is not correct for ARM, even though the test is passing.
Issue reported for nrf52 boards, but it is a rather generic bug. The test is passing, though.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52_pca10040
3. make
4. See error below:

[code]

[2019-04-29 10:37] nvlsianpu opened #15729 "flash: should write_protection be emulated?"
According to https://docs.zephyrproject.org/latest/reference/peripherals/flash.html#_CPPv326flash_write_protection_setP6deviceb
write protection might behave different depending on which flash driver is used. Is this possible to relax it completely - so make this API no-operation for a driver. Then this driver would take care on its-own regard its internal protection.

I'm asking because for nRF f

[2019-04-29 10:51] cvinayak commented on #15570
@joerchan PR for problem one: #15727 . This will fix the MIC failure happening after reject_ext_ind for an encryption procedure.

The subsequent problem (2) of connection parameter request being sent is a bit weird because whats unset is pause_rx flag (due to the bug, missing reset of the flag), which should prevent CPR prepared/dispatch in the event_connection_prepare function.

Could you make a

[2019-04-29 11:03] nvlsianpu commented on #5697
@galah @carlescufi  flash driver documentation issue: [flash: should write_protection be emulated?](https://github.com/zephyrproject-rtos/zephyr/issues/15729)

[2019-04-29 11:37] pabigot commented on #15703
I don't particularly mind if `foo_async()` is restricted to a single in-progress operation.  I do mind that my thread is busy-waiting on a spin-lock for 72 ms.  The API (in my opinion) should return `-EINUSE` or `-EBUSY` if the resource is not available immediately, and the spinlock should not be held for the duration of the operation.

[2019-04-29 11:53] cvinayak opened #15733 "Bluetooth: controller: Central Encryption setup overlaps Length Request procedure"
During the investigation of #15570 it has been discovered that fix in #15335 is broken.

Below is a copy of the central issue (https://github.com/zephyrproject-rtos/zephyr/issues/15570#issuecomment-487487731):

Case 2:
Central and Peripheral try to establish encryption
Both devices have bonding information.
Peripheral disconnects the link with MIC failure after receiving LL_LENGTH_RSP during encry

[2019-04-29 11:56] tautologyclub opened #15734 "Power management doesn't work with CONFIG_I2C=y on nRF52"
Upstream version: `v1.14.0` tag

If you configure application to use i2c on nRF52, then power consumption rises dramatically, even if you don't actually touch the i2c subsystem in any way.

Steps to reproduce the behavior:
1. Add the following to `samples/boards/nrf52/power_mgr/prj.conf`
[code]
No other modifications.
2. Compile and build for `nrf52840_pca10056`
3. Hook up a current monitor to you

[2019-04-29 12:00] tautologyclub commented on #15734
@pizi-nordic @carlescufi @anangl

[2019-04-29 12:15] ioannisg commented on #15720
Yep, most likely due to #15212.
If this is a custom board, you, now, need to select the SYSTICK timer explicitly in your BOARD definition.

[2019-04-29 12:16] ioannisg commented on #15720
@StefJar can you confirm that defining CONFIG_CORTEX_M_SYSTICK=y in BOARD defconfig solves your linking error?

[2019-04-29 12:33] tbursztyka commented on #15703
@pabigot we could do that, but only for async functions, others should still wait until they get their turn (actually there is no code using these async functions besides the loopback test, so it won't arm doing that change)

[2019-04-29 12:55] pabigot opened #15736 "Generalize and improve async context for SPI, ADC, etc."
Referred from #15703:

Spin-locks are intended for cases where the lock is expected to be released almost immediately, where the cost of suspending the calling thread is too high.  The SPI (ADC) async context uses a spin-lock to protect data from multiple access, but holds it while an operation is in progress.

Whether this is a bug or intended, it's very much not desirable.

A case might be made

[2019-04-29 12:57] pabigot commented on #15703
While I would find great value in an API that allowed me to queue multiple operations I fear the complexity of dealing with an intermediate operation that failed wouldn't be worth it.  So the remaining part of this issue is the (mis-)use of the spin-lock.  I've opened #15736 to cover that concern.

[2019-04-29 13:01] StefJar commented on #15720
@ioannisg I can confirm that this solves that linking error

[2019-04-29 13:05] tbursztyka commented on #15736
@pabigot btw, you are mentioning spin lock, but spi uses a semaphore, so I guess semaphores now uses a spin lock below. k_sem_take used to suspend the thread before. It does not do that anymore?

[2019-04-29 13:10] pabigot commented on #15736
@tbursztyka You're right.  I have no idea why I kept reading that as a spin lock.

Never mind.  I'll switch to `-EWOULDBLOCK` for ADC in a patch in my fork; if it looks sane I'll upstream it and somebody else can do the same for SPI.

[2019-04-29 13:10] #15736 closed

[2019-04-29 13:15] ioannisg commented on #15720
Would you like to close this bug-report, then?

[2019-04-29 13:26] #15720 closed

[2019-04-29 13:35] pabigot commented on #15703
Somehow I'd gotten confused and thought the problem was a spin-lock being held; it's a semaphore.  So the change to the API to have it return `-EBUSY` or `-EAGAIN` if the resource isn't available would be a satisfactory resolution to this.

Looking at the code it's non-trivial to accomplish, so I'm withdrawing my offer to do this for ADC.

[2019-04-29 13:42] SebastianBoe commented on #2994
This issue has re-appeared, presumably from some of the CMake toolchain rework.

[2019-04-29 13:43] SebastianBoe commented on #2994
It only affects Windows

[2019-04-29 14:18] lorepieri8 opened #15738 "Networking with QEMU for mac"
Is there a mac version of Networking with QEMU?
https://docs.zephyrproject.org/latest/guides/networking/qemu_setup.html#networking-with-qemu

[2019-04-29 16:03] #15483 closed

[2019-04-29 19:13] AntoineZen commented on #15331
As I said, the issue is random and thus hard to reproduce. Try to change anything in the code, and the issue might appear. Change again, the issue is gone. Maybe something related to memory alignement, cache... I was not able to spot it till now, thus this issue. If someone has more luck/expertise.

[2019-04-29 21:44] MaureenHelm commented on #15593
The J-Link GDB server doesn't currently support zephyr thread awareness.

[2019-04-29 21:55] turon commented on #12942
@rlubos Thanks for the update.  So when your changes are merged, will that allow a Zephyr router to accept and support an openthread cli SED?  That is the configuration I was testing with.

[2019-04-30 05:55] xiongyu0523 opened #15748 "'ninja flash' does not work for IMXRT1052 target"
**Describe the bug**
Follow the guide to run 'ninja flash', all build processes are passed just stop the last step. It shows 'FAILED: zephyr/cmake/flash/CMakeFiles/flash'

**To Reproduce**
Steps to reproduce the behavior:
1. Install Jlink OpenSDA firmware for the on-board debugger
2. The debugger itself works well, e.g. using J-Link Lite to program a zephyr.bin binary is good.
3. Go to samples/hel

[2019-04-30 07:10] summer20100514 opened #15749 "[question] errors using custom command in CMakeLists.txt"
can you point me out why this command won't wok which resides in my application CMakelists.txt? thank you.
[code]
The output is
[code]

[2019-04-30 08:04] dmazzella commented on #15507
@finikorg `nrf52840_pca10059` with samples `samples/subsys/usb/cdc_acm` and `samples/subsys/usb/cdc_acm_composite`  they don't work anymore

[2019-04-30 08:26] finikorg commented on #15507
[code]

Does this help?

[2019-04-30 08:32] dmazzella commented on #15507
Yes now work correctly

[2019-04-30 09:53] PhilippFinke opened #15751 "Incorrect flash map"
Hi everybody,

it seems I found a bug in v1.14.0. I'm using Zephyr on my nrf52840 based custom board together with mcuboot v1.3.0. Everything worked fine with Zephyr v1.13.0, but after updating to the latest release I'm not able to boot the image in slot 0 via mcuboot. After debugging for a while, I had a look at the array flash_map (pointing to default_flash_map). This array has 5 entries that re

[2019-04-30 11:38] nvlsianpu commented on #15751
https://github.com/JuulLabs-OSS/mcuboot/issues/429

[2019-04-30 12:09] PhilippFinke commented on #15751
I don't think that this is a solution to my problem. I can build mcuboot v1.3.0 against Zephyr v1.14.0. The problem is that the flash map is incorrectly arranged. The problem even exists when I build a standalone version of my application. The array default_flash_map (that is used by mcuboot to retrieve the slot information) looks like this in the debugger.

default_flash_map[0] = mcuboot partitio

[2019-04-30 12:52] MaureenHelm commented on #6636
Fixed by #12835

[2019-04-30 12:52] #6636 closed

[2019-04-30 13:09] erwango commented on #15637
Some details on implementation in extract_dts_includes.py

Proposal is to instantiate a new parent<>child relationship with gpio-map node being the parent and connector being the child, similar to what is implemented for buses.

[2019-04-30 14:40] #14547 closed

[2019-04-30 14:52] Pathak94 commented on #15444
Thank you for the fix! I also encountered this issue with nrf52840_blip board, by doing the fix you suggested, the problem is solved. Will you send a PR for this?

[2019-04-30 15:17] carlescufi commented on #15738
You can just install  QEMU with brew and it should work

[2019-04-30 15:45] lucaspeixotot commented on #15444
I'm glad it worked for you. Probably this week I will create a PR.

As you are using sdhc worth another tip, the unmount function was not implemented for fatfs. So I created a PR that you can see here #15712

[2019-04-30 15:54] aescolar commented on #15748
CC @mbolivar

[2019-04-30 16:05] galak commented on #2933
Moving this over to openocd zephyr repo to track there.

[2019-04-30 16:08] galak commented on #2933
@dgloeck is owning this.

[2019-04-30 16:10] #2933 closed

[2019-04-30 16:53] galak commented on #6039
@agansari can you look at adding interrupt support to the UART driver.

[2019-04-30 16:55] galak commented on #7213
There are a few special cases for the samples, we should decide what we want to do there, otherwise I think everything else has a DT_ prefix.

[2019-04-30 16:56] #15193 closed

[2019-04-30 17:28] marc-hb commented on #1333
@carlescufi since commit 39131dc3cee9 you now can override version.h with anything you like thanks to the BUILD_VERSION environment variable, do you think this is (flexible) enough to close this feature request? I have admittedly not tested this on Windows, please report any issue either in PR #14594 or create a new issue referencing PR #14594

On the more general reproducibility topic follow prog

[2019-04-30 17:37] marc-hb commented on #14904
I think it's fixed by PR #15523, re-open if I misunderstood.

[2019-04-30 17:37] #14904 closed

[2019-04-30 18:45] marc-hb commented on #1350
@carlescufi , would PR #9188 help?

[2019-04-30 18:59] #3767 closed

[2019-04-30 18:59] #3759 closed

[2019-04-30 19:00] #3673 closed

[2019-04-30 19:54] lorepieri8 commented on #15738
The problem is that

[code]

returns

[code]

[2019-04-30 21:21] dmazzella commented on #15507
@finikorg sorry if I said that now it works without having tested on all three operative systems.

- _Windows_: work correctly
- _MacOS_: still does not work
- _Linux_: untested

[2019-04-30 21:43] mbolivar commented on #15748
@xiongyu0523 can you please run `west -vvv flash` from the build directory? That will provide more verbose debug information than plain `ninja flash`. It may help @MaureenHelm diagnose.

[2019-04-30 22:16] mbolivar commented on #15448
Hi @chaos4284, just following up on this.

[2019-04-30 22:42] mbolivar commented on #5697
Finally got around to this: https://github.com/zephyrproject-rtos/zephyr/projects/18

Is that pretty much what people are expecting? Should we close this if so?

[2019-04-30 22:45] andrewboie commented on #5697
I think we need clarity on what is going on with the new async serial API, and the old CONFIG_UART_INTERRUPT_DRIVEN API, as seen here: https://github.com/zephyrproject-rtos/zephyr/pull/14854

[2019-04-30 23:23] jli157 opened #15759 "usb: cdc_acm: uart_line_ctrl_set(dev, LINE_CTRL_DTR, &dtr) should always return 0 if USB port is not opened by host"
**Describe the bug**
A clear and concise description of what the bug is.
The status of LINE_CTRL_DTR retrieved by the function `uart_line_ctrl_set` is useful to detect if the program running on the host computer already opened the USB CDC-ACM port or not. However, it is observed that the status of LINE_CTRL_DTR is not consistent.

**To Reproduce**
Steps to reproduce the behavior:
- board booting u

[2019-04-30 23:29] jli157 commented on #15759
@finikorg please help to analyze the issue, thank you!

[2019-05-01 05:28] aasthagr opened #15762 "[Coverity CID :198022]Security best practices violations in /subsys/settings/src/settings_runtime.c"
Static code scan issues seen in File: /subsys/settings/src/settings_runtime.c
 Category: Security best practices violations
 Function: settings_runtime_commit
 Component: Other
 CID: 198022
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:28] aasthagr opened #15763 "[Coverity CID :198021]Control flow issues in /drivers/clock_control/clock_stm32_ll_mp1x.c"
Static code scan issues seen in File: /drivers/clock_control/clock_stm32_ll_mp1x.c
 Category: Control flow issues
 Function: stm32_clock_control_get_subsys_rate
 Component: Drivers
 CID: 198021
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:28] aasthagr opened #15764 "[Coverity CID :198019]Security best practices violations in /subsys/settings/src/settings_runtime.c"
Static code scan issues seen in File: /subsys/settings/src/settings_runtime.c
 Category: Security best practices violations
 Function: settings_runtime_set
 Component: Other
 CID: 198019
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:28] aasthagr opened #15765 "[Coverity CID :198018]Control flow issues in /subsys/bluetooth/host/mesh/settings.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/settings.c
 Category: Control flow issues
 Function: mod_set_sub
 Component: Bluetooth
 CID: 198018
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:28] aasthagr opened #15766 "[Coverity CID :198016]Security best practices violations in /subsys/settings/src/settings_runtime.c"
Static code scan issues seen in File: /subsys/settings/src/settings_runtime.c
 Category: Security best practices violations
 Function: settings_runtime_get
 Component: Other
 CID: 198016
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:28] aasthagr opened #15767 "[Coverity CID :198014]Memory - corruptions in /drivers/flash/flash_simulator.c"
Static code scan issues seen in File: /drivers/flash/flash_simulator.c
 Category: Memory - corruptions
 Function: flash_init
 Component: Drivers
 CID: 198014
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15768 "[Coverity CID :198013]Control flow issues in /subsys/bluetooth/host/mesh/settings.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/settings.c
 Category: Control flow issues
 Function: mesh_x_set
 Component: Bluetooth
 CID: 198013
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15769 "[Coverity CID :198012]Memory - corruptions in /drivers/flash/flash_simulator.c"
Static code scan issues seen in File: /drivers/flash/flash_simulator.c
 Category: Memory - corruptions
 Function: flash_init
 Component: Drivers
 CID: 198012
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15770 "[Coverity CID :198011]Incorrect expression in /tests/subsys/usb/desc_sections/src/desc_sections.c"
Static code scan issues seen in File: /tests/subsys/usb/desc_sections/src/desc_sections.c
 Category: Incorrect expression
 Function: check_endpoint_allocation
 Component: Tests
 CID: 198011
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15771 "[Coverity CID :198010]Control flow issues in /samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/storage.c"
Static code scan issues seen in File: /samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/storage.c
 Category: Control flow issues
 Function: ps_set
 Component: Samples
 CID: 198010
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15772 "[Coverity CID :198009]Memory - corruptions in /subsys/bluetooth/shell/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/shell/gatt.c
 Category: Memory - corruptions
 Function: print_attr
 Component: Bluetooth
 CID: 198009
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15773 "[Coverity CID :198007]Memory - corruptions in /subsys/bluetooth/host/hci_core.c"
Static code scan issues seen in File: /subsys/bluetooth/host/hci_core.c
 Category: Memory - corruptions
 Function: id_create
 Component: Bluetooth
 CID: 198007
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15774 "[Coverity CID :198006]Control flow issues in /subsys/bluetooth/host/settings.c"
Static code scan issues seen in File: /subsys/bluetooth/host/settings.c
 Category: Control flow issues
 Function: set
 Component: Bluetooth
 CID: 198006
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15775 "[Coverity CID :198005]Memory - corruptions in /subsys/bluetooth/shell/gatt.c"
Static code scan issues seen in File: /subsys/bluetooth/shell/gatt.c
 Category: Memory - corruptions
 Function: print_attr
 Component: Bluetooth
 CID: 198005
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15776 "[Coverity CID :198003]Error handling issues in /tests/net/net_pkt/src/main.c"
Static code scan issues seen in File: /tests/net/net_pkt/src/main.c
 Category: Error handling issues
 Function: test_net_pkt_basics_of_rw
 Component: Tests
 CID: 198003
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15777 "[Coverity CID :198002]Null pointer dereferences in /subsys/net/l2/ethernet/arp.c"
Static code scan issues seen in File: /subsys/net/l2/ethernet/arp.c
 Category: Null pointer dereferences
 Function: arp_prepare
 Component: Networking
 CID: 198002
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:29] aasthagr opened #15778 "[Coverity CID :198001]Control flow issues in /subsys/bluetooth/host/mesh/settings.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/settings.c
 Category: Control flow issues
 Function: mod_set_bind
 Component: Bluetooth
 CID: 198001
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-05-01 05:55] jhedberg commented on #15773
Marked as false positive in Coverity

[2019-05-01 05:55] #15773 closed

[2019-05-01 05:56] jhedberg commented on #15775
Marked as false positive in Coverity

[2019-05-01 05:56] #15775 closed

[2019-05-01 05:57] jhedberg commented on #15772
Marked as false positive in Coverity

[2019-05-01 05:57] #15772 closed

[2019-05-01 16:19] xiongyu0523 commented on #15748
Log after run `west -vvv flash`, it seems i do not have commander file in below path C:\Users\nxa07532\AppData\Local\Temp\1\tmpk6ydop3ijlink\runner.jlink

Previous I have two python37 installed, one 32-bit version and one 64-bit version. Now I uninstalled 32-bit in AppData\Programs, only keep the python37 in c:\ root directory. I'm not sure whether it impacts the script generation.

[code]

[2019-05-01 16:21] nashif commented on #6906
place hoder

[2019-05-01 16:21] #6906 closed

[2019-05-01 16:23] nashif commented on #8081
This is not going to happen, tinycrypt is there to stay.

[2019-05-01 16:23] #8081 closed

[2019-05-01 16:46] jukkar commented on #15738
The tunslip6 program works only for Linux. Currently there is no plan to support Mac. Patches are welcome if you want to contribute Mac support.

[2019-05-01 16:53] jukkar commented on #15706
Instead of SLIP, you might want to try real Ethernet driver like e1000 in QEMU. See https://docs.zephyrproject.org/1.14.0/guides/networking/networking_with_host.html and  https://docs.zephyrproject.org/1.14.0/guides/networking/qemu_eth_setup.html#networking-with-eth-qemu for details.

This issue seems to be related to docker instead of zephyr, so removing the bug label.

[2019-05-01 16:58] MaureenHelm commented on #15748
It looks like you need to add the jlink commander to your windows search path. You may want to create a `zephyrrc.cmd` file in your home directory to do this automatically. It gets invoked when you run `zephyr-env.cmd`.

Here's mine:
[code]

[2019-05-01 17:01] jukkar opened #15789 "Networking documentation missing"
**Describe the bug**

The "Networking with host" document is correctly rendered in 1.14
https://docs.zephyrproject.org/1.14.0/guides/networking/networking_with_host.html

but in latest it is not
https://docs.zephyrproject.org/guides/networking/networking_with_host.html

It will print
**Sorry, Page Not Found**

[2019-05-01 17:05] jukkar commented on #15679
TSN capable switch is only needed if you have more than two nodes that you want to connect together.
You can overcome this by using VLANs which can be used to separate Ethernet traffic. Using VLANs with gPTP is not specified in gPTP spec but both Linux and Zephyr support that.

[2019-05-01 18:29] nashif opened #15793 "Unable to load binaries into iotdk"
**Describe the bug**

Following the instructions for the iotdk, I am not able to load any binaries to the device.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b iotdk samples/synchronization/
2. west flash

[code]

**Expected behavior**

Binary should be loaded

**Impact**
Showstopper

**Additional context**

How can we flash a binary into the internal flash?

[2019-05-01 18:44] andrewboie opened #15794 "mps2_an385 crashes if CONFIG_INIT_STACKS=y and CONFIG_COVERAGE=y"
If both of these configs get enabled, we get a bus fault:

[code]

Note that the thread ID information is bogus since we are in early boot context.

The crash happens in the call to memset() in z_new_thread_init() when it tries to write 0xAA to the stack buffer (which is what CONFIG_INIT_STACKS does) for the main thread.

[code]

To reproduce, add the lines:

[code]

to samples/hello_world/prj.con

[2019-05-02 01:10] cvinayak commented on #15171
@hwagner66 any follow up on this issue?

[2019-05-02 05:13] jukkar commented on #15789
Never mind, I did not notice that the "latest" link is not correct. BTW, the page https://docs.zephyrproject.org/1.14.0/guides/networking/networking_with_host.html gives incorrect link to latest document for some reason.

[2019-05-02 05:13] #15789 closed

[2019-05-02 05:27] Pathak94 commented on #15444
Noted! Thanks.

[2019-05-02 07:27] ruuddw commented on #15793
See [SDK issue 65](https://github.com/zephyrproject-rtos/sdk-ng/issues/65), I believe this is the same issue.
Workaround is using an older openocd binary from a previous Zephyr SDK (I believe Zephyr SDK 0.9.3 was still ok).

ARC development boards typically download binaries to ICCM, I don't believe a flash runner has been added yet. @vonhust do you have a pointer on how to use the flash, or even

[2019-05-02 07:33] finikorg commented on #15759
Do you have logs? DTR can be change when you see `usb_cdc_acm.cdc_acm_class_handle_req: CDC_SET_CONTROL_LINE_STATE`.
BTW do you have modem manager or some other apps accessing port?

[2019-05-02 07:35] Vudentz commented on #14791
@pdunaj Im closing this one since there hasn't been any updates, please reopen if you think it is still a problem after the introduction of BT_GATT_CCC_MANAGED.

[2019-05-02 07:35] #14791 closed

[2019-05-02 08:18] #15765 closed

[2019-05-02 08:18] #15768 closed

[2019-05-02 08:18] #15771 closed

[2019-05-02 08:18] #15774 closed

[2019-05-02 08:18] #15778 closed

[2019-05-02 10:22] #15777 closed

[2019-05-02 11:41] maxxlife commented on #8062
@mandarcthorat1 Hi. We have a new Coverity issue with the same number
I fixed it, #15743