[2019-01-24 12:12] pskhansen commented on #12681
@carlescufi A few more tasks for the list:
- Change the role dependent event-done handling from type switch-case to callback concept.
- Move the LLL event prepare/resume queue/handling into LLL.
- Move the LLL-to-ULL Tx ack queue API to ULL domain.

[2019-01-24 12:23] pabigot opened #12685 "717aa9cea7 broke use of dtc 1.4.6"
[code]

[2019-01-24 12:37] rlubos commented on #12203
@aurel32 As this change is rather standalone, I've just made a PR out of it: #12686

[2019-01-24 12:58] vikrant8051 commented on #12574
@jhedberg
nrfMesh gives us option to select 1 App key out of 3.

"If we used every time first App key out of available keys then & then only
we are facing mentioned issue" OR "in other words APP_Key index should be changed
for every new provisioning event" .... then & then only there is no need of re-assigning of
APP_Key to models.

[2019-01-24 13:05] jhedberg commented on #12574
That only shows the Bluetooth stacks, but not e.g. the system workqueue stack, which we use a lot from the Bluetooth code. The best way I've discovered to get full stack info is by enabling the kernel shell module and then using the "kernel stacks" shell command. This requires the following Kconfig options:
[code]

If you don't have the possibility of running a shell, you could look into what C AP

[2019-01-24 13:08] jhedberg commented on #12681
@carlescufi ok, thanks for clarifying. I think "Add support for Mesh Extensions" confused me, since that's not really (at least fully) supported in the old LL either.

[2019-01-24 13:23] rlubos commented on #12203
@mike-scott Thanks for putting more light into the problem. Now I understand what did you mean by "Zephyr doesn't understand the mesh-local concept". And as according to [IPv6 RFC](https://tools.ietf.org/html/rfc4291#section-2.4), for unicast addressing it's only link-local or everyting else, scope matching won't be much help here. OpenThread bypassed this by introducing scope overriding for mesh-

[2019-01-24 13:36] vikrant8051 commented on #12574
After enabling above mentioned Kconfig options, I am getting intermittently following Kernel OOPS

***** Kernel OOPS! *****
Current thread ID = 0x2000098c
Faulting instruction address = 0x17e12
Fatal fault in ISR! Spinning...

[2019-01-24 13:38] #12640 closed

[2019-01-24 13:47] vikrant8051 commented on #12574
@jhedberg no overflow detected.

[2019-01-24 13:55] aescolar commented on #12681
@SebastianBoe : Eventually yes, but the 1st step is to get the split LL to match its functionality

[2019-01-24 14:12] avisconti commented on #7001
I'm closing down this issue as it has been addressed.

[2019-01-24 14:12] #7001 closed

[2019-01-24 15:08] bfrog opened #12692 "DTS changes should cause rebuilds to occur"
DTS changes at the moment don't seem to cause rebuilds to occur. For example changing an overlay.dts file in an application I would expect ninja build to rebuild the relevant files, instead it will tell you there's nothing to do.

At the very least it should rebuild everything, in the best scenario it only rebuilds files that are dependent on DTS header information.

[2019-01-24 15:14] #11333 closed

[2019-01-24 16:08] agross-linaro commented on #12560
@carlescufi https://github.com/zephyrproject-rtos/zephyr/pull/12563

[2019-01-24 16:08] agross-linaro commented on #12560
However, it seems like there are still additional issues w/ that patch.

[2019-01-24 16:12] rlubos commented on #12203
This is more or less what I had in mind: https://github.com/rlubos/zephyr/commits/ipv6-source-address-selection

[2019-01-24 16:28] erwango opened #12696 "CMAKE_EXPORT_COMPILE_COMMANDS is broken"
**Describe the bug**
When generating compile_commands.json, broken include paths are generated, for instance:
```-IE:...soc/arm/st_stm32/include -IE:.../soc/arm/st_stm32/stm32l4/include```

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DBOARD=board\_xyz
3. make
4. Check generated compile_commands.json

Alternatively, `set(CM

[2019-01-24 16:32] vikrant8051 commented on #12574
@jhedberg
Now I just edited samples/bluetooth/mesh app by adding only .....

[code]

Here too facing same issue after 2nd provisioning & reset.

[2019-01-24 16:38] bfrog opened #12697 "Logger doesn't support %llu format string"
On master with logging/log.h

LOG_DBG("%llu", my64bitint); results in a u in the log output rather than the number expected

[2019-01-24 16:40] erwango commented on #12696
@GeorgeCGV

[2019-01-24 16:50] pabigot commented on #12129
@yashi please proceed with a sample with a couple headers and we'll see what it looks like.  Thanks.  (From dev review call.)

[2019-01-24 16:59] pabigot opened #12698 "Revise SPI API to move GPIO-based chip-select information from subordinate device to bus"
Per dev review telecon 2019-01-24 it's agreed that the resolution of #12226 is that the Linux device tree standard of defining chip selects as a `cs-gpios` property in the bus node will be followed.  For consistency this means that we should change the existing Zephyr SPI api and driver implementation so that chip-select management is performed by the bus rather than in each subordinate device dri

[2019-01-24 17:04] jukkar commented on #12203
@rlubos thanks for the investigation. This indeed sounds like a simple solution for the issue and the patch is easy to understand.

[2019-01-24 17:22] tbursztyka commented on #12698
What? Just because linux does its way, zephyr should do the same? No, definitely no. Plus, the way DT does its thing (the linux way) does not generate any issue for the implemented zephyr way. There was a good reason for putting the cs logic into spi device and not into spi master. As for not providing function to assert/deassert the slave line.

[2019-01-24 17:23] mike-scott commented on #12203
@rlubos to confirm: I tested your ipv6-source-address-selection branch patches and they do indeed solve my routing issues.

[2019-01-24 17:35] #10672 closed

[2019-01-24 17:37] pfalcon commented on #7587
@agross-linaro

I'm sorry, but why would someone assume that? And ungrounded assumptions can be made about any API. We have docs and expect that programmers do read them as a solution to that.

"Old stuff" is asynchronous, and that's its benefit. In my list, there's nothing to deprecate. Majority of people will simply use POSIX getaddrinfo(), but those who'll need async solution, will use the nati

[2019-01-24 17:38] tautologyclub commented on #12501
@jarz-nordic Thanks, that's great. Are we talking days, weeks or months?

[2019-01-24 17:38] pfalcon commented on #7587
As 1.14 release is quite close, let me nominate this ticket for dev review for possible closure. @jukkar, if you have any comments, please share.

[2019-01-24 17:41] tautologyclub commented on #12150
The UART drains considerably more than 20uA so I doubt you managed to disable it successfully. Post your generated headers so we can verify - `autoconf.h` somewhere under `build/` in particular.

[2019-01-24 17:49] pabigot commented on #12698
The architectural decision to follow Linux is isolated to device tree content.  The question here is the impact of that decision on the SPI API.

Currently every subordinate device driver must define and initialize the `spi_cs_control` structure for their device when the device is used on a target where CS is controlled by GPIO rather than a dedicated bus signal.  Structurally the bus driver shoul

[2019-01-24 18:13] pabigot opened #12703 "how to configure interrupt signals on shields via device tree?"
I've got patches related to the HTS221 sensor for nrf52_pca20020 to enable interrupt-driven sampling.  Works fine, but I'd like to test it with the x_nucleo_iks01a2 shield on `frdm_k64f` and `nucleo_l476rg`.  The corresponding `DRDY` signal is on the Arduino header at `INT0` (or `GPIO2` or whatever they name the third-from-bottom-on-right pin).

Is there an existing solution for this?
[code]

[2019-01-24 18:32] GAnthony opened #12704 "Implement select() call for socket offloading and SimpleLink driver"
**Is your enhancement proposal related to a problem? Please describe.**
Following #12049, select() can now be implemented as part of the NET_SOCKETS_OFFLOAD operations for the SimpleLink WiFi driver.

**Describe the solution you'd like**
Update include/net/socket_offload.h to include select() hook;
Update drivers/wifi/simplelink/simplelink_sockets.c to implement select() using SimpleLink's sl_Sele

[2019-01-24 18:32] GAnthony opened #12705 "Implement select() call for socket offloading and SimpleLink driver"
**Is your enhancement proposal related to a problem? Please describe.**
Following #12049, select() can now be implemented as part of the NET_SOCKETS_OFFLOAD operations for the SimpleLink WiFi driver.

**Describe the solution you'd like**
Update include/net/socket_offload.h to include select() hook;
Update drivers/wifi/simplelink/simplelink_sockets.c to implement select() using SimpleLink's sl_Sele

[2019-01-24 18:40] aurel32 commented on #12203
I have just tested that, and as expected it also fixes my issue. Thanks.

[2019-01-24 19:00] agross-linaro commented on #7587
@pfalcon Because our shell does it wrong for one.  Everyone who uses it is doing it wrong, aside from the tests and the resolve_name API.  The only documentation I see is in the include file.

[2019-01-24 19:06] tautologyclub commented on #7590
Anyone mind pasting a link to discussion/PR on "new net_buf"?

[2019-01-24 19:08] pfalcon commented on #7587
@agross-linaro : Well, let's fix it. If you can provide any other details, please do (perhaps, in separate ticket). If not, I'll look into it when I have a chance.

[2019-01-24 19:10] agross-linaro commented on #7587
@pfalcon oh, i'm already fixing it.  I just find things like this that have other APIs that wrap them to make them synchronous to be kind of silly... and subject to misuse.

[2019-01-24 19:59] dgloeck opened #12708 "Drivers may call net_pkt_(un)ref from ISR concurrently with other code"
**Describe the bug**
In its current form net_pkt_ref and net_pkt_unref are not thread safe. But there are cases where these functions are used on the same packet from different contexts at the same time. If this happens, the reference count of a packet ends up being wrong. In my case net_pkt_unref is called both from `ethernet_send` and from eth_sam_gmac.c's `tx_complete`.

**To Reproduce**
Steps

[2019-01-24 20:08] pfalcon commented on #12708
cc @tbursztyka

[2019-01-24 20:09] pfalcon commented on #12708
@agross-linaro : How do you like this one? ;-)

[2019-01-24 20:13] jarz-nordic commented on #12501
@tautologyclub : Once new UART API is merged I hope to have it in next 2-3 weeks.

[2019-01-24 21:01] tautologyclub opened #12714 "UART driver over Bluetooth LE"
I'd like to create a virtual UART using BLE, i.e. a Zephyr driver implementing the UART API but internally tunnels RX/TX to one or two GATT characteristics (not sure if you need separate characteristics for RX/TX for full duplex or if that's just overcomplicating things)

The obvious use case is a creating a wireless FTDI dongle (sweet). But I can see it being useful beyond this as well: BLE as a

[2019-01-24 21:03] aurel32 commented on #12708
It should be noted that when CONFIG_PTP_CLOCK_MCUX=y the MCUX Ethernet driver also keeps a reference to packet with net_pkt_ref() and later call net_pkt_unref() from the ISR.

[2019-01-24 21:09] aurel32 commented on #12708
The SAM E70 driver currently keep a reference to the full packet net_pkt_ref(). It seems this is required by the the PTP part only. Otherwise it seems that we don't need to keep the whole packet, but only the individual fragments, therefore without PTP support we can call net_buf_ref() and net_buf_unref() instead of doing that at the packet level. That might make things easier to fix. Actually we

[2019-01-24 21:13] agross-linaro commented on #12708
Seems like this might explain some of the TCP header null stuff.

[2019-01-24 21:16] vanwinkeljan commented on #9924
Just tested with philosophers (added flags mentioned above) sample on both reel_board and nrf52840_pca10056  boards, and still cant reproduce.

[2019-01-24 23:11] nashif commented on #12571
ok, this is with the new SDK, right? I think this is the cause:

[code]

[2019-01-24 23:46] mike-scott opened #12718 "Generic MbedTLS setup doesn't use MBEDTLS_ENTROPY_C"
**Is your feature request related to a problem? Please describe.**
Seems like we should be setting up MbedTLS's entropy source?  I noticed this as I was moving code from the net_app layer which does include the entropy setup (and thus can't be used with the generic MbedTLS setup).

**Describe the solution you'd like**
Add MBEDTLS_ENTROPY_C to config-tls-generic.h and setup hooks to the following i

[2019-01-25 00:13] #12685 closed

[2019-01-25 00:41] marc-hb opened #12719 "DISCARD .note.GNU-stack sections on -m32 x86 to silence numerous linker warnings"
Building x86 with ZEPHYR_TOOLCHAIN_VARIANT=host (fixed by PR #12674) prints dozens of .note.GNU-stack warnings like this one:

[code]

Quoting @nashif in (unrelated) PR #12674:

Previous `arc/v2/linker.ld` example of what I believe @nashif refers to: PR #12524 (couldn't find where it's done for x86_64)

One pretty good introduction to executable stacks, .note.GNU-stack and the corresponding securi

[2019-01-25 01:00] marc-hb commented on #12719
The .note.GNU-stack section is merely a message from the compiler to the linker, it's never meant to be placed anywhere so this warning looks like a linker bug to me. I suspect using a linker script bypasses the linker logic that normally deals with these sections and removes them after it's done. @ruuddw  any idea?

While the regular .note.GNU-stack logic is well documented (see for instance  htt

[2019-01-25 02:35] Jiurifei commented on #12150
[autoconf.txt](https://github.com/zephyrproject-rtos/zephyr/files/2794433/autoconf.txt)
@tautologyclub the file I attached above is `autocong.h`, you can have a look, thank you.

[2019-01-25 05:40] AdithyaBaglody commented on #12571
@nashif
I am not able to pin point exactly what has to be added into the build of i586. But the same code works on arm mps2_an385.
I am guessing here, but we might have to enable-multilib with-multilib-list 32,64,x32 libraries. and enable-thread as posix.

The problem is quite strange, the hooks of gcov are not getting placed in the code. But gcno files are getting generated. therefore I was guess

[2019-01-25 06:55] rlubos commented on #12203
So as you seem happy with the change, I'll make a PR out of once #12686 is in. I'll stick to the `NET_ADDR_LOCAL` though as I got the impression that majority of the feedback in there was to stick to the RLOC dropping.

[2019-01-25 07:15] tbursztyka commented on #12698
None.

[2019-01-25 07:52] SebastianBoe commented on #12696
CMAKE_EXPORT_COMPILE_COMMANDS is a CMake feature that has not been integration-tested with Zephyr. If someone could figure out why it is failing, e.g. is Zephyr doing something illegal, or are we being affected by a known bug in CMake, then I might be able to figure out how to fix it.

[2019-01-25 08:21] erwango commented on #12698
My concern on Linux way of defining cs-gpio is, in case of multiple slaves on the bus, how can a driver knows which cs-gpio controls a defined slave ?
For instance, in disco_l475_iot1 example:
[code]
I guess rule here is index of cs-gpio matches index of slave in the list.
This seems the logical way, but it could be confusing to non dts aware users.
By the way https://github.com/zephyrproject-rtos

[2019-01-25 08:33] erwango opened #12724 "SPI CS: in case of multple slaves, wrong cs-gpio is chosen in DT_ define"
**Describe the bug**
#12647 introduced an issue in ESWIFI driver configuration
When compiling disco_l475_iot1,

DT_INVENTEK_ESWIFI_ESWIFI0_CS_GPIO_CONTROLLER and DT_INVENTEK_ESWIFI_ESWIFI0_CS_GPIO_PIN are defined with cs-gpio <&gpiod 13 0>
while it should have used <&gpioe 0 0>

**To Reproduce**
Steps to reproduce the behavior:
0. cd samples/net/wifi
1. mkdir build; cd build
2. cmake -DBOARD=disco

[2019-01-25 08:52] pfalcon commented on #12203
NET_ADDR_LOCAL is rather ambiguous. You mentioned "link-local" yourself, and this term is one of the most important terms in IPv6. But there're more "*-local" terms in IPv6, https://en.wikipedia.org/wiki/IPv6_address#Multicast . So, calling something NET_ADDR_LOCAL is confusing and will definitely lead to misuse.

If we talk about mesh-local here, let's call it like that: NET_ADDR_MESH_LOCAL. Mesh

[2019-01-25 08:56] sigvartmh commented on #12543
Fixed

[2019-01-25 08:56] #12543 closed

[2019-01-25 08:58] ruuddw commented on #12719
See also my comment in PR #12524 .
The .note.GNU-stack isn't a real section, it's size is always 0. By means of the section attributes it indicates if the code generated by the compiler includes trampoline code written to and executed from the stack.
Not sure how the linker processes this information, I guess it aggregates the info and indicates the result for a linker assigned stack segment, if a

[2019-01-25 09:01] GeorgeCGV commented on #12696
@SebastianBoe it doesn't fail...
The "issue" here is that there are predefined include paths but not every `${SOC_PATH}` and `${SOC_FAMILY}` will have `include` subfolder.
[code]
This is not a big of a problem as such includes will produce only a `warning` within some IDEs (e.g. Eclipse).
However, if you would like the project to be clean of `warnings` for some SoCs then the strategy of global pre

[2019-01-25 09:03] #12692 closed

[2019-01-25 09:07] SebastianBoe commented on #12696
aha, thanks, that we can fix.

[2019-01-25 09:09] SebastianBoe commented on #12696
So the problem is not the "..." ?

That was what I (mis)understood.

[2019-01-25 09:10] GeorgeCGV commented on #12696
No. the "..." is just to remove the path to `ZEPHYR_ROOT`

[2019-01-25 09:15] GeorgeCGV commented on #12696
@SebastianBoe some SoC do use mentioned directories. It is more of a structural "issue" here, but some people might prefer to have predefined paths like that.

[2019-01-25 09:36] rlubos commented on #12203
I'll use `mesh_local` nomenclature then, it describes best what we are actually facing here. Optionally `realm_local` introduced by [RFC7346](https://tools.ietf.org/html/rfc7346) should also be a viable name IMHO.

If we'd keep registering RLOCs, then we'd need both types. As we agreed to drop RLOC regsitration, only a mesh local concept is needed.

And finally, I'm thinking about adding a new fla

[2019-01-25 09:37] MrPointer commented on #9924
Hmm... I also tested it with the **nrf52840_pca10056** board 😐
Maybe it's worth comparing the toolchains each of us use? Personally I use the pretty "old" `gcc-arm-mbed-2017-q4` toolchain. Besides, "my" **newlib** is the one that comes built-in with **Zephyr** ***1.13.0***

[2019-01-25 09:39] pfalcon commented on #12203
"manual" means explicitly assigned by a human. I don't think that any of IPv6 "support" addresses can be like that. They are by definition managed by the stack, which is the opposite of "manual".

[2019-01-25 09:46] pfalcon commented on #12718
My understanding that instead of using mbedTLS "entropy subsystem", we use Zephyr "entropy subsystem". So, we don't configure mbedTLS' one with mbedtls_entropy_add_source(), but feed Zephyr's entropy source directly into the next mbedTLS layer in order (which is CTR_DRBG):

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/sockets/sockets_tls.c#L280 . dev there is Z entropy d

[2019-01-25 09:46] pfalcon commented on #12718
cc @d3zd3z

[2019-01-25 09:53] marc-hb commented on #12719
FWIW my current and ugly workaround is to turn off LINKER_ORPHAN_SECTION_WARN in Kconfig.zephyr

[2019-01-25 10:06] xiaoliang314 opened #12726 "Dead loop of the kernel during Bluetooth Mesh pressure communication"
**Describe the bug**
I created two Bluetooth Mesh nodes to put them in the same network. I use the serial to control one of the nodes to send packets to another node. Send the next packet immediately after receiving a reply from another node or a 5 second timeout. When I tested about 800 times, the node could not continue to respond to my serial commands. I used gdb to check the current running st

[2019-01-25 10:18] rlubos commented on #12203
But this is not about whether address is an IPv6 support address or not. We need information whether address was created as mesh-local (which can only be used for on-mesh communication) or not. And mesh-local addresses should not be used for external destinations.

Apart from the RLOC and ALOC addresses (which we can call "support" addresses, but we've already agreed to drop them) you have one mes

[2019-01-25 10:19] xiaoliang314 commented on #12726
My version is:
commit 2caecb54a37dca72fdd20aa45ac95e4eeeaf0adb (HEAD -> master, origin/master, origin/HEAD)
Author: Jan Van Winkel <jan.van_winkel@dxplore.eu>
Date:   Sat Jan 19 19:38:50 2019 +0100

    display: Remove stale ILI9340 header file

    Remove stale ILI9340 header file from global includes.

    Signed-off-by: Jan Van Winkel <jan.van_winkel@dxplore.eu>

[2019-01-25 10:37] pfalcon commented on #12203
So, my last reply was to your phrase: "I'm thinking about adding a new flag into net_if_addr instead of overwriting net_addr_type. Why? Because we lose some information when we overwrite address type (autoconf/manual).".

My argument is that we wouldn't lose any info, from a quick think.

Well, that would qualify as "manual" address. But does is have to be marked as special "mesh local"?

All in a

[2019-01-25 11:15] ruuddw commented on #12719
That is a brute force solution, we might lose relevant warnings as well in the future. The orphan warnings were introduced for a reason (#5534).

Why not adding below to the linker file?
`    /DISCARD/ : { *(.note.GNU-stack) }`
I see @nashif 's concern was duplicating this over different architectures instead of moving it to a common place. Guess it can be added to the common linker/include, like

[2019-01-25 11:23] pfalcon opened #12728 "docs: Hard to find guidelines for ext/ maintenance"
This comes from https://github.com/zephyrproject-rtos/zephyr/pull/12711#discussion_r250942649 .

I'd think a can find a link to give a new developer by grepping docs/* for `ext/`, but nope, that doesn't work. I had to do creative twisting of search terms to arrive at https://docs.zephyrproject.org/latest/contribute/ finally, which deals with that matter. Suggestion: make instructions there more co

[2019-01-25 11:30] pfalcon opened #12730 "Add useful project description on Github"
Current Github description reads:

This is totally useless for folks who don't know what "Zephyr Project" is. Github project description should be seen as basic means to spread the word about the project - the description is what people see in project search results for example.

Example of suggested replacement:

Which is an abbreviated version of first paragraph of README.

[2019-01-25 11:30] sigvartmh commented on #12150
@Jiurifei why is the board configure to `CONFIG_BOARD "nrf52_pca10040` ? this gives you `CONFIG_SOC "nRF52832_QFAA"` which is not the same SoC as stated above `nRF52840`

[2019-01-25 11:36] pabigot commented on #12698
@erwango Several of your points were raised and dismissed in #12226.  We can revisit them, but the need to do so continues to highlight Zephyr's fragile and ad-hoc decision-making process.

I believe for overlays the solution is an upstream enhancement request from @galak to device tree that allows overlays to manipulate array property values.  The question of how that can be reconciled with the r

[2019-01-25 11:45] tbursztyka commented on #12708
@dgloeck I don't know what I was thinking this morning, but yes indeed that's definitely a valid issue. (I think I got stuck on unref call orders or on my pillow, either way.)

[2019-01-25 12:45] avisconti commented on #12609
Closing this issue as addressed by #12637

[2019-01-25 12:45] #12609 closed

[2019-01-25 12:51] vanwinkeljan commented on #9924
@MrPointer  Fyi, I'm using the latest Zephyr SDK (0.9.5)

[2019-01-25 13:29] gon1332 opened #12734 "drivers: flash: Recent change in spi_nor.c does not let have multiple flash devs on a board."
**Describe the bug**
I have a board that has the usual ST's internal flash, and an external SPI NOR one. I want to utilize both flashes in the context of an application. The https://github.com/zephyrproject-rtos/zephyr/commit/7d428bb0a8d35e1198068dff14e47853240f3ee5 introduced the `CONFIG_FLASH_SIZE` which is also produced for the internal flashes in generated header.

On my local copy, I've overc

[2019-01-25 13:37] pabigot commented on #12734
IMO The right fix is to complete moving the SPI drivers to device tree, and specify flash size and other properties in the DTS node.  I know @galak has been moving that direction; so had I specifically for `spi-nor` but now I'm waiting for the dust to settle.  We also need to get the `jedec,spi-nor` compatible yaml in place, and figure out whether we need so many spi nor driver implementations.

[2019-01-25 14:05] jukkar commented on #12708
@pfalcon why did you assigned this issue to me as there was already a fix proposal for this this? This is to be  assigned to @dgloeck who submitted the fix proposal.

[2019-01-25 16:25] #11394 closed

[2019-01-25 17:00] dbkinder commented on #12730
Good idea, and your description works for me... but I don't have permission to alter that -- @nashif

[2019-01-25 18:36] tautologyclub commented on #12150
Hm. Perhaps it's board specific. I've only tried it on 52840 and it draws 4uA in LPS1. Is the debugger connected? That can make a huge difference

[2019-01-25 18:46] tautologyclub commented on #12025
If you read the code for the power management example it's pretty clear this isn't a bug. You have to implement the suspend hook yourself. Suggest closing.

[2019-01-25 19:34] GAnthony opened #12745 "SimpleLink socket functions, on error, sometimes do not set errno and return (-1)"
**Describe the bug**
While reviewing a fix for #12650, it appears that simplelink_sockets.c is not always returning correct error codes or setting errno correctly, per POSIX standard.

There was some confusion between SimpleLink errors which define similar-named error codes (which are negative) and errno.h error codes (which are positive).

The reason each SimpleLink socket function calls _slDrvSe

[2019-01-25 19:46] bearsh commented on #12025
@tautologyclub do you mean [pwer_mgr](https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/subsys/power/power_mgr)? I can't find any reference to a hook I have to implement. Just to make it clear, this issue is about 'OS Power Management' which should enter the appropriate sleep state 'by itself', see also [power.c](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/power/

[2019-01-25 20:12] marc-hb commented on #12719
Runtime ELF loader aside, the build system could in theory still rely on the usual and elaborate .note.GNU-stack linking logic, let it run and consult its valuable conclusion in the GNU_STACK program header of the zephyr*.elf file before making its own, final decision(s). No? For instance that would detect *at build time* a misconfiguration where someone disables execstack but uses some nested fun

[2019-01-25 21:41] Jiurifei commented on #12150
@tautologyclub Can you tell me how you achieved that and which sample you used? As I am sure there was no debugger connected when I tested the power consumption. If the debugger was connected, the current would rise more than 2mA rather than hundreds of uA.

[2019-01-26 01:45] marc-hb commented on #6770
Yes. Most git commands and workflows assume detached HEADs are for the very short-term, yet repo uses them everywhere by default.

One drawback of detached HEADs is "losing" commits when you forget to create a branch (cause many things start as a "quick hack" and grow from there): https://groups.google.com/d/msg/repo-discuss/LWMcn50RVSs/yjg6ZvLeAQAJ

[2019-01-26 02:09] marc-hb commented on #6770
That's quite the shortcut... can you elaborate or point at where you did? For instance did you find any "prior art" merging version control and building under the same front-end and the value such tighter integration brought?

Mmmm... so no tighter integration after all, just longer commands because they all have to be prefixed with "west"? How does that "simplify the user experience"? Sorry but w

[2019-01-26 05:17] sathishkuttan opened #12758 "doc: Samples and Demos documentation hierarchy looks unintentionally deep"
**Describe the bug**
The documentation pages for samples and demos contain hyperlinks for pages and headings at deep levels that do not seem intentional

**To Reproduce**
1. See https://docs.zephyrproject.org/latest/samples/samples.html
Example screenshot below - the link at the bottom is the same as the one on the top of screenshot
![image](https://user-images.githubusercontent.com/21689870/51782

[2019-01-26 14:21] #12719 closed

[2019-01-26 17:28] pabigot opened #12763 "drivers: gpio: sch: implementation does not configure interrupt level/edge"
`gpio_sch.c` configures for interrupts but does not inspect the trigger type (`GPIO_INT_LEVEL` vs `GPIO_INT_EDGE`).  It should do so and should diagnose if one of those triggers is not supported.

As implemented the driver will behave correctly only for level-triggered interrupts (`GPIO_INT_EDGE` is the non-default configuration).

[2019-01-26 17:37] pabigot opened #12764 "drivers: gpio: cmsdk_ahb: implementation silently ignores double-edge interrupt config"
`gpio_cmsdk_ahb.c` specifies:
[code]
but does not return an error to the caller indicating that the configuration failed.

[2019-01-26 17:41] pabigot opened #12765 "drivers: gpio: intel_apl: implementation silently ignores double-edge interrupt config"
`gpio_intel_apl.c` properly tests for interrupt trigger and active sense, but does not test for a request to configure double-edge.  It should support this configuration, or return an error indicating the configuration failed.

[2019-01-26 17:44] pabigot opened #12766 "drivers: gpio: stm32: implementation silently ignores attempts to configure level interrupts"
These GPIO drivers support edge and double-edge edge, but not level interrupts:

* cc2650: edge, double-edge, diagnose unsup level
* gecko: edge, double-edge: diagnose unsup level
* stm32: edge, double-edge; silent unsup level

STM32 does not support level interrupts, but if asked to configure for one will leave the GPIO partially configured without returning an error.  The code should detect the

[2019-01-26 19:35] nashif commented on #12730
done

[2019-01-26 19:35] #12730 closed

[2019-01-26 19:38] nashif commented on #12728
lets wait with this until dealing with external components is finalized now that we are moving to a multi-repo layout. But good point.

[2019-01-26 19:56] #3776 closed

[2019-01-26 21:53] dbkinder commented on #12758
What happened was a second level of sample hierarchy was added for some areas (e.g., "USB Samples" under "Various Subsystem Samples" so there's a mixture of sample docs and sample organization docs.  I'll change to just be a two-level index and you'll find that there are more USB samples when you click on the link.

[2019-01-26 23:52] #12758 closed

[2019-01-27 11:53] yashi commented on #12129
OK.

for each `include/*.h`, we have the following number of files including:
[code]
I'll start from smaller ones and move to `kernel.h` and other directories.

[2019-01-27 12:09] pabigot commented on #12129
@yashi thanks.

We'll probably have a long argument about how the changes should be merged (batches of files in each merge, all files in separate commits in one merge, all files in one commit in one merge).

If you want to do it one commit per include file to start with I'd be fine with that, and if you can do it with a script that makes the changes for one file at time that'd also be wise, as it

[2019-01-27 12:16] MrPointer commented on #9924
Just tested it using the latest gcc-arm mbed's toolchain (version 2018 q4), still no luck.
Will update when I'll get the chance to test using the SDK.

[2019-01-27 12:48] carlescufi commented on #6770
@tautologyclub

It is unclear to me how you would work around the following issues with Git submodules in particular:
1. We want to be able to place external projects outside of the main `zephyr` tree
2. We want distros or downstreams to be able to replace, remove or add external projects without having to modify the `zephyr` tree
3. We want the build system to be able to query the tool for the ex

[2019-01-27 13:00] carlescufi commented on #6770
@marc-hb

Thanks for your input

Very good point. Yes, we do have prior art that we were at least partially inspired from:
- Go's `go` command-line tool
- Mynewt's `newt` command-line tool
- Mbed's `mbed-cli` command-line tool
- CMake's ability to combine fetching external projects with building

The `build`, `flash` and `debug` commands now live in the main zephyr tree. We've made this change (de

[2019-01-28 06:45] jeevaknd commented on #11979
how to install stlink drivers in ubuntu

[2019-01-28 06:56] fghjhuang commented on #11979
you can see my blog->http://blog.smartlitehome.top/index.php/archives/59/
`sudo apt-get install libusb-1.0 //安装依赖库
git clone https://github.com/texane/stlink 下载
make release
make debug
cd build
cmake -DCMAKE_BUILD_TYPE=Debug ..
make
cd Release
sudo make install
最后一定要记得，把release目录下的st-flash文件拷贝到/usr/bin目录下才可以进行下载`

[2019-01-28 07:39] jeevaknd commented on #11979
thank you
最后一定要记得，把release目录下的st-flash文件拷贝到/usr/bin目录下才可以进行下载
cant understand please tell this command in english

[2019-01-28 08:04] fghjhuang commented on #11979
ok, it means->remember to move the "st-flash" file from the dir->"release" to dir->"usr/bin/", then you can download to the board

[2019-01-28 08:15] jeevaknd commented on #11979
we followed all the steps. Again we are getting the error

[0/1] Flashing stm32f429i_disc1
Using runner: openocd
Open On-Chip Debugger 0.10.0+dev-gea2753a7-dirty (2018-11-02-23:37)
Licensed under GNU GPL v2
For bug reports, read
	http://openocd.org/doc/doxygen/bugs.html
Info : The selected transport took over low-level target control. The results might differ compared to plain JTAG/SWD
adapter spe

[2019-01-28 09:15] m-nilsson opened #12775 "USB audio isochronous endpoints"
Hi,

We would like support for USB audio and MIDI, mainly for the NRF52840.
The current implementation does not seem to support isochronous endpoints but it looks like they were included in the LPCUSB stack at some point, but not in a release branch.
https://sourceforge.net/p/lpcusb/code/HEAD/tree/trunk/

I have seen other people here mentioning it as well.
Would it be possible to include this fun

[2019-01-28 09:36] ruuddw commented on #12719
As an example, see the mpu code for ARC. Attributes for stack region are set to R/W (not executable).
arch/arc/core/mpu/arc_mpu.c:
`	case THREAD_STACK_REGION:
		return  AUX_MPU_RDP_KW | AUX_MPU_RDP_KR;`

[2019-01-28 13:46] Olivier-ProGlove commented on #12362
@carlescufi @jhedberg I am still looking at this issue and pushing towards this issue is due to the 'missing' `> HCI Event: Encryption Change` on reconnection with Windows 10 (while this HCI event is present on Android devices).

I printed the values of:

[code]

after the first pairing and the failing reconnection.

* When disconnecting after the pairing I have the following values: `sec_level:2

[2019-01-28 13:50] nashif commented on #12571
Need to continue looking into this, not able to generate coverage for x86 is no-go. I will try a few things on the toolchain side, but please try to rootcause the issue on your side as well.

[2019-01-28 18:02] tautologyclub commented on #6770
You could either make a new project where the Zephyr kernel itself is a submodule (would be fine imo), or you could interpret "wrapper around submodules" a bit more liberally to implement some additional features -- or rather, have it present some well-defined interface (such as a specific directory structure) that the build system can infer stuff from reliably. Either way it seems to me that subm

[2019-01-28 18:05] tautologyclub commented on #12150
I tried both the nrf power management sample and my own code. In both cases, the key was ensuring UART was disabled (either through the device_pm API or by setting appropriate CONFIGs to `n`), and ensuring `sys_set_power_state(SYS_POWER_STATE_CPU_LPS_1)` was actually called.

[2019-01-28 19:13] marc-hb commented on #6770
Thanks for mentioning these here. Again I recommend "promoting" these references from this github review to the actual text of the documentation to pre-empt future "why all-in-one?" questions like mine. I think this sort of integration is really not the most common.

I remembered seeing this one too: http://www.vestasys.org/ It was never popular but it's well documented which could help here? Dunn

[2019-01-28 19:40] marc-hb commented on #6770
*This* is the key git submodules design choice/limitation, the one that doesn't have any good workaround. git submodules was apparently designed for the following use case: active development  in ONLY ONE git repo, all other git repos being SLOW moving and very strictly controlled dependencies. That it can do. The rest not really. I've seen a large project trying really hard to use git submodules

[2019-01-28 20:05] tautologyclub commented on #6770
@marc-hb The thing is though that the submodules @carlescufi mentions fit that bill pretty niely - external vendor HALs, external cbor libs, mbedtls, etc. They're supposed to be more or less static in the context. As soon as you try to find a solution for subrepos that don't fit that description, you're flying very close to the sun and will probably, after much time and effort spent, find that you

[2019-01-28 21:10] bfrog opened #12796 "USB Power Event Panic"
**Describe the bug**
A panic appears to occur on a USB power event.

**To Reproduce**
As best as I can tell, I've had a tough time reproducing this consistently, but using mcuboot master with zephyr and an app with a variety of stuff enabled via prj.conf seems to cause the problem sometimes.

My prj.conf for the app that causes the fault.

[code]

**Expected behavior**
No panics!

**Impact**
This

[2019-01-28 22:50] pabigot opened #12800 "topic-counter: nrfx_*: counter_set_top_value inconsistent behavior"
The documentation does not indicate whether `counter_set_alarm()` which maps to `counter_set_top_value()` should be a one-shot or repeating capability.  The behavior for Nordic is inconsistent:

For RTC:

* If `counter_set_top_value` is configured with the maximum top value the callback is invoked once, but not rescheduled, though the callback remains associated with the channel.
* If `counter_set

[2019-01-28 23:02] nwsetec commented on #12453
@pizi-nordic I've had the system running with CONFIG_MPU_STACK_GUARD=y and I'm seeing resets but no mention of the MPU.  When the reset occurs nothing is logged.

[2019-01-28 23:44] MaureenHelm commented on #10636
Looks like this was fixed in #11428. @finikorg 	can you confirm?

[2019-01-29 01:50] vonhust commented on #12652
@franciscomunoz @nashif  I understand it's better not to add SoC specific code in driver, but the code i added should just work for ARC_IOT,  should not impact other target.

For "the divisor = ((dev_cfg->sys_clk_freq / baud_rate) >> 4) + 1",  it works for emsk which also uses ns16550 compatble DW uart IP.   If i remove the "+1", the iotdk dost not output correctly.

[2019-01-29 02:01] cinlyooi-intel opened #12803 "tests/drivers/watchdog/wdt_basic_api/: Watchdog setup error"
**Describe the bug**
For same_70_xplained and arduino_due, we see a "Watchdog setup error"

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=same_70_xplained -Darm
3. ninja
4. ninja run

for ardruino2 replace step 2 with
2. cmake -GNinja -DBOARD=adruino_due -Darm

**Screenshots or console output**
[code]
**Environment (please complete the followin

[2019-01-29 02:26] cinlyooi-intel opened #12804 "tests/drivers/watchdog/wdt_basic_api/: wdt_install_timeout() failed to call callback"
**Describe the bug**
wdt_install_timeout() failed to call callback

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja  -DBOARD=quark_se_c1000_ss_devboard -DARCH=arc ..
3. ninja
4. ninja run

**Screenshots or console output**

[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr
 - Commit SHA or Version used:

[2019-01-29 02:31] cinlyooi-intel commented on #12804
Sorry. Just found out it is duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/10623

[2019-01-29 02:31] #12804 closed

[2019-01-29 02:52] Jiurifei commented on #12150
@tautologyclub thank you for suggestions. In fact,  I have tried several methods to reduce power consumption of the board, including disabling UART and turning off some other relevant macros in config file. The result is that the current would reduce 150uA when UART disabled, but it was still unacceptable. I doubt that other factors caused this to happen. So could you please post `.config` file? I

[2019-01-29 04:09] vonhust commented on #12652
@franciscomunoz @nashif  The correct baud caculation formula should be
`divisor` = (u32_t)(dev_cfg->sys_clk_freq / (16.0 * baud_rate) + 0.5);' . The original one
'divisor = (dev_cfg->sys_clk_req/ baud_rate) >> 4' does not work for iotdk whose sys_clk is 16 Mhz. whe baud_rate is 115200,  the baudrate error is out of limit.

However,  if apply `divisor` = (u32_t)(dev_cfg->sys_clk_freq / (16.0 * baud

[2019-01-29 05:44] AdithyaBaglody commented on #12571
Any breakthrough on the i586 gcc build??

[2019-01-29 06:31] marc-hb commented on #6770
"supposed" and "more or less" isn't good enough. To prove that git submodules are a good fit you'd have to know how every Zephyr project is organized, including closed-source projects and... future projects. Looking at https://docs.google.com/document/d/1HrrMZ11nULWoAv3mR70VxT6nB_I1qMytpnmxFcVPCpM the intention is to very clearly support more than one git repo actively developed at a time.

The hi

[2019-01-29 06:35] mbolivar commented on #6770
@marc-hb I'm sorry as I meant to reply to some of your other comments in my earlier response but I forgot and hit send. Rather than edit, I'll just add another comment here:

I do believe that "one stop shop" is not totally as vague as it seems on the surface :). For example, the ability to do things like, say, this:

[code]

that a variety of tools on the PATH -- no matter how carefully named or

[2019-01-29 07:02] mbolivar commented on #6770
@marc-hb you are right about this.

We basically started with a reimplementation of the minimal subset of google repo that we figured we could get away with, except:

1. written in python 3 instead of 2
2. compatible with windows (repo's internal heavy use of symlinks makes it a no go on that platform, which is a first class citizen for zephyr -- and yes, we know about https://github.com/esrlabs/g

[2019-01-29 07:13] vikrant8051 commented on #12574
@jhedberg have you able to replicate mentioned issue with samples/bluetooth/mesh ?

[2019-01-29 07:22] #12708 closed

[2019-01-29 07:40] mbolivar commented on #6770
@carlescufi

This is in the issue description and needs an update

[2019-01-29 07:50] mbolivar commented on #12401
Will that scale?

[2019-01-29 08:00] ioannisg commented on #12199
This can be closed @carlescufi since the nRF9160 and DK support has now been upstreamed.

[2019-01-29 08:23] ioannisg opened #12809 "Rework Memory Protection for ARM architecture"
**Is your enhancement proposal related to a problem? Please describe.**
This issue concerns the effort of re-working Memory Protection implementation for ARM Cortex-M architecture. The main reason for the re-work is to extend memory protection (and memory protection-related features to the newest ARMv8-M architecture).

**Describe the solution you'd like**
The proposed re-work addresses the follow

[2019-01-29 08:36] fulong82 opened #12810 "Up Squared serial console character output corrupted"
**Describe the bug**
After rebased to latest master branch, observe serial console character output has corrupted.
Tried to revert commit below and found issue no longer there:
f0db0b8815 driver: uart_ns16550.c: necessary changes for arc iot soc

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=up_squared ../
3. make menuconfig
4. select CONFIG_SHELL_BACK

[2019-01-29 09:00] lowlander commented on #10463
@erwango ping ?  what new API do you mean ? The current driver uses the HAL, and old driver from me (that I never upstreamed) the lowlevel api only.

[2019-01-29 09:02] pfalcon commented on #6770
Thanks for the response. Yeah, there's a bit of joke in every joke ;-). So, a case with MyNewt and its "newt" tool must be a coincidence then ;-).

Well, seriously, all in one management tools are well-known pattern in bigger IT ("python setup.py" for all things modules in Python, Django's, etc. application frameworks' management tools (from starting an app to fishing in its database)). In embedde

[2019-01-29 09:16] fulong82 commented on #12810
[config.txt](https://github.com/zephyrproject-rtos/zephyr/files/2806906/config.txt)

Forgot to attach the config file for reference.

Regards,
Wilson

[2019-01-29 09:44] carlescufi commented on #6770
Fixed, thanks!

[2019-01-29 09:53] tejlmand opened #12812 "ninja flash when running without `west`"
**Issue**
With `west` as repo tool it is possible to do `ninja flash`
However, `west` should not be mandatory for users as repo tool.
`ninja flash` should still work, even if `west` was not used for repo installation.

**To Reproduce**
Follow the guide:
~~https://github.com/zephyrproject-rtos/zephyr/blob/c2bea667641a6ccb75e1e7511ba8e8f42ef7eef9/doc/tools/west/index.rst#using-zephyr-without-west~~

[2019-01-29 10:07] carlescufi commented on #6770
Thanks @mbolivar for further commenting on the process that has led us here.

I would like to further clarify what has already been said, especially in the latest comments by @tautologyclub and @marc-hb: west has been designed around a set of requirements and needs from some of the contributors to the Zephyr project. In particular, and as is described in this issue and in the [official west docume

[2019-01-29 10:27] rgundi opened #12813 "DTS: CONFIG_FLASH_BASE_ADDRESS not being generated for SPI based Flash chip"
CONFIG_FLASH_BASE_ADDRESS is not being generated for SPI based Flash chips. It was being generated earlier but looks like one of the recent commits around the DTS for Flash chip has removed this. This is very much required for all Flash chips coz code for DFU uses this in multiple places.

Please reintroduce this for SPI based Flash chips too. It was anyway 0 and hence it should be ok.

[2019-01-29 11:09] ASSigma opened #12814 "TCP connet Net Shell function seems to not working when using NET_SOCKETS_OFFLOAD"
**Describe the bug**
tcp connect seems to call net_context_offloading API functions even for aplications with NET_SOCKETS_OFFLOAD that leads to fall to simplelink_dummy_get handler.

**To Reproduce**
1.) build project for CC3220SF with CONFIG_NET_SHELL=y and CONFIG_NET_SOCKETS_OFFLOAD=y
2.) connect with serial terminal
3.) connect to wifi
3.) Invoke: net tcp connect your_server_adress your_server_

[2019-01-29 11:41] Vudentz commented on #6770
Id suggest adding another requirement:

- All tests run by CI must have its dependencies, if any, as submodule, so individuals can run those tests locally without having to switch their manifest file.

[2019-01-29 12:03] pabigot commented on #6770
This is the most clear and compelling core requirement and justification related to multi-repo support I've seen. It's also the first time I've seen it stated this way.

I'm not entirely convinced that it couldn't have been satisfied with existing solutions, nor that it would withstand a rigorous validation process, but it does at least provide a basis for assessing potential solutions.

However,

[2019-01-29 12:23] SebastianBoe commented on #12812
NB: I have been able to do "ninja flash" from a Zephyr repo that was not cloned by west.

But I was required to mv the zephyr repo inside of a "'west' parent directory" (don't know the terminology).

So this issue is reporting that the zephyr repo should not need to be in a "'west' parent directory", right?

[2019-01-29 12:31] carlescufi commented on #6770
@pabigot

Thanks, I will add this to the issue description then.

[2019-01-29 12:33] carlescufi commented on #6770
Agreed, will add.

[2019-01-29 12:39] carlescufi commented on #6770
@Vudentz @pabigot I added the following requirement (which was omitted from the list by mistake):
[code]

[2019-01-29 12:47] tejlmand commented on #12812
then you most likely had the bootstrapper installed, i.e. `pip install --user west`, correct ?

[2019-01-29 12:51] SebastianBoe commented on #12812
correct.

I interpreted that this was about not requiring users to manage their repo's with west, not about not requiring that users install and set up a multirepo direcotry with west.

[2019-01-29 12:52] tejlmand commented on #12812
Root cause: arguments are passed on to underlying command (in this case `nrfjprog`) instead of being handled by the extension command.

Related to this issue:
https://github.com/zephyrproject-rtos/west/issues/168

[2019-01-29 12:55] tejlmand commented on #12812
Agree, this might not be completely obviously.
Having the bootstrapper installed will make some commands work.

The expectation is, that someone not wanting to use `west` for repo handling, may not use pip to install `west`  at all.

[2019-01-29 13:11] jukkar commented on #12814
The net-shell is still using net_context API to connect TCP. The net_context API does not support socket offloading so you see the error. The plan is to convert net-shell to use BSD socket interface eventually but we are not yet there. If you have spare time, patches are welcome to fix this.

[2019-01-29 13:45] SebastianBoe opened #12820 "CONFIG_NO_OPTIMIZATION triggers a usage fault"
**Describe the bug**
After commit 251d99132d9aaabffbcf4b29fa8b273697f1f2d9 enabling CONFIG_NO_OPTIMIZATIONS will cause a usage fault to occur in samples/bluetooth/peripheral_hr.

**To Reproduce**
Steps to reproduce the behavior:
1. git checkout 251d99132d9aaabffbcf4b29fa8b273697f1f2d9 (or master, but this is the first bad commit)
2. cd $ZEPHYR_BASE/samples/bluetooth/peripheral_hr
2. echo CONFIG_NO

[2019-01-29 14:01] ubicore opened #12821 "When CPU_STATS is enable with MPU_STACK_GUARD in DEBUG_OPTIMIZATIONS mode, it cause a MPU FAULT / Instruction Access Violation."
**Describe the bug**

When CPU_STATS is enable with MPU_STACK_GUARD in DEBUG_OPTIMIZATIONS mode, it cause a MPU FAULT /   Instruction Access Violation.

**To Reproduce**

mkdir hello_world && cd hello_world
cmake -G"Ninja" -DBOARD=nrf52840_pca10056 -DCONF_FILE="prj.conf" $ZEPHYR_PROJECT_DIR/samples/hello_world
ninja menuconfig

Then in menuconfig enable following:
---------------------------------

[2019-01-29 14:17] yashi commented on #12272
I'm also interested in SD/MMC support.  There is another issue about supporting SDHC, #5457. And SPI based #5528, which is already merged as #11793.

[2019-01-29 14:55] galak commented on #12813
Can you be more specific or provide a test case in which this isn't happening?

I'm guessing this is on intel_s1000_crb.

[2019-01-29 14:57] erwango commented on #10463
@lowlander,  HAL CAN API has been deprecated and a new HAL API has been introduced.
We're living on the legacy API since it is still delivered and available under a HAL_CAN_LEGACY_MODULE_ENABLED switch that we define.

[2019-01-29 15:05] pdunaj opened #12823 "Check if spinlock is held"
**Is your enhancement proposal related to a problem? Please describe.**
Spinlock cannot be taken recursively as first release of the lock will cause release of the entire spinlock (there is no counting of how many times lock was taken). This can lead to serious and hard to discover bugs (see e664c78b8297ad3ec366c7a98aa46cda77a150ad).

**Describe the solution you'd like**
Either to make spinlock co

[2019-01-29 15:14] nashif commented on #12652
probably related: #12810

[2019-01-29 15:31] bfrog opened #12825 "SystemView Feature Not working"
Enabling systemview currently does not work as expected, systemview can't find the RTT segment and fails to record.

[2019-01-29 15:43] chris-makaio opened #12827 "nrf: nrf_power_gpregret2_get: u32_t or u8_t"
Dear All,

I'm not really sure if this CAN be enhanced, but I wonder why nrf_power_gpregret2_set and nrf_power_gpregret2_get handle a uint8_t - shouldn't that be u32_t?
At least in the doc it seems it has 4 bytes

[2019-01-29 15:47] galak commented on #4961
esp32 board dts conversion completed by PR #7581

[2019-01-29 16:25] carlescufi commented on #12494
@pfalcon #12406 is now merged, can you verify if this is addressed?

[2019-01-29 16:45] rgundi commented on #12813
That's correct. Please try building samples/subsys/usb/dfu/ for intel_s1000_crb. This would require XCC tools and hence you may not be able to build. Below is the error message that you get upon building.

/home/rgundi/RajZephyr/zephyr/subsys/usb/class/usb_dfu.c:301: error: ‘CONFIG_FLASH_BASE_ADDRESS’ undeclared here (not in a function)
zephyr/CMakeFiles/zephyr.dir/build.make:453: recipe for targe

[2019-01-29 16:47] nashif commented on #12825
@pkral78 I bisected the tree and fount this commit to be the likely offender: 2c84fd2631dcc8e586a8455b7fe696d58a92aaf5

Can you please take a look and see of systemview is working for you?

[2019-01-29 17:05] pkral78 commented on #12825
Similar issue here https://github.com/zephyrproject-rtos/zephyr/issues/11393

[2019-01-29 17:06] pkral78 commented on #12825
My recommendation was to use another RTT channel, although it may not be supperted by SystemView yet.

We have to reconsider what to do next.

[2019-01-29 17:07] ioannisg commented on #8907
Addressed in #12817

[2019-01-29 18:04] tautologyclub commented on #6770
Well, the key point is "mixing and matching", not "doing active development on". It's active development that becomes annoying when using submodules/repo. Cloning an external HAL and some helper libs that you don't intend to modify can surely not be seen as a nightmare using existing tools...?

Absolutely, not trying to bring you down - it's certainly odd that no one has managed to find a good sol

[2019-01-29 18:05] galak commented on #12813
What would the CONFIG_FLASH_BASE_ADDRESS be for the S1000 as the flash isn't memory map accessible from my understanding on the intel_s1000_crb.

[2019-01-29 18:20] mbolivar commented on #6770
Speaking personally as someone whose company chases tip on multiple projects and usually carries out of tree patches in forks of those repositories (that rebase regularly, because those patches make their way upstream often), I do intend to modify, frequently. So while I can see your point for the "doesn't change often" situation, I don't think it covers all the users.

Sure, and I understand that

[2019-01-29 18:20] galak commented on #11565
any update?

[2019-01-29 18:39] galak commented on #12144
@ulfalizer are you able to provide a script

[2019-01-29 18:48] #12199 closed

[2019-01-29 19:18] andyross commented on #12553
The bulk of these are almost certainly the known timer issue with qemu -- the way that the emulator works is that it tries to slave the returned cycle time in the guest to real/host time.  But when run on a loaded host, it's possible that the qemu process gets timesliced out for "big" chunks of time (i.e. on the order of a host scheduling quantum, routinely around 10ms or more, around the size of

[2019-01-29 19:40] dcpleung commented on #11565
Finally found a board, and am testing it now. If everything goes well, I will send a PR later today.

[2019-01-29 19:52] agross-linaro commented on #2108
Discussed this some today at the mmu/mpu/tee meeting.  There is a current PR associated with fixing a single instance of this issue.  I think we need to pick this back up and fix the remaining ones and follow the ARM calling conventions by pushing r0, r1, r2, r3, r12, and lr to the stack. on any ASM->C and C->ASM boundary.

https://github.com/zephyrproject-rtos/zephyr/pull/12822

[2019-01-29 20:10] pfalcon commented on #6770
To start (well, continue), this is a misconception. To use submodules, you don't need to add them to the main Zephyr repo. Anybody can add submodules to their fork/clone. Anybody can update to any revision of a submodule in their branch. Anybody can replace an existing submodule with something else. When they do 2 of the last actions, they expectedly will get a conflict when upstream also updates

[2019-01-29 20:36] andyross commented on #12553
FWIW: `for i in {1..100}; do scripts/sanitycheck -T tests/kernel/fatal -p qemu_x86; done` reports no errors on an unloaded system.  Will repeat for the others as time allows.

[2019-01-29 21:08] andrewboie opened #12844 "ARC MPU version 3 is configured incorrectly"
Unlike all our other targets, the ARC MPU version 3 is configured so that supervisor mode does not have default access to RAM.

This was covered up by a hack in the app shared memory test, which had to disable the MPU in order to initialize application shared memory bss:

[code]

This is not correct. Supervisor mode (the kernel) needs free access to the entirety of system RAM, we are only using me

[2019-01-29 22:43] marc-hb commented on #6770
I think you missed my comment about submodules above, the one where I referred to real nights and real week-ends. Plus a few other thousands people sharing their real-world experience on the Internet. All too stupid to use submodules? Most likely! A "myth": certainly not.

For git itself the best summary is this: https://stevebennett.me/2012/02/24/10-things-i-hate-about-git/ It describes perfectly

[2019-01-29 22:54] marc-hb commented on #6770
I've never wondered about the value of this type of tighter integration, sorry for any confusion. I don't know much about it but it seems to make a lot of sense to me. The only "integration" question I still have and that you haven't answer yet is very specific and unfortunately getting lost in other, vaguer discussions. The value that is really not obvious to me (yet?) is just the supposed "integ

[2019-01-29 23:02] pfalcon commented on #6770
Here on github I see dozens of people having dozens of cases of not being able to rebase or fix merge conflict correctly. What does it tell us?

This? I thought this: https://codingkilledthecat.wordpress.com/2012/04/28/why-your-company-shouldnt-use-git-submodules/ , where a google employee explains the reasoning of creating ugly tools like "repo", though thru all that a confession rings along the

[2019-01-29 23:33] mbolivar commented on #12812
TBH, I was not expecting this to be a requirement. But it should work be working now:

[code]

I've tested the above without west installed on my system and it worked for me. @SebastianBoe @tejlmand does that meet your requirements?

[2019-01-30 03:46] hakehuang opened #12849 "i2c: frdm-k64f and mimxrt1050_evk I2C driver will cause hardware exception if read/write to a not existing device"
when the i2c driver read from a none existing device will cause hardware exception.

**To Reproduce**
Steps to reproduce the behavior on frdmk64f
1. cd samples/sensor/adt7420
2. mkdir build; cd build
3. cmake -DBOARD=frdm_k64f  ..
4. make
5. make flash
Steps to reproduce the behavior on mimxrt1050_evk
1. cd samples/sensor/adt7420
2. mkdir build; cd build
3. cmake -DBOARD=mimxrt1050_evk ..
4. make

[2019-01-30 03:48] hakehuang commented on #12849
@MaureenHelm

[2019-01-30 03:54] dcpleung commented on #12652
#12810 is also due to the "+ 1" in divisor calculation.

[2019-01-30 05:06] mbolivar commented on #6770
@marc-hb:

[...]

Code freeze for Zephyr v1.14 LTS is this Friday. We barely squeaked by getting west merged into master with a bunch of Zephyr-specific assumptions baked into it. We will be supporting LTS for over a year and west missing this deadline would have been a Big Problem.

I'm all for generalizing the multi-repo pieces of it when we have time, but we just don't right now.  And the hater

[2019-01-30 05:14] rgundi commented on #12813
No, i don't think so. It really depends upon how CONFIG_FLASH_BASE_ADDRESS is used in the code. For the purpose it is used in usb_dfu.c, having it defined to 0 is the right behavior.

[2019-01-30 05:46] nordic-krch commented on #12697
yes, it is by design: https://docs.zephyrproject.org/latest/subsystems/logging/index.html#limitations
arguments are logger as 32 bit values. Extending that is not that easy.

[2019-01-30 05:48] nordic-krch commented on #11625
@MarekPieta, i think this is fixed. Could you confirm?

[2019-01-30 05:51] nordic-krch commented on #11763
#11769 (generic mechanism), #12602 (extention to uart,rtt, native posix backends), #12664 (shell backend extended) all together fixed the issue.

[2019-01-30 05:51] #11763 closed

[2019-01-30 05:56] andyross commented on #12553
Yeah, finished 100 runs each of the tests above.  With the exception of the x86_64 issue in #12478 (which I've confirmed already and which is almost certainly an architecture-specific failure) they all work flawlessly on an unloaded system.  I'll let the rig run overnight just for fun, but these are for sure artifacts of the emulation environment, and the described timing behavior of qemu (which i

[2019-01-30 06:43] nordic-krch opened #12851 "Early log panic does not print logs"
**Describe the bug**
When log_panic is triggered early,before log thread starts, no logs can be printed because logger backends are initialized in the logger thread.

**To Reproduce**
Modified hello_world:
[code]

**Expected behavior**
On uart console `test` log entry should be seen followed by kernel panic report.

**Impact**
Early failures are hard to debug.

[2019-01-30 07:38] pkral78 commented on #12825
I just looked into ext/debug/segger/systemview and found that SystemView is nicely configurable, there some are interesting macros:
`SEGGER_SYSVIEW_LOCK()`
`SEGGER_SYSVIEW_UNLOCK()`
`SEGGER_SYSVIEW_RTT_CHANNEL`

which all defaults to conflicting values - they should be configurable from Kconfig.

Also it is necessary to ensure that `SYS_INIT(rtt_init,...)` in [SEGGER_RTT_zephyr.c](https://github.c

[2019-01-30 08:06] finikorg commented on #12677
I have PR #12682 making it possible to have several HID instances.

[2019-01-30 08:36] #11135 closed

[2019-01-30 08:47] SebastianBoe commented on #12490
This simplification would be great to see (if possible).

[2019-01-30 08:55] SebastianBoe commented on #12820
@galak : Since this is a regression, and since disabling optimizations is a very common use-case in embedded debugging, I wouldn't prioritize this with 'low' priority.

[2019-01-30 09:32] pfalcon commented on #12708
That's exactly the reason I assign all networking bugs to you - there should be someone who's in loop on *all* things networking, and as a lead of networking team, that's gotta be you. Assigning to you makes sure you receive notifications of further changes to the issue, even if you reassign it to someone else.

Submitting bug tickets is again a measure to preclude cases like you describe above -

[2019-01-30 09:46] galak opened #12860 "No test builds these files"
The following files aren't built by any test or sample in sanitycheck.  There are a few false positives due to toolchain requirements for nrf52_bsim, xtensa, x86-64, and arm-v8m SoC/boards:

[code]
-----------------------------------
Already covered in master
~boards/posix/nrf52_bsim/argparse.c
boards/posix/nrf52_bsim/bstests_entry.c
boards/posix/nrf52_bsim/irq_handler.c
boards/posix/nrf52_bsim/k_

[2019-01-30 09:59] finikorg commented on #10636
@MaureenHelm  Works now, thanks!

[2019-01-30 10:31] jhedberg commented on #12820
@SebastianBoe all commit 251d991 does is that it reduces the stack sizes when logging is not enabled (previously we'd add some 300 bytes or so to the Bluetooth stacks, but due to the new logging subsystem that shouldn't be needed anymore), i.e. the most probable cause of the issue is a stack overflow. Could you check which stack (possibly multiple) is in question? I wonder if we should just leave

[2019-01-30 11:17] SebastianBoe commented on #12820
I will check which stack is in question, though I do not know the way.

[2019-01-30 11:30] SebastianBoe commented on #12820
Thank you, will give it a go.

[2019-01-30 11:34] jhedberg commented on #12820
@SebastianBoe btw, instead of using peripheral_hr it might be quicker to start with `tests/bluetooth/shell`. Note that unlike the non-shell samples, you need to issue "bt init" to initialize Bluetooth

[2019-01-30 11:43] jhedberg commented on #12820
@SebastianBoe assuming you'll be able to narrow this down, and it's indeed a stack overflow, do you have any preferred ways to fix it? I.e. should we have the needed conditions in Kconfig or #ifdefs in the code, or should this simply be left up to app developers?

[2019-01-30 11:46] carlescufi commented on #12812
@tejlmand I think we can close this one now?

[2019-01-30 11:56] nordic-krch commented on #12611
Please specify as i'm not sure what is the issue. Shell over uart stops working? Or telnet? afaik, there is no shell over network.

[2019-01-30 11:59] nordic-krch commented on #12494
#12327 needs to merge because example uses shell.

[2019-01-30 12:11] SebastianBoe commented on #12820
Dynamically sized stacks? ;)

I don't think there is a silver bullet, so I think we need to do a combination of;

improve stack protection (are we HW watching the memory area that follows the currently active stack?).

improve error reporting (Are we giving thread addresses, whilst thread names are known?)

improve Kconfig guesswork (Are our guesses reasonable, given the known configuration?)

But

[2019-01-30 12:17] aescolar commented on #12860
boards/posix/nrf52_bsim/* are covered if you BabbleSim is found when running sanitycheck

[2019-01-30 12:38] jarz-nordic commented on #12171
@turon  It seems to be fixed on shell side with PR #12747.

[2019-01-30 12:57] pdunaj commented on #11625
seems working now after the last update

[2019-01-30 13:10] #11625 closed

[2019-01-30 13:12] finikorg commented on #12677
@HelloOumiga About
[code]
how do you want to use endpoint? I think in this case you want to describe descriptor table yourself and add all callbacks, look to wpanusb or webusb samples.

[2019-01-30 13:21] #12051 closed

[2019-01-30 13:27] nikooiko opened #12870 "Question about k_thread_entry_t and k_thread_create"
Hello everyone, I was navigating through various drivers using threads to do background work and I noticed that almost everywhere there are thread creations that use functions with a different definition than the **k_thread_entry_t**.

For example at adt7420_trigger, we can see that the **adt7420_thread** function has only two params and both have different type than *(void \*)*:

https://github.c

[2019-01-30 13:37] erwango commented on #8243
@qianfan-Zhao , I guess we can close this one since it is now available in mainline. Please reopen it if needed.

[2019-01-30 13:37] #8243 closed

[2019-01-30 13:40] #9812 closed

[2019-01-30 13:40] erwango opened #12872 "Update uart api tests with configure/configure_get apis"
**Is your enhancement proposal related to a problem? Please describe.**
UART API now supports configure and configure_get functions in main API.
These functions remain untested in uart_basic_api test.

**Describe the solution you'd like**
Test configure and configure_get functions in uart tests

**Describe alternatives you've considered**
A clear and concise description of any alternative solution

[2019-01-30 13:41] nordic-krch opened #12873 "Early log panic does not print logs on shell"
**Describe the bug**
When log_panic is triggered early,before log thread starts, no logs can be printed because shell acting as logger backend is not yet initialized.

**To Reproduce**
Modify `samples/subsys/shell/shell_module`. Add to main():
[code]
Observe on uart that panic report is printed but `test` log message isn't.

**Expected behavior**
All logs before log_panic() should be printed.

**I

[2019-01-30 14:11] SebastianBoe commented on #12820
@jhedberg : For future reference.

Measuring the stack sizes wasn't very helpful, because the stack had already overflowed by the time I had time to check the sizes.

But this option gave me the thread that was corrupting the other threads:

CONFIG_STACK_SENTINEL

it produced this log output:

[code]

When looking up the thread ID in the zephyr.map file you get:

 .bss.tx_thread_data

and when loo

[2019-01-30 14:17] jhedberg commented on #12820
@SebastianBoe that's a good analysis, thanks, and I agree that it'd be nice if the kernel would be able to give more useful info on this kind of stuff, especially since it should know most of the info (except the Kconfig option, for now). I didn't know of CONFIG_STACK_SENTINEL previously - a good find! I wonder if all these tricks and options are documented anywhere? At least the options I mention

[2019-01-30 14:18] MaureenHelm commented on #10636
Fixed by #11428

[2019-01-30 14:18] #10636 closed

[2019-01-30 14:19] jhedberg commented on #12820
And by that I mean something more than the Kconfig help text. There could be a dedicated section in the debugging documentation about how to best analyze stack overflows and stack usage.

[2019-01-30 14:43] nashif commented on #10329
fixed in #12149

[2019-01-30 14:43] #10329 closed

[2019-01-30 14:44] nashif commented on #11244
fixed in #12149

[2019-01-30 14:44] #11244 closed

[2019-01-30 14:46] nashif commented on #12571
closing, only remaining issue is with new toolchain and x86, can be addressed with host toolchain for now.

[2019-01-30 14:46] #12571 closed

[2019-01-30 14:48] nashif commented on #12058
quick survey of tests shows that we have this now where it matters.

[2019-01-30 14:48] #12058 closed

[2019-01-30 14:49] nashif commented on #9972
Going to close this, we do have a porting guide already.

[2019-01-30 14:49] #9972 closed

[2019-01-30 14:52] nashif commented on #12860
Building is one thing, testing is a another, this gives an idea on our test coverage:

https://builds.zephyrproject.org/coverage/20190128/index.html

using qemu_x86 and mps2_an385

[2019-01-30 14:56] nashif commented on #12144
[code]

addressed in https://github.com/zephyrproject-rtos/zephyr/pull/12875

[2019-01-30 14:58] galak commented on #12860
Agreed, my first concern was just the lack of even a build test for some code, or if some code was dead.

[2019-01-30 15:05] nashif commented on #9704
not supported.

[2019-01-30 15:05] #9704 closed

[2019-01-30 15:05] nashif commented on #4682
http server removed

[2019-01-30 15:05] #4682 closed

[2019-01-30 15:06] nashif commented on #8804
duplicate of #3981

[2019-01-30 15:06] #8804 closed

[2019-01-30 15:06] nashif commented on #1495
currently not supported.

[2019-01-30 15:06] #1495 closed

[2019-01-30 15:17] nashif commented on #10707
cant reproduce.

[2019-01-30 15:17] #10707 closed

[2019-01-30 15:21] nashif commented on #9590
not sure what the bug exactly.

[2019-01-30 15:21] nashif commented on #10037
@carlescufi can you please assign?

[2019-01-30 15:26] carlescufi commented on #12860
In the nrf side:
[code]
Those need to be built and I see no reason not to. @anangl can you please add those in the relevant sections?
[code]
I am surprised that those are not ever built. Any ideas @ioannisg?

[code]
Those are fine they are profiling and test/tmp files. I don't think we need to build them at all by default. Agree @cvinayak ?

[2019-01-30 15:29] ioannisg opened #12878 "ARM: Replace assembly code with CMSIS-based C code in ARM kernel_arch_func.h"
**Is your enhancement proposal related to a problem? Please describe.**
We want to get rid of assembly code in ARM initialization code. We can very well use C code, and make use of CMSIS intrinsic functions wherever possible.

**Describe the solution you'd like**
Replace assembly code in ARM `kernel_arch_func.h` with C code.

**Describe alternatives you've considered**
Alternatively, we can keep t

[2019-01-30 15:36] galak commented on #12860
I think that's because the toolchain I'm using is the older 0.9.x so arm-v8m stuff doesn't build/

[2019-01-30 15:42] #12724 closed

[2019-01-30 15:44] galak commented on #12813
Than I think the usb_dfu.c should be updated to handle CONFIG_FLASH_BASE_ADDRESS not being set.

[2019-01-30 15:45] nashif commented on #12810
duplicate of #12652

[2019-01-30 15:45] #12810 closed

[2019-01-30 15:47] #12696 closed

[2019-01-30 15:47] RandomReaper commented on #12812
@carlescufi, do you mean to close this bug with `ninja flash` not working, or only working with the hack from @mbolivar ?

I think zehpyr tools (like `ninja flash`) should just work as documented, this may require saying west is mandatory in the documentation.

[2019-01-30 15:49] nashif commented on #8208
tests/crypto/ecc_dsa does not exist anymore.

[2019-01-30 15:49] #8208 closed

[2019-01-30 15:51] nashif commented on #11170
cant reproduce.

[2019-01-30 15:51] #11170 closed

[2019-01-30 15:51] agross-linaro commented on #12708
@pfalcon In most cases, the bug gets triaged and assigned to someone to work, especially for well manned subsystems.  Unless you've already talked to someone and they say assign it to me, so long as the tagging on the patch is done correctly, it'll get assigned fairly quickly.

As for duplication of effort, I would expect most people don't scan the list of PRs and Issues to see if there is somethi

[2019-01-30 15:54] nashif commented on #12244
not sure what the use case is, but I do not think this is a bug per se and we should not enable this type of overrides, this can cause all kind of inconsistencies and dependency problems. If you want to disable an option, either use an overlay or disable the option directly in the project prj.conf

[2019-01-30 15:56] nashif commented on #12091
cant reproduce

[2019-01-30 15:56] aescolar commented on #12244
This works fine now for enabling bool options, or setting other options. The use case is quickly enabling disabling an option without the need to modify files. So the only issue is unsetting bools

[2019-01-30 15:57] nashif commented on #8810
@finikorg @erwango any update on this? is this an openocd issue or some configuration we have in the tree?

[2019-01-30 15:57] nashif commented on #11276
@ioannisg ping

[2019-01-30 15:58] aescolar commented on #12244
Reopening. It is functionality which was added and was meant to work.

[2019-01-30 16:00] nashif commented on #12244
when did it work? which commit did break it?

[2019-01-30 16:02] aescolar commented on #12244
Everything but setting a bool to "n" worked since  #8487 (AFAIK). It was not broken by any commit, it was just not thoroughly tested that it worked as expected when it got in.

[2019-01-30 16:03] nashif commented on #11723
can't reproduce

[2019-01-30 16:03] vonhust commented on #12844
one proof  about we can't enable the background region is that in tests/kernel/mem_protect/syscall/src/main.c, line 128

ret = string_nlen((char *)0xFFFFFFF0, BUF_SIZE, &err);
zassert_equal(err, -1, "nonsense string address did not fault");

if we enable the background region to let kernel mode access all memory map,  this cannot be caught by MPU. so the test will fail.

The root cause of

	arc_co

[2019-01-30 16:09] xiaoliang314 commented on #12726
When I pause with gdb, it stops on SYS_DLIST_FOR_EACH_CONTAINER, and the next of the adv_thread list node points to itself, causing SYS_DLIST_FOR_EACH_CONTAINER to become a dead loop. This seems to happen when adv_thread calls k_sleep.

[2019-01-30 16:11] pfalcon commented on #12708
@agross-linaro

I'm not sure what you mean by "it'll get assigned". It won't "get assigned", some specific people will assign it. And all these years, I was among people who was triaging bugs, in a project with ~290 ever-open pull requests, and ~900 open bugs, counts always growing, never going down.

I do. I have to. It's part of the responsibilities of being full-time on a project. But I of cour

[2019-01-30 16:13] ulfalizer commented on #12144
@galak
Here's the script I used, run from the Zephyr root. I'll clean it up a bit later once I'm done moving.

Will need to have `scripts/kconfig` in `PYTHONPATH` so that kconfiglib can be found. Could also install it with `sudo pip3 kconfiglib` or just copy/symlink it into the Zephyr root.

[code]

[2019-01-30 16:14] ioannisg commented on #12860
`arm_core_cmse.c `is always built when ARM ARMv8-M is used.

[code]
`tz.c` requires `CONFIG_TRUSTED_EXECUTION_SECURE`

[2019-01-30 16:15] cvinayak commented on #12860
@carlescufi assigned myself, I will include the controller files under tests so as to build them.

[2019-01-30 16:20] pabigot commented on #12812
I also believe `ninja flash` should work.  `west flash` does, but I get this:
[code]

[2019-01-30 16:34] SebastianBoe commented on #12820
Calculating stack sizes is a difficult problem.

I'll fix it for this particular case, just as GCOV did[0], and leave it to the next guy to find a general solution.

[0] https://github.com/zephyrproject-rtos/zephyr/commit/e908ea9aa51ba7f88dff7dd610076b4dc352d3cf

[2019-01-30 16:52] erwango commented on #8810
@nashif, there are actually 2 revisions of the board, each one was working with a different openocd config. According to what I can see in recent openocd, they should now both work with existing zephyr configuration. I hope @finikorg can test and confirm.

[2019-01-30 17:03] galak commented on #12144
Here's an updated list as of commit: b73c9b32e8d84ad0a7820b5087db7cab681114f1

[code]

[2019-01-30 17:12] pabigot commented on #12812
Amusingly now I get:
[code]
and it works.  In the same shell window, albeit after moving back and forth between pre-west and post-west branches.

[2019-01-30 17:23] galak commented on #12144
Deal with CONFIG_MCUX_IGPIO* in PR #12883

[2019-01-30 17:34] mbolivar opened #12885 "documentation "details" link in PR CI results does not work"
**Describe the bug**

When submitting a pull request, Zephyr's CI displays a list of results including a line for documentation.

There is a "details" link in that line which does not work. It points to: https://docs.zephyrproject.org/latest/contribute/doc-guidelines.html

Which doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit a pull request
2. Wait for documentation resu

[2019-01-30 17:45] dcpleung commented on #12652
@vonhust The PR #12807 works on the UP Squared board.

[2019-01-30 17:46] carlescufi commented on #12812
@pabigot pre-west branches will add `$ZEPHYR_BASE/scripts` to your `PATH` and expect an executable `west` there. You will need to remove that from your `PATH` so that bash uses the bootstrapper

[2019-01-30 17:47] carlescufi commented on #12812
@RandomReaper let's not close this since the doc is actually wrong, but there's a PR to fix it already. After that, as @mbolivar mentioned, west has always been a requirement, it was just copied inside the zephyr repo. Once we switch to having all of west in PyPi the instructions should get simpler too.

[2019-01-30 17:48] carlescufi commented on #12812
@RandomReaper alternatively  you can go the easy way  which is to install west via `pip` and then run `west init -l zephyr/` around your current zephyr folder. As mentioned, neither are hacks, they are just what was expected after moving the west entry point outside of the zephyr repository.

[2019-01-30 17:54] mbolivar opened #12886 "Application development primer docs broken by west merge"
**Describe the bug**

The documentation recommends creating an application and build directory somewhere in the home directory. This is likely outside the west installation, so running commands like `ninja flash` or `west flash` in the build directory are unlikely to work.

**To Reproduce**

https://docs.zephyrproject.org/latest/application/application.html

**Expected behavior**

Docs should lead

[2019-01-30 17:56] pabigot commented on #12812
Current master also adds `$ZEPHYR_BASE/scripts` to the path, and removing it would break things like sanitycheck.  There is no west there, though.

I had an expectation that bisecting across the west switchover would work.  I'm not sure it does/will.  But west is just weird to me, so I'll keep slogging along.

[2019-01-30 17:57] andrewboie commented on #12844
We discussed this already. There is no design for restricting access to system RAM to the kernel itself. If the kernel faults when trying to zero BSS that is fundamentally broken. The kernel will not be able to access kernel objects, when Adithya was enabling app shared memory by default to all tests, he was having to do crazy stuff like moving kernel objects into application memory. The whole thi

[2019-01-30 18:09] carlescufi commented on #12886
Well that is actually a major problem I had not foreseen. Do we need to require all external apps to be inside the zephyr installation? Can we make `ninja flash` work based on `ZEPHYR_BASE` and `$ZEPHYR_BASE..\.west` instead?

[2019-01-30 18:11] nashif commented on #12886
i was surprised by this as well, discussed this briefly on #west yesterday.

[2019-01-30 18:16] nashif commented on #12726
@andyross fyi

[2019-01-30 18:20] carlescufi commented on #12812
Sorry, as mentioned on Slack this is only a problem if you  are juggling two or more zephyr trees, since you can then end up with an executable `west` in the path that interferes with the pip one.

[2019-01-30 18:23] mbolivar commented on #12886
I don't like the idea of using ZEPHYR_BASE because that could point to the wrong tree if users use zephyr-env.sh.

The west issue is https://github.com/zephyrproject-rtos/west/issues/175; please refer there for some discussion of the solutions.

[2019-01-30 18:57] nashif commented on #11721
0cc362f8737195a162a48c9b0ccaaf3ebec6e466 confirmed to be the culprit

[2019-01-30 19:10] nashif commented on #6452
any update?

[2019-01-30 19:22] nashif commented on #6180
put MCUBOOT aside, you can build zephyr to act as a bootloader, so there is nothing confusing here

[code]

Not sure how this can be written in some other way, IMO it is clear enough.

[2019-01-30 19:22] #6180 closed

[2019-01-30 19:23] nashif commented on #3796
HTTP client/server was dropped, so closing.

[2019-01-30 19:23] #3796 closed

[2019-01-30 19:34] galak commented on #11859
Going to close this as it seems like a usage error.  Feel free to re-open.

[2019-01-30 19:34] #11859 closed

[2019-01-30 19:34] nashif commented on #8869
status on this?

[2019-01-30 19:35] galak commented on #7013
Closing this now, we have a few dtc warnings, but most aren't related STM32 anymore.  Will open an new issue for the dtc warnings we do have.

[2019-01-30 19:35] #7013 closed

[2019-01-30 19:37] pic16f887 commented on #12272
Currently I am testing my code. This week or probably next week I will create a pull request with my code. The code supports only SD/MMC HW interface (no SPI). Initially without DMA support. DMA will be added later.

[2019-01-30 19:44] nashif commented on #8559
actually, lets not treat this as a bug in Zephyr, cause it is not, moving to an enhancment.

[2019-01-30 19:45] #8116 closed

[2019-01-30 19:45] nashif commented on #8116
not relevant or tested on this platform anymore.

[2019-01-30 19:47] carlescufi commented on #10037
Added @pdunaj as well since we have similar functionality downstream

[2019-01-30 19:47] nashif commented on #10623
duplicate of #8097

[2019-01-30 19:47] #10623 closed

[2019-01-30 20:48] FrankGorgenyi commented on #12362
@Olivier-ProGlove can you provide a trace of it working as expected and one failing. Your air traces collected while Windows [traces](https://github.com/Microsoft/busiotools/tree/master/bluetooth/tracing) are also recording would help us analyze and provide recommendations to you.

[2019-01-30 20:51] andrewboie commented on #8559
I think it's probably OK to default to userspace off, and just leave the hw stack protection stuff on for all tests. Then for all tests that actually create user mode threads, enable userspace there. Just turning on userspace without using it doesn't do much.

[2019-01-30 22:20] oliviermartin commented on #12362
Thanks a lot @FrankGorgenyi for jumping in this thread :smiley: :smiley: :smiley:

I actually think I found the issue this afternoon (German time). I will try to get more information tomorrow to know exactly if it a Zephyr issue or a Surface Pro Bluetooth controller issue. But it is likely that the issue (if my theory is confirmed) could be mitigated by the Surface Pro Bluetooth controller.

Here

[2019-01-30 23:56] andyross commented on #12553
Just had to kill the script so I could use that system for something else.  Other than one event where the host kernel reported that the linker sigsegv'd causing a build failure (it's an overclocked build host, sue me), all ~800 runs of each of the tests passed.

[2019-01-31 00:29] andrewboie opened #12900 "tests/benchmarks/timing_info doesn't print userspace stats"
The test, when built with -DCONF_FILE=prj_userspace.conf, doesn't print out the stats for userspace tests.

Here is the output I get:

[code]

[2019-01-31 01:03] nashif commented on #12900
@andrewboie  that on qemu_x86 I guess?
I am getting complete results on e70.

[2019-01-31 01:07] nashif commented on #12553
try running a few other things in parallel maybe:

[code]

[2019-01-31 02:01] #12171 closed

[2019-01-31 02:03] #12849 closed

[2019-01-31 02:20] nashif commented on #12244
Ok, so it never worked.
Now back to my previous comment, I do not think we should support this, there is no way we can guarantee that =n would work for every option and this might be confusing and might provide conflicting results based on the baseline configuration used.

[2019-01-31 05:10] mbolivar commented on #6770
Absolutely. I am very committed to making that happen for v1.14. Just needed to get the code in first -- zephyr's release management policies make it possible to write documentation after code freeze, so there's a lot of documentation still to be written that unfortunately is just in the heads and meeting minutes of the people that have been working on this.

Thanks! I am glad this thread has been

[2019-01-31 05:40] dleach02 opened #12905 "Build improperly does a partial discard of 'const' defined variables"
**Describe the bug**

The build system for Arm based targets performs improper discarding of ‘const’ defined variables that are only referenced within a single file. The map file shows the symbol in the Discard section but there is code still referencing that variable so the result is that the variable is located at address 0… all const variables that have this problem are located at address zero

[2019-01-31 05:54] RandomReaper commented on #12812
@carlescufi, thank you for the clarification, I was effectively not aware that west was used behind the scene.

[2019-01-31 06:03] AdithyaBaglody commented on #12900
This needs to run on a real target not on emulation.

[2019-01-31 06:45] finikorg commented on #12677
Do you mean that you want to assign specific endpoint address to each endpoint? Look at wpanusb sample.

[2019-01-31 07:49] aescolar commented on #12244
Well.. at least in my simple mind, not more than we can guaranty it when setting it in an overlay file..
( zephyr/misc/generated/extra_kconfig_options.conf being mostly just an overlay, or? )
I mean, this is just a way for developers who know what they are doing to quickly change an option (say compile without optimizations, or with coverage, or with some priority changed). Of course that option m

[2019-01-31 08:16] aescolar commented on #12244
As this never actually worked, maybe instead of considering it a bug, we should consider it an enhancement

[2019-01-31 08:33] finikorg opened #12908 "Data allocation in sections for quark_se is incorrect"
**Describe the bug**
In USB we rely on descriptors and configuration data allocations in specific sections. For quark_se it looks like we have zero bytes padding between two data blocks.

**To Reproduce**
I created test here:
https://github.com/zephyrproject-rtos/zephyr/pull/12907

**Screenshots or console output**
[code]

[2019-01-31 08:36] finikorg commented on #12908
I see padding in `struct device` with comment

[code]

[2019-01-31 08:40] dcpleung commented on #12823
#12891 got merged which would assert for recursive locks.

[2019-01-31 08:41] SebastianBoe commented on #6180
Perhaps:

This option will offset the ORIGIN of the MEMORY region SRAM by "CONFIG_BOOTLOADER_SRAM_SIZE" kB and reduce it's SIZE by the same amount.

[2019-01-31 08:45] HelloOumiga commented on #12677
Yes, this is my meaning. I have found the webusb sample not wpanusb sample,

[2019-01-31 08:56] #12823 closed

[2019-01-31 09:12] SebastianBoe commented on #12905
I don't understand the problem generally or specifically for _main_thread.

Let's talk about specifically for _main_thread.

If _main_thread was placed in the .rodata section we would use more flash, so I am grateful that it does not. Why would we want to undo this optimization? _main_thread appears to have been inlined in a desirable way. Equivalent to this psuedo code:

[code]

here it is not ne

[2019-01-31 09:13] #7381 closed

[2019-01-31 09:42] radfanSC commented on #12611
The shell is working over uart but not over telnet.
In the documentation stands:
"You are now connected, and as for the UART console, you can type in your commands and get the output through your telnet Client"

[2019-01-31 09:46] nordic-krch commented on #12611
@jukkar did legacy shell supported network transport? New one doesn't yet, so that would look like a misleading documentation after switching to new shell.

[2019-01-31 11:23] SebastianBoe commented on #12886
I don't know about "west flash".

But for "ninja flash", I would assume that since the flashing-related code is in-tree we could have some kind of in-tree frontend to invoke it. (Assuming we aren't able to solve "west flash").

[2019-01-31 11:37] #12650 closed

[2019-01-31 12:06] pabigot commented on #7587
@pfalcon will you call in to the dev-review telecon?  If not, exactly what do you want us to discuss about this?

I'm inferring your position to be "it works fine as-is, close as not-worth-fixing".  On the other hand, this is an issue not a PR, so what's the need to resolve it for 1.14?  #7592 appears to be less than half way to completion; will leaving this be the only thing blocking closing that

[2019-01-31 13:38] Olivier-ProGlove commented on #12362
More data/timing on latest Zephyr (`33dae59a5` - Sat Jan 26 - pre West mess...). I added two `LOG_INF()` statements - that deferred printing - so less invasive:

[code]

Here are the results of my testing on few devices:

WindowsSurfacePro
-------------------------

* Pairing:

[code]

* Reconnection:

[code]

WindowsSurfacePro + ASUS BT-400
----------------------------------------------

* Pairin

[2019-01-31 13:50] erwango commented on #8810
@finikorg, can you test Blinky sample? I wonder if ST Link VCP is wired on this board.

[2019-01-31 14:03] #12652 closed

[2019-01-31 14:09] finikorg commented on #8810
@erwango `blinky` works, also tested make debug working, maybe magic DTS serial port name configuration is worng?

[2019-01-31 14:16] nvlsianpu commented on #12635
I'm investigating this.

[2019-01-31 14:32] tbursztyka commented on #12611
@nordic-doki that sounds like a bug introduced by new shell. Legacy stuff was working properly, but remember that it was far easier back then: all was using printk below...

[2019-01-31 14:37] erwango commented on #8810
@finikorg, actually, unlike other disco or nucleo boards, you need to add some wires first to get ST Link VCP serial Rx Tx matching STM32 serial port. The SW modification would be to remove console as it is not available by default on boards

[2019-01-31 14:38] erwango commented on #8810
Anyway, can we close the issue, now that you confirm you are able to flash the board?

[2019-01-31 14:53] finikorg commented on #8810
This makes the board almost unusable, should we remove the board from the supported board list?

[2019-01-31 14:53] #9921 closed

[2019-01-31 14:55] galak commented on #7302
This should be resolved by PR #12108

[2019-01-31 14:56] #758 closed

[2019-01-31 14:58] galak commented on #12813
Closing this issue, as stated the usb_dfu.c could should be fixed if the fact that CONFIG_FLASH_BASE_ADDRESS is not defined is an issue.  It should not assume a default value exists for flash's that are not memory map accessible.

[2019-01-31 14:58] chris-makaio opened #12933 "MCUboot: high current"
When compiling our app "standalone" (flashed at offset 0) we see an average current of around 70uA at our PCA10056
But when enabling CONFIG_BOOTLOADER_MCUBOOT the average is around 500uA

Clock config is the same for both confs: RC with 20ppm

[2019-01-31 15:00] finikorg commented on #8810
Otherwise the issues might be closed, should I close it?

[2019-01-31 15:02] galak commented on #12679
Should be resolved by #12927

[2019-01-31 15:08] galak commented on #8360
Closing this since we don't seem to get any warnings right now (looking at hello world on all boards).  Let's re-open an issue if this comes up again.

[2019-01-31 16:36] pabigot commented on #7587
Per dev-review: to be discussed in networking forum next week(?).

[2019-01-31 17:00] andrewboie commented on #12844
OK cool.

Off the top of my head:

- Need to understand how kernel memory will be partitioned up
- Need an access policy for the system workqueue thread
- Need an access policy for the kernel heap, other common shared data structures
- Need a policy for when interrupts happen. They can't just use the domain of the thread that was interrupted.
- Need a policy for system calls. Many system call will

[2019-01-31 17:12] pfalcon opened #12935 "Zephyr usurps "STRINGIFY" define"
If you'd need to define a macro which stringifies a symbol, how'd you call it? Surprise: everyone else calls it just the same. When different projects are used together, this leads to each redefine the other's, which leads to warnings, and with ever-popular -Werror, to build errors. And not even talking about cases where `#define STRINGIFY(x) itoa(x)`.

As anything else in Zephyr, STRINGIFY should

[2019-01-31 17:14] pfalcon commented on #12935
[code]

Building https://github.com/open62541/open62541

[2019-01-31 17:14] pfalcon commented on #12935
Related to https://github.com/zephyrproject-rtos/zephyr/issues/12129

[2019-01-31 17:14] pfalcon commented on #12129
Of course, we need to clean up not just header locations, but what headers export: https://github.com/zephyrproject-rtos/zephyr/issues/12935

[2019-01-31 17:20] andrewboie commented on #12900
I'll let you guys decide how to handle this, but it was very strange to me that the userspace stuff ran, but didn't print anything. What's the root cause? Why doesn't PRINT_STATS do anything for these tests?

I think there is some value in showing stats under emulation, for the case where we have emulators that are cycle accurate like ARC.

[2019-01-31 17:48] vanwinkeljan opened #12937 "Add API to clear display"
**Problem**

The current display API does not provide an API to clear the display on user request.

**Proposal**

Add API ```int display_clear(const struct device *dev)``` to display API

[2019-01-31 19:09] tautologyclub commented on #8631
I'm guessing all net_app-dtls issues will be more or less left to hang henceforth?

That's understandable I guess, but I'd make sure to mark it as `__deprecated` if so.

We discovered a really weird bug today where net_app registered a rx callback which was called by one of the handshake functions, but the rx callback itself indirectly called the handshake function itself - thus recursing itself (

[2019-01-31 20:30] turon opened #12942 "openthread: sleepy end device not supported by zephyr router"
When using a zephyr router, a sleepy end device (SED) can attach fine, but ping doesn't work.
We suspect that the frame pending bit isn't being supported correctly.

@rlubos

[2019-01-31 20:53] vanwinkeljan commented on #12860
Regarding the SDL based display driver (drivers/display/display_sdl.c) this would require a 32-bit SDL library in the CI docker container including all its dependencies (X11, ...), if this is not an issue the samples can easily be added to CI.

[2019-01-31 21:40] karthikprabhu17 opened #12945 "mqtt_socket connect is hung on sam_e70_xplained"
**Describe the bug**
The mqtt socket connect is hung while trying to connect to a broker after this commit: 6ad7e13608cd9fd7d1035c4d61ed15b3ebe9f3e0 on a sam_e70_xplained board. I did a git bisect and zeroed on the commit.

After this commit, the tcp_connect perpetually waits on a semaphore on sam_e70: thttps://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/tcp.c#L2655

commit 6ad7

[2019-01-31 22:09] ruuddw commented on #12844
Yes, interrupts handlers requiring access would be tricky. Others have a thread context that could be explicitly granted access using the memory domain api.

[2019-01-31 22:59] mbolivar commented on #12812
So I had a thought.

Since the runner code is inside the Zephyr repository, I could create a script, let's call it `ninja_run.py`, that would take a single argument, which is one of: `flash`, `debug`, `debugserver`, and `attach`.

It would then use the same infrastructure the west extension commands use to accomplish the "default" flash or debug behavior.

No command line options or other configur

[2019-01-31 23:07] nashif commented on #12945
@aurel32 can you take a look?

[2019-01-31 23:21] pabigot commented on #12812
I have a recollection that there was an implicit if not explicit promise that after the transition to external west people could still to develop and use Zephyr without west.  Not sure what constraints were implied (maybe only that there would be a non-west multi-repo workaround), but allowing the previously working `ninja` commands to work without an external west would be a good thing.

[2019-01-31 23:28] DeclanTraill opened #12946 "Zephyr/BLE stack: Problem pairing/bonding more than one device, whilst the first device is still connected."
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your prog

[2019-01-31 23:34] aurel32 commented on #12945
@karthikprabhu17 Thanks for reporting the bug. I am using TCP/IP with this board, and for me this commit doesn't introduce new issues, although I haven't tried it with MQTT yet. I don't have an MQTT setup ready to try that, but i'll do that tomorrow.

That said, I wonder if it is just another instance of issue #12560, which causes TCP to randomly work or not work. It might be worth trying to apply

[2019-01-31 23:36] mbolivar commented on #12812
Let me provide some historical context here.

Yes. And that is still possible, just as it always has been, using your target's flashing tools, which west wraps in its flash and debug commands.

Flashing and debugging was actually the genesis of west. In the long distant past (say, a year and half ago), Zephyr was using shell scripts borrowed from the RIOT RTOS in the recipes for the `flash`, `debu

[2019-01-31 23:41] karthikprabhu17 commented on #12945
@aurel32 : Thanks for that pointer.. I will apply patch #12561 and let you know if it worked. Please do let me know about your mqtt test.

@nashif Thanks for following up.

[2019-01-31 23:44] DeclanTraill commented on #12946
Hi Zephyr group,

    We have found on our Zephyr system that the first device (Android or iOS) pairs/bonds with not problems, but a second (or third etc) device fails to pair/bond most of the time.
Sometimes it works ok & both devices become paired/bonded and stay connected, but most of the time it fails and the second device is disconnected as soon as the pairing key has been entered on the devi

[2019-01-31 23:47] carlescufi commented on #12933
This might be MCUboot initializing the UART. Can you try disabling logging and UART in MCUboot's Kconfig?

[2019-01-31 23:55] karthikprabhu17 commented on #12945
@aurel32: Applying that patch worked for me. Thanks. I had to chat about another issue. Will keep it brief. I realized the irc channels are no longer used.

[2019-02-01 00:02] mbolivar commented on #12886
Yeah, you read my mind. I'm going to try that. Monorepo "default" flashing and debugging can then continue to work.

[2019-02-01 00:05] andrewboie opened #12947 "tests/benchmarks/timing_info/benchmark.timing.default_kernel fails on nsim_em"
[code]

[2019-02-01 00:06] andrewboie opened #12948 "tests/kernel/mem_protect/stack_random/kernel.memory_protection.stack_random fails on nsim_em"
[code]

[2019-02-01 00:08] andrewboie opened #12949 "tests/benchmarks/timing_info/benchmark.timing.userspace fails on nsim_em"
[code]

[2019-02-01 00:14] andrewboie opened #12950 "tests/kernel/workq/work_queue_api/kernel.workqueue fails on nsim_em"
[code]

[2019-02-01 00:36] xiaoliang314 commented on #12726
Thanks,  Expect it to be fixed.

[2019-02-01 00:43] mbolivar commented on #12812
This turns out to be impossible. The extension commands rely too much on modules inside west, such as `west.cmake`. Sorry, everyone. I tried.

[2019-02-01 00:44] mbolivar commented on #12886
This turns out to be impossible. The extension commands rely too much on modules inside west, such as `west.cmake`. So we really can't build this in-tree frontend.

[2019-02-01 04:23] nashif opened #12955 "Missing Documentation for many subsystems and features"
We are missing tons of documentation for various components and subsystems

- [x] LWM2M https://github.com/zephyrproject-rtos/zephyr/issues/12958
- [x] CoAP https://github.com/zephyrproject-rtos/zephyr/issues/12956
- [x] MQTT https://github.com/zephyrproject-rtos/zephyr/issues/12957
- [x] Networking section top level doc, #13378
- [x] Bluetooth section top level doc, #13394

more to follow...

[2019-02-01 04:24] nashif opened #12956 "CoAP missing documentation"
**Describe the bug**
Need documentation for the CoAP protocol

[2019-02-01 04:25] nashif opened #12957 "Need documentation for MQTT"
**Describe the bug**

Need documentation for the MQTT feature in zephyr

[2019-02-01 04:27] mike-scott opened #12958 "Missing LwM2M protocol information in the network section of docs"
**Describe the bug**
Need documentation for the LwM2M feature in Zephyr

[2019-02-01 05:38] vinny74man opened #12959 "Error with cmake build "string sub-command REGEX, mode MATCH needs at least 5 arguments""
Hello everyone, after installing I tried with this example, "Blink_Led", but the result is this.

P.S. this is an online translation
[code]

[2019-02-01 07:45] anangl commented on #12827
Each of these registers can hold only an 8-bit value. The registers occupy 32-bit locations but only lowest 8 bits in each is implemented. See for instance [the documentation for nRF52840](https://www.nordicsemi.com/DocLib/Content/Product_Spec/nRF52840/latest/power?166#register.GPREGRET) (row "ID" in the table, only bits marked with `A` are implemented).

Did you find any other information suggest

[2019-02-01 08:05] chris-makaio commented on #12827
Understood.
Well, I‘ve seen a few posts (by users) in DevZone which are stating that they‘re 32bit.
However, can be closed :)

[2019-02-01 08:05] #12827 closed

[2019-02-01 08:09] chris-makaio commented on #12933
it's already disabled.
I guess it has something to do which the specs of Laird's BL652 when used w/o external crystal and using the internal 250ppm.
We'll add an external xtal, but it's still strange

[2019-02-01 08:33] finikorg commented on #12677
@HelloOumiga I believe endpoint addresses should be assigned automatically, otherwise if you include several instances of HID (mouse and keyboard) or HID + CDC ACM how do you assign those addresses?
I think this is not what you want either.
We are not going to move class code to main, this was old interface, but if you want some very specific device you can do this in your sample.

[2019-02-01 10:12] ioannisg opened #12961 "ARM Memory Protection functions not invoked in SWAP for ARMv6/ARMv8-M Baseline"
**Describe the bug**
It has, unfortunately, been the case since the very beginning, for example:
- (86aff09c77d70f8782e17093d18b986cbd15000c) when integrating stack guard, or
- (1c047c9bef4da06b2a4b714b33b028511b27a114) when integrating user space support, that
ARM swap (`__pend_SV`)) function **does not invoke the memory protection functions**  for the ARMv6-M (and for the latter-added ARMv8-M Ba

[2019-02-01 10:21] erwango commented on #8810
This is actually the same status as some other STM32 based, non ST boards, such as stm32_min_dev, olimexino_stm32 and alikes, on which you need to connect a serial cable on some pins to use  Not sure this is a sufficient reason to remove them.
Anyway, I'm pushing a PR to clarity board documentation

Done

[2019-02-01 10:36] jhedberg commented on #11016
I'll assume this as resolved since there's been no update from the reporter. Please re-open if the issue still persists.

[2019-02-01 10:36] #11016 closed

[2019-02-01 10:36] #8810 closed

[2019-02-01 10:37] jhedberg commented on #11682
I suspect this got fixed by the fix to #12449. Please reopen if the issue still persists.

[2019-02-01 10:37] #11682 closed

[2019-02-01 10:39] jhedberg commented on #11149
@jkanakkx have you had a chance to look at this? It'd be good to get a comment from the original author (you) whether the semaphore handling is intentional or a bug.

[2019-02-01 11:07] galak commented on #12959
What version of the Zephyr SDK are you using?

Can you trying reporting results of:

`/home/sbsadmin/zephyr-sdk/sysroots/x86_64-pokysdk-linux/usr/bin/dtc --version`

[2019-02-01 11:41] pfalcon opened #12965 "POSIX subsys: Need more fine-grained enable options"
Currently, we have a "master switch" of CONFIG_POSIX_API which enables a lot of POSIX subsys functionality at once, and just a few sub-options to control some areas (Pthreads, etc.).

One of things which CONFIG_POSIX_API does it automatically adds headers under includes/posix/ to the include paths. Unfortunately, how they're implemented now is very fragile, and making any step further than the cur

[2019-02-01 11:44] galak commented on #8104
Which c-library, how can I reproduce this?

[2019-02-01 11:46] galak commented on #12190
which gnuarmemb version are you using?

[2019-02-01 11:46] pfalcon commented on #12965
@nashif, @galak, @ramakrishnapallala, @nniranjhana: FYI

This comes from experience in porting https://github.com/open62541/open62541 to Zephyr (which is a Linaro project to try and see how far we're along the "take an existing 3rd-party lib and just  run it with Zephyr" approach).

cc'ing you so there was a place to discuss details if needed, and these changes didn't come as a surprise (because f

[2019-02-01 12:29] nvlsianpu opened #12967 "settings/fcb-backend: value size might be bigger than expected"
Have gone through the code, the problem is in the routine settings_line_len_calc(), in this routine the length is calculated with added zeros. As a result of this the real data length is not available anymore. But when you remove it there it is "strange" to write more data to the entry than was previously "reserved".

Problem occurs for devices for which flash driver write alignment is different t

[2019-02-01 12:32] nvlsianpu opened #12968 "dfu/mcuboot: solution for Set pending: don't crash when image slot corrupt"
This is the Mirror issue.
Related to https://github.com/JuulLabs-OSS/mcuboot/pull/414 discussion.

[2019-02-01 12:33] nvlsianpu commented on #12968
cc @utzig @ccollins476ad

[2019-02-01 12:39] nvlsianpu opened #12969 "settings: loading key-value pairs for given subtree"
Currently It is possible to load all the settings at once.
This make difficult design of big app when we rather want to initialize modules one by one. Especially when some modules should be initialized befor other  - which enforce split module initialization to initialization only for settings reception and further for the rest of initialization.

[2019-02-01 13:07] anangl commented on #10037
This 32,767 cycles limit is no longer present in the pwm_nrfx driver. Since commit 2d5ea10f314a12b74269ad5d88408445057a8b6d, the PWM prescaler is modified accordingly to find a fit for the requested period length, precisely [this part of code](https://github.com/zephyrproject-rtos/zephyr/blob/2d5ea10f314a12b74269ad5d88408445057a8b6d/drivers/pwm/pwm_nrfx.c#L56) does this.
I think this issue can be

[2019-02-01 13:16] jarz-nordic commented on #8884
On current master this sample is already migrated.

[2019-02-01 13:16] #8884 closed

[2019-02-01 13:32] nvlsianpu commented on #12969
cc @Qbicz Can you take the voice here?

[2019-02-01 13:54] galak commented on #4961
Merging of #7872 gets the last two boards to use DTS.

[2019-02-01 13:54] #4961 closed

[2019-02-01 13:54] galak commented on #4960
Now all arch's support DTS.

[2019-02-01 13:54] #4960 closed

[2019-02-01 14:24] erwango commented on #12069
@vaussard, can you double check, it seems that k_uptime_get_32 actually returns ms (cf https://github.com/zephyrproject-rtos/zephyr/blob/c39bb49e8458fd6548711ee01bd1fafe4ffa2e95/kernel/timeout.c#L238)

[2019-02-01 14:44] rgundi commented on #12813
I do not quite agree with this, Kumar. 0 is a valid base address and i do not see why it can be an issue if you assume the base address is 0 for a SPI based flash. It definitely doesn't break anything and keeps the code generic (for memory mapped and non-memory mapped flash).

[2019-02-01 14:58] rlubos commented on #12942
You are right here, the whole frame pending API specified by OpenThread is not implemented in Zephyr:

The API is specified here:
https://github.com/openthread/openthread/blob/5b4e7f93315010bf504da49ba61f1c5bf7f56279/include/openthread/platform/radio.h#L609

And here are Zephyr's empty stubs:
https://github.com/zephyrproject-rtos/zephyr/blob/c39bb49e8458fd6548711ee01bd1fafe4ffa2e95/subsys/net/lib/

[2019-02-01 15:17] nslowell commented on #12224
@madandylau Can you apply this patch.  It will likely move you to the next error.  When you get that error, can you copy the gcc command that failed and add "-H" to the options and provide the output?
[0001-posix-define-mode_t-in-sys-types.h-only-if-it-isn-t-.txt](https://github.com/zephyrproject-rtos/zephyr/files/2822145/0001-posix-define-mode_t-in-sys-types.h-only-if-it-isn-t-.txt)

[2019-02-01 15:21] pfalcon commented on #12224
Another ticket related to POSIX API issues with specific action items: https://github.com/zephyrproject-rtos/zephyr/issues/12965 . (No claims it would help here, just cross-linking related issues.)

[2019-02-01 15:23] pfalcon commented on #12224
@galak, regarding this, I think that we should concentrate on making POSIX subsys to work well with Zephyr's own SDK first (and there're enough issues there). So, I'd suggest to that this as prio: low.

[2019-02-01 15:44] rmstoi opened #12982 "net: Zephyr drops IPv4 packet with extended MAC frame size"
If Zephyr receives a packet with IPv4 datagram occupying only portion of the MAC frame it drops the packet without responding to it. This is a regression from PR #11775.

As an example, attached also pcap from Linux, which responds correctly.

[ext-frame-icmp-zephyr.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2822242/ext-frame-icmp-zephyr.pcap.gz)
[ext-frame-icmp-linux.pcap.gz](htt

[2019-02-01 15:54] nvlsianpu commented on #12969
Yes

No - keep API compatible backward.

[2019-02-01 16:16] dleach02 commented on #12905
@SebastianBoe, you need to separate _main_thread and its locality from the actual problem.

The primary problem is that it is the linker's job to locate all symbols into the final image and then walk through all references to the symbols and fix up the underlying assembly instruction(s) to have the true address of the symbols. In the case of these const defined variables, the linker has decided th

[2019-02-01 16:16] #7302 closed

[2019-02-01 16:56] galak opened #12985 "Add support for flash running over usb mass storage"
Add a flash running that copies zephyr.bin over to the device across mass storage.  Ideally this would work cross platform, but also deal with issues like mounting, sync, etc.

[2019-02-01 18:50] galak opened #12987 "Fix workaround of using 'mmio-sram' compat for system memory (DRAM) in DTS"
Right now we typically only generate defines/props for compatible's we can match against a binding.  However system memory doesn't have a compatible and thus no binding.  We are hacking a work around to use 'mmio-sram' for DRAM on i.mx-RT boards so things work.

We need to update the dts generation scripts to handle this case properly.

See PR  #12983

[2019-02-01 18:52] agross-linaro commented on #12821
@ubicore Can you try out the clobber patch referenced above.  It appears the clobber list missed r3 and this caused issues based on the features enabled and the compiler.  Signaling r3 to the clobber tells the compiler that r3 will be modified by whatever is inside the inline asm.

[2019-02-01 20:08] jarz-nordic commented on #8877
Done with #8872

[2019-02-01 20:41] dleach02 commented on #12905
The same problem exists in the 2.31.51.20181213 version of GNU tools.

[2019-02-01 20:49] andrewboie commented on #12905
I really don't understand what the problem is.

If you define a const variable, and nothing ever uses it, then gc-sections is doing to discard it. Are you actually using these variables in some way that fools the linker?

[2019-02-01 22:47] jfischer-phytec-iot commented on #12985
I hope it will not be the default runner for daplink based boards.

[2019-02-01 23:20] andrewboie opened #12994 "intermittent failures in tests/net/socket/select/ on qemu_x86"
**Describe the bug**
I'm intermittently seeing a problem with test_select on x86 where an assertion is failing. This happens often for me.

This seems to be a timing issue with QEMU if we get unlucky with a tick boundary. It depends on how much the workstation is loaded, unfortunately we don't have -icount working and QEMU tries to sync the target clock to the host clock.

Can we relax the zassert

[2019-02-02 00:03] #9846 closed

[2019-02-02 00:04] #12796 closed

[2019-02-02 00:12] #12908 closed

[2019-02-02 00:17] #10917 closed

[2019-02-02 03:38] bfrog commented on #12697
That makes sense, maybe note which format strings are supported directly in the docs

[2019-02-02 03:38] #12697 closed

[2019-02-02 04:31] nashif opened #12997 "Make sanitycheck support multiple toolchains"
**Is your enhancement proposal related to a problem? Please describe.**
right now sanitycheck filters based on configured variant (from env variable). We should support multiple configured toolchains in the same run and filter based on a list rather than rely on the env variable.

**Describe the solution you'd like**
set variants on command line.

**Describe alternatives you've considered**
none

[2019-02-02 07:50] pfalcon commented on #12994
Yes, that was the idea. For me, this issue doesn't seem to be reproducible, though while writing, I had to add `+ FUZZ` for a case below the one which fails for you. Of course, I can believe it may fail, and we should do something about it. I have following ideas:

1. Would you be interested to try `CONFIG_QEMU_TICKLESS_WORKAROUND=y`? It was in some other configs for timing-related tests, and I st

[2019-02-02 11:46] vinny74man commented on #12959
Version: DTC 1.4.5

[2019-02-02 11:59] vinny74man commented on #12959
I updated dtc to version 1.4.7, and now I get this.

sbsadmin @ LAPTOP-T166O5K7: ~ / zephyrproject / zephyr / samples / hello_world / build $ cmake -DBOARD = arduino_101 ..
CMake Error at CMakeLists.txt: 3 (include):
  includes could not find load file:

    /cmake/app/boilerplate.cmake

- The C compiler identification is GNU 7.3.0
- The CXX compiler identification is GNU 7.3.0
- Check for working

[2019-02-02 21:13] andrewboie commented on #12553
I variously see these failures all the time, FWIW.

For the ones that are QEMU timing related, I don't see a way out unless we can get icount working and completely decouple from the system clock.

As a short-term workaround, we may want to tag all these tests as "flaky" in testcase.yaml, and build them in a separate CI job which retries them a large number of times.

[2019-02-02 21:38] andrewboie opened #13000 "sanitycheck serializes running tests on ARC simulator"
**Describe the bug**
I was running `sanitycheck -p nsim_sem` on a machine with 40 cores and noticed that it was taking a very long time. htop showed that all my cores were more or less idle except for one copy of nsimdrv.

Running two simultaneous sanitycheck runs in two different terminals shows two instances of nsimdrv, so the problem is with sanitycheck.

**To Reproduce**
Steps to reproduce the

[2019-02-02 22:28] andrewboie opened #13001 "app shared memory rules in CMakeLists.txt breaks incremental builds"
**Describe the bug**
If CONFIG_APP_SHARED_MEM is enabled, there is a build step to scan all the compiled .o files to generate a linker script containing application shared memory sections:

[code]

Unfortuantely, this is messing with incremental builds. If I run 'make', and then run 'make' again, I would expect the build to finish immediately. Instead, every build step after app_smem_linker is rep

[2019-02-02 23:45] andrewboie commented on #12959
Did you source zephyr-env.sh?

[2019-02-02 23:49] andrewboie commented on #12948
duplicates #8197

[2019-02-02 23:49] #12948 closed

[2019-02-02 23:58] #12410 closed

[2019-02-03 00:15] andrewboie opened #13003 "context switch in x86 memory domains needs optimization"
Context switching between threads in different memory domains on x86 is very slow with difficult to predict latency. Unlike other arches, which just write a fixed bank of registers, we have to go through and walk the page tables multiple times to rearrange the permissions on every page included by either the outgoing or incoming memory domain. This all happens with interrupts locked and can take v

[2019-02-03 00:51] nashif commented on #12553
sound like a good idea.

[2019-02-03 07:17] lgl88911 opened #13005 "syslog_net doc error"
samples/net/syslog_net/README.rst
show:
[code]
maybe it is below ?
[code]

[2019-02-03 07:53] vinny74man commented on #12959
I run "source zephyr-env.sh" in the "/home/sbsadmin /zephyrproject /zephyr" dir

[2019-02-03 08:14] vinny74man commented on #12959
Version of sdk 0.9.5

[2019-02-03 08:41] Jeepgoing commented on #8104
@galak  newlib through menuconfig

[2019-02-03 09:02] Jeepgoing commented on #8104
@galak
example：openamp  lpc54114 board, enable libc through menuconfig.

[2019-02-03 11:00] Laczen commented on #12969
I am still a little unsure of the expectations:
a. What if settings_load() is called before a settings_load_subtree() ?
b. Is the settings_load_subtree() limited to the settings.name or would you allow it to go down to the entry name ?

[2019-02-03 12:05] aescolar opened #13009 "Coverage broken for nrf52_bsim"
**Describe the bug**
Coverage reports are missing for the nrf52_bsim board (both in codecov and when attempting to generate them locally)
COVERAGE cannot be set for nrf52_bsim (or any other NATIVE_APPLICATION board)

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52_bsim -DCONFIG_COVERAGE=y
3. See complaint from kconfig about COVERAGE not being selec

[2019-02-03 12:12] pirast commented on #12726
I might also be running into this problem (under heavy load of Mesh) but am not so familar with gdb unfortunately. I have also noticed next elements pointing to the referring element itself, but in my case of wait_q -> waitq. The symptoms are that my application freezes (i.e. it does not send / process advertisement messages) but it does not print a kernel panic or such in the serial console. Is i

[2019-02-03 14:16] aescolar opened #13011 "tests/posix/fs/ segfaults randomly in POSIX arch"
**Describe the bug**
At random the test case will segfault just after passing in the POSIX architecture
(could only reproduce (easily) when compiling with COVERAGE enabled)

The issue is caused by the Zephyr POSIX sleep.c not being compiled with the posix_cheats.h defines.
When the POSIX arch attempted to call the host `sleep()`, instead the Zephyr POSIX API replacement sleep() was called, which m

[2019-02-03 14:48] robstev0 opened #13013 "Problem executing 'west flash' outside zephyr directory."
`west flash`

Does not work outside the zephyr base directory (at least for me).  The only way I can build my project is to run it with `--build-dir`.

West flash error:
[code]
Ninja flash error:
[code]

[2019-02-03 14:52] aescolar opened #13014 "sanitycheck fails to generate coverage report if samples/application_development/external_lib is run"
**Describe the bug**
When samples/application_development/external_lib is part of the tests sanitycheck runs,
running sanitycheck with the -C option (so a coverage report is generated), will fail when
genhtml fails to find the mylib.c included file

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p native_posix -C -T samples/application_development/
2. See error

**Expected behav

[2019-02-03 15:14] galak commented on #12959
From the output you are reporting it seems like the `source zephyr-env.sh` didn't happen.  Can you try:

1. remove files in build dir
`rm -fr /home/sbsadmin/zephyrproject/zephyr/samples/hello_world/build/*`

2. source `zephyr-env.sh`
[code]

3. try building:
[code]

[2019-02-03 15:18] galak commented on #8104
@Jeepgoing what errors are you seeing when you do this with current tree?

[2019-02-03 15:42] #13009 closed

[2019-02-03 18:16] #13011 closed

[2019-02-03 20:55] dleach02 commented on #12905
@andrewboie, Yes the variable(s) is(are) still being used. The linker has improperly decided that these particular variables should be discarded so the linker doesn't go through its final fix up steps to allocate space and fix up the code locations that are referencing these variables with a proper address. Instead, the code uses what the compiler temporarily emitted which appears to be zero.

I h

[2019-02-04 01:19] Jeepgoing commented on #8104
@galak  there are something undefined errors from  SDK

[2019-02-04 05:40] cvinayak commented on #12946
@DeclanTraill Thank you for the detailed analysis, but could you fill the details to reproduce the issue as per the template in your first comment in this issue?

Please state the Zephyr commit hash you are using, the sample you are using, the .config file for your application, any code deviations from the upstream sample implementation, the devices, boards, phone and peers used.

Unless, I am mad

[2019-02-04 08:12] Qbicz commented on #12969
@Laczen it should be possible to load whole tree or to load a chosen subtree. There are applications where it is beneficial to be able to load the settings during initialization of a module, but do not enforce that all other settings users are initialized at this point, letting modules not block each other in this process. But some applications will be happy will simplicity of loading everything a

[2019-02-04 08:56] cvinayak commented on #12860
@galak How could I (or you help) verify that I have handle the missing building of the files in #13022 ? Please approve it subsequently.

[2019-02-04 08:59] laperie opened #13025 "CAN not working on Nucleo L432KC with external transciever"
**Describe the bug**
CAN sample (samples/drivers/CAN)  doesn't work in any other mode than LOOPBACK.  In CAN_NORMAL mode, no signals are generated on CAN_RD and CAN_TD pins (PA_12 and PA_11 respectively).
The exactly similar environment works well with stm32f072b_disco but not with this one.

**To Reproduce**
Build a CAN driver sample
Connect CAN transceiver
Connect to another  supported device vi

[2019-02-04 09:14] Laczen commented on #12969
Hi @Qbicz, thanks for the elaboration. Maybe my concern is not exactly clear: suppose you have two modules where one is dependent (mod1) on the other (mod2), next to some other modules which do not care. If there is a routine settings_load() that loads all there is no way of ensuring this is not called before a settings_load_subtree(). This means that the mod1 set routine should catch the not yet

[2019-02-04 09:57] Qbicz commented on #12969
@Laczen, in such case no one would load all: mod1 will do `settings_load_subtree(mod1)`, mod2 `settings_load_subtree(mod2)` and other module will load with `settings_load_subtree(othermodule)`. Currently BT module requires that application does `settings_load()` but IIRC this is in order to let application use settings also in other modules (because there is no subtree loading possible). After imp

[2019-02-04 10:12] pfalcon commented on #12982
I don't understand this report. Does it say that any IPv4 packet with the size different from 1500 gets dropped?

[2019-02-04 10:31] rmstoi commented on #12982
@tbursztyka with PR #13024 UPD and ICMP work, but TCP fails, captures attached

[ext-frame-tcp-zephyr-pr12982.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2827457/ext-frame-tcp-zephyr-pr12982.pcap.gz)
[ext-frame-tcp-zephyr-05f41.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2827458/ext-frame-tcp-zephyr-05f41.pcap.gz)

[2019-02-04 10:32] tbursztyka commented on #12982
Weird, how allocating incoming frame on ethernet driver affects tcp... will check.

[2019-02-04 10:33] aescolar commented on #12860
@cvinayak : For your case, you should be able to do something like this:
[code]
If you see the files in that list of objects they are built.

[2019-02-04 10:35] nvlsianpu commented on #12969
I think it should be possible to load subtree and certain key-value pair  as well.
I can also imagine that for some reason we can have a sub-tree and a key-value with the same name:
lest consider example of key stored:

`x/y`
`x/y/z`
`x/y/q`

The x/y is the key for some value and also the sub-tree for two children.
so when `settings_load_subtree("x/y")` will be called I expect that all keys will b

[2019-02-04 10:38] rmstoi commented on #12982
@pfalcon no, incoming packet has an ethernet trailer of 472 bytes, this causes failure in IP datagram size  calculations.

[2019-02-04 11:04] pfalcon commented on #12982
In other words, there's a mismatch in IPv4 vs Ethernet packet sizes, and Ethernet packet has "empty" space after the IPv4 packet?

[2019-02-04 11:16] Laczen commented on #12969
@Qbicz, your proposal would mean that settings_load() is removed and all modules should load calling their own subtree. This would break the backwards compatibility. It also means the settings file needs to be processed for each module.

@nvlsianpu, doing something like this is moving into the direction of a direct read of variables in the backend (and probably means it would be best handled at th

[2019-02-04 11:35] jhedberg commented on #12969
Not if the settings subsystem tracks which modules have already been loaded (unless I misunderstood something with that proposal).

Isn't that only true for the NFFS backend? Perhaps it would make sense to split the NFFS storage so that there's one file per module?

[2019-02-04 11:48] pfalcon commented on #12994
Ok, then with adjusting timeouts for blocking calls, as then required to properly tell non-blocking from blocking, it's effectively p.3, and posted as https://github.com/zephyrproject-rtos/zephyr/pull/13028

[2019-02-04 11:55] pfalcon commented on #12955
cc @rlubos, @mike-scott

Would be nice to get more details on what exactly "We are missing tons of documentation for various components and subsystems" means. For MQTT, API reference is definitely there, not sure about a "guide" docs section.

[2019-02-04 12:01] pfalcon commented on #12945
@karthikprabhu17: If https://github.com/zephyrproject-rtos/zephyr/pull/12561 fixed for you, please add comment there.

IRC channel in welcome message should have a link to Slack channel: https://tinyurl.com/yarkuemx

[2019-02-04 12:04] pfalcon commented on #12814
@vanti, @GAnthony : FYI

[2019-02-04 12:05] Laczen commented on #12969
@jhedberg, I think the bt module is a good example of what is required:
a. You don't want the settings_load() to be called before everything is setup
b. Once everything is setup you want to call settings_load_subtree()
There are two requirements here, and only b is fulfilled with a settings_load_subtree().
So what if a user would like to change the bt settings (e.g. delete) before the bt module is

[2019-02-04 12:15] ioannisg commented on #11276
@andrewboie I can not reproduce the error using the diff in gen_isr_tables from #11273.

[2019-02-04 12:59] ntavish commented on #12206
Just leaving a comment here for what needed to be done for building samples for OpenThread for me: `automake` and `libtool` need to be installed and I have to run `bootstrap` script from `<build_dir>/zephyr/ext_proj/Source/ot`, and then it would build successfully.

[2019-02-04 13:05] ioannisg commented on #11276
So, it looks to me that in nRF51 boards, where BT is enabled by default, SWI5_IRQn is registered with IRQ_CONNECT, which corresponds to line 25, not line 24.
This might have changed, recently, can you confirm @cvinayak ?

[2019-02-04 13:33] ioannisg commented on #11276
[Continuing]
As far as I could see, default builds for nRF51-based boards enable Bluetooth controller and use SWI5 (line 25) for BT. This is because the LL split is not enabled by default (@cvinayak pls, confirm).

Therefore, line 24 is now available for the test, so, this issue can be closed as "invalid".

[2019-02-04 13:35] nashif commented on #12813
something like that?

[code]

[2019-02-04 14:06] jfischer-phytec-iot commented on #12677
No is not. a) if you interface has a endpoint there will be endpoint descriptor, you host driver should use it and obtain the endpoint address from there. b)on device, the default endpoint address may be updated after stack initialization.

[2019-02-04 14:10] erwango commented on #13025
@laperie, I don't have anything to test CAN.
Can you point out the commit that broke your configuration?

[2019-02-04 15:24] agansari commented on #11548
@pfalcon can be closed with merge #12465

[2019-02-04 15:36] carlescufi commented on #8379
@SebastianBoe Does this cover the following use cases:

1. Existing API (`adc.h`) and having an out-of-tree replacement for an existing implementation (say `nrf52`).
2. Existing API (`adc.h`) and having an out-of-tree implementation for a SoC that is supported by Zephyr but there's no driver for it upstream
3. Existing API (`adc.h`) and having an out-of-tree implementation for a SoC that is **not*

[2019-02-04 15:54] erwango opened #13034 "samples/bluetooth/peripheral_hr: could not connect with reel board"
**Describe the bug**
Could not connect to board when running `samples/bluetooth/peripheral_hr`
Works as expected when running `samples/bluetooth/peripheral`

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=reel_board
3. ninja flash
4. See error

**Expected behavior**
Connect to board ans see dummy heart rate values.

**Impact**

**Screenshots or console

[2019-02-04 16:03] pfalcon commented on #11548
@agansari:

Well, that's networking PR. Did you mean https://github.com/zephyrproject-rtos/zephyr/pull/12237 instead?

[2019-02-04 17:41] karthikprabhu17 commented on #12190
@galak sorry for the delay in response. I am using gcc-arm-none-eabi-7-2018-q2-update. I was able to get rid of the error by removing MBEDTLS_PLATFORM_STD_SNPRINTF from config file. Although that is not solution i know!

[2019-02-04 17:42] karthikprabhu17 commented on #12945
@pfalcon : Thanks..Done!

[2019-02-04 18:47] andrewboie commented on #12905
I don't think you've proven this with your example.

Forgive me for being thick but if _main_thread is actually being used by the code, why isn't the application crashing?

_main_thread is defined in init.c, it's a pointer to _main_thread_s which is the actual thread struct, and nothing is actually using it, it appears that all use inside init.c is being optimized.

I bet you $0.02 that if you act

[2019-02-04 18:50] laperie commented on #13025
@erwango   -- Cannot say for sure since I have never tested L432KC with anything else but LOOPBACK mode (that does not require 2nd device).  This mode continues to work, if that matters.

[2019-02-04 19:00] Laczen commented on #12969
After going through the code I think the problem of dependency and requirement to wait until somethings are initialized can be done with just 1 line of code: in settings_handler_lookup(char *name) only return the handler if "enabled" .

So every settings_handler gets a bool "disabled" that is standard set to false.

If a module needs to wait for initialization or another module it declares the "di

[2019-02-04 20:31] #12994 closed

[2019-02-04 21:36] andrewboie commented on #12559
Seen this also on qemu_nios2

[2019-02-04 21:45] dleach02 commented on #12905
I agree that if it is referenced outside of the file it is defined in then it is not discarded. This was what I pointed out in the initial problem report.

But looking closer at the generated assembly code I can see that the "fixup" is PC relative and the value is the correct value... so likely this bug report is bogus. GDB is not helping here because when I inspect the variable it seems to be con

[2019-02-04 21:55] mbolivar commented on #12985
That's up to the board.cmake file. I certainly wouldn't want that for any boards I use regularly :).

With west, it's easy to `west flash -r cmsis-dap-mass-storage` (assuming the runner name is `cmsis-dap-mass-storage`; of course something shorter would be better, naming is hard)

[2019-02-04 21:57] mbolivar commented on #13013
this dupes https://github.com/zephyrproject-rtos/west/issues/175

[2019-02-04 21:57] #13013 closed

[2019-02-04 21:58] andrewboie opened #13043 "intermittent tests/posix/common/ failure"
Seen on x86, probably affects others

[code]

[2019-02-04 22:04] andrewboie opened #13044 "intermittent tests/kernel/workq/work_queue failure"
Seen with both regular and polling implementations

[code]

[code]

[2019-02-04 22:07] ioannisg commented on #11276
Closing this - not an issue anymore (unless and until the default IRQ registration changes again for nrf51)

[2019-02-04 22:07] #11276 closed

[2019-02-04 22:56] dleach02 commented on #12905
After closer inspection of the generated assembly, this doesn't look like the bug I thought it was. GDB is still confused a bit but it looks like the generated assembly is correct.

[2019-02-04 22:56] #12905 closed

[2019-02-04 23:46] #12813 closed

[2019-02-04 23:49] jfischer-phytec-iot commented on #12985
`west flash -r daplink-hic-msd` or just `west flash -r daplink-msd`?

[2019-02-05 00:18] galak commented on #8104
can you post the errors you see currently, want to make sure i'm seeing the same thing.

[2019-02-05 04:44] spoorthik opened #13047 "Build error while executing tests/kernel/tickless/tickless on quark_se_c1000_devboard"
**Describe the bug**
Build error mentioning power states are not defined for intel quark boards. Error is seen when run on quark_se_c1000_devboard

**To Reproduce**
Steps to reproduce the behavior:
sanitycheck -T tests/kernel/tickless/tickless -p quark_se_c1000_devboard

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain

[2019-02-05 07:39] agansari commented on #11548
Both, #12237 enables driver support on all i.mx rt boards, but in #12465's first commit they are set as default on rt 1050.

[2019-02-05 07:44] pfalcon commented on #11548
Well, that's why a PR titled "networking fixes" shouldn't contain "external flash and sdram" commits, it can only lead to confusion ;-).

I would note that the topic of this issue doesn't see to be addressed directly (adjusting usage ratio of on-chip SRAM), pragmatically it was about "we need more RAM for program storage), and if it's addressed by switching to enormous SDRAM, yeah, let's close thi

[2019-02-05 07:44] #11548 closed

[2019-02-05 07:45] erwango commented on #13025
@laperie, ok well this is important to know if we're looking for a regression or another issue, which could then be anything, including an issue related to L4 SoCs, this particular board, or even an issue in your test set up when using this particular board (In understood this board requires CAN transceiver and hence this is a bit different from using disco).
I'm editing the description to remove

[2019-02-05 08:13] alexanderwachter commented on #13025
@erwango I made a quick setup with F0 disco an L4 nucleo and it doesn't dork for me either.
Maybe I have time today to bring up a debug setup again to figure out whats wrong.

[2019-02-05 08:57] nordic-krch commented on #12494
this should be fixed now. @pfalcon can you confirm and close?

[2019-02-05 08:58] nordic-krch commented on #11633
with #12406 and #12327 this is fixed.

[2019-02-05 08:58] #11633 closed

[2019-02-05 09:05] pfalcon commented on #12494
Please leave me some time for that, I'm in the middle of other things. Will try to do during this week though.

[2019-02-05 09:16] rmstoi opened #13050 "net: Zephyr drops TCPv4 packet with extended MAC frame size"
If Zephyr receives a packet with IPv4 TCP datagram occupying only portion of the MAC frame it drops the packet without responding to it.

This regression seems to occur after commit 05f41

Incorrectly working pcap (at master):
[ext-frame-tcp-zephyr-master.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2831461/ext-frame-tcp-zephyr-master.pcap.gz)

Correctly working pcap (at commit 05f4

[2019-02-05 09:31] kiranpachava opened #13051 "Two timers are expiring at one time and crashing for platform nrf52_pca10040"
**Describe the bug**
Two timers are expiring at one time and crashing for platform nrf52_pca10040
We have changed the expiry time to prime number or odd number.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/hello_world
edit the file src/main.c and add the patch shared below.

[code]

2. mkdir build; cd build
3. cmake -G Ninja -DBOARD=nrf52_pca10040
4. ninja
5. ninja flash
6. Lau

[2019-02-05 10:11] pfalcon commented on #13011
@aescolar: I'd appreciate if I can be copied on all things POSIX subsys in Zephyr.

[2019-02-05 10:16] aescolar commented on #13011
@pfalcon Certainly :)

[2019-02-05 10:23] pfalcon opened #13054 "[RFC] Situation with Zephyr POSIX subsystem and ARCH_POSIX (targets running on the underlying POSIX OS)"
Subj is a cause of continued cases of failures and frustrating workarounds in Zephyr. Something needs to be done about it. Two obvious choices are:

1. Say that POSIX subsys of Zephyr is not compatible with ARCH_POSIX. This is very obvious and right solution.
2. Call for all-hands work from the maintainers of both parts, work hard on them, and then it's still unclear how far we'll get with that.

[2019-02-05 10:33] aescolar commented on #13054
@pfalcon : Having the same POSIX APIs both above and below Zephyr does certainly require some cheating to make it work.
But I hope it does not lead to too much frustration overall.
We need to be aware about how that is made to work (how those cheats work) and ensure we don't break them.
I think giving up on supporting the POSIX API on top of the POSIX arch is a bit too dramatic at this point.

Cou

[2019-02-05 10:37] ioannisg commented on #10633
I think this was a problem of not sufficient size for supervisor threads.
Anyways, we can close this after we merge #12817; the tests are passing on _both_ frdm_k64f, and nrf52_pca10040. (may be already passing now, but we can wait a bit)

[2019-02-05 10:38] pfalcon commented on #13054
So, the problem is that there's too much magic in each of the subsystems above. I'm working on de-magicize POSIX API subsystem, but I get blocked by native_posix failures on each step.

Here's an example case transcript:

1. https://github.com/zephyrproject-rtos/zephyr/pull/12984 fails with:
[code]
2. Looking at that file, it says:
[code]
3. `we rename all symbols here` - Ok, rename to what? Grepp

[2019-02-05 10:41] ioannisg commented on #7706
Should we try to get this into 1.14, @MaureenHelm ? I might have some time for that, but only after Friday (bu that is ok for bug fixes, right?)

[2019-02-05 10:42] pfalcon commented on #13054
Well, It does, for quite some time now. *Any change* to the POSIX subsys leads to breakage of CI re: native_posix.

It's not like "giving up", it's more like accepting that it's a separate task to integrate both, which so far severely interferes with the development of POSIX subsys itself. After last working streak on it in September or so, I tried to stay away from it. Now I *need* to work on it

[2019-02-05 11:00] aescolar commented on #13054
Ok, you raise several points which require separate answers:
* Regarding not having CC'ed you: Actually that was a silly mistake from my side. When fixing it, I had incorrectly thought it was a change by Ulf, so I had added him as reviewer instead of you.
* The symbols which require renaming are those the linker may get confused about. And those are the functions we (may) use both from the POSIX a

[2019-02-05 11:20] laperie commented on #8724
Closing since we removed RPL

[2019-02-05 11:20] #8724 closed

[2019-02-05 12:04] #12671 closed

[2019-02-05 12:51] ioannisg commented on #2108
Related to this, as well:

STKALIGN is set by default for ARMv6-M implementations, as well as ARMv8-M implementations.
It is configurable for ARMv7-M, but we _do not_ set it. Is it something we should do, @agross-linaro ? This would bring compatibility/consistency between all-architectures

[2019-02-05 13:57] lowlander commented on #13025
@laperie did you setup the pins correctly ? Not just in the DT but also in pinmux.c file of the board.  For the olimex p405 I did the following to make it work;

https://github.com/zephyrproject-rtos/zephyr/pull/12595/files#diff-3ea5c43750819a1f91789d273ceb61b2

[2019-02-05 14:00] alexanderwachter commented on #13025
@lowlander This is already done in the standard board pinmux. I'm currently debugging. I think It's a problem witch the bs_1, bs_2 settings.

[2019-02-05 14:08] lowlander commented on #13025
@laperie  where did you measure ? Really on the CAN bus L/H or on the GPIO pins of the CPU. Because if you switch rx/tx weird things happen.  (believe me I have tried :-)

[2019-02-05 14:17] alexanderwachter commented on #13025
@lowlander we need to change the default device tree values to:
[code]
Otherwise we are not compatible to the nucleo and the prescaler  is not a natural number.
I did that but now i get
[code]

[2019-02-05 14:18] alexanderwachter commented on #13025
Maybe I should make a dts overlay for different boards in the example. The problem is that prop_seg_phase_seg1 and phase_seg2 must be adjusted for different clock frequencies.

[2019-02-05 14:35] lowlander commented on #13025
@alexanderwachter  I have a setup comparable to the linux can drivers, where I have min/max values for thinsg like SJW, phase1, phase2 in DT.  And tell the driver i wan 500kbit and 87.5% sample point an the driver figures things out itself.

[2019-02-05 15:19] carlescufi commented on #6498
Setting the priority high due to popular demand for this feature

[2019-02-05 15:27] lilrom13 opened #13065 "CONFIG_BT leads Fatal fault in ISR on esp32"
**Describe the bug**
Add `CONFIG_BT=y` leads a `Fatal fault in ISR! Spinning...` on esp32.

**To Reproduce**
add `CONFIG_BT=y` to prj.conf
also reproducible with beacon sample

1. cd build/
2. cmake -GNinja -DBOARD=esp32 ..
3. ninja
4. cd ..
5. west -v flash -d build/ --skip-rebuild --esp-device /dev/tty.SLAB_USBtoUART

`** FATAL EXCEPTION
 ** CPU 0 EXCCAUSE 3 PS 0x00060020 PC 0x40082a23 VADDR 0x4

[2019-02-05 15:32] RamiroOliveira opened #13066 "Bug on STM32F2 USB Low Layer HAL"
**Describe the bug**
When creating a composite device using #12682 on a STM32 Nucleo F207ZG board, the kernel panics.
According to addr2line the faulty error occurs in ext/hal/st/stm32cube/stm32f2xx/drivers/src/stm32f2xx_ll_usb.c on line 573 because ep->maxpacket is 0 when a division operation occurs.

Using other boards (stm32f072b-disco) this issue doesn't occur which might point to an error on

[2019-02-05 15:58] alexanderwachter commented on #13025
#13069 Fixes the problem. Tested against a stm32f072b_disco and logic analyzer with PulseView

[2019-02-05 17:03] alexanderwachter commented on #13025
@laperie Maybe you have troubles with your transceiver too. The IO of your breakout board (http://skpang.co.uk/catalog/canbus-can-fd-breakout-board-5v-p-242.html) is 5V compatible but the nucleo has 3.3V IO. Also verify that you have 5V on the transceiver. Values slightly less than 5V won't work. Just had that problem. Don't connect to Vin but use the 5V pin.

[2019-02-05 17:23] #13025 closed

[2019-02-05 18:04] #8018 closed

[2019-02-05 18:10] galak commented on #11565
Attempted fix in PR #12850

[2019-02-05 18:13] galak commented on #12560
@jukkar @tbursztyka any updates on this?

[2019-02-05 18:19] andrewboie commented on #7706
we have plenty of time to address bug fixes for the LTS

[2019-02-05 18:33] #10186 closed

[2019-02-05 18:58] ydamigos commented on #13066
@RamiroOliveira Following the steps above, I tested cdc_acm_composite sample on olimexino_stm32 and stm32f3_disco. It works fine. But on my 96b_carbon kernel I get the same error.
A first observation is that the issue occurs on devices with OTGFS controller.

[2019-02-05 19:14] #2108 closed

[2019-02-05 19:19] agross-linaro commented on #2108
@ioannisg yeah we should be consistent.

[2019-02-05 19:21] #12886 closed

[2019-02-05 19:42] andrewboie opened #13073 "intermittent failure in tests/benchmarks/timing_info"
Seen on qemu_cortex_m3

[code]

[2019-02-05 20:22] andrewboie opened #13074 "Consider using MPU region register bank like a TLB"
**Is your enhancement proposal related to a problem? Please describe.**
Many MPUs have a small number of regions that can be programmed, such as 8. Given boot-time regions, gap-filling for MPUs that don't support region overlaps, and thread stacks, this can lead to a very limited number of free regions available for memory domain partitions.

It's easy to eat up memory domain partitions, for examp

[2019-02-05 20:31] andrewboie opened #13075 "Review memory protection Kconfig policies for consistency and sanity"
We have a number of Kconfigs related to memory protection which I think could use some attention and or clarification.

- Do we want to support memory domains for arches that do not have userspace enabled? This seems inconsistent; for example on x86 memory domains don't work with userspace disabled, but it seems like on ARM that they do. If we do support with userspace disabled, what are the use-c

[2019-02-05 22:53] carlescufi commented on #12812
I am going to close this issue because, while we have always maintained that one should be able to avoid using west for repo management, the fact that west is required in order to flash and debug is not new. Furthermore the issue with the doc that triggered the opening of this issue has been resolved: https://docs.zephyrproject.org/latest/tools/west/without-west.html even for out-of-tree apps now.

[2019-02-05 22:53] #12812 closed

[2019-02-05 23:23] ioannisg commented on #6974
Obsolete, now, after #12817, for reasons stated above and also because the function does not exist.

[2019-02-05 23:23] #6974 closed

[2019-02-06 02:05] mbolivar commented on #12985
I like `daplink-msd` or maybe even just `usb-msd`.

[2019-02-06 03:15] nashif opened #13082 "s1000 board: multiple registrations for irq error"
**Describe the bug**

Building any code on Intel S1000 with latest master results in:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=intel_s1000_crb
3. make
4. See error

**Expected behavior**
Samples builds

**Impact**
Nothing can be built for this board.

**Screenshots or console output**
in debug mode, we get this:

[code]

**Additional cont

[2019-02-06 05:15] kiranpachava commented on #13051
Hi,

Any update on the issue reported ? Please help to check it.

Regards,
Kiran

[2019-02-06 05:21] faisalSaleemSetec opened #13083 "Problem pairing/bonding 2nd device, whilst the first device is still connected using sample project (bluetooth\peripheral)"
**Describe the bug""
Failed to bond the second device, while 1st device is paired and connected, running the sample project bluetooth\peripheral on nrf52_pca10040 development board. Have added (CONFIG_BT_MAX_CONN=4, CONFIG_BT_MAX_PAIRED=4) to allow for up to 4 devices to bond.

**To Reproduce**
1. Modify the prj.conf file in the sample project bluetooth\peripheral with the following changes,
CONFI

[2019-02-06 06:10] pfalcon commented on #7587
At the networking forum yesterday, we agreed to close this. Summing up, the current situation is that:

1. We offer standard POSIX getaddrinfo() function for blocking DNS queries. This is expected to satisfy needs of the most users.
2. We offer native Zephyr DNS API, for advanced cases like async DNS resolution: https://docs.zephyrproject.org/latest/reference/networking/dns_resolve.html .

The doc

[2019-02-06 06:10] #7587 closed

[2019-02-06 07:57] pfalcon opened #13084 "net: Align interface numbering with POSIX/BSD/Linux"
Currently, Zephyr uses natural 0-based numbering of networking interfaces (0 - first interface, 1 - next, etc.) However, the BSD networking API (which is the basis for POSIX, Linux, etc.) use a more adhoc numbering. E.g. quoting http://man7.org/linux/man-pages/man7/packet.7.html :

          netdevice(7)); 0 matches any interface (only permitted for bind‐
          ing).  sll_hatype is an ARP type

[2019-02-06 07:58] pfalcon commented on #13084
@jukkar, @tbursztyka, @rveerama1, @rlubos, @mike-scott : FYI.

[2019-02-06 08:04] tbursztyka commented on #13084
@pfalcon will you propose a patch for it? The fix sounds rather trivial, as only the socket interface handles the iface index that way, no need to change how iface are indexed in the core side.

[2019-02-06 08:09] pfalcon commented on #13084
That's not what @jukkar said in the discussion linked above.

[2019-02-06 08:12] tbursztyka commented on #13084
well the net_if_get_by_index() etc.. doing the +1 and so on, is an easier solution actually

[2019-02-06 08:13] tbursztyka commented on #13084
However as 1.14 is going to be LTS, I would advise to fix that. It's a bug, so we have almost 2month of bug fix before the actual release.

[2019-02-06 08:17] pfalcon commented on #13084
Well, I can only +1 such approach. Anyway, it comes from @rveerama1's https://github.com/zephyrproject-rtos/zephyr/pull/12564, where he asked for response whether this issue is blocking for that PR, and the consensus was that we shouldn't dump that on him, he already does a great work of resolving other matters as required by packet socket.

So, this is made a separate issue, and I'm all for resol

[2019-02-06 08:35] aescolar commented on #13054
@pfalcon : With regard to giving up the support of the POSIX API on top of the POSIX ARCH:
Me or my company do not care. I guess that, whoever (whichever company is driving adding the POSIX API to Zephyr), would need to comment in their interest for such a combination.
If they do not care to have it, or consider it is not worthwhile the trouble to keep that combination working, and other main main

[2019-02-06 08:49] pfalcon commented on #13054
I'd say you actually should welcome it, because any attempts to "fix" it would likely adversely affect your main usecases for it (simulation, etc.)

And again, the talk is about to temporary decouple them, until POSIX subsys matures enough. Then it can be revisited.

[2019-02-06 10:31] jukkar commented on #12560
The issue is being worked on in #12563 right now.

[2019-02-06 10:47] pfalcon opened #13091 "sockets: Implement MSG_WAITALL flag"
POSIX defines read/write/recv/send operations on SOCK_STREAM sockets as able to perform short reads/writes (in other words, return less data than requested by the user). This is the most flexible option, allowing to minimize latency for truly streaming applications (e.g., if you recv data from a socket and dump to UART, you don't care how many chars you dump at once, but arguably you care if you d

[2019-02-06 11:29] ruuddw commented on #13075
I see a (strong) case for MPU protection in non-userspace builds (e.g. code/execution protection), but your concern is more specifically on memory domains for kernel, right?
My interpretation/assumption for memory domains matches the "ARM" version, I think as mentioned before: principle of least privilege, no access if not needed.

Agree on the CONFIG_APP_SHARED_MEM - it will be hard to build user

[2019-02-06 12:04] carlescufi commented on #9406
@galak @erwango can you please update this issue after the recent merges?

[2019-02-06 12:18] #12765 closed

[2019-02-06 12:19] #11565 closed

[2019-02-06 13:23] #12844 closed

[2019-02-06 14:01] galak opened #13096 "Remove CONFIG_X86_PAE_MODE from scripts/gen_mmu_x86.py"
Commit 2d9bbdf5f31dd4ffd43473f7a4db180a3c85a202 remove the Kconfig symbol CONFIG_X86_PAE_MODE but it still exists in scripts/gen_mmu_x86.py

[2019-02-06 14:26] ozanoner opened #13097 "openthread default configuration"
OpenThread is initialized with the same values as provided in kconfig. at runtime, when one wants to use another thread configuration (networkname, panid, extpanid, channel id), they are overwritten with default values as programmed after a new power cycle.

**Describe the solution you'd like**
after changing openthread settings, they should be preserved & used in the next boot.

https://github.co

[2019-02-06 14:50] jarz-nordic commented on #10769
@pfalcon : I am working on `select` command. I have following assumptions in my mind:
1) It is allowed to select a command that:
  - is static (syntax/handler cannot change in runtime)
  - has subcommands

2) You can always select command that is deeper in commands tree if it fulfills 1)

3) When command is successfully selected, prompt will change to selected command syntax + `$` or `>` (TBD).

4

[2019-02-06 15:13] #13082 closed

[2019-02-06 17:06] nashif commented on #12945
@karthikprabhu17 try this patch #12711

[2019-02-06 17:15] andrewboie commented on #13096
Why is this a high priority bug? There's just an unused function, I'll remove it but it's not breaking anything.

[2019-02-06 17:43] jfischer-phytec-iot commented on #12985
agree with usb-msd, I think some segger onboard adapters have it too.

[2019-02-06 17:48] karthikprabhu17 commented on #12945
@nashif: Tried this on top of master right now... mqtt_connect works fine. fifo_put still gives

***** BUS FAULT *****
  Imprecise data bus error
***** Hardware exception *****
Current thread ID = 0x204092b0
Faulting instruction address = 0x3a
Fatal fault in essential thread! Spinning...

[2019-02-06 18:41] nashif commented on #12945
@karthikprabhu17 I have no idea what fifo_put is, you really need to provide some more details, this is probably worth its own bug.

[2019-02-06 19:22] karthikprabhu17 opened #13110 "MPU fault on performing fifo operations"
**Describe the bug**
Whenever I try to insert a fifo element inside mqtt async evt callback, I get a a MPU fault on my sam_e70_board.

***** MPU FAULT *****
  Data Access Violation
  MMFAR Address: 0x401779
***** Hardware exception *****
Current thread ID = 0x20409254
Faulting instruction address = 0x41cbd8
Fatal fault in ISR! Spinning...

Steps taken for diagnosis:
I ran k_isr_in_isr() inside the

[2019-02-06 19:57] andrewboie commented on #13110
How confident are you that you are passing valid data to the k_fifo APIs?

A fifo is just a k_queue, which is just a set of memory blocks whose first 32-bits are reserved for linked list pointers, which creates the ordered queue.

It looks to me like this is a memory corruption issue where the pointers are being modified incorrectly somehow. Depending on how they are corrupted, it could truncate t

[2019-02-06 20:13] Laczen opened #13111 "Using code relocation"
Can I use code relocation to place a complete zephyr subsystem (e.g. Bluetooth) in a specific flash region ?

[2019-02-06 20:36] karthikprabhu17 commented on #13110
@andrewboie: @andyross helped me diagnose the issue. I was able to solve this by bumping the CONFIG_ISR_STACK_SIZE from 2048 to 4096.

The instruction was trying to write to an address that was not writable

For future, is gdb the only tool I need to use diagnose such issues?

I will close this. we still need #12711

[2019-02-06 20:37] #13110 closed

[2019-02-06 20:39] ioannisg commented on #13110
@andrewboie it would have been nice to be able to detect ISR stack overflow on ARM. Is there a way to do it?
The stack overflow detection in ARMv8 is available for ARMv8-M, though :)

[2019-02-06 21:10] vanti opened #13113 "Samples fail to build for SimpleLink when CONFIG_XIP=n"
**Describe the bug**
When trying to build the samples for cc3220xl_launchxl with the code placed in SRAM using CONFIG_XIP=n, I see the build fail:

[code]

**To Reproduce**
Steps to reproduce the behavior using the blinky or disco sample:
1. Add CONFIG_XIP=n to prj.conf
2. mkdir build; cd build
3. cmake .. -DBOARD=cc3220sf_launchxl
4. make
5. See error

**Expected behavior**
I expect the build to

[2019-02-06 21:15] vanti commented on #13113
@galak  Commit `ce7ed18989e0c03ab06102da3c321247f775337e dts: Move CONFIG_SRAM_* & CONFIG_FLASH_* back to Kconfig` seems to have added some new Kconfig options. Are we expected to do something extra to support them in SimpleLink?

[2019-02-06 21:31] aurel32 opened #13114 "net subsystem needs documentation on how net_pkt and net_buf can be used"
The net subsystem uses `net_pkt` and `net_buf` intensively. Both are well documented, however documentation on how they have to be used, ie what assumptions can be done and what precautions are needed before changing a packet, is clearly lacking. For instance depending if the packet is in the RX path or the TX path, at L2 or L3 level, the assumptions and requirements are not the same.

Such a docu

[2019-02-06 22:05] andrewboie commented on #13110
On X86, we have a non-present guard page immediately preceding the interrupt stack.
Should be doable to have something similar on ARM, but without doing something clever it will eat up an MPU region

[2019-02-06 22:06] aurel32 commented on #12945
Looking at the HAL changes, I have noticed this changed in gmac.h:

[code]

All the queue registers have been shifted by 4 bytes, I guess it's because the priority queues are numbered starting counting at 1, the queue 0 being the main queue. That way GMAC_ISRPQ[1] actually correspond to the queue 1 or the first priority queue. The previous version of the HAL probably numbered them starting countin

[2019-02-06 22:22] aurel32 commented on #12945
Well except those are still defined as an array of 2 entries (e.g `uint32_t GMAC_ISRPQ[2]`) so GCC complains about "array subscript is above array bounds".

[2019-02-06 22:25] mike-scott commented on #3848
Done

[2019-02-06 22:25] #3848 closed

[2019-02-06 22:26] mike-scott commented on #3857
Implemented WRITE op support in latest round of changes.  Closing this for now.

[2019-02-06 22:26] #3857 closed

[2019-02-06 22:27] mike-scott commented on #5781
Move to sockets eliminates this bug.

[2019-02-06 22:27] #5781 closed

[2019-02-06 22:27] mike-scott commented on #7586
Done.

[2019-02-06 22:27] #7586 closed

[2019-02-06 22:31] mike-scott commented on #8190
BTW, I'm not the one to fix this issue ... and I'm not sure @andyross is either.  I think we might need Nordic folks to take a look at the thread priorities in the BT stack vs other network stack threads.  Seems like BT usage makes this issue more obvious atm.
cc: @carlescufi

[2019-02-06 22:33] andrewboie commented on #8190
Hasn't it always been like this?

I agree with @andyross this seems a problem in how the BT subsystem has their threads set up and not a kernel problem.

[2019-02-06 22:34] #13096 closed

[2019-02-06 23:30] #12878 closed

[2019-02-06 23:39] karthikprabhu17 commented on #12945
@nashif So, Now 12711 on of top master commit b101ddf74ec429f9d13b4b1f2092f2fa8af22f15 helps resolve the issue. Thanks

[2019-02-07 00:30] faisalSaleemSetec commented on #12946
duplicate of #13083 ..
All the information you asked for is given there and the issue is reproduced on the sample code bluetooth\peripheral..

[2019-02-07 02:23] GAnthony commented on #13113
@galak, added the 1.14 label, as this does affect our normal flow of development/debugging.
Also, what's the best way to add a test case which sets CONFIG_XIP=n, so it can trigger a build failure for cc3220sf_launchxl board in the CI build tests?

[2019-02-07 02:34] #12295 closed

[2019-02-07 03:05] faisalSaleemSetec commented on #13083
** Problem **
Upon bonding the 1st device successfully and while it is connected, when I try to bond the 2nd device, I get Disconnected (reason 8). (BTW, a few times the connection/bonding of the 2nd device was successful as well). Anyways, the case where the 2nd device fails to bond and if I reset the development board running the sample code. Now I can straight away connect the 1st device withou

[2019-02-07 04:03] galak commented on #13113
Take a look at commit d1e55eb842bbed53a0ebee58d1d8711a480f1c2d, let's see if doing something similar fixes the issue.

[2019-02-07 04:05] galak commented on #12985
I'm for 'usb-msd'

[2019-02-07 05:24] faisalSaleemSetec commented on #13083
tried the bluetooth sample peripheral using Zephyr commit: SHA-1: 31503a868b889413ed27180e8799188802fedca1
Same issue, second 2nd device disconnects (reason 8) if the 1st device is bonded and connected...

prj.conf is modified as follows..
   CONFIG_BT_MAX_CONN=4
   CONFIG_BT_MAX_PAIRED=4

[2019-02-07 07:23] jukkar commented on #12945
Note that while resolving the merge conflict, I took the version that the PR #12711 was providing. Perhaps I should have used the one that was provided by the new HAL. My merge resolution was mainly mechanical when I was resolving the conflict in HAL. I can do more testing if you have a patch that needs to be run in rev A.

[2019-02-07 09:44] SebastianBoe commented on #13111
Unfortunately not, code_relocation works on individual source files.

Also, apart from in documentation, the concept of "subsystems" does not exist.

The relevant concepts that do exist are directories and libraries.

So it might be possible to eventually enhance code_relocation to work on libraries or directories, and not just files.

[2019-02-07 09:44] #13111 closed

[2019-02-07 10:02] jremmert-phytec-iot opened #13122 "build for KW40z, KW41z fails to generate isr_tables"
**Describe the bug**
Building an example for a frdm_kw41z results in a failure in generating isr_tables when gpio portb is enabled:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. enable GPIO_MCUX_PORTB in boards/arm/frdm_kw41z/Kconfig.defconfig
2. build e.g. hello_world example
3. cmake -DBOARD=frdm_kw41z
4. make
5. See error

**Impact**
Examples for frdm_kw41z or boards based on kw4

[2019-02-07 10:26] vikrant8051 commented on #12574
@jhedberg
Do you have any update on this ?

[2019-02-07 10:59] jhedberg commented on #12574
@vikrant8051 are you able to reproduce this with mesh_shell? I tried quickly with it a few days ago, but I wasn't able to reproduce. That said, it's a bit hard to track from the PR description and various comments what exactly is the info that doesn't get stored in flash after a reset + reprovision&reconfigure. Is it deterministic? Is it always the same piece of info. I tried basic provisioning +

[2019-02-07 11:29] vikrant8051 commented on #12574
@jhedberg
I'm not comfortable with mesh_shell. So answer is no.

https://github.com/zephyrproject-rtos/zephyr/issues/12574#issuecomment-457263215

For sake of simplicity, please add code mentioned in above link in samples/bluetooth/mesh app. Ideally, after every reset we should receive GET response from Server side.

**Fresh firmware -> provision -> Reset1 -> unprovision -> provision -> Reset2.**

[2019-02-07 11:40] MarekPieta opened #13127 "No callback - USB suspend"
**Describe the bug**
USB does not provide proper callback when suspended (USB_DC_SUSPEND). Using nRF52840 USB Device Controller Driver.

**To Reproduce**
Device with mentioned driver is connected and systems hibernates, USB devices should be suspended.

**Environment (please complete the following information):**
 - OS: Linux, Ubuntu 16.04 LTS
 - Toolchain: Zephyr SDK 0.9.5

[2019-02-07 12:19] SebastianBoe commented on #13001
`Build tests/kernel/mem_protect/userspace twice on mps2_an385 or qemu_x86`

NB: Reproduced for mps2_an385, but not qemu_x86.

[2019-02-07 12:51] vikrant8051 commented on #12574
Lets assume everything is working perfectly normal with shell. But why thing is not working with actual
App ?

Please let me know about your observations, once you flash samples/bluetooth/mesh (after adding suggested changes) in any board.

For my point of view, it is better option because we could test it with any available board.

I tried it with nrf52840_pca10056 as well as nrf51_pca10028 & obs

[2019-02-07 15:44] GAnthony commented on #13113
@galak, Thanks for the guidance.
Submitted
https://github.com/zephyrproject-rtos/zephyr/pull/13138

[2019-02-07 16:58] andrewboie commented on #13001
You're right, in master branch qemu_x86 doesn't use the region script. Forthcoming changes #12990 it will.

[2019-02-07 17:07] mbolivar commented on #12985
SOLD at `usb-msd`

[2019-02-07 17:09] carlescufi commented on #12215
@cvinayak @SebastianBoe how about we do it like the particle boards do:
https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/particle_xenon/Kconfig.defconfig#L46

That way we only enable the controller if Bluetooth is enabled.

[2019-02-07 17:11] galak commented on #13122
I think the change from @andrewboie is just showing an issue in that we need to implement a shared GPIO handler for this case in the mcux gpio driver.

[2019-02-07 17:17] #12820 closed

[2019-02-07 17:18] #12763 closed

[2019-02-07 18:06] aurel32 opened #13146 "net: RX packets are sometimes used in the TX path"
If we want to have a sane IP stack, we should not allow RX packets (and thus RX buffers) to be used in the TX path. Or if we allow that, we should just use a common pool for both TX and RX. This just makes additional constraints on the drivers and increases the minimum RX buffer requirements.

This happens where `net_pkt_copy()` or `net_pkt_copy_all()` are used, and most notably the icmpv4 and icm

[2019-02-07 18:15] aurel32 opened #13147 "net: ICMPv4 echo reply packets do not use default values in the IP header"
**Describe the bug**

The ICMPv4 echo reply packets are build by reusing the echo request packet, only changing a few fields of the IP header. This means some fields of the outbound packet are taken from the inboud packet instead of using the default values from the interface, and most notably the TTL, flags and fragment offset. It might be safer to create a new packet using `net_ipv4_create()` an

[2019-02-07 18:21] vinny74man opened #13148 "Build on nucleo_stm32f429zi"
Hello everyone, I'm trying the example "blink_led" for a stm32f429zi I can not perform make returns various errors can you help me to set the various parameters for this board?
Thank you

P.S. this is an online translation, sorry

These are the errors:

[  8%] Building C object CMakeFiles/app.dir/src/main.c.obj
/home/sbsadmin/zephyrproject/zephyr/samples/basic/blink_led/src/main.c:45:2: error: #er

[2019-02-07 19:05] pfalcon commented on #13146
So, we exactly want to allow to have a dedicated, even adhoc RX pools. E.g., pools in memory-mapped NIC controller memory, which can be used for nothing else but RX packets (and which, being overflowed, leads to problems, so we should not hold onto packets from that pool for long, like send the TX path, whatnot).

Thanks for submitting this ticket!

cc @jukkar, @tbursztyka

[2019-02-07 19:14] #13113 closed

[2019-02-07 20:43] andrewboie commented on #13122
[code]

Yeah, before I added the check it was undefined which would be installed; same handler function in both cases but the parameter would be one or the other for all interrupts which is not what you want.

[2019-02-07 21:14] #10451 closed

[2019-02-07 21:14] #11373 closed

[2019-02-07 21:17] #5454 closed

[2019-02-07 21:17] #12215 closed

[2019-02-07 21:20] mnkp opened #13151 "Update documentation on linking Zephyr within a flash partition"
PR #12108 "Shift DTS before Kconfig" modified how flash partitions are linked. Before #12108 was merged the process was as follows:

this is no longer true.

Following documentation needs to be updated:
- "[Linking Zephyr Within a Partition](https://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html#linking-zephyr-within-a-partition)"
- the help text of BOOTLOADER_MCUBOOT Kconfig opti

[2019-02-07 22:10] #12945 closed

[2019-02-08 04:23] galak opened #13161 "QMSI drivers/counter/counter_qmsi_aon.c doesn't build"
the `drivers/counter/counter_qmsi_aon.c` driver doesn't build as it isn't supporting the counter driver api.  We should either fix this or remove the driver.

[2019-02-08 04:34] galak commented on #13148
Without letting us know which board you are building for, its hard to say.  If its a board in the Zephyr tree we can look at this in more detail.  If its not, than its mostly due to not having PWM configured for that board.

[2019-02-08 04:36] galak commented on #11767
Is this still the case w/new counter API & driver?

[2019-02-08 04:45] galak opened #13162 "Add exposing TOOLCHAIN_HAS_NEWLIB to Kconfig"
PR #12393 is going to introduce TOOLCHAIN_HAS_NEWLIB so that various testscases can use if the toolchain supports newlib or not to determine if they should be built.

We should also take TOOLCHAIN_HAS_NEWLIB as an input to Kconfig so that we have a dependancy on even enabling CONFIG_NEWLIB_LIBC.

[2019-02-08 04:46] #12396 closed

[2019-02-08 05:15] andrewboie commented on #12352
also seen on qemu_cortex_m3

[2019-02-08 05:18] kiranpachava commented on #13051
Hi,

Can someone help on this blocking issue ?
Probably this will lead app crash to anyone who set the two timers in their programming.

Regards,
Kiran

[2019-02-08 05:47] vinny74man commented on #13148
The board is the, NUCLEO STM32F429Zi, and is supported

[2019-02-08 07:26] tbursztyka commented on #13146
Actually, that issue does not exist anymore. I changed the core while applying the new net_pkt API so it would not reuse the RX pkt to TX. (originally icmpv4 and v6 in their respective echo request handler)

There are indeed legacy function still (like net_pkt_copy/net_pkt_copy_all) but these are not used in the core anymore. Actually I could remove these 2 in my PR #12989

Besides that, I do have

[2019-02-08 07:41] tbursztyka commented on #13147
It's because clone sets the same attributes to the cloned pkt as the original one.

It's just a matter to reset the ttl of the reply. Note that net_ipv4_create and net_icmpv4_create are used, it can work in both situation overwriting or not.

will send a patch, directly part of #12989

[2019-02-08 07:51] jhedberg commented on #13065
@galak I'm not at all familiar with esp32, and don't have any such HW. In fact, I didn't even realize we supported Bluetooth on it, so I'm not sure what I can do about this issue.

@lilrom13 how is Bluetooth supposed to work on your board? E.g. which HCI driver are you using?

[2019-02-08 07:53] jhedberg commented on #13083
This sounds like it could be a duplicate of #12946

[2019-02-08 07:54] aurel32 commented on #13146
Indeed it is now fixed, sorry. I encountered the issue 2 weeks ago when working on the GMAC driver, and since them kept on my TODO list to submit a bug. Sorry for not checking properly the new code, I didn't notice the `_new` version of `net_pkt_copy`.

It means we can now revert https://github.com/zephyrproject-rtos/zephyr/commit/afbee4c96abedfdca842e5a7be0330f2ca8575

[2019-02-08 07:54] #13146 closed

[2019-02-08 08:11] erwango commented on #11767
No, I've been able to run tests w/o. Closing. Will reopen if needed

[2019-02-08 08:11] #11767 closed

[2019-02-08 08:19] erwango commented on #13148
As you can see, at beginning of samples/basic/blink_led/src/main.c, there is a section of code in which we do the needed tuning to adapt the test case to the board. You need to tune that to make test working on this test.

[code]

[2019-02-08 08:38] tbursztyka commented on #13146
@aurel32 no worry, the changes I brought are quite broad, it changes a lot of things packet flow in the net stack. this issue helped me to notice net_pkt_clone/net_pkt_copy legacy functions could be removed actually.

[2019-02-08 08:39] SavinayDharmappa commented on #13161
https://github.com/zephyrproject-rtos/zephyr/pull/13165

[2019-02-08 08:44] ioannisg commented on #13151
Yeah, now it is more like all nodes have the code-partition, somehow defined in DTS of the boards, but it is only used if there is no BOOTLOADER, correct?

[2019-02-08 08:54] aurel32 commented on #13147
Thanks this commit indeed fixes the issue. Now I wonder why not just copy the payload to avoid this kind of issue, like it is already done for IPv6?

[2019-02-08 09:02] tbursztyka commented on #13147
In IPv6 it made sens to avoid cloning due to the fact option headers should not be present in the reply. In icmpv4 it's all the same (beside the ip src/dst addr, the icmp type and the ttl obviously): using cloning was a little bit simpler. (one clone vs net_pkt_alloc_with_buffer + net_pkt_copy).
Ok a really tiny bit simpler :)

[2019-02-08 09:02] loicpoulain commented on #13066
@RamiroOliveira, @finikorg, @ydamigos , correct me if I'm wrong but AFAIU, CDC ACM requires 3 endpoints per instance whereas stm32f4 (and f2) usb otgfs offers only four bidirectional endpoints, which makes impossible to run the acm composite sample. I, however, agree that we should gracefully fail at build or runtime in such situation.

[2019-02-08 09:39] arun1joshi opened #13166 "tests/kernel/threads/dynamic_thread test cases are failing on frdm_k64f board"
The tests in tests/kernel/threads/dynamic_thread fail with Assertion failure on frdm_k64f board
Note: the failure looks similar to the closed issues #10475, #10476

The test started failing from this commit: [a10f073]

**Arch**: arm
**Platforms**: frdm_k64f

**Error on console log**:
_frdm_k64f :arm_

[code]

[2019-02-08 09:49] mnkp commented on #13151
It seems like the flash partition layout and setting of zephyr,code-partition property is taken into account only if BOOTLOADER_MCUBOOT Kconfig option is set.

[2019-02-08 10:32] ioannisg commented on #13166
Looks like a stack overflow - need to see why.

[2019-02-08 11:11] koffes commented on #12681
@carlescufi @cvinayak if possible, please break down some more of the issues defined here in smaller tasks. Encapsulate the `req/ack` in PR #12681 was a nice bite size for getting started.

[2019-02-08 11:22] ioannisg commented on #13166
The test fails on NXP_MPU (frdm_k64f), on ARMv8-M MPU (nrf9160_pca10090) - does not fail on ARMv7-M MPU (nrf52840_pca10056).

It turns out we need CONFIG_TEST_EXTRA_STACKSIZE be defined, to something other than 0; seems 256 is, not, not enough for te dynamic_thread.

I am trying to see why it _is_ enough for nRF52 :) Maybe something with power-of-two alignment in ARMv7-M MPU that makes the configu

[2019-02-08 11:24] ioannisg commented on #13166
BTW, thanks for reporting this, @arun1joshi

[2019-02-08 11:51] SebastianBoe commented on #13001
I think I have a fix, I'd prefer to apply it to #12990 instead of master, is that OK @andrewboie ?

[2019-02-08 12:06] SebastianBoe commented on #13001
Nevermind ... 12990 is now merged ...

[2019-02-08 12:24] #12560 closed

[2019-02-08 12:47] jfischer-phytec-iot commented on #13066
The stack should not start with this configuration, usb_validate_ep_cfg_data (and usb_dc_ep_check_cap in the driver) would fail. @RamiroOliveira can you please set USB_DRIVER_LOG_LEVEL to debug and post the console output?

[2019-02-08 13:00] finikorg commented on #13066
Do you mean `DT_USB_NUM_BIDIR_ENDPOINTS`. It has 4 endpoint in each direction, so should be just fine.

[2019-02-08 13:20] r8d8 opened #13170 "Porting guide for advanced board (multi CPU SoC)"
**Is your enhancement proposal related to a problem? Please describe.**
Started to work with new triplemode SoC(BLE 5.0, WiFi,  802.15.4) board from Qualcomm using [QCA4020 board](https://developer.qualcomm.com/hardware/qca4020-qca4024)
It utilizes 3 CPUs: Cortex-M4(application), Cortex-M0(BLE, 802.15.4), Xtensa7 (WiFi).
Have read "Porting" doc multiple time, but still strugling to port zephyr fro

[2019-02-08 13:22] galak commented on #10382
I think we've done that for various sensors at this point.  An example is `lsm6dsl`.  We aren't consistent with it today.  In the future we use the DTS compat to filter on.

However, I don't think we are going to make tests/samples build if the hardware isn't present in the dts.

[2019-02-08 13:22] #10382 closed

[2019-02-08 15:35] nashif commented on #13047
fixed

[2019-02-08 15:35] #13047 closed

[2019-02-08 17:00] pfalcon commented on #13162
+1. I just now see a case where riscv32 toolchain from SDK 0.9.5 lacks a header coming from newlib and available in other toolchains in that SDK, failing a build for me.

[2019-02-08 17:03] pfalcon opened #13187 "qemu_x86_64 leaks system headers into the build process"
Any comments on the following? From https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/33725/4/tests

[code]

[2019-02-08 17:10] pfalcon commented on #13187
Just to give a hint where I lead: I'd be looking for a commit similar to c2c9265b7ddbd9300e829438e9e78d6ee4b6177d to be applied to tests/posix/ , because in its current shape, qemu_x86_64 isn't compatible with Zephyr POSIX subsystem (because it's itself a posix thingy, and 2 posixes don't mix well.)

[2019-02-08 17:26] vinny74man commented on #13148
I saw the definitions, so I asked for help with the configuration of my board, I can not figure out how to configure the main settings.

Thank you

P.S. this is an online translation, sorry

[2019-02-08 18:42] galak opened #13192 "silabs flash_gecko driver warning (will fail in CI)"
Reproduce by:

[code]

output is:
[code]

[2019-02-08 19:31] mbolivar opened #13194 "soc/arm/nordic_nrf/nrf52/soc_power.h warning spew when CONFIG_SYS_POWER_MANAGEMENT=n"
**Describe the bug**

The above mentioned soc_power.h declares function prototypes which use `enum power_states`, provided by power.h.

However, power.h only defines this enum if CONFIG_SYS_POWER_MANAGEMENT=y. Otherwise, the enum is undefined and leads to the following warnings emitted when building any .c file that includes soc_power.h, directly or indirectly:

[code]

This is a *lot* of files, s

[2019-02-08 19:32] mbolivar commented on #13194
@carlescufi not sure who this should go to; could you please add the right person?

[2019-02-08 20:07] mike-scott opened #13196 "LwM2M: support Access Control objects (object id 2)"
**Is your enhancement proposal related to a problem? Please describe.**
LwM2M client in Zephyr currently supports 1 server connection and has no restrictions for what that server can change on the client.  LwM2M Object: Access Control (object id 2) supports fine grain control of resource access per server to allow for multiple server connections.

**Describe the solution you'd like**
Let's impleme

[2019-02-08 20:09] #8374 closed

[2019-02-08 20:10] mike-scott opened #13197 "LwM2M: support Connectivity Monitoring object (object id 4)"
**Is your enhancement proposal related to a problem? Please describe.**
Object 4 Connectivity Monitoring is Part of the LwM2M Tech Spec 1.0 and allows connected devices the ability to share statistics such as RSSI, bandwidth usage and other data.  Currently, Zephyr doesn't support this.

**Describe the solution you'd like**
Implement Connectivity Monitoring object in Zephyr.  Useful for modem-base

[2019-02-08 20:33] andyross commented on #13187
I don't get that failure.  Are you trying to build something against newlib?  IIRC this missing limits.h is the first point of failure if you try that.  But the root cause is that your toolchain (the host toolchain on linux) simply doesn't have the library you're asking for.

As far as "system headers" being included, I don't see any in this error -- those are all toolchain headers, not linux/glib

[2019-02-08 20:34] carlescufi commented on #13194
@anangl @pizi-nordic could you please provide a patch for this?

[2019-02-08 21:12] pfalcon commented on #13187
@andyross, believe or not, but I'm in the same situation as you. What I do is: there's a POSIX subsystem is Zephyr, but is a toy one, not suitable for running any real-world POSIX app. I'm trying to improve on that part, but taking one random app/lib and making needed changes to Zephyr to run it. I then post my changes to CI, as passing CI is a requirement for merging changes. And I see totally ra

[2019-02-08 21:14] pfalcon commented on #13187
I seems that this ticket doesn't mention that the failures discussed (of which here presented only 1) come from https://github.com/zephyrproject-rtos/zephyr/pull/12984

[2019-02-08 21:20] andyross commented on #13187
I'm not a zealot about platform whitelisting and frankly the posix tests don't provide a lot of coverage anyway.  But (see comments in the linked bug, too), there **is** a root cause here, it **is** understood, and those tests **do** build, run and pass on x86_64 right now.

So turning them off just because you're changing include file dependencies around seems like a bad trade.   Let's fix the ro

[2019-02-08 21:28] pfalcon commented on #13187
I've run thru a couple of dozen of such "root causes" and think I've had enough for now. Someone certainly will fix it later, maybe me, maybe not.

[2019-02-08 21:31] pfalcon commented on #13187
Heh, so running thru those couple of dozen causes, I've come to the exactly opposite conclusion. And that's the direction I'm exploring now, and even ring to related parties so they were in loop (and maybe randomly say "yes" right away ;-) ).

So that again shows we won't be able to find a solution *now*, except for the most obvious, temporary solution proposed.

[2019-02-08 22:15] andrewboie commented on #13166
I think we should kick the stack size up to 512 for that test and call it a day, not sure how 256 was even initially arrived at

[2019-02-08 22:30] andrewboie commented on #13166
@ioannisg This reveals another problem: stack overflows are not being reported as such, at least on the NXP MPU

[2019-02-08 22:31] agross-linaro commented on #13166
yeah i am taking a look at this one right now

[2019-02-08 22:32] andrewboie commented on #7706
we tripped over this again in #13166

[2019-02-08 22:33] andrewboie commented on #13166
#7706 strikes again

[2019-02-08 22:36] ioannisg commented on #13166
@andrewboie that would be my next bug fix.

[2019-02-08 22:36] ioannisg commented on #13166
probably on Monday;)

[2019-02-08 22:39] #13001 closed

[2019-02-08 23:06] agross-linaro commented on #13166
@ioannisg So the void _arch_configure_dynamic_mpu_regions(struct k_thread *thread) pushes a ton of information on the stack (236 bytes on k64f) for the:
struct k_mem_partition dynamic_regions[_MAX_DYNAMIC_MPU_REGIONS_NUM];

Is this really necessary or is there a way to do this on a single region at a time?

[2019-02-08 23:23] vanti opened #13203 "drivers: wifi: simplelink: Need to translate socket family macro values"
**Describe the bug**
Some samples, such as http_get, fail with this assertion:

[code]

This is because the value of AF_INET has changed due to commit 12995b95c25200a14e12be802de46b088fa6223d, and the driver currently relies on its value and passes it directly to SimpleLink APIs.

The driver needs to map the new values to the values used by the SimpleLink API.

A quick workaround (though obviously

[2019-02-08 23:31] #6289 closed

[2019-02-08 23:31] #6290 closed

[2019-02-09 00:15] dgloeck commented on #12945
I believe we need the changes from #13204 to really fix this

[2019-02-09 06:05] andyross commented on #13187
Gonna close this one.  The root cause is just that you were trying to configure newlib on a platform that doesn't have it.  In fact the error above is the opposite of the way it's described: the toolchain headers are trying to find limits.h and inttype.h in the environment and **failing** to locate them.

[2019-02-09 06:05] #13187 closed

[2019-02-09 12:21] galak opened #13209 "FATAL ERROR: unknown key "posixpath" in format string "{posixpath}""
Commit 7e9d1bdda4a50dc66b6429739ff487a5bc959476 has introduced the following message on a build:

`FATAL ERROR: unknown key "posixpath" in format string "{posixpath}"`

I'm guessing this is from west version not being up to date, but its unclear to me how this is suppose to work.  Do we need a minimum version of west installed and checked for?

[2019-02-09 12:22] galak commented on #13209
[code]

[2019-02-09 12:39] raveslave commented on #4326
@pfalcon @OlegKapshii what's the current status & plans here?

[2019-02-09 12:58] nashif commented on #13209
just run `west update` and this will go away

[2019-02-09 13:03] galak commented on #13209
I get that, but it seems we should be doing a version check on west if we need a particular version.

[2019-02-09 13:06] maxxlife commented on #12322
Hi, I'm trying to solve your issue, but link is not working. Do you know what happened?
Service Unavailable

The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.
Apache/2.4.29 (Ubuntu) Server at scan9.coverity.com Port 443

[2019-02-09 13:07] maxxlife commented on #12321
Hi @mandarcthorat1 , I'm trying to solve your issue, but link is not working. Do you what happened?
Service Unavailable

The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.
Apache/2.4.29 (Ubuntu) Server at scan9.coverity.com Port 443

[2019-02-09 14:39] #12957 closed

[2019-02-09 15:31] aurel32 opened #13211 "net/sockets: send/sendto broken when len > MTU"
**Describe the bug**

The send/sendto functions used in a TCP connection always return an error.

This has been introduced by commit 083470a14a52234f494ad2a302497d309657ac79.

**To Reproduce**
Steps to reproduce the behavior:
1. Build `samples/net/sockets/dumb_http_server`
2. Try to download a file from the board using for example `wget` or `curl`
3. The download fails

**Expected behavior**
Downl

[2019-02-09 15:46] pfalcon opened #13212 "RFC: Requirements for implementations of high(er)-level networking protocols in Zephyr (wip)"
## Introduction

This RFC proposes a set of requirements and guidelines to design API structure, contracts, and behavior for application-level network protocols in Zephyr.

### Problem description

Zephyr has some history (arguably, dramatic history) of networking in general, and implementations for application-level protocols in particular. Older, net-app based protocol implementation had various

[2019-02-09 15:56] aurel32 commented on #13211
The problem happens when `send` or `send_to` are use on buffer bigger than the MTU. In that case  `net_pkt_cursor_operate` returns with -ENOBUFS.

[2019-02-09 16:37] #10834 closed

[2019-02-09 16:37] #9063 closed

[2019-02-09 16:38] galak commented on #5540
There is on going work to try and support it.

[2019-02-09 16:38] #5540 closed

[2019-02-09 17:01] mnkp commented on #13192
I'll need a bit of help here. Actually, I've already mentioned the issue in #9945

[2019-02-09 17:05] #12679 closed

[2019-02-09 17:08] pabigot opened #13213 "west: diagnose dependency version failures"
Putting this here because the cause of breakage was a changed Zephyr file; maybe it belongs in west too/instead.

So I happened to update to current master, and did a `west update` at some point too, and got this with `ninja flash`:
[code]

Appears to be due to #12879 expecting a PyOCD release more recent than 0.12.0, which had been working fine and was what I got when I set up for Zephyr only thr

[2019-02-09 17:08] pabigot opened #16545 "west: diagnose dependency version failures"
Putting this here because the cause of breakage was a changed Zephyr file; maybe it belongs in west too/instead.

So I happened to update to current master, and did a `west update` at some point too, and got this with `ninja flash`:
[code]

Appears to be due to #12879 expecting a PyOCD release more recent than 0.12.0, which had been working fine and was what I got when I set up for Zephyr only thr

[2019-02-09 17:09] galak commented on #8481
@carlescufi is this resolved?

[2019-02-09 17:10] galak commented on #7214
@SebastianBoe is this still an issue?

[2019-02-09 17:16] nashif commented on #13213
legacy names are still supported in pyocd, so west should tried those as well. Moving this to the west issue tracker.

[2019-02-09 17:35] ydamigos commented on #13066
@jfischer-phytec-iot The console output on my 96b_carbon:
[96b_carbon-cdc_acm_composite-error-log.txt](https://github.com/zephyrproject-rtos/zephyr/files/2848070/96b_carbon-cdc_acm_composite-error-log.txt)

[2019-02-09 19:00] ydamigos commented on #13066
As @loicpoulain mentioned (96b_carbon) stm32f4 offers 4 bidirectional endpoints (including EP0) so it can't run acm composite sample. `DT_USB_NUM_BIDIR_ENDPOINTS` includes EP0 so we need to take it into account when we check endpoint capabilities (usb_dc_ep_check_cap).

[2019-02-09 19:29] galak commented on #13192
Adding @andrewboie since I feel like I saw a commit from him about marking functions to be placed in ram related to MPU/memory mgmt work.

So I wondering if we can use that same functionality.

@mnkp do you know how the silabs code is placing or defining .ram as the section for the function?

[2019-02-09 21:34] sathishkuttan opened #13218 "tests: intel_s1000_crb: CONFIG_I2C_0_NAME undeclared build error"
**Describe the bug**
PR #12848 removed the definition `CONFIG_I2C_0_NAME` from `soc/xtensa/intel_s1000/dts_fixup.h`

`tests/boards/intel_s1000_crb/src/i2c_test.c` uses `CONFIG_I2C_0_NAME` and the build fails.

**To Reproduce**
Steps to reproduce the behavior:
1. tests/boards/intel_s1000_crb; mkdir build; cd build
2. cmake -DBOARD=intel_s1000_crb
3. make
4. See error

[2019-02-09 22:58] #13066 closed

[2019-02-09 23:18] galak opened #13220 "qemu_x86_64 build failures"
The following tests fail to build:

[code]

[2019-02-10 05:23] sathishkuttan opened #13223 "I2S transfers causes exception/crash in xtensa/Intel S1000"
**Describe the bug**
When a memory slab is defined using the `K_MEM_SLAB_DEFINE` macro, exceptions/crashes are seen on an Intel S1000 board

**To Reproduce**
Steps to reproduce the behavior:
1. merge the changes in PR #13222
1. make the following changes in `tests/boards/intel_s1000_crb/src/i2s_test.c`
    - comment out the `i2s_mem_slab` and `audio_buffers` definitions
    - replace them with `K_

[2019-02-10 05:48] andyross commented on #13220
With the exception of a few (passing) subtests, those all require newlib, which a host gcc obviously doesn't have.  They are all whitelisted in sanitycheck, so I don't know where the failures you're seeing are coming from:

[code]

[2019-02-10 06:42] pfalcon commented on #13211
Confirmed that samples/net/sockets/echo works (for trivial data typed in).

Confirmed that samples/net/sockets/dumb_http_server has the behavior described by @aurel32 .

[2019-02-10 13:51] nashif commented on #13220
my bug.

[2019-02-10 14:04] nashif commented on #13220
hmm, looks like for x86_64 we use the toolchain variant "zephyr" and just revert to host tools for x86_64 which is kind of a workaround, the side effect is that we take some assumptions valid for the zephyr variant.
With the new change to sanitycheck to allow building for multiple variants, I think we can remove this workaround and declare this as supported by host variant only.

[2019-02-10 17:38] aurel32 commented on #9656
This issue is quite difficult to trigger, I have been able to trigger it only once over 100 of times using old revision 643c8abea3b8826a9c52a35d49a12c216bdf425e. Therefore I went to look at the code protected by `CONFIG_FP_SHARING`:

https://github.com/zephyrproject-rtos/zephyr/blob/1d8a0bc1aad4412ec5954a1fc2f9fb5e8a9eef8b/arch/arm/core/swap_helper.S#L92-L95 and https://github.com/zephyrproject-rt

[2019-02-10 17:49] vinny74man commented on #13148
Hello everyone, I managed to run build, with example basic / blinky, on stm32f429zi, now my question is how do I configure a pin different from the default?
In the sense if I want the PB5 as an output pin in this example:

#define LED_PORT LED0_GPIO_CONTROLLER
#define LED LED0_GPIO_PIN
This enables the PB0 which is the led0 on-board, how controller should I write?
I tried with GPIOB, STM_32_GPIOB,

[2019-02-10 17:57] #13220 closed

[2019-02-10 18:06] aescolar opened #13232 "native_posix doc: Add mention of virtual USB"
**Is your enhancement proposal related to a problem? Please describe.**
In #9877 a USB driver for native_posix was added, together with a small description in the USB subsystem documentation. This is very nice.
But no mention of this driver was added to the native_posix board documentation itself.

**Describe the solution you'd like**
It would be nice having a small paragraph (similar to the one f

[2019-02-10 18:44] maxxlife commented on #12319
It seems that coverity website is down more than a half of the month. I have the same problem with your links.

[2019-02-10 18:56] galak opened #13236 "Failure tests/kernel/gen_isr_table on some stm32 platforms"
Seeing failures on the following platforms:

[code]

[2019-02-10 18:58] galak opened #13237 "stm32 USB sanitycheck failures with sdk 0.10.0-beta2"
Seeing a number of sanitycheck failures due the following warning when building with the newer gcc in sdk 0.10.0-beta:

[code]

Reproduce:

[code]

[2019-02-10 19:03] galak commented on #13237
Not sure what the proper workaround for this.  Not clear to me why the cast to (__packed uint32_t *) is even there.

In previous similar issue, I fixed this with UNALIGNED_GET() see commit 93d0f8c58dbe973f95f7e8b4f7a23dd4e97dd45b.

Whatever fix will probably need to be applied to all these cases:
[code]

[2019-02-10 20:06] nashif commented on #13223
@dcpleung can you please take a look. I still have no jtag access.

[2019-02-10 20:06] #11390 closed

[2019-02-10 20:06] #13218 closed

[2019-02-10 21:18] alexanderwachter commented on #10463
I prepared a PR for this some time ago. I'll check if this could still be applied.
https://github.com/alexanderwachter/zephyr/commit/d7313cd6db3f63f2d3c339f941bfc0c341c511db

[2019-02-10 23:27] nashif commented on #7986
this actually works, but I would not call this flashing, the script needs to be adapted to do flashing over USB which this is supported. Closing this for now.

[2019-02-10 23:27] #7986 closed

[2019-02-10 23:28] nashif commented on #12201
@dcpleung Can you take a look at this please? Best way to test this is using the test: `tests/boards/intel_s1000_crb`. Works fine when logging is disabled, hangs when not.

[2019-02-10 23:29] nashif commented on #13065
bluetooth not supported on this platform.

[2019-02-10 23:29] #13065 closed

[2019-02-10 23:34] nashif commented on #13034
@jhedberg

[2019-02-10 23:48] faisalSaleemSetec commented on #13083
it is actually the duplicate of #12946 as my colleague posted that issue.. since cvinayak asked for further details in regards to the zephyr hash, configuration etc, I simply reproduced the same issue using the sample bluetooth (peripheral) with our modified changes... I created this new post and tried to link #12946 as a duplicate.. you can close off issue #12946 and update the details here as it

[2019-02-11 00:05] #13161 closed

[2019-02-11 02:20] nashif commented on #12494
@pfalcon ping

[2019-02-11 02:22] nashif commented on #12800
@pabigot @nordic-krch  is this still an issue?

[2019-02-11 02:23] nashif commented on #12245
@mike-scott what is the status here?

[2019-02-11 02:26] nashif commented on #11281
@nordic-krch what is the status of this one?

[2019-02-11 02:30] nashif commented on #11935
was fixed by d0afacc6b4d

[2019-02-11 02:30] #11935 closed

[2019-02-11 02:31] nashif commented on #12803
duplicate of #8097

[2019-02-11 02:31] #12803 closed

[2019-02-11 02:32] nashif commented on #10318
@galak @erwango Can you please document this if that was not done already?

[2019-02-11 02:33] nashif commented on #9763
http_client was removed.

[2019-02-11 02:33] #9763 closed

[2019-02-11 06:15] #12614 closed

[2019-02-11 06:56] pfalcon commented on #12494
I'm working on other things and couldn't verify this so far. But I can confirm that CONFIG_LOG_IMMEDIATE itself (under normal, non-ISR conditions) now seems to work as expected. Can make bets how long it will take to make that default ;-).

[2019-02-11 07:22] tbursztyka commented on #13211
Will take a look.
Downgraded the priority to medium, the ip stack is not unusable (not entirely)

[2019-02-11 08:04] tbursztyka commented on #13211
Found the issue, forgot to adjust the given length to actual buffer space in net_pkt. Easy fix. Will send a patch soon.

[2019-02-11 08:05] tejlmand commented on #13209
As @nashif mentions, running `west update` will fix this, and this is actually expected workflow.

After a lot of talks, with input from many people, it was decided to keep some similarities to git submodules. This means the `west update` can be compared to `git submodule update`.
That is, after pulling a new revision of your main repository with `git`, then you should run `west update`, just as i

[2019-02-11 08:27] jarz-nordic opened #13243 "DT: error in generated_dts_board_fixups.h for board: frdm_k64f"
It is not possible to build application:
~/zephyr/zephyr/tests/net/all
for frdm_k64f board.

1. Go to ~/zephyr/zephyr/tests/net/all
2. mkdir b && cd b
3. cmake -GNinja -DBOARD=frdm_k64f ..
4. ninja
5. See error

**Expected behavior**
Project will compile

**Impact**
It is not possible to build this test for frdm_k64f board. In my opinion it is serious.

**Environment (please complete the following

[2019-02-11 08:30] icephyr opened #13244 "How to encrypt advertise packet with zephyr and nrf52832 ？"

[2019-02-11 08:32] SebastianBoe commented on #7214
Yes. We should use the same mechanism to enter defines from DT and Kconfig into C source code.

[2019-02-11 08:34] icephyr commented on #13244
Hi guys, I'd like to encrypt the advertise packet since some secure fields in the payload, and also the scanner can decrypt the packet automatically. So anybody knows how to implement this feature with zephyr?