[2019-10-04 01:13] cvinayak commented on #19525
@WFarber Please try #19570.

[2019-10-04 01:55] cvinayak commented on #19490
@paulgavrikov please verify using #19469.

[2019-10-04 03:04] Teng-Shih-Wei commented on #19537
@mped-oticon I read the SEGGER SystemView user guild 10.1.3. For getting task information,
developer has to implement an callback function. This callback function need to traverse the task list
and collect the information of each task.

I think the way to collect IPC information is the same, so adding a flag in IPC structure should be fine.

[2019-10-04 05:56] andyaoe opened #19603 "addition to winbond,w25q16.yaml required for SPI CS to be controlled by driver"
if SPI_FLASH_W25QXXDV_GPIO_SPI_CS is selected in Kconfig.w25qxxdv, then the following 2 device tree variables are required in winbond,w25q16.yaml in order to compile the code

    cs-gpio-pin:
      type: int
      category: optional
      description: Pin Number used for the CS Pin
      generation: define

    cs-gpio-controller:
      type: string
      category: optional
      description: Gpi

[2019-10-04 06:23] ulfalizer commented on #19603
Should now be this, to avoid warnings (see [this section in the devicetree manual](https://docs.zephyrproject.org/latest/guides/dts/index.html#legacy-binding-syntax)):

[code]

[2019-10-04 07:05] alexanderwachter commented on #19502
Exactly. I'll even try to introduce a second timeout for the locks and message box allocation. With that change, can_send() could be called with K_NOWAIT, the second timeout parameter as K_MSEC(100), and no callback. This combination would be save to call from an ISR

The callback informs you about the reason why the timeout happened. For example TX-errors, arbitration lost, NACK. This is the same

[2019-10-04 07:31] joerchan opened #19604 "Bluetooth: ATT does not release all buffers on disconnect"
**Describe the bug**
ATT does not release the buffers that are still in the TX queue when it disconnects.
This would happen if the application is performing many GATT operations, such as GATT notifications or write commands.
This only happens when CONFIG_BT_ATT_PREPARE_COUNT is 0.

**To Reproduce**
Steps to reproduce the behavior:
1. Send as many ATT notifications as possible.
2. Disconnect the co

[2019-10-04 07:33] #19604 closed

[2019-10-04 08:56] ngiriprasad commented on #19398
Oh! Okay. By the way, did you find any thing that might be causing the issue I am facing?

[2019-10-04 09:07] emob-nordic commented on #19560
For this config option uart device should be selected. Please refer to ./drivers/console/Kconfig l:15

[2019-10-04 09:13] paulgavrikov commented on #19490
@cvinayak yes, that works. I see a bunch of "D: " logs now but not asserts. Thanks!

[2019-10-04 09:13] #19490 closed

[2019-10-04 09:24] paulgavrikov commented on #19484
@cvinayak Appears to be working with #19395! Thank you very much!

[2019-10-04 09:24] #19484 closed

[2019-10-04 10:14] jukkar commented on #19398
Not with that Ethernet chip. At least the chip driver does something sane if IPv6 works.

[2019-10-04 10:43] #19525 closed

[2019-10-04 11:07] jfischer-phytec-iot commented on #19398
I can reproduce this issue on custom ENC28J60 board. Unfortunately, I have no time to dig deeper.

[2019-10-04 11:09] pavlohamov commented on #19603
@andyaoe Why not just use generic "jedec,spi-nor"? seems like the " winbond,w25q" driver is obsolete (sincerely it's the corner case for spi-nor flash)

[2019-10-04 11:17] jukkar commented on #19398
Thanks for the info!

[2019-10-04 11:38] ioannisg commented on #18273
@andrewboie  perhaps the following too?
ATOMIC OPERATIONS
USE_SWITCH
XIP

[2019-10-04 12:11] yoongsiang109 opened #19612 "ICMPv6 packet is routed to wrong interface when peer is not found in neighbor cache"
**Describe the bug**
When we ping from Zephyr, ICMPv6 ping will be routed to correct Ethernet interface according to neighbor cache. When there are more than one Ethernet interfaces, and the neighbor is not known yet, then the ping will go to interface 1, which might be wrong interface.

**To Reproduce**
Steps to reproduce the behavior:
Boot Zephyr on board which is having two Ethernet port and pi

[2019-10-04 12:37] erwango opened #19614 "Make zephyr_library out of hal_stm32 and hal_st"
**Is your enhancement proposal related to a problem? Please describe.**
cf https://github.com/zephyrproject-rtos/hal_nordic/pull/6

[2019-10-04 12:47] ioannisg commented on #18712
There is a work-around for this already merged, hence this should remain a low priority issue.

[2019-10-04 13:32] ioannisg commented on #17656
@andrewboie I am trying to solve this for ARM and I 'd like tto double-check with you.

System Calls in ARM are executed in thread context. **Except** for the System-Call-Entry code, that is executed in SVC handler (effectively, that is an exception that elevates privileges and returns to the the system call function). So: what do you want the k_is_in_isr() to return during this SCV handler? I wou

[2019-10-04 14:59] karstenkoenig commented on #19502
Sorry I wasn't clear, yes you can abort transmissions on the MCP2515, I was confused whether this was not a feature to be expected everywhere :-) Not so sure on the detail of the timeout one could provide. I can read back status bits on the mailbox but I am not sure if that can be as detailed as 'message was never acknowledged'. Will need to dig in deeper into the datasheet :-)

[2019-10-04 15:15] #10748 closed

[2019-10-04 15:15] #12114 closed

[2019-10-04 17:56] #19265 closed

[2019-10-04 19:13] ioannisg commented on #17656
@andrewboie

Can a system call be invoked inside an ISR handler? If so, and an exception occurs during the call handling, is this an ISR context?

[2019-10-04 20:03] andrewboie commented on #17656
System calls are only made if a privilege elevation needs to take place, so no.

I think k_is_in_isr() should return true or false depending on whether the current stack pointer falls within the bounds of K_THREAD_STACK_BUFFER(_interrupt_stack).

The check in z_fatal_error() should check if the faulting stack pointer in the ESF is within the interrupt stack buffer.

[2019-10-04 20:38] jimparis opened #19629 "tinycbor buffer overflow causing mcumgr image upload failure"
Hi,
Reporting this here because [zephyrproject-rtos/tinycbor](https://github.com/zephyrproject-rtos/tinycbor) doesn't have an issue tracker.

There is a buffer overflow in zephyr's tinycbor, in [cborparser.c](https://github.com/zephyrproject-rtos/tinycbor/blob/31ae89e4b768612722620cb6cb173a0de4a19cc9/src/cborparser.c#L1307):
[code]
If `iterate_string_chunks` fills the buffer completely, the byte p

[2019-10-05 01:47] #19509 closed

[2019-10-05 01:48] #19539 closed

[2019-10-05 02:15] andyaoe commented on #19603
OK cool, I understand by what you mean by corner case.  I will try our jedec,spi-nor!

[2019-10-05 03:10] andyaoe commented on #19603
jedec,spi-nor.yaml is also missing the same fields

[2019-10-05 03:25] ulfalizer commented on #19536
I thought having multiple bindings provide the same compatible was an error, until I remembered that that check is only done for filenames in `include:`.

Is this something you use, or just something you noticed?

[2019-10-05 06:41] ngiriprasad commented on #19398
Thanks for the support @jfischer-phytec-iot . I am continuing to debug on ENC28j60. Will post any updates from my side. Please let  me know if you have any directions for me to make it faster.

[2019-10-05 12:57] pabigot commented on #19536
It is something that I have thought I might use: for example to change defaults, or add new properties for a custom driver that needs them.

It becomes more clearly useful if we start following Linux and specifying multiple compatibles in the binding because a driver supports multiple compatibles.  There I may want to substitute a driver for one, but not all, of the listed compatibles, and provide

[2019-10-06 11:06] menglingao1997 opened #19638 "Bluetooth: Mesh: Provisioning Over PB-ADV"
https://github.com/zephyrproject-rtos/zephyr/blob/41a72e4c00b3bd2061be64309266ba715127d1e3/subsys/bluetooth/mesh/prov.c#L260-L275

It should be better to change it to this way.

[code]

[2019-10-06 16:53] #19319 closed

[2019-10-06 22:27] andrewboie commented on #15138
@wentongwu are you still planning on doing this for 2.1? @ceolin is free and looking for stuff to do

[2019-10-06 22:45] andrewboie commented on #13074
I think I'm coming around to you all's thinking on this. Key thing is that memory domains only control access for user threads, so for example there should be no thrashing at all for any ISR. If we can additionally find a way to implement the MPU/Page fault handling to do the reprogramming in a way that doesn't leave IRQs locked the entire time that would greatly reduce my concerns about trying th

[2019-10-06 22:47] andrewboie commented on #17735
Has a dependency on https://github.com/zephyrproject-rtos/zephyr/pull/16702

[2019-10-07 01:24] andrewboie opened #19643 "samples/boards/arc_secure_services fails on nsim_sem"
[code]

[2019-10-07 02:31] Teng-Shih-Wei commented on #19537
@mped-oticon I am not using SystemView actually. I found this issue when I ran the test case
 "mutex_api". This issue is for the raw kernel information, so any backend of debugging tool may have
 problem due to this issue.

BTW, I visit SystemView website, and found that the the kernel information is encapsulated it in RTT
control block, put in up buffer, and wait for being transferred to the host

[2019-10-07 04:57] stephanosio opened #19644 "Support TI Hercules SoC"
_This is an epic for Texas Instruments Hercules™ SoC support._

Hercules™ is a family of system-on-chips from Texas Instruments that focuses on functional safety for mission-critical automotive and industrial applications. This SoC, depending on series, embeds a Cortex-R4(F) or Cortex-R5F processor as well as a number of built-in hardware error detection and recovery blocks.

This task aims to exp

[2019-10-07 08:24] emob-nordic commented on #19560
@lanvis is it working now?

[2019-10-07 08:39] jhedberg commented on #19638
The buffers in `link.tx.buf[]` are always allocated contiguously (see `prov_send_adv()` in `prov.c`), and never freed independently, so finding a NULL means the end of allocated buffers. Continuing further than this would therefore just waste CPU cycles unnecessarily.

[2019-10-07 08:39] #19638 closed

[2019-10-07 09:34] carlescufi commented on #19644
This should not be a problem at all. We already have 3-clause BSD license drivers in our `modules/hal` folders.

[2019-10-07 09:51] #19612 closed

[2019-10-07 09:56] parthitce commented on #14591
@ilanbiala I have a received xmc4000 based development board today. I will start working on this for Zephyr support. I will be able to start for Tricore after this.

[2019-10-07 11:40] wentongwu commented on #15138
@ceolin @andrewboie this task is on my 2.1 plan and I have some basic code for FUTEX_LOCK_PI and FUTEX_UNLOCK_PI for single mutex per thread, I will do this after syst which will be done soon. Supporting priority inheritance when a thread holds two or more mutexes simultaneously is for the next release. @ceolin would you like take #17021 ?

[2019-10-07 12:43] pabigot opened #19649 "[TOPIC-GPIO]: Replace GPIO_INT_DEBOUNCE with GPIO_DEBOUNCE"
I propose that `GPIO_INT_DEBOUNCE` be deprecated and replaced by `GPIO_DEBOUNCE`.

This flag is documented as applying in `gpio_pin_configure()` and is the only `GPIO_INT_foo` that is intended to be used that way.  On SAM the use of debounce is not specific to interrupts: it also applies to the value read from `PIO_PDSR`.  (@vanti and @dcpleung please check whether this is consistent with use in c

[2019-10-07 12:49] ioannisg commented on #17656
I think these might be both problematic for ARM @andrewboie , particularly, in case of stack overflows. I believe we need a more reliable way than checking the stack pointer values.

[2019-10-07 15:28] pabigot opened #19655 "Milestones toward generalized representation of timeouts"
PR #17155 proposed a proof-of-concept for an opaque timeout representation that would allow the flexibility required by #19282. Over time the changes grew to include:

* A complete family of functions to convert between time-based, tick-based, and cycle-based durations including control of rounding (now separately submitted in #19591);
* A representation of timeout values as an opaque struct that

[2019-10-07 15:31] pabigot opened #19656 "Generalizing duration representation in clock-agnostic way"
Zephyr kernel APIs specify a timeout in milliseconds, encoded as a signed 32-bit integer.  This API must switch to a more flexible encoding to support elements of #19282 in which timeouts would support higher resolutions (perhaps down to nanoseconds), absolute as well as relative deadlines, and a clock that would be used as the basis for the timeout.

This RFC proposes a path to preserving timeout

[2019-10-07 15:34] pabigot commented on #19655
@andyross please review.  I'd like to work with you towards our goal.

[2019-10-07 17:11] dleach02 commented on #19438
@nvlsianpu, We assigned this issue to you in the hope that you can give some guidance on whether this is a real problem or not and what priority should be assigned to this item.

[2019-10-07 17:17] dleach02 commented on #19629
@nvlsianpu, can you provide some guidance on priority level for this problem?

[2019-10-07 17:23] pabigot commented on #19649
From @dcpleung in https://github.com/zephyrproject-rtos/zephyr/pull/19631#discussion_r332138737:

The problem is that many sensor samples are passing `GPIO_INT_DEBOUNCE` when configuring data-ready interrupts on peripheral instances.  So if it's presence is diagnosed as `-ENOTSUP` on hardware where any debouncing is done by circuitry outside the GPIO peripheral then those samples won't work.

[2019-10-07 17:23] dbkinder opened #19660 "missing file reference in samples/sensor/ti_hdc doc"
@nikooiko  samples/sensor/ti_hdc/README.rst line 45  references ``samples/boards/nucleo_l496zg/sensors`` that doesn't exist

[2019-10-07 17:28] dbkinder opened #19661 "missing files in xtensa/xt-sim doc"
boards/xtensa/xt-sim/doc/index.rst line 135 refers to ``soc/xtensa/hifi3_bd5/linker.ld`` that doesn't exist, and on line 144, the referenced folder ``tests/kernel/test_build`` doesn't exist either.

@mbolivar @mazen-neifer

[2019-10-07 17:30] dbkinder commented on #19660
I fixed references I could find in PR #19659, but couldn't find a suitable fix for this reference.

[2019-10-07 17:30] dbkinder commented on #19661
I fixed references I could find in PR #19659, but couldn't find a suitable fix for this reference.

[2019-10-07 17:33] andrewboie commented on #15138
Wait, what are you doing?
We already have priority inheriting mutexes, any contended sys_mutex is backed by a k_mutex already. All I want is to use atomic operations so that a syscall isn't necessary for an uncontended sys_mutex. What am I missing here?

[2019-10-07 18:48] mbolivar commented on #19661
Did you mean to @-mention me? I don't use this board.

[2019-10-07 21:20] olsky commented on #17688
I got the adafruit board, I will connect and analyze both in parallel with the logic analyzer.
Later will post the results.

// for now the adafruit works with arduino arm board (even is there is constant error on return)

[2019-10-07 21:28] andrewboie opened #19666 "remove kernel/include and arch/*/include from default include path"
There actually is a distinction between `include/arch/*/` and `arch/*/include`.

- `include/arch/*/` contains defines that are needed in the public Zephyr include space. Typically this will be anything that needs to be visible in order to include kernel.h:
  * kernel_arch_thread.h defines which complete the definition of `struct k_thread` (even though `kernel_arch_thread.h` is in the wrong place)

[2019-10-07 23:51] gnuless commented on #17832
@andrewboie I dunno how far along you are in this (if at all), but a shortcut here would be to assume everything we want to physically address is <= 512GB, and then use a "fixed" PML4 for each CPU and just change its first entry before "reloading" CR3.  I see little reason to expand the logic to 4 levels -- if we do want to use all 4, I'd suggest maybe we take advantage of the fact that page table

[2019-10-08 00:08] karlp opened #19670 "samples/drivers/spi_fujitsu_fram crashs due to uninitialized variables"
**Describe the bug**
A clear and concise description of what the bug is.
In https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/drivers/spi_fujitsu_fram/src/main.c#L153, the spi_cfg struct has not been properly initialized, and has whatever was on the stack for the struct.  _particularly_ this means taht the .cs property may contain garbage.

The following code in the driver gets trig

[2019-10-08 00:18] andrewboie commented on #17832
I'm just starting, but this sounds like a good idea. I'm currently adding structure definitions and ifdefs to mmustructs.h for long mode and cleaning up some cruft.

[2019-10-08 01:03] vanti commented on #19649
I am fine with this. `GPIO_INT_DEBOUNCE` enables the hysteresis feature on the TI CC1352, which has more to do with the levels at which 0 and 1 are identified, and is not restricted to the notion of interrupts per se.

[2019-10-08 08:27] carlescufi commented on #19198
@aolowin any chance you can provide sniffer logs?

[2019-10-08 08:29] carlescufi commented on #19051
You can wait for 2.1.0, which is now not far away. Or alternatively you can use 1.14.1 which has just been released.

[2019-10-08 09:11] joerchan commented on #19051
@PhilippFinke As a workaround you could delay initiating of the security by around 15 * connection interval.

[2019-10-08 09:23] alemoppo opened #19678 "slowness networking stack - MXRT1050-EVK"
I'm trying the "samples/net/sockets/dumb_http_server", i just developed a little webserver based on this example.
The request always takes about 350ms, you can see it from the browser console (F12 -> network).
I think the problem is not related to the board or network because my bare-metal version is much faster (the HTTP respose is like 1ms).

I think the problem is in the "accept" call, but I do

[2019-10-08 10:22] pabigot opened #19683 "nrf: clock reimplementation breaks test"
`tests/arch/arm/arm_irq_vector_table` fails to build on nrf52_pca20020, nrf52_pca10040, and nrf52840_pca10056 starting at 6700f2f1940c645c5cd1eb23baad8bd0c8041b81 with this error:
[code]

This [breaks CI checking](https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/52738/16/console) of #19650.

[2019-10-08 10:28] sdalu opened #19684 "doc: [message_queues.rst] unclear about data_item structure type"
In documentation: reference/kernel/data_passing/message_queues.html
- [x]  `sizeof(data_item_type)` is used instead of `sizeof(struct data_item_type)`
- [x]  struct is defined as `data_item_type` and `next data_item_t`
- [x]  could be useful when talking about defining message queue, to talk again about the message queue alignment and propose to use the `aligned` attribute when defining type: `typ

[2019-10-08 10:49] vikrant8051 opened #19685 "Samples: BluetoothMesh: not able to connect with device over GATT to provision it"
I'm successfully able to build & flash apps (with latest things) available in samples/boards/nrf52/mesh directory. After that they are advertising itself as unprovisioned BluetoothMesh Devices.

But as soon as we try to connect it with nRFMesh App, after that provisioning process does not get completed. Plus device stops advertising as Bluetooth Device so we have to reset it.

[2019-10-08 11:05] wentongwu commented on #15138
@andrewboie I thought sys_mutex should be backed by pi_futex in kernel side, ok, I understand your meaning. And for the priority inheriting mutex, currently we just support  a thread lock only a single mutex at a time when multiple mutexes are shared between threads of different priorities.

[2019-10-08 11:05] ppryga commented on #19515
Outputs from logic analyzer with error situation and after apply patch:

[logic_analyzer_data.zip](https://github.com/zephyrproject-rtos/zephyr/files/3702069/logic_analyzer_data.zip)

[2019-10-08 11:41] nvlsianpu commented on #19629
@jimparis  https://github.com/zephyrproject-rtos/tinycbor/pull/7 Is this full fix for the issue?

[2019-10-08 12:19] nikooiko commented on #19660
The sample originally was placed at `samples/boards/nucleo_l496zg/sensors` but then moved into `samples/sensor/ti_hdc/`. We can simply rename this ref to `samples/sensor/ti_hdc`

[2019-10-08 13:08] ioannisg commented on #12961
@jjmilburn thanks for your help on this. I've got this platform and will try to finally sort out this issue.

[2019-10-08 13:33] jukkar commented on #19678
I created a PR that can be used to collect network timing statistics for both TX and RX paths. See #19690 for details. Can you try the PR and report what kind of numbers you see in that hw?
For example for sam-e70 board, I got these kind of results

Zephyr
[code]

The Apache Bench running in Linux host gave this
[code]

I have also created a multi-threaded dummy http server sample, I will send it

[2019-10-08 14:03] pabigot opened #19692 "[TOPIC-GPIO] gpi_api_1pin test failures"
There is one issue I've noticed just recently that may cause 1 pin testcase to fail. The testcases testing the new port functions attempt to verify that the driver doesn't change other pins than the one that was requested. But the test doesn't take into account that the LED0 pin it's using for testing may be on the same port as UART used for the console. When reading port values the pin serving as

[2019-10-08 14:20] pabigot commented on #19692
Added issue for visibility.

#19379 for SX1509B also fails all `test_gpio_port_set_*` cases.  This case is a little more subtle and interesting: the nrf52_pca20020 Thingy:52 board has a RGB lightwell LEDs that are very bright, and RGB sense LEDs.  When the test green LED is illuminated the sense green LED goes high, so two pins on the port change in parallel.

[code]

[2019-10-08 14:23] #19683 closed

[2019-10-08 14:59] dleach02 commented on #19133
@olofk, can you provide some feedback to @andyross questions?

[2019-10-08 15:03] lawrencek52 commented on #19649
In my mind "Debouncing" is not the same as changing the pull up strength, or changing the level change thresholds, or adding addition hysteresis. If you want to change pull-up strength, then use the pull-up strength modifiers when configuring the GPIO (or interrupt input). If you want to change the hysteresis of level thresholds, then use an appropriate modifier. But debouncing shouldn't change le

[2019-10-08 15:10] alexanderwachter commented on #19502
First prototype:
https://github.com/alexanderwachter/zephyr/tree/can_send_timeout

[2019-10-08 15:17] jimparis commented on #19629
As far as I'm aware yes, for tinycbor.  Then an update to zephyr's west.yml here to point to the new version.  Then the workarounds in mcumgr could be removed, but they are harmless.

[2019-10-08 16:32] pabigot commented on #19649
API call decision: Do not change name, do document that drivers that don't support debounce should ignore the flag rather than reject it.

Future work will rework debounce to be compatible with Linux devicetree representations where time constants are provided.

[2019-10-08 17:07] pabigot commented on #19603
I think this is related to #12226 and #12698 and is mostly about how chip-select is selected based on the SPI configuration.  In short: we should not need to add those fields, because the SPI flash should be a child of a SPI node (identifying the controller), and should have a `reg` property that identifies the corresponding CS which is defined in the SPI node.

It is possible that the driver does

[2019-10-08 17:11] aescolar commented on #17991
labeling as enhancement assuming this never worked, please change if you disagree

[2019-10-08 17:15] dleach02 commented on #19670
@karlp the code snippet indicates an STM board. Can you confirm the board?

[2019-10-08 17:15] aescolar commented on #19684
CC @andrewboie @andyross

[2019-10-08 17:26] pabigot commented on #5695
Per above comment  #18243, #18245, and #18242 are closed so we'll call this done.

[2019-10-08 17:28] pabigot commented on #5695
Nope, sorry.  This references Bluetooth specifically so #18551 blocks it.

[2019-10-08 17:31] dbkinder commented on #19660
Thanks @nikooiko , I've updated PR #19659 with your recommendation.

[2019-10-08 17:32] #19660 closed

[2019-10-08 17:33] pabigot commented on #12509
This is pending in #19591 which uses ceil for ms_to_ticks.

[2019-10-08 17:52] aescolar opened #19697 "tests/subsys/fs/fat_fs_api uses unitialized variables"
**Describe the bug**
valgrind detected issue in tests/subsys/fs/fat_fs_api
Using an unitialized variable in the filesystem code: fs_readdir (fs.c:264)

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake ../tests/subsys/fs/fat_fs_api/ -DBOARD=native_posix -GNinja
3. ninja
4. valgrind zephyr/zephyr.exe

**Expected behavior**
No use of uninitialized variables

**Impac

[2019-10-08 19:27] kestewart commented on #17005
Just got off a call with SiLabs, and they plan on releasing it in their SDK update in December.   I've asked if they can post the relevant files with the updated licensing before then, and they're looking into it.

[2019-10-08 20:00] andyaoe commented on #19603
Hi @pabigot , my target is the nordic nrf9160

[2019-10-08 20:16] pabigot commented on #19603
@andyaoe What does your devicetree entry for the flash chip look like?  For example, for nrf52840_pca10056 it's:

[code]
which provides two chip selects, one of which is used for the SPI flash.

[2019-10-08 20:22] karlp commented on #19670
sure, I was using my own board, (stm32l1 based) but it's a straight up uninitialized struct problem, the board is not exactly relevant.  from gcc notes, because I can't find the c99 notes as easily...

[code]
https://www.gnu.org/software/gnu-c-manual/gnu-c-manual.html#Initializing-Structure-Members

It's not static, and it's not initalized at all, so it's contents are indeterminate.

[2019-10-08 20:38] jimparis opened #19700 "nrfx_uart RX hang on errors"
I haven't set up a clear way to reproduce this, but I've seen cases where my nrf52832-based board will stop responding to input on the UART.  I noticed it particularly often while switching between a seral terminal and mcumgr, especially with `mcumgr reset`.  In my past experience with Nordic parts, this happens when there are unacknowledged errors like buffer overruns, parity errors, or BREAKs.

[2019-10-08 21:25] olofk commented on #19133
@dleach02 @andyross My apologies, but I have not yet had time to do additional testing. But to answer some of the questions:

This is the Zephyr hello world sample with the only change being that I run the printf it in a while(1) loop and print out an increasing index. I don't know how to check for the number of threads running but I haven't explicitly started any, and the only drivers enabled are

[2019-10-08 23:49] andyaoe commented on #19603
&spi3 {
	spi-flash@0 {
    	#address-cells = <1>;
    	#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		myvar = <0x10>;
		spi-max-frequency = <1000000>;
		label = "spi_flash";
		erase-block-size = <4096>;
		write-block-size = <4096>;
		size = <1000000>;
		jedec-id = <0xc2 0x28 0x17>;
	};
};

[2019-10-09 00:16] pabigot commented on #19603
Based on the property values it looks like you copied that from a very outdated devicetree file.  Assuming the JEDEC ID is right you're using an MX25R64 and should just copy the contents of the nrf52840_pca10056 one I showed.  You can skip `wp-gpios` and `hold-gpios` properties as they're not used yet.

It seems likely the problem is you're simply extending the base `spi3` node, which probably doe

[2019-10-09 00:34] pabigot opened #19701 "mem_pool_threadsafe sporadic failures impacting CI"
[code]

is failing intermittently but often enough that it failed both retests in
https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/52828/5/console

It can also be reproduced by hand on Ubuntu 19.04 using the above command.

[code]

[2019-10-09 00:53] cvinayak commented on #19685
@vikrant8051 could you give more details on which commit this was last working? Did you try bisecting?

[2019-10-09 03:16] dleach02 commented on #19670
Okay. Apologies for not looking closer at the ticket description. I see what you are saying about the data structure and you are correct that it will take any values that happen to be on the stack. I'm assuming in your test environment you have tried they assignment to zero? I also wonder if it is better to use memset() instead of the {0}?

Can you supply a PR with this change?

[2019-10-09 04:05] cbsiddharth commented on #19483
@erwango, When can we expect something from TSC/Licensing?

[2019-10-09 07:17] aescolar commented on #19700
CC @carlescufi

[2019-10-09 07:19] #19515 closed

[2019-10-09 08:38] erwango commented on #19483
@MaureenHelm ?

[2019-10-09 09:02] carlescufi commented on #19560
@lanvis could you close the issue if this is now resolved?

[2019-10-09 09:10] carlescufi commented on #4412
@erwango agreed that Cube seems like the better option here.
@galak any additional input, or should we close this?

[2019-10-09 09:12] carlescufi commented on #10503
Not applicable anymore

[2019-10-09 09:12] #10503 closed

[2019-10-09 09:13] carlescufi commented on #10996
@galak @nashif is this still applicable?

[2019-10-09 09:32] ioannisg commented on #18282
@agansari this is, once more, not reproducible, on current master. What's your take - shall we close the issue again? Could you try it yourself as well?

[2019-10-09 09:36] agansari commented on #18282
@ioannisg as i last remember it's related to #18651, this means it will not reproduce every time.
Will try to reproduce this issue again today.

[2019-10-09 10:20] jukkar commented on #19678
I have been investigating this a bit with a proper hw (sam_e70_xplained) and qemu_x86.
Some of my results are described below:

Here I am running echo-server in sam-e70 board and connecting to it using echo-client running in Linux host.
Linux
[code]

Zephyr
[code]
The round-trip time reported by Linux, is quite near the sum of TX and RX packet handling time. The result here look quite good.

Then

[2019-10-09 10:28] rstoica commented on #17731
@mfiumara thanks a lot for opening this feature request! Any updates on the PR regarding this ?

[2019-10-09 10:44] ioannisg commented on #19644
Can you create a separate issue for that?

[2019-10-09 10:57] alemoppo commented on #19678
Thanks for the tests jukkar.

I didn't find the download of the modified files #19690 , i could modify them manually but i'm afraid to make some mistake.

With your sample (mt_http_server, i just change the ip) i have this result:

`$ ab -n100 http://192.168.0.220:8080/
This is ApacheBench, Version 2.3 <$Revision: 1826891 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/

[2019-10-09 11:51] jukkar commented on #19678
If possible, apply both #19690 and #19691, and re-run mt-http-server against ab again. I would be interested in seeing what are the TX/RX numbers in Zephyr side. The compilation could be done for example like this:
`cmake -Bbuild -DBOARD=mxrt1050-evk . -DCONFIG_NET_PKT_RXTIME_STATS=y -DCONFIG_NET_PKT_TXTIME_STATS=y`
After the ab test run is finished, just do `net stats` in zephyr side. It will pri

[2019-10-09 12:13] jfischer-no opened #19713 "usb: investigate if Network Buffer can be used in USB device stack and USB drivers"
Investigate if net_buf can be used in USB device stack and USB drivers.

Reason: The memory should be used more efficiently  and secure. Unnecessary copying should be avoided. Support for multiple device instances should be considered.

There are many locale buffers in different places. Mostly these are only needed for temporary storage, whereby the content is often copied by the driver to another

[2019-10-09 12:35] pabigot commented on #19701
Further bisecting indicates this is a result of 3eb1a8b59a641666287503ccd9735fb3a1b981d9 from #19458.

[2019-10-09 12:35] karlp commented on #19670
I didnt' send a PR because I don't know what sort of style on this the project wanted to have.  init the struct with {0} works, and is what I did.  Personally I feel that's better than explicitly memsetting, just leave it to the compiler, but I've no idea what's consistent with the project.

[2019-10-09 13:17] npitre commented on #19701
I just pushed #19715 which apparently makes this issue disappear.
I ran 6500 iterations of the test overnight without a single failure.

I'm not convinced the fix in #19715 is actually fixing the issue here
entirely, as I can't explain how that would make a difference. I may
simply suppose that some race possibility still exists but that #19715
makes it much less likely.

[2019-10-09 13:18] stephanosio opened #19717 "Add provisions for supporting multiple CMSIS variants"
At the time of writing, the Zephyr repository only includes CMSIS-Core(M) variant under `ext/hal/cmsis` and assumes that the only form of "CMSIS" available is CMSIS-Core(M).

In order to facilitate the development of Cortex-A and Cortex-R ports, the CMSIS-to-Zephyr RTOS integration structure should be refactored to support multiple CMSIS-Core variants as well as other coprocessor and extension var

[2019-10-09 13:21] stephanosio commented on #19644
@ioannisg #19717

[2019-10-09 13:27] ioannisg commented on #19717
FYI @galak @MaureenHelm
We also have the option would be to pull-in CMSIS via west; have we ruled-out this possibility?

[2019-10-09 13:38] agansari commented on #18282
Tested 5 times on master branch, will be closed as it passes.

[2019-10-09 13:38] #18282 closed

[2019-10-09 13:45] jfischer-phytec-iot commented on #19670
This sample seems to be outdated and IMHO unnecessary, neither context->spi_cfg.slave nor context->spi_cs.gpio_dev will be initialized. Also a app.overlay should be added. I suggest to remove it. ping @tbursztyka

[2019-10-09 13:46] gnuless commented on #19701
I've also put up #19719, which simply disables the SMP scheduler for `qemu_x86_long`.

There is no reason why the use of SMP scheduler with only 1 CPU should exhibit different behavior than the legacy scheduler does, but tests fail sporadically when it's enabled.  The arch-specific code for x86 changes only trivially when `SMP` is on, so I suspect these are latent problems in the scheduler.

[2019-10-09 13:47] jfischer-phytec-iot commented on #19670
@dleach02 changed to low, it is just a outdated sample.

[2019-10-09 13:58] ioannisg commented on #19067
@andrewboie in ARMv8-M, the reason for the gap-filling is to prevent supervisor mode to (accidentally) execute from SRAM (where, normally, it should have RW access only). We need MPU to block execution - the background policy unfortunately allows it.
So, yes, it is orthogonal to USERSPACE; it is just a "security" issue; are we ok with not preventing SUP mode to accidentally execute from SRAM?

Als

[2019-10-09 14:21] pabigot commented on #19701
OK, both #19715 and #19719 "fix the test".  I think #19715 isn't the correct fix but it narrows down the problem.

`_MPOOL_MINBLK` is 16 on this platform.  The master version produces this parameter set and `struct sys_mem_pool_base` initialization:

    BLK SIZE MIN 8 MAX 32 ALIGN 8
    max_sz = 32,
    n_max = 2,
    n_levels = 1,
    max_inline_level = 0,

where the test fails.

The effect of #

[2019-10-09 14:27] cfriedt opened #19721 "samples/bluetooth/ipsp does not respond to pings from Linux"
**Describe the bug**
I was following the [Bluetooth/IPSP]( https://docs.zephyrproject.org/latest/samples/bluetooth/ipsp/README.html) instructions and found that I was unable to get an ICMPv6 response from the nRF board when pinging from my Ubuntu 18.04 machine.

After enabling network logging, I observed the following, which shows ICMPv6 packets getting dropped if they have an invalid checksum.
[c

[2019-10-09 14:38] carlescufi commented on #19721
@cfriedt would you be willing to send a Pull Request with the proposed Kconfig option to disable checksums?

[2019-10-09 14:44] jukkar commented on #19721
As I mentioned in slack, if we want to have kconfig option to disable icmp checksums, then it needs to be off by default, and there needs to be separate options for ICMPv4 and ICMPv6.

[2019-10-09 14:47] aescolar opened #19722 "Settings: settings_file_save_priv() use of uninitialized variable"
**Describe the bug**
In both  tests/subsys/settings/nffs/base64/system.settings.nffs and
tests/subsys/settings/nffs/raw/system.settings.nffs
in settings_file_save_priv (settings_file.c:309) an un-initialized variable is used multiple times

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake ../tests/subsys/settings/nffs/raw -DBOARD=native_posix -GNinja
3. ninja
4.

[2019-10-09 14:59] menglingao1997 opened #19724 "Bluetooth: Mesh: Receiving an access message"
https://github.com/zephyrproject-rtos/zephyr/blob/b71eb71de72f2c688c114f6cd8809dd11522bc2f/subsys/bluetooth/mesh/transport.c#L656-L692

According Mesh Profile Spec1.0.1  3.7.4.2
A message is delivered to the model for processing if all the following conditions are met:
**The model is bound to the application or device key that was used to secure the transportation of the-message.**

However In the

[2019-10-09 15:03] jhedberg commented on #19724
The check is done in access.c through bt_mesh_model_recv() -> find_op() -> model_has_key()

[2019-10-09 15:03] #19724 closed

[2019-10-09 15:04] npitre commented on #19701
On Wed, 9 Oct 2019, Peter A. Bigot wrote:

Yes, because at that point you basically reverted things to the previous
state.

The basic thing to understand here is that the mempool allocator code
splits memory blocks into 4 sub-blocks for small allocations.

The test is built around this mempool internal behavior to allocate 4
blocks of BLK_SIZE_MIN out of the initial block of BLK_SIZE_MAX. If this

[2019-10-09 15:05] aolowin commented on #19198
Is this what you're looking for? Sorry for the long delay, I got pulled onto another project.
[LL-split-19198.zip](https://github.com/zephyrproject-rtos/zephyr/files/3708049/LL-split-19198.zip)

[2019-10-09 15:30] pabigot commented on #19701
OK.  Then I would ask that you update #19715 to make that relationship more clear in the test where the bounds are given, or in the commit description.  I interpreted the change as being related to increasing the minimum supported block size, rather than the need to ensure that more than one level was being provided.

[2019-10-09 15:35] alemoppo commented on #19678
I'm sorry but Avg TX and Avg RX didn't appear. Probably i doing someting wrong.

I changed all 9 files and add to "prj.conf": `CONFIG_NET_PKT_RXTIME_STATS=y` and `CONFIG_NET_PKT_TXTIME_STATS=y`.

[code]

[code]
I'll try again tomorrow

Thanks.

[2019-10-09 15:38] npitre commented on #19701
On Wed, 9 Oct 2019, Peter A. Bigot wrote:

Sure. OTOH maybe we should keep it as it is for now so that the actual
race keeps being investigated?

[2019-10-09 15:45] pabigot commented on #19701
No, because it causes CI to fail for any PR that happens to cause this combination of platform and test to be invoked.  If this is truly due to SMP failures then somebody (@gnuless?) should identify or create an issue to ensure the problem is fixed rather than hiding it.  That issue should have some link back to this.

BTW: When I said "update #19715" I didn't mean add a comment in the PR, I meant

[2019-10-09 15:48] npitre commented on #19701
I will. I just replied to your comment before even seeing your request
for clarification.

[2019-10-09 17:10] cfriedt commented on #19721
Was addressed in #19723

Closing for now, since the issue seems to have be resolved by rebasing.

[2019-10-09 17:10] #19721 closed

[2019-10-09 17:53] lanvis commented on #19560
Did not have a chance to try yet ... but will soon.

[2019-10-09 19:37] npitre commented on #19701
On Wed, 9 Oct 2019, Peter A. Bigot wrote:

If that may help investigating:

The wrapper function k_mem_pool_alloc() calls z_pend_curr_unlocked()
when no memory is available and a timeout is specified. It looks like
this is the only location in the whole tree z_pend_curr_unlocked() is
used, and without #19715 applied, this would get used a lot on 64-bit
targets during this test.

This is a wrapper

[2019-10-09 20:48] karlp commented on #19670
it might be "low" but it's the _only_ sample of the SPI API, so I think either a) not low, or b) provide some SPI examples.  (covering things like options for CS would be nice too)

[2019-10-09 21:08] jfischer-phytec-iot commented on #19670
a)  drivers/ethernet/eth_enc424j600.c
b) drivers/ieee802154/ieee802154_mcr20a.c
c) drivers/can/can_mcp2515.c
d) drivers/display/display_ili9340.c
e) drivers/display/ssd16xx.c
f) drivers/sensor/lis2mdl/lis2mdl.c
g) use something like `git grep "struct spi_config" drivers`
h) https://docs.zephyrproject.org/latest/reference/peripherals/spi.html?highlight=spi
i) https://docs.zephyrproject.org/latest/g

[2019-10-09 21:22] karlp commented on #19670
I'm just recounting my experience as a new user here.  I could find the sensor one, but I don't want to know how the sensor api worked, I wanted to know how the spi api worked.  Even more relevant for samples of displays and ethernet.  They add far too much overhead to what you're trying to learn.

Discoverabilty of them is ~zero anyway.  You have a nice web list of samples, but none of them menti

[2019-10-09 21:36] jfischer-phytec-iot commented on #19670
You wanted to know how the spi api worked? Look at a)..f) all of them use spi. You could also take a look at `tests/drivers/spi`, but a)..f) show typical use case.

[2019-10-09 23:20] gnuless commented on #19701
Probably best to go straight to the source, which I believe in this case would be @andyross ...

[2019-10-09 23:36] andyaoe commented on #19603
Awesome, it worked!  Thank you so much!

[2019-10-10 00:04] pabigot commented on #19603
You're welcome.

[2019-10-10 00:04] #19603 closed

[2019-10-10 01:40] andrewboie opened #19734 ""make gdbserver" doesn't work properly for qemu_x86_long"
When I run "make debugserver", I expect to be able to attach GDB in another terminal to interactively debug the kernel in the emulator. I do this all the time with qemu_x86.

However, with a build for qemu_x86_long, I am getting:

[code]

This works as expected for qemu_x86.

Key error message is here:

[code]

Not sure how "i386" is getting selected.

Impact:
Prevents interactive debugging for qe

[2019-10-10 01:41] andrewboie commented on #19734
@gnuless have you run into this?

[2019-10-10 01:49] gnuless commented on #19734
I didn't even know `make gdbserver` was a thing.  Will take a look.  Probably a simple fix.

[2019-10-10 01:50] stephanosio commented on #19717
@ioannisg Is the long term plan to completely phase out `ext/`? I see that all the SoC HALs have been recently moved out to separate repos.

[2019-10-10 01:55] andrewboie commented on #19734
I found a workaround:

[code]

If I make that set arch call before I connect to the target, it seems to work fine.

[2019-10-10 01:56] andrewboie commented on #19734
This might be something beyond our control: https://wiki.osdev.org/QEMU_and_GDB_in_long_mode

(osdev is such a godsend)

[2019-10-10 01:56] gnuless commented on #19734
We munge the ELF64 into an ELF32 before launching QEMU (it won't launch a 64-bit ELF directly), so that's probably why it's confused.

[2019-10-10 04:00] andrewboie commented on #19734
perhaps have the munge not be in-place, but to a separate artifact that gets passed to the emulator

[2019-10-10 06:19] jukkar commented on #19678
You need to apply both #19690 and #19691, one easy option is checkout #19690 and then cherry-pick one (and only) commit from #19691. If you do no have both PRs in your test, then the statistics are not calculated / shown in zephyr.

[2019-10-10 06:21] finikorg commented on #19713
If usb_transfer() functions could use buffers Ethernet over USB code can be easily transformed.

[2019-10-10 08:39] BOZHENG001 opened #19737 "No Function In Zephyr For Reading BLE Channel Map?"
**Is your feature request related to a problem? Please describe.**
I am now working on BLE development on Zehpyr, I would like to read channel map so that I can add some specific features to my application, but I found no function in Zephyr supporting this. There are only some functions for setting channel map.

**Describe the solution you'd like**
Since BLE channel hopping is based on channel map

[2019-10-10 09:15] aescolar commented on #19737
CC @jhedberg @carlescufi

[2019-10-10 09:43] wangnuannuan opened #19739 "stty: standard input: Inappropriate ioctl for device"
**Describe the bug**
I am using jenkins to run the sanitycheck. The jenkins job run 4 stages in parallel and each stage run 1/4 of the tests. The error `stty: standard input: Inappropriate ioctl for device` always occurs during run time.
[code]

[2019-10-10 09:54] Mani-Sadhasivam commented on #15598
@erwango I think this satisfies my requirement. This is what I tried:

[code]
**NOTE** Devicetree spec doesn't allow the node label to start with a number, so I can't use `96b_lscon`.

And I have the following define in the `generated_dts_board.conf`
`DT_INST_0_96B_LSCON_30PIN=1`

Now, I'm just curious if you have any sample application for testing/validating this!

[2019-10-10 10:43] carlescufi commented on #19737
I think we should probably use `bt_conn_info()` again for this one

[2019-10-10 10:53] joerchan commented on #19737
@carlescufi @jhedberg Previously `bt_conn_get_info()` was for fetching connection information that was otherwise known only to the stack. such as addresses and connection parameters.

If we keep adding all of these HCI commands to the command the time for getting the information becomes much longer. Should we really add all of these to the conn info object? It is a bit overkill to read all possibl

[2019-10-10 10:53] erwango commented on #15598
@Mani-Sadhasivam, ASAFAIK no spevcific test, but indirectly new version of `gpio_basic_api` would help you to do that.

[2019-10-10 10:53] erwango commented on #15598
@Mani-Sadhasivam, can we close the ticket then ?

[2019-10-10 11:29] Mani-Sadhasivam commented on #15598
@erwango I'll submit a PR for adding connector support to all 96Boards and will link this issue to that.

[2019-10-10 11:37] mfiumara commented on #17731
@rstoica This is currently on a low priority for me, I am to open a PR for this within 2 weeks.

[2019-10-10 11:49] cvinayak commented on #19198
@aolowin I cant find a BLE connection in your sniffer log. But, anyway, I have posted a PR, please revert back after testing with #19744

[2019-10-10 12:41] jukkar commented on #19678
Found the issue, this is actually a bug. I will send a fix soon.

[2019-10-10 12:44] jukkar commented on #19678
@alemoppo can you try the proposed fix and report the performance numbers?

[2019-10-10 12:53] pabigot opened #19748 "k_sleep(K_FOREVER) behavior unexpected"
_Originally posted by @nordic-krch in https://github.com/zephyrproject-rtos/zephyr/pull/19591#issuecomment-540554331_

Since we had recently reached some consensus that `k_sleep` should use the standard timeout API it should support `K_FOREVER`.

If it does not a fix might be integrated with rework of `k_poll` since functionally `k_sleep` could be seen as `k_poll` with no events.   (The current im

[2019-10-10 13:57] alemoppo commented on #19678
I confirm that this change improves speed.

I updated all the zephyr files and applied #19690.
After that, I was no longer able to view the http page with your webserver (mt), but i appled the console in my webserver.

Before the #19747 :

[code]

Before:

[code]

I know this is not the best test, I'll test more now. This is just a "fast" feedback :), thanks!

[2019-10-10 14:21] George-Stefan commented on #19685
I have the same problem with MESH app created to test Vega board.
[test_mesh_2.zip](https://github.com/zephyrproject-rtos/zephyr/files/3713049/test_mesh_2.zip)

[2019-10-10 14:24] George-Stefan commented on #19685
Debugging shows that the continuous advertising (that started from MESH) causes the connection for provisioning to fail.
I reproduced the issue in a simpler scenario wih peripheral_hr.
[main_peripheral_hr.zip](https://github.com/zephyrproject-rtos/zephyr/files/3713058/main_peripheral_hr.zip)

[2019-10-10 14:55] aescolar commented on #19748
@pabigot So, an enhacement? ;)

[2019-10-10 16:07] jukkar commented on #19678
Please try latest version of #19747 as I fixed couple of issues there, the http page shows ok with the test webserver (mt) with firefox.

[2019-10-10 20:50] andrewboie opened #19759 "z_arch_switch() passed pointer to NULL outgoing switch handle on dummy thread context switch"
If CONFIG_SWITCH is enabled, the initial context switch into the main thread (either in prepare_multithreading() or smp_init_top() has a fundamental flaw. It's relying on a partially initialized "dummy_thread" for the outgoing thread information, with dummy_thread->switch_handle being NULL.

This causes a NULL pointer dereference to any arch that uses the outgoing switch handle for anything. When

[2019-10-10 21:09] aolowin commented on #19198
I've tested with https://github.com/zephyrproject-rtos/zephyr/pull/19744 and everything seems to be working correctly now. Thanks!

[2019-10-10 21:13] olofk commented on #19133
I have done further investigations now and this is not a Zephyr issue but a hardware issue that started appearing with a lot higher frequency after this change. Closing this as there is nothing to fix on the Zephyr side

[2019-10-10 21:13] #19133 closed

[2019-10-11 00:24] mbolivar commented on #19760
Moved from west, since this would be a zephyr extension

[2019-10-11 01:10] chen-png opened #19761 "tests/net/ieee802154/fragment failed on reel board."
**Describe the bug**
There is a "kernel panic" error when running tests/net/ieee802154/fragment case on reel board.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=reel_board tests/net/ieee802154/fragment
2. west flash
3. See error

**Screenshots or console output**
I: nRF5 802154 radio initialized
W: You have 1 IPv6 net_if addresses but 2 network interfaces
W: Consider increas

[2019-10-11 01:28] chen-png opened #19762 "tests/net/lib/tls_credentials failed on sam_e70_xplained board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=sam_e70_xplained tests/net/lib/tls_credentials/
2. west flash
3. See error

**Screenshots or console output**
I: Device I2C_0 initialized
I: MAC: fc:c2:3d:11:fc:09
I: Queue 0 activated
I: Queue 1 set to idle
I: Queue 2 set to idle
I: Soft Reset of ETH PHY
I: PHYID: 0x221561 at addr: 0
E: ETH PHY auto-negotiate sequence failed
E: **

[2019-10-11 01:36] chen-png opened #19763 "tests/subsys/usb/device/ failed on mimxrt1050_evk board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mimxrt1050_evk tests/subsys/usb/device/
2. west flash
3. See error

**Screenshots or console output**
***** Booting Zephyr OS build zephyr-v2.0.0-1126-g91384ef01eb6 *****
D: __usb_descriptor_start 0x80002b68
D: __usb_descriptor_end 0x80002bc1
D: Configuration descriptor 0x80002b7a
D: Interface descriptor 0x80002b83
D: Endpoint desc

[2019-10-11 04:03] wentongwu commented on #15138
@andrewboie I'm sorry for the confusing, and before the comment "any contended sys_mutex is backed by a k_mutex already. All I want is to use atomic operations so that a syscall isn't necessary for an uncontended sys_mutex", I thought sys_mutex should be re-implemented based on futex as other OSes did, and for sys_mutex, we also should consider priority inheriting(so I mentioned words "priority in

[2019-10-11 08:03] pfalcon commented on #13943
Retesting with 34b95feb54aa037fe1c1ec5dfc46b61603d420ea (2.1.0-wip).

All tests below with dumb_http_server sample. (Results posted in individual comment for easier review/reference).

[2019-10-11 08:07] jhedberg commented on #19737
@BOZHENG001 how exactly are you planning to read the channel map? Will you have some trigger to read it, or will you be doing polling at fixed intervals (if so, what kind of intervals)? I assume the controller knows when the map has changed, so it feels a bit inefficient if the host has to poll for it rather than the controller telling the host when a change has occurred.

[2019-10-11 08:08] pfalcon commented on #13943
qemu_x86 + overlay-e1000.conf

[code]

Pings don't work after this.

On Zephyr console side:

[code]

I.e. there were 296 errors like:

[code]

During this run.

[2019-10-11 08:16] pfalcon commented on #13943
mps2_an385 and overlay-smsc911x.conf

[code]

Pings work afterwards.

Nothing special on Zephyr console side.

[2019-10-11 08:30] BOZHENG001 commented on #19737
@jhedberg Exactly the point! It would be more efficient that the controller will trigger the host when a change has occurred. So let's say, for normal application development, this would be the best choice. But considering development process, it would be better that we developers could read the channel map by fixed intervals, because I found, even in our "crowded" office, the channel map is not t

[2019-10-11 08:38] pfalcon commented on #13943
qemu_cortex_m3 and overlay-qemu_cortex_m3_eth.conf

[code]

On Zephyr console:

[code]

Surprisingly, this run pings work afterwards (usually it's completely deadlocked).

[code]

Look how perfect multiple of powers of 2 the time is!

Let's restart with sample and start with pings (output abridged):

[code]

I.e., it starts ok, then 1024ms delays adds in. Then 2048ms, then, as we saw, 3072ms, etc.

[2019-10-11 08:45] carlescufi commented on #18473
You can join for a conference such as Embedded  Linux Conference (US or Europe) and submit a talk proposal there.

[2019-10-11 08:52] alemoppo commented on #19678
Here is the test with your mt webserver:

[code]
[code]

Now a request is done in like 160ms (read in browser's console).

[2019-10-11 09:24] LingoMeng opened #19767 "Bluetooth: Mesh: Provision Random buffer has too small size"
https://github.com/zephyrproject-rtos/zephyr/blob/34b95feb54aa037fe1c1ec5dfc46b61603d420ea/subsys/bluetooth/mesh/prov.c#L984-L990

[code]

[2019-10-11 09:40] jukkar commented on #19761
Have you considered increasing CONFIG_NET_IF_MAX_IPV6_COUNT to 2 as suggested by the output?
Can you try if it fixes the issue?

[2019-10-11 09:50] jukkar commented on #19678
I did a quick test with sam-e70

[code]

Then with 100 reqs, note the -r option which was needed in my testing.
[code]
It is a bit mystery why some requests fail.

I also tried with curl
[code]
and the results are typically under 2ms
[code]

[2019-10-11 10:11] Laczen opened #19769 "CONFIG_FLASH_SIZE should be CONFIG_FLASH_END and specified in hex"
**Is your enhancement proposal related to a problem? Please describe.**
CONFIG_FLASH_SIZE can be used to verify that a compiled program will fit in the available place in flash. From CONFIG_FLASH_SIZE the load offset (CONFIG_LOAD_OFFSET) is subtracted to determine the ROM_SIZE that is used by the compiler.

So CONFIG_FLASH_SIZE is not the size but it is the end address. It is very inconvenient tha

[2019-10-11 10:12] jhedberg commented on #19767
@menglingao1997 thanks! Since this is a simple one-line fix, do you want to try submitting a PR for it?

[2019-10-11 10:15] jhedberg commented on #19767
Btw, I'm thinking we should make PROV_BUF always allocate the opcode and only provide the parameter length to it, similar in spirit to what @trond-snekvik has been adding for model buffer allocation.

[2019-10-11 10:17] jhedberg commented on #19767
We've been lucky with this particular bug since while it's a buffer overflow, it overflows into the `u8_t conf_verify[16];` variable which isn't used at this point anymore in the function. Once the buffer size is fixed we could even reuse the buffer for the verification, or use a union, to save some call stack space.

[2019-10-11 10:23] rstoica commented on #17731
Actually, I just implemented a working solution and I plan to submit the PR today or tomorrow.

To touch on your comments. The solution proposed actually does not take care of the legacy and split BLE arch introduced in v2.0. To address that one needs to implement the power change logic slightly differently, but the basic ideas you put forward still remain.

In addition:
- for the legacy version -

[2019-10-11 10:56] pfalcon commented on #19678
This is pretty old issue, as old as https://github.com/zephyrproject-rtos/zephyr/issues/13943 , and occurrence coincides with it. I definitely reported it to the core team, but can't find a separate ticket, perhaps it was done in a comment to another issue, or on Slack. I've updated title of this ticket to hopefully better describe the situation.

Before I proceed to test https://github.com/zephyr

[2019-10-11 11:12] pfalcon commented on #19678
So, with https://github.com/zephyrproject-rtos/zephyr/pull/19747 and qemu_x86+SLIP:

[code]

So, it gets to classical figures for 80% of connections, but then either a retransmission, or unknown delay kicks in. This proves that https://github.com/zephyrproject-rtos/zephyr/pull/19747 (in its current, 2nd by now version) is just a workaround, not a solution. And IMHO, it makes the situation only wor

[2019-10-11 11:18] aescolar opened #19775 "net_calc_chksum: Use of un-initialized memory on 64 bit targets"
**Describe the bug**
net_calc_chksum (utils.c:557) uses un-initialized memory content in tests/net/tcp/ when compiled for 64 bits targets
Note: The issue is not seen in the 32 bit native_posix

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake ../tests/net/tcp/ -DBOARD=native_posix_64 -GNinja
3. ninja
4. valgrind zephyr/zephyr.exe

**Expected behavior**
No use of

[2019-10-11 11:30] #19722 closed

[2019-10-11 11:34] carlescufi commented on #8758
All peripherals with actual DT support have been ported now, closing.

[2019-10-11 11:34] #8758 closed

[2019-10-11 12:14] jukkar commented on #19678
Those numbers you are showing here prove nothing of that kind, the fix is real and working. It seems we hit some limit and incoming connection is denied (verified it from wireshark), after this ab just prints the statistics weirdly. I will try to figure out what is the root cause for those resets.

[2019-10-11 12:28] cvinayak commented on #19685
@George-Stefan I tested your main.c file and I dont see any connection loss. Is this 100% reproducible or random?

Below is the logic trace of advertisements transition to peripheral and then when heartrate is 160, continuous scanning is started, the link stays stable.

![image](https://user-images.githubusercontent.com/6350656/66651330-0dc4cf80-ec33-11e9-8b49-d4db00d076e2.png)

[2019-10-11 12:40] George-Stefan commented on #19685
I use NXP IoT Toolbox running on iphone to connect to the peripheral_hr running on Vega board.
The reproducibilit is 100%.
Current connection fails with timeout (0x8 error code) and new connections fail with 0x3e

[2019-10-11 12:50] pfalcon commented on #19678
In this case, `ab` should print an error. It's otherwise as standard, decade-proven load testing tool, and I've been using it against Zephyr servers for quite a while (well, dumb_http_server was developed specifically for it, to avoid using adhoc tools for such testing, as then results look questionable/artificial).

Thanks, looking forward to it.

[2019-10-11 12:59] paoloteti commented on #15278
I'm wondering if [lely-co](https://gitlab.com/lely_industries/lely-core), instead of CANopenNode, could be a better choice in term of code quality and license (Apache 2.0).

[2019-10-11 13:32] ioannisg commented on #19717
There is a reason to keep CMSIS here @stephanosio ; that is to be able to run QEMU for ARM without external dependencies, but, i think we may well use the upstream code. We need to think seriously about this; there are certain consequences of moving CMSIS to external repo or using the upstream CMSIS directly

[2019-10-11 13:42] pfalcon commented on #19678
To prove that these classical figures existed: I took https://github.com/zephyrproject-rtos/zephyr/commit/338dc8a9520ea7b3c60503e35daba085073f4a1d, as suggested by @jukkar in https://github.com/zephyrproject-rtos/zephyr/pull/19747#issuecomment-540646621 and run it now. That's not so easy, as that version no longer works with SDK 0.10.x, so you have to go back to SDK 0.9.5 (I naively killed it alre

[2019-10-11 13:43] cvinayak commented on #19685
What is the connection interval in these connections?

[2019-10-11 15:15] henrikbrixandersen commented on #15278
Interesting. I am interested in learning more of how you view/compare the code quality of the two projects?

[2019-10-11 16:38] pfalcon commented on #19678
Ok, so I'm bisecting this to see if it can help to understand the delay cause. As we know, 338dc8a9520ea7b3c60503e35daba085073f4a1d works w/o delay. The last commit of that "streak" which works is 3215dd862f93c68a0a96ad56e42ae4edb80b5253.

In the next commit, f484bbaa264f3a9640ca52477e3038f912ea5642, I myself broke the build of dumb_http_server (`fdtable.c:80:21: error: ‘FD_OBJ_RESERVED’ undeclare

[2019-10-11 16:38] George-Stefan commented on #19685
@cvinayak 48.7 ms (iphone), tried with an windows app too (50ms)

Checked all combinations of controller/ticker.
Enabled BT_CTLR_XTAL_ADVANCED, BT_CTLR_SCHED_ADVANCED.

It didn't make any difference, it fails as before

[2019-10-11 16:47] mbolivar commented on #18473
Just my two cents, but documentation is forever -- old versions are preserved. This seems to be more of a momentary piece of information (who's consulting *now*?).

[2019-10-11 20:54] dbkinder commented on #18473
… I’ve brought this request to the attention of the Marketing folks who manage the zephyrproject.org site, showing as an example, what was done for the Yocto Project:
   https://www.yoctoproject.org/community/consultants/

-- david

From: Marti Bolivar <notifications@github.com>
Sent: Friday, October 11, 2019 9:48 AM
To: zephyrproject-rtos/zephyr <zephyr@noreply.github.com>
Cc: Kinder, David B <da

[2019-10-11 22:00] pfalcon commented on #19678
Braindump in case of need for further reference, feel free to skip.

[code]

[2019-10-11 22:21] pfalcon commented on #19678
Ok, so this is the worst bisect I've done so far. Partly because I started too wide of course. Had to trace thru multiple local minimums (dumb_http_server for obviously or very subtly broken, but then recovered), thru toolchain and depend libs upgrades, etc.

Anyway, half-day later, fbb2bcaf87b71fefb1a45cb8133fdb26b56122ae is the last commit which serves ~50req/s. 45df09c010d29684a0f2fe7e2b4751c9c

[2019-10-12 00:53] chen-png commented on #19761
I added the "CONFIG_NET_IF_MAX_IPV6_COUNT=2" into the prj.conf and ran the test case again, it would not warning "You have 1 IPv6 net_if addresses but 2 network interfaces. Consider increasing CONFIG_NET_IF_MAX_IPV6_COUNT value", but still reported this error.

[2019-10-12 01:21] jenmwms commented on #15359
This looks done. @mbolivar can you please confirm?

[2019-10-12 05:33] pfalcon commented on #19678
Btw, the tree at these commits won't build as is with the current Zephyr build infra, to make them build, need to pull a fix-up (4278bf5673480effdca3b1e048cecb7a9ab32976):

[code]

[2019-10-12 07:58] lowlander opened #19783 "floating point in C++ on x86_64 uses SSE"
**Describe the bug**
When using floating point in C++ the compiler seems to use SSE and give the following error;
[code]

**To Reproduce**
Using for example `std::numeric_limits<float>::min()`

**Expected behavior**
It should "just work" and not use SSE

**Impact**
Can't use C++ on x86_64 because std::chrono doesn't work.

**Environment (please complete the following information):**
 - OS: linux

[2019-10-12 08:37] lowlander commented on #19783
This seems to be a general problem, the x86-64 calling convention uses MMX registers for floating point return values, so without sse no floating point unless something "special" is done when building the compiler.

On godbolt the same test fails with gcc and clang;

https://godbolt.org/z/2nUZnl

[2019-10-12 13:04] pabigot commented on #19701
With the merge of #19715 this test no longer fails.  Nonetheless https://github.com/zephyrproject-rtos/zephyr/pull/19715#issuecomment-540056705 specifies that this issue is not fixed.

Since the test passes the criteria of the issue have been addressed.  Another issue should be opened, including reproduction instructions, for any remaining concerns.

[2019-10-12 13:04] #19701 closed

[2019-10-13 01:58] cvinayak commented on #19685
@George-Stefan I may know the issue (in the new split controller scheduling pipeline), if the intervals of two overlapping events are similar and are to be scheduled within a gap of 1.5 ms (pre-empt timeout) then the second in the pipeline is not able to pre-empt the currently occupying BLE event in the 'unreserved timespace' (in this case the continuous scanner does not yield and is not being pre

[2019-10-13 09:48] jukkar commented on #19761
Ok, thanks for verifying this.

[2019-10-13 19:24] mnkp commented on #6327
Should be fixed by #16648 (not yet on master). Only the configuration flags which are supposed to be used by the application code have doxygen documentation. All of these compound flags explicitly include `GPIO_INT_ENABLE`.

[2019-10-13 19:27] mnkp commented on #6084
Is fixed by #16648 (not yet on master).

[2019-10-14 07:51] icephyr opened #19791 "How to use CMSIS DSP Library on nRF52832 running zephyr LTS Version(V1.14) ?"
I met a question here. Hope anybody can help on it, thanks.

I'm evaluating whether it is feasible to run the FFT algorithm on zephyr LTS project, with the nRF52832 board. I saw some sayings that it can work with the CMSIS DSP library, but I only found the CMSIS-rtos-v1 and CMSIS-rtos-v2 in zephyr source code (LTS version 1.14), not DSP. So I wonder whether the DSP library is available in zephyr.

[2019-10-14 07:53] rlubos commented on #19762
I don't have this specifc board, and could not reproduce the fault on other platforms. It seems pretty straightforward though:

E: Current thread: 0x2040090c (main)

Shall we just increase the main stack size?

[2019-10-14 08:15] George-Stefan commented on #19685
Yes, it is

[2019-10-14 09:25] #19198 closed

[2019-10-14 09:51] SebastianBoe commented on #15359
This isn't fixed, but I now added the text

"fixes #15359"

to the description of #19774, so when it is merged this will automatically be closed.

[2019-10-14 09:59] joerchan opened #19795 "bt_gatt_attr_next returns first attribute in table for attributes with static storage."
**Describe the bug**
The public API function `bt_gatt_attr_next` does not work when given an attribute that has static
allocation. Since statically added attributes have handle 0 the function will then always return the attribute with handle 1.

**Expected behavior**
The function should return the next attribute in the table.

**Impact**
Minor, this is a helper function. Users can make workaround.

[2019-10-14 10:16] jukkar commented on #19762
+1 to that. ping @chen-png could test that (increasing main stack size)

[2019-10-14 10:21] MarekPieta commented on #12535
I checked and I think we can close the issue. Thanks for all the help.

[2019-10-14 10:23] Laczen opened #19798 "Proposal: Modifications to the settings module"
## Introduction

The settings module provides support for multiple source backends simultaneously. Multiple backends are processed in the order they have been registered. It has been decided that starting from Zephyr 2.1 backends will only return the latest valid information found in the backend and that deleted information will not be returned. This is good as most users were struggling with the

[2019-10-14 10:42] #12535 closed

[2019-10-14 10:44] rlubos commented on #13941
For anyone interested, I've prepared an OpenThread settings API implementation built on top of the Zephyr settings subsystem: https://github.com/rlubos/zephyr/tree/openthread/settings

With this solution, OpenThread settings are identified with keys of the following format: `ot/id/instance`, where `id` is assigned by OpenThread stack, and `instance` is a 32-bit random number, both in hex. The impl

[2019-10-14 12:00] jukkar commented on #19678
I managed to figure out why we see the RST packets from zephyr. Before the TCP connection is fully closed, we have a time wait delay which by default is 250ms. The net_context is kept referenced that long after connection is closed, before it the connection is fully teared down. If there are lot of incoming connections, then it is better to make this value much shorter. In the tests before, I set

[2019-10-14 13:55] nanjunneo opened #19802 "Zephyr was unable to find the toolchain after update to zephyr version 1.13.0"
**Describe the bug**

Since older version Zephyr 1.13.0 is needed for project, so I get the older version by git checkout xxx to get the version.

-cd ~/build_folder
-cmake –Gninja /home/usr/zephyr_workspace/project_name

--------------------------------------------------------------------------------------
**Expected behavior**

The build shall succeed

-------------------------------------------

[2019-10-14 16:13] ulfalizer commented on #19536
PR to turn it into an error: https://github.com/ulfalizer/zephyr/commit/cd6865e54a6da2f35fa60db89317b8416f8ebaee

[2019-10-14 16:22] nashif commented on #19592
repo created and initial code pushed https://github.com/zephyrproject-rtos/eclipse-plugin

[2019-10-14 16:22] #19592 closed

[2019-10-14 18:18] andrewboie commented on #19802
1.13 is not currently supported, have you considered migrating to the 1.14 LTS release, which is supported for two years?

[2019-10-14 19:26] dleach02 commented on #19802
@nanjunneo, I suspect you will need to stick with the zephyr-sdk-0.9.3-setup.run toolchain that was released with 1.13.0 and documented in the 1.13.0 startup guide. As @andrewboie indicates, 1.14 LTS release will be supported for two years from release.

[2019-10-14 19:31] dleach02 commented on #19739
@wangnuannuan, please provide target board this reproduced on, environment information, SDK version.

[2019-10-14 19:36] dleach02 commented on #17545
@kestewart , Do you have any feedback on this item?

[2019-10-14 19:44] alemoppo commented on #19678
Hello, that value seems to me already set to 0 in [prj.conf:24](https://github.com/zephyrproject-rtos/zephyr/blob/d7dbb572e3e745c846544d466b74874061d0cf5a/samples/net/sockets/dumb_http_server/prj.conf#L24)
I noticed this problem with just that project.
I also noticed that in version 2.0.99 I can no longer make HTTPS connections after the first one; however in version 2.0.0 it works correctly (HTTP

[2019-10-14 20:13] jukkar commented on #19783
Also reported at #19066 when using C compiler.

[2019-10-14 20:21] jukkar commented on #19678
Interesting. I have done all my testing with #19691 and everything seems to work just fine after I set `CONFIG_NET_TCP_TIME_WAIT_DELAY=0`

That is certainly possible. When I was testing with qemu_x86, I noticed that first packet of the HTTP request was lost (Zephyr did not receive it), and Linux host needed to re-send it which caused around 200ms delay. After I noticed it, I have done all my testi

[2019-10-14 20:42] MaureenHelm commented on #19763
@MarkWangChinese please have a look

[2019-10-14 21:12] mfiumara opened #19811 "native_posix stack smashing"
**Describe the bug**
When compiling the sample bluetooth/mesh demo with target `native_posix`, the sample crashes when trying to provision it with the following message:
[code]
I have not enough knowledge regarding the native_posix port so am unsure how to proceed.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b native_posix
2. sudo ./build/zephyr/zephyr.exe
3. Use [nRF Mesh Ap

[2019-10-14 21:35] dleach02 commented on #19678
@jukkar, you have seen the problem on qemu_x86?

@agansari, can you look at this from the rt1050?

[2019-10-15 03:50] chen-png opened #19813 "tests/crypto/rand32 failed on sam_e70 board on v1.14 branch."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=sam_e70_xplained tests/crypto/rand32
              -DCONF_FILE=prj_hw_random_xoroshiro.conf
2. west flash
3. See error

**Screenshots or console output**

***** USAGE FAULT *****
  Illegal load of EXC_RETURN into PC
***** Hardware exception *****
Current thread ID = 0x00000000
Faulting instruction address = 0x48024001
Fatal fault i

[2019-10-15 07:04] lowlander commented on #19783
@andrewboie x86_long and x86, and all other platforms that are used with sanitycheck.sh work.

If x86_64 is "deprecated" should I just close this bug?

PS: would it be an idea to "remove" x86_64 from sanitycheck.sh so not all testst that cause problems have to have an "exclude" ?

[2019-10-15 07:44] ngiriprasad commented on #19398
Hi Team,
While I am debugging on this issue, I found that ARP cache is not getting updated. Below is the description of the procedure I have followed and the results I got. Please go through, this may help in finding the root cause:

* I have given arping command from the host system.
* I got the arping reply from the board **PCA10056**.
* On the console of PCA10056, it is getting displayed that,

[2019-10-15 07:58] jukkar commented on #19398
Your changes to the ARP code basically prevent ARP to work properly, so I am not surprised that you see other issues there too.
I just wonder if the MAC address is properly setup to the enc28j60. Can you check that "net iface" properly shows the MAC address in the network interface.

[2019-10-15 08:01] #19775 closed

[2019-10-15 08:22] George-Stefan commented on #19685
[test_mesh_2.zip](https://github.com/zephyrproject-rtos/zephyr/files/3728112/test_mesh_2.zip)
 I use the nRF Mesh app running on iphone to do the provisioning. The provisioning never completes

[2019-10-15 08:34] #19536 closed

[2019-10-15 08:47] vonhust commented on #19643
In fact, it's not a bug. This example cannot run alone, it requires a normal application. It's similar to ARM TF-M applicaiton or multicore AMP application, you need to build at leaset two zephyr imags. For details, pls go to README.rst of this example.

PR #13672 is trying to add multi-image build support. When it's ready,  I will modify this example to make it easier to use.

[2019-10-15 08:57] #19284 closed

[2019-10-15 09:27] ngiriprasad commented on #19398
As part of debugging, I have reverted those changes which are preventing ARP to work properly(i.e., changes in the file **"/subsys/net/l2/ethernet/ethernet.c"**). Now, ARP should work fine. Sorry for not mentioning that in the previous comment. I missed that point.

[2019-10-15 09:33] chen-png commented on #19762
I create a tests/net/lib/tls_credentials/boards/sam_e70_xplained.conf and fill one line "CONFIG_MAIN_STACK_SIZE=1344" in it, but it seems that no work.

[2019-10-15 09:40] rajputh54 opened #19818 "Compiler error for counter example (nRF52_pca10040)"
I'm trying to compile counter example for nrf52_pac10040 board
Examples:  _samples/drivers/counter/alarm__

but getting an error

-- Configuring done
CMake Error at ../../../../cmake/extensions.cmake:418 (add_library):
  No SOURCES given to target: drivers__counter
Call Stack (most recent call first):
  ../../../../cmake/extensions.cmake:395 (zephyr_library_named)
  ../../../../drivers/counter/CMa

[2019-10-15 09:49] joerchan opened #19820 "Bluetooth: Host: Unable to use whitelist in peripheral only build"
**Describe the bug**
Compiling with CONFIG_BT_WHITELIST=y and CONFIG_BT_CENTRAL=n will not have defined functions for `bt_le_whitelist_*` API.

**Expected behavior**
Whitelist feature should be available to all bluetooth roles.

**Impact**
Unable to use whitelist feature in non-central bluetooth applications.

**Environment (please complete the following information):**

 - Commit SHA or Version u

[2019-10-15 10:05] Mierunski commented on #19700
Interrupt Driven API does not specify a way of handling errors, however it is possible to erase errors using uart_err_check function. It's not documented in API, but whole interrupt driven API seems to be based on 16550 uart handling where reading error register clears it, it seems that other vendors have implemented it in the same way as well.
Disabling error interrupts should also do the trick a

[2019-10-15 10:37] rajputh54 commented on #19818
Added CONFIG_RTC0=y
It's compiling now.

[2019-10-15 10:37] #19818 closed

[2019-10-15 11:17] pabigot commented on #19569
Notes to myself for figuring out how to do this:

* See additional background at https://github.com/zephyrproject-rtos/zephyr/pull/15510#discussion_r330899406
* `CONFIG_COUNTER_RTC_CUSTOM_TOP_SUPPORT` currently enables this by default when `fixed-top` is selected in any RTC node.  This property is already defined in the devicetree yaml, and is not present in any non-test trees.
* `counter_nrfx_rtc

[2019-10-15 11:19] pabigot commented on #18935
Fixed in 1.14.1

[2019-10-15 11:19] #18935 closed

[2019-10-15 11:22] pabigot commented on #19649
Documentation updated in #19695.

[2019-10-15 11:22] #19649 closed

[2019-10-15 11:44] marjano89 opened #19824 "Build sample net app for ACRN (nuc i7dnhe)"
Hi,
I am struggling with setting up network on Zephyr UOS under ACRN.  I am building simple MQTT client app. First problem was that there was not net interface:

`[00:00:00.000,000] <err> net_if: There is no network interface to work with!
[00:00:00.090,000] <inf> net_config: Initializing network
[00:00:00.090,000] <err> net_config: No network interfaces
[00:00:00.090,000] <err> net_config: Networ

[2019-10-15 12:26] #19820 closed

[2019-10-15 12:28] jukkar commented on #19678
I do not know what problem you are referring to.

This PR is getting convoluted with different people using different hw and software in the testing. I decided to get some real numbers with different hw, config options and explain why numbers look like how they do.

Baseline issue in master
-------------------

Platform: **sam-e70-xplained**
Sample: **dump_http_server**
Git: *master*
Results: The

[2019-10-15 12:53] #19795 closed

[2019-10-15 12:57] jukkar commented on #19762
For testing TLS stack requirements, I would suggest something like 2048 here.

[2019-10-15 13:02] jukkar commented on #19762
I managed to test this with sam-e70, and setting main stack size to 2048 fixed the issue. I will send a PR for this.

[2019-10-15 13:37] luigiluz opened #19833 "missing or empty reg/ranges property when trying to build blink_led example"
When I try to build any application, it shows this error followed by KeyError: '#cells' and it doesn't finish the build.

I've tried to search something related to this problem but I couldn't find anything that could help.

I only used the command: west build -b nrf52840_pca10056

[code]

[2019-10-15 14:15] carlescufi commented on #19798
CC @rakons @nvlsianpu @jhedberg @Vudentz

[2019-10-15 14:18] jhedberg commented on #19811
Could you try running the binary through valgrind? That might give some more info.

[2019-10-15 14:19] carlescufi commented on #19833
This builds fine on my machine, can you try the following:

- Remove any build folders completely
- Make sure you have run `west update`

[2019-10-15 14:21] nvlsianpu commented on #19798
cc @fnde-ot @aescolar

[2019-10-15 14:30] nvlsianpu commented on #19798
Indeed - you spot something I overlooked as I'm concentrated on one back-end settings user case.
Maybe code which will make "loading the last" working on multiple back-end might be optional.

[2019-10-15 14:31] luigiluz commented on #19833
I've just tried doing this, but the error remains the same :/

[2019-10-15 14:32] SebastianBoe commented on #19791
This is correct. I am not aware of anyone that has done this, but if the code is easy
to build it shouldn't be too difficult.

[2019-10-15 14:34] SebastianBoe commented on #19791
I am not aware of which FFT implementation other FFT users have used.

[2019-10-15 15:10] SebastianBoe commented on #19004
@pabigot : I need help understanding the problem.

Would you be able to explain the bug by listing a set of reproducable steps and a resulting expected behaviour vs. actual behaviour ?

[2019-10-15 15:15] pabigot commented on #19004
See:

You would have to reset your HEAD to 6e46a64a489d5cce2b7621c5e5852fc3e1235a38.  Since the world has changed since I filed this, feel free to close this.

[2019-10-15 15:35] SebastianBoe commented on #19004
I see that  6e46a64 is affected by the bug introduced by the "project check". I'm unable to explain how sanitycheck is able to provoke this bug, because it requires running CMake twice, but I'm hoping that if there is something other than the "project check" that is causing problems then we will see it again some day.

Closing.

[2019-10-15 15:35] #19004 closed

[2019-10-15 15:46] ulfalizer commented on #19833
Not sure what's going on here either. Works for me when running `cmake -GNinja -DBOARD=nrf52840_pca10056 ..` in `samples/basic/blink_led/b`.

From the error it looks like a missing `*-cells:` key in a binding (`.yaml` file), e.g. `gpio-cells:`. Could you try applying this patch and seeing what the last node path it prints before the error is?

The problem might be with the binding for that node.

[2019-10-15 16:00] carlescufi commented on #19833
@luigiluz are you sure you are on the latest master and with no local changes?

[2019-10-15 16:00] carlescufi commented on #19833
ah wait, you are on 1.14.1? @ulfalizer that might explain it.

[2019-10-15 16:32] andrewboie commented on #15138
@wentongwu file a bug to fix this in k_mutex. Limitations of k_mutex are *not* in scope of this ticket.

You've lost me. Why would you use k_futex? k_futex is backed by a wait_q which is not what we need. k_futex is for standard futex wake/wait semantics. You will still be using a sys_mutex type. sys_mutex is already tracked as a kernel object and is backed with a k_mutex. sys_mutex is the kernel-

[2019-10-15 16:48] andrewboie opened #19837 "SS register is 0 when taking exceptions on qemu_x86_long"
I am not completely sure this is a bug. But when handling exceptions on qemu_x86_long, I noticed that the SS register is 0. See below output when debugging tests/kernel/fatal.

Somehow, push and pop operations proceed without incident despite this situation. I did find in the IA Manual vol. 3a:

But I'm not sure I fully understand the implications of this.

Feel free to close if this is all as exp

[2019-10-15 17:11] luigiluz commented on #19833
maybe i've messed up and cloned an outdated master
 i'll only be able to apply this suggestions tomorrow, but i'll update my situation here as soon as I can

[2019-10-15 17:13] carlescufi commented on #19833
I think you have a very old master, from the build output:

[2019-10-15 17:31] carlescufi commented on #17546
@cvinayak could this be the same Host buffer leak you are chasing?

[2019-10-15 17:35] gnuless commented on #19837
This is entirely normal.  Long mode is flat, and can't use segmentation the way 16-/32-bit protected mode do.

SS/ES/DS selectors are almost entirely ignored (and setting them to null selectors is valid) - the one exception I can think of is that IRETQ to any ring but 0 requires that the SS selector on the stack refer to a present selector (but is otherwise ignored).  Only parts of CS are used, th

[2019-10-15 17:40] dleach02 commented on #16035
@ntavish, does your #19391 PR supposed to address this bug?

[2019-10-15 17:42] gnuless commented on #19783
@lowlander I'll be putting in a PR in a few days to remove x86_64 from the tree.

[2019-10-15 17:45] dleach02 commented on #18031
@avisconti , can you confirm that the #18061 fixes this issue and you want to have it backported to 2.0.1?

[2019-10-15 18:21] fake991 commented on #17135
has anyone managed to make it work?

[2019-10-15 18:29] ntavish commented on #16035
@dleach02 I think it should, I am not going to be able to test it thoroughly for a while though, so if possible please test. In whatever tests with the fs sample I did, and also according to @mrfuchs, it should fix this issue.

[2019-10-15 18:42] nashif opened #19841 "MIPI Sys-T logging/tracing support"
Zephyr shall support Sys-T trace via the existing logging subsystem as a custom format that can use existing logging backends (
serial for example) to send logging data in sys-t format to a host. This feature will use existing sys-t library (https://github.com/MIPI-Alliance/public-mipi-sys-t).

We need a module in Zephyr to be included by west when enabling this feature in Zephyr. This will be bas

[2019-10-15 18:43] nashif commented on #19841
cc @wentongwu

[2019-10-15 19:20] mfiumara commented on #19811
@jhedberg I reran the same thing with valgrind: https://gist.github.com/mfiumara/ced58c214b4aa84917fb8f836ce05dd8

[2019-10-15 19:28] jhedberg commented on #19811
@mfiumara thanks! This in particular caught my eye regarding the backtrace:
[code]

There's an open issue and a not yet merged bug fix #19789 for the `PROV_BUF(rnd, 16);` buffer being one byte too small. Could you look up the `prov_random()` function in `subsys/bluetooth/mesh/prov.c` and change the rnd buffer to be 17 instead of 16 bytes, i.e. `PROV_BUF(rnd, 17);`, and see if the issue is still re

[2019-10-15 19:38] mfiumara commented on #19811
@jhedberg: I reran the test and indeed with the 1 byte bigger buffer and the sample application goes through the provisioning steps now and succesfully completes! There are however some other remarks by valgrind (which do not crash the application but maybe worth sharing):
[code]

[2019-10-15 19:45] #19811 closed

[2019-10-15 20:22] #19767 closed

[2019-10-15 20:55] mfiumara commented on #19438
@utzig I was just investigating why it is set to 64K: this seems to be the default value in case [CONFIG_SPI_NOR_FLASH_LAYOUT_PAGE_SIZE](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_SPI_NOR_FLASH_LAYOUT_PAGE_SIZE.html#default) is not set in the project configuration. Because MCUBoot is still dependent on [CONFIG_FLASH_PAGE_LAYOUT](https://docs.zephyrproject.org/latest/reference/k

[2019-10-15 21:41] lowlander commented on #19783
@gnuless leave this bug open, or should I close it ?

[2019-10-15 22:09] pabigot commented on #19438
The SPI NOR driver is a bit of a mess due to its historical development and hard-coded values.  Originally the driver used the erase block size (which was defaulted 64 KiBy) as the page size.  Relatively recently this was cleaned up so that hardware sizes (such as 256-byte pages, 4 KiBy sectors, and 32 KiBy and/or 64 KiBy erase blocks) are no longer customizable.

However, because existing systems

[2019-10-15 22:53] andrewboie commented on #19666
Updated description to add details on what needs to be done.
I don't think I'll have time to attend to this for a few months if someone else wants to pick this up.

[2019-10-16 01:00] icephyr commented on #19791
Well noted, I will have a try, thanks.

[2019-10-16 01:42] wangnuannuan commented on #19739
- target board: arc nsim
- environment information:
    - LSB Version:	:base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-
    - amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch
    - Distributor ID:	CentOS
    - Description:	CentOS release 6.9 (Final)
    - Release:	6.9
    - Codename:	Final
- SDK version: 0.10.3
- python version: 3.7

[2019-10-16 05:23] cbsiddharth commented on #19483
@MaureenHelm ?

[2019-10-16 06:23] rakons commented on #19798
Well... Then settings should support only one backend, and for those that wish to have more backends, we need special backend - that would be kind of "backend splitter". Then it might work both ways - for example select backend to write by the key.

[2019-10-16 06:26] jjmilburn commented on #12961
Thanks!

[2019-10-16 07:01] nanjunneo commented on #19802
@andrewboie  Thank you very much!  The version is quite old. I will update it to the new version for further developing.

[2019-10-16 07:02] nanjunneo commented on #19802
@dleach02 thank you so much.  I downloaded the SDK 0.9.3 and it works properly!!

[2019-10-16 07:02] #19802 closed

[2019-10-16 07:06] de-nordic commented on #19629
@carlescufi is already updating west.yml manifest here: https://github.com/zephyrproject-rtos/zephyr/pull/19838

[2019-10-16 07:19] pavlohamov opened #19848 "stm32wb MPU failure"
**Describe the bug**
Flash write operations leads to MPU failure

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir samples/subsys/fs/littlefs/build; cd samples/subsys/fs/littlefs/build
2. cmake -GNinja -DBOARD=nucleo_wb55rg ../ && ninja flash
3. Open serial console
4. See exception trace
![2019-10-16 15_52_57-Window](https://user-images.githubusercontent.com/52959375/66921033-19e2cf80-f0

[2019-10-16 07:48] joerchan commented on #17546
@lanvis Please include the commit in your reports. Whenever it says x.x.99 it is a development version, and not a tag.

We have fixed a buffer leak in ATT. Can you check if this fixes your issue: https://github.com/zephyrproject-rtos/zephyr/pull/19580
Either cherry-pick it or update your version to something that includes it.

[2019-10-16 08:02] avisconti commented on #18031
@dleach02
David, yes it fixes the issue and I believe it must be backported to v2.0.1.
Thanks!

[2019-10-16 08:28] #19791 closed

[2019-10-16 08:58] trond-snekvik opened #19850 "Bluetooth: Mesh: Modular settings handling"
The mesh settings.c module manipulates the data of a lot of modules, and this pattern is causing some awkwardness in encapsulation, as experienced in #19799.

To improve encapsulation of module data, the mesh settings module could allow registering of handlers in the different mesh modules, and only take care of the multiplexing and orchestration itself. This'll improve maintainability and modular

[2019-10-16 09:00] erwango opened #19851 "How to use flash with varying erase block size"
**Is your enhancement proposal related to a problem? Please describe.**
On STM32F4 series, there is no fixed erase block size:
Erase operation are done per sector and sectors have varying block size.
As a consequence `DT_FLASH_ERASE_BLOCK_SIZE` is not available on these SoCs

Issue was already reported in #13328 (dts: erase-block-size should be available by partition
), which proposed to provide p

[2019-10-16 09:03] erwango commented on #19851
@Laczen, fyi as I know you're curious of flash related issues and you were involved in previous episode.

[2019-10-16 09:12] ioannisg commented on #19851
FYI @nvlsianpu

[2019-10-16 09:44] gmarull opened #19852 "Add support for GPIO AF remap on STM32F1XX"
**Is your feature request related to a problem? Please describe.**

STM32F1XX family allows to remap alternate functions on some peripherals. This is done via the `AFIO` registers, a feature not implemented in STM32 GPIO or pinmux drivers.

The STM32 LL HAL has the necessary APIs to control remaps: https://github.com/zephyrproject-rtos/hal_stm32/blob/master/stm32cube/stm32f1xx/drivers/include/stm3

[2019-10-16 09:52] nvlsianpu commented on #19851
Maybe this can be done by adding a flash api that returns the erase block size for a given sector.

such API exist: at flash_map level`flash_area_get_sectors()` and lower in flash driver `flash_page_foreach()`,  `flash_get_page_count()`, `flash_get_page_info_by_idx()`, `flash_get_page_info_by_offs()`

That is right -should be used instead of direct reference to DT definition.

Other problem is tha

[2019-10-16 10:49] ioannisg commented on #19813
@chen-png could you please, confirm that you do not see this error on current master ?

[2019-10-16 11:05] #19629 closed

[2019-10-16 11:14] pfalcon commented on #19678
@jukkar: Thanks for the detailed comments here and in #19747. I'm tracing my way thru to make sure I can confirm your findings, and to clarify some points.

You wrote:

So, can you elaborate where exactly 200ms delay comes from? In previous comment you wrote:

So, that's the fine point we should keep in mind (and which I found earlier, keep forgetting, then rediscovering) - that any delay can be r

[2019-10-16 11:35] pfalcon commented on #19678
https://unix.stackexchange.com/a/210381/29893 talks that the minimum (starting) RTO value for Linux is ~200ms, and how to change it. However, changing it too 100ms, or 300ms, running against master 711c4d8a488808e6bddd71d9194ece6b2aaabca1, mps2_an385+overlay-smsc911x.conf (that's still QEMU target; getting away from SLIP due to points above that it has link stability issues; and then mps2_an385+ov

[2019-10-16 12:05] Laczen commented on #19851
I agree with @nvlsianpu that flash page api should be used instead of DT definition. So the problem is the definition of the default nvs backend, I will have a look how this can be fixed.

[2019-10-16 12:16] erwango commented on #19851
So I agree with you, but how do we ensure that people don't use `DT_FLASH_ERASE_BLOCK_SIZE` directly ?

[2019-10-16 12:42] jukkar commented on #19678
Many of the issues in TCP flow are caused because we do not queue SYN packets. That is why if app is not accepting connection, we many drop the initial SYN which causes a delay before a new SYN is sent by the peer. This is perfectly fine behaviour, but of course it looks bad in statistics.

[2019-10-16 12:54] nvlsianpu commented on #19851
@Laczen Posted patch already
https://github.com/zephyrproject-rtos/zephyr/pull/19858

[2019-10-16 12:56] pavlohamov commented on #19848
@erwango I've updated description. FS sample is more convenient to troubleshoot this issue.

[2019-10-16 12:59] erwango commented on #19851
That was fast, thanks for this.
But how do we ensure people don't use it again.

So one point is that I can try to make sure f4 boards are tested in all flash related samples.. But doesn't prevent people to use it when convenient (For instance there are other occurence (cf subsys/net/lib/openthread/platform/openthread-core-zephyr-config.h).

[2019-10-16 13:03] nvlsianpu commented on #19851
DT_FLASH_ERASE_BLOCK_SIZE is only valid for embedded flash. This might be used for compile time optimization for instance. I see nothing wrong in using it, just need to know when this is not good idea. Maybe this macro should be renamed to something like DT_SOC_FLASH_ERASE_BLOCK_SIZE or DT_EMBEDED_FLASH_ERASE_BLOCK_SIZE for emphasize to which flash it belongs.

[2019-10-16 13:06] erwango commented on #19851
When it could not be defined (because it is not fixed for a defined embedded flash, cf stm32f4 case) it is a problem...

[2019-10-16 13:08] nvlsianpu commented on #19851
What I just recognized is that flash API for fetching page layout is someway not documented at the zephyr website.

[2019-10-16 13:12] luigiluz commented on #19833
i've updated to version 2.0.99 and it worked properly, thanks guys

[2019-10-16 13:12] #19833 closed

[2019-10-16 13:47] erwango commented on #19851
Following discussion on slack storage channel, one proposal would be to remove 'erase-block-size' property which is misleading and prevent people to use dedicated flash API. To be discussed in dev-review meeting.

[2019-10-16 16:56] WilliamGFish opened #19867 "modem: ublox-sara-r4/u2 build error"
**Describe the bug**
Modem ublox-sara-r4 driver will not compile.

**To Reproduce**
west build -b particle_boron

**Expected behavior**
Build and compile

**Impact**
Can not build and run with modem

**Screenshots or console output**
[code]

**Additional context**
**commit a0fceff changed dts/bindings/modem/ublox,sara-r4.yaml**
`compatible: "ubloc,sara-r4"`

needs to be reverted to:
`constraint: "

[2019-10-16 17:46] stephanosio opened #19869 "Implement tickless capability for xlnx_psttc_timer"
The `xlnx_psttc_timer` (drivers/timer/xlnx_psttc_timer.c) system timer driver only implements tickful timer API at this time.

Since tickless timer API is required for most tests to function properly, this feature should be implemented in order to expand the range of tests that can run on `qemu_cortex_r5`.

At the same time, fix any bugs and/or non-standard behaviours that cause test failures in t

[2019-10-16 18:05] stephanosio commented on #19717
@ioannisg Since that means pulling CMSIS via west would be a problem, I will go ahead with implementing the changes described in this issue in `ext/hal/cmsis` and make a PR.

I'm still working on CMSIS-Core(R), so the initial PR will only make the necessary changes to accommodate other CMSIS variants.

[2019-10-16 18:20] carlescufi commented on #19867
@WilliamGFish would you mind sending a PR?

[2019-10-16 18:25] mike-scott commented on #19867
I suppose, I can also add a test build in the lwm2m sample to use the ublox shield -- to avoid this kind of breakage in the future.

[2019-10-16 19:51] vikrant8051 commented on #19685
Is any PR under pipeline to solve this issue. ?
Till now with latest master branch not able to get rid off from this issue.

[2019-10-16 21:37] ioannisg commented on #19064
@andrewboie could we fix this for 2.1.0?

[2019-10-16 22:07] sdalu opened #19871 "display/ssd1306: allow "reverse display" in kconfig or dts"
Allow selecting at build time how the monochrome display will be handled: white on black", or "black on white".

This can easily be selected at build time using a Kconfig/dts parameter to change device initialisation in`ssd1306_init_device` to use `SSD1306_SET_REVERSE_DISPLAY` instead of `SSD1306_SET_NORMAL_DISPLAY`

[2019-10-16 22:15] sdalu opened #19872 "sensor/lis2dh: using runtime scale other than 2g generates strange values"
Using the following code to change scale of measure at runtime will result in reading wrong values for accel_xyz channel
[code]

The problem doesn't seem to exists if scale is selected at build time (Kconfig)

[2019-10-16 22:19] andrewboie commented on #19064
I don't personally have the bandwidth to attend to this for 2.1

[2019-10-16 23:17] andrewboie opened #19874 "k_pipe_put() is not callable from ISRs"
I don't know if this can be considered a bug or enhancement, but what we have right now doesn't make any sense to me.

As a core kernel IPC object, I would expect non-blocking attempts to put some data into a k_pipe to be allowed. Consider some ISR callback which needs to stash some incoming data for further processing by a user mode thread. k_pipe() ought to work well for this. The callback will

[2019-10-17 01:06] chen-png commented on #19813
Yes, i ran it with the master(commit: 5881f1), it worked well.
***** Booting Zephyr OS build zephyr-v2.0.0-1163-g5881f118c0a4 *****
Running test suite common_test

starting test - test_rand32
Generating random numbers
PASS - test_rand32

Test suite common_test succeeded

PROJECT EXECUTION SUCCESSFUL

[2019-10-17 05:24] fnde-ot commented on #19798
I would agree that settings should support only one backend. Note that it is already possible to implement a custom settings backend that can manage multiple data sources.
We actually use this to store settings in multiple locations and formats, so that "fixed" settings ("bt/id", "bt/name", ...) can be stored in rom while dynamic settings ("bt/keys", ...) can be placed in flash or elsewhere.

[2019-10-17 06:41] ioannisg commented on #19813
Thanks @chen-png
Then it seems we need to back port the driver fix in #17199  to 1.14.x branch.
Do we want to do this @nashif @dleach02 ?

[2019-10-17 06:54] pavlohamov commented on #19848
Update: ```

+++ b/scripts/kconfig/kconfiglib.py
@@ -1406,10 +1406,6 @@ class Kconfig(object):
                     .format(self.config_prefix, sym.name, escape(val)))

             else:  # sym.orig_type in _INT_HEX:
-                if sym.orig_type is HEX and \
-                   not val.startswith(("0x", "0X")):
-                    val = "0x" + val
-
                 add("#define {}{} {}\n"

[2019-10-17 07:05] pavlohamov opened #19877 "Broken partition size"
Partition is size is calculated improperly

**To Reproduce**
1) Build any project with BOOTLOADER_MCUBOOT enabled
2) Observe improper flash size
![2019-10-17 10_01_18-Window](https://user-images.githubusercontent.com/52959375/66985317-36cae180-f0c5-11e9-9576-b010c0408748.png)

**Expected behavior**
Size must be
![2019-10-17 10_02_00-Window](https://user-images.githubusercontent.com/52959375/669853

[2019-10-17 07:06] pavlohamov commented on #19848
https://github.com/zephyrproject-rtos/zephyr/issues/19877

[2019-10-17 07:06] #19848 closed

[2019-10-17 07:10] pavlohamov commented on #19877
https://github.com/zephyrproject-rtos/zephyr/pull/19878

[2019-10-17 07:37] Laczen commented on #19798
@rakons, @fnde-ot, I agree with only one backend and a "backend splitter", this would put the complexity where it needs to be (in the "backend splitter") and would also allow the removal of the present limitation of only one destination backend, the splitter could provide support for multiple destinations based on the settings name (or the settings value...).

So I think we should go for the simpl

[2019-10-17 08:40] erwango opened #19880 "Rework flash_area_layout()"
**Is your enhancement proposal related to a problem? Please describe.**
Function flash_area_layout has the following disclaimer:
[code]

**Describe the solution you'd like**
Quick search shows that `flash_area_to_sectors` has actually been removed, so function inlining could proceed.

[2019-10-17 09:24] #19342 closed

[2019-10-17 09:33] gmarull opened #19882 "Add support for multiple channel sampling to STM32 ADC driver"
**Is your enhancement proposal related to a problem? Please describe.**

Multiple channels can't be sampled using a single `adc_read` call. For example,

[code]

will result in channel `8` being sampled after calling `adc_read(dev, &seq)`, but not channel `9`.

The reason for this behavior is that STM32 ADC driver does not support ADC "scan" mode. Only a single acquisition is configured: https://g

[2019-10-17 10:25] nordic-krch commented on #19569
acually it can be closed as it got implemented within #15510.

[2019-10-17 10:25] #19569 closed

[2019-10-17 11:09] carlescufi commented on #19685
@vikrant8051 which board are you running this on?

[2019-10-17 11:11] vikrant8051 commented on #19685
@carlescufi nrf52840_pca10056 board. But I think issue is board independent. Right ?

[2019-10-17 11:19] George-Stefan commented on #19685
@vikrant8051  Can you check my scenario?

[2019-10-17 11:32] lanvis commented on #17546
I have switch to using the Nordic BLE controller (beta) that will be released as a full support package from Nordic at some point (CONFIG_BT_LL_NRFXLIB=y).  It exhibits the same problem.  I will try this though.

[2019-10-17 11:47] abrodkin opened #19885 "SMP doesn't work on ARC any longer"
**Describe the bug**
SMP example don't progress.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nsim_hs_smp ../tests/kernel/smp/
3. make && make run
4. See nothing happens after initial application header get printed:
[code]

**Expected behavior**
[code]

**Impact**
IMHO showstopper for ARC.

With `git bisect` I found a commit that introduces the probl

[2019-10-17 11:52] erwango commented on #19882
@cybertale, if you're interested: DMA + ADC ;-)

[2019-10-17 11:58] Oanerer commented on #19882
Maybe there is an intermediate version possible, similar to what @anangl suggested to me here: https://github.com/zephyrproject-rtos/zephyr/pull/19652#discussion_r335399990 ? I also wanted to use the scan functionality of the Gecko ADC for multiple channels, but his suggestion works just as well.

[2019-10-17 11:59] cybertale commented on #19882
@gmarull @erwango  This is on the to do list, but has to be done after the DMA driver. Here is some explanation: https://github.com/zephyrproject-rtos/zephyr/issues/17375#issuecomment-536519655
The main reason is that without DMA, zephyr is not fast enough to handle every EOC interrupt signals, which will end up with overrun errors. By the way, the DMA driver is very close to the end in #19712 .

[2019-10-17 12:23] carlescufi commented on #19685
@vikrant8051
Possibly, yes. Could you let us know exactly how to reproduce the issue with nrf52840_pca10056? We don't have Vega boards to test.

[2019-10-17 12:26] cvinayak opened #19889 "Buffer leak in GATT for Write Without Response and Notifications"
**Describe the bug**
[UPDATED]
GATT Write without Respones and GATT Notification can leak TX buffers when the link is disconnected during the function call.

Modified central_hr sample connected to modified peripheral sample to perform full throughput using 251 bytes PDUs stops transmissions after 3rd supervision timeout.

**To Reproduce**
Steps to reproduce the behavior:
1. checkout https://githu

[2019-10-17 12:29] gmarull commented on #19882
@cybertale Thanks for the update! I can help with the implementation based on DMA support branch, I'd like to have it for a project I'm working on (F100R8). I have F3XX, F4XX and H7XX boards to perform testing.

[2019-10-17 12:36] cybertale commented on #19882
@gmarull Thanks! drivers of f3 and f4 series SoCs have already been implemented, but I don't have a h7 series board, you can have a look into the driver implemented in #19711 and #19712 to add DMA dts support of h7 and driver implementation if you're interested. :wink: :

[2019-10-17 13:40] bfrog commented on #18473
I'd also like to be listed

Tom Burdick
[Electromaticus](https://electromatic.us)

[2019-10-17 14:01] #19762 closed

[2019-10-17 14:07] ulfalizer commented on #19848
Potential fix: https://github.com/zephyrproject-rtos/zephyr/pull/19891

Note that I didn't write the `kconfigfunctions.py` functions. Just pattern-matching a bit here.

[2019-10-17 14:47] carlescufi commented on #17546
@lanvis I am going to close this issue since the scanning problem you described originally does not seem to be present anymore.
Regarding the other issue you see, please open a new GitHub issue.

Thanks in advance!

[2019-10-17 16:51] andyross commented on #19885
Does z_arch_sched_ipi() support work on ARC?  If you turn off CONFIG_SCHED_IPI_SUPPORTED with something like this, does it work?

[code]

[2019-10-17 17:13] andyross commented on #19759
Not completely understanding the problem.  What's trying to use the switched_from handle of a dummy thread?  Sounds like there's an unrelated bug here, maybe?  I think it's very reasonable to have a requirement that the pointers always be non-null at the arch layer and put the complexity into the kernel, that just isn't the way it works currently because of that dummy thread trick.

As far as chan

[2019-10-17 17:26] andyross commented on #19759
Just to clarify the technical question: having a NULL in the switch_handle fields just means that a thread has not been suspended by interrupt entry or a context switch (or thread initialization, of course).  Trying to switch back "to" such a thread simply doesn't make any sense, it doesn't have state to restore.

So we need to figure out where and why that's happening, regardless of what we do re

[2019-10-17 17:30] andrewboie commented on #19759
@andyross

z_arch_switch() takes two arguments: switch_to, switched_from.

On the initial context switch from dummy thread, switched from is a pointer to NULL.

The implementation of z_arch_switch()

[2019-10-17 17:33] andrewboie commented on #19759
Isn't all the data being manipulated at some offset from the thread struct anyway? Not seeing how this is an optimization, and it certainly hasn't been documented.

At the end of the day I don't care how this is gets solved, other than I really don't want to have to pull NULL checks in z_arch_switch() that are only true when a thread is initially started.

[2019-10-17 17:35] andrewboie commented on #19759
The NULL in dummy_thread->switch_handle gets passed all the way to z_arch_switch()

[2019-10-17 17:52] andyross commented on #19759
No, on xtensa and x86_64 the context lives on the process stack.  Docs are at the arch layer obviously, see for example https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/xtensa/include/xtensa-asm2-context.h and https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/x86_64/core/xuk.h#L93  Doing it this way allows the entry/exit code to skip the stack pointer jiggling that would o

[2019-10-17 18:09] andyross commented on #19759
I threw an assertion in trying to catch this and am not having any luck spotting it on the existing platforms in master.  Is there maybe something specific to the memory protection initialization that is trying to switch back into a dummy?

[2019-10-17 18:44] andyross commented on #19759
Still trying to figure out what the actual problem being reported is.  This bit has me confused:

That's as designed.  The switched_from argument is an output pointer: the switch code is expected to store the resulting switch handle of the current thread into that pointer before begining to execute the "switch_to" context.  Nothing should ever be reading from that pointer, just storing into it.

A

[2019-10-17 18:47] andrewboie commented on #19759
No...all I did was install a page table which has the 0 page unmapped and I get a fault. There is no userspace, no stack overflow protection, just you can't access the NULL page

Here, pull this branch and run any test with qemu_x86_long:

https://github.com/andrewboie/zephyr/tree/switch_problem

If you then cherry-pick in https://github.com/andrewboie/zephyr/commit/9e0834d10431f9f362bacd2ede305e3

[2019-10-17 18:48] andrewboie commented on #19759
Memory protection HW isn't enabled for ANY of these.
You have to pull my branch.

[2019-10-17 18:50] andrewboie commented on #19759
This is the code on intel64:

[code]

[2019-10-17 18:51] andrewboie commented on #19759
@andyross

[code]

Your assert is incorect
You need

``
__ASSERT(old_thread->switch_handle != NULL, "");
[code]

[2019-10-17 18:56] andyross commented on #19759
OK, thanks.  That's the part I didn't understand.  FWIW: old_thread is just a copy of _current.  It too is never supposed to be null if we're executing code that is capable of swapping.  Will continue digging.

But do note that x86_64 in fact **does** have a 16k null guard, so it's not as simple as the pointer being null as it should trip there too.

[2019-10-17 18:58] andyross commented on #19759
Wait wait, sorry.  One more clarification, is this bit a typo?:

Because as mentioned above that's 100% legal and expected.  If "old_thread" itself is null, that's a bug.  But the state of a currently-executing thread's switch_handle field is (for obvious reasons) indeterminate garbage.  You can only restore it after it's been saved, not while it's running.

[2019-10-17 18:58] andrewboie commented on #19759
[code]

this reproduces the issue in a very simple form

[2019-10-17 18:59] andyross commented on #19759
Whoops, crossed. Yeah, that's not a bug.  We need to locate the code that's dereferencing old_thread->switch_handle and fix it.

[2019-10-17 19:00] andrewboie commented on #19759
Wait so this is supposed to be NULL?
You are saying we add a NULL check in x86 long's z_arch_switch? For EVERY context switch, even though this just applies to the first switch out of the dummy thread?

[2019-10-17 19:03] andrewboie commented on #19759
The implementation of z_arch_switch() saves state to the old_thread->switch handle (which is expected to be a pointer to old_thread itself) and then pops state off the new_thread->switch_handle (which is a pointer to new_thread)

If x86 long's z_arch_switch() is implemented incorrectly we need help here, the intended design is very unclear

[2019-10-17 19:06] andrewboie commented on #19759
And if the switched_from parameter is supposed to be output-only and its contents are garbage when running, how does the implementation of z_arch_switch() know what outgoing thread to save state to?

[2019-10-17 19:09] andyross commented on #19759
I apologize.  Indeed we never had a single spot for arch docs so the switch implementation docs in xtensa and x86_64 was all we had for a long while.   The current design docs at https://docs.zephyrproject.org/latest/reference/kernel/smp/smp.html#switch-based-context-switching are, I think, really not so terrible though.

It doesn't.  That's the kernel's job.  The scheduler, not the arch, figures

[2019-10-17 19:14] andrewboie commented on #19759
How do we fix this in terms of how z_arch_switch() is implemented in arch/x86/core/intel64/locore.S?
Because right now it's treating the switched_from parameter as input/output and not output only.

[2019-10-17 19:15] ulfalizer opened #19898 "CONFIG_NET_ROUTE_MCAST and CONFIG_NET_ROUTING can't be enabled"
`NET_ROUTE_MCAST` and `NET_ROUTING` (defined in `subsys/net/ip/Kconfig`) aren't user-configurable (have no prompt), have no defaults, and aren't selected/implied, so there's currently no way to enable them, unless someone patches Zephyr or adds them to a `Kconfig.defconfig` somewhere.

Close this if that's fine. Just recording it.

[2019-10-17 19:16] andrewboie commented on #19759
It looks like ARC has the same problem, they added a band-aid NULL check to skip, context, impacting performance:

[code]

[2019-10-17 19:17] andrewboie commented on #19759
I'll be blunt this seems like a solution looking for a problem. Every single arch is going to provide their own custom z_arch_switch(), I do not see how some third-party HAL is going to provide a z_arch_switch() with the same semantics Zephyr is expecting

[2019-10-17 19:24] ulfalizer opened #19899 "List of never-enabled Kconfig symbols"
Wrote a script that lists all symbols that are not user-configurable (have no prompt), have no defaults, and that aren't selected/implied. Such symbols can never be anything but `n`.

You could go through it and check if you see something that can be removed.

[code]

[2019-10-17 19:28] andyross commented on #19759
But as for the intel64 stuff, yeah, it's using the contents of RSI as synonym for _current, which isn't correct.  But it's very close to correct except for the case of the initial dummy thread.  I'd look at solutions that involve stuffing the "correct" arch-specific value into the dummy thread swap_handle field before switch() sees it, instead of testing inside of switch.  Maybe we could stick an

[2019-10-17 19:58] andrewboie commented on #19759
I don't see past history as germane to the discussion, and I think anyone should be able to speak freely about design points regardless of how long a particular implementation has been in place.

We have two platforms, ARC and x86 long which are expecting the switch handles to be valid thread pointers. ARC works around it at a cost of performance, x86 long currently crashes but for both we need a

[2019-10-17 20:44] jukkar commented on #19898
Using the routing code requires some extra work currently so enabling the NET_ROUTING by user is not possible atm. The reason is that the routing was used by RPL stack which was removed in 1.14. We did not remove the generic routing code as that can be used by by a separate RPL or similar implementation. Hopefully we could get RPL back in some future release in which case the routing code would be

[2019-10-17 20:45] #19898 closed

[2019-10-17 20:45] andrewboie commented on #19759
@andyross actually this still isn't optimal. For these platforms (x86 long, ARC) which store outgoing thread information in thread->arch, we have to take the address of switched_from parameter when calling z_arch_switch(), and this is immediately dereferenced. This is some extra overhead that I do not think is optimal.

AFAICT, switch design seems more oriented towards push all your outgoing conte

[2019-10-17 21:36] Laczen commented on #19769
You should use CONFIG_FLASH_LOAD_SIZE and CONFIG_FLASH_LOAD_OFFSET.

[2019-10-17 21:36] #19769 closed

[2019-10-17 22:47] pabigot opened #19904 "devicetree bindings: improve support for compatible compatibles"
The `st,lis12dh` driver supports multiple variants: SPI and I2C buses, and at least two variant chips `st,lis3dh` and `st,lis2dh12`.  PR #19901 adds a reference to the latter.

In the original submission checkpatch complained about:
[code]

It appears that to make this work we need to duplicate the YAML with the name of the alternative.  This means that the property descriptions are now replicated

[2019-10-18 03:04] Jeepgoing commented on #19038
@jfischer-phytec-iot  I tested the `branch:master`, unfortunately this question still exist

[2019-10-18 07:00] LingoMeng opened #19910 "Bluetooth: Mesh: Thread stack can reduce by use malloc&free function"
https://github.com/zephyrproject-rtos/zephyr/blob/f79fbac101f8febb459acee577e9f6b76e00acc0/subsys/bluetooth/mesh/transport.c#L610-L615

Just as above code, when `sdu_recv` be called, stack will occupy at least `CONFIG_BT_MESH_RX_SDU_MAX ` octers, this problem occurs in many places. I think we can replace a large number of stack uses with heap.

[2019-10-18 07:19] erwango commented on #19038
@Jeepgoing, can you create an issue if there is none yet?

[2019-10-18 07:49] agansari commented on #16167
Closed via #19714, feature will be available once #18530 is merged

[2019-10-18 07:49] #16167 closed

[2019-10-18 08:10] Jeepgoing commented on #19038
@jfischer-phytec-iot  I mean this issue [#19038](https://github.com/zephyrproject-rtos/zephyr/issues/19038)  has't solved.

[2019-10-18 08:45] chen-png opened #19914 "tests/net/shell failed on sam_e70 board."
**Describe the bug**
It was the same error with #19762. After adding CONFIG_MAIN_STACK_SIZE=2048 to the test prj.conf, it works well.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=sam_e70_xplained  tests/net/shell
2. west flash
3. See error

**Screenshots or console output**
I: Device I2C_0 initialized
I: MAC: fc:c2:3d:11:fc:09
I: Queue 0 activated
I: Queue 1 set to idle
I: Q

[2019-10-18 08:51] chen-png opened #19915 "tests/net/icmpv6 failed on sam_e70 board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=sam_e70_xplained tests/net/icmpv6
2. west flash
3. See error

**Screenshots or console output**
******Booting Zephyr OS build zephyr-v2.0.0-1278-gf79fbac101f8 *****
Running test suite test_icmpv6_fn

starting test - test_icmpv6

    Assertion failed at ZEPHYR_BASE/tests/net/icmpv6/src/main.c:105: test_icmpv6: (pkt is NULL)
Allocati

[2019-10-18 10:04] rakons opened #19916 "Limit non-trivial void pointer casting"
## Introduction

This is an example of bad habit pointer casting:
[code]

That is used inside gatt_send:
[code]

1. There is no real reason for the `param` to be `void` pointer type.
2. we are casting between different structures only relaying on the fact that very first field inside `bt_gatt_discover_params` structure is bt_att_req structure:

[code]

It would work as long as nobody changes bt_ga

[2019-10-18 10:16] nvlsianpu commented on #19916
For meeting that we would invest lot of efforts from people who are experts in each area.

I would say that what is wrote above should land in the codding standard.

Generally I like the idea - such non-trivial pointer casting usually generates ugly regression bugs, which are impossible to be spotted in code review and also occurred in not modified code.

[2019-10-18 11:43] rugeGerritsen opened #19917 "Bluetooth: Controller: Missing LL_ENC_RSP after HCI LTK Negative Reply"
**Describe the bug**
In the Encryption Start Procedure, for the case when the host does not provide an LTK, the controller is supposed to send an LL_ENC_RSP before sending LL_REJECT_IND or LL_REJECT_EXT_IND.

**To Reproduce**
1. Modify hci_core.c, `le_ltk_request()` to always call `le_ltk_neg_reply()`:
[code]
2. Build the peripheral_hr sample
3. Connect and try bonding, expect it to fail.
4. Obser

[2019-10-18 11:43] rugeGerritsen commented on #19917
@cvinayak, FYI

[2019-10-18 12:14] jukkar commented on #19543
There is not much we can do in this case, the application does not have enough resources to continue and it will exit.

[2019-10-18 12:23] SebastianBoe opened #19918 "Incremental builds broken for OpenAMP sample"
**Describe the bug**
When doing an incremental build only the "app" image will be rebuilt, changes to the "remote" image will not result in a rebuild. This corrupts the build as the produced binary does not match the source code.

**To Reproduce**
Steps to reproduce the behavior:
1. Do a full build
2. echo "// touch a file used by the remote image" >> $ZEPHYR_BASE/kernel/device.c
3. ninja
4. Obser

[2019-10-18 12:24] carlescufi commented on #19917
@rugeGerritsen Please specify which controller you are using, legacy or split

[2019-10-18 12:39] rugeGerritsen commented on #19917
Updated the bug description to state that this bug is present in 2.0.0, both the legacy and split controller

[2019-10-18 12:40] cvinayak commented on #19917
@rugeGerritsen Please try with CONFIG_BT_CTLR_FAST_ENC=y

[2019-10-18 12:51] carlescufi commented on #19917
Thanks @rugeGerritsen, this is indeed a bug. It will only be fixed in the split controller.

[2019-10-18 12:55] carlescufi commented on #19244
@nwsetec could you please add your observations here, from the email thread?

[2019-10-18 13:01] erwango commented on #19038
@Jeepgoing

So you mean it only fails on 1.4, but working on master?
If failing on master, let's add a ticket on master as well.

[2019-10-18 13:01] rugeGerritsen commented on #19917
The bug is not present when CONFIG_BT_CTLR_FAST_ENC=y. This is only enabled in the hci_uart example

[2019-10-18 13:05] carlescufi commented on #19700
@jimparis could you take a look at the response above and let us know what you think?

[2019-10-18 13:05] #19877 closed

[2019-10-18 13:17] jhedberg commented on #19916
Changing to use `&params->_req` and using the exact pointer type sounds good to me. What exactly static assertions would look like is a bit unclear to me.

[2019-10-18 13:20] jhedberg commented on #19910
Zephyr doesn't have a heap by default, and neither the Bluetooth stack nor the mesh code requires it. Creating a heap would therefore initially likely consume more memory than the current code. Additionally the current mempool-based allocator isn't super efficient. I remember seeing some work toward a better heap allocator, so we could potentially reconsider this in the future.

Another drawback o

[2019-10-18 13:27] rakons commented on #19916
Just for example, very simple structure layout checking:
[code]

[2019-10-18 13:35] mped-oticon opened #19922 "Linear time to give L2CAP credits"
We observe an Android master issuing an L2CAP Connection Request, granting us (as peripheral) ~65000 credits. That results in a call to `l2cap_chan_tx_give_credits()` that takes a long time to return and causes connection time out and 100% CPU load for whole duration (>4 seconds for us).

Credits are implemented using a counting semphore, but the BT Host code is currently only able to increment it

[2019-10-18 13:46] #12961 closed

[2019-10-18 14:24] abrodkin commented on #19885
Nope with removed `SCHED_IPI_SUPPORTED` I only see this:
[code]
And no progress further. That said it's more than with `SCHED_IPI_SUPPORTED` but still pretty far from the end :)

@vonhust seems to have something here https://github.com/foss-for-synopsys-dwc-arc-processors/zephyr/tree/topic-fixes-smp which allows me to get to the end of SMP test suite, he'll be publishing it soon as a pull-request.

[2019-10-18 14:53] andyross commented on #19759
Well, at least we've moved from "fundamental flaw" to "still isn't optimal", I guess.  The dereference isn't actually needed, it's just the way the code works right now.  You can recover the thread pointer from the field address with a subtract.  I'll submit something later today.

But yes: this was designed with the intent of allowing stack-based context frames to be implemented naturally.  But i

[2019-10-18 16:23] andrewboie commented on #19759
Thanks.

My understanding at this point is that if the switch handles are stack locations, this all works flawlessly and there are no problems with the design.

However if the handles are something related to the thread struct, or the thread struct itself, I think we have some extra overhead, and these unanticipated problems with dummy thread initialization.

Does it make sense to make a documenta

[2019-10-18 16:37] andrewboie opened #19932 "migrate arches from z_arch_swap to z_arch_switch"
Right now we have two different mechanisms in Zephyr for context switching, the older swap-based method and the newer switch. We want to move all architectures to use z_arch_switch() for context switching, and remove all traces of the old way of doing it from the kernel.

List of arches that will need porting:

- [ ] Nios II
- [ ] ARM
- [ ] Risc V
- [ ] Native Posix
- [ ] x86 (32-bit, x86 long is

[2019-10-18 18:22] #19889 closed

[2019-10-18 18:51] erwango commented on #10256
Fixed by #19277

[2019-10-18 18:51] #10256 closed

[2019-10-18 18:53] erwango commented on #19270
Fixed by #19607

[2019-10-18 18:53] #19270 closed

[2019-10-18 18:54] erwango commented on #16935
@dbkinder feel free to close.

[2019-10-18 18:55] erwango commented on #7564
@galak ping

[2019-10-18 19:52] ceolin commented on #19380
my 5 cents here, we should forbidden this kind o feature. This is totally error prone, the variable is defined in each translation unit that the function is used, and the behaviour is likely not what the developer wanted, this will work as static for each translation unit but not globally.

@marc-hb  @tautologyclub is there anything gating this change ? I can easily do a coccinelle script to chang

[2019-10-18 21:13] #16721 closed

[2019-10-18 21:13] #17064 closed

[2019-10-18 21:13] #17234 closed

[2019-10-18 21:13] #17430 closed

[2019-10-18 21:13] #17892 closed

[2019-10-18 21:13] #18787 closed

[2019-10-18 21:14] #19837 closed

[2019-10-18 21:14] #19456 closed

[2019-10-18 21:15] ioannisg commented on #16210
@andrewboie I was thinking to pick this up. Isn't the solution as simple as not using KThread Stack Define macro to define the interrupt stack?

[2019-10-18 21:15] #19353 closed

[2019-10-18 21:15] #19235 closed

[2019-10-18 21:15] #19307 closed

[2019-10-18 21:19] nashif commented on #13000
should be implemented now.

[2019-10-18 21:19] #13000 closed

[2019-10-18 21:19] nashif commented on #17239
fixed in new sanitycheck

[2019-10-18 21:19] #17239 closed

[2019-10-18 21:22] ioannisg commented on #19717
So can this issue be closed now?

[2019-10-18 23:29] andrewboie commented on #16210
@ioannisg I think so, but I think that #13637 will also fix it nicely, to the point where I suspect that this ticket could be treated as a duplicate.

[2019-10-18 23:30] andrewboie commented on #13637
This is on my plate for 2.1, will send a PR in the next week or so

[2019-10-18 23:46] andrewboie commented on #15604
I think so, yes.
Is this a situation where it's not turned on the board config, instead relying on tests and so forth to turn it on instead? Seems like it ought to be in the platform defconfig for Apollo Lake and Upsquared.

[2019-10-19 02:43] stephanosio commented on #19717
Yes, all proposed changes have been implemented in #19875.

[2019-10-19 02:43] #19717 closed

[2019-10-19 07:19] tautologyclub commented on #19380
Well I think it definitely should be done, but I didn't get the impression that there is buyin from everyone involved. To me that sprintf looks like it's 100% begging for trouble.

[2019-10-19 12:56] nashif opened #19963 "settings test tests/subsys/settings/fcb/raw failing"
A bug in sanitycheck let a a failing test go in un-noticed. The issue was introduced in 0b0f375190c061dedfe7c454a0d4d89bc43b99fd part of PR #19541.

This can now be seen here:

https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/53822/1/tests

[2019-10-19 12:56] nashif commented on #19963
@carlescufi  fyi

[2019-10-19 18:23] andrewboie commented on #19380
I agree. People should not be doing this.

[2019-10-19 19:08] #19734 closed

[2019-10-19 19:09] #19759 closed

[2019-10-19 19:33] ioannisg commented on #13637
Thanks @andrewboie !

[2019-10-19 19:50] andrewboie commented on #17832
I didn't get this far. Right now we just generate a single get of page tables (or two if KPTI is turned on).

Back when I was implementing per-thread page tables for 32-bit, I considered having a master PDPT and just updating pointers to the first PDE when switching between threads. I decided not to do it at the time because it would make the switching more complex than a simple cr3 update.

[2019-10-20 12:03] pabigot opened #19969 "[TOPIC-GPIO] mcux driver problems with pull configuration"
`gpio_basic_api` currently passes on the topic branch, but #19553 has not yet been merged.  What it does is make sure that `gpio_pin_interrupt_configure()` is not invoked from `gpio_pin_configure()` unless the flags include either enabling or disabling interrupts.

If `gpio_pin_interrupt_configure()` is not invoked from `gpio_pin_configure()` `gpio_mcux` starts to fail `gpio_basic_api` because in

[2019-10-20 15:28] #19910 closed

[2019-10-20 17:46] mnkp commented on #19969
@pabigot Could you introduce a delay between the call to `gpio_pin_configure` and the moment you attempt to read out pin input level. The pull up resistors have typically large values, if there is any capacitance attached to the pin it will take a moment for the value to change.

[2019-10-20 18:20] pabigot commented on #19969
Thanks; I've verified that the problem does disappear with a delay before reading the signal.

[2019-10-20 19:53] henrikbrixandersen commented on #15659
@kestewart Good idea. However, the suggested way to of doing this (extracting the SPDX tag from each compiled source file) will not work well for 3rd party modules, where we cannot enforce an SPDX tag in each source file. I have no good solution for that.

[2019-10-21 01:02] nwsetec commented on #19244
Link to Zephyr mailing lists thread: https://lists.zephyrproject.org/g/users/topic/34540601#1741

After turning off scanning, reducing the BLE connection interval, increasing receive buffer sizes and enabling dynamic length extensions (DLE) I had a similar upper DFU speed of roughly 6kB/s.

I did some packet sniffing logs and shared with @cvinayak and he confirmed that BLE connection was not the b

[2019-10-21 06:21] rakons commented on #19963
Just after quick look into test - it seems that the test requires update. After PR #19541, fcb backend does not call element callback when element was deleted (no history is presented), and test requires the callback to be called with element size equal 0.

[2019-10-21 06:58] #19914 closed

[2019-10-21 09:42] StefJar commented on #19545
any news on that feature implementation?

[2019-10-21 10:41] aescolar commented on #19899
@ulfalizer note that BIG_ENDIAN is for off-tree architectures which are bigendian.

[2019-10-21 11:01] #19398 closed

[2019-10-21 11:11] stephanosio opened #19979 "Implement Cortex-R floating-point support"
At the time of writing, ARM Cortex-R port does not support the use of hardware floating-point unit (VFP and NEON).

Considering common application scenarios for Cortex-R (real-time processing), it is imperative that hardware floating-point unit support is available for it; otherwise, practical usability of the Cortex-R port becomes questionable.

## Overview
An overview of the hardware floating-po

[2019-10-21 12:56] #19963 closed

[2019-10-21 13:22] wentongwu opened #19982 "Periodically wake up log process thread consume more power"
**Describe the bug**
Periodically wake up log process thread consume more power if system
already in sleep or deep sleep state.

**Expected behavior**
log process thread shouldn't wake up system if no pending log message.

[2019-10-21 14:28] carlescufi commented on #19685
@vikrant8051 could you please give us detailed steps on how to reproduce this problem? And if possible the version of master that you are using (commit SHA).

[2019-10-21 14:31] carlescufi commented on #19051
@PhilippFinke you can also stay on 2.0.0 and then enable the legacy controller instead of the split one. Please ensure to do that in your `prj.conf` file. That's the options you have so far. I will close this issue and feel free to reopen or create a new one if you still experience problems.

[2019-10-21 14:32] carlescufi commented on #18583
Closing this due to inactivity.  Feel free to reopen if this is still a problem in the latest mater.

[2019-10-21 16:34] vikrant8051 commented on #19685
@carlescufi
I have tested the things with latest master branch for all available #BluetoothMesh App in it on nrf52_pca10056 board.

You have to just build the code as usual using West build & West flash & that's it.

Mesh node not allow you to provision it.

(I also tried to erase entire flash & then burnt the new image. Even after that getting same result)

I always prefer to do testing with Apps

[2019-10-21 21:17] linus-te opened #20000 "Invalid callback parameters in drivers/serial/uart_nrfx_uarte.c (using async API)"
**Describe the bug**

Data is received via the nRFx UARTE driver, using the experimental asynchronous API, with hardware counting enabled. As buffers fill up, new ones are requested by the driver using callbacks, and in our application we supply them in a round-robin fashion from a pre-allocated set. When some data has been received, the application is notified by means of a calllback (RX_RDY) wit

[2019-10-22 00:17] ulfalizer commented on #19904
Looks like `scripts/checkpatch.pl` is just doing a recursive grep for the strings in `dts/bindings/`. Maybe it could be hacked around with a comment like

    # Mention this compatible just to make checkpatch.pl happy
    # st,lis2dh12

Would that get awkward?

[2019-10-22 01:41] chen-png opened #20007 "tests/net/mld failed on mimxrt1050_evk board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=mimxrt1050_evk -p=auto tests/net/mld
2. west flash
3. See error

**Screenshots or console output**
E: ***** USAGE FAULT *****
E:   Unaligned memory access
E: r0/a1:  0x00000000  r1/a2:  0x6000e041  r2/a3:  0x00000000
E: r3/a4:  0xf88899e5 r12/ip:  0x00000000 r14/lr:  0x60003feb
E:  xpsr:  0x41000000
E: Faulting instruction address

[2019-10-22 02:56] ulfalizer commented on #19899
Thanks, removed that one.

Suspect there's other "false positives" in there too. This is unrelated to the all the unused symbol PRs btw.

[2019-10-22 06:12] #19915 closed

[2019-10-22 06:21] stephanosio commented on #11172
@timork Hi, I'm working on various improvements to the Cortex-R port at this time and wanted to know how you are handling the following issues on the Cortex-A port (since Cortex-R is very similar to Cortex-A, I would like to make sure that the "improvements" that I am about to make aren't already implemented in the Cortex-A port):

1. Context switching with Shared FP registers mode: is it implemen

[2019-10-22 06:55] jukkar commented on #20007
I have this board but I cannot flash it in order to try to see what is going on with the test. I will create separate issue for the flashing problems.

[2019-10-22 07:08] jukkar opened #20010 "Cannot flash mimxrt1050_evk board"
I have a imxrt1050-evkb board but I cannot flash it. I have followed the instructions at https://docs.zephyrproject.org/latest/boards/arm/mimxrt1050_evk/doc/index.html#option-1-opensda-jlink-onboard-debug-probe-recommended but no luck. This happens with Fedora 30.

Is there anything I am doing wrong here or any hints how to solve this issue.

[code]

[2019-10-22 07:32] jukkar commented on #20007
Update: I have two mimxrt1050_evk boards. The other one is using OpenSDA J-Link Onboard Debug Probe and that I cannot flash with "make flash" command. The other board is in "usb mass storage" mode and that I managed to flash by copying the zephyr.bin to it (flashing the device this way is quite cumbersome). Anyway, the mld test program does not crash in my test so I need to figure out what is goin

[2019-10-22 07:35] timork commented on #11172
@timork vladimir-podbrezsky
Please answer to stephanosio.

[2019-10-22 07:45] agansari commented on #20010
Hello @jukkar from the information listed above, i think your core is stuck with some bad code and can't be flashed.

Do the following:
 - unplug the board
 - move dip switch from 0110 -> 1110 (this will prevent CPU booting from external flash)
 - use J-Link commander (JLinkExe command on Linux) and run the following commands
         - connect
         - MIMXRT1052CVL5B
         - S (SWD)

[2019-10-22 08:11] gon1332 opened #20012 "Support peripheral deallocation at runtime"
**Is your feature request related to a problem? Please describe.**
Until now, Zephyr allows enabling of the needed peripherals at compile time via Kconfig infrastructure. This is done to reduce code size. In this way the firmware expects that the needed peripheral devices are connected. If the devices are not connected, e.g. a disconnected shield, the firmware can handle this by omitting reading f

[2019-10-22 08:41] vladimir-podbrezsky commented on #11172
Hello,
My name is Vladimir and am working currently on support of Cortex-A55 for Zephyr RTOS.
1. Currently, we do not save/restore FP registers while context switch. If we start to use FP operations I’ll add this support
2 .Nesting should be supported in our code, but I did not verify it. We decided not to support interrupt nesting in the project. I can check it later.
3. We have plan to support S

[2019-10-22 08:53] stephanosio commented on #11172
@vladimir-podbrezsky @timork Thanks for the prompt response.

Okay. In that case, I will proceed with the task #19979 "Implement Cortex-R floating-point support". This should support Cortex-A too.

Would you mind sharing `isr_wrapper.S` (or something equivalent in your code) code so I can check if it can support interrupt nesting? If it is implemented like the current Cortex-R port (which cannot s

[2019-10-22 09:25] vaussard opened #20016 "STM32F4: cannot erase sectors from bank2"
**Describe the bug**
I am using a STM32F479 (with 2MB of Flash, 1MB in each bank). Calling `flash_erase()` on the 1st sector of the 2nd bank returns -EIO (but the problem affects all sectors of the 2nd bank). This is caused by the Flash setting the FLASH_SR.WRPERR flag.

The STM32F4 flash driver assumes that the sector index can be computed as `regs->cr |= FLASH_CR_SER | (sector << 3);` for any se

[2019-10-22 09:38] vaussard commented on #20016
FYI @erwango

[2019-10-22 09:52] jukkar commented on #20010
Hi @agansari done that
[code]
Did not change the outcome, flashing fails. Verified that the flash output log is identical as before.

[2019-10-22 10:06] Vudentz commented on #19922
Giving many should be doable, I guess the only extra work is to waking up logic since that could mean more than one thread could be awaken in the process.

[2019-10-22 10:09] jukkar commented on #20007
Just tried this with latest upstream commit 1f97946358f048ca7201d27b298b234cb29af3ab and I am not seeing the issue. Flashed the device with commit f0fa7b8 and the issue is present. I am assuming here that the issue has been already fixed so closing this one. Please try with later commit and re-open if you see the issue again.

[2019-10-22 10:09] #20007 closed

[2019-10-22 10:12] Vudentz commented on #19922
After a quick chat it seems it would be fine to use k_sem_init and only do l2cap_chan_tx_give_credits for restoring credits which should restore less credits in a row, still that would benefit from having an alternative to k_sem_give.

[2019-10-22 11:04] carlescufi opened #20017 "Convert GPIO users to new GPIO API"
List of users to convert:

**Boards (DONE)**

Module | Assignee | PR | Done
------ | -------- | -- | ----
boards/arm/actinius_icarus| @anangl |#20798|✓
boards/arm/degu_evk| @anangl |#20798|✓
boards/arm/hexiwear_k64| @MaureenHelm |#21346|✓
~~boards/arm/mimxrt1020_evk~~|@MaureenHelm ||N/A - uses hal driver directly
~~boards/arm/mimxrt1050_evk~~|@MaureenHelm ||N/A - uses hal driver directly
~~boards/

[2019-10-22 11:08] tbursztyka commented on #17902
@fabled got some time to work on this, trying to get something as flexible as possible. Here how it would look like:
[code]

This should be fixing: double data rate (DDR), dual, quad and octal modes.  (note that DDR is not tight to any mode).

- idea would be to provide instruction and address in the same spi_buf, and data next.
- if mode flags is 0: it's data.
- the selected  enhanced mode is sti

[2019-10-22 11:18] agansari commented on #20010
![Capture](https://user-images.githubusercontent.com/43028145/67280800-a03c5d00-f4d6-11e9-8d69-13639e8d77c8.PNG)

Can you please check your jumpers?
I attached an image with my board.

[2019-10-22 11:20] agansari commented on #20010
![20191022_103111](https://user-images.githubusercontent.com/43028145/67280894-d679dc80-f4d6-11e9-84c5-7ed0502a5970.jpg)

@jukkar can you check the jumpers on your board? I attached an image of mine.

[2019-10-22 11:47] jukkar commented on #20010
The J27 (upper right corner) was set differently in my board, but changing it like you have, did not make any difference in flashing.

[2019-10-22 12:11] erwango commented on #20016
Thanks @vaussard.
@superna9999, fyi.

[2019-10-22 13:16] agansari commented on #20010
@MaureenHelm do you have any ideea, and do we support daplink debug methods on this part?

[2019-10-22 13:31] karl-zh opened #20021 "Add a module to Zephyr to include TF-M project and it's related repos"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

Current we want Zephyr to pass [PSA certification ](https://www.arm.com/why-arm/architecture/platform-security-architecture) for security. And TF-M is an implementation that we want to merge. Currently, I have a [PR19985](https://github.com/zephyrproject-rtos/zephyr/pull/1998

[2019-10-22 14:06] aescolar opened #20022 "sanitycheck is not failing on build warnings"
**Describe the bug**
Sanitycheck is not failing (anymore) on build warnings

**To Reproduce**
Steps to reproduce the behavior:
1. Add some silly warning, e.g.
[code]
2. sanitycheck -p native_posix  -T samples/hello_world/
[code]
3. But the build warning is clearly in the log:
```less sanity-out/native_posix/samples/hello_world/sample.helloworld/build.log```
[code]

**Expected behavior**
Sanitychec

[2019-10-22 14:31] carlescufi commented on #20021
@karl-zh thanks. Can you add a link to the tf-m repo and its license?

[2019-10-22 14:49] karl-zh commented on #20021
https://git.trustedfirmware.org/trusted-firmware-m.git/

BSD-3

[2019-10-22 14:54] kestewart commented on #17545
"Public Domain" as a concept varies from jurisdiction to jurisdiction, so its a bit awkward some ways to handle.    There are a couple of license on the SPDX list that encompass the public domain concept,  but the term public-domain is not a valid license, and so shouldn't be used in SPDX-License-Id:  statement.

In particular,  if it fits,  can you use https://spdx.org/licenses/Unlicense.html?

@

[2019-10-22 15:16] pfalcon commented on #16376
This was created based on the mailing list discussion (linked above) to capture any further info and coordinate development. I guess by now it's fair to say that it didn't catch development momentum. So, as the submitter of this ticket, I'd prefer to close it for now. It can be reopened and stakeholders for this feature will appear.

[2019-10-22 15:16] #16376 closed

[2019-10-22 15:26] pfalcon commented on #13943
I tried to bisect the tree to check behavior of eth_stellaris before the net_buf refactor. But the situation is that it effectively was merged in the midst of it, and initially, not fully operational, as it needed updates for already merged refactoring patches. In other words, there's no in-tree bisect point, where the driver worked better than it does now, and in early days it was not buildable a

[2019-10-22 15:26] pabigot opened #20026 "sanitycheck corrupts stty in some cases"
Manual runs of sanitycheck since 83fc06a8feb6074d1baaa0e93c56e4de76c578bb periodically complete with the following stty settings changed:

    -brkint -icrnl -ixon -icanon -echo

This is something like what I would expect if `stty sane` was not invoked at a necessary time.

I can reproduce this with some regularity with:

    sanitycheck -p mps2_an385 -T tests/kernel/

but it doesn't always leave

[2019-10-22 17:11] dleach02 commented on #19438
@mfiumara , Can you retest based on the merged #19858?

[2019-10-22 17:12] pabigot commented on #19969
Should be resolved.

[2019-10-22 17:12] #19969 closed

[2019-10-22 17:19] dleach02 commented on #19813
@ioannisg will cherry pick and merge to 1.14

[2019-10-22 17:32] dleach02 commented on #19918
@SebastianBoe , can you own this issue?

[2019-10-22 17:40] dleach02 commented on #20016
@erwango , I've assigned this to you. Please modify assignment where appropriate. We have also given it a medium priority.

[2019-10-22 17:44] pabigot commented on #19692
Should be closed by #19782

[2019-10-22 17:44] #19692 closed

[2019-10-22 17:46] Vudentz commented on #19922
@andrewboie It might be possible to do something like:

https://github.com/zephyrproject-rtos/zephyr/blob/master/kernel/queue.c#L232

So we unpend the number of threads based on the counter, prepare the threads to run, assign the new counter and finally reschedule.

[2019-10-22 18:03] jukkar commented on #20010
Is it possible that the board is just broken if the flashing fails like this?

[2019-10-22 18:03] tautologyclub commented on #19380
@ceolin first you should find the instances with coccinelle, I doubt my search was exhaustive

[2019-10-22 18:34] maxvankessel opened #20030 "stm32 can: zcan_frame from fifo uninitialized"
**Describe the bug**
`struct zcan_frame` is uninitialized at entering the `can_stm32_rx_isr_handler`.
It's filled by `can_stm32_get_msg_fifo`. If a standard frame is provided, the `ext_id` part of the reserved union of the `zcan_frame` might contain invalid data. This seems not to be a problem because the `id_type` is set to standard, which tells us it's a standard frame.

But when the socketcan d

[2019-10-22 19:02] mbolivar commented on #12206
@carlescufi @rlubos can this be closed? Didn't c6c20f0890aa86aa779e647cf92c82f92049c851 fix the issue?

[2019-10-22 19:10] mbolivar opened #20032 "Make it clear in HTML docs what monospaced text is a link"
**Is your enhancement proposal related to a problem? Please describe.**
The HTML docs use the same presentation for code whether or not the text is a link.

Example screenshot (from https://docs.zephyrproject.org/latest/reference/networking/net_buf.html):

----------

![Screenshot from 2019-10-22 12-07-18](https://user-images.githubusercontent.com/35088/67321583-872ab080-f4c4-11e9-8e53-fc3ed040e29

[2019-10-22 19:11] #19871 closed

[2019-10-22 19:16] albertofloyd opened #20033 "Thread suspend only works if followed by k_sleep in thread that is performing the suspension"
In our Zephyr app we have a task handler that suspends all threads used by the app.
If k_thread_suspend is not followed by k_sleep() threads do not get suspended.

Same behavior can be reproduced by modifying the following test code
zephyr\tests\kernel\threads\thread_apis\src\test_threads_suspend_resume.c

	/* checkpoint: suspend current thread */
	k_thread_suspend(tid);
	/* k_sleep(K_MSEC(100));

[2019-10-22 19:31] aurel32 commented on #12206
I confirm that the openthread module now contains the openthread code, so it is not downloaded anymore for each build.

[2019-10-22 19:34] #19867 closed

[2019-10-23 00:43] chen-png commented on #20007
yes, for the new commit, this issue isn't present.

[2019-10-23 06:03] pfalcon commented on #19164
native_posix* targets: a) leak host headers into the build; b) not compatible with Zephyr POSIX subsystem (because there's no proper separation between host vs Zephyr POSIX layers). This is known problem, see e.g. https://github.com/zephyrproject-rtos/zephyr/issues/13054

Unassigning from myself and assigning to @aescolar. I'd also suggest to lower priority of this (because this is effectively a k

[2019-10-23 06:14] agansari commented on #20010
That is a possibility and a probability.
CPU should not be bricked unless there is a bit of code that does something to lockup the CPU, or some fuse or configuration preventing it from being flashed.

I can only point you to NXP's support pages such as this:
https://community.nxp.com/thread/503292

[2019-10-23 06:23] jukkar opened #20042 "Telnet can connect only once"
When connecting to zephyr using telnet, it works for once but after disconnecting a new connection will fail.

[2019-10-23 06:54] stephanosio commented on #3056
@nashif As far as I am aware, this is still an issue because I just encountered the exact same problem while implementing direct ISR with nested interrupt support for Cortex-R.

[2019-10-23 06:59] #20032 closed

[2019-10-23 07:05] abrodkin commented on #19885
@vonhust any chance to publish your fixes for SMP anytime soon?

[2019-10-23 07:08] stephanosio commented on #3056
In fact, this exact issue is still referenced in the code:

https://github.com/zephyrproject-rtos/zephyr/blob/cc1b94c38899404df771eb5d10dc6aaaccde7a7d/include/arch/x86/ia32/arch.h#L238

https://github.com/zephyrproject-rtos/zephyr/blob/8ffff144ea73e43d459559b6ca19b1ca0ebd0ec9/arch/x86/core/ia32/irq_manage.c#L41-L48

https://github.com/zephyrproject-rtos/zephyr/blob/8ffff144ea73e43d459559b6ca19b1ca

[2019-10-23 07:12] rlubos commented on #12206
Yeah, I guess we can close it.

[2019-10-23 07:12] #12206 closed

[2019-10-23 07:30] jukkar commented on #20010
@agansari thanks for the link, it contained useful instructions. I managed to flash the board by "make flash" and then same time resetting the board. It takes usually several times but eventually the board is flashed.
Pressing reset while flashing is a bit cumbersome way.

[2019-10-23 07:32] jukkar commented on #20010
Just a reference log when the flashing succeeds
[code]

[2019-10-23 07:34] aescolar commented on #19164
@ehudmarvell This is a not a bug as such, as much as something that was willingly chosen to stop supporting :( . You can see some history in #13054. You can also see #13540 where the [POSIX API shim was disabled in native_posix targets](https://github.com/zephyrproject-rtos/zephyr/pull/13540/files#diff-e9002f99f8723c1e1e2492da615d0e88).
I will be closing this ticket as you are trying to do somethi

[2019-10-23 07:34] #19164 closed

[2019-10-23 07:35] agansari commented on #20010
@jukkar glad to hear you unbricked your board.

Solution: flash several times while holding reset.

[2019-10-23 07:37] jukkar commented on #20010
I am not sure if this can be called unbricking :) but anyway the board is somewhat usable but in a very cumbersome way.

[2019-10-23 07:37] #20010 closed

[2019-10-23 08:17] vonhust opened #20045 "z_sched_abort: sched_spinlock should be released before k_busy_wait"
**Describe the bug**
In z_sched_abort of thread_abort.c
[code]
the sched_spinlock should be released before k_busy_wait(100),  if not released,  other cores cannot get the sched_spinlock during k_busy_wait(100).  This will worse the compete of locks, especially for cores >= 4

[2019-10-23 09:10] pfalcon commented on #11717
Weird I didn't see this year-old issue, I'm suffering from it all this time.

To remind a short history with qemu_x86 options: we used to have different set of options, which didn't use SeaBIOS and thus didn't clear screen. But that config had its own weird issues and corner cases, e.g. we had issues with https://github.com/zephyrproject-rtos/zephyr/pull/9112, which worked for the original author,

[2019-10-23 09:47] aescolar opened #20049 "Build warnings in tests/unit/intmath/utilities.intmath"
**Describe the bug**
There is build warnings in tests/unit/intmath/utilities.intmath
This must be fixed ASAP, as they prevent https://github.com/zephyrproject-rtos/zephyr/pull/20025 from being merged, and because of it, more build warnings are getting into master

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p unit_testing -T tests/unit/intmath/
2. less sanity-out/unit_testing

[2019-10-23 09:50] aescolar commented on #20049
CC @nashif

[2019-10-23 11:20] pabigot commented on #19904
I don't think it'd get awkward, but it should probably be handled by an explicit entry exposed in the YAML either by making the `compatible`  key accept a list, or adding an `also-compatible` key with non-primary entries.

I think we may have touched on this before somewhere, regarding the change in how `compatible` works in devicetree between the original text model and DTSchema.  Though in both

[2019-10-23 11:24] erwango commented on #12703
@pabigot, can we close this point?

[2019-10-23 11:33] pabigot commented on #12703
Yes, I think the nexus node capability handles this.

Wonder if I still have those patches anywhere....

[2019-10-23 11:33] #12703 closed

[2019-10-23 11:59] #19697 closed

[2019-10-23 12:55] nvlsianpu commented on #12969
fixed by https://github.com/zephyrproject-rtos/zephyr/pull/16711 (`settings_load_subtree()` API)
even enhanced by https://github.com/zephyrproject-rtos/zephyr/pull/19541 + https://github.com/zephyrproject-rtos/zephyr/pull/19077 (`settings_load_subtree_direct()` API)

[2019-10-23 12:55] #12969 closed

[2019-10-23 13:01] vikrant8051 commented on #20017
@carlescufi
Is that mean I have to update said Apps (via submitting new PRs) with latest GPIO APIs ?

[2019-10-23 13:15] carlescufi commented on #20017
Yes, please. Send a Pull Request against the `topic-gpio` branch, since that is the branch we are targeting, not `master`.

[2019-10-23 13:29] vikrant8051 commented on #20017
@carlescufi

https://github.com/zephyrproject-rtos/zephyr/pull/16648/commits/ff873b8a49b30cc7b20c91d7fee058d30d060d33 & we have to take reference from this link for modifications (for nrfx). right ?

[2019-10-23 13:31] carlescufi commented on #20017
That is modifying an actual GPIO driver, not a user of it. Take a look at the one of the PRs listed in the table in the main description of the issue to get a better feeling.

[2019-10-23 13:34] pabigot commented on #20017
@vikrant8051 Specifically you should look at the commits with these subjects:
* 2c6af1f36d [Mon Jun 3 12:29:18 2019 +0200] samples: button: update to use new GPIO API
* 254e3324e1 [Tue Jan 29 00:33:10 2019 +0100] samples: blinky: update to use new GPIO API

since the only GPIO use in the samples you're responsible for are toggling LEDs and responding to button presses.  The only significant change

[2019-10-23 13:47] zakariae87 commented on #19592
There is something wrong in tutorial, can't add pluging via "help" -> "install New Software".
No URL available :(

[2019-10-23 15:10] victorrsoliveira opened #20068 "Application doesn't start when SHELL-UART is enabled and UART is not connected on STM32F0"
**Describe the bug**
I am doing a project with the MCU **STM32F091RC** and whenever I enable SHELL-UART through `CONFIG_SHELL=y` in the **prj.conf** file, the application stops working.

The application I am testing is below, just printing a `Hello World` and blinking an LED. Note that I do not create shell commands. I've just enabled it in the **prj.conf** file.

[code]

The file **prj.conf** is

[2019-10-23 15:27] dcpleung commented on #19592
We are currently enabling CI, and find a home for it. We are going to make an announcement once these are done.

[2019-10-23 15:45] erwango opened #20070 "Board flash partitions can't be tested in tree"
**Is your enhancement proposal related to a problem? Please describe.**
Some boards provide a flash partition which is configured to work with a bootloader, generally mcuboot, which is an external component.
This flash partition is also used by in tree components, such as NVS, which use the `storage` partition that may impose some constraints on the whole flash partition (at least 2 sectors, less

[2019-10-23 15:46] erwango commented on #20070
@Laczen

[2019-10-23 15:48] carlescufi commented on #20070
@erwango https://github.com/zephyrproject-rtos/zephyr/pull/17868

[2019-10-23 15:51] erwango commented on #20070
@carlescufi, I've seen this but do we want to build mcuboot in all samples that rely on board flash partition ?

[2019-10-23 15:54] carlescufi commented on #20070
Perhaps not, but it wouldn't be too difficult to do so either. There is even a proposal to do this automatically in CMake, that we use internally: https://github.com/zephyrproject-rtos/zephyr/pull/13672

[2019-10-23 15:54] #16791 closed

[2019-10-23 16:00] #20022 closed

[2019-10-23 16:15] Laczen commented on #20070
@carlescufi, it might be a bit more difficult. There are boards were the standard mcuboot partitioning will not work in combination with storage. These boards typically have small flash pages at the start and larger at the end of the flash region. In this case mcuboot should work as a secondary loader.
Mcuboot is too tightly integrated in zephyr, instead of integrating it even more like in #17868

[2019-10-23 16:47] solsbarry opened #20071 "Incompatible pointer types in Nordic Driver"
**Describe the bug**
I added the config option
`CONFIG_NEWLIB_LIBC=y`
To my prj.conf file, and I get 13 warning from this file:
`zephyr/ext/hal/nordic/nrfx/drivers/src/nrfx_usbd.c`
The warnings are all
`passing argument 1 of 'atomic_and' from incompatible pointer type [-Wincompatible-pointer-types]`
`expected 'atomic_t *' {aka 'int *'} but argument is of type 'uint32_t *' {aka 'long unsigned int *

[2019-10-23 16:51] #20071 closed

[2019-10-23 16:52] solsbarry opened #20072 "Incompatible pointer types in Nordic Driver nrfx_usbd.h"
**Describe the bug**
I added the config option
`CONFIG_NEWLIB_LIBC=y`
To my prj.conf file, and I get 13 warning from this file:
`zephyr/ext/hal/nordic/nrfx/drivers/src/nrfx_usbd.c`
The warnings are all
`passing argument 1 of 'atomic_and' from incompatible pointer type [-Wincompatible-pointer-types]`
`expected 'atomic_t *' {aka 'int *'} but argument is of type 'uint32_t *' {aka 'long unsigned int *

[2019-10-23 18:32] d3zd3z commented on #3884
I agree that we can close this from the MQTT demo.

[2019-10-23 18:32] d3zd3z commented on #3885
@dleach02 do you think we can close this as part of your entropy changes?

[2019-10-23 18:36] d3zd3z commented on #6389
@dleach02 I think this can also be closed as part of your randomness work.

[2019-10-23 23:20] #11717 closed

[2019-10-24 02:17] dleach02 commented on #6389
@d3zd3z , yep. My intent was to get the csrand stuff merged then make a pass to start putting into use.

 #17736

[2019-10-24 05:30] andrewboie opened #20083 "add user mode emulation to native platform"
Right now native_posix doesn't support user mode. It would be a boon to testing non-architectural user space stuff if we could run tests in user mode, and allow us to show the correctness of system call verification functions and memory access configuration.

For memory access, we might investigate using POSIX mprotect() to simulate thread-level memory domain configuration. I'd expect the logic fo

[2019-10-24 05:31] andrewboie commented on #17893
moving this out.
the zephyr userspace dynamic object system needs an overhaul in general, which I hope to get to this winter.

[2019-10-24 06:18] ulfalizer opened #20086 "Broken-looking duplicated ESPI_XEC symbol"
`drivers/espi/Kconfig.xec` has this. I'm guessing the duplicated name wasn't intended.

[code]

(What that'll do is to create a single symbol with two different prompts btw. If you toggle one of them in the menuconfig, you'll see the other one change too.)

[2019-10-24 07:17] ioannisg commented on #16900
@smithp35 (if you are still around with this issue), I wonder, could we simply move the `mov r0, _main`, at the end, right before we use it at the `bl ` instruction? Would that work?

[2019-10-24 07:46] chen-png opened #20088 "tests/net/icmpv6/ failed on mimxrt1050_evk board."
**Describe the bug**
It was the same error as #20007, for the test cases in tests/net/ directory, there is always an error "Unaligned memory access".

**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b=mimxrt1050_evk -p=auto tests/net/icmpv6/
2.  west flash
3.  See error

**Screenshots or console output**
***** Booting Zephyr OS build zephyr-v2.0.0-1408-g83708567c9d9 *****

Runnin

[2019-10-24 10:52] wvk86 opened #20100 "Slave PTP clock time is updated with large value when Master PTP Clock time has changed"
**Describe the bug**
When performing gPTP time synchronization on two system connected directly to each other via Ethernet LAN cable. The PTP clock of the system running on Zephyr as Slave is updated with a very large value as close as UINT32_MAX (4,294,967,295).

**Hardware Setup/Software Configuration**
* Master
Intel i210 Ethernet Card
Clear Linux ver. 30450 kernel 5.1.17-796.native
ptp4l versi

[2019-10-24 11:18] alexanderwachter commented on #20030
@maxvankessel can you try this one?
[code]

[2019-10-24 11:38] alexanderwachter commented on #20030
@maxvankessel I just made a PR for that. #20102

[2019-10-24 11:47] maxvankessel commented on #20030
I will check this out this afternoon, but by the looks of it, this should fix it.

[2019-10-24 11:49] SebastianBoe opened #20104 "Kconfig is too slow"
**Is your enhancement proposal related to a problem? Please describe.**
Of the 1.5s or so that CMake spends in Configure-time and generation-time a third of this is spent in kconfig.py. This is longer than expected.

**Describe the solution you'd like**
I'd like to see some profiling and analysis describing, in human-readable words, what is going on in those 500ms. Also, if it is found that the ti

[2019-10-24 11:53] aescolar opened #20105 "tests/subsys/fs/fcb/ Using uninitialised memory/variables"
**Describe the bug**
tests/subsys/fs/fcb/ is using uninitialized varibles/memory

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake ../tests/subsys/fs/fcb/ -DBOARD=native_posix -GNinja
3. ninja
4. valgrind zephyr/zephyr.exe

**Expected behavior**
No use of un-initialized memory/variables

**Impact**
Unknown

**Screenshots or console output**
[code]

**Environment

[2019-10-24 11:57] SebastianBoe commented on #20104
Looking at sources.txt it seems that around half the sources are dependent on DT/HW properties and could be pruned.

[2019-10-24 12:10] rlubos commented on #6389
From the OpenThread point of view, this should be resolved in https://github.com/zephyrproject-rtos/zephyr/pull/20106, where I update the OpenThread version used with Zephyr.

The new OpenThread got rid of the `random.c` platform module, and introduced `entropy.c` which is supposed to serve as an entropy source for OpenThread (or rather mbedTLS which OT uses underneath). I've used the Zephyr's ent

[2019-10-24 12:31] ulfalizer commented on #20104
Pretty sure the parsing overhead is the only significant bit, but I could profile `kconfig.py` specifically a bit later to make sure. I've done a lot of profiling of the library itself.

Kconfiglib is already pretty optimized, so no major gains left there I think. It's just that speedy Python is still slow, especially for stuff like parsing. One thing that might shave some time is to inline a bunc

[2019-10-24 12:34] agansari commented on #16330
@MaureenHelm @galak I'm currently working on this issue and it's still under development. I want to make a proposition regarding this SoC.

Have only 2 targets:
 - lpcxpresso55s69 - cpu0 S and cpu1 NS
 - lpcxpresso55s69_ns - cpu0 NS

Currently we only have lpcxpresso55s69_cpu0 as a target, but I find cpu related split irelevant for this SoC; this is because the second cpu does not have security ex

[2019-10-24 12:41] pabigot opened #20109 "altera_nios2 support decision required"
Due to lack of support the [gpio driver for altera_nios2](https://github.com/zephyrproject-rtos/zephyr/issues/18530) is expected to be removed in about two weeks when 2.1 completes feature freeze.

It seems like that removing the GPIO driver will means the target platform should also be removed.  Probably sooner rather than later.

What's going to be done about this?

[2019-10-24 12:50] SebastianBoe commented on #20104
Using a poor man's profiler I found these:

[code]

zephyr_module is slow because it calls "west list", which takes 100ms. But I was unable to find out why west list was so slow.

west flash -h I have fixed, it was obsolete.

I'll look into gen_defines.py later.

Pruning via source "$(foo)" is acceptable, but I'd like to see some numbers demonstrating that this will be worth it.

e.g. in drivers/c

[2019-10-24 12:50] ahmukunda opened #20110 "Crash in hci_driver.c when create_connection_cancel is issued after create connection"
PLATFORM: NRF52832, sample project hci_uart
Commit: 566d07e00cce33f70ddc759d383950b9600c217b

HCI_LE_Create_Connection_Cancel command crashes pointing to hci_driver.c if sent after HCI_LE_Create_Connection command.
If HCI_LE_Create_Connection_Cancel is sent without sending HCI_LE_Create_Connection command, it executes as expected.

Execute the following commands to reproduce the behavior:
1. Send_

[2019-10-24 12:52] galak commented on #20104
Curious how pruning by source works?

[2019-10-24 12:54] SebastianBoe commented on #20104
You use information known pre-Kconfig, like the environment variable ARCH, to just source the ARCH relevant to you, instead of sourcing all arch's. We can increase the amount of pruning if we make DT symbols more accessible, e.g. accessible through environment variables.

[2019-10-24 12:57] ulfalizer commented on #20104
Can run preprocessor functions in `source`, so maybe that could be used.

[code]

The preprocessor runs during parsing. It's also used when expanding environment variables.

[2019-10-24 12:58] aescolar commented on #20110
CC @cvinayak @carlescufi

[2019-10-24 13:01] ulfalizer commented on #20104
I haven't put any effort into making `gen_defines.py` fast btw, so might be some possible gains there.

`zephyr_modules.py` seems pretty slow for how little it does. Might be library overhead and stuff though (the key to speedy Python is to have as little code as possible, because the interpreter overhead is huge).

[2019-10-24 13:05] ulfalizer commented on #20104
By the way, we should really ask ourselves if we can live with that 0.5s. Setting up the environment for building the docs and running Kconfig tests is already painful.

Another way to make things faster is to get rid of things that aren't needed in the Kconfig files, though I don't know how much stuff there's left.

[2019-10-24 13:15] carlescufi commented on #20110
We are hitting this assert: https://github.com/zephyrproject-rtos/zephyr/blob/6c34983ed22fefcb3dea4c8c7b24ba9e50fc6d68/subsys/bluetooth/controller/hci/hci_driver.c#L209

[2019-10-24 13:16] pabigot commented on #17902
The current SPI API falls short in support for devicetree features.  Particularly there should be `spi-cpha` and `spi-cpol` boolean properties in SPI clients so they don't have to be hard-coded in the drivers.  I suspect other properties should be reviewed and added for QSPI support.

This also seems like something that should be reviewed in the API call as there are between four and eight distinc

[2019-10-24 13:16] ulfalizer commented on #20104
I could write a thingy that tallies up the time per file/directory later maybe.

[2019-10-24 13:17] SebastianBoe commented on #20104
Caching could also be an option.

If it's parsing Kconfig sources that is expensive. Then we could have a key-value database from a hash of a Kconfig source to a pre-parsed Kconfig datastructure.

But again, we need to start by understading where time is spent.

[2019-10-24 13:18] galak commented on #20104
I know that shaving some of this time off would be greatly appreciated by CI when we do 1000s of builds.

[2019-10-24 13:21] ulfalizer commented on #20104
Yeah, been thinking of that too. Think it might work to just do a single hash for all Kconfig files too, and unpickle or something. Think it'd get a bit messy though, because there's a ton of loops and stuff in the data structures.

Wonder if the parsed Kconfig could be reused. Kconfiglib is designed so that you can `load_config()`,
`write_config()`, etc., however much you like once you've parsed

[2019-10-24 13:52] erwango commented on #20104
I think that https://github.com/zephyrproject-rtos/zephyr/issues/9406 could help reducing the amount of Kconfig flags and Kconfig parsing.

[2019-10-24 14:03] trond-snekvik commented on #19685
@vikrant8051
I wasn't able to reproduce this on nrf52_pca10056 with the Nordic Mesh Android app in any of the mesh or board samples. @George-Stefan mentioned he's using the iOS app, is this the case for you as well?

[2019-10-24 14:49] nvlsianpu commented on #20070
^^ this sounds like some targets need bootloader with two stages, the first stage which only calls second stage which is mcuboot or whatever else. I'm not sure whether no better do that as another mcuboot feature.

[2019-10-24 15:01] marc-hb commented on #19614
west.yml: Update hal_stm32 version #20114

[2019-10-24 15:02] thedjnK commented on #20070
I don't like the sound of having a separate bootloader for in-tree compilation, this would case issues with an upcoming board we have which uses a different bootloader which **should not be touched or erased** and our samples all make the assumption that the bootloader is present. In our case, the bootloader resides at the top of flash, and there is a small part of code at the bottom of flash whic

[2019-10-24 15:08] asmakhalil opened #20118 "Zephyr BLE stack to work on the CC2650 Launchpad"
Hey!

I am trying to change the current zephyr bluetooth implementation of the cc2650 sensor-tag to work for the cc2650 launchpad as they both have the same bluetooth chip (cc2650)

I would like to get some guidance on the changes I have to make in order to get bluetooth to work on my launchpad in order to get the chip on it advertising - I don't care about any other functionality, namely how to a

[2019-10-24 15:15] ioannisg commented on #11261
@mnkp @galak do you think we need to come back to this old  ARM issue?
Has this been addressed in any way in the last 12 months? If not, should we try to address it?

[2019-10-24 15:15] galak commented on #19851
A few ideas related to limiting scope of DT defines:
1. split out 'label' and other connecting defines into a separate header
2. for DT_COMPAT (not sure if that's the correct prefix) only generate defines for 'label' and not other properties that would be driver specific.
3. have some testcase that utilizes a driver that doesn't use the DT defines
4. Can we deprecate DT_FLASH_ defines completely a

[2019-10-24 15:20] dleach02 commented on #20109
@carlescufi , @galak

[2019-10-24 15:24] galak commented on #20070
DEV-REVIEW: Might already have been thought of, but have a Kconfig option for a 'simple jump loader' that would add code to jump to the 'code-partition' link address.  This Kconfig option would also enable some tweaks to the linker script for where the 'simple jump loader' gets linked at.  Need to figure out if we can use DT or need Kconfig option for where to link the 'simple jump loader' at.

[2019-10-24 15:32] galak commented on #19851
any ideas about the usage here:
[code]

[code]

[2019-10-24 15:42] jhedberg commented on #20118
Are you sure Bluetooth is supported for the sensor-tag? I don't see any hints of that in its board definition (besides a reference that that HW supports it, which is not the same as Zephyr support being available). @carlescufi any idea?

[2019-10-24 15:43] able-eldhose-oyo commented on #20110
After applying this patch, I could see a LE_Connection_Complete_Event after issuing HCI_LE_Create_Connection_Cancel.
Is this an expected behavior?

[code]

[2019-10-24 15:57] erwango commented on #20070
@thedjnK, hard to take constraints from things that are not in tree.
However, I think a Kconfig option can be made available to take this need into account.

[2019-10-24 16:01] galak commented on #20070
As @erwango said, this would only be for the cases that some other bootloader didn't exist.

[2019-10-24 16:01] #15359 closed

[2019-10-24 16:04] nvlsianpu commented on #19851
We can introduce a variable which will be initialize at some point using flash_map API instead of `DT_FLASH_ERASE_BLOCK_SIZE` @rlubos can you point where exactly do it?

[2019-10-24 16:09] joerchan commented on #20110
Just checked, this seems correct.

From the BT specification:
[code]

[2019-10-24 16:34] Laczen commented on #20070
The simple jump loader (optionally selected) would be an ideal solution. The information about where to jump to is known (FLASH_LOAD_OFFSET) so no need to try and define that. Only the option to include the simple jump loader is to be added.

[2019-10-24 17:16] vikrant8051 commented on #19685
@trond-snekvik
I've just upgraded my local repo & again tried but facing same issue.

Is your local repo sync with latest master branch ?

I also tried with Nordic, Silicon & Dialog Semiconductors Mesh Apps (on Android) but not able to complete Provisioning in any case.

[2019-10-24 17:24] vikrant8051 commented on #19685
@trond-snekvik
I tried with following Apps:
  1. zephyr/samples/bluetooth/mesh
  2. zephyr/samples/boards/nrf52/mesh/onoff-app
  3. zephyr/samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app

None of these are allowing me to provision the nrf52840_pca10056 board.

[2019-10-24 17:37] andrewboie commented on #20109
We had the nios 2 arch port in tree for a considerable time before the GPIO driver appeared. Why not just drop the driver instead of the entire arch port?

[2019-10-24 18:21] asmakhalil commented on #20118
Hey!

Thanks for your answer, I can see it as a supported board here: https://docs.zephyrproject.org/latest/boards/arm/cc2650_sensortag/doc/index.html. Is that not the same as bluetooth being supported on the cc2650 by zephyr? If not, what boards does zephyr support in terms of bluetooth?

Thanks!

Asma

[2019-10-24 18:34] #20110 closed

[2019-10-24 19:00] pabigot commented on #20109
Most of the boards I've dealt with need GPIO for one thing or another, but if it's unnecessary for this platform that'd be fine.  I just didn't want to get to the point where the driver suddenly disappears and nobody was ready for the fallout.

[2019-10-24 19:03] jhedberg commented on #20118
I'm not familiar with this board, but there's a "Supported features" section on that page which doesn't include Bluetooth.

You can get some idea of which boards support Bluetooth by issuing the following git command in the tree: `git grep "default BT" boards/`. Generally, the Nordic Semiconductor-based boards are the safest bet since currently they are the only ones we have "full stack" support f

[2019-10-24 19:14] asmakhalil commented on #20118
Oh! i missed that part. Thanks! Well i guess my question is how much work would go into porting bluetooth to work with a board that has a cc26xx ble chip on it?

[2019-10-24 19:48] #17832 closed

[2019-10-24 19:52] vikrant8051 commented on #19685
@trond-snekvik
To avoid any confusion,
1. deleted my GitHub forked version of Zephyr
2. Local repo on Laptop
3. Forked new Zephyr using GitHub's forked GUI button
4. Clone this latest forked version on my laptop

Even after that getting same result. Your comments now surprising me !!

(Also test the things for thingy52: nrf52_pca20020)

@jhedberg @carlescufi @cvinayak Are you able to provision nrf

[2019-10-24 19:58] andrewboie commented on #20109
I think removing the entire arch port will not decrease the fallout of removing the GPIO driver for Nios II.

[2019-10-24 20:15] vanwinkeljan opened #20122 "Deadlock in ASAN leak detection on exit"
**Describe the bug**

Running sanitycheck with address sanitizer (ASAN) enabled could lead to deadlock on native_posix_64 board. The deadlock occurs during program exit and if the leak sanitizer (LSAN) functionality is disabled the deadlock does not occur.

Note that the problem does not occur on native_posix board as LSAN is not supported on i386.

**To Reproduce**

Based on PR https://github.com

[2019-10-24 23:12] albertofloyd opened #20125 "Add system call to enter low power mode and reduce latency for deep sleep entry"
This enhancement is related to long latency observed to enter deep sleep.

While default power management policy is flexible enough to allow to optimize power consumption in active mode and deep sleep, the time to reach the latter is longer that some apps may require.

As an example, the sequence to enter deep sleep start with app either suspending all threads all these waiting for an external eve

[2019-10-25 03:33] ulfalizer commented on #20086
@albertofloyd ping

[2019-10-25 06:51] emob-nordic commented on #20072
Hello. The issue You described was know problem in zephyr upstream, but  it's resolved in zephyr 2.0.
I've checked against current master in ncs with zephyr 2.0 and it works fine.
For now I would suggest the hack You did, but in the future the bug would be gone together with ncs relase including zephyr 2.0

[2019-10-25 07:18] vanwinkeljan commented on #20122
Deadlock does not occur when using LLVM/CLANG instead of GCC.

Tested with PR #19093 + PR #19589 with as base c1ea452.
Test cmd: `ZEPHYR_TOOLCHAIN_VARIANT=llvm sanitycheck -N -p native_posix_64 --enable-asan --enable-lsan`

[2019-10-25 07:31] mtpr-ot opened #20135 "Bluetooth: controller: split: Missing initialization of master terminate_ack flag"
The LL.TS.5.1.1 test case LL/CON/SLA/BV-11-C [Slave Sending Termination] fails in BabbleSim  after the commit fcd9612016e170abc4abb5387a2b3057ea840859, which correctly prevents MD bit being set indiscriminately.
This is caused by the master not acknowleding the TERMINATION_IND, now  the slave is no longer sending it with MD=1.

**To Reproduce**
Steps to reproduce the behavior:
1. Run test case LL/

[2019-10-25 07:42] masz-nordic opened #20136 "kernel: undefined reference with --no-gc-sections"
**Describe the bug**
When building with `--no-gc-sections` option to ld, reference to `sys_rand32_get` is undefined.
This is because its implementation is only included when one of:
- CONFIG_TIMER_RANDOM_GENERATOR
- CONFIG_X86_TSC_RANDOM_GENERATOR
- CONFIG_ENTROPY_DEVICE_RANDOM_GENERATOR
- CONFIG_XOROSHIRO_RANDOM_GENERATOR

is enabled, even though the function is called disregarding any of those c

[2019-10-25 07:48] masz-nordic opened #20137 "posix: undefined reference with --no-gc-sections"
**Describe the bug**
When building with `--no-gc-sections` option to ld, reference to `clock_gettime` is undefined.
This is because its implementation is only included when `CONFIG_POSIX_CLOCK` is enabled, even though the function is called disregarding that config.

**To Reproduce**
1. Add:
[code]
2. Build blinky:

[code]

**Expected behavior**
Sample builds.

**Impact**
Annoyance.

**Screenshots

[2019-10-25 08:19] stephanosio commented on #20118
@asmakhalil CC26XX is a strange beast; it has an RF offloading processor (Cortex-M0) that is separate from the main processor and its firmware source code is not publicly available. Since the RF baseband hardware can only be accessed by this processor, Zephyr will have to appease it somehow.

While the interface for controlling the RF offloading processor (called "Doorbell") is documented in the T

[2019-10-25 08:57] Laczen opened #20140 "CMake: syscall macro's are not generated for out of tree DTS_ROOT"
**Describe the bug**
When using a custom device tree with:
[code]
include files that are under the `DTS_ROOT/include` are not added to the syscall_macros list.

**To Reproduce**
1. Create a out of tree devicetree with a header that uses __syscall declarations.
2. Use above command to build
3. The build command shows the error:`#include <syscalls/your_header.h> no such file or directory`

**Expecte

[2019-10-25 09:24] aescolar commented on #20122
@vanwinkeljan Which particular sample/test is crashing?

[2019-10-25 09:44] aescolar commented on #20136
@masz-nordic before filling more bug reports like this ones, maybe you would like to fill a question if these are actually accepted as bugs?
Zephyr has been compiled garbage collecting in the linker for very long time. So you are doing something which is not really expected, and find something which is not exactly a bug, as that code which references those functions is not actually used.

[2019-10-25 10:03] trond-snekvik commented on #19685
@vikrant8051
I tested samples/bluetooth/mesh and samples/boards/nrf52/mesh/onoff-app on commit 19d4caaaab. I've observed strange GATT behavior when changing the configuration, but it works consistently with the default config in both apps. Using the nRF Mesh App v2.0.5 on Android 9. Could you upload a compiled hexfile, so we can narrow it down a bit?

[2019-10-25 10:10] carlescufi commented on #20118
@asmakhalil unless you can provide a binary build of the Controller (Link Layer) that runs on the M0 and then you write a driver for the main application processor similar to what STM has done here: https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/bluetooth/hci/ipm_stm32wb.c then I don't see how we can proceed.

[2019-10-25 10:19] nvlsianpu commented on #19438
^^ above patch have nothing to do witch this issue

Bug signaled here is caused by error in implementation SPI NOR flash driver (erased less than declared).

[2019-10-25 10:20] masz-nordic commented on #20136
@aescolar
No need to add more bug reports - there are only 2 places in Zephyr that use an undefined reference (in my builds).
No garbage collecting just shows the bugs that can be reproduced in specific circumstances. For example in this case by enabling `CONFIG_STACK_CANARIES`. It then fails in the same way. So yes, I do think this is a bug.

[2019-10-25 10:23] vikrant8051 commented on #19685
@trond-snekvik
Why don't you test the things for latest Master branch (samples/boards/nrf52/mesh/onoff-app) ?
I had put default configurations. Even after that not able to provision the board.

Please do the same to get that hexfile & share your result if you are successful.

Once I reach the home, I will checkout with https://github.com/zephyrproject-rtos/zephyr/commit/19d4caaaabf751347c5289a1e6c

[2019-10-25 10:28] icephyr commented on #19244
Thanks you guys, I agree that the upper limit of DFU throughput should still likely be much higher than 6kB/s. I think it's a big issue, since such rate will take very long, especially for massive firmware upgrade, like BLE Mesh OTA. Hope this issue can be solved finally. I will study on the mcumgr round trip mechanism first and will share my results later.

[2019-10-25 10:37] vikrant8051 commented on #19685
@trond-snekvik
https://github.com/zephyrproject-rtos/zephyr/commit/19d4caaaabf751347c5289a1e6c05a1a2d86d24a it has merged just before 23 hours. Means you are using almost latest master branch.

Then why I am facing the issue ?

[2019-10-25 10:45] vanwinkeljan commented on #20122
Unfortunately it is a moving target and it is not always the same test that hangs.
In my last runs it was `tests/net/traffic_class/net.traffic_class.rx_5_tx_7`

Before you look further in to this issue I would like to try with static linked lib ASAN, this is the main difference between llvm and gcc (assuming it is not a plain bug in the GCC LSAN implementation).

[2019-10-25 11:22] SebastianBoe commented on #20140
Hi, added support for this in https://github.com/zephyrproject-rtos/zephyr/pull/7328 , but at that time it was believed that we should not support out-of-tree declarations of syscalls.

Perhaps @andrewboie or @nashif could comment on if things have changed and we now want to support this or not.

-- @andrewboie

[2019-10-25 11:22] alexanderwachter commented on #20030
Fixed by #20102.

[2019-10-25 11:22] #20030 closed

[2019-10-25 11:36] pabigot commented on #19438
@nvlsianpu I understood that the bug here was that something was specifying lengths calculated from an incorrect block size, which resulted in less memory being erased than was intended.

If there's a situation where the `spi_nor` flash driver can fail to erase the length of data it was asked to erase, we need to get information on how to reproduce that, and fix it, quickly.

[2019-10-25 11:41] pabigot commented on #17902
@fabled @psidhu To provide context for a discussion soon to occur in #20069:

Is the desire for Quad SPI based on a need to support a bus peripheral *other than* a (serial flash) memory device?  If so, can you identify an example of such a peripheral?

Can you identify a platform that supports generic Quad SPI transactions that is not a specific vendor peripheral interface that implements read/wri

[2019-10-25 11:42] nvlsianpu commented on #19438
As I remember it was erasing 256 B instead of expected 4 KB, so everything which was after 256 B from aligned to 4 KB addresses is not erased by flash_erase call.

[2019-10-25 11:50] tbursztyka commented on #17902
@pabigot there is nothing generic in what you can pass through the bus. It can be anything. And btw, it's not limited to instruction/address/data format. It can be just data as well. dual/quad/octal are just improvements of SPI, but do not affect its usage target.

[2019-10-25 11:58] pabigot commented on #17902
@tbursztyka yes yes, I know that's true for Dual/Quad SPI (and that 1-1-4 and 1-4-4 are different).

The point is that #20069 is based on an unstated goal of adding a driver that uses a special SPI-like peripheral that's dedicated to accessing serial flash memories with standard JEDEC commands.  For that sort of peripheral extending the Zephyr SPI API is not useful, because the peripheral doesn't

[2019-10-25 12:05] tbursztyka commented on #17902
You definitely want these mode enabled as generic bus interface (through SPI, imo. No need for a new API. Or maybe then some helpers on top of the SPI API if needed).
It's true that a good usage of these modes is mainly towards flash, but it's not standardized to be the only target. It could be anything. Think about high throughput networking devices for instance.

[2019-10-25 12:18] George-Stefan commented on #19685
@vikrant8051 Can you check my scenario?

[2019-10-25 13:21] pabigot commented on #19438
As best I can tell what happened in https://github.com/zephyrproject-rtos/zephyr/issues/19438#issuecomment-537556345 was:

mcuboot's `boot_erase_region` was invoked to erase 65536 bytes at offset 0xc0000.  This was passed to flash_map's `flash_area_erase()`, which in turn passes it to `flash_erase` possibly adjusting the offset to the start of the corresponding area.

That comment also states that

[2019-10-25 13:23] Laczen commented on #20140
@nashif, @andrewboie, supporting out-of-tree declarations of syscalls allows development of subsystems to take place before it is integrated into zephyr. This can avoid disturbances inside the tree, only when the development is mature enough it could be added to the tree. I think there are other use cases as well, e.g. development of subsystems that will never go into the tree because of licensing

[2019-10-25 13:29] kristiankajak opened #20153 "BLE small throughput"
**The problem**
Hi, Zephyr community,

I am experiencing some difficulties when trying to reach a high throughput with BLE communication. I am using DLE enabled HCI-UART on _nrf52-pca10040_ and DLE enabled HCI-USB on the _nrf52840_ USB dongle, both working with Linux hosts.

I am sending raw data on the ACL data channel, and so far I am able to reach ~550 Kbps ( ~3.5 ms for one packet), whereas I

[2019-10-25 13:30] vikrant8051 commented on #19685
@George-Stefan
Sorry but at present it is out of the scope for me. I am in process of submitting new PRs but waiting to solve this issue so that I can test my new changes.

Today I am going to execute 'West update' command & hope that may solve this issue.

[2019-10-25 13:33] pabigot opened #20154 "marker issue for i2c burst API concerns"
This serves as an issue that [can be referenced](https://github.com/zephyrproject-rtos/zephyr/pull/19901#discussion_r339041944) summarizing that the as-designed API simply cannot be implemented on all platforms.

Yes, we can add a common prefix to the device data structure with capability flags, similar to what's done in the new GPIO driver with active-low flags.  To my knowledge only Nordic TWIM

[2019-10-25 13:35] pabigot commented on #20154
Below is an example of a workaround for burst writes when the maximum size of the total transfer can be determined.  There is no known workaround for burst writes of arbitrary size (true gather writes).
[code]

[2019-10-25 14:15] carlescufi commented on #20153
@kristiankajak the UART is limited to 1Mb/s for starters, so that might be an issue. There's also the fact that, depending on how your host sends data, it might not be fully utilizing the buffers available in the controller.

Some suggestions:

- Take a look at this [configuration file](https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/samples/bluetooth/throughput/prj.conf#L28)
- D

[2019-10-25 14:17] carlescufi commented on #20153
Also @kristiankajak could you please use the [Nordic BLE sniffer](https://www.nordicsemi.com/Software-and-Tools/Development-Tools/nRF-Sniffer-for-Bluetooth-LE) to take a sniffer trace and attach it here?

[2019-10-25 16:06] SebastianBoe commented on #20136
Note that using --no-gc-sections is a valid use-case.

Sometimes a function is in use without the linker being able to detect the usage.

[2019-10-25 16:06] vanwinkeljan commented on #20122
Running sanitycheck with static linked GCC libasan still result in a deadlock but results in a more useful stack trace

[code]

[2019-10-25 16:40] psidhu commented on #17902
@pabigot So I know of only two types of real devices that make use of at least octospi - "HyperFlash" and "HyperRAM". From what I can tell

Here's the HyperBus spec: https://www.cypress.com/file/213356/download

Regarding QSPI, there's a few devices I could see myself wanting to use, including DACs/ADCs, flash devices (I'm assuming JEDEC), and a display driver I've seen. Here's a list of qspi DACs

[2019-10-25 17:56] jagannath-sahoo opened #20161 "Facing issue to setup zephyr on ubuntu"
I'm getting this error

CONTRIBUTING.rst    kernel          scripts     zephyr-env.sh
jagannath@jagannath-Lenovo-G500:~/zephyrproject/zephyr$ west build -b qemu_x86 samples/hello_world
-- west build: build configuration:
       source directory: /home/jagannath/zephyrproject/zephyr/samples/hello_world
       build directory: /home/jagannath/zephyrproject/zephyr/build
       BOARD: qemu_x86 (origin

[2019-10-25 17:59] andrewboie commented on #19922
What's the specific proposal here?
cc @andyross

[2019-10-25 18:10] dbkinder commented on #20161
The hint here is likely:

    The build directory must be cleaned pristinely when changing boards

It looks like you tried building for a different board and then switched to using qemu.  Cmake caches board and sample app information so if you change either of those in a subsequent build, you need to make that cache go away.
Try  changing the west command to add the “-p” option for cleaning out th

[2019-10-25 18:11] jhedberg commented on #19922
@andrewboie @andyross I think the proposal is to add a new API like `k_sem_give_many(struct k_sem *sem, unsigned int count);` (exact name can be debated) which would act the same as calling `k_sem_give(sem);` `count` number of times. Scheduling-wise this should be fairly similar to `k_fifo_put_slist()`

[2019-10-25 18:14] andrewboie commented on #20140
I won't stand in the way if you choose to resurrect that patch.

[2019-10-25 18:53] bwitherspoon commented on #20118
I did some work with CC2650 sensor tag and the CC13x0 / CC26x0 series. All the drivers for the CC13x2 / CC26x2 including the 802.15.4 driver will work with the CC2650 if you add the CC26x0 SDK and make some minor adjustments. Some of this work can be found in my CC13x0 / CC26x0 branch: https://github.com/bwitherspoon/zephyr/commits/cc13x0_cc26x0. There is no bluetooth support for the CC13x2 / CC26

[2019-10-25 21:11] sdalu opened #20163 "doc: storage settings not clear"
It is very hard to understand(didn't succeed) current documentation about storage settings, some terms are not explained and documentation is not in sync with code

doc: `settings_src_register(&settings_custom_itf);`
code: `settings_src_register(&zephyr_settings_fw_store);` (peripheral_dis)

what is the meaning of prefix/suffix:
* csi
* itf

what is the relation between store and itf?

more exampl

[2019-10-25 23:09] vanwinkeljan commented on #20122
Tested with static linking against `gcc-9 (Ubuntu 9.2.1-9ubuntu2~18.04.1) 9.2.1 20191008` and issue still occurs. Looks like a bug in the GCC ASAN implementation, only short term workaround I see is to shutdown threads before calling exit.

[2019-10-25 23:17] vanwinkeljan commented on #20122
Alternative solution to this issue would be to change the compiler to `llvm` if ASAN is enabled.

[2019-10-26 01:18] albertofloyd commented on #20033
@andrewboie after some additional debug we found that apart from test issue mentioned above there is an additional odd behavior with thread suspension.

Child thread function
while (1)
       ... some activity
      k_sleep(1000);
       ... some other activity

Parent thread
     k_thread_supend(child)

In this this point the child thread is removed from ready queue and marked as suspend, but if

[2019-10-26 08:01] vikrant8051 commented on #19685
@trond-snekvik

I installed entire 'zephyrproject' on freshly installed ubuntu 18.04 by following Zephyr Getting started guide & flash all Apps available in samples/boards/nrf52/mesh directory one by one.
**None of them allowing me to provision nrf52840_pca10056 board.**.

Then I jump on this https://github.com/zephyrproject-rtos/zephyr/commit/19d4caaaabf751347c5289a1e6c05a1a2d86d24a commit & agai

[2019-10-26 11:15] aescolar commented on #20122
We cannot add this kind of dependencies. We could add a note in the Kconfig option warning people about deadlocks with gcc and ASAN, but not prevent people from using it or force them to use something else.

[2019-10-26 12:36] #20086 closed

[2019-10-26 13:12] sdalu opened #20167 "posix clock: unexpected value for CLOCK_REALTIME when used with newlib"
When compiling with newlib and posix clock enabled, and so using sys/time.h,
call to clock_settime will failed due to CLOCK_REALTIME having differente values
(0 in posix/clock.c file, 1 in main.c)

[code]

[code]

[2019-10-26 21:29] mnkp commented on #11261
After the redesign of the Power Management subsystem the issue is less critical since the sensitive part of the power down / up code doesn't have to be written by the user any more. Instead this is handled by the Zephyr in-tree code located in the soc/ folder.

Nevertheless all the issues described in this PR are still there:
- incorrect usage of BASEPRI when putting ARM devices to sleep.
- requir

[2019-10-27 12:29] pabigot opened #20171 "support external spi nor flash on mimxrt1060-evk"
There's a nice IS25WP064 64 Mb flash on the MIMXRT1060-EVK, but AFAICT it can't be used in Zephyr because it's attached to the `flexspi0` node and there's no flexspi driver support.  Fumbling attempts to switch to lpspi which is supposed to be available on the chip (but is not supported in the SOC/board files for this target) produced no joy.

[2019-10-27 12:34] vanwinkeljan commented on #20122
@aescolar A workaround for this problem could be to disable _at exit_ leak checking for GCC with the code snippet below, this still leaves the option to the user to enable it by setting it in the ASAN_OPTIONS environment variable `ASAN_OPTIONS="leak_check_at_exit=1"`.

**Code Snippet:**
[code]

[2019-10-27 12:40] pabigot commented on #20167
I'm unable to reproduce this using what you provided as `prj.conf` and `src/main.c` in `samples/hello_world` on `nrf52840_pca10056`.  The build succeeds and I get:
[code]

Are you using some other platform?  `native_posix` for example, where it does fail as you describe?

I think that would be an unsupported configuration (Zephyr's POSIX implementation surely can't co-exist with a host POSIX imple

[2019-10-27 14:33] sdalu commented on #20167
i'm using nrf52840_mdk. Did you get 1 also using (posix/time.h):
#include <zephyr.h>
#include <posix/time.h>

void main(void) {
    printk("CLOCK_REALTIME: %ld\n", CLOCK_REALTIME);
}

[2019-10-27 14:36] vanwinkeljan commented on #20122
Looks like running ` __lsan_do_leak_check` in the `ON_EXIT` native task handler does not deadlock LSAN (at least locally for me).

[2019-10-27 14:51] pabigot commented on #20167
Sorry, I didn't read what you wrote here closely enough.

Yes, I see the values are different.  I suspect the best approach here would be to work #18892 so Zephyr only provides values that are not defined by a standard header provided by the toolchain.  That would need to be scheduled based on POSIX subsystem needs.

[2019-10-27 17:06] pabigot opened #20172 "devicetree support for compound elements"
I need a devicetree property as described below (documentation detail removed):

[code]

with an example use:

    dpd-wakeup-sequence = <30000 20 45000>;

The value of this is an array of three integers.  `binding-template.yaml` specifies that `compound` remains the catch-all for more complex types, but when that's used all the generated macros include deprecation markers.

The documentation sepa

[2019-10-27 22:39] ulfalizer commented on #20172
`type: array` not being documented together with the other types is a (bad) oversight. Will fix tomorrow.

[2019-10-28 03:44] chen-png opened #20176 "tests/drivers/pwm/pwm_api failed on reel_board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b=reel_board tests/drivers/pwm/pwm_api
2. west flash
3. See error

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Fedora28
 - Toolchain: zephyr-sdk-0.10.3
 - Commit ID: da5a595f

[2019-10-28 04:00] chen-png opened #20177 "sanitycheck error with tests/benchmarks/timing_info."
**Describe the bug**
when running tests/benchmarks/timing_info using sanitycheck, this test case is actually successful, but the sanitycheck will judge it as a failed test case.
the tests/arch/x86/info/src on up squared board is the same error.

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p reel_board --device-testing --device-serial /dev/ttyACM1 --T tests/benchmarks/timing_i

[2019-10-28 08:03] joerchan commented on #20153
Definitely an issue. Assuming you even get 100% utilization of the UART it is still limiting the maximum throughput of BLE. (1.4 Mb/s).

Make sure that you have enough buffers available and that you keep them full at all times. Since an empty buffer can end the connection event. Look at the configuration that carles linked, especially CTLR_TX/RX_BUFFER(_SIZE).

And then you can use the sniffer tha

[2019-10-28 09:02] fabled commented on #17902
@pabigot

Thank you for working on this!

I would really like to keep the QSPI APIs generic, and not hard code assumptions about operation/address/data sequencing as defined in JEDEC. Otherwise we will be in trouble when devices come that work in different way.  Even though for me the target currently is JEDEC only.

The controller I am interested is CEC1702 QMSPI [http://ww1.microchip.com/downloa

[2019-10-28 09:17] raveslave commented on #12775
@pawelzadrozniak just checking in if you planned on merging your work. would be awesome!

[2019-10-28 11:51] kamlaz commented on #17902
@fabled

QSPI API proposed by me was developed aiming jedec flash memories, but as you analyze them, you will find out that API and argumets are so flexible that you can perform any operation you want. I.e if you want to just use QSPI as SPI, do not use address field.
In my opinion treating QSPI as an extenstion of  SPI in case of API is not good solution since:
- SPI API will get complicated
- ea