[2020-04-22 12:17] cfriedt commented on #24426
No need to apologize at all. I implemented socketpair(2) the same way using pipe(2) many years ago when I wrote a small RTOS. It's not a bad idea at all. However, my current focus is to just get socketpair(2) to work.

Yes, I would be fine to "cut the losses" and close this ticket. It can always be re-opened later if someone needs pipe.

[2020-04-22 12:17] #24426 closed

[2020-04-22 12:32] nashif commented on #24453
I think what we could fix is remove the `2.2.99` and put `latest` instead in the picture above.

[2020-04-22 12:33] nashif commented on #24579
@galak your commit...

[2020-04-22 12:54] henrikbrixandersen commented on #24579
@chen-png Could you please test the fix in #24606?

[2020-04-22 12:57] FRASTM commented on #24324
STMicroelectronics Internal defect submitted (#85185)

[2020-04-22 13:26] XavierChapron commented on #24197
@stephanosio Why do you think that this as more sense ?
As you mention, some "advanced" functions will not work.
Whereas if all snprintf call that are not "advanced" are changed to snprintk, there is manual job but at the end no risk:
- If an snprintf remains in the code linked, then snprintf will be embedded in the binary.
- if no snprintf remains, then it should not be embedded.

[2020-04-22 14:08] maksimmasalski opened #24609 "Propagate error values and remove assertions in kernel/mem_domain.c"
**Problem description**
For now k_mem_domain APIs need an overhaul, none of them propagate return values and there is not enough checking done. A lot of HW specific requirements on partition base addresses, sizes, and the number of partitions. This isn't being completely checked at runtime.
https://github.com/zephyrproject-rtos/zephyr/blob/master/kernel/mem_domain.c

**Possible solution**
Add retu

[2020-04-22 15:17] dieselburner opened #24612 "mimxrt1020_evk: total freeze"
**Describe the bug**

It looks like `mimxrt1020_evk` is broken. Building/flashing works as expected. However, running any sample application gives no output on UART or any other peripheral.

**To Reproduce**

Steps to reproduce the behavior:
1. `west build -p auto -b mimxrt1020_evk samples/hello_world`
2. `west flash`
3. No output at all

**Expected behavior**

Text `Hello World! mimxrt1020_evk` o

[2020-04-22 15:23] carlescufi commented on #24571
@pabigot could you comment on this one?

[2020-04-22 15:24] #24576 closed

[2020-04-22 15:29] pabigot commented on #24571
While Zephyr's self-contained minimal libc has some C++ support, `<new>` is part of libcxx so you need to be using newlib.  Including that file works for me with `tests/application_development/libcxx` which enables these options:

[code]

It produces the error you show when the include directive is added to `tests/application_development/cpp` which lacks those options.

[2020-04-22 15:45] #23187 closed

[2020-04-22 15:52] dieselburner commented on #24612
Duplicate of #24579. Fixed in #24606.

[2020-04-22 16:27] #24579 closed

[2020-04-22 16:27] #24612 closed

[2020-04-22 17:17] nandra commented on #24571
@pabigot thanks this did the trick. :+1:

[2020-04-22 17:41] akofoed commented on #24490
@pabigot
Thank you for your pointers, you were right in that the attempt to read the JEDEC ID failed. I capitulated and had to pull out my Saelae logic probe and it turned out that I had a loose connection and had to play with some settings regarding SPI-CS to get it working. It is working now except that sector size is wrong:
`rc = flash_get_page_info_by_offs(nvs_device, db_fs.offset, &info);`
gi

[2020-04-22 17:41] #24490 closed

[2020-04-22 18:05] #24571 closed

[2020-04-22 18:10] #24409 closed

[2020-04-22 18:25] vanwinkeljan commented on #24553
After running bisect it looks like following commit introduced the issue:
**kernel/timeout: Make timeout arguments an opaque type**: 7832738ae985a63febb8f82e7c4e34824f48486e

The commit message mentions that not all subsystems are converted and that the legacy behaviour can be restored by setting `CONFIG_LEGACY_TIMEOUT_API`. Setting this config manual resolves the issue.

@andyross What do you thi

[2020-04-22 18:26] andyross commented on #24553
Legacy mode is supposed to be for build failures only.  If we have a runtime failure then there's a bug that's been exposed somewhere.

[2020-04-22 18:36] andyross commented on #24553
FWIW: I can't reproduce that workaround.  Seems like I don't get the shell prompt ever, regardless of whether CONFIG_LEGACY_TIMEOUT_API is set for the app or not.

[2020-04-22 18:40] #24382 closed

[2020-04-22 18:52] vanwinkeljan commented on #24585
For me this is working as expected on `native_posix` with the latest master: b29c15ed094b

[code]
[code]

[2020-04-22 19:03] joerchan commented on #24553
When @carlescufi ran into this issue he was using `tests/bluetooth/shell` which has `CONFIG_LEGACY_TIMEOUT_API` set (Bluetooth currently has it set) so that seems like a coincidence.

[2020-04-22 19:05] andyross commented on #24553
Came back to look at this.  Was about to report that commit 99a815591 (the one right before the timeout series) was hanging too.  But then I started a git bisect, did a full clean of the tree, and it worked.  Then I reverted to origin/master ... and it worked too!

I'm guessing that there's something wonky with this test.  Is there a fuse mount that doesn't get reset/cleaned/initialized correctly

[2020-04-22 19:16] vanwinkeljan commented on #24553
I actually did the bisect with `samples/subsys/shell/shell_module` so this more or less rules out fuze and it looks like I have no stale mount points on my machine.

[2020-04-22 20:26] Nukersson commented on #21399
Can I implement this?

[2020-04-22 20:52] MaureenHelm commented on #22907
Fixed by #24563

[2020-04-22 20:52] #22907 closed

[2020-04-22 20:58] conq commented on #17005
Also note that we cannot open-source this piece of code unfortunately. We enforce some FCC regulations in this blob.

[2020-04-22 21:07] andrewboie opened #24619 "CONFIG_USERSPACE=y CONFIG_XIP=n causes .bin space to be wasted"
**Describe the bug**
See discussion in https://github.com/zephyrproject-rtos/zephyr/pull/21747

To sum up, we have additional PROGBITS sections past the NOBITS bss and noinit sections, which causes bss and noinit to be vast empty regions in a .bin image.

This only affects targets that do not use XIP.

[2020-04-22 21:12] MaureenHelm commented on #24554
You threw me with this comment. We don't have any 4-clause BSD yet, so that would trigger the license approval process. However, the text actually looks like 3-clause BSD to me.

[2020-04-22 21:30] carlescufi commented on #23577
Fixed by #23931

[2020-04-22 21:30] #23577 closed

[2020-04-22 21:30] carlescufi commented on #23581
Fixed by #23931

[2020-04-22 21:30] #23581 closed

[2020-04-22 21:30] carlescufi commented on #23584
Fixed by #23931

[2020-04-22 21:30] #23584 closed

[2020-04-23 00:04] stephanosio commented on #24554
It is 3-clause BSD license.

The styling in the file headers is unusual and that made it look like "4-clause":
https://github.com/linumiz/hal_infineon/blob/3a27cf18351b2891afbda34ce4a7f528cd12c4d2/XMCLib/drivers/src/xmc1_eru.c#L1-L34

[2020-04-23 00:33] galak commented on #21399
yes feel free to provide a PR with support.

[2020-04-23 01:34] overheat commented on #24585
@vanwinkeljan  Thanks.
But I sitll have this `No more free space 6` issue after update code to latest version.
This is my prj.conf
[code]

Could do you help to check? or share with me your prj.conf?
I think maybe realted to some `CONFIG_FS_LITTLEFS_XXX` arguments, like `CONFIG_FS_LITTLEFS_FC_MEM_POOL_NUM_BLOCKS` so some else.

[2020-04-23 02:10] wentongwu commented on #24228
PM state
[code]

PM policy structure and API
[code]

[2020-04-23 02:47] sslupsky opened #24625 "lib: drivers: clock: rtc: rtc api to maintain calendar time through reboot"
I am looking for some feedback on the idea of proposing a new real time clock api.  My use case at the moment is primarily to maintain the calendar time through a reboot event.  At the moment, when a reboot occurs (pin reset, watchdog timeout, brownout, etc), the underlying system timer api mandates that the system tick counter is reset to zero.  The posix clock api and the new date services for t

[2020-04-23 05:11] stephanosio opened #24626 "USB re-connection fails on SAM E70"
**Describe the bug**
On the SAM E70 SoC, the first USB device connection works, but all subsequent re-connections fail (host fails to detect the device and "failed to configure endpoint" is logged).

**To Reproduce**
1. Launch `samples/subsys/usb/cdc_acm` or any other USB device sample with the device USB cable connected.
2. Un-plug the device USB cable and then re-plug.

**Expected behavior**
Hos

[2020-04-23 05:13] stephanosio commented on #24626
cc @aurel32 @mnkp @nandojve @jfischer-phytec-iot

[2020-04-23 05:24] stephanosio opened #24627 "tests/subsys/usb/device fails on SAM E54"
**Describe the bug**
The `tests/subsys/usb/device` test fails for the SAM E54 SoC.

**To Reproduce**
Run `tests/subsys/usb/device` on `atsame54_xpro`.

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain: Zephyr SDK 0.11.2
 - Commit SHA: bd639fc332675278132c57f18a196e23f0287115

**Additional context**
* USB device

[2020-04-23 06:03] vanwinkeljan commented on #24585
I did just use sample `samples/subsys/shell/fs` with one additional config (`CONFIG_LEGACY_TIMEOUT_API`) to get the shell working

Soo the project config is as follows:
https://github.com/zephyrproject-rtos/zephyr/blob/bd639fc332675278132c57f18a196e23f0287115/samples/subsys/shell/fs/prj.conf#L1-L17
https://github.com/zephyrproject-rtos/zephyr/blob/bd639fc332675278132c57f18a196e23f0287115/samples/s

[2020-04-23 06:32] overheat commented on #24585
Thanks. I have tried `samples/subsys/shell/fs`, it works for donzes bytes file, like the `VERSION` file under zephyr folder. not works for few KB size file, like the `CODEOWNERS`
The error is the same.
Maybe relate to my runtime enviroment? I installed Ubuntu 20.04 on my PC.

[2020-04-23 06:36] overheat commented on #24585
@vanwinkeljan `./build/zephyr/zephyr.exe` or `west build -t run` , which one do you use?

[2020-04-23 06:54] vanwinkeljan commented on #24585
Could be, I did the test run on Ubuntu 18.04.4

First, I actual change my run directory to `build` and then use `./zephyr/zephyr.exe`

Actually this is normal as the FS partition is only 16kB and `CODEOWNERS` is 29kB.

https://github.com/zephyrproject-rtos/zephyr/blob/bd639fc332675278132c57f18a196e23f0287115/boards/posix/native_posix/native_posix.dts#L64-L67

[2020-04-23 07:01] erwango commented on #24625
@sslupsky You might be interested by https://github.com/zephyrproject-rtos/zephyr/pull/23526

[2020-04-23 07:24] emob-nordic commented on #23337
Hi, I think under the circumstances we have this would be necessary for You to use cdc-serial instead of dfu.

[2020-04-23 07:26] stephanosio commented on #24627
cc @benpicco @nandojve @jfischer-phytec-iot @aurel32

[2020-04-23 07:37] overheat commented on #24585
@vanwinkeljan Perfect!
It works for CODEOWNERS (is 29kB) after I change `native_posix.dts` flash storage_partition bigger.
Thanks!

I will close this and change the title, hope help others.

[2020-04-23 07:37] #24585 closed

[2020-04-23 07:48] jfischer-phytec-iot commented on #23337
@optdcw To clarify, is it really necessary to trigger update process from application side without any barrier?
I am not familiar with Windows OS driver model, but for example if you have a device with composite support for DFU + CDC ACM, and dfu-util triggers a download or upload, the device would re-attach in update mode without CDC ACM interface. As there is no barrier, any app/user with suffic

[2020-04-23 08:04] optdcw commented on #23337
@jfischer-phytec-iot we are currently in development stage of protable device, which will have usb interface only for chargin and bootload/debuging purposes. So it would be easier for us to use existing software to perform the DFU without the need to switch between them using CDC ACM. Which could be simple command.

Your idea is also interesting to try, however it would require to modify existing

[2020-04-23 08:26] #24601 closed

[2020-04-23 08:30] #21088 closed

[2020-04-23 08:59] #24505 closed

[2020-04-23 09:03] parthitce commented on #24554
I moved the License file to the parent directory here: https://github.com/linumiz/hal_infineon/blob/master/License.txt. Thanks

Yes, this is 3-Clause BSD License (same as [this](https://opensource.org/licenses/BSD-3-Clause)).

[2020-04-23 09:18] robinh17 commented on #24505
Fixed in #24594

[2020-04-23 09:42] chris-makaio opened #24632 "Devices vs. drivers"
Sorry for not specifying more, but I'm not sure if this is an issue at all.

Let me describe our challenge:
Our board features multiple PMICs and depending on the current main system voltage, we start either LDO, BUCK or BOOST. The problem here is that it is bad to start all three because there will be some excess current (a design problem ATM) which will persist even if we shut down all PMICs (sw

[2020-04-23 10:12] pdunaj opened #24634 "Invalid pin reported in gpio callback"
**Describe the bug**
The `fire_callbacks` in gpio_nrfx.c is suppose to notify connected functions that interrupt happened on the GPIO they observe.
There is a bug there - when callback if fired it informs the linked function about all pins that have active isr at the time. In our code we use this information to disable the isr lines for specific pins. Since we can get information about some random

[2020-04-23 10:15] joerchan commented on #24553
@vanwinkeljan Are you still reproducing this issue? Can you check if deleting `flash.bin` (in the directory you start the shell from) has any effect on the issue?

[2020-04-23 10:22] nordic-krch opened #24635 "tests/counter/counter_basic_api fails on mps2_an385"
**Describe the bug**
Test is failing on CI consistently but passes locally on my setup (Linux VM and WSL).

**To Reproduce**
?

**Expected behavior**
Test shall pass.

**Impact**
Test fails and makes CI red which prevents counter PRs integration.

**Screenshots or console output**
[code]

[2020-04-23 10:25] vanwinkeljan commented on #24553
@joerchan No I'm not trying to reproduce it any further as for me it is resolved by setting  `CONFIG_LEGACY_TIMEOUT_API`.

Note that in my reproduction scenario (`samples/subsys/shell/shell_module` ) the flash file system is no longer in place so I cant remove the file `flash.bin`.

[2020-04-23 10:31] pabigot commented on #24553
@joerchan I tried it with `samples/subsys/shell/fs`.  Removing `flash.bin` had no effect.  `CONFIG_LEGACY_TIMEOUT_API=y` made it work.

[2020-04-23 10:32] stephanosio commented on #24635
Re-triggered CI on #24374 and #15623 one more time. I have seen this test fail up to three times in a row if I am very unlucky ...

[2020-04-23 10:39] pabigot commented on #24228
@wentongwu Could you put that into a draft PR that has the API in a header (with documentation) so we can review it?  I have comments, but can't provide them here.

[2020-04-23 11:05] nordic-krch commented on #24635
@stephanosio on CI it fails almost always (if not always). On my setup never :/

[2020-04-23 11:07] stephanosio commented on #24635
It happens when CPU load is high (i.e. when building and running multiple tests in parallel, as we do in sanitycheck).

[2020-04-23 11:07] stephanosio commented on #24635
cc @nashif

[2020-04-23 11:10] stephanosio commented on #24635
By the way, enabling QEMU `icount` should eventually get rid of this issue (at least, it did for `qemu_cortex_r5`). See #14173 and #22904.

[2020-04-23 11:11] nordic-krch commented on #24635
i see, so CPU is emulating timer interrupt and interrupt gets delayed when CPU load is high?
any idea how to handle that?

[2020-04-23 11:14] stephanosio commented on #24635
@nordic-krch See the comment above: https://github.com/zephyrproject-rtos/zephyr/issues/24635#issuecomment-618340103

[2020-04-23 11:19] pabigot commented on #24553
My bisect reproduced the results by @vanwinkeljan in https://github.com/zephyrproject-rtos/zephyr/issues/24553#issuecomment-617950667.  I'd approve a PR that made the fix suggested in that comment.

I believe legacy timeout workarounds are supposed to be fixed in this release so it would be good to get this marked as a subsystem that needs attention.

[2020-04-23 12:25] #24072 closed

[2020-04-23 12:25] FRASTM commented on #24072
PR Fixups to timer_api test #24080 is now merged

[2020-04-23 14:16] pabigot opened #24641 "inconsistent timer behavior on native platforms"
A sample I'm trying to prototype using `native_posix{,_64}` is failing because of a behavior difference demonstrated in the program below.

The program has a volatile bool which the main loop spins on.  The bool is to be set after a 50 ms delay using a `k_timer`.

On native_posix it doesn't work: the value is not set so the spin loop doesn't terminate.  The following steps before spinning have the

[2020-04-23 14:26] cfriedt opened #24642 "kernel: pipe: simple test fails for pipe write / read of 3 bytes"
**Describe the bug**
There is a page fault when a simple test is run using `k_pipe_put()` and `k_pipe_get()`. No combination of `static` or `__aligned(8)` on the buffers or `k_pipe` resolves the issue.

If it were a stack smash, then making the pipe or the buffers `static` would presumably the issue.

Note: if `BOARD=qemu_cortex_m3`, then it works fine.

Also worrisome - test still passes with `BO

[2020-04-23 14:29] bwasim commented on #24324
Thanks.. I have also observed some problems in the driver TX path after getting over this auto-neg bug.. Basically the driver writes data correctly on the dma descriptor but it never seems to go out on the wire.. I'm investigating this currently..

[2020-04-23 14:31] chris-makaio commented on #13737
I know it's hard to start with drivers. I suggest to have a look at /drivers/adc/adc_nrfx.c to see an actual implementation of the ADC API.
And for the I2C stuff, I recommend to look at a sensor driver for a starting point, most of them use I2C.

To enable configuration of your driver in devicetree check /dts/bindings/
The yamls contain the definition of what can be configured via DT.

[2020-04-23 14:54] starmachine24 commented on #24457
We managed to capture the trace output using the script you provided. We think that the problem was that console redirection was enabled so the output file contained the splash screen and the zephyr boot line of text. We think that the output file got corrupted when we tried to remove these lines from the file. However, we are now able to parse the trace output in babeltrace and trace compass usin

[2020-04-23 14:54] pabigot opened #24645 "naming consistency for kernel object initializer macros"
What is the policy for naming the initializer value macro for objects defined in kernel.h?

I see the following being used:

Object      | KObj | Recommended | Deprecated
----------- | ---- | ----------- | ----------
FIFO        | no   | `Z_*`       | `K_*`
FUTEX_DATA* | yes  | `Z_*`       |
LIFO        | no   | `_K_*`      | `K_*`
MBOX        | no   | `_K_*`      | `K_*`
MEM_SLAB    | yes  | `_K_

[2020-04-23 14:55] chris-makaio commented on #18117
Anyone interested in this?
I'd like to discuss my ideas before implementing it. Otherwise I'll implement and get hurt in review ;)

[2020-04-23 15:21] #24369 closed

[2020-04-23 15:23] carlescufi opened #24646 "Bluetooth: hci_uart broken on master"
Today we bisected an issue with HCI events coming from the hci_uart controller being corrupted (i.e. spurious data) to c66bb21a35c80190686efad26b9628cf24691605

it happens on first connection, very easy to reproduce. Just flash hci_uart onto a Nordic board, use QEMU/native posix as Host and then start advertising on the shell, connect from any peer central to it.
It typically happens always after

[2020-04-23 15:29] andyross commented on #24553
No.  We need to fix the bug or identify the usage that breaks with the new timeout.  The legacy setting changes the API, it shouldn't ever change behavior for conforming code.

Also, I just tried this again and despite the fact that it sometimes works and sometimes doesn't, I can't currently reproduce the workaround.  Putting CONFIG_LEGACY_TIMEOUT_API=y into prj.conf on that test still hangs on st

[2020-04-23 15:35] andrewboie commented on #24645
K_ is public.
Z_ is not.
_K_ needs to be changed to Z_, whoever did the naming conversion a couple years ago to rename variables with prefixed underscores to Z_ didn't finish the job.

[2020-04-23 15:49] pabigot commented on #24416
Dev-review 2020-04-23: Continue to use level and priority as-is for now.  Come up with a way to name both devices and sys-init values with unique values in a way that can represent a set of depedencies (e.g. the ordinal of the entry for the corresponding `struct init_entry` from #23407).  Evaluate the expressibility of that for power management, then figure out how to expose the sys-init values an

[2020-04-23 15:52] vanwinkeljan commented on #24553
@andyross maybe a stupid question but you are aware that the shell is spawn on a dedicated [pseudo terminal](https://docs.zephyrproject.org/latest/boards/posix/native_posix/doc/index.html#uart)?

[2020-04-23 15:53] pabigot commented on #24645
@andrewboie Thanks.  I thought it might be that, but was surprised that I can't statically initialize semaphores and timers without using a non-public API, but I could initialize a mutex.

[2020-04-23 16:00] XavierChapron commented on #21514
As @koffes , I am still having issues with #21517
I have created a PR that resolves it (at least in my situation): https://github.com/zephyrproject-rtos/zephyr/pull/24647
Please have a look.

[2020-04-23 16:12] andyross commented on #24553
In fact I'm just discovering that while reading the native_posix UART code.  Let's just say I'm very much not amused with the choice of defaults here...

[2020-04-23 16:24] #24479 closed

[2020-04-23 17:17] andyross commented on #24553
Got it.  Fix up at #24648

The root cause was that the uart polling loop was asking for a k_timer period of exactly one tick, and adjusting that produced a K_NO_WAIT internally that the code was treating as an externally-provided "no period needed" argument.  It wasn't anything to do with native_posix per se, just the particular interaction of polling period and tick rate.

[2020-04-23 17:18] Nukersson commented on #21399
Okay. Then I am working on this problem.

[2020-04-23 17:36] beikeland commented on #11016
Experiencing the same issue with hci_usb using a nrf52840 dongle and zephyr 2.2.99 `Can't init device hci0: Cannot assign requested address (99)`and setting a static address with `btmgmt` does bring up the device (still showing 00:00:00:00:00:00 in `hciconfig`

hci_usb was just a quick test, aiming to use hci_uart just wanted to report the issue is still present.

[2020-04-23 17:47] stephanosio commented on #14122
I think phrasing could be improved here to say something like:

[2020-04-23 17:56] pfalcon commented on #14122
@stephanosio: That might clarify it indeed. Please see if anything like that fits the scope of your #24636 (well, now that you touch that area at all).  (And if not, it's fully ok.)

[2020-04-23 18:48] cfriedt commented on #24642
Aha!
So it seems that `k_pipe`s and other objects for sure cannot be stack-allocated. I looked through some more of the documentation and saw `k_object_alloc()` and friends.

The example test should have been in `tests/kernel/pipe/pipe_api` rather than `tests/kernel/pipe/pipe`.

I'll need to adjust the code in my implementation of #24366 as well as the test case in #24486 to use `k_object_alloc()`

[2020-04-23 18:48] cfriedt commented on #24642
@carlescufi - feel free to assign to me and close, or I can close it later.

[2020-04-23 19:30] nashif commented on #24645
You should be using `K_SEM_DEFINE` for that?

[2020-04-23 19:42] andrewboie opened #24652 "sanitycheck doesn't keep my cores busy"
**Describe the bug**
There was a recent change to sanitycheck to no longer use a GNU Make jobserver to parcel out tasks, in favor of scheduling jobs directly in the Python code. Unfortunately, this has introduced a performance regression on my build machine with 16 cores/32 threads.

What I am seeing is that sanitycheck will parcel out jobs to the CPUs to build/run, but seems to be waiting for all

[2020-04-23 19:45] chris-schra opened #24653 "device_pm: clarify and document usage"
As I'm currently writing a low power driver for a NB-IoT modem I'm trying to do device power management right. I've already implemented the "legacy" (?) device power management API but wonder what the idle device power management is about.
I've read the documentation and the code but it still isn't clear to me how to work with it.

Let's use an example. The modem - like most of them - is working w

[2020-04-23 19:52] pabigot commented on #24645
Thanks for the clue; I see what happened.  This all started because I wanted to statically define a `k_delayed_work` instance, but there is no `K_DELAYED_WORK_DEFINE()` or `K_DELAYED_WORK_INITIALIZER`, so I have to do it with:
[code]

Also I'd planned to have a semaphore inside another structure, for which the `*_DEFINE()` macros don't work.

Probably there should be an issue to finish the convers

[2020-04-23 19:52] #24645 closed

[2020-04-23 20:03] carlescufi commented on #24652
Could this be the fault of the [GIL](https://wiki.python.org/moin/GlobalInterpreterLock)?

[2020-04-23 20:22] andrewboie commented on #24632
Are you sure k_sleep() is forbidden? The POST_KERNEL phase runs in the context of the main thread with interrupts enabled (and not a pre-thread environment on the irq stack), I think you should be able to sleep there.

[2020-04-23 20:28] MaureenHelm commented on #24299
Fixed by #24247

[2020-04-23 20:28] #24299 closed

[2020-04-23 20:38] #24642 closed

[2020-04-23 21:37] mbolivar-nordic commented on #5408
@galak I believe this is fixed now: https://docs.zephyrproject.org/latest/guides/dts/howtos.html#set-devicetree-overlays

Please reopen if you disagree. I don't think a whole sample is needed

[2020-04-23 21:37] #5408 closed

[2020-04-23 21:42] mbolivar-nordic commented on #9406
Is this issue able to cover adding support for something like this in CMake?

[code]

We have confusion from the users about how compatibles bind to drivers and why grep doesn't work.

[2020-04-23 21:48] mbolivar-nordic commented on #10621
I'm reviving this old issue to continue discussion on how to handle per-instance Kconfigs.

I can see the following options:

1. Keep per-instance Kconfig options. Do not do any devicetree integration at all.
2. Keep per-instance Kconfig options whenever an SoC driver maintainer wants them. These should default to 'y' if the right node label is enabled. We cannot use DT_INST instance numbers here

[2020-04-23 21:55] galak commented on #10621
I feel like the ship has sailed on #1.  I'd argue that #2 should not be allowed and that we are moving towards #3 already.

For example - here's a rough idea for serial drivers, the majority of cases that are under 15 lines are just singletons to enable/disable the driver.

[code]

[2020-04-23 21:59] galak commented on #9406
I chatted with @tejlmand about doing something like this.  I hacked up something that would take the 'nordic,nrf-spim' do a CMAKE regex to convert it to `nordic_nrf_spim` and do a `-DDT_DRV_COMPAT=nordic_nrf_spim` when we build `spi_nrfx_spim.c`

[2020-04-23 22:47] andrewboie commented on #24652
Don't think so, unless the GIL routinely gets held for many seconds at a time.
There seems to be custom job scheduling code, there may be an opportunity to simplify it using ProcessPoolExecutor (see https://docs.python.org/3/library/concurrent.futures.html)

[2020-04-24 00:08] stephanosio commented on #24652
Had the same problem when running `sanitycheck` on my 224-core machines.

I see short bursts of 100% CPU usage; but, for most of the time, it stays at not even 10% -- which is an enormous waste of the expensive CPU time.

At least, it is much better for now to have 14x 16-core machines than single 224-core super machine.

[2020-04-24 01:48] chen-png commented on #24001
for mec board, this test passed, but for reel board, it still failed.

starting test - test_timer_remaining
Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/timer/timer_api/src/main.c:547: test_timer_remaining: rem_ticks <= dur_ticks / 2 is false
FAIL - test_timer_remaining

starting test - test_timeout_abs
Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/timer/timer_api/src/main.c:591: test

[2020-04-24 02:09] chen-png opened #24659 "tests/portability/cmsis_rtos_v2 failed on reel_board."
**To Reproduce**
Steps to reproduce the behavior:
1.  west build -b reel_board -p auto tests/portability/cmsis_rtos_v2/
2.  west flash
3.  See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-1885-gb7897d5aab13  ***
Running test suite test_cmsis_v2_apis

starting test - test_kernel_apis
PASS - test_kernel_apis

starting test - test_delay
PASS - test_delay

startin

[2020-04-24 02:11] chen-png commented on #24659
git bisect and found the first bad commit is b18b1d435

[2020-04-24 02:21] chen-png opened #24660 "tests/benchmarks/sys_kernel failed on nrf platforms"
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p auto tests/benchmarks/sys_kernel/
2. west flash
3. See error

**Screenshots or console output**

*** Booting Zephyr OS build zephyr-v2.2.0-1885-gb7897d5aab13  ***

MODULE: kernel API test
KERNEL VERSION: 0x2026300

Each test below is repeated 10 times;
average time for one iteration is displayed.

TEST CASE: Semaphore

[2020-04-24 02:26] wentongwu commented on #24457
@starmachine24 thanks, can we close this now?

[2020-04-24 02:47] chen-png opened #24661 "sanitycheck incorrect judgement with tests/drivers/gpio/gpio_basic_api."
**Describe the bug**
after connecting gpio pins according to readme file, the tests/drivers/gpio/gpio_basic_api/ is passed, but it would be judges as failed by sanitycheck script.

it occurred on frdm_k64f, sam_e70_xplained, mimxrt1050_evk board.

**To Reproduce**
1. used west to build, it could get the "project execution successful" from serial.
2. ran this test using sanitycheck alone, it also w

[2020-04-24 05:29] stephanosio commented on #14122
Addressed in #24636.

[2020-04-24 06:31] weinholtendian commented on #18117
@chris-makaio It's hard for me to see where the discussion in this issue landed. Maybe you can recap briefly what you plan to do and what is your scope?

Btw, the pins usually go to the device tree, which when done correctly creates defines that you can use in place of "GPIO_0" and 11.

[2020-04-24 06:39] tbursztyka commented on #18117
@chris-makaio suspend/resume PM state are now supported in network stack, i.e.: you suspend the device via PM, the net stack will be notified and act accordingly (same when resuming). It requires that your driver implements the PM API control function. See an actual example: drivers/ethernet/eth_mcux.c:eth_mcux_device_pm_control()

[2020-04-24 06:46] henrikbrixandersen commented on #10621
I would definitely go for 3) as well.

I would like to stress, however, that it must still be possible to disable a driver (not its instances, those should be handled through devicetree) through Kconfig.

[2020-04-24 06:50] tbursztyka commented on #10621
+1

[2020-04-24 07:00] #24646 closed

[2020-04-24 07:37] starmachine24 commented on #24457
Yes i would say that you can close the issue

[2020-04-24 08:16] #23947 closed

[2020-04-24 08:45] chris-makaio commented on #18117
Sorry for the confusion

@weinholtendian cellular modems, especially those for LTE-M / NB, feature a whole set of power saving mechanisms. I think we need to find a solution to use them in a transparent way.
Actually, the UART stuff is wrong here, sorry for that. I just found that the current interrupt mechanism for UART's RX didn't let the UART go to sleep.
And of course I know that the device pi

[2020-04-24 08:46] #24457 closed

[2020-04-24 09:35] gmarull commented on #10621
+1

[2020-04-24 09:55] erwango commented on #24382
Txs @loicpoulain !

[2020-04-24 10:47] ecarusi opened #24665 "z_cstart memory corruption (ARM CortexM)"
The initialization of automatic variable dummy_thread is overwriting non-stack memory.
In my case the config_levels table get corrupted , but it is code (and memory map) dependant.

This is happening only with optimizations enabled (either size, speed or debug) and after a quick analysis is caused by stack relocation happening in arch_kernel_init.

With optimization enabled, the expected struct st

[2020-04-24 11:00] giellamoswhard commented on #24665
We have also tried with zephyr-sdk 0.11.1 and zephyr 2.2.99 master (as of yesterday).

[2020-04-24 12:25] thoh-ot opened #24674 "Cannot generate code coverage report for unit tests using sanitycheck"
**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck -p unit_testing --coverage
2. See error

**Expected behavior**
Code coverage rapport for the unit tests in Zephyr.

**Impact**
Annoyance; we wan't to introduce new unit tests of the Zephyr Bluetooth controller code and the coverage rapport is a very valuable tool in that matter.

**Environment (please complete the following informati

[2020-04-24 13:27] Aukstkalnis commented on #23349
@tejlmand will you help?

[2020-04-24 13:27] carlescufi commented on #24635
@stephanosio, @andyross  and @wentongwu is this a duplicate of #14173?

[2020-04-24 14:27] stephanosio commented on #24635
@carlescufi I would say so.

[2020-04-24 14:31] stephanosio commented on #24635
@wentongwu @andrewboie I wonder if we should merge the `mps2_an385` portion of #22904 separately to make this problem go away, given that `icount` does indeed achieve what we want?

[2020-04-24 14:39] aescolar commented on #24641
Hi @pabigot, I think you are just hitting this basic limitation:
https://docs.zephyrproject.org/latest/boards/posix/native_posix/doc/index.html#important-limitations
In short: In the POSIX arch CPU instructions take 0 simulated time. So your `while(!completed){}` spins in zero simulated time (forever if `completed` was not set before).
Yield does not help you, because as "the CPU is infinitely fas

[2020-04-24 14:43] aescolar commented on #24641
So in short, this is a known limitation of the posix arch which can be worked around relatively easily, by explicitly k_busy_waiting. So I hope you will be happy to close the issue and apply the workaround.

[2020-04-24 14:55] pabigot commented on #24641
Yes, that's essentially the workaround I used.

[2020-04-24 14:55] #24641 closed

[2020-04-24 14:56] #24634 closed

[2020-04-24 15:36] #24553 closed

[2020-04-24 16:33] aescolar opened #24685 "POSIX arch: support for POSIX API, embedded libC and AMP"
This is a description of how to add support in the POSIX architecture for: cleaner support for the POSIX API/shim ; (optionally) using an embedded libC ; and AMP or multi IC/multiSOC in a single platform/target. Doing this requires some changes to the way Zephyr is built for the POSIX arch, and should just enable these features without drawbacks.
(With AMP I refer to having multiple CPUs in a POSI

[2020-04-24 16:33] aescolar commented on #24685
Related to #13054 & #6044

[2020-04-24 17:17] erwango opened #24686 "can: stm32: Replace master-can-reg by master-can"
**Is your enhancement proposal related to a problem? Please describe.**
In https://github.com/zephyrproject-rtos/zephyr/pull/24396 we introduced an optional dt binding property(int) to provide can1 reg adress to can2.

This was done as a workaround in order to avoid enabling can1 when only can2 is needed to be used, since there was no way to access a property to a node which is not enabled

**Desc

[2020-04-24 17:18] erwango commented on #24686
Current issue is blocked waiting to support access to properties of non enabled nodes with DT api.

[2020-04-24 20:32] tejlmand opened #24692 "FindPython3 has unexpected behavior on Windows"
Bug created based on: https://github.com/zephyrproject-rtos/zephyr/pull/24364#issuecomment-618059740
@AdrianEggenberger

I just struggled after an issue that probably is related to this topic. Maybe I may add my observation here. If it would be better to open a new issue give me a note.

The difference in my case is that I'm using a windows system. There are three python instances installed on the

[2020-04-24 20:33] tejlmand commented on #24692
@mbolivar-nordic Seems we have a use-case for providing Python used by `west` directly to CMake here.

[2020-04-25 08:51] sercantun opened #24695 "Board IP Can Not Be Set Manually"
**Describe the bug**
I am using Nucleo F429ZI Board. And trying to run net/sockets/echo server example.
Problem is that card can not set its own IPv4 nor IPv6 address given with CONFIG_NET_CONFIG_MY_IPV6_ADDR and CONFIG_NET_CONFIG_MY_IPV4_ADDR  parameters.

Although, CONFIG_NETWORKING, CONFIG_NET_IPV4 and CONFIG_NET_CONFIG_SETTINGS selected in the original prj.conf file, when compiling I get these

[2020-04-25 14:21] pabigot commented on #24585
See also #24696

[2020-04-25 17:13] nandojve commented on #23107
@galak I believe is almost done with Atmel SAM/SAM0.

Drivers converted however not define the global DT_DRV_COMPAT:
drivers/hwinfo/hwinfo_sam.c

Drivers without DT support:
drivers/dma/dma_sam_xdmac.c
drivers/i2s/i2s_sam_ssc.c

[2020-04-26 01:18] chen-png opened #24700 "mimxrt1050_evk:tests/drivers/kscan/kscan_api failed."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mimxrt1050_evk -p auto tests/drivers/kscan/kscan_api
2. west flash
3. See error

**Screenshots or console output**
E: Could not enable
*** Booting Zephyr OS build zephyr-v2.2.0-1974-g4d7d3a25c127  ***
Running test suite kscan_basic_test

starting test - test_init_callback
**Cannot get KBSCAN device
Assertion failed at WEST_TOPDIR/z

[2020-04-26 01:29] chen-png opened #24701 "tests/lib/cmsis_dsp/transform failed on frdm_k64f board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b frdm_k64f -p auto tests/lib/cmsis_dsp/transform
    -DCONF_FILE=prj_base.conf
    -DCONFIG_CMSIS_DSP_TEST_TRANSFORM_RQ15=y

2. west flash
3. See error

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora28
 - Toolchain: zephyr-sdk-0.11.2
 - Commit ID: 4d7d3a25c1

[2020-04-26 01:34] chen-png opened #24702 "tests/drivers/counter/counter_basic_api failed on frdm_k64f board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b frdm_k64f -p auto tests/drivers/counter/counter_basic_api
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-1974-g4d7d3a25c127  ***
Running test suite test_counter

starting test - test_set_top_value_with_alarm
E: Wrap can only be set to 0xffffffff.
Skipped for RTC_0
PASS - test

[2020-04-26 08:22] ssekar15 opened #24703 "hal_nuvoton: Add new module for Nuvoton numicro M480 HAL layer"
## Introduction

Support for Nuvoton numicro M480 series ARM cortex M4 SoC needs/depends on M480 BSP. New HAL module needs to be created to address the dependency.

### Problem description

I am submitting the patch to add support for Nuvoton M480 SoC in PR. This PR needs HAL layer for Nuvoton numicro M480 BSP.

### Proposed change

hal_nuvoton is currently pushed with needed adaptation for Zephyr

[2020-04-26 08:30] ssekar15 commented on #24703
@carlescufi @nashif

[2020-04-26 10:14] Nukersson opened #24733 "Misconfigured environment"
Building on of the existing examples leads to misconfigured environment error.

Steps to reproduce on mac OS X 10.15.4:

1. Checkout master using tutorial [Getting Started Guide](https://docs.zephyrproject.org/latest/getting_started/index.html#get-the-code)
( in my case: West version: v0.7.2 and master of Zephyr's project )

2. Run build of an existing example project:
`west build -b nucleo_l432kc

[2020-04-26 10:20] Nukersson commented on #24301
I am also working on support for NUCLEO-H745ZI

[2020-04-26 15:30] mniestroj opened #24706 "mcumgr: fail to upgrade nRF target using nRF Connect"
**Describe the bug**
First of all, this is not nRF Connect fault, it is just possible to reproduce bug using this application. nRF Connect application fails to upgrade when there are two image slots already filled in Zephyr. It just goes back to "connected device tab" very quickly, with no popup.

There is no such problem when using `mcumgr` console application. They however differ in commands tha

[2020-04-26 17:48] carlescufi commented on #24706
cc @philips77

[2020-04-26 17:52] carlescufi commented on #24554
@parthitce before we create this repo, can you confirm that you will maintain this platform?

[2020-04-26 17:54] carlescufi commented on #24554
Sorry for the noise!

[2020-04-26 17:55] carlescufi commented on #24703
@ssekar15 thank you for the proposal. Can you commit to maintaining this platform if we create the repo?

[2020-04-26 18:13] kkiyota opened #24709 "Counter function with ARM CMSDK Dual Timer"
Hi,

I'm using ARM CMSDK Dual Timer in my custom board with Cortex-M7.  "counter_set_channel_alarm" returns -ENOTSUP.

Looking at freya/zephyr/drivers/counter/timer_dtmr_cmsdk_apb.c, there seems to be no corresponding function defined.

Is it intentional?   Or future improvement?

Thank you for your help!

[2020-04-26 18:21] parthitce commented on #24554
@carlescufi Yes, I confirm that I will maintain this platform. Thanks.

[2020-04-26 18:38] jukkar commented on #24695
Note that the config option is named `CONFIG_NET_CONFIG_PEER_IPV4_ADDR`, are you missing `CONFIG_`?

[2020-04-26 19:03] ssekar15 commented on #24703
@carlescufi yes, I will be able to maintain it. Thanks

[2020-04-26 21:46] andrewboie opened #24713 "ztest_test_fail() doesn't always work"
**Describe the bug**
I started to notice that sometimes in tests a `zassert` expression would fail, and this would be reported to the console output, but the test scenario would still pass.

Upon further inspection, I found that the zassert was being invoked from a child thread,
but the main ztest_thread kept running, and the entire suite passed even though I had
multiple failures.

**Expected beh

[2020-04-26 22:46] andrewboie commented on #13637
Draft PR submitted. See #24714

[2020-04-27 02:52] nashif commented on #24652
I think I found the issue, looking into it.

[2020-04-27 04:12] stephanosio commented on #24665
Please provide more details about the bug:

1. Commit hash
2. Exactly what optimisation flag(s) did you use?
3. What sample(s)/test(s) did you build?

[2020-04-27 04:20] stephanosio commented on #24665
I built and ran `samples/hello_world` for `nrf52840dk_nrf52840` with Zephyr SDK 0.11.2 using the following configurations, and I was unable to reproduce this issue:
* No optimisation (-O0)
* "Optimize for size" (-Os)
* "Optimize for speed" (-O2)
* Dangerous optimisation (-O3)

[2020-04-27 05:23] stephanosio commented on #24665
**Synopsis:**
1. `z_cstart` stack frame, including `struct k_thread dummy_thread`, gets allocated before `MSP` is updated by `arch_kernel_init` (-> `z_arm_interrupt_stack_setup`):
https://gist.github.com/stephanosio/2fc45164250bf89370ec108fb43bebe2#file-gistfile1-txt-L10-L13
2. `struct k_thread dummy_thread = { }` initialiser `memset`, assuming `sp` still points to the beginning of the `z_cstart`

[2020-04-27 05:39] stephanosio commented on #24665
**Note:**
* This bug has been around since v1.14, so the fix for it will need to be backported all the way back to v1.14:
https://github.com/zephyrproject-rtos/zephyr/blame/6627249dc1e1dc3d667081717e2f8935279939d7/kernel/init.c#L470-L475
https://github.com/zephyrproject-rtos/zephyr/blob/035ab2bb72f627422a055380b609d9b1cb5eeaa5/arch/arm/include/kernel_arch_func.h#L37-L39
https://github.com/zephyrpr

[2020-04-27 05:55] stephanosio commented on #24665
I see that the Cortex-M boot code is switching to use PSP before calling `z_arm_prep_c`, and there does not seem to be anything that switches the active stack to use MSP:
https://github.com/zephyrproject-rtos/zephyr/blob/035ab2bb72f627422a055380b609d9b1cb5eeaa5/arch/arm/core/cortex_m/reset.S#L91-L98

@ecarusi @giellamoswhard Do you have custom code somewhere that switches to MSP before `z_cstart`?

[2020-04-27 06:50] erwango opened #24718 "adc: stm32g4: Fix ADC instances naming"
**Describe the bug**
In dts/arm/st/g4/stm32g4.dtsi, ADC instances were numbered starting from 0.
This does not match STM32 numbering scheme, there is no ADC_0 instance in ref manual, firt one is ADC_1.

**Expected behavior**
ADC instances description in device tree should respect ref manual naming convension.

[2020-04-27 06:51] erwango commented on #24718
^^@ABOSTM

[2020-04-27 07:25] xuhao8210 opened #24720 "Build failure on intel_s1000_crb board for test case:” tests/kernel/smp”"
**Describe the bug**
The case:” tests/kernel/smp” was been built failure, but the case: ”samples/hello_world/”can work well, including west build and west flash.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b intel_s1000_crb -p auto tests/kernel/smp
2. see error

**Expected behavior**
Build successfully on intel_s1000_crb board for test case:” tests/kernel/smp”

**Screenshots

[2020-04-27 07:46] ecarusi commented on #24665
In my case the MSP was the SP causing the effect described because:

1. At the first run (without the debugger connected) the custom code caused an hard fault
2. By connecting the debugger, **probably due a misconfiguration on my side**, the core was not properly reset
3. After the restart of the code MSP was still the SP
4. The ... structure was corrupted (zero filled) cauing the code to call aga

[2020-04-27 08:00] alexandru-porosanu-nxp opened #24722 "OnePlus 7T & peripheral_hr on NRF52 conn failure"
**Describe the bug**
While attempting to connect a OnePlus 7T (Android 10, Build # 10.0.9.HD65AA) with a  NRF52 (PCA10040) running peripheral_hr on latest head, the connection is established but no heart-rate data is being exchanged. Using the nrf sniffer, one can see that after the connection is established (packet #2382 in the attached capture), there is an exchange of Empty PDUs, but starting a

[2020-04-27 08:25] sercantun commented on #24695
Yes, the configuration is set with CONFIG_NET_CONFIG_PEER_IPV4_ADDR.

[2020-04-27 08:37] carlescufi commented on #24703
Thank you.

A couple more questions from browsing https://github.com/OpenNuvoton/M480BSP:

- I can't seem to find the license the code is released under
- There seem to be binary blobs in the repository

[2020-04-27 09:02] hakkimakki commented on #23998
Sorry for the delay. I could create the object on the heap with:

`Radio` * radio = new Radio;

so @vanwinkeljan I guess you are right.

However I just setup a pure zephyr enviroment without the ncs fork and it looks like the same behavior. The code stucks and doesnt reboot (@pabigot) .

`***` Booting Zephyr OS build zephyr-v2.2.0-1466-g1f3c014a1ad3  ***
`Started`
`Done`

however i could get along

[2020-04-27 09:04] jukkar commented on #24695
How you have modified the conf file, the upstream conf file works just fine with the board you mentioned.

[2020-04-27 09:09] stephanosio commented on #24703
Found at least one reference to GPL ...
https://github.com/linumiz/hal_nuvoton/blob/a7a6f1e5635d26aea82041b6969683845f5a5fa0/m48x/Devices/M480/Source/GCC/_syscalls.c#L3

[2020-04-27 09:09] ssekar15 commented on #24703
@carlescufi Currently license is not available in Nuvoton M480BSP, we have raised issue and Nuvoton is working on legal side to get free licensing. More information can be find in below

https://github.com/OpenNuvoton/M480BSP/issues/9

[2020-04-27 09:10] carlescufi commented on #24722
@alexandru-porosanu-nxp could you please gather a sniffer trace of the connection establishment?
If you have a second board you can use the sniffer here:

https://www.nordicsemi.com/Software-and-Tools/Development-Tools/nRF-Sniffer-for-Bluetooth-LE

[2020-04-27 09:14] alexandru-porosanu-nxp commented on #24722
I've attached a capture that has the scan req/scan rsp/conn req exchange plus the phy change, starting at packet 2382. Is there another capture I should do?

[2020-04-27 09:20] ioannisg commented on #24665
thanks for the explanation and the detailed investigation  @ecarusi  @stephanosio

[2020-04-27 09:25] alexandru-porosanu-nxp commented on #24722
One more thing: I'm thinking that maybe this is a OnePlus/Android 10 issue, so if you have another Android based phone that also has the 2 Mbps PHY that you can test with, it'd be great to figure this out.
Also, it would be interesting to test on an Iphone as well...but again, I don't have such a device.

[2020-04-27 10:01] johnsmithecon opened #24727 "Unable allocate buffer to send mesh message"
**Describe the bug**
I’ve got an interrupt on a gpio pin, and when that interrupt gets triggered it publishes a message to the mesh network. When I plug wire into this gpio pin, but have wire connected to nothing (just the air), my interrupt is triggering like crazy. This is normal probably because I am detecting noise. When I let it trigger like crazy for about 20 seconds, I eventually get the fo

[2020-04-27 10:05] joerchan commented on #24722
The sniffer sees the slave at least. But not the master. Looks like an issue with the OnePlus.
From the trace the slave sees the master.

[2020-04-27 10:26] rettichschnidi commented on #17005
@conq Which regulations exactly? Asking because a) FCC is not everywhere relevant and b) why can this responsibility not be put on the customer/users if they wanted it?

[2020-04-27 11:20] alexandru-porosanu-nxp commented on #24722
I think that actually when switching to 2 Mbps, the master doesn't "hear" the slave anymore. I've taken a screencap of the Wireshark capture on the exact time when things go awry, and I think no 2 Mbps packet is being heard by the master. The blue dotted one is the first packet the master is sending at 2 Mbps. The next one is the slave responding (properly), and then the master re-transmits foreve

[2020-04-27 11:48] pabigot commented on #23998
I remain unable to reproduce this at the specified Zephyr commit and toolchains using nrf52840dk_nrf52840.

https://gist.github.com/pabigot/8057774cc407f5e7b6d04801c4c4743d contains the sample code, showing that the main routine continues after the object has been constructed, and confirms successful construction.

[2020-04-27 11:56] aescolar commented on #14678
@jhedberg @cvinayak ^^

[2020-04-27 12:11] hakkimakki commented on #23998
sorry I made a mistake by testing the code. It is the nRFConnect SDK fork causing this issue.

I will close this one. Thanks anyway guys.

[2020-04-27 12:11] #23998 closed

[2020-04-27 13:11] jhedberg commented on #14678
@taharvey all mesh features work with the current controller. This issue is about vendor HCI extensions that would optimize low-level packet filtering and improve transmission timing accuracy.

[2020-04-27 13:25] pabigot commented on #24625
This would be possible with #17631 as well, but we need more examples before being able to define an API that will work cross-platform.  (For DS3231 the application must use driver-specific API to determine whether an alarm condition is present that would have triggered the wakeup.)

[2020-04-27 13:30] LingaoMeng commented on #24727
@johnsmithecon can put you code to public(github repo), so let’s us find bugs easily.

[2020-04-27 13:35] vla3913 opened #24730 "C standard library <time.h> functions and structures not available when using POSIX API"
**Describe the bug**
C standard library time.h functions and structures are not available when using CONFIG_POSIX_API=y

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/posix/gettimeofday
2. modify src/main:
[code]
3. west build -b mimxrt1064_evk
4. See error and warnings (struct tm is of unknown size and implicit declarations)

**Expected behavior**
Functions and structures are co

[2020-04-27 13:58] vonhust commented on #23544
Fixed by #24284

[2020-04-27 13:58] #23544 closed

[2020-04-27 14:10] joerchan opened #24731 "Bluetooth: controller: Network privacy not respected when address resolution is disabled"
**Describe the bug**
The resolving list is not used when address resolution has been disabled by the host.
The address resolution enable command should (after a few erratas) only control resolving of RPAs.
If a device has been added to the resolving list with a valid IRK, and address resolution is not enabled. This should act as a blacklist, and we should not connect to it, or accept connection re

[2020-04-27 15:01] carlescufi commented on #24733
@Nukersson is your GNU Arm Embedded toolchain installed in `/usr/local/bin` ? We don't support generic installations of GNU Arm Embedded, you need to download it manually from:

https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm

and then install it in a fixed directory and point to it via the `GNUARMEMB_TOOLCHAIN_PATH` environment variable.

[2020-04-27 15:06] #24718 closed

[2020-04-27 15:10] joerchan commented on #24731
The test has a TSE waiver, but that is not related to why this test is failing now. But would explain why we have qualified without this test before:
https://www.bluetooth.org/tse/errata_view.cfm?errata_id=11429

[2020-04-27 15:23] Nukersson commented on #24733
Yes it is.
But what I am confused of is:

has `bin` twice while `TOOLCHAIN_HOME: /usr/local/bin`. How can it be?

[2020-04-27 15:50] vonhust commented on #23475
The failure is caused by the conflict of irq used in this test and peripheral irq.  UART3 will use IRQ 89 and is enabled although it should not be.

PR #23479 will fix this issue.

[2020-04-27 16:32] carlescufi commented on #24733
@Nukersson how did you install GNU Arm Embedded?

[2020-04-27 16:39] pabigot commented on #24730
I'm willing to work this but I'd start by using the solution proposed in #18892 to avoid replicating and missing definitions that come from the supporting toolchains.  There were objections to that approach, so before I start I'd like input from @pfalcon to see if there's a more acceptable solution.

[2020-04-27 16:52] carlescufi commented on #24703
Thank you for the info. About the binary blobs (libraries in binary format), you will need to remove those before you add the code to the Zephyr repo. We do not accept precompiled code right now.

[2020-04-27 17:00] pfalcon commented on #24730
@carlescufi, please at lease cc: me on any issues related to POSIX subsys, as I'm the codeowner for this subsystem.

[2020-04-27 17:03] ssekar15 commented on #24703
We have extracted only the drivers and device files from Nuvoton M480BSP to zephyr compatible which doesn't have any binary blobs. Could you please confirm are you referring to below or did I misunderstood?
https://github.com/linumiz/hal_nuvoton

[2020-04-27 17:55] johnsmithecon commented on #24727
Sorry I’m pretty new to git/github. What does it mean to put code to public? I need to commit to your guys’ repo?

[2020-04-27 18:21] carlescufi commented on #24703
Yep, this looks fine, sorry. I was looking at https://github.com/OpenNuvoton/M480BSP

[2020-04-27 19:43] andrewboie opened #24743 "make sw_isr_table mechanism more portable to other compilers"
**Is your enhancement proposal related to a problem? Please describe.**
The current sw_isr_table mechanism uses `.gnu.linkonce` sections in order to replace a default dummy table with the real table created during a second linker phase by `gen_isr_tables.py`.

1. The first is the default table full of spurious entries in arch/common/isr_tables.c. This exists so that other C code can reference `_sw

[2020-04-27 20:12] cfriedt opened #24744 "k_thread_join() taking a very long time on qemu_cortex_m3"
**Describe the bug**
When `K_MSEC(5000)` is used for the timeout parameter to `k_thread_join()` it takes 5 seconds to return, even when the thread has already run to completion.

However, when `K_FOREVER` is specified as the timeout paramter, it returns as soon as the thread has run to completion.

From what the documentation says, when specifying `K_MSEC(5000)` for the timeout parameter, `k_threa

[2020-04-27 20:13] cfriedt commented on #24744
[test_pipe_and_poll.c.txt](https://github.com/zephyrproject-rtos/zephyr/files/4541807/test_pipe_and_poll.c.txt)

[2020-04-27 20:58] pabigot opened #24745 "Mitigate changes in peripheral enable state after Kconfig replaced by DT status"
Recent patches change Zephyr device instance checks to be based on the `status` property from the devicetree node alone, by eliminating the Kconfig options to enable individual instances.  Unfortunately in several cases (often related to shield-exposed functions like Arduino Serial) the Kconfig option disabled a peripheral, while the devicetree node specified it was enabled.  As a result periphera

[2020-04-27 21:10] pabigot commented on #24745
The following script can be used to identify boards with potential pinmux conflicts and the pins that have multiple selected functions.   There are ten such boards at the moment.
[code]

[2020-04-27 22:21] andrewboie commented on #24277
This test code got moved to tests/kernel/workq/critical.
I can only get it to reproduce on nsim_sem now.

[2020-04-27 22:22] andrewboie opened #24747 "tests/lib/heap fails on ARC nsim_sem nsim_em"
[code]

And times out.

[2020-04-28 01:42] stephanosio commented on #24665
Closing, as the problem has been identified to be a debugger configuration issue.

[2020-04-28 01:42] #24665 closed

[2020-04-28 01:43] LingaoMeng commented on #24727
see https://github.com/zephyrproject-rtos/zephyr/issues/24311

[2020-04-28 02:22] wentongwu opened #24750 "need API to get list of succeed initialization device or add initialization status flag in struct device"
**Describe the bug**
device_list_get located in device sub system is the API exposed to other modules, and the returned list shouldn't include the initialization failed devices, or at least we should have that kind of API to get all the devices whose initialization is well, though it's not common case that device fail it's initialization.

[2020-04-28 04:24] susundberg opened #24751 "What is purpose of the CONFIG_ADC_X"
**Describe the bug**
This probably issue in documentation / my understanding but i feel confused what is CONFIG_ADC_1 for example trying to do.

I am testing with stm32_min_dev_blue and the ADC seems to work just fine without enabling the CONFIG_ADC_1.

While grepping for CONFIG_ADC_xyz from boards/st/ directory it seems some variants have pin-muxing, for example `./nucleo_f103rb/pinmux.c`:
[code]

[2020-04-28 05:57] stephanosio commented on #23946
Closing, since an alternate fix has been applied: see https://github.com/zephyrproject-rtos/zephyr/pull/23948#issuecomment-606430554

[2020-04-28 05:57] #23946 closed

[2020-04-28 06:55] Nukersson commented on #24733
My GNU Arm Embedded environment installed according to [toolchain-gnuarmemb](https://docs.zephyrproject.org/latest/getting_started/toolchain_3rd_party_x_compilers.html#toolchain-gnuarmemb)

[2020-04-28 07:30] #23193 closed

[2020-04-28 07:39] AdrianEggenberger commented on #24692
I did a short try by adding the following line on top of the CMakeLists.txt:
_set(Python3_FIND_REGISTRY "LAST")_

This worked and fixed the usage of the wrong python instance. It is fine for me as a temporary workaround.

[2020-04-28 09:12] pfalcon commented on #24685
Can it please be elaborated what it's meant by this?

[2020-04-28 09:15] pfalcon commented on #24730
Please try to reproduce any issue with a standard test platform, which is qemu_x86. And trying that, you would hit https://github.com/zephyrproject-rtos/zephyr/pull/24746 , and that uncovered 3-4 more issues recursively.

So, investigation of this issue is so far blocked, pending subsiding of the issue wave rooted at #24746.

[2020-04-28 09:19] aescolar commented on #24685
(I changed a bit the text) I meant, in general, any other libC than the default host libC, which could be compiled for the host architecture.

[2020-04-28 09:38] pfalcon commented on #24685
Thanks for clarification.

And to clarify another point, by AMP you mean generic asymmetric multi-processing, not specifically support for integration with a library like OpenAMP (which is otherwise supported, or worked on, for integration with Zephyr)?

[2020-04-28 09:39] tbursztyka commented on #23800
I raised the delay of the test, added some printouts, and tried many times. I got it to work only once...
So the vm RTC clock seems to be incremented, only too slowly?

Running test suite test_cmos_counter
===================================================================
starting test - test_cmos_rate
Start value 1588066051
Elapsed value 1588066052
difference: 1
PASS - test_cmos_rate
===========

[2020-04-28 09:45] aescolar commented on #24685
Yes. So today native_posix (or the nrf52_bsim) emulates 1 processor, with 1 OS (running 1 thread at a time). So this would be support for more than 1 processor (each single threaded still though) running each their own OS (or baremetal).
Say, for example, like a nRF5340, where one processor could be running the the BT host and application, and the other processor could be running the BT controller

[2020-04-28 11:39] pfalcon commented on #24730
Ok, I can reproduce this with a patch like:
[code]

[2020-04-28 12:01] pfalcon commented on #24730
So, let's investigate and formulate what is the root of the problem. It turns out to be:

**<time.h> header is defined by the ANSI/ISO C standard, and *extended* by the POSIX standard.** This can be see at e.g. https://pubs.opengroup.org/onlinepubs/9699919799/functions/clock_getres.html , where there's a `[CX]` mark with a hyperlink leading to the description that it's "Extension to the ISO C stan

[2020-04-28 12:03] pfalcon commented on #24730
@pabigot: So, please let me know if you agree with the above analysis and implementation approach and would be interested in executing it.

(To clarify, if you don't agree, then I would still insist that it's correct approach, consistent with the established process of elaborating the Zephyr POSIX subsystem, and would queue up its execution on my side.)

Thanks.

[2020-04-28 12:36] pabigot commented on #24730
@pfalcon As I read your proposal it's consistent with my position in #18892 that we shouldn't be duplicating material we can get from existing headers.

I'll give a shot at implementing a solution following this approach.

[2020-04-28 13:00] tbursztyka commented on #23800
Seems to work fine if option `--lapic_pt` is given to acrn-dm (in launcher script).

However, the VM is then unstoppable (even with -f)... Had to reboot the hypervisor. But that's another issue.

@chen-png Can you retry with adding `--lapic_pt` to your script that runs the vm?

[2020-04-28 13:53] pfalcon commented on #24730
Yes, except that I consider that we should whenever possible use either libc's header or POSIX subsys header, and avoid `#include_next` until we're cornered into situation that we have (big enough) libc header, and need to extend it on POSIX side (which case I didn't see so far).

Thanks!

[2020-04-28 14:05] carlescufi commented on #24722
@alexandru-porosanu-nxp @joerchan can we close this then?

[2020-04-28 14:14] #24485 closed

[2020-04-28 14:31] i-and opened #24767 "Ethernet support for STM32H747"
Did I understand correctly from the [description STM32H747](https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/stm32h747i_disco/doc/index.rst) that the built-in Ethernet controller is not supported for STM32H747 in Zephyr?

If this is the case, then:
1. how difficult is it to support Ethernet on my own?
2. are you planning to support Ethernet in the near future?
3. if Ethernet is

[2020-04-28 14:35] alexandru-porosanu-nxp commented on #24722
I think so, but I'd feel a bit better if somebody can test the 2 Mbps scenario with another device (it looks as it's a OnePlus specific issue)

[2020-04-28 14:46] pabigot commented on #24730
I intended that to be covered by avoiding duplicating material we can get from using existing headers.

I immediately hit a roadblock, in that `include/posix/time.h` with `CONFIG_POSIX=y` can't just include `<time.h>` because it finds itself, since `${ZEPHYR_BASE}/include/posix` is added as an include path.  (That file also can't just be removed, because it's referred to as `<posix/time.h>` in a v

[2020-04-28 14:54] carlescufi commented on #24767
@gmarull any advice for @i-and?

[2020-04-28 14:58] pabigot commented on #18892
A demonstration of a working technique to incorporate a toolchain header into a POSIX include file is in [this commit](https://github.com/pabigot/zephyr/commit/cbf774f16998d8d019fe36aec15e3757d7cbcd0d) archived at https://github.com/pabigot/zephyr/commits/nordic/pr/24746.

[2020-04-28 15:40] iwasz opened #24770 "Low throughput with the zperf sample using stm32f746g_disco"
**Describe the bug**
TCP benchmark as described in [zperf sample documentation](https://docs.zephyrproject.org/latest/samples/net/zperf/README.html) reports low transfer rate abd errors on **stm32f746g_disco**, while UDP test works, and gives 30Mbps result. I am referring to the scenario where Zephyr acts as a client, while Linux host runs the iperf server.

**What have you tried to diagnose or wo

[2020-04-28 15:56] carlescufi commented on #24733
Thanks, will close the issue then.

[2020-04-28 15:56] #24733 closed

[2020-04-28 15:59] gmarull commented on #24767
I haven't used Ethernet on H7 series, but it looks like F7 has support for it (see for example nucleo_f746zg board). In general existing drivers require little adjustments to function with other STM32 series, so unless H7 silicon has changed a lot, adding support for it may only consist on defining the peripheral in DT files and a few other small adjustments.

[2020-04-28 16:15] ABOSTM commented on #24751
Hi @susundberg,
You are right, CONFIG_ADC_1 is used to configure pinmux ADC channel to Analog,
but is is also used in drivers/adc/adc_shell.c.
Because Analog is the default mode after reset for this chip, your ADC works. even if you didn't activate CONFIG_ADC_1 and even if you didn't declare your PIN for channel8. So you are lucky.
But you may had trouble using adc shell.

We declared only 1 chann

[2020-04-28 16:37] galak opened #24773 "devicetree: allow generation of properties that don't have a binding"
Today we only generate defines if there is a binding that matches the node.  The matching of binding to a node is done via compatible.

There are a number of cases related to nodes that describe memory regions that don't have a compatible and thus dont have bindings.  Its completely feasible with the new generation and macro scheme to access such data.

For example we might have:

[code]

Today th

[2020-04-28 16:40] galak commented on #24773
There are also a number of cases in which we incorrectly mark memory nodes as `mmio-sram` compatible that are not.

[2020-04-28 16:53] andyross commented on #23076
Heh, I knew I'd seen this.  Should have just checked my assigned bugs.

This isn't hard for the simple case of "memory available".  The sys_heap implementation is a contiguous array of "chunks" of fixed size.  We know how many there are in total trivially, one extra word of storage and ~3 instructions per operation would allow us to track the number unallocated.  Then the API would look something

[2020-04-28 16:53] #23475 closed

[2020-04-28 16:58] pfalcon commented on #24730
If only it was that simple (as if we could "cherry-pick" what we get from existing header, and what not).

Good start, welcome to POSIX subsys maintenance.

That's why they invented #include_next, right?

Oh, so those places would need to be fixed! (All as an experiment, whether that would fly or not).

Oh, looks like #include_next isn't as magical as it might seem.

I would need to sit and ponder

[2020-04-28 17:23] carlescufi commented on #14173
The current manifestation of the lack for this enhancement is the following:
`tests/counter/counter_basic_api` failing on `mps2_an385` in CI occasionally.

[2020-04-28 17:23] carlescufi commented on #24635
Closing as duplicate of  #14173

[2020-04-28 17:23] #24635 closed

[2020-04-28 17:24] carlescufi commented on #24659
Since this commit is completely unrelated, this is probably a red herring and the failure is likely sporadic.

[2020-04-28 17:25] kkiyota commented on #24709
Looking at zephyr/drivers/counter/timer_dtmr_cmsdk_apb.c, the following APIs are only supported.

counter_set_channel_alarm is not supported.

[code]

[2020-04-28 17:27] pabigot commented on #24674
AFAIK coverage is only supported when you use `--platform qemu_x86_coverage`.

[2020-04-28 17:29] pabigot commented on #24674
[code]

[2020-04-28 17:30] jukkar commented on #24770
There is also report about poor TCP performance #23302

[2020-04-28 17:31] carlescufi commented on #24695
@sercantun please post the whole `build/zephyr/.config` file.

[2020-04-28 17:38] carlescufi commented on #24706
@nvlsianpu and @de-nordic could you please comment on what the root cause might be?

[2020-04-28 17:39] pabigot commented on #24750
This API just provides the start and end of the linker section that contains all devices.  It doesn't synthesize a new list of any sort.

It should be possible to iterate over the devices in that list and determine whether they've been initialized successfully or not.  This may tie to #19448 which also needs to know device status.

[2020-04-28 17:40] carlescufi commented on #24713
See #24714 for a partial? fix?

[2020-04-28 17:44] carlescufi commented on #24727
@johnsmithecon if you can just post the code you are using to trigger this issue somewhere, be it as an attachment, gist or branch anywhere, so we can reproduce locally.

[2020-04-28 17:58] carlescufi commented on #24750
@wentongwu consensus is that we should document this properly so that it explicitly states that this returns the full list of devices, started or not, and then it's the responsibility of the caller to walk the array and determine which ones are initialized or not.

[2020-04-28 18:03] mniestroj commented on #24706
@carlescufi Image size is not page aligned (most of the time). However it is passed directly to flash_erase() API in which it fails, because nRF SoC flash driver treats such request as invalid. The reason why it stopped working (and obviously it was some time ago) is most probably (I didn't check that, but I am pretty sure) related to mcumgr updates that were made recently.

The real question is:

[2020-04-28 18:22] jukkar commented on #5857
Old issue and things have improved a lot in the latest version. We are also migrating to new TCP version and the testing should go there. As agreed in release readiness and bug triage meeting, closing this issue.

[2020-04-28 18:22] #5857 closed

[2020-04-28 19:41] andrewboie commented on #24713
@carlescufi is that the right GH link? #24714 is unrelated to this I think (although I encountered this problem while developing it)

[2020-04-28 20:21] andyross opened #24784 "nRF: Busy wait clock is skewed vs. timer clock"
On nRF5 SoCs, the integration uses CONFIG_ARCH_HAS_CUSTOM_BUSY_WAIT=y to forward k_busy_wait() calls to a HAL-defined nrfx_coredep_delay_us() function (which presumably works at CPU cycle precision) instead of using the default Zephyr one (which is limited to the 32kHz cycle rate).

Unfortunately, these clocks don't match.  The HAL timer is consistently about .5-.6% too fast, meaning that k_busy_w

[2020-04-28 20:24] andyross commented on #24784
FWIW: if I apply this, then the test seems to run reliably for me and the deltas reported by the code above go down to the level of the measured jitter:

[code]

[2020-04-28 20:58] nashif commented on #24784
@pabigot fyi

[2020-04-28 21:13] pabigot commented on #24784
This isn't news, it's been a potential issue since we had to switch to a custom busywait to get the resolution necessary for microsecond-resolution delays.

IIRC the crystals often used for nRF5 LFCLK (32 KiHz) generally have around 25 ppm accuracy, while the calibrated RC oscillator is intended to be 250 ppm (uncalibrated can be 500 ppm).  The HFCLK is supposed to be around 40 ppm.

I suspect the

[2020-04-28 21:18] andyross commented on #24784
FWIW, the measured error is about an order of magnitude higher than those numbers on my board (and also presumably a Reel board on our test rack that I didn't directly test with this code).  This feels a lot more like a miscalibrated or incorrectly transcribed clock rate somewhere than a bum crystal.

[2020-04-28 21:20] andyross commented on #24784
And the multi-cycle jitter worries me too.  If the HAL was slower, I'd say that this is absolutely an unmasked interrupt firing (this test runs a busy wait with interrupts enabled) and messing up a hand-calibrated CPU loop that didn't know it was interrupted.  But the HAL is **faster**, and the Zephyr timer is an RTC that isn't supposed to be subject to jitter, so I have no good ideas.

[2020-04-28 22:11] #23575 closed

[2020-04-28 23:15] andyross commented on #24784
Spent some more time looking at this, becuase it's fun.

First, the HAL delay loop is choosing the "DWT Based" timer, which is as guessed a tight CPU loop of 3 instructions.  (See nrfx_coredep.h:157).  That's good, because now we know the clock in use, which can be directly read via SysTick.  It's configured as 64 MHz, and I know the HAL assumes that because NRFX_DELAY_CPU_FREQ_MHZ is hard-selecte

[2020-04-29 00:43] pabigot commented on #24784
Easily explained.  For reasons too subtle for me to understand the HFCLK on Nordic is left at its power-up source HFINT, which is an internal oscillator with a typical tollerance of +/- 1.5% but maximum of +/- 8%.

If you apply the following patch to your example things should stabilize nicely:
[code]

I get:
[code]

We really need:
* #24334 finished up and merged;
* possibly a change to make sure

[2020-04-29 02:21] andyross commented on #24784
So the busy wait clock is a silicon oscillator and not a crystal at all?  Yeah, that doesn't seem kosher, though maybe it's a configuration that should be supported via configuration.  From a Zephyr perspective, the requirement is that k_busy_wait() and the timer driver need to agree on time, and this configuration just can't do that.

From a board perspective, while I can see the value in having

[2020-04-29 02:48] chen-png commented on #23800
@tbursztyka  i added the --lapic_pt option after acrn-dm command as below:

acrn-dm -A -m $mem_size -s 0:0,hostbridge -s 1:0,lpc -l com1,stdio \
  -s 5,virtio-console,@pty:pty_port \
  -s 3,virtio-blk,./zephyr.img \
  --ovmf /usr/share/acrn/bios/OVMF.fd \
  --lapic_pt \
  $vm_name

but it seems that it couldn't start a vm successfully.

 DEVICE: [601668277373us][cpu=0][vm0:vcpu0][sev=3][seq=225]:W

[2020-04-29 04:02] petejohanson commented on #24536
I'm currently experimenting with implementing a `kscan` driver for GPIO matrixes, and playing with using a DT that looks like:

[code]

Because the number of columns + rows varies by board/shield, I need the ability to loop over all the rows/columns during initialization to get the various devices, store the relevant pins, etc into an array for later use for the scanning callback.

Having a foreac

[2020-04-29 05:11] stephanosio opened #24802 "Implement Microchip SAM family CAN controller driver"
### Summary

A number of Microchip (formerly, Atmel) SAM family SoCs include a CAN 2.0A/B and CAN-FD capable host controller peripheral.

In order to take advantage of this, it is necessary to implement a driver for it, that can interface to the existing Zephyr CAN protocol stack.

### Target Devices

The following Microchip SAM family devices implement the "Microchip CAN Controller" peripheral:
*

[2020-04-29 05:16] stephanosio commented on #24802
Is anyone already working on this by any chance?

cc @benpicco @nandojve @mnkp @aurel32 @karstenkoenig @alexanderwachter

[2020-04-29 05:46] alexanderwachter commented on #24802
Not that I know off.
Do you plan to work on that driver by any chance?

[2020-04-29 05:52] stephanosio commented on #24802
Not anytime soon, but it is in my long-term backlog for now.

[2020-04-29 06:01] stephanosio opened #24803 "ADC driver test hangs on atsame54_xpro"
**Describe the bug**
The `tests/drivers/adc/adc_api` test hangs on `atsame54_xpro`.

**To Reproduce**
Build and run `tests/drivers/adc/adc_api` on `atsame54_xpro` board.

**Expected behavior**
Test completes successfully.

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain: Zephyr SDK 0.11.2
 - Commit SHA: b7626df

[2020-04-29 06:02] stephanosio commented on #24803
cc @benpicco @nandojve

[2020-04-29 06:13] susundberg commented on #24751
I undestand this - and for my behalf one can close this issue.

But if its to enable ADC1 channel 0 should it not be called ADC1_CH0 ? And on the other hand, why should not there be ADC1_CH8 then? That would also document (i see the pinmux as documentation, of what pin is used but again, this is just me) the specific pin used in the pinmux.c.

(btw: checking another older project with stm32f4 seem

[2020-04-29 06:15] erwango commented on #24767
Additionally, I should mention that on this board, ethernet controller is not connected to MCU by default and you have to do some hw modifications to get it working. You'll get more information in the following post:
https://github.com/ARMmbed/mbed-os/pull/11827
By advance, sorry for the inconvenience.

[2020-04-29 06:18] stephanosio commented on #24701
Note: `CONFIG_CMSIS_DSP_TEST_TRANSFORM_RQ31` fails also.

[2020-04-29 06:43] nordic-krch commented on #24784
Busy wait is using high frequency clock and source of HF clock can be internal oscillator (low precision but also less power, on nrf52840dk it's 230uA less) or HFXO (some peripherals like RADIO requires it). LF clock (used in general for system clock) can use internal RC if XTAL not present on the board (less accurate, requires periodic calibration) or external LFXO (precise). Turning on HFXO take

[2020-04-29 07:34] markus-becker-tridonic-com commented on #23076
@andyross The base functionality of free and max heap would be fine.

[2020-04-29 07:56] wobak-j opened #24805 "On x86, misalligned SSE accesses can occur when multithreading is enabled"
**Describe the bug**
The [_dummy_thread_ variable](https://github.com/zephyrproject-rtos/zephyr/blob/d650f4b494c62c1e62cc727f75b2047ed692f636/kernel/init.c#L470) in `z_cstart` is not always aligned to 16 bytes, e.g. when `CONFIG_DEBUG_OPTIMIZATIONS=y` is set.
This leads to exceptions when performing [_fxsave_](https://github.com/zephyrproject-rtos/zephyr/blob/d650f4b494c62c1e62cc727f75b2047ed692f6

[2020-04-29 08:14] stephanosio commented on #24701
This is a bug (or at least an undocumented/very questionable behaviour) in the CMSIS-DSP inverse FFT implementation; I have filed an upstream issue for this: https://github.com/ARM-software/CMSIS_5/issues/906

For now, I will implement workarounds in the tests to allow predictable operation.

[2020-04-29 09:44] i-and commented on #24767
To continue the conversation, please clarify: is Zephyr supported on two Cortex-M7 and Cortex-M4 cores of STM32H747, or on one of them? If both cores are supported, in which mode (AMP, SMP, ,...)?

[2020-04-29 09:58] erwango commented on #24767
@i-and Zephyr is supported on both cores in AMP. Though for now only a limited range of peripherals are supported. Also we still miss inter-core communication

[2020-04-29 11:33] pabigot commented on #24784
Nordic hardware can't do that and maintain both a reasonable power consumption and time accuracy.  The preferred system clock (accurate and low power) is limited to 32 KiHz, and a higher priority for applications is that `k_busy_wait()` not be limited to multiples of 30.6 us.  The majority of use cases for `k_busy_wait()` outside tests do not involve times in excess of 1 ms.

I do think we need to

[2020-04-29 12:16] nandojve commented on #24802
I'm not working...happy to read that!

[2020-04-29 13:01] #24674 closed

[2020-04-29 13:03] nordic-krch commented on #24784
See #24817 proposal with mixed busy waiting. Please let me know what do you think about it.

[2020-04-29 15:24] nashif commented on #24660
fails on nrf52840dk_nrf52811 and reel_board

[2020-04-29 15:27] nashif commented on #24660
and on nrf9160dk_nrf9160

[2020-04-29 17:11] andyross commented on #24784
Again, isn't the easier solution to make the crystal the default and leave the free-running silicon oscillator available as an optional configuration (at the expense of precision, with warnings, etc...).  The development boards that are failing in testing are all powered via USB anyway.

Are you guys not seeing the failure in timer_api in your rig?

[2020-04-29 18:05] DarrylGamroth commented on #24802
FYI: those Microchip (formerly Atmel) products implement Bosch M_CAN IP. The same IP is used by ST (FDCAN) and TI (TCAN4550) so there may be value in having a generic driver.

[2020-04-29 18:11] andrewboie commented on #24805
Related issue: https://github.com/zephyrproject-rtos/zephyr/issues/17893

[2020-04-29 18:25] alexanderwachter commented on #24802
I just implemented the driver for STM32G4 (FDCAN) #22832

[2020-04-29 19:03] stephanosio commented on #24802
@DarrylGamroth Comparing the CAN FD register maps of the SAM and STM32 SoCs, I can see that is indeed the case. Thanks for the very useful info!

@alexanderwachter It looks like it would be possible to support the Atmel SAM series just by refactoring your "STM32" CAN FD driver in that PR :)

[2020-04-29 19:59] #24720 closed

[2020-04-29 20:24] karstenkoenig commented on #24802
Not working on any CAN drivers lately :-(

@DarrylGamroth Oh wow thanks for pointing that out! I knew the TCAN4550 standalone controller had a bosch m_can ip but not that it's also what's in the STs FDCAN. The TCAN4550 looked really sweet, but the price of that evaluation board is just a bit much...

[2020-04-29 21:06] retfie opened #24840 "Unable to connect to OpenThread network after upgrade"
**Describe the bug**
Devices (nrf52840dk_nrf52840) upgraded to 5321c42882 origin/master unable to connect to OpenThread network anymore. They stay in detached state forever (role: 1).
Most probable root cause is this change 19c8ff9f0ac99c957505bbdd32868dcbb25d1944 at least according to git bisect suggestion. Checkout on a hash before it, recovers ability of nodes to connect to OT network.

**To Re

[2020-04-29 23:56] cfriedt opened #24842 "Support Building on Aarch64"
**Is your enhancement proposal related to a problem? Please describe.**
Building on Aarch64 is pretty easy for native posix tests

**Describe the solution you'd like**
For the build to not try to pass `-m32` to the compiler, unconditionally.

**Describe alternatives you've considered**
Submitting a patch.

**Additional context**
Contents of `~/.zephyrrc`:
[code]

Before:
[code]

After:
[code]

[2020-04-30 00:36] beriberikix opened #24844 "Setting esp-idf path to match Espressif's documentation"
I set up a new mac with both Espressif's IDF/toolchain and Zephyr. I ran into a build error because the `ESP_IDF_PATH` was not set. This wasn't set correctly because:

1. The Zephyr docs didn't mention it when [setting up the environment](https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html#set-up-build-environment)
2. The Espressif [docs](https://docs.espressif.com/projects/es

[2020-04-30 01:56] cfriedt commented on #24842
On a side note, it's also pretty trivial to run
[code]
and with that, use
[code]

To cross compile from Aarch64 to Aarch32

[2020-04-30 05:48] alexanderwachter commented on #24802
@DarrylGamroth thanks for pointing this out!
I‘ll rename the driver then!

[2020-04-30 06:42] aescolar commented on #24842
Realted to #13633

[2020-04-30 07:26] aescolar commented on #24842
Would you like to add a paragraph in the documentation (together with your PR) describing how to do it?

[2020-04-30 08:09] wobak-j commented on #17893
Is this an issue needing to be addressed in Zephyr? The [gcc documentation](https://gcc.gnu.org/onlinedocs/gcc/Common-Type-Attributes.html#Common-Type-Attributes) does not specify whether alignment applies to stack variables. However, from reading [this issue](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=16660) it seems to me that stack variable alignment smaller than given in the attribute was de

[2020-04-30 08:18] wentongwu commented on #24750
yes, we should have that API or there is status flag in struct device.

[2020-04-30 08:26] wentongwu commented on #24750
Thanks, the title of this issue maybe confuse, my intention is to get the list of succeed initialization device in ether way(device module provide that API or caller iterate over the devices by the status which currently doesn't exist in struct device), currently PM module use device_list_get to suspend/resume device and it maybe not well considered.

[2020-04-30 08:52] carlescufi commented on #24844
@beriberikix would you send a PR to fix the documentation?

[2020-04-30 08:53] carlescufi commented on #24844
@nashif have you ever had to set `ESP_IDF_PATH` when building for ESP32?

[2020-04-30 11:38] pabigot commented on #24750
@wentongwu Agreed, we need #23407 merged then I'll work this, adding a function to check the state and clarifying the documentation.  #19448 needs to be taken into account in the API, though the implementation can wait.

[2020-04-30 11:51] sercantun commented on #24695
.config file can not be generated because of the compile error.

Compile stops here;
Error: Aborting due to non-whitelisted Kconfig warning
../zephyrproject/zephyr/samples/net/sockets/echo_server/prj.conf:47: warning: ignoring
malformed line ' CONFIG_NET_CONFIG_SETTINGS=y''.

[2020-04-30 11:55] tbursztyka commented on #24750
Just a quick notice, as your discussion caught my attention: driver_api pointer is not going to be used anymore as a marker for initialization success/failure. Reason being that it prevents device driver instance to be "const-ified" to stay in ROM. (I am actually working on this const issue)

Yes a status flag per-device driver instance will be the solution (it will be used for other things as wel

[2020-04-30 12:41] tejlmand commented on #24692
Great to hear.
Will still be looking into this, and not blindly change the current code, cause I would like to ensure we don't introduce other side effects by such change.

[2020-04-30 13:07] jukkar commented on #24695
Do you have extra space in start of the config entry, the error print indicates that.

[2020-04-30 13:14] mtahirbutt opened #24853 "os: Precise data bus error with updatehub"
**Describe the bug**
A clear and concise description of what the bug is.

When I run the updatehub app without DNS and without DHCP, it generates error right after probing. In other words, this error is generated after 1-2 minute right now but varies when updatehub lib is a bit played with.

<inf> updatehub: Probe metadata received
[1B][8D[1B][J[00:04:32.948,000] [1B][1;31m<err> os: * BUS FAULT *[

[2020-04-30 13:20] maksimmasalski opened #24854 "docs: Using third-party libraries not well documented in Memory partitions docs"
**Using third-party libraries not well documented**
During work with memory partitions https://docs.zephyrproject.org/latest/reference/usermode/memory_domain.html?highlight=memory%20domain#_CPPv423k_mem_domain_add_threadP12k_mem_domain7k_tid_t in Figure "Automatic Memory Domain build flow" I found that it is possible to use the third-party libraries. As I understand kernel supports subsystem libra

[2020-04-30 13:44] nandojve commented on #24853
CC @otavio

[2020-04-30 13:49] carlescufi commented on #3668
@andyross can this be closed?

[2020-04-30 14:11] carlescufi commented on #20729
@nashif any ideas about this one?

[2020-04-30 14:21] carlescufi commented on #16902
@nashif any chance we can address this?

[2020-04-30 14:43] maksimmasalski opened #24859 "os: Add memory partition overlap assert check is not made for x86 boards"
**Describe the bug**
When using in code memory domain API k_mem_domain_add_partition(), in its implementation function during check of the memory partition assertions, I found out that assertion which checks that memory partitions are not overlapped is not executing for x86 boards.
1. In _kernel/mem_domain.c_ to check that it is true, I added debug printk before line L160
[code]
2. Also in _kernel

[2020-04-30 16:09] andrewboie commented on #17893
@wobak-j this doesn't have anything to do with the compiler, it's the alignment requirements of memory addresses passed to `fxsave`/`fxrstor`.

https://www.felixcloutier.com/x86/fxsave

[2020-04-30 16:25] #21500 closed

[2020-04-30 17:13] beriberikix commented on #24844
Happy to submit the immediate doc bug. However, the change I suggested would require modifying the source code. Should I submit the PR for the docs or should we discuss the proposed change first?

[2020-04-30 17:28] #3668 closed

[2020-04-30 18:11] wobak-j commented on #17893
I know. My point was that that the  [tFpRegSetEx struct](https://github.com/zephyrproject-rtos/zephyr/blob/af3defd34e1c06e9fdc57da6c1b5c91a95c44023/include/arch/x86/ia32/thread.h#L115), to whose address the `fxsave` operation is performed, already has the correct alignment attribute. According to the the gcc documentation, this alignment should be propagated transitively through the parent structs

[2020-04-30 18:16] kkiyota opened #24868 "Enhancement of ARM CMSDK Dual Timer driver"
**Is your enhancement proposal related to a problem? Please describe.**
Existing ARM CMSDK Dual Timer driver, zephyr/drivers/counter/timer_dtmr_cmsdk_apb.c, has limited capabilities such as mode setting(currently only periodic and wrap mode), registers' access, only timer1 available(can't access to timer2), etc.

**Describe the solution you'd like**
Add additional APIs in zephyr/drivers/counter/ti

[2020-04-30 18:23] andrewboie opened #24869 "qemu_x86: with icount enabled, crash in test_syscall_torture"
**Describe the bug**
After applying the following patch:

[code]

I noted a consistent failure in tests/kernel/mem_protect/syscalls which hammers the CPU with system calls:

[code]

EFLAGS: PF AF IF OF IOPL

I don't know if this is reproducible without the icount patch, but my feeling this is a kernel bug.

My tree is at revision 8b27d5c6b9060f9f8f8b2edee4f9686d5ebf25d7 (plus the icount patch abov

[2020-04-30 18:23] andrewboie commented on #24869
@wentongwu FYI

[2020-04-30 18:28] andrewboie commented on #24869
EIP is 0. This is being incorrectly reported as a stack overflow. ESP points to a location 0x0015dfe0 on the trampoline stack, so I'm suspecting a KPTI issue:

[code]

[2020-04-30 18:30] cfriedt commented on #24842
No problem. Hopefully the syntax is correct ;-)

[2020-04-30 18:46] andrewboie commented on #24869
To fix this, z_x86_check_stack_bounds() needs to also check if the provided addr falls within the trampoline stack for the current CPU.

[2020-04-30 19:04] andrewboie commented on #24869
Trampoline stack contents:

[code]

So we have a stack frame of:

[code]

The first five values match the sort of exception stack frame we would get from invoking the custom "to_copy" syscall defined by the test case. Which makes sense, the test hammers the CPU with syscalls from several threads, and to_copy() is one of them, the test defines several custom syscalls.

The last two values look deep

[2020-04-30 19:19] jukkar commented on #24108
I do not have hawkbit environment setup. Do you have any other way to replicate this issue?

[2020-04-30 19:23] andrewboie commented on #17893
@wobak-j for statically defined k_thread, yes, the alignment is correct. But that's not what this bug is about.

If you call malloc() or get memory from a memory pool, and cast the returned void * pointer to a k_thread, the alignment is likely not correct. We have no heap in Zephyr where you can specify the alignment in the allocation function.

This has nothing to do with GCC or the alignment of

[2020-05-01 00:28] andrewboie commented on #14173
I found and fixed two issues that were exposed by enabling icount on x86 targets:

https://github.com/zephyrproject-rtos/zephyr/pull/24879
https://github.com/zephyrproject-rtos/zephyr/pull/24880

After https://github.com/zephyrproject-rtos/zephyr/pull/24879 is merged, I have found icount works well on 32-bit x86, and I think we should enable it. I tested with `-icount shift=7,align=off,sleep=off -

[2020-05-01 08:47] wentongwu commented on #14173
[code]

this problem should be "with icount mode enable, although configure Qemu multi cpu, there is only one vCPU thread to handle guest code", for case `test_coop_resched_threads` current cooperative thread doesn't give up the only vCPU and other high priority cooperative thread doesn't get vCPU time to run, so there is assert.

[2020-05-01 09:10] wentongwu commented on #14173
[code]
if increase the timeout value as below, this case can pass almost because the same reason, only one vCPU run for QEMU icount even configured multi cores, sender thread can't complete within 2 milliseconds virtual time.
[code]

[2020-05-01 09:55] carlescufi commented on #24869
@andrewboie would you mind labelling test-related issues that affect a particular test or set of tests with the "Tests" label? This will help triage for the release

[2020-05-01 12:23] tristenator opened #24889 "stm32f469i discovery board and samples/display/lvgl fails"
hello, i'm new to embedded development and i don't know if this is a bug, but when i build and flash   samples/display/lvgl for the stm32f469i discovery board the console result is:

*** Booting Zephyr OS build zephyr-v2.2.0-478-gcd679452b20e  ***
[00:00:00.005,000] <err> lvgl: Display device not found.
[00:00:00.005,000] <err> app: device not found.  Aborting test.

i used:

west build -b stm32f4

[2020-05-01 12:53] wentongwu commented on #14173
[code]

[code]

[code]

these three issues are all related to only one vCPU existed when icount enabled, but actually run time CONFIG_MP_NUM_CPUS=2

[2020-05-01 12:55] wentongwu commented on #14173
[code]
this case requires
[code]
but we only have one core with icount enabled.

[2020-05-01 13:03] wentongwu commented on #14173
I see only above 5 failed cases with icount enabled on qemu_x86_64 platform, if config CONFIG_MP_NUM_CPUS=1 for these 5 cases, qemu_x86_64 can work well with `-icount shift=5,align=off,sleep=off -rtc clock=vm`

[2020-05-01 13:21] kkiyota commented on #24868
In addition, I also would like to ask to enhance it to support multiple instances.  My SoC has two dual timers in it.

[2020-05-01 14:00] galak commented on #24868
@kkiyota there isn't much active development on the CMSDK drivers at this time.  We're happy to take any PR to address the enhancements you are asking for.

[2020-05-01 18:37] alexanderwachter commented on #24802
I separated the generic part of the can_m module. Some functions need to be implemented for every platform, like all clock related stuff. Unfortunately, the STM FDCAN is not 100% compatible with can_m. It misses some registers, and the size of the message RAM differs. There will be some `#ifdef`s in the code.

[2020-05-01 18:43] #24869 closed

[2020-05-01 18:54] nashif commented on #17893
btw, the test currently passes on qemu_x86 and still fails on qemu_x86_64, was looking for a different reason at this test.

[code]

[2020-05-01 19:02] dieselburner commented on #14790
**TLDR; This example seriously lacks documentation.**

Yes, there are issues in this example. The most critical part is what @rlubos mentioned in regards to the absence of documentation on configuration options. Obviously, some nerd would say: pfff, read the docs. No. First of all, Google Cloud documentation is MASSIVE, and I feel like looking for a needle. Second, for example, Client ID has a for

[2020-05-01 20:13] andrewboie commented on #14173
OK. I think we should open a separate issue specifically for x86_64 SMP. We may need a completely different emulator to do this right, or this may have to be a documented limitation.

[2020-05-01 20:51] henrikbrixandersen commented on #24536
You can retrieve the length of the phandle-array using `DT_PROP_LEN()`/`DT_INST_PROP_LEN()` and loop through all entries.

[2020-05-01 20:59] DarrylGamroth commented on #24802
Nice!

Could the message RAM definition be defined in Devicetree similar to the Linux dts then use DT_REG_ADDR_BY_NAME(DT_INST(0, bosch_m_can), message_ram) to get the base and DT_REG_SIZE_BY_NAME(DT_INST(0, bosch_m_can), message_ram) for the size?

I might be wrong with the correct DT macro usage but you get the general idea.

[2020-05-01 21:23] alexanderwachter commented on #24802
Sure, it is not finished yet. There are some other things, especially in the init, that need to be changed.

[2020-05-01 21:28] scttnlsn commented on #18042
It seems as though this invite link is no longer working:

[code]

[2020-05-02 11:52] Laczen commented on #24889
Hi @tristenator, the board you are using has no definition of a display. The dts file should be modified to include the display definition. As an example how the display should be defined you can look at the reel_board dts file (for the reel board the display is connected to spi).

[2020-05-02 11:53] vonhust commented on #24747
@andrewboie  i think  the root cause is that nsim is too slow, and 512K SAM is allocated for nsim, . I ran the tests for 10 mins, and got the following result:
[code]

If reduce the BIG_HEAP_SIZE,  it will be faster

[2020-05-02 15:03] nashif opened #24903 "Python detection when building documentation fails"
in doc/CMakeLists.txt we still use `find_package(PythonInterp 3.6 REQUIRED)` which fails if someone has an old python package installed for compatibility.

[2020-05-02 19:00] bwasim commented on #20594
@stephanosio , I'm planning to start work on Armv7-R MPU and hope to push it into the mainline in the next couple of weeks. Let me know if someone is already working on this, so I don't end up duplicating the effort..

[2020-05-02 20:11] stephanosio commented on #20594
@bwasim Nobody is working on/planning to upstream ARMv7-R MPU support at the moment as far as I know, though it is possible that Lexmark guys already have it.

[2020-05-02 20:18] andrewboie commented on #24747
10 minutes is a long time...@andyross any ideas?

[2020-05-02 20:19] andrewboie commented on #24747
cc @npitre you guys have been working with this code.

[2020-05-02 20:21] bbolen commented on #20594
Yes, we do have something working but it is not in merge worthy shape right now.  If you can wait until Monday, I can send you a patch of what we have in order to take a look.

[2020-05-02 22:03] bwasim commented on #20594
That would be great, Thanks..

[2020-05-02 22:18] rfcard opened #24908 "Shared object files or dynamic libraries"
I would like to be able to create dynamic libraries (".so" shared object files) that my Zephyr application can download when it needs functionality.

Is it possible to do this today, but in another way?

[2020-05-03 00:39] CrustyAuklet opened #24909 "`find_package` goes into an infinite loop on windows"
**Describe the bug**
when using CMake to build an Zephyr project on windows (without west) the `find_package` goes into an infinite loop.

This is caused by the following code, since on windows we never reach `/` but instead `C:/` or `D:/` etc.

https://github.com/zephyrproject-rtos/zephyr/blob/fc828fde6feb4fe1b849877e0546b2e3f7fc0f80/share/zephyr-package/cmake/zephyr_package_search.cmake#L15

I f

[2020-05-03 00:52] tristenator commented on #24889
ok thank you @Laczen i'll take a look, appreciate the help

[2020-05-03 00:52] #24889 closed

[2020-05-03 04:56] sslupsky opened #24910 "kernel: stack sentinel crashes"
I noticed a peculiar issue while doing some debugging.  I have the stack sentinel turned on.  I am debugging on a Arduino samd21 board (Cortex M0+).  I noticed that the stack sentinel always causes a hard fault.  The result of this prevents the kernel message indicating the fault from ever reaching the console.  Is there a "safe" way to use the stack sentinel?

This screen shot illustrates the sta

[2020-05-03 06:28] Sanji1981 opened #24911 "arch: arm: aarch32: When CPU_HAS_FPU for Cortex-R5 is selected, prep_c.c uses undefined symbols"
**Describe the bug**
When compiling for a Cortex-R5-based SoC which selects CPU_HAS_FPU option, the z_arm_floating_point_init() function defined in /arch/arm/aarch32/prep_c.c makes use of the SCB (defined in a CMSIS header for Cortex-M3) which is undefined when CPU_CORTEX_R is selected.

**Expected behavior**
Builds fails with:
[code]

**Impact**
Advance in the development of current project.

**E

[2020-05-03 08:22] stephanosio commented on #24911
Enabling FPU (`CONFIG_FPU=y`) is not supported at the moment. This is WIP. See https://github.com/zephyrproject-rtos/zephyr/issues/20594 and https://github.com/zephyrproject-rtos/zephyr/issues/19979.

[2020-05-03 08:29] stephanosio commented on #24911
I will probably upstream the Cortex-R FPU support next week.

[2020-05-03 11:47] aescolar commented on #24685
Note that Zephyr's linker script symbol definition and symbol reordering is supported (both building as dynamic and as static libraries). Each resulting library containing an embedded CPU SW would have its own set of linker defined symbols hidden from the other CPU libraries.
`SORTABLE_INT` in the code below would be a demo of one of the many symbols we short around in Zephyr; Where both the CPU "

[2020-05-03 13:49] saewoonam opened #24915 "accelerometer example no longer works for microbit"
**Describe the bug**
The accelerometer can not be found on the board...
Here is the output from gdb is below

1) It can't find the accelerometer
2) Somehow, it is using the wrong "return statement", instead of line 38, it is line 50

**To Reproduce**
west build -t pristine
west build -b bbc_microbit samples/sensor/fxos8700 -- -DCONF_FILE="prj_accel.conf"

gdb session:

0002701:INFO:loader:Erased 0

[2020-05-03 15:18] saewoonam commented on #24915
Sorry, I just realized that I have a newer (not older) microbit.   So, it uses a different accelerometer... Does anyone know if there is an example using the LSM303AGR on the microbit?

[2020-05-03 15:18] #24915 closed

[2020-05-03 15:40] lmajewski opened #24916 "echo_client sample return: Cannot connect to TCP remote (IPv6): 60 (frdm_k64f <--> native_posix)"
**Describe the bug**
I'm trying to setup echo_server and echo_client for **native_posix** (on my host PC) and **frdm_k64f** development board.
What have you tried to diagnose or workaround this issue?
To fix the problem - I've followed steps described in: https://github.com/zephyrproject-rtos/zephyr/issues/24282

**To Reproduce**
Setup native_posix:
https://docs.zephyrproject.org/latest/guides/net

[2020-05-03 18:11] CrustyAuklet commented on #24909
Seems like a more portable fix is to compare against the path from the last iteration, this works on my machine:

[code]

[2020-05-03 20:05] parthitce commented on #24554
@carlescufi Ping on this module creation.

[2020-05-03 20:23] andrewboie commented on #24910
This isn't really the information we need.
What we need is the actual error messages that were logged when the fault happened. Preferably in text and not screenshot form.
If it is an MPU fault, I can tell you right now that you cannot use MPU stack guards, and the stack sentinel at the same time (nor would you want to since they do the same thing, with the MPU being far more robust)

[2020-05-03 20:25] andrewboie commented on #24910
If you can't capture any console data, can you check if CONFIG_MPU_STACK_GUARD is also enabled?

You could also enable CONFIG_LOG_MINIMAL which directs all log messages to printk() synchronously instead of buffering them.

[2020-05-03 20:43] arvid-r opened #24918 "Segger RTT using j-link doesn't work on NXP i.MX RT"
**Describe the bug**
Debug output, and logging using Segger RTT and j-link hardware doesn't work on i.MX RT SOCs from NXP. More info about the RTT subsystem here: [RTT](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_RTT_CONSOLE.html)

**To Reproduce**
Steps to reproduce the behavior:
1. Select any sample application that runs on iMX RT 1020 EVK board.
2. Add the following to prj.co

[2020-05-03 21:49] pabigot commented on #24844
I do the following to build for ESP32:

    . ~/esp/esp-idf/export.sh
    export ZEPHYR_TOOLCHAIN_VARIANT=espressif
    export ESPRESSIF_TOOLCHAIN_PATH=${HOME}/.espressif/tools/xtensa-esp32-elf/esp32-2019r1-8.2.0/xtensa-esp32-elf/
    export ESP_IDF_PATH=${IDF_PATH}

    west build -b esp32
    west flash --esp-device /dev/ttyUSB0

[2020-05-04 03:17] andyross commented on #24747
This is definitely a CPU-bound test, it's exhaustively stressing the heap with random allocation patterns.  It completes in 10-20 seconds IIRC on most of the qemu platforms.  Is nsim that much slower or are we hitting some weird performance case?  There was a similar situation with renode, which was much slower than qemu.  There we just disabled that simulator as we had coverage for the architectu

[2020-05-04 05:57] Sanji1981 commented on #24911
@stephanosio  Thank you very much for the prompt reply and please forgive me for the bothering question. That will be very helpful, I'd like to thank you in advance as well.

[2020-05-04 05:57] #24911 closed

[2020-05-04 08:10] vonhust commented on #24747
@andy0808 , my observation is heap size will affect the run time, maybe in sys_heap_alloc.  When I change the MEMSZ from 170 KB (256 * 2/3) to the fixed 16 KB.  It runs faster.

[2020-05-04 08:26] carlescufi commented on #24909
@CrustyAuklet thanks for the report. Would you mind sending a Pull Request?

[2020-05-04 09:23] carlescufi opened #24926 "Remove all uses of CONFIG_LEGACY_TIMEOUT_API from the tree before 2.3"
Convert the remaining subsystems that still enable `CONFIG_LEGACY_TIMEOUT_API` so that it can be safely disabled by default.
Please use `SYS_FOREVER_MS` (in `include/sys/time_util.h`) as the value for infinite timeout if you decide to stay with `s32_t` instead of switching to `k_timeout_t` in the API. Also use `SYS_TIMEOUT_MS()` to convert from `s32_t` to `k_timeout_t` instead of rolling your own.

[2020-05-04 09:40] Mani-Sadhasivam commented on #24926
@carlescufi For LoRa, conversion is done in #24649

[2020-05-04 09:54] erwango opened #24927 "stm32: Fix docs boards for doc generation"
**Describe the bug**
For automatic board generation, value of name yaml property should match name in board file .rst:
https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/96b_neonkey/doc/index.rst#96boards-neonkey
should match: https://github.com/zephyrproject-rtos/zephyr/blob/e1dddf7befa7309bd2afc567b2e00d2e7362f7c4/boards/arm/96b_neonkey/96b_neonkey.yaml#L2

Check this for whole

[2020-05-04 09:59] carlescufi commented on #24926
Thank you! Updated

[2020-05-04 10:19] Nukersson commented on #24767
@erwango Is it possible to use _Hardware semaphore (HSEM)_ for peripheral ( ETH module etc. ) for synching between the cores?

[2020-05-04 10:29] erwango commented on #24767
@Nukersson Depends on your need. If this is to protect usage between cores, we're currently trying to improve to existing code with https://github.com/zephyrproject-rtos/zephyr/pull/24862.
Does it answer your question ?

[2020-05-04 10:31] Nukersson opened #24928 "Running Zephyr Bot tests on local machine"
It would be very helpful to have possibility for typical Zephyr Bot tests ( e.g. CI-Test) running on local development machine. Thus each developer can save many time especially at the beginning.

Probably a Docker image would be suitable for this purpose.

If docker approach is not possible, some CI-Test run before pull request on forked branch may be helpful.

Does anybody have some other ideas

[2020-05-04 10:34] Nukersson commented on #24767
@erwango It completely does answering my question. Hopefully I can join to #24862 later, as I get more experience with Zephyr.

[2020-05-04 10:40] carlescufi commented on #24928
@Nukersson you can already do that today very easily with the `sanitycheck` script that is provided with Zephyr.

[2020-05-04 10:49] Nukersson commented on #24928
@carlescufi Do you mean this [ sanity check docs](https://docs.zephyrproject.org/latest/guides/test/sanitycheck.html)?

[2020-05-04 11:00] carlescufi commented on #24928
Yes, exactly.

[2020-05-04 11:04] carlescufi commented on #24928
@Nukersson you can also pull down the docker image that is used in CI.

docker.io/zephyrprojectrtos/zephyr-build:latest

[2020-05-04 11:05] carlescufi commented on #24928
Closing this since it is already addressed.

[2020-05-04 11:05] #24928 closed

[2020-05-04 11:43] carlescufi commented on #24926
@andrewboie could you port the CMSIS RTOS API please?
@pfalcon could you do `lib/posix`?

[2020-05-04 12:39] #24903 closed

[2020-05-04 12:50] erwango commented on #24751
@susundberg We're closing this PR as CONFIG_ADC_X symbols are being removed and replaced by dts nodes.

We don't have this granularity.
But I agree current solution is not a prefect fit. Next step is to move pinmux.c to device tree. I hope this will help to make things clearer.

[2020-05-04 12:50] #24751 closed

[2020-05-04 13:17] agansari commented on #24429
@d3zd3z the short answer is it's an ECC error when reading an erased area.

LPC's flash firmware exposes additional checking functions: FLASH_VerifyErase and FLASH_VerifyProgram.
Checking FLASH_VerifyProgram the erased area returns a status of kStatus_FLASH_EccError, this is described in SoC's the user manual UM11126 - ch 5.7.13

check” command to test for successful erase.

A possible solution wo

[2020-05-04 13:46] bbolen commented on #20594
The top three commits on https://github.com/bbolen/zephyr/commits/cortex_r_mpu are what we have.  This is based on v2.2.0.  We started working on this on 1.14 and merging has made just grabbing patches difficult so I had to just start clean on top of v2.2.  I think I got everything, but if you have problems, let me know.

[2020-05-04 14:46] #20825 closed

[2020-05-04 14:52] tejlmand commented on #24909
@CrustyAuklet thanks for this, and the fix.
I verified the suggestion and it work as expected, so I created #24934.

If you have the `signed-off-by` line with you mail, I will be happy to include it in the commit message.

[2020-05-04 15:11] andyross commented on #24747
That's definitely weird.  I'd be tempted to say "cache effects", but obviously this is nsim not hardware.

The iteration count really shouldn't be changing, you can add a printk to verify if you like.  So if it's slower when operating in a bigger heap (which should be **faster**!  bigger heaps have more succeeding allocations, and finding a fitting block is the fast path vs. searching the list and

[2020-05-04 15:44] andyross commented on #24747
Oh, I forgot: the test code runs a full `sys_heap_validate()` for every operation, which iterates over the whole heap.  So yes, that's going to be make the run time O(N^2) in the heap size.

Still, qemu_x86 and mps2_an385 (our typical "big" emulated platforms) use a ~256k heap at runtime and complete in ~5 seconds or so.

Is nsim really 100x slower than qemu?  I still think something weirder must

[2020-05-04 15:56] lgl88911 opened #24939 "LSPI of NXP i.MX RT timing delay issue"
**Describe the bug**
1. Zephyr Can't update DBT/SCKPCS/PCSSCK to nxp_hal according to spi rate， cause spi transfer slow.
2. The delay time calculated by nxp_hal has an overflow problem，will casue no update  DBT/SCKPCS/PCSSCK,cause spi transfer slow.

I submitted 2 pr to solve these problems：
https://github.com/zephyrproject-rtos/hal_nxp/pull/36
https://github.com/zephyrproject-rtos/zephyr/pull/239

[2020-05-04 16:02] henrikbrixandersen commented on #23441
PR  #23442 with a proposed API for I2C bus recovery is ready for review.

@carlescufi Can you please include it in the next API meeting agenda?

[2020-05-04 16:45] CrustyAuklet commented on #24909
@tejlmand Thanks, I was going to get around to PR but I am trying to focus on learning the OS and some examples first. I've also found some path issues with mixed `/` and `\` in the final makefiles that I am fixing with a post configure sed command right now. I can open that as a separate issue later though.

For a signed-off-by line does this work? `Ethan Slattery ethan@wildlifecomputers.com`

[2020-05-04 16:57] erwango opened #24943 "Add a harness property to boards in sanitycheck's hardware_map"
**Is your enhancement proposal related to a problem? Please describe.**
Sanitycheck allows to generate a map of the boards that are hooked to a bench (be it a developer machine). This allows to easily launch tests on boards plugged on the bench.

Sanitycheck then run tests that are applicable on the boards depending on board's yaml file and samples/tests yaml file.

On some tests/samples, yaml fil

[2020-05-04 18:10] sslupsky commented on #24910
@andrewboie I will try to capture some more information about this.  The problem I am encountering is there are no console messages when the faults happen.  I recall only one time observing a console message indicating a hard fault or stack fault or any other kind of fatal fault.  I have seen a fault message occasionally on the J-Link RTT viewer when it is connected during a debug session but the

[2020-05-04 18:21] sslupsky commented on #24910
CONFIG_MPU_STACK_GUARD is not enabled.

[2020-05-04 18:43] andrewboie commented on #24910
I can't help you further without the complete text of the fatal error message.

You should not rule out the possibility that this is all working as intended, and the fatal error is a stack overflow detected by the sentinel mechanism.

Did you enable CONFIG_LOG_MINIMAL ?

[2020-05-04 20:01] tejlmand commented on #24909
please do.
I'm sometimes building with make, to try catch issues where build system has flaws.
But on windows, the only official shell supported is the `cmd.exe` (though other should work).
And therefore, the Ninja generator is the safe bet on windows.

Are you using the `MinGW Makefiles` on windows ?

[2020-05-04 20:55] andrewboie commented on #24744
Confirmed also broken on qemu_x86, should be an arch-neutral issue. I'm investigating...

[2020-05-04 21:06] andrewboie commented on #24744
Hmm, this works flawlessly with a K_FOREVER timeout.
Whatever the root cause ends up being, need to update test cases to exercise this scenario.

[2020-05-04 21:41] andrewboie commented on #24869
@carlescufi I'd rather not....shouldn't we only mark issues/PRs as "tests" if the tests were somehow part of the issue? In this case, the test was not the problem.

[2020-05-04 21:55] #24701 closed

[2020-05-04 22:59] sslupsky commented on #24910
I do not have CONFIG_LOG_MINIMAL turned on at the moment.  I will see if that helps.

I think you are correct, in the use case I outline above the stack sentinel did indeed detect a stack overflow.  What I think may be a problem is that I do not see the corresponding console output indicating that a stack overflow occurred.  Is my understanding correct?  Does the kernel send a fatal message to the

[2020-05-04 23:07] andyross commented on #16902
Actually this was a mistaken bug to begin with.  While CMSIS version **one** used milliseconds as the native API, version **two** passes system ticks to the same functions with the same names.   Our code was correct to begin with, though the naming was confusing  in a few places (probably owing to cut-n-paste from the v1 original).

Regardless, this is all cleaned up in #24956, which uses our now-

[2020-05-04 23:07] #16902 closed

[2020-05-05 00:02] andrewboie commented on #24910
Yes, it triggers the kernel fatal error path.

[2020-05-05 01:30] jasonedn opened #24960 "The example "blinky" didn't work on MIMXRT1050-EVK"
**Describe the bug**
The led didn't blink

**To Reproduce**
Build the project as below:
west build -p auto -b mimxrt1050_evk samples/basic/blinky

**Expected behavior**
The build passed but the led didn't blink after downloading. The codes didn't crash and ran properly

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Screenshots or console output**
If

[2020-05-05 03:11] jeremyherbert opened #24961 "i2c_write allows non-i2c structs to be passed without any errors"
**Describe the bug**
I just chased down a bug where the `i2c_write` function was passed a device binding which was not an I2C device. There was no indication that this was an error (no compiler warning/errors, no runtime assertion failures) but there really should be something to prevent this.

**To Reproduce**
[code]

**Expected behavior**
Some sort of error or assertion failure should occur

**I

[2020-05-05 03:30] mkarhumaa commented on #23980
Hi @emob-nordic,
Did you have time to test this scenario with Nordic SDK?

[2020-05-05 03:30] stephanosio commented on #24961
This issue is not specific to `i2c_write`.

Zephyr does not use device-specific type, so obviously no static type checking is done.

As for dynamic type checking, since there is no "device type" value in `struct device`, so there is currently no straight-forward method for API functions to validate the specified device instance type (which, I believe, is a deliberate decision made to reduce memory

[2020-05-05 03:46] jeremyherbert commented on #24961
I see your point, but having i2c_write return the success error code when it didn’t actually succeed seems like a bug to me.

[2020-05-05 03:57] stephanosio commented on #24961
The result of providing a non-I2C device instance to the I2C API functions, when there is no safeguard against it, is "unpredictable", and "returning success" just happens to be one of such unpredictable cases.

That is not a bug, but rather an inherent (and deliberate) limitation of the current Zephyr device API implementation.

[2020-05-05 04:07] jeremyherbert commented on #24961
Yes, I think you are right then.

Was the plan to have some sort of polymorphism for drivers, or is it purely to save RAM?

[2020-05-05 06:42] pfalcon commented on #24926
I will look into it. I assume the timeframe is "before the release"?

I also wish the description pointed to a "model" commit doing such a refactor.

[2020-05-05 07:19] markus-becker-tridonic-com opened #24963 "Slower OpenThread PSKc calculation"
After updating

* from https://github.com/zephyrproject-rtos/zephyr/commit/2cfb11e0508c1e9efa6ef9c505fcfb5e48a27be5 to https://github.com/zephyrproject-rtos/zephyr/commit/6667dc35e7ea75eb19602ffc86c694ed29587b2c

* from https://github.com/zephyrproject-rtos/openthread/commit/3c6191eb4e8ca44b5f4eeaa696837bce14e83c69 to https://github.com/zephyrproject-rtos/openthread/commit/497590aa126c331eb1447f69

[2020-05-05 07:22] emob-nordic commented on #23980
Hi @mkarhumaa,
Sorry but no. I am working on usb audio pr until the code freeze on May 8th. After that day I will have more time to work with bugs. Sorry for inconvenience.

[2020-05-05 08:14] mkarhumaa commented on #23980
@emob-nordic Ok, thanks for update!

[2020-05-05 09:21] markus-becker-tridonic-com opened #24965 "RF2XX radio driver does automatic retransmission and OpenThread as well"
The RF2XX radio driver zephyr/drivers/ieee802154/ieee802154_rf2xx.c does automatic retransmission for packets that have not been acknowledged (`RF2XX_TRX_PHY_STATE_CMD_TX_ARET_ON`). The default value from http://ww1.microchip.com/downloads/en/devicedoc/atmel-8351-mcu_wireless-at86rf233_datasheet.pdf of MAX_FRAME_RETRIES is 0x3.

In ieee802154_cc13xx_cc26xx.c the configurable define CONFIG_NET_L2_I

[2020-05-05 09:47] pfalcon opened #24966 "sockets/posix: poll()/select() implementation should be factored out from sockets subsys into POSIX subsys"
POSIX poll() was initially implemented in the scope of BSD Sockets API, and currently located in subsys/net/lib/sockets/ . It is however a generic POSIX facility, and was generalized to apply to arbitrary file descriptors (and objects represented by them). As we grow implementations of such objects (eventfd, unix domain sockets), dependency on networking sockets becomes a problem, as requires enab

[2020-05-05 10:16] #24661 closed

[2020-05-05 10:27] tbursztyka opened #24970 "ieee802154 l2: no length check in frame validation"
**Describe the bug**
If length does not fit with the frame format, it will lead to unknown state (crash, security hole... etc..)

**Expected behavior**
Frame length must be validated as well

[2020-05-05 10:29] pabigot commented on #24961
A system call from usermode would have validated that the device passed was an I2C device, but in privileged mode (which is the default) no such validation is performed.

[2020-05-05 10:32] tbursztyka commented on #24961
This could be added but as a debug feature only.

[2020-05-05 10:59] Navin-Sankar commented on #24108
Changed the TLS Kconfig as per the sample big_http_download.

From
[code]
to

[code]
now it's working. Thanks @jukkar

[2020-05-05 11:26] pabigot opened #24978 "RFC: use compatible name for prefix for device-specific API"
A number of devices including `ams,ccs811` and `maxim,ds3231` have capabilities that are not supported by generic subsystem APIs like sensor or counter.  Access to these capabilities is provided by device-specific extensions like:

[code]

Zephyr does not have a global documented policy on naming that takes into account future conflicts, e.g. by placing things in namespaces.  This has recently cau

[2020-05-05 11:31] #24108 closed

[2020-05-05 12:17] nordic-krch commented on #24784
Lets bring the discussion back to the issue. It is now happening in PRs.

Let me summarize how i see the problem:
- cpu clock or HF clock can have 2 sources:
  - RC (default) - inaccurate (up to 8%)
  - XTAL - accurate, draws more power
- system clock also referred as LF clock also can have 2 sources:
  - RC - inaccurate
  - XTAL accurate, always used if present on the board but not all boards/pro

[2020-05-05 12:38] nordic-krch commented on #24784
Another thing is that we have one real problem which is clock alignement in tests where misalignment leads to test failures and some theoretical not reported (yet?).

[2020-05-05 13:02] galak opened #24986 "Convert dma_nios2_msgdma to DTS"
Convert dma_nios2_msgdma driver to use DTS.  Its one of the last DMA drivers that is not DTS based.

[2020-05-05 13:31] carlescufi commented on #24978
I couldn't agree more @pabigot . Adding this to today's API meeting.

[2020-05-05 13:34] rlubos commented on #24840
@retfie I think we need more information here, I've just tested echo_client sample, configured as SED (on nrf52840dk_nrf52840) and it attached to the network with no issues at all. I've used current master, as for today (https://github.com/zephyrproject-rtos/zephyr/commit/b78c9dca52c506af3446c0dd3025ac0c9f6dcea2). Do you observe this behavior only with SED devices, or does it happen for FTD (route

[2020-05-05 13:37] rlubos commented on #16988
Closing for now, @GeeseHoward please reopen if you wish to resume discussion.

[2020-05-05 13:37] #16988 closed

[2020-05-05 14:18] rlubos commented on #22222
SLAAC was added in https://github.com/zephyrproject-rtos/openthread/pull/6

[2020-05-05 14:18] #22222 closed

[2020-05-05 14:21] rlubos commented on #23184
The original issue was resolved.

[2020-05-05 14:21] #23184 closed

[2020-05-05 14:31] carlescufi commented on #24926
Thanks! Yes, there is still time during the 2.3 stabilization period

Right, sorry. https://github.com/zephyrproject-rtos/zephyr/pull/24861 could be a starting point, though I see you have already pushed a PR! Thank you!

[2020-05-05 15:02] #24909 closed

[2020-05-05 15:05] #24927 closed

[2020-05-05 15:11] petejohanson commented on #24536
@henrikbrixandersen The problem is, I can't invoke the macro `DT_GPIO_FLAGS_BY_IDX`, etc. at runtime with the index into `gpios` property. I can't do:

[code]

Which is why I'm needing this to be expanded at *compile* time, like the `DT_INST_FOREACH` does.

Or am I missing some other trick?

[2020-05-05 15:16] rlubos commented on #24965
Hey @markus-becker-tridonic-com, my 2 cents,

I don't think we should use this config in radio drivers since it's only available with 802.15.4 L2. Radio drivers should be L2 agnostic, as they can be used with different L2s (like we do with OpenThread for instance).

Yes, IMO L2 configs should only be used in the dedicated L2 implementation. Whether the radio driver is able to handle retransmission

[2020-05-05 15:26] puranjaymohan commented on #22705
Hi, I want to work on this as a first-time contributor. Please tell me if a contribution wiki or guide is available?

[2020-05-05 15:37] galak commented on #22705
https://docs.zephyrproject.org/latest/contribute/index.html

[2020-05-05 16:08] cfriedt commented on #21392
Another good option is `clang-format`. It's available everywhere that LLVM is available and is quite highly configurable. The fact that it integrates directly with the compiler ensures that it is very accurate as far as linting goes. Popular conventions can be used (Google, Apple, Mozilla), and there are [quite a lot of .clang-format options](https://clang.llvm.org/docs/ClangFormatStyleOptions.htm

[2020-05-05 16:36] pabigot commented on #21392
I've updated the issue description to avoid referencing `uncrustify`; https://github.com/zephyrproject-rtos/zephyr/issues/21392#issuecomment-614121177 is based on the assumption that `clang-format` is a better underlying tool.  But we need a resolution to the fact it breaks checkpatch.

The original driver for my opening this was to have an objective rule for whether a style change was necessary:

[2020-05-05 16:44] carlescufi commented on #24978
API meeting:
General consensus towards enforcing (and documenting) this. #24741 will include a patch to document this.

[2020-05-05 17:24] carlescufi commented on #24803
@stephanosio is this something you plan to take a look at?

[2020-05-05 17:29] carlescufi commented on #24805
@nashif and @andrewboie could this be closed as a duplicate of #17893?

[2020-05-05 17:33] carlescufi commented on #24840
@retfie

This is quite an old GCC release. It's likely not the root cause, but upgrading wouldn't hurt. Since this is an issue with an external project that we don't track toolchain requirements for.

[2020-05-05 17:34] jukkar commented on #24916
Note that you might need to change the IP addresses in samples prj.conf files as you have changed the network IP addressing from default.

[2020-05-05 17:36] carlescufi commented on #24853
@nandojve or @otavio any chance you can take a look at the branch and logs?
@mtahirbutt if you haven't tried that yet, please enable `CONFIG_HW_STACK_PROTECTION` and retry, in case it's a stack overflow.

[2020-05-05 17:40] jukkar commented on #24916
Last time I investigated this, the issue was that both zephyr instances were using same MAC address which prevented the connection. But the pings work in your setup, then that is not the issue then.
Other issue that I have seen, is that Linux host has prevented packet flow, so I had to adjust firewall rules.

[2020-05-05 17:42] carlescufi commented on #24859
This is not a bug, `CONFIG_MPU_REQUIRES_NON_OVERLAPPING_REGIONS` is not enabled for x86 because of the architecture itself. If you want to add additional checks for x86 that are outside of the conditionally-compiled code please send a PR o log an enhancement issue.

[2020-05-05 17:43] mtahirbutt commented on #24853
I also reduced k_malloc (inside probe and install functions) assignments in the updatehub lib code, the issue also vanishes. will update but still facing some more issues. i can also try CONFIG_HW_STACK_PROTECTION by the way.

[2020-05-05 17:45] carlescufi commented on #24918
@arvid-r is this something you'd consider sending a PR for?

[2020-05-05 17:46] nandojve commented on #24853
Hi @carlescufi, we are looking at. I already self assigned myself the issue.
Thank you for reach us.

[2020-05-05 17:53] carlescufi commented on #24963
@markus-becker-tridonic-com the K64F doesn't have a 15.4 radio, so are you using a shield or an external radio IC of some sort?

[2020-05-05 17:54] andrewboie commented on #24805
@carlescufi no we should leave this open, this is a statically defined object and it should be possible to set it up with the proper alignment, I'm surprised it isn't already.

[2020-05-05 17:55] andrewboie commented on #24859
It's out of spec, the spec for memory domains indicates none of the partitions overlap. There is no defined precedence for overlapping regions and you can get an undefined configuration even if the HW nominally supports it.

[2020-05-05 18:05] arvid-r commented on #24918
Yes! I have a fix. I just need to figure out some details. Can I submit a PR targeting the Segger repo for example? And then, how do I make sure that the CODE_DATA_RELOCATION dependency is handled. I can't find any Kconfig files for the Segger repo.

[2020-05-05 18:43] #24744 closed

[2020-05-05 19:13] dleach02 commented on #24963
@markus-becker-tridonic-com, can you add the following to your project config file for a test:

CONFIG_XOROSHIRO_RANDOM_GENERATOR=y

[2020-05-05 20:13] andrewboie commented on #24805
We have a dummy_thread created on the interrupt stack in z_cstart(). It appears that at runtime, this is misaligned, for example with this crash:

[code]

In this case, the dummy thread object is at `0x14b55c` which is not 16-byte aligned. The specified 16-byte alignment for thread->arch on x86 is being ignored here.

Two options to fix this:
1. Move dummy_thread to a static toplevel declaration,

[2020-05-05 21:01] andrewboie commented on #24747
@wentongwu noticed this test also takes a long time in QEMU if we enable icount.

[2020-05-05 22:11] CrustyAuklet commented on #24909
I am using ninja, in a mix of CMD and msys2. I also try to work through CLion, which is where I see the path problem. I use CMake a lot and never see this issue myself though, so I suspect the `\` characters are hard coded somewhere. Generally in CMake you should always use `/` and CMake will do the "right thing".

Thanks for pointing out that cmd is the only officially supported shell on windows

[2020-05-05 22:44] d3zd3z commented on #24429
I don't think this is what we want. Remember, it is also valid for the flash to be in a partially erased or partially written state. I think read should just return an error in this case.

"Uninitialized" and "unavailable" are not very meaningful. Something like a flash filesystem will be tracking this itself. The only time it won't know what is in the area it last wrote to, and it should always t

[2020-05-05 22:46] d3zd3z commented on #24429
Kumar sent me a hacked version that just disables ECC when reading. This isn't really ideal, because we would like to operate with the ECC, and know if the data was unreadable. I think ideal would be for the read call to just do a regular read (through the controller), and if the data is unreadable, return an error from the read call instead of reading data.

[2020-05-05 23:45] andyross commented on #24747
Maybe what we need is a framework for identifying cpu-heavy tests and cycle-exact/slow emulators and minimizing the overlap?  I mean, for this one there's minimal need to run this on every board.  It's a unit test of pure C code; one platform per architecture is fine

[2020-05-05 23:59] MaureenHelm commented on #24960
I'm not able to reproduce this on the latest master (f89defea51ad1ed895cf8306ae55aeebf92ada56) or on f3b4d8a86f7810249486bfe17a3b372db2580b86. Can you check that SW7 is configured to boot from Hyperflash?

From [MIMXRT1050-EVK User Guide](https://www.nxp.com/webapp/Download?colCode=IMXRT1050EVKBHUG):

![image](https://user-images.githubusercontent.com/6172539/81126523-1e0b0780-8f01-11ea-8b7d-33df0

[2020-05-06 00:07] lmajewski commented on #24916
I do not have any firewall in my setup. It is the USB dongle 10/100 ETH, simple L2 switch and my board. Pings are working for this setup (as the gateway is setup properly). It seems like there is some other issue.

[2020-05-06 00:08] andrewboie commented on #23063
Spent some time looking at this. Integrating `k_thread_join()` into this scheme has issues due to Zephyr not having any concept of "detached" threads.

I'm using the following as a reference https://www.keil.com/pack/doc/CMSIS/RTOS2/html/group__CMSIS__RTOS__ThreadMgmt.html

About k_thread_join(): If some thread A calls `osThreadJoin()` on a joinable thread B, and while A is waiting, B calls `osThr

[2020-05-06 00:28] andrewboie commented on #22738
I can't seem to get this to reproduce if I set `CONFIG_MP_NUM_CPUS=1`, so I think there is some interaction with SMP going on. I'm checking all the test code for potential races.

[2020-05-06 00:53] andrewboie commented on #22738
On x86_64 we should not be getting an exception dump at all. If we get a bad system call on x86_64, arch_syscall_oops() is called, which then invokes z_x86_fatal_error(K_ERR_KERNEL_OOPS, NULL) -> z_fatal_error(K_ERR_KERNEL_OOPS, NULL) -> the test case custom k_sys_fatal_error_handler()

`pass_noperms_object` is the second test which invokes an arch_syscall_oops(). It's nearly always this case that

[2020-05-06 00:53] stephanosio commented on #24803
@carlescufi I plan to eventually get back to this, possibly before 2.3 release.

[2020-05-06 01:13] andrewboie commented on #22738
Adding `k_sleep(K_MSEC(100))` to the beginning of `pass_noperms_object()` makes that crash much less likely to reproduce, although I got it to still hang once with no output. So I'm thinking race condition.

There is another pain point in this test however. I also see intermittent crashes in the `domain_add_part_drop_to_user()`:

[code]

Adding a sleep doesn't help. I am suspecting a concurrency i

[2020-05-06 01:53] jasonedn commented on #24960
I think the boot mode setting is correct and the blinky example from NXP
MCUXpresso worked. First, the imixrt1050_evk default configuration doesn't
enable the LED as below because the node enet is enabled. This doesn't
cause this issue because enet happens to initialize the led pin. But it
should be a bug for button example.  Second, the gpio output registers
DR_SET and DR_CLEAR used in gpio_mcux_

[2020-05-06 02:54] nandojve opened #25010 "disco_l475_iot1 don't confirm MCUBoot slot-1 image"
**Describe the bug**
When build UpdateHub for disco_l475_iot1 the app don't confirm the image.

**To Reproduce**
Steps to reproduce the behavior:
1. clone https://github.com/UpdateHub/zephyr/commits/topic/uhu_wifi
2. set variables at prj.conf
CONFIG_UPDATEHUB_WIFI_SSID="wifi network"
CONFIG_UPDATEHUB_WIFI_PSK="password"
3. west build -b disco_l475_iot1 samples/net/updatehub
4. sign image
 ~/<zephy

[2020-05-06 02:54] nandojve commented on #25010
CC @otavio @erwango

[2020-05-06 03:02] npitre commented on #24747
On Tue, 5 May 2020, Andy Ross wrote:

Is the notion of wall clock time accurate enough on those emulators? If
so there could be a reasonable maximum time for the test to run, and if
timeout is reached without errors then this is OK.

[2020-05-06 03:39] andrewboie commented on #22738
We are actually in the timer interrupt. When this fails, `remove_timeout()` is being called on a timeout object with NULL values for both the next and prev pointers.

The exception code is not reporting that we are in an ISR, which needs to be fixed. I caught this in a backtrace and got:

[code]

`z_clock_announce()` gets invoked from the timer driver. I am not sure how we got into a state where `

[2020-05-06 03:58] andrewboie commented on #24713
I have a partial fix for this in #25011 I think we can lower priority if that goes in.

Better still would be a kernel API to iterate over all nonessential threads and abort them, but there isn't a safe/robust way to do this currently.

[2020-05-06 05:07] tejlmand commented on #24909
Completely agree. But there are places where a `\` may come into the system, as example from output from another script or external command.
As example what I discovered here: https://github.com/zephyrproject-rtos/west/pull/190

Which is also why I would like get such issues removed.

[2020-05-06 06:55] markus-becker-tridonic-com commented on #24965
The rf2xx driver seems to return the IEEE802154_HW_CSMA capability.

Is it then required to set OPENTHREAD_CONFIG_MAC_DEFAULT_MAX_FRAME_RETRIES_DIRECT/OPENTHREAD_CONFIG_MAC_DEFAULT_MAX_FRAME_RETRIES_INDIRECT to 1 for OpenThread? Could/should this be automatically set for IEEE802154_HW_CSMA capable radio drivers?

Or should the radio driver be configurable to disable the automatic retries?

[2020-05-06 06:58] alexandru-porosanu-nxp opened #25012 "checkpatch.pl doesn't match the vendor string properly"
**Describe the bug**
checkpatch.pl will complain that the vendor string is not documented, although this is not the case
Due to the slight difference between the vendor-prefixes.yaml from Linux and vendor-prefix

**To Reproduce**
Steps to reproduce the behavior:
1. ./scripts/checkpatch.pl -f ./dts/arm/nxp/nxp_kw41z.dtsi
2. Notice the WARNING:UNDOCUMENTED_DT_STRING: warnings for all the vendors tha

[2020-05-06 07:03] markus-becker-tridonic-com commented on #24963
RF2XX as external radio IC.

[2020-05-06 07:05] jukkar commented on #17323
Tried this and the dns tests were still failing. After increasing the main stack size, the failures disappeared.

[2020-05-06 07:08] stephanosio commented on #25012
There is already a PR that fixes this:

[2020-05-06 07:20] alexandru-porosanu-nxp commented on #25012
Right, I missed that. I'll close this one (and the corresponding PR)

[2020-05-06 07:22] DeltaEvo opened #25015 "Bluetooth Isochronous Channels Support"
**Describe the solution you'd like**
Support Bluetooth LE 5.2 Isochronous Channel in zephyr controller subsystem

**Additional context**
Isochronous Channel is a new addition in Bluetooth 5.2 specification it's the fondation for LE Audio

Is there any support planned ?

[2020-05-06 07:25] erwango commented on #25010
^^@ABOSTM

[2020-05-06 07:33] markus-becker-tridonic-com commented on #24963
CONFIG_XOROSHIRO_RANDOM_GENERATOR=n results in 5087ms.
CONFIG_XOROSHIRO_RANDOM_GENERATOR=y results in 5212ms.
With about 1ms variance between different runs.

[2020-05-06 07:51] rlubos commented on #24963
@carlescufi @markus-becker-tridonic-com
I've compared the two OT revisions, but changes in there are mostly cosmetic:
https://github.com/zephyrproject-rtos/openthread/blob/46194ba9053d71966ddbf7c159c0ff68f93d6497/src/core/meshcop/commissioner.cpp#L1061
https://github.com/zephyrproject-rtos/openthread/blob/46194ba9053d71966ddbf7c159c0ff68f93d6497/src/core/crypto/pbkdf2_cmac.cpp#L44
There's also mbe

[2020-05-06 07:55] jeremyherbert opened #25016 "BT_LE_ADV_NCONN_NAME doesn't actually advertise name"
**Describe the bug**
If I use `BT_LE_ADV_CONN_NAME` as the first parameter to `bt_le_adv_start`, then the device name (as set in the `prj.conf` file) shows up correctly when scanning for devices using an iOS or Android app. However, when I use `BT_LE_ADV_NCONN_NAME` the name does not show up, even though `BT_LE_ADV_OPT_USE_NAME` is used in its definition in `bluetooth.h`.

**To Reproduce**
Steps t

[2020-05-06 08:08] rlubos commented on #24965
`IEEE802154_HW_CSMA` capability is forwarded to OpenThread (which defines its own caps):
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/openthread/platform/radio.c#L556
Based on those OT capabilities, the OT stack decides whether to handle CSMA on its own or not:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/openthread/platform/radio.c#L556

Hence

[2020-05-06 08:14] markus-becker-tridonic-com commented on #24965
That capability was introduced in https://github.com/zephyrproject-rtos/zephyr/commit/108820aafbc8cfb71abf5fbb6a97b81aed4bf1b5, which we have not in our codebase yet. We will update. Thanks for the help.

[2020-05-06 08:14] #24965 closed

[2020-05-06 08:27] pfalcon opened #25017 "[CI] m2gl025_miv in Shippable CI systematically fails some tests"
Apparently, recently, a real hardware board `m2gl025_miv` was added to Shippable CI (vs running just in QEMU). I'm not sure how recently, as I never saw a public announcement for such an important event as adding a real hardware to project CI testing.

The matter, it looks like the complete set of tests wasn't run on this board, and now touching some tests (which causes them to be run in CI), lead

[2020-05-06 08:32] pfalcon commented on #25017
I'm not sure to whom assign this issue, so assigning to @nashif as the overall owner of the project infra and @carlescufi, on whose request https://github.com/zephyrproject-rtos/zephyr/pull/24964 was prepared, which is now blocked by this issue.

[2020-05-06 08:34] pfalcon commented on #25017
I'd say systematically failing CI is "priority: high", but as there're no proofs that too many posted PRs are affected by this, setting as medium.

[2020-05-06 08:38] pfalcon commented on #24926
@carlescufi

Indeed, https://github.com/zephyrproject-rtos/zephyr/pull/24964 was posted, but that appears to systematically fail CI due to https://github.com/zephyrproject-rtos/zephyr/issues/25017. I would need help with driving resolution for that issue.

[2020-05-06 08:39] carlescufi commented on #25015
@DeltaEvo yes, this is an ongoing effort that is currently mostly taking place in a private repository because it's implementing profiles that are not publicly released yet. We will start backporting to master soon, the parts that can be made public.
Access to the private repo is reserved for Bluetooth SIG Associate members that are also members of the Zephyr project, since there are legal limitat

[2020-05-06 09:00] DeltaEvo commented on #25015
Will the backporting effort include Isochronous Channels ?

[2020-05-06 09:04] joerchan commented on #25016
This has already been fixed by: ffa10eba8350

[2020-05-06 09:04] #25016 closed

[2020-05-06 09:49] ppryga commented on #20632
@pdunaj  or @MarekPieta can you verify if the issue sill exist?

[2020-05-06 10:14] carlescufi commented on #24926
Thanks @andyross for #24956. Marked as done now.

[2020-05-06 10:40] carlescufi commented on #25015
Well, yes, this is mainly what is being developed in the private tree. The rest of functionality is pushed directly to master in this repository.

[2020-05-06 10:40] #25015 closed

[2020-05-06 10:40] #25012 closed

[2020-05-06 10:43] #17323 closed

[2020-05-06 11:10] puchm opened #25021 "Problems getting open62541 to run on Zephyr"
Hi,

I am currently trying to get [open62541](https://github.com/open62541/open62541) running on Zephyr. The problem is that I am quite new to all of this, namely Zephyr, cmake and all of the infrastructure around C (e.g. how including libraries works).
**I have highlighted (bold) my questions for you since I didn't know which template I should use for these questions.**

## My setup
I am using th

[2020-05-06 11:18] carlescufi commented on #25021
I remember a while back Vincent Lacroix from Systerel presented integration of OPC UA at the TSC, but the work never got further as far as I can tell.
You can see his presentation here:
https://drive.google.com/file/d/1FZslmtc48I2U0S9JgmmMHTkPu-wRLN3r/view

cc @vla3913 assuming that is the right person. If not, perhaps they can redirect us to the appropriate person.

[2020-05-06 11:31] xuhao8210 opened #25022 "hsdk:There is no case’s information in serial log for ARC(R) HS Development Kit after one case was been flashed into the board."
**Describe the bug**
After one case was been flashed into the board:” ARC(R) HS Development Kit”, there is no case’s information in serial log, and only display the commit ID info.
For example , after the hello world case was been flashed into the board, the serial log is only display :” *** Booting Zephyr OS build zephyr-v2.2.0-2375-gfdd85d5ad703  ***”.

And I also checked that this problem was b

[2020-05-06 11:43] carlescufi commented on #24722
Tested on master peripheral_hr with an iPhone 11, switch to 2Mbit/s works fine and notifications flow freely after.

[2020-05-06 11:43] #24722 closed

[2020-05-06 12:04] carlescufi commented on #25021
In any case @puchm what I'd recommend is that you submit a [request for a module](https://docs.zephyrproject.org/latest/guides/modules.html) to include open62541 as part of the Zephyr set of repos. That way we will make sure we integrate with CI.

[2020-05-06 12:30] #23435 closed

[2020-05-06 13:21] vla3913 commented on #25021
Hello @carlescufi.
Sorry we didn't keep you in touch.
We have successfully ported S2OPC (https://www.s2opc.com/) on Zephyr. At least, the client/server part is running on imx1064 and we are finishing the module to submit the result to the Zephyr project.
Current development for the porting activity can be found on this branch: https://gitlab.com/systerel/S2OPC/-/tree/plu_poc_zephyr_imx6.
Maybe, we

[2020-05-06 13:29] puchm commented on #25021
Thank you @vla3913, that is really good to know.
Do you think an imx1020 would be sufficient to run a simple OPC UA server?
And is there already a guide on how to install the current S2OPC on Zephyr without having to wait for the module to be submitted?

[2020-05-06 13:52] mfiumara commented on #20632
@ppryga this is probably resolved in #22730. Could you retest with lastest master and see if the issue is still there?

[2020-05-06 14:04] pabigot commented on #23441
Following up on a comment in the API meeting yesterday that adding this was not a change to a stable API:

* It is backwards compatible, in that 2.2 code will work in 2.3 (because it won't be using the new API).
* It is not forwards compatible, in that 2.3 code may not work in 2.2 (where the new API doesn't exist)

So IMO it is a change to a stable API, but it is not an incompatible change.  The p

[2020-05-06 14:43] retfie commented on #24840
@rlubos here is some test that I've made from my side:

`git fetch origin`
`git checkout origin/master`
`west update -f always`

* c6edfa0971 (HEAD, origin/master, origin/HEAD)

**1. Usecase: echo_client (FTD)**
`rm -rf build/`
`west build -s samples/net/sockets/echo_client -b nrf52840dk_nrf52840 -- -DCONF_FILE="prj.conf overlay-ot.conf"`
`nrfjprog -e`
`west flash -d build --hex-file build/zephyr/

[2020-05-06 14:55] wentongwu opened #25032 "build failure on lpcxpresso55s16_ns"
**Describe the bug**
[code]

more info here https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/71697/summary/console

[2020-05-06 14:58] erwango commented on #7564
Let me close this one as no need showed up in last year period

[2020-05-06 14:58] #7564 closed

[2020-05-06 15:00] FRASTM commented on #24119
For the stm32wb soc series, see https://github.com/zephyrproject-rtos/zephyr/issues/24119

[2020-05-06 15:01] erwango commented on #16436
Closing as the current solution is far from description on this PR

[2020-05-06 15:01] #16436 closed

[2020-05-06 15:05] wentongwu commented on #25032
This issue at least blocks my PR https://github.com/zephyrproject-rtos/zephyr/pull/22904

[2020-05-06 15:27] rlubos commented on #24840
@retfie
So in terms of `lwm2m_client`, you've made no changes at all in the default config? I'm asking, because I've tried to reproduce the issue locally (just the attachment procedure, I don't have a running BR setup right now), and first thing the sample did was a crash.

I copied the file the `overlay-ot.conf` just as you did, and built lwm2m_client "as is" with that overlay. The issue turned o

[2020-05-06 15:31] carlescufi commented on #25032
This was fixed by #25020

[2020-05-06 15:31] #25032 closed

[2020-05-06 15:33] carlescufi commented on #24918
You can send a PR against https://github.com/zephyrproject-rtos/segger @arvid-r

[2020-05-06 15:56] jukkar commented on #25021
@pfalcon didn't you work with open62541 at some point last year?

[2020-05-06 16:32] cfriedt opened #25036 "kernel: pipe: read_avail / write_avail syscalls"
**Is your enhancement proposal related to a problem? Please describe.**
It's not immediately obvious how much of a k_pipe buffer is available for reading / writing (if the buffer even exists - they can be created with no buffer).

**Describe the solution you'd like**
Just a few extra functions. I've already written them for buffered pipes. Handling unbuffered pipes may be a simple modification.
[c

[2020-05-06 16:37] carlescufi commented on #23337
@jfischer-phytec-iot if you have a chance, can you please comment on the question from @optdcw?

[2020-05-06 16:48] pfalcon commented on #25036
+1 for adding this functionality, the usecase is pretty clear.

[2020-05-06 16:49] carlescufi commented on #24554
@parthitce sorry for the delay, I've been busy with the release. I should be able to create it tomorrow.

[2020-05-06 16:49] carlescufi commented on #24703
@ssekar15 sorry for the delay, I've been busy with the release. I should be able to create it tomorrow.

[2020-05-06 17:03] carlescufi commented on #24554
@parthitce could you please point us to the hardware documentation for this hardware for the record, so we know we can fix issues by looking at a datasheet or reference manual?

[2020-05-06 17:04] cfriedt commented on #25036
Also, for reasons that are probably obvious to the maintainers, I'm going to add a timeout parameter as well; even though the pipes are constant, it's possible that another thread could be modifying values concurrently and therefore it would probably be safe to hold the semaphore.

[2020-05-06 17:06] carlescufi commented on #24703
@ssekar15 could you please point us to the hardware documentation for this hardware for the record, so we know we can fix issues by looking at a datasheet or reference manual?

[2020-05-06 17:06] stephanosio commented on #24703
Just a reminder, the licensing terms have not been clarified by Nuvoton yet (https://github.com/OpenNuvoton/M480BSP/issues/9).

[2020-05-06 17:08] carlescufi commented on #24197
@XavierChapron could you try to reformulate your proposal either in words or in a draft Pull Request so we can try to move it forward?

[2020-05-06 17:09] carlescufi commented on #24453
@nashif is this something we can do or does it require changes in the web server or sphinx?

[2020-05-06 17:21] #24355 closed

[2020-05-06 17:33] cfriedt commented on #25036
CC @pfalcon @carlescufi

[2020-05-06 17:40] vla3913 commented on #25021
@puchm, I think an imx1020 is sufficient to run an OPC UA server, but if you activate data encryption and/or signature, you will have some extra-delay during the session activation.
I am going to open a specific issue on the s2opc module submission, i am going to cc you with the procedure.

[2020-05-06 18:54] parthitce commented on #24554
@carlescufi Current zephyr PR (https://github.com/zephyrproject-rtos/zephyr/pull/24555) is based on xmc4500 SoC alone, but this should be same for all the XMC4xxx series.

TRM XMC4500: https://www.infineon.com/dgdl/Infineon-xmc4500_rm_v1.6_2016-UM-v01_06-EN.pdf?fileId=db3a30433580b3710135a5f8b7bc6d13
Datasheet: https://www.infineon.com/dgdl/Infineon-XMC4500-DS-v01_05-EN.pdf?fileId=5546d46254e133b4

[2020-05-06 19:04] parthitce commented on #24703
TRM: https://www.nuvoton.com/export/resource-files/TRM_M480_Series_EN_Rev2.02.pdf
Datasheet: https://www.nuvoton.com/export/resource-files/DS_M480_Series_EN_Rev2.02.pdf

[2020-05-06 19:50] retfie commented on #24840
@rlubos
In matter of fact I saw such crashes once or two times after re-base my project on top of master, but since there was a lot of my changes and in addition other changes coming from moving my project to  new DT macros API from upstream, I start thinking that I'd screwed it somewhere. Then I moved to original lwm2m sample (with original prj.conf), where I don't have crashes, most probably bec

[2020-05-06 19:51] #17755 closed

[2020-05-06 20:48] Emil-Gydesen-Bose commented on #18045
For those interested, the work in progress can be following at https://github.com/Emil-Gydesen-Bose/zephyr/tree/per_adv.

[2020-05-06 20:56] vla3913 opened #25046 "Add s2opc (OPC UA implementation) module to Zephyr"
## Introduction

[s2opc](https://www.s2opc.com/) is an open-source implementation of the OPC UA protocol.

Zephyr and S2OPC have some common points:
* focused on security and safety (it is written to get certifications)
* Apache 2.0 license
* tailored for embedded systems

S2OPC nano server has been certified by the OPC Foundation.
On the security aspect, a CSPN evaluation is in progress at the in

[2020-05-06 20:58] vla3913 commented on #25046
cc @carlescufi @puchm. Request for a module sent.

[2020-05-06 21:26] vla3913 commented on #25046
To test the module (at your own risk, it is a beta version).

1/ Add the following lines into `west.yml`:
[code]

2/ run west update

3/ go to directory `zephyrproject/modules/lib/s2opc/samples/ClientServer/zephyr/toolkit_test_server` and run `west build`. Note: the default board is imx1064.
The generated application is a demo server OPC UA which is exposed on URL `opc.tcp://192.168.1.102:4841`.

[2020-05-06 21:27] vla3913 commented on #25021
Request for module creation submitted (see #25046).

[2020-05-06 23:16] jfischer-phytec-iot commented on #23337
I suggest to go with two CDC ACM interfaces (one for update and the other for logging) for now.

No, the stack supports only one configuration. I have an idea how to rework the initialization/interface of the classes so that the user or an application could initialize a class on demand and then enable usb stack, but it would take a while to get it mainline.

I do not know if there is a way to trig

[2020-05-07 01:39] chen-png opened #25051 "tests/drivers/gpio/gpio_api_1pin failed on reel_board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p auto  tests/drivers/gpio/gpio_api_1pin
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-2414-gcbd9c86b5ce2  ***
Running test suite gpio_api_1pin_test

**starting test - test_gpio_pin_configure_push_pull
Running test on port=GPIO_0, pin=11
Assertion failed at WEST_

[2020-05-07 01:43] chen-png commented on #24659
also failed on mec15xxevb_assy6853 board.

[2020-05-07 04:37] jenmwms commented on #23507
update here - I rebased today and this issue still occurs. However, this issue appears to be resolved with cherry-pick of #23325.

[2020-05-07 05:31] nordic-krch opened #25055 "Redundant flash shell commands"
**Describe the bug**
It's rather "bad impression" bug. `samples/drivers/flash_shell` implements commands to handle flash and there are already generic commands in `drivers/flash/flash_shell.c` which are not enabled in that example (because they overlap). It would be good to merge those two and clean up the example or even remove it and just enable flash commands in generic shell example.

[2020-05-07 05:32] nordic-krch commented on #25055
@nvlsianpu fyi

[2020-05-07 05:52] galak opened #25057 "errors when running sanitycheck with tests/subsys/storage/stream/stream_flash"
[code]

[2020-05-07 05:54] galak commented on #25057
You aren't allowed to have an #ifdef in ztest_test_suite, thus the error message here.

[2020-05-07 07:09] rlubos commented on #24840
I'll take the liberty to close it then. Thanks!

[2020-05-07 07:09] #24840 closed

[2020-05-07 07:31] jukkar commented on #25046
It would not be a big issue to create IPv4 join/leave multicast support. Atm I am quite busy with other areas but I can help if someone wants to implement this.

[2020-05-07 08:23] adityaxavier opened #25063 "USB Console + USB CDC_ACM co-existing"
Hi,
I am trying to get console and USB to work at the same time on nrf52840_pca10059 with Zephyr 1.2.0 Release.

I have used the following configuration in prj.conf

[code]

And I am registering the CDC_ACM_1 as follows :
[code]

And the device reboots whenever I insert any data into the ring_buffer and enable uart_irq_tx_enable(usb_dev);

Weirdly, there is data corruption happening in console log

[2020-05-07 09:17] joerchan commented on #20632
Close this as I was told by @MarekPieta that the issue has been fixed.

[2020-05-07 09:17] #20632 closed

[2020-05-07 09:55] mtpr-ot opened #25067 "Insufficient ticker nodes for vendor implementations"
Vendors need to be able to reserve ticker nodes for proprietary LL implementations. There is currently no way of achieving this. Dynamically reusing ticker ids reserved by ULL may cause erratic behavior.

**Impact**
Reusing other ticker ids dyamically is not a safe way to implement features, as usage or rules may change in upstream code. A number of user- or vendor ticker nodes should be configura

[2020-05-07 10:20] XavierChapron commented on #24197
@carlescufi I've drafted a PR so we can discuss about potential solutions: https://github.com/zephyrproject-rtos/zephyr/pull/25069

[2020-05-07 10:20] #24970 closed

[2020-05-07 10:40] matteofacchinetti commented on #3723
Hi,
I'm tryng to use wifi modem driver building  wifi example from the current mainline.
With menuconfig I needed to add WIFI_ESP support:
[code]

but I got the following error in  zephyr/drivers/wifi/esp/esp.c:

[code]

I don't understand exactly what's happen. Is there anything missing in DTS?
Any help is welcome.

[2020-05-07 10:40] puchm commented on #25046
@vla3913 the revision "plu_poc_zephyr_imx6_rebase" is not in the repo anymore... Which should I use instead? I tried "zephyr" but that got me an error when building.
And is it possible to simply supply `-b qemu_x86` to the build command in order to build it for Qemu? Or are there some other things that make it default to imx1064?

[2020-05-07 11:25] vla3913 commented on #25046
@puchm. Yes you are right: the branch was renamed this morning to be closer to Zephyr standard. I am going to update the content of the issue.
The default target is imx1064 because it is our development target and we have not tested yet others ones.
But you can test others architectures. For examples for imx1020, the following command successfully build a binary I cannot test:
[code]

[2020-05-07 11:57] pfalcon commented on #25021
Yes, I made a proof of concept port about a year ago, it's available at https://github.com/pfalcon/open62541demos &  https://github.com/pfalcon/open62541 . "Proof of concept" is the keyword here. From my PoV, the biggest outcome of it was noticeable improvements to Zephyr POSIX subsys (but IIRC, not all improvements were merged, due to resistance POSIX subsys improvement faced).

[2020-05-07 12:03] XavierChapron opened #25076 "Remove potential I2C deadlock on NRFX implementation"
**Is your enhancement proposal related to a problem? Please describe.**
In `i2c_nrfx_twi.c` I2C implementation there is a `k_sem_take` with infinite timeout on `completion_sync` semaphore.
In case the bus is down, for example SDA line pull low by any malfunctioning device, then `completion_sync` semaphore will never be release leading to a deadlock.

**Describe the solution you'd like**
In various

[2020-05-07 12:49] #23476 closed

[2020-05-07 13:29] nvlsianpu commented on #24706
@mniestroj - thanks for this description. I'm going to investigate and fix that.

[2020-05-07 13:37] vla3913 commented on #25046
@puchm which Zephyr revision do you use ? We develop against Zephyr revision 2.2.

[2020-05-07 13:50] martinjaeger commented on #23423
While trying to use the watchdog on an STM32, I encountered an issue that is related to this one.

As described in the documentation, `wdt_install_timeout` should return a channel ID which can then be used to feed the dog from multiple threads. However, only the NRF driver actually implements this feature. All other drivers just return 0 (or an error).

It seems like NRF supports multiple channels

[2020-05-07 14:46] ozhuraki opened #25083 "Networking samples are not able to connect with the TCP under qemu_x86 after 9b055ec"
**Describe the bug**

The echo_client sample is not able to connect with the TCP under qemu_x86 after 9b055ec

**To Reproduce**

Console 1:

$ cd net-tools.git
$ sudo ./net-setup.sh

Console 2:

$ cd net-tools.git
$ sudo ./echo-server -i zeth

Console 3:

$ cd samples/net/sockets/echo_client
$ mkdir build; cd build
$ cmake -DBOARD=qemu_x86 -DCONFIG_NET_IPV6=n -DCONFIG_NET_UDP=n -DOVERLAY_CONFIG="o

[2020-05-07 14:56] ehudmarvell opened #25084 "LLDP: missing net_pkt_set_lldp in lldp_send"
Sending lldp packet includes ARP field in its eth->type instead LLDP type. ( wireshark is attached)

[lldp.zip](https://github.com/zephyrproject-rtos/zephyr/files/4593709/lldp.zip)

Steps to reproduce the behavior:
compile with CONFIG_NET_LLDP=y
add to ethernet driver :
1. capabilities: ETHERNET_LLDP
2. net_lldp_set_lldpdu(iface);

I would expect that the driver will send lldp packet instead I see

[2020-05-07 15:07] jukkar commented on #25083
This is **not** a networking issue but qemu one.

[2020-05-07 15:19] jukkar commented on #25084
Yep, your analysis is correct. The fix is easy, I will send a fix shortly.

[2020-05-07 15:20] carlescufi commented on #24703
Indeed, I will wait until those are settled since right now we don't have a valid license right now. @stephanosio thanks for bringing this up to my attention.

[2020-05-07 15:31] jukkar commented on #25084
After the fix, the Ethernet type is correct. Unfortunately wireshark shows now that the packet is malformed.

[2020-05-07 15:34] #25067 closed

[2020-05-07 15:42] carlescufi commented on #24703
@parthitce thank you for the TRM and datasheet links. Please do ping me here as soon as the license issue has been resolved.

[2020-05-07 16:20] pfalcon commented on #25083
Spotted that too.

[2020-05-07 16:26] pfalcon commented on #25083
On my quick look, it affects all server-side samples (i.e. ones which accept connections).

[2020-05-07 16:29] vla3913 commented on #25046
However, if i am not wrong, QEMU x86 emulator doesn't support Ethernet so I don't think it's the good platform to test the library.

[2020-05-07 16:29] pfalcon commented on #25083
Well, maybe it's not networking issue, but it's definitely an issue which affects networking, and AFAIK, that's the purpose of the labels - to enumerate areas affected by some ticket. So let me kindly re-add the Networking label.

If you think that's not the intended use of label, let's bring up the discussion of the dev mailing list.

[2020-05-07 16:42] jukkar commented on #25046
qemu_x86 most definitely supports Ethernet. We have Intel e1000 driver in Zephyr which is also supported by Qemu. You can setup TAP Ethernet device in Linux and connect that to Zephyr running in Qemu, this is very useful in testing.

[2020-05-07 16:48] vla3913 commented on #25046
@jukkar, it's really good news !
Reading https://docs.zephyrproject.org/2.2.0/boards/x86/qemu_x86/doc/index.html, and seeing Ethernet in the unsupported features list, I thought it was not the case but it looks like I have missed something.

[2020-05-07 16:52] jukkar commented on #25046
@vla3913 Ethernet seems to be missing from supported features list, but if you scroll down, the networking support is mentioned separately.
https://docs.zephyrproject.org/2.2.0/boards/x86/qemu_x86/doc/index.html#networking

[2020-05-07 16:58] andrewboie commented on #25083
I think we probably need to revert this patch until we can better figure out what's going on.

If it's just the server-side apps, we could perhaps look at a more targeted way to enable icount that excludes them.

It would be really good to know why enabling icount makes this fall over.

cc: @wentongwu @stephanosio

[2020-05-07 17:03] jukkar commented on #25083
In my tests, the echo-server running in qemu worked for small packets but failed to receive large packets. All echo-client connections from qemu failed.

[2020-05-07 17:07] ehudmarvell commented on #25084
@jukkar thank you, I don't see any problem after the fix in my wireshark

[2020-05-07 17:07] pfalcon commented on #25083
Well, I find it more comfortable to connect from Linux box to Zephyr box, so I almost always run server-side apps for testing. @ozhuraki reported the issue for echo_client, which is the client sample. That's why I changed the title to just "networking samples", as both types appear to be affected.

[2020-05-07 17:09] pfalcon commented on #25083
I ran stuff like echo/echo_async/dumb_http_server, and universally saw RST packets from Zephyr. (Which is hard to explain indeed, how QEMU icount option could cause that.)

[2020-05-07 17:10] pfalcon commented on #25083
I'm working on that from our side. Would be interesting indeed if what I have on my hands so far will catch it.

[2020-05-07 17:11] albertofloyd opened #25091 "drivers: eSPI: Incorrect handling of OOB registers leads to report wrong OOB packet len"
During eSPI sample OOB transactions are executed to retrieve temperature from eSPI host.
This occurs successfully in eSPI bus level and buffer with data is returned.
However, bytes received is always reported as 0, despite providing the right response data

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/drivers/espi
2. west build -c -b mec15xxevb_assy6853
3. west flash
4. see erro

[2020-05-07 17:11] pfalcon commented on #25083
Ah damn, I actually work with real hardware (frdm_k64f), skipping qemu so far due to complexity with TAP setup, etc.

[2020-05-07 17:12] andrewboie commented on #25083
Just an idea @stephanosio had, can you try removing the `sleep=off` in `boards/x86/qemu_x86/board.cmake` and see if that improves anything?

[2020-05-07 17:24] andrewboie opened #25093 "optimize 32-bit x86 system calls"
**Is your enhancement proposal related to a problem? Please describe.**
System calls on 32-bit x86 use the old-style `int 0x80` mechanism to trap to supervisor mode (Ring 0). There are more efficient ways to do this.

**Describe the solution you'd like**
Use `SYSENTER`/`SYSEXIT` instead to perform syscalls. This has much less overhead but requires manual stack switching. Our 64-bit port already us

[2020-05-07 17:39] #25036 closed

[2020-05-07 17:57] marketideas opened #25098 "MCUX I2C bus errors leave state machine in busy state"
**Describe the bug**
A bus error on the I2C bus will cause the I2C state machine to stay in a busy state and all future I2C transactions will fail.

**To Reproduce**
I2C external devices can become 'stuck' waiting to finalize a bit shift clock while driving the open-collector SDA line low.  This prevents the master from being able to drive the SDA line until the I2C bus is cleared.
1) Perform a CP

[2020-05-07 18:04] carlescufi commented on #25098
This is being addressed in:
https://github.com/zephyrproject-rtos/zephyr/pull/23442

[2020-05-07 18:12] albertofloyd opened #25101 "driver: gpio: mchp: GPIO initialization value doesn't get reflected when using new flags"
If GPIO is configure to have an initial value HIGH using new GPIO flags, the value doesn't reflect for mec15 boards.
This gets masked because on subsequent steps of test cases gpio_pin_set_raw() is used.

**To Reproduce**
Steps to reproduce the behavior:
Modify code so no calls to gpio_pin_set_raw() are done

1) cd test/drivers/gpio
2) west build -c -b mec15xxevb_assy6853
3) west flash
Check GPIO

[2020-05-07 18:12] #23989 closed

[2020-05-07 18:23] carlescufi opened #25104 "whitelist in {sample,testcase}.yaml precludes a test from being run with sanitycheck"
Currently the `whitelist` keyword in a sample's or test's yaml file means 2 things:

- This sample or test can only be ever run on this particular platform(s)
- sanitycheck will only build and run this sample or test on this particular platform(s) in CI (PR or nightly CI)

I think we need to decouple the two meanings, perhaps by introducing:

- `compatible`: All platforms this sample or test is co

[2020-05-07 18:24] #25057 closed

[2020-05-07 18:57] d3zd3z commented on #14790
Let me see if I can get this working again. I was able to get it working last time I tried, which was at least a few months ago.

[2020-05-07 19:16] d3zd3z commented on #14790
First thing I've discovered is that 0fa86cbbf19006deb65eb933039995631e383782 removes CONFIG_LEGACY_TIMEOUT_API as being selected by the net code. It'd probably be best to make this sample work without the legacy timeout api, but it can be made to at least compile by enabling this in the prj.conf for the sample.

[2020-05-07 20:23] d3zd3z commented on #14790
@dieselburner Does #25108 help you get this working? The instructions in the README.rst were somewhat difficult to follow (and even downright wrong).

[2020-05-07 21:51] sglass68 opened #25109 "Flash tests fail on posix"
**Describe the bug**
test_erase and test_align fail in the flash_simulator test suite

**To Reproduce**
Steps to reproduce the behavior:
1. west build --force -b native_posix tests/drivers/flash_simulator
2. build/zephyr/zephyr.elf
3. See error

**Expected behavior**
All tests should pass

**Impact**
Causes confusion

**Screenshots or console output**
[code]

**Environment (please complete the fol

[2020-05-07 22:35] #25101 closed

[2020-05-07 22:37] #25083 closed

[2020-05-07 23:21] #22738 closed

[2020-05-08 00:17] #24359 closed

[2020-05-08 00:18] #24464 closed

[2020-05-08 01:00] wentongwu commented on #25083
AFAIK icount will not work if there is communication (like TCP, layer2, etc.) between systems that depends on timer, because they are really two different time standard, icount only give deterministic output for icount enabled system self.

[2020-05-08 01:46] wentongwu commented on #24228
sure, will do.

[2020-05-08 03:21] KwonTae-young commented on #24767
@erwango I am trying to use Ethernet on `STM32H742VG`.
I want to use Ethernet on `H7` by referring to the source of `F7` series. What sources of `F7` should I reference?(dts, samples, ..)
I currently only know `pinmux.c`.
https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/nucleo_f756zg/pinmux.c#L37-L47
[code]

I have a `nucleo_h743zi` board that I can test.
I am new to Ethernet on

[2020-05-08 03:32] #24353 closed

[2020-05-08 04:46] #22421 closed

[2020-05-08 04:47] #23907 closed

[2020-05-08 04:47] #24216 closed

[2020-05-08 08:27] wzedmund opened #25123 "DAC is not described in soc of STM32L4xx series"
Hi,
When I try to get dac work on stm32l4xx, I found buiding error like this:

/home/zhe/scriptiot/evm_publish_final/components/zephyr-rtos/zephyr/drivers/dac/dac_stm32.c:33:18: error: 'LL_DAC_CHANNEL_1' undeclared here (not in a function); did you mean 'LL_ADC_CHANNEL_1'?
   33 | #define CHAN(n)  LL_DAC_CHANNEL_##n
      |                  ^~~~~~~~~~~~~~~
/home/zhe/scriptiot/evm_publish_final/com

[2020-05-08 08:43] #25084 closed

[2020-05-08 08:46] #20993 closed

[2020-05-08 09:27] puchm commented on #25046
@vla3913 I was using Zephyr 2.2.99, I switched to 2.2.0 and it worked.
What I think would be quite useful is an explanation on how to access OPC UA that runs in QEMU from "outside". So for example one could set up a server in their Qemu environment and then try to access it, for example using [opcua-client-gui](https://github.com/FreeOpcUa/opcua-client-gui). From what I have been reading, I think

[2020-05-08 10:32] jukkar commented on #25046
The zephyr documentation describes how to setup qemu<->host communication using Ethernet here https://docs.zephyrproject.org/latest/guides/networking/networking_with_host.html

Was there something in 2.2.99 that did not work, or did you just want to use the 2.2?

[2020-05-08 10:35] jukkar commented on #25046
Bridging is only needed if you want to connect two Zephyr instance (for example two Qemu) to each other.

[2020-05-08 10:48] dieselburner opened #25128 "Missing `python3-dev` dependency"
**Describe the bug**

Failure to install Python dependencies due to missing `python3-dev` package. Package is not mentioned in [Install dependencies](https://docs.zephyrproject.org/latest/getting_started/index.html#install-dependencies).

**To Reproduce**

1. Install Ubuntu 20.04 LTS on a machine.
2. Follow [Getting Started Guide](https://docs.zephyrproject.org/latest/getting_started/index.html#ge

[2020-05-08 10:50] carlescufi commented on #25128
@dieselburner would you mind sending a PR for this?

[2020-05-08 10:52] dieselburner commented on #25128
Yes, give me a moment.

[2020-05-08 11:09] dieselburner commented on #25128
@carlescufi here you go.

[2020-05-08 11:22] cvinayak opened #25130 "Bluetooth: controller: Incorrect version information"
**Describe the bug**
During Bluetooth conformance testing of v2.2-branch, tests with version information exchange failed with incorrect HCI and LL version number.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=nrf52_pca10040 ../samples/bluetooth/hci_uart
3. ninja flash
4. Use the board under conformance tester

**Expected behavior**
Correct Blu

[2020-05-08 11:55] mfiumara commented on #23961
@joerchan I redid the test as follows:
Set-up:
[code]

Connect using smartphone with (nrfconnect).
Bond using nrfconnect.
Subscribe to notifications.
Disconnect
Corresponding output from device:
[code]

Connect device 2 (bluetoothctl) and perform
Pair
Subscribe
Disconnect
as follows:
[code]
Corresponding output from device:
[code]

Connect again with device 1 (nrfconnect)
Automatically bonded usin

[2020-05-08 12:17] nvlsianpu commented on #24706
@mniestroj Your diagnose is proper. This looks like not well implemented feature (and zephyr shim layer as well which is the issue root). Looks like image status are is never erased as well. Preparing the patch.

[2020-05-08 13:03] jukkar commented on #24282
FYI, I created #25136 that adds proper documentation for connecting multiple Zephyr instances together.

[2020-05-08 13:07] #24187 closed

[2020-05-08 13:07] pfalcon commented on #25017
Fix merged into https://github.com/zephyrproject-rtos/zephyr/pull/24964. Closing.

[2020-05-08 13:07] #25017 closed

[2020-05-08 13:09] carlescufi commented on #25128
Thanks!

[2020-05-08 13:12] #12775 closed

[2020-05-08 13:19] mschwan-phytec opened #25139 "USB HID mouse sample high input delay"
**Describe the bug**
Using the USB HID mouse sample there is some significant input delay. The delay between an input (button press on HID) and the actual output on a computer screen is roughly 60 - 90 ms, which seems quite high.

For measuring the delay I used a regular camera and counted the frames between the LED toggling (indicating a button press) and the output on the computer screen. With a

[2020-05-08 13:47] dieselburner opened #25140 "Unable to obtain dhcp lease"
**Describe the bug**

Unable to obtain DHCPv4 lease.

**To Reproduce**

1. Build and flash `samples/net/dhcpv4_client` app.
2. Continuously execute `net iface` command in DUT shell.

**Expected behavior**

DHCPv4 lease obtained and DUT gets it's own IP address.

**Impact**

Showstopper

**Screenshots or console output**

*samples/net/dhcpv4_client*:

[code]

*samples/net/cloud/google_iot_mqtt*:

[

[2020-05-08 13:49] dieselburner commented on #25140
And yes, I'm 95% sure it's not my environment. Will try to bisect the faulty commit or see if there's really something with my network. But I have more than 10 devices in a network right now, and all of them seems to work.

[2020-05-08 13:52] dieselburner commented on #25140
Bug confirmed. Output from v2.2.0:

[code]

[2020-05-08 13:56] dieselburner commented on #14790
I would love to test on master, but blocked by #25140

[2020-05-08 13:56] r2r0 opened #25141 "Cannot use C++ on APPLICATION level initialization"
**Describe the bug**
Cannot use C++ in functions called at APPLICATION initialization level.
Because setup of C++ subsystem is performed after APPLICATION level initialization then C++ usage is limited to main & following threads.

**To Reproduce**
Steps to reproduce the behavior:
1. Define static instance of class with non trivial constructor
2. Use SYS_INIT macro to define function called at APP

[2020-05-08 14:30] Nukersson commented on #23314
Maybe Kconfig solution would be better?

[2020-05-08 14:33] pabigot commented on #25141
I agree; I personally would like this to occur even earlier, but there was strong pushback at the suggestion that C++ might be used in drivers.

The [documentation](https://docs.zephyrproject.org/latest/reference/kernel/other/cxx_support.html) says it's supported for applications.  It is ambiguous whether that includes initialization routines run at the application init level, but I think it's wor

[2020-05-08 14:59] jukkar commented on #25140
DHCPv4 works just fine:
[code]
Just to make sure, I also tried with dhcpv4_client sample:
[code]
This with native_posix. Note that yesterday there was qemu issue fixed that affected networking, make sure you use very latest master.

[2020-05-08 15:02] jukkar commented on #25140
After checking your git commit, I can confirm that you were affected with this issue which was reverted after you had tried it `x86: Revert "qemu_x86: use icount for 32-bit" d2dce5e845abf4965cee130ac4dacb4fa370aa38`
Closing this one as this is already fixed.

[2020-05-08 15:28] carlescufi commented on #25139
@pdunaj could you please comment on this issue?

[2020-05-08 15:30] #25128 closed

[2020-05-08 15:31] #24926 closed

[2020-05-08 16:12] dieselburner commented on #15565
FYI: I get this error on current master when building google mqtt demo for `nucleo_f756zg` target.

[2020-05-08 16:13] dieselburner commented on #25140
Problem still present.

[2020-05-08 16:33] galak commented on #23107
I'm not sure it makes sense in this case, but ok if you want to submit a PR for it.

Done.

[2020-05-08 16:45] galak commented on #12987
Yes, but I think we recent DTS changes I can finally address this.

[2020-05-08 17:03] vanwinkeljan commented on #25109
Not a bug either an `enhancement`  as `flash_simulator` tests are not supported by `native posix` (only `qemu_x86` is whitelisted)

[2020-05-08 17:06] #19614 closed

[2020-05-08 17:33] carlescufi commented on #24554
@parthitce thank you for your patience.
Please push an initial version to:
https://github.com/zephyrproject-rtos/hal_infineon

That said, please make sure that you format the commit similarly to this one:
https://github.com/zephyrproject-rtos/cmsis/commit/0d43487db343e3eacb7175e59103f878599e806a

[2020-05-08 17:39] parthitce commented on #24554
@carlescufi Thanks, I will re-format the commit message and will push it.

[2020-05-08 18:05] albertofloyd opened #25148 "tests: gpio: Add check to validate initial values of gpio output"
**Is your enhancement proposal related to a problem? Please describe.**
Issue like this could be catch in sanity check for specific-boards.
https://github.com/zephyrproject-rtos/zephyr/issues/25101

**Describe the solution you'd like**
Current gpio test needs to add an additional test step where the following is done.

1) Configure gpio pins using GPIO flags introduced in v2.2 such as ACTIVE_HIGH

[2020-05-08 18:28] d3zd3z commented on #14790
It is just documentation and `prj.conf` changes, so it shouldn't be difficult to try on whatever branch you have that works.

[2020-05-08 19:37] nandojve commented on #24853
@mtahirbutt We need that #25010 fixed to continue testing.

[2020-05-08 19:47] pdunaj commented on #25139
@carlescufi The hid-mouse sample is actually very simple. There is nothing suspicious there that would delay the transfer this much.

@mschwan-phytec I suspect there is a problem with how you measure the delay. LED will change almost instantly after the report is send to the USB. On the other hand there will be a significant processing delay on the host. You need to take into account the frame ren

[2020-05-08 19:48] dcpleung commented on #25051
On mec15xxevb_assy6853, are there jumpers on `JP31 13-14` (for `GPIO156`) and `JP41 1-2`? These two have pull-up effect which will make the pin high if set as input.

[2020-05-08 20:10] mtahirbutt commented on #24853
@nandojve  I am experiencing some other error for zephyr master also "SHA256 size not valid etc." during Probe metadata also "could not parse jason etc." to the most recent zephyr so stopped at that and now working with my branch I mentioned. I have to make that work to another network interface. will look into zephyr master later.

[2020-05-08 21:32] vla3913 commented on #25046
@puchm, you are absolutely right, we are working on the subject. Following the advice of @jukkar, I compiled in qemu-x86 and added a zeth interface.
The good news is the connection part works perfectly. I am able to communicate between the OPC UA server in QEMU and an OPC UA client on my desktop.
The bad news is the connection is not established because (Thanks GDB by the way) mbedtls refuses to i

[2020-05-08 21:51] galak opened #25153 "Support for build/testing SoCs w/o boards"
We don't have any particular means today to test SoC support w/o a board.

Starting this thread to use for discussion on if and how we might support this.

My initial thought is that we'd just create a fake board port for the SoC, have some policy to limit this to one board per SoC "family variant" so we're not having an explosion.

Having some naming convention like `boards/<arch>/buildtest_<SOC>

[2020-05-08 22:39] otavio commented on #24853
@mtahirbutt we apologize for the delay but we are on a dead-end as this is not reproducible here, so we foresee two possible scenarios:

1) we are missing something
2) your code/settings are different and it causes the side effect

On top of that, we found multiple issues with the ST MCUs and we've been reporting and fixing those issues as we can. Last is #25010 as @nandojve mentioned.

So, the bo

[2020-05-08 22:47] vanti opened #25156 "Unable to use --use-elf option in 'west flash' to correctly flash the .elf file"
**Describe the bug**
When flashing the cc3220sf_launchxl using the --use-elf option in west, I get the following error:

[code]

It seems to be using different command line options for OpenOCD when compared with flashing using 'west flash' (ie. using .hex file), which works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/hello_world
2. west build -b cc3220sf_launchxl
3. west

[2020-05-08 23:15] #23441 closed

[2020-05-08 23:15] mbolivar-nordic commented on #25156
@abrodkin can you take a look please?

[2020-05-09 02:23] nashif opened #25160 "intel,ioapic.yaml needs more details about encoding"
Would be good to update dts/bindings/interrupt-controller/intel,ioapic.yaml to provide a bit more detail about the encoding. You can look at dts/bindings/dma/st,stm32-dma.yaml for an example of describing encodes in description.

[2020-05-09 02:32] #21156 closed

[2020-05-09 02:37] #25109 closed

[2020-05-09 03:58] jeremyherbert opened #25161 "samples/cfb/display flickers with SSD1306"
**Describe the bug**
When running the example for the SSD1306, the display flickers between "012345" shown, to blank.

The following code in the example sets the font to the largest available (in my case, height of 32)
[code]

In the console output, it prints:
[code]

which I assume means:
- `x_res` = x resolution, 128 pixels
- `y_res` = y resolution, 32 pixels
- `ppt` = pixels per tile, 8 pixels

[2020-05-09 07:05] mtahirbutt commented on #24853
@otavio thanks for your note. Yes there are still some side effects (retransmissions and in appropriate memory usage) with my branch that I will take care later. right now I want to updatehub work quickly with another interface, will see zephyr master (about probe security and other enhancements made by you) later.

[2020-05-09 07:13] parthitce commented on #25010
@nandojve Is this TLS enabled?

[2020-05-09 10:17] #24842 closed

[2020-05-09 10:42] xuhao8210 commented on #25022
After I ran the cases: "samples/synchronization/" , "samples/hello_world/","tests/kernel/queue/" and "tests/kernel/mem_protect/sys_sem/" , they are not all display the case’s information in serial log.
But the cases:"tests/kernel/pipe/pipe" and "tests/kernel/timer/timer_api/" can display the case’s information in serial log.

[2020-05-09 11:20] #25091 closed

[2020-05-09 12:08] galak opened #25164 "Remove `default:` functionality from devicetree bindings"
We currently support specifying a `default: ` option in the DTS binding YAML.  This option in the binding gets used if a property is not set in the .dts file, then if a `default` is specified the generator will act as if the property was set to that default value.

This concept was partially picked up from the dt-schema (https://github.com/devicetree-org/dt-schema) project.

I'd like to remove the

[2020-05-09 12:24] jukkar commented on #14790
This was merged already so closing.

[2020-05-09 12:24] #14790 closed

[2020-05-09 12:24] a1ien opened #25165 "LE Coded Phy code rate switch [s2/s8]"
**Is your enhancement proposal related to a problem? Please describe.**
 #24618 allow change PHY mode, but look like it's impossible switch code rate.

**Describe the solution you'd like**
I want function that add ability to select code rate.

[2020-05-09 12:27] jukkar commented on #24916
Created PR #25136 that adds information how to connect QEMU / native_posix boards together. Hopefully it helps for this issue.

[2020-05-09 12:52] abrodkin commented on #25156
@vanti I guess you see the difference between flashing binary in the flash-memory (via quite special procedure with block erase, write protection management etc) and later execution of that code after board reset and loading contents of the Elf-file in word-writable RAM (be it on-chip SRAM, DDR etc).

From your log I see this: `Error: Failed to write memory at 0x01000014` which means you're trying

[2020-05-09 13:03] parthitce commented on #24554
https://github.com/zephyrproject-rtos/zephyr/pull/24555 is merged. Closing this issue.

[2020-05-09 13:03] #24554 closed

[2020-05-09 13:55] andyross commented on #24747
I'm guessing not.  With qemu -icount, by default, the emulator is decoupled from real world time and runs it's simulated time as fast as the CPU allows.  There is a mode where it will stuff delays in its CPU idle instructions to try to align with realtime, but that only works when it's able to keep up at all, which isn't the case here.

That's certainly true on nsim too, since it seems to be takin

[2020-05-09 14:15] carlescufi commented on #25165
Makes sense to expose this somehow.

[2020-05-09 14:21] sercantun commented on #24695
Thank you all for your support. Problem is solved when I re-install zephyr in another directory. And board had a static IP.

[2020-05-09 14:27] sglass68 commented on #25109
Should we change the tests to support native_posix? It seems excessive to spin up qemu for a such a simple test. If so, how?

[2020-05-09 14:29] nandojve commented on #25010
Hi @parthitce, if you are referring to UpdateHub, yes, it works with/without DTLS.
Take look at https://github.com/zephyrproject-rtos/zephyr/tree/master/lib/updatehub and https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/updatehub.
You can get more info at https://updatehub.io/

About MCUBoot, you must use your own certificate to sign images.
https://github.com/JuulLabs-OSS/mcub

[2020-05-09 14:30] sglass68 commented on #25109
OK I see you have added support, but it can only run once. How to fix that?

[2020-05-09 14:32] galak commented on #25109
what do you mean run once?

[2020-05-09 14:47] sglass68 opened #25169 "soc/arm/infineon_xmc/4xxx/soc.h not found"
**Describe the bug**
I would like all the tests to pass locally but I seem to be msising a file

**To Reproduce**
Steps to reproduce the behavior:
1. ./scripts/sanitycheck
2. See error

**Expected behavior**
Woulkd like all tests to pass

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Screenshots or console output**

cat /opt/zephyr-sdk/sdk_version
0

[2020-05-09 15:11] sglass68 commented on #25109
The first time I run it, it creates flash.bin and passes.

The second time I run it, it uses the old flash.bin and fails. Updated log:

/build/zephyr/zephyr.elf
*** Booting Zephyr OS build zephyr-v2.2.0-2692-gff856e01f5d8  ***
Running test suite flash_sim_api
===================================================================
starting test - test_int

    Assertion failed at tests/drivers/flash_si

[2020-05-09 15:41] galak commented on #25169
did you do a `west update`?

[2020-05-09 15:42] #25141 closed

[2020-05-09 15:46] galak commented on #25109
Gotcha, we should open a new issue for that bug.

[2020-05-09 17:08] carlescufi commented on #25169
Exactly. @sglass68 support for Infineon Arm ICs was merged earlier today and it requires a new HAL layer which is a separate repository. Running `west update` should fix the issue.

[2020-05-09 17:08] sjg20 opened #25171 "Can only run the flash_simulator test once on native_posix"
**Describe the bug**
The first time you run this it works. The second time, the flash.bin file is still around from last time and the test fails.

**To Reproduce**
Steps to reproduce the behavior:
1.west build --force -b native_posix tests/drivers/flash_simulator
2. rm flash.bin
3. ./build/zephyr/zephyr.elf  - all good
4. ./build/zephyr/zephyr.elf  - fails
5. go to 2

**Expected behavior**
Should

[2020-05-09 17:09] sglass68 commented on #25109
OK, added
https://github.com/zephyrproject-rtos/zephyr/issues/25171

[2020-05-09 17:13] sglass68 commented on #25169
Oopts, that did it, thanks! Will make a note.

[2020-05-09 17:13] #25169 closed

[2020-05-09 18:52] dieselburner commented on #14790
Thanks, I got it working because of your changes.

[2020-05-09 19:36] mofo opened #25173 "k_sem_give(struct k_sem *sem) should report failure when the semaphore is full"
I am porting some code and I need to check if I can lose a semaphore if I don't check it is full the sem_give  call fails silently.

sem_give should return an error code like sem_take does when the semaphore is empty
int k_sem_give(struct k_sem *sem)

as a workaround I have to check  if the semaphore is full before the give request to make sure I will not lose the action:

currentCount = k_sem_cou

[2020-05-09 21:11] mnkp commented on #25164
The above arguments sound very reasonable. I would like to support the proposal.

[2020-05-10 02:29] sglass68 opened #25174 "qemu test failures when running sanitycheck"
**Describe the bug**
I see test faillures most times when I run this script

**To Reproduce**
Steps to reproduce the behavior:
1. ./scripts/sanitycheck
2. See error

**Expected behavior**
Expect all tests to pass

**Impact**
annoyance

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.11.2
 - Commit SHA or

[2020-05-10 04:22] chen-png opened #25176 "tests/kernel/context failed on multiple platforms."
**Describe the bug**
This test  tests/kernel/context failed on reel_board,  frdm_k64f,  sam_e70_xplained, mec15xxevb_assy6853 and up_squared.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p auto  tests/kernel/context
2. west flash
3. See error

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora28
 -

[2020-05-10 04:30] chen-png opened #25177 "tests/drivers/counter/maxim_ds3231_api failed on frdm_k64f."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b frdm_k64f -p auto tests/drivers/counter/maxim_ds3231_api/
2. west flash
3. See error

**Screenshots or console output**

**W: Failed to fetch registers: -5**
*** Booting Zephyr OS build zephyr-v2.2.0-2667-g57671d97165f  ***
**Assertion failed at WEST_TOPDIR/zephyr/tests/drivers/counter/maxim_ds3231_api/src/test_counter.c:945: test_

[2020-05-10 05:17] chen-png opened #25178 "tests/kernel/sched/schedule_api failed on iotdk board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b iotdk -p auto  tests/kernel/sched/schedule_api
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-2667-g57671d97165f  ***
Running test suite threads_scheduling

starting test - test_bad_priorities
PASS - test_bad_priorities

starting test - test_priority_cooperative
PASS - test_p

[2020-05-10 05:24] chen-png opened #25179 "tests/kernel/timer/timer_api failed on iotdk board."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b iotdk -p auto tests/kernel/timer/timer_api/
2. west flash
3. See error

**Screenshots or console output**
*** Booting Zephyr OS build zephyr-v2.2.0-2667-g57671d97165f  ***
Running test suite timer_api

starting test - test_time_conversions
PASS - test_time_conversions

starting test - test_timer_duration_period
PASS - test_timer_du

[2020-05-10 07:03] erwango commented on #25176
Seen on stm32 boards as well (disco_l475_iot1, nucleo_f429zi, nucleo_f746zg, nucleo_l152re, nucleo_wb55rg, stm32f3_disco, ...)

[2020-05-10 07:06] erwango opened #25180 "tests: drivers/i2s/i2s_api: Build failed on 96b_argonkey"
**Describe the bug**
Not  much more info for now

**To Reproduce**
sanitycheck --ninja --warnings-as-errors --runtime-artifact-cleanup -b -p 96b_argonkey -T tests/drivers/i2s

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Screenshots or console output**
If applica

[2020-05-10 07:47] pabigot commented on #25164
I understand the argument, only wish [it had been discussed to its conclusion](https://github.com/zephyrproject-rtos/zephyr/issues/17829#issuecomment-517300177) when the feature (which is very useful) was added to Zephyr's infrastructure in #18788.  If we reverse course now there are 14 drivers in Zephyr currently using this feature that have to be changed.

I certainly don't agree that "the inten

[2020-05-10 08:21] carlescufi commented on #25174
@microbuilder can you take a look at the tf-m failures?
@andyross the cmsis failures, are they related to the timeout porting?

[2020-05-10 08:22] carlescufi commented on #25173
@andyross and @andrewboie would appreciate feedback as to whether this can be considered a bug.

[2020-05-10 11:22] Nukersson opened #25182 "Raspberry Pi 4B Support"
**Is your feature request related to a problem? Please describe.**
[Raspberry Pi4B](https://www.raspberrypi.org/products/raspberry-pi-4-model-b/) support feature as at is one of the widely used SBC in the world ( [30 mio in 2020](https://en.wikipedia.org/wiki/Raspberry_Pi) ).

**Describe the solution you'd like**
Introduce [BCM2711](https://www.raspberrypi.org/documentation/hardware/raspberrypi/bc

[2020-05-10 11:55] lenhart opened #25183 "west build error after while "getting started" on ESP32"
**Describe the bug**
When following the getting started guide I encounter the error:
[code]
which looks similar to #8977 and #23418.
However the toolchain seems to be right and the build tools changed or differ from the above mentioned issues (see below for my west output). I tried the suggested comments there, but most did not yield more information because the tool paths/setup has changed as it

[2020-05-10 12:23] henrikbrixandersen commented on #25180
Potentially fixed by #25163.

[2020-05-10 12:41] #24695 closed

[2020-05-10 13:00] ehudmarvell opened #25184 "lldp: lldp_send includes bug"
Hi,

I am enable lldp in my env, after fixing the following bug it seem working
https://github.com/zephyrproject-rtos/zephyr/issues/25084

but while I am using optional lldp fields it isn't.

according to lldp_send:

why net_pkt_write with '!' before? if everything good net_pkt_write return 0.
if I remove the '!' it is working fine.

Environment:
    Zephyr SDK
    Commit SHA :6933248e0cb4f7af31e2

[2020-05-10 13:38] eshaulx opened #25185 "Adding CONFIG_BT_SETTINGS creates errors on bt_hci_core & bt_gatt"
I am trying to override BT DIS configs on runtime to update the DIS->SN, DIS->FW version etc...
Therefore, I added the following configs:
[code]

In addition to that, I am calling **_settings_load()_** and override the relevant configs (using **_settings_runtime_set_**) after **_bt_enable()_** and before advertising.

the problem is that the above changes only, adding 1 error and a warning:
1. err

[2020-05-10 14:18] #18124 closed

[2020-05-10 14:28] carlescufi commented on #25183
@lenhart it would really help if you wrote what sample you were trying to build for which board, and the exact command-line command you issued.

[2020-05-10 15:43] lenhart commented on #25183
@carlescufi oh, you are absolutely right, I am sorry for that.

I am building for the esp32 w/
```west build -p auto -b esp32 samples/hello_world```

Now I re-read the board page and saw that I missed the board specific setup path (I was just looking for the board name before). Alright, did that now but am greeted with a new error. It finds the zephyr and esp toolchains but still complains that ``

[2020-05-10 15:46] #24366 closed

[2020-05-10 18:56] nandojve commented on #23107
Atmel SoC DT_INST migration was concluded.

[2020-05-10 18:56] #23107 closed

[2020-05-10 18:57] lmajewski opened #25187 "Generic ethernet packet filtering based on link (MAC) address"
**Is your feature request related to a problem? Please describe.**
The problem is to have a generic way to filter (or pass to another interface) packets with a special MAC address (for example link-local as https://elixir.bootlin.com/linux/v5.6-rc7/source/include/linux/etherdevice.h#L66).

Up till now all the filtering tasks are executed in ethernet_recv() (https://github.com/zephyrproject-rtos/ze

[2020-05-10 20:42] mofo commented on #25173
I would consider it a bug since k_sem_take does have a return code and conceptually the two functions should be symmetric.

[2020-05-10 23:42] andrewboie commented on #25173
Confirmed by looking at the code, it ends up being just a reschedule point if the limit has already been reached.

Honestly, if I could get away with it, I would remove the concept of semaphore limits entirely, it doesn't fit the textbook definition of a semaphore, although there is a precedent for it in at least a few other OSes.

I'm not entirely sure this counts as a bug, as the documented beha

[2020-05-10 23:47] andrewboie commented on #25174
If these are intermittent rather than consistent failures I think this is a duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/14173

Do they pass if you re-run `sanitycheck` with `--only-failed`?

[2020-05-11 00:09] mofo commented on #25173
Hi @andrewboie, I actually agree 100% with all of your statements.

"sys_sem" does currently return error in case the semaphore reached the max count

/**
 * @brief Give a semaphore.
 *
 * This routine gives @a sem, unless the semaphore is already at its
 * maximum permitted count.
 *
 * @param sem Address of the semaphore.
 *
 * @retval 0 Semaphore given.
 * @retval -EINVAL Parameter address not

[2020-05-11 00:36] npitre commented on #24747
In that case maybe the test harness could be set to consider a so
qualified test as successful if it reaches its timeout without flagging
any errors. And such tests could have a much smaller but still
reasonable timeout.

[2020-05-11 03:58] xueyunquan opened #25189 "Wrong flash size set in the XIP boot header for NXP imxrt SoCs"
**Describe the bug**
In the file [`soc/arm/nxp_imx/rt/soc.c`](https://github.com/zephyrproject-rtos/zephyr/blob/master/soc/arm/nxp_imx/rt/soc.c) on line 78:
[code]
the line `.size = CONFIG_FLASH_SIZE` is incorrect because the value of CONFIG_FLASH_SIZE is in KiB, and the size is in Bytes, so it should read `.size = CONFIG_FLASH_SIZE * 1024`.

**To Reproduce**
Build code images for imxrt targets.