[2020-05-11 04:12] wentongwu commented on #24228
PM core
The PM core will get the pm state where system is going to with pm policy APIs, and it should be called with interrupt locked. And according to the decided next system pm state, it will suspend devices(if needed) and platform in sequence with the defined interfaces.

For the device suspend in some power states, it will take two steps. First is the device prepare stage, it will be executed

[2020-05-11 05:55] andyross commented on #25173
Yeah, limits are weird as an API feature.  The internal code actually requires that some kind of clamping be present (otherwise you could wrap at 32 bits and get wrong behavior), but presenting it to users as a tunable is just asking for trouble.

As for whether we want to add a return value to `k_sem_give()` (it is void right now)... I vote no, honestly.  That's a pretty heavy API change; basical

[2020-05-11 05:55] andyross commented on #25173
(whoops, clicked wrong button and closed it by accident, sorry)

[2020-05-11 06:49] fnde-ot commented on #25185
To be able to store settings you need to choose a setting backend or register a custom one.

The example seems to disable backends (CONFIG_SETTINGS_NONE), it was probably done to make it run on posix. It will cause -harmless- errors when gatt uses the settings subsystem to try to persist something.

The warning you mention seems unrelated to settings, looks like the controller does not support the

[2020-05-11 06:52] fnde-ot commented on #25185
Maybe the calls to settings_save_one could check for the -ENOENT return code (meaning there is no setting backend) and change the error message to a warning indicating the setting was not persisted?

[2020-05-11 07:41] eshaulx commented on #25185
thanks @fnde-ot

- If i'll create a custom BE the warnings about persisting will be removed?

- read_static_addrs is related somehow because I am able to do that without the settings module as I mentioned in my original message, and I need that feature.

[2020-05-11 07:42] eshaulx commented on #25185
I agree, it's good idea

[2020-05-11 07:42] eshaulx commented on #25185
thanks @fnde-ot

If i'll create a custom BE the warnings about persisting will be removed?

read_static_addrs is related somehow because I am able to do that without the settings module as I mentioned in my original message, and I need that feature.

[2020-05-11 08:01] joerchan commented on #25185
The warning about "read static address command not available" can be ignored. The host will generate a random one. It will however not be persistently stored unless you have a settings backend.
Alternatively: use `settings_runtime_set` to set `bt/id` and `bt/irk`. Or call `bt_id_create`.

The peripheral_dis sample is using CONFIG_SETTINGS_NONE because it is demonstrating how to set  settings value

[2020-05-11 08:19] koffes opened #25190 "West - init/update module SHA with --depth = 1"
When running test build/CI, you are commonly interested in the snapshot at the current SHA, and not the history behind it.

When a project fetches Zephyr or any other module given by a SHA: When the build system runs, this SHA is fetched and along it a large history which is not of interest.
This causes unnecessary traffic and slows down the build.

Today, west supports `clone-depth` but only for

[2020-05-11 08:28] ioannisg commented on #22872
The work in #19985 is now merged, so I wonder if this ticket is still valid.
@musamaanjum , could you revisit the issue?

[2020-05-11 08:29] carlescufi commented on #25190
I am not sure this is actually possible with Git @koffes. But regardless, could you please close this issue and open a new one in:
https://github.com/zephyrproject-rtos/west/issues?

[2020-05-11 08:33] ioannisg commented on #24142
Is this really a bug @carlescufi ? PA/LNA support has not been ported yet to nRF5340, so AFAIU, it has never worked, so the ticket should be labeled as feature/enhancement

[2020-05-11 08:52] erwango opened #25191 "tests/drivers/console: drivers.console.semihost can't work"
**Describe the bug**
When running sanitycheck, drivers.console.semihost is run on all cortex-m boards.
Though, it is failed on all boards I could test (various STM32, frdm_k64f_reel_board)
When running with west, test doesn't output anything on console.

**To Reproduce**
Run test with sanitycheck, west

**Expected behavior**
Test runs successfully

**Environment (please complete the following info

[2020-05-11 08:58] ABOSTM commented on #25010
Hi @nandojve,
It would be interresting to determined whether issue comes from wifi as opposed to ethernet.
So I tried to run the samples\net\updatehub\ from original zephyr on STM32F429 which support Ethernet.
I followed instructions from samples\net\updatehub\README.rst
Unfortunately after spending about 1 day and a half, I am unable to have updateHub image running with docker.

I suspect Proxy i

[2020-05-11 09:00] erwango commented on #25123
@wzedmund it is true that DAC support is not yet enabled on STM32L4 series.
For now DAC is only available on STM32L0 series, but if your willing to help, you can push a PR to add its support. To do this, on top of files headers inclusion, we would need to add dts node description and enable a support on a board, so it can be build and potentially tested.
https://github.com/zephyrproject-rtos/zephy

[2020-05-11 09:02] stephanosio commented on #25191
While the test can run on real hardware targets, sanitycheck will not be able to validate its output, unless the semihosting console output is somehow redirected to the serial port to which sanitycheck is connected.

I will provide a fix for this.

[2020-05-11 09:24] ioannisg opened #25194 "tests: kernel: context: seems to be failing on Nordic platforms"
**Describe the bug**
tests/kernel/context seems to be failing on several Nordic nRF Platforms

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\nrf52dk_nrf52832
3. make
4. See error

**Expected behavior**
Should pass

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - Commit SHA or Version used.

[2020-05-11 09:25] ioannisg commented on #25194
On nRF5340 the error appears to differ:

[code]

[2020-05-11 09:28] Nukersson commented on #25194
Seems to be already reported [here](https://github.com/zephyrproject-rtos/zephyr/issues/25176#issue-615313752)

[2020-05-11 09:35] ioannisg commented on #25194
Yeap, just saw it, and triaged that one, too.

[2020-05-11 09:36] ioannisg commented on #25194
duplicate of #25176

[2020-05-11 09:57] #25190 closed

[2020-05-11 09:59] koffes commented on #25190
Closed and opened copy in https://github.com/zephyrproject-rtos/west/issues

[2020-05-11 10:09] ioannisg opened #25196 "tests: portability: cmsis_rtos_v2: hangs on nRF52, 53 and 91 nRF platforms"
**Describe the bug**
tests: portability: cmsis_rtos_v2 is hanging when executed on nRF targets

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\nrf52dk_nrf52832
3. make
4. See error

Keeps printing:

[code]

**Expected behavior**
Should pass

**Environment (please complete the following information):**
 - Commit SHA or Version used: Zephyr v2.3.0-r

[2020-05-11 10:09] microbuilder commented on #22872
Trying to run the hello_world (or other non-TFM) sample example on the `_nonsecure` board, meaning any example outside `samples/tfm_integration/*` at present, will fail because the `mps2_an521_nonsecure` board target makes certain assumptions about TF-M being present on the S side as a post-build step that aren't being met: https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/mps2_a

[2020-05-11 10:25] microbuilder commented on #25174
I've run the following just now, with no failures:

[code]

I wonder if this is failing due to certain requirements around TF-M not being met, specifically: https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/tfm_integration/tfm_integration.rst#tf-m-requirements

The `_nonsecure` board target should generally only be used with TF-M samples as well, since there are some post-build step

[2020-05-11 10:40] ioannisg commented on #24660
Failing on nRF5340 as well.
Also the latency test is failing.
This is not low priority then. Elevating to HIGH for now, to raise awareness (might be Medium though).

[2020-05-11 10:43] stephanosio commented on #25176
This seems to be happening on all Cortex-M platforms (also happens on Cortex-M4 `atsame54_xpro` and Cortex-M0 `atsamd21_xpro`).

[2020-05-11 10:45] stephanosio commented on #25176
`atsame54_xpro` (Cortex-M4):
[code]

`atsamd21_xpro` (Cortex-M0):
[code]

[2020-05-11 11:12] stephanosio commented on #25176
This is the culprit: https://github.com/zephyrproject-rtos/zephyr/commit/b7e363661d3daf4475e67acf1a4d96d39df18da1

[2020-05-11 11:42] cvinayak commented on #23314
These are constant values, and used all around the implementation for varies purposes. Based on their use, suitable names need be given. If some of these are user (desired) configurables, then they can be Kconfig.

[2020-05-11 11:54] vijayrao1988 opened #25200 "Build error in Sample App for OpenThread NCP"
**Describe the bug**
When attempting to build the OpenThread NCP sample app for Silicon Labs Thunderboard Sense board.
Building and flashing other sample apps like blinky and hello-world work fine. The build error refers to CONFIG_NET_CONFIG_IEEE802154_DEV_NAME being undeclared. Is this supposed to supplied as a build argument?

**To Reproduce**
Steps to reproduce the behavior:
Command:
west build

[2020-05-11 12:50] pabigot commented on #24228
We cannot assume that devices can transition power levels synchronously from within an interrupt.  Rather, the allowed system power state must be affected by the states the devices are in.

This does suggest that device power management must always be on and devices should automatically transition to the lowest power state consistent with application needs.

I think the idea that system power mana

[2020-05-11 12:53] eshaulx commented on #25185
Actually I don't want a custom BT ID, I want to use the static one, that can be read without a problem when **_CONFIG_BT_SETTINGS_** is not set.
I don't really understand the need for backend in case I want to make a runtime change only, it doesn't have to be stored persistently but it has to update the original configuration strings to updated ones.

In case it can't be done without a costume BE

[2020-05-11 12:54] erwango commented on #3564
I'm closing this point as this statement is 3 years old would need to be reviewed
Please reopen if required.

[2020-05-11 13:03] erwango commented on #23215
@boonpin1975 do you still face this issue ?

[2020-05-11 13:04] erwango commented on #21984
@DenvE Do you still need this ?

[2020-05-11 13:05] erwango commented on #23529
This has been completed

[2020-05-11 13:05] #23529 closed

[2020-05-11 14:10] joerchan commented on #25185
CONFIG_BT_SETTINGS shouldn't affect this though. The controller you are using does not have a Vendor Specific (VS) HCI command to read static addresses. Probably disabling CONFIG_BT_HCI_VS_EXT would fix this.

You need to be able to save persistently when using certain Bluetooth features (unless you never power-cycle your board?). You have enabled GATT Caching (CONFIG_BT_GATT_CACHING), which needs

[2020-05-11 14:12] stephanosio commented on #25194
Fixed by #25203

[2020-05-11 14:12] stephanosio commented on #25176
Fixed by #25203

[2020-05-11 14:16] wentongwu commented on #24228
see the pm policy API, it defined constraint API to constrain system power management, the state pm core will follow come from pm policy layer. Ok, I will give more documentation about that.
[code]

sure, power transition will not happen in interrupt, I mean the sync between device driver and device firmware will be the first step, device driver will start the sync message which runs in idle threa

[2020-05-11 14:21] jhedberg opened #25204 "soc: apollo_lake: Disabling I2C support is not possible"
Trying to set `CONFIG_I2C=n` in the application's `prj.conf` results in the following:
[code]

[2020-05-11 14:24] vonhust commented on #25022
The root cause of this issue is incomplete support of arc multicore in openocd.  Sometimes, the current arc open cannot reset the hsdk status correctly, e.g. cache flush.  We are working on a fix of this in openocd,

When the metaware debugger is used to flash/debug the hsdk,  we can get the expected results:

[code]

I suggest not to debug/flash hsdk before we fix the issues in openocd.

[2020-05-11 14:29] jhedberg commented on #25130
Closing this one as the PR was abandoned for 2.2

[2020-05-11 14:29] #25130 closed

[2020-05-11 14:52] agansari commented on #24429
@d3zd3z I've ran low level commands on the flash memory controller, see below:
- CMD_BLANK_CHECK this is the one suggested by the manual, this would not be useful in partially erased area
- CMD_READ_SINGLE_WORD would only check 1 word at a time, there is not DMA like read command for more than a word, it's not safe unless we're looping for the whole area.
- CMD_MARGIN_CHECK I ended up using

[2020-05-11 15:01] erwango commented on #25191
@stephanosio Txs for the fix.

About this feature, is that complying will all cortex-m ?
I checked given link: https://developer.arm.com/docs/dui0471/k/what-is-semihosting/what-is-semihosting

And they mention: "ARM processors use the SVC instructions, formerly known as SWI instructions, to make semihosting calls. However, if you are compiling for an ARMv6-M or ARMv7-M, for example a Cortex-M1 or

[2020-05-11 15:05] nvlsianpu commented on #25171
Creating the file only once is expected behaviour.
If recreating a file each time is needed please make this optional behaviour.

[2020-05-11 15:11] #25184 closed

[2020-05-11 15:11] #25191 closed

[2020-05-11 15:12] stephanosio commented on #25191
@erwango Yes, it works on all Cortex-M cores.

https://github.com/zephyrproject-rtos/zephyr/blob/c2a77db6d1a466ce54e05d4027390f7d914c55a2/drivers/console/semihost_console.c#L22

![image](https://user-images.githubusercontent.com/11345418/81578026-3a1d1600-93e5-11ea-82c1-25d307cc7b8c.png)

[2020-05-11 15:15] erwango commented on #25191
@stephanosio Txs for the confirmation!

[2020-05-11 15:22] stephanosio commented on #23622
Has this been addressed?

[2020-05-11 15:30] stephanosio commented on #25182
Other than "because we can," what would be a practical application for this?

As far as I can see, the main reason for one to choose Raspberry Pi over, for instance, Arduino is to run Linux. I wonder if there is any reason why one would want to run Zephyr on it.

[2020-05-11 15:42] andyross commented on #25174
Not seeing this on my laptop (which usually matches the host timer failure rates in CI).  Loading the CPUs with external shell loops and running sanitycheck in a loop over the cmsis_v2 sample showed no failures after 44 iterations.

[2020-05-11 15:55] nandojve commented on #25010
Hi @ABOSTM,

Docker procedures:
[code]

Current master need update timer variable because timer changes, we'll open issue and send PR:

[code]

Update prj.conf file for convenience:
[code]

Build for frdm_k64f board
[code]

Flash initial image:
`west flash --bin-file build/zephyr/zephyr-1.0.0.bin`

Server not found, no network, etc:
[code]

OK, now run docker container and login:
`docker run -it -

[2020-05-11 16:30] andrewboie commented on #25176
argh, this is another really old PR that got merged

[2020-05-11 16:30] sglass68 commented on #25174
@andrewboie
Yes './scripts/sanitycheck --only-failed' makes them pass.

[2020-05-11 16:32] andyross commented on #24001
Can someone recheck the reel_board?  There was an unrelated fix on nRF that went in a week or three ago that I'm guessing is what was reported here.

[2020-05-11 16:32] sglass68 commented on #25174
@microbuilder I found that a while ago and it definitely is the problem with some of the tests. Could it be moved to the main page? https://docs.zephyrproject.org/latest/getting_started/installation_linux.html

Am running again with master and will report back here

[2020-05-11 16:33] #25174 closed

[2020-05-11 16:33] andrewboie commented on #25174
This is just #14173

[2020-05-11 16:38] andyross commented on #19075
We can close this one now.  Default timeout precision is now 64 bit and the docs are quite clear about what values are stored where and what the units are.

[2020-05-11 16:38] #19075 closed

[2020-05-11 16:40] andyross commented on #20585
Is there anything actionable here?  Seems like this was just a platform bug failing to issue an announce call before wraparound?  If there's something we can reproduce in tree, we should fix it.  If not it's an enhancement request (either for another test to show the problem or for a framework to handle the overflow requirements somewhere else than in the driver, I guess?).

[2020-05-11 16:58] pabigot commented on #20585
Not currently reproducible on the original platform.

[2020-05-11 16:58] #20585 closed

[2020-05-11 17:30] pabigot commented on #24702
@MaureenHelm the bug here appears to be this:
[code]
in the `nxp,kinetis-rtc` devicetree sources for k6x, k8x, and ke1xf, combined with this code in the corresponding driver:
[code]
which causes the RTC to claim its frequency is 1 Hz.  All tested delays convert from microseconds via `counter_us_to_ticks() to zero ticks, and the measured delta zero is never less than zero.

While the test arguable

[2020-05-11 17:33] sglass68 opened #25210 "CI seems to be stuck for my pull request"
**Describe the bug**
https://github.com/zephyrproject-rtos/zephyr/pull/25110
Something seems to be wrong with the checks here. I tried twice and these three seem to be broken:

Gitlint
Identity/Emails
Kconfig

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/zephyrproject-rtos/zephyr/pull/25110
2. See error that everything is stuck

**Expected behavior**
Expect the che

[2020-05-11 17:39] sglass68 commented on #25174
Results of my re-run. All seem to be due to the qemu problem.

./scripts/sanitycheck
Renaming output directory to /home/sglass/dev/zephyrproject/zephyr/sanity-out.13
INFO    - JOBS: 64
INFO    - Selecting default platforms per test case
INFO    - Building initial testcase list...
INFO    - 4160 test configurations selected, 199116 configurations discarded due to filters.
INFO    - Adding tasks to

[2020-05-11 17:40] sglass68 commented on #25171
So should we change the test to write first and then read, rather than assuming that the flash is erased?

[2020-05-11 17:43] andrewboie commented on #25173
@andyross Would all code really need an extra test and branch? Couldn't existing code just ignore the return value? The proposed change doesn't alter the behavior of k_sem_give() other than to provide a return value if the limit is reached for those that care about it.

[2020-05-11 17:44] andrewboie commented on #25174
I'd like to know more details about your build environment, these intermittent failures are known but they seem to fail way more often for you than the rest of us.

[code]

How many CPUs/threads does your workstation actually have?

[2020-05-11 17:54] bwasim commented on #25182
@stephanosio , I would ask the same question for the Armv8-A port on Zephyr altogether (which is available / usable in the mainline).

Given that Armv8-A is a high end application processor targeted for products like phones / servers, supports Multi-OS scenarios like Hypervisor etc, does it make sense for Zephyr to even support it ? If it does, then we should have no problem adding support for Pi

[2020-05-11 17:56] mofo commented on #25173
@andyross: I am implementing the OSI interface for a block that I do not control (just playing around with the ESP32 BT controller and making a VHCI driver for it) but expects to fail if the semaphore is full:
int32_t (*_semphr_give)(void *semphr);

The OSI also requests a MAX for the created semaphore:
void *(*_semphr_create)(uint32_t max, uint32_t init);

I do agree with @andrewboie that the cha

[2020-05-11 17:57] andyross commented on #25173
It would by current coding style guidelines, yeah.   That's an unchecked error. :)

I guess I'm just saying I don't see the value.  If someone is actually using the limit feature, they surely **want** the silent saturation behavior we document, because no one else has a semaphore like this so clearly the desire is for our (weird) scheme, right?  If the app doesn't want to saturate, it should leave

[2020-05-11 18:02] andyross commented on #25173
@mofo : what exactly is the API you're wrapping?  Are you sure it expects the error detection you're trying to implement?

[2020-05-11 18:05] andrewboie commented on #25173
No disagreement here. But I don't see a path to doing that without a complete API overhaul like the micro/nanokernel merge.

There's other OSes that do implement a limit, it's not just us.

For example in FreeRTOS: https://www.freertos.org/CreateCounting.html

[code]

[2020-05-11 18:16] mofo commented on #25173
No, I can just assume since I can see the FreeRTOS implementation

[2020-05-11 18:21] andrewboie commented on #25173
@mofo let me ask you this: does FreeRTOS counting semaphore return an error if the limit is reached? Your argument would be bolstered if you can show precedent.

[2020-05-11 18:25] jenmwms commented on #23507
update here - I rebased today and this issue is resolved. Above referenced #23325 fixed it, from what I can tell.

I tested today on master 7201c1d - No modification or cherry-pick.
 `west build -p -b qemu_x86_64 samples/subsys/shell/shell_module`

[code]

[2020-05-11 18:25] #23507 closed

[2020-05-11 18:27] mofo commented on #25173
**Macro** to release a semaphore. The semaphore must have previously been created with a call to xSemaphoreCreateBinary(), xSemaphoreCreateMutex() or xSemaphoreCreateCounting().
**Returns**:
pdTRUE if the semaphore was released. pdFALSE if an error occurred. Semaphores are implemented using queues. An error can occur if there is no space on the queue to post a message – indicating that the semapho

[2020-05-11 18:29] andrewboie commented on #25173
I saw that too but that doesn't answer my question as there is no specific language about what causes pdFALSE returned other than "no space on the queue".

[2020-05-11 18:31] pabigot commented on #24313
The bug part of this appears to be resolved by #24209 so I'm dropping that, leaving this as an enhancement to provide better diagnostics when `CONFIG_UART_0_NRF_HW_ASYNC=y` is provided without a companion RTC assignment like `CONFIG_UART_0_NRF_HW_ASYNC_TIMER=4`.

[2020-05-11 18:36] sglass68 commented on #25174
It has 32 CPUs with 64 threads.

$ head -28  /proc/cpuinfo
processor	: 0
vendor_id	: AuthenticAMD
cpu family	: 23
model		: 49
model name	: AMD Ryzen Threadripper 3970X 32-Core Processor
stepping	: 0
microcode	: 0x8301025
cpu MHz		: 4045.911
cache size	: 512 KB
physical id	: 0
siblings	: 64
core id		: 0
cpu cores	: 32
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 16
wp

[2020-05-11 18:42] andrewboie commented on #25174
Nice CPU :)

I routinely pass -j48 to my 3950X (16c/32t) but don't experience the magnitude of errors you are seeing. Weird. Wonder if it's I/O bottleneck or something? The QEMU issues tend to happen more if the system is heavily loaded with large jumps in emulated time.

At any rate, I expect a lot of this would go away (except for x86_64 which has special problems with icount due to being SMP) o

[2020-05-11 18:45] vanti commented on #25156
@abrodkin We are making some changes to OpenOCD for our platform, and wanted to validate the behavior when loading elf files was when we came across this issue. Afaik, elf format is generic and does not imply that code would reside in RAM vs flash. and when I look at the help text for "--use-elf":

[code]

It simply states that it would use the elf file as opposed to the hex file, so I wouldn't ha

[2020-05-11 18:53] mofo commented on #25173
Not sure if this is what you are asking but from a quick code inspection:

xSemaphoreGive is implemented as a Queue as specified by the API description

**xQueueGenericSend** ONLY has 3 possible exits:
1 - everything good and an item can be added
**pdPASS**:

2 - There is no space in the queue and the timeout expires
3 - There is no timeout and there is no space in the queue
**errQUEUE_FULL**:

**

[2020-05-11 19:01] andrewboie commented on #25173
What I am asking is, specifically, **is pdFALSE returned if the counting semaphore is given when the limit is reached**? Nothing cited so far seems to cover this case, all it discusses is its internal queue implementation

[2020-05-11 19:24] galak commented on #25210
Should be fixed by https://github.com/zephyrproject-rtos/ci-tools/pull/135/files

[2020-05-11 19:34] #25176 closed

[2020-05-11 19:34] #25194 closed

[2020-05-11 19:37] mofo commented on #25173
I'm not sure I understand:

We agree that **xSemaphore** doesn't really exist and it is a **xQueueGeneric** right:

           ......

		configASSERT( uxMaxCount != 0 );
		configASSERT( uxInitialCount <= uxMaxCount );

		xHandle = xQueueGenericCreate( uxMaxCount, queueSEMAPHORE_QUEUE_ITEM_LENGTH, queueQUEUE_TYPE_COUNTING_SEMAPHORE );

		if( xHandle != NULL )
		{
			( ( Queue_t * ) xHandle )->uxMes

[2020-05-11 19:48] jfischer-phytec-iot commented on #25161
I can not see any flicker for example on nrf52dk_nrf52832, but that may be happen on other board where i2c and cpu clock is much faster. Anyway it is not the issue in the sample. It is intended to "runs a for loop for each tile row, not character row" and should not be changed.

Please consider to use LVGL instead, which provides much more features with relatively small resource consumption.

[2020-05-11 19:48] #25161 closed

[2020-05-11 19:52] andrewboie commented on #25173
I absolutely do not care about the implementation details.

Does it return false if the limit is already reached, or not? Simple question. Sounds like we have no idea because the FreeRTOS documentation is terrible.

[2020-05-11 20:07] drandreas opened #25215 "enable modules to append to $DTS_ROOT"
**Is your enhancement proposal related to a problem? Please describe.**
Drivers should also be placeable in modules, e.g. `modules/drv/tpm-tis-spi`. This works for source only drivers but breaks as soon as bindings i.e. `dts/bindings/infineon,tpm.yaml` are needed.
*Note*: If the dts folder is coped to the app folder the build succeeds.

**Describe the solution you'd like**
Add a function e.g. `zep

[2020-05-11 20:29] arvid-r commented on #25215
Is this different than out-of-tree drivers in general?
You can build out-of-tree drivers by setting DTS_ROOT=/tmp/zephyr
with the following file structure:
[code]

[2020-05-11 20:30] statropy opened #25216 "cc13xx and cc26xx handler for IRQ invoked multiple times"
**Describe the bug**
Building networking samples (such as echo_server) with 802.15.4 support enabled for TI cc1352r1_launchxl or cc26x2r1_launchxl fails to complete because of apparent multiple assignments for the CPE0 interrupt handler.

**To Reproduce**
`west build -p always -b cc1352r1_launchxl samples/net/sockets/echo_server -- -DCONF_FILE="prj.conf overlay-802154.conf"`
OR
`west build -p alwa

[2020-05-11 20:35] #25210 closed

[2020-05-11 20:51] carlescufi commented on #25215
Indeed, we allow extending `DTS_ROOT` already, be it by a module or application or anything else.

[2020-05-11 20:52] carlescufi commented on #25200
@vijayrao1988 I am not sure 802.15.4 is supported on Silicon Labs devices due to the requirement for a binary module. @mnkp can I'm sure expand on that a bit.

[2020-05-11 20:54] drandreas commented on #25215
With out of tree builds I'm used to entering an absolute path. But having to type
`west build -b frdm_k64f my-app  -- -DDTS_ROOT=${PWD}/modules/drv/tpm-tis-spi` seems to be cumbersome especially since west handles module detection for all other cases very well.

[2020-05-11 20:58] carlescufi commented on #25200
No, this is a [Kconfig option](https://docs.zephyrproject.org/latest/guides/kconfig/index.html). Looking at the list of [supported drivers](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/ieee802154/Kconfig#L29) I don't see anything related to Silicon Labs. Likely because of [this issue](https://github.com/zephyrproject-rtos/zephyr/issues/17005)

[2020-05-11 21:03] #25204 closed

[2020-05-11 21:05] carlescufi commented on #25215
Wouldn't it be possible to set `DTS_ROOT` in your module's `CMakeLists.txt` with something like:
`list(APPEND DTS_ROOT ${MY_DIR})`

[2020-05-11 21:08] mofo commented on #25173
If you are asking me if philosophically they meant to return **pdFALSE** when a semaphore reaches the max count I can't comment :)

In reality, as far as I can tell and just short of running a test, the answer to the question

is  **YES**

**API reference**:

**pdTRUE** if the semaphore was released. **pdFALSE** if an error occurred. Semaphores are implemented using queues. **An error can occur if

[2020-05-11 21:09] carlescufi commented on #25183
Not quite sure what is going on, but I see that the xtensa toolchain you are trying to use is not listed [here](https://docs.zephyrproject.org/latest/getting_started/toolchain_3rd_party_x_compilers.html#third-party-x-compilers)

Have you tried using the [Zephyr SDK](https://docs.zephyrproject.org/latest/getting_started/installation_linux.html#zephyr-sdk) instead?

Sure, join our [Slack](https://ti

[2020-05-11 21:10] carlescufi commented on #25182
CC @Abhishek-brcm. Any thoughts on this since @bwasim mentions a Broadcom IC?

[2020-05-11 21:33] drandreas commented on #25215
According to: https://cmake.org/cmake/help/v3.17/command/list.html
"The list subcommands APPEND, INSERT, FILTER, PREPEND, POP_BACK, POP_FRONT, REMOVE_AT, REMOVE_ITEM, REMOVE_DUPLICATES, REVERSE and SORT may create new values for the list within the current CMake variable scope. Similar to the set() command, the LIST command creates new variable values in the current scope, even if the list itself

[2020-05-11 22:06] andyross commented on #25173
I think the practical framing was more: "What real world code actually cares about the distinction?"

FWIW, turns out win32 has a similar limit feature, and a return value from ReleaseSemaphore() that can give an error.  Though it has a similar documentation failure to FreeRTOS in that it doesn't actually say whether or not an overflow constitutes an error.

Hilarious, POSIX[1], while it does not

[2020-05-11 22:08] drandreas commented on #25215
... it must have been a fluke on my machine. build on CI are all failing.

[2020-05-11 22:11] andrewboie commented on #25173
I wouldn't stand in the way of a PR for this either, but I concur with @andyross remarks above.

Yes, regardless of what ultimately gets done, these should be synchronized (either removing `-EAGAIN` from `sys_sem`, or adding to `k_sem`). That was my fault, I added `sys_sem` for futex use-cases and didn't notice.

[2020-05-11 22:54] jfischer-phytec-iot commented on #24626
There is just nothing implemented to give/set allocated resource free after re-attach/reset (EORST).  The patch below fix the issue but I guess needs more investigation. Lower priority to low.

[code]

[2020-05-12 00:47] stephanosio commented on #25182
I suppose Broadcom is working on their new SoC with specific applications in mind (e.g. IoT applications with high processing power requirements, like computer vision and AI -- all without the overhead of Linux).

In that sense, Raspberry Pi 4 support would not be pointless, but it is not as low footprint/end/price as one would want such systems to be, so I am not really sure of its practical appl

[2020-05-12 00:47] jeremyherbert commented on #25161
FWIW, I was using the nrf52840, so the I2C and clock speed would have been the same.

I have since moved to lgvl.

[2020-05-12 01:31] chen-png commented on #24001
tested it with the latest commit ed2d263e on reel_board, it still was the same error.

[2020-05-12 02:15] stephanosio opened #25221 "arch.arm.irq_advanced_features test fails on atsamd21_xpro"
**Describe the bug**
The `tests/arch/arm/arm_irq_advanced_features/arch.arm.irq_advanced_features` test fails on `atsamd21_xpro` board.

**To Reproduce**
Build and run `tests/arch/arm/arm_irq_advanced_features/arch.arm.irq_advanced_features` on `atsamd21_xpro` board.

**Expected behavior**
Test passes

**Screenshots or console output**
[code]

**Environment (please complete the following informati

[2020-05-12 02:55] stephanosio opened #25224 "benchmark.kernel.latency test fails on atsame54_xpro"
**Describe the bug**
The `tests/benchmarks/latency_measure/benchmark.kernel.latency` test fails on the `atsame54_xpro` board.

**To Reproduce**
Build and run `tests/benchmarks/latency_measure/benchmark.kernel.latency` test on `atsame54_xpro`.

**Expected behavior**
Test passes

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.0

[2020-05-12 02:59] nandojve commented on #24626
Tested @jfischer-phytec-iot patch on SAM_V71_XULT.

procedures:
1- apply patch
2- west build -b sam_v71_xult samples/subsys/usb/cdc_acm
3- west flash
4- connect USB cable on HOST
5- disconnect USB cable from HOST
6- connect USB cable on HOST
7- open minicom at /dev/ttyACM1
8- disconnect USB cable from device
8.1 - confirm "Cannot open /dev/ttyACM1!"
9- connect USB cable on device
9.1 - confirm rec

[2020-05-12 03:09] stephanosio opened #25226 "net.vlan test fails on atsame54_xpro"
**Describe the bug**
The `tests/net/vlan/net.vlan` test fails on the `atsame54_xpro` board.

**To Reproduce**
Build and run `tests/net/vlan/net.vlan` on `atsame54_xpro`.

**Expected behavior**
Test passes

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain: Zephyr SDK 0.11.2
 - Commit SHA: ed2d263e0c233df015448de8

[2020-05-12 03:12] stephanosio opened #25227 "net.icmpv6 test fails on atsame54_xpro"
**Describe the bug**
The `tests/net/icmpv6/net.icmpv6` test fails on the `atsame54_xpro` board.

**To Reproduce**
Build and run `tests/net/icmpv6/net.icmpv6` on `atsame54_xpro`.

**Expected behavior**
Test passes

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain: Zephyr SDK 0.11.2
 - Commit SHA: ed2d263e0c233df0

[2020-05-12 03:14] stephanosio opened #25228 "net.util test fails on atsame54_xpro"
**Describe the bug**
The `tests/net/utils/net.util` test fails on the `atsame54_xpro` board.

**To Reproduce**
Build and run `tests/net/utils/net.util` on `atsame54_xpro`.

**Expected behavior**
Test passes

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain: Zephyr SDK 0.11.2
 - Commit SHA: ed2d263e0c233df015448d

[2020-05-12 03:16] stephanosio opened #25229 "net.neighbour test fails on atsame54_xpro"
**Describe the bug**
The `tests/net/neighbor/net.neighbour` test fails on the `atsame54_xpro` board.

**To Reproduce**
Build and run `tests/net/neighbor/net.neighbour` on `atsame54_xpro`.

**Expected behavior**
Test passes

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain: Zephyr SDK 0.11.2
 - Commit SHA: ed2d26

[2020-05-12 03:17] nandojve opened #25230 "Lib: UpdateHub: Missing new timeout API conversion"
**Describe the bug**
Missing new timeout api conversion.

**To Reproduce**
west build -b frdm_k64f samples/net/updatehub

**Expected behavior**
Build normally

**Impact**
Don't build

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.11.2
 - Commit SHA ed2d263

[2020-05-12 03:19] stephanosio opened #25231 "net.offload test fails on atsame54_xpro"
**Describe the bug**
The `tests/net/checksum_offload/net.offload` test fails on the `atsame54_xpro` board.

**To Reproduce**
Build and run `tests/net/checksum_offload/net.offload` on `atsame54_xpro`.

**Expected behavior**
Test passes

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain: Zephyr SDK 0.11.2
 - Commit

[2020-05-12 03:28] nandojve opened #25232 "driver: wifi: esp_offload.c: Missing new timeout API conversion"
**Describe the bug**
The esp_offload.c don't build because are missing some new timeout API conversions.

**To Reproduce**
west build -b frdm_k64f samples/net/wifi -- -DSHIELD=esp_8266

**Expected behavior**
Build as usual

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.11.2
 - Commit SHA ed2d263

[2020-05-12 04:19] vonhust opened #25233 "bad logic in test_busy_wait of tests/kernel/context"
in` test_busy_wait`, `rv = k_sem_take(&reply_timeout, K_MSEC(timeout * 2));` is called with a timeout of 40 ms, then in `busy_wait_thread`, for non NIOS2 arch,   the cpu will busy wait > 40 ms,  it means the timeout  of  `reply_timeout`.  so

* k_sem_give(&reply_timeout) is useless, as `reply_timeout` is timeout. It will affect following tests
* `zassert_false(rv, " *** thread timed out waiting fo

[2020-05-12 04:22] stephanosio commented on #25233
Duplicate of #25176 and #25194.

Already fixed in #25203.

[2020-05-12 04:22] #25233 closed

[2020-05-12 05:12] stephanosio opened #25234 "kernel.timer.tickless test fails on atsamd21_xpro"
**Describe the bug**
The `tests/kernel/timer/timer_api/kernel.timer.tickless` test fails on the `atsamd21_xpro` board.

**To Reproduce**
Build and run `tests/kernel/timer/timer_api/kernel.timer.tickless` on `atsamd21_xpro`.

**Expected behavior**
Test passes

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Ubuntu 18.04
 - Toolchain: Zep

[2020-05-12 05:14] Abhishek-brcm commented on #25182
@carlescufi sorry, wouldn't be able to comment here from Broadcom IC point of view, the group designing SoCs and boards for RPi is different, I don't have much knowledge on it. However, I will surely forward this thread to someone- I know works on RPi open source.

[2020-05-12 05:20] arvid-r commented on #25215
You should be aware of #23825 also. Don't know if that's a problem here though

[2020-05-12 06:15] mbolivar-nordic commented on #25215
@tejlmand what would you think about making the `_ROOT` variables target properties of some convenient zephyr target instead for use cases like this? Is it possible? (I'm assuming we could also support the existing ROOT variables for command-line use and backwards compatibility and just append the property value onto them).

[2020-05-12 06:36] mateusz-holenko commented on #23622
We are currrently working on this. It turned out that the timer in LiteX is very simple and implementing a proper `k_busy_wait()` (allowing to wait for periods longer than 10ms) would require either a custom not-trivial implementation or extending the capabilities of HW (since it's a soft IP core anyway).

We decided to go with the second option and are now adding a register allowing to read the t

[2020-05-12 07:05] jfischer-phytec-iot commented on #24626
@nandojve Thanks for testing, there are a lot of suspended events, I have not seen this behavior on same70Xplained.

[2020-05-12 07:06] jukkar commented on #25187
From these the 2. option sounds most generic. User would be able to set some MAC address filters in the system. And then when we have a "match", we would call a user specified callback which could determine what should happen to the packet. @lmajewski is this what you are proposing?

@tbursztyka what do you think?

[2020-05-12 07:07] dcpleung commented on #25183
Are you using the Espressif ESP32 toolchain? If so, is the environment `ESPRESSIF_TOOLCHAIN_PATH` set according to https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html?highlight=espressif_toolchain_path ?

[2020-05-12 07:12] stephanosio commented on #25221
This test fails because it triggers the last valid IRQ line (`CONFIG_NUM_IRQS`) to test dynamic IRQ and the number of available IRQs varies across the silicon revisions.

The old silicon revisions have 28 IRQ lines (0-27), while new revisions have 30 IRQ lines (0-29). For some reason, (as far as I can see) this is not clearly documented in the Microchip and Atmel datasheets/application notes.

Fro

[2020-05-12 07:33] stephanosio commented on #25221
`Atmel-42181N` (Atmel Rev. N) - 28 interrupts (0-27)
`DS40001882B` (Microchip Rev. B) - AC1 appears; 29 interrupts (0-28)
`DS40001882D` (Microchip Rev. D) - TCC3 appears; 30 interrupts (0-29)

"Data Sheet Revision History" does not mention anything about this change ... At this point, we might as well just assume that `AC1` and `TCC3` are unicorns and they do not exist.

[2020-05-12 07:51] abrodkin commented on #25022
From my previous experience that means that master core is infinitely waiting for slaves to wake up which never happens (note we have HSDK configured for SMP mode but in reality run stuff as if it's a normal single-core target).

To fix that one needs to run SMP-aware runner, which might be the one out of:
1. OpenOCD with SMP support for ARC. This is included in Zephyr's SDK starting from v0.11.3-

[2020-05-12 07:59] lenhart commented on #25183
Thank you both!

@carlescufi : with using the zephyr you mean w/o the esp32 specific environment variables or by replacing `esp32` with `zephyr` again in the .zephyrrc? Then I get the error from the first post.
I shouldn't have to use Crosstool-NG because from the esp32 page it looks as if there is a flavour for the espressif toolchain? Could it be that that is just missing in the 3rd party toolch

[2020-05-12 08:25] arvid-r opened #25240 "Building usb audio sample hangs the pre-processor"
**Describe the bug**
When trying to build the headset usb audio sample, the build process hangs with 100% cpu usage and never seems to finish.

**To Reproduce**
Steps to reproduce the behavior:
1. checkout zephyr and cd into directory
2. west -v build -p auto -b nrf52840dk_nrf52840 samples/subsys/usb/audio/headset
3. won't finish ...

**Expected behavior**
Build should finish shortly, and the samp

[2020-05-12 08:29] emob-nordic commented on #25240
I am observing same with my setup. I am using vm linux. Something was merged in between what broke the build. I am investigating the issue.

[2020-05-12 08:36] carlescufi commented on #24659
Closing in favor of https://github.com/zephyrproject-rtos/zephyr/issues/25196

[2020-05-12 08:36] #24659 closed

[2020-05-12 09:00] DenvE commented on #21984
Hi Erwan,

I do still need this.  I'm quite busy with other project and could not
followup the status

kr,

Wim

On Mon, May 11, 2020 at 3:04 PM Erwan Gouriou <notifications@github.com>
wrote:

[2020-05-12 09:04] erwango commented on #25180
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/25163

[2020-05-12 09:04] #25180 closed

[2020-05-12 09:10] tbursztyka commented on #23800
Which version of ACRN? I am using the latest packaged in clear linux.
You did not forget to do the post-processing on zephyr image to insert grub, did you?

[2020-05-12 09:30] dcpleung commented on #25183
The installation path has changed quite a bit since the documentation is first written, so that needs to be updated.

IIRC, `-p always` will clean out the build directory every time.

[2020-05-12 09:40] chen-png commented on #25051
@dcpleung  i removed the JP31 13-14 and JP41 1-2,  **the test_gpio_pin_configure_push_pull passed, but it failed at test_gpio_int_edge_falling.**

starting test - test_gpio_int_edge_falling
DEBUG   - DEVICE: Running test on port=GPIO140_176, pin=14
DEBUG   - DEVICE:
DEBUG   - DEVICE: Assertion failed at WEST_TOPDIR/zephyr/tests/drivers/gpio/gpio_api_1pin/src/test_pin_interrupt.c:103: test_gpio_pin

[2020-05-12 09:56] FRASTM opened #25241 "tests.drivers.spi_loopback stm32wb55x fails transfering multiple buffers with dma"
**Describe the bug**
A deadlock occurs with the fast SPI config, in the multiple buffer testcase of the tests/drivers/spi/spi_loopback application, when enabling the dma and mux transfer on the stm32wb55 soc.

The DMA Tx channel is looping on the DMA Rx channels. The spi client application is changing Tx buffer once the dma Tx irq occurs, but at this time (with SPI FAST config)  the DMA Rx channel

[2020-05-12 09:56] drandreas commented on #25215
I think its an ordering issue. I have added some debug messages:
[code]

Build Output on my Mac:
[code]

[2020-05-12 10:08] #25123 closed

[2020-05-12 10:10] erwango commented on #24324
@bwasim following our exchange about the initial subject of this topic, do you have more questions or can we close the point ?

[2020-05-12 10:35] bwasim commented on #24324
No questions from my side. I haven't been able to get back to this, but there is a problem in the TX path.. RX works fine..

I will keep on investigating this, and may get back to you guys if I'm unable to get TX working.. Thanks..

[2020-05-12 10:36] bwasim commented on #24324
This can be closed..

[2020-05-12 11:58] jfischer-phytec-iot commented on #24627
So SAM E54 SoC uses usb_dc_sam0 driver, but I can not reproduce it on the samr21_xpro. @stephanosio can you check if the issue still present, please?

[2020-05-12 12:00] stephanosio commented on #24627
@jfischer-phytec-iot This issue is still present. If you don't have a SAM E54 board, I will look into it later.

[2020-05-12 12:41] czeslawmakarski opened #25246 "SHELL_DEFAULT_TERMINAL_WIDTH should be configurable in Kconfig"
By default the shell subsystem wraps the output of the device by the SHELL_DEFAULT_TERMINAL_WIDTH, which has the value of 80. It is not acceptable in some cases, so this define should be available in Kconfig. One could set it to a desired large value to avoid wrapping the output (so no unnecessary characters are present).

[2020-05-12 12:49] pabigot opened #25247 "const qualifier lost on some device config_info casts"
The object pointed to by the config_info field of struct device is const qualified, but some conversions of that object to a driver-specific type discard the qualifier.  This is a violation of MISRA 11.8 as it produces undefined  behavior.

[2020-05-12 13:35] emob-nordic commented on #25240
Got the fix, will prepare a PR asap.

[2020-05-12 14:32] erwango opened #25251 "Post DT API migration review"
**Describe the bug**
Following move to new DT API (https://github.com/zephyrproject-rtos/zephyr/pull/25009 and cie), a systematic code review is needed around impacted code.

First reason is that a lot of code has been changed using scripts which is a usual source of bugs. Most of the time, lot of files where impacted, which is not easy to review, and hence some bugs have been merged (https://gith

[2020-05-12 14:40] #25224 closed

[2020-05-12 14:43] pabigot commented on #25251
#24745 is related and really should be addressed before release too.  That involves assessing board defconfigs vs devicetree `status` values.

[2020-05-12 14:45] erwango commented on #24324
Txs for feedback, I'm closing

[2020-05-12 14:45] #24324 closed

[2020-05-12 14:50] erwango commented on #25251
Thanks @pabigot, this exactly one of the potential impacts. Btw https://github.com/zephyrproject-rtos/zephyr/issues/24509 is another bug related to that.

[2020-05-12 15:09] parthitce commented on #25251
@erwango arm/infineon_xmc/ can be marked as done. Couldn't tick/edit myself.

[2020-05-12 15:13] #25221 closed

[2020-05-12 15:18] #25240 closed

[2020-05-12 15:18] #25232 closed

[2020-05-12 15:59] carlescufi commented on #24358
@andyross and @andrewboie we need this for 2.3.0. Any timeline for a PR?

[2020-05-12 16:12] andyross commented on #24358
I was honestly expecting this to wait for a release before deprecation, to reduce churn.  The original idea, I thought, was that in 2.3 apps would have the new backend by default but no requirement to move away from the old APIs, then later we'd start moving things away.

Some of this, like the direct mem_pool APIs, is straightforward.  Also we could rework k_malloc/k_free in terms of the immediat

[2020-05-12 16:20] dcpleung commented on #25051
The interrupt tests should be fixed by #25155

[2020-05-12 16:33] carlescufi commented on #21061
Agreen named: Function properties

- We would use a Doxygen alias, tentatively named `funcprops`
- We will try to link back to an enum (or Doxygen section) using the `@ref`
- We will move (parts of ) https://docs.zephyrproject.org/latest/reference/terminology.html to doxygen so that we can link back to it from doxygen blocks

[code]

[2020-05-12 17:11] andrewboie commented on #24358
I don't think this should be a high priority bug for 2.3 I think this can wait until 2.4. @carlescufi can you share some details on your reasoning for making this a blocker?

[2020-05-12 17:21] pabigot commented on #25251
For potential pinmux comments please see https://github.com/zephyrproject-rtos/zephyr/issues/24745#issuecomment-620236843 which identifies these boards as potentially using the same pin for multiple peripherals (only the boards are identified here; use the referenced script to see the specific pins and roles)
[code]
Example of script output:
[code]

[2020-05-12 17:27] erwango commented on #24745
@pabigot , script version to get STM32 conflicts as well:
[code]

[2020-05-12 17:28] carlescufi commented on #24805
@andrewboie thanks for the preliminary investigation.
Could we then close #17893 as a duplicate of this one? That one is a low priority bug. If you decide not to close it, should this one be low too?

[2020-05-12 17:29] carlescufi commented on #25010
@nvlsianpu is this related to the confirmation bug in mcumgr that you detected the other day?

[2020-05-12 17:31] erwango commented on #25251
Pinmux conflicts on STM32 based boards  with updated script in #24745
[code]

[2020-05-12 17:33] nashif commented on #24358
reasoning is the fact that if we need to deprecate, then it has to happen in 2.3, otherwise might end up with old APIs.

Ok, if we deprecate this in 2.4, then we should be able to drop legacy in 2.6 (LTS), i think this works fine.

@carlescufi  lets move this to 2.4..

[2020-05-12 17:34] carlescufi commented on #25098
@marketideas I think the right course of action here is likely to implement `i2c_recover_bus()` for the mcux driver, perhaps in a manner similar to the one you suggest [here](https://github.com/zephyrproject-rtos/zephyr/pull/23442#issuecomment-625845557).

[2020-05-12 17:37] carlescufi commented on #25171
@vanwinkeljan @nvlsianpu @fnde-ot What is the correct course of action here? Either document that `flash.bin` needs to be erased in between test runs, or change the test sequence so it erases the flash prior to writing it?

[2020-05-12 17:44] pabigot commented on #25247
The fixes for this in #25208 have revealed multiple drivers that mutate the content of the config structure.
* serial/uart_ns16550.c
* i2c/i2c_nios2.c
* dma/dma_nios2_msgdma.c
* audio/tlv320dac310x.c

[2020-05-12 17:51] carlescufi commented on #25200
Closing since this is not supported on SiLabs boards. Please follow [this issue](https://github.com/zephyrproject-rtos/zephyr/issues/17005) to get updates on the binary blob discussion.

[2020-05-12 17:51] #25200 closed

[2020-05-12 17:56] andrewboie commented on #17893
@nashif  are you sure the quoted failure is from qemu_x86_64? note the register names, that is from 32-bit

About the original issue: storing in the stack object doesn't work well. It would need to be in memory not accessible by a user thread, and not possible to overwrite in a supervisor stack overflow. Which means it would need to be located before the page-aligned stack buffer, and it would con

[2020-05-12 17:56] andrewboie commented on #24805
@carlescufi this is more serious, I'm working on it now for 2.3

[2020-05-12 17:57] andrewboie commented on #24805
Option 2 isn't working out. I posted some details in #17893.
Since this is just x86 I am looking at option 3 now.

[2020-05-12 18:00] #23961 closed

[2020-05-12 18:12] nandojve commented on #25251
The pinctrl-0 was introduced for Atmel SAM (not SAM0). It allowed us to remove dts_fixup and soc_pinmap files. In this case, problems can happen only with SAM0 variations that have pinmux.c file.

Should this to be applied on all boards/*/*/pínmux*.c files to avoid exceptions? I was wondering if there are exceptions, can we identify at review phase the possibles conflicts.

[2020-05-12 18:15] vanwinkeljan commented on #25171
I would say erase the flash, on the other hand is it not assumed that  tests run in a pristine environment, eg. if you use sanitycheck instead of west (+ run manually) to run the test the issue is not encountered?

[2020-05-12 18:17] #25230 closed

[2020-05-12 18:36] pabigot opened #25255 "drivers: i2c: gecko: device config_info content mutated"
The device config_info structure is intended to be read-only, and so the generic pointer stored in struct device is a pointer-to-const. The gecko driver removes this qualifier when casting the pointer to the device-specific type.  This removal is a violation of MISRA 11.8 as it evokes undefined behavior.

When the qualifier is preserved the driver does not build, because it modifies the object con

[2020-05-12 18:37] vanti commented on #25196
Same output seen printed out indefinitely on cc1352r1_launchxl.

[2020-05-12 18:41] pabigot opened #25256 "drivers: audio: tlv320dac310x: device config_info content mutated"
The device config_info structure is intended to be read-only, and so
the generic pointer stored in struct device is a pointer-to-const.
The tlv320dac310x driver removes this qualifier when casting the pointer to
the device-specific type.  This removal is a violation of MISRA 11.8
as it evokes undefined behavior.

When the qualifier is preserved the driver does not build, because it modifies the ob

[2020-05-12 18:44] pabigot opened #25257 "drivers: audio: dma_nios2_msgdma: device config_info content mutated"
The device config_info structure is intended to be read-only, and so
the generic pointer stored in struct device is a pointer-to-const.
The dma_nios2_msgdma driver removes this qualifier when casting the pointer to
the device-specific type.  This removal is a violation of MISRA 11.8
as it evokes undefined behavior.

When the qualifier is preserved the driver does not build, because it
modifies the

[2020-05-12 18:46] pabigot opened #25258 "drivers: i2c_nios2: device config_info content mutated"
The device config_info structure is intended to be read-only, and so
the generic pointer stored in struct device is a pointer-to-const.
The i2c_nios2 driver removes this qualifier when casting the pointer to
the device-specific type.  This removal is a violation of MISRA 11.8
as it evokes undefined behavior.

When the qualifier is preserved the driver does not build, because it
modifies the object

[2020-05-12 18:48] pabigot opened #25260 "drivers: uart_ns16550: device config_info content mutated"
The device config_info structure is intended to be read-only, and so
the generic pointer stored in struct device is a pointer-to-const.
The uart_ns16550 driver removes this qualifier when casting the pointer to
the device-specific type.  This removal is a violation of MISRA 11.8
as it evokes undefined behavior.

When the qualifier is preserved the driver does not build, because it
modifies the obj

[2020-05-12 19:13] henrikbrixandersen commented on #25098
I disagree. Those are two, separate problems. This PR deals with fixing the internal state machine _if_ the I2S bus transfer fails.

[2020-05-12 20:01] mbolivar-nordic commented on #25215
In other words, you're suggesting moving module processing to happen before DT is run?

I think that might introduce problems; DT runs very early on purpose because it's used for a variety of other things, but I'm not sure. Would be curious what @tejlmand thinks.

[2020-05-12 20:26] jrananth1032 opened #25263 "Can anyone tell me how can i use external qspi flash "mx25r64"(custom board with nrf52840 soc) for mcuboot slot1 and i'm using zephyr 2.2.0"
I have tested external flash on my custom board.Now i want to use that for mcuboot slot1 space.
I have followed this https://github.com/JuulLabs-OSS/mcuboot/wiki/Using-the-nrf52840_pca10056-SPI-flash-with-Zephyr
but didn't get correctly
my mcuboot log is showing:
primary source is none and panic!
can anyone help me with this.
Thanks.

[2020-05-12 21:07] arvid-r commented on #25263
I'm not even sure 2.3.0 works with mcuboot at this point, does it?

[2020-05-12 21:33] drandreas commented on #25215
Scrolling back, @carlescufi sed:

If this was true for earlier versions and it its broken now we might need to fix it.

Else I'm currently leaning towards extending `zephyr/module.yml` with a dts-base-root param and having west generate `-DDTS_ROOT=` .  A third option would be to populate `DTS_ROOT` from `ZEPHYR_MODULES` but that could have a performance impact.

[2020-05-12 21:41] andyross commented on #24001
Oh wait, I'm sorry, I was confusing fixes.  This failure on my nrf5 board was the one tracked in #24784, and it's not fixed yet.  Can you check to see that one of the workarounds listed there resolves this?

I think we can close this as a dup, if so.

[2020-05-12 21:51] mbolivar-nordic commented on #25215
My guess would be that it will be minimal. I like this solution as it's nice and clean. @tejlmand ?

[2020-05-12 23:15] cfriedt commented on #25216
Ah cool. I'll take a look at this now

[2020-05-12 23:36] cfriedt commented on #25216
I was using it for the BLE port in #21631 . Specifically, [here](https://github.com/zephyrproject-rtos/zephyr/pull/21631/files#diff-cca32bf8679e19feafbb796dad738248R980) via `RF_open()`.

From my discussions with TI, it was preferable to keep the RF IRQ's in hal/ti in order to use more of the TI RF driver library. Is that a discussion we want to open up again?

[2020-05-12 23:56] galak commented on #25216
Hmm, when I try:

`west build -p always -b cc1352r1_launchxl samples/net/sockets/echo_server -- -DCONF_FILE="prj.conf overlay-802154.conf"`

I'm getting:

[code]

[2020-05-12 23:57] galak commented on #25216
I guess the HAL version is at `c398cc7959097d27a9cfec857eeade9b851cd46c`

[2020-05-12 23:57] andrewboie opened #25268 "sanitycheck doesn't report native_posix failures properly"
**Describe the bug**
If a native_posix test fails at runtime (like due to a segmentation fault or something), instead of posting a link to the runtime log, it posts the unremarkable build log instead.

**Expected behavior**
The runtime log will be linked for runtime failures.

**Impact**
Annoyance

[2020-05-13 00:48] cfriedt commented on #25216
@galak - still getting that error? Should be defined in
[code]

[2020-05-13 00:50] vanti commented on #25216
I think the output from @galak is due to the latest update of rfc.h when updating to SimpleLink SDK 4.10. It now requires `DeviceFamily_CC13X2 `to be defined.

When I try to add a compiler definition in drivers/ieee802154/CMakeLists.txt:

[code]

The build seems to ignore this directive. Not sure what is the right syntax for this?

As for the error from @statropy, short term HwiP_construct() can b

[2020-05-13 01:17] cfriedt commented on #25216
@vanti - what's your ballpark for longer term?

[2020-05-13 01:22] cfriedt opened #25270 "fix userspace permissions in socketpair tests"
**Is your enhancement proposal related to a problem? Please describe.**
This is a follow-up for PR #24367 to be completed during the stabilization period before 2.3.0 is released.

Several tests are disabled in [tests/net/socket/socketpair/src/main.c](https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/net/socket/socketpair/src/main.c) due to incorrect userspace permissions, incorrect i

[2020-05-13 01:34] jrananth1032 commented on #25263
sorry it is 2.2.0

[2020-05-13 02:03] nandojve commented on #24626
Indeed there are! I shared all messages to aware everyone. Not sure if that is evidence to do more investigation right now. Well, "today is better than yesterday" and I prefer moving forward.

Off Topic: The only errata documented that affects both Rev A/B silicon (that make sense for stack) is:
[code]

[2020-05-13 02:06] chen-png commented on #23800
i used the ACRN Branch : v1.5, ACRN Commit ID : 6c554faab3.
yes, i did, the zephyr image process was done by a script automatically, it worked for other tests.

[2020-05-13 02:25] chen-png commented on #24001
tested the patch #24817 and #24972 in #24784, **the test unit 'test_timer_k_define' and 'test_timer_remaining' passed, but the 'test_timeout_abs' still failed like below.**

starting test - test_timeout_abs
Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/timer/timer_api/src/main.c:591: test_timeout_abs: k_timer_remaining_ticks(&remain_timer) + k_uptime_ticks() + 1 == exp_ticks is false
FAIL -

[2020-05-13 03:34] chen-png opened #25272 "tests/drivers/gpio/gpio_basic_api failed on mec15xxevb_assy6853 board."
**Describe the bug**
running tests/drivers/gpio/gpio_basic_api on mec board,  **i connected Pin11 and Pin 13 on JP27, and removed jumper on JP15, but it still failed with "Check GPIO040_076 output 8 connected to input 9".**

i read the related issue #22931 and git bisect, found the **first bad commit is  e11da0582d8.**

**To Reproduce**
Steps to reproduce the behavior:
1. sanitycheck --hardware-ma

[2020-05-13 03:35] chen-png commented on #25272
@franciscomunoz @dcpleung  Could you take a look of this?

[2020-05-13 03:43] chen-png commented on #25051
this test also failed on sam_e70_xplained and up_squared.

[2020-05-13 03:46] stephanosio commented on #25051
@chen-png Are you sure this test failed on `sam_e70_xplained`? I just ran sanitycheck on it and did not see the failure.

`gpio_api_2pin` (not `gpio_api_1pin`) fails, but that is only because I did not make the necessary testing connections on the board.

[2020-05-13 03:54] dcpleung commented on #25272
Because GPIO_050 has set to be used for TACH, so this is supposed to fail. A new GPIO line is needed.

[2020-05-13 04:09] chen-png commented on #25051
for this test tests/drivers/gpio/gpio_api_1pin, do i need to do any gpio connections for sam_e70_xplained?

this is the test result with no gpio connections.

*** Booting Zephyr OS build v2.3.0-rc1-20-g9a37154151d5  ***
Running test suite gpio_api_1pin_test

starting test - test_gpio_pin_configure_push_pull
Running test on port=PORTC, pin=8
Assertion failed at WEST_TOPDIR/zephyr/tests/drivers/gpio

[2020-05-13 04:20] stephanosio commented on #25051
@chen-png No GPIO connection necessary; this test passes for me on `sam_e70_xplained`:
[code]

[2020-05-13 04:49] jenmwms commented on #25260
@pabigot can you please help me understand this - I made the change suggested, but did not see the diagnostic you mentioned. How can I reproduce that?

[2020-05-13 06:25] ghlualven opened #25276 "OpenThread not work after upgrade to latest version"
**Describe the bug**
Upgrade to the latest code Zephyr 2.3.0-rc1 (Zephyr OS build v2.3.0-rc1-26-g4980a13fc4f7), the firmware initial works. But after execute "ot scan" command, no any output and the board bricked. Re-power is not working, the board must be re-flashed.

The same program is working at: Zephyr OS build zephyr-v2.2.0-881-gecb85a7db1f1.

[2020-05-13 07:14] nvlsianpu commented on #25171
cc @de-nordic

[2020-05-13 07:25] nvlsianpu commented on #25010
@carlescufi ^^ not related to that one (was issue caused by different NCS partition manager configuration).

@nandojve Is this bug is regression to something which used to work before, or it was newer tested on this SoC? Confirmation problems suggest me an issue with the flash write operation to write area, as confirmation is just the write of proper data to certain flash addresses.

[2020-05-13 07:36] nvlsianpu commented on #25171
Proper solution would be introduce configuration (`ERASE_ON_EACH_STARTUP` maybe) which determine  how thread existing `flash.bin`.
Probably in test environment erasing the file should be the default behavior.

I found useful for some samples/application that them might store some data between resets.
I know that some users utilizes this fact as well.

@vanwinkeljan saniticheck indeed create pristi

[2020-05-13 07:42] de-nordic commented on #25171
I was thinking about generating random file name in /tmp for that.

[2020-05-13 07:42] vanwinkeljan commented on #25171
Probably in test environment erasing the file should be the default behavior.

Dont agree on this one, on real HW the flash will not be erased each time you reset/power-up your board. If the code assumes that the flash is eased at startup it should take care of this

[2020-05-13 07:53] de-nordic commented on #25171
There is advantage of leaving the file for debugging purposes.
Though I do not think that one test should depend on an output of another test, so when flash needs to be present and set prior to running test cases (power on case), operation of filling data into test should be part of test initialization, because it also ensures that test will be given predictable data.
I do not know how to test dow

[2020-05-13 08:00] jfischer-phytec-iot commented on #24627
Something fishy with the platform self? #25231 #25229 #25228 #25227 #25226 #24803

[2020-05-13 08:03] stephanosio commented on #24627
The platform was only recently added without much validation, so I would say so.

[2020-05-13 09:08] erwango commented on #23178
@jmgao @jfischer-phytec-iot, issue is still open, but PR has been merged.
Can we close it ?

[2020-05-13 09:09] carlescufi commented on #25063
@adityaxavier I assume you are testing Zephyr 2.2.0. Could you also re-test with the latest master or Zephyr 2.3.0-rc1 and report back please?

[2020-05-13 09:13] carlescufi commented on #24627
@stephanosio I assigned this to you because @jfischer-phytec-iot does not have a SAM E54 board, although he did check that this was not reproducible on samr21_xpro, which uses the same driver.

[2020-05-13 09:13] #24626 closed

[2020-05-13 09:15] carlescufi commented on #23474
@jfischer-phytec-iot please try to reproduce on reel_board
@emob-nordic please try to reproduce on nRF52840 DK

[2020-05-13 09:19] ABOSTM commented on #25010
Hi @nandojve ,
After you provided me the package I could not generate, I continued on Ethernet use case on nucleo_f429zi.
I finally get IP address with DHCP (I had issue with my PLC to connect to my internet box)
But unfortunately I spent a lot of time and I am stuck again:
my updateHub server is accessible from web browser running on the same PC running the server,
but the server is not accessibl

[2020-05-13 09:21] rlubos commented on #25276
@ghlualven I think we need more information here. I've just tried the `ot scan` command  in the `echo_server` sample, running on nRF52840, and it works just fine. I've used the recent rc tag (Zephyr OS build v2.3.0-rc1).

What board do you use? Can you reporoduce the issue on any of the existing Zephyr samples? Did you run `west update` after switching to the rc1? There were changes on both sides,

[2020-05-13 09:22] tejlmand commented on #25215
The reason for the module to be processed where they are, is because they might rely on either DTS or Kconfig settings, so they must be loaded AFTER DT and Kconfig has been processed.

[2020-05-13 09:23] carlescufi commented on #23139
@optdcw @nordic-auko could you please retest this with the latest master or 2.3.0-rc1 to see if it's still an issue.

[2020-05-13 09:24] carlescufi commented on #21955
Fixed

[2020-05-13 09:24] #21955 closed

[2020-05-13 09:25] tejlmand commented on #25215
I'm currently doing some thoughts regarding a more generic solution for downstream users.
As we now have Zephyr CMake package, I consider a way that downstream users may create a form of Zephyr extension package.
And that package can then populate any variable they like, such as DTS_ROOT, oot board folders, etc.

Would like a generic solution, instead of doing this on case-by-case.

[2020-05-13 09:28] #25246 closed

[2020-05-13 09:47] carlescufi commented on #24358
Agreed, let's move this to 2.4.

[2020-05-13 10:13] #24692 closed

[2020-05-13 10:49] carlescufi commented on #25272
@chen-png could you please label test failures with the "Tests" label?

[2020-05-13 10:49] carlescufi commented on #25272
@dcpleung
Is this something that will be fixed, or should this test be blacklisted for this platform?

[2020-05-13 11:12] koffes commented on #22208
Let me know if you want this as a separate ticket, but it falls reasonably well under the current title.

From the doc: "Drivers that do not support a debounce feature should ignore this flag rather than rejecting the configuration with -ENOTSUP." I can imagine many reasons why this has been done, however, this solution leads developers into a trap. They set they set the `GPIO_INT_DEBOUNCE` flag,

[2020-05-13 12:10] carlescufi commented on #24784
@andyross we need to address this in the context of 2.3. Could you please read through the comments and provide some feedback?

[2020-05-13 12:43] carlescufi commented on #24963
@markus-becker-tridonic-com have you logged an issue with upstream OpenThread? Maybe it's as simple as increasing the timeout value in wpantund?

[2020-05-13 12:50] nandojve commented on #25010
Hi @ABOSTM, by the docker command line you must have UDP port 5683 open to work.
If for some reason this port is blocked you can't communicate with docker service.

Anyway, my problem to advance with disco_iot is related to the logs:
[code]

That message is printed by the following code at samples/net/updatehub/main.c
[code]

So, my problem is, **boot_write_img_confirmed** need be OK to system wor

[2020-05-13 12:55] pabigot commented on #25260
@jenmwms provided details in #25274.

[2020-05-13 13:33] KubaFYI opened #25283 "sam0: watchdog: Times out twice as fast as expected"
The watchdog times out at twice the speed expected on a samd21-based Adafruit Feather M0.

In order to reproduce the problem I used the watchdog sample code modified to let the watchdog time out 30 times (so that I could time the behaviour accurately against a wall clock). Setting a timeout window of 1000ms has the whole thing complete in about 16sec, 2000ms times out in about 32sec etc.

I initia

[2020-05-13 13:36] puchm commented on #25046
Sorry for the late reply.
@jukkar compiling didn't work with Zephyr 2.2.99 for some reason and I didn't investigate it further. It worked in 2.2.0 which is why I decided to use that. It may be worth trying it in 2.3.0 when that's done but that's something I don't have time for right now.
I tried using the networking stuff (I used "Native Posix Internet", https://docs.zephyrproject.org/latest/sampl

[2020-05-13 13:41] sglass68 commented on #25171
So shall we change the test to write whatever data it relies on? That's what I have in the 'flash read' test:

https://github.com/zephyrproject-rtos/zephyr/commit/6cc3f8f111074effaaef2198ac5d2821bed93be4

[2020-05-13 14:00] erwango opened #25284 "spi: stm32: dma_client: Cannot use RX only configuration"
**Describe the bug**
STM32 SPI DMA client can work with TX and RX, or TX/RX only configuration.
Configuration should be done using device tree:
[code]
Tx only configuration
[code]
Both configs above work fine, but SPI driver does not compile in RX only configuration.

**To Reproduce**
Build `tests/drivers/spi/spi_loopback/` and tweak `boards/nucleo_wb55rg.overlay`

**Expected behavior**
SPI DMA cl

[2020-05-13 14:04] de-nordic commented on #25171
Yes, I believe so. It makes it easier to modify or expand a test without impacting other tests. It will not break tests if the order of tests get changed.

[2020-05-13 14:22] #25241 closed

[2020-05-13 14:45] erwango commented on #25251
@nandojve Advice is to review all files that have been impacted by the migration. Conflicts could be identified txs to the script provided in #24745.

[2020-05-13 14:48] ABOSTM commented on #25010
Hi @nandojve ,
I intend to put a debugger to understand why `boot_write_img_confirmed()` return is not OK, to know which step fails with which error code ... This is why I tried to get updateHub up and running.
If you know a way to reproduce the issue without the server, please let me know .
For example, would it be possible to flash the update image ( which one exactly?? including probably the ne

[2020-05-13 14:51] nandojve commented on #25010
I never got UpdateHub working on that board. I've been raising issues related with hope to get disco_iot working at some moment. My feeling is that solving the boot_write_img_confirmed (this issue) and assuming flash write is OK probably UpdateHub will start to works.

[2020-05-13 14:53] andyross commented on #24784
If it were my problem, I'd just solve it with default management.  A busy wait implementation that completes ~1% faster than the timer clock isn't a disaster, and virtually all production code that is using a busy wait (for device synchronization or whatever) doesn't care -- the wait periods are far shorter than one tick so the delta would never be measured.

My suggestion above was to make the CP

[2020-05-13 14:58] ABOSTM opened #25287 "test/benchmarks/latency_measure fails on nucleo_f429zi and nucleo_f207zg"
test/benchmarks/latency_measure fails on nucleo_f429zi and nucleo_f207zg

**To Reproduce**
Steps to reproduce the behavior:
1. west -v build -p auto  -b nucleo_f429zi test/benchmarks/latency_measure
2. test report failure

**Expected behavior**
Test should be passed

[2020-05-13 14:59] ABOSTM commented on #25287
This issue is fixed thanks to #24381

[2020-05-13 15:03] erwango commented on #25287
@carlescufi I set prio to medium, but you're free to adjust

[2020-05-13 15:25] nandojve commented on #25010
@ABOSTM it is mandatory apps confirm the image on first boot otherwise MCUBoot will must roolback on next reboot. I think this is not fully addressed on current MCUBoot samples on Zephyr. The consequence is we can't see regressions or even know that MCUBoot is 100% functional and supported.

My suggestion is add **boot_write_img_confirmed** at hello word targeting to MCUBoot (CONFIG_BOOTLOADER_MCU

[2020-05-13 15:26] jukkar commented on #25231
The reason for this is that the test creates two network interfaces itself, and then one extra network interface comes from the board itself. So the test actually was not expecing to be run on a board that has a network interface (Ethernet in this case). I have changed the checks in some earlier commits like aaaf20e61535767dde0a7971e4709264372d009c and b4dae007410d7a6cee9b6ca42686cb967f82e836.
So

[2020-05-13 15:35] pabigot opened #25289 "mcuboot incompatible with Nordic QSPI flash driver"
mcuboot does not work with the Nordic QSPI flash API because the `flash_area_read_is_empty()` extended API that is in:

* mcuboot: boot/zephyr/flash_map_extended.c
* zephyr: subsys/dfu/boot/mcuboot.c

is being invoked to verify that a single byte is uninitialized.  The Nordic QSPI flash API requires that all bus transactions be for a multiple of four bytes (this is a hardware limitation).

Consequ

[2020-05-13 15:37] pabigot commented on #25263
The instructions are slightly out of date, but the current state is that mcuboot's `flash_area_read_is_empty()` routine attempts to read a byte value from the flash, and the QSPI flash API requires that all I/O operations be a multiple of 4 bytes.

I've opened #25289 to address this.  Please follow that issue for updates.

(Also the instructions on that page are somewhat out of date, so resolution

[2020-05-13 15:37] #25263 closed

[2020-05-13 16:08] abrodkin commented on #25156
@vanti indeed Elf itself has nothing to do with a way its contents end-up in target's memory. But I may guess from OpenOCD stand-point there's a difference between mechanics of pushing data in memory in case of `flash write_image erase` command and `load_image`.

And I do understand your confusion which I guess happens due to the fact that `west`'s command name is `flash` in both cases - I did cho

[2020-05-13 16:12] dcpleung commented on #25272
I am going to look for another GPIO line today.

[2020-05-13 16:20] bpbradley opened #25293 "Add USB Device Support to STM32411E-DISCO"
The STM32F411E supports USB OTG, and has a USB OTG port, but as far as I can tell it is not supported in the board configuration in Zephyr. I have begun work towards a solution to this, but haven't been able to completely succeed, yet.

Currently, I am trying to get the board to work with the existing USB samples, namely the samples regarding CDC mode of operation. Trying to build these on the lat

[2020-05-13 16:21] #25247 closed

[2020-05-13 16:33] pabigot opened #25294 "Nordic mcuboot + smp_svr + QSPI smp_shell incompatibility"
The following configuration can replace [this outdated information](https://github.com/JuulLabs-OSS/mcuboot/wiki/Using-the-nrf52840_pca10056-SPI-flash-with-Zephyr) to enable Nordic QSPI storage of non-primary image data for MCUBOOT, as long as #25292 is also present:

For devicetree:
[code]

For MCUBOOT:
[code]

For `samples/subsys/mgmt/mcumgr/smp_svr/`:
[code]

(A) If `CONFIG_MCUMGR_SMP_SHELL=y`

[2020-05-13 16:35] pabigot commented on #25263
@jrananth1032 please see additional configuration information in #25294, hope this helps.  I don't know when it'll get integrated into an example.

[2020-05-13 16:51] galak opened #25295 "sanitycheck: race when running sanitycheck on native_posix producing false negatives."
Running the following:

`./scripts/sanitycheck -p native_posix -T samples/subsys/usb/hid`

Gets:

[code]

Now if you try:

`./scripts/sanitycheck -p native_posix -s samples/subsys/usb/hid/sample.usb.hid_composite` you get:

[code]

[2020-05-13 16:53] jenmwms commented on #25260
@pabigot Thank you for the details and how to reproduce this. I'm looking at this

[2020-05-13 17:37] vanti commented on #25251
@erwango I don't think I see anything that needs to change for ti_simplelink, so marking done.

[2020-05-13 17:49] carlescufi commented on #25293
By "OTG" you mean using the hardware as a USB Device, or actually supporting USB Host? Because that is covered in a separate issue:
https://github.com/zephyrproject-rtos/zephyr/issues/12386

[2020-05-13 18:03] bpbradley commented on #25293
Sorry if I wasn't clear. I meant to simply state that the STM32F411E supports USB OTG, which includes both host and device capabilities. But in this case, I am specifically trying to get it to function as a device, specifically CDC. So I did not intend to broaden the scope of this to host capabilities.

To more succinctly state the issue, I believe the STM32F411E should be compatible with samples/

[2020-05-13 18:22] sglass68 commented on #25171
OK I added another commit here to fix that:
https://github.com/zephyrproject-rtos/zephyr/pull/25048

[2020-05-13 18:47] jrananth1032 commented on #25263
thank you ,that information is very good.
i am looking forward for that change.

[2020-05-13 19:14] QSQCaito opened #25299 "SYSTICK: Inconsistency between dts status and Kconfig"
**Describe the bug**
In the dts the systick is disabled, however, it's enabled via Kconfig options.
I'm not changing the systick status in my board dts. The dts systick status is taken from armv7-m.dtsi, and it appears as is in my build/zephyr/zephyr.dts file:
[code]
However,  `CORTEX_M_SYSTICK` is enabled by default because `CPU_CORTEX_M_HAS_SYSTICK` is also enabled. So this would mean that the S

[2020-05-13 19:23] #24805 closed

[2020-05-13 20:49] davidahoward opened #25302 "lwm2m client sample bootstrap server support"
**Is your enhancement proposal related to a problem? Please describe.**
The sample lwm2m_client doesn't have any instructions on how to use it with a bootstrap server, but based on the CONFIG_LWM2M_RD_CLIENT_SUPPORT_BOOTSTRAP preprocessor variable it does appear that it supports this functionality.

**Describe the solution you'd like**
Add lwm2m bootstrap server functionality and example to the lw

[2020-05-13 23:27] mbolivar-nordic commented on #25299
@ioannisg I'm guessing this is just because CONFIG_CORTEX_M_SYSTICK does not depend on the node being enabled, right?

Seems like we could just set it to "okay" and add the appropriate Kconfig dependency. The driver Kconfig is default n so it wouldn't affect nRF as far as I can see.

Am I missing something?

[2020-05-14 00:56] vanti commented on #25216
@statropy I took a stab at the fix in #25307, since there seems to be other gremlins when rebuilding the sample using the latest HAL. See if it works for you.

@cfriedt After Zephyr 2.3. Timeline would also depend on who is doing the work. Personally I would need some time to ramp up on IEEE 802.15.4, the TI RF driver, etc., given these are not aspects I am familiar with.

[2020-05-14 01:21] ghlualven commented on #25276
@rlubos I tried again today, and find the echo_server project works fine, but lwm2m_client doesn't.
I copied the overlay-ot.conf file from echo_server to lwm2m_client project, the build and flash both successful, but thread network can not work the same:
1. ot scan command will no response, and will not get back "Done" message to timeout;
2. No "Beacon" packet send out from radio.
3. Always show b

[2020-05-14 01:24] chen-png commented on #25272
yes,i will.

[2020-05-14 01:27] ghlualven commented on #25276
build command:
`west build -b nrf52840dk_nrf52840 -d build_nrf52840dk_nrf52840_ot -- -DCONF_FILE="prj.conf overlay-ot.conf"`

overlay-ot.conf
[code]

prj.conf
[code]

[2020-05-14 01:29] sglass68 opened #25308 "I2c fake"
It looks like the i2c tests do not run on native_posix. This means that we need to use real hardware or qemu to run the tests. Of course I could be wrong as I am still learning about Zephyr.

**Describe the solution you'd like**
Would like i2c tests to run on native_posix.

**Describe alternatives you've considered**
Doing nothing, relying on hardware or qemu to run I2C tests.

**Additional contex

[2020-05-14 02:53] galak commented on #24773
We merged a change that allows generation for a known fixed set of properties as defined by the DTS spec.

[2020-05-14 02:53] #24773 closed

[2020-05-14 03:06] hakehuang opened #25311 "samples:frdmkw64f:bluetooth/peripheral_hr| peripheral_ht: could not get ADC device"
**Describe the bug**
when run this application on frdmk64f board it reports
could not get ADC device

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\frdm_k64f ..
3. make
4. make flash

**Expected behavior**
the application starts well.

**Impact**
sample functions for bluetooth shield board

**Screenshots or console output**
[code]

**Environment

[2020-05-14 03:08] hakehuang commented on #25311
@MaureenHelm

[2020-05-14 03:15] hakehuang opened #25312 "samples:mimxrt1010_evk:samples/net/openthread/ncp: build error"
**Describe the bug**
samples/net/openthread/ncp can not build in mimxrt1010
![image](https://user-images.githubusercontent.com/800198/81888455-ede3f880-95d3-11ea-9a08-87a89694a4b5.png)
baord need add limitations to filter upsupport platform out

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1010_evk ..
3. make
4. See error

**Expected behavior**

[2020-05-14 03:15] hakehuang commented on #25312
@MaureenHelm

[2020-05-14 03:18] hakehuang opened #25313 "samples:mimxrt1010_evk:samples/subsys/usb/audio: build error no usbd found"
**Describe the bug**
build error report usbd not found, but usbd is supported on this platform

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1010_evk ..
3. make
4. See error

**Expected behavior**
can build and run well

**Impact**
NA

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - Linux

[2020-05-14 03:20] hakehuang commented on #25313
@MaureenHelm

[2020-05-14 06:13] markus-becker-tridonic-com commented on #24963
turned out to be CONFIG_MBEDTLS_DEBUG=y was the culprit and adding approximately 500ms.

[2020-05-14 06:13] #24963 closed

[2020-05-14 06:19] KwonTae-young commented on #24767
I am trying to use Ethernet on the `nucleo_h743zi` board.
zephyr: https://github.com/KwonTae-young/zephyr/tree/stm32h743_ethernet
hal_stm32: https://github.com/KwonTae-young/hal_stm32

First of all, I have no experience using Ethernet in STM32. So I am very immature. :sweat_smile:
My first goal was the occurrence of a receive interrupt(`HAL_ETH_RxCpltCallback()`).
However, the current Ethernet fun

[2020-05-14 06:48] cvinayak opened #25314 "Bluetooth: controller: legacy: Backport conformance test related changes"
**Describe the bug**
During conformance testing of v2.2-branch, numerous implementation fixes related to conformance test changes and failures were undertaken. These fixes are missing in legacy controller in v1.14-branch.

**To Reproduce**
Re-run conformance testing using hci_uart application in v1.14-branch

**Expected behavior**
Bluetooth Controller in v1.14-branch shall meet the same level of q

[2020-05-14 07:02] ABOSTM commented on #25010
@nandojve ,
Following your proposal, I test disco_l475_iot1 ,
I erase full flash, then flash MCUBOOT, then flash Helloworld example (signed image) with call to `boot_write_img_confirmed()`
But I did not face issue, function returns 0 wich is good:

[2020-05-14 07:22] rlubos commented on #25276
I'd bet it's a stack issue, I've been testing this sample a few days ago, and it turned out to have insufficient stack size for OpenThread in the default configuration:
https://github.com/zephyrproject-rtos/zephyr/issues/24840#issuecomment-624717991

I'll verify it locally and report back.

[2020-05-14 07:27] chris-schra opened #25316 "dts: i2c: Dynamic device address"
Okay, I'm implementing a driver for ST's VL53L3CX and my board has two of them on the same I2C_0 bus. The driver should recognize this, shutdown the first instance (so the I2C bus is "clear") and program the new address for the second instance.

What is the suggested practice for defining it in DT?
My first idea was something like this:

[code]

Where I'd use the first reg idx for the initial addr

[2020-05-14 07:48] rlubos commented on #25276
Yes, I confirm and recommend to increase `CONFIG_MAIN_STACK_SIZE` to `2048`, OpenThread works way better.

[2020-05-14 07:51] nordic-krch opened #25317 "RFC: API Change: uart: Call UART_RX_RDY event after rx_disable()"
## Introduction

Proposal applies only to asynchronous API which currently has 3 implementations (`uart_sam0`, `uart_nrfx_uart` and `uart_nrfx_uarte`).

### Problem description

Currently, when `rx_disable()` is called then receiver is stopped and all buffers used by the instance are released (`UART_RX_BUF_RELEASED` event) and user is notified that receiver is disabled with `UART_RX_DISABLED` even

[2020-05-14 07:53] nordic-krch commented on #25317
@Sizurka @anangl @Mierunski @tbursztyka please let me know what do you think.

[2020-05-14 07:59] nordic-krch commented on #25317
Realized that API is currently labeled as "unstable". `Stable API Change` label removed.

[2020-05-14 08:44] jfischer-phytec-iot commented on #25313
@galak Can we use common node label for the first usb device?

[code]

[2020-05-14 09:29] QSQCaito commented on #25299
@mbolivar-nordic , does it make sense to enable it directly at the armv7-m.dtsi level? For STM32 the LPTIM can be used as a Kernel tick, then it would have to be disabled, no?

[2020-05-14 09:49] mschwan-phytec commented on #25139
@pdunaj Thanks for the feedback! I am fully aware of the implications you explained. That is why I did some testing with the reaction time to show that there may be still some delay. But things are not as easy as it seems. At first I thought the button of the eval board may not allow for such fast presses as a light mouse button does. Luckily, I had an old disassembled MX518 lying around that I co

[2020-05-14 10:25] pdunaj commented on #25139
Hi @mschwan-phytec , it's really hard for me to tell what is wrong (if anything). I don't work with Zephyr samples. I can have a quick look there to make sure it works as intended.

So far I have not seen any problems with USB regarding the polling rate. It would be very important for us to know if there are any. With nrf_desktop we use 1 ms polling interval on the USB. When data is out we start s

[2020-05-14 10:42] lmajewski commented on #25187
@jukkar - in my use case (DSA switch):
1. Set the MAC (L2) address for network interface (net_if) - the NET_MGMT library looks like a good mechanism (place) for it.
2. Then in ethernet_recv() I could trigger proper callback (registered in user's program) for NET_EVENT (NET_FILTER_MAC_ADDR?)

Then are two possible options:
2.1 In the user program's defined callback I would "redirect" this packet to

[2020-05-14 11:05] carlescufi commented on #24727
@johnsmithecon closing this for now. Please reopen if this is still an issue.

[2020-05-14 11:05] #24727 closed

[2020-05-14 11:06] galak commented on #25316
are they really at the same i2c address on your board?  if so how do you control which one is active?

[2020-05-14 11:08] chris-makaio commented on #25316
yes they are. There's a XSHUT pin which "mutes" the device so you can send a special instruction to reprogram the new address for the other instance. Pretty cool, eh? ;)

[2020-05-14 11:13] carlescufi commented on #21833
The Mesh study guide is not part of Zephyr, but we will investigate the recent bloat of the BLE functionality to get things running on the micro;bit again.

[2020-05-14 11:13] #21833 closed

[2020-05-14 11:14] carlescufi commented on #16886
Closing this. If this is still anissue with the latest master please reopen @spieth.

[2020-05-14 11:14] #16886 closed

[2020-05-14 11:15] ssekar15 commented on #24703
@carlescufi Nuvoton has changed the valid license Apache 2.0 in the Nuvoton M480 BSP and same has adapted to hal_nuvoton https://github.com/linumiz/hal_nuvoton.

Could you please check and provide feedback if anything else is blocking for repository creation?

[2020-05-14 11:18] bluetooth-mdw commented on #21833
The Bluetooth SIG mesh developer study guide V2.0 has since been released and now uses Nordic Thingy devices with Zephyr 1.14. But it would be nice to make sure micro:bit continues to be an option, albeit without the ability to support proper provisioning and configuration, which afaik has never been possible with so little memory.

[2020-05-14 11:28] ghlualven commented on #25276
@rlubos Thank you very much, I also verified this,  the issue was fixed.

[2020-05-14 11:28] #25276 closed

[2020-05-14 11:43] nashif opened #25319 "MMU and USERSPACE not working on upsquared"
**Describe the bug**
Enabling MMU and userspace on up_squared fails, nothing comes back on the console

**To Reproduce**

Enable MMU on up_squared...

**Expected behavior**
Userspace and mmu testcases should pass

[2020-05-14 11:45] cfriedt commented on #25216
@vanti - @statropy should be good to start the work. Might even be possible to skip the short term solution

[2020-05-14 11:52] #14173 closed

[2020-05-14 12:22] erwango commented on #25295
Doesn't it depends on sample yal file ?
[code]

Running `./scripts/sanitycheck -p native_posix -T samples/subsys/usb/hid`, you run both config of the sample (one of hichbeing failed)
Running `./scripts/sanitycheck -p native_posix -s samples/subsys/usb/hid/sample.usb.hid_composite` you run the 'passed' one.

[2020-05-14 12:30] emob-nordic commented on #23474
Couldn't reproduce the issue. I am using zephyr-sdk 0.11.2. Built form f95aed10cc master.

[2020-05-14 14:35] nandojve commented on #25010
Hi @ABOSTM thank you for the feedback!
Could you confirm SHA that you tested?

[2020-05-14 14:41] emob-nordic commented on #23337
Hi. I gave myself very last chance to this issue and tried to make it work with windows as well. From what I've found out it's impossible and and I would like to present a nice explanation why.

I've started with pure bootloader installed on the nRF52840dk_nrf52840.
```~/zephyr/bootloader/mcuboot/boot/zephyr$ west build -b nRF52840dk_nrf52840 ``` ```west flash```

[2020-05-14 14:42] carlescufi commented on #23178
Yes, let's close it. If there are any unresolved issue this can be reopened.

[2020-05-14 15:15] ABOSTM commented on #25010
@nandojve
SHA1:5321c4288203c113abac5eab9eaca918e9b4f8f9

[2020-05-14 15:16] galak commented on #25153
Dev-Review [May 14]:
* @MaureenHelm - will look into what ref board may exist from a NXP point of view
* @pabigot - what is the bar w/regards to maintenance acceptance for such code/SoC code.
* @nashif - we should always have a board to build the SoC code.  How do support incubation for code that might not be ready for whatever reasons.  A staging concept.

Look at doing w/modules, need a skeleton

[2020-05-14 15:22] emob-nordic commented on #23337
Hi,
I gave myself very last chance for this particular issue and tried to make it work.
After what I've tried to do I came up some conclusions I would like to share
to make it bright and clear why I think for this we cannot do much and this will not work.

Prepare
-

Build and flash the bootloader:
```~/zephyr/bootloader/mcuboot/boot/zephyr ```
Then dfu+cdc sample:
```~/zephyr/zephyr/samples/subsy

[2020-05-14 16:03] carlescufi commented on #23364
@Vudentz @cvinayak @joerchan @jhedberg This is a high bug so we need to fix it during the 2.3 stabilization period. Is there something we can do here, either as a patch or a mitigation, during the next few days?

[2020-05-14 16:03] carlescufi commented on #24706
@nvlsianpu will you address this in time for 2.3?

[2020-05-14 16:19] galak opened #25327 "Move to C99 integer types and deprecate zephyr specific types"
With the introduction of the following commit:

commit f32330b22c333012cf5f771b0eae9ef378e446d4
Author: Nicolas Pitre <npitre@baylibre.com>
Date:   Wed Jun 5 12:19:37 2019 -0400

    stdint.h: streamline type definitions

We've made the C99 and Zephyr types (`include/zephyr/types.h`) match definition (for the most part [caveats below]).   We've been intermixing C99 and the Zephyr types in the Zeph

[2020-05-14 16:23] galak commented on #25327
I'd recommend that post 2.3 release we rename all zephyr types (s8_t -> int8_t, u8_t -> uint8_t, etc.) and make the types in include/zephyr/types.h as deprecated.

[2020-05-14 16:53] krishnabadam opened #25328 "mesh_demo is failing"
Hi Zephyr Team,

It seems there is a bug in mesh_demo, it looks like the issue is with destination address as a Group Address.

Below is the version on which I am running this demo for BBC microbit.
VERSION_MAJOR = 2
VERSION_MINOR = 2
PATCHLEVEL = 99
VERSION_TWEAK = 0
EXTRAVERSION =

sample used: samples/bluetooth/mesh_demo

I have build a image with NODEADDR as 0x000f(PUBLISHER_ADDR).
After loadi

[2020-05-14 16:56] galak commented on #25164
Dev-review (May 14):
* discussed the topic, need input or review from others like @mbolivar-nordic.  @galak had the idea if we generate the zephyr/zephyr.dts with defaults injected so at least there's a form of the DTS that is consistent.

Need to also see how we limit abuse of defaults if we maintain the feature.

[2020-05-14 17:09] MaureenHelm commented on #25153
The recommended board for this SoC is MAPS-KS22, you can see this in the MCUXpresso SDK builder on the right side:

![image](https://user-images.githubusercontent.com/6172539/81963448-b75dac00-95da-11ea-8425-1c3fd1d0699d.png)

I'm not sure if this board is available anymore. Even if it is, the MCUXpresso SDK is an old version with the Clear BSD license.

[2020-05-14 17:42] nvlsianpu commented on #24706
@carlescufi  Yes, fix is almost ready: https://github.com/zephyrproject-rtos/mcumgr/pull/22

[2020-05-14 17:52] jhedberg commented on #25327
Do you mean that in the special sense that we defined starting with 2.2, i.e. in the short window between tagging 2.3.0 and opening the merge window again? That might make sense considering how much code this will touch. Just as a reminder: we have a dedicated column for this in https://github.com/zephyrproject-rtos/zephyr/projects/27

[2020-05-14 20:03] galak commented on #25327
That is what I meant. :)

[2020-05-14 20:38] carlescufi commented on #25328
@jhedberg any chance you could take the mesh demo on micro:bit for a spin to see if you can reproduce?

[2020-05-14 21:46] vla3913 commented on #25046
@jukkar, we run into structure and functions prototypes which seem to be modified since revision 2.2 (aka `_k_thread_stack_element` structure or `k_sleep` function ). What do you suggest: always align to the master or stick to 2.2 ?
@puchm, i get this to run by compiling in qemu-x86 and using e1000 driver:
[code]
then, launch net-tool in a terminal:
[code]
and finally run the binary:
[code]
What I

[2020-05-14 22:36] vanti opened #25331 "test_timer_remaining() fails with assertion in timer_api test"
**Describe the bug**
On cc1352r1_launchxl, the test fails with
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/kernel/timer/timer_api
2. west build -b cc1352r1_launchxl
3. west flash
4. See serial output with error message

**Expected behavior**
The test should pass.

**Impact**
Sanitycheck shows a failure when running this test

**Environment (please complete the following i

[2020-05-15 01:14] nandojve opened #25332 "lib: updatehub: Don't build after convertion from DT_FLASH_AREA to FLASH_AREA macros"
**Describe the bug**
samples/net/updatehub stop build after convertion from DT_FLASH_AREA to FLASH_AREA macros

**To Reproduce**
west build -b frdm_k64f samples/net/updatehub

**Expected behavior**
sample app build normally

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zephyr SDK 0.11.2
 - Commit SHA a0ae534

CC @o

[2020-05-15 02:17] nandojve commented on #25010
@ABOSTM I continue saw flash not be confirmed on your SHA and on the last one.

The only difference that raise a flag for me was that:

Your Primary image: magic=unset, swap_type=0x1, copy_done=0x3, image_ok=**0x1**
mine Primary image: magic=good, swap_type=0x1, copy_done=0x3, image_ok=**0x3**

Below the procedure that I believe get last version of everything to make sure environment is not poison

[2020-05-15 03:46] saewoonam opened #25334 "SPI won't build on microbit with I2C"
**Describe the bug**
I am trying to add additional flash memory to a BBC microbit board via its edge connector.   The flash memory is an MX25R64 chip.   After I modify the devicetree file to have both i2c0 and spi1, it doesn't recognize the flash memory when I try to build the spi_flash example.   However, if I disable the i2c0 bus and rename the spi1 bus to spi0 it does recognize the flash and co

[2020-05-15 05:56] jukkar commented on #25046
The 2.3 release will contain big changes for timeout functionality so functions like `k_sleep` are affected. If you still want to use the old timeout code, just enable CONFIG_LEGACY_TIMEOUT_API.
I am probably biased but I would use always the master, but I am not building products that use Zephyr. So it really depends what are your goals and how you are using Zephyr.

[2020-05-15 05:58] tbursztyka commented on #23800
Ok switch to 1.6, this works on this version.

[2020-05-15 06:10] tejlmand commented on #9947
Re-opened, as #20324 only describes the high level architecture (which is also important).

But it does not describe  `zephyr_library_*` functions and other extension commands.
And when to use `zephyr_sources()` or `zephyr_library() + zephyr_library_sources`, and so on.

What we need is something similar to the proposal in #13805

The problem today, is that people must read: https://github.com/zep

[2020-05-15 06:55] krishnabadam commented on #25328
Hi,

Just to add on some more info, Its not limited to GROUP Address instead its applicable to a non local destination address. So the issue appears to be in  'bt_mesh_adv_send' call path.

Thanks,
Krishna B

[2020-05-15 07:17] henrikbrixandersen opened #25337 "LED pins always configured as PWM outputs"
**Describe the bug**
I have come across an issue with the recent devicetree changes. For several boards, the `pinmux.c` logic previously decided whether to configure LED pins as GPIOs or PWMs based on Kconfig. Now they decide based on `DT_NODE_HAS_COMPAT_STATUS(…, okay)` on the PWM controller, which - at least for some boards - leads to always configuring the LED pins as PWMs, thus breaking sample

[2020-05-15 07:21] henrikbrixandersen commented on #25337
See e.g. https://github.com/zephyrproject-rtos/zephyr/blob/a0ae53410eef31d1773dbfc5a3a6591e45dee11c/boards/arm/twr_ke18f/pinmux.c#L37 for an example of this. Node `ftm3` is always enabled in the devicetree leading to the LED pins always being configured as PWM outputs.

[2020-05-15 07:49] henrikbrixandersen commented on #25337
Setting priority as high, since this breaks existing board definitions.

[2020-05-15 08:31] jfischer-phytec-iot commented on #23178
Reopen as it still an issue on usb_dc_sam0

[2020-05-15 08:52] alexsven opened #25346 "Timestamp in LOG jumps 00:08:32"
**Describe the bug**
The timestamp in the logging module jumps by 00:08:32 from time to time. This bug occurs if CONFIG_SYS_CLOCK_TICKS_PER_SEC=1000.
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Build hci_rpmsg on nrf5340pdk_nrf5340_cpunet and peripheral_hr on nrf5340pdk_nrf5340_cpuapp on one PDK and hci_rpmsg on nr

[2020-05-15 08:56] joerchan commented on #23364
I can look into it.

[2020-05-15 09:24] hakehuang opened #25348 "test:mimxrt10xx_evk:tests/kernel/mem_protect/stackprot: get unexpected Stacking error"
**Describe the bug**
when coduction the tests/kernel/mem_protect/stackprot case in RT series board e.g mimxrt1060_evk, there is a MPU FAULT at the end of test.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1060_evk ..
3. make
4. make flash

**Expected behavior**
test ends cleanly.

**Impact**
MPU

**Screenshots or console output**
[code]

**Envi

[2020-05-15 09:28] hakehuang commented on #25348
@MaureenHelm

[2020-05-15 09:30] andysan opened #25349 "The b_l072z_lrwan1 board (STM32L0) doesn't support flashing of firmware larger than bank 0"
**Describe the bug**

Due to an incorrect OpenOCD configuration, the b_l072z_lrwan1 board can't be flashed with a firmware that is bigger than bank 0 (96KiB). Flashing a larger firmware results in a failed firmware verification pass.

**Expected behavior**
It should be possible to use the entire 192KiB flash.

**Impact**
Large firmware images can't be flashed using the build system. Manually flash

[2020-05-15 09:32] cvinayak opened #25350 "Bluetooth: controller: Data transmission delayed by slave latency"
**Describe the bug**
Spurious typematic is visible when using the BLE nRF Desktop keyboard. It seems that data is stuck in the controller and not sent until the slave latency timeout is reached.

**To Reproduce**
Refer to: https://github.com/NordicPlayground/fw-nrfconnect-nrf/tree/fd9e8580ca322e32c25ec2d90ba0dd8638eb886a/applications/nrf_desktop

Using the keyboard exposes the typematic issue.

**

[2020-05-15 09:35] hakehuang opened #25351 "test:mimxrt1050_evk:tests/subsys/usb/bos/: run failure"
**Describe the bug**
usbobs case failure on this platform, other RT platfroms are ok.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1050_evk ..
3. make
4. make flash

**Expected behavior**
test failure

**Impact**
usb descriptor

**Screenshots or console output**
[code]
**Environment (please complete the following information):**
 - OS: Linux
 -

[2020-05-15 10:45] MZachmann opened #25354 "Fails to compile when SYS_PM_DIRECT_FORCE_MODE is true"
**To reproduce:**
1. Use the sample samples\boards\nrf\system_off (or any other power oriented sample).
2. Change the prj.conf to add the line
   CONFIG_SYS_PM_DIRECT_FORCE_MODE=y
3. Try to build

**Produces the error:**
-c C:/z/zephyr/subsys/power/power.c
In file included from C:/z/zephyr/include/kernel_includes.h:41,
                 from C:/z/zephyr/include/kernel.h:17,
                 from C:

[2020-05-15 11:01] pabigot opened #25355 "Follow a staged path for co-existing legacy and updated capabilities"
The elimination of legacy devicetree macros is already causing complaints: though they can still be generated the default configuration for 2.3.0 is to exclude them.

The API Lifecycle specifies that deprecated APIs continue to be supported for two releases.  I propose that where the legacy and replacement APIs can co-existt:
* For the first release of deprecation the legacy API continues to be av

[2020-05-15 11:03] henrikbrixandersen commented on #25337
Potentially covered by #24745.

[2020-05-15 11:09] pabigot commented on #25354
This was fixed by 04d1104ee51754193efb557d6d4d0d1d9452e965 which is in current master.

[2020-05-15 11:09] #25354 closed

[2020-05-15 11:44] erwango commented on #25293
@bpbradley I've tested cdc_acm sample and it works fine on nucleo_f429zi.

In this case two usual suspects are board pin configuration that would require jumper or solder bridge fixing (but according to doc ref manual there is nothing specific for this board) and clock configuration.
On this last front, looking to the board _defconfig:
[code]
Can you tweak the PLL clock params to achieve a 96MHz s

[2020-05-15 13:18] mniestroj opened #25358 "net: config: application starts with 3s delay when CONFIG_NET_CONFIG_SETTINGS=y"
**Describe the bug**

A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=qemu_x86 ../zephyr/samples/net/sockets/echo_server/
3. ninja
4. There is 3s delay before application code starts up (`net_echo_server_sample: Run echo server` shows up

[2020-05-15 13:33] cfriedt opened #25362 "better support for posix api read write in socketpair tests"
**Is your enhancement proposal related to a problem? Please describe.**
Use READ / WRITE macros in socketpair tests, to abstract read / recv and write / send as in #25356

socketpair should work with unistd read / write when

[code]
is true

**Describe the solution you'd like**
I'll throw together a patch after #25271

**Describe alternatives you've considered**

**Additional context**

[2020-05-15 13:39] ABOSTM opened #25363 "tests/drivers/counter/counter_basic_api: Assertion failed on STM32 boards"
**Describe the bug**
On several STM32 boards (nucleo_f746zg, nucleo_l4r5zi, nucleo_wb55rg, stm32f3_disco)
test tests/drivers/counter/counter_basic_api fails due to 'Assertion failed'

**To Reproduce**
Steps to reproduce the behavior:
1. west -v build -p auto  -b nucleo_f746zg tests/drivers/counter/counter_basic_api
2. See error

**Expected behavior**
Test Passed

**Screenshots or console output**

[2020-05-15 13:40] erwango commented on #25337
relates to #25251

[2020-05-15 14:16] ABOSTM opened #25366 "tests/drivers/counter/counter_basic_api: instable test status on STM32 boards"
Warning: it is needed to cherry picking PR #25364 to be able to reach this stage.

While exectuing test **tests/drivers/counter/counter_basic_api**, from time to time, test fails during
step **test_short_relative_alarm**,  with 1 less callback count than expected.

**To Reproduce**
Steps to reproduce the behavior:
1. west -v build -p auto  -b nucleo_f746zg tests/drivers/counter/counter_basic_api
2

[2020-05-15 15:00] ABOSTM commented on #25366
Analysing this issue it appears to me that in driver,
* current value of RTC is read,
* after some computation and convertion, we add expected tick to rtc read value
* program the alarm with it obtained value.

Knowing that RTC frequency is 1Hz, the current value of the RTC which is read, correspond to the last ended second. But in fact the next second is already running for some timer.
In other w

[2020-05-15 15:04] #24014 closed

[2020-05-15 15:07] #25350 closed

[2020-05-15 15:13] ABOSTM opened #25369 "tests/drivers/gpio/gpio_basic_api: test_gpio_deprecated step fails on STM32 boards"
**Describe the bug**
While running tests/drivers/gpio/gpio_basic_api on STM32 boards (nucleo_f746zg, nucleo_f207zg ...),
the step 'falling edge' of test_gpio_deprecated step fails.

**To Reproduce**
Steps to reproduce the behavior:
1. west -v build -p auto  -b nucleo_f746zg tests/drivers/gpio/gpio_basic_api/
2. See error

**Expected behavior**
Test Passed

**Screenshots or console output**

[2020-05-15 15:18] #25272 closed

[2020-05-15 16:02] ABOSTM commented on #25366
Proposed PR for samples/drivers/counter/alarm: #25371

[2020-05-15 16:40] carlescufi commented on #25369
@ABOSTM could you please label test failures with the "Tests" label? Thanks!

[2020-05-15 18:41] galak commented on #25337
In look at this on at least twr_ke18f we need to decide which case should be the default from the board.dts point of view (GPIO or PWM), and then add overlays to any samples that want to behave differently.   The reason for this is we desire to move pinmux configuration into DTS going forward and so when that happens we'll run into this again at that point.  So lets just address this once right no

[2020-05-15 18:44] galak commented on #25337
Boards impacted:

- [ ] frdm_k82f
- [ ] frdm_kw41z
- [ ] hexiwear_k64
- [ ] twr_ke18f
- [ ] rv32m1_vega

boards/arm/frdm_k82f/pinmux.c:#else
boards/arm/frdm_kw41z/pinmux.c:#else
boards/arm/hexiwear_k64/pinmux.c:#else
boards/arm/mec1501modular_assy6885/pinmux.c:#else
boards/arm/mec1501modular_assy6885/pinmux.c:#else
boards/arm/mec15xxevb_assy6853/pinmux.c:#else
boards/arm/mec15xxevb_assy6853/pinmux

[2020-05-15 18:49] galak commented on #25337
@henrikbrixandersen , @MaureenHelm would appreciate if you can comment on the default setting for the PINs.  I would think GPIO and than have blinky_pwm, fade_led, and rgb_led have overlays to switch to PWM instead of GPIO.

[2020-05-15 18:53] #24706 closed

[2020-05-15 19:00] Terstegge opened #25378 "Installation problems"
**Describe the bug**
Zephyr can not be installed following the installation instructions

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the installation procedure for Linux
2. When typing `west init ~/zephyrproject`
I get the error
[code]
I have absolutely no idea what is going wrong here...

**Expected behavior**
I would expect that the installation instructions work out -of-the box

[2020-05-15 19:08] bpbradley commented on #25293
Great suggestion. I looked into the HSE clock previously but saw it was correct and moved on. I was very quickly able to confirm that you are 100% correct that this is PLL related. A quick test following your suggestion on a 96 MHz PLL output, but also trying for a 48 MHz USB clock output, and the example worked perfectly.

However, I am not sure it is the full story. Digging around it is possible

[2020-05-15 21:17] NilsMinor opened #25379 "Bluetooth mesh example not working"
**Describe the bug**
Hi,
I tried to gest started with the zephyr mesh examples on my custom board (https://github.com/NilsMinor/inuk-base) that is based on an E73-2G4M04S1B module (nrf52832 qfaa).
I tested my custom bluetooth board before using fruitymesh, an other nrf52 mesh software  that is based on nordics soft device that worked fine.

I used the nrf52dk_nrf5832 as zephyr board, I did not cha

[2020-05-15 22:18] vla3913 commented on #25046
Thanks, I just updated the code to be compliant with 2.3rc1 (although I have seen some items which will need a little additional cleanup). Non regression tests ok on omx1064 with this new version.

[2020-05-15 22:35] Abhishek-brcm opened #25382 "devicetree: Add ranges property support for PCIe node"
This requirement originates from : https://github.com/zephyrproject-rtos/zephyr/pull/25166#discussion_r423409878
For PCIe, supported outbound memory windows should be parsed by `ranges` property in DT node.
Below are more details:

Linux supports parsing of `ranges` and `dma-ranges` property under pcie node.
pcie node example:
https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git/tre

[2020-05-16 01:50] petejohanson commented on #24536
Ok, so I just pushed a branch that demonstrates what would be possible. You can see the [branch](https://github.com/petejohanson/zephyr/tree/phandles_foreach_example) or the [commit](https://github.com/petejohanson/zephyr/commit/fd714737b94854df507fd7da69e8a0d65a29a855) that adds a new macro `DT_FOREACH_PHA` that would invoke the passed function/macro for each entry in the `phandles`/`phandle-arra

[2020-05-16 03:04] nandojve opened #25386 "boards: shields: esp_8266: There isn't CI tests enabled"
**Describe the bug**
There is no tests to evaluate shield esp_8266 and their dependencies.

**Impact**
We can release code that don't work.

**Aditional context**
#25232

[2020-05-16 04:42] andrewboie opened #25389 "driver MMIO address range management"
**Is your enhancement proposal related to a problem? Please describe.**
Most of Zephyr assumes that MMIO addresses are fixed at build time and are simply constants specified in DTS and exposed in generated headers, with values stores in immutable device config structures in ROM.

However, two hardware features can cause this to fall over:

1. Some peripherals have their MMIO ranges enumerated at b

[2020-05-16 08:33] carlescufi commented on #25379
@trond-snekvik @jhedberg does the example need provisioning perhaps?

[2020-05-16 11:24] sandeepbrcm opened #25390 "driver: timer: arm arch timer PPI configuration to be taken from dt"
arm architecture timer PPI are connected to GIC distributor interface. Generally most implementation of core support level-sensitive PPI.  Currently the driver has hard-coded
ppi trigger type to 'Rising-Edge' .

Taking the configurations from dt entry will solve this.

[2020-05-16 12:45] nashif commented on #23026
raising priority, this is not blocking #25319

[2020-05-16 16:54] eshaulx commented on #25185
The issue was solved by:
CONFIG_SETTINGS_NONE=y (no BE)
CONFIG_BT_SETTINGS=y
CONFIG_BT_GATT_CACHING=n
disabling CONFIG_BT_HCI_VS_EXT

[2020-05-16 16:55] #25185 closed

[2020-05-16 17:56] #25386 closed

[2020-05-16 20:00] NilsMinor commented on #25379
Hey @carlescufi I tried different apps to scan BLE and tried to use the nRF mesh app for provisioning. It feels like I am missing something. Did I understood it correctly, I do not need to flash an bootloader or other software? It should just be building the app and flashing it all using west right?

Thanks for your help,
Nils

[2020-05-17 13:27] Nukersson opened #25395 "Websocket Server API"
***WHAT***
Implementation of Websocket Server API would be helpful for embedded devices, which can be configured/controlled over Ethernet.

***WHY***
To such devices may belong Ethernet connected sound boxes, embedded routers or modems, toys, smart watches etc. Websocket Server API would allow configuration of such devices just right in your local network.

***CURRENT SITUATION***
Currently Zephyr

[2020-05-17 23:15] andrewboie opened #25398 "UpSquared Grub build docs don't work on Ubuntu 20.04"
**Describe the bug**
I'm following instructions on https://docs.zephyrproject.org/latest/boards/x86/up_squared/doc/index.html

On the step where I run:

[code]

I get the following output:

[code]

A few spots look suspicious:

[code]

[code]

[code]

[2020-05-18 05:52] susundberg commented on #22356
For the record, if anybody else stumbles upon this (i got slack asked so i document it here):

Check: [boot.c](https://github.com/susundberg/zephyr-robot-supa2019/blob/f5d29812a53d1e41149dff5043dc086e1e15d716/src/utils/boot.c) and [main.c](https://github.com/susundberg/zephyr-robot-supa2019/blob/f5d29812a53d1e41149dff5043dc086e1e15d716/src/main.c#L272) from my repository for working example.

[2020-05-18 06:20] tejlmand commented on #25215
@drandreas I created this: https://github.com/zephyrproject-rtos/zephyr/pull/25399 which allows for creation on an Extension package and setting up / extending any values.

Does this also cover your needs ?

[2020-05-18 06:46] ABOSTM commented on #25369
@carlescufi it looks like I don't have access right to do so.
Can you grantme access right ?

[2020-05-18 07:13] focanmess commented on #25398
I encountered this a few weeks ago on Ubuntu 18.04 and resolved it by installing Python 2 (specifically "sudo apt install python").

[2020-05-18 08:48] Nukersson commented on #25378
According to [this](https://docs.zephyrproject.org/latest/getting_started/installation_linux.html#installation-linux) Python 3.6 or later is required. As I can see you use Python 3.5. Please follow all istructions for your Linux distribution carefully, before you begin with `west init`.

Good Luck!

[2020-05-18 09:07] #25390 closed

[2020-05-18 09:08] #25331 closed

[2020-05-18 09:11] carlescufi commented on #24660
@ioannisg and @pabigot could you please spend some time this week on this one?

[2020-05-18 09:11] carlescufi commented on #25196
@ioannisg and @pabigot could you please spend some time on this one?
cc @andyross

[2020-05-18 09:12] #25332 closed

[2020-05-18 09:29] pfalcon opened #25407 "No tests/samples covering socket read()/write() calls"
While support for POSIX read()/write() calls was implemented for some time (enabled by CONFIG_POSIX_API option), there're no tests or samples using this feature. This can lead to regressions and must be addressed.

[2020-05-18 09:53] pfalcon commented on #17171
A ticket for particular sub-issue was created: https://github.com/zephyrproject-rtos/zephyr/issues/25407, to hopefully be addressed for 2.3.

[2020-05-18 09:55] pfalcon commented on #22161
Label "area: POSIX" is for Zephyr POSIX subsystem, not for native_posix target (confusion between the too is long-standing; the only common thing between them is that they make each other's life more complicated (this include assigning wrong ticket labels ;-) ). Removing that label. The right label is "area: native port".

[2020-05-18 09:56] bwasim opened #25408 "STM32 Ethernet Driver: Fix driver crash caused by RX IRQ trigger"
**Describe the bug**
All initialization of the Ethernet interface is done in the eth_initialize function which is invoked by the boot code. This function sets up DMA, programs the Ethernet module and enables IRQs. However, this function does not setup "netif" interface info which is done when the ethernet device is enumerated by the NET stack via the "iface_api.init" func. However, after the eth_i

[2020-05-18 10:19] jukkar commented on #25395
The GPL2 license is not compatible with Apache2 license so MinnowServer cannot be used in Zephyr.

[2020-05-18 10:24] drandreas commented on #25215
It is not quite what I had expected but I think I can make it work. I will try to write a `zephyr_dts_root_sarch_extension`. It will add all modules/drv/* it finds to DTS_ROOT.

At first glance this should be doable in a couple of lines. I will report back asap.

[2020-05-18 11:11] pfalcon opened #25409 "Inconsistent naming of Kconfig options related to stack sizes of various Zephyr components"
Current situation:

[code]

Desired situation: a single grep to pick up all stack sizes.

(Z)TEST is the only offender of the common style, and it's pretty much an internal option, so should be safe to rename without big compatibility measures.

[2020-05-18 11:16] pfalcon commented on #25409
cc: @stephanosio, @ioannisg, @andrewboie, @carlescufi, all the stakeholders who sounded their (strong) opinion in https://github.com/zephyrproject-rtos/zephyr/pull/24913 . It would be nice to bikeshed this issue during next month, and then (hopefully) just implement when the 2.4 window opens, without surprise for anyone.

[2020-05-18 11:52] Nukersson commented on #25395
Thank you for your message. Can you change then this Issue to feature request?

[2020-05-18 12:09] ABOSTM commented on #25010
Hi @nandojve ,
I reinstalled Zephyr from scratch (e550302a61a088abe549e7bf4d3a2fd51d8971f3),
I merge your modification of hello world  example.
I build and flash MCUBoot , then build and flash example,
and again it is working fine:
[code]
There is 1 thing you did not mention in your procedure: recompiling MCUBoot and flashing it?
Did you just omite to mention it or you didn't do it?
I may be worth

[2020-05-18 12:34] carlescufi commented on #25409
I absolutely think we need to address this and come up with a solid naming convention for stack sizes, thanks for opening this to track it @pfalcon.

[2020-05-18 12:35] otavio commented on #25010
@ABOSTM is there any lower level debugging information which might help to spot what is different from your setup?

[2020-05-18 13:00] erwango commented on #24745
@pabigot , regarding the following point:

What you are referring to is not fully clear to me (Kconfig symbols, shields nodes , other ?). Though, I was indeed thinking of refreshing the guidelines based on the recent changes in boards configuration capabilities.
Here are few points I have in mind, and I'll be happy to discuss them:
- As part of default board configuration, devices should configure

[2020-05-18 13:55] nandojve commented on #25010
Hi @ABOSTM

I simple omit, but I built MCUboot and flash it first same week.
I'll give another try with latest.

Anyway, could you help to understand why the difference?
**Your version**
[00:00:00.006,000] <inf> mcuboot: Primary image: magic=good, swap_type=0x1, copy_done=0x3, image_ok=0x3
**Mine**
[00:00:00.006,000] <inf> mcuboot: Primary image: magic=unset, swap_type=0x1, copy_done=0x3, image_ok

[2020-05-18 14:17] nashif commented on #25183
This was broken by:

[code]

@tejlmand ^^

[2020-05-18 14:22] pabigot commented on #24660
Broken by 10d15d185b63f6616bbb7c9975dff15d52464b11 which seems to have caused problems with `CONFIG_TICKLESS_KERNEL=n` and `CONFIG_SYS_CLOCK_TICKS_PER_SEC=1`.   The benchmark infrastructure tests whether a test runs longer than 1 s by using this configuration.  Fix in #25412.

[2020-05-18 15:08] cfriedt opened #25413 "soc: ti_simplelink: kconfig: ble: placeholder for hal_ti"
**Is your enhancement proposal related to a problem? Please describe.**
The hal/ti module requires some RF-protocol-specific sources to be included based on the RF protocol being used (e.g. BLE, 802.15.4). They HAL would like to conditionally compile sources.

See https://github.com/zephyrproject-rtos/hal_ti/pull/13#discussion_r426676618

**Describe the solution you'd like**
I would like to create

[2020-05-18 15:09] pabigot commented on #25196
Broken by 10d15d185b63f6616bbb7c9975dff15d52464b11, not  the same problem as #24660.  Here the issue is that the periodic timer handler takes longer to run than the interval, and starves the osDelay() that would turn off the timer.  This is because the default `PERIOD_TICKS=50` on most boards corresponds to 5 ms, but on Nordic it corresponds to 1.5 ms, which is too short to complete the `TC_PRINT`

[2020-05-18 15:34] pabigot commented on #25183
I confirm the problem and the introduction of it in 299a154fddfee098232fef804a5041e82344d527.  I do set `ZEPHYR_BASE` in my environment.  The build trace I get is:

[code]

[2020-05-18 15:34] cfriedt opened #25417 "net: socket: socketpair: check for ISR context"
**Is your enhancement proposal related to a problem? Please describe.**
Blocking calls are not allowed in ISR context.

If `sock_is_nonblock()` returns false and `arch_is_in_isr()` returns true, any operation that `will_block` should return an error. If there is a more generic function than `arch_is_in_isr()`, then that should be used instead.

Really, ISR's are probably the wrong place to use soc

[2020-05-18 15:55] pabigot commented on #25234
FWIW I'm unable to reproduce this on my board; running with `ZTEST_RETEST_IF_PASSED=y` passed 100 times in a row without failure.

[2020-05-18 15:57] pabigot commented on #24713
@carlescufi the partial fix has been merged, should this be lowered in priority as suggested above?

[2020-05-18 15:58] ABOSTM commented on #25010
I am not an MCUBoot expert, but I found those definitions
[code]
Then I figure out that after a fresh flashing of images, the 1st boot displays **image_ok=0x3** and then all further reboots (manual reset) display **image_ok=0x1**
So the fact you have **image_ok=0x3** is good.
And It makes sense to me as the change is done by the call to `boot_write_img_confirmed()`, which will set **image_ok=1** .

[2020-05-18 16:02] ABOSTM commented on #25010
[zephy_MCUBoot.zip](https://github.com/zephyrproject-rtos/zephyr/files/4645233/zephy_MCUBoot.zip)

[zephyr-1.0.0_Signed_HelloWorld.zip](https://github.com/zephyrproject-rtos/zephyr/files/4645247/zephyr-1.0.0_Signed_HelloWorld.zip)

[2020-05-18 16:37] bpbradley commented on #25293
As a follow up to this, it seems I am not quite there, but close.

I modified my previous preference and now believe we should in fact be using a 96MHz clock, despite some conflicting information around the web. The reference manual seems to agree the USB clock should be set to precisely 48MHz for best results, and the datasheet suggests setting the pll in comparison frequency to 2MHz (M=4) for le

[2020-05-18 16:45] nandojve commented on #25010
@ABOSTM , sure, I'll do!
Thank you for helping.

@utzig any comment here can help a lot!

[2020-05-18 17:11] #25408 closed

[2020-05-18 17:12] #25369 closed

[2020-05-18 17:13] #25363 closed

[2020-05-18 17:14] #25349 closed

[2020-05-18 17:14] #25284 closed

[2020-05-18 17:29] carlescufi commented on #25183
@tejlmand could you please propose a fix?

[2020-05-18 17:54] andrewboie commented on #25409
The only strong opinion I have is that we shouldn't be breaking our end users unnecessarily by making their project-level Kconfigs outside of the Zephyr tree stop working

[2020-05-18 17:56] jukkar commented on #25417
Yes there is, the `k_is_in_isr()` should be used here.

[2020-05-18 18:39] mbolivar-nordic commented on #25382
@galak do you think this should be discussed at dev-review? I don't know PCIe.

[2020-05-18 18:58] tejlmand commented on #25183
Looking at it.

[2020-05-18 19:25] andrewboie commented on #23062
That won't work, thread_num is used to select the thread object in cv2_thread_pool. Decrementing it when a thread exits will not do what you expect, at worst it will cause thread objects to be used twice and crash the kernel. We need something like `k_mem_slab` for managing this.

The code is seriously incorrect anyway, it tries to manage concurrency with respect to thread/stack IDs with atomic va

[2020-05-18 20:07] MaureenHelm commented on #24702
The RTC frequency is indeed 1 Hz.

Fixed by #25364

[2020-05-18 20:07] #24702 closed

[2020-05-18 20:14] mbolivar-nordic commented on #25164
@galak @pabigot I read the transcript with robher and looked at the I2C example for STM32F7. I can't really parse some of the details of the transcript, but it looks like the dt-schema default is saying "this is the default set by the driver", which is consistent with the I2C example.

If that's so, I wonder why we can't just use the bindings as a single point of truth for both documenting the dri

[2020-05-18 20:19] mbolivar-nordic commented on #25316
@avisconti any advice here?

[2020-05-18 21:08] andrewboie commented on #23062
Converting this to use k_mem_slab() wasn't bad and I have a patch ready for that.

The problem lies with race conditions with re-using these thread objects. The CMSISv2 wrapper code doesn't seem to handle thread exits very robustly:

- If a thread self-exits, it goes through the latter half of `zephyr_thread_wrapper()`, which then returns to the main thread wrapper which calls `k_thread_abort(k_cu

[2020-05-18 21:35] andrewboie commented on #23062
In order to get this and #23063 fixed robustly I think I need the following:

- An unconditional guarantee that if `k_thread_join()` is successfully called on some thread X, when that call returns, neither the `k_thread` or the `k_thread_stack_t` associated with that thread are ever read/written by the kernel, they have to be truly unused.

- The same guarantee for the userspace initialization sta

[2020-05-18 22:20] pabigot commented on #25164
@mbolivar-nordic I'd considered that the tooling could forward the binding default to the build (e.g. `DT_DEFAULT_compat_P_prop`) but I saw that as a more complex solution than just having the devicetree tooling set the default directly as the node's property value when it isn't in the devicetree source.  Which we already have and which works as expected (except that the substitution doesn't show

[2020-05-18 22:27] mbolivar-nordic commented on #25164
Like I said, I couldn't parse the IRC transcript very well, but it seems like my proposal is semantically what Linux is doing today, except the default value appears once (in the binding) instead of twice as it seems to in Linux (in the binding and again in the driver).

I also think using a macro with OR_DEFAULT in the name may be helpful during debugging, to @galak's point number 3. in the issue

[2020-05-18 22:29] mbolivar-nordic commented on #25164
Another thing I think is potentially in DT_PROP_OR_DEFAULT()'s favor relative to the status quo is that adding it would ultimately allow DT_PROP() to error out if the property is not explicitly set, and is therefore a way to enforce that it is.

But if it's not useful and I've misunderstood the problem, disregard the noise.

[2020-05-18 22:40] bwasim opened #25427 "STM32 Ethernet driver build failure with CONFIG_ASSERT=1"
**Describe the bug**
STM32 Ethernet driver fails to build with CONFIG_ASSERT=1. This is introduced after the changeset under https://github.com/zephyrproject-rtos/zephyr/pull/25393 which added the following code,
[code]
The assertion is supposed to validate that the function call is valid while here we invoke the function and compare with its output. As the function returns `VOID`, we get a build

[2020-05-18 22:42] pabigot commented on #25164
I don't think your comments are noise; I agree entirely, and my point is the tooling we have today does exactly what you describe: if a property default is specified in the binding, and the devicetree source doesn't include a property, the generated `devicetree_unfixed.h` provides the property definitions using the default from the binding.

Right now we can use `required: true` to force setting a

[2020-05-18 22:45] bwasim commented on #25427
cc: @erwango

[2020-05-18 23:35] #23026 closed

[2020-05-18 23:44] mbolivar-nordic commented on #25164
I don't really disagree with anything you've said, so I suppose we should leave it up to @galak to decide what to do. FTR:

Linux seems to have default values in the drivers, and a problem where the defaults in their dt-schema bindings could get out of sync with the drivers, so I don't really get the portability concern here.

The intent here seems to be that it's "just documentation for the defau

[2020-05-18 23:46] utzig commented on #25010
Well, it worked for me as well:

[code]

I am using latest MCUBoot and fairly recent Zephyr tree (updated this afternoon). This error you're having usually happens if you have built the bootloader and the app with partition configurations that are not the same. Otherwise I would suggest attaching a debugger at `boot_write_img_confirmed` to check why it is failing.

[2020-05-19 03:49] nandojve commented on #25010
Hi @ABOSTM,

At first, I did another try with lastest Zephyr version and your signed image, both without success.
So, move to install stm32cubeprog, update st-link version from 18 to 26, first erase full + flash with error. I **repeat the process** and got success. Than, write my hello image using west and got the image confirmed.

[code]

I remember that I lost the board sometimes, usully ctrl+C

[2020-05-19 03:49] jamesrosssharp opened #25433 "Add vendor specific class custom usb device sample"
It would be nice to have a sample which shows how to create a custom vendor specific (class 0xff) device with custom endpoints including an interrupt endpoint. Users could then use this sample to implement custom usb device protocol for e.g. sending sensor data etc.

[2020-05-19 06:01] cvinayak opened #25434 "nRF5340 Bluetooth peripheral_hr sample high power consumption"
**Describe the bug**
Average current consumption of peripheral_hr sample in application CPU and hci_rpmsg application in network CPU, is ~2.5 mA. It appears the nRF5340pdk starts with idle current of ~14uA, but after sometime (in the image below ~24 seconds, but this is random), the base idle current increased to ~2.5 mA.

![image](https://user-images.githubusercontent.com/6350656/82285954-e9855a0

[2020-05-19 06:40] tejlmand commented on #25183
Still investigating, but just tried to take the commit BEFORE https://github.com/zephyrproject-rtos/zephyr/commit/299a154fddfee098232fef804a5041e82344d527 which is https://github.com/zephyrproject-rtos/zephyr/commit/6789ecbd5e13cc19e69f25314cf486493df9dde3 .

And I still get:
[code]
@pabigot can you confirm that this is actually still happening on earlier commits ?

[2020-05-19 07:02] ABOSTM commented on #25010
Hi @nandojve ,
Good news !!
I don't know exactly what appends in your flash, but maybe previousoperations leave some images header in the secondary slot or in scratch area which make MCUBoot confused.

It is possible to use CubeProgrammer with command line (CLI).
I nerver use it by you can found information in the documentation:
https://www.st.com/resource/en/user_manual/dm00403500-stm32cubeprogra

[2020-05-19 07:28] Terstegge commented on #25378
Sorry, my fault. After installing python 3.8 everything is working now!

[2020-05-19 07:28] #25378 closed

[2020-05-19 07:54] tejlmand commented on #25183
@pabigot  @nashif  To me, it appears that this happened with Zephyr SDK 0.11.1 in this commit:
https://github.com/zephyrproject-rtos/zephyr/commit/5267a5e80976086be0b2188d0f0e3b49b53ae6e1

[code]

[2020-05-19 07:54] tejlmand commented on #25183
@galak ^^^

[2020-05-19 08:29] jfischer-phytec-iot commented on #25433
Actually any class implementation can be used as example, [subsys/usb/class/loopback.c](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/class/loopback.c) is the simple one and is also used as example in the [documentation](https://docs.zephyrproject.org/latest/reference/usb/index.html#implementing-non-standard-usb-class). There is also more complex [webusb sample](https://githu

[2020-05-19 08:30] avisconti commented on #25316
To be honest I do not know this ToF component very musch. I explored it in the past but not in details.
Anyway, my understanding now is that

1. at the beginning they share the same I2C address
2. It is possible to 'mute' a component thru the XSHUT pin
3. It is possible to configure a new I2C address on the component

Is that correct?

If so, my proposal would be to describe them in dts in the way

[2020-05-19 08:33] chris-makaio commented on #25316
that's already what I do but it has some implications like that one has to define the devices in a specific order - the XSHUT resets the device's address as well. I guess I'll check that with some DT_ magic

I just wanted to confirm if I should add a new prop (which I think would be clearer) or not

[2020-05-19 08:46] avisconti commented on #25316
In a specific order? Is it really true?

[2020-05-19 08:47] tejlmand commented on #25183
@lenhart @pabigot Seems like it doesn't find the C compiler.
Could you try to check the value in the CMakeCache.txt in build folder.
[code]

[2020-05-19 08:53] jfischer-phytec-iot commented on #25351
I can not reproduce, tested on mimxrt1050_evk.

[2020-05-19 08:57] ABOSTM opened #25437 "tests/lib/heap: sanitycheck timeout on STM32 boards"
**Describe the bug**
When running tests/lib/heap with sanitycheck on STM32 boards : nucleo_wb55rg, nucleo_l152re
the test reports timeout.
But in fact test is passed but it lasts longer than defaut 60sec timeout.

**To Reproduce**
Steps to reproduce the behavior:
1.  ./scripts/sanitycheck -s tests/lib/heap -p nucleo_l152re
2. See timeout

**Expected behavior**
Test Passed

[2020-05-19 09:03] FRASTM commented on #14066
I have a PR https://github.com/zephyrproject-rtos/zephyr/pull/19026  for adding the low power on stm32l4r5. This is based on a low power timer LPTIM and supports SLEEP Mode 1,2,3 as STOP 0,1,2
DEEP sleep states as STANDBY and Shutdown requires a wakup through user button (or RTC auto-wakeup feature which is not implemented yet)

[2020-05-19 09:04] pfalcon commented on #25409
@andrewboie: I hope nobody would disagree, but:

1. There're price to pay for lack of clarity/consistency too - developer comfort, and just outright mistakes (because not everyone, especially novices, will know that "you just need to do extra legwork there", some will just miss it out confused by inconsistency). So, as long as there's a clear gradient of "better" direction, and the change is simpl

[2020-05-19 09:16] cvinayak opened #25440 "Bluetooth: controller: ensure deferred PDU populations complete on time"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, PDU fields needing scheduling calculations inquired from ticker are deferred from prepare callback with the belief that these calculations complete and store valid values into PDUs by the start tick. There is no check at start tick for validity of the populated PDUs.

**Describe the solution you'd like**
Add a mecha

[2020-05-19 09:28] tejlmand commented on #25183
Zephyr SDK does not contain `xtensa-esp32-elf-gcc`, and hence `ZEPHYR_TOOLCHAIN_VARIANT=zephyr` will not work.

If setting up the `espressif` toolchain according to: https://docs.zephyrproject.org/latest/boards/xtensa/esp32/doc/index.html?highlight=espressif_toolchain_path#set-up-build-environment and sets `ESP_IDF_PATH` when building, then everything works.

[code]

Closing, as this is working.
I

[2020-05-19 09:56] icephyr opened #25442 "Does Zephyr support USB host mode ?"
Hi Everyone,

Now I am developing the NXP MIMXRT 1050 EVK board with zephyr system and everything goes well till now. But I notice that in the development guide page of  MIMXRT EVK, it describes that " Only USB device function is supported in Zephyr at the moment."， But the USB on the EVK should work in host mode, according to our design and requirements. So I wonder if the USB Host mode has been

[2020-05-19 09:57] henrikbrixandersen commented on #25337
@galak I would say that LEDs as GPIOs would be a sane default. Board specific overlays in the PWM samples could very well be the best way of handling this.

[2020-05-19 10:08] pabigot commented on #25183
Thanks, I've looked into it further, and I think this is still a bug.

#25441 produces the failure in this PR when set up in this environment:
[code]
The reason seems to be that `ZEPHYR_SDK_INSTALL_DIR` take precedence over `ZEPHYR_TOOLCHAIN_VARIANT`, which appears to have been introduced by the commit identified.

We used to be able to change `ZEPHYR_TOOLCHAIN_VARIANT` and have it take effect.  I

[2020-05-19 10:13] jfischer-phytec-iot commented on #25442
Still not supported.

certainly not, except Linux based OS.

closing in favour of #12386

[2020-05-19 10:13] #25442 closed

[2020-05-19 10:29] utzig commented on #25010
Confirming does actually write the `confirmed` flag to the primary slot, so probably there was some garbage there already (not previously erased!?).

I use: https://github.com/stlink-org/stlink. `st-flah erase` for mass erase, and `st-flash write <bin-file> <address>` for write (preceeded by sector erase).

[2020-05-19 10:34] lindemer opened #25444 "No IPv6 routes from BLE IPSP node (NRF52840DK)"
**Describe the bug**
The `sockets/echo_client` sample compiled with Bluetooth support for the NRF52840DK is unable to send IPv6 packets to any destination, even the Bluetooth interface it is connected to. However, I am able to assign the device an IPv6 address and ping it from the host by following the guide in the Bluetooth IPSP sample documentation.

Strangely, the device can gain network access

[2020-05-19 10:46] icephyr commented on #25442
Thanks for your reply. So only Linux based OS supports USB host mode ?
What about freertos or rt-thread, etc.

[2020-05-19 11:16] henrikbrixandersen commented on #25337
Another approach to the same issue for STM32 boards was taken by @erwango in #25288.

[2020-05-19 11:30] galak commented on #25382
Let's discuss it a little in this issue first.

@Abhishek-brcm can you explain the use case a bit more for PCIe EP.  I'd expect that the host system would be configuring the EP BARs to convey the PCIe bus address space to the EP.  So what exactly is the ranges property in the DTS describing?

[2020-05-19 12:07] TTJO opened #25447 "cf_set() returns 0 when no cfg is available"
In gatt.c @ cf_set(), the function returns with success (0) when no cfg is available.

`
        cfg = find_cf_cfg_by_addr(id, &addr);
	if (!cfg) {
		cfg = find_cf_cfg(NULL);
		if (!cfg) {
			BT_ERR("Unable to restore CF: no cfg left");
			return 0;
		}
	}
`

The function should probably return
`return -ENOMEM;`
when no cfg is available.

The impact on my progress is currently not assessed. Just f

[2020-05-19 12:08] tejlmand commented on #25183
@pabigot you're correct. It is a bug.
Thanks for the details regarding this as a mix of Zephyr SDK Tools and 3rd party toolchain.
Fixed here: #25446

[2020-05-19 12:23] JordanYates opened #25448 "serial: uart_nrfx_uarte: poll & async TX infinite hang"
**Describe the bug**
When using uarte_nrfx_poll_out and uarte_nrfx_tx from different threads in the same application,
the poll_out thread can block forever, and all calls to uarte_nrfx_tx will result in failure.

This is a continuation of issue #22264

**To Reproduce**

1. Setup a nrf52840dk to use the UARTE driver.
2. Add 2 threads to any sample, one of which calls printk in a loop, the other whi

[2020-05-19 12:25] JordanYates commented on #25448
@Mierunski looks like the previous fixes didn't hit all the edge cases. Unsure whether my initial testing of the fix was insufficient, or if the problem crept back in.

[2020-05-19 12:29] galak commented on #25337
It would work, just means punting the issue to 2.4.  The problem will come up again when we move pinmux data to DTS.  So I'd say we try and make a decision about it now if we can.

[2020-05-19 12:31] erwango commented on #25313
This is in line with what I proposed here:
https://github.com/zephyrproject-rtos/zephyr/issues/24745#issuecomment-630166439
Though, if we decide there's a generic alternate node label that should be used for zephyr samples and tests, should it be called with something like `zephyr_usbd`?

[2020-05-19 12:33] nandojve commented on #25010
Thank you guys!
Now I need to do some homework.

[2020-05-19 12:42] JordanYates commented on #25448
And of course I then realize its a thread priority issue, nothing to do with the driver itself.
Apologies.

[2020-05-19 12:42] #25448 closed

[2020-05-19 12:47] #25427 closed

[2020-05-19 12:48] #25366 closed

[2020-05-19 13:59] erwango commented on #25293
@bpbradley, I've tested `hid-cdc` and `cdc_acm_composite`, they're failing also on my side (nucleo_f429zi), can you raise an issue so that we can investigate ?

[2020-05-19 14:16] rlubos commented on #25444
Just as quick feedback - I wonder if the issue is in Zephyr or Linux kernel. I recall having issues with TCP connectivity, when I was using newer Linux kernel (5.4). Once I switched back to 4.14 it worked fine again, so there could be some compatibility issue with newer version - again, not sure on which side, I'm not that deep into BLE IPSP.

[2020-05-19 14:30] bpbradley commented on #25293
Yes I will do that. Thanks for looking into it!

[2020-05-19 14:56] bpbradley opened #25452 "Some USB samples targeting stm32 are malfunctioning"
# Description

This is a followup issue from #25293

USB samples ```cdc_acm_composite``` and ```hid_cdc``` are compiling without warning or error, and flashing fine, but the device malfunctions when connected to a host (Unknown Device: Device Descriptor Request Failed on Windows 10). All other usb device functionality which I was able to test (cdc, hid, console) work correctly. The problematic sam

[2020-05-19 15:10] emob-nordic commented on #23980
Ok. I know why it clogs. I do not know how to fix that but at least I know the issue. The problem is [here](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/usb/device/usb_dc_nrfx.c#L1016). After some time this condition is not true (buffer overflows or whatsoever - I did not check that yet). Because of that [nrfx_usbd_setup_data_clear](https://github.com/zephyrproject-rtos/zephyr/

[2020-05-19 15:12] #25183 closed

[2020-05-19 15:14] #25287 closed

[2020-05-19 15:18] #25196 closed

[2020-05-19 15:19] #24660 closed

[2020-05-19 15:27] ABOSTM opened #25453 "tests/posix/common fails on nucleo_wb55rg"
**Describe the bug**
tests/posix/common fails on nucleo_wb55rg

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p -b nucleo_wb55rg tests/posix/common/
2. west flash
3. See error

**Expected behavior**
Test Passed

**Screenshots or console output**

**Analysis**
The function ` test_posix_realtime()` read current time by 2 different ways and compare both results
[code]
Unfortunately

[2020-05-19 15:28] #25216 closed

[2020-05-19 15:37] jfischer-phytec-iot commented on #25452
cdc_acm_composite has 6 endpoints + 1 control endpoint
hid_cdc has 8 endpoints + 1 control endpoint

STM32F429ZI does not have enough endpoints to work with this samples:
OTG_FS: 4 bidirectional endpoints
OTG_HS: 6 bidirectional endpoints

[2020-05-19 15:58] bpbradley commented on #25452
I just discovered the same issue. I actually changed the number of bidirectional endpoints in the dts to 7, and it works. I am not entirely sure where the number 4 came from. The reference manual shows there is only one bidirectional, three in, and three out endpoints.

[2020-05-19 16:13] carlescufi commented on #21061
API meeting 19th May:

- #25411 needs more work and prototyping, deferred until 2.4.0
- Need to decide whether we want a very shorthand way of expressing the properties (`@funcprop sleep`) or a more explanatory description in each function (which then requires copy-pasting definitions everywhere).
- No postprocessing of header files whatsovere, whatever is in the `.h` file gets rendered directly b

[2020-05-19 16:23] carlescufi commented on #18970
API meeting 19th May:

Plan of action to document the expected behavior of public API functions in Zephyr:

- [ ] Define the format to be used in the header files (#25411)
- [ ] Begin with a slice of the kernel, for example `k_pipe` and `k_mutex` (TBD). @pabigot volunteers to do this and then have it reviewed by all.
- [ ] Evaluate any changes required to the property list (or their definitions)
-

[2020-05-19 16:24] jukkar commented on #25444
Can you set `CONFIG_NET_L2_BT_ZEP1656=y` and try again? See explanation of this option in `subsys/net/l2/Kconfig`

[2020-05-19 16:51] andrewboie commented on #24713
I'll just close this, the few test setups that create complex hierarchies of threads need to be written to clean up after themselves properly and can be dealt with on a case-by-case basis if they don't

[2020-05-19 16:51] #24713 closed

[2020-05-19 16:53] carlescufi commented on #3694
Closing in favor of #18970

[2020-05-19 16:53] #3694 closed

[2020-05-19 17:06] marc-hb commented on #9947
@tejlmand why not, however I won't be able to personally resume work on this in the short or medium term.

[2020-05-19 17:17] carlescufi commented on #25337
Release meeting: Decided to follow the approach in #25288 for the 5 boards listed here. @galak will follow-up with a PR.

[2020-05-19 17:18] carlescufi commented on #25251
@vonhust and @ruuddw will you take a look for ARC-based platforms please?

[2020-05-19 17:19] #25319 closed

[2020-05-19 17:28] carlescufi commented on #25283
@pabigot could you please try to reproduce?

[2020-05-19 17:41] carlescufi commented on #25328
@trond-snekvik if you have a micro:bit and can take a look at this it would be great.

[2020-05-19 17:47] aurel32 commented on #25452
The explanation is given in this commit (or at least I hope): https://github.com/zephyrproject-rtos/zephyr/commit/7688f490652a58a4485d6eeb41aeeea15ba0fd77

[2020-05-19 17:50] carlescufi commented on #25379
@NilsMinor you don't need a bootloader, just build and flash the app.
Can you try `samples/bluetooth/beacon` first and see if you can scan that using your mobile phone first?

[2020-05-19 17:51] bpbradley commented on #25452
Ah, I am glad you found that. That clears things up. Thanks!

[2020-05-19 17:54] carlescufi commented on #25447
@TTJO would you mind sending a PR? This is a trivial change and a good first Pull Request.

[2020-05-19 17:54] pabigot commented on #25346
@alexsven Do you require setting `CONFIG_SYS_CLOCK_TICKS_PER_SEC=1000`?  Using ticks-per-second that is not a power of 2 on Nordic platforms causes problems because the duration of a tick becomes 327 ticks of a 32768 Hz clock.  If your application works leaving this at the default 32768 it would be better to keep it there.

FWIW: 08:32 is 512 s which is the point where the 24-bit 32 KiHz counter w

[2020-05-19 17:56] andrewboie commented on #22521
Investigating this bug but I'm having trouble reproducing it.

[2020-05-19 18:17] nashif opened #25458 "Multiple issues with timing benchmark"
**Describe the bug**

- New HW and timers are not supported resulting in wrong and bogus data
- Some features were dropped but we still have those listed as being benchmarked
- Need a general overhaul and cleanup after various kernel and device handling changes, i.e. new timeout APIs, 64bit support, SMP, etc.
- Need to enhance abstraction of architectures and timers

**To Reproduce**

Run timing_i

[2020-05-19 19:25] pabigot commented on #25260
AFAICT this should have been fixed by af43e14bd0dbcdb0595b1e6620f85fd3513a9eaa.

Could you please confirm @jenmwms @dcpleung ?

[2020-05-19 19:47] NilsMinor commented on #25379
@carlescufi ok I found the bug and it was my fault! I designed the hardware my self and I missed something! I was not able to build the beacon example with the **nrf52dk_nrf52832** setup but with the **nrf52_vbluno52** board config. The different was that the nrf52dk enables the DCDC converter that I did not connected on my hardware. So the dcdc startup went wrong and stopped the zephyr. I switche

[2020-05-19 19:47] #25379 closed

[2020-05-19 19:54] jfischer-phytec-iot commented on #25313
What is wrong with just `usbd` ?

[2020-05-19 20:09] pabigot commented on #25334
You're missing one piece:
[code]

The nrf51822 dtsi doesn't provide a compatible for spi1, leaving it to the user to select between `nordic,nrf-spi` and `nordic,nrf-spis`.  In other nRF51 boards this is defaulted in the board dts file; that wasn't done on microbit.

If you add that to your devicetree source it should build correctly.  Please confirm.

[2020-05-19 20:12] pabigot commented on #25334
You may want to update to the latest Zephyr master (and to 2.3.0 when it's released later this month).  I can confirm failures against master, but the way it fails is different due to recent changes to the devicetree tooling.  I tested against master.

[2020-05-19 20:35] pabigot commented on #25260
af43e14bd0dbcdb0595b1e6620f85fd3513a9eaa fixed the assignment to a nominally const structure; #25462 preserves the qualifier in the helper macro and casts.  I don't know if there's anything else to do.

[2020-05-19 20:36] dcpleung commented on #25260
https://github.com/zephyrproject-rtos/zephyr/commit/af43e14bd0dbcdb0595b1e6620f85fd3513a9eaa is simply for the PCIE code to not change the config struct. I haven't vetted anywhere else in the code, so can't say for sure.

[2020-05-19 22:52] andrewboie commented on #25389
Initial MMU virtual memory enabling will not reserve virtual addresses at build time, this may be a future enhancement however if there is sufficient interest.

[2020-05-19 23:30] andrewboie opened #25466 "log build errors are not helpful"
This is from messing up one variadic argument to a LOG_ERR() statement:

[code]

[2020-05-19 23:43] andrewboie commented on #25466
Oh lordy, this is even better:

[code]

What is `log_arg_t *`?

Can we please log messages without having to go through the preprocessor Dance of A Thousand Veils? This is a horrifying end user experience. What is all this trying to accomplish??

[2020-05-20 00:23] jenmwms commented on #25260
Thanks for asking! Great questions. I recognize #25462 looks to provide the minimal changes remaining to resolve the issue after af43e14 merged, however please reconsider the existing PR #25274 (which already contains these changes) along with improved consistency related to this topic.

[2020-05-20 00:41] paulvohs opened #25468 "FRDM_K82F DTS missing information for ADC-0"
To my understanding, in order to enable a CPU feature that is disabled by default, an entry of the form
&feature {
    status="okay"
};
must be added into the board DTS. I added this to enable ADC functionality to the FRDM_K82F DTS and it failed to compile.

A coworker of mine figured out that there is a missing
#io-channel-cells = <1>;
in the file zephyr/dts/arm/nxp/nxp_k8x.dtsi. I am not sure if

[2020-05-20 01:31] mbolivar-nordic opened #25469 "Fix devicetree documentation for new API"
The devicetree documentation contains errors and is missing descriptions due to late-breaking semantic changes which had to go in before code freeze. This issue tracks the necessary work I'm aware of. Release notes are tracked separately in #22637.

- [x] DTC_OVERLAY_FILE description says colon-separated, that's wrong (https://github.com/zephyrproject-rtos/zephyr/pull/25470)
- [x] centralize docum

[2020-05-20 03:28] nandojve opened #25471 "disco_l475_iot1 don't write last small block"
**Describe the bug**
UpdateHub uses subsys/dfu/img_util structure to interact with system flash. The current subsys/dfu/img_util over disco_l475_iot1 isn't work when try right last block with small data block.

**To Reproduce**
1. clone https://github.com/UpdateHub/zephyr/commits/topic/uhu_wifi
2. set variables at samples/net/updatehub/prj.conf
CONFIG_UPDATEHUB_WIFI_SSID="wifi network"
CONFIG_UPDA

[2020-05-20 03:30] chen-png commented on #25196
for nrf platforms, the tests/portability/cmsis_rtos_v2 is passed, **but it seems that causing it failed on up_squared board.**

*** Booting Zephyr OS build v2.3.0-rc1-175-gec9a4139834a  ***
Running test suite test_cmsis_v2_apis

starting test - test_kernel_apis
PASS - test_kernel_apis

starting test - test_delay
PASS - test_delay

starting test - test_thread_apis
PASS - test_thread_apis

starting

[2020-05-20 05:44] hakehuang commented on #25351
@jfischer-phytec-iot, I find it can only reproduce on one of my mimxrt1050_evk board, so looks like a board related issue. So close this issue. Thanks

[2020-05-20 05:44] #25351 closed

[2020-05-20 06:35] lindemer commented on #25444
Thanks for the quick feedback. I tried again with `CONFIG_NET_L2_BT_ZEP1656=y` but it doesn't fix the issue.

[2020-05-20 06:44] icephyr commented on #25442
Hi Guys, I'd like to add some information about my project for your futher analysis.

Now I am working to develope a board with MIMXRT 1050, it collects data from sensor and send the data to the server with LTE dongle module. The MIMXRT is connected with LTE module by USB. So the MIMXRT should be in host mode while the LTE in device mode, in my understanding. Since  " Only USB device function is s

[2020-05-20 07:14] Abhishek-brcm commented on #25382
That's right from RC point of view. Host would configure EP BAR to convey its RC's PCIe address space. It is later used by EP to route the inbound transactions.

Here, we are talking about the outbound transactions from EP, wherein EP would map Host address(to be read/write) to its outbound memory to generate outbound transaction.
We want to parse the outbound memory regions supported by EP to be

[2020-05-20 08:05] Navin-Sankar opened #25474 "ipv6 client-server between ble's failed"
**Describe the bug**
Trying to establish ipv6 client-server between two ble board's (disco_l475_iot1 as ipv6 server) , (96b_nitrgen as ipv6 client).  But getting bind failure error. Error no: 49

Source code for both the server and client is attached.

**Server Implementation**

**prj.conf**
[code]

[code]

**BLE client implementation**

**prj.conf**
[code]
**main.c**
[code]

**Expected behavior**

[2020-05-20 08:21] jukkar commented on #25444
Indeed, the stale status should happen after a timeout and not immediately. I wonder if this is similar issue that I was seeing with IPv6 address and prefix timeouts in #22733

[2020-05-20 08:32] #25337 closed

[2020-05-20 08:32] #25437 closed

[2020-05-20 08:34] #25270 closed

[2020-05-20 08:34] #24978 closed

[2020-05-20 08:53] TTJO commented on #25447
Yes... I will do that

[2020-05-20 09:16] carlescufi commented on #25452
@erwango this seems resolved now, please close this if you think it's appropriate.

[2020-05-20 09:17] carlescufi commented on #25433
@jamesrosssharp as per the explanation by @jfischer-phytec-iot it seems your request is addressed. I will close this issue but feel free to reopen if you need more info.

[2020-05-20 09:17] #25433 closed

[2020-05-20 09:17] #25452 closed

[2020-05-20 09:19] carlescufi commented on #23474
@jfischer-phytec-iot please try to reproduce and, if not reproduceable anymore, please close.

[2020-05-20 09:20] carlescufi commented on #23111
@sslupsky can this be closed now?

[2020-05-20 09:22] carlescufi commented on #25442
Your assumption is correct. Zephyr is currently not capable of acting as a USB Host and therefore you will not be able to achieve what you want at the present time with Zephyr. However, there will be more than just having USB Host support to achieve what you want.
cc @MaureenHelm

[2020-05-20 09:34] chen-png commented on #23474
maybe we can close this, this issue hasn't occurred in daily test more than 2 weeks recently

[2020-05-20 09:46] jfischer-phytec-iot commented on #25442
The host stack alone will probably not fulfill the requirements for your project. AFAIK Zephyr supports at least one LTE modem connected over UART.

[2020-05-20 09:51] pabigot commented on #25196
@chen-png please open another issue for that failure, which could instead be due to unrelated recent changes to that platform.

[2020-05-20 09:52] LeBlue commented on #21107
@cvinayak @jhedberg
Sorry for the long time, I did not have time to work on this.
The flash driver patch did not change anything.

I did some more digging and found out the following (same behaviour on 2.2.0 and 2.3.0-rc1), backtraces are from v2.3.0-rc1 (fault in frame 6).

#### backtrace of imprecise bus fault

[code]
#### Frame 6

memq_enqueue (faulty value is at `r4 == (*tail)`. The writing to

[2020-05-20 09:52] carlescufi commented on #25468
@paulvohs enabling a feature is done through a combination of Devicetree and Kconfig. The particular error you are getting doesn't ring a bell but I am sure that @MaureenHelm or @galak will be able to point you to the right direction.

[2020-05-20 09:53] carlescufi commented on #25474
@Vudentz would you mind taking a quick look at the code to see if you spot something?

[2020-05-20 10:09] #24509 closed

[2020-05-20 10:30] Abhishek-brcm opened #25477 "dts: arm: Incorrect GIC interrupt spec order for AArch64 SoCs"
I noticed in the `devicetree_unfixed.h` that Priority and Flags are swapped in the parsed `interrupts` property.

We have been specifying interrupts like below:
[code]
For example:
[code]
For this DT parsing script has generated below @ `devicetree_unfixed.h`:
[code]
It can be seen that flags and priority has been swapped.

So, either we can modify parsing logic or swap DT properties.

[2020-05-20 10:38] stephanosio commented on #25477
It's supposed to be: `interrupts = <type irq_num irq_flags irq_priority>;`

https://github.com/zephyrproject-rtos/zephyr/blob/fb35591f1eea49e97dabd2467d15df004690defa/dts/arm/xilinx/zynqmp.dtsi#L23-L31

[2020-05-20 10:44] stephanosio commented on #25477
We need to fix the AArch64 dts.

[2020-05-20 10:48] Abhishek-brcm commented on #25477
@stephanosio Thanks for the reference.
We have been following `qemu-virt-a53.dtsi` as example, which caused this error.

[2020-05-20 10:50] stephanosio commented on #25477
@Abhishek-brcm It would be great if you could do that.

[2020-05-20 10:51] Abhishek-brcm commented on #25477
Sure, I will rectify arm64 DTs.

[2020-05-20 10:52] carlocaione commented on #25477
While fixing this can we keep the Linux order by having the flag as latest parameter?

[2020-05-20 10:55] stephanosio commented on #25477
@galak IIRC, you suggest the current order. What do you think?

[2020-05-20 11:06] Abhishek-brcm commented on #25477
Holding off PR in case we decide to go other way- i.e. change order by having flags at last parameter.

@stephanosio @carlocaione Linux anyway does not support parsing interrupt priority, right?

[2020-05-20 11:07] carlescufi commented on #25308
@sjg20 here is a current run-down of simulation of hardware using native_posix today in Zephyr:

- Bluetooth Low Energy uses [BabbleSim](https://babblesim.github.io/) with a set of [hardware models](https://github.com/zephyrproject-rtos/nrf_hw_models) that transform the hardware access to registers to send information to the BabbleSim simulator. (cc @aescolar)
- Flash access uses a [simulated driv

[2020-05-20 11:29] TTJO opened #25478 "settings_runtime_set() not populating bt/cf"
When calling settings_runtime_set() for bt/cf the function will return without errors, but when reading the characteristic the cf-value have not been updated.

I have debugged on this issue in a test setup with the aim to verify that changes to the CF characteristic is reported to the app and can be repopulated again after a reboot.

Steps to reproduce:
1. Connect Master
2. Read CF characteristic

[2020-05-20 11:30] #25260 closed

[2020-05-20 11:31] aescolar commented on #25308
Minor correction / expansion to @carlescufi list:
* In [native_posix, peripherals](https://docs.zephyrproject.org/latest/boards/posix/native_posix/doc/index.html#peripherals)  are mostly mapped to real host HW, but some are just "emulated" (like flash being a file) :
  * Bluetooth Low Energy uses a real HCI adapted attached to the host
  * Ethernet is mapped to a TAP device
  * USB uses the Linux

[2020-05-20 11:42] carlocaione commented on #25477
Correct.

[2020-05-20 11:43] stephanosio commented on #25477
For reference:
https://github.com/torvalds/linux/blob/115a54162a6c0d0ef2aef25ebd0b61fc5e179ebe/Documentation/devicetree/bindings/interrupt-controller/arm%2Cgic.yaml#L57-L79

[2020-05-20 11:44] emob-nordic commented on #23980
Hi @mkarhumaa,

The issue was introduced when addressing another issue #11232 with #11713 pr.
If You want to proceed with Your solution You can apply this temporary workaround:

[code]

I am however working on more elegant solution as the code that was introduced in #11713 isn't quite what we want.

[2020-05-20 11:46] carlescufi commented on #25308
Thank you @aescolar for all the extra info!

[2020-05-20 11:52] mkarhumaa commented on #23980
Hi @emob-nordic,

Thank you, your proposed workaround seems to fix the problem!

[2020-05-20 12:09] pdunaj opened #25480 "Unconditional source of shield configs can mess up configuration"
**Describe the bug**
Unconditional inclusion of shields kconfig is problematic as some of these duplicate a genuine config options and mess the zephyr configuration.
https://github.com/zephyrproject-rtos/zephyr/blob/master/Kconfig.zephyr#L23

see: `UART_INTERRUPT_DRIVEN` (uart option) and `boards/shields/sparkfun_sara_r4/Kconfig.defconfig`

**To Reproduce**
Steps to reproduce the behavior:
N/A

**

[2020-05-20 12:23] pabigot commented on #25260
@jenmwms I thought this might get more trade-off discussion relative to #25274 which you've been working.  I think you should be able to rebase #25274 on top of master to get your additional changes in.

[2020-05-20 12:34] erwango commented on #25480
@pdunaj can you be more specific in your description ?

The line the line you're pointing at is not a board Kconfig file, but a shield Kconfig file and is already included under following conditions:
[code]

I don't exclude potential issues, but this deserve more detailed description.

[2020-05-20 13:08] alexsven commented on #25346
@pabigot Not necessarily no. We used to have this set, and it worked fine, but then when we moved to 2.3.0-rc1 we experienced a lot of weird issues. Since the HW has not changed, there has to be a  bug either in the new code or in the old that didn't have a problem with CONFIG_SYS_CLOCK_TICKS_PER_SEC=1000.

Also, in the help section of the config we find this: "The optimal values from a computatio

[2020-05-20 13:23] pabigot commented on #25346
What version did you move from?  The default has been 32768 for a couple releases.

I wouldn't be terribly surprised if there's a bug in the code.  The cumulative error that results from a non-integral divisor could be an issue too.

The config help is outdated as it was written in a world where people assumed the system clock ran at 1 MHz.  It needs to be rewritten.  I'll open an issue for that.

[2020-05-20 13:29] pabigot opened #25482 "outdated recommendations for SYS_CLOCK_TICKS_PER_SEC"
The documentation for Kconfig `SYS_CLOCK_TICKS_PER_SEC` assumes that the system clock runs at 1 MHz; other values will not produce the granularity described.

The recommendation should also be more clear that the optimal value is one that when multiplied by a power of two produces the frequency; otherwise the reference to bit-shifting is incorrect.  The specified values are very wrong for Nordic,

[2020-05-20 13:32] ruuddw commented on #25251
Checked, no issues (ARC EMSK and other boards have a different type of pinmux called pmodmux, no DT relation currently).

[2020-05-20 13:39] pfalcon commented on #25407
Reopening, as there're more work to do (https://github.com/zephyrproject-rtos/zephyr/pull/25443).

[2020-05-20 13:44] kruithofa opened #25483 "Bluetooth: controller: split: feature exchange not conform V5.0 core spec"
The definition for a PDU in the Feature-Response PDU has changed in V5.0 to:
**The LL_FEATURE_RSP CtrData consists of one field:
• FeatureSet[0] shall contain a set of features supported by the Link Layers of
  both the master and slave.
• FeatureSet[1-7] shall contain a set of features supported by the Link Layer
  that transmits this PDU.**

The code has the following implementation:
**The LL_FE

[2020-05-20 13:50] emob-nordic commented on #25398
Sorry, that was a mistake.

[2020-05-20 14:00] galak commented on #25313
Since the label is zephyr specific we need to name it as such.

[2020-05-20 15:10] sslupsky opened #25489 "drivers: modem_cmd_handler: uninitialized variable used"
I found an uninitialized variable being used in cmd_handler_process() in modem_cmd_handler.c.  In the following snippet, len is used in the function call but is has not been initialized or otherwise assigned anywhere else in the function:
https://github.com/zephyrproject-rtos/zephyr/blob/8af71872557e8651f6ea9e6cb2f71c5036d555f2/drivers/modem/modem_cmd_handler.c#L338-L342

len is declared at the be

[2020-05-20 15:13] sslupsky commented on #25489
Oops.  Len is defined.  Closed.

[2020-05-20 15:13] #25489 closed

[2020-05-20 15:35] pfalcon commented on #25453
This is very similar to https://github.com/zephyrproject-rtos/zephyr/issues/25017. And this report doesn't include Zephyr git revision to reproduce against, so first suspicion one may get is that an outdated tree might have been used (before the fix for #25017).

[2020-05-20 15:41] LeBlue commented on #21107
@cvinayak Added a script that I use for reproducing the crash: https://github.com/LeBlue/zephyr-memq-bug-tools

[2020-05-20 16:00] galak commented on #25477
I wanted to keep flags property in the same location as the linux binding.

[2020-05-20 16:02] galak commented on #25477
Linux has the flags as the last field because it doesn't encode priority,  thus I wanted to maintain the order being the 3rd cell with linux.  So lets fix the DTS files to correctly encode this with flags being 3rd and priority being 4th.

[2020-05-20 16:28] galak commented on #25382
What address space are the ranges mapping between?

Is there a reference to a linux dts that is using ranges as you mention?  I glanced at several EP bindings but didn't seem ranges used in them like (Documentation/devicetree/bindings/pci/nvidia,tegra194-pcie.txt and designware-pcie.txt).  I even seen comments like:

From `designware-pcie.txt`:

[code]

[2020-05-20 16:43] mbolivar-nordic opened #25493 "devicetree: nRF5340 application core DTSI is missing cryptocell node"
**Describe the bug**

The nRF5340 SoC's application core [has a cryptocell peripheral](https://infocenter.nordicsemi.com/index.jsp?topic=%2Fps_nrf5340%2Fkeyfeatures_html5.html), but this is not available in the corresponding DTSI.

Now that entropy sources have moved to DTS's zephyr,entropy chosen node from Kconfig's CONFIG_ENTROPY_NAME, this means users can no longer easily instantiate devices fo

[2020-05-20 17:20] galak opened #25496 "Support using DTS alias as a path anchor reference similar to node label"
Add support for being able to do something like:

[code]

The intent here is being able to use an alias to reference a node to make modifications to it.

[2020-05-20 17:23] galak commented on #25313
PR https://github.com/zephyrproject-rtos/zephyr/pull/25495 to address a precursor aspect of this issue (ie, sanitycheck doesn't build anything for these samples).

[2020-05-20 17:40] jenmwms commented on #25260
@pabigot Ok, I will do that.

[2020-05-20 18:32] drandreas commented on #25215
@tejlmand Thank for your adding the extension feature. I've tested it with the code below.
[code]

[2020-05-20 18:37] tyrantlizard77 opened #25497 "arbitrary futex pointers"
**Is your enhancement proposal related to a problem? Please describe.**
Right now, all `k_futex` objects, even though they can live in user memory, must be known to the kernel at build time.

This is because all `k_futex` pointers found are placed in the system's kernel object table generated by gperf. When a thread later makes a call like `k_futex_wait()`, the address of the futex is looked up in

[2020-05-20 18:44] Abhishek-brcm commented on #25382
For EP, we do not give fixed mapping through the DT node. We only have to give the available outbound region. The Host address(PCIe address) to be mapped changes runtime and is passed to the PCIe driver by the requester. That is the core functionality of EP driver.

As I had mentioned in above comment, "In Linux, while RC node has support for parsing outbound memory regions as explained in the iss

[2020-05-20 19:17] biwecka opened #25499 "Out of tree board: No sources given to target"
Hi,

I'm trying to port the Arduino Nano 33 BLE Sense to Zephyr. I started working in the zephyr-tree of a west workspace by copying the board definition of the "nrf52840dk_nrf52840" and modified it. First I changed the definition of the LED pins and tested it with the sample/basic/blinky example. It worked as expected. But as I tried to to extract my board definition to be part of a seperate proj

[2020-05-20 19:25] saewoonam commented on #25334
Great!   Thanks for taking the time to respond to my issue.   I am sorry that I am a newbie and didn't realize that I needed to add that line.  I will try to update against the new master after I see if the SPI bus actually works with a device...

[2020-05-20 19:25] #25334 closed

[2020-05-20 19:39] galak commented on #25382
Based on slack discussion for the brcm EP use case encoding should be done as part of the `reg` property.

If there's a desire to support PCIe RC in Zephyr please let us know as there's a bit of support we'd need to add to the devicetree scripts to handle a PCIe address space and bus parsing which doesn't exist today.

[2020-05-20 19:53] MaureenHelm commented on #25468
Yes, this is a bug in the soc device tree. The dts fix is easy, but I'd like to also enable `tests/drivers/adc/adc_api` for this board while we're here. I can work up a PR, but I don't have access to the hardware right now so I'll need your help to test it.

[2020-05-20 20:01] erwango opened #25501 "shields: mikroe_eth_click config should be made conditional"
**Describe the bug**
mikroe_eth_click provides a static configuration.
This kind of configuration used to create portability issues in application (cf https://github.com/zephyrproject-rtos/zephyr/pull/20934)
It should be reworked to be conditional (.defconfig), as done in other shields

Something like (pseudo code):
[code]

[2020-05-20 20:03] erwango commented on #25501
@agansari sorry for late feedback, but I didn't think this would go in 2.3

[2020-05-20 20:34] pabigot commented on #25283
I can't duplicate this on `atsamd21_xpro`.  From what I can tell the timer operates correctly within the limits of the SAM D21 WDT.

Allowed intervals are 8 ms * 2^k for k in [0, 12), i.e. 8 ms, 16 ms, 32 ms, ..., 8 s, 16 s.  Ignoring windowed mode, the configured period is rounded up to the smallest duration not less than the requested duration.  The warning interrupt (when enabled) fires at half

[2020-05-20 20:35] sslupsky commented on #23111
@carlescufi I haven't had a chance yet to look into the brk issue @jfischer-phytec-iot mentioned.  I'll try to do that next week.

[2020-05-20 21:07] carlescufi commented on #25444
@rlubos @jukkar from Slack:

[code]

[2020-05-20 22:02] kaysievers commented on #25316
(just landed here because I was looking if anyone had success with the new vl53l3cx hardware :))

They get entirely shut down/disabled as long as the pin is toggled. They re-appear with the default address.

Common practice seem to be to disable all of the devices at the same bus, then enable one-after-the-other and assign a new addresses to all of them.

It would not matter if all devices get a n

[2020-05-20 22:02] dleach02 commented on #25312
@hakehuang, I'm going to close this as invalid. The sample.yaml lists netif as a dependency which is not part of the rt1010 evk board feature set so this should not have been part of the test run. The sanitycheck script skips this because of the netif dependency.

[2020-05-20 22:02] #25312 closed

[2020-05-21 00:37] nashif commented on #23799
@nordic-krch  @Mierunski  @carlescufi  ping!

[2020-05-21 01:23] chen-png commented on #25051
the test is passed on sam_e70_xplained, maybe it's caused by my testing environment before.

[2020-05-21 01:27] chen-png commented on #25051
for up_squared, this test is passed now due to #25384

[2020-05-21 01:34] chen-png opened #25507 "up_squared:tests/portability/cmsis_rtos_v2 failed."
**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/portability/cmsis_rtos_v2
2. west flash ~/up_squared.sh
3. See error

**Screenshots or console output**

*** Booting Zephyr OS build v2.3.0-rc1-210-gac898bc49ea8  ***
Running test suite test_cmsis_v2_apis

starting test - test_kernel_apis
PASS - test_kernel_apis

starting test - test_delay
PASS - test_delay

[2020-05-21 01:35] chen-png commented on #25196
yes, i reported another issue #25507

[2020-05-21 02:47] hakehuang commented on #25312
@dlech  Thanks a lot, this is a false alart.

[2020-05-21 02:49] dlech commented on #25312
I think you mean @dleach02 :wink:

[2020-05-21 04:50] albertofloyd opened #25508 "tests: add additonal power management tests"
There are very few test cases that run power management though there are few boards that support the feature. There is a need to catch regressions and catch bugs when exercising power management when supported.
https://github.com/zephyrproject-rtos/zephyr/issues/20033 (generic)https://github.com/zephyrproject-rtos/zephyr/issues/23274 (SoC specific)

**Describe the solution you'd like**
A generic t

[2020-05-21 05:31] nordic-krch commented on #23799
This is a valid behavior (test is passing). see #20902 description:

[code]

Test just checks the stability. What about changing text that is printed to contain something like `potentially garbled` to avoid misinterpretation.

[2020-05-21 05:41] icephyr commented on #25442
Thank you guys， well noted.

[2020-05-21 06:56] Abhishek-brcm commented on #25477
IMHO flags seems like "generic" name and should be put at last: <irq_type> <irq_num><irq_priority> <irq_flags>. However, I am fine with either way. @stephanosio @galak please let me know final decision..

[2020-05-21 06:57] ghlualven opened #25509 "OpenThread SED set link mode fail"
**Is your enhancement proposal related to a problem? Please describe.**
In openthread_start() the otThreadSetLinkMode() return fail (InvalidArgs) for SED.
On my nRF52840dk_nRF52840, the initial mode is "rsdn", SED is only disable the "r", the result is "sdn", which is invalid for OpenThread.

openthread.c:
[code]

mle_types.hpp:
[code]

**Describe the solution you'd like**
Add additional statement

[2020-05-21 07:11] vonhust opened #25510 "arc EMSDP failed in tests/kernel/gen_isr_table"
**Describe the bug**
ARC EMSDP failed in tests/kernel/gen_isr_table because of wrong irq info.

**To Reproduce**
Steps to reproduce the behavior:
1. ./scripts/sanitycheck -p emsdp --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/gen_isr_table
2. See error

[2020-05-21 07:14] MarekPieta commented on #25139
Hi @mschwan-phytec. @pdunaj

I measured delay from HID report sent on nrf_desktop device (`int_in_ready` callback from `struct hid_ops` for registered Zephyr USB HID device) to receiving HID data on the host (using Raspberry Pi as host).
nrf_desktop device toggled GPIO pin on callback, Raspberry Pi toggled GPIO pin when receiving raw HID report. I opened hidraw0 device and I read it in a loop. I r

[2020-05-21 07:22] vonhust opened #25511 "arc em_starterkit_em11d failed in tests/kernel/timer/timer_api"
**Describe the bug**
arc em_starterkit_em11d failed in tests/kernel/timer/timer_api and tests/kernel/sched/schedule_api

**To Reproduce**
Steps to reproduce the behavior:
1. ./scripts/sanitycheck -p em_starterkit_em11d -T tests/kernel/timer_api --device-testing --device-serial /dev/ttyUSB1
2. See error

[2020-05-21 07:54] pdunaj commented on #25139
Thanks @MarekPieta .
Just for the record, the delay measured was below 200 us. And I bet this is mostly the propagation time from kernel to user land on the host.

[2020-05-21 07:58] Nukersson commented on #25395
@jukkar There were already sample implementation of [Websocket Server in v1.13.0](https://github.com/zephyrproject-rtos/zephyr/tree/v1.13-branch/samples/net/ws_echo_server). Why is this sample no more in newer versions of Zephyr?

[2020-05-21 07:58] chen-png commented on #25051
this test is passed on mec15xxevb_assy6853 now

[2020-05-21 07:59] pdunaj commented on #25139
Hi @mschwan-phytec , I don't think there is anything wrong in the driver. The delays indicated in the description can be explained with the measurement method used. Checking the delay using logic analyzer shows driver does not stall the data anywhere (as expected as there is no space where it could stall it). If it is stalled somewhere by your host it's hard to tell but I recommend using the GPIO

[2020-05-21 08:01] pdunaj commented on #25139
Hi @carlescufi , I am unassigning myself as there is nothing else we can say. I am leaving the ticket open in case @jfischer-phytec-iot would like to add any comment.

[2020-05-21 08:06] jfischer-phytec-iot commented on #25139
@pdunaj @MarekPieta  Thanks for explanation and testing

[2020-05-21 08:06] #25139 closed

[2020-05-21 08:17] jukkar commented on #25395
The one in v1.13 was using net_app API which was removed in v1.14. This also meant that the applications using that API were also removed. One of those apps was websocket server. We could create a server sample app for websocket using BSD sockets, but no one has so far volunteered to do it.

[2020-05-21 08:23] Nukersson commented on #25395
Thank you for very fast and good answer. I am interested in writing this implementation or rewriting the older one sample. I'll try provide a link to my pull request later.

[2020-05-21 08:26] stephanosio commented on #25477
Taking into account that we are currently in the feature freeze/bug fix phase, it would be desirable to simply fix the problem and postpone any changes/enhancements for the future (i.e. make everything align with `dts/bindings/interrupt-controller/arm,gic.yaml`).

[2020-05-21 08:58] #25511 closed

[2020-05-21 08:59] #25510 closed

[2020-05-21 09:01] #25468 closed

[2020-05-21 09:11] Abhishek-brcm commented on #25477
okay, Have submitted change to make everything aligned w.r.t. existing GIC binding @ https://github.com/zephyrproject-rtos/zephyr/pull/25514

[2020-05-21 09:15] rlubos commented on #25509
It seems that you still have FTD configuration stored in your flash? That's why it starts as FTD, even though it's configured as MTD (SED to be specific). Try to erase your flash data area (`ot factoryreset` from the shell, or `nrfjprog -e` from your host) and see if the problem persists.

In general, FTDs and MTDs use different library variants so it's wise to erase the settings area before switc

[2020-05-21 09:40] carlescufi commented on #25251
@nashif @MaureenHelm @ioannisg @jhedberg could you please check your respective platforms so we can close this soon?

[2020-05-21 10:37] #25178 closed

[2020-05-21 10:37] #25179 closed

[2020-05-21 11:56] #25477 closed

[2020-05-21 12:33] carlescufi commented on #24784
@andyross turning the crystal on by default would increase the power consumption by 230uA on all applications running on Nordic hardware. Furthermore, that approach will not solve the problem ayway for boards that use an RC low frequency clock (i.e. no 32KHz crystal present on the board).
The proposal that we discussed today is not to assume that there's a coupling between the sources and accuracy

[2020-05-21 13:01] wentongwu opened #25519 "wrong debug function cause kinds of building error"
**Describe the bug**
in scripts/elf_helper.py, function debug_die is used to dump DIE information and function debug is for common information, the step 4 of function find_kobjects is checking all the kernel objects instead of DIE which has already been checked in step 3, so we should use debug function to do the dump, debug_die will cause unforeseen errors.

[2020-05-21 13:22] nvlsianpu opened #25522 "settings: FCB back-end does not try to add record after the last compression attempt."
**bug description**
sttings key-value pair write request has build in GC mechanism called `compression`.
settings FCB back-end doesn't try to add record after the last compression attempt.
This imposes that it might be impossible to write key-value pair even that there is a room for it after back-end GC.

If the last compression made a room then subsequent write request might be successfully.

**E

[2020-05-21 13:27] wentongwu commented on #25497
if not so urgent, I will take this one.

[2020-05-21 15:04] #25289 closed

[2020-05-21 15:10] mtahirbutt opened #25526 "Sanity Check Fails:"
**Describe the bug**
A clear and concise description of what the bug is.

I wanted to contribute to the zephyr, therefore I ran sanity check on my local repo before creating PR. but it failed on my local version of repo.

What have you tried to diagnose or workaround this issue?

I tried to select specific board and tried again the sanity check but failed again.

**To Reproduce**
Steps to reproduc

[2020-05-21 15:19] mtahirbutt commented on #25471
it is a flash driver issue from zephyr-2.3-rc1. As STM32 flash drivers requires to write data in multiples of 8 which has ben changed somehow with zephyr-2.3-rc1.

[2020-05-21 15:26] microbuilder commented on #13569
Closing for lack of activity. Will reopen as PR when ready.

[2020-05-21 15:26] #13569 closed

[2020-05-21 15:27] cfriedt opened #25527 "sample and writeup for socketpair"
**Is your enhancement proposal related to a problem? Please describe.**
The socketpair(2) system call was recently added as experimental.

It would be good to have an example for using it.

**Describe the solution you'd like**
A simple sample application that demonstrates several threads communicating over several socket pairs, preferably using the BSD Sockets API and standard POSIX system calls s

[2020-05-21 15:28] pabigot commented on #24745
Detecting whether devices are now enabled that weren't before (because the gate of Kconfig enable has been removed) is very difficult to do from examining the devicetree source vs the Kconfig defaults.  A potential tool to aide in this would involve processing the final ELF script and extracting from the sequence of `struct device` instances the symbol associated with the address (which should ide

[2020-05-21 15:31] carlescufi commented on #25173
@andyross @andrewboie is this a bug or an enhancement?

[2020-05-21 15:34] carlescufi commented on #24910
@sslupsky is this resolved and, if not, can you add the info required?

[2020-05-21 15:35] carlescufi commented on #23672
@galak could you take a stab at answering the question please?

[2020-05-21 15:36] carlescufi commented on #23599
@wentongwu @ioannisg @andrewboie any ideas?

[2020-05-21 15:42] #25522 closed

[2020-05-21 15:48] galak commented on #24745
We can use a poor man's version of this by looking at the symbols in the ELF:

`readelf -a zephyr/zephyr.elf | grep " __device_"`

[2020-05-21 15:58] pdunaj commented on #25480
Hi @erwango , sure.

Below are three lines from Kconfig.zephyr
[code]

These will include Kconfig from *one* board, *one* soc and *all* shields.
Once the Kconfig file is included it is adding options to the configuration regardless if this option is under `if` or has any `depends on`. Including all shield Kconfig files make all options that are defined there public for entire zephyr repo.
And unfo

[2020-05-21 16:34] fnde-ot commented on #25478
Will try to reproduce with a standard settings backend to locate where the issue might be.

[2020-05-21 18:08] carlescufi commented on #25234
Thanks @pabigot.
@stephanosio can you take another look to see if you can reproduce? @pabigot clearly cannot.

[2020-05-21 18:09] #25493 closed

[2020-05-21 18:18] carlescufi commented on #20991
@erwango It doesn't seem this actually has a PR does it?

[2020-05-21 18:20] carlescufi commented on #23800
@nashif @tbursztyka any chance we can close this in time for 2.3.0?

[2020-05-21 18:22] carlescufi commented on #24939
@MaureenHelm could you please take a look?

[2020-05-21 18:25] carlescufi commented on #24747
@vonhust @andyross any updates on this one?

[2020-05-21 18:26] carlescufi commented on #24255
@wentongwu any chance to get a fix for this in time for 2.3.0?

[2020-05-21 18:27] carlescufi commented on #22745
@dleach02 @hakehuang is this still an issue in 2.3.0-rc1? If not, please close it.

[2020-05-21 18:28] carlescufi commented on #22625
@MaureenHelm will you revert the HAL commit that @alexanderwachter linked?

[2020-05-21 18:30] carlescufi commented on #24277
@vonhust will you have time to take a look?

[2020-05-21 18:31] andyross commented on #24747
My recommendation remains whitelisting this test on cycle-exact simulators.  It completes in a few seconds on hardware or qemu's default code generator, but looks to be two orders of magnitude slower with icount/renode/nsim.

And this is fundamentally a library test.  It doesn't interact with hardware or drivers at all, not even to do things like check time.  All we care is that we have coverage f

[2020-05-21 18:32] andrewboie commented on #25497
@wentongwu I think @jukkar was interested in picking this one up as it's needed for some network stack work he is doing, can you coordinate with him?

[2020-05-21 18:33] carlescufi commented on #21114
@sslupsky any updates regarding this particular issue?

[2020-05-21 18:39] sslupsky commented on #21114
@carlescufi Yes, the two PR's I referenced appear to have resolved this.  It was due to a weird interaction between the RTC and the I2C drivers for the sam0.  The i2c driver did not properly handle the generation of the stop bit so the i2c transaction went on "forever".  The RTC driver has large delays due to "synchronization" of the registers.  I addressed these issues in the PR's and also added

[2020-05-21 18:39] alexanderwachter commented on #22625
The new M_CAN has the same problem. It seems that the issue is in the ISO-TP implementation. I already invested some hours but wasn‘t able to find the bug.

[2020-05-21 18:39] carlescufi commented on #25526
Are you really running this? `any` is not a valid board

[2020-05-21 18:55] mtahirbutt commented on #25526
what i meant. I just used ./scripts/sanitycheck which considered all the boards during the check and created log there.

[2020-05-21 20:12] cfriedt commented on #17991
I can't actually seem to run the qemu_cortex_m3 target. This was working fine quite recently.
[code]

[2020-05-21 20:33] carlescufi commented on #25509
If you use west to flash you can also use:
[code]

[2020-05-21 21:08] pabigot commented on #24001
I can confirm that the above and other checks in this test fail on reel_board with varying frequency.
As @andyross suggests this is likely due to #24784.  All the failing tests are comparing durations calculated from HFCLK (`k_busy_wait()`) against durations calculated from LFCLK (`sys_clock` i.e. timeout/k_timer).  In all cases the actual error is one tick the wrong side of the check.

Using a 1p

[2020-05-21 21:52] stephanosio commented on #23672
Atmel SAM0 GPIO, in general, requires a major overhaul, and this problem should probably be fixed as part of that (at this time, pinmux-ing is not properly done in the DT, but in a hack file `pinmux.c`, and this is undesirable).

[2020-05-22 00:05] stephanosio commented on #25234
@pabigot @carlescufi I re-tested this on the latest master today and the failure is gone (it is still reproducible with https://github.com/zephyrproject-rtos/zephyr/commit/ed2d263e0c233df015448de8d45a0fae359afc8b, so something must have recently fixed it),

Closing since this is no longer an issue.

[2020-05-22 00:05] #25234 closed

[2020-05-22 00:10] stephanosio commented on #23702
I haven't followed this up closely; but at first glance, this seems to be being addressed in #24714, is that correct? @ceolin @andrewboie

[2020-05-22 01:16] wentongwu commented on #23599
@kkiyota please check the memory range for your board, sram2 section will be like this.
[code]

[2020-05-22 05:53] cvinayak commented on #21994
@carlescufi this depends on new LLCP work, not worth new effort to fix this in current split controller.

[2020-05-22 05:55] cvinayak commented on #21107
@LeBlue Thank for the detailed tools to reproduce the issue. I will set this up and let it run over the weekend.

[2020-05-22 06:06] henrikbrixandersen commented on #22625
I do not believe that is the correct solution. The HAL update brought in many other fixes.
I believe this issue is within the ISO-TP implementation.

[2020-05-22 07:36] fnde-ot commented on #25478
Added a PR that seems to fix this issue. Could this be backported?

FYI, while testing it seems that when the CF Robust Caching bit is set, the first GATT read after reboot/reconnect always returns BT_ATT_ERR_DB_OUT_OF_SYNC. Shouldn't we be able to at least read the db_hash without error?

[2020-05-22 07:59] jukkar commented on #25497
@wentongwu I do not mind you doing this work, if you have time. I was just volunteering for this as I would need this feature in net_mgmt API. I am not familiar with this part of kernel so it might take some time to get things working.

[2020-05-22 08:06] erwango commented on #20991
@carlescufi #20992 should be the one closing this.

[2020-05-22 08:28] erwango commented on #25471
@mtahirbutt write-block-size on L4 is 8 bytes indeed, but this is the way the HW IP works. So I'm not sure what SW change could have had an impact on this. Can you point a version where this used to work ?

[2020-05-22 09:14] mtahirbutt commented on #25471
@erwango I was working earlier with 2.2.0 and it was fine. I do not remember exactly about 2.2.99, but the changes were in flash_synch() within subsys/dfu/img_util/flash_image.c. There was wrap around for smaller data chunks.
	if (ctx->buf_bytes < CONFIG_IMG_BLOCK_BUF_SIZE) {
		(void)memset(ctx->buf + ctx->buf_bytes, 0xFF,
			     CONFIG_IMG_BLOCK_BUF_SIZE - ctx->buf_bytes);
	}
Now I handle that i

[2020-05-22 09:48] ghlualven commented on #25509
Confirmed "west flash --erase" can resolve the issue, thanks.

I wonder if it is worthy to improve the code to prevent this inconsistent occur?

[2020-05-22 10:14] erwango commented on #25471
If this is a consequence from a change on ` subsys/dfu/img_util/flash_image.c`, then @nvlsianpu might have a better understanding.

[2020-05-22 10:50] #23980 closed

[2020-05-22 10:57] erwango commented on #25480
@pdunaj txs for the additional details.

I'm surprised by this statement and will have more checks

[code]

[2020-05-22 11:22] rlubos commented on #25509
I have no idea, for now, how could this be resolved in a clear way. I'm afraid the problems might show up not only with device mode stored in flash, but also other settings (for instance FTD will store information about connected children, this could be a problem for MTD as well). If you have a clean solution in your mind, feel free to propose.

[2020-05-22 11:50] rlubos commented on #25444
@carlescufi I did some investigation on this case. I've tested with current master (77946fa83569fab5ef99566fe5de0e90203d9fef) and two Linux kernels: 4.14.179-1 and 5.4.39-1.

I was able to reproduce the spcific case on both kernels I've used. I've tracked the ping message, up to the link layer (BLE IPSP in this case), where I saw that the packet is forwarded to `bt_l2cap_chan_send` function. Even

[2020-05-22 12:42] kuvaldini commented on #11016
The same issue with latest zephyr [git bc6f11b730 2020-05-21 10:30:18 +0800] and bluez 5.49 on openwrt 18.06

Solved by:
[code]

[2020-05-22 12:56] #25251 closed

[2020-05-22 13:09] cvinayak commented on #21107
@LeBlue
1. I have 6 nRF51dongle_nrf51422 with samples/bluetooth/peripheral_sc_only application, these have static random addresses as privacy support is disabled.
2. I have hci_usb in nrf52840dongle_nrf52840 with the attached zephyr config. Note, I have console and uart disabled.

I notice that your bt_conn_loop.py only connects to first device and reports not connected to others. Looking at the b

[2020-05-22 13:13] carlescufi commented on #21107
@emob-nordic any chance this is related to the USB code?

[2020-05-22 13:15] emob-nordic commented on #21107
@carlescufi I will have a look.

[2020-05-22 13:53] carlescufi commented on #25526
@mtahirbutt which SHA of zephyr are you using? This builds fine locally for me:

[code]

[2020-05-22 15:24] carlescufi commented on #23799
This is actually a real bug in the  UART or the logging subsystem.
The reason the test fails is that the completion banner on reel_board is never printed:
[code]
The problem is that without enabling `CONFIG_LOG_IMMEDIATE_CLEAN_OUTPUT` the test never reaches the end, instead being stuck in `uart_poll_out()`:

[code]

[2020-05-22 15:33] cfriedt opened #25554 "lib: posix: nanosleep"
**Is your enhancement proposal related to a problem? Please describe.**
nanosleep(2) is required for std::chrono in C++, among other things. It's POSIX (IEEE 1003.1) as well.

**Describe the solution you'd like**
I'll create a PR.

**Describe alternatives you've considered**
Looked into newlib. There is no de-facto implementation of nanosleep. It generally just makes a system call. FWICT, Zephyr o

[2020-05-22 16:09] lindemer opened #25555 "Unable to connect to Thread network (NRF52840DK)"
**Describe the bug**
The `echo_client` sample fails to connect to my Thread border router when compiled with the `overlay-ot.conf` configuration file. I have uncommented the lines at the bottom of the file to enable joiner support. This appears to be a Zephyr issue; running `ot scan` from the shell shows that the network is up and is joinable, but `ot joiner start J01NME` always results in the err

[2020-05-22 16:40] d3zd3z commented on #16439
I should clarify this a bit, because it isn't quite true. It should be safe to read more data, up to the size of the read alignment. For example, a device that has 32-bit internal reads, and uses an ECC to protect those will always be safe to read a full 32-bits. But, if the driver were to read 64-bits from this device, it could receive an error on the second 32-bits if it hadn't been written.

De

[2020-05-22 16:41] carlescufi commented on #25444
@Vudentz and @jukkar could you please comment on @rlubos analysis above?

[2020-05-22 20:40] MaureenHelm commented on #24939
@lgl88911 will you please split this into two separate GitHub issues:
1. Configure/optimize the delay time. This is an enhancement. The overflow can be addressed as part of the enhancement, since it's not a problem otherwise.
2. Other interrupts treated as transfer completion. This is a bug. Can you elaborate on how to reproduce this, and the priority?

[2020-05-23 01:55] mtahirbutt commented on #25526
I tried ./scripts/sanitycheck as mentioned in the zephyr website. but I stopped using that for now and will use online submission. if anything happes i will see this again. I used 251cb61, zephyr-2.3-rc1

[2020-05-23 06:39] ghlualven commented on #25509
I have no idea for that, I am a newbie to OpenThread.

[2020-05-23 09:43] cfriedt commented on #25554
Also discussed in #6498
Our primary limitation is `k_busy_wait(us)`, fwict.

[2020-05-23 13:40] JordanYates opened #25561 "bluetooth: GATT lockup on split packets"
**Describe the bug**
ATT data from a slave device that is split across multiple PHY packets appears to lockup something in the Zephyr master.

The issue occurs on the first packet that is split. In the current case, the Nth Handle Value Indication packet is sent by the Slave device,  and the Zephyr master never responds with a value confirmation.
This issue is 100% repeatable on the same packet ea

[2020-05-23 14:25] lgl88911 commented on #24939
@MaureenHelm  Thanks for your reply
1. for delay time:When the spi speed is configured to be relatively high, the delay calculated by 500K will greatly reduce the transmission rate. The following is an example of 5M. Looking at the overall transmission at a time, the actual transmission speed is only slightly higher than 500K, but far below 5M .
![image](https://user-images.githubusercontent.com/3

[2020-05-23 15:29] cfriedt commented on #6498
Would be useful to have this for a nanosleep(2) call. I have not looked into Zephyr's clock structure yet though. It would be nice to collect multiple clock sources and make them available to applications / userspace similar to the clock_getres, clock_gettime, etc.

[2020-05-23 15:29] cvinayak commented on #21107
So far hci_uart going good. Over 27 hours of running hci_uart reading software version from 6 peripheral. At times, 6 connection sustained for over 9 hours. After another 24 hours of wait, will switch over to hci_usb.