[2018-01-26 10:35] #5823 closed

[2018-01-26 10:42] SebastianBoe commented on #5756
Toy environments are useful though, for early prototyping work. So I figure why not support both use-cases, especially when supporting signing in the build system appears to be straightforward to implement.

[2018-01-26 10:56] SebastianBoe commented on #5833
For nrf's equivalent problem we intend to eventually re-use the mechanism used by OpenThread to import external source code.

To solve this problem one might want to look into if using CMake's ExternalProject feature is powerful enough.

https://github.com/SebastianBoe/zephyr/blob/50e285cd6879da8941dab56d348ce222bc11dff0/subsys/net/lib/openthread/CMakeLists.txt

https://cmake.org/cmake/help/latest

[2018-01-26 11:00] DWagenk commented on #5707
@erwango where do the new dts.fixup files go?
for example moving SPI fixup from boards/arm/nucleo_f091rc to ?
my guess would be a dts.fixup file in arch/arm/soc/st_stm32/stm32f0/dts.fixup, is this correct?
And are there changes needed in the build system somewhere?

[2018-01-26 11:12] erwango commented on #5707
Yes, this is under arch, you're right (editing the issue header).
There is nothing you should do to get it working, possibility has been enabled since some time now in the device tree parsing script.
I haven't tested it yet, but it seems galak started to move things in #5828.

[2018-01-26 12:34] pfalcon commented on #5784
We still generate lots of files. For example, we generate .lst which "not needed", but I find it a big convenience. Likewise, .bin wasn't needed for qemu, but *could* be used, which was a convenience in some circumstances.

All in all, the reasons you listed is why I apparently didn't submit that as an issue. My point, that "didn't help", as other people hit more issues rooted in that change, only

[2018-01-26 14:09] anangl opened #5839 "SPI API improvements proposals"
1. `rx_bufs` parameter (in `spi_transceive` and `spi_transceive_async` functions) could be declared as a pointer to a constant structure, as the content of any RX buffer structure is not (and shouldn't be) modified, only what its `buf` member points to is a subject to modification. This would allow to pass an array of RX buffers stored in flash as the parameter. Currently this is not possible with

[2018-01-26 14:09] anangl commented on #5839
@tbursztyka Could you have a look at these?

[2018-01-26 14:36] pfalcon commented on #5756
@SebastianBoe, I appreciate your comments, and definitely don't try to argue with you. Instead, just try to pinpoint arguments which may conflict with the desired goal. In this regard, answer to "why" in "why not support both use-cases" would be "because unless 2 ways are well aligned and overlap, that might mean doing double-work (one-time, minor factor) and then double-work in maintenance and su

[2018-01-26 14:43] pfalcon commented on #5817
@GAnthony : Ack. Well, that shows why I'm conservative with not touching "connect" and friends by default - even if planned about, some issues still pop up (so not planning even worse ;-) ). Preprocessor defines were also selected as a conservative measure "working everywhere for decades", but I agree that the issue you present needs to be fixed, in the way suggested.

Let me know if you're intere

[2018-01-26 15:15] tbursztyka commented on #5839
1. I am fine with the const issue. However, the "stored in flash" argument is unlikely to happen so often: the nature of scatter-gather buffer makes it very flexible so at runtime you can tweak buf/len to full-fill various and different transactions. This makes easy to save ram as you can use only one short array of spi_buf for both rx/tx. Of course that fully depends on the protocol your are impl

[2018-01-26 15:25] galak commented on #5707
I added support for multiple -f options to the script in commit aed577a853a24c49ad63464a571d5610063526b8.  I added recent cmake support to b452e1bbbb275dc1ac16084e82b7ca7690690564 to support an SoC series level fixup.

[2018-01-26 15:34] agross-linaro commented on #5735
Just double checked this.  The expected case when using the default prj file is to fail.  The output given above indicates the prj.conf was used.  If the prf_stack_guard.prj is used, the error's will be correctly determined to be stacking errors.

[2018-01-26 15:36] agross-linaro commented on #5735
It should be noted that qemu (current version in zephyr) does not support MPU.  And not all boards have MPUs.  So perhaps we need to adjust the whitelist.

[2018-01-26 16:06] galak commented on #5726
This should also deal with -R.  We should have sanitycheck default to enabling asserts and add an option to explicitly disable.

[2018-01-26 16:27] galak commented on #5726
The -R part should be addressed by #5841.  Once merged we can update CI to drop -R

[2018-01-26 17:28] pfalcon commented on #1877
I propose to close this. This was submitted yet before BSD Sockets API was available in Zephyr, so apparently should have referred to net_context. As commented by @jukkar above, this scenario is handled for net_context (if the same recv callback is used for different net_context's, it can manage any of them, including per-context operations (as it gets passed net_context*)).

Similarly, for BSD So

[2018-01-26 17:29] pfalcon commented on #1877
So, based on the above, let me proactively close this. If there're concerns that this ticket is not handled fully, please reopen or add a comment and I'll reopen it. Thanks.

[2018-01-26 17:29] #1877 closed

[2018-01-26 17:35] pfalcon commented on #4779
@askawu : Any chance that you can re-test this, I believe there were some fixes regarding close behavior.

[2018-01-26 17:49] GAnthony commented on #5817
@pfalcon: I can do the patch.

[2018-01-26 17:55] galak commented on #5722
So I think we can fix this by introducing an application level dts.fixup.  In the 'build all' we can define dummy values for the cases that need them to build.

[2018-01-26 18:04] pfalcon opened #5842 "sockets: Implementing poll(POLLOUT) support"
Currently, zsock_poll(POLLOUT) implemented as unconditionally returning this flag. This means that if there're no free packet/data buffers, then user application will be effectively in busy-polling loop: POLLOUT will be returned, and app will try to send() to a socket and will get EAGAIN, will call poll() and immediately get POLLOUT, repeated.

There can be different solutions to this, of differen

[2018-01-26 18:06] pfalcon commented on #5817
Thanks!

[2018-01-26 18:10] pfalcon commented on #5842
I'd like to start with the approach 2 as proof of concept, promising minimal data space overhead, and potentially benefiting Zephyr beyond just sockets subsystem. So, we'd need to k_poll() on pkt pool, which is backed `struct k_mem_slab`. And here's caveat: this structure is not k_poll'able. That's why I'm saying that going this way would benefit Zephyr, but minimizing adhoc split between k_poll'a

[2018-01-26 18:17] pfalcon commented on #5842
@nashif : FYI, this can be seen as a continuation of discussion in https://github.com/zephyrproject-rtos/zephyr/issues/5378#issuecomment-356945469 . This documents what's *really* (as in: non-trivially) missing in sockets implementation. This might affect async socket usage (which is advanced socket usage, not expected to be the first line of socket usage anyway; it does affect advanced applicatio

[2018-01-26 18:19] pfalcon commented on #5842
@erwango : FYI, if you're interested why MicroPython's `uasyncio` module and `picoweb` web micro-framework based on it are not usable with Zephyr port, that's it. Actually, as the above says, we're talking about *no-efficient working*, not "non-working", so I actually need to give it a try.

[2018-01-26 20:37] mbolivar opened #5847 "make menuconfig not supported on Windows"
Since the kconfiglib switch, make/ninja menuconfig can't work on Windows, but this page implies it's possible run menuconfig on Windows:

http://docs.zephyrproject.org/application/application.html#overriding-default-configuration

A fix for this issue likely involves writing a Python3 GUI on top of kconfiglib that allows users to graphically edit their configuration.

[2018-01-26 20:41] carlescufi commented on #5847
Options for the GUI library to use:

* https://github.com/peterbrittain/asciimatics
* https://github.com/erikrose/blessings

[2018-01-26 20:43] mbolivar commented on #5847
A text user interface would indeed be a replacement for menuconfig, no disagreement there.

IMO a "real" GUI would be very nice to have as well. I normally use xconfig instead of menuconfig, as its UI is a lot better (example: I can search for an option, then enable it in one click from the results window).

[2018-01-26 20:44] carlescufi commented on #5847
@mbolivar you would be able to do that using asciimatics as well I'm pretty sure. The advantage with text mode is much smaller dependencies and consistent layout

[2018-01-26 20:58] rsalveti commented on #5317
Created https://github.com/zephyrproject-rtos/zephyr/pull/5846 to skip solicited node when L2 BT.

Now for leave_mcast_all I was trying to find what would be the best way to skip this function when iface->l2 is L2 BT, and follows some options:

[code]
This change simply skip leave_mcast_all if iface->l2 == L2 BT, but that doesn't take into account the L2CAP channel connection state. Do we also nee

[2018-01-27 01:39] ulfalizer commented on #5847
Hello,

@mbolivar
A jump-to feature like that is something I've been missing in `menuconfig` as well.

It should be pretty easy to implement in Kconfiglib, by looking up the symbol by name in `kconf.syms` and jumping to one of its menu nodes in `kconf.syms["FOO"].nodes` (a symbol can get multiple nodes from being defined in multiple locations, though you usually only see one).

If you wanted to ge

[2018-01-27 02:13] GAnthony opened #5853 "Using newlibc in a project breaks 'rom_report' and 'ram_report' targets."
To reproduce, add
`CONFIG_NEWLIB_LIBC=y`
to samples/hello_world/prj.conf.

Building results in the following error:

[code]

[2018-01-28 01:43] pfalcon opened #5857 "net: TCP retransmit queue implementation is broken"
Rexmit is implemented as `sys_snode_t sent_list;`, and may be accessed concurrently at least by net_tcp_send_data() and net_tcp_ack_received(), but slist.h is ridden with warnings like: "Note: the loop is unsafe and thus __cn should not be detached" and "This and other sys_slist_*() functions are not thread safe.".

Here's typical logging for when working by a chance doesn't work:

[code]

[2018-01-28 01:53] pfalcon commented on #5857
Needless to say, as you start to enable logging or add printk's, stuff gets nicely serialized and problems go away. After removing one of having-made-perfect printk's:

[code]

[2018-01-28 21:23] nashif opened #5866 "ram_report not working for qemu targets"
commit 4bd904ccaec5ebcddfb8d9be6290facbd38beec7 introduced a bug where ram_reports are not working anymore with qemu_x86:

add CONFIG_BUILD_OUTPUT_BIN=y to the prj.conf

when building with ram_report for qemu_x86, you get:

[code]

[2018-01-28 23:46] #5784 closed

[2018-01-29 02:56] nashif commented on #5853
duplicate of #5866, do not think it is related to newlib though

[2018-01-29 07:58] DWagenk commented on #5836
I've got a question regarding what to enable per default. Since dts.fixup is now moved to soc family level, there's not much work left for enabling SPI on these boards again.
What is the effect of
[code]
in dts? Right now it doesn't matter, if I add it to <board>.dts, as long as the  `CONFIG_SPI_X` is set, it works (as long as it doesn't use some undefined PINMUX definitions).
Should all `spiX` th

[2018-01-29 08:17] erwango commented on #5707
fixed by #5859

[2018-01-29 08:17] ydamigos commented on #5836
@DWagenk It enables the generation of the following defines:
[code]
For now, we need to enable spiX both in boards dts file and in Kconfig file. Later, it should be done only in boards dts file.

PR #5865 introduce a new approach and checks if `CONFIG_SPIX_BASE_ADDRESS` is defined in the driver to enable SPIX device.

[2018-01-29 08:19] DWagenk commented on #5707
@erwango does this only effect STM32 (wich is fixed now), or shouldn't it stay open for other SOC Families?

[2018-01-29 08:25] DWagenk commented on #5836
OK, so for now I would add `status = "ok";` to dts for all SPIs that a board supports and then just activate one of them as defualt SPI in boards Kconfig.default.
Sounds good?

[2018-01-29 08:28] erwango commented on #5707
@DWagenk : You're right, this was a generic ticket, let me re-open it.

[2018-01-29 08:29] ydamigos commented on #5836
Yes, the ones that the board enables in Kconfig.defconfig.

[2018-01-29 08:37] tarunkum commented on #5365
@lpereira I have checked in Fedora & get to know these below packages are installed on my system.

Package kernel-devel-4.13.16-100.fc25.x86_64
Package kernel-headers-4.13.16-100.fc25.x86_64

[2018-01-29 08:37] DWagenk commented on #5836
OK, thanks for the clarification!

[2018-01-29 12:57] tbursztyka commented on #5839
I am on it.

[2018-01-29 13:36] pfl commented on #4934
This issue was resolved some time ago with #5038 merged and #5034 and #5038 closed.

[2018-01-29 13:36] #4934 closed

[2018-01-29 13:41] pfl commented on #3439
MTU on send has been handled by #5038, which takes into acount MSS for TCP and MTU for the rest.

[2018-01-29 13:41] #3439 closed

[2018-01-29 13:46] pfalcon commented on #4934
For reference (mostly for the people who will face other issues/get confused by Zephyr's setting), the original issue in the title ("net: 15.4 network interfaces use incorrect MTU setting of 127") wasn't resolved, the MTU is arguably still incorrect. However, one case where it was affecting the IP stack functionality was indeed worked around.

[2018-01-29 15:59] #3834 closed

[2018-01-29 16:02] andyross commented on #4000
This is fixed in the asm2 code being merged for 1.11 because the whole interrupt subsystem got rewritten.  The simple problem with the old code was a misunderstanding of EXCM_LEVEL.  This specifies the highest level of interrupt that is masked by the EXCM bit in PS (which is to say: the highest level you can handle with C code that might need to emit window exceptions).  The generators used a <= w

[2018-01-29 16:27] erwango opened #5877 "sensors: Cleanup Kconfig for address, driver & bus name"
Follow up of #5845

This change should be extended to sensors already ported to DTS and should be the reference when porting new sensors.

[2018-01-29 16:40] #5722 closed

[2018-01-29 18:27] mbolivar commented on #5767
@pfalcon I'm never against improving documentation. What is the concern here, though? Is it setting up development environments on OS X or Windows?

Since on Linux, the SDK provides something which "just works" in terms of the flash/debug/debugserver targets, I'm not sure what additional Zephyr-specific documentation about openocd you're looking for.

[2018-01-29 18:29] #5866 closed

[2018-01-29 18:59] mbolivar commented on #5153
Not sure who you are asking for details from, but from my side:

- the command lines would have serious usability problems
- the commands would need to be documented separately for Unix and Windows users
- sensitivity to environment variables makes diagnosing problems harder

On Bash:

[code]

Users would need to learn this somewhat advanced shell feature, which is obscurely documented (https://ww

[2018-01-29 19:25] pfalcon commented on #5767
@mbolivar , Thanks for the reply.

Well, these ones are never my concern ;-).

What if it doesn't? For example, when did you last time ran openocd without a JTAG adapter attached? It just terminates in this case, without any indication that there's an error. And just imagine that between these polar situations "it just works" and "it can't work 100%, and doesn't even tell why it doesn't" there're

[2018-01-29 19:25] nashif commented on #5853
should be fixed by #5878

[2018-01-29 19:25] #5853 closed

[2018-01-29 20:24] nashif opened #5881 "enabling THREAD_MONITOR causes tests to fail"
I was trying something where I needed THREAD_MONITOR enabled, this caused the test to fail by just enabling the option without any code changes.

To reproduce:
[code]

Results:
[code]

[2018-01-29 20:32] andrewboie commented on #4416
https://github.com/DataAnalysisCosby/blog/blob/master/org/unwind.org

[2018-01-29 20:57] lpereira commented on #5881
Requires CONFIG_OBJECT_TRACING=y in order to reproduce.

[2018-01-29 21:12] andrewboie commented on #4416
https://github.com/CurieBSP/main/blob/master/bsp/src/machine/soc/intel/quark_se/quark/panic.c

[2018-01-29 21:12] andrewboie commented on #4416
@lpereira  and I were just talking about this.

[2018-01-29 21:21] andrewboie commented on #5881
I still cannot reproduce this. The test passes for me.
My prj.conf:

[code]

I verified these are all getting set in the generated .config

[2018-01-29 21:43] nashif commented on #5881
looks like it is a build system issue, @SebastianBoe , can you take a look?
if I first set configure in THREAD_MONITOR, it works. If I add OBJECT_TRACING=y and rebuild without cleaning, it fails, so something is off with kobject generation.

[2018-01-29 23:39] GAnthony commented on #5853
Yes, that fixed it.  Thanks!

[2018-01-30 00:07] pfalcon commented on #5693
So, as discussed on the mailing list, I'd like to try to perform the similar analysis, and issue the similar proposal, for SENSOR_CHAN_DISTANCE, which is defined in millimeters.

So, facts:

1. We have SENSOR_CHAN_ALTITUDE, which is "Altitude, in meters", and yet SENSOR_CHAN_DISTANCE is in millimeters. Hardly a consistency example.
2. There's only one driver which delivers SENSOR_CHAN_DISTANCE, vl

[2018-01-30 03:25] #5877 closed

[2018-01-30 04:08] #5817 closed

[2018-01-30 04:15] #5755 closed

[2018-01-30 04:18] #5401 closed

[2018-01-30 04:50] #5772 closed

[2018-01-30 05:32] Shilpashree3lc opened #5886 "[Coverity CID: 182602] Integer handling issues in /drivers/interrupt_controller/system_apic.c"
Static code scan issues seen in File: /drivers/interrupt_controller/system_apic.c
 Category: Integer handling issues
 Function: __irq_controller_irq_config
 Component: Drivers
 CID: 182602
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-30 05:32] Shilpashree3lc opened #5887 "[Coverity CID: 182597] Control flow issues in /drivers/sensor/vl53l0x/vl53l0x.c"
Static code scan issues seen in File: /drivers/sensor/vl53l0x/vl53l0x.c
 Category: Control flow issues
 Function: vl53l0x_init
 Component: Drivers
 CID: 182597
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-30 05:32] Shilpashree3lc opened #5888 "[Coverity CID: 182594] Control flow issues in /drivers/sensor/lsm6ds0/lsm6ds0.c"
Static code scan issues seen in File: /drivers/sensor/lsm6ds0/lsm6ds0.c
 Category: Control flow issues
 Function: lsm6ds0_sample_fetch
 Component: Drivers
 CID: 182594
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-30 05:32] Shilpashree3lc opened #5889 "[Coverity CID: 182593] Control flow issues in /drivers/sensor/vl53l0x/vl53l0x.c"
Static code scan issues seen in File: /drivers/sensor/vl53l0x/vl53l0x.c
 Category: Control flow issues
 Function: vl53l0x_sample_fetch
 Component: Drivers
 CID: 182593
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-30 05:32] Shilpashree3lc opened #5890 "[Coverity CID: 182588] Integer handling issues in /drivers/sensor/hts221/hts221.c"
Static code scan issues seen in File: /drivers/sensor/hts221/hts221.c
 Category: Integer handling issues
 Function: hts221_channel_get
 Component: Drivers
 CID: 182588
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-30 05:32] Shilpashree3lc opened #5891 "[Coverity CID: 182585] Integer handling issues in /arch/x86/core/thread.c"
Static code scan issues seen in File: /arch/x86/core/thread.c
 Category: Integer handling issues
 Function: _new_thread
 Component: Architectures
 CID: 182585
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-30 05:32] Shilpashree3lc opened #5892 "[Coverity CID: 182584] Integer handling issues in /kernel/sched.c"
Static code scan issues seen in File: /kernel/sched.c
 Category: Integer handling issues
 Function: _impl_k_thread_priority_set
 Component: Kernel
 CID: 182584
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-01-30 06:48] rbtchc commented on #3857
Looking at lwm2m_rw_json.c recently.
Just like the issue mentioned,  lwm2m_engine does not seem to handle post/put requests in JSON format at all. Instead, it is treating the JSON payload as plain/text which I believe will result in wrong behavior. I will file a patch to correct the behavior.
I've also checked Zephyr JSON library, it seems that we have to define a "json_obj_descr" before we can us

[2018-01-30 08:16] VVESTM commented on #5693
Hi @pfalcon,
I see no issue if you want to update the unit from millimeter to meter for SENSOR_CHAN_DISTANCE.
In fact, I used millimeters because it was used in the default implementation from ST for this sensor. No problem to switch it to meters. Just need to see how to report the decimal value.

[2018-01-30 09:36] carlescufi opened #5895 "drivers: counter API update"
In order to be able to use the counter API for:

* System Timer
* BLE stack

Certain changes to the API itself might be required.

#3256 covers the Nordic nRF5x side of things.

[2018-01-30 09:36] pfl commented on #4934
That's not really correct either. The 802.15.4 MTU value reported was the L2 transfer unit size, which still is and will be 127. If something is to blame here, function naming could have been clearer. Please see the discussion above.

[2018-01-30 09:43] tbursztyka commented on #4934
127 is the real hw MTU, but you have to count 2 bytes of FCS in this. And that FCS is _always_ automatically generated by the hw. So what's left in the end as "MTU" for the OS (driver/l2/net stack...) is 125. It's a short-cut, it's not incorrect. (L2 does not generate/manage the FCS)

[2018-01-30 09:58] SebastianBoe opened #5896 "Accidentally using MSYS's python from native windows leads to obscure error messages"
If you are so unlucky as to have python3.exe from MSYS in your PATH and attempt a native Windows build you will observe an obscure failure that looks something like this:

[code]

The key part is:

`FileNotFoundError: [Errno 2] No such file or directory: '/:/work/zephyr/zephyr/dts/bindings'`

we should find a way to detect and give a sane error message for this misconfiguration.

[2018-01-30 10:00] SebastianBoe commented on #5896
Perhaps we could look for the keyword msys64 in the python path for native-windows builds.

[2018-01-30 10:04] pfalcon commented on #5693
@VVESTM : Thanks for the reply and being positive about it! Sure, I'll update the sample to report the decimal value, the easiest way to do that is to use sensor_value_to_double(): https://github.com/zephyrproject-rtos/zephyr/blob/master/include/sensor.h#L492 . As a part of https://github.com/zephyrproject-rtos/zephyr/issues/5692 , I also plan to add func which formats value as a string without in

[2018-01-30 10:56] pfalcon commented on #5767
Not really, or more specifically, that's not what this topic is about. The idea is that majority of boards can be programmed/flashes using JTAG or SWD interface, and the most advanced tool we have to control that is OpenOCD (I'd really much like that to be pyOCD, but surely, we aren't yet there/probably won't be there (not JTAG support in pyOCD, right?)). OpenOCD is however a rather esoteric and c

[2018-01-30 11:19] nvlsianpu commented on #5091
CONFIG_MPU_ALLOW_FLASH_WRITE is selected by NFFS enabling - then this issue is fixed.

[2018-01-30 11:19] #5091 closed

[2018-01-30 11:34] SebastianBoe commented on #5881
I think I have found the root-cause will push a fix when I have it.

[2018-01-30 13:22] pfalcon opened #5900 "net: Prototype a TLS convenience API based on sockets"
As discussed during Zephyr Networking Forum meetings, mentioned in https://github.com/zephyrproject-rtos/zephyr/pull/5854 , etc., currently there're not even examples, far less best practices, on using TLS communication over BSD Sockets. (The same applies to DTLS, but this ticket is dedicated to TLS specifically.)

This ticket is intended to bootstrap/track this work, and establish requirements fo

[2018-01-30 14:48] jfischer-phytec-iot commented on #5678
@finikorg another issue :smile:, it should build with DISK_ACCESS_RAM enabled.
[code]

[2018-01-30 15:53] mbolivar opened #5903 "Code coverage reports seem wrong"
The code coverage reports don't make sense to me. Consider this pull request:

https://github.com/zephyrproject-rtos/zephyr/pull/5899

This is a change to the behavior of the J-Link flasher, which should have no effect on code coverage results in the following areas:

[code]

[2018-01-30 15:59] mbolivar commented on #5903
dupe of https://github.com/zephyrproject-rtos/zephyr/issues/5546

[2018-01-30 15:59] #5903 closed

[2018-01-30 15:59] mbolivar commented on #5546
Reopening as there are unaddressed issues.

The code coverage reports don't make sense to me. Consider this pull request:

https://github.com/zephyrproject-rtos/zephyr/pull/5899

This is a change to the behavior of the J-Link flasher, which should have no effect on code coverage results in the following areas as reported in the PR:

[code]

[2018-01-30 16:03] nashif commented on #5546
@aescolar-ot There seems to be something off with how the native posix board is run, i.e. it is not quite deterministic and yields different results, probably related to timing? This is just a guess, need to look.

[2018-01-30 16:20] aescolar-ot commented on #5546
@nashif I was actually thinking of asking you about it..
There is something weird indeed, and I don't think it has to do with the native port itself.
For example this PR https://github.com/zephyrproject-rtos/zephyr/pull/5862 or https://github.com/zephyrproject-rtos/zephyr/pull/5872 should not have caused any change, yet codecov claims there is coverage changes in the network side..
I could only ex

[2018-01-30 18:15] #3858 closed

[2018-01-30 18:15] nashif commented on #5749
done

[2018-01-30 18:15] #5749 closed

[2018-01-30 23:23] pfalcon commented on #5900
So, there could be 2 approaches:

1. Make it more or less specific to TLS, or
2. Make it more generic and reusable

I'd lean towards 2, because going route 1 unlikely to save much, but doing adhoc things is much less "interesting".

So, the idea of 2 would be to introduce a concept of generic "stream" object, with corresponding interface of operations. Implementation of that will be polymorphic pe

[2018-01-30 23:25] pfalcon commented on #5900
@GAnthony, @jukkar, @tbursztyka, @mike-scott, @mbolivar : Comments/criticism welcome.

[2018-01-31 01:30] jhedberg commented on #5486
Is this still reproducible? If I understand right it's the central side that's failing, right? We don't use whitelist-based scanning, so if the controller is not reporting anything to us this sounds like a potential controller issue. We do use controller-side resolving whenever possible, but that should cause the controller to generate at least some event for us, even if it doesn't have the right

[2018-01-31 07:12] b0661 commented on #5697
@galak can pinctrl PR #5799 also be added  here?

[2018-01-31 07:17] jukkar commented on #5317
Lets try to avoid adding too much BT specific logic to net_if.c so I would not like to add any new parameter to net_if_down().
Your proposal to avoid call to leave_mcast_all() looks fine to me, currently we only call net_if_down() from BT but at that point the channel is already disconnected. It is unlikely that net_if_down() would be called from any other place for BT.

[2018-01-31 07:54] finikorg commented on #5678
@jfischer-phytec-iot that configuration seems to work somehow. I see new disk added in my (virtual) Linux
[code]

I can create partition:
[code]

[2018-01-31 09:00] erwango opened #5919 "Remove obsolete FLASH_DRIVER_NAME"
FLASH_DRIVER_NAME could be found in some samples and defined in some socs.

It should be removed FLASH_DEV_NAME should be used instead.

[2018-01-31 09:28] jfischer-phytec-iot commented on #5678
There is a text file on it. You can also test it with something like:
[code]

[2018-01-31 10:32] pfl commented on #3440
With https://github.com/zephyrproject-rtos/zephyr/pull/1002 allowing applications to resize the receive window, this issue can be closed.

[2018-01-31 10:32] #3440 closed

[2018-01-31 10:54] #5881 closed

[2018-01-31 10:58] carlescufi commented on #5697
@b0661 done

[2018-01-31 12:17] nashif commented on #3918
obsolete

[2018-01-31 12:17] #3918 closed

[2018-01-31 12:17] nashif commented on #3809
obsolete

[2018-01-31 12:17] #3809 closed

[2018-01-31 12:18] nashif commented on #3617
obsolete

[2018-01-31 12:18] #3617 closed

[2018-01-31 12:19] nashif commented on #3597
obsolete

[2018-01-31 12:19] #3597 closed

[2018-01-31 12:19] nashif commented on #3329
obsolete

[2018-01-31 12:19] #3329 closed

[2018-01-31 14:17] aescolar-ot commented on #5546
@nashif I have just checked what happens in one of the offending cases ( tests/kernel/obj_tracing ), and at least in this one it seems quite clear where the problem lies:
sanitycheck will kill the test as soon as it sees the ``PROJECT EXECUTION *`` line, but in this case the affected line
https://github.com/zephyrproject-rtos/zephyr/blob/master/tests/kernel/obj_tracing/src/philosopher.c#L62

https

[2018-01-31 16:24] galak commented on #5919
I believe FLASH_DRIVER_NAME is used by MCUBoot, but not sure.

[2018-01-31 16:33] galak commented on #5900
@d3zd3z adding David to this as well

[2018-01-31 17:15] pfalcon commented on #3102
Making newlib the default library leads to various concerns, see e.g. https://github.com/zephyrproject-rtos/zephyr/pull/5822 and https://github.com/zephyrproject-rtos/zephyr/pull/5570#pullrequestreview-88163325 .

Instead of making newlib the default, we could concentrate on supporting 2 polar configuration (well, we could support more, but that's the burden of development and maintenance, and usu

[2018-01-31 17:16] pfalcon commented on #3102
E.g. https://github.com/zephyrproject-rtos/zephyr/pull/5854#issuecomment-361781238 :

[2018-01-31 19:14] mbolivar commented on #5919
I'll add a shim in MCUboot to work around this name change and ping back this issue when it's safe to rename in Zephyr

[2018-01-31 19:18] pfalcon commented on #5900
An interesting issue in regard to stream concept is poll() support for them. There can be 2 approaches:

1. Say that polling is not part of stream interface, and clients interested in poll()ing, need to maintain correspondence between underlying socket fd and a stream object themselves (and used the underlying fd for poll() operations).
2. Try to somehow address that on the stream interface level.

[2018-01-31 19:19] mbolivar commented on #5919
Pending review in mcuboot: https://github.com/runtimeco/mcuboot/pull/201

[2018-01-31 22:43] #4633 closed

[2018-01-31 23:43] andrewboie commented on #4015
I've asked @AdithyaBaglody to spend some time on this.
@agross-linaro any further details and engagement from QEMU team?
I see there has been some commits in this area for QEMU 2.11.

[2018-02-01 00:37] jhedberg commented on #5370
This has already been fixed by commit c20af890206e75ab4a3031c06e196bdfc1e1fe36

[2018-02-01 00:37] #5370 closed

[2018-02-01 01:27] iha opened #5934 "esp32: Output frequency is different from that configured on I2C and PWM drivers"
Setting the frequency in the I2C driver, for example 100kHz, the SCL frequency is 50kHz measured on an oscilloscope.

The same behaviour is found in the PWM driver. The measured frequency  at the output is half of the configured.

I tested the I2C and PWM drivers using the Espressif RTOS drivers, and the frequency measured on the oscilloscope was the same as configured.

[2018-02-01 05:33] mbolivar commented on #5847
@ulfalizer awesome, thanks for the pointers! I wish I had more time to work on this :\

[2018-02-01 09:08] aescolar-ot opened #5938 "Incorrectly reported coverage changes"
This issue is just a list of typically incorrectly reported coverage changes, the reason if known, and the  incoming solution if any. Whenever we fix all, we close it.
Ordered by frequency:

### tests/kernel/obj_tracing/src/philosopher.c L:57-..

**Reason:**
sanitycheck will kill the test as soon as it sees the ``PROJECT EXECUTION *`` line, but in this case the affected line
https://github.com/zep

[2018-02-01 09:13] thomafred opened #5939 "NRF5 I2C (TWI) driver"
Currently, the NRF5 I2C-driver is implemented in the way of GPIO bit-banging.

the NRF5 SOCs support TWI (I2C-compatible two-wire interface) sub-systems with EasyDMA, although drivers for this is lacking in Zephyr.

Furthermore, I2C and SPI devices may not share the same ID.

[2018-02-01 09:31] aescolar-ot commented on #5546
A separate issue: Codecov seems to report 1 hit per line, even in lines which are obviously hit many times.

[2018-02-01 09:47] #4606 closed

[2018-02-01 09:47] finikorg commented on #4606
Closed as fixed

[2018-02-01 09:57] pfalcon commented on #5546
Do you have a link for that? I believe I saw a hit count somewhere in its reports. So, do you say that this count shows 1, while it's logically provable (e.g. from context) that a particular line was hit more?

[2018-02-01 10:01] jfischer-phytec-iot commented on #2943
done in 52923e6a93375e8d5c236aedfd620741320ed7d7

[2018-02-01 10:01] #2943 closed

[2018-02-01 10:21] pfalcon opened #5941 "native_posix: No support for "pull-model console""
"UART" is the default implementation console handler for Zephyr. Currently, building any sample in samples/subsys/console/ for BOARD=native_posix fails:

samples/subsys/console/echo:
[code]

samples/subsys/console/getchar:
[code]

It would be nice to get that working (and shouldn't be too hard - this "uart console" would just proxy reads/writes from POSIX console).

[2018-02-01 10:22] pfalcon commented on #5941
@aescolar-ot: Can you please look at this?

This got to be related to https://github.com/zephyrproject-rtos/zephyr/pull/5861, if you got shell working, that you must have got console working first, so I'm going to try/look into that patch next.

[2018-02-01 11:48] aescolar-ot commented on #5546
For example:
https://codecov.io/gh/zephyrproject-rtos/zephyr/src/master/arch/posix/core/posix_core.c
posix_swap() is called each time the kernel does a swap.. That will be quite a few times during the whole sanitycheck run.

[2018-02-01 12:41] #4401 closed

[2018-02-01 13:16] jfischer-phytec-iot opened #5942 "OT: add framing part to OT build for the radio drivers with dependence on AR flag"
For the radio drivers like MCR20A and KW41Z, OpenThread needs to be build with the framing part from 15.4 l2 (ieee802154_frame.c), because the drivers need to check the AR flag (ieee802154_is_ar_flag_set) for every TX sequence.

[2018-02-01 13:37] jfischer-phytec-iot opened #5943 "OT: utilsFlashWrite does not take into account the write-block-size"
OpenThread utilsFlashWrite does not take into account the write-block-size. OT uses a multiple of 4 while writing to the flash. This leads to a bus fault on a platform like K64F where write-block-size is 8.

Is it possible to abstract utilsFlash* over a file system like nffs?

[2018-02-01 14:19] #1281 closed

[2018-02-01 14:34] ydamigos commented on #3850
@erwango Should we close this?

[2018-02-01 14:55] galak commented on #5900
@d3zd3z pointed at:

https://www.openbsd.org/papers/linuxconfau2017-libtls/#slide-0

Something to look at for ideas.

[2018-02-01 15:31] mbolivar commented on #5900
Thanks! I'd be interested to see the results, but I'm afraid my input isn't likely to be useful.

[2018-02-01 16:18] pfalcon commented on #5900
Ok, I assume that at least means you don't see anything terribly wrong with it ;-).

[2018-02-01 17:27] GAnthony commented on #5900
Keeping in mind the need to accommodate the secure socket offloading, I'd like to share some links which were shared in an earlier internal email thread:

Even if we decide *not* to use socket-like APIs for TLS setup the way TI does, the main point here is that, though the Zephyr NET_OFFLOAD solution would allow secure socket data transmission to be offloaded, the *setup (at least for SimpleLink)

[2018-02-01 17:40] GAnthony commented on #5900
A couple comments on creating a new "stream" API:

1) First we argue that networking protocols should be based on sockets; now the argument is no, they are to be based on generic stream objects.  And if that's the case, should this also be the new interface for all device drivers?

That's OK, but we should realize, if that's the case, it's a much larger scope than making a "TLS convenience layer"

[2018-02-01 18:05] pfalcon commented on #5900
Let me quick reply to these so far:

No, we don't argue all that, at once. The arguments are actually layered:

1. The first argument is that sockets is the de-facto and de-jure (POSIX) API for network programming, used for decades, and that the best approach is to have that as system-level API, to get the benefits of that standardness and history (which includes porting existing application writt

[2018-02-01 18:19] pfalcon commented on #5900
Simple answer: they won't. The stream interface abstracts bidirectional peer-to-peer communication in terms of bytes (vs e.g. in terms of records). Socket interface is superset of stream interface, but we don't define it. That means that a server will be implemented in terms of plain sockets, and once connection is accepted, only then in will be wrapped with TLS (that's of course how it works anyw

[2018-02-01 18:35] pfalcon commented on #5900
Sorry, missed to answer this one:

Conceptually and semantically yes, more specifically, I think we should follow POSIX I/O model, with read/write operations and their properties (like short read and short write semantics).

However, it apparently would be far-fetched to impose interface outlined here ("streams vtable") on all device drivers. At the very least, besides "stream of bytes" model, the

[2018-02-01 20:11] pfalcon commented on #5941
So, the immediate problem here isn't "UART console" emulation, but that there's no "pull console" support for native_port. Proposed patch is posted as https://github.com/zephyrproject-rtos/zephyr/pull/5947

[2018-02-01 21:09] pfalcon commented on #5900
@GAnthony :

Right, so if TI API allows to create a plain socket and *then* convert it to TLS via setsockopt() calls, then this proposal covers such an implementation. We probably would need to go further C++ way, and add a bit of RTTI, in the shape of e.g. ->get_type(), to allow different stream types to differentiate each other (for full generality).

The flow this proposals entails is something

[2018-02-01 22:22] GAnthony commented on #5900
http://www.ti.com/lit/an/swra509a/swra509a.pdf, section 2.2.6, hints that's possible, but the user must explicitly re-invoke accept() or connect() to upgrade security.  It's not the normal mode of operation.

But why would that be necessary?  Wouldn't the IP protocol *normally* already know that it intends to deal with a secure socket, and create such a socket from the outset?  (I know there are e

[2018-02-02 06:28] noodlefighter opened #5952 "API k_delayed_work_submit_to_queue() make a delayed_work unusable"
Calling k_delayed_work_submit_to_queue() repeatly would broke the delayed_work object.

test case:
[code]

run:
[code]

-22 is "-EINVAL", let's check the docs:
[code]
Is it a bug or just some wrong with my operation?

[2018-02-02 07:50] KaSroka commented on #5943
File abstraction can be used to emulate flash for OpenThread - as example you can see posix OpenThread platform: https://github.com/openthread/openthread/blob/master/examples/platforms/posix/flash.c

We can also write our own settings modulethat uses file directly instead of flash: https://github.com/openthread/openthread/blob/master/examples/platforms/utils/settings.cpp

[2018-02-02 07:52] #3870 closed

[2018-02-02 07:52] #3862 closed

[2018-02-02 07:53] #3859 closed

[2018-02-02 07:54] #3860 closed

[2018-02-02 08:29] KaSroka commented on #5714
There is one more thing to do before we can certify: https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/openthread/platform/radio.c#L110

[2018-02-02 08:38] miyatsu opened #5953 "Build system: typedef not fit with zephyr type when CONFIG_NEWLIB_LIBC is enabled"
The original type of "uint32_t" is "unsigned int" defined in minimal libc, stdint.h.
However, when link with new libc, the type of "uint32_t" is "long unsigned int" instead.

Some of the sample warning output are shown as follow.
[code]

[2018-02-02 10:29] tarunkum opened #5956 "samples/net/coap_server: Failed to send response to coap client"
I was trying to test coap_server along with coap_client with two different frdm_k64f boards.
The steps I have followed for coap_server & coap_cleint is as below:

cd zephyr/samples/net/coap_client
mkdir build && cd build && cmake -GNinja -DBOARD=frdm_k64f ../
ninja
cp -vr outdir/frdm_k64f/zephyr.bin /run/media/MBED/

cd zephyr/samples/net/coap_server
mkdir build && cd build && cmake -GNinja -DBOAR

[2018-02-02 12:46] pfalcon commented on #5900
That's not my reading of that document:

"Irrespective" should give enough hints, but let's call it non-conclusive still. http://www.ti.com/lit/ug/swru455d/swru455d.pdf section 6.5.7 gives more specific information. It's still a bit confusing, because it start with talking about STARTTLS which is application protocol level feature, but following should clarify it:

(Assuming "client HELLO" is TLS'

[2018-02-02 13:28] pfalcon commented on #5900
Responding to that literally, IP protocol doesn't know anything about secure sockets, it just carries opaque data.

Right, so it's the higher(est) level which has (can have) the complete vision of what happens on the lower levels. And yes, we could have `stream *tls_stream = make_ti_sl_tls_stream(...);`, this proposal exactly allows that. But as mentioned above, such things outside of the primary

[2018-02-02 16:58] mbolivar opened #5958 ""Ninja flash" swallows user prompts"
I have a problem using 'ninja flash' when I have multiple boards of the same type plugged in (multiple PyOCD boards, etc.). The issue is that the flasher scripts prompt the user for which board to flash from a list, but ninja swallows the prompt, so the command hangs forever.

This is a regression from "make flash".

[2018-02-02 16:59] mbolivar commented on #5958
@carlescufi @SebastianBoe FYI

[2018-02-02 17:09] carlescufi commented on #5958
I think the issue is CMake, since ninja uses CMake under the hood to invoke the flasher script.

[code]

[2018-02-02 17:12] mbolivar commented on #5958
I can reproduce that behavior with nrfjprog. The behavior with PyOCD is different but still a problem:

[code]

This hangs forever with two boards plugged in. Compare that with 'make flash', which forwards the prompt to the user printed by pyocd-flashtool:

[code]

[2018-02-02 17:17] mbolivar commented on #5958
But why would it be CMake if it works with the Make backend, but doesn't work with Ninja, and no other changes are made?

[2018-02-02 17:21] mbolivar commented on #5958
Potentially relevant: https://ninja-build.org/manual.html#_the_literal_console_literal_pool

[2018-02-02 17:27] jfischer-phytec-iot commented on #5678
I found usb analyzer in our storage room.

The error seems to be in the usb_dw_tx . Below kernel log and the screenshots (master and #5496)

[code]
`sample/subsys/usb/mass, master`
![101_git_master_connect_1](https://user-images.githubusercontent.com/9864546/35745912-3c143e12-0845-11e8-9398-0028e9c3f14b.jpg)

`sample/subsys/usb/mass, #5496`
![101_git_5496_connect_1](https://user-images.githubuserc

[2018-02-02 17:39] carlescufi commented on #5958
I was mistaken, apologies for the red herring

[2018-02-02 18:04] #5958 closed

[2018-02-05 03:13] wenhuizhang opened #5968 "datastructure for LIFO"
Hi, to whom it may concern:

I don't understand why LIFO and FIFO are all initialized with a queue please?
It seems like operation changes when LIFO, it uses prepend, and when FIFO it uses append.
This makes the logic correct, however the names are little confusing.

https://github.com/zephyrproject-rtos/zephyr/blob/2251ea04a8eeef76f3bc4bbe58ea4132a2f67fad/include/kernel.h#L1937

[code]

[2018-02-05 13:10] #5693 closed

[2018-02-05 13:20] pfalcon commented on #5327
Release notes should include something like: "Cleanups and consistency improvements in sensor subsystem: SENSOR_CHAN_DISTANCE is changed to use meter unit, SENSOR_CHAN_HUMIDITY in percent units (backward incompatible changes)". I can prepare specific wording when release notes will be drafted.

[2018-02-05 13:30] carlescufi commented on #5426
This is no longer the case with `kconfig.py`. In fact now one would get an empty default value like:

`NEW_OPTION=`

[2018-02-05 13:36] carlescufi commented on #5426
Right now our script ignores the current `.config` and [generates a new one every time](https://github.com/zephyrproject-rtos/zephyr/blob/master/scripts/kconfig/kconfig.py#L29)
@ulfalizer is there a way for Kconfiglib to parse the current `.config` and ask the user for input when new options without a default value are defined?

[2018-02-05 13:42] SebastianBoe opened #5978 ""$ ninja kconfig-usage" is out-of-date"
"ninja kconfig-usage" is displaying features that have been dropped at some point,
such as "ninja alldefconfig"

[code]

[2018-02-05 13:51] thomafred opened #5980 "NRF5 I2C standard speed 250kHz"
The NRF5 I2C-driver SCL-line measures 250kHz when configured with standard speed (`I2C_SPEED_STANDARD`), while fast speed (`I2C_SPEED_FAST`) measures 100kHz.

The i2c-bus specifiation lists the following bidirectional speeds (section 5 of [this document](https://www.nxp.com/docs/en/user-guide/UM10204.pdf))

* **Standard-mode (Sm)** - bit rates up to 100 kbit/s
* **Fast-mode (Fm)** - bit rates up t

[2018-02-05 13:53] rveerama1 commented on #3712
There are RPL related fixes merged into upstream. Issue solved with latest upstream master branch. So closing this issue.

[2018-02-05 13:53] #3712 closed

[2018-02-05 14:23] #5720 closed

[2018-02-05 14:42] sam131208 opened #5982 "nRF5x subscribe will cause HardFault while disconnect and reconnect"
While  discovery the Current time Service and subscribe to server(iphone is server), and then disconnect from the setting page on iphone.  and open the bluetooth on setting page again, reconnect the nRF5x device. the zephyr will run to  the  function  att_handle_rsp(),  and the  function pointer att->req->func is NULL, while run the func(att->chan.chan.conn, err, pdu, len, att->req) will cause a H

[2018-02-05 15:43] ioannisg commented on #4983
FYI #5976 brings CMSIS headers for Cortex-M23,M33 (Armv8-M)

[2018-02-05 16:41] pfalcon commented on #5953
@miyatsu, Zephyr uses its own native types `u32_t`, `u16_t`, etc. They were introduced exactly to avoid issues like you describe. You would need to use them when writing Zephyr apps. And when interfacing with 3rd-party code, you may need to use explicit casts.

[2018-02-05 16:53] ulfalizer commented on #5426
@carlescufi
After loading any `.config` files that should be loaded, `oldconfig`-like behavior could be implemented e.g. as follows. The way `oldconfig` works is that it prompts the user for the value of each visible symbol that wasn't set in the `.config` file. Those are the "new" symbols.

There's some usability issues here in that you can't give a `string` value the empty string as the value un

[2018-02-05 17:03] carlescufi commented on #5426
@ulfalizer thanks for the input and code.

Understood, but for that `kconfig.py` should actually **load** an existing `.config` instead of simply overwriting it shouldn't it? The current implementation simply calls `kconf.write_config(<path to .config>)`, which does not load the existing `.config` if any.

[2018-02-05 17:08] ulfalizer commented on #5426
@carlescufi To check for and load an existing `.config` if it exists instead of the fragments, you could do something like

[code]

Maybe I'm misunderstanding the model you have in mind though.

[2018-02-05 17:11] carlescufi commented on #5426
@ulfalizer No, I don't think you're misunderstanding, it's just that before switching to Python we seem to have been using the `oldconfig` model which requires loading the `.config` into memory. During the transition this was lost and the existing `.config` if any is completely ignored and overwritten. Your snippet is what I meant was missing to complete the puzzle, which is actually 2 different i

[2018-02-05 17:15] ulfalizer commented on #5426
@carlescufi Yep, with that change, it should respect an existing `.config`. Since the script started out as a `merge_config.sh`-alike, I had assumed it was fine to ignore it. :)

[2018-02-05 17:21] carlescufi commented on #5426
@ulfalizer I tried running your patch on a completely clean build but I got asked about values that should default to "n" automatically (no default implies "n" AFAIK), such as [this](https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/Kconfig#L50) which should simply default to "n".

[2018-02-05 17:28] ulfalizer commented on #5426
@carlescufi That matches the `make oldconfig` behavior. Usually, you'd run it when you already have a `.config` that is somewhat filled-in from earlier, so that you only get prompted for a few new visible symbols (and can [Enter] your way through them quickly if they should get the default value).

[2018-02-05 17:30] ulfalizer commented on #5426
There also `olddefconfig` (same as `oldnoconfig`), which just fills in new symbols with their default value. The old version of `kconfig.py` already implicitly implements that one though.

[2018-02-05 17:37] carlescufi commented on #5426
Right, but what I see now is that if it's say an `int` with no default value called `FOO` then my `.config` ends up containing
[code]
instead of prompting the user. So I guess what we would need is something aking to `olddefconfig` but with a prompt for values that cannot default to anything reasonable?

[2018-02-05 17:41] pfalcon commented on #5900
Result of first iteration on implementation was posted as https://github.com/zephyrproject-rtos/zephyr/pull/5985 , which should give better look&feel of the proposed API.

What was not discussed in this ticket is allocation matters, but of course, they surface in the real usage. The basic is that space for a particular type of stream object is allocated by client, and there's an initializer which

[2018-02-05 17:46] ulfalizer commented on #5426
Hmm... that shouldn't happen. Here's a test Kconfig:

[code]

When I run the script against that with an empty `.config`, I get the following:

[code]

The final `.config` has this:

[code]

`int` and `hex` values do default to the empty string, but you won't be able to assign that as a user value.

[2018-02-05 17:48] aescolar-ot commented on #5938
After #5937 it seems things are working properly enough.
=> I close this is issue. There may still be some inconsistencies in samples/, which will be fixed by another pending issue

[2018-02-05 17:48] #5938 closed

[2018-02-05 17:53] carlescufi commented on #5426
@ulfalizer I meant it happens in the current vanilla Zephyr tree without the snippet [here](https://github.com/zephyrproject-rtos/zephyr/issues/5426#issuecomment-363146592). Maybe it's not quite clear, but what I'm trying to replicate here is the old behavior where:

1) If there's no `.config` then all values take defaults
2) If a `.config` exists then the user is prompted for any new values that

[2018-02-05 17:58] ulfalizer commented on #5426
Getting pretty deep in Kconfig arcana, but you can end up with `CONFIG_INT=` still in a `.config` file if you don't assign a user value to `INT` and simply let it get its default value. That assignment will simply be ignored when loading the `.config` file back in though.

When writing out a new `.config`, you might still get `CONFIG_INT=` in it again, from the default value, even though the user

[2018-02-05 18:02] ulfalizer commented on #5426
@carlescufi This should work in order to get that behavior:

[code]

`make alldefconfig` never prompts the user for values btw. It's like if you ran `make oldconfig` and held down the [Enter] key to assign each new symbol its default.

[2018-02-05 18:05] ulfalizer commented on #5426
`alldefconfig` should've been `olddefconfig` -- sorry about that typo. They sound too similar...

[2018-02-05 18:15] ulfalizer commented on #5426
To clarify, when writing out a `.config` file, all the visible symbols that didn't get assigned a user value (from a `.config`) automatically get their default value. This is required in order to generate a valid `.config` file, and is also what happens in e.g. the `menuconfig` interface when you run it without a `.config`.

So simply doing `load_config()` + `save_config()` automatically implement

[2018-02-05 18:35] aescolar-ot commented on #5546
A separate thing to be aware:
If you do changes to code which is not run by sanitycheck in any of the native_posix tests or samples, codecov will not tell that the diff coverage is 0%.
Instead it will tell you it is `n/a` and that those files are not tracked.

[2018-02-05 18:42] ulfalizer commented on #5426
@carlescufi And yeah, running the `oldconfig` logic in the fragment merging case doesn't make much sense of course, because the fragments are minimal and will leave lots of stuff unspecified. Braino in my initial patch. I need my coffee fix. :)

[2018-02-06 01:04] andrewboie opened #5989 "workstation setup instructions are broken for Fedora"
I am unable to build any native_posix packages due to missing C++ compiler, 32-bit libraries, and possibly other packages.

The workstation setup instructions have to be amended.

[code]

[2018-02-06 01:55] ulfalizer commented on #5426
Hello,

I spent some time implementing a more robust ``oldconfig`` script that also handles choices properly (and looks more similar to the standard ``make oldconfig``): https://github.com/ulfalizer/Kconfiglib/blob/master/examples/oldconfig.py

You might want to drop the script alongside `kconfig.py` I guess, since it's pretty large with all the checking and stuff. To do the ``oldconfig``, you cou

[2018-02-06 05:16] spoorthik opened #5992 "doc: Discrepancy in Zephyr memory domain API documentation"
Remove thread from memory domain API (k_mem_domain_remove_thread())has only one argument, thread ID in the implementation whereas documentation says there has to be two arguments, memory domain and thread ID. Memory domain argument is not required as a thread belongs to single memory domain at any point in time. Also memory domain initialisation function (k_mem_domain_init()) should accept only 3

[2018-02-06 05:30] spoorthik commented on #5992
#5993

[2018-02-06 06:09] tarunkum opened #5994 "samples/bluetooth/ipsp: build failed for MICRO-BIT & NRF51-PCA10028 HW"
I was trying to build the ipsp test from samples/bluetooth folder for the target MICRO-BIT & NRF51-PCA10028 HW.

Getting some build issue if I am trying to build for these respective targets. It seems SRAM space issue occurs.

Below is the error message appears on terminal.

[1/148] Generating always_rebuild
Building for board nrf51_pca10028
[144/148] Linking C executable zephyr/zephyr_prebuilt.el

[2018-02-06 08:32] jli157 opened #5996 "Need a "ps aux" like command to list all running threads and their attributes"
Can Zephyr have a "ps aux" like command, to list all of current running threads, with their detailed information, like
1. Is it a user mode thread of kernel thread?
2. How much is its stack size?
3. Thread Id number.
4. ..

This command should be very helpful for debugging purpose.

[2018-02-06 09:18] ramakrishnapallala commented on #2978
In the current Zephyr tree, we have support for FATFS and NFFS support but they are mutually exclusive i.e we cannot have both filesystems mounted at the same time.

Also, we don’t have the flexibility to have multiple filesystems mounted even if they are of the same type.  The reason is that the current implementation assumes that we will only have one instance of the single filesystem in the sys

[2018-02-06 10:14] carlescufi commented on #5426
@ulfalizer wow that is a lot of info to digest and try :) I will do that and submit a PR to Zephyr with all this in mind. I think we had a strange hybrid of `olddefconfig` and `oldconfig` before switching to Kconfiglib and people had gotten used to that. I will however see what makes sense in the current context. Thank you again for all the comments and code!

[2018-02-06 12:53] pfalcon commented on #5692
From email thread:

(https://github.com/zephyrproject-rtos/zephyr/issues/5692) didn't
receive any feedback, so apparently nothing should be done to it. My
plan is to add documentation to disambiguate its usage (in 1.11
timeframe), then as time permits, add a function which converts struct
sensor_value to a string without relying on floating-point arithmetics.

[2018-02-06 13:28] skordal commented on #3065
I have been looking a little into the differences between OpenAMP and RPMsg-Lite, while working with the two libraries. Some thoughts about each of them:

**OpenAMP**
- Seems to be targeted mostly at applications where Linux is run on the host processor
- Provides functionality to manage remote processors (load firmware, boot remote processor, etc)
- Requires that a shared resource table is set up

[2018-02-06 13:33] ioannisg commented on #4983
FYI #5999 is meant to bring in compile-time defines for ARMv8-M (arch/ and include/ in the Zephyr tree)

[2018-02-06 15:29] carlescufi commented on #5254
@SavinayDharmappa Do you plan to fix this in time for 1.11? (timeline is end of February)

[2018-02-06 15:31] carlescufi commented on #5943
@jfischer-phytec-iot Sounds to me like we could write an abstraction over FCB or NFFS. Any takers to implement this in the 1.11 timeline?

[2018-02-06 15:32] carlescufi commented on #5650
@lpereira @iha Is this still relevant?

[2018-02-06 15:33] carlescufi commented on #5283
@andrewboie could you give us the names of the functions that replace the former `nano*` ones?

[2018-02-06 15:37] carlescufi commented on #5143
I tried to reproduce this but `CONFIG_ETH_MCUX_0` is disabled in my `.config`. Will close this unless someone can reproduce this.

[2018-02-06 15:38] carlescufi commented on #4927
@lpereira @dleach02 @nashif is this still relevant? I don't have the hardware to test if it still is.

[2018-02-06 15:40] carlescufi commented on #4012
@d3zd3z @pfalcon Is this still an issue?

[2018-02-06 15:41] carlescufi commented on #4000
@andyross thanks, is the code merged already? If not can you add "fixes #4000" in the PR description so it closes this issue once it's merged?

[2018-02-06 15:41] carlescufi commented on #3718
@agross-linaro can you confirm this is still an issue and needs fixing?

[2018-02-06 15:42] carlescufi commented on #3668
@youvedeep do you plan on fixing this for the 1.11 timeframe? This is around end of February

[2018-02-06 15:44] carlescufi commented on #3127
@pfalcon according to you last comment this is fixed. Can the issue be closed?

[2018-02-06 15:57] iha commented on #5650
Hi @carlescufi , I made these two PRs to fix the I2C Master: https://github.com/zephyrproject-rtos/zephyr/pull/5850 and https://github.com/zephyrproject-rtos/zephyr/pull/5851 . The https://github.com/zephyrproject-rtos/zephyr/pull/5850 needs some change but with these two PRs the I2C driver works.

I tested with a LCD (HD44780) and an accelerometer (MMA7660).

[2018-02-06 16:03] #5240 closed

[2018-02-06 16:27] nashif commented on #5996
the shell actually has some basic version of that, try samples/subsys/shell/shell_module/ and run

[code]

I had a more detailed version with more data, but I lost it in some branch somewhere, need to search for it again :(

[2018-02-06 17:48] #5919 closed

[2018-02-06 18:23] galak commented on #5953
Can you provide a test/example that shows this issue.

[2018-02-06 18:30] nashif commented on #5778
fixed

[2018-02-06 18:30] #5778 closed

[2018-02-06 18:32] galak commented on #5766
@erwango any comments on this?

[2018-02-06 18:33] nashif commented on #5762
no plans to support this in WSL since it only supports 64bit.

[2018-02-06 18:33] #5762 closed

[2018-02-06 18:44] nashif commented on #5605
is this fixed already?

[2018-02-06 18:48] pfalcon commented on #3127
Yes, there're actually more requirements popping up, e.g. https://github.com/zephyrproject-rtos/zephyr/pull/5846 , but the core ones now can be considered implemented, and we can deal with exceptions separately. Thanks.

[2018-02-06 18:48] #3127 closed

[2018-02-06 18:49] pfalcon commented on #4012
I don't know of specific changes which would affect this. Ideally, this would need to be retested, but my guess is that problem is still there.

[2018-02-06 18:49] carlescufi commented on #3127
@pfalcon thank you!

[2018-02-06 19:57] nzmichaelh commented on #2978
Concept SGTM.  I can test this on the WIP SDHC-over-SPI (#5457, #5528) driver if you'd like.

[2018-02-06 20:01] nzmichaelh commented on #2978
This may need to work with the USB mass storage device support.

[2018-02-06 22:09] jli157 commented on #5996
That is great! I think this command can meet my requirement. But if you have a better solution, that should be better. :)

Thank you!

[2018-02-06 22:36] nashif opened #6007 "native: Add support for TAP net device"
Now that we have native_posix port, we need to add a TAP net device to be able to utilize the host network for testing and simulation.

[2018-02-06 22:37] #1893 closed

[2018-02-06 22:38] #2939 closed

[2018-02-06 22:38] #2365 closed

[2018-02-06 22:39] #2347 closed

[2018-02-06 22:53] nashif commented on #5143
tried here as well, works as expected, so closing.

[2018-02-06 22:53] #5143 closed

[2018-02-06 23:06] mbolivar opened #6010 "Removal of old HTTP API is causing errors and faults"
Something is not quite right with https://github.com/zephyrproject-rtos/zephyr/commit/d1675bf3e658c945599dad1d786ce8a7590c327e, which removed the old HTTP API. The removal is causing regressions on an existing application which was already using the new API.

The following are observed regressions when using the new-style API routine http_client_send_get_req() on an nRF52 using BTLE 6lo to provide

[2018-02-06 23:59] #5989 closed

[2018-02-07 00:09] andrewboie opened #6013 "updated workstations setup breaks FC27"
The gcc-c++.i686 package is causing problems.

When I first installed it:

[code]

It downgraded GCC from 7.3 to 7.2!

Now when I try to update my system:

[code]

[2018-02-07 00:22] andrewboie commented on #6013
This appears to be a Fedora issue so filing an upstream bug is sufficient to close this.

[2018-02-07 00:36] #5136 closed

[2018-02-07 00:40] #5699 closed

[2018-02-07 04:21] ulfalizer commented on #5426
I just made `set_value()` accept `"n"`/`"m"`/`"y"` as aliases for 0/1/2 btw: https://github.com/ulfalizer/Kconfiglib/commit/f66cd7155158943987570937be37b09d9ca58028

I also simplified [oldconfig.py](https://github.com/ulfalizer/Kconfiglib/blob/master/examples/oldconfig.py) by making use of that, so you will need to add that Kconfiglib commit for the latest version of `oldconfig.py` to work.

No ot

[2018-02-07 04:30] nashif commented on #3872
obsolete after move to cmake

[2018-02-07 04:30] #3872 closed

[2018-02-07 04:35] ramakrishnapallala commented on #2978
@nzmichaelh sure, I will keep you posted on the updates. Thanks :)

[2018-02-07 05:36] punitvara commented on #3384
Yes in bug fixing time after M3 of v1.11

[2018-02-07 05:40] tmauron opened #6015 "PWM on 32bit arch can get 0 pulse_cycle because of 64bit calculation"
In the file zephyr/include/pwm.h, 64 bit is used to calculate the period an the pulse. On a 32 bit machine we might get `0` for the `pulse_cycles` or `period_cycles`. A suggestion could be to change `pulse_cycles = (pulse * cycles_per_sec) / USEC_PER_SEC;` to `pulse_cycles = (cycles_per_sec / USEC_PER_SEC) * pulse;`
Here is a snippet of the modified function that works for me:

[code]

[2018-02-07 06:03] SavinayDharmappa commented on #5254
@carlescufi yes i have just started . I will be pushing first set of patch by end on next week .

[2018-02-07 07:48] SebastianBoe commented on #5605
Unfortunately no.

[2018-02-07 09:01] erwango opened #6017 "Enable easy use of shields with overlays"
Most of boards available in Zephyr are compatible with various shields of different kind, most common on being Arduino type.
There is a wide range of these shields and providing a easy way to use them would help faster prototyping and demos. Thanks to device tree and overlays there is only a little to do to make this available.

I propose to add a SHIELD= option in build command. Shield .overlay f

[2018-02-07 09:09] carlescufi commented on #6017
@erwango fixed your snippets, you need to use 3 backticks (`) without the quotes:
"```"
<code>
"```"

[2018-02-07 09:24] carlescufi commented on #5426
@ulfalizer thanks! Now that we have an "official" fork under the zephyrproject-rtos user it makes it easier for me to rebase. Will do that and then continue with related oldconfig work.

[2018-02-07 12:48] carlescufi commented on #5847
Here's a "wish list" for this particular feature:

* Python3-based tool that includes all of menuconfig's functionality
* Uses one of the ncurses replacement libraries above
* Has full mouse support
* Tested on *NIX and Windows 7/10

[2018-02-07 12:50] carlescufi opened #6022 "Consistent feature dependency checks based on ARMvX-M"
Introduce checks for the different ARMvX-M registers and features so that we make sure that they are not accidentally enabled by the users.
This includes VTOR, BASEPRI and all of the rest of the ARMvX-M features.

[2018-02-07 13:17] MariuszSkamra opened #6023 "Invalid behaviour of Transport Layer after Incomplete timer expiration"
Instead of ignore segments of cancelled message, Host send acknowledgment message.
According to Mesh v1.0 3.5.3.4 Reassembly behavior:
"When the incomplete timer expires, the lower transport layer shall consider that the message being
received has failed and cancel the acknowledgment timer. Any segment of a canceled message shall be ignored."
In this test case PTS is not sending 8th segment even i

[2018-02-07 13:19] MariuszSkamra commented on #6023
debug logs [iut-zephyr.log](https://github.com/zephyrproject-rtos/zephyr/files/1703189/iut-zephyr.log)
test execution logs [autoptsclient-zephyr.log](https://github.com/zephyrproject-rtos/zephyr/files/1703187/autoptsclient-zephyr.log)

[2018-02-07 13:36] #5992 closed

[2018-02-07 14:01] pfalcon opened #6025 "mbedTLS: Buffer overflow security issue, requires upgrade to 2.7.0"
There is a pretty obvious, blatant buffer overflow possibility in the mbedTLS codebase (2.6.0) used by Zephyr as of now. It was fixed in 2.7.0 by this commit: https://github.com/ARMmbed/mbedtls/commit/0b7b83fd9 .

In the interest of establishing Zephyr as the secure codebase, we should upgrade included mbedTLS for the 1.11 release.

[2018-02-07 14:02] pfalcon commented on #6025
@lpereira : FYI as the author of b9bc24c8dd146bb23c35fe6110a8ac5b51c5d9b3
@jukkar : FYI

[2018-02-07 14:03] jukkar commented on #6010
I have been trying to reproduce this with samples/net/http_client sample app but so far has not been successful. I am using frdm_k64 and ethernet so slightly different setup but the used hw should not matter much here.

Couple of questions:
* When you revert the offending commit, do you start to use the old API or do you always use the new API? The offending commit just removes API so it is weird

[2018-02-07 14:06] jukkar commented on #6010
BTW, could you activate also net-app debugging, the option is CONFIG_NET_DEBUG_APP=y and paste the log somewhere.

[2018-02-07 14:20] nashif commented on #5968
@Vudentz can you please look into this, AFAIK you made changes in this area.

[2018-02-07 14:22] nashif commented on #1793
API already implemented and we have a driver.

[2018-02-07 14:22] #1793 closed

[2018-02-07 14:33] jukkar commented on #6010
I managed to get this output from http-client sample when running the sample without any net stack debugging so perhaps this is a timing issue, the error code is same as yours so could be related issue.

[code]

[2018-02-07 14:53] jukkar commented on #6010
@rveerama1 is fixing http issue in https://github.com/zephyrproject-rtos/zephyr/pull/5035/commits/7273b9a5a6ac3b5b30d06e93e2e5091d23b062d4
That commit needs to split in smaller pieces thou so it cannot be applied yet. Anyway looks like related issue to me. The root cause is that sometimes we are not able to select correct net_context in net_app which then causes this -ENOMEM (12) to be returned an

[2018-02-07 15:02] nashif commented on #1181
@jukkar are you looking into this?

[2018-02-07 15:03] nashif commented on #2760
PR is merged, so closing.

[2018-02-07 15:03] #2760 closed

[2018-02-07 15:14] nvlsianpu opened #6026 "subsys: storage: flash_map - power management feature"
flash_map module provide flash_area_open and flash_area_close API. Is it possibile that original (so MyNewt) intention for these API call was to provide some kind ow power management regards memory devices.

This discusion started at [convert FCB to use sectors PR](https://github.com/zephyrproject-rtos/zephyr/pull/5987)

<b>flash power management future:</b>

@ccollins476ad wrote:

The changes loo

[2018-02-07 15:15] nvlsianpu commented on #6026
cc @ccollins476ad @mbolivar

[2018-02-07 15:18] anangl commented on #5980
250 kHz is the default frequency set in the TWI peripheral after reset. It looks like the configuration register is not set at all. Are you sure that the `i2c_configure` function is successful (i.e. it returns 0)?
Perhaps you don't use the macro `I2C_SPEED_SET` when configuring the speed?
When I do:
[code]
the speed is configured correctly.

[2018-02-07 15:24] pfalcon commented on #6010
Can this issue be handled/ticketed separately? Not selecting correct net_context apparently should't lead to ENOMEM, but e.g. to EINVAL or more specific error. That sounds like an opposite of https://github.com/zephyrproject-rtos/zephyr/pull/5864, where EINVAL was returned instead of ENOMEM. (Unless I'm missing what "correct net_context" means above.)

[2018-02-07 15:36] nashif commented on #1890
obsolete group issue

[2018-02-07 15:36] #1890 closed

[2018-02-07 15:37] dleach02 commented on #4927
I don't know. I entered the bug because it seemed like something that should be captured at build time instead of a hard crash at run time. Was there any specific changes made to allow this to occur?

[2018-02-07 15:37] nashif commented on #1892
duplicate of #5703

[2018-02-07 15:37] #1892 closed

[2018-02-07 15:39] #1926 closed

[2018-02-07 15:39] #1930 closed

[2018-02-07 15:39] #2007 closed

[2018-02-07 15:39] nashif commented on #2239
have not seen this in a while, closing

[2018-02-07 15:39] #2239 closed

[2018-02-07 15:44] nashif commented on #2722
obsolete, we have no nanokernel no more

[2018-02-07 15:44] #2722 closed

[2018-02-07 15:45] nashif commented on #2620
obsolete with cmake

[2018-02-07 15:45] #2620 closed

[2018-02-07 15:53] pfalcon commented on #1181
Let me chime in with the idea that @jukkar might have more important things to do in general, and this issue is not too critical for 1.11 (a cleanup, not a bug). So, assigning to myself (keeping @jukkar assigned still as the maintainer, I don't know if that's right thing to do, but I always did), and removing 1.11.

[2018-02-07 15:55] pfalcon commented on #1181
(I usually assign all networking tickets to @jukkar as the maintainer for "triaging", which may include reassigning to other parties. This issue was acked by him, thanks.)

[2018-02-07 16:15] b0661 opened #6029 "doc: Zephyr sphinx/pygments support DTS"
The Zephyr documentation system should support code blocks for device tree specifications.

    .. code-block:: DTS

There is a patch for pygments (https://patchwork.ozlabs.org/patch/688187) but it is not upstream.

[2018-02-07 17:31] #1921 closed

[2018-02-07 17:53] nashif commented on #2107
We do handle coverage and track it with the native_posix port, we will support this also with other platforms soon, so nothing to be done here.

[2018-02-07 17:53] #2107 closed

[2018-02-07 17:53] nashif commented on #2912
code coverage is not being tracked and reported.

[2018-02-07 17:53] #2912 closed

[2018-02-07 17:55] carlescufi commented on #2244
We still require special primitives in the LL, so this is not going to happen.

[2018-02-07 17:55] #2244 closed

[2018-02-07 17:58] #2819 closed

[2018-02-07 17:58] mbolivar commented on #6017
Adding @superna9999 since he sent email about this to the list a while back

[2018-02-07 17:58] #2889 closed

[2018-02-07 18:07] #5760 closed

[2018-02-07 18:18] nashif commented on #1462
done already in 301acb8e1bc0bbb2e102d7aac38b557c737cd72f

[2018-02-07 18:18] #1462 closed

[2018-02-07 19:19] mbolivar commented on #6010
I'll respond to questions in this first comment, and provide some additional infomation in a follow-up.

We only ever use the new API in our application.

I don't right now, no, sorry. If this remains an issue I will try to make a smaller reproducer, though it sounds like you may have some leads.

https://gist.github.com/mbolivar/a064e022112b0334106d40a8f1ce877b

This looks like an API break as we

[2018-02-07 19:27] mbolivar commented on #6010
As noted in my initial report, the regression involves a "Bad request" response from the server.

To look into this further, I captured the traffic and followed the HTTP stream in wireshark. There are indeed different traffic patterns on the wire with and without the revert.

- Regressed case, without revert (note the "Bad request" appears after a broken JSON fragment, and there appears to be a re

[2018-02-07 19:40] mbolivar commented on #6026
@nvlsianpu I have often wondered the same thing.

In the middle of last year, I inserted some debugging calls into mcuboot's loader.c file to track opening and closing, and it was full of bugs. There were a lot of times that things were getting opened but never closed, and the newt implementations for those functions were empty IIRC.

I fixed the mcuboot bugs as best I could (with few exceptions,

[2018-02-07 19:52] #5650 closed

[2018-02-07 20:22] carlescufi opened #6038 "Update Zephyr Licensing page"
This is missing several of the components in `ext/`
http://docs.zephyrproject.org/LICENSING.html#zephyr-licensing

[2018-02-07 20:52] nashif commented on #4025
not sure what to do about this bug, its been 2 releases already and going into the next, so this is not going to be "fixed".

[2018-02-07 20:52] #4025 closed

[2018-02-07 21:25] #6025 closed

[2018-02-07 22:05] MaureenHelm opened #6039 "Implement interrupt driven USART on LPC54114"
Currently the usart shim driver for LPC54114 only supports polling mode; add support for interrupt-driven mode. This is needed to support the console shell.

[2018-02-07 22:07] MaureenHelm opened #6040 "Implement flash driver for LPC54114"
Add a shim over the mcux flashiap driver to adapt it to the zephyr flash driver interface.

[2018-02-08 01:04] mike-scott commented on #1429
This adds the LWM2M_DEVICE_PWRSRC_MAX config:
https://github.com/zephyrproject-rtos/zephyr/pull/6042

[2018-02-08 02:56] nashif commented on #5890
fixed

[2018-02-08 02:56] #5890 closed

[2018-02-08 03:23] mbolivar commented on #5847
I've done some initial review of these based on their documentation and installing them and playing around with their basic examples.

In all three cases, the libraries appear to be thoughtfully designed and carefully implemented.

Blessings provides basic terminal coloring and text styling, as well as positioning and fullscreen control. The feature set seems too restricted to implement the full w

[2018-02-08 03:39] #6013 closed

[2018-02-08 04:13] mbolivar commented on #5847
Ugh, though there's some pain coming down the pipe:

https://github.com/jonathanslenders/python-prompt-toolkit/issues/568

[2018-02-08 05:20] jli157 commented on #5996
Well documented. So, it can be closed.

[2018-02-08 05:20] #5996 closed

[2018-02-08 07:20] aescolar-ot opened #6044 "native_posix missing features"
This is a non-exhaustive list of known missing* features in the native_posix board.
\* missing = not (yet) implemented / supported, not (properly) tested.
The purpose being to make it clear for users.

* Kernel:
  * No TICKLESS_KERNEL support
  * TICKLESS_IDLE (only partially tested)
* Devices/drivers:
  * Entropy device (using host random() + seed from command line)
  * Network - ethernet
  * UAR

[2018-02-08 07:39] jukkar commented on #6010
Yes, we need to add a parameter to a existing function to fix the issue @rveerama1 found out, it is not certain if this really fixes the issue you are seeing.

[2018-02-08 08:45] erwango commented on #5766
Well, I think this is indeed incorrect information.
I've been able to check flash is successful on nucleo_f429zi and nucleo_f412zg and I don't see why it shouldn't work on last one.
I'll fix this.

[2018-02-08 10:01] carlescufi commented on #5847
Not sure this is a real problem, it looks like he'll push to pypi without changing the name, and even if he did change the name we could use the `*2` version?

[2018-02-08 10:12] ulfalizer commented on #5847
Nice coincidence. I just bumped Kconfiglib's major version to 3 (though I doubt anyone will be affected by the small API behavior change -- just sticking to principles since I said I use semantic versioning). :P

Yeah, seems best to go with the *2 version. Thanks for the investigation!

[2018-02-08 10:28] erwango opened #6050 "IPSP sample failed: Cannot bind IPv6 mcast (-2)"
IPSP sample is failed on Carbon

[ipsp] [INF] init_app: Run IPSP sample
[ipsp] [ERR] get_context: Cannot bind IPv6 mcast (-2)
[ipsp] [ERR] listen: Cannot get network contexts

Issue is solved and sample is working with following change:
 /* admin-local, dynamically allocated multicast address */
``` -#define MCAST_IP6ADDR { { { 0xff, 0x84, 0, 0, 0, 0, 0, 0, \ ```
```-			    0, 0, 0, 0, 0, 0, 0, 0x

[2018-02-08 11:11] ioannisg commented on #4983
@carlescufi @galak @nashif @SebastianBoe @skordal
As soon as #5999  is merged, we will be able to compile for CortexM23/M33. One issue will will run into is the following:

core_cm33.h has the following compile-time check, in case _GCC is used:

  #if defined (__ARM_FEATURE_DSP) && (__ARM_FEATURE_DSP == 1U)
    #if defined (__DSP_PRESENT) && (__DSP_PRESENT == 1U)
      #define __DSP_USED       1U

[2018-02-08 12:21] Vudentz commented on #5994
It simply doesn't fit:
SRAM: 39736 B 32 KB 121.26%

There maybe possible to fine-tune the buffers sizes to make them fit on 32 KB, but given it is almost 7 KB over I think it will be pretty hard to squeeze.

[2018-02-08 12:26] Vudentz commented on #5968
Well they both are using a queue as storage for the items, in fact both k_fifo and k_lifo could be replaced by k_queue, but initially lifo and fifo did not share a common storage so there was a lot of code duplication.

[2018-02-08 12:34] Vudentz commented on #5982
Can we have a trace with CONFIG_BT_ATT_DEBUG and CONFIG_BT_GATT_DEBUG? Note that the API of bt_gatt_subscribe do state that struct bt_gatt_subscribe_params *params should not be touched during its operation, perhaps there is something cleaning up the _req used by the stack to track the reply?

[2018-02-08 12:40] #6050 closed

[2018-02-08 12:45] Vudentz commented on #5317
Either we do this or we add a parameter to net_if_down to inform the reason which is then used to infer if leave_mcast_all is needed or not.

Btw, we used to have net_if_down as a means to do carrier detection, so having leave_mcast_all there seems wrong when we know there is no connection to deliver the packets.

[2018-02-08 13:34] SebastianBoe commented on #4983
Hi.

After discussing with @ioannisg we agreed that we have two options:

1. Re-compile a development version of GCC and distribute it in a new Zephyr SDK release that supports 1.11.

2. Keep the #error, and communicate somehow that if you want to use M33 without DSP you are going to have to build your own development version of GCC.

I would suggest going for option 1, it is a bigger effort for u

[2018-02-08 13:52] erwango commented on #5448
Fixed by #5455

[2018-02-08 13:52] #5448 closed

[2018-02-08 15:31] nashif commented on #5017
cant reproduce, closing

[2018-02-08 15:31] #5017 closed

[2018-02-08 16:50] SebastianBoe commented on #4927
" it seemed like something that should be captured at build time instead of a hard crash at run time"
I agree. AFAICT this has been like this for a long time and still behaves like this. So we should keep this issue to track it.

[2018-02-08 16:58] SebastianBoe commented on #6017
This sounds great :)

"Thanks to device tree and overlays there is only a little to do to make this available."

I would be very interested to understand how device tree makes this easier. E.g., is there an ecosystem of shield device tree descriptions that we can leverage? Also, a description of what the attached device tree snippets are describing and how that information integrates with the rest

[2018-02-08 17:00] SebastianBoe commented on #6017
"I propose to add a SHIELD= option in build command."

I would propose that this option be a Kconfig option.

[2018-02-08 17:19] nashif commented on #1082
I think this is resolved and had a fix

[2018-02-08 17:19] #1082 closed

[2018-02-08 18:00] #5766 closed

[2018-02-08 18:45] jhedberg commented on #1526
The SiLabs application's bug is a known one. I don't directly see any issue we can fix on the Zephyr side here. The provisioning protocol has been successfully run against all the qualification (PTS) test cases, so from the perspective the implementation should be correct.

[2018-02-08 18:54] nashif commented on #1526
then this bug should be closes as far as I a concerned.

[2018-02-08 19:49] nashif commented on #5444
i think those have been addressed already

[2018-02-08 19:49] #5444 closed

[2018-02-08 20:12] jhedberg commented on #4989
Is this any different from https://github.com/zephyrproject-rtos/zephyr/issues/5486 ?

[2018-02-08 20:16] jhedberg commented on #4836
@cobbler123 are you still able to reproduce this with the latest master branch?

[2018-02-08 20:17] #3081 closed

[2018-02-08 20:32] nashif opened #6062 "build failure in tests/boards/altera_max10/i2c_master with sys log enabled"
[code]

[2018-02-08 21:21] lpereira commented on #4705
Building with newlib is unsupported on ESP32.

[2018-02-08 23:06] andrewboie opened #6064 "k_is_in_isr() returns false inside "direct" interrupts on several arches"
This affects at least x86, Nios II, Xtensa, and Riscv32.
These arches detect whether we are in interrupt context by checking kernel.nested which gets incremented/decremented in the common IRQ entry/exit code. However direct interrupts bypass all the common IRQ code and hence this always returns false.

[2018-02-09 00:30] mike-scott opened #6066 "LwM2M: support object versioning in register / discover operations"
The only item left to meet OMA LwM2M 1.0 Enabler Static Conformance Requirements (mandatory items) is the following:
LwM2M-CR-012-C-M: Support of Object Versioning in the Object and Object Instances parameter list (Section 5.3.1)

Per the LwM2M tech specification if an object only has 1 version then the version doesn't need to be specified.  And if an object is part of the LwM2M enabler specificat

[2018-02-09 01:21] mtuxpe opened #6067 "Add initial support for Silabs EFM32 Happy Gecko"
First add external Gecko SDK for  Silabs EFM32HG family
ext/hal/silabs/gecko/Device/SiliconLabs/EFM32HG/

https://www.silabs.com/products/development-tools/mcu/32-bit/efm32-happy-gecko-starter-kit

[2018-02-09 03:54] ramakrishnapallala commented on #6062
My bad :(, I have not set the level while testing.

[2018-02-09 04:30] #6062 closed

[2018-02-09 10:10] ioannisg commented on #6022
VTOR register
 - holds the vector table [offset] address

[2018-02-09 13:48] jhedberg commented on #5695
Note that you don't need to use the BT_MESH_ADV_CONN macro if you don't want to. Creating a "normal" struct bt_mesh_adv_param stack variable and passing a reference to that to bt_mesh_adv_start() should make a C++ compiler happy.

[2018-02-09 14:23] finikorg commented on #2613
@nashif @jfischer-phytec-iot I am thinking what could be the simple multifunction device? I had example before (with old USB interface) USB Networking with RNDIS and ECM, not at the moment supported.

[2018-02-09 14:37] SebastianBoe commented on #5633
By set'ing

set(CMAKE_C_COMPILER ccache ${CMAKE_C_COMPILER})

I could observe that running CMake

was reduced to

real	0m0.862s

from

real	0m1.192s

which is a speedup of 40%, much more than what valgrind indicated.

This re-inforces that we should try to fix this performance issue. Perhaps using ccache (Unfortunately this does not help non-ccache users).

[2018-02-09 14:59] jfischer-phytec-iot commented on #2613
`sample/subsys/usb/cdc_acm` has a commented out option for MSC, but this issue can be resolved with #4373

[2018-02-09 15:31] #5743 closed

[2018-02-09 15:32] erwango commented on #6017
Not that I am aware of

Here are the detailed operations generated for one sensors, based on the example above.
I hope this will answer your question (please  tell me otherwise).

[code]
This help generating the following defines:
[code]
And, since this sensor is defined in arduino_i2c node. If this alias is defined in board.dts:
[code]
 with
[code]
then I2C is enabled, configured and sensor is as

[2018-02-09 15:38] #3850 closed

[2018-02-09 15:50] rmstoi opened #6081 "echo server crash from corrupt ICMPv4 packet"
Defensics test case 7: ICMPv4.Request.RFC792-Echo-Request.ICMP-Echo-Request.icmp-echo-request.element 0x2c0d71f3e7d5dd93

This test case crashes echo server in QEMU.

[2018-02-09 15:52] rmstoi commented on #6081
[icmpv4-7.zip](https://github.com/zephyrproject-rtos/zephyr/files/1711568/icmpv4-7.zip)
[qemu.log](https://github.com/zephyrproject-rtos/zephyr/files/1711573/qemu.log)

[2018-02-09 16:00] nashif opened #6082 "Support the MIPS architecture"
Support MIPS architecture and select boards. In addition and for the purpose of testing support Qemu and verify it passes all kernel tests.

[2018-02-09 16:14] nashif commented on #4709
cant reproduce

[2018-02-09 16:14] #4709 closed

[2018-02-09 16:14] nashif commented on #4597
can't reproduce

[2018-02-09 16:14] #4597 closed

[2018-02-09 16:17] nashif commented on #5619
same issue as #4705

[2018-02-09 16:17] #5619 closed

[2018-02-09 16:17] nashif commented on #4578
same issue as #4705

[2018-02-09 16:17] #4578 closed

[2018-02-09 16:18] nashif commented on #4705
same issue as #1495

[2018-02-09 16:18] #4705 closed

[2018-02-09 16:27] MariuszSkamra opened #6083 "Bluetooth: Regression in MESH tests"
Seems that patch ad7c9d3d76aef3b6298fbca7c27a3e202f777d70 introduces regression in MESH tests.

Affected TCs:
MESH/NODE/IVU/BI-01-C
MESH/NODE/IVU/BI-02-C
MESH/NODE/IVU/BI-04-C
MESH/NODE/IVU/BI-05-C
MESH/NODE/IVU/BI-06-C
MESH/NODE/IVU/BV-01-C
MESH/NODE/IVU/BV-03-C
MESH/NODE/IVU/BV-04-C
MESH/NODE/IVU/BV-05-C
MESH/NODE/KR/BI-05-C
MESH/NODE/KR/BV-02-C
MESH/NODE/KR/BV-03-C

Test Cases are failing, beca

[2018-02-09 17:59] iha opened #6084 "api: pinmux/gpio: It isn't possible to set pins as input and output simultaneously"
To configure the pins to be used in an i2c driver I had to do a workaround (https://github.com/zephyrproject-rtos/zephyr/pull/5850) so that the input was always enabled. Because the PINMUX and GPIO APIs don't allow the pins to be input and output simultaneously.

This issue is related to https://github.com/zephyrproject-rtos/zephyr/issues/5697

[2018-02-09 19:35] pfalcon opened #6086 "Ideas/requirements for improved TLS support in Zephyr"
There is of course TLS support in Zephyr (using mbedTLS), exposed e.g. via net_app client/server API. However:

* I keep hearing from security people that there's something (more) to be done.
* There is a TLS API for sockets being designed: https://github.com/zephyrproject-rtos/zephyr/issues/5900

So, that gives a chance to see if there is something can be improved (or maybe even redone).

[2018-02-09 19:49] jhedberg commented on #6083
@MariuszSkamra do you have any more details of what's going on? Does this look like a host or controller issue? (e.g. do you see the host sending the right advertising HCI commands, etc?)

[2018-02-09 19:53] jhedberg commented on #6083
One thing to note what makes secure network beacons "special", unlike mesh network packets which are configured by default to 3 transmissions (3 advertising events), beacons only have a single transmission. This means that the host-side advertising thread will stop the advertising much sooner. The formula used for the duration is as follows:

[code]

In the case of secure network beacons buf->coun

[2018-02-09 19:54] jhedberg commented on #6083
@cvinayak based on the description from @MariuszSkamra it sounds like with the new controller settings the controller doesn't succeed in sending out a single advertising event if the advertising is stopped in 30ms.

[2018-02-09 20:19] pfalcon commented on #6086
One matter which concerns me is getting the right model of TLS-related resources structuring/allocation/sharing. Let me try to dump my mind on that, as an "abstract" model, and more knowledgeable parties can add to/criticize that.

1. So, at the basic level, we have system-wide resources. A good example is entropy source. That's definitely a "global" resource, as examplified by Linux /dev/random.

[2018-02-09 20:38] nashif commented on #4596
can't reproduce, also esp32 is currently not a platform where networking is supported.

[2018-02-09 20:38] #4596 closed

[2018-02-09 20:38] nashif commented on #4549
not enough details

[2018-02-09 20:38] #4549 closed

[2018-02-09 20:40] nashif commented on #4635
should be fixed now with cmake

[2018-02-09 20:40] #4635 closed

[2018-02-09 20:40] pfalcon commented on #6086
@d3zd3z : FYI. Comments are welcome. (I'm going to add more info later too.)

[2018-02-09 20:45] dbkinder commented on #4066
This is a reported issue with doxygen/breathe that we're unable to fix ourselves.  Workaround is to give unnamed nested structs and unions a name, or to add an exception to the warning message using the .known-issues mechanism we created to hide "expected" errors.

[2018-02-09 21:35] d3zd3z commented on #6086
Aside from session configuration, the other important aspect of TLS, which is authentication. Web-type TLS generally uses server certs with the client having a list of trusted CA (certificate authorities). This list itself, it typically a few hundred KB, and not practical for most IoT devices. In addition, we will want the client to authenticate with the server, which will require one of three app

[2018-02-09 22:03] andrewboie commented on #6064
After discussing with @andyross we think this might be an acceptable caveat for direct interrupts.
I am considering altering the default fatal error policy to hang the system for any unhandled exception in supervisor mode.

[2018-02-09 23:03] #1532 closed

[2018-02-09 23:03] #3345 closed

[2018-02-09 23:03] #3346 closed

[2018-02-09 23:53] lpereira commented on #6086
For inspiration, something like libtls from [OpenBSD would be a good start](https://www.openbsd.org/papers/linuxconfau2017-libtls/). [Man page](https://man.openbsd.org/tls_init) (related pages are linked).

[2018-02-10 02:01] nashif commented on #5476
we can close this, found a better way

[2018-02-10 02:01] #5476 closed

[2018-02-10 02:06] nashif commented on #3833
@lpereira  want this done already?

[2018-02-10 02:10] #3279 closed

[2018-02-10 02:13] nashif commented on #3083
no action for a while, closing

[2018-02-10 02:13] #3083 closed

[2018-02-10 02:13] #3069 closed

[2018-02-10 05:34] Shilpashree3lc opened #6091 "[Coverity CID: 182780] Error handling issues in /samples/net/sockets/http_get/src/http_get.c"
Static code scan issues seen in File: /samples/net/sockets/http_get/src/http_get.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 182780
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6092 "[Coverity CID: 182779] Memory - corruptions in /drivers/flash/soc_flash_nios2_qspi.c"
Static code scan issues seen in File: /drivers/flash/soc_flash_nios2_qspi.c
 Category: Memory - corruptions
 Function: flash_nios2_qspi_write_block
 Component: Drivers
 CID: 182779
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6093 "[Coverity CID: 182778] Error handling issues in /samples/net/sockets/dumb_http_server/src/socket_dumb_http.c"
Static code scan issues seen in File: /samples/net/sockets/dumb_http_server/src/socket_dumb_http.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 182778
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6094 "[Coverity CID: 182777] Error handling issues in /samples/net/sockets/dumb_http_server/src/socket_dumb_http.c"
Static code scan issues seen in File: /samples/net/sockets/dumb_http_server/src/socket_dumb_http.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 182777
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6095 "[Coverity CID: 182776] Uninitialized variables in /tests/net/socket/udp/src/main.c"
Static code scan issues seen in File: /tests/net/socket/udp/src/main.c
 Category: Uninitialized variables
 Function: test_v6_sendto_recvfrom
 Component: Tests
 CID: 182776
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6096 "[Coverity CID: 182775] Error handling issues in /tests/net/socket/udp/src/main.c"
Static code scan issues seen in File: /tests/net/socket/udp/src/main.c
 Category: Error handling issues
 Function: test_send_recv_2_sock
 Component: Tests
 CID: 182775
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6097 "[Coverity CID: 182774] Resource leaks in /tests/net/socket/udp/src/main.c"
Static code scan issues seen in File: /tests/net/socket/udp/src/main.c
 Category: Resource leaks
 Function: test_send_recv_2_sock
 Component: Tests
 CID: 182774
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6098 "[Coverity CID: 182773] Error handling issues in /samples/net/sockets/http_get/src/http_get.c"
Static code scan issues seen in File: /samples/net/sockets/http_get/src/http_get.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 182773
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6099 "[Coverity CID: 182772] Error handling issues in /tests/net/socket/udp/src/main.c"
Static code scan issues seen in File: /tests/net/socket/udp/src/main.c
 Category: Error handling issues
 Function: test_send_recv_2_sock
 Component: Tests
 CID: 182772
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6100 "[Coverity CID: 182771] Error handling issues in /samples/net/sockets/dumb_http_server/src/socket_dumb_http.c"
Static code scan issues seen in File: /samples/net/sockets/dumb_http_server/src/socket_dumb_http.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 182771
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6101 "[Coverity CID: 182770] Error handling issues in /samples/net/sockets/http_get/src/http_get.c"
Static code scan issues seen in File: /samples/net/sockets/http_get/src/http_get.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 182770
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6102 "[Coverity CID: 182769] Error handling issues in /subsys/bluetooth/host/mesh/beacon.c"
Static code scan issues seen in File: /subsys/bluetooth/host/mesh/beacon.c
 Category: Error handling issues
 Function: unprovisioned_beacon_send
 Component: Bluetooth
 CID: 182769
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6103 "[Coverity CID: 182768] Error handling issues in /samples/net/sockets/dumb_http_server/src/socket_dumb_http.c"
Static code scan issues seen in File: /samples/net/sockets/dumb_http_server/src/socket_dumb_http.c
 Category: Error handling issues
 Function: main
 Component: Samples
 CID: 182768
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6104 "[Coverity CID: 182767] Error handling issues in /tests/net/socket/udp/src/main.c"
Static code scan issues seen in File: /tests/net/socket/udp/src/main.c
 Category: Error handling issues
 Function: test_send_recv_2_sock
 Component: Tests
 CID: 182767
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6105 "[Coverity CID: 182766] Uninitialized variables in /tests/net/socket/udp/src/main.c"
Static code scan issues seen in File: /tests/net/socket/udp/src/main.c
 Category: Uninitialized variables
 Function: test_v6_bind_sendto
 Component: Tests
 CID: 182766
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6106 "[Coverity CID: 182765] Error handling issues in /tests/net/socket/udp/src/main.c"
Static code scan issues seen in File: /tests/net/socket/udp/src/main.c
 Category: Error handling issues
 Function: test_send_recv_2_sock
 Component: Tests
 CID: 182765
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6107 "[Coverity CID: 182764] Resource leaks in /tests/net/socket/udp/src/main.c"
Static code scan issues seen in File: /tests/net/socket/udp/src/main.c
 Category: Resource leaks
 Function: test_send_recv_2_sock
 Component: Tests
 CID: 182764
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6108 "[Coverity CID: 182763] Uninitialized variables in /tests/net/socket/udp/src/main.c"
Static code scan issues seen in File: /tests/net/socket/udp/src/main.c
 Category: Uninitialized variables
 Function: test_v6_bind_sendto
 Component: Tests
 CID: 182763
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 05:34] Shilpashree3lc opened #6109 "[Coverity CID: 182762] Control flow issues in /subsys/storage/flash_map/flash_map.c"
Static code scan issues seen in File: /subsys/storage/flash_map/flash_map.c
 Category: Control flow issues
 Function: get_flash_dev_from_id
 Component: Other
 CID: 182762
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-10 07:21] #3283 closed

[2018-02-10 09:57] cvinayak commented on #6083
If there is scanning active, then my assumptions are that with an optimized scan window changes due to https://github.com/zephyrproject-rtos/zephyr/commit/ad7c9d3d76aef3b6298fbca7c27a3e202f777d70, starting an advertisement event is delayed upto twice the scan window in comparison to older implementation wherein the first advertising event happened to be delay only by one scan window( the current a

[2018-02-10 14:25] jhedberg commented on #6083
This is mesh, so continuous scanning with 10ms window is always active. The only exception is if we're acting as a Low Power Node, but that's not the case here. Twice the scan window would mean max 20ms delay, so the 30ms wait that the host does before stopping advertising should be enough, shouldn't it? @cvinayak as long as we're stuck with standard HCI, would you recommend some improvement/fix t

[2018-02-10 14:26] jhedberg commented on #6083
Btw, I suppose this all shows that the Mesh vendor extension can't come soon enough.

[2018-02-10 14:26] nashif commented on #2280
detauls.tc remove, we are good

[2018-02-10 14:26] #2280 closed

[2018-02-10 14:35] nashif opened #6117 "Make sanitycheck aware of DTS and HW support"
right now we document which features a board support in the board yaml, this obviously has lots of drawbacks and need to always be kept in sync with changing and added feature. Instead we should rely on information from DTS and make sanitycheck aware of what is supported and what not.

[2018-02-10 15:42] nashif commented on #2891
overview issue, close

[2018-02-10 15:42] #2891 closed

[2018-02-10 16:14] #5130 closed

[2018-02-10 16:52] aescolar-ot opened #6121 "doc: unit tests documentation refers to non existing sample code"
http://docs.zephyrproject.org/subsystems/test/ztest.html#quick-start-unit-testing
Refers to samples/testing/unit/ which does not exist anymore:
bd989a79bae2791f7365325c16769442e26cab51

[2018-02-10 18:21] nashif commented on #6121
in all fairness, bug should be assigned to @jhedberg  who removed that code :)

[2018-02-10 18:27] jhedberg commented on #6121
Ah, there's still a left-over in the documentation. I removed the part that CI grumpy, but seems this part didn't cause any CI warnings.

[2018-02-10 18:28] jhedberg commented on #6121
Is it really so that the net_buf test was the only available unit test to make references to? It'd have been nicer to refer to some other test than remove the references complete.

[2018-02-10 18:30] jhedberg commented on #6121
Actually, this is exactly what I removed from the documentation. Perhaps we just need to wait for the online documentation to be regenerated?

[2018-02-10 18:38] dbkinder commented on #6121
FYI, docs are generated nightly about 11PM GMT

[2018-02-10 19:11] aescolar-ot commented on #6121
My bad => I close it

[2018-02-10 19:11] #6121 closed

[2018-02-10 20:27] #3351 closed

[2018-02-11 05:52] nashif commented on #5546
this is now resolved. thank you @aescolar-ot

[2018-02-11 05:52] #5546 closed

[2018-02-11 06:01] nashif commented on #5994
closing, sample does not fit, reduce configs or the feature is just too big for the board.

[2018-02-11 06:01] #5994 closed

[2018-02-11 10:00] pfalcon opened #6127 "net: Semantics of CONFIG_NET_BUF_POOL_USAGE changed (incorrectly)"
As part of dd09cbc1c455ab1e067b53f46bee7b6d50689bbc, for unknown reason, `config NET_BUF_POOL_USAGE` was put in `if NET_BUF_LOG` section. That setting is not related to Zephyr's logging and can be used, and actually used, independently of it.

Note that this is a typical outcome of massive, non-reviewable patches. This risk was raised in https://github.com/zephyrproject-rtos/zephyr/pull/5721, and

[2018-02-11 10:08] jhedberg commented on #6127
I've never used the NET_BUF_POOL_USAGE myself, added @jukkar and @tbursztyka for some guidance

[2018-02-11 10:08] jhedberg commented on #6127
@pfalcon or perhaps you have a patch suggestion, since it sounds like you're using this feature and will be able to verify the fix?

[2018-02-11 10:30] pfalcon commented on #6127
Yep, if you look at the changes for net/Kconfig, you'll see that most changed options had "depends on NET_BUF_LOG", while NET_BUF_POOL_USAGE had "depends on NET_BUF":

https://github.com/zephyrproject-rtos/zephyr/commit/dd09cbc1c455ab1e067b53f46bee7b6d50689bbc#diff-f00090112a60a217eeaa95bd57a067d9L61

The solution is thus to move `endif # NET_BUF_LOG` bracket above that option. I can file a patch.

[2018-02-11 10:31] pfalcon commented on #6127
(Found by building MicroPython port.)

[2018-02-11 11:12] jhedberg commented on #6127
I already uploaded a PR to fix this. Thanks for the report and fix suggestion.

[2018-02-11 11:37] #6127 closed

[2018-02-11 13:04] pfalcon opened #6131 "mbedtls: Name of config-mini-tls1_2.h contradicts description"
Inside ext/lib/crypto/mbedtls/configs/config-mini-tls1_2.h we see:

[code]

Such discrepancies is always a bad sign for crypto things.

That file appears to be based on the upstream https://github.com/ARMmbed/mbedtls/blob/development/configs/config-mini-tls1_1.h , and there doesn't seem to have been enough changes made to it to warrant calling it TLS 1.2 (unless such changes were made before the i

[2018-02-11 13:05] pfalcon commented on #6131
@jukkar , @d3zd3z : FYI

[2018-02-11 13:22] pfalcon opened #6132 "[RFC] Restructuring and cleanup of mbedTLS configurations"
Having submitted https://github.com/zephyrproject-rtos/zephyr/issues/6131, I see that there're more issues, so opening a more generic ticket to collect them and consider ways to address.

1. Zephyr's mbedTLS configs live in ext/lib/crypto/mbedtls/configs/ , which is not the right location, because these are *Zephyr's* configs, not 3rd-party content (many configs start from 3rd-party/upstream sampl

[2018-02-11 13:41] pfalcon commented on #6103
@nashif, @jukkar : I'd appreciate a consult here. Indeed, error handling for all samples in `samples/net/sockets/` is rather simplified. That is to say, only "non-deterministically failable" errors, in the context of Zephyr, are being checked for. These samples are intended to be simple and clear ways to show off functionality supported by Zephyr, not a teaching material for writing robust network

[2018-02-11 14:49] #5379 closed

[2018-02-11 15:21] nashif opened #6135 "build error with gcc 7.3"
[code]

[2018-02-11 16:29] #6135 closed

[2018-02-11 16:30] nashif commented on #3707
have not seen this issue for a long time, so closing.

[2018-02-11 16:30] #3707 closed

[2018-02-11 16:31] nashif commented on #3747
can't reproduce

[2018-02-11 16:31] #3747 closed

[2018-02-11 16:34] nashif commented on #4018
stale bug, please verify if valid and close if not.

[2018-02-11 17:13] nashif commented on #6103
thats why those issues are marked as low, if there is no logical issues and it is only about error handling for example as in this case, you can mark it as intended. coverity however was very good discovering real issues in the past, thats why we do not dismiss them initially for samples and tests.

[2018-02-11 19:38] #6102 closed

[2018-02-11 20:15] #4566 closed

[2018-02-12 08:43] SebastianBoe commented on #6017
True, it does make sense to specify daughterboards (shields) in the same way as the motherboard (BOARD) is specified. But, using CMake variables to specify the board is not a good idea either,
rather it is something we must do for legacy and technical reasons.

About avoiding touching Kconfig files. It is not clear to me how one developer would share his BOARD+Shield configuration with another dev

[2018-02-12 09:03] finikorg commented on #2613
BTW, what `switchable` means? Does it mean Interfaces separated with different Configurations? I had this with Ethernet Networking with ECM and RNDIS switchable by OS.

[2018-02-12 09:47] nvlsianpu commented on #6109
@nashif Actullay both flash_map error are somehow false-positive (IMHO). I mean that it is intentionally possible to skip loop execution, and no `if` statement is need.

1) Should I cover this by if statement or additinal return an_error at the end?
[code]

2) Should I cover this by if statement?
[code]

[2018-02-12 10:12] MariuszSkamra commented on #4989
Yes, it is. Those tests are related to peripheral role, while in #5486 Zephyr is central

[2018-02-12 10:14] #6083 closed

[2018-02-12 10:20] MariuszSkamra commented on #5486
Yes it is still reproducible. Zephyr is central in this test.
I've tested this on QEMU with 3 different controllers:
1. Zephyr-based - FAIL
2. Intel Bluetooth 4.2 (0x08) - Revision 256 (0x0100) - FAIL
3. CSR PTS dongle - PASS

[2018-02-12 10:21] MariuszSkamra commented on #4989
Tests are passing on QEMU with PTS dongle

[2018-02-12 10:50] SebastianBoe commented on #4951
Until this is resolved I would recommend users that often modify Kconfig in their edit-build-debug cycle to ensure ccache is installed. Otherwise the performance will make the system unusable.

[2018-02-12 10:59] jhedberg commented on #5486
I just tried to reproduce this and got a controller assert. @cvinayak could you take a look?

[code]

[2018-02-12 11:01] carlescufi commented on #5486
@jhedberg https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/ll_sw/ctrl.c#L1477

Is this on nRF51?

[2018-02-12 11:05] jhedberg commented on #5486
The controller assert seems to be reproducible every time. Steps to reproduce:

1. Apply the following patch to central_hr and peripheral_hr:

[code]

2. Flash a combined build of peripheral_hr on some nRF board (I used the micro:bit)

3. Flash hci_uart on another nRF board (I used the nRF51 USB dongle), and attach it to BlueZ with the usual steps

4. Power on the board with peripheral_hr

5. Run

[2018-02-12 11:06] jhedberg commented on #5486
Yes, it is. An nRF51 USB dongle.

[2018-02-12 12:14] cvinayak commented on #5486
@jhedberg and @MariuszSkamra you should not be able to select Controller Privacy for nRF51:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/Kconfig#L150

Could you check if it indeed has BT_CTLR_PRIVACY selected in your .config?

[2018-02-12 12:19] jhedberg commented on #5486
Right, I completely forgot that the nRF51 can't really be used for testing controller privacy.

Anyway, as per your question @cvinayak CTLR_PRIVACY is *not* set for the hci_uart image I build (which asserted) and it's also not set for my micro:bit image. So I wouldn't have been able to do the full privacy test no matter what. Either way, I guess we want to fix the assert.

[2018-02-12 12:25] MariuszSkamra commented on #5486
@cvinayak I'm reproducing this on nrf52840

[2018-02-12 12:44] carlescufi commented on #5756
Closing this for now since we now have `CONFIG_BOOTLOADER_MCUBOOT` which essentially does everything required to create an MCUboot-compatible binary.

[2018-02-12 12:44] #5756 closed

[2018-02-12 13:00] carlescufi commented on #5821
You need to use a version of Ninja natively compile for MSYS2, I've updated the doc to reflect this.

[2018-02-12 13:01] carlescufi commented on #5821
Also from your log it seems you are on a MinGW shell, which will not work. As described in the build instructions you need to open an MSYS2 MSYS shell.

[2018-02-12 13:02] cvinayak commented on #5486
@MariuszSkamra do you see assert in nRF52840 too?

[2018-02-12 13:05] SebastianBoe opened #6147 ""ninja flash" cannot be used with DFU-capable applications"
Hi,

as a user, when I do

[code]

The second flash command will erase the bootloader written during the first flash command.

This makes "ninja flash" useless for applications that use a bootloader.

"ninja flash" is a useful feature that should be preserved for DFU-able applications.

[2018-02-12 13:06] SebastianBoe commented on #6147
Perhaps this can be resolved by NOT erasing the entire flash when "ninja flash" is executed, but I don't understand why we are erasing it in the first place so I can't comment on if this is the correct approach ...

[2018-02-12 13:07] SebastianBoe commented on #6147
@mbolivar : FYI

[2018-02-12 13:24] #5726 closed

[2018-02-12 14:44] nvlsianpu opened #6152 "Inter-applications flash layout exchange mechanism"
Objective is to provide mechanism for provide information about flash layout for the mcuboot and  the application. Thanks to this mcuboot and application should been able to recognize proper drivers for memory devices they use. Not all of memory devices used by the app must be available for the mcuboot and vice versa.
It appear that storage of flash_area_map in certain flash page can provide such

[2018-02-12 14:47] nvlsianpu commented on #6152
@carlescufi @Laczen @pizi-nordic @anangl

[2018-02-12 14:57] MariuszSkamra commented on #5486
I enclose the sniffer traces from Ellisys analyzer for the failing and passing scenario.
I've tested with QEMU and Zephyr-based dongle (running on nrf52840).

[logs.zip](https://github.com/zephyrproject-rtos/zephyr/files/1716634/logs.zip)

[2018-02-12 16:41] carlescufi commented on #4983
Closing this, we can open an issue with the DSP flag if required.

[2018-02-12 16:41] #4983 closed

[2018-02-12 16:53] erwango commented on #6017
These are valid points, I'll have a try with Kconfig as soon as I have some time.

[2018-02-12 18:47] #5808 closed

[2018-02-12 18:47] #5821 closed

[2018-02-12 19:05] andyross opened #6157 "SMP lacks low-power idle"
Right now the SMP implementation has an idle loop for auxiliary CPUs that simply spins on the scheduler waiting for a runnable thread to appear.  That minimizes latency at the expense of power (the opposite tradeoff would be to wait for our next timer tick, but that can be a very long time).

A proper architecture would have the scheduler issue an inter-processor interrupt to idle CPUs whenever a

[2018-02-12 19:35] mbolivar commented on #6147
@SebastianBoe I've been out sick for a few days, but am working on these issues

[2018-02-12 19:36] mbolivar commented on #6147
The entire flash is not erased by the application build system on the targets I use (pyOCD backend, but I've tested dfu-util in the past as well).

Could this be an artifact of your runner? I assume you are using nrfjprog.

[2018-02-12 21:14] mbolivar commented on #5847
Lots of tools depend on the 1 version, I'm not sure how distro package management would cope with both installed in one system -- I guess 'import prompt_toolkit' would work with the version 1 from apt in your IPython install, but the *2 version in your pip --user install in the Zephyr environment?

More seriously, testing things in the early documentation pages beyond hello-world from the 2.0 bran

[2018-02-12 21:24] mbolivar commented on #6017
DTC_OVERLAY_FILE supports multiple files now. If you are using one overlay file for each "shield", you don't need a separate SHIELD variable. Just add the overlays to the DTC_OVERLAY_FILE list, separated by spaces.

[2018-02-12 21:31] Laczen commented on #6152
Use a standard definition for fa_id and fa_device_id, but this will limit possible changes during lifetime.

Include the definition for fa_id and/or fa_device_id in flash.

I would standardize fa_id and include the definition of fa_device_id (link between flash area and hardware device) in flash.

[2018-02-12 21:52] mbolivar commented on #6152
Why is this beneficial to building this into mcuboot? Why is this a Zephyr issue and not an MCUboot issue?

[2018-02-12 21:58] #2477 closed

[2018-02-12 22:29] Laczen commented on #6152
@mbolivar: I think it is both an mcuboot and Zephyr issue. Both mcuboot and zephyr app could use flash_map, but I think mcuboot only needs the information required to boot, while the application might need more. Suppose you have a device with internal and external flash and mcuboot only uses the internal. Now if you would change the external flash hardware would you need to change mcuboot?

Adding

[2018-02-12 23:15] mbolivar commented on #6152
I've disagreed with this elsewhere. The flash_map is a mynewt API. There's nothing wrong with it, but Zephyr has its own flash API, and adding this new one on the side is not good design IMO.

It makes sense for the Zephyr port of MCUboot itself to have a flash_map implementation, since the bootloader core relies on it, and I know that support for it was added to zephyr in order to ease integratio

[2018-02-12 23:15] mbolivar commented on #6152
Removing myself from the assignees list since I don't agree with the direction

[2018-02-12 23:19] carlescufi commented on #6152
@mbolivar I actually wasn't fully aware that flash_map was conflicting in scope with the existing Zephyr flash APIs. If that is indeed the case then I also disagree with having this duplication. @nvlsianpu what's your take on this?

[2018-02-13 00:22] #5719 closed

[2018-02-13 03:35] rbtchc opened #6162 "LwM2M: Support Queue Mode Operation"
Queue Mode offers functionality for a LwM2M client to inform the LwM2M server that it may be disconnected for an extended period of time and also when it becomes reachable again. The LwM2M server uses this information to adjust timers and relay messages from and to the client accordingly.

The feature allows a device to enter the power saving mode while queuing the incoming requests at the server.

[2018-02-13 07:34] jhedberg commented on #5486
I can't reproduce the issue with central_hr against peripheral_hr with the nRF52840 with privacy enabled on both sides. It seems like you might have omitted a key step in the issue report: the devices need to be paired?

[2018-02-13 07:39] jhedberg commented on #5486
I switched to using tests/bluetooth/shell on the central side and paired the devices. Still not able to reproduce the issue.

[2018-02-13 07:40] jhedberg commented on #5486
I.e. I can reconnect just fine, as well as encrypt the new connection with the shared LTK.

[2018-02-13 08:13] greenhandholman opened #6164 "timer: cortex_m: Incorrect read of clock cycles counter after idle tickless period"
On a stm32, I found that when we uses the k_busy_wait function to wait a delay (500us) just after a idle tickless period the delay could be lower than the requested one. I found that consecutive readings of the cycle counter made with the function k_cycle_get_32 juste after tickeless period provided erroneous values (value jump) after some time (100 us).

[2018-02-13 08:17] laperie commented on #3706
as most of you are aware we are actively working to address sockets API compatibility on the stack design level.  It'll happen earliest in 1.12

[2018-02-13 08:34] laperie commented on #5857
@pfalcon , do you have any suggestions on how to fix that?

[2018-02-13 08:46] laperie commented on #5481
it's actually a feature, not a bug ;)

[2018-02-13 08:52] cvinayak commented on #5486
@MariuszSkamra and @jhedberg

On analysis of the sniffer logs, there is advertisements during the test, for reconnection phase too for both cases; in the non-privacy log the address type used is random static address, and in the privacy log the address is random private resolvable address. these addresses do not change during the test.

In the privacy log, during the reconnection related advertisi

[2018-02-13 08:54] laperie commented on #4324
@gurucharanx  -- please test with latest upstream and report

[2018-02-13 09:29] nvlsianpu commented on #6152
@mbolivar I see your point. Our intention to port flash_map was also to introduce the abstraction over flash_drivers which allow easily operating across multiple different memories. If you have better idea we are open - At last @Laczen  saw cons of this what is in zephy for now.

I fill we misunderstand each other - this issue is about providing a mechanism which allow exchange the flash layout be

[2018-02-13 09:38] ulfalizer commented on #5847
Probably wouldn't be a huge pain to switch out `prompt_toolkit` out for something else at least, if it turns out to be a pain. Could do a basic usable version with just keyboard input and simple menu drawing first, and then see what to go with from there when adding more fancy features like mouse support. The basic version would probably be pretty easy to port over to other toolkits if needed.

[2018-02-13 09:40] ulfalizer commented on #5847
Would be cool if there was a UI toolkit that could generate both a text-based user interface and a graphical UI as output, depending on settings. Doubt there's anything like that though.

[2018-02-13 09:43] rveerama1 commented on #6010
@mbolivar @jukkar I have noticed some issues with https://github.com/zephyrproject-rtos/zephyr/pull/5035. To fix http related issue, I proposed some changes https://github.com/zephyrproject-rtos/zephyr/pull/6167. Please take a look.

[2018-02-13 11:09] pfalcon commented on #5481
Well, it's definitely not a "bug", but:

1. Objectively, a missed optimization opportunity. I didn't hear about code size comparison of Zephyr's IP stack with other IP stack, but given such cases, it's hard to shake off a hunch that we don't compare favorably.
2. It shows that we have some inconsistency/technical debt. Actually, somewhere around 1.10 I got an idea that we have a pretty vast and fe

[2018-02-13 11:13] pfalcon commented on #5481
@nashif

Per above, I try to assign @jukkar to any networking issue, to "keep him in loop". Not doing that would mean giving up an idea that "@jukkar for sure knows what happens in the IP stack, down to small ideas" ;-). He didn't raise any concerns, if there're suggestions for better workflow (e.g. just @mention), let's go over them.

To make the above more fair, I now assign ticket I might work

[2018-02-13 11:41] pfalcon commented on #5857
Well, this is a complex issue, which is hard to debug due to time-sensitivity to debugging, as shown above. So, ideas to approach it:

1. Find a way to do logging in a way to minimize affecting time-sensitive code, e.g. by adopting/extending @nashif's https://github.com/zephyrproject-rtos/zephyr/pull/5586 , or by some alternative.
2. Fix cases of avoidable extra allocation (== potential failure ca

[2018-02-13 13:01] jukkar commented on #5956
This one is still pending as I have only one frdm-k64f board available so I cannot re-produce this issue.

[2018-02-13 13:11] pfalcon commented on #5484
This is largely orthogonal to the problem reported here (which is: important operations should not lead to deadlocks).

Note that some networking operations are inherently K_FOREVERish, e.g. TCP send/receive - they *can* be timeout-ed, and actually I lean towards making the default to use timeouts, but we still should support RFC compliant behavior where there're no timeouts, and no deadlocks due

[2018-02-13 13:29] Laczen commented on #6152
@nvlsianpu , @mbolivar , I don't see any cons of what is in zephyr for now. As far as I understand flash_map was added for FCB and it was completely ported to allow other mynewt modules to be easily ported e.g. for manufacturer meta region.

[2018-02-13 13:33] tbursztyka commented on #5274
Hi @MaureenHelm, I just tried mcr20a since the shield is meant to work of frdm directly and the issue happens also unfortunately :(   looks like it's unable to do CCA (the "irqb" never fires, aka: is never caughn - so it times-out)

If I disable the ethernet port on the board: it works properly.

I am a bit lost, none of the pins are shared with etherent, afaik. Pinmuxing looks ok also.

[2018-02-13 13:41] Laczen commented on #6152
Oops, I was a little too fast. I guess what @nvlsianpu means is that I saw cons in the present flash_map implementation in zephyr. This is correct, I don't like the way the device is selected based upon the fa_device_id.

[2018-02-13 13:44] SebastianBoe commented on #6147
@mbolivar : Yes, I believe this is nrfjprog-specific, I thought I saw a patch go in recently that modified the nrfjprog runner to do erase-all, but I can't see evidence of this in the git history.

If pyOCD does not do erase-all then I definitely think the nrfjprog runner should align to not doing erase-all.

Perhaps this would be as simple as removing this line:

`+            ['nrfjprog', '--era

[2018-02-13 13:50] MariuszSkamra commented on #5486
I re-ran this several times and I failed to catch the CONNECT_IND PDU. Is it possible that PTS got LE Connection Complete event without sending this PDU?

[2018-02-13 14:05] mbolivar commented on #6147
OK! I can send a patch to make that optional (the way it is with e.g. jlink.py) if nrfjprog will still erase the sectors needed for the image it's flashing -- can you confirm that's the case?

[2018-02-13 14:05] #6081 closed

[2018-02-13 14:25] SebastianBoe commented on #6147
Sorry, there was a miscommunication. In addition to removing "--erase-all", "--sectorerase" must be appended to the "--program" command. It will ensure just the necessary pages are erased.

[2018-02-13 14:36] SebastianBoe opened #6180 "CONFIG_IS_BOOTLOADER is poorly named and documented"
See https://github.com/runtimeco/mcuboot/issues/230 for details

[2018-02-13 14:49] pfalcon commented on #6086
Now let's see what we have now:

1. net_app: https://github.com/zephyrproject-rtos/zephyr/blob/master/include/net/net_app.h#L365 . So, there's a struct which contains a flat list of all things mbedtls. That structure is part of `struct net_app_ctx`. That is described as "Network application context.", but there's a nice ambiguity there. Usually when "application" is being talked, that's a singleto

[2018-02-13 15:24] ulfalizer commented on #4951
@andrewboie
Yep.

The way it works is that an empty file is stored in `include/config/` for each Kconfig symbol, along with a configuration file `include/config/auto.conf` that records the configuration state during the last build. When rebuilding, `.config` is compared to `auto.conf` to see which symbols changed, and the files corresponding to the changed symbols are `touch`ed to signal the chang

[2018-02-13 15:47] ulfalizer commented on #4951
Don't know if `cmake` offers any other options by the way. You'd need some way of recording per-symbol dependencies at least. Just having them as files is natural for `make`.

[2018-02-13 16:00] pfalcon commented on #6086
Yes, this is the same as mentioned https://github.com/zephyrproject-rtos/zephyr/issues/5900#issuecomment-362289985

Here're my points of how we differ form them:

From https://man.openbsd.org/tls_init#DESCRIPTION :

So, their scope is *only* TLS communications, so they're free to convenience-alize, hide, or mythologize (choose term per your liking) how these communications are done.

On our side,

[2018-02-13 16:18] pfalcon commented on #6086
Now commonalities:

Well, that's pretty much what I saw talking about, except I had a view of that being a param to a func, e.g. `tls_new(..., bool server_side)`, while they split those into 2 functions.

Except that per https://man.openbsd.org/tls_client.3, tls_client() and tls_server() don't take any args. That's because they're concerned with only TLS, so can pretend it stands in the vacuum, wh

[2018-02-13 16:21] ulfalizer commented on #4951
Would take less work than I first thought. Could just load `auto.conf` as a normal `.config` file, dump all the symbol values into a temporary dict, load `.config`, compare the new symbol values against the dumped values to see what changed, and flag the changes in some appropriate way. Much simpler in Python than in C. :)

Think it should be pretty trivial now, so I'm happy. Just the `cmake` end

[2018-02-13 16:39] nvlsianpu commented on #6152
cc @utzig

[2018-02-13 17:48] pfalcon commented on #6086
Based on the above, I'd like to propose following structuring (based on https://github.com/zephyrproject-rtos/zephyr/pull/5985/files#diff-1f973aa6f9b94237c2a14c84da49562cR36):

[code]

This would be system-global settings: entropy is system-wide, ctr_drbg "stretches" entropy using crypto-secure RNG, given that underlying entropy is system-wide, stretched entropy is apparently system-side too. Cave

[2018-02-13 18:08] pfalcon commented on #6132
We currently don't have multithreading support enabled in mbedTLS (MBEDTLS_THREADING_C config option). That's apparently based in the fact that all mbedTLS structures are per network context, as described in https://github.com/zephyrproject-rtos/zephyr/issues/6086#issuecomment-365288685 , but ... we have multi-threaded IP stack, so someone would need to explicitly sign off that we don't have any a

[2018-02-13 18:18] nashif commented on #5982
@sam131208 ping, can you please provide the logs?

[2018-02-13 18:22] tkln opened #6183 "sensor: Handling sensors with long measurement times"
There are sensors with relatively long sampling times. For example the CCS811 gas sensor has different measurement modes with measurement latencies varying between 1 s, 10 s or 60 s. This rises two issues: how should this be controlled and is it reasonable for `sensor_sample_fetch` to block up to a minute, or should there be some sort of an asynchronous alternative.

Some sensor drivers use SENSOR

[2018-02-13 18:23] carlescufi commented on #5943
@jfischer-phytec-iot are you going to give this a go?

[2018-02-13 18:29] galak commented on #5794
I updated to remove the subsystem stuff since we don't really have proper subsystem branches at this point.

[2018-02-13 18:29] carlescufi opened #6184 "drivers: ISR-friendly driver APIs"
Statement of problem: Zephyr's driver APIs are designed to be called only from threads, and never from ISRs. There are several aspects that prevent those APIs from being called from an ISR:

* Many APIs are blocking
* Many APIs make use of kernel objects or primitives that are not allowed to be used from an ISR
* All driver APIs are mappable to system calls

Therefore I suggest we extend the curre

[2018-02-13 18:30] galak commented on #5794
@dbkinder can you look at the 'Flow3' link in Communication and Collaboration going nowhere.

[2018-02-13 18:38] somemetricprefix opened #6185 "[MSYS2] Unable to build hello_world sample"
Hello,

I followed the getting started docs setting up the dev environment with MSYS2.
When I want to build the hello_word sample I get following error message:

[code]

The command that fails is:
[code]
The semicolons right after '-include' look out of place.

When executing the command manually with the semicolons replaced by whitespaces I get no error but the "stm32f3_disco.dts.pre.tmp" is not

[2018-02-13 18:46] somemetricprefix commented on #6185
Ninja was missing from the installation. Fixed it by using make instead. Sorry for the inconvenience.

[2018-02-13 18:46] #6185 closed

[2018-02-13 18:54] jhedberg commented on #1526
Closing, since this seems to be a known issue on the SiLabs app side

[2018-02-13 18:54] #1526 closed

[2018-02-13 18:56] jhedberg commented on #6023
@MariuszSkamra what's the latest on this one? Did you do a full test run the patch that you showed on IRC a few days ago?

[2018-02-13 18:56] nashif opened #6186 "Logging Subsystem Enhancements"
- [x] Modify namespace (SYS_LOG -> LOG)
- [ ] Support multiple backends
   - [ ] FCB
   - [x] memory
   - [ ] filesystem
   - [x] networking
   - [ ] mcumgr(!)
- [x] Add timestamps
- [x] Provide meta-data (such as log level) separately to the backend (right now it's embedded into the pre-formatted string)
- [ ] multi-core support: master - slave configuration where one core acts as slave and the m

[2018-02-13 18:56] pfalcon opened #6187 "entropy: Clarify API contract"
Currently, entropy subsystem interface description is pretty bare: https://github.com/zephyrproject-rtos/zephyr/blob/master/include/entropy.h#L45

Following issues are worth being specified explicitly:

1. Many hardware "true RNG" generators have limited bandwidth, so it should be explicitly specified that calling entropy_get_entropy() may block, in the sense that calling thread may be put inti sl

[2018-02-13 18:57] pfalcon commented on #6187
These concerns come from usage of entropy source in mbedTLS: https://github.com/zephyrproject-rtos/zephyr/issues/6132#issuecomment-365353241

Related, but different matter with entropy drivers happened to be discussed at the same time, and tracked as https://github.com/zephyrproject-rtos/zephyr/issues/6184

[2018-02-13 18:58] pfalcon commented on #6184
Another facet of entropy drivers which need clarification: https://github.com/zephyrproject-rtos/zephyr/issues/6187

[2018-02-13 18:58] mike-scott commented on #5781
Hi @jukkar

The easiest way to reproduce the EBUSY is to build the lwm2m_client sample configured for DTLS for qemu_x86 (in master branch) and connect it to a Leshan demo server (LwM2M) server without setting up any DTLS information:

[terminal window #1: run Leshan demo server]
wget https://hudson.eclipse.org/leshan/job/leshan/lastSuccessfulBuild/artifact/leshan-server-demo.jar
java -jar ./leshan

[2018-02-13 18:58] andyross commented on #5952
The test case seems a little weird.  It looks like this line has a boolean inversion:

        while (!k_work_pending(&dwork.work));

My guess is that this was intended to busy-wait until the handler executes (itself a fragile idea -- that will only work if the work_q has a higher priority than the main thread).  But instead it's waiting until the work item **is** pending.  And since it was just s

[2018-02-13 20:03] dbkinder opened #6188 "doc: Merge non-apache contributing into CONTRIBUTING"
We have a separate doc that discusses how to contribute non-apache licensed material to the project that's linked to by the CONTRIBUTING file, but folks would like this merged into one doc now.  (Before folks wanted two docs to cut down on the size of the CONTRIBUTING page (TLDR).

[2018-02-13 20:25] andyross commented on #5952
Never mind, the inversion was mine, not yours: "pending" in this context means "the timeout is finished and we're in the main work queue" not "pending on timeout".  I see what you're doing now, and indeed it failed to try to resubmit a pending object, despite the fact that the code was trying to do exactly that.

There's a fix for this specific case up at https://github.com/zephyrproject-rtos/zeph

[2018-02-13 20:33] cvinayak commented on #5486
@MariuszSkamra Clear the nRF5 device has "seen" something that PTS seems to have sent which the sniffer does not see! The fact being the gap between advertising channels in the said packet numbers corresponding to 150 us (tIFS) + 352 us (CONNECT_IND) + ~70-120 us nRF52 CPU time to switch channels.

Without the contents of the CONNECT_IND or whatever is coming from PTS, its difficult to analyse fur

[2018-02-13 20:59] carlescufi commented on #6186
@ccollins476ad FYI, for 1.12

[2018-02-13 21:06] #3718 closed

[2018-02-13 21:13] mbolivar commented on #6152
I feel a @pfalcon rant coming on :wink:, sorry in advance ...

OK, since people have asked (here and in private email) what my objections are:

My main issues with sticking flash_map.h into Zephyr unmodified:

- It overlaps with the existing flash APIs in unclear ways. Consider the following APIs:

| flash_map.h                 | flash.h                    |
|-----------------------------|--------

[2018-02-13 21:17] mbolivar commented on #6152
BTW, those issues cover every declaration inside flash_map.h.

[2018-02-13 21:25] pfalcon commented on #6152
Oh, I don't even have bandwidth to follow the flash things, barely manage to follow net and general stuff... ;-)

[2018-02-13 21:26] andrewboie commented on #6184
No objections to doing this from me.
For the ones that block, it might in some cases preferable to add a timeout parameter where ISR invocation it would be 0. We do this for a bunch of kernel APIs.

Mostly. Ones that register callbacks and so forth we intentionally leave out. But yes in the general case they are intended for use from thread context.

[2018-02-13 21:29] mbolivar commented on #6152
I meant from me, not you :)

[2018-02-13 23:08] #5952 closed

[2018-02-14 06:00] mike-scott opened #6194 "K64F ethernet regression since f7ec62eb"
Looks like this commit broke the K64F ethernet functionality:
https://github.com/zephyrproject-rtos/zephyr/commit/f7ec62eb8525b5d3f5351df183c1f550d77d4e80

I'm guessing there are registers being used by the ethernet driver which are not allowed to be touched now?

NOTE: This came up during testing of a network sample on K64F using master branch.

[2018-02-14 08:56] MariuszSkamra commented on #6023
I will run the full test-run now. I ran Network layer and Transport layer tests and it seemed to not introduce regressions. When I'm done, I'll put feedback here.

[2018-02-14 08:59] rmstoi opened #6197 "echo server crash from corrupt ICMPv6 packet"
Defensics test case 2: ICMPv6.Echo.Echo-Request.IPv6-Packet.payload.protocol.icmpv6-message.icmpv6-echo-request.element

This test case crashes echo server in QEMU.

[2018-02-14 09:03] rmstoi commented on #6197
[icmpv6-2.zip](https://github.com/zephyrproject-rtos/zephyr/files/1723277/icmpv6-2.zip)

QEMU error logs:

[net/ipv6] [DBG] net_ipv6_process_pkt: (0x004037c0): IPv6 packet len 42 received from fe80::8c0:deff:fea4:a70d to 2001:db8::1
[net/icmpv6] [ERR] net_icmpv6_get_hdr: {assert: 'frag' failed}
[net/ipv6] [ERR] process_icmpv6_pkt: {assert: 'icmp_hdr' failed}
***** CPU Page Fault (error code 0x0000

[2018-02-14 09:27] hakonfam opened #6198 "unit test: Add unit test example which appends source files to SOURCES list"
Currently, none of the unit test projects (`unit/**/CMakeLists.txt`) explicitly append source files to the SOURCES list.

It is not trivial to figure out that you have to perform `list(APPEND SOURCES example.c)` in order to add source files to the unit test project.
This step is described in a comment in `unittest.cmake` but it would be better if it was exemplified in an actual unit test.

Create

[2018-02-14 09:32] rveerama1 commented on #5344
@gurucharanx any comments?

[2018-02-14 09:37] erwango opened #6199 "STM32: document dts porting rules"
Due to high number of STM32 SoC references (>900), there are several "rules" or good practices that should be applied when introducing a new SoC into STM32 device tree.
Instantiate a document point to store these rules that people can use as a reference guide and which could be used also for for PR reviews
For instance, some rules where mentioned and discussed in #5883.

This could be stored in a

[2018-02-14 10:53] #5968 closed

[2018-02-14 12:16] aescolar-ot opened #6204 "bluetooth controller: crc init is not random"
The current controller is not initializing the connection crc init to a random number:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/ll_sw/ctrl.c#L10403

[2018-02-14 13:06] #4576 closed

[2018-02-14 14:11] carlescufi opened #6205 "Command-line Zephyr meta-tool"
This issue covers a meta-tool that would run from the command-line in order to build, flash, run, simulate, integrate, etc Zephyr-based images.

The scope of the tool is defined as:

* Build, flash, debug, run
* Bootloader integration. Including image signing, image flashing (with offset) and building the bootloader itself
* Advanced emulator support, including potentially networking setup with QE

[2018-02-14 14:31] d3zd3z commented on #6086
A few points:

1. x509 is probably only useful in larger systems, and we will both need a trusted cert store, as well as client side certificates to make this meaningful.
2. We should support PSK, since that seems to be commonly used in IoT.
3. I think we should also think about DTLS/UDP as well. It is supported in mbed TLS, and will indeed be used by COAPS/LWM2M.
4. I wouldn't consider session re

[2018-02-14 14:35] MariuszSkamra commented on #6023
@jhedberg Patch does not introduce regression

[2018-02-14 15:21] d3zd3z commented on #6086
A few points:

1. x509 is probably only useful in larger systems, and we will both need a trusted cert store, as well as client side certificates to make this meaningful.
2. We should support PSK, since that seems to be commonly used in IoT.
3. I think we should also think about DTLS/UDP as well. It is supported in mbed TLS, and will indeed be used by COAPS/LWM2M.
4. I wouldn't consider session re

[2018-02-14 15:44] #6197 closed

[2018-02-14 15:47] jukkar commented on #5781
Ok, thanks for the steps, I will try to reproduce this.

[2018-02-14 15:53] #6023 closed

[2018-02-14 17:26] carlescufi commented on #6205
Name poll.
Reminder: Zephyr is a western wind.

 * [washoe](https://en.wikipedia.org/wiki/Washoe_Zephyr)
 * breeze
 * zep
 * wind
 * west

[2018-02-14 17:30] mbolivar commented on #6205
"zippy"?

[code]

[2018-02-14 17:51] jhedberg commented on #6205
- zool (for Zephyr tool)
- zmt (Zephyr meta-tool)
- zp
- zt (Zephyr Tool)

I think we'd want to keep it short (say, max 4 chars), neither of the shortest two character proposals above were found at least in my Linux distro.

[2018-02-14 17:54] #4772 closed

[2018-02-14 17:54] #5717 closed

[2018-02-14 18:33] carlescufi commented on #6205
I like the idea of a 4-letter name, so I will add a few to the list, including Johan's

[2018-02-14 19:27] dbkinder commented on #6038
TSC approved [Contributing guidelines](http://docs.zephyrproject.org/contribute/contribute_non-apache.html) say all the ext/ components need a README file with specific origin and licensing information. None of them do.  There's a template for this README in ``doc/contribute/code_component_README``.

[2018-02-15 00:20] #1727 closed

[2018-02-15 00:49] nashif commented on #1868
done...

[2018-02-15 00:49] #1868 closed

[2018-02-15 01:16] lpereira commented on #3833
#6211 should help this by comparing all the pointers first, then comparing strings. Still a linear search, but a cheaper one. The number of devices is small anyway, so this doesn't really need anything fancier.

[2018-02-15 09:27] rmstoi opened #6217 "echo server crash from corrupt ICMPv6 NS packet"
Defensics test case: ICMPv6.NDP.Neighbor-solicitation.Neighbor-Solicitation.IPv6-Packet.payload.protocol.icmpv6-message.ndp-neighbor-solicitation.element - 9192

This test case crashes echo server in QEMU.

[net/core] [DBG] net_rx_thread: (0x004037c0): Received pkt 0x00406d78 len 62
[net/ipv6] [DBG] net_ipv6_process_pkt: (0x004037c0): IPv6 packet len 48 received from fe80::8c0:deff:fefc:102f to ff

[2018-02-15 10:49] pfalcon commented on #6205
I'd think we want to keep it clear for people and non-conflicting with the previous generations of tools which smartly wanted to make it short. Existing `zephyr-env.sh` takes a good lead in that.

Thus, `zephyr-tool` seems like an obvious choice.

[2018-02-15 13:06] pfalcon commented on #6131
Ok, the file explicitly has MBEDTLS_SSL_PROTO_TLS1_2: https://github.com/zephyrproject-rtos/zephyr/blob/master/ext/lib/crypto/mbedtls/configs/config-mini-tls1_2.h#L41, so it's indeed TLS 1.2, filing a patch to update comments...

[2018-02-15 13:48] pfalcon commented on #6132
Another issue is that we have quite an adhoc mbedTLS config file set as the default. https://github.com/zephyrproject-rtos/zephyr/pull/6221 addresses that.

[2018-02-15 14:32] pfalcon commented on #6194
Perhaps https://github.com/zephyrproject-rtos/zephyr/pull/6214 was posted to address this.

[2018-02-15 15:35] nashif commented on #5344
@kumarvikash1 can you still reproduce this?

[2018-02-15 16:52] mike-scott opened #6226 "IRC-bot sample eventually stops responding to IRC commands"
Symptom:
After a while (not sure on the exact timing), the Zephyr device stops responding to IRC commands.

Expectation:
No matter how long the device has been running, commands on IRC should still work.

Needs debugging.

[2018-02-15 17:08] #6131 closed

[2018-02-15 17:53] #6194 closed

[2018-02-15 17:55] #5692 closed

[2018-02-15 20:15] #6204 closed

[2018-02-15 22:25] d3zd3z commented on #5900
The [Wikipedia page](https://en.wikipedia.org/wiki/Transport_Layer_Security) on TLS has an interesting comment about why this API is hard to do:

In addition, Zephyr is likely to run into additional complexity because certificates and certificate chains are often too _heavy_ to implement in a constrained device, and it is necessary to use other ciphersuites, such as PSK or bare pub/priv keys.

[2018-02-15 22:27] d3zd3z commented on #5900
As far as allocation, the underlying cipher, esp the asymmetric algorithms used for certificate management expect there to be an implementation of malloc/free. mbed TLS includes an implementation (that in my experience is significantly better than the tiny one included in Zephyr). Needless to say, though, that determining how much space to give to this is going to be an issue to setting up TLS/DTL

[2018-02-16 02:38] ccollins476ad opened #6229 "Bluetooth, nRF51: ticker_success_assert during flash erase"
`BOARD=nrf51_pca10028`
`ZEPHYR_TOOLCHAIN_VARIANT=gccarmemb`
`GCCARMEMB_TOOLCHAIN_PATH=/usr/local/Caskroom/gcc-arm-embedded/6-2017-q2-update/gcc-arm-none-eabi-6-2017-q2-update`

Commit=`b55eb03e4085a53cc87c5a53b7dacf1df3536ae4` (+ diffs)
Application=`samples/bluetooth/peripheral`

I modified the peripheral sample application to erase a section of flash in its read handler for the heart rate sensor

[2018-02-16 05:05] cvinayak opened #6230 "Bluetooth: controller: refactor to use min/max macro"
"Good first issue" to refactor the BLE controller implementation, clean up the use of conditional statements with min/max macros.

Refer to review comment in #6149

[2018-02-16 05:15] tarunkum opened #6231 "samples/bluetooth/eddystone: failed to connect with central device"
I am trying to flash the eddystone ble application on Micro-BIT device. It is failing to connect with central device.

Below are the steps which I followed on my machine :-

Steps followed on Linux machine :-
sudo bluetoothctl
[NEW] Controller 00:1A:7D:DA:71:13 localhost.localdomain [default]
[bluetooth]# power off
[bluetooth]# power on
[bluetooth]# agent KeyboardDisplay
[bluetooth]# default-agent

[2018-02-16 05:31] tarunkum opened #6232 "samples/bluetooth/central_hr: Run time HARD fault occurs"
I am trying to use two MICRO-BIT devices. In one device sample/Bluetooth/central_hr application is flashed and in another MICRO-BIT device sample/Bluetooth/peripheral application is flashed.

Once peripheral start advertising then central_hr application side seeing HARD fault occurs able to see on minicom.

Serial output for central_hr ::-

Bluetooth initialized
Scanning successfully started
[DEVI

[2018-02-16 05:34] tarunkum opened #6233 "samples/bluetooth/central: Run time HARD fault occurs"
I am trying to flash sample/Bluetooth/central_hr application on MICRO-BIT device.

I am finding HARD fault on serial console below ::

***** BOOTING ZEPHYR OS v1.10.99 - BUILD: Feb 16 2018 05:15:59 *****
Bluetooth initialized
Scanning successfully started
Device found: f7:77:01:62:d3:ec (random) (RSSI -85)
Device found: cc:ca:31:a1:b8:36 (random) (RSSI -89)
Device found: fb:07:85:e8:9d:0a (random)

[2018-02-16 07:22] #6217 closed

[2018-02-16 08:35] nvlsianpu commented on #6229
cc @cvinayak  I  can't reproduce this using nRFConnect from my LG phone. Works fine.

[2018-02-16 09:30] jhedberg commented on #6232
I think this is already fixed in the latest master branch, please re-test

[2018-02-16 09:31] jhedberg commented on #6233
I think this is already fixed in the latest master branch, please re-test

[2018-02-16 09:57] rmstoi opened #6235 "echo server crash from ICMPv6 NS source link layer address anomaly"
Defensics test case 10912: 0000000025G ICMPv6.NDP.Neighbor-solicitation.Neighbor-Solicitation.IPv6-Packet.payload.protocol.icmpv6-message.ndp-neighbor-solicitation.options.ndp-options.RFC2461-source-link-layer-address.element   Repeat+of+128+octets%3A+type+length+data

This test case crashes echo server in QEMU.

[icmpv6-ns-10912.zip](https://github.com/zephyrproject-rtos/zephyr/files/1730825/icmp

[2018-02-16 10:32] jhedberg commented on #6231
Did you try connecting before Zephyr console shows "Switching to Beacon mode"? Beacon mode is a non-connectable state so connections would be expected to fail.

[2018-02-16 10:37] finikorg commented on #2613
Is it enough to have configuration for sanity check build?

[2018-02-16 10:55] pfalcon commented on #6086
@d3zd3z : Thanks for comments!

Yes, but that's how TLS is used in the real world (millions on publicly accessible production hosts), so: a) we can't ignore it; b) we can't implement it completely in Zephyr so far at all (no real-time clock support), and most systems won't be to support it fully anyway. So, work on that would be a typical long winding road of compromises and successive approximati

[2018-02-16 11:03] #6229 closed

[2018-02-16 11:23] DWagenk opened #6238 "spi: stm32f0 IRQ priority is invalid"
Executing spi_loopback test for f0 based boards (stm32f072b_disco) with assertions enabled fails:

[code]

in dts/arm/st/stm32f0.dtsi interrupt priority is set to 5, but should be lower for f0 series.

[2018-02-16 15:12] Jveyrat opened #6240 ""Previous execution" and "Next execution" display problem."
IC:
- Have a project with several Test Cycle created inside.

Steps:
- Create several folders under 1 Test Cycle.
- Put some Tests inside those folders.
- Click on "E" to execute a test.

Expected result:
- When selecting a folder, and clicking on "E", the test execution page open, and display 2 arrows for "Next execution" and "Previous execution" to allow navigate on tests.

Actual result:
- When

[2018-02-16 16:23] nashif commented on #6240
Wrong project, this is not Zephyr, the test framework, this is Zephyr the RTOS.

[2018-02-16 16:23] #6240 closed

[2018-02-16 18:55] cvinayak commented on #6232
@tarunkum There was a regression that is fixed in https://github.com/zephyrproject-rtos/zephyr/commit/ae03e35d6cdd0642361917bc5dea5b6134de9da2

Please re-test and revert back.

[2018-02-17 03:59] #5886 closed

[2018-02-17 14:14] #5737 closed

[2018-02-17 14:15] #5531 closed

[2018-02-17 14:19] #5889 closed

[2018-02-17 21:30] rveerama1 commented on #6010
@mbolivar can you try your application with this patch https://github.com/zephyrproject-rtos/zephyr/pull/6237/commits/c8753c3cc53636dfa3f23aebc6ffaf658652ceb2

[2018-02-18 17:03] sundar-subramaniyan commented on #5132
Hi, I'd also like to have tasklets in the kernel. In my case, I need a tasklet in usb driver to offload stuff from ISR basically which would run time critical code. Currently I'm using a FIFO to offload work from ISR to a work handler. But while the work handler is running other threads should not get scheduled as it would break the USB bus read/write sequence. We can use k_sched_lock() and k_sche

[2018-02-18 23:23] nashif opened #6257 "test, please ignore"
test, please ignore

[2018-02-18 23:30] #6257 closed

[2018-02-19 04:05] Shilpashree3lc opened #6258 "[Coverity CID: 182894] Error handling issues in /samples/net/nats/src/main.c"
Static code scan issues seen in File: /samples/net/nats/src/main.c
 Category: Error handling issues
 Function: write_led
 Component: Samples
 CID: 182894
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-19 04:05] Shilpashree3lc opened #6259 "[Coverity CID: 182892] Various in /tests/ztest/src/ztest.c"
Static code scan issues seen in File: /tests/ztest/src/ztest.c
 Category: Various
 Function: cleanup_test
 Component: Tests
 CID: 182892
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-19 04:05] Shilpashree3lc opened #6260 "[Coverity CID: 182890] Null pointer dereferences in /tests/net/net_pkt/src/main.c"
Static code scan issues seen in File: /tests/net/net_pkt/src/main.c
 Category: Null pointer dereferences
 Function: test_pkt_read_append
 Component: Tests
 CID: 182890
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-19 04:05] Shilpashree3lc opened #6261 "[Coverity CID: 182887] Control flow issues in /drivers/gpio/gpio_esp32.c"
Static code scan issues seen in File: /drivers/gpio/gpio_esp32.c
 Category: Control flow issues
 Function: convert_int_type
 Component: Drivers
 CID: 182887
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-19 04:05] Shilpashree3lc opened #6262 "[Coverity CID: 182886] Error handling issues in /subsys/bluetooth/controller/hal/nrf5/ticker.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/hal/nrf5/ticker.c
 Category: Error handling issues
 Function: hal_ticker_instance0_sched
 Component: Bluetooth
 CID: 182886
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-02-19 04:41] nashif commented on #3565
merged

[2018-02-19 04:41] #3565 closed

[2018-02-19 04:41] tarunkum commented on #6233
@jhedberg
Yes Issue is fixed in latest branch. Thanks a lot.

[2018-02-19 04:48] nashif opened #6263 "ARC: Implement userspace"
Placeholder for ARC userspace support

[2018-02-19 04:48] tarunkum commented on #6232
@jhedberg
 Yes Issue is fixed in latest branch. Thanks a lot.

[2018-02-19 04:50] nashif opened #6264 "ARM: Implement Userspace"
ARM: Implement Userspace

[2018-02-19 04:50] #6264 closed

[2018-02-19 04:50] #6263 closed

[2018-02-19 05:08] tarunkum commented on #6231
@jhedberg

Thanks a lot. I understood to connect the device before Switching to Beacon mode.
Able to connect the device before it switches to beacon.

[2018-02-19 05:52] #6233 closed

[2018-02-19 05:52] #6232 closed

[2018-02-19 05:52] #6231 closed

[2018-02-19 08:22] rmstoi commented on #6235
enabling these configs get it working fine

CONFIG_DEBUG_OPTIMIZATIONS=y
CONFIG_MAIN_STACK_SIZE=2024

If only stack size is grown it also crashes. So the solution is to grow stack size and enable debug optimizations.

[2018-02-19 12:46] #5317 closed

[2018-02-19 13:38] Vudentz commented on #5603
There are 2 ways we could apply the level, per sub-domain/file or bluetooth global. I suppose we want per sub-domain so we would likely add a kconfig entry for each sub-domain to configure the level, but we still have to decide if we leave the current DEBUG or replace with LOG_LEVEL like the other users of SYS_LOG. We can also have a master Kconfig that enables every sub-domain, though in case of

[2018-02-19 14:22] jukkar commented on #3323
Closing old bug.

[2018-02-19 14:22] #3323 closed

[2018-02-19 14:22] jukkar commented on #3322
Closing old bug.

[2018-02-19 14:22] #3322 closed

[2018-02-19 14:22] jukkar commented on #3318
Closing old bug.

[2018-02-19 14:22] #3318 closed

[2018-02-19 14:23] jukkar commented on #3317
Closing old bug.

[2018-02-19 14:23] #3317 closed

[2018-02-19 14:23] jukkar commented on #3316
Closing old bug.

[2018-02-19 14:23] #3316 closed

[2018-02-19 14:23] jukkar commented on #3308
Closing old bug.

[2018-02-19 14:23] #3308 closed

[2018-02-19 14:24] jukkar commented on #3240
Closing old bug.

[2018-02-19 14:24] #3240 closed

[2018-02-19 14:24] jukkar commented on #3187
Closing old bug.

[2018-02-19 14:25] jukkar commented on #3187
Sorry, did not notice that this was not my issue thus reopening.

[2018-02-19 14:27] jukkar commented on #3546
Closing old bug.

[2018-02-19 14:27] #3546 closed

[2018-02-19 14:29] jukkar commented on #4779
@rveerama1 has fixed TCP issues lately so this should be fixed already and requires re-testing.

[2018-02-20 02:08] ramakrishnapallala commented on #2978
Filesystem switch or VFS like layer implementation is close to complete, internal testing is progress.

[2018-02-20 10:14] rmstoi commented on #6235
ok, it still crashes with a larger link layer address in NS option
[icmpv6-ns-10919.zip](https://github.com/zephyrproject-rtos/zephyr/files/1739657/icmpv6-ns-10919.zip)

[2018-02-20 10:57] pfl commented on #5482
I'll fix this issue.

[2018-02-20 12:31] #5484 closed

[2018-02-20 14:47] #5836 closed

[2018-02-20 14:48] #6238 closed

[2018-02-20 14:50] nashif opened #6276 "assert when running sys_kernel on disco_l475_iot1 (with asserts enabled)"
add CONFIG_ASSERT=y, build and flash on device:

[code]

[2018-02-20 14:54] #6235 closed

[2018-02-20 14:54] nashif commented on #6276
actually this looks like a common problem, not only on disco_l475_iot1, I was able to reproduce on frdm_k64f as well.

[2018-02-20 17:33] galak opened #6279 "Add doc to samples/bluetooth/mesh & samples/bluetooth/mesh_demo"
We should document what exactly the sample is doing or accomplishing

[2018-02-20 17:39] tbursztyka opened #6281 "Networking API documentation reordering"
In doxygen part, Network API should be reordered:
- those who belong to user API (socket, net mgmt, packet and buf, and higher level protocols such as coap, mqtt, http...)
- rest being part of core stack APIs (udp, ipv4/6, 15.4, l2, etc...)

Looks like we have namespace issues as well (2 15.4 library though one is the l2 part, one is the net mgmt part). Http seems to be out of the networking apis,

[2018-02-20 17:47] nashif commented on #4351
closing, no further comments

[2018-02-20 17:47] #4351 closed

[2018-02-20 17:48] nashif commented on #4568
is this still an issue?

[2018-02-20 17:49] nashif commented on #4216
no further comments, please reopen if issue still exists.

[2018-02-20 17:49] #4216 closed

[2018-02-20 17:49] pfalcon commented on #6091
Closed in Coverity as Intentional.

[2018-02-20 17:49] #6091 closed

[2018-02-20 17:52] nashif commented on #5244
is this already fixed?

[2018-02-20 17:53] nashif commented on #6015
can you submit a PR?

[2018-02-20 17:59] nashif commented on #4000
should be fixed now

[2018-02-20 17:59] #4000 closed

[2018-02-20 18:12] galak commented on #4568
Yes, looking at it now

[2018-02-20 18:19] nashif commented on #5857
is this already fixed? can someone please verify!

[2018-02-20 18:20] nashif commented on #5781
any news?

[2018-02-20 18:20] nashif commented on #5771
what is the status of this?

[2018-02-20 18:22] nashif commented on #5678
@finikorg are you looking at this bug?

[2018-02-20 18:26] nashif commented on #4989
@MariuszSkamra  any updates?

[2018-02-20 18:29] nashif commented on #5493
duplicate of #1583

[2018-02-20 18:29] #5493 closed

[2018-02-20 18:30] nashif commented on #3910
@jfischer-phytec-iot  any updates on this?

[2018-02-20 18:31] nashif commented on #729
is this still an issue? any updates? @pfl, @pfalcon

[2018-02-20 18:35] nashif commented on #3667
tried on nrf51, I get:

[code]

[2018-02-20 18:35] #3667 closed

[2018-02-20 18:36] nashif commented on #3384
@punitvara  what is the status on this?

[2018-02-20 18:37] nashif commented on #3377
@cvinayak is this fixed?

[2018-02-20 18:38] nashif commented on #3375
@d3zd3z is this still an issue?

[2018-02-20 18:57] ric96 opened #6283 "Build Fails on arm64 host"
[code]

Debian Strech with updated cmake 3.9
the only issue with environment setup was that gcc-multilib wasn't installed.

[2018-02-20 19:34] pfalcon commented on #729
@nashif : Currently there're known issues with TCP support in Zephyr, and this one in my list for extra-detailed checking. (@pfl reviewed it and responded that everything should be ok, nor I have any specific issues to point at, except for lack of explicit synchronized access.) This is low priority, assigned directly to me to hopefully avoid confusion.

[2018-02-20 19:37] pfalcon commented on #5857
It's not, just last week I was getting non-deterministic lockups and errors when playing with sockets code. Per my comment above and metadata on the issue, I'm going to dig into this when 1.12 windows opens.

[2018-02-20 21:28] LorenzMeier commented on #1291
@nashif Could you share the roadmap for this or a planning document?

[2018-02-20 21:31] andrewboie commented on #6283
I don't think our build system has ever been tested (or supported) on anything other that x86 workstations.

[2018-02-20 21:42] lpereira opened #6284 "docs.zephyrproject.org should be served with HTTPS"
The main website (www subdomain) is served with HTTPS, but the documentation isn't.

[2018-02-20 21:45] nashif commented on #6284
should be filed here instead: https://github.com/zephyrproject-rtos/infrastructure

[2018-02-20 21:45] #6284 closed

[2018-02-20 23:35] nashif commented on #5382
merged

[2018-02-20 23:35] #5382 closed

[2018-02-21 05:45] #2937 closed

[2018-02-21 05:49] andrewboie opened #6287 "runtime allocation of kernel objects"
It's not always possible to define all kernel objects used at build time, especially if the application is built separately from the kernel.

Provide facilities to allocate kernel objects at runtime:

- APIs to request/release kernel objects from statically defined slab pools for that object type
- APIs to request/release kernel objects from a kernel-side heap. Will need a runtime hash table to su

[2018-02-21 05:53] andrewboie opened #6288 "better heap APIs for user mode"
The k_mem_pool APIs were designed to be ISR-safe and are not usable from user mode.
We could tell everyone to just use newlib malloc/free, but for systems without virtual memory this will be a common global user-accessible heap which does not work well if different parts of the application need to be isloated from each other.
Introduce an equivalent to the k_mem_pool APIs which works ENTIRELY from

[2018-02-21 05:55] andrewboie opened #6289 "user mode workqueue APIs"
k_work_q APIs have the worker thread run in supervisor mode. k_queues are used to buffer work requests to the queue.

We need to support work queues where the worker runs in user mode. We will need to use a different kind of buffering object which is user mode compatible.

Other kernel object APIs which support offloading to k_work_q will need additional APIs for working with these kinds of queues

[2018-02-21 05:58] andrewboie opened #6290 "userspace: better memory organization features"
CONFIG_APPLICATION_MEMORY was a first attempt, and was good for getting test cases up and running in user mode, but is pretty terrible for all but the most trivial real-world uses.

We need something for MPU systems that complements Memory Domains, such that it handles the linker side of compartmentalizing data in the linked memory layout for 1...N logical "applications" running in the physical ad

[2018-02-21 06:01] andrewboie opened #6291 "userspace: support MMU-based memory virtualization"
Container issue; split into various MMU/VM related stories

- [ ] Virtualize address space, 2G/2G user/kernel VM split
- [ ] New APIs for supporting Zephyr "processes" which have their own VM, multiple Zephyr threads per process.
- [ ] Deprecate Memory Domains for MMU systems.
- [ ] ASLR
- [ ] Separately loaded position-independent application binaries loaded at runtime
- [ ] NuttX style demand pa

[2018-02-21 07:18] pfl commented on #729
If the IP stack is made re-entrant, this issue needs looking into.

[2018-02-21 08:39] cvinayak commented on #3377
@nashif, no. Ok, lets aim for 1.12?

[2018-02-21 09:14] SebastianBoe commented on #5771
Looks like a bug, but the issue has not been reproduced and the root cause is unknown.

[2018-02-21 09:45] nullr0ute commented on #5771
Did you see anything in my attached logs? Can I check anything else? I've probably got some cycles this week to do more tests for you

[2018-02-21 09:54] tbursztyka opened #6293 "Refining Zephyr's Device Driver Model"
For more information on Zephyr's Device Driver Mode, refer to http://docs.zephyrproject.org/devices/drivers/drivers.html

## Current situation

 * A generic struct device with a generic struct device_config
 * Shared system with services initialization (init.h), device and service initialization are interleaved (levels/prio).
 * Optionally, power management generic functions are present (in the co

[2018-02-21 10:17] nvlsianpu commented on #6152
@mbolivar Thanks for elaboration - now I understand what you mean.

User case: Firmware update might changes flash layout of the device. This means: slots_images boundaries might change,  any user area boundaries might changes. So need a mechanism for transfer this information to the application (or even multiple application) and the bootloader. So fare flash area information are hardcoded in appl

[2018-02-21 10:43] jukkar commented on #6226
Just guessing here but if there is a net_buf leak we could get into this issue easily.

[2018-02-21 10:51] erwango commented on #6293
Hi @tbursztyka ,

Thanks for structuring this topic and giving some directions.
There is already some work under RFC to address some of the items you listed. Let me list here what I 'm aware of (mainly since I worked on it).

### dts based pinmux generation
#5021: Pinmux configuration code generated from Device tree
#5799: drivers: pinctrl device interface (Linux-like) and STM32F0 driver

These 2

[2018-02-21 11:15] jukkar commented on #6007
@aescolar-ot Do you have plans to work on this? If not, I could start to look into it.

[2018-02-21 11:29] aescolar-ot commented on #6007
No plans from my side, so feel free.

[2018-02-21 12:48] #4568 closed

[2018-02-21 13:49] dbkinder commented on #5794
Typo in the link to this image is fixed.

[2018-02-21 13:50] #5794 closed

[2018-02-21 14:56] galak commented on #5707
Moved NXP in PR #6297

[2018-02-21 15:20] jukkar commented on #6007
Ok, taking this one.

[2018-02-21 15:29] tbursztyka commented on #6293
I noticed indeed that we are many chasing similar rabbits, so it would be nice to centralize efforts. A bit like what is being done for the APIs in #5697

extract_dts_include would require some love indeed, even renaming it would be wise as it's going to be used for more various things. it's quite messy as it is. (kconfiglib.py for instance is super easy to manipulate, it's well commented etc... )

[2018-02-21 16:19] carlescufi commented on #5486
@MariuszSkamra can you try to re-run the test to see if we can capture the elusive `CONNECT_IND` packet? This should be fixed before 1.11 is released.

[2018-02-21 20:43] therealprof opened #6307 "Unaligned access in networking code causes unaligned exception on Nucleo-F429ZI"
Trying to run some networking sample code (with the default configuration) on my new Nucleo-F429ZI board yields this interesting exception:

Very much to my surprise it is somewhat obvious where that unaligned exception is coming from:

[code]

It's somewhat less obvious (to me at least) what to do about it...

[2018-02-21 20:52] mbolivar commented on #6152
Thanks for the response!

Thanks for the concrete use case, which helps me understand.

That sounds like it will make MCUboot more complicated and thus more difficult to audit (dynamic partition maps -- will they be updated in a power-failure-safe way too? Will MCUboot need to parse a complex structure on flash to make that work? etc.). I don't see an open MCUboot issue for this additional feature

[2018-02-21 21:34] jimmy-huang opened #6309 "Non-blocking BSD sockets not working as expected"
Symptom: When using the BSD sockets and running them as a server in non-blocking mode, the app will block on recv() until the client sends a message.

I am not sure if this is a bug or not, but at least the behavior is different from Linux implementation, from the linux man page, it states that if the socket is set to nonblocking mode, when there's no data coming from the client, then recv() shoul

[2018-02-21 21:49] tkln commented on #3079
If the device initialization errors aren't handled by the kernel in any way, then the responsibility is going to fall onto the driver. For example, currently the HTS211 sensor driver crashes with a divide by zero exception if sensor_channel_get is called on it after failed initialization. Currently there's no way to avoid this crash, because there's no way to know if the init failed or not.

I don

[2018-02-21 23:40] lpereira commented on #6293
By moving more ports to DeviceTree, it should be possible to revisit IRQ_CONNECT() as well.  The current best known method to "connect" an IRQ line to an ISR is quite awkward, and it would be good if we could do as much as possible during compilation time, without requiring a "call" to IRQ_CONNECT() to be inside a function.  This is technically possible already, given that most ports are using the

[2018-02-21 23:53] #4924 closed

[2018-02-22 01:05] carlescufi commented on #6187
This should now be clearer with the introduction of `entropy_get_entropy_isr()` in #6294

[2018-02-22 01:06] carlescufi commented on #6187
By the way, I think the reentrancy/concurrency should be definitely addressed at a global level for all driver APIs. We need a generic "contract" for driver APIs which, IMHO, should include support for multiple threads accessing concurrently.

[2018-02-22 04:56] cvinayak commented on #6293
@lpereira first, very good issue (descriptions).

For me, contributing a bare-metal BLE controller into Zephyr and slowly porting to re-use Zephyr OS features, every change gets me to profile the controller with respect to CPU usage (current consumption). Most BLE end-user usecases are race-to-idle, which means CPU wakeup is always by IRQ then followed up by (seldom) thread mode execution, and of

[2018-02-22 05:10] kkc0505 opened #6312 "The shell sample does not working on k64f board"
When I test the shell on k64f, the following message is displayed after input command.

Zephyr Shell, Zephyr version: 1.10.99
Type 'help' for a list of available commands
shell> help
***** BUS FAULT *****
  Executing thread ID (thread): 0x200002d0
  Faulting instruction address:  0x224a
  Imprecise data bus error
Fatal fault in ISR! Spinning...

please help this issue.

thinks

[2018-02-22 08:26] pfalcon commented on #6309
@jimmy-huang : Ack, thanks, will look into it.

[2018-02-22 08:55] rmstoi opened #6315 "echo server crash from malformed ICMPv6 NA"
Defensics test case 39943 ICMPv6.NDP.Neighbor-advertisement-unsolicited.Neighbor-Advertisement.IPv6-Packet.payload.protocol.icmpv6-message.ndp-neighbor-advertisement.element

This test case crashes echo server in QEMU.

[net/core] [DBG] net_recv_data: (0x00404bc0): fifo 0x004037b0 iface 0x0041fb00 pkt 0x00406d78 len 62
[net/core] [INF] net_analyze_stack: net (0x004037c0): RX thread stack real size

[2018-02-22 09:10] finikorg commented on #5678
@nashif Yes, at the moment I see that when sending data we sometimes "send" extra 4 bytes, apparently left from the previous send operation. This is clearly seen in the trace below. The extra 4 bytes is CSW Signature, which is first 4 bytes of usual reply sent to this endpoint. If we remove these 4 bytes the operation would succeed. Looks like issue with USD DW driver, although the MSC code is not

[2018-02-22 14:27] MariuszSkamra commented on #5486
@carlescufi I got CONNECT_IND event! You can check the parameters now
[connect_ind.zip](https://github.com/zephyrproject-rtos/zephyr/files/1748225/connect_ind.zip)

Test is failing for me again. That's odd. I'm afraid I tested vich patches with privacy disabled...

[2018-02-22 15:10] pswarnak opened #6319 "Missing documentation for zephyr API to query kernel version: sys_kernel_version_get"
It would be good to have this documented in website for general information to be used by product manufacturing teams.

In real products, kernel version is generally displayed as part of initial messages or crash log.
**This will help in debugging crash or non-reproducible scenarios.**

could not find related documentation http://docs.zephyrproject.org

[2018-02-22 15:35] MaureenHelm commented on #6312
Thanks for reporting this. I'm still debugging, but after some git bisecting it looks like the introduction of mcumgr may be to blame

@carlescufi @ccollins476ad

[2018-02-22 15:39] rmstoi opened #6322 "shell crashes when enter is pressed"
There seems to be a regression in shell that causes it to crash after enter is pressed. For example if I start echo server in QEMU and press enter it crashes with message:

[code]

There is a PR #6313 with a patch.

It seems regression is probably caused by commit:

[14735116d1fe24713aa444e4e38e313b7f117c89](https://github.com/zephyrproject-rtos/zephyr/commit/14735116d1fe24713aa444e4e38e313b7f117c

[2018-02-22 15:39] HorseMa opened #6323 ""SPI master port SPI_1 not found* when porting spi ethernet device enc28j60 on stm32_min_dev board"
I have enable SPI_1 in file stm32_min_dev.dts, but still error

[2018-02-22 15:41] erwango opened #6324 "doc: Project coding standards: page not found"
In http://docs.zephyrproject.org/contribute/contribute_guidelines.html,
**project coding standards** link does not work

[2018-02-22 15:43] HorseMa commented on #6323
I add follow msg in file stm32_min_dev_defconfig, still error

# enable SPI
CONFIG_SPI_LEGACY_API=y
CONFIG_SPI=y
CONFIG_SPI_STM32=y
# CONFIG_SPI_STM32_INTERRUPT is not set
CONFIG_SPI_INIT_PRIORITY=70
CONFIG_SYS_LOG_SPI_LEVEL=0
CONFIG_SPI_CS_GPIO=y
# CONFIG_SPI_0 is not set
CONFIG_SPI_1=y
CONFIG_SPI_1_DEFAULT_CFG=0x80
CONFIG_SPI_1_DEFAULT_BAUD_RATE=500000
CONFIG_SPI_1_CS_GPIO_PORT="GPIOA"
CONFIG_SP

[2018-02-22 15:51] erwango commented on #6323
It's difficult to debug without seeing your changes, but possible issue is that you miss
` 	select HAS_DTS_SPI_DEVICE`
in boards/arm/stm32_min_dev/Kconfig.board

[2018-02-22 16:04] ccollins476ad commented on #6312
I don't believe I have access to a k64f, but I'll see if I can replicate it with other hardware.

[2018-02-22 16:06] MaureenHelm commented on #6312
Fixed by #6313

[2018-02-22 17:17] ydamigos commented on #6323
Did you add the SPI pins in boards pinmux file? Commit c7a170b3731f5c46793aac2dfa6b9ae04533f1a3 contains information how it was done for olimexino_stm32

[2018-02-22 17:57] dbkinder commented on #6319
Best to report this as an issue on GitHub:  https://github.com/zephyrproject-rtos/zephyr/issues/new

BTW, looks like there are no doxygen comments in include/kernel_versoin.h where this function is defined ☹

-- david

From: Praful Swarnakar [mailto:notifications@github.com]
Sent: Thursday, February 22, 2018 7:10 AM
To: zephyrproject-rtos/zephyr <zephyr@noreply.github.com>
Cc: Subscribed <subscrib

[2018-02-22 18:07] dbkinder opened #6327 "doc: GPIO_INT config option dependencies aren't clear"
As reported on the dev mailing list, there's a dependency between GPIO_INT_EDGE and GPIO_INT that's not clear. Can this dependency be added to the Kconfig file?

I don’t understand what the documentation says for the flags:

    GPIO_INT
       GPIO pin to trigger interrupt.

    GPIO_INT_EDGE
       Do Edge trigger.

So, what I’m concluding is that you need to specify GPIO_INT to **enable** inter

[2018-02-22 19:13] #6324 closed

[2018-02-22 20:29] #6312 closed

[2018-02-22 20:29] #6322 closed

[2018-02-22 20:34] b0661 commented on #6293
Some (biased) remarks from the author of  #5799 regarding

## DTS extraction and driver data/code generation

I see #5799 (green) and #5021 (yellow) as two of several options a driver implementer may choose from. She may also decide to write her own script to transfer DTS info to the driver. All this should be controlled by the CMakefile of the driver inplementation.

![device driver thoughts](htt

[2018-02-23 03:18] HorseMa commented on #6323
I add the SPI pins in boards pinmux file， and my .config is flow, compile it , but there is nothing about spi in directory zephyr/CMakeFiles/zephyr.dir/drivers/

#
# Security Options
#
# CONFIG_STACK_CANARIES is not set
# CONFIG_USE_SWITCH is not set
# CONFIG_SMP is not set
CONFIG_MP_NUM_CPUS=1
# CONFIG_KERNEL_EVENT_LOGGER is not set
# CONFIG_SYS_POWER_MANAGEMENT is not set
CONFIG_HAS_DTS=y
# CONF

[2018-02-23 03:55] nashif commented on #6319
huh, and where is this? we are on github

[2018-02-23 04:12] dbkinder commented on #6319
Doh. Sorry about that. I misread the address thinking this was posted to the mailing list.

[2018-02-23 04:44] kkc0505 commented on #6312
Thinks for your comment.
I will check shell on k64f.

[2018-02-23 07:13] #6315 closed

[2018-02-23 07:29] kkc0505 opened #6333 "How do I implement GPIO on the f429zi board?"
i am analyzing the source code related to gpio. that I saw the gpio_stm32 source.
I can not find the GPIO sample source code associated with the stm32 board.

How can I apply gpio to the f429zi board?

Please guide to me

[2018-02-23 07:58] ydamigos commented on #6333
Hi,

did you check samples basic/button and basic/blinky?

[2018-02-23 08:25] HorseMa commented on #6323
SPI ethernet device enc28j60 depends on  CONFIG_SPI_LEGACY_API=y.
 I find if enable CONFIG_SPI_LEGACY_API the spi driver of stm32 would not to be compiled even if CONFIG_USE_STM32_LL_SPI=y,
why?

[2018-02-23 08:25] erwango commented on #6333
Can you precise which f429zi board you're using?

[2018-02-23 08:29] ydamigos commented on #6333
Building basic/blinky (latest master) works on both nucleo_f429zi and stm32f429i_disc1. Which board do you use? Could you post the error?

[2018-02-23 08:33] kkc0505 commented on #6333
I'm using f429zi for the first time. ^^;;
blinky_led is not working. however blinky is working fine.

blinky_led and blinky are different samples.
samples/basic/blink_led/src/main.c:34:2: error: #error "Choose supported PWM driver"
 #error "Choose supported PWM driver"
  ^~~~~
samples/basic/blink_led/src/main.c: In function ‘main’:
samples/basic/blink_led/src/main.c:51:31: error: ‘PWM_DRIVER’ unde

[2018-02-23 08:34] ydamigos commented on #6323
STM32 SPI driver doesn't support SPI legacy API.
Could you try building PR https://github.com/zephyrproject-rtos/zephyr/pull/5921? It updates enc28j60 to the new SPI API.

[2018-02-23 08:41] ydamigos commented on #6333
PWM support is not enabled on nucleo_f429zi and stm32f429i_disc1.
Check PR https://github.com/zephyrproject-rtos/zephyr/pull/6060 if you want to add PWM support on the board.

[2018-02-23 08:58] SebastianBoe commented on #5771
Hi,

This error:

"/usr/bin/arm-linux-gnu-ld: error: /usr/lib/gcc/arm-linux-gnueabi/7/libgcc.a(_aeabi_ldivmod.o): Conflicting architecture profiles A/M"

Tells me that the linker is been given conflicting information on whether to link a Cortex-A or Cortex-M binary.

Now, we do not specify to the linker itself what architecture to link for and (unless this is proving me wrong) we do not have to. I

[2018-02-23 09:00] SebastianBoe commented on #5771
My best guess is that "/usr/lib/gcc/arm-linux-gnueabi/7/libgcc.a" is a Cortex-A v7, and not a Cortex-M v7 binary, because AFAICT all the Zephyr sources were built with -mcpu=Cortex-M4.

[2018-02-23 11:16] tbursztyka commented on #6293
@b0661 I have to disagree on "No specific solution should be mandated."

The least freedom you'll give in this domain will lead to a bunch of completely different ways of doing things. And who will maintain what then?

The idea of having one _solution fits all_, is that everybody will "speak the same language". Anybody should be able to go and fix easily any driver, board, device integration, revi

[2018-02-23 12:47] tbursztyka commented on #4105
Fixed via #5921

[2018-02-23 12:47] #4105 closed

[2018-02-23 12:48] tbursztyka commented on #4106
Fixed via #5921

[2018-02-23 12:48] #4106 closed

[2018-02-23 13:20] b0661 commented on #6293
@tbursztyka

Mandated means even if there is a preferred solution other solutionw should be at least supported by the technical capabilities (e.g. hooks, data formats, ...).  The capabilities shall be available to allow new solutions to emerge. That does not mean that there is a bunch of different solutions used. The solution(s) to be used should be decided by the review process and not dictated b

[2018-02-23 14:40] MariuszSkamra opened #6338 "Bluetooth: mesh: Node Identity Advertising issue"
I read in the spec (7.2.2.2.3) that Advertising with Node Identity shall be started if Mesh Proxy Service is supported and provisioning is completed using PB-GATT.
Now, Zephyr is starting Advertising with Node Identity even if provisioning was done using PB-ADV.
 I was about to report an issue to the PTS that they end the tests too early to see advertisements with Network ID, but now I have doubts

[2018-02-23 14:43] iha opened #6339 "samples/drivers/gpio Sample doesn't work on ESP32 after SMP support was added"
After this commit 245b54ed56868310fd9251a9710b85f194d5ca0c the gpio sample doesn't work. The sample get stuck.

Running on ESP32

[2018-02-23 14:58] #6164 closed

[2018-02-23 16:37] rmstoi opened #6342 "echo server: incorrect Ethernet FCS and checksum in echo response when running in QEMU"
This test case fails with echo server in QEMU. echo server responds to echo request with malformed response. In the response Ethernet Frame Check Sequence and ICMPv6 checksum are incorrect.
[icmpv6-71191-replay.zip](https://github.com/zephyrproject-rtos/zephyr/files/1752359/icmpv6-71191-replay.zip)
[icmpv6-71191.zip](https://github.com/zephyrproject-rtos/zephyr/files/1752360/icmpv6-71191.zip)

[2018-02-23 17:42] andyross commented on #5132
Just now taking a look:

So... doing this is actually easy.  We'd just augment the scheduler to recognize a "TASKLET" bit on the thread (or a specific numeric priority), which says that it should be placed into the run queue cache slot even if the current highest-priority thread is cooperative.  Unless I've missed something, none of the architecture code needs to change, it's all in the scheduler.

[2018-02-23 18:17] carlescufi commented on #5132
Hey @andyross thanks for the input, this is really helpful.

I might be missing something, but I think this must not necessarily be the case. If tasklets are treated as such, and not as "preemptive thread with higher prios than coop ones" then I think there's the opportunity to consider them a hybrid of thread and ISR. They obviously wouldn't be able to directly share data with a cooperative threa

[2018-02-23 18:20] andyross commented on #6339
Yes, there are some regressions that snuck into the ESP-32 code when used with the asm2 layer.  Looking at this now.

If you're blocked, you can add CONFIG_XTENSA_ASM2=n to your kconfig as a workaround.

[2018-02-23 18:51] andyross commented on #5132
To clarify the first point: if the action of TasletA having interrupted thread Coop0 is to wake up Coop1 which is a higher priority thread, then we'll end up returning into Coop1 in a context where Coop0 doesn't expect.  These are application threads, and may have races when used in a preemptive context that we can't fix.

Now... we could try to fix this in the scheduler by keeping a "last preempt

[2018-02-23 19:22] nashif commented on #5132
are we looking for something like this: https://www.freertos.org/xTimerPendFunctionCallFromISR.html ?

[2018-02-23 19:26] carlescufi commented on #5132
Sort of, but I'd rather not have this processed by a central RTOS daemon because there might be the need later on to have different priorities with tasklets, not just a common FIFO of task items that a single daemon processes. Maybe I'm over-engineering though, the current necessity comes from BLE and USB.

[2018-02-23 19:27] pfalcon commented on #6187
It would be easy to agree, but that would mean to literally wrap every driver-exported function into a mutex. That adds noticeable overhead, and may be not very efficient overall. E.g. consider a usecase I have with mbedTLS: its own subsystems don't use entropy source directly. Instead, they use crypto-secure PRNG, and that's being re-seed from time to time from entropy source. PRNG itself is not

[2018-02-23 19:34] carlescufi commented on #6187
A good example of this contract being unclear: https://github.com/zephyrproject-rtos/zephyr/blob/09ce2e218fb34ec0ad182e3d378614257fdb22e6/subsys/random/rand32_entropy_device.c#L34

[2018-02-23 20:00] nullr0ute commented on #5771
The zephyr 1.9 release/branch builds OK using the same toolchain so there's some variation in how we're doing it in cmake

[2018-02-23 20:24] carlescufi commented on #6187
CC @lpereira @tbursztyka @anangl

[2018-02-23 20:29] lpereira commented on #6187
Yeah, the entropy API needs to be revisited.

In particular, I would prefer that `entropy_get_entropy()` had a timeout parameter like the rest of Zephyr APIs that can block.  It would make it possible to use it from ISRs as well, without introducing yet another function to the API (e.g. by passing K_NO_WAIT as the timeout and handling the error).

[2018-02-23 20:44] pfalcon commented on #6187
And here we go (what I wrote in my previous comment). Well, it's OK to do that for entropy_get_entropy() - it's a special, security-related API. But affixing *all* driver API calls with timeout parameters, because potentially almost anything can block (as we know from Linux, re: e.g. "GPIOs which can sleep") is unlikely a good solution for Zephyr ;-).

[2018-02-23 22:36] andyross opened #6346 "ESP-32 preemption regressions with asm2"
In some cases (though apparently not all) the new asm2 code on esp32 is failing in situations where it is asked to switch back to a previously-interrupted thread from an otherwise working one.  See https://github.com/zephyrproject-rtos/zephyr/issues/6339 for one report.

The most common case happens with the idle thread, which will be correctly interrupted and switched away from (e.g. a timer inte

[2018-02-23 22:38] andyross commented on #6339
Opened https://github.com/zephyrproject-rtos/zephyr/issues/6346 to track the low level details, which don't have anything to do with GPIO or this test in particular.  I have a handle on where I think the problem lies.

[2018-02-23 23:51] kkc0505 commented on #6333
Thanks everyone

[2018-02-23 23:52] #6333 closed

[2018-02-24 02:20] nashif commented on #5132
One thing to note here is the fact that tasklets have an unfortunate name, basically they have nothing to do with schedulable tasks, based on my understanding, tasklets are functions doing followup work that an ISR requests for its interrupt servicing. The tasklet runs with interrupts enabled. Just like the ISR that has requested it, a tasklet would run outside the context of a particular task/thr

[2018-02-24 07:49] HorseMa opened #6347 "dhcpv4_client sample on spi_api_rework branch with board olimexino_stm32 does not work well"
it looks like pend forever。the log as below：

[code]

[2018-02-24 10:05] tofutim commented on #3688
Not sure why, but I had to chmod the crosstool-NG.sh to 755

[2018-02-24 17:42] carlescufi commented on #5132
Well that's a good point you bring up. I think we can go both ways: either we consider them "lightweight threads above coop that run forever" or we go the Linux tasklet way with deferred work that is not executed in ISR.

I'm not sure I understand this. At least on ARM, *everything* runs with interrupts enabled in Zephyr,  including ISRs. The exception of course is the small sections where one loc

[2018-02-24 19:10] nashif commented on #5132
Meaning that in the tasklet, we allow higher priority interrupts to occur and be processed when servicing lower priority interrupts.

[2018-02-24 20:13] carlescufi commented on #5132
Yep, we allow *all* interrupts to occur in fact. Tasklets run on thread mode, which allows all and any interrupt to preempt the tasklet. This is by design.

[2018-02-24 20:38] nashif commented on #5358
@kestewart

We can verify reproducibility by disabling timestamps, in general we do not have any timestamps when we build, we add those for development builds only and should not be enabled for release builds. I think the only thing we need is a testcase that verifies this for every commit and on a regular basis on master.

I just verified this and we do have repeatable builds.

This should be clo

[2018-02-24 20:40] nashif commented on #5813
I do not think this need to depend on samples, if we have some default system configuration that selects a weak crypto, then it should be changed, the samples and tests need to test all cryptos, also the weak ones.

So this should be seen as "Met" if we have no defaults in the system pointing to weak cryptos, and I do not think we have this, do we?

[2018-02-24 20:45] nashif commented on #5360
I am not aware of any APIs that we used that can be seen as deprecated, would mark this as Met and if something deprecated is discovered, mark it as a bug.

[2018-02-25 02:07] iha commented on #6327
I agree. But I think it more intuitive to remove the flag to enable GPIO_INT in the documentation and leave it implicit:

[code]

And using Kconfig to set this flag can be a bit annoying. I had to do something like this to set 16 GPIO ports for lack of API option.

[2018-02-25 08:01] henrikbrixandersen commented on #1420
I have created an Elixir instance for zephyr on http://elixir.brixandersen.dk as proof-of-concept.

As can seen, the multiple tags (and multiple naming schemes for tags) causes two different "branches" to occur on the Elixir navigation tree. Not sure how to best handle them.

[2018-02-25 11:36] henrikbrixandersen commented on #1420
@galak Can you shed some light on the significance of the `zephyr-vx.y.z` tags compared to the `vx.y.z` tags?

I am tempted to filter out the `zephyr-vx.y.z` tags in the Elixir configuration (as they seem redundant) and just display the `vx.y.z` tags.

[2018-02-25 12:35] nzmichaelh opened #6356 "samples/net/http_server causes an endless loop with wget"
This is due to the server hard-coding a 'Transfer-Encoding: chunked' header but sending a non-chunked body.

To reproduce:

- Build the samples/net/http_server example.  I used the Arduino Zero, SLIP, and IPv4 only
- Run `wget -O - http://192.0.2.1/`
- See:

[code]

[2018-02-25 15:42] henrikbrixandersen commented on #1420
@galak Thank you for the explanation. So, from an Elixir point of view, filtering out the `zephyr-vx.y.z` sounds like a possible solution.

[2018-02-25 15:48] nashif commented on #1420
@henrikbrixandersen yes

[2018-02-25 16:52] locomuco commented on #6346
@andyross what ESP32 toolchain version is currently supported by zephyr? the documentation always points to the latest esp32 [toolchain](https://esp-idf.readthedocs.io/en/latest/get-started/index.html#get-started-setup-toolchain)

[2018-02-25 17:07] diegosueiro opened #6365 ""dummy-flash" device tree bug"
I'm currently working on porting Zephyr to i.MX7 SoC and I'm facing an error with cmake when it is generating the generated_dts_board.h.
I want to use only the sram and in my dts I removed the "zephyr,flash" property. I'm not sure if I'm doing this correctly. If I don't want a flash should I need to set it to a specific entry or just remove the property from the dts?

[code]

[2018-02-25 19:29] henrikbrixandersen commented on #1420
I have opened a PR on free-electrons/elixir#35 for adding official support for the Zephyr Project in Elixir.

I will leave my proof-of-concept Elixir instance running on http://elixir.brixandersen.dk for now, but I would love to see it hosted elsewhere.

[2018-02-26 01:25] kkc0505 opened #6370 "I can't find adc name which is f429zi board"
Hi

Thanks very much for getting a lot of information here.
I am going to run the adc test on the f429zi board, but I do not know what the adc name is.

please guide to me

[2018-02-26 01:52] kkc0505 commented on #6370
i was test that ADC name is ADC1 and channel 5
- PA 5

it was not working, can't get device struct. which is NULL.

[2018-02-26 02:06] HorseMa commented on #6347
ETH_ENC28J60_0_SPI_CS_PIN
ETH_ENC28J60_0_SLAVE

why define two times?

[2018-02-26 08:52] ioannisg opened #6372 "ARMv8-M: implement & integrate SecureFault Handling"
For ARMv8-M Cortex-M CPUs with Security Extension, implement SecureFault Handling and integrate into the fault dumping framework for Cortex-M.

- [x] Implement for Cortex-M33 (ARMv8-M Mainline)

- [x] Implement for Cortex-M23 (ARMv8-M Basenline)

[2018-02-26 09:26] SebastianBoe commented on #5771
Hi,

before I set up a Docker image to reproduce this ...

I see that the toolchain used is named like this:

"export CROSS_COMPILE="/usr/bin/arm-linux-gnu-"

and your guide specifies this package:

"gcc-arm-linux-gnu"

Which documents itself like this:

"Cross-build GNU C compiler. Only building kernels is currently supported."

would you mind seeing if this fedora package, or this RPM (not famil

[2018-02-26 09:41] ioannisg opened #6373 "ARMv8-M: Implement stack limit checking for Secure/Non-secure stack pointers"
ARMv8-M implementations may have stack limit registers to allow stack protection, which is valuable, particularly, when the processor implementation includes the optional ARM Security Extension.

Stack limit checking is enforced during the creation of a stack frame. It prevents stack pointer to decent below values that, possibly, cross security boundaries (i.e. secure and non-secure memory regions

[2018-02-26 09:52] ioannisg opened #6374 "Trusted Execution: Design & implement high-level k-config structure for TE compilation options"

[2018-02-26 10:05] ioannisg opened #6375 "Trusted Execution: API for configuring fault exceptions to target desired security domain"
- [ ] Define API for the user to configure processor fault exceptions to target the desired security domain (secure/non-secure)

- [ ] Implement API for ARMv8-M

[2018-02-26 10:11] nullr0ute commented on #5771
The "Only building kernels is currently supported" basically means kernels, firmwares and other such things. It doesn't deal with dynamic libraries etc.

I use this toolchain to build zephyr 1.9 without issues so I'm pretty sure it's not the toolchain, also use it to build u-boot, arm-trusted-firmware, micropython for micro controllers and other similar things.

It actually compiles the master bra

[2018-02-26 10:58] ioannisg opened #6376 "Trusted Execution: API for configuring HW interrupts to target desired security domain"
In a trusted execution framework, interrupts from external sources may need to have different security attributions. We need an API to allocate the existing interrupt signals to target either the Secure or the non-Secure domain.

[2018-02-26 11:10] SebastianBoe commented on #5771
Right, so I set up a Fedora docker image and can confirm by running the readelf test I described earlier that link is failing because

/usr/lib/gcc/arm-linux-gnueabi/7/libgcc.a

is a Cortex-A library, and not a Cortex-M library. Which beg's the question, why is the Zephyr buildsystem using a Cortex-A library. Will find out ...

[2018-02-26 11:33] SebastianBoe commented on #5771
I see that libgcc.a is the only libc implementation provided by "gcc-arm-linux-gnu" which means that Zephyr is not detecting the wrong libc implementation. The package does not provide a Cortex-M libc implementation at all. I can not explain that this toolchain has been used to build Zephyr in the past, I do not see any evidence that it is able to build for Cortex-M.

Following this Fedora wiki fo

[2018-02-26 11:33] #5771 closed

[2018-02-26 11:49] ioannisg opened #6378 "Trusted Execution: API for configuring attribution for MCU resources"

[2018-02-26 12:34] ioannisg opened #6379 "Trusted Execution: Framework & API for defining functions/variables in Secure/Non-Secure domains"

[2018-02-26 14:26] rmstoi opened #6382 "echo server: crash from unsolicited RA reachable time anomaly"
[icmpv6-71090-ra.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/1758921/icmpv6-71090-ra.pcap.gz)

This test case crashes echo server in QEMU.

[net/ipv6] [DBG] net_ipv6_process_pkt: (0x004037c0): IPv6 packet len 64 received from fe80::8c0:deff:fefc:102f to 2001:db8::1
[net/ipv6] [DBG] process_icmpv6_pkt: (0x004037c0): ICMPv6 Router Advertisement received type 134 code 0
[net/ipv6] [DB

[2018-02-26 15:55] MaureenHelm commented on #5274
Hi @rveerama1. I spent some time last week debugging this, but didn't find anything yet. Will continue today.

[2018-02-26 16:01] dbkinder opened #6384 "Native (POSIX) zephyr.exe command line options not documented"
The resulting native POSIX application build creates a zephyr.exe program that can take command line options, but these options aren't documented.

Probably need to add this to http://docs.zephyrproject.org/getting_started/getting_started.html#running-a-sample-application-natively-posix-os where we can describe the --help option that lists what's supported:

    $ zephyr/zephyr.exe --help [-h] [--

[2018-02-26 17:33] pfalcon opened #6388 "entropy_native_posix doesn't follow "entropy" contract and is thus security risk"
An entropy driver for native_posix port, introduced in https://github.com/zephyrproject-rtos/zephyr/pull/6128, doesn't seem to generate real entropy. Its whole purpose seems to be the reproducible testing, but this aspect isn't emphasized enough (e.g. in its source filename, Kconfig description), and as such contradicts API contract for the entropy subsystem, which is, well, expected to generate e

[2018-02-26 17:41] pfalcon commented on #6388
This came during my work on https://github.com/zephyrproject-rtos/zephyr/issues/6086 . For it, I'm going to use check for CONFIG_ENTROPY_HAS_DRIVER, and if it's defined, assume that we have a true entropy, and are well set. If it's not defined, I'm going to print big fat scary warning, and use Zephyr's (P)RNG instead. Thus, usage of entropy_native_posix will bypass this big fat warning.

(All this

[2018-02-26 17:57] pfalcon opened #6389 "OpenThread: otPlatRandomGetTrue() implementation is not up to spec, may lead to security issues"
https://openthread.io/reference/group/plat-random#otplatrandomgettrue specifies:

However, implementation in Zephyr:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/openthread/platform/random.c#L19 uses sys_rand32_get(), which may return pseudo-random value. For TRNG, Zephyr offers entropy subsystem (entropy_get_entropy() function).

[2018-02-26 17:58] pfalcon commented on #6389
This goes with the same disclaimer as the text in parens in https://github.com/zephyrproject-rtos/zephyr/issues/6388#issuecomment-368585206 .

[2018-02-27 07:07] aescolar-ot commented on #6388
Adding further clarification in the documentation and Kconfig description sounds fair.

[2018-02-27 09:49] rveerama1 commented on #5274
@MaureenHelm Thanks, let me know if you have any fix.

[2018-02-27 10:16] ioannisg opened #6392 "Trusted Execution: build Zephyr images that are aware/unaware of the existence of TEE"
Background:

We need to address the following situations:

- In MCUs **with** support for TEE, the software developer shall be able

    - to build firmware images that run _in Secure domain by default_ and are **not-aware** of TEE, in general. In other words, the developer shall be able to _ignore_ the TEE feature completely.
   - to build Secure firmware images that make use of the TEE feature a

[2018-02-27 11:52] ioannisg commented on #6372
Requirements
The SecureFault Handler shall be implemented and integrated in the compiled image, if the following conditions hold:
- The hardware requirements are met, i.e. the Cortex-M core has the right capabilities (Cortex-M33 with Security Extensions).
- The user is building a Secure Zephyr image that runs in Secure mode.