[2021-06-23 15:15] galak commented on #36495
@ejohnso49 this fix looks good.  Can you send a PR with this and add fix to all the files in `dts/arm`

[2021-06-23 15:17] cfriedt commented on #36447
Thanks for the patch @romaric35 - that's an interesting case that I'm sure we should have a test for :-) @rlubos if you're ok making a PR, I would be happy to review when you are ready.

[2021-06-23 15:33] JPSELC commented on #32610
https://github.com/zephyrproject-rtos/zephyr/commit/3138d89fd966abdc243e972c7e2ed8f64f8a6b69 is now added which resolves https://github.com/zephyrproject-rtos/zephyr/issues/31499, and can be used to automatically trigger a registration update when notify timeout occurs.

Simply add this function
static void notify_timeout_cb(void)
{
	lwm2m_rd_client_update();
}

and assign the lwm2m_ctx notify_tim

[2021-06-23 17:21] nashif commented on #35237
I still think twister should not deal with modules directly. We should have and we have the tools to cover modules in CI, but we do not want to be parsing module.yaml files in twister. If you want to test something in a module, point to it directly.

[2021-06-23 17:27] mmahadevan108 commented on #35656
Yes it would, thank you for looking into this.

[2021-06-23 17:36] mmahadevan108 commented on #35656
I have tested on mimxrt685_evk. This test passes with this fix.

[2021-06-23 18:31] alexanderwachter commented on #35253
@nashif no idea abou lvlg 😅
Sorry

[2021-06-23 18:43] ejohnso49 commented on #36495
@galak Researching a little bit more and I think this applies to any node that has the `interrupt-controller` property. I also read up on `#address-cells`. I think my prior suggestion is incorrect.

I do not see any dts files defining nodes inside of interrupt-controller nodes as far as I can tell. I also found this example in some Linux dts files: https://lore.kernel.org/linux-devicetree/91e34052

[2021-06-23 19:11] ejohnso49 commented on #36495
Further research seems to say that `interrupt-controllers` will only have non-zero `#address-cells` if `interrupt-maps` are used. I didn't find any of this usage in the code base except for `edtlib` testing.

[2021-06-23 19:53] dakejahl commented on #32100
What's the status here? Looks like #32844 is merged. I am also interested in using multiple external flash devices.

[2021-06-23 20:23] cfriedt opened #36500 "espressif: cannot install toolchain on Darwin-arm64"
**Describe the bug**
before:
[code]
after:
[code]
**To Reproduce**
See above

**Expected behavior**
See above

**Impact**
showstopper (sort of)

**Logs and console output**
see above

**Environment (please complete the following information):**
 - OS: `Darwin ChristophersAir.cogeco.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8 05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 ar

[2021-06-24 00:35] sylvioalves commented on #36500
@cfriedt thanks for the input.
This has been already pushed upstream. However, it needs this PR (https://github.com/zephyrproject-rtos/zephyr/pull/36378) merged to take that change in place.

[2021-06-24 00:35] #36500 closed

[2021-06-24 02:15] cvinayak commented on #36496
@ArneJoris Please provide any Kconfig changes in your hci_usb sample's prj.conf file.

[2021-06-24 02:51] hakehuang commented on #33747
@ainguraXmarquiegui thanks, let me know when you accomplish testing, I can prepare the fix PR.

[2021-06-24 02:52] hakehuang commented on #36417
@henrikbrixandersen sorry, I forget to double check the repo. let me clsoe this one.

[2021-06-24 02:52] #36417 closed

[2021-06-24 05:20] nwsetec commented on #36381
Hi @cvinayak I have done some testing with your recommendation above with 4 mobile devices.  I have not observed any assertions in ull_conn.c and only one assertion in lll.c:353 but a new issue seems to have emerged.  After connecting and bonding four mobile devices and waiting 5 or so minutes it appears as though the connection 'slots' start to disappear.  In that one of the devices is disconnect

[2021-06-24 05:40] torntrousers commented on #36414
Hi @sylvioalves , any ideas yet? Did [that binary](https://github.com/zephyrproject-rtos/zephyr/files/6696677/zephyr.zip) built on my system work for you on yours?

[2021-06-24 07:04] cvinayak commented on #36381
Hi @nwsetec, I have re-designed part of implementation to solve the assertion in ull_conn.c, has lower memory cost. Will push a PR and ping you back.

We should follow up on this in a separate GH issue or come back to it here in this GH issue once a fix for ull_conn.c assert is approved.

Thinking aloud though, the application is not using `BT_LE_ADV_OPT_ONE_TIME` (assumption), which means the hos

[2021-06-24 07:30] #34917 closed

[2021-06-24 07:30] #35656 closed

[2021-06-24 07:48] wngur300 commented on #36247
A USB driver created by Windows for communication allows data to be sent and received from boards containing sources of zephyr/subsys/usb/class/loopback.c.

**loopback.c:**
![cap](https://user-images.githubusercontent.com/46815991/123222059-856f8680-d50a-11eb-88df-defb953c316f.PNG)

**send test:**
![cap2](https://user-images.githubusercontent.com/46815991/123222063-886a7700-d50a-11eb-823c-036a87df

[2021-06-24 08:57] #18386 closed

[2021-06-24 09:15] nwsetec commented on #36381
@cvinayak yes we're not using BT_LE_ADV_OPT_ONE_TIME.  I'll attempt to get a hci_core log right now.

[2021-06-24 09:22] #36339 closed

[2021-06-24 10:22] ematt commented on #27015
Hello,

What is the status of this? I would like to do it if possible

Best regards,
ematt

[2021-06-24 10:25] rlubos commented on #27015
To my knowledge there's no ongoing work on the issue. Feel free to propose something.

[2021-06-24 10:34] #36306 closed

[2021-06-24 10:34] #36307 closed

[2021-06-24 10:44] rlubos commented on #36447
@romaric35 @cfriedt I've submitted a PR witha a fix, please have a look: https://github.com/zephyrproject-rtos/zephyr/pull/36516

[2021-06-24 10:55] microbuilder commented on #36270
My proposal would be to standardise on `_ns`, since it's brief but clear, and the underscore helps differentiate it from the underlying MCU, core or board name.

[2021-06-24 10:56] de-nordic opened #36517 "RFC: API Change: Flash map: Partition ID generation"
## Introduction

Proposing change in how flash partition identifiers are generated, from DTS, to generate IDs for enabled partitions only.

### Problem description

Currently IDs for all partitions are generated regardless whether the partition is enabled or not;
whether partition is enabled or not does not effect other partitions as they are given fixed positions.
The ID's are, in most cases, not

[2021-06-24 11:22] galak opened #36520 "tests/kernel/timer/timer_api/kernel.timer.tickless fails to build on npcx9m6f_evb"
`./scripts/twister -s tests/kernel/timer/timer_api/kernel.timer.tickless -p npcx9m6f_evb`

gets:

[code]

[2021-06-24 11:26] Thalley commented on #36303
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/35823

[2021-06-24 11:26] #36303 closed

[2021-06-24 11:36] Thalley commented on #36311
Closed as false positive

[2021-06-24 11:36] #36311 closed

[2021-06-24 11:37] Thalley commented on #36312
Closed as false positive

[2021-06-24 11:37] #36312 closed

[2021-06-24 11:42] Thalley commented on #36048
This has been confirmed as a 3rd party controller issue.

TBD if we need to handle this in the Zephyr host.

@Vudentz @joerchan @jhedberg
This issue is the one mentioned in slack a few days ago, where we get the ISO and ACL disconnect events in an order not properly handled by the Zephyr host. The core spec doesn't explicitly state an order but implies that the ISO disconnect events should come fi

[2021-06-24 13:47] torntrousers commented on #36414
With help from @sylvioalves on slack this has been resolved - it was the Heltec board itself and using a different ESP32 module and it all works fine. Not sure what the problem is with the Heltec board as it works fine with the Arduinio/ESP32 environemnt, but that can be for another day.

[2021-06-24 13:47] #36414 closed

[2021-06-24 14:58] microbuilder commented on #36298
Track via #36345

[2021-06-24 15:06] dleach02 commented on #35658
#36278 points to the underlying issue here.

After some discussion with @ioannisg it may be that we are doing this test correctly but that the original test/nordic board exhibited a different behavior because of #36278

[2021-06-24 15:09] kevin0402 commented on #36266
My understanding is if remote TCP server is unreachable (e.g. IP address is wrong) and TCP client in Zephyr is keeping retry to connect, then Zephyr will crash.
If this is true, it would be an serious issue in TCP2 stack especially we are working toward to v2.7 LTS release.

[2021-06-24 15:29] #36304 closed

[2021-06-24 15:30] #36314 closed

[2021-06-24 15:37] vandita5 opened #36524 "HSE clock doesn't initialize and blinky doesn't run on custom board when moving from zephyr v2.3.0 to v2.6.0"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
Our applications and custom boards are currently based off of zephyr-v2.3.0 (tag). We are looking to upgrade to zephyr-v2.6.0 to avail some improvements made recently and since 2.3.0. The custom board was based off of [nucleo_f429zi board from zephyr-v2.3.0](https://gi

[2021-06-24 16:58] vandita5 commented on #36524
additional comment - I'm able to build and run the samples and some of our custom apps for the nucleo_f429zi board and run them as well without issues. It's jsut the cusotm board which isn't working so my guess is that I've missed some essential changes to upgrade the board files.

[2021-06-24 18:36] erwango commented on #36524
@vandita5 Can you provide the working Kconfig configuration you were using for clock in V2.3.0?

[2021-06-24 20:25] vandita5 commented on #36524
Hey Erwan, I looked through the original config and realized that we didn't want to bypass the hse clock anymore (as it basically bypasses and uses the clock from the stlink on the nucleo baord). I removed that part from the dts definition and the code runs now. Thanks for your question resulting in that finding. :)

I am still missing some config on my board as I was trying to run echo_server and

[2021-06-24 20:31] vandita5 commented on #36524
I also get this exception whenever I try to debug any app with vscode
<img width="1387" alt="Screen Shot 2021-06-24 at 4 30 49 PM" src="https://user-images.githubusercontent.com/6642393/123328479-9cfa3f80-d509-11eb-9dfe-bf824fa51dd7.png">

[2021-06-24 21:01] vandita5 commented on #36524
I made two changes that helped run echo_server sample.
1. I added these to the dts file
[code]
2. I added `CONFIG_CUSTOM_BOARD=y` to the board's defconfig file. This basically hacks `CONFIG_ETH_STM32_HAL` to y similar to [here](https://github.com/zephyrproject-rtos/zephyr/blob/zephyr-v2.3.0/boards/arm/nucleo_f429zi/Kconfig.defconfig#L16).
this config has been changed to be enabled only if a compat

[2021-06-24 21:47] protobits opened #36531 "msgq: support overwriting oldest element on put() or at least discard it"
**Is your enhancement proposal related to a problem? Please describe.**
I would like to use a message queue to pass time-dependant data in a publish-subscribe framework
between threads. This would involve support for overwriting the oldest message in the
queue when a newer one arrives and the queue is full (since keeping the oldest element is less important than
receiving the newer one).

**Descri

[2021-06-25 02:54] dleach02 commented on #36078
I have this board

[2021-06-25 05:12] nwsetec commented on #36381
Hi Vich, we've done some testing with #36515 and have observed `ASSERTION FAIL [evdone] @WEST_TOPDIR/zephyr/subsys/bluetooth/controller/ll_sw/nordic/lll/lll.c:353` but not yet the `ull_conn.c` assert.

[2021-06-25 05:24] cvinayak commented on #36381
Hi Nick, ok I will focus on the lll.c assert. Can you share the BT HCI core debug (`CONFIG_BT_DEBUG_HCI_CORE=y`) logs until the assertion? (i.e. if you can reproduce it again, you can email me, if that is convenient).

Also, describe the steps to reproduce (or the order of operations performed by the implementation and the peers).

(You may have discovered a rare race condition, I would need as mu

[2021-06-25 06:18] cvinayak commented on #36381
From slack:

He had one connected and was in the process of connecting another and roughly around that time the assert happened
Also, as per GitHub request I'll create a log shortly...
vich: Ok, as the assert is around connection establishment, then I am confident the issue is related to #30245.
Nick Ward: Would you still like the log?
vich: No, not necessary. As a short term workaround you can in

[2021-06-25 07:13] gabbas1 opened #36540 "LoRaWAN otaa.app_key belongs to mib_req.Param.AppKey"
Hey,

I think there is an error here:
https://github.com/zephyrproject-rtos/zephyr/blob/c68054c9e51982f6818b8982217cfb3056617443/subsys/lorawan/lorawan.c#L228

I guess it should be:

[code]

Because before we already set the JoinEUI:

[code]

Can someone confirm? @Mani-Sadhasivam

Best,
Sebastian

[2021-06-25 07:26] erwango commented on #36524
The compatible device is actually 'mac'.
So that's what you're actually doing here:
[code]

So this should enable `CONFIG_ETH_STM32_HAL=y` w/o requiring additional modification.
Can you confirm this is the case ?

[2021-06-25 07:37] Laczen opened #36541 "Unified way for zephyr image configurations"
## Introduction

During the Zephyr Developer Summit there was a live session describing the problems for generating zephyr images for different layouts on a flash device. There is a need for new developers to get a quick functional test setup but also it is needed to take into account more advanced usages including e.g. bootloaders. It would be desirable to support multiple configurations in one d

[2021-06-25 07:40] Laczen commented on #36541
@JordanYates, @mbolivar, @galak, @nvlsianpu, @carlescufi, @ioannisg, @erwango.

@JordanYates, this would also allow to reserve a region inside an image for special purposes.

[2021-06-25 08:48] erwango commented on #36471
@nandojve, @MaureenHelm, @ioannisg, @dcpleung, @tbursztyka, @galak, @aurel32

I think this point deserves some alignment so we can offer a workable solution for M7 users that'd like to use DMA & USERSPACE.

[2021-06-25 08:50] stoberblog opened #36543 "LoRaWAN - Provide method to register a battery level callback"
**Is your enhancement proposal related to a problem? Please describe.**
The LoRaWAN standard allows the battery state of charge (0-100% represented by 1-255) to be sent in the MAC section of the transmission. The library used by Zephyr supports this, however the sub-system setup within Zephyr has the callback set to NULL (see $(ZEPHYR_BASE)/subsys/lorawan/lorawan.c line 480
`macCallbacks.GetBatter

[2021-06-25 08:56] koffes commented on #36256
So, the issue is that https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/nrf5340dk_nrf5340/nrf5340_cpunet_reset.c#L44-L45
Gives pin 10 to the NET core if NET is enabled. This used to make no difference, as this was overwritten. Though, with this change in nrfx: https://github.com/zephyrproject-rtos/hal_nordic/blob/master/nrfx/hal/nrf_gpio.h#L580-L592
this information is retained and

[2021-06-25 09:17] KKopyscinski opened #36544 "RFC: API Change: Bluetooth: Read Multiple"
### Problem description

Currently, if GATT Read Multiple is used, at first host tries to use GATT Read Multiple Variable Length. If `Not Supported` error is returned, host will try again using GATT Read Multiple. This makes both certification tests problematic, and is not most efficient.

### Proposed change

As in Pull Request https://github.com/zephyrproject-rtos/zephyr/pull/36281

### Detailed

[2021-06-25 11:47] vla3913 commented on #25046
Great ! Thanks for you feedback. we are going to try this out.

[2021-06-25 12:20] nwsetec opened #36552 "Bluetooth v2.6.0 connectable advertising leak/loss"
**Describe the bug**
While resolving the causes of two Bluetooth asserts described in issue: https://github.com/zephyrproject-rtos/zephyr/issues/36381 we uncovered another issue.  We have up to 4 mobile/phone devices connected and bonded to our Zephyr device which is acting as a Bluetooth peripheral.  After connecting all four mobile devices and then disconnected and reconnected each device a few

[2021-06-25 12:40] gabbas1 opened #36553 "LoRaWAN Sample: `join accept` but "Join failed""
Hey Guys, @Mani-Sadhasivam

I am using the lorawan example (OTAA) and successfully can send a `join request` from the transceiver (Semtech SX1276 controlled by a nRF52840-dk). My LoRaWAN-GW receives the request and responds with a `join accept` (See pictures).

![grafik](https://user-images.githubusercontent.com/51380897/123423134-739beb00-d5bf-11eb-8fd3-092ceba2dfa0.png)
![grafik](https://user-im

[2021-06-25 12:48] cvinayak commented on #36552
@nwsetec Do you use `bt_conn_ref` and `bt_conn_unref` in your application?

Also the logs you gave me has lot of dropped messages, you will need to increase the logging buffer size and provide me something where HCI commands issued by host is present.

[2021-06-25 13:00] joerchan commented on #36552
The HCI_CORE debug log might be a bit verbose. Since we are only interested in advertising debug logs we could limit the debug log by commenting out  `#define BT_DBG_ENABLED IS_ENABLED(CONFIG_BT_DEBUG_HCI_CORE)` at the top of `subsys/bluetooth/host/adv.c`.

@jhedberg Should we create additional debug configurations for adv.c/scan.c/id.c (possibly others) after we split up hci_core.c?

[2021-06-25 13:03] cvinayak commented on #36552
@nwsetec yes, if you can manage to get only the debug logs from host adv.c, that should suffice.

[2021-06-25 14:04] ArneJoris commented on #36496
The KConfig for the central is:
[code]

[2021-06-25 14:23] vandita5 commented on #36524
@erwango That is correct. I believe there's something up with my debug setup. I wouldn't receive data if a debug session was runnign on vscode. Flashing the board and then closing the debug session helped the app run fine and data was available at the client.
The board also doesn't get flashed with west flash and I am being forced to use vscode right now. This is a new setup on a mac so it's possi

[2021-06-25 15:07] erwango commented on #36524
@vandita5 Thanks for the heads up.
It seems that initial point is closed and we're into something new now.
Would you mind closing the point and open a new point for clarfity (if required) ?

[2021-06-25 15:44] vandita5 commented on #36524
@erwango Sure thing. I'll find more info on my debug setup and create an issue if neeed. Thanks for your help with this!

[2021-06-25 15:45] vandita5 commented on #36524
Resolved by changing clock config to amtch the board and defining ethernet mac device in dts.

[2021-06-25 15:45] #36524 closed

[2021-06-25 17:47] dleach02 commented on #36427
@hakehuang, I'm not able to reproduce this failure.

[2021-06-25 18:18] palchak-google opened #36558 "Use of CMAKE_<lang>_COMPILER_FORCED on host-builds flag breaks third-party libraries"
**Describe the bug**
When building for the "native_posix" target using the "host" toolchain, it's possible to use third-party libraries (e.g. unit test frameworks). Many such frameworks provide CMake build files, and some rely upon CMake's idiomatic, portable  `target_compile_features()` function to ensure the compiler supports all the necessary language features.

Zephyr's build system unconditio

[2021-06-25 18:55] rahav commented on #32875
Thanks @luizvilla! this is very interesting. Did you consider Contiki?

[2021-06-25 20:35] dleach02 commented on #36419
These test cases fail because the underlying ethernet driver does not support api->get_config(). Searching the code base there are only two drivers that support this so I'm curious what targets are actually run against this particular test suite.

I'm going to submit a PR to skip the problem test cases if the underlying management function returns ENOTSUP.

[2021-06-25 21:19] ArneJoris commented on #36496
I can work around the problem by setting CONFIG_BT_BUF_EVT_RX_SIZE=255.

[2021-06-25 22:29] yerabolu opened #36565 "ehl_crb: Only boot banner is printed but not the test related details for multiple tests due to PR #36191 is not backported to v2.6.0 release"
**Describe the bug**
PR #36191 is not backported to the V2.6.0 release. Due to the missing fix, after any test is run we get the boot banner but not the test-related details.

What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. twister -W -p ehl_crb --device-testing --device-serial /dev/ttyUSB0 -T tests --west-flash=/home/ztest/EHL_X86_PX

[2021-06-26 09:46] chyu313 opened #36568 "net: lib: sockets: Assertion fails when zsock_close()"
**Describe the bug**
When testing TCP stack with TCP client connecting to TCP server, assertion fails as following:
[code]
Here is how it goes:
1. ```tcpclient thread``` socket connects to tcpserver socket with accepted fd=2
2. ```tcpserver thread``` calls zsock_close(fd=2)->z_impl_zsock_close()->k_mutex_lock(&fdtable[2].lock), then calls z_free_fd(2), and then context switch
3. ```tcpclient threa

[2021-06-26 12:51] nashif opened #36569 "'.. only:' is not working as expected in documentation"
**Describe the bug**

We do have this role based content in our documentation that stopped working:

[code]

The published documentation does not have any of the variants.

**To Reproduce**

check published docs and compare with source

**Expected behavior**

Need one variant at lease published

**Impact**

There is no way for us to create content based on the desired output, for example with

[co

[2021-06-26 13:56] nashif commented on #36569
removing eager_only extension makes this work again, not sure what did break. Maybe `only` implementation in sphinx has changed and the extension is not compatible anymore?

@pfalcon  FYI

[2021-06-26 14:59] nashif opened #36570 "Use a custom role for Kconfig configuration options"
**Is your enhancement proposal related to a problem? Please describe.**
We are misusing :option: to mark and reference Kconfig options. This role is for command line options and not for configuration options. If you look at https://docs.zephyrproject.org/latest/genindex-C.html you will see that it is being indexed as command line options in a very user unfriendly way.

**Describe the solution you'

[2021-06-26 14:59] nashif commented on #36570
@gmarull @carlescufi  FYI

[2021-06-26 15:52] fabiobaltieri opened #36571 "LoRa support for random DevNonce and NVS stack state storage"
Hi, picking up from https://github.com/zephyrproject-rtos/zephyr/pull/35892#issuecomment-868849871, with the recent LoRaWAN stack update, the DevNonce default went from random to sequential (https://github.com/zephyrproject-rtos/loramac-node/commit/ff05e9b6a16ee9aebbcee613532e1eb2f0df6716). That is fine on production application, where the application also implements non volatile state storage, bu

[2021-06-26 16:16] chyu313 opened #36572 "kernel: Negative mutex lock_count value"
**Describe the bug**
In z_impl_k_mutex_unlock(), ```mutex->lock_count``` value can becomes ```-1``` when executing the following code piece if mutex->lock_count is zero before decrement.
[code]
This code segment should be changed to
[code]
**To Reproduce**
Run the following application with native_posix, with options: -DCONFIG_ASSERT=n -DCONFIG_NO_RUNTIME_CHECKS=y -DCONFIG_NET_LOOPBACK=y -DCONFIG_

[2021-06-27 02:16] cvinayak commented on #36496
HCI fragmentation of advertising reports is not implemented. This is something to be consider after chaining support is completed.

[2021-06-27 08:31] maweicoltsmart opened #36575 "Modbus RTU Client on ESP32"
**Describe the bug**
Make the following modifications to the esp32.dts file:
delete file zephyr\samples\subsys\modbus\rtu_client\app.overlay
[code]
make and flash：west build -b esp32 samples\subsys\modbus\rtu_client

After the program runs, Frequently call cb_handler_tx(ctx);.
File: modbus_serial.c
Function: uart_cb_handler
Endless loop:

[code]

[2021-06-27 08:34] nwsetec commented on #36552
@cvinayak no use of `bt_conn_ref` and `bt_conn_unref` in our application code.

We did recently upstream this commit into Zephyr: https://github.com/zephyrproject-rtos/zephyr/commit/c9fd7a6099c4fad73014aaf0ce364996afbba9e6 but `bt_conn_ref` and `bt_conn_unref` should be handled correctly inside of `bt_conn_foreach`.

[2021-06-27 10:37] nwsetec commented on #36552
[host_adv.log](https://github.com/zephyrproject-rtos/zephyr/files/6721421/host_adv.log)
So In this log CONFIG_BT_DEBUG_LOG=n and CONFIG_BT_DEBUG_HCI_CORE=n and I modified host/adv.c like this: ` #define BT_DBG_ENABLED true//IS_ENABLED(CONFIG_BT_DEBUG_HCI_CORE)`
Mid way through the log I could only connect any 2 of the 4 mobile devices but not the full 4 that I could at the beginning.

[2021-06-27 11:43] nwsetec commented on #36552
[RTT_Terminal_202106272133.zip](https://github.com/zephyrproject-rtos/zephyr/files/6721500/RTT_Terminal_202106272133.zip)
[RTT_Terminal_202106272138.zip](https://github.com/zephyrproject-rtos/zephyr/files/6721506/RTT_Terminal_202106272138.zip)
These were the two best logs I could get by the end of the each log only 1 device could connect instead of 4.

[2021-06-27 13:32] chyu313 opened #36578 "net: ip: Assertion fails when tcp_send_data() with zero length packet"
**Describe the bug**
When testing TCP stack, assertion fails as following:
[code]
The flow of this failure is:
```tcp_work thread``` -> tcp_resend_data() -> tcp_send_data()
[code]
-> tcp_out_ext() -> net_pkt_append_buffer(pkt, data->buffer=```NULL```) -> net_buf_frag_insert(..., buffer=```NULL```) -> _ASSERT_NO_MSG(frag) -> ```ASSERTION FAIL```

**To Solve**
Don't proceed if TCP resend length is z

[2021-06-27 15:07] #36419 closed

[2021-06-27 15:08] hakehuang commented on #36427
@dleach02 , let me double check it on latest code base.

[2021-06-28 01:11] cvinayak commented on #36552
I see `<dbg> bt_adv.bt_le_adv_resume: Host cannot resume connectable advertising (-12)`  which indicates host exhausted connection contexts.

[2021-06-28 01:29] cvinayak commented on #36552
In these logs I see `<dbg> bt_hci_core.hci_cmd_done: opcode 0x200a status 0x00 buf 0x2000da70` on all attempts to use the HCI LE Advertising Enable command. There is no error from the Controller, and suspect the Host to have not attempted to resume advertising. Refer to my previous comment.

[2021-06-28 02:59] maweicoltsmart opened #36580 "ESP32 adds support for OTA"
I want ESP32 to download firmware and upgrade via HTTP. Is there any plan to support OTA?

[2021-06-28 07:09] joerchan commented on #36048
@Thalley So what can be done about this? Should we just handle the it when the events comes in the unexpected order? Or should we raise an issue with specification on this?

[2021-06-28 08:08] Thalley commented on #36048
Excellent question :D

Based on the specification, the there's no explicit order, and while there's a recommended order (described by a `should`), there's an MSC showing the ACL disconnect event coming first.

One interesting part is that the controller that causes this issue considers the ISO connected when it sends the ACL disconnect to the host, which I think is arguably wrong for them to do (t

[2021-06-28 09:05] erwango commented on #24686
@alexanderwachter I've raised this long time ago. Do you think is it still required or we can just close it ?

[2021-06-28 10:40] lord-potato opened #36590 "NVS sector size above 65535 not supported"
I'm running the NVS sample with an SPI NOR flash (Cypress S25FL512S), and the flash device returns 65536 as page size. The NVS api requires the sector size to be a multiple of page size, but the NVS sector size is stored in uint16_t. I could get it to work by changing the nvs_fs struct, so that the sector_size member is uint32_t.

Without the change, NVS sector size would overflow, and eventually

[2021-06-28 13:15] #36465 closed

[2021-06-28 13:17] gmarull commented on #36569
Why do we need the `eager_only` extension? Does documentation build fine without?

[2021-06-28 13:38] vaussard opened #36593 "Failing IPv6 Ready compliance (RFC 2460)"
**Describe the bug**
Our product is required to comply with a subset of the IPv6 Ready program (only part of Section 1 for RFC 2460) due to some regulatory constraints. I saw some old closed tickets related to that topic (for example #2333 and #3316), and I know that some compliance testing was performed in the past using Maxwell Pro, but could not find any meaningful public information regarding

[2021-06-28 13:57] nashif commented on #36569
builds fine, I think as a first step we should just remove it.

[2021-06-28 14:13] chen-png commented on #32111
got the same issue on windows with the latest main branch  aec4c4977dbccef2

[2021-06-28 14:30] galak commented on #36270
`_ns` sounds good to me as well.

[2021-06-28 14:32] Laczen commented on #36590
Hi @lord-potato, thank you for reporting this. A sector size of 2^16 is indeed not supported by nvs, increasing the sector-size to a uint32_t is however not a good idea.

On flash the adres of a data item is limited to a uint16_t, supporting a uint32_t would increase the storage requirements. Your case is exactly on the border that could be supported, but it would require a different approach: ins

[2021-06-28 15:06] chen-png commented on #32111
waiting for the "infinite loop with Re-running CMake" and it will report an error as below finally:
**ninja: error: manifest 'build.ninja' still dirty after 100 tries**

then run the command "ninja -C build -d explain" to get details, it reported
**ninja explain: output build.ninja older than most recent input C: (6465940461028307 vs 6465940461816204)**

it seems that ninja will always judge the b

[2021-06-28 15:12] fcgdam opened #36598 "Lora driver TX done wait/synchronous call"
**Description of the problem:**

Hi: This problem/issue is related to the Lora radio driver, not Lorawan support.

So, one issue with the sx127x radios is they can not be programmed while a RX or TX operation is in progress. While for RX the issue does not exist since the driver thread will block until the RXDone callback is called, the same is not true for TX.  This means that sending data return

[2021-06-28 15:47] XavierChapron opened #36600 "Bluetooth: Peripheral: Bond issue when using secure connection"
**Describe the bug**
When using `peripheral_sc_only` sample on `nrf52832_mdk`, the first connection from Android `nRF Connect` application work, but the second always fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Build and flash `peripheral_sc_only` sample on `nrf52832_mdk`
2. Connect with `nRF Connect` application
3. Retrieve all characteristics using `Read characteristics` button

[2021-06-28 16:02] XavierChapron commented on #36600
I've also try to disable bonding by setting `CONFIG_BT_BONDABLE=n` but this doesn't change anything.

[2021-06-28 16:43] nickstoughton opened #36601 "Add input support to audio_codec"
**Is your enhancement proposal related to a problem? Please describe.**
The current APIs for audio codecs contain only support for output, e.g. `audio_code_start_output` and `audio_codec_stop_output`.

**Describe the solution you'd like**
Add APIs to support input through audio codecs. These can largely mirror the output functions, enums etc. Additional channels for input will need to be defined

[2021-06-28 18:17] #28312 closed

[2021-06-28 21:18] nandojve commented on #34971
I think it is clear that we have two things here:

1) hal_gigadevice
2) NMSIS

In case of [1]

I would said that we should create a hal_gigadevices. The majority of manufacturers that are supported on Zephyr have their own hal to help. Native drivers are ideal and requires a deep knowledge about both side ( manufacturer IPs and Zephyr driver model ) and HW to test. A driver that manufacturer provi

[2021-06-29 00:11] #36520 closed

[2021-06-29 00:28] #34259 closed

[2021-06-29 00:56] vandita5 opened #36606 "Regression in udp socket performance from zephyr v2.3.0 to v2.6.0"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?
When moving from zephyr v2.3.0 to zephyr v2.6.0, I see worsening of performance for udp network stack.
Description of the test I'm running:
I'm using an app modified from echo_server sample, with only ipv4 udp sockets running. This modified app waits for a message from

[2021-06-29 00:58] vandita5 commented on #36606
@jukkar tagging you to see if you've seen similar performance with new zephyr v2.6.0. please let me know who I could reach out to instead if you're not the right person for this. thanks!

[2021-06-29 01:40] ycsin opened #36608 "Unable to compile USB console example with uart_mux"
**Describe the bug**
Unable to compile USB console example with uart_mux enabled. Compiler complaining repeated variable declaration by  [cdc_acm.c](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/usb/class/cdc_acm.c#L1104) & [uart_mux.c](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/console/uart_mux.c#L881)

[code]

**To Reproduce**
Steps to reproduce the behavior:

[2021-06-29 01:43] ycsin commented on #36608
Pinging codeowners @jukkar @jfischer-no

[2021-06-29 01:54] dleach02 commented on #36427
Any update @hakehuang ?

[2021-06-29 02:47] santa-kr commented on #33910
I have still problem..
I don't use usart1 port as debug as if you can see the above device tree.
We have changed it to uart0.

**I have another problem when I am using i2c data transfer.
When reading 256 bytes of EEPROM data with i2c, data is not normally received in i2c Read Buffer.**

Data 0x7F is stored in the last position of EEPROM.
So I expect 0x7F when I read last position.
But I could not

[2021-06-29 04:37] allen-k-liu opened #36609 "could not mount fatfs on efm32pg_stk3402a"
**Describe the bug**
What have you tried to diagnose or workaround this issue? I just printout message after f_mount called in fatfs_mount.
Vstatic int fatfs_mount(struct fs_mount_t *mountp)
{
	FRESULT res;

	res = f_mount((FATFS *)mountp->fs_data, &mountp->mnt_point[1], 1);
	printf("fatfs_mnt: fs_data %p, mp[0]: %s; res = %d\n", mountp->fs_data, mountp->mnt_point, res);

**To Reproduce**
Steps to

[2021-06-29 05:01] cvinayak commented on #36381
@nwsetec Please confirm that with the work around of `EVENT_DONE_MAX` set to 4, you are able to mitigate the lll.c assert, right?

Both this current issue #36381 and #30245 will be kept open until the fix is upstreaned.

[2021-06-29 05:03] cvinayak commented on #30245
Increased to high priority as issue could be the cause of the #36381

[2021-06-29 05:56] ballardr opened #36613 "LoRaWAN - Provide method to register a callback for received data"
**Is your enhancement proposal related to a problem? Please describe.**
LoRaWAN is intended to allow downstream payloads being sent from the LoRaWAN server. However, it seems this has not been implemented yet in zephyr. See lines 101-107 of  $(ZEPHYR_BASE)/subsys/lorawan/lorawan.c
[code]

**Describe the solution you'd like**
Similar to issue #36543, this should probably be implemented with a __wea

[2021-06-29 05:57] ballardr commented on #36613
@Mani-Sadhasivam I think you are the main contributor for the LoRaWAN subsystem so this may be you?

[2021-06-29 06:23] nwsetec commented on #36381
@vich yes, confirmed, I made the modification here: https://github.com/nwsetec/zephyr/commit/a806dc1d0b5f8c799f464578387145bde7221efb
with the other commits from https://github.com/zephyrproject-rtos/zephyr/pull/36515 cherry picked in as well and I no longer see any asserts.

[2021-06-29 06:57] hakehuang commented on #36427
passed on zephyr-v2.6.0-560-ga6cc3f1838

[2021-06-29 06:57] #36427 closed

[2021-06-29 07:26] emillindq commented on #35711
@rlubos sorry for late reply! Unfortunately I've been busy for the past two weeks with critical stuff needed to be done prior vacations...

I can definitely look at it, but as for testing I feel that there's a gazillion amount of cases that would be needed to be tested to make sure I didn't break something. I know about zephyr/tests/net/socket/tls/ but this doesn't seem exhaustive since it doesn't

[2021-06-29 07:46] jukkar commented on #36606
v2.3 is quite old already and there has been changes to network stack regarding v2.6. Some of the changes should improve the latency in TX side, like not creating TX thread and using k_fifo instead of k_work. But it is certainly possible that some other change is causing bigger slowdown between these two releases. Are you able to bisect this by running your workload in 2.4 and 2.5 releases? Then i

[2021-06-29 10:09] jukkar commented on #36593
The TAHI excercice was long time ago, and if I recall correctly, there was lot of work to make it work properly and it was abandoned eventually. Then we tried the Maxwell Pro and got better progress with it. Last Maxwell Pro tests were run something like 2 years go so my memory might be wrong here but there ware some tests that we were not able to run successfully because of the test setup etc. Bu

[2021-06-29 10:11] jukkar commented on #36593
BTW, for any certification work etc, I would always recommend latest release, in this case 2.6. Bugs etc are fixed in newer releases and you hopefully would be able to avoid extra work backporting patches etc.

[2021-06-29 10:27] pfalcon commented on #36569
I wrote that extension quite some time ago for a particular project, which no longer uses it, and I didn't use it for a bunch of time either. So, I'm not sure about status of it. Of course, if needed, I can look into it. Otherwise, if there's an idea that it might not be needed any longer, that may be a good way too.

[2021-06-29 10:58] lmaciejonczyk commented on #30429
I've added option to properly handle the USB connection after resetting RCP/NCP device for OpenThread and wpantund. More about this functionality here: https://github.com/zephyrproject-rtos/zephyr/commit/4500862af13f4340a08c00e5cb078be2d5c6f39d and here: https://github.com/nrfconnect/sdk-nrf/pull/4121

[2021-06-29 12:08] nandojve commented on #33910
Maybe, I expressed myself wrong:

[code]

Let me know if problem continue.

[2021-06-29 12:22] vaussard commented on #36593
Thank you for your feedback @jukkar

I went through the test cases and the wireshark captures that we received from the testing facility. I did a quick run-down of the 16 failures as follow:

- 4 test cases expected a ICMPv6 Parameter Problem as answer to a bogus IPv6 packet, but none sent by the target
- 8 test cases expected a ICMPv6 Parameter Problem as answer to a bogus IPv6 packet, and a ICMP

[2021-06-29 12:42] mnkp commented on #33910
As @nandojve has mentioned you shouldn't enable resources that you're not using. If USART1 is enabled in DTS the driver instance will be initialized during system boot and USART1 pins connected to the module. In your case however, luckily, twihs1 driver instance is initialized after usart1 (assuming you didn't change the default initialization priorities) so the pins get connected to twihs1.

I be

[2021-06-29 12:45] mnkp commented on #33910
As for the second issue
[code]
In the above code you're accessing out of bound array index. The array has 256 elements but you are accessing the 257-th element.

[2021-06-29 13:15] #34131 closed

[2021-06-29 13:18] rlubos commented on #35711
`zephyr/tests/net/socket/tls_ext` verifies the TLS handshake/data exchange, it uses loopback interface. Unfortunately it only supports TLS, no DTLS, so it'd be a little help in this case.

For basic testsing, I typically use the `echo_client/server` samples, built with `overlay-tls.conf`, running against each other. In default configuration they exchange both TLS and DTLS packets. This particular

[2021-06-29 14:03] niflostancu commented on #35870
I've encountered this as well with my projects (using the ARM Cortex-M arch) and I would like it fixed.

The actual cause is that there are many separate files defining the `z_interrupt_stacks` extern symbol:
- [kernel/include/kernel_internal.h](https://github.com/zephyrproject-rtos/zephyr/blob/98f879bad65b5d593858dd281fdab8d7cd0d7f87/kernel/include/kernel_internal.h#L155);
- other includes / modu

[2021-06-29 14:14] jukkar commented on #36593
Some of the bogus packets are dropped quite early without any icmpv6 reply. These should be quite trivial to fix.

Currently IPv6 fragmentation is off by default, just set `CONFIG_NET_IPV6_FRAGMENT` to enable it.

[2021-06-29 14:19] vandita5 commented on #36606
@jukkar That is useful info. Thanks! I do see a difference in the threads created (no tx_workq for v2.6) but was surprised by the tx time being higher. Do you have any suspiscions on what these changes could be that are causing a worse performance?

Yes, I can run a similar test on the other releases. Do you think this test is a good check for performance? For us, achieveing ~12-14Mbps at cpu util

[2021-06-29 14:26] #36570 closed

[2021-06-29 14:51] #36408 closed

[2021-06-29 15:14] rlubos commented on #36606
I think it would be good to figure out first, whether the decreased performance is due to changes in the network stack itself, or rather the ethernet driver you use. From the screenshots I assume it's eth_stm32 driver, and there seems to be quite a lot of activity since v2.3.0 (see https://github.com/zephyrproject-rtos/zephyr/commits/v2.6.0/drivers/ethernet/eth_stm32_hal.c, commits after May). Spe

[2021-06-29 15:24] nageshshamnur opened #36625 "compilation fails while building samples/net/openthread/coprocessor for Arduino nano 33 ble"
**Describe the bug**
compilation error when trying to build openthread/coprocessor as explained in the page:https://docs.zephyrproject.org/latest/samples/net/openthread/coprocessor/README.html for arduino nano 33 ble

**To Reproduce**
Steps to reproduce the behavior:
1. ```$ west build -p auto -b arduino_nano_33_ble samples/net/openthread/coprocessor -- -DCONF_FILE="prj.conf overlay-rcp.conf"```
2

[2021-06-29 16:03] allen-k-liu commented on #36609
I'm sorry that I used modified version for zyphyrproject. Now I used earlier version:
al@al-ThinkPad-T480s:~/f_mount_rep/zephyrproject/zephyr$ git log
commit 20896ba1e09a3042edb953dc25750ba3405502c1 (HEAD)
Author: Anas Nashif <anas.nashif@intel.com>
Date:   Thu May 13 06:05:01 2021 -0400

    thread analyzer: fix formatting for unsigned int

    On 64bit systems, this was issuing warnings due to w

[2021-06-29 16:08] aurel32 commented on #36598
You probably want to have a look at this PR, which solves that: https://github.com/zephyrproject-rtos/zephyr/pull/36577

[2021-06-29 16:58] vandita5 commented on #36606
@rlubos that's a good suggestion. I tried that kconfig option and see that while the tx workq time (time spent by ethernet hal to send data) has also increased ~47% (from 0.855ms to 1.26ms), the time in the `send` function has increases by around 150% (0.855ms to 2.19ms). I'll look through the commits as well.
Next, I'll try older versions v3.4 and v3.5 as @jukkar suggested.
Does this regression s

[2021-06-29 17:06] dcpleung commented on #35870
#35893 should fix this.

[2021-06-29 17:13] lord-potato commented on #36590
That would indeed solve this exact problem, but I think you might be right saying this big of a flash deserves a proper file system.

I have potentially found another problem, since according to the [datasheet](https://www.cypress.com/file/177971/download), the flash should have an erase sector size of 256KB, but flash info shows 64KB sectors.

[2021-06-29 17:19] nashif commented on #36565
PR backported to 2.6 and merged

[2021-06-29 17:19] #36565 closed

[2021-06-29 17:27] sylvioalves commented on #36575
@maweicoltsmart Can you inform which esp32 board you have been working with?

[2021-06-29 17:55] Laczen commented on #36590
@lord-potato, there seems to be different versions, some of them have a erase sector of 64kB. But there seems to be some inconsistency in the datasheet (talking about FL-S with 128Mb/256Mb).

If you really intent to use nvs a quick fix would be to make sector-size uint32_t and then to limit it in init() to 2^16.

[2021-06-29 17:56] vaussard commented on #36593
Thank you for the pointers.

I was able to quickly reproduce the first failing case (multiple hop-by-hop options) using `samples/net/eth_native_posix/` and a bit of Python script (since running TAHI is another story). This case is handled in `net_ipv6_input()`, but replacing the `goto drop;` by `goto bad_hdr;` does not seem sufficient. But this could be due to my hurried testing, I will investigat

[2021-06-29 18:03] lord-potato commented on #36590
Yeah, the datasheet is a bit confusing. I think I'm going to go forth using a proper file system, and leave NVS alone until I'm working with a much smaller flash.

Thanks for your time!

[2021-06-29 18:03] #36590 closed

[2021-06-29 19:54] dleach02 commented on #36418
@jukkar, is this test case also expected to only run on a simulated environment? When we run this on hardware it seems to just hang for me in test_tls_peer_verify_optional

[2021-06-29 20:17] dleach02 commented on #36606
@vandita5 I believe Jukka is recommending you use 'git bisect' to see if you can locate a particular change between 2.3 and 2.6 where the performance shifted in your environment. The 'git bisect' will do a binary search to find the commit that most impacted your performance.

The flow would be:

[code]
on each step, just make sure you do a 'west update' to ensure the modules are in sync with the S

[2021-06-29 21:20] novalisek opened #36631 "Turn on GPIO from DTS"
**Is your enhancement proposal related to a problem? Please describe.**
Hi, I would like to turn on GPIO from DTS, I need to turn/hold ON "enable" pin of DC/DC converter as soon as firmware starts

**Describe the solution you'd like**
To be able to use something like
[code]

When I try to add GPIO_OUTPUT_HIGH, I get DTS errors.

**Additional context**
I need this for MCUBOOT - I can turn on GPIO m

[2021-06-29 21:32] ceolin commented on #9552
But it seems that the features that people want to use is not allowed.

[code]

[2021-06-29 22:14] lgirdwood commented on #36088
@andyross I will try and run this on Qemu and see if we are programming different IP to SOF

[2021-06-30 00:25] nwsetec commented on #36552
Thanks @nashif

Yesterday I attempted a work around by using the `bt_le_adv_start()` API option `BT_LE_ADV_OPT_ONE_TIME` when advertising. Advertising was manually restarted in the connection and disconnection callbacks but this did not succeed as a work around and actually failed quicker.  After having 4 devices connected and at the disconnection of each device the advertising would fail to resta

[2021-06-30 01:33] andyross commented on #36572
Analysis looks correct to me, though it seems like the exerciser is needlessly complicated.  How about "If you try to unlock an unlocked mutex, it will incorrectly succeed and decrement the count to -1" as a description instead?

Care to submit the patch?  You already have the code above.

[2021-06-30 02:33] chyu313 commented on #36572
OK, I will submit a pull request later.

[2021-06-30 03:05] santa-kr commented on #33910
Thanks for your fast reply.

1) First issue : I2C-1 Operation
    I tried patch process as you mentioned to disable the function of SWO like below,
    MATRIX->CCFG_SYSIO |= CCFG_SYSIO_SYSIO5;

    This is OK.
    I can access the remote device via i2c-1 interface.

    Thanks.

2) Second issue :  when using i2c, data is not normally received.
    I am sorry for disturbing your valuable time.

[2021-06-30 04:33] jli157 commented on #19713
@jfischer-no  Any updates for this issue?

[2021-06-30 06:31] jfischer-no commented on #19713
It is part of new USB device controller driver API, RFC PR will be opened soon.

[2021-06-30 06:32] jukkar commented on #36593
The count tells how many pending packets, waiting reassembly, can exists at one time. The amount of individual fragments is only determined how much you have allocated in the `CONFIG_NET_BUF_RX_COUNT`. The stack will not release the received net_bufs (fragments) until it is able to do the reassembly of the whole IPv6 packet or a timeout happens. Typically Zephyr based devices do not have much memo

[2021-06-30 06:59] jukkar commented on #36418
As a general note, all the tests under `tests/net` are meant to be running on a simulated environment. This means that even if running on a board that provides Ethernet for example, that onboard Ethernet is not used by the tests, because the tests do not test the Ethernet driver but the IP stack features, and we want to control both the rx and tx of the test data.

Not sure about the hang here, pe

[2021-06-30 07:59] rlubos commented on #27015
Resolved in https://github.com/zephyrproject-rtos/zephyr/pull/36549

[2021-06-30 07:59] #27015 closed

[2021-06-30 08:11] jhedberg commented on #36552
Sounds like the host has a bt_conn reference leak (assuming that the.application isn't using gone of the host APIs that gives the application a reference and the application fails to unref it at the appropriate time, however from the description it sounds like this is not the case).

[2021-06-30 08:48] rlubos commented on #36418
I think it must be something specific to that board, perhaps some configuration defaults. I'm not sure how verbose the output is (i.e. whether it'd inform about stack overflow), but for nRF devices, it was often the case that the default stack was too small when running on hardware. This particular test has no issues running on nRF52840 though (Cortex M4).

[2021-06-30 09:11] de-nordic commented on #35718
The problem is that the VFS layer sometimes directly returns error, defined by it's own actions and logic, and sometimes passes error from underlying system, with no translation.
The log messages after API calls are often the only indication that the error source is not the VFS layer, but it has been passed up from the file system driver.
When call to underlying API fails, this is actually error b

[2021-06-30 10:36] kumarnac commented on #36476
The HAL  is required for supporting  ehl_pse_crb board  (https://github.com/kumarnac/zephyr/pull/1)  in zephyr

[2021-06-30 10:53] emillindq commented on #35718
Alright this makes sense I guess, but at least it should be possible to do all file system operations without generating error if everything is working *as expected* (see example above with creating folder). Do you agree? With the omission of the LOG_ERR in `fs_stat` if file/folder doesn't exist as in PR then this becomes possible.

[2021-06-30 11:25] nageshshamnur commented on #36625
with further debugging found that, the following piece of code might not be supported by Arduino nano 33 ble which is also powered by nRF52840 SoC.

file: ./drivers/ieee802154/ieee802154_nrf5.c inside the function: nrf5_get_capabilities_at_boot( ) parameters --> ```NRF_802154_CAPABILITY_DELAYED_RX``` and ```NRF_802154_CAPABILITY_SECURITY```

file: ./drivers/ieee802154/ieee802154_nrf5.c function: f

[2021-06-30 12:03] rlubos commented on #36606
I did some testing on the HW I have (nRF52840 with 802.15.4 L2), with `CONFIG_NET_TC_TX_COUNT=1` and a custom app (a simple loop periodically sending UDP packet to the void). I do observe a 50% increased processing time of the `sendto()` function between 2.5.0 and 2.6.0 (I've measured system ticks, an average `sendto()` processing time increased from 10 to 15). I didn't observe any significant cha

[2021-06-30 12:29] #36569 closed

[2021-06-30 12:51] de-nordic commented on #35718
Yes.  I do agree.
I was actually going to log proposal to get rid of all log messages from the VFS layer, but this would require some rework in flie system drivers, the Zephyr layer.
Logging information from VFS is pointless, in my opinion, because it does not really help; user probably wants to log own messages, depending on results of `fs_*` functions or posix calls, so that just bloats logs.
Th

[2021-06-30 13:35] rlubos commented on #36625
Are your repositories in sync, i. e. did you call `west update`? The issue looks as if the radio driver you build with was outdated, I cannot reproduce the failure on the current master.

[2021-06-30 13:43] galak commented on #36631
@novalisek I think you just need in the board port that builds MCUBOOT to call `gpio_pin_set()`.

[2021-06-30 13:45] rftafas commented on #36580
We have a draft on MCUBoot support: https://github.com/mcu-tools/mcuboot/pull/1032

It should be possible to do HTTP update when that gets done.

[2021-06-30 13:51] maweicoltsmart commented on #36580
Great, I just want to update the firmware via HTTP.

--------------原始邮件--------------
发件人："Ricardo F Tafas Jr ***@***.***&gt;;
发送时间：2021年6月30日(星期三) 晚上9:45
收件人："zephyrproject-rtos/zephyr" ***@***.***&gt;;
抄送："maweicoltsmart ***@***.***&gt;;"Author ***@***.***&gt;;
主题：Re: [zephyrproject-rtos/zephyr] ESP32 adds support for OTA (#36580)
-----------------------------------

We have a draft on MCUBoot s

[2021-06-30 13:55] vandita5 commented on #36606
@rlubos thanks for testing on your end. I tested with just the releases as well, and saw similar results. All the above results were with our custom board which has similar performance to nucleo f429zi (both based on stm32f429zi). Here's what I've seen in summary with the different releases between v2.3 and v2.6

<img width="906" alt="Screen Shot 2021-06-29 at 5 16 31 PM" src="https://user-images.

[2021-06-30 13:55] #36606 closed

[2021-06-30 14:44] #23745 closed

[2021-06-30 14:45] fcgdam commented on #36598
Thanks, missed that on my search, but basically #36557 is spot on.

[2021-06-30 15:03] stephanosio opened #36644 "Toolchain C++ headers can be included when libstdc++ is not selected"
**Status quo**
The Zephyr build system does not specify `-nostdinc` argument when newlib is enabled (`CONFIG_NEWLIB_LIBC=y`):
https://github.com/zephyrproject-rtos/zephyr/blob/ae85da1c90b6bb824091dfe2960b6cf5b443aab2/cmake/compiler/gcc/compiler_flags.cmake#L115-L121

This has the effect of making the toolchain-provided standard headers (which includes newlib standard C library headers for the curr

[2021-06-30 15:03] stephanosio commented on #36644
cc @tejlmand @carlescufi @alexanderwachter

[2021-06-30 15:05] nageshshamnur commented on #36625
i had run ```west update`` earlier, but running again now seems to have solved my problem. Sorry for the trouble caused.

[2021-06-30 15:05] #36625 closed

[2021-06-30 15:08] mglettig opened #36645 "minimal libc: add strtoll and strtoull functions"
**Is your enhancement proposal related to a problem? Please describe.**
I'm using a Nordic NRF9160 chip. This supports AT_PARSER a lib which servers the built-in cellular modem using AT commands. Due to that fact that this lib needs strtoll and strtoull they added a dependency to newlibc. This dependency is new with the latest SDK that has a new version of AT_PARSER. Using newlibc is not possible

[2021-06-30 15:10] galak opened #36646 "sample.shell.shell_module.minimal_rtt fails to build on mimxrt1170_evk_cm4/mimxrt1170_evk_cm7"
`./scripts/twister -p mimxrt1170_evk_cm4 -p mimxrt1170_evk_cm7 -s samples/subsys/shell/shell_module/sample.shell.shell_module.minimal_rtt`

Fails as follows:

[code]

[2021-06-30 15:13] galak commented on #36646
Its possible we need some special handling for RT117x in:

`soc/arm/nxp_imx/rt/Kconfig.defconfig.series` for:

[code]

[2021-06-30 15:14] rlubos commented on #36625
No worries, it happens quite often if you're not used to using west.

[2021-06-30 16:22] yperess commented on #36644
Just to make sure (I saw that you self assigned this issue) I'll just update my PR to match the appropriate C++ standard and then wait for this bug to be resolved? I don't want to accidentally duplicate work.

[2021-06-30 16:37] lodup29 commented on #6450
@MaureenHelm I believe that the I2C driver model also suffers from the same issue as reported by @webhive. Yet, more than one instance of the same driver seems like a very comme use case on a given I2C bus.

[2021-06-30 17:11] photonthunder opened #36649 "Adding Clock and Clock Generator Options for atmel_sam0"
I am interested in improving the atmel sam0 drivers so they provide better ability to adjust the clock.  The challenge with this set of chips (I have worked on the samd21 and the samd51) is that you have a variety of clock sources (crystals, oscillators, DFLL, DPLL) that can run at a variety of frequencies and then you tie those to clock generators that can be connected to the different peripheral

[2021-06-30 17:13] stephanosio commented on #36644
@yepress As far as #36612 is concerned, I was expecting the new header files to be updated to comply with the C++ standard. If you would like to look into this issue as well, please let me know and I will update the assignment.

[2021-06-30 18:13] novalisek commented on #36631
@galak what do you mean by "board port"? I am just using my own  dts overlay. thanks

[2021-06-30 18:19] galak commented on #36631
You are building for some board correct?  How are you getting dcdc set right now?

[2021-06-30 18:24] novalisek commented on #36631
I am using nrf52dk_nrf52832 as base with my overlay.  In my firmware I normaly use `gpio_pin_set` to switch EN pin of external DCDC.
I would like the EN pin also to be switched automaticaly immediately when mcuboot starts (idealy without modifying bootloader\mcuboot\boot\zephyr\main.c)

[2021-06-30 18:29] galak commented on #36631
I'm not an expert w/regards to mcuboot, but its my understanding that the mcuboot build would pull in part of zephyr and I assume that includes some board code.  So in theory you should be able to add something in boards/arm/nrf52dk_nrf52832 that would call gpio_pin_set() and that should than happen in both mcuboot and zephyr.

[2021-06-30 18:30] galak commented on #36631
@de-nordic, @d3zd3z I'm guessing you might be able to answer @novalisek question better than I can.

[2021-06-30 18:30] #36631 closed

[2021-06-30 19:28] evgeniy-paltsev opened #36652 "deadlock in pthread implementation on SMP platforms"
I've bumped into deadlock with pthread when `pthread_join` never exit even after thread we wait finished.
Initially I've found with issue on HSDK board (ARC HS 4 cores) with real payload application, but I was able to reproduce it with simple test case on 4 cores nSIM ARC HS simulation board.

Here is test case - we never return from second `pthread_join` in level_2_thread. When we check CPUs - al

[2021-06-30 19:49] yperess commented on #36644
I've update #36612 to match the C++ style modeling it after the GNU cstdint file. It passes CQ now as well as our build with the custom toolchain. I'll let you know if I have some free cycles to work on this issue (I'm very interested in ensuring good support for C++).

[2021-06-30 22:32] GABS9718 commented on #36553
Hi @gabbas1 and @Mani-Sadhasivam,

I'm facing something similar. I can do the join in the network, but I dont receive the message back from the network server

![otaa1](https://user-images.githubusercontent.com/60732727/124039498-6d4fa980-d9d9-11eb-91bb-4432ec3d2464.png)

I'm also using the nrf52840 and SX1276 with the zephyr 5.0. and my location uses the settings from australia 915MHz. Below is m

[2021-07-01 02:34] wangnuannuan opened #36655 "twister: sometimes the twister fails because the error `configparser.NoSectionError: No section: 'manifest'`"
**Describe the bug**

Sometimes the twister  fails because the error `configparser.NoSectionError: No section: 'manifest'`
[code]
That's because the specific platform will call `west` command, which will try to modify the config file `.west/config`. Take `nsim_hs_smp` as example, the `twister` will call `west` command at https://github.com/zephyrproject-rtos/zephyr/blob/882600834e80d2d3d5db4e61d72

[2021-07-01 04:36] dleach02 commented on #36418
As @jukkar comments, these tests are designed for simulated environments. In this test case, we end up with two L1 devices; the K64f one and a dummy device. The issue is that I "think" that the bindings are being established on the real ethernet interface instead of the dummy device. I can't figure out how to force the socket to use the dummy interface... tried to use SO_BINDTODEVICE but not sure

[2021-07-01 06:10] tagunil commented on #36613
As far as I can tell, the downstream callbacks are already implemented in Zephyr 2.6.

[2021-07-01 06:43] vaussard commented on #36593
Thank you for the explanations.
So apart the timeout, I think that I configured correctly the firmware. I will test using the IPv6Ready packets to see what is going on.

[2021-07-01 07:22] ballardr commented on #36613
Ah yes, I didn't see that in the release notes (and have been using 2.5). Closing now

[2021-07-01 07:22] #36613 closed

[2021-07-01 07:30] nwsetec commented on #36552
That's right @jhedberg we're not using `bt_conn_ref` or `bt_conn_unref` in our application code.

Another issue we're experiencing in the project that I'd missed up until today is that if the Zephyr v2.6.0 based device is reset and an a mobile device connects (note it has previously been BLE bonded) the mobile app can read data and subscribe to notifications.  If the mobile app is closed and reope

[2021-07-01 08:01] maksimdrachov opened #36659 "samples/net/sockets small bugs"
**Describe the bug**
Some examples contain some small bugs.

_**samples/net/sockets/pocket
samples/net/sockets/tcp**_
![Screenshot 2021-07-01 at 09 56 51](https://user-images.githubusercontent.com/39975120/124087840-b1cb5b80-da52-11eb-9201-6d01281ddcff.png)
[code]
needs to be added to prj.conf for it to work

_**samples/net/sockets/echo_client**_
Doesn't work, can't figure out how to fix.
![image]

[2021-07-01 08:17] joerchan commented on #36552
@nwsetec It would be best to create a separate issue for that.

[2021-07-01 08:57] nageshshamnur commented on #30429
Hi @lmaciejonczyk : I am working on zephyr latest which includes the commit https://github.com/zephyrproject-rtos/zephyr/commit/4500862af13f4340a08c00e5cb078be2d5c6f39d but still the issue doesn't seem to work. More details about the issue that i am facing is here:
https://lists.zephyrproject.org/g/users/topic/issue_flashing_and_running/83894298?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,8389

[2021-07-01 09:05] hongshui3000 opened #36661 "xtensa xcc does not support "-Warray-bounds""
**Describe the bug**
warning：
[code]
code:
build\zephyr\include\generated\syscalls\atomic_c.h
[code]
zephyr\scripts\gen_syscalls.py
[code]

[2021-07-01 09:40] lmaciejonczyk commented on #30429
Use symlink to the device, i.e. :
instead of: `sudo ./build/posix/src/posix/ot-daemon -v 'spinel+hdlc+uart:///dev/ttyACM1?uart-baudrate=115200'`
run sth like: `sudo ./build/posix/src/posix/ot-daemon -v 'spinel+hdlc+uart:///dev/serial/by-id/usb-Nordic_Semiconductor_ASA_Thread_Co-Processor_07AA4C22D2E2C88D-if00?uart-baudrate=115200'` .
Use the proper symlink of your device from /dev/serial/by-id/ wh

[2021-07-01 10:40] krjmelik opened #36665 "l2cap cids mixed up in request"
**Describe the bug**
When peripheral device wants to disconnect it sends request with scid and dcid. But it sends rx.cid for dcid and tx.cid for scid. And according to Bluetooth specification it is wrong.

**To Reproduce**
1. Open l2cap connection between device configured as peripheral to a phone as central.
2. Send disconnect request from device.
3. See wrong cids in the request message.

**Expe

[2021-07-01 10:46] irgu commented on #21329
Any updates on that topic? I would like to evaluate WAMR on Zephyr based nRF Connect SDK v1.5.1 (nRF52840-DK as hw platform) but it looks not straightforward currently.

[2021-07-01 10:54] ExtremeGTX opened #36667 "logger: Filesystem backend doesn't work except for first time boot"
**Describe the bug**
After activating `LOG_BACKEND_FS`, `CONFIG_FILE_SYSTEM_LITTLEFS` and their dependencies, it worked as expected on the very first time boot (clean storage partition).

The problem is after rebooting the board, nothing new got saved to the log file created from the first time boot nor a new file created. as if logging to filesystem is completely stopped.

**What have you tried t

[2021-07-01 12:54] d-soliveira opened #36668 "LittleFS example overwrite falsh memory"
**Describe the bug**
I'm using the Samples/Littlefs with an STM32 EVB without any problems.
Now I want to save some data files (txt, html, json, etc) in the uC's flash, so I can read them during the code execution.
At this moment I can save the data directly to the memory (starting at 0x080FC000), using external tools (STM32CubeProgrammer), but when I upload the program the data that I have stored

[2021-07-01 12:56] de-nordic commented on #36668
@d-soliveira If you share the flash at given address with LittleFS then it will format the area and write own super-block.

[2021-07-01 12:59] de-nordic commented on #36668
@d-soliveira You need to disable mounting the LittleFS at storage partition if you want to be able to perform raw writes/read to it.

[2021-07-01 13:06] nwsetec commented on #36552
@joerchan ok no problem I'll create a separate issue

[2021-07-01 14:51] chen-png commented on #32111
hi @tejlmand Could you help take a look of this problem?
I installed a mingw for clang on windows, and ran the command "west build -b qemu_x86 -p auto samples\hello_world -c" to build tests, it failed with "**mingw32/bin/ld.exe: cannot perform PE operations on non PE output file 'zephyr\zephyr_prebuilt.elf'**.
I found the clang will use the ld of mingw in default, rather than lld from LLVM, how ca

[2021-07-01 17:21] #32669 closed

[2021-07-01 17:33] #36467 closed

[2021-07-01 18:01] evgeniy-paltsev commented on #36652
After debugging this a bit it doesn't look like the issue with pthread layer but it looks like an issue with SMP global_lock.

The deadlock in test example is caused by a race when `cond_wait` (called from `pthread_join`) and `pthread_cond_broadcast` (called from `pthread_exit`) are executed simultaneously on different CPUs.
**This shouldn't be happening!** - both of them do locking with `irq_lock

[2021-07-01 19:43] dleach02 commented on #36418
@rlubos, this test case works on the nRF52840 board because there is only one network interface that gets defined when you build this; the __net_if_loopback interface. On our device, there is the loopback and the actual real ethernet on our boards. This allows the routing to go wonky

[2021-07-01 22:59] bob2oneil opened #36678 "Zephyr Throws Exception for Shell "log status" command when Telnet is shell backend and log is UART backend"
Zephyr throws an exception accessing a NULL entry when the system is configured to
target the UART as the log backend and the Telnet session for the shell, when the
shell command "log status" is selected from the shell menu within the Telnet session
itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a simple application with the kernel configuration as listed below
2. west build -

[2021-07-01 23:02] bob2oneil commented on #36678
![ZephyrLogStatusException](https://user-images.githubusercontent.com/3010464/124198515-cf261700-da9e-11eb-9311-97629cce6d32.png)

[2021-07-02 01:27] nwsetec opened #36679 "Bluetooth - notifications not sending (bonded, CONFIG_BT_MAX_CONN=4, after disconnection then reconnection)"
**Describe the bug**
If our Zephyr v2.6.0 based Bluetooth peripheral device is reset and a mobile device connects (note it has previously been bonded) the mobile app can read data and subscribe to notifications.  If the mobile app is closed and reopened (Bluetooth is disconnected and reconnected) then the mobile app can now read characteristics but can no longer receive notifications (even when to

[2021-07-02 02:03] cvinayak commented on #36679
@nwsetec Has this worked before, if so, you could state the versions/commit it worked and label this as a regression.

[2021-07-02 08:22] ycsin commented on #36608
#36617 Fixed this issue.

[2021-07-02 08:54] tbursztyka commented on #36374
sys_buf or zbuf, etc... seems like a legitimate change indeed.

[2021-07-02 09:35] d-soliveira commented on #36668
Hi, thank you for the answers.
If I understand, I have to upload my program first and only after that, in runtime, I can instruct the filesystem to store the files?
My idea was to save the files in flash at the same time I upload the program.

[2021-07-02 09:48] de-nordic commented on #36668
You could do that but you would need to create image of LittleFS partition with the files, and write that image at specified location. If you just bare flash files, with no file system structure, the LittleFS driver recognized random data and thinks that the partition needs formatting.
There are tools to mount littlefs under various systems or create such file systems (https://github.com/littlefs-

[2021-07-02 10:36] d-soliveira commented on #36668
Thank you @de-nordic !

[2021-07-02 10:36] #36668 closed

[2021-07-02 11:17] caco3 opened #36692 "Release Notes for 2.6.0 not useful (BLE API changes)"
The release notes state that the BLE buffer configuration got refactured and refers to a commit for more details:

Hof ever that commit message contains 2 typos which makes it hard to find the changed config flags:
- `BT_CTLR_TX_BUFFER` must be `BT_CTLR_TX_BUFFERS` (See https://docs.zephyrproject.org/2.5.0/reference/kconfig/CONFIG_BT_CTLR_TX_BUFFERS.html#cmdoption-arg-CONFIG_BT_CTLR_TX_BUFFERS)
-

[2021-07-02 13:32] ExtremeGTX commented on #36667
@MSyc-NS Could you please help me understand, Which case is being handled by the condition at line 295 ? https://github.com/zephyrproject-rtos/zephyr/blob/3221a1e8e703f94593c021c3434e135d05797f57/subsys/logging/log_backend_fs.c#L295
And why multiplying `CONFIG_LOG_BACKEND_FS_FILES_LIMIT` by `2` ?

[2021-07-02 13:46] #36418 closed

[2021-07-02 13:48] niflostancu opened #36695 "net: ieee802154: cc13xx_26xx: Sub-GHz RF power saving"
**Is your enhancement proposal related to a problem? Please describe.**
I am using the CC13x2 Sub-GHz RF module and I need to turn off the radio on a IEEE802154 interface to save power and be able to enter S2 (standby).
Currently, the API doesn't allow me to do that.

**Describe the solution you'd like**
The easiest way would be to power down the radio when stopping the net interface, then we can

[2021-07-02 13:50] jdascenzio opened #36696 "Json on native_posix_64 board"
JSON don't work correctly on native_posix_64_board.
I have create this descriptor:

[code]
Then, I encode a structure like this:
[code]
I have this result:
[code]
instead of:
[code]
I think there is a problem in the function bellow of json library. The alignment seems to don't work correctly
https://github.com/zephyrproject-rtos/zephyr/blob/6688f709964e0209162277bb2fcd178b774d318b/lib/os/json.c#L4

[2021-07-02 14:07] emillindq commented on #35711
Leaving a notice I will go on vacation now. Somebody else can take over, but I will get back to this in 4 weeks time.

[2021-07-02 14:49] vaussard commented on #36593
I did some good progress on the fragmentation issues, I will probably send a PR next week to address the small issues that I uncovered in the stack.

I had an issue with `net_icmpv6_send_error()` where I am not sure about the fix, @jukkar can probably help me since you wrote this piece of code (see commit 899228bb7f8e6a3925f49594185f796942e1e26c). This function was not sending the ICMPv6 error mes

[2021-07-02 16:13] soburi commented on #34971
Hi all,

I got some suggestions, so I created and pushed a version that doesn't depend on external modules.
(It is prototyping for proceeding with this discussion. I will undo depending on the result of the discussion )

https://github.com/soburi/zephyr/commits/add_basic_support_gd32v

previous push: https://github.com/soburi/zephyr/tree/99c5643d4cb4cf73d3b66644d6489ae6f4173da9

---
GigaDevice Dri

[2021-07-02 16:26] dleach02 commented on #36646
So this fails using twister but if I use west with the '-T sample.shell.shell_module.minimal_rtt' for both targets it will build/link without errors.

`west build -b mimxrt1170_evk_cm4 -p auto -T sample.shell.shell_module.minimal_rtt samples/subsys/shell/shell_module/`

[2021-07-02 17:05] #36131 closed

[2021-07-02 18:04] #35190 closed

[2021-07-02 22:32] palchak-google opened #36706 "Some standard west commands should Just Work for native_posix board"
**Is your enhancement proposal related to a problem? Please describe.**
Currently when building for the `native_posix` board it is not possible to use a west command to execute the resulting binary. This is inconsistent with the workflow used for other boards. While not all west commands make sense for the `native_posix` board, it should still be possible to at least invoke the native binary someh

[2021-07-03 02:22] #36447 closed

[2021-07-03 11:38] nashif commented on #36706
this actually works with the arc simulator already, so I agree this could be made consistent...

[code]

@palchak-google all of this can be done in cmake/west extensions in the tree, so patches welcome...

[2021-07-03 15:32] nashif commented on #6777
https://www.linuxfoundation.org/blog/copyright-notices-in-open-source-software-projects/

[2021-07-03 18:44] nandojve commented on #21155
CC: @mnkp

[2021-07-04 01:12] beriberikix opened #36711 "Enable "template repository" for zephyrproject-rtos/example-application"
Sorry for posting this here but https://github.com/zephyrproject-rtos/example-application doesn't have issues enabled. Github has a nice feature that enables copying template repos in one click (see [here](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/creating-a-template-repository).) It simply needs to be enabled by someone with admi

[2021-07-04 11:53] aurel32 opened #36713 "nrf5 ieee802154 driver does not compile and breaks CI"
Following merge of PR #36008, the commit bde592e91aa0e797429a61e6754d06e578c80d7a breaks CI, as the `IEEE802154_CONFIG_ENH_ACK_HEADER_IE` case now appears twice.

It seems a similar code with minor differences has already been committed as part of PR #36455.

[2021-07-04 17:51] ieeeHuseyin opened #36716 "zephyr - ADC - ATSAMD21G18A"
I want to create an ADC sample for the ATSAMD21G18A processor (for pins PA02-PA03-PA04) But I don't understand which sample should I use. Can you help me?

[2021-07-04 21:19] jefffhaynes opened #36718 "st_ble_sensor sample references wrong attribute"
https://github.com/zephyrproject-rtos/zephyr/blob/91a6b286c9af2aad1ebbc6dbed72fcd149232b51/samples/bluetooth/st_ble_sensor/src/main.c#L121

This should reference attribute 4 (the button service), not 2 (the led service).  As it stands, the sample does not notify correctly (or really, at all).

[2021-07-05 00:28] #34305 closed

[2021-07-05 00:28] #34273 closed

[2021-07-05 00:28] #32822 closed

[2021-07-05 06:41] caco3 commented on #34659
Just a little update:
I am now back @ work and migrated to `2.6.0`. As expected the issue still is the same.

I will now try to build a minimal example to reproduce the issue.

[2021-07-05 07:06] edmont commented on #36713
Thanks for warning!

[2021-07-05 07:21] henrikbrixandersen opened #36724 "The road to a stable Controller Area Network driver API"
The Controller Area Network driver API was introduced in Zephyr v1.14 but it is still marked as experimental here two years after.

This issue is intended to track the changes and actions required to get to the point where we can declare the CAN driver API as stable:

- [x] #36723
- [x] #26541
- [x] #19502
- [x] #21010
- [x] #40912
- [x] #43048
- [x] Review and document all test suites, ensure 100

[2021-07-05 07:36] chen-png commented on #32111
the compiler clang of LLVM will used external system linker in default, i.e, the linker of mingw or VC, not the ld.lld of LLVM built-in, so in my environment, it used the mingw32/bin/ld.exe, this is not a cross-compiler and I found it only support i386pe, couldn't be used to build zephyr elf file.
so tried to add **-fuse-ld=lld** option to force clang to use the LLVM built-in linker, but it report

[2021-07-05 08:24] ppryga commented on #36713
It breaks also this PR https://github.com/zephyrproject-rtos/zephyr/pull/36705

[2021-07-05 09:11] jukkar commented on #36593
There was a reason for that overwrite call, as described in the commit message of 899228bb7f8e6a3925f49594185f796942e1e26c, related PR is also here #29398. So it looks like there is still some things missing in the error function if things do not work properly.

[2021-07-05 09:15] jukkar commented on #36593
Note that the fix introduced by commit 899228bb7f8e6a3925f49594185f796942e1e26c is a bit hackish and perhaps it is causing issues still. The commit basically allocates some extra space at the beginning of net_buf in order to store link layer addresses there so that we can point link layer pointer values in net_pkt there.

[2021-07-05 12:36] jcpince opened #36734 "osSignalWait crashes when called from a thread created with osCreateThread"
**Describe the bug**
Hi, I was playing the the signals in cmsis on nrf5340dk and got a crash in osSignalWait or osSignalSet.

So, I ran the cmsis unit tests and the test around cmsis signals (test_signal_events_signalled) ran just fine.

So, after some debugging, I found out that the custom_data of the thread I was playing with was NULL in my code but valid in the test. It appears the difference i

[2021-07-05 13:09] evgeniy-paltsev opened #36736 "kernel: SMP global lock (and therefore irq_lock) works incorrectly on SMP platforms"
**Describe the bug**
While debugging #36652 I've bumped into a situation when two threads are executing code protected with `SMP global lock` on two CPUs simultaneously (which shouldn't be happening)

The SMP global lock is widely used in Zephyr via `irq_lock` abstraction layer on SMP systems.

The SMP global_lock implementation looks quite suspicious. We have two complimentary `z_smp_global_lock`

[2021-07-05 13:20] MJayat opened #36737 "Cortex M23: "swap_helper.S:223: Error: invalid offset, value too big (0x0000009C)""
**Describe the bug**
For a new Cortex M23 soc in development, when enabling CONFIG_DEBUG_THREAD_INFO=y,  the assembler gives me the error:
`/zephyr/arch/arm/core/aarch32/swap_helper.S:223: Error: invalid offset, value too big (0x0000009C)`

The following patch fixes the issue for me:
[code]

although I wonder if it would not be appropriate to test  `defined(CONFIG_ARMV6_M_ARMV8_M_BASELINE)`

**To

[2021-07-05 13:35] evgeniy-paltsev commented on #36736
CC kernel codeowners and kernel/sched.c, kernel/smp.c contributors
 @dcpleung @nashif @andyross @jharris-intel @pabigot @enjiamai @ceolin

[2021-07-05 13:51] efra-mx-aqua opened #36739 "coap_packet_get_payload() returns the wrong size"
The function `coap_packet_get_payload()` returns the wrong size, it  returns the number of bytes left for payload, no the actual payload size.
the current calculation is:
[code]
Which means that `payload_len` includes the unused bytes.

Snippet create packet:
[code]
Evaluating with the snippet from above:
[code]
The offset is moving with every append, therefore this actual pyload length can be cal

[2021-07-05 13:55] rlubos commented on #23424
I've submitted a draft PR with DTLS Connection ID socket option, see https://github.com/zephyrproject-rtos/zephyr/pull/36738. I think however that we should postpone the integration of this feature until some problems on the mbed TLS side are resolved (see the PR, where I've described in a more detail the issues I've faced).

@boaks Thank you for all the feedback that you've provided across differ

[2021-07-05 14:01] efra-mx-aqua commented on #36739
@rlubos could you have a look at this?

[2021-07-05 14:05] rlubos commented on #25935
I've submitted a draft PR with DTLS Connection ID socket option, see #36738. I think however that we should postpone the integration of this feature until some problems on the mbed TLS side are resolved (see the PR, where I've described in a more detail the issues I've faced).

There are no LwM2M changes yet that'd utilize this new option, it should be pretty straightforward to add though (just a

[2021-07-05 14:30] rlubos commented on #36739
Sure, I'll analyze the issue and come back to you.

[2021-07-05 14:50] efra-mx-aqua commented on #36739
The coap specs says:

payload.  If present and of non-zero length, it is prefixed by a
fixed, one-byte Payload Marker (0xFF), which indicates the end of
options and the start of the payload.  The payload data extends from
after the marker to the end of the UDP datagram, i.e., the Payload
Length is calculated from the datagram size.

[2021-07-05 15:20] rlubos commented on #36739
I think you're right, there seems to be some divergence in how particular `struct coap_packet` fields are handled, depending on whether the packet is created with Zephyr APIs, or parsed from the UDP packet. In the latter case, the calculation is correct, as the `max_len` is set to the actual datagram length, and the payload marker is actually included in the `opt_len` field (which is a bit counter

[2021-07-05 17:40] efra-mx-aqua commented on #36739
That is true actually, I had not noticed. I think that after the packet is parsed in `coap_packet_parse()` the offset shall be set to max_len.  Since the packet has been validated in `parse_option()` an will return error in case the packet is malformed, what is remaining is the payload.

[code]

[2021-07-05 21:12] bob2oneil opened #36745 "Zephyr IP Stack Limited to 1514 bytes on the wire - no ICMPs beyond this limit"
**Describe the bug**
There appears to be a fixed limit on the **MTU** size of the Zephyr IP stack. When I attempt some simply PING tests changing the size of the PING payload, or drive data into a virtual Ethernet interface (POSIX) where the external host created TAP interface has a very large MTU (e.g. 8k), and the data into the interface is verified with Wireshark to be fragment free, ICMP respo

[2021-07-05 21:24] EminYagmahan opened #36747 "Adding Board Support for STEVAL-STWINKT1B"
To improve my experience with Zephyr, I plan to add support for the following eval kit from STMicroelectronics to the already existing hardware platform:

https://www.st.com/en/evaluation-tools/steval-stwinkt1b.html

I have already been able to find templates under zephyr/doc/templates/. Under zephyr/boards/arm/ I have not been able to find the board so far, issues or pull requests do not exist ei

[2021-07-05 21:46] bob2oneil opened #36748 "Zephyr IP Stack Leaks when using PROMISCUOUS socket along with POSIX sockets based implementation."
**Describe the bug**
The Zephyr IP stack leaks and runs out of memory when using an interface **iface** configured for **promiscuous** behavior coupled with an application written using a standard POSIX implementation.

** Have you tried to diagnose or workaround this issue?**

Yes, looking for a way to dereference any cloned pkt in the stack, but the "struct net *pkt" corresponding to the POSIX s

[2021-07-06 08:24] edmont commented on #36713
Fixed by https://github.com/zephyrproject-rtos/zephyr/pull/36746

[2021-07-06 08:46] chen-png commented on #32111
this error was caused that cmake couldn't find a valid linker path when checking compiler support flag, because clang won't use LLVM built-in lld in default.

the infinite loop, please use the ninja version 1.8.2, not the latest.

[2021-07-06 08:56] chen-png commented on #32111
@YanzhouYu  I tested the LLVM built-in lld on windows and linux, it reported the same error, it seems that it couldn't support cross linker well ,so I replaced it by a cross i486-elf.ld.exe to complete link process, it's ok to generate final zpehyr.elf, so please use a cross gcc linker for link process firstly.

[2021-07-06 10:51] jukkar commented on #36748
I am not seeing your app calling `net_promisc_mode_wait_data()` to receive the data. Did you see how `samples/net/promiscuous_mode` sample application is using the promiscuous API?

[2021-07-06 10:59] jukkar commented on #36745
The MTU in the device driver like Ethernet, is currently hardcoded in the driver when the device is created (search `NET_ETH_MTU` in the native_posix driver for example). So currently jumbo frames/packets are not supported.

[2021-07-06 11:06] gabbas1 commented on #36553
Hi @GABS9718,

can you show me your configuration for the lora-transceiver on spi in the "nrf52840dk-nrf52840.dts"-file. Mine is in "../zephyr/boards/arm/nrf52840dongle_nrf52840/" and it looks like this:

[code]

Have you wired all of the DIO Pins from the SX1276 to the DK?

Thanks

[2021-07-06 12:39] rlubos commented on #36739
Why do you think we need +1 though? I think the `offset` should be equal to `max_len` - it indicates the packet is "full" - no more data will fit into the packet while indicating the correct packet length.

We'll also need more changes than merely setting the offset value, for the aforementioned payload marker, which is handled in a different way on TX/RX path. I think it should not be counted int

[2021-07-06 12:47] bob2oneil commented on #36745
Thanks Jukka for the quick response.

If I wanted to increase the MTU for say one virtual Ethernet interface, would it be possible for example, to simply change the source code to something like **eth_native_posix.c**, include this modified version as part of the Zephyr build - either in my _project_ scope as the definition of one virtual interface, or changing the Zephyr build itself to include t

[2021-07-06 12:52] bob2oneil commented on #36748
Thanks Jukka for your response.

This application uses standard BSD sockets to receive the data.

The entirely of the source is as attached.
[main.zip](https://github.com/zephyrproject-rtos/zephyr/files/6770145/main.zip)

[2021-07-06 13:04] efra-mx-aqua commented on #36739
@rlubos I agree the +1 is not required.

I am currently trying to fix it, I will let you know what my findings are.

Thanks

[2021-07-06 13:04] thedjnK opened #36755 "NTP client faults module when it fails"
**Describe the bug**
We are trying to use SNTP (NTP) to get an accurate representation of the time. This works OK when it gets it, but when it fails to get the time with -3 (ESRCH) the module faults

**To Reproduce**
Steps to reproduce the behavior:
Use sntp_simple() with an SNTP server (using time.windows.com), we are using ethernet.
When it is successful, the application runs fine, when it fails

[2021-07-06 13:13] rlubos commented on #36739
@efra-mx-aqua Please try this one: https://github.com/rlubos/zephyr/tree/coap/fix-get-payload I think this is the complete fix, I wanted to add some extra tests though before submitting a PR

[2021-07-06 13:27] erwango commented on #36747
@EminYagmahan Thanks for your interest.

I suggest to adapt from following board that should be close to the STWIN kit:
https://github.com/zephyrproject-rtos/zephyr/tree/main/boards/arm/sensortile_box.

Aside from the suggested points, please take care of providing a method to flash & debug.
Also, don't hesitate to enable various peripherals when they reuse existing drivers or components.
For such

[2021-07-06 13:34] efra-mx-aqua commented on #36739
I have something similar at the moment. I am just trying to do a proper fix for the coap module. Actually, I also found that `opts_len` is set  always at least to 1, even when we there are no options.

[2021-07-06 13:38] rlubos commented on #36739
That's likely the Payload Marker which's incorrectly counted in the `opt_len` when packet is parsed. This should also be fixed on that branch.

[2021-07-06 14:49] CJKay commented on #9552
The C11 emergent features rule is Required but not Mandatory, so Zephyr can reasonably use these features so long as there is a documented and justified deviation. Not ideal though, admittedly.

[2021-07-06 15:59] aurel32 commented on #36713
Fixed by #36746

[2021-07-06 15:59] #36713 closed

[2021-07-06 17:23] nashif commented on #36659
Can you please submit a PR to fix those small issues?

[2021-07-06 17:26] nashif commented on #36652
duplicate of #36736

[2021-07-06 17:26] #36652 closed

[2021-07-06 18:39] doctorseus commented on #34913
Actually the issue here is in [cmake/python.cmake](https://github.com/zephyrproject-rtos/zephyr/blob/main/cmake/python.cmake). When using a virtualenv/choco the foreach logic introduced with commit 94de3e9f60dca188cae407ab70c5a2a991fa78df tries to be too smart and will suggest the system python to PYTHON_EXACT instead of the active python3 on the path.

I think the whole logic should be removed ag

[2021-07-06 22:49] andyross commented on #36736
This is an intentional misfeature, actually.  Historically, code holding an irq_lock() was legally allowed to swap (despite the fact that the whole idea is nonsensical -- code above you that took the lock doesn't expect it to be magically released).  And this worked and was done in a few places in the kernel.  So this implements the same policy, which was IIRC required to get some tests to run at

[2021-07-06 23:19] #36572 closed

[2021-07-06 23:46] nashif commented on #36711
done

[2021-07-06 23:46] #36711 closed

[2021-07-06 23:50] enjiamai commented on #33113
After discussing, we think this is generic, code coverage should be done and does not need an extra enhancement here, so we close it.

[2021-07-06 23:50] #33113 closed

[2021-07-07 00:44] beriberikix commented on #36711
Thanks!

[2021-07-07 01:14] sam131208 opened #36764 "Bluetooth Require paired after disconnected work with iphone"
I am test the `zephyr\samples\bluetooth\peripheral_hids` project, we don't need input passkey while paired, so remove the function `bt_conn_auth_cb_register(&auth_cb_display)`. It's work fine with android.
But, the iphone will require paired while reconnecting after disconnected.

[2021-07-07 03:06] NanlinXie opened #36765 "[PCI] ACRN sets Interrupt Line config space register to 0 and ReadOnly."
Environment

ACRN 2.4 Partition Mode / Zephyr guest and MSI (not MSI-X) capable physical device passed through to the OS.

HW/Board

EHL

Steps

Setup ACRN in partition mode and launch Zephyr as guest. PT a physical PCI device to the guest and assign an IRQ to it by using pcie_msi_vectors_allocate(), pcie_msi_vector_connect(), pcie_msi_enable() Zephyr API.
Expected result

Interrupt line register

[2021-07-07 03:06] NanlinXie commented on #36765
Linked to https://github.com/projectacrn/acrn-hypervisor/issues/6275

[2021-07-07 05:28] hakehuang opened #36768 "tests-ci :coredump.logging_backend : test failed"
**Describe the bug**
coredump.logging_backend test is failed on zephyr-v2.6.0-734-gc1cff7558928 on lpcxpresso55s28

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit SHA or Version use

[2021-07-07 05:28] hakehuang opened #36767 "tests-ci :arch.arm.irq_advanced_features.arm_irq_target_state : test failed"
**Describe the bug**
arch.arm.irq_advanced_features.arm_irq_target_state test is failed on zephyr-v2.6.0-734-gc1cff7558928 on lpcxpresso55s28

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)

[2021-07-07 05:31] hakehuang opened #36766 "tests-ci :kernel.tickless.concept.tickless_slice : test failed"
**Describe the bug**
kernel.tickless.concept.tickless_slice test is failed on zephyr-v2.6.0-734-gc1cff7558928 on mimxrt1170_evk_cm7

see logs for details

**To Reproduce**
1.
[code]
2. See error

**Expected behavior**
test pass

**Impact**

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux )
 - Toolchain (e.g Zephyr SDK)
 - Commit S

[2021-07-07 05:32] hakehuang commented on #36766
@mmahadevan108 is thickless support in 1170?

[2021-07-07 05:39] hakehuang commented on #36767
@dleach02  shall I disable this case for lpcxpresso55s28?

[2021-07-07 05:47] hakehuang commented on #36768
@mmahadevan108  is your lpc interrupt fix merged?

[2021-07-07 05:53] rene-becker-setec commented on #36679
@cvinayak - we have not used this configuration before, so can't say whether this is a regression or not (I am working with @nwsetec )

[2021-07-07 06:01] nwsetec commented on #36679
We haven't had this working with this configuration unfortunately.  I removed BT SMP and authentication requirements off the characteristics and notifications seem to work ok.

[2021-07-07 06:04] yaomichael opened #36769 "Zephyr assumes Interrupt Line config space register is RW, while ACRN hardwired it to 0."
Environment

ACRN 2.4 Partition Mode / Zephyr guest and MSI (not MSI-X) capable physical device passed through to the OS.

HW/Board

EHL

Steps

Setup ACRN in partition mode and launch Zephyr as guest. PT a physical PCI device to the guest and assign an IRQ to it by using pcie_msi_vectors_allocate(), pcie_msi_vector_connect(), pcie_msi_enable() Zephyr API.

Expected result

Interrupt line register

[2021-07-07 06:06] #36769 closed

[2021-07-07 06:07] yaomichael commented on #36769
duplicate to issue 36765

[2021-07-07 07:03] Laczen commented on #36485
Do we really need virtual flash devices ? It seems to be like we would better look at the linux solution for memory technology devices (mtd) and adapt zephyr to the approach of linux. This would result in the flash api being deprecated completely and replaced with an mtd api.

Probably it is also not needed to create a virtual device as a real device, only the "master" devices needs to be a device

[2021-07-07 07:31] yingmingx opened #36770 "doc：Missing description for deadline scheduling"
**Describe the bug**
In zephyr doc https://docs.zephyrproject.org/latest/reference/kernel/scheduling/index.html
There is lack of description of deadline scheduling but the api exist in thread related doc.
https://docs.zephyrproject.org/latest/reference/kernel/threads/index.html
I think the architecture design document needs to add a section on the introductory text of deadline scheduling.

[2021-07-07 10:01] stephanosio commented on #36645
@mglettig That would require some investigation, but do you think it would be feasible for you to use newlib if Civetweb and/or newlib are updated such that they can be used together?

The minimal C library, as its name suggests, is supposed to be "minimal", and we should refrain from adding more functions to it just to satisfy the ever-growing demand for more features, until it effectively become

[2021-07-07 10:02] thedjnK commented on #36755
Seems to be when NTP is used from a workqueue, have moved it to a separate thread and it's not faulting anymore

[2021-07-07 10:24] khalidjmi1200 opened #36778 "firmware update using mcumgr displays information for only slot 0 and not slot 1."
**Describe the bug**
when command mcumgr -c TTYMXC2 image list is issued from the mcumgr info for only slot 0 is displayed
bootable: false
flags:
hash: Unavailable
Above given flags are also not correct. I have primary and secondary partition.

**To Reproduce**
Steps to reproduce the behavior:
1. Build an application for mcu boot and flash it on the board stm32l452.
2. when board is ready to recei

[2021-07-07 10:54] de-nordic commented on #36778
Can you check whether the DTS correctly labels slot0_partition parition as  "image-0" and slot1_partition as  "image-1"?
I am guessing that you are using smp_svr as a server? Smp_svr is, at this point, not able to upload to active slot, which is running application slot; this looks like configuration problem.

[2021-07-07 11:21] khalidjmi1200 commented on #36778
Hi,

As far as I know, enabling CONFIG_BOOTLOADER_MCUBOOT configures smp_server.
This is the dts file which I am using and think its correct as you mentioned.

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* 64KB for b

[2021-07-07 11:35] de-nordic commented on #36778
What is the SHA of modules/lib/mcumgr you are using?

[2021-07-07 11:39] khalidjmi1200 commented on #36778
name: mcumgr
      revision: 5c5055f5a7565f8152d75fcecf07262928b4d56e
      path: modules/lib/mcumgr

[2021-07-07 12:22] benediktibk opened #36781 "source_periph incorrectly set in dma_stm32"
**Describe the bug**
The flag source_periph seems to be incorrectly set in dma_stm32:
https://github.com/zephyrproject-rtos/zephyr/blob/0ef77d4ea41fb765061c64896b3fbd0b2e4bc276/drivers/dma/dma_stm32.c#L418

**To Reproduce**
None, did not cause an issue for me yet. I just stumbled upon it whilst debugging.

**Expected behavior**
I suppose correct would be:
`stream->source_periph = stream->direction

[2021-07-07 12:22] rlubos commented on #36755
I'm afraid there's too little information for me to help. You seem to be using some custom application, would it be possible for you to provide a simple app that is able to reproduce the issue in a simulated environment preferably?

That could suggest there's some stack overflow issue, if the same code works fine from a different thread. Is your workqueue stack smaller from the other thread? Do yo

[2021-07-07 12:25] #35658 closed

[2021-07-07 12:40] #36739 closed

[2021-07-07 12:44] #36357 closed

[2021-07-07 12:53] de-nordic commented on #36778
Inside your build directory, can you check file `zephyr/zephyr.dts` for:
[code]
inside `chosen` section?

Does the file `zephyr/.config`, in build directory, have `CONFIG_FLASH_LOAD_OFFSET` pointing to the address of `slot0_partition`?

[2021-07-07 13:48] khalidjmi1200 commented on #36778
I have added .config and zephyr.dts file for both MCU BOOT and Application.
I have also added config for both MCU BOOT and Application

---------------------------------------
zephyr/zephyr.dts for MCU BOOT
----------------------------------------
/ {
	#address-cells = < 0x1 >;
	#size-cells = < 0x1 >;
	chosen {
		zephyr,entropy = &rng;
		zephyr,flash-controller = &flash;
		zephyr,sram = &sram0;

[2021-07-07 14:00] evgeniy-paltsev commented on #36736
@andyross But the issue is that we **don't** reacquire it on entry! The reacquiring was implemented initially but it was removed in 1acd8c2996c3a1ae0691247deff8c32519307f17 and now we don't even have a function which implements lock reacquire.

[2021-07-07 14:27] affrinpinhero-2356 commented on #35850
I have run the test and the result was as below:
Commit used for test :
sha1: bf3c6e7
[code]
Result for twister run:
[code]

[2021-07-07 15:01] andyross commented on #36736
Can you provide an exerciser?

At this point, several years after the transition, I'm personally more inclined to just eliminate this and say that the irq_lock() emulation layer isn't present and that you MUST use spinlocks on any SMP system.  Certainly nothing in the core system cares, this exists only for the benefit of porting code from uniprocessor setups that, again, should have been using sp

[2021-07-07 15:03] andyross commented on #36736
Also, dropping priority.  The only way to hit this situation is when you are **swapping with an interrupt lock held**, which means you've already broken any reasonable synchronization scheme.  If you use irq_un/lock() to bound a proper critical section, this can't possibly happen.  It's only about the support for the legacy weirdness in the API that we fixed long ago.

[2021-07-07 15:20] evgeniy-paltsev commented on #36736
Do you mean to provide test case where issue happens or to provide the description about how the missing lock reacquire after swap may break the code?

I'd disagree here as this mechanism is actually used in Zephyr generic code (i.e in posix thread layer). Zephyr user don't need to do something strange with irq_lock API to trigger this issue - it's enough to use some Zephyr functionality (like pth

[2021-07-07 15:30] microbuilder commented on #35552
Note: mbedtls 3.0.0 has been officially released: https://github.com/ARMmbed/mbedtls/releases

[2021-07-07 15:37] ceolin commented on #34832
The project is using Parasoft static analysis tool to catch these code guideline violations.

[2021-07-07 15:37] #34832 closed

[2021-07-07 15:41] mniestroj opened #36782 "drivers: serial: nrfx: Enforced pull-ups on RXD and CTS conflict on many custom boards"
**Describe the bug**
After #36366 was merged RXD and CTS pins have configured pullups, while they were floating before. This PR solved an issue with UART interfaces not being connected to anything. In most embedded devices however UART is used to communicate with peripheral chips, like 4G modems, WiFi chips (ESP-AT), sensors, other MCUs, etc. In all those cases when UART is always connected, havin

[2021-07-07 15:50] microbuilder commented on #11193
Closing due to TF-M integration in Zephyr solving this problem.

[2021-07-07 15:50] #11193 closed

[2021-07-07 15:55] cvinayak commented on #2248
Closing this as most check items have been addressed over the years.

[2021-07-07 15:55] #2248 closed

[2021-07-07 16:00] gregshue commented on #33508
Subsequent decisions:
- Keep `example-application` issues within the `zephyr` issues list
- `example-application` will be released `zephyr`
- `example-application release tags will match `zephyr`, beginning with `v2.6.0`
- The `example-application` manifest in the `main` branch will import the latest `zephyr` manifest. Releases of `example-application` will have a manifest referencing the release

[2021-07-07 16:03] gregshue commented on #33962
An implementation in https://github.com/zephyrproject-rtos/example-application/pull/6 has been under review since May 13, 2021.

[2021-07-07 16:03] konovagit opened #36783 "drivers: modem: hl7800 gpio init failed with interrupt flags"
**Describe the bug**
When you call the function **hl7800_init** you have a loop to configure all gpios of the modem. In this loop you used **gpio_pin_configure** to configure gpio but when you need to configure pin as interrupt the bug occurred because an assert and **gpio_pin_configure** does not support interrupt configure (need to use: **gpio_pin_interrupt_configure**).

[code]

When the loop i

[2021-07-07 16:04] gregshue commented on #35177
An implementation in [example-application](https://github.com/zephyrproject-rtos/example-application/pull/4) has been under review since May 11, 2021.

[2021-07-07 17:29] MaureenHelm commented on #10198
Fixed by #31812

[2021-07-07 17:29] #10198 closed

[2021-07-07 17:36] MaureenHelm commented on #20171
Fixed by #34845

[2021-07-07 17:36] #20171 closed

[2021-07-07 18:30] #36646 closed

[2021-07-07 18:48] tbursztyka commented on #19134
I'll look into this in a few weeks  (I need 3-wire mode supported to hook some sensors at home so...)

[2021-07-07 21:26] andyross commented on #36736
Can you post a separate bug about the code that is context switching with a lock held?  **THAT** we need to get fixed ASAP.  It really should just never happen, it was a quirk about the old API that we'd like to deprecate if possible.

[2021-07-07 21:33] albertofloyd commented on #34879
@yerabolu could you clarify if this affects Zephyr 2.5 onwards or only the main branch?
I'm asking since traces indicate  *** Booting Zephyr OS build zephyr-v2.5.0-2839-gb504f8b6a27b  ***

Do you have any bisection data? i.e. do we know if anything pointing to any recent changes to gpio/qspi driver or related tests?

[2021-07-07 21:35] evgeniy-paltsev commented on #36736
Sure, I'll do that (at least for posix thread layer)

BTW, as I understand the `z_smp_release_global_lock` must be never called (as we must not use context switching with a lock held). So should we just call `z_fatal_error` in `z_smp_release_global_lock` instead of silently managing the global_lock which is done incorrect now?

[2021-07-07 21:38] yerabolu commented on #34879
@albertofloyd : It is observed on the main branch as well. Test started failing after this commit 5e1502e.

[2021-07-07 21:47] albertofloyd commented on #34879
Thanks @yerabolu, seems this doesn't affect Zephyr 2.5 release but only Zephyr 2.6 and onwards
@scottwcpg I recall you mention latest a HAL change required a pinmux driver update, is this the HAL update you were referring?

If so is the pinmux driver update in place?

[2021-07-07 21:47] andyross commented on #36736
That would have the effect of breaking anyone who tries this trick, so... sure I guess?  But if that's the course we want, it makes more sense to just assert that global_lock == 0 in z_swap().

Really my aim here is to remove this API, not to fix it. :)

[2021-07-07 21:48] yerabolu commented on #34879
@scottwcpg: Tried investigating and not sure if this helps - only mps2_an385, mps2_an521 platforms are excluded for this test. And test passes on other platforms. It is failing on Microchip.

[2021-07-07 21:53] evgeniy-paltsev commented on #36736
Yep, that's the aim. It would have saved hours of debugging and analyzing 200K+ instruction traces for me if it had been implemented :)

[2021-07-07 23:06] andysan commented on #36571
Being able to persist the state of the stack is tracked in #31210. I have an implementation that uses the normal settings API that you might be able to use if you rebase it.

[2021-07-07 23:14] andysan commented on #36543
This is already possible using the `lorawan_set_battery_level_callback` api.

[2021-07-08 00:28] #28819 closed

[2021-07-08 00:41] cederom opened #36789 "[ESP32] samples blinky / gpio / custom board"
Hello world :-)

I have a board with FPGA and additional ESP32 chip that I would like to use as FPGA controller with USB VCP terminal control. There are several problems:
* I cannot run blinky as there is no `led0` defined and no example how to define it. It would be nice to have such example. I also need to control GPIO to burn bistream into the FPGA.
* I would like to add new board to Zephyr tha

[2021-07-08 01:18] cfriedt opened #36790 "sys: ring_buffer: correct space calculation when tail is less than head"
**Describe the bug**
When tail is less than head the contents of the buffer wrap around the end of the buffer in modulo format. So when `head = N - 2` and `tail = 1`, there are 3 used bytes and `N - 3` free bytes. However, currently `ring_buf_space_get()` reports `space = N - (tail - head) = N - 1 - N + 2 = 2N + 1` bytes.

**To Reproduce**
by inspection:
[code]

**Expected behavior**
Should return

[2021-07-08 03:04] cfriedt commented on #36790
This is not a bug. The current implementation does not wrap `head` or `tail`, so the only reason for `tail < head` would be user error.

[2021-07-08 03:04] #36790 closed

[2021-07-08 06:08] b0661 commented on #36789
I had the same problem. If you copied your custom board definiton from Zephyr boards/xtensa/esp32 you may use this boards/xtensa/my_custom_board/CMakeLists.txt. It fixes IDF_TARGET and assures the Zepyhr Python version is used. I followed the [Custom Board, Devicetree and SoC definitons](https://docs.zephyrproject.org/latest/application/index.html#custom-board-devicetree-and-soc-definitions) docum

[2021-07-08 07:21] erwango opened #36794 "Build failure: tests/drivers/adc using stm32l562e_dk"
**Describe the bug**
Cf https://buildkite.com/zephyr/zephyr/builds/34879

tests/drivers/adc/adc_api and tests/drivers/adc/adc_loopback are failed when build with stm32l562e_dk target

Likely linked to https://github.com/zephyrproject-rtos/zephyr/pull/36671

[2021-07-08 07:23] Laczen commented on #36778
Hi, isn't this error caused by mcumgr communicating with mcuboot directly (and not smp_srv) ?

[2021-07-08 07:26] erwango commented on #36794
^^ @sarthsmart

[2021-07-08 07:28] nvlsianpu commented on #36485
I was looking into virtual flash device - looks like it does the job of partition management well, it reduces amount API we have.
Can be similar idea be implemented with MTD API?,  so we will be able to switch to it smoothly.
I think both ideas doesn't collide each other.

[2021-07-08 07:39] khalidjmi1200 commented on #36778
Yes, I checked the config file and its not configured as smp_server. Is it necessary to be configured as smp_server?

[2021-07-08 07:43] de-nordic commented on #36778
Where do you upload the software, to the mcuboot serial recovery or to an application?

[2021-07-08 07:47] erwango opened #36796 "Build failure: samples/net/civetweb/http_server using target stm32h735g_disco"
**Describe the bug**
Build fail when compiling samples/net/civetweb/http_server using stm32h735g_disco target.
Issue only visible when explicitly running twister using this target.

@benediktibk can you have a check ?

[2021-07-08 07:49] benediktibk commented on #36796
Aye aye, captain

[2021-07-08 07:51] khalidjmi1200 commented on #36778
I upload the software to an mcuboot serial recovery.

[2021-07-08 07:59] Laczen commented on #36778
@khalidjmi1200, mcuboot serial recovery has limited functionality and will upload to slot0. In a "normal" operation mode your application (running smp_server) is responsible for uploading to slot1. Then mcuboot will do the move to slot1.

[2021-07-08 08:18] de-nordic commented on #36778
It is not mcumgr problem, mcumgr library is not used by mcuboot. This is not a bug.

[2021-07-08 08:22] Laczen commented on #36485
@nvlsianpu, the main difference between virtual flash devices and mtd API is that virtual flash devices create a device for each partition, while mtd only uses (or creates if we would replace the flash device with a mtd device) for the "master" device. This allows support for repartitioning without any changes. This also results in the compiler removing any unused partitions from the image for the

[2021-07-08 08:22] erwango commented on #36794
Issue not in main branch

[2021-07-08 08:22] #36794 closed

[2021-07-08 08:30] Laczen commented on #36778
@khalidjmi1200 I agree with de-nordic, this is not a bug. What you could say is that mcumgr should not respond to the `image list` command, probably it doesn't as the hash is unavailable.

[2021-07-08 08:46] de-nordic commented on #36778
I should have specified that "this is not a bug" in Zephyr or modules/lib/mcumgr.

I do not know whether it could be considered bug in mcuboot, as mcuboot does implement the `image list` it just does not send back the hash.
The mcuboot (re-)implements, as @Laczen has mentioned, very basic set of mcumgr features and this is:
 `echo`, `image upload` (always to slot 0) and `image list`.

[2021-07-08 08:52] de-nordic commented on #36778
Btw, the mcumgr command line tool, unless `-e` switch is provided,  preceedes the `image upload` with `erase` command that is hardwired, within mcumgr library, to erase `slot_1`/`image-1` and in `image upload` adds `image=0` field by default; at this point the mcuboot ignores `erase` and does not use `image` selector.

[2021-07-08 09:06] benediktibk commented on #36796
Reproducible:
[code]

[2021-07-08 09:10] galak commented on #36796
Setting to high as we see this in the daily CI builds

[2021-07-08 09:21] benediktibk commented on #36796
It builds for stm32h747i_disco_m7 and stm32h747i_disco_m4, which should be pretty close to stm32h735g_disco. I'll try to figure out where ferror and fileno are getting their implementations for these board definitions.

[2021-07-08 09:58] benediktibk commented on #36796
Calls to ferror and fileno are both contained in the output of the preprocessor for civetweb.c, therefore I assume that they do not get thrown away by some defines and the problem must be during linking.

[2021-07-08 10:04] rlubos commented on #10676
Thread specification per se does not specify any particular DFU mechanism, so deploying DFU over Thread network is rather a matter of running any of the existing network-agnostic DFU protocols over Thread. You could use for instance LwM2M with its Firmware Update object, updatehub or hawkbit. But there's no out-of-the box example demonstrating how to combine these DFU protocols with Thread.

Pleas

[2021-07-08 10:34] khalidjmi1200 commented on #36778
Hi @de-nordic and @Laczen,

Thanks for your prompt reply. I will investigate the way to communicate through smp_server from the other device. I will let you know.
Thanks once again

[2021-07-08 11:17] benediktibk commented on #36796
modules/civetweb/lib..__modules__lib__civetweb.a seems to get compiled differently, depending on the board. In the bad case its relocation table references ferror, in the good case it does not.

[2021-07-08 11:47] hjuul opened #36802 "MCUboot doesn't work with encrypted images on external flash"
I have a custom board with stm32f777 and I use MCUboot with the secondary-slot in QSPI flash. Firmware updates work well as long as I don't turn on image encryption support.

But when I compile MCUboot with `-DCONFIG_BOOT_ENCRYPT_RSA=y` the image swap fails spectacularly, to the point where my device is bricked. This happens regardless of whether the new firmware image is encrypted or not.

**Logs

[2021-07-08 12:20] benediktibk commented on #36796
Created a pull request for the fix. Although I must say, I do not like the fix. It just relies upon optimizations to remove the calls to ferror/fileno. I think the better solution would be to check if these functions are available in civetweb, or implement them for the targets.

[2021-07-08 12:21] benediktibk commented on #36796
PR: #36803

[2021-07-08 12:29] Laczen commented on #36802
Hi @hjuul, could you share your dts definition file. I think that somehow the mcuboot region is being erased. It might be that your scratch area is on the qspi flash (which is unaccepatble for a encrypted setup).

[2021-07-08 12:52] hjuul commented on #36802
This is the relevant part of my dts file. Scratch area is in internal flash.

[code]

[2021-07-08 13:03] #36789 closed

[2021-07-08 13:04] #10676 closed

[2021-07-08 13:12] Thalley commented on #33777
This could also be expanded into more than just the UUIDs, e.g. be used to set the GAP device name in the advertising data or other GATT profile/service data.

[2021-07-08 13:17] XavierChapron commented on #36600
Hi @joerchan
Were you able to have a first look at this issue?
Does it fells like a mis-usage from my side, maybe a badly configured Kconfig ? Or do you think that's a real bug in Zephyr implementation ?
Thanks for your help.

[2021-07-08 13:45] hongshui3000 opened #36808 "xtensa xcc build Fail , CONFIG_NO_OPTIMIZATIONS=y"
**Describe the bug**
xtensa xcc build  Fail ,
[code]

**Logs and console output**
[code]
**Environment (please complete the following information):**
 - OS: Windows
 - Toolchain XCC

[2021-07-08 13:58] Laczen commented on #36802
@hjuul, OK, it's not the place of the scratch partition.

Could you add the logging output of a succesfull non-encrypted update. BTW are you sure it worked OK ? Did you use change the output somehow of updated the version number ?

[2021-07-08 14:09] fabiobaltieri opened #36811 "Clarify Z_ APIs naming conventions and intended scope"
Hi, I was trying understand the intended scope and recommended usage of `Z_` prefixed macros in Zephyr, specifically `Z_STRUCT_SECTION_ITERABLE`, but I haven't been able to find explicit documentation about it.

My understanding from the usage in the device model code, and the commit that excludes them from the external documentation (https://github.com/zephyrproject-rtos/zephyr/commit/fb4d9c04111

[2021-07-08 14:22] de-nordic commented on #36778
@khalidjmi1200 Can you convert the issue into discussion, so that it would not be hanging over our heads as a bug?

[2021-07-08 14:38] fabiobaltieri commented on #36571
Hey that's great, I imagine every LoRa + Zephyr based project in the field had to implement that at application level, fantastic to get a common one.

However, I'm more concerned about the usability of the `lorawan/class_a` sample. With this change, out of the box the sample is only going to be able to perform OTAA at the first try once. Then it would only succeed on the second try, then third etc

[2021-07-08 15:45] CanastraRF opened #36814 "Wrong format type for uint32_t"
In subsys/logging/log_output.c is a wrong format type for uint32_t

[code]
%d is for signed int.
uint32_t is unsigned int.
For unsigned int %u should be used.
example:
[%02u:%02u:%02u.%03u,%03u]
Please fix this

[2021-07-08 16:54] Laczen commented on #36802
@hjuul, there is something wrong in the size of the qspi flash device, this should be DT_SIZE_M(32). I don't think it is related, but you should adjust this as well as the storage area.

[2021-07-08 17:37] ceolin commented on #17021
SMP is being around for while and it seems to be working fine. If a related problem appears I re-open it.

[2021-07-08 17:37] #17021 closed

[2021-07-08 20:23] cgturner1 opened #36819 "qemu_leon3 samples/subsys/portability/cmsis_rtos_v2 samples failing"
When running twister on main encountered repeated failures for the qemu_leon3 arch for the following samples:

- samples/subsys/portability/cmsis_rtos_v2/philosophers/sample.portability.cmsis_rtos_v2.philosopher.semaphores
- samples/subsys/portability/cmsis_rtos_v2/philosophers/sample.portability.cmsis_rtos_v2.philosopher.same_prio
- samples/subsys/portability/cmsis_rtos_v2/philosophers/sample.por

[2021-07-08 22:29] yerabolu commented on #35971
@enjiamai: Could you take a look at this issue?

[2021-07-08 23:20] palchak-google opened #36823 "Build excludes paths to standard C++ headers when using GNUARMEMB toolchain variant"
**Describe the bug**
Using the `gnuarmemb` toolchain variant to build a trivial application fails if any source file in the application includes a standard C++ header.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a trivial Zephyr C++ app with CONFIG_CPLUSPLUS=y. Put the following in `main.cc` (or `main.cpp` if you prefer):
[code]

2. Attempt to to build the app using the 'gnuarmemb

[2021-07-08 23:32] palchak-google commented on #36823
Further investigation shows that if `CONFIG_NEWLIB_LIBC` is set, then the `-nostdinc` flag is not added to the build. However, even when not linking against `newlib`, headers such as `<cstdint>` and `<cstddef>` should be available.

[2021-07-08 23:42] enjiamai commented on #35971
@yerabolu yes, I will submit a fix today, thanks for the reminder.

[2021-07-09 01:37] cfriedt commented on #33449
@galak - looks as though this one is done - are there any other deprecated items to remove?

[2021-07-09 01:42] #36466 closed

[2021-07-09 03:52] davedesro commented on #27525
Hi there. 'intercreate' here. (I converted the github account to an organization recently).
So, since posting this originally, I have successfully used the STM32 USBPD libraries with Zephyr using hacked up out of tree cmake scripts. It works, sure.. but after going through it, I don't believe it is a good setup to be integrated into Zephyr. For starters, it requires CMSIS RTOS v1 api, but the head

[2021-07-09 06:43] erwango commented on #35850
@affrinpinhero-2356 This problem was showing up from time to time during month of May, but it seems that has been several weeks w/o reproduction. Thanks for the test. Let's close it for now

[2021-07-09 06:43] #35850 closed

[2021-07-09 08:29] #36048 closed

[2021-07-09 08:32] rick1082 commented on #36048
The behavior from Zephyr host is correct, we fixed this issue in controller side. Thanks for the great comments :)

[2021-07-09 10:19] #36598 closed

[2021-07-09 12:52] erwango commented on #36796
Closing as https://github.com/zephyrproject-rtos/zephyr/pull/36803 is now merged. Txs @benediktibk !

[2021-07-09 12:55] kentindell commented on #36724
I'd just like to point out that eliminating priority inversion isn't an "enhancement": priority inversion is a dangerous flaw in a real-time system. When it is in CAN drivers, the latency of an urgent message can grow hugely from a few hundred microsecond to hundreds of milliseconds, and it can do this unpredictably, leading to Heisenbugs that cannot be replicated in a test environment.

This has

[2021-07-09 13:10] #36172 closed

[2021-07-09 13:17] henrikbrixandersen commented on #36724
You are quite right. I have removed the enhancement label from this meta issue. I agree that this bug needs fixing.

[2021-07-09 14:40] #36718 closed

[2021-07-09 14:48] vaussard commented on #36593
I read again the commit message of 899228b but I do not see where the overwrite mode is mentioned. It mentions that the original packet could be overwritten by fresh data (once unrefed), but says nothing about the newly allocated packet:

link local addresses of the received packet somewhere in order
to know where to send the new error message.
Easiest is to store the ll addresses is to the error

[2021-07-09 16:07] JonathanVanWin opened #36849 "drivers: serial: stm32: Software flow control"
**Is your enhancement proposal related to a problem? Please describe.**
On the **stm32f411** errata sheet, at **2.5.5**, there is a hardware flow control problem
described (*nRTS signal abnormally driven low after a protocol violation*).

**Describe the solution you'd like**
I would like to add to the USART bindings an optional property for the **rts** pin.
The reason is that there is no way of kn

[2021-07-09 16:38] nxf58843 commented on #29545
For anyone else who gets to this issue because python cannot find 'cryptography.hazmat.primitives.asymmetric.ed25519'
I ran into this and finally realized that pip was only installing for python 2.7.  I had to install cryptography with pip3 to fix it.
`pip3 install cryptography --force-reinstall`

[2021-07-09 17:33] protobits opened #36851 "FS logging backend assumes littlefs"
**Describe the bug**
FS Logging backend is assumed to be used with littlefs

**To Reproduce**
Steps to reproduce the behavior:
1. set:
<pre>
CONFIG_FILE_SYSTEM=y
CONFIG_FAT_FILESYSTEM_ELM=y

CONFIG_LOG_BACKEND_FS=y
</pre>
2. Got build error: `cannot find -lLITTLEFS`

**Expected behavior**
FS Logging backend should be usable with other filesystems.

**Impact**
Cannot use FAT FS

**Logs and console

[2021-07-09 17:34] enjiamai opened #36852 "acrn_ehl_crb: the test of tests/subsys/cpp/libcxx/ failed"
**Describe the bug**
The test case of tests/subsys/cpp/libcxx/ failed.  (cpp.libcxx.cpp.libcxx.newlib.exception)

After bisect, the failure start from this commit :   615371900ed4165fefa5c03f7b6df34ac18bdefa,  it previous commit 518dd32efee6ad999432327f316e3cf0feabe47b is good.
"tests: cpp: libcxx: Use full version of newlib for testing"

Note: this issue only happened on acrn_ehl_crb board.

**To

[2021-07-09 18:28] dleach02 commented on #33747
@ainguraXmarquiegui, do you have any feedback on hake's latest code changes?

[2021-07-09 20:04] cfriedt commented on #36568
Thanks for finding that @chyu313. Will you also make a PR to fix?

[2021-07-09 20:56] cfriedt commented on #35703
I find the test that is failing to be somewhat confusing.
[code]

* it's entirely feasible that some number of nanoseconds could have expired between the two calls to `clock_gettime()`, so it's almost as if the test had been designed under the wrong assumption. Assuming that the timer resolution would always be coarse enough is probably not the safest assumption.
* even assuming that `CLOCK_REALTI

[2021-07-09 22:02] dleach02 commented on #3884
@d3zd3z close this if you believe it is covered by the MQTT demo... and the items in the list.

[2021-07-09 22:02] dleach02 commented on #3885
yes

[2021-07-09 22:02] #3885 closed

[2021-07-09 22:06] dleach02 commented on #3677
@carlescufi, is this still valid?

[2021-07-09 22:12] Tubbles opened #36857 "i2c_samd0.c burst write not compatible with ssd1306.c"
Running Zephyr with a SSD1306 compatible OLED screen does not work over I2C

I am running with a [seeeduino xiao](https://wiki.seeedstudio.com/Seeeduino-XIAO/) and its accompanying [dev kit](https://wiki.seeedstudio.com/Seeeduino-XIAO-Expansion-Board/) which features a SSD1306 compatible 128x64 pixels OLED screen, accessed over the I2C bus.

Comparing with a similar library from the Arduino ecosys

[2021-07-09 22:14] dleach02 commented on #8876
https://github.com/zephyrproject-rtos/zephyr/pull/9825

[2021-07-09 22:14] #8876 closed

[2021-07-09 22:17] dleach02 commented on #10378
@carlescufi this seems like it should be converted to a discussion with the last comment basically being the answer. What do you think?

[2021-07-09 22:27] dleach02 commented on #5450
@nashif I see that this -Wshadow can be enabled with the -DW=<1|2|3>. It generates a lot of warnings though.

[2021-07-10 00:39] palchak-google opened #36858 "Static object constructors execute twice on the NATIVE_POSIX target"
**Describe the bug**
All C++ global object constructors are executed twice upon startup of a NATIVE_POSIX executable. This breaks code that relies upon constructor side effects (such as registering unit tests with a test framework).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a trivial C++ application with the following `main.cc`:
[code]

2. Build the application for the `native_p

[2021-07-10 02:26] legoabram opened #36859 "Possible Advertising PDU Corruption if bt_enable called in SYS_INIT function"
**Describe the bug**
I've encountered an extremely bizarre behavior that occasionally occurs if `bt_enable` is called within a function called using the `SYS_INIT` macro, and using a connectable advertising set. The first transmission made in this configuration doesn't complete correct. The following graph shows GPIO lines that I've tied to the `NRF_RADIO_EVENT_TXREADY`, `NRF_RADIO_EVENT_RXREADY`,

[2021-07-10 10:10] chyu313 commented on #36568
Thanks for reviewing. I have made a PR.

[2021-07-10 10:47] mniestroj commented on #33449
Deprecated DT properties: #36862 #36863

[2021-07-10 12:07] jefffhaynes commented on #25917
I'm seeing the same thing when I spam bt_gatt_notify.  This seems like a dangerous bug since there's no way to really know if you'll exceed the threshold for overflow.  Much better would be to simply return an error that could optionally be ignored for non-critical notifications.

[2021-07-10 12:45] protobits commented on #36851
BTW, there's also this warning:
<pre>
/home/v01d/coding/embebit/ble_tracker/zephyr/subsys/logging/log_backend_fs.c:459:10: warning: initialization of 'void (*)(const struct log_backend * const)' from incompatible pointer type 'void (*)(void)' [-Wincompatible-pointer-types]
  .init = log_backend_fs_init,
</pre>

[2021-07-10 16:08] jefffhaynes opened #36865 "k_work_q seems to check uninitialized flag on start"
When initializing a work queue with `k_work_q_start`, the passed work_q stuct is not initialized (nor do any of the documentation or examples indicate that it should be).  Consequently, if the `K_WORK_QUEUE_STARTED_BIT` happens to be set via dumb luck, this assert will fail:

https://github.com/zephyrproject-rtos/zephyr/blob/db9756045e1ae2282ac5c23c98e81d77b35ad19b/kernel/work.c#L674

[2021-07-10 16:21] #31739 closed

[2021-07-10 16:41] #34829 closed

[2021-07-10 16:44] #36270 closed

[2021-07-10 17:36] beriberikix commented on #36324
Big fan of this improvement and the approach. We're coming from the angle of a new user getting started. Downloading everything adds meaningful time and tends to confuse our new users.

Instead of waiting for the TSC to propose groupings, maybe we can vote on the proposed list in the RFC?

Once this is upstream I would suggest including some mention of it in https://github.com/zephyrproject-rtos/e

[2021-07-10 18:23] 1am opened #36866 "CONFIG_NO_OPTIMIZATIONS=y MPU fault on Zephyr 2.6"
**Describe the bug**

Hello. I've been trying to move a small project built around Zephyr 2.5 to v2.6 and kept getting one issue which I couldn't figure out -  Whenever I've set `CONFIG_NO_OPTIMIZATIONS=y` (for debugging) my application fails. When I set `CONFIG_NO_OPTIMIZATIONS=n` the code works. I'm using nrf52832DK as the target for this test.

Eventually setting my app aside I went to work wit

[2021-07-11 00:29] #34544 closed

[2021-07-11 00:29] #34315 closed

[2021-07-11 04:39] cvinayak commented on #36859
I am not sure if bt_enable is callable from SYS_INIT with "any" (priority) order of initialization of modules in Zephyr application. Other Bluetooth Subsystem threads are needed to be executed in co-operation to ensure proper operation of the stack.

Setting the priority of this issue low, consider that `bt_enable` is called from system initialization there will be high interrupt latencies introdu

[2021-07-11 08:12] alexanderwachter commented on #36866
You are running into a stack overflow, because your code needs more stack when it is not optimized.

[2021-07-11 08:16] alexanderwachter commented on #36858
Ping @stephanosio @aescolar

[2021-07-11 08:24] alexanderwachter commented on #36823
@palchak-google C++ needs newlib to build. You cannot use C++ on Zephyr without newlib, because it relies on the lib C implementation.
@stephanosio we had this topic several times already. Maybe we should add a dependency to newlib for C++ builds.

[2021-07-11 08:32] alexanderwachter commented on #36724
@kentindell you are right. We are working hard on this topic. The API change will include a rework of the send API call that makes it context based without any limits of buffers. Not sure about the ETA tough.
Thanks again for pointing out this bug! For me it was not obvious that we have a problem there.

[2021-07-11 09:53] Faizan-Ellahi-DE opened #36869 "Direction Finding Connectionless porting to nrf52811"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
Describe in details the hardware support being requested and why this support benefits Zephyr.

**Describe why you are asking for this support?**
Describe why you are asking for this support instead of contributing it directly to the tree

If this is a new board or SoC, please

[2021-07-11 09:54] Faizan-Ellahi-DE commented on #36869
Hello,

[2021-07-11 10:07] Faizan-Ellahi-DE commented on #36869
Hello,
I am looking to port the existing code "Direction Finding Connection TX" to nrf52811, I am stuck at bt_df_set_adv_cte_tx_param(adv_set, &cte_params) function, it returns an error -134 (Unsupported Value), after some deep diving i have found that my code is not going inside le_df_init() function because BT_FEAT_LE_CONNECTIONLESS_CTE_TX(bt_dev.le.features) is not returning a non-zero value. K

[2021-07-11 11:31] 1am commented on #36866
Thank you @alexanderwachter. Indeed setting `CONFIG_BT_RX_STACK_SIZE=2048` helps though in case of my app I'm now getting another issue.

[code]

Since it's a different problem I'll close this issue and try to figure it out.

[2021-07-11 11:31] #36866 closed

[2021-07-11 19:43] henrikbrixandersen commented on #26541
Trying to get the ball rolling on this one...

Some CAN controllers (e.g. the Bosch M_CAN) supports mixing dedicated Tx buffers with either a Tx FIFO or a Tx queue and does internal arbitration between the Tx buffers and the FIFO/queue according to message priorities and/or place in FIFO/queue.

Would it make sense to try to come up with revised Zephyr CAN driver API, which allows for utilizing th

[2021-07-11 19:55] kentindell commented on #26541
What we did in the CANPico drivers for the MCP2518FD (which uses MCAN) was use the 32-entry "TXQ" priority queue, and then we have a separate FIFO in software that feeds the priority queue (so that the front frame of the FIFO is in the priority queue). That allows a segmented message to go into the FIFO queue. We only have a single FIFO for simplicity but more could be defined as long as the head

[2021-07-11 20:12] henrikbrixandersen commented on #36767
Duplicate of #36416?

[2021-07-11 20:15] alexanderwachter commented on #26541
@henrikbrixandersen  here is the first attempt to solve the problem. It is a while since i wrote this code. I think we should give it a try. https://github.com/alexanderwachter/zephyr/blob/can_send_rework/include/drivers/can.h

[2021-07-11 20:35] henrikbrixandersen commented on #7290
As far as I can tell, the following in-tree SoCs already enables support for the RTC:
- k64f
- k66f
- k8xf
- ke1xf
- kw41z

The following in-tree SoCs should support it, but does not enable it yet:
- k22f
- kw22d
- kw24
- kl25z
- kw40z

[2021-07-12 03:46] #36767 closed

[2021-07-12 04:45] MarkWangChinese opened #36872 "Integrate Android bluedroid SBC decoder/encoder"
## Origin

Android
https://cs.android.com/android/platform/superproject/+/master:system/bt/embdrv/sbc/

## Purpose

Implement the SBC decoder and encoder.

## Mode of integration

It is Apache 2.0 license, and it is maintained by the Android.
Suggest to integrate this as one external component, the repository name as "sbc".

## Pull Request

https://github.com/zephyrproject-rtos/zephyr/pull/31583

[2021-07-12 05:08] hongshui3000 opened #36873 "USB AUDIO Byte alignment issues"
**Describe the bug**
I found that the usb descriptors are all single-byte aligned, but the uint16_t * pointer is used in the code to directly access the descriptor data. This will cause alignment problems, depending on the overall offset of the descriptor.

zephyr\subsys\usb\class\audio\audio.c
[code]
[code]

[2021-07-12 06:26] stephanosio commented on #36852
@enjiamai Is the same failure also observed on `acrn` board?

[2021-07-12 06:31] stephanosio commented on #36852
@enjiamai Also you noted here that the failure starts from https://github.com/zephyrproject-rtos/zephyr/commit/518dd32efee6ad999432327f316e3cf0feabe47b.

Could you double check that it is actually from https://github.com/zephyrproject-rtos/zephyr/commit/518dd32efee6ad999432327f316e3cf0feabe47b and not https://github.com/zephyrproject-rtos/zephyr/commit/7e47ef281eccd7d1391bcdcf92affd7493c0dbd3?

[2021-07-12 06:37] stephanosio commented on #36823
@palchak-google Similar issue has been observed and discussed here: #36644.

In general, although not currently enforced, you should consider that, in order to utilise C++ standard headers, you must set `CONFIG_LIB_CPLUSPLUS=y` (i.e. use libstdc++), which depends on `CONFIG_NEWLIB_LIBC`, which has the effect of omitting `-nostdinc` flag.

This problem will eventually be addressed when #36644 is re

[2021-07-12 07:02] Faizan-Ellahi-DE commented on #36869
File Location: \zephyr\soc\arm\nordic_nrf\nrf52\Kconfig.soc
Sdd Radio BLE Direction Finding Flag in NRF52811 soc config

[2021-07-12 07:02] #36869 closed

[2021-07-12 07:16] MarkWangChinese commented on #33052
Hi @carlescufi I created one PR https://github.com/zephyrproject-rtos/zephyr/pull/36876, please check whether it is what you expect.

[2021-07-12 08:17] hjuul commented on #36802
@Laczen Here's the output of the exact same setup, except I've set `CONFIG_BOOT_ENCRYPT_RSA=n` in MCUboot. It seems everything is working fine, except it takes a lot longer than expected (time seems to scale with the size of the defined partition, not the size of my image, ref [my recent Slack post](https://zephyrproject.slack.com/archives/CG77J8ZJS/p1625664553028900))
[code]
(the last line is the

[2021-07-12 08:28] hjuul commented on #36802
And @Laczen, thanks for the tip about the problem in my DTS file. As you expected it didn't fix this particular problem but very good to have it fixed anyway!

[2021-07-12 08:45] de-nordic commented on #36851
I think that the logging system supports LittleFS. because, currently, this is the only file system that supports auto-mount.

[2021-07-12 08:46] Laczen commented on #36802
@hjuul, regarding the slow update (scaling with slot size), are you using confirmed images ?

Regarding the problem with encrypted images, have you checked that mcuboot is still smaller then 64kB ?

[2021-07-12 09:32] rlubos commented on #36659
I'm not able to reproduce the third failure (the `echo_client` one), perhaps you need to run a clean build?

[2021-07-12 09:34] ExtremeGTX opened #36882 "MCUMGR: fs upload fail for first time file upload"
**Describe the bug**
When a user use `mcumgr-cli` to upload a new file to the device, the upload may stuck in the middle of uploading.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b stm32f769i_disco .\samples\subsys\mgmt\mcumgr\smp_svr
2. Use the attached .config
3. west build

**Expected behavior**
Successful file upload.

**Impact**
**Workaroud:** File needs to be re-uploade

[2021-07-12 10:16] enjiamai commented on #36852
Hi @stephanosio , the is also failed on acrn board

[2021-07-12 10:19] enjiamai commented on #36852
Sorry, @stephanosio , after I double check it, the failed commit is start from 615371900ed4165fefa5c03f7b6df34ac18bdefa
bad  => 615371900ed4165fefa5c03f7b6df34ac18bdefa (tests: cpp: libcxx: Test with full and nano variants of newlib)
good => 518dd32efee6ad999432327f316e3cf0feabe47b (tests: cpp: libcxx: Use full version of newlib for testing)
good => f0e3280c61e6794038e01dcadc167943e8f1b990 (cpp: F

[2021-07-12 10:36] de-nordic commented on #36882
This log is result of `fs_stat` trying to figure out whether the file exists, before attempting to truncate it for the purpose of overwrite. The -2 means `-ENOENT`.

Can you run the cli with `--loglevel=debug` and see what is happening?
What error is returned by the cli?

[2021-07-12 11:35] hjuul commented on #36802
@Laczen Yes, I'm using confirmed images. Would that explain it?

It seems my bootloader is still smaller than 64KiB even with encryption enabled (this is with debug logging enabled):

[code]
With encryption disabled the image is about 10KB smaller.

[2021-07-12 12:51] Thalley opened #36885 "Update ISO API to better support TWS"
**Is your enhancement proposal related to a problem? Please describe.**
The current API lets the user bind one or more ACL connections to one or more (unconnected) CIS (iso channels). This works fine as long as the TWS setup process is

1. ACL connect device 1
2. ACL connect device 2
3. ISO bind the ACL to ISO channels (creating the CIG)
4. ISO connect both devices

But will not support

1. ACL co

[2021-07-12 12:56] sylvioalves commented on #35978
@lgl88911 Hi, are you able to re-test this with latest main branch?

[2021-07-12 12:58] Thalley commented on #36885
My suggestion to update the API would be to remove the concept of linking channels, and replace it by a `bt_iso_create_group` API, which would be responsible for creating the CIG/BIG, keep that completely separate from ACL connections. Some of the other API functions would then work on groups, rather than a single channel (similar to how some of the broadcast API functions are implemented).

The `

[2021-07-12 13:04] #36796 closed

[2021-07-12 13:10] Laczen commented on #36802
When you are using confirmed images the image size becomes the slot size (something is written at the end of the image), and probably this also enforces mcuboot to copy all flash pages even if they contain 0xff. You could try and see if unconfirmed image do a faster swap.

I am getting more and more convinced there is nothing wrong with the zephyr or configuration part. I guess there is something

[2021-07-12 13:19] ainguraXmarquiegui commented on #33747
@dleach02 , I'm sorry. I have  been away for a few days. I'm back now. II want to run a few more tests and I will get back to you before the week ends.

[2021-07-12 13:21] #33449 closed

[2021-07-12 13:53] cederom opened #36889 "string.h / strcasestr() + strtok()"
Hello world :-)

It would be really nice to have `strcasestr()` and `strtok()` functions in standard Zephyr C library and `string.h`:-)

Maybe Zephyr could use such functions from the build host OS when not available in Zephyr? I know that may introduce compatibility problems but for testing before they are available in the upstream that would be some sort of solution :-)

Thank you :-)
Tomek

[2021-07-12 14:24] cfriedt commented on #36889
Hi @cederom

The reentrant `strtok_r(3)` is available in Zephyr's minimal C library [here](https://github.com/zephyrproject-rtos/zephyr/blob/main/lib/libc/minimal/source/string/string.c#L180) and it is highly encouraged to use that instead of `strtok(3)` to eliminate race conditions.

Similarly, `strncasecmp(3)` is available in Zephyr's minimal C library [here](https://github.com/zephyrproject-rto

[2021-07-12 14:24] #36889 closed

[2021-07-12 14:28] cfriedt commented on #36851
Might be necessary to add a `depends` in Kconfig and potentially a runtime check. Any thoughts, @de-nordic ?

[2021-07-12 14:55] xhpohanka opened #36891 "Significant TCP perfomance regression"
**Describe the bug**
The commit c6fac25e87323e86540674166af40c0a4da767be introduces significant drop in TCP performance for my application which is a web server built around civetweb.

With this commit data buffer allocations often fail. RX direction is worse than TX. Eg. file upload is more than 4times slower.

[code]

Tomorrow (hopefully) I will try to share more details.

[2021-07-12 15:06] cfriedt commented on #35552
Marking this as high-priority, as aligning on next major release of mbedTLS would be desireable.

[2021-07-12 15:08] cfriedt commented on #36298
fwiu, this aligns with #35552 on getting the next major revision of mbedTLS into Zephyr LTS. Setting a priority to reflect that.

[2021-07-12 15:26] cfriedt opened #36896 "tests: net: select: still failing occasionally due to FUZZ"
**Is your enhancement proposal related to a problem? Please describe.**
The test `tests/net/socket/select/net.socket.select.preempt` fails in a occasionally when `tstamp <= FUZZ`. It's not a regular failure but is a statistical unlikelihood.

**Describe the solution you'd like**
Would be ideal if the uncertainty was mitigated, as unpredictable build failures are undesireable.

**Describe alternati

[2021-07-12 15:30] de-nordic commented on #36851
Yeah, I think it should be. There is dependency on `FILE_SYSTEM` instead, because the original work has been to let any FS.
The problem is that the fs needs to be initialized quite early, for that purpose, but the FAT FS uses different flash access than the Littlefs, and it was not possible to get both into auto-mount.

[2021-07-12 15:38] cfriedt commented on #32665
Marking as low-priority, but feel free to escalate based on your triage @cvinayak

[2021-07-12 16:04] protobits commented on #36851
I haven't yet confirmed it is possible to use FAT based logging to SD card as I'm having issues writing to SD card using ESP32 but my understanding was that I would mount the card at boot on my own. Also, looking at the code I understood that logging attempts to access the file based backend on every log operation and it would eventually succeed once the file is available.

[2021-07-12 16:11] manoj153 opened #36904 "make existing gpio_pin_configure_dt() to configure interrupt seamlessly from DT info, if interrupt related config found"
**Is your enhancement proposal related to a problem? Please describe.**
Not a problem, but rather an enhancement/suggestion

**Describe the solution you'd like**
I think it is doable and nice to have that the existing `gpio_pin_configure_dt()`  configures interrupt.
as long the DT_FLAGS are agreeing and bits are not unique to their sole function
This will allow such possibility in device tree defi

[2021-07-12 16:17] carlescufi opened #36905 "Improve (k_)malloc and heap documentation"
In Zephyr there are two kinds of heaps:

- kernel-provided heaps
- libc-provided heap

Kernel-provided heaps (among them system heap) are documented here: https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/zephyr/reference/kernel/memory/heap.html#heap-v2

As for libc-provided heaps, matters are more complicated. First of all there are several types of C library (among them minimal libc an

[2021-07-12 16:48] de-nordic commented on #36851
It probably is; the problem is that the logging will start when your application, or something else, explicitly mounts the FAT FS.

[2021-07-12 17:10] cfriedt commented on #36808
Could you provide a bit more context for reproducibility?

E.g.
[code]

Is this with the Zephyr SDK? If so, which revision?

[2021-07-12 17:27] allen-k-liu commented on #30564
@sslupsky I'm trying to adopt gnss api for our zephyr porting on silab pg board.  do you have any suggestion or any reference that we can work on?
Thanks!

[2021-07-12 17:54] jenmwms commented on #32603
Thanks for checking! Interesting that the time elapsed increased .1 seconds. We will keep this bug open and keep investigating.

[2021-07-12 18:37] brycewilkins opened #36909 "Shell `log` commands crash the system if `CONFIG_SHELL_LOG_BACKEND` is not defined"
**Describe the bug:**
When accessing the shell over RTT channel 0 and the log backend over RTT channel 1, some `log` shell commands (e.g. `log status`, `log go`, etc.) will crash the system if the shell log backend (`CONFIG_SHELL_LOG_BACKEND`) is not configured.

It is easy to avoid the problem by not executing some `log` commands, however a new user of Zephyr RTOS is unlikely to be aware of such

[2021-07-12 20:28] sslupsky commented on #30564
@allen-k-liu I built an API using the header I posted above and implemented a driver for a u-blox gnss device (SAM-M8Q).  The driver and API work for my use case but it is not a complete solution.  I am a couple zephyr versions behind so the code needs to be rebased to work with the most recent release of Zephyr.  If someone was interested to collaborate on the code development it might make sense

[2021-07-12 21:10] allen-k-liu commented on #30564
thanks a lot @sslupsky ! I'm interested to do so.  We original planed to use u-blox m8q but probably will switch to sony's cxd5605.  I'm not familiar with RFC PR, is it something you will summit to zephyr to merge to main line?

[2021-07-12 22:22] cfriedt commented on #36783
@konovagit - could you possibly create a PR and reference this issue in your commit message with `Fixes #36783`.

Thanks!

[2021-07-12 23:23] sslupsky commented on #30564
@allen-k-liu I had a look at the PG board:
https://www.silabs.com/documents/public/user-guides/ug474-pg22-dk2503a-user-guide.pdf

does this board have gnss capability?

[2021-07-12 23:42] allen-k-liu commented on #30564
@sslupsky i just did quick scan, i don't see it.  I used efm32pg12 (stk3402a) that zephyr has supported.  But I haven't figure out where to insert gps module.  probably under zephyr/module/gps/

[2021-07-12 23:51] #36858 closed

[2021-07-13 00:08] #36578 closed

[2021-07-13 00:16] #36568 closed

[2021-07-13 00:30] protobits commented on #33876
If this is still an issue preventing lora to be used on ESP32 maybe we can keep this open to track the missing feature?

[2021-07-13 01:06] cfriedt commented on #36891
@rlubos - would you be able to verify this regression?
@xhpohanka - can you also specify the value you have for `CONFIG_NET_LOG_LEVEL`?

[2021-07-13 01:11] cfriedt commented on #36909
@brycewilkins - it sounds as though you have identified the root cause. Would you be willing to make a PR to fix it?

[2021-07-13 01:19] cfriedt commented on #36873
@hongshui3000 - it sounds like you might have provided a fix. Are you able to make a pull request? If so, please make sure you mention this issue in the commit log - e.g. `Fixes #36873`.

[2021-07-13 02:11] hongshui3000 commented on #36808
@cfriedt
The architecture I use is xtensa and the compiler is xcc.
As long as CONFIG_NO_OPTIMIZATIONS=y, the program cannot be built, regardless of whether log is enabled or not.

[2021-07-13 05:35] xhpohanka commented on #36891
This issue is independent to LOG_LEVEL, but i have there INF usually.

I also forgot to mention that I see this on stm32h7 platform.

[2021-07-13 05:42] brycewilkins commented on #36909
@cfriedt Yes, I can put up a PR to fix it.

[2021-07-13 07:10] nordic-krch commented on #36909
@brycewilkins i've disabled those commands when logging is not enabled.

[2021-07-13 07:47] gmarull opened #36917 "Runtime device PM is broken on STM32"
**Describe the bug**

@erwango reported that device PM related tests started to fail on STM32 targets after the introduction of device PM enum states cc2f0e9c08dcad59a4cc0117028a5fcf9d73f433. After some investigation, it turns out that the change to enums uncovered an existing issue on the STM32 pinmux driver.

Prior to the enum changes, we had:
https://github.com/zephyrproject-rtos/zephyr/blob/79

[2021-07-13 10:01] SiyuanCheng-CN opened #36924 "embARC Machine Learning Inference Library from Synopsys"
## Pull request

PR: [#36922](https://github.com/zephyrproject-rtos/zephyr/pull/36922)

## Origin

name: embARC Machine Learning Inference Library
link: [embarc_mli](https://github.com/foss-for-synopsys-dwc-arc-processors/embarc_mli.git)
branch: zephyr_embARC_mli

## Purpose

The primary purpose of this library is to enable developers to efficiently implement and/or port data processing algorithms

[2021-07-13 10:49] nordic-krch opened #36925 "Add support for logging v2 in MIPI SyS-T"
**Is your feature request related to a problem? Please describe.**
Logging v2 has been around for some time but there are some features not adapted to it and because of that it is still not the default one. One of the missing piece is MIPI-SyS-T.

[2021-07-13 11:07] rlubos commented on #36891
We had reports of the [decreased UDP performance](https://github.com/zephyrproject-rtos/zephyr/issues/36606), but it was rather related to the extra mutex protection added to the net stack, not the buffer allocation.

Actually, the only change that the commit you mention introduced, is the buffer pool used for allocation. `net_pkt_alloc_with_buffer()` is just a thin wrapper over `pkt_alloc_with_bu

[2021-07-13 11:12] xhpohanka commented on #36891
I will check it, thanks

[2021-07-13 11:13] stephanosio commented on #36905
TODO (RFC):

1. Add memory management-related section under [API Reference-C standard library](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/zephyr/reference/libc/index.html) covering both minimal C library and newlib.
2. Add "Dynamic Memory Management" (or just "Memory Management") section under [User and Developer Guides](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/

[2021-07-13 11:33] cederom commented on #36889
Thank you @cfriedt this is exactly what I need :-)

If this is internal Zephyr implementation why does not start it with `k_` or `z_` prefix? Like `k_msleep()`? :-)

[2021-07-13 12:22] JonathanVanWin commented on #34763
What is the state of this issue?
Is somebody working on the double buffer mode?

[2021-07-13 12:32] koutaiba95 opened #36926 "samples/boards/nrf/system_off wouldn't compile on Particle Xenon board"
**Describe the bug**
The sample for power measurement on nrf platform wouldn't compile on Particle Xenon. The compiler doesn't recognize button0 in lines 60 and 62 of the main.
As i have little experience i couldn't resolve the issue without consulting with someone. He pointed out to the mesh_feather.dtsi file in the dts folder of the board prticle_xenon.
Replacing button0 with its alias : mode_bu

[2021-07-13 12:40] xhpohanka commented on #36891
It seems a bit magic to me now but with `net_pkt_alloc_with_buffer()` everything is fine but with `pkt_alloc_with_buffer(pkt->slab,..)` the allocations are unsuccessfull with no respect to `NET_BUF_RX_COUNT` and `NET_BUF_TX_COUNT` size. I do not have unlimited SRAM, but I tried to double both with no progress...

[code]

[2021-07-13 12:52] erwango commented on #34763
@JonathanVanWin this is in our plans for this release if everything goes well (no excessive support requests aside), but not started so far. @FRASTM is out of office this week but will be back next week. You can sync with him at that time.

[2021-07-13 12:53] galak commented on #36517
Can we use the already generated ORDS value?

[2021-07-13 12:54] JonathanVanWin commented on #32037
If you are interested, I started developing the general API, and driver for ST https://github.com/zephyrproject-rtos/zephyr/issues/34631#issuecomment-879055848

[2021-07-13 13:05] de-nordic commented on #36517
The problem with ORDS is that they are unique identification of nodes across the entire DTS definition,, which means that the partition IDs generated from ORDs will depend on the node they are taken from, and can have non-consecutive values.
The proposal is intended to bring 0 based, consecutive ID values to PARTITION_ID, so that it would be possible to optimize access by ID, for example by collec

[2021-07-13 13:27] huelsenfruchtzwerg opened #36927 "LWM2M: Writing to Write-Only resource causes notification"
**Describe the bug**
Writing to any ressource that's declared as writable only triggers a notification, i.e. if the containing object is observed.

**Expected behavior**
Writing to non-readable ressources should not trigger a notification. At least that's how Leshan implements it (... I'm told)

**Impact**
Unnecessary Trafic/Power-Consumption

**Environment (please complete the following informati

[2021-07-13 13:42] #35377 closed

[2021-07-13 13:43] Thalley opened #36928 "Disconnecting ISO mid-send giver error in hci_num_completed_packets"
**Describe the bug**
If we are in the middle of sending ISO data on an iso channel (i.e. we have sent data, but have not yet received the num completed packets) when an ISO (or an ACL) disconnects (i.e. we get a disconnect complete event from the controller), we see the following fail:

[code]

There's nothing stopping us from deallocating iso channels while there is an ongoing write.

**To Reprod

[2021-07-13 13:44] Thalley commented on #36928
I couldn't (haven't yet) figured out how this is done for ACL connections, but I would assume that a solution would require taking a reference count when sending and dereference it when sent.

@Vudentz @jhedberg @joerchan Do you have any suggestions, or input on how this is done for ACL connections?

[2021-07-13 14:12] #36909 closed

[2021-07-13 14:28] keepitsimplejim opened #36929 "Failure to build OpenThread LwM2M client on nrf52840dk"
**Describe the bug**
When compiling attempting to build the 'samples/net/lwm2m_client' for board nrf52840dk_nrf52840 the following errors are raised.
As described in https://docs.zephyrproject.org/latest/samples/net/lwm2m_client/README.html for the board https://docs.zephyrproject.org/latest/boards/arm/nrf52840dk_nrf52840/doc/index.html

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir b

[2021-07-13 15:48] brycewilkins commented on #36909
Yeah, I discovered yesterday that `CONFIG_LOG_CMDS=n` masks the problem, but it has to be done explicitly (`CONFIG_LOG_CMDS` will default to `y` if SHELL is enabled).

Thanks @nordic-krch for the fix!

[2021-07-13 15:59] erwango commented on #36917
One thing we'll need to do to fix this is to move gpio init before any gpio users such as uart (through pinmux):
So, in gpio devices init macro:https://github.com/zephyrproject-rtos/zephyr/blob/a927ae39eda5ebc125437f3cee8fd741f0d161d5/drivers/gpio/gpio_stm32.c#L685-L690
`POST_KERNEL` should be replaced by `PRE_KERNEL_1`.

This change functionally fixes the issue.
Though, as mentioned, from archite

[2021-07-13 16:06] carlescufi commented on #36544
Raised in the API meeting. No objections raised.

[2021-07-13 16:10] carlescufi commented on #36435
API meeting: no objections raised.

[2021-07-13 16:15] carlescufi commented on #36485
API meeting (6th July): no objections.

[2021-07-13 16:27] jhedberg commented on #36928
@Thalley it's handled here: https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/bluetooth/host/conn.c#L1454

[2021-07-13 16:30] carlescufi commented on #36517
API meeting

- `struct device *partitions[NUM_PARTITIONS]` to translate from Partition ID to `struct device *` by using IDs as indices directly
- Would enforce partition IDs to be 0 .. N-1.
- @galak suggests using the preprocessor instead with `FOREACH` to generate the macros, instead of using `gen_defines.py`.
- Document the assumptions/constraints of Partition IDs (linearly ascending)

[2021-07-13 16:37] galak commented on #36517
It looks like we do most of what I'm thinking with in `subsys/storage/flash_map/flash_map_default.c` already.  And it would just be using the index of default_flash_map[] for the ID.

[2021-07-13 16:41] de-nordic commented on #36485
**Update to API implementation:**

Because adding the special API calls increases size of flash device structure significantly, the independent API calls to provide back-end for the `flash_get_page_info`, `flash_get_page_count` and `flash_get_size` will not be provided,
instead single API call, `flash_api_get_param` will be provided that will be taking the opcode for the parameter
to obtain; the i

[2021-07-13 16:53] de-nordic commented on #36517
The problem is that you do something lie FLASH_AREA_ID(storage) and this will give you 6, and you can not index with that number, because you have only, for example, 4 partitions enabled, but all are counted when ID is generated.

[2021-07-13 17:12] galak commented on #36926
This is expected as there is no nodelabel in the devicetree for `button0:` that is needed by this sample.

[2021-07-13 17:25] #36778 closed

[2021-07-13 17:25] galak commented on #36865
The question is what behavior one expects if we call this API with an already init kwork queue.

I'm guessing the assert was an attempt to check for that case.

[2021-07-13 17:36] jefffhaynes commented on #36865
Sure, I understand that but the issue is that this creates a sort of magic line that you can cross without warning and then you're in an assert condition.  It means this method can only be called "so often", where "so often" is largely an unknowable value.  I would consider either deprecating this in favor of the callback version or returning an error code on failure rather than bringing down the

[2021-07-13 17:36] galak commented on #36819
@martin-aberg

Seems like if memset is implemented as:

[code]

that fails on qemu_leon3.

[2021-07-13 17:52] carlescufi commented on #36811
@fabiobaltieri we have #29569 to track this, although unfortunately we haven't had much time lately to discuss this due to other priorities. Maybe you could close this one and add a comment there?

[2021-07-13 23:51] elliot-wdtl commented on #36667
I thought that it was expected to create a new file on each boot but I noticed that it treated file with index 0 differently to the rest.
https://github.com/zephyrproject-rtos/zephyr/pull/36946 addresses that but if it is intended to append to latest file on each boot additional changes will be required.

[2021-07-14 00:20] JordanYates opened #36947 "Tensorflow: Dedicated tflite-micro repository"
## Purpose

The tensorflow organisation has recently (June 25th) split out the tensorflow micro code into a dedicated repository, instead of being part of the parent tensorflow repo. The dedicated repository is considerably smaller (5.85MB instead of 680MB), and is where future development will take place. The old location of the tflite-micro code in the parent repository has been removed (https:/

[2021-07-14 00:41] Bee-Vision opened #36948 "Cluttering of logs on USB Console in Zephyr when CDC Shell is enabled"
I am experiencing the cluttering of logs on the USB Console NRF5340. I have already turned off the colors in prj.conf file, but still getting "[8D[J". Might be some escape sequence or so and this only happens if SHell is enabled with the USB console.
Here are my prj.conf file configurations

[code]

What have you tried to diagnose or workaround this issue?
If `CONFIG_UART_SHELL_ON_DEV_NAME="CDC_AC

[2021-07-14 01:06] cfriedt commented on #12405
@LeiW000 , @Zhaoningx - any progress on this?

[2021-07-14 01:12] cfriedt commented on #17656
@dcpleung - any luck with this one? I wonder if `k_is_in_isr()` should return `true` when handling a syscall. If so, it might be possible to construct a test case that defines a custom `__syscall`.

[2021-07-14 06:28] Laczen commented on #36485
@carlescufi, strange that API meeting did not detect the above.

@de-nordic, I support that there would be one function entry in an api to access and modify "configuratable items". However I think you are duplicating info to avoid syscalls, this is not a good idea.

[2021-07-14 06:37] chen-png commented on #32111
tried to install Intel OneApi toolchain on Windows, but I found that **icx will invoke clang-cl, rather than the clang on Windows**, and the clang-cl is used to be compatible with msvc cl compiler, t**here are some different options with clang**, so when I used icx to build zephyr binaries on windows, it reported some errors like below, because clang-cl doesn't those options "-x assembler-with-cpp

[2021-07-14 07:05] de-nordic commented on #36882
@ExtremeGTX Any new info on the issue?

[2021-07-14 07:30] ExtremeGTX commented on #36882
Sorry for the late reply, I didn't got the notification.
[mcumgr_fs_log.txt](https://github.com/zephyrproject-rtos/zephyr/files/6814296/mcumgr_fs_log.txt)

I think it is because of logger writing the `fs_stat` error to the shell.

[2021-07-14 07:37] rlubos commented on #36929
It seems that you forgot to call `west update`, the OpenThread module was updated recently and the errors indicate that you still use the older revision (for instance "Master Key" was renamed to "Network Key").

[2021-07-14 07:37] de-nordic commented on #36882
Are you using the same UART for mcumgr and for console?

[2021-07-14 07:38] ExtremeGTX commented on #36882
yes, Console, shell and MCUMGR

[2021-07-14 07:43] de-nordic commented on #36882
OK, so if the console is log sink and at the same time used for mcumgr, then you may get your transfer interrupted by other messages, with the same result.

[2021-07-14 07:54] gmarull commented on #31162
@nashif @ceolin shouldn't that issue be closed? I think the main issue described here has been addressed.

[2021-07-14 07:57] keepitsimplejim commented on #36929
I just in the process of following the name changes in the git histories between the google's and zephyr openthread versions.

Thank you, I've just update it via west that and it fixed the build.

[2021-07-14 07:57] #36929 closed

[2021-07-14 07:59] de-nordic commented on #36485
Can you elaborate on that?

[2021-07-14 08:20] Laczen commented on #36485
A flash device (when flash page support is enabled) has a layout structure and an api call to access this layout structure. A virtual flash device needs to follow the api and so also has a layout structure. The information in the layout is duplicated in the flag and the max_page_size.

[2021-07-14 08:41] de-nordic commented on #36485
The max_page_size is gone at this point, I got to the same conclusion as you. The flags remains because It allows you to figure out whether you need to use flash_get_page_info for each page or you can do it once, for uniform devices, and do all calculations by yourself, avoiding further syscalls.

The flash_get_page_info can also do that.

[2021-07-14 08:44] PerMac opened #36951 "twister: report information about tests instability"
**Is your enhancement proposal related to a problem? Please describe.**
For device testing, it is advised to run twister with `--retry-failed X` because tests can fail due to various reasons, both random (e.g. flashing error) and test-specific. In the final reports, there is no information stating that some tests had to be repeated due to failures. This hinders real issues with tests/hardware givi

[2021-07-14 09:04] Laczen commented on #36485
The flags is the same as: layout_size == 1.

??? When you create a virtual flash device it should be done properly, and its layout should reflect what you want it to be. The virtual flash device should not have a uniform layout when using one api call while it has a non-uniform using a different api call.

[2021-07-14 09:11] Andermutu opened #36953 "<err> lorawan: MlmeConfirm failed : Tx timeout"
**Describe the bug**
I have built LoRaWAN class_a sample and run on my Actinius Icarus Board connected via SPI to a sx1276. I have my own gateway(RAK 7243) very close. The gateway receives the uplink message and sends a downlink message as shown in this picture:

![Captura de pantalla 2021-07-14 a las 10 52 28](https://user-images.githubusercontent.com/30649760/125593905-c71e39f8-e42e-4ddb-a711-f0

[2021-07-14 09:12] jfischer-no commented on #36857
This is not a ssd1306 controller driver issue but i2c_samd0.c driver bug/incompatibility.

[2021-07-14 09:23] de-nordic commented on #36485
This will be retired.

The virtual device is the way you implement it, so the flash_get_page_info of your device will do whatever you tell it to do.

The virtual partition device I have demonstrated is very basic, and it gives you layout of the device at specified range: if that specified range is uniform, the virtual partition device will be uniform device even when the real device, in its entire

[2021-07-14 09:34] tagunil commented on #36953
As far as I know, DIO0 pin is actually used to signal end of transmission. Without it being connected the transmission will time out.
I think one also need DIO1 pin to handle reception timeouts.

[2021-07-14 09:35] ExtremeGTX commented on #36882
so, there is no options for making Console and MCUMGR live together ? like disable log to the console if a file transfer is in progress

[2021-07-14 09:37] jfischer-no commented on #36948
My comment from slack chat:

[2021-07-14 09:49] de-nordic commented on #36882
You could probably use this https://docs.zephyrproject.org/latest/reference/logging/index.html?highlight=log#c.log_backend_enable, but honestly I have not tried that.
@nordic-krch  what do you think about this?

[2021-07-14 10:06] Laczen commented on #36485
Yes, but what I am trying to say is that the virtual device should follow the API specifications. The layout is a part of the API specification and should be correct (either a part of what is inside the real device or a new definition).

[2021-07-14 10:14] martin-aberg commented on #36819
Thank you @cgturner1 and @galak for the report and analysis.
I can confirm that #36955 fixes the issue.

[2021-07-14 10:24] nordic-krch commented on #36882
yes, you can temporarily disable logging to given backend with log_backend_disable. For shell you can use `z_shell_log_backend_disable()` which wraps around `log_backend_disable` but also changes internal state,

[2021-07-14 10:28] jfischer-no commented on #36948
Is the shell support mandatory or just logging over CDC ACM?

[2021-07-14 11:12] ExtremeGTX commented on #36882
so you suggest to use `log_backend_disable` when MCUMGR receives a `fs` command then call `log_backend_enable` after finish.
Would you welcome a PR with this change ? it will also include a `CONFIG_` option to enable/disable this behavior .

[2021-07-14 11:16] de-nordic commented on #36882
The PRs are always welcome, the review may take time, so do not be discouraged.  The `CONFIG_` enabling the option is desired.

[2021-07-14 11:37] ExtremeGTX commented on #36667
@elliot-wdtl I could share my changes, if it is acceptable to change the behavior to "append to the last file".
Also I implemented log rotate functionality which will keep filenames between `log.0000` and `log.CONFIG_LOG_BACKEND_FS_FILES_LIMIT`

[2021-07-14 11:41] #36896 closed

[2021-07-14 12:22] LeiW000 commented on #12405
@Zhaoningx is going to work on it next week. Now he is busy on another urgent issue.

[2021-07-14 13:15] fabiobaltieri commented on #36811
Thanks @carlescufi, yes I'll close this and track the issue you mentioned, which answers my initial question. I may open a separate PR to propose publishing the iterables APIs but that's a different topic altogether.

[2021-07-14 13:15] #36811 closed

[2021-07-14 14:39] ppryga opened #36959 "Direction Finding - CTE transmitted in connectionless mode has wrong length"
**Describe the bug**
Reception of CTE by use of BT sniffer has shown that the CTE length is wrong. It is different (shorther) than value provided by CTEInfo field of periodic advertising PDU.

**To Reproduce**
TX - use sample direction_finding_connectionless_tx.
RX - use BT sniffer that is compliant with BT 5.1 core specification.

**Expected behavior**
Length of CTE attached to periodic advertisi

[2021-07-14 14:40] ppryga commented on #36959
Issue fixes: https://github.com/zephyrproject-rtos/zephyr/pull/36958

[2021-07-14 15:10] Bee-Vision commented on #36948
Shell is mandory - for Sensor,Modem, GPIO access

[2021-07-14 15:11] ainguraXmarquiegui commented on #33747
Ok, we want to prepare a more precise test environment, but we need to do some hardware utils to get it running, and we will need quite a long time to be done with that.

In the mean time I have done a very simple test to evaluate the new modifications.

I have been comparing these two scenarios:

a) PC gPTP master + mainline zephyr FRDM-K64F slave
b) PC gPTP master + @hakehuang zephyr code runnin

[2021-07-14 15:13] carlescufi commented on #36947
@laurenmurphyx64 is this something that you could take care of?

[2021-07-14 15:15] carlescufi commented on #36947
No objections from the TSC.

[2021-07-14 15:25] galak commented on #36947
I went ahead and created https://github.com/zephyrproject-rtos/tflite-micro

[2021-07-14 15:27] ceolin commented on #31162
@gmarull yep.  I don't see any reason to keep it open, we can always reference it even after closed.

[2021-07-14 15:27] #31162 closed

[2021-07-14 15:27] carlescufi commented on #36872
@MarkWangChinese did you have to make changes to the original Android source code in order to make it work for Zephyr?

[2021-07-14 15:29] carlescufi commented on #36872
TSC: Requires further analysis, we will invite @MarkWangChinese to the regular Bluetooth meeting.

[2021-07-14 15:42] carlescufi commented on #36324
@temap after discussion in the TSC there seem to be no objections at the time for your proposal. Could you please post a Pull Request with the proposed groups so we can discuss it there?

[2021-07-14 16:35] r2r0 opened #36962 "littlefs: Too small heap for file cache (again)."
The issue [#31524](https://github.com/zephyrproject-rtos/zephyr/issues/31524) is back.
Tested with Zephyr at b61ea62b6f09136e08f7fe7cf8a1012b5c5042b3.

This time defining FC_HEAP_PER_ALLOC_OVERHEAD as 28 make problem disappear (at least for 32 bit ARM platform).

Maybe in case when CONFIG_FS_LITTLEFS_FC_HEAP_SIZE is not postive it would be reasonable to use slab instead of heap i.e.:

[code]

[2021-07-14 16:52] jettr commented on #27525
Unfortunately porting the PD stack to upstream Zephyr is still a ways off on our timeline (> 1 year). You are more than welcome to use/reuse the chromium version of our PD stack in the meantime though (it does compile with a Zephry adapter layer, i.e. we use that chromium code with a zephyr build)

[2021-07-14 17:05] yperess opened #36963 "RFC: Provide a DT configurable sensor framework that is compatible with Android's CHRE"
**Is your feature request related to a problem? Please describe.**
Every app currently needs  to provide custom uses and calls to various peripherals. This means that every reasonable sized application will eventually need a way to manage the communication to all these peripherals. The side-effect of this is that testing is usually an after thought and is generally very difficult.

**Describe the

[2021-07-14 17:31] davedesro commented on #27525
@jettr , yeah, no problem on the timeline. We are already looking through your code with the plan to use it in our application area. This will be good enough for our near term deliverables.
We'll report back if we find anything interesting along the way.

I'm curious, though, are the protocol layer FSMs and TypeC FSMs implemented in your code base?

[2021-07-14 20:19] jettr commented on #27525
They sure are! You can find them all in the [usbc folder][2]. Specifically here is a link to the [protocol layer][0] and another for the [TypeC layer][1].

[0]:https://source.chromium.org/chromiumos/chromiumos/codesearch/+/main:src/platform/ec/common/usbc/usb_prl_sm.c
[1]:https://source.chromium.org/chromiumos/chromiumos/codesearch/+/main:src/platform/ec/common/usbc/usb_tc_drp_acc_trysrc_sm.c
[2]:

[2021-07-14 20:19] mbolivar-nordic commented on #36926
I also looked at https://github.com/particle-iot/xenon and it doesn't look like there is a button we can use for this sample.

The samples/boards/nrf/system_off/README.rst file explicitly documents nRF51 and nRF52 DKs as supported boards.

So this sample just does not support this board; please use a DK or some other board with a button0 in its devicetree as described above.

[2021-07-14 20:19] #36926 closed

[2021-07-14 22:04] JonathanVanWin opened #36966 "sys: ring_buffer: returns incorrect pointer"
**Describe the bug**
The bug happens when using the (put/get)_(claim/finish) ring_buffer API.
All the following calls are passed the same size parameter.
When you call twice in a row put_claim, then once put_finish, then get_claim, and get_finish, and then once again put_claim; the first and second call to put_claim return a different pointer (consecutive), and then after all the other calls, the

[2021-07-14 22:19] d3zd3z commented on #3884
The MQTT demo should cover this requirement. Any issues discovered would be better filed as bugs against that demo.

[2021-07-14 22:19] #3884 closed

[2021-07-15 00:58] MaureenHelm commented on #6450
Is there a specific I2C driver you're looking at? We refactored a lot of drivers to support multiple instances last year, and have been enforcing it on new drivers since then.

https://docs.zephyrproject.org/latest/guides/dts/howtos.html#write-device-drivers-using-devicetree-apis

[2021-07-15 01:47] JordanYates opened #36967 "Bluetooth: public API to query controller public address"
**Is your enhancement proposal related to a problem? Please describe.**
When an application uses a combined Host+Controller build, the public address of the device can be known by virtue of the application itself calling `bt_ctlr_set_public_addr`. But when using split builds, the application running the host has no API it can use to query the public address of the controller, whether it be on anot

[2021-07-15 01:55] JordanYates commented on #36967
In typical fashion you find the function you want minutes after complaining... `bt_id_get`.

[2021-07-15 01:55] #36967 closed

[2021-07-15 01:57] MarkWangChinese commented on #36872
@carlescufi I did only two line codes change compared with original Android SBC codes in order to compile successfully.
The changes are: adding two "extern" to the follow two lines in dequant.c.
extern const uint32_t dequant_long_scaled[17];
extern const uint32_t dequant_long_unscaled[17];

[2021-07-15 03:11] hongshui3000 commented on #36873
Will this PR be submitted to the upstream？@jfischer-no

[2021-07-15 03:34] hakehuang commented on #33747
@ainguraXmarquiegui  so you mean the
[code]
looks strange right? suppose shall be only 1s change but it looks like 2 seconds passed? am I right?

[2021-07-15 06:28] b0661 opened #36971 "ESP32: wifi station sample does not get IP address by DHCP4"
**Describe the bug**

I am running the samples/boards/esp32/wifi_station sample on a NodeMCU-ESP32. The ESP32 connects to the Wifi access point but does not get an IP address.

There are no DHCP4 packets on air despite the ESP32 is connected to the access point and the DHCP client is started. For other computers the access point is working correctly.

**To Reproduce**

Basically do
1. mkdir build;

[2021-07-15 07:35] Andermutu commented on #36953
Hi, after connecting DIO0 and DIO1 pins OTAA works,  and I can see data in TTN.  However, ABP mode still gives me an error although I can also see the data in TTN. This is ABP sample output:

Does not really care for me as OTAA is more interesting.

[2021-07-15 08:15] Tubbles commented on #36857
Is there some more specification anywhere on how the API implementer is supposed to handle this situation? If it is a bug, we need to fix the driver; on the other hand, if its an incompatibility, we need to change what API we are using..

[2021-07-15 08:49] jfischer-no commented on #36873
If you mean the patch linked above then yes, but I want to clarify if this alignment problem is to be expected with modern compilers. I do not see any difference in binary after this change.

[2021-07-15 09:35] ainguraXmarquiegui commented on #33747
Yes, I think the samples you are pointing out are compensating for the prevoius one not having advanced as much as it should:

[code]

I have repeated the test today. While the FRDM-K64F shows no events like these in a 60 minute test run, in the imxrt1050_evk I have gotten 170 events like this.

What can I do to help diagnose this phenomenon?

[2021-07-15 09:39] #36959 closed

[2021-07-15 10:07] carlescufi commented on #36948
@jakub-uC could you also give your opinion here?

[2021-07-15 10:13] rlubos commented on #36891
So perhaps there's a memory leak somewhere? There is also a net shell utility that helps to track allocations, perhaps it could thell where all the buffers gone (https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/ip/net_shell.c#L5998).

[2021-07-15 10:43] #33192 closed

[2021-07-15 11:04] carlescufi commented on #30026
Closing due to inactivity, @hguomin8 please reopen if you reproduce this with the latest Zephyr and Linux kernels.

[2021-07-15 11:04] #30026 closed

[2021-07-15 11:04] #36695 closed

[2021-07-15 11:07] #6777 closed

[2021-07-15 11:07] carlescufi commented on #33041
@MarkWangChinese @MaureenHelm ping

[2021-07-15 11:08] carlescufi commented on #33052
@MarkWangChinese did #36876 fix this Coverity issue?

[2021-07-15 11:10] carlescufi commented on #34600
@Vudentz ping on this one, would be good to get your input.

[2021-07-15 11:10] carlescufi commented on #34659
Thanks @caco3. Please do let us know when you have the sample so we can analyze it.

[2021-07-15 11:11] carlescufi commented on #36094
Closing due to inactivity after the response from the maintainer.

[2021-07-15 11:11] #36094 closed

[2021-07-15 11:13] carlescufi commented on #36496
Closing since fragmentation of advertising reports is not supported. Please open an enhancement instead if you'd like that implemented.

[2021-07-15 11:13] #36496 closed

[2021-07-15 11:16] carlescufi commented on #36552
@nwsetec just to clarify, you are not using directed advertising, right?

[2021-07-15 11:20] carlescufi commented on #36665
@krjmelik could you please send a Pull Request with the suggested fix in the description?

[2021-07-15 11:23] temap commented on #36324
@carlescufi done: https://github.com/zephyrproject-rtos/zephyr/pull/36981

Thanks

[2021-07-15 11:24] carlescufi commented on #36859
@legoabram `bt_enable()` was designed to be called from `main()` or a user thread, not `SYS_INIT`. There could be several reasons why this is causing issues, including high interrupt activity during the init phase or an unitialized driver required by Bluetooth. I suggest you move the call to the main execution context instead.

[2021-07-15 11:25] gmarull commented on #34121
Documentation PDF build is now back to operational state, so closing. Thanks @nashif!

[2021-07-15 11:25] #34121 closed

[2021-07-15 11:29] de-nordic commented on #36485
After experimenting with few approaches, including the direct implementations of 1-1 callback, for example  `flash_get_page_count calls api->get_page_count(...)`,  and 1-N callbacks, for example `flash_get_page_count` calls `api->get_param(FLASH_PARAM_PAGE_COUNT, ...)`,  I have come to following conclusions:

1) addition of separate calls to API structure does not have that much of an impact, it i

[2021-07-15 11:48] xhpohanka commented on #36891
It seems like there isn't to much things allocated :D

[code]

[2021-07-15 12:00] koutaiba95 commented on #36926
Thank you for your feedback. Apparently i have more work to do to understand differences between boards. The Xenon is listed as equipped with Nordic nRF52840 so i assumed it's compatible.
Any way i hope this thread will help someone else "au cas où".
There is a button on the Xenon and the data tree provided in zephyr at : [https://github.com/zephyrproject-rtos/zephyr/blob/main/boards/arm/particle_

[2021-07-15 12:08] rlubos commented on #36891
So if there are so many buffers available, why does it fail to allocate them? And why does it only happen with changes from c6fac25 ? Some bug in the net_buf allocation algorithm? Hard to tell actually w/o debugger attached to the actual hardware and application.

[2021-07-15 12:11] xhpohanka commented on #36891
I will try to prepare some minimal example.

[2021-07-15 12:12] jakub-uC commented on #36948
It looks like shell is not receiving all characters hence escape codes are not handled correctly. I would expect we have some bug in the backend.
@nordic-krch  are you familiar with the USB backend?

[2021-07-15 12:21] jfischer-no commented on #36948
Backend is serial or serial over logging, if enabled. Maybe it makes sense to have a DTR check in serial backend.

[2021-07-15 13:07] de-nordic commented on #34706
List of available solutions:
 - ~~Rework of current flash map API internals https://github.com/zephyrproject-rtos/zephyr/pull/34530~~
 - MTD https://github.com/zephyrproject-rtos/zephyr/pull/34494
 - https://github.com/zephyrproject-rtos/zephyr/pull/36487
 - https://github.com/zephyrproject-rtos/zephyr/pull/36979

[2021-07-15 13:10] rlubos commented on #36927
I agree, it doesn't make much sense to send a notification if there are no new data to notify. I'll send a patch.

[2021-07-15 13:19] tejlmand commented on #34913
Several people are using venv / pyvenv, and it is suppose to be picking up the python from within there.
But be aware that if you are using `west build`, then the Python used to invoke `west` will be passed on to CMake.

Could that be the reason for your observation ?

If you do that, then you end up with the result that the `find_package(Python3 ...)` will behave wrongly, just look at:
https://gi

[2021-07-15 13:37] rlubos commented on #36927
@huelsenfruchtzwerg Please have a look at https://github.com/zephyrproject-rtos/zephyr/pull/36984, it was actually a pretty simple fix. Feel free to approve if it works ok for you.

[2021-07-15 13:39] gabbas1 commented on #36553
Hi everyone,

i managed to make it work.
On the Server-side (Chirpstack in my case) I had to change the Device-Profile of the node from LoRaWAN version 1.1.0 (latest) to 1.0.3. Now the joining process via OTAA works for me and data can be send/received.

@Mani-Sadhasivam can you say something about the implemented LoRaWAN version in Zepyhr?

[2021-07-15 13:57] tagunil commented on #36553
LoRaWAN 1.1.x is not supported yet. I think we will wait for stable upstream support.

[2021-07-15 14:46] marcsekz opened #36986 "LittleFS mount fails (error -22)"
**Describe the bug**
Mounting a LittleFS filesystem fails with error code 22. The filesystem should be mounted from an SPI NOR flash, which I believe is properly configured, since using the flash_map API I can access and modify the contents.

**To Reproduce**
I'm trying to run the LittleFS sample propgram.

I'm using the Kinetis K22 platform, in the devicetree I've mounted the SPI NOR flash:
[code

[2021-07-15 15:00] erwango commented on #36917
@gmarull question a bout this part:

Is that actually correct to initialize pm_state to `PM_DEVICE_STATE_ACTIVE` in PM_DEVICE_RUNTIME?
I would expect they are initialized to `PM_DEVICE_STATE_OFF` and moved to `PM_DEVICE_STATE_ACTIVE` only in case there is a user.

[2021-07-15 15:59] protobits commented on #29394
Hi, any progress on this? I ask since I registereded callbacks for CARRIER_UP/DOWN events to get notified when WiFi is connected/disconnected but it is problematic since sometimes the connection attempt fails and the CARRIER_DOWN event is not generated, since it was never up in the first place (I do get the DOWN event after an UP event).
I need to handle these events myself because reconnection on

[2021-07-15 16:07] hakehuang commented on #33747
what do you see at pc side? when this happen? I will try you code tomorrow.

[2021-07-15 16:30] mbolivar-nordic commented on #36926
Right, but nRF52840 is an SoC, not a board. The sample has additional requirements beyond just a Nordic SoC.

Is that a generic button available for application specific use?

I saw there was a mode button on the hardware description page, but the name "mode button" makes it seem like it is not generic, but serves some particular purpose.

If it's reserved for something specific, then I don't thin

[2021-07-15 17:13] mehrdadh opened #36990 "Memory misalignment ARM Cortex-M33"
**Describe the bug**
I have built a model with TVM on nRF5340DK using Zephyr RTOS and I ran into a memory misalignment. In TVM we define a large memory that we use as the TVM stack and we make sure the memory allocation always has alignment of 4 bytes.
[code]
However we ran into this bug where the initial address of the memory was misaligned and causes a CPU exception on FP32 operation. To fix thi

[2021-07-15 20:24] Bee-Vision commented on #36948
@jfischer-no - Do u mean, I have to change shell_uart.c?

[2021-07-15 21:18] yperess opened #36994 "eSPI emulator has little documentation and no sample"
**Is your enhancement proposal related to a problem? Please describe.**
Commit https://github.com/zephyrproject-rtos/zephyr/commit/d1948dc16457ca12978fd433249d628afa77d53b added the eSPI emulator. The emulator appears to require child nodes to be added to `zephyr,espi-emul-controller` compatible nodes, but there's no documentation or binding associated with these.

**Describe the solution you'd li

[2021-07-15 21:41] mikevoyt commented on #34231
Hi @delsian, would you mind sharing your implementation details?  I'm trying to include uzlib in one of my Zephyr projects, and I'm struggling with the CMakeLists.txt implementation.  I suspect I'll need to change the uzlib `makefile` as well but I'm not exactly sure how, any pointers would be appreciated!

[2021-07-16 02:12] hongshui3000 commented on #36873
@jfischer-no  In the xcc (arch:xtensa, gcc 4.2) I use, these codes have the issue said.

[2021-07-16 05:14] nwsetec commented on #36552
@carlescufi no, we're not using directed advertising.

[2021-07-16 06:32] ainguraXmarquiegui commented on #33747
At the PC side I was monitoring the clock, and it was progressing as expected. I'll try to look for the gptp server messages, and I'll report back if I find anything worth mentioning.

If you are going to try my code, maybe you want my latest modifications. They make spotting problems easier:

[code]

[2021-07-16 06:43] ainguraXmarquiegui commented on #33747
Hello again. I just caught one of the mentioned events, and I can confirm that the gptp server does not show any kind of error messages, or any output at all during the events on the imxrt1050_evk.

This is how the imxrt1050_evk output looks like with the code I have just posted:

[code]

[2021-07-16 06:59] b0661 commented on #36971
Thank you @sylvioalves for addressing my problem. Unlikely PR#36995 does not help in my case.
Have you done additional changes that are not in the repo?

hal-espressif: f525ee6f468c2c68119731e1453ad72d189a1277
mbedtls: 5765cb7f75a9973ae9232d438e361a9d7bbc49e7
Zephyr:
  - 85abcdf21d8caa25cc170572a9533259bdecb525 (PR#36995)
  - 2e60836ecaf04840e7447014553badb45ad8691d +  PR#36378 + PR#36650 + PR#369

[2021-07-16 07:45] b0661 commented on #36971
@sylvioalves thank you PR #36995 - it works. (Sorry for last comment - now deleted, I tested the wrong BOARD_ROOT).

[2021-07-16 08:37] krjmelik commented on #36665
Unfortunately, I don't have the access to my workplace now.
But as I said the only change is in: subsys/bluetooth/host/l2cap.c,
function: int bt_l2cap_chan_disconnect(struct bt_l2cap_chan *chan)

change this:
req->dcid = sys_cpu_to_le16(ch->rx.cid);
req->scid = sys_cpu_to_le16(ch->tx.cid);

to this:
req->dcid = sys_cpu_to_le16(ch->tx.cid);
req->scid = sys_cpu_to_le16(ch->rx.cid);

Because for the

[2021-07-16 08:38] ioannisg opened #36998 "TF-M: does not allow PSA Connect to proceed with IRQs locked"
**Describe the bug**
If PSA Calls (psa_connect, psa_call, etc.) are invoked with interrupts locked in Mainline Cortex-M (that is setting BASEPRI register to a non-zero value), the PSA calls are not successful.

In particular, psa_connect calls are returning a zero (invalid) handle.

Also: the problem occurs If BASEPRI is set to a value less or equal to 32. For BASEPRI values larger than 32 the psa

[2021-07-16 08:41] ioannisg commented on #36998
Note that this issue was not present in earlier versions of TF-M.

[2021-07-16 10:11] #36953 closed

[2021-07-16 10:20] carlescufi commented on #36948
@jakub-uC and @nordic-krch maybe the shell and logging backends for UART should be optionally configured to wait for DTR before sending any data, like it is being done in this sample:
https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/subsys/usb/cdc_acm/src/main.c#L97

[2021-07-16 10:25] jakub-uC commented on #36948
@carlescufi My understanding is that we have a problem with bytes reception by the shell (UART backend). The proposal you have linked seems to be solving a different issue where the shell receiver is not capable of receiving data. Or I am missing something basic here?

[2021-07-16 10:40] carlescufi commented on #36948
I don´t get it. The escape characters are sent by the shell, not received? so it looks to me like there's some characters sent by the shell backend to the computer that never make it through?

[2021-07-16 10:48] carlescufi commented on #36948
@jakub-uC it might be the garbling actually comes from the terminal misunderstanding a sequence being sent by the shell because the shell sends it too early. Could  you try waiting for DTR before sending any output from the shell to the terminal so that the synch is kept?

[2021-07-16 10:51] jakub-uC commented on #36948
@carlescufi
Sure I will implement this shortly.

[2021-07-16 10:55] jfischer-no commented on #36948
![cdc_acm_minicom_trace](https://user-images.githubusercontent.com/9864546/125937206-a2eccad0-7e89-4841-bf4f-a7fa92859731.png)

Trace from the beginning of the communication.

[2021-07-16 11:21] #36917 closed

[2021-07-16 12:55] hakehuang commented on #33747
[putty.zip](https://github.com/zephyrproject-rtos/zephyr/files/6830720/putty.zip)

@ainguraXmarquiegui
I test for 20 minuts in my rt1060_evk boards, and I find every almost 3 minutes there is such error, and then it will recoverred. Is it the same at your board? if so I guess it is because the ptp timer counter timeout and restart which may introduce some jitter. But I neet check deeper into the p

[2021-07-16 13:23] carlescufi commented on #21329
@wenyongh @xwang98 @wentongwu we would like to move this forward, but I cannot find the PR anymore. Would it be possible for either of you to follow the new procedure for integration of external code describe in the link below so we can take this a step forward?

https://docs.zephyrproject.org/latest/contribute/external.html

[2021-07-16 13:28] #36553 closed

[2021-07-16 13:29] koutaiba95 commented on #36926
Hello,
You are right a SoC is not a board. I haven't thought about the fact that a sample needs a specific board or a bunch of similar boards to be compatible with as the pinout will vary from board to board.

The button is not generic as you mentioned, it serves a purpose in the official software provided with the board as you pointed out, that is where the name comes from.

[2021-07-16 13:59] xwang98 commented on #21329
@carlescufi Happy to create a PR again after the long journey. :-)

[2021-07-16 14:17] xhpohanka commented on #36891
Minimal example is here: https://github.com/xhpohanka/civetweb_upload

It is just slightly altered zephyr's civetweb sample with additional handler for file upload. I'm testing it with similar command `curl --form file='@fw.bin' http://192.0.2.1/fwupdate`

It behaves exactly as described in previous comments. I was not able to see it in qemu. Could it be possible that there is some concurrency iss

[2021-07-16 14:39] ainguraXmarquiegui commented on #33747
@hakehuang here you can see a 30 minute test run on my imxrt1050_evk board:

[ttyACM0.nocolor.log](https://github.com/zephyrproject-rtos/zephyr/files/6831397/ttyACM0.nocolor.log)

if we filter only error lines in the [log](https://github.com/zephyrproject-rtos/zephyr/files/6831406/ttyACM0.error.log), we can see that the error happens every few minutes, but the interval is not always the same.

[2021-07-16 14:45] rlubos commented on #36891
That could suggest that there's some issue with the particular Ethernet driver? I'm not familiar with `eth_stm32_hal.c` driver, but what I don't like is that it tries to allocate the buffer, w/o a timeout:
https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/ethernet/eth_stm32_hal.c#L392

The question is what are the priorities of the Ethernet driver RX thread, and the application thread

[2021-07-16 15:28] caco3 commented on #34659
We are trying intensively to trace the issue down as deep that we can provide a minimal example.

I ported the mentioned patch to Zephyr `2.6.0` (see https://github.com/caco3/zephyr/commit/434370ba2eef3f9a3f16ca0fb9258da88968b629) and applied it to the measuring device as well as the BLE receiver dongle (a nrf52840 dongle running the Zephyr HCI_USB example) connected to the host system. This bring

[2021-07-16 19:00] cfriedt opened #37006 "tests: kernel: mem_protect: stack_random: enable qemu_riscv32"
**Describe the bug**
TL:DR - needed to disable that test only for `qemu_riscv32` because it broke CI
Details in #36996

**To Reproduce**
[code]

It has only failed in CI so far, and I am unable to reproduce the failure locally.

**Expected behavior**
[code]

**Impact**
It made CI fail consistently.

**Logs and console output**
[code]

**Environment (please complete the following information):**
 -

[2021-07-16 19:11] mcscholtz opened #37007 "Problem with out of tree driver"
I am trying to write an out of tree driver and having problems. I tried looking at the documentation but it does not seem to cover this particular case since there is no documentation on how to do this: https://docs.zephyrproject.org/latest/samples/application_development/out_of_tree_driver/README.html

I think I am close to getting it to work, this is what my directory structure is:
├── CMakeList

[2021-07-16 22:55] #36388 closed

[2021-07-16 22:59] #36971 closed

[2021-07-17 01:55] #36667 closed

[2021-07-17 02:09] #35789 closed

[2021-07-17 09:41] ymfloresl commented on #35848
I think changing _FS_NORTC to 0 within modules/fs/fatfs/include/ffconf.h. and adding the get_fattime() function using the RTC values would solve your issue.

[2021-07-17 12:09] #33910 closed

[2021-07-17 12:38] cwshu opened #37023 "zephyr_prebuilt.elf and zephyr.elf has inconsistent symbol address in RISC-V platform"
**Describe the bug**
This bug occurs on `tests/kernel/mem_protect/obj_validation` test on `qemu_riscv32` platform with userspace enabled. [1]
The `sem1` symbol has different address in `zephyr_prebuilt.elf` and `zephyr.elf`, which causes object validation failed.

[code]

The difference of 2 ELF file is `_thread_idx_map` symbol.

- It is at `.kobject_data` section in `zephyr_prebuilt.elf`
- It is

[2021-07-17 13:06] rick1082 opened #37024 "Compile error if we only use VCS without VOCS and AICS"
**Describe the bug**
There will be compile error if we only enabled the VCS through
[code]

**To Reproduce**
We can use "zephyr/samples/bluetooth/peripheral_hr" for replicating the issue
1. Add following configs in the prj.conf
[code]
2. Compile the project through west
[code]
3. And then we will the see the error log like
[code]

**Expected behavior**
There should be no issue for using only VCS w

[2021-07-18 14:26] eyuval opened #37028 "ipv6 multicast addresses vanish after iface down/up sequence"
When performing a iface down/iface up sequence from the net shell,  the allnodes multicast address and the solicited multicast address have vanished at the end.  I am not versed enough in ipv6 and don't know if this the correct behaviour, but it surprised me. I am running zephyr 2.5

Steps to reproduce:
1. net iface 1
2. check there are the allnodes mcast and a solicited mcast address
3. net iface

[2021-07-18 21:03] helo9 opened #37029 "drivers: sensor: sensor_value_to_double requieres non const sensor_value pointer"
When `const struct sensor value * ` is given, a pointer cast is needed to get rid of the `const`
qualifier e.g., you want to set an attribute given as `sensor_value`.

As I would not expect `sensor_value_to_double` to change the value of its parameter anyways,
I would propose to add the `const` qualifier there:
[code]

[2021-07-19 00:28] #34855 closed

[2021-07-19 00:28] #34767 closed

[2021-07-19 02:49] KangJianX opened #37032 "document: API reference missing: In clock of zephyr document"
In the latest document of Zephyr, the chapter of API reference -> Kernel Services -> Kernel Timing, in this chapter, it does not have API reference to introduce the APIs what is invoked at concept part.

[2021-07-19 06:24] hakehuang commented on #33747
@ainguraXmarquiegui the code in main just query driver for the current ptp clock value, which seems not related to the gptp services, just logging the local timstamp, I guess this different is happenning on whehter the main thread loop run into the 1s boundary of gptp timer, as I RT series the application runs at ~1G and frdmk64f runs at 160M, so RT series has big changes to meet the boundary rang

[2021-07-19 07:24] Casper-Bonde-Bose commented on #36885
@Thalley I generally like the idea of keeping the API close to how the HCI layer works, as you then have some very good documentation of how it works, which makes it easier for new-comers to maintain the code. The concept of creating a group makes very good sense to me, as this is also the terminology used in the specifications.
I fully support this change request and will be happy to provide feed

[2021-07-19 08:20] carlescufi commented on #21329
@xwang98 much appreciated, please do!

[2021-07-19 08:44] gmarull commented on #37029
Would you mind opening a PR?

[2021-07-19 08:46] gmarull commented on #37007
It may be useful to look at https://github.com/zephyrproject-rtos/example-application, it shows how to create oot drivers

[2021-07-19 09:54] xin10pan opened #37038 "stm32f4 - DMA tx interrupt doesn't trigger"
**Scenario:** Use nucleo-f429zi as master and enable I2S to transmit data
**Platform:** nucleo-f429zi
**sample:**  Use samples/drivers/i2s/litex/ and delete the code related to RX
[code]
**dts:**

[code]
**Result:** When transmit data via I2S, it seems that DMA tx interrupt is not triggered and it doesn't call dma_tx_callback. The configuration is showed above. I can't find out why.
By the way, th

[2021-07-19 09:57] nordic-krch commented on #36966
Unfortunately, currently it is a ring buffer feature. `ring_buf_put_finish` ends "session". What you are looking for is different use case when you want to claim more buffers and gradually finish them. I also encountered this issue some time ago and created #27276 but it died due to lack of reviewers and I workarouded it in my use case. I can bring it back as there is more than me that wants it.

[2021-07-19 10:24] FRASTM commented on #36781
Correct, this is written in the wrong way even no config was found to prove it.