[2020-02-09 14:03] dcpleung commented on #22616
Have you looked at `xtools/generic.cmake`? It simply looks for any toolchain available under the directory, and could provide a quick workaround for the release.

[2020-02-09 14:54] zephyrbot opened #22640 "[Coverity CID :208209] 'Constant' variable guards dead code in drivers/gpio/gpio_sx1509b.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/drivers/gpio/gpio_sx1509b.c#L205

Category: Possible Control flow issues
Function: `sx1509b_config`
Component: Drivers
CID: [208209](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208209)

Details:

[code]

Please fix or provide comments in coverit

[2020-02-09 14:54] zephyrbot opened #22641 "[Coverity CID :208208] Arguments in wrong order in tests/subsys/canbus/isotp/implementation/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/tests/subsys/canbus/isotp/implementation/src/main.c#L182

Category: API usage errors
Function: `send_test_data`
Component: Tests
CID: [208208](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208208)

Details:

[code]

Please fix or provide comments

[2020-02-09 14:54] zephyrbot opened #22642 "[Coverity CID :208207] Arguments in wrong order in tests/subsys/canbus/isotp/conformance/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/tests/subsys/canbus/isotp/conformance/src/main.c#L364

Category: API usage errors
Function: `test_send_sf_ext`
Component: Tests
CID: [208207](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208207)

Details:

[code]

Please fix or provide comments i

[2020-02-09 14:54] zephyrbot opened #22643 "[Coverity CID :208206] Unsigned compared against 0 in samples/sensor/fxos8700-hid/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/samples/sensor/fxos8700-hid/src/main.c#L129

Category: Control flow issues
Function: `callbacks_configure`
Component: Samples
CID: [208206](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208206)

Details:

[code]

Please fix or provide comments in

[2020-02-09 14:54] zephyrbot opened #22644 "[Coverity CID :208205] Improper use of negative value in tests/subsys/canbus/isotp/implementation/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/tests/subsys/canbus/isotp/implementation/src/main.c#L202

Category: Integer handling issues
Function: `receive_test_data`
Component: Tests
CID: [208205](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208205)

Details:

[code]

Please fix or provide

[2020-02-09 14:54] zephyrbot opened #22645 "[Coverity CID :208204] Arguments in wrong order in samples/subsys/canbus/isotp/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/samples/subsys/canbus/isotp/src/main.c#L67

Category: API usage errors
Function: `rx_8_0_thread`
Component: Samples
CID: [208204](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208204)

Details:

[code]

Please fix or provide comments in coverity u

[2020-02-09 14:54] zephyrbot opened #22646 "[Coverity CID :208203] Missing break in switch in drivers/interrupt_controller/intc_exti_stm32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/drivers/interrupt_controller/intc_exti_stm32.c#L181

Category: Control flow issues
Function: `stm32_exti_trigger`
Component: Drivers
CID: [208203](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208203)

Details:

[code]

Please fix or provide comme

[2020-02-09 14:54] zephyrbot opened #22647 "[Coverity CID :208202] Arguments in wrong order in samples/subsys/canbus/isotp/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/samples/subsys/canbus/isotp/src/main.c#L112

Category: API usage errors
Function: `rx_0_5_thread`
Component: Samples
CID: [208202](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208202)

Details:

[code]

Please fix or provide comments in coverity

[2020-02-09 14:54] zephyrbot opened #22648 "[Coverity CID :208201] Out-of-bounds write in soc/xtensa/intel_apl_adsp/soc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/soc/xtensa/intel_apl_adsp/soc.c#L186

Category: Memory - corruptions
Function: `z_soc_irq_connect_dynamic`
Component: Other
CID: [208201](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208201)

Details:

[code]

Please fix or provide comments in co

[2020-02-09 14:54] zephyrbot opened #22649 "[Coverity CID :208200] Bad bit shift operation in drivers/interrupt_controller/intc_exti_stm32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/drivers/interrupt_controller/intc_exti_stm32.c#L183

Category: Integer handling issues
Function: `stm32_exti_trigger`
Component: Drivers
CID: [208200](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208200)

Details:

[code]

Please fix or provide c

[2020-02-09 14:54] zephyrbot opened #22650 "[Coverity CID :208199] Arguments in wrong order in tests/subsys/canbus/isotp/conformance/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/tests/subsys/canbus/isotp/conformance/src/main.c#L834

Category: API usage errors
Function: `test_sender_fc_errors`
Component: Tests
CID: [208199](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208199)

Details:

[code]

Please fix or provide comme

[2020-02-09 14:54] zephyrbot opened #22651 "[Coverity CID :208198] Logical vs. bitwise operator in boards/xtensa/up_squared_adsp/bootloader/boot_loader.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/boards/xtensa/up_squared_adsp/bootloader/boot_loader.c#L119

Category: Integer handling issues
Function: `lp_sram_init`
Component: Other
CID: [208198](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208198)

Details:

[code]

Please fix or provide c

[2020-02-09 14:54] zephyrbot opened #22652 "[Coverity CID :208197] Pointless string comparison in tests/drivers/gpio/gpio_basic_api/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/tests/drivers/gpio/gpio_basic_api/src/main.c#L27

Category: Incorrect expression
Function: `board_setup`
Component: Tests
CID: [208197](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208197)

Details:

[code]

Please fix or provide comments in cove

[2020-02-09 14:54] zephyrbot opened #22653 "[Coverity CID :208196] Out-of-bounds access in drivers/eeprom/eeprom_simulator.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/drivers/eeprom/eeprom_simulator.c#L259

Category: Memory - corruptions
Function: `eeprom_sim_init`
Component: Drivers
CID: [208196](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208196)

Details:

[code]

Please fix or provide comments in coverity

[2020-02-09 14:54] zephyrbot opened #22654 "[Coverity CID :208194] Arguments in wrong order in tests/subsys/canbus/isotp/implementation/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/tests/subsys/canbus/isotp/implementation/src/main.c#L152

Category: API usage errors
Function: `send_sf`
Component: Tests
CID: [208194](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208194)

Details:

[code]

Please fix or provide comments in cove

[2020-02-09 14:54] zephyrbot opened #22655 "[Coverity CID :208193] Unchecked return value in tests/bluetooth/mesh/src/microbit.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/tests/bluetooth/mesh/src/microbit.c#L35

Category: Error handling issues
Function: `configure_button`
Component: Tests
CID: [208193](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208193)

Details:

[code]

Please fix or provide comments in coverit

[2020-02-09 14:54] zephyrbot opened #22656 "[Coverity CID :208192] Out-of-bounds access in tests/subsys/canbus/isotp/implementation/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/tests/subsys/canbus/isotp/implementation/src/main.c#L197

Category: Memory - corruptions
Function: `receive_test_data`
Component: Tests
CID: [208192](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208192)

Details:

[code]

Please fix or provide co

[2020-02-09 14:54] zephyrbot opened #22657 "[Coverity CID :208191] Dereference after null check in subsys/canbus/isotp/isotp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/subsys/canbus/isotp/isotp.c#L437

Category: Null pointer dereferences
Function: `receive_add_mem`
Component: Other
CID: [208191](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208191)

Details:

[code]

Please fix or provide comments in coverity us

[2020-02-09 14:54] zephyrbot opened #22658 "[Coverity CID :208189] Self assignment in soc/xtensa/intel_apl_adsp/soc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/e089906b339aad4cd1b6589a3b6ce94782d93f54/soc/xtensa/intel_apl_adsp/soc.c

Category: Incorrect expression
Function: `soc_set_power_and_clock`
Component: Other
CID: [208189](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208189)

Please fix or provide comments in coverity using the link:

h

[2020-02-09 15:02] pabigot opened #22660 "gpio: legacy level interrupt disable API not backwards compatible"
The following was discovered in testing and development of #22659:

In the old GPIO API interrupt configuration was integrated with pin configuration, so an interrupt could be enabled with:

    gpio_pin_configure(dev, PIN_IN, GPIO_DIR_IN | GPIO_INT | GPIO_INT_LEVEL);

and disabled within the callback with the idiom:

    gpio_pin_configure(dev, PIN_IN, GPIO_DIR_IN);

which, because it did not inc

[2020-02-09 15:13] alexanderwachter commented on #22644
False positive. `zassert_true(recv_len >= 0, "recv error: %d", recv_len);` always detects a negative number on `recv_len`

[2020-02-09 15:15] #22644 closed

[2020-02-09 15:19] alexanderwachter commented on #22641
Intentional.
We have receiver and sender on the same node, so we need to switch the addresses somewhere.

[2020-02-09 15:19] #22641 closed

[2020-02-09 15:21] alexanderwachter commented on #22642
We have receiver and sender on the same node, so we need to switch the addresses somewhere.

[2020-02-09 15:21] #22642 closed

[2020-02-09 15:22] alexanderwachter commented on #22645
Intentional. We have receiver and sender on the same node, so we need to switch the addresses somewhere.

[2020-02-09 15:22] #22645 closed

[2020-02-09 15:23] alexanderwachter commented on #22647
Intentional. We have receiver and sender on the same node, so we need to switch the addresses somewhere.

[2020-02-09 15:23] #22647 closed

[2020-02-09 15:24] alexanderwachter commented on #22650
Intentional. We have receiver and sender on the same node, so we need to switch the addresses somewhere.

[2020-02-09 15:24] #22650 closed

[2020-02-09 15:25] alexanderwachter commented on #22654
Intentional. We have receiver and sender on the same node, so we need to switch the addresses somewhere.

[2020-02-09 15:25] #22654 closed

[2020-02-09 15:50] pabigot commented on #22652
Coverity needs to be told to ignore this.  I don't have authority to tell it.

[2020-02-10 01:54] mbolivar commented on #22545
Thanks for the feedback!

Agreed.

This would take some zephyr-specifics like filtering out trivial or useless dependencies such as `/soc`, but that could definitely be done.

:+1:

I'll look into that. For now, to make things concrete, here is an early prototype that at least has a skeleton in place, and is opt-in based on the config option discussed in the proposal:

https://github.com/mbolivar/

[2020-02-10 03:22] mnkp commented on #22660
The difference in behavior will be mentioned in the release notes.

[2020-02-10 04:21] stephanosio commented on #22037
**Notes on the `ignore_tags` for the `qemu_cortex_r5`**
* `benchmark`
  * The `benchmark` test implementation for ARM relies on the `SysTick` hardware, which is only present on the Cortex-M devices.
  * List of failed tests: https://gist.github.com/stephanosio/72baa3c03ceb430c74af7a25ff2400d0
  * Failure log: https://gist.github.com/stephanosio/b0233eded3e299a29eb3b932207cedfe
* `interrupt`
  * Th

[2020-02-10 04:30] stephanosio opened #22669 "Implement benchmark tests for Cortex-R and Cortex-A"
The current `benchmark` test implementation for ARM relies on the `SysTick` hardware, which is only present on the Cortex-M devices.

A more generic implementation should be provided for non-Cortex-M ARM devices (i.e. Cortex-R and Cortex-A).

List of failed tests: https://gist.github.com/stephanosio/72baa3c03ceb430c74af7a25ff2400d0
Failure log: https://gist.github.com/stephanosio/b0233eded3e299a29

[2020-02-10 04:33] stephanosio opened #22670 "Implement GIC-based ARM interrupt tests"
The current `interrupt` test implementation for ARM assumes the availability of `NVIC`, which is only present on the Cortex-M devices.

A GIC-based implementation should be implemented for the Cortex-R and Cortex-A devices. Note that not all Cortex-R devices make use of the GIC, in which case the interrupt test should either be filtered out or executed partially.

List of failed tests: https://gis

[2020-02-10 05:22] dcpleung commented on #22658
This is writing back to hardware register to clear bits.

[2020-02-10 05:22] #22658 closed

[2020-02-10 05:55] Vudentz commented on #22514
Check if the following patch helps:

[code]

[2020-02-10 07:15] dcpleung commented on #22648
Size of `_sw_isr_table[]` depends on `CONFIG_NUM_IRQS` which is defined in `include/arch/xtensa/irq.h`. In this case, `CONFIG_NUM_IRQS=149` which means `_sw_isr_tables[]` has 149 entries. No idea where Coverity got number 32.

[2020-02-10 07:15] #22648 closed

[2020-02-10 08:00] gpaquet85 commented on #21328
@mike-scott it is ok for me. This is clearly fixed by your PR. Thanks again.

[2020-02-10 09:07] erwango commented on #19285
As part of this work, I think we should settle on current usage of aliases.
A recurrent usage is to look for aliases availability as filter for test compatibility.
cf tests/drivers/pwm/pwm_api/testcase.yaml:
[code]
A (non exhaustive) list of occurrences could be given by following link:
https://github.com/zephyrproject-rtos/zephyr/commit/4cc91fdd0033e5fbadd4a464b8998a70d6df0ad0

Following #22555 i

[2020-02-10 09:59] JusbeR opened #22679 "MQTT publish causes unnecessary TCP segmentation"
**Describe the bug**
For some reason MQTT publishing sends publish packet and its payload in separate packets [code](https://github.com/zephyrproject-rtos/zephyr/blob/5476e0b365ac05c5355e10558fb2d2b30f7be179/subsys/net/lib/mqtt/mqtt.c#L264)

So even if the payload is just 1 byte, then you'll have 2 TCP packets and (usually) 2 TCP ACKs flying in the air to get that one byte delivered. This is a bit

[2020-02-10 10:29] #21328 closed

[2020-02-10 10:29] #21764 closed

[2020-02-10 10:32] #22656 closed

[2020-02-10 10:32] #22657 closed

[2020-02-10 10:33] #22366 closed

[2020-02-10 10:34] ivan98ams commented on #22514
No help with the patch :/, I looked a bit more into the code and the registers during debug and found the following:

- When paired, the [address in ccc cfg is updated](https://github.com/zephyrproject-rtos/zephyr/blob/8a3a4bb5891645805c86a2f065f3aa3db0b7d1df/subsys/bluetooth/host/gatt.c#L2129) to the private identity of the remote device upon disconnect
- When `unpair` is called, the [gatt inform

[2020-02-10 10:35] #22651 closed

[2020-02-10 10:59] ioannisg opened #22682 "arm: cortex-a: no default board for testing"
**Describe the bug**
The recently merged ARM Cortex-A architecture has not defined a default board for testing.
Currently, qemu_cortex_a53 is the only Cortex-A board in the tree, and should IMO be set to be tested by default.

**Impact**
No testing coverage for Cortex-A architecture, similar to the other architectures.

[2020-02-10 11:00] ioannisg commented on #22682
FYI @jhedberg

[2020-02-10 11:02] carlocaione commented on #22682
Opened #22683

[2020-02-10 12:10] ioannisg opened #22685 "armv8-m: userspace: syscall return sequence needs to be atomic"
**Describe the bug**
The sequence of operations when returning from a Cortex-M system call is as follows:

1. Stack Limit Register is cleared (if we are on ARMv8-M)
2. Stack Pointer is set back to nPRIV (user) stack
3. thread.mode variable is set to nPRIV
4. CONTROL register nPRIV bit is set

The above sequence is executed in **thread PRIV mode** (cannot be executed in nPRIV mode, actually, as it

[2020-02-10 12:11] ioannisg commented on #22685
FYI @andrewboie @jhedberg

[2020-02-10 12:31] soburi commented on #22247
Hi, @beriberikix, and all.

Thank you for introduce my project.
I got some insight from my experimental arduino package.
I think policy and strategy of my project are 'not so bad',  but there may be better ways.
I write below about this problem, based on my experience.

1. API Implementation

From my point of view, there are no serious problem.
Mostly function are already provide from Zephyr, need

[2020-02-10 12:52] erwango commented on #22626
This test is quite long since it includes a while loop (100) with `k_busy_wait(3*tick_us);`
So I think you extend default timeout for it.

[2020-02-10 13:08] pabigot commented on #22554
OK, after some investigation I've updated [my proposal](https://github.com/zephyrproject-rtos/zephyr/issues/22554#issuecomment-583446523).

The point of that proposal is to make clear that eliding the unit address from the canonical representation of the path is not permitted even if a path that used only node-name components is unique within a given devicetree.

Which means for this:
[code]

the

[2020-02-10 14:03] rlubos commented on #22679
It's not a bug but conscious use of a STREAM socket features.

In case you wanted to use a single socket call to send the data, you'd need to combine the header and payload in a single, continuous buffer. So you'd either need to make the user prepend the payload buffer with some spare bytes to fill in the header later (and thus increase the complexity for the user) or copy both, the generated head

[2020-02-10 14:46] baw-serafin commented on #22243
I can confirm that it behaves as expected on master with a delay of `6.1us` which is just slightly slower than my settings. This is probably cause by the clock difference `150MHz` instead of `170MHz`. So the issue seems fixed on master

[2020-02-10 14:47] JusbeR commented on #22679
I see and get your point. It is just that the performance effect is quite nasty.

Quick poll on e.g. paho MQTT C stack shows that they indeed use malloc+copy to construct the packet and it does not have this behavior. So is this approach out of the question here? Maybe behind some config flags?

And it is true that API is now brain dead simple and better to keep it that way. But on the other hand,

[2020-02-10 15:31] rlubos commented on #22679
I see, indeed Nagle might not kick in in this particular case.

The simplest approach I can see to tackle this issue is to provide a Kconfig switch (or even a runtime switch within `struct mqtt_publish_param`) to enable copying of the payload into the TX buffer provided during the initialization. Currently, this buffer is used to construct headers and simple messages (to be honest everything else

[2020-02-10 16:00] #22682 closed

[2020-02-10 16:09] ioannisg commented on #21201
@jhedberg that's fine, so, what I will do is to re-scope it and close this before the release, and move the undone tasks to next release.

[2020-02-10 16:34] WilliamGFish opened #22689 "driver: modem: sara-u2 error when connecting"
**Describe the bug**
The U2 option of driver fails to connect giving a CME ERROR: 133 | Requested service option not subscribed

Turns out a typo which I think came from a cut-n-paste from an order version(ublox-sara-r4.c):

#if defined(CONFIG_MODEM_UBLOX_SARA_U2)
		/* set the APN */
		SETUP_CMD_NOHANDLE("AT+UPSD=0,1,\""
				CONFIG_MODEM_UBLOX_SARA_R4_MANUAL_MCCMNO "\""),

Should be:

#if defined(

[2020-02-10 17:04] mbolivar commented on #22554
I agree with the general principle; I disagree where it pertains to this example.

Since the BASE_ADDRESS macros are not generated from node unit addresses, a name with UNIT_ADDRESS in it would be at best misleading.

[2020-02-10 17:05] StefanHri commented on #6866
I have a similar issue. Even when I do everything as suggested by @avisconti I still get:
[code]

[2020-02-10 17:07] galak commented on #22554
I agree with @mbolivar on this.

I'm not sure why we didn't just call it `REG` to match the property name.

[2020-02-10 17:15] mike-scott opened #22693 "net: config: build break when CONFIG_NET_NATIVE=n"
**Describe the bug**
When `CONFIG_NET_NATIVE=n` is set and building any of the networking samples, the build will break with the following message:
[code]

It looks like a refactoring of `check_interface` in `subsys/net/lib/config/init.c` missed the return value change to `bool`.

**To Reproduce**
Found bug when testing NET_NATIVE=n with SARA-R4 modem using LwM2M client::
[code]

**Expected behavi

[2020-02-10 17:16] henrikbrixandersen commented on #22653
@Laczen Any idea why Coverity has flagged this?

[2020-02-10 17:18] pabigot commented on #22554
I think we're not sharing an understanding.  From what I can tell the unit address of a node **is** the first address in the `reg` value.

You can see references to "unit address" in, for example, [interrupt-map](https://github.com/devicetree-org/devicetree-specification/blob/master/source/devicetree-basics.rst#interrupt-map).

That the devicetree source requires presence of the unit address as a

[2020-02-10 17:29] pabigot commented on #22653
I would expect that Coverity is unaware of the linker magic that tries to put the stats elements immediately after the header.  At a language level there's no guarantee that the bytes after it are part of the same object.

Moving to a flexable array member solution like:

[code]

might allow for an implementation that avoids the diagnostic.

[2020-02-10 17:57] Vudentz commented on #22514
So this is a combination of:

 - BT_SETTINGS being disabled
 - bt_unpair being called while disconnected

I guess we didn't have bt_unpair when we introduced bt_gatt_clear, but you are right that we should probably clear the ccc no matter if BT_SETTINGS is enabled or not.

[2020-02-10 17:58] Laczen commented on #22653
@henrikbrixandersen, no I have no idea. The usage of stats was copied from flash_simulator.

[2020-02-10 18:00] #22689 closed

[2020-02-10 19:05] ToJIka4 opened #22697 "nrf52 telnet_shell panic. Mutex using in ISR."
Stack is
[code]
Since timer handlers in nrf52 is in ISR and network uses mutexes we got panic. Maybe moving `telnet_send` in separate thread will resolve this issue.

[2020-02-10 19:05] olsky commented on #2542
@JoeHut --> could you please share the branch with the BQ27421? I have that sensor on the board, but the drv is missing...

[2020-02-10 19:25] LeBlue opened #22698 "log_stack_usage: prints err: missinglog_strdup()"
**Describe the bug**

Error messages in log output for ```log_stack_usage```, when there is no error while traceing stack usage.

**To Reproduce**
Steps to reproduce the behavior:

Add following config to any bluetooth enabled sample, tested on nrf52840 custom board with hci_usb sample
[code]

**Expected behavior**
propper formated message without errors

**Impact**
annoyance

**Screenshots or con

[2020-02-10 20:31] MaureenHelm opened #22701 "Implement I2C driver for lpcxpresso55s69"
**Is your enhancement proposal related to a problem? Please describe.**
The `lpcxpresso55s69` board currently lacks support for I2C in zephyr.

**Describe the solution you'd like**
Implement a shim driver that adapts the mcux lpc I2C (flexcomm) driver to the zephyr I2C interface. The existing `i2c_mcux.c` and `i2c_mcux_lpi2c.c` shim drivers for kinetis and i.mx rt can be used for reference. Enable

[2020-02-10 20:33] MaureenHelm opened #22702 "Implement I2S driver for lpcxpresso55s69"
**Is your enhancement proposal related to a problem? Please describe.**
The `lpcxpresso55s69` board currently lacks support for I2S in zephyr.

**Describe the solution you'd like**
Implement a shim driver that adapts the mcux lpc I2S (flexcomm) driver to the zephyr I2S interface. Enable `tests/drivers/i2s` for this board to ensure the I2S driver builds and functions correctly.

**Describe alternat

[2020-02-10 20:36] MaureenHelm opened #22703 "Implement ADC driver for lpcxpresso55s69"
**Is your enhancement proposal related to a problem? Please describe.**
The `lpcxpresso55s69` board currently lacks support for ADC in zephyr.

**Describe the solution you'd like**
Implement a shim driver that adapts the mcux lpc ADC driver to the zephyr ADC interface. The existing `adc_mcux_adc12.c` and `adc_mcux_adc16.c` shim drivers for kinetis and i.mx rt can be used for reference. Enable `tes

[2020-02-10 20:39] MaureenHelm opened #22704 "Implement watchdog driver for lpcxpresso55s69"
**Is your enhancement proposal related to a problem? Please describe.**
The `lpcxpresso55s69` board currently lacks support for watchdog in zephyr.

**Describe the solution you'd like**
Implement a shim driver that adapts the mcux lpc wwdt driver to the zephyr watchdog interface. The existing `wdt_mcux_wdog.c` and `wdt_mcux_wdog32.c` shim drivers for kinetis and i.mx rt can be used for reference.

[2020-02-10 20:42] MaureenHelm opened #22705 "Implement counter driver for lpcxpresso55s69"
**Is your enhancement proposal related to a problem? Please describe.**
The `lpcxpresso55s69` board currently lacks support for counter in zephyr.

**Describe the solution you'd like**
Implement a shim driver that adapts the mcux lpc RTC driver to the zephyr counter interface. The existing `counter_mcux_rtc.c` and `counter_mcux_gpt.c` shim drivers for kinetis and i.mx rt can be used for reference.

[2020-02-10 21:11] #3427 closed

[2020-02-10 21:11] #3428 closed

[2020-02-10 21:11] #3429 closed

[2020-02-10 21:31] #22693 closed

[2020-02-10 21:39] jukkar commented on #22679
What about using `sendmsg()` instead of two separate `send()` calls? The sendmsg would normally cause only one TCP segment to be sent.

[2020-02-11 08:21] rlubos commented on #22679
Yes, that should help in the TCP case. I'm only worried about other transports we have, TLS underneath just calls `sendto` several times, so there will be no benefit. And the websocket transport does not seem to implement `sendmsg` at all, so it would require a similar approach as TLS. But we could give it a shot.

[2020-02-11 10:58] Laczen commented on #22653
@nashif, as the author of the stats functionality you might be the best placed to comment.

[2020-02-11 11:42] jhedberg commented on #4973
I'll close this, since after the discussion in #22684 we decided not to pursue these Linux-style APIs.

[2020-02-11 11:42] #4973 closed

[2020-02-11 12:48] ioannisg opened #22720 "armv8-m: userspace: some parts in userspace enter sequence need to be atomic"
**Describe the bug**
A part of the execution sequence in z_arm_userspace_enter needs to prevent Zephyr from swapping -out and -in the current thread. This is required when building with support for Built-in stack overflow protection (ARMv8-M only).

When entering user space, a thread performs the following sequential actions:

a. Clears PSPLIM register
b. Sets PSP (back) to the user thread stack
c

[2020-02-11 12:58] erwango commented on #22091
@giellamoswhard can you check #22277 answers your question ?

[2020-02-11 13:06] jensschroer opened #22722 "posix: redefinition of symbols while porting zeromq to zephyr"
**Describe the bug**
I am trying to port zeromq (libzmq) to Zephyr, using the posix subsystem.
I have patched libzmq to compile it as a module in Zephyr and created a small 'Hello World' app.
The compilation fails with several redefined symbols in the posix system.

**To Reproduce**
The easiest way to reproduce the issue is to clone my sample project.
I am using west for building the project.
Assu

[2020-02-11 13:35] sigvartmh opened #22723 "Optional data compression for RW data"
# Feature request

Since in Zephyr we have full control of the compilation flow and toolchain with `-no-std` files. We could do an optimization when you turn on `-Oz` to optimize the size of RW data in the same manner as the ARMLinker[1] by patching the ELF file before HEX conversion to compress the RW data and add the corresponding decompression in the startup file.

This should at least be possi

[2020-02-11 14:57] pabigot commented on #17102
Some of this done in the GPIO rework, there's no strong motivation for dealing with the rest at this time.  Possibly worth revisiting when things other than GPIO require configuring interrupt callbacks.

[2020-02-11 14:58] carlescufi commented on #10339
Addressed in the GPIO rework.

[2020-02-11 14:58] #10339 closed

[2020-02-11 14:58] #17102 closed

[2020-02-11 15:01] carlescufi commented on #10305
This has been addressed in the GPIO rework

[2020-02-11 15:01] #10305 closed

[2020-02-11 15:01] carlescufi commented on #6327
This has been addressed in the GPIO rework

[2020-02-11 15:01] #6327 closed

[2020-02-11 15:02] giellamoswhard commented on #22091
Yes. Thank you very much.

[2020-02-11 15:12] rlubos commented on #22697
Reproduced with telnet sample running over BLE IPSP. I'll try to put `telnet_send` on a system workqueue instead of calling it directly from a timer handler. If it solves the issue I'll come up with a PR.

[2020-02-11 15:20] ToJIka4 commented on #22697
Fast solution. Works for me.
[code]

[2020-02-11 15:27] rlubos commented on #22697
Yeah, I've originally thought of something similar, but eventually, I've ended up using a `k_delayed_work`. Will submit a PR.

[2020-02-11 15:41] #22363 closed

[2020-02-11 15:48] #22616 closed

[2020-02-11 15:49] erwango commented on #15611
@mnkp can we close this one ?

[2020-02-11 16:03] #22037 closed

[2020-02-11 16:06] mbolivar commented on #18852
Discussion in #18854 indicates that this is no longer an issue, so closing. Feel free to reopen if I read that wrong.

[2020-02-11 16:06] #18852 closed

[2020-02-11 16:12] erwango commented on #16232
Closing this point as we're likely focus efforts on implementing DT related pinmux/pinctrl API

[2020-02-11 16:12] #16232 closed

[2020-02-11 16:21] cfriedt commented on #13519
Ooooo - I like this! It might also be a good idea to add a basic / minimum recommendation and documentation for the radio API. Naturally, most chips will have a different radio, but we are *mostly* using the same interface so far. However, that interface is largely undocumented. Some state diagrams would be nice as well.

[2020-02-11 16:22] cfriedt commented on #20118
I'm working on adding support for the CC13x0 / CC26x0 under PR #21631 with the Split-Link-Layer API Just a few steps away from having a working implementation, although I would say there is definitely room for improvement, outside of some general improvement mentioned in #13519.

[2020-02-11 16:24] erwango commented on #15611
Now that new GPIO API has been implemented and merged, I think we can open the floor to pinctrl API.
Since this issue has been exploited in length for GPIO, I suggest to close this one a open a new one dedicated to pinctrl
@mnkp are you fine with this?

[2020-02-11 16:24] FRASTM commented on #20991
Due to the LPTIM clock source = LSE, the minimal tick period is set to 1000 per sec.
This makes one tick duration = about 33 lptim counting units

Note that the max possible timeout remains 2000ms , reached  when  the LPTIM counter = 0xFFFF

[2020-02-11 16:34] martinjaeger commented on #2542
Very interesting, just found this issue by chance.

I'm working on a [battery management system](https://github.com/LibreSolar/bms-firmware) which I recently ported to Zephyr. It supports TI BQ769x0 and Renesas ISL94202 (preliminary) analog front ends and I thought about whether it could make sense to include the drivers for these ICs into the main Zephyr repository.

A BMS is somewhat more comple

[2020-02-11 16:35] #15611 closed

[2020-02-11 16:42] mfiumara commented on #20629
@joerchan I just checked again and can explain what is happening in my flash storage partition. I'm calling `settings_load` in my `bt_ready` callback, which results in a db_hash_store with hash=0x00000. After this, somewhere `db_hash_gen` is triggered, which generates the proper hash and stores it again to the flash. Whenever I reset the same happens, which causes the switching of hashes.

[2020-02-11 17:00] mfiumara opened #22730 "CONFIG_BT_SETTINGS writes bt/hash to storage twice"
**Describe the bug**
When `CONFIG_BT_SETTINGS` is enabled and the user calls `settings_load()`, initially `bt/hash` is stored as 0x0000. Later, the OS calles `bt_hash_gen()` and re-stores the hash (this time calculated). In combination with a flash back-end this causes excessive flash wear.

**To Reproduce**
Steps to reproduce the behavior:
1. enable `CONFIG_BT_SETTINGS` in project, call `settings

[2020-02-11 17:17] andrewboie commented on #22624
Possibly the same issue: #22559

[2020-02-11 17:58] carlescufi commented on #12277
Linux uses `ENXIO` when an ack is not received from the peer.

[2020-02-11 18:05] Lindenk opened #22731 "Improve docker CI documentation"
**Is your enhancement proposal related to a problem? Please describe.**
There seem to be several (offical?) [docker images](https://hub.docker.com/r/zephyrprojectrtos/ci) on dockerhub used for CI. There is no documentation, examples, or repository link of any kind along with the image. While I could set my own build image up, I would rather use an offical image for CI if possible.

**Describe the

[2020-02-11 18:08] joerchan commented on #22730
I have discussed this one on slack with @mfiumara.

The issue appears to be this check.
[code]
The check if (k_delayed_work_remaining) returns the amount of time until the work will execute, that timeout has run out. but the work has not been executed.
Since it is a single queue of work items, and settings_load is called from bt_ready which is a work-item then we get this situation, the bt_ready i

[2020-02-11 18:10] pabigot commented on #22522
See #22639 which documents what needs to be done to build this test.

[2020-02-11 18:11] #22482 closed

[2020-02-11 18:16] aescolar commented on #22731
CC @nashif @galak

[2020-02-11 18:36] jhedberg commented on #22655
Closed as intentional in covert (there's nothing useful we could do with error handling here)

[2020-02-11 18:36] #22655 closed

[2020-02-11 18:42] jhedberg commented on #22486
No

[2020-02-11 18:42] #22486 closed

[2020-02-11 18:43] pabigot commented on #22652
Marked false-positive, ignore in coverity.

[2020-02-11 18:43] #22652 closed

[2020-02-11 18:59] andrewboie commented on #22542
I'll take a look.

[2020-02-11 19:09] mbolivar commented on #22554
I have some general ideas about naming that are along these lines.

I think `_PROP_<PROPNAME>_` is a reasonable "infix" requirement for macros derived from properties, where `PROPNAME` is the property name converted to a C identifier with the existing rules.

So that would mean `DT_<NAMESPACE>_PROP_REG_BASE_ADDRESS` is the final macro, where `<NAMESPACE>` is something like `INST_<N>_<COMPAT>`, `<A

[2020-02-11 19:21] jukkar opened #22732 "IPv6 address and prefix timeout failures"
**Describe the bug**
After I enabled `CONFIG_NET_IF_LOG_LEVEL_DBG=y`, I started to see constant stream of following message (one msg / ms).
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/sockets/echo_server
2. mkdir build; cd build
3. cmake -B build -DBOARD=nucleo_f767zi . -DCONFIG_NET_IF_LOG_LEVEL_DBG=y
4. make -C build flash
5. See error

**Expected behavior**
No tim

[2020-02-11 20:48] rtalbott opened #22735 "Add support for the NXP MCUX MKS Series of processors"
**Is your enhancement proposal related to a problem? Please describe.**
The mks series of mcu's lacks support for zephyr.

**Describe the solution you'd like**
Add support for this series of micro-controllers including all peripherals (lpi2c, can, and so on).

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-02-11 20:55] #22698 closed

[2020-02-11 21:05] andrewboie commented on #22542
The "c" modifier:

[code]

From https://gcc.gnu.org/onlinedocs/gcc/Extended-Asm.html in 6.47.2.8 x86 Operand Modifiers

Seems like it is not a fan of constants that don't fit in a 32-bit integer? hmmm

[2020-02-11 21:09] dcpleung commented on #22542
Note that this fails only on `qemu_x86_64`, but works on `qemu_x86`.

[2020-02-11 21:24] andrewboie commented on #22561
@ruuddw OK, thanks. Is there an easy way to configure nSIM to not enable RAM for the full address space?

[2020-02-11 22:06] andrewboie commented on #22542
This boils down to the following GCC inline asm code:
[code]

We are trying to set the value with `.equ` but it is not happy with the combination of `%c0` for the first operand, modified with `c`, and the operand constraint is itself `n`.

The fact that this works fine with x86 32-bit is truly baffling.

[2020-02-11 22:11] andrewboie commented on #22542
I might have to ask in the GCC mailing list about this one. The documentation for all of this is so far not helping.

[2020-02-11 22:28] andrewboie commented on #22542
It passes if the value is less than UINT_MAX, if it's bigger than that we get an overflow warning instead, it still builds but the value is truncated:

[code]

[2020-02-11 22:52] mfiumara commented on #20632
This might be related to #22730.

[2020-02-11 23:08] andrewboie commented on #22542
So what I'm seeing here is as follows:

* This mechanism likely does not work for any arch if the value exceeds UINT_MAX. In addition, on i386 it seems to fail silently. We might need some other macro type for values that can get this large.
* This mechanism causes an error on x86-64 if the value exceeds INT_MAX, unlike other arches.

For the former, we probably should open another bug if we're ex

[2020-02-12 00:09] andrewboie opened #22738 "crashes in tests/kernel/mem_protect/userspace case pass_noperms_object on x86_64"
[code]

[code]

[code]

I've also seen this scenario just get stuck with no output. This seems fairly easy to reproduce outside of CI, it doesn't always fail, but it doesn't take long to get a run to go haywire.

[2020-02-12 02:02] stephanosio commented on #22670
TODO: Make sure that the dynamic interrupt test is aware of the always-enabled SGIs on some GIC variants (e.g. PL-390, GIC-400).

https://github.com/zephyrproject-rtos/zephyr/pull/22718#discussion_r378003564

[2020-02-12 04:25] vonhust commented on #22624
can be fixed by #22608

[2020-02-12 06:03] dcpleung commented on #22522
I have no problem building it at current master.

The git commit the bug pointed to was before the topic-gpio branch was merged into master. In the topic-gpio branch, an overlay was added for the `mec15xxevb_assy6853` board (which is now in master).

Please try building again and see if it is still a problem on your side.

[2020-02-12 07:35] chen-png commented on #22622
@pabigot Can we use the testcase.yml to exclude those unsupported boards?

because we use the sanitycheck to run all tests in testing system, if we modify the README file, for each board, when running sanitycheck command, we have to use the sanitycheck's option to exclude this test.
if we can modify the testcase.yml, we can just run sanitycheck command, don't care about boards.

[2020-02-12 07:47] erwango commented on #22091
I'm reopening the point.
It will be closed automatically when #22777 gets merged

[2020-02-12 07:54] jukkar commented on #22439
False positive, the code never uses address_option_idx when its value is < 0

[2020-02-12 07:54] #22439 closed

[2020-02-12 08:00] jukkar commented on #22444
False positive

[2020-02-12 08:00] #22444 closed

[2020-02-12 08:03] jukkar commented on #22440
False positive, the value of amount variable cannot be 0.

[2020-02-12 08:03] #22440 closed

[2020-02-12 08:05] jukkar commented on #22438
False positive

[2020-02-12 08:05] #22438 closed

[2020-02-12 08:06] jukkar commented on #22437
False positive

[2020-02-12 08:06] #22437 closed

[2020-02-12 08:15] jukkar commented on #22433
False positive.

[2020-02-12 08:15] #22433 closed

[2020-02-12 08:18] jukkar commented on #22430
False positive, Coverity gets confused by various #ifdefs

[2020-02-12 08:18] #22430 closed

[2020-02-12 08:22] #22697 closed

[2020-02-12 08:27] hakehuang opened #22745 "schedule_api fails with slice testing on frdmkw41z board on v2.2.0_rc1"
**Describe the bug**
test_slice_scheduling fails

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_kw41z  '-DCONFIG_TIMESLICING=y' ..
3. make
4. make flash

**Expected behavior**
all tests pass

**Impact**

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux)
 - Toolchain (e.g Zeph

[2020-02-12 08:27] hakehuang commented on #22745
@MaureenHelm

[2020-02-12 08:28] jukkar commented on #19100
Looks more like a configuration issue so lowering priority.

[2020-02-12 09:43] erwango opened #22748 "Introduce pinctrl API to support pinctrl dts nodes"
## Introduction

In order to be able to use dts defined pin configurations, zephyr needs to propose a pinctrl API allowing to configure pins based on dts dt-bindings. This API will have to co-exist with newly introduced gpio API.

This issue is the follow up of https://github.com/zephyrproject-rtos/zephyr/issues/15611. It does not suggest solution, but is meant to launch discussions.

### Problem

[2020-02-12 09:44] erwango commented on #22748
@carlescufi, @galak, @MaureenHelm, @pabigot, @mnkp, @b0661, @mbolivar

[2020-02-12 09:56] joerchan commented on #20632
That's probably correct. The hash will have to calculated, but should not be stored if not changed.

[2020-02-12 10:19] ashaannajoy commented on #22522
Yes the build issue for microchip is fixed with the latest master.
Closing the issue

[2020-02-12 10:19] #22522 closed

[2020-02-12 10:37] carlescufi commented on #13519
Just added a point at the end, thanks!

[2020-02-12 10:45] ggk4u commented on #21833
@bluetooth-mdw

I could able to successfully run the mesh switch using 1.12v of zephyr, But the latest looks like has some issue configuring MESH

[2020-02-12 10:50] bluetooth-mdw commented on #21833
Configuration is performed from within code. This is explained in the documentation.

FYI V2.0 of the Bluetooth Mesh Developer Study Guide should be available for download some time this week. It does not use micro:bit anymore, however.

[2020-02-12 10:59] lowlander opened #22751 "STM32F407 I2C driver hangs"
The STM32F407 I2C driver hangs from time to time where it waits on the semaphore in the driver.  When that happens the signal on the bus looks like this (SDA = yellow, SCL = green);

![i2c_error](https://user-images.githubusercontent.com/1266398/74319938-0e57a900-4d80-11ea-9db9-cecb1f442da0.png)

To work around it I added a timeout to the k_sem_take calls, but I have not found the real cause of th

[2020-02-12 11:07] erwango commented on #22649
Line value is protected by following check at the beginning of the function:
[code]
Setting CID as intentional/won't fix

[2020-02-12 11:10] #22649 closed

[2020-02-12 11:37] b0661 commented on #22748
**Things to consider**

- Runtime pinctrl data access:

The Linux pinctrl interface has a lot of functionality to query pinctrl configuration data. This functionality should be guarded by a config option (e.g. CONFIG_PINCTRL_RUNTIME_DTS), if implemented at all,  to enable pinctrl for very memory constraint devices.

- Pin controller device struct data

The way to generate the pinctrl configuration

[2020-02-12 11:45] pabigot commented on #22622
@chen-png Probably.  Please see #22754; I think it should exclude unsupported boards.

[2020-02-12 11:56] #22660 closed

[2020-02-12 12:26] joerchan commented on #22730
Reproduce:

Configurations:
CONFIG_BT_GATT_DYNAMIC_DB=y
CONFIG_BT_GATT_CACHING=y
CONFIG_BT_DEBUG_GATT=y

Modified (extracted) peripheral sample:
[code]

Then this will happen on every reset:
[code]

[2020-02-12 12:31] #22626 closed

[2020-02-12 12:42] erwango commented on #22243
I'm closing the issue, as it is reported fixed on master.
#22245 remain open (with #22311 as fix)

[2020-02-12 12:42] #22243 closed

[2020-02-12 12:44] erwango commented on #16023
@jli157 can you  check ?

[2020-02-12 12:49] joerchan commented on #22730
@mfiumara I posted a possible fix for this issue. It solves the issue when I was reproducing it locally. Can  you verify that it also works in your setup?

[2020-02-12 12:54] SebastianBoe commented on #22723
Explained in another way;

instead of memcpy'ing data from flash to the .data section in RAM at boot. We could have the build system build a hex file with the .data section compressed. And then we could during the boot process (C runtime setup) decompress it before writing it to RAM.

This would save us flash at the cost of some complexity and some boot time overhead.

[2020-02-12 13:09] joerchan commented on #20629
The original issue I believe has been fixed by #21217
If anybody disagrees please re-open the issue.

The issue about flash wear on the bt/hash setting has been moved to it's own issue: #22730

[2020-02-12 13:09] #20629 closed

[2020-02-12 13:10] mfiumara commented on #22730
I just tried this. It seems the hash is now not stored anymore as zero, but it is calculated differently and the problem still persists. I tried by erasing all memory, then running my application twice. My storage partition output after this:
[code]

[2020-02-12 13:14] joerchan commented on #22730
@mfiumara Can you check if you have any calls to `bt_gatt_service_register`, and if they are executed before or after `settings_load`?

[2020-02-12 13:24] pabigot opened #22758 "RFC: Require system clock stability on startup"
Currently, at least on Nordic, the system timer startup starts an underlying clock, but then starts the timer and continues with system startup without waiting for that clock to stabilize.  In some cases this may take several hundred milliseconds, with no guarantee on how the clock will behave during stabilization.

It's unclear whether this is a bug, or is allowed as an option for under-defined b

[2020-02-12 13:24] pabigot commented on #22758
@nordic-krch @ioannisg

[2020-02-12 13:33] mfiumara commented on #22730
I just checked using gdb. I can confirm `bt_gatt_service_register` is called _after_ `settings_load`. The piece of application initialization code I have:
[code]
The gdb trace:
[code]
The `settings_load` is in the `bt_ready` callback.

[2020-02-12 13:46] joerchan commented on #22730
Ok. then that explains it I think. Could you move the call to smp_bt_register before settings_load for now?

I documented this current requirement here: https://github.com/zephyrproject-rtos/zephyr/pull/22756/commits/a9e0c6c47016a1a480157eff3af3631d21cdfbc9
Also I asked the question in the PR if this is really the behaviour that we want. So let's hear what the others think about his.

[2020-02-12 14:38] mfiumara commented on #22730
@joerchan I retried by re-ordering my initialisation routine (calling `smp_bt_register` before `settings_load`) and this seems to work. I redid the same test (restarting my device twice) and the storage partition now looks as follows:
[code]
So can confirm this fix works as intended.

[2020-02-12 14:51] #21650 closed

[2020-02-12 15:29] erwango commented on #22751
@lowlander even if happening from time to time, would you have some code to reproduce?

[2020-02-12 15:33] #22489 closed

[2020-02-12 15:37] erwango commented on #22083
Assigning to @Mani-Sadhasivam to check LORA side.

[2020-02-12 15:41] #22436 closed

[2020-02-12 15:45] jhedberg commented on #22624
@chen-png could you retest with latest master, now that #22608 has been merged?

[2020-02-12 15:46] jhedberg commented on #22559
@andrewboie could you retest with latest master now that #22608 has been merged?

[2020-02-12 15:53] jhedberg commented on #21156
@dcpleung do you know if anyone is looking at this? Should it be reassigned to someone else?

[2020-02-12 15:57] jhedberg commented on #19245
@Vudentz could you please re-check if this issue still exists? It's marked as medium so it'd be good to close it if it's already fixed upstream.

[2020-02-12 16:01] #22646 closed

[2020-02-12 16:07] mbolivar commented on #21967
@jhedberg I think the labels need a -bug +question and this issue can be closed.

[2020-02-12 16:31] #20426 closed

[2020-02-12 16:35] jhedberg commented on #21967
@dcpleung unfortunately I can't remember, but seems like a mistake - sorry about that.

@mbolivar agreed.

[2020-02-12 16:35] #21967 closed

[2020-02-12 16:42] dcpleung commented on #21156
I have been looking at this on-and-off. The problems are lack of documentation on IO-APIC, and QEMU having the 0xFF broadcast which does not seem to be the case for actual hardware. One of the solution is to use logical destination, which works on UP^2 but fails QEMU. So more investigation is needed.

[2020-02-12 17:04] lowlander commented on #22751
@erwango I will try to "port" the problem to a 407 dev board. This will take me at least until early next week.  As soon as I have more info I'll post it here.

[2020-02-12 17:25] andrewboie commented on #22559
This is now fixed.

[2020-02-12 17:25] #22559 closed

[2020-02-12 17:25] andrewboie commented on #22624
This should be fixed now.

[2020-02-12 18:03] Mani-Sadhasivam commented on #22083
@KwonTae-young I can reproduce this issue. But it is random in nature as you said. I'm seeing 1/5 times and sometimes do not. But nevertheless, it is an issue. Let me dig into it soon and update this issue.

[2020-02-12 18:15] andrewboie commented on #22738
I have a theory that this has something to do with the system trying to reschedule while in exception context, which doesn't work right on x86-64 due to per-cpu exception stacks, exceptions are not taken on a thread stack.

[2020-02-12 18:16] andrewboie commented on #21923
Another side note: I think k_is_in_isr() should be 'true' while handling an exception, but need to confirm all the details of this.

[2020-02-12 19:06] Mani-Sadhasivam commented on #22083
@KwonTae-young @erwango So looks like the issue arises when two consecutive DIO1 interrupts arrive one after the other. Then the board hangs. I can confirm that the `DioIrq` callback gets executed successfully for the second time though.

Will dig more into this.

[2020-02-12 19:21] andrewboie opened #22771 "z_x86_check_stack_bounds() doesn't work right for nested IRQs on x86-64"
**Describe the bug**
The bounds of only the first interrupt stack (of size CONFIG_ISR_STACK_SIZE) are checked. This is wrong for two reasons:

1. We have multiple levels of the interrupt stack for nested IRQs
2. We have a different set of interrupt stacks per-cpu

Found in code inspection.
Need to write a test for this, if possible.

See also #21495

**Impact**
Exceptions may be reported as stack

[2020-02-12 20:39] andrewboie commented on #22738
Experimenting with per-thread exception stacks but still having crashes. My code might not be right however. https://github.com/andrewboie/zephyr/tree/x86-64-exceptions

[2020-02-12 20:56] andrewboie commented on #17735
@ruuddw I agree. And I spoke with @ceolin some more, we think we don't have specific fusa requirements to return values, killing the caller is acceptable as well. So in the end we may not do much here.

I think it helps to decompose this into categories. Using my previous post of return codes as a starting point:

1. The user has invoked an unimplemented system call (ENOSYS case)
2. The user has u

[2020-02-13 02:12] jenmwms commented on #22430
@jukkar Thanks for looking into this and offering rationale. It helps me learn!

[2020-02-13 02:17] xiongyihui opened #22774 "Set USB version to 2.1 when CONFIG_USB_DEVICE_BOS is set"
**Is your feature request related to a problem? Please describe.**

When using WebUSB with a USB composite device, we need to add MS OS 2.0 Platform Capability
 Descriptor to BOS (Binary Device Object Store) Descriptor which requires **USB 2.1**

**Describe the solution you'd like**
Apply a patch to `subsys/usb/usb_descriptor.c`
[code]

**Describe alternatives you've considered**
NA

**Additional

[2020-02-13 02:27] chen-png commented on #22624
yes, this has been fixed in the latest master with the merged #22608.

[2020-02-13 02:27] #22624 closed

[2020-02-13 04:37] stephanosio commented on #21167
The problem is that the newlib full malloc implementation (`mallocr.c`) requests a relatively large 4096-byte memory chunk through `_sbrk`, which exceeds the `CONFIG_NEWLIB_LIBC_ALIGNED_HEAP_SIZE` of 512-byte for this test.

After increasing the heap size, this test passes.

**Nano malloc**
[code]

**Full malloc**
[code]

[2020-02-13 05:58] b0661 commented on #22748
**Steps to implement**

Steps to implement and candidate PRs for the different aspects of implementation.

- Pin controller API (aka. include/drivers/pinctrl.h)
  - [ ] TBD

- Device tree pin configuration data encoding (aka. include/dts-bindings/pinctrl.h)
  - [ ] TBD

- Pin controller device struct data format (struct config, struct data)
  - [ ] TBD

- Device tree pin configuration data extract

[2020-02-13 06:10] chen-png opened #22777 "Sanitycheck hardware map integration failed with some tests timeout."
**Describe the bug**
use the sanitycheck hardware map option to run the whole tests directory in parallel on four boards:
reel_board, frdm_k64f, sam_e70_xplained, mimxrt1050_evk,
**there are some successful tests failed due to timeout(those tests should be passed if only run one board), so it can't ensure the pass rate.**

in the 26 failed tests:
1. some tests failed due to timeout
INFO    -  38/7

[2020-02-13 06:53] abrodkin commented on #22316
@andrewboie please upgrade your Free nSIM to the most recent version v2019.09
(available after click-through registration here https://www.synopsys.com/cgi-bin/dwarcnsim/req1.cgi).

[2020-02-13 07:03] #22542 closed

[2020-02-13 07:10] pavlohamov commented on #22751
@lowlander could you be so kind to try play with optimization?
CONFIG_SIZE_OPTIMIZATIONS=n
CONFIG_NO_OPTIMIZATIONS/CONFIG_DEBUG_OPTIMIZATIONS=y
and vise-versa

[2020-02-13 07:39] erwango commented on #22748
@b0661 , out of curiosity, from what I understand you've already implemented pinctrl driver oot, could you share with us the solution you chose regarding gpio/pinctrl responsibilities partitioning?

[2020-02-13 08:46] chen-png opened #22780 "Sanitycheck hardware map integration caused some tests failure."
**Describe the bug**
use the sanitycheck hardware map option to run the whole tests directory in parallel on four boards:
reel_board, frdm_k64f, sam_e70_xplained, mimxrt1050_evk,
**there are some successful tests related to timer failed(those tests should be passed if only run one board), so it can't ensure the pass rate.**

in the 26 failed tests:
1. test case related to timer failed
INFO    - 16

[2020-02-13 10:01] b0661 commented on #22748
@erwango

The solution is already in #6760. Gpio is using pinctrl as a backend for pin configuration and muxing.

[2020-02-13 10:59] #22640 closed

[2020-02-13 10:59] #19643 closed

[2020-02-13 10:59] #22317 closed

[2020-02-13 11:03] teijokk opened #22784 "system hangs in settings_load() nrf52840 custom board"
**Describe the bug**
When try to call settings_load() before bt_le_adv_start() system hangs in custom board.
This works fine in nordic nrf52840 dev board.

**To Reproduce**
Steps to reproduce the behavior:
compile and flash -> samples/bluetooth/peripheral example. Works in DK but not in custom boad

**Expected behavior**
bt_le_adv_start() should return Zero and start advertising

**Impact**

**Scr

[2020-02-13 11:11] agata-ponitka opened #22786 "Bluetooth: SM/MAS/PROT/BV-01-C FAIL"
Describe the bug
After timeout Zephyr send pairing failed.

To Reproduce
run auto-pts

Expected behavior
After timeout Zephyr should ignore pairing response.

[SM_MAS_PROT_BV-01-C_FAIL.zip](https://github.com/zephyrproject-rtos/zephyr/files/4197935/SM_MAS_PROT_BV-01-C_FAIL.zip)

[2020-02-13 11:28] nvlsianpu commented on #8364
cc @de-nordic

[2020-02-13 11:56] nvlsianpu commented on #22784
@teijokk I don't know hat a SoC you are using, what kind of flash is used as the storage or How your storage partition looks like in the DTS.
I see not enough info for help with issue you registered.

[2020-02-13 12:36] aescolar commented on #22786
CC @joerchan

[2020-02-13 13:17] nvlsianpu commented on #22653
@henrikbrixandersen This is false-positive.
@pabigot Interesting suggestion.

[2020-02-13 13:26] chrta commented on #22722
I had also a similar problem when i tried out to port asio (asio is already ported for esp32 in esp-idf).
I would also like to structure the posix headers etc in a way so it is easier to port external libs.

[2020-02-13 13:45] nvlsianpu commented on #16735
As recently I have been using smp_svr a loot on nRF52 SoC's I can tell that it works fine, re-open if found it buggy again.

[2020-02-13 13:45] #16735 closed

[2020-02-13 14:30] pfalcon commented on #22722
As someone who ported more than project to Zephyr POSIX subsystem, and made numerous changes to that subsys to accommodate such porting efforts, I certainly can understand there're many more changes to make before Zephyr will be an equal member among POSIX systems (if that ever happens).

ZMQ is definitely a hard case, because it's C++ and a large project overall.

Something which caught my attent

[2020-02-13 14:33] SebastianBoe commented on #13436
Hi,

I would like to give a go at fixing this, but I was not able to reproduce the runtime error.

It's stated that after setting CONFIG_NUM_PREEMPT_PRIORITIES=0

then

[code]

will be produced and this is invalid. I am able to reproduce that these options are set in this manner.
But what if this is an invalid configuration, then what would be the desired values?

[2020-02-13 15:11] rlubos commented on #21744
It seems that a similar issue was reported in #21335, and it was fixed in #21371 (the same way it was suggested in this issue). I could not reproduce it on current master so I think we can close this issue. Please reopen if you think the problem still persists.

[2020-02-13 15:11] #21744 closed

[2020-02-13 15:40] nvlsianpu commented on #16023
I found that fixed since a while. Just tested again with success (on nrf52840_pca10056).

[2020-02-13 15:40] #16023 closed

[2020-02-13 15:43] maksimmasalski commented on #21848
@nashif I submitted pr #22799, but I only solved test case names in .yaml file.
That sanitycheck command also gave me more duplicates, but that duplicates are in main.c code
For example in code for tests I found that kind of duplicates:
`ztest_test_suite(syscalls,
ztest_unit_test(test_string_nlen),
ztest_user_unit_test(test_string_nlen),
`
I can't understand, should we use for one test case `ztest

[2020-02-13 15:59] jhedberg commented on #22786
Based on our analysis on Slack: It looks like commit 6a71ebf6c53 from @Vudentz is to blame, since it adds the call to `smp_pairing_complete(smp, BT_SMP_ERR_UNSPECIFIED);` after setting `SMP_FLAG_TIMEOUT`, and then `smp_pairing_complete()` calls `smp_reset()` which in turn calls `atomic_set(smp->flags, 0);`

[2020-02-13 16:05] MarekPieta opened #22801 "Bluetooth: Split LL: Reconnection problem"
**Describe the bug**
Problem was replicated using Zephyr Bluetooth peripheral device. I switched to Zephyr SW Split LL (previously I used SW Legacy LL). If whitelisting is enabled, the Central is connecting and bonding, but it is unable to reconnect. The reconnection problem was not observed for SW Legacy LL.
When I disable the whitelisting, the reconnection works fine too.

**To Reproduce**
1. Us

[2020-02-13 16:05] joerchan commented on #22786
In my opinion the change could be safely reverted. smp_pairing_complete with an error status is only going to call the security_changed and pairing_failed callbacks.

[2020-02-13 16:09] nvlsianpu commented on #9873
QSPI based driver Introduced as Nordic QSPI nor driver (usage examples tests/subsys/fs/littlefs on nrf52840_pca10056).
https://github.com/zephyrproject-rtos/zephyr/pull/21535

Also possible to use spi nor driver.

[2020-02-13 16:09] #9873 closed

[2020-02-13 16:37] galak commented on #22748
Runtime Pin ctrl use model: https://github.com/zephyrproject-rtos/zephyr/issues/11918

[2020-02-13 16:38] galak commented on #22748
https://github.com/zephyrproject-rtos/zephyr/issues/20012

[2020-02-13 17:14] mbolivar commented on #22543
@abrodkin I'm closing as I think this is done. Please reopen if you disagree.

[2020-02-13 17:14] #22543 closed

[2020-02-13 17:34] pabigot opened #22803 "k_delayed_work_cancel documentation inconsistent with behavior"
https://github.com/zephyrproject-rtos/zephyr/blob/c6d37eba7bf82df12e41b2c4b65cc17d739ea48d/include/kernel.h#L3117 inaccurately documents the behavior of `k_delayed_work_cancel()`.  Specifically, if the work item has already completed the function will return zero, rather than `-EINVAL`.  Assuming the states of a work item:
* never submitted
* delayed
* pending
* processing
* completed
* cancelled

[2020-02-13 17:35] pabigot commented on #22803
@joerchan

[2020-02-13 17:39] #22316 closed

[2020-02-13 17:46] abrodkin commented on #22543
Indeed both implementation (https://github.com/zephyrproject-rtos/zephyr/commit/5a4237ed3b569af0efa46374ace3a08a0aa6eb9c) and example (https://github.com/zephyrproject-rtos/zephyr/commit/946ed0e3695a0744f3b58fa741ec0204a8ac8d5f) are in the main tree, thanks.

[2020-02-13 17:53] joerchan commented on #22803
Thanks.

For my use-case I think a function similar to k_work_pending for k_delayed_work would have been very useful. Between the timeout running out (k_delayed_work_remaining_get) and the timeout handler submitting (or not processed) it's no possible to check if the delayed work has been submitted, but not completed.

[2020-02-13 18:04] mbolivar commented on #17689
@olsky do you think this issue can be closed

[2020-02-13 18:15] jensschroer commented on #22722
Do you have a link to the PR? Maybe that could give me some additional ideas on what I need to do.

[2020-02-13 19:53] Vudentz commented on #22803
So I was with the right impression on this one and the documentation is wrong in one way or the other, the question is shall we change the implementation to reflect what is stated in the documentation? That would mean cancel would return an error if neither the timer or pending flag is set.

Something like this:

`diff --git a/kernel/work_q.c b/kernel/work_q.c
index 7023f70f07..d9b259b50b 100644
-

[2020-02-13 21:16] jensschroer commented on #22722
Finally found the solution to this bug. Due to my own doing the CMakeLists.txt in libzmq defined -D_GNU_SOURCE which caused the redefines.
I will close this. Thank you for the comments!

[2020-02-13 21:16] #22722 closed

[2020-02-13 21:39] franciscomunoz commented on #21551
This issue was already solved with  a HAL change. Therefore, I'm closing it.

[2020-02-13 21:39] #21551 closed

[2020-02-13 23:22] #14206 closed

[2020-02-13 23:27] nashif commented on #21317
addressed

[2020-02-13 23:27] #21317 closed

[2020-02-13 23:28] #16011 closed

[2020-02-13 23:29] #19666 closed

[2020-02-13 23:31] nashif commented on #11751
this is done now.

[2020-02-13 23:31] #11751 closed

[2020-02-13 23:36] #12490 closed

[2020-02-13 23:37] nashif commented on #3636
done

[2020-02-13 23:37] #3636 closed

[2020-02-13 23:41] #3156 closed

[2020-02-13 23:41] lawrence-king opened #22814 "mcuboot doesn't build with zephyr v2.1.0"
mcuboot is required to use the CONFIG_BOOTLOADER_MCUBOOT=y  feature of Zephyr. Cloning mcuboot from either https://github.com/JuulLabs-OSS/mcuboot.git or https://github.com/zephyrproject-rtos/mcuboot.git ends up with something that won't compile.

west build ends up with the error:

To reproduce, run the following steps:

At this point the build error above appears.

**Expected behavior**
A clean

[2020-02-13 23:41] nashif commented on #9194
we do not have these headers anym,ore

[2020-02-13 23:41] #9194 closed

[2020-02-13 23:41] #3943 closed

[2020-02-13 23:42] #3810 closed

[2020-02-13 23:43] #3098 closed

[2020-02-13 23:43] #2925 closed

[2020-02-13 23:46] nashif commented on #21484
this would be solved with k_thread_join()

[2020-02-13 23:46] #14639 closed

[2020-02-13 23:50] #12134 closed

[2020-02-13 23:51] #3866 closed

[2020-02-13 23:57] nashif commented on #12027
cc @wentongwu

[2020-02-13 23:57] #12027 closed

[2020-02-14 00:00] nashif commented on #6157
fixed

[2020-02-14 00:00] #6157 closed

[2020-02-14 00:00] #6521 closed

[2020-02-14 00:00] franciscomunoz commented on #21756
The current number of threads "10" did not matched the expected "9". The kscan driver has a thread which is messing with the expected count. The test passes after disabling it ... I'm going to create a PR for disabling the KSCAN in the board.

starting test - test_philosophers_tracing
SEMAPHORE REF: 0x00118088
SEMAPHORE REF: 0x00118070
SEMAPHORE REF: 0x00118058
SEMAPHORE REF: 0x00118040
SEMAPHORE

[2020-02-14 00:01] nashif commented on #12537
question answered.

[2020-02-14 00:01] #12537 closed

[2020-02-14 00:02] stephanosio commented on #11172
Closing this issue as the basic ARMv8-A architecture support has been merged (#20263).

Further development is tracked at #22411.

[2020-02-14 00:02] #11172 closed

[2020-02-14 00:02] #2814 closed

[2020-02-14 00:06] #3717 closed

[2020-02-14 01:32] chen-png commented on #22622
@pabigot  it seems that it only excludes the reel_board,  for frdm_k64f, sam_e70_xplained and mimxrt1050_evk, still the same error.

[2020-02-14 03:24] pabigot commented on #22622
Does it work if you short the input pin to the output pin, as directed in the README?

Because the test simply cannot pass on a board that doesn't have the test configuration.  There's nothing I can do about that.

[2020-02-14 04:59] #18280 closed

[2020-02-14 06:38] cvinayak commented on #22801
I tried with iPhone, I see no issue with reconnection.

With nRF Connect for Desktop v3.3.0 with Bluetooth Low Energy v2.3.2, reconnection fails with MIC failure. It seems the desktop application is not using correct keys.

[reconnection.zip](https://github.com/zephyrproject-rtos/zephyr/files/4203070/reconnection.zip)

[2020-02-14 07:48] teijokk commented on #22784
Ok, i have consulted hw designer. soc is nrf52840_qi and there are no different memory or peripheral versions in that soc

my board dts flash declaration(default that comes in zephyr)

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cell

[2020-02-14 07:54] jensschroer opened #22819 "#define _current in kernel_structs.h leaks into global namespace"
**Describe the bug**
While trying to port a library to zephyr I noticed that `#define _current` in kernel_structs.h leaks into the global namespace. This manifested itself in a compile error of a class that included the zephyr header `posix/sys/socket.h` and had a variable called `_current` - a legitimate name for a variable from my point of view.

**To Reproduce**
Steps to reproduce the behavior:

[2020-02-14 08:22] joerchan commented on #22085
The pass verdict of the test is quite clear and the controller should be passing:

Pass Verdict
The IUT returns an HCI Command Complete or HCI Command Status Event with Status =
Unknown_HCI_Command.

@aescolar Please update EDTT to accept both responses.

[2020-02-14 08:39] lowlander commented on #22751
@pavlohamov I have tried every optimization setting and it doesn't seem to influence the problem, it happens with all settings.

[2020-02-14 08:55] Laczen commented on #22784
@teijokk, have you tried erasing the complete flash before uploading your program?

[2020-02-14 09:24] teijokk commented on #22784
I have been managed to debug the code in our custom board. bluetooth/peripheral example . Seems that problem is not settings_load() or anything flash related. Program enters err = bt_le_adv_start(BT_LE_ADV_CONN_NAME, ad, ARRAY_SIZE(ad), NULL, 0);
then in
err = set_advertise_enable(false); (hci_core.c )
but then when called
err = bt_hci_cmd_send_sync(BT_HCI_OP_LE_SET_ADV_ENABLE, buf, NULL);(hci_cor

[2020-02-14 09:30] teijokk commented on #22784
can anyone give me advice what is the correct way to investigate this problem?  bluetooth/beacon example works fine, but we need connectable ad in our project and that clearly not working.

[2020-02-14 09:31] aescolar commented on #22784
@cvinayak can you help @teijokk ?

[2020-02-14 09:40] Laczen commented on #22784
@teijokk, I would still start with disabling settings. In the prj.conf file comment the last 7 lines by inserting # before each line.

[2020-02-14 09:55] #22786 closed

[2020-02-14 10:06] nvlsianpu commented on #22784
@joakimtoe can you help?

[2020-02-14 10:07] teijokk commented on #22784
yes, have disabled setting in prj file.
#CONFIG_BT_KEYS_OVERWRITE_OLDEST=y
#CONFIG_BT_SETTINGS=y
#CONFIG_FLASH=y
#CONFIG_FLASH_PAGE_LAYOUT=y
#CONFIG_FLASH_MAP=y
#CONFIG_NVS=y
#CONFIG_SETTINGS=y

 Code works in nrf52840_pca10056 dev board but not custom board. Same symptoms that before.

[2020-02-14 10:08] nvlsianpu commented on #22784
@joerchan can you help?

[2020-02-14 10:15] teijokk commented on #22784
Hey, somethings changed. After let say 30-60 seconds minicom prints -> Advertising successfully started and i can confirm in nordic app that advertise works!

[2020-02-14 10:16] ashaannajoy commented on #21756
This test passes by disabling KSCAN in zephyr/boards/arm/mec15xxevb_assy6853/mec15xxevb_assy6853_defconfig

[2020-02-14 10:22] ashaannajoy commented on #21755
Comment from dcpleung: requires specific hardware setup for ADC to work (jumpers and a reasonable voltage source). It possibly needs pinmux changes in code. IIRC, the ADC pins are being used for other purposes in the EC code where this test would not work as-is

[2020-02-14 10:33] joerchan commented on #22784
After 30 seconds? Can you please enable CONFIG_ASSERT?

[2020-02-14 10:35] erwango commented on #22751
Setting prio low while we're waiting for way to reproduce

[2020-02-14 10:36] carlescufi commented on #22814
MCUboot's master is only compatible with Zephyr's master. If you need backwards compatibility you need to use Zephyr's [MCUboot repository](https://github.com/zephyrproject-rtos/mcuboot) at the revision that corresponds to the zephyr release.

[2020-02-14 10:37] carlescufi commented on #22814
See this discussion on the MCUboot GitHub for more info:
https://github.com/JuulLabs-OSS/mcuboot/pull/659

[2020-02-14 10:37] #22814 closed

[2020-02-14 10:54] teijokk commented on #22784
enable asserts
CONFIG_ASSERT=y
no changes or any assert prints. i have tested 5 times and seems to work. time out is 30s when advertise starts. btw enabled CONFIG_BT_DEBUG_LOG=y

Have to test if this affect perormace of system or is this delay only for when bt is starting.

*** Booting Zephyr OS build v2.2.0-rc1-83-g4f9b9a4500d8  ***
[00:00:00.006,744] <inf> fs_nvs: 8 SecAdvertising successfully s

[2020-02-14 11:11] ToJIka4 opened #22822 "mesh: typo in condition in comp_add_elem of cfg_srv"
https://github.com/zephyrproject-rtos/zephyr/blob/1156412904605cdbe43310680e9311dc5998423d/subsys/bluetooth/mesh/cfg_srv.c#L53
i think there should be
`4 + (elem->model_count * 2U) + (elem->vnd_model_count * 4U)) {`

[2020-02-14 11:18] aescolar commented on #22822
CC @jhedberg

[2020-02-14 11:19] joerchan commented on #22784
@teijokk Could you check and possibly switch your clock control source?
CLOCK_CONTROL_NRF_K32SRC_RC
CLOCK_CONTROL_NRF_K32SRC_XTAL
Is  the two I would like to try and check if anyone of those have trouble.

Also please enable CONFIG_BT_DEBUG_HCI_CORE and CONFIG_BT_DEBUG_HCI_DRIVER.

[2020-02-14 11:38] carlescufi commented on #21498
@kcnsunrise could you please add information as to how to reproduce this issue as requested by @cvinayak ?

[2020-02-14 11:39] ToJIka4 commented on #22784
@teijokk Could you share schematic?

At the beginning I'd choose `nrf52840 pca10056` board configuration and started my project. For board modification I put `nrf52840_pca10056.overlay` file in project folder. I had some issue with my custom board because of power supply. In the end i found solution with `CONFIG_BOARD_ENABLE_DCDC=n`. My board have 3.3V supply.

So maybe you choose ready board that

[2020-02-14 11:42] carlescufi commented on #19361
@jhedberg @trond-snekvik can this be closed?

[2020-02-14 11:51] carlescufi commented on #20724
I tested this both with Zephyr SDK 0.11.1:
[code]
And with GNU Arm Embedded 9.2.0, as downloaded from [here](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads):
[code]
Neither show any issues, and those are the officially supported toolchains for Arm.

[2020-02-14 11:51] #20724 closed

[2020-02-14 12:11] jhedberg commented on #22822
@ToJIka4 looks like you're right. Are you planning to submit a pull request?

[2020-02-14 12:12] de-nordic commented on #8364
My first finding is that: the problem is with cbor encoder running out of memory, while trying to encode  single buffer of  FS_MGMT_DL_CHUNK_SIZE.

[2020-02-14 12:13] ToJIka4 commented on #22822
@jhedberg Okay, I'll do it

[2020-02-14 12:14] jhedberg commented on #19361
I'd say so. @stephenmasih can reopen it if/when he's done with further digging and concluded that there's still something to fix in the stack.

[2020-02-14 12:14] #19361 closed

[2020-02-14 12:15] #22514 closed

[2020-02-14 12:15] #22539 closed

[2020-02-14 12:23] cvinayak commented on #22801
Reproduce and analyzed it to be porting regression while adding conditional compilations.

[2020-02-14 12:28] aescolar commented on #15171
It would seem this is now resolved, please reopen if you disagree.

[2020-02-14 12:28] #15171 closed

[2020-02-14 12:30] carlescufi commented on #19245
I just tested this now:

[code]

Seems to work fine, so closing the issue for now.

[2020-02-14 12:30] #19245 closed

[2020-02-14 12:39] cvinayak commented on #21107
@LeBlue

CONFIG_BT_CTLR_LLCP_CONN= CONFIG_BT_MAX_CONN

Yes, this has to be default if connections are established back-to-back and/or control procedures initiated simultaneously to all connected peers.

[2020-02-14 12:39] aescolar commented on #18483
Fixed as a sideeffect of #19407

[2020-02-14 12:39] #18483 closed

[2020-02-14 12:41] aescolar commented on #20153
It would seem this question is now answered, so closing. If you disagree please reopen

[2020-02-14 12:41] #20153 closed

[2020-02-14 12:44] aescolar commented on #21552
Closing as the discussion seems to have reached the end. If you would like to continue please reopen.

[2020-02-14 12:44] #21552 closed

[2020-02-14 12:47] teijokk commented on #22784
i've enabled this CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
Now system boot with no delay and i tested my own code with all sensor codes etc. all seems to work. There is external oscilator in scematics.... are chip using internal rc oscilator if this above settings is on?

[2020-02-14 12:55] cvinayak commented on #22784
@teijokk  if your custom board has long track to the XTAL and your load capacitors are not tuned to correct values, XTAL will take longer time or not settle. Also, power consumption during this setup time will be higher. I am guessing your 32KHz XTAL is not settling.

[2020-02-14 12:57] joerchan commented on #22784
@teijokk It is what I suspected. The advertiser is waiting for the LFCLK to start.

Using RC is the nrf52 internal one. using the XTAL is the external one. I would look into if the design of the external XTAL is correct and within the requirements.

Using the RC is an alternative though.

[2020-02-14 12:59] teijokk commented on #22784
Ok i talk with hw designer about this.. thanks for your time, i'm really grateful your help!

[2020-02-14 13:00] nvlsianpu commented on #12968
Not an issue

[2020-02-14 13:00] #12968 closed

[2020-02-14 13:04] de-nordic commented on #8364
It seems that cbor it trying to fit entire FS_MGMT_DL_CHUNK_SIZE (default 512 bytes) into MCUMGR_BUF_SIZE of buffer which is already partially filled with header data and by default it is 384 bytes in size.

[2020-02-14 13:05] #22784 closed

[2020-02-14 13:05] joerchan commented on #22784
Close as root cause has been found and is not a zephyr issue.

@teijokk For further assistence with LFCLK please open up issue on https://devzone.nordicsemi.com/ to get in touch with the right people.

[2020-02-14 13:28] joerchan commented on #21000
@jhedberg Moved this out of the 2.2 release since it is an enhancement.

[2020-02-14 13:40] carlescufi commented on #21599
@stephenmasih I am closing this issue since there has been no activity on it for a while. Please reopen with guidance on how to reproduce if this is still a problem.

[2020-02-14 13:40] #21599 closed

[2020-02-14 14:18] lawrence-king commented on #22814
I am using the Zephyr's MCUboot repository<https://github.com/zephyrproject-rtos/mcuboot>, however there does not seem do be a way to determine the mcuboot revision that corresponds to the zephyr revision.

Zephyr release tags are:
zephyr-v2.1.0
zephyr-v2.0.0
zephyr-v1.14.1
zephyr-v1.13.0
zephyr-v1.12.0
zephyr-v1.11.0
And so on

MCUBoot release tags are:
v1.3.1
v1.3.0
v1.2.0
v1.1.0
v1.0.0
v0.9.0
a

[2020-02-14 14:29] ioannisg opened #22828 "kernel: fatal: interrupts left locked in TEST mode"
**Describe the bug**
A recent commit (18fddc72a7b94a8af036592ebff773181bdcee39) has inserted an `irq_lock()` / `unlock()` in `z_fatal_error()` function, so that fatal errors are not preempted. That's probably fine, but the patch has not respected the early returns of the function, in TEST mode.

This has caused some weird behavior in ARM tests that deal with interrupt handling, for example tests/a

[2020-02-14 14:31] ioannisg commented on #22828
FYI @andyross @andrewboie

[2020-02-14 15:21] carlescufi commented on #22814
@lawrence-king it's in zephyr's `west.yml`:

[code]

but I now realize that when we released 2.1.0 we still did not have a zephyrproject-rots MCUboot repo and thus no entry in `west.yml`, so apologies for that. In practical terms, just applying the commit in https://github.com/JuulLabs-OSS/mcuboot/pull/659 should work.

[2020-02-14 15:42] pabigot opened #22834 "support const-qualified pointers to utility functions that don't modify referenced objects"
I'm trying to code defensively, which means using `const struct service *mgr` in API calls where I don't expect `*mgr` to be modified.  This is thwarted by `sys_slist_is_empty()` taking a pointer to a mutable `sys_slist_t` node:
[code]

The functions in `<sys/slist.h>` and related container capabilities that don't mutate their arguments should be adjusted to accept pointer-to-const.

[2020-02-14 16:08] MaureenHelm commented on #22623
I was able to reproduce this on 4eaac5c7b379 but not on the latest master d55c8ead03491946d0260d50c9159bb8f8de758f. Bisecting landed on 8153144de0d27fff686647c4d2b2baf08fa462ee
[code]

@andyross can you have a look at this? does it make sense that this patch would fix the failure?

[2020-02-14 16:52] #21167 closed

[2020-02-14 17:03] andyross commented on #22623
Not really...  Locking can change timing, but off hand I can't even think of a circumstance where a z_fatal_error() is called in a successful run of the timer_api test.  If I had to guess this is just a spurious failure with a failure rate that changes a little with each commit.  Certainly that patch is not going to have fixed anything that was a legitimate timing error.

[2020-02-14 17:03] andrewboie commented on #22561
A workaround has been put in place.
Leaving this open to explore configuration of nSIM to not emulate the entire address space, using DTS as a bounds.

[2020-02-14 17:08] LeBlue commented on #21107
@cvinayak
It fixes **one** of them (assert(e), **3.** in the first comment), yes. This was the crash I could reliably reproduce and resolved by setting ``CONFIG_BT_CTLR_LLCP_CONN`` .

But there seems to be a different issue that is still occuring (**1.** in the first comment). This is the **imprecise data bus error** in the **memq_enqueue** function. I have tested this up until master@fbbf68d63c45

[2020-02-14 17:21] #22801 closed

[2020-02-14 18:46] jhedberg commented on #21000
@joerchan sounds good, thanks. I also removed myself from the assignees since @Vudentz will cover this as part of his other L2CAP patches (for Bluetooth 5.2).

[2020-02-14 18:47] Mani-Sadhasivam commented on #22083
@KwonTae-young Some observations:

1. The second DIO0 IRQ seems to be not coming from the modem. When the second IRQ arrived, I checked the `RegIrqFlags` register and it is `0x00`.  So this might be a false interrupt on the DIO0 pin. What wonders me is, the DIO0 pin has debounce enabled in pinmux so this should never happen.

2. The fact that the board hang is avoided when commenting out `(*DioIrq

[2020-02-14 18:47] #22828 closed

[2020-02-14 18:50] Mani-Sadhasivam commented on #22083
Ah, the STM32 gpio driver is not handling the debounce functionality. So this might be the culprit.

[2020-02-14 18:50] Mani-Sadhasivam commented on #22083
@erwango

[2020-02-14 20:12] #22474 closed

[2020-02-14 21:12] olsky commented on #17689
@mbolivar is there any change in the sensor-API in the init phase?
I fixed that with the hint from @pabigot but in case there is some problems in i2c communication -- all just hangs. It would be good to place a timeout and let the board boot. Just my opinion :)

[2020-02-14 22:05] tagunil commented on #22078
These 32MHz faults go away after commenting out WFI instruction in arch_cpu_idle(), so I guess it is some weird kind of interaction between sleep mode and debugging. Looks similar to unanswered question here: https://community.st.com/s/question/0D50X00009XkXgd/stm32l1-hardfault-when-returning-from-wfi-only-when-debugger-attached

[2020-02-14 22:30] mnkp commented on #6084
#16648 was merged to master. It is possible now to configure pin as input/output.

[2020-02-14 22:30] #6084 closed

[2020-02-14 22:41] tagunil commented on #22078
Replacing WFI instruction with CPSID i; WFI; CPSIE i sequence also helps somehow, but I have no idea why it is so.

[2020-02-14 23:09] vanti opened #22847 "Test gpio_basic_api hangs on cc3220sf_launchxl"
**Describe the bug**
The test hangs in the middle of execution of test_gpio_deprecated:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/drivers/gpio/gpio_basic_api
2. west build -b cc3220sf_launchxl -p
3. west flash
4. See error

**Expected behavior**
The test should not hang

**Impact**
sanitycheck fails as a result.

**Environment (please complete the following information

[2020-02-15 00:04] ceolin commented on #20137
the problem with `sys_rand32_get` was there before the referenced commit, though there is a problem indeed. Have assigned #20136 to myself.

[2020-02-15 00:40] andrewboie commented on #20136
Is it?

To me this is an unsupported configuration.

[2020-02-15 00:44] ceolin commented on #20136
it is not being breaking the build because this code is only called if STACK_CANARIES or STACK_POINTER_RANDOM is enabled, and these options implicitly enable a random source.
If any other code unconditionally call it we will have a problem. I'm just ifdefing  this function to be called if some of that options is enabled.

[2020-02-15 10:22] tagunil commented on #22078
Looks like FreeRTOS Cortex-M ports actually mask interrupts before going to sleep (e.g. https://github.com/FreeRTOS/FreeRTOS-Kernel/blob/master/portable/GCC/ARM_CM3/port.c#L476). Maybe that should be discussed with ARM maintainers.

[2020-02-15 10:27] yingmingx commented on #22623
I think this issue is similar with the problem I've ever try to sovle list below.
https://github.com/zephyrproject-rtos/zephyr/issues/21813
According to andyross previously suggestion at
https://github.com/zephyrproject-rtos/zephyr/pull/22057
Is there some bug's possibility at low layer driver only on freescale and nxp boards or on all of the boards which system clock is very high?

[2020-02-15 16:27] pabigot commented on #22494
@alexanderwachter @nordic-krch Regarding timeout:  The solution in #22853 assumes that only operations that have not been started can be cancelled. I'm unaware of any precedent in Zephyr APIs for externally aborting an operation that is in progress other than `k_thread_abort()`, which is pretty violent.

Where aborting operations is possible the proposed implementation can be extended without API

[2020-02-15 21:18] AdrianEggenberger commented on #21854
I today went back to this issue to get deeper into the topic. I checked out the latest release v2.2.0-rc1 und repeated my test that I've created for this issue. In short the issue seems to be fixed in the latest release.

Were there changes in the last weeks that explain the fixed behavior?

Anyhow as it's fixed now we can close the issue.

[2020-02-15 21:19] thedjnK opened #22855 "drivers: enc28j60: waits for wrong interrupt"
**Describe the bug**
The enc28j60 driver has this code setting up the interrupt:

        gpio_pin_interrupt_configure(context->gpio,
                                     config->gpio_pin,
                                     GPIO_INT_EDGE_TO_ACTIVE);

Which indicates it is waiting for a low to high transition on the pin, however the user guide available from http://ww1.microchip.com/downloads/en/

[2020-02-15 22:09] thedjnK commented on #19100
Issue turned out to be a bug in a network driver we were using, have since switched to CoAP with DTLS and haven't tested that it fixes the LwM2M issue but I am confident that it's the same issue causing this problem.

[2020-02-15 22:09] #19100 closed

[2020-02-15 22:13] mike-scott commented on #19100
@thedjnK thanks for the update

[2020-02-16 00:06] mnkp opened #22858 "WDT_DISABLE_AT_BOOT, if enabled by default, degrades functionality of the watchdog"
#21142 made WDT_DISABLE_AT_BOOT option default to y.

Motivation behind the PR was to enforce the consistent default behavior of the watchdog to be "disabled by default until explicitly enabled by the application." However, this approach is wrong. There is a very good reason why some vendors start the watchdog automatically upon reset: the code can hang during the boot process before the software

[2020-02-16 03:54] rajputh54 opened #22860 "Highly accurate synchronized clock distribution for BLE mesh network"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

[2020-02-16 13:09] thedjnK opened #22865 "drivers: enc28j60: sample: dumb_http_server: TX failed errors"
**Describe the bug**
With an enc28j60 connected to a nordic nRF52840 using SPIM and the dumb_http_server sample (this also happens in the multithreaded one), the application seems to report a lot of errors whilst trying to send data, however the web page loads fine in the browser, so something is amiss.

**To Reproduce**
Build dumb_http_server for nrf52840_pca10056 with enc28j60 enabled on SPIM, r

[2020-02-16 13:43] jfischer-phytec-iot commented on #22855
It is not a bug and not "wrong interrupt", your [int-gpios](https://github.com/zephyrproject-rtos/zephyr/blob/master/dts/bindings/ethernet/microchip%2Cenc28j60.yaml#L16) is not correct defined. Something like `int-gpios = <&arduino_header 15 GPIO_ACTIVE_LOW>; /* D9 */` would fix your issue.

[2020-02-16 13:43] #22855 closed

[2020-02-16 14:06] md-jamal opened #22866 "Amazon Web Services sample"
Hi ,
I dont see an example related to publishing our data to Amazon Web Services
https://docs.zephyrproject.org/latest/samples/index.html

If we have a sample it will be really helpful

[2020-02-16 14:30] thedjnK commented on #22855
@jfischer-phytec-iot Ah thank you, it seems I overlooked that note on the documentation, all is working.

[2020-02-16 20:28] #22822 closed

[2020-02-17 04:50] cvinayak commented on #21854
@AdrianEggenberger Thank you for testing. It could be 51c46d94ed could be related, and have fixed the issue you see.

[2020-02-17 04:50] #21854 closed

[2020-02-17 09:43] stephanosio opened #22870 "Add Cortex-M4 testing platform"
Currently, there is no emulated testing platform available for the floating point-capable ARM M-profile devices (i.e. Cortex-M4 and above).

Since the QEMU 5.0.0 will add the `netduinoplus2` machine, which emulates the STM32F405 SoC that embeds the Cortex-M4F core, once released and integrated into the Zephyr SDK, add the `qemu_cortex_m4` to serve as the primary testing platform for the ARMv7-M de

[2020-02-17 09:44] stephanosio commented on #22870
cc @ioannisg @galak

[2020-02-17 10:39] aescolar commented on #22860
CC @jhedberg @trond-snekvik

[2020-02-17 11:38] musamaanjum opened #22872 "Hello world application for mps2_an521 board when build as a secure/non-secure with Trusted Firmware is crashing on qemu"
I can build hello world in secure mode and run on the arm qemu(4.2) successfully.
[code]

But when I build a secure/non-secure hello world demo with Trusted Firmware and launch on the same qemu, it crashes. As given in the docs of this board, I've build Trusted Firmware M with ARMCompiler6.10.1 and when I'd tried copying the built resources from tfm/build/install directory to zephyr/src/ext as ask

[2020-02-17 12:07] ioannisg commented on #22870
Nice to do for next release

[2020-02-17 12:10] wopu-ot opened #22873 "Bluetooth: RSSI Read command can be configured out even when mandatory"
**Describe the bug**
When BT_CONN is enabled, the Kconfig option BT_CTLR_CONN_RSSI can be set to 'n', which disables support for the Read RSSI command. However, the Read RSSI command is mandatory if the Connection State is supported, leading to a configuration that cannot possibly pass qualification.

**To Reproduce**
Build with CONFIG_BT_PERIPHERAL=y and CONFIG_BT_CTLR_CONN_RSSI=n.

**Expected be

[2020-02-17 12:35] aescolar commented on #22873
CC: @cvinayak @kruithofa @carlescufi @joerchan

[2020-02-17 12:46] SebastianBoe commented on #20136
Yes. Because sometimes a function is in use without the linker realizing it, in these cases we should not garbage collect unused sections. An example of when this is happens is when an application supports RPC. Then procedures might be called only externally without any internal references to the procedures.

[2020-02-17 13:34] cvinayak commented on #22873
CONFIG_BT_CTLR_CONN_RSSI consumes both more current and code space for applications that do not need to poll/query RSSI using HCI command. The default is CONFIG_BT_CTLR_CONN_RSSI=y when CONFIG_BT_HCI_RAW is selected, and applications should be allowed to deselect.

[2020-02-17 13:38] trond-snekvik commented on #22860
Thanks for submitting.
Clock synchronization has been a hot topic for Bluetooth Mesh, but mostly for the light synchronization use case. #7331 (possible duplicate?) requests something along the same lines, but with more relaxed requirements.

We are planning on adding some clock synchronization mechanism in the future, but the targeted use case would have much more relaxed requirements than this.

[2020-02-17 14:09] jfischer-phytec-iot commented on #22860
Not sure why the requester mixed it up with Bluetooth, typically transceiver like [DW1000](https://www.decawave.com/technology1/) has timestamp support for RX/TX events, and for some scenarios like TDoA the _anchor nodes need to be time synchronized_.

[2020-02-17 14:19] wentongwu opened #22874 "sanitycheck: when someone instance get stuck because of concurrent.futures.TimeoutErro exception, it always stuck"
**Describe the bug**
when someone instance get stuck because of concurrent.futures.TimeoutErro exception, it always stuck.

[code]

[2020-02-17 14:23] wentongwu commented on #22874
And I'm sure these stuck labeled case has been executed successfully.

[2020-02-17 14:26] wentongwu commented on #22874
[code]

consider above code a while, didn't find anything wrong so far, do you have any idea? @nashif

[2020-02-17 14:28] wentongwu commented on #22874
And by the way, why the timeout value is chosen 180 seconds?

[code]

[2020-02-17 14:48] joerchan commented on #22873
I agree with vinayak. This would only be an issue if we are making an HCI product, and the user would have to select an HCI qualifiable configuration. For host+controller build this is not a problem

[2020-02-17 14:53] wopu-ot commented on #22873
I am fine with having this configurable in combined builds. However, I believe that BT_HCI_RAW should enforce BT_CTLR_CONN_RSSI instead of just defaulting it to 'y'.

[2020-02-17 15:24] SebastianBoe commented on #7744
Re-opening. It is is still a problem that the "was set to X, became Y" warning is not an error.

[2020-02-17 15:30] pabigot commented on #21932
After some battles with PowerProfiler/PPK I can confirm this.  The 300 uA is due to the UART that is used in the sample to display the current state on the console.

I believe there is some support for UART power management, but adding these options:
[code]

has no effect.  The minimum power can be achieved by adding these options:
[code]

though this produces Kconfig diagnostics that I can't get

[2020-02-17 15:43] joerchan commented on #22873
Is BT_HCI_RAW really the right option to force HCI conformant configurations?

@jhedberg Any comments or ideas?

[2020-02-17 16:03] carlescufi commented on #21932
@anangl @Mierunski could you comment on the analysis above by @pabigot ?

[2020-02-17 16:30] jhedberg commented on #22873
That sounds like a fair assumption to me. `BT_HCI_RAW` is essentially for building the controller as an independent (and independently qualified) module, with HCI as the interface to talk to this module. For combined builds we know exactly what kind of host is paired with what kind of controller, and will anyway not be qualifying HCI separately (even though it exists as an internal interface).

[2020-02-17 16:55] chen-png opened #22885 "Sanitycheck timeout all test cases on mec15xxevb_assy6853 board."
**Describe the bug**
using sanitycheck to run test cases on mec15xxevb_assy6853 board, all test cases will be failed with timeout, but if **using the west build and west flash, it could get the test result from the serial, but in the last line, there are some other additional error chars**

**To Reproduce**
using the samples/hello_world as an example
1. using west to run this test
    command:

[2020-02-17 16:59] chen-png commented on #22885
@wentongwu  hi, wentong, do you know the root cause of this issue, it's related to your patch ac2b117.

[2020-02-17 17:03] #22085 closed

[2020-02-17 18:54] alexanderwachter commented on #22452
@boonpin1975 did you get your board working?

[2020-02-17 20:37] #22803 closed

[2020-02-17 21:32] andrewboie commented on #22819
@jensschroer no it's not. Variables that are prefixed with an underscore are reserved for the system. This is documented in the C standard. Don't do this in your application.

[2020-02-17 21:32] #22819 closed

[2020-02-18 00:14] #22847 closed

[2020-02-18 00:31] stephanosio commented on #22819
Note that this "leakage" is intentional, as some public macros and inline functions make direct use of this variable.

For instance:
https://github.com/zephyrproject-rtos/zephyr/blob/8f1780f6dee29dc2b2db01744e328a1a4a20d0b8/include/sys/mutex.h#L140

As @andrewboie already mentioned, you should not be using underscore-prefixed identifiers in your application.

[2020-02-18 00:34] pabigot commented on #22758
Supporting concern: https://github.com/zephyrproject-rtos/zephyr/issues/20712#issuecomment-581374974

[2020-02-18 01:17] wentongwu commented on #22885
@chen-png could you please try the PR#22886? Thanks.

[2020-02-18 02:11] chen-png commented on #22885
it works well to run sanitycheck on mec board now.

[2020-02-18 02:21] andrewboie commented on #22819
Eventually we should finishing the re-naming of private stuff to convert _current to z_current() (don't know where we left off on that) but in any event -- underscore-prefixed identifiers at the application level are a no-no any way you look at it

[2020-02-18 06:04] wentongwu commented on #22885
@albertofloyd @scottwcpg it seems when system resume from suspend state(deep sleep), uart hardware doesn't work properly, additional chars show up in the console, but that's not intended by code(you can see that with hello world sample), so could you please take a look from SOC level? Thanks

[2020-02-18 06:06] nordic-krch opened #22887 "Atomic operations on pointers"
**Is your feature request related to a problem? Please describe.**

Currently `atomic_t` in `atomic.h` is set as `int`. On 32 bit platforms it is then ok to use it with pointers since they are the same size but not on 64 bit platforms. Code like:
[code]
compiles with warning  on qemu_x86_64 and sets to 0 only bottom 32 bits and returns true.

On the other hand using `__atomic_compare_exchange_n` d

[2020-02-18 06:17] chen-png opened #22888 "Can't flash test image into iotdk board."
**Describe the bug**
can't flash test image into iotdk board, it **failed with "Error: checksum", and can't see anything from the serial output.**
**the related patch is #22602**, if i used the commit 3b60f095 before this patch, it's ok to flash image into iotdk board, if with this patch, it will be failed.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b iotdk -p auto samples/h

[2020-02-18 06:20] chen-png commented on #22888
@abrodkin Could you take a look of this issue? It's related to #22602.

[2020-02-18 07:21] stephanosio opened #22890 "IP networking does not work on ATSAME70 Rev. B"
**Describe the bug**
IP networking does not work on ATSAME70 Rev. B SoC (tested on `sam_e70_xplained` populated with the Rev. B chip).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `samples/net/dhcpv4_client`
2. `mkdir build; cd build`
3. `cmake -GNinja -DBOARD=sam_e70_xplained`
4. `ninja flash`

**Screenshots or console output**
[code]

Detailed debug log is available at the followi

[2020-02-18 07:25] stephanosio commented on #22890
cc @mnkp @aurel32 @jukkar

[2020-02-18 07:29] tbursztyka commented on #22890
Do you have another board to test the same network setup? To make sure it is not the zephyr dhcp client that does not work against your dhcp server. (Try also wireshark to see packet flow, if any)

[2020-02-18 07:31] stephanosio commented on #22890
I have `frdm_k64f` right next to it, everything works on it.

[2020-02-18 07:32] tbursztyka commented on #22890
ok, and on wireshark you see no packet going out then?

[2020-02-18 07:55] stephanosio commented on #22890
Correct, it seems like Ethernet frames are not getting transmitted for some reason. Receiving works though.

[2020-02-18 08:08] jukkar commented on #22890
I wonder if this could help #12711

[2020-02-18 08:10] abrodkin commented on #22888
@chen-png thanks for spotting this one.

That problem happens because we didn't instruct OpenOCD runner to load Elf file instead of binary.
You may either do it manually adding `--use-elf` to west's command line or see https://github.com/zephyrproject-rtos/zephyr/pull/22891.

[2020-02-18 08:28] stephanosio commented on #22890
#12711 fixed the problem. It looks like we will need to merge #12711 ...

[2020-02-18 08:28] #22890 closed

[2020-02-18 08:51] pdunaj opened #22892 "Kconfig warning when serial disable on PCA10059"
**Describe the bug**
When serial is disabled within application configuration file, the `CONFIG_UART_0_NRF_UARTE` option is no longer available. However since it is set to y in `boards/arm/nrf52840_pca10059/nrf52840_pca10059_defconfig` warning appears while compiling kconfig.

**To Reproduce**
Configure some application for pca10059 but disable serial related options.

**Expected behavior**
No war

[2020-02-18 08:52] pdunaj commented on #22892
It would be great if configuration at board level was kept in bare minimum, assuming nothing about what driver/HW is enabled.

[2020-02-18 08:56] mi-alkoudsi opened #22893 "Problem using 3 instances of SPIM on NRF52840"
When enabling 3 instances of SPIM (1,2,3) on nrf52840_pca10056 the application doesn't start at all (Keeps restarting when trying to get the references to spi drivers).

Weirdly however, the application works fine when SPI3 takes SPIM3 and the rest SPI0, SPI2 respectively, or when SPIM1 and SPIM2 are enabled and "SPI3 instance" is disabled

The simultaneous sending on 3 SPI, which I need for my ap

[2020-02-18 09:04] cvinayak commented on #21107
@LeBlue is it possible to provide me a script or application for linux that I can use to reproduce the crash? (at best I have only used btmgmt tool).

[2020-02-18 10:33] avisconti commented on #20411
I debugged the issue and I understood it. The issue is related to 2 things:

1. In the driver there is a confusion between DRDY (data is ready) and INT (magn data exceeds a predefined threshold), and the sensor has two separate pins for those interrupts. The shield overlay file is mapping the wrong one (INT).

2. When setting the trigger it is needed to perform a dummy read in order to re-trigger

[2020-02-18 10:58] cvinayak commented on #21107
I am not able to reproduce this. Are you using the zephyr SDK supplied toolchain?

[2020-02-18 11:00] cristic-devel commented on #21107
No, because I run on Windows (and SDK is not supported there???). I used 3rd party GNU ARM Embedded toolchain.

[2020-02-18 11:46] avisconti commented on #20411
Side note:

I noted that currently three boards are using lis3mdl driver: x_nucleo_iks01a1, 96b_stm32_sensor_mez, disco_l475_iot1.

But only x_nucleo_iks01a1 is using irq-gpios, so there is no DRDY vs INT confusion on the other two boards.

[2020-02-18 11:55] #22730 closed

[2020-02-18 13:58] carlescufi commented on #22892
@pdunaj I'll send a patch

[2020-02-18 14:17] carlescufi commented on #21789
Closing this since it's not relevant anymore

[2020-02-18 14:17] #21789 closed

[2020-02-18 14:28] armandciejak opened #22902 "eth_mcux_phy_setup called before ENET clock being enabled causes CPU to hang"
**Describe the bug**
In `drivers/ethernet/eth_mcux.c:eth_0_init` `eth_mcux_phy_setup` is called before the ENET clock is enabled a few line below in `ENET_Init`. This causes the CPU to hang. Inside the `eth_mcux_phy_setup` function the SMI access cannot work without the ENET clock enabled.

IMHO `eth_mcux_phy_setup` should be be called after `ENET_Init` and `ENET_SetSMI`.

**Impact**
This prevent

[2020-02-18 14:29] kkiyota opened #22903 "mcuboot/samples/zephyr (make test-good-rsa) doesn't work"
**Describe the bug**
Using mcuboot/samples/zephyr, overwrite test case can work fine as shown below, where slot0 is overwritten by slot1.  However, swap case(make test-good-rsa) doesn't work.

Could you let me know how I can debug it?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nucleo_f767zi (with flash partitions)
3. make
4. See error => No errors

[2020-02-18 14:47] chen-png commented on #22888
it worked well on itodk with #22891.

[2020-02-18 14:50] anangl commented on #22893
@mi-alkoudsi You need to apply [this patch](https://github.com/zephyrproject-rtos/zephyr/commit/377002d4b59aafa20ce9bb71ae561c7536185c19), which is already present in master but unfortunately didn't manage to get into v2.1.0 release.

[2020-02-18 14:58] #22888 closed

[2020-02-18 15:48] ruuddw commented on #17735
Sounds like a good refinement, indeed ENOMEM is an example of a possible transient fault: if the caller tries again (maybe after cleaning something up) it could be recoverable.
On the other hand, safety critical systems prefer static allocation, exactly to avoid such ENOMEMs.
I would not be against adding return codes and propagating errors for user decisions in specific cases where more gracefull

[2020-02-18 15:50] EminYagmahan opened #22906 "Slow read/write speed of microSD card via SPI and FatFS"
To determine the read and write speed on my SD card, I wrote a test function that writes 1 Megabyte of data to my SD card, then reads it and determines the required time and speed.
According to my measurement results I get the following speeds:
**Read**: 35 KByte/s
**Write**: 27 KByte/s

According to ELM CHAN's benchmarking tests, I get similar speeds with my 16GB SD card as he did with W:1 and R:

[2020-02-18 16:44] #22343 closed

[2020-02-18 17:06] anthonybrandon opened #22907 "si7006 temperature conversion offset missing"
The si7006 sensor driver (./drivers/sensor/si7006/si7006.c) is missing an offset as described in the [datasheet.](https://www.silabs.com/documents/public/data-sheets/Si7006-A20.pdf) An offset of 46.85 should be subtracted in order to get the temperature in degrees Celsius.

#19941 attempts to fix it along with some unrelated changes.

[2020-02-18 17:52] andrewboie commented on #22887
We'll need this for https://github.com/zephyrproject-rtos/zephyr/issues/15138 as well

Where this gets annoying is the platforms that implement their own atomic ops using custom assembly.

I wonder if we could just change `atomic_t` to `uintptr_t` instead of `int`

[2020-02-18 18:05] carlescufi commented on #22907
@anthonybrandon would you mind reviewing and testing #19941 to see if we can move it forward?

[2020-02-18 18:08] carlescufi commented on #22903
Are you using Zephyr's [built-in MCUBoot](https://github.com/zephyrproject-rtos/mcuboot) or [upstream MCUBoot](https://github.com/JuulLabs-OSS/mcuboot)?

[2020-02-18 18:20] zephyrbot opened #22908 "[Coverity CID :208410] Unsigned compared against 0 in drivers/modem/modem_pin.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/93b78b7bf8bfad75196de969a7487f95f235aad3/drivers/modem/modem_pin.c#L31

Category: Control flow issues
Function: `modem_pin_write`
Component: Drivers
CID: [208410](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208410)

Details:

[code]

Please fix or provide comments in coverity using the

[2020-02-18 18:20] zephyrbot opened #22909 "[Coverity CID :208409] Unchecked return value in tests/drivers/gpio/gpio_basic_api/src/test_deprecated.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/93b78b7bf8bfad75196de969a7487f95f235aad3/tests/drivers/gpio/gpio_basic_api/src/test_deprecated.c#L46

Category: Error handling issues
Function: `callback`
Component: Tests
CID: [208409](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208409)

Details:

[code]

Please fix or provide comment

[2020-02-18 18:20] zephyrbot opened #22910 "[Coverity CID :208408] Unsigned compared against 0 in drivers/modem/modem_pin.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/93b78b7bf8bfad75196de969a7487f95f235aad3/drivers/modem/modem_pin.c#L21

Category: Control flow issues
Function: `modem_pin_read`
Component: Drivers
CID: [208408](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208408)

Details:

[code]

Please fix or provide comments in coverity using the

[2020-02-18 18:21] zephyrbot opened #22911 "[Coverity CID :208407] Unsigned compared against 0 in drivers/modem/modem_pin.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/93b78b7bf8bfad75196de969a7487f95f235aad3/drivers/modem/modem_pin.c#L41

Category: Control flow issues
Function: `modem_pin_config`
Component: Drivers
CID: [208407](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208407)

Details:

[code]

Please fix or provide comments in coverity using th

[2020-02-18 18:21] zephyrbot opened #22912 "[Coverity CID :208406] Macro compares unsigned to 0 in subsys/net/l2/ppp/ppp_l2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/93b78b7bf8bfad75196de969a7487f95f235aad3/subsys/net/l2/ppp/ppp_l2.c#L346

Category: Integer handling issues
Function: `echo_reply_handler`
Component: Networking
CID: [208406](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=208406)

Details:

[code]

Please fix or provide comments in coveri

[2020-02-18 18:30] ioannisg commented on #22623
This test fails for nrF52 platforms as well - might not be the same error though.

[2020-02-18 18:37] jhedberg commented on #21233
@mnkp is there anything you could do to help with this one?

[2020-02-18 18:40] jhedberg commented on #21455
@ric96 do you still see this issue with the latest tree?

[2020-02-18 18:41] jhedberg commented on #21601
@cvinayak have you had a chance to take another look at this?

[2020-02-18 18:43] carlescufi commented on #21994
@kruithofa @cvinayak is this still an issue on the current EBQ runs?

[2020-02-18 18:47] jhedberg commented on #21369
Back to low.. hasn't been updated for awhile (discussed in release meeting, @carlescufi approves)

[2020-02-18 19:01] kkiyota commented on #22903
Sorry, but please let me know what the difference is.

[2020-02-18 19:06] nashif commented on #22874
this is not a bug, it is just warning used for debugging tests that are taking too long, either by design or because something is really stuck, I suggest you ignore this while we work on resolving the real issues.

[2020-02-18 19:08] nashif commented on #22874
did you notice it is a warning and it is asking a question and not making a statement? This is just a message used to give the user some hint that there are jobs running that are taking longer than usual.

[2020-02-18 19:12] ioannisg opened #22914 "tests/arch/arm/arm_irq_vector_table crashes for nRF5340"
**Describe the bug**
tests/arch/arm/arm_irq_vector_table is crashing for platform nrf5340_dk_nrf5340_cpuapp

**To Reproduce**
Running the test using device testing in sanity check times out.

**Expected behavior**
The test should pass.

**Impact**
Low. Only fails on this platform because we have not configured the ISR offsets - used in the test -  properly, as we do for other platforms.

[2020-02-18 21:26] anthonybrandon commented on #22907
@carlescufi

Sure, I have a board I can try it out on.
Do I just report it in a comment on the merge request once I have tried it, or did you mean something else?

[2020-02-19 00:07] nashif commented on #21756
#22921 has a more generic fix that should work with pre-existing conditions. Please verify.

[2020-02-19 01:02] #22874 closed

[2020-02-19 02:54] wentongwu commented on #19982
patch has been merged, so close it.

[2020-02-19 02:54] #19982 closed

[2020-02-19 03:20] kkiyota commented on #22903
Since I don't change released files other than dts file, it should be followed by Makefile as shown below.  So mcuboot files are used at mcuboot/boot/zephyr

SOURCE_DIRECTORY := $(CURDIR)

boot: check
	@rm -f mcuboot.bin
	(mkdir -p $(BUILD_DIR_BOOT) && \
		cd $(BUILD_DIR_BOOT) && \
		cmake -DOVERLAY_CONFIG=$(BOOTLOADER_OVERLAY_CONFIG) \
			-G"Ninja" \
			-DBOARD=$(BOARD) \
			$(SOURCE_DIRECTORY)/.

[2020-02-19 05:45] #21756 closed

[2020-02-19 07:38] wentongwu commented on #22885
ping @dcpleung @albertofloyd @scottwcpg

[2020-02-19 08:11] Mierunski commented on #21932
With CONFIG_DEVICE_POWER_MANAGEMENT=y it is possible to manually disable UART in runtime using device_set_power_state function, calling it right before sleep will result in lower energy consumption (same goes with TWI and SPI). AFAIK there is no automatic disabling of peripherals when going to sleep.

[2020-02-19 08:20] LeBlue commented on #21107
@cvinayak I will provide a python program as a simple script will not do the job. This will take approx. 1-2 days. I will share it as a GitHub repository.

[2020-02-19 08:22] MarekPieta opened #22926 "Bluetooth: Cannot establish security and discover GATT when using Split LL"
**Describe the bug**
When connecting `nrf_desktop` Bluetooth Peripheral and Central I noticed the following error log (on Central):
`[07095681] <err> bt_keys: Failed to save keys (err -5)`
After the log Central was unable to establish security and complete GATT discovery.

**To Reproduce**
1. Use `nrf_desktop` (application from NordicPlayground/fw-nrfconnect-nrf repository - the application uses n

[2020-02-19 08:29] agata-ponitka opened #22927 "PTS: Test Framework: Bluetooth: SM/MAS/SIP/BV-02-C-INCONCLUSIV"
Describe the bug
Zephyr set IO capability to KeyboardOnly instead of KeyboardDisplay

To Reproduce
run auto-pts

Expected behavior
IO capability needs to be set to KeyboardDisplay

[SM_MAS_SIP_BV-02-C-INCONCLUSIV.zip](https://github.com/zephyrproject-rtos/zephyr/files/4223855/SM_MAS_SIP_BV-02-C-INCONCLUSIV.zip)

[2020-02-19 08:30] agata-ponitka opened #22928 "PTS: Test Framework: Bluetooth: SM/MAS/SIGN/BV-03-C, SM/MAS/SIGN/BI-01-C - INCONCLUSIV"
Describe the bug
Failed to distribute keys.

To Reproduce
run auto-pts

Expected behavior
IUT faild to distribute CSRK.

[SM_MAS_SIGN_BI-01-C-INCONC.txt](https://github.com/zephyrproject-rtos/zephyr/files/4223782/SM_MAS_SIGN_BI-01-C-INCONC.txt)
[SM_MAS_SIGN_BV-03-C-INCONC.txt](https://github.com/zephyrproject-rtos/zephyr/files/4223783/SM_MAS_SIGN_BV-03-C-INCONC.txt)

[2020-02-19 08:31] anangl commented on #21932
For UARTE, it should be possible to lower the power consumption by removing the RX pin assignment in dts overlay for this application and this way permanently deactivating RX (see https://github.com/zephyrproject-rtos/zephyr/commit/dcdc61cfdbf65b50cfdfa01e7f40daf08a58615a). There should be no need to call `device_set_power_state` then. For UART, a corresponding patch is not yet available, but it i

[2020-02-19 08:33] Yug11 commented on #8833
Hi @ramonhpr,
I am a Newbie working on a project where I want to use Zephyr along with openThread and I don't know how exactly to use zephyr to build an FTD device .
could you please help me with running Zephyr as an FTD on two NRF52840 DK boards.

[2020-02-19 08:38] nvlsianpu commented on #22903
cc @utzig

[2020-02-19 08:55] nvlsianpu commented on #21713
I observed the issue along with mcuboot recovery via usb cdc acm transmission. On 50% firmware update try I have got failure due the failure to write endpoint buffer 0x82. I used configuration I posted here https://github.com/JuulLabs-OSS/mcuboot/pull/665 on nrf52840_pca10056 board.

[2020-02-19 08:56] agata-ponitka opened #22929 "PTS: Test Framework :Bluetooth: SM/SLA/SIP/BV-01-C Error"
Describe the bug
MITM bit in Pairing Request cannot be set to cleared. Zephyr aplication doesn't support set BTP MITM off command.

To Reproduce
run auto-pts

[SM_SLA_SIP_BV-01-C-FAIL.zip](https://github.com/zephyrproject-rtos/zephyr/files/4223970/SM_SLA_SIP_BV-01-C-FAIL.zip)

[2020-02-19 09:09] agata-ponitka opened #22930 "PTS: Test Framework :Bluetooth: SM/MAS/PKE/BV-01-C INCONCLUSIV"
Describe the bug

Bonding flag in Pairing Request cannot be set to cleared. Zephyr aplication doesn't support set BTP bondable off command.

To Reproduce
run auto-pts

[SM_MAS_PKE_BV-01-C-INCONC.zip](https://github.com/zephyrproject-rtos/zephyr/files/4224043/SM_MAS_PKE_BV-01-C-INCONC.zip)

[2020-02-19 09:23] aescolar commented on #22927
CC @jhedberg @joerchan

[2020-02-19 09:23] aescolar commented on #22928
CC @jhedberg @joerchan

[2020-02-19 09:23] aescolar commented on #22929
CC @jhedberg @joerchan

[2020-02-19 09:23] aescolar commented on #22930
CC @jhedberg @joerchan

[2020-02-19 09:36] jhedberg commented on #22927
@aescolar this sounds more like a test setup error than a stack bug, do you agree?

[2020-02-19 09:38] jhedberg commented on #22927
Is the high priority really justified? I just took a look at `get_io_capa()` in `host/smp.c` and it *is* able to return KeyboardOnly, so this looks more like an auto-pts or tester app issue, and should therefore not be high priority (since the stack poses no obstacle for qualification in this particular case)

[2020-02-19 10:01] jfischer-phytec-iot commented on #21713
Thanks for report @nvlsianpu

[2020-02-19 10:17] rveerama1 commented on #22866
Right now we have MQTT samples for Google IoT and Azure cloud. https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/net/cloud

[2020-02-19 10:29] carlescufi commented on #22907
Yep, just approve the Pull Request and add a comment there.

[2020-02-19 10:29] #21713 closed

[2020-02-19 10:30] #22774 closed

[2020-02-19 10:35] 225296 opened #22931 "GPIO callback is not triggered for tests/drivers/gpio/gpio_basic_api on microchip mec15xxevb_assy6853 board"
**Describe the bug**
GPIO callback is not triggered for tests/drivers/gpio/gpio_basic_api on mec15xxevb_assy6853 board.

**To Reproduce**
Steps to reproduce the behavior:
1. using west to run this test
command:
-  West build -p -b mec15xxevb_assy6853 .
- ./pre_script.sh (used to pull down the pin level)
-  west flash
- ./post_script.sh
- see error

2. using sanitycheck to run this test
In the file

[2020-02-19 10:40] #22914 closed

[2020-02-19 10:58] LuxLuthor opened #22933 "k_delayed_work_submit_to_queue returns error code when resubmitting previously completed work."
**Describe the bug**
k_delayed_work_submit_to_queue returns error code -EALREADY when submitting previously completed task. Tak is submitted successfully. This response is not covered in doc. This should probably be changed to 0 since error code is propagated from k_delayed_work_cancel.

**Expected behavior**
0 result - work was submitted to queue.
OR
response described in doc

[2020-02-19 11:06] carlescufi commented on #22933
was this fixed by https://github.com/zephyrproject-rtos/zephyr/pull/22810?
@Vudentz @joerchan @pabigot

[2020-02-19 11:13] jhedberg commented on #22926
Looks like a controller-flash access coexistence issue? -5 is -EIO and it's being returned from the settings subsystem.

[2020-02-19 11:14] jhedberg commented on #22926
@carlescufi FYI

[2020-02-19 11:18] joerchan commented on #22933
@LuxLuthor Can you specify which commit you are on?
Maybe it is a regression from #22810?

[2020-02-19 11:41] LuxLuthor commented on #22933
I observe issue on 28298fa06a
It seems that it is regression from #22810
Code below causes setting err to -EALREADY although work is send to queue
`
/* Cancel if work has been submitted */
	if (work->work_q == work_q) {
		err = work_cancel(work);
		/* -EALREADY indicates the work has already completed so this
		 * is likely a recurring work.
		 */
		if (err < 0 && err != -EALREADY) {
			goto done;

[2020-02-19 11:52] utzig commented on #22903
@kkiyota Could you please paste your `.config` here? I remember there used to be issues with the STM32 flash driver when MULTITHREADING is disabled....

[2020-02-19 11:52] #22893 closed

[2020-02-19 12:04] kkiyota commented on #22903
Here is mcuboot/samples/zephyr/build/nucleo_f767zi/mcuboot/zephyr/.config

If you need anything else, please let me know.

//////////////////////////////////////////////////////////////
#
# MCUboot-specific configuration options
#
CONFIG_MCUBOOT=y
CONFIG_BOOT_USE_MBEDTLS=y

#
# MCUBoot settings
#
CONFIG_BOOT_SIGNATURE_TYPE_RSA=y
CONFIG_BOOT_SIGNATURE_TYPE_RSA_LEN=2048
# CONFIG_BOOT_SIGNATURE_TYPE_

[2020-02-19 12:09] pabigot commented on #22933
I propose we should revert #22810, fix #22803 by changing the documentation to reflect what the API actually does, and fixing #22756 with the alternative solution from #22769.

[2020-02-19 12:17] utzig commented on #22903
@kkiyota Yeah, that ended up quite unreadable :-P You should put it in a non-formatted block of text, anyways I think the issue is with the partitions you used, I was looking how I configured them for Mynewt and since there are non-linear sector sizes I would suggest you test with the same partition structure which would be:

[code]

[2020-02-19 12:34] kkiyota commented on #22903
@utzig I have no idea how I can paste as a plain text here.  Instead, I added it as a text file.  Please review it again.

I'll try using your partition later and let you know.

Thank you,
Koji

[2020-02-19 12:45] d3zd3z commented on #22903
It is known that the samples/zephyr makefile likely will only work for the frdm_k64f. Both the flash programming, as well as assumptions about partition positions. We have it as an issue in MCUboot: https://github.com/JuulLabs-OSS/mcuboot/issues/213.

[2020-02-19 13:13] kkiyota commented on #22903
@d3zd3z Do you mean that I should wait until  https://github.com/JuulLabs-OSS/mcuboot/issues/213 will be resolved?

[2020-02-19 13:30] #13151 closed

[2020-02-19 13:39] tbursztyka opened #22941 "Refining Zephyr's Device Driver Model - Take II"
(This issue is a replacement of #6293 )

### A deep revise and upgrade of the device driver model

Throughout its short existence, Zephyr has seen its kernel reworked, stabilized and made reliable with sound and concise APIs and objects. All still being designed within the scope of running on tiny targets, such as arduino_zero with 32k of RAM or bbc_microbit with its 16k of RAM for instance, but a

[2020-02-19 13:40] pabigot commented on #22931
@dcpleung please look at this; I don't have the hardware.

[2020-02-19 13:42] tbursztyka commented on #6293
I am closing that one, since issue #22941 is meant to be a more exhaustive replacement.

[2020-02-19 13:42] #6293 closed

[2020-02-19 13:43] carlescufi commented on #22941
CC @galak @pabigot @nordic-krch @erwango @MaureenHelm @nashif @anangl @henrikbrixandersen

[2020-02-19 13:43] pdunaj opened #22942 "Missing TX power options for nRF52833"
**Describe the bug**
TX power higher then +4 dBm in not available for nRF52833.

**To Reproduce**
See `subsys/bluetooth/controller/Kconfig` or try enabling +8 dBm on mentioned SoC.

**Expected behavior**
All power configurations supported by HW should be made available.

**Impact**
Reduced functionality.

**Screenshots or console output**
N/A

**Environment (please complete the following informati

[2020-02-19 13:45] utzig commented on #22903
@kkiyota Would be nice if you could test with the suggested partition changes.

[2020-02-19 13:45] pabigot commented on #22933
Clarification: I'm assuming that the bug here is a direct result of the change in API to match documentation by now returning an error from `k_delayed_work_cancel()` where before it returned success.  I take that as a sign that we shouldn't have changed the API in #22810, certainly not at this stage of the release cycle.  @jhedberg

This particular problem might be fixed by overriding the error re

[2020-02-19 14:43] aescolar commented on #22942
CC @carlescufi

[2020-02-19 14:47] pdunaj commented on #22942
Hi @carlescufi , maybe instead of adding nRF5233 in the `depend on` it would be better to add some characteristic to SoC family that support higher TX power options? Otherwise this will be edited more frequently.

[2020-02-19 15:49] joerchan commented on #22933
I think using the function added here in #22826 (we could just have it internal) is the way to solve it.
I cannot see a way to reset work->work_q to NULL. work_timeout would not be the right place it seems.

Tested using this approach and that solves it. Thoughts @pabigot @Vudentz ?

[code]

[2020-02-19 15:51] Mhrooczny commented on #21932
Thank you for reply. How to make it work using `device_set_power_state`? As i understand it is needed to make UART as a device like in samples with led? I mean `device_get_binding` i tried to make additional alias for uart in .dts like this:
[code]
then define this uart in main:
`#define UART0 DT_ALIAS_UART0`
then:
`struct device *dev = device_get_binding(UART0);`

But get only `error: 'DT_ALIAS_U

[2020-02-19 15:53] pabigot commented on #22933
If we want a quick fix something like this might do it @Vudentz since #22810 left the non-zero `err` value to fall through causing the misbehavior:

[code]

But I'm still not really happy about changing the return value of `k_delayed_work_cancel()` from success to error in this case.  We have no idea who else depends on the existing behavior.

[2020-02-19 16:20] cvinayak opened #22945 "Bluetooth: controller: ASSERTION FAIL Radio is on during flash operation"
**Describe the bug**
Flash operations on nrf52840_pca10056 tests/bluetooth/shell raises ASSERTION FAIL.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52840_pca10056 ../tests/bluetooth/shell
3. make
4. See error

**Expected behavior**
There shall be no assertion and flash operations succeed.

**Impact**
showstopper

**Screenshots or console output**

[2020-02-19 16:36] galak commented on #22653
Marked it in coverity as False Positive.

[2020-02-19 16:36] #22653 closed

[2020-02-19 16:40] pabigot commented on #22623
I think it's unrelated, and also not new.  Nordic fails this specific test (line 64) intermittently and has for at least several releases.  This is arguably a failure in the test, which measures in ms durations that are expressed in ticks.

In the failure case the uptime delta is measured as 99 ms when 100 ms is expected.  Since the Nordic system clock advances at 32 KiHz 100 ms cannot be exactly

[2020-02-19 16:46] pabigot commented on #22653
I personally don't consider this a "false positive": the code truly is walking past the end of the object that's pointed to, and there's a language-sanctioned way to indicate that doing so is safe that could be used instead.

@MaureenHelm @dleach02 @nashif I think you've all expressed positions on the question informally.  Is it the security or functional safety group that should be given the resp

[2020-02-19 17:14] kkiyota commented on #22903
@utzig I'll work on it tomorrow due to conflict.

[2020-02-19 17:44] galak opened #22948 "sanitycheck --build-only followed by --test-only fails"
Expect that the following would be equivalent:

[code]

equivalent to:

[code]

However if we do ``--build-only`` followed by ``--test-only`` we get:

[code]

[2020-02-19 19:02] andrewboie opened #22955 "tests/kernel/interrupt fails intermittently on qemu_cortex_m0"
**Describe the bug**
[code]

I am baffled as to why CI is not failing due to this.

**To Reproduce**

I'm running

[code]

**Expected behavior**
Test passes.

**Impact**
I don't know if this is a problem with the test or the Cortex-M0 implementation.

[2020-02-19 19:04] galak commented on #22955
Interesting, ran locally and it passes just fine for me.  What's your build.log look like?

[2020-02-19 19:05] galak commented on #22955
I did do: ``sanitycheck -T tests/kernel/interrupt/ -p qemu_cortex_m0``

[2020-02-19 19:12] carlescufi commented on #22929
Lowering to medium since this is a tester issue.

[2020-02-19 19:12] carlescufi commented on #22930
Lowering to medium since this is a tester issue.

[2020-02-19 19:14] andrewboie commented on #22955
@galak double-checking my environment and trying the build on some other machines, will follow up shortly.

[2020-02-19 19:23] joerchan commented on #22928
If I am reading the attached logs correctly it looks like there is an SMP error with SMP_UNSPECIFIED error code. Is it possible to get some more information or logs for these 2 test cases?

[2020-02-19 19:28] andrewboie opened #22956 "nios2: k_busy_wait() never returns if called with interrupts locked"
**Describe the bug**
Calling irq_lock(), and then k_busy_wait(MS_TO_US(1000)) hangs indefinitely on this arch.

The problem is that in altera_avalon_timer_hal.c, z_timer_cycle_get_32() returns only accumulated_cycle_count updated by the timer_irq_handler()...which is of course masked.

There's a lengthy comment about this:

[code]

**To Reproduce**
Run tests/kernel/interrupt on qemu_nios2.

[2020-02-19 19:39] andrewboie commented on #22955
This appears to be some kind of timing-sensitive race. On further testing, whether it passes or fails seems to be intermittent and depends on how loaded the host machine is.

It also looks like there is already some kind of issue with k_busy_wait() on this platform. The test has some ifdefs:

[code]

[2020-02-19 19:48] andrewboie commented on #22955
@galak if I run this test outside of sanitycheck, it fails often for me. I think this needs deeper investigation, especially since I cannot find an open bug on k_busy_wait() on qemu_cortex_m0

[2020-02-19 20:19] #22275 closed

[2020-02-19 20:19] #22685 closed

[2020-02-19 20:19] #22720 closed

[2020-02-19 21:41] andrewboie commented on #21156
Reopening this. I had to revert @ZideChen0 change #22848 as it was causing timeouts when running tests on qemu_x86_64. Needs further analysis.

[2020-02-19 22:45] andrewboie commented on #14173
I've moved this to 2.3 but we've made some good progress lately.

[2020-02-19 23:25] galak commented on #22556
Should be handled by #22782

[2020-02-19 23:25] #22556 closed

[2020-02-19 23:26] galak commented on #18137
Looks like we've add reference to the multi-level docs.

[2020-02-19 23:26] #18137 closed

[2020-02-19 23:28] galak commented on #22557
Should be handled by #22922

[2020-02-19 23:33] galak commented on #20330
I think this will be resolved by the NODELABEL support from issue #22555 and PR #22612

[2020-02-19 23:42] galak commented on #4830
Closing this in favor of #22748

[2020-02-19 23:42] #4830 closed

[2020-02-19 23:43] galak commented on #8236
No plans to really address this, if there are concrete ideas on how to improve debug on the parsing please open issue with those.

[2020-02-19 23:43] #8236 closed

[2020-02-20 00:50] md-jamal commented on #22866
can we modify them and use it for AWS

[2020-02-20 00:51] galak commented on #9962
#22963 and #22962 should close this out.

[2020-02-20 01:02] cvinayak commented on #21107
@LeBue Thanks. Yes, a GitHub repo to reproduce the issue will be the best.

Also, please check if https://github.com/zephyrproject-rtos/zephyr/pull/22946 has any influence. Its possible to have left radio in unknown state, could cause memory corruption (speculating based on possibility of leaving radio in Rx state), and occurrence being of random nature.

[2020-02-20 01:12] kkiyota commented on #22903
@utzig Could you also let me know your points?  The difference between your partition map and mine is just slots' capacity.

[2020-02-20 01:25] galak opened #22964 "Define a consistent naming convention for device tree defines"
We have a mish-mash of defines today and there are places that we can have possible naming conflicts.  So define a consistent name space for the various node defines that we generate.

Related to #21369

[2020-02-20 01:41] galak commented on #22964
[code]

[2020-02-20 01:42] galak commented on #22964
Starts of my initial cut at a naming convention that is consistent and has limited conflicts.

[2020-02-20 01:49] siltemc opened #22965 "4 byte addressing in spi_nor driver for memory larger than 128Mb."
**Is your enhancement proposal related to a problem? Please describe.**
SPI memory devices with larger than 128Mb space require 4 byte addressing. The current spi_nor driver does not support 4 byte addressing. Some spi memory require a specific op code to be to switch from 3 byte to 4 byte. For example https://www.digikey.no/short/zqqwqz is a 1Gb nor memory which you need to send the code 0xB7 to

[2020-02-20 01:52] galak commented on #22964
Thinking for things like DT_ALIAS, DT_IDENT, DT_NODELABEL would just be 'PATH' defines as such:

[code]

Than you can use macro magic to do something like:

``DT_ALIAS_PROP(UART0, LABEL) -> DT_PATH_P_SOC_UART_4006D000_LABEL``

[2020-02-20 02:26] wentongwu commented on #14173
quick testing, seems most of other QEMU platforms also can work, will pick-up little timeout or failed cases.

[2020-02-20 04:56] KwonTae-young commented on #22083
I checked the DIO0 pin.
But I didn't find a special waveform to say Debounce.
![image](https://user-images.githubusercontent.com/10510127/74901413-2665a300-53e6-11ea-8eec-47411ece0c88.png)
![image](https://user-images.githubusercontent.com/10510127/74901479-52812400-53e6-11ea-96ad-2f0ee5608bfd.png)

Sometimes there is a section where DIO0 stays high, but this did not lead to freezing.
![image](htt

[2020-02-20 05:25] andrewboie commented on #22941
One more known (but relatively minor) issue that affects kernel footprint:

The model of placing function pointers in an API struct defeats gc-sections, as the functions will always have at least a reference in that API struct even if not referenced elsewhere. So if a driver is built, all of its API members will be pulled into the binary even none of them, or only a subset of them, are invoked.

A

[2020-02-20 06:18] cvinayak commented on #21601
@jhedberg No, I have not profiled the cause of the latency. This seem will have to be postponed after 2.2 due to lack of time.

[2020-02-20 07:06] #22563 closed

[2020-02-20 07:51] cvinayak opened #22967 "Bluetooth: controller: ASSERTION FAIL on invalid packet sequence"
**Describe the bug**
A rough central device using invalid sequence number in the first connection event causes assertion failure in the controller.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52_pca10040 ../samples/bluetooth/peripheral
3. make
4. See error

**Expected behavior**
No assertion failure.

**Impact**
showstopper

**Screenshots or cons

[2020-02-20 08:05] cvinayak opened #22968 "Bluetooth: controller: LEGACY: ASSERTION failure on invalid packet sequence"
**Describe the bug**
A rough central device using invalid sequence number in the first connection event causes assertion failure in the controller.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52_pca10040 -DCONFIG_BT_LL_SW_LEGACY=y ../samples/bluetooth/peripheral
3. make
4. See error

**Expected behavior**
No assertion failure or crash.

**Impact*

[2020-02-20 08:20] nordic-krch commented on #22545
Note that i'm not very familiar with DT and all scripts around but

I was wondering if it wouldn't be possible to describe all dependencies in DT and let the script figure out best order of initialization. It could create a static array with indexes of entities to initialize (or maybe somehow reorder items in sections before linking to avoid array?). That approach would require to have all depende

[2020-02-20 09:06] utzig commented on #22903
@kkiyota The sectors are not linear in the STM32F7, which means not all sectors have the same size, you are starting a slot in a smaller sector which can't be swapped.

[2020-02-20 09:16] kkiyota commented on #22903
@utzig In my dts file as attached below again, both slot0 and slot1 are 256KB.  Are you referring to this file?  Or anything else?

/// flash partition definition in zephyr/boards/arm/nucleo_f767zi/nucleo_f767zi.dts ///////
&flash0 {
/*
* For more information, see:
* http://docs.zephyrproject.org/devices/dts/flash_partitions.html
*/
partitions {
compatible = "fixed-partitions";
#address-cells = <1

[2020-02-20 09:23] utzig commented on #22903
[code]
The sector at 0x20000 is 128KB, which means you are using one sector plus half of the next sector (which is 256KB). MCUBoot in swap mode does not allow that.

[code]

The sector at 0x60000 is 256KB so this is one is OK.

[2020-02-20 09:46] pizi-nordic commented on #22941
@tbursztyka: For Power Management you will need more complex dependency tracking, as you have several types of relation between devices. Examples:

- Parent/Child: Which controller handles given device?
- Device/GPIO: Which GPIO is used to select SPI Device? Which controller controls this GPIO?
- Device/Clock: What provides clocks for the device?
- Device/Power: What provides power for the device?

[2020-02-20 09:46] nordic-krch commented on #22941
@tbursztyka thank you for taking that initiative. Few comments:

I would add following requirements/topics:
1. using devices with generic API's #22415
2. device uninit
One use case is bootloader which should provide clean state before jumping into application. Second use case is nordic specific: we have couple of peripherals which are sharing same hw and address space thus cannot be used at once (

[2020-02-20 09:59] pfalcon commented on #17706
Recently, there were a few similar and related questions I commented on, which I'd like to summarize here for future reference (this summary should be pretty compatible with, and entail from, the original RFC above). The kind of questions being talked about is along the lines of "Why Zephyr POSIX subsystem includes function fun1(), it's not POSIX function, it's BSD (or similar) function" and "Func

[2020-02-20 10:15] #22557 closed

[2020-02-20 10:19] kkiyota commented on #22903
@utzig Thank you for your reply!  Looking at Zephyr document as shown below, the first parameter is defined as offset, and second one is capacity.  Are you referring to the different spec?

//////////////////////////////////////////////////////////////////////////////////////
The content of the partitions node looks like this:

partitions {
        compatible = "fixed-partitions";
        #address

[2020-02-20 10:45] pfalcon commented on #20137
+1. Actually, I'd suggest to start with the assumption that Zephyr *requires* --gc-sections as part of the design.

[2020-02-20 10:51] pfalcon commented on #20137
As a quick generic answer (i.e. how-it-supposed-to-be) before I'll be able to dig into details, CONFIG_POSIX_API is the "master switch" for enabling all of the individual POSIX sub-APIs. They still can be enabled individually, because there're usecases for that. E.g. CONFIG_POSIX_MQUEUE enables just mq_*().

Beyond that, generic, underlying parts truly reusable w/o posix APIs, shouldn't be in lib/

[2020-02-20 10:58] ioannisg commented on #18635
Hi @vanti can you please, re-confirm the behavior on CC1352r1_launchxl on current master branch? Is ISR4 keeps being triggered?

[2020-02-20 10:58] ioannisg commented on #18635
I don't have the board to re-produce this.

[2020-02-20 11:15] nordic-krch opened #22974 "Add cancel function to onoff service"
**Is your feature request related to a problem? Please describe.**

Currently, onoff service does not handle releasing when in transition from off to on. This makes it difficult to handle premature release scenario. There is an `onoff_cancel()` but for the last client it will return `-EWOULDBLOCK` and won't cancel the operation. Handling that case is not trivial when callback is used as notificati

[2020-02-20 11:19] cvinayak commented on #21994
@carlescufi This is not an issue for the runs, we have workaround.

[2020-02-20 11:20] ioannisg opened #22975 "tests/kernel/gen_isr_table: filtered in CI only for Cortex-M Mainline"
**Describe the bug**
tests/kernel/gen_isr_table (.gen_isr_table) test is filtered-in only for Cortex-M Mainline platforms (CONFIG_ARMV7_M_ARMV8_M_MAINLINE). And that seems to have always been the case.

This seems to be inconsistent with the fact that the source code of the test implies the test can run on other architectures, e.g. RISC-v

**Expected behavior**
The test should run for as many arch

[2020-02-20 11:47] mgiaco commented on #2746
I am too

[2020-02-20 11:56] ioannisg commented on #14122
@pfalcon ping

[2020-02-20 13:01] FRASTM commented on #22906
The fs_write function gives a nb of bytes to be written, then will the driver (SD card or SPI) convert this nb of bytes into a nb of blocks (based on a usual card block size of 512B).
At lower level, the SPI card driver will then send CMD24 in a looping on the expected size or use a CMD25.

[2020-02-20 13:07] pabigot commented on #22974
I see some possibility for this, but we need #22419 merged before I can start on it.

[2020-02-20 13:09] PierreAronnax opened #22977 "ARM Cortex-M4 stack offset when not using Floating point register sharing"
**Describe the bug**
While developing a project based on the EFM32GG11B420F2048 using Zephyr RTOS we frequently noticed instability of our applications, usually resulting in 'usage faults'. The instability however was only occurring when booting the application via the build-in UART bootloader. Running the same binary from Eclipse using a debugger did not show the problem.

After investigation we

[2020-02-20 13:14] FRASTM commented on #20825
see the [spi: stm32: Enable DMA client
](https://github.com/zephyrproject-rtos/zephyr/pull/22934)  for using the dma and mux for a client transfer

[2020-02-20 13:26] alexanderwachter opened #22979 "drivers: hwinfo: Build fails on some SoC"
**Describe the bug**
The hwinfo driver does not build for:
 - nrf5340_dk_nrf5340_cpuappns
 - SAM3x siries
 - SAM4e and SAM4s series
 - STM32H7 series

**To Reproduce**
Build with one of those socks mentioned above

**Expected behavior**
Should build on every SoC that has a device-ID

**Impact**
annoyance. We want to declare the API as stabe, so it has to build for every supported SoC.

[2020-02-20 13:26] alexanderwachter commented on #22979
Fix: #22947

[2020-02-20 13:37] agata-ponitka commented on #22928
Yes, I am sending logs in attachment.

[SM_MAS_SIGN_BI-01-C.zip](https://github.com/zephyrproject-rtos/zephyr/files/4230941/SM_MAS_SIGN_BI-01-C.zip)

[SM_MAS_SIGN_BV-03-C.zip](https://github.com/zephyrproject-rtos/zephyr/files/4230805/SM_MAS_SIGN_BV-03-C.zip)

[2020-02-20 13:53] paulgavrikov opened #22980 "bluetooth: logging: Build assertion prevents immediate logging when using legacy LL"
**Describe the bug**
Setting `CONFIG_LOG_IMMEDIATE ` and `CONFIG_BT_LL_SW_LEGACY` aborts builds even if Bluetooth logging is disabled.

**Expected behavior**
Immediate logging has to be disabled for Bluetooth legacy ll logging, but it should be possible to use the option if Bluetooth logging is disabled.

**Impact**
annoyance

**Environment (please complete the following information):**
 - OS: (e.

[2020-02-20 13:55] carlescufi commented on #22928
@agata-ponitka could you please give us the exact command-line that you are using on the client side please?

[2020-02-20 14:16] agata-ponitka commented on #22928
@carlescufi of course: ./autoptsclient-zephyr.py autopts-zephyr-210 ~/zephyrproject/zephyr/build/zephyr/zephyr.elf -i 192.168.56.101 -t /dev/ttyACM0 -b nrf52 -l 192.168.56.1 -c SM/MAS/SIGN/BI-01-C

[2020-02-20 14:37] nvlsianpu commented on #22903
bug label removed as this is usage fault by incompatible partition configuration.
For get how partitions should be arranged pleas refer to [mcuboot doc](https://github.com/JuulLabs-OSS/mcuboot/blob/master/docs/design.md#image-slots)

[2020-02-20 14:46] EminYagmahan commented on #22906
A closer look at the low-level write functions shows that the SDHC_WRITE_BLOCK (CMD24 for Single Block) is constantly used, even with large amounts of data.
[code]
[disk_access_spi_sdhc.c](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/disk/disk_access_spi_sdhc.c)

Instead of sending CMD24 and looping on the expected size wouldn't it be better to write a handler, which manages the

[2020-02-20 14:50] carlescufi commented on #22928
Thank you @agata-ponitka.

[2020-02-20 15:04] carlescufi commented on #22980
@paulgavrikov can you please attach the `build/zephyr/.config` file?

[2020-02-20 15:29] kkiyota commented on #22903
@nvlsianpu Could you point out where my definition is incorrect if you think so?

[2020-02-20 15:50] #22933 closed

[2020-02-20 15:50] agata-ponitka opened #22982 "PTS: Test framework: Bluetooth: GATT/SR/GAS/BV-01-C, GATT/SR/GAS/BV-07-C - BTP Error"
Describe the bug
After running hdl_wid_132 gatts_add_svc returns error.

To Reproduce
run auto-pts

[GATT_SR_GAS_BV-01-C.zip](https://github.com/zephyrproject-rtos/zephyr/files/4231493/GATT_SR_GAS_BV-01-C.zip)
[GATT_SR_GAS_BV-07-C.zip](https://github.com/zephyrproject-rtos/zephyr/files/4231494/GATT_SR_GAS_BV-07-C.zip)

[2020-02-20 15:55] FRASTM commented on #22906
right, this is explicitly mentioned in the `sdhc_spi_write ` function:  _/* Write the blocks one-by-one */_
The multiple block read/write operations require start and stop token to be inserted and monitoring the 'busy' status of the card.
This is clearly a new feature to support, with probable better performances.

![image](https://user-images.githubusercontent.com/51417392/74953183-a1888280-5401-

[2020-02-20 16:15] pabigot commented on #22964
I was hoping for something like this (draft status)
[code]

[2020-02-20 16:21] galak commented on #22964
Example of what we generate today for a register w/current PR from marti:

[code]

[2020-02-20 16:36] FRASTM commented on #20825
put valid link from linux kernel in st,stm32-dma.yaml and st,stm32-dmamux.yaml

[2020-02-20 16:50] mbolivar commented on #22545
We already have this, thanks to @pabigot

Yup, that's exactly the purpose of this issue. Take a look at this PR for a rough idea of how the dependency info is in devicetree (though the code is just throwaway stuff): https://github.com/zephyrproject-rtos/zephyr/pull/22802

[2020-02-20 16:51] mbolivar commented on #22545
@tbursztyka I saw your #22941 and I wonder if you'd be open to completely getting rid of PRE_KERNEL_1, PRE_KERNEL_2, and friends and just letting DT do all the work?

[2020-02-20 17:11] galak commented on #22964
Based on what Peter had here's some examples of what PATH defines might look like using `_p_`:
[code]

[2020-02-20 17:13] joerchan commented on #22928
@agata-ponitka The PTS appears to be affected by a race condition in the HCI USB protocol. I have created a PR which has a workaround for this during testing, by simply sleeping for 10 ms before starting to distribute the keys.
The tests are still inconclusive though. I think some extra auto-pts changes might be needed to confirm that the data with wrong MAC was not accepted on the tester side.

[2020-02-20 17:29] ceolin opened #22985 "Check if Zephyr is affected by SweynTooth vulnerabilities"
Researchers from Singapore University of Technology and Design published a list of 12 vulnerabilities towards seven Bluetooth SoC vendors.
The report can be read at https://asset-group.github.io/disclosures/sweyntooth/

Zephyr is not mentioned but they say that the list of affected SoC is not exhaustive, so we would be nice checking it.

As part of their report, there is a proof-of-concept to expl

[2020-02-20 17:34] #22967 closed

[2020-02-20 17:40] jhedberg commented on #22985
@carlescufi @cvinayak FYI

[2020-02-20 17:43] vanti commented on #18635
@ioannisg I see an error when I build the test:

$ west build -b cc1352r1_launchxl

[code]

[2020-02-20 17:53] lowlander commented on #22751
I have been trying to debug the problem, and the only thing I can say is the first IRQ (BS) happens, and the driver sets the DR register with the address, but that never lands on the bus. And no other IRQ's will be generated, so the driver "hangs".

What is more worrying is that I found others that reported the same issue, but with different software;
https://community.st.com/s/question/0D50X00009

[2020-02-20 18:22] dcpleung commented on #22931
Could you try remove the jumpers on JP15? This header connects GPIO 50 and 51 to pull-up resistors which may cause issue when the GPIO pins cannot sink enough current. I just tried this on my board and the test was working correctly with the JP15 jumpers removed.

[2020-02-20 19:26] marc-hb commented on #5517
documentation, can be part of an SDK, for example: kconfig, DTS,...

FYI autoconf calls these "build tools", not "host tools"
https://www.gnu.org/software/autoconf/manual/autoconf-2.69/html_node/Specifying-Target-Triplets.html

That's because autoconf, gcc and others consider "build, host and target" to be relative, not absolute.
https://mesonbuild.com/Cross-compilation.html

I'm of course not exp

[2020-02-20 19:40] jhedberg commented on #22928
Downgraded to medium since this looks like a PTS & auto-pts issue

[2020-02-20 20:42] carlescufi commented on #22928
@agata-ponitka this is now an autops/tester app issue with an "mmi" failure.

[2020-02-20 22:16] dcpleung commented on #21755
On header J35, instead of connecting pins 1-2 and 4-5, try pin 1-2 and 3-4. This provides the ADC pins with ~2.048V with Vref at 3.0V. With 12-bit ADC, this should give you values around 0xAF0.

[2020-02-20 23:32] andrewboie opened #22996 "scripts/footprint/size_report doesn't work on qemu_x86_64"
**Describe the bug**

From running "make rom_report" on a test built for qemu_x86_64:

[code]

Looking at the code, this script needs a redesign how it obtains data. It relies on external tools and text processing, but this is not ideal. This script should be able to inspect a .elf file directly and get all the info it needs with pyelftools, as scripts like gen_kobject_list.py do.

In addition, it

[2020-02-21 00:11] mbolivar commented on #22964
As discussed in #22966, an ABNF for what we have now is here: https://github.com/mbolivar/zephyr/blob/doc-dt-improvements/doc/guides/dts/macros.bnf

This will hopefully be merged to master soon.

[2020-02-21 00:16] utzig commented on #22903
I tested now with the partition configuration I have submitted earlier and I can confirm it can successfully upgrade and revert. I have built manually the bootloader and hello_word sample app, so maybe the there might exist an issue with the build system that @d3zd3z mentioned. I might try to test that tomorrow as well.

As I wrote before "The sector at 0x20000 is 128KB, which means you are using

[2020-02-21 00:25] stephanosio opened #22997 "Add GMAC device tree definition"
**Is your enhancement proposal related to a problem? Please describe.**
The Atmel GMAC (Ethernet MAC) hardware is currently not specified by the device tree.

**Describe the solution you'd like**
1. Add device tree binding for Atmel GMAC.
    * The binding shall contain the "queue count" parameter (see https://github.com/zephyrproject-rtos/zephyr/pull/22961#discussion_r381966267)
    * Add any oth

[2020-02-21 00:25] stephanosio commented on #22997
cc @nandojve @galak

[2020-02-21 00:52] stephanosio commented on #22977
@PierreAronnax Thanks for providing a detailed analysis on the problem.

Since you have already provided a workable solution, would you be willing to open a pull request for the fix? or do you want the maintainers to do it?

[code]

cc @ioannisg

[2020-02-21 01:21] andrewboie opened #22999 "pend() assertion can allow user threads to crash the kernel"
**Describe the bug**
There's an assertion deep in the kernel scheduling code which, when a thread is being pended on a wait queue, to raise an assertion of the timeout is negative and not equal to 0. For some reason, this is immediately followed by a runtime check to just set timeout to 0 if assertions aren't built in.

[code]

Unfortunately, this assertion is problematic, as any system call with

[2020-02-21 01:24] andrewboie commented on #22999
@nordic-krch according to `git blame` you added this assertion, do you have time to fix this?

cc @pabigot @andyross

[2020-02-21 03:30] stephanosio opened #23001 "Implement SAM E5X GMAC support"
**Describe the solution you'd like**
1. Identify the differences between the SAM E70 and SAM E54 GMAC cores.
2. Port (and, if necessary, refactor) the existing GMAC driver to support the SAM E54 GMAC core.

**Additional context**
* If possible, try to do this after #22997 is done.
* SAM E54 support was added in #14685 by @benpicco.
* `atsame54_xpro` should be used as the development testing and ve

[2020-02-21 04:35] jasonedn opened #23002 "unknown type name 'class'"
When the following simple class is called in application, ir reported "unknown type name 'class'".

#pragma once;

In test.hpp
class ZrTest
{
    public:
    ZrTest();

    static void print();
 };

In test.cpp
ZrTest::ZrTest()
{}
void ZrTest::print()
{
    printk("print from ZrTest instance\r\n");
}

In main()
void main()
{
   ZrTest::print();
}

The CPP is enabled in prj.conf
CONFIG_CPLUSPLUS=y

[2020-02-21 04:46] stephanosio commented on #23002
Probably because your `main` is inside a `.c` file and you included `test.hpp` from there.

[2020-02-21 06:40] chen-png opened #23004 "Can't use west to flash test images into up_squared board."
**Describe the bug**
when using west flash to download image into up_squared, it met an error "KeyError: 'misc-flasher',
it is that for up_squared, in the runner_config args list,  **the misc-flasher is NONE**, so when invoking "runner_config['args'][runner_name]", it will report an error.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto samples/hello_world/
2

[2020-02-21 06:44] chen-png commented on #23004
@mbolivar Could you take a look of this? it's related to commit" eb95bed55".

[2020-02-21 07:27] nordic-krch commented on #22999
@andrewboie it's been discussed #19591 when conversion functions changed signing and was giving different results than before for negative numbers. Because of that behavior changed when negative number was provided. Assert was added to detect cases when negative number is used and fix them.

We can remove assert but then we will not detect misuse and api states:
[code]

[2020-02-21 07:55] PierreAronnax commented on #21016
I am a colleague of @Oanerer and can also easily reproduce this problem.

I don’t think its related to `CONFIG_NET_ARP_TABLE_SIZE`, as I can reproduce this problem even before the table is full. At best increasing `CONFIG_NET_ARP_TABLE_SIZE` only delays the problem, but it is still there.

I have tracked the problem down to `net_arp_prepare`
https://github.com/zephyrproject-rtos/zephyr/blob/master

[2020-02-21 08:15] ioannisg commented on #22977
Thanks for the bug report, @PierreAronnax , I 'll take a look as soon as possible. Yeap, feel free to open a bug-fix PR as well.

[2020-02-21 08:48] FRASTM commented on #22257
in the iwdg watchdog driver for stm32 (wdt_iwdg_stm32.c), the sequence to `iwdg_stm32_install_timeout` does not wait for register update after setting the Prescaler and the Reload Counter.
--> add a loop on LL_IWDG_IsReady
--> reload the counter just before leaving the function

[2020-02-21 08:49] PierreAronnax commented on #22977
@stephanosio
I don't think this is the complete solution. For instance when `CONFIG_LOG` is set but `CONFIG_FP_SHARING` isn't the bit should be cleared to. Also `CPACR`, `FPCCR` and `FPSCR` should be initialzed to. I will work out a PR.

@ioannisg
Thanks, I will create a PR soon.

[2020-02-21 09:20] jukkar commented on #21016
If this function returns null, it will cause the TX packet to be dropped i.e., not sent. See ethernet.c `ethernet_send() -> ethernet_ll_prepare_on_ipv4() -> net_arp_prepare()`. That is probably not the intention here.

[2020-02-21 09:38] #22926 closed

[2020-02-21 10:20] tbursztyka commented on #22941
@andrewboie Indeed, very good point. I wonder if an ld script could check if a device instance is being used, besides its presence in the device init section, and would give a warning about it. Though the variable name of the device pointer would probably be not really user friendly (it could be generated from the ZID, thus an indirect way to relate to DTS and then to the driver it belongs).
But t

[2020-02-21 10:22] agata-ponitka commented on #22928
I have added changes in autopts and retested with the latest master. The tests are pass now. Thank you.

[2020-02-21 10:27] aescolar commented on #22928
Closing then. Thanks

[2020-02-21 10:27] #22928 closed

[2020-02-21 10:34] lgirdwood commented on #22941
Can this be explained in more detail.?

The danger here is that you are pushing device driver specific knowledge up the stack and this becomes unmanageable very quickly. i.e. consider a driver API calls that polls on a HW state change. It could poll forever, but it's the responsibility of the driver (and not the core) to manage this timeout (and return -ETIMEOUT or whatever up the stack).

[2020-02-21 10:37] carlescufi commented on #22929
The BTP MITM command needs to be implemented.

[2020-02-21 10:38] #22945 closed

[2020-02-21 10:51] rveerama1 commented on #22866
You can use those samples as a template for AWS. Authentication and Message publication might be different.

[2020-02-21 11:06] ioannisg commented on #18635
@vanti now it is clear what is happening here; one of the IRQ lines used in the test is used by the platform, e.g. in some driver. The script actually checks that IRQ_CONNECT is not called (check at build-time) multiple times on the same IRQ line.

AFAIR, this check was added recently. Before this change was added, you were able to build and flash this test to this platform. The log you had earlie

[2020-02-21 11:06] #18635 closed

[2020-02-21 11:57] mtpr-ot opened #23015 "Ongoing LL control procedures fails with must-expire latency (BT_CTLR_CONN_META)"
If an LL control procedure is active and slave (or master) collides with other event and loses, must-expire feature may cause wrong "lazy" information handed to LLCP, and make the state machine fail.
**Note:** Feature is under CONFIG_BT_CTLR_CONN_META, and not default enabled in Zephyr.

**Steps to reproduce the behavior**
The scenario is observed in simulation:
1. ADV scheduled
2. Slave event col

[2020-02-21 11:58] Mierunski commented on #21932
You need to pass device label to device_get_binding function, i.e. `DT_UART_0_NAME` or `DT_ALIAS_UART_0_LABEL`. You don't need overlays for it, to check generated defines look in build directory `/build/zephyr/include/generated/` for files devicetree_unfixed.h and devicetree_fixups.h

[2020-02-21 12:33] carlescufi commented on #22929
The test doesn't seem to bue using the MITM command (0x1b):
[code]

[2020-02-21 12:35] carlescufi commented on #22930
The test doesn't seem to be using the [Bondable command (0x09)](https://github.com/intel/auto-pts/blob/master/doc/btp_spec.txt#L278):

[code]

[2020-02-21 12:54] tbursztyka commented on #22941
@lgirdwood There is nothing the core has to do in this case. The idea it to bring a common object into struct device so the drivers will be able to use afterwards in a normalized way, instead of letting each and every device driver reinventing the wheel on their own.

[2020-02-21 12:54] PierreAronnax commented on #21016
Yes I understand, but that is how I interpret that dropping was intentional:

[2020-02-21 13:45] pabigot commented on #22999
The override of an invalid timeout to a timeout with defined behavior is there specifically to avoid unspecified behavior (probably a sleep for a very long time) when assertions are disabled, and was added because doing runtime validation of the parameter was rejected during review as being too expensive.

I'm ok with any of the proposed solutions.  The one with least impact on existing behavior a

[2020-02-21 14:07] koffes opened #23019 "logging: add LOG_RAW macro"
The logging system provides many useful features.

In our system we get prints on the format: <timestamp><wrn_lvl><module><user msg>
This is fine most of the time, but sometimes we want to use ANSI escape characters for cursor positioning. With the current system we cannot e.g. save the cursor position in a desirable manner because <timestamp><wrn_lvl><module> has been printed before the command r

[2020-02-21 14:43] koffes opened #23021 "logging: Sync timestamp between cores"
The logging system has a useful feature where a timestamp is prepended each log message.

This works well on single core MCU's, but in some situations you want to investigate multi-core applications. E.g. both cores crash, and you need to figure ut what took place first.
Suggest adding a config of type CONFIG_LOG_TIMESTAMP_SYNC. This will ensure that e.g. a LOG_DBG which is called on each core at

[2020-02-21 14:47] carlescufi commented on #23019
This could be useful for the Bluetooth monitor as well. CC @jhedberg

[2020-02-21 14:49] #21970 closed

[2020-02-21 15:07] jukkar commented on #21016
I am trying to replicate the issue, so far no luck. I am bombing zephyr with ARP requests but zephyr so far is only replying to requests that are directly sent to it. Have you figured out an ARP packet that is causing this issue?

[2020-02-21 15:13] jhedberg commented on #23019
In the case of the monitor protocol (btsnoop) it's all binary, whereas I think the suggestion here is for LOG_RAW to take a string.

[2020-02-21 15:14] MarekPieta opened #23023 "Bluetooth: GATT CCC problem (GATT Server)"
**Describe the bug**
The GATT CCCs are not properly connected with Bluetooth local identities on GATT Server. This may cause problems when using multiple Bluetooth local identities.

**To Reproduce**
Reproduced with `nrf_desktop` application (from NordicPlayground/fw-nrfconnect-nrf):

1. Use Bluetooth Peripheral device with GATT Server, supporting multiple Bluetooth local identities.
2. Bond the d

[2020-02-21 16:50] jhedberg opened #23025 "Make west aware of when "west update" may be needed"
It'd be nice if west tracked the last time "west update" was run and compared that against the last modification timestamp of west.yml. That way west could either automatically run "west update" or issue a suggestion to the user that "west update" may be necessary.

[2020-02-21 16:52] mbolivar commented on #23025
I'm making this a Zephyr issue instead of a west issue based on the above discussion.

[2020-02-21 16:57] #22999 closed

[2020-02-21 16:57] ZideChen0 opened #23026 "missing ISR locking in UART driver?"
**Describe the bug**

When IO APIC working in fixed delivery mode to broadcast interrupts to all CPUs in SMP system, seems the UART may not work properly.

Running this app and will see that the console is not able to echo keyboard input.
$ west build -b qemu_x86_64 samples/subsys/console/echo/ && west build -t run

**To Reproduce**
Steps to reproduce the behavior:
1. Apply these commits:.
https:/

[2020-02-21 17:26] mbolivar commented on #5517
Removing my assignment

[2020-02-21 17:42] mbolivar commented on #23004
Thanks for the report. I believe https://github.com/zephyrproject-rtos/zephyr/pull/23027 is a fix.

[2020-02-21 18:25] dcpleung commented on #22885
This is probably caused by the deactivation of UART during deep sleep transition.

When deep sleep enabled, `samples/hello_world` would not print the next line character at the end. So consecutive runs were like this:
[code]

But after I commented out the call to `deep_sleep_save_uarts()` in `soc/arm/microchip_mec/mec1501/device_power.c`, console output was like this:

[code]

@scottwcpg Do you ha

[2020-02-21 19:28] #23023 closed

[2020-02-21 20:55] scottwcpg commented on #22885
Does the code transmitting messages through the UART insure the UART TX FIFO is empty before allowing a transition to deep sleep?  When deep_sleep_save_uart is called it assumes the UART is idle.  The function saves and clears the UARTs' activate register which gates off the clock to each UART.
Also, the UART TX FIFO is 16 bytes.  If the message is broken up where the next line character does not

[2020-02-21 20:59] jasonedn commented on #23002
@stephanosio, I tried to rename main.c to main.cpp and test.hpp is also included, but it didn't fix it. Thanks

[2020-02-21 21:15] dcpleung commented on #22885
I don't think we currently have any mechanism to ensure buffer is emptied before going into deep sleep mode. This might require CONFIG_DEVICE_POWER_MANAGEMENT to be enabled on the board which will require us to implement PM functions on all the drivers being used.

[2020-02-22 00:09] andrewboie opened #23030 "kernel: re-use of thread objects is not robust"
**Is your enhancement proposal related to a problem? Please describe.**
It's common to want to have short-lived threads to offload work that get re-used.

However, the only API we have for creating a thread is k_thread_create(). It is a form of initialization function, in that it is expected to work with thread objects that could be garbage, uninitialized data. Because there are no pre-conditions

[2020-02-22 01:36] andrewboie commented on #23030
To flesh this out further, here's a draft API specification, with k_thread_create() a legacy API defined in terms of it.

[code]

[2020-02-22 03:16] mkvenkit opened #23032 "Need help to enable Sub-GHz for ieee802154_cc13xx_cc26xx"
I am looking for some guidance on enabling Sub-GHz for CC13xx.

I am not an expert, but on reading through the CC1352 TRM, it seems like we just need to set the channel correctly. There are two places in the code that needs change it looks like:

1. Channel setup (11-16)?

https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/ieee802154/ieee802154_cc13xx_cc26xx.c#L81

2. `loDivider` in

[2020-02-22 08:46] kkiyota commented on #22903
@utzig Thank you for sending me ST document link!  I didn’t know such NAND FLASH block limitation.  I’ll try it ASAP.

[2020-02-22 12:24] md-jamal opened #23035 "dhcpv4_client sample not working on sam e70"
Hi All,
I flashed dhcpv4_client on SAM E70 and it is not getting any ip address from DHCP Server which is my router.

[code]
It is only in discover stage and not coming out of it. Can anyone provide input on this, will be helpful

uart:~$ net iface show

[code]

[2020-02-22 12:31] stephanosio commented on #23035
This is a duplicate of #22890.

It seems you are testing with the Rev. B chip and #12711 is required to get Ethernet working.

[2020-02-22 13:46] stephanosio commented on #23002
@jasonedn Please create a test branch and push it to your fork so that we can try reproducing the problem.

[2020-02-22 15:18] md-jamal commented on #23035
Thanks so much saved my day.
After adding the commit and switching the revision to B it worked
`CONFIG_SOC_PART_NUMBER_SAME70Q21B=y`

[2020-02-22 15:18] #23035 closed

[2020-02-22 15:30] carlescufi commented on #22928
I've also re-run those locally and they pass for me as well. cc @joerchan

[2020-02-22 18:22] jasonedn commented on #23002
The main.c was changed to main.cpp, but test.cpp was not added to
CMakeLists.txt. Now it worked when tect.cpp was added as below.
   target_sources(app PRIVATE src/main.cpp src/test.cpp)

Thanks a lot

On Thu, Feb 20, 2020 at 8:46 PM Stephanos Ioannidis <
notifications@github.com> wrote:

[2020-02-22 21:10] #22107 closed

[2020-02-23 01:44] #23002 closed

[2020-02-23 13:37] vestom opened #23039 "SystemView does not work with C++ enabled"
I am trying to get SystemView working on a C++ based project I am working on, but the SystemView application fails to find the RTT block and start recording.
After looking at issue #12825 I tried with the samples/synchronization project and got it to work as expected. However when only enabling C++, the sample application stops working with SystemView.

** Steps to reproduce **
1. Build `samples/s

[2020-02-23 14:18] vestom commented on #23039
After some further experimentation it seems it is not `CONFIG_CPLUSPLUS` in particular, which is the problem...

Testing with some other `CONFIG_` combinations yielded the following results:
- Adding only `CONFIG_UART_INTERRUPT_DRIVEN=y` -> Did not work either
- Adding only `CONFIG_CONSOLE_SUBSYS=y` -> Did work
- Adding both `CONFIG_CONSOLE_SUBSYS=y` and `CONFIG_CONSOLE_GETCHAR=y` -> Did not work.

[2020-02-23 18:34] caizelin opened #23040 "samples: net/wifi: net ping shell causes USAGE FAULT once wifi is connected"
Running ping through the net shell causes an USAGE FAULT once wifi is connected. Tested on nRF52840 and winc1500 driver.

Here is the `prj.conf`:
[code]

Once wifi connected, it failed and here is the output:

[code]

**Environment:**
 - OS: (MacOS)
 - Toolchain: gcc-arm-none-eabi-7-2018-q2-update
 - Zephyr version: 2.2.0-rc1
- Commit SHA: 613e5f5

[2020-02-23 19:46] #22929 closed

[2020-02-23 19:46] #22927 closed

[2020-02-23 19:46] #22930 closed

[2020-02-24 00:12] aeremin commented on #15906
For the next poor soul who will google this error and will find this issue:
You probably missed this step:

## Install needed Python packages ##
`pip3 install --user -r ~/zephyrproject/zephyr/scripts/requirements.txt`

[2020-02-24 02:34] JaimeAlbq commented on #3723
Hello every one,

I tried to build the WiFi example, but I got the following error and note log:

[code]

How to proceed?

Hopefully this help in some way.

[2020-02-24 02:51] md-jamal commented on #22866
Can we use "AWS IoT Device SDK for Embedded C" in Zephyr

[2020-02-24 08:09] koffes commented on #23019
@jhedberg that is correct. May the existing feature LOG_HEXDUMP be close to what you need?
Perhaps LOG_BARE_RAW and LOG_BARE_STR be more suitable?

[2020-02-24 09:12] nordic-krch commented on #23019
what level would that use. Do we implicitly assume something (e.g. info) or create `LOG_RAW_INF`?

[2020-02-24 09:19] koffes commented on #23019
Since this feature would not use either color or any "<wrn>", "<err>" etc. label, do we need to define a level?

[2020-02-24 09:39] lowlander commented on #22751
@erwango would it be possible to access the SDA and SCL as gpio pins inside the driver, so they can be used to "hard reset" the i2c bus in case a slave gets confused by the start-stop pulse and doesn't release the bus.

Because the ST errata just has as software workaround "reset the peripheral", and than there is a risk of leaving the bus in a wrong state.

So I think it would be good to have a r

[2020-02-24 10:47] Mhrooczny commented on #21932
When i pass `DT_UART_0_NAME` or `DT_ALIAS_UART_0_LABEL` to `device_get_binding` function im getting error: `error: initializer element is not constant`. I don't have files like devicetree_unfixed.h or devicetree_fixups.h but just generated_dts_board_fixups.h and generated_dts_board_unfixed.h but i think that this is same thing.

[2020-02-24 10:56] 225296 commented on #22931
•	Removed jumper JP15 to disconnect pull-up resistor and used GPIO_050 and GPIO_051 ,
Test Execution is **PASSED**

[2020-02-24 10:56] #22931 closed

[2020-02-24 11:19] endian-benjamin opened #23047 "cdc_acm_composite sample doesn't catch DTR from second UART"
Built `samples/subsys/usb/cdc_acm_composite` with `-DBOARD=nrf52840_pca10056` and verified that `ttyACM0` and `ttyACM1` appeared. `ttyACM0` contains debug logs. `ttyACM1` is silent. Hooked up GDB and found that the main loop is stuck waiting for DTR from `CDC_ACM_1`, even though minicom is connected and even though it had caught the DTR from `CDC_ACM_0`.

[2020-02-24 12:00] #23004 closed

[2020-02-24 12:24] avisconti commented on #22348
@theBASTI0N
I'm providing a fix for this bug. Can you possibly cross verify it?

[2020-02-24 12:36] kruithofa commented on #22048
Note that feedback from Ellisys is that LL/CON/SLA/BV-131-C is an EBQ related issue, and not a problem in the  LL code

[2020-02-24 13:14] endian-benjamin commented on #23047
(tried with both v2.0.0 and v2.1.0)

[2020-02-24 13:36] endian-benjamin commented on #23047
@jfischer-phytec-iot @finikorg

[2020-02-24 13:54] PierreAronnax commented on #21016
Just get any PC to request a DHCP lease. A Windows 7 PC will give an error that the IP is already in use (I only have a Dutch translation of the error), a Windows 10 will accept, but the message sequence look the same to me (attached below).
[code]

I have added `NET_INFO` to `arp_entry_register_pending`, `arp_entry_find_pending` and `arp_entry_get_pending` for easy filtering; for `_find_` and `_g

[2020-02-24 14:14] zfviwx opened #23050 "subsys/bluetooth/host/conn.c: conn->ref is not 0 after disconnected"
**Describe the bug**
bt_conn_create_le() returns NULL the 2nd time it is called.

**To Reproduce**
Steps to reproduce the behavior:
1. Call bt_conn_create_le() and wait till connected callback is called
2. Call bt_conn_disconnect() and wait till disconnected callback is called
3. Call bt_conn_create_le() again with the same params

**Expected behavior**
bt_conn_create_le() returns pointer to the c

[2020-02-24 14:47] aescolar commented on #23050
CC @joerchan

[2020-02-24 14:49] ioannisg commented on #22977
Hi  @PierreAronnax , first, thanks again for the investigation, here.
I confirm that the issue you have spotted is a valid one. Allow me, however, to stress that this is
 just an aspect of a rather generic problem with Zephyr not fully initializing processor status in reset. As you mentioned, this becomes an issue when Zephyr image is loaded by another image that does certain things with the Corte

[2020-02-24 14:58] endian-benjamin commented on #23047
It was just me misunderstanding the sample - I thought ttyACM0 and ttyACM1 were supposed to communicate, but since I had the console on a USB UART as well, it actually created three ttyACMs. Communication worked fine between ttyACM1 and ttyACM2...

[2020-02-24 14:58] #23047 closed

[2020-02-24 14:58] carlescufi opened #23052 "nrf52840_pca10056: Spurious RTS pulse and incorrect line level with hardware flow control disabled"
When running `samples/hello_world` with the default configuration on `nrf52840_pca10056`, `CONFIG_UART_0_NRF_FLOW_CONTROL` is disabled.

This means that the RTS line, which is an output from the nRF52840 perspective, should stay idle continuously. Instead, we see a pulse, which should not be present.
Furthermore, before and after the pulse the line is set to the low level (active) which makes the

[2020-02-24 15:15] joerchan commented on #23050
@zfviwx I suspect the last reference is held by the application.
If you see the documentation for `bt_conn_create_le`:
[code]
Which means that the application needs to call `bt_conn_unref(conn);` once it is finished using the connection object.
In the central_hr sample this is done here
https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/bluetooth/central_hr/src/main.c#L210

[2020-02-24 15:28] zfviwx commented on #23050
It does. It refs in connected callback and unrefs in the disconnected callback, exactly as what it does in Zephyr samples. And I stepped through the code and am sure the application unrefed it.

[2020-02-24 15:37] jhedberg commented on #23050
@zfviwx the return value of bt_conn_create_le() is a new reference as well, so if you're not unrefing it that's a but in the application. Note that the documentation talks about dropping the last references *of the stack*. That doesn't mean that the application (or any other module) can't still hold their own references as well.

[2020-02-24 15:48] joerchan commented on #23050
No the zephyr central samples does not ref it in the connected callback.
The zephyr central samples has a ref from where it calls `bt_conn_create_le` until it is unref`ed in disconnected callback.

If you don't store the value returned from `bt_conn_create_le` in that way, then you have to unref the return from `bt_conn_create_le`.

[2020-02-24 15:48] #23050 closed

[2020-02-24 16:44] zfviwx commented on #23050
@joerchan What is the logic that ref and unref don't come in pair? If the application doesn't ref it explicitly, why should it unref it? And it is not mentioned in the header.

[2020-02-24 17:01] jhedberg commented on #23050
@zfviwx we would risk race conditions if reference-counted pointers returned by functions don't give you a new reference. Let's say the caller has to do ref() itself, however before it has the chance to do that a context switch happens back to a Bluetooth stack thread and the stack goes and destroys the object (the last reference of it). When the application's thread gets scheduled again it would

[2020-02-24 17:13] joerchan commented on #23050
@zfviwx It is mentioned in the header here:
https://github.com/zephyrproject-rtos/zephyr/blob/master/include/bluetooth/conn.h#L283

Maybe it is unclear?

[2020-02-24 17:52] carlescufi commented on #22985
This has been checked and no vulnerabilities have been found that affect Zephyr.

[2020-02-24 17:52] #22985 closed

[2020-02-24 17:57] Laczen opened #23056 "Flash partitions at same starting address generate warnings"
**Describe the bug**
Previously it was possible to declare multiple partitions with the same starting address, in zephyr 2.2.0-rc1 this generates a warning.

**To Reproduce**

To avoid using the same node name multiple partitions with the same starting address could be
defined as:
[code]
When this is done in zephyr 2.2.0-rc1 the following messages are generated:
[code]
**Expected behavior**
No war

[2020-02-24 18:00] zfviwx commented on #23050
It would be much nicer if it mentions unref needs to be called🙂

[2020-02-24 19:54] MaureenHelm commented on #22623
This test still passes on master at e4479e2feceee854f4436816c04ee98ad981b66e

[2020-02-24 19:54] #22623 closed

[2020-02-24 19:54] MaureenHelm commented on #21813
This test still passes on master at e4479e2feceee854f4436816c04ee98ad981b66e

[2020-02-24 19:54] #21813 closed

[2020-02-24 20:02] MaureenHelm commented on #22902
@agansari will you please have a look?

[2020-02-25 00:00] mbolivar commented on #22545
The more I think about this and look at the docs, the more I wonder if PRE_KERNEL_1 and friends should be replaced entirely as APIs if we're doing DT-based init. Their documentation feels like hard-coding dependencies:

This is a contradiction, of course. Even SoC-internal hardware devices have dependencies on one another.

Which interrupts, exactly? When is the "interrupt subsystem" "configured"

[2020-02-25 00:12] vanti commented on #22941
Adding a couple of ideas:

1. Expanding from the line of thought from @pizi-nordic, it'd be nice to have a concept of power domains in DTS. On TI SoCs and likely other ones out there, devices are grouped into power domains, and only when all devices in the domain are not needed then the entire domain can be shut off.

2. Another use for "device uninit" is to employ it as a way for the application

[2020-02-25 00:17] theBASTI0N commented on #22348
@avisconti
I will be able to verify it later today.

Thanks for the help

[2020-02-25 01:01] jenmwms commented on #18378
I contemplated a patch that checked the return values, but it is bulky and checking the return in that context does not appear to add value. So it is cleaner to simply change those few calls to (void).

[2020-02-25 01:37] stephanosio commented on #22870
https://wiki.qemu.org/ChangeLog/5.0
https://wiki.qemu.org/Planning/5.0

[2020-02-25 02:47] KwonTae-young commented on #21325
close...

[2020-02-25 02:47] #21325 closed

[2020-02-25 05:41] albertofloyd commented on #22885
@dcpleung How are you doing these consecutive runs?  Resetting the board in between?
This  seems to be a problem where we are entering deep sleep when is not supposed to occur, hence UART gets disabled too early.

Currently board minimum residency is 2s (CONFIG_SYS_PM_MIN_RESIDENCY_DEEP_SLEEP_1=2000)
String cut-off means idle thread runs before printk is completed. Sounds to me more like power sub

[2020-02-25 06:45] raidoz opened #23062 "thread_num / thread_num_dynamic are never decremented in CMSIS v2 thread.c"
Terminating threads through CMSIS v2 APIs does not free up resources allocated to the threads by the CMSISv2 API. Upon inspection, it is easy to spot that the thread_num and thread_num_dynamic variables are only ever incremented, though they should also be decremented when osThreadExit is called by the thread or osThreadTerminate is called elsewhere. Simply decrementing thread_num in the correct p

[2020-02-25 07:10] raidoz opened #23063 "CMSIS v2 osThreadJoin does not work if thread exits with osThreadExit"
**Describe the bug**
Joining a CMSIS v2 thread that exited with osThreadExit returns osErrorResource. The join itself actually waits for the thread to exit, however `has_joined` is only set in zephyr_thread_wrapper and osThreadExit terminates the thread with k_thread_abort. Joining works, if the thread exits with a return, however this is counter to the RTOS v2 documentation and not allowed on oth

[2020-02-25 07:37] PierreAronnax commented on #21016
My information about `current_ip` is 56.78.0.32 was false. current_ip is actually NULL and happens to print 56.78.0.32.

[2020-02-25 08:00] tejlmand commented on #23025
A small thought on this.
We could consider to use CMake config package for this,

The config package doesn't have to be installed, as we can use the path provided by west list to look up package location.

Only risk I see on this is when project depends on a pre-release version, as example:
`find_package(nrfxlib 2.4.0)`, then all `2.4.99` will also match, even though `2.4.99` could be very differe

[2020-02-25 08:03] tejlmand commented on #23025
Of course having n-number of modules will raise the chance that one of them is out-of-date and then user can be warned.

[2020-02-25 08:09] wentongwu commented on #20217
@stephanosio not familiar with this platform, but what's the CPU clock frequency for this QEMU, thanks

[2020-02-25 09:00] stephanosio commented on #20217
@wentongwu In terms of QEMU, it is meaningless to talk about the CPU clock frequency for obvious reasons.

When running on real hardware (ZCU102), the clock frequency would depend on various configurations (e.g. on-board oscillator frequency, PLL configuration, ... handled by the PMU).

[2020-02-25 09:27] erwango commented on #22751
@lowlander indeed, we're working on it via the introduction of pinctrl definition via device tree.
In this model, each peripheral driver would have access at pin definitions and would be able to use them for multiple purpose: reset, low power, ...
Topic has just started, but you could find some info here: https://github.com/zephyrproject-rtos/zephyr/issues/22748

[2020-02-25 09:54] joerchan commented on #23050
@zfviwx Is this clear: https://github.com/zephyrproject-rtos/zephyr/pull/23066?

[2020-02-25 10:02] zfviwx commented on #23050
Looks great! I'm impressed

[2020-02-25 10:26] #22912 closed

[2020-02-25 10:30] agansari commented on #22902
@armandciejak `eth_mcux_phy_setup` was added in commit 2778e1d534845bc5e950528b4f858549134f51f1 it fixes an errata on early 1050EVK boards.
You are right about clock and SMI initialization.
Can you help me test #23068 pull on your board? I don't have an i.MX RT board right now.

[2020-02-25 10:38] Laczen commented on #23056
Even if this issue would be solved there is a high probability that a new warning will be triggered:
[code]
I will work around these both warnings. It would be good to take a position regarding these warnings:
a. The unit-address should be equal to the first `reg` item.
b. The unit-address should be unique.

[2020-02-25 10:40] #20411 closed

[2020-02-25 11:15] cvinayak opened #23069 "Bluetooth: controller: Assert in data length update procedure"
**Describe the bug**
Seen (both on real phone and in simulation) that the LLCP system can crash if a connection event was lost due to scheduling conflicts.

A slave device that both advertises and has a connection with a master phone.  On the connection the master makes a PHY update followed by the save doing a length update. After the PHY update instant the master does a new length update. Unfort

[2020-02-25 11:29] cvinayak opened #23070 "Bluetooth: controller: Fix ticker implementation to avoid catch up"
**Describe the bug**
Relates to #22926

Temporarily ticker compatibility mode has been enabled for nRF5 platforms.

Two issues observed:
1. Either flash driver's ticker instance or master role ticker instance do not get scheduled. Both have an interval of 7.5 ms.
2. Flash erase takes 80 ms during which CPU is halted, master intervals try catch up consuming CPU time that cause master events not bei

[2020-02-25 12:03] wentongwu commented on #20217
yes, for normal mode we don't need that, but I'm trying to enable QEMU icount mode for qemu_cortex_r5, and it need CPU clock frequency to some math, if any interest, please take a look https://github.com/zephyrproject-rtos/zephyr/pull/22904 and https://github.com/zephyrproject-rtos/zephyr/issues/14173 . Thanks

[2020-02-25 12:20] wentongwu commented on #22885
@albertofloyd we don't enable CONFIG_LOG_PRINTK, so there is no buffering for the string. Instread we poll out every char(uart_ns16550_poll_out), so there is no way idle thread run first than application thread which is doing printk.

[2020-02-25 12:45] dlisik-hid opened #23072 "#ifdef __cplusplus missing in tracking_cpu_stats.h"
**Describe the bug**
When we include the header file subsys/tracing/include/tracing_cpu_stats.h
into the C++ file with reference to one of the functions it will not link.

**To Reproduce**
Steps to reproduce the behavior:
1. add C++ file into the Zephyr project
2. enable TRACING_CPU_STATS in menuconfig
2. #include "tracing_cpu_stats.h"
3. call on of the functions, e.g. cpu_stats_non_idle_and_sched

[2020-02-25 12:49] microbuilder commented on #22872
This is related to ongoing work in #19985 ... the TF-M binary needs some extra work to be run in qemu, which is specifically happening here: https://github.com/zephyrproject-rtos/zephyr/pull/19985/commits/04bae707e6fdb142cde105ac3ba72dd4640817df

That merged binary can then be run via `qemu-system-arm -M mps2-an521 -device loader,file=tfm_qemu.hex -serial stdio`

Once that is  updated and merged i

[2020-02-25 13:34] lowlander commented on #22751
@erwango but how to fix this for 1.14.X ? I can add the timeout and give the i2c hardware a reset, but I have no access to the GPIO pins the reset the bus in the worst case scenario.

[2020-02-25 13:44] ioannisg commented on #23072
thanks for this bug report -
would it be possible to provide a fix PR @dlisik-hid ?

[2020-02-25 13:52] kkiyota commented on #22903
@utzig I ran some experiments.

1. slot0_parition is set at Sector 5(256KB), slot1_partition is set at Sector 6 and scratch_partition is set at Sector 7.
  It worked fine as shown below.

  *** Booting Zephyr OS build zephyr-v2.1.0-1214-g22326f6d99e8  ***
[00:00:00.005,000] <inf> mcuboot: Starting bootloader
[00:00:00.011,000] <inf> mcuboot: Primary image: magic=unset, swap_type=0x1, copy_done=0x3

[2020-02-25 14:14] #23069 closed

[2020-02-25 14:43] markus-becker-tridonic-com opened #23076 "API method to get available mempool"
**Is your feature request related to a problem? Please describe.**
At design time for a product, you want to be able to verify that the heap/mempool usage is bounded.

**Describe the solution you'd like**
An API method like `size_t sys_mem_pool_avail()`.

mbedOS is offering `mbed_stats_heap_get()`: https://os.mbed.com/docs/mbed-os/v5.15/tutorials/optimizing.html

[2020-02-25 15:10] pabigot commented on #22974
Before going further I want to highlight that the design of this manager intentionally **requires** that there is always at least one client left listening to be notified of the completion of any in-progress transition.  This was done to be sure somebody's notified if the transition fails, placing the service into an error state.  Also, it is an error to initiate a service release that is not pair

[2020-02-25 15:13] #22048 closed

[2020-02-25 15:25] utzig commented on #22903
I have no idea why `make flash_hello2` failed but you have to make it run without fails to actually load hello2 correctly into the slot and be able to run an upgrade.

[2020-02-25 16:52] d3zd3z commented on #22903
The Makefile that builds hello2 hardcodes everything about the partition, both when calling `imgtool.py` and when flashing the image. If this doesn't match the frdm-k64f, the upgrade won't likely work.

[2020-02-25 16:54] dcpleung commented on #22885
I just power-cycled the board to get the results.

My theory is that the character is put into the UART FIFO, and the hardware is shifting the bits out. In the meantime, the idle loop runs and decides to go into deep sleep since there are no more timeouts (or events) at the end of the test. In other word, the UART has not shifted all the bits out the lines before running the deep sleep function. N

[2020-02-25 17:08] kkiyota commented on #22903
@d3zd3z  I just changed "--slot-size" assuming that it's the same as slot0 and slo1 partition size.  Is it correct understanding?

////////////////////////////
# Build and sign "hello1".
hello1: check
	(mkdir -p $(BUILD_DIR_HELLO1) && \
		cd $(BUILD_DIR_HELLO1) && \
		cmake -DFROM_WHO=hello1 \
			-G"Ninja" \
			-DBOARD=$(BOARD) \
			$(SOURCE_DIRECTORY)/hello-world && \
		ninja)
	$(IMGTOOL) sign \

[2020-02-25 17:12] kkiyota commented on #22903
@utzig Yes, I can compile it with no errors.  When signed-hello2.bin was loaded, I just got the error which looks error for erase.

[2020-02-25 17:14] scottwcpg commented on #22885
The 16550 UART Line Status run time register has read-only bit[6] which is set to 1 when both the FIFO and the shift register is empty.  The driver could use this bit to know when TX HW is idle.

[2020-02-25 17:24] mbolivar commented on #17689
I think the workaround by @pabigot is really the best we can do for now until we have #22802 or something like it. Please reopen if you disagree.

[2020-02-25 17:24] #17689 closed

[2020-02-25 17:26] erwango commented on #22751
@lowlander

My bad I forgot you were using 1.14. This would be a significant change (and not a simple fix), I don't know the policy on adding enhancement on LTS branch. @MaureenHelm ?

[2020-02-25 18:41] #22902 closed

[2020-02-25 20:14] bwasim commented on #3276
I've been exploring Zephyr, specifically the power management framework and came across this issue. Is there no plan to add support for dynamic frequency scaling in the near future? I understand that voltage scaling is rare but most of the platforms (ST Micro, NXP, Xilinx etc) support frequency scaling and it can be a useful feature in system design.. Thoughts ?

[2020-02-25 22:01] mbolivar commented on #19285
@pabigot as discussed internally at Nordic, @anangl has identified at least one place where this is an invalid assumption:

In particular, the Nordic HAL exposes some ISR routines for SPI peripherals through names that correspond to their SoC IDs, namely nrfx_spim_X_irq_handler:

https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/spi/spi_nrfx_spim.c#L396

I.e. the driver **does** car

[2020-02-25 22:17] pabigot commented on #19285
That likely could be finessed through indexing cast initializer lists, but I have no objections to using NODELABEL for cases where something special is needed.  I think it's @galak that particularly wants things to be instance-based.

[2020-02-25 22:18] mbolivar commented on #19285
@pabigot @erwango @galak @ulfalizer @carlescufi @mnkp @anangl @jfischer-phytec-iot :

I propose these answers to the questions raised by this issue:

- drivers *should* refer to devices by INST if possible, especially if those devices can be generically driven by their compatible
- drivers *may* use SoC specific NODELABEL identifiers to refer to devices when they become available (#22555), e.g. if

[2020-02-26 08:05] nordic-krch commented on #22974
I have following case: USB plug in triggers HF clock request, plug out release. I have not control when those events come. They might be in the interrupt context so request is asynchronous.

Note that without that feature it is a step back in functionality for clock control as previously clock could be stopped at any moment and onoff without cancellation makes it very complex.

I've prepared #2308

[2020-02-26 08:20] erwango commented on #19285
@mbolivar

This seems quite fine to me. Though, I'm not clear on the difference you make between *in-tree* and *built-in*. Can you clarify this ?

Finally, about legit aliases, should we work on defining naming rules, or keep as is for now and clarify when need arises?

[2020-02-26 08:21] #23015 closed

[2020-02-26 10:22] andrewboie commented on #23063
this shouldn't be hard to fix once #23028 goes in

[2020-02-26 11:34] pabigot commented on #22974
I'll take a look at that PR.  Where is your current implementation using the API as it currently exists?

[2020-02-26 11:56] lowlander commented on #22751
@erwango I think just a peripheral soft-reset is the only option, if it keeps failing the 1.14 user will have to build its own hard-reset via GPIO in its own application.

Your timeout patch can be back ported and a 100ms timeout on the mutex should make sure the driver comes back to "userspace" where the user than must check via GPIO if the SDA or SCL are still low and than reset the bus via a "f

[2020-02-26 12:13] #23072 closed

[2020-02-26 15:03] nordic-krch commented on #22974
Here is how i solve it without this functionality:
https://github.com/nordic-krch/zephyr/blob/clock_control_calib_onoff/drivers/usb/device/usb_dc_nrfx.c#L543

I use additional flag passed to the started callback for that. If it is set then it means that clock should be released in the callback:
[code]

Then stop function is starting by checking in lock if client completed. If not it means that sta

[2020-02-26 15:04] pabigot opened #23106 "timer_api intermittent failures on Nordic nRF"
The same failure identified in #21813 and #22623 can occur on Nordic hardware:
[code]

Analysis suggests this is a false failure: the test measures durations in milliseconds, while the Nordic clock tracks 32 KiHz (32768 Hz) ticks that don't align to millisecond boundaries.  Since information is lost every time a 32 KiHz count is truncated to a 1000 Hz count it's possible that the difference in tim

[2020-02-26 15:05] pabigot commented on #23106
@ioannisg @carlescufi

[2020-02-26 15:07] nandojve opened #23107 "Convert SAM SoC drivers to DT_INST"
**Is your enhancement proposal related to a problem? Please describe.**

This is to keep tracking of drivers to DT_INST related to Atmel SoCs. The worked started with #22806.

**Describe the solution you'd like**

Move/Create DT_INST for below driver list:
- [X] drivers/adc/adc_sam0.c #24683 #24687 #24789
- [X] drivers/adc/adc_sam_afec.c #24580 #24623
- [X] drivers/counter/counter_sam0_tc32.c #246

[2020-02-26 15:24] mtpr-ot opened #23109 "LL.TS Test LL/CON/SLA/BV-129-C fails (split)"
With the introduction of commit "Bluetooth: controller: split: fix LL/CON/MAS/BV-74-C tx timing" (0ac4433a12), the test LL/CON/SLA/BV-129-C fails on EBQ.

**To Reproduce**
Run LL/CON/SLA/BV-129-C on EBQ on "split" controller, without coded PHY.

**Expected behavior**
Without commit 0ac4433a12 the test passes - with it, it fails.

**Impact**
Qualification on Zephyr 2.2 will fail.

**Additional cont

[2020-02-26 15:27] aescolar commented on #23109
CC @kruithofa @cvinayak

[2020-02-26 15:34] agata-ponitka opened #23110 "PTS: Bluetooth: GATT/SR/GAS/BV-07-C"
Describe the bug:
After re-connection and second read request, data base is out of sync but IUT returned valid value.

Expected behavior
IUT returned error.

[GATT_SR_GAS_BV_07_C_2020_02_26_16_14_15.zip](https://github.com/zephyrproject-rtos/zephyr/files/4256532/GATT_SR_GAS_BV_07_C_2020_02_26_16_14_15.zip)

[2020-02-26 15:52] aescolar commented on #23110
CC @jhedberg

[2020-02-26 16:25] sslupsky opened #23111 "drivers:usb:device:sam0: Descriptor tables are filled with zeros in attach()"
**Describe the bug**
During review of the sam0 usb device driver, a question comes to mind regarding the descriptor tables.

When usb_dc_attach() is called, the descriptor tables are filled with zeros.  At first glance, this appears to be the correct thing to do.  Upon a deeper investigation however, I am not so sure.  The descriptor tables are initialized in usb_device_init() which then "fixes" t

[2020-02-26 17:30] mbolivar commented on #19285
No difference was intended. Sorry to be confusing. I've updated the comment to use in-tree consistently.

I don't know myself, but I think that might be a separate issue. It seems like this issue is mainly about what *types* of node identifiers should be used, and when, rather than how to name each alias identifier.

[2020-02-26 18:19] #22257 closed

[2020-02-26 18:21] #22245 closed

[2020-02-26 18:47] Vudentz commented on #23110
Are there any logs from Zephyr, it might be clearing in case of:

	/* BLUETOOTH CORE SPECIFICATION Version 5.1 | Vol 3, Part G page 2347:
	 * 2.5.2.1 Robust Caching
	 * A connected client becomes change-aware when...
	 * The server sends the client a response with the error code set to
	 * Database Out Of Sync and then the server receives another ATT
	 * request from the client.
	 */

It weird sin

[2020-02-26 20:10] mbolivar commented on #22964
@pabigot and any others interested in discussing.

I want to start with the grammar as defined in v2.2.0-rc2, and tackle `node-id` (used by `property-macro`) first as a warmup for the process:

https://github.com/zephyrproject-rtos/zephyr/blob/v2.2.0-rc2/doc/guides/dts/macros.bnf

I've created a [dt-macros-ng branch](https://github.com/mbolivar/zephyr/tree/dt-macros-ng) in my fork, which contains

[2020-02-26 20:58] carlescufi commented on #23110
@Vudentz
[code]

[2020-02-26 21:00] carlescufi commented on #23110
@Vudentz which logs do you want on the zephyr side?

[2020-02-26 22:17] phuntimes opened #23117 "Unable to flash hello_world w/XDS-110 & OpenOCD"
**Describe the bug**
Flashing failed while attempting to follow getting started guide for LAUNCHXL-CC2640R2F. OpenOCD fails to negotiate with XDS-110. Made sure XDS-110 has latest firmware via CCS (see output). Tried workaround suggested [here](https://github.com/zephyrproject-rtos/zephyr/issues/21372#issuecomment-574897770).

**To Reproduce**
Steps to reproduce the behavior:
1. Follow [Getting St

[2020-02-26 22:59] phuntimes commented on #23117
I realized I may have made a mistake here. What I had on hand to test with was a CC2640 (M3), not a CC2642 (M4).  I'm going to not close this for the moment b/c I want to see if this is an openocd and not the MCU.

[2020-02-27 05:12] mbolivar commented on #22964
I went ahead and implemented some helper macros to make this style readable, and did the same for the other node identifiers. Examples are in the commit log for this patch:

https://github.com/mbolivar/zephyr/commit/019e18d5caad01549512065cc23135c77fc0aa4a

In particular:

[code]

As can be seen above, I think the basic form of a property macro can be `DT_n_NODEXYZ_p_PROPFOO`. We can keep the old

[2020-02-27 07:47] trond-snekvik opened #23121 "Bluetooth: Mesh: Proxy servers only resends segments to proxy"
The proxy server node first checks whether any connected proxy clients need the packet, and if they do, it won't resend the packet on the advertiser interface. For group dst packets, this is incorrect behavior, as those should go on both interfaces.

Introducing an additional check for unicast address before blocking the adv TX fixes the issue, see #23103.

[2020-02-27 08:02] #23121 closed

[2020-02-27 08:15] erwango commented on #19285
Perfect thanks.

Ok, thanks.

[2020-02-27 08:17] hjuul commented on #12272
Seems this initiative is abandoned. I need this feature for stm32f7 myself, and I consider basing it off of the code from @pic16f887.  Or does someone know of any other ongoing work on SD Memory Card for Zephyr?