[2019-07-10 13:56] MaureenHelm commented on #15611
How is the masked write not clear? It corresponds directly to hardware implementations with explicit set and clear port registers.

I don't see how a bit set in both `set_bits` and `clear_bits` should mean to invert it.

I think I'd rather see something like:
[code]

And if you really want an invert, you can add:
[code]

[2019-07-10 14:10] paulgavrikov commented on #16602
Have to reopen this, works on nrf52840_pca10056 but still issues a seg fault on nrf52_bsim

[2019-07-10 14:17] MariuszSkamra opened #17463 "Bluetooth: API limits usage of MITM flags in Pairing Request"
**Describe the bug**
The problem was seen while testing Zephyr against qualification tests.
SM/MAS/SCPK/BV-01-C requires to initiate pairing with IO capability set to “DisplayOnly” or “KeyboardOnly” and MITM flag not set. The problem is that if local IO capabilities allow to create authenticated link, the Zephyr sets MITM flag automatically.

**Expected behavior**
The user should decide whether to

[2019-07-10 14:22] paulgavrikov commented on #16602
Valgrind:
[code]

[2019-07-10 14:27] pabigot commented on #15611
So that'd be:
[code]

Other than the naming conflict when both line and logic level operations are supported I don't have a big problem with this.   The original motivation for the API I proposed was to resolve the conflict when having a `mask` parameter to the set operation suggested there should be a corresponding mask in the get operation.

[2019-07-10 15:40] jfischer-phytec-iot commented on #17460
@chtavares592 Does `samples/display/ili9340` work for you?

[2019-07-10 15:54] gnuless commented on #17443
@ioannisg What exactly do you mean by "overhead"?  The overhead of maintaining the options in separate places, or the overhead of Kconfig processing at build/config time?

[2019-07-10 15:57] #16602 closed

[2019-07-10 15:59] ioannisg commented on #17443
the first :)

[2019-07-10 16:12] jfischer-phytec-iot commented on #17381
With #17398, the driver will not depend on it anymore. But anyway could be useful and nice to have.

[2019-07-10 16:18] pabigot commented on #17381
The ssd16xx driver might not depend on it.  The incoming il03xx driver definitely will.

[2019-07-10 16:30] chtavares592 commented on #17460
@jfischer-phytec-iot didn't work too, happens the same error

[2019-07-10 16:39] jhedberg commented on #17454
Generally I agree with with most of what's being proposed here - thanks for creating a formal issue to track it!

Some comments:

The MAC is not needed (or useful), at least not for PB-ADV, since it's perfectly valid for a device to send each PDU using a unique Non-resolvable private address. For PB-GATT (once we get to it) we might need to cache this, but even then we could do it all based on UUI

[2019-07-10 16:41] jhedberg commented on #17454
One other things: our message sending APIs need to be able to specify whether to use the local device key or the remote device key. E.g. configuration server uses the local key, but configuration client uses the remote key.

[2019-07-10 17:30] chtavares592 commented on #17460
@jfischer-phytec-iot yes, now is running the samples/display/ili9340 ...
But the sample/gui/lvgl nothing happens

[2019-07-10 18:16] chtavares592 commented on #17460
Now I used the `nrf52840_pca10056.conf` and `nrf52840_pca10056.overlay` of `samples/display/ili9340` at the `sample/gui/lvg` and everything works.

Before the pins were connected thus

nrf52840Pin | Adafruit TFTPin
-- | --
P0.27 | SCK
P0.31 | D/C
P0.30 | RST
P0.26 | MOSI
P0.29 | MISO
P0.4 | CS

Now this

nRF52840Pin | Adafruit TFTPin
-- | --
P1.15 | SCK
P1.13 | MOSI
P1.14 | MISO
P1.12 | CS
P1.11 |

[2019-07-10 20:44] #17277 closed

[2019-07-10 23:32] MaureenHelm commented on #14621
Will this be ready for the 2.0.0 release or should we push out to a future release?

[2019-07-11 03:33] nwsetec commented on #17415
Hi @nvlsianpu I'm working on the same project as Declan.  We are using base64 encoding as we have products in the field running Zephyr 1.13 and are planning to update them to 1.14 (which I believe was using base64 only) and this was the easiest path we could see.  This raises something I was wondering about, can the settings subsystem work over an nffs file without base64 decoding?

[2019-07-11 03:36] summer20100514 opened #17475 "[RTT] compile error when RTT console enabled"
**Describe the bug**
for example using onoff_level_lighting_vnd_app sample. after enable rtt loging, compile error occurred.

**To Reproduce**
CONFIG_RTT_CONSOLE=y
CONFIG_HAS_SEGGER_RTT=y
CONFIG_USE_SEGGER_RTT=y

**Expected behavior**

**Impact**
RTT not usable.

**Screenshots or console output**
![2019-07-11_113426](https://user-images.githubusercontent.com/6761214/61020328-eb22e080-a3cf-11e9-8cc

[2019-07-11 04:44] DeclanTraill commented on #17415
Hi Jehudi,

But it is in the h_set routine where we were getting the length returned as -22 (-EINVAL) rather than the length of 0.
This is what was causing the problem.
I can’t see where the length is given to the h_set routine without calling settings_val_read_cb()

We could call:
size_t settings_line_val_get_len(off_t val_off, void *read_cb_ctx)

to get the length, but this effectively does a re

[2019-07-11 05:09] Laczen commented on #17415
Hi Declan, in the h_set  routine the second parameter that gets passed is the length of the data:
int (*h_set)(const char *key, size_t len, settings_read_cb read_cb,  void *cb_arg);

[2019-07-11 05:25] nwsetec commented on #17415
@Laczen our project is currently using v1.14-branch LTS Zephyr so h_set callback doesn't have that len parameter.   cc @DeclanTraill

[2019-07-11 06:24] #17158 closed

[2019-07-11 06:31] Laczen commented on #17415
@nwsetec, I see, ok in that case there is no possibility to use len. There have been quite some changes in the settings module since 1.14 LTS,

[2019-07-11 06:53] jukkar opened #17478 "net/buf test fails for qemu_x86_64"
**Describe the bug**
While testing #17477 I noticed that one of the tests/net/buf test fails in qemu_x86_64.

**To Reproduce**
* Take #17477
* `sanitycheck -t net -p qemu_x86_64 -s tests/net/buf/net.buf`

**Expected behavior**
test passes

**Additional context**
Originally the test failed at line 195
[code]

but after I added following patch to the test in order to get more info:
[code]
the failur

[2019-07-11 07:07] aescolar commented on #14621
@MaureenHelm Please wait a few days. We may still be able to manage it: The 2 developers working on it are right now out on holidays, but the work is quite far, and it is a new feature with low risk for existing ones.
I will move the milestone myself if a few days (after they are back from holidays) if it still looks like we won't make it.

[2019-07-11 07:33] nvlsianpu commented on #17415
Yes, base64 encoding is not required anymore - I kept it just for backward compatibility. Be aware that settings record format for FS backend changes without base64 encoding:
`<key>=<base64_encoded_data>/0` => `<length><key>=<raw_data>`

[2019-07-11 08:08] #17408 closed

[2019-07-11 08:35] jukkar opened #17480 "holyiot_yj16019 cannot compile IEEE 802.15.4 L2"
**Describe the bug**
After applying #17477 the sanitychecker is complaining IEEE 802.15.4 compilation issues for holyiot_yj16019 board.

**To Reproduce**
* Apply #17477
* `sanitycheck -p holyiot_yj16019 -s tests/net/ieee802154/l2/net.ieee802154.l2`

**Expected behavior**
Tests pass

**Additional context**
Some of the errors look like this, there are lot of them.
[code]

[2019-07-11 08:37] tbursztyka commented on #17480
@carlescufi Would you have someone to look at it?

[2019-07-11 10:13] summer20100514 commented on #17475
I should use west meta-tool to update multi-repository fisrt and then no issues here.

[2019-07-11 10:13] #17475 closed

[2019-07-11 11:16] aescolar commented on #16031
Moved milestone to 2.1 as it is quite clear not all pending work will be completed by 2.0

[2019-07-11 11:58] YuraCobain commented on #9509
Hello Gurpreet,

A little bit out of date but I had a similar issue that was caused by opening the same serial device by different processed during upgrade.
In my case it was minicom and mcumgr that simutenisly access /dev/ttyUSB0.
Make sure that serial is accessed only by mcumgr solved the issue.

BR,
Iurii

[2019-07-11 12:08] tbursztyka opened #17483 "mec15xxevb_assy6853 board documentation is erroneous"
**Describe the bug**
Documentation of the mec15xxevb_assy6853 board says it can be flashed by west or ninja, but that seems to but false, or the configuration to do so is broken (looks like it's missing for that board thus why the doc seems false)

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mec15xxevb_assy6853 samples/hello_world
2. west flash
3. See error:

**Expected beha

[2019-07-11 12:09] tbursztyka commented on #17483
@scottwcpg As the original author of that documentation, could you take a look?

[2019-07-11 12:25] nvlsianpu commented on #9509
@gurpreetz From what I can see in your log communication doesn't happened on you setup, so probably above advice is the best.

[2019-07-11 12:54] #17463 closed

[2019-07-11 12:58] tsvehagen commented on #17454
Yea that's right, I changed the issue to just UUID

He, not really sure myself but I think one thing might be the naming of the configs. Now there is BT_MESH_PROV, BT_MESH_PB_ADV and BT_MESH_PB_GATT and they all relate to being able to be provisioned. Does it make sense to have something like

BT_MESH_DEVICE_PROV, BT_MESH_DEVICE_PB_ADV, BT_MESH_DEVICE_PB_GATT
and
BT_MESH_PROVISIONER, BT_MESH_PROVI

[2019-07-11 14:15] pfalcon opened #17485 "sanitycheck: Over-zealous checking for binary sections"
Steps to reproduce:

[code]

Output:

[code]

Tested with master 74dbd835c36a4e3cb.

This issue seems to affect only qemu_cortex_m3. Initially spotted via Linaro CI: https://ci.linaro.org/view/lite-iot-ci/job/zephyr-upstream/4070/PLATFORM=qemu_cortex_m3,ZEPHYR_TOOLCHAIN_VARIANT=zephyr,label=docker-xenial-amd64-13/console . The issue started within last 2 weeks (our CI was broken due to SDK 0.10.1

[2019-07-11 14:15] pfalcon commented on #17485
@galak: FYI

[2019-07-11 14:16] pfalcon commented on #17485
Setting priority as high, as this breaks (full) CI.

[2019-07-11 14:19] tautologyclub opened #17486 "nRF52: SPIM: Errata work-around status?"
We're having LOTS of trouble with SPIM3 on a nrf52840 rev 1 (Particle Boron). Looked through the errata:

https://infocenter.nordicsemi.com/index.jsp?topic=%2Ferrata_nRF52840_Rev1%2FERR%2FnRF52840%2FRev1%2Flatest%2Ferr_840_new.html&cp=3_0_1_2_1

and there are multiple seemingly potentially catastrophic issues with SPIM3, namely 174, 193, 195 and 198.

What is that status of these erratas wrt Zephy

[2019-07-11 14:20] pizi-nordic commented on #17188
Could you please confirm that value returned by `sys_clock_hw_cycles_per_sec()` is correct on your platform?

[2019-07-11 14:37] aescolar commented on #17486
CC @anangl

[2019-07-11 14:46] pfalcon opened #17487 "v1.14-branch: SDK 0.10.1 support?"
Current master requires (forces) use of SDK 0.10.1, while current v1.14-branch vice-versa, is unable to work with it (due to lack of cmake/toolchain/zephyr/0.10.1 or whatever).

This complicates various triaging and CI tasks.

Is there interest for the latest LTS release to support the latest SDK? If not, d'oh.

[2019-07-11 14:46] pfalcon commented on #17487
cc @galak

[2019-07-11 14:48] aescolar commented on #17485
CC @Laczen , @jhedberg @Vudentz @nvlsianpu

[2019-07-11 14:48] pfalcon commented on #17487
Specifically issues happen with Zephyr.js project - that was barely updated to build against 1.14, we definitely don't want to switch it to master yet. But would be nice to use the current SDK (I don't even know if our (Linaro's) CI supports multiple SDK versions, likely we just switch to the latest.

[2019-07-11 15:48] Laczen commented on #17485
@pfalcon, @aescolar, this was reported before by @andrewboie.

The problem is the "_bt_settings_area" has been replaced by "_settings_handlers_area". As I am not a user of sanitycheck (it just takes to long on my development computer) I have not been able to test if the following correction is OK:

In line 911 of scripts/sanitycheck to replace "_bt_settings_area" to "_settings_handlers_area".

[2019-07-11 15:50] aolowin commented on #17266
I have seen this on Windows 10 Pro 1803.
CONFIG_CDC_ACM_IAD=y works fine.

[2019-07-11 16:21] aolowin opened #17488 "CDC_ACM USB on nRF device fails after suspend"
**Describe the bug**
After a suspend and resume the USB serial port is no longer responsive. Possibly related to #16599.

**To Reproduce**
Steps to reproduce the behavior:
1. build samples/subsys/usb/cdc_acm for the nrf52840_pca10056 board
2. enable Logging and set USB_DRIVER_LOG_LEVEL_DBG=y USB_DEVICE_LOG_LEVEL_INF=y USB_CDC_ACM_LOG_LEVEL_INF=y
3. set CDC_ACM_IAD=y to allow Windows to correctly u

[2019-07-11 16:26] #15411 closed

[2019-07-11 16:45] jfischer-phytec-iot commented on #17488
@aolowin Please set USB_DEVICE_LOG_LEVEL and USB_CDC_ACM_LOG_LEVEL to Info, USB_DRIVER_LOG_LEVEL to Debug, and replace the console output above with a new one.

[2019-07-11 20:07] ioannisg commented on #16226
Closing this, since it has been agreed offline that a double fault in thread mode is considered an ISR context.

[2019-07-11 20:07] #16226 closed

[2019-07-11 20:54] ioannisg commented on #16354
Is this issue being looked at, @jukkar ?

[2019-07-11 22:40] jfischer-phytec-iot commented on #17488
@aolowin Can you test #17492, please?

[2019-07-12 03:30] smwikipedia opened #17496 "Possible redundant code snippets in boilerplate.cmake"
**Is your enhancement proposal related to a problem? Please describe.**
The related CMake code is redundant.

**Describe the solution you'd like**
Remove the redundant code.

**Describe alternatives you've considered**
No.

**Additional context**
No.

**Below 2 code snippets seem to be redundant.**

**Snippet 1:**

![image](https://user-images.githubusercontent.com/999318/61100199-d90c7500-a497-11

[2019-07-12 05:46] david-foo opened #17497 "Bluetooth: Mesh: How to Write provision and configure data to flash?"
how to store provision and config information so that the information can still be used after the next power up?
My board is microbit. what can I do?

[2019-07-12 06:12] jhedberg commented on #17497
Are you referring to Bluetooth Mesh? If so, then that's already supported - you just need to make sure you have enabled `CONFIG_BT_SETTINGS`. That has some dependencies such as flash and FCB support. There are several existing samples that use this already in the current tree. That said, this does increase the required RAM, and since you're using the micro:bit (with only 16k of RAM) it might be ch

[2019-07-12 06:14] jhedberg commented on #17497
Slight addition: enabling `CONFIG_BT_SETTINGS` is not quite sufficient - you also need to call `settings_load()` at the right time during bootup. Please see the existing samples for where/how that's done. You could e.g. do a `git grep BT_SETTINGS tests/ samples/` or `git grep settings_load samples/bluetooth/ tests/bluetooth/` to see where sample code can be found.

[2019-07-12 06:22] aescolar commented on #17496
CC @SebastianBoe

[2019-07-12 06:26] jhedberg commented on #17454
Yes, something like that, but please try to keep existing option names as-is to maintain backward compatibility with apps external to the tree (that may be referencing the existing options).

That's not quite true. You're right that the number of elements information is part of the composition data, however you also get this number early on during provisioning through the Provisioning Capabilities

[2019-07-12 06:41] anangl commented on #17486
Workarounds for anomalies 195 and 198 are implemented in the `nrfx_spim.c` driver that is used by the `spi_nrfx_spim.c` shim. The first workaround is always active, the second one needs to be activated (it is not by default, see [nrfx_config_nrf52840.h](https://github.com/zephyrproject-rtos/zephyr/blob/master/ext/hal/nordic/nrfx_config_nrf52840.h#L1932)) by setting `NRFX_SPIM3_NRF52840_ANOMALY_198

[2019-07-12 06:54] ioannisg commented on #17460
@chtavares592 this issue was not manually closed, but #17473 was merged, so please check if this bug-report is now obsolete

[2019-07-12 07:21] ioannisg commented on #11751
@andyross @andrewboie ping :)

[2019-07-12 07:38] tautologyclub commented on #17486
@anangl Thanks. I for sure though 193 would be relevant since I have been told that the SPI/I2C masters will get auto-disabled after each transfer but this is done by some method other than SUSPEND then, I gather?

[2019-07-12 08:13] SebastianBoe commented on #17496
This is for the scenario when the board is specified from the app's CMakeLists.txt, could you test that scenario as well?

[2019-07-12 08:36] tsvehagen commented on #17454
Ah I thought it was a bit weird that it wouldn't be available until after handing out an address but I totally missed that it was already available during provisioning. Like you say then, the configuration client things can be all up to the application.

Regarding the key used when sending, I was thinking that it would be solved by using bt_mesh_dev_key_find(ctx->addr) but I see the problem as eve

[2019-07-12 08:50] rlubos commented on #17480
I've identified the problem, holyiot_yj16019 has nRF52832, which does not support 802.15.4. So the capabilities of the board are incorrect. Will fix.

[2019-07-12 08:52] jhedberg commented on #17454
We should do it the way we currently deal with the device key, i.e. a special key index value. Both App and Net Key indices are 12 bits in the spec so we can start counting down from 0xffff for any special values we need, e.g. currently we have the following in `include/bluetooth/mesh/access.h`:
[code]

So we'd need a `BT_MESH_KEY_DEV_REMOTE` and `BT_MESH_KEY_DEV_LOCAL`. You could keep `BT_MESH_KE

[2019-07-12 08:55] anangl commented on #17486
The SUSPEND task is for suspending SPI transactions (a given transfer is simply interrupted, then continued after the RESUME task is triggered - the driver does not make use of this functionality), not for disabling the peripheral (this is done by setting the ENABLE register to 0).

[2019-07-12 08:59] tsvehagen commented on #17454
Sounds good.

I think I have what I need to try and get something working. I hope you have a nice vacation!

[2019-07-12 08:59] agansari commented on #16639
Short bug description:
This flooding blocks the DMA bus inside the ENET device (EBERR bit).

Long bug description:
I've found this in my new pull request #17396 tested by @jukkar. It crashed because the buffer descriptor had pending requests, looking further I found that ENET device was disabled by hardware (ENET_ECR[ETHEREN] register set to 0). User manual describes this scenario as being caused

[2019-07-12 09:34] ioannisg commented on #17439
@lemrey could you pick this up, and investigate?

[2019-07-12 09:37] StefJar commented on #17188
I added```
[00:00:00.155,000] <dbg> MAIN.main_test: sys_clock_hw_cycles_per_sec = 96000000
[00:00:00.159,000] <dbg> MAIN.main_test: sys_clock_hw_cycles_per_tick = 9600

[code]

[2019-07-12 09:40] ioannisg commented on #17488
@anangl please, follow up the progress with this issue, as well :)

[2019-07-12 09:43] StefJar commented on #17188
Think 1ms resolution is good enough to detect human interaction on buttons ;).

I am not activating the RTC driver, which should give in general a good resolution. Because it does not bring the possibility to set it's date & time. I wrote an own implementation, for the RTC so I can setup it's date & time and use it for more precise datetime stamping(for sensors etc.)

[2019-07-12 09:46] smwikipedia commented on #17496
I tried adding BOARD to the CMakeLists.txt in the "\zephyr\samples\hello_world\CMakeLists.txt". As below:

![image](https://user-images.githubusercontent.com/999318/61118696-d1ff5a00-a4cb-11e9-9ba4-c83e7b738339.png)

Then run below command without specifying BOARD with `-D` option. The build folder is empty.

`cmake -S zephyr\samples\hello_world -G Ninja -B zephyr.build\helloworld_ARM`

This time,

[2019-07-12 10:08] tautologyclub commented on #17486
Gotcha.

[2019-07-12 10:08] #17486 closed

[2019-07-12 10:12] jukkar commented on #16354
It was forgotten, but I will start to look it now.

[2019-07-12 10:38] nvlsianpu commented on #16439
@nasthif ping
I want to act on API requirement change in order to solve this issue.

[2019-07-12 10:58] #17480 closed

[2019-07-12 11:22] SebastianBoe commented on #17496
Hi, it's been so long since I wrote this that I can't explain how it works.

But I observed that removing the snippets caused specifying BOARD through the app build scripts to no longer work. I can't explain that you are observing otherwise.

[code]

About scenario 2, I haven't seen that before, if it works, great, if not, then it is not supported.

[2019-07-12 11:36] #17485 closed

[2019-07-12 12:01] #17460 closed

[2019-07-12 12:26] ioannisg commented on #17307
@pabigot could you please check again, since now #15599 is merged?

[2019-07-12 12:48] pabigot commented on #17307
Yes, this appears to work now.

[2019-07-12 12:48] #17307 closed

[2019-07-12 12:57] aolowin commented on #17488
I've done the same test with #17492. It's better, in that the port doesn't lock up, but no data is transferred after a suspend. Log follows:

[code]

[2019-07-12 12:58] YuraCobain commented on #16735
The issue still exists on the latest master @ ab690443 with the same symptoms as described in Bug description.

[2019-07-12 13:32] Laczen commented on #17284
Fixed by #17500

[2019-07-12 13:32] #17284 closed

[2019-07-12 13:47] smwikipedia commented on #17496
Thanks for your hint. I think I can explain it now. I will post the details tomorrow.

[2019-07-12 13:52] aescolar commented on #16735
@Vudentz (as @jhedberg is on holiday) can you take a look at this one?

[2019-07-12 14:54] agansari commented on #16639
Further debugging I found that it's a MPU related issue; ENET device tries to acces via it's uDMA a user space address in RAM. Will continue further debugging on Monday.

Disabling MPU in eth device's initialization bypasses the issue.
I.e. in `eth_0_init()` add `SYSMPU->CESR &= ~SYSMPU_CESR_VLD_MASK;

[2019-07-12 15:19] aescolar opened #17507 "system timer drivers using the "new" API should not be configured with CONFIG_TICKLESS_KERNEL"
**Describe the bug**
If a system timer drivers using the new API is configured with CONFIG_TICKLESS_KERNEL
there is some chances things will go very wrong.

For example:
tests/kernel/common/ will fail for drivers which use the new system timer API but do not set TICKLESS_CAPABLE (or in general, if CONFIG_TICKLESS_KERNEL is not enabled)

The test will go into an infinite loop in:
test_timeout_order

[2019-07-12 15:25] #17507 closed

[2019-07-12 15:25] aescolar commented on #17507
I close it myself :), too silly

[2019-07-12 15:28] pabigot opened #17508 "RFC: Change/deprecation in display API"
I propose that the display API functions named `display_blanking_{on,off}` be deprecated and replaced with these functions and clarified semantics:
[code]
There are several motivations for this, the primary one being that the existing names are counter-intuitive:

* `display_blanking_on()` is implemented in three drivers as turning the display off (ili9340, sdl, ssd1306).  In one it is implemented

[2019-07-12 15:46] aescolar opened #17511 "_bt_br_channels_area section missing in sanitycheck whitelist"
In a3bea88 (PR #16352) `_bt_br_channels_area` was added to the code but not to the
sanitycheck sections whitelist

(https://ci.linaro.org/view/lite-iot-ci/job/zephyr-upstream/4076/PLATFORM=qemu_cortex_m3,ZEPHYR_TOOLCHAIN_VARIANT=zephyr,label=docker-xenial-amd64-13/console):

[2019-07-12 20:16] andyross commented on #17188
Just edit hello_world and add a loop like:

[code]

And run it and compare with a stopwatch.  Is the machine clock correct?

[2019-07-12 21:09] #17170 closed

[2019-07-12 22:03] chrisc11 opened #17517 "Consider marking vector tables as `const` when CONFIG_DYNAMIC_INTERRUPTS=0"
**Is your enhancement proposal related to a problem? Please describe.**

The elf section with the vector table gets marked as (`W`)ritable even if it's placed in `FLASH`, i.e

[code]

This happens because the vector tables created in `gen_isr_tables.py` are not defined with a `const` qualifier. If non-const data is placed in a read-only `MEMORY` section, the gnu linker will auto-promote the sectio

[2019-07-13 00:08] #17511 closed

[2019-07-13 09:50] jfischer-phytec-iot commented on #17488
@aolowin I do not use Windows OS and do not have one running native. I can not reproduce your issue, I tested cdc_acm sample with the patch from #17492 on a ThinkPad running Linux OS.

[2019-07-13 22:13] andrewboie commented on #11751
I'm working on a PR which implements some of this, mostly to at least move the error functions to common code.

[2019-07-14 13:26] vanwinkeljan commented on #17508
The intention of the API is to only blank the display panel and not to control the power state of the display controller. To control the power states the power management API should be used, see comment on PR https://github.com/zephyrproject-rtos/zephyr/pull/7833#discussion_r217549066 . Note that in the initial API proposal the function where called `display_on` and `display_off` but to avoid the

[2019-07-14 15:16] pabigot commented on #17508
Mostly because if "display off" was acceptable there would be no obvious need for other power management infrastructure.  The current API does not explain what "blanking" means, and the only use of the term I can find that is relevant to displays refers to the intervals when the electron flow is turned off during horizontal and vertical scanning in CRTs.  I don't understand why it's being used her

[2019-07-14 16:04] vanwinkeljan commented on #17508
@pabigot thx for the info I will update the API documentation.

[2019-07-14 18:33] vanwinkeljan commented on #17508
Created PR #17521 to correct ssd16xx driver

[2019-07-14 19:26] jukkar commented on #17478
Duplicate of #15881

[2019-07-14 19:26] #17478 closed

[2019-07-15 07:02] smwikipedia commented on #17496
The current logic is to first collect the `BOARD` variable specification from all 3 possible **external** sources:

1. environment variable `%BOARD%`
2. the CLI `-D BOARD` option
3. and the `set(BOARD)` command in the app's `CMakeLists.txt`.

There's another **internal** source `CACHE entry CACHED_BOARD` is checked. This is the actual storage of the `BOARD` value used for build. It doesn't exist f

[2019-07-15 09:29] StefJar commented on #17188
I done the measurment:
after 60sec the watch showed 2min
and after 120sec the showed 4min

I runed the test with

[code]
to make show that there is nothing else running.

![Screenshot from 2019-07-15 10-23-09](https://user-images.githubusercontent.com/8638279/61206631-f5542000-a6ea-11e9-897a-a44e2261f086.png)

[code]

[2019-07-15 10:50] MariuszSkamra opened #17525 "L2CAP: On insufficient authentication error received, Zephyr does unauthenticated pairing"
**Describe the bug**
Zephyr with IO capabilities set to NoInputNoOutput creates unauthenticated pairing on rejection of  LE L2CAP: LE Connection Request with insufficient authentication error. Channel establishment fails anyway, because after the pairing, the link will still not meet the requirements.

**To Reproduce**
Tested agains MyNewt Nimble
Steps to reproduce the behavior:
- Lower Tester - b

[2019-07-15 10:57] ioannisg commented on #15305
@andrewboie @galak I did a first try on this, and it seems I can execute the samples, tests on ARMV8-M, when I disable MPU.

[2019-07-15 12:20] aescolar commented on #17517
CC @andrewboie @ioannisg

[2019-07-15 12:31] MariuszSkamra commented on #17525
Actually this is correct behaviour.
"Note: When encryption is not enabled, the result value “Connection refused –
insufficient authentication” does not indicate that MITM protection is required."
Core 5.1 Vol 3 Part A 10.1

[2019-07-15 12:31] #17525 closed

[2019-07-15 12:36] aolowin commented on #17488
@jfischer-phytec-iot it looks like with #17492 the following message was missing after a suspend:
<dbg> usb_nrfx.usbd_event_transfer_data: read complete, ep 0x01, len 1
any suggestions as to where to start looking or any extra debug I should enable?

[2019-07-15 13:28] jfischer-phytec-iot commented on #17488
@carlescufi Could you verify it with #17492, please?

[2019-07-15 13:29] jfischer-phytec-iot commented on #17488
@aolowin I will try to organize a suitable device and test is.

[2019-07-15 15:23] ulfalizer opened #17532 "List of missing device tree properties with `category: required` in the binding for the node"
We want to turn it into an error when a node is missing a property that's listed with `category: required` in the binding for the node, instead of a warning.

Here's a list of all missing properties now. Please clean it up if you see something you recognize. It was generated by doing a `/scripts/sanitycheck -T samples/hello_world --cmake-only -l` with the WIP new DT scripts.

The `category: requir

[2019-07-15 15:41] ulfalizer commented on #17532
CC @pabigot @ydamigos @erwango

[2019-07-15 15:54] joerchan opened #17534 "Race condition in GATT API."
Race-condition in the GATT api because att request information is
stored in user-space parameter structures. If the parameter is used
before the att request has been completed, the request structure will
be corrupted causing memory corruption.

**To Reproduce**
Unsubscribe directly after subscribing
[code]

**Expected behavior**
API should succeed, or return error code.

**Impact**
System crash.

[2019-07-15 17:24] ulfalizer commented on #17532
Updated the list after fixing a goof in the code that hid some missing required stuff. Galak fixed some stuff too.

[2019-07-15 18:20] mas-co opened #17543 "dtc version 1.4.5 with ubuntu 18.04 and zephyr sdk-0.10.1"
**Describe the bug**
Trying to build the hello_world project (https://docs.zephyrproject.org/latest/getting_started/index.html).  When trying to build via west or cmake I get an error that the detected version of dtc is unsupported (1.4.5 versus minimum supported 1.4.6).

echo $ZEPHYR_SDK_INSTALL_DIR
yields "zephyr"
echo $ZEPHYR_TOOLCHAIN_VARIANT
yields "/home/mas/zephyr-sdk-0.10.1"  (/home/mas is

[2019-07-15 18:27] pabigot opened #17545 "Licensing and reference to public domain material"
PR #17468 exposes what may be a gap in the licensing infrastructure: the code is Apache-2.0 as required, but because I'm documenting that it's derived from another source that includes the words "public domain" the licensing check fails.

Moving those words to a separate comment outside the standard header didn't fix it.

Rather than continue to try to game the system by inserting hard spaces or s

[2019-07-15 18:29] pabigot commented on #17545
@galak @nashif fyi, not sure who else might need to be in on this.

[2019-07-15 19:38] lanvis opened #17546 "Bluetooth: Central Scan fails continuously if last connect attempt failed to complete"
**Cannot Scan after failed connect attempt when operating as central**
Scan is Passive 0x64 for scan window and interval.
bt_le_scan_start() returns -5  (IOERROR).

**To Reproduce**
Configure to operate as a central.
Scan and connect to a peripheral.
Force a disconnect (place peripheral in a low rf visible location) where it peripheral can be found but the connect command fails (intermittently).

[2019-07-15 20:22] andrewboie opened #17547 "incorrect documentation for debugging nsim_em / nsim_sem"
The documentation at:

https://docs.zephyrproject.org/latest/boards/arc/nsim/doc/index.html#programming-and-debugging

Says to refer to this page for information on how to debug:

https://docs.zephyrproject.org/latest/application/index.html#id2

But this doesn't work, and is QEMU-specific anyway.

I run "make debugserver", and nsim appears to go up in a paused state, but "target remote :1234" in G

[2019-07-15 20:39] nslowell opened #17548 "Can't set thread name with k_thread_create prevents useful tracing information"
The only way to set dynamic thread names is by calling k_thread_create() followed by k_thread_set_name().  However, sys_trace_thread_create() is called within k_thread_create(), and so the thread name is always NULL at that point (resulting in "Unnamed thread" in CTF).

For thread name information to be useful in trace, we need a way to have the name set before sys_trace_thread_create() is called.

[2019-07-15 23:24] vanti opened #17550 "SimpleLink WiFi host driver should revert back to using static memory model"
**Describe the bug**
During the upgrade to TI SDK 2.40, the SimpleLink WiFi host driver code has moved to using the dynamic memory model. This only works well if malloc() is thread-safe, but the implementation in newlib does not appear to be. So it is best to revert back to using static memory allocation in the driver, the way it used to be before the upgrade.

**Impact**
Memory corruption issues

[2019-07-16 00:41] andrewboie commented on #17548
Would it be possible to put a hook in k_thread_name_set() to update the tracing framework?

[2019-07-16 00:43] andrewboie commented on #17550
This seems like the bug right here.
I suspect the problem is in _sbrk(), in lib/libc/newlib/libc-hooks.c.
Probably need to change it to do an atomic_add() perhaps?

[2019-07-16 00:47] cvinayak commented on #13615
Just for the record, as related to the issue here, a related commit towards using connection event length: 32c2f850ba2b89449b4571a20b53fc288158b460

[2019-07-16 00:48] andrewboie commented on #17543
I don't even have 'dtc' installed on my system, AFAIK it gets it out of the SDK.

What is your output of:

[code]

I get:

[code]

If you get the same output, perhaps the build system is preferring a host installation of dtc over the SDK one?

[2019-07-16 00:51] andrewboie commented on #6044
Add CONFIG_HW_STACK_PROTECTION and CONFIG_USERSPACE to this list.
Although off the top of my head I can't think of a good way to do it, it really does depend heavily on hardware. This might need to be a documented limitation.

[2019-07-16 01:05] mas-co commented on #17543
Yes, I get the same output:
`Version: DTC 1.4.7-g78e113e8-dirty`
Any idea how to force it to use the one it came with?

[2019-07-16 01:31] andrewboie commented on #17550
@vanti can you try #17552

[2019-07-16 01:49] andrewboie commented on #17543
@mas-co I don't know the build system too well, unfortunately.
As a short-term bandaid you could remove the host dtc.
But definitely sounds like we have a bug here.
@SebastianBoe @galak FYI

[2019-07-16 03:27] david-foo commented on #17497
@jhedberg  Thank you, we are going to try this. If the RAM size can not be met, we have to make a change.

[2019-07-16 04:06] xuhao8210 opened #17554 "pyocd flash does not support the -b option for board ID so that the sanitycheck script can’t specified the board ID to flash when the host connected with multiple boards."
**Describe the bug**

pyocd flash does not support the -b option for board ID so that the sanitycheck script can’t specified the board ID to flash when the host connected with multiple boards.

**To Reproduce**
Steps to reproduce the behavior:
1.	One server connected to 2 boards : “reel_board” and “FRDM-K64F”
2.	Use sanitycheck script to run the “Hello World!” sample on the server , and specified

[2019-07-16 05:00] andrewboie opened #17555 "CONFIG_LOG doesn't work on x86_64 due to no working backends"
Something seems to be broken with logging enabled on the x86_64 platform.

Steps to reproduce:

Modify tests/kernel/fatal/prj.conf and add CONFIG_LOG=y

Build and run the test on qemu_x86_64:

[code]

It's not just this test either.

[2019-07-16 05:01] andrewboie commented on #17555
@andyross Found this while working on #17544

[2019-07-16 06:03] andrewboie opened #17557 "samples/net/wifi fails to build on cc3220sf_launchxl"
[code]

[2019-07-16 06:41] rakeshcx opened #17559 "Assertion failed: zephyr toolchain variant invalid"
Describing the bug
trying to build the hello_world sample application. As per getting started guide (https://docs.zephyrproject.org/latest/getting_started/index.html)

When I try the build the application using the following command in zephyr source code directory

**sudo ~/.local/bin/west build -b nucleo_f446re samples/hello_world**

I am getting the error the like this

-- west build: build conf

[2019-07-16 07:35] icephyr commented on #16971
Sorry for replying so late, yes , the issue can be closed, thanks a lot for your suggestion.

[2019-07-16 07:36] icephyr commented on #16971
so you compile successfully on the latest master ? I use the master branch, but failed.

[2019-07-16 07:36] #16971 closed

[2019-07-16 07:53] simonmarti opened #17564 "Missing `stdlib.h` include when C++ standard library is used."
**Describe the bug**

`stdlib.h` is not in the GCC search path when the C++ standard library is used.

**To Reproduce**

prj.conf:

[code]

main.cpp:

[code]

Steps to reproduce the behavior:

1. mkdir build && cd build
2. cmake -GNinja -DBOARD=arduino_zero ..
3. ninja
4. Build fails because of missing include, see console output below

**Expected behavior**

The example code above should compile.

[2019-07-16 10:37] carlescufi commented on #17559
@rakeshcx could you please try deleting the `build/` folder completely and building again? I suspect a corrupted CMake cache.

[2019-07-16 11:17] rakeshcx commented on #17559
still getting the same error after deleting the build directory & re-building the hello_world sample application

**This is the error after deleting the build directory and building first time**

-- west build: build configuration:
       source directory: /home/rakesh/zephyrproject/zephyr/samples/hello_world
       build directory: /home/rakesh/zephyrproject/zephyr/build (created)
       BOARD: n

[2019-07-16 12:15] joerchan commented on #17543
@mas-co I get `DTC:FILEPATH=/opt/zephyr-sdk/sysroots/x86_64-pokysdk-linux/usr/bin/dtc`
even though `which dtc` returns `/usr/bin/dtc`. Maybe there is something wrong in your setup, do you have the env variable `ZEPHYR_SDK_INSTALL_DIR` set correctly?

The DTC can be overriden with `-DDTC=<your/dtc>` when invoking either cmake or west.

[2019-07-16 12:33] #17508 closed

[2019-07-16 13:08] #10450 closed

[2019-07-16 13:22] pdunaj opened #17571 "mempool is expensive for cyclic use"
**Is your enhancement proposal related to a problem? Please describe.**
There is one issue with Zephyr heap allocator which we will be fighting soon. If you application is iteratively allocating and deallocating multiple small chunks of data the process of breaking and recombining blocks is REALLY expensive.
E.g.
[code]

My understanding is that the idea behind implementing it this way was to avoi

[2019-07-16 14:54] carlescufi commented on #17543
@mas-co I can't reproduce this, although I force-installed an older dtc version.
I can't explain why this is happening, but can you try please cleaning your repository clone so that we are sure there's not some old CMake cache polluting the build? Try `git clean -fdx` from the root of your zephyr repo, though bear in mind that will delete any untracked files

[2019-07-16 14:56] carlescufi commented on #17564
@simonmarti could you please try with the Zephyr SDK instead of GNU Arm Embedded and let us know if you can reproduce the same issue?

[2019-07-16 15:04] carlescufi commented on #17559
I noticed you run the build as `sudo`. Can you please build as a regular user to see if that helps?

[2019-07-16 15:06] carlescufi commented on #17439
@nashif is there an acceptable workaround using sanitycheck to skip unconnected devices when doing device testing?

[2019-07-16 15:14] rakeshcx commented on #17559
Build without sudo

 **~/.local/bin/west build -b nucleo_f446re samples/hello_world**

Traceback (most recent call last):
  File "/home/rakesh/.local/bin/west", line 11, in <module>
    sys.exit(main())
  File "/home/rakesh/.local/lib/python3.6/site-packages/west/_bootstrap/main.py", line 499, in main
    wrap(wrap_argv)
  File "/home/rakesh/.local/lib/python3.6/site-packages/west/_bootstrap/main.

[2019-07-16 15:26] carlescufi commented on #17559
@rakeshcx can you please first clean up the build folder with sudo, then build without sudo?

[2019-07-16 15:44] carlescufi commented on #17543
@mas-co can you try adding this line:

[code]
and seeing what gets printed when you build?
In my case I see:

[code]

[2019-07-16 15:44] ulfalizer commented on #17532
There's pending PRs for the clocks stuff now, so removed it.

[2019-07-16 15:56] mas-co commented on #17543
@joerchan if i type `ls $ZEPHYR_SDK_INSTALL_DIR`  I get the contents of the /zephyr-sdk-0.10.1 folder.  The dtc in the zephyr sdk folder is  1.4.7-g78e113e8-dirty and if I add that to the west command using the `-DDTC=/home/mas/zephyr-sdk-0.10.1/sysroots/x86_64-pokysdk-linux/usr/bin/dtc` option, I get the following output:

-- Selected BOARD reel_board
-- Found west: /home/mas/.local/bin/west (fou

[2019-07-16 16:07] mas-co commented on #17543
@carlescufi I get the same results after running the git clean -fdx in the zephyrproject/zephyr
Where do you want me to add the --diff... line?

[2019-07-16 16:15] ulfalizer commented on #17532
Removed 'reg' (https://github.com/zephyrproject-rtos/zephyr/pull/17578).

[2019-07-16 16:30] dcpleung commented on #17555
@marc-hb saw this also. It was because of no logging backend being defined under `qemu_x86_64`. In contrast, `CONFIG_LOG_BACKEND_UART=y` is defined for `qemu_x86`.

[2019-07-16 16:51] carlescufi commented on #17543
@mas-co

Please add the line:
[code]
in the file `cmake/toolchain/zephyr/0.10.1/host-tools.cmake`, after the line ` list(APPEND CMAKE_PREFIX_PATH ${HOST_TOOLS_HOME}/usr)`

[2019-07-16 17:01] marc-hb commented on #17555
Yes I mentioned this at the bottom of PR #14777 and meant to file it, thanks @andrewboie.

I tried to enable UARTs in qemu_x86_64's Kconfig but that quickly turned out into much more effort than I anticipated. @andyross can you confirm it's not trivial?

Is there some alternative, "cheaper" backend that could be used to avoid the ASSERT? `/dev/null` maybe? :-) This ASSERT is probably the most freq

[2019-07-16 17:09] andyross commented on #17555
This is a known issue.  The 16550 UART driver didn't work on x86_64 when I enabled it the first time and I never got back to fix it.  There are two bugs for this filed somewhere that would address this: one is that the UART driver needs to be fixed, the other is that the logging system needs to work to log to the minimal printk hooks where provided (x86_64 and esp32 both have these so that printk

[2019-07-16 17:11] andrewboie commented on #17555
I think this is a high-priority issue as at least in its current state, we're getting all kinds of CI failures due to this

[2019-07-16 17:27] marc-hb commented on #17555
Interesting, do you have pointers to specific examples? I didn't think CI cared about ASSERTs, is it because of the race I mentioned earlier?

[2019-07-16 17:30] andrewboie commented on #17555
It does. ASSERTS are unconditionally enabled for sanitycheck runs unless you force them off.
I noticed an assortment of failures related to this in the context of developing #17544

[2019-07-16 17:35] ulfalizer commented on #17532
intmux stuff: https://github.com/zephyrproject-rtos/zephyr/pull/17579

[2019-07-16 17:46] marc-hb commented on #17555
I meant: I didn't think CI or any other automation ever scanned any *.log files and checked for any ASSERT FAIL printed there, sorry for any confusion. At the sanitycheck level I see every day plenty of PASS with an ASSERT FAIL in the handler.log, see sample tests above.

Have you noticed any CI, nightly or other automated build FAILures because of this ASSERT (or because any other ASSERT) *outsid

[2019-07-16 17:47] mas-co commented on #17543
@carlescufi
After including the message statement in the host-tools.cmake file, the output of `cmake -B build -GNinja -DBOARD=reel_board samples/hello_world` is below.

Zephyr version: 1.14.99
-- Selected BOARD reel_board
-- Found west: /home/mas/.local/bin/west (found suitable version "0.5.7", minimum required is "0.5.6")
CMake Error at /home/mas/source/new/zephyrproject/zephyr/cmake/extensions.c

[2019-07-16 17:52] andrewboie commented on #17555
@marc-hb so what is supposed to happen is that sanitycheck scans the log output looking for fatal exception messages. Unless the test is tagged as "expect_fault", it's supposed to fail the test if it sees one. In addition, there's a delay after the "PROJECT_EXECUTION_SUCCESSFUL" to see if there are any crashes after the test completes.

It seems that there is some problem with detecting these cras

[2019-07-16 18:01] pabigot opened #17581 "linker script packing failure with subsys/fb fonts and native_posix_64"
When `samples/display/cfb` is built on native_posix_64 (which requires a cloned configuration file present in #17580) it misfunctions, outputting:
[code]
There are only three fonts available, but the 24-byte structures that hold them are placed by `common-rom.ld` at 32-byte intervals.  The cfb driver expects them to be contiguous, and walking the synthesized array results in misbehavior.

I am una

[2019-07-16 18:20] npitre commented on #17581
This would be fixed with the use of Z_STRUCT_SECTION_ITERABLE() and
Z_STRUCT_SECTION_FOREACH().

[2019-07-16 18:35] nslowell commented on #17548
#17583

[2019-07-16 18:35] nslowell commented on #17548
#17583

[2019-07-16 18:35] npitre commented on #17581
Something like this patch (let's see if it makes it through).
diff --git a/include/display/cfb.h b/include/display/cfb.h
index 065032f4f6..e8c4772a28 100644
--- a/include/display/cfb.h
+++ b/include/display/cfb.h
@@ -67,8 +67,7 @@ struct cfb_font {
  * @param _lc     Character mapped to last font element.
  */
 #define FONT_ENTRY_DEFINE(_name, _width, _height, _caps, _data, _fc, _lc)      \
-	stat

[2019-07-16 18:37] andrewboie opened #17584 "k_mutex is not SMP-safe"
The mutex code was written to rely on a k_sched_lock() to prevent
preemption by other threads while inspecting the mutex state for the
uncontended fast paths. The k_mutex APIs cannot be legally used in
ISRs, so this is a safe and clever way to reduce the size of the
critical section.

Unfortunately it just doesn't work in SMP. Preventing the kernel from
preempting your thread says nothing about th

[2019-07-16 18:38] andrewboie commented on #17584
There is an unfinished patch related to this #15164

[2019-07-16 18:38] andrewboie commented on #17584
This is at least medium if not high priority, although k_mutex is not used much within the kernel itself, we cannot make such assertions for applications

[2019-07-16 18:42] andrewboie commented on #17584
@jocelyn-li can you have someone look into this?

[2019-07-16 19:06] andrewboie commented on #17555
I sent a patch to remove the assert on x86_64 to alleviate CI-related pain.
Leave this open to address creating a working backend for this arch.

[2019-07-16 19:26] marc-hb commented on #17555
Thanks, found it. This one-line change shows most the tests affected by this issue - probably all of them if you test enough times.
[code]
I ran this once and got this list:
[code]
The scan seems case-insensitive because it also caught this unrelated failure:
[code]

[2019-07-16 19:47] aescolar commented on #17581
CC @jfischer-phytec-iot

[2019-07-16 19:49] pabigot commented on #17581
@npitre Excised from email response for readability.  I'll check this and if it works add it to #17581.

[code]

[2019-07-16 19:51] aescolar commented on #17581
@pagibot Silly note: If you add a "diff" in the block start (```diff) you get syntax highlighting.

[2019-07-16 19:53] pabigot commented on #17581
Never much cared for syntax highlighting (did much of my work back in the day on a Wyse-75 in 132-column mode), but that's worth knowing.  Thanks.

[2019-07-16 19:57] aescolar commented on #17543
Just to confirm the issue: This also started happening for me in a Ubuntu 18.04 machine around 2 weeks ago (I just took the shortest path and updated the dtc installed in the system).

[2019-07-16 20:04] pabigot commented on #17581
@npitre Thanks, that solves it.  Patch replaces the previous approach in #17580.

[2019-07-16 20:06] npitre commented on #17581
On Tue, 16 Jul 2019, Peter A. Bigot wrote:

I have personal reasons to wish things were still that way. Sorry for
messing up things.

I think github should at least honor markdown in email responses.

[2019-07-16 20:14] andrewboie opened #17586 "stack canary storage area should be read-only to user mode?"
I was asked to implement memory protection policy such that the memory containing the stack canary value should not be overwritable by user mode.

The canary value gets set at boot before the application starts. Implementing this could be troublesome depending on configuration:

- For non-XIP systems, we can put the canary storage in the rodata section, and when setting it, temporarily disable the

[2019-07-16 21:30] leapslabs commented on #17162
Thanks Peter for the detailed summary!

I think the requirements contain all the things which I would need for an IoT application with precise TDMA scheme. I don't have a deep understanding of Zephyr so here are just a few comments from my side:

1. Resolution - I cannot see yet at the moment the use of nanoseconds resolution. When devices need to synchronize at a such level it would require proba

[2019-07-16 21:34] andrewboie opened #17590 "ARC: unable to induce kernel_oops or stack check fail errors from user mode"
Steps to reproduce:

Pull https://github.com/zephyrproject-rtos/zephyr/pull/17589
And run tests/kernel/mem_protect/userspace
All cases need to succeed.
Right now, calling z_arch_except() from user mode results in an EV_PrivilegeV error.
The result is that the wrong error reason is reported.

[2019-07-16 21:36] andrewboie opened #17591 "ARM: z_arch_except() is too permissive in user mode"
Steps to reproduce:

Pull #17589
And run tests/kernel/mem_protect/userspace
All cases need to succeed.

Right now, ARM will accept *any* reason code.
It should only accept kernel oops, or stack check fail. Other codes should be forced into an oops.

Impact: user mode is able to induce kernel panics, which indicate the entire system needs to be halted. user mode is also able to fake other exception

[2019-07-16 22:22] kestewart commented on #17005
@rettichschnidi - just got off the phone with Silabs,  and my contact working towards solving this as he's getting pressure from multiple FAEs for this to be fixed, so its up'd in priority.   They're still assessing how much direct support for Zephyr,  but fixing this licensing does seem to be a priority, independent of direct participation.

[2019-07-16 22:48] andyross commented on #17571
Oh man, do I have the patch for you.  Trying to get a prototype up today, though it might stretch to tomorrow.

The splitting and merging isn't really "slow", but it's definitely a drawback of buddy allocators[1] when used in a "mostly empty" situation.   These things tend to work best in large heaps with mixed usages where memory is fragmented and you can "usually" find a block of the size you wa

[2019-07-16 23:07] vanti commented on #17557
@andrewboie Submitted fix for this build issue.

[2019-07-17 00:48] #17557 closed

[2019-07-17 02:55] npitre commented on #17571
Ideally, the recombine operation would not be performed in block_free()
but rather in block_alloc(), and only up to the required level, and only
if no blocks of the requested level are available. This way you'd get a
nice hysteresis in the readily available block sizes, and recombine
would then be a fairly rare event. I'm not sure about how not to make it
overly costly when it happens due to the n

[2019-07-17 05:14] andrewboie opened #17595 "two userspace tests fail if stack canaries are enabled in board configuration"
tests/kernel/mem_protect/mem_protect
tests/kernel/mem_protect/userspace

Both fail if CONFIG_STACK_CANARIES=y is set in the board configuration.
These tests aren't designed to work if canaries are active since using canaries with user mode requires adding z_libc_partition to the memory domain, and these two tests have their own custom memory domain configuration specific to the test semantics.

[2019-07-17 05:53] rakeshcx commented on #17559
problem solved. Previously I have cloned the zephyr repository with sudo(**sudo west init zephyrproject**
. This makes an issue. So I removed that previously cloned directory and again cloned with this command(**west init zephyrproject**). Now it's working fine.

[2019-07-17 05:53] #17559 closed

[2019-07-17 07:58] anangl commented on #17488
I tried to replicate this but I didn't manage to. I used a Windows 10 machine (native one) and the current master (caa47e6c973c1010fe8f915c89bd83c9d6477036), without #17492. I see some significant differences in the logs I achieved:
[code]
It was a USB 3.0 port if that makes a difference. I'll check if with 2.0 this will look the same.

[2019-07-17 08:00] ioannisg commented on #16574
@Mierunski could you  please see if this is still a bug, and if so, suggest a fix?

[2019-07-17 08:14] Vudentz commented on #16735
Do you have any zephyr logs, does other samples services work or is this specific to smp_svr?

[2019-07-17 08:25] pdunaj commented on #17571
Hi @andyross , I would definitely want to try it and it does come not a moment too soon :)
So far I was applying a workaround and thought that we will tweak the current design. I always felt however that in the end it would be better to create something new (e.g. optionally selected, simpler allocator).
So thanks in advance :)

[2019-07-17 08:32] benolayinka commented on #15025
Did anything come of this? This would be amazing

[2019-07-17 09:07] YuraCobain commented on #16735
Environment :

OS: Linux 4.18.0-25-generic #26~18.04.1-Ubuntu SMP  x86_64 x86_64 x86_64 GNU/Linux
Bluez: 5.50
Zephyr SDK 0.10.0
Zephyr 1.14@743f3db
MCUBoot@853657c

hciconfig -a
hci1: Type: Primary  Bus: USB
	BD Address: 34:E1:2D:D2:C4:76  ACL MTU: 1021:4  SCO MTU: 96:6
	UP RUNNING PSCAN
	RX bytes:4992 acl:0 sco:0 events:183 errors:0
	TX bytes:4757 acl:2 sco:0 commands:198 errors:0
	Features: 0xff

[2019-07-17 09:07] joerchan commented on #17543
@mas-co The message you added did not appear. It seems to me that you have some misconfiguration of your SDK.
The DTC error you get could be that the path to DTC is invalid.
Please check these (`env | grep ZEPH`):
[code]
And double check that the path to everything is correct.
Check that you are in fact pointing to the correct SDK:
[code]

Check that cmake picked up on your SDK install:
[code]
Las

[2019-07-17 09:09] MariuszSkamra opened #17600 "Enable Mesh Friend support in Bluetooth tester application"
Tester application lacks the Mesh Friend functionality. Enable it for testing purposes.

[2019-07-17 09:34] anangl commented on #17488
@aolowin I manage to replicate this. I had to enable the "USB Wake Support" option in my machine's setup and now I can observe the behavior you described.

[2019-07-17 10:39] agansari commented on #16639
@aunsbjerg issue is related to MPU disabling ENET's DMA acces to RAM. See pull #17603

[2019-07-17 10:48] pabigot commented on #17162
@leapslabs Thanks for your comments.  Although synchronization is important, the primary use of this feature is internal to a single device.  System cycle clocks are always above 1 MHz so nanoseconds are necessary to measure deltas.  There are also use cases for setting alarms that will fire months in the future (e.g. preparing for a time zone offset or TAI-UTC delta change).

My tests on boards f

[2019-07-17 12:00] carlescufi commented on #17543
@mas-co please delete your build folder every time you run. I don't see any debug output from the `message()` statement, I assume because you didn't delete the build folder.

[2019-07-17 12:38] pizi-nordic commented on #17162
I like both the idea of specifying absolute deadlines as well as fetching deadlines from any kind of kernel API. Looking to @andyross PR the following idea popped in my mind:

[code]

Question if this idea is really usable is open, but IMHO this might be a step closer to fulfill @pabigot requirements. Moreover, if we are going to change kernel API, there is no better moment than the upcoming Zephy

[2019-07-17 13:17] nordic-krch commented on #17162
long timeouts can always be achieved in application in fragments so i'm not that worried about that. Regarding sub-us if we are talking about kernel infrastructure then if api's are using ticks (and macros for ms2ticks, us2ticks conversion) then nanoseconds are not a problem if nanoseconds-to-ticks macro is added. For lower frequencies that will of course make no sense.

[2019-07-17 13:19] carlescufi commented on #17559
Thanks for letting us know

[2019-07-17 13:30] pizi-nordic commented on #17162
@nordic-krch: You reminded me about one important problem:
The ms2tick and tick2ms conversion is not symmetric `(tick2ms(ms2tick(x)) != x)` whch causes a lot of troubles in the tests as we have to take under account conversions made in the kernel.
IMHO the Zephyr user will face similar problems, so we should at least consider making such conversion symmetric.

[2019-07-17 13:42] mas-co commented on #17543
@carlescufi
After deleting the build folder the Hello World project built without error and zephyr.elf was in the build/zephyr folder.
I wish I knew that you needed to delete the build folder every time.  (sorry, I am transitioning to Linux from Windows and I am new to cmake---and only occasionally using makefiles)

I appreciate everyone's efforts to get me going.  I hope to be able to share the k

[2019-07-17 13:42] pabigot commented on #17162
Conversion between clock domains is not necessarily both [injective](https://en.wikipedia.org/wiki/Injective_function) (one-to-one) and surjective[https://en.wikipedia.org/wiki/Surjective_function] (onto), which is required to create a total inverse function.  I don't think this expectation can be satisfied, especially these functions don't specify the direction of rounding, and if they both round

[2019-07-17 13:42] #17543 closed

[2019-07-17 13:47] carlescufi commented on #17543
Thanks for updating and closing the issue for future reference @mas-co

[2019-07-17 13:53] mas-co commented on #17543
@carlescufi
You are welcome.
And again, thanks to everyone for their assistance!

[2019-07-17 13:53] PhilippFinke opened #17608 "NMP timeout when uploading image with mcumgr over BLE under Linux"
**Describe the bug**
Every second time I try to upload an image with mcumgr over BLE under Linux (both Fedora 30 and Yocto based on our custom board) I receive a NMP timeout and the upload aborts. After starting another upload after this timeout the upload succeeds.

The problem occurs with the smp_svr sample on a nrf52840_pca10056 board as well on our custom HW that is also based on a nrf52840. A

[2019-07-17 14:04] pizi-nordic commented on #17162
Ahhh, I missing my math courses :). But you are right. We are working in finite field and we cannot avoid rounding, so there will be no total inversion.

However at the moment, the ms2tick rounds up while tick2ms rounds down, which results in `ms2tick(tick2ms(ms2tick(x))) != ms2tick(x)`. Do you think that this could be fixed?

[2019-07-17 14:15] pabigot commented on #17162
Technically, yes; without changing behavior, no.  For the purposes of this PR what I want is something that in its fundamental form could be:

[code]
But we're bikeshedding solutions; the intent here is to discuss requirements.  So the requirement the above satisfies is the ability to convert durations between clock domains while controlling the rounding direction.

[2019-07-17 14:20] pizi-nordic commented on #17162
And adding this to the list was my goal. Thank you.

[2019-07-17 14:23] carlescufi commented on #15611
Here is my proposal based on everything that has been said so far, and taking into account the following:

- Simplicity and consistency
- Anything returning an `int` can return:
  - A negative value (error)
  - 0 (logical false, physical low)
  - A positive value (logical true, physical high)

- There is no easy solution for returning errors on port reads, so revert to using `__ASSERT()` there

No

[2019-07-17 14:45] pabigot commented on #17162
We have to use github for design discussions as there isn't anything else available (slack ruled out by TSC), but its single-threaded nature is really inconvenient. So in a couple days what I'd like to do is take into account all comments received so far and post a new version of the `Base Requirements and Questions` section, including links to relevant comments. Then hide the preceding comments s

[2019-07-17 14:54] pizi-nordic commented on #17188
This is very strange. Are you sure that whole clock tree setup is correct? Could you please confirm the crystal oscillator frequency (measure it on the board)?

[2019-07-17 15:02] pabigot commented on #15611
I don't believe we have consensus on the port set API.  There have been three proposals:
[code]
(1) is existing practice, so should be the fallback if we can't agree on a change.  (2) seemed to get some approval and interest, but one rejection.  (3) hasn't really been discussed.

I prefer (2), because the set-clear-toggle bit mutation operation has general applicability for flags and register valu

[2019-07-17 15:02] pabigot commented on #15611
Click thumbs-up to prefer this API.  Click thumbs-down if you think it's an absolutely horrible idea.
[code]

[2019-07-17 15:02] pabigot commented on #15611
Click thumbs-up to prefer this API.  Click thumbs-down if you think it's an absolutely horrible idea.
[code]

[2019-07-17 15:03] pabigot commented on #15611
Click thumbs-up to prefer this API.  Click thumbs-down if you think it's an absolutely horrible idea.
[code]

[2019-07-17 16:02] pfalcon commented on #17487
@ioannisg, @galak, Any feedback?

[2019-07-17 16:11] andrewboie commented on #17487
I already have a backport PR which does this #17470

[2019-07-17 16:29] aescolar opened #17613 "POSIX arch: occasional failures of tests/kernel/sched/schedule_api on CI"
**Describe the bug**
A possible race which seems to have been presenting itself very sporadically on loaded systems.
The race seems to have caused tests/kernel/sched/schedule_api to fail at random on native_posix.

**To Reproduce**
[code]

**Expected behavior**
No random failures at all in native_posix

**Impact**
Not trustworthy test results

**Environment (please complete the following informati

[2019-07-17 16:32] #17595 closed

[2019-07-17 16:34] pabigot opened #17616 "using standard Doxygen commands for structure members"
Zephyr's documentation infrastructure appears to mandate a non-standard way of providing documentation comments for structure members.  An in-tree example that produces [this](https://docs.zephyrproject.org/latest/reference/peripherals/counter.html#_CPPv317counter_alarm_cfg) is:
[code]

Normally documentation comments would be provided like this:
[code]

This form is not only more common, it also

[2019-07-17 16:36] pfalcon commented on #17487
@andrewboie : Thanks!

[2019-07-17 18:10] andyross opened #17624 "SRAM size configurations aren't always consistent"
So... I'm trying to productize a new heap test, and would like to size appropriately it to available memory.  We have a legacy CONFIG_SRAM_SIZE value, and a newer DT_SRAM_SIZE one.  There doesn't seem to have been any attempt to keep these synchronized.  Some platforms use one, some the other, some neither.  At least nothing seems to be exposing inconsistent numbers.

Check this with a hack to hel

[2019-07-17 18:11] aescolar commented on #17624
For native_posix what would you like reported? :)

[2019-07-17 18:13] chris-makaio opened #17625 "driver: gpio: PCAL9535A: can't write to register (read is possible)"
**Describe the bug**
I'm using PCAL9535A driver on a custom nRF52840 board. Since all ADDR-Pins are connected to ground, I'm using address 0x20.
In my main application I'm doing
[code]

Log output is

But if I add

[code]
It works perfectly. So reading DOES work while writing doesn't.

**To Reproduce**
Well, use the PCAL9535A driver with a nRF52840 based board

**Expected behavior**
PCAL9535A shou

[2019-07-17 18:14] andrewboie opened #17626 "Change sanitycheck to use 'gcovr' instead of 'lcov'"
LCOV is written in Perl and introduces some hardships for people trying to produce coverage reports on Windows. It is also a third-party package that has to be installed, with 1.14 being the minimum version.

gcovr, on the other hand, is written in Python, and is installable with pip; indeed it is already in our scripts/requirements.txt.

Change sanitycheck to use gcovr instead of lcov to produce

[2019-07-17 19:50] andyross commented on #17624
Something reasonable; personally I'd go with something relatively constricted to match existing hardware, maybe 4M or something.  But the point is that if the values are going to work they need to be universally exposed so that anyone can guess at an answer to the question "will my thing fit?".  The work involved to do this right now is sort of a mess.

[2019-07-17 21:01] andrewboie commented on #17324
This is in much better shape now, with current master I'm only seeing one test fail:

[code]

[2019-07-17 22:15] pabigot opened #17630 "efr32mg_sltb004a tick clock error"
The application below, when built for `efr32mg_sltb004a` emits the timestamp information at 2 s intervals.  It appears the clock is running at half the expected speed.

[code]

[2019-07-17 22:29] #17581 closed

[2019-07-18 04:32] cvinayak commented on #17546
@lanvis do you call bt_conn_disconnect before you start scanning again? (You need to cancel the connection creation)

[2019-07-18 05:26] CliffsDover opened #17635 "UnicodeDecodeError is raised while executing west build"
**Describe the bug**
`UnicodeDecodeError `is raised while executing `west build`

It comes from` zephy/scripts/west_commands/zcmake.py`, line 217
I have to add `encoding="utf-8"` to line 216 to avoid this error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd zephyr\samples\bluetooth\peripheral_hr
2. west build -b nrf52_pca10040

**Screenshots or console output**

[code]

**Environ

[2019-07-18 08:03] carlescufi commented on #17635
Funnily I get a different issue:

[code]

[2019-07-18 08:22] mnkp commented on #15611
Previously we agreed that the pin set / get functions should be defined as
[code]
i.e. they were not returning error codes. That's fine for the SoC GPIOs but as @pabigot mentioned during API meeting we need to support also external GPIOs, e.g. connected via I2C bus. So it looks like we do need to add error codes to set/get functions. That's easy for the pin version of the functions, as proposed by

[2019-07-18 09:23] Vudentz commented on #16735
So it doesn't work with Intel but works when connected with CSR? Does bluetoothctl produces the same results.

[2019-07-18 09:56] #16639 closed

[2019-07-18 10:33] agansari commented on #17017
This issue does not reproduce 100% time (i didn't manage to reproduce it)
Perhaps this issue is the same case #17603 fixes. Sometimes ENET's DMA access to RAM is cut off when switching context (random behavior depending on code behavior and execution time).

Does not reproduce on latest master.
@alexanderwachter I think this issue can be closed.

[2019-07-18 10:38] alexanderwachter commented on #17017
Ethernet seems to always work on actual master. Was not able to find the actual commit that fixes it with bisect. Seems to be random somehow.

[2019-07-18 10:38] #17017 closed

[2019-07-18 10:44] anangl commented on #17488
I reproduced this issue also with Windows 7. Just needed to supply a proper `.inf` file so that Windows can recognize the device as a CDC one (I used the one from nRF5 SDK and changed VID and PID in the cdc_acm sample). Then I was able force the USB suspend by just disabling the device in the Device Manager and the USB resume by re-enabling it. After such cycle, the device behaves as @aolowin desc

[2019-07-18 11:24] chris-makaio commented on #16672
@anangl, I was just able to test the I2C parts. It works pretty well.
Here are the results (I know people are looking for possible current consumption figures) for our custom board:
I2C1 active (DEVICE_PM_ACTIVE_STATE): 8uA
I2C1 suspended (DEVICE_PM_SUSPEND_STATE): 3uA

I was not able to test the SPI yet, though, so if possible, please leave this issue open

[2019-07-18 11:45] jfischer-phytec-iot commented on #17488
@anangl curious, maybe an other issue in cdc_acm class, but why it pops only on Windows OS?

[2019-07-18 11:57] n3rd4i opened #17645 "VSCode debugging Zephyr application"
**Is your feature request related to a problem? Please describe.**
I would be helpful to have a working [VSCode](http://aka.ms/vscode) debugging (using [C/C++ extension](https://github.com/microsoft/vscode-cpptools/tree/master/Documentation) with [Cortex-Debug](https://github.com/Marus/cortex-debug)) facility for [Zephyr](https://docs.zephyrproject.org/latest/introduction/index.html) application u

[2019-07-18 12:35] #17600 closed

[2019-07-18 12:59] StefJar commented on #17188
I measured the two OSCs and they run on 24MHz and  32kHz.
I attached a screenshot how I tried to setup my board:
![Screenshot from 2019-07-18 13-48-17](https://user-images.githubusercontent.com/8638279/61458803-44a48580-a963-11e9-9780-d8e8657a8819.png)

The SYSCLK is 96MHz but the Coretex System Timer is 48MHz. So maybe the

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=96000000
CONFIG_SYS_CLOCK_TICKS_PER_SE

[2019-07-18 13:21] ioannisg commented on #16773
@nvlsianpu #17349 is now merged, so can you revisit this one?

[2019-07-18 13:34] chris-makaio commented on #16672
seems #16548 fixed it.
I can't even see a difference between active and suspended (testing with a W25Q spi flash @ SPI2).
No matter what I do, I see 4.2uA

Nice

[2019-07-18 13:34] #16672 closed

[2019-07-18 14:00] YuraCobain commented on #16735
Yes, works with CSR and doesn't with Intel.
bluetoothctl produces the following results:
[zephyr_intel_bluetoothhctl_manually.log](https://github.com/zephyrproject-rtos/zephyr/files/3406851/zephyr_intel_bluetoothhctl_manually.log)
[btmon_intel_bluetoothhctl_manually.log](https://github.com/zephyrproject-rtos/zephyr/files/3406852/btmon_intel_bluetoothhctl_manually.log)

[2019-07-18 14:02] pabigot opened #17650 "devicetree: missing preferred instance presence macro"
A recent change prefers ` DT_INST_0_JEDEC_SPI_NOR_LABEL` over `DT_JEDEC_SPI_NOR_0_LABEL`, however the flag symbol `DT_JEDEC_SPI_NOR_0` remains undeprecated and there is no `DT_INST_0_JEDEC_SPI_NOR` that can be used to detect presence of the device.

This should be made consistent.

[2019-07-18 14:50] #17635 closed

[2019-07-18 15:09] #17038 closed

[2019-07-18 16:02] pizi-nordic commented on #17188
If the system timer is running at 48MHz, then the CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC should be set to 48000000.

[2019-07-18 17:13] andrewboie commented on #13074
Adding this to 2.1 scope. There's a real need for this functionality on devices with only 8 MPU regions

[2019-07-18 17:18] StefJar commented on #17188
Ok I tried that but the error prevails.
What clk source is used for `k_uptime_delta`?
I quickly checked the documentation for systick (p 250)
http://infocenter.arm.com/help/topic/com.arm.doc.dui0553b/DUI0553.pdf

For me it looks like a 32Bit register. Is this directly mapped/refereed in k_uptime_delta?

[2019-07-18 18:07] pabigot commented on #15611
Click thumbs-up to prefer an API that combines AP1 and API3.  Click thumbs-down if you think it's an absolutely horrible idea.
[code]

[2019-07-18 19:26] andrewboie opened #17656 "k_is_in_isr() behaves inconsistently across arches"
In the context of fatal error handling, we would like to be able to determine if the kernel was servicing an interrupt or exception (aka interrupt context) when the fatal error occurred.

However, on some arches, if k_is_in_isr() is called from the fatal error handling code, it always returns true. I am seeing consistently on x86_64 and ARC. I see this happening sporadically on xtensa.

k_is_in_is

[2019-07-18 20:29] pabigot opened #17657 "subsis/disk/disk_access_spi_sdhc: response data eaten by idle byte consumption"
I'm working with samples/subsys/fs which uses the SPI SDHC driver.  I've got a uSD breakout board on the Particle Xenon (nRF52840 using SPI not SPIM).

The driver has several locations, starting in `sdhc_spi_cmd_r1_raw`, where the following is present:
[code]

In my system what this does is eat the first byte of the response, causing a `Storage init ERROR!`.  If I remove that read the sample runs

[2019-07-18 20:45] mrfuchs commented on #17657
Does #15790 help as well?

[2019-07-18 20:58] pabigot commented on #17657
#15790, when rebased, fixes it.  Thanks.

[2019-07-18 21:39] pabigot commented on #17657
Duplicate of #15444

[2019-07-18 21:39] #17657 closed

[2019-07-18 22:16] #17555 closed

[2019-07-19 00:56] ulfalizer opened #17662 "Missing 'label' on nodes with 'compatible = "jedec,spi-nor"'"
`dts/bindings/mtd/jedec,spi-nor.yaml` includes `dts/bindings/spi/spi-device.yaml`, which says that any node with that binding must have a `label` property, but none of the nodes with `compatible = "jedec,spi-nor"` has a `label` property.

List for reference:

[code]

This leads to failures in https://github.com/zephyrproject-rtos/zephyr/pull/17660, which turns missing `category: required` properti

[2019-07-19 00:56] ulfalizer commented on #17662
CC @pabigot

[2019-07-19 01:19] ulfalizer opened #17663 "Missing 'label' on most nodes with 'compatible = "fixed-clock"'"
`dts/bindings/clock/fixed-clock.yaml` says that any node with that binding must have a `label` property, but only a few nodes with `compatible = "fixed-clock"` have a `label` property.

List for reference:

[code]

This leads to failures in https://github.com/zephyrproject-rtos/zephyr/pull/17660, which turns missing `category: required` properties into an error.

Not familiar enough with how this

[2019-07-19 01:19] ulfalizer commented on #17663
CC @pizi-nordic @galak

[2019-07-19 01:28] ulfalizer opened #17664 "Missing 'clocks' on most nodes with 'compatible = "nxp,kinetis-usbd"'"
`dts/bindings/usb/nxp,kinetis-usbd.yaml` says that any node with that binding must have a `clocks` property, but only a few nodes with `compatible = "nxp,kinetis-usbd"` have a `clocks` property.

List for reference:

[code]

This leads to failures in https://github.com/zephyrproject-rtos/zephyr/pull/17660, which turns missing `category: required` properties into an error.

Not familiar enough with

[2019-07-19 01:28] ulfalizer commented on #17664
CC @pizi-nordic @jfischer-phytec-iot @galak

[2019-07-19 01:40] ulfalizer opened #17665 "Missing 'label' on most nodes with 'compatible = "pwm-leds"'"
`dts/bindings/led/pwm-leds.yaml` says that any node with that binding must have a `label` property, but only a few nodes with `compatible = "pwm-leds"` have a `label` property.

List for reference:

[code]

This leads to failures in https://github.com/zephyrproject-rtos/zephyr/pull/17660, which turns missing `category: required` properties into an error.

Not familiar enough with how this is used

[2019-07-19 01:40] ulfalizer commented on #17665
CC @galak

[2019-07-19 07:24] pabigot commented on #17662
I have [always maintained](https://github.com/zephyrproject-rtos/zephyr/issues/10904#issuecomment-448200034) that Zephyr misuses the `label` property, but I was told by @galak this was to be fixed when tooling was complete.  Are we there yet?

All we really need is some handle that can be used in `device_get_binding(`DT_HANDLE_PATH`) to get the device associated with `PATH` in the devicetree.  Nob

[2019-07-19 08:25] alexanderwachter commented on #17645
@n3rd4i some of my configurations (launch.json)
[code]

I'm using Code-OSS Version: 1.35.1 on MANJARO. I'm not using the Zephyr SDK but native installed openocd and gcc build-essential for ARM

[2019-07-19 08:37] #10463 closed

[2019-07-19 08:39] alexanderwachter commented on #14918
Think this has been settled.

[2019-07-19 08:39] #14918 closed

[2019-07-19 08:47] ioannisg commented on #15119
@anangl @pdunaj is this issue being looked at?

[2019-07-19 08:57] pdunaj commented on #15119
hi @ioannisg , we have applied a workaround and not really track if this is being changed. This can be a problem for somebody who does not expect it to happen.

[2019-07-19 09:00] ioannisg commented on #15119
@pdunaj you've applied a workaround in the application code, I assume?
So the issue still exists, right?

[2019-07-19 09:36] pdunaj commented on #15119
@ioannisg , yes - all changes to make this work are in the application's code.

[2019-07-19 09:37] #17613 closed

[2019-07-19 09:50] pizi-nordic commented on #17664
It looks that I forgot cleaning this refactoring https://github.com/zephyrproject-rtos/zephyr/pull/16957 N-th time. I will create PR which will make the clocks optional.

[2019-07-19 11:28] pabigot commented on #17662
I've recently been making properties `optional` when I can have the driver implementation provide a reasonable default, and `required` when the driver must be given a value.  For `jedec,spi-nor` the `size`, `erase-block-size`, and `write-block-size` properties are required, but cannot be defaulted in the driver.

I *think* the devicetree tooling interferes in the case of flash-type devices because

[2019-07-19 11:58] aunsbjerg commented on #16639
@agansari I just did a test run with your PR, and it seems to be working perfectly - good job!

[2019-07-19 12:50] pfalcon commented on #16683
@PiotrZierhoffer:

Many thanks for posting, and sorry for lack of reply from my side - company sprint, followed by vacation. That's definitely helpful, as we clearly have different parties interested in this matter, while not aware of the current state of affairs, so any publicity efforts like that are required, even if seemingly don't lead to immediate responses.

I, from my side, have been worki

[2019-07-19 13:18] jcorde opened #17671 "ADC not supported by nrf52840_pca10059 DTS file"
**Describe the bug**
nrf52840_pca10059 (Dongle)'s [description page](https://docs.zephyrproject.org/latest/boards/arm/nrf52840_pca10059/doc/index.html) says it supports ADC, but its DTS file doesn't have a status describer like in [nrf52840_pca10056's](https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts#L106).

This leads to several compilati

[2019-07-19 14:05] lanvis commented on #17546
I don't because I never got the connect callback so I assumed bt_conn * was invalid but now I see that I get a bt_conn* returned when I call connect (and this was OK because above we see "Connect started" in trace).

I will try and post the result and maybe we can close this.  Thanks!

[2019-07-19 14:35] #17664 closed

[2019-07-19 14:56] ulfalizer commented on #17662
@pabigot
Which quickfix do you prefer, and could you submit a PR for it?

Doesn't need to be high art at this point. Could add a comment explaining what's going on maybe. Trying to batch-fix all of those required-but-missing properties to be able to plug it for good.

[2019-07-19 18:29] vanti commented on #17550
Verified build of #17552. The latter should address the issue. I suggest we only apply this PR if #17552 does not make it in time for the 2.0 release.

[2019-07-19 19:26] ulfalizer commented on #17665
@ioannisg
Note that these are part of fixing an entire class of issue, so don't get hung up on the individual fixes. It'd be nice to get them all fixed soonish, even if each one is low-prio in itself.

[2019-07-20 15:48] ExtremeGTX commented on #3981
I'm working on this now, to implement full UART driver

[2019-07-20 21:22] #17663 closed

[2019-07-20 21:23] #17662 closed

[2019-07-21 13:12] pabigot commented on #17564
I'm unable to reproduce this with `zephyr-1.14.0` and `ZEPHYR_TOOLCHAIN_VARIANT=zephyr` resolves to SDK 0.10.0.  `<array>` is found and SDK 0.10.1 is unsupported in zephyr-1.14.0.  It also works with current head of `v1.14-branch`.

I can confirm the problem as reported is present when `ZEPHYR_TOOLCHAIN_VARIANT=gnuarmemb` and current `v1.14-branch`.

@carlescufi it appears you're using a C source

[2019-07-21 14:16] olsky opened #17688 "Unable to Read data from SCC811"
**Describe the bug**
Configured SCC811 env sensor, init is passing.

But read always same data:

dev CCS811 at 0x200279e4

co2: 36865 (be16:400)
voc: 0 (be16:0)
rez: 65287 (be16:2047)
err: 40 (stat:153)
SCC811 > channel: co2
is_value_in > old: 400.00 new: 400.00
SCC811 > channel: voc
is_value_in > old: 0.00 new: 0.00
SCC811 > Co2: 400.000000ppm; VOC: 0.000000ppb
SCC811 > channel: voltage and curre

[2019-07-21 14:22] olsky opened #17689 "On missing sensor, Init hangs"
**Describe the bug**
I have a custom nrf9160 board with i2c sensors. When all sensors are on the board -- init is ok, all runs.

But, if a sensor is physically not there (was removed), it hangs in init of sensor --- is not returning.
The problem is: it never enters main function, as init happens before entry into main.

**Expected behavior**
It would be good to set a time limit on init, so if the

[2019-07-21 16:06] pabigot opened #17690 "samples/subsys/shell/fs does not work?"
As far as I can tell, this sample doesn't do anything.  If it can be made to work, the documentation needs to be greatly improved.

Some notes before I gave up:

* For native posix you probably need the libfuse development package installed.
* `CONFIG_FS_NFFS_FLASH_DEV_NAME` should be pushed down to the board-specific conf file, since the one in `prj.conf` is wrong for Nordic devices.

Both native

[2019-07-21 20:02] aescolar commented on #17690
@vanwinkeljan can you help here?

About

I hope it is only needed if you set [CONFIG_FUSE_FS_ACCESS](https://docs.zephyrproject.org/latest/boards/posix/native_posix/doc/index.html#host-based-flash-access)

[2019-07-21 20:10] pabigot commented on #17690
Presumably.  But that is how the sample is configured out of the box, so the requirement should be documented.

[2019-07-21 20:17] vanwinkeljan commented on #17690
@pabigot something I noticed while implementing the fuse implementation is that if you want to perform any action on the mount point you need a trailing slash.

Could you try `fs ls /m/` or `fs cd /m/`, note that this actually a zephyr FS API limitation and has nothing to do with the FS shell. In the fuse part I worked myself around this limitation

[2019-07-21 20:56] pabigot commented on #17690
Yes, adding a trailing slash to the mount point helps.

I wonder if that's related to the fs infrastructure including the mount point when it provides the path to the mount-specific implementation, so every file system implementation has to strip it off themselves in every API call.

[2019-07-21 20:56] vanwinkeljan commented on #17690
@aescolar

Just double checked libfuse is only needed if you select  `CONFIG_FUSE_FS_ACCESS`.
As @pabigot  mentioned it just not stated in the sample README file.

[2019-07-21 21:08] vanwinkeljan commented on #17690
@pabigot if I'm not mistaken this is the root cause (`fs_get_mnt_point `)

https://github.com/zephyrproject-rtos/zephyr/blob/8f1780f6dee29dc2b2db01744e328a1a4a20d0b8/subsys/fs/fs.c#L50-L56

[2019-07-21 21:25] pabigot commented on #17690
Actually, it's not.  That does the right thing and identifies the correct mount point and passes both that structure and the full path "/m" to the nffs module.

The flaw is in the nffs driver which, because it has to strip the no-longer-necessary mount point off itself, does so with an incorrect assumption that the mount point is a proper prefix.  So, when it's given "/m" as a path it strips off "

[2019-07-21 21:38] GeeseHoward opened #17692 "Proper way for joining a multicast group (NRF52840/OpenThread)"
**SCENARIO**
I'm developing the application on NRF52840 with OpenThread.

I am implementing a state machine which some of the states listen for data on different multicast addresses (the application uses around 4 addresses in total). It looks more or less like this:

[code]
The gist of the problem is that when STATE_1 joins a multicast address, it can receive data sent to that address without any

[2019-07-21 23:25] pabigot commented on #17690
See #17695. I've checked this on nffs; I can't get shell/fs to work with fat_fs and the fat_fs module is doing something weird with mount points (they're somehow one character long) so that'll have to be a different issue.

[2019-07-22 07:00] ioannisg commented on #17689
@mbolivar @anangl could you please take a look here?

[2019-07-22 07:02] ioannisg commented on #17692
@rlubos could you address this question?

[2019-07-22 07:05] Mierunski commented on #16492
From what I see, changes that introduced this bug have been removed here: https://github.com/zephyrproject-rtos/zephyr/commit/02d6ea0feb9493165fc12acd8d91543244de0b2f
Bug is no longer present

[2019-07-22 07:05] #16492 closed

[2019-07-22 08:28] rlubos commented on #17692
Hi @GeeseHoward,

The multicast join/leave functions you provided seem fine. There are a few issues though that may cause you trouble.

That's because of limitation of the current OT port, which does not handle `NET_EVENT_IPV6_CMD_MADDR_DEL` event in its network event handler [here](https://github.com/zephyrproject-rtos/zephyr/blob/efae1a5e10512e28f174ad908ac40b4b5eedc4b5/subsys/net/l2/openthread/

[2019-07-22 09:06] GeeseHoward commented on #17692
Thank you for the quick response, @rlubos .

This might be a silly question, but does the OPENTHREAD_CONFIG_MAX_EXT_MULTICAST_IP_ADDRS specify the maximum number of addresses that a particular application can add, or the maximum number allowed in the network? I have two applications (say A and B). A adds 2 multicast addresses, and B adds 1 multicast address. Everything works fine when A adds its f

[2019-07-22 09:14] erwango commented on #12261
@KwonTae-young, thanks for this. Your fix seems appropriate, can you submit a PR?

[2019-07-22 09:21] rlubos commented on #17692
`OPENTHREAD_CONFIG_MAX_EXT_MULTICAST_IP_ADDRS` is per-application config, AFAIK Thread does not specify a network-wide limit for the number of multicast addresses in use in the network. It's simply related to the number of buffers available.

Could it be that you hit the Zephyr limit in your case? As I wrote earlier, in my case (Leader device) the OpenThread stack itself occupied 7 out of 8 multic

[2019-07-22 09:46] anangl opened #17697 "usb_dc_nrfx driver gets stuck after USB3CV HID Tests are performed on hid sample"
**Describe the bug**
After USB3CV HID Tests are performed on the nrf52840_pca1005 board running the _hid_ sample, the device becomes no longer responsive: another attempt to run the test suite fails, the sample no longer sends any reports. The device is stuck and even replugging of the USB cable doesn't help, only a reset can bring it to the normal operation.
A short investigation shows that the U

[2019-07-22 09:51] KwonTae-young commented on #12261
@erwango, ok. I will make PR in tomorrow. :smile:

[2019-07-22 10:37] GeeseHoward commented on #17692
This does not seem to be the case. I have set the Zephyr limit to 12.

I also just tried setting OPENTHREAD_CONFIG_MAX_EXT_MULTICAST_IP_ADDRS to 4, but no luck. Still getting the same 'Failed to reserve net pkt' error every time application B sends a mutlicast packet. Shouldn't I not get that error at all if I'd hit the limit, and shouldn't _net_if_ipv6_maddr_add_ return an error in that case?

[2019-07-22 11:25] carlescufi commented on #17564
Thanks @pabigot. I can confirm the same in master. There is clearly an issue with GNU Arm Embedded and newlib/C++. @galak or @SebastianBoe is that something you could take a look at?

[2019-07-22 12:21] erwango opened #17703 "Add prop 'clock-frequency' to STM32 targets"
**Is your enhancement proposal related to a problem? Please describe.**
Device tree clock information was added in https://github.com/zephyrproject-rtos/zephyr/pull/16957.
There is no dependency yet on STM32 targets as drivers do not use symbol `DT_CPU_CLOCK_FREQUENCY` for now, but this situation will not stand.

**Describe the solution you'd like**
Provide `clock-frequency` property to node `cpu0

[2019-07-22 12:23] #12681 closed

[2019-07-22 12:25] pabigot commented on #17689
While this appears with sensors, I believe it is fundamentally an I2C problem.  As noted recently on slack it's possible for the bus to get hung, causing transactions to be blocked until it's cleared---an operation that is not explicitly supported in Zephyr but can always be done by bitbanging.

[2019-07-22 14:30] #17671 closed

[2019-07-22 14:55] rlubos commented on #17692
`net_if_ipv6_maddr_add` will fail if you fail to register a multicast address in Zephyr but not in the OpenThread, as we call OpenThread API from the event handler, which has no return value.

Why is it failing exactly with 'Failed to reserve net pkt' it's hard to tell really w/o a debugger. One could advise increasing `CONFIG_NET_PKT_RX_COUNT`/`CONFIG_NET_BUF_RX_COUNT` configs, but if you say the

[2019-07-22 15:03] wentongwu commented on #14173
@andrewboie if 10 PRs submitted at the same time, what's the CI's behavior? run shippable for each PR one by one ? or run shippable for all the PRs at the same time ? Thanks

[2019-07-22 16:19] #17697 closed

[2019-07-22 18:15] andrewboie commented on #14173
@wentongwu it runs it on  the last patch in the series.
Having said that, your PRs need to be bisectable without breaking the build.

[2019-07-22 18:27] carlescufi commented on #16797
@gon1332 is this still an issue with the latest zephyr and mcuboot masters?

[2019-07-22 20:39] olsky commented on #17689
It would be good to have a solution, as (although is not Zephyr's) when it hangs -- there is no way to react in the app... as the main is not yet reached.

[2019-07-22 20:39] Blacksilver42 commented on #2623
I still get this problem. How do I enable the "new UART driver"?

[2019-07-22 20:51] Blacksilver42 commented on #2623
I'm building `samples/bluetooth/peripheral` here, but it happens all the time on other applications.
[code]

First few lines of output get mangled.

[code]
(the rest is okay)

[2019-07-22 21:03] pfalcon opened #17706 "[RFC] Proposed development plan for Zephyr's POSIX subsystem"
## Summary

This RFC seeks to transform and extend Zephyr's POSIX subsystem, which was initially conceived to implement just a small embedded profile specification of POSIX, into a subsystem with wider coverage of the full POSIX standard. While doing so, it doesn't seek to establish specific (sub)set of the POSIX standard to implement. Instead, it seeks to establish process and criteria to allow i

[2019-07-22 21:05] pfalcon commented on #17706
This is the promised RFC which was discussed at the recent Networking Forum(s) and Dev meeting(s).

cc: @nashif, @mbolivar, @jukkar, @MaureenHelm, @galak, @PiotrZierhoffer, @tgorochowik, @dleach02.

[2019-07-22 21:09] pfalcon commented on #17706
@galak, Please help me to lead this to TSC/Dev meetings as required to review/discuss this RFC. I'm especially concerned, as I'm on vacation next week, and then there's very little time to merge the long-pending patches for 2.0. As the RFC argues in the pertinent section, all the available patches follow the same course of development as already took place last 6-12 month, including 1.14 release p

[2019-07-22 21:26] vanwinkeljan commented on #12860
Issued PR (https://github.com/zephyrproject-rtos/ci-dockerfiles/pull/44) to include SDL2 in CI image.
Once merged the SDL display driver could be covered via native_posix_64.

[2019-07-22 23:18] GeeseHoward commented on #17692
I managed to identify the problem. STATE_1 initialized a multicast socket which I neglected to close. Doing so made everything run as expected.
Thank you @rlubos and @ioannisg for taking the time to help me out.

[2019-07-23 00:38] wentongwu commented on #14173
I mean if ten different developers submit their own PRs at the same time, will CI schedule it one by one or run it concurrently? If concurrently, icount mode can't guarantee the complete time of the test case, because first it will take longer time than normal mode, second more qemu processes in one machine will cause little time for each qemu process.

[2019-07-23 00:46] andrewboie commented on #14173
I see what you mean. The build slaves are supposed to be load balanced, with the number of CPUs selected for the job matching the hardware it is running on.

Having said that, perhaps we need a more sophisticated accounting on how long tests are taking to complete to determine whether they have gotten stuck somewhere.

Are you at the point where icount is working but we just need longer test timeo

[2019-07-23 02:09] ulfalizer opened #17715 "Missing 'reg-names' string in riscv32-litex-vexriscv.dtsi"
`dts/riscv32/riscv32-litex-vexriscv.dtsi` has this:

[code]

Since `reg` has two entries, `reg-names` should have two strings instead of one.

Don't know what to put in here.

Causes a failure in https://github.com/zephyrproject-rtos/zephyr/pull/17660:

    device tree error: reg-names property in ethernet@e0009800 has 1 strings, expected 2 strings

[2019-07-23 02:12] ulfalizer commented on #17715
CC @mateusz-holenko

[2019-07-23 07:02] mateusz-holenko commented on #17715
I'm on it.

[2019-07-23 08:09] #17665 closed

[2019-07-23 08:51] #17715 closed

[2019-07-23 09:02] wentongwu commented on #14173
1) from the point of qemu end user, it seems icount mode is working for mps2_an385 and qemu_x86.
2) and for mps2_an385, the shift value located in [1:4] is working except there are some timeouts. And for qemu_x86, the shift value located in [4, 9] also is working except there is a always failed case( kernel.memory_protection.stack_random) which need more time debug.
3) how to run icount mode. Run

[2019-07-23 09:06] jukkar commented on #17692
Getting network interface like in your sample works if you have only one network interface, but if you later have a system where you would have multiple network interfaces, then this could be written like this instead:
[code]

[2019-07-23 09:22] vanwinkeljan opened #17719 "Document how to use native posix target to create FS images"
**Is your enhancement proposal related to a problem? Please describe.**
A byproduct of the flash + fuse support for the native_posix is that initial target FS images can be created on a linux host system but no documentation exists how to achieve this.

**Describe the solution you'd like**
Update native_posix board documentation.

**Describe alternatives you've considered**
Update fs shell sample

[2019-07-23 09:48] pkral78 commented on #17719
Note that it would be useful to create standalone utility for that purpose. What I'm not sure is whatever it should be added as another sample in subsys/fs or as separate utility (build itself on top of Zephyr) and be part of SDK. However, the former should be good start. The utility itself should be able to prepare flash filesystem in binary/hex/elf form for separate handling or further merging w

[2019-07-23 10:24] pkral78 commented on #17719
The utility should support as many flash fs types as available in that branch. Some fs uses direct flash device, ELM FAT uses disk layer to access flash. FAT has already plenty of tools available around so it seem to be superfluous to include support for it, however one general utility has also its advantages in build pipeline.

[2019-07-23 10:28] joerchan opened #17723 "Advertiser never clears state flags"
**Describe the bug**
Advertising Flags are not set/cleared properly when starting advertiser. State can remain from previous advertiser and affect behaviour of current advertiser.

The state flags `BT_DEV_ADVERTISING_CONNECTABLE` `BT_DEV_ADVERTISING_NAME` and `BT_DEV_ADVERTISING_CONNECTABLE` are never cleared.

**To Reproduce**
Example of inconsistent state.
[code]
The scannable advertiser will no

[2019-07-23 10:48] vanwinkeljan commented on #17719
I was thinking to add a new west command to take care of the extraction of the FS partition, if possible (to be investigated)

This is the advantage of using the native_posix board is that it will support any FS available in the zephyr tree as it is just provides a flash driver at the lower level and the host fs access uses the high level zephyr FS API. Only question that remains is where to put t

[2019-07-23 11:25] #17723 closed

[2019-07-23 11:28] rahul30694 opened #17726 "How to make Zephyr as a ble mesh provisioner ?"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=board\_xyz
3. make
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your prog

[2019-07-23 11:35] rahul30694 opened #17727 "how to make zephyr as a ble mesh provisioner to other BLE based board having ble mesh"
I tried to flash the mesh sample to nordic board , but how to provision a board having ble mesh software using zephyr?

[2019-07-23 11:37] carlescufi commented on #17726
Duplicate of #17727

[2019-07-23 11:37] #17726 closed

[2019-07-23 11:38] carlescufi commented on #17727
@rahul30694 you can use BlueZ or any number of mobile apps such as the SiLabs or Nordic ones

[2019-07-23 12:27] arnop2 commented on #17363
@mrfuchs
It seems that there are 2 different issues in your report.
The first is that the MODF flag is never cleared. Your patch should fixes it.
The second is that MODF error is generated...
I would like to be sure that the use case is valid and that MODF error IRQ is not spurious (meaning a bad configuration in the driver)...
Please could you detail your setup?
- Are you in slave, master or mult

[2019-07-23 12:40] #16354 closed

[2019-07-23 13:15] gordonklaus commented on #15626
I have a couple of observations with regard to this issue.  Likely naïve (as I am very new to this project), but perhaps a good starting point:

- If you include a header file, then all function declared in it should also be defined.  That is, configuration should affect declarations and definitions equally.  An "undefined reference" error is a bug.  The absence of a function should be signaled by

[2019-07-23 14:23] erwango commented on #17015
#17123 has been merged.
Let me close this issue

[2019-07-23 14:27] #17015 closed

[2019-07-23 14:31] erwango commented on #13148
Closing ticket since no response and tested ok.

[2019-07-23 14:32] erwango commented on #10896
Implemented as https://github.com/zephyrproject-rtos/zephyr/pull/13447

[2019-07-23 14:32] #10896 closed

[2019-07-23 14:36] #13148 closed

[2019-07-23 14:44] erwango commented on #16851
@xuefli , did the previous comment help to solve your issue?

[2019-07-23 15:14] tsvehagen commented on #17454
I have created a pull request so I think the discussion can continue there instead.

https://github.com/zephyrproject-rtos/zephyr/pull/17729

[2019-07-23 15:14] maz3max commented on #15256
A sniffer log where both peers try to set the security level to FIPS.
[both_check.zip](https://github.com/zephyrproject-rtos/zephyr/files/3422739/both_check.zip)

[2019-07-23 15:18] maz3max commented on #15256
A sniffer log where only the central tries to set the security level to FIPS (and fails).
[only-central-checks.zip](https://github.com/zephyrproject-rtos/zephyr/files/3422752/only-central-checks.zip)

[2019-07-23 16:57] mfiumara opened #17731 "Dynamically set TX power of BLE Radio"
**Is your feature request related to a problem? Please describe.**
Currently TX power of the BLE radio is fixed at some power level, which can be configured through kconfig. A use case for dynamically changing the TX power of the radio are BLE beacons (for instance https://kontakt.io/ble-beacons-tags/ support multiple TX power settings).

**Describe the solution you'd like**
An API is needed in or

[2019-07-23 18:32] maz3max opened #17732 "cannot use bt_conn_security in connected callback"
**Describe the bug**
I preprogrammed a BLE SC bonding on a central and a peripheral device and wanted to enable encryption when the connection is established. For doing this, I called `bt_conn_security` in the connected callback. This seems to result in an error which terminates the connection.

**To Reproduce**
* have to devices already bonded with BLE SC
* both have corresponding `bt_keys` objec

[2019-07-23 18:34] aescolar commented on #17731
@mfiumara : Please note that slack history is lost after a few days, so links to slack are of little use. Please paste or summarize in the issue itself any relevant part of that discussion.

[2019-07-23 19:18] andrewboie commented on #17105
@aescolar let's get some data first before we start worrying about code size.
@nashif did some initial investigation and found that the code size penalty to propagating return values was trivial

[2019-07-23 19:22] andrewboie opened #17735 "abolish Z_OOPS() in system call handlers"
If a user thread passes incorrect parameters to a system call, in most cases this will trigger a fatal exception with Z_OOPS() instead of returning an error.

This was done to keep kernel APIs exactly the same, as many did not propagate return values either. However we should provide opportunities for recovery, and not unconditionally explode like this, it's not good from a FuSa perspective and is

[2019-07-23 20:55] jlienau03 opened #17738 "STATIC_ASSERT no longer defined when CONFIG_NEWLIB_LIBC is enabled"
**Describe the bug**
When you include CONFIG_NEWLIB_LIBC in your proj.conf file, the static_assert macro stops working.   It seems like the static_assert function isn't supported in newlib.

When I try building the application it uses assert.h from the zephyr library  <..>\ncs\zephyr\lib\libc\minimal\include\assert.h
When I build with newlib it pulls assert.h from my toolchain directoy instead <..

[2019-07-23 22:07] lanvis commented on #17546
I tried the disconnect after the connect request timeout but I am still hanging with same error code.

[00:07:46.219,787] <dbg> app_ble.new_ble_state_start:
[00:07:46.219,787] <dbg> app_ble.new_ble_state_start: new state = STATE_TRANSMITTER_SCAN
[00:07:46.220,062] <inf> app_ble.ble_gap_start_scan: Scanning successfully started
[00:07:46.220,062] <dbg> app_ble.set_systick_scan:  ...Scan start at 0x

[2019-07-24 02:44] egcd32 opened #17743 "cross compiling for RISCV32 fails as compiler flags are not supplied by board but must be in target.cmake"
**Describe the bug**
When cross-compiling the Zephyr hello world sample on Windows 10 using Freedom Studio 4.7.2 2019-03, which includes riscv64-unknown-elf-gcc-8.2.0-2019.02.0, for a SiFive HiFive1 rev B board, ninja reports compiler warnings on pointer/int conversion and the link step fails due to ABI incompatibility.  This is because the compiler flags needed for RISCV32 are not being supplied

[2019-07-24 06:33] pkral78 commented on #17719
Of course, but the utility have to deal with filesystem structures initialization which is always FS specific.

[2019-07-24 07:49] joerchan commented on #17732
To summarize my investigation into this issue, there are 2 separate issues:

The peripheral side of `bt_conn_security` fails with FIPS level because the requested security cannot be reached since no pairing callbacks has been set, which would result in a Just Works pairing (no input no output).
Possible workarounds;
 - Only request security from central side
 - Request Low security from peripheral

[2019-07-24 08:58] wentongwu commented on #14173
problems to solve for platform mps2_an385 (will update here if found more failed case):

1. shift=9, tests/kernel/lifo/lifo_usage/kernel.lifo.usage case always fail.
2. so far there are some timeout cases, we can adjust timeout value as #17107 do.
3. find the most stable shift value by test results and qemu icount code analysis.

[2019-07-24 09:21] aescolar commented on #17738
@andrewboie can you help here?

[2019-07-24 09:24] erwango opened #17745 "stm32: Move clock configuration to device tree"
**Is your enhancement proposal related to a problem? Please describe.**
Current clock-control configuration (ie system clock source configuration) for stm32 based devices currently happens via Kconfig. To comply with overall device configuration, and follow other zephyr clock evolution (#15363, #16958) this should be moved to device tree.

Supersets #17703

**Describe the solution you'd like**
Bin

[2019-07-24 09:25] erwango commented on #17703
Superset by #17745

[2019-07-24 09:25] #17703 closed

[2019-07-24 09:29] aescolar commented on #17732
CC @cvinayak

[2019-07-24 09:35] erwango commented on #17188
@StefJar, I suspect there is an issue around core clock computation when CONFIG_CLOCK_STM32_AHB_PRESCALER is not 1.
Can you rework your configuration and test again using CONFIG_CLOCK_STM32_AHB_PRESCALER set to 1 ?
I expect something clos to the following would work:
[code]

[2019-07-24 10:12] mfiumara commented on #17731
I updated the issue with the original slack discussion.

[2019-07-24 10:33] #14037 closed

[2019-07-24 10:46] b0661 commented on #17745
What is the benefit to move application specific configurations (various divisors, pre-divisors and multipliers) to DTS?

DTS is a hardware description - with some exceptions. Fixed clocks (SoC internal & external on board) are hardware. Clock (tree) selection and clock divisor configuration is in my view related to the application and shall therefor be defined by Kconfig. An application developer

[2019-07-24 11:27] lemrey commented on #17439
I am removing myself, I won't be able to work on this anytime soon.

[2019-07-24 11:31] marshed18 commented on #3192
I am in need of this function too is it out there?

[2019-07-24 12:54] erwango opened #17748 "stm32: clock-control: Remove usage of SystemCoreClock"
**Is your enhancement proposal related to a problem? Please describe.**
STM32 clock control driver is using variable `SystemCoreClock` to hold core clock frequency.
It was used in order to avoid usage of constant symbol `CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC`
Reason was cpu freq setting is usually done in 2 step with a default value at boot and the configured value set up at clock_control driver init

[2019-07-24 14:22] gon1332 commented on #16797
@carlescufi I hope that I check it until the end of the week. However the issue was with Zephyr v1.14. Nevertheless I'll check for master, v1.14 and v1.14.1-rc1.

[2019-07-24 15:43] StefJar commented on #17188
I changed the cfg to

[code]

The time problem is still happens.

On my system I have the RTC deactivated but using it through a own driver
and following things activated:
[code]
maybe powersaving disables some clk

[2019-07-24 16:04] erwango commented on #17188
[code]

You also need to update PLL settings in order to match the requested output freq.

[2019-07-24 17:12] #15139 closed

[2019-07-24 18:31] andrewboie opened #17751 "build is broken for mec15xxevb_assy6853"
[code]

[2019-07-24 18:32] andrewboie commented on #17751
In all cases the error is:

[code]

[2019-07-24 18:50] galak commented on #17751
Fix is:

[code]

[2019-07-24 18:56] andrewboie commented on #17751
@galak thanks!!

[2019-07-24 19:24] andrewboie opened #17755 "ARC privilege mode stacks waste memory due to alignment requirements"
The current scheme for ARC stacks is as follows:

[code]

However, on ARM EM the user mode stacks must be sized and aligned to a power of two since an MPU region must cover them. Adding the privilege stack to the same area results in memory being wasted:

[code]

If we use the same privilege stack generation mechanism as ARM, then the stacks can be laid out in memory with no gaps in between:

[cod

[2019-07-24 20:32] #17751 closed

[2019-07-24 20:33] galak commented on #17751
Similar fix needed for `soc/arm/microchip_mec/mec1701/dts_fixup.h`

[2019-07-24 21:02] #17368 closed

[2019-07-25 01:34] vonhust commented on #17755
@andrewboie  it's limitted by the ARC MPUv2. For ARC MPUv3, there is no such a problem whose requirement is 32 bytes aligned.

For ARC MPUv2, it's very difficult to avoid memory waste even following ARM'  approach.
For example,  stk1 size is  2048 bytes,  stk2 size is 8192 bytes.
Then
[code]

will become

[code]

Because
   * stk1 requires  start address aligined with 2048 bytes,  size aligned wit

[2019-07-25 03:24] andrewboie commented on #17755
No, the memory sections are sorted in reverse order of object size:

This results in

[code]

[code]

Please, migrate ARC to use privilege stack generation.

[2019-07-25 03:36] #15675 closed

[2019-07-25 04:06] vonhust commented on #17755
@andrewboie  emm... with the help of linker, that make senses.  I will take a look at it and try to catch up with zephyr  2.0

[2019-07-25 05:44] ulfalizer opened #17764 "Broken link to latest development version of docs"
The link to the latest development version at the top of https://docs.zephyrproject.org/1.14.0/guides/dts/index.html should point to https://docs.zephyrproject.org/latest/guides/dts/index.html, but points to https://docs.zephyrproject.org/guides/dts/index.html, which is a 404.

Might be more broken links. Only stumbled upon that page.

[2019-07-25 07:01] leapslabs commented on #14307
Hi All,

I have found a problem with Power Manager (PM) in Zephyr and have not found an answer. So I tried to study more in details and below are my findings. Please correct me if I am wrong:
1) Basically it builds around the Idle thread which has the lowest priority.
2) When no other higher priority needs to run the Idle thread will run.
3) The Idle thread when running will call sys_power_save_id

[2019-07-25 09:59] erwango commented on #17745
@b0661

Since last year discussions, community agreed that DTS would be used for hardware description AND its boot-time configuration. This is reflected in zephyr documentation in following section: [Device Tree vs Kconfig](https://docs.zephyrproject.org/latest/guides/dts/index.html?#device-tree-vs-kconfig). In that view, clocks configuration is part of hardware configuration and moving it to DTS

[2019-07-25 10:27] carlescufi commented on #17764
![image](https://user-images.githubusercontent.com/12450381/61867473-9acf7680-aed7-11e9-86af-6006e9ea57c6.png)
To clarify, the broken link highlighted

[2019-07-25 11:36] jukkar opened #17772 "Compilation error of soc/arm/nxp_imx/rt/soc.c"
**Describe the bug**
Sanitychecker run in #16217 cannot compile the `soc/arm/nxp_imx/rt/soc.c` for mimxrt1050_evk and mimxrt1064_evk
See https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/46712/2/console for details.

[code]

**To Reproduce**
`sanitycheck -p mimxrt1050_evk -s samples/net/sockets/echo_server/sample.net.sockets.echo_server.usbnet_composite`

**Impact**
Basically master

[2019-07-25 12:26] erwango commented on #17310
I had a quick look on how to implement support of Kconfig.defconfig for shields.
Seems that, to support this, we're likely to revert **part** of https://github.com/zephyrproject-rtos/zephyr/pull/12403:
- We'd still select shields using -DSHIELD
- We'd have shields Kconfig symbols back (in order to be able to gate shields `Kconfig.defconfig` sections).

This is globally how boards are handled:
- `-

[2019-07-25 12:46] tbursztyka opened #17775 "Microchip XEC rtos timer should be using values coming from DTS"
Though dts/arm/microchip/mec1501hsz.dtsi provide the right values (base address, irq...), code source found in drivers/timer/mchp_xec_rtos_timer.c use none of these.

Using HAL is nice in case of a lot of code being already written and drivers can then make a good use of it, but things like macros for  base address, IRQ ... not really

[2019-07-25 13:00] galak commented on #16773
Is this still an open issue?

[2019-07-25 13:04] tbursztyka opened #17778 "Microchip XEC rtos Timer breaks gpios and k_sleep?"
**Describe the bug**
Before commit bdaab8cfa0071127bbe28fcce33a0037fb661077 code below was working:
[code]

led3 on MEC evaluation board is then flashing.

After that commit: it does not work anymore.
Reverting that commit makes things work again.

**To Reproduce**
Steps to reproduce the behavior:
1. get the code to compile against board mec15xxevb_assy6853 (replace the hello_world sample for inst

[2019-07-25 13:05] tbursztyka commented on #17778
@scottwcpg have a look please.

[2019-07-25 13:23] avisconti commented on #17310
Let assume the case where the shield needs to specify in the dts other things other than the peripherals connected to the expansion connector. For example a microphone shield may need to enable a specific I2S controller on the mother board. Is the overlay file enough for that?

[2019-07-25 13:33] scottwcpg commented on #17778
I have fixed this issue in PR 17776.
Root cause: k_busy_wait takes a parameter in units of microseconds and its default implementation calls the timer driver k_cycle_get_32. This will not work for timer drivers using a 32KHz time base. This fix in PR 1776 enables CONFIG_ARCH_HAS_CUSTOM_BUSY_WAIT and implements z_arch_busy_wait in the MEC1501 SoC layer. SoC layer z_arch_busy_wait uses a MEC1501 32-

[2019-07-25 13:56] b0661 commented on #17745
@erwango

Thanks for the info.

As an application developer will I still be able to change the clock configuration _WITHOUT_ changing the DTS?

[2019-07-25 14:10] #17772 closed

[2019-07-25 14:52] #12261 closed

[2019-07-25 16:04] mrfuchs commented on #17363
SPI module is configured as master with `spi_config.cs` pointing to a `spi_cs_control` structure, as seen in my first comment above

There are two STM32 controllers on my board, which are connected via SPI. They are working in a single master, single slave configuration. The STM32F4 is acting as the SPI master and running Zephyr. Usually, these two controllers start up synchronously, but in the ev

[2019-07-25 18:22] chtavares592 opened #17781 "Question:Is it possible to connect the device on internet using bluetooth connection?"
Hello,

I am developing an application that connects my device via Bluetooth to my smartphone. I wonder if I can use my smartphone's internet connection on the device.

I am using nrf52840 board. I am running the example `/samples/boads/nrf52/mesh/onoff-app`.

 If it is possible to connect the device on the internet using Bluetooth connection, how I can do that?

[2019-07-25 18:35] nashif commented on #17706
I have lots of issues with this so-called RFC which advocates creating a special development process for the posix subsystems, but lets start with some sections:

For the headers, include/posix is not ideal and conflict with our definition of what include/ should contain (Zephyr public APIs), for posix (and other abstractions) there are at least 2 options:

1. go the nuttx (and others) route and d

[2019-07-25 21:02] camicarballo opened #17782 "network tests failing with 'unexpected eof' with code coverage enabled in qemu_x86 (TSS)"
[code]
Enabling CONFIG_COVERAGE exposes test failures with networking tests under tests/net/. We need these be able to build and run successfully to assess code coverage of the network stack.

Upon further inspection, 5 of these are failing on line 395 in arch/x86/core/ia32/crt0.S
- tests/net/iface
- tests/net/socket/tcp
- tests/net/utils
- tests/net/socket/udp
- tests/net/socket/net_mgmt

Reprodu

[2019-07-25 21:02] camicarballo opened #17783 "network tests failing with code coverage enabled in qemu_x86 (coverage.c)"
[code]

Enabling CONFIG_COVERAGE exposes test failures with networking tests under tests/net/. We need these be able to build and run successfully to assess code coverage of the network stack.

Upon further inspection, 5 of these are failing on line 271 in subsys/testsuite/coverage/coverage.c
- tests/net/socket/getnameinfo
- tests/net/socket/getaddrinfo
- tests/net/socket/misc
- tests/net/socket/s

[2019-07-25 21:07] camicarballo opened #17784 "failing network tests with code coverage enabled in qemu_x86 not failing when run with gdb"
[code]
Enabling CONFIG_COVERAGE exposes test failures with networking tests under tests/net/. We need these be able to build and run successfully to assess code coverage of the network stack.

Upon further inspection, 2 of these don't seem to fail when run with gdb, but continue to fail when running sanitycheck.
- tests/net/socket/register
- tests/net/lib/mqtt_packet

Reproduce with:
``` sanityche

[2019-07-25 22:11] szawasky opened #17787 "openocd unable to flash hello_world to cc26x2r1_launchxl"
**Describe the bug**
west flash fails to write hello_world to the LaunchXL CC26X2R1, complaining that the debug regions are unpowered.

**To Reproduce**
follow the instructions here:
https://docs.zephyrproject.org/latest/boards/arm/cc26x2r1_launchxl/doc/index.html
Use a LAUNCHXL-CC26X2R1

**Expected behavior**
west flash completes successfully, and "hello world" is printed on the serial interface

[2019-07-25 22:12] andrewboie commented on #11751
My initial PR is now merged.

Remaining TODO items, which we can either do here or open separate tickets for:

- Extend the current enumeration of exception types to cover more error types, such as memory protection errors
- Would be nice to make z_fatal_print() a macro, but I ran into an include hell putting it into the header. Would be nice to disentangle this.
- Some kind of per-exception metad

[2019-07-26 02:05] xiaoliang314 opened #17789 "Bluetooth: host: conn.c missing parameter copy"
Missing interval_min
https://github.com/zephyrproject-rtos/zephyr/blob/81ef42d2bcc3d7d59d61fa996712fc6ac5f10e1e/subsys/bluetooth/host/conn.c#L1944-L1950

[2019-07-26 02:16] franciscomunoz opened #17790 "MEC1501 configure warnings in eSPI (dts)"
**Describe the bug**
A clear and concise description of what the bug is.
Low priority

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=cmake -DBOARD=mec15xxevb_assy6853 ../

**Expected behavior**
No warnings during configure stage

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Screenshots or console output

[2019-07-26 07:22] aescolar commented on #17789
CC @jhedberg

[2019-07-26 07:24] chen-png opened #17794 "Timeutil_api test fails with sanitycheck on iotdk board."
**Describe the bug**
The timeutil_api test fails with sanitycheck on iotdk board. We are seeing the error message of "gmtime disagreed with gmtime_r".

**To Reproduce**
Steps to reproduce the behavior:
 ./scripts/sanitycheck -p iotdk --device-testing --device-serial /dev/ttyUSB0 --testcase-root tests/lib/timeutil/ --detailed-report ./test_report.xml

**Screenshots or console output**
JOBS: 8
Clean

[2019-07-26 07:39] erwango commented on #17310
@avisconti

If this is dts then this is not related to current issue (which relates only to shields Kconfig). Can you raise a new issue to discuss this?

[2019-07-26 07:55] erwango commented on #17745
@b0661

This won't be possible indeed. And tbh, I think it's for the best since having mixed dts/Kconfig would be source of bugs, confusion and finally misuse.
Though, one option I see is to support run time clock configuration, which is not available for now.

[2019-07-26 08:03] gon1332 commented on #17745
Just to put more info on runtime clock configuration there this relative issue: https://github.com/zephyrproject-rtos/zephyr/issues/12134

[2019-07-26 08:16] MarcDorner commented on #3723
Hi, is there any update on the topic or further information how the status is?

[2019-07-26 09:17] erwango commented on #12134
^^ @FRASTM

[2019-07-26 09:18] erwango commented on #12134
^^ @Benichou34

[2019-07-26 09:20] erwango commented on #16739
@gon1332 , I'm fine with this change

[2019-07-26 09:23] erwango commented on #16041
@maweicoltsmart , we've increased STM32_FLASH_TIMEOUT since it was seen to be too tight in some cases. The change is available in current master.
Can you try to see if you still see the issue with this change?

[2019-07-26 09:23] erwango commented on #14292
Closing (cf #14296)

[2019-07-26 09:23] #14292 closed

[2019-07-26 09:28] #9247 closed

[2019-07-26 12:35] markusr commented on #17645
Here is my `c_cpp_properties.json`
[code]

[2019-07-26 13:15] paulgavrikov opened #17800 "Bluetooth: GATT: Write Without Reponse to invalid handle asserts"
**Describe the bug**
Issuing a Write Without Response command to an invalid handle (i.e. this handle does not exist). This [line of code](https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/ll_sw/nordic/lll/lll_conn.c#L725) asserts

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
The previous behavior was that the write command retu

[2019-07-26 13:16] paulgavrikov commented on #17800
@cvinayak I do not have rights to assign you.

[2019-07-26 13:24] MariuszSkamra opened #17802 "[zephyr 1.14] Address type 0x02 is used by LE Create Connection in device privacy mode"
**Describe the bug**
Address type of 0x02 is used for LE Create Connection command even if LE Set Privacy Mode was called.

That behaviour does not follow Core 5.1 requirements:
Vol 2, Part E, 7.8.12
"Peer_Address_Type parameter indicates the type of address used in the
connectable advertisement sent by the peer. The Host shall not set
Peer_Address_Type to either 0x02 or 0x03 if both the Host and

[2019-07-26 13:34] erwango commented on #14066
@KwonTae-young, @kzyapkov, @gon1332, @psidhu:

We're starting to investigate zephyr power management support for STM32, with a first focus on STM32WB. Since this is a pretty wide topic and there are many possible use cases and ways to implement them, we'd like to have information about the use cases STM32 users would be interested to use in Zephyr.

It would be nice to have an overview of the use

[2019-07-26 13:57] carlescufi commented on #17800
Not sure if this is better fixed at the Host or Controller level

[2019-07-26 14:36] paanastasiadis opened #17805 "[Zepyhr v1.14.0 and master] Unable to run commands of mcumgr tool over UART like reset"
**Bug Description**
I am using a nucleo_l496zg board connected via usb and i am trying to establish communication between mcumgr tool and the board. My src files are based on smp_svr sample and as an example i am trying to send a reset command ( mcumgr reset -c myserial01) where myserial01 profile was created like this (./mcumgr conn add myserial01 type=serial connstring="dev=/dev/ttyACM0,baud=115

[2019-07-26 14:46] erwango commented on #17188
Dig in this a bit more.
`k_uptime_get` is based on cortex systick driver, which is based on `CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC` definition.
Problem is on STM32, cortex systick is ticked from HCLK, which is System Core clock / AHB prescaler.
It happens that AHB pre-scaler is always set to 1 for all STM32 boards, which explains this misalignment has never been detected. On your side, you're setting

[2019-07-26 16:19] richardbarlow opened #17809 "Bluetooth Mesh message cached too early when LPN"
**Describe the bug**

When a device is operating as an LPN and polls its friend there is a small window in which it may receive messages from non-friends in the mesh as well as the response to the poll from its friend. The network layer will add any messages it receives to the network message cache, regardless of what credentials it is encrypted with (network or friend) and regardless of the curre

[2019-07-26 18:21] StefJar commented on #17188
I can confirm that changing `#define CYC_PER_TICK` solves my problem.
thx @erwango and @pizi-nordic for the support
I leave it to @erwango close the issue when the fix gets merged

[2019-07-26 18:44] jimparis opened #17812 "pthread_cond_timedwait interprets timeout wrong"
`pthread_cond_timedwait` is supposed to take an absolute time as the last argument, but Zephyr interprets it as a relative time instead.

[2019-07-26 18:53] jimparis commented on #17812
It also doesn't handle NULL correctly, I think

[2019-07-26 21:45] andrewboie commented on #15246
I'm reopening this.
People are still reporting this issue on the mailing list.

[2019-07-26 23:14] psidhu commented on #14066
@erwango Hi. Thanks for taking the time to get into this. I'm actually thinking of using the STM32WB55 for my next project, but I'll need to investigating FCC etc licensing first (needs to be pre-certified). Anyways, what I mean is I can help when possible.

I think this is most important if going into Standby mode. I'm not sure how it's done today in Zephyr, but I would assume that a 'parent' per

[2019-07-27 08:57] Mani-Sadhasivam opened #17814 "Zephyr support for NXP i.MX8M SoC"
**Is your feature request related to a problem? Please describe.**

I have an NXP i.MX8M EVK board and I'd like to contribute the SoC and board support to Zephyr for running on the M4 core.

**Describe the solution you'd like**

I got the basic SoC/board port worked on:
https://github.com/Mani-Sadhasivam/zephyr/tree/imx8m

But for submitting it upstream, I'd like to get below points clarified:

1.

[2019-07-27 08:57] Mani-Sadhasivam commented on #17814
@MaureenHelm Could you please take a look?

[2019-07-27 10:42] explora26 opened #17816 "LVGL V5.3 build error if CONFIG_LVGL_COLOR_16_SWAP=y"
**Describe the bug**
I'm trying to development my project with LVGL, but the LCD color is incorrect due to data swap.
So I enable CONFIG_LVGL_COLOR_16_SWAP, but got build error.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/gui/lvgl
2. add configs to boards/nrf52840_pca10056.conf
    CONFIG_LVGL_COLOR_DEPTH_16=y
    CONFIG_LVGL_BITS_PER_PIXEL=0
    CONFIG_LVGL_COLOR_16_SWAP=y

[2019-07-27 11:10] ioannisg commented on #16574
@Mierunski ping

[2019-07-27 11:14] ioannisg commented on #15985
This is reported as medium impact bug, so please, take a look if possible (seems to be an easy fix)

[2019-07-27 11:30] ioannisg commented on #17656
@andrewboie shall we try to address this for 2.0?

[2019-07-27 12:17] vanwinkeljan commented on #17816
This is not a zephyr issue but a bug in LVGL V5.3, see https://github.com/littlevgl/lvgl/issues/802

[2019-07-27 13:14] pabigot commented on #17650
@ioannisg I disagree with the priority low: we need a standard way to detect presence of specific instances of a device using `IS_ENABLED()` and `#ifdef`.  At present this is inconsistent and incomplete.  This should be medium and fixed before 2.0.

@ulfalizer please address this in or after merge of #17660.  Currently the new tooling generates `DT_INST_0_JEDEC_SPI_NOR_LABEL` and does not generate

[2019-07-27 13:14] galak commented on #17814
How different is the SDK uart driver?

[2019-07-27 15:13] pabigot commented on #15116
This is a duplicate of #11612, see resolution summary [here](https://github.com/zephyrproject-rtos/zephyr/issues/11612#issuecomment-462443654).

[2019-07-27 15:16] Mani-Sadhasivam commented on #17814
Some of the API got changed. For instance,

[code]
got changed to
[code]

[2019-07-27 16:55] menglingao1997 opened #17820 "Mesh bug report In access.c"
hello everyone:
 When I first call bt_mesh_model_publish on access.c and do not use retransmission, the internal call to pub_send_cb.publish_send, the next_period function is executed, and the pub->period_start state is not initialized, which may cause a malfunction.

## Suggest：

* Add conditional judgments in bt_mesh_model_publish, for example:
[code]
* remove pub->period_start=k_uptime_get32 in

[2019-07-27 17:08] menglingao1997 opened #17821 "Mesh Bug on access.c"
# On line 235 in access.c

[code]

## description

when call bt_mesh_model_publish function in application, and use retransmit, for example,use pub->count not equal zero. so first bt_mesh_model_publish call from app, and mod_publish will be call after Publish Period timer time out, when count minus one and equal zero, the mod_publish func will call bt_mesh_model_publish again, when result is succe

[2019-07-27 17:42] chrta commented on #16968
Since i neither use ubuntu 16.04 nor ccache, i had to use seperate preprocessing to reproduce your problem.
Neither bool-casts, nor adding a `!!` fixed the issue for me, only this:
[code]

@marc-hb Could you please verify that this change fixes the issue for you?

[2019-07-27 18:41] pabigot commented on #15611
Reviewing some of the material above there's another consensus decision that needs to be summarized: handling of line vs logic level taking into account GPIO and interrupt configuration and the impact of adding line/level API on the use of existing `GPIO_POL_*` flags.  Every bulleted item below is intended to be either a definition or a requirement that together determine whether an implementation

[2019-07-27 19:28] chrta commented on #17630
Yes, you are right. This is a bug.

From the reference manual pg. 305

The startup code in soc/arm/silabs_exx32/common/soc.c does not modify this, if CONFIG_CMU_HFCLK_HFRCO is selected.

[2019-07-27 19:42] pabigot commented on #17630
There's no entry in `CODEOWNERS` for `soc/arm/silabs_exx32` so I've assigned this to @mnkp based on frequency of recent modifications in that area.

[2019-07-27 19:49] chrta commented on #17630
Since this board has an 38.4MHz xtal populated, i think to fix this, the file boards/arm/efr32mg_sltb004a/efr32mg_sltb004a_defconfig should be changed:
[code]

But i am not 100% sure if it would be also better to have some kind of sanity-check in the soc.c clock initialization code if CONFIG_CMU_HFCLK_HFRCO is selected.

[2019-07-28 09:14] vanwinkeljan commented on #17690
^^^ Sorry for the wrong reference, copied the wrong issue number

[2019-07-28 09:28] vanwinkeljan commented on #17816
@explora26  Pushed a PR backporting the fix for this issue but keep in mind that the documentation on the LVGL webpages is for V6.0 and not for V5.3 and possibly other fixes went in to the master branch but never made it into a V5 release.

In case you are interested in V6 support with zephyr see PR #17629

[2019-07-28 11:54] pabigot commented on #17690
Enough of the issues have been addressed that I'm calling this done.

[2019-07-28 11:54] #17690 closed

[2019-07-28 12:40] ulfalizer commented on #17650
Will look later, unless @galak gets to it first.

Honestly a lot of those macros still feel like random combinations of words to me. Probably a bunch of stuff that could be cleaned up.

[2019-07-28 17:22] n3rd4i commented on #17645
I forgot to mention that I'm using Windows.

[2019-07-28 17:38] pabigot opened #17829 "support default property values in devicetree bindings"
I have a device for which the binding should include a property like this:

[code]
where absence of the property means that no delay is required.

There may be multiple of these devices, so I'd like the driver implementation file to use a trick like this[*]:
[code]

The killer is that `REGULATOR_GPIO_DEVICE(id)` needs to populate a config structure field like this:
[code]

`DT_INST_0_REGULATOR_GPI

[2019-07-28 18:27] pabigot opened #17830 "power rail management in low-power devices"
The following situation demonstrates an apparent functionality gap for low power devices in in-tree target.  (My use case is out-of-tree.)

The Nordic Thingy:52 (nrf52_pca20020) has two GPIO-controlled power rails.  The first is controlled by the SOC GPIO.  On that rail is an SX1509B GPIO controller and a variety of other peripherals.  The second rail, which powers the CCS811, is controlled by a p

[2019-07-28 22:17] andrewboie opened #17832 "x86: update mmustructs.h and x86_mmu.c to support long mode"
arch/x86/include/ia32/mmustructs.h contains all the definitions for page tables. x86_mmu.c has the code for managing page tables.

Right now, this only implements page tables for PAE on 32-bit x86. Need to add support for 64-bit page tables as well. I think the following needs to be done:

1. X86_MMU_GET_* macros should take a pdpt pointer for PAE, and a pml4 pointer for long mode
2. When long mod

[2019-07-28 22:29] ioannisg commented on #17007
There have been some recent MPU fixes in #17603: @jfischer-phytec-iot, could you check if this still needs MPU to be disabled, in order to work?

[2019-07-28 22:31] andrewboie opened #17833 "read-only memory domain partitions may affect supervisor mode on some arches"
The intent of the memory domain APIs is to control access to memory regions to user mode. However, in some cases, an active memory partition for a user mode thread may affect the kernel during a system call, or if we get an interrupt while that thread is running.

The specific situation is read-only memory partitions. We have a K_MEM_PARTITION_P_RW_U_RO which allows for a read-only partition that

[2019-07-28 22:32] andrewboie commented on #17833
@ioannisg FYI...is the lack of K_MEM_PARTITION_P_RW_U_RO on ARMv8 an actual HW limitation, or did we just not define it

[2019-07-28 22:43] ioannisg commented on #17833
It is a HW limitation (the policy is not allowed by the v8m MPU)

[2019-07-29 03:17] explora26 commented on #17816
Thanks for the fix, I will verify the patch this week.

[2019-07-29 06:30] aescolar commented on #17820
CC @jhedberg @Vudentz

[2019-07-29 06:34] aescolar commented on #17830
CC @carlescufi

[2019-07-29 07:24] #14034 closed

[2019-07-29 07:44] agansari commented on #17007
@MarkWangChinese @jfischer-phytec-iot  i've added a new pull #17834 that should fix USB's MPU access to RAM, not sure about formatting in Windows. Can you please test?
USB is a different master (4) than ethernet (3) @ioannisg.

[2019-07-29 08:54] wentongwu opened #17838 "state DEVICE_PM_LOW_POWER_STATE of Device Power Management"
Currently Device Power Management only support state DEVICE_PM_ACTIVE_STATE and DEVICE_PM_SUSPEND_STATE. And DEVICE_PM_SUSPEND_STATE will be triggered when system will enter into deep sleep state. But for non deep sleep state, device power management will not be considered. State of DEVICE_PM_LOW_POWER_STATE requires less time than DEVICE_PM_SUSPEND_STATE, so I suggest to schedule state DEVICE_PM_

[2019-07-29 08:55] wentongwu commented on #17838
@pizi-nordic could you please give some comments, thanks a lot.

[2019-07-29 09:27] KwonTae-young commented on #14066
I am mainly using STM32F4.
In STM32F4, `stadnby mode` and `watchdog` can not be used at the same time.
The power was automatically reset by the `watchdog` even if switching to `standby mode`.

I am using `RTC Backup Register` to solve this problem because I did not use RTC function.
The RTC Backup Register is a register that can not be initialized by System reset.
So I am using the RTC Backup Regi

[2019-07-29 09:41] anangl commented on #15611
@pabigot
Two doubts from my side.

1. Regarding `get_raw(p)`. Is this bullet:

really necessary, will such functionality be useful? Maybe we could remove it and hence simplify the API by allowing using `get_raw(p)` only for pins with enabled input?

2. Regarding GPIO- vs interrupt-controlled pins.

I am not convinced that we should distinct such two modes for pins, and basing on them disallow part

[2019-07-29 09:50] nvlsianpu commented on #15831
@andrewboie I believe this is already fixed - can you confirm and close the issue?

[2019-07-29 09:51] nvlsianpu commented on #16773
^^ yes, this was covered in PR mentioned above.

[2019-07-29 09:51] #16773 closed

[2019-07-29 09:59] IRISZZW commented on #17794
in test_gmtime function[test_gmtime.c], struct tm tm is a uninitialized local variable. and tm.tm_isdst is never used. so the value of tm.tm_isdst is inscrutable.
and struct tm *tp is pointed to a static static struct tm shared which defined in gmtime function[gmtime.c]. although shared.tm_isdst is never used, but it will initialize to 0 by z_bss_zero function.

[2019-07-29 10:26] #17534 closed

[2019-07-29 10:33] pabigot commented on #15611
@anangl Thanks for the careful reading.

For the semantics of interrupt versus GPIO configuration I represented my understanding based on the goal of moving towards PINMUX functionality where interrupt functions are separated (to some degree) from GPIO functions.  From earlier discussions I understood that on some hardware a pin configured to be an interrupt mode may not support GPIO operations.

[2019-07-29 10:45] gon1332 commented on #14066
Thanks for the time to get our opinions.
We are using the STM32L4 series for our product.
As for your request:

Like @psidhu

We use both fixed and unfixed sleep duration. Unfixed sleep duration is used e.g. when we want the device to be waken up from a radio module, when the network is awake, or a sensor that has a strange reading. OTOH, fixed sleep duration are implemented with the help of RTC.

[2019-07-29 11:02] anangl commented on #15611
@pabigot Both (B) and (C) are OK to me, my point was just to not go with (A). (B) seems to be a bit better option, since there are pieces of hardware providing dedicated registers for toggling (no need to read the output state then). It shouldn't be that hard to agree on how to support toggling in the GPIO API.

[2019-07-29 11:08] pabigot commented on #15611
You are an optimist.

A minimal impact way to do it is to define toggle as the behavior specified when a bit is set in both the `set_bits` and `clear_bits` parameters to the fundamental set-clear operation.  As there were reasonable objections to that based on it being obscure, and I think adding an explicit toggle operation is over-engineering, I still prefer (C).

[2019-07-29 11:10] #15116 closed

[2019-07-29 11:12] vanwinkeljan commented on #17816
Reopened issue as it needs the fix of PR #17824

[2019-07-29 11:46] joerchan commented on #17732
Added PR for 1#
2# should be handled by different issue.

[2019-07-29 11:54] anangl commented on #15611
I agree and I think this is a good way to go. Such semantic may seem a bit "exotic" at first glance, but after you think of it a bit, you realize that it is a good way of utilizing a configuration possibility that has to be checked anyway, but instead of returning an error, providing a nice feature for it. To me this is mainly a question of describing it properly in the documentation, so that it i

[2019-07-29 12:27] cvinayak opened #17843 "Bluetooth: controller: v1.14.x release conformance test failures"
**Describe the bug**
Fix BT LL TS 5.1 test case failures

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52840_pca10056 ../samples/bluetooth/hci_uart
3. make

**Expected behavior**
Pass all conformance tests

**Impact**
showstopper

**Screenshots or console output**
-

**Environment (please complete the following information):**
 - OS: Linux
 - Toolc

[2019-07-29 17:15] #15831 closed

[2019-07-29 17:16] ulfalizer commented on #17829
Only skimmed, but would making `startup-delay-us` obligatory work? The description string could mention that 0 works and means no delay.

[2019-07-29 17:32] pabigot commented on #17829
That's what I'm going to do, but it's not ideal since the common case is there is no delay and so no need for the property to be specified.  It just clutters the devicetree source.

This is at least the third time I've had a situation where I want a property to be optional in the device tree because I can infer a reasonable default in the driver from other information.  This is the first time I've

[2019-07-29 18:08] #17591 closed

[2019-07-29 18:18] embeddedt commented on #17816
That's correct. After a release all bugfixes are put in `master`.

[2019-07-29 18:20] #17816 closed

[2019-07-29 18:23] ulfalizer commented on #17829
Yeah... just spent a while trying to make an `IS_ENABLED()`-like macro for it, before I realized why it's tricky (can't tell whether something is the result of a macro replacement or not). :P

Seems like a reasonable feature now, even if some `#ifdef`s might not be horrible in that case.

[2019-07-29 20:50] ioannisg commented on #17007
@MarkWangChinese @jfischer-phytec-iot can you test this patch?
Thanks @agansari

[2019-07-29 22:40] gnuless opened #17851 "riscv/m2gl025: timer tests broken"
**Describe the bug**

It seems that 669730f030ae36a428b696e2210f6d521747ad6c from #16782 has introduced some regressions in timer-related tests for the m2gl025 board.

In order to reproduce locally with `sanitycheck`, the `renode` emulator must be installed on your system. Then just `$ sanitycheck -p m2gl025_miv` and behold the failures the below.  Backing out to f288d1e4a73c75938c702736bab73b19b9

[2019-07-29 23:16] andrewboie commented on #17851
To reproduce, need to install 'renode'. I did this on my Ubuntu 18.04 system:

1. Add mono repository at https://www.mono-project.com/download/stable/#download-lin
2. Then install the .deb at https://renode.io/#downloads

Once renode is installed and in PATH, sanitycheck automatically starts using it.

[2019-07-29 23:17] andrewboie commented on #17851
Seems to have been broken after this commit https://github.com/zephyrproject-rtos/zephyr/commit/669730f030ae36a428b696e2210f6d521747ad6c

[2019-07-29 23:19] andrewboie commented on #17851
@kgugala @andyross pinging you guys as owners of RISCV and kernel timing, respectively

[2019-07-30 02:30] MarkWangChinese commented on #17007
Yes, I do one simple test, it seems fix the issue. I will do more testes later (today), and give the result.

[2019-07-30 02:38] andrewboie commented on #17023
@camicarballo hold off on this.
I've found deeper problems with dynamic threads, and we may have to remove them entirely.

[2019-07-30 02:42] chen-png opened #17852 "Cmsis_rtos_v2_apis test failed on iotdk board."
**Describe the bug**
The cmsis_rtos_v2_apis test failed on iotdk board, we found that it will occur "Zephyr fatal error 2: Stack overflow" when running cmsis_rots_v2_apis test.

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. west build -b iotdk -p=auto tests/cmsis_rtos_v2
3. screen /dev/ttyUSB0 115200
4. west flash

**Screenshots or console output**
![image](https://u

[2019-07-30 03:09] andyross commented on #17851
Looks like the root cause is a SoC bug.  From soc/riscv32/riscv-privilege/miv/Kconfig.defconfig.series:

[code]

Needless to say a 660 kHz processor is going to have a **really** rough time reliably delivering a default tick rate precision of 10 kHz.

There is an (AFAICT otherwise unused) "clock-frequency" DTS setting for this board of 66 MHz, which looks much more reasonable.

We could surely als

[2019-07-30 03:15] andyross commented on #17851
Oh, and I should also mention: I think renode is a cycle simulator and doesn't use host realtime like qemu does.  But if that's wrong not then 10 kHz will never work and we need to set this to 100, as is done on qemu targets.  I still no basically nothing about renode.

[2019-07-30 03:19] gnuless commented on #17851
If that's the case, maybe we should use it instead of qemu and save ourselves future grief.

.... only half-joking here.

[2019-07-30 04:27] andrewboie opened #17853 "kernel panic in tests/kernel/sched/schedule_api kernel.sched.multiq"
This is an intermittent issue which I believe exposes a bug in the multiq scheduler.

This is the full log:
[code]

The bug is the panic in test_priority_scheduling.
This panic ONLY occurs if the earlier test_slice_reset case fails. If that case passes, then test_priority_scheduling proceeds without incident. test_slice_reset fails intermittently in QEMU, I had to run this a few times to get it to

[2019-07-30 04:29] #17166 closed

[2019-07-30 06:45] ioannisg commented on #17007
Thanks @MarkWangChinese , let us know of the result of your testing!

[2019-07-30 07:21] ioannisg commented on #17787
FYI @MaureenHelm @bwitherspoon

[2019-07-30 08:22] MariuszSkamra opened #17857 "GATT: Incorrect byte order for GATT database hash"
**Describe the bug**
bt_smp_aes_cmac uses BE data, while Core 5.1, Vol 3, Part F, 3.3.1 says
"Multi-octet fields within the GATT profile shall be sent least
significant octet first (little-endian) with the exception of the
Characteristic Value field. The Characteristic Value and any fields
within it shall be little-endian unless otherwise defined in the
specification which defines the characterist

[2019-07-30 08:29] MarkWangChinese commented on #17007
I did the test and it solved this issue.

[2019-07-30 08:54] ioannisg commented on #17007
Then it seems we are good to go FWIW, I ran the complete sanitycheck on frdm-k64f on the related PR, to confirm that no tests are affected.

[2019-07-30 09:20] mrusme commented on #4028
It would be very helpful if there was a little bit more than [this](https://docs.zephyrproject.org/1.9.0/kernel/other/cxx_support.html) to understand better how to use C++ with Zephyr and *which* C++ standard is actually supported. Maybe I'm overlooking something here.

Could anyone provide further details about which C++ standard (98, 03, 11, ...?) is currently supported and maybe give a tiny `He

[2019-07-30 10:08] #17007 closed

[2019-07-30 10:20] MariuszSkamra opened #17861 "Tester application lacks BTP Discover All Primary Services handler"
**Describe the bug**
The GATT Discover All Primary Services was introduced in zephyrproject-rtos/zephyr#9986.
The tester application still lacks support for it.

**Impact**
Cannot automate GATT/CL/GAD/BV-01-C test case.

[2019-07-30 10:42] loicpoulain commented on #16739
A bus like SPI is generally push-pull, I don't fully understand the root cause of this issue, any input or official recommendation from ST is welcome here. Moreover, I suspect adding a pull (up/down) increases consumption during active transfers and **may** cause issue at highest speeds due to the created low pass filter, though it needs to be calculated.

[2019-07-30 10:47] #16574 closed

[2019-07-30 11:47] mrusme opened #17864 "cpp_synchronization sample not working on nucleo_l476rg"
I used the code from the [cpp_synchronization](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/cpp_synchronization) sample in this repo to flash it onto my Nucleo L476RG. When I look at the output of the Nucleo after flashing the binary, it only shows one `main: Hello World!` and nothing else. From how I understood the code it should continuously switch between `main` and the thre

[2019-07-30 12:06] mrusme commented on #17864
Okay, it seems to have been my fault. The sample does work indeed, however the documentation was a bit unclear to me, as it looks like it's required to add `-- -DCONF_FILE=myproject.conf` to the end of the `west build` command like so:

`west build -p -b nucleo_l476rg -- -DCONF_FILE=myproject.conf`

Only them it seems to obey the configuration and enable CPLUSPLUS/PRINTK.

[2019-07-30 12:06] #17864 closed

[2019-07-30 12:14] erwango commented on #16739
One interesting document could be found here:
https://www.st.com/resource/en/application_note/dm00033348.pdf
Though it does not mention anything on pupd pin configuration.
One interesting hint though: deactivate GPIO clock once pin configuration is done.

[2019-07-30 13:15] yashi opened #17869 "Unlocking nested k_sched_lock() cause forced preemption"
**Describe the bug**
`k_sched_unlock()` calls `update_cache()` with `preempt_ok` == 1.  But when `k_sched_unlock()` is to unlock nested lock, it will preempt the current thread even though the caller still holds the scheduler lock.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Get main.c from https://gist.github.com/yashi/517aab09ce16cda537341f5c5d958fac
1. mkdir build; cd build
1.

[2019-07-30 13:24] YuraCobain opened #17870 "Incorrect report received lenght and offset in async API"
During testing of streaming mode using async API inconsistent values for evt->data.rx.len and
evt->data.rx.offset are reported via UART_RX_RDY ready event.
The issue is happened right after switching to the new buffer when current rx is timeout.

Probably the bug is in incorrect check if there is more data to sent to user in following function:
static void rx_timeout(struct k_timer *timer)
{

[2019-07-30 13:40] erwango commented on #17188
@StefJar, I'm looking on how to fix this issue and there is no easy solution as zephyr relies on SysTick as general system clock, while on STM32 there is difference between system clock (SYSCLK) and AHB clock which feeds Cortex SysTick.
This is similar to (some) other vendors solution, difference is they don't allow changing the master clock/core clock prescaler.

So, on STM32, fixing the SysTick

[2019-07-30 13:44] ioannisg commented on #17732
@joerchan your PR will close this issue, though. So we need to report 2# to another issue, right?

[2019-07-30 13:49] ioannisg commented on #17743
@SebastianBoe can you help here?

[2019-07-30 14:00] ioannisg commented on #17324
Still, this needs some fixing. And an assignee @andrewboie

[2019-07-30 14:05] ioannisg commented on #17625
I can't figure out who maintains this intel GPio driver

[2019-07-30 14:35] SebastianBoe commented on #17743
Hi,

a patch to this effect submitted as a PR would be welcome.

Although perhaps it should be applied in zephyr/arch/riscv32/CMakeLists.txt to be consistent with how the -mabi and -march is set in ARM.

[2019-07-30 14:49] chris-makaio commented on #17625
Uh...

But is this priority label of "low" in context of this driver or the whole project?
For this driver it's not low prio, it's a show stopper.
For the kernel, of course, it's not a problem

[2019-07-30 15:00] mrusme opened #17876 "BME680 sensor sample not building"
**Describe the bug**

The sensor sample for BME680 is not building as [described here](https://docs.zephyrproject.org/latest/samples/sensor/bme680/README.html).

I solved this by copying the code into an own project, specifying the following definitions inside the CMakeLists and using cmake/ninja instead of west:

[code]

However, when running the build on the Nucleo board I still get this:

[code

[2019-07-30 15:03] galak commented on #5460
@erwango is this still relevant with the new dts generation scripts?

[2019-07-30 15:05] galak commented on #7213
I think this can be closed now.  Everything is DT_ prefixed or marked deprecated now.

[2019-07-30 15:13] SebastianBoe commented on #7213
I'd prefer to close it when there are no more deprecated symbols being generated.

[2019-07-30 15:30] joerchan opened #17880 "Unable to re-connect to privacy enabled peer when using stack generated Identity"
Fix an issue where the generated identity was not permanantly stored.
This resulted in being unable to reconnect after bonding when using
privacy, since a new local IRK was generated on reboot.

Affects:
CONFIG_BT_PRIVACY=y
CONFIG_BT_SETTINGS=y
Application does not call `bt_id_create`.

Steps to reproduce the behavior:
1. west build -b nrf52840_pca10056 tests/bluetooth/shell
2. Attach 2 boards, an

[2019-07-30 16:10] MariuszSkamra opened #17882 "[zephyr 1.14] Database Out of Sync error is not returned as expected"
**Describe the bug**
In test case GATT/SR/GAS/BV-05-C, step 8 the Database Out of Sync error is not returned as expected on GATT Characteristic Value Read after, the Zephyr GATT database changed.

**To Reproduce**
Steps to reproduce the behavior:
0. Set TPSX_iut_device_name_in_adv_packet_for_random_address = tester
1. Run bluetooth/shell application
2. bt init
3. gatt register
4. bt clear all (as

[2019-07-30 16:12] carlescufi commented on #15611
API meeting:

[code]

[code]

[2019-07-30 16:28] StefJar commented on #17188
good point
I am currently rebuilding an old firmware new on zephyr. That's why I didn't started with any demo board. I took a demo board as template and created my own board. For it's setup I used the old projects CubeMX template.

imho I think it is a bit confusing if you are using an STM std CubeMX tool to figure out the clk parameters and they are not compatible with Zephyr.

by setting:

[code

[2019-07-30 16:41] Vudentz commented on #17882
Hmm maybe you just want to toggle the metrics so that guarantees a new hash is generated, I can have a look tomorrow.

[2019-07-30 16:54] Vudentz commented on #17882
It does look like we are reseting change-aware flag which should trigger the right error, so we may need some logs here.

[2019-07-30 17:04] andrewboie commented on #17869
Good catch, once addressed we should transplant your example code to a test case to ensure this stays fixed.

[2019-07-30 17:11] galak commented on #8499
edts work handled by PR #17660

[2019-07-30 17:14] #17262 closed

[2019-07-30 17:16] #17419 closed

[2019-07-30 17:21] aescolar commented on #17869
CC @andyross

[2019-07-30 17:25] carlescufi commented on #9904
This is well in progress for 2.0. The relevant PR in question is https://github.com/zephyrproject-rtos/zephyr/pull/17155 by @andyross

[2019-07-30 17:30] ioannisg commented on #17870
@YuraCobain Could you indicate the platform you have used?

[2019-07-30 17:37] #17532 closed

[2019-07-30 17:44] galak commented on #17381
I think this should be fixed with the new generation code, if I swap the compat order in `boards/arm/reel_board/reel_board.dts` we generate defines for both compats.

[2019-07-30 17:53] MariuszSkamra commented on #17882
it appeared to be 'registered' flag not be cleared when calling "gatt metrics off"

[2019-07-30 18:04] ioannisg commented on #17288
Looks like this is fixed. Correct @cvinayak

[2019-07-30 18:04] #17288 closed

[2019-07-30 18:06] ioannisg commented on #17092
This seems to be already merged. Right @Vudentz

[2019-07-30 18:06] #17092 closed

[2019-07-30 18:25] pabigot commented on #17381
This worked correctly when I tested the new code before merge, so we'll call it good.

[2019-07-30 18:25] #17381 closed

[2019-07-30 18:34] gnuless opened #17888 "arch/x86: remove IAMCU ABI support"
We no longer have any real targets that use this ABI, only a qemu target.  We should remove support to clean up the arch code.

[2019-07-30 19:03] YuraCobain commented on #17870
I am using particle xenon(nrf52840).

[2019-07-30 19:23] pfvogel opened #17891 "fs/nvs: nvs_init can hang if no nvs_ate available"
**Describe the bug**
While running on a simulated flash file system, nvs_init() failed to return.  Inspection with debugger shows that it stuck in an infinite loop.

**To Reproduce**
Calling nvs_init() on flash file system with no "free" sectors.

**Expected behavior**
If no free space available, return an error.

**Impact**
Potential malfunction of firmware on startup.

**Screenshots or console o

[2019-07-30 19:27] ioannisg commented on #15588
I think this question was answered. @ghost please, reopen if needed.

[2019-07-30 19:27] #15588 closed

[2019-07-30 19:32] ioannisg commented on #6817
I don't know if an answer here is relevant any more.
However, Zephyr Kernel allocates one stack per thread (so no stack sharing). Interrupt stack is shared, however. No plans AFAIK

[2019-07-30 19:32] #6817 closed

[2019-07-30 19:34] #9047 closed

[2019-07-30 19:42] ioannisg commented on #12119
64bit has been added already. @Mani-Sadhasivam pls, re-open if needed.

[2019-07-30 19:42] #12119 closed

[2019-07-30 20:59] gnuless opened #17892 "arch/x86: clean up segmentation.h"
`include/arch/x86/ia32/segmentation.h` needs to be reworked and cleaned up.  The primary goal is to eliminate the use of anonymous unions, which are a violation of our (emerging) coding standard.

[2019-07-30 21:24] andrewboie opened #17893 "dynamic threads don't work on x86 in some configurations"
Dynamic threads are an optional userspace feature; if CONFIG_DYNAMIC_OBJECTS is enabled, a thread may call `k_object_alloc(K_OBJ_THREAD)` which returns a usable `struct k_thread` pointer. This pointer is no more than 4-byte aligned; Zephyr does not have a heap which allows returning aligned pointers.

On x86, thread->arch may have members which require alignment. Currently this happens if CONFIG_E

[2019-07-30 21:34] gnuless commented on #17892
@apboie if you end up moving forward with this before I do, please grab this issue so we don't duplicate work.

[2019-07-30 21:47] ioannisg commented on #17692
@GeeseHoward please, re-open, if needed, to continue discussion

[2019-07-30 21:47] #17692 closed

[2019-07-30 21:49] ioannisg commented on #15679
@Jxudong please, re-open, if needed , to continue discussion

[2019-07-30 21:49] #15679 closed

[2019-07-30 21:50] ioannisg commented on #15625
@gatzka please, re-open, if needed, to continue discussion

[2019-07-30 21:50] #15625 closed

[2019-07-30 21:57] ioannisg commented on #11740
@PhilippFinke please, re-open, if needed, to continue discussion

[2019-07-30 21:57] #11740 closed

[2019-07-30 21:59] ioannisg commented on #7503
@therealprof please, re-open if needed, to continue discussion

[2019-07-30 21:59] #7503 closed

[2019-07-30 22:10] #17650 closed

[2019-07-30 23:45] albertofloyd opened #17897 "k_busy_wait not working when using 32KHz timer driver"
k_busy_wait results in inaccurate delays causing MEC1501 I2C driver to always report timeout.
This breaks I2C tests in this board.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2.  cmake -DBOARD=mec15xxevb_assy6853
3. make

**Expected behavior**
k_busy_wait should result in expected delays.

**Impact**
This affects behavior from drivers relaying in k_busy_wait.
Additi

[2019-07-30 23:47] albertofloyd commented on #17778
@scottwcpg  This PR only resolves https://github.com/zephyrproject-rtos/zephyr/issues/17897
Lets address this k_sleep issue inaccuracy issue in in a different PR.

[2019-07-30 23:51] andrewboie opened #17899 "tests/kernel/mem_protect/stackprot/kernel.memory_protection fails on nsim_em"
[code]

[2019-07-31 00:01] andrewboie commented on #17853
Hmm mot specific to multiq, as I have discovered. The regular scenario can fail like this as well:

[code]

In this case, the crash occurred during a z_thread_priority_set() call, in set_child(). The thread pointer is valid.

Like the other case, a previous test had to fail.

[2019-07-31 03:02] fabled opened #17902 "Support Quad SPI in internal SPI API"
The current SPI API `drivers/spi.h` allows to advertise Dual and Quad SPI support via `SPI_LINES_DUAL` and `SPI_LINES_QUAD`, but it does not provide needed means to tag direction of the each transfer part.

The problem is that in Dual and Quad mode there are several wires which direction needs to be configured properly (for In or Out) for each sub block of the data transfer. Also often the initial

[2019-07-31 05:29] andrewboie commented on #17853
Seen on ARM this is not x86 specific:

[code]

[2019-07-31 06:33] ioannisg commented on #17794
@chen-png @IRISZZW  I wonder if you could quickly check the provided bug-fix PR, #17889 and see if it solves this issue.

[2019-07-31 06:59] erwango commented on #17188
@StefJar,

What was the CPU load with previous setting? Also, I'm curious with which tool you're measuring this.

[2019-07-31 07:06] ioannisg commented on #13196
@mike-scott are you planning to push this feature for 2.0 release?

[2019-07-31 07:14] erwango commented on #5460
Tested and working indeed.
One question though, I tested setting `category: required` to a `type: boolean`. If prop is not present, no message is generated. @ulfalizer is that an intended behavior?

[2019-07-31 07:40] ioannisg commented on #14683
@andrewboie I would like to know if you plan to work on this for 2.0, or whether we can move this to the following release.

[2019-07-31 08:21] mrusme commented on #17876
@carlescufi maybe you could just point me into the right direction in regard of the defines I mentioned above, so that I know what values they should be set to in order for this to work, so I can figure it out on my own and in the best case set a PR to this repo? :)

Thanks a lot!

[2019-07-31 08:40] menglingao1997 opened #17907 "BLE Mesh when resend use GATT bearer"
Hello EvenyBody:
 When I use GATT Bearer to control node with phone. The node sends the long packet at the transport layer, and then is split and sent. The mobile phone sends back an ACK response, but the ACK response does not contain all the response packets, so the node will resend the split packet it thinks is lost. The node calls the function ‘’‘bt_mesh_net_resend‘’‘ to send the retransmitted

[2019-07-31 08:45] chen-png commented on #17794
Yes, the bug-fix PR #17889 has sloved this issue. Thanks.

[2019-07-31 08:45] #17794 closed

[2019-07-31 09:10] andrewboie commented on #17897
@scottwcpg would be the best person to work on this

[2019-07-31 09:30] carlescufi commented on #17876
@mrusme you need to add a BME680 to your Device Tree file I believe.
@jhn-nordic, @joakimtoe, @jtguggedal or @MaureenHelm can hopefully help you out here

[2019-07-31 09:32] ioannisg commented on #15985
@franciscomunoz @albertofloyd ping

[2019-07-31 09:39] nvlsianpu commented on #17891
@pfvogel

Calling nvs_init() on flash file system with no "free" sectors.

Can I ask you for more details about exact nvs configuration and state?
- Does state was: nvs contains N sectors. N-2 sectors are closed, one sector is open and full, one -sector is empty (it is the sector which takes role of scratch during GC)?
- value of N?

Maybe you have code to reproduce the issue you can share?

[2019-07-31 09:46] StefJar commented on #17188
ups - I meant MCU load.

I am using following settings
[code]

So the MCU is printing at the uart the MCU workload every 2000msec.

[2019-07-31 09:53] nvlsianpu commented on #17891
I see that this issue will be encountered if the last `ate` is close to `data`. Close mean that gap between is smaller than the `ate size`.

[2019-07-31 09:57] mrusme commented on #17876
Thanks for the hint. I checked [the documentation](https://docs.zephyrproject.org/latest/guides/dts/index.html?highlight=device%20tree) but did not see a way to **extend** the existing device tree for a board with a sensor that was additionally added over I2C (apart from creating a "new" board and including the sensor within the DTS maybe, although this might lead to having to back-merge all chang

[2019-07-31 10:28] carlescufi commented on #17876
@mrusme the options you have are:

1. Define your own board (see [here](https://docs.zephyrproject.org/latest/guides/porting/board_porting.html))
2. Add a `nucleo_l476rg.overlay` to your application with the BME680 node, as described [here](https://docs.zephyrproject.org/latest/application/index.html#device-tree-overlays)

[2019-07-31 10:55] anangl commented on #17488
@aolowin @jfischer-phytec-iot I think we've got a couple of things causing this issue. First one is, as @jfischer-phytec-iot rightly points out in #17492, the endpoints should not be disabled when the device enters the Suspended state. I think that also USB transfers should not be canceled in this case, see https://github.com/zephyrproject-rtos/zephyr/pull/17492#pullrequestreview-268918115. And la

[2019-07-31 11:34] ioannisg commented on #17870
@Mierunski can you follow-up on this bug report?

[2019-07-31 11:55] tbursztyka commented on #17902
Isn't this too low level to be exposed to the user? The way in/out SPI lines are wired is hardware specific so that would be configured once on the pinmuxer and that would be it, no?

[2019-07-31 12:00] nvlsianpu commented on #17891
Sector might be valid while this happens. I thin solution will be to count data position (so read each ate, what happens anyway) and iterate until gap space is available.

[2019-07-31 12:09] erwango commented on #17188
@StefJar , I wonder about your clock configuration:

[code]
This should give you
CPU freq = 24000000 * N / M / P =  96000000

While you set:
[code]

You should set `CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC` to match  PLL settings (and vice versa).

Btw what CPU load are you getting initially?

[2019-07-31 12:23] fabled commented on #17902
No. The direction needs to be dynamically changed within single transaction. See e.g. https://en.wikipedia.org/wiki/Serial_Peripheral_Interface#Quad_SPI. The client needs to craft the transaction and make request saying "send bits ABC in single wire mode" and those are command + address that enable quad mode, then the next portion needs to be buffer saying "rest X bits are to be (input | output) i

[2019-07-31 12:24] #17732 closed

[2019-07-31 13:04] IRISZZW commented on #17852
This exception caused by violation stack memory access, as arc hardware stacking has been enable by default.

in function osThreadGetStackSpace called in <zephyr_root>/tests/cmsis_rtos_v2/src/thread_apis.c line 87, it will read from the unallocated stack region, which is not allowed.

you can disable arc hardware stacking use menuconfig.
(Top) → ARC Options → ARCv2 Family Options

![image](https:/

[2019-07-31 13:07] StefJar commented on #17188
Originally my MCU load was after boot 0% and went to 11-7% if I was streaming data.

I quickly check via gdb were the firmware winds it's self up:

[code]
After the boot a anc chip if configured via i2c. Seems the change of AHB scalors/coretex clk breaks it. Possibly the i2c having problems with it's clk calculation. My i2c1 setup at the dts file is:

[code]

For me looks that the SYSCLK/HCLK/Core

[2019-07-31 13:25] #17857 closed

[2019-07-31 13:37] erwango commented on #17188
@StefJar, ok, sounds better.

Not sure it will impact your case, but can you use the following PR also:
https://github.com/zephyrproject-rtos/hal_stm32/pull/19

[2019-07-31 13:58] erwango commented on #17188
@StefJar, had a quick test using nucleo_f412zg with following config:
[code]
I2C1 works fine using `I2C_BITRATE_STANDARD`.
Testing `samples/shields/x_nucleo_iks01a1`, I get a CPU load reported to 1%.

Only difference would be the HSE_BYPASS.

To sum up your issue, if you change the following to above config (+ the AHB prescaler patch), it works fine?
[code]

On my side, I get the same result in bo

[2019-07-31 14:24] galak commented on #5460
If the prop is not in the dts?  Than this is correct behavior as a 'boolean' is allowed to not exist in the .dts

[2019-07-31 14:25] MarekPieta opened #17920 "Bluetooth: Security problem"
**Describe the bug**
`bt_conn_cb` - `security_changed` is called with requested security level even if establishing security fails. Information about error may only be found in logs.

**To Reproduce**
Connecting peripheral and central, establishing security (`bt_conn_security(conn, BT_SECURITY_MEDIUM)`). Even if security fails, application receives security changed callback (level 2). Information

[2019-07-31 14:26] galak commented on #7213
works for me.

[2019-07-31 14:26] MarekPieta commented on #17920
@carlescufi, @joerchan

[2019-07-31 14:26] galak commented on #7213
NOTE: This issue is practically closed, but we can officially close it once we remove the old deprecated defines that we are generating in what will be release 2.0.0

[2019-07-31 14:30] #17363 closed

[2019-07-31 14:33] mike-scott commented on #13196
Nope.  This didn't make the cut. Can bump back to 2.1.

[2019-07-31 14:39] pabigot commented on #5460
Note that in this special case a define is generated for `DT_PROPERTY=0`, unlike other property types where the absence is indicated by no generated define.  This is a little inconsistent, but can be dealt with.

[2019-07-31 14:42] nvlsianpu commented on #17891
@pfvogel Can you test below patch?
https://github.com/nvlsianpu/zephyr/commit/b91410d97b10eee1cac07556390bb0c5b284680d

I want to add a test for the issue, this is why I didn't open PR jet.

[2019-07-31 15:09] mike-scott commented on #16318
I will look at this today.

[2019-07-31 15:10] mike-scott commented on #13197
This is implemented in https://github.com/zephyrproject-rtos/zephyr/pull/17710

[2019-07-31 15:13] carlescufi commented on #17876
@mrusme if you solve the problem by adding the node to DT, can you close this issue?

[2019-07-31 15:19] mike-scott opened #17922 "Driver: modem helper should make it easier to implement a modem"
**Is your enhancement proposal related to a problem? Please describe.**
The current modem receiver driver is pretty bare bones.  It does the UART buffering in a ring buffer and allows the modem drivers to pull data in nice chunks.  It does not abstract the command parser, sockets to communicate between the modem and Zephyr, pin config settings, etc.  What this means is that each modem has quite a

[2019-07-31 15:19] mike-scott commented on #17922
I plan to submit a PR for this before August 9th feature freeze cut off.

[2019-07-31 15:24] mrusme commented on #17876
@carlescufi I guess this could be closed then, yes. I would re-open another issue, if something with the DT overlay would not work. Nevertheless it maybe should be documented somewhere. Let me fiddle around with it further, if I manage to get it working I'll set a PR with the changes to the docs.

[2019-07-31 15:24] #17876 closed

[2019-07-31 15:26] psidhu commented on #17902
Might as well tack on octo-spi to this request as well.

[2019-07-31 15:29] Laczen commented on #17891
Hi @pfvogel , @nvlsianpu, I think this problem is not so easy to solve, it has been introduced by the sector close are. It can appear if you write the fs full and finish with a delete. In that case the sector is completely filled and an empty ate will not be found. In this special case the closing ate could be used
to find the last ate.
But even in this case there still is a problem, what if the c

[2019-07-31 15:45] mike-scott commented on #17922
Adding a few people who have been interested in modem work:
@weinholtendian
@WilliamGFish
@rerickson1
@cybertale

[2019-07-31 15:47] mike-scott commented on #17922
@Oanerer

[2019-07-31 15:56] andyross commented on #17188
So... I'm gathering from above that the consensus is that the root cause here is board/soc-level misconfiguration of clock rates?  Anyone mind if I take myself off the assignee list?  Who's the correct board owner to get this fixed?

[2019-07-31 15:58] loicpoulain commented on #16739
Indeed, it deserves a try!

[2019-07-31 16:04] ioannisg commented on #15657
I would very much like to get this into 2.0 @andrewboie; please, give a status update on this :)

[2019-07-31 16:10] andrewboie commented on #14683
I am doing this for 2.0.

[2019-07-31 16:25] StefJar commented on #17188
I am not sure - for me it seems that are some side effects if I am running my stm32f412 with a different clk cfg than the dev boards of zephyr.

If I got it right @erwango found an issue with setting the AHB prescaler not to one (https://github.com/zephyrproject-rtos/zephyr/issues/17188#issuecomment-515482946)

He was saying that he didn't like to roll in a patch because he fears desynchronise iss

[2019-07-31 16:35] mike-scott commented on #17922
@Swij

[2019-07-31 16:37] andyross commented on #17869
Definitely a bug.  I don't think it was ever expected that a sched lock was a preemption point at all, that argument should be false.  Alternatively, we should deprecate the API entirely -- it's not SMP-safe (that is, it prevents the current CPU from preempting your thread and can maybe be productively used for some purposes, but it's not a "lock" as it says nothing about what the other CPU is goi

[2019-07-31 16:38] jhedberg commented on #17907
How is it possible that not all packets are acknowledged? GATT is a reliable bearer without packet loss, unlike advertising. That said, I do agree it's odd behaviour that resending happens over a different bearer, so this should probably be fixed no matter what.

[2019-07-31 16:41] andrewboie commented on #15657
@ioannisg unsure if I'll get to this for 2.0. I haven't started it.
My highest priority remaining work for 2.0 is #14206 and #14683
Let me see what I can do though, this one might not take too long.

[2019-07-31 16:45] andrewboie commented on #17869
Yeah I think people were using this mostly as an alternative to irq locking, I'd be OK with throwing a __deprecated tag on these, they should really use a semaphore or something in most cases

[2019-07-31 17:47] ioannisg commented on #13602
@GregBurns please, re-open, if needed, to continue dicsussion

[2019-07-31 17:47] #13602 closed

[2019-07-31 17:47] ioannisg commented on #12228
@zzzh please, re-open if needed, to continue discussion

[2019-07-31 17:47] #12228 closed

[2019-07-31 17:49] #6816 closed

[2019-07-31 17:51] ioannisg commented on #14599
@hexiangdong2017 please, re-open if needed, to continue discussion

[2019-07-31 17:51] #14599 closed

[2019-07-31 18:14] andrewboie commented on #17851
@nategraff-sifive who's the right person to work on this? This is blocking a lot of people's PRs since this is broken in master

[2019-07-31 18:23] andyross commented on #17851
Sorry, I didn't realize this was actually breaking CI.  FWIW: if the earlier rate was working at 660 kHz, then it's probably enough to add something like this (completely untested) as a temporary fix:

[code]

[2019-07-31 18:30] nategraff-sifive commented on #17851
@andrewboie My first thought would be @mgielda and the folks at Antmicro.

[2019-07-31 19:08] aep opened #17923 "SPI1 on nrf52_pca10040 is dead by default"
**Describe the bug**

on the nrf52_pca1004, spi1 doesn't seem to work out of the box using the CAN example, and its unclear how to configure it.

according to boards/arm/nrf52_pca10040/nrf52_pca10040.dts

[code]

but these pins are dead

mcp2515-dts.overlay seems to reference SPI1, unless i'm mistaken

[code]

**To Reproduce**

1. west build -b nrf52_pca10040 samples/drivers/CAN  // & flash
2. att

[2019-07-31 19:55] aep commented on #17923
works fine in master. this is only broken in the @NordicPlayground fork (which has no way to report bugs? @nordic-krch )

any chance the nrf91 will be supported by upstream, since nordics fork seems kind of unmaintained.

[2019-07-31 19:55] #17923 closed

[2019-07-31 20:56] aep opened #17926 "CAN | nrf52 | device tree error: zephyrproject/zephyr/dts/bindings/can/microchip,mcp2515.yaml (in 'reg'): 'category' from !included file overwritten ('required' replaced with 'optional')"
i'm trying to get samples/drivers/CAN working with the nrf52

apparantly you need to enable CAN explicitly in menuconfig, which is already confusing because   prj.conf has CONFIG_CAN=y , but by default all i get is "CAN: Device driver not found."

after enabling the driver, the device tree overlay doesnt seem to be compiled in

[code]

however, the mcp2515-dts.overlay file seems broken, because if

[2019-07-31 21:22] ulfalizer commented on #17926
CC @karstenkoenig

[2019-08-01 00:46] menglingao1997 commented on #17907
I agree with you that GATT is a reliable transmission bearer. There is theoretically no packet loss, but this is happening. The most critical issue now is the need to fix the problem of retransmitting data on different bearer.

[2019-08-01 02:53] chen-png commented on #17852
@IRISZZW Yes, you are right. I add one line in the zephyr/tests/cmsis_rtos_v2/prj.conf,
        +    CONFIG_ARC_HAS_STACK_CHECKING=n
and then the issue has been solved.

[2019-08-01 03:48] albertofloyd commented on #15985
Will submit fix tomorrow

[2019-08-01 06:29] nwsetec commented on #17415
Hi @ioannisg @nvlsianpu,
Unless another fix has gone into the v1.14-branch then the #17446 fix for this bug should be merged for the 1.14.1 release.  I don't believe Declan will have the time to provide the test request in [PR comment](https://github.com/zephyrproject-rtos/zephyr/pull/17446#issuecomment-509936297).
Thanks

[2019-08-01 06:52] jukkar commented on #16318
Please, only one assignee otherwise it is not clear who will start to look at it.

[2019-08-01 06:59] erwango commented on #5460
Fine with me then. Let me close this point.

[2019-08-01 06:59] #5460 closed

[2019-08-01 06:59] jukkar commented on #17926
I think the DTS overlay file is suppose to be set in cmake command line so that user can override it easily.

[2019-08-01 07:24] erwango commented on #17188
@andyross, you're right, issue seems soc/boards specific. I think the best is to clos this issue and open a new one with updated title and description.
@StefJar can you do that? You can add a reference to the current issue not to lose history.

Yeah, I did. Test ran all night. Btw, are you using interrupts in your I2C driver? I am actually.

[2019-08-01 07:27] menglingao1997 opened #17932 "BLE Mesh When Friend Send Seg Message To LPN"
When a **friend node** needs to send **large message**, it is reasonable to send all the segment message of high transport layer message, but as shown in the code below, **only the _first packet_ is stored in the friend queue, and then the program _terminates inexplicably_, then the _other Where did the data packet go_?**
[code]

[2019-08-01 07:34] erwango commented on #17188
@StefJar , hold on closing this PR. I'll send a patch to prevent use of AHB prescaler different from '1'. This will close current issue. Please open a new one for the issue you're currently seeing with AHB set to '1'.

[2019-08-01 08:26] xiaoliang314 opened #17936 "Bluetooth: Mesh: The canceled buffer is not free, causing a memory leak"
When I repeatedly provision a mesh device, system reported that the advertising buffer allocate failed.
I seem to found the reason. It is caused by a memory leak, the steps for a memory leak are as follows:
1. mesh/prov.c: bearer_ctl_send create a advertising buffer, finally call bt_mesh_adv_send to pend the advertising packet to the advertising queue and add reference count.
2. mesh/prov.c: In a

[2019-08-01 09:27] aescolar commented on #17932
@menglingao1997 Thanks for this bug report.

When filling bug reports, please try to follow the bug report template.

Instead of copying Zephyr code into the report link to the file, line and version where you observe the issue. In this case:
https://github.com/zephyrproject-rtos/zephyr/blob/583226a83328b00f385bdf6c11e2f0df0a1453be/subsys/bluetooth/mesh/transport.c#L299-L427

When referring to you

[2019-08-01 09:47] StefJar commented on #17188
actually after the latest I2C patch I get the

`i2c_ll_stm32_v1.msg_end: stm32_i2c_msg_write: ERR 1`

message. Seems that the I2C got broken.

If @erwango want's I can open an issue for that

[2019-08-01 09:51] erwango commented on #17188
@StefJar , please do, current issue will be closed by #17938.
Please provide the SHA1 in use in the new issue you'll create

[2019-08-01 09:54] jhedberg commented on #17932
Thanks for the report. It seems you're right - the `return 0;` should in fact be a `continue;`. Are you able to send a pull request for it?

[2019-08-01 12:37] nvlsianpu commented on #17891
@Laczen How to achieve state of storage described above? Apparently I missed something.

[2019-08-01 12:44] Laczen commented on #17891
@nvlsianpu, I think you can achieve this by writing the same 8 byte structure (e.g 2 u32_t) again with different id until the fs is full. Once you have reached this you write a delete of the last id. If you then restart I think you will get this situation.

[2019-08-01 13:15] MariuszSkamra opened #17944 "[zephyr 1.14] LE Enhanced Connection Complete indicates Resolved Public once connected to Public peer address"
-
**Describe the bug**
PTS test case GATT/SR/GAS/BV-04-C, GATT/SR/GAS/BV-07-C require pairing. PTS connects with Public address type, but distributes IRK during pairing.
[code]
Host adds PTS to Resolving list with IRK distributed.
[code]
PTS reconnects and initiates pairing again using Public address type
[code]
The controller indicates the Peer address type: Resolved Public (0x02). This should be

[2019-08-01 13:32] MariuszSkamra commented on #17944
[sniffer_traces.zip](https://github.com/zephyrproject-rtos/zephyr/files/3456940/sniffer_traces.zip)

[2019-08-01 13:59] galak commented on #17829
I'm not a fan of this approach, if a default is desired, just have the value set in the .dts file.

[2019-08-01 14:03] nvlsianpu commented on #17891
https://github.com/nvlsianpu/zephyr/commit/66460acd08226bee55d346c2e7878ea3eac52d8b#diff-e1cabdfdfe297813e46c8ed0df375340R490-R518

@Laczen I added test you mnetioned. Unfortuantallly it assert on nvs_delete call in line 514.
`

[2019-08-01 14:05] pabigot commented on #17829
@galak is that a "reject" or merely "I don't like it but won't block it"?  I was about to start using this #17928, but if it's not acceptable I won't waste my time.

[2019-08-01 14:07] MarekPieta opened #17948 "Bluetooth: privacy: Reconnection issue"
**Describe the bug**
When peripheral has privacy enabled, central tries to connect to inconnect peripheral local identity (scanning is based on address filters).

**To Reproduce**

- Using local identity on peripheral device.
- BT_PRIVACY and BT_CTLR_PRIVACY enabled on peripheral.
- Central has disabled privacy and enabled SCAN_WITH_IDENTITY.

Devices bonded on peripheral ID 2, then disconnected.

[2019-08-01 14:08] StefJar opened #17949 "stm32 i2c driver has problems with AHB_PRESCALER, APB1_PRESCALER, APB2_PRESCALER"
I am running Zephyr on my own board. This is based on the stm32f412.

After having problems with setting up the AHB prescalors, I am now ran into I2C problems.

@erwango fixed the AHB prescalors problems in: https://github.com/zephyrproject-rtos/zephyr/pull/17938

Now having this fix put into action I am facing I2C errors.

it comes down that:

[code]
fails
but
[code]
works

The rest cfg is set to

[2019-08-01 14:09] MarekPieta commented on #17948
@joerchan, could you look at this one, please ?

[2019-08-01 14:10] StefJar commented on #17188
I am closing that issue. thx for @erwango for the fix
Opened i2c related bug at issue (https://github.com/zephyrproject-rtos/zephyr/issues/17949)

[2019-08-01 14:10] #17188 closed

[2019-08-01 14:20] scottwcpg commented on #15985
Pushed PR 17950 to fix.

[2019-08-01 14:23] StefJar commented on #17949
enabling the isr

`CONFIG_I2C_STM32_INTERRUPT=y`

solves the error with

[code]

[2019-08-01 14:27] pabigot opened #17951 "RFC: update FS API for readdir consistency"
The filesystem `fs_readdir()` API does not specify whether the special directory entries `"."` (representing the current directory) and `".."` (representing the parent directory) are included in the results.

Existing file systems FatFS (by default) and NFFS (always?) do not produce these directories in the underlying function.  littlefs [does produce them](https://github.com/ARMmbed/littlefs/issu

[2019-08-01 14:38] Laczen commented on #17891
@nvlsianpu, took me some time to realize: this is normal: filling_id was never written so it cannot be deleted, the delete call should be filling_id - 1.

[2019-08-01 14:39] pabigot commented on #11922
Looks like calibration and reference voltage APIs are now both present, so if there's a problem with them that can be a new issue.

[2019-08-01 14:39] #11922 closed

[2019-08-01 15:12] nvlsianpu commented on #17891
@Laczen

I corrected the  ID to existing one - results was the same.

[2019-08-01 15:14] nvlsianpu commented on #17891
Error is -ENOSPC
[code]

[2019-08-01 15:25] nvlsianpu commented on #17891
@Laczen From code I see that delete entry is not treated specially in nvs_write() - it is normal that sector_freespace can be equal 0 while writing it.

[2019-08-01 15:28] nvlsianpu commented on #17891
^^ https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/fs/nvs/nvs.c#L811-L818

[2019-08-01 15:52] #16739 closed

[2019-08-01 15:52] #15444 closed

[2019-08-01 15:53] Laczen commented on #17891
@nvlsianpu, I think it is impossible to write a sector full so that there is no empty ate: ate_wra is updated each time a write is performed and is already pointing to an empty ate area. The free_sector_space check makes sure that there is at least one ate space.

So probably the bug is something different.

[2019-08-01 16:27] pfvogel commented on #17891
I think one (probably unusual) possible way the sector could look full is if the flash data area had not been erased prior to first use, say if the data area was moved from one area to another.  The nvs_init wouldn't succeed, so nvs_clear can't be called either.  Having a specific error return value from nvs_init for this case would allow the code to call a flash erase routine if this case is enco

[2019-08-01 16:39] galak commented on #17624
So I think this are kinda in sync, its more that some platforms don't use CONFIG_SRAM_SIZE at all.

Right now we define it for ARC || ARM || NIOS2 || X86 || X86_64 and get it from DTS.  So its the fact that NATIVE_POSIX, XTENSA, and RISCV do they're own thing for memory is the issue.

https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/Kconfig#L95

[2019-08-01 16:50] Laczen commented on #17891
Hi @pfvogel, do you think this is what happened ?

If so a check could be added to nvs_init to make sure that addr does not go below 0.

[2019-08-01 16:58] pfvogel commented on #17891
In the test case that I ran, the flash area was uninitialized, so I think that was what happened.
[nvs_init_hang.zip](https://github.com/zephyrproject-rtos/zephyr/files/3457845/nvs_init_hang.zip)
I added a small test case that runs under sanitycheck for the native posix environment that showed my original problem.

[2019-08-01 17:47] mike-scott commented on #4634
per @jukkar:

[2019-08-01 18:08] karstenkoenig commented on #17926
the overlay file can be added with -DOVERLAY_FILE=/home/foo/bar/whatever-dts.overlay to the cmake call, it seemed to be the way to go when I've added this file to the sample. As the mcp2515 is an external controller it needs to be 'added' to the device tree by the user and can not just be hardcoded to the MCU or the board file :-|
That's also why it needs to be adjusted for the nrf52 with differen

[2019-08-01 18:10] qiutongs opened #17956 "Is POSIX I/O supported on peripheral?"
**Is your feature request related to a problem? Please describe.**
I want to know if zephyr supports POSIX I/O on any peripherals, like UART, I2C, SPI.
From what I find in the source code, it seems zephyr only has POSIX I/O for file system but not peripherals. Can you confirm this in case I miss anything?

**Describe the solution you'd like**
If what I find is true, is there any plan that zephyr w

[2019-08-01 18:42] andrewboie commented on #11172
Hi @timork was just wondering if you had anything to share.

[2019-08-01 18:58] #15985 closed

[2019-08-01 19:03] yenWu commented on #15246
Same problem here. I tried to build the sample(hello world) on RISCV qemu. But the DTC:FILEPATH link to the local `dtc`.
[code]
So I manually replaced it with `/opt/zephyr-sdk/sysroots/x86_64-pokysdk-linux/usr/bin/dtc`, and it worked. But I failed to reproduce it. It seems there might be an unexpected condition which makes it link to local `dtc` in cmake files.

[2019-08-01 20:11] ioannisg commented on #16089
@tbursztyka pls, try the patch in #17847 and report if this fixes the bug :)

[2019-08-01 20:12] mike-scott commented on #4634
I'll try and target adding LwM2M to check_net_options for v2.1

[2019-08-01 23:22] #17483 closed

[2019-08-01 23:49] andrewboie commented on #17956
Currently there is no generic file descriptor access to Zephyr peripherals, you need to use the driver subsystem APIs to interact with them.

I know of no current plans to change this.

[2019-08-01 23:58] andrewboie commented on #13441
Two of these sub-items resolved by https://github.com/zephyrproject-rtos/zephyr/pull/17959

[2019-08-02 01:09] #16770 closed

[2019-08-02 01:12] andrewboie commented on #17586
Dropping this to 'low' there's some discussion on whether this is actually needed, since simply being able to read the kernel's stack canary value is enough to bypass this mechanism.

[2019-08-02 02:30] menglingao1997 opened #17962 "BLE Mesh Recommended memory allocation due to who is assigned who releases the strategy"
**Example**

When allocate a buffer,the free operation should also be performed within the function, rather than pushing the responsibility to other layers.
https://github.com/zephyrproject-rtos/zephyr/blob/14db558939db60731d8d25a8c2e7788c528b6647/subsys/bluetooth/mesh/transport.c#L118-L155

https://github.com/zephyrproject-rtos/zephyr/blob/14db558939db60731d8d25a8c2e7788c528b6647/subsys/bluetooth

[2019-08-02 02:33] qiutongs commented on #17956
Thanks for confirmation.

[2019-08-02 02:33] #17956 closed

[2019-08-02 03:38] andrewboie commented on #13074
Overall design:

Let N equal the number of regions available in the MPU hardware.
Some regions will need to be pinned to always be active, as there is not much to be gained by making them not active:

- The active thread's stack buffer
- Program text / ROM

The set of active MPU regions for any given thread needs to be stored in thread->arch. Let us call this set X. On context switch, this set wil

[2019-08-02 06:30] tbursztyka commented on #16089
I'll try to find some time next week, too busy atm.

[2019-08-02 06:43] chen-png opened #17965 "kernel/sleep/ test failed on reel_board."
**Describe the bug**
Running test suite sleep on reel_board,  it failed with error message "elapsed_ms <= UPPER_BOUND_MS is failed, overslept".

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b reel_board -p=auto tests/kernel/sleep/
2. west flash

**Screenshots or console output**
![image](https://user-images.githubusercontent.com/52983984/62349001-02696f80-b531-11e9-8cff-23261b1

[2019-08-02 07:07] erwango commented on #17949
Tested I2C(w/o interrupts) ok on nucleo_f412zg with similar clock settings.
Difference would be the use of external HSE, bypassing the HSE Oscillator.

[2019-08-02 07:40] chen-png opened #17967 "drivers/pwm/pwm_api test failed on frdm_k64f board."
**Describe the bug**
Running suite pwm_basic_test on frdm_k64f board, it failed on the pwm_cycle test, we can see the error message "Fail to set the period and pulse width".

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b frdm_k64f -p=auto tests/drivers/pwm/pwm_api/
2. west flash

**Screenshots or console output**
![image](https://user-images.githubusercontent.com/52983984/6235

[2019-08-02 07:40] Mierunski commented on #17870
I'll need more information on this:
- Are you using UART or UARTE?
- If you are using UARTE, are you using hardware RX byte counting? (UART_0_NRF_HW_ASYNC)
- What is the baudrate?

[2019-08-02 08:00] Vudentz commented on #17800
All we do in the host is to convert to over the byte order if needed:

 	cmd->handle = sys_cpu_to_le16(handle);

Im surprised this even compile though.

[2019-08-02 08:17] YuraCobain commented on #17870
Here is the configuration of my serial driver:
#
# Serial Drivers
#

# CONFIG_UART_0_NRF_HW_ASYNC is not set
CONFIG_UART_NRFX=y
CONFIG_UART_0_NRF_UARTE=y
CONFIG_UART_0_ASYNC=y
CONFIG_UART_0_NRF_TX_BUFFER_SIZE=32
CONFIG_NRF_UARTE_PERIPHERAL=y

Baudrate is 115200.

[2019-08-02 08:23] MariuszSkamra commented on #17800
"In case that the remote (G)ATT is notifying of the error, it would be great to trigger the write callback."
There shall be no response (even ATT Error Response to this command).

Core 5.1 Vol 3, Part G, 4.9.1 Write Without Response
"If the Characteristic Value write request is the wrong size, or has an invalid
value as defined by the profile, then the write shall not succeed and no error
shall be

[2019-08-02 09:03] MariuszSkamra opened #17971 "[zephyr 1.14] Unable to register GATT service that was unregistered before"
**Describe the bug**
There is a bug in GATT population of services. One is unable to register service that has been unregistered and was not the last one service in database.
Note that registrer/unregister of last added service works well

**To Reproduce**
Steps to reproduce the behavior (btshell):
1. bt init
2. gatt metrics on
3. gatt register
4. gatt metrics off
5. gatt metrics on
6. See ```<err

[2019-08-02 09:45] tbursztyka commented on #17902
@fabled I see, so the flags related to this feature should be part of spi_buf structure and Kconfig controlled, since most of spi controllers do not support this: it would be a waste of 4bytes in spi_buf if such flag attribute was always present.
Let's try to make it for 2.1

[2019-08-02 10:40] fabled commented on #17902
Sounds good! Alternative would be to split off some bits from the `size_t len` field, but separate flags field sounds good too. If making it conditional on Kconfig, then it's probably best to introduce macro accessors for the client and driver side for the conditional items to avoid `#ifdef` flood in code files.

[2019-08-02 10:47] #17851 closed

[2019-08-02 10:53] paulgavrikov commented on #17800
It's not wrong size, nor invalid value. It is a nonexistent handle but I am not that familiar with the GATT spec so maybe it is defined somewhere else.

[2019-08-02 12:34] menglingao1997 opened #17977 "BLE Mesh When IV Update Procedure"
**According to the specification, IV update procedure **_`only`_** be initiated by any node is a member of the primary network, but it is not checked in the code.**

https://github.com/zephyrproject-rtos/zephyr/blob/9336e3ee2cbf3da70f2634822c99e344ff51bb65/subsys/bluetooth/mesh/net.c#L728-L782

https://github.com/zephyrproject-rtos/zephyr/blob/9336e3ee2cbf3da70f2634822c99e344ff51bb65/subsys/blueto

[2019-08-02 13:16] MariuszSkamra commented on #17800
Basically you have two types of ATT transactions:
ATT Request <-> ATT Response
ATT Command
the difference is that there is not response to ATT Command.

[2019-08-02 14:01] joerchan opened #17979 "Security level cannot be elevated after re-connection with privacy"
**Describe the bug**
The init address in the connection object is wrong when connected to a peer resolved with controller based privacy.
It should contain the on-air address used to establish the connection. Instead it contains the identity address of the peer with the identity type bit set i.e address type is 0x02 or 0x03.

This has 2 problems:
1#
Pairing procedure cannot be performed, for exampl

[2019-08-02 14:29] pabigot commented on #17951
See: https://github.com/zephyrproject-rtos/zephyr/pull/17749#discussion_r309771674

which supports option 2 so POSIX compliance and other users of the abstraction don't have to deal with inconsistent lower-level behavior.

[2019-08-02 15:04] nvlsianpu commented on #17891
@pfvogel  https://github.com/zephyrproject-rtos/zephyr/pull/17982

[2019-08-02 15:09] nvlsianpu commented on #17891
@pfvogel Can you agree that issue you discovered is another manifestation fo this bug: https://github.com/zephyrproject-rtos/zephyr/issues/16899?

[2019-08-02 15:15] pfvogel commented on #17891
Yes, it looks like the same issue.

[2019-08-02 15:34] pdunaj opened #17983 "Bluetooth: Re-establish security before notifications/indications can be sent"
**EDIT**: This issue has been hijacked. The original issue was actually a problem on the applicaiton side, but we reuse this one to cover what is described in [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/17983#issuecomment-526572654)

-------
Old description

**Describe the bug**
See `notify_connected` in `subsys/bluetooth/host/conn.c`.
When all callbacks are executed gatt is

[2019-08-02 18:59] #17586 closed

[2019-08-02 19:32] #13441 closed

[2019-08-02 21:17] andrewboie commented on #17782
_main_tss doesn't have the expected data in it, everything is zeroed. Expecting to see the .ss0 and .esp0 fields set.

[code]

[2019-08-02 21:57] andrewboie commented on #17782
_main_tss is supposed to look like this:

[code]

[2019-08-02 22:12] andrewboie commented on #17782
Past a certain point, all memory is filled with 0xFF. What is special about address 0x460670 that it starts happening there?

[code]

[2019-08-02 23:46] andrewboie commented on #17782
The physical address where _main_tss is copied from 0xa1990 is within the area for video memory 0x000A0000  - 0x000FFFFF!!

https://wiki.osdev.org/Memory_Map_(x86)

Incredible that we have not run into this before, live and learn..this only happens if the built application text/ROM size is very large, which happens on these network tests

[2019-08-03 00:07] andrewboie commented on #17783
This appears to be fixed by #17989

[2019-08-03 00:08] andrewboie commented on #17323
Many of these are fixed by #17989

[2019-08-03 00:08] andrewboie commented on #17784
This appears to be fixed by #17989

[2019-08-03 00:15] andrewboie commented on #17323
With #17989 applied, we are down to three failing tests:

[code]

[2019-08-03 02:07] menglingao1997 opened #17990 "BLE Mesh When IV update test procedure"
https://github.com/zephyrproject-rtos/zephyr/blob/0440a815a91b83bdb27e272b9770f558c1b8975c/subsys/bluetooth/mesh/net.c#L672-L678

When `CONFIG_BT_MESH_IV_UPDATE_TEST` not enable, and `BT_MESH_IVU_TEST` flag is enable, must ignore the limit of IV duration.but just as above code show, does not meet specifications.

[2019-08-03 02:36] andrewboie opened #17991 "Cannot generate coverage reports on qemu_x86_64"
[code]

Impact: we are not able to determine code coverage of the kernel on an SMP-enabled system

[2019-08-03 10:30] aescolar commented on #17990
CC @jhedberg

[2019-08-03 10:34] jhedberg commented on #17990
The `BT_MESH_IVU_TEST` flag can only be changed using the `bt_mesh_iv_update_test()` API, and that API is only available when `CONFIG_BT_MESH_IV_UPDATE_TEST=y`, so I don't see any issue here - the flag cannot be set if the Kconfig isn't also set.

[2019-08-03 17:57] mnkp commented on #17102
I've updated #16648 to partially address issued discussed here. In particular I've added `gpio_pin_interrupt_configure()` function which allows to configure interrupts independently from the main GPIO pin configuration. As a result interrupt can be configured on pins controlled by a peripheral different than the GPIO module (as a workaround until we have a proper pinmux driver). I've also added `g

[2019-08-04 05:17] menglingao1997 commented on #17990
You are right,I mistake.

[2019-08-04 05:17] #17990 closed

[2019-08-04 16:25] pabigot opened #17996 "BUILD_ASSERT not active in three of five shippable platforms"
Lack of a terminating semicolon after a `BUILD_ASSERT()` macro in a push to #17749 was diagnosed only in two platforms; three shippable builds plus my development environment didn't see it and passed.

I'm wondering if the recent appearance of these messages, captured from an initial `west build` targeting nrf52840_pca10056, in conjunction with the description in #8160, is why three of five shippa

[2019-08-04 16:43] pabigot opened #17997 "fix extern "C" use throughout Zephyr"
Inspired by #17993, the latest in an unending series of patches to fix broken C++ support, I did:
[code]
That's at least 303 include files in the Zephyr tree that probably get this wrong, i.e. have an `#include` within the first ten lines after an `extern "C"` block.  Excluding `ext/hal` (found in atmel, nordic, nxp, openisa, ti) reduces it to a mere 88.

As long as Zephyr claims C++ compatibility

[2019-08-04 21:49] mrusme opened #17998 "STM32 (Nucleo L476RG) SPI pins floating"
Not sure whether that's a bug or simply me holding it wrong, but since there's so little documentation available on this I cannot figure out what's going on. I'm using the following code to test:

[code]

My prj.conf looks like this:

[code]

After deploying this on the L476RG, I'm measuring the voltage on CN8/A2 (-> PA_4), as this is documented to be [the default CS pin used by Zephyr](https://do

[2019-08-05 05:38] jiapei100 opened #18002 "Flash using open source stlink, instead of SEGGER jlink?"
Hi, all:

It seems I cannot install **JLink v648b**:

[code]

Is it possible to set the **flash tool** from [SEGGER jlink](https://www.segger.com/products/debug-probes/j-link/) to [stlink](https://github.com/texane/stlink)?

Cheers
Pei

[2019-08-05 07:04] vanwinkeljan commented on #18002
Once you made a build you can use the west flash command to list the available _runners_ and select one that suits your needs
[code]

One question on the jlink install issue, any reason why you did not install the missing dependencies (`sudo apt-get install -f` )?