[2018-05-14 14:28] MaureenHelm commented on #7460
I got the unicorn too. Chrome and IE11 on Win10.

[2018-05-14 14:33] MaureenHelm commented on #7460
Tagged the priority as low so it doesn't block the zephyr 1.12 release. In reality it's a higher priority than that, but it's not something we can fix ourselves.

[2018-05-14 14:52] dleach02 commented on #7516
+1, I'm starting down this path right now to figure out how to integrate support for BLE on the NXP KW41 platforms. The BLE controller code is a binary blob that comes from NXP and won't be able to be hosted on the Zephyr repository due to legal restrictions.

[2018-05-14 14:55] ulfalizer commented on #7499
Working on https://github.com/zephyrproject-rtos/zephyr/issues/6879 now. Getting that fixed will help with some copy-paste action here.

[2018-05-14 15:35] avisconti commented on #7508
@MaureenHelm
It seems already fixed by commit 3ff4065cb3ad2490183bc0d60cb985c7e4c3b9e0
Thanks to Andy Gross!

[2018-05-14 15:49] mike-scott commented on #7503
@therealprof This is the case where the server is presenting the endpoint data as "rd/<registered end point name>" in 1 LOCATION_PATH option vs. splitting up them up into 2 options ("rd" "<registered end point name").

How long would be a good retry timeout period for errors like this vs. non-response/timeout errors which restart the registration process the next processing cycle (about 1 second)?

[2018-05-14 15:51] mike-scott commented on #7500
@jukkar I have a feeling this is net_app specific.  But, I'll look through the LwM2M client code to be sure.

[2018-05-14 15:52] mike-scott commented on #5781
@jukkar I don't think any of the LwM2M changes would affect the ability to tear down and rebuild the TLS connection in the net_app layer.  I'll retest and post my findings.

[2018-05-14 15:53] mike-scott commented on #3849
Closing this one as a significant amount of memory has been reclaimed from the client.  Can reopen with a more specific issue later if needed.

[2018-05-14 15:53] #3849 closed

[2018-05-14 15:55] mike-scott commented on #3849
See: https://github.com/zephyrproject-rtos/zephyr/pull/7394

[2018-05-14 16:14] Vudentz commented on #7473
@pizi-nordic bt_gatt_attr already takes the bt_conn as parameter with that the application should be able to tell what identity it is using. Also just to be clear here, when it comes to GATT database the stack only manages the attributes of the services it has registered, the only exception being CCCD when registered with BT_GATT_CCC and Id like to keep it like that, if you want any service to hav

[2018-05-14 16:25] pfalcon commented on #6702
This issue was apparently assigned to me by mistake, I'm not the owner of drivers/console/uart_console.c
(I am of subsys/console/). The relevant code was added by Johan un
8683dc4836e78fd233ef55db157e4d3f29be6f68. At the same time, trying to look at CID 183030 says that it has status of "Fixed", even the code looks the same as before. Fairly speaking, even the original error was a bit confusing:

[2018-05-14 16:25] #6702 closed

[2018-05-14 16:27] pfalcon commented on #6686
The story here is the same as in https://github.com/zephyrproject-rtos/zephyr/issues/6702#issuecomment-388878184 . Closing as no longer relevant, as the CID is marked Fixed in Coverity.

[2018-05-14 16:27] #6686 closed

[2018-05-14 16:33] dbkinder opened #7519 "Verify CODEOWNERS (not) including subfolders is intended"
If I read [the CODEOWNERS documentation](https://help.github.com/articles/about-codeowners/) right :), we may not be using the correct syntax for specifying folder owners for reviews:

    boards/x86/*       matches files in any folder named boards/x86, while
    boards/x86/        matches files in that folder AND any subfolder

I suspect all the ``.../*`` references should be ``.../`` (without th

[2018-05-14 16:43] andyross commented on #6498
Saw this came up again on the mailing list. As diytronic explains above: NRF51 devices have power consumption requirements that mean that the system clock will simply never be able to produce timing information of this precision in a way that Zephyr can expose as a straightforward API.  If the clock has to be kHZ-scale at idle, there's just no way to get the main timer (i.e. k_cycle_get_32(), and

[2018-05-14 17:01] pizi-nordic opened #7520 "Feature request: Timer management API"
The generic timer API provided by the Zephyr does not abstract low-level timer properties, which are essential in low power embedded applications. As result the user is not able to fully utilize hardware capabilities.

We can easily identify four key parameters of each hardware timer in the system:
- Resolution
- Accuracy
- Power Consumption
- Start-up Time

Depending on the use case and current s

[2018-05-14 17:02] pizi-nordic commented on #7520
CC: @carlescufi @cvinayak

[2018-05-14 17:10] ydamigos commented on #7349
PR #7498 was merged.

[2018-05-14 17:10] #7349 closed

[2018-05-14 17:16] mike-scott opened #7521 "Website: git clone instructions refer to old (v1.10.0) tag"
At the bottom of the page:
https://www.zephyrproject.org/developers/

There are instructions for checking out a tag of the Zephyr codebase:
[code]
They are referring to v1.10.0 tag which is not current.

I wonder if this could be auto-updated each release.

[2018-05-14 17:38] mike-scott commented on #7503
Sounds good.  I'll setup a patch once my queue settles down a bit.

Hmm, I should look at making this change when my bootstrap support patches land.  I'll keep this issue open till then.  My current local tree has bootstrap support as optional so we would still need to handle a case where bootstrap wasn't supported and we end up in a "bad" state.  Perhaps the exponential backoff works here as well

[2018-05-14 17:47] #7495 closed

[2018-05-14 18:16] andyross commented on #7520
Noting for posterity that such a feature is likely to interact in complicated ways with tickless kernel support, which in some sense speaks to exactly the same use cases and should be unified.  Honestly tickless is a little bitrotten right now -- really we should be using it by default on most platforms where support is available.

[2018-05-14 18:41] IotPanorama commented on #7076
After adding the configuration parameters i got a build error (screen shot has been attached
![sensor](https://user-images.githubusercontent.com/29814622/40016366-b9d73c5e-57d3-11e8-9a80-668608690b5f.png)
) .
So I added to following in prj.conf
CONFIG_I2C_0_IRQ_PRI=7

Now Its working completely fine.

[2018-05-14 19:06] pfalcon commented on #6098
Addressed (explicitly ignored) in https://github.com/zephyrproject-rtos/zephyr/pull/7517

[2018-05-14 19:06] #6098 closed

[2018-05-14 19:18] pfalcon commented on #6100
Addressed by https://github.com/zephyrproject-rtos/zephyr/pull/7526

[2018-05-14 19:18] #6100 closed

[2018-05-14 19:20] pfalcon commented on #6094
Addressed by https://github.com/zephyrproject-rtos/zephyr/pull/7526

[2018-05-14 19:20] #6094 closed

[2018-05-14 20:06] mike-scott commented on #3848
DTLS has been implemented for a while.  I'm updating this issue name to reflect that only bootstrap is due

[2018-05-14 21:19] #7309 closed

[2018-05-14 21:25] mike-scott commented on #7500
Adding @pfalcon to this issue.

I've traced this issue into the IP stack where we *change* the IP address of an existing interface where the unicast addr_type is set to: NET_ADDR_OVERRIDABLE and the incoming address type is NET_ADDR_DHCP:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/net_if.c#L1965

In this case, we may have called net_conn_register() on the existing IP ad

[2018-05-14 21:28] nashif commented on #7480
@ramakrishnapallala please take a look at this.

[2018-05-14 21:31] mike-scott commented on #7500
A debug of FRDM-K64F connecting to public Leshan LwM2M server: https://hastebin.com/gogicuruwi.go

Highlights from the log:

[net/app] [INF] setup_ipv4: IPv4 address: 192.0.2.1 (using the static IP set in CONFIG_NET_APP_MY_IPV4_ADDR)
[net/ctx] [DBG] net_context_bind: (0x20003a58): Context 0x20001c94 binding to UDP 192.0.2.1:60843 iface 0x20008380 (called from _net_app_set_net_ctx() in net_app.c)
[

[2018-05-15 05:14] anangl commented on #7076
@IotPanorama Can we close this issue then?

[2018-05-15 05:42] nashif commented on #6621
fixed, closing

[2018-05-15 05:42] #6621 closed

[2018-05-15 05:57] #7076 closed

[2018-05-15 06:09] nashif commented on #5943
any update on this?

[2018-05-15 06:29] nashif commented on #7508
fixed, closing

[2018-05-15 06:29] #7508 closed

[2018-05-15 06:34] nashif commented on #7316
ztest with native_posix is what meant here. The mocking interface has been duplicating many of the interfaces introducing empty headers and noop functions and it is becoming difficult to manage. Using ztest with native_posix platform gives us the native executable for unit testing without having to replicate the system. I did not see much users of this, do you have cases in mind where this would b

[2018-05-15 07:31] therealprof commented on #7500
Yes, that's what I tried to say. Binding to IP addresses is a special case rather than the norm and I'm not sure we'll ever need that in a MCU based setup.

[2018-05-15 07:40] Laczen commented on #7413
Hi @nvlsianpu, I am currently looking into adding a NVS backend for the settings module. Are you going to address all items as proposed ? If not, what items will you be removed from the list.

For the NVS backend I am thinking of doing it in the following way: settings items are stored with ID above 0x8000, at 0x8000 the highest item ID that is used is stored. For each stored setting the name+valu

[2018-05-15 07:53] nashif commented on #7097
2 options I can see now:
1. keep the choice and set this per board
2. remove the choice completely and make it selectable in SoCs.

[2018-05-15 08:01] nashif commented on #1583
lowering, a limitation rather than a bug

[2018-05-15 08:10] nvlsianpu commented on #7413
@jhedberg analyzed this when I had been introducing the settings - not possible to do so as the initialization required readiness of FS+flash_driver or FCB+flash_map+flash-driver.For FCB-backend it would be possible if more priority level of Subsystem initialization were available. For FC-backend it would required additionally mounting the FS before (automatically).

[2018-05-15 08:17] ruuddw commented on #6764
PR #7238 was merged.

[2018-05-15 08:17] #6764 closed

[2018-05-15 08:29] nashif commented on #7460
PR is now merged.

[2018-05-15 08:29] #7460 closed

[2018-05-15 08:34] nashif commented on #7097
opting for option 1 now, revisit this an implement a better solution later. lowering priority for now

[2018-05-15 08:38] nashif commented on #6100
You should not close bugs before the PR fixing them was merged...

[2018-05-15 08:44] nvlsianpu commented on #7413
@Laczen So far I'm working on points 1,2,3,4,6 - it will change a loot. Especial that a backed will need to provide function of type `int (*write_cb)(void *ctx, off_t off, char const *buf, size_t len)` for write an setting item in fragments. Please let me know whether you need to write 'name' separately from value (i don't understand how you gonna to implement backend from  conversation above - bu

[2018-05-15 09:06] b0661 opened #7536 "tests: kernel.timer: fails on riscv32"
tests/kernel/timer/timer_api/kernel.timer fails on qemu_rscv32 on master.

qemu_riscv32              tests/kernel/timer/timer_api/kernel.timer          FAILED: failed
        see: sanity-out/qemu_riscv32/tests/kernel/timer/timer_api/kernel.timer/handler.log
[code]

It also fails on PR #6761

see https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/14908/4/tests

[2018-05-15 09:09] nashif commented on #2452
I think this should be considered as covered by the setting subsystem.

[2018-05-15 09:09] #2452 closed

[2018-05-15 09:14] pfalcon commented on #6100
1. Github is unable to cope with multiple issues #'s in "Fixes:" line.
2. There're multiple Coverity "proxy" issues on github for real Coverity CID's, some are now outdated, and some not covered. Fixes often apply to multiple issues. Summing up, there's a complete mess, the only reasonable way to deal with which is to "mark off" processed issues.

[2018-05-15 09:53] Laczen commented on #7413
@nvlsianpu, my original idea was to make one item that contains a link between a name and a item. I now think this is not so good because this one item will get to large. The backend could then also be similar to the "file" backend, and this is where I would start from. The name would not be separated from the value.

Writing a setting in fragments is a big change, but a nice challenge. Can I inte

[2018-05-15 10:48] pizi-nordic commented on #7473
Thanks @Vudentz. I just wanted to be sure that this feature will be easy to use from application standpoint.

[2018-05-15 10:54] finikorg commented on #7364
@jfischer-phytec-iot @loicpoulain I am thinking to define status_cb() in each function, so we would overcome the problem of common super-smart callback, opinions?

[2018-05-15 11:07] Mras2an commented on #7502
Hi,
I have the same issue!

[2018-05-15 11:15] pfalcon commented on #7502
Note that there're examples how to use mbedTLS with POSIX sockets: https://github.com/zephyrproject-rtos/zephyr/pull/5985 .

[2018-05-15 11:16] vaussard opened #7541 "arm: struct k_thread->entry is overwritten once the thread is scheduled"
The `struct __thread_entry *entry` pointer in `struct k_thread` is useless for thread monitoring because it is located at the top of the stack and is overwritten by the first push when entering the thread.
1. `pInitCtx` is allocated at the top of the stack
2. `struct __thread_entry *entry` points to `pInitCtx`
3. When swapping the thread, `pInitCtx` is used and then popped
4. Now `struct __thread_

[2018-05-15 12:01] paulgavrikov commented on #7243
@cvinayak I don't think I can create a PR for this repo. But you can checkout [this commit ](https://github.com/zephyrproject-rtos/zephyr/commit/a41f4a7b0cc214daaa1eb20953447900f907e766)

[2018-05-15 12:41] Mras2an commented on #7502
Tkx pfalcon, May you tell me were I can find your example code?
I would like open a socket with mbedtls on the NXP FRDM-K64F board. I have tested the mbedtls_sslclient but it didn't work. Is it possible to use POSIX sockets into this example?

[2018-05-15 12:42] pfalcon commented on #7500
I've read thru the available comments, and still not sure I understand the issue. So, let me start with a few facts instead:

1. Support for being able to use both static address (CONFIG_NET_APP_MY_IPV4_ADDR) and DHCPv4 was added in https://github.com/zephyrproject-rtos/zephyr/pull/5750 , for debugging/demonstration purposes: to let a sample app with the same config to be able to plug both into a

[2018-05-15 12:44] nvlsianpu commented on #7413
@laczen [here](https://github.com/nvlsianpu/zephyr/pull/3) is preveiew of the patch. All encoding works is performed by f. settings_line_write.

[2018-05-15 12:50] jukkar commented on #7500
For servers we typically bind using just a port. But this issue was about client in which case we need to figure out the local address that is used when sending the data.

Anyway, I could reproduce this issue with echo-client in qemu. I have a "fix" for selecting the source address properly although I am not sure if it fixes exactly this issue. I will send the PR shortly for testing.

[2018-05-15 12:58] pfalcon commented on #7500
Few more comments:

I keep hearing this argument, as if "MCU based setup" is so different and new that it requires all the decades of industry's (IP) networking handling redefined. I'd however lean towards a different approach - there's a well defined APIs, semantics in POSIX/BSD Sockets approaches. It should be implemented faithfully. Then it's up to "MCU based apps" authors to implement requirem

[2018-05-15 12:59] therealprof commented on #7500
@pfalcon I've no intention to use such a setup in production, I just happened to stumble into it because it is the default configuration of the example application. However I'm also worried (have not tested it, yet) that this might also apply to IP address changes which happen on the fly, e.g. when the DHCP lease expires and a new one is obtained. I also have not tested IPv6 and/or TCP, only UDP.

[2018-05-15 13:06] erwango opened #7547 "dma: stm32_f4x: check type of transfer is allowed"
Only DMA_2 can perform memory to memory transfer.
If memory to memory transfer is requested to other DMA instance, trigger an error

[2018-05-15 13:11] therealprof commented on #7500
@pfalcon

That's neither what I said, nor implied. To me it is pretty clear that pretty much **any** stack only implements a **subset** of the available standards and the requirements and choice of implemented subsets varies by application.

I think you lost me here. First you're saying the network stack should have all the usual POSIX capabilities but then you're trying to say that this doesn't a

[2018-05-15 13:13] jukkar commented on #7502
When this sample application was created, there was no bsd socket support in zephyr. You are welcome to send patches that convert this app to use bsd sockets.

[2018-05-15 13:27] finikorg commented on #7364
@loicpoulain I think this does not happens because of #7206 but probably due to calling connect media on first interface (0) instead of second (1). I will send patch shortly.

[2018-05-15 13:29] pfalcon commented on #7500
@therealprof :

+1 for that worry. I won't be surprised if the current Zephyr IP stack doesn't handle them. But neither I'm sure that it should handle them, or how other IP stacks deal with various cases like that (stacks of different scale, from embedded, direct competitors of Zephyr, to big systems like Linux, with whose functionality Zephyr won't be able to compete).

That's why I wish there wa

[2018-05-15 13:29] jukkar commented on #7502
The application has bitrotted, I will send fixed prj.conf file shortly.

I followed the steps described in the README file but used qemu instead of real device.

Starting the server in host side:
[code]

And the zephyr side:
[code]

[2018-05-15 13:35] galak opened #7550 "Generate device instance defines from dts"
We should generate a define for each device instance that can be used to replace Kconfig symbols for device instance.  For example disco_l475_iot1 we have something like:

[code]

We should be able to generate defines like:

[code]

I suggest having the '_DTS_' so we don't explicitly conflict with Kconfig symbols that we can't easily replace at this time.

[2018-05-15 13:37] pfalcon commented on #7500
Binding to an IP address is not a special case in any way and is absolutely a norm.

From "main 7 ip":

[code]

As you may imagine, it's not documented what happens: 1) if specific interface, a socket bound to, changes IP address; 2) for INADDR_ANY case, if one of the interfaces changes address; 3) ...; 4) ... .

We can apply "common sense", e.g. for case 2, it seems that new address should have a

[2018-05-15 13:38] therealprof commented on #7500
@pfalcon

Easy: If you have a socket bound to just a port (rather than a specific IP/port, interface/port or even interface/IP/port) then any change of address is completely transparent to the application, in fact there is not even a standard notification mechanism for address changes.

[2018-05-15 13:39] finikorg commented on #7364
@zhaozhongchen could you check my RFC PR mentioned above?

[2018-05-15 13:41] pfalcon commented on #7500
Per the description above (which is based on POSIX), it's impossible to bind to "just a port".

[2018-05-15 13:44] therealprof commented on #7500
@pfalcon

It's a standard functionality but one that does not have any decent use case on an embedded system. IP address binding is done e.g. on servers to get around the number of open sockets problem and it's done on desktops to bind applications to localhost. Those are the two most common uses

You're reading that wrong: INADDR_ANY means exactly that.

[2018-05-15 13:46] zhaozhongchen commented on #7364
@finikorg  sure, I will check it tomorrow

[2018-05-15 13:51] jukkar commented on #7022
Works for me, just tried http-server sample application with native_posix target. Notice that you need to run the binary as a root in order to create the zeth network interface in the host side.

[code]

After this I was able to connect to 192.0.2.1:80 from host side.

[2018-05-15 13:51] #7022 closed

[2018-05-15 13:51] therealprof commented on #7500
That is very far fetched, but okay. Binding a port to an IP address for security reasons is security by obscurity, same as thinking you don't need a firewall because your address is NATed.

Absolutely, which is exactly why I don't want any magic.

[2018-05-15 14:29] b0661 commented on #7550
@galak @erwango

I would like to suggest a more general solution to make active device instances known. The defines should be created for the top level node the device belongs to (usually SOC but may be different). The defines should alias the device define prefix to be used to access all kind of device data.

[code]

To access the label of the second I2C controller you may use:

[code]

In #7213

[2018-05-15 14:38] nashif commented on #7379
@laperie can you please take a look?

[2018-05-15 14:39] nashif commented on #7262
dismissed as false positive

[2018-05-15 14:39] #7262 closed

[2018-05-15 14:40] nashif commented on #6685
dismissed as intentional

[2018-05-15 14:40] #6685 closed

[2018-05-15 14:58] #6372 closed

[2018-05-15 15:05] #7519 closed

[2018-05-15 15:14] #6101 closed

[2018-05-15 15:15] nashif commented on #6670
this is now fixed in #7517

[2018-05-15 15:15] #6670 closed

[2018-05-15 15:31] erwango commented on #6307
@therealprof , I had a try with your toolchain variant and I end up generating the same code as you do.
And back to normal with the DEBUG option.

I'll check what can be done about that.

[2018-05-15 15:36] therealprof opened #7553 "DHCP client does not notice missing link"
The current DHCP implementation seems not to be able to detect link changes (on my Nucleo-F429ZI board). After pulling the cable the interface status remains bound:
[code]

I would expect that the interface recognizes its link state and attempts a RENEW of the lease (if not already expired) as soon as the link is reestablished. This ensures that the network has not changed and the IP address is st

[2018-05-15 15:57] erwango commented on #6307
@jukkar : So according to http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0553a/BABDJJGF.html,
"Unaligned LDM, STM, LDRD, and STRD instructions always fault irrespective of whether UNALIGN_TRP is set to 1."

Compiling frdm_k64f, I find same behavior `strd` are generated with GNU 7.2.1, while with GNU 6.2.0 (Zephyr SDK one), we get strh instructions.

So stm32 is not more strict, but

[2018-05-15 16:29] #3994 closed

[2018-05-15 17:13] nashif commented on #3910
@jukkar can you still reproduce this?

[2018-05-15 17:14] therealprof commented on #6307
@erwango And that's not going to change unless Zephyr provides SDKs for Mac. ;)

[2018-05-15 17:14] nashif commented on #5274
@rveerama1 ping

[2018-05-15 17:16] nashif commented on #5857
@jukka any news on this?

[2018-05-15 17:18] galak commented on #6365
Do you have an example that shows this issue?

[2018-05-15 17:19] nashif commented on #6388
@aescolar-ot @pfalcon  Can we please have a resolution here? Is this going to be fixed/resolved for 1.12?

[2018-05-15 17:37] pfalcon commented on #5857
This is assigned to me, and I was working on streamlined ways to reproduce it - the original logs above were produced with a server written in MicroPython, trying to reproduce it with in-tree samples. But moving in that direction, I faced other issues, like https://github.com/zephyrproject-rtos/zephyr/pull/7476 , so this is backlogged somewhat. I also started to analyze/trace the source code tryin

[2018-05-15 17:49] lpereira commented on #7379
Sure, looking at it now

[2018-05-15 18:11] diegosueiro commented on #6365
@galak ,

I checked the current source of scripts/dts/extract_dts_includes.py and it changed a lot since I raised this issue.

Now, when I set CONFIG_XIP=n in boards/arm/colibri_imx7d_m4/colibri_imx7d_m4_defconfig file, the generated_dts_board.h generation goes through but the compilation fails:
[code]
Basically, the idea is to have both code and data segments in the same memory type. And when I r

[2018-05-15 18:11] jukka commented on #5857
@jukkar

[2018-05-15 18:14] pfalcon commented on #5857
@jukka: Oops, sorry for disturbing!

[2018-05-15 18:46] diegosueiro commented on #6365
@galak ,

If you want I can rebase the PR #6366 and apply this change to scripts/dts/extract_dts_includes.py.

[2018-05-15 19:48] #6625 closed

[2018-05-15 20:20] aescolar-ot commented on #6388
@nashif: If @pfalcon & @d3zd3z were to agree that the proposal above is what they want, I'd be happy to do a PR.

[2018-05-15 21:35] mike-scott commented on #7475
@jukkar How do you recommend setting the local port via the net_app_init_udp_client() function?

A call to net_app_init_udp_client() with a client_addr that has the port set requires a valid sa_family that will later be checked against the remote_addr->sa_family (after parsing).   The remote_addr sa_family can't really be predicted prior to parsing.. so it's unlikely that client_addr check will ma

[2018-05-15 22:25] mike-scott commented on #7475
@jukkar Going a bit further, the only thing that's used from the client_addr passed into net_app_init_client() is the sa_family.  Everything else is ignored.  Setting the port is currently not supported.

[2018-05-15 22:49] mike-scott commented on #7475
@jukkar This is the best I could come up with on the fly to set the port during a call to net_app_init_udp_client():
https://hastebin.com/hicafaqaso.php

Note that the first 2 changes in subsys/net/lib/app/client.c are a bugfix where the port isn't converted back to host byte-order when passing to _net_app_set_local_addr() where it's later converted back to network byte-order.

[2018-05-15 22:55] mike-scott commented on #7475
I can submit this as a PR if you're OK with the approach.  API documentation in include/net/net_app.h probably needs to be updated as well... client_addr == "@param client_addr Local address of the client. If set to NULL, then the API will figure out a proper address where to bind the context."

When it really needs to say something like:
@param client_addr Local family and port of the client. If

[2018-05-15 23:39] mike-scott commented on #7475
Hrm, makes me wonder if we need the client_addr param at all..  no one uses it in Zephyr.  I checked every instance of:
net_app_init_client
net_app_init_udp_client
net_app_init_tcp_client

The client_addr param is always NULL.

Seems like we could replace it with local_port (u16_t) param.  Here's what the patch would look like for that:
https://hastebin.com/ogemopocuz.m
But I'm not sure we want to

[2018-05-16 04:53] ramakrishnapallala commented on #6902
We can close this issue https://github.com/zephyrproject-rtos/zephyr/pull/7225 merged.

[2018-05-16 04:53] #6902 closed

[2018-05-16 04:55] ramakrishnapallala commented on #6719
@eyuval were you able check this from your end. I believe this issue is same as #6984

[2018-05-16 06:59] tbursztyka commented on #3910
That's super old, mcr20a got changes since then (I moved it to new spi api), and it proved to work well in Ravi's RPL BR sample. Let's close this.

[2018-05-16 06:59] #3910 closed

[2018-05-16 07:01] nashif commented on #7389
@tbursztyka can you take a look at this please?

[2018-05-16 07:13] erwango opened #7564 "dtc: define list of acceptable warnings (and silent them with --warning -no<warnign-name> option)"
As discussed in #7013, recent version of dtc checks for a list of syntaxic rules and generate warnings when rules are not applied.

Some of these warnings have been corrected. Some other are not corrected for valid reasons. But then we should provide a way for build logs not to be polluted for these "acceptable deviations".

Here is an example of warning we don't want to solve for a good reason (a

[2018-05-16 07:29] SebastianBoe opened #7565 "zephyr_library_ifdef has unexpected behaviour"
zephyr_library_ifdef is defined like this:

https://github.com/zephyrproject-rtos/zephyr/commit/c674167fea42ba75e795cc4d2dcdbf410f1a2ea7

it is unexpected behaviour for it to modify the callers control-flow (return() out of the CMakeLists.txt file).

[2018-05-16 07:35] rveerama1 commented on #5274
@MaureenHelm yes, I received new hardware (mcr20a) and it works (except GPIO issue which I raised). But original issue still exists "pinmux combination for FRDK-K64F setup for cc2520". Right pins for cc2520 add on board in case of Ethernet also enabled ?
or shall we drop the combination of frdm_k64f + cc2520 add on board support ?

[2018-05-16 07:36] aescolar-ot opened #7569 "test: posix/pthread_rwlock"
tests/posix/pthread_rwlock/portability.posix calls `pthread_attr_destroy()` on the uninitialized, stack allocated, `pthread_attr_t attr[N_THR];` leading to undefined behaviour:
[code]

[2018-05-16 07:41] ramakrishnapallala commented on #7569
I ran this on qemu_x86 and I don't see any issue. test passed. How do i reproduce this?

[2018-05-16 07:44] aescolar-ot commented on #7569
compile for native_posix, and then run the executable inside valgrind
`valgrind --track-origins=yes zephyr/zephyr.exe`

[2018-05-16 07:47] ioannisg commented on #6392
@pizi-nordic

This is, rather, the case when the user either ignores the TEE entirely, or aims at having full access to MCU resources (as you say). The first ensures backwards compatibility (for example, for software that migrates from ARMv7-M/ARMv6-M to ARMv8-M platform with Security Extensions).

In principle, I am fine with having a default mode (COMPATIBLE). This makes the developer more consc

[2018-05-16 07:47] #7500 closed

[2018-05-16 07:50] aescolar-ot commented on #7569
Offtopic:
You can also use a hack like this to have `sanitycheck` run all tests in valgrind, if you prefer to run several tests with `sanitycheck`
[code]

[2018-05-16 08:03] #7459 closed

[2018-05-16 08:04] #7377 closed

[2018-05-16 08:04] jfischer-phytec-iot opened #7570 "usb: update bcdUSB to 2.00"
There is suggestion/need to increase bcdUSB to 2.00. Are all supported controllers USB Rev. 2.0 compliant?

- Kinetis (USBFSOTG) is USB 2.0 full-speed/low-speed compliant
- NRF52 is Fully compliant to Universal Serial Bus Specification Revision 2.0 Full Speed part
- STM32 Cube HAL, are all supported controllers USB 2.0 compliant ~?~ :ok: (STM32F1, STM32F3, STM32F4, STM32L4 USB 2.0 Specification co

[2018-05-16 08:07] carlescufi commented on #7570
CC @pawelzadrozniak, will defer to him

[2018-05-16 08:07] tbursztyka commented on #5274
why dropping? we could just raise an #error message in  relevant file if ethernet is enabled too.

[2018-05-16 08:08] therealprof commented on #7475
@mike-scott

That's the outgoing address, right? Where as the listening address has only limited uses in embedded as mentioned in #7500, the outgoing address might be a whole lot more useful in can the device has multiple interfaces and/or addresses and you want to control exactly which one to use. I'm not surprised at all that no example in Zephyr uses that feature since it constrains the use eve

[2018-05-16 09:01] pawelzadrozniak commented on #7570
There could be a configuration option to choose between 1.1 and 2.0.

[2018-05-16 09:08] therealprof opened #7571 "IP stack can't recover from a packet overload"
I've connected my Nucleo-F429ZI to a reasonably busy network (i.e. a constant flow of broadcast messages which also end up at the network interface of the MCU) and it very soon ends up receiving more packets than it can handle but the main problem is that even if the load lightens the network application doesn't receive any packets anymore and renders the system useless.

After the first occurrenc

[2018-05-16 10:04] jfischer-phytec-iot commented on #7570
Only if there is no other way. e.g. if we have a non 2.0 compatible controller

[2018-05-16 10:15] jukkar commented on #7475
The first proposal looks sane to me, so please send a PR for that one. I do not think it makes sense to convert the client_addr to port like you do in the second proposal as then that would be an API change.

As you noticed the client_addr is always NULL which imho makes more sense than to have user to set the source address. Anyway, if needed the client_addr could be set, but of course this thing

[2018-05-16 10:28] zhaozhongchen commented on #7364
@finikorg #7551 works on my stm32f4 platform

[2018-05-16 10:53] tbursztyka commented on #7389
indeed, buffer's length being an even number should be checked and if not even: that's an error.

[2018-05-16 11:57] tbursztyka commented on #7553
it's more like an ethernet subsystem issue. There is an eth net mgmt event about carrier on/off, but drivers don't implement it yet, so it's never raised, and no code it listening to that event (like dhcp for instance.)

[2018-05-16 12:04] locomuco commented on #7553
following PR is also blocked by that https://github.com/zephyrproject-rtos/zephyr/pull/561

@tbursztyka  what would be the appropriate solution, a link change mgmnt event?

[2018-05-16 12:13] pfalcon commented on #6388
As I mentioned above, the main reason for submitting this ticket was to draw security team's attention to such issues - IMHO, we should have a general policy of dealing with such issues ("settings/code which *can* be a security issue in specific circumstances"), because individual developers' choices are unlikely to be consistent (and will range from doing nothing at all).

I personally would find

[2018-05-16 12:19] tbursztyka commented on #7553
@locomuco see my comments, there is already an event for that on ethernet side (device can be up, but no carrier found. On other bearer is either up/down, and these signals also exist)

[2018-05-16 12:24] tbursztyka opened #7578 "Core Network Buffer management rework"
Current buffer management is far from being optimized and requires a complete rework, moreover now that net_buf allows variable length allocator (or even custom one)

- [x] Serialize 15.4/BT/6lo packet transmission
 i.e.: instead of fragmenting/compression/framing the whole packet at once, let's do it fragment after fragment (if transmission fails early, at least host cpu won't have lost time in p

[2018-05-16 12:44] rveerama1 commented on #6564
@tarunkum Provided a fix https://github.com/zephyrproject-rtos/zephyr/pull/7580, I have tested with above configuration files with echo_server and echo_client running on two frdm_k64f boards also between qemu. Works fine.

[2018-05-16 12:59] jukkar commented on #7423
I do not see any handshake failures but sometimes I have seen similar thread crash. I will investigate the crash further.

[2018-05-16 13:00] punitvara commented on #3384
Cc @ramakrishnapallala

After analyzing and debugging the issue further, we have come to the following conclusion:

The reason for failure:
BMI160 has option to set the output data rate(ODR) frequency. Based on this frequency only interrupts gets triggered from the device. If the frequency is higher then the interrupt occurrence rate is higher.
Though the device supports frequencies upto 1600 Hz,

[2018-05-16 13:41] #6564 closed

[2018-05-16 14:33] laperie opened #7584 "Migrate CoAP implementation to sockets API"
As a part of the Zephyr Networking API rework we need to update all major protocols to be based on sockets.h instead of net_app/net_context.

[2018-05-16 14:34] laperie opened #7585 "Migrate HTTP to socket API"
As a part of the Zephyr Networking API rework we need to update all protocols to be based on sockets.h instead of net_app/net_context.

[2018-05-16 14:39] laperie opened #7586 "Migrate LWM2M to use BSD sockets"
As a part of the Zephyr Networking API rework we need to update all protocols to be based on socket.h instead of net_app/net_context.

[2018-05-16 14:40] laperie opened #7587 "Migrate DNS to BSD sockets"
As a part of the Zephyr Networking API rework we need to update all protocols to be based on socket.h instead of net_app/net_context.

[2018-05-16 14:41] laperie opened #7588 "Migrate SNTP to BSD sockets"
As a part of the Zephyr Networking API rework we need to update all protocols to be based on socket.h instead of net_app/net_context.

[2018-05-16 14:41] lemrey commented on #7413
I agree with @Laczen
that keeping a setting's name together with its value in a single nvs entry would be a better solution than keeping the name,value table in a entry. It would reduce the number of writes (when booting the first time) and we would avoid the problem of such table growing too large entirely.

Additionally, 'updating' a setting and 'writing' a new setting would then become the same

[2018-05-16 14:42] mike-scott commented on #7586
What's the current timeline for the rework?

[2018-05-16 14:42] laperie opened #7589 "Migrate Websocket to BSD sockets"
As a part of the Zephyr Networking API rework we need to update all protocols to be based on socket.h instead of net_app/net_context.

[2018-05-16 14:46] laperie opened #7590 "update BSD sockets implementation to use optimized networking buffers"
In order to fully benefit from new networking buffers, BSD sockets needs to be re-implemented using the new net_buf

[2018-05-16 14:52] laperie opened #7591 "Zephyr Networking Stack Architectural Updates"
This is an umbrella issue, covering all works we currently do on Zephyr networking arch updates:

- [x] Implement setsockopt for TLS  (https://github.com/zephyrproject-rtos/zephyr/projects/12)
- [x] Core stack to use new buffers: #7578

Port protocols to use sockets
- [x] CoAP to use sockets #7584
~~- [ ] HTTP to use sockets #7585~~ HTTP API was removed from Zephyr
- [x] LWM2M to use sockets #7586

[2018-05-16 15:19] mike-scott commented on #7571
Can you include a copy of the .config for the app yiu have loaded?  As well that the buffer setyings you've already tried raising?

[2018-05-16 15:37] #7097 closed

[2018-05-16 15:44] mbolivar commented on #6205
Initial west post is up. Old PR which had introduced zephyr_run.py is now obsolete. Future development will proceed through integration into west.

[2018-05-16 17:28] laperie opened #7595 "Promiscuous mode and receiving all packets at applications level"
It should be possible to set 'promiscuous mode' flag to networking adapter and provide user a way to receive all network packets to the application

[2018-05-16 17:33] laperie opened #7596 "802.1Qav configuration support"
It should be possible to enable 802.1Qav method for supportive networking adapters.
In addition to enabling it should be possible to do
- [ ] per queue configuration,
- [ ] retrieve on/off status,
- [ ] high and low credit
- [ ] send slope and idle slope 

[2018-05-16 17:36] mbolivar commented on #7499
What about out of tree applications? We currently specifically recommend applications put their content after including the Zephyr config file:

http://docs.zephyrproject.org/application/application.html#application-cmakelists-txt

This reversal would probably mean they should put their config options (and any default settings they want to override Zephyr's with) before including Zephyr's root Kco

[2018-05-16 18:19] andrewboie commented on #6909
Fixed by #7382

[2018-05-16 18:19] #6909 closed

[2018-05-16 18:27] ramakrishnapallala commented on #6511
Debugged the issue further and the root cause is that the HPET timer's MAIN_COUNTER_VALUE_REG(0xf0) is not being updated at all if I run test app on Simics platform. I am getting timer interrupts but the MAIN_COUNTER_VALUE_REG contents are always set to 0xffffffff.
 If i run same app on Qemu it run fine.

[2018-05-16 19:05] andrewboie opened #7598 "move CONFIG_INIT_STACKS logic for IRQ stack to common code"
On all arches this is currently done in arch/, usually in some early boot assembly code.
However we don't enable interrupts until we are well into the C domain, and it should be possible to do this somewhere in kernel/init.c, assuming we can standardize the symbol name and kconfig define for the interrupt stack and its size.

[2018-05-16 20:05] therealprof commented on #7571
[.config](https://github.com/zephyrproject-rtos/zephyr/files/2010663/config.txt)

[2018-05-16 20:07] therealprof commented on #7571
I tried bumping all values I could find in the networking area without any noticeable effect but I'm happy to try specific changes you'd like me to try.

[2018-05-16 20:15] #7480 closed

[2018-05-16 20:30] #4684 closed

[2018-05-16 20:50] andrewboie commented on #6992
Ugh. This is looking like a tough one.

This is the DWARF info I get from the above example, *without* the extern declaration:

[code]

With the extern:

[code]

The all-important DW_AT_location tag is gone, and there are no other entries for sem1!
I don't understand yet how I can fetch the memory address.

[2018-05-16 21:09] mike-scott commented on #7571
The key value for RX buffers would be:
CONFIG_NET_BUF_RX_COUNT=10

Also, enable the following debugs:
CONFIG_NET_LOG=y
CONFIG_SYS_LOG_NET_LEVEL=4
CONFIG_NET_DEBUG_NET_PKT=y

Once added, you can use the following 2 commands for debugging in the console shell:
1. net mem: displays the status of the net packets and buffers (allocated vs. freed)
2. net allocs: shows a kind of stack trace for each pack

[2018-05-16 21:10] mike-scott commented on #7571
I think we're actually not freeing back up buffers on an error path, so they're staying allocated.

[2018-05-16 21:36] therealprof commented on #7571
I'll try that tomorrow in the office.

[2018-05-17 00:00] #6992 closed

[2018-05-17 00:33] #7285 closed

[2018-05-17 00:33] andrewboie commented on #6997
Fixed by #7049

[2018-05-17 00:33] #6997 closed

[2018-05-17 00:33] andrewboie commented on #6996
Fixed by #7049

[2018-05-17 00:33] #6996 closed

[2018-05-17 01:47] xianrenqiu commented on #7502
I did a test in the qemu_x86, only a few times can run successfully, but most of them fail.  @Mras2an has it been successful in the QEMU environment？

In addition, I also tried to use the configuration file provided by mbedtls(config-suite-b.h), The server certificate will be verified，but the handshake was not successful.  @jukkar is there have a similar sample program?   thanks

[2018-05-17 01:50] andrewboie opened #7608 "ARC objdump crash when creating zephyr.lst for one test"
This is a very strange issue which is believed to be a compiler bug.

The pull request #7609  introduces support for user mode access to k_queue objects. It doesn't do anything crazy. However, after the patch is applied, the invocation of objdump at the end of the build to disassemble the ELF file and create zephyr.lst generates a segmentation fault:

[code]

This only happens for ONE test in the

[2018-05-17 02:19] andrewboie opened #7610 "tests/lib/c_lib fails on native_posix on FC28"
native_posix builds with the host compiler, and on Fedora 28 the tests/lib/c_lib fails sanitycheck as follows:

[code]

[2018-05-17 02:31] ulfalizer commented on #7499
@mbolivar
They'd also need to reverse the defaults on all symbols that have more than one default, so could get messy if there's a lot of out-of-tree stuff.

[2018-05-17 04:45] #7378 closed

[2018-05-17 04:51] #6388 closed

[2018-05-17 06:33] Jeepgoing opened #7613 "OTA:an issue about OTA/mcumgr"
hi all:
i am now testing a demo about OTA fuction, and meet some issues, my target boards are two Nordic nrf52_pca10040, one run SMP Server Sample[https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/subsys/mgmt/mcumgr/smp_svr](url), and another run Bluetooth: HCI UART [https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/hci_uart](url) .

i am sure that the SMP S

[2018-05-17 07:10] therealprof commented on #7571
I've put a full capture of the debugging log as well as the commands at the end here:

https://gist.github.com/therealprof/6a7263c6633b461be79ad270636b0468

Increase of the RX buffers made no change.

[2018-05-17 07:25] jukkar commented on #7502
For example echo-client and http_client samples have TLS supported.

Note that there are many things that can go wrong with TLS, one major thing is to use correct certs. Because of this the echo-[client | server] and http_[client | server] applications have been setup so that they should work against the relevant counter parts found in net-tools project (see README.md file in that project for deta

[2018-05-17 07:30] #7389 closed

[2018-05-17 07:44] mike-scott commented on #7571
Wow, there are packets in your log which are running > 1KB data size.  Is the eth port in promiscuous mode?

Can you run "net allocs" once you run out of buffers?

[2018-05-17 07:46] therealprof commented on #7571
No, just a regular office network.

It's at the bottom of the log.

[2018-05-17 07:55] nashif opened #7618 "Provide a Requirements Traceability Matrix (RTM)"
Provide a way to link requirements throughout the validation process. The purpose of the Requirements Traceability Matrix is to ensure that all requirements defined are tested.

From wikipedia:

_"A traceability matrix is a document, usually in the form of a table, used to assist in determining the completeness of a relationship by correlating any two baselined documents using a many-to-many relat

[2018-05-17 08:47] nashif commented on #7536
cant reproduce this...

[2018-05-17 09:50] xianrenqiu commented on #7502
Thanks for your feedback.

As you said, I tried using the echo_client example. The first run can be successful ([there is a thread crash](https://github.com/zephyrproject-rtos/zephyr/issues/7423)), ctrl+a+x closes the QEMU echo_client program, and runs again, it will be failed.  If there was no such phenomenon, It might be my environmental problem.

[2018-05-17 09:53] jukkar commented on #7571
I think you are right here. Increasing the number bufs does not really help but just postpones the inevitable out-of-bufs issue.

[2018-05-17 09:59] jukkar commented on #7571
Are you actively sending something to zephyr device, or is it mostly some multicast / broadcast traffic?
Can you check using wireshark what kind of traffic you have in the network, the log does not really reveal that with these debug options. I am just trying to pin point the code where to start debugging this.

[2018-05-17 10:12] jukkar commented on #7571
According to the log, you are not running out of buffers.

The "net allocs" command tells that all the buffers are freed just fine.
Also at the end of the log there is a print:
[net/pkt] [DBG] net_pkt_print: (0x20004358): TX 10 RX 50 RDATA 50 TDATA 10
which tells how many buffers are available and they are the same as how many were allocated at build time:
net_pkt_init: (0x20006060): Allocating 50

[2018-05-17 10:25] jukkar commented on #7571
My bad, there was out-of-buffers situations in the log:

[net/buf] [ERR] net_buf_alloc_len_debug: net_pkt_get_reserve_data():359: Failed to get free buffer

but according to the log, the system recovered that successfully.

[2018-05-17 10:39] therealprof commented on #7571
Can you check using wireshark what kind of traffic you have in the network, the log does not really reveal that with these debug options. I am just trying to pin point the code where to start debugging this.

Well, yes, I'm trying to use LwM2M but most of the traffic is actually broadcasts in the network.

No it does not. The application (lwm2m-client) doesn't receive any traffic any more after on

[2018-05-17 10:48] tbursztyka commented on #7571
Hum RX are going lower and lower, and worse RDATA is a lot near 0 (thus why sometimes it is unable to get enough frags for the received packet). Looks like the host has not enough time to consume received packets. Sounds like RX queue has a too low priority maybe. @jukkar  how can this be tweaked now? (we used to have one rx thread but now it's slightly different as we have rx queue(s). )

Also, f

[2018-05-17 10:54] tbursztyka commented on #7571
Note that, even if rx queue priority could fix your issue, there is no buffer bloat mitigation logic in Zephyr's net stack. So it is still possible to flood it (knowing that it runs on a board with a limited amount of RAM with a bearer like Ethernet)

[2018-05-17 11:32] ramakrishnapallala commented on #6511
Hacked the hpet timer driver interrupt handler code to increment the counter value and ran the test.
It worked with the hack which clearly points to the issue to _HPET_MAIN_COUNTER_VALUE update issue.

This hardware register value always remains 0xffffffff even if you forcefully change it. Need to check with Simics folks on this behavior.

[2018-05-17 13:09] rveerama1 commented on #4012
Reopen this issue if it still exists.

[2018-05-17 13:09] #4012 closed

[2018-05-17 13:15] rveerama1 commented on #3339
This is leftover from old task list https://github.com/zephyrproject-rtos/zephyr/issues/2365. Reopen this issue if it relates to latest Zephyr.

[2018-05-17 13:15] #3339 closed

[2018-05-17 13:32] rveerama1 commented on #3824
samples/net/rpl_border_router https://github.com/zephyrproject-rtos/zephyr/pull/5035 is the example for RPL Border Router functionality.

[2018-05-17 13:32] #3824 closed

[2018-05-17 13:35] rveerama1 commented on #3711
Tried with rpl_border_router and rpl_node samples with set of devices. Not encountered any issue with latest upstream. Reopen if it still exists (if I miss any corner cases).

[2018-05-17 13:35] #3711 closed

[2018-05-17 13:53] rveerama1 commented on #5274
RPL BR sample experimented with frdm_k64f + cc2520 and frdm_k64f + mcr20a board combinations. Encountered issue with frdm_k64f + cc2520 as cc2520 share common gpio pins with Ethernet for Tx and Rx. Tried different combinations of other available pins, but cc2520_cca() was always busy. Could not proceed further. Dropping this combination.
frdm_k64f + mcr20a combination has better results.

[2018-05-17 13:53] #5274 closed

[2018-05-17 14:04] mbolivar commented on #7499
@ulfalizer hmm, "messy" makes me a little nervous :).

It makes sense to get back to the standard Kconfig behavior, though.

Is it possible to default to the standard behavior, but emit a message that it has changed, and letting apps define a CMake variable before including the boilerplate file that restores the "odd" behavior?

We could keep that for a deprecation period of say one release, befor

[2018-05-17 14:12] pfalcon commented on #7500
Sorry, got backlogged. The test process is documented in https://github.com/pfalcon/zephyr/issues/6 . As a summary, dumb_http_server BSD sockets sample (which is a server app which binds to INADDR_ANY) is able to accepts connections both when DHCP assignment didn't happen and when it did (i.e. it works "as expected").

[2018-05-17 14:34] pfalcon opened #7630 "[RFC] net: Handling dynamic updates of interface addresses"
This RFC ticket is prompted by https://github.com/zephyrproject-rtos/zephyr/issues/7500, and discussion in it started at https://github.com/zephyrproject-rtos/zephyr/issues/7500#issuecomment-389157028

IP addresses of the network interfaces may change dynamically. For example, initially (on app startup), a static IP may be assigned, but as soon as DHCP handshake goes thru, a DHCP address may be as

[2018-05-17 14:41] nashif commented on #3384
@punitvara whoever filed this bug more than 1 year ago probably will not be able to confirm or verify, so please do that yourself and if you are confident this is the issue, close it. Otherwise we will wait forever for this to be closed.

[2018-05-17 16:10] erwango commented on #7302
@SebastianBoe , can we consider shield case (#6837, even if not merged yet) in this discussion, where a Kconfig value that enable use of a particular shield (CONFIG_SHIELD_XXX=y) adds shield.overlay to board dts file ?

[2018-05-17 18:38] pfalcon commented on #7630
Proceeding to test samples/net/sockets/big_http_download , a typical client application, with CONFIG_NET_DHCPV4=y, it "almost" works. And it works by "cheating". As first step, it does a DNS resolution, and if it fails, it won't proceed further. And if it doesn't fail, that means that it received a response from DHCP-assigned DNS, which means that DHCP IP address is assigned too, and thus won't ch

[2018-05-17 18:57] grgustaf commented on #3187
I think I know what's going on here. You only notice it when you're in a tight build / flash / debug cycle. The K64F seems to randomly generate a MAC address on every boot. In IPv4 terms, if you have just been talking to it from your host, this means you have a stale ARP cache entry resolving to the old MAC address. I don't know the protocol details on when it times out, but until it retries ARP i

[2018-05-17 19:05] pfalcon commented on #7630
Another point which was discussed in https://github.com/zephyrproject-rtos/zephyr/issues/7500#issuecomment-389157028 and followups is to assess how other IP stacks deal with the situation of interface IP address change while the connection is in progress.

Let's consider "client" case (making a connection from a local to remote system). A typical setup is used: a SOHO router and a workstation conn

[2018-05-17 19:08] mike-scott commented on #6307
@therealprof Not a real solution, but as a temporary work around you can download the GNU ARM Embedded Toolchain 6.3.1 for Mac OS X from here:
https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads
Slide below the initial offered 7.2.1 download and look for "GNU Arm Embedded Toolchain: 6-2017-q2-update June 28, 2017".  Expand that section and a download link for Mac OS X 64-bit shoul

[2018-05-17 19:42] mike-scott commented on #7571
@tbursztyka I guess the core problem is that the ethernet driver can't know if the packet is wanted or unwanted until the fully formed(allocated) packet+buffers reaches the ip management / connection code ... which could certainly lead to flooding as you mentioned if the RX queue can't process the packets fast enough to free back up the net_pkt/net_bufs for more incoming packets.

Examining the et

[2018-05-17 19:46] therealprof commented on #7630
I think there needs to be a middle ground. The automatisms you call "magic" are in big parts not magic at all, e.g. a client software using sockets for outgoing connections on any OS does not need to know anything about available network connections or IP addresses and even less about changes: You open the socket, you connect it and if everything works out you send data and will automatically rece

[2018-05-17 20:10] stuartly opened #7638 "get FAULT when fuzzing sys_ring_buf_ put and sys_ring_bug_get APIs"
I am trying to fuzzing the kernel APIs, and I wrote a simple application to call the APIs: sys_ring_buf_put and sys_ring_buf_get.

the code is as below

[code]

when I run the application, it result in USEAGE FAULT as following:

[code]

Should zephyr add some checks like type and bound check in the implementation of syscall API code ?

[2018-05-17 20:39] tbursztyka commented on #7571
@mike-scott What you describe is the promiscuous mode. Afaik most controllers, if not all in fact, filters packet on the dst mac: if it's not for them, they drop it. That said, if the feature is not enabled or badly configured on driver level, then that won't work. Could be the case here, I don't know.

@therealprof The frag size tweaking is just to use memory in a bit better way (less frags so le

[2018-05-17 20:52] nashif commented on #7441
with qemu_x86_nommu all tests pass, could this be related to mmu support and userspace?
qemu_cortex_m3 fails with a few tests that we should be able to fix easily.

[2018-05-17 20:55] #6879 closed

[2018-05-17 21:09] mike-scott commented on #7571
@tbursztyka 1KB broadcast packets seem large.  I guess we would need some debugging to make sure these packets are valid.

[2018-05-17 21:15] andrewboie commented on #7638
the ring buffer APIs aren't system calls, they don't do privilege elevation.
In general to keep code as small as possible for tiny devices, checking like this isn't done in Zephyr.
We could maybe add some __ASSERT()s though.

[2018-05-17 22:05] andrewboie commented on #7591
I suggest we add a line items to implement system calls for the new socket APIs, and convert as many of the examples as we can to run in user mode. Being able to parse outside network data, and do upper level protocols in user mode is something we get asked about a lot.

[2018-05-17 22:29] lpereira commented on #7478
While these warnings might be indeed issues, Valgrind warnings have to be taken with a grain of salt.

For instance, the last one, where it says that an uninitialized value was created by a stack allocation: a `struct cipher_ctx` is indeed created in the stack, uninitialized, and then a few items that are used by some of the TinyCript functions are called.  Apparently only the things that were ini

[2018-05-17 22:42] lpereira commented on #7591
If we're going through the trouble of making it possible for user mode applications to use the network stack, I would go as far as saying that it would be great to have the network stack itself run in user mode.  It's a big attack surface that would be better off with lesser privileges.

Another thing that I'd like to maybe see is to restrict which thread has access to the network.  I don't know y

[2018-05-17 22:53] andrewboie commented on #7591
I completely agree with @lpereira. Ideally the kernel part would just be syscalls to the hardware driver such as Ethernet.
I am not familiar with network stack code. What would be impediments to running it all in user mode? Does it use IRQ locking, or kernel objects unavailable to user mode such as k_mem_pool? Interrupt-context callbacks?

Might be as simple as access to the underlying hardware dr

[2018-05-17 23:40] lpereira commented on #7591
It's been quite a while since I took a hard look at the network layer, but if I remember correctly, there shouldn't be a lot of changes to make this happen, at least from the point of view of handling layer 2 stuff (transmitting and receiving frames).

Drivers are all over the place, but a common pattern is to have a fixed chunk of memory (usually the size of an ethernet frame, or 1500 bytes) that

[2018-05-17 23:53] nashif commented on #7379
fixed in #7640

[2018-05-17 23:53] #7379 closed

[2018-05-18 00:13] lpereira commented on #3727
@iha Are you still working with ESP32 devices in your spare time?

[2018-05-18 05:39] nordic-krch opened #7644 "k_mem_slab_free triggers rescheduling even when no threads are pending"
https://github.com/zephyrproject-rtos/zephyr/blob/ad6b8904713e6d436c1a4ce1bc83bdba5e9fcc3b/kernel/mem_slab.c#L129

_reschedule() is called unconditionally in k_mem_slab_free() even when there is no thread pending. It unnecessary increases time spent in that function in case when allocation is used with K_NO_WAIT parameter.

[2018-05-18 06:17] punitvara commented on #3384
Yes. After testing it seems H/W doesn't support higher ODR rates with interrupt enabled.

[2018-05-18 06:17] #3384 closed

[2018-05-18 06:28] #7475 closed

[2018-05-18 06:36] jukkar commented on #7571
I meant to say that from memory point of view the system recovers this low memory issue just fine (according to provided logs). It is totally different matter what happens in other parts of the zephyr (be it in IP stack or application).

[2018-05-18 06:41] jukkar commented on #7571
I would argue that the system should work better with 128 byte buffer than with 512. This depends on the network traffic of course but with smaller buffers the network packets are probably better fit into net_buf and we do not run out of buffers easier.

Note that we have a samples/net/throughput_server sample app for measuring UDP traffic throughput, you could try that one too and see what happen

[2018-05-18 06:44] jukkar commented on #7571
We cannot prevent flooding but we should recover from it of course. For testing this one can use the throughput_server app I mentioned earlier.

[2018-05-18 08:37] hakonfam commented on #7347
Git: 198b358
HW: i7-7700@3.6GHz
Command ~= `time cmake -H$ZEPHYR_BASE/samples/hello_world -GNinja -DBOARD=nrf52_pca10040 -Bbuild`
Win10: 3.4 seconds
Arch (4.16.3-1) (under Virtualbox): 1 second

[2018-05-18 08:42] SebastianBoe commented on #7347
This implies that it is not related to VM-tech.

It would be interesting to know what parts of Configure run slower on Windows.

E.g. is it processing of CMakeLists.txt code or is it a particular external program that is executed by CMake.

[2018-05-18 08:45] SebastianBoe commented on #7347
What I am hoping for, is that the slowdown is isolated to one or two external programs that run poorly on Windows, but can be easily modified to run as fast as Linux.

[2018-05-18 09:14] carlescufi opened #7651 "nRF5x console broken"
The shell is currently broken on nRF5x devices.
It apparently happened with [this commit](https://github.com/zephyrproject-rtos/zephyr/pull/7431) but if I revert it I get garbage characters on the console.

CC @leodesigner

[2018-05-18 10:07] pdunaj commented on #5939
There is no asynchronous notification about transmission being done.
I guess this is because the implementation is not using DMA.

Do we know when this driver will be ready?

[2018-05-18 10:11] pdunaj opened #7654 "BLE GATT notification: no information about the state of the notifications queue"
I can schedule notifications and they are queued up to some point. When queue is full data is lost but I am not notified about it. Also as there is no callback informing notification was sent, I cannot tell if there is place on the queue to put a new notification.

Is there a way to get information about state of the queue where notifications are stored, or even better get a callback when notifica

[2018-05-18 10:14] pfalcon commented on #7500
@mike-scott :

For reference, I came up with an easy way to test how a Linux (or similar OS) deals with the change of interface address when there's a connection open: https://github.com/zephyrproject-rtos/zephyr/issues/7630#issuecomment-389975170 . Based on that experiment, it looks like a network connection's local IP is not dynamically tied to the IP address of the interface the connection was

[2018-05-18 10:17] pdunaj opened #7655 "Invalid argument passed to k_sleep"
https://github.com/zephyrproject-rtos/zephyr/blob/0b76b12837deb995077bf026de01a6e9a9e50dfe/subsys/net/lib/app/net_app.c#L1300

`k_sleep(MSEC(50));`

MSEC will return the number of ticks whereas k_sleep accepts number of milliseconds.

MSEC was probably confused with K_MSEC

[2018-05-18 10:19] pdunaj commented on #7655
Issue occurs in several places in Zephyr.

[2018-05-18 10:20] pfalcon commented on #7630
@therealprof : Thanks for the comments.

What I call "magic" is: things are not required by POSIX, or, for cases not specified by it (which are many) - not done by well-known IP stacks, which can be seen as a reference models. The Linux IP stack is a good example, adjusted for its size, i.e. we won't be able to implement all features it may have. In the comment https://github.com/zephyrproject-rto

[2018-05-18 10:21] pdunaj opened #7656 "Invalid argument passed to k_sleep"
https://github.com/zephyrproject-rtos/zephyr/blob/0b76b12837deb995077bf026de01a6e9a9e50dfe/drivers/ethernet/eth_native_posix.c#L240

MSEC was probably confused with K_MSEC

[2018-05-18 10:25] aescolar-ot commented on #7610
Too smart compiler :)
Anyhow, I guess we could add an ignore pragma:
[code]
or?

[2018-05-18 10:26] SebastianBoe commented on #7302
The shield use-case will not be possible as it is implemented today.

In the new architecture one would have to use another mechanism than Kconfig to attach shield description's to board descriptions.

[2018-05-18 10:27] pdunaj opened #7657 "Invalid argument passed to k_sleep"
https://github.com/zephyrproject-rtos/zephyr/blob/0b76b12837deb995077bf026de01a6e9a9e50dfe/tests/kernel/semaphore/semaphore/src/main.c#L202

Probably confised with K_MSEC.

Present in multiple places.
Check also:
https://github.com/zephyrproject-rtos/zephyr/blob/0b76b12837deb995077bf026de01a6e9a9e50dfe/tests/net/traffic_class/src/main.c#L516

https://github.com/zephyrproject-rtos/zephyr/blob/0b76b

[2018-05-18 10:27] aescolar-ot commented on #7569
@ramakrishnapallala Are you able to reproduce it?

[2018-05-18 10:31] aescolar-ot commented on #7375
As of now we are only feeding codecov the code that is compiled and run by sanitycheck in the native_posix tests.

[2018-05-18 10:32] pfalcon opened #7658 "[RFC] net: Split off net_app_settings lib to a separate directory under subsys/net/lib/"
Over last time, there was a lot of talk that "net_app API does too much things at once", which leads to confusion. At the same time, net_app is (at least) 2 largely independent parts:

1. Client/server helper API.
2. Network setting module.

It should be noted that p.2 isn't even an "API", it's a module, or subsystem, which is driven by "declarative" Kconfig settings and just configures network en

[2018-05-18 10:33] pfalcon commented on #7658
@jukkar, @tbursztyka : Let me know if this makes sense, I can prepare a patch for 1.13.

@mike-scott, @mbolivar, @d3zd3z : FYI

[2018-05-18 10:34] ramakrishnapallala commented on #7569
@aescolar-ot I was looking into some other stuff, will look into it shortly.

[2018-05-18 10:39] SebastianBoe commented on #7375
Right, that would explain it. I guess this will be difficult to resolve then.

[2018-05-18 10:40] aescolar-ot commented on #7375
Yep, it would not be easy to resolve. Our only source of coverage are the native_posix runs. So code in, for ex., arch/arm is out of scope for the current setup. And so are all boards and drivers.
You can see here what is actually part of coverage analysis:
https://codecov.io/gh/zephyrproject-rtos/zephyr/tree/master

[2018-05-18 11:12] jukkar commented on #7658
+1 from me.

I just wonder if the _settings_ could cause confusion with the settings API, so in this respect the _config_ might be better choice.

[2018-05-18 11:16] therealprof commented on #7630
That "test" and the assumptions behind it are flawed: At the point where you're changing the connectivity, the TCP handshake has been long completed and the connection is established, after that point your basically pushing data into a dormant connection. There's even a good change that, if you change your connectivity back to the previous value, it'll be able to resume the connection and everythi

[2018-05-18 11:27] therealprof commented on #7571
@jukkar

No worries,

[code]

However I can only test next Wednesday (if I don't forget), won't be at the office before.

[2018-05-18 11:30] #7651 closed

[2018-05-18 11:32] carlescufi opened #7659 "Application callback on PDU transmission complete"
A callback that notifies the application that a PDU (L2CAP or ATT) has been successfully transmitted to the peer. It would essentially follow the flow of HCI Number of Completed Packets with additional counting to make sure a single callback per PDU is issued.

[2018-05-18 11:34] carlescufi commented on #5939
@pdunaj no, but @anangl is the person to ask

[2018-05-18 11:34] jukkar commented on #7571
Was that for lwm2m_client? When I compile for nucleo_f429zi I get

[code]

Only thing I added to prj.conf file in that sample was the CONFIG_NET_LOG_GLOBAL=y

[2018-05-18 11:36] carlescufi commented on #7659
@pdunaj we would like to have a usecase for this functionality. Can you let us know why exactly you need this? Thanks!

[2018-05-18 11:37] therealprof commented on #7571
@jukkar Yes, but I had to disable IPv6. But there's still plenty of room.

[2018-05-18 11:44] pfalcon commented on #7630
This ticket is to discuss general approach to the problem of handling dynamic updates of the interface IP address(es). Hopefully, that clarifies it.

[2018-05-18 11:45] jukkar commented on #7571
The issue with IPv6 sounds weird. I would be interested in getting more information and logs about this so can you prepare also a log with IPv6 enabled and also without IPv6.

[2018-05-18 11:45] carlescufi commented on #7613
@Jeepgoing I will take a look to see if I can reproduce and get back to you

[2018-05-18 11:57] therealprof commented on #7630
Not really, it seems like the management API should be able to take care of all cases where the application actually has to do something. Everything ist just standard socket behaviour and thus should work as such.

[2018-05-18 12:00] rveerama1 commented on #6565
samples/net/sockets/echo is binding to only IPv4 address. Running IPv6 client against it doesn't work. So closing issue.

[2018-05-18 12:00] #6565 closed

[2018-05-18 12:00] therealprof commented on #7571
@jukkar #6307

[2018-05-18 12:03] jukkar commented on #7571
Ah, it was that compiler thingy, never mind then :)

[2018-05-18 12:09] #6874 closed

[2018-05-18 13:05] pdunaj commented on #7659
Hi @carlescufi ,

This is needed for a proper generation of a key events sequence sent to the host via HOG service.
In case the sequence of keys is pressed fast we need to make sure that:
1) each key event is transmitted separately (to maintain the order in which sequence was recorded)
2) no key event is missed (obvious reasons).

For example. Let's say that user pressed A quickly. We should send

[2018-05-18 13:05] pdunaj commented on #5939
@carlescufi thanks

[2018-05-18 13:05] ramakrishnapallala commented on #7569
@aescolar-ot I have looked at the code. From the pthread_attr_destroy() I don't see any issue as it returns 0 or EINVAL.

From the test case point, we can set the attr[n_THR] memory to 0x0 or make it static.

Do you see any other issue?

[2018-05-18 13:06] therealprof opened #7661 "LwM2M error: invisible error during registration"
For my LwM2M server it is required to enable the extended CoAP options and increase the length. Failing to do so will silently fail registration without make it visible that there is a problem, e.g.
[code]

Apart from the missing change into a failure mode (the implementation actually works for a limited time) and retry implementation which @mike-scott planned to address at some point we should ma

[2018-05-18 13:09] aescolar-ot commented on #7569
Why is the test calling `pthread_attr_destroy()` before calling `pthread_attr_init()`?

[2018-05-18 13:12] ramakrishnapallala commented on #7569
I think the author of the test wanted to make sure the resources are freed (if allocated earlier) before he uses the attr struct for creating a new pthread.

[2018-05-18 13:15] aescolar-ot commented on #7569
As it is now it is being called over uninitialized memory,
sometimes attr->initialized is 0, sometimes it is 1, causing random coverage differences.
I think that call should be removed.

[2018-05-18 13:51] pfalcon commented on #7591
It's not just attack surface, it's also an attack bastion: for many usecases, integrity of networking data is critical. And letting one user thread fiddle with networking data of another thread (as implied by "running stack in user mode") doesn't seem like exactly a good choice.

[2018-05-18 14:13] pfalcon commented on #7578
No more LL reserve in net_pkt nor in IP core area.

How about the opposite - always reserve enough space in the packet data for *all* headers required to construct the packet, using worst case. If there're less headers, then only the headers can be "shifted" towards the data to form a contiguous block of memory. Doing so will ensure that such a packet, once all data added to it, will be possible t

[2018-05-18 14:45] tbursztyka commented on #7578
That's what we currently do, and that won't fit with BT and 15.4 anymore (currently frame size == frag size, set at built time, but then all memory fragments have LL reserve which costs memory, plus other details)

Also, packets are not sent "immediately", they are always queued. It's better not to consume memory too early, when it could be used by rx or current packet being transmitted.

[2018-05-18 15:16] carlescufi commented on #7613
@Jeepgoing I just tested this with vanilla Zephyr master, using a Virtual Machine just like you, but VMWare instead of VirtualBox. I used the following hardware:

* nRF51822 dongle for the `hci_uart` controller
* nRF52832 Devkit for the `smp_svr` board

I ran this 10 times with 10/10 connections:

[code]

Could you please tell me which hardware exactly you are using in order to try it in the same

[2018-05-18 15:37] ramakrishnapallala commented on #7569
Ok will fix it.

[2018-05-18 17:16] #7644 closed

[2018-05-18 18:01] pfalcon commented on #3132
This have been occurring for me regularly all this time. No specific pattern for triggering, except that it tends to occur with high probability after sufficient network load.

Another hypothesis, away from frdm_k64f/eth issue, is that it triggers some bug in the IP stack. Why it doesn't happen with QEMU is because of the low speed of it. With Ethernet, everything is "real time", which makes it ea

[2018-05-18 18:04] mike-scott commented on #3132
Adding @therealprof in that he's been testing ethernet on a Nucleo STM32 board.  It might be interesting to compare notes to see if the bug lies in the Z IP stack or something specific to MCUX shims.

[2018-05-18 18:18] pfalcon commented on #3187
@grgustaf: Thanks much for this hint! I've been testing it for last 24hrs, and have to say, it always worked for me (probably tried it about 20 times by now). This also includes accessing the board using IPv4 (well, that's actually what I use most of the time).

So, now we need to consider what to do about it. I can see 2 options:

1. Document this workaround really, really well, so everyone had a

[2018-05-18 19:16] mike-scott commented on #3187
@pfalcon I don't notice this issue as much.  I know about the random MAC so I don't use DHCP almost at all w/ the K64F.

For K64F, the generate_mac() function in drivers/ethernet/eth_mcux.c could be setup to use &SIM->UIDH as the input for a hash function to generate a statically unique MAC per device.  The driver already sets the first 3 octets to 00:04:9F so there shouldn't be collisions with no

[2018-05-18 19:32] pfalcon commented on #3187
It's not about DHCP. It's about the fact that after you flashed a device, or pressed a reset, you won't get an ethernet response from a device (using the static default 192.0.2.1, yeah) for up to 10-20s. And a newbie reaction will certainly be "it doesn't work". And even developer's reaction would be "we probably have a bug in the driver" (at least that was my reaction).

That's good idea, thanks.

[2018-05-18 21:02] mbolivar opened #7666 "NVS API documentation is missing"
The API documentation for the Non-Volatile Storage (NVS) subsystem is not appearing on the Zephyr website:

http://docs.zephyrproject.org/subsystems/nvs/nvs.html#api

It would appear that the doxygengroup in the source file is either misconfigured or not working properly:

https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/subsystems/nvs/nvs.rst#api

[2018-05-18 21:03] mbolivar commented on #7666
@Laczen any idea what could be causing this?

[2018-05-19 00:05] aurel32 opened #7671 "NVS broken for write-align > 4"
NVS has support for handling write alignment, by "padding" the header and data up to the write alignment.

However the implementation has some issues:
- When writing a header or a footer, some garbage might be written to the flash:
[code]
`data_hdr` takes 4 bytes in memory, but `write-align` bytes are written to the flash. The remaining bytes are taken from the stack.
- The same issue happens when

[2018-05-19 07:58] carlescufi commented on #7671
@Laczen can you take a look please?

[2018-05-19 09:16] Laczen commented on #7671
@aurel32, thank you for reporting this and the proposed solution. Your analysis is correct. I will work on a solution that is more general as the same problem will appear with the sector_hdr if ''write-align'' is larger than 8 bytes.

[2018-05-19 14:32] Laczen commented on #7671
@carlescufi A fix has been proposed in PR #7600.

[2018-05-19 16:19] therealprof commented on #3132
I've seen that, too. Last time it happened to me yesterday when my DHCP server ran out of IP addresses (courtesy of long lease times and frequent reboots combined with randomised MAC addresses). For some reason it received an IP address after a short while but all network communication was unbearably slow. Completely reproducible until I shortened the lease time and manually freed all random MAC a

[2018-05-19 17:50] MaureenHelm opened #7673 "Eliminate recursive make in OpenAMP integration"
From @SebastianBoe in #7416:

[2018-05-19 20:26] aurel32 commented on #7671
@Laczen, I have tried your patch, it indeed fixes the two first point, but I believed the fix is very fragile and that the bug can reappear with a different compiler or in case of small code change.

The third point, ie writing data smaller than the block size still doesn't work.

[2018-05-19 21:46] aurel32 commented on #7671
@Laczen, I don't thinks it's a good idea to set the write alignment to a different value than the block size, even if the SoC allows writing smaller than the block size. As you said what is important to guarantee the integrity, is to write the header, the data and the slot in different blocks. This can only be safely guaranteed by correctly defining the block size.

Then you can even get rid of th

[2018-05-20 06:46] vakulgarg commented on #7502
@Mras2an, does my pull request #7675 fix your problem?

[2018-05-21 01:31] Jeepgoing commented on #7613
thank you for your answer, and i will do more test.@carlescufi

[2018-05-21 02:05] zhaozhongchen opened #7676 "buildsystem: 'make flash' failed"
work tree: 1.12.0-rc1
next is the error log:

[code]

and ZEPHYR_BASE was setted on my host PC:

[code]

[2018-05-21 03:04] zhaozhongchen commented on #7676
env ZEPHYR_BASE was defined when using 'make flash', but can't find it in os.environ when using 'sudo make flash'.

[code]

[2018-05-21 03:28] chunshanzhu commented on #7676
sudo use the root environment. use 'make flash'

[2018-05-21 03:35] zhaozhongchen commented on #7676
@chunshanzhu but 'make flash' can't access usb because doesn't has authority.

[code]

[2018-05-21 06:34] changkong5 opened #7677 "mcuboot-master imgtool.py sign error"
lsb@lsb-ThinkPad-E470:zephyr-master-v1.11.99.x$ ./mcuboot-master/scripts/imgtool.py sign \

Traceback (most recent call last):
  File "./mcuboot-master/scripts/imgtool.py", line 150, in <module>
    args()
  File "./mcuboot-master/scripts/imgtool.py", line 147, in args
    subcmds[args.subcmd](args)
  File "./mcuboot-master/scripts/imgtool.py", line 85, in do_sign
    img.sign(key)
  File "/home/l

[2018-05-21 06:41] vakulgarg opened #7678 "Unstable ping RTT with ethernet ipv4 networking"
The ping response time suddenly degrades with ipv4/ethernet on nxp-frdm-k64f board.
To reproduce the issue, run samples/net/echo_client with CONF_FILE=prj_frdm_k64f.conf.
Run 'ping 192.0.2.1' from the machine configured with PEER_IPV4_ADDR=192.0.2.2.

For first 60-70 ping requests, the response time is about .2ms.
Then suddenly, ping response time degrades to more than 200ms and at times goes as h

[2018-05-21 08:30] b0661 commented on #7536
Retested  on top of  1.12.0-rc1 ->  all passed

[2018-05-21 08:30] #7536 closed

[2018-05-21 08:34] mjs-arm commented on #3187
@pfalcon I originally set the mac to auto generate for two reasons:
1) I had multiple boards on one network and at least one other person reached out to me because they had hit the multiple boards on one network issue.
2) IMO default configuration should just work, be safe, be robust etc.  Providing a default config that breaks in some corner case  is slightly 'anti social'.

If there is some othe

[2018-05-21 08:55] mjs-arm commented on #3187
wrt SIM->UIDH

Is it written as a unique during the SoC manufacturing process, or is it a "program-once" value available to be written after manufacture? If the former then it would be a good choice for seeding the mac, otherwise not.

[2018-05-21 09:04] ramakrishnapallala commented on #6511
checked with Simics team and found out that the existing Simics model we are will  not support HPET timer IP. we need to use QSP-x86 model to that. I will fix it and update the documentation accordingly.

[2018-05-21 09:41] Jeepgoing commented on #7677
look at this issue, maybe can give you some advise.[https://github.com/runtimeco/mcuboot/issues/253](url)

[2018-05-21 11:48] laperie opened #7685 "API for 802.1Qav parameters configuration"
There should be an API present to configure the following parameters for Time-Sensitive stream support [on a supportive hardware], per queue:

- On/off status
- Low credit
- High credit
- Send slope
- Idle slope

[2018-05-21 12:09] jukkar commented on #7678
I could not reproduce this. Both IPv4 and IPv6 ping work consistently in my frdm-k64f.

[code]
[code]

[2018-05-21 13:12] mbolivar commented on #7676
@zhaozhongchen thank you for reporting this issue.

The flash command was recently changed to a new program which checks for ZEPHYR_BASE. I have sent a patch which removes this check, but for your information, it is not recommended to run the flash command as root.

On Linux using OpenOCD (your board uses OpenOCD to flash and debug), the recommended way to get privileges is to install the followin

[2018-05-21 13:47] changkong5 commented on #7677
The problem was solved. thanks for you help.

[2018-05-21 13:47] #7677 closed

[2018-05-21 13:57] zhaozhongchen commented on #7676
@mbolivar thanks for yours resolution, it's really helpful to me

[2018-05-21 14:11] ulfalizer commented on #7302
@SebastianBoe
See https://lkml.org/lkml/2018/5/17/97 for the latest version of the patchset that adds the preprocessor. It has a description too.

[2018-05-21 14:49] ulfalizer commented on #6823
@mbolivar ^ did you see that btw? :)

[2018-05-21 15:37] pfalcon commented on #7578
@tbursztyka :

Not entirely and not consistently. E.g., for TCP, we start with adding data fragments to packet, and only *then* insert TCP header in front of it: https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/tcp.c#L446 . You may imagine what happens if, when we added data, we exhausted all fragment buffers: we'll wait, then fail. (And even that is an improvement: some time

[2018-05-21 15:49] MaureenHelm opened #7692 "Kernel tests failing at runtime on frdm_k64f"
Several kernel tests are failing at runtime on frdm_k64f on commit e7509c17c5938b48f9ad4b7ae78199bb0faa6113 (v1.12.0-rc1)
[code]

Most are failing with a bus fault:
[code]

[2018-05-21 16:00] galak opened #7694 "Have RTC binding for QMSI utilize base rtc.yaml"
The QMSI RTC binding should inherit from dts/bindings/rtc/rtc.yaml

[2018-05-21 17:15] MaureenHelm commented on #7692
@andrewboie I bisected the first failure `tests/kernel/stack/stack_api` to the following commit:
[code]

[2018-05-21 17:34] andrewboie commented on #7692
I'm trying to look into it. Getting this frdm board to flash is fighting me every step of the way, we could really use a documentation pass on http://docs.zephyrproject.org/boards/arm/frdm_k64f/doc/frdm_k64f.html it is confusing for someone not familiar with the development ecosystem

[2018-05-21 17:38] MaureenHelm opened #7698 "Kernel tests failing at runtime on frdm_kw41z"
Several kernel tests are failing at runtime on frdm_kw41z on commit e7509c1 (v1.12.0-rc1)
[code]

[2018-05-21 18:01] sathishkuttan opened #7699 "drivers: i2s: intel_s1000: I2S BCLK cannot be a fraction of reference clock"
Current I2S driver for Intel S1000 SoC/board does not support an I2S BCLK generation if the BCLK frequency happens to be a fractional division of the reference clock frequency.
For example:
        If reference clock is 38.4MHz and
        if the I2S format is 2ch, 32bits per channel, 48KHz sample rate,
        the bit clock frequency has to be 2x32x48K = 3.072MHz
        38.4MHz/3.072MHz = 12.5 (

[2018-05-21 18:21] sathishkuttan commented on #7699
Pl. assign this to me, I have implemented the required changes

[2018-05-21 19:03] andrewboie commented on #7692
stack_api was failing due to CONFIG_USERSPACE being turned on but not CONFIG_APPLICATION_MEMORY. didn't fail in qemu_x86 due to CONFIG_APPLICATION_MEMORY being defaulted on. Looking at the right way to enable user mode for certain tests on boards where user mode isn't in the default configuration, I think @AdithyaBaglody had proposed something.

[2018-05-21 20:43] andrewboie opened #7703 "NUM_KERNEL_OBJECT_FILES is too small"
I found this when trying to build frdm_k64f/tests/drivers/build_all/test_build_sensors_a_m

[code]

32 is unreasonably small limit of the number of .o files for a real-world application.

[2018-05-21 20:44] andrewboie commented on #7703
Apparently this is a limitation of UTIL_LISTIFY and we really need to just get rid of this.
[code]

[2018-05-21 20:50] andrewboie opened #7704 "nrf52_pca10040:tests/bluetooth/init/test_controller_dbg fails build with CONFIG_USERSPACE=y"
Very strange error on in nrf52_pca10040:tests/bluetooth/init/test_controller_dbg:

[code]

[2018-05-21 22:13] andrewboie opened #7705 "nxp_kinetis/k6x boot MPU regions are configured incorrectly"
See arch/arm/nxp_kinetic/k6x/nxp_mpu_regions.c and also include/arch/arm/cortex_m/mpu/nxp_mpu.h

The problems are as follows:
* The REGION_* macros grant user mode access to things like I/O regions when it should not have access. By default, user mode should have read/execute access on wherever program text is stored (flash?) and *nowhere else*. Any other RAM access to user mode must be explicitly

[2018-05-21 22:33] lpereira commented on #7703
I would even rename UTIL_LISTIFY to _UTIL_LISTIFY to discourage it being used by people and make it easier to get rid of it in the next version.

[2018-05-21 22:50] moto-timo commented on #7608
https://github.com/zephyrproject-rtos/meta-zephyr-sdk/pull/99 Fixes the binutils issue, but I only verified the test in question.

[2018-05-21 23:40] andrewboie commented on #7698
probably same root cause as #7692

[2018-05-21 23:43] andrewboie commented on #7692
I submitted a patch that corrected this, as well as enabling test cases that run under user mode to enable user mode if the hardware supports it.
Unfortunately, doing that has exposed a host of issues which I am currently working through.
The most vexing is #7704 I need @agross-linaro help on this.

[2018-05-22 00:37] andrewboie opened #7706 "ARM NXP hardware stack overflows do not report _NANO_ERR_STACK_CHK_FAIL or provide MPU fault information"
When stack guard pages are enabled and a thread overflows its stack, the error reported is as follows, causing tests/kernel/fatal to work improperly:

[code]

Reason code 0 is _NANO_ERR_CPU_EXCEPTION, the expected code of 2 is _NANO_ERR_STACK_CHK_FAIL.

I reproduced this on frdm_k64f.

We need to fix this:
* There is logic in fault.c for dumping out MPU faults, but it is never called even though t

[2018-05-22 00:55] andrewboie commented on #7692
I have fixed or applied workarounds (with bugs filed) for everything except a problem with one test which is so far mysterious and seems to be some kind of data/stack corruption:

[code]

[2018-05-22 01:04] vakulgarg commented on #7678
Jukaar, did you connect the k64f board directly to Linux using cross cable? In my setup, board is on local lan and could receive many ARP broadcasts. But it always show spike in RTT after a couple of minutes.

[2018-05-22 02:34] #7656 closed

[2018-05-22 02:46] #7676 closed

[2018-05-22 02:50] #7661 closed

[2018-05-22 02:52] mbolivar commented on #6823
I hadn't seen it. I'm subscribed to the issue now so I'll be sure to notice updates.

I have a vague memory of reading that Zephyr's docs make assumptions about breathe that were invalidated in later versions, so updating may involve a couple of hiccups, but I'm thirsty to cut that 1:30 of re-build time down by as much as possible, so I'll try to make time to chase them down if I find any. If we c

[2018-05-22 02:57] mbolivar commented on #7499
That's what I'm saying, basically.

If the user runs "cmake -DKCONFIG_USE_WEIRD_ZEPHYR_BEHAVIOR", then kconfiglib gets passed some option that enables the existing behavior.

Otherwise, it reverts to the "normal" Linux kernel behavior, but emits a warning that there was a breaking change (perhaps through a second option, so as not to pollute output when  run in its primary use case).

This at leas

[2018-05-22 03:38] vakulgarg commented on #7678
The problem is easily reproducible at my end when the ethernet hub between frdm-k64f and ping linux machine is also connected to local LAN. Once ping RTT goes up, then even when I disconnected the hub from local LAN, it does not recover.

[b16394@lti openssl_ktls]$ ping 192.0.2.1
PING 192.0.2.1 (192.0.2.1) 56(84) bytes of data.
64 bytes from 192.0.2.1: icmp_seq=1 ttl=64 time=0.196 ms
64 bytes from

[2018-05-22 07:00] tbursztyka commented on #7578
You are mixing up everything here. I am talking about memory allocation, you are talking of populating the allocated data (TCP). I am talking about L2 layer, you are talking about TCP/IP, etc...

Splitting L2 layer header allocation is going to save memory in 15.4 and BT which are meant to run on small SoC. Introducing the net_buf user data reference, it could also mean that L2s don't need to actu

[2018-05-22 07:31] SebastianBoe commented on #7703
I wouldn't go that far ...

It is useful to generate sequences of code that are relatively short.

e.g. it is the cleanest possible solution (that I know of) to solve problems like the below.

[code]

It was just inappropriately used here.

[2018-05-22 07:36] jhedberg opened #7709 "native_posix: hello_world fails to link on Fedora 28"
I've got a 32-bit libc and its headers installed. Compilation works, but hello_world fails at the linking stage:

[code]

[2018-05-22 08:33] jhedberg commented on #7709
@andrewboie I hear you've been using native_posix on Fedora 28 successfully? Do you have any idea what might be causing my linker failure?

[2018-05-22 08:34] pizi-nordic commented on #6392
@ioannisg

You are right, that the CONFIG_COMPATIBLE_FIRMWARE will likely never appear in the code. The presence of this option in the configuration only makes the user aware of his choice.

[2018-05-22 08:34] Mras2an commented on #7502
@vakulgarg, I will test as soon as possible.

[2018-05-22 08:40] jukkar commented on #7657
The @7711 is fixing the networking part of this issue.

[2018-05-22 09:15] mandarcthorat1 opened #7712 "[Coverity CID :186063] Null pointer dereferences in /subsys/disk/disk_access.c"
Static code scan issues seen in File: /subsys/disk/disk_access.c
 Category: Null pointer dereferences
 Function: disk_access_ioctl
 Component: Other
 CID: 186063
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7713 "[Coverity CID :186062] Error handling issues in /samples/net/sockets/big_http_download/src/big_http_download.c"
Static code scan issues seen in File: /samples/net/sockets/big_http_download/src/big_http_download.c
 Category: Error handling issues
 Function: download
 Component: Samples
 CID: 186062
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7714 "[Coverity CID :186061] Memory - corruptions in /drivers/usb/device/usb_dc_kinetis.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_kinetis.c
 Category: Memory - corruptions
 Function: usb_dc_ep_disable
 Component: Drivers
 CID: 186061
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7715 "[Coverity CID :186059] Memory - illegal accesses in /drivers/usb/device/usb_dc_kinetis.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_kinetis.c
 Category: Memory - illegal accesses
 Function: usb_dc_ep_read_wait
 Component: Drivers
 CID: 186059
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7716 "[Coverity CID :186058] Null pointer dereferences in /tests/kernel/fifo/fifo_timeout/src/main.c"
Static code scan issues seen in File: /tests/kernel/fifo/fifo_timeout/src/main.c
 Category: Null pointer dereferences
 Function: test_multiple_threads_get_data
 Component: Tests
 CID: 186058
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7717 "[Coverity CID :186057] Memory - corruptions in /samples/net/rpl_border_router/src/coap.c"
Static code scan issues seen in File: /samples/net/rpl_border_router/src/coap.c
 Category: Memory - corruptions
 Function: node_obs_reply
 Component: Samples
 CID: 186057
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7718 "[Coverity CID :186056] Null pointer dereferences in /subsys/disk/disk_access.c"
Static code scan issues seen in File: /subsys/disk/disk_access.c
 Category: Null pointer dereferences
 Function: disk_access_write
 Component: Other
 CID: 186056
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7719 "[Coverity CID :186055] Memory - corruptions in /drivers/usb/device/usb_dc_kinetis.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_kinetis.c
 Category: Memory - corruptions
 Function: usb_dc_ep_set_stall
 Component: Drivers
 CID: 186055
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7720 "[Coverity CID :186053] Code maintainability issues in /samples/net/rpl_border_router/src/http.c"
Static code scan issues seen in File: /samples/net/rpl_border_router/src/http.c
 Category: Code maintainability issues
 Function: append_route
 Component: Samples
 CID: 186053
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7721 "[Coverity CID :186051] Memory - illegal accesses in /drivers/usb/device/usb_dc_kinetis.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_kinetis.c
 Category: Memory - illegal accesses
 Function: usb_dc_ep_configure
 Component: Drivers
 CID: 186051
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7722 "[Coverity CID :186049] Memory - corruptions in /samples/subsys/mgmt/mcumgr/smp_svr/src/main.c"
Static code scan issues seen in File: /samples/subsys/mgmt/mcumgr/smp_svr/src/main.c
 Category: Memory - corruptions
 Function: main
 Component: Samples
 CID: 186049
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7723 "[Coverity CID :186048] Memory - illegal accesses in /drivers/usb/device/usb_dc_kinetis.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_kinetis.c
 Category: Memory - illegal accesses
 Function: usb_dc_ep_is_stalled
 Component: Drivers
 CID: 186048
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7724 "[Coverity CID :186047] Null pointer dereferences in /tests/net/arp/src/main.c"
Static code scan issues seen in File: /tests/net/arp/src/main.c
 Category: Null pointer dereferences
 Function: test_arp
 Component: Tests
 CID: 186047
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7725 "[Coverity CID :186046] Memory - corruptions in /drivers/usb/device/usb_dc_kinetis.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_kinetis.c
 Category: Memory - corruptions
 Function: usb_dc_ep_read_continue
 Component: Drivers
 CID: 186046
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7726 "[Coverity CID :186045] Null pointer dereferences in /subsys/disk/disk_access.c"
Static code scan issues seen in File: /subsys/disk/disk_access.c
 Category: Null pointer dereferences
 Function: disk_access_status
 Component: Other
 CID: 186045
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7727 "[Coverity CID :186044] Memory - illegal accesses in /drivers/usb/device/usb_dc_kinetis.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_kinetis.c
 Category: Memory - illegal accesses
 Function: usb_dc_ep_enable
 Component: Drivers
 CID: 186044
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7728 "[Coverity CID :186043] Incorrect expression in /tests/posix/fs/src/test_fs_dir.c"
Static code scan issues seen in File: /tests/posix/fs/src/test_fs_dir.c
 Category: Incorrect expression
 Function: test_lsdir
 Component: Tests
 CID: 186043
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7729 "[Coverity CID :186042] Program hangs in /tests/posix/mutex/src/posix_mutex.c"
Static code scan issues seen in File: /tests/posix/mutex/src/posix_mutex.c
 Category: Program hangs
 Function: recursive_mutex_entry
 Component: Tests
 CID: 186042
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7730 "[Coverity CID :186041] Memory - corruptions in /samples/net/rpl_border_router/src/http.c"
Static code scan issues seen in File: /samples/net/rpl_border_router/src/http.c
 Category: Memory - corruptions
 Function: handle_coap_request
 Component: Samples
 CID: 186041
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7731 "[Coverity CID :186040] Resource leaks in /tests/posix/fs/src/test_fs_dir.c"
Static code scan issues seen in File: /tests/posix/fs/src/test_fs_dir.c
 Category: Resource leaks
 Function: test_lsdir
 Component: Tests
 CID: 186040
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:15] mandarcthorat1 opened #7732 "[Coverity CID :186039] Control flow issues in /subsys/net/ip/connection.c"
Static code scan issues seen in File: /subsys/net/ip/connection.c
 Category: Control flow issues
 Function: is_invalid_packet
 Component: Networking
 CID: 186039
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:16] mandarcthorat1 opened #7733 "[Coverity CID :186037] Memory - corruptions in /lib/posix/fs.c"
Static code scan issues seen in File: /lib/posix/fs.c
 Category: Memory - corruptions
 Function: readdir
 Component: Other
 CID: 186037
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:16] mandarcthorat1 opened #7734 "[Coverity CID :186036] Memory - corruptions in /drivers/usb/device/usb_dc_kinetis.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_kinetis.c
 Category: Memory - corruptions
 Function: usb_dc_ep_clear_stall
 Component: Drivers
 CID: 186036
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:16] mandarcthorat1 opened #7735 "[Coverity CID :186035] Incorrect expression in /drivers/ipm/ipm_mcux.c"
Static code scan issues seen in File: /drivers/ipm/ipm_mcux.c
 Category: Incorrect expression
 Function: mcux_mailbox_isr
 Component: Drivers
 CID: 186035
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:16] mandarcthorat1 opened #7736 "[Coverity CID :186034] Memory - corruptions in /tests/net/udp/src/main.c"
Static code scan issues seen in File: /tests/net/udp/src/main.c
 Category: Memory - corruptions
 Function: test_udp
 Component: Tests
 CID: 186034
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:16] mandarcthorat1 opened #7737 "[Coverity CID :186033] Control flow issues in /subsys/mgmt/smp.c"
Static code scan issues seen in File: /subsys/mgmt/smp.c
 Category: Control flow issues
 Function: zephyr_smp_write_at
 Component: Other
 CID: 186033
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:16] mandarcthorat1 opened #7738 "[Coverity CID :186032] Memory - illegal accesses in /drivers/usb/device/usb_dc_kinetis.c"
Static code scan issues seen in File: /drivers/usb/device/usb_dc_kinetis.c
 Category: Memory - illegal accesses
 Function: usb_dc_ep_write
 Component: Drivers
 CID: 186032
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:16] mandarcthorat1 opened #7739 "[Coverity CID :186030] Error handling issues in /subsys/bluetooth/host/settings.c"
Static code scan issues seen in File: /subsys/bluetooth/host/settings.c
 Category: Error handling issues
 Function: set
 Component: Bluetooth
 CID: 186030
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:16] mandarcthorat1 opened #7740 "[Coverity CID :186029] Null pointer dereferences in /subsys/disk/disk_access.c"
Static code scan issues seen in File: /subsys/disk/disk_access.c
 Category: Null pointer dereferences
 Function: disk_access_read
 Component: Other
 CID: 186029
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:16] mandarcthorat1 opened #7741 "[Coverity CID :186028] Incorrect expression in /drivers/gpio/gpio_imx.c"
Static code scan issues seen in File: /drivers/gpio/gpio_imx.c
 Category: Incorrect expression
 Function: imx_gpio_configure
 Component: Drivers
 CID: 186028
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 09:16] mandarcthorat1 opened #7742 "[Coverity CID :186027] Null pointer dereferences in /subsys/disk/disk_access.c"
Static code scan issues seen in File: /subsys/disk/disk_access.c
 Category: Null pointer dereferences
 Function: disk_access_init
 Component: Other
 CID: 186027
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-22 10:12] jukkar commented on #7678
No, I have a switch between frdm and linux host.

[2018-05-22 10:13] jukkar commented on #7678
Do you really mean a hub (these are quite rare nowadays) or a switch, I was only testing with a switch.

[2018-05-22 10:27] Vudentz commented on #7654
There is no such thing as a queue limit, the TX will keep queueing forever, what it should happen instead is if there are no buffer available which means bt_gatt_notify can block until a buffer becomes available. Obviously, if a thread is blocked it won't be able to queue more data, in which case I would see a point of having a timeout, which is something that perhaps applies to more than bt_gatt_

[2018-05-22 10:32] koffes commented on #7348
Yes, this would be beneficial. If appropriate, the file system could also be mounted automatically when the relevant settings have been selected. Alternatively have a separate setting for auto mount.

[2018-05-22 11:34] SebastianBoe opened #7744 "Kconfig should not produce warnings"
I believe that the Kconfig warnings that are produced today are creating more confusion for users than they are creating value by assisting users with diagnostic information.

I would suggest to rectify this by following this procedure:

[code]

Turning off warnings that should be treated as errors is unfortunate, but I believe that it is better to live with this technical debt than to have the sy

[2018-05-22 12:00] ulfalizer commented on #7744
@SebastianBoe
Thinking of any warnings in particular?

Hiding warnings by default would probably make them pile up. My experience has been that people start completely ignoring warnings once there are more than a few, and then there's no going back.

I think it's better to commit to a warning-free build, with checks during testing. It's not a huge deal if something slips through, as long as you te

[2018-05-22 12:06] ulfalizer commented on #7744
The tests could just grep kconfig.py's stderr for "warning" to see if any warnings were generated by the way.

[2018-05-22 12:10] erwango commented on #3479
This ticket could be closed for following reasons:
- All bullets mentioned above have been done
- Strategy for STM32 driver has evolved. LL API could not be used for all drivers. HAL might be used when it is justfied to do so. Native driver could be required when STM32Cube does not provide alternative (flash for instance)

[2018-05-22 12:10] #3479 closed

[2018-05-22 12:10] erwango commented on #3482
Convergence acheived

[2018-05-22 12:10] #3482 closed

[2018-05-22 12:11] ulfalizer commented on #7744
This seems reasonable to me. You don't want to break stuff for users for relatively harmless warnings, but you don't want to integrate new warnings either.

[2018-05-22 12:12] SebastianBoe commented on #7744
"I think it's better to commit to a warning-free build"

That may be appropriate.

"Thinking of any warnings in particular?"

One example is redundant CONFIG_BT=y in Bluetooth samples. I'm sure running the testsuite with -Werror will demonstrate many more.

"I think it's better to commit to a warning-free build, with checks during testing. "
Right, that would match how we avoid noise from gcc's wa

[2018-05-22 12:13] erwango commented on #5653
Could be close following merge of #6947

[2018-05-22 12:13] #5653 closed

[2018-05-22 12:14] jukkar commented on #7655
This is fixed by #7711

[2018-05-22 12:14] #7655 closed

[2018-05-22 12:17] vakulgarg commented on #7678
It is a switch.

[2018-05-22 12:28] Mras2an commented on #7502
@vakulgarg, with your pull request the board send the clientHello but the server don't send the serverHello...

[2018-05-22 12:28] ulfalizer commented on #7744
@SebastianBoe
Yeah, that redundant assignment warning might not be great in all cases. Kinda depends on how you organize your `.config` files, and it just suggests tiny cleanups anyway (since mismatched assignments are caught either way).

If it's more annoying than helpful, it can be disabled with `kconf.disable_redun_warnings()` (which you added ;)).

[2018-05-22 12:37] ulfalizer commented on #7744
I wonder what would be the easiest way to turn all the Kconfig warnings fatal during testing. Could you pass a flag to CMake that gets forwarded to `kconfig.py` (`--fatal-warnings` or the like)?

[2018-05-22 12:39] SebastianBoe commented on #7744
"If it's more annoying than helpful, it can be disabled with kconf.disable_redun_warnings() (which you added ;))."

Right, so for that particular case, I would say the warning is exposing a design-flaw. This design flaw to be precise: https://github.com/zephyrproject-rtos/zephyr/issues/5454

But presumably it is not feasible to get that fixed. So in this case we must create some technical debt by

[2018-05-22 12:45] ulfalizer commented on #7744
Yeah, I agree that the best approach is probably to disable it and turn all the other warnings into errors during testing, just to get that out.

Maybe you could make an exception for it and have it always be a warning too, by calling `kconf.disable_redun_warnings()` during testing.

[2018-05-22 12:47] SebastianBoe commented on #7744
"but that might go against the point of the issue..."
Yep.

[2018-05-22 12:52] SebastianBoe commented on #7744
"I wonder what would be the easiest way to turn all the Kconfig warnings fatal during testing. Could you pass a flag to CMake that gets forwarded to kconfig.py (--fatal-warnings or the like)?"

Hard to say without digging more into things. But I would think using the same mechanism as we do with gcc makes sense.

To do this with gcc we have this code in sanitycheck:

`\t\t-DEXTRA_CFLAGS="-Werror {

[2018-05-22 12:55] #6534 closed

[2018-05-22 12:59] #7569 closed

[2018-05-22 13:12] #7608 closed

[2018-05-22 13:42] vakulgarg commented on #7502
I tested mbedtls_sslclient application on nxp-frdm-k64f with an 'openssl s_server' on my linux machine. Can you check what is happening at the server end? Does it discard clientHello?

[2018-05-22 13:44] ioannisg commented on #7744
I think that, at least, the K-option _unsatisfied-dependency_ warnings are valuable as they help revealing possible build configuration bugs.

[2018-05-22 14:41] andrewboie commented on #7709
@jhedberg I have also been filing bugs on FC28 and native_posix see #7610
I haven't seen this issue before.

[2018-05-22 14:43] andrewboie opened #7753 "security: ARM does not scrub registers when returning from system calls"
_arm_do_syscall(), upon returning from executing the system call handler, does not erase the contents of general purpose registers. This can leak sensitive supervisor-only data to user mode.

[2018-05-22 14:57] andrewboie opened #7754 "tests/kernel/threads/lifecycle/thread_init register corruption on ARM with user mode enabled"
Need to pull #7752 to see this as user mode wasn't being configured before for any ARM target. Reproduced on frdm_k64f. k_sem_give() is being called with a bogus semaphore address:

[code]

This appears to be register corruption across syscalls. This is the code:

[code]

These are the addresses of the two semaphores involved:

[code]

Somehow, a register containing the address of start_sema is be

[2018-05-22 14:58] baw-serafin commented on #6534
@rveerama1 Thx for the fix, sorry I forgot to provide wireshark. COAP is unfortunatly not my top priority at the moment

[2018-05-22 15:00] andrewboie commented on #7692
#7752 should fix this.
Another issue has been found by enabling more tests, tracked in #7754

[2018-05-22 15:11] carlescufi opened #7755 "getchar sample not working on nRF5x"
[This commit](https://github.com/zephyrproject-rtos/zephyr/commit/05c45e359a94e96353dfac1f0abeccf6893e988a#diff-fb209e20d9cf9e70b3dbd2748ae43f90) broke the `samples/subsys/console/getchar` sample.

[2018-05-22 15:14] carlescufi commented on #7755
@jarz-nordic can you make sure your PR fixes this?

[2018-05-22 15:47] andrewboie commented on #7754
Disassembly and register state before call to k_sem_reset:

[code]

[code]

r1 contains address of start_sema, 0x20002aac

Now across the call to k_sem_reset, r1 has been clobbered.

[code]

[code]

Later when we try to copy r1 into r0 and call k_sem_give, it is being passed some garbage value of 0x6a4e instead of the address of start_sema:

[code]

This has to be a problem with the arch_syscall_i

[2018-05-22 16:00] ramakrishnapallala opened #7758 "sanitycheck error with --coverage"
Getting following error when running sanitycheck with --coverage option

genhtml: ERROR: cannot read /home/rpallala/ssg-otc/Zephyr/gcov-tests/22nd-May/zephyr/sanity-out/native_posix/samples/application_development/external_lib/test/mylib/obj/src/mylib.c

Due to the above error, index.html is not getting created (HTML generation is incomplete)

[2018-05-22 16:07] andrewboie commented on #7754
There appear to be two problems here.

After applying this patch, the registers appear to no longer be clobbered when calling k_sem_give():

[code]

However there is something else wrong with the call to k_sem_take(), we induce the double bus fault when calling that. I notice it is using a different type of branch instruction.

[2018-05-22 16:11] ulfalizer commented on #7744
@ioannisg
Yeah, wouldn't want to get rid of that one.

I discovered that there are some non-obvious cases with turning that warning into an error though, like a shared configuration fragment setting `CONFIG_FLOAT=y`, which depends on `CONFIG_CPU_HAS_FLOAT`. Dunno how tricky that particular one is, but there seems to be more of them...

The new plan is to turn all the easy-to-fix warnings into erro

[2018-05-22 16:26] galak opened #7760 "cmake failure using ExternalProject and dependancies w/ninja"
The following testcase fails:

./scripts/sanitycheck -p lpcxpresso54114_m4 -s samples/subsys/ipc/ipm_mcux/test -N

We get the following error:

[code]

[2018-05-22 16:29] andrewboie commented on #7754
Any solution must be tested with:

`sanitycheck -T tests/kernel/ -p frdm_k64f --device-testing --device-serial /dev/ttyACM0`

[2018-05-22 16:32] tbursztyka commented on #2529
Following Marcu's comment, let's keep the current API as it is.

[2018-05-22 16:32] #2529 closed

[2018-05-22 16:41] andrewboie commented on #7753
As far as I can tell, we need to zero out r1, r2, and r3.
r4 and above will be automatically be restored to original state by the syscall handler per the C calling convention

[2018-05-22 16:41] andrewboie commented on #7753
I added a fix for this to #7752

[2018-05-22 16:56] nashif commented on #7758
I do not get this error:

[code]

[2018-05-22 17:20] andrewboie opened #7761 "ARM: failed syscalls do not report site of faulting syscall"
[code]

Here a call to k_thread_create fails a handler check, but the faulting address (where the syscall was invoked) is not reported as it should be.

[2018-05-22 17:28] #7761 closed

[2018-05-22 18:31] nzmichaelh commented on #7570
The SAM0 is USB2 so you're good there.  I can't think of any reasons to support USB1.1.

[2018-05-22 18:34] d3zd3z opened #7764 "Implement posix `time()`"
Several cryptographic operations require knowledge of the current time. Zephyr has a few mechanisms for tracking time, including `k_uptime_get()` and the beginnings of an RTC framework. There is also support for SNTP, which allows a network query of the current time.

The mbed TLS framework is set up to use the POSIX `time` call, by change a few macros in its config file. This issue seeks to imple

[2018-05-22 18:39] andrewboie commented on #7706
per @MaureenHelm this may be specific to the NXP MPU

[2018-05-22 18:44] d3zd3z commented on #7658
I think this is a really good start. Regardless of how the networking code is used, it will have to be configured somehow.

My concern with this setup is that it seems overly tailored to testing, and isn't particularly useful for an application using Zephyr. It is reasonable that a testing environment uses a hard-coded network configuration. However, this doesn't really make sense for an actual ap

[2018-05-22 18:59] andrewboie commented on #7754
I've isolated the bus faults to be directly related to stack sizes passed to k_thread_create() for new user threads only, supervisor mode unaffected.
The test had a stack size of 499. When I changed to a nice round number like 2048, works well. Not sure if this has something to do with the stack object, the transition to user mode, or something to do with the privileged stack generation.

[2018-05-22 19:01] d3zd3z commented on #7179
Also, note that `tests/kernel/common/src/printk.c` tests for the incorrect behavior, asserting that printing '-1' as an unsigned is `4294967295`, and `ffffffff` in hex. There are some other places in the code that make assumptions about the length of the maximum value, and buffers overflow.

[2018-05-22 19:04] d3zd3z commented on #6389
Also, if the Thread spec does require a TRNG, we should probably document that a device will only be able to be compliant with Thread if the hardware contains a TRNG. It is not possible to implement a TRNG in software (that's kind of the point of the 'True'). It is a little unusual of a requirement, though, since most things will specify a CSPRNG (cryptographically secure pseudo random number gene

[2018-05-22 19:51] MaureenHelm commented on #7706
The NXP MPU throws a bus fault on an access violation, whereas the ARM MPU throws a MemManage fault. Running this test on the mimxrt1050_evk board, which has the ARM MPU, gives the result:
[code]

[2018-05-22 20:15] pswarnak opened #7766 "tests/subsys/fs/fat_fs_api - fat_fs_basic_test hangs in fatfs_mount"
The test **tests/subsys/fs/fat_fs_api** hangs without any console log or error message.

Arch: x86
Board: arduino_101

Console Log:
[code]

Tried further debugging, the test hangs in fatfs_mount function in the file "subsys/fs/fat_fs.c"
This is the exact line of code:
`res = f_mount((FATFS *)mountp->fs_data, &mountp->mnt_point[1], 1);
`

The test was working fine till zephyr-v1.11.0 tag. The sub t

[2018-05-22 20:44] andrewboie commented on #7754
The problem is that the MPU region for the current thread stack is at a 32-byte granularity, but the initial stack pointer is only rounded to 8 or 4 byte granularity. So for certain stack sizes, the initial stack pointer for the new thread can be just outside the MPU region, causing a fault as soon as the thread starts.

[2018-05-22 21:28] ulfalizer commented on #7744
Turned out to a bit much to chew at once.

I think I'll split it up into turning warnings into errors one by one, in separate pull requests. Once a warning has been turned into an error, no more warnings of that type can be introduced, which makes it nice and incremental.

I'll start with the undefined variables. See some misspellings and stuff there, which could be bugs.

[2018-05-22 22:59] #7692 closed

[2018-05-22 22:59] #7753 closed

[2018-05-22 23:00] #7754 closed

[2018-05-22 23:01] andrewboie commented on #7698
This should be fixed now by Leandro's patch #7767

[2018-05-23 05:01] ramakrishnapallala commented on #7733
This can be closed as false positive.
code:
rc = strlen(fdirent.name);
memcpy(pdirent.d_name, fdirent.name, rc <= PATH_MAX ? rc : PATH_MAX);

strlen always return <= ARRAY_SIZE(fdirent.name). Here we making sure rc is not more than PATH_MAX.
So ideally we should never ever have case where rc > PATH_MAX unless the ARRAY_SIZE(fdirent.name) or strlen return value which is more than PATH_MAX.

[2018-05-23 06:13] jukkar commented on #7678
This could be related to possible network traffic in your system. Anyway, one option is to increase the number of buffers as you seem to run out of them. Please try #7775 if it helps the situation.

[2018-05-23 07:54] vonhust opened #7776 "possible unaligned memory access to struct _k_object's perms"
In _k_object's  definition
[code]

if CONFIG_MAX_THREAD_BYTES is 4, 8, 12.... , then the size of _k_object is not 4 bytes aligned.
 Because **__packed** is used,  this will may cause  **perms[CONFIG_MAX_THREAD_BYTES]** even **char * name** are not 4 bytes aligned.

In usespace.c
[code]
**sys_bitfield_set** is used to set some bit to of **perms**

However, for most arch in zephyr.   an assumption o

[2018-05-23 09:13] nvlsianpu commented on #7348
@ramakrishnapallala
Yes - something like that.
We simultaneously might looks forward for automatically mounting the FS.

[2018-05-23 09:54] akansal1 opened #7780 "Using latest Openthread in Zephyr"
We are considering openthread with zephyr in our implementation but openthread commit in Zephyr is dated Feb 14, 2018 post which multiple changes have been made on the project.

I want to know if it is possible to build Zephyr with latest commit openthread ? If yes, then what may be challenges that we might face?

thanks

[2018-05-23 09:57] carlescufi commented on #7654
@pdunaj is this a duplicate of #7659 ?

[2018-05-23 10:02] aescolar-ot commented on #7709
@jhedberg Can you confirm if after installing all the packages from the doc. you still have the issue?

[2018-05-23 10:11] SebastianBoe commented on #7760
This due to the dependencies being wrong.

I would recommend reading

https://samthursfield.wordpress.com/2015/11/21/cmake-dependencies-between-targets-and-files-and-custom-commands/

and then having a look at how the dependencies are set up.

An example of this working in practice can be seen in the toplevel CMakeLists.txt

[code]

[2018-05-23 10:11] carlescufi commented on #7654
Well, the spec does say that it has either been sent over the air or flushed (which is not possible for BLE):

The Number Of Completed Packets event is used by the Controller to indicate
to the Host how many HCI Data Packets have been completed (transmitted or
flushed) for each Connection_Handle since the previous Number Of
Completed Packets event was sent to the Host.

[2018-05-23 10:14] carlescufi commented on #7722
@nvlsianpu can you please take a look at this one?

[2018-05-23 10:22] pswarnak opened #7782 "tests/kernel/mem_protect/stack_random hangs without any console output on frdm_k64f"
The test **tests/kernel/mem_protect/stack_random** hangs without any console log or error message.

Arch: arm
Board: frdm_k64f
Zephyr tag:  v1.12.0-rc1

**Error:**
*No console log available at all.*

To further debug, tried reproducing the issue on other targets "sam_e70_xplained - arm board", "qemu_cortex_m3 - arm", "arduino_101 - x86 board" and "qemu_x86 - x86".
The test passes on the boards men

[2018-05-23 10:27] SebastianBoe commented on #7780
FYI: @KaSroka

[2018-05-23 11:06] spoorthik opened #7787 "tests: kernel: smp fatal exception observed on ESP32"
**Test location:** tests/kernel/smp

[code]
When I did git bisect, I got build error on 1acd8c2996c3a1ae0691247deff8c32519307f17, after proceeding by marking 1acd8c2996c3a1ae0691247deff8c32519307f17 as bad commit, it finally pointed at the same commit as first bad commit.

[2018-05-23 11:07] nvlsianpu commented on #7722
sure

[2018-05-23 11:21] carlescufi commented on #7782
@pswarnak can you try reverting commit 72c7ded5612870c20a3efc3f36a9688ff85a4418 ? It seems to break completely the build for Nordic chips

[2018-05-23 11:21] carlescufi opened #7789 "Reset sequence broken on nRF5x chips"
We seem to go on an infite loop during the reset sequence with the introduciton of this commit:

72c7ded5612870c20a3efc3f36a9688ff85a4418

[2018-05-23 11:30] carlescufi commented on #2544
The intermediate SVC step has been removed

[2018-05-23 11:35] galak commented on #7760
I've read the link, but not sure I quite follow or understand how the dependancies are wrong in the case of this issue.

[2018-05-23 11:35] nashif commented on #7782
which commit are you testing here?
seems to work in master:
[code]

[2018-05-23 11:36] rlubos commented on #7780
Hi,
OpenThread version used by Zephyr is specified here: https://github.com/zephyrproject-rtos/zephyr/blob/fcc56e315f1dcc0c25422cb528662fe8dfe0b059/subsys/net/lib/openthread/CMakeLists.txt#L26

You can try to set newer commit here and then regenerate project and rebuild. Be aware that you might encounter compilation errors in case OT or platform API changed. An example of commit that bumps OT vers

[2018-05-23 11:45] pswarnak commented on #7782
I was testing it as part of v1.12.0-rc1 zephyr tag validation(mentioned in issue description) - commit e7509c17c5938b48f9ad4b7ae78199bb0faa6113.
Thank you for confirming, just tried out, test passing in master.

Sorry for the inconvenience.
Closing the issue, will validate on master next time, before reporting any issues.

[2018-05-23 11:45] #7782 closed

[2018-05-23 11:57] SebastianBoe commented on #7760
Pretty sure this is due to the lack of BUILD_BYPRODUCTS.  See https://stackoverflow.com/questions/40314785/linking-against-an-externalproject-add-dependency-in-cmake

[2018-05-23 12:07] pswarnak opened #7793 "samples\sensor: bme280 and tmp112 hangs without any console output on quark_se_c1000_devboard"
The test **samples\sensor\bme280** hangs without any console log or error message.

**Arch:** x86
**Board:** quark_se_c1000_devboard
**Zephyr tag:**  v1.12.0-rc1 - commit e7509c17c5938b48f9ad4b7ae78199bb0faa6113.
**Pre-requisite:** Sensor connected on I2C SCL, SDA pins of x86 core.

**Error:**
*No console log available at all.*

The test was working fine till zephyr-v1.11.0 tag.

**Steps to reprod

[2018-05-23 12:16] galak opened #7795 "STM32 related Kconfig symbols don't exist anymore or aren't referenced anywhere"
CLOCK_STM32F_PLL_SRC_HSE
SOC_SERIES_STM32
SOC_STM32F302XE
SOC_STM32F303XE
SOC_STM32F398XX
USB_STM32

[2018-05-23 12:19] nvlsianpu commented on #7722
issue is false positive - memory corruption doesn't happen - just function for clearing the statistic data (`void
stats_reset(struct stats_hdr *hdr)`) doesn't know the peculiar structure of  statistic group (and can not know as the function is generic).

[2018-05-23 12:25] galak opened #7797 "subsys/net/ip/Kconfig references NET_L2_OFFLOAD but that doesn't exist"
We have a `depends on NET_L2_OFFLOAD` but that doesn't exist anywhere else.

[code]

[2018-05-23 12:25] vakulgarg commented on #7678
Jukkar, I can understand that sometimes buffer may get exhausted. But once RTT has increased, it never recovers back to normal (even if I isolate the switch from local lan).

[2018-05-23 12:26] nashif commented on #7698
tests/kernel/mem_protect/stack_random still failing on this board:

[code]

[2018-05-23 12:27] galak opened #7798 "nonexistent Kconfig symbol in defconfig arch/x86/soc/intel_quark/quark_x1000/Kconfig.defconfig.series"
CONFIG_ETHERNET is referenced, but doesn't exist in the code base.

[2018-05-23 12:29] galak opened #7799 "nonexistent Kconfig symbol in defconfig boards/x86/quark_se_c1000_devboard/Kconfig.defconfig"
references UART_QMSI_1_NAME, but that doesn't exist.

[2018-05-23 12:33] galak opened #7800 "ext/lib/mgmt/mcumgr/cmd/log_mgmt/Kconfig references MDLOG, but MDLOG doesn't exist"
We have `depends on MDLOG` but MDLOG doesn't exist anywhere.

[2018-05-23 12:42] pfalcon commented on #7755
There's a comment on that commit that zephyr shell is broken too:
https://github.com/zephyrproject-rtos/zephyr/commit/05c45e359a94e96353dfac1f0abeccf6893e988a#commitcomment-29012316 .

I don't have a nRF5x system with UART connection, so can't check it myself.

[2018-05-23 12:48] carlescufi commented on #7755
@pfalcon different issue though. Both shell and getchar work with this PR anyway, so this is fine

[2018-05-23 12:54] galak opened #7802 "Add RTC support for all NXP MCUX platforms"
Enable the RTC on all NXP MCUX SoCs that support it.

[2018-05-23 12:55] pswarnak opened #7804 "samples/sensor/apds9960 fails with assertion "Fatal fault in essential thread" on quark_se_c1000_ss_devboard"
The test **samples/sensor/apds9960** results into exception on arc core.

**Arch:** arc
**Board:** quark_se_c1000_ss_devboard
**Zephyr tag:**  v1.12.0-rc1 - commit e7509c17c5938b48f9ad4b7ae78199bb0faa6113.
**Pre-requisite:** Sensor connected on I2C SCL, SDA pins of arc core.

**Error:**
[code]

The test was working fine till zephyr-v1.11.0 tag.

**Steps to reproduce:**
[code]

**Expected output:**

[2018-05-23 13:53] galak opened #7811 "CAVS Interrupt controller - using undefined Kconfig symbols"
The following Kconfig symbols are used in drivers/interrupt_controller/cavs_ictl.c but aren't defined.
CONFIG_CAVS_ICTL_0_IRQ_PRI
CONFIG_CAVS_ICTL_1_IRQ_PRI
CONFIG_CAVS_ICTL_2_IRQ_PRI
CONFIG_CAVS_ICTL_3_IRQ_PRI

[2018-05-23 14:00] Mierunski opened #7812 "tests: Crypto tests fail on nrf52 boards after enabling user mode"
Some tests started failing after commit: efe0c4b7647c5e5aa53af47679bb8625fb387b19 on boards nrf52_pca20020 and nrf52_vbluno52 , as can be seen [here](https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/15577/3/tests)

Error message is
[code]

It can be checked by building 'tests/crypto/sha256' for nrf52_pca20020 board, source of issue was determined by bisection.

[2018-05-23 14:09] MaureenHelm commented on #7802
Duplicate of #7290

[2018-05-23 14:09] #7802 closed

[2018-05-23 14:22] galak opened #7814 "networking - Cleanup undefined but referenced Kconfig"
The following Kconfig symbols are referenced but don't actually exist.  This needs to get cleaned up since some cases its just dead code, but in others it can be errors.

[code]

[2018-05-23 14:27] galak opened #7815 "bluetooth - cleanup undefined Kconfig symbols"
The following Kconfig symbols are referenced but not defined anywhere.  This needs cleaning up, in most cases that just means removal of dead references and code:

[code]

[2018-05-23 14:45] pfalcon opened #7817 "Confusing macros: SECONDS vs K_SECONDS, MSEC vs K_MSEC"
We have 2 very similarly named, but sufficiently different sets of macros:

* SECONDS() and MSEC() are defined in https://github.com/zephyrproject-rtos/zephyr/blob/master/include/sys_clock.h#L113 and described as "Number of ticks for x seconds."
* K_SECONDS() and K_MSEC() are defined in https://github.com/zephyrproject-rtos/zephyr/blob/master/include/kernel.h#L1186 and are used to "convert" a nume

[2018-05-23 14:49] pfalcon commented on #7657
#7711 fixes only subset of the issues listed here, so reopening.

I also submitted https://github.com/zephyrproject-rtos/zephyr/issues/7817 arguing that the root cause of these issues is that SECONDS() and MSEC() are named confusingly for what they do.

[2018-05-23 14:51] nashif commented on #7817
please do not assign to more than 1 person, multiple assignees leads to no action at all.

[2018-05-23 14:54] pfalcon commented on #7764
Why not just implement the POSIX time() call (i.e. make sure that newlib's implementation works as expected)?

[2018-05-23 14:56] Vudentz commented on #7659
Perhaps Im missing something but if bt_gatt_notify cannot fail due to not be able to be added to the queue, it will block until the a buffer becomes available, or perhaps let me ask if there has been reproduced already or it a theoretical problem? Also what guarantee do we have that once a key failed to delivered it won't fail again? If the keys are pressed in a quick succession and one of them fa

[2018-05-23 14:59] rlubos opened #7818 "big_http_download stuck during download on qemu_x86"
After receiving first packet with the downloaded package application get's stuck and keeps idling. I'm using current Zephyr master with default configuration on qemu_x86. I attach screenshot with logs from Wireshark, there is some mess due to TCP window size, but I guess it is correct in case of small window? Not sure if am I doing something wrong or if there is an problem with the application. An

[2018-05-23 15:12] lorepieri8 commented on #1900
Any hint for the release date?

[2018-05-23 15:16] galak opened #7819 "build breakage due to enabling USER_SPACE by default"
The following change breaks building several configs:

`./scripts/sanitycheck -p minnowboard -s tests/benchmarks/footprint/benchmark.footprint.regular`

efe0c4b
[code]

[2018-05-23 15:30] galak commented on #7819
Seeing a number of failures related to this change:
https://app.shippable.com/github/zephyrproject-rtos/ci-test/runs/2036/summary/console

[2018-05-23 15:36] galak commented on #7819
These 2 tests seem to be the majority of issue, in the size growing to big:
tests/crypto/sha256/crypto.sha256
tests/crypto/hmac_prng/crypto.hmac_prng

[2018-05-23 15:57] GAnthony opened #7821 "net: Loopback broken: Packets sent locally to loopback address are now dropped"
Previously, packets sent locally to the the loopback address 127.0.0.1 were returned to the sender (as expected).

The commit 68ef8f06a5082ee3baa4128c4fe8e84832f22a57 broke this behaviour, by adding an is_invalid_packet() function which results in dropping packets sent locally from the loopback address.

This issue breaks the WIP MQTT over sockets PR #5854, which relies on the loopback address for

[2018-05-23 16:22] andrewboie commented on #7819
Looking at these now.

[2018-05-23 16:36] andyross commented on #7787
Yeah, I'm realizing that the sched patch broke esp32 in a few different ways, actually.  On it.

[2018-05-23 16:46] ioannisg commented on #7706
If I understand correctly, @andrewboie , _NANO_ERR_HW_EXCEPTION is the sole error code used in arm's fault.c, so this does not look like only an NXP issue, right?

[2018-05-23 16:59] jhedberg commented on #7709
Turns out I was missing libstdc++-devel.i686. After installing it I'm able to build successfully. Sorry for the noise.

[2018-05-23 16:59] #7709 closed

[2018-05-23 16:59] #7170 closed

[2018-05-23 17:14] #7712 closed

[2018-05-23 17:14] #7716 closed

[2018-05-23 17:14] #7718 closed

[2018-05-23 17:14] #7726 closed

[2018-05-23 17:14] #7728 closed

[2018-05-23 17:14] #7731 closed

[2018-05-23 17:14] #7740 closed

[2018-05-23 17:14] #7742 closed

[2018-05-23 17:32] lpereira commented on #7722
Closing as false positive.  Marked the issue in Coverity as such as well.

[2018-05-23 17:32] #7722 closed

[2018-05-23 17:47] MaureenHelm commented on #7706
Right. The NXP-specific issue is @andrewboie 's first bullet about not dumping MPU faults on parts like k64f that have the NXP MPU, because they take a bus fault instead. Parts like i.mx rt1050 that have the ARM MPU do dump MPU faults as expected.

In both cases, the reason code is still 0.

[2018-05-23 18:06] pfalcon commented on #7821
This commit broke the behavior, because it was buggy. 4dd5867a79b8919c89e1f19544480446af51d6d8 fixed it. Can you please retest with the latest master?

If you look at the cumulative change, the check added makes a good sense, in particular, it triggers only if source and dest port numbers are the same - which should happen very rarely in the real life on its own, and never when src addr is also a

[2018-05-23 18:07] pfalcon commented on #7814
@ulfalizer also works on these.

[2018-05-23 18:17] akansal1 commented on #7780
Thank you @rlubos.

Will this be the standard practice that we have to do, to keep intergrated external libraries up to date on zeyphr?

[2018-05-23 18:26] pfalcon commented on #7692
@andrewboie :

To "flash" this board (and bunch others, arm mbed compatible), you just need to connect it over usb, wait for a flash disk to mount and run:

[code]

The docs are indeed a bit over-engineered...

[2018-05-23 18:34] andrewboie commented on #7591
I talked a bit to @laperie and @nashif today about system calls for the network stack. We discussed where to do the privilege elevation, either at the socket layer or much lower in the system.  We agreed that for the initial implementation, doing the syscalls at the socket layer would likely be simplest.

Looking at include/net/socket.h I don't think this would even be particularly time-consuming

[2018-05-23 18:36] pfalcon commented on #3187
@mjs-arm: Thanks for comments.

I'm with you here, but having a default config which breaks ("slightly") all the time is *definitely* anti social, and that's what we get with changing MAC on every reset ;-).

Anyway, using that unique ID is the way to go, except that in first version of the patch, I'll cheat and just extract 24 bits from ID's 80 bits (if it's truly unique and uniform and/or random

[2018-05-23 18:38] mike-scott commented on #3187
@pfalcon why not make a hash24 function which can take a string of any length and end up with a hashed value that is 24-bits long?  This could be useful for other SoCs.

[2018-05-23 18:58] pfalcon commented on #3187
@mike-scott: Which hash function that would be? Dozenth? We have a collection of hash functions already - in mbedTLS ;-).

[2018-05-23 19:42] pfalcon commented on #7678
Then suddenly, ping response time degrades to more than 200ms and at times goes as high as 1s.

This is https://github.com/zephyrproject-rtos/zephyr/issues/3132, right on.

[2018-05-23 19:44] pfalcon commented on #7678
And this is https://github.com/zephyrproject-rtos/zephyr/issues/7571, based on its title.

[2018-05-23 20:02] pfalcon commented on #7571
This pretty much can be an (assumed) description of what happens under the surface in an earlier issue of https://github.com/zephyrproject-rtos/zephyr/issues/3132 . Except that in my case, "more packets than it can handle" is very unlikely to be involved, just some load applied ;-).

[2018-05-23 20:05] #7819 closed

[2018-05-23 20:08] galak commented on #7812
This in theory should be fixed with #7827

[2018-05-23 20:19] andrewboie commented on #7812
please re-test should be good now.

[2018-05-23 20:19] lpereira commented on #7698
This is indeed caused by semaphores being used too early in the boot process.  A way to fix this is to use the entropy driver directly if the system has one, and fall back to sys_rand32_get() if it doesn't.  Let me cook up a patch here.

[2018-05-23 20:32] mike-scott commented on #3187
Heh, of course I take another look at my hacked together code and we could end up with an h2 value > bit_mask.. but anyway you get the jist.

[2018-05-23 20:56] lpereira commented on #7698
PR #7835 should alleviate these symptoms, but entropy drivers might use synchronization primitives early in the boot process, causing the same issue.  Commit message has the details.

[2018-05-23 20:58] #7815 closed

[2018-05-23 21:11] pfalcon commented on #7818
I'd like to start with a methodological point. The question above, taken literally, is very easy to answer: all socket samples shipped with Zephyr to date can be built on a POSIX system (besides Zephyr). Just do:

[code]

on a Linux system and you'll see that there's nothing wrong "with the application", it just works. Thus, we can strike that thru and proceed with posing next questions, specifica

[2018-05-23 21:12] pfalcon commented on #7818
For reference, my Wireshark window:

![screenshot from 2018-05-23 23-32-48](https://user-images.githubusercontent.com/500451/40451356-0c7298f4-5ee7-11e8-8332-2724ada77393.png)

[2018-05-23 21:22] #7789 closed

[2018-05-23 22:31] andrewboie commented on #7698
I think this will do it https://github.com/zephyrproject-rtos/zephyr/pull/7838

[2018-05-23 22:33] lpereira commented on #7733
Just have to make sure that the string is NUL-terminated, because that memcpy() can clip the string.

[2018-05-23 22:34] andrewboie commented on #7698
Confirmed by Anas with #7838

[code]

[2018-05-23 22:57] #7714 closed

[2018-05-23 22:57] #7715 closed

[2018-05-23 22:57] #7719 closed

[2018-05-23 22:57] #7721 closed

[2018-05-23 22:57] #7723 closed

[2018-05-23 22:57] #7725 closed

[2018-05-23 22:57] #7727 closed

[2018-05-23 22:57] #7734 closed

[2018-05-23 22:57] #7738 closed

[2018-05-24 00:34] GAnthony commented on #7821
@pfalcon, yes, verified, fixed with 4dd5867.
Thanks.

[2018-05-24 00:34] #7821 closed

[2018-05-24 07:10] diegosueiro commented on #6365
@galak,

Can we consider the fix for the 1.12 release?

[2018-05-24 07:11] rlubos commented on #7780
I'm not aware on any plans to change the mechanics of how OpenThread is integrated into Zephyr, so at least for some time this will be a valid way to update OT version.

[2018-05-24 07:28] jukkar commented on #7732
Already fixed by commit 4dd5867a79b8919c89e1f19544480446af51d6d8

[2018-05-24 07:28] #7732 closed

[2018-05-24 07:30] jukkar commented on #7736
False positive

[2018-05-24 07:30] #7736 closed

[2018-05-24 07:46] jukkar commented on #6889
Already fixed by commit f71e497d98f34c4c1ce2553367363a1b898f7da6

[2018-05-24 07:46] #6889 closed

[2018-05-24 07:46] jukkar commented on #6887
Already fixed by commit d76cc488a2a216f1d49776823aba1838305d8e5d

[2018-05-24 07:46] #6887 closed

[2018-05-24 07:48] jukkar commented on #6882
False positive

[2018-05-24 07:48] #6882 closed

[2018-05-24 08:39] ulfalizer opened #7848 "CONFIG_BMM150_SET_ATTR not defined (and now removed), giving dead code"
`drivers/sensor/bmm150/Kconfig` has no definition for `BMM150_SET_ATTR`, which is set by `samples/sensor/bmm150/prj.conf`.

`drivers/sensor/bmm150/bmm150.c` has a bunch of `#if defined(BMM150_SET_ATTR)` (and some `#if defined(BMM150_SET_ATTR_REP)`), which are probably dead code. If those are meant to be Kconfig symbols, they'll need Kconfig definitions (and a `CONFIG_` prefix in the `#ifdef`s).

[2018-05-24 08:39] ulfalizer commented on #7848
CC @punitvara

I'm trying to get rid of all assignments to undefined Kconfig symbols, so it can be turned into an error during testing.

[2018-05-24 09:00] pfalcon commented on #3187
Yeah, I get ;-). And you seem to catch my hint too - we've been down the path of search for another magic hash function so many times, that this time can try something else ;-).

[2018-05-24 10:47] spoorthik opened #7858 "Test for k_thread_foreach() is failing on some boards"
**Test location:** tests/kernel/profiling/profiling_api

**Test Identifier:** kernel.profiling.k_thread_foreach

**Execution log:**
[code]

**Recent commit in which the failure observed:** (the commit may not be the root cause of the issue)
e9174c6ddeddf58d8aebba5c89e50965731899e6

[2018-05-24 11:47] jfischer-phytec-iot opened #7862 "rpl_border_router sample bus_faults on frdm_k64f"
[rpl-br/main] [DBG] main: (0x200089f0): RPL border router starting
***** BUS FAULT *****
  Executing thread ID (thread): 0x200089f0
  Faulting instruction address:  0x1344a
  Imprecise data bus error
Fatal fault in essential thread! Spinning...

make debug:

[code]

net_rpl_set_root_with_version(...) calls net_rpl_reset_dio_timer(...), which then calls net_stats_update_rpl_resets(instance->iface),

[2018-05-24 12:01] #7724 closed

[2018-05-24 12:02] #7814 closed

[2018-05-24 12:03] #7797 closed

[2018-05-24 12:04] #7795 closed

[2018-05-24 12:21] #7812 closed

[2018-05-24 12:33] rlubos commented on #7818
Thank you for the feedback. In no means I wanted to blame the "sample" part of the application, by application I meant entire solution, perhaps I should revisit my vocabulary.

Anyway, I did some investigation and it appears that the root cause for the issue described is handling of Zero Window Probe, that can be seen in the Wireshark log provided. Apparently TCP implementation on the server I was

[2018-05-24 12:41] pfalcon commented on #7818
Right, so the next step in my queue is submitting a ticket titled "net: Zero Windows Probes are not handled properly", and discussing the current behavior and how it should work actually. Feel free to beat me on submitting such a ticket ;-).

[2018-05-24 12:45] pfalcon commented on #3132
Thanks for the confirmation. Just in case, I almost never use DHCP in my testing, as that only adds extra point of disturbance to the testing. Overall, this looks like a generic issue, the root cause of which is well described by the title of #7571.

[2018-05-24 12:49] rveerama1 commented on #7862
@jfischer-phytec-iot Thanks, It seems proper place. Please send a patch.

[2018-05-24 12:49] pfalcon commented on #3132
The way to reproduce this 100% in my setting, based on the motives of https://github.com/zephyrproject-rtos/zephyr/pull/7831. So:

1. Run dumb_http_server on frdm_k64f without #7831 applied. Just tested with the master of 5b20350a722d289b85cfbaa530bdc7de377141fb.
2. Run "ab -n1000 http://192.0.2.1:8080/".
3. When the slowdown from running ab starts (see frdm_k64f serial console, ~1req/s is the slo

[2018-05-24 12:59] d3zd3z commented on #7764
Looks like there is already a clock_gettime() in the posix code that works for the monotonic time, so implementing this for CLOCK_REALTIME is a start. I'm not sure what the newlib implementation is doing, and maybe it can be fixed.

[2018-05-24 13:05] SebastianBoe opened #7868 "Support non-recursive single-toolchain multi-image builds"
AMP architecture's like lpcxpresso54114 require multiple images to be built, one for each core. Currently this is supported in Zephyr through recursive invocations of CMake. But recursive invocation's should be avoided whenever possible.

A limitation in CMake prevents us from achieving a multi-toolchain build, but for ARM platforms like lpcxpresso54114, one toolchain is enough. Recursive-CMake is

[2018-05-24 13:10] joerchan opened #7869 "Improve Zero Latency IRQ on ARM"
The description of Zero Latency IRQs is not completely synced with the implementation.
And I don't think it quite fulfills the zero latency requirement the way it is currently implemented.

The description says it always disables the check and allowing priority zero, but instead it always sets priority one, and then interrupt locking is set to masking priority two and higher.
Having exception be a

[2018-05-24 13:11] MaureenHelm commented on #7698
Fixed by #7752 and #7838. Thank you @andrewboie!

[2018-05-24 13:11] #7698 closed

[2018-05-24 13:47] ulfalizer opened #7873 "cc2650_sensortag_defconfig assigned missing Kconfig symbols (now dead code)"
The following Kconfig symbols never existed, but are assigned in `boards/arm/cc2650_sensortag/cc2650_sensortag_defconfig`:

 - PINMUX_CC2650_INIT_PRIO
 - CC2650_TRNG_IRQ_PRIO
 - CC2650_TRNG_ENTROPY_GENERATOR

Only the last one is referenced elsewhere, giving some dead code:

[code]

The `#ifdef`s were renamed by commit da9b0ddf5beb (drivers: Rename `random` to `entropy`), but no symbol with the ol

[2018-05-24 13:48] ulfalizer commented on #7873
CC @ClumsyApe @nashif

Trying to get rid of assignments to undefined Kconfig symbols, to turn it into an error.

[2018-05-24 14:19] #7673 closed

[2018-05-24 14:39] pdunaj commented on #7659
Hi @Vudentz , I don't think bt_gatt_notify blocks. I don't see any wait in the code and practical test (I tried to send 50 notifies in a loop) shows only 15 notifications are queues. Rest is simply ignored with no notification to the application.
As for the application side, I don't really mind to queue the notifications here. I only would like to get notified when there is no space to send key ev

[2018-05-24 14:40] pfalcon opened #7876 "net: tcp: Zero Window Probes are not supported/handled properly"
TCP receive window handling implementation was discussed in https://github.com/zephyrproject-rtos/zephyr/issues/3440.

The initial implementation proposed to perform receive window handling on the level of IP stack (i.e. by exposing via native API): https://github.com/zephyrproject-rtos/zephyr/pull/81 . But there was resistance to it, so instead a generic hooks were added on the level on native AP

[2018-05-24 14:41] pfalcon commented on #7876
@rlubos: FYI

[2018-05-24 14:51] erwango opened #7877 "tests: kernel/mem_protect/mem_protect is failed on nucleo_f429zi/disco_l475_iot1"
Tested on e9174c6ddeddf58d8aebba5c89e50965731899e6.

3 sections failed:
[code]
[code]
[code]

[2018-05-24 14:55] pfalcon commented on #7876
So, the intended behavior of achieving this was: if a peer sends us more data than we advertised with our receive window, we just NET_DROP that entire packet. (The idea being: we asked not to send us too much data. If the peer still sends us too much data, that can be only for bad motives, and we'll resist attempts to pull us into packet amplification.)

However, that completely overlooked the con

[2018-05-24 14:56] #6693 closed

[2018-05-24 15:03] pfalcon commented on #7876
With this info, we now have a bugreport which shows (by the means of Wireshark capture) that the actual behavior is not as described above: https://github.com/zephyrproject-rtos/zephyr/issues/7818

After receiving ZWP (which is again, just a normal TCP segment, just sent to a peer with window=0), Zephyr instead of silently dropping it, sends an ACK, with an updated ack sequence, which Wireshark no

[2018-05-24 15:05] nashif commented on #7793
and why is this being reported now?

[2018-05-24 15:12] pfalcon commented on #7876
Related RFC: https://tools.ietf.org/html/rfc1122#page-92

[2018-05-24 16:05] carlescufi commented on #6187
@andrewboie @lpereira @pfalcon
Since this is an issue for booting up the system when stack randomization is enabled, the proposed API would be:

`entropy_get_entropy(struct device *device, u8_t *buf, u16_t len, int flags)`

Where flags could specify either `NONBLOCK`, `BUSYWAIT` or 0 (normal blocking without busy-waiting)

[2018-05-24 16:11] pfalcon commented on #7818
The handshake uses packets of the same size, except I receive from the peer SYN/ACK with MSS option = 1440, whereas @rlubos - 1460. We don't send MSS option. So, how it happens that based on this, in @rlubos case, the peer selects MSS of 1280, while in my case - of 640, is a mystery.

[2018-05-24 16:13] pfalcon commented on #7818
Ah, right MSS is asymmetrical actually...

[2018-05-24 16:17] andrewboie commented on #7877
I don't have this hardware available to me but I did a build and examined the binary.

It appears that the MPU hardware is not being programmed correctly for the memory domain configuration. The tests are trying to read/write a buffer that they should have been granted access to but instead we fault.

I don't know if this is a recent regression, or a problem that has been around for a long time on

[2018-05-24 16:19] andrewboie commented on #7610
@andyross fixed this

[2018-05-24 16:19] #7610 closed

[2018-05-24 16:22] aescolar-ot commented on #7610
@andrewboie : do you have a link to the commit which fixed it?

[2018-05-24 16:28] pfalcon commented on #7818
Even by sending explicit MSS option in SYN, I can't get peer to send anything else but 640 bytes data segments...

[2018-05-24 16:30] inakypg opened #7882 "tests/dfu/mcuboot.test_bank_erase fails on nrf52840_pca10056"
commit 5b20350a722d289b85cfbaa530bdc7de377141fb

[code]

[2018-05-24 16:32] inakypg commented on #7882
First build this popped up in our radar was around 05/23 1609 (commit d73e970084c5e8a0f1ded28af42c64938d72341d), but this is not necessarily the pinpoint.

[2018-05-24 16:51] inakypg opened #7884 "tests/power/power_states never completes on Arduino 101's arc core"
Gave it 200 seconds and still did not complete it

[code]

stated around 5/23 4:09 commit 11c68a10f47bb56f595fe12a30c60d34c23dbeec

[2018-05-24 16:52] pfalcon commented on #7818
@rlubos , can you tell what version of Wireshark you use (and on what distro). I have a feeling that mine simply can't decode Zero Window Probe, as it decodes as TCP Keep-Alive even obvious retransmits. Mine is 2.2.6 on ubuntu 16.04.

[2018-05-24 17:13] andrewboie opened #7885 "em_starterkit_em7d_v22 failing multiple tests in user mode"
We recently enabled user mode by default when running tests cases on hardware that is capable of it, and I am seeing a bunch of failures on this ARC board. The following tests are either hanging or crashing with an exception:

tests/kernel/msgq/msgq_api
tests/kernel/mem_pool/sys_mem_pool
tests/kernel/queue/
tests/kernel/mem_protect/mem_protect
tests/kernel/poll
tests/kernel/semaphore/semaphore
tes

[2018-05-24 17:15] nashif commented on #7885
@vonhust  FYI

[2018-05-24 18:18] darkopetrovic commented on #3399
Is anything been done for the CC2538 port so far?

[2018-05-24 18:59] #7780 closed

[2018-05-24 19:06] MaureenHelm commented on #6038
Added item to release checklist in #6533
- Update doc/LICENSING.rst for new components that do not have a license

[2018-05-24 19:06] #6038 closed

[2018-05-24 19:14] MaureenHelm commented on #7877
This test passes on mimxrt1050_evk, which has the ARM MPU

[2018-05-24 19:26] andrewboie commented on #7877
@erwango @nashif if you have boards can you try to run this one with assertions enabled?
Some of our SOCs define way too many static MPU regions at boot, leaving little or none left behind for runtime programming. So it may be trying to program the MPU and failing to get a free region.

[2018-05-24 20:36] inakypg opened #7891 "tests/posix/timer.test_timer fails on nrf51_pca10028"
commit 4e8438bc0e1f856765f4e556d66685e65607388e

[code]

[2018-05-24 20:40] andrewboie commented on #7877
This is basically an instance of #6896

[2018-05-24 20:50] ruuddw commented on #7858
Thanks for testing, what configuration was tested? For em_starterkit_em7d, with MPU and userspace support, I saw a similar fail. For non-MPU configuration like em9d I believe the test passes.
PR #777 is work in progress fixing the userspace issues.

[2018-05-24 20:53] andrewboie commented on #6896
This already happens with the memory domains.

[2018-05-24 20:59] andrewboie commented on #7877
per @nashif  #7893 fixes this

[2018-05-24 21:35] pfalcon commented on #7818
Then I tried my linux localhost, then google.com. It's all the same - I don't ZeroWindowProbe like on @rlubos' screenshot, instead I see Keep-Alive's.

[2018-05-24 21:44] pfalcon commented on #7818
Then I find this: https://www.ietf.org/mail-archive/web/tcpm/current/msg08397.html . So, that thread says that indeed Linux uses Keep-Alive's for the purpose of zero window probing, while other systems, like FreeBSD and (as referenced elsewhere on the net) MS Windows.

Consequently, @rlubos, I don't know how to explain your case. Is there a chance that you have a transparent proxy or NAT using tho

[2018-05-24 21:44] andrewboie commented on #7704
I believe I know what this is.
Most ARM use the latest AAPCS which does not keep a frame pointer. There is impossibly convoluted logic and the exidx section used for stack unwinding.
I suspect this board uses the older version, where r7 is used to store the frame pointer, and GCC does not like this. Might have to do this directly in assembly.

[2018-05-24 21:46] ioannisg commented on #7869
Related closed issues: to #2897, #2543

[2018-05-24 21:47] ioannisg commented on #7869
CC @agross-linaro , @andrewboie , @cvinayak

[2018-05-24 21:52] pfalcon commented on #7818
Then we can prepare following test setup:

[code]

And with it, I indeed can reproduce the issue, and specific error logging happens on the console.
![screenshot from 2018-05-25 00-51-20](https://user-images.githubusercontent.com/500451/40515523-d79169ce-5fb5-11e8-8596-47c3796ec580.png)

[2018-05-24 22:31] #7877 closed

[2018-05-24 22:38] andrewboie commented on #7885
Possible relationship to #7776

[2018-05-24 22:43] pfalcon commented on #7818
Actually no, I don't see any problem here, except that Wireshark's "AI" seems to be misinterpreting ZeroWindowProbe. It treats it as if it was some kind of a magic packet, but as explained in https://github.com/zephyrproject-rtos/zephyr/issues/7876#issuecomment-391745233 , zero windows probe is actually just a normal TCP segment which can be interpreted by a receiver in one of the standard ways. T

[2018-05-24 22:44] pfalcon commented on #7876
After the last comment, I switched to the practical part of trying to reproduce Zero Window Probes issues, logged here: https://github.com/zephyrproject-rtos/zephyr/issues/7818#issuecomment-391767369

[2018-05-24 22:57] pfalcon commented on #7818
As a final test, I'm applying following test changes:

[code]

With it, I get the following console output:

[code]

in full accordance with the analysis described in https://github.com/zephyrproject-rtos/zephyr/issues/7876.

So, that's the only stable and reproducible issue on *our* side that I see, and which needs to be fixed. (The next issue on our side is "TCP handling is poor", but unfortunat

[2018-05-24 22:58] pfalcon commented on #7876
Cross-posting from https://github.com/zephyrproject-rtos/zephyr/issues/7818#issuecomment-391891083 :

As a final test, I'm applying following test changes:

[code]

With it, I get the following console output:

[code]

in full accordance with the analysis described in https://github.com/zephyrproject-rtos/zephyr/issues/7876.

So, that's the only stable and reproducible issue on *our* side that I s

[2018-05-24 23:19] #6896 closed

[2018-05-25 01:10] GAnthony commented on #7873
I could remove what appears to be the dead code, but I don't have this board to test.

@ClumsyApe, I see cc2650_sensortag doesn't build for the blinky sample, and wonder if this board is even being used.  Can you please comment on the intention of the TRNG support?

[2018-05-25 04:53] andrewboie commented on #7858
This is failing on ARM sam_e70_xplained as well

[2018-05-25 04:53] andrewboie commented on #7858
@ramakrishnapallala can you please look at this?

[2018-05-25 06:10] spoorthik commented on #7858
@ruuddw Yes, the test fails on em_starterkit_em7d with MPU enabled.
@andrewboie I didn't find failures on sam_e70_xplained though. May be it fails on any specific configuration?

[2018-05-25 06:18] inakypg opened #7906 "tests/benchmarks/sys_kernel fails on Arduino Due"
commit 8e41572774ec72d623d48b1a69e362b00771ff03

Console reports TEST RESULT: FAILED DETAILS: timer tick happened. Results are inaccurate

[code]

[2018-05-25 06:21] inakypg opened #7907 "tests/benchmarks/latency_measure fails on sam_e70_xplained"
Commit 8e41572774ec72d623d48b1a69e362b00771ff03

Note measure 6 is failing: Error tick occurred

[code]

[2018-05-25 06:24] inakypg opened #7908 "tests/boards/altera_max10/qspi fails on max10"
commit 8e41572774ec72d623d48b1a69e362b00771ff03

[code]

[2018-05-25 06:34] inakypg opened #7909 "tests/kernel/common.test_bitfield fails on max10"
commit 8e41572774ec72d623d48b1a69e362b00771ff03

[code]

[2018-05-25 07:33] erwango commented on #7877
Fixed by #7893

[2018-05-25 07:40] rlubos commented on #7818
Thank you for detailed analysis.

So I'm running Arch Linux (on a VMWare), Wireshark 2.6.0

And vice versa, I've used the IP adress from you Wireshark log as a test yesterday, and still have the same behavior - 1280 MSS and failure on Zero Window probing. I guess we are connecting to different, mirrored servers as we are at different location?

Well, I'm running on a VM and I'm in corporate networ

[2018-05-25 07:42] nvlsianpu commented on #7882
thx, will looks on that

[2018-05-25 07:59] spoorthik commented on #7511
The issue is already been fixed.

The code shown in scan9.coverity:
`CHECK(node_index(walked_nodes[ni++]) == i);`

But the latest version of code is:
[code]
This doesn't require any modification. Closing the bug.

[2018-05-25 07:59] #7511 closed

[2018-05-25 08:45] vonhust commented on #7858
@andrewboie @ruuddw  , it's not a real issue for ARC. In ARC user space support, for kernel thread, to fully utilize the stack,  the privilege stack is merged with user declared stack, i.e. the thread->stack_info.size ==  CONFIG_PRIVILEGE_STACK_SIZE + STACKSIZE.   if we change

`(thread->stack_info.size == STACKSIZE)` to  `(thread->stack_info.size >= STACKSIZE)` .

The test will pass.

Considering

[2018-05-25 09:21] mandarcthorat1 commented on #7511
commit 7e0d1d27d5c6bb3899002fc882413cbf8849e7bd has fixed this issue

[2018-05-25 09:57] erwango commented on #7550
@b0661 , thanks for head's up. We'll take it into consideration.

[2018-05-25 10:11] pfalcon commented on #7818
@rlubos , based on comments in https://github.com/zephyrproject-rtos/zephyr/pull/7867#issuecomment-392005562, can you try to reproduce this issue in other networking environments, e.g. at home, via 3g, etc.?

big_http_download exists since Feb 13, and before that, I was running it for a year as a MicroPython application: https://github.com/pfalcon/micropython/blob/zephyr-wip/ports/zephyr/scripts/t

[2018-05-25 10:12] pfalcon commented on #7818
To clarify, do you have a Windows machine, on which you run VMWare with Arch Linux inside, and in this VM, you run Zephyr development, including qemu_x86 with networking?

[2018-05-25 11:10] rlubos commented on #7818
Yes. Windows 10 as host, Arch linux as a guest (running inside VMWare) and qemu_x86 in Arch. Any issues with that?

Just tried with LTE through my phone. I've got similar results, though packets were smaller. Once I received ZWP, communication stalls. Though this time like 1 for 5 runs succedded - client never advertised zero window in that case, hence no probes.

I can try with different ISP and

[2018-05-25 11:27] pfalcon commented on #7818
So, that would be much plausible explanation, rather than transparent proxies/NATs, why you are talking to Linux host, but TCP behavior looks like Windows' - VMWare just sends guest's data using the host Windows stack.

So, based on the above, a better test might to try to use natively running Linux system, if you have such possibility.

I from my side will think how to get good Windows testing sy

[2018-05-25 12:52] MaureenHelm commented on #7766
@ramakrishnapallala Any update?

[2018-05-25 13:03] #7862 closed

[2018-05-25 13:30] ruuddw commented on #6392
Here's my first feedback on these ideas and proposals.

"A Firmware image that boots the MCU is by default running in Secure state. [This is true for ARMv8-M and ARC (@ruuddw ).]" -> Correct, ARC always boots in Secure Kernel Mode

I agree with the general approach and use-cases. Current ARC implementation for SecureShield on EMSK (em7d configuration) follows the 'compatible' approach: runs everyt

[2018-05-25 14:01] oliviermartin opened #7924 "mcu_mgmt: Memory corruption (cborattr suspected) - test case with smp_svr"
I was trying to enable FOTA on my Nordic nRF52832 based device. I initially tested it with `zephyr/samples/subsys/mgmt/mcumgr/smp_svr` and it was working fine. But when trying to integrate the `mcumgr` module into my Zephyr application, the update was crashing with `***** Stack Check Fail! *****`.
I took me a while to understand why it works with `smp_svr`. But after enabling `CONFIG_STACK_CANARIE

[2018-05-25 14:16] ruuddw commented on #7885
PRs #7778 and #7923 fix most of the issues.
Remaining:
1. tests/kernel/mem_protect/mem_protect : alignment problem
    see issue #7776; @andrewboie can you have a look and suggest how best to solve? remove the 'packed' attribute?

2. tests/kernel/fatal: stack protection exception triggers, but is not reported as a STACK_CHK_FAIL (similar to ARM). I didn't investigate in detail yet.

3. tests/kerne

[2018-05-25 14:26] andrewboie commented on #7776
I thin __attribute__((packed, aligned=4)) will fix it.

[2018-05-25 14:33] ruuddw opened #7927 "West runner command doesn't work for em-starterkit"
debug and flash commands for em-starterkit generate an error:

 Using runner: em-starterkit
 fatal error: command debug cannot be run in this context: Runner em-starterkit received unknown arguments ['']

parse_known_args() returns a list with an empty string instead of an empty list. No idea if this is ok and the check should be changed, or something else should be fixed...
See:
https://github.co

[2018-05-25 14:34] andrewboie commented on #7858
@spoorthik I just built it in-tree, ran 'make flash' and observed the same error on sam_e70_xplained.

[2018-05-25 14:46] locomuco commented on #3727
@lpereira @iha is it possible to push a WIP branch to upstream, we would like to contribute without reinventing the wheel...

[2018-05-25 14:51] MaureenHelm commented on #7924
@ccollins476ad

[2018-05-25 14:52] ulfalizer commented on #7873
I submitted a PR that just removes the Kconfig assignments: https://github.com/zephyrproject-rtos/zephyr/pull/7929. Trying to get of all assignments to undefined symbols to turn it into an error.

Remove the dead code too if it isn't used.

[2018-05-25 14:56] MaureenHelm commented on #7804
@punitvara Any update?

[2018-05-25 15:12] spoerk opened #7931 "Bluetooth controller nrf52 - connection event status"
I have a question regarding the _Bluetooth controller implementation_ on the Nordic Semiconductor _nrf52 platform_. Is there any way I can evaluate the _status_ of an _individual BLE connection event_ of an established connection?

During a BLE connection there are several connection events where the BLE master and slave are not able to exchange packets (e.g., due to external radio interference).

[2018-05-25 15:16] karstenkoenig opened #7933 "drivers: can: stm32_can: bitrate ignored"
The CAN peripheral prescaler is not calculated based on the bitrate passed in or overridden if not passed in, but always on cfg->bus_speed

Also the can.h interface doesn't really specify that bitrate can be zero and will then be overridden with a value from dts or kconfig, not sure if that matters

https://github.com/zephyrproject-rtos/zephyr/blob/8364b223e485c331f99c0c55c8064bce80dd857e/drivers/

[2018-05-25 15:54] #7741 closed

[2018-05-25 15:59] #7067 closed

[2018-05-25 16:09] ulfalizer commented on #7848
I'm removing just the `CONFIG_BMM150_SET_ATTR` assignment in https://github.com/zephyrproject-rtos/zephyr/pull/7935. Remove the code as well if it isn't needed.

[2018-05-25 16:12] ramakrishnapallala commented on #7766
I think the issue is with SPI flash driver. I will debug and update the status accordingly.

[2018-05-25 16:30] #6667 closed

[2018-05-25 16:56] lpereira commented on #3727
@locomuco @iha Here's my current WIP branch, but it's far from being finished.  In fact, the SPI depends on DMA to work properly, and the DMA controller wasn't documented in the Technical Reference Manual when I started writing the driver: https://github.com/lpereira/zephyr/tree/esp32-spi

[2018-05-25 17:02] ramakrishnapallala commented on #7858
Looking into the issue.

[2018-05-25 17:51] galak commented on #4713
@tbursztyka can we close this?

[2018-05-25 18:03] galak opened #7937 "dts - support a binding file being on more than one bus"
The st,lsm6dsl is an example of a sensor that can be on i2c or spi.  right now we have a hack of using a different compat for the SPI case.

[2018-05-25 18:07] #7127 closed

[2018-05-25 18:33] jonpry opened #7939 "Connections to TI CC254x break after conn_update"
Nordic softdevices have a flag BLE_GAP_OPT_COMPAT_MODE, for ensuring the connection window offset does not become zero because of bugs in TI CC254x stacks. Is there a way to prevent such windows from being used in zephyr?

[2018-05-25 18:37] #6687 closed

[2018-05-26 12:17] b0661 opened #7942 "tests: benchmarks: build fail in arm/core/fault.c for frdm_k64f in footprint/min"
Unrelated fault "fault.c:274:9: error: ‘mmfar’ undeclared" when testing PR #6762:

[code]

See https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/15960/2/tests

[2018-05-26 12:26] #7671 closed

[2018-05-26 12:27] #7364 closed

[2018-05-26 13:10] nashif commented on #7811
@SavinayDharmappa please take a look.

[2018-05-26 13:13] nashif commented on #7478
@lpereira can you please look at the others?

[2018-05-26 16:48] andrewboie commented on #7885
Hmm. This used to work, at least for the native stack overflow protection on ARC. Do we still update those registers properly?
I remember someone also added support for guard regions for the supervisor-mode stack, in that case may need to check the faulting memory address and see if it falls within bounds if the CPU doesn't report a special error when it tries to push onto the stack and fails.

[2018-05-26 19:50] #7942 closed

[2018-05-27 13:55] #6757 closed

[2018-05-27 13:55] nashif commented on #7811
@rgundi ping

[2018-05-27 13:57] nashif commented on #7760
bug in a sample, this should not be blocking a release, so move to low priority

[2018-05-27 13:58] nashif commented on #7927
@mbolivar ping

[2018-05-27 13:59] nashif commented on #6893
@jukkar  ping, please provide latest status

[2018-05-27 14:00] nashif commented on #7541
@andyross  ping

[2018-05-27 14:42] ramakrishnapallala commented on #7858
Ran the test :  tests/kernel/profiling/profiling_api on sam_e70_xplained and frdm_k64f boards. The test is passing. The only issue I see is,  after the test gets executed i see continuous stack dumps due to the _sys_soc_suspend call in the test (main.c). This is behavior should be in line with old API as well as it depends in suspend/resume call flows.

This can be fixed by conditionally running t

[2018-05-27 17:41] karstenkoenig commented on #7933
ping @alexanderwachter as the author

[2018-05-27 18:20] b0661 opened #7951 "doc: naming convention for requirements ids"
Recently requirements IDs were introduced. There should be a doumented naming convention for such IDs.

The naming convention currently used (e.g." K-THREAD-003") is IMHO not optimal.

- "speaking" IDs should provide as much info as possible to enable to do consistency checks without looking up the requirement.
- "non-speaking" IDs should just be senseless but easy to memorize data (e.g. Numbers)

[2018-05-27 18:27] alexanderwachter commented on #7933
Thats a bug. Sorry for that. I will korrekt it in my next rework PR.
Thanks for that!

[2018-05-28 04:29] spoorthik commented on #6660
This issue is marked as false-positive in coverity site. This can be closed.

[2018-05-28 04:44] #6701 closed

[2018-05-28 04:45] punitvara commented on #7729
This is intentional to lock mutex twice to check recursive functionality of mutex.

[2018-05-28 04:45] #7729 closed

[2018-05-28 04:46] punitvara commented on #7848
@ulfalizer  Extra code could be useful when interrupt functionality will be added. @ulfalizer @MaureenHelm  Do you suggest to remove extra code as of now ?

[2018-05-28 05:02] ramakrishnapallala commented on #7858
able to reproduce the failure case on sam e70. reason for failure is the actual stack size allocated (thread->stack_info.size = 480) is less than what is requested (512) due to the following flags:

CONFIG_MPU_REQUIRES_POWER_OF_TWO_ALIGNMENT
CONFIG_USERSPACE

I am modifying the test as per @vonhust suggestion.

[2018-05-28 05:55] punitvara commented on #6683
This looks False Positive to me. Comparing volatile variable with constant in zassert_*. I don't see any problem there

[2018-05-28 05:55] #6683 closed

[2018-05-28 06:26] ramakrishnapallala commented on #7348
moving to v1.13

[2018-05-28 06:28] ramakrishnapallala commented on #3805
Moving to v1.13

[2018-05-28 06:29] ramakrishnapallala commented on #3668
@nashif can we move this to v1.13?

[2018-05-28 06:37] pswarnak commented on #7793
That was the last tag that i had compared with. I could not get sufficient time to check the exact git commit, where these tests started failing. I will try to provide the exact commit for ease.
I had reported [7026](https://github.com/zephyrproject-rtos/zephyr/issues/7026) for sensor failure that was fixed by @SavinayDharmappa
This is second sensor related issue reported after zephyr-v1.11.0 tag.

[2018-05-28 07:04] ramakrishnapallala opened #7954 "make flash failing for altera_max10"
make flash is failing for Nios-II Altera MAX10 board.

[code]

[2018-05-28 07:52] rlubos commented on #7818
I think you'v hit the point here. As promised I did some experiments on my local machine, where I have both native Linux and Linux running in a VMWare. So it looks like indeed, that if network interface is configured as NAT in the VM, Windows is proxying the connection, therefore we talk to the Windows TCP/IP stack, not the actual server.

For the future reference, If anyone face this problem, swi

[2018-05-28 07:55] ioannisg commented on #6392
@ruuddw thanks for your feedback. Here are some responses to your comments.

That's totally OK; we could discuss the exact terminology under a separate issue.

So, in this issue, my intention was, mainly, to address the _"how-to-distinguish"_ problem, from the perspective of the product maker/developer. Hence, the proposed **top-level** `arch` build-directives, `CONFIG_SECURE_FW`, `CONFIG_NONSECUR

[2018-05-28 07:58] pswarnak commented on #7793
Figured out the exact git commit resulting into test failure using "git bisect".

The test cases are failing after the commit 74d1835 by @tbursztyka.
@nashif: This commit was merged as part of [PR-7623](https://github.com/zephyrproject-rtos/zephyr/pull/7623)  on May 18, 2018 and reported by us on May23, 2018. Hope, this answers your query.

Sensor test case passed by reverting the commit.
Please l

[2018-05-28 08:21] jukkar commented on #6893
No progress in this front. We would need a way to reproduce this, currently the issue is seen in out-of-tree application. I am closing this for time being, this could be re-opened with a proper way to reproduce the issue.

[2018-05-28 08:21] #6893 closed

[2018-05-28 08:39] ramakrishnapallala commented on #7766
As expected, the issue is with drivers/flash/spi_flash_w25qxxdv.c
system got stuck in  a while loop in wait_for_flash_idle() function. This, in turn, making a call spi_transceive() and expects a register bit to be cleared(W25QXXDV_WIP_BIT) which is not happening.

[2018-05-28 09:17] ramakrishnapallala commented on #7766
looks like the following commit introduced the issue, even the test under samples/drivers/spi_flash/ is also failing at the same place. I need to check with Tomasz on this one.

commit 16cb7ab883332fce0b6075c0e840c1919db23862
Author: Tomasz Bursztyka <tomasz.bursztyka@linux.intel.com>
Date:   Tue Jan 30 15:01:36 2018 +0100

    drivers/flash: Switch W25QXXDV driver to new SPI API

    This saves q

[2018-05-28 09:33] zhaozhongchen opened #7959 "shell: backspace doesn't work in minicom"
Minicom is a text-based modem control and terminal emulation program for Unix-like operating systems, backspace can't delete the previous character in that platform.

[2018-05-28 09:50] carlescufi commented on #7931
Hi @spoerk. I assume that you mean on-air radio connection events. This is not possible today directly as it is not part of the Bluetooth specification. We would require a specific interface between Host and Link Layer to achieve this.
I will let @cvinayak comment on this.

[2018-05-28 09:51] carlescufi commented on #7924
@oliviermartin first thing I would try here is to increase your stack sizes. Try to replicate at the very least the sizes that you get when building the `smp_svr` sample. Search its generated `.config` file for `STACK_SIZE`

[2018-05-28 09:53] carlescufi commented on #7613
@Jeepgoing can you please let us know if this is still an issue or if we can close it? Thanks!

[2018-05-28 09:56] Vudentz commented on #7659
Hi @pdunaj Im pretty sure it blocks if you send more packets than there are buffers:

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/gatt.c#L630
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/att.c#L1944
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/conn.c#L1935

If it would not block it would fail imm

[2018-05-28 09:58] ramakrishnapallala commented on #7766
CC @tbursztyka

Another observation is, the original tests are using QMSI SPI controller driver but the latest code uses DW SPI driver and removes the QMSI drivers.

@tbursztyka can we make samples/drivers/spi_flash/ work with the latest code?

[2018-05-28 10:16] nvlsianpu commented on #7882
@inakypg I can not reproduce this with current master  (SHA 71ce9b524ab9baf41096f29c5d261c6aec43354b). Can you test it as well?

[2018-05-28 10:33] spoerk commented on #7931
Thank you for the response. Yes, I mean on-air connection events.
I am aware that this behavior is not forseen by the Bluetooth specification. It would be fine, if I could evaluate the status of individual connection events in the Bluetooth controller implementation of the nRF52. I am just curious if the nRF52 radio interface does provide such information.

[2018-05-28 11:11] Jeepgoing commented on #7613
sorry, i haven't done this lately, but i think you are right, this issue maybe caused by my development environment, and when i have time, i will do more test, now i will close this issue.

[2018-05-28 11:11] #7613 closed

[2018-05-28 11:32] jukkar commented on #6893
@otavio sure, I can review that.

[2018-05-28 11:40] nvlsianpu commented on #6937
done by PR #7449

[2018-05-28 11:40] #6937 closed

[2018-05-28 12:08] erwango commented on #7516
As an output of this ticket it would be nice to have a checklist that can be can be used to check easily if the component we want to introduced is compatible with zephyr policy and if not what is missing.

[2018-05-28 12:27] #7755 closed

[2018-05-28 12:46] #7793 closed

[2018-05-28 13:41] nashif commented on #7882
can't reproduce as well:

[code]

[2018-05-28 13:41] nashif commented on #7882
please reopen if you still can reproduce this.

[2018-05-28 13:41] #7882 closed

[2018-05-28 13:45] nashif opened #7966 "Move k_thread_foreach() tests to tests/kernel/threads"
Please move the tests from `tests/kernel/profiling/` to where it belongs, under thread tests.

[2018-05-28 13:53] punitvara commented on #7804
@MaureenHelm  Fixed

[2018-05-28 14:41] paulgavrikov opened #7972 "Bluetooth: Mesh: adv bearer does not use correct interval"
Setting any interval > 20ms will not be reflected in the adv.c as `BT_MESH_ADV(buf)->adv_int` needs to be decoded first. But it also looks like `BT_MESH_ADV(buf)->adv_int` carries a wrong value set by higher layers.
E.g. an Interval of 100ms should be encoded as 9 << 3 = 0b01001, yet` BT_MESH_ADV(buf)->adv_int` = 0b0100

[2018-05-28 15:02] erwango opened #7974 "extract_dts_includes: Binding merge warning should be enhanced"
Building hello_world on nucleo_f401re, I guet the following warning:
[code]

This warning is a consequence of https://github.com/zephyrproject-rtos/zephyr/pull/7548
It should not be displayed in this case (description, title and version fields should not produce warning)
Besides, message should be enhanced in order to mention what is the impacted node to investigate.

[2018-05-28 15:03] erwango commented on #7974
@b0661 , could you have a look?

[2018-05-28 15:18] pfalcon commented on #7502
@vakulgarg : What's the state of this issue? Did @jukkar's PR https://github.com/zephyrproject-rtos/zephyr/pull/7549 fixed this sample. If not, this ticket should be reopened. And if yes, why do we need https://github.com/zephyrproject-rtos/zephyr/pull/7675 ?

[2018-05-28 15:19] paulgavrikov commented on #7972
@jhedberg the issue is a bit deeper than we thoguht so I'd leave the changes to someone more experienced.
One of the issues is that `adv.c:bt_mesh_adv_create_from_pool` creates a struct that should contain the encoded values, but is passed the unencoded ones from the transport layer.
The second issue comes from bad naming: `bt_mesh_adv` members are called `adv_int` and `count` and I'd propose to r

[2018-05-28 15:49] erwango commented on #7974
Warning is triggered because of clock property is included in st,stm32-uart.yaml and uart.yaml.
So it allowed to detect an actual  yaml description issue.

Warning is good, but binding should be fixed

[2018-05-28 16:23] ulfalizer opened #7977 "ARC_INIT is set on boards that don't have it, triggering Kconfig warnings"
The `ARC_INIT` symbol is only defined on the `intel_quark` SoC (see the [symbol reference](http://docs.zephyrproject.org/reference/kconfig/CONFIG_ARC_INIT.html#cmdoption-arg-config-arc-init)), but is set by `samples/subsys/ipc/ipm_mailbox/ap/prj.conf`, giving a Kconfig warning for assigning an undefined symbol on these boards:

[code]

Should I just whitelist `ARC_INIT` warnings (about to turn man

[2018-05-28 17:02] ulfalizer opened #7978 "SSE and SSE_FP_MATH are set on frdm_k64f, which doesn't have it, triggering Kconfig warnings"
Similar issue to https://github.com/zephyrproject-rtos/zephyr/issues/7977, with `tests/kernel/fp_sharing/prj.conf` and the `frdm_k64f` board in this case. See the [SSE](http://docs.zephyrproject.org/reference/kconfig/CONFIG_SSE.html#cmdoption-arg-config-sse) and [SSE_FP_MATH](http://docs.zephyrproject.org/reference/kconfig/CONFIG_SSE_FP_MATH.html#cmdoption-arg-config-sse-fp-math) symbol reference

[2018-05-28 17:11] ulfalizer commented on #7978
CC @jithu83

[2018-05-28 18:11] jhedberg commented on #7737
@nashif why did you assign this to me? I'm not at all familiar with this code.

[2018-05-28 18:45] sathishkuttan opened #7979 "drivers: dma: dma_cavs: DMA driver does not support per-channel callbacks"
The current driver `drivers/dma/dma_cavs.c` allows DMA completion callback functions to be one per device.
Since each DMA device has 8 channels with each channel potentially used by different peripheral drivers, the DMA driver should instead allow registration of completion callback function for each channel.

[2018-05-28 20:06] carlescufi commented on #7704
@andrewboie where is the aapcs version selected in the board? I don't think this does anything differently than other boards, the difference is perhaps that we are the only ones to build the Bluetooth host and controller together.

CC @pizi-nordic

[2018-05-28 21:20] #7657 closed

[2018-05-29 05:07] ramakrishnapallala commented on #7733
OK

[2018-05-29 05:37] rgundi opened #7986 "The scripts (debug, debugserver and flash) are not working for Intel S1000 board"
This was working before. Looks like the commit bc7b1c595ed4090be6d80859a01a0bb372ae030c regressed it.

[2018-05-29 06:49] zhaozhongchen opened #7989 "eth: ping: can't ping others from zephyr console"
my custom board(ip: 192.168.3.25) can't ping others(ip: 192.168.3.101, win10) in console.

[code]

but from my win10 computer can ping Zephyr:

[code]

this is the capture from wireshark:

[code]

[code]

[2018-05-29 07:43] pizi-nordic commented on #7704
The AAPCS designated r11 as a frame pointer, so we are still in the fog. I will try to reproduce this issue and try to find the cause.

[2018-05-29 08:28] tbursztyka commented on #4713
Definitely! Legacy API is dead and buried now.

[2018-05-29 08:28] #4713 closed

[2018-05-29 09:50] zhaozhongchen commented on #7989
ping win10 from zephyr's console continued, seems the first time after ARP failed and the next time successful.

[code]

[2018-05-29 10:02] ramakrishnapallala commented on #7766
@tbursztyka on the while loop part, I am with you. I can fix that part.

[2018-05-29 10:39] spoorthik commented on #6672
https://scan9.coverity.com/reports.htm#v34913/p12996/fileInstanceId=35038207&defectInstanceId=5538125&mergedDefectId=183060

We need to manually search with the CID specified.

And this issue is marked as false positive and the status is dismissed.

[2018-05-29 12:14] pizi-nordic commented on #7704
I traced it down.

1. The AAPCS defines `r11` as a frame pointer for long mode, however in thumb a `r7` is used (as lower registers might be used with more instructions).

2. The 09a8810b339b8266f835ea29f863a9cb825e486a adds the `r7` to the clobber list of  `_arch_syscall_invoke*()` calls. The `r7` must be listed there as it is overwritten by the `_do_syscall`.

3. The GCC prints the mentioned err

[2018-05-29 13:23] GSlzr opened #7999 "HCI UART with Linux host cannot connect to nrf52 6lowpan peripheral"
When using a setup with one nrf52832 dev kit flashed as HCI UART device with a baudrate of 115200 attached to a Linux host running the 4.4.5 kernel and BlueZ tools version 5.47, it is not possible to connect to a nrf52840 dev kit running the ICMP example present in the Nordic SDK 15.

Steps to reproduce:

- Flash everything with the versions described above:
     - Linux Host with kernel **4.4.5**

[2018-05-29 14:31] ramakrishnapallala commented on #7766
@tbursztyka good to hear that you found the issue. Thanks.

[2018-05-29 14:43] #7974 closed

[2018-05-29 17:04] MaureenHelm commented on #7787
@andyross Any update?

[2018-05-29 17:08] tbursztyka commented on #7766
actually there were 2 issues. The other issue is the use of tx buf/len NULL/>0 is found nowhere but in w25qxxdv driver, and that case was missing in dw driver.

@ramakrishnapallala please test #8003 I verified it on my arduino 101 and it works just fine.

[2018-05-29 17:25] lpereira commented on #7478
I'm hitting this [issue here](https://bugzilla.redhat.com/show_bug.cgi?id=1566639); using the updated valgrind package doesn't seem to get me anywhere.

Regardless, I'm taking a closer look at these issues.  The one I looked already is presumably fixed.

[2018-05-29 17:35] nashif commented on #6646
@finikorg can you submit a PR to fix this, looks like #4661 will never happen!

[2018-05-29 17:37] carlescufi commented on #7999
@GSlzr would it be possible for you to test with a more recent kernel, such as 4.15 or so? Just to rule out the kernel issues that @mike-scott mentions.

[2018-05-29 17:38] nashif commented on #6347
closing, no response.

[2018-05-29 17:38] #6347 closed

[2018-05-29 17:43] nashif commented on #6389
@d3zd3z Can you guys in the SecWG propose a solution and submit it?

[2018-05-29 17:44] nashif commented on #6307
@erwango ping, any solution in sight?

[2018-05-29 17:45] nashif commented on #5857
@pfalcon What is the status? Are we going to see a fix for 1.12?

[2018-05-29 17:48] nashif commented on #5678
@finikorg so is this fixed? Can we close it?

[2018-05-29 17:49] nashif commented on #3187
@pfalcon any update on this?

[2018-05-29 18:07] pfalcon commented on #3187
Not for 1.12.

[2018-05-29 18:19] mike-scott opened #8005 "FRDM-K64F boot hang w/ mcuboot + lwm2m client"
Using latest master, I can produce a boot hang on K64F when using mcuboot + the lwm2m client chain loaded from slot 0.  The interesting bit is that IPv6 needs to be disabled.

Bisecting led to this commit:
https://github.com/zephyrproject-rtos/zephyr/commit/1856e2206d1286ede9c8b25a5702f8c40d8bccd6#diff-23bba5938c8ac686f219f01f58478b9aR152

And if I change line 152 from:
[code]
to
[code]
It allows

[2018-05-29 18:26] mike-scott commented on #8005
This bug has a VERY racy feel to it.   When I add printk for debugging it can make the problem go away as well.

[2018-05-29 18:33] andyross commented on #8005
Oh, and the fix there might be as simple as stuffing a k_yield() call in to let the current thread chill for a bit.

[2018-05-29 18:34] agross-linaro commented on #7704
Yeah I'll take shortly.  We moved from using stack to using regs for these due to unaligned stack issues.  I didn't know the thumb mode did things a little different.

[2018-05-29 19:10] punitvara commented on #6259
This seems to be false positive.

[2018-05-29 19:18] andyross commented on #8005
I'm looking at this and getting stuck seeing how you could possible get a hang inside work_q_start() because of NON-preemption.   Can you post the .config file for the app?  Or just grep out anything with "PRIO" in it?

[2018-05-29 19:27] pfalcon commented on #6096
Already fixed.

[2018-05-29 19:27] #6096 closed

[2018-05-29 19:28] pfalcon commented on #6095
Fixed already.

[2018-05-29 19:28] #6095 closed

[2018-05-29 19:29] ioannisg commented on #7384
@andrewboie I believe you're suggesting ASSERTS in the arm_mpu.c driver, so certain operations will return error (and be caught by other parts of the code)?

[2018-05-29 19:30] pfalcon commented on #5767
Let this be for now a personal opinion, and let's close it then (for now).

[2018-05-29 19:30] #5767 closed

[2018-05-29 19:46] #7811 closed

[2018-05-29 19:52] lpereira commented on #7478
Sent a PR fixing these issues.

[2018-05-29 20:21] #7766 closed

[2018-05-29 20:21] #7959 closed

[2018-05-29 20:31] lpereira commented on #4015
Where do we stand on this, with regards to testing on Qemu?

[2018-05-29 20:32] lpereira commented on #3739
Closing as this has been implemented.

[2018-05-29 20:32] #3739 closed

[2018-05-29 20:33] lpereira commented on #3634
Isn't this handled by the background region?

[2018-05-29 20:34] lpereira commented on #3624
Closing this as fixed.

[2018-05-29 20:34] #3624 closed

[2018-05-29 20:44] mike-scott commented on #8005
@andyross I agree that this bug makes no sense.

I tracked down where the init was hanging and ended up in net_tc.c work q init functions.   I then looked at the work_q_main (thread entry function) for a work queue and this change seems to have made a difference:
[code]

However, I'm not sure why.  I've also tried adding a printk there and it doesn't seem to be hitting the if clause at all.

[2018-05-29 20:47] mike-scott commented on #8005
EDIT: I'm wrong it is coming back with NULL work:
[code]

[2018-05-29 20:47] mike-scott commented on #8005
Using a patch like this:
[code]

[2018-05-29 20:54] pfalcon opened #8008 "net: Sockets (and likely net_context's) should not be closed behind application's back"
This is ticketed based on the discussion in https://github.com/zephyrproject-rtos/zephyr/pull/7865#issuecomment-391731668

Currently, it's possible that net_context/socket (they're represented by the same underlying structure, net_context) can be closed by the IP stack behind the application back's. This behavior is definitely not POSIX in regard to sockets: a socket opened by application may chan

[2018-05-29 20:54] pfalcon commented on #8008
@rlubos : FYI

[2018-05-29 20:59] pfalcon commented on #8008
Note that net_context API has ground measures to deal with this issue: the structure is referenced-counted. Then the problem can be rephrased as: "a net_context created by an application in a normal way can be closed behind the app's back". In other words, reference counting is there, but it's not really used.

Again, the question whether such behavior of native API is a "feature" - it has a build

[2018-05-29 20:59] d3zd3z opened #8009 "POSIX `clock_gettime()` is discontinuous"
The implementation of `clock_gettime()` when called with `CLOCK_MONOTONIC` is non-monotonic (it jumps backward) about once a second after the first time that the k_cycle_get_32() counter wraps. On the FRDM-K64F, this means the result is incorrect after about 35 seconds, and is never correct from then on.

The problem is that the `k_cycle_get_32()` is used mod `sys_clock_hw_cycles_per_sec`. Unless

[2018-05-29 21:20] nashif commented on #7291
move to low, since this is intermittent and not easily reproducible.

[2018-05-29 23:42] agross-linaro commented on #3634
No.  So the background region allows read/write/execute i believe.  So the background won't help us.

[2018-05-29 23:54] lpereira commented on #3634
The background mapping, IIRC, is RWX only for supervisor mode.  For user mode, it's not available.

[2018-05-30 00:02] agross-linaro commented on #3634
ah you're right.  this does give us protection for unprivileged.  not so much for privileged.

[2018-05-30 01:52] andrewboie commented on #7885
If the buffer is intended to be inacessible other than to the memory domain, we could also tag it with __kernel and it will not be in the app memory space.

[2018-05-30 03:44] Jeepgoing opened #8013 "Open-AMP：power on can not communicate"
this issus appeared when i test sample/subsys/ipc/openamp demo.
first step: download image to flash through make flash.
second step: press reset switch on LPCXpresso5411X board and the following message appeared on serial port, as below:

[code]
third step: disconnect the power supply of the development board, and then power on board, i found m4 can not communicate with m0, serial port message as

[2018-05-30 05:13] simonccn opened #8015 "Driver:spi_flash_w25qxxdv.c init mistake and can not be erased"
1. one mistake code in spi_flash_init()
`ret = spi_flash_wb_configure(dev);
if (ret) {
	dev->driver_api = &spi_flash_api;
}`

 here ret should be 0 when spi_flash_wb_configure() return success, so the code change to:
`ret = spi_flash_wb_configure(dev);
if (ret == 0) {
	dev->driver_api = &spi_flash_api;
}`

2. spi_flash_wb_erase_internal() invokes spi_flash_wb_access() with parameter error.
`return

[2018-05-30 05:40] finikorg commented on #5678
@nashif we still have no solution yet for this issue

[2018-05-30 05:41] finikorg commented on #6452
@nashif This is not fixed yet

[2018-05-30 05:49] agross-linaro commented on #7704
So the problem with fixing this I think goes back to the way args are passed.  So originally we used some stack space to store parameters to avoid using the r4/r5/r6/r7.  This didn't work out well due to the compiler sometimes creating unaligned stacks which threw off our stack retrieval of parameter information.

So to get around that issue, we move everything to use r0/r1/r2/r3/r4/r5/r6/r7 to pa

[2018-05-30 05:50] finikorg commented on #6646
@nashif done

[2018-05-30 06:11] laperie opened #8017 "IEEE 802.1 AS gPTP grandmaster support"
In addition to gPTP slave support which will be implemented in [PR #6570](https://github.com/zephyrproject-rtos/zephyr/pull/6570),  Zephyr needs to support gPTP Grandmaster role, as specified by IEEE standard

[2018-05-30 06:12] #6259 closed

[2018-05-30 06:26] spoorthik commented on #6663
The issue is already marked as false positive. We can close this issue.

[2018-05-30 06:30] SavinayDharmappa commented on #8015
It is fixed a6d8378377dfba7392f7632bc7acc3438fcefdb4

[2018-05-30 06:30] spoorthik commented on #6665
The issue is already marked as false positive in scan9.coverity website. This can be closed.

[2018-05-30 06:35] spoorthik commented on #6666
The issue is already fixed in the latest version of code base. This can be closed.

[2018-05-30 06:43] ioannisg opened #8018 "ARMv8-M: memory protection implementation"
ARM MPU for ARMv8-M

1. There are architectural changes in ARMv8-M.
    - Now, the size of a region can be fully flexible, i.e. does not need to be a power of 2.
    - A region can start from any address (32-byte aligned) and end at any address.
    - As a result, the regions are, now, not allowed to overlap

2. There are register API changes
   - Some registers are the same
      i. TYPE
     ii.

[2018-05-30 06:53] nvlsianpu commented on #7924
@oliviermartin ^^ Any update on that?

[2018-05-30 07:21] zhaozhongchen opened #8019 "ARP: should drop any packet pended when timeout"
Zephyr send ARP packet first before ICMP if the ip address doesn't cached in ip tables,  always pended the ICMP packet and resend pended ICMP packet when it got ARP reply.

But if the ARP packet doesn't have a  reply because host doesn't exist, zephyr will always hold on the ICMP packet pended, doesn't free ! Even if doesn't have a ARP reply there always has a ARP item in arp tables associate that

[2018-05-30 07:28] erwango commented on #6307
@jukkar, Now that root cause is identified, would you be able to have a look?
I'm not able to reproduce it on my end (LWM2M setup), which makes it difficult to investigate a solution.
Had a try with `tests/net/mld`, but which does not reproduce the exact same behavior according to therealprof.

[2018-05-30 07:31] oliviermartin commented on #7924
I am on holiday for the next week. But increasing the stack to hide the memory corruption seems to be a bad idea to me.

[2018-05-30 07:35] nvlsianpu commented on #7924
Are you sure whether it is memory corruption or app runs out of stack available?

[2018-05-30 07:40] oliviermartin commented on #7924
I am almost sure it is memory corruption. I checked with gdb the state of the the worker thread and there are plenty of space.  When adding state canaries, it is not the stack of the current function that is corrupted but other function stacks.

[2018-05-30 09:37] GSlzr commented on #7999
@carlescufi due to the setup I'm using I can't really test this with a more recent kernel, I'm using an embedded platform and cannot update the kernel at this time.

[2018-05-30 09:39] pizi-nordic commented on #7704
The problem is that this calling convention uses r7. So for example the r0/r1/r2/r3/r4/r5/r6/r12 should work and you will not need to create stack area for arguments. What do you think?

[2018-05-30 10:03] carlescufi commented on #7999
@GSlzr since there are several known bugs in that kernel version, would it be possible for you to test the same setup on a desktop computer running a recent kernel?

[2018-05-30 10:28] GSlzr commented on #7999
@carlescufi I will try to perform that test.
However I already managed to test 2 other things:

- One PC with kernel 4.4.0 with an **integrated BLE controller**, it worked without any problems
- One Raspberry Pi 3 with kernel 4.14.34 with an **integrated BLE controller** and it also worked perfectly

I also tested the same PC with the 4.4.0 kernel with the nrf52832 dev kit attached and it did not

[2018-05-30 10:35] pfl opened #8025 "Support DTLS"
Verify, and implement if necessary, that DTLS works.

[2018-05-30 10:36] pfl opened #8026 "Verify TLS server side operation"
Verify, and implement if necessary, that TLS server side is functional.

[2018-05-30 10:48] Vudentz commented on #7999
@GSlzr 4.12 is recommended for Linux, that said the problem if earlier kernel was that the link-local address was wrong so it would only matter if that is used, well besides the bugs @mike-scott mentioned.

[2018-05-30 10:57] tbursztyka commented on #8015
that's fixed.

[2018-05-30 10:57] #8015 closed

[2018-05-30 11:00] tbursztyka commented on #7989
According to your wireshark logs, it's the responses that are not sent, so the issue does not seem to be on your Zephyr enabled board.

[2018-05-30 11:02] tbursztyka commented on #7979
Added this issue to #5697

[2018-05-30 11:09] GSlzr commented on #7999
@Vudentz I managed to test this with kernel 4.14.34, I followed the steps in this guide https://devzone.nordicsemi.com/b/blog/posts/nrf5x-support-within-the-zephyr-project-rtos by @carlescufi.

I manage to connect correctly and the interface comes up in **ifconfig**, however I cannot ping the device to which I just connect and when I try to do it the other way around, the device pinging the centra

[2018-05-30 11:21] zhaozhongchen commented on #7989
@tbursztyka yes zephyr has sent ICMP packet but doens't get reply sometimes.

[2018-05-30 11:44] jukkar commented on #7553
@therealprof @locomuco Proposal for a fix at #8027, please test if possible.

[2018-05-30 11:47] jukkar commented on #7553
Note that currently the fix is implemented for frdm-k64f board. I do not have nucleo board to fix the stm ethernet driver and test this.

[2018-05-30 11:53] jukkar commented on #6307
I thought this was compiler issue, what is there in network code to fix?

[2018-05-30 11:58] pizi-nordic commented on #7891
Hi.

It looks that the problem is here:
[code]

As you see, the output of the function is calculated basing on 2 separate clock sources - the k_uptime_get() and k_cycle_get_32(), which generates several problems.

Please note, that timestamp is not obtained in atomic way. There could be a timer interrupt between `k_uptime_get()` and `k_cycle_get_32()` which might result in dropping one second of t

[2018-05-30 12:03] tbursztyka commented on #7989
yes, and according to your wireshark logs the response is not sent by the destination (win10), so either your win10 does not receives it or something else, but zephyr does not seem to have any issue here.

[2018-05-30 12:08] zhaozhongchen commented on #7989
but sometimes ping successful and sometimes failed.

[2018-05-30 12:33] nashif commented on #7891
@ramakrishnapallala fyi

[2018-05-30 12:40] GSlzr commented on #7999
When performing a ping from the dev kit to the central device, I managed to capture the output with tcpdump to see it in wireshark, conclusion the ping packets all have a bad checksum.
I attached the file if you want to take a look.
[bt0_1.pcap.zip](https://github.com/zephyrproject-rtos/zephyr/files/2053888/bt0_1.pcap.zip)

[2018-05-30 12:53] jukkar commented on #8019
@zhaozhongchen Fix proposal at #8029, please test if possible.

[2018-05-30 13:05] #6646 closed

[2018-05-30 13:14] therealprof commented on #6307
It's most likely still a error in the code but only exploited by a newer compiler. Also note that this error may also cause troubles on other platforms but only cause real crashes if the MCU has hardware to fault on memory alignment issues.

I would imagine that the proper fix is to make sure that the addresses are properly aligned in memory.

[2018-05-30 13:54] erwango commented on #6307
Since it appeared on recent compiler version, this is something that more and more users will face.