[2021-05-07 13:55] MaureenHelm commented on #12386
@kevin0402 I don't have a developer available to work on this right now, but if you want to drive the effort, we can help if you have questions. PRs are welcome.

[2021-05-07 14:04] #28438 closed

[2021-05-07 14:06] microbuilder commented on #34962
https://github.com/ARM-software/psa-arch-tests/issues/265

[2021-05-07 14:33] mnkp commented on #34584
But it will process it with a high priority, since at the time point the interrupt arrives the system has been sitting in the idle loop for a long time.

And again, I don't have any long tasks in the system.

Please read fully the issue description. The random long delay I'm observing is 1 ms, always. If it was some long task running in the system we would observe random long delays, but not neces

[2021-05-07 14:34] npitre commented on #34838
This appears to be fixed with #34951

[2021-05-07 14:39] #34838 closed

[2021-05-07 14:39] #34925 closed

[2021-05-07 14:49] andyross commented on #34950
Um... where?  I don't see that syntax anywhere in the tree.  In fact Zephyr is almost entirely XTOS/HAL-free at this point, with just a few spots in the startup code and the esp32-contributed stack walker.

[2021-05-07 15:01] ktaborowski opened #34978 "misleading root folder size in footprint reports"
**Is your enhancement proposal related to a problem? Please describe.**
The problem is in ram (and rom) report generated with `ninja ram_report` command.
It is described based on the ascii tree view, but it impacts .json report also.

The size of `root` folder in report is misleading, as it describes only the symbols without parent folder, but not the folders (incoherent behavior).

[code]

**Desc

[2021-05-07 15:01] dleach02 opened #34979 "MIMRT685-EVK board page has broken links"
The board page for MIMRT685-EVK has broken links to the RT85 reference manual and the RT685-EVK users guide.

[2021-05-07 15:12] johnkjellberg commented on #34969
My mistake. `DT_INST_FOREACH_STATUS_OKAY` is NOT deprecated. The compiler was referring to another thing i used in the macro that was deprecated. More specifically `device_pm_control_nop`.

[2021-05-07 15:12] #34969 closed

[2021-05-07 15:29] lyakh commented on #34880
fix in https://github.com/thesofproject/sof/pull/4149

[2021-05-07 16:10] #34683 closed

[2021-05-07 16:31] madscientist159 commented on #34438
FWIW fopen()/fclose() drag in a bunch of file / directory structures, and we aborted that approach as it looked to be over a month of effort to get something even close to working.

The more appropriate question is, why is mbedtls expecting to do file I/O on an embedded platform without a filesystem?

[2021-05-07 18:17] rodrigobrochado commented on #34932
#34405 is merged, can close

[2021-05-07 20:12] dleach02 commented on #34507
Didn't Marcel ultimately suggest that we do from scratch and just use IWD for architectural guidance? He indicated that it was too tightly tied to Linux to effectively port to an RTOS. I felt at the end of the meeting that the recommendation was generally, don't use wpa_supplicant and write one from scratch using IWD as a general guide. That clearly is a larger effort.

I personally think wpa_supp

[2021-05-07 20:31] dcpleung opened #34989 "Implement arch_page_phys_get() for ARM64"
**Is your enhancement proposal related to a problem? Please describe.**
`k_mem_unmap()` needs to find out the mapped physical address (=> page frame) from a virtual address. It needs to call `arch_page_phys_get()`. Currently, for architecture that does not implement this function, a brute force method to walk through all the page frames is used to find the mapping. It would be great for ARM64 to i

[2021-05-07 20:48] #34788 closed

[2021-05-07 21:41] ceolin commented on #33265
https://github.com/zephyrproject-rtos/zephyr/pull/34781

[2021-05-07 21:51] #34880 closed

[2021-05-07 21:51] #34948 closed

[2021-05-07 21:58] #33104 closed

[2021-05-07 22:07] jenmwms commented on #28551
This issue still present after move to unified gpio driver for Intel SoC https://github.com/zephyrproject-rtos/zephyr/pull/34719

[2021-05-07 22:23] marc-hb commented on #34948
https://github.com/zephyrproject-rtos/zephyr/issues/33567#issuecomment-829868678

[2021-05-08 02:37] hongshui3000 commented on #34950
@andyross
The files in the following directories have the syntax I’m talking about
C:\usr\xtensa\XtDevTools\install\tools\RI-2021.6-win32\XtensaTools\xtensa-elf\include\xtensa\coreasm.h

The reasons for this usage are:
The software configuration (hifi4) generated by the new configuration tool of candenc will “tie-asm.h”contain the instruction of addi.a (this instruction does not exist in hifi4), w

[2021-05-08 02:49] dcpleung commented on #34950
That `coreasm.h` comes from Cadence's toolchain and is not distributed by Zephyr.

[2021-05-08 03:06] ghlualven commented on #34324
Still not work on my side.
On one STM32L443 board, there have no any output.
On one STM32L073VZ board, there have some outout, but the MCU stop working right after RTT connected.
[code]

[2021-05-08 03:13] gregshue opened #34997 "Locally generated htmldocs-fast inconsistently report module Kconfig vars"
**Describe the bug**
When locally building Zephyr documentation from a workspace including a module with board and driver Kconfig settings, the documentation includes the Kconfigs of the driver in the module but not the Kconfigs of the board in the module.

**To Reproduce**
Steps to reproduce the behavior:
1. west init -m https://github.com/zephyrproject-rtos/example-application --mr main my-works

[2021-05-08 05:00] #33122 closed

[2021-05-08 05:09] hongshui3000 commented on #34950
@dcpleung
These porting used by zephyrrtos may be a bit outdatedf
modules\hal\xtensa\include\xtensa\coreasm.h

[2021-05-08 06:39] hakehuang commented on #33747
any idea on how to fix it? I try to enlarge the stack size but does not help.

[2021-05-08 06:40] super6602 opened #34999 "Using BT_ISO bluetooth hci_usb sample, and enable, but still shows no command supported"
**Describe the bug**
Attempted to use the samples/bluetooth/hci_usb/ project with

CONFIG_BT_ISO=y

to run application over HCI over USB for on a NRF52840-DK. But still shows no BLE ISO related command supported

[2021-05-08 07:57] #34932 closed

[2021-05-08 10:12] cederom commented on #34949
This could implement underlying `SHELL_BT_NUS`: https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/include/shell/shell_bt_nus.html :-)

[2021-05-08 12:18] yairgd commented on #15497
I also has issues with time out, apparently I found the all massive debug log cause the time problems.  Now it work also in virtual linux machine also.

[2021-05-08 12:19] yairgd commented on #15497
I also has issues with time out, apparently I found the all massive debug log cause the time out problems.  Now it work also in virtual Linux machine also.

[2021-05-08 14:20] jukkar commented on #34865
That sounds like a buffer leak. It is easy to verify that if you enable `CONFIG_NET_BUF_POOL_USAGE` and optionally also `CONFIG_NET_DEBUG_NET_PKT_ALLOC`. Then the network buffer usage can be seen in net shell by `net mem` and `net allocs` commands.

[2021-05-08 16:49] Delsian commented on #34538
Implemented.

[2021-05-08 16:49] #34538 closed

[2021-05-08 21:06] #34989 closed

[2021-05-09 04:38] cvinayak opened #35013 "Bluetooth: Controller: Out-of-Bound ULL context access during connection completion"
**Describe the bug**
There is out-of-bound ULL context (scan context of initiator) accessed by done event processing while the ULL context has been released already when connection has been setup, connection complete has been processed by Host and a new scanning context get started.

ASSERTION FAIL [ull_ref_get(ull_hdr)] @ WEST_TOPDIR/zephyr/subsys/bluetooth/controller/ll_sw/ull.c:2429

Refer to t

[2021-05-09 14:14] cvinayak commented on #34999
CONFIG_BT_ISO is not supported in the controller implementation, and hence not enabled in the hci_usb configuration.

[2021-05-09 14:14] #34999 closed

[2021-05-09 19:14] madscientist159 commented on #34403
@carlescufi After thorough testing, it looks like this bug is resolved in latest master.  Thanks all for the quick diagnosis and fix!

[2021-05-09 19:26] madscientist159 commented on #34403
@carlescufi Unfortunately it looks like the binary being tested was a hybrid of the new and old code due to the way Zephyr's build system references the source trees...a clean build is still showing the crash.

[2021-05-10 01:38] andyross commented on #34950
Those files are copied directly from the toolchain associated with those platforms.  They are stored separately because we have (somewhat clumsily) tried to unify our toolchains in the core platforms so the Zephyr SDK doesn't have to include a dozen separate xtensa compilers.  When the toolchain changes, they will change.

If you're building a platform for Xtensa IP not included in the Zephyr core

[2021-05-10 01:38] #34950 closed

[2021-05-10 02:41] Zhaoningx opened #35026 "sam_e70b_xplained: failed to run testcases tests/drivers/adc/adc_emul/"
To Reproduce

Failed to run testcase tests/drivers/adc/adc_emul/

Steps to reproduce the behavior:

export ZEPHYR_SDK_INSTALL_DIR=~/zephyr-sdk-0.12.4

twister -p sam_e70b_xplained --device-testing --device-serial /dev/ttyACM1 -T tests/drivers/adc/adc_emul/

see error

*** Booting Zephyr OS build zephyr-v2.5.0-3742-g0622bde3bf22  ***
Running test suite adc_basic_test

==============================

[2021-05-10 02:58] Zhaoningx opened #35027 "frdm_k64f: failed to run testcase tests/drivers/adc/adc_emul/"
To Reproduce

Failed to run testcase tests/drivers/adc/adc_emul/

Steps to reproduce the behavior:

export ZEPHYR_SDK_INSTALL_DIR=~/zephyr-sdk-0.12.4

twister -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -T tests/drivers/adc/adc_emul/

see error

@I: adc init done
I: adc init done
*** Booting Zephyr OS build zephyr-v2.5.0-3742-g0622bde3bf22  ***
Running test suite adc_basic_test

===

[2021-05-10 03:02] Zhaoningx opened #35028 "frdm_k64f: failed to run tests/subsys/pm/power_mgmt/"
To Reproduce

Failed to run testcase tests/subsys/pm/power_mgmt/

Steps to reproduce the behavior:

export ZEPHYR_SDK_INSTALL_DIR=~/zephyr-sdk-0.12.4

twister -p frdm_k64f --device-testing --device-serial /dev/ttyACM0 -T tests/subsys/pm/power_mgmt/

see error
[code]

Environment
OS: Fedora33
Toolchain:zephyr-sdk-0.12.4
Commit ID: 0622bde

[2021-05-10 06:15] enjiamai commented on #33799
@nashif already closed in coverity.

[2021-05-10 06:45] erwango commented on #35027
Test is also failed on STM32 based platforms.
From what I understand it is meant to be tested on native_posix only and .yaml filter should be fixed.
Cf https://github.com/zephyrproject-rtos/zephyr/pull/34640

^^ @semihalf-michalec-tomasz

[2021-05-10 07:11] ioannisg commented on #33768
@sw any updates here?

[2021-05-10 07:51] caco3 commented on #34659
@carlescufi

I am not 100% sure if the patch did help. Fact is, running stock 2.5.0 or 1cc73074d054 leads to
[code]

Then I ported the mentioned patch to 2.5.0 and gave it another try. The system still crashes but the trace looks a bit different, so I am not sure if it is the same issue:
[code]

Is there a way to get more output (printk) in case of such a crash?

Note 1:
I also can see such crashe

[2021-05-10 08:03] nimarty commented on #34931
@mniestroj Today I tried the dns_resolve sample with qemu_x86. This worked. So probably there's something wrong with the code I use in my main application. I'll try to investigate on that and update the issue asap.

[2021-05-10 08:26] erwango opened #35033 "samples/boards: stm32 pm blinky fails when run with twister"
**Describe the bug**
`twister -T samples/boards/stm32/power_mgmt/blinky/ -p nucleo_wb55rg --device-testing --device-serial /dev/ttyACM0`
returns an error.

Some changes are required in the sample definition so the sample can be run in device-testing.

[2021-05-10 08:59] erwango opened #35036 "STM32: Wrong uart_event_tx len calculation"
**Describe the bug**
We need to reset the buffer_length when the transmission is finished, but in order to give the correct value to
the uart_event_tx struct, we use the dma_tx.buffer_length in the calculation of the dma_tx.counter, used for the len of the event (number of bytes sent).

[2021-05-10 10:26] gmarull commented on #34997
As of today only Kconfig options in https://github.com/zephyrproject-rtos/zephyr/tree/master/modules are part of the Kconfig, not external modules.

[2021-05-10 10:43] lyakh commented on #34492
@marc-hb additional information: with a test, that (supposedly) generated a DMIC IRQ flood I got a log as printed by logtool.py:
[code]
those lines are obviously corrupted, they are truncated, but - this sequence of lines is then repeated **exactly** continuously (only with counters incrementing). Which means the corruption isn't random but perhaps is related to some string length constraints. You

[2021-05-10 10:44] jukkar opened #35041 "Crash in net-shell when invoking "net dns" command"
Noticed a crash when running `samples/net/dns_resolve` sample application and when typing `net dns` command in net-shell.

[2021-05-10 10:50] shehamb opened #35043 "NXP: Build error : ModuleNotFoundError: No module named 'elftools'"
Hello,
I am trying to build sample application on for mimxrt1064_evk on windows 10. I seem to have installed everything, but i still get this error:
C:\Users\mbajaj\zephyrproject\zephyr>west build -p auto -b mimxrt1064_evk samples/hello_world
[1/130] Generating include/generated/kobj-types-enum.h, include/generated/otype-to-str.h, include/generated/otype-to-size.h
FAILED: zephyr/include/generated/

[2021-05-10 10:53] shehamb commented on #35043
[https://github.com/zephyrproject-rtos/zephyr/issues/1392](url)

[2021-05-10 11:56] carlescufi opened #35046 "Tracing shows k_busy_wait() being executed very often on nRF platforms"
As per the screenshots below, provided by @nashif, `k_busy_wait()` is executing repeatedly on traces obtained on a Nordic board.

This can be reproduced by building `samples/synchronization` with tracing enabled.

nRF Platform:
<img width="1928" alt="Screenshot 2021-05-08 at 08 30 36" src="https://user-images.githubusercontent.com/12450381/117655483-6e154d80-b197-11eb-98db-dd6d969c4220.png">

k64f

[2021-05-10 11:59] MaikVermeulen commented on #32610
Hey guys (@rlubos @JPSELC), I think that my company will soon allocate time for me to dive into this.
The JSON formatting itself is already supported by the LwM2M stack I believe. That leaves the TODO list as follows ([also based on @JPSELC 's comment](https://github.com/zephyrproject-rtos/zephyr/issues/32610#issuecomment-785077991)):
- Check LwM2M client online status (currently it is either onli

[2021-05-10 12:00] de-nordic opened #35048 "mcuboot with enabled serial recovery does not compile"
**Describe the bug**
The mcuboot, selected by west,  does not compile since b85250108cef66033cdb0bdbecea5d3e7926c62f commit to Zephyr.

**To Reproduce**
0. Download overlay file and replace <dir-to>with the download dir
1. Go to zephyr root
2. west build -b nrf52840dk_nrf52840 --build-dir voot bootloader/mcuboot/boot/zephyr/  -t menuconfig -- -DOVERLAY_CONFIG=<dir_to>/serial-recovery.overlay.txt
3

[2021-05-10 12:00] jukkar commented on #34409
@n-lohrmann I have a fix proposal in #35047, can you try if it works for you and report back.

[2021-05-10 12:06] nordic-krch commented on #35046
It is expected. `k_busy_wait(1)` is used inside `uart_poll_out` when driver is pending for driver readiness to send next byte. Safe loop is used there which is using `k_busy_wait` to track timeout. https://github.com/zephyrproject-rtos/zephyr/blob/5e9d6d638c627f66da25b2393ac63e3846c59594/drivers/serial/uart_nrfx_uarte.c#L483

[2021-05-10 12:06] #35046 closed

[2021-05-10 12:38] SwissKnife64 opened #35051 "CONFIG_LOG2 fails for floating point output with warning and bad output"
The following code results in compiler warnings and wrong output.
The warning request a "double value" as argument?

==== Code:
    char strWithDouble[] = "2.718";
    double doubleValue = strtod(strWithDouble, &endPtr);

    sprintf( outputStr, "%f", doubleValue);
    LOG_INF("double value as string from sprintf %s", outputStr);

    LOG_INF("double value with format %%f %f", doubleValue);
    LO

[2021-05-10 12:41] erwango commented on #31711
No feedback. Closing

[2021-05-10 12:41] #31711 closed

[2021-05-10 12:58] JPSELC commented on #32610
The meaning of Offline is probably more ambiguous than I thought.
My narrow view was that a registration update had failed, maybe caused by the cell going down or the server going down.
Registration would then be attempted periodically, and when successful, all notifications sent.

[2021-05-10 12:58] erwango commented on #34543
Moving ticket from bug as enhancement as conclusion is DMA is not yet supported on STM32F1 and requires some implementation for support. cf #34666

[2021-05-10 13:00] erwango commented on #34649
Removing bug as initial feature is not merged yet (https://github.com/zephyrproject-rtos/zephyr/pull/34666)

[2021-05-10 13:03] dleach02 commented on #34923
Hake, I'm not able to reproduce this problem.

*** Booting Zephyr OS build zephyr-v2.5.0-3651-g793e2c1891b4  ***

[2021-05-10 13:09] n-lohrmann commented on #34409
Looks good to me :+1:

[2021-05-10 13:18] JPSELC commented on #32610
@rlubos I don't think offline is related to queue mode, because if a notification occurs, I think it's sent (or sending is attempted) immediately. I think queue is more about commands from the server being queued.

[2021-05-10 13:20] erwango commented on #32839
@andyross https://www.digikey.com/en/products/detail/stmicroelectronics/NUCLEO-G071RB/9739925

[2021-05-10 13:21] jukkar commented on #34923
I tried this with 2.6.0-rc1
[code]
and did not see any issues.

[2021-05-10 13:43] MaikVermeulen commented on #32610
I agree, Queue mode is more of a server mechanism, a bit like [DRX](https://en.wikipedia.org/wiki/Discontinuous_reception)).

The LwM2M spec doesn't specify what Offline means. It does indicate that it happens in Queue mode, but as @JPSELC indicates, this might not be relevant for us.
Personally I would define Offline as: Device its LwM2M client is running + the below:
- Not (yet) registered
- Lif

[2021-05-10 13:45] WilliamGFish commented on #33523
Part of the issue is there are two versions of BOSSA and the Arduino team have forked from the original shumatech one. The one mentioned in the nano 33 ble info is that forked version which has been redeveloped to work specifically with the nRF based boards. I expect that there will be further improvements made this version needs to be included in the west repository.

[2021-05-10 13:46] chucklink opened #35055 "STM32L432KC Nucleo Reference board SWD problem after programming with Zephyr"
I am developing an application currently running on STM32L432 KC Nucleo reference board. I have created an STMCubeMX startup file and simple application that works flawlessly.  I can program and reprogram at 4000 kHz using the STMCube  programmer tool.    I want to use Zephyr RTOS so I’ve built the Zephyr 2.5.0 L432KC project exactly as documented: https://docs.zephyrproject.org/2.5.0/boards/arm/n

[2021-05-10 13:57] erwango commented on #34324
@qianfan-Zhao, @GeorgeCGV you contributed to RTT support on STM32 thanks to following PR:
https://github.com/zephyrproject-rtos/zephyr/pull/8508
https://github.com/zephyrproject-rtos/zephyr/pull/13668

I know this is long time back, but as such, you're the reference RTT users on STM32.
Would you mind having a look to the reported issue or provide some information on the way you used RTT on STM32 d

[2021-05-10 13:57] gregshue commented on #34997
@gmarull, The current implementation _is_ generating some content from external modules (e.g. example-application), so I'm confused by your statement. I expect the broad impact of adding features to module.yml has not been assessed yet. Are you trying to express the current  the design intent, projected requirements, a decision after an impact assessment, or something else?

[2021-05-10 14:07] jukkar commented on #34964
I just tried this and did not see any issue with native_posix. With qemu + e1000, zephyr printed occacionally
[code]
which indicates that the app has too small amount of connections.
So I increased them by setting `-DCONFIG_NET_MAX_CONTEXTS=16 -DCONFIG_NET_MAX_CONN=16` and after that the ab managed to do the run without issues.

Could you check if this helps in your case?

[2021-05-10 14:08] hakehuang commented on #34923
@jukkar @dleach02
I still have problem
[code]

[2021-05-10 14:13] nandojve commented on #33523
Hi @WilliamGFish ,

Did you checked #34947 ? Is it working for you?

[2021-05-10 14:21] sjanc opened #35056 "Unit tests should be build with -fno-common GCC option"
GCC 10 changed default behavior for regarding multiple tentative definitions of global variables. GCC 10 defaults to -fno-common which results linker error if such variables are present.

Unit tests are build with host toolchain and this may lead to different behavior depending on which GCC is being used.
I suggest using -fno-common explicitly for unit tests to unify behavior of old nad new GCC ve

[2021-05-10 14:28] dleach02 commented on #34923
Okay. If you connect the K64F to a network then I see the failures Hake is seeing

[2021-05-10 14:29] MaikVermeulen commented on #32610
The LwM2M specification indeed specifies that the client only needs to wake up for the registration update, thus being Offline in between. It would indeed be nice if the engine can control this.

When the device is online, I would actually prefer TLV in many cases to reduce data consumption. JSON itself is quite inefficient, and when the device is online, the timestamps are not needed.

[2021-05-10 14:32] mniestroj opened #35058 "Bluetooth: deadlock when canceling db_hash.work from settings commit handler"
**Describe the bug**
There is a deadlock when cancelling `db_hash.work`:
[code]
from `db_hash_commit`. `db_hash_commit` is called with `settings_lock` mutex held and cancelling `db_hash.work` will never finish, as `settings_save_one("bt/hash", ...)` is waiting on `settings_lock` mutex as well and never continues.

This can be workarounded by adding some arbitrary sleep in application code.

**To R

[2021-05-10 14:39] hakehuang commented on #34923
if connect with ethernet cable you will see more tests is runable
[code]

but if no ethernet cable, then
[code]

[2021-05-10 14:40] rlubos commented on #32610
Sure, but we still should favour the server preference in the first place. Just a quote from the 1.0.2 specification:

So my understanding is, if the server requests a specific content format, the client should either reply with the requested one, or reject the request. Thus I don't think there's a point of storing the JSON notification for an observer that requested TLV format.
Other thing is whe

[2021-05-10 14:41] MaikVermeulen commented on #32610
Completely agree, no comments!

[2021-05-10 14:49] erwango opened #35060 "tests/kernel/common: test_nop failed on ARMV7_M_ARMV8_M_MAINLINE"
**Describe the bug**
`test_nop` is reported failed on several `ARMV7_M_ARMV8_M_MAINLINE` platforms:
[code]

**To Reproduce**
Steps to reproduce the behavior:
`twister -T tests/kernel/common/ -p nucleo_g431rb --device-testing --device-serial /dev/ttyACM0`

**Expected behavior**
Test should be passed

**Additional context**
Cf https://github.com/zephyrproject-rtos/zephyr/pull/32728
Cf https://github

[2021-05-10 14:59] jukkar commented on #34923
The test used loopback interface and as we do not really need Ethernet, then disabling Ethernet will fix the issue.

[2021-05-10 15:02] nvlsianpu opened #35068 "fs/nvs: add testcase for testing #34382"
**Is your enhancement proposal related to a problem? Please describe.**
#34382 was fixed, but test case for it were not provided
All new "thing" provided by https://github.com/zephyrproject-rtos/zephyr/pull/34512 should be tested as well:
- counteraction to the bad close-ATE offset
- counteraction to empty but dirty NVS sector
- supports of gap in ATE area for active, closed and GC-source sector

[2021-05-10 15:05] nvlsianpu opened #35069 "fs/nvs: add testcase for testing #34722"
bug description #34722.
Patch #34957 was provide, need to follow it with testcase.

[2021-05-10 15:15] WilliamGFish commented on #33523
Had quick look but not going to have chance until tomorrow, I'll edit this reply.

[2021-05-10 15:47] gregshue commented on #34997
@gmarull I verified in my local environment that a full, clean doc `make` does generate an entry on the All Configuration Options page for CONFIG_EXAMPLESENSOR (from the external example-application module).  Since I didn't know whether the bug was that this content appears or that the board content doesn't, I reported it as "inconsistent".

This happens to be true of the published docs, but does

[2021-05-10 15:48] andyross commented on #34584
I don't know what to say.  Can you please submit an exerciser that localizes your 600us delay to some code we can optimize?   Again, long priority inversion delays due to code running without hitting scheduling points are the documented behavior of cooperative scheduling.  What you're complaining about is literally what it's supposed to do.

[2021-05-10 16:16] ainguraXmarquiegui commented on #33747
Things I have tried to work around these issues:

* Compile the zephyr version we have been working with against an older SDK with a previous version of gcc: SDK version 0.11.4
* Upgrade nxp hal components with the latest version available in mcuxpresso freertos source code (available in `feature/mcuxpresso_backport` branch of my hal work repo)
* Play around with all _STACK_SIZE config options tha

[2021-05-10 16:17] madscientist159 commented on #34403
I was able to gather some potentially useful debug information over the weekend.

First, I am unable to replicate the issue in QEMU, using the same CPU architecture (ppc64le).  The major caveat there is, of course, that QEMU does not emulate the LiteX Ethernet hardware, and that QEMU runs a couple of orders of magnitude faster than the LiteX soft CPU.  There are also some Kconfig differences neede

[2021-05-10 16:43] carlescufi commented on #34581
Closing this issue now.

[2021-05-10 16:43] #34581 closed

[2021-05-10 16:58] simonguinot opened #35073 "timer: cortex_m_systick: uptime drifting in tickless mode"
Abnormal uptime drifting can been observed in Zephyr when using the cortex_m_systick driver in tickless mode.

The following application code can be used to reproduce and highlight the issue. It runs a "no op" timer at 1000 Hz and writes the system uptime on console every 10 seconds. By printing the console messages (and some timestamps) on a host machine connected through serial, then it is possi

[2021-05-10 20:59] dcpleung commented on #28901
Done in #34686

[2021-05-10 20:59] #28901 closed

[2021-05-10 21:03] jenmwms opened #35076 "acrn_ehl_crb does not work with CPUs >1"
**Describe the bug**
The new APIC TSC Deadline Timer supports SMP=y configuration, which allows us to start working with number CPUs >1. With Initial tests of CPUS=2, Zephyr fails to boot as the pre-launched guest VM on ACRN. hello_world even fails to boot.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure acrn_ehl_crb_defconfig with CONFIG_MP_NUM_CPUs=2
2. west build -p -b acrn_ehl_

[2021-05-10 21:29] mmahadevan108 commented on #34667
This was fixed as part of PR https://github.com/zephyrproject-rtos/zephyr/pull/34743

[2021-05-10 21:46] andyross commented on #35076
FWIW: it's very unlikely to be the timer driver if the system is dead or faulted or whatever state it's in by the time get get to the ACRN prompt.  Most likely it's being terminated for sending a startup IPI to a bad APIC ID or some other kind of misbehavior.  Timer setup happens later.

[2021-05-10 22:17] dleach02 commented on #34667
I confirm that it works...

[2021-05-10 22:27] jenmwms commented on #35076
Thanks Andy! I'll have to work on better description here, then. Sounds like moving to the APIC timer driver which supports SMP enabled us to start trying > 1 CPUs on this board?

[2021-05-11 00:29] #32000 closed

[2021-05-11 01:46] jenmwms opened #35079 "acrn_ehl_crb: build warnings for old APIC_TIMER configs"
**Describe the bug**
These configurations are causing build warnings after the changes in https://github.com/zephyrproject-rtos/zephyr/pull/34875:

- APIC_TIMER_IRQ
- APIC_TIMER_TSC_N
- APIC_TIMER_TSC_M

Suggested Fix:
The configurations were for the older APIC timer driver (CONFIG_APIC_TIMER) and are no longer needed for this board. The board (acrn_ehl_crb) moved to using APIC TSC Deadline Timer

[2021-05-11 03:47] hakehuang commented on #33747
This is my config seting for rt boards, still in debug, I have rise this issue on Zephyr testing meeting.

[code]

[2021-05-11 03:59] KangJianX opened #35082 "intel_adsp_cavs15: All the testcases run failed on ADSP"
**Describe the bug**
All the testcases run failed with same error on ADSP

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/mutex/mutex_api/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/zep

[2021-05-11 04:12] KangJianX commented on #35082
ADSP can not run testcases because of commit ID: 168e9ed6c275b570b502d9164cf60caab9279cf8
This commit removed directory of module/audio/sof/zephyr/ext which is used to run testcases, thus all testcases can not be signed by rimage tool. Or it has new command to run testcases what I do not know?

[2021-05-11 04:36] nordic-krch commented on #35051
Can you specify what platform are you building and what kind of warnings you see? I tried adding your code snippet to hello world and it compiles and runs fine for qemu supporting fpu.

[2021-05-11 05:05] dariis opened #35083 "dts: stm32mp1: SPI2 mixup with SAI2, SPI3 mixup with SAI3"
**Describe the bug**

Device Tree address mixup between
- SAI2 <-> SPI2
- SAI3 <-> SPI3

Add functionality to SPI2/3

Tested on SPI2

**Fix**

[code]

[2021-05-11 05:16] nordic-krch commented on #34403
@madscientist159 thanks for investigation. So it turned out that the problem was not related to logging overhaul. `msgq` should not be accessed when immediate mode is in use and that was the case when shell log backend was disabled and `fifo_flush` was called.

In #35084 i made a cleanup to  have fifo resetting done in the same place for v1 and v2. For v1 deferred mode it was moved to shell log ba

[2021-05-11 05:35] mglettig commented on #12718
Hi @rlubos
If you have a look at the latest release of civetweb that has the option to use mbedtls for HTTPS it affects the discussion here. Please have a look at the following function: https://github.com/civetweb/civetweb/blob/master/src/mod_mbedtls.inl#L57

This needs MBEDTLS_ENTROPY_C to be enabled. But if I enable it it leads to a runtime fault because no entropy source was added in Zephyr. S

[2021-05-11 06:51] #34409 closed

[2021-05-11 06:52] #35041 closed

[2021-05-11 07:28] erwango opened #35089 "stm32h7: systematic crash at each second boot with NETWORKING=y"
**Describe the bug**
On STM32H7 platform, a systematic error happens at each second boot.
git bisect leads to following PR: https://github.com/zephyrproject-rtos/zephyr/pull/34086

**To Reproduce**
Use any sample that uses `NETWORKING=y` on any h7 based board.
For instance:
`west build -b nucleo_h745zi_q_m7 samples/posix/eventfd/`

**Expected behavior**
No crash at boot

**Impact**
Blocker

**Logs

[2021-05-11 07:34] rlubos commented on #12718
I don't think Zephys as a OS can call `mbedtls_entropy_add_source()` for civetweb, it requires a pointer to `mbedtls_entropy_context` structure, which seems to be defined internally somewhere in the civetweb.

One thing that I believe Zephyr could do is to provide a default entropy source (sorry if I mix up, I don't have much experience with mbedTLS entropy). Currently Zephyr's config file for mbe

[2021-05-11 07:37] semihalf-michalec-tomasz commented on #35027
I thought that ADC emulator code doesn't use posix specific functions and it compiled fine for other platforms.  Since I don't see use case for ADC emulator on different platforms than native_posix, I will prepare patch for this test .yaml.

[2021-05-11 07:52] thedjnK opened #35091 "enc424j600 does not work"
**Describe the bug**
We are using a enc424j600 device with our BL5340 board (nRF5340-based) and running the sample apps for network (e.g. dumb_http_server) results in a failed networking start up. There is a strange way to get it working however, if the module is booted with the enc424j600's interrupt line disconnect and then connected after a bootup

**To Reproduce**
Build dumb_http_server for en

[2021-05-11 08:13] nordic-krch commented on #35048
The issue is MULTITHREADING is off so kernel files for scheduling are not included but there are modules fetched that are using multithreading essentially making it multithreading app.

Is see 2 ways:
- removed `CONFIG_MULTITHREADING=n`
- fix module to not use multithreading stuff (`k_sleep`) by replacing it with no-multithreading friendly `k_busy_wait`.

[2021-05-11 08:24] de-nordic commented on #35048
The removal significantly increase the binary size (4k)

The problem is with `z_impl_k_sleep` and `z_pm_save_idle_exit` and and one seems to be reported from `zephyr/drivers/serial/libdrivers__serial.a(uart_nrfx_uarte.c.obj)` and the other from `zephyr/arch/arch/arm/core/aarch32/libarch__arm__core__aarch32.a(isr_wrapper.S.obj)`

[2021-05-11 08:44] hakehuang opened #35097 "arch.interrupt: fails on NXP Cortex-M0+ platforms"
**Describe the bug**
test_isr_offload_job_multiple cause hard fault

**To Reproduce**
Steps to reproduce the behavior:

1. cd tests/kernel/interrupt ;mkdir build; cd build
2. cmake -DBOARD=frdm_kl25z ..
3. make falsh
4. See error

**Expected behavior**
Test pass

**Impact**
interrupt handle

**Logs and console output**

[code]

**Environment (please complete the following information):**
 - OS: (e

[2021-05-11 08:46] erwango commented on #35097
@hakehuang can you check https://github.com/zephyrproject-rtos/zephyr/pull/35061 ?

[2021-05-11 09:22] hakehuang opened #35099 "benchmark.kernel.application.fp.arm: Illegal load of EXC_RETURN into PC on lpcxpresso55s16_ns and lpcxpresso55s69_ns"
**Describe the bug**
Illegal load of EXC_RETURN into PC when run benchmark.kernel.application.fp.arm with FP config enabled

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/benchmarks/app_kernel; mkdir build; cd build
2. west build -b lpcxpresso55s16_ns -- -DCONF_FILE=prj_fp.conf
3. make; make flash
4. See error

**Expected behavior**
test pass

**Impact**
float point handler

**Logs

[2021-05-11 09:23] hakehuang commented on #35099
@MaureenHelm , @dleach02 , @mmahadevan108

[2021-05-11 09:27] aep commented on #33968
same issue.

@sylvioalves the line has changed, this won't apply anymore. does this go between shell and .rodate ?

[2021-05-11 09:38] carlescufi commented on #34554
@optical-o could you please provide the sample so we can look into this?

[2021-05-11 09:41] hakehuang commented on #35097
@erwango looks not related, the fix in #35061 is for the test_nop, but the failure here is interrupt_offload_multi

[2021-05-11 09:42] carlescufi commented on #34045
Assigning to @MaureenHelm and @mmahadevan108 since this seems to be an NXP MPU issue.

[2021-05-11 09:48] henrikbrixandersen commented on #34045
It should not be needed once that PR is merged.

[2021-05-11 09:53] joerchan commented on #22210
Re-opening due to feedback.
1. Provide helper function get attribute from UUID.
2. Allow attr=NULL when passing UUID.

[2021-05-11 10:01] hakehuang opened #35100 "libraries.libc.sprintf_new: fails on lpcxpresso55s16_ns and lpcxpresso55s69_ns"
**Describe the bug**
 ASSERTION FAI wehn run test_EOF

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/lib/sprintf;mkdir build; cd build
2. cmake -DBOARD=lpcxpresso55s16_ns -DCONF_FILE=prj_new.conf ..
3. make; make flash
4. See error

lpcxpresso55s69_ns has the same problem

**Expected behavior**
test pass

**Impact**
sprint new conf setting features

**Logs and console output**

[co

[2021-05-11 10:02] hakehuang commented on #35100
@MaureenHelm , @dleach02 , @mmahadevan108

[2021-05-11 10:26] hakehuang opened #35102 "testing.ztest.error_hook: fails on lpcxpresso55s16_ns"
**Describe the bug**
assert error

**To Reproduce**
Steps to reproduce the behavior:
1. cd tests/ztest/error_hook;mkdir build; cd build
2. cmake -DBOARD=lpcxpresso55s16_ns ..
3. make; make flash
4. See error

**Expected behavior**
tes pass

**Impact**
ztest error_hook support

**Logs and console output**

testing.ztest.error_hook

[code]

**Environment (please complete the following information):*

[2021-05-11 10:27] hakehuang commented on #35102
@MaureenHelm , @dleach02 , @mmahadevan108

[2021-05-11 10:30] enjiamai commented on #35097
Hi, @hakehuang @erwango Yes, it is not relative to #35061.

And this test case is supported by using the irq_offload() to trigger the SW interrupt, it is tested.
According to the error msg, it seems like when trying to offload job to a k_work by calling k_work_submit_to_queue(). But the first parameter &wq_queue(a global variable) is NULL in the ISR handler.

Please let me see if I can have a frdm

[2021-05-11 10:38] sylvioalves commented on #33968
@aep, yes, you can add this in L280 after
[code]
I missed pushing this. Doing it right now.

[2021-05-11 10:38] hakehuang opened #35104 "arch.interrupt.gen_isr_table.arm_mainline: fails on lpcxpresso55s16_ns"
**Describe the bug**
arch.interrupt.gen_isr_table.arm_mainline test failure on lpcxpresso55s16_ns
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=lpcxpresso55s16_ns -DCONFIG_CORTEX_M_DEBUG_NULL_POINTER_EXCEPTION_DETECTION_NONE=y ..
3. make; make flash
4. See error

**Expected behavior**
test pass

**Impact**
interrupt support

**Logs and console

[2021-05-11 10:39] hakehuang commented on #35104
@MaureenHelm,@dleach02 , @mmahadevan108

[2021-05-11 10:46] aunsbjerg commented on #34045
I can test #34680 in relation to this issue tomorrow when I'm in the office

[2021-05-11 11:09] SwissKnife64 commented on #35051
No, on my nucleo_h743zi board the output is still wrong,
only the warnings are gone.

My code:
[code]
My Config:
[code]
My CMakeList.txt
[code]
My output
[code]

[2021-05-11 11:40] galak commented on #29013
@parthitce any updates on this?

[2021-05-11 12:12] carlescufi commented on #31503
Closing due to lack of response. Please reopen if this is still an issue after you have tried @anangl's suggestion.

[2021-05-11 12:15] #35060 closed

[2021-05-11 12:51] nashif commented on #34585
the commit above is not related to tickless idle, tickless idle is not related to tickless kernel. Out kernel is tickless by default, this was the mode we had before introducing tickless kernel.

[2021-05-11 13:01] mnkp opened #35107 "Atmel SAM E70 / Cortex-M7 fails to boot if CONFIG_NOCACHE_MEMORY=y"
**Describe the bug**
If the application is compiled with CONFIG_NOCACHE_MEMORY=y it crashes early during the Zephyr's boot process. No log output can be observed. In case of Atmel SAM platform it may reboot successfully after watchdog reset, which happens after about 20 s. After the first successful boot the subsequent reboots often run without any issues.

The crash happens before the logger subs

[2021-05-11 13:08] ABOSTM opened #35108 "tests: drivers: pwm: pwm_api: failed on nucleo_f207zg"
**Describe the bug**
Since introduction of pwm on nucleo_f207zg (#34348),
tests/drivers/pwm/pwm_api  fails on this board.
(before #34348, test was skipped)

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_f207zg tests/drivers/pwm/pwm_api
2. west flash
3. See error

**Expected behavior**
test passed

**Logs and console output**
*** Booting Zephyr OS build zephyr-v2

[2021-05-11 13:18] mnkp commented on #35089
This seems to be related to #35107. STM32H7 platform also requires `CONFIG_NOCACHE_MEMORY=y`.

[2021-05-11 13:18] EinarHenriksen commented on #34865
I've done some testing with this now, and observed a buffer leak while running my code.
It seems like all I have to do to trigger the buffer leak is to create a socket like this:
`s = zsock_socket(AF_PACKET, SOCK_DGRAM, 0x22f0);`
Then incoming gptp packets will fill up the rx buffer, so my guess would be the packets are never dereferenced for some reason?
If I do nothing in my main function, but b

[2021-05-11 13:29] zephyrbot opened #35110 "[Coverity CID: 220616] Arguments in wrong order in tests/subsys/canbus/isotp/conformance/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/subsys/canbus/isotp/conformance/src/main.c

Category: API usage errors
Function: `test_send_sf_fixed`
Component: Tests
CID: [220616](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=220616)

Details:

https://github.com/zephyrproject-rtos/zephy

[2021-05-11 13:29] zephyrbot opened #35111 "[Coverity CID: 234630] Dereference after null check in tests/net/dhcpv4/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/net/dhcpv4/src/main.c

Category: Null pointer dereferences
Function: `test_dhcp`
Component: Tests
CID: [234630](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=234630)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf2292

[2021-05-11 13:29] zephyrbot opened #35112 "[Coverity CID: 235983] Dereference after null check in samples/sensor/max17262/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/samples/sensor/max17262/src/main.c

Category: Null pointer dereferences
Function: `main`
Component: Samples
CID: [235983](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235983)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf

[2021-05-11 13:29] zephyrbot opened #35113 "[Coverity CID: 235985] Dereference before null check in subsys/bluetooth/audio/vcs_client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs_client.c

Category: Null pointer dereferences
Function: `bt_vcs_discover`
Component: Bluetooth
CID: [235985](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235985)

Details:

https://github.com/zephyrproject-rtos/zephyr/b

[2021-05-11 13:29] zephyrbot opened #35114 "[Coverity CID: 221976] Division or modulo by zero in tests/drivers/can/timing/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/drivers/can/timing/src/main.c

Category: Integer handling issues
Function: `verify_bitrate`
Component: Tests
CID: [221976](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=221976)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/062

[2021-05-11 13:29] zephyrbot opened #35115 "[Coverity CID: 236000] Improper use of negative value in tests/lib/cbprintf_package/src/test.inc"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/lib/cbprintf_package/src/test.inc#L114

Category: Integer handling issues
Function: `test_cbprintf_package`
Component: Tests
CID: [236000](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236000)

Details:

https://github.com/zephyrproject-rtos

[2021-05-11 13:29] zephyrbot opened #35116 "[Coverity CID: 235987] Incompatible cast in include/sys/cbprintf_cxx.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/include/sys/cbprintf_cxx.h

Category: Integer handling issues
Function: `z_cbprintf_cxx_store_arg`
Component: Other
CID: [235987](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235987)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/06

[2021-05-11 13:29] zephyrbot opened #35117 "[Coverity CID: 235945] Incorrect sizeof expression in include/sys/cbprintf_cxx.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/include/sys/cbprintf_cxx.h

Category: Incorrect expression
Function: `z_cbprintf_cxx_arg_size`
Component: Other
CID: [235945](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235945)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bd

[2021-05-11 13:29] zephyrbot opened #35118 "[Coverity CID: 235919] Logically dead code in samples/sensor/bmg160/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/samples/sensor/bmg160/src/main.c

Category: Control flow issues
Function: `main`
Component: Samples
CID: [235919](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235919)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf22926544

[2021-05-11 13:29] zephyrbot opened #35119 "[Coverity CID: 235932] Logically dead code in samples/sensor/adxl372/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/samples/sensor/adxl372/src/main.c

Category: Control flow issues
Function: `main`
Component: Samples
CID: [235932](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235932)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf2292654

[2021-05-11 13:29] zephyrbot opened #35120 "[Coverity CID: 235934] Logically dead code in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c

Category: Control flow issues
Function: `bt_vcs_vol_set`
Component: Bluetooth
CID: [235934](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235934)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf

[2021-05-11 13:29] zephyrbot opened #35121 "[Coverity CID: 235950] Logically dead code in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c

Category: Control flow issues
Function: `bt_vcs_get`
Component: Bluetooth
CID: [235950](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235950)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf2292

[2021-05-11 13:29] zephyrbot opened #35122 "[Coverity CID: 235952] Logically dead code in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c

Category: Control flow issues
Function: `bt_vcs_vol_up`
Component: Bluetooth
CID: [235952](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235952)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf2

[2021-05-11 13:29] zephyrbot opened #35123 "[Coverity CID: 235954] Logically dead code in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c

Category: Control flow issues
Function: `bt_vcs_mute`
Component: Bluetooth
CID: [235954](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235954)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf229

[2021-05-11 13:29] zephyrbot opened #35124 "[Coverity CID: 235955] Logically dead code in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c

Category: Control flow issues
Function: `bt_vcs_flags_get`
Component: Bluetooth
CID: [235955](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235955)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3

[2021-05-11 13:29] zephyrbot opened #35125 "[Coverity CID: 235956] Logically dead code in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c

Category: Control flow issues
Function: `bt_vcs_unmute`
Component: Bluetooth
CID: [235956](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235956)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf2

[2021-05-11 13:29] zephyrbot opened #35126 "[Coverity CID: 235961] Logically dead code in tests/subsys/logging/log_api/src/test.inc"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/subsys/logging/log_api/src/test.inc

Category: Control flow issues
Function: `test_log_overflow`
Component: Tests
CID: [235961](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235961)

Details:

https://github.com/zephyrproject-rtos/zephyr/blo

[2021-05-11 13:29] zephyrbot opened #35127 "[Coverity CID: 235965] Logically dead code in tests/subsys/logging/log_api/src/test.inc"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/subsys/logging/log_api/src/test.inc

Category: Control flow issues
Function: `test_log_overflow`
Component: Tests
CID: [235965](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235965)

Details:

https://github.com/zephyrproject-rtos/zephyr/blo

[2021-05-11 13:29] zephyrbot opened #35128 "[Coverity CID: 235970] Logically dead code in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c

Category: Control flow issues
Function: `bt_vcs_vol_get`
Component: Bluetooth
CID: [235970](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235970)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf

[2021-05-11 13:29] zephyrbot opened #35129 "[Coverity CID: 235990] Logically dead code in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c

Category: Control flow issues
Function: `bt_vcs_unmute_vol_up`
Component: Bluetooth
CID: [235990](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235990)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622

[2021-05-11 13:31] zephyrbot opened #35130 "[Coverity CID: 235997] Logically dead code in drivers/adc/adc_stm32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/drivers/adc/adc_stm32.c#L572

Category: Control flow issues
Function: `adc_stm32_channel_setup`
Component: Drivers
CID: [235997](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235997)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/062

[2021-05-11 13:31] zephyrbot opened #35131 "[Coverity CID: 235998] Logically dead code in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c#L576

Category: Control flow issues
Function: `bt_vcs_unmute_vol_down`
Component: Bluetooth
CID: [235998](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235998)

Details:

https://github.com/zephyrproject-rtos/zephyr/bl

[2021-05-11 13:31] zephyrbot opened #35132 "[Coverity CID: 236003] Logically dead code in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c#L530

Category: Control flow issues
Function: `bt_vcs_vol_down`
Component: Bluetooth
CID: [236003](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236003)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622

[2021-05-11 13:31] zephyrbot opened #35133 "[Coverity CID: 232501] Missing varargs init or cleanup in subsys/logging/log_msg2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/logging/log_msg2.c

Category: API usage errors
Function: `z_impl_z_log_msg2_runtime_vcreate`
Component: Other
CID: [232501](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=232501)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0

[2021-05-11 13:31] zephyrbot opened #35134 "[Coverity CID: 222151] Negative array index write in tests/subsys/logging/log_msg2/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/subsys/logging/log_msg2/src/main.c

Category: Memory - corruptions
Function: `basic_validate`
Component: Tests
CID: [222151](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=222151)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0

[2021-05-11 13:31] zephyrbot opened #35135 "[Coverity CID: 235911] Negative array index write in tests/subsys/logging/log_api/src/mock_backend.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/subsys/logging/log_api/src/mock_backend.c

Category: Memory - corruptions
Function: `process`
Component: Tests
CID: [235911](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235911)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0

[2021-05-11 13:31] zephyrbot opened #35136 "[Coverity CID: 235916] Operands don't affect result in drivers/adc/adc_stm32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/drivers/adc/adc_stm32.c

Category: Integer handling issues
Function: `adc_stm32_channel_setup`
Component: Drivers
CID: [235916](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235916)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622

[2021-05-11 13:31] zephyrbot opened #35137 "[Coverity CID: 225993] Out-of-bounds access in tests/subsys/canbus/isotp/conformance/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/subsys/canbus/isotp/conformance/src/main.c

Category: Memory - corruptions
Function: `get_sf`
Component: Tests
CID: [225993](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=225993)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0

[2021-05-11 13:31] zephyrbot opened #35138 "[Coverity CID: 229545] Out-of-bounds access in tests/subsys/canbus/isotp/conformance/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/subsys/canbus/isotp/conformance/src/main.c

Category: Memory - corruptions
Function: `get_sf`
Component: Tests
CID: [229545](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=229545)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0

[2021-05-11 13:31] zephyrbot opened #35139 "[Coverity CID: 229646] Out-of-bounds access in subsys/bluetooth/audio/vocs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vocs.c

Category: Memory - corruptions
Function: `bt_vocs_register`
Component: Bluetooth
CID: [229646](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=229646)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bd

[2021-05-11 13:31] zephyrbot opened #35140 "[Coverity CID: 231072] Out-of-bounds access in tests/kernel/sched/preempt/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/kernel/sched/preempt/src/main.c

Category: Memory - corruptions
Function: `worker`
Component: Tests
CID: [231072](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=231072)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf22

[2021-05-11 13:31] zephyrbot opened #35141 "[Coverity CID: 235913] Out-of-bounds access in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c

Category: Memory - corruptions
Function: `prepare_aics_inst`
Component: Bluetooth
CID: [235913](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235913)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bd

[2021-05-11 13:31] zephyrbot opened #35142 "[Coverity CID: 235914] Out-of-bounds access in subsys/bluetooth/audio/vcs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs.c

Category: Memory - corruptions
Function: `prepare_vocs_inst`
Component: Bluetooth
CID: [235914](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235914)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bd

[2021-05-11 13:31] zephyrbot opened #35143 "[Coverity CID: 235921] Out-of-bounds access in include/sys/cbprintf_cxx.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/include/sys/cbprintf_cxx.h

Category: Memory - corruptions
Function: `z_cbprintf_cxx_store_arg`
Component: Other
CID: [235921](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235921)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622b

[2021-05-11 13:31] zephyrbot opened #35144 "[Coverity CID: 235944] Out-of-bounds access in subsys/bluetooth/audio/vcs_client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs_client.c

Category: Memory - corruptions
Function: `vcs_discover_include_func`
Component: Bluetooth
CID: [235944](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235944)

Details:

https://github.com/zephyrproject-rtos/zep

[2021-05-11 13:31] zephyrbot opened #35145 "[Coverity CID: 235984] Out-of-bounds access in include/sys/cbprintf_cxx.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/include/sys/cbprintf_cxx.h

Category: Memory - corruptions
Function: `z_cbprintf_cxx_store_arg`
Component: Other
CID: [235984](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235984)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622b

[2021-05-11 13:31] zephyrbot opened #35146 "[Coverity CID: 235994] Out-of-bounds access in tests/kernel/interrupt/src/interrupt_offload.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/kernel/interrupt/src/interrupt_offload.c

Category: Memory - corruptions
Function: `init_dyn_interrupt`
Component: Tests
CID: [235994](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235994)

Details:

https://github.com/zephyrproject-rtos/zep

[2021-05-11 13:31] zephyrbot opened #35147 "[Coverity CID: 236012] Out-of-bounds access in subsys/bluetooth/audio/vcs_client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/audio/vcs_client.c#L498

Category: Memory - corruptions
Function: `vcs_discover_func`
Component: Bluetooth
CID: [236012](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236012)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-05-11 13:31] zephyrbot opened #35148 "[Coverity CID: 236015] Out-of-bounds access in tests/subsys/logging/log_api/src/mock_backend.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/subsys/logging/log_api/src/mock_backend.c#L372

Category: Memory - corruptions
Function: `sync_hexdump`
Component: Tests
CID: [236015](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236015)

Details:

https://github.com/zephyrproject-rtos/zep

[2021-05-11 13:31] zephyrbot opened #35149 "[Coverity CID: 234410] Out-of-bounds read in tests/kernel/sched/preempt/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/kernel/sched/preempt/src/main.c

Category: Memory - illegal accesses
Function: `worker`
Component: Tests
CID: [234410](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=234410)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde

[2021-05-11 13:33] zephyrbot opened #35150 "[Coverity CID: 225136] Out-of-bounds write in tests/kernel/sched/deadline/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/kernel/sched/deadline/src/main.c

Category: Memory - corruptions
Function: `worker`
Component: Tests
CID: [225136](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=225136)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf2

[2021-05-11 13:33] zephyrbot opened #35151 "[Coverity CID: 235943] Reliance on integer endianness in include/sys/cbprintf_cxx.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/include/sys/cbprintf_cxx.h

Category: Integer handling issues
Function: `z_cbprintf_cxx_store_arg`
Component: Other
CID: [235943](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235943)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/06

[2021-05-11 13:33] zephyrbot opened #35152 "[Coverity CID: 235986] Structurally dead code in tests/subsys/logging/log_api/src/test.inc"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/subsys/logging/log_api/src/test.inc

Category: Control flow issues
Function: `test_log_msg_dropped_notification`
Component: Tests
CID: [235986](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235986)

Details:

https://github.com/zephyrproject

[2021-05-11 13:33] zephyrbot opened #35153 "[Coverity CID: 236006] Structurally dead code in tests/subsys/logging/log_api/src/test.inc"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/subsys/logging/log_api/src/test.inc#L553

Category: Control flow issues
Function: `test_log_msg_dropped_notification`
Component: Tests
CID: [236006](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236006)

Details:

https://github.com/zephyrpr

[2021-05-11 13:33] zephyrbot opened #35154 "[Coverity CID: 233524] Unchecked return value in include/drivers/dma.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/include/drivers/dma.h

Category: Error handling issues
Function: `z_impl_dma_request_channel`
Component: Drivers
CID: [233524](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=233524)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622b

[2021-05-11 13:33] zephyrbot opened #35155 "[Coverity CID: 235677] Unchecked return value in drivers/gpio/gpio_cy8c95xx.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/drivers/gpio/gpio_cy8c95xx.c

Category: Error handling issues
Function: `cy8c95xx_init`
Component: Drivers
CID: [235677](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235677)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf2

[2021-05-11 13:33] zephyrbot opened #35156 "[Coverity CID: 235979] Unchecked return value in drivers/sensor/iis2mdc/iis2mdc_trigger.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/drivers/sensor/iis2mdc/iis2mdc_trigger.c

Category: Error handling issues
Function: `iis2mdc_init_interrupt`
Component: Drivers
CID: [235979](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235979)

Details:

https://github.com/zephyrproject-rtos/ze

[2021-05-11 13:33] zephyrbot opened #35157 "[Coverity CID: 221380] Uninitialized scalar variable in subsys/bluetooth/controller/ll_sw/ull_iso.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/subsys/bluetooth/controller/ll_sw/ull_iso.c#L163

Category: Uninitialized variables
Function: `ll_setup_iso_path`
Component: Bluetooth
CID: [221380](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=221380)

Details:

https://github.com/zephyrproject-

[2021-05-11 13:33] zephyrbot opened #35159 "[Coverity CID: 232698] Uninitialized scalar variable in samples/net/sockets/txtime/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/samples/net/sockets/txtime/src/main.c

Category: Uninitialized variables
Function: `rx`
Component: Samples
CID: [232698](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=232698)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf2

[2021-05-11 13:33] zephyrbot opened #35160 "[Coverity CID: 235930] Unused value in kernel/mmu.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/kernel/mmu.c

Category: Code maintainability issues
Function: `virt_region_init`
Component: Kernel
CID: [235930](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235930)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/0622bde3bf22926544c

[2021-05-11 13:33] zephyrbot opened #35161 "[Coverity CID: 235962] Unused value in tests/kernel/mem_protect/mem_map/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/kernel/mem_protect/mem_map/src/main.c

Category: Incorrect expression
Function: `test_k_mem_map_exhaustion`
Component: Tests
CID: [235962](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235962)

Details:

https://github.com/zephyrproject-rtos

[2021-05-11 13:33] zephyrbot opened #35162 "[Coverity CID: 235972] Wrong sizeof argument in tests/lib/cbprintf_package/src/test.inc"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/lib/cbprintf_package/src/test.inc

Category: Incorrect expression
Function: `test_cbprintf_package`
Component: Tests
CID: [235972](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=235972)

Details:

https://github.com/zephyrproject-rtos/zephyr/

[2021-05-11 13:33] zephyrbot opened #35163 "[Coverity CID: 236009] Wrong sizeof argument in tests/lib/cbprintf_package/src/test.inc"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/0622bde3bf22926544c1aaef4c01dfa23d79f26e/tests/lib/cbprintf_package/src/test.inc#L121

Category: Incorrect expression
Function: `test_cbprintf_package`
Component: Tests
CID: [236009](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236009)

Details:

https://github.com/zephyrproject-rtos/ze

[2021-05-11 13:43] ABOSTM commented on #35097
The same problem (same assert failed, followed by a HardFault) occurs on some STM32 boards:
* nucleo_f091rc (cortex M0)
* nucleo_l073 (cortex M0+)
* nucleo_l152re  (cortex M3)

But it is passed on other boards including nucleo_f103rb (cortex M3) and nucleo_g071rb (cortex M0+)

[2021-05-11 13:45] FRASTM commented on #35055
Did you try to update the stlink firmware of the nucleo board using the stm32Cubee Programer

I can flash and re-flash with 'west flash' different samples successively on a nucleo_l011k4 (nucleo32)
(its STLINK version is V2J29M18)

[2021-05-11 14:39] galak commented on #35026
Closed, should be fixed by #35090

[2021-05-11 15:01] Nukersson commented on #34438
@jukkar Can you add here something?

[2021-05-11 15:08] erwango commented on #30236
@rtzu6 Thanks for feedback. I'm setting it as "Waiting for reponse".

[2021-05-11 15:18] etterli commented on #33583
@anangl Thank you for explaining the reason for the additional delay and proposing a solution.

I haven't tested your solution but found another way to come along with the delays and therefore close this issue.

[2021-05-11 15:47] #35112 closed

[2021-05-11 15:55] galak commented on #35154
@hakehuang can you look at this coverity bug - we might be treating this as a false positive.

[2021-05-11 16:01] aep opened #35169 "esp32: uart_poll_in never ready for UART2 only"
for this simple uart poll

[code]

this dts does not work:

[code]

but if you change uart2 to uart1,  it works fine. so this ONLY affects uart2. uart0 is also working.

just to be super clear, ONLY changing "uart2" to "uart1" while keeping the pin config.

[code]

[2021-05-11 16:02] enjiamai commented on #35097
I did not have these boards, I just have frdm_k64f in hand, and it passed when I use twister to test it.
Excuse me,  @hakehuang , if it is possible, could you please help to run this command on frdm_kl25z to see whether it pass or not?
[code]

[2021-05-11 17:07] aep opened #35175 "quectel-bg9x crashes"
with an empty main, enabling the quectel-bg9x on esp32 crashes after receiving IMEI

this is my dts:

[code]

[code]

[2021-05-11 17:11] galak commented on #35102
@hakehuang are you seeing this on lpcxpresso55s69_ns?

[2021-05-11 17:20] galak commented on #34917
@hakehuang are you seeing this on 55s69?

[2021-05-11 17:23] galak commented on #34915
Is this config one we support w/twister -- if not we probably don't consider a valid config to try to test.

[2021-05-11 17:27] galak commented on #34911
Does this reproduce on K64F?

[2021-05-11 17:35] aep opened #35176 "strtol crashes"
- esp32
- at commit 977aba6d02c87f884ecc79672690befcbcfd0186

[code]

[code]

[2021-05-11 17:36] aep commented on #35175
this is cased by #35176

[2021-05-11 17:45] carlescufi commented on #34233
@rlubos ping on this one.

[2021-05-11 17:45] galak commented on #34226
@Nukersson any updates on this?

[2021-05-11 17:47] alexanderwachter commented on #34872
I think I got the problem. In case it is not a SF, we need to pull the address, because the address was put there from the canbus_cpy_lladdr. In case of a SF, the address is already pulled.
Maybe we can pull the address directly after the copy. Need to check that.

[2021-05-11 18:02] #34342 closed

[2021-05-11 18:11] dcpleung commented on #35149
False positive.

[2021-05-11 18:11] #35149 closed

[2021-05-11 18:13] galak commented on #34911
Tested this out on K64F and seeing similar issue there.

[2021-05-11 18:14] dcpleung commented on #35150
False positive.

[2021-05-11 18:14] #35150 closed

[2021-05-11 18:35] gregshue opened #35177 "example-application: Add example library & tests"
**Is your enhancement proposal related to a problem? Please describe.**
Enhance the example-application repo with a `lib/` folder, a trivial configurable library, and tests.  This is to help fill out the agreed-upon scope of implementation.

**Describe the solution you'd like**
Add to the example-application repository a 'lib/' tree, a trivial configurable library, a 'tests/lib/' tree, and tests t

[2021-05-11 18:39] mbolivar-nordic commented on #34076
That's weird. The issue doesn't reproduce on Linux. At first I thought it was just a missing PYTHONIOENCODING environment variable setting, but I see that doc/CMakeLists.txt includes cmake/python.cmake, which sets PYTHONIOENCODING to "utf-8" on Windows.

@gmarull any idea?

[2021-05-11 18:41] mbolivar-nordic commented on #34076
@hongshui3000 could you please apply this patch and retest, to see if the change to vendor-prefixes.txt is working?

[code]

[2021-05-11 18:44] gmarull commented on #34076
We may need to explicitly open file with encoding, ie `open("file", "r", encoding="utf-8")`. I faced similar encoding problems on Windows and solved them this way (see https://github.com/nrfconnect/sdk-nrf/pull/4449/files#diff-87607595cbd4c2220ec7e0a03979db859c93fc90c6e060b326f406afd08ebb45R68)

[2021-05-11 19:27] Nukersson commented on #34226
Some progress can be seen here: #34438

But I am not actively involved onto it. Just monitoring and trying to help, where I can. At the end I can do the tests on my HW of course, before the merge can be done.
It looks currently, that multiple posix functions needed by Civetweb must be implemented on Zephyr posix api. But not all the functionality is possible, since there are some constraints from

[2021-05-11 20:45] #35159 closed

[2021-05-11 20:45] #35161 closed

[2021-05-11 21:40] ceolin commented on #35028
This board does not implement power management and this tested should be skipped. Going to do this.

[2021-05-11 22:21] jfischer-no commented on #35091
I can not reproduce it with link_board_eth shield connected to nrf5340dk_nrf5340. Please check interrupt (INT) line, level shifter, pullups on your board.

[2021-05-11 22:44] jenmwms commented on #33275
Not yet, thank you. I will try

[2021-05-11 23:25] enjiamai commented on #33901
Hi, @nashif ,  no, I'll try to fix it before the 2.6 release.

[2021-05-11 23:34] rodrigobrochado opened #35187 "Version selection not working"
**Describe the bug**

The Cmake `find_package` is not following `EXACT` [version selection](https://cmake.org/cmake/help/latest/command/find_package.html#version-selection). I've modified the CMakeLists.txt of some samples code to versions that don't exist yet (like 2.7.0) or old ones (like 2.4.0) and the build passed where I expected it to fail.

I've then removed the lines 51 to 66 below and it

[2021-05-11 23:41] MaureenHelm commented on #35097
This test was added just a few days ago in #34016. It looks the failure is a timing issue, because the following change allows the test to pass on `frdm_kl25z`:
[code]

[2021-05-11 23:45] #35082 closed

[2021-05-11 23:48] nashif commented on #34687
clearer log message:

[code]

[2021-05-11 23:53] nashif commented on #34687
@enjiamai  this was your commit

[2021-05-11 23:53] enjiamai commented on #35097
Great, @MaureenHelm , this information helps. Could you please help to try whether this change also works when you got a change? thank you so much!
[code]

[2021-05-11 23:55] nashif commented on #34152
failure confirmed

[2021-05-11 23:56] andyross commented on #34687
Yeah, we turned SMP on and exposed a bug in an SMP platform that isn't part of CI.  Not really that surprising I guess.  Hopefully a race in the test and new a kernel bug.  Will take a look.

[2021-05-12 00:06] MaureenHelm commented on #35097
This change does not work

[2021-05-12 00:25] andyross commented on #33544
Some general ideas:

* Would be interesting to try this with CONFIG_APIC_TSC_DEADLINE_TIMER=y to see if this is specific to the HPET driver or if it's something general.

* Similarly ehl_crb is an SMP platform (and, like up_squared, a very fast one) so it tends to discover races in tests that platforms don't.  Does setting SMP=n or MP_NUM_CPUS=1 also address the problem?  If so, was this one of th

[2021-05-12 00:29] #32445 closed

[2021-05-12 00:33] #33806 closed

[2021-05-12 00:36] yerabolu opened #35189 "Coding Guidelines: Resolve the issues under Rule 21.2"
**Describe the bug**
Code should be compliant with the Rule 21.2 - A reserved identifier or reserved macro name shall not be declared
https://docs.zephyrproject.org/latest/guides/coding_guidelines/index.html?highlight=guidelines

Also refer to the discussion in RFC #32590

**To Reproduce**
Static analysis scans with enabled coding guideline checkers will show all the issues.

**Expected behavior**

[2021-05-12 00:45] bob2oneil opened #35190 "echo_server sample non-functional rails all CPUs on native_posix_64 board build"
The same echo_server from the Zephyr distribution is not functional when building for native_posix_64 on a Ubuntu machine.

From an external view, when executing the application native on the platform, it will rail all of the cores of an 8 core machine.

The runtime terminal output is as follows:

UART_0 connected to pseudotty: /dev/pts/11
WARNING: Using a test - not safe - entropy source
*** Boot

[2021-05-12 01:13] bob2oneil opened #35191 "GIT Checkout of Master Branch is 2.6.0rc1 versus west update as 2.5.99"
Using a GIT clone, and making the master branch active, there are tons of differences between what is provided as the master branch, and the typical method for getting Zephyr source code as:

west init ~/zephyrproject
cd ~/zephyrproject
west update

west update does not bring this source distro to match the GIT master branch.

So what is the recommended version, i.e. the stable master branch?

[2021-05-12 01:31] marc-hb commented on #34492
@lyakh I always saw the same kind of garbage with `intel_adsp_cavs15/tools/logtool.py` and never with `intel_adsp_cavs15/tools/adsplog.py`. What do you see with the latter?

[2021-05-12 01:48] enjiamai commented on #32603
Hi, @jenmwms it seems like the error became different, the timer did not interrupt after 1000ms. maybe we can try a 1100ms, 1010ms, or even 1001, 1002, to see if this error still happened.

[2021-05-12 02:00] wangnuannuan commented on #33967
https://github.com/zephyrproject-rtos/zephyr/pull/33112

[2021-05-12 02:00] #33967 closed

[2021-05-12 02:09] KangJianX commented on #34152
@andyross @nashif
This issue still can be reproduced on latest commit 8e69dafccf25bc5b4015a607cdba114216c4ea0e.
DEBUG   - DEVICE: START - **test_workq_on_smp**
DEBUG   - DEVICE: Caught system error -- reason 0 0
DEBUG   - DEVICE: Fatal error was unexpected, aborting...
DEBUG   - DEVICE:
DEBUG   - DEVICE: Assertion failed at WEST_TOPDIR/zephyr/tests/kernel/smp/src/main.c:716: test_workq_on_smp: k_w

[2021-05-12 02:34] KangJianX commented on #34687
Double confirmed. This bug can be reproduced in commit 8e69dafccf25bc5b4015a607cdba114216c4ea0e.

[2021-05-12 02:55] hakehuang commented on #35097
with below change the issue still there,

[code]

[code]

[2021-05-12 03:02] laurenmurphyx64 opened #35195 "doc, coding guidelines: broken CERT-C links"
**Describe the bug**
Broken links to CERT-C pages in the Main rules table of the [Coding Guidelines documentation page](https://docs.zephyrproject.org/latest/guides/coding_guidelines/index.html).

**To Reproduce**
Steps to reproduce the behavior:
1. Open Coding Guidelines documentation
2. Click any of the CERT-C links

**Expected behavior**
Go to correct, current CERT-C link.

**Impact**
Annoyance

[2021-05-12 03:03] hakehuang commented on #34915
Hi @galak
[code]

form the west test config, this platform shall support this case, but maybe we need exclude lpc platforms, looks like the case is not well designed

[2021-05-12 03:04] hakehuang commented on #34917
yes, there are same issue on 55s69

[2021-05-12 03:15] hakehuang commented on #35102
@galak  55s69_ns platform does not have required CONFIG_ARCH_HAS_USERSPACE, so I do not test it.

[2021-05-12 03:18] bob2oneil commented on #34753
Thanks, works as you described well.

[2021-05-12 03:22] hakehuang commented on #35154
@galak , I think it is not a issue, this return value is not about function sucess or not, but return the former status. here we do not need the former status, as we only need to clear the bit.

[code]

[2021-05-12 03:26] bob2oneil opened #35197 "Zephyr Project Development with 2 Ethernet Interfaces Supported (eth0, and eth1)"
Is it possible to develop a Zephyr application that supports 2 Ethernet interfaces, that what would be 2 physical NICs on a hardware platform.

One NIC would be a standard interface accepting UDP packets with a standard 1500 byte MTU.

The other NIC would require a raw socket, with an MTU of over 8K (jumboframe).

The secondary NIC would be bridged with other secondary NICS to form a bridge betwee

[2021-05-12 03:36] enjiamai commented on #35097
Thank you so much! @hakehuang , could you please help to verify this again, sorry for bugging you again.
[code]

[2021-05-12 03:45] enjiamai commented on #35097
Thank you so much, @hakehuang , could you please help to verify this again? so sorry for bugging you.
[code]

[2021-05-12 03:55] KangJianX commented on #32836
@andyross I run those tests manually
samples/application_development/external_lib
samples/posix/eventfd
samples/userspace/hello_world_user
tests/kernel/fatal/message_capture
tests/net/socket/socketpair
And the behavior **same with you said in description**.
BTW, tests/portability/cmsis_rtos_v2 **this test is deleted** by someone.

For
tests/crypto/tinycrypt
tests/subsys/logging/log_immediate
tests

[2021-05-12 04:05] dleach02 commented on #34911
I can see the problem.

It was introduced with e53d549. What I'm seeing is that the test case added with the reference commit is failing on NXP boards. There are some assumptions being made on the number of partitions available with test_mem_part_assert_add_overmax() test where the arch_mem_domain_max_partitions_get() function is returning 4 maximum partitions but the test_domain structure has 12

[2021-05-12 04:12] enjiamai commented on #35097
Thanks so much! @hakehuang , it seems like a timing issue. I need some time to look at this.

[2021-05-12 04:58] nordic-krch commented on #35115
False positive, earlier assertion in the test will return from the test if `rc` is negative.

[2021-05-12 04:58] #35115 closed

[2021-05-12 05:05] nordic-krch commented on #35117
Triaged. Intentianal use of `sizeof(arg + 0)` to promote `arg`.

[2021-05-12 05:05] #35117 closed

[2021-05-12 05:05] hakehuang opened #35198 "subsys.pm.device_pm: frdm_k64f leave idel fails"
**Describe the bug**
 Assertion failed at WEST_TOPDIR/zephyr/tests/subsys/pm/power_mgmt/src/main.c:161: test_power_state_trans: leave_idle is false

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f ..
3. make
4. See error

**Expected behavior**
case pass

**Impact**
pm features

**Logs and console output**

[code]

**Environment (please complete

[2021-05-12 05:06] hakehuang commented on #35198
@MaureenHelm  ,@dleach02 , @mmahadevan108

[2021-05-12 05:42] Zhaoningx opened #35199 "Queues: there is no documentation about queue's implementation."
**Describe the bug**
I checked the zephyr doc, I find that there is no documentation about Queues, please take a look at this link: https://docs.zephyrproject.org/latest/reference/kernel/data_passing/queues.html , and meanwhile, There is no explanation why there is no documentation, or it is simply lost.
So I reported this Bug, please double check the Queues' zephyr doc.

[2021-05-12 05:52] nordic-krch commented on #35143
False positive, reported in coverity.

[2021-05-12 05:52] #35143 closed

[2021-05-12 05:54] nordic-krch commented on #35145
False positive. Resolved in coverity.

[2021-05-12 05:54] #35145 closed

[2021-05-12 06:04] IRISZZW opened #35200 "tests/kernel/smp failed on hsdk board"
**Describe the bug**
tests/kernel/smp failed on hsdk board

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b hsdk -d build -p auto tests/kernel/smp
2. west flash
3. See error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - Commit 8e69dafccf25bc5b4015a607cdba114216c4ea0e

[2021-05-12 06:12] MaikVermeulen commented on #31613
@danderson-presonus My `CMakeLists.txt` in the library folder containing the `.a` file:
[code]

[2021-05-12 06:52] IRISZZW opened #35202 "smp atomic_t global_lock will never be cleared when a thread oops with global_lock is set"
**Describe the bug**

When CONFIG_SMP is configed.

we call `irq_lock`, we will call `z_smp_global_lock` and set `global_lock`: https://github.com/zephyrproject-rtos/zephyr/blob/8e69dafccf25bc5b4015a607cdba114216c4ea0e/kernel/smp.c#L16-L28

we call `irq_unlock`, we will call `z_smp_global_unlock` and clear `global_lock`: https://github.com/zephyrproject-rtos/zephyr/blob/8e69dafccf25bc5b4015a607cdb

[2021-05-12 06:55] IRISZZW commented on #35202
@enjiamai @nashif  I found this issue with your test cases, https://github.com/zephyrproject-rtos/zephyr/commit/a9edb1f46ab5f27b57e98387b2d80d42c6f1e9c8

[2021-05-12 07:08] alexsven opened #35203 "Options when using CONFIG_THREAD_RUNTIME_STATS"
**Is your feature request related to a problem? Please describe.**
As far as I can see, the CPU % printed when using CONFIG_THREAD_RUNTIME_STATS is based off of total number of cycles since then system booted.

**Describe the solution you'd like**
I would like to have an option for seeing the percentage used per thread in the given log intervall, similar to what CONFIG_TRACING_CPU_STATS provided.

[2021-05-12 07:12] anangl opened #35204 "PPI channel assignment for Bluetooth controller is incorrect for nRF52805"
**Describe the bug**
e603b9d59e84f45285e4e0afb26d3930bed70629 has changed, among others, the following line:
[code]

Consequently, `hal_radio_group_task_disable_ppi_setup()` that is called from `radio_tmr_start()` and contains:
https://github.com/zephyrproject-rtos/zephyr/blob/8e69dafccf25bc5b4015a607cdba114216c4ea0e/subsys/bluetooth/controller/ll_sw/nordic/hal/nrf5/radio/radio_nrf5_ppi.h#L619-L62

[2021-05-12 07:12] nordic-krch commented on #34269
Can you point me to instruction how to setup this toolchain? What GCC version is it based? I though that it is esp toolchain and tried that but it compiles ok.

[2021-05-12 07:26] rlubos commented on #34233
From what I've seen, the OpenThread project does not catch up with the Kconfig changes done after the project is generated. @tejlmand Is there any Kconfig dependency we could add to the OpenThread build stage?

[2021-05-12 07:35] hongshui3000 commented on #34269
XCC is based on old GCC 4.2.

[2021-05-12 07:36] rlubos commented on #34438
I'm not familiar with `net_sockets.c` from mbedTLS, but it seems to be using posix socket API, so I wonder if any porting is needed at all (we support this in Zephyr). Perhaps some features are missing, I haven't gone deep into the code.

But if you cannot use it and need to setup mbedTLS manually, you may want to have a look at Zephyrs [Secure socket implmentation](https://github.com/zephyrprojec

[2021-05-12 07:42] aunsbjerg commented on #34045
Can confirm that #34680 fixes this issue

[2021-05-12 07:46] jukkar commented on #35197
Yes, you can have two or any number of Ethernet controllers in the system. For each network interface, there needs to be a call to `ETH_NET_DEVICE_INIT()`. See for example `drivers/ethernet/eth_native_posix.c` which does exactly this. In that driver user can set `CONFIG_ETH_NATIVE_POSIX_INTERFACE_COUNT` and the driver will create as many network interfaces to the system.

What traffic UDP etc, dep

[2021-05-12 07:47] #11207 closed

[2021-05-12 08:21] IRISZZW opened #35209 "tests/kernel/mem_heap/mheap_api_concept failed on hsdk board"
**Describe the bug**
tests/kernel/mem_heap/mheap_api_concept failed on hsdk board

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b hsdk -d build -p auto tests/kernel/mem_heap/mheap_api_concept
2. west flash
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Impact**
What impact does this issue have on your progress (e.g., annoy

[2021-05-12 08:41] jukkar commented on #35190
I just tried to run echo-server sample with Fedora 32 like this

Terminal 1:
[code]
Terminal 2:
[code]
Terminal 3:
[code]
I did not see any `missing log_strdup().` prints and everything seemed to work just fine. This with latest upstream Zephyr.

[2021-05-12 08:43] enjiamai commented on #34911
Thanks for the message of debugging. @dleach02 , yes, test_mem_part_assert_add_overmax() is expected exception but nothing happened. Did you reproduce it on frdm_k64f? I check the fdrm_k64f it passed the test case.

[2021-05-12 09:05] enjiamai commented on #35202
Hi, @IRISZZW ,  thanks for your message and debug, I think the test case test_fatal_on_smp() from this commit fa2724b26337109db3b71dce625233d34c5b9e68 ,
Could you please help me to try this on your hsdk board? I appreciate your help, thank you!

[code]

[2021-05-12 09:18] mkschreder commented on #22748
@erwango refering to the discussion on stm32l0 power management (#35183) and regarding the pinctrl related stuff for low power mode, what do you think of putting it into the stm32 pinmux driver (drivers/pinmux/stm32/pinmux_stm32.c)?

Currently the driver doesn't define an instance of device with all the callback functions but perhaps it should? Then I'm thinking we could experiment with the idea o

[2021-05-12 09:42] IRISZZW commented on #35202
without `test_fatal_on_smp`, it works:
[code]

[2021-05-12 09:45] erwango commented on #22748
That could be studied indeed and added if helps in pinctrl design.

But I don't seem to find anything relevant for stm32.

Well, that's a bit different indeed on NXP and STM32 as on NXP (at least kxx) they have specific/distinct hw blocks for pinmux and gpio (please someone correct me if I'm wrong) and this is not the case on STM32 as "gpio" blocks are in charge both of pinmux and gpio.

I'm conce

[2021-05-12 09:46] IRISZZW opened #35215 "tests/kernel/msgq/msgq_usage failed on hsdk board"
**Describe the bug**
tests/kernel/msgq/msgq_usage failed on hsdk board

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b hsdk -d build -p auto tests/kernel/msgq/msgq_usage
2. west flash
3. See error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - Commit 8e69dafccf25bc5b4015a607cdba114216

[2021-05-12 09:48] enjiamai commented on #35202
Excuse me, @IRISZZW , could you please help to try this again on your hsdk board? thank you so much!
[code]

[2021-05-12 09:58] nordic-krch commented on #34269
I seems like linker/compiler behaves as if there were no garbage collection of unused stuff (-no-gc-sections) can you try to modify `subsys/logging/CMakeLists.txt` line 3 like:
`if(NOT CONFIG_LOG_MINIMAL OR CONFIG_NO_OPTIMIZATION) ` ?

[2021-05-12 10:13] ABOSTM commented on #32771
@jonasn-ge, I could not exactly reproduce this issue in the same condition than you,
but I succeed to reproduce it with a step by step debugging (probably giving more time to the ping event to arrive at the wrong place).
As I could see, problem is due to the fact that IRQ is enabled (in `eth_iface_init()` thanks to `DEV_CFG(dev)->config_func()` )
before iface address is set `net_if_set_link_addr()

[2021-05-12 10:17] FRASTM opened #35219 "tests: driver: dma test case loop_transfer fails on stm32 with dmamux"
**Describe the bug**
When the stm32 has a dmamux, the request ID 0 is not accessible, causing a failure in the memory-to-memory testing.
The test cases `tests/drivers/dma/loop_transfer`  and `tests/drivers/dma/chan_blen_transfer` are failed
especially on nucleo_g474re, nucleo_wb55rg, nucleo_g071rb

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_g474re tests/drive

[2021-05-12 10:18] FRASTM commented on #35219
FIXED by https://github.com/zephyrproject-rtos/zephyr/pull/34972

[2021-05-12 10:29] FRASTM opened #35220 "tests: dma: memory-to-memory transfer fails on stm32f746zg nucleo board"
**Describe the bug**
test cases `tests/drivers/dma/chan_blen_transfer`/ and `tests/drivers/dma/loop_transfer` fail on nucleo_f746zg board

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b nucleo_f746zg tests/drivers/dma/chan_blen_transfer/

**Expected behavior**
test PASSED

**Logs and console output**
... _timeout_

**Environment (please complete the following informatio

[2021-05-12 10:30] FRASTM commented on #35220
FIXED by https://github.com/zephyrproject-rtos/zephyr/pull/35165

[2021-05-12 10:33] lairdjm commented on #35091
@jfischer-no There are 3 bits for interrupts that are not implemented as per the datasheet http://ww1.microchip.com/downloads/en/devicedoc/39935b.pdf page 120 in the high byte (2 bits in the lower byte too), the lower 3 bits are reserved, that is "Ignore on read, don’t care on write", in the chip I have here, they are being returned as set hence the following error "[00:00:00.259,124] <err> ethdrv

[2021-05-12 10:34] sylvioalves commented on #35169
Hi @aep, are you using ESP32 WROOM or WROVER?
Could you describe the error? Building issues or  `UART_2` device not found?

[2021-05-12 10:54] lairdjm commented on #35091
It could also be related to errata number 4 as per https://ww1.microchip.com/downloads/en/DeviceDoc/80477A.pdf

[2021-05-12 11:17] JPSELC commented on #31499
I think the simplest thing to do for notification ack timeout is to get msg->message_timeout_cb (in lwm2m_engine.c) to call engine_trigger_update (in lwm2m_rd_client.c). The subsequent failure of engine_trigger_update will then trigger retries.
This would simplify the Offline state for #32610

[2021-05-12 11:25] lairdjm commented on #35091
A logic trace of the interrupt line:
![image](https://user-images.githubusercontent.com/40387179/117967353-d80b2f80-b31c-11eb-866b-3b3741eb0b7a.png)
The first is the expected one and the second one what triggers the 'unknown interrupt', indeed the ESTAT register does show that an interrupt is not pending, so this could also be handled by only checking the interrupt source if the bit in ESTAT is se

[2021-05-12 11:30] lairdjm commented on #35091
In fact that might even work better, moving the ESTAT read first and then only running the rest of the code if the MSB is set gets rid of the second blip altogether:
![image](https://user-images.githubusercontent.com/40387179/117968098-ba8a9580-b31d-11eb-9aa3-f66c8fbf2ea3.png)
I can change the fix to do that instead if preferred, thoughts?

[2021-05-12 11:40] bob2oneil commented on #35197
Many thanks jukkar

[2021-05-12 11:40] #35197 closed

[2021-05-12 11:41] #34753 closed

[2021-05-12 11:55] hongshui3000 commented on #34269
@nordic-krch
[code]

[2021-05-12 12:06] jukkar commented on #35190
Note that `west update` does not update zephyr, it just updates the modules one dir up. For updating zephyr, you can do `git pull`

[2021-05-12 12:18] bob2oneil commented on #35190
I did a pull of the master branch as 2.6.0.rc1, which differs from my standard "west based" install.  Are you recommending using this 2.6.0.rc1 GIT repo pull for this test?  The reason I ask, is that release candidates are generally considered less stable that perhaps a non-resource candidate.  But I want to test using as much common to your environment, and no need to fight bugs that have already

[2021-05-12 12:23] nashif opened #35223 "Coverity [CID 221772]: Wrong operator used in logging subsystem, multiple violations"
**Describe the bug**

We have over 3000 violation of this type generated by the logging subsystems, for example:

<img width="785" alt="image" src="https://user-images.githubusercontent.com/180017/117973861-e3e5fa00-b2fa-11eb-8d32-cbfa4f9180fc.png">

**To Reproduce**

Login into coverity, open outstanding issues and filter by this type: ` Wrong operator used`

[2021-05-12 12:51] bob2oneil commented on #35190
I did another creation of the Zephyr folder using the west process as follows:

west init ~/zephyrproject
cd ~/zephyrproject
west update

When I checked the version, it now matches the GIT pull of the master branch.

So I suppose the conclusion is that the 2.6.0.rc1 is consider the official release to work with.

[2021-05-12 13:00] jukkar commented on #35190
If you are developing new stuff that is suppose to be upstreamed, then you should use the latest upstream version. That git head version is probably not suitable to be used in products where you want to use a stable release.

[2021-05-12 13:20] bob2oneil commented on #35191
An update using the standard west procedure described above to recreate the entire ZephryProject appears to pull at this time of this memo, the 2.6.0.rc1 release as the master branch in GIT.

[2021-05-12 13:20] #35191 closed

[2021-05-12 13:28] #35118 closed

[2021-05-12 13:28] #35119 closed

[2021-05-12 13:30] #35209 closed

[2021-05-12 13:31] #35195 closed

[2021-05-12 13:40] galak commented on #35198
@ceolin similar issue on how do we filter platforms that don't support PM.

[2021-05-12 13:43] nimarty commented on #34931
I managed to create a public example which demonstrates the problem:
https://github.com/endresshauser-lp/iiot-qemu_x86-samples-dnsResolvePlayground
Description on how to build and run the example can be found within the repo

[2021-05-12 13:43] andyross commented on #35202
This doesn't sound like a bug.  The irq_lock()/irq_unlock() APIs are kernel APIs (they're also legacy things that aren't intended to be used in new code, FWIW).  A kernel thread that has a fatal error is a system failure, that's not supposed to be a recoverable situation.  Note that basically any API that has some kind of resource allocation/release structure is going to leak like this.  It's true

[2021-05-12 13:51] andyross commented on #35202
Just to clarify: none of our other "lock-like" APIs have the behavior desired here.  If you terminate a SMP thread that holds a spinlock, it stays locked forever.  If you terminate a thread that holds a k_mutex, nothing releases the mutex.  If you terminate a thread expected to k_sem_give() a semaphore, the give will never happen.  Ditto sys_sem, sys_mutex, k_futex, etc...[1].

The reason this use

[2021-05-12 14:14] andyross commented on #32836
The cmsis test got moved to tests/subsys/portability/cmsis_rtos_v2.  We move stuff around a lot, but only rarely delete test code.

[2021-05-12 14:16] dleach02 commented on #34911
@enjiamai yes I reproduced on frdm_k64f. In thinking about this, I think there is a mixing of kernel and driver calls here that is causing problems. The NXP parts may have a number of MPU slots but they are used differently then other ARM based parts. I haven't fully grepped the interplay of the test_domain structure and the normal memory protection structures used.

[2021-05-12 14:17] dleach02 commented on #35198
@galak, is this filtering done on the YAML tags line (as well as the other exclude filters)?

[2021-05-12 14:21] jfischer-no commented on #35091
Only two interrupt source are enabled [PHYLNK and PKTCNT](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/ethernet/eth_enc424j600.c#L719-L720). "the INT pin is driven low and the INT flag (ESTAT<15>) becomes set" only for these interrupt sources, not for any others. [continue at L:487](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/ethernet/eth_enc424j600.c#L487)

[2021-05-12 14:42] enjiamai commented on #34911
Hi @dleach02, I did not run totally follow the steps that @hakehuang provided, (because today I use them frdm_k64f remotely, I can't reset it after west flash. I can try it tomorrow.)

For the commit 76dee39 or 8e69dafccf25bc5b4015a607cdba114216c4ea0e It shows pass when I run it by this command:
[code]
or
[code]
So @dleach02 @hakehuang , could you please help to try it this way in your frdm_k64f

[2021-05-12 14:44] lairdjm commented on #35091
I enclose a zip with 2 traces and 2 outputs, one from before the changes and one from after. Logic traces can be viewed with saleae's viewer available from https://support.saleae.com/logic-software channel 0 is SPI clock, channel 1 is SPI MOSI, channel 2 is SPI MISO and channel 3 is the interrupt. You can use the saleae logic SPI decoder to view the SPI traffic from a glance.
[eth_checks.zip](http

[2021-05-12 15:09] marc-hb commented on #34492
@lyakh confirmed that #35193 "works for him" (tm)

[2021-05-12 15:11] cvinayak commented on #35157
@mtpr-ot this is low hanging fruit, does show up when compiling too.

[2021-05-12 15:13] cvinayak commented on #32233
@agherzan and @idlethread any updates ? is this still a zephyr issue?

[2021-05-12 15:16] cvinayak commented on #34659
@joerchan will tx thread timeout if num complete does not arrive for long time until supervision timeout?

[2021-05-12 15:22] mbolivar-nordic commented on #34534
This was fixed in 250b2133ee7e8c4ea8caecedda49ec9f37a5c9ae, with a follow-up fix for a spurious warning in 2de6bf91d5db9460255d035ba3ab073595bed3a0.

[2021-05-12 15:22] #34534 closed

[2021-05-12 15:25] ABOSTM opened #35229 "twister log mixing between tests"
**Describe the bug**
Running stm32 automatic test bench, sometimes, log are mixed between tests:
for example log of gpio_api_1pin test shows uart results (see log below)
Problem is not systematic and occurrence among the different tests/samples seems quite low: for now, only gpio_api_1pin test has been identified as failed, probably because this is visible only when test is failed (when test is pa

[2021-05-12 15:40] joerchan commented on #34659
No, TX thread waits for num completes indefinitely.

[2021-05-12 16:04] chucklink commented on #35055
I did update the ST-LINK Firmware without success.  I've tested this function on numerous other boards (Mostly "F") boards and the problem does not exist on them.  I've ordered 4 new "L" boards with different processors to test the functionality.

[2021-05-12 16:34] pfalcon commented on #34964
@jukkar:

I used standard prj.conf for the sample and test process as described in https://docs.zephyrproject.org/latest/guides/networking/qemu_setup.html?highlight=slip#basic-setup . Setting the above config options didn't help, still was getting errors from `ab` with about the same frequency.

I'll be doing bisect now.

[2021-05-12 16:53] mbolivar-nordic commented on #34076
@hongshui3000 could you please test with this patch, which uses that option: https://github.com/zephyrproject-rtos/zephyr/pull/35234

[2021-05-12 16:55] mbolivar-nordic commented on #34275
@simonguinot what do you think about this one?

[2021-05-12 17:24] pfalcon commented on #34964
Ok, finished bisect, it shows that the first problematic commit is dde03c67709a0ed4b84d4892ca05361716b75c80 .

[2021-05-12 17:36] yerabolu commented on #33539
Update: Test is not failing on UP2 but it is still failing on EHL. So changed the title accordingly.

[2021-05-12 18:02] aep commented on #35169
Wroom. As described in the subject, running the posted code works fine, but poll will just never return a character. Same with the async api.

[2021-05-12 18:34] andyross commented on #33539
up_squared switched its timer driver.  In theory that shouldn't actually change the timing of OS tick delivery (10khz is much slower than either 19.2 MHz or 1.5 GHz) but in practice very small aliasing can change behavior of what is presumptively a race condition in the test.

[2021-05-12 18:40] gregshue opened #35236 "tests: doc: Document generation process FAILS with valid module `samples:`"
**Describe the bug**
When building standard Zephyr documentation within an `example-application` (external manifest+module) workspace,
the Zephyr documentation generation process reports "FAILED: CMakeFiles/html" with the summary statement "free(): invalid pointer".

It does not fail if the `samples:` configuration is removed from `example-application/zephyr/module.yml`.

**To Reproduce**
Steps to

[2021-05-12 18:40] jenmwms commented on #33544
With that, I get build error (ld) for HPET definitions. There must be a kconfig I need to adjust as well?

[2021-05-12 18:47] jenmwms commented on #32603
Thanks for the suggestion! However, no impact when I increased the time  (even at very large like 2000) https://github.com/zephyrproject-rtos/zephyr/blob/fd20ad28cea65e3e286e8075f065138d6acb8cdb/tests/kernel/interrupt/src/prevent_irq.c#L56

[2021-05-12 18:55] danderson-presonus commented on #31613
Thanks!  This got me up and running.

[2021-05-12 19:37] dkalowsk commented on #31961
@galak how do you propose enabling DT warnings as errors?  Is this something products can start using today to prepare for the eventuality of enabling the feature?

[2021-05-12 19:46] andyross commented on #32603
Drive by suggestion: by my read our APIC driver isn't setting the interrupt to the right mode.  Leaving a zero in the trigger mode field of the LVT leaves the interrupt as edge triggered[1] and not level triggered[2].  Try the patch below.  It might work, if not (e.g. if it hangs the system in an interrupt storm) we'll need to dig to make sure the EOI is being delivered correctly.  See the IA SDM

[2021-05-12 20:03] jenmwms commented on #33544
Neither resolved the issue. Thanks for the suggestions!

[2021-05-12 20:06] jenmwms commented on #35076
Found out that ACRN does not use the same values for local APIC IDs as the native EHL CRB. They use use virtualized APIC ID.
For a quad-core CPU: { 0x0, 0x1, 0x2, 0x3 };

[2021-05-12 20:59] dcpleung commented on #34913
It looks like `pyelftools` is installed under Python 3.9, but your build system is running Python 3.6. Not sure how to force cmake to use Python 3.9, but maybe you can install `pyelftools` under 3.6 (by invoking `pip` via 3.6)?

[2021-05-12 21:04] #35200 closed

[2021-05-12 21:04] #35202 closed

[2021-05-12 21:07] gregshue opened #35237 "build: Enhance twister to follow all module.yml in module list"
**Is your enhancement proposal related to a problem? Please describe.**
`twister` seems to only look for tests and samples beneath ZEPHYR_BASE and wherever it is explicitly told on the command line. It seems to ignore the optional `tests:` and `subsys:` list settings in `zephyr/module.yml`.  This prevents automatically running CI on the complete workspace.  Doing so is highly desirable for user-pr

[2021-05-12 21:15] #34492 closed

[2021-05-12 21:31] jenmwms commented on #32603
Thanks @andyross . That patch for + LOAPIC_LEVEL did not resolve the issue, unfortunately.

[2021-05-12 21:36] preetham05 opened #35238 "ieee802.15.4 support for stm32wb55"
We are porting our proprietary 802.15.4 stack to stm32wb mc. It would be nice to have 802.15.4 driver support for stm32wb55 board

[2021-05-12 23:59] MaureenHelm commented on #33633
Fixed by #33701 and #34845. Please reopen if you still the issue after pulling in these changes.

[2021-05-12 23:59] #33633 closed

[2021-05-13 00:01] MaureenHelm commented on #32289
Fixed by #34205. Please reopen if you still see the issue after pulling in this change.

[2021-05-13 00:54] MaureenHelm commented on #35154
Is there a reason not to use `atomic_clear_bit()` instead?

[2021-05-13 02:35] KangJianX commented on #35215
This issue also can be found on ADSP.

[2021-05-13 02:41] KangJianX opened #35241 "intel_adsp_cavs15: run interrupt testcases failed on ADSP"
**Describe the bug**
run tests/kernel/interrupt/ failed on ADSP

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/interrupt/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/rimage/config,/home

[2021-05-13 02:51] KangJianX opened #35242 "intel_adsp_cavs15: run kernel common testcases failed on ADSP"
**Describe the bug**
run tests/kernel/common/ failed on ADSP

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p intel_adsp_cavs15 --device-testing -T tests/kernel/common/ --west-flash="/home/ztest/work/zephyrproject/zephyr/boards/xtensa/intel_adsp_cavs15/tools/flash.sh,/home/ztest/work/zephyrproject/modules/audio/sof/keys/otc_private_key.pem,/home/ztest/work/rimage/config,/home/ztest

[2021-05-13 03:23] hakehuang commented on #34911
adding CONFIG_USERSPACE=y does not work for me. BTW, what is your console log? @enjiamai

[2021-05-13 03:33] enjiamai commented on #34911
@hakehuang here is the log for your reference:
[memprotec.frdm_k64f.output.txt](https://github.com/zephyrproject-rtos/zephyr/files/6470207/memprotec.frdm_k64f.output.txt)

[2021-05-13 03:37] hakehuang commented on #34911
sorry enjiamai, adding CONFIG_USERSPACE=y works for me, but the log show some extra characters.

[2021-05-13 03:42] hakehuang commented on #35154
right, this api is more friendly for coverity scan. I will create PR to fix it

[2021-05-13 03:55] dleach02 commented on #34911
I don't quite understand how this test_mem_part_assert_add_overmax() test case is supposed to work. It is using a mix of MPU driver code and kernel code to fiddle with partitions. When it makes a call to arch_mem_domain_max_partitions_get() to get the maximum number of partitions this function is for the platform and in the case of the NXP core it returns a value that also removes the static parti

[2021-05-13 04:35] galak commented on #35156
Fixed by #35224

[2021-05-13 04:35] #35156 closed

[2021-05-13 04:36] #35116 closed

[2021-05-13 04:36] #35126 closed

[2021-05-13 04:36] #35127 closed

[2021-05-13 04:36] #35152 closed

[2021-05-13 04:36] #35133 closed

[2021-05-13 04:36] #35134 closed

[2021-05-13 04:36] #35135 closed

[2021-05-13 04:36] #35148 closed

[2021-05-13 04:36] #35151 closed

[2021-05-13 04:36] #35153 closed

[2021-05-13 05:30] yashi opened #35244 "twister: build failure for native_posix with GNU binutils 2.35"
**Describe the bug**
While I was testing mbedtls for #32667, I found that `tests/crypto/mbedtls/crypto.mbedtls` failed to build for native_posix. I couldn't find a good starting point for `git bisect`.  v2.4 and v2.5 failed for another reason.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
`tests/crypto/mbedtls/crypto.mbedtls` pass its tests.

**Logs and console o

[2021-05-13 06:08] ceolin commented on #35198
@galak That is the same problem indeed. To be fair that is not an issue with this particular board, this test should be failing with others platforms too.

[2021-05-13 06:26] hongshui3000 commented on #34076
![image](https://user-images.githubusercontent.com/25566498/118086807-1b39d100-b3f7-11eb-98bf-d8e4decba3fd.png)
it works

[2021-05-13 06:34] hongshui3000 commented on #34121
Is there a plan to clean up the characters and pictures of the document? This is not only for generating pdf?

[2021-05-13 06:54] mkschreder commented on #22748
@erwango interesting. I just thought of something. What about having pinctrl-<power-state> properties for all device nodes where <power-state> corresponds to the power state as specified in power-state-name. So for example: pinctrl-suspend-to-ram.

The idea being that if these properties are present, then they would be automatically used. If not, then it is up to the device driver to manage power.

[2021-05-13 07:57] WilliamGFish commented on #32279
Yes, the Adafruit Arduino clones should have their own definitions and the definition should be configured to use the west BOSSA runner. There already are setting in west for this, I don't have any of these boards so not able to do this.

[2021-05-13 08:45] avisconti commented on #34794
I'm not able to reproduce this issue unfortunately, but I'm on a different h/w though.
Initially I thought the issue was the one highlighted by you (and maybe still is), so the ```cfg->irq2_dev_name``` not initialized.
But then I tried with following configuration:
  1x instance on iks02a1 shield with drdy irq only
  1x instance on DIL24 with both drdy and AnyMotion irq

[code]

Logs are as below:

[2021-05-13 10:56] ananthjaisankar95 opened #35250 "Twister is not reading the serial line output completely"
**Describe the bug**
We are trying to contribute for efr32bg22 from silicon labs. When we running twister , tests/kernel/timer/timer_api/kernel.timer.tickless test is failing. But if I run that using west, it is working fine. From the logs I can see that twister is missing "PROJECT EXECUTION SUCCESSFUL" line.

What have you tried to diagnose or workaround this issue?
I have put print(serial_line)

[2021-05-13 11:50] simonguinot commented on #34275
Hi @mbolivar-nordic,

I think @MarekPieta  is right. It is correct to have a label attribute for the LED child nodes. It can be used to identify/name a LED and also to retrieve its child node number. But it is not correct to say it can be used to retrieve the LED PWM device (using device_get_binding()). So this comment should be removed. In addition a label property should be added to PWM LED pare

[2021-05-13 12:02] ainguraXmarquiegui commented on #33747
Exactly. That's what we are seeing too. We are on the same track now. I hope the design team can shed some new light on the issue. Thank you!

[2021-05-13 12:04] #34403 closed

[2021-05-13 12:08] galak commented on #35244
Not able to reproduce this myself locally.  What distro are you running?

[2021-05-13 12:09] galak commented on #35244
Is this w/ or w/o the changes in the rand/srand PR?

[2021-05-13 12:15] #35154 closed

[2021-05-13 12:16] #34827 closed

[2021-05-13 12:19] rlubos commented on #34233
@lodup29 I've submitted a fix for the OpenThread build system behaviour(https://github.com/zephyrproject-rtos/zephyr/pull/35252), it should keep up with the Kconfig changes now.

Parameters like `CONFIG_OPENTHREAD_NETWORK_NAME` are not intended for OpenThread build, they're processed by the Zephyr part of the OpenThread integration. Generall, options that affect the OpenThread build are kept in `o

[2021-05-13 12:24] galak commented on #35107
Looks like M7 is having issue in general due to commit  d6b5023

[2021-05-13 12:26] yashi commented on #35244
I'm running Debian Sid.  This is without the rand PR.
[code]
[code]
Attaching [build.log](https://github.com/zephyrproject-rtos/zephyr/files/6472405/build.log).

[2021-05-13 12:30] #33164 closed

[2021-05-13 12:34] glory-man opened #35253 "lvgl font generation"
**Is your enhancement proposal related to a problem? Please describe.**
Lvgl-library support utf. Zephyr uses some pregenerated font-files based on montserrat font (need to note that montserrat_8.c & montserrat_10.c available for selection during zephyr config are absent). But those files contained glyphs only for base ascii symbols.

**Describe the solution you'd like**
It will be helpfull to gen

[2021-05-13 12:37] galak commented on #33073
Looked the details here and the divisor is ranged to 0..15 by mask of BME680_MSK_GAS_RANGE.  So closing this as a false positive.

[2021-05-13 12:37] #33073 closed

[2021-05-13 12:45] pdunaj opened #35255 "Don't fail on resubmit while delayed works are canceled"
**Is your enhancement proposal related to a problem? Please describe.**
In new delayable work implementation as long as work is in CANCELING state, the work cannot be submitted again.
For canceling to complete workqueue thread need to reach finalization routine and it's impossible to tell how much this can take, especially in preemptive configuration.

The problem may occur in the following scenar

[2021-05-13 12:48] pdunaj commented on #35255
@pabigot

[2021-05-13 13:30] manoj153 opened #35256 "DOC: DATA PASSING TABLE MISSING THE OBJECT QUEUES"
https://docs.zephyrproject.org/latest/reference/kernel/index.html#data-passing
Data passing group in the left pane has included queue, but the table on the main body excluded or missed `queues `object
![image](https://user-images.githubusercontent.com/17961318/118132559-66bda080-b432-11eb-8569-3df1f65afd87.png)

[2021-05-13 13:46] galak commented on #35256
Sounds like this might be a bug?

[2021-05-13 13:50] MaureenHelm commented on #34904
There aren't any boards with LPUART enabled for this test.

@hakehuang Can you check your test filter to see that it matches the twister filter?

Converting this issue to an enhancement.

[2021-05-13 13:52] jaredwolff commented on #34794
@avisconti thanks for taking a look. nRF Connect SDK is behind Zephyr's master HEAD but not by much. I wouldn't think much has changed between the two.

I'd be curious if you changed the second one whereas you only had one interrupt pin. I wonder since the lsm303agr is not my exact use case.

I'm also tooling around with adding the option of enabling INT1 for AnyMotion. I only have one GPIO connec

[2021-05-13 14:00] #35160 closed

[2021-05-13 14:04] galak commented on #35137
Closing as this has been superceded by 35138

[2021-05-13 14:04] #35137 closed

[2021-05-13 14:08] galak commented on #35138
Not an issue as the asserts in the test will catch the issue.

[2021-05-13 14:08] #35138 closed

[2021-05-13 14:13] avisconti commented on #34794
@jaredwolff Can you try #35261? Not sure it solves the issue though, as I was not able to replicate it on my side.

[2021-05-13 14:15] #32953 closed

[2021-05-13 14:15] galak commented on #32953
No longer shows up in coverity.

[2021-05-13 14:24] galak commented on #35130
Looks like a real issue with driver, changed priority to medium

[2021-05-13 14:25] galak commented on #35136
Similar issue to #35130

[2021-05-13 14:28] galak commented on #35114
issue cover by test asserts.

[2021-05-13 14:28] #35114 closed

[2021-05-13 14:28] jaredwolff commented on #34794
I'll give it a whirl and get back to you shortly!

[2021-05-13 15:14] dleach02 commented on #34911
As for the original reason for this bug ticket, test_kobject_perm_error fails because the previous failed memory test, test_mem_part_assert_add_overmax(), did not fault as expected so the variable need_recover_spinlock used to release the z_mem_domain_lock spinlock is still set. So when the first test case in kobject_perm faults, the after fault handler thinks it needs to reset the z_mem_domain_lo

[2021-05-13 15:15] galak commented on #35110
The args are meant to be swapped, so this is not an issue.

[2021-05-13 15:15] #33822 closed

[2021-05-13 15:15] #33790 closed

[2021-05-13 15:15] #33800 closed

[2021-05-13 15:15] #33801 closed

[2021-05-13 15:15] #33803 closed

[2021-05-13 15:15] #35110 closed

[2021-05-13 15:17] jaredwolff commented on #34794
@avisconti I tried your patch but it looks like it's not 100% in sync with the latest on nRF Connect SDK. I can confirm by using the latest master of NCS this problem does not occur with the following overlay:

[code]

I'll close this out. Thanks again for your help!

[2021-05-13 15:29] avisconti commented on #34794
@jaredwolff It is crashing infact. Not sure why it happens only in this way. But I can debug it right now...

[2021-05-13 15:31] avisconti commented on #34794
@jaredwolff I re-open the issue because I was able to reproduce the issue removing the second int from the second instance. So, I would like to understand why it is happening...

[2021-05-13 15:32] galak opened #35263 "device_pm_control_nop is used in dac_mcp4725.c"
device_pm_control_nop has been deprecated and dac_mcp4725.c needs to change it to NULL instead.

[2021-05-13 15:33] dleach02 commented on #34911
To get the NXP style MPU to detect a overmax() condition, you have to have the thread owning the memory domain to be running. Then when the swap tries to load up the partitions it will fail.

[2021-05-13 15:33] galak commented on #35263
FYI: @kieran-mackey

[2021-05-13 15:34] galak commented on #35263
This pr had a change to fix this issue - https://github.com/zephyrproject-rtos/zephyr/pull/35262.  Asked to create a separate PR with just the driver fix.

[2021-05-13 15:36] mbolivar-nordic commented on #34076
Thank you very much for testing!

[2021-05-13 15:43] jaredwolff commented on #34794
@avisconti no problem. Glad you were able to reproduce it!

[2021-05-13 15:45] gregshue commented on #33962
Seeing that example-application has begun using `custom_*` for some naming patterns, the new subsystem should follow the same pattern.

[2021-05-13 16:02] jaredwolff commented on #34794
@avisconti  one thing I did do on my end which I think would address it is adding this in `list2dh_init_interrupt` before working on INT2:

[code]

Whereas `device_get_binding` seems to be the culprit.

[2021-05-13 16:07] avisconti commented on #34794
I got the issue. I still was setting from application the AnyMotion trigger. So, I now added some code to the PR to avoid this cases. I will close again this bug.

[2021-05-13 16:07] #34794 closed

[2021-05-13 16:56] mbolivar-nordic commented on #34275
That'd be great if you have time; thanks!

[2021-05-13 17:13] #35028 closed

[2021-05-13 17:14] ceolin commented on #35198
https://github.com/zephyrproject-rtos/zephyr/pull/35233

[2021-05-13 17:14] #35198 closed

[2021-05-13 17:45] jenmwms commented on #33275
Noting https://github.com/zephyrproject-rtos/zephyr/pull/35059 helps fix the output from thread analyzer (above comments). Great!

But, no change for this reported failure in samples/.../shell_module with that patch. Same behavior as reported - no output, but removing this lets it work again:
[code]

[2021-05-13 17:57] andyross commented on #32839
OK, the STM board arrived yesterday evening and I have this reproducing.  Should have something to say in a bit.

[2021-05-13 18:22] andyross commented on #32839
Heh, OK that was quick.  I didn't fix it.  On a lark I tried @simonguinot's patch in #35062 which addresses a clock skew due to unaccounted CPU time in sys_clock_set_timeout().  And with that this test is rock solid.   It failed almost every time for me on mainline, but succeeded 24+ times in a row for me with the fix, until I got bored of pressing the reset button.

It actually makes some sense t

[2021-05-13 20:16] CodingGhost commented on #20707
I would also need this, @kristoftjonck did you solve it?

[2021-05-13 21:26] yerabolu commented on #32816
Can not reproduce this failure anymore on EHL_CRB or ACRN. Confirmed it with @enjiamai  as well on ACRN. So closing this out.

[2021-05-13 21:26] #32816 closed

[2021-05-13 21:46] microbuilder commented on #35100
I'm not able to reproduce this.

Performing a build with:

[code]

Then physically reset the board ... there is no serial output, which is expected since `lpcxpresso55s69_ns` assumes we are using TF-M, and so places the application code at an offset of 0x40000 to leave room for MCUBoot and the secure TF-M image.

[code]

Are you enabling TF-M here by hand, since you shouldn't be using the `_ns` ta

[2021-05-13 22:47] pabigot commented on #35255
I don't think your use case is detailed enough to illuminate the potential solutions.  I tried to make it precise, and stalled at:

But even this isn't enough.  Is it true that **R_i** cannot be associated with **T_i**?  Can **R_i** events be received out of order?  Is there a minimum interval between **T_i** events?  Can a new **T_j** (**j** > **i**) event be received before the expected time of

[2021-05-13 22:54] andyross commented on #34584
I pushed a patch that claims to "fix" this bug, though I'm still not convinced it's real. :)  What it actually does is simply remove the "cooperative scheduling only" special cases from the kernel, which even assuming they were working correctly were stale and bitrotten.  Now the kernel builds the same always, and the idle thread is always preemptible by definition.

[2021-05-14 00:10] dleach02 commented on #34911
Now that I have a PR out it seems like this PR #34086 by @mmahadevan108 either fixed it or adjusted the timings. I'm trying to think through how I originally bisected this and how others reproduced this problem.

[2021-05-14 01:05] enjiamai commented on #34911
Sorry for the late reply. Thanks for the great analysis, @dleach02 . Indeed, the assumption of test_mem_part_assert_add_overmax() is all of the previous testcases of operating the mem domain work well as expected.  And it aims to verify the assertion in kernel/mem_domain.c line 280 can detect this error.

[2021-05-14 01:08] bob2oneil opened #35278 "LittleFs Sample will not build for qemu_riscv64 sample target"
For the sample code as zephyrproject/zephyr/samples/subsys/fs, while this project builds and
operates properly for the posix_native_64 board target, it will not build for the qemu_riscv64 board target.

Perhaps it is not possible to emulate flash and the LittleFs within the QEMU environment?  If so, I want to understand why that is true and if there are any workarounds.

**To Reproduce**
Steps to

[2021-05-14 01:23] enjiamai commented on #34911
Excuse me, @dleach02 @hakehuang, could it still reproduce both in fdrm_k64f and fdrm_k82f?

I also have tried by below command:  Log [Uploading memprotec.frdm_k64f.output.west.2.txt…]()
[code]

[2021-05-14 02:02] #35146 closed

[2021-05-14 02:03] #34152 closed

[2021-05-14 02:03] #35176 closed

[2021-05-14 02:03] #35215 closed

[2021-05-14 02:05] #35204 closed

[2021-05-14 02:07] #34923 closed

[2021-05-14 02:07] #34935 closed

[2021-05-14 02:07] #34601 closed

[2021-05-14 02:08] #35223 closed

[2021-05-14 02:09] jenmwms commented on #33544
This comment in the test is confusing to me. Why does the `test_posix_realtime()` tell us to remove the code if we are using posix? and this `k_usleep(1)` is a known workaround, so its suggested we follow the previous comment of removing the code?
[code]

[2021-05-14 02:44] jenmwms commented on #33544
It is not ideal - I know - but noticed this passes with a longer `kusleep()` (which is a workaround as-is). I extended the sleep by the difference between `rts.tv_nsec` and `mts.tv_nsec`  is 100000 (100 microseconds):
[code]
Is it worth a PR for that? I don't feel like it will be acceptable.

[2021-05-14 02:48] hakehuang commented on #34911
you mean with least main branch code?

[2021-05-14 02:51] hakehuang commented on #35100
so basically all _ns platfrom need use a differrent link file?

[2021-05-14 02:58] shehamb commented on #34913
Hello Daniel,

Thank you for your email.
Issue was, west was installed under 3.6, hence it was looking for libraries
under 3.6. elftools was first to get searched, hence that error.
Uninstalling all different versions of Python and starting from scratch
resolved this issue. But i do wonder, why west gets installed in python3.6?
Shouldn't it get installed wherever other python is installed through

[2021-05-14 03:01] hakehuang commented on #34904
@MaureenHelm , this has been fixed in recent commit
#d34a289503b3cbb258223ffc6cef19b47ffdc2ef
tests: arch: arm: no_multithreading: Limit platforms allowed

When multithreading is off, kernel source files like sem.c (samphore
implementation) are not present in the build. Some platforms by default
fetch modules or drivers that are using multithreading primitives and
because of that fails to compile

[2021-05-14 03:01] #34904 closed

[2021-05-14 03:05] enjiamai commented on #34911
Yes, @hakehuang ,  I think we could use the latest code to validate this, please. Thank you so much!

[2021-05-14 04:23] sslupsky commented on #29733
@alfonsotames Yeah, this issue is because the tickless timer is broken for sam0.  I fixed it a while ago and posted a PR for rtc_timer.c here but after two subsequent releases I gave up trying to get it into the tree because it was ignored.  Are you still using sam0?  There are other issues as well with the clocks, i2c and the uart drivers.

[2021-05-14 05:31] alfonsotames commented on #29733
Thanks for your comment! No, I stopped using SAM0 since it's pointless without a proper wake up. I switched to STM32L432KC and everything looks good so far.

[2021-05-14 06:01] Laczen commented on #35278
Hi @bob2oneil , for littlefs to work a flash device driver is needed. Such a flash driver is not available for the qemu platform.  It is possible to emulate flash like in qemu_x86, but the simulation is done in ram, so there is no persistent storage.

[2021-05-14 07:19] xhpohanka opened #35286 "New logging breaks eclipse"
**Describe the bug**
With recent changes in logging API (logging v2) using Eclipse IDE for zephyr projects is almost unpossible.
It could be an issue in eclipse parser but AFAIK it is not much maintained these days.

**To Reproduce**
Steps to reproduce the behavior:
1. create an eclipse project `west build -b MY_BOARD -- -G "Eclipse CDT4 - Ninja"`
2. insert multiple LOG_XXX statements
3. see how e

[2021-05-14 07:43] jonasn-ge commented on #32771
@ABOSTM thank you for looking into this. Yes, the patch in #35218 helps.

With v2.6.0-rc1-59-g8e69dafccf25 I typically get a crash wtih `ASSERTION FAIL [handler != ((void *)0)] @ WEST_TOPDIR/zephyr/kernel/work.c:709` (or a USAGE FAULT if I disable asserts)
With v2.6.0-rc1-60-gc31c4f9413 (@ABOSTM 's patch) I can't reproduce any crash.

I still get a bunch of `<err> eth_stm32_hal: Failed to enqueue

[2021-05-14 07:46] enjiamai commented on #34911
I verified what @dleach02 provided, this issue appears to be fixed after #34086 , in frdm_k64f.  So, @hakehuang , could this issue be closed if it is also passed in frdm_k82f?

[2021-05-14 07:51] jukkar commented on #33047
False positive

[2021-05-14 07:51] #33047 closed

[2021-05-14 07:52] jukkar commented on #33055
False positive

[2021-05-14 07:52] #33055 closed

[2021-05-14 07:53] jukkar commented on #33033
False positive

[2021-05-14 07:53] #33033 closed

[2021-05-14 07:56] #35155 closed

[2021-05-14 07:56] jukkar commented on #35111
False positive

[2021-05-14 07:56] #35111 closed

[2021-05-14 08:07] jukkar commented on #32771
The errno 62 is ENETDOWN, which means that from upper network stack point of view, the network interface is still down and packets cannot be accepted yet. Probably we could check this ENETDOWN value and not print anything in this case as this is kind of normal situation.

[2021-05-14 08:09] #35278 closed

[2021-05-14 08:09] #35263 closed

[2021-05-14 08:30] xhpohanka commented on #35286
as a quick workaround allowing me to work I have inserted this hack at the bottom of `logging/log.h`

[code]

[2021-05-14 08:38] nvlsianpu commented on #35048
@nordic-krch

...

Yes, but it is compiled-out using complier, and now need to use preprocessor instead.
Easy to fix then :D

[2021-05-14 08:56] jukkar commented on #34931
Your sample application did not crash with following changes:
[code]
Note that the `k_delayed_work` API you are using here is deprecated and should be converted to use newer `k_delayable_work` instead.
But for the crash issue when running from system workqueue, I thought it might be the system workqueue size as it is only 1024 bytes by default, but after increasing it to 4096 the crash remained.

[2021-05-14 09:02] jukkar commented on #34931
BTW, you should not run a blocking call like `getaddrinfo()` from system workqueue as it blocks the workqueue from running and might be actually the real culprit here.

[2021-05-14 10:02] nvlsianpu commented on #35048
MCUboot upstream fix: https://github.com/mcu-tools/mcuboot/pull/1009

[2021-05-14 10:54] jukkar commented on #33986
@jimparis I submitted your patch proposal in order to get this merged to 2.6, please +1 it if ok.

[2021-05-14 11:14] microbuilder commented on #35100
@hakehuang At present, yes, all `_ns` or `_nonsecure` platforms are setup to use an offset in flash memory that leaves space for the S image and optionally a secure bootloader. Armv8-m devices will always start up in 'secure mode', and will need some software configuration to be switched to a 'non-secure mode', so there is no benefit to building a NS image on it's own, since this will effectively

[2021-05-14 11:33] hakehuang commented on #35100
@microbuilder , I just run twist cases for these _ns boards and find above issues. And in this case, I remember we used to be able to merge two core image into one and wrap the complex steps into build setting. do we still plan to keep them sepatated? if so, can we provide a default TFM image there?

[2021-05-14 11:34] hakehuang commented on #34911
yes, it is ok now

[2021-05-14 12:11] lyakh opened #35293 "Sporadic boot failure"
**Describe the bug**
Sporadically the firmware fails to boot with "error: firmware boot failure"

**To Reproduce**
The bug occurs very rarely, to attempt reproduction the SOF driver just has to be loaded, after which kernel messages have to be checked

**Expected behavior**
A successful start of firmware booting looks approximately like this:
[code]

**Impact**
When the firmware fails to load, in

[2021-05-14 12:39] hakehuang commented on #33747
@ainguraXmarquiegui , thanks @MaureenHelm help. with below patch, now the ACTR work fine.

[code]

[2021-05-14 12:44] bob2oneil commented on #35278
Many thanks galak for your quick response, this is what I needed to know, that is that it is simply not possible.

[2021-05-14 14:17] Delsian opened #35297 "STM32 SPI - wrong behavior after PR 34731"
McuBoot fails to read JEDEC ID over SPI:
[code]

This bug occurs after applying PR https://github.com/zephyrproject-rtos/zephyr/pull/34731
Commit hash 0129884062055156bc79fd8faafaf13e601438b4
Removing this change solves the problem.

McuBoot settings:
[code]

SPI settings:
[code]

Dataflash settings:
[code]

@galak @FRASTM @affrinpinhero-2356 FYI.
I did no more checks, just adding a patch locally

[2021-05-14 15:16] lyakh opened #35299 "PM suspend IPC message sporadically not being delivered"
**Describe the bug**
Sometimes the PM suspend `SOF_IPC_PM_CTX_SAVE` IPC messages fails to be delivered to the IPC handler, which results in an IPC timeout error message in the kernel SOF driver.

**To Reproduce**
Wait for 3 seconds after loading the SOF driver or streaming audio to let the driver enter automatic runtime suspend. Most often the problem occurs after playing audio on an HDMI interfac

[2021-05-14 16:15] jfischer-no commented on #29946
From Physical Layer Simplified Specification, **6.4.1 Power Up Sequence for SD Bus Interface**:
"_A device shall be ready to accept the first command within 1ms from detecting VDD min.
Device may use up to 74 clocks for preparation before receiving the first command._"

Does not look like it is a requirement.

Switching to SPI Mode is done by CMD0 reception over SPI, **7.2.1 Mode Selection and Ini

[2021-05-14 16:45] dcpleung commented on #34913
It's probably because your Python 3.6 installation is earlier in your `PATH` so it is being used first.

[2021-05-14 17:02] urutva opened #35305 "Linking order when using both TF-M and Mbed TLS"
**Describe the bug**
When both TF-M and Mbed TLS (on NS side) modules are enabled, all the PSA crypto API calls are linked against Mbed TLS library instead of TF-M. This is caused by incorrect linking order of modules where Mbed TLS comes before TF-M.

Please note that this is not a linking failure but incorrect linking of APIs.

**To Reproduce**
Steps to reproduce the behavior:
1. Enabled TF-M an

[2021-05-14 17:03] urutva commented on #35305
@microbuilder

[2021-05-14 17:25] andyross opened #35307 "ARM64 system calls are entered with interrupts masked"
I just submitted #35301, which will assert on the case where a thread with interrupts locked tries to context switch.  This is an error, but it has traditionally worked in Zephyr and we haven't been able to detect it.  Now we can.

But it broke in one spot in the test suite on qemu_cortex_a53_smp.  And the symptom turned out to be that the ztest "1cpu" setup routine (which is a system call when US

[2021-05-14 18:47] jenmwms commented on #33545
@chen-png Do you know if you this works on other 64-bit (up_squared)?
FWIW - Was hoping to test against an emulator if possible, but this test allows qemu_x86 and not qemu_x86_64 so it fails. Shouldn't it work for qemu_x86_64 if it works for 64-bit boards like ehl_crb and up_squared?

[2021-05-14 18:51] alexanderwachter commented on #35073
Hi, I made some tests on an stm32g4.
I can observe a similar behavior there.

[2021-05-14 20:41] #35169 closed

[2021-05-14 20:41] #34687 closed

[2021-05-14 20:59] microbuilder commented on #35100
We need to add `-DCONFIG_BUILD_WITH_TFM=y` to the cmake command to cause this test case to be built with TF-M for the S image.

I just tested with the following:

[code]

The with the J-Link:

[code]

This passes the tests since there is now a valid S image at the start from TF-M:

[code]

[2021-05-14 21:01] microbuilder commented on #35100
@ioannisg @galak Should running tests on the `_ns` targets without forcing a TF-M build be considered a bug? I think twister should probably only be used with TF-M tests and samples with NS boards targets in general, or this will lead to extremely costly build times. Any non-secure image will fail in any non-TFM context since there is always an offset for the starting flash address.

[2021-05-14 21:02] andyross commented on #35076
Partial fix is up at #35310.  The root cause is, again, the fact that ACRN hard-coded the entry point, which means that the same address (0x7000) needs to function as both the 32 bit grub/multiboot-style entry point for OS startup **and** the 16 bit entry point for the other SMP CPUs once they get launched form a startup IPI.  I'm... not proud of what I did to work around this, but it does work (a

[2021-05-14 21:03] andyross commented on #35076
And just to be clear about my feelings on the issue: **SOMEONE NEEDS TO GET ACRN TO STOP HARDCODING JUNK FROM ZEPHYR AND MAKE THEM USE OUR IMAGE AS WE BUILD IT.  THIS HAS BEEN HAPPENING REPEATEDLY FOR YEARS AND I'M GETTING KINDA SICK OF IT**.

[2021-05-14 21:40] ainguraXmarquiegui commented on #33747
Thank you @MaureenHelm  and @hakehuang for your support. I think we are now getting closer to a solution.

Applying your suggested change makes the compilation fail, so I have had to make a few additional changes:

**zephyr changes:**
[code]

**nxp hal module changes:**
[code]

With these changes I can now build and flash the application.  The good news is ATCR register now seems to be showing the

[2021-05-14 22:06] andyross commented on #33545
Indeed, this hangs immediately after the boot banner (and before entering main()) on qemu_x86_64.  My guess is this is just bitrot with 64 bit support for multiboot or something.

[2021-05-14 22:52] andyross commented on #33544
FWIW: the k_usleep(1) is a tick alignment, not a workaround.  The idea is that timer behavior is only deterministic if you start the test at the beginning of an OS tick.  Otherwise there are inevitable timer aliasing bugs (think of them as "race conditions against the passage of real time" -- you can't take a lock to stop the universe).  So you have to ask the kernel "please sleep until the very n

[2021-05-14 23:04] andyross commented on #33539
This doesn't reproduce anymore.  Looks like it was fixed by https://github.com/zephyrproject-rtos/zephyr/commit/f100566f7a3397bb0e2f168853dceeb4f24ac188 by @IRISZZW which merged on Wednesday.

Indeed, that bug was holding a thread pointer in static storage shared between two threads racing against each other.  I'm shocked it worked on any SMP system.  It certainly was going to fail on x86 where th

[2021-05-14 23:04] #33539 closed

[2021-05-15 00:29] #32677 closed

[2021-05-15 01:19] jenmwms commented on #33545
Re-tested with that PR above - it resolves the issue.

[2021-05-15 03:24] hakehuang commented on #33747
@ainguraXmarquiegui I see the same problem, and this looks like the PC is not a good gptp server
[code]

[2021-05-15 10:17] carlocaione commented on #35307
I think the title is a bit misleading. I looked briefly at this issue and I don't think that the system calls are entered with interrupt masked but sometimes the IRQs are disable _during_ a syscall by some other arch code (are you sure that the `__ASSERT()` you are hitting is at the top of the system call and not at the end?). I have a suspicion about what is causing that but nothing certain so fa

[2021-05-15 16:27] nimarty commented on #34931
@jukkar Thank you very much for investigating and your suggestions. I'll see if I can apply those changes to our application asap.

[2021-05-15 17:05] sslupsky commented on #34372
@carlescufi you might want to reopen this issue, it seems the original problem of the kernel locking up is not resolved.

I've been experiencing this problem for a couple years now.  When there is a panic, it seems like the panic causes a hard fault which causes another panic and then the kernel gets stuck pending on a semaphore.

[2021-05-15 17:16] sslupsky opened #35316 "log_panic() hangs kernel"
**Describe the bug**
I've been experiencing this problem for several years now using Zephyr with sam0.  Whenever I encounter a panic situation, the kernel simply hangs.  On very rare occasions, I have seen an actual panic message and a dump.  But most often, the mcu simply hangs waiting for what appears to be a semaphore.

**To Reproduce**
In my situation, cause a panic condition.

**Expected beha

[2021-05-15 17:33] sslupsky commented on #35316
Part way through the stack trace there appears to be an exception generated by the stack sentinel.  This appears to imply that the stack of the outgoing thread experienced an overrun. I believe the current thread is the kernel thread since an exception (oops) is being processed ... is that correct?

Further on, the shell appears to be emitting some output through the usb_cdc.  Interestingly, in th

[2021-05-15 17:42] sslupsky commented on #35316
I suspect because the usb is not enabled that the usb_cdc data structures are not yet properly initialized.  So, the shell panic() it is likely using the usb_cdc when it should not be.

Likely, the shell panic() function should check that the cdc is properly initialized before attempting to use it?

[2021-05-15 17:50] sslupsky commented on #35316
It appears shell panic() is attempting to enable the interface here:

[code]

I do not understand how it is possible to reliably enable the interface (usb cdc) here since the underlying interface (usb) has not been enabled yet. I expected that enable() here should have returned an error because usb is not enabled but instead it returns zero and panic() continues which leads to the hang.

[2021-05-15 17:58] sslupsky commented on #35316
The interface being used by the shell is:
[code]

Which I believe is connected to the usb_cdc in shell_uart.c write() here:
[code]

In this case, sh_uart->ctrl_blk->dev is
[code]

[2021-05-15 19:04] npitre commented on #35307
On ARM64 there is a peculiarity with the FPU support. Everything that ends
up invoking va_start() (i.e. all the test logging facility) does imply FP
access. va_start() will make a copy of all the FPU registers used to pass
FP arguments just in case.

Because the FP context is huge, we have save areas only for actual threads
in their normal state. When FP is involved in exception state (which
sysca

[2021-05-15 19:28] #35242 closed

[2021-05-15 19:37] caco3 commented on #35316
As mentioned in https://github.com/zephyrproject-rtos/zephyr/issues/34372#issuecomment-825635189, I also see occational Crashes.

Recently I similair to @sslupsky saw it happen around a `log_panic()` call.

I have a battery driven device and when the battery is empty, I simply switch it off. In such case BLE communication might still be in progress while we call following function:
[code]

[2021-05-15 23:46] cederom commented on #24625
Hey folks anything good happened in this area? I cannot find much info on RTC, how to set current time, how to obtain timestamp (I need to timestamp samples acquired by sensors), and how to preserve between resets.. any hints appreciacted :-)

[2021-05-16 00:29] #32735 closed

[2021-05-16 16:37] manoj153 opened #35321 "Improve STM32: Serial Driver,Handle uart mode per instance"
The goal is to have each serial (instance)  mode to be configured independently as either, interrupt, or async.

 the issue I noticed is, the shell uses interrupt API, while when we enable the`CONFIG_UART_ASYNC_API=y` there is no mean to make a particular UART instance driven using interrupt mechanism, as such the shell is completely not functional.

**Additional context**
https://github.com/zephy

[2021-05-16 22:00] andyross commented on #35307
Ah.... OK, thanks.  I think that mostly explains this, though my original diagnosis that the interrupts were wrong at syscall entry doesn't quite fit.  But then it's not impossible I was just wrong.

This definitely defeats that assert I just added, though.  But in this case the interrupt state doesn't represent a "lock" being broken, so as long as a z_swap() call doesn't lose FPU registers while

[2021-05-16 23:58] nwsetec opened #35325 "Shell: Kernel: Reboot: echo is abruptly terminated"
**Describe the bug**
When the `kernel reboot cold` or `kernel reboot warm` command is input quickly (by a production test system) the kernel reboot command's echo is abruptly terminated 10% of the time by the system's reset.

**To Reproduce**
Steps to reproduce the behavior:
1. Add line `CONFIG_REBOOT=y` to `samples\subsys\shell\shell_module\prj.conf`
2. west build -p -b nrf52dk_nrf52832 -s sample

[2021-05-17 00:29] #29798 closed

[2021-05-17 01:47] chen-png commented on #33545
it works on up_squared.

[2021-05-17 02:09] sslupsky commented on #29733
It is possible to do (I have done so) but for what ever reason the zephyr team has not addressed the underlying issues.

[2021-05-17 02:12] sslupsky commented on #24625
What MCU are you using?

[2021-05-17 06:14] SagarEmb opened #35327 "Sensor Code for CC3220sf"
Hello Folk,
               I'm working on CC3220sf board with Code composer Studio ,Can we use BME680 or any other Sensor Library from Zephyr Project with CC3220sf

[2021-05-17 07:02] erwango commented on #35238
@preetham05 Thanks for your interest but this is not in our plans currently. If possible please contact your local ST FAE contact to see what would be possible to achieve with their support.

[2021-05-17 07:13] maksimmasalski commented on #34748
@prathje Hello, I was assigned to look at that issue. Are you still experiencing it?
Unfortunately, I can't check on MacOS, I have Fedora 28. I used the latest Zephyr version 41e885947e4f48aae0866df9e5fee657afb7c1cc
I tried that code, which, as I understand, must fail, because main thread not explicitly assigned to a heap:
[code]
No segmentation fault happens. Am I right with the code or you have

[2021-05-17 07:13] ainguraXmarquiegui commented on #33747
I have just tested your commit ( https://github.com/zephyrproject-rtos/zephyr/pull/35328 ) on my imxrt1020evk and on my FRDM-K64F.

On the FRDM-K64F board everything seems to work as it always did, but using the same gptp server I'm sad to report that I'm still getting the same errors I reported last time with the test code:

[code]

What can I do to help fix this?

[2021-05-17 07:45] ycsin opened #35329 "samples: gsm_modem: Compilation failed, likely related to logging changes"
**Describe the bug**
On the latest zephyr master, after added `CONFIG_GSM_MUX=y` to the `prj.conf` of the `samples/net/gsm_modem` and build that with:
[code]
will result in massive compilation error related to log/uart_mux/struct gsm_mux.

It worked on master v2.5ish @ commit 365145aa97. Likely related to logging changes according to @jukkar on Slack

**To Reproduce**
Build the `gsm_modem` sample

[2021-05-17 08:34] kevin137 commented on #33747
Hi everyone. I just wanted to clarify that with the OpenAvnu/gPTP daemon configured as outlined in https://docs.zephyrproject.org/latest/samples/net/gptp/README.html#setting-up-linux-host, and incorporating the code in #35328, we still get the same overall behavior as always. Synchronization works correctly on the FRDM-K64F, but the same code compiled for the IMXRT020-EVK does NOT. We are definite

[2021-05-17 09:03] cederom commented on #24625
Hello @sslupsky :-) I am using nRF52 chip and will use NRF SDK to control RTC by hand.. I am a little surprised the OS aspiring to be used in critical applications does not have out of the box time-date solution (yet) :-P

[2021-05-17 09:07] PerMac commented on #32839
I still see the test failing once in a while on nrf9160 (both scenarios: w,w/o tickless) while being checked at that PR :( maybe it occurs less often, hard to say since I didn't run any statistically meaningful set.
[code]

[2021-05-17 09:09] cederom opened #35333 "RTC Time Date out of the box feature request"
**Is your feature request related to a problem? Please describe.**
* Currently there is no Time Date framework in Zephyr. We need to create by hand this functionality.

**Describe the solution you'd like**
* Time Date functionality with full POSIX support.
* Time Date set to match current time.
* Time Date is preserved across reboot/reset (edit: mandatory).
* Edit: small RAM footprint (not necessa

[2021-05-17 09:10] nordic-krch commented on #35051
It is in shell log backend. Shell copies log messages to its own buffer. Log messages must be stored in the buffer which is properly aligned (by default 8 bytes unless long double support is enabled). Shell buffer was not aligned and values exceeding word size were corrupted when formatted by cbprintf.

[2021-05-17 09:32] hakehuang commented on #33747
@ainguraXmarquiegui , I guess this is an issue for gptp stack. @ceolin   do you have any idea?

[2021-05-17 10:33] prathje commented on #34748
@maksimmasalski Hello and thank you for your support!
Your code seems correct. Can you confirm that the shared resource pool was correctly initialized even before the explicit assignment? If so, it might depend on the used platform.
I also confirmed the problem running the official CI image ([https://hub.docker.com/r/zephyrprojectrtos/ci](https://hub.docker.com/r/zephyrprojectrtos/ci)) using Docke

[2021-05-17 10:42] aescolar commented on #34748
Can you run your test in valgrind? (`valgrind zephyr/zephyr.exe`)

[2021-05-17 10:44] PerMac commented on #34827
@gmarull The fail of test_power_state_trans  is gone, thanks. Do you know if sample.power.ospm.dev_idle_pm (samples/subsys/pm) is related? Should I raise a separate issue? This test is still failing with the fix (nrf52840 and nrf52832). It hangs at:
[code]

[2021-05-17 10:49] gmarull commented on #34827
@ceolin do you know if related to any recent change?

[2021-05-17 10:54] gmarull commented on #34827
@PerMac https://github.com/zephyrproject-rtos/zephyr/pull/35315 may fix the problem, but I haven't reviewed yet

[2021-05-17 11:11] PerMac commented on #34827
unluckily, #35315 doesn't change the test behavior. I will create a separate issue for ease of tracking.

[2021-05-17 11:21] PerMac opened #35336 "tests: samples: power: samples/subsys/pm/device_pm/sample.power.ospm.dev_idle_pm fails on nrf52 platforms"
**Describe the bug**
The test test_power_state_trans from samples/subsys/pm/device_pm/ fails on-target tests on nrf52 boards

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk connected
2. go to your zephyr dir
3. call `/scripts/twister -T /samples/subsys/pm/ -p nrf52840dk_nrf52840 --device-testing --device-serial /dev/ttyACM0 -v --inline-logs`
4. See error

**Expected behavior*

[2021-05-17 12:13] aunsbjerg opened #35338 "USB: ethernet CDC ECM/EEM support is broken"
**Describe the bug**
When trying to run the echo_server sample with the usbnet overlay, the sample doesn't work as expected. The frdm_k64f/mimxrt1064_evk should appear as a usb ethernet interface in the linux host, but that does not happen.

For the imxrt1064_evk, it becomes entirely unresponsive (no shell activity) after plugging in the second usb cable.

I have tried the usb_hid sample on both b

[2021-05-17 12:13] aunsbjerg commented on #35338
CC @jfischer-no

[2021-05-17 12:19] nandojve commented on #29733
Hi @sslupsky ,

I think SAM0 doesn't have an active codeowner and that make things slow.

If you have this ready, please, rebase and resent. Link you PR with this Issue and let fix it.

[2021-05-17 12:20] #30395 closed

[2021-05-17 12:20] #31348 closed

[2021-05-17 12:26] ainguraXmarquiegui commented on #33747
@hakehuang , I believe part of the imxrt1020evk related code is still not fully sorted for gptp usage. Like I said, none of those messages show up when testing on the FRDM-K64F board.

  Some circumstantial evidence of differences between systems that support my suspicion:

  * I can synchronize clocks between by avnu gptp server on my PC and the FRDM-K64F board using neighborPropDelayThresh  = 10

[2021-05-17 12:43] PerMac commented on #35229
@ABOSTM  In your example, do you see the same error reported for the actual failing test suite (here tests/drivers/uart/uart_async_api)? If yes, it is possible that the previous app was not erased due to some flashing error and the next test (here the one from tests/drivers/gpio/gpio_api_1pin) will again see the same output.

[2021-05-17 12:53] ainguraXmarquiegui commented on #33747
Just in case it's useful at all, running the code on a imxrt1050evk results in the same type of error. See log:

[code]

[2021-05-17 12:53] prathje commented on #34748
Sure, valgrind execution:
[code]

And With CONFIG_ASAN enabled:

[code]

[2021-05-17 13:00] PerMac opened #35341 "twister: Hardware map creation is buggy (+ inaccurate docs)"
**Describe the bug**
Creating and using a hardware map is buggy (or specification is wrong). When one creates the hw map from scratch they gets:
[code]
Comparing to the docs (https://docs.zephyrproject.org/latest/guides/test/twister.html#executing-tests-on-multiple-devices) one can see that `available: true` is missing from the hw map. Twister also complain about this when one tries to use this ma

[2021-05-17 13:02] jukkar commented on #33747
BTW, the value `CONFIG_NET_GPTP_NEIGHBOR_PROP_DELAY_THR` can be increased if the default value 100000 is too small.

[2021-05-17 13:23] zephyrbot opened #35342 "[Coverity CID: 236085] Dereference after null check in samples/userspace/prod_consumer/src/app_a.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/samples/userspace/prod_consumer/src/app_a.c#L222

Category: Null pointer dereferences
Function: `app_a_entry`
Component: Samples
CID: [236085](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236085)

Details:

https://github.com/zephyrproject-rtos/z

[2021-05-17 13:23] zephyrbot opened #35343 "[Coverity CID: 236079] Untrusted divisor in subsys/bluetooth/controller/hci/hci.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/subsys/bluetooth/controller/hci/hci.c#L3261

Category: Insecure data handling
Function: `le_ext_create_connection`
Component: Bluetooth
CID: [236079](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236079)

Details:

https://github.com/zephyrproject

[2021-05-17 13:23] zephyrbot opened #35344 "[Coverity CID: 236075] Out-of-bounds access in subsys/bluetooth/controller/hci/hci.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/subsys/bluetooth/controller/hci/hci.c#L5154

Category: Memory - corruptions
Function: `le_ext_adv_report`
Component: Bluetooth
CID: [236075](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236075)

Details:

https://github.com/zephyrproject-rtos/zep

[2021-05-17 13:23] zephyrbot opened #35345 "[Coverity CID: 236074] Out-of-bounds access in tests/lib/c_lib/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/tests/lib/c_lib/src/main.c#L557

Category: Memory - corruptions
Function: `test_memcpy`
Component: Tests
CID: [236074](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236074)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/21d1ad3762302

[2021-05-17 13:23] zephyrbot opened #35346 "[Coverity CID: 236069] Out-of-bounds access in tests/lib/c_lib/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/tests/lib/c_lib/src/main.c

Category: Memory - corruptions
Function: `test_memcpy`
Component: Tests
CID: [236069](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236069)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/21d1ad3762302b3e46

[2021-05-17 13:23] zephyrbot opened #35347 "[Coverity CID: 236064] Dereference null return value in subsys/bluetooth/controller/ll_sw/ull.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/subsys/bluetooth/controller/ll_sw/ull.c

Category: Null pointer dereferences
Function: `ll_rx_dequeue`
Component: Bluetooth
CID: [236064](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236064)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-05-17 13:23] zephyrbot opened #35348 "[Coverity CID: 236060] Out-of-bounds access in subsys/net/l2/ppp/ppp_l2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/subsys/net/l2/ppp/ppp_l2.c

Category: Memory - corruptions
Function: `carrier_on_off`
Component: Networking
CID: [236060](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236060)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/21d1ad3762

[2021-05-17 13:23] zephyrbot opened #35349 "[Coverity CID: 236057] Unrecoverable parse warning in tests/kernel/mem_protect/mem_protect/src/mem_domain.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/tests/kernel/mem_protect/mem_protect/src/mem_domain.c

Category: Parse warnings
Function: ``
Component: Tests
CID: [236057](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236057)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/21d1ad37

[2021-05-17 13:23] zephyrbot opened #35350 "[Coverity CID: 236055] Out-of-bounds access in subsys/modbus/modbus_core.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/subsys/modbus/modbus_core.c

Category: Memory - corruptions
Function: `modbus_get_context`
Component: Other
CID: [236055](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=236055)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/21d1ad3762

[2021-05-17 13:23] zephyrbot opened #35351 "[Coverity CID: 219472] Unrecoverable parse warning in tests/kernel/mem_protect/mem_protect/src/mem_domain.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/tests/kernel/mem_protect/mem_protect/src/mem_domain.c

Category: Parse warnings
Function: ``
Component: Tests
CID: [219472](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219472)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/21d1ad37

[2021-05-17 13:24] zephyrbot opened #35352 "[Coverity CID: 215376] Out-of-bounds access in drivers/sensor/lis2dh/lis2dh_trigger.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/21d1ad3762302b3e461953df59430c77e0709274/drivers/sensor/lis2dh/lis2dh_trigger.c

Category: Memory - corruptions
Function: `lis2dh_gpio_int2_callback`
Component: Drivers
CID: [215376](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215376)

Details:

https://github.com/zephyrproject-rtos/ze

[2021-05-17 13:34] mrfuchs commented on #32771
I'm experiencing a similar behavior with my board (custom, STM32F437VI SOC) and Zephyr 2.5. Unfortunately, neither #35218, nor disabling auto-negotiation helps with my setup.

However, I noticed that breaking at `HAL_Delay(PHY_RESET_DELAY);` and jumping above the delay with the debugger helps in my case. Interestingly, that's exactly the line before auto-negotiation is set up:

https://github.com/

[2021-05-17 13:48] murali-tejeshwar opened #35354 "Adding support for measurement of Ultraviolet(UV) Light."
The Zephyr sensor subsystem currently does not support the measurement of Ultraviolet(UV) light.

This can be solved by adding a new enumeration entry in the header file "include/drivers/sensor.h" so that sensors that measure UV light(such as Silicon Labs Si1133) can report UV measurements on this UV channel.

The following two lines are to be added to the  "enum sensor_channel", which is present

[2021-05-17 13:49] ABOSTM commented on #35229
@PerMac,
goo point.
No uart_async_api is not reporting failure, but the real reason for this is that log show truncated (1st line is incomplete) wdt_basic_api output which is successful :
[code]
So I look at wdt_basic_api log which seems correct and complete

[code]

Finally, this is wdt_basic_api log which is partially duplicated, creating some kind of shift in logs versus tests.
But among all th

[2021-05-17 13:56] hakehuang commented on #34571
looks like the `unexpected eof` break the twister process to check result.

[2021-05-17 13:58] PerMac commented on #35229
I think this is the issue I was facing: https://github.com/zephyrproject-rtos/zephyr/issues/33509
I ended up deleting watchdog test and this sample from my tree before executing test suite, so no other tests are corrupted.
I also added a quarantine feature to the twister, because this was driving me crazy. You can add this test to quarantine and see if the issue is gone. https://docs.zephyrproject

[2021-05-17 14:04] PerMac commented on #33509
I think in fact I had the same issue with samples/driver/watchdog but I cannot find it reported anywhere. I will check what is the current status of it (think it was not fixed)

[2021-05-17 14:09] jukkar commented on #35348
False positive

[2021-05-17 14:09] #35348 closed

[2021-05-17 14:15] enjiamai commented on #34844
Hi @npitre, why the test case sometimes failed is because when we intentionally trigger an assertion in ISR, then we did not leave ISR context gracefully. Though we release some resources such as semaphore or spinlock before the test_main thread end, it is still in ISR context ztest thread until some point. Currently, our ztest error hook does not have a mechanism to return back from the ISR and r

[2021-05-17 14:34] StevenGhe opened #35360 "Power consumption nRF52"
Hello there,

Past few days/week I've been looking into how to limit power consumption using my Adafruit Feather Express nRF52840. I've asked in the general Slack but no response.

Currently I have about 1.1 mA current idle, and I'd like to 'sleep' the device as much as possible.
Looking at the Power Management section from Zephyr I understood you can either choose to set a power state to the syst

[2021-05-17 14:38] jfischer-no commented on #35338
Seems to be caused by f5fb80750e4f4ca9bbda08fe4ade95d9420bacf1. Workaround is to build with -DCONFIG_NET_TC_TX_COUNT=1

[2021-05-17 14:41] avisconti commented on #35352
False positive.

trig_flags is a of atomic_t type (32 bit).
TRIGGED_INT2 is bit 5. So, no corruption.

[2021-05-17 14:41] #35352 closed

[2021-05-17 14:44] sw commented on #33768
We are now using `CONFIG_RPMSG_SERVICE_EP_REG_PRIORITY` for `remoteproc_mgr_boot`, which is not exactly elegant but works for us.

[2021-05-17 14:57] #35329 closed

[2021-05-17 14:58] #34696 closed

[2021-05-17 14:59] gmarull commented on #35360
Have you checked https://github.com/zephyrproject-rtos/zephyr/tree/main/samples/boards/nrf/system_off ?

[2021-05-17 14:59] #32771 closed

[2021-05-17 15:14] mrfuchs commented on #32771
Combining all three patches makes it work for me:

1. Apply #35218
2. Apply patch re. auto-negotiation disable from https://github.com/zephyrproject-rtos/zephyr/issues/32771#issuecomment-841075466
3. Comment the calls to `HAL_Delay()` in `HAL_ETH_Init()`:

[code]

Otherwise the system crashes/reboots here (with the stack trace below):
https://github.com/zephyrproject-rtos/zephyr/blob/21d1ad3762302

[2021-05-17 15:32] aunsbjerg commented on #35338
Thank you for looking into this so quickly.
Can confirm workaround works on both boards. Will keep issue open until a more permanent fix is found.

[2021-05-17 15:34] iceananas opened #35363 "bt_gatt_discover() retunrs incorrect handle (offset by -1)"
**Describe the bug**
I am build a BLE central which scans for a custom BLE peripheral with it's own custom services and characteristics.
The central scans for peripherals, scans their services and return their characterstic handles. The identification is done with 128bit UUIDs.

bt_gatt_discover() returns the handle which are offset by -1. E.g. The characteristic has the handle 0x20 but the return

[2021-05-17 15:40] carlescufi commented on #35043
You need to `pip3 install pyelftools` or, even better, `pip3 install zephyr/scripts/requirements.txt`

[2021-05-17 15:41] carlescufi commented on #35043
Reopening since I missed some of the input

[2021-05-17 15:47] #35341 closed

[2021-05-17 15:48] ABOSTM commented on #35229
@PerMac, Thanks it is really interesting, I will study that

[2021-05-17 15:50] carlescufi commented on #35043
I tried this locally and works fine on a Windows 10 machine. It might be that you have multiple Python 3 installations and CMake is picking one where you don't have `pyelftools` installed.

[2021-05-17 15:50] #35043 closed

[2021-05-17 15:55] carlescufi commented on #34600
This seems to be an issue upstream, as per a discussion with @KatrineNordic and @joerchan

[2021-05-17 15:56] ainguraXmarquiegui commented on #33747
Setting `CONFIG_NET_GPTP_NEIGHBOR_PROP_DELAY_THR` to the `4294967295` value seen above the system still does not work. Here's the new output:

[code]

If I reboot the system many times, most of them look like the code above, but once in a while I still get a message that looks like this:

[code]

It might or might not be of any importance, but `4294967295` in hex is `0xFFFFFFFF` by the way.

[2021-05-17 15:58] erwango commented on #32771
@mrfuchs Thanks for these inputs, but since this ticket is now closed (as #35218 was merged). Can you open a new one ?

[2021-05-17 16:09] carlescufi commented on #30564
@avigreen1978 as usual with open source work, someone needs to send an RFC Pull Request so we can start considering it for addition to the tree.

[2021-05-17 16:30] dcpleung commented on #35342
There is a call to `k_oops()` above if `sample_device == NULL`, so it won't be NULL when passed to `sample_driver_set_callback()`. So ignore.

[2021-05-17 16:30] #35342 closed

[2021-05-17 16:33] dcpleung commented on #35349
Coverity doesn't seem to like BUILD_ASSERT inside macros.

[2021-05-17 16:33] #35349 closed

[2021-05-17 16:33] dcpleung commented on #35351
Coverity doesn't seem to like BUILD_ASSERT inside macros.

[2021-05-17 16:33] #35351 closed

[2021-05-17 17:01] ceolin commented on #35336
Looking it. The test is wrong to start, looking the harness we can find:
[code]
we got the `child resuming  before the "requested queued`, what is wrong since child resuming is printed in `dummy_device_pm_ctrl`, this function is called only after the queue has ran. The last message is also switched, the dummy driver is using an async function to put the parent so it cannot expect that this will ru

[2021-05-17 17:04] ceolin commented on #35336
ok, the timeout is just because the harness was wrong.

[2021-05-17 18:44] ceolin commented on #35360
Based on first comment in https://github.com/zephyrproject-rtos/zephyr/issues/31162 this seems to be the only runtime state supported by Nordic boards. @gmarull do you know if this target supports other states that are just not implemented ?

[2021-05-17 18:45] ceolin commented on #35360
@StevenGhe  btw, you are probably using an old Zephyr version. The way pm states are implemented now is very different.

[2021-05-17 19:27] #33319 closed

[2021-05-17 19:40] #35336 closed

[2021-05-17 20:13] shlomow commented on #35321
@manoj153 I fixed the issue. The bug is described in the commit message. In general the only place that has shared code between interrupt api and async api is the isr function. So when there is a strange issue between the two modes the isr is the place to look

[2021-05-17 20:48] StevenGhe commented on #35360
As soon as I looked at the sample gmarull showed, I realized that the newer versions indeed have a lot of changes.

Quite sure I will be able to do some sleep/idle current reduction with the presented sample, if any issues arise I will make another ticket :).

@ceolin, the reason I created this ticked that other power.c files like for example [this stm32l4 one](https://github.com/zephyrproject-rto

[2021-05-17 20:52] ceolin commented on #35360
@StevenGhe the states implemented by each platform may vary, keep this in mind. This depends on watch each hardware supports.

[2021-05-17 21:07] dleach02 commented on #34911
Yes. The underlying problem was fixed as a side affect of the #34086. I'm going to close this and my PR.

[2021-05-17 21:07] #34911 closed

[2021-05-17 22:07] gmarull commented on #27048
Closing this issue, I think `example-application` covers how to deal with oot drivers.

[2021-05-17 22:07] #27048 closed

[2021-05-17 22:08] gmarull commented on #33127
Closing now that new theme is in place. More specific issues can be opened to track further improvements.

[2021-05-17 22:08] #33127 closed

[2021-05-17 22:10] gmarull commented on #35360
@StevenGhe would you mind closing the issue if it answers your questions? Feel free to open other issues or post to https://github.com/zephyrproject-rtos/zephyr/discussions

[2021-05-17 22:14] gmarull commented on #35256
Seems like missing docs, Assigned Kernel code owners.

[2021-05-18 01:59] IRISZZW opened #35377 "add creg_gpio driver for ARC HSDK board"
**Is your enhancement proposal related to a problem? Please describe.**
On HSDK board the SPI CS pin can be controlled by Design Ware SPI IP and CREG_SPI_CS_CTRL register.
Currently we can only control CS pin through Design Ware SPI IP. During an SPI transmission, when the TX/RX buffer is empty,
the CS pin will be deselected, this may cause problem with some device(eg: https://github.com/zephyrpro

[2021-05-18 03:31] hakehuang commented on #33747
@ainguraXmarquiegui , currently the SDK driver is 1 release before the NXP hal layer https://github.com/zephyrproject-rtos/hal_nxp/blob/master/mcux/devices/MIMXRT1021/MIMXRT1021_features.h

[2021-05-18 04:07] manoj153 commented on #35321
@shlomow I'll do a testing a verify the commit

[2021-05-18 05:28] JordanYates opened #35380 "sys: timeutil: inconsistent types for local times"
**Describe the bug**

The integer types for local times for timeutil conversion functions `timeutil_sync_ref_from_local ` and `timeutil_sync_local_from_ref` are inconsistent. One presumes the local time is a signed 64bit integer, while the other assume an unsigned 64bit integer.

https://github.com/zephyrproject-rtos/zephyr/blob/cd9421a45e7254de6be913debe153dbac4be1e91/include/sys/timeutil.h#L253-

[2021-05-18 06:30] arapostol commented on #31447
After testing with Ethernet I noticed the same pattern with random disconnects. It makes sense that I couldn't reproduce this with Wi-Fi as it was offloading the network connection.

[2021-05-18 06:38] erwango commented on #35321
@manoj153 caps lock ? ;-)

[2021-05-18 06:49] hakehuang commented on #33747
0xFFFFFFFF shall be -1 and logicall should not happen, I am checking how this could be, but looks like the time-stamp calculation is in problem.

[2021-05-18 07:18] manoj153 commented on #35321
my bad, I am used to writing title as caps, should downcase them all?

[2021-05-18 07:22] erwango commented on #35321
In general all caps is seen as a bit aggressive (search for "all caps" in google),
so we use mixed or all lower cases, as one prefer.

[2021-05-18 07:25] joerchan commented on #20707
@CodingGhost The `BT_GATT_PRIMARY_SERVICE` has declared it's UUID with `BT_UUID_GATT_PRIMARY` which is now on the stack.
So you would have to re-assign this pointer to something not on the stack.

[code]

[2021-05-18 07:42] jukkar commented on #34964
The issue seems to be related to slip connection between zephyr and host. If I am using Ethernet connection via e1000 driver, I was not able to see any problems.

[2021-05-18 08:21] tejlmand commented on #35187
Thanks for raising this.
A little bit of history.

Before introducing Zephyr as CMake package, this is what we had (and still have on the current Zephyr 1.14 LTS):
https://github.com/zephyrproject-rtos/zephyr/blob/af56a6b45a3f2998bff5c983f27fb5b46e84b0fb/samples/hello_world/CMakeLists.txt#L5

and user would do `source zephyr-env.sh` to get ZEPHYR_BASE defined:
https://docs.zephyrproject.org/1.14.1

[2021-05-18 08:26] maksimmasalski commented on #34748
Sorry for my question, but how to confirm that the shared resource pool was correctly initialized?

[2021-05-18 08:28] kaiser-ren opened #35383 "Can't setup ISO Broadcast Demo on nrf53dk"
**Describe the bug**
I compiled and flashed ./samples/bluetooth/iso_broadcast/ on nrf53dk. After power-on the dk, I found that there was an error when host sent HCI_LE_Set_-Extended_-Advertising_Parameters to controller, the controller return an event with status 0x01.

**To Reproduce**
Steps to reproduce the behavior:
1. cd ./samples/bluetooth/iso_broadcaster/
2. west build -p auto -b nrf5340dk_n

[2021-05-18 08:32] prathje commented on #34748
@maksimmasalski No worries :) Initialized is actually misleading, it just needs to be correctly assigned to the thread which you can check by using the two print statements:
[code]
I.e. you just test if the explicit assignment changed the thread's resource pool. Before the explicit assignment, the thread should either have no pool (0x00) or the shared system one (the one after execution of ` k_thr

[2021-05-18 08:38] tejlmand commented on #34233
Not sure that would be needed. There is a global CMake dependency on `.config` so if any Kconfig option is changed, for example through `menuconfig` then CMake will rerun on next rebuild, and this in itself should trigger a rerun of the OpenThread CMake code, which hopefully inside OpenThread triggers correct rebuild of OpenThread source files in case OpenThread build parameters has changed.

[2021-05-18 08:40] jfischer-no commented on #35338
Without queuing in network stack the USB stack blocks it self by usb_transfer_sync() and do not respond to SetInterface request.
This is due to the bad design in USB device stack at various points, but I currently do not see a simple solution as #35384.
[code]

[2021-05-18 08:44] maksimmasalski commented on #34748
Understood) I tried that. It was changed, I tried code from your comment.
[code]

[2021-05-18 08:58] prathje commented on #34748
And I think this means that the thread's resource pool was not correctly assigned. I am however not entirely sure. For me, the value was 0x14 (which directly resulted in a segmentation fault). I am not sure if 0xf7c65358 is a valid reference to a resource pool as there should normally just be this one shared system pool at 0x8056004, correct?

[2021-05-18 09:17] jfischer-no commented on #34134
Close it since there is no answer and issue is not reproducible.

[2021-05-18 09:17] #34134 closed

[2021-05-18 09:22] jukkar commented on #34964
Managed to get a log from the issue
[code]
Here, the `recv()` in `main()` is able to run before the `receive_cb()` is called, this means the the queue seems to be empty and we are waiting for the data to arrive. The condition variable signal should release the wait but that does not seem to happen here.

[2021-05-18 09:25] jukkar commented on #34964
Also this log looks weird
[code]
In this log, the received_cb is called before the recv, but still we start to wait data even if the receive queue should have it there now.

[2021-05-18 09:35] wangnuannuan opened #35386 "QEMU: check if qemu binary file exists and if it is executable, and throws an error message if it is not"
When the qemu binary file doesn't exist or it is unexecutable, the cmake will not throw error message, also the `twister` can't detect this error, then the twister will hang forever.

[code]

[2021-05-18 09:40] carlescufi commented on #27471
@nashif @galak I wonder whether this should be an enhancement: This has always been the case, since day 1, and it doesn't prevent anyone from actually implementing a solution. Whe  using [`CONFIG_USE_DT_CODE_PARTITION`](https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_USE_DT_CODE_PARTITION.html#cmdoption-arg-CONFIG_USE_DT_CODE_PARTITION) the application will fail to link if it overfl

[2021-05-18 09:50] IRISZZW commented on #30618
I think this issue has been fixed by this PR: #33907.
@vanwinkeljan may we close this issue?

[2021-05-18 09:53] ruuddw commented on #30162
Build issues have been resolved, so closing. Feel free to reopen if there are new issues.

[2021-05-18 09:53] #30162 closed

[2021-05-18 09:56] abrodkin commented on #28803
@ioannisg is there anything else to be done here or we may close it now?

[2021-05-18 09:57] ruuddw commented on #21136
Closing this one - no current plans to support ARC reduced register file for Zephyr (when using an RTOS, having 32 registers makes more sense).

[2021-05-18 09:57] #21136 closed

[2021-05-18 10:43] hakehuang opened #35390 "net.socket.tls.tls_ext: frdm_k64f test failure"
**Describe the bug**
all testing fails

**To Reproduce**
Steps to reproduce the behavior:
in tests/net/socket/tls_ext
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f ..
3. make; make flash
4. See error

**Expected behavior**
test pass

**Impact**
https supporting

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (e.g. Linux)
 - Toolchain (

[2021-05-18 10:53] hakehuang commented on #35390
@MaureenHelm , @dleach02

[2021-05-18 11:02] joerchan commented on #35058
@mniestroj Can you check if https://github.com/zephyrproject-rtos/zephyr/pull/35225 has any effect on this issue?

[2021-05-18 11:16] jukkar commented on #35390
This looks similar as #34923 but disabling the Ethernet controller did not help in this case.

[2021-05-18 11:21] jukkar commented on #35390
This test is actually failing also for qemu_x86 and native_posix boards.

[2021-05-18 11:23] jukkar commented on #35390
@rlubos do you know what this test is trying to do, any idea what might be the culprit?

[2021-05-18 11:33] rlubos commented on #35390
AFAIR just some basic TLS handshake and exchanges, I can give a closer look at why does it fail.

[2021-05-18 11:44] mrfuchs opened #35395 "STM32F4: Infinite reboot loop due to Ethernet initialization"
This is a follow-up to issue #32771.

After porting an existing project from Zephyr 2.2 to Zephyr 2.5, I'm facing infinite reboots during initialization due to Ethernet initialization. Unfortunately and contrary to the fixes suggested in #32771, neither #35218 nor disabling auto-negotiation alone helped with my setup. I'm using a custom board based on an STM32F437VI SOC.

However, combining all th

[2021-05-18 11:44] mrfuchs commented on #35395
CC: @erwango

[2021-05-18 11:44] Thalley commented on #35147
Marked as false positive, as it is the same issue with other compares of a BT uuid.

[2021-05-18 11:44] #35147 closed

[2021-05-18 11:45] Thalley commented on #35144
Marked as false positive, as it is the same issue with other compares of a BT uuid.

[2021-05-18 11:45] #35144 closed

[2021-05-18 11:45] Thalley commented on #35142
Marked as false positive, as it is the same issue with other compares of a BT uuid.

[2021-05-18 11:45] #35142 closed

[2021-05-18 11:46] Thalley commented on #35141
Marked as false positive, as it is the same issue with other compares of a BT uuid.

[2021-05-18 11:46] #35141 closed

[2021-05-18 11:46] Thalley commented on #35139
Marked as false positive, as it is the same issue with other compares of a BT uuid.

[2021-05-18 11:46] #35139 closed

[2021-05-18 12:01] pabigot commented on #35058
Why is a deadlock a low-priority bug?

The problem will occur if the work queue thread takes `&db_hash.work` off the queue then releases the spinlock, but before it can invoke the handler is preempted by something that invokes `db_hash_commit()` (via `settings_commit()) from a thread context.

I don't believe the synchronous cancel from `db_hash_read()` (a GATT read for the hash characteristic) wo

[2021-05-18 12:08] ABOSTM commented on #35395
@mrfuchs can you detail how to reproduce the issue ?
which sample, extra configuration, your ethernet environment , ...
eventually provide your board directory
Thanks

[2021-05-18 12:20] ioannisg commented on #27471
@carlescufi how about when we do not use the code partition then?

[2021-05-18 12:33] de-nordic commented on #27471
Then it is not a bug because the DTS have not been used for building application so the information on application size/offset is taken from Kconfig - this is target misconfiguration. The configuration to the Kconfig, when DTS is not used, should be set with awareness of the DTS partition layout if user chooses to use both configuration methods at the same time.

This is also not "settings" partit

[2021-05-18 12:37] ioannisg commented on #27471
Then I guess, it is OK to convert this to an enhancement.

[2021-05-18 12:46] pabigot commented on #35058
If both [settings_commit()](https://docs.zephyrproject.org/latest/reference/settings/index.html#c.settings_commit) and [settings_save_one()](https://docs.zephyrproject.org/latest/reference/settings/index.html#c.settings_save_one) have the [sleep](https://docs.zephyrproject.org/latest/reference/api/terminology.html#api-term-sleep) attribute, which I think they do, a fix could be difficult because n

[2021-05-18 12:55] microbuilder commented on #35305
@tejlmand Any suggestions on forcing the right order for linking here?

[2021-05-18 12:58] huawei-wojciech-zmuda commented on #33185
Hey @jukkar, my colleague Zbigniew has sent you an email recently with a proposed solution of the problem in `6lowpan.c`. Could you please take a look? We'll appreciate your expertise.

[2021-05-18 13:02] carlescufi commented on #35058
Switching the priority to medium as per @pabigot's assesment of the issue.

[2021-05-18 13:24] mglettig opened #35401 "Enabling POSIX_API leads to SSL handshake error"
**Describe the bug**
As soon as CONFIG_POSIX_API=y is set SSL handshake no longer works:
`net_sock_tls: TLS handshake error: -2700`

**To Reproduce**
Steps to reproduce the behavior:
1. Build http_client sample with overlay-tls.conf for QEMU.
2. Everthing works given that networking is configured correctly
3. Rebuild http_client with `CONFIG_POSIX_API=y`. Make sure to resolve compile issues by cre

[2021-05-18 13:33] manoj153 commented on #35321
Thank you, appreciate your feedback, I have made the changes to the title

[2021-05-18 14:24] ioannisg commented on #28803
I think we can close this. We already have introduced config INIT_ARCH_HW_AT_BOOT, and this is already used in ARC and ARM architecture, so I'd say we're done.

[2021-05-18 14:55] ioannisg commented on #35100
I would put it in a bit more abstract level: we cannot run tests in CI for Non-Secure platforms, unless there is an **in-tree** and **default-set** solution for the co-existing Secure binary. If there's not, we exclude these platforms from any tests.

So, since TF-M is the only in-tree Secure FW solution, the above reduces to: "run tests in CI for Non-Secure platforms, if BUILD_WITH_TFM is selecte

[2021-05-18 14:56] ioannisg commented on #35100
So, yes, this is a bug. Unless there's an available pre-built, pre-flashed Secure FW component on the board. I don't think we have such boards now.

[2021-05-18 15:22] #28803 closed

[2021-05-18 15:23] nashif commented on #2470
obsolete

[2021-05-18 15:23] #2470 closed

[2021-05-18 15:30] #35360 closed

[2021-05-18 15:58] microbuilder commented on #35100
@ioannisg I agree, and we should exclude anything where `BUILD_WITH_TFM` is not being set since it will fail.

[2021-05-18 16:17] galak commented on #30055
@martinjaeger Can you re-test this to see if https://github.com/zephyrproject-rtos/zephyr/pull/35227 might have helped.

[2021-05-18 16:18] #35033 closed

[2021-05-18 16:21] #35338 closed

[2021-05-18 16:22] #35051 closed

[2021-05-18 16:28] #35325 closed

[2021-05-18 16:39] galak commented on #35089
Fixed by #35258

[2021-05-18 16:39] #35089 closed

[2021-05-18 16:40] galak commented on #35107
Fixed by #35258

[2021-05-18 16:40] galak commented on #35220
Need to validate if #35258 fixes this.

[2021-05-18 16:41] #35107 closed

[2021-05-18 16:48] Verfuchst commented on #34268
Sorry for late respone, it wasnt possible to get as quick as possible the board, because of corona. But i tried the same scenario with the new same board even with the latest commit 4b4068c948ea4fd764df549aedb70d0f698491c3 and i still get the same situtation with stucking in the init process.
serial output:
[code]
code section:
![Screenshot_2021-05-18_18-47-11](https://user-images.githubuserconten

[2021-05-18 16:51] ioannisg commented on #33768
Thanks for comping back @sw
I wonder if the issue could be closed?

[2021-05-18 17:09] #35383 closed

[2021-05-18 17:17] galak commented on #35307
Closing this since it seems like from the discussion this isn't a bug.  Please open an enhancement for the peformance improvement.

[2021-05-18 17:17] #35307 closed

[2021-05-18 17:18] mniestroj commented on #35058
Issue is no longer reproducible with that PR, so it helps.

[2021-05-18 17:20] galak commented on #35286
@xhpohanka can you send a PR with this proposed fix.

[2021-05-18 17:20] #34206 closed

[2021-05-18 17:28] npitre commented on #35307
The proposed enhancement, and most likely the fix for the failing test
mentioned here, is in PR #35410.

[2021-05-18 18:27] pabigot commented on #35380
This is not a bug.  Reference times are defined to be non-negative, hence an unsigned output from `timeutil_sync_ref_from_local` (negative values result in a `-ERANGE` error return.

On the other hand a local time reconstructed from a reference time can be negative, if the reference time corresponds to an event that occurs before the system started.

I'll see if I can tweak the documentation so th

[2021-05-18 18:28] pabigot commented on #35380
Actually that's already documented [in the description](https://docs.zephyrproject.org/latest/reference/misc/timeutil.html?highlight=timeutil#c.timeutil_sync_local_from_ref):

[2021-05-18 18:28] #35380 closed

[2021-05-18 18:32] pabigot commented on #35058
I can believe that eliminating a window where a cancellation can be initiated in a single-processor system would help, but my analysis above took that change into account: the basic problem remains.

[2021-05-18 19:21] mbolivar-nordic commented on #27471
I agree with @de-nordic 's assessment. If you use the settings partition in DTS in your application, but you don't instruct the linker to restrict your code partition not to overlap with the settings partition, you're "holding it wrong", although I agree the current situation makes it easier to make this mistake than it should be.

[2021-05-18 19:28] jenmwms commented on #33544
It looks like there is an issue with `clock_gettime(CLOCK_MONOTONIC, &mts);`? Perhaps only for this board?

The realtime clock is further tested later in the test sequence, including comparison of gettime API with the gettimeofday API which works as expected [1] with `clock_gettime(CLOCK_REALTIME, &rts);` with `gettimeofday(&tv, NULL);`.

As one would expect, at the breakpoint for this bug, when I

[2021-05-18 19:50] andyross commented on #35293
I missed this when submitted, sorry.  Anything in the trace buffer when this happens?  Looks like the "fw entered" status got hit, which means it definitely entered our code.  Does this change with/without SMP=y?

[2021-05-18 19:51] henrikbrixandersen commented on #35102
I cannot reproduce this with the changes in #35416.

[2021-05-18 19:52] henrikbrixandersen commented on #35099
I cannot reproduce this on the lpcxpresso55s16 with the changes in #35416.

[2021-05-18 20:21] mtpr-ot commented on #35157
@asmk-ot, please make a fix PR.

[2021-05-18 20:26] jfischer-no commented on #35350
False positive like the other atomic_test_*_bit() related reports.

[2021-05-18 20:26] #35350 closed

[2021-05-18 20:52] mbolivar-nordic commented on #33745
Fixed in  #35419

[2021-05-18 20:54] mbolivar-nordic commented on #34076
I've removed my assignment since I've posted a fix that @gmarull rejected. Will leave it up to him to decide on a proper fix.

[2021-05-18 20:59] #33629 closed

[2021-05-18 20:59] asmk-ot commented on #35157
Sure that should be simple

[2021-05-18 22:37] JordanYates commented on #27471
I don't have a problem with this issue changing to an enhancement, but IMO this is less an issue of  "you're holding it wrong" and more an issue of "it was given to me upside down". The user doesn't need to do anything beyond turning on features for this to blow up in their face on most boards.

[2021-05-19 00:08] maksimmasalski commented on #34748
I didn't receive segmentation fault in my program. It was completed.

[2021-05-19 00:15] yerabolu commented on #34879
@scottwcpg: Any update on this?

[2021-05-19 00:29] #29599 closed

[2021-05-19 00:34] andyross commented on #34844
Came here to comment that this sounds like almost exactly the issue detailed in #35307, but it looks like @npitre is already here and aware.

[2021-05-19 00:45] #28551 closed

[2021-05-19 01:46] enjiamai commented on #35307
@andyross Thank you so much!  Like you just mentioned in #35307 , they might be the same cause. I verified the related PR #35410 will fix this issue.  @npitre

[2021-05-19 01:47] enjiamai commented on #34844
@andyross Thank you so much!  Like you just mentioned in #35307 , they might be the same cause. I verified the related PR #35410 will fix this issue.  @npitre .

[2021-05-19 02:01] cvinayak commented on #32955
Offending code removed in https://github.com/zephyrproject-rtos/zephyr/commit/82925a8c99799a58e640eaf732a8b81c4d7cce51

[2021-05-19 02:01] #32955 closed

[2021-05-19 02:14] rodrigobrochado commented on #35187
Thanks for the explanation @tejlmand!!

So, two questions:
1. We use a freestanding application and [it requires](https://docs.zephyrproject.org/latest/guides/west/troubleshooting.html#invalid-choice-build-or-flash-etc) ZEPHYR_BASE to be set in order to work (exporting the workspace was not enough for us); You mentioned that ZEPHYR_BASE presence disables version checking and [Zephyr Cmake guide](h

[2021-05-19 04:32] nordic-krch commented on #35316
One of the reasons for that crash is that usb is used as uart driver. Docs (https://docs.zephyrproject.org/latest/reference/logging/index.html#logging-backends) states that

[code]

cdc_acm based uart probably does not support interrupt-less initialization and should be shut down in that case.

[2021-05-19 05:13] xhpohanka commented on #35286
I can, but it's more a workaround than a fix.

@nordic-krch can you please confirm, that the example of expanded code in eclipse is somewhat expected?

[2021-05-19 06:09] Delsian opened #35429 "subsys: settings: Encryption"
**Is your enhancement proposal related to a problem? Please describe.**
Current `settings` implementation stores data in unencrypted form. If data stored in an external flash chip, it's easy to get access to sensitive information.

**Describe the solution you'd like**
Use AES or [XTEA](https://en.wikipedia.org/wiki/XTEA) encryption for stored data, keep key in internal flash

[2021-05-19 06:24] nordic-krch commented on #34419
I've added another (final?) speed up to logging. Seems that there are also other factors in build time increase.

I've been testing with:
[code]
And getting following results:

Before | After | Without logging v2 | v2.5.0
------------ | ------------- | ------------ | ------------
35.17s | 32,6 | 29.6 | 23.25

It means that something else contributed to the build time increase from v2.5.0.

[2021-05-19 07:15] aescolar commented on #35190
From the discussion it would seem the issue is not present in the tip of main.
@bob2oneil Should this issue be closed?

[2021-05-19 07:15] maksimmasalski commented on #34748
Hello, are you using Linux? On my Fedora I experience that kind of error when try to run valgrind
`valgrind: failed to start tool 'memcheck' for platform 'amd64-linux': Not a directory`

[2021-05-19 07:19] aescolar commented on #34748
@maksimmasalski Yes, I do use Linux :), and never saw that problem you mention. Maybe https://stackoverflow.com/questions/64813183/ubuntu-valgrind-failed-to-start-tool-memcheck-for-platform-amd64-linux-no helps

[2021-05-19 07:26] maksimmasalski commented on #34748
Ok, I will try. Are you working on that issue? If yes, can I assign you? Because seems you are more familiar with that.

[2021-05-19 07:46] ioannisg commented on #27471
The problem is that we do not have an explicit user config that signifies that we are using the DT settings partition; we only have config USE_DT_CODE_PARTITION, which only reflects the intention of using the defined code partition for the image's text area. So it's a bit unclear for the user. Furthermore, we do not warn the user that using the settings partition in the application requires using

[2021-05-19 07:56] Qbicz opened #35437 "CAN driver for LPCXpresso55S16"
**Is your feature request related to a problem? Please describe.**
NXP LPCXpresso5x series has already a good support in Zephyr:
https://docs.zephyrproject.org/latest/boards/arm/lpcxpresso55s16/doc/index.html
The only thing that stops me from using it in a project is a missing CAN bus support.

- Is there any ongoing effort to support CAN on this board/MCU?
- If not, how much work it is to port th

[2021-05-19 07:56] de-nordic commented on #27471
I think we may need additional script that would take .config and zephyr.dts and would be run before compilaiton, and that would check if:
 1) any partition definitions (status "okay") cross each other boundaries - that would be an error;
 2) any partition is defined within range of other partition -I do not know whether there is a usecase for that, I think this is error;
 3) if DTS **is used** fo

[2021-05-19 07:56] jukkar commented on #35390
Indeed the fix itself was trivial. Thanks for excellent analysis! :+1:

This issue is a bit similar as #34964 but that one is related to server side timeouts in `recv()` (no exact culprit found yet for it), and this one was client side when doing a `connect()`

[2021-05-19 07:57] joerchan commented on #35363
@iceananas Can you please show us your local modifications?

[2021-05-19 07:59] aescolar commented on #34748
I'm not. From a quick look, this issue does not seem related to the posix arch/native_posix, or to even be a bug anywhere(?) but a misunderstanding of the usage of the heap. Ideally this "bug" would be reformulated as a question, and somebody else, more involved in the heap side, would answer it.

[2021-05-19 08:03] maksimmasalski commented on #34748
I understand that part can be documented better and that behavior can be described in the documentation.

[2021-05-19 08:08] nordic-krch commented on #35286
@xhpohanka it is expected that logging macros expands in multiple steps, there are macros applied for each argument in the macro message so if this is a problem for eclipse parser then the best would be to suppress that with what you proposed with additional comment explaining why it is being done.

[2021-05-19 08:17] de-nordic commented on #27471
@ioannisg I am fine with this, but it will just solve the "settings" problem. You may still, from within app code do something like `flash_ara_open(FLASH_AREA_ID(settings), ...)` and write over your app if "settings" overlap it.

[2021-05-19 08:24] nimarty commented on #35333
I was also looking exactly for such a feature. I'm coming from Linux where I used stime() from std C Lib to set system time and sync it to hwclock. I would appreciate to see something similar in zepyhr in the future.

[2021-05-19 08:50] #35048 closed

[2021-05-19 09:08] jfischer-no commented on #35091
For the record: I was able to reproduce it on nRF5340DK by changing used SPI node to spi2 (the same used on BL5340 board).  I can also confirm that clearing INTIE flag in EIE register right after reset (SETETHRST) fixes the issue.
Since I do not agree with the proposed changes in #35092, I have opened alternative #35439.

[2021-05-19 09:32] ddavidebor commented on #34282
Hi @yurvyn, is BLE support through zephyr planned for Telink products?

[2021-05-19 09:47] alexanderwachter opened #35444 "drivers: sensor: sbs-gauge: The sbs-gauge cannot be read from sensor shell"
**Describe the bug**
The sensor shell does unconditionally fetch all channels whenever something is read.
The sbs-gauge does not implement the SENSOR_CHAN_ALL and therefor cannot be used with the shell.

**Expected behavior**
Sensor shell can read the values

**Impact**
Sensor shell cannot be used with the sbs-gauge

**Logs and console output**
[code]

**Additional context**
Fix: #35443

[2021-05-19 09:49] carlescufi commented on #29946
@trembel @richardbarlow as per @jfischer-no's analysis, for now we will close this issue since work done since this issue was posted can potentially fix the problem. If this is not the case we can reopen it.

[2021-05-19 09:49] #29946 closed

[2021-05-19 09:50] carlescufi commented on #29107
A more generic solution beyond workaround posted above will come in the future under a USB rework.

[2021-05-19 09:50] #29107 closed

[2021-05-19 09:52] grillchef commented on #35444
This issue is also related to the driver bq274xx

[2021-05-19 09:53] carlescufi commented on #28634
Switched to enhancement since this is not a bug per-se, but rather something that will be addressed in the future once the driver interface changes.

[2021-05-19 09:56] #34275 closed

[2021-05-19 10:05] carlescufi commented on #31253
@thedjnK as per the comments posted in this issue, do you think it can be closed?

[2021-05-19 10:18] jukkar commented on #34931
Closing this as the issue is resolved.

[2021-05-19 10:18] #34931 closed

[2021-05-19 10:44] yurvyn commented on #34282
Hi @ddavidebor
No, it is not supported and currently we do not have release date for the BLE support in Zephyr.

Once this ticket is resolved, I will create a merge request to add B91 SoC and TLSR9518ADK board support to Zephyr.
The upcoming solution will support IEEE802154 including OpenThred.
More info about supported feature you can find here:
https://github.com/yurvyn/zephyr/blob/telink_b91_tl