[2021-03-07 00:53] zephyrbot opened #33033 "[Coverity CID :219654] Out-of-bounds access in tests/net/lib/dns_addremove/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/lib/dns_addremove/src/main.c#L400

Category: Memory - corruptions
Function: `test_dns_add_callback`
Component: Tests
CID: [219654](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219654)

Details:

https://github.com/zephyrproject-rtos/zep

[2021-03-07 00:53] zephyrbot opened #33034 "[Coverity CID :219653] Unchecked return value in drivers/modem/hl7800.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/modem/hl7800.c#L3350

Category: Error handling issues
Function: `hl7800_rx`
Component: Drivers
CID: [219653](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219653)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b25

[2021-03-07 00:53] zephyrbot opened #33035 "[Coverity CID :219652] Unchecked return value in drivers/gpio/gpio_stm32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/gpio/gpio_stm32.c#L367

Category: Error handling issues
Function: `gpio_stm32_enable_int`
Component: Drivers
CID: [219652](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219652)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/b

[2021-03-07 00:53] zephyrbot opened #33036 "[Coverity CID :219651] Logically dead code in subsys/bluetooth/mesh/net.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/mesh/net.c#L155

Category: Control flow issues
Function: `store_seq`
Component: Bluetooth
CID: [219651](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219651)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a533

[2021-03-07 00:53] zephyrbot opened #33037 "[Coverity CID :219650] Out-of-bounds access in samples/bluetooth/central_ht/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/bluetooth/central_ht/src/main.c#L59

Category: Memory - corruptions
Function: `discover_func`
Component: Samples
CID: [219650](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219650)

Details:

https://github.com/zephyrproject-rtos/zephyr/bl

[2021-03-07 00:53] zephyrbot opened #33038 "[Coverity CID :219649] Operands don't affect result in kernel/sem.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/kernel/sem.c#L68

Category: Integer handling issues
Function: `z_impl_k_sem_init`
Component: Kernel
CID: [219649](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219649)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b2542d

[2021-03-07 00:53] zephyrbot opened #33039 "[Coverity CID :219647] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `test_put`
Component: Samples
CID: [219647](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219647)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-03-07 00:53] zephyrbot opened #33040 "[Coverity CID :219646] Untrusted value as argument in subsys/net/lib/coap/coap.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/lib/coap/coap.c

Category: Insecure data handling
Function: `coap_reply_init`
Component: Networking
CID: [219646](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219646)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359

[2021-03-07 00:53] zephyrbot opened #33041 "[Coverity CID :219645] Untrusted loop bound in subsys/bluetooth/host/sdp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/host/sdp.c

Category: Insecure data handling
Function: `bt_sdp_get_profile_version`
Component: Bluetooth
CID: [219645](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219645)

Details:

https://github.com/zephyrproject-rtos/zephyr/b

[2021-03-07 00:53] zephyrbot opened #33042 "[Coverity CID :219644] Side effect in assertion in tests/subsys/edac/ibecc/src/ibecc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/subsys/edac/ibecc/src/ibecc.c

Category: Incorrect expression
Function: `test_inject`
Component: Tests
CID: [219644](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219644)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5

[2021-03-07 00:53] zephyrbot opened #33043 "[Coverity CID :219641] Out-of-bounds access in tests/bluetooth/tester/src/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/bluetooth/tester/src/gatt.c

Category: Memory - corruptions
Function: `get_base_chrc`
Component: Tests
CID: [219641](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219641)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5

[2021-03-07 00:54] zephyrbot opened #33044 "[Coverity CID :219638] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `large_update_put`
Component: Samples
CID: [219638](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219638)

Details:

https://github.com/zephyrproject-rto

[2021-03-07 00:54] zephyrbot opened #33045 "[Coverity CID :219637] Untrusted value as argument in tests/net/lib/coap/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/lib/coap/src/main.c

Category: Insecure data handling
Function: `test_parse_req_build_empty_ack`
Component: Tests
CID: [219637](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219637)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-03-07 00:54] zephyrbot opened #33046 "[Coverity CID :219636] Untrusted value as argument in subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/lib/lwm2m/lwm2m_engine.c

Category: Insecure data handling
Function: `socket_receive_loop`
Component: Networking
CID: [219636](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219636)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-03-07 00:54] zephyrbot opened #33047 "[Coverity CID :219634] Out-of-bounds access in tests/net/lib/dns_addremove/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/lib/dns_addremove/src/main.c

Category: Memory - corruptions
Function: `test_dns_add_remove_two_callback`
Component: Tests
CID: [219634](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219634)

Details:

https://github.com/zephyrproject-rt

[2021-03-07 00:54] zephyrbot opened #33048 "[Coverity CID :219631] Out-of-bounds read in drivers/espi/espi_npcx.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/espi/espi_npcx.c

Category: Memory - illegal accesses
Function: `espi_vw_generic_isr`
Component: Drivers
CID: [219631](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219631)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd973

[2021-03-07 00:54] zephyrbot opened #33049 "[Coverity CID :219629] Operands don't affect result in drivers/clock_control/clock_control_npcx.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/clock_control/clock_control_npcx.c

Category: Integer handling issues
Function: `npcx_clock_control_off`
Component: Drivers
CID: [219629](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219629)

Details:

https://github.com/zephyrproject-rto

[2021-03-07 00:54] zephyrbot opened #33050 "[Coverity CID :219628] Untrusted value as argument in subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/lib/lwm2m/lwm2m_engine.c

Category: Insecure data handling
Function: `lwm2m_init_message`
Component: Networking
CID: [219628](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219628)

Details:

https://github.com/zephyrproject-rtos/zephyr/

[2021-03-07 00:54] zephyrbot opened #33051 "[Coverity CID :219625] Unchecked return value in subsys/bluetooth/mesh/proxy.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/mesh/proxy.c

Category: Error handling issues
Function: `bt_mesh_proxy_gatt_enable`
Component: Bluetooth
CID: [219625](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219625)

Details:

https://github.com/zephyrproject-rtos/zephyr/b

[2021-03-07 00:54] zephyrbot opened #33052 "[Coverity CID :219624] Untrusted loop bound in subsys/bluetooth/host/sdp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/host/sdp.c

Category: Insecure data handling
Function: `bt_sdp_get_proto_param`
Component: Bluetooth
CID: [219624](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219624)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/

[2021-03-07 00:54] zephyrbot opened #33053 "[Coverity CID :219623] Out-of-bounds read in drivers/ipm/ipm_nrfx_ipc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/ipm/ipm_nrfx_ipc.c

Category: Memory - illegal accesses
Function: `vipm_dispatcher`
Component: Drivers
CID: [219623](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219623)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359

[2021-03-07 00:54] zephyrbot opened #33054 "[Coverity CID :219622] Untrusted value as argument in subsys/net/lib/coap/coap.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/lib/coap/coap.c

Category: Insecure data handling
Function: `coap_response_received`
Component: Networking
CID: [219622](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219622)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/

[2021-03-07 00:54] zephyrbot opened #33055 "[Coverity CID :219621] Uninitialized scalar variable in tests/net/socket/getaddrinfo/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/socket/getaddrinfo/src/main.c

Category: Uninitialized variables
Function: `test_getaddrinfo_setup`
Component: Tests
CID: [219621](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219621)

Details:

https://github.com/zephyrproject-rtos/zep

[2021-03-07 00:54] zephyrbot opened #33056 "[Coverity CID :219620] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `obs_get`
Component: Samples
CID: [219620](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219620)

Details:

https://github.com/zephyrproject-rtos/zephyr/

[2021-03-07 00:54] zephyrbot opened #33057 "[Coverity CID :219619] Untrusted divisor in subsys/bluetooth/controller/hci/hci.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/hci/hci.c

Category: Insecure data handling
Function: `le_create_connection`
Component: Bluetooth
CID: [219619](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219619)

Details:

https://github.com/zephyrproject-rtos/zeph

[2021-03-07 00:54] zephyrbot opened #33058 "[Coverity CID :219616] Untrusted value as argument in subsys/net/lib/coap/coap_link_format.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/lib/coap/coap_link_format.c

Category: Insecure data handling
Function: `coap_well_known_core_get`
Component: Networking
CID: [219616](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219616)

Details:

https://github.com/zephyrproject-rto

[2021-03-07 00:54] zephyrbot opened #33059 "[Coverity CID :219615] Out-of-bounds access in tests/arch/arm/arm_irq_advanced_features/src/arm_zero_latency_irqs.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/arch/arm/arm_irq_advanced_features/src/arm_zero_latency_irqs.c

Category: Memory - corruptions
Function: `test_arm_zero_latency_irqs`
Component: Tests
CID: [219615](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219615)

Details:

https://git

[2021-03-07 00:54] zephyrbot opened #33060 "[Coverity CID :219613] Uninitialized scalar variable in lib/cmsis_rtos_v1/cmsis_signal.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/lib/cmsis_rtos_v1/cmsis_signal.c

Category: Uninitialized variables
Function: `osSignalWait`
Component: Other
CID: [219613](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219613)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a

[2021-03-07 00:54] zephyrbot opened #33061 "[Coverity CID :219611] Dereference after null check in subsys/net/ip/tcp2.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/ip/tcp2.c

Category: Null pointer dereferences
Function: `tcp_in`
Component: Networking
CID: [219611](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219611)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b2542d1

[2021-03-07 00:54] zephyrbot opened #33062 "[Coverity CID :219610] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `well_known_core_get`
Component: Samples
CID: [219610](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219610)

Details:

https://github.com/zephyrproject-

[2021-03-07 00:54] zephyrbot opened #33063 "[Coverity CID :219609] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `separate_get`
Component: Samples
CID: [219609](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219609)

Details:

https://github.com/zephyrproject-rtos/ze

[2021-03-07 00:55] zephyrbot opened #33064 "[Coverity CID :219608] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `query_get`
Component: Samples
CID: [219608](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219608)

Details:

https://github.com/zephyrproject-rtos/zephy

[2021-03-07 00:55] zephyrbot opened #33065 "[Coverity CID :219603] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `process_client_request`
Component: Samples
CID: [219603](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219603)

Details:

https://github.com/zephyrproje

[2021-03-07 00:55] zephyrbot opened #33066 "[Coverity CID :219601] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `large_create_post`
Component: Samples
CID: [219601](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219601)

Details:

https://github.com/zephyrproject-rt

[2021-03-07 00:55] zephyrbot opened #33067 "[Coverity CID :219600] Unchecked return value in drivers/watchdog/wdt_wwdg_stm32.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/watchdog/wdt_wwdg_stm32.c

Category: Error handling issues
Function: `wwdg_stm32_init`
Component: Drivers
CID: [219600](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219600)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97

[2021-03-07 00:55] zephyrbot opened #33068 "[Coverity CID :219598] Out-of-bounds access in tests/bluetooth/tester/src/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/bluetooth/tester/src/gatt.c

Category: Memory - corruptions
Function: `alloc_descriptor`
Component: Tests
CID: [219598](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219598)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd9735

[2021-03-07 00:55] zephyrbot opened #33069 "[Coverity CID :219597] Untrusted value as argument in tests/net/lib/coap/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/lib/coap/src/main.c

Category: Insecure data handling
Function: `test_parse_req_build_ack`
Component: Tests
CID: [219597](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219597)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/

[2021-03-07 00:55] zephyrbot opened #33070 "[Coverity CID :219596] Out-of-bounds read in tests/kernel/interrupt/src/dynamic_isr.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/kernel/interrupt/src/dynamic_isr.c

Category: Memory - illegal accesses
Function: `test_isr_dynamic`
Component: Tests
CID: [219596](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219596)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-03-07 00:55] zephyrbot opened #33071 "[Coverity CID :219595] Dereference before null check in subsys/net/ip/net_context.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/ip/net_context.c

Category: Null pointer dereferences
Function: `context_sendto`
Component: Networking
CID: [219595](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219595)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97

[2021-03-07 00:55] zephyrbot opened #33072 "[Coverity CID :219593] Logically dead code in tests/arch/x86/pagetables/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/arch/x86/pagetables/src/main.c

Category: Control flow issues
Function: `test_ram_perms`
Component: Tests
CID: [219593](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219593)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd9735

[2021-03-07 00:55] zephyrbot opened #33073 "[Coverity CID :219591] Untrusted divisor in drivers/sensor/bme680/bme680.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/sensor/bme680/bme680.c

Category: Insecure data handling
Function: `bme680_sample_fetch`
Component: Drivers
CID: [219591](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219591)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd

[2021-03-07 00:55] zephyrbot opened #33074 "[Coverity CID :219590] Unchecked return value in subsys/bluetooth/mesh/proxy.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/mesh/proxy.c

Category: Error handling issues
Function: `bt_mesh_proxy_prov_enable`
Component: Bluetooth
CID: [219590](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219590)

Details:

https://github.com/zephyrproject-rtos/zephyr/b

[2021-03-07 00:55] zephyrbot opened #33075 "[Coverity CID :219588] Out-of-bounds access in tests/bluetooth/tester/src/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/bluetooth/tester/src/gatt.c

Category: Memory - corruptions
Function: `alloc_value`
Component: Tests
CID: [219588](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219588)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a533

[2021-03-07 00:55] zephyrbot opened #33076 "[Coverity CID :219583] Operands don't affect result in drivers/clock_control/clock_control_npcx.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/clock_control/clock_control_npcx.c

Category: Integer handling issues
Function: `npcx_clock_control_on`
Component: Drivers
CID: [219583](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219583)

Details:

https://github.com/zephyrproject-rtos

[2021-03-07 00:55] zephyrbot opened #33077 "[Coverity CID :219579] Out-of-bounds read in drivers/ipm/ipm_nrfx_ipc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/ipm/ipm_nrfx_ipc.c

Category: Memory - illegal accesses
Function: `vipm_dispatcher`
Component: Drivers
CID: [219579](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219579)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359

[2021-03-07 00:55] zephyrbot opened #33078 "[Coverity CID :219576] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `test_del`
Component: Samples
CID: [219576](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219576)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-03-07 00:55] zephyrbot opened #33079 "[Coverity CID :219574] Side effect in assertion in tests/subsys/edac/ibecc/src/ibecc.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/subsys/edac/ibecc/src/ibecc.c

Category: Incorrect expression
Function: `check_values`
Component: Tests
CID: [219574](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219574)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a

[2021-03-07 00:55] zephyrbot opened #33080 "[Coverity CID :219573] Untrusted value as argument in samples/net/sockets/coap_client/src/coap-client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_client/src/coap-client.c

Category: Insecure data handling
Function: `process_simple_coap_reply`
Component: Samples
CID: [219573](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219573)

Details:

https://github.com/zephyrpr

[2021-03-07 00:55] zephyrbot opened #33081 "[Coverity CID :219572] Untrusted value as argument in tests/net/lib/coap/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/lib/coap/src/main.c

Category: Insecure data handling
Function: `test_parse_simple_pdu`
Component: Tests
CID: [219572](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219572)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd9

[2021-03-07 00:55] zephyrbot opened #33082 "[Coverity CID :219566] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `location_query_post`
Component: Samples
CID: [219566](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219566)

Details:

https://github.com/zephyrproject-

[2021-03-07 00:55] zephyrbot opened #33083 "[Coverity CID :219564] Untrusted value as argument in subsys/net/lib/lwm2m/lwm2m_engine.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/lib/lwm2m/lwm2m_engine.c

Category: Insecure data handling
Function: `lwm2m_udp_receive`
Component: Networking
CID: [219564](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219564)

Details:

https://github.com/zephyrproject-rtos/zephyr/b

[2021-03-07 00:56] zephyrbot opened #33084 "[Coverity CID :219563] Dereference after null check in arch/x86/core/multiboot.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/arch/x86/core/multiboot.c

Category: Null pointer dereferences
Function: `z_multiboot_init`
Component: Architectures
CID: [219563](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219563)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/b

[2021-03-07 00:56] zephyrbot opened #33085 "[Coverity CID :219562] Out-of-bounds access in tests/bluetooth/tester/src/gatt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/bluetooth/tester/src/gatt.c

Category: Memory - corruptions
Function: `add_included`
Component: Tests
CID: [219562](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219562)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a53

[2021-03-07 00:56] zephyrbot opened #33086 "[Coverity CID :219561] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `piggyback_get`
Component: Samples
CID: [219561](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219561)

Details:

https://github.com/zephyrproject-rtos/z

[2021-03-07 00:56] zephyrbot opened #33087 "[Coverity CID :219559] Out-of-bounds access in tests/arch/arm/arm_interrupt/src/arm_interrupt.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/arch/arm/arm_interrupt/src/arm_interrupt.c

Category: Memory - corruptions
Function: `test_arm_interrupt`
Component: Tests
CID: [219559](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219559)

Details:

https://github.com/zephyrproject-rtos/z

[2021-03-07 00:56] zephyrbot opened #33088 "[Coverity CID :219558] Untrusted value as argument in samples/net/sockets/coap_server/src/coap-server.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/sockets/coap_server/src/coap-server.c

Category: Insecure data handling
Function: `core_get`
Component: Samples
CID: [219558](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219558)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-03-07 00:56] zephyrbot opened #33089 "[Coverity CID :219556] Self assignment in drivers/espi/host_subs_npcx.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/drivers/espi/host_subs_npcx.c

Category: Incorrect expression
Function: `npcx_host_init_subs_core_domain`
Component: Drivers
CID: [219556](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219556)

Details:

https://github.com/zephyrproject-rtos/zephy

[2021-03-07 00:56] zephyrbot opened #33090 "[Coverity CID :219476] Dereference after null check in subsys/bluetooth/controller/ll_sw/ull_conn.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/ull_conn.c

Category: Null pointer dereferences
Function: `length_req_rsp_recv`
Component: Bluetooth
CID: [219476](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219476)

Details:

https://github.com/zephyrproject-

[2021-03-07 00:56] zephyrbot opened #33091 "[Coverity CID :219474] Logically dead code in subsys/bluetooth/controller/ll_sw/ull_scan.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/bluetooth/controller/ll_sw/ull_scan.c

Category: Control flow issues
Function: `ll_scan_enable`
Component: Bluetooth
CID: [219474](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219474)

Details:

https://github.com/zephyrproject-rtos/zephyr

[2021-03-07 00:56] zephyrbot opened #33092 "[Coverity CID :215392] Logically dead code in subsys/mgmt/osdp/src/osdp_cp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/mgmt/osdp/src/osdp_cp.c

Category: Control flow issues
Function: `cp_build_command`
Component: Other
CID: [215392](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215392)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a53

[2021-03-07 00:56] zephyrbot opened #33093 "[Coverity CID :215391] Unchecked return value from library in samples/net/mdns_responder/src/service.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/mdns_responder/src/service.c

Category: Error handling issues
Function: `welcome`
Component: Samples
CID: [215391](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215391)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd973

[2021-03-07 00:56] zephyrbot opened #33094 "[Coverity CID :215381] Resource leak in samples/net/mdns_responder/src/service.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/samples/net/mdns_responder/src/service.c

Category: Resource leaks
Function: `service`
Component: Samples
CID: [215381](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215381)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338

[2021-03-07 00:56] zephyrbot opened #33095 "[Coverity CID :215379] Out-of-bounds write in subsys/mgmt/osdp/src/osdp_cp.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/mgmt/osdp/src/osdp_cp.c

Category: Memory - corruptions
Function: `cp_decode_response`
Component: Other
CID: [215379](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215379)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359

[2021-03-07 00:56] zephyrbot opened #33096 "[Coverity CID :215373] Unchecked return value in subsys/net/lib/lwm2m/lwm2m_rd_client.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/subsys/net/lib/lwm2m/lwm2m_rd_client.c

Category: Error handling issues
Function: `sm_do_deregister`
Component: Networking
CID: [215373](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215373)

Details:

https://github.com/zephyrproject-rtos/zephyr/

[2021-03-07 02:00] cbsiddharth opened #33097 "Coverity ID links in associated GitHub issues are broken"
In issues #33095 and #33092, coverity ID links point to a different CID.

I can find the CIDs in the secondary link (eg. https://scan9.coverity.com/reports.htm#v32951/p12996/) which lists all CIDs.

[2021-03-07 03:24] dcpleung commented on #33072
False positve, as `Z_KERNEL_VIRT_START` can be zero and thus `pos` can be zero.

[2021-03-07 03:24] #33072 closed

[2021-03-07 03:26] dcpleung commented on #33070
False positive.

[2021-03-07 03:26] #33070 closed

[2021-03-07 03:28] dcpleung commented on #33038
@jharris-intel is `limit > K_SEM_MAX_LIMIT` needed in this case? I see `K_SEM_MAX_LIMIT` is #define to be `UINT_MAX`.

[2021-03-07 04:30] dcpleung commented on #33032
This is intentional, so ignore.

[2021-03-07 04:30] #33032 closed

[2021-03-07 04:32] dcpleung commented on #33020
`Z_PHYS_RAM_START` can be non-zero so this is a false positive.

[2021-03-07 04:32] #33020 closed

[2021-03-07 05:58] shlomow opened #33099 "ppp: termination packet not sent"
**Describe the bug**
When working with ppp protocol, everything connects okay, and I have a ping from my linux machine.
When I run `net iface down` from the shell I expected that the ppp stack will send termination packet to pppd.

**To Reproduce**
Build any sample with ppp and shell.

**Impact**
It has an impact on the cellular stack, since `ppp_stop` does not really disconnect the modem from the

[2021-03-07 06:01] shlomow opened #33100 "tcp2 not working with ppp"
**Describe the bug**
When running ppp and tcp with the new tcp stack, it does not work.
After switching to the legacy tcp stack everything worked as expected.

**To Reproduce**
Build the ppp support with the network shell support. The default tcp stack is tcp2.
Then, try to connect to a server using `net tcp connect` command.

[2021-03-07 07:45] JHKim8212 commented on #32913
@MaureenHelm I will add null check code at Mar 9th after test.

[2021-03-07 08:49] kaiser-ren commented on #32721
@Thalley , I took into it today for how to print random address, here is the thing:

- Actually, Zephyr Bluetooth stack prints the random address automatically by **bt_dev_show_info()**, I believe a random address is created during **bt_enable()**
- Howevery, after calling **bt_le_ext_adv_create()**, the random address creates again and the new one replaces the one created by **bt_enable()**
- Thu

[2021-03-07 09:37] hubertmis opened #33101 "DNS resolver misbehaves if receiving response too late"
**Describe the bug**
I've tried to enable date_time library from nRF Connect SDK https://github.com/nrfconnect/sdk-nrf/blob/master/lib/date_time/date_time.c using OpenThread network. This library tries to resolve addresses of time servers during system initialization. However, OpenThread is not ready to transmit packets like DNS query during initialization and packets are queued and transmitted af

[2021-03-07 12:10] MrVan commented on #32964
This one: https://github.com/zephyrproject-rtos/zephyr/pull/30676#discussion_r581362423

[2021-03-07 12:27] mbittan commented on #27992
@loicpoulain It seems that the tests 14 and 21 from testusb are both able to trigger this bug. Indeed, these tests often result in timeouts when using the following testusb command:
[code]

Another way to reproduce this issue is by using an updated version of the sample written by @AntoineGL. Here is the associated patch: https://github.com/mbittan/zephyr/commit/6a468b851aa1ce41c69588ad3a01a30cbff

[2021-03-07 12:59] #26889 closed

[2021-03-07 15:23] GeorgeGkinis opened #33102 "KConfig and prj.conf support for float or double values"
**Is your enhancement proposal related to a problem? Please describe.**
I have the need to pass floats or doubles to the my application through **Kconfig** and **prj.conf**

**Describe the solution you'd like**
I would like to assign a **float** or **double** value within my **prj.conf** for **Kconfig** such as :
**CONFIG_MY_FLOAT_SETTING=42.01**

**Describe alternatives you've considered**
Using

[2021-03-07 15:34] pabigot opened #33103 "SPI NOR Deep Power Down: A Use Case for Device Power Management"
Issues #33015 and #33016 both identify problems with the spi-nor driver implementation of deep power down (DPD).  That feature pre-dates rework of device power management, and the needs of this driver should inform the redesign of that feature.

Two in-flight PRs (#32680 and #32844) improve how device acquire/release is done in the spi-nor driver as support for new  does some cleanup related to ho

[2021-03-07 15:35] pabigot commented on #33015
#33103 outlines a way to resolve this using device power management, which is where DPD really belongs.

[2021-03-07 15:35] pabigot commented on #33016
#33103 outlines a way to resolve this using device power management, which is where DPD really belongs.

[2021-03-07 16:24] carlescufi commented on #33097
I believe that this is an issue with Coverity itself, not with the links generated by the script that creates the GitHub issues.

[2021-03-07 16:53] GunZi200 commented on #33093
@pfalcon @jukkar @tbursztyka I see you are assigned to this, what do you think of my proposed solution below? 😃

I don't think a simple `(void)` cast is a good solution here.

From here I can see information about the return value: https://pubs.opengroup.org/onlinepubs/9699919799/functions/send.html

So my solution would be something like this:

[code]

I would also change the return type of `welc

[2021-03-07 17:00] pabigot opened #33104 "Updating Zephyr to fix Work Queue Problems"
Issue #27356 identified a host of race conditions in the Zephyr work queue implementation through release 2.5, and in the way that the API has been used.  https://github.com/zephyrproject-rtos/zephyr/pull/28579#issuecomment-700991966 provides a summary of the problems in the original implementation.

The replacement implementation in #29618 that will be in 2.6 eliminated the gaps in being able to

[2021-03-07 18:40] jrhees-cae commented on #33016
Agreed that this needs to be moved to a PM layer. For example, in my application, there exists a thread that works with the flash directly (for app-driven custom storage), and then there is also an Image management component module of Zephyr that accesses the flash for storage of upgrade images for MCUBoot. Explicitly power-managing the flash from an app level is not sufficient, since there would

[2021-03-07 19:34] pabigot commented on #33101
The DNS subsystem is one of the ones that doesn't use the work API correctly, which could resultin this behavior; see #33104.

From when I looked at it a couple months ago I'm not sure it safely manages allocations of queries slots either, at least not on multiprocessors or with preemptive threads.  There are no locks involved with allocating or releasing them.

[2021-03-07 21:23] burumaj opened #33108 "doc: Adding documentation for porting a new SoC"
**Is your enhancement proposal related to a problem? Please describe.**
Missing documentation on porting a new SoC to Zephyr.  The lack of of this documentation
poses a significant hurdle for people not super familiar with this part of the process.

**Describe the solution you'd like**
The solution I would like to see is porting guide for a new SoC similar to the porting guides
for new architectur

[2021-03-07 22:13] GunZi200 commented on #32917
I couldn’t find any documentation for the mayfly code. https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/util/mayfly.c there are no doxygen comments in `mayfly.h`

Seems to return `0` or `1` but it is unclear to me what those values mean.

I’m curious what a “mayfly” is 🤔

[2021-03-07 22:35] pabigot commented on #33104
The following PRs provide examples of updating work API to avoid the problematic idioms identified above.
* #33109 uses DNS query state to coordinate release of the query structure with a timeout and received query responses.

[2021-03-07 23:52] burumaj commented on #33108
There is more information already compiled in this presentation:
https://events19.linuxfoundation.org/wp-content/uploads/2017/12/Enabling-Zephyr-on-Your-Hardware-Platform-Diego-Sueiro-Sepura-Embarcados.pdf

[2021-03-08 00:52] LeBlue commented on #32898
**1. `ll_tx_mem_acquire` returns buffer from wrong pool**

Therefore the wrong pool is used to construct a data pdu (and overflows buffer, because it is to small for this data).

Following backtraces are on [v2.5-branch@6cf2fdc5d1](https://github.com/zephyrproject-rtos/zephyr/tree/6cf2fdc5d1ebb9534aa980c754b1e13f5daca2fb/subsys/bluetooth/controller/ll_sw)

When reconnecting (step 5) with keys remo

[2021-03-08 02:11] MulinChao commented on #33048
Hi @nashif:
A fix [PR](https://github.com/zephyrproject-rtos/zephyr/pull/33110) for this issue is provided. Any further comment is appreciated.

[2021-03-08 03:26] enjiamai opened #33113 "Improve code coverage for new feature or code change in kernel"
**Is your enhancement proposal related to a problem? Please describe.**
There are some new feature or code change after zephyr 2.5 release, and some of those code will also need to be covered. So there will be some more testcase work on this, list below:

**Code change list:**
demand paging:  kernel/mmc.c
device: kernel/device.c
scheduler: kernel/sched.c

**Describe the solution you'd like**
Need

[2021-03-08 03:30] ycsin commented on #32789
After configuring these:

- `CONFIG_USB_DEVICE_VID=0x0483`
- `CONFIG_USB_DEVICE_PID=0xDF11`

It is recognized as "STM Device in DFU Mode" in Windows 10's device manager:
![image](https://user-images.githubusercontent.com/1563974/110267292-75cf3f00-7ffa-11eb-89b9-20966025a30a.png)

According to STM32 DFU example code and change `usb_dfu.h`'s `DFU_VERSION` to `0x011A` the device is now recognized by

[2021-03-08 03:37] enjiamai commented on #32836
Hi @KangJianX , please notice those message and requirement from @andyross for ASDP.  Also FYI @LeiW000 .

[2021-03-08 04:32] IRISZZW opened #33114 "tests: mbox_api: testcase test_mbox_data_get_null has some bugs."
relative pull request: #31012

we can't `k_mbox_data_get`  from a  `_syncing_thread` who didn't send a msg.

`sending_thread->base.swap_data` not initialized.

https://github.com/zephyrproject-rtos/zephyr/blob/1ce264ecdc1facb932efa53f3cbdf8fea45e9727/kernel/mailbox.c#L189-L191

[code]

**relative codes**

https://github.com/zephyrproject-rtos/zephyr/blob/1ce264ecdc1facb932efa53f3cbdf8fea45e9727/te

[2021-03-08 04:41] IRISZZW commented on #33114
this testcase will fail in `nsim_em`:

[code]

how to reproduce:
1. west build -b nsim_em -d build tests/kernel/mbox/mbox_api/
2. west flash

[2021-03-08 06:17] cvinayak commented on #32917
mayfly is an internal framework in the Bluetooth Low Energy Controller implementation to schedule a function's execution in a different execution context. It can be seen as a software interrupt mechanism.

[2021-03-08 06:47] ycsin commented on #32789
This is the debug log output:
[code]

[2021-03-08 07:29] Zhaoningx opened #33120 "iotdk: running testcase tests/kernel/mbox/mbox_api/ failed"
To Reproduce

I ran testcase tests/kernel/mbox/mbox_api/ failed

Steps to reproduce the behavior:

twister -p iotdk --device-testing --device-serial=/dev/ttyUSB0 -T tests/kernel/mbox/mbox_api/  -j 1 -vv

see error

===================================================================
START - test_mbox_async_put_to_waiting_get
PASS - test_mbox_async_put_to_waiting_get

===============================

[2021-03-08 07:39] nika-nordic opened #33122 "Device-level Cache API"
## Introduction
Zephyr has a public API for cache management, and it was greatly enhanced, recently,  in this PR: https://github.com/zephyrproject-rtos/zephyr/pull/30398.
There exists an open ticket that reflects an original view of how a “complete” API should look like: https://github.com/zephyrproject-rtos/zephyr/issues/2647.

One limitation of the current API is that it treats cache as, always,

[2021-03-08 07:41] nika-nordic opened #33123 "API extensions for Cache Management"
## Introduction

We would like to propose several extensions to Zephyr’s Cache Management API.

### Problem description

Some SoC may implement extra cache features that are not covered by current Zephyr cache API.

### Proposed change

Add new functions to existing Zephyr cache API that would help to utilize miscellaneous cache capabilities.

## Detailed RFC

### Proposed change (Detailed)

Expan

[2021-03-08 07:42] MulinChao commented on #33089
All bit fields of SMC_STS is RW/1C. It's common for MCU to clear all pending bits during initialization. If solving 'Self assignment ' issue is necessary, the ideas I have to replace `inst_shm->SMC_STS = inst_shm->SMC_STS;` are:
option 1:
 `inst_shm->SMC_STS = 0x7B` /* bit 7 & 2 are reserved */
option 2:
`uint8_t tmp = inst_shm->SMC_STS;
inst_shm->SMC_STS = tmp;`

Any further comment on this issue

[2021-03-08 07:50] kurddt commented on #31280
I don't this this one should be closed since as far as I understood it #32805 does not allow to have conditional/optional properties

[2021-03-08 07:58] YanzhouYu commented on #32111
**Also tried with latest LLVM toolchain, error reported below:

CMake Error at ../../cmake/extensions.cmake:1735 (message):
  Assertion failed: The toolchain is unable to build a dummy C file.  See
  CMakeError.log.
Call Stack (most recent call first):
  ../../CMakeLists.txt:42 (assert)

**In CMakeError.log, it shows that:

Checking whether the ASM compiler is GNU using "--version" did not match "

[2021-03-08 08:21] erwango commented on #32867
@ioannisg @galak, I think that https://github.com/zephyrproject-rtos/zephyr/pull/31481 was merged too fast. If https://github.com/zephyrproject-rtos/zephyr/pull/32983 is not a proper fox (which I totally understand), then CONFIG_CORTEX_M_DEBUG_NULL_POINTER_EXCEPTION_DETECTION_DWT should be default n waiting for https://github.com/zephyrproject-rtos/zephyr/issues/32984 to be fixed.

[2021-03-08 08:24] nvlsianpu commented on #32990
Maybe expected behavior should be that the file which is opened can't be unlinked.

[2021-03-08 08:34] MulinChao commented on #33024
If my assumption is correct, the driver shouldn't change data content in [line 830](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/espi/host_subs_npcx.c#L830) and refer it in the other section [line 809](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/espi/host_subs_npcx.c#L809). If so, I will submit a PR to declare 'data' as const pointer and add related modific

[2021-03-08 08:34] jukkar commented on #33093
Hi @GunZi200, your proposal looks fine. Can you send a PR for it?

After looking the application, it tends to quit far too easy. So it works only once, and quits for any errors. It would need some more work to be more usable. Anyway, that is for another PR.

[2021-03-08 09:01] gmarull opened #33127 "Improve documentation user experience"
## Introduction

The aim of this RFC is to trigger a discussion on possible improvements to the Zephyr documentation user experience (UX). These improvements could be theme style enhancements, toctree structure, etc.

### Problem description

While Zephyr documentation has lots of useful resources I think it requires some attention regarding usability. While it is a very subjective topic, I think

[2021-03-08 09:18] jukkar commented on #33061
False positive

[2021-03-08 09:18] #33061 closed

[2021-03-08 09:19] armandciejak commented on #31217
@nvlsianpu Your proposed solution would not work for flash chip that automatically enables write protection after write or erase command.

I have a custom board with such a flash chip and I'm impacted by this bug. The only solution I found so far is to hack the driver so that the lock is acquired by `flash_write_protection_set(flash_dev, false);` and released by `flash_erase` or `flash_write`. `fl

[2021-03-08 09:24] armandciejak commented on #31217
IMHO the only proper way to address this problem is to change the flash API. Removing the `flash_write_protection_set` function and changing `flash_erase` and `flash_write` so that they acquire the lock, disable the write protection do the erase/write operation, enable the write-protection and finally release the lock.

[2021-03-08 09:31] jukkar commented on #33093
@GunZi200 If you are at it, could you also fix #33094 which leaks server_fd, by not closing it if there is an error in bind() or listen() in service.c. Thanks in advance!

[2021-03-08 09:39] #24113 closed

[2021-03-08 09:43] erwango commented on #30943
@qin-zou can you have a new try using https://github.com/zephyrproject-rtos/zephyr/pull/31481 ?

[2021-03-08 09:45] jukkar commented on #33101
:+1: yes, locks are indeed missing from the library and should be added. Any volunteers for implementing this?

[2021-03-08 09:48] StefJar commented on #32261
After pulling the last commit 1ce264ecdc1facb932efa53f3cbdf8fea45e9727 my system does start up directly with

[code]

I put a break point directly at the start of the main function. When starting the debugger and reseting the MCU this breakpoint is not hit. Means that the kernel somehow starts but when changing to the main thread it fails with an stack overflow exception.

[2021-03-08 09:49] GunZi200 commented on #33093
Sure I’ll create a PR for both issues this evening :)

[2021-03-08 09:53] Thalley commented on #32721
No, that is a privacy feature.
The address you see from `bt_dev_show_info()` is the identify address, which may be a public (BT SIG assigned) or random address.

When advertising, you do normally not advertise with your identify to avoid tracking of your device (privacy), so advertising will generally create a new random address (if using extended advertising like here, you'd have a random address

[2021-03-08 10:16] de-nordic commented on #32990
@nvlsianpu , @pabigot

This is VFS design compromise that is deficiency when parallel access to file system is exercised.
It has never been specified what should happen when opened file is deleted, and the issue also does exists with read operations, or files opened as read-only.
I do not thin that this has been predicted to be happening as probably the original idea has been that the developer is

[2021-03-08 10:23] nvlsianpu commented on #31217
@armandciejak

I think you understand me bad. I put the code sample in the description (same here https://docs.zephyrproject.org/latest/reference/peripherals/flash.html#c.flash_write_protection_set) - this code sample reflect usage with the automatic flash protection your mentioned, that why ther are dedicated flash disable calls before each write/erase operations. Solution I suggested will work f

[2021-03-08 11:26] #33071 closed

[2021-03-08 12:04] rlubos commented on #33025
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.` and consecutively `Call to function coap_packet_init with tainted argument id transitively taints *data`.

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:04] #33025 closed

[2021-03-08 12:08] rlubos commented on #33045
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.`

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:08] #33045 closed

[2021-03-08 12:13] wldevries commented on #33127
It would be nice to have an Edit button at the top that brings you to the source of the manual page. It may help raise problems with documentation sooner and bring in contributors.

See for example the open source documentation on the Microsoft website:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/integral-numeric-types

[2021-03-08 12:18] jukkar commented on #33100
More information is needed.
What version (upstream, 2.5 or what) are you using?
How does it not work, connect fails or data transfer fails or what exactly is failing?

I do not have a SIM card so cannot try this myself with gsm modem.

[2021-03-08 12:22] rlubos commented on #33069
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.`

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:22] #33069 closed

[2021-03-08 12:23] shlomow commented on #33100
I am using the latest master commit. You do not need the modem reproduce the issue. Just enable ppp in your configuration. From what I saw no tcp packet exit the target device

[2021-03-08 12:27] rlubos commented on #33044
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.`

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:27] #33044 closed

[2021-03-08 12:28] rlubos commented on #33056
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.`

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:28] #33056 closed

[2021-03-08 12:29] rlubos commented on #33062
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.`

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:29] #33062 closed

[2021-03-08 12:30] rlubos commented on #33064
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.`

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:30] #33064 closed

[2021-03-08 12:31] rlubos commented on #33078
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.`

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:31] #33078 closed

[2021-03-08 12:32] rlubos commented on #33082
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.`

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:32] #33082 closed

[2021-03-08 12:32] jukkar commented on #33100
Yep, I realized that too. I have a test environment now ready.

[2021-03-08 12:32] rlubos commented on #33086
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.`

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:32] #33086 closed

[2021-03-08 12:33] rlubos commented on #33088
This is a false positive.

Coverity reports that `Function coap_header_get_id returns tainted data.`

This is not the case as any value that fits into `uint16_t` range is a good one - there's nothing to validate here.

[2021-03-08 12:33] #33088 closed

[2021-03-08 12:37] jukkar commented on #33100
Hmm, at least a simple tcp connect/send test to Linux works ok. In linux side I have
[code]
and when connecting to it from zephyr
[code]
I am seeing data in the linux terminal. Also receiving works.

Could you elaborate in more details how to replicate this issue?

[2021-03-08 12:43] jukkar commented on #33100
BTW, I used following config in Zephyr side (need three terminals):
[code]
[code]
[code]

[2021-03-08 13:04] Laczen commented on #31217
@nvlsianpu, the thread awareness seems unnecessary complex. Maybe it is better to make `flash_write_protection_set` a `nop` and to include this in `flash_write` and `flash_erase`.

[2021-03-08 13:12] pabigot opened #33137 "Enabling DHCP without NET_MGMT shouldn't be allowed"
Yes, that is the case. After looking the code, the DHCP needs to know about the network interface status in order to trigger a renew when the network interface comes back up. It looks like we are missing proper selects for net mgmt config option in `subsys/net/ip/Kconfig.ipv4` for DHCPv4.

_Originally posted by @jukkar in https://github.com/zephyrproject-rtos/zephyr/issues/33105#issuecomment-79258

[2021-03-08 13:48] jfischer-no commented on #32963
There is no USB device support for any qemu platform.

[2021-03-08 13:48] #32963 closed

[2021-03-08 13:52] LeiW000 commented on #32695
@KangJianX , my understanding is that you have verified #32356. Am I right?

[2021-03-08 13:54] joerchan commented on #32866
Vinayak: `struct bt_le_ext_adv_start_param parameters = {0, 0};` is valid, it would be the same as doing `bt_le_ext_adv_start(advertising_set, NULL);`, i.e setting both timeout values (number of completed events, and timeout)  to 0.

[2021-03-08 13:58] pabigot opened #33138 "invalid west cmake diagnostics when using board alias"
Zephyr supports [board aliases](https://docs.zephyrproject.org/latest/guides/beyond-GSG.html#board-aliases) which allow more natural names to be used for boards at the command line.

Sometime in the past couple weeks use of this feature has started to produce verbose gratuitous warnings.  E.g.:

    rm -rf build && west build -b pca10056

with

    set(pca10056_BOARD_ALIAS nrf52840dk_nrf52840)

in

[2021-03-08 13:59] nandojve opened #33139 "JSON API - sanitize the memory areas to avoid uninitialized pointer"
**Is your enhancement proposal related to a problem? Please describe.**
At Updatehub a potential bug was reveled using JSON API that might dereference an uninitialized pointer, see archived #27718.

**Describe the solution you'd like**
At that time,  the solution was zeroing the memory before passing it to the JSON API.

**Describe alternatives you've considered**
_A more general solution might be

[2021-03-08 14:09] weinholtendian opened #33140 "STM32H7: Bus fault when reading corrupt flash sectors"
**Describe the bug**
The stm32h7 flash driver crashes the system with a bus fault if the data it reads has a double ECC error (DBECCERR).

The stm32h7 flash has an integrated ECC capable of correcting single errors and detecting double errors. The bus fault is expected behavior from the hardware, but very unfortunate behavior for the flash API. It would be much better to return an error code from

[2021-03-08 14:13] pabigot commented on #33104
NB: This comment will be updated as things change

Changes to original description:

#### 2021-03-08
* Sanction use of `k_work_is_pending()` to assess that the work item is not being used, so state that the handler may reference should be available for an update and resubmission.  (This idiom was a bug in the previous k_work implementation, where changes to data associated with a "not pending" wor

[2021-03-08 14:16] rlubos commented on #33080
This is false positive.

Coverity complains that feeding `data` pointer to the `recv()` function taints it, which is then passed to the `heap_ref` varialbe internally in the `k_free()` implmentation (`Assigning: heap_ref = ptr, which taints heap_ref.`). Whatever's written in the `data` buffer, it has no impact on the memory deallocation.

[2021-03-08 14:16] #33080 closed

[2021-03-08 14:18] Qbicz commented on #26363
For reference (and Linux users), the latest auto-build that has this problem fixed can be downloaded from: https://github.com/robincornelius/libedssharp/raw/gh-pages/build/OpenEDSEditor-latest.zip

[2021-03-08 14:20] de-nordic opened #33142 "fs_mount for FAT FS does not distingush between no file system and other errors"
**Describe the bug**
The fs_mount is supposed, when option enabled, to create new file system on a device if mount fails due to non-existing file system.

**To Reproduce**
Steps to reproduce the behavior:
1. modify test/subsys/fs/fat_fs_api/prj_native_posix.conf by replacing
`CONFIG_DISK_FLASH_DEV_NAME="flash_ctrl"`
with
`CONFIG_DISK_FLASH_DEV_NAME="flash_ctrl_bla"`
2. west build -b native_posix -

[2021-03-08 14:20] mniestroj commented on #33100
I guess the problem is not with PPP itself, but with `net tcp connect` command. This command uses non-blocking `connect()`, which is not supported by TCP2. In TCP case the "non-blocking" request was still "blocking", which is why it worked.

[2021-03-08 14:41] nvlsianpu commented on #31217
@Laczen Agree, that will be much simpler but requires modification in each driver. I would go this way. Probably need to first present this on the API meeting.

[2021-03-08 14:43] jukkar commented on #33100
I was using TCP2 with net-shell and it worked just fine. The commit 9eb46d95a7068b6fa3cb76c4625b8efcbd58bbfa made it possible to use TCP2 in net-shell.

[2021-03-08 14:45] pabigot commented on #31031
@carlescufi @trond-snekvik is expected soon (this month)?

[2021-03-08 14:56] LeiW000 commented on #32603
I don't think the issue should be "low". It seems to me that there is something wrong with k_busy_wait(), which is an important API.

[2021-03-08 15:04] #33030 closed

[2021-03-08 15:04] #33042 closed

[2021-03-08 15:04] #33079 closed

[2021-03-08 15:07] rlubos commented on #33066
Another false positive.

`Calling function coap_header_get_id taints argument *request->data`, which in order taints the `token` value. The taint spreads on the dynamically allocated `data` buffer which results in the final `Passing tainted expression *data to k_free, which uses it as an offset.` complain.

As mentioned in some other report, any message ID value is a good one, and token value (act

[2021-03-08 15:07] #33066 closed

[2021-03-08 15:09] jukkar commented on #33137
I can take and fix this.

[2021-03-08 15:10] rlubos commented on #33063
Same as #33066.

[2021-03-08 15:10] #33063 closed

[2021-03-08 15:14] rlubos commented on #33039
Same as #33066.

[2021-03-08 15:14] #33039 closed

[2021-03-08 15:15] rlubos commented on #33022
Same as #33066.

[2021-03-08 15:15] #33022 closed

[2021-03-08 15:18] KangJianX commented on #32695
@LeiW000 Yes, I have verified and it work.

[2021-03-08 15:19] moose-rivieh opened #33147 "Not able to build blinky or set toolchain to zephyr"
**Describe the bug**
Not able to build the blinky example by following the instructions listed in https://docs.zephyrproject.org/latest/getting_started/index.html
I get the following error when I get to the west build command:

[code]

The frustrating part is I don't know why it is using gnuarmemb toolchain?? I explicitly set ZEPHYR_TOOLCHAIN_VARIANT to zephyr. Do not know what to do next?

**To R

[2021-03-08 15:21] laodzu commented on #32514
@nashif @andyross Thanks for fixing one race.  Unfortunately the bug in this issue is not fixed on my system.  I still have the same failure mode.  Running the tests individually again work, running them from one twister invocation fails.  I tried this 5 times and it failed 5 times, so if it is another race, I can hit it in a pretty deterministic fashion:

Results:

[2021-03-08 15:40] jharris-intel commented on #33038
What's the recommended approach when a limiting constant could be `UINT_MAX` in some, but not all, configurations?

That constant was added because I've got a WIP PR that adds an implementation whose limit is `INT_MAX`.

[2021-03-08 15:52] cvinayak commented on #32860
@kaansenparlak I suggest you to provide a branch (push a draft PR) with your code modification for the different cases you have tested. This will help me to reproduce your observations.

[2021-03-08 16:18] glenn-andrews commented on #29722
Getting the same problem.

I put C:\Program Files\OpenOCD\bin in my path, and nothing happened, so I added  C:\Program Files\OpenOCD\share and C:\Program Files\OpenOCD just in case, and still no luck.

echo $path  just replies with $path but echo %path% shows all three directories in my PATH variable.

If I type openocd --version into cmd, I get the version information, so I know the path is corre

[2021-03-08 16:19] carlescufi commented on #33147
It might be that you have a `~/.zephyrrc` that sets the the toolchain variant to `zephyr` and that is parsed and executed when you run `source zephyr-env.sh`.

[2021-03-08 16:32] #32946 closed

[2021-03-08 16:33] Qbicz opened #33149 "subsys: canbus: canopen EDSEditor / libedssharp version that works with Zephyr's CANopenNode"
**Describe the bug**
Zephyr maintains its own fork of CANopenNode https://github.com/zephyrproject-rtos/canopennode/commits/zephyr.

To generate .c and .h CO_OD files that contain description of the CAN device, libedssharp is used. However:
it's most recent release 0.8 is **not compatible** with the Zephyr's version (too old) https://github.com/robincornelius/libedssharp/releases -> it gives error

[2021-03-08 16:33] Qbicz commented on #26363
Actually the latest version of OpenEDSEditor is also not compatible, so I opened https://github.com/zephyrproject-rtos/zephyr/issues/33149 to clarify and find a solution.

[2021-03-08 16:39] de-nordic commented on #33012
Same issue here: https://github.com/zephyrproject-rtos/zephyr/issues/32193

[2021-03-08 16:44] ABOSTM commented on #29722
Hi @glenn-andrews ,
This issue is already closed thanks to proper definition of PATH environment variable.
It seems your PATH variable is correct, so it is probably a different issue ...
so it is better you open a new issue with your own description, your own setup and your own error log ...

[2021-03-08 16:59] enjiamai commented on #32603
Make sense, priorities to medium.

[2021-03-08 17:16] nashif commented on #30105
cadence compiler does not support C11

[2021-03-08 17:23] moose-rivieh commented on #33147
My goal is to set the toolchain to zephyr but for some reason, it is pointing to gnuarmemb. Please see the console output that I copied above. In either case, there is no .zephyrrc file in my home directory.

[2021-03-08 17:38] glenn-andrews commented on #29722
My apologies. I'll do so now

[2021-03-08 17:54] glenn-andrews opened #33153 "west flash cannot find OpenOCD"
**Describe the bug**
west flash fails when trying to use OpenOCD to flash an STM32F401RE Nucleo-64 board
I have set the path as described in the documentation, and can run openocd --version from the command line and it returns the correct response.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the [getting started guide](https://docs.zephyrproject.org/latest/getting_started/index.ht

[2021-03-08 18:09] qin-zou commented on #30943
@erwango I'll try it out in the next day or two and get back to you.

[2021-03-08 19:48] nashif commented on #33147
what do you have in ~/.zephyrrc?

[2021-03-08 19:48] dcpleung commented on #33038
I assume we can ignore it as intentional in Coverity? @ceolin what do you think?

[2021-03-08 20:02] moose-rivieh commented on #33147
I don't have a .zephyrrc file in my home directory. Do I need to create one to solve this issue? If I do, what content do I need to include?

[2021-03-08 20:14] ceolin commented on #33038
Yep, we have others similar cases. This just need to be triaged as intentional

[2021-03-08 20:50] K2AAE commented on #33108
Dead end: "This presentation will not cover how to add a new CPU core architecture support. But a good documentation on how to achieve this can be find here;"  and "here" takes you to https://docs.zephyrproject.org/latest/porting/arch.html which returns Sorry, Page Not Found. I've found hunting down answers on Zephyr to be endless loops, nRF stuff a good example of lazy.

[2021-03-08 21:01] dcpleung commented on #33038
Done.

[2021-03-08 21:01] #33038 closed

[2021-03-08 21:18] #32907 closed

[2021-03-08 21:18] #5116 closed

[2021-03-08 21:18] #32928 closed

[2021-03-08 21:18] #33036 closed

[2021-03-08 21:18] #33051 closed

[2021-03-08 21:18] #33074 closed

[2021-03-08 22:04] andyross commented on #32705
The big PR merged this morning, but I realized that I didn't have a Fixed header anywhere in it.  Close this.

[2021-03-08 22:04] #32705 closed

[2021-03-08 22:05] andyross commented on #32695
Fix merged.  Close.

[2021-03-08 22:05] #32695 closed

[2021-03-08 22:07] andyross commented on #30055
Grooming bugs: sorry, can you confirm that a 3.3.0 newlib fixes the problem?  Or you just suspect it might?

[2021-03-08 22:59] yerabolu commented on #32590
Yes, i am in agreement with above discussion.  @nashif : Any other thoughts on this ? If we are in agreement will close the RFC and include it in the deviations report.

[2021-03-08 23:05] jenmwms commented on #32589
@chen-png mentioned this is not reproduceable most recently. Appears to be resolved.

[2021-03-08 23:05] #32589 closed

[2021-03-08 23:18] jharris-intel commented on #33104
Could you please elaborate on this? I don't see how you can do this in the general case without forcing dynamic allocation of work queue items.

In particular: how can you know if the work queue item is safe to reinitialize?

Can you provide a simple example of what this looks like for a function that wants to have no more than, say, four work queue items outstanding at a time, erroring out any ad

[2021-03-08 23:18] andyross opened #33164 "Newlib has no synchronization"
I can't find any implementation of locking or synchronization hooks for newlib.

I bumped into what I thought briefly was a SMP race in newlib malloc (it wasn't) and went looking to be sure that we were doing the locking correctly.  And... we aren't?

I see that this was filed a year and a half ago (which is inexplicably an Enhancement and not a Bug): #21519 and was seemingly addressed by #21518 ,

[2021-03-08 23:19] andyross commented on #33164
Add @stephanosio and @kaidoho who were involved earlier.  Am I just looking in the wrong place?

[2021-03-08 23:21] andyross commented on #30055
And serendipitously, I just ran into #33164 which very well might be the root cause if your application has multiple threads trying to use that heap.

[2021-03-08 23:26] nashif commented on #32954
lets close this, seems to be an issue with coverity itself.

[2021-03-08 23:26] #32954 closed

[2021-03-08 23:28] nashif commented on #32952
lets close this, seems to be an issue with coverity itself.

[2021-03-08 23:28] #32952 closed

[2021-03-08 23:30] nashif commented on #32933
lets close this, seems to be an issue with coverity itself.

[2021-03-08 23:30] #32933 closed

[2021-03-09 00:03] moose-rivieh commented on #33147
Any ideas here?

[2021-03-09 00:14] nashif commented on #32966
just bisected to

[code]

[2021-03-09 00:17] nashif commented on #32984
looks like pyocd is also affected

see https://github.com/zephyrproject-rtos/zephyr/issues/32966

[2021-03-09 00:22] ceolin commented on #32590
It not only about deviation IMHO. We should document it in Zephyr code guideline, the concerns were more about underscore usage and standard C library, but the guideline itself cover other things that @jharris-intel mentioned. We still should stick to identifier translation limits, not contains an invalid multibyte character or does not begin and end in the initial shift state, the initial charact

[2021-03-09 00:39] jenmwms commented on #32603
I understand why we should inspect k_busy_wait(), thanks for noting this. I am curious, if there is an issue with that service, we would anticipate it failing in other tests as well. Do we see indication of this?

[2021-03-09 00:54] pabigot commented on #33104
The majority of uses of work queue items in zephyr are dedicated to a single handler function, with operation-specific state provided by embedding the work item in a container that holds that state, and the container statically allocated.  `k_work_init()` is invoked before anything's submitted. Once that's done the item can be submitted at any time, with the submission either having effect (if it'

[2021-03-09 01:18] mbolivar-nordic commented on #33153
@glenn-andrews can you share the file `build/zephyr/runners.yaml` (where `build` is your build directory).

It should contain something like this:

[code]

If it doesn't, then cmake can't find your openocd for some reason. Your `build/CMakeCache.txt` file should contain a line like this:

[code]

That's what west uses. If CMake doesn't find it, west won't know about it.

The search itself is done

[2021-03-09 01:22] mbolivar-nordic commented on #32984
Sorry @ioannisg, I don't know enough about the underlying debug IPs to really help here. I see you already posted a PR for openocd, so it seems like you're on your own here :(.

[2021-03-09 01:42] enjiamai commented on #32603
No, we did not see this test case failed in other platform, even as ehl crb bare metal. So it's only on ACRN ehl crb.

[2021-03-09 06:07] yashi opened #33168 "CONFIG_HEAP_MEM_POOL_SIZE=64 doesn't work"
**Describe the bug**
Running `tests/kernel/mem_heap/mheap_api_concept` with `CONFIG_HEAP_MEM_POOL_SIZE=64` failed.

**To Reproduce**
[code]

this works
[code]

this doesn't
[code]
Full output is placed below.

Interestingly `CONFIG_HEAP_MEM_POOL_SIZE` equals to 184 works but 183 doesn't.

**Expected behavior**
Expect the test to pass with 64 if there is no lower limit.

**Logs and console output**

[2021-03-09 06:08] heinwessels opened #33169 "STM32 SPI Driver - Transmit (MOSI) Only - Infinite Loop on Tranceive"
I am trying to run the [WS2812 LED Strip](https://docs.zephyrproject.org/1.12.0/samples/drivers/led_ws2812/README.html) driver on an STM32L431 using the SPI mode. The SPI is used as `Transmit Only`, and only the `MOSI` pin is connected and defined in the DTS. When the LED driver is writing to the LED's the SPI driver gets stuck in an infinite loop waiting for the `RXNE` flag to be raised [here](ht

[2021-03-09 06:51] trond-snekvik commented on #31031
Yes, I'll start it later this week.

[2021-03-09 07:10] martinjaeger commented on #30055
I would not say it fixes the problem completely. I can confirm that we don't see the junk characters anymore with newlib 3.3.0. But we get above assertion message instead. Ideally, the linker would claim sufficient memory for newlib such that we see at compile-time that we run out of space.

Regarding the potential race condition in newlib: I'm not sure if that's really the root cause. I suspended

[2021-03-09 08:26] carlescufi commented on #33147
@moose-rivieh Not really, no. When you execute `source zephyr-env.sh`, that script will read a `~/.zephyrrc` but only if it exists, and it's not necessary to have it at all. Something is setting `ZEPHYR_TOOLCHAIN_VARIANT` in your system, and it certainly is not Zephyr if you don't have a `~/.zephyrrc`. Please check your own scripts or system for anything setting that variable.

[2021-03-09 09:11] FRASTM commented on #32867
This issue is fixed, **tests/kernel/sched/schedule_api** passed on nucleo_wb55rg
with master b82a662866eb10c700f31437371bce44694a7604

[code]

[2021-03-09 09:11] #32867 closed

[2021-03-09 09:51] #33048 closed

[2021-03-09 10:12] julien-massot opened #33171 "Create Renesas HAL"
## Introduction

I wrote a port for Renesas R-Car Gen3 co-processor based on a Cortex-R7
MCU. The plan is to submit these patches to the Zephyr project.

### Problem description

This Renesas platform doesn't use a HAL at the moment, and so
registers offset are defined directly in the Renesas drivers.
Such as https://github.com/zephyrproject-rtos/zephyr/pull/31307/files#diff-d874fb417f530f72748e4e

[2021-03-09 10:34] ioannisg commented on #33012
Draft PR started: #33172

[2021-03-09 10:43] Zhaoningx commented on #32963
Hi @jfischer-no ,  it is confusing, you mean usb device cannot be supported by qemu_x86 whatever you do? Or you can add some configures to enable usb device?

[2021-03-09 11:10] #33093 closed

[2021-03-09 11:10] #33094 closed

[2021-03-09 11:32] nashif opened #33173 "tests/kernel/workq/work_queue fails on sam_e70_xplained"
**Describe the bug**
Test fails to complete on the sam_e70_xplained board

**To Reproduce**
`./scripts/twister -N --device-testing --hardware-map ~/map.yml -c -p sam_e70_xplained --platform-reports -v -T tests/kernel/workq`

[code]

**Expected behavior**
test passes

**Environment (please complete the following information):**
 - OS: (e.g. Linux, MacOS, Windows): Linux
 - Toolchain (e.g Zephyr SDK

[2021-03-09 11:40] rlubos commented on #33040
False positive.

Coverity says that `Calling function parse_option with tainted argument *cpkt->data taints offset`. That's not the case, because the offset value is incremented by the value of the decoded option length, and it's verified that the decoded option length does not exceed the boundaries of the packet received (https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/coa

[2021-03-09 11:40] #33040 closed

[2021-03-09 11:42] #33054 closed

[2021-03-09 11:43] rlubos commented on #33058
Same as #33040.

[2021-03-09 11:43] #33058 closed

[2021-03-09 11:44] #33081 closed

[2021-03-09 11:44] rlubos commented on #33031
Same as #33040.

[2021-03-09 11:44] #33031 closed

[2021-03-09 11:46] rlubos commented on #33065
Same as #33040.

[2021-03-09 11:46] #33065 closed

[2021-03-09 11:47] rlubos commented on #33083
Same as #33040.

[2021-03-09 11:47] #33083 closed

[2021-03-09 11:48] #33050 closed

[2021-03-09 11:49] #33046 closed

[2021-03-09 12:06] nandojve commented on #33023
Same as #33040.

[2021-03-09 12:06] #33023 closed

[2021-03-09 12:07] PerMac opened #33176 "tests: kernel: Multiple test cases from tests/kernel/workq/work_queue are failing"
**Describe the bug**
Multiple test cases from tests/kernel/workq/work_queue are failing on nrf platforms. The tests report the same error:
[code]
The output also looks weird as if multiple threads were running simultaneously on board with mixed outputs and multiple calls of the same test case and restarting of the board.

**To Reproduce**
Steps to reproduce the behavior:
1. have e.g. nrf52840dk co

[2021-03-09 12:13] nashif commented on #33176
duplicate of #33173

[2021-03-09 12:16] PerMac commented on #33176
I started writing this when the duplicated one was not yet available :) Closing this one

[2021-03-09 12:16] #33176 closed

[2021-03-09 12:16] PerMac commented on #33173
Also fails on nrf platforms

[2021-03-09 12:18] pabigot commented on #33173
Yes, it failed at the time the PR was merged.  Apparently something had changed in the baseline since the last time it was tested.  I'll look into it.

[2021-03-09 12:41] rlubos commented on #33021
Any token value is (up to 8 bytes) is good so there's no need to validate it. Token length is validated in `coap_packet_parse()` function. Finally, the `Passing tainted expression *data to taint sink k_free` is not a valid complaint - whatever is stored underneath the `data` pointer should not affect the `k_free` operation.

[2021-03-09 12:41] #33021 closed

[2021-03-09 13:05] #32924 closed

[2021-03-09 13:16] #32774 closed

[2021-03-09 13:17] galak commented on #33171
If there isn't a vendor HAL I don't think we should create one.  Instead the defines and such should just live with the drivers as native Zephyr drivers.

[2021-03-09 13:54] andyross commented on #33168
I don't understand.  Some of the tests need to allocate memory from the system pool, CONFIG_HEAP_MEM_POOL_SIZE controls the size of of the system pool.  Apparently you discovered that it needs at least 184 bytes (== 23 chunks in this situation) to pass.

That all sounds expected to me.  Why do you think 64 bytes should be enough, exactly?  Am I not understanding a detail somewhere?

[2021-03-09 14:08] #33035 closed

[2021-03-09 14:08] #33067 closed

[2021-03-09 14:19] julien-massot commented on #33171
I tend to follow the @galak point of view, but as a new comer I'm totally open regarding the subject.

From what I see In Linux tree these #define are pretty stables across the differents SoC series,
and should be for the next one. So it should be manageable without so much #ifdef in the Zephyr code base.
If this argument begin to be wrong, or if there is a mutual effort between the different RTOS

[2021-03-09 14:23] #33096 closed

[2021-03-09 15:06] #33089 closed

[2021-03-09 15:31] #33024 closed

[2021-03-09 15:33] #33049 closed

[2021-03-09 15:33] #33076 closed

[2021-03-09 16:03] huawei-wojciech-zmuda opened #33185 "TCP traffic with IPSP sample not working on 96Boards Nitrogen"
Hello,

I'm trying to get the Bluetooth IPSP sample application working on 96Boards Nitrogen. I follow the readme and the connection itself and pings work fine, but the `echo-client`  and `telnet` examples do not work. Below please find results of my debugging. I cannot narrow down the reason of the problem, but I've noticed some interesting patterns.

## Hardware and software setup

I have tried

[2021-03-09 16:08] kaansenparlak commented on #32860
Just made the pull request requested. The 2 board files that are added are the devices that I used. (nRF52840 (from nRF9160 DK) and nRF52810 (from a 3rd party))

[2021-03-09 16:09] andyross commented on #33168
CONFIG_HEAP_MEM_POOL_SIZE is the number of bytes allocated to a general heap provided by the system as k_malloc() et. al.  The system itself does not use it for the most part.

[2021-03-09 16:16] jharris-intel commented on #33168
There will always be a certain amount of fixed malloc overhead, I don't know how much exactly. It wouldn't surprise me if it was up to a few hundred bytes, especially if the allocator is using a complex scheme under the hood.

[2021-03-09 17:00] StefJar commented on #32261
I set up some break points

The hard fault comes at

https://github.com/zephyrproject-rtos/zephyr/blob/master/kernel/init.c#L410
[code]
I give a screenshot before it fails
![Screenshot from 2021-03-09 16-57-47](https://user-images.githubusercontent.com/8638279/110508423-e52b5880-80f8-11eb-864b-8ef47376ca48.png)

[2021-03-09 17:08] nashif commented on #32261
@dcpleung can you please take a look? Not sure why it was assigned to me.

[2021-03-09 17:12] carlescufi commented on #31217
API meeting 9th March 2021

Conclusion is to go with the approach described as Alternative 1: deprecate `flash_write_protection_set ()` and unprotect/protect the flash on each call to `write` or `erase`.

[2021-03-09 17:21] jharris-intel commented on #33104
It's not the _work queue_ that I'm concerned about here, it's the _work queue items_, and in particular _data associated with the work queue items_.

The current approach appears to solve half of the problem.

Again, coming back to the example: I wish to have no more than 4 outstanding work items for `deferred_foo()` . I have a static pool of 4 `struct foo_work {struct k_work work; non_atomic_stru

[2021-03-09 17:22] jukkar commented on #33104
Good notes, I did not check the documentation but some kind of BKM (Best Known Methods) about the usage would be nice to have in the documentation.

[2021-03-09 18:19] pabigot commented on #33104
OK, so let me go back to this original comment and leave the general case of a pool of work items aside.

Lots of Zephyr use of delayable work items are doing things like:

[code]

But the cancel does *not* guarantee that whatever data you operate on in stuff() is not being acted on by a work item, because the work item can still be running.  So it's wrong.  You can't just avoid a lock by asynchro

[2021-03-09 18:36] jukkar commented on #33185
Thanks for a great analysis, really helpful.
Did the TCP work for you in the past, if yes, have you tried to bisect the issue?
I checked the pcap file, it looked just fine. I try to get some time to investigate this later this week.

[2021-03-09 18:37] dcpleung commented on #32261
I don't have a STM32 board with me right now so I cannot debug on hardware.

Here are the stack size kconfigs after build `hello_world` with board `stm32f412g_disco`:

[code]

Could you try doubling these? It's how I usually try to see if the problem is stack overflow.

Also, do you remember which commit on master where your code worked? If not, a good starting point would be the v2.5 release. It

[2021-03-09 18:40] jukkar commented on #33185
You can also enable debugging for IPv6 and network interface
CONFIG_NET_IPV6_LOG_LEVEL_DBG=y
CONFIG_NET_IF_LOG_LEVEL_DBG=y
also you need to increase the amount of strdup buffers
CONFIG_LOG_STRDUP_BUF_COUNT, put here some large value (default is 8 if BT is enabled) if you have enough memory, something like 64 or similar should be enough if you have many debugging options enabled.

[2021-03-09 18:52] jenmwms commented on #32603
Ok that helps to know it is this platform only. However, my comment was regarding the kernel service itself k_busy_wait(). If something is broken in that service, we would see that service fail in other tests where it is used. It is used extensively across tests, across platforms. So, even if it is only on acrn_ehl_crb, we would anticipate k_busy_wait() service to fail in other cases on this platf

[2021-03-09 19:09] jharris-intel commented on #33104
Yeah...

You can wrap the entire thing in a lock, sometimes. And now you're wrapping a locking API in your own locking API, which is has unfortunate implications for performance, especially on SMP, and especially as k_work is often used in things that are relatively performance-sensitive (e.g. offload from ISRs).

I am also somewhat confused as to why `cancel` can't be synchronous/blocking, but th

[2021-03-09 21:07] mbolivar commented on #33153
Hi again. I can't reproduce this. The repro steps say:

I'm not sure what this means exactly since there are multiple ways to build an application.

The [board docs](https://docs.zephyrproject.org/latest/boards/arm/nucleo_f401re/doc/index.html) say you can use this:

[code]

Which is the usual way. I tried this on my Linux machine and got a runners.yaml as expected. I'm not sure what's going on in

[2021-03-09 21:11] mbolivar-nordic commented on #33153
(Reposting from the right GitHub account)

Hi again. I can't reproduce this. The repro steps say:

I'm not sure what this means exactly since there are multiple ways to build an
application.

The [board docs](https://docs.zephyrproject.org/latest/boards/arm/nucleo_f401re/doc/index.html) say you can use this:

[code]

Which is the usual way. I tried this on my Linux machine and got a
runners.yaml a

[2021-03-09 21:12] jharris-intel commented on #33104
I didn't say it did - in fact I said otherwise:

Fundamentally, if you're trying to lock something in a nonblocking context, you have to either:

1. Occasionally error out.
2. Occasionally spin (or deadlock)
3. "doctor it hurts; well don't do that" -> i.e. make sure you never get into the nonblocking context with the lock held by something else.

This is agnostic of the lock implementation you are

[2021-03-09 21:18] glenn-andrews commented on #33153
Sorry for the ambiguity. I used the build method in the Getting Started guide.

I tried again with a different sample using the following command:

west build -p auto -b nucleo_f401re samples\subsys\shell\shell_module

Once I did that, "west flash" operated as expected.

My guess is since I built it before openocd was installed, it wouldn't build the runners.yaml file until "-p auto" was provided.

[2021-03-09 22:19] huawei-wojciech-zmuda commented on #33185
Hey @jukkar, thanks for taking a look.

I'm barely starting learning Zephyr. I got some BLE experience recently and I'm now trying to add IP-over-BLE experience to finally get MQTT working on top of it. I've never tried to get it running before, therefore I haven't tried bisect, as I don't know if there was a working revision in the past.

I added debug options you recommended. I could get `CONFIG

[2021-03-09 22:29] laurenmurphyx64 commented on #32469
It seems to be working for me at least. :+1:

[2021-03-09 22:44] ballardr opened #33192 "LoRaWAN - Application fails to start if module is not powered"
LoRaWAN - Application fails to start if module is not powered
------

**Describe the bug**
When a LoRa module is attached, LoRaWAN (and other associated switches in proj.conf) are enabled, but power is not enabled to the LoRa module, the main thread fails to run the user code (that inside main() ). It also does not print the banner (*** Booting Zephyr OS build zephyr-v2.4.0-3155-gc19c6fb438b9  ***

[2021-03-09 22:44] MaureenHelm commented on #33029
@BoschSensortec will you please take a look?

[2021-03-09 22:44] MaureenHelm commented on #33073
@BoschSensortec will you please take a look?

[2021-03-09 22:45] ballardr commented on #33192
@Mani-Sadhasivam, I believe you are the maintainer for the LoRaWAN, LoRa and SX12xx modules

[2021-03-09 23:05] ballardr commented on #33192
I tried enabling the power to the module after the system had been in the not working mode (ie booted without power, and the user code was thus not running), and at that point got a log message:
[00:26:43.065,704] <inf> sx1276: SX1276 Version:00 found
and then the user code started to run.

This may be a similar issue to one I had, where in my case the system would not boot if the kernel could not

[2021-03-09 23:26] MaureenHelm commented on #33171
I agree. We also have a policy that modules are for externally maintained projects, and that code written for Zephyr should be contributed to the main tree.
https://docs.zephyrproject.org/latest/guides/modules.html#modules-external-projects

[2021-03-09 23:33] moose-rivieh commented on #33147
Yeah, that is wired. I don't believe I have other things that could be setting it. I don't know how exactly environment variables work, but I thought by calling export ZEPHYR_TOOLCHAIN_VARIANT=zephyr, I am explicitly setting that variable to zephyr regardless if other systems are setting it differently. Is there a more bulletproof way to set this variable? Is there a file that I can manually edit?

[2021-03-10 02:24] LeiW000 commented on #32966
@hakehuang @ioannisg , could you take look at it? It blocks the testing with twister on almost all ARM boards.

[2021-03-10 03:10] ycsin opened #33196 "I2C doesn't work on STM32F103RE"
**Describe the bug**
I am trying to write a driver for Kionix KX22 I2C accelerometer to be used my STM32F103RET6 custom board. Prior to this I've not tried the I2C function on Zephyr RTOS. Upon testing the KX022 driver, I found out that the I2C doesn't seem to work. Seems like it is not even able to generate a START condition.

I have this in my `board_defconfig`:
[code]

`board.dts`:
[code]

`prj

[2021-03-10 03:12] qin-zou commented on #30943
@erwango So far, I have not been able to reproduce the issue with my current image. Once I hit the same MPU fault, I'll try the patch from #31481.

[2021-03-10 03:20] enjiamai commented on #32603
Hi @jenmwms, Yes, just like you said, I check it and also found this test case actually failed in the commit you mention. There is some thing wrong with previous test report. This issue happened more earlier than I excepted. Please give me some time to check it,  thanks so much for your feedback!

[2021-03-10 06:46] raveenp opened #33200 "USB CDC ACM sample application fails to compile"
**Describe the bug**
usb cdc sample application using below prj.conf fails to compile,
samples/subsys/usb/cdc_acm/prj.conf

CONFIG_USB_DEVICE_PID is defined with "0x" without proper value, that's creating the compilation failure.

**To Reproduce**
cmake -GNinja -B ./zephyr/samples/subsys/usb/cdc_acm/build/ -DBOARD=bcm958402m2_m7 -DZEPHYR_MODULES=zephyr/cmsis zephyr/samples/subsys/usb/cdc_acm

ninj

[2021-03-10 07:30] erwango commented on #30943
@qin-zou If you cannot reproduce the issue. It would be nice to close. It's still possible to re-open later and it helps us to keep the database at a reasonable level.

[2021-03-10 07:31] #33153 closed

[2021-03-10 08:12] Nukersson commented on #31593
@xhpohanka Sorry, I do not have currently the capacity to work on this topic. How is it going? Does provided changes fixed your problem?

@jukkar Thanks for your very fast support!

[2021-03-10 09:26] ioannisg commented on #32966
@LeiW000 isn't this fixed now in master?

[2021-03-10 09:43] cvinayak opened #33203 "Bluetooth: host: ISO: Missing terminate reason in ISO disconnected callback"
**Is your enhancement proposal related to a problem? Please describe.**
An application would like to cancel a prior invocation of `bt_iso_big_sync` using `bt_iso_big_terminate` leading to `disconnected` callback if the function succeeds to cancel.. Without a reason in the `disconnected` callback, application cannot differentiate a race between local cancellation of sync-in-progress, Remote disconn

[2021-03-10 10:02] rtzu6 commented on #30355
I tried the same setup (3 parallel pings) on 7567f232 and the result is still the same. Either immediately or after a short while, one of the vlan pings stops working.

[2021-03-10 10:13] ycsin commented on #33196
I figured out my custom board complicates this thing: The I2C bus is pull up by a GPIO, which was used as a means to turn the accelerometer on or off. I have a `board.c` to initialize the pin to high at `Application` but that was too late as the I2C initializes before that and it has no way of setting the GPIO to high state. I fixed this issue later on by changing the initialization to `POST_KERNE

[2021-03-10 10:20] ycsin commented on #33196
In `i2c_ll_stm32.c`

Line 194:

[code]

After the code above the SDA & SCL lines are reset to ground, I'm not sure if this is expected. Then when the clock is enabled in line 209:

[code]

I think the I2C peripheral starts working prematurely(?) and the CR1->SR2's BUSY flag is set.

![image](https://user-images.githubusercontent.com/1563974/110605055-b0380800-81c3-11eb-9194-ddbffb7dcfc7.png)

Acco

[2021-03-10 10:24] Thalley commented on #32721
@kaiser-ren Btw, have you tried enabling CONFIG_BT_LOG_SNIFFER_INFO?

[2021-03-10 10:41] #32951 closed

[2021-03-10 10:52] ycsin commented on #33196
I also tried `CONFIG_I2C_STM32_INTERRUPT=y` and the log output is the same as without interrupt.

[2021-03-10 11:39] PerMac opened #33207 "twister: Add option to load list with quarantined tests"
**Is your enhancement proposal related to a problem? Please describe.**
The broken test/item under test can cause multiple failures in the final results. Until the problem is solved these failures will "pollute" the results in daily reporting and burden the execution time due to --retry-failed

**Describe the solution you'd like**
I think we can add an argument like `--quarantine-tests <path_to_qu

[2021-03-10 11:57] LeBlue commented on #32898
**Preliminary conclusions**

The whole crash/memory corruption is triggered by the improper cleanup of a `PDU_DATA_LLCTRL_TYPE_LENGTH_RSP` (after peripheral disconnect request?). The fact that it is always this PDU might be either timing related or specific to this PDU.

The current workaround for me that prevents the bug is just to disable this feature in the central.
[code]

[2021-03-10 11:58] carlescufi commented on #32898
Setting priority to high since this is a crash in the Link Layer.

[2021-03-10 12:12] nordic-krch opened #33208 "cbprintf: Package size calculation is using best case alignment"
**Describe the bug**
`cbprintf_package(NULL, 0, ..)` supposes to return required space needed to pack string with arguments. It is using `NULL` address for calculating alignment which is 8 and 16 bytes aligned. However, size depends on initial alignment of the buffer. As a result following code may fail:
[code]

**Expected behavior**
There are few options:
- add requirement that buffer must be ali

[2021-03-10 12:13] nordic-krch commented on #33208
@npitre @pabigot what's your view on this?

[2021-03-10 12:23] pabigot commented on #33208
Document that the buffer needs to be aligned and sized based on the requirements of the arguments, and that if not some format operations will fail due to space lost to enforce necessary alignment.

Or stop trying to do alignment in the packed version.  I can see alternating `%c` with `%llu` being a problem (without looking at how that's actually handled).

[2021-03-10 12:33] Zhaoningx commented on #32966
Hi @ioannisg @LeiW000 , just now, I had a try to run testcases on these platforms manually, it seems frdm_k64f , sam_e70b_xplained and mimxrt1050_evk are good to work in master, but reel_board is still not working, it showed my timeout failure, and the device.log info:

[code]

[2021-03-10 12:41] nashif commented on #33207
good idea, patches welcome.

[2021-03-10 12:50] PerMac commented on #33207
ok, I will work on this

[2021-03-10 13:15] hakehuang commented on #32966
@LeiW000  this happens on all NXP platforms

[2021-03-10 13:37] erwango commented on #33196
@ycsin Thanks for all these details, but I'm still trying to understand what is specific on you're application.

For the record, I2C works on nucleo_f103rb on `samples/shields/x_nucleo_iks01a2` that is performing data read on sevelar I2C sensor devices.

Can you explain what is different in your set up from the above working example ?

[2021-03-10 14:27] thedjnK opened #33212 "GUI configuration system (ninja menuconfig) exists with an error when the windows key is pressed"
**Describe the bug**
Configure a project for any board, run `ninja menuconfig` and press the windows key, it exits out with an error when it should handle it gracefully and ignore the input

**Expected behavior**
For it to not cause an exception

**Impact**
Annoyance

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: Windows 10
 - Toolchain: N/

[2021-03-10 15:01] thedjnK opened #33213 "Configuring a project with a sub-project (e.g. nRF5340) and an overlay causes an infinite configuring loop"
**Describe the bug**
A project for the nRF5340 was configured with an overlay file and it entered an infinite loop of configuring the CPU core over and over and over and over again. This was tested using nRF connect SDK so it could be an issue in that rather than zephyr, I have done no investigation into the cause of the issue.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd

[2021-03-10 15:10] carlescufi commented on #33147
@moose-rivieh please make sure to clean up your `zephyr/` folder completely from any `build/` folders you might have and try again. You can run `git clean -fdx` (careful, this will erase all untracked files) to make sure.

[2021-03-10 15:14] thedjnK commented on #33213
If doing it afresh not on an existing module, also do `ninja menuconfig` to get the infinite loop

[2021-03-10 15:15] #33092 closed

[2021-03-10 15:15] #33095 closed

[2021-03-10 16:13] dleach02 commented on #30105
What is the version it does support?

[2021-03-10 16:42] dleach02 commented on #30105
Just a note, MISRA C:2012 - Amendment 2: Updates for ISO/IEC 9899:2011 core functionality, ISBN 978-906400-25-5 (PDF), February 2020.

This document amends MISRA C:2012 as required to introduce support for ISO/IEC 9899:2011. Subsequent amendments will be used to introduce specific guidance for the features introduced by ISO/IEC 9899:2011

[2021-03-10 17:01] galak commented on #30105
We should look to add something in the docs about the fact that we support C99 and why we don't support something newer.

[2021-03-10 18:58] qin-zou commented on #30943
@erwango Sure I'll close it.

[2021-03-10 18:58] #30943 closed

[2021-03-10 19:26] #32920 closed

[2021-03-10 19:27] #32723 closed

[2021-03-10 19:29] luisgerhorst commented on #32723
Thanks!

[2021-03-10 19:43] nashif commented on #33207
btw, those tests would qualify as the real `skipped`, as opposed to the others which are being filtered.

[2021-03-10 19:50] wldevries opened #33218 "Incorrect documentation CONFIG_LOG_STRDUP_MAX_STRING"
**Describe the bug**
According to documentation `CONFIG_LOG_STRDUP_MAX_STRING` should default to 66 when `CONFIG_BT` is enabled, but it has no effect.

https://docs.zephyrproject.org/latest/reference/kconfig/CONFIG_LOG_STRDUP_MAX_STRING.html

**To Reproduce**
Build a sample with the following minimal `prj.conf`
[code]

**Expected behavior**
I expect `CONFIG_LOG_STRDUP_MAX_STRING=66` to appear in `

[2021-03-10 19:55] #3931 closed

[2021-03-10 20:03] hakonfam commented on #33213
You are using NCS which handles partition management differently from upstream zephyr. Please see https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/scripts/partition_manager/partition_manager.html for details on how to specify the flash partitions you want. In general, only those needed should be included by default. Run `ninja partition_manager_report` to see what is currently inclu

[2021-03-10 20:08] wldevries commented on #33127
Something else I'd like to see as a newbie to Zephyr are links from the documentation of a sample to the source code of the samples in git, or maybe embedded into the documentation as content.

[2021-03-10 20:08] #31254 closed

[2021-03-10 23:23] dcpleung commented on #26491
Done in #29818

[2021-03-10 23:23] #26491 closed

[2021-03-10 23:30] dcpleung commented on #26454
@pabigot is this still relevant after your work queue rework?

[2021-03-10 23:56] dcpleung commented on #17991
Done in #29873

[2021-03-10 23:56] #17991 closed

[2021-03-11 00:04] ceolin commented on #32474
I end up removing the commit implementing it because I found a problem with that. Usually SoCs restore IRQ in the post operations callback and it can cause the idle thread be scheduled out and consequently not sending the notification about leaving a state in the right time. I currently don't have a better answer about how to fix this, if it is define that SoC should not restore IRQ and let it to

[2021-03-11 00:26] pabigot commented on #26454
We don't have a good solution or clear motivation for userspace work queues (with requirements and stakeholder expectations), but the API or at least implementation that's used in supervisor mode isn't one of them.  That's never going to work in usermode, and there's no clear reason why it should.

So the answer is either "yes" if people want userspace work queues, or "no" if people don't care abo

[2021-03-11 00:46] GunZi200 commented on #32919
Would a `zsock_freeaddrinfo(res);` in line 576 resolve this issue?

[2021-03-11 01:19] mnkp commented on #33171
I also agree with the above. However, if we expect that there will be differences between Renesas SoC series, it may be worth keeping all the register related defines in header files located somewhere in `soc/arm/renesas_rcar/`. I'm not familiar with the platform but often the same registers have different addresses on different SoC series (we get the base address of the module from DT but offsets

[2021-03-11 01:33] LeiW000 commented on #32966
It looks that the issue is fixed partially. We still see it on reel_board.

[2021-03-11 03:13] enjiamai commented on #32877
This issue cannot no longer be reproduced after this commit:

zephyr: gitlab mainline commit: 0c45b548e2
zephyr-intel: gitlab mainline commit: 8bb8831

So I recommend close this issue.  @jenmwms

[2021-03-11 03:28] KangJianX commented on #32836
@andyross Should I run all tests on ADSP?

[2021-03-11 04:01] Mani-Sadhasivam commented on #33192
@ballardr This issue is very generic and not specific to lora. I'm currently away from my dev board, so please test the below patch and see if it fixes your issue:

[code]

[2021-03-11 04:13] ballardr commented on #33192
Thanks @Mani-Sadhasivam, that fixed the issue. When will the patch be incorporated into the master branch? I better not close until it's patched.

[2021-03-11 05:07] Mani-Sadhasivam commented on #33192
Thanks for testing! I'll submit a PR and link this issue so that the closing can happen when the PR is merged.

[2021-03-11 05:50] Zhaoningx commented on #32963
Hi @jfischer-no , Could you comment my question above? Thanks

[2021-03-11 07:02] manoj153 opened #33233 "uart9 missing from <st/h7/stm32h7.dtsi>"
Hi, I've been using the dev kit stm32 nucleo_h723zg and noticed one of its uart (UART9) is not supported, Any particular reason?

[2021-03-11 08:08] erwango commented on #33233
@manoj153 No particular reason aside that it missed to no one until now. Feel free to add it via a pull request.

[2021-03-11 08:44] FRASTM opened #33238 "tests: drivers: pwm api fails on many boards"
**Describe the bug**
tests/drivers/pwm/pwm_api/  fails on several stm32 boards:
including disco_l475_iot1, nucleo_f429zi, nucleo_g071rb, nucleo_ g474re, nucleo_wb55rg, etc

This bug is related to the PR "_tests: pwm_api: Convert to use DEVICE_DT_GET_"  https://github.com/zephyrproject-rtos/zephyr/pull/32560

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p auto -b disco_l475_iot1

[2021-03-11 08:50] burumaj commented on #33108
The docs for porting a new architecture can be found here (https://docs.zephyrproject.org/latest/guides/porting/arch.html). This is more related to adding a new SoC based on an already supported architecture.

[2021-03-11 08:57] julien-massot commented on #33171
Indeed the R-Car family is large. What I can tell is that these registers are valid for D3, E3, M3, H3, anv V3 SoC within the Gen 3 SoC series. Differences may occurs when dealing with clock tree and pinctrl. which will require a file per SoC. About the next Renesas R-Car SoC series I don't have the registers definition yet, but from what I see in Linux for supporting a V3 Gen4 based SoC it shares

[2021-03-11 09:08] explora26 commented on #33238
The blackpill_f411ce board not work, too.

[2021-03-11 09:09] Zhaoningx opened #33239 "lib/rbtree: Remove dead case in rb_remove()"
**Describe the bug**
I find some code that never been reached  here in rb.c(lines 486~489) , the code screenshot as below:
![image](https://user-images.githubusercontent.com/62736294/110754918-4e3ed780-8283-11eb-94d1-dee897af713c.png)
let's do something firstly, Naming node that ready to be removed as A, and naming the biggest node of side 0 about A  as B, so let me show you my point.
After my ana

[2021-03-11 09:47] carlescufi commented on #33171
+1. If the code is written for Zephyr, then it should be in the main tree. Unless you can find an SDK from Renesas themselves that provides all the register definitions, then we just keep the code in-tree.

[2021-03-11 09:51] manoj153 commented on #33233
thanks, I am working on it. Will PR

[2021-03-11 09:52] carlescufi commented on #33171
Closing this as won't do. Please submit the code directly to the main tree.
Thank you for the contributions!

[2021-03-11 09:52] #33171 closed

[2021-03-11 10:24] #33137 closed

[2021-03-11 10:48] #32835 closed

[2021-03-11 11:37] #14442 closed

[2021-03-11 11:39] PerMac opened #33247 "twister: tests: Add test verifying integration mode / integration_platforms"
**Is your enhancement proposal related to a problem? Please describe.**
The integration mode / integration_platforms list can stop operating as it should. It already happened here https://github.com/zephyrproject-rtos/zephyr/issues/32835. This can cause severe problems: the faulty code can get merged into the main due to CI not verifying it in the proper scope (already seen due to the linked issue

[2021-03-11 11:47] FRASTM commented on #33238
the test_task() in the test_pwm does not accept the `device_is_ready(pwm_dev)`  but the initial  `if (!pwm_dev)`

[2021-03-11 12:07] carlescufi commented on #30026
Any news @hguomin8?

[2021-03-11 12:08] carlescufi commented on #32256
@Ripitchip00 can we close this as per @LingaoM's comment above?

[2021-03-11 12:39] jukkar commented on #33185
I found the issue. This was nothing to do with IPSP, you just managed to be the first person to report this when using IPSP.
The issue was that the net-shell `tcp connect` command did not had any timeout in the connect. This meant that the connection was teared down before the peer was able to finish it :facepalm:
Anyway, I tested it with IPSP and the TCP connection is established just fine after

[2021-03-11 12:52] #32137 closed

[2021-03-11 12:58] ioannisg commented on #33122
I think this can work, yes. Basically, we need a way that the cache API is available in device- and arch-level.

In the example you refer to @carlocaione , the API was defined at device-level, and the implementation hooks up arch- functions.
In this current scenario, the arch-level API already exists, so to follow your suggestion we need an - additional - device level API. I'd like to get some mor

[2021-03-11 12:59] ioannisg commented on #33122
CC @carlescufi @ceolin

[2021-03-11 13:00] ioannisg commented on #33123
CC @ceolin @andyross

[2021-03-11 13:13] martinjaeger opened #33253 "STM32G4 with USB-C PD: Some pins cannot be used as input by default"
**Describe the bug**

The USB Type-C and Power Delivery Dead Battery feature requires 5k pull-downs on `UCPD1_CC1` and `UCPD1_CC2` pins (`PB4` and `PB6` on STM32G474 series MCUs).

These pull-downs are enabled by default and need to be actively disabled in order to use those pins as inputs.

**To Reproduce**

Configure PB4 or PB6 as inputs using the GPIO API and pull them up externally with e.g. 5

[2021-03-11 13:30] erwango commented on #33238
Same issue on frdm_k64k:
[code]

[2021-03-11 13:32] erwango commented on #33238
@anangl can you have a quick look ?

[2021-03-11 13:40] ball-hayden commented on #14309
@nashif / @pabigot - do you have a link to the PR that fixed this issue, please?
(I'm trying to trace whether this has landed for our fork yet)

[2021-03-11 13:45] pabigot commented on #14309
#32127 supplies the necessary information.  There's very little infrastructure to actually use this data yet, and the API is still evolving (#32547).  But the data from DTS is now available, so this is closed.

[2021-03-11 13:49] #32927 closed

[2021-03-11 13:51] ball-hayden commented on #14309
Thank you. To clarify, then, the example you give ("when suspending a SPI device, we might also suspend SPI Controller") is _not_ yet implemented?

[2021-03-11 13:53] pabigot commented on #14309
Correct, no drivers have been updated to do this.  I expect it will ultimately be done using the device power management API, which is currently being discussed elsewhere (I don't know exactly where).

[2021-03-11 14:10] LeBlue commented on #32898
@cvinayak

I am not sure if DEBUG_KEYS will be even necessary as the pdu release into wrong pool happens before keys are exchanged. The **crash** happens on next connection and pair attempt where the the buffer pool is already corrupted (step 5). The corruption already happens when bluez uses wrong/outdated keys to connect/update sec level (step 3).

Logs from step 3: reconnecting with invalid key

[2021-03-11 14:24] LeBlue commented on #32898
@cvinayak
Since I used the nrf52840dk as sniffer instead of debugger there are no gdb logs. Should this be necesssary or any additional info I can rerun the tests with both.

[2021-03-11 15:05] de-nordic commented on #33142
Configuration problem. Not an issue.

[2021-03-11 15:05] #33142 closed

[2021-03-11 15:06] huawei-wojciech-zmuda commented on #33185
Hey @jukkar, that fix is helpful, but I can't say it closes the issue. I tested it and can observe the following:

- it is now possible to connect from Zephyr to netcat server on my PC
- it is now possible to send a message using such connection from Zephyr to my PC
- it is **not** possible to connect from my PC to the listening Zephyr (and I can see it is in fact listening in `net conn`)
- it is

[2021-03-11 15:07] GunZi200 commented on #33027
This code looks very similar: https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/logging/log_core.c#L116 could the slight differences between `log_core.c` and this code that could trigger the error?

For example in log_core.c we have:

[code]

But this function in `cbprintf_packaged.c`
[code]

I am specifically wondering about this part: `extern const char *` <--> `extern char`

[2021-03-11 15:08] jukkar commented on #33185
Thanks for the info. I did not try all the combinations, I will retry this now.

[2021-03-11 15:08] #33034 closed

[2021-03-11 15:13] erwango commented on #31290
@galak, I wonder what could be the best process for this change. Do you think it relates to https://github.com/zephyrproject-rtos/zephyr/issues/32225 ?

If not, then I think we should wait for 3.0 anymore (as this would be long now it is delayed).
So maybe a warning on mailing list should be fine.

[2021-03-11 15:18] npitre commented on #33027
On Thu, 11 Mar 2021, Guðni Már Gilbert wrote:

Adding a `const` certainly won't hurt.

In any case, this would gain to be made into some per-architecture
abstraction common to all users.

[2021-03-11 15:51] #32877 closed

[2021-03-11 16:22] carlescufi commented on #33185
Maybe related: https://github.com/zephyrproject-rtos/zephyr/issues/30026

[2021-03-11 16:50] carlescufi commented on #33127
dev-review:

Create a new .css file and prototype/publish to cover this item.
Marketing color/logo guidelines here: https://drive.google.com/drive/u/0/folders/0B8CLJ6f1yrKEMmpaWkItMFhEc28

[2021-03-11 16:58] carlescufi commented on #21809
This is not applicable anymore.

[2021-03-11 16:58] #21809 closed

[2021-03-11 17:00] carlescufi commented on #18934
Closing this in favor of #25663

[2021-03-11 17:00] #18934 closed

[2021-03-11 17:00] carlescufi commented on #17314
As per @d3zd3z, close this as won't do.

[2021-03-11 17:00] #17314 closed

[2021-03-11 17:02] carlescufi commented on #6925
This is already addressed as pointed out by @erwango .

[2021-03-11 17:02] #6925 closed

[2021-03-11 17:39] GunZi200 commented on #32949
Aren’t `sock1` and `sock2` the cause of the issue? They are never closed. 🤔 What else could be leaking?

[2021-03-11 17:41] npitre commented on #32192
Tagging myself in.

+1 here too.

Being a fixed point math adept myself I understand the motivation for trying to solve the timeutil API, however this should be dealt separately from the
CONFIG_FLOAT_UNSUPPORTED issue.

[2021-03-11 17:52] CodingGhost opened #33261 "gatt_notify too slow on Broadcast"
I am using ble_gatt_notify to push data to all connected clients, but it is way to slow if multiple devices are connected.
I am passing NULL as connection pointer.

**To Reproduce**
try to get High throughput (MTU > 260) to multiple clients using bt_gatt_notify

**Expected behavior**
it would be expected, that the speed is halfed with 2 devices, but its more like 10% of what it is with just one de

[2021-03-11 18:34] gregshue commented on #33127
As we consider improving the documentation experience, pay special attention to and documents are generated and served for:

- the T2: Star - and T3: Forest topologies (where Zephyr is not the manifest repository)
- security artifacts
- a private, modified fork of Zephyr

While working in private external modules I have needed to verify documentation in portions of the module are automatically pic

[2021-03-11 19:05] cfriedt commented on #33127
I'd really like to see some documentation guidelines for external modules. In particular, because Zephyr's generated doc's are so nice, it would be great if modules could get something similar at near zero cost (i.e. very easily).

E.g. I know that there is a module template repository on GitHub, so if some of the documentation tooling was added there, it would be great.

[2021-03-11 19:27] Ripitchip00 commented on #32256
Sorry, lots of things came up the last weeks.

Yes, this answer does satisfy me. I wanted to test it again with changing the node's address when provisioning but I hadn't time to do it. Nevertheless, thanks for the explanation and the general help, we were able to finish two projects related to Bluetooth mesh :).

Best regards.

[2021-03-11 19:27] #32256 closed

[2021-03-11 19:44] #30121 closed

[2021-03-11 20:01] nashif opened #33265 "Power Management Overhaul"
- [x] Runtime device power management overhaul
   - [x] Device dependency integration with power management
   - [x] Address thread concurrency and move away from work queues when calling _get()/_put APIs in device drivers
   - [x] Address device PM during startup and availability of kernel services
   - [x] Document on the API level per peripheral the PM related interfaces and when a device needs

[2021-03-11 20:53] GunZi200 commented on #31980
Could this be a linker script issue?

[2021-03-11 22:27] jenmwms commented on #32603
I also tried walking the SDK version back a few releases jic, but that did not have effect. Still investigating things.

[2021-03-11 23:11] nashif commented on #32448
I suspect the issue is newlib, we can reproduce this also on qemu_cortex_a53 and qemu_leon3. Given that _exit is being called leads me to believe this is something in newlib, so exceptions might not be enabled?

@galak  any clues re newlib?

[2021-03-11 23:23] key1066 opened #33269 "ILI9341 (ILI9XXX) set orientation function fails to update the display area correctly"
**Describe the bug**
The ili9xxx_set_orientation() function rotates the display but doesn't update the display width and height after rotation, if applicable.

In the ILI9XXX driver (display_ili9xxx.c), ILI9XXX configuration is held in a static const struct with display size attributes x_resolution = 240 & y_resolution = 320. The display is configured for portrait mode. Display rotation works fine

[2021-03-11 23:34] dcpleung commented on #32261
I got the `nucleo_f429zi` board but I have not been able to reproduce it with the following apps and `CONFIG_STACK_SENTINEL=y`:

- `samples/hello_world`
- `tests/kernel/sched/schedule_api`
- `tests/kernel/threads/thread_apis`
- `tests/kernel/workq/work_queue`
- `tests/kernel/fatal/exception`

Is this issue reproducible with any samples or tests apps?

[2021-03-12 01:14] laurenmurphyx64 commented on #32448
Some links I found about compiler / linker issues with newlib and C++ exceptions:
-
- https://miscsolutions.wordpress.com/2019/12/27/using-exceptions-in-c-embedded-software/

From stepping through on `qemu_x86` and checking `zephyr.lst`, I noticed that `__cxa_allocate_exception` and  `__cxa_throw` were being called but instead of checking and catching the exception the app just stepped on through

[2021-03-12 01:47] cvinayak commented on #32898
@LeBlue Thank you for the sniffer log, this is sufficient. I am already analyzing a possible implementation bug in the way a paused control PDU is resumed. If I manage a fix, I will post a PR and ask you to help verify it.

[2021-03-12 02:06] KangJianX commented on #32696
This issue has been fixed, close.

[2021-03-12 02:06] #32696 closed

[2021-03-12 02:20] npitre commented on #32959
The coverity link is giving me a 401.
As I said, this is a false positive.
Closing.

[2021-03-12 02:20] #32959 closed

[2021-03-12 03:01] jenmwms commented on #32603
just a note - this is not an ACPI device so the CONFIG_KERNEL_VM_SIZE should be ok as is.

[2021-03-12 05:04] cvinayak opened #33271 "Bluetooth: controller: Review and back port fixes to Zephyr v1.14-branch"
**Describe the bug**
Review and back port upstream functional bug fixes to Zephyr v1.14-branch

Some of them:

- [ ] https://github.com/zephyrproject-rtos/zephyr/pull/25634
- [x] https://github.com/zephyrproject-rtos/zephyr/pull/27507 --> https://github.com/zephyrproject-rtos/zephyr/pull/33760
- [ ] https://github.com/zephyrproject-rtos/zephyr/pull/31571
- [x] https://github.com/zephyrproject-rtos

[2021-03-12 05:51] enjiamai opened #33273 "The z_smp_reacquire_global_lock() internal API is not used any where inside zephyr code base"
**Describe the bug**
The z_prefix internal API, z_smp_reacquire_global_lock() in kernel/smp.c, which is not used by any code in zephyr project.

**To Reproduce**
1. By shell command **grep z_smp_reacquire_global_lock -rn --exclude-dir={doc, twister-out, build}** , you can only find it is declared and defined, but found nowhere it was called.
2. Run "**twister -T tests/kernel/ -p qemu_x86 --coverag

[2021-03-12 07:19] ycsin commented on #33196
I just check with a MPU6050 and it works after editing `i2c_ll_stm32.c`'s line 244 to

[code]

So I can confirmed that something is wrong with my driver or `main.c`. Will do a PR soon.

[2021-03-12 07:19] #33196 closed

[2021-03-12 07:46] jukkar commented on #32949
Yeah, both sock1 and sock2 are not closed which triggers this Coverity issue.

[2021-03-12 08:05] julien-massot opened #33274 "Support for H3ULCB Renesas board"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
The H3ULCB contains cortex A57/A53 that is often use to run Linux based OS, but also have a Cortex-R7.
The plan is to add support for this Cortex-r7 and some I/O.
The H3ULCB has an H3 SoC (r8a77951) from the R-Car Gen3 SoC series

Here is the checklist to get basic support:

-

[2021-03-12 08:56] tbursztyka opened #33275 "ehl_crb: samples/subsys/shell/shell_module does not work"
samples/subsys/shell/shell_module on EHL does not work at all.

HW dbg shows it went to the fatal exception handling path.

I disabled all the thread related options in the prj.conf:
[code]

And it worked again. So one of this option is broken on EHL.

[2021-03-12 09:29] carlocaione commented on #33122
Isn't exactly the opposite in the `pm_cpu_ops` case? The API is defined at an agnostic level (neither arch- nor device-, just a general interface implemented by weak functions) while the implementation hooks up device- functions (the PSCI driver that is implementing the functions is indeed a device probed by DT).

[2021-03-12 10:02] carlocaione commented on #32741
update: this is currently on hold waiting for all the userspace work to be merged.

[2021-03-12 10:41] tomchy opened #33280 "drivers: serial: nrf uarte: The application receives one more byte that was received over UART"
**Describe the bug**
The application receives one more byte that was received, due to RX counter alignment upon ENDRX event.
In case of the following sequence of UART events:
 - UART_ENDRX
 - UART_RXRDY
 - TIMER_RXTIMEOUT

The application receives one more byte that was received, due to RX counter alignment upon ENDRX event.

**Expected behavior**
The application should receive the exact amount of

[2021-03-12 12:43] nashif commented on #33273
I think it is safe to submit a PR and remove this, the usage was remove in 1acd8c2996c3a1ae0691247deff8c32519307f17 if I am not mistaken.

[2021-03-12 12:55] nashif commented on #33265
see #14307 for some dependencies..

[2021-03-12 13:00] enjiamai commented on #33273
Got it, thank you! I'll submit a PR for that.

[2021-03-12 13:23] ioannisg commented on #32966
Confirmed. I'll share a fix to this for us to test out.

[2021-03-12 13:48] pietrushnic commented on #18473
Hi all,
we (3mdeb) are getting more and more requests for Zephyr RTOS consultancy especially in light of Google announced they will use Zephyr for [EC in Chromebooks](https://cfp.osfc.io/osfc2020/talk/SXYUQD/). and I wonder if there is any plan to push effort discussed in this issue. If we cannot support that somehow please let us know.

[2021-03-12 13:50] cvinayak commented on #33261
@CodingGhost Please provide details of reproducing the issue like a simple application or modified zephyr sample that I can use for analysis. Tx buffer count are shared across connections, based on how many connections and number of available Tx buffers your throughput will be affected.

[2021-03-12 13:51] CodingGhost commented on #33261
I will try to boil down my app a demo, but It will take some time.

[2021-03-12 13:59] #33185 closed

[2021-03-12 14:06] #33100 closed

[2021-03-12 14:27] nashif commented on #14308
This is similar to how Linux does things using `device_set_wakeup_capable()` and `device_set_wakeup_enable()`, defined in [include/linux/pm_wakeup.h](https://elixir.bootlin.com/linux/latest/source/include/linux/pm_wakeup.h).

[2021-03-12 14:34] jfischer-no commented on #32963
I do not know if qemu is able to emulate USB device controller or whatever, that also does not matter since "There is no USB device support for any qemu platform" in current code base. No drivers. There might be another way to make USB accessible for qemu but I do not want to promise it now and I have to test it first myself.

[2021-03-12 14:39] jfischer-no commented on #33200
@raveenp Does you board (bcm958402m2_m7) has USB device driver in Zephyr OS? No?, then why should a USB sample build for it?

[2021-03-12 14:47] marinbudimir opened #33291 "Using both NET_SOCKETS_SOCKOPT_TLS and POSIX_API fails build"
**Describe the bug**
In my project I am using MQTT TLS so I have `CONFIG_NET_SOCKETS_SOCKOPT_TLS=y`. I am also using Zephyr ESP32 WiFi drivers which automatically select `POSIX_API`. Build fails when using both of this.

**To Reproduce**
Steps to reproduce the behavior:
1. make any zephyr project
2. put following config in prj.conf file
[code]
3. try to build zephyr project
4. see error

**Expecte

[2021-03-12 15:34] nordic-krch commented on #33218
Documentation is from latest master and your commit not. `66` was introduced in https://github.com/zephyrproject-rtos/zephyr/pull/32370/commits/85754127d3100fe8fcab9dc92769f32b7a193c77.

[2021-03-12 15:34] #33218 closed

[2021-03-12 15:48] gmarull commented on #33269
The current display width/height can be obtained using `display_get_capabilities`. As you can see in https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/display/display_ili9xxx.c#L297, the returned values will take into account the current rotation. Is that part failing?

[2021-03-12 16:06] CodingGhost commented on #33261
ok, I kinda sorted it out. a buffer in my code was too small, and because of that the effective packetsize was way too small. Now I have the throughput that I wanted. I dont think it had something todo with Zephyr anymore.

Sorry for the inconvenience caused!

[2021-03-12 16:06] #33261 closed

[2021-03-12 16:28] manoj153 commented on #33233
here in my PR:
https://github.com/zephyrproject-rtos/zephyr/pull/33296/commits/6474d37bc6b61ae7df34345ae0153a566bb10883

[2021-03-12 18:16] jenmwms commented on #32603
Bisect resulted in the following as first bad commit. Seems relevant, I'll keep looking into it-
c2c6bee036bb33eabdabd0587d0c4392f4e239f6 drivers/timer: Remove legacy APIC driver

[2021-03-12 18:51] #30441 closed

[2021-03-12 18:57] #13091 closed

[2021-03-12 19:46] jenmwms commented on #32603
The test progresses slightly if I change the following:
[code]

[code]

[2021-03-12 20:16] andyross commented on #32836
Yes, please continue to run the test cases detailed in this bug as you have time available (but it's OK to presume they aren't fixed if nothing is committed claiming they have been fixed).  They aren't fixed, they're just excluded because with them in the suite the twister run gets stuck.

[2021-03-12 22:01] GunZi200 commented on #32908
It looks like we can remove lines 1734 and 1817 to fix this. The value assignment does not seem to be used.

Does the `if` statement in line 1844 ever evaluate to `true`? Can we remove `ticker_id_prev` alltogether?

[2021-03-12 22:13] key1066 commented on #33269
Thank you for your response.

The `ili9xxx_get_capabilities()` function does return the expected display size, however` ili9xxx_set_orientation()` in `/zephyr/drivers/display/display_ili9xxx.c` does not update the display width (`x_resolution`) & height (`y_resolution`) depending on the rotation.

From my understanding, in `ili9xxx_set_orientation`, for example if we had `display_width` and `displ

[2021-03-12 22:19] GavinGonsalves opened #33303 "__ASSERT does not display message or register info in v2.5.0"
__ASSERT works fine in v2.4.0, but in v2.5.0 it just hangs.

I'm running the following in a QEMU environment attempting to debug:

    __ASSERT_PRINT("__ASSERT_PRINT \n");
    __ASSERT_LOC(false);
    __ASSERT_MSG_INFO("__ASSERT_MSG_INFO \n");
    __ASSERT_NO_MSG(false);

The failure occurs with __ASSERT_NO_MSG(false)

Example output with v2.5.0:
[10/11] To exit from QEMU enter: 'CTRL+a, x'[QEMU]

[2021-03-12 23:00] jenmwms commented on #32603
In the `test_prevent_interruption( )`, the `key` is defined as type `int` and then being used to hold the return of the `irq_lock( )` call. However,  `irq_lock( )` returns an unsigned integer "lock-out key". Something to note, maybe not the root cause yet...

[2021-03-13 01:14] jenmwms commented on #32603
using `k_sleep()` like mentioned above, the `timer_handler( )` is getting called, which prints `timer fired` and the `handler_result` is assigned value of `HANDLER_TOKEN` which is `0xDEADBEEF`.

The test is written such that the interrupts are locked, the timer is init'd, timer is started, then we wait for a time longer than the timer expiration in order to exercise the test of prevent interrupts.

[2021-03-13 03:34] hguomin8 commented on #30026
Please check the btmon.zip attached, I use the "btmon -w btmon.log" command to generate.

Test step as follows:
**Setup RPI host:**
sudo -i
modprobe bluetooth_6lowpan
echo 1 > /sys/kernel/debug/bluetooth/6lowpan_enable
echo 1 > /proc/sys/net/ipv6/conf/all/forwarding
service radvd restart
hcitool lescan
Ctrl+C

**Connect node1**
echo "connect EF:E4:8B:50:0F:71 2" > /sys/kernel/debug/bluetooth/6lowp

[2021-03-13 05:42] andyross commented on #32603
Are assertions not enabled for this build?  Something should have bailed when you tried to sleep with interrupts locked.  That's just not legal, what is happening (illegally -- again, I'm all but certain this is an ASSERT somewhere) is that you're entering sleep and context switching away, which then **enables** interrupts when the next thread (the idle thread in this case) gets to run.  So the ti

[2021-03-13 11:24] StefJar commented on #32261
didn't expected any fails with the CI tests

Maybe the combination of
[code]
causes the problems.

Just in case I am quickly attaching my board defconfig file

[code]

[2021-03-13 12:11] GunZi200 commented on #32949
I have found this test case is enough to reproduce the failing test for `qemu_x86`. It looks like we cannot close the sockets for whatever reason. I'm not sure how to debug this since the logs don't give any location in the code.
[code]

[2021-03-13 12:26] GunZi200 commented on #32942
I think this is a false positive since `sock` is checked with an assertion above:

https://github.com/zephyrproject-rtos/zephyr/blob/bd97359a5338b2542d19011b6d6aa1d8d1b9cc3f/tests/net/socket/af_packet/src/main.c#L168

[2021-03-13 12:48] zephyrbot opened #33311 "[Coverity CID: 219729] Logically dead code in lib/os/cbprintf_packaged.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/b4f5b9e23770f2c9cddf95fef7b9af32da309f7f/lib/os/cbprintf_packaged.c#L379

Category: Control flow issues
Function: `cbvprintf_package`
Component: Other
CID: [219729](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219729)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/b4f5b9e2

[2021-03-13 12:49] zephyrbot opened #33312 "[Coverity CID: 219721] Untrusted array index read in subsys/bluetooth/host/iso.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/b4f5b9e23770f2c9cddf95fef7b9af32da309f7f/subsys/bluetooth/host/iso.c#L1386

Category: Insecure data handling
Function: `hci_le_big_complete`
Component: Bluetooth
CID: [219721](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219721)

Details:

https://github.com/zephyrproject-rtos/zephyr/bl

[2021-03-13 12:49] zephyrbot opened #33313 "[Coverity CID: 219728] Untrusted array index read in subsys/bluetooth/host/iso.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/b4f5b9e23770f2c9cddf95fef7b9af32da309f7f/subsys/bluetooth/host/iso.c#L1421

Category: Insecure data handling
Function: `hci_le_big_sync_established`
Component: Bluetooth
CID: [219728](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219728)

Details:

https://github.com/zephyrproject-rtos/z

[2021-03-13 12:49] zephyrbot opened #33314 "[Coverity CID: 219726] Side effect in assertion in tests/kernel/lifo/lifo_usage/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/b4f5b9e23770f2c9cddf95fef7b9af32da309f7f/tests/kernel/lifo/lifo_usage/src/main.c#L347

Category: Incorrect expression
Function: `test_timeout_lifo_thread`
Component: Tests
CID: [219726](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219726)

Details:

https://github.com/zephyrproject-rtos

[2021-03-13 12:49] zephyrbot opened #33315 "[Coverity CID: 219723] Side effect in assertion in tests/kernel/queue/src/test_queue_contexts.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/b4f5b9e23770f2c9cddf95fef7b9af32da309f7f/tests/kernel/queue/src/test_queue_contexts.c#L363

Category: Incorrect expression
Function: `test_queue_poll_race`
Component: Tests
CID: [219723](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219723)

Details:

https://github.com/zephyrproject-rto

[2021-03-13 12:49] zephyrbot opened #33316 "[Coverity CID: 219724] Side effect in assertion in tests/kernel/queue/src/test_queue_contexts.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/b4f5b9e23770f2c9cddf95fef7b9af32da309f7f/tests/kernel/queue/src/test_queue_contexts.c#L362

Category: Incorrect expression
Function: `test_queue_poll_race`
Component: Tests
CID: [219724](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219724)

Details:

https://github.com/zephyrproject-rto

[2021-03-13 12:49] zephyrbot opened #33317 "[Coverity CID: 219727] Improper use of negative value in tests/lib/cbprintf_package/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/b4f5b9e23770f2c9cddf95fef7b9af32da309f7f/tests/lib/cbprintf_package/src/main.c#L99

Category: Integer handling issues
Function: `test_cbprintf_package`
Component: Tests
CID: [219727](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219727)

Details:

https://github.com/zephyrproject-rtos/ze

[2021-03-13 12:49] zephyrbot opened #33318 "[Coverity CID: 219722] Resource leak in tests/lib/mem_alloc/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/b4f5b9e23770f2c9cddf95fef7b9af32da309f7f/tests/lib/mem_alloc/src/main.c#L233

Category: Resource leaks
Function: `test_reallocarray`
Component: Tests
CID: [219722](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=219722)

Details:

https://github.com/zephyrproject-rtos/zephyr/blob/b4f5b9e23

[2021-03-13 12:54] nashif commented on #33316
false positive

[2021-03-13 12:54] #33316 closed

[2021-03-13 12:54] nashif commented on #33315
false positive

[2021-03-13 12:54] #33315 closed

[2021-03-13 12:55] nashif commented on #33314
false positive

[2021-03-13 12:55] #33314 closed

[2021-03-13 12:57] nashif commented on #32936
false positive

[2021-03-13 12:57] #32936 closed

[2021-03-13 15:33] gregshue commented on #33127
Please anticipate:
- a manifest repository may contain multiple manifests (e.g. one per zephyr fork being supported by the workspace)
- an external module repository may also contain build files, glue code, and documentation for other ecosystems, i.e.
  - documentation discovery must follow `$myModule/zephyr/module.yml`
  - documentation tools must not require necessary files to be in the root of

[2021-03-13 15:55] npitre commented on #33311
This report should be ignored.

The coverity link also gives me a 401.

Here the dead code is dead only on some architectures like x86 where the
alignment is hardcoded to 1. In this case the compiler should rightfully
optimize the dead code away. With other configurations, that code has its
purpose.

[2021-03-13 15:55] #33311 closed

[2021-03-13 16:06] andyross opened #33319 "Kernel doesn't validate lock state on swap"
In an explanation (about k_sleep() inside an irq_lock) in #32603 I invoked the existence of a runtime assertion in the kernel that validated that no thread would enter z_swap() with an outer lock held (i.e. in a context where it holds a lock other than the one it is passing as an argument).

In fact I can't find this assertion.  It probably existed once and got removed, or I'm remembering some deb

[2021-03-13 22:21] vanwinkeljan commented on #33269
@key1066 from the screenshot it looks like you are using LVGL.
Is this a correct observation?

If yes did you updated the field [rotated](https://github.com/zephyrproject-rtos/lvgl/blob/zephyr/src/lv_hal/lv_hal_disp.h#L78) in`lv_disp_drv_t`?

[2021-03-14 01:53] liquiddandruff opened #33322 "Questions on ztest : 1) Can twister/ztests run on windows? 2) Project structure"
### Can twister/ztests run on windows?

I installed the requirements for twister in a virtualenv on Windows but when I try to run it, I get:

[code]

So I tried to see how to install `termios` and it seems this is a unix only package. So how does one run ztests on Windows? If it's not possible the docs don't seem to mention this (only tangentially with `platform_allow: native_posix`).

If that's t

[2021-03-14 02:11] cvinayak commented on #32860
@kaansenparlak Thanks for your PR, I am suspecting that the missing time reservation calculations in the controller implementation (this is still work in progress) could be causing the overlapping radio events to be aborted. This could be verified if you have a Bluetooth Low Energy sniffer, which could show CRC errors (or incomplete PDUs) on the auxiliary and periodic advertising PDUs when such ra

[2021-03-14 02:52] key1066 commented on #33269
Thank you for your suggestion. Yes, I'm using LVGL. No, I haven't updated the field rotated in lv_disp_drv_t.  I'll take a look at your link and preview further.

From my earlier review of LVGL, my understanding from LVGL is that it doesn't rotate the output data itself, it only changes the logical screen size. The ILI9341 driver would still need to inform the ILI92431 controller of the new displa

[2021-03-14 03:43] key1066 commented on #32238
Hi,

Any updates on where things are with getting microbit v2 display support in the next Zephyr  release?

Are we going ahead with your existing changes or are you going to develop a display driver with devicetree bindings as suggested by @carlescufi?

Thanks.

[2021-03-14 07:17] super6602 opened #33324 "Using bluetooth hci_usb sample, and set periodic adv enable, but bluez still shows no command supported"
**Describe the bug**
Attempted to use the samples/bluetooth/hci_usb/ project with
CONFIG_BT_EXT_ADV=y
CONFIG_BT_EXT_ADV_LEGACY_SUPPORT=y
CONFIG_BT_EXT_ADV_MAX_ADV_SET=4
CONFIG_BT_PER_ADV=y
CONFIG_BT_PER_ADV_SYNC=y

to run application over HCI over USB for on a NRF52840-DK. But still shows no periodic adv command supported as below:

**To Reproduce**
Steps to reproduce the behavior:

1. Build sampl

[2021-03-14 07:36] kaiser-ren commented on #32721
I just tried this option, but compiling was failed, how about you? Attached the west build log below:
renkai@Kais-MacBook-Pro zephyr % west build -p auto -b nrf52840dk_nrf52840 ./samples/bluetooth/periodic_adv
-- west build: generating a build system
Including boilerplate (Zephyr base (cached)): /Users/renkai/zephyrproject/zephyr/cmake/app/boilerplate.cmake
-- Application: /Users/renkai/zephyrproj

[2021-03-14 08:22] jhedberg commented on #33324
Those all look like Zephyr host options to me. Probably you need to enable some controller options. @cvinayak

[2021-03-14 10:31] gmarull commented on #33127
@gregshue Current improvements are geared towards user experience improvements, so build infrastructure / options should not be affected. Regarding internet connection: if we end up using a server side search for the official docs the default Sphinx search will still be kept. Thanks for the detailed list by the way!

[2021-03-14 11:05] GunZi200 commented on #33322
I ran into the same question

The documentation here doesn't make it very clear https://docs.zephyrproject.org/latest/guides/test/twister.html

For me I tried to follow the instructions and run `source zephyr-env.sh` and ofcourse that didn't work on Windows. Worked well on VMware.

[2021-03-14 11:43] cvinayak commented on #33324
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/hci/hci.c#L618

The bits are not set in the controller, feel free to send a PR.

Yes, you need to enable then under controller Kconfigs, and use in the board specific conf file:

[code]

Advertising Extensions and dependent features are under development and are for experimental use for now.

[2021-03-14 13:48] KangJianX commented on #32836
You means if testcases run timeout with no output they need be exclude. Maybe I need report issues if testcases run failed with code error?

[2021-03-14 17:21] maxhbr opened #33326 "The gpio-map for adafruit_feather_stm32f405 looks like it contains conflicts"
The `gpio-map` for the **Adafruit Feather stm32f405** maps `&gpioc 4` to both, **A4** and **D10**. Isn't that an issue? For me that looks like a conflict, please correct me if I am wrong.

https://github.com/zephyrproject-rtos/zephyr/blob/7874052df220caf53e9bb6b949f7e6a4c1903311/boards/arm/adafruit_feather_stm32f405/feather_connector.dtsi#L13-L33

This board was added by @rosterloh and @MaureenHel

[2021-03-14 18:18] maxhbr commented on #33326
See: https://learn.adafruit.com/adafruit-stm32f405-feather-express/pinouts, maybe D10 should be `&gpiob 9`?

[2021-03-14 18:47] GunZi200 commented on #32949
I have narrowed the problem down to this line:

https://github.com/zephyrproject-rtos/zephyr/blob/7874052df220caf53e9bb6b949f7e6a4c1903311/subsys/net/lib/sockets/sockets.c#L261

I added some additional print statements to narrow it down, but here is the entire log at the moment:

[code]

[2021-03-14 20:06] liquiddandruff commented on #33322
Usually .cmd is the windows variant for scripts, but looking at `zephyr-env.cmd` it doesn't seem to do anything.

But now that you mentioned it I see how `twister` is intended to be run now: the env just adds the `ZEPHYR_BASE/scripts` dir to path.

[2021-03-14 21:26] beriberikix commented on #15738
FYI, there's an [early patch](https://mail.gnu.org/archive/html/qemu-devel/2021-02/msg04637.html) for QEMU that uses the modern native network emulation features in macOS.

[2021-03-14 22:32] #33273 closed

[2021-03-14 23:39] huawei-wojciech-zmuda commented on #33185
@jukkar and you are right. After a long debugging session (I'll skip the details) I finally narrowed the drop reason down to [this line in 6lowpan module](https://github.com/torvalds/linux/blob/f9c70bdc279b191da8d60777c627702c06e4a37d/net/bluetooth/6lowpan.c#L181). When I initiate TCP connection from my PC, `nexthop` is set to either `::100:40:0:0` or `::100:0:0:0` (one of these, I don't see a pat

[2021-03-15 01:48] cvinayak commented on #32866
@ppluta Please verify this fix: https://github.com/zephyrproject-rtos/zephyr/pull/33328

[2021-03-15 05:11] YanzhouYu commented on #32111
hi @tejlmand Attached more log for the build error, could you please give some help for llvm build on Windows？ Many thanks.

[2021-03-15 07:21] maxhbr commented on #33326
| Name / GPIO        |             |  current mapping | correction |
| ------------- | ------------- | ----- | --- |
| RX / GPIO 0  | PB11 | `&gpiob 11` |
| TX / GPIO 1 | PB10 | `&gpiob 10` |
| SDA / GPIO 14 | PB7 | `&gpiob 7` |
| SCL / GPIO 15 | PB6 | `&gpiob 6` |
|    GPIO 5 | PC7 | `&gpioc 7` |
|    GPIO 6 | PC6 | `&gpioc 6` |
|    GPIO 9 | PB8 | `&gpioc 5` :x: | **`&gpiob 8`** |
|    GPIO 10 |

[2021-03-15 07:34] emillindq opened #33330 "Poll on DTLS socket returns -EAGAIN if bind & receive any data."
**Describe the bug**
I am running into a problem where poll() is called with timeout but returning 0 without waiting. This causes a busy-wait loop which is blocking lower-priority tasks (and essentially all tasks if time-slicing is not enabled). I am doing the following:

1. A DTLS socket is created
2. A call to bind() is done to open up a port.
3. It then loops poll() with a timeout to see if any

[2021-03-15 07:52] FRASTM commented on #33238
Thanks @anangl , I confirm this fixes the issue (tested on disco_l475_iot1)

[2021-03-15 08:19] jukkar commented on #32942
Yep, Coverity does not understand that zassert() does not return.

[2021-03-15 08:19] #32942 closed

[2021-03-15 09:23] #31058 closed

[2021-03-15 09:37] jfischer-no commented on #33324
This can work with BT_HCI_RAW=y ? Have I missed a significant development?

[2021-03-15 09:43] carlescufi commented on #33324
I don't see why not if the controller is using the exact same ones. But it's a good question, @joerchan?

[2021-03-15 10:15] jukkar commented on #32949
Thanks for the analysis. We definitely should be able to close the sockets.
After looking the packet socket code a bit more, I noticed that we are missing close callback for packet sockets. Then we get NULL pointer access when trying to access it. I can send a patch for this in few minutes.

[2021-03-15 10:21] PerMac opened #33337 "twister: Find and fix all "dead" samples/tests"
**Is your enhancement proposal related to a problem? Please describe.**
There exist tests/samples in zephyr, that due to their yamls config, end up with an empty platform scope in the CI regression tests. It is a problem, as errors can leak into the main and won't be found. Such problems were already reported to me a couple of times. A contributor found an error in their PR in location, which the

[2021-03-15 10:23] GunZi200 commented on #32949
@jukkar https://github.com/zephyrproject-rtos/zephyr/pull/33336 here is my attempt.

Using `sock_fd_op_vtable.fd_vtable.close(ctx)` instead is sort of a guess on my part 😃

[2021-03-15 10:25] jukkar commented on #32949
Thanks for the proposal, but I think we need to fix this in packet socket side as I propose in #33338

[2021-03-15 10:51] jeremyherbert opened #33339 "API/functions to get remaining free heap size"
**Is your feature request related to a problem? Please describe.**
When using heap memory pools, it would be useful during debugging/testing to be able to print out the remaining heap, largest contiguous heap chunk, etc. Basically the same as the Thread Analyzer functionality, but for heap memory.

**Describe the solution you'd like**
Something like:
`uint64_t remaining_bytes = k_heap_remaining(..

[2021-03-15 11:09] xhpohanka commented on #31593
Hello @Nukersson,

fixes by @jukkar definitely helped. I still have a feeling that it is not 100% but  so far I fixed it just by providing bigger number of fds and praying that our project is not failing in production....

[2021-03-15 11:42] pfalcon opened #33342 "disco_l475_iot1: Multiple definitions of z_timer_cycle_get_32, etc."
[code]

Full build log: https://ci.linaro.org/job/zephyr-upstream/6078/PLATFORM=disco_l475_iot1,ZEPHYR_TOOLCHAIN_VARIANT=zephyr,label=docker-xenial-amd64-13/console

[2021-03-15 12:05] cvinayak commented on #32860
@kaansenparlak Please verify #33343 also.

[2021-03-15 12:08] joerchan commented on #33324
Yes, they should work fine. Setting `CONFIG_BT_EXT_ADV=y` would be wise as that handles some of defaults for buffer sizes `BT_BUF_RX_LEN` for example.

Could ask ourselves if we actually need the BT_CTLR features in this case though. @cvinayak

[2021-03-15 12:33] cvinayak commented on #33324
BT_CTLR features depend on Vendor/SoC support. Let keep h/w depends out of  Host/Common Kconfig. A sample should build clean, and return error codes to indicate if a feature is not supported.

[2021-03-15 12:34] FRASTM commented on #33342
this should fix double definition #33285

[2021-03-15 12:42] erwango commented on #33342
@pfalcon thanks for the issue, a PR is submitted, I'm waiting for review...

[2021-03-15 13:06] Thalley commented on #32721
@kaiser-ren I haven't tried that myself yet (I'm unfortunately quite busy at the moment). If the compile fails, then I guess we should create another Github issue for that :) This enhancement is still valid regardless though.

[2021-03-15 13:17] SpooniSpoon commented on #25865
@Nukersson  Could you solve this issue? I try to use SRAM3 of H743 to solve D cach issues.

[2021-03-15 13:28] jukkar commented on #33185
It looks like the address contains just some garbage, the values are not valid in this case.

[2021-03-15 13:37] jukkar commented on #33185
Most probably the `lowpan_cb(skb)->gw` is not initialized for TCP connections.
The 6lowpan in Linux side would likely work ok for TCP  if the gw address is zeroed somewhere.

[2021-03-15 13:47] ppluta commented on #32866
How do I do it? Will west update do?

[2021-03-15 13:48] ppluta commented on #32866
How do I do it? Will west update do?

[2021-03-15 14:03] cvinayak commented on #32866
@ppluta

‘’’
git fetch git@github.com:cvinayak/zephyr.git github_ext_adv_stop_fix && git cherry-pick FETCH_HEAD
‘’’

[2021-03-15 14:04] tejlmand commented on #33212
@thedjnK fixed here: #33347

[2021-03-15 14:17] pabigot opened #33348 "ip/dhcpv4 is not thread-safe in SMP/preemptive thread configurations"
The DHCPv4 implementation maintains a list of interfaces that support DHCPv4, and tracks the state of the DHCP FSM in `net_if_dhcpv4` instances in that list.

Neither the list nor the `net_if_dhcpv4` structures appear to have a defined locking regimen.  As these structures are manipulated by library code triggered by network events and application operations, and by the system work queue thread tr

[2021-03-15 14:20] huawei-wojciech-zmuda commented on #33185
That was my guess also, but I'm happy somebody more experienced in this area feels the same. Let me educate myself on how SKBs work and I'll try to memset it somewhere. Meanwhile I'll appreciate any advice where to look for a proper place to do this. My first take would be either 6lowpan init routine or somewhere nearby the connection init, but perhaps you have a better idea already.

Thanks for y

[2021-03-15 14:34] tejlmand commented on #33213
Although @hakonfam is correct about this belonging in NCS and not upstream Zephyr, then I have tested this out as well, as there should not something causing an infinite CMake loop with Zephyr.

I have tried with the NCS bluetooth sample `peripheral_lbs`, but CMake executed as expected on Windows.
No looping.

But I had to adjust the `test.overlay` to:
[code]
because otherwise I would get: `Label

[2021-03-15 15:12] SpooniSpoon commented on #25865
Thanks for the hint I will give it a try

[2021-03-15 15:19] #32949 closed

[2021-03-15 15:21] gregshue commented on #33127
Most of my list above depends on toctrees improvements to support the **scalability** of the current modular build system (hence "anticipate").  Once we have tools and guidelines for how to organize and navigate content at scale, populating the content it straight-forward.

[2021-03-15 15:23] laodzu commented on #32514
@Zhaoningx Can you please verify if the bug is really fixed for you?  As I wrote, I still see the problem but I cannot reopen the bug.

[2021-03-15 15:39] gmarull commented on #33269
I think the problem here is that LVGL configures its resolution when it is initialized (see https://github.com/zephyrproject-rtos/zephyr/blob/master/lib/gui/lvgl/lvgl.c#L99) but if you later change it via the display API you need to manually call `https://docs.lvgl.io/latest/en/html/porting/display.html#_CPPv418lv_disp_drv_updateP9lv_disp_tP13lv_disp_drv_t` with the new settings. @key1066 can you

[2021-03-15 15:39] nvincent-vossloh opened #33351 "uart peripheral outputs 7 bits when configured in 8 bits + parity on stm32"
On `nucleo_f746`, when using `UART_CFG_PARITY_EVEN`, the data width is reduced by one bit.
On the following scope capture, I'm sending 0x55 then 0xaa first with parity even, then with parity none. (115200 bauds, 1 stop bit, 8 data bits).
![uart_even_none](https://user-images.githubusercontent.com/77829653/110484118-aa222880-80ea-11eb-946e-7ace322da27f.png)
(serial decoding is configured for 115200

[2021-03-15 15:45] #33238 closed

[2021-03-15 16:01] ppluta commented on #32866
OK, it ran for an hour and then for another half and nothing happened. So this reset seems to be cured.

[2021-03-15 16:02] gmarull commented on #33127
@gregshue multiple toctrees should not affect the build system, it's only about doing the split on the rst side so that we have something like this in the sidebar:

![image](https://user-images.githubusercontent.com/25011557/111183466-397a8080-85b0-11eb-922b-28f87c0540cc.png)

[2021-03-15 16:07] GunZi200 commented on #32940
I believe this is a false positive just like https://github.com/zephyrproject-rtos/zephyr/issues/32942

@jukkar final coverity af_packet issue 😃

[2021-03-15 16:14] npitre commented on #33339
There is `sys_heap_dump()` already, but that presumes familiarity with heap internals.
The first half can be factored out and augmented with actual allocatable sizes.

[2021-03-15 16:19] bkalthoff opened #33352 "Arduino Nano 33 BLE sense constantly resetting."
**Describe the bug**
After building and flashing the hello_world sample the board constantly resets over and over.
I've tried using different the master branch of zephyr and the v2.5 branch but to no avail.
I also tried different version of bossac, one that I built from source and one that came with the arduino IDE.
Flashing with the arduino IDE does not cause constant resetting. I have yet to try

[2021-03-15 16:25] pabigot opened #33353 "work: k_work_schedule from running work item does not schedule"
`k_work_schedule()` is supposed to be a no-op if the work item is already scheduled or submitted: the deadline from the previous schedule operation is left unchanged.

It's not supposed to be a no-op if the work item is running: i.e.

    k_work_schedule(work, K_NO_WAIT);

from within the work handle should work.

It doesn't.

[2021-03-15 16:55] Nukersson commented on #25865
Please feel free to point on needed improvements and add your own commits.

[2021-03-15 16:58] nashif commented on #33337
nrf52_bsim tests afaik have their own workflow and are not tested with twister, they use edtt and a special setup, that is why they are not default and are not executed by default.

saying that such a test is 'dead' is wrong because it would be covered in the daily build which runs on all available platforms. There are probably wrong filter that are real bugs, but this is not an issue AFAIK. If yo

[2021-03-15 17:00] CiochinaVitalie opened #33356 "Using AT HOST fails build"
**Describe the bug**
I am working on the project where is involved SIM 800C module and nrf52832, so I  I tried to use AT HOST library
The risult is Build fails.

**To Reproduce**

1. Generate zephyr project by visualGDB
2.  prj.conf file

- CONFIG_HEAP_MEM_POOL_SIZE=2048
- CONFIG_NRF_MODEM_LIB=y
- CONFIG_AT_HOST_LIBRARY=y
- CONFIG_AT_HOST_CMD_MAX_LEN=256
- CONFIG_AT_HOST_THREAD_PRIO=5
- CONFIG_CR_

[2021-03-15 18:25] jenmwms commented on #32603
Thanks @andyross ! I'm sticking with the `k_busy_wait()`, gtk why it was selected. And yes, this was built with asserts enabled (by default for this test):
[code]
Is it advised to have the CONFIG_APIC_TIMER_TSC set? I can look into it on this board.

Sounds like I need to look into ACRN some here. Did the move to use the new APIC timer driver introduce this use of the APIC CCR register ? But to me

[2021-03-15 18:46] dcpleung commented on #32261
Building with `west build -p -b nucleo_f429zi tests/kernel/threads/thread_apis/ -- -DCONFIG_INIT_STACKS=y -DCONFIG_INIT_ARCH_HW_AT_BOOT=y -DCONFIG_STACK_SENTINEL=y -DCONFIG_STACK_USAGE=y -DCONFIG_FPU=y -DCONFIG_FPU_SHARING=y -DCONFIG_SCHED_MULTIQ=y -DCONFIG_WAITQ_SCALABLE=y` and it's not crashing on my board.

One thing I can think of is that, there are enabled interrupts on your board and they ar

[2021-03-15 18:51] gregshue commented on #33127
@gmarull Understood. I have already made a parallels of the Zephyr document generation system in my draft zephyr module template (https://github.com/gregshue/oot_module_example) and added some rst content into my module. I have already added my module into my local clone of the Zephyr repository and built Zephyr documentation, seeing some of my documentation already appear in the generated Zephyr

[2021-03-15 21:05] bkalthoff commented on #33352
Found success when using UART and finally got some output. Guessing that the cdc_acm driver isn't working correctly.

[2021-03-15 23:40] khutchens commented on #32579
I'm running into this issue as well and separately reached the same conclusion that the `k_fifo_put` and `k_fifo_get` calls are the root cause. `struct net_buf` uses the FIFO next pointer as it's fragment pointer and requires special put/get logic to make that work as far as I can tell. I added a bit of tracing to `zephyr_smp_rx_req()` and `zephyr_smp_handle_reqs()` to show the netbufs. Note the f

[2021-03-16 00:01] beriberikix commented on #15738
I've been testing the patch from @codyd51 and it seems to correctly create network interfaces 🎉 ! I'm at the point where someone more experienced with Zephyr might be needed.  My particular test is with `qemu_cortex_m3` (since [x86 doesn't work](https://github.com/zephyrproject-rtos/zephyr/issues/10945#issuecomment-751499639) on macOS) and after I build with an echo test, here's what I'm seeing:

[2021-03-16 00:08] andyross commented on #33339
FWIW: I think there's an open enhancement request for this already.  FWIW: an option to keep a running count of chunks available in a heap and an API to plumb it out to the user would be really pretty straightforward for anyone who wanted to get their hands dirty.

[2021-03-16 00:18] khutchens opened #33363 "Properly indicate ISR number in SystemView"
**Is your enhancement proposal related to a problem? Please describe.**
When recording traces via SystemView, all ISRs share IRQ number 0, which makes ISR tracing pretty useless.

**Describe the solution you'd like**
SystemView should show the individual ISR as separate traces with the correct IRQ numbers.

This is a pretty easy change since the SystemView tracing backend already provides [`sysvie

[2021-03-16 00:26] andyross commented on #32836
@KangJianX : the rules aren't that weird:

1. Report any failures with any test that is not excluded.
2. Please periodically retest these tests manually (no need to be daily or anything) and report any notable differences in behavior from what is described above.

[2021-03-16 01:02] jrhees-cae commented on #32579
@khutchens Thanks for digging into this more deeply. I haven't had cycles to do it myself.

[2021-03-16 03:13] npitre commented on #33339
Please see PR #33364.

[2021-03-16 03:21] npitre commented on #33339
On Mon, 15 Mar 2021, Andy Ross wrote:

The actual free space doesn't depend
directly on the number of available chunks though. The largest possible
allocation might be more useful to applications.

[2021-03-16 03:21] JeremyBCD opened #33365 "Add STM32H7 Series USB Device Support"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
This request addresses USB device driver support on the STM32H7 series. It is not currently supported by Zephyr.

**Describe why you are asking for this support?**
I have attempted to bring up USB device support myself (see below), but need help understanding where some of the

[2021-03-16 05:11] Zhaoningx commented on #32514
Hi @laodzu , after double check, It is not really fixed, I saw the report of yesterday, the failures of coredump is still met. See log as below:
![image](https://user-images.githubusercontent.com/62736294/111259029-16f07200-8659-11eb-94f6-8fc1cdba4065.png)
so I reopen this.

[2021-03-16 08:15] s-kelvin opened #33371 "mec15xxevb_assy6853: tests/drivers/gpio/gpio_basic_api/ failed"
**Describe the bug**
drivers.gpio.2pin.gpio_port in tests/drivers/gpio/gpio_basic_api/ failed.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mec15xxevb_assy6853 -p auto tests/drivers/gpio/gpio_basic_api/
2. west flash
3. see error

**Expected behavior**
Test suite should pass.

**Logs and console output**
[code]

**Environment (please complete the following information):**
 -

[2021-03-16 08:44] jukkar commented on #33291
There are conflicts if one selects `CONFIG_POSIX_API` and mbedtls. You can also try if `CONFIG_NET_TCP_ISN_RFC6528=n` if it helps (see commits 51beb28ac9ff53e8aaea1344bdd2abb70a6e75ef and 6526b5b23277a16e5394d506dfab88e29bba8fb4 for some details).

[2021-03-16 08:58] jukkar opened #33374 "Network interface routines are not thread safe"
Various API functions in `net_if.h` are not thread safe and need locking added to them.

[2021-03-16 09:02] #33326 closed

[2021-03-16 09:47] ppluta opened #33378 "Extended advertising switch on / switch off loop impossible"
**Describe the bug**
A loop of bt_le_ext_adv_start() - bt_le_ext_adv_stop() sequences executes properly only once. All subsequent iterations give this warning and error:
[00:00:23.551,635] <wrn> bt_hci_core: opcode 0x2039 status 0x0c
[00:00:23.551,635] <err> bt_hci_core: Failed to start advertiser

followed after few times by:

[00:00:28.552,062] <wrn> bt_hci_core: opcode 0x2039 status 0x07
[00:00

[2021-03-16 11:06] mkarhumaa opened #33381 "West debug does not work with Bluetooth shell and nRF52840 DK"
**Describe the bug**
`west debug` does not work anymore with Bluetooth shell on nRF52840 DK. According to git bisect, commit [enabling null pointer detection in tests](https://github.com/zephyrproject-rtos/zephyr/commit/1b22f6b8c8531c06d4d644b8bf18b729ecdc7db4) caused this problem.

Inspired by [this change](https://github.com/zephyrproject-rtos/zephyr/pull/32983) I was able to figure out workarou

[2021-03-16 13:05] #32478 closed

[2021-03-16 13:09] stephanosio commented on #33164
@andyross That is indeed the case. https://github.com/zephyrproject-rtos/zephyr/pull/21518#issuecomment-567879873 This sort of died out because nobody really pursued it.

[2021-03-16 13:13] Zhaoningx commented on #33239
It has fixed, so closed.

[2021-03-16 13:13] #33239 closed

[2021-03-16 13:24] ioannisg commented on #32966
@LeiW000 I submitted a PR that addresses the issue with the reel_board (essentially, a pyocd issue). Could you please check if you can run CI on reel_board using #33386 ?

[2021-03-16 13:48] ioannisg commented on #32741
That's ok.

[2021-03-16 14:12] mniestroj commented on #32579
Thanks for testing! I have looked once again into `net_buf_put` and `net_buf_get` and it seems that using them is the right thing to do. The problem with `k_fifo_get()` is that it returns a net_buf object (lets call it `nb`), which will have `nb->frags != NULL` whenever there was more than a single element in the queue (FIFO). We can solve that in two ways. One way is to clear `nb->frags = NULL` a

[2021-03-16 15:23] #33342 closed

[2021-03-16 15:33] FRASTM commented on #33351
I see that "The frame format consists of a set of data bits in addition to bits for synchronization and optionally a parity bit for error checking..
.The data length can be 9, 8, or 7 bits with the **parity bit counted**. "
![stm32_uart_parity](https://user-images.githubusercontent.com/51417392/111336254-59c04300-8675-11eb-9ddb-082c0c4cfe36.png)

[2021-03-16 15:51] jrhees-cae commented on #32579
It may be worth an audit of other modules in Zephyr to see if this change (e.g. using k_fifo... api's with netbufs) needs to be applied elsewhere.

[2021-03-16 15:53] nvincent-vossloh commented on #33351
On STM32 hardware (at least the few ones I checked), yes, the parity bit is counted in the data length, I do not discuss that point.
My question is on zephyr API side, does the `UART_CFG_DATA_BITS_x` macros specify the length with the parity bit counted.

[2021-03-16 15:53] mniestroj commented on #32579
I've taken a pretty quick look at other modules and didn't see issues there. But it would be good if others can confirm.

[2021-03-16 16:01] rlubos commented on #33330
Thanks for reporting, indeed this seems to be a valid issue. I just wanted to clarify that we're on the same page first. In the first paragraph you wrote:

and the further in the analysis:

Are you sure about the former statement? Because what I've observed was indeed a busy loop, but all inside a single `poll()` call. Setting a timeout for the `poll()` and sending some dummy data caused the `poll

[2021-03-16 16:02] kaidoho commented on #33164
Hi, I've never received a response to

https://github.com/zephyrproject-rtos/zephyr/pull/21518#issuecomment-575305481

fixing the issues with newlib has always been just a tiny bit of a bigger picture. To make Zephyr OS applicable for the company I am with, I require full scale C++ Support. Thus I ended up cross-compiling the Zephyr toolchain for hours, days, nights trying to figure out what the g

[2021-03-16 16:56] carlescufi commented on #33122
API meeting 2021.03.16:

Proposal:
- Take the arch code that is currently present in the tree and move it to `drivers/cache/`. Each architecture would have its own cache driver.
- Add additional drivers for SoC-specific cache controllers that override the architecture ones

New API would be in `include/drivers/cache.h`.

`drivers/cache/` would likely contain:
[code]
Use the interrupt controller an

[2021-03-16 17:05] shlomow commented on #33365
I am planning to contribute this next week, but I don't want to promise anything. So here are the steps you need:
1. In the device tree you should write `clocks = <&rcc STM32_CLOCK_BUS_AHB1 0x8000000>;` instead of `clocks = <&rcc STM32_CLOCK_BUS_AHB2 0x00000080>;`.
2. Enable HSI48 clock: in the line that starts with `#if defined(RCC_HSI48_SUPPORT) || defined(CONFIG_SOC_SERIES_STM32WBX)` add also t

[2021-03-16 17:07] galak commented on #33164
@kaidoho are you able to re-pick up your PR and see if we can get this to a state to merge?

[2021-03-16 17:14] jhedberg commented on #33275
@tbursztyka I also saw this and worked around it by enabling polling-based input. It seems like a regression since I'm pretty sure this worked when we introduced ehl_crb to the tree. @jenmwms do you know anything about this? How recently have you tested this?

[2021-03-16 17:18] galak commented on #32702
We don't consider these overflow conditions as a bug.

[2021-03-16 17:18] #32702 closed

[2021-03-16 17:23] mniestroj commented on #32905
False positive, as number of supported DNS servers can be greater than number of received DNS servers.

[2021-03-16 17:23] #32905 closed

[2021-03-16 17:24] #32945 closed

[2021-03-16 17:24] mniestroj commented on #32922
False positive, same as #32905.

[2021-03-16 17:24] #32922 closed

[2021-03-16 17:25] mniestroj commented on #32926
False positive, as `ESP_MAX_DNS` can be > 0 when DNS resolver is enabled.

[2021-03-16 17:25] #32926 closed

[2021-03-16 17:26] mniestroj commented on #32932
False positive, as code will be executed when DNS resolver and WIFI_ESP_DNS_USE are enabled.

[2021-03-16 17:26] #32932 closed

[2021-03-16 17:27] mniestroj commented on #32950
False positive, as ESP_MAX_DNS can be > 0 when DNS resolver is enabled.

[2021-03-16 17:27] #32950 closed

[2021-03-16 17:27] carlescufi commented on #33356
Hi @CiochinaVitalie. This is an nRF Connect SDK question. Please use the [Nordic devzone](https://devzone.nordicsemi.com/) instead.

[2021-03-16 17:27] #33356 closed

[2021-03-16 17:30] carlescufi commented on #33324
@super6602 could you send a PR updating the necessary bits?

[2021-03-16 17:37] jfischer-no commented on #33200
closing it as there is no USB device driver exist for bcm958402m2_m7.

[2021-03-16 17:37] #33200 closed

[2021-03-16 17:41] yerabolu commented on #32444
Ran the below test to see if the irq_lock() and irq_unlock() are setting correctly and ran the tests. All the tests passed. Could you try it on your end as well and see if there is any issue.

[code]

[2021-03-16 18:02] kaidoho commented on #33164
@galak To be honest I am very busy at the moment. That's why it took me quite a few days to respond. Sure I am willed to contribute and will do that if it helps, but my work focused on ARM and there are a bunch of other architectures that need to be addressed. I think it would be good to have a commitment from the steering board that C++ Support is of importance / a project goal. Then, we could sp

[2021-03-16 18:11] galak commented on #32916
@XavierChapron could you look at this?

[2021-03-16 18:47] mniestroj commented on #33291
`undefined reference to time` could be solved by #33397.

[2021-03-16 18:49] carlescufi commented on #33381
I am hitting this as well, and I would say this is at least medium prio, it's breaking the Bluetooth shell for most of us.

[2021-03-16 19:03] str4t0m commented on #33253
I agree that this could be applied in the soc init routine.

For G4 it should indeed be sufficient to set the `PWR->CR3 |= PWR_CR3_UCPD_DBDIS`, as LL includes a function to do exactly we we could use it:
`LL_PWR_DisableUCPDDeadBattery();`

For G0 Series the same can be accomplished by setting UCPDX_STROBE in SYSCFGR1.
It only affects g071, g0b1, (g081, b0c1). The SOCs g070 and g0b0 don't have a up

[2021-03-16 19:07] JeremyBCD commented on #33365
@shlomow Thank you for this—I've applied these changes to my dev branch, and now the device will enumerate on my MacBook! 🎉

Unfortunately, the device gets suspended shortly after enumeration:

[code]

[2021-03-16 19:12] ceolin commented on #32950
Hi @mniestroj please next time either you mark as false positive in Coverity (with the justification) or ask someone to do it, otherwise this issue will automatically be re-opened in the next scan. I've done it for this one though.

[2021-03-16 19:17] emillindq commented on #33330
Thank you for looking into this @rlubos !

You are right, upon further investigation I concur with you, it busy waits within `poll()` but stays true to the timeout!

Yes this sounds like a good plan. Although it would seem easier to just *poll* `mbedtls_ssl_get_bytes_avail` somehow but of course that's not possible, and in addition we need to keep mbedtls module alive by calling `zsock_recv()` in

[2021-03-16 19:26] shlomow commented on #33365
I made a mistake in what I wrote before. Enable voltage detector in the end of `usb_dc_attach` instead of `usb_dc_stm32_init`. I am not sure if it matters but this is what I did. Can you check also the cdc acm class? This is the class I am using.

[2021-03-16 20:09] khutchens commented on #32579
I scrubbed through the codebase and only found one other case where a `k_fifo_(put|get)` call is made on a `struct net_buf` object, in [canbus/isotp/isotp.c:pull_frags()](https://github.com/zephyrproject-rtos/zephyr/blob/f0a4b5beb2a18cf7f0018f2aed61da771193ead8/subsys/canbus/isotp/isotp.c#L657). That function seems to be doing roughly what `net_buf_get()` would do so it may be safe. I admittedly d

[2021-03-16 20:59] key1066 commented on #33269
@vanwinkeljan, @gmarull, Thank you. Much appreciated.
As per your suggestion, I've used lv_disp_drv_update() in a local function to update the display orientation at run time, as in below.

All works fine.

[code]

I also use ST7789V displays and noticed that `st7789v_set_orientation` in https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/display/display_st7789v.c#L256 isn't currently

[2021-03-16 21:15] JeremyBCD commented on #33365
@shlomow Moved the voltage detector enable to `usb_dc_attach`, does look like that's a more appropriate place for it. The hid sample still doesn't stay connected, still gets suspended.

However, the `cdc_acm` example does stay connected!

[2021-03-16 21:35] mniestroj commented on #32579
@khutchens I got to the same conclusions as you.

[2021-03-16 21:42] mniestroj commented on #32950
@ceolin Thanks for letting me know. How can I get Coverity account/permission to do that next time?

[2021-03-16 21:48] JeremyBCD commented on #33365
Continuing testing with the `cdc_acm` example, I found that it works and stays connected (doesn't get suspended) if the USB cable is connected on power-up or reset. However, hot-plugging the USB cable leaves the STM32H753 disconnected. Is that expected? Since I'm testing with a NUCLEO-H753, power is not provided by the device USB connection.

I tried setting `USB_SELF_POWERED`, but that didn't mak

[2021-03-16 21:53] galak commented on #32911
@carlescufi can you assign this to the right person

[2021-03-16 21:53] galak commented on #32906
@carlescufi can you assign this to the right person

[2021-03-16 21:56] galak commented on #33352
When you say using UART, what do you mean?

@saltyJeff  can you look at this bug?

[2021-03-16 22:03] #33233 closed

[2021-03-16 22:06] galak commented on #33120
#33121

[2021-03-16 22:07] #33114 closed

[2021-03-16 22:07] galak commented on #33120
Fixed by #33121

[2021-03-16 22:07] #33120 closed

[2021-03-16 22:13] galak commented on #32321
As you are looking to support a 32-bit Cortex-A core you need to configure the compiler correctly for this.  @carlocaione or @npitre can probably comment on what needs to be done.

This is not a bug as we don't support any current 32-bit Cortex-A core or SoC and thus it would be new functionality.

[2021-03-16 22:13] #32321 closed

[2021-03-16 23:15] bkalthoff commented on #33352
I managed to get serial output through the tx/rx pins, but not the usb. I tried on two different machines, same issue.

[2021-03-16 23:27] JeremyBCD commented on #33365
Realized that I hadn't tried to send data through the `cdc_acm` example. Tried doing that—nothing comes through. So, while it will stay connected, it's not fully functional.

[2021-03-16 23:34] #32969 closed

[2021-03-17 00:01] #32966 closed

[2021-03-17 00:03] jenmwms commented on #28551
This is still on my radar. Sorry for the delay.

[2021-03-17 00:27] yerabolu commented on #33009
just a quick update @andyross: tried running the test with a small heap size of 40 and tests passed on both Cortex_M3 and native_posix_64.

[2021-03-17 00:35] npitre commented on #32321
The Cortex-A9 is much more similar to a Cortex-M than Cortex-A53 or any
Aarch64 variations. Adjustments to the aarch32 code would also be needed
as this is currently unsupported.

The compiler to use from the Zephyr SDK would be arm-zephyr-eabi with
appropriate flags. The aarch64-zephyr-elf version won't work.

[2021-03-17 02:16] LeiW000 commented on #32469
I still can see the issue with the latest codebase.
Commit id: 35f0ed23c9
Board: reel_board

leiw@leiw-NUC8i7BEH:~/Documents/src/zephyrproject/zephyr$ ./loop-testing.sh
Testing: 1
Renaming output directory to /home/leiw/Documents/src/zephyrproject/zephyr/twister-out.1
INFO    - Zephyr version: zephyr-v2.5.0-1210-g35f0ed23c9b6
INFO    - JOBS: 8
INFO    - Using 'zephyr' toolchain.
INFO    - Building

[2021-03-17 02:53] IRISZZW opened #33403 "trigger_fault_divide_zero test case didn't run divide instruction"
**Describe the bug**
the test case of trigger_fault_divide_zero not really test divide zero function, indeed the compiler do some optimization for it,
just trigger exception.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b qemu_cortex_m3 tests/ztest/error_hook/
2. west build -b nsim_em tests/ztest/error_hook/
3. objdump -S build/CMakeFiles/app.dir/src/main.c.obj

**source codes

[2021-03-17 02:53] hongshui3000 commented on #32444
@yerabolu
Thank you for the information, I will try to debug my program later. But what I want to know is when zephyr rtos is started, "irq_lock" and "irq_unlock" are executed in the above place. Do you suspect that the execution of "irq_lock" in my code failed?

[2021-03-17 02:59] enjiamai commented on #33403
@IRISZZW  Got it, thanks for your analysis, will take a look at this as soon.

[2021-03-17 07:06] erwango commented on #33351
Assigned to @dcpleung to answer the uart api question

[2021-03-17 07:23] #33348 closed

[2021-03-17 08:07] rlubos commented on #33330
Great, I'll work on the patch then.

[2021-03-17 08:27] joerchan commented on #32702
@jhe I think we have to let bbc_microbit and connections go, if we wanted to have one working it should have been peripheral_hr IMO, and that is almost 3k bytes we need.

[2021-03-17 08:46] XavierChapron commented on #32916
@galak Sure! Done in https://github.com/zephyrproject-rtos/zephyr/pull/33411

[2021-03-17 09:23] marinbudimir commented on #33291
This solves the problem.

[2021-03-17 09:23] #33291 closed

[2021-03-17 09:38] mniestroj commented on #33099
I am not so sure that we `net iface down` should map into "administrative Close" of PPP link. It is something to discuss how it should behave. In Linux for example, `pppd` is a userspace process that is responsible for setting up PPP link and configuring network interface. It creates ppp0 network interface, communicates over serial to setup a link and if everything is ready (PPP link is up) it set

[2021-03-17 09:44] JordanYates commented on #33009
On the latest master with the following diff, I can still reproduce the fatal errors
[code]

[2021-03-17 09:57] ioannisg commented on #33403
We probably need to do a -O0 around the divide-by-zero code; I've done similar things in other tests.

[2021-03-17 09:58] ioannisg commented on #33403
Adding LOW priority; does not seem to be a (very) serious issue.

[2021-03-17 10:17] enjiamai commented on #33403
Good suggestion,  thank you for sharing this information!

[2021-03-17 10:22] chen-png commented on #32514
when we ran "tests/subsys/debug/coredump" and " tests/subsys/debug/coredump_backends" together, because the testcase “coredump.backends.logging” in "tests/subsys/debug/coredump_backends" is a console harness testcase, when it gets expected string from serial, it will stop, the other string will be captured by next testcase "tests/subsys/debug/coredump".
so the result will be like this:
result of c

[2021-03-17 10:28] #32514 closed

[2021-03-17 10:28] #32866 closed

[2021-03-17 11:40] vanwinkeljan commented on #33269
@jfischer-no is there any reason why the function is not implemented?

@key1066 I assume we can close the issue?

[2021-03-17 12:12] Thalley opened #33421 "Add BT_LE_FEAT_BIT_PER_ADV checks for periodic advertising commands"
**Is your enhancement proposal related to a problem? Please describe.**
Before sending any periodic advertising related commands, we should check for the `BT_LE_FEAT_BIT_PER_ADV` bit.

**Describe the solution you'd like**
Check for the bit and return `-EOPNOTSUPP` if not supported.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-03-17 12:14] key1066 commented on #33269
Regarding ST7789: A few months ago, I did open an enhancement request for ST7789 set orientation but got no response, https://github.com/zephyrproject-rtos/zephyr/issues/32286.

[2021-03-17 12:14] #33269 closed

[2021-03-17 12:16] key1066 commented on #33269
Shall open I open a separate bug for ST7789 set orientation in the hope it may get some attention?

[2021-03-17 12:25] galak commented on #32916
@XavierChapron thanks!

[2021-03-17 12:25] #32916 closed

[2021-03-17 12:34] galak opened #33422 "samples/subsys/usb/dfu/sample.usb.dfu fails on multiple platforms in daily build"
`./scripts/twister -s samples/subsys/usb/dfu/sample.usb.dfu  -l`

gets:

[code]

This us due to this commit: 896c29f494ac63df8454daa40fd40f2f7b1d1601

[2021-03-17 12:47] key1066 commented on #33269
FYI - @vanwinkeljan, some of ST7789 displays like from Waveshare and others with CS can use the ILI9XXX driver.

[2021-03-17 13:15] PerMac opened #33423 "tests: portability: tests/portability/cmsis_rtos_v2 fails on nrf5340dk_nrf5340_cpuappns"
**Describe the bug**
The test `test_semaphor` from the test suite under tests/portability/cmsis_rtos_v2 fails on nrf5340dk_nrf5340_cpuappns causing the rest of tests in the test suite to fail. It causes ` >>> ZEPHYR FATAL ERROR 4: Kernel panic on CPU `. The suite is terminated then only by the timeout.

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf5340dk connected
2. go you your ze

[2021-03-17 13:23] PerMac opened #33424 "tests: ztest: Test from tests/ztest/error_hook fails on nrf5340dk_nrf5340_cpuappns"
**Describe the bug**
The test `test_catch_z_oops` from the test suite under tests/ztest/error_hook hangs during execution on nrf5340dk_nrf5340_cpuappns causing the test suite to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf5340dk connected
2. go you your zephyr dir
3. call `./scripts/twister -T /home/maciej/zephyrproject2/zephyr/tests/ztest/error_hook/ -p nrf5340dk_nrf5340_c

[2021-03-17 13:36] galak opened #33426 "a few failures with CONFIG_HCI_ACL_DATA_SIZE in nightly builds"
`./scripts/twister -T samples/bluetooth/hci_uart/ -p bbc_microbit`

and

`./scripts/twister -s samples/bluetooth/hci_uart/sample.bluetooth.hci_uart.nrf5 -p nrf51dk_nrf51422`

Both have a failure like:

[code]

[2021-03-17 14:45] wysman commented on #30724
@Navin-Sankar do you have some news about you work on J1939 ? I may be interested to use it too.

[2021-03-17 15:02] #32930 closed

[2021-03-17 15:02] #32909 closed

[2021-03-17 15:03] #32908 closed

[2021-03-17 15:07] tejlmand opened #33435 "armclang / armlinker"
Feature:
Support for armclang / armlinker in Zephyr

Required:
Compiler infrastructure is in place and support for Vanilla clang on Linux works.
More work is needed for Windows, wrt. generated dependency files containg `\` in path which is later interpreted as escaped characters and thus results in CMake endless looping.

As part of this work, support for armlinker must be in place.
This work shou

[2021-03-17 15:09] #33426 closed

[2021-03-17 15:30] tejlmand commented on #33138
Fixed: https://github.com/zephyrproject-rtos/zephyr/pull/33436

[2021-03-17 15:43] ioannisg commented on #33403
Will you try to provide a fix for it, @enjiamai ?

[2021-03-17 15:46] jukkar commented on #32940
Yep, this is false positive. @GunZi200 thanks for all the help with these issues :+1:

[2021-03-17 15:46] #32940 closed

[2021-03-17 15:53] ioannisg commented on #33423
Thanks for the report @PerMac , I 'll take a look. I wonder if this kernel panic is specific to an _NS build, or this gets to fail on other platforms as well. In principle, this failure does not look related to security in cortex-m....

[2021-03-17 16:07] PerMac commented on #33423
I haven't seen it on any other nrf platform I am handling. In particular, the test suite passes on nrf5340dk_nrf5340_cpuapp

[2021-03-17 16:36] dcpleung commented on #33351
The whole set of bits with data and parity bits is usually referred to as a "data frame". Our API defines data bits for configuration so it should only count the data itself and not other. So `UART_CFG_DATA_BITS_7` only refers to the 7-bit data being transmitted. Parity bit is extra.

[2021-03-17 16:45] jfischer-no commented on #33422
The reason for 896c29f was to filter out these platforms, I really have no idea why it does not work.

[2021-03-17 16:45] richardbarlow opened #33440 "lsm6dso sensor driver not working on nRF5340"
**Describe the bug**
The LSM6DSO sensor driver does not function on the nRF5340 SoC. This appears to be the exact same problem as outlined in #11612, which was fixed for the LIS2DH in #19901 and issue #20154 was created as a 'marker' issue to reference when implementing the workaround.

The issue is that on the nRF51, nRF52 and nRF53 it is impossible to correctly implement the `i2c_burst_write()`

[2021-03-17 17:02] ioannisg commented on #33403
Please, go ahead with sending a fix, when you have time!

[2021-03-17 17:05] enjiamai commented on #33403
Thank you!! ^^

[2021-03-17 17:14] galak commented on #33440
@richardbarlow so I think a change to have a common implementation for `stmdev_write_ptr` and `stmdev_read_ptr` would be acceptable.

My suggestion would be to add something like:

`drivers/sensor/stmemsc/i2c.{c,h}`  with the common implementation and update the various drivers to utilize that.

@avisconti is the maintainer of those drivers so he can add his 2 cents.

[2021-03-17 17:45] scottwcpg commented on #33371
Assume jumper placed on EVB JP41 1-3 to connect GPIO 0156 and 157.
Root cause is a bug in the GPIO driver. Test asks driver to disconnect GPIO 0157. Test then asks driver to set GPIO 0157 to output high. Driver does not clear GPIO control register power gate field leaving the pin powered off (disconnected).

[2021-03-17 18:31] scottwcpg commented on #33371
I submitted a fix in PR#33445

[2021-03-17 18:53] jenmwms commented on #32603
Inspecting the "good" configurations for using the previous APIC timer driver at the bisect point, the .config shows that `CONFIG_TSC_CYCLES_PER_SEC=0` (which is default setting from the driver) and `CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=25000000`.
[code]
Currently, acrn_ehl_crb_defconfig  configures SYS_CLOCK_HW_CYCLES_PER_SEC=1900000000.

[2021-03-17 19:16] galak opened #33449 "Remove deprecated items in 2.7"
Here's a list we should update on things deprecated in 2.5 that should be removed in zephyr 2.7

- [x] STM32 pinmux macros
- [x] bt_set_id_addr - include/bluetooth/bluetooth.h
- [x] DEVICE_INIT / DEVICE_AND_API_INIT - include/device.h
- [x] BUILD_ASSERT_MSG - include/toolchain/common.h, include/toolchain/gcc.h
- [x] GET_ARG2 / GET_ARGS_LESS_1 - include/sys/util_macro.h
- [x] CONFIG_FS_LITTLEFS_FC_

[2021-03-17 19:22] avisconti commented on #33440
Not all the ST sensor drivers are currently using the stmemsc HAL interface. JUst some of them. Nevertheless could be not a bad idea to have a single couple of read/write routines for both i2c and spi and for all stmemsc based sensor driver. I can work on that tomorrow.

[2021-03-17 19:24] avisconti commented on #33440
@richardbarlow @galak would that be ok?

[2021-03-17 19:32] #26172 closed

[2021-03-17 19:33] #33324 closed

[2021-03-17 19:58] #33374 closed

[2021-03-17 20:32] jenmwms commented on #32603
No obvious impact to this test when I revert to previous configurations for acrn_ehl_crb:
[code]

[2021-03-17 21:03] yerabolu commented on #32444
@hongshui3000
Looking at the code mentioned above, Interrupt is disabled when the zephyr rtos is started and then gets enabled when it enters main thread. And the above test confirms that.

When you mention "Do you suspect that the execution of "irq_lock" in my code failed?" - which code are you referring here?

[2021-03-17 22:49] JeremyBCD commented on #33365
@shlomow Did you have more success than this?

[2021-03-17 22:57] nashif commented on #33449
we need to drop this or fully support it and overhaul the code before 2.6 is released. Actually this should have happened in 2.5, so, this should be done earlier than 2.7

[2021-03-17 22:59] nashif commented on #26760
afaik, this was done already.

[2021-03-17 22:59] #26760 closed

[2021-03-17 23:00] nashif commented on #16539
done

[2021-03-17 23:00] #16539 closed

[2021-03-17 23:33] nashif commented on #33449
https://github.com/zephyrproject-rtos/zephyr/issues/27415#issuecomment-685833663

[2021-03-18 01:43] IRISZZW commented on #33403
@ioannisg @enjiamai

These may not be a serious issue, but we must pay attention for it, compiler may do some aggressive optimizations to  cheat us,
especially in some test cases. we may pass the test cases, but do those test case really test the function we want to test?

if you check the disassembly codes of
[code]
all have been optimized by compiler, I believe there must be some similar optimiz

[2021-03-18 02:13] hongshui3000 commented on #32444
I understand what you said. But when I was debugging the xtensa architecture, I did see an interruption. I will continue to check my own code.

[2021-03-18 02:26] enjiamai commented on #33403
@IRISZZW Yes, totally agree with you, many thanks for pointing this out.

[2021-03-18 03:49] npitre commented on #33339
PR #33364 is merged. I think this pretty much provides what is wanted here.
I'm therefore closing this issue. Please reopen if this isn't satisfactory.

[2021-03-18 03:49] #33339 closed

[2021-03-18 03:57] JordanYates opened #33456 "lorawan: unconfirmed messages leave stack in busy state"
**Is your enhancement proposal related to a problem? Please describe.**

The current implementation of `lorawan_send` only waits for the transmission to complete if the `LORAWAN_MSG_CONFIRMED` flag is set. For unconfirmed transmissions, the application is free to call `lorawan_send` again before the receive windows for the first transmissions have finished, resulting in `lorawan_send` returning `-

[2021-03-18 04:13] shlomow commented on #33365
Sorry,. I am on holiday now

[2021-03-18 06:21] IRISZZW opened #33457 "Fail to build ARC zephyr with MetaWare toolchain"
**Describe the bug**
A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b nsim_em -d build tests/kernel/common
2. See error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (mwdt/2020.12)
 - Commit

[2021-03-18 06:37] markus-becker-tridonic-com commented on #30429
Indeed, the way we are using RCP is via UART which does not enumerate. We've had the same problems with USB.

@rlubos would it make sense to mimic the pseudo reset in Zephyr as well?

[2021-03-18 06:54] IRISZZW opened #33459 "Divide zero exception is not enabled in ARC"
STATUS32.DZ(bit 13) is the EV_DivZero exception enable bit.

DZ indicates whether the EV_DivZero exception is enabled on division by zero. When DZ is set to 1, any
attempt to execute a DIV, DIVU, REM, or REMU instruction, with a divisor of 0, raises an EV_DivZero
exception. When DZ is set to 0, a division by zero does not raise an exception. The DZ bit is ignored on write
and read as zero when the

[2021-03-18 08:08] rlubos commented on #30429
@markus-becker-tridonic-com I think it could make sense, I'm not sure though how difficult would that be in Zephyr nor have it on my roadmap right now. Contributions are welcome of course though.

[2021-03-18 08:16] hubertmis commented on #30429
Pseudo reset is a risky functionality. The host expects the co-processor to reset itself, but co-processor actually does not reset itself, but resets selected modules (Which? Why only those? Is module reset enough to claim it's in initial state?).

I would like to propose an alternative solution. Perhaps it would be better to make host resilient to co-processor re-enumeration after it requests co-

[2021-03-18 08:36] rlubos commented on #30429
@markus-becker-tridonic-com Actually, after talking with Nordic's Thread team I learned that one of the engineers is investigating the possibility to add OT "pseudo reset" to Zephyr.

@hubertmis It's hard to disagree that this "pseudo reset" is more of a workarund, it would be better to address it directly in the OTBR implementation. But the question of whether it is possible should rather be aske

[2021-03-18 08:38] hubertmis commented on #30429
Thanks, I'll raise the concern in OT. I'll post my finding here when I know more

[2021-03-18 09:04] markus-becker-tridonic-com commented on #30429
@hubertmis that sounds even better. looking forward to your report.

[2021-03-18 09:18] #3933 closed

[2021-03-18 09:18] #32939 closed

[2021-03-18 09:20] #33138 closed

[2021-03-18 09:25] #33424 closed

[2021-03-18 10:14] WealianLiao opened #33464 "SYS_INIT initialize priority "2-9" ordering error"
**Describe the bug**
For the _prio description:
[code]
The value should be a decimal integer literal without leading zeroes.
However, priority '2-9' without leading 0 could let the priority out of order.
For the zephyr master head:
 * priority 2, the real priority between 19-20
 * priority 3, the real priority between 29-30
 * priority 4, the real priority between 39-40
 * priority 5, the real pri

[2021-03-18 11:04] carlescufi commented on #33147
Closing for lack of activity. Please reopen if applicable.

[2021-03-18 11:04] #33147 closed

[2021-03-18 11:19] galak commented on #33449
yeah, wasn't sure what @carlescufi is looking to do in this area for 2.6.

[2021-03-18 11:59] galak commented on #33464
Possible fix:

[code]

[2021-03-18 15:01] ioannisg commented on #33087
Answered in Coverity as well:

The out-of-bounds access cannot normally happen, since the ASSERT in line 283 "ensures" that the i is a non-negative number. The test does not continue, if not. And tests always run with ASSERTs enabled.

[2021-03-18 15:01] #33087 closed

[2021-03-18 15:33] ioannisg commented on #33059
Closing this as a wont-fix. the ASSERT before calling arch_irq_connect_dynamic will prevent from continuing the test if the index -i- is negative. Coverity does not take into account that the tests run with ASSERTs enabled, always.

[2021-03-18 15:33] #33059 closed

[2021-03-18 15:34] Kshitij4kk opened #33475 "Need to add device node for UART10 in dts/arm/st/h7/stm32h723.dtsi"
My organization is using stm32h723zg MCU for prototyping.
We wanted to add USART10 device node in the stm32h723.dtsi.

Following snip is from stm32h723 data sheet which shows USART10 in the block diagram.
![image](https://user-images.githubusercontent.com/36400253/111652689-4952c880-882d-11eb-932e-e887b01c7a12.png)

[2021-03-18 15:35] Kshitij4kk commented on #33475
@erwango @manoj153

[2021-03-18 15:40] erwango commented on #33475
@Kshitij4kk Feel free to push a PR to add it. We're welcoming contributions!

[2021-03-18 15:52] #32898 closed

[2021-03-18 15:53] kurddt commented on #31280
So my preference would be to have both conditional and unconditional function available.

For the conditional one the else branch, I would prefer that the user provides the default value himself. it could look something like:

[code]

Even if this this not really pretty (`{.gpio = NULL, .pin = 42, .flag = 34}` will be decomposed as 3 arguments)  I think it could work. The other solutions would be

[2021-03-18 16:08] ioannisg commented on #33423
Will take a look as soon as possible

[2021-03-18 16:26] richardbarlow opened #33479 "disk_access_spi_sdhc: Missing stop/end bit"
**Describe the bug**
The SD Card Physical Layer specification states in Table 7-1 (in section 7.3.1.1) that the LSB of the 48 bit command must be set to 1 to act as an 'end bit'. Zephyr currently does not set the LSB to 1 and this deviation from the standard prevents the implementation as it is from functioning with a Swissbit SFSD8192N3BM1TO-I-GE-2B1-STD (8GB microSD). Simply setting the LSB of t

[2021-03-18 18:05] yerabolu commented on #32444
@hongshui3000 : Unfortunately i am not able to see this issue on my end and without a way to reproducing it in some way i will not be able to figure out if it is actually causing problems with the timing of enabling interrupts.

[2021-03-18 18:20] npitre commented on #32938
Should be covered by PR #33439

[2021-03-18 18:55] #33371 closed

[2021-03-18 20:09] ceolin opened #33483 "TIMESLICE and PM interaction and expected behavior"
**Describe the bug**

When `CONFIG_TIMESLICE` is set and different from 0, the first time the idle thread runs  `pm_system_suspend` is called with the programmed slice. The system does not renew the slice  if the only thread running is the idle, so next time `pm_system_suspend` is called with remaining time to the scheduled event less the slice time that was evaluated. Wrapping up, if an applicati

[2021-03-18 20:10] ceolin commented on #33483
@nashif  @erwango @gmarull

[2021-03-18 20:40] jenmwms commented on #33275
I'm pretty sure it work when we introduced it to the tree, too. I've not personally tested it recently. I'll see what we can find as far as bisecting this.

[2021-03-18 21:45] ddkn opened #33485 "Issue with DMA transfers outside of the Zephyr DMA driver on STM32F767"
**Describe the bug**
End goal is to use a Nucleo F767ZI board (STM32F767) to do continuous ADC sampling and write to an SD card with the DMA to assist. Currently I am trying to get a handle on the DMA functionality by implementing it *without* the Zehpyr driver.

I am currently trying to do a basic memory-to-memory transfer, the code currently generates a "transfer complete" interrupt, but no data

[2021-03-18 22:05] andyross commented on #32444
Honestly this sounds like a platform bug.  The way this design is supposed to work:

* The platform layer enters z_cstart() with interrupts masked[1]
* The OS initializes core elements like the _kernel struct, main thread, interrupt stacks, etc...
* The OS does its device- and driver-level initialization
* The OS then context switches to the main thread (via a z_swap() to init.c:bg_thread_main()),

[2021-03-18 23:55] jenmwms commented on #33275
Just tried this back at fe516b9 - it works (I can use commands like 'help' in the shell module sample).

[2021-03-19 00:00] ddkn commented on #33485
So the DMA issue seems to be caused by the Dcache of this specific chip. In the beginning of the program if I pass,

[code]

The DMA works as expected, I assume this is an issue with how that is stored in the startup file in the chip? My friend pointed me to [this](https://stm32.agg.io/#dcache-on-stm32f7), which suggests it is a problem with ChibiOS and NuttX possibly, otherwise an annoyance to ha

[2021-03-19 00:50] jenmwms commented on #33275
Ok, bisect and I found it breaks at 7009012 which added `CONFIG_THREAD_RUNTIME_STATS=y` to this samples' `prj.conf`. I'll need to look into configurations depending on this setting to see what may have changed. We can also check the diffs of the .conf before and after.