[2019-03-15 00:15] #14417 closed

[2019-03-15 00:17] andyross commented on #13591
Reprioritized this to low, given that it seems to be an artifact of the spinlock validation layer, doesn't produce a failure in actual code (and frankly a recursive spinlock on a uniprocessor architecture is not, in fact, a failure case -- it works, we just don't like it because the same code will deadlock in SMP).

[2019-03-15 00:20] rodrigopex opened #14546 "shell compilation error when disabling CONFIG_SHELL_ECHO_STATUS"
**Describe the bug**
*A clear and concise description of what the bug is.
What have you tried to diagnose or workaround this issue?*

If the user disables the CONFIG_SHELL_ECHO_STATUS the code will not compile. I have changed the code of the shell.c as the diff bellow:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. All as usually
2. Disable the shell echo at the menuconfig
3. make
4

[2019-03-15 00:30] rljordan commented on #14462
@ramakrishnapallala  Do you have the hardware to test this?

[2019-03-15 00:30] rljordan commented on #14462
@ramakrishnapallala  You can use the internal pool for this.

[2019-03-15 00:30] rodrigopex opened #14547 "Kconfig shell prompt configuration"
**Is your enhancement proposal related to a problem? Please describe.**
There is no straightforward (CONFIG) way to change the prompt value for a shell backend.

**Describe the solution you'd like**
I suggest creating a Kconfig option like SHELL_PROMPT where the user can change that easily through the *prj.conf*.

**Describe alternatives you've considered**
It would be good a way to remove the pro

[2019-03-15 00:40] cvinayak commented on #14235
@neha0119 with https://github.com/zephyrproject-rtos/zephyr/pull/11552 applied, you had the below or the default of 0?
[code]

If our timezones match, we should have a screen sharing session wherein we can debug live.

[2019-03-15 00:42] cinlyooi-intel commented on #12632
Reproduce  on

1. quark_d2000:x86, and
2. quark_se_c1000:arc

for Commit ID: 96235c5027461534b75059a65f8833231d293312

[2019-03-15 00:43] andrewboie commented on #14289
Your referenced patch got merged, may we close this?

[2019-03-15 00:47] cinlyooi-intel commented on #14283
Reproduced for arduino_due using commit 96235c5027461534b75059a65f8833231d293312

[2019-03-15 00:50] rljordan commented on #14492
@dbkinder If you do not have access to do this, please let me know.

[2019-03-15 02:10] rodrigopex commented on #14540
Great, moving it to the related file will be better.

That would be a good solution as well (better than I've suggested).
On Thu, 14 Mar 2019 at 20:53 Andrew Boie <notifications@github.com> wrote:

[2019-03-15 03:22] #14139 closed

[2019-03-15 03:42] dbkinder commented on #14492
I don't have access to do this.  That's why it was assigned to Anas, he does.

[2019-03-15 03:59] andyross commented on #14520
What's the reproduction strategy for this bug?   It sounds like this is a custom power save state or something and not just the idle thread?  If you get a chance, can you cherry pick the two patches in  #13800 and reproduce it?  Those will give more information about the location of the locks in question, and catch some problems (trying to swap/pend/sleep with a lock yeld) earlier.

[2019-03-15 04:59] #14510 closed

[2019-03-15 05:24] SavinayDharmappa commented on #14283
@cinlyooi-intel  https://github.com/zephyrproject-rtos/zephyr/pull/14466  PR should fix issue on arduino_due as well .

[2019-03-15 06:17] andrewboie commented on #14476
@ulfalizer is this a sporadic failure? Do you have any special build flags set?

When I built locally, it succeeds, although it's right at the knife edge:

[code]

[2019-03-15 06:18] Qbicz commented on #8734
The option I mentioned is BOOT_ERASE_PROGRESSIVELY. My comment applies to storing the image received by USB DFU class. It could erase the flash progressively, when the page is needed, instead of doing it all at once and possibly hitting timeout.

Yes, I will definitely do that.

[2019-03-15 06:22] andrewboie commented on #14454
@aurel32 the delay takes place in init's bg_thread_main(), before it calls application main(). interrupts are not locked when this is happening. why would busy-looping here cause the watchdog to fail? what kicks the dog? is there some high-priority watchdog thread that needs to be started?

[2019-03-15 06:58] cvinayak commented on #11841
@alexsven could you verify #14553 ?

[2019-03-15 06:58] thomasstenersen commented on #14527
@ulfalizer As @carlescufi says, there is a plethora of reasons for not upstreaming stuff, and often multiple reasons at the same time. Having custom patches on top of Zephyr is not very easy, only the last couple of weeks I've fixed several merge conflicts for my patches (https://github.com/zephyrproject-rtos/zephyr/pull/14509/commits/54d99bcc3d1ea47b9fa4eb63995954fb9ca241e6) -- and these patches

[2019-03-15 07:21] nvlsianpu commented on #8734
If needed we can add BOOT_ERASE_PROGRESSIVELY to subsys/dfu/img_util. This will work for any DFU solution which uses this module (AFIK: USB class DFU, USB CDC ACM DFU, BLE DFU, Serial DFU).

[2019-03-15 07:40] aurel32 commented on #14454
@andrewboie The watchdog is not the cause of the issue, it triggers after ~15 seconds. I was just trying to explain the difference between the two boards. Adding this 1 second delay causes other parts of the code to enter in an endless loop and prevents the watchdog ISR to be serviced. Disabling the watchdog on the SAM E70 boards doesn't fix the issue it just makes both boards to hang with a simil

[2019-03-15 07:46] erwango commented on #14415
On my side, I'm using SDK0.10.0

[2019-03-15 07:53] fulong82 opened #14554 "UP2 console no output after commit fb4f5e727b."
**Describe the bug**
After this commit ```fb4f5e727b logging: Use k_uptime_get_32 for high frequency system clock```
and build Zephyr for up squared board with the default configs + CONFIG_SHELL:
1.) https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/x86/up_squared/up_squared_defconfig#L4
2.) https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/timer/Kconfig#L19
3.) https:

[2019-03-15 08:30] pdunaj commented on #14508
This was not my intention. I will try to be more careful with comments next time.

I will.
I will also try to benchmark the influence of the change and put some numbers. When I got back home I realized this was the thing I should do in the first place.

Be back later today.

[2019-03-15 08:37] lemrey commented on #8734
Yes, the solution described by @pawelzadrozniak is how we solved the issue in MCUboot with `BOOT_ERASE_PROGRESSIVELY`. You can add me to review the patch to this repo.

[2019-03-15 08:39] aescolar commented on #14547
@rodrigopex : Please do not leave the template text ("A clear and concise ..") into the issue itself. That is just meant to be replaced with your own content.

[2019-03-15 08:42] aescolar commented on #14546
CC: @nordic-krch @jarz-nordic

[2019-03-15 08:46] jarz-nordic commented on #14547
Hi
First part of a request is clear. I will take care.

@rodrigopex
May you please elaborate a bit more about „AT interface like” to remove echo, meta keys... i don’t get it. Thease features can be already disabled via kconfig. In addition echo can be disabled in runtime.

[2019-03-15 08:55] arun1joshi opened #14556 "tests/benchmarks/timing_info reports strange values on quark_se_c1000:x86, altera_max10:nios2"
tests/benchmarks/timing_info reports strange values on quark_se_c1000, nrf51_pca10040
The test is failing in this commit: [96235c5]

Arch: x86
Platforms: quark_se_c1000_devboard
Notice context switch value.
[code]
Arch: nios2
Platforms: altera_max10
Notice thread yield, and heap malloc value.
[code]

[2019-03-15 09:01] lemrey commented on #14528
You can use the `fstab-debugger.dts` by including it in the board DTS file; that will work as documented, so the issue title is incorrect. This is not really a problem with this specific board, and it is a consequence of Zephyr's model. I agree to the bottomline here, but I think that should be discussed in a broader context.

[2019-03-15 09:01] rveerama1 commented on #14063
@lbise I tried to address as much as possible (https://github.com/zephyrproject-rtos/zephyr/pull/14557). Can you please test this with your environment and let me know?

[2019-03-15 09:08] ulfalizer commented on #14476
No special build flags. I can reproduce it at 54ae600:

[code]

[2019-03-15 10:05] #11841 closed

[2019-03-15 10:49] pdunaj commented on #14141
I checked the part of documentation pointed by @pawelzadrozniak and this behavior is indeed possible to enter suspend from powered. I am closing the bug.

[2019-03-15 10:49] #14141 closed

[2019-03-15 11:11] gvancuts commented on #14289
My bad, I forgot to add the `Fixes:` tag... sorry about that.

[2019-03-15 11:20] jukkar commented on #14467
In the civetweb README.md file it says `HTTP client capable of sending arbitrary HTTP/HTTPS requests.` so perhaps the client functionality is hidden there somewhere after all.

[2019-03-15 11:39] #14542 closed

[2019-03-15 11:46] #14546 closed

[2019-03-15 11:58] #12257 closed

[2019-03-15 13:12] rodrigopex commented on #14547
Ok, I will do that now on.

[2019-03-15 13:16] erwango commented on #14415
Coverity analysis assumes time_t is 4 bytes while it has been updated to 8 bytes with SDK0.10.0.
Report does not apply anymore with 8 byte time_t, so issue will be fixed by upgrading SDK to 0.10.0 at next run.
I'm not able to update coverity report with this anlaysis (rights issue?), @aasthagr can you do it?

[2019-03-15 13:17] erwango commented on #14397
Cf analysis in #14415.
Will be fixed when upgrading SDK to 0.10.0.

[2019-03-15 13:21] rodrigopex commented on #14547
We are developing a system that must respond to commands like an AT command interface. In this case, removing the prompt is very important to enable us to use Zephyr shell as the controller of the command interface with no additional work.

In short, for doing the "command interface" we just removed the prompt manually, disable all the other features of the shell and the interface is done. Command

[2019-03-15 13:30] nvlsianpu opened #14566 "mcuboot doesn't link into code-partition"
mcuboot doesn't link into code-partition despite it is chosen.
[code]

**To Reproduce**
build mcuboot against nrf52840_pca10059 zephyr target or any else target which has shifted code-partition.

**Expected behavior**
linking into code partition.

**Impact**
mcuboot will not work on XIP target which has mcuboot partition started at offset different than Zero.

**Environment**
 - zephyr SHA 2153c01

[2019-03-15 14:04] nvlsianpu commented on #14566
I would introduce Kconfig property:
[code]
And use it for conditional assignment to `FLASH_LOAD_OFFSET` and `FLASH_LOAD_SIZE` the value of
`$(dt_hex_val,DT_CODE_PARTITION_OFFSET)` (as it is now done with `BOOTLOADER_MCUBOOT`).
Then `BOOTLOADER_MCUBOOT` should just select `USE_CODE_PARTITION`.

[2019-03-15 14:04] nvlsianpu commented on #14566
cc @SebastianBoe

[2019-03-15 14:09] ranbochen opened #14568 "I2C stm32 LL driver V2 will hang when trying again after an error occurs"
**Describe the bug**
After I2C slave returns an NAK, stm32 ll driver v2 will hang when try transmit again.

Because on the second attempt, the driver did not start the transfer.
It's a logic bug.

See:
https://github.com/zephyrproject-rtos/zephyr/blob/83aa7cecd400c121a8eb1ead10669cbaa1d0e416/drivers/i2c/i2c_ll_stm32_v2.c#L34-L36

Hangs here:
https://github.com/zephyrproject-rtos/zephyr/blob/83aa7c

[2019-03-15 14:25] carlescufi commented on #14459
Fixed via #14299

[2019-03-15 14:26] #14422 closed

[2019-03-15 14:37] carlescufi commented on #13083
@faisalSaleemSetec @nwsetec sorry for the long delay. A fix has been identified by @joerchan and will be posted shortly

[2019-03-15 14:57] lemrey commented on #14566
Can you confirm that this affects other boards?

[2019-03-15 14:59] dgloeck opened #14571 "TCP: sending lots of data deadlocks with slow peer"
**Describe the bug**
When sending data on a TCP socket `net_pkt_alloc_with_buffer` might stall while holding `context->lock`, which is locked in `net_context_send_new`. This prevents `tcp_established` from processing ACK packets. But when ACK packets can't be processed, `net_pkt_alloc_with_buffer` will timeout, leading to an ENOMEM error.

**To Reproduce**
Steps to reproduce the behavior:
1. Send

[2019-03-15 15:08] nvlsianpu commented on #14566
I confirm that this is issue for other boards as well.

[2019-03-15 15:12] masz-nordic commented on #14459
This is different from #14299 - that fix was adding RAM to default configuration. Here, the FLASH configuration is not working at all.

[2019-03-15 15:49] ulfalizer commented on #14240
@nordic-krch @jfischer-phytec-iot
Would you be happy with something like "Enable logger" and "Enable legacy logger" in the meantime?

[2019-03-15 15:50] joerchan commented on #13522
@lanvis Thank you for all the information. I'm investigating this issue now.

[2019-03-15 16:10] jfischer-phytec-iot commented on #14240
okay

[2019-03-15 16:14] andyross opened #14577 "Address latency/performance in nRF51 timer ISR"
Following discussion in #13610, we need an answer for latency control in the nRF5x timer ISR.  It uses a software division, which is slow.  Changes there (somewhat inexplicably) caused a latency regression, and regardless the ISR is slower than it needs to be.

Options:

1. The divisor (CYC_PER_TICK) is a compile time constant, and can be configured to be a power of two and optimized into a shift

[2019-03-15 16:15] andyross commented on #13610
Think we can close this one.  I opened #14577 to track the need for performance work in this ISR.  Please add notes there as needed.

[2019-03-15 16:15] #13610 closed

[2019-03-15 16:31] tgorochowik commented on #14467
You are actually right, there are no examples for a client in the examples dir, but there is something in the main file: https://github.com/civetweb/civetweb/blob/master/src/main.c#L1054
It may be worth to investigate the client capabilities of it too.

[2019-03-15 16:36] lanvis commented on #13522
Attached is a fresh trace and and associated map file in case you need to look at associated addresses.

[MapTrace0315Bug.zip](https://github.com/zephyrproject-rtos/zephyr/files/2972025/MapTrace0315Bug.zip)

[2019-03-15 17:04] mike-scott commented on #14566
I mentioned this to @carlescufi a while back on Slack.  I was having a problems getting binaries built from Zephyr to have the correct flash offset settings.

I eventually got it work by manually specifying how I wanted mcuboot built:
[code]

Using this method, I was able to take the .hex file directly and place it on the board using the nRF-Connect GUI tool for Linux.

[2019-03-15 17:21] mike-scott opened #14581 "Network interfaces should be able to declare if they work with IPv4 and IPv6 dynamically"
**Is your enhancement proposal related to a problem? Please describe.**
Recently, I've been working with several LTE Cat M1 / NB-IoT modems.  Depending on the carrier / APN used, support for IPv6 has been spotty.  In most cases, the modem wants an IPv4 connection and it's hard to get away from.  Also, in the case of FRDM K64F, the ethernet port might or might not get IPv6 information based on the

[2019-03-15 17:23] mike-scott commented on #14581
Adding @pfalcon @jukkar for discussion.  Feel free to add anyone else.

[2019-03-15 17:24] markusr commented on #14467
There is also [Libwebsockets (LWS)](https://libwebsockets.org/) which has a http/1.x, http/2 and websockets support for both client and server.

The license is [```LGPL2 + Static Linking Exception```](https://libwebsockets.org/git/libwebsockets/tree/LICENSE) which I think is compatible (IANAL).

[2019-03-15 17:28] rgundi commented on #14186
The cited commit doesn't concern this feature. The KernelSysTick may have gotten broken due to changes done to delay handling for these nrf boards (which are very slow).
I have tried running this on nrf boards but the results are inconsistent. I'll continue checking this but it would help if @arun1joshi can do a git bisect to find out the offending commit.

[2019-03-15 17:30] markusr commented on #14467
On the license of Libwebsockets, see this thread [here](https://libwebsockets.org/pipermail/libwebsockets/2017-January/006913.html).

[2019-03-15 17:35] andyross commented on #14501
Spurious SMP failure.  This one doesn't fail that much more than, say, mps2_an385 does due to timing issues, so it got sorta hidden in the noise.  My "timing-reliable parallel qemu test" rig is up to 595 iterations of this now with zero failures.

[2019-03-15 17:38] andyross commented on #14520
Worth putting in a link here to #13591 , which is a very similar symptom.  There it seems like it's plausibly due to a bug in the validation layer, though the rig is complicated enough that I'm not able to reproduce it directly myself.  I'm hoping this one is easier.

[2019-03-15 17:39] andyross commented on #13591
#14520 is plausibly another symptom of the same issue

[2019-03-15 18:03] andyross commented on #12559
Fixed merged, but forgot "Fixes ..." in commit.  Oops.

[2019-03-15 18:03] #12559 closed

[2019-03-15 18:08] #5226 closed

[2019-03-15 18:28] andrewboie commented on #14454
What is supposed to service it?

What I'm seeing is that k_busy_wait() has a problem on sam e70 where instead of waiting 1000ms, it seems to loop forever.

Eventually the watchdog resets the system. But this always happens, if I don't enable the boot delay I just see the test succeed, then reset, and run again, succeed, reset, ad nauseum. Interrupts aren't locked. My feeling is that with watchdog

[2019-03-15 18:28] mike-scott opened #14586 "Sanitycheck shows "FAILED: failed" for successful test: tests/kernel/fifo/fifo_api/kernel.fifo"
**Describe the bug**
Occasionally in a sanitycheck run on real HW, we see the tests/kernel/fifo/fifo_api/kernel.fifo shown as "failed", but looking at the actual test log shows "PROJECT EXECUTION SUCCESSFUL"

CI Log for sanitycheck run on nrf52_blenano2: https://ci.foundries.io/projects/zephyr/builds/5367/sanity-test-nrf52/artifacts/console.log

**To Reproduce**
Hard to reproduce, but if you rinse

[2019-03-15 18:30] andyross commented on #14501
(Just remembered to shut the test down as it crossed 4400 successful tests without a failure)

[2019-03-15 18:32] vanti opened #14587 "IPv6 support in cc3220sf_launchxl"
**Is your enhancement proposal related to a problem? Please describe.**
IPv6 support is currently disabled in the SimpleLink wifi driver. It needs to be enabled to take advantage of the hardware.

**Describe the solution you'd like**
Add IPv6 support to the SimpleLink wifi driver.

**Describe alternatives you've considered**
Not supporting IPv6 is one option, but it imposes an unnecessary limitati

[2019-03-15 18:33] andrewboie commented on #14454
Yeah k_busy_wait() is broken, with this debug printout:

[code]

I get output:

[code]

k_cycle_get_32() seems to wrap around at some upper bound far less than what is needed for the loop to ever break.

[2019-03-15 18:43] #14501 closed

[2019-03-15 18:49] vanti opened #14588 "static IP support on cc3220sf_launchxl"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, CONFIG_NET_CONFIG_SETTINGS forces hardcoded values for static IP address, and it does not work well for the offload driver for cc3220 which automatically handles DHCP. So the application needs to disable this feature today in their configuration on cc3220. An example of this is in PR #14548.

**Describe the solution

[2019-03-15 19:48] andrewboie commented on #14454
I noticed that when CONFIG_MULTITHREADING=n, I get no timer interrupts. This doesn't seem right. No wonder things aren't working.

What's happening is the main thread is running with interrupts disabled. @andyross fixed this: https://github.com/zephyrproject-rtos/zephyr/pull/9668

And then later it was reverted along with a bunch of other stuff by @nashif :
https://github.com/zephyrproject-rtos/ze

[2019-03-15 19:56] #13083 closed

[2019-03-15 20:00] andrewboie commented on #8559
I considered this some more on how we could optimize it.

gen_kobject_list.py and gen_priv_stacks.py work on the same information, scanning DWARF debug information looking for kernel objects. I think as a first step, we could implement a scanning tool which examines DWARF data only once (instead of twice), and then emits a JSON file containing the relevant data. those scripts would then consume th

[2019-03-15 22:06] GeorgeCGV commented on #14415
newlib time_t has been changed to 64 bits in commit [4de8754bac676fc7f29082ccf8281b1c73ce629e ](https://www.sourceware.org/git/gitweb.cgi?p=newlib-cygwin.git;a=commit;h=4de8754bac676fc7f29082ccf8281b1c73ce629e)back in September 2017.

SDK 0.10.0 uses newlib 3.1.0.
And, as it seems from the release notes, amr none eabi 7-2017-q4-major shall already include the newlib with the 64 bits time_t (_but n

[2019-03-15 22:51] ilanbiala opened #14591 "Infineon Tricore architecture support"
Are there plans to support [Infineon's Tricore architecture](https://www.infineon.com/cms/en/product/microcontroller/32-bit-tricore-microcontroller/)? The MCU's ASIL rating goes up to ASIL-D and Infineon is a very popular choice for automotive MCUs, so it seems like a great fit considering Zephyr is targeting ASIL-D.

[2019-03-15 22:53] andrewboie commented on #14454
After much discussion on slack, it seems clear that several people are strongly opposed to disabling this for 1.14, even temporarily.

@cinlyooi-intel  @inakypg  @nashif Is CONFIG_BOOT_BANNER a hard requirement for hardware testing?

[2019-03-15 23:00] overheat commented on #14186
@rgundi  It works pretty well with the latest zephyr on my nrf board. I cannot reproduce the failure.
![1](https://user-images.githubusercontent.com/4322417/54466052-0af71e80-47b9-11e9-8daa-f691b734dee9.png)

[2019-03-15 23:28] andrewboie opened #14592 "userspace: naive header parsing algorithm in parse_syscalls.py"
**Is your enhancement proposal related to a problem? Please describe.**
parse_syscalls.py has a naive algorithm:

- It very naively parses system call invocations. It can't handle argument type declarations which are arrays, or function pointers.
- It looks at headers without invoking the preprocessor. This causes every `__syscall` found to generate an 8-byte entry in the system call dispatch tabl

[2019-03-15 23:44] gon1332 commented on #14568
@nikooiko

[2019-03-16 00:39] andrewboie commented on #8559
C++ libraries
https://github.com/aclements/libelfin
https://github.com/kittel/libdwarfparser

Actively maintained, but in Rust:
https://github.com/gimli-rs/gimli

[2019-03-16 01:07] andrewboie opened #14598 "stack pointer bounds checks on context switch"
**Is your enhancement proposal related to a problem? Please describe.**
Suggested by @lpereira, thanks!

Certain kinds of attacks like ROP rely on transplanting a thread stack to some other memory location, outside of the stack buffer: https://www.cs.ucr.edu/~heng/pubs/pblocker-acsac15.pdf

**Describe the solution you'd like**
We could make this more difficult by providing an option for routinely

[2019-03-16 02:43] andrewboie commented on #14493
For syscall side I am studying the Linux man page (but avoiding any glimpse of the code):
http://man7.org/linux/man-pages/man2/futex.2.html

Looking at what Bionic does, they just use a subset of futex operations. We need even less since everything is in the same address space. I think we want to implement the following operations:

FUTEX_WAIT
FUTEX_WAKE
FUTEX_LOCK_PI
FUTEX_UNLOCK_PI

[2019-03-16 04:38] hexiangdong2017 opened #14599 "Can you add a ADC sample?"
I'm using a nRF52832 broad to develope a project and I use Zephyr on it. I need to use NXP MPXV7002 pressure sensor and it's a analog sensor. But I can't find the samples of ADC.
Follows are my codes, but the value is always 2526300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
[code]

[2019-03-16 10:00] nashif commented on #14586
That log is not really useful, need the actual test log. Sometimes a test passes just fine but before it is terminated an exception happens which causes the failure..

[2019-03-16 11:55] aescolar commented on #14571
CC: @jukkar

[2019-03-16 12:00] aescolar commented on #14088
@cinlyooi-intel : Would you be happy to close this issue?

[2019-03-16 12:11] #12704 closed

[2019-03-16 12:18] aescolar commented on #1418
@ulfalizer : Maybe you have a bit of time to check if this is consistent already?

[2019-03-16 13:16] nvlsianpu commented on #14566
@mike-scott Thanks for post this workaround.

[2019-03-16 16:51] lucaspeixotot opened #14601 "Failed to get model for elem_idx 3 mod_idx 0"
Hello, I have a hello world code to learn about bluetooth mesh. When I implemented it zephyr was in 1.13.99 version and everything was running good. Yesterday I tried to running it again and I receive this errors:

[code]

For me this problem is very strange because my component have just two elements, and this error says as I had more.

For understanding the code follow some prints that I think t

[2019-03-16 17:51] lpereira commented on #14493
Yes, FUTEX_WAIT and FUTEX_WAKE were implemented in my sketch because I had the same realization after reading Bionic. I had forgotten about the priority inheritance stuff, though. Good catch.

A good thing to keep in mind, however, is that futexes aren't the best solution for supervisor-mode code (or supervisor/user mode hybrid code). Instead of having specialized functions that takes a pointer to

[2019-03-16 17:51] WilliamGFish commented on #14601
Interesting, I would have a look at the samples under "board" / nrf5 as there are some examples that have implemented light server etc.

Billy..

[2019-03-16 18:21] jhedberg commented on #14601
It looks like you've at some point experimented with code that had at least 4 elements and the stack had store information about them in flash (hence the "invalid element index 3" from the settings subsystem). I'd suggest erasing the storage partition where this kind of info is stored. In general this is expected behavior if you go ahead and change the composition for your application - if you do

[2019-03-16 18:44] lucaspeixotot commented on #14601
This is interesting, I really used this code before with more than 2 elements, maybe this make sense. But, how can I erase the storage partition? I never work with it.

[2019-03-16 19:23] mnkp commented on #12003
Since #13382 was merged should we close this issue?

[2019-03-16 20:55] jhedberg commented on #14601
@lucaspeixotot that depends on the board that you're using. E.g. with nrfjprog you'd do it using `nrfjprog -e` (IIRC). If you're using pyocd-tool it has some similar thing for it. Generally I'd just recommend erasing all flash and reflashing the Zephyr image onto it - that way you don't need to figure out the exact offset and size of the storage partition.

[2019-03-16 20:57] jhedberg commented on #14601
@lucaspeixotot btw, there might be some cleaner way to force a full erase using west that works with all boards, but I'm not so familiar yet with this tool. Maybe @carlescufi or @mbolivar have an idea?

[2019-03-16 20:59] jhedberg commented on #14601
Even better, it'd be nice if west had a way of requesting it to erase only the storage partition.. I realize this is starting to turn into a feature request :)

[2019-03-16 23:25] lucaspeixotot commented on #14601
I think that this was exactly my problem, thank you. I erased the storage partition and so far all my bluetooth codes are working as expected.

I'm using both nrf52_pca10040 and nrf52840_pca10056. Now i'm flashing my code with this routine:

[code]

I would like to trust in west again to flash my code, this would be good.

[2019-03-17 03:24] lgl88911 opened #14603 "pyocd can't support more board_runner_args"
**Describe the bug**
Today I updated the master-branch code. zephyr using more args for pyocd will fail. last Year(2018)haven't the problem。

**To Reproduce**
Steps to reproduce the behavior:
1. add more args in board.cmake
[code]
2. do make flash, you can see:
[code]
3. if remove more args, make flash work well,
[code]

**Expected behavior**
Pyocd script of zephy support more args

[2019-03-17 06:34] andrewboie commented on #14493
I was thinking a decent starting point is to implement sys_sem_* and sys_mutex_* with the same semantics as their kernel counterparts (including some semaphore APIs being ISR safe), but futex-backed. On systems which don't turn on userspace these can just be linker aliases to the kernel versions.

I'm also considering using our gperf scanning to make a hashtable of all k_futex_t addresses found an

[2019-03-17 13:09] nashif commented on #14492
done

[2019-03-17 13:09] #14492 closed

[2019-03-17 18:08] nvlsianpu commented on #8734
@Qbicz @lemrey WIP here https://github.com/nvlsianpu/zephyr/tree/feature/progresive_image_erase

[2019-03-17 18:15] andrewboie commented on #12870
The other arguments are provided in registers or the stack when the new thread is set up, they are just ignored.

No, it's not.

[2019-03-18 04:41] jeff-setec opened #14604 "BLE disconnection caused by channel map request or connection parameter update request"
**Describe the bug**

Zephyr branch:
https://github.com/zephyrproject-rtos/zephyr/commits/v1.13-branch

I have a nRF52832 running Zephyr v1.13.0, which works as a BLE slave, connecting simultaneously to 4 mobile devices, including ios and android.

To have a good connection quality, I have put all devices very closed to each other. The distance between them should be less than 50cm, and no obstacl

[2019-03-18 05:23] rgundi commented on #14186
hmm.. looks like 222fd8f1ab63d758bacfd31d36cb33ae117f771a did the trick.

[2019-03-18 05:24] rgundi commented on #14186
@arun1joshi .. Can you please confirm this is working fine on the latest stack? If yes, please close this issue.

[2019-03-18 05:31] hakehuang opened #14605 "mimxrt1060_evk cpp_synchronization meets Hardware exception"
**Describe the bug**
Hardware exception

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=minxrt1060_evk ..
3. make
4. See error

**Expected behavior**
application runs well

**Impact**
cpp support

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux,)
 - Toolchain (Zephyr SDK)
 - Commit SHA

[2019-03-18 05:35] hakehuang commented on #14605
@MaureenHelm , @dleach02

[2019-03-18 05:38] hakehuang opened #14606 "mimxrt1050_evk tests/kernel/fp_sharing kernel.fp_sharing fails"
**Describe the bug**
float point sharing test fails

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1050_evk ..
3. make
4. See error

**Expected behavior**
test PASS

**Impact**
fp usage

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK,)
 - Commit SHA or

[2019-03-18 05:45] hakehuang commented on #14606
@MaureenHelm , rt1020/rt1060 are ok with this case

[2019-03-18 05:49] jeff-setec commented on #14604
![disconnection_by_LL_CHANNEL_MAP_REQ](https://user-images.githubusercontent.com/42525589/54509491-d42e2d80-499d-11e9-94cc-148ae02510db.JPG)

[2019-03-18 05:51] jeff-setec commented on #14604
[20190307-link_lost_channel_req.zip](https://github.com/zephyrproject-rtos/zephyr/files/2976522/20190307-link_lost_channel_req.zip)

[2019-03-18 06:25] jhedberg commented on #14604
Can you reproduce this with the latest master branch? Most people are busy stabilising it for the 1.14 release currently, so if this issue is applicable there it may get prioritised better.

[2019-03-18 07:54] tbursztyka commented on #14571
Could you detail your hardware configuration, could you also paste a grep NET zephyr/.config  (from your build directory) ?

There is indeed an issue with lock, however there are also things that can be tweaked to help. Let's see.

[2019-03-18 07:59] jukkar commented on #14581
The net_if struct already has dynamic (runtime) support for IPv6 / IPv4 enable/disable feature. See `net_if->config.ip.{ipv6|ipv4}`, it is just that we are missing some way to only enable/disable the support when needed. Those pointers are manipulated by `net_if_config_ipv{4|6}_get()` and `net_if_config_ipv{4|6}_put()`

[2019-03-18 07:59] tbursztyka commented on #13114
working on it.
@nashif can it still make it for 1.14?

[2019-03-18 08:22] SebastianBoe commented on #8559
Yes.

[2019-03-18 08:41] lbise commented on #14063
Thank you @rveerama1. I'll give it a try and report back.

[2019-03-18 08:44] SebastianBoe commented on #14566
@nvlsianpu : Could you do a PR with your proposed solution?

I'm not familiar enough with these symbols to review unfortunately.

[2019-03-18 09:09] finikorg commented on #13560
@Jeepgoing are you using USB Ethernet ECM with Windows? You should use RNDIS. I can verify that RNDIS works with Windows while selecting ECM produces crash (which is also might be an issue, I will check it).

[2019-03-18 09:15] jukkar commented on #14523
So you tried this and did it work as expected?

[2019-03-18 09:21] pizi-nordic commented on #12003
I think so.

[2019-03-18 09:21] #12003 closed

[2019-03-18 09:26] mtuxpe commented on #14523
Hi Jukka,
Yes work as expected.No pending connections.I used socket echo-client
example. Probably other socket applications has the same bug;
Best regards,
Marcio Montenegro

Em seg, 18 de mar de 2019 às 06:16, Jukka Rissanen <notifications@github.com>
escreveu:

[2019-03-18 09:52] finikorg commented on #13560
There seems to be division by zero bug inside `stm32cube`

[code]

[code]

[2019-03-18 10:03] erwango commented on #13560
@ydamigos , @loicpoulain can you have a check?

[2019-03-18 10:09] carlescufi commented on #14459
@nvlsianpu this looks like an easy fix, can you take a look?

[2019-03-18 10:39] jukkar commented on #14523
Great, could you send a PR that fixes the issue? You fix looks just fine.

[2019-03-18 10:59] laperie opened #14608 "Promiscuous mode net sample cannot be build"
**Describe the bug**
The subject says it all ..

**To Reproduce**
Steps to reproduce the behavior:
1. cd zephyr/samples/net/promiscuous_mode && mkdir build && cd build
2. cmake -DBOARD=qemu_x86  ..
3. make run
4. See error
...
[  7%] Building C object CMakeFiles/app.dir/src/main.c.obj
zephyr/zephyr/samples/net/promiscuous_mode/src/main.c:17:10: fatal error: net/tcp.h: No such file or directory
 #i

[2019-03-18 11:00] laperie commented on #14608
It's also important to ensure this failures are caught automatically

[2019-03-18 11:05] hakehuang opened #14609 "mimxrt1050_evk Fatal fault in thread tests/kernel/mem_protect/stackprot Fatal fault in thread"
**Describe the bug**
kernel mem_protect stack prot

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=mimxrt1050_evk ..
3. make
4. See error

**Expected behavior**
test PASS

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Screenshots or console output**
[code]

**Environment (please complete the following inf

[2019-03-18 11:05] hakehuang commented on #14609
@MaureenHelm

[2019-03-18 11:06] lemrey commented on #14566
https://github.com/JuulLabs-OSS/mcuboot/pull/445

[2019-03-18 11:25] ozhuraki opened #14612 "samples/net/sockets/echo_async_select doesn’t work for qemu_x86 target"
Currently, the error check of setsockopt of IPV6_V6ONLY (which is unsupported on MCU targets) is too restrictive.

Pull request with the fix:

https://github.com/zephyrproject-rtos/zephyr/pull/14610

[2019-03-18 11:32] mtuxpe commented on #14523
Hi Jukka, PR sent:
https://github.com/zephyrproject-rtos/zephyr/pull/14614

Em seg, 18 de mar de 2019 às 07:39, Jukka Rissanen <notifications@github.com>
escreveu:

[2019-03-18 11:34] cvinayak commented on #14604
@jeff-setec This is a limitation due to overlapping connection events in slave role. As the individual masters have no knowledge of other connection in the slave, they use the default instant offset of 6 events. If 4 connection events in the slave overlap, each connection listens to its master on the 4th connection event, if the event that the slave is listening fails to synchronize with the maste

[2019-03-18 12:15] #12947 closed

[2019-03-18 12:15] #12949 closed

[2019-03-18 12:37] nikooiko commented on #12870
So from what you said I guess that indeed the best solution is to use methods with a definition based on k_thread_entry_t.

Should we close this?

[2019-03-18 13:02] MaureenHelm commented on #14603
Hi @lgl88911 ,  I changed the name of the argument from `flashtool-opt` to `flash-opt` in commit 987313e102cb36e007e89cb7c9147b204694e3f2. This was to make the runner consistent with recent changes in pyocd itself (e.g., moving from `pyocd-flashtool` to `pyocd flash`). Sorry for the inconvenience.

[2019-03-18 13:12] aescolar opened #14621 "BLE controller: Add support for Controller(SW deferred)-based Privacy"
For devices without address resolution acceleration in the LL hardware (like a nRF51), the current controller code does not support privacy (random addresses).
A method for resolving addresses in SW should be added for this kind of platforms.
This only needs to be added for the new split LL architecture (as the old will be deprecated soon).

The method shall defer the resolution of unknown address

[2019-03-18 13:15] erwango commented on #14568
@ydamigos, @ldts,  would you have time to look ta this one?

[2019-03-18 13:17] nvlsianpu commented on #14566
@SebastianBoe
https://github.com/zephyrproject-rtos/zephyr/pull/14620 + https://github.com/JuulLabs-OSS/mcuboot/pull/447

[2019-03-18 13:30] rmstoi opened #14622 "net: IPv6: malformed packet in fragmented echo reply"
Prerequisites: enable CONFIG_NET_IPV6_FRAGMENT=y

There seems to be an issue with IPv6 fragmentation. For example, testing native posix echo server:

`ping6 -I zeth 2001:db8::1 -s 1300 -c 1`

To echo request Zephyr sends echo reply with the malformed second fragment. Wireshark marks that packet as malformed and ping6 does not succeed.

[2019-03-18 13:50] ulfalizer opened #14623 "sanitycheck error when trying to run specific test"
Not sure if I'm doing this the intended way, but anyway:

[code]

[2019-03-18 14:09] finikorg commented on #14622
I have this issue for my netusb samples, interesting that if I disable IPv6 fragmentation I can send 1500 bytes - headers, while when fragmentation is enabled I can not send even 1300 bytes.

[2019-03-18 14:25] summer20100514 opened #14626 "[question] radio irq not triggered using mcuboot"
What I want to do is using raw radio operations without bluetooth subsystem. It seems that radio irq not triggered in mcuboot which is based on zephyr with multithreading disabled. While the same project which is solar beacon demo works well using MDK.

[2019-03-18 14:32] rmstoi commented on #14622
The malformed fragment seems to occur after second echo request. The first echo reply has wrong checksum and its second  fragment is missing.

[fragv6malform.pcapng.gz](https://github.com/zephyrproject-rtos/zephyr/files/2978650/fragv6malform.pcapng.gz)

Also, I've changed the amount of buffers:

[code]

[2019-03-18 14:38] Qbicz opened #14627 "USB HID device only detected after replugging"
**Describe the bug**
Device uses USB HID class. It used to register to host and send HID data over USB without issues.
However, with Zephyr revision 19de7ecc5b6dc10 (Nordic NCS 812f5d5a7dfba) device is not recognized after boot. You need to unplug and replug it to make USB HID work.

Sequence of USB callbacks that I receive:
[code]

**Impact**
Showstopper. Device should be operational right after

[2019-03-18 14:39] Qbicz commented on #14627
FYI @pawelzadrozniak @masz-nordic

[2019-03-18 15:18] nvlsianpu commented on #14459
@masz-nordic As you can check in autoconf.h:
[code]

Problem is that there is no default configuration for disk susbsystem.
I believe that you can use DT properties of storage-partition for default volume boundaries. erase-block-size is also avielable there.  I recommend to use specific *.conf for the board you used.

Any patch with default kconfig welcome.

[2019-03-18 15:51] galak commented on #3198
@vonhust any updates on this?

[2019-03-18 15:55] galak commented on #13444
With SDK 0.10.0 and recent changes is this still an issue, can't seem to reproduce.

[2019-03-18 15:58] galak commented on #14540
Do you mind submitting a PR for this?

[2019-03-18 16:10] jukkar commented on #14622
The IPv6 MTU is 1280 bytes, although in this case we could and should send 1500 bytes just fine. If you feel like it, please create issue for that.

[2019-03-18 16:11] laperie opened #14632 "Default for TLS_PEER_VERIFY socket option are set to required, may lead to confusion when running samples against self-signed certs"
**Describe the bug**
samples/sockets/big_http_download

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/sockets/big_http_download
2. mkdir build  && cd build
3.  cmake -DBOARD=qemu_x86 -DOVERLAY_CONFIG=overlay-tls.conf ..
4.  make run

**Expected behavior**
HTTPS request made to https://www.7-zip.org/a/7z1805.exe and file is fetched

**Impact**
We have no verified cases that TLS wo

[2019-03-18 16:15] jukkar commented on #14632
Assigning a bug to many persons does not usually work as expected as then it is not really known who will look at it. As this looks like a socket TLS issue and @rlubos is the main expert there, I am reassigning this to him atm.

[2019-03-18 16:19] jukkar commented on #14632
I actually tried this too in qemu_x86 with local https server (using overlay-tls.conf and overlay-e1000.conf), the log looks like this:
[code]

[2019-03-18 16:22] #14476 closed

[2019-03-18 16:23] #14447 closed

[2019-03-18 16:23] jukkar commented on #14632
@rlubos if you think this is not TLS related, please feel to reassing to me for example.
The connectivity works ok without https.

[2019-03-18 16:28] #14191 closed

[2019-03-18 16:31] laperie opened #14633 "undefined reference to `mbedtls_debug_set_threshold' when MBEDTLS_DEBUG is enabled"
**Describe the bug**
Cannot enable debugging of MBEDTLS.  Something is rotten in the state of Denmark. (C) Shakespeare

**To Reproduce**
Steps to reproduce the behavior:
1. in #14632, enable MBEDTLS_DEBUG
2. build
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots or console output**
[code]

**Environment (please complete the followin

[2019-03-18 16:31] #14608 closed

[2019-03-18 16:40] joerchan opened #14635 "bluetooth: controller: Control procedure collision with Encryption and PHY update procedure"
Description:
Bluetooth controller can initiate LL encryption procedure whyle LL phy update procedure is in progress.
This is a violation of the Bluetooth specification, only one LL control procedure can be initiated by one side at a time.
If the peer side is behaving as expected it shall drop the connection with error code LPM transaction collision.

To reproduce
Using bluetooth central_hr sample

[2019-03-18 16:50] dgloeck commented on #14571
Well, the hardware is a SAM E70 Xplained board on the same switch as my PC.

Here is the NET part from my .config. I have omitted the LOG_LEVEL messages to shorten it a litte:
[code]

I have thought about raising CONFIG_NET_PKT_TX_COUNT and CONFIG_NET_BUF_TX_COUNT, but that will not eliminate the problem. It will just be less likely. Temporarily detaching the PC from the switch should still cause

[2019-03-18 16:52] gnuless commented on #14540
@galak @rodrigopex I'm working on a patch for this now.

[2019-03-18 17:13] pfalcon commented on #8008
Ok, #13667 was merged, so the situation is "good enough" for 1.14. #13667 however addresses the issue on socket level, while @rlubos suggested that it might be better to address it on layers below - net_context, or even specifically on TCP connection object level. So, I'm not closing this, in the hope that we will look into that later.

[2019-03-18 17:14] andyross opened #14639 "All tests should be SMP-safe"
Traditionally, Zephyr was a uniprocessor system.  But it now has a SMP platform in CI.

Lots and lots of code in our tests was written to assume uniprocessor behavior, for example that lower priority threads will never run if a higher priority thread is runnable (now it can run on another CPU), or that a given thread mode event will never happen until after the return of a interrupt context event

[2019-03-18 17:17] andrewboie opened #14640 "ARC: tests/cmsis_rtos_v2/portability.cmsis_rtos_v2 fails on nsim_em and nsim_sem"
[code]

[2019-03-18 17:18] andrewboie opened #14641 "ARC: tests/kernel/critical/kernel.common times out on nsim_em and nsim_sem"
Test case just hangs on nsim_em and nsim_sem simulator:

[code]

[2019-03-18 17:26] andrewboie opened #14642 "ARC: tests/posix/common/ and tests/kernel/critical time out on nsim_sem with userspace enabled"
Only seen failure on nsim_sem. Fails both test variants: portability.posix and portability.posix.newlib

The failure is a hang after printing some output:

[code]

[2019-03-18 17:26] andrewboie commented on #12950
This isn't failing anymore, closing.

[2019-03-18 17:26] #12950 closed

[2019-03-18 17:28] andrewboie opened #14643 "ARC: tests/kernel/mem_protect/mem_protect/kernel.memory_protection fails on nsim_sem"
One of the sub-tests fails and then the case hangs. Seen only on nsim_sem:

[code]

[2019-03-18 18:34] andrewboie commented on #14641
It looks like the test eventually completes, but it takes a long time, longer than the allowed timeout in sanitycheck for the test.

On qemu_x86, the test takes about 16 seconds.
On nsim_em, the test takes about 105 seconds on my machine.

[2019-03-18 18:37] andrewboie commented on #14642
It looks like the test actually succeeds, but takes a long time. On my unloaded workstation it took about 21 seconds for the test to complete.

[2019-03-18 19:03] andrewboie commented on #14643
The problem here is that the validation code in the syscall handler for k_thread_create() isn't checking the size properly.

[2019-03-18 19:15] rodrigopex commented on #14540
@gnuless I guess it will be necessary to reorder the lock position at the struct as well. It must be declared after the used field at the initializer. The order matters here.

[2019-03-18 19:35] andrewboie commented on #14643
More detail:

- A thread stack is defined with size 512 (KOBJECT_STACK_SIZE in the test)
- The test that is failing is trying to call k_thread_create() using that stack object, but with a size of 513 (KOBJECT_STACK_SIZE + 1).
- This is succeeding, even though there should be only 512 bytes available for thread data in the buffer.

The root of the problem seems to be that in memory, the stack objec

[2019-03-18 19:43] dgloeck opened #14647 "IP: Zephyr replies to broadcast ethernet packets in other subnets on the same wire"
**Describe the bug**
When Zephyr is configured to IP address 192.168.2.166 with netmask 255.255.255.0, it will try to send ICMP port unreachable packets for broadcast packets sent to 192.168.17.255 by other computers in the same ethernet broadcast domain using 192.168.17.255  as sender IP address.

There is a check in `ethernet_recv` that drops all unicast packets not destined for the board, but p

[2019-03-18 19:49] gnuless commented on #14540
@rodrigopex I don't think reordering the struct is necessary.  My understanding is that C++ requires that the designated initializers be in order, but not that every initializer be present.  Try the patch and if you still have problems, I'd be interested in which compiler you are using.  G++ 8.3 out of the 0.10.0 SDK finds the patch acceptable.

[2019-03-18 20:02] ulfalizer commented on #14177
FWIW, I've never felt the need for or used `virtualenv`, and I don't think it should be considered part of some basic toolbox, especially not in a project with a lot of people who don't code Python.

[2019-03-18 20:12] rljordan commented on #14184
@AdithyaBaglody  It appears this is still an issue.

[2019-03-18 20:17] ydamigos commented on #14568
@ranbochen Does the following patch solve the issue?
[code]

[2019-03-18 20:24] rodrigopex commented on #14540
@gnuless I will try that.

[2019-03-18 20:30] andyross opened #14649 "CI testing must be retry-free"
See #12553 for extensive analysis and discussion.

Essentially, there are known instabilities that cause spurious failures on tests in sanitycheck and CI that are currently being worked around by retrying failures.  That is bad, and we should stop doing it.  But the good news is that (we think!) all the instabilities are understood at this point and can be worked around.

For 1.15, all integration

[2019-03-18 20:32] andyross commented on #12553
This seems to have gone quiet.  I'm convinced this is well-characterized and resolvable, but of course it won't be for 1.14.  I've opened #14649 to track a firm "must be retry-free" requirement for the next release, and am going to close this one as a 1.14 bug.

[2019-03-18 20:45] andrewboie commented on #14649
My vote is a very strong preference for #14173

[2019-03-18 20:49] marc-hb commented on #14177
`virtualenv` aside, getting into Zephyr with zero knowledge or Python and no intention to learn any is probably not a good idea. Getting into any project while trying to completely ignore how it's made has never been a recipe for success.

[2019-03-18 20:51] andyross commented on #14649
Agree for sure.   Plan B is mentioned because it's been prototyped and is known to work, where fixing -icount probably involves diving into the guts of qemu.

[2019-03-18 21:00] andrewboie opened #14650 "missing system calls in Counter driver APIs"
We do not have system calls implemented for some of the counter APIs, preventing access from user mode.

[code]

[2019-03-18 21:00] andyross commented on #12870
Yeah, this is an ABI violation, but it's harmless on existing architectures.

[2019-03-18 21:00] #12870 closed

[2019-03-18 21:03] andrewboie commented on #14650
Most of these pull values out of dev->config->config_info

config_info is a struct in ROM and should be directly readable by user mode.
We might be able to implement a generic k_driver_config_get() system call which returns a pointer to the config struct, and these APIs could be done in terms of that, rather than a syscall for each one.

[2019-03-18 21:39] dleach02 commented on #14605
Not able to reproduce.

[2019-03-18 22:02] dgloeck opened #14652 "Gitlint is more strict than checkpatch.pl"
**Describe the bug**
checkpatch.pl warns if commit messages have lines that exceed 75 characters but the Gitlint check that is automatically run for pull requests rejects commit messages that have lines longer than 72 characters.

**Expected behavior**
The checks should be unified.

**Impact**
annoyance

[2019-03-18 22:32] henrikbrixandersen commented on #9596
This is likely the same cause as #10628 and #10915.

[2019-03-18 23:03] vanti commented on #13444
@galak I am still seeing the issue on 87b7bee52c34a9989a8b74128ed76011e2cf9a01 with SDK 0.10.0.

[2019-03-19 00:00] #14540 closed

[2019-03-19 00:19] rljordan commented on #14571
@tbursztyka Please review priority.

[2019-03-19 00:37] tedd-an opened #14654 "Samples: echo_client: No reply packet from the server"
**Describe the bug**
echo_client sample is not working as described [here](https://docs.zephyrproject.org/latest/samples/net/sockets/echo_client/README.html).
The echo_client sends the packet but it is not received by the echo_server.

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/sockets/echo_client
2. mkdir build; cd build
3. cmake -GNinja -DBOARD=qemu_x86 ..
4. ninja

5. F

[2019-03-19 00:42] cinlyooi-intel commented on #14088
Yes. Sorry for not closing earlier.

[2019-03-19 00:42] #14088 closed

[2019-03-19 02:03] arun1joshi commented on #14186
@rgundi, I still see the same failure on the latest commit [3a8767c]
===================================================================
starting test - test_kernel_systick

    Assertion failed at /home/joshiaru/zephyr.git/tests/cmsis_rtos_v1/src/kernel_apis.c:51: test_kernel_systick: diff >= WAIT_TIME_US is false

FAIL - test_kernel_systick
=======================================================

[2019-03-19 03:31] jeff-setec commented on #14604
@jhedberg and @cvinayak
Thanks!

The Zephyr is running on a BLE module Laird BL652-SA-01, which is mounted on the board we designed, and is working as a slave connecting simultaneously to 4 mobile devices, 1 iPhone 7 Plus, 1 iPhone XR, 1 LG-X240YK, and 1 android tablet. All mobile devices are running an app we designed.

The disconnection occurs more between the Zephyr BLE module and the LG phone,

[2019-03-19 03:52] gnuless commented on #14647
@dgloeck Please try the patch #14656 to see if this corrects this issue (or breaks anything).

[2019-03-19 03:59] summer20100514 commented on #14626
should use irq_connect api, issue closed.

[2019-03-19 05:09] ramakrishnapallala commented on #14462
I see that test works:

***** Booting Zephyr OS v1.7.99-16394-g3a8767c1f269 *****
It works
===================================================================
PROJECT EXECUTION SUCCESSFUL
===================================================================
PROJECT EXECUTION SUCCESSFUL

Here are the steps I followed:

mkdir build; cd build
cmake -DBOARD=altera_max10 ..
make flash

Check the logs on

[2019-03-19 06:11] tedd-an opened #14657 "Sample: echo_async: setsockopt fail"
**Describe the bug**
/samples/net/sockets/echo_async/
On qemu_x86, it is failed to run with the error from setsockop()
See below for output log

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/sockets/echo_async/
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=qemu_x86 ..
3. ninja && ninja run

**Expected behavior**
run without error

**Impact**
Sample code is not working

**

[2019-03-19 06:36] wentongwu commented on #14499
run the case(e.g. kernel.workqueue) manually, it works well.

[2019-03-19 06:42] jhedberg opened #14658 "Disabling CONFIG_BT_PHY_UPDATE makes connections stall with iOS"
Many Mesh apps like `samples/bluetooth/mesh` disable `CONFIG_BT_PHY_UPDATE`, however currently when connecting from iOS (nRF Connect or nRF Mesh) the connection just stalls after having performed the connection parameter update procedure.

[2019-03-19 07:20] tbursztyka commented on #14571
@dgloeck what about unlocking only in context_alloc_pkt()? That could be sufficient. Indeed playing with unlock in tcp side is potentially creating issues (it's already quite unstable...)

[2019-03-19 07:20] aescolar commented on #14652
@dgloeck : Would you like to submit a patch?

[2019-03-19 07:31] finikorg opened #14659 "NET: IPv6: Use MTU 1500 bytes when Ethernet media is used."
According to RFC 894: https://tools.ietf.org/html/rfc894
[code]

[2019-03-19 07:33] finikorg commented on #14622
Added Issue #14659 (feature request)

[2019-03-19 07:57] summer20100514 commented on #14626
interrupts still can not be triggered using IRQ_DIRECT_CONNECT, also the RTC0 interrupt can not be triggered.

[2019-03-19 08:11] rlubos commented on #14632
Thanks, I'll try to reproduce/debug.

[2019-03-19 08:34] rlubos commented on #14632
Hmm tried to reproduce, but the sample works out of the box for me :|
[code]
As you see the sample did connect and downloaded the file, next download is in progress... Perhaps some wireshark pcap or mbedTLS logs could be helpful to identify whether it's a problem with TLS handshake.

[2019-03-19 08:41] vonhust commented on #3198
@ruuddw ? Yes, some time is lost between the reset  and the inti of systick , do we need very accurate number on this ? IF not, i suggest to close this issue.

[2019-03-19 08:42] rgundi commented on #14186
@arun1joshi Yes. Able to reproduce on the latest tip.  I could see that the commit d4b4b992725360a95ca1ffa357286be0b16615e5 may be the culprit. It introduced "ARCH_HAS_CUSTOM_BUSY_WAIT" and when i disabled it for nrf51 and nrf52 boards (via their respective Kconfig.defconfig.series), i could see that it was passing. Please verify this. Please note reverting that commit is not an option as git comp

[2019-03-19 08:48] rlubos commented on #14633
Hi @laperie, I've seen this issue before. It seems that `make` does not rebuild mbedTLS in case Zephyr configuration is changed (in this case mbedTLS debug enabled). When I used make, I forced it to rebuild entire project with `make clean && make` after changing mbedTLS configuration.

Apparently this is not an issue when using `ninja` - it seems to understand better what needs to be rebuilt.

[2019-03-19 08:49] laperie opened #14661 "samples/net/syslog_net fails for native_posix"
**Describe the bug**
In native_posix configuration, syslog_net sample is not working

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=native_posix
3. make run
4. Ensure syslogd is listening to the UDP port 514.
For example, in xubuntu, ensure that following is uncommented in /etc/rsyslogd.conf
``module(load="imudp")``
``input(type="imudp" port="514")``
5

[2019-03-19 08:49] wentongwu commented on #14500
run the case(e.g. kernel.common) manually, it works well. It should be someone's commit cause this issue. I'm checking this issue.

[2019-03-19 08:53] rmstoi opened #14663 "net: echo server sends unknown packets on start"
When started, native posix echo server sends several unknown packets. They seem to be malfmormed ICMPv6 packets (MLD?)

[zephyr-init-unknown.pcapng.gz](https://github.com/zephyrproject-rtos/zephyr/files/2982336/zephyr-init-unknown.pcapng.gz)

[2019-03-19 08:55] #14635 closed

[2019-03-19 08:57] dgloeck commented on #14571
@tbursztyka I tried that at first, but then it got stuck in `prepare_segment`.

[2019-03-19 09:13] vonhust commented on #3198
@galak #14664 will fix this

[2019-03-19 09:22] agansari commented on #14606
@hakehuang i am able to reproduce this

[2019-03-19 09:26] agansari commented on #14609
@hakehuang i'm not able to reproduce this.
What commit are you on? I've checked out v1.14.0-rc2 tag, but get the following header when running the board:
***** Booting Zephyr OS v1.14.0-rc1-1238-g350f6f715632 *****

The same goes for #14606 but I was able to reproduce that.

[2019-03-19 09:32] tbursztyka commented on #14571
Ok, well let me send a "fix" based on you tests

[2019-03-19 09:35] laperie opened #14665 "samples/net/zperf does not work for TCP in qemu_x86"
**Describe the bug**
Running zperf in qemu gives IPv6 connect failed error

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=qemu_x86
3. make
4. ensure iperf 2 is running as per instruction
5. Observe error

**Expected behavior**
No error

**Impact**
annoyance

**Screenshots or console output**
[code]

**Environment (please complete the following informat

[2019-03-19 09:43] Qbicz commented on #14627
I checked and the problem was introduced between cf856183d1bd51 (good, February 22) and  d9876be30c21 (bad, merged on March 5). I cannot bisect further because I would have to make project compile for every revision in between (which would take quite some time).

In other words, it first occured on NCS upmerge 5eea43cf277.

[2019-03-19 09:46] carlescufi commented on #11149
@jhedberg could you find a way to close this one? Thanks!

[2019-03-19 09:47] carlescufi commented on #12574
@vikrant8051 @jhedberg 	is this still an issue?

[2019-03-19 09:47] carlescufi commented on #9720
@jhedberg can you close this one and @SergeSmirnov can re-open if this is reproduced?

[2019-03-19 09:49] carlescufi commented on #8419
Adding @joerchan to keep him in the loop when it comes to Mesh extensions.

[2019-03-19 09:50] AdithyaBaglody commented on #14184
I am unable to reproduce this issue with the latest master f4c8e3ff3197d36773d68b4b4802daabc401f918

[2019-03-19 09:50] carlescufi commented on #8419
@jhedberg there are 3 commands implemented in the legacy LL already, you could start using those in the Host.

[2019-03-19 09:52] pfalcon commented on #14632
Confirming @rlubos's results with f4c8e3ff3197d36773d68b4b4802daabc401f918 and build completely OOB (the original report contains changes at least to logging config):

[code]

("slip: [0x00400b00] cannot allocate pkt" eyecandy is from https://github.com/zephyrproject-rtos/zephyr/issues/13991).

[2019-03-19 09:55] carlescufi commented on #14235
@neha0119 have you managed to test the suggested changes from @cvinayak?

[2019-03-19 09:57] carlescufi commented on #13389
@mped-oticon in order not to affect the current release, and give that this is on the non-default split arch, turning this into enhancement.

[2019-03-19 10:02] carlescufi commented on #14604
Switching this to feature request because this is an inherent limitation on the Bluetooth spec. We will analyze a bit further but it looks like the timing is imposed by the centrals (mobile phones) over which we have no control.

[2019-03-19 10:04] carlescufi commented on #14604
@jeff-setec can you add traces for all 4 connections? you would need to use 4 sniffers in parallel. As long as you have 4 Nordic DKs you should be able to do that.

[2019-03-19 10:12] #14566 closed

[2019-03-19 10:15] rlubos commented on #14654
It's most likely an IP address mismatch - the default sample configuration allows for seamless Qemu vs Qemu, or board vs board communication. Qemu vs Linux requires to swap IP address in the Echo Client as mentioned in a comment in a project file https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/net/sockets/echo_client/boards/qemu_x86.conf.

Probably we should add this information i

[2019-03-19 10:34] summer20100514 commented on #14626
multithreading enabled and everything seems working well

[2019-03-19 10:34] #14626 closed

[2019-03-19 10:37] laperie commented on #7591
Marking as fixed as all the substantial modifications of the stack have been done.
We'll keep engineering debt reduction open for the forthcoming releases.
THANKS EVERYBODY FOR WORKING HARD ON THIS ONE!

[2019-03-19 10:37] #7591 closed

[2019-03-19 10:48] rmstoi opened #14668 "net: icmp4: Zephyr strips record route and time stamp options"
If echo server receives ICMPv4 echo request with IPv4 options Record Route and Time Stamp it does not include them in echo response. According to [RFC 1122 3.2.2.6](https://tools.ietf.org/html/rfc1122#page-43) these options must be updated and included in the echo response.

[ipv4-timestamp-recordroute.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/2982874/ipv4-timestamp-recordroute.p

[2019-03-19 10:59] jukkar commented on #14661
I tested this yesterday and noticed that in this case the logger did not call the net backend output function. This looks like some glitch in logger to me.
Also it is enough to verify that the log messages are sent by just monitoring the `zeth` network interface in host using wireshark. Before starting zephyr, one needs to run net-setup.sh script from net-tools repo (it creates the `zeth` interfac

[2019-03-19 10:59] tbursztyka commented on #14668
didn't you say that linux was dropping the options, when I fixed the ipv4 options parsing?

[2019-03-19 11:01] tbursztyka commented on #14668
oh btw, we don't support ANY ipv4 options. So it's not a bug, we just don't support any ipv4 options, period.

If we want to support it, that's an enhancement

[2019-03-19 11:04] rmstoi commented on #14668
Please add reference, to where I said that

[2019-03-19 11:06] nordic-krch commented on #14661
i suspect one thing. Immediate mode (former in_place mode) has been reworked and that required changes in backends. I guess that network backend was not updated. If i recall correctly native_posix board is forcing `LOG_IMMEDIATE` option and network backend simply does not support it.

To add that 2 functions are required, one for synchronous string processing and second one for hexdump. You can se

[2019-03-19 11:08] nordic-krch commented on #14661
@jhedberg do you know if bluetooth monitor backend can be used in native posix? If yes then it will hit the same issue - missing support for working in blocking mode.

[2019-03-19 11:13] tbursztyka commented on #14668
@rmstoi It was on IRC. But that was about #11618 so probably not about these same options. nevermind

[2019-03-19 11:16] jukkar commented on #14654
That is indeed the most probable case here. So the convention has been that zephyr is running in 192.0.2.1 or 2001:db8::1 and the Linux is in 192.0.2.2 or 2001:db8::2. Of course this is not valid if we have two zephyrs connected to each other, in that case the server should be in 192.0.2.1 and client in 192.0.2.2. There is nothing preventing to use any IP addresses but if we stick with these examp

[2019-03-19 11:17] laperie commented on #14633
Cannot confirm that, sorry -- same symptoms no matter what you use to build the sample.  Problem is likely elsewhere...

[2019-03-19 11:19] jhedberg commented on #14661
@nordic-krch I've never tried it, but seems a bit pointless since on native posix you get HCI traces straight from the linux kernel using btmon, i.e. no need to ask Zephyr to give them to you.

[2019-03-19 11:19] jukkar commented on #14661
Ok, good to know. I can do the fixing for the backend and test it. Re-assigning back to me.

[2019-03-19 11:22] jukkar commented on #14661
BTW, in the future, it would be good that if changes to backends are done, then all backends would be converted too, or at least inform the relevant parties that some changes are needed.

[2019-03-19 11:29] nordic-krch commented on #14661
@jukkar i assumed that network backend will not work in synchronous mode because that means that it must support processing even from interrupts. I didn't take native_posix board into consideration.

[2019-03-19 11:51] jukkar commented on #14661
@nordic-krch no worries, I have a fix coming in few minutes.

[2019-03-19 12:21] pfalcon commented on #14571
Of related issue, we have functions which take timeout parameter, but call `k_mutex_lock(&context->lock, K_FOREVER);` in them. I.e. even despite timeout parameter, they could deadlock forever (of course, one would hope that deadlock can never happen in them, but issues like this teach otherwise).

[2019-03-19 12:46] #3198 closed

[2019-03-19 12:57] jhedberg commented on #14267
@paulgavrikov I'm looking again at existing master, and it seems to me like it should already behave like you want. Also note that we have new `bt_le_adv_update_data()` API which might suite your purpose better.

[2019-03-19 13:17] aescolar opened #14675 "Bluetooth: Controller privacy support (platforms with HW acceleration)"
For devices **with** address resolution acceleration in the LL hardware (like a nRF52), the current split controller code does not yet support privacy (random addresses).

Consider porting the solution from the previous controller architecture.

[2019-03-19 13:23] jukkar commented on #14665
The `connect failed` error would be fixed by #14648 but after applying that one, the TCP engine is running out of memory and then crashing. I am investigating this new issue.

[2019-03-19 13:39] wentongwu commented on #14639
Hope we can get a real platform supporting SMP, not just only QEMU.

[2019-03-19 13:45] #14663 closed

[2019-03-19 14:03] nashif commented on #14623
hmm, can't reproduce this.

[2019-03-19 14:09] joerchan commented on #13522
@lanvis I'm not able to reproduce this issue with the samples in (tried central_hr)
Can you provide me with something that reproduces the issue? Either using one of the samples or the source code you have.
Also could you please provide the commit SHA you are on (1.13.99 is not a tag).

[2019-03-19 14:29] aescolar opened #14678 "Bluetooth: split controller: add support for Mesh Extensions"
Add support to the split link layer for the HCI mesh extensions. A subset of these were already supported by the old controller, however to make the host side (mesh stack) move to use the the full spec should be implemented.

[2019-03-19 14:34] #14658 closed

[2019-03-19 14:42] SergeSmirnov commented on #9720
I agree.

[2019-03-19 14:47] finikorg commented on #14288
PR #14677

[2019-03-19 14:49] #9720 closed

[2019-03-19 15:25] lanvis commented on #13522
There are only 2 central samples and only 1 with 2-way data traffic.  I too started with central_hr.  There is no indicate example.   It bothers me that the  bt_gatt_subscribe_params struct only has a notify member (no indicate) so I am using the notify member to register my indicate.

The crash occurs either on the subscribe response and/or a subsequent indicate resulting from a write.

The perip

[2019-03-19 15:30] jhedberg commented on #8419
@carlescufi yes, I could take a look if we can replace the bt_le_adv_start/stop usage with that (at least for a combined build where we know the controller supports the vendor extensions). However, I'd feel uneasy making this never-before used controller functionality the primary method of mesh transmission just a few weeks before LTS, so I think I'd prefer to experiment with this only once we hav

[2019-03-19 15:43] pizi-nordic commented on #14306
Yes, but the kernel could automatically handle only timers.

[2019-03-19 15:57] dgloeck commented on #14571
@tbursztyka, at first I was surprised how short your patch is. But then I saw that you did not unlock the mutex in `prepare_segment`. I have uploaded my patch to dgloeck/zephyr@e61634cf72abfdb824c96b8924e07f552c210a07. I believe I have covered all places that call into `prepare_segment`. Most of this is untested, though.

[2019-03-19 16:10] pfalcon commented on #13444
As mentioned above, fixing this properly would require some legwork and actually, discussion of the overall approach first (I now submitted https://github.com/zephyrproject-rtos/zephyr/issues/13787 on that). So, I suggest to move this forward from 1.14.

[2019-03-19 16:20] andrewboie opened #14683 "need end-to-end memory protection samples"
We need an end-to-end memory protection sample which demonstrates the following. We have ample tests for these but not an example showing everything working together.

- [x] Multiple logical applications, each having their own threads, partitioned with memory domains
- [x] Instantiation and assignment to a partition of a sys_mem_pool
- [x] Configuration and use of thread resource pools
- [x] Manag

[2019-03-19 16:39] laperie opened #14684 "samples/net/promiscuous _mode : Cannot set promiscuous mode for interface"
**Describe the bug**
when running samples/net/promiscuous _mode  for qemu_x86 or for frdm_k64f reports

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=qemu_x86
3. make
4. See error. Error is identical both for qemu and frdm

**Expected behavior**
Sample acts as described

**Impact**
Promiscuous mode cannot be enabled

**Screenshots or console output**
[

[2019-03-19 16:47] laperie commented on #14684
Turns out, only native_posix ethernet driver has the promiscuous mode support. It works.

[2019-03-19 16:47] #14684 closed

[2019-03-19 16:54] #13550 closed

[2019-03-19 17:15] #11393 closed

[2019-03-19 17:54] dcpleung commented on #14554
I tried commit 2320973fea31086deedbbe1610b5e848e4ea9e79 using `samples/subsys/shell/shell_module` on the UP Squared board and it worked fine without any issue.

Did you update the BIOS? If so, the MMIO addresses might have changed. Do you have `CONFIG_PCI` and `CONFIG_PCI_ENUMERATION` turned on? Zephyr will probe for address and IRQ if they are both turned on.

[2019-03-19 18:18] neha0119 commented on #14235
Hello @cvinayak and @carlescufi
By setting the CLOCK_CONTROL_NRF_K32SRC_500PPM solved our problem. Earlier it was set to 250PPM.

[2019-03-19 18:38] #14504 closed

[2019-03-19 18:38] #14508 closed

[2019-03-19 18:42] andrewboie opened #14688 "remove privileged stack generation mechanism for ARM"
On ARM, we have logic in the build which scans the zephyr binary for thread objects and creates a gperf table mapping thread objects to separately declared supervisor mode stacks.

ARC has show us that this isn't necessary. We do not need to program MPU regions for the supervisor mode stacks, only user mode stacks. Even on MPU power of two aligned systems, the supervisor mode stack just needs to b

[2019-03-19 19:16] carlescufi commented on #14235
Thanks @neha0119. Closing this issue then.

[2019-03-19 19:16] #14235 closed

[2019-03-19 19:58] tedd-an commented on #14654
Confirmed that as @rlubos suggested, it works find with Qemu vs Linux mode after swapping the IP address.
However, the page contains invalid information:
[https://docs.zephyrproject.org/latest/samples/net/sockets/echo_client/README.html#running-echo-server-in-linux-host](https://docs.zephyrproject.org/latest/samples/net/sockets/echo_client/README.html#running-echo-server-in-linux-host)

It may be

[2019-03-19 20:14] mbolivar commented on #14460
Adding @MaureenHelm as an FYI.

@attdona, I think this is a pyOCD bug, not a Zephyr bug, for reasons explained here:

https://github.com/mbedmicro/pyOCD/issues/582

I'm closing this as a result. Please reopen if you disagree.

[2019-03-19 20:14] #14460 closed

[2019-03-19 20:18] ydamigos commented on #13560
I couldn't reproduce the error. I tested echo_server using netusb on my 96b_carbon. It starts without crashing:
[code]

[2019-03-19 20:26] ioannisg commented on #14688
@andrewboie @agross-linaro , if we do this, I would recommend to think of placing the priv stack lower than the use stack, if possible. So we could skip reprogramming the stack overflow limit at each system call (Armv8m)

[2019-03-19 20:30] andrewboie commented on #14688
Given that the user stack may need to be aligned to its power-of-two size, I don't see how that is possible. This only works if the supervisor stack is at higher memory addresses.

[2019-03-19 20:45] i-and commented on #6082
Hi @nashif,
When do you plan to support the MIPS architecture? Will you support MIPS64?

[2019-03-19 22:26] tedd-an opened #14691 "samples: telnet: net shell is not working"
**Describe the bug**
Found couple of issues:
log_strdup_alloc_failed error
net shell is not working from the telnet side even if the connection is established

**To Reproduce**
Steps to reproduce the behavior:
1. samples/net/telnet
2. mkdir build; cd build
3. cmake -GNinja -DBOARD=qemu_x86 ..
4. ninja && ninja run
5. From the terminal,
$ telnet 192.0.2.1

**Expected behavior**
Access net shell via

[2019-03-19 22:30] tedd-an commented on #14691
it looks like similar issue #12611

[2019-03-20 02:13] chiachuanwu commented on #13468
Hi @overheat  i had applied #14466 patch and tested on it, below was the result(2 board passed, 2 boards failed):
**Failed Boards:**
sam_e70_xplained
arduino_due
[code]

Passed Boards:
[code]

[2019-03-20 02:24] overheat commented on #13468
@chiachuanwu glad to know some boards work. Since I don't have sam_e70_xplained and arduino_due on my hand, I can not reproduce. I will try to find such Atmel MCU based board, and back later.

[2019-03-20 02:27] andrewboie opened #14693 "ARC: need test coverage for MPU stack guards"
On nsim_em and nsim_sem we have configured CONFIG_ARC_STACK_CHECKING, with no MPU guards. A sanitycheck run will not reveal issues with MPU guards on ARC, such as #14692

At minimum, we need a variant build target for nsim_em which enabled MPU guards and disables ARC stack checking.

[2019-03-20 02:46] fulong82 commented on #14554
Hi,

Here i attached my config file for your debugging reference:-
Not working config: [up2_no_console_config.txt](https://github.com/zephyrproject-rtos/zephyr/files/2986319/up2_no_console_config.txt)
Workaround config that able to see console: [up2_wa_console_output_config.txt](https://github.com/zephyrproject-rtos/zephyr/files/2986341/up2_wa_console_output_config.txt)
w/  the workaround below is

[2019-03-20 02:59] fulong82 commented on #14554
Hi,

I do not know which BIOS version you are referring, below screenshot is the BIOS i am using:
![image](https://user-images.githubusercontent.com/19462849/54656055-2cc90c00-4aff-11e9-99fa-8ca2a4d6e546.png)

Thanks & Regards,
Wilson

[2019-03-20 07:22] vonhust commented on #14641
This may be fixed by #14558, where i used 10 Mhz  host timer as timer resource.

If the timer is accurate,  the critical test will run 1500-1600 ms.

[2019-03-20 07:23] jukkar commented on #14633
I have not used public server like in the example as I do not have direct internet access from my test host. So I used simple python https server with self certified certificate, could that self cert be the culprit here?

[2019-03-20 08:06] finikorg commented on #13560
@ydamigos How do you run it? I can reproduce the crash building echo_server with netusb overlay (default would be ECM protocol) and connecting it to Windows, not Linux. @Jeepgoing is this correct procedure?

[2019-03-20 08:19] jukkar commented on #14691
Yes, the telnet cannot be used atm as the shell is missing support for network transport.

[2019-03-20 08:20] jukkar commented on #14691
Duplicate of #12611

[2019-03-20 08:20] #14691 closed

[2019-03-20 08:25] joerchan commented on #14604
@jeff-setec I have looked at the sniffer logs you gave and there seems to be a bug here.
Could you log print the variables (instant in the packet, and conn->event_counter) used in calculating that the instant has passed with a sniffer capture for that connection?

[2019-03-20 08:33] Jeepgoing commented on #13560
@finikorg  yes, i have tested netusb with defconfig.

[2019-03-20 08:51] joerchan commented on #14604
@jeff-setec Also if possible could you check if the issue is reproducible on v1.14, and use the v2 of the nrf sniffer?

[2019-03-20 08:52] finikorg opened #14697 "USB: cdc_acm_composite sample might lose characters"
Sample might lose characters if they are typed really fast

[2019-03-20 08:57] finikorg opened #14698 "USB: usb/console sample does not work for most of the boards"
I have tested some boards and the sample only works for boards for which we have overlay.

[2019-03-20 09:03] finikorg commented on #13560
with Windows, right? Because in Linux it should work just fine.

[2019-03-20 09:06] laperie commented on #14632
Okay. Turns out that the tests were failing in our environment because self-signed certs are not accepted by default.   The following code snippet enabled the test (big_http_download.c:163):
#if defined(CONFIG_NET_TLS_PEER_NOVERIFY)
		/* Allowing self-signed certificate, for testing with local httpd */
		{
			int peer_verify = 0 ;
			CHECK(setsockopt(sock, SOL_TLS, TLS_PEER_VERIFY,
					 &peer_ver

[2019-03-20 09:06] jhedberg commented on #12574
@vikrant8051 have you found out the cause of this yet?

I think I'm able to reproduce it with mesh_shell now, however I'm still trying to get more info by fine-tuning the logs.

Question: was this with the FCB or NFFS settings backend? Have you tried both? At least one indicate I have looks like a possible bug with settings+fcb since I can see a value stored but I don't see it getting retreived af

[2019-03-20 09:08] laperie commented on #14632
So, the best option going forward would be to enable the option to allow self-signed certificates (with appropriate disclaimers of course) for development time. But everything works now.
Hence, downgrading the priority and changing type from bug to enhancement.

[2019-03-20 09:15] pfalcon commented on #14632
I'd be +1 for enabled this option for this sample (big_http_download) with appropriate notice to README. Doubt we would enable it in Zephyr config by default, guys like @d3zd3z actually call for more stringent default setup of security-related things, not less than what we have now. But I found the "for development time" phrase resounding with what I have in mind - I wonder if we could/would/shoul

[2019-03-20 09:19] pfalcon commented on #14632
@rlubos, so you may want to check re: error reporting in such cases (I would say that's the only thing which can be distilled from this report in the meantime, unfortunately, it's not clear if that's the issue or not, as now the ticket title, description, and console dump don't correspond to each other).

[2019-03-20 09:33] rlubos commented on #14633
@jukkar I suppose the above comment reffered to #14632?

[2019-03-20 09:33] Jeepgoing commented on #13560
@finikorg  yep

[2019-03-20 09:53] rlubos commented on #14632
`TLS_PEER_VERIFY` was added mostly to make developers life easier, not having to be concerned about certificate contents during development. I guess we could go a step further, and configure the default behavior thorough Kconfig, but we should at least pritnt out the warning in case the 'unsafe' default behavior is enabled (just as we do when no good entropy source is present in the system).

As f

[2019-03-20 10:00] ioannisg commented on #9656
@aurel32 , if i understand the specification correctly, the S0-S15 and FPSCR are stacked and unstacked automatically, during exception entry and return, respectively. So we do not need to save and restore these ones.

[2019-03-20 10:02] pfalcon commented on #14632
Which level exactly?

Well, as this report is against big_http_download, then to make sure it prints an error (using printf). @laperie logdump shows as if it hanged. (But then it also shows https://www.7-zip.org/a/7z1805.exe, while it turns out the report is actually about accessing something different with self-signed cert, as apparently https://www.7-zip.org doesn't have self-signed cert).

So,

[2019-03-20 10:02] ioannisg commented on #9656
I am running into troubles, trying to reproduce this one with current master:
- the test passes in nRF53840_pca10056 (Cortex-M4F), but takes around 15 minutes to execute; does this sound normal?
- the test cannot execute in sam_e70_xplained; the MCU resets after roughly 18 seconds; could it be an issue with the watchdog, @aurel32 ?

[2019-03-20 10:11] rlubos commented on #14632
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/sockets/sockets_tls.c#L12

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/sockets/sockets_tls.c#L801

[2019-03-20 10:19] tbursztyka commented on #14571
prepare_segment should not unlock the lock: the problem, currently, is that caller to prepare_segment might not have locked context. It's an error to unlock a non-locked mutex. (try your patch with CONFIG_ASSERT=y, or directly tests/net/tcp/).

[2019-03-20 10:34] nordic-krch commented on #12494
@pfalcon any news here. I would expect that it should work now.

[2019-03-20 10:36] carlescufi commented on #14604
Setting to low due to the uncertainty about the root cause.

[2019-03-20 10:52] cinlyooi-intel opened #14702 "kernel/atomic_c.c : Improve code coverage to 100%"
Improve code coverage for this file to 100%. At present, none of its line is covered by the code coverage command below

[code]

[2019-03-20 10:54] cinlyooi-intel opened #14703 "kernel/compiler_stack_protect.c: Improve code coverage to 100%"
Improve code coverage for this file to 100%. At present, none of its line is covered by the code coverage command below

[code]

[2019-03-20 10:55] cinlyooi-intel opened #14704 "kernel/int_latency_bench.c: Improve code coverage to 100%"
Improve code coverage for this file to 100%. At present, none of its line is covered by the code coverage command below

[code]

[2019-03-20 10:59] cinlyooi-intel opened #14705 "kernel/smp.c: Improve code coverage to 100%"
Improve code coverage for this file to 100%. At present, none of its line is covered by the code coverage command below

[code]

[2019-03-20 11:03] cinlyooi-intel opened #14706 "kernel/include/kernel_internal.h: Imrpove code coverage to 100%"
Improve code coverage for this file to 100%. At present, none of its line is covered by the code coverage command below

[code]

[2019-03-20 11:09] cinlyooi-intel opened #14707 "kernel/include/kernel_offsets.h: Improve code coverage to 100%"
Improve code coverage for this file to 100%. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 0 0/29
function coverage ( %  hit/total): 0 0/1
branch coverage ( %  hit/total): - 0/0

[code]

[2019-03-20 11:09] dgloeck commented on #14571
@tbursztyka Did you try my patch with CONFIG_ASSERT=y? I added locking to all functions that might eventually call `prepare_segment`:
 - `prepare_segment` is called by `net_tcp_prepare_segment` and `net_tcp_prepare_reset`
 - `net_tcp_prepare_segment` is called by `net_tcp_prepare_ack`, `net_tcp_queue_data`, `queue_fin`, and `send_syn_segment`
 - `net_tcp_prepare_ack` is only called by `send_ack`,

[2019-03-20 11:11] cinlyooi-intel opened #14708 "kernel/include/ksched.h: Improve code coverage to 100%"
Improve code coverage for this file to 100%. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 97.8 91/93
function coverage ( %  hit/total): 100 30/30
branch coverage ( %  hit/total): 58.3 28/48

[code]

[2019-03-20 11:13] cinlyooi-intel opened #14709 "kernel/device.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 87.8 43/49
function coverage ( %  hit/total): 88.9 8/9
branch coverage ( %  hit/total): 83.3 20/24

[code]

[2019-03-20 11:14] cinlyooi-intel opened #14710 "kernel/errno.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 40 2/5
function coverage ( %  hit/total): 88.9 8/9
branch coverage ( %  hit/total): 83.3 20/24

[code]

[2019-03-20 11:15] cinlyooi-intel opened #14711 "kernel/idle.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 87.0 20/23
function coverage ( %  hit/total): 50 1/2
branch coverage ( %  hit/total): - 0/0

[code]

[2019-03-20 11:17] cinlyooi-intel opened #14712 "kernel/mailbox.c: Improve coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 100 136/136
function coverage ( %  hit/total): 100 13/13
branch coverage ( %  hit/total): 94.9 74/78

[code]

[2019-03-20 11:19] cinlyooi-intel opened #14713 "kernel/mem_domain.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 92.6 87/94
function coverage ( %  hit/total):100 9/9
branch coverage ( %  hit/total): 52.2 48/92

[code]

[2019-03-20 11:20] WilliamGFish opened #14714 "Mesh network traffic overflow ungraceful stop. (MMFAR Adress: 0x0)"
When running a BLE Mesh with high interactivity program throws an unhandled exception, whilst pushing the boundaries of radio/network traffic saturation.
It appears that when the either the RX or TX buffer are overloaded they are unable to process acknowledgement messages therefore moves to remove them from list (dlist.h: sys_dlist_remove). Unfortunately there may be a NULL pointer to list node.

[2019-03-20 11:21] cinlyooi-intel opened #14715 "kernel/mem_slab.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 100% 50/50
function coverage ( %  hit/total): 100% 5/5
branch coverage ( %  hit/total): 87.5% 14/16

[code]

[2019-03-20 11:21] cinlyooi-intel commented on #14715
I believe we can close this one since it is the __ASSERT(condition) condition==true branch that were not covered

[2019-03-20 11:23] cinlyooi-intel opened #14716 "kernel/mempool.c: Improve code coverage to 100%"
Improve code coverage for this file to 100%. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 98.7% 74/75
function coverage ( %  hit/total): 100% 17/17
branch coverage ( %  hit/total): 64.4% 58/90

[code]

[2019-03-20 11:24] cinlyooi-intel opened #14717 "kernel/msg_q.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 97.7 125/128
function coverage ( %  hit/total): 100 17/17
branch coverage ( %  hit/total): 64.4 58/90

[code]

[2019-03-20 11:27] pfalcon commented on #12494
Ok, let me close it, will reopen if spot again.

[2019-03-20 11:27] #12494 closed

[2019-03-20 11:27] cinlyooi-intel opened #14718 "kernel/mutex.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 90/7 68/75
function coverage ( %  hit/total): 88.9 8/9
branch coverage ( %  hit/total): 64.0 32/50

[code]

[2019-03-20 11:29] cinlyooi-intel opened #14719 "kernel/pipes.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 88.8 222/250
function coverage ( %  hit/total): 100 20/20
branch coverage ( %  hit/total): 72.7 96/132

[code]

[2019-03-20 11:30] cinlyooi-intel opened #14720 "kernel/poll.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 89.0 178/200
function coverage ( %  hit/total): 100 18/18
branch coverage ( %  hit/total): 67.5 108/160

[code]

[2019-03-20 11:32] cinlyooi-intel opened #14721 "kernel/queue.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 95.6 131/147
function coverage ( %  hit/total): 95.8 23/24
branch coverage ( %  hit/total): 67 59/88

[code]

[2019-03-20 11:33] cinlyooi-intel opened #14722 "kernel/sched.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 87.7 292/333
function coverage ( %  hit/total): 87.7 50/57
branch coverage ( %  hit/total): 75.3 250/332

[code]

[2019-03-20 11:35] cinlyooi-intel opened #14723 "kernel/sem.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 100 50/50
function coverage ( %  hit/total): 100 12/12
branch coverage ( %  hit/total): 77.1 37/48

[code]

[2019-03-20 11:36] cinlyooi-intel opened #14724 "kernel/stack.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 94.0 63/67
function coverage ( %  hit/total): 100 9/9
branch coverage ( %  hit/total): 61.4 27/44

[code]

[2019-03-20 11:37] cinlyooi-intel opened #14725 "kernel/system_work_q.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 100 4/4
function coverage ( %  hit/total): 100 1/1
branch coverage ( %  hit/total): - 0/0

[code]

[2019-03-20 11:38] cinlyooi-intel commented on #14725
The reason for opening this ticket despite reported full coverage is we have two preprocessor directives not covered.

[2019-03-20 11:39] cinlyooi-intel opened #14726 "kernel/thread.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 86.5 193/223
function coverage ( %  hit/total): 82.4 28/34
branch coverage ( %  hit/total): 73.0 89/122

[code]

[2019-03-20 11:40] aurel32 commented on #9656
For the exceptions I agree, but we also need to save and restore those registers when switching from one task to another.

Have you changed the double into float? The M4F only has a single precision FPU, so the FP registers are not used, soft float is used instead.

This could be an issue with commit 2e01e86bdc70591c608caa9072de17226ede9e76. You can try to enable WDT_DISABLE_AT_BOOT to see if it i

[2019-03-20 11:40] jhedberg commented on #12574
@vikrant8051 ok, I think I've got this figured out. There were several bugs I found. PR coming soon.

[2019-03-20 11:41] cinlyooi-intel opened #14727 "kernel/thread_abort.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 100 4/4
function coverage ( %  hit/total): 100 2/2
branch coverage ( %  hit/total): 60 6/10

[code]

[2019-03-20 11:42] cinlyooi-intel commented on #14727
I think we can close this request as the the branches that are not taken are those that will trigger Z_OOPS()

[2019-03-20 11:43] cinlyooi-intel opened #14728 "kernel/timeout.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 91.9 102/111
function coverage ( %  hit/total): 84.2 16/19
branch coverage ( %  hit/total): 85.5 65/76

[code]

[2019-03-20 11:43] tautologyclub commented on #14479
Is it fixed? @nashif I  certainly wouldn't classify this as low priority. The entire networking stack is currently unusable for us, and presumably for everyone else who relies on the `net_offload` API.

[2019-03-20 11:44] cinlyooi-intel opened #14729 "kernel/timer.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 78.1 57/73
function coverage ( %  hit/total): 57.1 8/14
branch coverage ( %  hit/total): 37.1 26/70

[code]

[2019-03-20 11:46] cinlyooi-intel opened #14730 "kernel/userspace.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 85.2 231/271
function coverage ( %  hit/total): 89.7 35/39
branch coverage ( %  hit/total): 64.4 123/191

[code]

[2019-03-20 11:47] cinlyooi-intel opened #14731 "kernel/userspace_handler.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 100 21/21
function coverage ( %  hit/total): 100 4/4
branch coverage ( %  hit/total): 70.8 17/24

[code]

[2019-03-20 11:47] cinlyooi-intel commented on #14731
I believe we can close this ticket. The branches that are not taken are all part of Z_OOPS() statements.

[2019-03-20 11:49] cinlyooi-intel opened #14733 "kernel/work_q.c: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 97.7 43/44
function coverage ( %  hit/total): 100.0 6/6
branch coverage ( %  hit/total): 88.9 16/18

[code]

[2019-03-20 11:50] cinlyooi-intel opened #14734 "kernel/include/kernel_structs.h: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 100% 10/10
function coverage ( %  hit/total): - 0/0
branch coverage ( %  hit/total): - 0/0

[code]

[2019-03-20 11:52] carlescufi commented on #14714
@WilliamGFish can you enable `CONFIG_HW_STACK_PROTECTION` to see if it's a stack overflow?

[2019-03-20 11:53] cinlyooi-intel commented on #14734
Despite full coverage, we have two static functions (z_set_thread_return_value() and _new_thread_init())  that are not covered or not 100% coverd respectively.

[2019-03-20 11:55] cinlyooi-intel opened #14736 "kernel/include/kswap.h: Improve code coverage to 100%"
Improve code coverage for this file. At present, the code coverage command below reports the following:

Commit ID: 3dea408405fd8958f94ef24ab5d5251d6288841c
Line coverage ( %  hit/total): 100 8/8
function coverage ( %  hit/total):100 2/2
branch coverage ( %  hit/total): - 0/0

[code]

[2019-03-20 11:55] cinlyooi-intel commented on #14736
It has at least one function that are not covered, despite the 100% claim

[2019-03-20 12:04] jukkar commented on #14633
Ah, sorry, I seemed to have commented wrong issue :)

[2019-03-20 12:10] jukkar opened #14740 "Allow global overlay config files"
We should have a way to have "global" config overlays. For example when using networking in qemu_x86 it would be nice to use overlay-e1000.conf when compiling zephyr. This overlay is found only in couple of networking samples which is quite annoying actually. The same overlay-e1000.conf could be used in all the samples as it only contains generic options.

I am proposing following:

If user tries

[2019-03-20 12:10] nwsetec opened #14741 "Bluetooth scanning frequent resetting"
**Describe the bug**
We have about 12 boards running in our RnD area with nRF52832 SoCs running as a peripherals and also scanning as Bluetooth observers.  Somehow a condition occurs where all the boards begin resetting.  Once the boards start resetting they don't stop.  We are currently experiencing the second occurrence of this issue.  The first time it happened we didn't know what was happening

[2019-03-20 12:11] nwsetec commented on #14741
@carlescufi

[2019-03-20 12:13] jhedberg commented on #14714
Are you able to get a backtrace of where exactly the `sys_dlist_remove()` call comes from? Am I right to interpret `Fatal fault in ISR! Spinning...` as meaning this all happens in ISR context? I don't think the host side has any ISR code, so this might mean that the issue is occurring in the controller.

[2019-03-20 12:17] ioannisg commented on #9656
With tasks, you mean threads? If so, I agree, but this is already done since switching occurs in PendSV which is an exception, so the FP context is stacked in the stack frame of the switched-off thread, and restored from the stored stacked frame of the switched-in thread :)

[2019-03-20 12:18] ioannisg commented on #9656
@aurel32 will take a look on this, thanks.

[2019-03-20 12:19] jhedberg commented on #14741
This sounds very similar to what we saw at the Junction 2018 hackathon (we had a Bluetooth Mesh task for the teams there). Something happened in the environment that made any Zephyr image start crashing very soon after it started scanning. @laperie @Vudentz FYI

[2019-03-20 12:23] jhedberg commented on #14741
@deadprogram FYI - this reminds a lot of what we saw at Junction

[2019-03-20 12:28] carlescufi commented on #14714
@jhedberg right, but doesn't really make sense because we don't use `dlist` in the controller except for the HCI driver when using Controller to Host flow control and even then it's only from a thread, never from ISR.

[2019-03-20 12:43] WilliamGFish commented on #14714
Made changes as suggested and results are (minor editting):
--- 9999 messages dropped ---

[00:07:42.128,662] [1;33m<wrn> bt_mesh_transport: Replay: src 0x0005 dst 0xc000 seq 0x0006eb[0m
[00:07:42.244,506] [1;33m<wrn> bt_mesh_transport: Replay: src 0x000f dst 0xc000 seq 0x0002d6[0m
{'sensors':[{'nodeid': 22}, {'propid':'07a0'},{'0x07a0': 40442}]}

[00:07:42.289,306] [1;31m<err> bt_mesh_net: Out of

[2019-03-20 13:01] cvinayak commented on #14741
@nwsetec Does the boards fault just after power up or running boards too fault?

[2019-03-20 13:03] agansari commented on #12611
This issue look more like a feature than a bug @galak .
I've tested in qemu and posix, but there is not shell in telnet console. It's not restricted to k64f.

[2019-03-20 13:09] jhedberg commented on #14714
@carlescufi host doesn't use dlist directly either. A couple of kernel objects that do use dlist (based in git grep), which we end up using indirectly: scheduler, timers, k_poll.

[2019-03-20 13:24] pdunaj opened #14743 "Directed advertising to Android does not work"
**Describe the bug**
I bond the device with various host and then use direct advertising to reconnect.
I am able to connect to Windows 7 with Intel drivers and Windows 10. I am also able to connect to Nordic dongle (pca10059) though Zephyr's option scan with identity must be enabled.

I am unable to connect (using the direct advertising) to an Android devices. I have tried Samsung Galaxy S8 (Andro

[2019-03-20 13:31] aescolar commented on #14715
@cinlyooi-intel : You may want to have LCOV exclusions in the code for statements which are not meant to be covered (as self documentation of the exclusions). That way the coverage will also be reported as 100% .

[2019-03-20 13:32] carlescufi commented on #14714
@WilliamGFish can you try to get a backtrace if possible as @jhedberg suggested to see who is calling that function?

[2019-03-20 13:33] jhedberg commented on #14743
Could the issue be related to the central using privacy? Do you have `CONFIG_BT_CTLR_PRIVACY` enabled?

[2019-03-20 13:35] ioannisg opened #14744 "ARM: Core Stack Improvements/Bug fixes for 2.0 release"
This is an umbrella issue for the ARM stack enhancements, including improvements/enhancements made for ARM SoCs and Boards, beyond 1.14 LTS and towards the 2.0 release.

Several of the items below are  related to issues, which have been spotted during the 1.14 feature freeze and tree stabilization, and have, eventually, been moved to the 2.0 Zephyr release.

Items are constantly been added in the

[2019-03-20 13:39] WilliamGFish commented on #14714
I do my best, a newbie regards this. Using Ozone so I'll find out what i can.

[2019-03-20 13:50] pdunaj commented on #14743
Hi @jhedberg , no - it is disabled.

[2019-03-20 13:53] jhedberg commented on #14743
@pdunaj could you enable it and try again? I think it might be needed for doing directed advertising toward a privacy-enabled central.

[2019-03-20 13:53] jhedberg commented on #14743
@carlescufi @cvinayak any thoughts on this issue?

[2019-03-20 13:53] pdunaj commented on #14743
sure, will enable and retry

[2019-03-20 13:55] MaureenHelm commented on #14606
git bisect points to:

[code]

[2019-03-20 13:56] carlescufi commented on #14714
@WilliamGFish sure, thanks for all the info so far! We really appreciate any help trying to figure out what the issue is. On Ozone you should have a View -> Call Stack menu you can use.

[2019-03-20 14:15] hakehuang commented on #14605
@rt1020 and rt1060 does not have such issue for this case. this is strange

[2019-03-20 14:21] jukkar commented on #14479
@tautologyclub can you re-try with latest master?

[2019-03-20 14:22] tbursztyka commented on #14479
@jukkar PR #13618 has not been merged yet, so it is still not working

[2019-03-20 14:25] jukkar commented on #12611
This is generic shell issue, fixing title.

[2019-03-20 14:46] WilliamGFish commented on #14714
Guys is this meaningful?

![image](https://user-images.githubusercontent.com/43581311/54693702-f602ee00-4b1e-11e9-95e0-6aca4c61b67d.png)

[2019-03-20 14:50] WilliamGFish commented on #14714
This could be useful, the call stack post crash updated when clicking with:

//
_for (slab = _k_mem_slab_list_start;
 00012C80   LDR          R3, =sem
 00012C82   LDR          R0, =sem
 00012C84   PUSH         {R4-R6, LR}_
//

[2019-03-20 14:50] pdunaj commented on #14743
When I enable privacy I cannot create connection. Device either disconnects right after connection or does not even connect.

[2019-03-20 16:03] nashif opened #14749 "Verify all samples work as intended"
- [ ] application_development/external_lib
 - [ ] application_development/out_of_tree_board
 - [ ] application_development/code_relocation
 - [x] crypto/mbedtls_benchmark
 - [ ] mpu/mpu_test
 - [ ] mpu/mpu_stack_guard_test
 - [x] mpu/mem_domain_apis_test
 - [x] net/syslog_net
 - [x] net/promiscuous_mode
 - [ ] net/wifi
 - [x] net/dhcpv4_client
 - [ ] net/sockets/can
 - [x] net/sockets/sntp_client

[2019-03-20 16:31] #14654 closed

[2019-03-20 16:37] #11891 closed

[2019-03-20 16:38] #14661 closed

[2019-03-20 17:19] dcpleung commented on #14554
The BIOS version is the "R4.0" in "UP-APL01 R4.0". Since you have PCI and PCI enumeration enabled, BIOS version should not matter.

Just to confirm, `samples/hello_world` with `CONFIG_SHELL=y` is not working for you, right?

Also, could you try `samples/subsys/shell/shell_module` without any modifications?

[2019-03-20 17:20] gnuless commented on #9741
I can't even get this test to start now. Reproducibly on my setup, the console output is:

[code]

The culprit appears to be a NULL `_current_cpu`in `z_spin_lock_valid()`:

[code]
Register `a9` is allocated to `_current_cpu` here, which appears to be 0 since the load instruction is trying to load `0+20 = 0x14`, which is what the `excvaddr` is.

[2019-03-20 17:22] nashif commented on #14749
@laperie fyi

[2019-03-20 17:29] andyross commented on #9741
At a guess, the xtensa layer is probably trying to use a spinlock before CPU initialization is finished (FWIW: _current_cpu is a macro that expands to a read from the MISC0 special register that stores the local CPU pointer).  That works, but not with the validation layer (which @dcpleung discovered yesterday has a few SMP bugs anyway).

For right now, maybe just try going into spinlock.h and disa

[2019-03-20 17:35] nwsetec commented on #14741
@cvinayak running boards fault as well.

[2019-03-20 18:12] carlescufi opened #14753 "nrf52840_pca10056: Get rid of leading spurious 0x00 byte in UART output"
When booting up, Zephyr generates a framing error that is interpreted by the Segger CDC ACM driver implementation in the debug MCU as a byte of value `0x00`. This ends up in the serial port input of the application on the Desktop. Usually this doesn't matter because we are just outputting text, but in some cases we send data with a protocol and that is a big issue because it throws the protocol ou

[2019-03-20 20:06] jukkar commented on #13378
Closing this as the last remaining network document update for net-pkt is in #14613 and is tracked via #13114

[2019-03-20 20:06] #13378 closed

[2019-03-20 20:19] dcpleung commented on #14554
`samples/hello_world` works fine for me with commit 3f34fead6053a6d29d6a252025d5ba4b59761051. I only added `CONFIG_SHELL=y` to the `prj.conf` and it worked.

[code]

Here is the config file:
[working_config.txt](https://github.com/zephyrproject-rtos/zephyr/files/2989942/working_config.txt)

[2019-03-20 20:59] #14643 closed

[2019-03-20 21:10] ulfalizer opened #14762 "elf_helper: Call to undefined debug_die() in AggregateTypeMember (wrong class)"
The `self.debug_die("not yet supported location operation")` in `AggregateTypeMember.__init__()` won't work, because `debug_die()` is defined in the `ElfHelper` class.

[2019-03-20 21:14] dcpleung commented on #14554
I tried cherry-picking config options from the your uploaded files. The issue is actually an chicken-or-egg problem. When `CONFIG_PCI_ENUMERATION=y` and `CONFIG_PCI_LOG_LEVEL_DBG=y` are both enabled, the NS16550 UART driver is not initialized by default. However, during device scans, the PCI driver is trying to output through UART. And it caused an exception. To workaround this, find the actual MM

[2019-03-20 21:14] #14554 closed

[2019-03-20 21:22] dcpleung opened #14763 "PCI debug logging cannot work with PCI-enabled NS16550"
**Describe the bug**
#14554 shows a problem when `CONFIG_UART_NS16550_PCI`, `CONFIG_PCI_ENUMERATION` and `CONFIG_PCI_LOG_DBG` are all enabled. The UART driver has not been initialized yet but `pci_dev_scan()` is trying to printing debug messages. Exception was raised and nothing got printed to the console.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. Enable these

[2019-03-20 21:37] #14647 closed

[2019-03-20 22:21] andrewboie opened #14766 "K_THREAD_STACK_BUFFER() is broken"
This macro has a design flaw: it assumes that the offset to the stack buffer, within the stack object, is constant.

However, on ARC this offset changes depending on whether the stack is being used in supervisor or user mode. There are no reverse references to the thread in the stack object (nor is it possible to add one); this API is broken by design.

This API needs to be removed; if someone nee

[2019-03-20 22:30] gnuless commented on #9741
Disabled SPIN_VALIDATE does fix the previous problem.

Having fixed that, I can' t reproduce this problem.  I've run the test > 100 times with no failures.  I'm going to suggest that we close this bug.

[2019-03-20 23:12] nwsetec commented on #14741
@cvinayak @joerchan Another thing we noticed (that might help reproduce the issue) during the first and the latest occurrence of this issue we used the nRF connect app to scan what was being advertised and there were 1 to 3 Windows laptops Bluetooth advertising (Microsoft Advertising Beacon) at rates of 1ms.  Which we thought seemed an unusual rate and strangely coincidental.  The first time it ha

[2019-03-20 23:38] andrewboie opened #14767 "ARC: hang in exception handling when CONFIG_LOG is enabled"
Found when making modifications to tests/kernel/mem_protect/userspace

To reproduce:

1) Add CONFIG_LOG=y to prj.conf
2) Run the test on nsim_sem target, observe hang in write_control() test

[2019-03-21 00:43] wentongwu commented on #14500
can reproduce the issue(tests/kernel/workq/work_queue_api case) when CONFIG_COVERAGE=y. And if CONFIG_COVERAGE=n, the issue won't happen. and the output is that:
qemu-system-arm: warning: nic lan9118.0 has no peer
***** MPU FAULT *****
   Data Access Violation
   MMFAR Address: 0x20018014
***** Hardware exception *****
Current thread ID = 0x20014c58
Faulting instruction address = 0x20fe0
Fatal fau

[2019-03-21 01:06] andrewboie commented on #14500
@wentongwu I don't understand well what the compiler is doing when profiling is enabled. I saw your email earlier this morning but I haven't had a chance to analyze it yet.

What code is at address 0x20fe0 which is accessing this data?
Nominally, the thread is supposed to be able to access its own stack buffer, so it's not clear to me why we would be faulting in this case.

[2019-03-21 01:12] #12632 closed

[2019-03-21 01:51] wentongwu commented on #14500
from below, it seems 0x20fe4 - 0x20ff0 is some code added by compiler for gcov. And it seems 0x20fe0 is doing stack pushing operation. I'm not sure if there is stack overflow.  @andrewboie
00020fd8 <z_remove_thread_from_ready_q>:
{
   20fd8:       e92d 4ff0       stmdb   sp!, {r4, r5, r6, r7, r8, r9, sl, fp, lr}
   20fdc:       b0ad            sub     sp, #180        ; 0xb4
   20fde:       af00

[2019-03-21 02:02] cinlyooi-intel commented on #14715
@aescolar : Thanks for the heads up. One reason for creating this ticket is I was not 100% certain that I can ignore all __ASSERT() (and Z_OOPS()), particularly those with complex branching arrangement.

[2019-03-21 02:18] chiachuanwu opened #14769 "kernel/userspace.c: Improve code coverage to 100%"
Improve code coverage for this file to 100%. At present, none of its line is covered by the code coverage command below:
[code]

[2019-03-21 02:35] hakehuang opened #14770 "samples/net/promiscuous_mode the include file is not there"
**Describe the bug**
there is no net/tcp.h file to include

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f ..
3. make
4. See error

**Expected behavior**
sample need update

**Impact**
sample

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: ( Linux)
 - Toolchain ( Zephyr SDK)
 - Com

[2019-03-21 02:41] hakehuang commented on #14606
frdmk64f also has problem with this case. but for frdmk64f there is no any console output

[2019-03-21 02:55] wentongwu commented on #14244
Cinly, it can boot, but it's the same issue as #13935.

[2019-03-21 04:45] ManojSubbarao commented on #14186
@arun1joshi Any updates from your verification as mentioned by @rgundi

[2019-03-21 04:50] DeclanTraill commented on #14741
@cvinayak @joerchan @nwsetec
I'm not sure if this is a problem, but it looks like it could be:
In hci_core.c when scanning is being enabled, in the function start_le_scan(),
the scanning parameters are being set using a BT_HCI_OP_LE_SET_SCAN_PARAM command sent by the bt_hci_cmd_send function rather than the bt_hci_cmd_send_sync function; so doesn't this mean that it is not guaranteed that the para

[2019-03-21 04:50] ManojSubbarao commented on #14462
@chiachuanwu can you close if this is not an issue anymore?

[2019-03-21 05:54] cvinayak commented on #14741
@jhedberg Is it ok to use bt_hci_cmd_send to set scan params?

[2019-03-21 05:57] andrewboie commented on #14500
can you set a breakpoint in the compiler and backtrace to when it crashes?
Try reproducing on qemu_x86 it prints a backtrace report on exception, I think there is a similar issue opened with that arch.

[2019-03-21 05:58] andrewboie commented on #14500
Can you backtrace to where in the source code this is coming from?
Try qemu_x86, it prints a backtrace and also has memory protection enabled.

[2019-03-21 06:06] jhedberg commented on #14741
@DeclanTraill @cvinayak yes, that's fine. Both methods use the same command queue, i.e. the parameters will be sent to the controller no matter what, and the scan_enable will only be sent once the command complete for the parameters comes. So once send_sync() returns for scan_enable it means that both commands have completed, and in the right order.

[2019-03-21 06:11] jhedberg commented on #14741
A bit more about cmd_send() vs cmd_send_sync(): send_sync() can be useful when:

 - You need to wait for command completion, but there's no other easy synchronization primitive at your disposal
 - You're interested in the command complete parameters
 - You want to save up on command buffers. Using only send_sync means that only one buffer is needed at a time (only one command in the command queue)

[2019-03-21 06:31] cvinayak commented on #14741
@nwsetec Yes, I have seen such behavior by Windows 10 Laptops, 1 ms beacon advertising on 'single advertising channel' . This should only cause denial of scanning legitimate advertising packets, and not crash the controller.

[2019-03-21 06:31] wentongwu commented on #14500
@andrewboie  I will do that. And I increased system workq's stack size, system workq thread will not be mpu fault, another thread trigger's mpu fault, I'm trying to increase this thread's stack size.

[2019-03-21 06:32] nwsetec commented on #14741
@cvinayak the resetting condition in our RnD area has now stopped unfortunately.  I've attempted to retrigger it by modifying the Zephyr peripheral sample to advertise at a 1ms interval and running this firmware on 5 dev boards.  The nRF Connect app showed these devices advertising at between 3ms to 6ms but it didn't cause the resetting condition to trigger.

[2019-03-21 06:33] chiachuanwu commented on #14462
hi @ManojSubbarao  , this issued might be similar with #14454.

[2019-03-21 06:37] ManojSubbarao commented on #14462
Thanks @chiachuanwu . Closing this issue since it's duplicate of #14454

[2019-03-21 06:37] #14462 closed

[2019-03-21 06:41] cvinayak commented on #14741
@nwsetec This is what happened the last time too with @jhe, the problem just vanished. When I encounter such bugs, there are usually more than 2 random timing bugs. We need to carefully analyze the pre-condition and have controlled reproduction to nail down the bugs. The good thing is, atleast more than on person has encountered the issue, and it has been there for quite some months now.

Do you s

[2019-03-21 07:29] finikorg commented on #13560
@ydamigos So, have you verified the crash?

[2019-03-21 07:52] finikorg commented on #13560
Yes, exactly, Probably Windows does not configure ECM.

[2019-03-21 08:02] tbursztyka commented on #14479
#13618 got merged. closing

[2019-03-21 08:02] #14479 closed

[2019-03-21 08:02] KwonTae-young opened #14779 "stm32: If the memory usage is high, the flash is abnormal."
**Describe the bug**
If the memory usage on the STM32 board is high, flash will behave abnormally.
If you do `flash`, the board will not do anything.

**To Reproduce**
The test was `stm32f4_disco`.
I modified `hello_world` slightly to increase memory usage.

Steps to reproduce the behavior:
[code]

**Expected behavior**
I expected to see `hello world` in console.

**Impact**
If memory usage is hig

[2019-03-21 08:10] #12574 closed

[2019-03-21 08:40] wentongwu commented on #14500
do the same test on qemu_x86, but it's Stack Check Fail as #14499 instead of MPU fault. And for mps2_an385, enlarge the stack of thread, some not passed tests can pass, and the others still MPU fault.

[2019-03-21 08:47] finikorg opened #14780 "USB: netusb: Unable to send maximum Ethernet packet"
USB Ethernet uses `NETUSB_MTU 1500` which does not include ethernet header it is not possible to send maximum Ethernet packet. Affected RNDIS.

[2019-03-21 08:48] joerchan commented on #14753
I have noticed the same issue before, and the way I fixed it then was be removing all GPIO configuration of the PINS, and only assigning them to the UART peripheral.
So removing all calls to nrf_gpio_pin_set/output/input on the RXD/TXD/RTS/CTS pins might fix this issue.

[2019-03-21 09:02] wentongwu commented on #14500
go back to old version 9072d34f306078acdc9d950c9beae5cc0738ea19, with 0.9.5 SDK the test can pass, but with 0.10.0 SDK, still MPU fault. both tests are set -DCONFIG_COVERAGE=y .

[2019-03-21 09:20] bluetooth-mdw opened #14782 "Build process produces hex files which will not install on BBC micro:bit"
**Describe the bug**
Building for BBC micro:bit against v1.14.0-rc2 I found that often (but not always) the resultant hex file would not copy onto the device over USB. micro:bit is an mbed device and flashing involves copying the binary hex file to a target USB drive. Copying would fail like this:

C:\workspaces\zephyr_projects\peripheral_hr\build>copy zephyr\zephyr.hex d:
The system cannot find t

[2019-03-21 09:23] carlescufi commented on #14782
Setting this as high since it completely breaks more than one board. The alternative right now is
https://github.com/zephyrproject-rtos/zephyr/pull/14563

[2019-03-21 09:25] wentongwu commented on #14500
with latest code version and SDK 0.9.5, the test can also pass with DCONFIG_COVERAGE=y.

before the test, I apply below patch:
diff --git a/cmake/toolchain/zephyr/host-tools.cmake b/cmake/toolchain/zephyr/host-tools.cmake
index 21417fb858..e9d8a71ecb 100644
--- a/cmake/toolchain/zephyr/host-tools.cmake
+++ b/cmake/toolchain/zephyr/host-tools.cmake
@@ -15,7 +15,7 @@ if(NOT ZEPHYR_SDK_INSTALL_DIR)

[2019-03-21 09:34] aescolar commented on #14762
@ulfalizer  Note that the trivial tag was meant to be used to indicate the amount of reviewing a PR needed.

[2019-03-21 09:51] agansari commented on #14606
Went back to 525065dd8b9e57c53012572c5d7122643ede3970 commit but this issue still happens.
Went back to previous tag v1.14.0-rc1, still happens.
Went back to tag v.1.13.0 but sdk or toolchain doesn't match anymore.
This issue is older than expected i think and finding the source will not be easy.

Also K64F is slooooowwwww........ it prints, but ot takes a long time, i.MX family is alot faster.

[2019-03-21 09:59] carlescufi commented on #14753
@joerchan Thanks for the input. I think there are 2 issues here:

1. The Segger firmware is seeing a `0x00` with a framing error and still forwarding it up the CDC ACM port *without* the framing error.
2. Zephyr generates this glitch in the GPIO output during the boot process

I have contacted @simtind about 1., and he will escalate that to Segger.
Regarding 2., I am hoping that @anangl and @jarz-

[2019-03-21 10:05] ioannisg commented on #14269
So, some examples for the ARMv7-M MPU case, @andrewboie , to clarify this, and show one more implication:

Assume GUARDS are used and no-workaround for power-of-two-alignment.

Example 1
- `STACKSIZE `= 1024
- `K_THREAD_STACK_DEFINE(sym, STACKSIZE)` --> `sym[1024]`
- `K_THREAD_STACK_SIZEOF(K_THREAD_STACK_DEFINE(sym, STACKSIZE))` **is** used to pass stack_size argument to k_thread_create
- `stack_s

[2019-03-21 10:19] ioannisg commented on #14269
One other option @andrewboie is to _detect_ in k_thread_create() the difference between the total_size and the one derived by the object meta-data (z_object_find) and **add this difference** to what we pass into arm's `z_new_thread`.
I.e. not only perform checks in kernel/thread.c but use the value in the arch-specific code.

[2019-03-21 10:28] cinlyooi-intel commented on #14500
@wentongwu Confirmed if switch to 0.9.5, sanitycheck --coverage works. If not, I have a lot of handler crashs and timeouts.

[2019-03-21 10:40] anangl commented on #14753
I don't think it is caused by the Zephyr application. On the logic analyzer, I can see this break signal on the TXD line (resulting in the byte `0x00` received) only when I perform the pin reset (either by pressing the reset button or executing `nrfjprog --pinreset`). When I do a soft reset (call `NVIC_SystemReset` from the application or execute `nrfjprog --reset`) the issue is gone. The TX line

[2019-03-21 11:03] ioannisg commented on #9656
@aurel32 thanks for your suggestion; i disabled the Watchdog as you indicated, and now the test is able to execute and seems to pass.
I have remaining issues:
- the tests seems to fail immediately after the MCU reboots
- then it shows that is passes
- the MCU restarts after tests completion, so it keeps executing the test

This is the kind of output I am getting:

[code]

[2019-03-21 11:05] ulfalizer commented on #14762
Ohh... thought it meant "this isn't all that important". :P

[2019-03-21 12:36] cvinayak commented on #14741
With immense help from @nwsetec the issue has been narrowed down to suspected buffer overrun by the Radio H/w receiving an illegal packet length BLE advertising PDU. Review of the controller implementation with a controlled reproduction is in progress, myself and @joerchan will post updates in the coming days.

[2019-03-21 13:01] Mierunski opened #14786 "Information about old sdk version provides wrong download link"
**Describe the bug**
When trying to build with old sdk version, there is a message to update sdk.
Link provided in that message is not working

**To Reproduce**
Build something with older sdk version

**Expected behavior**
Correct link provided

**Impact**
annoyance

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain Zep

[2019-03-21 13:04] rveerama1 commented on #14770
https://github.com/zephyrproject-rtos/zephyr/commit/ebce5601c05d76fa75cbd478fa68e56502fa763a already merged.

[2019-03-21 13:04] #14770 closed

[2019-03-21 13:10] anangl commented on #14753
I tried also with other Nordic DKs, i.e.:
- pca10028
- pca10040
- pca10090

but I didn't succeed to replicate the issue on any of them. So far I saw this unwanted break signal only on pca10056.

[2019-03-21 13:32] jukkar commented on #14786
Will be fixed by #14778

[2019-03-21 13:57] tbursztyka commented on #14571
@dgloeck I am fine with your approach, it's just going much further than first thought. It's basically fixing also commit 93e5181fbdf

@jukkar as you introduced the context lock, what do you think about @dgloeck's patch?

[2019-03-21 14:01] nvlsianpu opened #14789 "doc: flash_map and flash_area"
Doc of flash_map and flash_area are missing

Provide a documentation.

[2019-03-21 14:01] #14780 closed

[2019-03-21 14:05] WilliamGFish commented on #14714
**_Update_**:
MMFAR occurs when BT_SETTINGS =n

When BT_SETTINGS =y the board gets stuck in endless thread loop (see below):

![loop](https://user-images.githubusercontent.com/43581311/54756883-09768d80-4be1-11e9-9d63-2d6a71451f22.PNG)
![dist h loop](https://user-images.githubusercontent.com/43581311/54756888-0c717e00-4be1-11e9-92d6-fccfbba64634.PNG)
![call stack loop](https://user-images.githubus

[2019-03-21 14:06] galak commented on #14782
Curious if anyone's tried to reproduce this using Linux SDK, is this a windows issue, and which windows toolchain is being used or a general linker/link script issue?

[2019-03-21 14:08] galak commented on #14786
Fixed with merge of #14778

[2019-03-21 14:08] #14786 closed

[2019-03-21 14:16] #14415 closed

[2019-03-21 14:18] rlubos opened #14790 "google_iot_mqtt sample does not work with qemu_x86 out of the box"
I've been testing `google_iot_mqtt` with `qemu_x86` and it does not work out of the box. In order to make it work I've needed to add the following lines to the project configuration:
[code]
While the first two configs are totally understandable, I have no clue why did I need to set `CONFIG_NET_CONFIG_MY_IPV4_ADDR` even thoug DHCP leased address was used. I did not dig any further though.

Addition

[2019-03-21 14:32] pdunaj opened #14791 "Bluetooth: GATT Notification callbacks should have conn as argument"
**Is your enhancement proposal related to a problem? Please describe.**
Without conn as an argument it is impossible to tell which connection callback refers to. This is a problem for applications with multiple simultaneous connections.

This was discussed already on https://github.com/zephyrproject-rtos/zephyr/issues/13316.

Needed by use cases A3, B2 from https://github.com/zephyrproject-rtos/ze

[2019-03-21 14:45] jukkar commented on #14571
Looks quite ok to me. Needs a bit more testing. @dgloeck, could you prepare a proper PR for that?

[2019-03-21 14:53] jhedberg commented on #14714
Looks like some scheduling issue? I remember there being another one not so long ago where a list was pointing back to itself, resulting in an infinite loop. I wonder if this was fixed. @WilliamGFish are you using latest master?

[2019-03-21 15:14] ioannisg commented on #14606
Very similar failure to what we see in #9656 , @agansari

[2019-03-21 15:25] bluetooth-mdw commented on #14782
@galak what do you need to know about my Windows development environment, exactly?

[2019-03-21 15:27] andyross commented on #9741
I'm sold

[2019-03-21 15:27] #9741 closed

[2019-03-21 15:34] WilliamGFish commented on #14714
Just did a fetch from Master this morning and again now.
Oddly when it boots it shows as 1.14.0 rc1 not rc2...

[2019-03-21 15:39] jhedberg commented on #14714
@WilliamGFish I think #12726 is the other issue I was thinking of - the use case sounds quite similar as well

[2019-03-21 15:46] bluetooth-mdw commented on #14782
FYI I just experienced this problem building against v1.14.0-rc1 which I had previously found to be OK.

[2019-03-21 16:01] agansari commented on #14606
@ioannisg i'm still debugging this issue.
I've observed that that reading FPSCR register (FPU status/ctrl) in _calculate_pi_high_ task had all kinds of exceptions. Adding ___set_FPSCR(0);_ at the begining of _calculate_pi_high_ passes the test (reset register to default values).
I need to find out how configures or generates exceptions in FPU before the sample tasks.

[2019-03-21 16:42] dcpleung commented on #14782
On qemu_arc, the ro_data section was not 4-byte aligned (in terms of address and size) after sorting. Maybe this is similar to that?

[2019-03-21 16:44] erwango commented on #14779
Had a quick test and it seems this not systematic on STM32F4:
[code]
With:
[code]

[2019-03-21 16:58] erwango commented on #14779
Testing with stm32f4_board, I confirm the issue.
When flashing with anything larger than 83.59% of the RAM, STLink generates the following message that can be found in FAIL.txt on mounted drive:
`The application file format is unknown and cannot be parsed and/or processed`

I'll have a check with ST-Link expert.

[2019-03-21 17:12] carlescufi commented on #14753
After further investigation, this is indeed an issue with the nrf52840_pca10056 Development Kit PCB. Closing since this is a hardware issue.

[2019-03-21 17:12] #14753 closed

[2019-03-21 17:30] ydamigos commented on #13560
Yes, it crashes on Windos. It tries to read from EP01 without configuring it.
[code]

[2019-03-21 18:02] ceolin commented on #14397
@erwango actually coverity spot this problem even with latest sdk. Question, why don't you cast this way:
[code]
Here the we ensure that the multiplication won't overflow

[2019-03-21 18:04] ceolin commented on #14397
actually you don't need the cast at all, `ts` is `time_t`

[2019-03-21 18:06] lucaspeixotot commented on #14601
The problem/question was solved, so I will close this issue. Thank you @jhedberg

[2019-03-21 18:06] #14601 closed

[2019-03-21 18:12] WilliamGFish commented on #14714
@andyross Maybe something that could help with:
Dead loop of the kernel during Bluetooth Mesh pressure communication #12726

Thoughts or ideas?

[2019-03-21 18:24] ceolin commented on #14397
https://github.com/zephyrproject-rtos/zephyr/pull/14799

[2019-03-21 18:46] andrewboie commented on #14269
Yes, I favor the latter approach. I'd like to see if we can, for all arches, establish an equivalence, where if we have:

   #define STACKSIZE  <size>
   K_THREAD_STACK_DEFINE(my_stack, STACKSIZE)

For any value of <size> the following calls have an identical effect:

   k_thread_create(&my_thread, &my_stack, STACKSIZE, ...)

   k_thread_create(&my_thread, &my_stack, K_THREAD_STACK_SIZEOF(my_stack

[2019-03-21 19:03] andrewboie commented on #14500
Even if the errors are different between the two targets, I have a suspicion that this is a stack overflow in both cases. The new GCC may be using a lot more stack space when profiling is enabled in the 0.10 SDK.

Some things to investigate:

- What is the offset from the beginning of sys_work_q_stack where the MPU fault occurred? If it is within the first 32 bytes, on ARM the first 32 bytes of th

[2019-03-21 20:32] andrewboie commented on #14269
Based on what we have seen porting userspace to 3 arches, I think we can establish some invariant properties of thread stack objects. And I think we can make the layouts the same for all arches.

The following sizes are important:

- **REGION_GRANULARITY** - For non power of two arches, this is the granularity of MPU/MMU region sizes. For example on x86 this is an MMU page size of 4K.

- **REGION_

[2019-03-21 23:10] WilliamGFish commented on #14782
Not sure what is happening here as there are too many conflicting questions. I'll attempt to help but may be some misinterpretation by me:
1. Size of compiled hex for Micro-bit in 1.14; just used West to build and flash and it worked first time
2. Ninja highlights that the resulting file uses  _SRAM:       16268 B        16 KB     99.29%_ this is dangerously high yet did work.
3. The line command

[2019-03-21 23:21] ulfalizer opened #14806 "Assorted pylint warnings in Python scripts"
Most of these are probably either too nitty, too subjective, or too broad to turn into failures in CI. I'll dump them here for reference, in case someone wants to fix something. I've pruned the list a bit (no hanging-indent yada yada spam and the like).

[code]

[2019-03-21 23:27] dcpleung commented on #14782
Could you try this https://github.com/dcpleung/zephyr/commit/f8ff64daa11f082e83325856eb4c1241db955b24 and see if it fixes the issue?

[2019-03-22 00:15] rljordan commented on #14743
@jhedberg  Please review priority.

[2019-03-22 01:18] wentongwu opened #14807 "disable SPIN_VALIDATE when SMP enabled"
**Describe the bug**
with both SPIN_VALIDATE and SMP(cpu_num = 2) on, when two different threads running on different cpu try to access the same one spinlock or semaphore, SPIN_VALIDATE will cause assert happen. So I suggest when SMP on, close SPIN_VALIDATE.

Another issue about SMP,  when do k_sem_give for a semaphore, I don't think it should do reschedule (z_reschedule in z_impl_k_sem_give) if t

[2019-03-22 04:09] bokenator opened #14810 "DT_<Driver Name>_LABEL undeclared"
Hi,

I'm trying to implement a driver for the ADXL345 accelerometer based the ADXL372 driver which is already available on Zephyr. However, when I'm trying to use the driver in the application, the compilation fails with the following error:

[code]

I have already made edits to `CMakeLists.txt` and `Kconfig` in the `drivers/sensor` directory to add the new custom driver.

Any help would be greatl

[2019-03-22 06:01] aasthagr opened #14813 "[Coverity CID :196643]Null pointer dereferences in /subsys/net/ip/net_context.c"
Static code scan issues seen in File: /subsys/net/ip/net_context.c
 Category: Null pointer dereferences
 Function: context_alloc_pkt
 Component: Networking
 CID: 196643
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-22 06:01] aasthagr opened #14814 "[Coverity CID :196642]Error handling issues in /subsys/shell/shell_uart.c"
Static code scan issues seen in File: /subsys/shell/shell_uart.c
 Category: Error handling issues
 Function: uart_rx_handle
 Component: Other
 CID: 196642
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-22 06:01] aasthagr opened #14815 "[Coverity CID :196641]Null pointer dereferences in /samples/net/nats/src/nats.c"
Static code scan issues seen in File: /samples/net/nats/src/nats.c
 Category: Null pointer dereferences
 Function: receive_cb
 Component: Samples
 CID: 196641
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-22 06:01] aasthagr opened #14816 "[Coverity CID :196640]Integer handling issues in /arch/x86/core/thread.c"
Static code scan issues seen in File: /arch/x86/core/thread.c
 Category: Integer handling issues
 Function: z_new_thread
 Component: Architectures
 CID: 196640
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-22 06:01] aasthagr opened #14817 "[Coverity CID :196639]Error handling issues in /samples/bluetooth/ipsp/src/main.c"
Static code scan issues seen in File: /samples/bluetooth/ipsp/src/main.c
 Category: Error handling issues
 Function: build_reply
 Component: Samples
 CID: 196639
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-22 06:01] aasthagr opened #14818 "[Coverity CID :196638]Null pointer dereferences in /subsys/bluetooth/host/hci_core.c"
Static code scan issues seen in File: /subsys/bluetooth/host/hci_core.c
 Category: Null pointer dereferences
 Function: le_conn_param_req
 Component: Bluetooth
 CID: 196638
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-22 06:01] aasthagr opened #14819 "[Coverity CID :196637]Uninitialized variables in /samples/net/sockets/can/src/main.c"
Static code scan issues seen in File: /samples/net/sockets/can/src/main.c
 Category: Uninitialized variables
 Function: tx
 Component: Samples
 CID: 196637
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-22 06:01] aasthagr opened #14820 "[Coverity CID :196636]Integer handling issues in /kernel/sched.c"
Static code scan issues seen in File: /kernel/sched.c
 Category: Integer handling issues
 Function: z_impl_k_thread_priority_set
 Component: Kernel
 CID: 196636
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-22 06:01] aasthagr opened #14821 "[Coverity CID :196635]Error handling issues in /tests/net/mld/src/main.c"
Static code scan issues seen in File: /tests/net/mld/src/main.c
 Category: Error handling issues
 Function: send_query
 Component: Tests
 CID: 196635
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2019-03-22 06:04] jhedberg commented on #14818
This was already fixed by #14757

[2019-03-22 06:04] #14818 closed

[2019-03-22 06:42] jhedberg commented on #14743
@pdunaj did you already determine if the devices in question use privacy, i.e. that this is the differentiating factor between "works" and "doesn't work". @carlescufi 	@cvinayak I'd really need your input here to understand if this is a controller issue or a host issue. @pdunaj 	just to get this straight, your test procedure is to pair with these devices and then request a connection to them using

[2019-03-22 06:44] jhedberg commented on #14743
@pdunaj also, it'd be good if you could produce an HCI trace of what's going on. See https://docs.zephyrproject.org/latest/guides/bluetooth/bluetooth-dev.html#embedded-hci-tracing

[2019-03-22 07:20] KwonTae-young commented on #14779
@erwango
Thank you for your prompt confirmation. :smile:

[2019-03-22 08:51] Vudentz commented on #14791
Doesn't BT_GATT_CCC_MANAGED fixed that? I mean both their write and match callbacks do have a bt_conn so you should be able to detect which write to a CCC and/or match a configuration, Id think you probably just need the latter so you can just pass NULL to bt_gatt_notify and then use the return to filter what connections shall receive the notification.

[2019-03-22 08:54] erwango commented on #14397
@ceolin , cf my comment in #14799, none of the proposal works actually.

[2019-03-22 09:01] wentongwu commented on #14500
thanks @andrewboie.
MMFAR Address: 0x20018014 and sys_work_q_stack: 0x0000000020018000, so the address of the location that generated MPU fault located in the first 32bytes of this thread.  And the first 32 bytes is an exception frame of ARM which will be used for the first Swap. I'm reviewing zephyr's mpu code for arm, try to finding the attribute of this MPU region.

by the way, as below the new

[2019-03-22 09:10] Vudentz commented on #14817
@tbursztyka Im fixing it

[2019-03-22 09:21] Qbicz opened #14826 "USB reset in suspended state"
**Describe the bug**
On startup, USB stack sends suspend and resume between CONNECTED and CONFIGURED states.

But sometimes USB stack will send RESET callback in between:

USB_DC_SUSPEND
USB_DC_RESET
USB_DC_RESUME

And we get RESUME when we are not suspended. Checked with @pawelzadrozniak - reset should not occur between suspend and resume.

**To Reproduce**
Using USB HID class. This sequence occu

[2019-03-22 09:23] Qbicz commented on #14826
Full sequence of USB state changes I get is the same as in https://github.com/zephyrproject-rtos/zephyr/issues/14627

[2019-03-22 09:25] Qbicz commented on #14627
Bug was in application - it was not handling multiple RESET / RESUME callbacks. Fixed in https://github.com/NordicPlayground/fw-nrfconnect-nrf/pull/566

[2019-03-22 09:25] #14627 closed

[2019-03-22 09:26] 15658150157 opened #14827 "cmake error"
**Describe the bug**
I newly install ubuntu 18.04 on my pc, and follow the start guide, below is the error i meet.

 cmake -DBOARD=qemu_x86 ..
Zephyr version: 1.14.0
-- Found PythonInterp: /usr/bin/python3 (found suitable version "3.6.7", minimum required is "3.4")
-- Selected BOARD qemu_x86
-- Loading /home/yhx/zephyrproject/zephyr/boards/x86/qemu_x86/qemu_x86.dts as base
-- Overlaying /home/yhx/

[2019-03-22 09:32] rveerama1 commented on #14813
master already has fix for this.

[2019-03-22 09:32] #14813 closed

[2019-03-22 09:40] finikorg commented on #13560
Window set iface 0 alt settings 0, we should not call callback then, I will fix this issue.

[2019-03-22 09:58] ioannisg opened #14828 "ARM: MPU-based HW thread stack protection not working properly when building with CONFIG_FLOAT"
In ARM architecture, MPU-based stack protection works, briefly, as follows:
- a Guard area at the bottom of supervisor thread is given Read-Only access
- thread stack overflow eventually attempts to push into the guard, triggering an MPU fault (Data Access Violation)
- the MPU fault triggers the MemManage exception, which leads to, a synchronous MPU stacking error, since the MemManage exception at

[2019-03-22 09:59] ioannisg commented on #14828
FYI @galak @agross-linaro @MaureenHelm

Shall we try to fix this in 1.15?

[2019-03-22 10:04] #11087 closed

[2019-03-22 10:04] rveerama1 commented on #11087
Fix already merged, so closed.

[2019-03-22 10:05] mandarcthorat1 commented on #10581
@avisconti The issue has been again detected by latest coverity scan. Please take a look again.

[2019-03-22 10:13] #14817 closed

[2019-03-22 10:15] mandarcthorat1 commented on #8988
The problem is detected again by latest coverity scan. Please have a look

[2019-03-22 10:18] avisconti commented on #10581
What is the CID for the new scan?

[2019-03-22 10:20] mandarcthorat1 commented on #3906
@lpereira CID 151975 is detected again by latest coverity scan. Please have a look

[2019-03-22 10:23] mandarcthorat1 commented on #6666
The problem is detected again by latest coverity scan. Please have a look

[2019-03-22 10:26] agansari commented on #9656
@ioannisg or @aurel32 can you please check if #14830 fixes this issue?

[2019-03-22 10:28] mandarcthorat1 commented on #10581
It has been detected with same CID as before, i.e., 188744.

[2019-03-22 10:32] aescolar commented on #14827
@ulfalizer : Could you take a look?

[2019-03-22 10:38] aescolar commented on #14810
@galak : Could you help him?

[2019-03-22 10:55] agansari commented on #14609
sorry @hakehuang i can't reproduce the MPU FAULT in this issue in rc2

[2019-03-22 10:58] jhedberg opened #14833 "Bluetooth init procedure with BT_SETTINGS is not reliable"
There are several issues with the current init procedure and `BT_SETTINGS`, which have become apparent from several independent developer reports:

 - It is not clear enough that the application needs to call `settings_load()`
 - The stack could potentially try to start passive scanning in central role even when it doesn't (yet) have an identity address
 - Several APIs are missing appropriate chec

[2019-03-22 11:53] jhedberg opened #14837 "Bluetooth shell scan command parameter mandatory/optional evaluation is broken"
[code]

[2019-03-22 11:56] cvinayak commented on #14044
@Olivier-ProGlove Please give a try with #14836 with added print of the flags where the MIC failure is generated in ctrl.c. I have moved the resetting of the enc_wa flag to the end of Enc Setup Procedure now.

[2019-03-22 12:14] ranbochen commented on #14568
test ok for me.

[2019-03-22 12:17] cinlyooi-intel commented on #13662
@qianfan-Zhao After talking to @finikorg and looking at your comment, I realized that I try this sample wrongly.

Sorry for the trouble I had caused and thank you all for your patience

[2019-03-22 12:17] #13662 closed

[2019-03-22 12:21] #14767 closed

[2019-03-22 12:58] #14741 closed

[2019-03-22 13:03] carlescufi commented on #14826
@pawelzadrozniak will you be able to send a fix for this?

[2019-03-22 13:04] erwango commented on #14779
@KwonTae-young, ok, fiixed, cf #14838:

[code]
Result:
[code]

[2019-03-22 13:06] carlescufi commented on #14827
@15658150157 this is a known issue that was fixed already here: https://github.com/zephyrproject-rtos/zephyr/pull/14497. Please take the latest master

[2019-03-22 13:06] #14827 closed

[2019-03-22 13:08] ulfalizer commented on #14827
@15658150157
I think this is fixed by commit 4278bf5673 ("scripts/dts: Fix for PyYAML 5.1 Loader changes"), which you don't seem to have.

If you don't want to use the latest master, this workaround might work (which downgrades `pyyaml`):

    $ pip install --user pyyaml==3.13

CC @mike-scott

[2019-03-22 13:08] bokenator commented on #14810
Figured it out!

In addition to adding the driver to `CMakeLists.txt` and `Kconfig` in the `drivers/sensor` directory, we also need to create a `.yaml` file in `dts/bindings/sensor` directory.

[2019-03-22 13:08] #14810 closed

[2019-03-22 13:16] ioannisg commented on #14269
@andrewboie I think this is a nice analysis; we should see if it is possible to implement for the next Zephyr release.

I have some high-level comments:
- I agree completely that there is no real need of having the Privilege Stack area in separate place (we do this for ARM)
- The macro infrastructure for defining and allocating thread stacks is good. I am stressing (also here) that we really need

[2019-03-22 13:16] ioannisg commented on #14269
[ARM_MPU_minor_rework_proposal.pdf](https://github.com/zephyrproject-rtos/zephyr/files/2996600/ARM_MPU_minor_rework_proposal.pdf)

[2019-03-22 13:37] tautologyclub commented on #14479
Confirmed to work, bangup job @tbursztyka :+1:

[2019-03-22 13:42] ioannisg commented on #9656
Yes, this fixes the initial failure. Thanks for the fix.

[2019-03-22 13:43] ioannisg commented on #9656
I wouldn't close this issue until we clarify the issue with the Watchdog that needs to be disabled at boot, if we want the test to pass in SAM E70 XPLAINED. Or, at least, track the WDT issue somewhere else, as this is unrelated to FPU....

[2019-03-22 13:45] ioannisg commented on #9656
@nashif @aurel32 the un-initialised FPCSR in the artificial stack frame, explains, IMO, the sporadic failures you had been observing

[2019-03-22 14:04] jhedberg opened #14840 "settings: settings_save_one() doesn't always seem to store data, even if it returns success"
I have the following configuration:

 - tests/bluetooth/shell
 - BOARD=nrf52840_mdk

I was playing around with adding and removing identities, and noticed that deleting identities didn't work. On the settings level this maps to the keys bt/id and bt/irk. First one is multiples of seven bytes (sizeof(bt_addr_le_t)) and the second is multiples of 16 bytes (sizeof(IRK)).

What it looks like is that i

[2019-03-22 14:26] jhedberg commented on #14840
I've used this commit to help debug the issue:
https://github.com/jhedberg/zephyr/commit/43891313e0689e7f6606a524e599fc8c1548c9c9

With that, you should be able to see the issue by performing the following operations in the shell:
[code]

[2019-03-22 15:17] inakypg commented on #14454
It is highly desirable, because it allows us to detect if we saw all the output; the test runner will verify if it got all of the expected messages. If the first one is missing, something might be stinking (early missing console because who knows).

This, for example, catches a lot in ESP32, we loose a lot of early console and it is not clear yet why.

[what the hell -- sorry, by mistake I edited

[2019-03-22 15:49] pawelzadrozniak commented on #14826
That's something we have discussed earlier today.
I'll investigate next week what is causing the wrong event order.

[2019-03-22 15:52] MaureenHelm commented on #14609
I can't reproduce the fault either. Here's what I'm seeing:
[code]

[2019-03-22 16:12] jarz-nordic commented on #14837
@jhedberg : I have faced (and possibly caused) this problem.
This command shall accept:
`bt scan on` and `bt scan on dups/nodups` ?

[2019-03-22 16:14] jhedberg commented on #14837
@jarz-nordic yes. The dups/nodups should be an optional parameter, whereas for "off" there should be no additional parameters. I suppose "on" and "off" need to be made into sub-commands so they can have different parameter requirements?

[2019-03-22 16:16] jarz-nordic commented on #14837
I will fix that.
Haveing `on` and `off` subcommands would be great but this idea has been rejected some time ago ;-)

[2019-03-22 16:17] #14606 closed

[2019-03-22 16:19] pdunaj commented on #14743
Hi @jhedberg ,
we do as follows (case with no privacy):
- device starts with clear settings,
- no bond is established on selected identity - advertise undirectly (`bt_le_adv_start`),
- host (Android, Windows, nrf840_pca10059) sees device, connects and bonds,
- device reboots,
- bond is present, device starts direct advertising (`bt_conn_create_slave_le`) to address obtained from `info->addr` from

[2019-03-22 16:23] pdunaj commented on #14743
@jhedberg I will capture traces and try to debug it on Monday.
BTW our app's advertising module is here:
https://github.com/NordicPlayground/fw-nrfconnect-nrf/blob/master/samples/nrf_desktop/src/modules/ble_adv.c

[2019-03-22 16:36] gnuless commented on #9506
This is a can of worms that is a bit over my head at this point.  I think there are problems with races in either the xtensa code and/or the scheduler.

[2019-03-22 16:40] gnuless commented on #9506
I've discovered that k_sleep() is broken on SMP, which affects this test. I'm not sure if my fix for that issue is correct, which leaves me wondering if continuing issues are created by my fix, or are actual symptoms. I have to punt this back to someone with more knowledge of the scheduler and xtensa arch.

[2019-03-22 16:46] lpereira commented on #3906
@mandarcthorat1 I do apologize, but I'm not working on Zephyr any longer.

[2019-03-22 16:53] gnuless commented on #9506
FWIW, my k_sleep() fix was:

[code]

[2019-03-22 18:16] nslowell commented on #4004
It seems that uart_console's printk hook console_out() needs to be configurable to use ISR/FIFO instead of blocking poll.  The console subsystem (tty.c) already has this code implemented.  Should we take advantage of that or should uart_console duplicate the implementation?

[2019-03-22 18:19] andrewboie commented on #14269
Actually, I am not so sure now. The problem is base address alignment of stacks on power-of-two systems.

With the new proposed layout, consider a stack declared of size 2K. This generates a stack object of 2k + 32 bytes (guard) + 512 bytes (privileged stack) for a total of 2592.

Now consider several of these stacks defined. Each one has to have its lowest memory address aligned to 2K. I suspect

[2019-03-22 18:38] andrewboie commented on #14269
For supervisor threads, I like the idea of just making a guard MPU region out of whatever memory precedes the thread stack, without a specific guard region. Threads should not be sharing pointers with each other based on locations within stack frames. The only trick is what to do with the very first stack in that region, since it will not be preceded by other stacks, but some different memory.

Ho

[2019-03-22 18:41] andrewboie commented on #14269
Agreed. I haven't yet come up with a good scheme to ensure calls to k_thread_create() to create user threads with one of these supervisor-only stacks fails, but I'm thinking about it.

[2019-03-22 19:42] andrewboie commented on #14269
How about this design, which I think has the best aspects of what we have been thinking about:

1. All arches use privilege stack generation mechanism.
1. Privilege stacks are stored together in a designated memory region, essentially forming an array since they are all the same size. Pbegin .... Pend
1. Thread stacks are also stored together in a designated memory region. Sbegin ... Send
1. Assum

[2019-03-22 20:36] ulfalizer commented on #14806
CC @marc-hb

Do you see any you think should be hard failures? Many of these are candidates for a "soft" check otherwise.

Think we should aim to keep any "soft" check non-spammy though. My experience is that people start ignoring stuff when there's too much of it.

[2019-03-22 21:00] marc-hb commented on #14806
I don't have time to review them one by one right now, sorry.

From a quick look most of these should be run all the time because they're easy to fix and correct 99% of the time, however they should be filtered by `check_compliance.py class PylintSoftChecks` so the latter reports it only on the **modified files and lines** (exactly like checkpatch does) and doesn't bother the user with the 1% exce

[2019-03-22 21:35] andrewboie commented on #14269
I spoke to @jhedberg and @andyross and I think forbidding supervisor-to-supervisor stack access needs more contemplation before we commit to it.

Here's a truth table of what is accepted for access when Context A tries to access memory on Context B's stack:

[code]

[2019-03-22 23:23] ioannisg commented on #14269
This is fine. I believe we do this already.

[2019-03-22 23:24] ioannisg commented on #14269
That's fine too.

[2019-03-22 23:26] ioannisg commented on #14269
I agree with the idea. The first stack is not the only problem: we need to make sure the guards are of sufficient size and respect the alignment requirements of the MPU architecture.

[2019-03-22 23:30] ioannisg commented on #14269
I agree with refactoring the code to forbit Supervisor-Supervisor thread stack access.
But I cannot immediately see how we could allow an ISRs to write to the "area" we use as a privileged guard, i.e. right below the current privileged stack. Any ideas?

[2019-03-22 23:36] ioannisg commented on #14269
This is of course, ok, but this is not the only thing we need to do; we also need to not enforce special alignment requirements for these threads.

[2019-03-22 23:48] overheat commented on #12239
@tg-- I have add hw pwm for nrf52 chips. #14853 Do you have time to review it?

[2019-03-23 01:06] ceolin commented on #3906
It seems a valid error, checking it in tinycrypt project.

[2019-03-23 01:37] ceolin commented on #6666
#14857

[2019-03-23 02:41] 15658150157 commented on #14827
ok. solve it. very thanks.

[2019-03-23 13:45] lgl88911 commented on #14603
@MaureenHelm

[2019-03-23 13:45] #14603 closed

[2019-03-23 14:53] #14816 closed

[2019-03-23 14:53] #14820 closed

[2019-03-23 20:47] #14840 closed

[2019-03-23 23:45] nashif commented on #14240
yes, I would actually remove it altogether. Looks like we just forgot about it.

[2019-03-25 00:35] hchaudhary1 commented on #11702
Currently have to manually add NRFX_I2S_ENABLED as well as add "zephyr_sources(nrfx/drivers/src/nrfx_i2s.c)"

[2019-03-25 00:38] cinlyooi-intel opened #14869 "tests/lib/ringbuffer: Assertion failure at test_ring_buffer_main()"
**Describe the bug**
(memcmp((char *)getdata, rb_data, getsize * sizeof(u32_t)) == 0

Seen on Altera Max10

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=altera_max10
3. make
4. make run

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots or console output**
[code]

**Environment (please complete the fo

[2019-03-25 00:59] KwonTae-young commented on #14779
@erwango
It works well.(SIZE=30000)

**Before**
[code]

**After**
[code]

[2019-03-25 02:42] cinlyooi-intel opened #14870 "samples/mpu/mpu_stack_guard_test: Found "Test not passed""
** Description **
For "test" Test case in sample.yaml, i.e. no prj_stack_guard.conf, we see `Test not passed`.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=frdm_k64f
3. make
4. make run

**Screenshots or console output**

[code]
**Environment (please complete the following information):**
 - OS: fedora29
 - Toolchain: zephyr
 - Commit SHA or Version

[2019-03-25 04:27] wentongwu commented on #14500
----> yes, this 32 bytes is allocated with the real stack and it's called MPU Guard region. And the layout is like below:
  ---------------------------- <---- Stack allocation address + stack size +
  |                                 |            MPU_GUARD_ALIGN_AND_SIZE
  |  Some thread data  | <---- Defined when thread is created
  |        ...                      |
  |---------------------

[2019-03-25 05:27] andrewboie commented on #14500
Yeah, that's a stack overflow then. We'll need to fix the ARM code that reports overflows, @ioannisg
Try increasing CONFIG_TEST_EXTRA_STACKSIZE that should cover most stacks

[2019-03-25 05:51] cinlyooi-intel opened #14871 "tests/posix/fs : Dropped console output"
**Describe the bug**
When running the test case, I get
[code]

Please note that the number in the message changes. In general, the ztest test case one is trying to run the larger the number.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52840_pca10056
3. make
4. See error

**Impact**
 - The test harness in testcase.yaml will report that the test ca

[2019-03-25 08:04] #14833 closed

[2019-03-25 08:13] jukkar commented on #8988
What is the coverity scan id for this new issue? The original one 187079 points to code that is already fixed.

[2019-03-25 08:17] jukkar commented on #8988
I wonder why coverity is reporting this now instead of immediately after the previous fix was reported. Anyway, investigating.

[2019-03-25 08:41] ioannisg commented on #14870
I think this is expected. Try to execute with CONFIG_HW_STACK_PROTECTION=y (I think it is set in the alternative prj.conf). You should expect _not_ to see: "Test not passed".

[2019-03-25 08:43] carlescufi commented on #11702
@jarz-nordic @anangl any news on this front?

[2019-03-25 08:46] wentongwu commented on #14500
yes, as previous comment, increasing stack could make some case pass. But there is new error happen. Checking the code, it seems stack issue again, from this line(" Stacking error (context area might be not valid"), it should be fault happen during exception stacking and then do same check and abort this thread. Maybe we should increase exception's stack. Let me review the code of failed case and

[2019-03-25 08:49] carlescufi commented on #14743
Looking through this issue's history, I think that @joerchan might be able to help with it. @joerchan could you take a quick look?

[2019-03-25 09:20] joerchan commented on #13522
I think the issue here is that the declaration of `struct bt_gatt_subscribe_params auth_subscribe_req = {0};`, which is on the stack. This parameter needs to be kept valid while you have indications/notifications active.

This probably crashed because the pointer to cb_indication_DXCM_AUTH has been overwritten and the stack is calling a function pointer into invalid memory, causing an MPU fault or

[2019-03-25 09:37] jarz-nordic commented on #10769
According to comments in #13425 this issue can be closed.

[2019-03-25 09:37] #10769 closed

[2019-03-25 10:25] #8854 closed

[2019-03-25 10:45] carlescufi commented on #13522
@Vudentz could you please take a look at [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/13522#issuecomment-476114079) from @joerchan to see if you agree with his analysis?

[2019-03-25 11:03] #14288 closed

[2019-03-25 11:03] #14697 closed

[2019-03-25 11:03] #14698 closed

[2019-03-25 11:06] agansari commented on #14870
@cinlyooi-intel building with:

Will make the test pass as mentioned above.
I can't reproduce ***** HARD FAULT ***** part.

[2019-03-25 11:22] Laczen commented on #12160
I will no longer work on trying to add a nvs backend for the settings subsystem, so for me this can be closed.

[2019-03-25 11:26] Vudentz commented on #13522
Yep, that seems to be the problem, the documentation actually states these parameters should stay valid as long as the operation is in progress.

[2019-03-25 11:55] WilliamGFish commented on #14714
I have fetched the latest commits and have run three (3) boards for several hours and the issue no long appears to arise. I suspect that it was https://github.com/zephyrproject-rtos/zephyr/commit/66d339a7c93c66567fdfef26220923a7bff0f676 that resolved the underlying problem.

If the issue resurfaces i shall reopen.

[2019-03-25 11:55] #14714 closed

[2019-03-25 12:15] avisconti commented on #10581
@mandarcthorat1
I'm not expert on Coverity, but it seems to me that this is maybe a false positive, I don't think there will be
any memory corruption. Since atomi_test_and_clear_bit() is used in other part of the code as well is it possible to see whether the same issue has been issued already and in thata case how it has been closed? Thanks.

[2019-03-25 12:24] carlescufi commented on #14714
@WilliamGFish thank you very much for getting back to this and closing it.

[2019-03-25 12:44] lanvis commented on #13522
Yep … but also in my write.  I just declared them static (not global)
I assumed that the driver copied that data out of the structure before returning …. Need to look at everything now.
You are the  Mann!!! 😊

I am even getting my indicate.  Still not sure about the format of the indicate data as I get a

bool gattc_write_request(uint16_t conn_handle, uint16_t attr_handle, const dxcm_buffer_t* dat

[2019-03-25 13:42] carlescufi commented on #13522
@lanvis thank you for confirming that this is not an issue anymore. Regarding the other questions you have, can you please either:

- Send an email to the [mailing list](https://lists.zephyrproject.org/g/devel)
- Ask us directly on #bluetooth on [Slack](https://tinyurl.com/yarkuemx)

Closing the issue.

[2019-03-25 13:42] #13522 closed

[2019-03-25 14:05] joerchan commented on #14743
@carlescufi  @jhedberg The issue here is that the Host will not use IRKs for the peer when BT_PRIVACY is not enabled, meaning peers IRK is not stored with the bond.
So since Android (and also iOS) devices use privacy we cannot advertise directly to them when BT_PRIVACY is enabled (even though BT_CTRL_PRIVACY is enabled or supported).
There are other less obvious drawbacks to this. We cannot proper

[2019-03-25 14:13] tgorochowik commented on #14467
@jukkar A quick update on the client side for civetweb: it is there, and it just works:
[code]
(The other side was `python -m SimpleHTTPServer 80` in this case).

@markusr The way I understand this is LGPL can generally be used *with* Apache licensed code, but it cannot really be integrated *into* Apache licensed projects.

Putting the code into `ext` seems like a plausible workaround but I honest

[2019-03-25 14:17] wentongwu commented on #14500
0x2002880c is located in .priv_stacks.noinit.

[2019-03-25 14:32] carlescufi commented on #14743
@joerchan @jhedberg I think we could split the Host privacy support into two different Kconfig options:

- `CONFIG_BT_RPA_GEN_RES`: Enables support for privacy as a feature
- `CONFIG_BT_PRIVACY` (depends on (`CONFIG_BT_RPA_GEN_RES`): Uses privacy when advertising

[2019-03-25 14:49] pileghoff opened #14882 "USB DFU never enters DFU mode, when composite device is enabled and mcuboot is used"
**Describe the bug**
When trying to use USB DFU in a composite device, the device never enters DFU mode. When you try to download new firmware using dfu-util, it fails with the message `Device still in Runtime Mode`

**To Reproduce**

- Add `CONFIG_USB_COMPOSITE_DEVICE=y` to config of the USB DFU sample.
- Flash mcuboot and the sample to the device
- Attempt a DFU using `sudo dfu-util --alt 1 --do

[2019-03-25 15:04] joerchan commented on #12535
@jhedberg I think it would be better to force an RPA timeout instead of suspending it, that way we don't risk accidentally disabling privacy.
I think it is possible to do this with `bt_le_oob_get_local`

[2019-03-25 15:05] Qbicz commented on #14882
Hi @pileghoff, I just wanted to open a similar issue. I tried to perform DFU in a composite device (HID class + DFU class) and this fails on Ubuntu, waiting for USB reset:
[code]

Logs on the device during the update:
[code]

[2019-03-25 16:14] joerchan commented on #13522
This is correct for subscribing to either notifications and indications
[code]
You have a pointer to the data here.

The other one you are looking at is used for sending indications through `bt_gatt_indicate`.

[2019-03-25 16:42] WilliamGFish commented on #14782
I've just pulled the v1.13 branch and the sample does not build for Micro-bit. It will not fit in memory.

Struggling to build in 1.12 without some reconfiguration.

@bluetooth-mdw Martin are you using this for BLE Training sessions? Either way let me know the state of this. Thanks

[2019-03-25 16:57] raveslave commented on #12775
Can we request this to support USB Audio Class 2.0 as well?

[2019-03-25 17:30] rljordan commented on #14184
@cinlyooi-intel  Can this be closed?

[2019-03-25 17:30] rljordan commented on #14556
@AdithyaBaglody  do you have a status on this?

[2019-03-25 17:38] #8988 closed

[2019-03-25 17:46] rljordan commented on #13347
@SavinayDharmappa  Any update on this?

[2019-03-25 17:52] #13114 closed

[2019-03-25 17:52] #14093 closed

[2019-03-25 18:33] markusr commented on #14467
@tgorochowik I don't know if putting the code in ```ext``` would be allowed. Who can decide on this?

Here is a comparison table. Please correct and extend.

Feature | civetweb  | Libwebsockets (LWS)
------------ | ------------- | ------
License | MIT | LGPL2 + Static Linking Exception
http/1.x client | supported | supported
http/1.x server | supported | supported
http/2.x client | *not supported*

[2019-03-25 18:38] #14837 closed

[2019-03-25 18:41] jhedberg commented on #14743
@carlescufi I don't think we need `CONFIG_BT_RPA_GEN_RES`. That should always be supported whenever pairing (SMP) is supported.

[2019-03-25 19:05] SavinayDharmappa commented on #13347
@rljordan  I have already raised PR related to this issue #14067

[2019-03-25 19:09] MaureenHelm commented on #14297
I can reproduce this, but I can't explain yet why rt1020 behaves differently from rt1050 and rt1060. According to their respective hardware reference manuals, all three parts have 160 vectors, with the last few vectors reserved. The number of reserved vectors at the end of the table varies by part, with the rt1020 having the most reserved. I suspect that rt1020 may actually have less than 160 vect

[2019-03-25 20:04] andrewboie commented on #14500
mis-click

[2019-03-25 20:05] andrewboie commented on #14500
Indeed, this is controlled by CONFIG_ISR_STACK_SIZE

[2019-03-25 20:06] andrewboie commented on #14807
@andyross

[2019-03-25 20:07] carlescufi commented on #14743
@jhedberg why is that? I think it would make sense to be able to conditionally compile out IRK management and RPA generation and resolution. Simple applications might want to bond and encrypt but not make use of any IRK-related functionality.

[2019-03-25 20:18] jhedberg commented on #14743
@carlescufi because then you can't properly interop with privacy-enabled devices? Maybe I misunderstand what the second option would do.

[2019-03-25 20:23] MaureenHelm commented on #9656
Fixed by #14830

[2019-03-25 20:23] #9656 closed

[2019-03-25 20:24] jhedberg commented on #14743
@carlescufi I think I may have misunderstood `CONFIG_BT_RPA_GEN_RES` - I thought that was for being able to use another devices's IRK to connect to it, but in fact it's about something else?

[2019-03-25 20:25] ioannisg commented on #14828
That's correct...for now! When we enable lazy stacking we will need larger guards, even for detecting (not  for preventing) corruption.

I agree. But could we then start thinking of how to prevent **non-essential** supervisor threads from not corrupting the kernel?

[2019-03-25 20:29] andrewboie commented on #14828
I'm not sure I understand. Won't the fault happen when the lazy stacking takes place, regardless of the guard size?

I don't think that's possible if they operate on shared data structures. Like wait queues, any kind of concurrency control, etc. I think it's probably simpler to look into what additional subsystems we can push into userspace.

[2019-03-25 20:32] andrewboie commented on #14269
ISRs run on the interrupt stack and not the thread stack. Separate memory area.

[2019-03-25 20:36] nashif commented on #14586
ping?

[2019-03-25 20:38] MaureenHelm commented on #14293
I'm not able to reproduce. @dleach02 will you please give it a try?

[code]

[2019-03-25 20:43] MaureenHelm commented on #14605
I'm not able to reproduce either

[2019-03-25 22:27] ulfalizer commented on #13436
Back after reading the manual a bit to better understand what these actually do.

Was thinking a `range` could be used maybe, but the priorities being up to `CONFIG_NUM_PREEMPT_PRIORITIES - 1` makes it a bit messy (plus `CONFIG_NUM_COOP_PRIORITIES` being negative).

Think a compile-time check somewhere might be best for now.

[2019-03-25 23:53] rljordan commented on #5857
Any new updates on this? Does the issue still exist?

[2019-03-25 23:54] rljordan commented on #8364
Any updates on this issue?

[2019-03-25 23:56] rljordan commented on #10200
Is this a bug or an enhancement?  Do we have an update on it?

[2019-03-26 00:09] #6666 closed

[2019-03-26 00:13] ceolin commented on #3906
The test suite in tinycrypt was designed to support multiple curves, so just closing this issue.

[2019-03-26 00:13] #3906 closed

[2019-03-26 01:08] wentongwu commented on #14500
@andrewboie  did the test, it seems not work for increasing exception stack. And failing code try to access priv_stack, I didn't understand this stack well for now...

[2019-03-26 01:42] wentongwu commented on #13935
@aurel32  Is this issue root caused?

[2019-03-26 02:28] wentongwu commented on #14500
it works when increasing CONFIG_PRIVILEGED_STACK_SIZE. I will test more.

[2019-03-26 02:31] #14779 closed

[2019-03-26 02:34] #14659 closed

[2019-03-26 02:49] #14665 closed

[2019-03-26 02:51] #14063 closed

[2019-03-26 03:14] chiachuanwu opened #14898 "samples/subsys/nvs - error"
**Steps to reproduce the behavior:**

mkdir build; cd build
cmake -DBOARD=nrf52840_pca10056
ninja
cp zephyr.bin /run/media/JLINK
sudo cat /dev/ttyACM1

**Screenshots or console output**
[code]
**Expected result**
Please refer to link below:
https://docs.zephyrproject.org/latest/samples/subsys/nvs/README.html

**Environment (please complete the following information):**

OS: fedora29
Toolchain: zep

[2019-03-26 03:40] tedd-an commented on #14819
Code merged and close the bug

[2019-03-26 03:40] #14819 closed

[2019-03-26 03:42] tedd-an commented on #14821
PR merged and close the bug

[2019-03-26 03:42] #14821 closed

[2019-03-26 04:34] nordic-krch commented on #12611
Could we reassign to someone else? Adding shell network backend is not in my plans and scope.

[2019-03-26 05:50] wentongwu commented on #12478
this issue has already submitted PR(#14619 ), but this PR depends on https://github.com/zephyrproject-rtos/zephyr/issues/14807.

[2019-03-26 06:07] ramakrishnapallala commented on #13574
Pushed PR: https://github.com/zephyrproject-rtos/zephyr/pull/14796/

[2019-03-26 06:17] mkarhumaa opened #14899 "Bluetooth controller ACL data packets stall"
**My test setup**
nRF52840_pca10059, hci_usb sample. Proprietary host stack and application (fuzzer) in Linux
Peer: csr8510, Linux kernel

Proprietary application is used for Bluetooth SMP fuzzing. Test target is running also linux.

**Describe the bug**
After certain test cases Zephyr controller goes to the state that it does not send HCI ACL packets out. Control packets are still working fine: i

[2019-03-26 06:40] vonhust commented on #14640
This is caused by the mismatch in stack_info,  the same root cause of #13561 #14766. When fix #13561 #14766, this issue will be fixed.

[2019-03-26 08:13] cinlyooi-intel commented on #14870
@ioannisg : You are right. Examining sample.yaml says we are expecting the console output I am seeing.
@agansari : With CONF_FILE=prj_stack_guard.conf (sample.yaml's test_stack_guard testcase ) I don't see the `Hard Fault` either. `Hard Fault` only with "sample.yaml's test testcase"

I am closing this test case.

[2019-03-26 08:19] cinlyooi-intel commented on #14870
I am reopenning this because I noticed the "Test not passed"  mentioned by @ianisg on the same line as "Canary = 0x0000000f". Missed that initially

[2019-03-26 08:21] jukkar commented on #13397
@pfalcon are you going to work on this as we are running out of time soon?

[2019-03-26 08:44] pfalcon commented on #13397
Any work requires planning to be done beforehand, and the plan for 1.14 was to **implement as much as possible of BSD sockets**. If you think about it, it makes perfect sense: the documentation for BSD sockets is already written (as part of the POSIX standard, linked above). So, if we implement BSD sockets rightfully and faithfully, we can just use existing documentation, whereas otherwise, we nee

[2019-03-26 08:49] WilliamGFish commented on #14782
The easiest option would be to create a micro-bit specific .conf and reduce the stack size to free up some space (CONFIG_MAIN_STACK_SIZE=512)

This is exactly how the is resolved in the Mesh examples.

[2019-03-26 09:01] jukkar commented on #13397
Just see https://docs.zephyrproject.org/latest/reference/networking/sockets.html and it is missing documentation for `ZSOCK_xxx` macros, various other standard defines and `zsock_xxx()` functions. Please spend couple of hours to add the missing stuff there.

[2019-03-26 09:13] ManojSubbarao commented on #13291
Duplicate of 10915. Closing the issue.

[2019-03-26 09:13] #13291 closed

[2019-03-26 09:13] rveerama1 commented on #14523
PR merged. So closing this issue. Reopen if issue still exists.

[2019-03-26 09:13] #14523 closed

[2019-03-26 09:26] pfalcon commented on #13397
I'll try to, but it's likely will be wasted effort (or more specifically, an effort which will likely need to be largely redone later, effectively doing the same thing twice).

[2019-03-26 09:36] finikorg opened #14902 "logger: Enabling USB CDC ACM disables logging"
I noticed that if I enable USB CDC ACM logger stops printing logs. Can be verified with building for example sample
`samples/subsys/usb/hid-cdc`

[2019-03-26 09:38] jukkar commented on #13397
Why would we do this twice? If the missing API docs are written, why would we need to do it second time, I do not follow your logic here.

[2019-03-26 09:39] arun1joshi opened #14903 "tests/posix/fs test show messages dropped in the logs"
**Describe the bug**
suddenly, running tests/posix/fs test cases shows messages dropped in logs.
I can see the issue for nrf52840_pca10056 board, but the same test passes for qemu_x86.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -DBOARD=nrf52840_pca10056
3. make
4. See error

**Expected behavior**
all test cases should be reported pass/fail

**Impact**
cann

[2019-03-26 09:42] #14902 closed

[2019-03-26 09:43] Laczen commented on #14898
Hi @chiachuanwu, that is strange, I just tried to run the sample and it works just fine. Why are you using make run ? The correct commands to build and run the sample are:
[code]

[2019-03-26 09:44] jukkar commented on #14467
We have now support for external modules which means that we do not have to merge external code to ext/ directory, so in this respect using libwebsockets might be possible. But if we would need to modify libwebsocket in any way for zephyr, then those modification would need to be merged into upstream lws sources as then the static linking exception does not apply (if I am reading the license text

[2019-03-26 09:49] arun1joshi commented on #14903
same issue with tests/kernel/common
[code]

[2019-03-26 10:03] PiotrZierhoffer opened #14904 "Sanitycheck report not clear if built or ran a test"
When running sanitycheck for a platform that supports emulation, you don't really know if the test is just built or ran in the emulator.

For example, to test `m2gl025` board with support in Renode, running the following command:
`./scripts/sanitycheck  --platform m2gl025_miv -v`

gets you 124 `PASSED` tests regardless of having Renode installed or not.

This makes perfect sense that these tests p

[2019-03-26 10:12] carlescufi commented on #13799
@StefJar could you please provide a reproducible sample or code snippet that allows @finikorg to reproduce locally in order to fix this?

[2019-03-26 10:45] cinlyooi-intel commented on #14903
Noticing the same problem on qemu_nios2 and altera_max10 for samples/subsys/logging/logger/

[code]
Unfortunately for me, my  test harness in sample.yaml is looking for the string `Logging performance showcase` which is on the first few lines of the 255 messaged dropped.

[2019-03-26 10:46] carlescufi commented on #14898
@chiachuanwu in your report you write:

Are you flashing the board with `make flash`?

[2019-03-26 10:51] carlescufi commented on #14528
Changing to enhancement since this is expected although can be improved.

[2019-03-26 10:55] carlescufi commented on #12501
@tautologyclub https://github.com/zephyrproject-rtos/zephyr/pull/13064

[2019-03-26 10:57] pdunaj commented on #14743
Hi @jhedberg , I checked again and enabling privacy does not work.
Here is the branch I use: https://github.com/pdunaj/fw-nrfconnect-nrf/tree/test_direct_privacy
Build commands (I use debug variant or the app):
[code]
You can see in the logs that device is advertising directly to host but there is no connection attempt on the other side.
[code]

[2019-03-26 11:01] pdunaj commented on #14743
The host device is Samsung Galaxy S8 with Android 9.

I tried again with my Moto G5 (Android 8.1) and it worked there but I had to wait for 20 seconds or more before connection was established. Let me check again with Galaxy S, maybe it will work if I wait long enough...

[2019-03-26 11:03] tgorochowik commented on #14467
If there is a way to use it, and having subsystems in separate repositories is the way Zephyr wants to go, then personally I have nothing against it either.

Libwebsockets actually looks very promising.

The only issue I see with this approach is using current Zephyrs building blocks vs external building blocks. For example: Zephyr has its own TLS implementation, libwebsockets has its own too. In

[2019-03-26 11:03] pizi-nordic commented on #12025
There are no low power states in nRF5x SoCs. The https://github.com/zephyrproject-rtos/zephyr/blob/master/samples/subsys/power/power_mgr example introduces them artificially in order to show the OS-based policies.

There is no magic switch which reduces power consumption to XX uA in your design.
And there never will be one.

[2019-03-26 11:06] pdunaj commented on #14743
I retried on Galaxy S8 and direct advertised device is not connected even if I wait over a minute.

[2019-03-26 11:10] pdunaj commented on #14743
One more comment regarding our app. On mouse we would like to use fast advertising (even directed) which is enabled with `CONFIG_DESKTOP_BLE_FAST_ADV=y`. It is not enabled by default on DK. With direct advertising it should connect to host instantly when present. If connection cannot be established we switch to normal (slow) advertising.

[2019-03-26 11:13] pdunaj commented on #14743
On Galaxy S8 it finally connected but after over 2 minutes after reset and so far I have seen it only once.

[2019-03-26 11:14] wentongwu commented on #14500
with all kinds of stack size's adjustment, it seems the timeout issue on platform mps2_an385 has been fixed. Overnight test is running and also I'm cooking the patch. Thanks

[2019-03-26 11:15] Qbicz commented on #14882
Update: USB composite device is not found properly after reset requested by dfu-util. Reset is performed by the USB device, but it will not be recognized by host afterwards. During this reset, HID in HID class is disabled and is not reenabled again.

Logs on dfu-util side with triple verbosity:
[code]

Tests done on Ubuntu 16.04 with libusb-1.0-0:amd64 version 1.0.20.
Using dfu-util 0.9 results in

[2019-03-26 11:17] nvlsianpu commented on #12635
I lowered priority as NFFS is external project and I know that jullabs (NFFS project owner) is working on the NFFS fixing but this will be not ready soon.

[2019-03-26 11:17] nvlsianpu commented on #12635
cc @carlescufi

[2019-03-26 11:21] wentongwu commented on #8339
PR #14103 should fix this issue

[2019-03-26 11:24] wentongwu commented on #14807
PR #14863 should fix this issue.

[2019-03-26 11:28] carlescufi commented on #14782
@bluetooth-mdw

I have tried to reproduce this but I have not suceeded.
I am on Windows 10 with:

- GNU Arm Embedded: 7 2018-q2-update
- https://github.com/zephyrproject-rtos/zephyr/commit/af10d16a087b4264e55f39696b495ef45f135261 and current master

[2019-03-26 11:33] wentongwu commented on #14244
This is a duplicate issue of #13935. And it seems @aurel32 has already root caused it.

[2019-03-26 11:37] ulfalizer commented on #9573
@SebastianBoe
Does CMake parse the `.config` even before running `kconfig.py`?

I thought the problem was that `kconfig.py` error'd out because of the bad `.config` file and warnings-turned-errors, but if CMake parses `.config` first, then that's a problem too.

If it's just `kconfig.py` that's the problem, then a flag could be added to suppress turning warnings into errors, and then that flag cou

[2019-03-26 11:41] carlescufi commented on #12635
@nvlsianpu understood, thank you

[2019-03-26 11:41] StefJar commented on #13955
I done a demo implementation
which could be used as a [blueprint](https://github.com/StefJar/zephyr_stm32_uart3_dma_driver)

[2019-03-26 11:53] pfalcon commented on #13397
Well, see my detailed reply above - it's unclear how to do these docs in the best way, so something done in haste might need to be reworked later. Anyway, on it, based on your suggestions ("just to fill blanks in https://docs.zephyrproject.org/latest/reference/networking/sockets.html")

[2019-03-26 12:41] varun-sha commented on #7908
Tested this on latest code & altera max10 which we had in bangalore.
Tested with delay of 1000 & 3000, it is  working fine in both cases.
CONFIG_BOOT_DELAY=3000

Seems it might be hardware issue with tcf max10 boards..

Logs:-
[code]

[2019-03-26 12:45] pfalcon commented on #14903
I don't see any connection described here between logging messages being dropped and tests fail.

Except for this one:

But then, your the harness is the culprit, and that's what needs to be fixed.

Unassigning from myself. If there's need for logging contact, it's @nordic-krch. I don't assign to him myself, as again, I don't see how logging is involved with any actual problems reported here.

[2019-03-26 12:46] mkarhumaa commented on #14899
Thank you @cvinayak for looking into this!

I will try with hci_uart example once I've got dev kit. I guess I cannot test it with nrf52840_pca10059?

Still there is a thing that really bothers me: I consistently see that after sending Start encryption request to controller, if host receives Number of completed packets only three times before getting Encryption change event, on next connection ACL

[2019-03-26 12:55] finikorg opened #14906 "USB: NXP Device controller does not pass testusb tests"
We have testusb sample for testing USB device controller, at the moment frdm_k64f does not pass all tests.
https://docs.zephyrproject.org/latest/samples/subsys/usb/testusb/README.html

[2019-03-26 13:19] pfalcon opened #14907 "Can't seem to use RST formatting in .h file (i.e. doxygen?) docstrings"
I'm trying to put following as a docstring in .h file:
[code]

But the generated sphinx HTML is badly formatted and there's no really links for that URL/option. @dbkinder, please suggest how to deal with these.

![Screenshot from 2019-03-26 15-19-23](https://user-images.githubusercontent.com/500451/55000159-9606be80-4fda-11e9-93af-63aa3fceead8.png)

[2019-03-26 13:21] pfalcon commented on #13397
So, we're just starting and already hit issues: https://github.com/zephyrproject-rtos/zephyr/issues/14907 . I wish all this stuff was done in due time and not out of haste.

[2019-03-26 13:45] bearsh commented on #12025
@pizi-nordic ok, let's not name them LPS_x (as I just notived, commit f04a4c9deb55400571fd567c8ed1378015e18a24 removed that naming). but without any magic switch, running the simple application mentioned in the description and have the pm handled by the kernel (logging etc. disabled) shouldn't end up in a current consumption of 700uA.

[2019-03-26 13:51] mbolivar commented on #14740
Perhaps `-DCOMMON_OVERLAY_CONFIG=e1000.conf` or so? The separate variable could be used to specify "search the directory `COMMON_OVERLAY_CONFIG_DIR` instead of the current application directory", and this directory would default to something like `zephyr/kconfig/common/` (a new directory).

[2019-03-26 13:55] jfischer-phytec-iot commented on #14906
test 10 --> 71 (Protocol error)
[1288506.850622] usbtest 2-5:1.0: TEST 10:  queue 32 control calls, 1000 times
[1288507.095285] usbtest 2-5:1.0: subtest 5 error, status -71
[1288507.095296] usbtest 2-5:1.0: control queue 80.06, err -71, 29322 left, subcase 5, len 0/10
[1288507.095354] usbtest 2-5:1.0: subcase 6 completed out of order, last 4
[1288507.095613] usbtest 2-5:1.0: subcase 5 completed ou

[2019-03-26 14:01] dbkinder commented on #14907
You're right that embedding reST formatting in doxygen comments might render as you'd expect.  To fix this you need to explicitly tell doxygen that the enclosed lines are reST with @rststar and @endrststar markers:

[code]
The @rststar doxygen directive is an ALIAS (defined in doc/zephyr.doxyfile.in) that tells doxygen to create a verbatim block that contains reST formatted text and the leading as

[2019-03-26 14:06] pfalcon commented on #14740
IMHO, proliferation of config vars isn't a good thing. What would really help is to have "overlay config path", like ".:${ZEPHYR_BASE}/.../overlays".

[2019-03-26 14:13] pfalcon commented on #14907
Thanks for the quick response, works like a charm! And thanks for verbatim example, if you'd just mentioned `@rststar`, I'd probably have written it as `@rststart` and then wondered why it doesn't work ;-).

[2019-03-26 14:13] #14907 closed

[2019-03-26 14:32] carlescufi commented on #14782
@WilliamGFish thanks for the feedback, but that is a different issue altogether unless I am mistaken. Overflowing the SRAM and flash areas is unrelated to the issue that @bluetooth-mdw is seeing, which is a malformed image.

[2019-03-26 14:36] pdunaj commented on #14743
I run more tests and collected log from HCI code and BLE sniffer. There is nothing unusual happening on the mouse. From the observations I can tell that advertising indeed works but sometimes it takes several minutes before host connects. I showed logs to @joerchan and have some chat offline.
From the logs it could be seen that mouse advertises for long time and at some point phone finally decides

[2019-03-26 15:16] jhn-nordic commented on #14743
In nRF5 SDK based HID peripherals we solved this by using undirected advertising with whitelist towards centrals that had privacy enabled (typically iOS and Android) and directed advertsing towards windows centrals. It is a while since then and I am not sure how peripiheral privacy will affect this.

[2019-03-26 15:27] pdunaj commented on #14743
@jhn-nordic we will have to do similar thing or simply use undirected advertising only as long as it is fast enough.
The next step is white-listing as it is not implemented in Zephyr yet...
https://github.com/zephyrproject-rtos/zephyr/pull/12874 seems quiet for some time

[2019-03-26 15:34] nashif commented on #14623
@ulfalizer ping, you still able to reproduce this?

[2019-03-26 15:44] jukkar commented on #14740
I agree with @pfalcon, it is just very confusing for the user if there are multiple config variables to select the overlay config file.

[2019-03-26 16:05] nashif commented on #14586
@mike-scott ping?

[2019-03-26 16:22] SebastianStumm opened #14918 "olimexino stm32 CAN errors"
**CAN Support Olimexino STM32**

Hello,
First I'm new to Zephyr so there is a high chance that I missed something.
As far as i understand the documentation on the Olimexino stm32 there is no CAN support yet since it's not listed in supported features?

I tried to get the CAN sample running with the CAN Driver (1.14.0-rc2) but I just can't figure out if I'm doing something wrong in the configuratio

[2019-03-26 16:27] carlescufi commented on #14918
@SebastianStumm `DT_CAN_1_BASE_ADDRESS` is the macro required by CAN that is supposed to be generated by Device Tree. If this board doesn't have DT nodes defined for CAN then they need to be added.

[2019-03-26 16:34] carlescufi commented on #14743
@pdunaj we will try to follow-up on @12874 as soon as possible.

[2019-03-26 17:09] galak commented on #14599
Are you wanting a sample for this sensor?

[2019-03-26 17:13] nashif commented on #14034
@laperie fyi

[2019-03-26 17:16] carlescufi commented on #14096
@pdunaj can you give an update on this one?

[2019-03-26 17:21] carlescufi commented on #14903
@arun1joshi @cinlyooi-intel this is just a result of a buffer that is too small. You can increase the buffer size with:
[code]
in your `prj.conf`.

Since there are memory constraints in some of the boards I don't want to increase that size for all boards.

[2019-03-26 17:21] mbolivar commented on #14740
This introduces the possibility of namespace conflicts, of course. Perhaps a `common-` prefix could be applied to the ones in the common directory?

Note also having a separate `COMMON_OVERLAY_CONFIG_DIR` which defaults to somewhere in tree will be necessary to allow out-of-tree common configuration overlays, so I still think it is a good idea. And actually, might as well make it a list, `COMMON_O

[2019-03-26 17:22] carlescufi commented on #14903
Expected behaviour, see previous comment.

[2019-03-26 17:24] #14657 closed

[2019-03-26 17:27] galak commented on #11908
@pizi-nordic can you look at this again, is this an issue for 1.14?

[2019-03-26 17:28] galak commented on #13223
Any updates?

[2019-03-26 17:31] carlescufi commented on #14871
@cinlyooi-intel this is just a result of a buffer that is too small. You can increase the buffer size with:
[code]
in your `prj.conf`.

Since there are memory constraints in some of the boards I don't want to increase that size for all boards.

[2019-03-26 17:31] #14871 closed

[2019-03-26 17:34] aescolar commented on #14871
Duplicate: #14903

[2019-03-26 17:37] galak commented on #14459
We need to either add proper support for the  prj_nrf52840_pca10056.conf that configures all the params we need or remove this file so its clear that nrf52840_pca10056 isn't a supported target of the sample.

[2019-03-26 17:39] galak commented on #14459
To be clear, if we fix prj_nrf52840_pca10056.conf we also need to add it to sample.yaml

[2019-03-26 17:42] galak commented on #10967
@jfischer-phytec-iot can you see if this is still an issue.

[2019-03-26 17:47] galak commented on #9743
This appears to be fixed.

[2019-03-26 17:47] #9743 closed

[2019-03-26 17:47] carlescufi commented on #9463
@joerchan @DeclanTraill is this still an issue, do we need https://github.com/zephyrproject-rtos/zephyr/pull/9728 to get in or is this already fixed elsewhere?

[2019-03-26 17:58] jfischer-phytec-iot commented on #14906
I tested it for a while on different hosts and host controllers. It works fine on my Thinkpad (Intel 8 Series USB xHCI and EHCI), all the tests 0..29 passes. I noticed sometimes it failed during test 9 or test 10 on other host, but then passes with reduced number of iterations e.g. `./testusb -c 100 -t 10 -D /dev/bus/usb/002/006`.

[2019-03-26 18:03] cvinayak commented on #9463
@carlescufi I pushed an update based on review comments. The PR still needs verification by someone else, to reproduce without the PR and check for resolution of the issue with the PR applied.

[2019-03-26 18:34] #13341 closed

[2019-03-26 18:43] galak commented on #10581
Closing and update coverity as false positive.

[2019-03-26 18:43] #10581 closed

[2019-03-26 18:45] galak commented on #14397
Can we close this now?

[2019-03-26 18:56] #14536 closed

[2019-03-26 19:10] galak commented on #14313
What's left to address to fix this issue?

[2019-03-26 19:14] galak commented on #14815
Fixed by #14851

[2019-03-26 19:14] #14815 closed

[2019-03-26 19:17] galak commented on #13444
what issue, can you explain further.

[2019-03-26 19:45] ioannisg commented on #14828
@andrewboie , no.
When Lazy Stacking is enabled, the stack area for the FP context is reserved, but the FP registers are not pushed onto the stack, so no MPU violation occurs. The normal stack frame will be pushed _after_ the FP registers, so with a 32-byte thin guard, we will descend well below the guard area when pushing the standard registers.

During the next context switch the FP context will

[2019-03-26 19:48] ioannisg commented on #14269
I am confused here. ISRs run on the interrupt stack, yes, but they might get pointers to objects defined in the stacks of threads, no? If ISRs only access global kernel data, then, I agree, we are good. But otherwise, I don't see how we can put supervisor stacks as read only...

[2019-03-26 20:48] #14814 closed

[2019-03-26 20:55] carlescufi commented on #14899
@mkarhumaa

Not unless you have an external debugger.

I am very interested in this behaviour. I know we already discussed this on Slack, but can you still double-check whether disabling `CONFIG_BT_HCI_ACL_FLOW_CONTROL` has any effect?
The other option is what @cvinayak mentions, the fact that USB uses different endpoints for commands and data, which leads to unsolvable race conditions. @jhedberg

[2019-03-26 21:01] andrewboie commented on #14828
Got it, thanks for the details!

I think we want to fix this, but perhaps Low priority should be more appropriate.

[2019-03-26 21:01] alexanderwachter commented on #14918
Welcome to Zephyr @SebastianStumm !
We didn't add CAN support for the olimexino board so far. You can add the CAN controller to the dts for the stm32f103 series and configure the pins (PB8 as CANrx and PB9 as CANtx) in pinmux of the olimexino board. Basically the stm32 CAN driver should work for the stm32f1 series.
Don't forget to turn off the loopback mode when connecting two boards. Otherwise yo

[2019-03-26 21:03] andrewboie commented on #14269
Oh, I see. What I was thinking was, if we can get wider agreement that it's OK to ban supervisor->supervisor thread access, to arrange the IRQ stack in memory so that its guard area would not intersect any thread stack. Treat it as a special case.

[2019-03-26 22:20] overheat commented on #14740
I have an opposite need for evaluating sensor samples, which is "local" DTS overlays. For example, I need to add overlay files for every board into HTS221 sensor sample, like this:
[code]
But they are the same, if boards support "arduino_i2c" alias. For more detail please refer to "samples\sensor\sht3xd", which sample already included six overlay files in one folder.

Alternative, I can use "-DDTC

[2019-03-26 22:31] mike-scott commented on #14740
@overheat I believe you are referring to a "shield" setup such as: https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/shields/x_nucleo_iks01a2

This is enabled via -DSHIELD=x_nucleo_iks01a2

You can setup your shield similarly.

[2019-03-26 22:46] overheat commented on #14740
@mike-scott Yes, looks it's more convenient. Thanks!
BTW, what's the mechanism inside, that I didn't specify overlay file with "-DSHIELD=x_nucleo_iks01a2", but it is used? why it only happen under shields folder?

[2019-03-26 22:56] #14763 closed

[2019-03-27 00:09] #14454 closed

[2019-03-27 00:24] cinlyooi-intel commented on #14903
@carlescufi

I am reopening this because the issue did not happen before. It just happens now. Previously we were happily seeing all console messages, including very long ones.

[2019-03-27 00:51] nashif commented on #14186
still an issue.

[2019-03-27 01:13] nashif commented on #14903
Looks like a real bug to me. offending commit:

[code]

[2019-03-27 01:19] nashif commented on #14903
on this board, `CONFIG_RTT_CONSOLE=y` which leads to printk messages being dropped if we redirect them to logger...

[2019-03-27 02:14] overheat commented on #13468
@chiachuanwu I have received my arduino_due board and reproduced this failure on it. After a bit of digging, I believe it's related to ATSAMXX chip's watchdog driver because the watchdog callback function "wdt_int_cb0" didn't be invoked. So this failure on arduino_due or sam_e70_xplained is another issue rather than my previous patched one.

@nashif  Hi, do we have any Atmel chips (ATSAMXX ) exper

[2019-03-27 02:16] #14297 closed

[2019-03-27 02:18] #13886 closed

[2019-03-27 02:37] chiachuanwu commented on #13468
@overheat thanks for your update.

[2019-03-27 02:45] cinlyooi-intel opened #14922 "samples/boards/altera_max10/pio: Error configuring GPIO PORT"
**Describe the bug**
When running the sample, it reports "Error configuring GPIO PORT"

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake  -DBOARD=altera_max10 -DARCH=nios2
3. make
4. See run

**Screenshots or console output**
[code]

**Environment (please complete the following information):**
 - OS: fedora29
 - Toolchain: zephyr
 - Commit SHA or Version used: 00

[2019-03-27 04:35] rgundi commented on #14186
@nashif Agree it's still an issue but i have pointed out the commit where it's breaking. It apparently is a nrf specific change.
@pabigot and @carlescufi,
Can you please look into this issue?

[2019-03-27 05:42] AdithyaBaglody commented on #14556
I am looking into this. There seems to be a weird situation which is corrupting the data in the variables. causing incorrect output

[2019-03-27 06:22] nordic-krch commented on #14903
i'll take a look at that. As @nashif mentioned, it has to do with the fact that with RTT enabled printk obligatory goes through the logger. This commit (https://github.com/zephyrproject-rtos/zephyr/pull/12971/commits/e980082138a555f6d77b022abf4f0ef85c2c6ea8) enabled RTT by default on nordic boards. There are then 2 options:
- increase buffer size
- reconsider enabling RTT by default

@jarz-nordic

[2019-03-27 07:03] wentongwu commented on #14499
.noinit."/home/wentongw/zephyr/zephyrproject/zephyr/kernel/init.c".2
                0x0000000000424000     0x3000 zephyr/kernel/libkernel.a(init.c.obj)
                0x0000000000424000                _idle_stack

***** Stack Check Fail! *****
Current thread ID = 0x0040c3a0
eax: 0x0040b000, ebx: 0x80000000, ecx: 0x0040b067, edx: 0x00000000
esi: 0x0040b067, edi: 0x0040c440, ebp: 0x0042608c, esp:

[2019-03-27 07:04] pdunaj commented on #14096
Hi @carlescufi , I will try to replicate it again. I am positive I have similar issue when I used locks only (no RTT logging) but let me try again, I should have the code around.

[2019-03-27 07:26] jarz-nordic commented on #14903
@nordic-krch : Yes my intention was to enable RTT by default. Rationale behind is that these microcontrollers have a lot of memory so extra space for RTT won't hurt. In addition it enables a feature I need in shell tests for RTT backend. There was a github issue that file with this backend is not compiled and tested.

[2019-03-27 07:32] mkarhumaa commented on #14899
@carlescufi , thanks for your comments!

I re-tested with config `CONFIG_BT_HCI_ACL_FLOW_CONTROL=n` (confirmed from build/zephyr/.config) and I don't see any difference. ACL packet TX still stalls after a while. I don't actually know what difference I should see in hci log when `CONFIG_BT_HCI_ACL_FLOW_CONTROL` is disabled. To my understanding it should affect received ACL data?

I verified that on