[2021-01-25 01:35] evgeniy-paltsev commented on #31419
This is new test and it fails due to the specifics of ARC/nSIM.

It fails on sub-test which checks that userspace task will be terminated on null-pointer access. On nSIM boards we don't have memory in 0x0 location. And, as I understand, we cover with MPU only the memory which is declared (CCMs for UP nSIM boards). IOW, the 0x0 address isn't protected by MPU.

However the nSIM simulates full addres

[2021-01-25 02:02] yingmingx commented on #30408
@ PerMac  This issue fail on test_slice_scheduling, but you mentioned issue #29705 failed on test_slice_reset. May be they are different.

[2021-01-25 02:22] #30477 closed

[2021-01-25 02:44] hakehuang commented on #31555
@henrikbrixandersen , Thanks this issue only happens on RT1xxx series boards, let me check it further

[2021-01-25 04:47] dcpleung commented on #31566
Please re-test. This should have already been fixed by https://github.com/zephyrproject-rtos/zephyr/pull/31564

[2021-01-25 04:52] dcpleung commented on #31562
This is probably due to `GEN_ABSOLUTE_SYM()` inside `include/toolchain/gcc.h` where values are parsed as signed 32-bit integers.

[2021-01-25 06:08] chen-png commented on #31566
this test commit 7786103 already include #31564

[2021-01-25 06:12] chen-png commented on #31566
@dcpleung how do you run tests on up_squared board, using usb disk, is it good to get log? for QA automation test, it used network to transfer image, nothing in the output.

[2021-01-25 08:16] erwango commented on #31467
I'm seeing the same on `reel_board` using a Samsung Galaxy A51:
[code]
So I guess this is more related to sample implementation than the target. @jhedberg can you have a look ?

[2021-01-25 08:23] tbursztyka commented on #31517
EHL issue was definitely another one.

UP² issue is still there.

[2021-01-25 08:32] erwango commented on #13955
Fixed: https://github.com/zephyrproject-rtos/zephyr/pull/30917

[2021-01-25 08:32] #13955 closed

[2021-01-25 08:38] ruuddw commented on #31415
Why not? it is 'just' that interrupt functions running on other cores would need to forward the request to CPU 0 with an IPI request (for external interrupts). Overhead of this would probably not be an issue, as irq_enable/disable() is typically used at (de)initialization only. But, it is more complex than you initially might have thought.

[2021-01-25 08:58] ioannisg commented on #31008
@alexisc67 I cannot reproduce this either, at current master (7b9b3cfe5a129580ec97c40e7a98d2fab07fa78c)

[2021-01-25 09:10] Zhaoningx opened #31579 "sam_e70_xplained: running tests/subsys/logging/log_core failed"
Steps to reproduce the behavior:
twister -p sam_e70_xplained --device-testing --device-serial /dev/ttyACM1 -T tests/subsys/logging/log_core
see error
*** Booting Zephyr OS build zephyr-v2.4.0-3601-g7191b64c6f08  ***
Running test suite test_log_list

===================================================================
START - test_log_backend_runtime_filtering
Assertion failed at WEST_TOPDIR/zephyr/

[2021-01-25 09:31] mejtejt commented on #30822
As of this commit:

![image](https://user-images.githubusercontent.com/33463717/105686934-21fc1100-5ef8-11eb-9a17-ddeeda5d9cc6.png)

and after doing `west update`, I have no longer problem with this. Therefore, I consider this issue solved and will close the issue.

[2021-01-25 09:31] #30822 closed

[2021-01-25 09:39] ioannisg commented on #29590
Thanks @mniestroj

could you share some code example that can reproduce this issue?

[2021-01-25 09:40] ioannisg commented on #29590
Well, this comes at some cost, however, so I'd better not apply this if there's a cleaner solution.

[2021-01-25 10:01] jhedberg commented on #31467
@erwango can you provide HCI logs for the failure?

[2021-01-25 10:05] ioannisg commented on #31472
@ABOSTM thanks for the detailed analysis, I am going to take a look.

Enabling FPU_SHARING would be a straightforward fix that comes with a cost of extra ram, code footprint and context-switch overhead, so I'd rather avoid this if possible.

[2021-01-25 10:25] ioannisg commented on #30257
I think this has been already fixed, @PerMac , I cannot reproduce this on latest master. Can you also check?

[2021-01-25 10:31] ioannisg commented on #28014
I think this might be related to the other open bugs related to FPU register corruption.

[2021-01-25 10:32] mniestroj commented on #29590
#31472 is a good example how to reproduce that issue with upstream code. I've added
[code]
to `tests/kernel/poll/prj.conf` and executed `scripts/twister -N --device-testing --device-serial /dev/ttyACM1 -p nrf52840dk_nrf52840 -T tests/kernel/poll/`. It fails that way, but works when `CONFIG_FPU_SHARING=y` is added as well. Looking at `zephyr.lst` the pattern is the same as I have noticed originally

[2021-01-25 10:40] LingaoM commented on #30808
Sorry, i can't provide more effective information.

[2021-01-25 10:42] LingaoM commented on #30808
It is worth mentioning that I use auto pts to capture this problem, and it is probabilistic. If the host / controller is on the same chip, the same problem is not found.

[2021-01-25 10:59] joerchan commented on #31467
@erwango You have a different error (authentication failure) than what is posted in the original bug description (unspecified).
Maybe you put in the wrong passkey?

@wngur300 I think your issue here (https://github.com/zephyrproject-rtos/zephyr/issues/31467#issuecomment-765097635) is related to the number of supported pairings, you can increase this trough the kconfig option CONFIG_BT_MAX_PAIRED.

[2021-01-25 11:19] hakehuang commented on #31555
the problem is due to RT SOC ERRATA
[code]
so when the test application use id 0 then it will return true which mean 0 is engaged.

[2021-01-25 11:33] lyakh commented on #31301
twister is building test applications for different platforms. In this case it's trying to build (and run) a kernel mutex test application. Which means it isn't building SOF at all. And the `RIMAGE_CONFIG_PATH` variable is cached as a part of the SOF building process. So twister isn't finding it. I'm not sure what the best way to fix the problem would be. If those test applications are indeed supp

[2021-01-25 11:56] PerMac commented on #30257
I don't see these errors anymore. Closing the issue.

[2021-01-25 11:56] #30257 closed

[2021-01-25 13:01] nashif commented on #31517
duplicate of #31566

[2021-01-25 13:01] #31517 closed

[2021-01-25 13:23] gitificial opened #31582 "STM32F746ZG: No pwm signal output when running /tests/drivers/pwm/pwm_api"
**Describe the bug**
I'm not sure if it's a bug or if I'm missing something in my settings.
When running the pwm_api test on my nucleo_f746zg the minicom output shows a successful test run (see output below). But when I measure the output of pin PE13 (as defined in the generated zephyr.dts file) the output voltage resides on a constant level. Simple toggling of this pin with the GPIO methods work

[2021-01-25 14:10] erwango opened #31584 "Twister: json reports generation takes too much time"
**Describe the bug**
After twister campaign has been run, a json report is generated.
This generation is abnormally time consuming:
[code]

**To Reproduce**
Run a build twister campaign (with at least few thousands builds)

**Expected behavior**
Report generation should not impact test bench availability

**Impact**
Blocks test bench ...

**Environment (please complete the following information):*

[2021-01-25 14:18] erwango commented on #31582
@gmarull would you have time to have a look ?

[2021-01-25 14:20] Navin-Sankar opened #31585 "BMD345: Extended BLE range with PA/LNA"
I am using [BMD-345 Eval kit](https://www.mouser.com/datasheet/2/1025/BMD-345_DataSheet_(UBX-19039908)-1879743.pdf) from ubox  to extended the BLE range using PA/LNA.

How to enable PA/LNA feature in zephyr to achieve long range using dynamic method?

-> **BT_CTLR_GPIO_LNA_PIN** Kconfig is used to control LNA pin.
-> **BT_CTLR_GPIO_PA_PIN** Kconfig is used to control PA pin

what about **MODE** an

[2021-01-25 14:37] kapi-no opened #31588 "Bluetooth: Support for multiple connectable advertising sets with different identities."
**Is your enhancement proposal related to a problem? Please describe.**
BLE Extended Advertising API lets the user have two different advertising sets running simultaneously. There is one limitation: you can have only one of the two advertising sets configured as connectable. Otherwise, the _bt_le_ext_adv_start_ API will fail, because _le_adv_start_add_conn_ function in the HCI Core source file re

[2021-01-25 14:56] #31584 closed

[2021-01-25 15:40] xhpohanka opened #31593 "civetweb hangs when there are no free filedescriptors"
**Describe the bug**
Civetweb on zephyr can easilly hang when there are no free filedscriptors. I have noticed it on a page that downloads some styles, javascript etc. Not on a simple text page.

**To Reproduce**
I have prepared a test case, it works in `qemu_x86`
https://github.com/xhpohanka/cv_test
It can be reproduced simply by accessing a page (http://192.0.2.1) with a browser and doing severa

[2021-01-25 15:48] xhpohanka commented on #31593
I have also noticed that when I enable ASSERTS there is a strange fail, but it is probably not related with original issue

[code]

[2021-01-25 17:26] dcpleung commented on #31566
I compile the app on UP2, copy them into boot partition, then boot.

[2021-01-25 18:17] #27047 closed

[2021-01-25 18:22] andyross opened #31599 "64 bit race on timer counter in cavs_timer"
The CAVS hardware has a 64 bit timer counter (it's the same device as the HD Audio wall clock timer).  But the code to read it looks like this:

[code]

When compiled on Xtensa, this produces two sequential 32 bit reads of the value.  And that's wrong, because the hardware continues to run.  It's possible for the two reads to straddle a rollover of the low word and increment of the high word.

Thi

[2021-01-25 18:24] andyross commented on #31599
Discovered via conversation with @lgirdwood  and @lyakh who had tripped over the same bug in upstream (non-Zephyr) SOF code.  We have exactly the same messup.

[2021-01-25 20:12] ioannisg commented on #29590
I've read the same thing here: https://gcc.gnu.org/pipermail/gcc-help/2020-July/139112.html, which aligns with your investigation.

The problem is that we have made assumptions based on the K_FP_REGS thread-create flag, that is, the thread won't use the FP registers so the stack frame will never need to contain the FP registers, but if this is not the case, we might have to do more things than jus

[2021-01-25 20:54] mniestroj commented on #29590
I agree, all threads need to be treated like K_FP_REGS would be set for them. As a short term solution that flag could be set automatically in `arch_new_thread()` for affected <compiler, arch> pair (combination that produces code with FP registers for temporary storage).

[2021-01-25 21:22] ioannisg commented on #29590
So in your understanding, this is just a subset of GCC versions that do this, or all GCC compilers (beyond some release) behave like this consistently?

[2021-01-25 21:27] evgeniy-paltsev commented on #30162
There are several issues with building with MWDT toolchain for HSDK.

some of them have already been fixed:
- https://github.com/zephyrproject-rtos/zephyr/pull/30168
- https://github.com/zephyrproject-rtos/zephyr/pull/30402

however, we are still missing:
 - https://github.com/zephyrproject-rtos/zephyr/pull/31602
 - atomics fixed for MWDT toolchain (SNPS Jira P10019563-43273)

[2021-01-25 21:53] pabigot commented on #31579
@Zhaoningx Do you have the sam_e70_xplained or the sam_e70b_xplained?  The former fails for me on my E70B, the latter passes.

Look at the big chip.  The E70B has:

         Atmel
      ATSAME70Q21
           AN
            B

[2021-01-25 22:08] mniestroj commented on #29590
I would suggest to treat all GCC versions the same and assume that it might produce code that utilizes FP registers. This is because I haven't found any option for configuring such behavior in GCC codebase and I haven't found any statement in GCC's documentation about one behavior or the other. In summary it is kind of undefined whether FP (or any other than general purpose) registers are used. Is

[2021-01-25 22:53] ioannisg commented on #29590
@mniestroj thanks for your input here

this comes at a high cost, though.
Wondering:

Does GCC behave as described only under a certain -O configuration? If so then at least we can limit the problematic cases to a subset of optimization configurations.

[2021-01-25 23:19] mniestroj commented on #29590
Unfortunately. As I see for ARM K_FP_FLAGS "only" affects stack size/usage, but situation is worse for other archs. I am afraid we cannot do much without explicit compiler support for "do not use FP registers for non-FPU math operations".

`-O0` did not use FP
`-O1` (probably) used FP - I don't remember for sure now
`-O2` and `-Os` - used FP

[2021-01-25 23:26] Vudentz commented on #29224
Afaik this is already handled:

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/att.c#L521

I wonder if this isn't a PTS problem as it should only work when sending on the non-fixed cid L2CAP channel.

[2021-01-25 23:49] #29098 closed

[2021-01-26 00:35] MaureenHelm commented on #30473
Fixed by #30494

[2021-01-26 00:35] #30473 closed

[2021-01-26 00:47] MaureenHelm commented on #31338
Fixed by #31173

[2021-01-26 00:47] #31338 closed

[2021-01-26 02:20] cvinayak commented on #31585
Yes, use the PA/LNA Kconfig options in then Zephyr BLE controller.

Setup the MODE and A-SEL pins using GPIO APIs in your application or if you have a board defined then initialize them in the board init. (Example, https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/nrf52840dongle_nrf52840/board.c)

[2021-01-26 08:18] Xeenych opened #31607 "Bluetooth: host: bt_conn_auth_cb callbacks are not called when pairing to BLE 4.1 central in BT_SECURITY_L4 mode."
I'n using peripheral_lbs from Nordic nRF Connect SDK on nRF52840dk board.
I have Android phone Samsung Galaxy J1. It has BLE 4.1 only.

I've set secuirity level to BT_SECUIRITY_L4
[code]

On a smartphone I run nRFConnect app and try to pair with DK board.
Pairing fails because BLE 4.1 doesn't support LESC pairing (BT_SECURITY_L4) but

Board shows that the "secuirity_changed" callback called and th

[2021-01-26 08:43] chen-png commented on #31566
@dcpleung you could use the remote up_squared in SH lab, it could always reproduce this issue

[2021-01-26 08:56] kasunch opened #31609 "CoAP discovery response does not follow CoRE link format specification"
**Describe the bug**
CoAP RFC ([RFC7252](https://tools.ietf.org/html/rfc7252)) states that end points should support the CoRE Link Format of discoverable resources as described in [RFC6690](https://tools.ietf.org/html/rfc6690) (refer [section 7.2](https://tools.ietf.org/html/rfc7252#section-7.2) of the RFC7252).
However, the current CoAP implementation does not place comma “,” and semicolon “;” in

[2021-01-26 09:24] joerchan commented on #29224
Looked into the logs, I cannot see the MTU exchange mentioned. The connection is disconnected immediately after the L2CAP credit based connection request & response.

[2021-01-26 09:30] ABOSTM commented on #29590
Warning: it did not use FP register, but doesn't it means it will never do?
We need guarantee it will not use them whatever the code compiled.

[2021-01-26 09:38] mniestroj commented on #29590
We need guarantee it will not use them whatever the code compiled.

I agree, we cannot trust that, it might change in new GCC versions or even when compiling slightly different code. Besides, optimizing FP usage in `-O0` doesn't make sense...

[2021-01-26 09:44] baw-serafin commented on #31559
std::async will dynmically create (std?)Threads which is not something that will easy to do as there is no support for std::threads so far as I understand.

[2021-01-26 09:48] erwango commented on #31582
@gitificial Test requires a small tweak to use pwm channel assigned to PE13:
[code]

[2021-01-26 10:01] gmarull commented on #31582
PWM test has a hard-coded channel (1) for STM32, so if using something else it needs to be changed as @erwango suggests.

[2021-01-26 10:23] ioannisg commented on #29590
So, I am still thinking around this issue. I am involving @tejlmand (Toolchain responsible and build-system maintainer) to get his view.

What I can tell about the _workaround_ is:

1. We can enable FPU_SHARING unconditionally, when we use FPU (this means we enforce sharing registers mode). This enables FP register stacking when needed. This is not enough though: we need to treat all threads as ha

[2021-01-26 10:34] tbursztyka commented on #31566
I have the same issue, and a git bisect points to commit 5c47bbc
My UP² is the celeron version (not the atom one). I had already found difference in the past like the CPU's apic ids (which had to be grabbed from ACPI to get things running)

@dcpleung so you use the efi way, not the multiboot (with grub)?

[2021-01-26 10:46] ABOSTM commented on #29590
There is already the following code in function prepare_multithreading() in kernel/init.c:
[code]
but I am not zephyr thread expert so I don't know whether it is enough ?

Otherwise I am inline with your statement.
About extra memory, I can already tell that we need to enlarge CONFIG_MAIN_STACK_SIZE (see #31472), otherwise some tests will fail.
Note: that CONFIG_MAIN_STACK_SIZE  enlargement is als

[2021-01-26 10:56] MaikVermeulen opened #31613 "Undefined reference errors when using External Library with k_msgq_* calls"
**Describe the bug**
I made a very simple library that includes two functions that use the message queue. However, I get this linking error:
`undefined reference to 'z_impl_k_msgq_put'`

I think it's due to `'z_impl_k_msgq_put'` being declared as extern and that affects the linking, but I haven't found a solution. I tried replacing the `k_msgq_*` functions with `LOG_INF`, and then it works just fi

[2021-01-26 11:08] ABOSTM opened #31614 "drivers: clock_control: Kconfig.stm32xxx PLL div range for each serie"
**Describe the bug**
PLL configuration for series L4, L5 and WB are currently common, but in their respective reference manual, those configuration are different.
For example CLOCK_STM32_PLL_N_MULTIPLIER :
* L4 --> 8 -- 86
* L5 --> 8 -- 126
* WB --> 6 -- 127

**Expected behavior**
Kconfig need to match with possible values available in Reference Manual.

[2021-01-26 11:13] #25918 closed

[2021-01-26 11:17] #30517 closed

[2021-01-26 11:17] #31511 closed

[2021-01-26 11:18] #28887 closed

[2021-01-26 11:19] #31301 closed

[2021-01-26 11:27] PerMac opened #31616 "test: ipc: Test from samples/subsys/ipc/rpmsg_service fails on nrf5340dk_nrf5340_cpuapp"
**Describe the bug**
The test from the title fails on nrf53_cpuapp. The sample is started and hangs after printing:
DEVICE: RPMsg Service [master] demo started

**To Reproduce**
Steps to reproduce the behavior:
1. Have nrf5340dk connected
2. call `/scripts/twister --device-testing -T samples/subsys/ipc/rpmsg_service/ -p nrf5340dk_nrf5340_cpuapp --device-serial /dev/ttyACM2 -v -v`
3. See error

**E

[2021-01-26 11:27] nashif commented on #31433
@carlescufi  please assign

[2021-01-26 11:40] nashif commented on #31579
@Zhaoningx  ping

[2021-01-26 11:59] ioannisg commented on #29590
Thanks @ABOSTM , I am not worried on how to implement the workaround, if we decide, finally, to do it.

Another option would be to consider the solution presented in https://gcc.gnu.org/pipermail/gcc-help/2020-July/139112.html, that is, to apply the gen-registers-only GCC directive on code that is not supposed to use the FP Registers.

This falls on the user to do it, throughout the code base, tho

[2021-01-26 12:21] #31091 closed

[2021-01-26 12:32] ioannisg commented on #29590
Same issue reported here, btw: https://community.arm.com/developer/tools-software/oss-platforms/f/gnu-toolchain-forum/47795/arm-none-eabi-gcc-uses-floating-point-register-to-backup-gpr-in-case-of--o2-option

[2021-01-26 12:46] stephanosio commented on #29590
It seems the only reasonable solution at this time is to disallow `CONFIG_FPU_SHARING=n` for ARM targets when building with GCC, until the GCC guys decide to add `-mno-implicit-float` or something equivalent.

[2021-01-26 13:27] ioannisg commented on #29590
@stephanosio thanks so much for your input.
I started re-writing the issue description according to the discussion we are having here.

Just to clarify, do you think this affects AARC32 other than the -M profile?

[2021-01-26 13:31] ioannisg commented on #31472
Closing this ticket as it concerns the same issue as #29590

[2021-01-26 13:31] #31472 closed

[2021-01-26 13:38] ioannisg commented on #28014
@ABOSTM  could we close this ticket ? Do you confirm that the issue is what we describe in  #29590?

[2021-01-26 13:43] #31582 closed

[2021-01-26 13:50] lgirdwood commented on #31599
@andyross fell free to copy and paste from SOF once it merged and passes QA and validation.

[2021-01-26 14:35] mtpr-ot commented on #31473
Updated description to only consider "Different Transaction Collison" issue, as the "DISALLOWED" issue was fixed.

[2021-01-26 15:33] dcpleung commented on #31566
I could only constantly boot with GRUB, and it still works with latest master.

EFI boots on my Atom UP2 if I disable `CONFIG_PCIE_MMIO_CFG` before the paging PR. But now this trick does not work anymore.

[2021-01-26 15:38] stephanosio commented on #29590
@ioannisg As far as I can see, this applies to all ARM architecture variants. It is, however, not an immediate problem for the non-M profile variants at the moment because the relevant Zephyr arch ports do not support hardware FPU (and therefore do not allow enabling FP instructions).

[2021-01-26 15:50] ABOSTM commented on #28014
@ioannisg, I am not sure it is the same. I didn't made analysis.
So what I propose is to keep it open, and once there is a PR for #29590, I can test the fix on this test.

[2021-01-26 15:56] galak opened #31627 "tests/subsys/power/power_mgmt/subsys.power.device_pm fails to build on nrf5340dk_nrf5340_cpunet & nrf5340pdk_nrf5340_cpunet"
[code]

Gets:

[code]

[2021-01-26 15:57] galak commented on #31627
@carlescufi please re-assign this as needed.

[2021-01-26 16:00] nvlsianpu opened #31629 "mcumgr-cli image upload is failing on shell channel after MCUBOOT_BOOTUTIL library was introduced"
**Describe the bug**
Mcumgr-cli application doesn't accept log on the communication
channel. Since #30370 was merged log messages are generated from
MCUBOOT_UTIL by default. That made mcumgr image upload failing.

**To Reproduce**
Test smp_svr sample using shell and mcumgr-cli.

**Expected behavior**
mcumg image upload should work

**Impact**
mcumgr image upload doesn't work. Although if another a

[2021-01-26 16:49] gitificial commented on #31582
@erwango: Thank you! #define DEFAULT_PWM_PORT 3 solved it for me. I did a fallacy regarding the pin assignments.

[2021-01-26 16:58] pabigot commented on #29991
Copied from slack for posterity:

* pabigot Topic for 2021-01-26: https://github.com/zephyrproject-rtos/zephyr/issues/29991 notes that Nordic allows scheduling a callback on a RESET_SOC watchdog configuration, but in practice this isn't useful as you get 61.2 us for the callback to complete its action before the reset occurs.  I suspect other SoCs are also failing to reject this configuration when

[2021-01-26 17:06] enjiamai commented on #31339
An new issue also has the root cause of this:
https://github.com/zephyrproject-rtos/zephyr/issues/31419

[2021-01-26 17:07] rcwoolley opened #31630 "Incorrect configuration override option for west flash"
**Describe the bug**

The documentation for West on "Building, Flashing and Debugging" has as section entitled "Configuration Overrides". [https://docs.zephyrproject.org/latest/guides/west/build-flash-debug.html#configuration-overrides]
 )

It suggests that to specify an alternative HEX file one should execute the flash command with the --kernel-hex option:

`    west flash --kernel-hex path/to/so

[2021-01-26 17:29] jhedberg opened #31631 "x86: ehl_crb_sbl: Booting fails with Slim Bootloader"
#31564 introduced a regression with building against the ehl_crb_sbl board and trying to boot with Slim Bootloader (SBL). Using `git bisect` boils down to the following commit, indicating that most likely the failure is due to a page fault somewhere:
[code]

I added some debug logs to the ACPI code (which is the primary point of suspicion), however all addresses I could get out of it look like the

[2021-01-26 17:31] carlescufi commented on #28587
@jukkar did you have a chance to look at this one, according to @pfalcon this was still an issue in 2.4.0.

[2021-01-26 17:36] carlescufi commented on #29581
Lowering severity due to this affecting a single board in a single subsystem.

[2021-01-26 17:39] carlescufi commented on #29696
[code]

[2021-01-26 17:39] carlescufi commented on #29696
![image](https://user-images.githubusercontent.com/12450381/105882354-d768ba80-6005-11eb-8c46-ffd3cb45974a.png)

[2021-01-26 17:41] pabigot commented on #29173
Looks like the failures noted above are a result of not shorting P1.01 with P1.02, and I can't reproduce any problems with information available, so consider this fixed by subsequent changes to the test or infrastructure.

[2021-01-26 17:41] #29173 closed

[2021-01-26 17:44] carlescufi commented on #30026
@Vudentz any chance you can comment on this?

[2021-01-26 17:48] carlescufi commented on #30074
@caco3 @olofj @remy-luisant is this still an issue in your respective boards and environments?

[2021-01-26 17:49] tbursztyka commented on #31566
@dcpleung ok, again some difference between atom and celeron then. Because on my side both EFI and GRUB fail.

[2021-01-26 17:55] carlescufi commented on #30236
@andyross does this ring a bell?

[2021-01-26 18:00] olofk commented on #30074
@carlescufi Sorry. Forgot about this. I believe my root cause was an issue with the memory controller that occasionally dropped writes. Fixed in hw.

[2021-01-26 18:06] carlescufi commented on #30483
@evgeniy-paltsev do you have time to look at this for 2.5?

[2021-01-26 18:06] ioannisg commented on #29590
@stephanosio thanks. Have you been able to dig deep into this? I wonder if GCC allows only callee-saved FP registers to be accessed by non-floating point calculations (i.e. s16 and above), or is it caller-saved too?

[2021-01-26 18:08] galak commented on #30553
@henrikbrixandersen does your PR address this issue?

[2021-01-26 18:14] carlescufi commented on #30771
/home/lingao/zephyrproject/zephyr/subsys/shell/shell_log_backend.c:190:
https://github.com/zephyrproject-rtos/zephyr/blob/889e37b8d9918f28287a2b0dda2529910dd0c068/subsys/shell/shell_log_backend.c#L190

@LingaoM is this the same line you see on your local copy?

[2021-01-26 18:17] carlescufi commented on #30483
Downgrading priority to low since it's specific to a single platform and might already be fixed.

[2021-01-26 18:18] jukkar commented on #28587
I fixed lot of things in tcp2 that helped the issues. But I occacionally saw still issues last time when running the sample app against ab (apache bench) tester. Also if the system runs out of network buffers (like what easily happens with http benchmark tools), it becomes very fragile, so it is difficult to say exactly what issue is causing the problem.

[2021-01-26 18:20] dcpleung commented on #31566
My suggestion is to try with `CONFIG_PCIE_MMIO_CFG=n` and see how it goes.

[2021-01-26 18:20] carlescufi commented on #31008
Unable to reproduce, closing. Feel free to reopen if this is still an issue.

[2021-01-26 18:20] #31008 closed

[2021-01-26 18:22] carlescufi commented on #31150
Single platform and subsystem, downgrading to low.

[2021-01-26 18:22] carlescufi commented on #31149
Single platform and subsystem, downgrading to low.

[2021-01-26 18:23] carlescufi commented on #31298
Priority now matches expected fix date.

[2021-01-26 18:31] henrikbrixandersen commented on #30553
@galak No, it does not address this issue. I only stumbled across it while trying to implement another feature using multiple shields.

[2021-01-26 18:37] pabigot commented on #31613
Please look at 6b720cb3c56a198db19b1884e78385cb7a392b00 for a possible fit.

[2021-01-26 18:39] evgeniy-paltsev commented on #30162
Ok, now we have #31602 merged as well.

[2021-01-26 18:41] pabigot commented on #31524
#31597 may also be relevant.

[2021-01-26 19:03] remy-luisant commented on #30074
My root cause was the interrupt controller feeding garbage to the GIC, which was then mishandled by Zephyr. A separate issue was filed for that one. I do believe there still might be an issue with the logging system not initializing a lock, but I have no resources available to give you a firm answer.

[2021-01-26 19:04] alexanderwachter commented on #31531
Closing because it got fixed.
@AlPon1969 if you still see this issue, please reopen.

[2021-01-26 19:05] #31531 closed

[2021-01-26 19:29] Nukersson commented on #31593
Thank you @xhpohanka for your bug report. Please try first to drastically increase all memory buffers in proj.conf using QEMU, since it is known, that CivetWeb can use big amount of memory.
I'll try to get deeper look at the weekend.

[2021-01-26 19:46] dcpleung commented on #31566
Could you try https://github.com/zephyrproject-rtos/zephyr/pull/31634 and see if that fixes the issue?

[2021-01-26 21:21] #31631 closed

[2021-01-26 21:23] #31630 closed

[2021-01-26 21:24] #29936 closed

[2021-01-26 21:37] gmarull opened #31640 "mcuboot build is broken"
**Describe the bug**

mcuboot build is broken with current Zephyr master.

**To Reproduce**

[code]

**Expected behavior**

Build succeeds

**Impact**

mcuboot bootloader can't be built.

**Logs and console output**

Relevant CMake errors:

[code]

**Environment (please complete the following information):**

 - OS: Ubuntu 20.04
 - Toolchain: Zephyr SDK 0.11.4
 - Commit SHA or Version used: 472058

[2021-01-26 21:46] henrikbrixandersen commented on #31640
Reverting #31404 should not be necessary. The MCUboot Zephyr just needs to be updated to use the new Kconfig options.

[2021-01-26 21:46] gmarull commented on #31640
@henrikbrixandersen I agree, but until then Zephyr master should be in a working state

[2021-01-26 21:50] mnkp commented on #29991
The current implementation of watchdog sample application is incorrect and violates original design of watchdog API. It is not possible to reliably support scenario when watchdog timeout triggers a callback and SoC reset at the same time. The watchdog API was not designed to be used this way.

The scenario described by jyates where watchdog timeout triggers a callback followed by SoC reset can onl

[2021-01-26 21:55] gmarull commented on #31640
Opened https://github.com/mcu-tools/mcuboot/pull/932

[2021-01-26 22:42] #30553 closed

[2021-01-26 23:09] zephyrbot opened #31642 "[Coverity CID :216784] Uninitialized scalar variable in drivers/can/can_common.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/drivers/can/can_common.c#L219

Category: Uninitialized variables
Function: `can_calc_timing_int`
Component: Drivers
CID: [216784](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216784)

Details:

[code]

Please fix or provide comments in coverity u

[2021-01-26 23:09] zephyrbot opened #31643 "[Coverity CID :215372] Logically dead code in subsys/net/lib/sockets/sockets_tls.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/subsys/net/lib/sockets/sockets_tls.c

Category: Control flow issues
Function: `tls_mfl_code_from_content_len`
Component: Networking
CID: [215372](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215372)

Please fix or provide comments in coverity usi

[2021-01-26 23:09] zephyrbot opened #31644 "[Coverity CID :216798] Unused value in subsys/net/lib/sockets/socketpair.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/subsys/net/lib/sockets/socketpair.c#L704

Category: Code maintainability issues
Function: `spair_read`
Component: Networking
CID: [216798](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216798)

Details:

[code]

Please fix or provide comments in c

[2021-01-26 23:09] zephyrbot opened #31645 "[Coverity CID :215711] Wrong sizeof argument in include/kernel.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/include/kernel.h#L4492

Category: Incorrect expression
Function: `k_heap_alloc`
Component: Other
CID: [215711](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215711)

Details:

[code]

Please fix or provide comments in coverity using the link:

htt

[2021-01-26 23:09] zephyrbot opened #31646 "[Coverity CID :215712] Assignment of overlapping memory in lib/os/cbprintf_complete.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/lib/os/cbprintf_complete.c#L1611

Category: Memory - corruptions
Function: `cbvprintf`
Component: Other
CID: [215712](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215712)

Details:

[code]

Please fix or provide comments in coverity using the lin

[2021-01-26 23:09] zephyrbot opened #31647 "[Coverity CID :216789] Wrong sizeof argument in include/kernel.h"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/include/kernel.h#L4355

Category: Incorrect expression
Function: `k_malloc`
Component: Other
CID: [216789](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216789)

Details:

[code]

Please fix or provide comments in coverity using the link:

https:/

[2021-01-26 23:09] zephyrbot opened #31648 "[Coverity CID :216800] Operands don't affect result in lib/os/heap.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/lib/os/heap.c#L377

Category: Integer handling issues
Function: `sys_heap_init`
Component: Other
CID: [216800](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216800)

Details:

[code]

Please fix or provide comments in coverity using the link:

htt

[2021-01-26 23:09] zephyrbot opened #31649 "[Coverity CID :215369] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_add_txt_record`
Component: Tests
CID: [215369](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215369)

Please fix or provide comments in coverity using the link:

https

[2021-01-26 23:09] zephyrbot opened #31650 "[Coverity CID :215370] Argument cannot be negative in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Error handling issues
Function: `test_add_ptr_record`
Component: Tests
CID: [215370](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215370)

Please fix or provide comments in coverity using the link:

http

[2021-01-26 23:09] zephyrbot opened #31651 "[Coverity CID :215371] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_add_aaaa_record`
Component: Tests
CID: [215371](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215371)

Please fix or provide comments in coverity using the link:

http

[2021-01-26 23:09] zephyrbot opened #31652 "[Coverity CID :215374] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_dns_sd_handle_ptr_query`
Component: Tests
CID: [215374](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215374)

Please fix or provide comments in coverity using the lin

[2021-01-26 23:09] zephyrbot opened #31653 "[Coverity CID :215375] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_add_aaaa_record`
Component: Tests
CID: [215375](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215375)

Please fix or provide comments in coverity using the link:

http

[2021-01-26 23:09] zephyrbot opened #31654 "[Coverity CID :215377] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_add_a_record`
Component: Tests
CID: [215377](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215377)

Please fix or provide comments in coverity using the link:

https:/

[2021-01-26 23:09] zephyrbot opened #31655 "[Coverity CID :215378] Argument cannot be negative in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Error handling issues
Function: `test_add_a_record`
Component: Tests
CID: [215378](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215378)

Please fix or provide comments in coverity using the link:

https:

[2021-01-26 23:09] zephyrbot opened #31656 "[Coverity CID :215380] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_add_a_record`
Component: Tests
CID: [215380](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215380)

Please fix or provide comments in coverity using the link:

https:/

[2021-01-26 23:09] zephyrbot opened #31657 "[Coverity CID :215382] Operands don't affect result in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Integer handling issues
Function: `create_query`
Component: Tests
CID: [215382](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215382)

Please fix or provide comments in coverity using the link:

https://s

[2021-01-26 23:09] zephyrbot opened #31658 "[Coverity CID :215383] Argument cannot be negative in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Error handling issues
Function: `test_add_txt_record`
Component: Tests
CID: [215383](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215383)

Please fix or provide comments in coverity using the link:

http

[2021-01-26 23:09] zephyrbot opened #31659 "[Coverity CID :215384] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_add_srv_record`
Component: Tests
CID: [215384](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215384)

Please fix or provide comments in coverity using the link:

https

[2021-01-26 23:09] zephyrbot opened #31660 "[Coverity CID :215385] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_add_ptr_record`
Component: Tests
CID: [215385](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215385)

Please fix or provide comments in coverity using the link:

https

[2021-01-26 23:09] zephyrbot opened #31661 "[Coverity CID :215387] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_add_srv_record`
Component: Tests
CID: [215387](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215387)

Please fix or provide comments in coverity using the link:

https

[2021-01-26 23:13] #31649 closed

[2021-01-26 23:13] #31650 closed

[2021-01-26 23:13] #31651 closed

[2021-01-26 23:13] #31652 closed

[2021-01-26 23:13] #31653 closed

[2021-01-26 23:13] #31654 closed

[2021-01-26 23:13] #31655 closed

[2021-01-26 23:13] #31656 closed

[2021-01-26 23:13] #31657 closed

[2021-01-26 23:13] #31658 closed

[2021-01-26 23:13] #31659 closed

[2021-01-26 23:13] #31660 closed

[2021-01-26 23:17] zephyrbot opened #31662 "[Coverity CID :215388] Argument cannot be negative in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Error handling issues
Function: `test_add_aaaa_record`
Component: Tests
CID: [215388](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215388)

Please fix or provide comments in coverity using the link:

htt

[2021-01-26 23:17] zephyrbot opened #31663 "[Coverity CID :215389] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_add_txt_record`
Component: Tests
CID: [215389](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215389)

Please fix or provide comments in coverity using the link:

https

[2021-01-26 23:17] zephyrbot opened #31664 "[Coverity CID :215390] Argument cannot be negative in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Error handling issues
Function: `test_add_srv_record`
Component: Tests
CID: [215390](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215390)

Please fix or provide comments in coverity using the link:

http

[2021-01-26 23:17] zephyrbot opened #31665 "[Coverity CID :215393] Argument cannot be negative in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Error handling issues
Function: `test_dns_sd_handle_ptr_query`
Component: Tests
CID: [215393](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215393)

Please fix or provide comments in coverity using the li

[2021-01-26 23:17] zephyrbot opened #31666 "[Coverity CID :215394] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_dns_sd_handle_ptr_query`
Component: Tests
CID: [215394](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215394)

Please fix or provide comments in coverity using the lin

[2021-01-26 23:17] zephyrbot opened #31667 "[Coverity CID :215395] Out-of-bounds access in tests/net/lib/dns_sd/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_sd/src/main.c

Category: Memory - corruptions
Function: `test_add_ptr_record`
Component: Tests
CID: [215395](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215395)

Please fix or provide comments in coverity using the link:

https

[2021-01-26 23:17] zephyrbot opened #31668 "[Coverity CID :215714] Unchecked return value in tests/subsys/fs/fs_api/src/test_fs_mount_flags.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/subsys/fs/fs_api/src/test_fs_mount_flags.c#L35

Category: Error handling issues
Function: `test_mount_flags`
Component: Tests
CID: [215714](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215714)

Details:

[code]

Please fix or provide commen

[2021-01-26 23:17] zephyrbot opened #31669 "[Coverity CID :215715] Unchecked return value in tests/subsys/fs/littlefs/src/testfs_mount_flags.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/subsys/fs/littlefs/src/testfs_mount_flags.c#L79

Category: Error handling issues
Function: `test_fs_mount_flags`
Component: Tests
CID: [215715](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=215715)

Details:

[code]

Please fix or provide co

[2021-01-26 23:17] zephyrbot opened #31670 "[Coverity CID :216783] Side effect in assertion in tests/lib/p4workq/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/lib/p4workq/src/main.c#L237

Category: Incorrect expression
Function: `test_resubmit`
Component: Tests
CID: [216783](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216783)

Details:

[code]

Please fix or provide comments in coverity using th

[2021-01-26 23:17] zephyrbot opened #31671 "[Coverity CID :216785] Side effect in assertion in tests/lib/p4workq/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/lib/p4workq/src/main.c#L261

Category: Incorrect expression
Function: `test_p4wq_simple`
Component: Tests
CID: [216785](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216785)

Details:

[code]

Please fix or provide comments in coverity using

[2021-01-26 23:17] zephyrbot opened #31672 "[Coverity CID :216786] Side effect in assertion in tests/kernel/threads/thread_apis/src/test_threads_cancel_abort.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/kernel/threads/thread_apis/src/test_threads_cancel_abort.c#L291

Category: Incorrect expression
Function: `test_abort_from_isr_not_self`
Component: Tests
CID: [216786](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216786)

Details:

[code]

[2021-01-26 23:17] zephyrbot opened #31673 "[Coverity CID :216787] Wrong sizeof argument in tests/kernel/mem_heap/mheap_api_concept/src/test_mheap_api.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/kernel/mem_heap/mheap_api_concept/src/test_mheap_api.c#L103

Category: Incorrect expression
Function: `test_k_aligned_alloc`
Component: Tests
CID: [216787](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216787)

Details:

[code]

Please fix o

[2021-01-26 23:17] zephyrbot opened #31674 "[Coverity CID :216788] Explicit null dereferenced in tests/ztest/error_hook/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/ztest/error_hook/src/main.c#L57

Category: Null pointer dereferences
Function: `trigger_fault_access_null`
Component: Tests
CID: [216788](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216788)

Details:

[code]

Please fix or provide comments

[2021-01-26 23:17] zephyrbot opened #31675 "[Coverity CID :216790] Division or modulo by zero in tests/drivers/can/timing/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/drivers/can/timing/src/main.c#L123

Category: Integer handling issues
Function: `test_verify_algo`
Component: Tests
CID: [216790](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216790)

Details:

[code]

Please fix or provide comments in cove

[2021-01-26 23:17] zephyrbot opened #31676 "[Coverity CID :216791] Side effect in assertion in tests/lib/p4workq/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/lib/p4workq/src/main.c#L243

Category: Incorrect expression
Function: `simple_handler`
Component: Tests
CID: [216791](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216791)

Details:

[code]

Please fix or provide comments in coverity using t

[2021-01-26 23:17] zephyrbot opened #31677 "[Coverity CID :216792] Out-of-bounds access in tests/net/lib/dns_addremove/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/net/lib/dns_addremove/src/main.c#L232

Category: Memory - corruptions
Function: `test_dns_add_callback6`
Component: Tests
CID: [216792](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216792)

Details:

[code]

Please fix or provide comments i

[2021-01-26 23:17] zephyrbot opened #31678 "[Coverity CID :216793] Division or modulo by zero in tests/ztest/error_hook/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/ztest/error_hook/src/main.c#L68

Category: Integer handling issues
Function: `trigger_fault_divide_zero`
Component: Tests
CID: [216793](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216793)

Details:

[code]

Please fix or provide comments i

[2021-01-26 23:17] zephyrbot opened #31679 "[Coverity CID :216794] Pointless string comparison in tests/lib/devicetree/api/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/lib/devicetree/api/src/main.c#L1543

Category: Incorrect expression
Function: `test_path`
Component: Tests
CID: [216794](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216794)

Details:

[code]

Please fix or provide comments in coverity usin

[2021-01-26 23:17] zephyrbot opened #31680 "[Coverity CID :216795] Unchecked return value in tests/kernel/msgq/msgq_api/src/test_msgq_contexts.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/kernel/msgq/msgq_api/src/test_msgq_contexts.c#L408

Category: Error handling issues
Function: `test_msgq_empty`
Component: Tests
CID: [216795](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216795)

Details:

[code]

Please fix or provide com

[2021-01-26 23:17] zephyrbot opened #31681 "[Coverity CID :216796] Uninitialized scalar variable in tests/subsys/power/power_mgmt/src/main.c"
Static code scan issues found in file:

https://github.com/zephyrproject-rtos/zephyr/tree/f91e9fba51e5da46ee5c6822f8656713d74a6ecf/tests/subsys/power/power_mgmt/src/main.c#L87

Category: Uninitialized variables
Function: `pm_policy_next_state`
Component: Tests
CID: [216796](https://scan9.coverity.com/reports.htm#v29726/p12996/mergedDefectId=216796)

Details:

[code]

Please fix or provide comments

[2021-01-26 23:57] nashif commented on #31667
false positive

[2021-01-26 23:57] nashif commented on #31671
false positive

[2021-01-26 23:57] #31671 closed

[2021-01-27 00:00] nashif commented on #31670
false positive

[2021-01-27 00:00] #31670 closed

[2021-01-27 00:57] chen-png commented on #31566
tested with the #31634 , when building testcase on up_squared, it will report a new build error as below:

cmd: west build -b up_squared -p auto samples/hello_world/
result:
/home/ztest/zephyr-sdk-0.12.0/x86_64-zephyr-elf/bin/**x86_64-zephyr-elf-objcopy: zefi.elf: invalid bfd target**
Traceback (most recent call last):
  File "/home/ztest/work/zephyrproject/zephyr/arch/x86/zefi/zefi.py", line 155,

[2021-01-27 01:44] Zhaoningx commented on #31579
Hi @nashif  @pabigot , I'm sorry, I have reported this before, and nashif has tested successfully, so I will find another e70 board to test this, so closed first. see https://github.com/zephyrproject-rtos/zephyr/issues/31340

[2021-01-27 02:31] KangJianX opened #31684 "intel_adsp_cavs15: Cannot download firmware of kernel testcases"
**Describe the bug**
Use west to flash zephyr image on ADSP failed

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b intel_adsp_cavs15 tests/kernel/thread
2. west sign -t rimage -p ../modules/audio/sof/zephyr/ext/rimage/build/rimage -D ../modules/audio/sof/zephyr/ext/rimage/config/ -- -k ../modules/audio/sof/keys/otc_private_key.pem
3. west flash /home/ztest/work/zephyrproject/ze

[2021-01-27 03:22] KangJianX commented on #31684
Use twister has same problem, and show a fatal error not in the west log.

Log:
[5/6] cd /home/ztest/work/zephyrproject/zephyr/build/zephyr/cmake/flash && /usr/local/bin/cmake -E echo

-- west flash: using runner misc-flasher
Signing using default key
Signing for board intel_adsp_cavs15
Signing for SOC target apl using apl.toml
Signing with tool /usr/local/bin/rimage
**FATAL ERROR: Configuration n

[2021-01-27 03:45] dcpleung commented on #31566
This is caused by the SDK. You need SDK 0.12.**2**.

[2021-01-27 03:51] #31566 closed

[2021-01-27 03:53] nashif commented on #31678
intentional, closed in coverity.

[2021-01-27 03:53] #31678 closed

[2021-01-27 03:54] nashif commented on #31676
false positive

[2021-01-27 03:54] #31676 closed

[2021-01-27 03:55] nashif commented on #31672
false positive

[2021-01-27 03:55] #31672 closed

[2021-01-27 03:57] nashif commented on #31684
@KangJianX please do not set priority.

[2021-01-27 04:09] chen-png commented on #31566
thanks, it's good now with sdk 0.12.2.

[2021-01-27 06:42] chen-png commented on #31566
tested and this issue was fixed by #31634.
However, with the latest commit 51c34bb6, this error happened again, and git bisect, found the first bad commit is 51c34bb6.

[2021-01-27 07:05] nordic-krch commented on #30771
@LingaoM can you attach `prj.conf` file that was used. It is hard to compare autoconf.

[2021-01-27 07:38] cvinayak opened #31693 "Bluetooth: controller: Compilation error when Encryption support is disabled"
**Describe the bug**
tests/bluetooth/mesh_shell for pca10056 it fails to compile with error

[code]

This project has encryption disabled and this field is not present. When I enabled enc BT_CTLR_LE_ENC it compiled.

Also, building controller only with no encryption has compile errors.

**To Reproduce**
Steps to reproduce the behavior:
1. mkdir build; cd build
2. cmake -GNinja -DBOARD=nrf52840dk_n

[2021-01-27 08:04] tgorochowik commented on #30702
The problem here was that the ethernet driver was getting stuck waiting for buffers to be ready with interrupts disabled. This appeared as a problem with broken shell because the serial driver needed those interrupts to work. This has been resolved by #31152.

In addition the underlying problem in the platform that caused the ethernet driver to get stuck has been resolved in the platform as well (

[2021-01-27 08:05] ioannisg commented on #29590
@katsuster could you check if this issue is relevant for Risc-V? For Cortex-M we have considered this to be a serious issue.

[2021-01-27 08:05] ioannisg commented on #29590
@dcpleung @abrodkin FYI - might worth checking if this is affecting x86 and ARC, respectively.

[2021-01-27 09:02] tbursztyka opened #31696 "UP² Celeron version (not the Atom one) has no console"
**Describe the bug**
UP² Celeron either does not boot or at least lost its console output
(the early console already, since the boot banner is not even printed out)

**To Reproduce**
Use samples/hello_world  either on EFI or Grub

**Expected behavior**
Zephyr boot banner and hello world being printed out.

**Impact**
I use this board extensively and that is blocking my work atm

**Environment (ple

[2021-01-27 09:20] rlubos commented on #31643
The value of `MBEDTLS_TLS_EXT_ADV_CONTENT_LEN` is based on static mbedTLS configuration - for different parameters, the value will be different and the code wouldn't be marked as unreachable. Hence I'd say it's a false-positive.

[2021-01-27 09:20] #31643 closed

[2021-01-27 09:31] MaikVermeulen commented on #31613
@pabigot This pointed me in the right direction, thank you.
Simply linking the kernel library resulted in a strong component cycle error, so I included the dummy library as PRIVATE:
`zephyr_library_link_libraries(kernel)
target_link_libraries(app PRIVATE lib)`

Now it works. Thanks!

[2021-01-27 09:31] #31613 closed

[2021-01-27 09:33] #30702 closed

[2021-01-27 10:05] jhedberg commented on #31696
@tbursztyka this might because of a rebasing mistake in #31618

Try removing the explicit KERNEL_VM_SIZE from defconfig and see if it helps

[2021-01-27 10:32] nordic-krch commented on #30418
@koffes can you try to reproduce it again? There were some fixes in uarte driver to allow running poll out from any context (event interrupting other poll_out) #28961. I've added `LL_ASSERT(false)` to the line you've suggested and modified `bt_ctlr_assert_handle` by adding `k_panic()` and it outputs more or less what's expected:
[code]

[2021-01-27 10:58] katsuster commented on #29590
@ioannisg It seems that RISC-V GCC does not use FPU implicitly. Current GCC does not support SIMD of RISC-V instructions (packed-simd extension is not stable now).

Of course, I'm not sure about future events:

- RISC-V committee will decide to overlay SIMD regs on FPU regs or not
- GCC will decide to use SIMD registers for integer implicitly or not

[2021-01-27 12:05] jukkar commented on #31677
False positive

[2021-01-27 12:05] #31677 closed

[2021-01-27 12:12] tbursztyka commented on #31696
@jhedberg yep that's the issue, thanks for noticing this

[2021-01-27 12:57] #31693 closed

[2021-01-27 12:58] caco3 commented on #30074
I refactored my initialization code. This made the crashs which occured immediately after startup to go away.
It is now quite stable, how ever I still see occational spin lock crashs.
I will have to invest this further once I have more time.

[2021-01-27 12:59] tbursztyka commented on #31696
So it was not only a celeron version issue (I though that master was working for up2 and as it did not with mine...).
Closing, #31703  is fixing it.

[2021-01-27 12:59] #31696 closed

[2021-01-27 13:03] #29698 closed

[2021-01-27 13:03] #29696 closed

[2021-01-27 13:06] #31629 closed

[2021-01-27 13:09] galak opened #31704 "tests/bluetooth/init/bluetooth.init.test_ctlr_tiny Fails to build on nrf52dk_nrf52832"
`./scripts/twister -p nrf52dk_nrf52832 -s tests/bluetooth/init/bluetooth.init.test_ctlr_tiny`

Fails

[code]

[2021-01-27 13:10] galak commented on #31704
Introduced in commit:

commit d2415fcfd014ce10e97725b818356019aad8ac00
Author: Vinayak Kariappa Chettimada <vich@nordicsemi.no>
Date:   Sun Jan 24 13:40:49 2021 +0530

    Bluetooth: controller: Add peripheral/central conditional compilations

[2021-01-27 13:10] cvinayak commented on #29994
Thank you @pabigot I am not able to reproduce the assertion too, do see similar latencies on nrf52840dk.

![image](https://user-images.githubusercontent.com/6350656/105995441-44815c00-60a9-11eb-8235-fc09e8b2a607.png)

[2021-01-27 13:11] galak commented on #31704
See this also on:

`rv32m1_vega_ri5cy` `samples/bluetooth/peripheral_hr/sample.bluetooth.peripheral_hr_rv32m1_vega_ri5cy`

[2021-01-27 13:11] carlescufi commented on #31559
@adamfowleruk I had a look at your Herald project, that is really interesting, thanks for sharing with us.
Regarding the support for these C++ features, I don't think there is anything preventing Zephyr from supporting them other than someone willing to take the time and actually write the code. If you are looking for collaborators to help you in this effort I suggest that you email one of our [ma

[2021-01-27 13:12] cvinayak commented on #30378
@vrahane @hardik-proxy did you get a chance to verify the issue with modified controller ISR configuration stated here: https://github.com/zephyrproject-rtos/zephyr/issues/30378#issuecomment-765087304

[2021-01-27 13:44] cvinayak commented on #31704
Should be fixed by this: https://github.com/zephyrproject-rtos/zephyr/pull/31477/commits/2b2b044309c8e8dfdafc1bfd3030ae410fb9b5a2 in https://github.com/zephyrproject-rtos/zephyr/pull/31477

[2021-01-27 13:57] nashif commented on #31627
@ceolin
you should not be filter hardware in subsystems, this needs to be done on the test level

[code]

[2021-01-27 13:59] nandojve commented on #31640
Question: How is possible MCUboot be broken at master? Are tests running to avoid this?
This is not an exception, I believe, and I would like to see something addressed to avoid this in Future.

[2021-01-27 14:07] nvlsianpu commented on #31640
This is not an exception, I believe, and I would like to see something addressed to avoid this in Future.

@nandojve https://github.com/zephyrproject-rtos/zephyr/issues/29397
saw that problem, not fixed so fare

[2021-01-27 14:15] nashif commented on #31627
this boils down to this board failing when CONFIG_PM is enabled (which enables build of `soc/arm/nordic_nrf/nrf53/power.c` with the following failure:

[code]

Should building of power.c in the SoC depend on something else to prevent that or to correctly pull in regulator support? @pabigot  ?

[2021-01-27 14:23] eden-desta opened #31711 "UART failure with CONFIG_UART_ASYNC_API"
Hello!

So i started a very simple project with a NUCLEO_F746ZG. It essentially is responsible for connecting to a serial device and parsing its information. I wanted to use the buffer system in order to wait until the buffer was filled prior to throwing an event. With that I saw the async api configuration and decided to use it

In my prj.conf i have CONFIG_SERIAL = y and CONFIG_UART_ASYNC_API =

[2021-01-27 14:41] pabigot commented on #31627
patch incoming.

[2021-01-27 15:41] evgeniy-paltsev commented on #30483
@wangnuannuan as I understand this issue has already been fixed as we kill 'cld' process by pid.
Could you please confirm that?

Thanks.

[2021-01-27 16:47] PerMac opened #31721 "tests: nrf: posix: portability.posix.common.tls.newlib fails on nrf9160dk_nrf9160"
**Describe the bug**
The test portability.posix.common.tls.newlib from tests/posix/common/ fails on nrf9160dk_nrf9160

**To Reproduce**
Steps to reproduce the behavior:
1. Have nrf9160dk connected
2. call `./scripts/twister --device-testing -T tests/posix/common/ -p nrf9160dk_nrf9160 --device-serial /dev/ttyACM0 -v -v`
3. See error

**Expected behavior**
The test passes

**Impact**
Not clear

**Lo

[2021-01-27 17:55] dcpleung commented on #29590
@ioannisg x86 does not seem to be affected by this. FPU/SSE have to be explicitly enabled before those registers can be used on 32-bit. On 64-bit, FPU/SSE are always available so we are saving those registers anyway.

[2021-01-27 18:35] #31640 closed

[2021-01-27 18:35] #29636 closed

[2021-01-27 18:35] #31704 closed

[2021-01-27 19:33] erwango commented on #31711
@shlomow would you have time to have a look ?

[2021-01-27 19:45] #29697 closed

[2021-01-27 19:45] #29700 closed

[2021-01-27 19:46] #31669 closed

[2021-01-27 20:16] shlomow commented on #31711
@edesta-be did you set the dts bindings of the dma controller to `okay`? Please make sure that the async api is actually enabled using `ninja menuconfig`. In addition, the async api works only with dma. Please let me know if this solves the issus

[2021-01-27 20:26] ceolin commented on #31627
gotcha, but IMHO tit is not just exclude this target from the test as the proposed patch, but also remove CONFIG_PM for this target.

[2021-01-27 21:17] ceolin commented on #31627
https://github.com/zephyrproject-rtos/zephyr/issues/31627 should complement #31714

[2021-01-27 21:35] dcpleung commented on #30918
Could you re-test?

[2021-01-27 21:41] andyross commented on #30408
@yingmingx : This really does look like a duplicate of the timeslicing bug @ceolin has been working.  There is a fix up at https://github.com/zephyrproject-rtos/zephyr/pull/30916 , can you try that please?

[2021-01-27 21:45] #31646 closed

[2021-01-27 21:55] nashif commented on #30408
@andyross  #30916 does not fix this bug, in fact, it is failing in CI on that PR

[2021-01-27 21:55] #29705 closed

[2021-01-27 22:07] nashif commented on #30918
cant reproduce

[2021-01-27 22:07] #30918 closed

[2021-01-27 22:15] nashif commented on #31549
@andyross this is the one I was referring to

[2021-01-27 22:17] nashif commented on #30434
@dcpleung  can you take a look at this one?

[2021-01-27 22:25] andyross commented on #30509
Thinking harder on this, I think I'm just going to close this.  This particular function is really a legacy holdover from the era when we had millisecond timeouts everywhere.  At that point, we only had 32 bit timeout precision internally and so a 64 bit intermediate results wasn't even feasible.  Code written to that API clearly won't be expecting the full precision of the output space, and new c

[2021-01-27 22:25] #30509 closed

[2021-01-27 22:42] nashif commented on #30276
@wangnuannuan  is this still an issue?

[2021-01-27 22:51] andyross commented on #30236
Something is definitely weird.  The entry in question (if I'm understanding the description) is the result of `sys_dlist_peek_head()` on the timeout list.  But the null list pointers say that the node is **not** part of a list and has already been removed.  The dlist API shouldn't ever produce that situation.  My guess would be that something just came by and zeroed the timeout struct, but the fac

[2021-01-27 23:26] #31609 closed

[2021-01-27 23:28] dcpleung commented on #30434
Could you re-try? I cannot reproduce the fault on my machine.

[2021-01-27 23:36] #31681 closed

[2021-01-28 00:36] yingmingx commented on #30408
@andyross  I patch ceolin's code on this testing PR https://github.com/zephyrproject-rtos/zephyr/pull/30379. It still failed.

INFO    -  9/40 m2gl025_miv               tests/kernel/sched/schedule_api/kernel.scheduler.multiq FAILED Failed (renode 9.791s)

[2021-01-28 00:42] ceolin commented on #30408
this target contains another problem that that pr does not fix indeed.

[2021-01-28 00:53] andyross opened #31726 "RISC-V MIV SoC clock rate is specified 100x too slow"
The hardware clock rate on the RISC-V MIV platforms is off by a factor of 100.  This simple tool simply writes two bytes (".\n") every 100ms:

[code]

When run on renode using current Zephyr, the output looks like this:

[code]

Note that the virtual/simulated time is 1ms between messages, not the expected 100ms.

The root cause is the CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC value, which is specified a

[2021-01-28 00:55] andyross commented on #30408
It's a soc-level kconfig bug: https://github.com/zephyrproject-rtos/zephyr/issues/31726

Unfortunately with my toddler-level renode knowledge, all I can submit is a workaround.  I'm not sure who the right owner should be.

[2021-01-28 02:00] vanti opened #31727 "system_off fails to go into soft_off (deep sleep) state on cc1352r1_launchxl"
**Describe the bug**
On cc1352r1_launchxl, the system fails to enter soft_off state (what used to be known as deep sleep 1):

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/boards/ti/cc13x2_cc26x2/system_off
2. west build -b cc1352r1_launchxl
3. west flash
4. See error

**Expected behavior**
The system should enter soft_off state.

**Impact**
Cannot enter soft_off power st

[2021-01-28 02:39] chen-png commented on #31566
this has been fixed in fda94e79caf9

[2021-01-28 02:42] yingmingx opened #31729 "test: build fatal related testcase failed on qemu_cortex_m0 and run failed on qemu_nios2"
**Describe the bug**
Run twister failed on some fatal related testcase.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -T tests/kernel/fatal/exception/  or twister -T tests/ztest/error_hook/
2. See error

**Expected behavior**
The test passes

**Impact**
Not clear

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: ubuntu1~18.04

[2021-01-28 02:55] manoj153 commented on #23520
Any new when it will available?

[2021-01-28 06:11] Navin-Sankar opened #31733 "Unable to build socket can with frdm_k64f"
**Describe the bug**
Unable to compile socket can application with frdm_k64f board

**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/net/sockets/can
2. west build -b frdm_k64f
3. See error

**Expected behavior**
The socket can sample should build without any error.

**Impact**
socket can sample build with errors

**Logs**
[code]

**Environment (please complete the following informat

[2021-01-28 08:01] chen-png commented on #30918
tested with the latest code, it has been fixed.

[2021-01-28 08:54] KangJianX opened #31735 "intel_adsp_cavs15: use twister to run kernel testcases has no output"
**Describe the bug**
Use twister to run kernel cases on ADSP_cavs15 still failed

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b intel_adsp_cavs15 tests/kernel/mutex/mutex_api/
2. west sign -t rimage -p ../modules/audio/sof/zephyr/ext/rimage/build/rimage -D ../modules/audio/sof/zephyr/ext/rimage/config/ -- -k ../modules/audio/sof/keys/otc_private_key.pem
3. boards/xtensa/intel_

[2021-01-28 09:30] jukkar opened #31739 "Convert CoAP unit tests to use ztest API"
Currently CoAP unit tests in `tests/net/lib/coap` are still using the old test framework. Those tests should be converted to use the ztest framework instead.

[2021-01-28 09:49] wangnuannuan commented on #30483
Yes, this issue has already been fixed.

[2021-01-28 09:49] #30483 closed

[2021-01-28 10:03] hakehuang opened #31741 "tests:subsys_canbus_isotp: mimxrt1060 meet recv timeout"
**Describe the bug**
after apply the PR https://github.com/zephyrproject-rtos/zephyr/pull/31730 ,  we meet data derived issue in isotp

**To Reproduce**
Steps to reproduce the behavior:
set up zephyr build and code from https://docs.zephyrproject.org/latest/getting_started/index.html
1. west init .
2. west update
3. cd zephyr
4. source ./zephyr-env.sh
5. cd tests/subsys/canbus/isotp/conformance
6.

[2021-01-28 10:46] Oxymoron79 opened #31742 "Bluetooth: BLE 5 data throughput to Linux host"
**Describe the bug**

I'm trying to maximize the data throughput of a Bluetooth LE 5 Peripheral to a Bluetooth Dongle connected to a
Linux host running BlueZ using two [Nordic nRF52840 Dongles](https://docs.zephyrproject.org/latest/boards/arm/nrf52840dongle_nrf52840/doc/index.html).

The firmware of the Bluetooth LE 5 Peripheral and the Dongle are built with zephyr.

The data is transferred using

[2021-01-28 10:48] Oxymoron79 commented on #31742
file:///home/martin/Projects/Zephyr/zephyrproject/throughput_stuck_i4_l240_n250.btsnoop

[2021-01-28 10:51] Oxymoron79 commented on #31742
[throughput_stuck_i4_l240_n250.log](https://github.com/zephyrproject-rtos/zephyr/files/5886572/throughput_stuck_i4_l240_n250.log)
[throughput_disconnect_i4_l240_n200.log](https://github.com/zephyrproject-rtos/zephyr/files/5886575/throughput_disconnect_i4_l240_n200.log)

[2021-01-28 10:54] hakehuang commented on #31741
result for isotp_implement

[code]

[2021-01-28 11:11] PiotrZierhoffer commented on #31726
@nashif @andyross  we're looking into this, will try to address it soon

[2021-01-28 11:13] xhpohanka commented on #31593
Hi @Nukersson,
the code I provided is extracted and simplified from my project on STM32H7, it is much easier to *break* things on the embedded platform then with `qemu_x86` but it is still possible so  I expect that there are general issues, but sometimes I have a feeling that there can be also other issues related just to stm32h7 (I have already tried recent patches #30403 but it does not help he

[2021-01-28 11:20] cvinayak commented on #29994
I have been adding implementation to in-system profile other controller ISR, and have noticed an implementation flaw that runs both ULL_HIGH and ULL_LOW in the same ISR when their priorities are same (instead of tailchaining/yielding so as to permit the naturally higher priority radio ISR at the same IRQ priority level as the ULL_HIGH and ULL_LOW).

This is a regression in nRF52 and nRF53 introduc

[2021-01-28 12:05] carlescufi commented on #31742
So one dongle runs a standalone Zephyr application and the other runs `hci_usb`?
In fact, can you please give us steps to reproduce the issue?

[2021-01-28 12:17] Nukersson commented on #31593
@xhpohanka are u comping with CONFIG_DEBUG or something else like -O3?

[2021-01-28 12:18] carlescufi commented on #30026
@hguomin8 could you please post exact instructions on how to reproduce this problem, including BlueZ and Linux kernel versions?

[2021-01-28 12:20] carlescufi commented on #30026
If that is the case, I don't see how this can be a Zephyr problem. node1, running Zephyr, should not have noticed at all that Linux connected to a second host. It seems to me that the Linux kernel is not correctly configured with multiple BLE nodes on one `bt0` network interface.

[2021-01-28 12:21] carlescufi commented on #30026
Lowering priority since it is not immediately clear that this is an issue on the Zephyr side.

[2021-01-28 12:23] carlescufi commented on #29224
According to all of this information from @Vudentz and @joerchan, this seems to be a test issue, and not a Zephyr implementation one.

[2021-01-28 12:27] xhpohanka commented on #31593
In my case `CONFIG_DEBUG` has no impact on desribed issues. I use `-Os` same as on stm32...

[2021-01-28 12:34] carlescufi commented on #31019
PR is posted, @trond-snekvik will verify that #31532, and then 2. is still remaining.

[2021-01-28 12:41] carlescufi commented on #31467
@erwango and @wngur300 could you please reply to [this comment](https://github.com/zephyrproject-rtos/zephyr/issues/31467#issuecomment-766734327)

[2021-01-28 12:48] carlescufi commented on #31473
Downgrading to low because this has a very simple workaround, which is to retrigger the procedure from the application, and there are no explicit guarantees for retrial in the API.

[2021-01-28 12:52] Oxymoron79 commented on #31742
Yes, exactly.

[2021-01-28 12:56] carlescufi commented on #31742
Could  you please try setting:
`CONFIG_BT_RX_BUF_LEN=258`
on both apps? Note that this is 258, not 255.

[2021-01-28 12:59] carlescufi commented on #31742
Also, in `hci_usb`'s `prj.conf`, could you uncomment:
`#CONFIG_BT_CTLR_TX_BUFFER_SIZE=251`

[2021-01-28 13:15] #31727 closed

[2021-01-28 13:16] hguomin8 commented on #30026
Thanks Carles, details please refer to the issue I opened before: https://github.com/zephyrproject-rtos/zephyr/issues/29684

[2021-01-28 13:18] Oxymoron79 commented on #31742
@carlescufi I applied your suggestions but unfortunately it didn't help. The test got stuck after 71 notifications:
[code]
Here's the peripheral console log:
[code]

[2021-01-28 13:28] hguomin8 commented on #30026
If this is an issue from Linux kernel, do you or your team know any solution or work around can be applied to make this kind of multiple 6lowpan nodes connection to a linux host? if no, the 6lowpan over ble might be useless...

[2021-01-28 13:33] pabigot commented on #30105
Here are version numbers that can be used to determine C standard versions at compile-time with code like:
[code]

Version   | `__STDC__VERSION__`
--------- | ----------------------
C90       | not defined
C95 AMD 1 | 199409L (unofficial)
C99       | 199901L (official)
C11       | 201112L
C17       | 201710L
C20       | 202000L

[2021-01-28 14:08] RonAmihai opened #31745 "Conan package manager support (using cross building)"
**Is your feature request related to a problem? Please describe.**
[Conan package manager](https://conan.io/) is a clever way of managing C/C++ project's 3rd party packages/dependencies.
It can also be used for embedded development using cross building, which requires to manage Conan profiles according to the desired host/target arch platforms and their corresponding toolchains.

There are many Co

[2021-01-28 14:08] carlescufi commented on #31742
@joerchan the number of contexts are not configurable, so I think this is either a problem in the way the application uses the APIs or an actual bug.

[2021-01-28 14:11] koffes commented on #30418
@nordic-krch I have retested on de73db9dbcc03111c6cb69d504844d577a01745b, and I can confirm that the issue is resolved. Closing this ticket.

[2021-01-28 14:11] #30418 closed

[2021-01-28 14:14] koffes commented on #30418
@nordic-krch I don't get the chronology. The issue you referred to was merged in October, this ticket opened in December. There must be something else that changed after December which resolved this.

[2021-01-28 14:40] galak commented on #31726
I was curious if there's any implication of the renode version we have in CI.  We currently have 1.8.2.

[2021-01-28 14:44] erwango commented on #31467
@joerchan @carlescufi:
Using `CONFIG_BT_MAX_PAIRED=3`, I've been able to connect 2 different windows PC (Using `2` didn't help).
And I'm observing strange behavior with my smartphone (pairing randomly failed), but that doesn't seem related to Zephyr stack (when pairing fails on smartphone, I can pair on laptop).
So from my point of view, this is working fine.

[2021-01-28 14:54] microbuilder opened #31748 "boards:lpcxpresso55s69: Manual toggling of CS required with ETH Click shield"
When using the SPI interface on the LPC55S69 and the Mikroe ETH Click shield (likely other shields as well), the SPI CS line must be manually toggled as a GPIO pin, requiring the following change to [dts/arm/nxp/nxp_lpc55S6x_common.dtsi](https://github.com/zephyrproject-rtos/zephyr/blob/78c77da578987d7b4774509347d14f9c04eb07da/dts/arm/nxp/nxp_lpc55S6x_common.dtsi#L237-L240):

[code]

**To Reproduc

[2021-01-28 15:09] nashif commented on #30434
@enjiamai  also can't reproduce here, please retry.

[2021-01-28 15:13] pabigot opened #31749 "fs: fs_opendir can corrupt fs_dir_t object given via zdp parameter"
The same issue raised in #29478 appears to also affect `fs_opendir()`, in that an in-use directory will be clobbered.

[2021-01-28 15:29] enjiamai commented on #30434
Hi, @dcpleung, sorry for reply late,  here is reproducing step I tried today:

1. mainline commit 3c3504f7e582d3e4cd5adb07e4e495d4c1fbf5af
2. modified tests/kernel/mem_protect/mem_map/src/main.c,  comment the line 20, like that

/* Skip the memory map executing case when coverage enabled in x86_64,
 * because it will crash due to incorrect address accessing for gcov variables.
 * See issue#30434 f

[2021-01-28 15:32] pabigot commented on #31524
I am unable to reproduce this problem.  Using an augmented test in https://github.com/pabigot/zephyr/commits/repro/31524 I can open the required number of files, and directories, on `nrf52840dk_nrf52840` without error.  (Below this was done with the default count; reconfiguring to 3 also worked.)

[code]

@r2r0 could you please check this on your configuration?  It may be specific to a particular

[2021-01-28 15:40] #31362 closed

[2021-01-28 17:19] jacoba-at opened #31757 "GCC compiler option should include '-mcpu=hs38' for HSDK"
**Describe the bug**
When building Zephyr for the HSDK board, it passed to gcc the option '-mcpu=hs'. This creates code that misses some processor functionality. For example if you use modulo C operator (a % b), it calls a function to perform this operation, instead of using the 'REM' assembly instruction.

**To Reproduce**
Steps to reproduce the behavior:
1. west -v build -b hsdk ....
2. Observe

[2021-01-28 18:02] martinjaeger commented on #30055
@andyross sorry for the delayed response. Since my upgrade to Zephyr SDK v0.12.0 I was not able to reproduce the issue anymore. Instead, I get the following error printed to the serial console now:
[code]
A colleage compiled our firmware with exactly the same settings on Windows and could still reproduce the issue. So here is a bunch of map files: https://nextcloud.libre.solar/s/CjeXZZt7AYKjEBJ

-

[2021-01-28 18:13] jaslob commented on #31289
Thanks. It took some time but it did finally work.

[2021-01-28 18:13] #31289 closed

[2021-01-28 18:21] martinjaeger commented on #30055
Some additional information: The newlib version of my colleague where the issue appeared is 3.1.0, where as Zephyr SDK v0.12 updated newlib to 3.3.0.

This seems to be relevant to the problem: https://census-labs.com/news/2020/01/31/multiple-null-pointer-dereference-vulnerabilities-in-newlib/

So maybe the remaining problem is only to create a linker error if not enough space is left for the newli

[2021-01-28 18:21] PiotrZierhoffer commented on #31726
@galak we should be able to adjust things without modifying the version (I'm about 90% sure).
Just switching to the most recent one (1.11) would not affect this situation.

[2021-01-28 18:44] andyross commented on #31726
FWIW: playing with this everything passes with a 6.6MHz setting (even though the VM output timestamps are technically wrong) **except** the tickless_concept test, which oddly works at 660 kHz but not at any frequencies higher than 703999 Hz (yes, exactly!  704000 fails).

This actually looks like it's exercising an edge case in @ceolin's timeslicing fix, as reverting that recovers this one test (b

[2021-01-28 19:02] eanderlind opened #31761 "logging:buffer_write with len=0 causes kernel panic"
https://github.com/zephyrproject-rtos/zephyr/blob/66d1b3ce10635dd9988898479ce8b8f6516a98df/subsys/logging/log_output.c#L134
buffer_write() doesn't handle being called with len=0. Simplest fix would be to convert to while(len>0) {} loop.
Also unclear if use of `log_output->control_block->offset` is thread-safe.

See below gdb snippet where call occurs -we exit from an ISR and resume processing RTT

[2021-01-28 20:04] jaslob opened #31762 "ivshmem application in acrn"
I have two User VMs. One is RT Linux (yocto) and the other is Zephyr.
Now I want both VMs to use shared memory.
Like: https://projectacrn.github.io/2.1/developer-guides/hld/ivshmem-hld.html
Is that even possible in Zephyr?
Ivshmem works in RT Linux but I have problems in Zephyr.
How do I get the device ID and how do I read from the memory?
Is there a sample application I can work with to get an id

[2021-01-28 20:51] eanderlind commented on #31462
For first objective would be useful to clarify if goal is just to  support building on all the hosts (currently supported with at least gcc on X86), or also covers unit/integration testing (posix_native/native64 currently only Linux, and with macOS host on ARM may require more effort).

MISRA not a goal? (Asking since implies a lot around coding standards etc) Not advocating either way for inclusi

[2021-01-28 22:39] eanderlind commented on #30692
It would be useful to scope/bound the problem. Is this limited to boards that share the same SoC? (SoCs tend to differ
in terms of FLASH/RAM, so a shared binary may be infeasible for most practical cases even if most of dts is the same.

TBD if determination of board should be done in a centralized fashion (probe some device, pin or dedicated non-updated persistent memory location to decide "versi

[2021-01-29 02:01] nashif commented on #31757
@abrodkin FYI

[2021-01-29 02:18] wngur300 commented on #31467
There was a problem with the nucleo_wb55 board, so I bought a new board and did other work, so I was late to reply.
I'm sorry.
As @erwango said, I changed the value of CONFIG_BT_MAX_PAIRED and it worked well on the nrf52840dk_nrf52840, and I will test and answer on the nuleo_wb55rg board.

[2021-01-29 03:31] wngur300 commented on #31467
That's right. I changed the value of CONFIG_BT_MAX_PAIRED = 3 and the problem was solved.
Thank you!

[2021-01-29 04:27] wangnuannuan opened #31767 "twister: rename variable p"
The variable `p` represents a platform according to
https://github.com/zephyrproject-rtos/zephyr/blob/30de4b5dd95271d1451f98b7f8f139ed1f740480/scripts/pylib/twister/twisterlib.py#L3302

But it's reassigned if there are failures.
https://github.com/zephyrproject-rtos/zephyr/blob/30de4b5dd95271d1451f98b7f8f139ed1f740480/scripts/pylib/twister/twisterlib.py#L3448

This causes the web page of test resu

[2021-01-29 06:21] mbolivar-nordic commented on #31679
Closed FP

[2021-01-29 06:21] #31679 closed

[2021-01-29 07:04] LeiW000 opened #31769 "Twister: AttributeError: 'NoneType' object has no attribute 'serial_pty'"
This is an intermittent issue. please see below.
[code]

[2021-01-29 08:16] erwango commented on #31467
@joerchan If `CONFIG_BT_MAX_PAIRED = 3` is the expected setting in this case, then we can close the issue.

[2021-01-29 09:49] r2r0 commented on #31524
Attached test fails on QEMU x86 and similar test (the same code and the same LITTLEFS config) also fails on our board with STM32WB55 (external FLASH over QSPI).
[littlefs_max_files.zip](https://github.com/zephyrproject-rtos/zephyr/files/5893013/littlefs_max_files.zip)

[2021-01-29 09:56] jukkar commented on #31593
These might be related to other issues in the net stack if we run out of resources, so not just civetweb problems. I suspect that there is resource leak somewhere in the stack if for example a net_buf allocation fails, we might bail out without releasing all the resources properly.

[2021-01-29 10:39] eHammarstrom opened #31774 "Add an application power management sample (PM_POLICY_APP)"
Currently the device_pm API is documented and also used in samples, so figuring the device_pm API
out should be no obstacle.
But for the system-wide PM it is not as straight forward, a simple example application based on one of
the supported SoCs would be helpful when looking into the system PM API.

**Describe the solution you'd like**
Add a sample with a short life cycle of waking up, doing some

[2021-01-29 11:42] jukkar commented on #31593
I just sent a fix that prevented various crashes seen when I tested with `dumb_http_server_mt` sample and wrk tool. @xhpohanka could you try your scenario with #31777 and report if it helps.

[2021-01-29 11:48] bamkrs opened #31778 "Calling k_sem_give causes MPU Fault on nRF52833"
**Describe the bug**
I have tied a simple interrupt to a pin on my nRF52833. This interrupt finally calls a small function that only gives an semaphore.
Another thread waits for this semaphore. This works just fine:

[code]

However, after a period of time, calling `k_sem_give(&interrupt_sem);` causes an MPU Fault.
The exact location of the fault is in `include/sys/dlist.h` when calling `sys_dlist

[2021-01-29 12:37] teijokk opened #31779 "disable spi chipselect in runtime"
We need to swich power off spi slave when not used. This causes slave cs pin go ground while host cpu cs is high(because cs is active low) This causes power consumption.

We are currently not found a way to disable or set cs low. Is this possible to do in zephyr?

br
Teijo Kauppi

[2021-01-29 13:02] #31019 closed

[2021-01-29 13:04] #31614 closed

[2021-01-29 13:04] #29478 closed

[2021-01-29 13:16] pabigot commented on #31524
@r2r0 thanks, that gave me the clue.  Please verify solution in #31781.

[2021-01-29 13:16] erwango opened #31782 "adc: test and sample failed on STM32"
**Describe the bug**
Following issues were seen on adc driver during CI tests on STM32:
[code]

**To Reproduce**
Run twister on these using stm32 device

**Expected behavior**
Should be passed

**Impact**
Sample issue is a simple annoyance, but driver issue can prevent driver usage in some cases

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS

[2021-01-29 13:54] r2r0 commented on #31524
@pabigot Thanks for quick reply.
It works but it looks for me a little weird because I expected that littleFS will allocate (in file_cache_pool):
CONFIG_FS_LITTLEFS_NUM_FILES * CONFIG_FS_LITTLEFS_CACHE_SIZE bytes
but now it allocates:
CONFIG_FS_LITTLEFS_NUM_FILES * CONFIG_FS_LITTLEFS_NUM_FILES * CONFIG_FS_LITTLEFS_CACHE_SIZE bytes
Did I miss something?

[2021-01-29 13:57] xhpohanka commented on #31593
Hi @jukkar
Thank you for reaching this. I have done a very quick test with your patch. Now I'm not able to reproduce the issue with buffer leaks using wrk, so this is definitely a progress.

I'm still able to get a loop described in my second point (poll is still returning 1). I think that it is related to exhausted file descriptors.  Chrome and ctrl+f5 seems to be worse stress than wrk...

UPDATE

[2021-01-29 14:01] pabigot commented on #31524
No, apparently I did.  I'll take another look later.

[2021-01-29 14:43] erwango opened #31789 "samples/scheduler/metairq_dispatch: Regression after 30916 (sched: timeout: Do not miss slice timeouts)"
**Describe the bug**
Following merge of 6b17f2fb2a75f2dab7dc8ef19c67555df742fb22, sample `samples/scheduler/metairq_dispatch` is now failed on 2 platforms: nucleo_wb55rg and nucleo_f091rc.
Sample works correctly on other boards. Likely the common characteristic is they are the slowest in our bench.

**To Reproduce**
twister

**Expected behavior**
Sample should run w/o error

**Logs and console out

[2021-01-29 14:53] erwango commented on #31789
I'm seeing the same effect with `tests/kernel/semaphore/semaphore (only on nucleo_f091rc this time)

[code]

[2021-01-29 15:20] #31767 closed

[2021-01-29 15:29] ioannisg commented on #30554
Cannot reproduce this any more. Closing this.

[2021-01-29 15:33] ioannisg commented on #30554
Sentinel should not be used together with MPU stack guards, so there's no stack adjustment of stack_info.start that applies here, as far as I understand.

[2021-01-29 15:33] #30554 closed

[2021-01-29 15:43] PerMac commented on #30554
@ioannisg I haven't seen it for a while. I think it was the same root cause as in  #30526 and was fixed by #30487.

[2021-01-29 15:45] ioannisg commented on #31778
The fault suggest your are accessing address 0x0, during an ISR - could that be null-pointer dereferencing?

[2021-01-29 15:45] ioannisg commented on #31778
BTW, if this concerns the nRF SDK - please open the ticket at the nRF Connect project. :)

[2021-01-29 15:47] ioannisg commented on #28014
Could you test this now, @ABOSTM ? PR candidate is linked above, #31772

[2021-01-29 15:48] ioannisg commented on #29349
@katsuster could this ticket be closed now?

[2021-01-29 16:09] jukkar commented on #31593
Yep, I was able to see it too. Seems to be related to timings, I am investigating this.

[2021-01-29 16:09] carlescufi commented on #31745
@RonAmihai Thanks for the suggestion. Since, AFAIK, we don't have active Conan users so far, could you perhaps send a Draft PR with the files and changes required to achieve that support? Would the SDK also require changes?

[2021-01-29 16:29] RonAmihai commented on #31745
The SDK won't require any change in my opinion.

The only required thing to modify is actually Zephyr's CMake tree, with some side configuration files (mostly Conan profiles for each supported toolchain/arch & maybe some Conan scripts).

Maybe the Conan install command can be separated into some `west` logic, but this can complicate regular/clean CMake usage with Zephyr, so I think It's better to

[2021-01-29 16:54] enjiamai commented on #31674
@nashif  As you mentioned, this is intentionally dereferencing a null pointer to cause a crash for testing. Could you please close it in coverity, thanks.

[2021-01-29 17:02] katsuster commented on #29349
Ah, Yes maybe, but still @ite-ch 's issue is not solved, I think.
I will try to solve it and send PR...

[2021-01-29 17:16] erwango commented on #31789
@ceolin I'm available for testing fixes if needed (well, starting monday :-))

[2021-01-29 17:27] carlescufi commented on #30466
Thanks for raising this. I think we should do this in the context of the "Guidelines" rework that we've started discussing in the API meetings. First come up with a standardized set of guidelines and then go through the APIs to enforce them. This of course would include the doxygen and style inconsistencies that you refer to.

[2021-01-29 17:32] eugkr opened #31791 "samples: hello-world: extra slash in path"
Please help with zephyr setup, looks like something misconfigured.
Project successfully compiles, but shows error on flash:
[code]
In file build/.ninja_deps all paths contain extra slash after drive letter:  e/:/eug/zephyrproject/zephyr/misc
Checked on another computer - no slash after drive letter.
Also: "CMake Deprecation Warning" not appeared earlier

System: Windows 10 x64

Any advice please?

[2021-01-29 18:05] carlescufi commented on #30991
@pabigot could you please give some hints to @VinodSHegde?

[2021-01-29 18:09] carlescufi commented on #31087
Assignig to @anangl since he has a plan to provide a sample using memory retention.

[2021-01-29 19:14] bamkrs commented on #31778
Hey @ioannisg
Yes accessing `NULL`/`0x0` in the ISR **is** the problem I'm chasing. The question is why its `NULL`. The semaphore is only touched in these two functions and if I interpret the code correctly, the `NULL`-ptr is in the threads wait-queue. I do not have any control over the wait-queue and its some zephyr internal wizardry. Its all standard zephyr, the only nordic SDK part is the ISR i

[2021-01-29 19:40] pabigot commented on #30991
If this is still an issue: `device_get_binding()` will return null if the driver init function returns a non-zero value.  You should add instrumentation to the init function to figure out what that's happening.

[2021-01-29 19:46] pabigot commented on #31087
@carlescufi I thought I was going to provide the sample in the context of the system_off example; I just haven't gotten to it.  In discussion with @anangl we believe there's nrfx extensions necessary to handle this, and he'll be coordinating that side.

[2021-01-29 21:54] pabigot commented on #31524
So here's what's going on.

Originally the file cache used a mem_pool.  With that data structure it appears metadata associated with allocations was held separately, so that the entire requested storage space was available for application use.

In #28611 the `k_mem_pool` API was deprecated, and existing uses switched to a heap implementation.  It appears in this implementation metadata associated

[2021-01-29 21:57] #31782 closed

[2021-01-29 21:59] pabigot opened #31797 "need 2.5 release notes on switch to k_heap from mem_pool"
First, IMO the release notes should mention that these APIs are now officially deprecated, and repeat the text from the 2.4 release notes saying that they're going away in 2.6.

Second, as described in https://github.com/zephyrproject-rtos/zephyr/issues/31524#issuecomment-770070946, the replacement of using `k_heap` has a behavior difference that can result in applications that formerly allocated

[2021-01-29 22:00] pabigot commented on #31797
@nashif @andyross FYI

[2021-01-29 23:09] zisisadamos opened #31799 "uart_configure does not return -ENOTSUP for stm32 uart with 9 bit data length."
**Describe the bug**
When we use uart_configure on STM32 for a device with data length of 9 bits we dont get -ENOTSUP

**To Reproduce**
Steps to reproduce the behavior:
1. Create a 9bit configuration for uart device
2. use that device as an argument for uart_configure
3. Bug. Seems like device is initialized and supports 9bit.

**Expected behavior**
Return -ENOTSUP

**Impact**
Not that critical. L

[2021-01-30 01:17] marc-hb opened #31800 "west build; west build --board=qemu_x86 fails with "unknown BOARD""
**To Reproduce**
Steps to reproduce the behavior:
1. cd samples/hello_world
2. west build                                    # missing BOARD, fails as expected
3. west build --board=qemu_x86 # fails the same again!

**Expected behavior**
Do not ignore --board parameter in step 3

**Impact**
Pure usability issue.
Simple workaround: delete the `build/` directory and all its evil CMake cache(s).

**L

[2021-01-30 07:23] tagunil commented on #31799
Actually the driver itself supports configuring UART to 9 bit mode. Looks like it is the API that is missing.

[2021-01-30 12:25] cvinayak commented on #30378
@carlescufi Compiler optimizations  without use of Data Synchronization Barrier is causing Tx Buffer Leak. Was able to reproduce incorrect memory usage by controller's tx buffer loop through Thread->ULL->LLL->ULL->Thread data path.

![image](https://user-images.githubusercontent.com/6350656/106356187-ffa23300-62fd-11eb-94c1-07012a00a0a9.png)

[2021-01-30 13:00] #31234 closed

[2021-01-30 13:13] MindaugasMin commented on #17902
Hello,
I am working with ST32L452 and W25Q16JV NOR flash which is used with QSPI peripheral.

I can't read the serial flash discovery parameter. Any ideas where is the problem?
I am sure that my hardware works fine because I tried to read/write/erase using LL functions.

This is my DTS quadspi configuration:
I copied everything disco_l475_iot1.dts

[code]

[2021-01-30 14:31] ajelinski commented on #31726
@andyross Changing the frequency in the kconfig fixes the time because in Renode the frequency in the prepared MI-V platform is 66 MHz indeed. I'm not sure however whether you're right about these testing failures after using 66 Mhz in Kconfig.

Can you please write down what real vs virtual time ratio you have for the 6.6 MHz setting (for 66 MHz you wrote "40x slower")?

From what I've tested it

[2021-01-30 15:12] nashif commented on #26522
This has changed in the tree, I do not see "Supported shields" anymore, just boards, so closing.

[2021-01-30 15:50] enjiamai commented on #31729
@yingmingx  I can't reproduce this in zephyr-sdk version 0.11.3 / 0.11.4 / 0.12.1 , I think it has something to do with your toolchain version, could you please:
1. Do "west update" before you run the test cases again.
2. Use the newer version of SDK to check if this still happens.

Thanks!

[2021-01-30 16:01] nashif commented on #28942
@evgeniy-paltsev update please or close... Cant reproduce here, if this is due to local env then we should close it.

[2021-01-30 16:36] nashif commented on #30679
I am not getting worst-case stack analysis with older SDK and with older Zephyr tree, my suspicion is that some dependency in the modules started breaking this, so it is not a bug in zephyr, need to open a bug in puncover issues. The basic functionality of puncover is still there and works fine.

[2021-01-30 16:36] #30679 closed

[2021-01-30 16:42] nashif commented on #29790
@carlescufi  can you please take a look?

[2021-01-30 16:44] nashif commented on #31194
dont think this is a bug, it is just bad test configuration.

[2021-01-30 16:44] #31194 closed

[2021-01-30 16:46] nashif commented on #19582
if you think this is not stale, then please do something about it, this is now the 3rd time being reopened.

[2021-01-30 21:16] danielschenk commented on #18551
I came across this issue due to a compilation error I'm getting, when I try to change one of Nordic's nRF Connect SDK examples from C to C++. In the `peripheral_lbs` example, when I change `main.c` to `main.cpp`, I'm getting this error:
[code]

Apparently, after the fix provided for this issue, this is still an issue, but now in a slightly different way. Is this worth opening a new issue?

Note: w

[2021-01-31 00:02] pabigot commented on #18551
That workaround is described at https://github.com/zephyrproject-rtos/zephyr/pull/24829#discussion_r418194989, but it is still not legal C++.  There is no known standard-conforming way to make the C API work in C++.  https://github.com/zephyrproject-rtos/zephyr/pull/24829#issuecomment-622977341 describes the general solution for this problem.

[2021-01-31 02:04] marc-hb commented on #19582
@tejlmand , @mbolivar-nordic , is Sebastian's email in the description above still valid today and is it still missing from https://docs.zephyrproject.org/latest/guides/zephyr_cmake_package.html ?

[2021-01-31 07:07] Mani-Sadhasivam commented on #31210
@andysan was looking into the context saving feature using settings API. @andysan can you please share the status?

[2021-01-31 08:26] eugkr commented on #31791
Looks like magic.
Both machines have the same windows build, the same versions of GCC, cmake, west, ninja, I did clean zephyr install with upgrading all packets from requirements.txt, but no success:
[code]

[2021-01-31 08:45] eugkr commented on #31791
Fixed by updating ninja from 1.10.0 to 1.10.2
This bug mentioned in ninja release notes.

[2021-01-31 08:45] #31791 closed

[2021-01-31 15:20] #31567 closed

[2021-01-31 16:23] jukkar commented on #31593
Managed to find one nasty leak. If the application closed the socket while we were waiting data, the data that was pushed to application was lost. Fixed that in #31777, @xhpohanka please try the lastest version if you can.

[2021-01-31 18:16] alfonsotames opened #31807 "USB DFU Broken for STM32L4"
**Describe the bug**

Building the USB DFU subsys sample fails with a file "bootutil_public.h" not found error. Where is even bootutil_public.h supposed to be??? Tested with some boards (STM32 and SAM) preconfigured with mcuboot partitions like stm32f4_disco, sam_e70_xplained, sam_v71_xult and  blackpill_f401ce. Same results for all.

**To Reproduce**
Steps to reproduce the behavior:

$ cd zephyr/

[2021-01-31 18:31] jfischer-no commented on #31807
I can not reproduce it. Please do 'west update' and retry.

`bootloader/mcuboot/boot/bootutil/include/bootutil/bootutil_public.h`

[2021-01-31 18:47] alfonsotames commented on #31807
That was it! I thought I did it. Stupid me. Thanks a lot.

[2021-01-31 18:53] alfonsotames commented on #31807
So, it works for stm32f4_disco, sam_e70_xplained, sam_v71_xult and blackpill_f401ce but fails for the STM32L4:

mufufu@mufu:~/zephyr/zephyr/samples/subsys/usb/dfu$ west build -b nucleo_l432kc
-- west build: generating a build system
Including boilerplate (Zephyr base): /home/mufufu/zephyr/zephyr/cmake/app/boilerplate.cmake
-- Application: /home/mufufu/zephyr/zephyr/samples/subsys/usb/dfu
-- Zephyr

[2021-01-31 19:26] jfischer-no commented on #31807
I guess it is not USB DFU implementation issue that Nucleo L432KC board does not have USB support.

[2021-01-31 19:26] #31807 closed

[2021-01-31 19:30] alfonsotames commented on #31807
Thanks!

[2021-01-31 20:16] cwshu opened #31811 "Enable RISC-V memory protection on QEMU virt board"
**Is your enhancement proposal related to a problem? Please describe.**
Current RISC-V platforms [1] doesn't have enough RAM to run some memory protection tests. (#30066)

**Describe the solution you'd like**
QEMU virt board supports RISC-V PMP and has the configurable RAM size, it doesn't encounter RAM overflow problem.
Also, we can test RV64 support by virt board.

Because virt board is non-XIP

[2021-01-31 20:22] cwshu commented on #31811
Current progress:

After some fixes, RV32 QEMU virt board can pass all tests except `protection` and `syscalls` (branch [qemu_virt_pmp](https://github.com/cwshu/zephyr/commits/qemu_virt_pmp)).

- `syscalls` is only failed on accessing FAULTY_ADDRESS.
- `protection` doesn't work on RISC-V non-XIP system currently because ROM isn't protected by PMP.
   ROM protection relies on flash to be non-writab

[2021-01-31 20:43] Nukersson commented on #31593
Do we have some ethernet stack test suite? Can you add a test for this case?

[2021-02-01 00:05] andysan commented on #31210
I have an implementation of it on this branch: https://github.com/andysan/zephyr/commits/lorawan-api-draft

The commit of interest is this one: https://github.com/andysan/zephyr/commit/10db887238c0145a9567dff2f19074013bb1b8ef

The context handling in upstream LoRaMAC is, as far as I can remember, a beta feature. In fact, there was a major refactor a few weeks ago to solve some issues with the curr

[2021-02-01 00:48] cfriedt commented on #31644
Marked this as a false positive in coverity, as the variable is used in that particular scope when assertions are enabled.

[2021-02-01 00:48] #31644 closed

[2021-02-01 01:24] cfriedt commented on #31667
Marked as a false positive.
Already covered by 2 assertions directly above. assert actual_int > 0 and assert actual_int == expected_int.

[2021-02-01 01:24] #31667 closed

[2021-02-01 01:26] cfriedt commented on #31662
Already covered by 2 assertions directly above. assert actual_int > 0 and assert actual_int == expected_int.

[2021-02-01 01:26] #31662 closed

[2021-02-01 01:26] #28296 closed

[2021-02-01 01:27] cfriedt commented on #31665
false positive. ignore
Already covered by 2 assertions directly above. assert actual_int > 0 and assert actual_int == expected_int.

[2021-02-01 01:27] #31665 closed

[2021-02-01 01:28] cfriedt commented on #31664
false positive, ignore.
Already covered by 2 assertions directly above. assert actual_int > 0 and assert actual_int == expected_int.

[2021-02-01 01:28] #31664 closed

[2021-02-01 01:29] cfriedt commented on #31666
false positive, ignore
Already covered by 2 assertions directly above. assert actual_int > 0 and assert actual_int == expected_int.

[2021-02-01 01:29] #31666 closed

[2021-02-01 01:30] cfriedt commented on #31661
false positive, ignore.
Already covered by 2 assertions directly above. assert actual_int > 0 and assert actual_int == expected_int.

[2021-02-01 01:30] #31661 closed

[2021-02-01 02:14] yingmingx commented on #31729
I do what you said according the steps you have given. All these testcases have passed.
It is indeed my environment problem.
Thanks!

[2021-02-01 02:14] #31729 closed

[2021-02-01 05:55] s-kelvin commented on #30192
This has not been fixed. See the latest log on micro chip below:
[code]

[2021-02-01 06:35] s-kelvin opened #31817 "mec15xxevb_assy6853: tests/boards/mec15xxevb_assy6853/i2c_api/ failed"
**Describe the bug**
test_i2c_pca95xx in tests/boards/mec15xxevb_assy6853/i2c_api/ has assertion failure.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b mec15xxevb_assy6853 -p auto tests/boards/mec15xxevb_assy6853/i2c_api/
2. west flash
3. See error

**Expected behavior**
Test suite should pass.

**Logs and console output**
[code]

**Environment (please complete the following

[2021-02-01 06:37] cvinayak commented on #15570
This fix #31813 can explain the Tx Buffer Overflow. The compiler instruction reordering depends on optimization and could change based on changes in the code.
Also, refer to #30378

[2021-02-01 07:14] chen-png commented on #31733
the socket can driver in "socket_can_generic.h" is hard code, it only defined one name '#define SOCKET_CAN_NAME_1 "SOCKET_CAN_1"' and one socket context struct "static struct socket_can_context socket_can_context_1", when invoking "DT_INST_FOREACH_STATUS_OKAY" to initialize all can device instances, the instance number starts from 0, so it will report error like " 'SOCKET_CAN_NAME_0' undeclared he

[2021-02-01 08:21] KangJianX opened #31819 "intel_adsp_cavs15: signing not correct thus download firmware failed"
**Describe the bug**
When run testcases we **use west script(sign.py) to signing** with image (no error and show completed) then invoke download script to load firmware, it has some error log at firmware loaded step. By debug, found signing not correct in fact(even if show completed without error), if we **use command to signing by ourselves without west script(sign.py)** it will download successf

[2021-02-01 08:29] jukkar commented on #31593
We have unit tests, not sure how feasible it would be to add test cases for this.
I was only able to see the issue with heavy traffic and when system run out-of network buffers, this complicates the testing.

[2021-02-01 08:32] xhpohanka commented on #31593
I'm still able to reproduce the leaks unfortunately. Still not with wrk, but with Chrome reloading with no problem.
Can I somehow provide more information which could help?

[2021-02-01 08:52] xhpohanka commented on #31593
I just noticed, that firefox behaves in the same way. It is enough to hit ctrl+f5 about 20 times in high frequency to see the buffer leak with the test code that I have provided. It does not seem to me as extra high traffic.

I'm sure on 100% but it seems `net allocs` is always referring lost buffers in `net_pkt_clone()`

[code]

[2021-02-01 08:59] Cimex97 commented on #28872
Hey, I update now to master. I got the same error.

[2021-02-01 09:06] rettichschnidi commented on #17005
@kestewart @carlescufi Anything you can say on if and why this issue seems to be on hibernation since [Zephyr Project TSC - 12 February 2020](https://docs.google.com/document/d/1xiO721JwqW_H_BpGMOJ4PY3vLVy7nxW2fhy841nsP10/edit#heading=h.2lu3g8exvi8t) within the TSC?

[2021-02-01 09:16] joerchan commented on #30378
@vrahane @hardik-proxy If you have time could you verify that the fix solves the issue you were seeing? As I recall you could reproduce it quite quickly in the last setup.

[2021-02-01 09:17] jukkar commented on #31593
Thanks for the info. I did not try the browser route as the wrk seemed to work fine, but will try using browser.

This was basically the same leak I fixed in latest version of #31777, there is probably some extra code path I missed. I will investigate.

[2021-02-01 09:39] jukkar commented on #31593
I was not able to replicate any leaks with the browser. Actually with the browser, I was not seeing any out-of-buffer scenarios and zephyr was able to reply in time and no errors were seen in the console (this with qemu_x86 and e1000 controller). I was also using the `dumb_http_server_mt` sample app for this.

[2021-02-01 09:47] xhpohanka commented on #31593
I'm afraid that dumb_http_server_mt is not enough to reproduce. That is the reason why I have provided my code with civetweb (check the first post). If you are not able to run it please tell me what other information can I provide.

I'm aware that the issue can be in my application code (hopefully not, it is really simple) or in civetweb itself but as civetweb is the only web server provided with

[2021-02-01 09:48] jukkar commented on #31593
@xhpohanka When you have the leak issue, what does `net conn` tell, what are the states of the sockets.
If you see something like
[code]
and the `SYN_RECEIVED` state is stuck. Then you also need to apply #31806 which should timeout the orphaned connection properly.

[2021-02-01 09:50] jukkar commented on #31593
That might be related here. I try to use you application next.

[2021-02-01 09:58] xhpohanka commented on #31593
I do not see `SYN_RECEIVED` stuck state...

[code]

[2021-02-01 10:08] PerMac opened #31822 "tests: drivers: timer: Test drivers.timer.nrf_rtc_timer.stress fails on nrf52 platforms"
**Describe the bug**
The test drivers.timer.nrf_rtc_timer.stress from /tests/drivers/timer/nrf_rtc_timer/ fails on nrf52dk_nrf52832 and nrf52840dk_nrf52840.

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52 platform connected
2. go to zephyr dir
3. run `./scripts/twister -p nrf52dk_nrf52832 --device-testing --device-serial /dev/ttyACM0 -v -v --inline-logs -T tests/drivers/timer/nrf_

[2021-02-01 10:56] ioannisg commented on #31778
@pabigot may I assign you here, so you could provide some help, or suggest alternative assignees?

[2021-02-01 10:58] ioannisg commented on #31235
Will take a look

[2021-02-01 11:03] r2r0 commented on #31524
So, my guessing about problem reason was correct, nice.
Thanks @pabigot , it works very well.

[2021-02-01 11:15] tejlmand commented on #26522
was fixed as part of this: https://github.com/zephyrproject-rtos/zephyr/pull/30572

[2021-02-01 11:18] jukkar commented on #31593
I am probably doing something wrong as I get
[code]
How do you compile this?

I tried with this:
[code]

[2021-02-01 12:00] pabigot commented on #31524
Let's leave this open until the fix is merged.

[2021-02-01 12:09] xhpohanka commented on #31593
I see - I'm using slightly older zephyr base (with your patches cherry-picked). There was a commit 98747abf9c3671e9b836dba4c8c8ae48c47f0c23 which added putc and putchar into minimal libc library. Please just comment out my putc and putchar definitions in `libc_extensions.c`

[2021-02-01 13:15] erwango commented on #26522
Reopening:
[code]

In this list can be found board names: `frdm_k64f`, `reel_board`, `nucleo_f411re`, ...
Basically, I think that we're getting all boards that are in `shields/*/boards/`.

[2021-02-01 13:27] erwango commented on #31799
@zisisadamos I'm a bit confused with this issue. And the fix provided didn't seem correct.
Can you elaborate a bit on the issue you're facing?

[2021-02-01 13:35] #31555 closed

[2021-02-01 13:35] #31741 closed

[2021-02-01 13:37] #31684 closed

[2021-02-01 13:44] jukkar commented on #31593
The `mkmfs.sh` needed `xxd` and after installing it, I still get this error
[code]
It seems that the script requires `minify` from https://www.minifier.org/

I wonder why you have extra generator script, wouldn't the `generate_inc_file` cmake macros work?

[2021-02-01 13:52] fnbr opened #31824 "Kconfig: (All) choices should be named"
**Is your enhancement proposal related to a problem? Please describe.**
Kconfig allows to select one option from a list using choices, e.g. selecting the C++ standard from a list of C+11,17 & 20.
While regular 'config'-options can be modified/amended, e.g. in Kconfig.board or an application-specific Kconfig-file, most choices in zephyr cannot be modified. The reason for that is that choices need t

[2021-02-01 13:55] xhpohanka commented on #31593
Excuse me. It seems, that I have not simplified my example enough...
The reason of the last error is probably missing minify (at least I get the same error in such case). Minify is definitely not necessary to run this example. I have pushed a new version to my git, I hope it will work now.

It probably would, but it was written by my colleague who is not familiar with zephyr build system.

[2021-02-01 14:21] pabigot commented on #31778
I'm not sure what I can do other than try to reproduce this in current upstream.  I don't see any relevant differences between NCS and Zephyr 2.4.0, but there may be some between Zephyr 2.4.0 and current.

@bamkrs How frequently does that interrupt trigger?  What's the minimum delay between triggering signals?

[2021-02-01 14:25] zisisadamos commented on #31799
Definately. So I am trying to do 9bit data transfers(excluding parity and stop bits) with zephyr. Which at least for stm32 driver doesn't seem to be supported(all transfer functions i found on the driver are for 8 bits). So I assumed that when i try to configure serial for 9bit data width it should return -ENOTSUP. Which it doesnt.

[2021-02-01 14:33] bamkrs commented on #31778
@pabigot roughly 40 times until the MPU fault. ~10ms delay.

[2021-02-01 14:51] pabigot commented on #31778
@bamkrs Thanks.  What's the priority of the thread that blocks on semaphore, in particular cooperative or preemptive?  Are there any indications that it may not have completed its work before the next trigger arrives?  Or that perhaps it's the active thread when the interrupt is being handled?  Is that something you could test?

I'm unaware of any problems with the Zephyr semaphore code except htt

[2021-02-01 14:56] erwango commented on #31799
ok, got it. Then I think `UART_CFG_DATA_BITS_9` shouldbe purely removed for the API. @dcpleung do you confirm ?

[2021-02-01 14:59] zisisadamos commented on #31799
I think we can do 9bit as well a was thinking of implementing it. Just wanted to do that fix for now so iget familiar with contribution flow. 9bit is only impossible for poll api of zephyr because the specify the input type and dont use pointer(poll_out specifically).

[2021-02-01 15:01] bamkrs commented on #31778
@pabigot the waiting thread is mostly the thread that is interrupted by the IRQ. A legacy library forces us to send some data over SPI to the PHY and runs into the semaphore. When the PHY has an answer, it pulls an interrupt pin which finally calls the semaphores "give". One thing to mention is that the ISR is incredibly long (does another SPI-Call) by design (poor design choices of the legacy lib

[2021-02-01 15:10] rlubos opened #31829 "net: lwm2m: Update IPSO objects to version 1.1"
Zephyr LwM2M implementation has a non-standard extension, which adds the `Timestamp` resource to several IPSO objects: https://github.com/zephyrproject-rtos/zephyr/commit/caa06c9c48b9f32c80e63ddf3ac1332aef74d35f

Currently though, all IPSO objects that utilize this feature have an updated specification version available (1.1), which extends objects with new resources, and `Timestamp` is one of the

[2021-02-01 15:18] MaureenHelm commented on #30189
@pabigot can you have a look at this? it looks like you originally added this sample application

[2021-02-01 15:23] jukkar commented on #31593
I managed to see the issue (used firefox, and just kept ctrl-f5 pressed for several seconds).
What looks suspicious is that net-shell shows this loop of debug messages
[code]
I do not see anyone reading the data away, thus the net_pkt are just pending in the receive queue even if the connections have died long time ago. Did not investigate civetweb that deeply, but after the accept, it really need

[2021-02-01 16:33] mbolivar-nordic commented on #26522
Right. #30572 didn't change anything with regard to how the list of shields is populated, so it has no effect on this issue.

[2021-02-01 16:39] mbolivar-nordic commented on #19582
I assume it is still valid. I think https://docs.zephyrproject.org/latest/application/index.html might be a better place to document this, but I defer to @tejlmand .

[2021-02-01 16:45] micnet49 opened #31835 "Type conflict (uint32_t) vs. (uint32_t:7) leads to overflow (276 vs. 20)"
https://github.com/zephyrproject-rtos/zephyr/blob/fc140d86161b69f4485636abb9e9bd464e144bf6/drivers/dma/dma_mcux_edma.c#L242 and
https://github.com/zephyrproject-rtos/zephyr/blob/fc140d86161b69f4485636abb9e9bd464e144bf6/drivers/dma/dma_mcux_edma.c#L245 use a variable as third argument which is derived from the structure element `dma_slot` of [`struct dma_config`](https://github.com/zephyrproject-rt

[2021-02-01 16:52] RAlexeev opened #31836 "Correct values of _msg_len arg in BT_MESH_MODEL_PUB_DEFINE macro"
I ask about some explanation for choosing the correct values for **_msg_len** arg in [BT_MESH_MODEL_PUB_DEFINE](https://developer.nordicsemi.com/nRF_Connect_SDK/doc/1.4.2/zephyr/reference/bluetooth/mesh/access.html#c.BT_MESH_MODEL_PUB_DEFINE) macro, which defines the length of the publication message. As I understand, it should be exactly the length of Access payload (_3.7.3 Access payload, Mesh P

[2021-02-01 17:11] MaureenHelm commented on #30649
Please try enabling the pull down. I was able to make `samples/basic/button` work with this pin with the following changes:

[code]

[2021-02-01 17:43] dcpleung commented on #31799
I think it would be better to extend the API to support 9 bit transfers, for example, using `uint16_t` instead of `uint8_t` for buffer type. So I think adding new API functions to do `uint16_t` when some kconfig is enabled would be the way to go.

[2021-02-01 18:20] andyross commented on #31726
There is a workaround now in #31841 that works to make all tests on this platform pass.  It uses 4 MHz as the clock rate, but as mentioned changes only the Zephyr kconfig because I don't know how to change the clock rate in renode.

@ajelinski You can set the value to 66000000 yourself and run the tests using twister.  Lots and lots fail with timeouts, they simply take too long.  The reason is tha

[2021-02-01 18:26] andyross commented on #30408
There's a workaround patch (a full fix requires some work with renode configuration) at #31841

[2021-02-01 19:50] zisisadamos commented on #31799
I was thinking about casting the pointer according to configuration. That would only require poll_write to change.

[2021-02-01 20:05] #31627 closed

[2021-02-01 20:33] dcpleung commented on #31799
The send/receive functions all takes 8-bit character or 8-bit byte array so 9-bit data cannot be sent through them. That's why I think we will need a new set of API which takes `uint16_t` or `uint16_t *`. New APIs also avoid the issue with changing current stable API. Also avoid using `uint16_t` if the app only ever needs 8-bit to save a few bytes for buffers.

[2021-02-01 20:38] zisisadamos commented on #31799
All of them except uart_poll_out accept pointers. So if driver does cast uint8_t* to uint16_t* based on configuration why do we need to change APIs? We can only change uart_poll_out to accept a pointer instead of an actual value. Then driver can handle it internally.

[2021-02-01 21:42] nashif commented on #31819
@lyakh  can you check what is going on?

[2021-02-01 21:50] nashif commented on #31797
are we going to start filing bugs against release notes that are WIP and part of the release process? Most of the sections of document are still empty and now is the time to start filling those, if the kernel section is not ready by rc3, file a bug please or reopen this.

[2021-02-01 21:50] #31797 closed

[2021-02-01 21:58] carlescufi commented on #28872
@Cimex97 that failing `k_sem_take` you are getting is due to the controller not replying to a command. As to why it is not responding, the most likely reason is a UART driver problem. Could you post a full logic analyzer trace of the whole exchange, and, if possible, a transcription of the trace as bytes going to the controller and coming from the controller?

[2021-02-01 22:05] dcpleung commented on #31799
Conceptually, the array represents a series of datum to send or receive. In 8-bit mode, it's just an array of 8-bit characters. When the driver arbitrarily type casts the input, it becomes less clear on what is expected from the app. Does one datum occupy 2 bytes? Or do you pack multiple 9-bit data continuous into the array? I simply wish the API to be straight-forward, so app developers do not ha

[2021-02-01 22:06] joelwesterberg opened #31847 "BT ISO channel. error value set, but not returned."
https://github.com/zephyrproject-rtos/zephyr/blob/0ab1372b7c87ec9be74db567ee526e51d2728aa1/subsys/bluetooth/host/audio/iso.c#L453-L466

err set to -EIO, but function returns 0.

[2021-02-01 22:09] stoberblog commented on #31210
So I also have a project working on the nRF52840 however, I had to implement: ram retention  (nordic specific), determining wake up reason  (nordic specific - I wanted to join on a real restart and continue session upon wake up) and create extra LoRaMac wrapper code so I could access the internal LoRaMac context (as per https://github.com/Lora-net/LoRaMac-node/issues/678), which I then used to wri

[2021-02-01 22:21] carlescufi commented on #31308
Yep, this seems like the same issue. Closing, please reopen if this has not solved it.

[2021-02-01 22:21] #31308 closed

[2021-02-02 00:19] jenmwms commented on #31668
This was fixed in https://github.com/zephyrproject-rtos/zephyr/pull/31740 (mis-tagged so did not auto close the issue)

[2021-02-02 00:19] #31668 closed

[2021-02-02 00:53] stoberblog opened #31853 "Devicetree API - Getting GPIO details from pin"
**Is your enhancement proposal related to a problem? Please describe.**
I'm hoping there could be documentation (or an implementation if required) to allow extraction of GPIO details from a pin defined in the device tree.

Devices such as uart declare pins using a number such as <34>. In the case of the nrf52840, this translates to P1.02. I'm hoping there is a device tree API that can extract the

[2021-02-02 01:33] #31680 closed

[2021-02-02 01:44] #31735 closed

[2021-02-02 01:50] chen-png commented on #31817
need to make some jumpers setting to change to use I2C01 port according to the README.txt file in tests/boards/mec15xxevb_assy6853/i2c_api/, this will be passed.

[2021-02-02 03:00] Zhaoningx commented on #31579
The bug is still existing, so re-open this issue.

[2021-02-02 03:02] pabigot commented on #31579
Are you sure you don't have a sam_e70b_xplained?  That is not the same board as sam_e70_xplained, though that's what it's called.

[2021-02-02 03:03] Zhaoningx commented on #31579
Hi @pabigot , yep, I have sam_e70_xplained board, it will failed when I run tests/subsys/logging/log_core, and I used another sam_e70_xplained board, the bug is still existing.

[2021-02-02 03:03] pabigot commented on #31579
Run the same test with `sam_e70b_xplained`.

[2021-02-02 03:10] Zhaoningx commented on #31579
You are right, the test is passed using sam_e70b_xplained

[2021-02-02 03:16] Dream-math opened #31854 "undefined reference to `sys_arch_reboot'"
When I build my own application, it gets error during linking to generate `zephyr_prebuilt.elf`
[code]
but with the same prj.conf file it works in `sample/hello_world`, there are no errors. I try to find the differences of this two applications

my application:
[code]
hello world
[code]
still can't solve it, can anybody help me, thanks!

[2021-02-02 05:26] chen-png commented on #31817
tested after jumper setting according to README.txt file, it was passed.

*** Booting Zephyr OS build v2.5.0-rc1-191-g8595a390a7b5  ***
Running test suite i2c_test
===================================================================
START - test_i2c_pca95xx
 PASS - test_i2c_pca95xx
===================================================================
Test suite i2c_test succeeded
====================

[2021-02-02 05:26] #31817 closed

[2021-02-02 05:29] JordanYates opened #31856 "power: `device_pm_get_sync` not thread-safe"
**Describe the bug**

When N threads are both requesting the same device to turn on via `device_pm_get_sync`, it is possible that only one of those threads will ever return from the call. The problem is in the synchronous path of the underlying `device_pm_request` function.

After early exiting on two conditions (requesting active state with a negative usage count, and requesting sleep state with

[2021-02-02 05:39] stoberblog opened #31857 "UART de-initilisation and re-initilisation"
**Is your enhancement proposal related to a problem? Please describe.**
I would like to during run time de-initialize (de-configure) the uart, and later re-initilise (re-configure) the uart. Initilisation of uart seems to be done on startup and there does not seem to be any api to allow de-configuring and re-configuring the uart after boot.

My reason for this is that I am implementing SDI-12 and

[2021-02-02 06:49] lyakh commented on #31819
@nashif Signing using `west sign` didn't work whereas signing calling `rimage` manually worked, so, looks like scripts have to be fixed. I see @KangJianX has assigned this to himself, so I think he is of the same opinion.

[2021-02-02 07:09] KangJianX commented on #31819
@lyakh the root cause is the xman will be wrote in zephyr.ri, as my understanding, we run kernel testing not use SOF's way to load image by kernel DSP driver, so it do not need the xman in zephyr.ri and it cause check the image failed from SOF. I will add a option in sign.py to control if we need xman or not, what do you think of?

[2021-02-02 07:18] RAlexeev commented on #31853
+1
Such kind of matching that P1 has 32 pins offset from P0 ("Pa.b translates to pin a*32 + b") is not obvious. One day I struggled with the same question, and Nordic support also said "It is a bit confusing with arduino pin number given here in nRF52 dk dts file."

[2021-02-02 07:19] lyakh commented on #31819
@KangJianX but you did use the "-e" option when you ran `rimage` manually, so you did force it to generate the extended manifest. Can you see what exactly the `rimage` command line is when run from the `west sign` command?

[2021-02-02 07:26] hongshui3000 opened #31858 "xtensa crt1.S hard coding"
**Describe the bug**
file:  arch/xtensa/core/crt1.S
[code]

**15 should be replaced with XCHAL_EXCM_LEVEL ？？？？**

[2021-02-02 07:54] ioannisg commented on #31778
@bamkrs is it possible that the Interrupt stack overflows?
Also, would be nice to show us the prj.conf (ideally, autoconf.h as well) to see if there's something in the configuration that might be responsible for what you observe.

[2021-02-02 08:20] KangJianX commented on #31819
Yes, use 'west sign' will show a command, it is same with run by manually. The difference is script will has a additional process like this:
`filenames = [out_xman, out_bin]
with open(out_tmp, 'wb') as outfile:
...
...`
Those code will write xman to zephyr.ri.

[2021-02-02 08:35] lyakh commented on #31819
@KangJianX ok, so you want to add a parameter to `west sign` to avoid that? Got it, thanks!

[2021-02-02 08:38] KangJianX commented on #31819
@lyakh Yes, I want add a option to avoid this after signing with rimage. Do you think it is make sense?

[2021-02-02 09:23] lyakh commented on #31819
@KangJianX sure, if it fixes your problem and doesn't change the default behaviour I don't see a problem with that.

[2021-02-02 09:34] Dream-math commented on #31854
It seems the error gets with multiple qemu simulated boards, it works on qemu_x86. Does it mean `sys_arch_reboot` need to be supported by soc, for example qemu_riscv32?

[2021-02-02 09:59] joerchan commented on #31467
Great. If the application is to be paired with multiple peers then the MAX_PAIRED needs to be increased to support this.
When flashing the board the bond storage might remain in flash (use `west flash --erase`  to delete entire flash).

The sample is using the default of 1 connection and 1 bond, I don't see a reason to change this, so I'll close this issue as everything seems to be resolved.

[2021-02-02 09:59] #31467 closed

[2021-02-02 10:28] ioannisg commented on #31235
Looks like the case with CPU_HAS_VTOR=y and XIP=n has not been changed, since it was originally introduced long time ago, in https://github.com/zephyrproject-rtos/zephyr/pull/5988/

[2021-02-02 10:43] bamkrs commented on #31778
@ioannisg oh, this is an interesting idea. I have to check this. I try to get back to this issue later that day.

[2021-02-02 10:58] xhpohanka commented on #31593
Hi @jukkar,
the suspicious state from previous comment appears when the app is running out of free file descriptors. Civetweb is probably hanging this wrong. I cannot reproduce it when I increase the `CONFIG_POSIX_MAX_FDS` to some higher number (48).

I noticed that your fixes were merged to master so I rechecked my app again against actual master. It is much better, however I was still able to se

[2021-02-02 11:00] enjiamai commented on #31339
duplicate of #31419 ,  so close it.

[2021-02-02 11:00] IRISZZW opened #31867 "samples/scheduler/metairq_dispatc failed on iotdk boards"
**Describe the bug**
samples/scheduler/metairq_dispatc failed on iotdk boards

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b iotdk -d build samples/scheduler/metairq_dispatc
2. west flash
3. See error

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: (Linux)
 - Toolchain (Zephyr SDK)
 - Commit SHA (v2.5.0-rc1-196-g1ee82a1c

[2021-02-02 11:00] #31339 closed

[2021-02-02 11:21] ioannisg commented on #31235
@GrixaYrev is there some specific in-tree sample or test you want to run with XIP=n

[2021-02-02 11:38] #31835 closed

[2021-02-02 11:40] PerMac opened #31868 "twister: Raise error/warning when non-existing platform called"
**Is your enhancement proposal related to a problem? Please describe.**
When twister is called for an unexisting platform it will just report, that 0 tests were executed. Apparently, this can cause issues in internal CI plans. If a platform name changed, it was removed or typo was made, it can result in not detecting such changes in the CI as currently no error/warning is raised.

**Describe the s

[2021-02-02 11:43] micnet49 commented on #31835
According to the reference manual **i.MX RT1060 Processor Reference Manual, Rev. 2, 12/2019**, section _5.6.1.2 Channel a Configuration (CHCFGa)_ only the lower 7 bits are relevant for the source selection (_DMA Channel Source (Slot Number)_).
However, it has been confusing to me.

[2021-02-02 11:45] PerMac commented on #31868
@nashif @galak Is there any reason why no warning/error is raised in the above case? Any objection against adding such a warning?

[2021-02-02 11:46] pabigot commented on #31778
I'm not sure how a stack overflow could explain this, but I'm very skeptical that it's due to a bug in the semaphore implementation.  I believe it *could* be, but it's more likely something else.  Can you also run with `CONFIG_ASSERT=y` and see if that changes anything, or identifies a problem?

If you provide config data the `.config` file in the `build/zephyr` directory is the most complete/self

[2021-02-02 12:09] jukkar commented on #31593
Yep, I saw that too but it does not look it comes from tcp as I wrote in mail earlier comment. After the TCP has received the data, it is put the socket receive queue. If no one is reading that queue, we basically have a "leak". And it looked like that from my limited testing.

[2021-02-02 12:15] #31524 closed

[2021-02-02 12:31] ioannisg commented on #31778
If the interrupt stack overflows (for which we have no guard on ARMv7-m) it might corrupt thread data and nullify the semaphore content. Unlikely but worth looking at it.

[2021-02-02 12:51] ioannisg commented on #31235
@GrixaYrev  https://github.com/zephyrproject-rtos/zephyr/pull/31872 , please, see if this simple fix makes sense.

[2021-02-02 12:53] GrixaYrev commented on #31235
@ioannisg is not, I use my custom project. In additional VTOR it is need to set custom MPU regions, because SRAM is not executable by default in `zephyr\soc\arm\common\cortex_m\arm_mpu_regions.c`.

[2021-02-02 13:01] ioannisg commented on #31235
OK, fine but this is another issue - not part of the ticket here.
(FYI vector table fetches do not suffer from MPU settings)

I wanted to check with you whether #31872 is in the right direction, in your opinion.

[2021-02-02 13:09] #29994 closed

[2021-02-02 13:12] GrixaYrev commented on #31235
@ioannisg, I have tested `ioannisg:arch_arm_cortex_m_non_xip_vector_fix`, it's OK. VTOR have actual value now, i have checked with jLink debugger on i.MX RT1052.

[2021-02-02 13:15] #31258 closed

[2021-02-02 13:18] #31433 closed

[2021-02-02 13:35] nashif commented on #31867
duplicate if #31789

[2021-02-02 13:35] #31867 closed

[2021-02-02 13:36] nashif commented on #31789
@andyross FYI

[2021-02-02 13:39] nashif commented on #30276
seems to be fixed already.

[2021-02-02 13:39] #30276 closed

[2021-02-02 13:41] nashif commented on #30101
after enabling overflows as errors, the only 2 platforms getting errors are with very low RAM indeed, so we are not missing much coverage, so lowering priority.

[2021-02-02 14:01] galak commented on #31726
Is there not some mode or option to have renode deal with simulated time differently?  Feels like most simulators have something along those lines, so you can have the software set the time to match real hardware, but have simulated time be something sane.

[2021-02-02 14:12] ioannisg commented on #31721
will take a look

[2021-02-02 14:23] #31562 closed

[2021-02-02 14:26] pabigot commented on #31087
#31850 shows how to do RAM retention on a per-application basis.  Infrastructure support requires significantly more effort, even if it's Nordic specific (and it probably should not be).

[2021-02-02 15:16] pablogs9 commented on #28124
@pabigot @MaureenHelm any update on this?

[2021-02-02 15:27] thedjnK opened #31876 "west signing seems to be broken on windows"
**Describe the bug**
Trying to build a signed image, after running ninja it fails at the signing step with an error that %1 is not a valid win32 application and no signed image is created

**To Reproduce**
Steps to reproduce the behavior:
1. Build project with signing enabled and setup (I used philospher example, I used ninja menuconfig to enable mcuboot support, add the sample key file and enable

[2021-02-02 15:47] tejlmand commented on #26522
Seems you're right, my bad for not noticing that this wasn't fixed by your cleanup.

This issue is fixed here: #31877

[2021-02-02 15:49] joelrietzle commented on #25956
Hello,
I have a similar issue as this one. I want to include the nRF SDK in order to obtain features from those libraries. I am creating a CMakeLists.txt file for my nrf5_SDK_15.2.0 directory in order to build. I am using target_include_directories(app PRIVATE ${CMAKE_CURRENT_SOURCE_DIR}/examples) as that's one of the directories that I need to include, among others.

The issue I am facing now is

[2021-02-02 16:02] PerMac commented on #31721
I think this test is unstable in fact. It eventually passes after some retries

[2021-02-02 16:11] pabigot commented on #28124
Not to my knowledge.

[2021-02-02 16:49] cederom commented on #31433
Thank you! :-)

[2021-02-02 16:50] nashif commented on #31579
@Zhaoningx please confirm what board you have exactly, this is starting to get confusing. I have rev A and the test passes just fine.

[2021-02-02 17:10] nashif commented on #28942
Can't reproduce.

[2021-02-02 17:10] #28942 closed

[2021-02-02 17:31] nashif commented on #31868
submit a PR please.

[2021-02-02 17:39] nashif commented on #31137
we stopped doing this long time ago, you get this with the last release tag..

[2021-02-02 17:39] #31137 closed

[2021-02-02 18:13] carlescufi commented on #31876
@thedjnK what exact commands did you run? Could you please document those here so that we can try to reproduce?

[2021-02-02 18:13] mbolivar-nordic commented on #31876
@thedjnK I think what's going on here is that you neither have `imgtool` installed via pip3 nor have the registry setup to run `.py` files as executables.

Without imgtool installed from `pip3`, west sign will run the imgtool.py script in the mcuboot repository. If Windows is not configured to run the correct interpreter for a `.py` file, you'll get this error.

python.org says that the default in

[2021-02-02 18:14] mbolivar-nordic commented on #31876
@nashif consider changing to priority low based on the above diagnosis

[2021-02-02 18:14] carlescufi commented on #31876
Done now.

[2021-02-02 18:27] thedjnK commented on #31876
@mbolivar-nordic I've checked and python files are associated with python 3.7, if I create an empty .py file and run it, I get the python console open and close very quickly. I didn't have imgtool installed via pip as I assumed it would use the bundled version with zephyr as it used to do in zephyr 1.x, so I've installed imgtool via pip and I'm still getting the same result:

[code]

[2021-02-02 18:28] mbolivar-nordic commented on #31876
Did you try with a pristine build? I can no longer reproduce the error on my windows machine after installing imgtool.

[2021-02-02 18:30] thedjnK commented on #31876
Exact commands were:

1. mkdir build
2. cd build
3. cmake -GNinja -DBOARD=<our_board> ..
4. ninja menuconfig
5. *mcuboot support was selected and confirmed image was selected, the mcuboot key file was also added and configuration was saved*
6. ninja
7. *build failed with above error*

[2021-02-02 18:31] mbolivar-nordic commented on #31876
I'm building hello_world successfully with this command after running `pip3 install imgtool`:

[code]

The above comes from the west sign docs here:

https://docs.zephyrproject.org/latest/guides/west/sign.html

Can you try that, to see if perhaps it's a Kconfig issue?

[2021-02-02 18:32] thedjnK commented on #31876
@mbolivar-nordic Ah yes, after clearing the build directory and re-generating it, it's now building and signing, thank you

[2021-02-02 18:57] carlescufi commented on #29790
Looking at this now @nashif

[2021-02-02 18:58] pabigot commented on #31642
@alexanderwachter This looks like a real bug, in that `sjw` can be garbage in the return value.  Can you take a look at it, we need to get some medium priority bugs fixed quickly.

[2021-02-02 18:59] #30434 closed

[2021-02-02 19:00] #30378 closed

[2021-02-02 19:01] #31485 closed

[2021-02-02 19:01] #27829 closed

[2021-02-02 19:08] #31800 closed

[2021-02-02 19:17] pabigot commented on #31663
Dismissed as false positive: the condition can't happen because zassert_equal() prevents it.

[2021-02-02 19:17] #31663 closed

[2021-02-02 19:28] pabigot commented on #31856
The current implementation also uses atomics incorrectly, and fails to lock to protect access to many values, including the `enable` field.

The whole logic in `device_pm` must be revisited, potentially replaced by use of an on-off manager, which precisely handles transitions between an on and off state regardless of number of requesters and context.

[2021-02-02 19:48] nandojve commented on #31579
Just to clarify, A and B means IC revision and not board revision. So, B IC's fixes some A problems and need look at errata docs.
In fact, you can buy a B LQFP and replace A chip in the DevKit.

![image](https://user-images.githubusercontent.com/7027887/106653677-e3103000-6575-11eb-82ca-a2bca0580e3c.png)

to make sure:
![image](https://user-images.githubusercontent.com/7027887/106654106-721d4800-6

[2021-02-02 19:54] pabigot commented on #31673
2021-02-01 00:53:27 (change by chrisfriedt@gmail.com) Classification:	Unclassified	→	False Positive

[2021-02-02 19:54] #31673 closed

[2021-02-02 19:55] pabigot commented on #31647
2021-02-02 19:55:23 (change by pab@pabigot.com)
Classification:	Unclassified	→	False Positive
Comment:
The sizeof() parameter in k_alloc_aligned() has nothing to do with the size of the pointed-to object.

[2021-02-02 19:55] #31647 closed

[2021-02-02 19:56] pabigot commented on #31645
2021-02-02 19:56:17 (change by pab@pabigot.com)
Classification:	Unclassified	→	False Positive
Comment:
The sizeof() parameter in k_alloc_aligned() has nothing to do with the size of the pointed-to object.

[2021-02-02 19:56] #31645 closed

[2021-02-02 20:24] pabigot commented on #31674
2021-02-02 20:24:22 (change by @pabigot)
Classification:	Unclassified	→	Intentional
Comment:
This is supposed to dereference a null pointer.

[2021-02-02 20:24] #31674 closed

[2021-02-02 20:27] pabigot commented on #31648
2021-02-02 20:26:49 (change by @pabigot)
Classification:	Unclassified	→	False Positive
Comment:
This is gonna happen when size_t is 32 bits.

[2021-02-02 20:27] #31648 closed

[2021-02-02 20:36] andyross commented on #31789
Can you try #31841 ? That fixes an edge case where a pre-existing bug with slice timeouts got exposed by the fix you bisected to. I was seeing that fail with non-standard clock rates on a renode riscv platform and the tickless_context test.  But it's not impossible it's the root cause here too.

[2021-02-02 20:53] mbolivar-nordic commented on #31876
@thedjnK could you please test that #31890 fixes your issue even with `imgtool` uninstalled (`pip3 uninstall imgtool`) with a pristine build directory?

[2021-02-02 21:07] #31853 closed

[2021-02-02 21:45] #30591 closed

[2021-02-02 21:46] #31733 closed

[2021-02-02 21:46] #30189 closed

[2021-02-02 21:49] thedjnK commented on #31876
@mbolivar-nordic tested and that patch resolves the issue, thank you

[2021-02-02 21:54] ceolin commented on #30192
That is not the same error message, I'd used `cc1352r1_launchxl` to fix the first report that was consistently happening there as well. But this one I'm not being able to reproduce. It seems though that the stack is being corrupted, would mind to test in this board with the following option:
`CONFIG_IDLE_STACK_SIZE=2048`

[2021-02-02 22:00] mbolivar-nordic commented on #31876
Thanks for testing!

[2021-02-02 22:58] #30315 closed

[2021-02-02 22:58] #31789 closed

[2021-02-02 22:58] jenmwms commented on #28551
I suspect we are reading the incorrect address, but still investigating. The offset seems to have something to do with it based on testing above (both pins with 32-bit offset encounter issue.)

[2021-02-02 22:58] #29590 closed

[2021-02-02 22:59] #28014 closed

[2021-02-02 22:59] #31876 closed

[2021-02-03 00:04] Zhaoningx commented on #31579
Hi @nashif @nandojve , thanks for your comments, it's my mistake and my board is sam_e70b_xplained not sam_e70_xplained, and it passed to test, so closed this.

[2021-02-03 00:04] #31579 closed

[2021-02-03 00:05] #26522 closed

[2021-02-03 00:06] stoberblog commented on #31857
I've found that sending breaks is actually a standard use of UART in some circumstances and so probably this could be implemented instead (modorator's may want to change the issue title?).

According to this post in Nordic's devzone (https://devzone.nordicsemi.com/f/nordic-q-a/51615/send-uart-break), one way to do this (without requiring a reconfigure of the pin), is to set the baud quite low (dep

[2021-02-03 01:13] MaureenHelm commented on #30540
Is this still an issue? I don't have a `nucleo_f429zi` board, but I tried to reproduce with `mimxrt1064_evk` and it seems to work on v2.5.0-rc1

[code]

where the contents of `tracing_rtt.overlay` are:
[code]

Then run `west debug` and in a second terminal:

[code]

[2021-02-03 01:13] #29977 closed

[2021-02-03 01:56] pabigot commented on #28819
The fix has been waiting for review and merge for 2 x 60 days already.

[2021-02-03 02:29] #30330 closed

[2021-02-03 04:56] manoj153 opened #31900 "Out of tree user API auto documentation support part of Zephyr's offering"
I have discussed this feature in slack and people confirmed this is not part of the zephyr ecosystem. I think this is a useful feature that would enhance the development experience. The idea is to document all the user introduced API and possibly source codes in multiple directory levels.

I am an intermediate embedded C programmer to set up doxygen, breathe and sphinx along with CMake wasn't easy

[2021-02-03 05:12] katsuster commented on #31854
Thanks for reporting. Additional information.

**Reproduce this issue**
Set CONFIG_REBOOT = y with qemu_riscv32/64 boards. If something got wrong please tell me.

[2021-02-03 05:27] katsuster commented on #31854
I hope PR #31901 fixes this issue.

[2021-02-03 06:44] Dream-math commented on #31854
@katsuster thanks for your help, it does help to make the build work, but when I run my application, it will not exit normally, it just hangs out, I can only quit by Ctr+C, I am using a third library which finishes running by call sys_reboot, and when the board is qemu_riscv32, it can not quit right now. Thanks anyway.

[2021-02-03 07:33] bamkrs commented on #31778
I can most definitely rule out an SO in the ISR. Since it was a showstopper for us I did some refactoring of the legacy-code and offloaded the ISR work in an work-queue. The workqueue does work happily with a stacksize of 896. My ISR stacksize was at 2048 and I can not imagine the ISR handler implementation of nRF does require more than 1152 bytes.

Since I refactored the work to an workqueue, eve

[2021-02-03 07:53] ioannisg commented on #31721
I can't reproduce this @PerMac , are you sure you keep seeing the error?
I am on Zephyr v-2-5-0 -rc2

[2021-02-03 07:54] ioannisg commented on #31721
My suggestion is to close this ticket.

[2021-02-03 07:58] ioannisg commented on #27471
@nashif FYI, i guess we'll release v2.5.0 with this bug - none of the proposed solutions made it into the release.

[2021-02-03 07:59] ioannisg commented on #31616
will take a look

[2021-02-03 08:16] Ripitchip opened #31905 "Question : Friend & Low power node with nRF52840"
Good morning,

I tried to setup a low power node and a friend with two nRF52840 and it doesn't seem to work. Any indication would be helpful.

For this, I used the [onoff-app](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/boards/nrf/mesh/onoff-app) as base project, and changed the Kconfig as follow :

**To Reproduce**
For the low power node :
[code]

For the friend :
[code]

**L

[2021-02-03 08:28] ioannisg commented on #31721
It does not fail for me (but i only tested gnu arm embedded)

[2021-02-03 08:36] lmaciejonczyk opened #31907 "settings: Unhandled error in NVS backend"
**Describe the bug**
I we try to store data which exceeds the available size the NVS settings backend returns success but fails in real.

**To Reproduce**
Call: settings_save_one( path, p_data, **INT_MAX** )
Tested on: nrf52840dk_nrf52840 with SETTINGS_NVS enabled

**Expected behavior**
The function: settings_nvs_save() should return failure code but instead it returns ok.

**Impact**
Unit tests a

[2021-02-03 09:01] Cimex97 commented on #28872
I traced it with the logic analyzer and realized that the ESP32 does not answer. After I enable the hw-flow-control and set the CTS/RTS pins in the device tree it just works. Many thanks for your support.
[code]

**Note**: I have to disable *BT_HCI_ACL_FLOW_CONTROL*. Maybe the ESP32 does not support that.

[2021-02-03 09:05] erwango commented on #28872
@Cimex97 Thanks for this news! Let me know if I can close the issue.

[2021-02-03 09:05] #28872 closed

[2021-02-03 09:17] trond-snekvik commented on #31836
Hi, generally, these samples only allocates the buffer space they need, and not the maximum theoretical length of the message. In the onoff-app sample, none of the models use the full message length as defined by spec. As you point out though, the onoff server's publish parameters could be reduced to `2 + 1`, since it only adds one byte of data in addition to the opcode.

In the lighting sample, w

[2021-02-03 09:19] PerMac commented on #31721
I still see this with  v-2-5-0 -rc2 Sometimes  some scenarios from this test pass, but most of the time at least one will fail and it is always an issue with `realtime` test case

[2021-02-03 09:46] trond-snekvik opened #31911 "Bluetooth: Mesh: Network buffer overflow on too long proxy messages"
The network decode function does not check the max length of the input mesage, which can exceed the spec-mandated 29 bytes when coming from the proxy module. This can overflow the decode `out` buffer, which is defined as 29 bytes in proxy and net_recv.
By default, this will assert in net/buf.c, but if netbuf asserts are disabled, this will overflow the target buffer on stack.

Fixed by #31909.

[2021-02-03 10:08] erwango opened #31912 "STM32: Configure MCO pin through device tree pinctrl"
**Is your enhancement proposal related to a problem? Please describe.**
When enabling MCO1 or MCO2 (CONFIG_CLOCK_STM32_MCO1/2_SRC_FOO), a specific pin need to be configured using  pinctrl.
For instance, today, besides the CONFIG setting, the following should be added in a board dts:
1- Provide the pin configuration:
[code]
2- Add this pin to a pinctrl list, so this setting applied:
[code]

**Descr

[2021-02-03 10:35] RAlexeev commented on #31836
Hi, Trond!

Many thanks for your perfect explanation, as ever! Now it seems that I understand the meaning of this argument completely. One extra allocated byte confused me. I was also puzzled because of another Bluetooth mesh app implementation for ESP-IDF, where they allocated only "2 + 1" bytes for Generic OnOff Client https://github.com/espressif/esp-idf/blob/release/v4.2/examples/bluetooth/esp

[2021-02-03 10:37] carlescufi commented on #30031
@erwango could you take a look please?

[2021-02-03 10:37] katsuster commented on #31854
OK, QEMU riscv-virt pc machine mode can reboot by writing special register.
I can add it by another PR...

[2021-02-03 10:39] xhpohanka commented on #30031
I think, this is solved. It was causd by my misunderstanding of the subsystem

[2021-02-03 10:39] #30031 closed

[2021-02-03 10:49] erwango commented on #31711
@edesta-be Could you have a check to the answer from @shlomow and provide feedback please ?

[2021-02-03 10:53] tejlmand commented on #19582
This is still valid, but instead of just documenting this, I think it's better to issue a warning if the user tries to use `zephyr_library()` after `find_package(Zephyr)` completes, and then in future we can remove the possibility.

[2021-02-03 10:54] erwango commented on #31799
@zisisadamos @dcpleung I propose we create a dedicated UART API issue for the 9 bit support.
https://github.com/zephyrproject-rtos/zephyr/pull/31798 could be pursued but requires rework.

[2021-02-03 10:54] trond-snekvik commented on #31836
Np! Closing as resolved as the question is answered. Please reopen if you need additional clarification on this topic.

[2021-02-03 10:54] #31836 closed

[2021-02-03 10:57] erwango opened #31914 "uart: Add support for 9bit API"
**Is your feature request related to a problem? Please describe.**
Cf discussion in https://github.com/zephyrproject-rtos/zephyr/issues/31799

**Describe the solution you'd like**
"The send/receive functions all takes 8-bit character or 8-bit byte array so 9-bit data cannot be sent through them. That's why I think we will need a new set of API which takes uint16_t or uint16_t *. New APIs also avoi

[2021-02-03 11:01] carlescufi commented on #29440
OK, then we will fix this particular case.

[2021-02-03 11:03] carlescufi commented on #29713
Adding @mbolivar-nordic  since this probably requires extending our current DT tooling to support this particular case.

[2021-02-03 11:07] carlescufi commented on #30074
@caco3 do you have any spinlocks defined in your own code? if so, are they automatic variables or globals?

[2021-02-03 11:15] katsuster commented on #31854
Add PR #31918. I hope this helps.

[2021-02-03 11:23] Dream-math commented on #31854
DO I need to add this new PR based on the old one? or recover the old one firstly, use this new alone? Thanks!

[2021-02-03 11:51] katsuster commented on #31854
I checked on adding #31918 after #31901.
But I think #31918 will work alone and fine.

[2021-02-03 12:10] JordanYates opened #31920 "BME280: Use of deprecated `CONFIG_DEVICE_POWER_MANAGEMENT`"
**Describe the bug**

The BME280 driver is still using the deprecated Kconfig symbol `CONFIG_DEVICE_POWER_MANAGEMENT`.
https://github.com/zephyrproject-rtos/zephyr/blob/086503abd5d13785b47841f3a131f7baf91cc694/drivers/sensor/bme280/bme280.c#L80

This appears to be the only remaining use in-tree of this symbol:
https://github.com/zephyrproject-rtos/zephyr/search?q=CONFIG_DEVICE_POWER_MANAGEMENT

**

[2021-02-03 12:37] edesta-be commented on #31711
I apologise! I did not see this! I will respond asap when I get to my setup!

my apologies and thank you for your time!

[2021-02-03 13:02] pabigot opened #31921 "west flash not working with pyocd"
As of commit 3204554841db8e51fd06f8ba47f73bcdaea05fe9 from #31881 I get the following failure:

[code]

[2021-02-03 13:02] mkarhumaa opened #31922 "hci_usb: HCI ACL packet with size divisible by 64 not sent"
**Describe the bug**
I am using Zephyr's hci_usb application as Bluetooth LE dongle. I noticed that when trying to send HCI ACL packet which size is divisible by 64 (`size % 64 == 0`), packet is not actually never passed from USB stack to Bluetooth device class driver and therefore the packet won't be send over the air.

In `hci_usb` application Zephyr does USB read transfer to BULK endpoint to re

[2021-02-03 13:04] erwango commented on #30943
@qin-zou Have you been able to make some progress on this ?

[2021-02-03 13:09] hidrol opened #31924 "IVSHMEM with ACRN not working"
We are trying to use the IVSHMEM Device with following setting:

**Hardware:**
EHL A0 Board

**Software:**
Logical Partition Mode with Yocto

**VM0:**
Zephyr

**VM1:**
RT Linux

The xml scenario file regarding ivshmem looks like this:

[code]

**Zephyr prj.conf file:**

[code]

**Zephyr Kconf in drivers/virtualization:**

[code]

**Zephyr user application c code:**

[code]

When we run this applic

[2021-02-03 13:34] pabigot commented on #29991
PR #31925 addresses the reported issue and would close this.  However, there are a variety of additional problems with that sample, and with several drivers, that mandate further attention early in 2.6, including:

* Both sifive and gecko should return `-ENOTSUP` on the attempt to configure a callback on `RESET_SOC` since they don't support that configuration, and the documentation says that unsup

[2021-02-03 13:36] #31259 closed

[2021-02-03 13:37] #31907 closed

[2021-02-03 13:37] #29034 closed

[2021-02-03 13:39] a1ien opened #31928 "usb loopback not work on nrf52840"
**Describe the bug**
I try run `testusb` samples and simple program with libusb. But only can write to device. Reading from device fail with timeout. And event not call https://github.com/zephyrproject-rtos/zephyr/blob/67f43119be9485844219bb38025f9e49d37da0bf/subsys/usb/class/loopback.c#L80

**To Reproduce**
Steps to reproduce the behavior:
1. `cmake -B usb_loopback -GNinja -DBOARD=nrf52840dongle_

[2021-02-03 13:47] JordanYates opened #31930 "uart_nrfx_uarte: `CONFIG_UART_ASYNC_API` with `CONFIG_PM_DEVICE` breaks"
**Describe the bug**

There are two breaking problems with the `uart_nrfx_uarte.c` driver.

Firstly, commit 751bdf483b0345eb4de3f424587fd5ce75ec5b25 makes `uarte_nrfx_poll_out` early exit if the device is not in the active state. This has exposed the issue that `data->pm_state` is never updated in `uarte_nrfx_set_power_state` if the async API is enabled on that instance. This issue only appears af

[2021-02-03 14:14] mbolivar-nordic commented on #31921
Sorry about that; I didn't follow the logic in this file correctly. I posted a fix now. https://github.com/zephyrproject-rtos/zephyr/pull/31935

[2021-02-03 14:44] #31207 closed

[2021-02-03 14:45] #31327 closed

[2021-02-03 14:46] pabigot opened #31937 "sample.bluetooth.peripheral_hr_rv32m1_vega_ri5cy does not build"
Showed up in https://buildkite.com/zephyr/zephyr-daily/builds/229

Local build shows additional failures:
[code]

[2021-02-03 14:46] #29790 closed

[2021-02-03 14:55] carlescufi commented on #31937
@cvinayak I took a quick look at this but I am not sure how you want to fix it.

[2021-02-03 15:13] George-Stefan commented on #31937
We can define cpu_dmb() in subsys/bluetooth/controller/ll_sw/openisa/hal/cpu.h. That's easy.

I don't see how this condition (https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/controller/ll_sw/openisa/hal/RV32M1/radio/radio.c#L1526)
#if (CONFIG_BT_CTLR_LLL_PRIO == CONFIG_BT_CTLR_ULL_HIGH_PRIO) && \
	(CONFIG_BT_CTLR_LLL_PRIO == CONFIG_BT_CTLR_ULL_LOW_PRIO)

fails since it's

[2021-02-03 15:15] pabigot commented on #31937
@George-Stefan I believe it fails because those Kconfig properties are only provided with default values for Nordic platforms.

[2021-02-03 15:18] jfischer-no commented on #31922
This is not a big problem and will not appear as long as BT_CTLR_TX_BUFFER_SIZE is not changed and BT_BUF_ACL_SIZE(32) is smaller than endpoint's MPS - 1 (63).
Error in the code is to start the transfer over BT_BUF_ACL_SIZE instead of USB_MAX_FS_BULK_MPS (`static uint8_t data[USB_MAX_FS_BULK_MPS];`) and not to use USB_TRANS_NO_ZLP flag.

IMHO BT_CTLR_TX_BUFFER_SIZE greater than 59 has no advantage

[2021-02-03 15:19] cvinayak commented on #31937
@pabigot @George-Stefan I am looking into this right now. If I dont post a PR, I will leave a comment here.

[2021-02-03 15:19] George-Stefan commented on #31937
It must be recent change as well of the config/project files?

[2021-02-03 15:22] #29440 closed

[2021-02-03 15:24] pabigot commented on #31721
I've run the reproducing command on ` v2.5.0-rc2-8-gcf946d3365` five times and all tests pass on my rev 0.8.5 nrf9160dk_nrf9160.  Perhaps it's device-specific (bad crystal)?

[2021-02-03 15:32] kestewart opened #31938 "Invalid SPDX license identifier used in file"
**Describe the bug**
An invalid SPDX license identifier is being specified in
https://github.com/zephyrproject-rtos/openthread/blob/zephyr/third_party/NordicSemiconductor/libraries/nrf_security/config/nrf-config.h

`SPDX-License-Identifier: BSD-3-Clause OR Arm’s non-OSI source license`

The phrase "Arm's non-OSI source license" is not a valid SPDX license identifier.

**To Reproduce**
The problem

[2021-02-03 15:36] #31921 closed

[2021-02-03 15:38] carlescufi commented on #31938
@kestewart what would be the correct way of expressing the dual-licensing using SPDX? To have 2 separate SPDX lines?

[2021-02-03 15:39] nashif commented on #31930
@carlescufi  please reassign

[2021-02-03 15:42] #30380 closed

[2021-02-03 15:44] #31235 closed

[2021-02-03 15:45] #31551 closed

[2021-02-03 15:54] kestewart commented on #31938
@carlescufi  The way the license expression itself is written is fine.   Problem is

`The phrase "Arm's non-OSI source license" is not a valid SPDX license identifier.`

See the link provided earlier for how to code up something that doesn't have an equivalent on
the SPDX license list.

Possibly Arm has a standard SPDX identifier they use for this license already ?

If not,   suggest you follow th

[2021-02-03 16:05] swinslow commented on #31938
From the SPDX community perspective, agreed with @kestewart -- `LicenseRef-ARM-non-OSI-source` would likely be fine as a custom identifier, and would be syntactically valid.

[2021-02-03 16:06] gregshue commented on #31900
@manoj153 I'm not sure what all you have in mind.  Consider:

1. Are you wanting to reuse/extend the structure/organization of the Zephyr documentation system?
2. Are you wanting to specify your own logo/versioning/platform name (e.g. "Breeze Platform" instead of "Zephyr Project")
3. Are you wanting to include Zephyr documentation as a distinct subset?
4. Are you wanting documentation from each di

[2021-02-03 16:06] #30037 closed

[2021-02-03 17:07] pch-jp commented on #31435
Can I vote this up?  I've been through this same situation.

[2021-02-03 17:17] PerMac commented on #31721
I will close the ticket then. Might be as you are suggesting Peter, that it is a particular board issue (if it matters I have 0.9.0 on my desk).

[2021-02-03 17:21] ABOSTM opened #31943 "drivers: flash: stm32: harmonization of flash erase implementation across STM32 series"
Flash erase implementation differ from one STM32 serie to the other:
Some, like f7 (or f4) starts by clearing CR registers except sector mask. So reset of any previous configuration
`	regs->CR = (regs->CR & (CR_PSIZE_MASK | STM32F7X_SECTOR_MASK)) | ...`
other like l4 make the opposite: clear only page mask (and keep any previous settings)
`	regs->CR &= ~FLASH_CR_PNB_Msk;`

It can be a choice of im

[2021-02-03 17:21] ABOSTM commented on #31943
^^ @erwango

[2021-02-03 17:33] evgeniy-paltsev opened #31944 "flashing not working with openocd runner"
After 3204554 commit from #31881 I get the failure on flashing images to boards with openocd runner (during twister execution)

[code]

This is how I launch 'twister':

[code]

NOTE: this isn't a duplicate of #31921 as #31935 doesn't fix this.

Tested with emsdp, iotdk, hsdk boards.

[2021-02-03 17:35] evgeniy-paltsev commented on #31944
@abrodkin , @ruuddw , @IRISZZW - FYI.

[2021-02-03 17:59] galak opened #31946 "arm,arm-timer dts compatible should be arm,armv8-timer"
The DTS compatible for the arm timer on v8 should be `arm,armv8-timer` and not `arm,arm-timer`

[2021-02-03 17:59] dcpleung commented on #31857
Does your UART controller allow you to hold the UART pins in certain state? If so, the current line control API might work for your use case in the mean time while we figure out how to do de-/re-init.

[2021-02-03 18:10] galak opened #31947 "Cleanup devicetree warnings generated by dtc"
Cleanup the following warnings:

[code]

[2021-02-03 18:10] #31508 closed

[2021-02-03 18:12] #31911 closed

[2021-02-03 18:13] ABOSTM opened #31948 "tests: drivers: spi: spi_loopback: became skipped whereas it used to be run"
**Describe the bug**
tests/drivers/spi/spi_loopback used to be passed on some STM32 boards.
It requires some harness/fixture which where implemented on automatic bench (map.yaml).

Some time ago, this test became systematically skipped for all boards
When removing fixture requirement in the test, it is passed.
So it looks like fixture mechanism has changed.
Is it bugging or something to change in

[2021-02-03 18:16] gregshue commented on #31900
@carlescufi Does this issue touch on features similar to those needed for Zephyr to integrate stand-alone `west` documentation?

[2021-02-03 18:27] #31419 closed

[2021-02-03 18:28] mbolivar-nordic commented on #29713
We can fix this with existing tooling; it will just require copy/pasting a file around in all the nRF5340 board directories. See #31950.

[2021-02-03 18:41] #31560 closed

[2021-02-03 19:16] #31937 closed

[2021-02-03 19:17] igallib86 opened #31952 "Linking fails with latest master on ARM64 platform"
Working with ARM64 platform, after rebase over latest mainline, I get the following linker error:

zephyr/kernel/libkernel.a(mmu.c.obj): in function `z_mem_manage_init':
~/zephyrproject/zephyr/kernel/mmu.c:527:(.text.z_mem_manage_init+0x9c): relocation truncated to fit: R_AARCH64_ADR_PREL_PG_HI21 against symbol `z_mapped_size' defined in *ABS* section in zephyr/zephyr_prebuilt.elf
collect2: error:

[2021-02-03 19:46] qin-zou commented on #30943
@erwango Sorry, I don't have any progress on this issue. I still see it while using dfu-util with leave option to update my board. Right now, I am just resetting the board to work around it.

[2021-02-03 20:16] galak commented on #31952
What are you building that you see this error with?

[2021-02-03 20:17] galak commented on #31952
What platform, test/application, and which toolchain?

[2021-02-03 20:51] cfriedt commented on #26999
That was easy - 15/20 platforms are passing as-is right now with that approach. I think that the stack size might be too small on some 64-bit architectures, so I'll have to increase the default.

I have not done that yet. Currently, I've mainly considered kernel mode threads.

Today I took a stab at the creating a `k_thread_stack_alloc()` function that would create a dynamic `k_object` under the a

[2021-02-03 21:08] jfischer-no commented on #31928
As described [here](https://docs.zephyrproject.org/latest/samples/subsys/usb/testusb/README.html) `samples/subsys/usb/testusb` is there to test drivers and device stack. Sample works fine on nRF52840 and passes all the tests.

Of course you can write an application that communicates with the sample. loopback is unfortunately not quite the right class name and may be confusing. In your application,

[2021-02-03 21:08] #31928 closed

[2021-02-03 21:11] andyross commented on #31018
Fix up.  This one was fun.  The proximate cause that fingered the new toolchain was that gcc is now doing some pretty fancy autovectorization of code and using SSE instructions in places it wasn't earlier.  And these were crashing on misaligned loads because our stack alignment for userspace threads was incorrect.

[2021-02-03 21:13] #31920 closed

[2021-02-03 21:26] #31944 closed

[2021-02-03 21:28] andyross commented on #31549
Cleaning up.  This is a duplicate of #31726 and the clock changed in #31841 (which can be merged, but is really a workaround that needs to be matched with simulator config) resolves it.

[2021-02-03 21:28] #31549 closed

[2021-02-03 21:28] andyross commented on #30408
Close this, as the root cause and workaround are tracked in #31726

[2021-02-03 21:28] #30408 closed

[2021-02-03 22:00] andyross commented on #30683
Cleaning up.  This is working for me now.  It's almost certain (given the test at fault) that this was a duplicate of the timeslicing bug that @ceolin merged last week.  Closing, please reopen if you have trouble.

[2021-02-03 22:00] #30683 closed

[2021-02-03 23:17] rickconrey opened #31959 "BLE firmware update STM32WB stuck in loop waiting for CPU2"
When using the Zephyr master branch, I am unable to update the firmware over BLE and McuMgr-Android. Zephyr seems to be getting stuck in a while loop in flash_stm32wbx.c at:
while (LL_FLASH_IsActiveFlag_OperationSuspended());  line 93

I am running on custom hardware and have been upgrading the RTOS from Zephyr 2.2.1 to Zephyr Master when I ran into this issue.  This previously worked on Zephyr 2.

[2021-02-03 23:45] #31018 closed

[2021-02-04 00:13] galak opened #31961 "Treat devicetree warnings as errors"
Once all DT warnings are fixed or suppressed we should treat new warnings as errors.

[2021-02-04 00:58] nashif commented on #31769
@LeiW000  can you reliably reproduce this?

[2021-02-04 00:59] galak commented on #31948
@ABOSTM what does the contents of your ../map.yaml look like?

[2021-02-04 01:05] galak commented on #31948
If I do `scripts/twister --device-testing  -c -p nucleo_f429zi -T tests/drivers/spi/spi_loopback/ -X spi_loopback -v -v`

That seems to build and try and run `drivers.spi.loopback`.  So maybe something w/regards to the map.yaml and specifying the FIXTURE.

[2021-02-04 01:55] #29713 closed

[2021-02-04 01:55] #31947 closed

[2021-02-04 02:01] chen-png opened #31964 "up_squared: tests/kernel/timer/timer_api failed."
**Describe the bug**
this testcase was failed occasionally.

**To Reproduce**
Steps to reproduce the behavior:
1. west build -b up_squared -p auto tests/kernel/timer/timer_api/ -DCONF_FILE="prj_tickless.conf"
2. west flash ~/up_squared.sh
3. see error

**Logs and console output**
Booting Zephyr OS build v2.5.0-rc2-42-gcce5ff15107b
Running test suite timer_api

START - test_time_conversions
 PASS -

[2021-02-04 03:41] manoj153 commented on #31900
Hi @gregshue , my goal is always to document the **user introduced code**. Zephyr docs are available perfectly on their website and so accessible by anyone. Since user-introduced code is also written in C and similar, I think re-using the doc framework makes sense. What do you think?

Specifically doc on own project-specific tree. I hope I conveyed the message right and clear.
This can be useful w

[2021-02-04 04:20] hakehuang opened #31969 "test_tcp_fn:net2 mximxrt1060/1064/1050 fails on test_client_invalid_rst with semaphore timed out"
**Describe the bug**
when do the test_tcp_fn:net2  tests/net/tcp2, there are issues meet on test_client_invalid_rst

this issue happens on rt1060/1064/1050 but ok on rt1020.

**To Reproduce**
Steps to reproduce the behavior:
tests/net/tcp2
1. mkdir build; cd build
2. cmake -DBOARD=mximxrt1060_evk .. -- -DCONFIG_NET_TCP_RECV_QUEUE_TIMEOUT=1000
and
 cmake -DBOARD=mximxrt1060_evk .. -- -DCONFIG_NET_T

[2021-02-04 05:43] gregshue commented on #31900
@manoj153 After playing around with the documentation in my `oot_example_module` and in a couple private manifest+module repos, I am considering the partitioning model below. The focus being what is needed by new owners/contributors for (re)verification, integration, and support.

- Manifest repo documentation contains at least the following:
  - The manifest file specifies the source in the "work

[2021-02-04 05:58] mkarhumaa commented on #31922
@jfischer-no Thanks for taking a look into this!

My understanding is that to be able to use Bluetooth LE feature Data Length Extension which makes it possible to improve throughput by sending Link Layer packets up to 251 byte, `CONFIG_BT_CTLR_TX_BUFFER_SIZE=251` and `CONFIG_BT_DATA_LEN_UPDATE=y` are needed. Data Length Extensions is not enabled by default in `hci_usb` application but I would thin

[2021-02-04 07:23] pfalcon commented on #31323
@WilliamGFish: Can you please update the subject of this ticket to summarize its content? Please see https://github.com/zephyrproject-rtos/zephyr/issues for examples of good ticket subjects.

[2021-02-04 07:25] pfalcon commented on #25409
Did not find time to go thru this, closing.

[2021-02-04 07:25] #25409 closed

[2021-02-04 07:27] pfalcon commented on #4420
This issue was filed against TCP1 implementation, while TCP2 has become default and TCP1 removed. Closing.

[2021-02-04 07:27] #4420 closed

[2021-02-04 07:35] #29961 closed

[2021-02-04 07:37] #29632 closed

[2021-02-04 07:42] chen-png commented on #27999
the patch is merged, and the new testcase "tests/boards/mec15xxevb_assy6853/qspi" worked well on microchip board, so closed this.

[2021-02-04 07:42] #27999 closed

[2021-02-04 07:44] manoj153 commented on #31900
My request was to support out-of-tree doc,
My application code does not influence zephyr tree (they can be separate)

I start my project with a new directory and git tree with the following structure.
[code]

The idea is to document API in main.h

[2021-02-04 07:46] chen-png commented on #29961
the patch is merged, and the new testcase " tests/boards/mec15xxevb_assy6853/i2c_api" worked well, so closed this

[2021-02-04 07:48] chen-png commented on #29632
the GPIO expander on microchip board is the same as in #28308, this has already been enabled, and used existing gpio_basc_api to test, it was ok, so closed this

[2021-02-04 07:56] ABOSTM commented on #31948
@galak
here is an extract of my map.yaml
[code]
I guess it is good as it used to work some time ago.

I agree with you, when adding fixture directly on the command line, it is working fine
`scripts/twister --device-testing -c -p nucleo_f429zi -T tests/drivers/spi/spi_loopback/ -X spi_loopback `
but not with map.yaml

[2021-02-04 08:57] jasuramme opened #31973 "Stm32 uart async driver changes offset after callback"
**Describe the bug**
Stm32 uart async driver changes itself state (offset data) after calling the callback function with rx_ready event.
If you try to restart rx receive (for example, change buffer just after rx_ready event), you will have bad offset data (should be equal to zero)

**To Reproduce**
Call uart->rx_enable from uart async callback

**Expected behavior**
Driver shouldn't change itself

[2021-02-04 09:11] ABOSTM commented on #31959
Hi @rickconrey ,
Are you able, with debugger for example (or printf), to read following registers when you get stuck at line 93
FLASH -> ACR
FLASH -> C2ACR

[2021-02-04 09:31] erwango opened #31976 "dma: loop_transfer issue on nucleo_wb55rg"
**Describe the bug**
Dma loop_transfer test is failed on nucleo_wb55rg.
After first transfer, selected stream is busy.

**To Reproduce**
Steps to reproduce the behavior:
Run tests/drivers/dma/loop_transfer on nucleo_wb55rg

**Expected behavior**
Test should pass

**Impact**
What impact does this issue have on your progress (e.g., annoyance, showstopper)

**Logs and console output**
[code]

[2021-02-04 09:58] Ripitchip commented on #31905
I've tried to change the config for the low power node as follow :
[code]
As I've seen it commented is some nrf config, without success.

[2021-02-04 10:14] hidrol commented on #31924
With the following code we checked if the device is being found. Turns out Zephyr can not find the ivshmem device.

if (!ivshmem) {
                printk("IVshmem device cannot be found");
                return -1;
}

[2021-02-04 10:19] mejtejt opened #31980 "Communicating with BMI160 chip over SPI"
### Problem description

I have bosch bmi160 IMU on my custom board and cannot get SPI communication to work.

## Detailed RFC

The hardware setup is as follows:
![image](https://user-images.githubusercontent.com/33463717/106877333-ec65dd80-66d8-11eb-85d0-eda379b1437e.png)

V40 and V41 are in the meantime replaced with 1k resistors. The right hand side of the screenshot is DARTMx6, and communicati

[2021-02-04 10:35] carlocaione commented on #31952
The problem arises when for example compiling with an SRAM base address very high in memory, i.e. `CONFIG_SRAM_BASE_ADDRESS=0x2000880000`. One possible solution here is to compile with `-fPIC`. I'll prepare a PR for that.

[2021-02-04 10:48] ABOSTM opened #31982 "tests: kernel: queue: regression introduced by FPU sharing PR #31772"
**Describe the bug**
Following tests:
* tests/kernel/queue/kernel.queue
* tests/arch/arm/arm_interrupt/arch.interrupt.arm
* tests/arch/arm/arm_interrupt/arch.interrupt.extra_exception_info
* tests/arch/arm/arm_interrupt/arch.interrupt.no_optimizations

are now failed on stm32f3_disco.
This is a regression introduced by PR #31772, test is passed before this PR and failed after.
Error message is not

[2021-02-04 11:18] martin-aberg opened #31985 "riscv: Long execution time when TICKLESS_KERNEL=y"
**Describe the bug**
Running a CPU bound test on RISC-V appears to take almost 30 times
longer when `TICKLESS_KERNEL=y` compared to `TICKLESS_KERNEL=n`.

`crypto.tinycrypt` test case on `qemu_riscv32` takes 142 s or 5 s depending
on `TICKLESS_KERNEL`. Similar for `tests/lib/heap`.

**To Reproduce**
[code]

Both tests use the same QEMU command line.

**Expected behavior**
It was expected that the t

[2021-02-04 11:26] tejlmand commented on #30713
Correct. CMake handles this automatically when using newer Zephyr SDK's. (from 0.11.3 and beyond).

This issue is related to running twister, which seems to also test for the Toolchain variable, so i'm looking into aligning code so this can be done in a single place.
See also:
https://github.com/zephyrproject-rtos/zephyr/pull/31936/files#r570036292

[2021-02-04 11:28] tejlmand commented on #30713
if trying to build using west or CMake / Ninja, then you should not see this issue.

[2021-02-04 11:51] nordic-krch opened #31989 "nrfx_uarte serial driver does not go to low power mode after setting off state"
**Describe the bug**
It is expected that uart will be disabled after going to off state. Device should consume ~5uA when sleeping with uart disabled. However, power consumption is at 500uA. Same application but with nrfx_uart reaches 5uA.

**To Reproduce**
Modified `hello_world` can be used to show the issue.
prj.conf:
[code]
nrf52840dk_nrf52840.overlay:
[code]
main.c:
[code]

Typing `sleep` shoul

[2021-02-04 12:04] #31946 closed

[2021-02-04 12:05] ioannisg commented on #31982
There's probably some other thread that overflows, e.g. the ZTEST thread. I can take a look.

[2021-02-04 12:08] carlescufi commented on #29107
@holtmann could you please weigh in on this discussion?

[2021-02-04 12:09] cvinayak commented on #31922
- USB device HCI_RAW to check hci->len  = 60, 124 and 188, and mark the HCI packet as complete for the bt_raw to consume it as a unique HCI packet.
- USB device HCI_RAW_H4 to check hci->len = 59, 123 and 187, and mark the HCI packet as complete for the bt_raw to consume it as a unique HCI packet.

The offset to the hci->len will be 2 bytes for standard HCI_USB and 3 bytes for HCI_USB_H4.

[2021-02-04 12:13] carlescufi commented on #30026
You can contact BlueZ here:
http://www.bluez.org/contact/
or create an issue here, copying @Vudentz:
https://github.com/bluez/bluez/issues

[2021-02-04 12:15] carlescufi commented on #30808
This has likely been fixed by #31532, please reopen if that's not the case.

[2021-02-04 12:15] #30808 closed

[2021-02-04 12:18] carlescufi commented on #31742
@Oxymoron79 a few fixes have been merged to master since you last reported here. Could you please try to reproduce the issue again and let us know?

[2021-02-04 12:41] #31226 closed

[2021-02-04 12:47] carlescufi commented on #25413
@cfriedt if you are not actively working on porting the Controller to TI, could you please close this?

[2021-02-04 12:48] #25413 closed

[2021-02-04 12:52] carlescufi commented on #21000
@Vudentz can we close this or does this still apply?

[2021-02-04 12:57] carlescufi commented on #18509
@trond-snekvik is this still applicable?

[2021-02-04 12:58] LeiW000 commented on #31769
To reproduce it, need to try several times. Also, Peng told me that it was seen in log of daily testing.

[2021-02-04 13:14] ioannisg commented on #31616
@PerMac I am not sure this is a bug. For the sample to work one needs to flash the two cores (master and remote), I guess, separately. West build takes care of building both executables, but the images needs to be flashed individually.

[2021-02-04 13:28] #29194 closed

[2021-02-04 13:51] SeppoTakalo commented on #30713
west+CMake+Ninja works OK, as expected.
This issue is only within Twister.

[2021-02-04 13:53] carlocaione opened #31993 "Add west extension to parse yml file"
My usual workflow is
* hack hack hack
* `west build -b ${board} ${test_dir} --pristine`
* `west build -t debugserver`
* debug debug debug

The `debugserver` option is particularly handy because I do not have to remember all the parameters that are needed for QEMU when starting the gdb server.

Let's say that at a certain point I want to debug on issue on one specific test, i.e. `tests/posix/common

[2021-02-04 13:58] emillindq opened #31994 "drivers: flash: stm32h7: fix int/long int warnings"
Upon request, issue is created which describes what merge request https://github.com/zephyrproject-rtos/zephyr/pull/31919 fixes.

In short, %d in format string is used on long int, causing warnings.

@erwango

[2021-02-04 14:05] erwango commented on #31959
@rickconrey point is to know C2 state when running MCUboot and if the related flash protection procedure should apply.
Typically, if `CONFIG_BT=n` (which should be the case in MCUBoot) these protections may not apply. Implementation in #26929, took that into account, but this was made under some assumptions which might have to be reviewed.

So besides the state of the registers, it would help to h

[2021-02-04 14:38] cfriedt commented on #25413
Of course. The port is on hold currently as the client / vendor were not able to fund it in a timely manner and I have other business obligations currently. Hope to resume at some point if another contractor does not pick up the slack.

[2021-02-04 14:58] galak opened #31996 "tests/bluetooth/init/bluetooth.init.test_ctlr_peripheral_iso fails to build on a few platforms"
`scripts/twister -s tests/bluetooth/init/bluetooth.init.test_ctlr_peripheral_iso -l`

[code]

[code]

[2021-02-04 14:59] galak commented on #31996
@carlescufi please reassign to proper person.  This showed up the most recent daily run: https://buildkite.com/zephyr/zephyr-daily/builds/230

[2021-02-04 15:06] carlescufi commented on #31996
@cvinayak this is similar to the RISC-V one.

[2021-02-04 15:07] #31994 closed

[2021-02-04 15:20] ABOSTM commented on #31959
@rickconrey, @erwango and myself have different hypothesis about your issue.
So first of all, we need to determine whether your problem occurs
* during new firmware download (which means while regular zephyr firmware is running)

or
* during firmware swap (which means while mcuboot is running)

Then we are still interested in FLASH -> ACR and FLASH -> C2ACR value when issu occurs.

[2021-02-04 15:22] PerMac commented on #30100
@andrewboie Can you have a look at #31999 Does the output make more sense with it?

[2021-02-04 15:26] #31989 closed

[2021-02-04 15:38] jocelyn-li opened #32000 "2021 GSoC Call for Project Ideas - deadline Feb.19, 2021 12:00PM PST"
About GSoC

Google Summer of Code is a global program focused on introducing students to open source software development. Students work on a 10 week programming project with an open source organization during their break from a post secondary academic program.

Since its inception in 2005, the program has brought together 16,000+ student participants and 13,000 mentors from over 118 countries wor

[2021-02-04 15:53] galak commented on #9883
@dleach02 I going to close this as I think its no longer relevant.  Feel free to re-open if you feel otherwise.

[2021-02-04 15:53] #9883 closed

[2021-02-04 15:57] nvlsianpu opened #32002 "Cannot build encrypted images on Zephyr"
**Describe the bug**
mirror https://github.com/mcu-tools/mcuboot/issues/938

[2021-02-04 15:57] nvlsianpu commented on #32002
I'm working on a fix

[2021-02-04 16:15] MaureenHelm commented on #31969
git bisect landed on commit 0ed6a3cd6969f3a44a86dbf98f73e509698e065c from @jukkar :
[code]

It looks like this new RST test never worked on these boards.

[2021-02-04 16:35] carlescufi commented on #30708
This is probably related to https://github.com/zephyrproject-rtos/zephyr/pull/31336, which I think @cvinayak would like to complete soon.

[2021-02-04 16:39] shlomow opened #32005 "stm32: async uart tests fail"
**Describe the bug**
When running the uart async api on nucleo-l4r5zi they fails with the following:
[code]

This can be a bug in the dma driver or in the uart driver.

[2021-02-04 16:50] nvincent-vossloh commented on #30325
I have not re-tested yet with latest zephyr tree yet, but if it is present I'm interested in keeping this issue open.

Thanks.

[2021-02-04 16:53] mbolivar-nordic commented on #31993
I don't understand why west needs to handle the twister specific bits of this.

Can you explain why something like this workflow isn't what you are asking for?

[code]

[2021-02-04 16:53] andyross commented on #31964
I just ran this 12 times without trouble.  How often is an "occasional" failure exactly?

[2021-02-04 17:03] carlocaione commented on #31993
Because it would be handy to have one single tool to do the whole job, without considering that `twister` is way slower than `west`.

Also it doesn't make sense to me that `west` can be used to compile a sample / test but only one without considering all the remaining tests in the yaml file.

Yes, this works, but it is clearly more cumbersome than just using one single tool `west` with literally 7

[2021-02-04 17:04] nvlsianpu commented on #32002
upstream bugfix posted https://github.com/mcu-tools/mcuboot/pull/939

[2021-02-04 17:07] MaureenHelm commented on #30649
I think the bug is in your application, but please reopen this issue if you disagree.

[2021-02-04 17:07] #30649 closed

[2021-02-04 17:24] erwango commented on #32005
Please check if fixed by #31977

[2021-02-04 17:35] #31976 closed

[2021-02-04 17:39] shlomow commented on #32005
fixed, thanks!

[2021-02-04 17:39] #32005 closed

[2021-02-04 18:05] carlescufi commented on #31938
The OpenThread PR has now been merged: https://github.com/openthread/openthread/pull/6137
So we either update our OpenThread copy or cherry-pick this commit into our fork. I will let @rlubos decide as the module maintainer.

[2021-02-04 18:08] Mforcen opened #32007 "Wrong clock value at USART1 in STM32F2 dtsi file"
According to STM32F2xx Reference Manual, at RCC Section, the clock value used to turn on USART1 is 0x10, not 0x4000.
This causes USART1 not to initialize correctly, hanging up polling functions.

[2021-02-04 18:10] #31599 closed

[2021-02-04 18:19] ajelinski commented on #31726
Sorry for the delay. We've been discussing your problems internally in the Renode team. From what we understand it seems that the test timeouts set require having faster simulation, especially when there's any busy waiting involved.

There is such a speed up currently because of using different frequency – 660 kHz vs 66 MHz set in the Renode's MI-V platform description (`renode/platforms/cpus/miv.

[2021-02-04 18:30] rickconrey commented on #31959
@erwango, @ABOSTM This happens when the regular zephyr firmware is running and I'm trying to send a new firmware over BLE. I don't seem to have any issues with the firmware swap while mcuboot is running.

FLASH->ACR is 0x601
FLASH->C2ACR is 0x8700

So it looks like CPU2 is not clearing the PES bit.

[2021-02-04 18:42] erwango commented on #31959
@rickconrey Thanks for these details. Have you tried to wait for long duration to see if the binary write eventually happens ?

[2021-02-04 18:42] rickconrey commented on #31959
I just updated the message above..

Yes, I have tried waiting and it does not ever happen.

[2021-02-04 18:45] erwango commented on #31959
CPU2 is supposed to hold PES bit while RF is on and reset it once done. Mechanism is rather complex (There is an application note about it), but we should not end up in this situation.

[2021-02-04 18:48] rickconrey commented on #31959
Hmmm, oh. I thought they both had to be cleared to access the flash?

Do you guys need any other information or want me to try anything else?

[2021-02-04 18:50] xhpohanka commented on #31593
Can you give me a hint what is a best way to trace it, please? I'd really like to have this reliable...

[2021-02-04 19:00] #31973 closed

[2021-02-04 19:18] erwango commented on #31959
Well, everything related to CPU2 like FLASH_C2SR, C2CR. IPCC_C2 registers as well..
Unfortunately the possibilities for CPU2 debugging are limited.  We'll give more thinking at it tomorrow

[2021-02-04 19:40] bdkrae commented on #30204
#26428 shows the answer for the SPI issue.

[2021-02-04 19:41] #31930 closed

[2021-02-04 19:41] #31616 closed

[2021-02-04 20:35] andyross commented on #28105
I'm guessing I'm not going to get a fix in for this before the release, so adding some quick notes just so I don't forget anything once I get dragged away to other things.  My current test rig is below, it's a trimmed down and minified version of Peter's code, that eventually swapped in a semaphore for the original queue.

The core problem is with repeated preemption of spinning threads.  The circ

[2021-02-04 20:53] pabigot commented on #28105
Thanks, this is interesting.  Two questions:

First, can you reproduce this on real hardware, or just qemu?  When I ran my reproducer on upsquared there were no failures.

Second,

That seems like a sub-optimal solution.  Is it feasible to detect that CPU0 is idle and make it pick-up the high priority thread, instead of swapping CPUs and all related context?

[2021-02-04 21:20] gregshue commented on #31900
The code tree will fit the Zephyr documentation process more easily if:

- All project-specific logic has been refactored into subsystems, leaving an empty PROJECTA/src/main.c::main().
- Project documentation follows the location and pattern of sample documentation.  (After all, samples and tests are simply special purpose projects!)
- The project repository is recognized as a Zephyr module (i.e.

[2021-02-04 21:36] mbolivar-nordic commented on #31993
OK, so when you wrote:

It's true that only twister can understand sample.yaml, but...

 the build directory twister generates is an ordinary one which can be debugged using west, so this part is not a problem, at least.

So this issue is really about just building a test configuration from sample.yaml with west, and not debugging, right?

[2021-02-04 22:37] ufechner7 commented on #30204
Well, is it more complicated to add it here?

[2021-02-04 23:12] andyross commented on #28105
I tried it briefly on my up2 and didn't see the problem, but I believe for sure this is real and not an emulator bug.  If I had to guess the effective latency for an interprocessor interrupt on qemu is much higher (it's a unix signal delivered by the host OS to a separate thread vs. a few clock cycles of transit through an interrupt controller) so gives more window for things to go wrong (which in

[2021-02-05 00:05] rickconrey commented on #31959
FLASH->SR = 0x80000
FLASH->C2SR = 0x80000
FLASH->C2CR = 0
IPCC->C1TOC2SR = 0
IPCC->C2CR = 0x10001
IPCC->C2MR = 0xFFFFFFD4
IPCC->C2SCR = 0
IPCC->C2TOC1SR = 0

For HSEM, the only semaphores that are locked are 2, 4, and 5. All of the others are unlocked.

[2021-02-05 00:28] galak commented on #31980
Glancing at the code I think the bmi160 driver doesn't support CS based on GPIO.

If you look at other sensor drivers you see blocks of code like in the init function:

[code]

[2021-02-05 01:05] #30713 closed

[2021-02-05 01:07] #29958 closed

[2021-02-05 01:20] nashif commented on #31985
@andyross  any idea what is going on?

[2021-02-05 01:58] #31858 closed

[2021-02-05 03:09] selman-nus opened #32014 "Is there a sample that uses SAADC (analog to digital converter)?"
I have checked almost all samples and couldn't find any code snippet that uses SAADC. I tried to write one but it seems like zephyr libraries are not happy with the nrf sdk functions.

Please forgive me if there is already a sample code that uses SAADC but if I am not blind there is none. It is one of the most important features of a microcontroller. Are you planning to include one soon?

PS: I am

[2021-02-05 03:29] hakehuang commented on #31969
there is another issue found in former release #28602

[2021-02-05 04:17] dcpleung opened #32015 "Thread local storage is broken when adding more thread variables"
When adding a `uint64_t` to the TLS test app, the test starts to fail. This is due to both `tdata` and `tbss` regions are not aligned correctly in the stack. Further testing shows that the test fails when `tdata` or `tbss` section in ELF is of size 1, 3, 5, 6, 7, and >9 (when not a multiple of 8).

[2021-02-05 05:25] Zhaoningx opened #32018 "iotdk: running tests/kernel/mem_pool/ failed sometimes for v1.14-branch"
To Reproduce

I used a script to run this case a lot of times(total:20 , failed: 4) on github 1.14 branch, it is reproduced.

Steps to reproduce the behavior:

export ZEPHYR_SDK_INSTALL_DIR=~/zephyr-sdk-0.10.3

sanitycheck -p iotdk --device-testing --device-serial /dev/ttyUSB0 -T tests/kernel/mem_pool/mem_pool_api/

see error

Booting Zephyr OS zephyr-v1.14.2-intel-rc3-ww02.2 ***** Running test su

[2021-02-05 07:27] carlocaione commented on #31993
My expectation is that once I can build a test configuration from sample.yaml or testcase.yaml with west I then can open a debug server on it as easily as before doing `west build -t debugserver` without having to specify the output twister directory and all the rest.

[2021-02-05 07:29] nordic-krch commented on #31761
Can you elaborate more about the scenario where you hit that issue? len=0 shouldn't be the issue there. I've run a scenario where it was 0 and seen no fault. I guess that it might have something to do with panic occurring while logging is processing.

[2021-02-05 07:31] nordic-krch commented on #11975
@andyross since `log_backend_xtensa_sim` was added, could that one be closed?

[2021-02-05 08:05] jukkar commented on #31593
Usually I just place debug prints in relevant places in the code. For the accept loop log above, I needed to disable civetweb debugging prints because there was just too much data printed. If you are using native_posix board, then debugging with gdb is of course quite convenient.
I did not verify this, but because there was just lot of prints about accept (in a loop), but no prints about data bein

[2021-02-05 08:09] erwango commented on #30236
@andyross Would you have any way to instrument the code to track a potential race ?

[2021-02-05 08:40] mejtejt commented on #31980
I looked at the other drivers, I see your point. There is no `DT_INST_SPI_DEV_HAS_CS_GPIOS` anywhwere inside of bmi160.c driver.

But my question is then: how do I setup SPI pins (MISO, MOSI, CLK) and CS properly? How do I synchronize CS and the communication? I would expect the driver to handle CS pin. How can this be achieved? What do I need to modify in my device tree? And are there any other m

[2021-02-05 08:46] ioannisg commented on #31982
@ABOSTM I've tried the test on other cortex-m platforms (building with FPU_SHARING=y), I don't see stack overflows, so I can't help much with debugging, since i don't have this ST board.
You could find out the thread that overflows - if you build with THREAD_NAME support.
Then, as I mentioned, might be the ZTEST thread that overflows, you can increase
CONFIG_ZTEST_STACKSIZE and CONFIG_TEST_EXTRA_S

[2021-02-05 08:53] wngur300 opened #32023 "samples: bluetooth: peripheral_hids: Unable to communicate with paired device after board reset"
**Describe the bug**
After building the peripheral_hids sample source, I paired the Desktop with the board.
I confirmed that the value of the battery is reduced well by modifying the source to reduce by 1 per 500ms.
Reset the board succeeds in reconnecting, but does not reduce the value of the battery.

**Environment (please complete the following information)**
OS: Linux ubuntu 18.04
Toolchain: z

[2021-02-05 09:02] edmont commented on #31938
@carlescufi, I proceeded with the upmerge: https://github.com/zephyrproject-rtos/zephyr/pull/32025

[2021-02-05 09:05] ABOSTM commented on #31982
@ioannisg,
Ok I will do so. Thanks for the hints.

[2021-02-05 09:07] erwango commented on #32007
@Mforcen Thanks for reporting, I'll get it fixed.

[2021-02-05 09:18] ioannisg commented on #31982
This is a list of commonly used stacks, and the corresponding Kconfig options:

CONFIG_ZTEST_STACKSIZE
CONFIG_MAIN_STACK_SIZE
CONFIG_ISR_STACK_SIZE
CONFIG_ZTEST_STACKSIZE
CONFIG_IDLE_STACK_SIZE
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE
CONFIG_TEST_EXTRA_STACKSIZE
CONFIG_PRIVILEGED_STACK_SIZE

[2021-02-05 09:40] erwango opened #32030 "dma: stm32: remove dump stream info in irq"
**Describe the bug**
Following implementation of https://github.com/zephyrproject-rtos/zephyr/pull/31977, a debug line was left over in driver.It should be removed and remain only in error case.

[2021-02-05 09:53] #31905 closed

[2021-02-05 09:59] #32014 closed

[2021-02-05 10:08] selman-nus commented on #5703
@grochu Is there any snippet yet?

[2021-02-05 10:33] mejtejt commented on #31980
Just an update. I can get a communication with the chip, but only after taking the power of the board and re-applying it. If the power to the board is present at all times, and I just flash MCU over JTAG, device cannot be found. This is something I still need to understand. Right now, I have no idea why is it behaving like this.

Dts looks like this (CS definitions are removed):
![image](https://u

[2021-02-05 10:37] erwango commented on #16231
@dcpleung I'm adding you as assignee. Feel free to close if you think this is not something we want.

[2021-02-05 10:37] erwango commented on #14260
@nvlsianpu  I'm adding you as assignee. Feel free to close if you think this is not something we want.

[2021-02-05 11:07] Ripitchip opened #32033 "Bluetooth mesh : LPN doesn't receive messages from Friend"
**Describe the bug**
I'm trying to set up a Friend and LPN with nRF52840 boards. The code is based on [onoff-app](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/boards/nrf/mesh/onoff-app) sample.

Each time the LPN polls a message from Friend, which isn't linked to provisionment or node configuration, the message is dropped with a warning saying it's too short.

**To Reproduce**

[2021-02-05 11:20] grochu commented on #5703
There is an NFCT driver in the hal/nordic repo: _modules/hal/nordic/nrfx/drivers/src/nrfx_nfct.c_ which supports nRF52 and nRF53 families (devices which have NFCT). At the moment there are no plans of adding a generic Zephyr NFC driver or upper-layer libraries, but we are open to support such activity.

[2021-02-05 11:36] #31769 closed

[2021-02-05 11:36] #31948 closed

[2021-02-05 11:36] #31996 closed

[2021-02-05 11:47] ABOSTM commented on #31982
tests/kernel/queue/kernel.queue is fixed thanks to #32034. Thanks @ioannisg.

As far as tests/arch/arm/arm_interrupt/xxx are concerned,
increasing stack sizes above doesn't help.
See log below.
Please note that oops ans panics a normal (see README.txt):

[code]

[2021-02-05 11:51] JordanYates opened #32035 "Bluetooth: application notification when MTU updated"
**Is your enhancement proposal related to a problem? Please describe.**

The Bluetooth ATT MTU controls the maximum size of write, read_rsp, notification and indication packets.
Attempting to send more data than the current MTU results in warnings/errors such as:
[code]

The MTU update process is as follows:
1. The client issues a request for a new MTU value
2. The server responds with the minimum