[2018-07-25 13:43] jukka commented on #2302
@jukkar

[2018-07-25 13:55] #3395 closed

[2018-07-25 13:56] #3394 closed

[2018-07-25 13:56] #3393 closed

[2018-07-25 15:00] jhedberg commented on #9069
@nordic-krch thanks, unfortunately I don't see much difference with it. I suspect the compiler might be generating an anonymous stack variable out of the bitwise arithmetic, possibly because it fails to evaluate the statement as a build-time constant. This should be confirmed with -fstack-usage however.

[2018-07-25 15:40] ramakrishnapallala commented on #8255
In Zephyr, system power management is handled at application level. In this approach, the application has the full control over the power management flows and its policies.
The application has to implement the _sys_soc_suspend() which is entry function to put the system into low power state and also implement the _sys_soc_resume() which is the exit function for getting the system out of low power

[2018-07-25 15:43] ramakrishnapallala commented on #8255
Cc: @nashif @carlescufi @MaureenHelm

[2018-07-25 17:43] dcpleung commented on #1550
For this behavior to manifest, the input parameter must have contained PCI_BAR_ANY, which will give you any BAR the pci_bus_scan() (and thus pci_dev_scan()) can find. Moreover, the current design does not guarantee a later call to pci_dev_scan() in the same thread will continue from previous call. For example, if another thread is scheduled and pci_dev_scan() is called, the global lookup struct wi

[2018-07-25 18:38] andrewboie commented on #9113
The problem here is that on Cortex M0, the LDR/STR assembly instructions have a maximium of offset of 0x7c:

http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0497a/BABJGHFJ.html

In this configuration, the size of struct k_thread becomes large enough that the offset of thread->arch.basepri is 0x80:

[code]

[2018-07-25 18:56] jli157 commented on #8390
More discussions about this request can be referred here: https://lists.zephyrproject.org/g/devel/topic/22117716#4763

[2018-07-25 19:11] andrewboie commented on #4082
@nashif it is, the API is called k_object_access_grant()

[2018-07-25 19:14] andrewboie commented on #2490
@nashif yes this should be tested.

[2018-07-25 19:32] jhedberg commented on #3222
I think the following might work as a fix:
[code]

@sjanc looks reasonable to you?

[2018-07-25 19:34] jhedberg commented on #3221
Two options come to mind:

 - Have a flag for bt_conn to track this, or
 - Try to look up the matching bt_keys. I think it will not exist in case of no-bonding.

@sjanc thoughts?

[2018-07-25 19:46] #6846 closed

[2018-07-26 00:04] #9113 closed

[2018-07-26 00:18] dbkinder opened #9128 "doc build fails if no reST reference to file"
The new out-of-tree doc build process copies files to a working folder to process by copying all the reST files in the doc tree (and samples and board folders), and scanning the reST files to find references to other files (e.g., images) that need to be copied too.  This misses files that are referenced in the ``config.py`` file (e.g., logo and favicon) but not from any reST file.

Workaround is t

[2018-07-26 03:42] nashif commented on #2490
@kumarvikash1 please assign someone to create tests for this.

[2018-07-26 04:53] #7966 closed

[2018-07-26 06:47] tarunkum opened #9131 "samples/net/coaps_server: Failed to send response to coaps_client"
I was trying to test coaps_server along with coaps_client with two different frdm_k64f boards.
 The steps I have followed for coaps_server & coaps_cleint is as below:

cd zephyr/samples/net/coaps_client
 mkdir build && cd build && cmake -GNinja -DBOARD=frdm_k64f ../
 ninja
 cp -vr outdir/frdm_k64f/zephyr.bin /run/media/MBED/

cd zephyr/samples/net/coaps_server
 mkdir build && cd build && cmake -GN

[2018-07-26 08:58] pizi-nordic commented on #2623
FYI: @anangl

[2018-07-26 08:58] pizi-nordic commented on #3668
FYI: @pizi-nordic

[2018-07-26 08:58] pizi-nordic commented on #7193
FYI: @pizi-nordic

[2018-07-26 10:40] kumarvikash1 opened #9134 "Build failure with SAM_e70 platform"
Tere are many tests across zephyr modules/components failed with build failure issue on same70.

target : same70-29k:arm
Commit : 97c06a7ab35772ef3cd6de8a39688bbd0a4dcf3c

Error description :
Example :
This is a subtestcase of  /tests/kernel/workq/....
.
.
.
.

build output: [ 66%] Built target arch__arm__core
build output: [ 67%] Linking C static library libzephyr.a
build output: [ 68%] Building

[2018-07-26 10:55] kumarvikash1 opened #9135 "Failure : "integer overflow in exp" on Altera-Max 10 platform"
Test zephyr/tests/kernel/init fails to build and throws an error " integer overflow in exp " .

Configuration :
<Arch> nios2
<Board> Altera Max 10

Commit : 8ba0ddf4baeb967a03ea36bb61b150bf3890adaf

Error description :
 zephyr/tests/kernel/init/src/main.c: In function ‘verify_bootdelay’:
build output: zephyr/tests/kernel/init/src/main.c:26:43: error: integer overflow in exp
build output:         (

[2018-07-26 12:52] nashif commented on #9134
this build_output is useless. what is the build failure exactly?

[2018-07-26 12:55] nashif commented on #9134
You need to use the board name in Zephyr

[2018-07-26 13:00] nashif commented on #9134
ok, before filing a build error bug, always check locally and verify with master, usually build errors are resolved within hours. This was fixed already.

[2018-07-26 13:01] #9134 closed

[2018-07-26 14:17] pizi-nordic commented on #8409
@kl-cruz: Any progress?

[2018-07-26 15:13] kl-cruz commented on #8409
I need some sample code. I can't reproduce it...

[2018-07-26 20:04] dbkinder commented on #9128
@carlescufi I figured out a workaround, but it was a puzzlement why the images referenced in conf.py (for the logo and favicon images) in my work on switching to use the read-the-doc theme were causing the doc build to fail.  Also, found that the _templates/ folder isn't copied over to the building directory so read-the-docs theme tweaks didn't work either.

[2018-07-26 20:17] carlescufi commented on #9128
@dbkinder ok I understand, I completely missed this. If you can live with this workaround for the time being I should be able to fix it soon, although I'm on parental leave for a month.
Alternatively you can simply add the missing files to be copied to the build folder here:

https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/CMakeLists.txt#L108

Simply add a line for each file you need:

[2018-07-26 20:32] andrewboie commented on #9135
Why is each line of the error message truncated? Where is the full error log?

[2018-07-26 20:56] dbkinder commented on #9128
_templates folder shows up in #9145 :)    I added a workaround.rst orphan file to reference files the copy process was missing, for now. I can tweak the CMakeLists.txt file if you think that's a better solution.

[2018-07-26 22:53] carlescufi commented on #9128
@dbkinder understood. As I see it there's 2 solutions to fix this issue:

1) Maintain a list of non-rst files that we need copied into the build folder. This already exists in https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/CMakeLists.txt#L108

2) Modify `extract_contents.py` so that it copies more than just `.rst` files.  It could copy for example `.rst, .png, .html, .jpg`. This coul

[2018-07-26 22:57] dbkinder commented on #9128
I'd lean towards option 3.  ``extract_contents.py`` was created to copy the documentation found in boards/ and samples/ (and any referenced images or includes) and has served us well.  It would be best to just copy the doc/ folder over to the out-of-tree location (skipping a doc/_build folder if it exists :)

[2018-07-26 23:03] carlescufi commented on #9128
@dbkinder sounds good, I'll try to send a PR

[2018-07-26 23:07] dbkinder commented on #9128
P.S.  It looks like the current CMakeLists.txt is copying the /samples and /boards content twice.  It should only need to copy these files into the copied /doc folder.

[2018-07-26 23:08] carlescufi commented on #9128
No, that's intentional. The issues is that some `.rst` files refer to code in `samples/` or `boards/` using relative paths, so we need those right below `doc/` in the build folder hierarchy

[2018-07-26 23:46] dbkinder commented on #9128
ah.  ok.

[2018-07-27 02:15] #6188 closed

[2018-07-27 05:52] tarunkum opened #9148 "samples/net/http_server: Failed to respond back to CURL command on http Client"
I was trying to test http_server from sample app made it to run on frdm_k64f boards.

The steps I have followed for http_server:

cd zephyr/samples/net/http_server
mkdir build && cd build && cmake -GNinja -DBOARD=frdm_k64f ../
ninja
cp -vr outdir/frdm_k64f/zephyr.bin /run/media/MBED/

•Here I have used frdm_k64f as http_server & the no modification is done in configuration file.

I am getting the

[2018-07-27 06:42] skylayer commented on #9108
thanks
i got it

[2018-07-27 06:42] #9108 closed

[2018-07-27 06:46] rlubos commented on #7372
Covered by #9007

[2018-07-27 06:48] rlubos commented on #7370
Covered by #8852 and #9007

[2018-07-27 06:48] #7370 closed

[2018-07-27 06:48] #7372 closed

[2018-07-27 06:49] rlubos commented on #8026
Already worked with #8814.

[2018-07-27 06:49] #8026 closed

[2018-07-27 06:50] rlubos commented on #7371
Done in #7118, invalid in #8814.

[2018-07-27 06:50] #7371 closed

[2018-07-27 08:48] koffes commented on #8409
Apologies, but we have had to prioritise other issues lately. I have created a ticket for this in our internal Jira as well, and I will argue we prioritise giving you example code for our next sprint. I can at least confirm that we are still seeing this issue on a 52832.

[2018-07-27 10:00] #8727 closed

[2018-07-27 11:13] tbursztyka commented on #9045
@walter-xie for k_evt, you would need to create a new issue where you describe the object and summarize the concept and ask for comments/ideas. Make it generic (not net stack or sample oriented). If you are willing to implement it, that will be even better.

About net stack and threads, protocols themselves run mostly in 2 threads: RX and TX, timeouts on some objects run in sys_work_q thread. If y

[2018-07-27 13:16] #8390 closed

[2018-07-27 13:47] ramakrishnapallala commented on #3993
PR #8545 merged.

[2018-07-27 13:47] #3993 closed

[2018-07-27 13:49] ramakrishnapallala commented on #4047
This issue does not exist, as the nrf52 can wake form GPIO sensing.

[2018-07-27 13:49] #4047 closed

[2018-07-27 13:50] ramakrishnapallala commented on #7348
@varun-sha I think you need to migrate the PR to new shell implementation from Nordic.

[2018-07-27 13:51] nashif commented on #9148
what does this mean?

[2018-07-27 14:27] ramonhpr opened #9160 "net: openthread: Mesh Local IPv6 is not in zephyr stack"
Hello,
I'm facing with a problem. I have a OpenThread setup where I have a raspberry pi as border router and an device nrf52840 where I'm flashing it with the echo_client and in raspberry I have a TCP echo_server in python.
What is happening is that when the nrf52 sends the packet to border router and when it will send it back an error is being raised.
[code]

As you can see, the IP that nrf52 is

[2018-07-27 18:18] jli157 commented on #8350
@jhedberg is there any progress on this request? Thank you!

[2018-07-27 21:00] jukkar commented on #9160
Has this been working before? There was recently config file change in echo-client in this commit a1594472f20ce9336251adc452041a41133876f5 that might affect things. Can you try your setup without this commit?

[2018-07-27 21:03] ramonhpr commented on #9160
Yes. This was happening before this commit too.

[2018-07-30 09:31] rlubos commented on #9160
Hi,
Indeed it looks that OT unicast adresses are not registered in Zephyr. I've talked to the original author, and he said that it was done on purpose - not all OpenThread's unicast addresses should be used by the application. Still, using ML-EID address actually makes sense for the application, so perhaps it makes sense as well to register unicast addresses in Zephyr, especially that you seem to

[2018-07-30 10:02] #3222 closed

[2018-07-30 11:55] Olivier-ProGlove commented on #8976
I confirm @kl-cruz'spull-request fix the issue.

[2018-07-30 11:55] #8976 closed

[2018-07-30 12:56] nashif opened #9172 "Out of tree BSP"
Zephyr shall support out-of-tree BSPs (Board definition packages) with BSPs including board, soc, driver definitions and code. A BSP shall be able to have its own configuration system that integrates with the overall Zephyr configuration system.

The following shall be supported with out-of-tree feature:

- Independent applications and BSP repositories
- Ability to build applications by referencin

[2018-07-30 12:57] nashif commented on #9172
Perquisite of this is 34438

[2018-07-30 13:45] erwango commented on #8871
@alexanderwachter, indeed, my bad, I didn't pay enough attention to this API breakage.
I did the upgrade of Cube packages for all the packages available the day I did it. So, today, there are no more recent version of cube packages available. I don't have information right now on the Cube CAN API roadmap, I guess if all series should be updated this might take some months.

One solution to this is

[2018-07-30 13:55] erwango commented on #8810
@finikorg , this same issue was identified in https://github.com/zephyrproject-rtos/zephyr/issues/7144.
Problem is we're not able to handle multiple board revision.
So either we need to fix ST-Link version and older revision won't work, either we add it as a new board, but this is large code duplication for minimal gain.

One option is to document this issue in board .rst file.

[2018-07-30 14:09] nvlsianpu commented on #7924
what you had observed is expected behavior, see the very last lines form doc:
http://docs.zephyrproject.org/samples/subsys/mgmt/mcumgr/smp_svr/README.html#smp-svr-sample

[2018-07-30 14:11] nvlsianpu commented on #7924
@oliviermartin ^^

[2018-07-30 14:12] #7924 closed

[2018-07-30 15:16] eqvinox opened #9174 "STM32L4 I2C read polling hang on NACK in stm32_i2c_msg_read()"
When trying to do an I2C read that is getting NACK'd in the address phase, `stm32_i2c_msg_read()` will spin forever because `RXNE` will never be set. This causes the innermost loop to spin forever.

Similar to #8915, #7626 and commit 81cfdec3a9df54b400368211c70a9a1494a8c3da, but this issue is in polling mode, not interrupt.

[2018-07-30 15:23] SebastianBoe commented on #8838
Looking at the zephyr.map diff between gccarmemb and cross-compile it is clear that cross-compile is not using a thumb libc implementation.

I was able to reproduce the failure when CROSS_COMPILE was used.

However adding the flag

-DLIBC_LIBRARY_DIR=/home/sebo/Downloads/gcc-arm-none-eabi-7-2018-q2-update/arm-none-eabi/lib/thumb/v7-m

resolved the issue again.

The difference between cross-compile

[2018-07-30 18:58] ramonhpr commented on #9160
I could, with your patch, use ML-EID in my server border router and it seems to work fine. And indeed I was mixing this terms, thanks for explaining that.

[2018-07-30 19:17] #7977 closed

[2018-07-31 06:55] rlubos commented on #9160
Thanks for veryfing, I'll create a PR with the changes then. Can we assume that they fix this issue?

[2018-07-31 08:13] #9160 closed

[2018-07-31 09:33] avisconti commented on #9028
For ArgonKey board I included the fix to this issue in the PR #9183.

Two things has been done:
  A. APB2 clock has been slowed down to 42MHz.
  B. The SPI/I2S clock gpio speed has been set to very_high_speed.

[2018-07-31 11:08] jhedberg commented on #3221
Thinking a bit more about this, is there really a place in the spec that says we must not retain keys during the connection. AFAIK "bonding" just means that we provide no guarantees on the persistency of the keys while not having any exact rules on when they must be gone. In the case of signing I'd definitely expect the CSRK to be available during the connection - otherwise we wouldn't be able to

[2018-07-31 12:36] nashif commented on #3826
@nategraff-sifive can you please check if this bug is still relevant?

[2018-07-31 12:46] SebastianBoe commented on #8977
Hi,

please modify gcc.cmake to print value of

CMAKE_C_COMPILER

and TOOLCHAIN_C_FLAGS

[2018-07-31 12:59] SebastianBoe commented on #8977
The build system is unable to extract information about the compiler.

This could (among other things) happen if you don't have the rights to execute the compiler.

What you could do is try to execute

/opt/zephyr-sdk/sysroots/x86_64-pokysdk-linux/usr/bin/i586-zephyr-elf/i586-zephyr-elf-gcc --version

[2018-07-31 14:08] #9006 closed

[2018-07-31 14:15] jhedberg commented on #8350
@jhedberg wrote:

@carlescufi write:

@jhedberg wrote:

@sjanc convinced me that we should allow this. My original thinking was stemming from the assumption that the resulting key would be unauthenticated (I was trying to err on the side of caution). However, now that we're going with an authenticated key there's no difference to how we handle authenticated vs unauthenticated pairing, meaning it's

[2018-07-31 15:31] erwango opened #9193 "STM32: Move DMA driver to LL/HAL and get it STM32 generic"
Current STM32 DMA driver if F4 only.
It should be moved to LL or HAL to be STM32 generic.
Implementation should enable DMA configuration by device tree

[2018-07-31 16:18] nategraff-sifive commented on #3826
Will do 👍

[2018-07-31 16:40] #8977 closed

[2018-07-31 17:03] jhedberg commented on #9070
We don't really have anyone actively working on BR/EDR support, so everything that's in the tree should be considered experimental. However, I welcome any contributions to make the BR/EDR stack and related samples more complete!

[2018-07-31 17:06] nashif commented on #8610
it works, so lets close it.

[2018-07-31 17:06] #8610 closed

[2018-07-31 17:07] nashif commented on #8997
@nordic-krch can you please take a look?

[2018-07-31 17:07] nashif commented on #8999
@nordic-krch can you please take a look?

[2018-07-31 17:08] nashif commented on #8699
@kgugala can you please have a look?

[2018-07-31 17:30] galak opened #9194 "generated syscall header files don't have ifndef protection"
For example:

'include/generated/syscalls/rtc.h'

Doesn't have anything like:

[code]

[2018-07-31 17:59] galak opened #9196 "optimize gen_kobject_list.py"
gen_kobject_list.py is taking several seconds to run, lets see if we can optimize it

[2018-07-31 18:42] jli157 opened #9198 "Out-of-Tree YAML and DTS support"
Is it possible to have yaml definitions and dts files in an out-of-tree board directory?

[code]

This request could be part of the issue: #9172

[2018-07-31 18:51] therealprof commented on #7571
I'm on vacation. Feel free to declare it fixed and I'll follow up with a new ticket if I still see problems.

[2018-07-31 19:34] nashif commented on #9196
this is the same as #8559

[2018-07-31 20:40] galak commented on #8559
Also seeing gen_kobject_list.py taking a few seconds to run.  Adding comments here, and will close PR #9196

[2018-07-31 20:40] galak commented on #9196
Closing this in favor of #8559

[2018-07-31 20:40] #9196 closed

[2018-07-31 21:12] andrewboie commented on #9194
I'm not seeing a need to change this, what problem would this solve?

These generated headers should never be included directly by anyone, they really need to only be included at the very end of the corresponding headers that define the system calls, inside that header's ifdef guard.

You'll never be able to make these generated headers safe to include in a general sense as they also do not includ

[2018-07-31 23:33] #3631 closed

[2018-08-01 05:10] nordic-krch commented on #8999
@nashif, I have no access to the report (same in #8997)

[2018-08-01 07:40] hakonfam commented on #9198
Yes, use the `BOARD_ROOT` variable as specified in [here](http://docs.zephyrproject.org/application/application.html#custom-board-definition).

[2018-08-01 07:50] nordic-krch commented on #8965
The problem that I found was that once UTIL_CAT() is used as one of the argument of ## compilation fails.

Here is the use case I've seen before:

Suppose that you have a module which has own MODULE_DEFINE(_name) and uses kernel module, like:

[code]
Compilation fails on that call:
` MODULE_DEFINE(UTIL_CAT(my_module, MODULE_PRIORITY_HIGH))`

In that case I used define in the name to enforce sortin

[2018-08-01 07:57] jli157 commented on #9198
BOARD_ROOT doesn't support defining out-of-tree yaml files since the script `extract_dts_includes.py` only reads yaml files from the directory "${ZEPHYR_BASE}/dts/bindings" which is specified on the line 105 of the file `${ZEPHYR_BASE}/cmake/dts.cmake`.

[2018-08-01 08:14] rlubos commented on #6785
Closing obsolete issue.

[2018-08-01 08:14] #6785 closed

[2018-08-01 13:13] #8350 closed

[2018-08-01 13:13] #8385 closed

[2018-08-01 14:05] jhedberg commented on #3221
Ok, I overlooked the fact that the issue is encrypting with an all-zeroes LTK value rather than the LTK being around. Fix coming up in a moment, but there's still the issue of CSRK which is essentially broken combined with no-bonding right now.

[2018-08-01 15:13] pizi-nordic commented on #9198
FYI: @pdunaj

[2018-08-01 15:30] pizi-nordic commented on #7151
FYI: @carlescufi, @anangl

[2018-08-01 16:14] aescolar commented on #9172
Having also support for out of tree archs would be very welcome for us.

[2018-08-01 20:57] pswarnak opened #9221 "calloc memory data is not initialized to zero for MINIMAL_LIBC"
As per [calloc](https://linux.die.net/man/3/calloc) description, the allocated memory is set to zero.
In the current MINIMAL_LIBC implementation of calloc in Zephyr, calloc memory data is not initialized to zero.

**Arch:** all
**Board:** all

**Code Snippet:**
void test_calloc(void)
{
        char *cptr = NULL;
        cptr = (char *) calloc(CALLOC_BUFLEN, sizeof(char));
        zassert_not_null(

[2018-08-01 23:05] #3221 closed

[2018-08-01 23:52] galak opened #9224 "sam_e70_xplained fails to build several tests"
Several networking tests don't build anymore due to:
[code]

sam_e70_xplained          tests/net/6lo/net.6lo                              FAILED: build_error
	see: sanity-out/sam_e70_xplained/tests/net/6lo/net.6lo/build.log

total complete:  149/ 221  67%  failed:    1

sam_e70_xplained          tests/net/app/net.app.no-ipv6                      FAILED: build_error
	see: sanity-out/sam_e70_xplaine

[2018-08-01 23:53] galak commented on #9224
@tgorochowik Can you look at this.

[2018-08-02 02:40] #9221 closed

[2018-08-02 07:52] tgorochowik commented on #9224
@galak it should be ok now.

[2018-08-02 10:25] SebastianBoe commented on #8851
I can confirm that it is not possible to create a true out-of-tree Zephyr CMake library today.

There are several ways we could add support for this.

Allow users to declare Zephyr CMake libraries before boilerplate.cmake.

Re-write the "magic" in the core build scripts that depend on having a complete list of Zephyr CMake libraries to use generator expressions instead.

Introduce a footer and hea

[2018-08-02 11:24] erwango opened #9233 "Get 96Boards boards compliant with default configuration guidelines"
Created from #7151, dedicated to 96Boards boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi

[2018-08-02 11:26] erwango opened #9234 "Get ARC boards compliant with default configuration guidelines"
Created from #7151, dedicated to ARC based boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429z

[2018-08-02 11:27] erwango opened #9235 "Get XTENSA boards compliant with default configuration guidelines"
Created from #7151, dedicated to XTENSA boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi c

[2018-08-02 11:28] erwango opened #9236 "Get X86 boards compliant with default configuration guidelines"
Created from #7151, dedicated to X86 boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi coul

[2018-08-02 11:29] erwango opened #9237 "Get RISCV boards compliant with default configuration guidelines"
Created from #7151, dedicated to RISCV boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi co

[2018-08-02 11:30] erwango opened #9238 "Get POSIX board compliant with default configuration guidelines"
Created from #7151, dedicated to POSIX board

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi cou

[2018-08-02 11:31] erwango opened #9239 "Get NIOS boards compliant with default configuration guidelines"
Created from #7151, dedicated to NIOS boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi cou

[2018-08-02 11:34] erwango opened #9240 "Get ARM boards compliant with default configuration guidelines"
Created from #7151, dedicated to ARM (mps2, beetle, ..) boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm

[2018-08-02 11:35] erwango opened #9241 "Get ATMEL SoC based boards compliant with default configuration guidelines"
Created from #7151, dedicated to ATMEL boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi co

[2018-08-02 11:36] erwango opened #9242 "Get NORDIC SoC based boards compliant with default configuration guidelines"
Created from #7151, dedicated to NORDIC boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi c

[2018-08-02 11:36] erwango opened #9243 "Get NXP SoC based boards (8) compliant with default configuration guidelines"
Created from #7151, dedicated to NXP boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi coul

[2018-08-02 11:37] erwango opened #9244 "Get SILABS board compliant with default configuration guidelines"
Created from #7151, dedicated to SILABS boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi c

[2018-08-02 11:39] erwango opened #9245 "Get TI SoC based boards compliant with default configuration guidelines"
Created from #7151, dedicated to TI boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi could

[2018-08-02 11:40] erwango opened #9246 "Get ST Nucleo boards compliant with default configuration guidelines"
Created from #7151, dedicated to ST Nucleo boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429z

[2018-08-02 11:41] erwango opened #9247 "Get ST Disco and Eval boards compliant with default configuration guidelines"
Created from #7151, dedicated to ST Disco and Eval boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucl

[2018-08-02 11:41] erwango opened #9248 "Get Olimex boards compliant with default configuration guidelines"
Created from #7151, dedicated to Olimex boards

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zephyrproject-rtos/zephyr/tree/master/boards/arm/nucleo_f429zi c

[2018-08-02 11:44] erwango opened #9249 "Get non ST, STM32 Based boards compliant with default configuration guidelines"
Created from #7151, dedicated to non ST, STM32 based boards (dragino_lsn50, stm32_min_dev, stm32_mini_a15)

Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

https://github.com/zeph

[2018-08-02 11:57] nvlsianpu opened #9250 "drivers: spi: NRF5x Avoid locking when not threaded"
When using CONFIG_MULTITHREADING=n, the semaphore primitives are
non-functional and useless. Remove their usage when this option is
enabled.

Something like this was previously applied to the flash driver (see https://github.com/zephyrproject-rtos/zephyr/commit/408ea1464b254972f00469cad4f23c078c2857d4)

Reason behind this request is possible usage of SPI driver along with mcuboot which is the one-

[2018-08-02 13:38] galak commented on #9194
I think doing this might avoid some weird error that might be hard to track down later.  The system calls have introduced some interesting include path issues (see commit 8777ff1304fd7c07f35a7aca655b92d0e98a277b).  So thinking having the headers have proper ifndef protection would just be good form.

[2018-08-02 15:52] dcpleung commented on #1550
Took a look at it more. The currently pci_dev_scan() does not necessarily give you BAR #0 the first time it is called on a device/func pair. If the function is previously used, the internal struct is changed. So, for example, calling this function again with PCI_ANY_BAR may give you BAR #3 instead of #0.

[2018-08-02 17:32] aescolar commented on #9238
@erwango Is it not following the guideline already?

[2018-08-03 04:59] vonhust commented on #9067
@ruuddw @andrewboie @nashif

The bug is introduced in kernel: fix errno access for user mode (commit 7f4d00695929e7115529aa533b3c4b4ea13d5cf0).

For ARC' stack check, Non-%SP based memory references may not reference the unallocated stack region,  so the access to errno will raise stack check exception.

[2018-08-03 06:07] spoorthik opened #9262 "tests/kernel/mem_protect/userspace.access_other_memdomain fails on sam_e70_xplained"
**Testcase:** tests/kernel/mem_protect/userspace.access_other_memdomain

**Latest commit on which failure found:** 4b22ba7e4ba82e9f63e10eef89722047858033fc

**Execution log:**
[code]
**Steps to reproduce:**
source zephyr.git/zephyr_env.sh
cd zephyr.git/tests/kernel/mem_protect/userspace
mkdir build && cd build
cmake -DBORD=sam_e70_xplained ..
make flash

[2018-08-03 07:06] vonhust commented on #9067
@ruuddw @andrewboie @nashif
For
` new_thread->errno_location = (int *)K_THREAD_STACK_BUFFER(stack); `

I think it's better to use the following

` new_thread->errno_location = (int *)(new_thread->stack_info.start +
                                                              new_thread->stack_info.size); `

Because K_THREAD_STACK_BUFFER(stack) may be not the top of thread stack.
In ARC, for kerne

[2018-08-03 11:04] ramonhpr opened #9270 "cmake: kconfig: menuconfig is not writing zephyr/.config"
Hello,

When I fetch the repository yesterday I couldn't select the packages in menuconfig anymore.

I think this could be related from commit hash: `5402662dd96112fc69d304175f2cf453f1b203da`
Because it is not writing in `zephyr/.config` file anymore.

Thanks in advance.

[2018-08-03 11:52] ajaykish opened #9273 "k_pipe_alloc_init() api is failing on qemu_x86"
k_pipe_alloc_init() api is failing on qemu_x86. This api is getting validated with the test case in https://github.com/zephyrproject-rtos/zephyr/pull/9231.

Same test is passing in all supported architecture, including x86 based boards ( quark_se_c1000, arduino_101 and quark_d2000_crb).

[2018-08-03 12:11] ulfalizer commented on #9270
@ramonhpr
See if https://github.com/zephyrproject-rtos/zephyr/pull/9274 fixes it. Sorry about that!

[2018-08-03 12:25] rveerama1 commented on #9041
I am working on issues #8721 and #8724. I will consider your inputs while optimization.

[2018-08-03 12:53] erwango commented on #9238
@aescolar , I created tickets for all the boards, didn't look into each one in detail.
I had a look, and it seems it is. Since there is no pinmux, there is indeed not much to do.
One point not clear to me: I don't see any .dts file. Does it mean there won't ever be one?

[2018-08-03 13:24] aescolar commented on #9238
I guess there hasn't been a need for it. If there would be, I guess it would be added.
Note that the native_posix board is a testing target. Not a real embedded board.

[2018-08-03 13:30] pizi-nordic commented on #9043
I have verified the  k_cycle_get_32() and I did not noticed any wrapping around there minutes.

Code snipped which I used for verification:
[code]

Result:
[code]

[2018-08-03 14:01] erwango commented on #9238
Yeah, sure.
But if/once we rely on dts to get information on boards as for CI case for instance (instead of current yaml) it might be required. This is not yet the case anyway.

So let's close this ticket. Thanks!

[2018-08-03 14:01] #9238 closed

[2018-08-03 14:40] MaureenHelm commented on #9054
Fixed by #9253

[2018-08-03 14:40] #9054 closed

[2018-08-03 16:15] ramonhpr commented on #9270
Yes. It is fixed!
Thanks @ulfalizer

[2018-08-03 16:41] #9270 closed

[2018-08-03 20:56] mike-scott opened #9283 "net_buf: fix void * vs. u8_t * inconsistencies"
The net_buf APIs take a mix of `void * `and `u8_t *` when passing buffer pointers.

We should consolidate on 1 or the other.

[2018-08-04 01:49] GAnthony opened #9284 "Issues/experience trying to use TI ARM code gen tools in Zephyr"
This is more of a recording of some experience attempting to integrate the TI ARM compiler into Zephyr's CMake-based build system.

It can be linked to the umbrella issue: #5517 .

Steps:

1) Download/install TI ARM tools (v 18.1.0.LTS):   http://www.ti.com/tool/download/ARM-CGT-17
2) Follow Zephyr project docs, using [Custom Cross Compilers](http://docs.zephyrproject.org/getting_started/getting_s

[2018-08-04 13:54] therealprof opened #9287 "net/dhcpv4: Fix single byte buffer filling madness"
The DHCP client is adding an empty file and sname in a tremendously wasteful way:
[code]

causing a boatload of `net_buf_simple_add` calls per outgoing DHCPv4 packet:

[code]

[2018-08-04 15:26] mandarcthorat1 opened #9289 "[Coverity CID :187326] Control flow issues in /samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/mesh/device_composition.c"
Static code scan issues seen in File: /samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/mesh/device_composition.c
 Category: Control flow issues
 Function: light_ctl_temp_range_set_unack
 Component: Samples
 CID: 187326
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-04 15:26] mandarcthorat1 opened #9290 "[Coverity CID :187325] Control flow issues in /samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/mesh/device_composition.c"
Static code scan issues seen in File: /samples/boards/nrf52/mesh/onoff_level_lighting_vnd_app/src/mesh/device_composition.c
 Category: Control flow issues
 Function: light_ctl_temp_range_set_unack
 Component: Samples
 CID: 187325
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-04 15:26] mandarcthorat1 opened #9291 "[Coverity CID :187324] Control flow issues in /subsys/net/lib/sockets/sockets.c"
Static code scan issues seen in File: /subsys/net/lib/sockets/sockets.c
 Category: Control flow issues
 Function: zsock_setsockopt
 Component: Networking
 CID: 187324
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-04 15:26] mandarcthorat1 opened #9292 "[Coverity CID :187323] Control flow issues in /subsys/net/ip/net_if.c"
Static code scan issues seen in File: /subsys/net/ip/net_if.c
 Category: Control flow issues
 Function: net_if_set_promisc
 Component: Networking
 CID: 187323
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-04 15:26] mandarcthorat1 opened #9293 "[Coverity CID :187322] Incorrect expression in /tests/posix/pthread_key/src/pthread_key.c"
Static code scan issues seen in File: /tests/posix/pthread_key/src/pthread_key.c
 Category: Incorrect expression
 Function: thread_top
 Component: Tests
 CID: 187322
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-04 15:26] mandarcthorat1 opened #9294 "[Coverity CID :187321] Possible Control flow issues in /samples/net/sockets/big_http_download/src/big_http_download.c"
Static code scan issues seen in File: /samples/net/sockets/big_http_download/src/big_http_download.c
 Category: Possible Control flow issues
 Function: main
 Component: Samples
 CID: 187321
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-04 15:26] mandarcthorat1 opened #9295 "[Coverity CID :187320] Control flow issues in /drivers/ethernet/eth_sam_gmac.c"
Static code scan issues seen in File: /drivers/ethernet/eth_sam_gmac.c
 Category: Control flow issues
 Function: eth_sam_gmac_setup_qav_idle_slope
 Component: Drivers
 CID: 187320
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-04 15:26] mandarcthorat1 opened #9296 "[Coverity CID :187319] Control flow issues in /subsys/net/lib/sockets/sockets.c"
Static code scan issues seen in File: /subsys/net/lib/sockets/sockets.c
 Category: Control flow issues
 Function: zsock_getsockopt
 Component: Networking
 CID: 187319
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-04 15:26] mandarcthorat1 opened #9297 "[Coverity CID :187318] Error handling issues in /tests/posix/pthread_key/src/pthread_key.c"
Static code scan issues seen in File: /tests/posix/pthread_key/src/pthread_key.c
 Category: Error handling issues
 Function: test_pthread_key
 Component: Tests
 CID: 187318
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-05 17:08] ydamigos commented on #8915
Does PR #9301 helps with this issue?

[2018-08-06 07:37] avisconti commented on #8915
@ydamigos
I can try it out. The area of my error is pretty close to this fix.
Thanks for reporting it to me!

[2018-08-06 07:54] pdunaj commented on #9198
The same issue: https://github.com/zephyrproject-rtos/zephyr/issues/8849

[2018-08-06 07:59] pdunaj commented on #9045
It's good to see that other people see the thread stacks issue.

[2018-08-06 09:40] #9291 closed

[2018-08-06 09:40] #9296 closed

[2018-08-06 09:43] #9131 closed

[2018-08-06 10:50] nvlsianpu opened #9308 "DT: support reference the flash-controller node by the partition node."
For instance: for `gpios` node it is possible to reference it from `led-gpios` node and obtain a label required for binding to proper `gpio driver`.

I want to do something nearly similar for the flash controller node. I want to reference it from the `partition` node and thanks to it obtain the `label` entry of flash controller. This subject was discused prior with @erwango.  Conclusion was that t

[2018-08-06 10:51] nvlsianpu commented on #9308
^^ @erwango

[2018-08-06 10:51] nvlsianpu commented on #9308
^^ @carlescufi

[2018-08-06 11:20] nvlsianpu commented on #9308
^^ @galak

[2018-08-06 11:47] varun-sha commented on #7348
@ramakrishnapallala i think Nordic cli is not targeted for 1.13 release
@nvlsianpu @koffes : can you pls comment, i have done implementation for this and submitted pr as per current cli which we have in zephyr, should we go ahead with this pr? or should wait for nordic cli which will be integrated into Zephyr..and then integrate our changes into that...

[2018-08-06 12:42] koffes commented on #7348
I have no say here, but if we can have this feature as part of the existing CLI instead of waiting it would be beneficial.

[2018-08-06 13:37] cvinayak opened #9310 "nRF52_PCA10040: Failing test_slice_reset"
[2018-08-16 11:29:11.786] starting test - test_slice_reset
[2018-08-16 11:29:12.113]
[2018-08-16 11:29:12.113]     Assertion failed at /home/parker/workspace/zephyr/tests/kernel/sched/schedule_api/src/test_sched_timeslice_reset.c:39: thread_tslice: t <= expected_slice[thread_idx] is false
[2018-08-16 11:29:12.125]
[2018-08-16 11:29:12.344] FAIL - test_slice_reset
[2018-08-16 11:29:12.345] ========

[2018-08-06 14:26] avisconti commented on #8915
@erwango @ydamigos
Unfortunately the #9301 fix does not solve my issue, but I have some information to share.
As you know I'm using  I2C_STM32_INTERRUPT and I go in Standard Mode (100k)
Pay attention to 4 and 5 especially.

1.  The driver stops forever on sem_take() in write_msg(). I verified that the driver
      restarts correctly if I generate the sem_give() manually. Ebentually it stops again.

[2018-08-06 15:05] SebastianBoe commented on #4951
To implement this one would need to:

Add -MD to the compile_options to have gcc spit out which header
files are used for each source file, which is trivial.

Remove CMake's autodetected dependency on autoconf.h, which I
haven't done before but I hope is possible with CMake.

Run a script on each 'gcc -MD' generated dep file to detect which
symols are used by a source file. Now, this one is tricky

[2018-08-06 15:25] avisconti commented on #8915
As you can see in the scope trace the last transaction is malformed, and does not generate any event for the s/w which hangs,

[2018-08-06 15:32] SebastianBoe commented on #5343
This patch resolves the issue: https://github.com/SebastianBoe/zephyr/commit/d3fa360f4d6970c129c7476bdc1060e8eb60788f

But I am hesitant to apply it as it is not obvious to me whether the improved organization outweighs the possibility of breaking backwards compatibility with external systems.

[2018-08-06 16:03] erwango commented on #8915
If this is happening at low speed, isn't it linked to GPIO speed being too fast now (and producing rebounds)? Can you have a try?
I know this kind of issue could happen at low speed. Also at low speed you should not have too long wires..

[2018-08-06 19:07] carlescufi commented on #9310
Assigning to @pizi-nordic since he's already looked into failing kernel tests

[2018-08-06 19:56] #9128 closed

[2018-08-06 21:31] jli157 commented on #9198
Closed since the issue #8849 already covers the concerns this issue raises.

[2018-08-06 21:31] #9198 closed

[2018-08-07 07:26] erwango commented on #8915
My bad, mixed topics. Forgot about it.

[2018-08-07 07:36] avisconti commented on #9028
I'm closing now this issue.

[2018-08-07 07:36] #9028 closed

[2018-08-07 07:39] pizi-nordic commented on #9310
Should be already fixed by #9073. I will confirm that as soon as I finish #9275.

[2018-08-07 08:48] SebastianBoe commented on #8439
I'm not sure what to make of this, could you change the title to make it clear whether this is a;

feature request,
question,
bugreport,
RFC.

[2018-08-07 09:42] tejlmand commented on #8439
Consider it a "reverse" feature request.

The request is to remove the mentioned wrapped functions, and instead stick to default CMake functions, which already provides what is needed.

Only create and maintain zephyr functions where a new functionality is really useful, e.g. like the zephyr check compiler flag functionality.

This will also ease the entry barrier for new comers who already know t

[2018-08-07 10:58] tejlmand commented on #8441
Removed the text directly related to the IDE, but kept text which describes/lists the sub-libraries, as that is important for the issue. With many sub-libraries, it becomes hard to setup all inter dependencies (and are they circular as well ?)
Example,
every subsys__bluetooth_X probably depends upon subsys__bluetooth__common
but are there inter dependencies between subsys__bluetooth__controller an

[2018-08-07 12:15] rodrigopex commented on #5703
@nashif any progress on that? Can I start to work to create the API/Driver?

[2018-08-07 12:47] pizi-nordic commented on #9310
I confirmed that #9073 solves this problem.

[2018-08-07 12:51] nullr0ute commented on #5703
@rodrigopex I would suggest just get going on it if you have the cycles

[2018-08-07 20:15] rodrigopex commented on #5703
What do you mean with cycles?
On Tue, 7 Aug 2018 at 09:51 Peter Robinson <notifications@github.com> wrote:

[2018-08-07 21:16] nullr0ute commented on #5703
If you have the time to work on it (the cycles) I'd probably just do so, maybe check on IRC

[2018-08-07 22:19] mnkp commented on #9015
To resolve this issue we need to decide how to define a 'reasonable' amount of network buffers for a given Ethernet driver without forcing all the drivers to use the same values. This issue should be probably taken over by @jukkar or @tbursztyka. I removed myself from 'Assignees' list, won't be able to help here.

[2018-08-07 22:26] mnkp commented on #9015
PR #8966 merged commits which ensure that networking tests are run in qemu_x86 or native_posix only. But we probably still need a solution for all the sample projects? If not this issue can be closed.

[2018-08-07 22:34] mnkp commented on #3073
No support for SAM family DAC driver is planned at the moment. No need to track this issue.

[2018-08-07 22:34] #3073 closed

[2018-08-07 22:34] mnkp commented on #3071
No support for SAM family Timer Counter driver is planned at the moment. No need to track this issue.

[2018-08-07 22:34] #3071 closed

[2018-08-07 23:16] mike-scott opened #9330 "network: clean up / implement supervisor to manage net services"
The goal of this issue is to discuss and track the implementation of a "network supervisor" for Zephyr.  By implementing a smart network supervisor we can eliminate some of the adhoc code going into various subsystems under subsys/net/lib.  This network supervisor would work the same for applications using net_app or sockets layers.

Steps towards implementation (note: some of these may already be

[2018-08-07 23:17] mike-scott commented on #9330
@jukkar @pfalcon Adding you here for future discussion

[2018-08-08 02:47] ulfalizer commented on #6770
@carlescufi @SebastianBoe @mbolivar
Working on multiple repository support in West at the moment.

Random brain dump below:

In some previous discussion, people (can't remember who) said they'd prefer if `west sync` checked out the repositories on a branch instead of with a detached HEAD (`git-repo` uses a detached HEAD, if I understand it right).

One advantage of having a branch checked out is t

[2018-08-08 04:16] ulfalizer commented on #6770
Hmz... maybe the sanest thing if we go for the branch thing would be to always switch over to it and then rebase (`git pull --rebase` or some equivalent), leaving rebasing of any other branches up to the user. That's simple enough to understand.

Might be able to switch back to the previous location too, with `git checkout -` (just discovered that one).

[2018-08-08 06:39] postlund opened #9333 "Support for STM32 L1-series"
I'm currently looking around for a small RTOS to use in a new project for a customer and Zephyr matches more or less perfectly what I need. My current problem is that the CPU used in the project is based on the STM32L1 series (STM32L152RE to be more exact) and Zephyr does not seem to support that at the moment. So I would like to request support for L1 to be added.

https://www.st.com/en/embedded-

[2018-08-08 06:47] pswarnak commented on #9310
This is already reported in #8896.

[2018-08-08 06:54] #3233 closed

[2018-08-08 07:32] jukkar commented on #9292
False positive

[2018-08-08 07:32] #9292 closed

[2018-08-08 07:35] postlund commented on #9333
Hi @erwango,

Thanks for the quick reply. I actually started a port last week and it seems quite straight-forward. But I'm new both to the STM32 processor family and zephyr, so it's a slow process (along with my time being limited). But I will try to make some PRs for the things I do and hopefully get things working bit-by-bit. Getting "hello world" working on my development board would be a splen

[2018-08-08 07:40] jukkar commented on #9287
This is indeed quite wasteful. The original reason for this was that the code tries to avoid allocating zeroed buffer from stack and then appending that buffer in one go. So this is a trade off between stack usage vs. calling append_u8 multiple times.

[2018-08-08 07:59] therealprof commented on #9287
How about a function to add a specified number of zeros? That'd at least run in an inner loop rather than an outer loop with an outlandish number of trivial function calls (+ log output).

[2018-08-08 08:05] pfalcon commented on #9015
@mnkp: Thanks for the responses! I definitely have a bunch of alternatives to present for this *could* be solved (addressed). But I'm just back from vacation and going thru the backlog, and probably straight into the 1.13 release rush, so please give me some time to prepare the response. Thanks!

[2018-08-08 09:47] zephyrbot opened #9340 "Failed test: kernel.common.errno.thread_context on em_starterkit_em7d_v22 and minnowboard"
Execution log:
[code]

Commit ID: a564e640e3d5adf84c65243d26f6562910a89a0a

Failure found on : em_starterkit_em7d_v22 (arc)

[2018-08-08 11:32] #9295 closed

[2018-08-08 11:34] jukkar commented on #9287
That kind of function would indeed make sense here, would you able to send a PR for that?

[2018-08-08 11:40] therealprof commented on #9287
Sure, where would I add that? IIRC there're a few indirections in there before the call ends up at `net_buf_simple_add` so we potentially end up with more than one additional function so we can use it from the DHCP client.

[2018-08-08 12:08] jukkar commented on #9287
The new function would be either in buf.h or net_pkt.h. Perhaps it makes sense to place it to buf.h so it is more generic, the name could be net_buf_mem_set() or similar. It could look like this:

`int net_buf_mem_set(struct net_buf *frag, u16_t offset, u16_t len, u8_t value, s32_t timeout);`

Note that the function must work across a chain of net_buf fragments.

[2018-08-08 12:27] therealprof commented on #9287
Well, that was the point I was trying to make: I think it belongs into `buf`, however most subsystems are using the `net_pkt` class of functions so just having the raw functionality won't help much. We'll either need multiple functions or need to have the `net_pkt` function do some ugly stuff with the raw buffers.

[2018-08-08 13:06] #2991 closed

[2018-08-08 13:12] MaureenHelm commented on #3132
@pfalcon Is this still an issue?

[2018-08-08 13:27] pfalcon commented on #3132
@nashif

That would be too simple, isn't it? ;-) No, it's not related to logging being enabled, at least not in the way you suggest. All testing and reports happen against the pristine mainline, which has logging enabled only for errors. (And if it's related to logging for errors being enabled, not used (no errors printed), but it still affects network stack, then we have quite big a problem. As i

[2018-08-08 15:02] rlubos opened #9348 "samples: net: echo_client/echo_server does not work with IPv4 qemu_x86"
It looks like `echo_server`/`echo_client` and probably other samples that use IPv4 does not work on `qemu_x86`. Bisecting showed up that https://github.com/zephyrproject-rtos/zephyr/commit/bab35512f87b3bc9804a3b90d489c911701cfae8 broke them. It kinda makes sense, because IPv6 communication works, while IPv4 is broken.

I'm not sure what exactly is wrong in ARP as I'm not familiar with the implemen

[2018-08-08 15:03] rlubos commented on #9348
CC @jukkar

[2018-08-08 15:57] jukkar commented on #9348
Thanks for a report, I will look into it.

[2018-08-08 16:01] jukkar opened #9349 "Support IPv6 privacy extension RFC 4941"
It would be useful to have RFC 4941 "Privacy Extensions for Stateless Address Autoconfiguration in IPv6" supported. See https://tools.ietf.org/html/rfc4941 for details.

[2018-08-08 17:09] jukkar commented on #9287
Hmm, after looking how the net_pkt_append() is doing it, I must say you are right. Making this with just plain net_buf looks quite challenging from net_pkt point of view. We would probably need support for this functionality both in buf.h and in net_pkt.h

[2018-08-09 05:28] nniranjhana commented on #9340
This is related: https://github.com/zephyrproject-rtos/zephyr/issues/9067

[2018-08-09 05:36] arn-soft opened #9352 "DFU for nrf52840"
Is it possible to Upgrade a bare metal firmware(not from zephyr, may be from nrf sdk example) through smp server explained in zephyr project ?

[2018-08-09 08:27] cvinayak commented on #9352
@lemrey FYI

[2018-08-09 08:29] cvinayak commented on #8683
@GerlichM please check you toolchain, also do try clean build starting with cmake

[2018-08-09 08:32] cvinayak commented on #9352
Relates to #9055

[2018-08-09 08:44] lemrey commented on #9352
Short answer: no, that is not possible.

The SMP server works with MCUBoot; it won't work with the nRF SDK bootloader.
However, it is possible to migrate from the nRF SDK bootloader to MCUboot and use a built-in firmware update procedure, like the serial recovery mode, to program the SMP server. You would need a signed bootloader image to update bootloader though.

[2018-08-09 08:44] nvlsianpu commented on #9352
I not possible to upgrade bare-metal application using <b>smp</> functionality, unless it is not implemented inside it (and is not). smp server solution's is implemented for zephyr and mynew, not for bare metal (of course you can port it, which dosen't make big sense).

[2018-08-09 08:56] #9348 closed

[2018-08-09 09:04] IotPanorama commented on #9352
I have nrf52840 PDK with smp server example running into it. I have also tested DFU by using hello world example of zephyr (having CONFIG_BOOTLOADER_MCUBOOT=y). It also worked as expected. Now i wan't to update the firmware with a simple blinky code (no operating system, no bootloader configuration enabled). will i be able to update that firmware ? at least till the image testing stage.

[2018-08-09 09:16] nvlsianpu commented on #9352
I will be possible once you compile application designed to place from image_0 offset, which vector table shifted by 0x200.

[2018-08-09 09:50] IotPanorama commented on #9352
After changing the address, when i am getting following error after signing the image.
![mcu_boot](https://user-images.githubusercontent.com/29814622/43891757-c76d4ae0-9be7-11e8-9a3e-148ed2092ef3.png)

[2018-08-09 09:55] pswarnak opened #9356 "Test tests/crypto/rand32 hangs on nrf51_pca10028"
The test **tests/crypto/rand32/** hangs on nrf51_pca10028.

**Arch:** arm
**Board:** nrf51_pca10028
**Zephyr version:**  commit d003d0e.

**Error Console Log:**
[code]

**Steps to reproduce:**
[code]

[2018-08-09 10:08] carlescufi commented on #9352
No

[2018-08-09 10:10] carlescufi commented on #9356
@cvinayak can you please take a look? must be the entropy driver

[2018-08-09 10:11] carlescufi commented on #9310
closing as duplicate

[2018-08-09 10:11] #9310 closed

[2018-08-09 10:13] pfalcon commented on #3132
Test process as described in https://github.com/zephyrproject-rtos/zephyr/issues/3132#issuecomment-391702396 .

Master d003d0e6a69f57540bb7df9b9651a87e8ddf3b66.The issue is fully reproducible (this time it happened on ~50th ApacheBench request).

[2018-08-09 10:26] pfalcon commented on #3132
And with https://github.com/zephyrproject-rtos/zephyr/pull/7831 applied, *that particular* test doesn't reproduce the issue (https://github.com/zephyrproject-rtos/zephyr/pull/7831/comment#issuecomment-411711970).

[2018-08-09 10:42] IotPanorama commented on #9352
Please explain the reason behind it.

[2018-08-09 10:49] nvlsianpu commented on #9352
@IotPanorama I misses sense of your question before. Once you upgrade running application to the blinky_app you have lost smp_svr functionality as it is not implemented in the blinky - that te reason.

[2018-08-09 10:58] IotPanorama commented on #9352
That's fine . i want to update the image only once. but i am not even being able to sign the blinky image.

[2018-08-09 10:58] nvlsianpu commented on #9352
Look here: https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/nrf52840_pca10056/nrf52840_pca10056.dts#L89
@IotPanorama Your application should be linked into addresses form 0xc200, Your reset vector should start at 0xc200. Your app should take cere about vector relocation if your use any interrupts or expected any exception. Area from 0xc000 to 0xc2000 shouldn't be free.

[2018-08-09 12:01] finikorg commented on #8810
@erwango Maybe we can add a new board but try to source as much as possible from the "general" section?

[2018-08-09 12:53] erwango commented on #8810
@finikorg , not sure what you mean by "general" section.
My main issue is to duplicate minimum possible code and information, if you manage to do this, we can have a look.

[2018-08-09 13:35] pdunaj opened #9364 "NRFX based QDEC driver"
Implement driver supporting Nordic's QDEC.

[2018-08-09 13:36] pdunaj commented on #9364
Change is already done on our fork. I will create the PR to Zephyr later on.

[2018-08-09 16:20] #9081 closed

[2018-08-10 04:44] nniranjhana commented on #9340
Also, the libraries.encoding tests fail with similar error:

[code]

[2018-08-10 12:38] pfalcon commented on #9015
Ok, list of different ways this issue could be solved (@mnkp listed a few of ways in this list already - I'm glad we're on the same line). They're roughly sorted from least preferred to the most preferred.

1. Exclude boards with eth_sam_gmac from default sanitycheck runs - that's of course something which everyone wants to avoid.
2. Set the "right" number of buffers in _defconfig for a SoC/board.

[2018-08-10 13:16] #9356 closed

[2018-08-10 13:56] jukkar commented on #9015
The point 5 is not without its own problems. The gmac buffer pool would mean that the driver would only able to receive X. number of frames (X > 1) at a time. If the core IP stack is not fast enough to process the packets, we will loose packets. If global buf pool is used, then we can utilize the buffer memory better. Of course in that case we might run out of buffers too.

I do not see big issue

[2018-08-11 07:39] xixidodo opened #9389 "ESP32 support: setting env var ESP_DEVICE not working"
refer to doc
http://docs.zephyrproject.org/boards/xtensa/esp32/doc/esp32.html

Quoted as:
"Environment variables can be set to set the serial port device, baud rate, and other options. Please refer to the following table for details."

after setting ESP_DEVICE=/dev/ttyUSB1,  'ninja flash' still flashing to port ttyUSB0.

Since I can not find ESP_DEVICE env setting in code, I am wondering if the do

[2018-08-11 16:15] andrewboie commented on #9067
I can take this, I'll move the errno location to the other end of the stack.

[2018-08-12 08:03] 1am opened #9392 "samples/bluetooth/hci_uart ninja flash - UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 360: ordinal not in range(128)"
Hi,

I'm trying to compile and flash the [hci_uart](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/hci_uart) example and everything works until the flashing part. It fails with a quite cryptic error and maybe someone will know where I should look for because when inspecting the python west script didn't find anything too obvious. My logs from each step are below:

`$ cm

[2018-08-12 15:04] 1am commented on #9392
Same thing for python 3.6

[2018-08-12 16:07] vanwinkeljan commented on #9392
Are your locals set correctly?
Could you try again after setting LC_ALL to UTF-8 (e.g. export LC_ALL=en_US.UTF-8)

[2018-08-12 17:47] 1am commented on #9392
You are right. Thank you for your help.

[2018-08-12 17:47] #9392 closed

[2018-08-13 05:24] electrocraz opened #9396 "./loop-socat.sh not running"
There is no response to ./loop-socat.sh in net-tools.
Please help as soon as possible.

[2018-08-13 09:13] varun-sha commented on #7348
@nashif  Can you share your thoughts...

[2018-08-13 09:24] spoorthik opened #9402 "samples/drivers/watchdog fails on frdm_k64f"
Execution log:

[code]

Board: freedom_k64f
Architecture: ARM

Latest commit: d71a1dfefd3ea0b7cefa3a3d1958a9238b5b1861

[2018-08-13 09:49] Jxudong opened #9403 "is Support C++ standard library?"
I used the third-party Eigen library in the project, which used C++ standard library, for example, include<complex>. When compiling, it was suggested that these header files were missing. Does zephyr not support C++ standard library?

[2018-08-13 11:14] ruuddw commented on #9067
#9264 fixes it by excluding the errno from the stack checking bounds (though some review comments stil pending on that one). Moving errno to the other end probably solves it as well.

[2018-08-13 12:26] jukkar commented on #9396
It works ok for me. Can you elaborate a bit more what kind of symptoms your have?
What happens if you run `socat PTY,link=/tmp/slip.dev UNIX-LISTEN:/tmp/slip.sock` manually?

[2018-08-13 13:10] erwango opened #9406 "Generate DTS 'compatible' based compilation flags"
This issue aims at proposing a mechanism that could be used to control code generation aside from dts based code generation.

### Basic idea

Generate compilation flags based on device tree 'compatible' property to control drivers compilation

### Why this is desirable
Code generation gating was removed from codegen proposal (#6762) as this was not fulfilling buid system expectations. I think a me

[2018-08-13 13:21] laperie opened #9407 "Link Layer Discovery Protocol RX support"
In addition to sending LLDP (done in #9153 ) Zephyr needs to support receiving and parsing LLDP protocol PDUs

[2018-08-13 14:07] b0661 commented on #9406
@erwango

I think DTS_ is the better choice as this is status information from the DTS. I would expect CONFIG_ to name something a dev can choose on.

By the way 'compatible' is available in codegen/edts:

[code]

You may access it within device_declare template by ```${compatible/0}``` or by a get property access to edts in the codegen snippet.

[2018-08-13 14:13] #8896 closed

[2018-08-13 14:17] pizi-nordic commented on #8897
Fixed by #9137

[2018-08-13 14:17] #8897 closed

[2018-08-13 14:44] MaureenHelm commented on #9402
This sample needs to be updated to the new watchdog API. See #8215

@kl-cruz Would it be possible to update the sample for 1.13?

[2018-08-13 14:48] b0661 commented on #9406
@erwango

There are at least two usage scenarios you are adressing:

1) include a file into compilation based on DTS 'compatible' info
  - needs some way to inform Kconfig/CMake about the 'comaptible' info. Could be read from then edts json file.
2) include/exclude source code within a file based on DTS 'compatible' info
  - already possible by codegen
  - to ease the task the devicedeclare codege

[2018-08-13 14:56] andrewboie commented on #9067
I think we should move it to the other end of the stack, it's a safer solution for all arches, the current design could introduce corruption if the stack pointer gets pushed up to, but does not exceed, the top.

[2018-08-13 15:33] erwango commented on #9406
@b0661

I intend to replace the use of existing flags such as CONFIG_I2C_STM32_V1 which are currently used
in both your scenari 1 and 2.
It would also help to replace the following flags combinations, if adequate compatible is provided
[code]

Indeed, I prefer to avoid generating code under ifdef and compile it out afterwards.
We will have some, but it should be limited to real devs Kconfig option

[2018-08-13 16:53] #7473 closed

[2018-08-13 17:17] andrewboie commented on #9273
None of those boards enable the MMU.

[2018-08-13 17:49] b0661 commented on #9406
@erwango

additionally generated.

DTS_xxxx describes a hardware characteristic. CONFIG_xxxx describes a choice made by the dev/ user.

[2018-08-13 18:35] ajaykish opened #9411 "checkpatch.pl generates warning messages during execution for tests/kernel/static_idt/src/main.c"
When running checkpatch.pl for tests/kernel/static_idt/src/main.c I see the following warning messages:

[code]

[2018-08-13 18:41] b0661 commented on #9406
@erwango

You may add the compatible defines definition in scripts/extract/compatible.py the usual way.

[2018-08-13 20:10] #8798 closed

[2018-08-14 01:43] #8438 closed

[2018-08-14 01:46] #8931 closed

[2018-08-14 02:37] #8431 closed

[2018-08-14 03:28] pswarnak opened #9413 "tests/cmsis_rtos_v1 - test_signal_events_signalled results in Assertion failure on nrf51/52"
The test **tests/cmsis_rtos_v1** results in Assertion failure in test_signal_events_signalled sub-test case.

**Arch:** arm
**Board:** nrf51/52 - nrf51_pca10028:arm, nrf52_pca10040:arm, nrf52840_pca10056:arm
**Zephyr commit:** 96abe861a7009f480f3f547472efd93cbaca65b4.

**Error Console Log:**
[code]

**Steps to reproduce:**
[code]

[2018-08-14 04:36] nniranjhana commented on #9293
#9085 which fixes this has been merged, hence closing this issue.

[2018-08-14 04:36] #9293 closed

[2018-08-14 04:36] nniranjhana commented on #9297
#9085 which fixes this issue has been merged, hence closing this issue.

[2018-08-14 04:36] #9297 closed

[2018-08-14 06:06] kl-cruz commented on #9402
I'll try to update it today, but I do not want to promise anything. There is "Feature Merge Window Close" tomorrow

[2018-08-14 06:40] ulfalizer commented on #9406
Hello,

It would be nicer if some other prefix than `CONFIG_` could be used, so that Kconfig settings can be distinguished from other settings.

Don't know how it's set up at the moment, but what about `DTS_` or the like? Pretty nice and explicit.

[2018-08-14 07:30] jhedberg commented on #8958
Maybe I'm not understanding something here, but why would 0x0000 be used instead of the controller manufacturer's own company ID?

[2018-08-14 07:44] erwango commented on #9406
@b0661 , @ulfalizer

Thanks for feedbacks and hints.
Cf missing point that I just added.

Generated  DTS_ flags will have to keep the existing dependency links with existing Kconfig generic symbols (I2C, SPI, USB, ..).
So I think that besides a pure list of #define we'll need to build a Kconfig file with the following assertions:
[code]
Or an equivalent definitions that allow to reproduce the depe

[2018-08-14 08:00] cvinayak commented on #8958
These are private (proprietary) opcodes, where proprietary host (implementation) commands interface with these proprietary features in the controller. No other vendor's host implementation will know about these features (commands). There is no necessity to update/add vendor id (enum value) to the hci.txt file.

The vendor can decide to define public vendor specific commands, for which he can have

[2018-08-14 08:33] ioannisg commented on #9262
The test is unstable for nrf52_pca10040, as well.

[2018-08-14 08:52] AdithyaBaglody commented on #9262
I have a PR #9288 up already.

[2018-08-14 09:45] pfalcon commented on #7571
It's not proven that https://github.com/zephyrproject-rtos/zephyr/commit/7c7cfdda50b066f4d9d1d8b5d2143a0cf19fda5e fixes this, reopening.

[2018-08-14 10:03] ioannisg commented on #9262
Yes, I have, now, seen that, @AdithyaBaglody , thanks!

[2018-08-14 10:30] ioannisg commented on #8018
Pull-request for migration into the new logging system: #9361

[2018-08-14 14:18] #8895 closed

[2018-08-14 16:13] Olivier-ProGlove opened #9432 "Overriding `LOG_LEVEL` could crash the firmware"
Here is a test based on `sample/hello_world` that crashes:

[code]

with `prj.conf`:

[code]

- Commenting `CONFIG_LOG_OVERRIDE_LEVEL=4` does not make the firmware crash
- Commenting `CONFIG_LOG_RUNTIME_FILTERING=y` does not make the firmware crash
- Commenting `#define LOG_LEVEL 0` does not make the firmware crash

[2018-08-14 16:50] ioannisg commented on #8907
@andrewboie , FYI

[2018-08-14 17:09] nashif commented on #8915
@erwango any update on this?

[2018-08-14 17:12] nashif commented on #8699
@kgugala ping

[2018-08-14 17:14] nashif commented on #8871
@erwango any update on this

[2018-08-14 17:14] nashif commented on #9148
@jukkar ping

[2018-08-14 17:26] nashif commented on #6399
@cvinayak ping, can you answer please

[2018-08-14 17:28] nashif commented on #4883
Samples are mostly c/p ready, it depends on how complex the sample is, but for most part, you can just copy and paste them.

[2018-08-14 17:28] #4883 closed

[2018-08-14 17:30] nashif commented on #9063
No, we do not have firewall support, what is your use case and what type of FW are you looking for?

[2018-08-14 17:31] jhedberg commented on #1600
There's tools/btpclient.c in BlueZ that you could use: https://git.kernel.org/pub/scm/bluetooth/bluez.git/tree/tools/btpclient.c

[2018-08-14 17:31] #1600 closed

[2018-08-14 18:03] cvinayak commented on #6399
@niuton these are pre-programmed PPI channels as stated in the product specification. These are very specifically decided in SoC to interconnect radio with other peripherals, currently these are not used in Zephyr as the native BLE controller uses the Radio uses programmable PPIs in its design/implementation. In the future, if some of these can be used by the BLE controller, then some programmable

[2018-08-14 18:03] #6399 closed

[2018-08-15 00:12] nashif commented on #335
![reel_board_flyer_back_draft](https://user-images.githubusercontent.com/180017/44124451-42e6196a-9ffb-11e8-9f82-28544a29770e.png)
![reel_board_flyer_front_draft](https://user-images.githubusercontent.com/180017/44124452-42f99bca-9ffb-11e8-8d14-30f72000e947.png)

[2018-08-15 07:34] jukkar commented on #9148
The curl error print is fixed by #9435

[2018-08-15 07:47] #8329 closed

[2018-08-15 11:06] #8355 closed

[2018-08-15 12:42] MaureenHelm opened #9441 "tests/kernel/gen_isr_table fails on mimxrt1050_evk"
Tested on master commit 8cf8db3a73aa0658d728006e93d9ef5e0361a1b2, and tags v1.12.0, v1.11.0.
[code]

cc: @hakehuang

[2018-08-15 14:59] galak opened #9444 "sanitycheck not able to run due to CONFIG_ARC_INIT=n"
The following commit, introduces CONFIG_ARC_INIT=n, which ends up getting us this error:

`Error: Aborting due to non-whitelisted Kconfig warning 'prj_socwatch.conf:2: warning: attempt to assign the value "n" to the undefined symbol ARC_INIT'.`

Easily reproduced by doing:

./scripts/sanitycheck -p frdm_kw41z

commit 8525944c5477e48fb65c7651e28b372da277d011 (HEAD, refs/bisect/bad)
Author: Niranjha

[2018-08-15 15:27] #3826 closed

[2018-08-15 15:27] galak opened #9446 "CI didn't report failure due to ARC_INIT issue"
Nightly CI was reporting success even though we weren't actually building anything.

See Issue #9444 for the error that shows the issue w/sanitycheck & ci testing.

https://app.shippable.com/github/zephyrproject-rtos/ci-test/runs/2301/summary/console

[2018-08-15 17:47] nategraff-sifive opened #9452 "Error parsing DTS 'compatible' property list"
In `scripts/dts/extract/globals.py`, the function `get_compat()` returns a list instead of a single string if a node doesn't have the `compatible` property and its parent's `compatible` property is a list. This causes `generate_node_definitions()` to error.

## Current implementation of `get_compat()`
[code]

## Suggested fix:
Swap the order of the second and third conditionals so that if the pare

[2018-08-15 18:44] galak commented on #9452
Got an example you are hitting?  No issue with the change, just helpful to understand how you are hitting the issue.

[2018-08-15 20:34] nategraff-sifive commented on #9452
Here's a snippet of a DTS file that would cause the issue.

The `global-external-interrupts` node doesn't have a `compatible` property, and its parent `soc` node has a list for its `compatible` property.

[code]

Admittedly, we might need to modify the DTS so that we don't hit this edge case anyway, but it's clear that this edge case breaks the expected return type of `get_compat()`.

[2018-08-15 22:26] dcpleung commented on #9273
There are two issues with the test code.

- First is the test_pipe_alloc() is running out of mem pool space when compiled for qemu_x86.
- Second is at test_pipe_block_writer_wait(). Calling k_pipe_block_put() when the pipe has no enough space to take in all data will cause the subsequent k_pipe_get() to cause CPU fault inside _abort_timeout(). However, when simply using k_pipe_put(), there would n

[2018-08-16 04:42] nniranjhana opened #9459 "tests/posix/timer fails on nRF51/52"
The test in tests/posix/timer results in _assertion failure_.

This test started failing after this commit: 3c7f990367f38c84b20e7888042ea9429cfae8a6

**Arch:** ARM
**Board:** nrf51/52 - nrf51_pca10028:arm, nrf52_pca10040:arm, nrf52840_pca10056:arm

**Error console log:**
[code]

[2018-08-16 04:53] mandarcthorat1 opened #9460 "[Coverity CID :187672] Uninitialized variables in /tests/net/iface/src/main.c"
Static code scan issues seen in File: /tests/net/iface/src/main.c
 Category: Uninitialized variables
 Function: select_src_iface
 Component: Tests
 CID: 187672
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-16 04:53] mandarcthorat1 opened #9461 "[Coverity CID :187671] Uninitialized variables in /tests/net/iface/src/main.c"
Static code scan issues seen in File: /tests/net/iface/src/main.c
 Category: Uninitialized variables
 Function: select_src_iface
 Component: Tests
 CID: 187671
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-16 04:53] mandarcthorat1 opened #9462 "[Coverity CID :187670] Integer handling issues in /tests/net/ethernet_mgmt/src/main.c"
Static code scan issues seen in File: /tests/net/ethernet_mgmt/src/main.c
 Category: Integer handling issues
 Function: eth_fake_recalc_qav_delta_bandwidth
 Component: Tests
 CID: 187670
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-16 04:54] DeclanTraill opened #9463 "bt_le_scan_start Fails with Error -5 after 128 scan start/stop cycles"
I have a basic project that scans for 5 seconds, then stops for one second - then repeats forever.
After exactly 128 cycles, the 129th scan start (and all after that) fails with error code -5 (I think this is POSIX:       #define EIO 5		/* I/O error */).

Given the number of time it works (128) it seems like a resource or memory may have run out?

Here is the debug log (attached) showing the probl

[2018-08-16 05:33] tarunkum opened #9465 "tests/net/ptp/clock: PTP clock test are failing on FRDM_K64f and same_e70_xplained platforms"
The test **tests/net/ptp/clock** results in **Assertion failure** in check_interfaces and **BUS FAULT** in test_ptp_clock_interfaces sub-test case.

**Arch:** arm
**Board:** frdm_k64f
**Zephyr commit:** c565f02
**Toolchain:**  ZEPHYR_TOOLCHAIN_VARIANT=zephyr

**Error Console Log:**
[code]

**Steps to reproduce:**
[code]

[2018-08-16 06:22] spoorthik opened #9466 "tests/kernel/context/testcase.yaml#kernel.common.k_sleep fails on nrf52_pca10040 and nrf52840_pca10056"
Execution log:
[code]

Platforms: nrf52_pca10040 and nrf52840_pca10056
Latest commit on which the failure is seen: afa0e0026fb94d37f50dc53f9d0981b1dc5c306b

[2018-08-16 07:35] #9287 closed

[2018-08-16 07:48] spoorthik opened #9468 "tests/kernel/mem_pool/mem_pool_concept/testcase.yaml#kernel.memory_pool fails on nrf52840_pca10056, nrf52_pca10040 and nrf51_pca10028"
Execution log:
[code]

Steps to reproduce:
cd tests/kernel/mem_pool/mem_pool_concept
mkdir build && cd build
cmake -DBOARD=nrf51_pca10028 .. && make flash

Latest commit: afa0e0026fb94d37f50dc53f9d0981b1dc5c306b

Platforms tested: nrf52840_pca10056, nrf52_pca10040 and  nrf51_pca10028

[2018-08-16 08:35] raveslave commented on #6205
re:

Good to see this generic tool, things that would be great to see featurewise:
- Flashing over serial and usb (incl. re-flashing the bootloader itself)
- Uploading code directly to (where applicable)
  * RAM, external SPI/NAND/eMMC attached to the CPU
- Standard way signal the application to jump to the bootloader and vice versa
- Read/Write of "device meta data"
  * i.e. hardware revision & u

[2018-08-16 08:42] therealprof opened #9470 "LWM2M: TLV encoding of read result is wrong"
When doing a `Read` on a an object without object instance identifier, the reply is supposed to use an object instance TLV as stated in the OMA TS:

[code]

Zephyr currently does not do this. If I e.g. do a `Read` on `/3` the result TLV directly starts with the first resource identifier instead of the Object Instance TLV for the object instance ID 0.

[2018-08-16 08:48] mnkp opened #9471 "soc: efr32fg1p: hello_world sample app hangs when started by MCUboot"
When the hello_world project is build as "MCUboot" application it hangs shortly after the MCUboot passes control to the hello_world application. No debug output is printed. The debugger communication with CPU via SWD port is lost.

The issue is caused by erroneous clock setup process. Upon startup MCUboot (build as a Zephyr app) configures High Frequency Crystal Oscillator (HFXO) as CPU clock sour

[2018-08-16 10:11] spoorthik commented on #8898
With the commit: 734eda39f5868207bb6a9d0eba346d24e153eba3 subtest test_timer_period_0 is also failing on NRF51

[code]

[2018-08-16 12:26] erwango commented on #8996
@mandarcthorat1

'Issue' is true only if CONFIG_BT_SPI_BLUENRG is unset, which makes do while condition always false.
In this case, 'continue' gets us exiting the do while loop, but since we're in a while(true) we'll enter it again at the next while(true) iteration, which is fine.
Though, we don't want to use breaks statement because it will modify the behavior when CONFIG_BT_SPI_BLUENRG is set, w

[2018-08-16 13:33] carlescufi commented on #8958
@holtmann can you take a look at this one?

[2018-08-16 15:32] erwango commented on #7302
@galak

So from this I understand all available instances should be generated, then Kconfig can control what instances are compiled, is that correct?

[2018-08-16 16:14] #9452 closed

[2018-08-16 16:18] Olivier-ProGlove commented on #7924
I reported an [issue](https://github.com/apache/mynewt-mcumgr-cli/issues/4) to `mcumgr` project to make error message clearer (ie: plain text message rather than obscure non documented error code).

[2018-08-16 17:24] MaureenHelm opened #9482 "Enable mpu on lpc54114"

[2018-08-16 21:02] mike-scott commented on #9470
@therealprof Ah interesting.  I'll take a look later.

Do we want this in v1.13?

[2018-08-16 21:07] therealprof commented on #9470
Don't know. Depends on how serious people are taking LwM2M. ;) I've implemented a workaround today in our server software because another (commercial) product is having the exact same problem but it would be great to be more compliant, at least with the old spec.

[2018-08-16 21:40] mike-scott commented on #8128
@andyross I think this can be closed.  Correct?

[2018-08-17 03:01] hakehuang opened #9486 "sanitycheck filter rules does not work"
when I run sanitycheck script
./scripts/sanitycheck --dry-run -p lpcxpresso54114_m4
./scripts/sanitycheck --dry-run -p frdm_kw41z
I find many unsupported samples/tests are mark as enabled on this platform.
the questioned samples and test applications are but may not limited to those

- Kernal_fatal
- mem_protect_protection
- mpu_stack_guard_test
- arm_irq_vector_table
- gen_isr_table
- mem_domain_

[2018-08-17 03:12] hakehuang commented on #9486
cc @MaureenHelm, please help to label this issue. Thanks

[2018-08-17 03:15] #7703 closed

[2018-08-17 03:42] pswarnak opened #9487 "tests/cmsis_rtos_v1 - test_kernel_systick results in Assertion failure on nrf51/52"
The test **tests/cmsis_rtos_v1** results in Assertion failure in test_kernel_systick sub-test case.

**Arch:** arm
**Board:** nrf51/52 - nrf52_pca10040:arm, nrf52840_pca10056:arm
**Zephyr commit:** 5c79101
**Toolchain:**  ZEPHYR_TOOLCHAIN_VARIANT=zephyr

**Error Console Log:**
[code]

**Steps to reproduce:**
[code]

[2018-08-17 03:43] pswarnak commented on #9413
Fixed in #9423.

[2018-08-17 03:43] #9413 closed

[2018-08-17 08:50] thedjnK opened #9494 "Nordic nrf52810_pca10040 is missing default bluetooth configuration options"
When building sample applications with Bluetooth using the nrf52810_pca10040 board configuration, an error is emitted:

    C:/zephyr/drivers/bluetooth/hci/h4.c: In function '_bt_uart_init':
    C:/zephyr/drivers/bluetooth/hci/h4.c:462:30: error: 'CONFIG_BT_UART_ON_DEV_NAME' undeclared (first use in this function);
    did you mean 'CONFIG_UART_0_NAME'?
      h4_dev = device_get_binding(CONFIG_BT_

[2018-08-17 09:00] ioannisg commented on #9494
AFAICS, it is documented _why_ the BT options are not enabled by default n 52810.

# Bluetooth not enabled by default on nRF52810 due to RAM limitations when
# running the default set of kernel tests.
# Enable this on your prj.conf to include Bluetooth support

[2018-08-17 09:27] #9462 closed

[2018-08-17 10:02] MarekPieta opened #9498 "Invalid argument saved on IRQ_CONNECT"
IRQ_CONNECT macro is used to register interrupt service routine. One of its arguments is a parameter that should be passed to isr callback when interrupt is called. Unfortunately this value can be wrongly recorded in some cases.
When address to object in RAM (from bss section) is passed as a parameter to IRQ_CONNECT and there is a custom section in RAM present before the bss, address of this objec

[2018-08-17 10:45] SebastianBoe commented on #9494
I get that we don't enable BT on 52810. But IMHO when BT is enabled by the app we should default to using BT_CTLR and not BT_UART as the BT samples are doing.

PR: #9499

[2018-08-17 10:51] #9465 closed

[2018-08-17 12:42] #9460 closed

[2018-08-17 12:42] #9461 closed

[2018-08-17 14:29] #8713 closed

[2018-08-17 14:34] nashif commented on #9498
you mean IRQ_CONNECT?

[2018-08-17 14:42] nashif commented on #9486
@hakehuang where do you see that "tests/power/power_states" is enabled when you run the commands above?

Try:
`./scripts/sanitycheck -p frdm_kw41z --save-tests frdm_kw41z.tests`

look at the generated file, it should not have the above tests.

[2018-08-17 14:43] nashif commented on #8128
yes, lets close it

[2018-08-17 14:43] #8128 closed

[2018-08-17 14:58] spoorthik opened #9506 "Ztest becomes unresponsive while running SMP tests"
Issue: The tests in tests/kernel/smp when executed becomes unresponsive.

Sample log:

[code]

Same set of tests when executed individually by commenting rest of the tests in testsuite like below:

[code]
the test case executes successfully.

Sample log:

[code]
It is the same case for all the test cases in smp. Cleanup of threads created is handled in test case already.
[code]

Steps to reproduce

[2018-08-17 15:00] vaussard opened #9507 "pwm: No clear semantics to stop a PWM leads to diverse implementations"
The PWM API does not mention how one can stop the timer from generating the PWM, which is critical to minimize the power consumption when going into low-power states.

The implementations of the .pin_set callback show a very diversified picture:
- STM32 and i.MX does not provide a way to completely turn off the timer
- QSMI and DW will turn off the timer by passing 'pulse_cycle = 0'
- nrf5_sw will

[2018-08-17 15:04] vaussard commented on #5697
Issues related to the PWM API: #6958 and #9507

[2018-08-17 15:48] bfrog opened #9509 "Unable to upload firmware over serial with mcumgr"
Following along the guide in the samples/subsys/mgmt/mcumgr/smp_svr/README
but using --conntype=serial most of the commands work just fine except the image upload command fails.

[code]

Is there another conntype I should be using? The docs elude to a shell conntype but I didn't see that in the docs for mcumgr

[2018-08-17 16:00] andyross commented on #8128
Yes, this is worked around.  I really should write up a bug on the root cause issue (_Swap() on ARM is nonatomic because of the way pendsv works), and the code should cleanly reflect that and maybe implement it in an ARM-specific way instead of checking scheduler pending states needlessly.  Someone please nag me to do that.

[2018-08-17 16:40] #9067 closed

[2018-08-17 16:47] #9494 closed

[2018-08-17 17:53] kestewart opened #9510 "zephyr/doc/security/security-overview.rst needs update"
Needs to be updated to reflect switch to private JIRA instance for vulnerabilities

[2018-08-18 12:28] pfalcon commented on #4326
There's ongoing work on adding PSoC6 support happening in the branch https://github.com/nazrchorn/zephyr/tree/add_psoc6 .

[2018-08-18 12:29] pfalcon commented on #4326
Also the PR: https://github.com/zephyrproject-rtos/zephyr/pull/8408

[2018-08-18 17:02] zille77 commented on #8139
Does anybody have an api or command set already? Tried to read registers (with no useful information received - 8-bit SPI) but it seems different from the other chips before.

[2018-08-19 06:56] chrta opened #9520 "soc: exx32: Use the same soc.c for all Silabs exx32 mcus"
The change from #9473 should be applied for all Silicon Labs EFM32 and EFR32 MCUs.
The differentiation between the MCUs is handled in the HAL from Silabs, that is used.
So all EXX32 MCUs should use the same soc.c file.

[2018-08-19 14:47] nvlsianpu commented on #7413
Fixes will be provided by https://github.com/zephyrproject-rtos/zephyr/pull/9521 PR

[2018-08-19 15:15] raveslave commented on #4326
Great to see work being done on this! Thanks Cypress!

Historically in PSoC Creator, there has been quite good maintenance on the driver libraries (PDL's and also the Verilog modules) with updates (based on bug-reports) coming every now & then.

I saw that there is now a hot-copy here https://github.com/cypress/pdl which is great.
@galak is there a plan to use github as the source from now on as t

[2018-08-19 16:50] aescolar commented on #9506
@spoorthik : When compiled for which target?

[2018-08-19 16:53] spoorthik commented on #9506
@aescolar : Compiled for esp32.

[2018-08-20 06:15] pswarnak opened #9523 "tests/kernel/mem_protect/stackprot hangs without any console output on nrf51/52"
The test **tests/kernel/mem_protect/stackprot** and **tests/kernel/mem_protect/stack_random** hangs without any console log or error message.

**Arch:** arm
**Board:** nrf51/52 - nrf51_pca10028:arm, nrf52_pca10040:arm, nrf52840_pca10056:arm
**Zephyr commit:** f3bc967e499b6dd252c7b407c7019460a66a1174
**Toolchain:**  ZEPHYR_TOOLCHAIN_VARIANT=zephyr

**Error:**
*No console log available at all.*

**S

[2018-08-20 07:52] SebastianBoe commented on #9494
@thedjnK : Thank you for reporting.

[2018-08-20 09:44] MarekPieta commented on #9498
Yes, I've changed it already.

[2018-08-20 10:13] spoorthik opened #9527 "tests/kernel/sched/schedule_api/testcase.yaml#kernel.sched.unlock_preemptible fails on nrf52840_pca10056, sam_e70_xplained, nrf52_pca10040"
**Execution log:**
[code]
**Latest commit on which failure found:** f3bc967e499b6dd252c7b407c7019460a66a1174

**Steps to reproduce:**

[code]

**Platforms on which failure observed:** nrf52840_pca10056, sam_e70_xplained, nrf52_pca10040

[2018-08-20 10:31] jhedberg commented on #5445
This has already been fixed

[2018-08-20 10:31] #5445 closed

[2018-08-20 10:34] KAGA164 opened #9530 "Bluetooth/gatt: bt_gatt_notify never return -ENOMEM, undocumented return value."
The bt_gatt_notify function calls gatt_notify, which should return -ENOMEM if buffer for pdu can not be allocated, but this situation will never occur because the buffer allocation function is called from the K_FOREVER timeout, so the thread will wait for the buffer memory allocation and will never return NULL value which would be a reason to return -ENOMEM.

[2018-08-20 10:35] pfalcon commented on #8646
Working on this.

[2018-08-20 10:50] pfalcon commented on #9507
@erwango, @MaureenHelm : FYI

[2018-08-20 10:51] pfalcon commented on #9520
Assigning to @mnkp as the author of https://github.com/zephyrproject-rtos/zephyr/pull/9473

[2018-08-20 10:57] pfalcon commented on #8320
Added TLS/DTLS sockets https://github.com/zephyrproject-rtos/zephyr/pull/9007 to major enhancements. @rlubos FYI.

[2018-08-20 10:58] pfalcon commented on #8320
https://github.com/zephyrproject-rtos/zephyr/pull/9391 should be documented as non backward-compatible change.

[2018-08-20 11:43] pdunaj opened #9535 "broken callback handling in nrfx gpio driver"
In `drivers/gpio/gpio_nrfx.c` function `gpiote_pin_int_cfg` calls `gpiote_channel_alloc` and takes its return value as its own.
The problem is that `gpiote_channel_alloc` (if successful) returns the channel number. In this case value is interpreted as an error.

I guess the best fix is to return 0 in `gpiote_channel_alloc` every time channel is found.

The problem is that new gpio driver seems hav

[2018-08-20 12:13] lemrey opened #9536 "console: missing kernel.h include in header"
console.h requires k_fifo but kernel.h is not included.
CC @pfalcon.

[2018-08-20 12:45] pfalcon commented on #9536
@lemrey : How did you hit it? (Generally, we should back such things with regression tests. Maybe we'll be too lazy to write one, but we should not be lazy to discuss *how* to write one ;-).

[2018-08-20 12:52] mnkp commented on #9520
I don't have necessary hardware to test the change on all supported SiLabs SoCs. @chrta promised that he will have a look at the issue when he has some time. I'm removing myself from Assigned list.

[2018-08-20 12:53] lgl88911 opened #9537 "ENC28J60 can‘t receive packets properly"
After the initialization of the ENC28J60, only the first one was correct when the packet was received. I found  the ERDPT small than ERXRDPT, after received first packet.  It casue RX FIFO read error.
Does anybody have a problem like that? If yes, I have a patch for the issue, may be pr.
Thanks!

[2018-08-20 12:54] lemrey commented on #9536
I hit a compiler warning; perhaps it is possible to reproduce by including console.h before kernel.h:
`warning: ‘struct k_fifo’ declared inside parameter list will not be visible outside of this definition or declaration`

[2018-08-20 13:05] pdunaj commented on #9535
Fix is ready - I will try to push it in few minutes

[2018-08-20 13:07] pdunaj commented on #9535
@carlescufi Can I push the change to our fork or should it go to main zephyr repo? If it is the second case, will you pull it to our fork from there?

[2018-08-20 13:31] carlescufi commented on #9535
@pdunaj let's fix it upstream

[2018-08-20 13:38] #8215 closed

[2018-08-20 13:38] nashif commented on #9402
this is now fixed, however quark is still broken, but that could be the driver.

[2018-08-20 13:38] #9402 closed

[2018-08-20 13:45] SebastianBoe commented on #8827
Hi,

"Bug related to too many libraries when enabling application memory space:"

should be removed as the bug has now been resolved.

[2018-08-20 13:46] SebastianBoe commented on #8827
Also,

start-group and end-group has been removed, so

"Whole-archive / start-group / end-group link command"

can be changed to

"Whole-archive command"

[2018-08-20 14:01] SebastianBoe commented on #8614
Hi,

I believe that the title and/or the issue description is out-of-date.

E.g. it is stated in the description:

but after https://github.com/zephyrproject-rtos/zephyr/pull/9309 was merged this is no longer the case.

Could you either update it, or permit me to update it as I understand it?

[2018-08-20 15:15] pfalcon commented on #9536
Thanks. Fairly speaking, I had an idea that all Zephyr apps should start with `#include <zephyr.h>`. Dunno where I got the from though, probably because all in-tree samples do that. Anyway, it's an easy fix, posted as https://github.com/zephyrproject-rtos/zephyr/pull/9541

[2018-08-20 16:05] #9536 closed

[2018-08-20 21:23] inakypg commented on #9135
Afaik yes (8b3fd6963c1b382660eac0bfdc5869dedcf745f1); setting the boot delay to 3000 (three seconds), I got an slightly different -- but same error for NIos2:

[code]

[2018-08-21 02:03] ManojSubbarao commented on #7906
@AdithyaBaglody Please take a quick look and update/close on this issue. Pending from long time.

[2018-08-21 02:05] ManojSubbarao commented on #8097
@punitvara Please take a quick look and drive this issue to closure. This is pending from long time without any updates.

[2018-08-21 11:27] jhedberg commented on #9043
Update: it appears the issue only occurs in qemu (I only tested qemu_x86). I cannot reproduce this e.g. on an nRF target.

[2018-08-21 11:30] tejlmand commented on #8827
Partly true.
When --whole-archive is used, then --start-group / --end-group is not needed.
--whole-archive includes the whole archive, and thus any circular dependencies of course disappears.
But when removing the --whole-archive, then the problem which --start-group / --end-group is actually addresses re-appears.

Removing --whole-archive doesn't by itself ensure correct link libraries dependenci

[2018-08-21 11:40] SebastianBoe commented on #8827
Sorry, what I was trying to say, is that we can update the issue description. It is stating that we need to get rid of "Whole-archive / start-group / end-group". But "start-group / end-group" has been gotten rid of, so now the issue description should just say that we need to get rid of "--whole-archive".

I am well aware of what flags do.

[2018-08-21 14:01] nashif commented on #2934
closing this and keeping track of percipio in its own issue.

[2018-08-21 14:01] #2934 closed

[2018-08-21 14:03] nashif commented on #3067
this is completed.

[2018-08-21 14:03] #3067 closed

[2018-08-21 14:04] nashif commented on #5900
AFAIK this is already completed.

[2018-08-21 14:04] #5900 closed

[2018-08-21 14:07] nashif opened #9552 "MISRA-C 2012 Compliance in kernel (kernel/*) and base OS code"
Adhere to MISRA-C 2012 where it makes sense and provide deviations and documentation of rules we can't adhere to because of the nature of Zephyr.

[2018-08-21 14:35] pfalcon commented on #9537
First one what? Can you please describe the problem in more detail, perhaps giving steps how to reproduce it.

[2018-08-21 14:54] pfalcon commented on #9283
IMHO, that should be void*, so we could pass pointers to variables of different sizes without verbose casts. I'll be happy to +1 such a patch.

[2018-08-21 14:56] pfalcon commented on #9148
@tarunkum, @jukkar : Should this be closed then?

[2018-08-21 14:57] pfalcon commented on #9032
Ok, I went on vacation and completely forgot about this issue. Hope to get to it soon.

[2018-08-21 15:02] pfalcon commented on #8183
This was fixed by https://github.com/zephyrproject-rtos/zephyr/pull/9016.

[2018-08-21 15:02] #8183 closed

[2018-08-21 15:05] pfalcon commented on #7571
@therealprof: Are you back from vacation now? Can you please retest this to see if there're any improvements? (With my usual tests, I don't see any so far, so we should keep pulling on this thing.)

[2018-08-21 15:12] pfalcon commented on #8746
@mazhenke : Recently, DTLS socket support was merged: https://github.com/zephyrproject-rtos/zephyr/pull/9338 , and that's going to be the new official API for (D)TLS usage. You are thus recommended to switch to it whenever possible. You may find that older net_app DTLS client is in "maintenance mode" (that actually depends on developers' time availability, and AFAIK, they're fully occupied). I thu

[2018-08-21 15:22] pfalcon commented on #8631
Similar comment to what was posted to https://github.com/zephyrproject-rtos/zephyr/issues/8746 :

Recently, DTLS socket support was merged: https://github.com/zephyrproject-rtos/zephyr/pull/9338 , and that's going to be the new official API for (D)TLS usage. You are thus recommended to switch to it whenever possible. You may find that older net_app DTLS client is in "maintenance mode" (that actual

[2018-08-21 15:27] pfalcon commented on #6132
A really good restructuring was done by @rlubos in a60af5c1ffcaccd8259628f4825d2d263931894b, f1421b96dfb78d3d0b5141bfa761ae7c98f68c7a . I don't have any other enhancements ideas so far, so let me close this for now.

[2018-08-21 15:27] #6132 closed

[2018-08-21 16:01] pfalcon commented on #9032
Reproduced with 469bd39b82cd20d732a4e5032dc8b7e895614125. Still reproduced with zephyr-v1.12.0 ;-(. Still with zephyr-v1.11.0 ;-(. Still with zephyr-v1.10.0 ;-(. Ok with zephyr-v1.9.0 (that's before cmake, old good days!).

Yeah, so that's pretty sucky a picture ;-(. Blame cmake I guess? ;-)

[2018-08-21 16:18] pfalcon commented on #9032
Ok, this bisects to 48fadfe6232a4520f13da6c54a8dd204f8c5ece2. And it's dejavu and overall nonsense - of course I was in the middle of discussion leading to that change (and ones around it). What would be the explanation of that? That blocking socket handling was updated/tested after that change, but poll() implementation wasn't?

[2018-08-21 16:19] pfalcon commented on #9032
"poll error: 4" is EINTR of course.

[2018-08-21 17:12] nashif commented on #9463
@jhedberg  fyi

[2018-08-21 17:13] nashif commented on #9523
@pizi-nordic can you take a look?

[2018-08-21 17:15] nashif commented on #9466
@pizi-nordic can you take a look?

[2018-08-22 04:45] cvinayak commented on #9463
There seems to be a bug somewhere, I need time til 24/8 to reproduce this, before i can say anything.

[2018-08-22 05:28] lgl88911 commented on #9537
@pfalcon
Reproduce the issue 100%, receive packet error  will cause ipstack can't work, There is an easy way to reproduce issue:
1. Application code and configuration file at
https://gitee.com/lgl88911/nrf52_moderate/blob/master/apps/basetest/src/nettest.c
https://gitee.com/lgl88911/nrf52_moderate/blob/master/boards/arm/nrf52_moderate/nrf52_moderate_defconfig
https://gitee.com/lgl88911/nrf52_moder

[2018-08-22 07:37] therealprof commented on #7571
@pfalcon Yes I am. Unfortunately I don't have the Nucleo-F429ZI here with me in the "hostile" environment and the FRDM-K64F build is broken, too. :(

[2018-08-22 07:41] therealprof opened #9558 "DTC 1.4.7 breaks at least FRDM_K64F builds"
When trying to build examples (e.g. samples/net/lwm2m_client) with UART output for my FRDM_K64F I get the following compiler errors:
[code]

[2018-08-22 07:56] pfalcon commented on #7571
Can you elaborate on this?

[2018-08-22 08:03] therealprof commented on #9558
I just went back a couple of months (41d5808321acdc0ac936b8da342ba00521e30d4d) to figure where it broke but couldn't find any culprit so this is most likely caused by a change in environment. Other builds (e.g. nucleo_f429zi) work just fine.

[2018-08-22 08:04] therealprof commented on #7571
@pfalcon See #9558.

[2018-08-22 09:36] vonhust opened #9560 "Failed test: mem_protect/usespace failed in nsim_sem and em_starterkit_em7d_v22"
appmem_init_app_memory() will raise mpu violation exception

it's not an arc only issue, for MPU which does not support mpu overlap, it will some similar issue.

Because before through 'appmem_add_thread_xxx()' to add the partitions, there are no corresponding mpu entries in hardware. So the 'appmem_init_app_memory' should raise the mpu violation error as it will do bss zero to all parations.

Why

[2018-08-22 09:56] #8646 closed

[2018-08-22 09:59] jukkar commented on #9396
This works for me and no response from reporter -> closing.

[2018-08-22 09:59] #9396 closed

[2018-08-22 10:06] pfalcon commented on #9396
Indeed, I think there's a confusion. There should be no output (if that's meant by "response") from loop-socat.sh, it's kind of daemon. Just follow instructions in http://docs.zephyrproject.org/subsystems/networking/qemu_setup.html, and you should be fine. If not, submit another ticket with step by step description of what you do, and exact output you get. Thanks.

[2018-08-22 10:12] pfalcon commented on #9558
@therealprof: I can't reproduce this with master of 49732b27d939eab71eeef317c76135b1ca1af51a (HEAD of the moment):

[code]

It's usual Zephyr SDK 0.9.3 which didn't change in a while, etc. Did you try to "rm -rf" the output dir? When did it build last time for you, anything might have changed on your side since that?

[2018-08-22 10:16] pfalcon commented on #9558
If master, that line has 5 arguments: https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/serial/uart_mcux.c#L312

Any chance that you're on another branch or played with some patches left in your tree?

[2018-08-22 10:23] hongshui3000 opened #9561 "Question: Does it support passing the bootloader(mcuboot) parameter to the kernel(zephyr)?"
Similar to u-boot and linux

[2018-08-22 10:34] pfalcon commented on #9558
For reference, I have `Version: DTC 1.4.0`.

And yes, looks like it might be related, based on warnings like:

 #define NXP_KINETIS_UART_4006A000_IRQ_0      [31, 0]

Can you try to downgrade and see if it helps?

[2018-08-22 10:44] jhedberg commented on #9463
Copying info here from the mailing list:

The command that's failing is HCI_Set_Random_Address, and it's failing with status 0x0c, i.e. "Command Disallowed".

[2018-08-22 10:51] therealprof commented on #9558
@pfalcon Bingo. DTC 1.4.0 works.

I can see a number of changes in the generated files, e.g. the compiled DTS changed here:
[code]

Why this only seems to affect the NXP K series is a mystery to me. I tried various builds, including `bbc_microbit`, various `nucleo` and even `frdm_kw41z` with the new `dtc` but only `frdm_k64f` fails.

[2018-08-22 12:28] pfalcon commented on #9558
Weird indeed. Well, I guess we need to re-brand it as DTC issue then (I'm making quick changes, feel free to adjust as needed) and let device tree folks know.

[2018-08-22 12:31] pfalcon commented on #9558
@agross-linaro : Assigning to you by old memory. Please reassign if needed.

@erwango, @nashif : FYI too.

[2018-08-22 13:55] pfalcon commented on #8723
Here's my 2 cents of proposed cleanup: I hate these things:

[code]

It obfuscates the fact that it's function (so, e.g. if you search for "tcp_established(", you'll get nothing), and completely hides the function parameter list. And all this for what?:

[code]

As we have 3 occurrences of this stuff, we could just expand that macro to literal code, and won't lose much. But it's actually more than

[2018-08-22 13:56] pfalcon commented on #8723
@jukkar , @tbursztyka : Can you assess the proposal in previous comment please?

[2018-08-22 13:57] pfalcon commented on #8722
I'd like to propose simplification of connection callback functions, let me crossreference it from here: https://github.com/zephyrproject-rtos/zephyr/issues/8723#issuecomment-415040335

[2018-08-22 14:08] jdemar commented on #8758
Has the SPI driver been migrated or will be in for v1.13?

[2018-08-22 14:12] pfalcon commented on #8723
https://github.com/zephyrproject-rtos/zephyr/pull/9564 tries to alleviate at least concerns about with code comments.

[2018-08-22 14:39] pdunaj commented on #8139
@zille77 not yet

[2018-08-22 14:50] pfalcon commented on #8188
With #8769 applied and enabled, the issue can be easily spotted:

[code]

[2018-08-22 14:51] JoeHut opened #9566 "Unclear definition of CONFIG_IS_BOOTLOADER"
The ``CONFIG_IS_BOOTLOADER`` option was apparently introduced by STM for disabling vector relocation on Cortex-M0. The naming or its usage is misleading since the config's help says "Zephyr will act as a bootloader to execute" but the config is selected in board files. What I would expect that this option is only used in applications that act as a bootloader such as MCUboot.

[2018-08-22 14:57] #8313 closed

[2018-08-22 15:07] #8255 closed

[2018-08-22 15:11] nvlsianpu commented on #9566
CONFIG_IS_BOOTLOADER used to enable vector relocation mechanism which is specific for cortex-m0 stm32f0 family. Parallel to this feature some time ago we implemented generic cortex-m0 vector relocation (https://github.com/zephyrproject-rtos/zephyr/pull/4536/files). What I can suggest is to rename this keyword to something more suitable. I think feature enabled by this keyword is something vendor s

[2018-08-22 15:15] nvlsianpu commented on #9566
cc @erwango If you can answer in your convenience or redirect to someone (no rush).

[2018-08-22 15:28] pfalcon commented on #7571
@therealprof, Btw, if you still experience issue, I recommend applying and enabling (CONFIG_SYS_LOG_DBG_ERR=y) my cute patch: https://github.com/zephyrproject-rtos/zephyr/pull/8769 , and see if there're any correlation with the state it gets into and logging printed.

[2018-08-22 16:07] #9471 closed

[2018-08-22 21:10] pfalcon opened #9570 "Network stack cleanup: deep TCP cleanup"
This is continuation of https://github.com/zephyrproject-rtos/zephyr/issues/8726. While that touches surface things, this ticket proposes to go far deeper. Overall, the TCP code is one of the most convoluted and buggy pieces of the IP stack.

- [ ] NET_CONN_CB considered harmful: https://github.com/zephyrproject-rtos/zephyr/issues/8723#issuecomment-415040335
- [ ] Moreover, at 3 peices, we likely

[2018-08-22 21:14] pfalcon commented on #8723
Overall, TCP is the most atrocious part of the stack code.  https://github.com/zephyrproject-rtos/zephyr/issues/8726 doesn't pay it good attention. I've created #9570 to discuss the real guts of it.

[2018-08-22 22:02] mike-scott commented on #9470
@therealprof Ah, we get this behavior because we never check that the path->level is > 1 (which would indicate an object instance id was passed in)

The intended response for a request on /3 was supposed to be ENOENT atm.   Instead we default to 0 which acts like we requests /3/0

In any case, none of the above responses are actually correct. :)  We need to handle the larger object instance use-ca

[2018-08-23 04:00] cvinayak opened #9573 "Build System: menuconfig target fails to launch when invalid value assigned by menuconfig!"
When enabling nRF5 SPI drivers, invalid values are permitted, but next time opening menuconfig fails.

make menuconfig
-- Selected BOARD nrf52840_pca10056
Zephyr version: 1.12.99
Parsing Kconfig tree in /Users/hemal/workspace/zephyr/Kconfig
Using /Users/hemal/workspace/zephyr/build/peripheral/zephyr/.config as base
warning: the value '' is invalid for SPI_0_NRF_SCK_PIN (defined at drivers/spi/Kcon

[2018-08-23 04:18] pswarnak opened #9574 "tests/cmsis_rtos_v1 - test_mutex_lock_timeout results in Assertion failure on all targets with PR#9569"
The test **tests/cmsis_rtos_v1** results in Assertion failure in test_mutex_lock_timeout sub-test case.

The changes are mainly related to mutex ownership test. It validates the below statement:
**Only thread that obtains a mutex can release it**

**Arch:** any or qemu_x86
**Board:** any or qemu_x86
**Zephyr PR with code changes:** https://github.com/zephyrproject-rtos/zephyr/pull/9569
**Toolchain

[2018-08-23 05:04] rgundi commented on #9574
There's no specific mention in the CMSIS spec which tells what error value should be returned when a thread tries releasing a mutex which was obtained by some other thread. The underlying zephyr implementation does that check anyway which is the assert you are seeing. So, i think there's no point in adding the code snippet that tests this.

[2018-08-23 06:10] b0661 commented on #9566
CONFIG_IS_BOOTLOADER is used for the situation where you **do not need vector relocation** for the cortex-m0.

[2018-08-23 06:18] mazhenke opened #9575 "Network NULL pointer reference when enable net/dhcpv4 debug"
I found that when I enabled net dhcp debug in prj.conf
CONFIG_NET_DEBUG_APP=y
CONFIG_NET_DEBUG_DHCPV4=y

in function dhcpv4_send_request, when dhcpv4 enter requesting state, the ciaddr is NULL, so the line325

 322     NET_DBG("send request dst=%s xid=0x%x ciaddr=%s%s%s timeout=%us",
 323         net_sprint_ipv4_addr(server_addr),
 324         iface->config.dhcpv4.xid,
 325         **net_sprint_ip

[2018-08-23 07:23] smartyw opened #9578 "Windows installation of SDK needs 'just works' installer"
Hi

I ran a Zephyr coding workshop last night. Attendees were supposed to arrive with their laptops with the Zephyr SDK already installed and Hello World building without errors. 66% of people had failed to get the SDK installed and working and we then spent a good part of the class trying to solve the various problems. Some were never solved so people had to give up on any hands-on participation.

[2018-08-23 07:59] jukkar commented on #9570
Pointless to create a new PR for this, just place the stuff into #8726

[2018-08-23 08:20] rakons opened #9580 "peripheral_hids does not remember bonds"
The peripleral_hids example should remember bt settings the same way peripheral example does it.
I have tested that with the settings remembered it connects nicely after restart.

[2018-08-23 08:27] pfalcon commented on #9570
Ticket you mean? Well, you see, we can't even agree whether it makes sense to create a new ticket, just imagine how we can disagree about content of tickets, putting too much different things into one may make it harder for everyone ;-). Seriously, things in #8726 look "decided" (and at the same time I lack info on exact motivation of array -> slist global refactor), whereas things in this list ma

[2018-08-23 08:38] SebastianBoe commented on #9573
"When enabling nRF5 SPI drivers, invalid values are permitted"

I'm not sure if permitted is the right word here, Kconfig is rightly disallowing the invalid value '' to be assigned to "SPI_0_NRF_SCK_PIN".

Perhaps "invalid values are defaulted to" would be more correct to say?

I see three options here; default the pins to a nonsensical, but Kconfig-valid value, e.g. all pins are set to pin 0 when

[2018-08-23 08:40] smartyw commented on #9578
Recreated the last issue in my initial description and solved it by deleting everything in the build/ folder.

[2018-08-23 08:44] SebastianBoe commented on #9566
This issue relates to: https://github.com/zephyrproject-rtos/zephyr/issues/6180

[2018-08-23 08:49] zfviwx opened #9582 "Cannot find g++ when CONFIG_CPLUSPLUS is set to y"
Because it is missing ".exe" in the path when setting ${cplusplus_compiler}

[2018-08-23 08:55] SebastianBoe commented on #9582
Would you be able to test this patch?

[code]

[2018-08-23 09:00] ruuddw commented on #9340
@nniranjhana

9067 was fixed, I can't test minnowboard but believe the 'errno' tests now pass for ARC.
Can this be closed?

[2018-08-23 09:16] zfviwx commented on #9582
This solves the problem, and also would be my suggestion.

[2018-08-23 09:18] pfalcon commented on #8188
I'm working on this issue.

[2018-08-23 09:46] jukkar commented on #9570
Even the title of these issues is same (minus the "real" word on this one). I mean seriously, just use the older ticket for this, there really no need to create a new one.

[2018-08-23 10:06] pfalcon commented on #9570
Well, thanks for feedback, will do it like that next time. But now this ticket is here, let it be I guess. Actually, I wanted to split comments from https://github.com/zephyrproject-rtos/zephyr/issues/8723#issuecomment-415040335 into separate ticket too, as it looks like it may need good investigation. What do you think?

[2018-08-23 10:07] cvinayak commented on #9573
@SebastianBoe @ulfalizer the problem is, I can not get back into menuconfig to correct the values.

[2018-08-23 10:27] jarz-nordic commented on #8758
Hi,
SPI is not migrated yet, we aim for 1.14.

[2018-08-23 10:33] pfalcon commented on #9570
I agree, but "lowering" should hopefully happen by discussion and resolving, not non-submitting. Anyway, looking forward for your comments on my tickets, and let me know if you expect feedback on some of your tickets you'd like to resolve soon.

[2018-08-23 10:37] jhedberg opened #9587 "System stack usage analysis code seems to be broken"
It seems CONFIG_INIT_STACKS=y is no longer enough to enable logs. I've somehow missed commit 0fb9ea03043551c66e6f0ec14c4ef9a001255d7d from @ramakrishnapallala which adds dependencies to CONFIG_THREAD_STACK_INFO (why this option and not CONFIG_INIT_STACKS?) to hci_core.c. However now even when I enable both CONFIG_INIT_STACKS=y and CONFIG_THREAD_STACK_INFO=y nothing gets output for the system stack

[2018-08-23 10:47] jhedberg commented on #9530
So do I understand right that you want the following change:
[code]

Do you want to submit a PR for it yourself?

[2018-08-23 10:51] pfalcon commented on #9570
We actually have NET_TCP_FINAL_RECV too. So, we have two parallel pairs of tcp->flags NET_TCP_FINAL_SENT/NET_TCP_FINAL_RECV, and  tcp->fin_sent / tcp->fin_rcvd. Any developer can choose what they like. Or create 3rd pair.

[2018-08-23 11:08] zfviwx opened #9590 "Template with C linkage in util.h:41"
When compiled as C++, because there is a template in the file and some files include this file inside extern "C" {}

[2018-08-23 11:27] TTJO opened #9591 "@hci.h use of magic-number in bluetooth addr struct (Missing define in @bluetooth.h)"
In bluetooth/hci.h the bluetooth address type is declared as

[code]

Instead of using magic number '6' this should be declared as a define in bluetooth.h:
`#define BT_ADDR_LEN (6)`

[2018-08-23 11:42] ramakrishnapallala commented on #9587
@jhedberg which board you are using?

[2018-08-23 11:46] KAGA164 commented on #9530
Yes, I think checking this value can be a bit confusing. Ok, so I'll do pull-request myself.

[2018-08-23 11:53] #9530 closed

[2018-08-23 12:29] #9580 closed

[2018-08-23 12:30] jhedberg commented on #9587
@ramakrishnapallala the one I tried was nrf51_pca10028, however this is likely reproducible on many (possibly all) boards

[2018-08-23 12:31] jhedberg commented on #9587
@ramakrishnapallala could you explain the distinction between INIT_STACKS and THREAD_STACK_INFO? Previously (before your patch) the code was only relying on INIT_STACKS.

[2018-08-23 12:49] jhedberg commented on #9591
I'm not convinced it's worth it here. A Bluetooth address is defined to be six octets long, and that's what the struct definition demonstrates. There really isn't any "magic" about the number the way it's used here. Also, a define like that would not be used anywhere else (instead sizeof(bt_addr_t) should be used).

[2018-08-23 12:52] bluetooth-mdw commented on #9578
I created a video to (hopefully) help Windows users: https://www.youtube.com/watch?v=SjHpqK5jmVk&feature=youtu.be

AKA @smartyw

[2018-08-23 13:06] TTJO commented on #9591
I think we can discuss the definition and use of Magic Numbers for a long time :)
However this might not be used anywhere else in HCI or Link Layer, but it would be a nice define to have available in the Application layer for different purposes (eg. copy or compare) of iterating over the BT address.
It makes for more readable code than using sizeof multiple places.

[2018-08-23 14:04] jhedberg commented on #9591
@TTJO there are already bt_addr_copy and bt_addr_cmp APIs, if you were looking for something like that. Same for the bt_addr_le type.

[2018-08-23 14:09] jhedberg commented on #9591
@TTJO I'd also like to add that one of the reasons these are typedefs instead of using them just as any other structs is specifically to highlight the fact that the internals is something the user should never (or extremely rarely) have to touch or care about.

[2018-08-23 16:53] andyross commented on #2422
This got implemented with the WAITQ_SCALABLE feature in 1.12.

[2018-08-23 16:53] #2422 closed

[2018-08-23 16:59] andyross commented on #8190
I'm not really sure what's required here. Thread scheduling behavior didn't actually change (at least according to documentation) in 1.12, most of the confusion was about the fact that _Swap() is non-atomic on ARM (which wasn't understood until after the release, but which has been worked around).

I mean, yes: thread priorities are not used consistently in existing frameworks.  So deadlocks becau

[2018-08-23 17:01] mike-scott commented on #8190
@andyross Agreed.  It should probably have been low priority in the first place.

[2018-08-23 18:54] ulfalizer commented on #9573
Yeah... `int` and `hex` symbols are a bit confusing. They default to the empty string, but the empty string can't be assigned to them. Kconfiglib imitates that behavior for compatibility with the C tools.

A quickfix is to manually edit the values in `<project-build-dir>/zephyr/.config>`. That isn't super user friendly though.

The simplest quickfix at the Kconfig level is to just give all `int` a

[2018-08-23 19:01] ulfalizer commented on #9573
`menuconfig` itself would still generate those warnings btw, even if `scripts/kconfig/kconfig.py` wasn't run. They wouldn't be turned into errors though.

[2018-08-23 19:13] andyross commented on #7193
Fix for the specific bug above is submitted.  Probably should reprioritize rather than close this one, as the rework is if anything needed more now than before, given that we've added another #ifdef TICKLESS case.

[2018-08-23 19:46] andyross commented on #8669
Confirmed on HEAD (the report was against 1.9 -- @wayen30  please try to validate against a recent version when reporting new bugs) with a little porting of the sample code.  I can get a fault (inside the scheduler, implying a corrupt run queue) on x86, and on cortex_m3 I see a hang where the timeout handlers appear to run correctly, but the k_sleep() out of the main thread (sleep uses the same ti

[2018-08-23 19:47] therealprof commented on #7571
@pfalcon I tried on my FRDM_K64F in the office today (aka hostile networking environment) and it was running extremely unstable (lots of buffer problems and faults: "Imprecise data bus error") though I'm not convinced it is the same issue as before. I guess I need to crank up the logging and try again on Monday.

[2018-08-23 20:24] inakypg opened #9596 "tests/subsys/logging/log_core fails on ESP32 with no console output"
commit v1.13.0-rc1-4-g0d0b221efa

the testcase produces no console output, so we cannot tell what is going on. This was built with CONFIG_BOOT_DELAY=1000.

[2018-08-23 20:32] yerabolu opened #9597 "tests/subsys/fs/fat_fs_api assertion fail on arduino101"
Commit ID :
0d0b221efa6abab94204cd3663641c92a95b1126
Console output
[code]

system seems to have crashed after the assertion failure as no further output is reported.

[2018-08-23 20:40] MaureenHelm commented on #8684
I can get the mcux shim driver to return successfully with the following change:
[code]

And I can see a valid i2c transaction on a scope, but there is another problem due to the fact that we break up the burst write into two messages. This doesn't map well to the underlying mcux driver interface `I2C_MasterTransferNonBlocking()`, and we end up transmitting the slave address twice. This is a valid

[2018-08-23 20:42] yerabolu opened #9598 "tests/power/power_states fail on arduino101:x86"
Commit: 0d0b221efa6abab94204cd3663641c92a95b1126

[code]
There is no output after this, assuming target never woke up from deep sleep.

[2018-08-23 22:33] #3363 closed

[2018-08-24 05:41] nniranjhana commented on #9340
Okay @ruuddw Currently, I am not able to acquire emsk or minnowboard to test this. I will test on them and close it within a week.

[2018-08-24 06:25] cvinayak opened #9608 "Bluetooth: different transaction collision"
Certain phones violate Bluetooth Procedure Collision rules. There is nothing the Bluetooth controller can do than disconnect with reason, different transaction collision.

As a workaround to IOP with such phones, may be:
- Make the initiation of PHY update procedure (and Connection Parameter Request) on connection establishment optional in host Kconfig.
- Have a Bluetooth API to switch to 2M PHY w

[2018-08-24 06:28] ramakrishnapallala commented on #9587
@jhedberg
Macro CONFIG_INIT_STACKS will init the thread stack with 0xaa which is part of kernel/include/kernel_structs.h (line : 218)

So the deprecated API k_call_stacks_analyze is using STACK_ANALYZE macro to dump the stack usage statistics of _main_stack, _idle_stack, _interrupt_stack and sys_work_q_stack. Please refer kernel/init.c (line 138).
Note, here we are simply dumpling stack info of on

[2018-08-24 06:38] ramakrishnapallala commented on #9587
@jhedberg  I have tested the samples/bluetooth/peripheral on nrf52_pca10040 and I get the following logs. Let me know if you see any issue?

***** Booting Zephyr OS v1.7.99-10296-g99abc0b *****
[bt] [INF] hci_vs_init: HW Platform: Nordic Semiconductor (0x0002)
[bt] [INF] hci_vs_init: HW Variant: nRF52x (0x0002)
[bt] [INF] hci_vs_init: Firmware: Standard Bluetooth controller (0x00) Version 1.13 Bui

[2018-08-24 07:17] jhedberg commented on #9587
@ramakrishnapallala  what changes did you make to the prj.conf to get the above output?

Note that even with the above it's broken since all system stacks (7 of them!) are reported as "HCI" without any way to know what's what. That's only marginally better than no logs at all. Previously there would be proper names for the stacks in the logs.

[2018-08-24 07:30] spoorthik commented on #9340
kernel.common.errno.newlib.thread_context test case still fails on minnowboard.

Latest commit on which failure seen: 0d0b221efa6abab94204cd3663641c92a95b1126

Execution log:
[code]

[2018-08-24 07:36] vonhust commented on #9340
@spoorthik  as i know, the latest log is not for ARC, more like for x86.

[2018-08-24 07:37] ramakrishnapallala commented on #9587
Make sure you have following enabled:
CONFIG_INIT_STACKS=y
CONFIG_THREAD_MONITOR=y
CONFIG_THREAD_STACK_INFO=y

Can you pint me the actual code where k_thread_for_each() is being called. I can have a look at the code.

[2018-08-24 07:40] spoorthik opened #9609 "tests/kernel/mem_protect/stack_random: kernel.memory_protection.stack_random fails on emsk7d_v22"
**Execution log:**

[code]

**Platform:** emsk7d_v22

**Latest commit:** 798360632732b0e687bd20d3bfbfa664066dac7f

[2018-08-24 07:53] jhedberg commented on #9587
@ramakrishnapallala it might be `CONFIG_THREAD_MONITOR=y` that I've been missing then.

The place printing those "HCI" logs is here:

https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/hci_core.c#L616

And that line came actually from your commit 0fb9ea0

If we can get this fixed, then I suppose all existing STACK_ANALYZE() calls in the Bluetooth code should be removed,

[2018-08-24 07:55] SebastianBoe commented on #9573
I would say that this is the root cause, and what must be fixed. Fair enough that 0 might not make
sense, but at least it will be valid. Which is what is being reported here.

Producing defaults that make sense is another issue.

+1

[2018-08-24 08:00] spoorthik commented on #9340
@vonhust : Right, it is for x86. On ARC, I don't find this issue.

On em_starterkit_em7d_v22,

[code]

[2018-08-24 08:08] spoorthik commented on #9609
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/8197. Closing the issue

[2018-08-24 08:08] #9609 closed

[2018-08-24 08:41] spoorthik opened #9611 "tests/kernel/sched/schedule_api/testcase.yaml#kernel.sched.slice_reset fails on nrf52840_pca10056, sam_e70_xplained, nrf52_pca10040"
Execution log:
[code]

Latest commit:  798360632732b0e687bd20d3bfbfa664066dac7f

[2018-08-24 09:10] ramakrishnapallala commented on #9587
@jhedberg at the moment there is no way to differentiate b/w thread names, but this can be done once the PR #9394 submitted by @nashif gets in. This allows us to name a thread and then we can dump thread name before STACK_ANALYZE().

[2018-08-24 09:56] jhedberg commented on #9591
@TTJO any feedback on my latest comments? I'd like to know whether I should close this issue or if there's still something unresolved. Thanks.

[2018-08-24 09:57] jhedberg commented on #9591
(added some maintainers as reviewers in case they want to voice their thoughts on this)

[2018-08-24 10:08] Vudentz commented on #9591
I would have to agree with @jhedberg if we do have a struct representing a bluetooth address the application should use sizeof that struct instead of a define, anyway sizeof will be evaluated at build time so in practice there is no real difference to a define except that sizeof would actually be more precise if the address ever change e.g. due to a bug.

[2018-08-24 10:15] thanhhaiittalk opened #9613 "BLE mesh on ESP32"
I'm trying to use BLE mesh with ESP32, can anyone confirm if it works ?

[2018-08-24 10:20] nniranjhana opened #9614 "tests/net/socket/ faults on sam_e70_xplained and frdm_k64f"
The tests in tests/net/socket/tcp and tests/net/socket/getaddrinfo run into _MPU fault_ after the tests start.

The tests started failing after this commit: 18cec245ba730e8e176625c6fb527bd29db409bd
which is part of #9179 that adds system calls to socket APIs. What do we do here?

**Arch:** ARM
**Platform:** sam_e70_xplained, frdm_k64f

**Error console log on same_e70_xplained:**

[code]

**Error c

[2018-08-24 10:56] cvinayak commented on #9591
I too agree with @jhedberg, we keep sizeof(bt_addr_t).

[2018-08-24 11:06] nvlsianpu commented on #9566
Ach yes, you are right.

[2018-08-24 11:57] jhedberg commented on #9591
Closing, since there seems to be consensus that the current approach is ok

[2018-08-24 11:57] #9591 closed

[2018-08-24 14:03] #9527 closed

[2018-08-24 15:30] GSlzr commented on #7999
I realized that this occurred due to a mismatch in the nrf52 configuration. The nrf SDK supports "legacy" 6lowpan over BLE and that was set and should have not been set.

Thank you for the help

[2018-08-24 15:30] #7999 closed

[2018-08-24 16:31] #9234 closed

[2018-08-24 16:55] yerabolu opened #9617 "tests/net/websocket/ - passed on QEMUx86 but the target crashed after that"
commit ID: 798360632732b0e687bd20d3bfbfa664066dac7f
[code]

[2018-08-24 17:00] yerabolu opened #9618 "tests/net/udp/ - MPU fault on sam_e70_xplained"
Commit ID: 798360632732b0e687bd20d3bfbfa664066dac7f
[code]
This is the only output target produced before trying to boot zephyr

[2018-08-24 17:13] yerabolu opened #9619 "tests/net/socket/getaddrinfo/ - crashes on sam_e70_xplained and frdm_k64f"
Crash looks similar on both sam_e70_xplained and frdm_k64f

Output for  frdm_k64f:
Commit ID: 798360632732b0e687bd20d3bfbfa664066dac7f
[code]

Commit ID: 798360632732b0e687bd20d3bfbfa664066dac7f
Output for sam_e70_xplained:
[code]

[2018-08-24 17:19] yerabolu opened #9621 "tests/net/promiscuous crashed on sam_e70_xplained"
Commit ID: 798360632732b0e687bd20d3bfbfa664066dac7f
[code]
Target crashed while trying to boot Zephyr.

[2018-08-24 17:24] yerabolu opened #9622 "tests/net/mgmt/ crashed on sam_e70_xplained"
Commit ID: 798360632732b0e687bd20d3bfbfa664066dac7f
'''
E#1      @srrsotc03/same70-04q  console output: ***** BUS FAULT *****
E#1      @srrsotc03/same70-04q  console output:   Instruction bus error
E#1      @srrsotc03/same70-04q  console output: ***** Hardware exception *****
E#1      @srrsotc03/same70-04q  console output: Current thread ID = 0x20400aa4
E#1      @srrsotc03/same70-04q  console outp

[2018-08-24 17:43] yerabolu opened #9623 "tests/net/lib/tls_credentials/ crashed on sam_e70_xplained and frdm_k64f"
frdm_k64f and sam_e70_xplained are crashing.
Commit ID: 798360632732b0e687bd20d3bfbfa664066dac7f

Output for frdm_k64f:
[code]
Output for sam_e70_xplained
[code]

[2018-08-25 08:15] larsgk opened #9626 "Add support for the FRDM-KL28Z board"
The FRDM-KL28Z is very like the already supported FRDM-KL25Z with the addition of some of the sensors available on the Hexiwear unit.

It would be a nice addition to be able to utilize a board with more sensors than FRDM-KL25Z at a similar price point.

(I'll give it a go)

[2018-08-25 12:50] nniranjhana commented on #9619
Already bug exists for this at #9614, so closing. Will add FRDM board's output to it.

[2018-08-25 12:50] #9619 closed

[2018-08-25 12:59] nniranjhana commented on #9598
#9576 fixes this, hence closing.

[2018-08-25 12:59] #9598 closed

[2018-08-25 13:57] #6727 closed

[2018-08-25 14:30] andyross opened #9627 "Clean up timeout handling"
See discussion in #9620  and #8669

The handle_expired_timeouts() mechanism is fragile.  The specific bug was patched, but the code is too large and complicated for what it does (trying to build a list of expired timeouts ahead of time before invoking them instead of just doing a while loop on the queue with simpler constraints).

It also needs some work to unify the tickless handling with the nor

[2018-08-25 14:31] RonAmihai opened #9628 "nRF52x USB device stack support"
I want to integrate nRF52840-PCA10056 board with WebUSB.
Does nRF52x USB device stack is supported by Zephyr?

[2018-08-25 15:58] alexanderwachter commented on #8871
@erwango sorry for this late response but I was on holiday for about one month :-)
Thanks for switching back to legacy API. I think we will switch to the new API as soon as
available.

[2018-08-25 16:14] alexanderwachter commented on #9087
I dont't think so.
- CAN-FD is not compatible with CAN.
The size of the data buffer is 64 not 8 bytes (waste of memory when allocating message buffers).
- The send function would need to have a parameter defining the data rate which is confusing when only dealing with CAN.
- There is no CAN-FD controller available in any controller supported by zephyr.

@walter-xie do you need CAN-FD for a project

[2018-08-25 17:27] kzyapkov opened #9630 "STM32L4: something wrong with GPIO interrupts"
This code reproduces the issue:

[code]

This was tested on a Nucleo L476RG. Events on GPIOA10 and GPIOB5 are detected, but GPIOB4 is silent. It doesn't matter if individual `struct gpio_callback`-s are used per pin or per port.

@erwango @ydamigos can you please verify this when you get a chance. I could not get it to work.

[2018-08-26 04:39] mandarcthorat1 opened #9633 "[Coverity CID :187828] Error handling issues in /tests/benchmarks/timing_info/src/msg_passing_bench.c"
Static code scan issues seen in File: /tests/benchmarks/timing_info/src/msg_passing_bench.c
 Category: Error handling issues
 Function: msg_passing_bench
 Component: Tests
 CID: 187828
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9634 "[Coverity CID :187827] Null pointer dereferences in /subsys/logging/log_msg.c"
Static code scan issues seen in File: /subsys/logging/log_msg.c
 Category: Null pointer dereferences
 Function: log_msg_create_n
 Component: Other
 CID: 187827
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9635 "[Coverity CID :187826] Error handling issues in /tests/benchmarks/timing_info/src/msg_passing_bench.c"
Static code scan issues seen in File: /tests/benchmarks/timing_info/src/msg_passing_bench.c
 Category: Error handling issues
 Function: thread_mbox_sync_put_receive
 Component: Tests
 CID: 187826
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9636 "[Coverity CID :187825] Error handling issues in /subsys/net/ip/udp.c"
Static code scan issues seen in File: /subsys/net/ip/udp.c
 Category: Error handling issues
 Function: net_udp_append_raw
 Component: Networking
 CID: 187825
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9637 "[Coverity CID :187824] Integer handling issues in /lib/cmsis_rtos_v1/cmsis_thread.c"
Static code scan issues seen in File: /lib/cmsis_rtos_v1/cmsis_thread.c
 Category: Integer handling issues
 Function: osThreadCreate
 Component: Other
 CID: 187824
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9638 "[Coverity CID :187823] Memory - corruptions in /samples/net/coap_server/src/coap-server.c"
Static code scan issues seen in File: /samples/net/coap_server/src/coap-server.c
 Category: Memory - corruptions
 Function: large_get
 Component: Samples
 CID: 187823
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9639 "[Coverity CID :187822] Null pointer dereferences in /subsys/net/ip/tcp.c"
Static code scan issues seen in File: /subsys/net/ip/tcp.c
 Category: Null pointer dereferences
 Function: prepare_segment
 Component: Networking
 CID: 187822
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9640 "[Coverity CID :187821] Memory - illegal accesses in /subsys/bluetooth/host/hci_core.c"
Static code scan issues seen in File: /subsys/bluetooth/host/hci_core.c
 Category: Memory - illegal accesses
 Function: bt_id_delete
 Component: Bluetooth
 CID: 187821
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9641 "[Coverity CID :187820] Memory - illegal accesses in /subsys/bluetooth/host/hci_core.c"
Static code scan issues seen in File: /subsys/bluetooth/host/hci_core.c
 Category: Memory - illegal accesses
 Function: bt_id_reset
 Component: Bluetooth
 CID: 187820
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9642 "[Coverity CID :187819] Memory - illegal accesses in /subsys/logging/log_msg.c"
Static code scan issues seen in File: /subsys/logging/log_msg.c
 Category: Memory - illegal accesses
 Function: log_msg_hexdump_data_op
 Component: Other
 CID: 187819
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9643 "[Coverity CID :187818] Error handling issues in /tests/benchmarks/timing_info/src/msg_passing_bench.c"
Static code scan issues seen in File: /tests/benchmarks/timing_info/src/msg_passing_bench.c
 Category: Error handling issues
 Function: thread_mbox_sync_get_receive
 Component: Tests
 CID: 187818
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 04:40] mandarcthorat1 opened #9644 "[Coverity CID :187817] Error handling issues in /tests/benchmarks/timing_info/src/msg_passing_bench.c"
Static code scan issues seen in File: /tests/benchmarks/timing_info/src/msg_passing_bench.c
 Category: Error handling issues
 Function: thread_mbox_async_put_receive
 Component: Tests
 CID: 187817
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-08-26 16:07] nashif opened #9646 "sanitycheck: crashes after test execution summary report are not caught"
For example, running tests/net/websocket on qemu_x86:

[code]

A short time after `PROJECT EXECUTION SUCCESSFUL` the system crashes, this is not caught by sanitycheck.

[2018-08-26 16:53] nashif commented on #9597
duplicate #8506

[2018-08-26 16:53] #9597 closed

[2018-08-26 17:28] nashif commented on #5781
@mike-scott ping

[2018-08-26 17:29] nashif commented on #7048
@andyross can you please take a look at this one?

[2018-08-26 17:30] nashif commented on #7502
@jukkar any update on this one?

[2018-08-26 17:47] nashif commented on #8286
@mike-scott ping

[2018-08-26 17:47] nashif commented on #8287
@mike-scott ping

[2018-08-26 17:49] nashif commented on #8393
@andyross ping

[2018-08-26 17:51] nashif commented on #8717
@punitvara  status?

[2018-08-26 17:52] nashif commented on #8996
closing based on comment from @erwango

[2018-08-26 17:52] #8996 closed

[2018-08-27 01:47] #9135 closed

[2018-08-27 02:14] hakehuang opened #9649 "readme of LPCxpresso54114_mo core needs update for R1.13"
the readme at  [lpcxpresso54114](http://docs.zephyrproject.org/boards/arm/lpcxpresso54114_m0/doc/lpcxpresso54114_m0.html)  needs update as the LPCxpersso54114 M4 board name is changed to  LPCxpersso54114_M4. the build command needs update for the second core also.

[2018-08-27 02:15] hakehuang commented on #9649
cc @MaureenHelm

[2018-08-27 02:20] hakehuang opened #9650 "latency_measure@mimxrt1050_evk meets hard fault for R1.13 RC1"
build the application at tests/benchmarks/latency_measure, with below steps:
`'cmake -DBOARD=mimxrt1050_evk  ..`
download to board, the console output below message

[code]

[2018-08-27 02:30] hakehuang opened #9651 "Shell_module@mimxrt1050_evk runs failure on R1.13_RC1"
[code]

[2018-08-27 02:32] hakehuang commented on #9651
cc @MaureenHelm

[2018-08-27 02:37] hakehuang opened #9652 "gen_isr_table@mimxrt1050_evk runs failure on R1.13_RC1."
build the application tests/kernel/gen_isr_table  with below command line
`cmake -DBOARD=mimxrt1050_evk  ..`
download to board, the console output is

***** Booting Zephyr OS v1.13.0-rc1-36-g4a0d8af *****

starting test - Test gen_isr_tables

IRQ configuration (total lines 160):

isr1 isr=0x00000add irq=159

isr2 isr=0x00000b09 irq=158

Checking _irq_vector_table entry 159 for irq 159

triggering

[2018-08-27 02:37] hakehuang commented on #9652
cc @MaureenHelm

[2018-08-27 02:39] #8669 closed

[2018-08-27 05:08] jhedberg commented on #9640
Please check Coverity status before filing issues. This was already flagged as a false-positive.

[2018-08-27 05:08] #9640 closed

[2018-08-27 05:08] jhedberg commented on #9641
Please check Coverity status before filing issues. This was already flagged as a false-positive.

[2018-08-27 05:08] #9641 closed

[2018-08-27 05:42] pswarnak opened #9653 "tests/lib/mem_alloc/testcase.yaml#libraries.libc.newlib @ esp32:xtensa BUILD failed"
The test **tests/lib/mem_alloc/** results into build failure on esp32.

**Arch:** xtensa
**Board:** esp32
**Zephyr version:**  commit d8d5ec3f913e69b8b2d3bf46692da818567402d9.
**Toolchain:**  ZEPHYR_TOOLCHAIN_VARIANT=espressif

**Build Log:**
[code]

**Steps to reproduce:**
[code]

[2018-08-27 06:30] rgundi commented on #9637
Fixed in #9655.

[2018-08-27 06:37] spoorthik opened #9656 "tests/kernel/fp_sharing failing on sam_e70_xplained"
Execution log:

[code]

Latest commit on which failure is observed: d8d5ec3f913e69b8b2d3bf46692da818567402d9

The issue is not reproducible always, the issue is seen in 3/10 runs when I ran on 2 different sam_e70_xplained targets.

Steps to reproduce:
[code]

[2018-08-27 11:41] #9637 closed

[2018-08-27 14:09] #8138 closed

[2018-08-27 14:10] nashif commented on #9613
this is not supported yet.

[2018-08-27 14:20] nashif commented on #8804
afaik, this is not supported on esp32 yet.

[2018-08-27 14:28] nashif commented on #8226
fixed in #8276

[2018-08-27 14:28] #8226 closed

[2018-08-27 14:30] #9535 closed

[2018-08-27 14:35] nashif commented on #9148
tested, works fine.

[2018-08-27 14:35] #9148 closed

[2018-08-27 14:46] nashif commented on #9587
still a bug?

[2018-08-27 14:48] nashif commented on #9652
duplicate of #9441

[2018-08-27 14:48] #9652 closed

[2018-08-27 15:35] pfalcon commented on #9552
@ceolin, So, what does MISRA says on addition of unsigned and signed integers (suppose of the same width)? I would expect to condemn that loudly, given that it's know to call for just crazy things. I'm looking for ally on reworking entire Zephyr timehandling API. In almost all places, we have signed values for elapsed time and delays, e.g.:

[code]

That doesn't make sense - the time goes only for

[2018-08-27 15:48] pfalcon opened #9663 "In many places, Zephyr uses signed type (s32_t) for elapsed time and delays, contradicting common sense, risking hitting C undefined behavior and/or MISRA C violations"
We have (among number of others):

[code]

Using s32_t here doesn't make sense, this function is "announce" to let know how many ticks elapsed since since previous announcement, which is always a non-negative value. Passing negative value here would make system time go back, and is not handled in any way by the function.

[code]

Likewise, delay can't really be negative. This function could assign

[2018-08-27 15:54] inakypg opened #9664 "tests/kernel/threads/thread_apis/kernel.threads.user_mode crases on QEMU-x86"
Previous subcases pass.

Toolchain: ZEPHYR_GCC_VARIANT=zephyr

Commit ID f72c4c52363920e225b4eb20cdbda0e620c1965e

[code]

[2018-08-27 15:56] inakypg commented on #9664
Note this was executed with a CONFIG_BOOT_DELAY of 1000, which might be helping trigger the issue

[2018-08-27 16:07] inakypg opened #9665 "tests/drivers/watchdog/wdt_basic_api crashes on Quark D2k / SE and ESP32"
Toolchain: zephyr / espressif

Commit ID f72c4c52363920e225b4eb20cdbda0e620c1965e

On Quark SE / x86

[code]

On Quark D2000:

[code]

On ESP32:

[code]

[2018-08-27 16:08] pfalcon commented on #9663
@nashif, @andrewboie, @andyross: Would be be interesting to hear your opinion on this issue.

I think we should make one of 2 things:

1. Either document explicitly what happens if negative value is used (among choices: undefined behavior, treated as 0, error returned, treated as unsigned value).
2. Convert to u32_t.

My choice would be 2, because it allows to get more delay time out of 32-bit mil

[2018-08-27 16:08] nashif commented on #9665
duplicate of #8097

[2018-08-27 16:08] #9665 closed

[2018-08-27 16:12] inakypg opened #9666 "tests/benchmarks/timing_info/testcase.yaml#benchmark.timing.default_kernel crashes on Arduino 101 / ARC"
Toolchain: ZEPHYR_GCC_VARIANT=zephyr

Commit ID f72c4c52363920e225b4eb20cdbda0e620c1965e

[code]

Note this was built with CONFIG_BOOT_DELAY of 1000.

[2018-08-27 16:13] inakypg commented on #9665
Ooops, sorry -- missed double checking this one.

[2018-08-27 16:27] #9636 closed

[2018-08-27 16:27] #9639 closed

[2018-08-27 16:32] jhedberg commented on #9587
Not the one I was originally reporting, but the fact that we can't make much use of the output (due to not being able to differentiate what's what) I'd still consider this as being broken. The referenced PR #9394 sounds like a way to fix it, but that doesn't seem to be planned for 1.13.

[2018-08-27 16:40] andyross commented on #7193
Ugh, fixed correctly this time.   No idea what happened earlier, presumably I rebased, but then forgot the "-a" on the commit?

[2018-08-27 16:43] #9644 closed

[2018-08-27 16:44] #9643 closed

[2018-08-27 16:44] #9635 closed

[2018-08-27 16:44] #9633 closed

[2018-08-27 16:47] #8188 closed

[2018-08-27 16:50] #8849 closed

[2018-08-27 16:55] therealprof opened #9667 "LwM2M: Writeable parameter /3311/0/5850 doesn't persist write"
I just noticed that the writable parameter /3311/0/5850 to turn on a LED on a board can be written and changes LED state just fine but when read it is always a boolean `true`.

[2018-08-27 16:55] ulfalizer commented on #9573
One (dubious) upside is that you get notified if you forget to set the value of an `int`/`hex` symbol (either through a `default` or in a `.config`). Not sure how helpful that is in practice. Maybe people already assume the implicit default is 0.

And yeah, it's a bit wonky that you can write a `.config` that will produce warnings when read back in.

I'm always a bit reluctant to break compatibili

[2018-08-27 17:09] pfalcon commented on #9663
How I got into that is that it causes artifacts in networking code, e.g.: https://github.com/zephyrproject-rtos/zephyr/pull/9659/commits/521409d8e540b30c620fdf2e032094ba885e6cb6#diff-11516a1156142dc5ebd6a6437176df96

[2018-08-27 18:08] nashif commented on #8705
not able to reproduce this with the mentioned board.

[2018-08-27 18:08] #8705 closed

[2018-08-27 18:19] mike-scott commented on #5781
@nashif  Not sure if we want to close this.  It won't be addressed using the net-app APIs.  I'll deal with it in the socket re-write.

[2018-08-27 18:26] nashif commented on #5781
so 1.14?

[2018-08-27 18:50] andyross commented on #7048
This looks like a fairly pervasive problem with our timer drivers and tickless.  I can reproduce it on frdm-k64f, but also on qemu_cortex_m3 (which uses the same cortex_m_systick driver) and qemu_x86 using both the HPET and LOAPIC drivers.

The only platform that gets this even slightly correct is x86/APIC, because the loapic timer driver returns the TSC count for k_cycle_get_32() (and does it cor

[2018-08-27 19:05] MrPointer opened #9670 "Bluetooth: Mesh: Persistent Storage: AppKey not restored"
Hi all.
In the last couple of days my Team and I are attempting to use the BT-Mesh-Settings API, with our current implementation being based on self-provisioning and self-configuring (We have our reasons). After a bit of grappling, we found out the updated [mesh_demo](https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/mesh_demo) (We've had an offline copy of v1.12) which do

[2018-08-27 19:32] jhedberg commented on #9670
Storing and restoring the range of assigned addresses should work fine, and does work fine using the existing sample apps in the upstream tree. The relevant code is in `subsys/bluetooth/host/mesh/settings.c` where `net_set()` is responsible for restoring and `store_pending_net()` for storing. These deal with the device key and the primary element address (from which the remaining elements, if any,

[2018-08-27 20:07] MaureenHelm commented on #9651
I'm not able to reproduce this. I got the following console output:
[code]
Can you try doing a pristine build or POR-ing the board? I've seen the jlink connection occasionally get corrupted on this board.

[2018-08-27 20:11] MaureenHelm commented on #9650
I'm not able to reproduce this. I got the following console output:
[code]
Can you try doing a pristine build or POR-ing the board? I've seen the jlink connection occasionally get corrupted on this board.

[2018-08-27 20:17] mike-scott commented on #5781
done

[2018-08-27 20:17] agross-linaro commented on #7048
The driver we have in place is pretty awful.  It needs to be refactored, and I haven't had the time to delve into it.  That's my 2 cents after spending a few hours a couple of months ago looking at this.

[2018-08-27 20:26] derchrismakaio opened #9671 "Zephyr with WNC-M14A2A not compiling"
Hi, it seems like there are missing defines when using WNC-M14A2A:
zephyr/include/generated/generated_dts_board.h:185:50: error: 'NORDIC_NRF_UARTE_40028000_WNCM14A2A_MDM_KEEP_AWAKE_GPIOS_PIN' undeclared here (not in a function)

(just an example)

[2018-08-27 20:36] nashif commented on #9664
just a stack size issue, fix coming..

[2018-08-27 20:45] nashif commented on #8915
@avisconti any updates?

[2018-08-27 20:46] nashif commented on #8684
@MaureenHelm will this be fixed for 1.13?

[2018-08-27 21:12] mike-scott commented on #9667
@therealprof how was support for object 3311 setup?  Did you do a CREATE and then WRITE and then READ?  Or did you have a sample that created the initial object and setup the backing?  IE: without a variable buffer for /3311/0/5850, I'm not sure the boolean value would be stored.

[2018-08-27 21:19] mike-scott commented on #9671
@derchrismakaio Which board were you testing this with?

[2018-08-27 21:38] therealprof commented on #9667
@mike-scott Sorry, forgot to mention that this is with the `samples/net/lwm2m_client` (as usual).

[2018-08-27 21:40] therealprof commented on #8287
Interesting. Let me see whether I can still reproduce it and get packet captures for you.

[2018-08-27 22:27] mike-scott commented on #9667
@therealprof thanks, I'll debug

[2018-08-27 22:41] #9664 closed

[2018-08-27 22:44] mbolivar opened #9676 "benchmark.timing.userspace not working on nrf52840 with v1.13.0-rc1"
To reproduce (on Linux; `/dev/ttyACM0` varies by system):

[code]

Expected results: test output includes measurements from `userspace_bench()` function in tests/benchmarks/timing_info/src/userspace_bench.c after mailbox measurements:

Actual output: userspace-specific test results are missing.

[2018-08-27 22:44] mbolivar commented on #9676
Complete contents of handler.log:

[code]

Results when run with `sanitycheck -p qemu_x86` for comparison:

[code]

[2018-08-27 22:47] mbolivar commented on #9676
Results when run with `PRINT_ALL_MEASUREMENTS` defined in `timing_info.h`:

[code]

Seems the results are being filtered out as invalid?

[2018-08-27 22:57] nashif commented on #9676
works fine on frdm_k64f

[2018-08-27 23:02] derchrismakaio commented on #9671
I'm porting it to nrf52_pca10040. I think it should work with CONFIG_UART_CONSOLE=n.

I've changed uart0 in nrf52_pca10040.dts:
`&uart0 {
	status = "ok";
	compatible = "nordic,nrf-uart";
	current-speed = <115200>;

	#ifdef CONFIG_MODEM_WNCM14A2A
	wncm14a2a {
		compatible = "wnc,m14a2a";
		label = "wncm14a2a";
		mdm-boot-mode-sel-gpios = <&gpio0 2 0>;
		mdm-power-gpios = <&gpio0 3 0>;
		mdm-keep-aw

[2018-08-27 23:09] mike-scott commented on #9671
@derchrismakaio I would follow the changes here: https://github.com/zephyrproject-rtos/zephyr/commit/65af15bcc2e9fb1936505ce95f543f569b51b44a#diff-115b4ae91af8f499ac18e8b572738d7a  but apply them to boards/arm/nrf52_pca10040.

Specifically, the error you're seeing is related to the dts.fixup file changes in the above patch.

[2018-08-27 23:13] mike-scott commented on #9671
Ah, nevermind.. I see the issue.
You'll need to also change this in the prj.conf:
CONFIG_UART_0_NRF_UART=n
CONFIG_UART_0_NRF_UARTE=y

[2018-08-27 23:32] derchrismakaio commented on #9671
yepp, funny, I did that ;) but now I get

Error: Aborting due to non-whitelisted Kconfig warning 'warning: the choice symbol UART_0_NRF_UARTE (defined at drivers/serial/Kconfig.nrfx:34) is selected by the following symbols, which has no effect:
 - MODEM_WNCM14A2A (defined at drivers/modem/Kconfig:42)'

[2018-08-27 23:34] derchrismakaio commented on #9671
whooops, sorry, that was because of a change in modem's Kconfig:

from
select UART_1_NRF_UARTE if SOC_NRF52840
select UART_1_NRF_FLOW_CONTROL if SOC_NRF52840

to

select UART_1_NRF_UARTE if SOC_NRF52840
select UART_0_NRF_UARTE if SOC_NRF52832
select UART_1_NRF_FLOW_CONTROL if SOC_NRF52840
select UART_0_NRF_FLOW_CONTROL if SOC_NRF52832

Apologies, these are my first 4 hours with Zephyr ;)

[2018-08-27 23:45] derchrismakaio commented on #9671
still, it fails to compile because of the undefined "macros", starting with:
zephyr/include/generated/generated_dts_board.h:199:54: error: 'NORDIC_NRF_UARTE_40028000_WNCM14A2A_MDM_BOOT_MODE_SEL_GPIOS_CONTROLLER' undeclared here (not in a function)
 #define CONFIG_WNCM14A2A_GPIO_MDM_BOOT_MODE_SEL_NAME NORDIC_NRF_UARTE_40028000_WNCM14A2A_MDM_BOOT_MODE_SEL_GPIOS_CONTROLLER

prj.conf lines added:

CON

[2018-08-27 23:58] MaureenHelm commented on #8684
No, I think we should wait on this and handle as part of #4040.

[2018-08-28 02:08] mike-scott commented on #9671
@derchrismakaio I'll try your setup for nrf52_pca10040 in a bit, and see what's going on.

[2018-08-28 02:09] thanhhaiittalk commented on #9613
Thanks for your help nashif.

[2018-08-28 02:13] tunted commented on #9613
So @nashif, will it be supported in near future? I also wonder if esp32 could run ble mesh protocol with its limited resource.

[2018-08-28 03:44] nashif commented on #2879
closing

[2018-08-28 03:44] #2879 closed

[2018-08-28 04:17] nashif commented on #8506
@SavinayDharmappa can you please take a look at this while @ramakrishnapallala and @tbursztyka are out?

[2018-08-28 04:50] ManojSubbarao commented on #8717
@rgundi Please look into this issue.

[2018-08-28 04:51] ManojSubbarao commented on #8159
@rgundi Please look into this issue.

[2018-08-28 05:42] spoorthik opened #9677 "tests:cmsis_rtos_v1: test_mutex crashes with bus fault on sam_e70_xplained"
The issue was first seen on commit: c0907762f3f15116732f434937fc3a5737c3d40b

Execution log:
[code]

Platform: sam_e70_xplained

[2018-08-28 06:08] hakehuang commented on #9650
@MaureenHelm  the reproduce steps at my side is to copy the binary to TCM and jump to that entry address. and seeing from the log the zephyr application runs, but the structure seems has possible unalinged access issue see below structure
`struct sys_mem_pool_base {
        void *buf;
        size_t max_sz;
        u16_t n_max;
        u8_t n_levels;
        u8_t max_inline_level;
        struct s

[2018-08-28 06:33] jhedberg commented on #9670
@MrPointer what value does your `bt_mesh_provision()` call return?

[2018-08-28 06:35] jhedberg commented on #9670
@MrPointer also, you earlier mentioned `bt_mesh_comp_provision()` - did you mean `bt_mesh_provision()` instead? If you're calling the stack-private `bt_mesh_comp_provision()` function that could explain some of the behavior you're seeing.

[2018-08-28 06:56] MrPointer commented on #9670
@jhedberg No no, I don't call the `bt_mesh_comp_provision` function, don't worry :laughing:
I mentioned it as a possible solution we've thought of, in case there's indeed a bug.

About the `bt_mesh_provision` function - On the first run after flashing the board i.e before any settings are persisted, the function exits successfully with error code **0**.
On the 2nd run, after power-cycling i.e sett

[2018-08-28 07:50] derchrismakaio commented on #9671
@mike-scott tried to flash a pca10056 but I have no idea about the pin mapping - how do I find out what pin 46 on the board is? I've looked in Nordic's HAL but they're just saying to use the pin map macro, which doesn't help in this case, obviously :)

[2018-08-28 08:02] jhedberg commented on #9670
@MrPointer are you sure your primary element's address is unassigned? There is no place in the mesh code that would return EADDRNOTAVAIL for that situation. That said, the publishing functions *will* return EADDRNOTAVAIL if you haven't configured a publishing address, or if there's no app key to use for publishing.

[2018-08-28 08:10] koffes commented on #3079
It is imperative that we have some form of error handling if an init function returns non-zero. We just had an example where the ID of an external device was read back wrong, but no issue was raised even though init returned -ENODEV;
Example: https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/flash/spi_flash_w25qxxdv.c it is misleading that return codes from `spi_flash_init` has no e

[2018-08-28 08:17] spoorthik opened #9680 "tests/mem_slab/mslab, tests/mem_slab/mslab_api and tests/mem_slab/mslab_threadsafe tests are crashing on sam_e70_xplained"
Issue is first seen on commit: c090776
[code]

[2018-08-28 08:18] spoorthik commented on #9677
This issue is possibly due to #9680

[2018-08-28 08:36] therealprof commented on #8287
Soooo. We're trying to cancel the observation with an `observe cancel` message, however as it turns out we're not using the right token to do so. Let me try to fix that and retry.

[2018-08-28 08:44] aurel32 commented on #8367
Now that PR #8141 has been fixed, I guess this bug can be closed. Correct?

[2018-08-28 08:56] spoorthik opened #9682 "tests/kernel/init: kernel.common.init.verify_bootdelay fails on sam_e70_xplained"
Issue is seen on commit: c090776

Execution log:

[code]

[2018-08-28 09:02] spoorthik opened #9683 "Multiple testcases in tests/kernel/mem_protect/mem_protect, tests/kernel/alert, tests/kernel/mem_pool test fails on sam_e70_xplained due to commit c090776"
Issue is seen on commit: c090776

Execution log:

[code]

[2018-08-28 09:06] nniranjhana opened #9684 "tests/posix/ fails on sam_e70_xplained"
POSIX tests fail with _MPU FAULT_ on sam_e70_xplained

The following tests in posix fail with this error:
semaphore, mutex, rw_lock, all pthread tests, pthread_key, mqueue

**Arch:** ARM
**Platform:** sam_e70_xplained
**Error console log:**

[code]

Commit: c0907762f3f15116732f434937fc3a5737c3d40b

[2018-08-28 09:20] erwango opened #9686 "STM32: Add erase-block-size to flash node"
Similarly to what is done in https://github.com/zephyrproject-rtos/zephyr/pull/9681,
define erase-block-size to all STM32 flash nodes with constant page size (F0, F3, not F4). Others TBD.

[2018-08-28 09:45] spoorthik opened #9689 "Multiple tests are failing on sam_e70_xplained once the cache is enabled"
Due to commit c090776 multiple tests are failing on sam_e70_xplained.

[2018-08-28 09:47] spoorthik commented on #9689
Refer: https://github.com/zephyrproject-rtos/zephyr/issues/9684, https://github.com/zephyrproject-rtos/zephyr/issues/9683, https://github.com/zephyrproject-rtos/zephyr/issues/9682, https://github.com/zephyrproject-rtos/zephyr/issues/9680, https://github.com/zephyrproject-rtos/zephyr/issues/9677 for execution logs.

[2018-08-28 09:53] MrPointer commented on #9670
@jhedberg Actually I'm not sure about that, however, about the other you mentioned - It might possibly be the problem here, I'll need to do some checks.
Theoritically shouldn't the publication address be stored and restored?
Because I'm preety sure the App Key is persisted... I'm not wrong am I?

[2018-08-28 09:57] jhedberg commented on #9670
@MrPointer yes, both App Keys and Model Publication should be restored if previously set through the configuration model. Is that how you're configuring it? E.g. manually assigning an address to your publication context will not work since then the stack can't know that it needs to store something to flash.

[2018-08-28 09:59] grochu commented on #5703
We are working on adding an NFC driver supporting nRF52832 and nRF52840 chips to the NRFX driver package (and consequently to Zephyr). The timeline is around end of September - beginning of October.

[2018-08-28 10:09] MrPointer commented on #9670
@jhedberg Hmmm... That seems to be it - We're manually assigning the publication address, as part of the self configuration. Isn't there a way to use publication contexts when self-configuring?

[2018-08-28 10:19] jhedberg commented on #9670
@MrPointer yes, by using the configuration client API. I.e. `bt_mesh_cfg_mod_pub_set()` from `include/bluetooth/mesh/cfg_cli.h`. The mesh_demo app already uses several configuration client APIs, so I'm surprised you didn't use it for model publication as well.

[2018-08-28 10:30] tgorochowik commented on #9689
That probably won't be very helpful, but if the original MPU/cache patches from #8185 are applied to the  `zephyr-v1.12.0` tag - the tests pass (and the cache works) (I remembered it to work and I just verified that).

So probably one of the recent MPU changes is causing all of this, not enabling the caches itself (but of course enabling them does trigger this bug).

[2018-08-28 11:04] SavinayDharmappa commented on #8097
@nashif  I did some intial analysis, the watch dog timer for qmsi and esp32 are not moved to new interfaces introduced . But application uses newly introduced interface for which the QMSI and esp32 WDT driver are not compaitable. This reason why esp32 crashes. Still wondering why null pointer derefercing of QMSI driver is not showing crash log instead just hangs.

[2018-08-28 11:34] rodrigopex commented on #5703
Great! If you need help to test it when ready, let me know.

Best regards,
Rodrigo Peixoto
On Tue, 28 Aug 2018 at 06:59 Michał Grochala <notifications@github.com>
wrote:

[2018-08-28 11:43] stanislav-poboril commented on #9649
Fixed in pull request #9690 .

[2018-08-28 12:05] erwango commented on #5703
Might be worth sharing the API once you have something ready. The sooner the API is discussed the better IMHO.

[2018-08-28 12:30] #8286 closed

[2018-08-28 13:07] grochu commented on #5703
Agree, we can start discussing the API once it gets stable, but let me clarify 2 things already:

1. What we are going to provide in the first step is a HW driver for the nRF52 chips, so roughly it will cover what is supported by the NFC peripheral in these MCUs. We are not attempting to propose a general NFC driver API for Zephyr in this step.
2. To reveal some details on the driver API, I can sa

[2018-08-28 13:51] KillerLink commented on #8434
As far as i am concerned, my problem(s) have been solved now, therefore i will close this issue.

It was more than one error that led to the behaviour i observered, some seem to have been fixed by recent commits to networking and echo_client/echo_server and some were configuration errors of my own (due to my incomplete understanding of ipv6).

Regarding the driver for the cc2538 and its similariti

[2018-08-28 13:51] #8434 closed

[2018-08-28 13:58] aurel32 commented on #9686
It's possible to do that on at least the STM32F0 and STM32F3, but for the others platform like STM32F4, the page size is not constant. Instead the NVS sample should be modified to use the `FLASH_PAGE_LAYOUT` API to get the page size.

[2018-08-28 14:09] tejlmand commented on #8827
ok.

Updated, and made own check-mark, as I believe we don't want the --start-group / --end-group reintroduced when removing the --whole-archive.

[2018-08-28 14:28] mbolivar commented on #9676
I don't understand this code very well, but would it more sense to fail the test rather than filter out "bad" or missing results with `PRINT_ALL_MEASUREMENTS`? Failing platforms could then be blacklisted so they stick out more in the YAML file, instead of having to look through handler.log by hand.

[2018-08-28 14:49] erwango commented on #9686
@aurel32 , thanks. I've been a bit fast to do raise this issue. Updating the description.

[2018-08-28 15:01] therealprof commented on #7571
@pfalcon The new crashes I've been seeing seem to be mostly unrelated to general network traffic, at least a Nucleo board will continue to run for a whole day just fine. However the FRDM will reliably crash with all the time and I can easily speed it up with LwM2M operations:
[code]

Note that there's a few seconds delay before the last aborting then the `net_recv_data` output.

15210 is sys_dlist

[2018-08-28 15:02] therealprof commented on #7571
I'm running this on 3b80998ff2204c9edecdae88a4849a6b26e7d06a, BTW.

[2018-08-28 16:12] mike-scott commented on #9671
@derchrismakaio Here's the pin mappings for nRF52840:
[P1.15/P0.47] MDM_UART2_CTS
[P1.14/P0.46] MDM_UART2_TX
[P1.13/P0.45] MDM_UART2_RX
[P1.12/P0.44] MDM_UART2_RTS
[P1.11/P0.43] SHIELD_3V3_1V8_SIG_TRANS_EN
[P1.10/P0.42] MDM_RESET
[P1.07/P0.39] MDM_WAKEUP_EN
[P1.03/P0.35] MDM_POWER_ON
[P1.02/P0.34] MDM_BOOT_MODE_SEL (on powerup, 0 = boot mode, 1 = normal boot)

You'll note that there are both P0 an

[2018-08-28 16:19] Olivier-ProGlove opened #9695 "Deprecated configurations around `SPI_CS_GPIO`"
I was rebasing my Zephyr application on v1.13 RC1 when I noticed `warning: SPI_CS_GPIO defined without a type`.

Searching into Zephyr code base for the new feature that has been used to replace this configuration shows me there are few platforms (`arch/x86/soc/intel_quark`, `boards/arc/arduino_101_sss`, `boards/x86/arduino_101`) and SPI options (`SPI_n_CS_GPIO_PORT`  and `SPI_n_CS_GPIO_PIN`) depe

[2018-08-28 17:12] dbkinder commented on #6775
The few Zephyr names remaining in the titles seem OK.

[2018-08-28 17:12] #6775 closed

[2018-08-28 17:17] dbkinder commented on #6778
Duplicate of #5524

[2018-08-28 17:17] #6778 closed

[2018-08-28 17:19] andyross commented on #6522
This got merged in 1.12 but never closed.

[2018-08-28 17:19] #6522 closed

[2018-08-28 17:20] nashif commented on #9608
@cvinayak moving this to 1.14, is that ok with you? Can you give details on what is planned to be done here.

[2018-08-28 17:32] pfalcon commented on #7571
I'm running  3b80998 too, as can be seen from log above. But for me, memcpy is at  0x5836. I wonder if going for that "reproducible build" stuff would be actually useful for us. You run SDK 0.9.3, don't you?

[2018-08-28 17:35] pfalcon commented on #7571
(Just had my laptop battery crash, so will write many small msgs.)

I also see that faults happen with real LwM2M interaction, I don't have setup to reproduce it. But such kinds of faults look suspiciously stack-related, so I'd suggest bumping stack size, and maybe not just main, but other too.

[2018-08-28 17:37] therealprof commented on #7571
Nope, never have, never will unless you're going to release it for macOS...

[2018-08-28 17:48] pfalcon commented on #7571
Ok, so we're in a typical situation of non-reproducibility, on multiple levels ;-).

I guess going as far as exchanging binaries won't give much good, so we should just assume that this issue is not fixed for 1.13, and keep it open. When you'll be able to test your original scenario with Nucleo-F429ZI, please post the results. I'll be approach the same issue from my side (e.g. https://github.com/z

[2018-08-28 17:49] pfalcon commented on #7571
I guess this will need lowering of priority to not serve as a release blocker.

[2018-08-28 17:54] therealprof commented on #7571
@pfalcon Oh sorry, as mentioned above my Nucleo seems to run stable now in a heavy network.

[2018-08-28 17:58] pfalcon commented on #7571
Oops, might have read that by diagonal. Well, great news then, @jukkar's efforts weren't in vain! I can only suggest to close this ticket then, other issues like frdm_k64f faults can be pursued elsewhere.

[2018-08-28 18:00] therealprof commented on #7571
Sure, works for me. You might want to remove the LwM2M label too...

[2018-08-28 18:05] nashif commented on #9689
merged now

[2018-08-28 18:05] #9689 closed

[2018-08-28 18:26] cvinayak commented on #9608
@nashif yes, this issue be moved to 1.14.

This has been done in #9654 for 1.13. Sufficient for now.

Rest of the points needs discussion (if nothing happens by 1.14, we close it as wont fix).

[2018-08-28 18:26] nvlsianpu commented on #8367
AFIK was fixed by #8141

[2018-08-28 18:26] #8367 closed

[2018-08-28 18:28] cvinayak commented on #8796
@nashif No, too close to the 1.13 release to reproduce, analyse and fix it, move it to 1.14.

[2018-08-28 20:31] ulfalizer opened #9701 "Suggestion: Turn warnings into errors in extract_dts_includes.py"
Would get rid of stuff like this, which has been there for a long time now:

    quark_se_c1000_devboard.dts_compiled: Warning (unit_address_vs_reg): Node /soc/virtualcom@0 has a unit name, but no reg property
    extract_dts_includes.py: 'id' property missing in 'Intel I/O Advanced Programmable Interrupt Controller' binding. Using '<unknown id>'.

Could check if tests are being run somehow too. T

[2018-08-28 20:32] ulfalizer commented on #9701
CC @b0661

[2018-08-29 00:26] aaronhshi commented on #5703
@grochu is proposing/developing a general NFC driver API for Zephyr in your guy's plan for the future? This issue is something I'm very interested in and was hoping to develop and be apart of in providing a general NFC driver API for Zephyr!

[2018-08-29 00:35] nashif commented on #9683
this is now resolved.

[2018-08-29 00:35] #9683 closed

[2018-08-29 00:36] nashif commented on #9682
fixed

[2018-08-29 00:36] #9682 closed

[2018-08-29 00:36] nashif commented on #9684
fixed now

[2018-08-29 00:36] #9684 closed

[2018-08-29 00:37] nashif commented on #9680
fixed

[2018-08-29 00:37] #9680 closed

[2018-08-29 00:37] nashif commented on #9677
fixed

[2018-08-29 00:37] #9677 closed

[2018-08-29 02:37] nashif commented on #9617
@jukkar this one fails with qemu_x86, so your fix above does not work.

[2018-08-29 04:54] spoorthik opened #9703 "tests/kernel/threads/no-multithreading: kernel.threads.no-multithreading failing on nrf52_pca10040 and qemu_x86 with boot delay"
Execution log:
[code]
Platforms tested: nrf52_pca10040: arm, sam_e70_xplained:arm

[2018-08-29 05:02] pswarnak opened #9704 "tests/lib/mem_alloc/testcase.yaml#libraries.libc.newlib @ minnowboard:x86 results into exception"
The test **tests/lib/mem_alloc/** results into CPU Page Fault on minnowboard.

**Arch:** x86
**Board:** minnowboard
**Zephyr commit:**  commit 6a01c69f9b94009e924ab56edf3e65dca97019bb.
**Toolchain:**  ZEPHYR_TOOLCHAIN_VARIANT=zephyr

**Error Console Log:**
[code]

**Steps to reproduce:**
[code]

[2018-08-29 05:40] AdithyaBaglody commented on #9703
This seems to have risen due to enabling the interrupts in main(). commit id : 17e9d623b417d7a0e9b32ca9b5c4b6cd89062ec0
This is seen because the userspace is enabled and it seems to have found some issue in the implementation of scheduler. @andyross can you please look into this.

[2018-08-29 06:30] MrPointer commented on #9670
@jhedberg Sorry for the delay, have been busy with something else.
I think we misunderstood each other - When you said "manually", I thought you meant self-configuring.
That being said, we **are** using the `bt_mesh_cfg_mod_pub_set` function to configure the pub context.

Also, I've rerun our tests and the Node's address is indeed restored as expected. Publication address however, is not.

[2018-08-29 06:38] mike-scott commented on #9671
@derchrismakaio I was able to get the nrf52_pca10040 working with JLinkRTTClient and this diff:
https://hastebin.com/ijunafeqex.diff

Here's a boot log: https://hastebin.com/oquleruzuf.log

NOTE: I found that we have a bug when using uart_fifo_fill() on the nRF52.  I'll need to debug that and see what I'm doing wrong there.  It works on the FRDM_K64F.

[2018-08-29 06:40] mike-scott commented on #9671
Oh and I applied a local patch that I have yet to submit to the master branch:
https://hastebin.com/ematojiqet.patch

[2018-08-29 06:43] mike-scott commented on #9671
For reference here are the pin mappings for nRF52832:
[P0.25] MDM_UART2_CTS
[P0.24] MDM_UART2_TX
[P0.23] MDM_UART2_RX
[P0.22] MDM_UART2_RTS
[P0.20] SHIELD_3V3_1V8_SIG_TRANS_EN
[P0.19] MDM_RESET
[P0.17] MDM_WAKEUP_IN
[P0.13] MDM_POWER_ON
[P0.12] MDM_BOOT_MODE_SEL

[2018-08-29 07:07] pswarnak opened #9708 "tests/kernel/tickless/tickless_concept fails on nRF5x with 1000msec boot delay"
The test **tests/kernel/tickless/tickless_concept** results in Assertion failure in test_tickless_slice subtestcase, when boot delay of 1000msec is added.

**Arch:** arm
**Board:** nrf51/52 - nrf51_pca10028:arm, nrf52_pca10040:arm, nrf52840_pca10056:arm
**Zephyr commit:** 6a01c69f9b94009e924ab56edf3e65dca97019bb
**Toolchain:**  ZEPHYR_TOOLCHAIN_VARIANT=zephyr
**Additional Info:** Add CONFIG_BOOT_D

[2018-08-29 07:08] pswarnak commented on #9708
Hi @pizi-nordic,
Can you please check the failure, #9137 still does not resolve the failure, when boot delay of 1000msec is added.

[2018-08-29 07:18] avisconti commented on #8915
@nashif
Just back today from my holidays and just trying to recollect all my memories...
The update is that we have found that this issue seems very similar to a known I2C issue. I asked the STM team to cross verify this, but everyone was in vacation or was going to. So, I will try to push for it again and hopefully we will be able to conclude something very soon!

[2018-08-29 08:43] derchrismakaio commented on #9671
Thanks @mike-scott, I‘ve got it up and running yesterday. I‘m trying to port some Quectel modems and it turned out that the biggest part of the problem was the lack of FC for my breakout.
What finally fixed it was to concat the newline and the AT command to be send at once.
If you want I can post the change here.
Also, are you fine with me copying your code for now?
Plus, the Quectels also work wi

[2018-08-29 08:46] therealprof opened #9711 "RFC: Zephyr should provide a unique id interface"
Many (most?) MCUs provide some unique serial or ID factory programmed into the chip which could (and often should) be used to derive constant serial numbers, device identifiers, hostnames, MAC addresses etc. from.

At the moment applications and the kernel chose various details internally (e.g. hostname == board name, MAC address hardcoded or random, serial number hardcoded or application specific

[2018-08-29 09:11] alexsven commented on #8409
I have been trying to recreate this problem with a set of DKs, connecting two GPIOs, so that a pin toggle on one side would be seen as an interrupt on the other DK. By inserting some code in between toggling pin 15 and pin 16 I am able to change the timing between them. I can see, by using a logic analyzer that it cycles between 0.88µs and 19.68µs, but I can't reproduce the bug.

In the actual cod

[2018-08-29 09:20] kgugala commented on #8699
@nashif sorry for stalling this, I was on holidays. I'll take a look on that.

[2018-08-29 09:42] jhedberg commented on #9670
I did some testing with samples/bluetooth/mesh_demo, and I am not able to reproduce this issue - the publication address gets correctly restored after a power cycle. I did however have to increase some buffer counts for samples/bluetooth/mesh_demo to make the Model Pub Set & Model Pub Status messages get sent & processed properly:

[code]

Also note that the processing of the configuration message

[2018-08-29 09:43] jhedberg commented on #9670
One more tip: if you haven't done so already, please enable `CONFIG_BT_DEBUG_LOG=y` so that you can see any error & warning logs from the stack.

[2018-08-29 09:44] kapi-no opened #9713 "bluetooth: host: att read by group type request"
Currently, there is no way to discover all Primary Services with ```bt_gatt_discover()``` API.  User can only discover a specific service by passing its UUID value to the ```bt_gatt_discover_params``` structure (e. g. HRS). This is achieved at the ATT level with Find By Type Value request.

We can add this feature by using ATT Read By Group Type request. It can be triggered when user doesn't pass

[2018-08-29 09:48] avisconti commented on #8915
@nashif @erwango
I think that this issue is going to take a little bit more. In fact, it will need some more discussion with design team currently in vacation.

The issue seems to be related to repeated start timing violation (tSU;STA) in some particular conditions. We still need to confirm this. The issue happens in Standard-mode only (no issue in Fast-mode). A
possible workaround consists to red

[2018-08-29 10:35] SebastianBoe commented on #9701
This is a duplicate of the (until now accidentally closed) issue #8360 .

[2018-08-29 10:35] #9701 closed

[2018-08-29 10:38] punitvara commented on #8199
Updated justification for PR and reopened. @ManojSubbarao

[2018-08-29 10:43] Vudentz commented on #9713
This was to discourage such use since systems running zephyr normally are quite tight in terms of memory and normally target peripherals which implement a restrict number of profiles. That said Im not opposing to open it for discovering all primary services as long as that doesn't introduce caching to the stack, in the other hand if the following feature request is to introduce service caching the

[2018-08-29 10:50] MrPointer commented on #9670
@jhedberg Yes I know that thing about the queue, although it always seems that none of its' element is parsed until the `bt_ready` functions exits, which is somewhat strange (or not if it's the same thread processing them, this is internal and I hadn't looked at it).
I'm not near the code right now so I can't check the `prj.conf`, however, I surely remember setting the `CONFIG_BT_MESH_TX_SEG_MSG_C

[2018-08-29 10:51] pswarnak commented on #9708
Just figured out that **tests/kernel/sched/schedule_api/testcase.yaml#kernel.sched.slice_reset** also fails by adding 1000msec boot delay on nRF5x boards. Please find console output below:
[code]

[2018-08-29 10:56] jhedberg commented on #9670
@MrPointer you can do the configuration client calls blockingly, by passing a non-NULL status parameter (usually the last parameter). That means "I'm interested in the final status, only return once you have received the response". The challenge with this is that the local mesh network interface is processed through the system workqueue, which happens to be the same context that the bt_ready callb

[2018-08-29 10:57] SavinayDharmappa commented on #8506
https://github.com/zephyrproject-rtos/zephyr/pull/9714

[2018-08-29 11:02] MrPointer commented on #9670
@jhedberg Thanks for the explanation, it makes sense.
On a side note, could this be documented? I haven't seen it anywhere in the documentation nor the API, along with all other configuration methods, which is quite oppressive...

[2018-08-29 11:17] ydamigos commented on #9630
[code]

@kzyapkov Could you try the above patch?

[2018-08-29 11:18] jhedberg commented on #9670
@MrPointer any contributions to the configuration client API documentation are welcome ;)

There are some reasons I haven't gotten around to it yet:

 - It's huge, and for the most part the API maps 1:1 to what's already documented in the Bluetooth Mesh Profile specification (Section 4).
 - It's not really useful for anything else than talking to the local node, which is something I consider a hac

[2018-08-29 11:54] kzyapkov commented on #9630
@ydamigos the patch fixed it for me, tested a few combinations of ports and pins.

[2018-08-29 11:54] #8506 closed

[2018-08-29 11:58] #7906 closed

[2018-08-29 12:36] MrPointer commented on #9670
@jhedberg This is very reasonable of course, after all my usage is not very standard, and wouldn't be when project will be ready for production.
Had I had the time, I would happily documented it. Maybe someday I will 😉

Back to topic's issue - It seems I won't be able to test anything today and my peers are also away from work. Hopefully tomorrow we'll return with some answers 😃
@RonAmihai Please

[2018-08-29 12:53] #9630 closed

[2018-08-29 13:30] nashif commented on #8915
ok, moving to 1.14

[2018-08-29 13:37] pfalcon commented on #9015
Ok, I didn't want to continue on this ticket during the 1.13 release rush, but #9679 and #7831 touch on it, so let's try to go thru it now again.

[2018-08-29 13:42] pfalcon commented on #9015
@jukkar:

Here we go again, in circles. *There are* issue with sam_e70_xplained driver. It is known for at least half a year. It was subtle, so progress on analyzing and approaching it was slow, but finally this ticket was created, capturing analysis and proposing various ways to resolve it. And after all that you say that you don't see issues with it?

[2018-08-29 13:49] pfalcon commented on #9015
@jukkar

I appreciate this comment too. It's akin to a philosophical statement "whatever you do, there're downsides to it". That's absolutely true. And yet we're seeking for the best compromise, and to establish the best practices for future cases.

And again, the problem we're solving is not "optimizing" sam_e70_xplained driver, but how to stop individual drivers to apply unduly settings backpres

[2018-08-29 13:59] pfalcon commented on #9015
So, given the latest interest to this matter, @nashif kindly assigning 1.13 milestone to this ticket and @jukkar submitting https://github.com/zephyrproject-rtos/zephyr/pull/9679, I'd like to propose following plan for 1.13:

1. Once #9679 is merged, which effectively blacklists sam_e70_xplained from tests/, then,
2. I rework https://github.com/zephyrproject-rtos/zephyr/pull/7831 to have a title n

[2018-08-29 14:06] grochu commented on #5703
@aaronhshi yes, we are planning to propose a general NFC API for Zephyr as well. We will come up with an API-only pull request to start the discussion.

[2018-08-29 14:44] nixward opened #9718 "The test suite test_spi (spi_loopback) when built and run on the nrf52832_pca10040 board"
@anangl I saw you added the conf file for this board and thought you might know what is going on.  Thanks!
[code]
one or more events are not ready

[2018-08-29 14:50] nashif commented on #9015
neither #9676 not #7831 fix the issue as described in the bug, I am ok moving this issue to 1.14, was added to 1.13 in bulk, can always change this.

[2018-08-29 14:58] #9617 closed

[2018-08-29 14:58] #9623 closed

[2018-08-29 15:33] mike-scott commented on #9671
@derchrismakaio I'm fine with the code copy.  Please submit a PR if you want and we can review code there.

Also feel free to submit a PR with the AT command abstraction layer.

Question: Do we feel this issue is still valid or should we close?

[2018-08-29 15:45] mike-scott commented on #8322
Re-tested this and couldn't duplicate now.   Closing.

[2018-08-29 15:45] #8322 closed

[2018-08-29 15:46] mike-scott commented on #8190
Let's also move this to 1.14 for tracking purposes.

[2018-08-29 15:46] mike-scott commented on #8287
@therealprof did you get a chance to test this again?

[2018-08-29 15:59] inakypg commented on #7882
Thanks for your feedback -- I had missed it among the rest of the grind

This is very puzzling; I looked at all the data I have -- there are 243 confirmed failures on different pieces of hardware, all the same assertion.

It started happening on May 23rd 18 and has regularly happened until now. We've had the NRF's on the HW testing pool since before.

Once thing before I forget, that I keep forget

[2018-08-29 16:30] SergeSmirnov opened #9720 "samples\bluetooth\mesh_demo crash with real payload"
I use two boards nrf52840_pca10056, one as a Heartbeat subscriber (NODE_ADDR=0x0b0c), the other as a Heartbeat publisher (NODE_ADDR=0x000f).

I added two lines to the prj.conf file to use the RTT viewer:

CONFIG_RTT_CONSOLE=y
CONFIG_UART_CONSOLE=n

Minor changes to the main.c file.
The function call board_button_1_pressed() was added to the main loop, when the example was configured as a Heartbeat

[2018-08-29 16:33] therealprof commented on #8287
Yes, works just fine (as usual when you do it right 😀).

[2018-08-29 17:10] mike-scott commented on #9667
@therealprof Having a hard time reproducing this.  I tested this using both Leshan and Wakaama as LwM2M Servers.  Here's the output from a Wakaama session (NOTE: I had to edit part of the Wakaama source to allow creation of the /3311 object)   Also, not sure why Wakaama was showing a NOT_FOUND when I used the create command.  It's very "hard-coded" in this regard.  Leshan worked perfectly.

[code]

[2018-08-29 17:16] RonAmihai commented on #9670
Our -EADDRNOTAVAIL actually appears inside the bt_mesh_model_publish function, after our custom publication callback (the 'update' field of the publication context structure) is called.

Inside bt_mesh_model_publish, there is a call to bt_mesh_app_key_find, which returns NULL and therefore bt_mesh_model_publish returns -EADDRNOTAVAIL

[2018-08-29 17:17] mike-scott commented on #8287
Ok, closing this issue.

[2018-08-29 17:17] #8287 closed

[2018-08-29 17:27] mike-scott commented on #9671
Closing this issue as support for the modem using nrf52_pca10040 was never introduced (missing defines is normal in this case).

[2018-08-29 17:27] #9671 closed

[2018-08-29 17:46] #3980 closed

[2018-08-29 17:53] RonAmihai commented on #9670
@jhedberg Just need to mention once again:
Start from the first power-cycle we are not calling the bt_mesh_cfg_mod_pub_set, since there are stored BT settings therefore configuration shouldn't be needed.

The above error appears only after the first power cycle.
The first boot, which calls bt_mesh_cfg_mod_pub_set, works perfectly and the publication callback publishes without issues in this case.

[2018-08-29 18:09] jhedberg commented on #9670
So now we've gone from the local unicast address missing, to the publication (destination) address missing, to there not being an app key? :)

Could someone update the topic of this issue accordingly? (I already did it once)

[2018-08-29 18:55] nashif commented on #9174
@erwango will you take care of this?

[2018-08-29 18:57] nashif commented on #9656
can't reproduce

[code]

[2018-08-29 19:09] mbolivar commented on #9561
Hi @hongshui3000, as far as I am aware, Zephyr does not have a command line the same way Linux does.

[2018-08-29 19:09] #9561 closed

[2018-08-29 19:14] #8717 closed

[2018-08-29 19:14] derchrismakaio commented on #9671
Is there a discussion group anywhere?
Some basic questions on the side if you don’t mind. Answers would help me understand my next steps for a clean integration better:
- say I want some app specific logic like a callback for an incoming call - where to place it best? Can I access the specific device (not the „interfaced“ object) from main code?
- is it easy to integrate bus selection for a driver

[2018-08-29 19:15] #8997 closed

[2018-08-29 19:35] aurel32 commented on #9441
Actually this issue is not NXP specific, I am able to reproduce it on an STM32F7 board. I believe it is Cortex-M7 specific, as this CPU is superscalar and with a longer pipeline than other Cortex-M CPUs.

[2018-08-29 19:49] mike-scott commented on #9671
@derchrismakaio You can ask more general "development" style questions at devel@lists.zephyrproject.org

Depends on the kind of incoming call.  I might need more specifics or an example here.

I do that here: https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/modem/Kconfig#L42 but this may change once the "shields" definitions are put into Zephyr.

Again the upcoming shield support m

[2018-08-29 22:48] #9441 closed

[2018-08-30 04:30] ManojSubbarao commented on #9459
@rgundi Please take a look at this issue.

[2018-08-30 05:09] nashif commented on #9703
fails on xtensa as well, in qemu:
[code]

do not think this is related to userspace.

[2018-08-30 05:18] jhedberg commented on #9463
@DeclanTraill are you also doing simultaneous advertising like @cvinayak suspects? Are you doing passive or active scanning? It's only active scanning that requires touching the local random address, so if you don't need to do that then switching to passive scanning may work around your issue. Let's try to keep all the discussion here rather than the duplicate thread on the mailing list.

[2018-08-30 05:26] punitvara commented on #2952
This has been taken care in #9605 Once it will get merge, issue will no longer exist. So closing this issue.

[2018-08-30 05:26] #2952 closed

[2018-08-30 05:39] nniranjhana commented on #9459
Updated with the right commit after which test started failing.

[2018-08-30 05:42] nashif commented on #9468
@carlescufi fyi

[2018-08-30 05:44] nniranjhana opened #9723 "tests/drivers/adc/adc_api/ fails on sam_e70_xplained"
The test in tests/drivers/adc/adc_api/ fails with _Assertion Failure_ on sam_e70_xplained.

The test started failing after this commit: 4e551aabb6c315a3094aabee8ed4d74e4fd238d0

**Arch:** ARM
**Platform:** sam_e70_xplained

**Error console log:**

[code]

[2018-08-30 06:05] AdithyaBaglody commented on #9703
@nashif yep this is not a userspace related issue at all. But I am not able to exactly pin point the issue here. Maybe the timer interrupt is causing something (a very crude guess).

[2018-08-30 06:35] findlayfeng commented on #8669
new bug~

[2018-08-30 06:46] findlayfeng commented on #9627
Here you need to keep next.
Because the current timeout will destroy the pointer to next if it is re-added, continuing to follow the next loop will have unpredictable results.
Just need to remove remove

[2018-08-30 07:10] ydamigos commented on #9174
[code]
@eqvinox Does the above patch fixes it?

[2018-08-30 07:57] jhedberg commented on #9463
@cvinayak regarding the conflict with advertising, what I'd do is not change the random address if advertising is active using it. I assume this issue only concerns random address based advertising, i.e. advertising with public address would not prevent changing the random one? Anyway, I think this policy should be ok, since the reason why active scanning tries to change the address is in order no

[2018-08-30 08:01] cvinayak commented on #9463
@jhedberg I have a bad feeling, I have been review the code path, and I am not able to figure out why the scan stop/start fails on set_random_address only after the RPA timeout has expired... from the logs, it appears, the advertising is stopped and restarted, but set_random_address is failing at this point itself.

[2018-08-30 08:40] eqvinox commented on #9174
@ydamigos sorry I'll probably need about a week or so until I can test this, I'm out sick :face_with_thermometer:

[2018-08-30 10:07] lgl88911 opened #9727 "Bluetooth: IPSP Sample Doc no match for new path"
https://github.com/zephyrproject-rtos/zephyr/tree/master/samples/bluetooth/ipsp show:
To test IPSP please take a look at samples/net/README
but I can't find the file

[2018-08-30 10:34] rgundi commented on #9459
Looks like the test case needs to be modified. Looking into it.

[2018-08-30 11:09] cvinayak commented on #9463
@DeclanTraill FYI #9728

[2018-08-30 11:58] jukkar commented on #7502
The following mbedtls samples are using directly mbedtls APIs. As there are multiple ways these applications can fail, and as we have more proper TLS supported applications like `samples/net/sockets/echo_[server|client]`, I propose that we deprecate these three applications. I will send a PR that removes them.
[code]

[2018-08-30 12:04] spoorthik commented on #9656
@nashif : I can still reproduce on the latest commit with TCF infrastructure.

Note: This adds 1000ms of boot delay.

[code]

[2018-08-30 12:05] jukkar commented on #7502
The apps are removed by #9730

[2018-08-30 12:15] Vudentz commented on #9727
Yep, that seems outdated, I will update with the instruction how to use the echo-client which is the only thing we are really using from net-tools.

[2018-08-30 12:31] Harishsam07 commented on #8125
I have solved my isuue successfuly..

[2018-08-30 12:31] #8125 closed

[2018-08-30 12:34] lgl88911 commented on #9727
@Vudentz  Other question about the doc: Where is bluetooth_6lowpan file, I can't find it in zephyr tree. Thanks!

[2018-08-30 12:38] Vudentz commented on #9727
That is on Linux side, that session describes how to setup the Linux box to talk to zephyr.

[2018-08-30 13:27] #8605 closed

[2018-08-30 13:28] #9032 closed

[2018-08-30 14:50] #9575 closed

[2018-08-30 15:00] carlescufi commented on #9468
@ioannisg fyi, let's take a look at this together

[2018-08-30 15:01] otavio commented on #9711
We are doing it too, for updatehub support. Having a common way to do it does make a lot of sense.

[2018-08-30 16:35] nashif commented on #9703
on nrf52_pca10040

[code]

can't reproduce it on sam_e70_xplained

[2018-08-30 16:45] nashif commented on #9703
with mpu disable on nrf52 I get:

[code]

[2018-08-30 17:03] XXXXzzzz000 commented on #9613
＃8830 this is my question. wifi and bluetooth not be supported,because these parts are not open source.they will open wifi source in the future,so we need wait.

[2018-08-30 17:16] mike-scott commented on #9667
@therealprof update on this?

[2018-08-30 18:06] #9470 closed

[2018-08-30 18:17] therealprof commented on #9667
Yeah, it's not you, it's me.

Our software learned a lot of nice things lately which exposed quite a few bugs, too. 😞

[2018-08-30 18:17] #9667 closed

[2018-08-30 18:30] MaureenHelm commented on #9703
I can reproduce on mimxrt1050_evk and frdm_kw41z, but not on frdm_k64f

[2018-08-30 19:05] #9646 closed

[2018-08-30 19:59] MaureenHelm commented on #9703
It fixes both mimxrt1050_evk and frdm_kw41z.

[2018-08-31 03:05] nashif commented on #9656
then you should reopen it.

[2018-08-31 03:05] nashif commented on #9656
it is sporadic...

[code]

[2018-08-31 03:16] DeclanTraill commented on #9463
Great work – thanks guys…

Regards,
Declan

From: Vinayak Kariappa Chettimada <notifications@github.com>
Sent: Thursday, 30 August 2018 9:10 PM
To: zephyrproject-rtos/zephyr <zephyr@noreply.github.com>
Cc: DeclanTraill <declan.traill@setec.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [zephyrproject-rtos/zephyr] bt_le_scan_start Fails with Error -5 after 128 scan start/stop cycles (#9

[2018-08-31 06:16] spoorthik commented on #9703
The test case still fails on nrf51_pca10028 even after the fix #9740.

Latest commit: 19b7eaaa65f6354a831f02372a9e79eab0198bc0

Execution log:
[code]

[2018-08-31 06:42] spoorthik opened #9741 "tests/kernel/spinlock:kernel.multiprocessing.spinlock_bounce crashing on ESP32"
Latest commit on which test is run: 19b7eaaa65f6354a831f02372a9e79eab0198bc0

Execution log:
[code]

[2018-08-31 07:28] nniranjhana commented on #9703
It also fails on qemu_x86 with the latest RC2 tag.

Error console log:

[code]

[2018-08-31 08:17] jtguggedal opened #9742 "Sensor: Conversion from m/s^2 to Gs returns signed integer"
The function `sensor_ms2_to_g` in the sensor API to convert from m/s^2 to Gs returns a signed integer. Is this the intended behaviour? I expected it to return a floating point number, but I might be missing something?

The function is found here:
https://github.com/zephyrproject-rtos/zephyr/blob/master/include/sensor.h#L447

[2018-08-31 08:21] nniranjhana opened #9743 "tests/posix/fs crashes with BUS FAULT on nRF52"
The POSIX filesystem test crashes on nRF52 with a _BUS FAULT_.

The test started failing after this commit: ac787e0e970912b79c9e053e1470a5cb9f267031
which is part of the PR #9707

**Arch:** ARM
**Platform:** nrf52840_pca10056

**Current error console log:**

[code]

**Previous log:**

[code]

[2018-08-31 09:36] markusr commented on #8097
I also have a problem with watchdog example on STM32 (```nucleo_l432kc```).

[code]

[2018-08-31 09:47] spoorthik opened #9744 "tests/kernel/mbox/mbox_usage/testcase.yaml#kernel.mailbox crashes on ESP32"
Execution log:

[code]
Latest commit on which issue is seen: 19b7eaaa65f6354a831f02372a9e79eab0198bc0

Steps to reproduce:

[code]

[2018-08-31 10:15] fadhel086 opened #9746 "zephyr networking non socket client server, qemu_x86 issue"
Hi,
I've been testing /samples/net/echo_server and client in qemu_x86.
The server responds as below;
[echo-server] [INF] build_reply_pkt: TCP IPv6 received 536 bytes
[echo-server] [INF] build_reply_pkt: UDP IPv6 received 840 bytes
[echo-server] [INF] build_reply_pkt: UDP IPv4 received 678 bytes
[echo-server] [INF] build_reply_pkt: UDP IPv6 received 1050 bytes
[echo-server] [INF] build_reply_pkt: U

[2018-08-31 10:32] jukkar commented on #9746
typo here, s/qemu_X86/qemu_x86/

After using proper board the two qemu's started to work just fine. Client sends packets, server echoes them back and client receives them correctly. This with latest master.

[2018-08-31 10:39] spoorthik commented on #9741
The issue is sporadic. Cannot be reproduced easily.

[2018-08-31 11:32] fadhel086 commented on #9746
Switched to latest master and worked.
Thanx

[2018-08-31 11:32] #9746 closed

[2018-08-31 12:06] pswarnak commented on #9523
@pizi-nordic:
FYI: **tests/kernel/mem_protect/stack_random** also hangs without any console output on nrf52840_pca10056. Kindly check.

[2018-08-31 15:14] #8898 closed

[2018-08-31 15:14] #9459 closed

[2018-08-31 15:14] #9466 closed

[2018-08-31 15:14] #9468 closed

[2018-08-31 15:50] bixivs opened #9748 "NFFS issue after many writes by btsettings"
Hello

I have encountered an issue using the bluetooth settings storage on an nffs partition of the flash of an nrf52832.
After many writes of the setting file the device hangs at boot trying to mount the nffs partition with the following message
[code]

the crash seems to happen at the instruction:

    rc = fs->mount(mp);

line 462 of the fs.c.

I replicated the same issue with a slightly modifi

[2018-08-31 16:06] lpasteau opened #9749 "NRF52 : NFFS file system : use of write function returns 0 but fails"
Sometimes the operation fs_write() seems good when checking the return value. However the file became a file of size null and a new file with another name appears with the previous file. Then some loops later, there is an error in a return value of the write function.

When trying to modify NFFS configuration :
- In the two cases when  the CONFIG_NFFS_FILESYSTEM_MAX_BLOCK_SIZE is higher and when t

[2018-08-31 16:15] carlescufi commented on #9748
@bixivs thanks for the report. I am copying @jhedberg here in case there is something he can think of.

[2018-08-31 17:15] oliviermartin commented on #9523
I had to disable stack protection to make my Zephyr nRF52840-based application running on v1.13.0. I would suggest to increase the priority of the issue.

[2018-08-31 17:29] jhedberg commented on #9748
Nothing comes to mind, unfortunately. It *is* worth pointing out however that pretty much all testing I've done with settings has been with the FCB backend and not NFFS.

[2018-08-31 17:34] nashif commented on #9523
related to CONFIG_STACK_CANARIES...

[2018-08-31 17:46] nashif commented on #9703
this is because of the delayed boot

[2018-08-31 17:51] dcpleung commented on #9273
Not an issue with API. The new tests being introduced are using more memory, but the PR never increases the mem_pool, and thus running out of memory.

[2018-08-31 17:51] #9273 closed

[2018-08-31 19:46] #9537 closed

[2018-08-31 20:12] nashif commented on #9743
sporadic, can't reproduce 100% of the time locally..

[2018-08-31 20:14] nashif commented on #7502
app removed

[2018-08-31 20:14] #7502 closed

[2018-08-31 20:35] ceolin commented on #8699
guys, this is not a bug. The invalid memory access that coverity is complaining will never happen because ``_irq_spurious(NULL);`` will be called first and this function never returns

[code]

Question, should I add a return after this so any static analyzer will complain or we can just close this issue (here and in coverity)