[2022-06-23 13:18] andyross opened #46844 "Timer drivers likely have off-by-one in rapidly-presented timeouts"
(This one is sort of half way between a bug and an enhancement, labelling it a bug for early triage but feel free to redefine.)

Discussion in #46639 showed that the arm_arch_timer had an edge case in the rounding logic such that a system that got into a timer interrupt and back out into `sys_clock_set_timeout()` before the hardware counter had advanced would end up setting the resulting interrupt

[2022-06-23 13:23] carlescufi commented on #46844
@nordic-krch FYI

[2022-06-23 13:37] cfriedt opened #46846 "lib: libc: newlib: strerror_r non-functional"
**Describe the bug**
While working on #46101, I noticed that `strerror_r()` is fairly non-functional with `CONFIG_NEWLIB_LIBC=y`. `strerror()` is fine though.

E.g. `strerror_r(EINVAL, buf, sizeof(buf))` returns `1201056` and the buffer reads `"?"`.

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -p auto -b qemu_x86_64 -t run tests/lib/c_lib -- -DCONFIG_MINIMAL_LIBC=n -DCONFIG_PI

[2022-06-23 14:00] plbossart commented on #46372
@lyakh Linux quirks are a hard no from me. We don't have any issue with the non-Zephyr solution and cores are already in use in existing topologies. We can't prevent people from using cores.

[2022-06-23 14:29] senseDan opened #46847 "STOP2 Mode on Nucleo-WL55JC1 not accessed"
**Describe the bug**
For a power manager test and general test of power consumption I built and flashed the following two applications:
samples/boards/stm32/power_mgmt/blinky
tests/subsys/pm/power_mgmt_soc

I built it using west build -b nucleo_wl55jc and flashed it with west flash. I also debugged it with VS Code and both applications were working fine, but i did not debug any pm stuff, just the

[2022-06-23 16:12] yperess commented on #46824
@aaronemassey

[2022-06-23 16:32] dcpleung commented on #46372
I wonder if we should also clear `INTENABLE` (for non-IDC interrupts) at power-down, and restore it during power-on. I am just guessing here... but is it possible that there are level 3+ interrupts being triggered?

Besides, if we have cores "randomly" waking up, this is bad for power consumption, especially on a laptop.

[2022-06-23 16:47] andyross commented on #46372
Well, as I understand it (and I once thought I did but clearly don't anymore), INTENABLE shouldn't be involved.  It's an SR, which means it's part of the Xtensa core and on the same power well, and thus inactive when power is gated.  So it isn't capable of masking/enabling anything on a suspended core.  So at least in theory, any masking being done in the L2 interrupt controller should be sufficie

[2022-06-23 19:46] #46500 closed

[2022-06-23 20:01] peter-mitsis commented on #46378
I've spent a few cycles looking into and thinking about this. I don't have a hard answer on it, but I do have a few thoughts.

At one level of analysis, it seems reasonable to expect to that raising CONFIG_SYS_CLOCK_TICKS_PER_SEC on a tickless kernel from 15000 to 50000 should not result in additional overhead. However, that does make certain assumptions.

Before getting to deep into them, I'd lik

[2022-06-23 20:12] cfriedt commented on #46846
Also just noticed that this does not seem to work with `CONFIG_ARCMWDT_LIBC`.

[2022-06-23 20:14] brgl commented on #46446
@richesonk this is still concerning upstream lvgl though, right?

[2022-06-23 20:18] richesonk commented on #46446
Hmmmm, not exactly. The patch that I posted over in LVGL, is derived from the LVGL snapshot included with nRF Connect SDK v2.0, so I guess these patches are not technically applied to the upstream LVGL, but any future solution would need to include those patches in (and pick up) the upstream LVGL.

[2022-06-23 20:24] cfriedt commented on #46758
@carlescufi  My main motivation for using C++ would just be for quick bring up (natively). Given that the lingua franca of Zephyr is C, the API bindings for a custom HTTP impl would also most certainly have to be in C.

[2022-06-23 20:49] ssharks commented on #23302
@rlubos: Could you redo the upload tests with small window of https://github.com/zephyrproject-rtos/zephyr/issues/23302#issuecomment-1142138602, with the fix of https://github.com/zephyrproject-rtos/zephyr/pull/46584 in? The figures will look very different I believe.

@xhpohanka: PR https://github.com/zephyrproject-rtos/zephyr/pull/46584 was recently merged and I think it solves the issue you des

[2022-06-23 23:22] laurenmurphyx64 opened #46864 "Intel CAVS: cavstool_client.py sporadically fails"
**Describe the bug**
cavstool_client.py randomly sends garbage (?) to cavstool_server.py (in Zephyr codebase, it's named cavstool.py), which tries to flash the garbage to the ADSP. West fails with no console output. Twister receives no console output for alternating tests, causing every Twister run to fail.

This is possibly unique to our CAVS setup described in https://github.com/zephyrproject-rt

[2022-06-23 23:38] laurenmurphyx64 opened #46865 "Intel CAVS: Support for different ports for client / server"
**Is your enhancement proposal related to a problem? Please describe.**
In our current CAVS hardware setup, our CAVS DUTs are all connected on a private network to the same gateway device. Since our developer machines are not on the same network as the DUTs, we need cavstool_client.py to connect to user-supplied ports X and Y on the gateway device, which the gateway will forward to 9999 and 10000

[2022-06-23 23:44] aasthagr commented on #46500
@nordic-krch Seems like there are still references to Z_LOG_MSG2_CREATE* , LOG_MSG2_DEBUG, LOG_MSG2_GENERIC_HDR macros in the tree.

[2022-06-24 04:30] nordic-krch commented on #46500
@aasthagr thanks for that info, if i find something like that i will be posting small patches.

[2022-06-24 05:21] hunterhu3000 commented on #46555
The issue is not reproduced after 6/16. So the issue can be closed. When it happens again, we will submit a new issue. Thanks

[2022-06-24 05:21] #46555 closed

[2022-06-24 05:27] ceolin commented on #46378
SoF has its own scheduler concept on top of Zephyr, but the general idea is that there is a timer, that ticks every 1000usec and all the work is done within this time. On Xtos (the implementation without Zephyr) all the works is done from the interruption context and the timer is programmed to tick every 1000 usec. In other hand on Zephyr,  the timer interruption "just" wakes up other threads that

[2022-06-24 06:11] sam131208 commented on #46325
Thanks for your help, it's already working fine.

[2022-06-24 06:11] #46325 closed

[2022-06-24 06:14] xhpohanka commented on #23302
Hello @ssharks,
I have not done zperf testing for a long time, but I have checked the recent updates to the TCP stack including #46584. In our application the performace really improved a lot. From my POV this issue can be closed :)

[2022-06-24 07:18] pcmont commented on #46797
I can answer to myself the last issue, about not working when defining 256 o 512 bytes buffers. RXD.MAXCNT register in UARTE0 (Maximum number of bytes in receive buffer) is 8 bits. When you write 256 o 512 to it, you are actually written a 0 to that 8 bits.

Surprisingly this is not detected as an error by uart_rx_enable(). Could it be possible to fix this for future releases?

About the other pro

[2022-06-24 08:21] rlubos commented on #7876
Yes, I think we can close this one.

[2022-06-24 08:21] #7876 closed

[2022-06-24 08:55] ibaz-nordic commented on #46798
The issues are quite similar.  Mine has the same IRK.  The fix was reverted because it breaks PTS.  So it's still an open issue.

[2022-06-24 09:36] Thalley commented on #46798
@ibaz-nordic Any work going on right now to fix it (again)?

[2022-06-24 09:54] ibaz-nordic commented on #46798
I don't have time to look into it (for the next ~1 mo).  Should I re-open the issue in case someone has the capacity to look into it sooner?  What's the procedure?

[2022-06-24 10:13] Thalley commented on #45827
Re-opening since the PR that closed this was reverted: https://github.com/zephyrproject-rtos/zephyr/pull/46505

[2022-06-24 10:13] Thalley commented on #46798
Reopened the issue https://github.com/zephyrproject-rtos/zephyr/issues/45827

[2022-06-24 10:43] jilu-ot commented on #46798
Regarding issue #45827. This is not the same problem as I see it.

Issue #45827 is about preventing the same identity from being added to the controller's resolve list, and it seems like the IRK is not being considered in that issue.

This issue is about a new IRK from the same device (device 1 in the example) that is NOT stored in the controller's resolve list because the the controller is only l

[2022-06-24 10:53] Thalley commented on #46798
Agreed, it seems to be a separate issue (although somewhat related).

In any case, the other issue is still present after the revert of the PR :)

As @alwa-nordic also pointed out, it seems like this probably needs to be fixed in the host

[2022-06-24 11:02] jilu-ot commented on #46798
Yes. This issue should also be fixed in the host as the controller is allowed by the spec. to return invalid parameter, even if the IRKs are not a match.

I have the opportunity to work on this, so I would like to make PR for this.

[2022-06-24 11:30] rlubos commented on #23302
@ssharks Hmm, but the Silly Window shouldn't affect the upload as it's related to the RX window size? Did you mean download?

Anyways, I've ran the test again, no difference on the upload side, the download throughput is slightly improved (in low window scenario) to 8.68 Mbps. When I tested the solution, the most significant performance boost happended in case we reported Zero window to peer, as t

[2022-06-24 11:32] rlubos commented on #23302
I suggest we thereby close this long-open issue.

[2022-06-24 11:32] #23302 closed

[2022-06-24 12:16] enjiamai commented on #46864
The PR https://github.com/zephyrproject-rtos/zephyr/pull/46880 also partially fix this hang up problem when the garbage happens, at least twister won't hang up in this case.

The garbage is the "Filename" + "part of bytes the ADSP firmware" which are both transferred by socket.sendall/sendfile. In the code, they are sent separately but we saw them being received together.  This happens frequently

[2022-06-24 14:19] #26938 closed

[2022-06-24 15:26] lyakh commented on #46372
@andyross no, don't think that's the case. When waking up from a normal WAITI the core would continue to the next instruction. Whereas what we see is that the core resets, i.e. it really powers down. And yes, I tried masking all l2 and l5 interrupts, it didn't help.

[2022-06-24 16:34] laurenmurphyx64 commented on #46864
@enjiamai Is there a chance we could invoke [SCP in the Python script](https://stackoverflow.com/a/68365) to transfer the firmware binary? I don't mind re-running West, that's totally fine, but every Twister run I've tried fails and that seems like a really mission-critical problem that needs to be solved. Maybe it could look something like this:

CLIENT, OVER TCP: Hey, I'm going to send the binar

[2022-06-24 16:38] enjiamai commented on #46864
Ok, @laurenmurphyx64 , I think SCP is a good choice. go!

[2022-06-24 18:29] #45596 closed

[2022-06-24 18:29] #46269 closed

[2022-06-24 19:43] d3zd3z commented on #43249
I have been unable to build with `MBEDTLS_USE_PSA_CRYPTO` even after the 3.1.0 release. I get a small number of conflicting symbols. There is a bit deeper of a question as to where the operations actually get implemented, and should all of them be handled by the PSA calls into the trusted side.

[2022-06-25 00:30] #42134 closed

[2022-06-25 00:30] #36358 closed

[2022-06-25 01:38] Sschumac opened #46887 "Automatically organize BLE EIR/AD data into a struct instead of providing it in a simple_network_buffer."
**Is your feature request related to a problem? Please describe.**
Right now - anyone who needs to parse AD data from scanned objects (like to get the name or advertised services) needs to write their own parser. This seems like redundant work when the data is easily structured.

**Describe the solution you'd like**
I propose instead of passing a simple_network_buffer struct into bt_le_scan_cb_t c

[2022-06-25 01:46] Sschumac commented on #46887
Closing as this is better categorized as an enhancement instead of a feature.

[2022-06-25 01:46] #46887 closed

[2022-06-25 01:46] Sschumac opened #46888 "Automatically organize BLE EIR/AD data into a struct instead of providing it in a simple_network_buffer."
**Is your feature request related to a problem? Please describe.**
Right now - anyone who needs to parse AD data from scanned objects (like to get the name or advertised services) needs to write their own parser. This seems like redundant work when the data is easily structured.

**Describe the solution you'd like**
I propose instead of passing a simple_network_buffer struct into bt_le_scan_cb_t c

[2022-06-25 09:30] kisvegabor commented on #46446
I agree that (for now) it can be solved on the SSD1306 driver's level without modifying LVGL.

[2022-06-25 15:04] mpiccolino-tealblue commented on #33876
@sylvioalves hello! Will you have any time in the near future to have a look at the LoRa support for the Heltec v2, either as overlay or direcly in the device tree? many thanks

[2022-06-25 15:58] cfriedt opened #46897 "tests: posix: fs: improve tests to take better advantage of new ztest features"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, the fs tests are written in a very old style of testing, where checks that are part of the testsuite simply call other functions.

**Describe the solution you'd like**
It would be better to use the common unit-test approach where there are
* `setup_fn()` called prior to running the entire test suite
* `teardown_fn()

[2022-06-26 00:40] XenuIsWatching opened #46901 "RFC: I3C I2C API"
# Reason for a Solution

I3C is a rather unique bus compared to other buses that zephyr supports. It supports I2C _(to an extent)_ which zephyr has had support for a rather long time along with many existing device drivers that use I2C. It is rather important to maintain full compatibility with this bus API to take advantage of all the existing (and future) work done with I2C within Zephyr on a ne

[2022-06-26 03:49] XenuIsWatching commented on #46901
# Q: How does Linux do it?

Linux added an I3C framework and connected it to the I2C framework
https://github.com/torvalds/linux/blob/0840a7914caa14315a3191178a9f72c742477860/drivers/i3c/master.c#L2243

[2022-06-26 08:02] XenuIsWatching commented on #46901
_I'm working on a short presentation with diagrams to more easily visualize and to give some background on the i3c modes and i2c.

I'll edit this comment with a link to it as I figure out the best way to share it...._

[2022-06-26 12:13] attie-argentum commented on #44996
I'd suggest keeping this issue open, as it can cause a lot of confusion...

[2022-06-26 14:28] cfriedt opened #46910 "lib: libc: picolibc: time.h definitions and declarations"
**Is your enhancement proposal related to a problem? Please describe.**
Due to the slight overlap between ISO C and POSIX standards when it comes to the `<time.h>` header, some additional declarations are needed by the libc.

The main motivation for this is to eliminate the ~fragile workaround [here](https://github.com/zephyrproject-rtos/zephyr/blob/main/include/zephyr/posix/time.h#L109), which al

[2022-06-26 16:42] keith-packard commented on #46910
Looks like picolibc could use a section in its sys/features.h about zephyr -- picolibc has a huge list of optional system APIs that it can declare, including these time-related ones. These, in particular, are declared if  _POSIX_TIMERS is #define'd.

Here's the list of things which the cygwin section includes; we can add a zephyr section that sets the correct value for each one.

[code]

[2022-06-26 16:45] enjiamai commented on #46864
Hi @laurenmurphyx64 , #46880 can address all these problem. I refine the way we transfer FW files and the whole logic, and I tested the new logic work quite stable now, no matter sending FW file or hanging up problem, and after applying it I rarely see a false-positive test.

I could add scp later if you think we still need it.  If we add scp, I think it will look this way: (we need to specify the

[2022-06-26 16:45] keith-packard commented on #46910
oh look, there's already a document which has what we need -- doc/services/portability/posix.rst:
[code]

[2022-06-26 16:51] keith-packard commented on #46910
So, this leaves me with the (seemingly simple) question -- what cpp symbol should picolibc use to detect when it is being used within zephyr? `#ifdef ZEPHYR_VERSION`?

[2022-06-26 18:27] keith-packard commented on #46910
And, looks like I can answer that myself -- the build system adds -D__ZEPHYR__=1 on the command line.

[2022-06-26 18:44] keith-packard commented on #46910
hrm. well, that's not going to work -- clock_gettime is defined with __syscall linkage in the zephyr header files. Suggestions on what picolibc should do are welcome here; do we need a magic __syscall thingy in the picolibc headers? I'd have to define that as '' by default to make things work, ofc.

[2022-06-26 20:08] cfriedt commented on #46910
I think `__ZEPHYR__` is typical

[2022-06-26 20:09] cfriedt commented on #46910
That's a good question. Perhaps @stephanosio and @tejlmand might want to chime in.

[2022-06-27 00:32] keith-packard commented on #46910
ok, so I've got a picolibc PR that enables all of the zephyr-supported POSIX interfaces here: [Picolibc #305](https://github.com/picolibc/picolibc/pull/305). This is also in the zephyr picolibc repo on the[ zephyr-posix branch](https://github.com/zephyrproject-rtos/picolibc/tree/zephyr-posix). That'll get merged to picolibc once zephyr is ready to adapt its interfaces, so you're driving this one.

[2022-06-27 00:54] cfriedt commented on #46910
Perfect!

[2022-06-27 06:03] shaoanxli opened #46917 "frdm_k64f : failed to run tests/drivers/gpio/gpio_get_direction"
**Describe the bug**
Two bugs here , in test_disconnect and test_input_output function , shows "gpio_pin_configure() failed: -134".
It seems that these two flags are not recognized: "GPIO_INPUT | GPIO_OUTPUT | GPIO_OUTPUT_INIT_LOW"  , "GPIO_DISCONNECTED" .

**To Reproduce**
Steps to reproduce the behavior:
1. source zephyr-env.sh
2. twister -p frdm_k64f --device-testing  --hardware-map map.yml -T

[2022-06-27 07:30] brgl commented on #46446
That's fine, can you submit it as a proper PR in that case?

[2022-06-27 07:59] andrzej-kaczmarek commented on #46721
@carlescufi yes, I will maintain and extend both HAL and SoC port, there will be also Renesas engineers involved later at some point to take over.

[2022-06-27 09:36] LixinGuoX opened #46925 "Intel CAVS: tests/lib/mem_block/ failed, caused by too frequent log output."
**Describe the bug**
On Intel_adsp_cavs platform, `tests/lib/mem_block/` failed due to missing the early log like below:

We manually increase the `HP_SRAM_WIN3_SIZE` in `soc/xtensa/intel_adsp/common/include/cavs-mem.h:line#26` from `0x2000 `to `0x4000` can resolve this issue temporarily, but we are not sure if this new value is safe, need further reference to spec or other.

[code]
The log output

[2022-06-27 09:54] jeppenodgaard opened #46928 "drivers: modem: gsm_ppp: support hardware flow control"
**Is your enhancement proposal related to a problem? Please describe.**
The hw-flow-control flag can be set in the device tree, but it is not read by gsm_ppp.c.

**Describe the solution you'd like**
Read hw-flow-control flag in gsm_ppp.c and enable hardware flow control in modem (AT+IFC=2,2).

**Describe alternatives you've considered**
N/A.

**Additional context**
Add any other context or graphic

[2022-06-27 10:56] tobias-aunbol opened #46931 "flash_stm32_ospi.c: Unable to erase flash partition using flash_map API"
**Describe the bug**
When using:
flash_area_erase(fa, 0. fa->fa_size)
flash_stm32_ospi returns error with:

LOG_ERR("Error: wrong sector size 0x%x", size);
and returning error code -ENOTSUP

This is due to a check on the SPI_NOR_SECTOR_SIZE and dev_cfg->flash_size in flash_stm32_ospi_erase

Which only make it (for what i can see) able to erase either a sector or the whole chip.
As for the datashee

[2022-06-27 11:22] richesonk commented on #46446
Unfortunately, I am doing this as part of a work project and my company is very protective of its IP. So, even though this code does not contain any of that IP, there is always the concern that contributing to an open source code base will create an exposure to some code that does contain IP.

Contributing to LVGL looks fairly straightforward so I might be able to get this one through, but I will

[2022-06-27 12:28] carlescufi commented on #46301
I have looked at the [proposed HAL](https://github.com/hpmicro/zephyr_hal_hpmicro/tree/manifest-rev/hpm_sdk) and I do not see anything there that is particularly troublesome personally. As @willChuai explains, this is an SDK which contains more than just the HAL, but the actual contents used by Zephyr will be a subset. We have two options here:

- Ask HPMicro to pull only the files actually needed

[2022-06-27 14:00] willChuai commented on #46301
Of course, HPMicro and I will keep the integration of hal_hpmicro and zephyr.

[2022-06-27 14:03] rlubos commented on #45658
Civetweb is no longer maintained in Zephyr, see https://github.com/zephyrproject-rtos/zephyr/pull/46746 for more details.

[2022-06-27 14:12] Laczen commented on #46931
Yes, the size of 0x4FFFFF, this can't be correct.

[2022-06-27 14:22] tobias-aunbol commented on #46931
I'm no expert (yet ;) in using external SPI flashes so thanks alot! This should then be the beginning of the next block or sector to be alligned with the erase-block? so 0x500000?

[2022-06-27 14:23] nashif commented on #33725
Closing, as the bulk of the proposed changes has been done and is merged.

[2022-06-27 14:23] #33725 closed

[2022-06-27 14:27] danieldegrasse commented on #46641
@FRASTM based off what you have said here, the issue looks like it might be a rounding problem, since changing the wait period or `CONFIG_SYS_CLOCK_TICKS_PER_SEC` slightly fixes the test. Could you determine what timeout values are being set in the call to `sys_clock_set_timeout` for the LPTIM timer driver prior to the issue occurring? For example, I maintain [this fork](https://github.com/NXPmicr

[2022-06-27 14:28] Laczen commented on #46931
It is the same for internal flashes (and also for arrays, ...). When you specify a size the largest index you can write to is size - 1 (because the index starts at 0). So yes 0x500000, but you can start with trying with 0x1000 (4kB), or 0x4000 (16kB). Set it to a value that you know is supported.

[2022-06-27 14:43] tobias-aunbol commented on #46931
oh my god of course, thanks a lot @Laczen, I actually feel kind of stupid now, this fixed the issue. Thanks for pointing it out. I'll mark this issue as close

[2022-06-27 14:53] Laczen commented on #46931
No problem, glad that your problem is resolved.

[2022-06-27 15:16] FRASTM commented on #46641
when  running this test on the nucleo_f091rc , there is NO lptim but kernel timer.
The sys_clock_set_timeout with _ticks = 10   is called at the k_timer_start(&idle_timer, K_MSEC(1), K_NO_WAIT);
which corresponds to the 1000 ticks per sec.
Always at the second loop (i=1) the tms2 = 5481  and  tms = 5482
The CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=48000000

[2022-06-27 16:08] marc-hb commented on #46864
I spent a few hours debugging these crashes (without being aware of this github issue) and it looks like the protocol was simply missing delimiters or lengths. So different messages were merged together (TCP has no boundaries).

Repeating what I just wrote in #46880, longer term low-level serialization should not be re-invented here. This is a very common need and there are off-the-shelf solutions

[2022-06-27 20:21] danieldegrasse commented on #46641
@FRASTM thanks for the clarification, I was not aware this issue was occurring with the systick driver. I've tried to reproduce this issue on an RT1050 and STM32 433RC evaluation kit, and so far have not had any luck. It may be necessary to add tracing code to the systick timer to narrow down what causes this issue.

Are there other ST platforms with the same value for `CONFIG_SYS_CLOCK_HW_CYCLES_

[2022-06-27 20:33] rahulmohang opened #46954 "Binaries found in hal_nxp without conspicuous license information"
Hello,

There are a number of binaries in some of the folders. e.g.

https://github.com/zephyrproject-rtos/hal_nxp/blob/master/mcux/mcux-sdk/middleware/mmcau/asm-cm0p/*.a
https://github.com/zephyrproject-rtos/hal_nxp/tree/master/mcux/mcux-sdk/middleware/mmcau/asm-cm4-cm7/*.a
https://github.com/zephyrproject-rtos/hal_nxp/tree/master/mcux/mcux-sdk/middleware/issdk/algorithms/pedometer/lib/*.a
https:

[2022-06-27 21:06] geekbozu commented on #45825
I'm in the same boat where I could really use the optimized kernels, but TFL-M is very behind, as well as there is no clear way to use these optimized kernels. Getting any models to not just crash with Zephyr has been...tricky.

I'll keep poking at it to see if I can make it work but some guidance here would be cool.

[2022-06-28 00:31] #44854 closed

[2022-06-28 02:25] shaoanxli commented on #46917
The test went fine after adding this modification : 26e551d7db4dc98cc935ac0e4e162e47c57cb1bd . But there are still some issues with this commit : e26d4f3adf9006348b7efaff82420ed6f85f7611 .

![image](https://user-images.githubusercontent.com/68639634/176078062-b10383cf-6f8e-43e6-aaaf-64cd30c6bcaf.png)

[2022-06-28 05:21] ruscur opened #46962 "Regression in apds9960 driver"
**Describe the bug**

The mesh_badge sample code built for reel_board_v2 is crashing.  Reverting commits 7a9a5f525f243534ee3f0eeaa4b729a08fb23bd2 and cf947c5b131332da0b0fc15a86b822376cc19909 fixes the issue.

The actual crash seems to be happening later in `z_impl_gpio_pin_interrupt_configure()`, in `include/zephyr/drivers/gpio.h` where `port` is a non-null pointer to invalid memory of some kind.

[2022-06-28 05:40] tobias-aunbol commented on #46931
Alright i jumped the conclusion a bit to quick, i made a new test again this morning with fresh eyes, and even though my partition wasn't alligned with the erase-block. The flash_stm32_ospi.c still returns with the same error. So i'll reopen the issue

[2022-06-28 06:35] Laczen commented on #46931
@tobias-aunbol, so even with a aligned erase-block you are getting an error ? Could you please update the issue with the latest description of the setup that fails.

[2022-06-28 08:12] tobias-aunbol commented on #46931
@Laczen yeah unfortunatly, i have made a small update to the description

[2022-06-28 08:28] Laczen commented on #46931
And it is still reporting that the sector size is wrong ?

[2022-06-28 08:44] #46796 closed

[2022-06-28 08:49] FRASTM commented on #46641
When the system clock is reduced to 44MHz (or lower) the test is passed.
Testing on a nucleo_wl55jc where the sysclock is 48Mz, the test is Passed. However during the
z_impl_k_timer_start() function call, the timer->timeout differs

[code]
with nucleo_wl55jc --> timer->timeout = 0 and  duration.ticks =  536871272
with nucleo_f091rc --> timer->timeout = 536871560 and  duration.ticks =  536871468

[2022-06-28 08:51] jilu-ot commented on #46798
Could one of you assign me to this issue?

[2022-06-28 08:56] tobias-aunbol commented on #46931
@Laczen I have updated with my test software. I totally agree with you on that it's related to the flash_stm32_ospi.c driver. Because if i run the same test with a internal flash partition it works as expected

[2022-06-28 09:01] Laczen commented on #46931
To verify it should work for a specific partition size that is equal to 4kB (that I think is SPI_NOR_SECTOR_SIZE).

[2022-06-28 09:06] #46366 closed

[2022-06-28 09:07] #46793 closed

[2022-06-28 09:12] joseppc commented on #35931
I am seeing this with a modified version of the central_hr sample running on a nrf51_blenano, which tries to connect to a board running the peripheral_hr sample.
Using the tip of v3.1-branch (at the time of this writing 4ab83425e0ee37786163be128e0c3fb8ad46ddc0)

[2022-06-28 09:13] tobias-aunbol commented on #46931
Yes i agree with you, i just ran the test with size 0x1000, and that outputs:
[00:00:00.141,000] <inf> flash_stm32_ospi: OSPI flash config is OPI / DTR
[00:00:00.142,000] <inf> littlefs: littlefs partition at /lfs
*** Booting Zephyr OS build zephyr-v3.1.0-690-ga5cd5f4a0c9e  ***
[00:00:00.142,000] <inf> tu_app: test_flash_area_erase

And you proposed changes seems to work

[2022-06-28 09:33] PerMac commented on #46917
I also see this test failing on all nrf boards on our farm. In my case the output is
[code]

[2022-06-28 09:48] FRASTM commented on #46641
This pb was already reported in the  old issue https://github.com/zephyrproject-rtos/zephyr/issues/43663

[2022-06-28 10:12] stephanosio commented on #44143
Closed by #44096

[2022-06-28 10:12] #44143 closed

[2022-06-28 10:53] cfriedt commented on #46917
@PerMac - you or someone at Nordic should add get direction support to the nRF driver. I only implemented it for a few platforms.

[2022-06-28 12:50] #44071 closed

[2022-06-28 12:55] omikronlambda commented on #43655
Just check updates. Still the same :(

`ESP-ROM:esp32c3-api1-20210207
Build:Feb  7 2021
rst:0x1 (POWERON),boot:0xc (SPI_FAST_FLASH_BOOT)
SPIWP:0xee
mode:DIO, clock div:2
load:0x3fcd6100,len:0x188c
load:0x403ce000,len:0x8c8
load:0x403d0000,len:0x2c14
SHA-256 comparison failed:
Calculated: 366be7785f74dcc12cd6cf1bbdb600921880e5568db77a75db03e7feb364f604
Expected: e1df479d33055978287ab4bf9e101dc0e723

[2022-06-28 13:13] rlubos opened #46985 "uOSCORE/uEDHOC integration as a Zephyr module"
## Origin

uOSCORE / uEDHOC

https://github.com/eriptic/uoscore-uedhoc/tree/dev

## Purpose

The repository contains C implmentations of [OSCORE ](https://datatracker.ietf.org/doc/html/rfc8613) and [EDHOC ](https://datatracker.ietf.org/doc/html/draft-ietf-lake-edhoc-12) protocols.

OSCORE is an end-to-end security protocol for CoAP. It can be considered as an alternative for DTLS security for CoAP

[2022-06-28 13:26] nordicjm opened #46986 "Logging (deferred v2) with a lot of output causes MPU fault"
**Describe the bug**
A device with an accelerometer which outputs a message on the sensor being triggered can be shaken vigorously to generate a lot of messages, upon doing so, it can be observed that the logging thread faults.

**To Reproduce**
Have not attempted to reproduce with a sample application because of the requirement of a motion sensor on the unit we are testing, but essentially the ap

[2022-06-28 13:37] carlescufi commented on #44005
This is now done, see https://github.com/zephyrproject-rtos/zephyr/pull/45810

[2022-06-28 13:37] #44005 closed

[2022-06-28 13:40] FRASTM commented on #46931
BTW, did you face any other issue during your test ( refering to https://github.com/zephyrproject-rtos/zephyr/issues/46740)  with the b_u585i_iot02a  like :
[code]

[2022-06-28 13:46] danieldegrasse commented on #46641
Does this change fix the issue? At least from the diff you have here, this seems like a logical change

[2022-06-28 13:52] FRASTM commented on #46931
--> I agree that the sector size and other octo flash info should come from the MX25LM51245 device. But unfortunately it does not answer correctly to the read SFDP command (JESD216_SFDP_MAGIC does not match). That's why we put a dummy sfdp-bfp table in the DTS node. Even though this table is probably not correctly reversely filled to hold all the expected info driver requires.
Actually, the octofl

[2022-06-28 13:59] ck-telecom opened #46988 "samples: net: openthread: coprocessor: RCP is missing required capabilities: tx-security tx-timing"
**Describe the bug**
otbr-agent failed while check NCP caps

Please also mention any information which could help others to understand
get latest otbr-posix build and run on RPi 3B
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
4. See error

**Expected behavior**
RCP is working corrrectly

**Impact**

**Logs and console output**
If applicable, add console logs or other typ

[2022-06-28 14:05] carlescufi commented on #44143
@tony-bianco this is now merged in mainline Zephyr, which means it will be part of Zephyr 3.2.0.

[2022-06-28 14:31] Laczen commented on #46931
@FRASTM It is ok to use SPI_NOR_SECTOR_SIZE.

[2022-06-28 14:50] #44980 closed

[2022-06-28 14:56] #46797 closed

[2022-06-28 15:01] Yaxit commented on #45825
I agree. In my case I got it working with a workaround by modifying the CMake file of the library, see below.
I believe integrating these changes should be feasible, maybe the sketchy part is that this makes the module for tflite depend on cmsis module.

Hope this helps.

[code]

[2022-06-28 15:17] teburd commented on #46824
The docs likely need to be updated to use only newer methods as a first step for this https://docs.zephyrproject.org/latest/develop/test/ztest.html has a lot of stuff using the current (I guess old now?) method for creating test suites

[2022-06-28 15:48] Man0D commented on #32100
Hi, is there any news on this issue ?

[2022-06-28 15:56] stephanosio opened #46994 "[v2.7] Incorrect Xtensa toolchain path resolution"
**Describe the bug**

The commit https://github.com/zephyrproject-rtos/zephyr/commit/483b4ff030768af23d738c4a65076648be9e9af4 introduced a hack in which it hard-coded the Xtensa toolchain paths in the Zephyr build system instead of using the paths provided by the Zephyr SDK CMake package.

This effectively made the Zephyr build system ignore the Xtensa toolchain paths specified in the Zephyr SDK C

[2022-06-28 16:21] fabiobaltieri commented on #46954
This should be moved to the hal_nxp repository.

[2022-06-28 16:38] StefanHri commented on #46985
Great! Please add me as co-maintainer

[2022-06-28 18:17] dcpleung commented on #46372
@lyakh I remember you mentioned that you tried disabling interrupts (but the cores still waking up). How did you do that? If we can figure out a way to keep the cores powered down, and power them up on demand one by one only, the stack issue would not be a problem as only one core will be using the stack.

[2022-06-28 18:56] #46426 closed

[2022-06-28 19:18] rahulmohang commented on #46954
Thank you @fabiobaltieri and @dleach02.

[2022-06-28 19:43] henrikbrixandersen commented on #46301
The HAL contains Zephyr-specific files, e.g. Zephyr board YAML files (https://github.com/hpmicro/zephyr_hal_hpmicro/blob/manifest-rev/hpm_sdk/boards/hpm6360evk/hpm6360evk.yaml), Zephyr-dependent CMake function calls (https://github.com/hpmicro/zephyr_hal_hpmicro/blob/d652edd06e71286be560b9a918c0db9d47962521/CMakeLists.txt#L14), a lot of sample code unrelated to Zephyr (https://github.com/hpmicro/z

[2022-06-28 21:26] aaronemassey opened #47002 "Migration and road map from the deprecated testing API to the new ZTEST API."
# Migration and road map from deprecated testing API to the current API.

## Each test suite should be refactored to the [new ZTEST API](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/testsuite/ztest/include/zephyr/ztest_test_new.h).

## Some example API migrations

* [Bluetooth AT](https://github.com/zephyrproject-rtos/zephyr/pull/44761)
* [CMSIS DSP](https://github.com/zephyrproje

[2022-06-29 01:54] shaoanxli commented on #46917
@cfriedt The latest commit can not skip the test "test_input_output" .

[2022-06-29 02:40] Zhaoningx opened #47010 "ACRN: failed to run the test case tests/drivers/coredump/coredump_api"
**Describe the bug**
The testcase tests/drivers/coredump/coredump_api failed to run on ACRN platform.

**To Reproduce**
twister -p acrn_ehl_crb --device-testing -T tests/drivers/coredump/coredump_api/  --device-serial-pty="/opt/remotehw/acrn-test-pty.exp,ehlsku11-2" --west-flash="/opt/remotehw/remotehw-x86-acrn.sh,ehlsku11-2" -vv --no-skipped-report --disable-suite-name-check

**Impact**
system ha

[2022-06-29 03:20] cfriedt commented on #46917
Ack- copy-paste error. It went into the work g function. Will fix

[2022-06-29 03:34] smrtos commented on #46632
The hda_buf[] data is expected to be a ramp after host sending data. But the dumped value is all 0.
Investigating why.

[code]

[2022-06-29 04:27] geekbozu commented on #45825
It builds now. My model just seems to be made with to new of a version of tensorflow as it just runs into an exit condition on invoke...
Thanks for the help! Its a start :D

[2022-06-29 05:16] PerMac commented on #43124
https://github.com/zephyrproject-rtos/twister

[2022-06-29 05:16] #43124 closed

[2022-06-29 06:28] hunterhu3000 commented on #46208
@RuibinChang The case failes again on the current commit a57dee94d68f2aa0f1a6a07512f1ceab6248c982
``
ITE-Daily@14:23:18:~/zephyrproject/zephyr$ . zephyr-env.sh
ITE-Daily@14:23:21:~/zephyrproject/zephyr$ twister  -p it8xxx2_evb --device-testing --west-flash="../../itetool/loader.sh" --device-serial=/dev/ttyUSB0 -T tests/kernel/sleep/
Renaming output directory to /home/ztest/zephyrproject/zephyr/twi

[2022-06-29 07:08] FRASTM commented on #46641
Yes,
 this fixes the pb, PR to come and testing that no regression is coming

[2022-06-29 07:21] FRASTM opened #47014 "can: iso-tp: implementation test failed with twister on nucleo_g474re"
**Describe the bug**
Running the _**tests/subsys/canbus/isotp/implementation**_  with twister on the nucleo_g474re fails

The same test passed when running after west build and west flash and running `twister --no-update`

**To Reproduce**
Steps to reproduce the behavior:
1. twister --device-testing --device-serial /dev/ttyACM0 --disable-suite-name-check -p nucleo_g474re -T tests/subsys/canbus/iso

[2022-06-29 07:36] rlubos commented on #46988
It's not a bug but a missing capability of a driver you're using. I see you use nRF device, so:
* `tx-security` should be covered with `CONFIG_NRF_802154_ENCRYPTION=y` (I'm not sure if the option has been tested in vanilla Zephyr context though).
* `tx-timing` is not supported by the upstream nRF 802.15.4 driver. So you either need to disable this feature on the BR side somehow, or switch to nRF C

[2022-06-29 07:37] hunterhu3000 commented on #46324
@RuibinChang
Sorry for late reply
Twist and west are different. When using twister to do the test, it will test many different configurations, but for west, it conly contains 1 most common config. For example the test case of tests/kernel/sched/schedule_api, there are 8 test cases defined in tests/kernel/sched/schedule_api/testcase.yaml. There are 7 test cases suitable for it8xxx2_evb. Among these

[2022-06-29 07:39] jeppenodgaard opened #47018 "net: http: reset timeout each time data is received"
**Is your enhancement proposal related to a problem? Please describe.**
`http_client_req` times out if the whole response is not received before the specified `timeout`.

**Describe the solution you'd like**
`timeout` kicks in when there has been no activity for the `timeout` period.

**Describe alternatives you've considered**
Creating another timeout which is reset in the callback function, but

[2022-06-29 07:41] jeppenodgaard commented on #47018
I've considered two options:
1. Use `zsock_poll` in `http_wait_data` and remove `k_work..`.
2. Call `k_work_reschedule` in `http_wait_data`

[2022-06-29 08:24] #43202 closed

[2022-06-29 08:42] yath-eiSmart opened #47021 "Integrate Würth Elektronik Sensors SDK code for use in sensor drivers"
## Origin

WE Sensors SDK
https://github.com/WurthElektronik/Sensors-SDK_STM32

## Purpose

Drivers for sensors by Würth Elektronik.

## Mode of integration

We would like to integrate the required code as a module.
Suggested module name: "hal_we".

## Maintainership

@mah-eiSmart

## Pull Request

https://github.com/zephyrproject-rtos/zephyr/pull/46920

## Description

The aforementioned pull req

[2022-06-29 09:25] jeppenodgaard opened #47025 "mimxrt1050_evk: reset cause"
**Is your feature request related to a problem? Please describe.**
Get reset cause for debugging purpose.

**Describe the solution you'd like**
Possible to read the reset cause.

**Describe alternatives you've considered**
N/A

**Additional context**
Adding `HAS_MCUX_SRC` to `zephyr/soc/arm/nxp_imx/rt/Kconfig.soc` `config SOC_MIMXRT1052` builds, but I always get the same output:
[code]
I tried res

[2022-06-29 09:27] carlescufi commented on #47021
Also you apparently skipped the section on maintainership here: https://github.com/zephyrproject-rtos/zephyr/blob/main/.github/ISSUE_TEMPLATE/ext-source.md

Could you please add this section?

[2022-06-29 09:41] yath-eiSmart commented on #47021
I added the section on maintainership.

Actually, we intend to reformat the existing SDK according to Zephyr's requirements and keep it that way. So that should not be an issue.

[2022-06-29 10:00] ck-telecom commented on #46988
Thanks for your explain!
[code]

[2022-06-29 10:16] jilu-ot commented on #46798
I ran into some problems with MIC errors when deleting the key before adding it to make sure the new IRK is stored. I am currently working on finding out why that is happening. I have so far discovered that it (in my system) is because it ends up using the LTK from the provious bonding.

Do any of you have an idea as to why this is happening?

[2022-06-29 10:59] rlubos commented on #46988
This is only part of the picture. Yes you need to enable those configs to get certain cabailities. But those capabilites have to be reported by the radio driver in the first place:
https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/net/lib/openthread/platform/radio.c#L754
Capability handling in nRF 802.15.4 driver is a bit complex (https://github.com/zephyrproject-rtos/zephyr/blob/main/

[2022-06-29 11:00] Thalley commented on #46798
Without seeing the changes you've made, it'll be difficult to provide input :) I guess it's easier to get input if you create a draft PR

[2022-06-29 11:00] carlescufi commented on #47021
OK. Unfortunately the agenda for this week's TSC meeting was sent yesterday, so this will need to be discussed in next week's meeting.

[2022-06-29 11:11] #46757 closed

[2022-06-29 11:13] carlescufi commented on #46798
@jilu-ot is `main` affected as well, or just v2.2.x?

[2022-06-29 11:40] cfriedt commented on #46917
Actually, @PerMac it seems that `gpio_nrfx.c` (at least the driver, not sure about the hardware) does not support setting gpio disconnect (at least). Do you know whether it supports setting simultaneous input-output?

It seems rather than reporting `-ENOTSUP`, the `gpio_nrfx.c` driver returns `-EIO`, which is likely a driver bug.
[code]

See https://github.com/zephyrproject-rtos/zephyr/blob/main/i

[2022-06-29 11:56] Thalley commented on #46798
https://github.com/zephyrproject-rtos/zephyr/issues/46798#issuecomment-1164374411

[2022-06-29 11:57] erwango commented on #32288
This was closed by https://github.com/zephyrproject-rtos/zephyr/pull/41497

[2022-06-29 12:01] erwango commented on #35778
No feedback > Closing.
Please re-open if required

[2022-06-29 12:06] cfriedt opened #47030 "drivers: gpio: nrfx: return -ENOTSUP rather than -EIO for misconfigurations"
**Describe the bug**
The `gpio_nrfx.c` driver does not support configuring with `GPIO_DISCONNECTED`, but rather than report `-ENOTSUP`, it reports `-EIO`, which breaks the GPIO driver API.

According to the API, `-EIO` is reserved for "I/O error when accessing an external GPIO chip", whereas `-ENOTSUP` is used for "if any of the configuration options is not supported".

**To Reproduce**
Steps to r

[2022-06-29 12:11] erwango commented on #39888
Closing as not reproduced on our side.
Please reopen if required

[2022-06-29 12:11] #39888 closed

[2022-06-29 12:15] alwa-nordic commented on #46798
I'll copy my post from Discord here for reference:

Relevant issue: https://github.com/zephyrproject-rtos/zephyr/issues/45827

Two bonds conflict if either (or both)
    - the LE-Addresses are equal
    - the IRKs are equal

HCI_LE_Add_Device_To_Resolving_List will fail with Invalid HCI Command Parameters (0x12) when there is a conflicting bond already on the list.

I have ideas for two solutions.

[2022-06-29 12:18] jfischer-no commented on #45581
@PerMac actually it is mass_flash_littlefs timeouts not mass_flash_fatfs, see first commit in #47031. The reason is that there is no devicetree overlay for nrf5340dk_nrf5340_cpuapp_ns, the fix is either to add integration platform or overlay.

[2022-06-29 12:30] PerMac commented on #46917
@anangl can you please chip in? It is beyond my scope :(

[2022-06-29 12:32] erwango commented on #42374
@wcappelle Would you mind have a quick check on what is left required on this PR after the merge of #45053 and #42375 ?
Thanks

[2022-06-29 12:38] jfischer-no commented on #46158
Not an issue as long all test cases pass. "W: Frame length error" warning comes from the modbus subsystem, caused by test cases which intentionally send wrong frames.

[2022-06-29 12:38] #46158 closed

[2022-06-29 12:39] erwango commented on #43308
@Jeepgoing Would you have an easy to use test application to check this ?

[2022-06-29 12:43] anangl commented on #46917
@cfriedt The gpio_nrfx driver supports simultaneous input-output pin configuration. It also supports the `GPIO_DISCONNECTED` flag, not perfectly though, as it incorrectly returns the `-EIO` error if the pin to be configured with `GPIO_DISCONNECTED` was not earlier configured as input or output. I can provide a fix for that - you can assign #47030 to me, unless you prefer to solve it yourself.

[2022-06-29 12:45] #44861 closed

[2022-06-29 13:04] yath-eiSmart commented on #47021
Ok, thanks for the info.

[2022-06-29 13:15] andrzej-kaczmarek commented on #46721
Yes, at the moment this is what initial port for DA1469x requires and this part of SDK was already relicensed to 3BSD. The other parts will need to be relicensed if they are required for subsequent features and then added here, I assume.

As I understand 3BSD license prohibits those SoC register definitions from being included directly into main Zephyr tree, thus I reuqested a HAL module for curre

[2022-06-29 13:29] lyakh commented on #46372
@dcpleung `z_xt_ints_off(~0)` in `idle()` but maybe that isn't effective when going to low-power WAITI? I also tried additionally masking all 2nd and 5th level interrupts to what you proposed. And I've never seen level 3 or 4, don't think we use any of them.

[2022-06-29 13:48] cfriedt opened #47040 "tests: drivers: gpio_basic_api and gpio_api_1pin: convert to new ztest API"
**Is your enhancement proposal related to a problem? Please describe.**
#46960 adds support for the new ztest API to `tests/drivers/gpio/gpio_get_direction/`, but the other gpio driver tests are still using the old ztest API.

**Describe the solution you'd like**
Should probably migrate gpio driver tests to the new ztest API.

**Describe alternatives you've considered**
@mnkp - feel free to delega

[2022-06-29 14:23] dcpleung commented on #46372
I don't think that's enough as it simply modifies `INTENABLE` which only works when the CPU is running (see @andyross comment above: https://github.com/zephyrproject-rtos/zephyr/issues/46372#issuecomment-1164643168). When the CPU is powered down, it is the L2 interrupt controller that wakes up the CPU. So you will to mask interrupts using `CAVS_INTCTRL`. Could you try https://github.com/dcpleung/z

[2022-06-29 14:55] jaybuckeye06 opened #47046 "samples/net/sockets/packet: Bus fault"
**Describe the bug**
Packet socket sample fails on STM32 Nucleo-F746ZG.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using?
 Nucleo-746ZG.
 - What have you tried to diagnose or workaround this issue?
 - n/a

**To Reproduce**
Steps to reproduce the behavior:
1. west build -p always -b nucleo_f746zg samples/net/

[2022-06-29 15:07] zephyrbot opened #47049 "[backport v2.7-branch] backport of #46699 failed"
This issue was created automatically because the backport of #46699 to `v2.7-branch` failed.

The backport to `v2.7-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v2.7-branch` and the `compare`/`head` branch is `backport-46699-to-v2.7-branch`.

[2022-06-29 15:13] hunterhu3000 commented on #46206
The issue is fixed by 3f8e326d1a63af7eb294c59078a80a3da7f71dfc

[2022-06-29 15:13] #46206 closed

[2022-06-29 15:28] carlescufi commented on #46301
@willChuai In the TSC there was an issue raised with your HAL: It contains too much beyond the actual HAL, especially the `middleware`. Can you try an approach similar to what STM does, with an importer script that filters out the parts that are not needed for Zephyr? https://github.com/zephyrproject-rtos/hal_stm32/blob/main/scripts/update_stm32_package.py

A script of some sort that takes the lat

[2022-06-29 15:37] carlescufi commented on #46721
That is actually not accurate, as per the [external components contribution guide](https://docs.zephyrproject.org/latest/contribute/external.html) it is possible to contribute 3-clause BSD code into the main tree, so I'd recommend to re-evaluate the fact you want to use a module here:

- Are you gonna add more files later to the HAL?
- Or will you just be writing Zephyr-specific drivers?

Dependin

[2022-06-29 15:41] JonathanVanWin opened #47051 "drivers: usb: stm32"
**Describe the bug**
When sending data packets (as a device to host) that are multiples of 64 bytes (endpoint max packet size), they don't get detected until the device sends another packet that isn't a multiple of 64.

 - Using STM32F4
 - USB full speed bulk transfers with max packet size of 64.
 - Host is Linux.
 - Have sniffed the usb packets, and while they do arrive to the host (I see IN data

[2022-06-29 15:51] #27033 closed

[2022-06-29 16:53] mbolivar-nordic commented on #46800
@nashif : I was looking into different projects, e.g. ROS (robot operating system) and hyperledger. I would like to take ideas for processes from existing projects like these.

Brainstorming session followed; no conclusions were reached.

[2022-06-29 18:04] cmorganBE opened #47061 "pipes: Usage between task and ISR results in corrupted pipe state"
Using a pipe to marshal data between a uart isr callback and a task we ran into a case where the pipe appears to be corrupted after a call to k_pipe_get() in the ISR.

[code]

Result is that we have some corrupted bytes in the pipe that are sent via the uart.

Using zephyr 140837ce3ac6ba6ac01d804ebd40c8aaf00a3011 (we plan to upgrade to v3.1.0 shortly), there have been no kernel/pipes.c changes of

[2022-06-29 18:27] aaronemassey opened #47064 "Enable downstream defined emulator bus types"
**Is your feature request related to a problem? Please describe.**

When defining an emulator it can only be associated with a predefined bus
upstream.

**Describe the solution you'd like**

[code]

Where the emulator will call out to a linked function that does dispatching if
the emulator bus type is > `EMUL_BUS_TYPE_VENDOR`, otherwise dispatching calls
to the upstream defined busses as usual.

*

[2022-06-29 21:08] jfischer-no commented on #46497
floating-point extension applies only to register addresses above 5000 (MODBUS_FP_EXTENSIONS_ADDR). If there is a conflict and floating-point extension is not desired at all, it can be disabled by Kconfig option MODBUS_FP_EXTENSIONS (CONFIG_MODBUS_FP_EXTENSIONS=n). In client implementation [FC03 falls through to FC04](https://github.com/zephyrproject-rtos/zephyr/blob/main/subsys/modbus/modbus_clie

[2022-06-29 21:40] andyross commented on #47061
Had a chance to take a quick look.  Indeed, k_pipe is using k_sched_lock()!  I had no idea.  It has a spinlock around most of the operations, but the actual copies being done in the put() and get() internal utilities are done outside of it, it will actually release the lock and take the scheduler lock instead.

That's actually quite bad, as it means that not only is it not safe vs. interrupts, it'

[2022-06-29 22:10] marc-hb commented on #46759
Indeed most people can't seem to make the difference. I think that's because they usually go together despite being defined very differently. I force myself to remember some rare counter-examples where they don't go together:

- A complete lockup in a feature that no customer uses yet (high severity, low priority)
- Some branding issue with no technical or legal consequence (low severity, high pri

[2022-06-29 23:22] teburd opened #47072 "ZTEST Docs Page"
The Test Framework documents mix new and old APIs which is a bit confusing, it would be great to have a page that shows how to do things with samples and such with the new API, keeping the old docs as Legacy or something

https://docs.zephyrproject.org/latest/develop/test/ztest.html?highlight=tests

[2022-06-29 23:26] aaronemassey commented on #47072
@yperess Feel free to assign to me unless you think you can get this done by end of next week.

[2022-06-30 01:32] smrtos commented on #46632
The cavstool.py and the tests/boards/intel_adsp/hda code interact through the IPC and DMA interfaces to complete the test.
There may be some misbehavior in cavstool.py when operating the register interface. Investigating the register specs.

[2022-06-30 01:33] willChuai commented on #46301
OK, we'll remove the unused content.This will take some time.

[2022-06-30 01:35] willChuai commented on #46301
Okay, revising now.

[2022-06-30 01:48] ck-telecom commented on #46988
Thanks!

[2022-06-30 01:58] LixinGuoX opened #47077 "Intel CAVS: tests/subsys/logging/log_switch_format/ are skipped as no result captured"
**Describe the bug**
`tests/subsys/logging/log_switch_format/` is written in ztest but it also uses console harness in yaml file. This will be misleading for twister, twister can not get the status of each test case, and then mark them as `Skipped: No results captured, testsuite misconfiguration?`.
We should find a way to avoid this. Tests should be reported correctly.

**To Reproduce**
Steps to r

[2022-06-30 02:23] stephanosio commented on #45825
FYI @JordanYates

[2022-06-30 05:03] #46761 closed

[2022-06-30 06:11] yperess commented on #41880
I'm sorry, I can't say that this is a regression. By definition unit tests should _NEVER_ depend on the order. We've even added a shuffle feature for developers to be able to find these kinds of conditions and label tests as flaky. A strict dependency on the order means that it's actually one test. @aaronemassey can you discuss this in the testing working group tomorrow?

[2022-06-30 06:18] inteljiangwe1 opened #47081 "on x86, k_is_in_isr() returns false in execption context"
For k_is_in_isr() description, it checks whether the code is running at interrupt level. And it is used by caller to customize the behavior, like avoiding take semaphare in isr handler.
But on execption context, it returns false in execption context on x86

[2022-06-30 06:44] wcappelle commented on #42374
@erwango thanks for the changes. Your PR seems a nice improvement
However, I didn't see dts include for the stm32L5 family :include/zephyr/dt-bindings/clock/stm32l5_clock.h
Since i'm working on an L5, this means this would need to be added I guess?

I have little time to spare atm, but when release 3.2 is finished, I plan to move to that release, and will re-analyze this.

[2022-06-30 07:07] nordic-krch commented on #41880
I agree that it's not good approach. It's just that legacy ztest had that and it was used. Mainly for userspace test setup. It would be good to provide user friendly alternative. The proposal above is not that intuitive but if nothing better is proposed than it's ok for me to close it.

[2022-06-30 07:08] erwango commented on #42374
Actually l5 shares the same registers as l4 on that matter, so stm32l5.dtsi includes available stm32l4_clock.h. Nothing to do on this front.

Great, no rush.

[2022-06-30 07:19] erwango commented on #47051
@JonathanVanWin, thanks for raising the point, but if Zephyr driver is not guilty can you please raise the point directly to https://github.com/STMicroelectronics/STM32CubeF4 ? Thanks

[2022-06-30 07:25] jeppenodgaard opened #47082 "drivers: modem: AT commands sent before OK from previous is received"
**Describe the bug**
The gsm_ppp.c driver send the first `setup_modem_info_cmds` before the `OK` is received from the last `setup_cmds`.
This is due to no delay after the last `setup_cmds`:
https://github.com/zephyrproject-rtos/zephyr/blob/265394e30efd3f31fdbece6e49fae73a60eec8d9/drivers/modem/modem_cmd_handler.c#L572

**Expected behavior**
Delay between all AT commands.

[2022-06-30 07:43] erwango commented on #47046
@jaybuckeye06 Thanks for raising this, I can also reproduce this on frdm_k64f, this is likely related to the upper stack.
[code]

@rlubos, can you have a check ?

[2022-06-30 08:31] #43811 closed

[2022-06-30 08:38] carlescufi commented on #47061
I've marked this as a high-prio bug given that it actually describes a real issue in the pipe functionality inside the kernel itself.

[2022-06-30 08:51] lyakh commented on #46372
@dcpleung unfortunately that didn't work with the original problem. Adding an assembly snippet to decouple stack for different cores worked, but I don't like that, I'd rather check the core ID and go back to waiti directly in asm without using stack at all. I'll try to implement that

[2022-06-30 08:59] jakkra commented on #39376
We are now at the point where we are really hitting this constraint of "unoptimized" RAM usage for IQs. Do you have any update? Thank you.

[2022-06-30 09:04] erbr-ot commented on #41823
Reopening, as this issue is still present, however in slightly modified incarnation.
With a split of the local vs remote procedure contexts the dependency on local context has been removed, however there is still a limitation re. number of remote contexts across multiple connections.
Thus with a number of remote CTXs less than number of connections, a connection could get starved resulting in 'los

[2022-06-30 09:23] gmarull commented on #46126
Note: if using `CONFIG_PM_DEVICE_RUNTIME=y` this problem should not occur anymore, since `CONFIG_PM_DEVICE_RUNTIME_EXCLUSIVE` will default yo `y`. Now drivers should be updated to make use of the PM device runtime APIs.

[2022-06-30 09:50] ghost opened #47092 "driver: nrf: uarte: new dirver breaks our implementation for uart."
**Describe the bug**
We have updated to a newer NCS version. During this process also the zephyr version has changed. This caused our UART implementation to fail. I'm pretty sure it is related to this commit `ba6d9139bbbda3211e0c1f65f4ccca0719f17fa5`.

Relevant implementation snippet:
[code]

The relevant UART KConfig values:

[code]

So we try to use the async UART API to implement a synchronous

[2022-06-30 10:13] #44338 closed

[2022-06-30 10:27] ivonalo opened #47095 "ppp network interface - MQTT/TCP communication"
**Hello everybody,**

**I am trying to connect to a public MQTT broker http://test.mosquitto.org/ over Zephyr on STM32L462VEI6 microcontroller.
I have internet access over the PLS83-W modem and an embedded SIM card. I use the in-build gsm_ppp support from zephyr to get the **PPP** network interface up,  by enabling the following in the prj. conf file:**

_# GSM modem support
CONFIG_GSM_PPP_AUTOSTA

[2022-06-30 10:32] carlescufi commented on #44573
I am sorry, I do not really have any insight there. Perhaps @finikorg knows?

[2022-06-30 10:41] lyakh commented on #46372
I've updated #46587 - it returns to waiti in asm, so, no stack conflicts.

[2022-06-30 11:03] finikorg commented on #44573
Basically @enthunilu, you can take some networking sample and setup netusb, it can be done with overlay file like: https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/net/sockets/dumb_http_server/overlay-netusb.conf

https://github.com/zephyrproject-rtos/zephyr/blob/main/samples/net/sockets/dumb_http_server/overlay-netusb.conf#L1-L9

There is also one configuration for RNDIS left for zp

[2022-06-30 11:16] carlescufi commented on #39376
@ppryga do you have plans to work on this?

[2022-06-30 11:58] str4t0m opened #47101 "drivers: clock_control: stm32 common: PLL_Q divider not converted to reg val"
**Describe the bug**
According to the dt binding description the `div-q` device tree property defines the division factor for the PLL_Q output.
But the stm32_ll_common driver directly writes this value to the `RCC->PLLCFG` register without converting the division factor to the matching register value.

**To Reproduce**
N/A

**Expected behavior**
The value specified in dts should be converted to th

[2022-06-30 12:30] erbr-ot opened #47104 "Bluetooth: Controller: Errors in implementation of tx buffer queue mechanism"
Errors were found in implementation of tx buffer allocation queue.

When configuring the system to use per connection pre allotted tx buffers, it was found that tracking number of allocated buffers common and per connection was flawed.
Also the updating of across connections/common allocated buffers in the event of disconnect was incorrect.

Fixed by #47097

[2022-06-30 12:32] str4t0m opened #47105 "drivers: clock_control: stm32 common: wrong PLLCLK rate returned"
**Describe the bug**
The clock_control_get_subsys_rate() calls returns the wrong frequency value for the PLLCLK clock source on the affected STM32 targets. This is a result of using the wrong PLL source frequency in the calculation.

**Expected behavior**
As long as the PLLCLK is enabled, the correct frequency value should be returned otherwise 0.

**Impact**
The PLLCLK frequency can't be queried

[2022-06-30 12:35] str4t0m commented on #47105
I will soon open a PR resolving this as a followup to #47102.

[2022-06-30 13:58] FRASTM commented on #45234
@lsangild could you please check if PR https://github.com/zephyrproject-rtos/zephyr/pull/47108 answers your pb.
--> add the  a prj.conf to build your application
[code]

[2022-06-30 15:21] hx-bora opened #47114 "`check_compliance.py` crash on Ubuntu 22.04"
## Describe the bug

Check compliance (`scripts/ci/check_compliance.py`) crashes on Ubuntu 22.04, probably due to some changes in recent version of Junitparser.

Here is the error:
[code]

The following horrible patch makes things work again:
[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Compilation to succeed

## Impact

Script is unusable on Ubuntu 22.0

[2022-06-30 15:28] stephanosio commented on #47114
This problem does not have anything to do with Ubuntu 22.04, but with the version of junitparser package installed.

See https://github.com/zephyrproject-rtos/zephyr/commit/6d36386e139dd0c60e74842e2e6f5d4bd2026c4d

Please make sure that you install the Python packages according to the version specified in the requirements file:

https://github.com/zephyrproject-rtos/zephyr/blob/9a575e83debd4d7e6d2

[2022-06-30 15:28] #47114 closed

[2022-06-30 16:14] #46645 closed

[2022-06-30 16:27] #47030 closed

[2022-06-30 17:40] kv2019i commented on #46378
Thanks @peter-mitsis for the analysis. It indeed seems like a unlikely coincidence that the avg/max delta is so close to one tick. The 2040/2792 values are actually reads of the 38.4Mhz platform clock (behind k_cycle_get_32() on these platforms). The diff is measured over one 1000us tick, so difference of 752 cycles is 19.583usec, so indeed very close to the 20.000 usec of one 50kHz tick.

And ack

[2022-06-30 19:11] ceolin commented on #46378
@kv2019i  I'm seeing a degradation in cavs timer that I'm not seeing in other implementations. I've a simple sample that just configure a timeout for every 1s and try to take a semaphore that will be given in the timeout callback. When the semaphore is taken the thread just busy/wait for 90% of the tick time.
Basically, with lower `CONFIG_SYS_CLOCK_TICKS_PER_SEC` the timer is constantly triggered,

[2022-06-30 19:23] aurel32 opened #47119 "ADC_DT_SPEC_GET not working for channels >= 10"
**Describe the bug**

I am trying to define a channel of an ADC that way in the device tree:

        channel@f {
                reg = <15>;
                zephyr,gain = "ADC_GAIN_1";
                zephyr,reference = "ADC_REF_INTERNAL";
                zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
                zephyr,resolution = <12>;
        }

Then I use the `ADC_DT_SPEC_GET` macro to po

[2022-06-30 19:40] aurel32 opened #47120 "shell uart: busy wait for DTR in ISR"
**Describe the bug**
With `CONFIG_SHELL_BACKEND_SERIAL_CHECK_DTR=y`, the shell uart backend waits for DTR before sending data to the UART. However it does so in the ISR via `uart_callback()` -> `uart_tx_handle()` -> `uart_dtr_wait()`

The consequences are very different depending on how the UART driver is implemented. In my case I use this USB CDC ACM UART, so it only blocks the whole USB workqueu

[2022-06-30 20:19] #46697 closed

[2022-06-30 23:51] nashif commented on #47002
for all of those working on this, do not have a test_ prefix in the testsuite name. This is just confusing and redundant.

[2022-07-01 01:06] LixinGuoX opened #47126 "New ztest API: build failure on qemu_cortex_m3 when CONFIG_CMAKE_LINKER_GENERATOR=y"
**Describe the bug**
I am migrating `tests/kernel/xip`,`tests/kernel/context`,`tests/kernel/early_sleep` to new ztest API, see #47124, #47231, #47229.
Those tests all use CONFIG_CMAKE_LINKER_GENERATOR on qemu_cortex_m3.
Then I got a CI build failure.

**To Reproduce**
Steps to reproduce the behavior:
1. try build tests/kernel/xip on qemu_cortex_m3 with new ztest API

**Expected behavior**
Tests sh

[2022-07-01 01:22] shaoanxli opened #47127 "twister : frdm_k64f ：Non-existent tests appear and fail on tests/lib/cmsis_dsp/transform"
**Describe the bug**
Some Non-existent tests seem to be created and every time seems to be the different cases. It seems that test case does not match the testsuite. The issue seems hard to reproduce.
In twister.json the result shows below:
![image](https://user-images.githubusercontent.com/68639634/176803935-4d31234b-b2ea-4908-b00c-b1ee033296b7.png)

Also find a weird phenomenon:
![image](https:/

[2022-07-01 04:12] hakehuang commented on #47002
@aaronemassey , I have a problem here, there used to be some test fucntions are registerred as shall command see below code
[code]

shall we create a marco for ZTEST_SH which looks like below
[code]

[2022-07-01 05:15] ppryga commented on #39376
This is on my ToDo list as of now. If anything changes I'll inform you and @cvinayak.

[2022-07-01 07:06] zephyrbot opened #47134 "[backport v3.0-branch] backport of #46195 failed"
This issue was created automatically because the backport of #46195 to `v3.0-branch` failed.

The backport to `v3.0-branch` failed:
[code]
To backport manually, run these commands in your terminal:
[code]
Then, create a pull request where the `base` branch is `v3.0-branch` and the `compare`/`head` branch is `backport-46195-to-v3.0-branch`.

[2022-07-01 08:29] jeppenodgaard commented on #47082
I had NO CARRIER issues on a BG95 modem and found this inconsistency, and was not sure what the impact was, therefore I opened the issue.
With a logic analyzer there was a small overlap where the next AT command was sent before both `\r` and `\n` was received.

However I wondered where the 50 ms came from in the first place, but was not able to find anything in 3GPP standards.

[2022-07-01 08:30] mniestroj commented on #47018
I actually vote for the alternative, so having two timeout options:
- timeout for the whole transfer (what we got now),
- timeout for inactivity (what you need and what I have found useful already and implemented that on the application layer when needed).

[2022-07-01 08:51] mniestroj commented on #47082
The only reason of a delay is when modem needs some time after executed command in order to prepare for the next one. I've seen such requirements stated in modem datasheets some time ago, though I don't remember which ones they were. I guess that this 50ms delay is just an arbitrary number. Maybe it was a requirement of the first modem that was tested with that framework, who knows.

I think that

[2022-07-01 09:33] #34413 closed

[2022-07-01 09:34] #41772 closed

[2022-07-01 09:37] #46641 closed

[2022-07-01 09:49] jeppenodgaard commented on #47082
Very good points.

Can you elaborate on the socket issue? Do you think there is a need to add delays there as well?

Yes.

These are the issues I see:

1. Fix bug where delay is not the same between the AT commands (which is what I attempt to fix [here](https://github.com/zephyrproject-rtos/zephyr/pull/47088)
2. Possible to set delay between AT commands via DTS.
3. Maybe an issue on commands on so

[2022-07-01 10:09] RuibinChang commented on #46324
If we enable CONFIG_TIMESLICE_PER_THREAD, the kernel operation
seems that doesn't fit for it8xxx2_evb. Since we don't support CONFIG_TIMESLICE_PER_THREAD in default, so I think we can skip this test.
If we support CONFIG_TIMESLICE_PER_THREAD in the future, then we do this test.

[2022-07-01 10:42] mniestroj commented on #47082
Sure. I though about alternative approach to have delays between issued AT commands. The idea was to add a delay in `modem_cmd_send*()` family of functions, so that delay is enforced between **each**, no matter from where it is issued (right now delays are only part of `modem_cmd_handler_setup_cmds*()`. The biggest issue with that alternative approach is that there would be delay between each pack

[2022-07-01 10:58] kuroneko opened #47146 "STM32F103: USB clock prescaler isn't set during USB initialisation"
Whilst the driver for the ST USB sets the USB clock prescaler for the OTG equipped STM32F105/7, the prescaler is left set to it's default with the STM32F103's USB interface.

This fortunately works correctly when configuring the STM32F103 with a 72MHz SYSCLK from the PLL when nothing else has touched the USB prescaler,, but will likely not work with a 48MHz PLL clock output as the USB prescaler wi

[2022-07-01 14:42] carlescufi commented on #46985
https://github.com/zephyrproject-rtos/uoscore-uedhoc

[2022-07-01 14:42] #46985 closed

[2022-07-01 16:30] danielskatt commented on #46497
@jfischer-no Thanks for the reply, I was not aware of that it was intended like that. I'll remove the pull request

[2022-07-01 16:30] #46497 closed

[2022-07-01 16:44] jukkar commented on #47095
These can be removed. You also have native specified below so that is not needed here.

The IPv4 address structures take up memory so this is way too large value, or are you expecting to have 258 IPv4 addresses in the system?

Other than those options, the rest looks reasonable.

[2022-07-01 20:40] dcpleung commented on #46372
#46587 is merged.

[2022-07-01 20:40] #46372 closed

[2022-07-02 11:07] #46917 closed

[2022-07-02 11:14] cvinayak commented on #39097
Support for Dynamic Tx Power in  Extended Advertising is fixed here: https://github.com/zephyrproject-rtos/zephyr/commit/a3127afb53bdbcdf0046db0a196160aadbd0d159

[2022-07-02 12:15] #47082 closed

[2022-07-02 14:27] CodingGhost opened #47197 "BLE latency decreasing and increasing over time (possibly GPIO issue)"
I am trying to measure I/O latency over BLE by toggling an LED, doing a write without response and toggle an led on the receiving side once it got the data. Then I measure the LED pulses with an oscilloscope to get the latency.
I would expect the latency to be between 7.5ms and 15ms for a connection interval of 7.5ms
but I measure something different: the latency starts at around 60ms, then decrea

[2022-07-03 00:30] #44898 closed

[2022-07-03 03:08] ck-telecom commented on #46988
@rlubos
Unfortunately ncs can not build either:
[code]
[code]

[2022-07-03 10:43] JonathanVanWin commented on #47051
Hi @erwango, it seems that in order to solve the bug, the hal should take care of transfers that don't finish with a short packet, send a Zero length packet.
Tested it on my stm32, and it seems that it solved the issue.
Relevant information from the usb specification, chapter 5.8.3:

`An endpoint must always transmit data payloads with a data field less than or equal to the endpoint’s reported wMa

[2022-07-03 11:07] aurel32 commented on #47051
I agree that the end of transfer is signaled from the the device side by a packet shorter than wMaxPacketSize. That said I disagree that it should be done in the HAL (or if so it should be made optional as you might want to do bulk transfers bigger than the RAM buffers). IMHO this is the responsibility of the application, which is the only one to know if the current data being sent is part of a bi

[2022-07-03 11:32] landonh12 commented on #45218
Please remove the stale label, this is actively being worked on internally. Will provide details when back in office Tuesday.

[2022-07-03 11:36] dragonlock2 opened #47204 "CAN filter with RTR mask causes infinite loop in MCAN driver on filtered message arrival"
**Describe the bug**
Using a CAN filter with the RTR mask set causes the MCAN driver to hang in `can_mcan_get_message` when a message that would be filtered arrives.

Tested on STM32G0B1KET6N but it should happen on any platform using the MCAN driver.

The issue is on [line 661](https://github.com/zephyrproject-rtos/zephyr/blob/main/drivers/can/can_mcan.c#L661) where the incoming message never get

[2022-07-03 23:40] jwhite-enphase opened #47220 "Twister: Skipping *.cpp files"
**Describe the bug**
When a test is written in a *.cpp file Twister does not scan it for tests if it is in the same directory as the testcase.yaml file. If the cpp file is moved into a /src/ sub-directory then it works as expected. E.g. if the directory layout is:
[code]
Then main.cpp will not get scanned but if the layout is:
[code]
Then it will get scanned.

**To Reproduce**
Create a test layout

[2022-07-04 00:33] landonh12 commented on #45218
Some findings (for bmm150 sample):

1. drive-open-drain should be enabled for the data line, but not the clock. I have created two separate groups in the dtsi for i2c pinmux.
2. The 3V3_S rail does not come on because regulator drivers are not enabled in these samples by default. If we enable them through menuconfig, the 3V3_S rail comes on. This is an important step.
3. The I2C bus init seems to

[2022-07-04 02:32] hongshui3000 opened #47222 "zephyr doc: Unable to open pdf document version 3.1.0"
**Describe the bug**
https://docs.zephyrproject.org/3.1.0-0/zephyr.pdf   can't open

![image](https://user-images.githubusercontent.com/25566498/177071443-76cbdf3d-a8ee-41a2-9ea4-c380a00b70c7.png)

[2022-07-04 05:47] kiryl90 opened #47232 "Please add STM32F412RX"
**Is this request related to a missing driver support for a particular hardware platform, SoC or board? Please describe.**
I use the STM32F412RE controller on my board, but it is not supported at this point.

**Describe why you are asking for this support?**
This is also an often used mcu with 64pins from the F412 series.

**Additional context**
I tried also the solution from the Issue [#38966](ht

[2022-07-04 06:59] Jeepgoing commented on #43308
1. zephyr uart driver disable circular buffer here
https://github.com/zephyrproject-rtos/zephyr/blob/db3f8c16e9c95801961a433c07f481bfcb385466/drivers/serial/uart_stm32.c#L1465
2.  this is buffer full isr
https://github.com/zephyrproject-rtos/zephyr/blob/db3f8c16e9c95801961a433c07f481bfcb385466/drivers/serial/uart_stm32.c#L1185
3. you can change this
https://github.com/zephyrproject-rtos/zephyr/blo

[2022-07-04 07:14] enthunilu commented on #44573
Thank you @carlescufi and @finikorg. This is a great help to start with.

:-)

[2022-07-04 07:20] asarbs opened #47238 "SD Card init issue when CONFIG_SPEED_OPTIMIZATIONS=y"
**Describe the bug**

When I'm turning on `CONFIG_SPEED_OPTIMIZATIONS=y` I'm getting  `sd:Card never left busy state` error.

**To Reproduce**
Steps to reproduce the behavior:
prj.conf
[code]

[code]

1. west flash

I don't have this problem when i setup comment out `CONFIG_SPEED_OPTIMIZATIONS=y` from my config file.

**Expected behavior**
I'm able to read from SD card files with `CONFIG_SPEED_OPT

[2022-07-04 07:51] nandojve commented on #38657
@sbourdelin see #47227

[2022-07-04 08:09] Thalley commented on #47197
@CodingGhost do you by any chance have the wireshark sniff you can share?

If the hosts think that the connectional interval is properly updated, then there's something going on in the controller.

[2022-07-04 08:13] ssharks opened #47240 "net: tcp: Correctly handle overlapped TCP retransmits"
**Describe the bug**
When a fast re-transmit overlaps with data that is already received, the stack does not accept the new incoming data to create one contiguous data stream and acknowledge out of order packets as well.

To reproduce the bug, take the updated test from:
https://github.com/zephyrproject-rtos/zephyr/pull/47115/commits/5885b790dc6f71b0bb89a15b0edf443607f786e9

Take the test example:

[2022-07-04 08:14] ssharks commented on #47240
@jukkar: FYI

[2022-07-04 08:29] FRASTM commented on #47232
STM32F412RE
  64 pins
  512Kbytes of Flash memory
  256Kbytes of RAM
  97 irq lines

[2022-07-04 09:21] Thalley opened #47242 "LE Audio: Add subgroup support for broadcast source"
**Is your enhancement proposal related to a problem? Please describe.**
Currently the broadcast source API only support creating a single subgroup.

**Describe the solution you'd like**
Update the API so that the application can request multiple subgroups, with each their own set of streams, metadata and codec configurations.

**Describe alternatives you've considered**
N/A

**Additional context**

[2022-07-04 09:23] Thalley opened #47243 "LE Audio: Add support for stream specific codec configurations for broadcast source"
**Is your enhancement proposal related to a problem? Please describe.**
The BASE supports having unique codec configurations per stream in a broadcast source, but the current API does not support that.

**Describe the solution you'd like**
Add support for supplying a `struct bt_codec` codec configuration _per_ stream, instead of only per subgroup. This is used to e.g. give a stream a specific loca

[2022-07-04 09:27] yath-eiSmart commented on #47021
We have discussed the matter internally and decided to go with integration as a module after all, as this is probably the cleanest solution. I have changed the issue text accordingly.

[2022-07-04 10:06] Thalley commented on #44998
If that solves it, then isn't it just a matter of updating the `prj.conf` file?

[2022-07-04 10:14] szymon-czapracki opened #47248 "LE Audio: Crash on originating call."
**Describe the bug**
Originating a call from a non-existent TBS instance causes a fatal error.

[2022-07-04 10:51] davidschillerJKU commented on #44998
Yes, that's what I ended up doing.
It is however not obvious that it's necessary to increase the TX buffer count in order to get certain (verbose) commands to work.

[2022-07-04 11:01] lairdjm commented on #44998
It does fix it, but in my opinion, if a buffer size is too small it should show an error but not cause the bluetooth stack to essentially break and leave it in an undefined state.

[2022-07-04 11:16] gmarull commented on #47222
3.1.0 docs were built before this fix https://github.com/zephyrproject-rtos/zephyr/commit/90537fe447d66e627b62efaa26f28d7a18926adc, they should probably be re-built and uploaded.

[2022-07-04 11:25] Thalley commented on #44998
In this case it's not a buffer size, but a buffer count. The buffer count will heavily depend on what else the device is doing as well, and thus not something we can easily enforce in the stack (of course, the default value should definitely work with the minimal number of buffers needed).

But I agree that it should not put the stack into an undefined state, and if we can prevent that, we certain

[2022-07-04 13:06] CodingGhost commented on #47197
[driftsniff.txt](https://github.com/zephyrproject-rtos/zephyr/files/9039643/driftsniff.txt)
you will have to rename the file ending to .pcapng because github doesnt allow that extension.
@cvinayak I wouldnt call it solved, Its more of a workaround. my Program already does a connection parameter update and you can see it in the sniff. they agree on 7.5ms connection interval but still I get latency

[2022-07-04 13:14] stephanosio commented on #46994
Fixed by #44616

[2022-07-04 13:14] #46994 closed

[2022-07-04 13:59] #43788 closed

[2022-07-04 14:08] #44455 closed

[2022-07-04 14:25] #46689 closed

[2022-07-04 14:34] #46266 closed

[2022-07-04 14:41] #47101 closed

[2022-07-04 14:57] #45581 closed

[2022-07-04 15:11] enthunilu commented on #29394
Hello,

Is there a near future plan to have USB support for ESP32-S2/S3 ?

[2022-07-04 15:11] romainreignier commented on #45094
This issue is still relevant.

[2022-07-04 15:34] CodingGhost commented on #47197
damn. I missed that second parameter update in the sniff. thanks for clearing that up, now everything makes sense!

[2022-07-04 16:07] #47146 closed

[2022-07-04 16:09] yang325 opened #47272 "nrf51_ble400: onboard chip should be updated to nRF51822_QFAC in dts"
**Describe the bug**
Waveshare BLE400 core board has upgraded the onboard chip to Rev3, i.e. nRF51822_QFAC. While nrf51822_qfaa is still used in nrf51_ble400.dts.

**Expected behavior**
Update the dts and other files.

[2022-07-04 16:19] carlescufi commented on #47272
@yang325 would you like to send a Pull Request for this?

[2022-07-04 16:43] ABOSTM opened #47273 "linker script: Vector table regression due to change in definition of _vector_end"
**Describe the bug**
A series of tests are now failed on STMicroelectronics test bench on STM32F0 series (Cortex M0):
* tests/arch/arm/arm_interrupt/arch.interrupt.arm
* tests/arch/arm/arm_interrupt/arch.interrupt.extra_exception_info
* tests/arch/arm/arm_interrupt/arch.interrupt.no_optimizations
* tests/arch/arm/arm_irq_advanced_features/arch.arm.irq_advanced_features
* tests/arch/arm/arm_irq_vec

[2022-07-04 16:47] ABOSTM commented on #47273
**Detailed analysis**

Before the PR #46769, arch/arc/core/vector_table.ld , defines

[code]

Thus `_vector_end` includes exception vector table as well as IRQ vector table.
This is confirmed by zephyr.map file that show
`                0x080000bc                _vector_end = .`
(0x080000bc is effectively the end of the whole vector table)

On the contrary, after the PR #46769,
[code]

Thus `_vec

[2022-07-04 16:56] ajackson-xlnx commented on #46117
The problem is that, even in the simplest single producer/consumer case, events can be lost.  Consider two tasks A (producer) and B (consumer).  A can generate either or both events of value 1 and 2.

1. B calls `k_event_wait`, clearing events.
2. A calls `k_event_post` with 1.
3. B starts processing event 1.
4. A calls `k_event_post` with 2.
5. B calls `k_event_wait` again having finished its pro

[2022-07-04 17:10] de-nordic opened #47274 "mgmt/mcumgr/lib: Rework of event callback framework"
**Is your enhancement proposal related to a problem? Please describe.**
Currently mcumgr provides simplified callback subsystem that allows to register "event  manager" callback that will be called at some predefined points: before calling command handler, after return from handler and in image upload handler.
The event manager is registered with `mgmt_register_evt_cb` and within code is invoked b

[2022-07-04 17:13] pfalcon opened #47275 "builds are broken with gnuarmemb toolchain, due to picolibc tests/configuration"
**Describe the bug**
Building Picolibc-enabled configurations with a toolchain other than Zephyr SDK (reported against GnuArmEmb toolchain) leads to Kconfig warnings due to conflicting config symbol definitions, which in case of running with Twister leads to an error.

**To Reproduce**
1. Download https://armkeil.blob.core.windows.net/developer/Files/downloads/gnu-rm/9-2019q4/gcc-arm-none-eabi-9-2

[2022-07-04 17:17] pfalcon commented on #47275
@keith-packard: I hope that assigning this to you makes sense.

[2022-07-04 17:22] pfalcon commented on #47275
Analysis:

lib/libc/Kconfig has:
[code]

kernel/Kconfig has:
[code]

`select`s are known to cause problem like this (conflicting symbol definition) and there's a known best practice to avoid them in general. Here my humble guess is that 'config PICOLIBC's select is simply incorrect, because to the best of my knowledge, thread-local storage requires support from the compiler to generate the right c

[2022-07-04 17:22] pfalcon commented on #47275
Have been failing for a while in Linaro CI, e.g. https://ci.linaro.org/job/zephyr-upstream/6891/ . cc: @microbuilder

[2022-07-04 17:32] #46124 closed

[2022-07-04 17:36] carlocaione commented on #47273
Not really. Why CI didn't catch this?

I don't want to revert that PR. Let me see if I can fix this in a proper way.

[2022-07-04 17:57] carlocaione commented on #47273
@ABOSTM since I don't have the hardware can you try this patch? If this works I'll prepare a PR.

[code]

[2022-07-04 18:01] carlocaione commented on #47273
@ABOSTM can you try this patch since I don't have the hardware?

[code]

[2022-07-04 18:17] keith-packard commented on #47275
This was added before picolibc could be used as a module -- at that point, we needed to know if the toolchain had picolibc built with TLS support. And, at that point, picolibc required TLS support to work correctly. Now, picolibc can be built to use Zephyr's errno implementation, but that requires picolibc be compiled with different options, which is easy if it's built as a module, and depends on

[2022-07-04 18:40] pfalcon commented on #47275
@keith-packard: Sadly, I can't answer those specific questions, beyond the generic: Picolibc support was of course a great endeavour, and expectably brings various complexities on its own, like supporting "builtin" picolibs, or as a module, etc. That's why it took so much time to get merged, and thanks for patiently leading that in. On the other hand, last time I heard, support for different toolc

[2022-07-04 18:49] keith-packard commented on #47275
Sounds like we could use help from someone able to answer these questions, especially questions about getting cmake to detect the configuration of a toolchain-provided picolibc? Any idea who that might be?

[2022-07-04 18:50] keith-packard commented on #47275
Also, it would be great to have picolibc included in gnuarmemb at some point -- that's the only way we could get full C++ support using picolibc. Right now, the only toolchain with picolibc and C++ support is crosstool-ng. Building picolibc as a module means no C++ support, alas.

[2022-07-04 20:02] andrzej-kaczmarek commented on #46721
At the moment there are only Zephyr-specific drivers, but I expect that code from SDK can be reused if possible at later stage (they will need to be relicensed first). Also the plan is to enable CMAC (i.e. integrated Bluetooth controller) and this will require firmware binaries so I think HAL module is the place (?) to store such files.

So I agree that there are not much files here to keep in HAL

[2022-07-04 20:32] nashif commented on #46580
@jpwright  you are welcome to submit a PR introducing this.

[2022-07-04 20:34] nashif commented on #34927
This should have been fixed already.

[2022-07-04 20:34] #34927 closed

[2022-07-04 20:53] #46099 closed

[2022-07-04 20:53] #46100 closed

[2022-07-04 21:04] cfriedt opened #47288 "tests: posix: increase coverage for picolibc"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, `lib/posix` is lacking test coverage with `CONFIG_PICOLIBC=y`, specifically in the following areas:
* `tests/posix/eventfd`
* `tests/posix/eventfd_basic`
* `tests/posix/getopt`

There is test coverage for `CONFIG_PICOLIBC=y` in
* tests/posix/common
* tests/posix/fs

**Describe the solution you'd like**
We should hav

[2022-07-05 00:30] #44403 closed

[2022-07-05 04:47] hunterhu3000 opened #47292 "it8xxx2_evb: many test cases failed probably due to the west update"
**Describe the bug**
On 7/1 the daily test pass rate of commit dba3d31dddac is 97.27%. But on 7/2 commit c9695475271b, it dropped to 91.51%.
We have tried to roll back the zephyr code to commit of dba3d31dddac (and some earlier commits) again on 7/4. But the result is still around 91%.
As we have done the west update for the environment every day, and it is unable to roll back, we highly suspect t

[2022-07-05 06:12] asbjornsabo opened #47296 "LE Audio: Move board files for nRF5340 Audio development kit upstream"
We want to, and have been given approval to, copy the board files for the Nordic Semiconductor nRF5340 LE Audio development kit to Zephyr upstream, so that the board can more easily be used in that code base.

Remaining question to be resolved: Board files only, or also drivers?

[2022-07-05 06:56] yang325 commented on #47272
Sure, will do it soon.

[2022-07-05 07:22] ABOSTM commented on #47273
@carlocaione thanks for your quick response.
Yes, 1st patch works, moving `_vector_end` from `vector_table.ld` to `irq-vector-table-section.ld`

About your 2nd post, I was not sure you request to test only the addition of `_vector_end`  in `irq-vector-table-section.ld`
In doubts I tests it and it is working too.

[2022-07-05 07:30] Thalley opened #47299 "LE Audio: Advertising (service) data for one or more services/roles"
**Is your enhancement proposal related to a problem? Please describe.**
In LE Audio we have multiple services and roles which require specific advertising data to be sent. Examples here are the CSIS RSI (which often is connectable extended advertising), Broadcast Source ID (non-connectable extended advertising) and the BASE (periodic advertising).

Ideally we would want as few advertising sets as

[2022-07-05 07:39] shuai1x opened #47300 "Intel CAVS: Failure in tests/lib/spsc_pbuf"
**Describe the bug**
On intel_adsp_cavs25 platform, tests/lib/spsc_pbuf/ failed.

Please also mention any information which could help others to understand
the problem you're facing:
 - intel_adsp_cavs25
 - tests/lib/spsc_pbuf  No Console Output(Timeout)

**To Reproduce**
Steps to reproduce the behavior:

1. twister -W --hardware-map /home/ztest/cavs/cavs.map --device-testing -x=CONFIG_BOOT_DELAY=

[2022-07-05 07:45] oscarbaselga opened #47301 "Module request: Lua"
## Origin

Lua - [https://github.com/lua/lua](https://github.com/lua/lua)

## Purpose

Lua is a scripting language that can be integrated into embedded systems thanks to its lightweight. It is perfect for complex applications where a two-parts separated implementation is needed: firmware and services.

Lua provides a C API that allows a bidirectional C-Lua interaction.

## Mode of integration

I w

[2022-07-05 07:47] Thalley commented on #47299
Somewhat related to https://github.com/zephyrproject-rtos/zephyr/issues/33777

[2022-07-05 07:50] asarbs commented on #47238
[code]

After add of this LOG_INF line problem stop to occur.

[2022-07-05 08:27] LixinGuoX commented on #47126
Anyone help to look at this issue?

[2022-07-05 08:45] pideu-sj commented on #45760
Sorry for my late response.

The reason, why I tried to use `./scripts/ci/test_plan.py` directly, was that I wanted to search a way to get more information about a issue I had with the bigger twister run. But that is fixed now. So the main problem was the understanding of the issue.

[2022-07-05 08:45] #45760 closed

[2022-07-05 08:57] LixinGuoX opened #47307 "tests: kernel: fatal: exception: build failure on multiple platforms"
**Describe the bug**
kernel.common.stack_protection_arm_fpu_sharing is showing build failure on nrf9160dk_nrf9160_ns, lpcxpresso55s69_ns, bl5340_dvk_cpuapp_ns.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p nrf9160dk_nrf9160_ns -p lpcxpresso55s69_ns -p bl5340_dvk_cpuapp_ns -T tests/kernel/fatal/
2. See error

**Expected behavior**
Tests should pass.

**Impact**
CI got blocked.

*

[2022-07-05 09:04] hunterhu3000 commented on #47292
change the ARCH_HAS_CUSTOM_BUSY_WAIT to n can work around most of the problems

[2022-07-05 09:08] CEmir10 commented on #45012
Hi guys, I have one application which uses can_mcan driver, i coud transfer data when i used 3.1.0rc1 version where the funcition use PLLA clock. Now when i switched to the newest version of zephyr where driver uses UPPL clock i can not transfer data. I am using custom board which has atsame70j19 microcontroller.

[2022-07-05 09:20] Thalley opened #47311 "LE Audio: CAP Initiator Unicast Implementation"
**Is your feature request related to a problem? Please describe.**
Implement the unicast audio procedures for the CAP Inititator role (https://www.bluetooth.com/specifications/specs/common-audio-profile/)

[2022-07-05 09:21] Thalley opened #47313 "LE Audio: CAP Initiator audio handover Implementation"
**Is your feature request related to a problem? Please describe.**
Implement the audio handover (broadcast to unicast, unicast to broadcast) procedures for the CAP Inititator role (https://www.bluetooth.com/specifications/specs/common-audio-profile/)

[2022-07-05 09:22] Thalley opened #47314 "LE Audio: CAP Commander capture and rendering Implementation: Change volume procedure"
Is your feature request related to a problem? Please describe.
Implement the capture and rendering control procedure "Change volume" for the CAP Commander role (https://www.bluetooth.com/specifications/specs/common-audio-profile/)

This covers sections 7.3.2.2 CAP spec

[2022-07-05 09:24] Thalley opened #47315 "LE Audio: CAP Initiator skeleton Implementation"
Is your feature request related to a problem? Please describe.
Implement a skeleton for the CAP Initiator role (https://www.bluetooth.com/specifications/specs/common-audio-profile/)

[2022-07-05 09:59] lsangild commented on #45234
@FRASTM I have tried to use the fix you provided, but can't seem to make it work.

I dug a little deeper in the Reference Manual [RM0433 Rev 7](https://www.st.com/resource/en/reference_manual/rm0433-stm32h742-stm32h743753-and-stm32h750-value-line-advanced-armbased-32bit-mcus-stmicroelectronics.pdf), and on pages 548-551 it seems that the SYSCFG registers SYSCFG_EXTICRx does not allow for multiple

[2022-07-05 10:11] nandojve commented on #45012
UPPL is 480MHz fixed clock. PCK-5 clock was selected using 6 as default divider at devicetree, which results in 80MHz clock to be used for the can peripheral. What you must have is a crystal at XIN/XOUT for UPPL to work. The changes were made at #45223. My initial assumption is that issue is not related with clock if CAN tests passes in your HW.

[2022-07-05 10:47] HelloWorldTeraByte opened #47323 "STM32WL LoRa SoC stuck at initialization due to SPI transmit buffer not emptying"
**Describe the bug**
The MCU gets stuck at initialization when the LoRa radio in the STM32WL SoC is enabled. It seems to be stuck trying to send data through the SPI to the intergrate LoRa module of the STM32WL SoC. The MCU is in an endless loop waiting for the SPI transmit buffer to empty (waiting for LL_SPI_IsActiveFlag_TXE to be set).

I am using Seeed Studio LoRa-E5 mini board with STM32WLE5JC

[2022-07-05 11:01] CEmir10 commented on #45012
so without crystal it can not work?

[2022-07-05 11:04] jeppenodgaard opened #47324 "drivers: modem: gsm_ppp: support common gpios"
**Is your enhancement proposal related to a problem? Please describe.**
To initialize a modem successfully it is required to be in a known state.
This can be done by toggling a reset pin.

Detect when a connection is lost. This can be achieved by reading DCD.

**Describe the solution you'd like**
A solution similar to the manufacturer modem drivers specific drivers, but where none of the gpios are

[2022-07-05 11:16] CEmir10 commented on #45012
I am getting erorr message can_mcan failed to leave init mode

[2022-07-05 11:29] #46208 closed

[2022-07-05 11:37] diocorreia opened #47326 "drivers: WINC1500: issues with buffer allocation when using sockets"
While using the sockets library with WINC1500 (which is offload), the driver is not able to allocate more buffers after calling _connect()_. I'm using a nrf52840 and WINC1500 is able to scan, connect and disconnect from WiFi Networks.

Here is the log I got:
[code]
And the code that generates it:
[code]
After some debugging, discovered that _connect()_ calls _recv()_ under the hood. And that the i

[2022-07-05 12:11] #47095 closed

[2022-07-05 12:20] erwango commented on #47323
@str4t0m Would you have time to have a look ? (as I think you ported the board)

[2022-07-05 12:21] FRASTM commented on #45234
This is the case for stm32 devices : one EXIT line can input only one among 4-bit max pins
With stm32H7, the irq line 23 is common to EXTI9_5. So, if it helps to your application, you can still consider that one irq line corresponds to several EXTI lines.

[2022-07-05 12:34] stephanosio opened #47329 "Newlib nano variant footprint reduction"
### Problem description

As part of the Zephyr SDK 0.14.2 release, the C99 format specifier support was deliberately enabled for the newlib "nano" variant in spite of the significant footprint increase, in order to fix the bug #45336 (C99 format specifiers are not supported by the "nano" variant of the newlib C library).

The rationale given for this change was as follows (see https://github.com/z

[2022-07-05 12:36] stephanosio commented on #47329
cc @andyross @carlescufi @henrikbrixandersen @keith-packard

[2022-07-05 12:38] nandojve commented on #45012
![image](https://user-images.githubusercontent.com/7027887/177328958-9ae0c637-f8bb-4556-97ef-a2c4bf8376a9.png)
![image](https://user-images.githubusercontent.com/7027887/177329125-2154d2eb-f596-4090-a749-155e2717698b.png)

[2022-07-05 12:41] tobias-roehmel opened #47330 "ARM Cortex-R52 doesn't have SPSR_hyp"
**Describe the bug**

I think I have found an issue with the startup code for the Cortex-R52, specifically this line: https://github.com/zephyrproject-rtos/zephyr/blob/fd0767557439d04c4a220a9857e901d8d71498db/arch/arm/core/aarch32/cortex_a_r/reset.S#L68
I think the Cortex-R52 doesn't support spsr access through the spsr_hyp register. I did some research and found the following:

1. The Arm® Cortex

[2022-07-05 13:31] peter-mitsis commented on #47061
Just saw this.  I'll take a closer look.  When pipes were first written, it was assumed that Zephyr was only going to be for single core systems. With that assumption in mind, the schedule lock was used for exactly the reason that @andryross identified--reduce interrupt latency on large copies. Since that single core assumption no longer holds, it is time to revisit the implementation details.

[2022-07-05 13:31] asbjornsabo opened #47335 "Bluetooth: LE Audio: Move discover_params and read_params into MCS instance struct"
File mcc.c: Move discover_params and read_params to the struct mcs_instance_t

Beware that the cur_mcs_inst is not assigned until an MCS service is found, which creates a chicken and egg problem: The discovery parameters (within the struct) can not be used until the service has been discovered.

[2022-07-05 14:13] rlubos commented on #46988
@ck-telecom There is a typo in the command you've posted, it should be
[code]

[2022-07-05 14:59] mniestroj opened #47341 "net: sockets: dtls: define behavior of connect() regarding DTLS handshake"
## Introduction

Right now it is not clear what **should** be the behavior of `connect()` when used with DTLS sockets, created with https://github.com/zephyrproject-rtos/zephyr/blob/ec8a6c83fa988a933e9dcd2d6c73f1fb496c4463/include/zephyr/net/net_ip.h#L79-L80

### Problem description

`connect()` on DTLS sockets just assigns server address, so that subsequent `recv*()` and `send*()` calls know whic

[2022-07-05 15:32] carlescufi commented on #4040
@teburd assigned to you as per @nashif

[2022-07-05 15:34] tobias-roehmel commented on #47330
Hi @julien-massot ,

Thanks for the quick reply!

I checked the Bare-metal_examples that you mentioned and can confirm that they use the same instruction. Do you know if Zephyr was started in EL2 when it ran on physical hardware? Otherwise, it wouldn't get to that instruction, right?

I guess the case is pretty clear if this runs on physical hardware, I'll have to change Qemu to handle this accord

[2022-07-05 15:34] #46183 closed

[2022-07-05 16:19] stephanosio commented on #47307
probably related to https://github.com/zephyrproject-rtos/zephyr/pull/45906

[2022-07-05 16:28] carlescufi commented on #47238
@asarbs what board are you building for?

[2022-07-05 16:53] #47288 closed

[2022-07-05 17:01] manoj153 commented on #35816
Yes, now I see there is counter driver addition for STM32,

The alarm function on the counter will satisfy the request.

p.s I should get back to zephyr and have fun again

[2022-07-05 17:01] #35816 closed

[2022-07-05 17:11] stephanosio commented on #47275
@tejlmand is a CMake expert and would be the right person to answer this question.

I am not sure if the toolchain-embedded picolibc has any practical applications given that we already support the picolibc as a module. The module approach is superior in every aspect I can imagine (especially, the build time configurability aspect) and there is no practical reason for one to choose the toolchain-e

[2022-07-05 17:28] keith-packard commented on #47329
(hrm, I thought I commented on this, but it doesn't appear here?).

What parts of C99 does Zephyr want to use? I suspect the 'expensive' pieces in newlib are related to thousands separators and multi-byte character support, neither of which are likely relevant in a Zephyr context. As a comparison, I added 'thousands separator' support in picolibc by simply ignoring the formatting code -- the C loc

[2022-07-05 18:23] keith-packard commented on #47275
I'd love to see Zephyr use picolibc on all targets; newlib is a poor fit for embedded platforms as it cannot fix longstanding API issues caused by compatibility requirements for Cygwin. And, gcc does support picolibc in libstdc++, so there's no need for newlib even in that case. I've heard rumors that libstdc++ may get split out from gcc; if that happens, then creating a module for that would be e

[2022-07-05 19:36] Kludentwo commented on #47326
This seems really interesting. The last time I had a look at the driver it had the feeling that it was a proof of concept with a lot of workarounds. I do not have any of the hardware anymore so I cannot reproduce it myself.

[2022-07-05 19:38] stephanosio opened #47356 "cpp: global static object initialisation may fail for MMU and MPU platforms"
**Describe the bug**

For the MMU-based platforms (`CONFIG_MMU`) and the MPU-based platforms with the userspace feature enabled (`CONFIG_USERSPACE=y`), the initialisation of the C++ global static objects may fail when one or more constructors internally call the `malloc` function (e.g. by creating a new dynamic object using the `new` operator).

**To Reproduce**

Check out https://github.com/steph

[2022-07-05 21:06] #32516 closed

[2022-07-05 21:32] #46954 closed

[2022-07-05 22:52] aasthagr commented on #47077
@LixinGuoX I noticed this issue earlier and a PR is already in place for this . [#46959](https://github.com/zephyrproject-rtos/zephyr/pull/46959). Tagged you as a reviewer. Feel free to provide your reviews. Thanks!!

[2022-07-06 02:48] sslupsky commented on #30564
@allen-k-liu I posted all my out-of-tree zephyr stuff here:  https://github.com/sslupsky/zephyr-out-of-tree

[2022-07-06 05:45] asarbs commented on #47238
I'm using mimxrt1020_evk

[2022-07-06 06:37] julien-massot commented on #47330
The processor always start in Hypervisor mode, if Zephyr is the first system then it will be started in Hyp mode/EL2.

In case we are not started in Hyp mode we jump to the EL1 reset handler:
https://github.com/zephyrproject-rtos/zephyr/blob/fd0767557439d04c4a220a9857e901d8d71498db/arch/arm/core/aarch32/cortex_a_r/reset.S#L54

[2022-07-06 07:49] tobias-aunbol opened #47379 "Crypto sample fail to build with cryp node in .dts for STM32u5 (error: unknown type name 'CRYP_HandleTypeDef' etc.)"
**Describe the bug**
I'm trying to encrypt the external OSPI flash on the dev board B-U585I-IOT02A for the STm32u5 processor by using OTFDEC which is used (as far as i can see) through the zephyr Cryp API by declaring a cryp node in the .dts file.

First of all I'm trying to build the sample provided under zephyr/samples/drivers/crypto, which is running fine by enabling the CONFIG_CRYPTO_TINYCRYPT

[2022-07-06 08:35] julien-massot commented on #47330
yes it was, and pretty convenient when restarting zephyr with gdb without doing a cold reset:)

[2022-07-06 08:41] #45558 closed

[2022-07-06 08:46] povergoing commented on #47330
Since hyp mode is the highest exception level and no monitor mode for v8r aarch32, EL2(hyp) can assess spsr_hyp seems reasonable.

[2022-07-06 08:49] povergoing commented on #47330
So the Qemu supports the `spsr_hyp`? I am sure FVP supports it. But always, some implementations are different between Qemu and FVP and even real hardware, especially for this kind of "new core"

[2022-07-06 09:03] #46733 closed

[2022-07-06 09:03] #46474 closed

[2022-07-06 09:40] rettichschnidi commented on #44070
Having the same error here, proposed fix helped. Do not understand (yet) the root cause.

[2022-07-06 11:08] #47104 closed

[2022-07-06 11:08] carlescufi commented on #46694
@erbr-ot DNM is for Pull Requests only

[2022-07-06 11:29] sbourdelin commented on #38657
Thanks i'm gonna take a look

[2022-07-06 11:29] erbr-ot commented on #46694
@carlescufi Re. DNM, thanks, yes of course, not sure what I was thinking ...

[2022-07-06 11:42] jfischer-no commented on #47051
From the above quoted, what makes you think that a bulk transfer consisting of multiples of endpoint MPS, should always be terminated with a ZLP?  And that this is always interpreted as successful? It depends on your host application, and there are applications that simply expect a stream (without ZLP in between). Unfortunately, you do not tell us how your host application does USB requests and ne

[2022-07-06 12:23] andyross commented on #47329
That's a good point, limiting this to "CONFIG_LIBC_LOCALE_SUPPORT" might be an easier kconfig for users to understand than "C99 format specifiers", plausibly permit yet more aggressive feature removal in other areas, and extend nicely to pico/minimal libcs in a natural way.

But broadly: yes, all of that sounds great to me.  In Zephyr's domain things like "exhaustive standards compliance" and "sys

[2022-07-06 12:38] erwango commented on #47379
So there's actually an issue in the code, but also one thing you're not doing right.

Let's start whith the issue in the driver:
It should include soc.h. I'm not sure how this is building today on other targets, but adding the following line will help:
[code]

Second, instead of adding a crupto node, add an aes one (please double check the values):
[code]

[2022-07-06 12:47] ck-telecom commented on #46988
still failed with library depencies
[code]

[2022-07-06 13:13] erwango commented on #47379
Yes

You'll find these in `zephyr/../modules/hal/stm32cube/stm32u5xx/soc/stm32u585xx.h`:
AES_IRQn
RCC_AHB2ENR1_AESEN_Msk

[2022-07-06 13:17] erwango opened #47407 "stm32l5: tfm: Build error on tests/arch/arm/arm_thread_swap_tz"
**Describe the bug**
A clear and concise description of what the bug is.

[code]
Note that exact same warnings were present on release v3.1.0, but the build was successful.

**To Reproduce**
[code]

**Expected behavior**
Should build

**Impact**
Block CI

**Environment (please complete the following information):**
 - OS: (e.g. Linux, MacOS, Windows): Linux
 - Toolchain (e.g Zephyr SDK, ...): 0.14

[2022-07-06 13:19] rlubos commented on #46988
Try to use Zephyr SDK 0.14.1, that's the version officially supported by NCS. It seems that something changed in 0.14.2 that made out binaries incompatible with this version.

[2022-07-06 13:19] erwango commented on #47407
@microbuilder Any idea what could have changed in TFM compilation recently that can change the fact that warnings are now generating build error (not complaining, but I'd like to understand ;-) ) ?

[2022-07-06 13:25] MaureenHelm commented on #47021
The license does not look like Apache 2.0.

https://github.com/WurthElektronik/Sensors-SDK_STM32/blob/main/SensorsSDK/WSEN_HIDS_2523020210001/WSEN_HIDS_2523020210001.c:
[code]

There's also this in the license file:
[code]

[2022-07-06 13:26] Thalley opened #47409 "LE Audio: Read PACS available contexts as unicast client"
**Is your enhancement proposal related to a problem? Please describe.**
The unicast client does currently not read or subscribe to the available contexts from the PACS on the unicast server.

**Describe the solution you'd like**
Implement reading and subscribing to the PACS available contexts, and provide the information to the upper layers using a callback. Very similar to https://github.com/zeph

[2022-07-06 13:30] carlescufi commented on #47021
@yath-eiSmart you will need to fix the license. It doesn't have to be Apache v2, but it has to be OSI-approved and non-copyleft. Typical alternatives to Apache v2 are:

- 3-clause BSD
- MIT

[2022-07-06 14:04] yath-eiSmart commented on #47021
Thank you for the feedback.

We intend to release the module using the Apache 2.0 license.

[2022-07-06 14:05] jfischer-no commented on #38755
There is nothing that prevents you from doing this from the technical side. But you might want to take a look at all the licenses in this repository. https://github.com/olikraus/u8g2/blob/master/LICENSE, https://github.com/olikraus/u8g2/wiki/fntgrp

No, do not take u8g2's drivers, there is no one even slightly worthy of not being rewritten. I am not convinced in any way.

Looking at SH1107 control

[2022-07-06 14:06] microbuilder commented on #47407
I'm not sure off the top of my head, but I'll reproduce and see if I spot a reason.

[2022-07-06 15:14] carlescufi commented on #46721
@andrzej-kaczmarek could you please update the body of this issue with the URL and instructions to download the SDK from the Renesas website?

[2022-07-06 15:14] carlescufi commented on #46721
TSC: no objections, repo will be created.

[2022-07-06 15:19] carlescufi commented on #47021
@yath-eiSmart this was discussed at the TSC meeting today, and there was a request to see the future module repo in some shape or form, including:

- All files and folders that will be there
- Those files under the right license (Apache v2)

So we would ask you to create a repo under whatever GitHub organization you want (does not need to be the official Würth one, can be your own user) that refle

[2022-07-06 15:22] nashif commented on #47301
related #45485

[2022-07-06 15:26] carlescufi commented on #45993
@ck-telecom or @Damian-Nordic for the TSC to approve this we need additional details in the issue body (eg. clear statement about module and maintainership) and also a PR showing how the integration would work.

[2022-07-06 15:42] kruithofa opened #47420 "Tests: unittest with new ZTEST API"
**Describe the bug**
unittests do not use a prj.conf file, so it is not possible to set CONFIG_NEW_ZTEST_API to yes, and as a result the new API can not be used.

an example is the unittest in tests/ztest/base where the CMakeLists.txt file specifies to use the deprecated ztest API for unittesting

for the unittest for the Bluetooth LLCP we have a workaround for setting kconfig values by specifying

[2022-07-06 16:00] microbuilder commented on #47407
Caused by https://github.com/zephyrproject-rtos/zephyr/pull/45906 ... reverting this to disable FP hard ABI resolves this.

[2022-07-06 16:11] erwango commented on #47407
Thank Kevin, so it explains why we get this issue now.
Handing over to @jamike

[2022-07-06 16:14] mbolivar-nordic commented on #38725
Process WG:

- @stephanosio : I want to revisit whether distributing maintainers throughout the tree is the best idea. I think just having one file is better.
- @mbolivar-nordic : upstream Linux MAINTAINERS is over 20,000 lines long; I don't want that personally
- @stephanosio : you can still find in it and the get_maintainer.pl script won't take that long anyway, so I think we could use the same

[2022-07-06 16:38] yperess commented on #47420
@kruithofa OK, so the issue is that `unittest` doesn't have Kconfig support and is manually compiling the ztest library from source. I'm working on a fix for this.

[2022-07-06 16:48] nashif opened #47426 "ZTEST_USER tests being skipped on systems without userspace support"
**Describe the bug**
It seems that ZTEST_USER when run on a system without userspace support is marked as skipped and is never run. The original behvior of this type of tests was:

[code]

 - ...

**To Reproduce**
```west build -p -b native_posix  tests/kernel/condvar/condvar_api/ -t run```

output:
[code]

**Expected behavior**

[code]
**Impact**
Many tests are not not being run and marked as ski

[2022-07-06 17:21] jpwright commented on #46580
Thanks for the feedback - I submitted a PR that just covers output report formats rather than any arbitrary gcovr option.

[2022-07-06 17:26] #47307 closed

[2022-07-06 17:39] galak opened #47428 "SRAM increase in Bluetooth [samples: bbc_microbit: pong fails to build]"
when trying to build samples/boards/bbc_microbit/pong

I get the following error:

[code]

Doing a git bisect, tracked it down to:

commit 3c5bf5089ad8465b82e59c57fb1ad8b78b48d971 (refs/bisect/bad)
Author: Jonathan Rico <jonathan.rico@nordicsemi.no>
Date:   Mon May 30 16:08:11 2022 +0200

    Bluetooth: host: add dedicated WQ for long-running tasks

[2022-07-06 18:21] aborisovich commented on #45785
Might be a chance to review existing C style rules.
I am talking about positioning "*" on the "right side" of the type definition.
For C nobody cares where it is positioned (shamely), in C++ it starts to make more sense with introduction of reference types.
Basically it should be:
![image](https://user-images.githubusercontent.com/12482515/177616862-bbdea848-82ff-496e-88b2-d03bcdeab2c7.png)
When &

[2022-07-06 18:22] aborisovich commented on #45785
Might be a chance to review existing C style rules.
I am talking about positioning "*" on the "right side" of the type definition.
For C nobody cares where it is positioned (shamely), in C++ it starts to make more sense with introduction of reference types.
Basically it should be:
![image](https://user-images.githubusercontent.com/12482515/177616862-bbdea848-82ff-496e-88b2-d03bcdeab2c7.png)
When &

[2022-07-06 18:26] stephanosio commented on #45785
As far as C is concerned, `int *` is the only correct form because:
[code]

For C++, we could potentially adopt `int*` and ban multiple variable declarations in one line.

[2022-07-06 18:29] aaronemassey commented on #47002
@hakehuang

Looking at this still, but I'm a bit confused as to actually how the SHELL_COMMAND_REGISTER macro is actually being leveraged in this test. It looks like the test is simply running the test functions themselves without respect to the shell command macro. Maybe we can discuss this at the next working group meeting (tomorrow).

[2022-07-06 18:29] mmahadevan108 commented on #47428
@jori-nordic, can you help take a look at this issue.

[2022-07-06 20:34] jfischer-no opened #47445 "USB OTG FS controller support on STM32F413 broken"
**Describe the bug**
USB OTG FS controller support on STM32F413 broken because of latest changes on clock configuration.
git bisect: first bad commit: [c959b58bf15659628d2b64b1b38f5a89348d4db4]
drivers/clock_control: stm32 common: enable PLL_P/Q and set PLL_P div
Introduced by PR #47102

**To Reproduce**
build & flash any USB device support sample for nucleo_f413zh board.

My workaround:
[code]

[2022-07-06 22:50] #47426 closed

[2022-07-07 00:03] ballardr opened #47458 "BQ274XX Sensors Driver - Fails with CONFIG_BQ274XX_LAZY_CONFIGURE"
**Describe the bug**
When using the BQ274XX Sensors driver, there is a kconfig CONFIG_BQ274XX_LAZY_CONFIGURE that allows the device not to be imitated until it's first use. I use this as the communication pull ups in the BQ274XX are disabled on boot (enabled in boot process however).

If CONFIG_BQ274XX_LAZY_CONFIGURE  is set however, compilation fails as the following code references a bq274xx str

[2022-07-07 00:07] ballardr commented on #47458
From looking at elsewhere in file, the code above should be similar to:
[code]

[2022-07-07 00:38] #46864 closed

[2022-07-07 02:50] ngboonkhai opened #47461 "Unable to build the flash_shell samples with board cc1352r1_launchxl"
I was trying to check in a flash driver, however the twister test caught failing when building the sample "samples/drivers/flash_shell" with the board cc1352r1_launchxl. This has blocked me from getting the PR https://github.com/zephyrproject-rtos/zephyr/pull/46443 approved. Please fix the bug ASAP

**Board**
cc1352r1_launchxl

**What I did to resolve the issue**
1) Tried to grep the the whole zep

[2022-07-07 02:51] smrtos commented on #47300
@nordic-krch  Could you take a look at this issue?

[2022-07-07 03:13] ballardr commented on #47323
I think I may be getting the same issue but with a nordic nrf52840 connected to a SX1276 mbed shield (SX1276MB1LAS). It was working on Zephyr 2.7.99 but I updated last night and I'm now failing at boot. When I used print statements to back track the problem, I'm failing at `Radio.Init(&dev_data.events);` in ${zephyr}/drivers/lora/sx12xx_common.c. Following that, Its failing in RxChainCalibration()

[2022-07-07 03:22] Dino-Li commented on #46324
@RuibinChang can you investigate that why we can't enable the CONFIG_TIMESLICE_PER_THREAD option on it8xxx2_evb?

[2022-07-07 04:05] cfriedt commented on #47461
Have you tried `source zephyr-env.sh`?

[2022-07-07 06:25] ballardr opened #47476 "SX127x LoRaWAN - Failing on Boot - Missing Read/Write functions?"
**Describe the bug**
When LoRaWAN is enabled (and in this case using SX1276), there is a operating system failure.

I'm using a Nordic nrf52840 connected to a SX1276 mbed shield (SX1276MB1LAS). LoRaWAN was working on Zephyr 2.7.99 but I updated last night (and updated the loramac-mode module) and it's now failing at boot. When I used print statements to back track the problem, I'm failing at Radio

[2022-07-07 06:30] ballardr commented on #47476
@Mani-Sadhasivam are you still the maintainer for the LoRa drivers?

[2022-07-07 06:31] tobias-aunbol commented on #47379
@erwango, okay so by investigating the stm32u585 i found out the following changes needed for the aes node in the .dts

[code]
By changing the node to use aes instead of cryp i'm able to build the application, so far so good, but my device_get_binding still returns a nullptr to the device, which tells me something is still wrong in my aes node. Sorry for asking noob questions, but i'm still a bit

[2022-07-07 06:38] erwango commented on #47379
This is the base address register for the peripheral (AES_BASE)

[2022-07-07 06:40] LixinGuoX opened #47477 "qemu_leon3: tests/kernel/fpu_sharing/generic/ failed when migrating to new ztest API"
**Describe the bug**
I am migrating `tests/kernel/fpu_sharing/generic/` to new ztest API, see #47475
It seems like qemu_leon3 is incompatible with new ztest API on `tests/kernel/fpu_sharing/generic/`.

**To Reproduce**
Steps to reproduce the behavior:
1. See CI error of #47475

**Logs and console output**
[code]

[2022-07-07 06:52] erwango commented on #47445
I think that I get it.
The guilty code should actually be the last version
[code]
And `STM32_SRC_PLL_Q` is not defined on F4 devices.
We might need to define all PLL outputs for SoC that don't support them today (F4/F7).

[2022-07-07 06:52] ngboonkhai commented on #47461
Hi cfriedt,  It's not about the environment issue, you see,  the definition of NOROM_FlashProgram were not found, and I couldn't find it elsewhere. it is easily replicated when you west init a new project and try to build it. I wonder how the driver can be checkin at the first place and doubt if the test are done correctly.

/p/psg/swip/w/boonkhai/git/boonkhai_github/build_zephyr/qspi_zephyr_proje

[2022-07-07 07:01] nashif commented on #47127
I am not sure what you mean., this test is defined and runs if the platform supports running it, if not, then it right now captured as not tested.

[2022-07-07 07:02] FRASTM commented on #45234
@lsangild  should we keep this issue ?

[2022-07-07 07:37] smrtos commented on #46632
Some details about the test scenario: a host side script cavstool.py is used to serve as both Intel HD Audio driver and audio app. It communicates with the test code running on the DSP. And sends a data[256] to DSP via the host DMA (not link DMA).

According to the cavs spec, the DGMBS is meant for scenario where SPIB (Stream Position In Buffer) operation is disabled, which means DMA will operate

[2022-07-07 07:52] rogeryou commented on #46399
Hi，@carlescufi
 I have submitted the source code，please review.

[2022-07-07 07:54] shaoanxli commented on #47127
But in this situation , the test is marked as blocked , and it does not actually run. This should not happen.

[2022-07-07 07:59] #44944 closed

[2022-07-07 08:43] ivonalo opened #47483 "PPP + GSM MUX now working with Thales PLS83-W modem"
**I am trying to get my Thales PLS83-W  to have PPP data and AT commands simultaneously. The modem datasheet and vendor are claim muxing should work in general.
Is there anyone here experienced with the GSM MUX who can advise on how to debug this issue?
As I understood it should be possible with enabling the `CONFIG_GSM_MUX` .**

**When just using ` MODEM_GSM_PPP=y` the PPP works fine.**

[code]

[2022-07-07 09:11] #47272 closed

[2022-07-07 09:39] str4t0m commented on #47445
@erwango Has someone from st time to add the clock source defines and add alternate clock source support for the affected series?
I won't be able to do so this week(and also don't have access to a board of these series), but if not I could send a PR that just fixes the condition in the meantime.

[2022-07-07 10:43] tobias-aunbol commented on #47379
@erwango thanks again really helpful.
[code]
But still:
[code]
returns a nullptr
i can see that AES_CRYP_DRV_NAME is correctly sat to the label property (AES) of the driver.

[2022-07-07 10:43] erbr-ot commented on #42684
Did a review, and it actually seems refactored LLCP does do things correctly.

[2022-07-07 10:43] #42684 closed

[2022-07-07 10:45] kruithofa commented on #46065
Fixed by #47331

[2022-07-07 10:45] #46065 closed

[2022-07-07 12:07] mniestroj commented on #47341
I've investigated many (D)TLS libraries (including openssl and mbedtls) and most (if not all) of them do implicit handshake as part of send/recv. So in theory there is not much work to do on Zephyr TLS socket layer implementation. The rationale behind it is that handshake can be retriggered by TLS layer at some point, so it would be too complex to bother application layer, at least to what documen

[2022-07-07 12:38] rlubos commented on #47341
This is only true if you call `send()`, then indeed there's no address information. You can still call `sendto()` however in such case to provide the address and then handshake **is** initiated.

[2022-07-07 13:37] pdgendt commented on #47025
Have you cleared the reset cause before a new test?
[code]

[2022-07-07 13:54] PerMac opened #47500 "twister: cmake: Failure of "--build-only -M" combined with "--test-only" for --device-testing"
**Describe the bug**
A combination of running --build-only with minimal set of artifacts required (-M), and then --test-only fails for --device-testing.
**To Reproduce**
Steps to reproduce the behavior:
1. run `./scripts/twister -T samples/philosophers/ -p nrf52840dk_nrf52840 --device-testing --device-serial /dev/ttyACM0 --build-only -M`
2. run `./scripts/twister -T samples/philosophers/ -p nrf528

[2022-07-07 14:24] povergoing commented on #46127
@carlocaione, inspired by your idea, the only solution I can come up with to solve this issue may be that we go back to using EL1t mode. That is, both EL0 and EL1 use SP_EL0, and we switch to SP_ELx to do the check as soon as we enter the Exception and before we touch the sp.
https://github.com/zephyrproject-rtos/zephyr/blob/c4cdba3833e6cfe8b3832c8e8705354c16a8da8a/arch/arm64/core/vector_table.S#L

[2022-07-07 14:41] jeppenodgaard commented on #47025
I do not think I did. I tried it now and it seems to be the same behavior.

I expected `exception` and `power` to be a reset cause but `hwinfo reset_cause supported` reports:
[code]

It might work after all. I just did not manage to hit the non-pin causes.

[2022-07-07 15:07] ngboonkhai commented on #47461
Hi @cfriedt,

Do you got a chance to try to build the board with
west build -b cc1352r1_launchxl samples/drivers/flash_shell --pristine

And replicate the issue?

[2022-07-07 15:36] enjiamai opened #47508 "tests: arch: the xtensa_asm2 test is broken"
**Describe the bug**
Found the tests/arch/xtensa_asm2 test is broken during trying to move it to new ztest API. (Maybe this test not has to migrate)
Seems like two problem here:
(1) The tests/arch/xtensa_asm2 is broken.
(2) The qemu of xtensa cannot work well in zephry-sdk-0.14.x in this test. (It works with zephyr-sdk-0.13.2)

**More detail information and error logs**

(1) the test is broken due

[2022-07-07 15:58] carlescufi commented on #47021
This looks great, thank you!

[2022-07-07 16:03] enjiamai opened #47512 "up_squared: issues of EFI console feature"
**Describe the bug**
There is an issue that https://github.com/zephyrproject-rtos/zephyr/issues/45929, fixed by https://github.com/zephyrproject-rtos/zephyr/pull/46918.

- But there are still a few known tests failed after applied this solution, these are:

tests/kernel/mutex/sys_mutex/  -s tests/kernel/mutex/sys_mutex/system.mutex
tests/lib/sprintf/libraries.libc.sprintf
tests/subsys/logging/log_

[2022-07-07 16:22] #47420 closed

[2022-07-07 16:26] richesonk commented on #46446
Sorry for the delay on this, but, as expected, I have heard back from my company and I am not allowed to contribute directly to the LVGL (or Zephyr) projects. As I mentioned above, my company is highly protective of our IP and tends to error on the side of being overly cautious. So, I will not be able to submit a proper PR for the changes over in the LVGL project.

[2022-07-07 18:12] npitre commented on #46127
What about `at S1E0W, sp` upon entering the exception before using the stack?
I'm not sure it is possible to retrieve the result without clobbering at
least one register though. But if that is possible then you wouldn't
have to impact the common "no stack overflow" case with significant
overhead.

[2022-07-07 18:23] cfriedt commented on #47461
Awesome! Thanks for the fix @pepe2k !

[2022-07-07 19:53] maxmclau opened #47520 "Support for sub-ghz channels in at86rf2xx radio driver"
Currently the at86rf2xx radio driver does not support sub-ghz channels (e.g. 868 Mhz or 915Mhz). Microchip's [AT86RF215](https://www.microchip.com/en-us/product/AT86RF215) and [AT86RF212B](https://www.microchip.com/en-us/product/AT86RF212B) are capable of sub-ghz channels and would be a nice addition for long-range low power comms.

As it is the driver likely is not far off from supporting these c

[2022-07-08 01:46] ngboonkhai commented on #47461
Thanks for the prompt action @pepe2k

[2022-07-08 01:56] shaoanxli commented on #47127
This is not happening now, so it should be closed.

[2022-07-08 05:54] stephanosio commented on #47329
To be voted in the TSC in order to make sure that everyone is in agreement.

[2022-07-08 07:19] erwango commented on #47445
@FRASTM will have a look

[2022-07-08 07:36] #44579 closed

[2022-07-08 08:13] Thalley commented on #41216
Yes, please feel free to make a new issue for each service :)

[2022-07-08 08:45] #47126 closed

[2022-07-08 08:48] #47445 closed

[2022-07-08 08:49] #47232 closed

[2022-07-08 09:06] str4t0m commented on #47445
Thanks!

[2022-07-08 09:42] erwango opened #47546 "Revert https://github.com/zephyrproject-rtos/zephyr/pull/47511"
**Describe the bug**

https://github.com/zephyrproject-rtos/zephyr/pull/47511 was merged without sufficient review and does not match expectations.
It should be reverted.

[2022-07-08 09:42] nashif commented on #47500
cant reproduce with a different board, are you moving files around or are you running both commands in place?

[2022-07-08 09:59] M1cha opened #47547 "move parts of zephyr to a library"
I've been working with zephyr for a few years now and the amount of C-goodies you invented and implemented is just insane(in a very good way).
The thing is that most of that doesn't have to be tied to zephyr and it would be extremely beneficial for all kinds of C-projects. And to be quite honest, If you put all your non-zephyr specific code into a library, that library would have the potential to

[2022-07-08 10:07] smrtos commented on #46632
Maybe fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/47548

[2022-07-08 10:33] PerMac commented on #47500
I tried it with other boards (reel_board and frdm_k64f) and it seems unrelated to a platform chosen. I got the same error since it fails before getting to the part where platform matters. I run in the same env/dir, i.e. I just run `--build-only -M` and `--test-only` just one after the other in the same dir. When I ran --build-only without cleaning the artifacts (no -M arg) it works

[2022-07-08 10:54] PerMac commented on #47500
I played just a bit and it seems that if I copy the list of allow leftover files from https://github.com/zephyrproject-rtos/zephyr/blob/main/scripts/pylib/twister/twisterlib/runner.py#L516 into the device-testing leftovers here https://github.com/zephyrproject-rtos/zephyr/blob/main/scripts/pylib/twister/twisterlib/runner.py#L549 the workflow starts to work. I will try to pin point down which files

[2022-07-08 11:18] erwango commented on #47546
Will fix instead of reverting

[2022-07-08 11:18] #47546 closed

[2022-07-08 11:23] jukkar commented on #47483
If I recall correctly, you will get IP address only after muxing has been setup correctly if the modem supports muxing. So this means that if you get PPP up and running **and** muxing is disabled in Zephyr, that means that muxing in modem is not enabled.
This would further explain the issue if you enable muxing in Zephyr and do not get PPP running, which could be explained if your modem either doe

[2022-07-08 11:39] ivonalo commented on #47483
[code]

As I understand the modem is stuck on the AT+CSQ command

[2022-07-08 11:46] fcgdam opened #47551 "Enabling CONFIG_OPENTHREAD_SRP_CLIENT on NRF52840 dongle board leads to MBED compilation errors."
**Describe the bug**
When enabling the option CONFIG_OPENTHREAD_SRP_CLIENT the compilation fails inside the MBED library with not all prerequisites;
[code]
**Software versions**
Platform: Linux (Arch)
SDK: 0.14.2
Zephyr release: 3.1.99 (commit: b2b7665b9c90f91aa1dd21c82c4c0ed0865d3bf8)
Compiled with: **west** version v0.13.1
Board: nrf52840dongle_nrf52840

**To Reproduce**
Steps to reproduce the b

[2022-07-08 12:18] #47407 closed

[2022-07-08 12:48] ballardr commented on #47476
Closed, as realised the #define masks back to SX127x functions (personally this style of coding of changing function names is confusing hence why I didn't pick it up).

Issue of read/write is still an issue, but this bug report is now invalid.

[2022-07-08 12:48] #47476 closed

[2022-07-08 15:42] jukkar commented on #47483
Indeed, the muxing seems to be working ok. Perhaps the PPP and AT channels need to be swapped like in Simcom modem.
You could try to change and see if it helps.
[code]

[2022-07-08 16:05] kt-peters opened #47568 "uart_mcux_lpuart driver activates the noise error interrupt but does not clear the noise error flag"
**Describe the bug**

When activating error interrupts (function mcux_lpuart_irq_err_enable()), the uart_mcux_lpuart driver also activates the noise error interrupt.  However, the error check function (mcux_lpuart_err_check()) does not clear the corresponding error flag. Hence, if a noise error occurs, the device will be stuck in infinite noise error interrupts (until a watchdog triggers).

**To R

[2022-07-08 16:53] ABOSTM commented on #47273
@carlocaione ,
I reopen this issue because despite the fix proposed in https://github.com/zephyrproject-rtos/zephyr/pull/47309
there is still one test failed: `tests/arch/arm/arm_irq_vector_table`
(all other tests are passed).
I am confused, I should have check all tests instead of only one :confused:

With a passed tests, let's say `tests/arch/arm/arm_interrupt` , the map file shows:
`0x080000bc

[2022-07-08 19:27] nandojve commented on #47520
Hi @maxmclau ,

AT86RF212[B] can be integrated into current rf2xx driver. The rf215 is almost certainly that will require a new driver implementation. Currently Zephyr L2 assumes IEEE-802.15.4-2003 version only, which can use channels from 0-26 at page one.
If you require page 2, to select O-QPSK modulation, it will be necessary a discussion with network group to add `set_page` API in the driver.

[2022-07-08 20:08] #41711 closed

[2022-07-08 20:10] #47077 closed

[2022-07-09 07:26] ngboonkhai opened #47576 "undefined reference to `__device_dts_ord_20' When building with board hifive_unmatched on flash_shell samples"
**Describe the bug**
I was trying to build the flash_shell samples using the board hifive_unmatched and the compilation failed with

[code]

**Board**
hifive_unmatched

**What have you tried to diagnose or workaround this issue?**
- I verified the DT_DRV_COMPAT has named correctly
- I verified that the dt/bindings is in placed

**To Reproduce**
Steps to reproduce the behavior:
1. west init zephyrp

[2022-07-09 07:31] ngboonkhai commented on #47576
@katsuster @cfriedt Please take a look at this

[2022-07-09 14:13] gokultv-private opened #47580 "https connect failing with all the samples (qemu_x86 & mbedtls)"
**Describe the bug**
I'm evaluating samples to understand the https (TLS 1.2) connect with the Zephyr & mbedtls. I've taken the http_big_download sample, compiled for qemu_x86 and ran but it failed to work. The case is same with all the other https samples (like http_client)

Samples path: samples/net/sockets/big_http_download
target: qemu-x86

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-07-09 15:38] carlocaione commented on #47273
That test is kind special in the sense that it is defining by itself the IRQ vector table.

0x080000bc _vector_end = .
fine, it looks like it uses definition from irq-vector-table-section.ld

0x08000040 _vector_end = .
This is not good, it looks like it uses definition from vector_table.ld

That's fine. `_vector_end` must not always have the same value, this is not a problem at all.

https://githu

[2022-07-09 15:49] carlocaione commented on #47576
@galak
[code]

[2022-07-09 21:55] AndreKR commented on #23893
OMG, those "helper macros" are already weird in general but how would anyone know *this*?

[2022-07-10 00:48] sdonnan commented on #43655
I've replicated the issue on an `ESP32-C3-DevKitM-1`. I the exact same build working fine on an `ESP32-C3-DevKitC-02`. FWIW they both carry the `XXN4` marking.

I'm going to poke around a little bit and see if I can identify any differences.

[2022-07-10 11:35] str4t0m commented on #43887
@teburd Could you have a look at this. I think this broken Cortex-M0 since #39454.

[2022-07-10 15:52] aborisovich commented on #45785
I've just read about it... It is so broken. Both in C and C++...
Existing style makes some sense then.
Seems like this "problem" carries over to multiple reference types inline declaration.
`int a = 1,  b = 2, c = 3;`
`int& c = a, &d = b, &e = c;`
However I've never seem this syntax in C++ production code until @stephanosio brought up this subject.
And I think I've never seen anyone declaring refe

[2022-07-11 00:29] #45117 closed

[2022-07-11 02:38] shaoanxli opened #47588 "tests: sprintf: zero-length gnu_printf format string"
**Describe the bug**
The print function is called and the function is not intended to be used to print characters, in this case shows build failure.

For example :
tests/lib/sprintf/src/main.c:778:24    ret = fprintf(stdout, "");
usb/device/usb_dc_kinetis.c:840:10     LOG_DBG("");
tests/lib/sprintf/src/main.c:760:15    ret = printf("");

It seems to be an error to print noting with twister command

[2022-07-11 04:43] povergoing commented on #46127
I think it's a good idea, so I spent some time on it. I also would like to not change the current stack strategy. But I found that
`at S1E0W, sp` doesn't work, should be `at S1E0W, x0`. This is easy to solve by exchanging the sp and x0, an idea from the [Linux kernel](https://elixir.bootlin.com/linux/latest/source/arch/arm64/kernel/entry.S#L63).
The issue is that we still need the PAR_EL1 to check

[2022-07-11 04:45] hunterhu3000 commented on #47292
Did a "west update" on July. 8th. The problem is gone. As the "west update" is not tracked before, it is unable to reproduce this issue. So close it first. If it happens again, I will submit a new issue.

[2022-07-11 04:45] #47292 closed

[2022-07-11 05:01] fredrikdanebjer opened #47590 "LE Audio: Make TBS Client optional procedures actually optional by using Kconfig"
**Is your enhancement proposal related to a problem? Please describe.**
A clear and concise description of what the problem is.

The TBS Client has per spec. a lot of optional procedures. which currently are not optional in code. These should be made optional both on basis of allowing user to configure what it wants, but also on memory. The TBS Client is one of the components in LE Audio that take

[2022-07-11 06:26] jori-nordic commented on #47428
@carlescufi do you know why this wasn't caught in CI ? Aren't we building all the samples in the oncommit ?

[2022-07-11 06:40] hunterhu3000 opened #47592 "test: tests/drivers/gpio/gpio_basic_api failed after commit 2a8e3fe"
**Describe the bug**
tests/drivers/gpio/gpio_basic_api failed after commit 2a8e3fe82daf43fe9e52ae25507e8e0ef72f4d59

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you using? it8xxx2_evb
 - What have you tried to diagnose or workaround this issue? :do git bisect and found out commit 2a8e3fe82daf43fe9e52ae25507e8e0ef7

[2022-07-11 06:58] simhein commented on #47002
@aaronemassey subsys/fs is wrong checked in the issue.  See: https://github.com/zephyrproject-rtos/zephyr/tree/main/tests/subsys/fs. I started working on it can you add my name to the "task"?

[2022-07-11 07:26] hunterhu3000 commented on #47592
@galak As you are the owner of the patch, could you please help to check first? Thanks.

[2022-07-11 07:41] ABOSTM commented on #47273
I was expecting  `_vector_end` to be always the size of the hardware vectors,
but ok, I understand that for tests purpose this is not the case for this specific test.
Then test is passed with the new fix ! !
I will submit a PR. Thanks

[2022-07-11 07:59] RomainPelletant opened #47598 "net: lwm2m: Send data longer than max coap block size (block-wise transfer)"
**Describe the bug**
lwm2m client is not able to send data if greather than max coap block size. According to [COAP](https://datatracker.ietf.org/doc/html/rfc7959#page-12), block-wise transfer shall be initiated (block2 option) for READ requests and SEND requests.

Please also mention any information which could help others to understand
the problem you're facing:
 - What target platform are you u

[2022-07-11 08:28] ivonalo commented on #47483
I have tried that change, but unfortunately, the behaviour is the same

[2022-07-11 09:28] smrtos opened #47604 "New ztest fx cannot specify different setup/teardown functions for each test function within the same test suite."
**Is your feature request related to a problem? Please describe.**
In code like below, the `ztest_1cpu_user_unit_test()` and `ztest_user_unit_test()` macros register test functions with different setup/teardown functions. This is because the old ztest fx can specify setup and teardown functions at the "test function" level.

https://github.com/zephyrproject-rtos/zephyr/blob/ff54de3e1697e50f05cb835

[2022-07-11 09:31] renweiwu opened #47606 "nvs_read return value is not correct"
**Describe the bug**
A clear and concise description of what the bug is.
when use nvs_read to read data from flash, the size returned is not correct.

**To Reproduce**
use the code in below to test nvs read/write
static void nvs_flash_init(void)
{
    const struct device *flash_dev = NULL;
    int ret;

    struct flash_pages_info info;

	flash_dev = FLASH_AREA_DEVICE(STORAGE_NODE_LABEL);
	if (!de

[2022-07-11 09:36] smrtos commented on #47604
I am not sure if this should be labeled as a bug or feature request. Please help remove the inappropriate one. Thx.

[2022-07-11 09:59] Laczen commented on #47606
@renweiwu, thank you for reporting this.

This is not really a bug, when `nvs_read` is called it always returns the size of the entry that can be used to determine if all bytes were read. From the documentation of `nvs_read`:
https://github.com/zephyrproject-rtos/zephyr/blob/main/include/zephyr/fs/nvs.h#L123

If all bytes are read the return value will be equal to the requested read bytes. If not

[2022-07-11 10:03] nvincent-vossloh opened #47607 "Settings with FCB backend does not pass test on stm32h743"
**Describe the bug**
I tried to run the `zephyr/tests/subsys/settings/fcb/raw/` on a nucleo h743zi2 but I have a test errors, bus faults and stack overflows:

**To Reproduce**
Steps to reproduce the behavior:
1. `west build -b nucleo_h743zi -d build_test/fcb zephyr/tests/subsys/settings/fcb/raw/`
2. `west flash -d build_test/fcb`
3. See error on serial output.

**Expected behavior**
All tests shou

[2022-07-11 10:03] renweiwu commented on #47606
thanks for the clarification. looks not an issue.

[2022-07-11 10:05] #47606 closed

[2022-07-11 10:11] Laczen commented on #47607
@nvincent-vossloh, shouldn't the read/write be aligned to 64 bytes (256 bit)?

[2022-07-11 10:16] asbjornsabo commented on #41197
It has previously been agreed that the media_proxy.h should define separately the same values as defined by mcs.h (in analogy with HCI, I believe).  This has been done.

"where suitable":
- the media_proxy.h defines the MEDIA_PROXY_* values, and should of course use these (instead of BT_MCS).
- the mpl.c should use the MEDIA_PROXY_* values, not the BT_MCS ones.

mcs.c and mcc.c should use the BT_M

[2022-07-11 10:37] Laczen commented on #47607
@nvincent-vossloh Have you tried increasing the stack size (CONFIG_ZTEST_STACK_SIZE) ?

[2022-07-11 10:44] gmarull commented on #47576
FYI https://github.com/zephyrproject-rtos/zephyr/pull/47602

[2022-07-11 11:00] cfriedt opened #47609 "posix: pthread: descriptor leak with pthread_join"
**Describe the bug**
Even if there is only a single pthread, we can currently exhaust all `CONFIG_MAX_PTHREAD_COUNT` threads - i.e. we are "leaking" pthreads.

The reason for that is
* `pthread_join()` sets the pthread state to `PTHREAD_EXITED`
* in `pthread_create()` we only check for `PTHREAD_TERMINATED` when see if one is available
* thus, threads that have cleanly exited appear as in-use from

[2022-07-11 11:11] hakehuang opened #47683 "TCP Connected Change the window size to 1/3/ff fail"
Describe the bug
This test changes the window size field in all TCP packets to 1. This test is intended to exercise boundary conditions on the window size field.	Assumes the DUT is sending a TCP data stream to a data sink. DUT must be able to complete transmission of its reply in under 60 seconds.	The DUT must throttle back its transmissions to only one-octet-long data segments.

References

RFC 7

[2022-07-11 11:15] nvincent-vossloh commented on #47607
Yes, that fixed the stackoverflow.

Now I'm down to two test errors:

[code]

The first one should just be a matter of increasing the value to 32.

For the second one (test_config_compress_reset) I added a dts overlay in the test folder for nucleo h7 board to make sure that I have 2 sectors for the storage partition but I'm still having the issue.

[code]

[2022-07-11 11:25] gokultv-private commented on #47580
From the wireshark traces (attached here), I see the QEMU is sending the SYN (from its IP 192.0.2.1). But QEMU is not receiving the SYNACK back from the 7-zip (159.65.89.65). Hence the sample code, keeps resending the SYN and stops.

I tried changing the timeout value to 0 (infinite) - but no change in behavior.
[2_new.zip](https://github.com/zephyrproject-rtos/zephyr/files/9083481/2_new.zip)

[2022-07-11 11:27] PerMac opened #47611 "ci: workflows: compliance: Add commit title to an error msg"
**Is your enhancement proposal related to a problem? Please describe.**
Whenever the compliance script fails, gh workflow reports the SHA of the commit and what was the issue. However, the reported SHA points to a commit in a tree rebased internally in the workflow and doesn't match the commit SHA from a PR. This is not a problem in PRs with a couple of commits, since a user can easily guess which

[2022-07-11 11:28] PerMac commented on #47611
@stephanosio What do you think about the enhancement? Is it something you can take care off?

[2022-07-11 11:32] nashif opened #47613 "Samples / Tests without a testcase.yaml or sample.yaml"
**Describe the bug**

The following samples and tests do no have an meta data to allow them to be run via twister:

A few bsim tests were also found, but those are being run differently.

- tests/cmake/config_dir/foo does not have a sample.yaml or testcase.yaml
- tests/arch/xtensa_asm2 does not have a sample.yaml or testcase.yaml
- samples/boards/nrf/nrf53_sync_rtc/net does not have a sample.yaml

[2022-07-11 12:04] sylvioalves commented on #47598
@RomainPelletant Would be good yo understand whether this is ESP32 issue or CoAP issue. Would you provide some additional log?

[2022-07-11 12:12] Laczen commented on #47607
@nvincent-vossloh the definition of `fcb_sectors` in settings_test_fcb.c and `fcb_small_sectors` in settings_test_compress_deleted.c do not match your erase block size.

[2022-07-11 12:38] #47428 closed

[2022-07-11 12:51] richesonk commented on #46446
What is the relationship between this team and the LVGL team? I am confused, b/c the issue in LVGL has been closed citing the need for this to be addressed in "the Zephyr driver", but it seems to me that at least some portion of "the Zephyr driver" is packaged inside the LVGL project. Does this team maintain the code in `modules/lib/gui/lvgl/zephyr` just within the LVGL project, or are those files

[2022-07-11 13:07] nvincent-vossloh commented on #47607
Yes, that was it, the test is very long though.
@Laczen Thanks for your help !

[2022-07-11 13:23] Laczen commented on #47607
@nvincent-vossloh, no problem. I can imagine it takes a long time (it already takes a long time with 16kB sectors). It is very difficult to make this test more general (especially given the complexity of the several backends for settings). As this test also takes a very long time it doesn't seem appropriate trying to generalize the test. I would propose to keep it like it is.

If you agree could y

[2022-07-11 13:26] #47580 closed

[2022-07-11 13:37] rlubos commented on #47046
I've submitted a PR fix fixes, please have a look: https://github.com/zephyrproject-rtos/zephyr/pull/47636

[2022-07-11 13:41] Laczen commented on #47607
I guess that with this setting the test will fail in all cases because the stack size is to small. I will leave it up to @nvlsianpu to decide how to get `settings_fcb` working nicely with larger write block sizes. For me fcb (and nvs) are no longer the way to go to provide persistent storage. I am working on something else that will no longer be zephyr-only (and will be maintained outside of zephy

[2022-07-11 13:47] brgl commented on #46446
@richesonk "this" team takes care of zephyr and WRT LVGL - the zephyr<->LVGL glue code specifically. We track upstream LVGL and try to keep downstream changes to a minimum so any general LVGL problems are handled over the LVGL github.

[2022-07-11 15:11] carlocaione opened #47640 "Zephyr and caches: a difficult love story."
The cache management in Zephyr is a bit problematic.

We have:
- `CONFIG_DCACHE`: honestly no idea what this is about and why this is here. I'm probably the one to blame because I probably ACK-ed this in the past but it is only used by stm32f7
- `CPU_CORTEX_M_HAS_CACHE`: this is specific for Cortex-M
- `CACHE_MANAGEMENT` (+ others): this was introduced by me and it is used to enable the cache mana

[2022-07-11 15:14] fabiobaltieri commented on #46446
If you check the commit history for the repository/code you are working with it should be pretty clear where the code is coming from, the upstream LVGL repo does not have a "zephyr" directory at all (https://github.com/lvgl/lvgl), and if you look at the commit history of the Zephyr copy (https://github.com/zephyrproject-rtos/lvgl) you can see that it gets uprev'd periodically.

The diff you posted

[2022-07-11 15:24] richesonk commented on #46446
@fabiobaltieri Thank you for the clarifications and my apologies on not digging that relationship out myself. I don't have a ton of experience with the these types of projects that pull in and maintain/supplement another upstream project.

Unfortunately, I don't think there is anything we can do to alleviate my company's concern about contributing. As I mentioned above, the concern is over exposin

[2022-07-11 15:26] danieldegrasse opened #47641 "Poor Ethernet Performance using NXP Enet MCUX Driver"
**Describe the bug**
Ethernet performance is very poor when running `samples/net/zperf` on any board using the MCUX Enet driver. This poor performance does not manifest on the STM32 Ethernet driver, so it is unlikely this issues is related to the networking stack

**To Reproduce**

***Flashing the sample***
1. west build -p always -b mimxrt1050_evk samples/net/zperf
2. west flash

***Host configur

[2022-07-11 15:39] microbuilder commented on #47640
Sounds reasonable to me.

[2022-07-11 15:41] npitre commented on #47640
+1

[2022-07-11 15:45] danieldegrasse commented on #47641
#47643 should serve as a hotfix: it does not correct all issues with the driver, but fixes TCP download performance back to usable levels

[2022-07-11 15:56] #47576 closed

[2022-07-11 16:25] aurel32 commented on #47640
Those two symbols are not redundant. `CONFIG_DCACHE` is not about having a data-cache or not but rather about enabling it. There are cases where you do not want to enable it, because DMA plays a role in the difficult love story...

[2022-07-11 17:47] carlst opened #47649 "ATT Notification buffer not released after reconnection"
**Describe the bug**
A buffer allocated by Bluetooth ATT (and passed on to conn) but not yet sent when a disconnect occurs is never freed.

Please also mention any information which could help others to understand
the problem you're facing:
 -Added BT_DBG messages to tx_meta_data_alloc and tx_meta_data_free to track buffer allocation count

**To Reproduce**
The issue occurs on a custom application

[2022-07-11 17:52] #41880 closed

[2022-07-11 18:58] enjiamai opened #47652 "The client-server based cavstool.py might be stuck when the ROM is not start"
**Describe the bug**
The client-server based cavstool.py might be stuck when the ROM is not start. Most of the time this won't happens. But we need to improve this, because once this happens, the following tests results could be incorrect.
 (Actually it could happens at any while loop in the coroutine of the loop)

Please also mention any information which could help others to understand
the probl

[2022-07-12 03:02] shaoanxli commented on #47127
The failure arise again.

Take **libraries.cmsis_dsp.matrix.binary_f16.fpu.op1_arm_mat_scale_q15** as an example.

The case is on this path **tests/lib/cmsis_dsp/matrix/src/unary_q15.c**  , but the error shows :
[code]
Then if we check testsuite **matrix_binary_f16** :
[code]
We can not find the test case **op1_arm_mat_scale_q15** here.
So maybe twister mismatch the testsuite to the test case.

[2022-07-12 04:01] smrtos commented on #47604
May be fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/47660

[2022-07-12 04:12] yperess commented on #47604
@aaronemassey @nashif

This was a very poor design by the original ztest and I would very much not like to see us going back in that direction. Prior to the big refactor of Ztest test suites actually didn't mean anything. All the before/after logic was bound to the test and the suite basically just provided some kind of name scoping.

Looking at other test frameworks as a model, the point of suite

[2022-07-12 05:33] mengxianglinx commented on #47127
That means twister wrongly concaterate the test suite name and test case name. In test suite matrix_binary_f16 there is no such a test case as test_op1_arm_mat_scale_q15, that case is belong to test suite matrix_unary_q15.

[2022-07-12 06:07] mengxianglinx commented on #47127
There is no mismatch. In libraries.cmsis_dsp.matrix.binary_f16.fpu.op1_arm_mat_scale_q15, "libraries.cmsis_dsp.matrix.binary_f16.fpu" is defined in testcases.yml, and "op1_arm_mat_scale_q15" in defined in c file with prefix "test_"

[2022-07-12 06:49] carlocaione commented on #47640
Ok, that makes sense. In this case we should also have `CONFIG_ICACHE` (depending on `ARCH_HAS_{D,I}CACHE`)

Uhm, I'm not fully convinced about this. DMA is usually done on selected buffers or memory regions (that can be set in HW or MPU/MMU) disabling the whole DCACHE because you need DMA seems an overkill.

[2022-07-12 06:57] undisputed-seraphim commented on #46758
Why not just make a POSIX-like network API and let existing network libraries do the rest of the work? I've been trying to port a Boost.ASIO-based application to Zephyr and it's mostly just missing some POSIX APIs and defines. I wrote a hacky, not-for-production-use shim to fake the missing APIs and it mostly works.

[2022-07-12 07:13] aurel32 commented on #47640
Not sure there is a real need to disable the instruction cache. It only require some management for flash driver and code in RAM, and that is already handled.

That was indeed the case before the async UART and SPI API have been introduced. They can be passed any RAM buffer (possibly even on the stack like in the tests), and DMA is used on them. As no alignment is required on the buffers, it means

[2022-07-12 07:20] carlocaione commented on #47640
Agree, it was just to keep it consistent with DCACHE really.

Ok I was not aware of that. But why you cannot make the driver pointing to a proper buffer to use maybe leveraging DT and just disable caching on that buffer (if possible) like it was done here https://github.com/zephyrproject-rtos/zephyr/commit/f6a880a2f9c for example

[2022-07-12 07:22] smrtos commented on #47604
I think test suite should just be a logic container of **all** the test functions targeting the same feature. That doesn't necessarily mean test functions mustn't do anything specific to themselves.

It is possible to create yet another test suite with 1cpu specific before/after functions. But in doing that we are merely grouping test suites for the sake of the implementation of the framework, rat

[2022-07-12 07:39] aurel32 commented on #47640
That is when using the driver internal buffer for DMA when using the standard API. I am talking about the async API like in this example: https://github.com/zephyrproject-rtos/zephyr/blob/main/tests/drivers/uart/uart_async_api/src/test_uart_async.c#L76 . Here the buffer used for DMA is `rx_buf[10]`, and is directly allocated on the stack.

[2022-07-12 08:15] #41197 closed

[2022-07-12 08:16] #47609 closed

[2022-07-12 08:17] #47025 closed

[2022-07-12 09:37] msasdk opened #47670 "STM32 QSPI/OSPI XiP support"
**Is your enhancement proposal related to a problem? Please describe.**
Currently, Excute in Place/memory mapped mode on QSPI/OSPI flash does not seem to be implemented on STM32.
STM32H750VB comes with 128K of internal flash which makes its use with Zephyr limited.

**Describe the solution you'd like**
Implement XIP for STM32 on external QSPI/OSPI NOR flash.
Would be handy if it's selected per def

[2022-07-12 10:27] smrtos commented on #47300
@nordic-krch  Could you help check this issue? Thx!

[2022-07-12 10:30] nashif commented on #47604
If we take this as a reference: [Test fixture](https://en.wikipedia.org/wiki/Test_fixture#Software)

Test fixtures can be set up three different ways: in-line, delegate, and implicit.

- In-line setup creates the test fixture in the same method as the rest of the test. While in-line setup is the simplest test fixture to create, it leads to duplication when multiple tests require the same initial d

[2022-07-12 10:43] Klievan opened #47676 "bt_data_parse is destructive without warning"
**Describe the bug**
When calling bt_data_parse, the advertisement data that you pass to it gets destroyed. It get's passed as a net_buf_simple and the data is being removed by the function directly calling net_buf_simple_pull on the data. This makes it so the data becomes unusable in other parts of the function. I could not find any pointers in the documentation that this would render the ad poin

[2022-07-12 11:02] nashif commented on #47604
pytest has the above per testcase, [Robot Framework ](https://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#test-setup-and-teardown )as well

[2022-07-12 11:57] andrzej-kaczmarek commented on #46721
@carlescufi overlooked that comment before, updated now

[2022-07-12 12:12] #45741 closed

[2022-07-12 12:38] sem1-nordic opened #47682 "bt_gatt_unsubscribe creates write request to CCC and then cancels it"
**Describe the bug**
bt_gatt_unsubscribe calls bt_gatt_cancel straight after gatt_write_ccc, this means that the write callback function returns BT_ATT_ERR_UNLIKELY.

This bug was introduced in commit [8d5be19](https://github.com/zephyrproject-rtos/zephyr/commit/8d5be19e0ba26c3cadc26fdf454e64ad684af96c).

Please find link to Nordic Devzone ticket highlighting the issue - https://devzone.nordicsemi

[2022-07-12 12:55] yperess commented on #47604
I assume the pytest flow you mean is:

[code]

Where the fixture is added to the `test_with_special_cleanup()` using the annotation `pytest.mark.usefixtures`? If so, I'm still not seeing where this is a missing feature. For example, while teardown is a bit harder, if you really didn't want to split things off into a separate suite, you could do the same via:

[code]

As per testing frameworks:
JUn

[2022-07-12 13:07] yperess commented on #47604
I've been toying with an idea that I think might solve the 1cpu issue, but it isn't as flexible as per test before/after.

We could simply provide `bool is_1cpu()` and check it in the ztest logic. If it returns true, we can call `z_test_1cpu_stop()` for the test.

[2022-07-12 13:10] rlubos commented on #47683
Any chance for a Wireshark pcap from the test?

[2022-07-12 13:28] nashif commented on #47604
@yperess  I also do not like the idea of `ZTEST_1CPU` although I suggested it on discord the other day, this does not scale if we have something else similar to 1CPU and adding those to the API just does not make sense, I agree. But we need to have a way to deal with per testcase before/after or something else that is not 1cpu specific and more of a general solution.
We should not rush into soluti

[2022-07-12 14:01] yperess commented on #47604
@nashif I had another thought just now, we could actually do something like XCtest, ztest could support a single linked list of cleanup functions that we can register when the test is running, in a very rough example:

[code]
I would want to pass the fixture when available, but I haven't quite thought of how.

[2022-07-12 15:07] ABOSTM opened #47696 "tests: arch: arm: arm_thread_swap: regression since use of new ztest API"
**Describe the bug**
Since use of new ztest API (PR #47525) there is a regression on some board for tests/arch/arm/arm_thread_swap:
| test | Board | Status |
| -------- | --------|--------|
|tests/arch/arm/arm_thread_swap/arch.arm.swap.common	                                                |stm32f3_disco	|failed|
|tests/arch/arm/arm_thread_swap/arch.arm.swap.common.fpu_sharing

[2022-07-12 15:11] ABOSTM commented on #47696
^^ @shaoanxli as your are the submitter of the PR causing the regression, could you help on this issue ?

[2022-07-12 16:14] fabiobaltieri commented on #47613
Assigning to @nashif for coordination, guess the owners of the individual tests should take care of them.

[2022-07-12 16:23] nashif commented on #47220
can you submit a PR fixing this please?

[2022-07-12 16:25] fabiobaltieri commented on #47477
Possibly reported on stm32 as well in #47696?

[2022-07-12 16:29] carlescufi commented on #47649
@carlst thanks for reporting. Is this a regression? Or you haven't tried older Zephyr versions?

[2022-07-12 16:46] quic-egmc opened #47700 "Proposal: add runtime cacheability control interface"
## Introduction

Define a dynamic cacheablity control interface in Zephyr to change cacheability attributes for memory ranges at runtime.

### Problem description

Even though core Zephyr memory management is largely static there are scenarios where some memory spaces / buffers become visible only at runtime.

One example of this is IPC with shared memory across cores.  The address, size and even

[2022-07-12 16:55] tpennors opened #47702 "twister: regression : Failures are counted as errors"
**Describe the bug**
Failures are counted as errors. Must be a regression because it was working well before

**To Reproduce**
Steps to reproduce the behavior:
1. Create a build error in `zephyr/samples/hello_world/main.c`
2. run ./scripts/twister -T samples/hello_world/ -p b_u585i_iot02a
3. See error:
![twister_error](https://user-images.githubusercontent.com/15906660/178548347-3aba1ed4-aa71-44e0

[2022-07-12 17:31] nashif commented on #47702
backport fix available, this is 3.1 specific.

[2022-07-12 17:33] fabiobaltieri commented on #47696
@shaoanxli could you look into this? Think this is from #47525

[2022-07-12 20:19] carlst commented on #47649
I have not tried older Zephyr versions. I have reviewed parts of the `conn` module handling disconnects, and will add further logging to gather more details.

[2022-07-12 20:21] Thalley commented on #47676
Not really a bug, but rather some documentation that can be enhanced.

[2022-07-12 21:32] edersondisouza commented on #47508
@enjiamai Created a PR simply removing this test (#47710), but one thing got me curious. With your suggested changes, I was able to run the test (it hangs, so not really useful), but no "QEMU NOTFOUND" issues. I wonder if there's something wrong in your environment. Can you run anything using qemu_xtensa?

[2022-07-12 22:27] aurel32 commented on #47323
I have just tested that a Lora E5 module (based on the STM32WL) still works with the current master for sending data.

[2022-07-12 22:42] #47508 closed

[2022-07-12 22:51] HelloWorldTeraByte commented on #47323
@aurel32 That is good to hear. Did you use the `lora_e5_dev_board` board files?. If not do you mind sharing the .dts files used?. Also was it with the sample application under `samples/drivers/lora/send`?

I will try upgrading to the latest master branch later today and see if it fixes the issue.

[2022-07-12 23:08] cfriedt commented on #46758
Perfect - would be great to leverage that :-)

I think it makes sense to use whatever TLS implementation the project intends to support, and there may have been talk of changing that IIRC.

[2022-07-12 23:09] enjiamai commented on #47508
Hi @edersondisouza , the "QEMU NOTFOUND" is my SDK problem, it vanished after I re-install the zephyr-SDK. Sorry for not updating this information. Thanks for fixing this test!

[2022-07-12 23:10] cfriedt commented on #46758
At the dev review (or what is the TSC meeting?) that was more or less the agreed direction. I.e. rather than go through the exercise of trying to integrate a 3rd-party server, simply tailor one precisely to Zephyr's needs and leverage existing code.

[2022-07-13 00:18] carlst commented on #47649
I added further logging to `bluetooth/host/conn.c` and captured a `send_buf` operation followed by a disconnect in log file boflo4_47649

The added log entries (see `send_frag 2 failed` and `send_buf: failed`) indicate failure to completely send the buffer. As the connection proceeds through disconnect state, it is marked for cleanup (the added log entries `bt_conn_set_state: set cleanup : old_sta

[2022-07-13 01:50] hunterhu3000 opened #47714 "test: tests/lib/sprintf/ build fail"
**Describe the bug**
tests/lib/sprintf/ build fail due to warning treated as error in twister

Please also mention any information which could help others to understand
the problem you're facing:
 - on platform: mec17
 - What have you tried to diagnose or workaround this issue? Submit https://github.com/zephyrproject-rtos/zephyr/pull/47715

**To Reproduce**
Steps to reproduce the behavior:
1. west

[2022-07-13 02:08] shaoanxli commented on #47696
Of course , I think add the "NVIC_DisableIRQ(i);" command at the end of the test_arm_syscalls test or make the arm_isr_handler interrupt execute only once can fix it. I do not have the hardware platform here, can you help test the case?

And this may not be the best way, does anyone have a better idea?

[2022-07-13 02:48] stephanosio commented on #47714
Duplicate of #47588

[2022-07-13 02:48] #47714 closed

[2022-07-13 03:24] #47220 closed

[2022-07-13 03:51] hakehuang commented on #47683
[pcap_window_1.zip](https://github.com/zephyrproject-rtos/zephyr/files/9098754/pcap_window_1.zip)
I am using the qemu_x86 and with overlay-e1000.config, from target console there is
eth_e1000: out of buffers error
looks like the changes on the window size will cause sides effects on buffer limited devices

[2022-07-13 04:13] lenghonglin commented on #42066
hello, i use usb audio these , and the usb audio leak some feature unit, like volume . It there have some plan to do this?

[2022-07-13 05:29] hunterhu3000 commented on #46324
@RuibinChang any update for this issue? Thanks

[2022-07-13 06:12] RuibinChang commented on #46324
Because we do not support CONFIG_TIMESLICE_PER_THREAD, curr->base.slice_ticks of slice_time() is a large number (should be zero), then _current_cpu->slice_ticks of z_reset_time_slice() will be set a large ticks remaining in current time slice.

[2022-07-13 06:25] undisputed-seraphim opened #47719 "Configure-time library dependency problem"
There's no question label so I went with bug.

I'm attempting to build a library on Zephyr with West, called Foo. This library depends on Bar to be built and installed to some prefix before its CMakeLists will even pass the configure stage. Unfortunately I own neither Foo nor Bar so I'm not in a position to fix either library.

Compiling Bar and manually moving libbar.a to the toolchain install pr

[2022-07-13 06:27] smrtos commented on #46925
Checking the spec to decide if the increased size is safe.
And we also tried to increase the frequency of reading logs from winstream buffer in hope that logs can be extracted out before wrapping. But no obvious effect.

[2022-07-13 07:10] hunterhu3000 commented on #46324
@RuibinChang So the test of
[code]
is invalid on it8xxx2_evb, right?

[2022-07-13 07:12] RuibinChang commented on #46324
Yes

[2022-07-13 07:22] rlubos commented on #47598
This is not a bug but a missing feature (more or less covered by https://github.com/zephyrproject-rtos/zephyr/issues/28120). Yes, for large transfers block-wise CoAP transfer should be used, but support for this is not mandatory per LwM2M spec. The only part where block transfer is mandatory is FW update, and this we do support.

[2022-07-13 07:32] RomainPelletant commented on #47598
I would implement that feature (at least for send method). I am not sure if the message (payload) shall be serialized once and then sent by blocks or if each block shall be serialized.
In the first case, it means reserving memory for the whole object serialization, and the second one only for payload size block.
I suggest for READ requests to be block-serialized and for SEND method, the object to

[2022-07-13 07:54] RuibinChang commented on #46324
@hunterhu3000  Do others riscv platform are default DCONFIG_TIMESLICE_PER_THREAD=y? Or do you know which riscv platform is default DCONFIG_TIMESLICE_PER_THREAD=y?

[2022-07-13 09:34] hunterhu3000 commented on #46324
According to the current code, all the riscv board will test with DCONFIG_TIMESLICE_PER_THREAD=y.
But we only have 1 riscv board in the daily test, that is it8xxx2_evb. So we do not know if other riscv board can pass this test.

[2022-07-13 09:34] ABOSTM commented on #47592
@hunterhu3000 , it looks similar the issue I faced: #47671
so you can check the patch I pushed which has just been merged

[2022-07-13 09:36] #45938 closed

[2022-07-13 09:39] Thalley opened #47724 "LE Audio: Add `reason` to `bt_audio_stream_ops.stopped`"
**Is your enhancement proposal related to a problem? Please describe.**
The `bt_audio_stream_ops.stopped` callback is called in case of ISO disconnection. Since the ISO disconnection caries a `reason`, we should forward this reason to the upper layer.

**Describe the solution you'd like**
Add `uint8_t reason` to `bt_audio_stream_ops.stopped`

**Describe alternatives you've considered**
N/A

**Addi

[2022-07-13 09:42] LixinGuoX opened #47725 "qemu_arc: tests/kernel/context/ failed when migrating to new ztest API"
**Describe the bug**
I am migrating tests/kernel/context/ to new ztest API, see #47229, I got a CI failure on qemu_arc_hs and qemu_arc_em.
Test execution order has been changed, but this change only blocks the two platforms.

**To Reproduce**
Steps to reproduce the behavior:
1. See CI error of https://github.com/zephyrproject-rtos/zephyr/pull/47229

**Logs and console output**
[code]

[2022-07-13 09:51] carlescufi commented on #46173
Please do, since the problem described in this issue is solved.

[2022-07-13 09:51] #46173 closed

[2022-07-13 11:40] msasdk opened #47731 "JESD216 fails to read SFDP on STM32 targets"
**Describe the bug**
when used on STM32 target with QSPI flash, /samples/drivers)/jesd216 sample outputs
```Read SFDP not supported: device not JESD216-compliant (err -134)```

 - What target platform are you using?
  STM32H750VB

- What have you tried to diagnose or workaround this issue?
  Modified flash_stm32_qspi.c to log the read SFDP magic word. This is the output from the log:
[code]
It see

[2022-07-13 11:48] asarbs commented on #47238
I have do some more investigation and  i have information that if i set CONFIG_SPEED_OPTIMIZATIONS=y, mount point flags suggest that this is READ ONLY File system.

[2022-07-13 12:37] nvincent-vossloh opened #47732 "Flash map does not fare well with MCU who do bank swaps"
**Describe the bug**
On devices with two flash banks, a partition allocated in the first bank before a bank swap would become located in the second bank after a bank swap. Currently there is no way to fetch the proper address of a partition depending on the bank swap state.

I've encountered this issue when using `settings_fcb` on nucleo_h743zi, when I load my application firmware in each bank, do

[2022-07-13 13:16] ABOSTM opened #47734 "tests/posix/eventfd/ : failed on both nucleo_f103rb and nucleo_l073rz with 20K RAM only"
**Describe the bug**
Test
   `tests/posix/eventfd/portability.posix.eventfd.newlib,`
fails on both nucleo_f103rb and nucleo_l073rz which have only 20K RAM

As we can see in the error log:
`memory space available for newlib heap is less than the minimum required size specified by CONFIG_NEWLIB_LIBC_MIN_REQUIRED_HEAP_SIZE`
So it seem there is not enough RAM for this test. There is effectively only 2

[2022-07-13 13:37] cfriedt commented on #47734
@ABOSTM - Sounds good to me. I'll tag you on the PR

[2022-07-13 14:09] PerMac commented on #47500
It works with your command, but not with the one I reported ;) The difference is that you used it with hw map. From a quick check:
- One can only succeed if using --build-only with provided hw map and then --test-only also with the map.
- when using --device-serial instead of a hw map twister will fail with the error I reported
- I see your  fix, that untangled the need for --device-testing to get

[2022-07-13 14:14] FRASTM commented on #47731
The stm32 flash driver has no  API for read sfdp. (So this issue is more an enhancement than a _bug_)
That should be added to the flash_stm32_qspi_driver_api and also to flash_stm32_ospi_driver_api with :
[code]

[2022-07-13 14:25] rachelh1998 commented on #47551
I get a similar error when enabling these configs
# TLS configuration
CONFIG_MBEDTLS=y
CONFIG_MBEDTLS_BUILTIN=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_RSA_ENABLED=y

The error:
#error "MBEDTLS_ECP_C defined, but not all prerequisites"

[2022-07-13 14:29] yperess commented on #47604
Afaik, TestNG's before/after will run on every function in the class/suite. https://howtodoinjava.com/testng/testng-before-and-after-annotations/#1-testng-before-and-after-annotations explains it pretty well.

[2022-07-13 15:14] smrtos commented on #47604
Yeah... it's 4 more... miscounted... 😵

[code]

I agree that we should be cautious about API design.
Let's hear more from the community and see how to balance between intuitiveness and purity.

[2022-07-13 15:17] danieldegrasse commented on #47238
@asarbs  Interesting that this fixes the issue- based on your initial description I expected the issue was that CMD55 (app command) was being sent to the card too soon after CMD8. If you replace the `LOG_INF` statement with `k_busy_wait(100)` is the issue also resolved?

[2022-07-13 15:37] henrikbrixandersen opened #47742 "NXP LPC MCAN driver front-end lacks pinctrl support"
**Describe the bug**
Commit f8bc6e59d403c247e8b1f16e80e62bf932f17758 introduced pinctrl settings for the lpcxpresso55s16 board, but neglected to add pinctrl support to the NXP LPC MCAN driver front-end.

**Expected behavior**
The driver front-end should apply the pinctrl information from the devicetree.

**Impact**
This results in CAN RX/TX pins not being configured for CAN, thus no CAN communicat

[2022-07-13 15:56] #47734 closed

[2022-07-13 16:40] quic-egmc opened #47751 "soc/arm/common/cortex_m doesn't work for out-of-tree socs"
When an out of tree SOC is defined the Zephyr SOC_DIR points to a different location:

https://github.com/zephyrproject-rtos/zephyr/blob/main/cmake/modules/soc.cmake#L59

This means the line in the top-level CMakeLists.txt that looks for a ${SOC_DIR}/${ARCH}/CMakeLists.txt fails to find it:

https://github.com/zephyrproject-rtos/zephyr/blob/main/CMakeLists.txt#L566

and as a result the processing

[2022-07-13 16:54] sslupsky commented on #43959
Yeah, this is a good idea.  I encounter this problem using macOS where spaces in the path are common.  It is particularly difficult to work around if you try to use iCloud since macOS expands the iCloud path with "Mobile Documents".

[2022-07-13 18:07] carlescufi commented on #47751
@quic-egmc please use backticks for monospace

[2022-07-13 19:07] edmont commented on #47551
Hi @fcgdam, could you try these changes? https://github.com/zephyrproject-rtos/zephyr/pull/47756

[2022-07-13 19:23] #47696 closed

[2022-07-13 20:39] aurel32 commented on #47323
No that was initially my own application with my board device tree. That said, I have just tried running the `samples/drivers/lora/send` sample, and it works just fine for me (but I am running the latest master). I do not get any console output given my board is not wired for that, but I correctly receive the messages sent by the sample on the receiver.

[2022-07-13 21:17] henrikbrixandersen commented on #47014
Confirmed. @alexanderwachter, @martinjaeger Any of you able to take a look at this? You are more familiar with the internal workings of ISO-TP than I am.

[2022-07-13 21:18] henrikbrixandersen commented on #44725
@martinjaeger Do you still plan to take a closer look at this?

[2022-07-13 21:25] keith-zephyr opened #47762 "Some github users in the MAINTAINERS file are missing permissions"
**Describe the bug**
Some of the github users in the MAINTAINTERS file are missing triage/write permission.

Specific github users:
* @sambhurst (maintainer of state machine framework)
* @jeremybettis (collaborator of Ztest)

I am unable to select either user as a reviewer on PRs.

[2022-07-13 21:26] keith-zephyr commented on #47762
@sambhurst @jeremybettis for visibilty

[2022-07-14 01:52] stephanosio commented on #47762
@sambhurst has been added to the maintainers team
@jeremybettis has been added to the collaborators team.

[2022-07-14 01:52] #47762 closed

[2022-07-14 03:49] LixinGuoX commented on #47477
I think this is a platform specific issue.

[2022-07-14 05:15] asarbs commented on #47238
@danieldegrasse sorry last comment was my mistake, if we are talking about initial issue I still don't have solution.

[2022-07-14 06:23] boaks commented on #47341
In my experience, there are many using UDP without "connect" in order to use a single socket to communicate with a couple of other peers. Therefore I don't think, that couple DTLS to a "UDP connect" makes too much sense. The DTLS implementations usually keeps track of the security context in map based on `ip-address:port` or `Connection ID` and doesn't require that "connect".
So, I would prefer, i

[2022-07-14 06:32] boaks commented on #45956
If an application-message (or dtls-record) is split in several UDP packets, I'm not sure about the reliability of the outcome. That opens also a too large DoS door, sending a lot of data (upd-packets), but not that last upd-packet keeping the other peer holding data, but can't verify the MAC in order to withdraw it.
In my opinion, such an approach doesn't make too much sense for so much trouble.

[2022-07-14 07:26] fcgdam commented on #47551
Hi @edmont, yes it compiles now and the SRP cli commands are available. Nevertheless it seems that SRP is not working, but that is another issue.

[2022-07-14 07:26] #47551 closed

[2022-07-14 07:28] Laczen commented on #47732
@nvincent-vossloh, shouldn't this be integrated in the flash driver ? IMO the flash driver should use absolute addresses and the partition definition in the dts is a definition of absolute addresses. When executing from a "swapped" bank the driver should take this into account and correct the addresses (if required). Since it is possible to detect the bank that is executing this should not be a bi

[2022-07-14 07:59] stephanosio commented on #47588
https://github.com/zephyrproject-rtos/zephyr/blob/0e00cccb7ae2a037b7f5ce21f6c61da5d75733bb/cmake/compiler/gcc/compiler_flags.cmake#L28-L35

Indeed I can see that `-Wformat-security` and `-Wno-format-zero-length` are being omitted even though they are supported.

cc @tejlmand

[2022-07-14 08:51] kruithofa opened #47775 "Bluetooth Controller qualification"
3.1.0 is not passing all Bluetooth qualification tests. Make sure to backport relevant fixes from main branch to 3.1.0 release.
Exact reason/failing tests are described in the respective PRs

IMPORTANT: This issue covers all required fixes to be backported to the v3.1 branch in order to qualify the release.

[2022-07-14 09:40] smrtos commented on #46925
We decided to remove the excessive log output. May be fixed #47779.

[2022-07-14 09:55] WolsYang opened #47780 "WS2812 driver not work on nRF52833DK"
****Describe the bug**
A clear and concise description of what the bug is.**
WS2812 driver not work on nRF52833DK

**Please also mention any information which could help others to understand
the problem you're facing:**
 **- What target platform are you using?**
 nRF52833DK
 **- What have you tried to diagnose or workaround this issue?**
 Try build 52832 sample code to drive ws2812, and it work.
`

[2022-07-14 10:03] angeldelacalle opened #47781 "MCUbootloader with b_u585i_iot02a (stm32u585) boot error"
**Describe the bug**
After running the mcuboot in a stm32u585 board with an image correctly signed and flashed in the image slot 0, the header address of the configuration do not match the real address where the msp and reset vectors are written from the hex file.

**To Reproduce**
Steps to reproduce the behavior:

1. Removing the "--erase" tag in the board.cmake (b_u585i_iot02a directory).

2. Bu

[2022-07-14 10:07] WolsYang commented on #47780
Here is the video what I do
You can see if dashing 52833 image will cause ws2812 keep flashing wrong color

https://user-images.githubusercontent.com/32448584/178958223-d22337e5-f206-4350-bcb4-1531fca8bc34.mp4

.

[2022-07-14 10:21] chandu07 commented on #40827
Hey there, I've had a similar issue and sorted it out now. For the future users, one modification to the solution proposed by @laurenmurphyx64 is to use `tflite-micro` rather than `tensorflow `in `name-allowlist`.

Cheers!

[2022-07-14 10:37] HelloWorldTeraByte commented on #47323
I tried upgrading to the latest master branch and the problem still persists. It is still stuck in the same place as the original bug report.

I have a feeling the problem could be with the clock setup.

@aurel32 Do you mind either testing the sample application with the `lora_e5_dev_board`? or posting the board files?. I believe the board config is the only difference between your working setup a

[2022-07-14 10:46] SRikinR opened #47783 "warning: attempt to assign the value 'y' to the undefined symbol UART_0_NRF_FLOW_CONTROL"
We are trying to compile zephyr V3.1.0 from our linux system (OS version: Ubuntu 20.04.4 LTS | 64 bit) but are not able to build the the image as per configuration for nrf52840 soc.

 Following are the steps we followed to compile the image:
1) we cloned the zephyr repo from the following link https://github.com/zephyrproject-rtos/zephyr and then we have checkout to branch zephyr-v3.1.0.
2) As per

[2022-07-14 10:46] de-nordic commented on #47732
@Laczen As far as I understand bank swaps means that the MCU can swap address space mapping to ROM banks. For example when you have address space A and B ,  and banks 1 and 2, you can either have mapping A->1 and B->2 or A->1.
This means that you, at run-time, still have access to both banks but depending how MCU started, access to banks 1 and 2 will happen from different address spaces; this mean

[2022-07-14 10:53] aurel32 commented on #47323
My last test was with the `lora_e5_dev_board`. The only change I made to the sample was the radio frequency to match the one of my receiver. Note that I uses the SDK version 0.14.2. I don't know if it makes any difference.

[2022-07-14 11:15] Laczen commented on #47732
@de-nordic, your understanding is correct. If the drivers would access flash by offset within a device this would not be a problem. The device definition states the flash starts from a certain (constant start address) and has a certain size. The device does not change when running from a different bank. However it seems that the driver does change the device definition based upon the bank it is ru

[2022-07-14 11:53] stephanosio commented on #47588
This is because `check_set_compiler_property` tests the specified flags individually, and specifying `-Wformat-security` alone without `-Wformat` generates the following warning:

[code]

In case of `-Wno-format-zero-length`, specifying it without `-Wformat` does not generate any warnings, but the `zephyr_check_compiler_flag` actually uses `-Wformat-zero-length` for testing the availability of thi

[2022-07-14 13:12] henrikbrixandersen commented on #47204
Thank you. I can confirm the issue. I am looking into providing a fix.

[2022-07-14 13:44] martinjaeger commented on #44725
Thanks for the reminder. I started working on it, but it turned out to be a bit more complicated than expected, so I couldn't find a fix immediately. Having another try now :)

[2022-07-14 14:25] fabiobaltieri commented on #47477
@LixinGuoX can you try with

[code]

Worked for me on a local run.

[2022-07-14 14:40] julius-barendt commented on #47477
SPARC is pretty stack heavy yes. But CONFIG_MAIN_STACK_SIZE=512 will also make the test run without problems.

It breaks somewhere in '_z_cbvprintf_impl_' and using _CONFIG_CBPRINTF_NANO=y_ will also fix the issue. But I haven't found a root cause yet.

[2022-07-14 15:09] rlubos commented on #47683
@hakehuang @dleach02 I've identified a potential deadlock situation, in case both ends are transferring data. I'm not 100% certain that this is the reason of the test failure, but for sure I hit this problem where I've tested similar scenario on my side. I've opened a draft PR for now - please check the commit description for the details about the scenario where the deadlock can occur:
https://git

[2022-07-14 17:01] pm215 commented on #47330
Hi; I was pointed to this issue since Tobias has posted his patches to add R52 support to the QEMU mailing list.

The behaviour of "msr spsr_hyp, r0" when executed from anything except Monitor mode is architecturally UNPREDICTABLE, and this doesn't change for v8R. You can see this in the v8R Supplement pseudocode function aarch32/functions/system/SPSRaccessValid:
[code]

The use of this instructio

[2022-07-14 23:34] cjgraydon opened #47817 "samples/modules/nanopb/sample.modules.nanopb fails with protobuf > 3.19.0"
[logfiles.zip](https://github.com/zephyrproject-rtos/zephyr/files/9116569/logfiles.zip)
[logfiles.zip](https://github.com/zephyrproject-rtos/zephyr/files/9116583/logfiles.zip)

qemu_xtensa samples/modules/nanopb/sample.modules.nanopb fails with protobuf > 3.19.0 in twister run

I've reproduced this on both Debian 10 and Ubuntu 20.04 with SDK 0.14.2, with rev 6b33c03892da7609814d20d039bf60793c6cc14

[2022-07-15 00:01] galak commented on #10516
@carlescufi should we close it now :).  I think so.

[2022-07-15 00:04] galak commented on #32139
@benjaminbjornsson mind taking a look at this.

[2022-07-15 01:46] povergoing commented on #47330
Thanks for your clarification, would you like to mention in your reported ticket that FVP doesn't handle the `msr spsr, r0`? So far we cannot change it to "msr spsr, r0".

Specifically, I have tried "msr spsr, r0" in `FVP_BaseR_Cortex-R52x1` FVP (version 11.17.3 (Jan 23 2022)), after "msr spsr, r0", the SPSR.E bit won't be set to 0, so that the core work as `big-endian` instead of `little-endian`

[2022-07-15 04:28] zdtyuiop4444 opened #47822 "Stack Overflow when calling spi at an interrupt on STM32l4"
**Describe the bug**
I'm testing the dw3000 driver I wrote, it works all fine when I use esp32 but it cause a MPU FAULT when I switch to my stm32l431cct6 board.

I have tried to fix this problem by setting
CONFIG_MAIN_STACK_SIZE=1024
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=8192
But it still crash when my irq_work_handler try to read the statue of dw3000 chip through spi, it stuck at zephyrproject/zephy

[2022-07-15 05:35] jori-nordic commented on #47682
There is another behavior that's mentioned in the DevZone ticket:

My opinion is that it is okay to miss those notifications since there was an intent from the app to unsubscribe anyway. What do you guys think @Vudentz @alwa-nordic @jhedberg ?

[2022-07-15 05:37] jori-nordic commented on #47649
Hmm I thought it was resolved, but I guess I didn't look hard enough. This very much looks like [#43718](https://github.com/zephyrproject-rtos/zephyr/issues/43718)

[2022-07-15 06:02] hakehuang commented on #47683
this fix works for window size with 1/3/0xff, now the test can pass. @rlubos

[2022-07-15 06:17] mengxianglinx commented on #47588
If there is no cache of -Wformat-zero-length, it will be checked at
https://github.com/zephyrproject-rtos/zephyr/blob/772143248661a4c6f01a9ac063da1f703b748410/cmake/modules/extensions.cmake#L1789

With cmake verison  3.21.0 get value 1, but cmake version version 3.23.0-rc1 get nothing. the check result depends on the version of camke.
So, the better way is to set "check_set_compiler_property" back

[2022-07-15 06:27] LixinGuoX opened #47825 "qemu_cortex_a53_smp: tests/kernel/profiling/profiling_api failed"
**Describe the bug**
tests/kernel/profiling/profiling_api/ failed on qemu_cortex_a53_smp.

**To Reproduce**
Steps to reproduce the behavior:
1. twister -p qemu_cortex_a53_smp -T tests/kernel/profiling/profiling_api -vv

**Expected behavior**
Tests should pass.

**Logs and console output**
[code]

**Environment (please complete the following information):**
 - OS: Linux
 - Toolchain 0.14.2
 - Commi

[2022-07-15 06:46] hermabe commented on #47649
Yes, most likely missing a call to `conn_tx_destroy()` somewhere. I am also wondering why the buffers are not freed on disconnect. `conn_cleanup()` should be called on disconnect and free all buffers.

[2022-07-15 06:48] lsangild commented on #45234
I don't think so. I have been given the answers I need, unfortunately my solution is not possible.
I guess I'll have to stick to the polling, and use interrupts for the most critical signals.

[2022-07-15 06:48] #45234 closed

[2022-07-15 06:59] LixinGuoX commented on #47825
Sorry, have some issue in my local environment, so close this issue.

[2022-07-15 06:59] #47825 closed

[2022-07-15 07:47] yath-eiSmart commented on #47021
Thank you for the feedback! What are the next steps? Has this been discussed by the TSC?

We have prepared the drivers for using the external SDK module, so we are ready to proceed with the contribution.

[2022-07-15 08:01] #47682 closed

[2022-07-15 08:10] #13196 closed

[2022-07-15 08:43] shuai1x opened #47830 "Intel CAVS: Build failure due to #47713 PR"
**Describe the bug**
On intel_adsp_cavs15/18/25, /tests/misc/print_format, /tests/lib/newlib, /tests/subsys/cpp/cxx, /tests/subsys/cpp/libcxx, /tests/subsys/logging and /tests/posix build failure.

Please also mention any information which could help others to understand
the problem you're facing:
 - intel_adsp_cavs15, intel_adsp_cavs18, intel_adsp_cavs25
 - build failure due to 47713 commit.

**T

[2022-07-15 09:15] povergoing commented on #47330
@pm215 Really appreciate it if you would like to have a look

- FVP: `FVP_BaseR_Cortex-R52x1` with `version 11.17.3 (Jan 23 2022)`

- command: `FVP_BaseR_Cortex-R52x1 -C bp.sram.enable_atomic_ops=1 -C bp.refcounter.non_arch_start_at_default=1 -C bp.pl011_uart0.out_file=- -C bp.pl011_uart0.unbuffered_output=1 -C bp.terminal_0.start_telnet=0 -C bp.pl011_uart1.out_file=- -C bp.pl011_uart1.unbuffered_

[2022-07-15 09:58] smrtos opened #47833 "Intel CAVS: cavstool.py fails to extract complete log from winstream buffer when logging is frequent"
**Is your enhancement proposal related to a problem? Please describe.**

(Below code is slightly changed from the [cavstool.py](https://github.com/zephyrproject-rtos/zephyr/blob/d98cad84c66b603782db5ceb1a4034623ace8e4a/soc/xtensa/intel_adsp/tools/cavstool.py#L528-L547) to better describe the issue.)

There's no synchronization between cavstool.py running on host and the fw running on the board.
If

[2022-07-15 10:17] #40664 closed

[2022-07-15 13:03] PetrenkoIgor opened #47847 "How to PM change pm_state"
I use nrf5340
I have a problem with state changes
i use this function  pm_state_force()  but it doesn't give the expected result, what am i doing wrong?
example:
`pm_state_force(0u, &(struct pm_state_info){PM_STATE_SUSPEND_TO_RAM, 1, 0});  // or another pm_states, work only with PM_STATE_SOFT_OFF`

[2022-07-15 13:42] nordic-piks opened #47852 "samples: boards: nrf: s2ram No valid output on console"
**Describe the bug**
The samples/boards/nrf/s2ram/sample.boards.nrf.s2ram fails on-target tests - no valid console output.

Observed/executed only for nrf5340dk_nrf5340_cpuapp.

When running sample on device there is no console output other than:
ERROR   - *** Booting Zephyr OS build zephyr-v3.1.0-2138-g700de003e849  ***

In this configuration (harness not specified), there is ztest output expecte

[2022-07-15 13:45] carlocaione commented on #47852
that or `harness: remote`. I'll take care of this.

[2022-07-15 13:46] carlocaione commented on #27638
Why is this medium priority?

[2022-07-15 13:47] Thalley opened #47853 "LE Audio: Remove role specific code from `stream.c`"
**Is your enhancement proposal related to a problem? Please describe.**
The `stream.c` file should only deal with the `bt_audio_stream` functionality, but it current also handles a lot of `CONFIG_BT_AUDIO_UNICAST_CLIENT` and `CONFIG_BT_AUDIO_UNICAST_SERVER` behavior which should be moved to `unicast_client.c` and `unicast_server.c` respectively.

**Describe the solution you'd like**
We should not

[2022-07-15 13:49] MaureenHelm commented on #47021
Thank you for addressing the license issue so quickly; agree with @carlescufi it looks good now. The TSC plans to make a decision next week.

You can go ahead and send a draft PR that points west.yml to your module repo. We won't be able to merge it until after the TSC approves and creates a mirror in the zephyrproject-rtos org, but we can start code reviews on the driver shims in the meantime. Pl

[2022-07-15 13:57] FLATT-Dev opened #47854 "Multiple blinking LED's cannot be turned off"
I have a custom NRF52840 board with 8 LED's and I use pwm API led_on(), led_off, led_blink() etc, to turn them on, set brightness and blink and everything works fine except one case
When I have more than 1 LED's blinking I cannot turn them off
The reason is this block of code in SDK\zephyr\drivers\pwm\pwm_nrfx.c, function  pwm_period_check_and_set()

[code]
When multiple LED's are blinking the exp

[2022-07-15 14:04] nordic-piks opened #47855 "tests: arch: arm: fpu: arch.arm.swap.common.fpu_sharing.no_optimizations - Data Access Violation - MPU Fault"
**Describe the bug**
The tests/arch/arm/arm_thread_swap/arch.arm.swap.common.fpu_sharing.no_optimizations fails on-target tests - Data Access Violation - MPU Fault

Observed for
- nrf52dk_nrf52832
- nrf5340dk_nrf5340_cpuapp
- nrf52840dk_nrf52840
- nrf9160dk_nrf9160

There is MPU Fault detected and system halts, no other output.

**To Reproduce**
Steps to reproduce the behavior:
1. have nrf52840dk

[2022-07-15 14:08] TomzBench opened #47856 "lib: posix: allow eventfd on ARCH_POSIX platform"
**Is your enhancement proposal related to a problem? Please describe.**
I would like to be able to use `eventfd` on `native_posix_64` platform for testing purposes.

**Describe the solution you'd like**
Currently - eventfd is treated as a general library feature and maintained under `lib/posix` ... And this feature depends on `!ARCH_POSIX`.  However - other socket API do not have this same limitat

[2022-07-15 14:13] 99003662 opened #47857 "Zephyr USB-RNDIS"
HI team,
            I am following the below link to run the usb- rndis example. I have modified the conf according to the link . however it is not working .  it is not detecting the usb driver itself( i.e in network adaptor it should detect that remote ndis compatible  device).  [ https://github.com/zephyrproject-rtos/zephyr/issues/44573 ].  Do we have any direct example to test this functionali

[2022-07-15 14:13] Thalley opened #47858 "LE Audio: Remove "Input" from MICP"
**Is your enhancement proposal related to a problem? Please describe.**
It was assumed that MICP was Microphone **Input** Control Profile, but the **I** is not for **Input** but rather the **i** in M**i**crophone.

**Describe the solution you'd like**
Any place that says `Microphone Input Control` should be renamed to `Microphone Control`.

**Describe alternatives you've considered**
N/A

**Additi

[2022-07-15 14:31] pm215 commented on #47330
Ah, I see what's happened. This is my mistake with the instruction I suggested. The right/full form of the instruction is ``msr spsr_<fields>, r0``, where ``<fields>`` is a set of letters saying which fields in the SPSR should be written. If you look at an objdump of the non-working binary you can see:
[code]
that since the source file didn't specify fields the assembler has defaulted to ``fc``, w

[2022-07-15 14:49] anrudolf opened #47860 "Bluetooth: shell: bt init sync enables Bluetooth asynchronously"
**Describe the bug**

Just a small bug, but something that I noticed:

- The Bluetooth shell command "bt init" enables Bluetooth synchronously with bt_enable(NULL).
- The Bluetooth shell command "bt init **sync**" enables Bluetooth **asynchronously** with a callback through bt_enable(bt_callback).

**Expected behavior**

- The Bluetooth shell command "bt init" should enable Bluetooth asynchronousl

[2022-07-15 15:01] anrudolf commented on #47860
(I opened a pull request https://github.com/zephyrproject-rtos/zephyr/pull/47861)

[2022-07-15 16:26] alwa-nordic commented on #46798
@jilu-ot You closed your PR with comment https://github.com/zephyrproject-rtos/zephyr/pull/47043#issuecomment-1185524179, saying the problem is already solved by https://github.com/zephyrproject-rtos/zephyr/pull/33266. Can this issue be closed? Or are we missing a back port to a still-supported Zephyr version?

[2022-07-15 17:18] jfischer-no commented on #47783
CONFIG_UART_0_NRF_FLOW_CONTROL was removed in favor of `hw-flow-control` property in devicetree, see
commit 43cad10f73694e81cd73e245ddea273f01098c6d and `samples/bluetooth/hci_uart/boards/nrf52840dk_nrf52840.overlay`.
Remove Kconfig option CONFIG_UART_0_NRF_FLOW_CONTROL from your configuration and use `hw-flow-control` in your board devicetree or application devicetree overlay.

[2022-07-15 17:18] #47783 closed

[2022-07-15 20:22] aasthagr opened #47872 "Differentiating Samples, Tests & Demos"
## Introduction

This RFC is intended to be discussed by TSC members, maintainers, and collaborators.

Comments are welcomed.

### Problem description

There is confusion between what goes under "tests" versus what goes under "samples". Part of this is due to no proper distinction between a Test and a Sample.

### Proposed change

We currently have two categories of projects (Samples & Tests). Not

[2022-07-15 22:26] #47676 closed

[2022-07-15 22:38] mmahadevan108 commented on #43390
@mdkf can you please take a look at the suggestions from @hakehuang

[2022-07-15 23:28] Abrahamh08 opened #47877 "ECSPI support for NXP i.MX devices"
**Is your feature request related to a problem? Please describe.**
There is no spi driver for freertos i.MX supported devices such as the i.MX7D M4.

**Describe the solution you'd like**
A spi driver using the freertos ECSPI module for i.MX devices.

**Describe alternatives you've considered**
I've tried adding MCUXpresso SDK support for the i.MX7D. It becomes too complicated with their custom non

[2022-07-16 05:57] gregshue opened #47895 "samples: smp_svr missing CONFIG_MULTITHREADING=y dependency"
**Describe the bug**
`zephyr/samples/subsys/mgmt/mcumgr/smp_svr/src/main.c::main()` call to `k_sleep()` depends on multithreading being defined, but does not force this in the `prj.conf`.  This implicit dependency bug blocks reorganizing the `mcuboot` module zephyr port for more consistency with the Zephyr config and build structure (which reveals this bug).

Please also mention any information wh

[2022-07-16 09:16] enjiamai commented on #47830
Seems like due to this commit:
https://github.com/zephyrproject-rtos/zephyr/pull/47713/commits/826c7205f184bf2883182b17e0f52eb3ba80607e

Follow tests have build error on CAVS boards:
tests/lib/mem_alloc
tests/lib/newlib
tests/subsys/logging
tests/posix/common

Try to submit https://github.com/zephyrproject-rtos/zephyr/pull/47897 to fix it, but I'm not sure is this a correct fix.
Hi @nashif , could

[2022-07-16 09:53] #47830 closed

[2022-07-16 12:35] hjuul commented on #43555
Please remove the stale label, this is a quite critical bug.