[2018-02-27 12:55] rmstoi opened #6393 "echo server: crash from NS flood"
echo server crashes from NS flood

[icmpv6-232121.pcap.gz](https://github.com/zephyrproject-rtos/zephyr/files/1762702/icmpv6-232121.pcap.gz)

[net/core] [INF] net_analyze_stack: net (0x004037c0): RX thread stack real size 1500 unused 48 usage 1452/1500 (96 %)
[net/core] [DBG] net_rx_thread: (0x004037c0): Received pkt 0x00406b38 len 86
[net/ipv6] [DBG] net_ipv6_process_pkt: (0x004037c0): IPv6 packe

[2018-02-27 16:22] pfalcon commented on #6365
@mbolivar : Maybe you can suggest something.

[2018-02-27 16:34] pfalcon commented on #6086
Now (actually second iteration of) the implementation of these ideas is available in https://github.com/zephyrproject-rtos/zephyr/pull/5985, as a commit "tls_conf: Convenience API for TLS configuration settings" (current direct link https://github.com/zephyrproject-rtos/zephyr/pull/5985/commits/b14dbe1d67a532730dd7bbf7bb7592ecc46cd563 , bit will be rebased).

[2018-02-27 23:38] cvinayak commented on #5132
@andyross

I do not see a tasklet as a thread, but rather similar to an ISR, a software generated and scheduled ISR like handlers executed one after another.

Tasklets at same priorities queue after each other until completion. Tasklets at a higher priority level interrupt lower priority tasklets, and return back to lower priority tasklet queue on completion of  tasklets higher in priority level.

[2018-02-28 00:28] lpereira commented on #3833
Closing as fixed.

[2018-02-28 00:28] #3833 closed

[2018-02-28 01:48] niuton opened #6399 "How to using the PPI chanels from 20-31 in Nrf5 chip?"
I have seen the Nrf52832 spec and can't know exactly what I have to do to using  programmed channels. Please help me

[2018-02-28 09:07] tarunkum opened #6400 "samples/net/http_client: Failed to connect to samples/net/http_server"
I was trying to test http_server along with http_client with two different frdm_k64f boards.
 The steps I have followed for http_server & http_client is as below:

cd zephyr/samples/net/http_client
 mkdir build && cd build && cmake -GNinja -DBOARD=frdm_k64f ../
 ninja
 cp -vr outdir/frdm_k64f/zephyr.bin /run/media/MBED/

cd zephyr/samples/net/http_server
 mkdir build && cd build && cmake -GNinja -

[2018-02-28 09:13] rveerama1 commented on #6400
@tarunkum Can you try with https://github.com/zephyrproject-rtos/zephyr/pull/6167 PR.

[2018-02-28 09:50] ioannisg opened #6402 "ARMv8-M: Integrate CMSE with build system"
Enable compilation using the CMSE (Security Extensions) support in ARMv8-M when required.

[2018-02-28 15:08] ulfalizer commented on #4951
Was a bit trickier than I anticipated (the devil is in the details), but it's implemented now, using the same scheme as the C tools: https://github.com/ulfalizer/Kconfiglib/commit/378dedcb38b85056991fecab24567414567724ec

[2018-02-28 15:39] ioannisg commented on #6392
The problem in detail:
---

A Non-Secure Zephyr image may not be _aware_ of a co-existing Secure image, that runs in parallel.

Therefore, we need to provide a generic way that such an image will **never** access MCU resources that are meant for exclusive use by the Secure image, namely:
* non-banked CPU registers available only to Secure state
* memory regions and peripherals available only to Se

[2018-02-28 23:30] mbolivar opened #6413 "net_mgmt.h API event set data structure leads to undesirable behavior"
The net_mgmt.h and net_event.h APIs have issues which mean they can't be used correctly:

- Thread-safety (not so serious)
- Definition of "event masks" contradicts fact that the values are *not* independent bit masks that can be logically ORed together (seems quite serious)

*Thread safety*:

Public API functions like `net_mgmt_add_event_callback()` and `net_mgmt_del_event_callback()` use thread-

[2018-02-28 23:31] mbolivar commented on #6413
@mike-scott FYI

[2018-03-01 08:22] tbursztyka commented on #6413
Well you missed that discussion back then, but this event/request/masq was all made on purpose: to save space. It's ok to get events the callback is not waiting for, and thus do nothing: the callback gets the right mgmt_request, so up to the callback to verify it, rather than bloating the net_mgmt_event_callback (and net_mgmt.c internals etc...).

Now if NET_REQUEST_BT_ADVERTISE and NET_EVENT_IPV6

[2018-03-01 15:08] JoeHut commented on #2542
Is anybody working on this Energy Management API? It feels like this is a common problem.

[2018-03-01 15:18] tbursztyka commented on #2542
Does not seem so. But I remember replying on the ml about it: this would already all fit within sensor API. Sensor API supports tweaking "attributes" such as threshold, rate, triggers (events), ...

[2018-03-01 16:48] JoeHut commented on #2542
Interesting! I didn't think of that. I think a State of Charge channel would be necessary than, but the rest is actually already there. Thanks.

[2018-03-01 22:54] mbolivar commented on #6413
Hm, so you're saying that callback handlers *must* check the actual event code, right?

In other words, there are really two data types here:

- actual event codes, which have interesting bitfields inside
- event *sets*, which are ORed together event codes

Event sets act like Bloom filters:

- false negatives are impossible: `(event_code & event_set) != event_code` means the code is not in the se

[2018-03-02 01:44] linkmeyer commented on #6010
Hi @mbolivar , have you had a chance to try the patch @rveerama1 provided above?  This is currently a high priority bug and 1.11 is planned to be released next week so we need to know if the bug is fixed or not.  Thanks!

[2018-03-02 02:26] sam131208 commented on #5982
@nashif  @Vudentz ,under is the log and the source code.

[subscribe.log](https://github.com/zephyrproject-rtos/zephyr/files/1773476/subscribe.log)
[test.tar.gz](https://github.com/zephyrproject-rtos/zephyr/files/1773479/test.tar.gz)

[2018-03-02 05:05] spoorthik opened #6424 "tests/kernel/mem_protect/x86_mmu_api: crashes on Arduino_101"
Test at test/kernel/mem_protect/x86_mmu_api lead to CPU page fault when run on Arduino_101. Please refer the log below:

Yaml file specifies arduino_101 and qemu_x86 as whitelist. The test passes on qemu_x86.
[code]
[code]

[2018-03-02 06:09] #6393 closed

[2018-03-02 06:34] #6382 closed

[2018-03-02 07:43] mike-scott commented on #6010
@linkmeyer I believe this PR fixes our issues now:
https://github.com/zephyrproject-rtos/zephyr/pull/6410

The PR from @rveerama1 fixes another issue w/ multiple net_contexts and happened to include one of the earlier patches of mine that got accidentally removed.  He'll rebase it once #6410 is merged.

[2018-03-02 08:23] JoeHut commented on #2542
@tbursztyka Could you point me in a direction how to enable triggers on charging events? Here we don't have a continuous metric but rather a couple of states (fast charging, normal charging, charging completed, running on battery). I don't see an example of how this could be implemented as part of the sensor API.

[2018-03-02 08:23] linkmeyer commented on #6010
@mike-scott Thanks for the quick response!

[2018-03-02 08:39] tbursztyka commented on #2542
I guess you'll need to add trigger types in sensors.h, the power controller driver below would throw these relevantly.
For events like low level, critical level etc..  I guess you'll need to be able to set the threshold you want for each? Then adding relevant attributes in sensors.h

[2018-03-02 14:40] mbolivar commented on #6413
What do you think about the remaining issues though?

[2018-03-02 14:59] tbursztyka commented on #6413
The sync call net_mgmt_event_wait() behaves the same as with a callback: up to it to check the request.

For the missing event, it's totally fine: net_mgmt is not meant to be reliable. Actually, if the system has too many notifications compared to the size of the internal ring, new events will overwrite the earliest, etc... Loosing event on emitter or receiver side is fine.

[2018-03-02 15:05] mbolivar commented on #6365
@pfalcon there was a thread about this: https://lists.zephyrproject.org/pipermail/zephyr-devel/2018-February/008846.html

I only work in environments where flash is enabled, but it looked like @MaureenHelm had some concrete solutions for @diegosueiro to try that I don't see any additional information about in this issue report.

[2018-03-02 15:09] mbolivar commented on #6010
@linkmeyer just FTR, I had responded in the pull request: https://github.com/zephyrproject-rtos/zephyr/pull/6167#issuecomment-369000294

[2018-03-02 15:15] MaureenHelm commented on #5274
I checked with a scope, and the irqb signal asserts just once, during mcr20a_init before the gpio callback is configured, and never asserts again. I can see all of the spi transactions in power_on_and_setup() complete on a scope. This behavior is the same with and without ethernet enabled.

I've also tried running tests/drivers/spi/spi_basic_api with MOSI/MISO shunted, with and without ethernet en

[2018-03-02 15:30] mbolivar commented on #6413
OK, that's true, but I'm not sure this is "fine", what makes you say so?

Some events are really critical to certain use cases (like link up / down); if net_mgmt is just for logging purposes or so then should we discuss an additional API for reliable event delivery with caller-allocated resources instead of a global queue?

[2018-03-02 15:35] mbolivar commented on #6413
Especially since the queue size is controllable by Kconfig already, and the "set" of events which are handled is controllable by the user, the fact that sets have false positives (due to this choice of data structure) contributes directly to the possibility of lost events, since events nobody cares about within layers people do care about can be added to the queue.

[2018-03-02 15:37] tbursztyka commented on #6413
Well, about the sync method: there is no code using it, perhaps we may remove it in the future as it generates a potential loss from the receiver side. Or maybe we could mandate something: it should be used so wait for 1 command only, and the net_mgmt core would specifically check for an exact match only in this case. What do you think?

But on the emitter side, ring size should be tweaked to lowe

[2018-03-02 16:24] carlescufi commented on #6413
Sorry @mbolivar did not realize this was going to close the issue, I replaced "Fixes" with "Addresses .."

[2018-03-02 16:27] mbolivar commented on #6413
No problem -- I've updated the issue description as you requested to reflect what's happened here.

[2018-03-02 16:56] #4989 closed

[2018-03-02 16:56] #5486 closed

[2018-03-02 18:21] pfalcon commented on #6309
@jimmy-huang : Sorry for the delay with looking into this (I'm working on a project which has a deadline next week). I can reproduce the issue with the code you supplied, thanks for it. Will try to look now if I find something wrong quickly...

[2018-03-02 20:17] webhive opened #6429 "How to add custom driver subdirectory to application project?"
I want to add custom sensor driver to my project. How to organize Kconfig and Cmake files for that?

[2018-03-02 20:50] carlescufi commented on #4951
@ulfalizer thanks a lot for this! I will rebase to the latest Kconfiglib after the release and we'll see how we can integrate this with CMake.

[2018-03-02 20:50] webhive commented on #6429
Seems duplication of #5554

[2018-03-02 20:50] #6429 closed

[2018-03-02 22:12] dbkinder opened #6432 "daily doc build pages don't indicate their version"
Some developers have been confused when viewing documentation on http://docs.zephyrproject.org,   thinking that they're reading the documentation for a tagged release when instead they're reading the "Latest" documentation from the daily build of the master branch.

Tagged-release doc pages include the version number in the breadcrumb header of the document but the daily build docs don't.

[2018-03-03 14:24] locomuco opened #6439 "ESP32 doesn't compile in master"
used toolchain version:
[code]

compilation error in samples/hello_world:
[code]

[2018-03-03 14:24] locomuco commented on #6439
@lpereira FYI

[2018-03-03 18:50] raveslave commented on #4326
Seems Cypress made an effort and now supports an alternative tool-chain that would make this more doable without the previous psoc creator dependency to configure the IC & peripherals.

http://www.cypress.com/products/modustoolbox-integrated-design-environment-ide

[2018-03-03 20:06] #4010 closed

[2018-03-03 20:34] jimmy-huang commented on #6309
@pfalcon great, thanks for looking into it.

[2018-03-04 10:54] nashif opened #6444 "tests/kernel/mem_protect/obj_validation/ fails to build"
commit db094b8d885196215473485093a7f03c90e421c6 breaking tests, for example:

tests/kernel/mem_protect/obj_validation/

[code]

[2018-03-04 12:14] pfalcon opened #6446 "sockets: Accept on non-blocking socket is currently blocking"
If a listening BSD socket is set to non-blocking mode, then if there's no pending connection to it, POSIX behavior of accept() is that it returns EAGAIN. Currently, Zephyr implementation will actually block. This behavior is not visible/problematic if poll() call is used on such a socket, which is generally the only efficient an adequate way to schedule I/O on non-blocking socket.

But at the same

[2018-03-04 12:17] pfalcon commented on #6309
@jimmy-huang: The specific issue with blocking recv() is fixed by https://github.com/zephyrproject-rtos/zephyr/pull/6445. While debugging the code, I found few more latent issues, some fixes included in the same PR, another documented in #6446, few more need additional analysis.

[2018-03-04 22:35] webhive opened #6450 "Several devices of same type on same bus - how to address?"
Hello! I am trying to implement device driver, but researching samples found what drivers model assumed we have single device of any type. For example HTS221 on I2C bus. What if I need to add several devices on same bus. We have only single HTS221_GPIO_DEV_NAME.

Reviewed several device drivers Kfiles - most have device name and device address. Looks like no way now to assign several addresses to

[2018-03-05 01:55] lgl88911 commented on #6439
I meeting same issue， My toolchain gcc vesrion is 6.3.0

[2018-03-05 07:57] ajaykish opened #6452 "Jumbled Console log over USB"
Tested with sample/subsys/usb/console (zephyr 1.11.rc1 release) on Arduino 101 connected to Linux host:

Plug the board into a Linux host.
The board will be detected as a CDC_ACM serial device. To see the console output
from the zephyr board, used  command  "minicom -D /dev/ttyACM0".

The console output we are getting is jumbled:
ld!x8
Hello World! x86
HellWorld! x86
              llo Word! x6

[2018-03-05 08:23] laperie commented on #3877
Assigning to @KaSroka  -- Can you please comment  on whether we can replace the openthread's built-in mbedtls with the one from Zephyr?

[2018-03-05 08:25] laperie commented on #3869
@KaSroka  -- can you please close it (or assign to the relevant person @ nordic who was testing the OpentThread? )

[2018-03-05 08:30] laperie commented on #4012
@rveerama1 , have you seen similar behavior lately with DTLS enabled?

[2018-03-05 08:33] laperie commented on #6342
@rmstoi , can you please see if you can fix the bug as well?

[2018-03-05 08:39] laperie commented on #4217
@gurucharanx Since the #4216 is fixed, can you please re-test if this one is fixed too as @jukkar  suggested?

[2018-03-05 09:39] nniranjhana opened #6455 "k_sleep() fails on ESP32 sometimes"
used toolchain version:

`xtensa-esp32-elf-gcc (crosstool-NG crosstool-ng-1.22.0-61-gab8375a) 5.2.0`

I had added a loop that runs `k_sleep(1000)` in the hello world sample (while narrowing down the likely issue from another test case). I had added print statements before and after, and as per the log below, it returns from sleep the first time, but fails the second time:

`
***** BOOTING ZEPHYR O

[2018-03-05 09:41] nniranjhana commented on #6455
@lpereira @youvedeep FYI

[2018-03-05 10:58] rmstoi commented on #6342
@laperie I will look into it

It seems also data in ICMPv6 echo response is malformed. Looks like a memory corruption.

[2018-03-05 11:55] #6309 closed

[2018-03-05 13:17] ManojSubbarao commented on #3384
@punitvara What is the status ? When is the ETA for fixing this issue?

[2018-03-05 16:09] ioannisg commented on #6373
Prerequisites:

- ARMv8-M implementation with the Main Extension (but no Security Extension) have a single pair of MPS/PSP Limit registers (non-secure)
- ARMv8-M implementation with the Security Extension (but no Main Extension) have a single pair of MPS/PSP Limit registers (secure)
- ARMv8-M implementation with the Main Extension and the Security Extension have two pairs of MPS/PSP Limit register

[2018-03-05 16:39] lpereira commented on #6455
This is most likely related to #6346

[2018-03-05 16:40] lpereira commented on #6455
In fact, it looks like the same issue. Closing this one as @andyross is already working on the matter.

[2018-03-05 16:40] #6455 closed

[2018-03-05 16:47] #6444 closed

[2018-03-05 16:50] lpereira commented on #6439
This seems to be related to the new assembly framework.  @andyross, could you take a look here?

In the meantime, please use an [older version of the SDK](https://dl.espressif.com/dl/xtensa-esp32-elf-linux64-1.22.0-61-gab8375a-5.2.0.tar.gz).

@lgl88911 What toolchain are you using that comes with GCC 6.2.0?

[2018-03-05 17:11] agross-linaro commented on #5221
false positive.  closing

[2018-03-05 17:11] #5221 closed

[2018-03-05 18:58] jimmy-huang commented on #6309
@pfalcon thanks, i tested it and it works well.

[2018-03-05 21:41] andyross commented on #6346
Got it.  It wasn't the spill code, which had a decent unit test and was pretty simple.  It wasn't the cross-stack call code, which was likewise testable in isolation but a little more subtle.  It was the really obvious-looking glue between the two.  Cross-stack calls return with the stack pointer still pointing to the restore area, which lives below the interrupted stack.  But the register spills

[2018-03-05 21:48] andyross commented on #6346
@locomuco Sorry, missed your question.  We support only the official SDK toolchain from Esspressif on ESP-32.  @lpereira  can give more context, but broadly Xtensa toolchains are not portable between targets, they are hard-configured to assume specific hardware features.  Part of the output of their CPU generator is an "overlay" source package you have to apply to a specific version of binutils/gc

[2018-03-05 22:09] andrewboie commented on #6064
Closing based on offline discussion.

[2018-03-05 22:09] #6064 closed

[2018-03-05 22:25] andyross commented on #6439
I can't reproduce this, unfortunately.  I just pulled and installed a clean version of the "g6c4433a" toolchain (md5sum 3e00f8faa7360ebfc39971d2d2f3522d xtensa-esp32-elf-linux64-1.22.0-80-g6c4433a-5.2.0.tar.gz, just in case they're playing games) and got a working build and executable from a bunch of different tests.

Can you verify that you're using the toolchain you think you are?  ESPRESSIF_TOO

[2018-03-05 22:43] lpereira commented on #6439
@locomuco A shot in the dark here: what's the esp-idf version you're using? This code in particular depends on something that `core-isa.h` defines, and this file is provided in esp-idf.

[2018-03-05 23:27] lpereira commented on #6439
Do you have the full build output? I think I've nailed it down here to a set (but empty) ZEPHYR_GCC_VARIANT environment variable that was superseding ZEPHYR_TOOLCHAIN_VARIANT. This was calling the wrong assembler. By fixing the environment variables and a clean build directory, I got this CMake output:

[code]

Which shows that it correctly found the ESP32 toolchain.  The build works as usual.  I'

[2018-03-06 00:06] #6346 closed

[2018-03-06 00:43] andyross commented on #6339
@iha: The fix for the root cause is in master now.  Can you try this specific issue and verify it works for you now?

[2018-03-06 00:49] #6439 closed

[2018-03-06 00:53] #6279 closed

[2018-03-06 01:00] punitvara commented on #3384
This will be closed during this next two weeks.

[2018-03-06 01:47] iha commented on #6339
@andyross The behaviour is better now: the gpio input is triggered, but after several tests in succession it stops working, but the gpio output continues to run.

[2018-03-06 03:30] Shilpashree3lc commented on #6258
*** CID 182894:  Error handling issues  (CHECKED_RETURN)
/samples/net/nats/src/main.c: 201 in write_led()
195     		fake_led = state;
196     	} else {
197     		gpio_pin_write(led0, LED_PIN, !state);
198     	}
199
200     	pubstate = state ? "on" : "off";

201     	nats_publish(nats, "led0", 0, msg->reply_to, 0,
202     		     pubstate, strlen(pubstate));
203
204     	printk("*** Turning LED %s\

[2018-03-06 03:43] nashif commented on #6424
need to remove arduino_101, it does not have mmu

[2018-03-06 03:45] Shilpashree3lc commented on #6259
*** CID 182892:    (DEADCODE)
/tests/ztest/src/ztest.c: 39 in cleanup_test()
33     	 * causes some problems.
34     	 */
35     	k_thread_abort(&ztest_thread);
36     #endif
37
38     	if (!ret && mock_status == 1) {

39     		PRINT("Test %s failed: Unused mock parameter values\n",
40     		      test->name);
41     		ret = TC_FAIL;
42     	} else if (!ret && mock_status == 2) {
43     		PRINT("T

[2018-03-06 03:47] Shilpashree3lc commented on #6260
*** CID 182890:    (FORWARD_NULL)
/tests/net/net_pkt/src/main.c: 417 in test_pkt_read_append()
411     	zassert_true(!tfrag && fail_pos == 0xffff, "Invalid case NULL buffer");
412
413     	/* Invalid: Skip more than a buffer length.*/
414     	tfrag = net_buf_frag_last(pkt->frags);
415     	tfrag = net_frag_skip(tfrag, tfrag->len - 1, &fail_pos, tfrag->len + 2);
416     	if (!(!tfrag && fail_pos =

[2018-03-06 03:48] Shilpashree3lc commented on #6262
*** CID 182886:    (CHECKED_RETURN)
/subsys/bluetooth/controller/hal/nrf5/ticker.c: 67 in hal_ticker_instance0_sched()
61     			static memq_link_t link;
62     			static struct mayfly m = {0, 0, &link, NULL,
63     						  ticker_worker};
64
65     			m.param = instance;
66

67     			mayfly_enqueue(TICKER_MAYFLY_CALL_ID_TRIGGER,
68     				       TICKER_MAYFLY_CALL_ID_WORKER,
69     				       c

[2018-03-06 03:50] Shilpashree3lc commented on #6092
*** CID 182779:  Memory - corruptions  (ARRAY_VS_SINGLETON)
/drivers/flash/soc_flash_nios2_qspi.c: 213 in flash_nios2_qspi_write_block()
207     			if (bytes_to_copy > remaining_length) {
208     				bytes_to_copy = remaining_length;
209     			}
210     		}
211
212     		/* prepare the word to be written */

213     		memcpy(&word_to_write + padding,
214     				data + buffer_offset, bytes_to_cop

[2018-03-06 03:50] Shilpashree3lc commented on #6093
*** CID 182778:  Error handling issues  (CHECKED_RETURN)
/samples/net/sockets/dumb_http_server/src/socket_dumb_http.c: 73 in main()
67     		/* Discard HTTP request (or otherwise client will get
68     		 * connection reset error).
69     		 */
70     		while (1) {
71     			char c;
72

73     			recv(client, &c, 1, 0);
74     			if (req_state == 0 && c == '\r') {
75     				req_state++;
76

[2018-03-06 03:51] Shilpashree3lc commented on #6094
*** CID 182777:  Error handling issues  (CHECKED_RETURN)
/samples/net/sockets/dumb_http_server/src/socket_dumb_http.c: 49 in main()
43
44     	serv = socket(AF_INET, SOCK_STREAM, IPPROTO_TCP);
45
46     	bind_addr.sin_family = AF_INET;
47     	bind_addr.sin_addr.s_addr = htonl(INADDR_ANY);
48     	bind_addr.sin_port = htons(8080);

49     	bind(serv, (struct sockaddr *)&bind_addr, sizeof(bind_addr

[2018-03-06 03:52] Shilpashree3lc commented on #6095
*** CID 182776:  Uninitialized variables  (UNINIT)
/tests/net/socket/udp/src/main.c: 164 in test_v6_sendto_recvfrom()
158
159     	prepare_sock_v6(CONFIG_NET_APP_MY_IPV6_ADDR,
160     			SERVER_PORT,
161     			&server_sock,
162     			&server_addr);
163

164     	rv = bind(server_sock,
165     		  (struct sockaddr *)&server_addr,
166     		  sizeof(server_addr));
167     	zassert_equal(rv, 0, "bi

[2018-03-06 03:54] Shilpashree3lc commented on #6096
*** CID 182775:  Error handling issues  (CHECKED_RETURN)
/tests/net/socket/udp/src/main.c: 287 in test_send_recv_2_sock()
281
282     	conn_addr.sin_family = AF_INET;
283     	conn_addr.sin_addr.s_addr = htonl(0xc0000201);
284     	conn_addr.sin_port = htons(55555);
285     	connect(sock2, (struct sockaddr *)&conn_addr, sizeof(conn_addr));
286

287     	send(sock2, BUF_AND_SIZE(TEST_STR_SMALL), 0)

[2018-03-06 03:54] Shilpashree3lc commented on #6097
*** CID 182774:  Resource leaks  (RESOURCE_LEAK)
/tests/net/socket/udp/src/main.c: 293 in test_send_recv_2_sock()
287     	send(sock2, BUF_AND_SIZE(TEST_STR_SMALL), 0);
288
289     	len = recv(sock1, buf, sizeof(buf), 0);
290     	zassert_equal(len, 4, "Invalid recv len");
291     	cmp = memcmp(buf, TEST_STR_SMALL, STRLEN(TEST_STR_SMALL));
292     	zassert_equal(cmp, 0, "Invalid recv data");

293

[2018-03-06 03:55] Shilpashree3lc commented on #6098
*** CID 182773:  Error handling issues  (CHECKED_RETURN)
/samples/net/sockets/http_get/src/http_get.c: 100 in main()
94     		}
95
96     		response[len] = 0;
97     		printf("%s\n", response);
98     	}
99

100     	close(sock);
101
102     	return 0;

[2018-03-06 03:56] Shilpashree3lc commented on #6099
*** CID 182772:  Error handling issues  (CHECKED_RETURN)
/tests/net/socket/udp/src/main.c: 285 in test_send_recv_2_sock()
279     	bind_addr.sin_port = htons(55555);
280     	bind(sock1, (struct sockaddr *)&bind_addr, sizeof(bind_addr));
281
282     	conn_addr.sin_family = AF_INET;
283     	conn_addr.sin_addr.s_addr = htonl(0xc0000201);
284     	conn_addr.sin_port = htons(55555);

285     	connect

[2018-03-06 03:56] Shilpashree3lc commented on #6100
*** CID 182771:  Error handling issues  (NEGATIVE_RETURNS)
/samples/net/sockets/dumb_http_server/src/socket_dumb_http.c: 49 in main()
43
44     	serv = socket(AF_INET, SOCK_STREAM, IPPROTO_TCP);
45
46     	bind_addr.sin_family = AF_INET;
47     	bind_addr.sin_addr.s_addr = htonl(INADDR_ANY);
48     	bind_addr.sin_port = htons(8080);

49     	bind(serv, (struct sockaddr *)&bind_addr, sizeof(bind_ad

[2018-03-06 03:57] Shilpashree3lc commented on #6101
*** CID 182770:  Error handling issues  (CHECKED_RETURN)
/samples/net/sockets/http_get/src/http_get.c: 80 in main()
74     	dump_addrinfo(res);
75
76     	sock = socket(res->ai_family, res->ai_socktype, res->ai_protocol);
77     	CHECK(sock);
78     	printf("sock = %d\n", sock);
79     	CHECK(connect(sock, res->ai_addr, res->ai_addrlen));

80     	send(sock, REQUEST, SSTRLEN(REQUEST), 0);
81
82

[2018-03-06 04:13] Shilpashree3lc commented on #6104
*** CID 182767:  Error handling issues  (CHECKED_RETURN)
/tests/net/socket/udp/src/main.c: 280 in test_send_recv_2_sock()
274     	sock1 = socket(AF_INET, SOCK_DGRAM, IPPROTO_UDP);
275     	sock2 = socket(AF_INET, SOCK_DGRAM, IPPROTO_UDP);
276
277     	bind_addr.sin_family = AF_INET;
278     	bind_addr.sin_addr.s_addr = htonl(INADDR_ANY);
279     	bind_addr.sin_port = htons(55555);

280     	bind(

[2018-03-06 04:13] Shilpashree3lc commented on #6105
*** CID 182766:  Uninitialized variables  (UNINIT)
/tests/net/socket/udp/src/main.c: 248 in test_v6_bind_sendto()
242
243     	rv = bind(client_sock,
244     		  (struct sockaddr *)&client_addr,
245     		  sizeof(client_addr));
246     	zassert_equal(rv, 0, "bind failed");
247

248     	rv = bind(server_sock,
249     		  (struct sockaddr *)&server_addr,
250     		  sizeof(server_addr));
251

[2018-03-06 04:15] Shilpashree3lc commented on #6106
*** CID 182765:    (NEGATIVE_RETURNS)
/tests/net/socket/udp/src/main.c: 280 in test_send_recv_2_sock()
274     	sock1 = socket(AF_INET, SOCK_DGRAM, IPPROTO_UDP);
275     	sock2 = socket(AF_INET, SOCK_DGRAM, IPPROTO_UDP);
276
277     	bind_addr.sin_family = AF_INET;
278     	bind_addr.sin_addr.s_addr = htonl(INADDR_ANY);
279     	bind_addr.sin_port = htons(55555);

280     	bind(sock1, (struct sock

[2018-03-06 04:15] Shilpashree3lc commented on #6107
*** CID 182764:  Resource leaks  (RESOURCE_LEAK)
/tests/net/socket/udp/src/main.c: 293 in test_send_recv_2_sock()
287     	send(sock2, BUF_AND_SIZE(TEST_STR_SMALL), 0);
288
289     	len = recv(sock1, buf, sizeof(buf), 0);
290     	zassert_equal(len, 4, "Invalid recv len");
291     	cmp = memcmp(buf, TEST_STR_SMALL, STRLEN(TEST_STR_SMALL));
292     	zassert_equal(cmp, 0, "Invalid recv data");

293

[2018-03-06 04:17] Shilpashree3lc commented on #6108
*** CID 182763:  Uninitialized variables  (UNINIT)
/tests/net/socket/udp/src/main.c: 243 in test_v6_bind_sendto()
237
238     	prepare_sock_v6(CONFIG_NET_APP_MY_IPV6_ADDR,
239     			SERVER_PORT,
240     			&server_sock,
241     			&server_addr);
242

243     	rv = bind(client_sock,
244     		  (struct sockaddr *)&client_addr,
245     		  sizeof(client_addr));
246     	zassert_equal(rv, 0, "bind f

[2018-03-06 04:34] Shilpashree3lc commented on #5738
*** CID 182194:  Control flow issues  (NO_EFFECT)
/subsys/storage/flash_map/flash_map.c: 271 in flash_map_init()
265     }
266
267     static int flash_map_init(struct device *dev)
268     {
269     	int i;
270

271     	for (i = 0; i < ARRAY_SIZE(flash_dev); i++) {
272     		flash_dev[i] = device_get_binding(flash_drivers_map[i].name);
273     	}
274
275     	return 0;
276     }
277

[2018-03-06 04:41] Shilpashree3lc commented on #5739
*** CID 182193:  Control flow issues  (NO_EFFECT)
/subsys/storage/flash_map/flash_map.c: 74 in get_flah_dev_from_id()
68     {
69     	/* nothing to do for now */
70     }
71
72     static struct device *get_flah_dev_from_id(u8_t id)
73     {

74     	for (int i = 0; i < ARRAY_SIZE(flash_drivers_map); i++) {
75     		if (flash_drivers_map[i].id == id) {
76     			return flash_dev[i];
77     		}
78

[2018-03-06 04:43] Shilpashree3lc commented on #5742
*** CID 181921:  Incorrect expression  (ASSERT_SIDE_EFFECT)
/subsys/bluetooth/controller/ll_sw/ctrl.c: 9506 in role_active_disable()
9500     			  ticker_if_done, (void *)&ret_cb_evt);
9501
9502     	if (ret == TICKER_STATUS_BUSY) {
9503     		mayfly_enable(RADIO_TICKER_USER_ID_APP,
9504     			      RADIO_TICKER_USER_ID_JOB, 1);
9505

9506     		LL_ASSERT(ret_cb_evt != TICKER_STATUS_BUSY);
9507

[2018-03-06 04:49] Shilpashree3lc commented on #5887
*** CID 182597:  Control flow issues  (NO_EFFECT)
/drivers/sensor/vl53l0x/vl53l0x.c: 272 in vl53l0x_init()
266     	if (ret < 0) {
267     		SYS_LOG_ERR("VL53L0X_DataInit return error (%d)", ret);
268     		return -ENOTSUP;
269     	}
270
271     	ret = vl53l0x_setup_single_shot(dev);

272     	if (ret < 0) {
273     		return -ENOTSUP;
274     	}
275
276     	dev->driver_api = &vl53l0x_api_funcs;

[2018-03-06 04:50] Shilpashree3lc commented on #5888
*** CID 182594:  Control flow issues  (DEADCODE)
/drivers/sensor/lsm6ds0/lsm6ds0.c: 213 in lsm6ds0_sample_fetch()
207     static int lsm6ds0_sample_fetch(struct device *dev, enum sensor_channel chan)
208     {
209     	__ASSERT_NO_MSG(chan == SENSOR_CHAN_ALL ||
210     			chan == SENSOR_CHAN_GYRO_XYZ);
211
212     	switch (chan) {

213     	case SENSOR_CHAN_ACCEL_XYZ:
214     		lsm6ds0_sample_fetc

[2018-03-06 05:33] pswarnak opened #6469 "tests/crypto/ecc_dsa results in FATAL EXCEPTION on esp32"
[tests/crypto/ecc_dsa/testcase.yaml#crypto.ecc_dsa](https://github.com/zephyrproject-rtos/zephyr/blob/v1.11.0-rc1/tests/crypto/ecc_dsa/testcase.yaml) results in FATAL EXCEPTION on esp32 board. The failure is always reproducible.

**Configuration:**
Arch - xtensa
Board - esp32

**Failure log:**
[code]

[2018-03-06 06:12] pswarnak opened #6470 "tests/crypto/ecc_dh results in FATAL EXCEPTION on esp32"
[tests/crypto/ecc_dh/testcase.yaml#crypto.ecc_dh](https://github.com/zephyrproject-rtos/zephyr/blob/v1.11.0-rc1/tests/crypto/ecc_dh/testcase.yaml) results in FATAL EXCEPTION on esp32 board. The test results in random failure. It sometimes just gets hung without any output and crashes with below exception, the other times.

**Configuration:**
Arch - xtensa
Board - esp32

**Failure log:**
[code]

[2018-03-06 06:24] pswarnak opened #6471 "tests/crypto/aes results in Assertion failure on esp32"
[tests/crypto/aes/testcase.yaml#crypto.aes](https://github.com/zephyrproject-rtos/zephyr/blob/v1.11.0-rc1/tests/crypto/aes/testcase.yaml) results in Assertion failure on esp32 board. The test results in random failure. Sometimes just AES128 test 3 fails, or both AES128 test 3 and AES128 test 4 fails the other times and also crashes with FATAL exception rarely.

**Configuration:**
Arch - xtensa
Boa

[2018-03-06 06:28] pswarnak opened #6472 "tests/crypto/sha256 results in Assertion failure on esp32"
[tests/crypto/sha256/testcase.yaml#crypto.sha256](https://github.com/zephyrproject-rtos/zephyr/blob/v1.11.0-rc1/tests/crypto/sha256/testcase.yaml) results in Assertion failure on esp32 board. The failure is always reproducible.

**Configuration:**
Arch - xtensa
Board - esp32

**Failure log:**
[code]

[2018-03-06 07:35] #6010 closed

[2018-03-06 07:35] locomuco commented on #6439
@lpereira thanks, the variables fixed it on my side too

[2018-03-06 07:37] laperie commented on #4779
@jukkar , @rveerama1  -- shall we close it, do we have any TC that is close to the original descrption?

[2018-03-06 07:38] jukkar commented on #4779
Lets close this one, we can re-open of course if the problem persists.

[2018-03-06 07:38] #4779 closed

[2018-03-06 08:24] tbursztyka commented on #5274
@MaureenHelm The issue is not spi related, at all. It's about the GPIO interrupt. But on mrc20a there seeems to be something else to it, timing related that makes cca failing if debugging output level is low.

[2018-03-06 12:50] Vudentz commented on #5289
[bt] [WRN] set_flow_control: Controller to host flow control not supported

It is already a bad start if there is no host flow control as that means the controller may push data when there are no buffer available.

[bt] [ERR] h4_get_type: Unknown H:4 type 0x05
[bt] [ERR] h4_get_type: Unknown H:4 type 0x71
[bt] [ERR] l2cap_chan_le_recv_sdu: SDU length mismatch

It looks like the data got corrupted

[2018-03-06 12:56] #4826 closed

[2018-03-06 13:07] tbursztyka commented on #6413
So, isn't this solved already then?

[2018-03-06 15:05] tbursztyka commented on #4666
Seems to be done, you can close it afaik.

[2018-03-06 15:06] #4666 closed

[2018-03-06 15:07] tbursztyka commented on #5797
For the 2 firsts point, see PR #5921 all is done there.

For the third, I have a PR in preparation already.

[2018-03-06 15:10] tbursztyka commented on #3488
Isn't this done already? Can be closed I guess.

[2018-03-06 16:06] #5982 closed

[2018-03-06 17:02] #6339 closed

[2018-03-06 17:40] linkmeyer commented on #5254
I moved the milestone to v1.12 per Manoj's feedback that it will not be fixed until then.

[2018-03-06 17:40] linkmeyer commented on #4964
I moved the milestone to v1.12 per Manoj's feedback that it will not be fixed until then.

[2018-03-06 18:13] carlescufi commented on #6038
@Shilpashree3lc will this be done in time for the scheduled Friday release?

[2018-03-06 18:16] carlescufi commented on #6262
@cvinayak can this be fixed by Friday?

[2018-03-06 18:17] lpereira commented on #6470
This works with the previous ASM stuff. @andyross, could you please take a look?

[2018-03-06 18:18] carlescufi commented on #6109
@nvlsianpu can you fix those by adding an if() statement as appropriate?

[2018-03-06 18:23] galak commented on #5887
Fixed by #6250

[2018-03-06 18:23] #5887 closed

[2018-03-06 18:27] carlescufi commented on #5742
@cvinayak can we get this fixed for 1.11 (Friday)?

[2018-03-06 18:27] carlescufi commented on #5739
@nvlsianpu can you use `unsigned int` here?

[2018-03-06 18:33] carlescufi commented on #5738
@nvlsianpu take a look at the test configuration, it might be that the config is wrong and you are including this file in the build with no flash devices, which should not happen

[2018-03-06 18:36] #6092 closed

[2018-03-06 18:54] andyross commented on #6470
Will take this one.  It's definitely an issue with asm2 interrupt handling.  Putting an irq_lock() around the test makes it work, and adding a counter to the handler shows that the failure happens stochastically after a few dozen interrupts.   Smells like a problem with context restore, maybe a race between interrupt levels.

Seems to effect esp32 and not qemu_xtensa, which I guess isn't so surpri

[2018-03-06 20:21] #5888 closed

[2018-03-06 21:05] andyross commented on #6470
Pffft.  Nothing so fancy.  I, uh, had forgotten to spill the shift register in interrupt entry.  Other tests weren't catching that because they didn't shift enough (you have to hit the interrupt between the load of SAR and the use in a shift, and that's generally exactly one cycle).  Crypto does a lot of shifting.  Seems to be fixed with https://github.com/zephyrproject-rtos/zephyr/pull/6492

[2018-03-06 21:14] lpereira commented on #6472
Fixed by #6492

[2018-03-06 21:15] lpereira commented on #6471
Fixed by #6492

[2018-03-06 21:17] lpereira commented on #6469
Fixed by #6492

[2018-03-06 21:31] andrewboie opened #6493 "need APIs for ranged random number generation"
Right now we just have sys_rand32_get() which returns a value between 0 and UINT_MAX.
Using a modulus operator (sys_rand32_get() % N) may not be the best practice to get a number in the range of 0...N:

https://stackoverflow.com/questions/2509679/how-to-generate-a-random-number-from-within-a-range/6852396#6852396

Implement an API in the random subsystem that does this right. Check the kernel code

[2018-03-06 22:16] #5283 closed

[2018-03-06 22:18] nashif commented on #6470
this is now fixed.

[2018-03-06 22:18] #6470 closed

[2018-03-06 22:19] #6472 closed

[2018-03-06 22:19] #6471 closed

[2018-03-07 00:34] lpereira commented on #4699
Closing as merged.

[2018-03-07 00:34] #4699 closed

[2018-03-07 02:11] xwang98 opened #6496 "Question: Is dynamical module loader supported in Zephyr? Or any plan?"
From the introduction materials, it seems this feature is not supported yet. Can anyone confirm this?

If it is not supported now, I wonder if there is any plan to support it in future roadmap?

[2018-03-07 02:53] xwang98 commented on #6496
Just saw it is in the  roadmap "Parking lot"

[2018-03-07 03:31] nashif commented on #5132
Someone else calls those LSRs http://www.smxrtos.com/articles/lsr_art/lsr_art.htm

[2018-03-07 03:56] nashif commented on #6496
@xwang98 what platforms are you targeting? What exactly is your usecase?

[2018-03-07 07:48] carlescufi opened #6498 "Kernel high-resolution timer support"
Several users in the mailing list have asked for highly precise busy-wait primitives that allow them to time with precision.

I don't know what sort of APIs we'd need, but at the very least something like:

`k_hr_busy_wait(u64_t microseconds)`

[2018-03-07 07:58] carlescufi commented on #6498
@anangl @tbursztyka FYI

[2018-03-07 08:37] Shilpashree3lc commented on #6038
Here is my finding on the external components which are in compliant and not in compliant with the template as of the README in ``doc/contribute/code_component_README``.

ext component | Path | Comments
-- | -- | --
st | ext/hal/st/stm32cube/stm32f1xx/README | Not in Compliant
st | ext/hal/st/stm32cube/stm32f4xx/README | Not in Compliant
st | ext/hal/st/stm32cube/stm32f7xx/README | Not in Complian

[2018-03-07 08:42] Shilpashree3lc commented on #6038
To Start with, I am listing the current status and [Plan]

1.	Only below #3 are in compliant state – complete in all sense
a.	ext/hal/st/lib/sensor/vl53l0x/README
b.	ext/hal/nordic/nrfx/README
c.	ext/hal/altera/README

2.	Below #2 have all together NO information – **[Plan]** Suggest to contact the respective external owners here
a.	ext/atmel
b.	ext/esp

3.	Below #21 do have information but NO ful

[2018-03-07 09:02] SebastianBoe commented on #6498
In addition to a high-resolution timer API, I imagine users that have the high-frequency clock always-on anyway would like to be able to Kconfigure "_arch_k_cycle_get_32" to use the high-frequency clock instead of the low-frequency clock.

[2018-03-07 09:29] pswarnak commented on #6470
Thank you @andyross for the quick fix.
Checked all the 4 test cases(ecc_dsa, aes, sha256, ecc_dh) that were failing earlier, works fine now.

[2018-03-07 10:26] diytronic commented on #6498
Why only a microseconds resolution?

[2018-03-07 11:09] erwango commented on #6038
I can help on ST one.
One question: should all the README be all compliant, even when they are high level and lowerlevel ones are compliant? (eg:  ext/hal/st/lib/README)

[2018-03-07 11:39] tbursztyka commented on #3910
Afaik this is working fine, since commit id 9078378bed7f2601b1509947dc046a2450a5bab3

[2018-03-07 11:51] carlescufi commented on #6498
@diytronic

Agreed, I checked the Linux HR timer API and it uses nanoseconds.

Well, there is also `k_busy_wait(u32_t microseconds)` now already in the kernel

[2018-03-07 15:28] erwango commented on #6038
It's here for now:
https://github.com/erwango/zephyr/tree/ext_stm32cube_README_fix
Let me know where I should do the pull request

[2018-03-07 15:43] agross-linaro commented on #5360
Agreed.

[2018-03-07 16:24] ruuddw opened #6505 "Userspace support: stack corruption for ARC em7d v2.3"
Stack corruption/crash in memory protection and userspace threads for EMSK/EM7d/v2.3
It looks like interrupt handling in privileged mode messes up sp, causing several kernel tests to fail for this configuration.

[2018-03-07 18:56] #6432 closed

[2018-03-07 20:11] andyross commented on #6498
Yeah, on systems with a high precision cycle counter, k_busy_wait() does what you want already.  It just spins on k_cycle_get_32() as described.  On essentially all the current platforms, k_cycle_get_32() is provided out of the timer driver as _timer_cycle_get_32().

Pretty sure you have what you want already, no?

[2018-03-08 05:22] inakypg opened #6511 "simics/qemu_x86_nommu: testscases with CONFIG_BOOT_DELAY !=0 do not boot"
When running testcases under Simics with the CONFIG_BOOT_DELAY option set to 1000 (ms), testcases do not proceed past the boot delay message:

    ***** delaying boot 1000ms (per build configuration) *****

this was run under the Simics 5.0 configuration:

    $disk_image = "hd0.img"
    $cpu_class = "pentium-pro"
    $text_console = TRUE
    run-command-file "%simics%/targets/x86-440bx/x86-440bx-

[2018-03-08 07:43] aescolar-ot commented on #6388
Would it be a solution to add a new "UNSAFE_ENTROPY" config option like he proposed?. He could have a compile #error based on it.

[2018-03-08 09:31] vonhust opened #6513 "arch: arc: the stack_sentinel is not supported in arc"
The stack_sentinel (CONFIG_STACK_SENTINEL) is not supported in current arc's code.  I will add it soon, but not for the Zephyr 1.11.

[2018-03-08 09:32] spoorthik opened #6514 "samples/drivers/i2c_fujitsu_fram: Data comparison on data written and data read fails randomly"
Sample application at samples/drivers/i2c_fujitsu_fram only on x86 core of quark_se_c1000_devboard fails randomly due to mismatch in data written and data read.

Sample log below:
[code]
Steps to reproduce:
1. cd zephyr.git/samples/drivers/i2c_fujitsu_fram
2. mkdir build/ && cd build/
3. cmake -DBOARD=quark_se_c1000_devboard .. && make flash

[2018-03-08 09:37] vonhust opened #6515 "boards: em_starterkit: the reset mechanism is not stable"
em starterkit just has a simple hardware reset mechanism as it's just a FPGA protype board.
This will affect the continuous automatic tests on it.

It's better to use some way ( opencd cmds or gdb cmds, or hardware) to improve it

[2018-03-08 10:03] ruuddw commented on #6505
Fixed by PR #6508

[2018-03-08 10:03] #6505 closed

[2018-03-08 10:06] ruuddw commented on #6513
The tests/kernel/fatal/ test seems to be inconsistent as well: there are two test cases stack_protection and stack_sentinel, but both depend on the sentinel mechanism.

[2018-03-08 10:15] ruuddw commented on #6515
This relates to #6267 sanitycheck script support for device testing instead of qemu simulation: ideally boards should be (hardware) reset before running a next test.

[2018-03-08 12:31] nashif commented on #6513
@andrewboie FYI

[2018-03-08 14:11] MaureenHelm commented on #6276
Yes, this is a problem for any ARM platform running over 16 MHz. The test tries to eliminate timer interrupts by setting `CONFIG_SYS_CLOCK_TICKS_PER_SEC=1`, which overflows the systick timer. Can we run this test in tickless mode instead?

[2018-03-08 17:53] carlescufi commented on #6498
@andyross yeah, I think so. Unless we really need nanosecond precision, but on current microcontrollers this make little sense actually, since the overhead in instructions would already clobber the added resolution.

@diytronic would that cover your needs, if k_busy_wait() was actually precise on Nordic platforms?

[2018-03-08 18:28] andyross opened #6521 "Scheduler needs spinlock-based synchronization"
The scheduler API is still written to assume locking with irq_lock(), which in SMP is the global lock.  That's a fairly serious performance problem as the idle threads currently need to spin on the scheduler waiting for a runnable thread to appear (ESP-32 lacks an interprocessor interrupt AFAICT), which then spams the locking for the whole system.

This needs to be the first subsystem cleaned up t

[2018-03-08 18:55] MaureenHelm commented on #6450
Most or all of the sensor drivers assume only one instance, but could be refactored to support multiple instances. The uart and i2c drivers are better about supporting multiple instances, since it is much more common to need multiple uarts than it is to need multiple humidity sensors.

[2018-03-08 19:11] diytronic commented on #6498
@carlescufi For current task yes, but I am implementing 1-wire bus now (need it for ds18b20 sensor, so really writing driver for it too) and among the standard mode 1-wire has so called overdrive mode (faster). Here you can look at timings (just to make sure it is not my stupid caprice) https://www.maximintegrated.com/en/app-notes/index.mvp/id/126 So in overdrive mode it required for example 1us,

[2018-03-08 19:13] andyross opened #6522 "Should have a "dumb" O(N) scheduler"
Right now our scheduler has to manage an array of 32 separate priority queues, virtually all of which are going to be empty.  Typical applications often never have more than one runnable thread ever.  That's 128 bytes of RAM wasted and a fairly large amount of code to manage this scheduling algorithm.

For smaller apps, or even large ones with small thread counts, it would be nice to have a config

[2018-03-08 19:15] diytronic commented on #6498
@carlescufi For current task yes, but I am implementing 1-wire bus now (need it for ds18b20 sensor, so really writing driver for it too) and among the standard mode 1-wire has so called overdrive mode (faster). Here you can look at timings (just to make sure it is not my stupid caprice) https://www.maximintegrated.com/en/app-notes/index.mvp/id/126 So in overdrive mode it required for example 1us,

[2018-03-08 19:17] diytronic commented on #6498
@carlescufi BTW just checked for example CAN BUS timings https://www.nxp.com/docs/en/application-note/AN1798.pdf So nanosecond delays there. So I think nanosecond delay must be implemented.

[2018-03-08 19:31] inakypg commented on #6515
In our automation HW we realized that the only way to get these things to properly reset is to plug all the cables out, let the board sit for a few secs (for all the capacitance to drain) and then replug.

This applies to most MCUs we've put in there -- seems to work most of the time, but not all//consistently.

You definitely need HW assist for that (http://www.neobits.com/digital_loggers_lpc7_di

[2018-03-08 20:24] andrewboie commented on #5891
The coverity site is inaccessible and I am completely blocked

[2018-03-08 20:25] andrewboie commented on #5892
The coverity site is inaccessible and I am completely blocked

[2018-03-08 23:05] linkmeyer commented on #6038
While the correct formatting of the README files is important and certainly a real bug, I recommend a separate bug be filed for it as the original intent of this issue (as I read it) is to get the License page updated for the 1.11 release.

[2018-03-09 04:08] Shilpashree3lc commented on #6038
@linkmeyer  I have run the scripts to check for licensing and manually verified them, all the files are in compliant.
The license page is up-to-date.  There are no changes needed to the license page.

[2018-03-09 06:01] diegosueiro commented on #6365
@mbolivar,

I updated the email thread, but basically:

There will be use cases where just one RAM will be available in the system for Zephyr and this RAM will have to accommodate both code and data. And to get this working I had to apply #6366 and omit the "zephyr,flash" property from dts.

[2018-03-09 09:38] carlescufi commented on #6038
@Shilpashree3lc I don't think the license page is up to date? There are many components in the `ext/` folder that are not present in `doc/LICENSING.rst`

[2018-03-09 09:40] Shilpashree3lc commented on #6038
I have completed the work. Hence closing it.

[2018-03-09 09:45] carlescufi commented on #6038
@Shilpashree3lc so there are 2 different issues here as Mark mentioned:

1. Update all the `README` files in `ext/` so they comply with the template
2. Update the `doc/LICENSING.rst` file so that it lists all the components in `ext/`

You obviously cannot be expected to do 1. by yourself, but could we at least update `doc/LICENSING.rst` so that it lists all components in `ext/`, even if it's only

[2018-03-09 10:05] carlescufi opened #6533 "1.12 Release Checklist"
Add items as required
--------
- [x] Major enhancements:
  - [ ] ~~LLVM Support: Issue #3689~~ (pushed to 1.13)
  - [x] AMP support: Issue #3065
  - [x] VFS support: Issue #2978
  - [ ] ~~Enhanced Logging: Issue #6186~~ (pushed to 1.13)
  - [x] Runtime config system: Issue #5149
  - [x] VFS support: Issue #2978
  - [x] Command-line meta-tool: Issue #6205
  - [ ] ~~Out-of-tree code: #5554~~

- [x]

[2018-03-09 10:06] carlescufi commented on #6533
Additional info: https://github.com/zephyrproject-rtos/zephyr/wiki/Release-procedure

[2018-03-09 11:12] carlescufi commented on #5327
Next release: https://github.com/zephyrproject-rtos/zephyr/issues/6533

[2018-03-09 11:19] carlescufi commented on #6496
There's an issue already for this, please comment here: https://github.com/zephyrproject-rtos/zephyr/issues/2746

[2018-03-09 14:16] nashif commented on #6038
This is not needed, the license page is ONLY for components that do not have a license, not for listing everything in ext/. It really has nothing to do with ext/

[2018-03-09 14:16] nashif commented on #6038
the document says that:

[2018-03-09 14:28] baw-serafin opened #6534 "coap-server: Canceling Observation not working"
On release 1.10 cancelling observation does not work

reproduce
--------------
* Get latest release (1.10)
* compile coap_server example with  `cmake -DBOARD=qemu_x86 ../..
* run in in coap with instructions from http://docs.zephyrproject.org/1.10.0/subsystems/networking/qemu_setup.html?highlight=networking%20qemu
* observe /obs resource with client (I used copper)
* make a lazy cancel (reset on n

[2018-03-09 16:49] galak commented on #3375
@mjs-arm do you mind taking a look at this.  Thanks

[2018-03-09 18:12] mjs-arm commented on #3375
Looks to me that the issue can be demonstrated without hardware by simply building hello_world for k64f then firing up the debugger (without connecting to a board) and just inspecting the image like this:

$ arm-none-eabi-gdb zephyr/zephyr.elf
(gdb) print main
$1 = {void (void)} 0x0 <isr_tables_syms>

Hence gdb is clearly confused about where main is located.  The fact that the break point in the

[2018-03-09 18:43] mjs-arm commented on #3375
Curious behaviour in gdb:

$ arm-none-eabi-gdb zephyr/zephyr.elf
(gdb) set debug symbol-lookup 1
(gdb) print main
lookup_symbol_aux (main, 0x0 (objfile NULL), VAR_DOMAIN, c)
language_lookup_primitive_type_as_symbol (c, 0xfe24a0, main) = NULL
Global block symbol cache hit for main, VAR_DOMAIN
lookup_symbol_aux (...) = 0x10ad8b0
lookup_symbol_aux (void, 0x0 (objfile NULL), VAR_DOMAIN, c)
language_lo

[2018-03-10 08:48] timork opened #6545 "ARM Cortex R Architecture support"
Hi,

Cortex R popular architecture widely used in real-time sensitive applications in automotive, storage controllers (HDD and SSD), robotics, aerospace and other areas.
Since no really popular RTOS have support of Cortex R arch it can widely extend Zephyr applications coverage.

SoC platforms with Cortex R CPUs available for mass markets:
Cypress Traveo
TI TMS570L
TI Hercules RM

and endless numb

[2018-03-10 12:19] lgl88911 commented on #6439
@lpereira Thanks, I export ZEPHYR_GCC_VARIANT=zephyr cause"ZEPHYR_GCC_VARIANT is deprecated, please use ZEPHYR_TOOLCHAIN_VARIANT" and using the wrong toolchain. Now remove ZEPHYR_GCC_VARIANT=zephyr ,compile pass

[2018-03-10 12:49] nashif commented on #3373
collection bug, no need for that as the other features are being dealt with individually.

[2018-03-10 12:49] #3373 closed

[2018-03-10 12:49] nashif commented on #3471
collection bug, no need for that as the other features are being dealt with individually.

[2018-03-10 12:49] #3471 closed

[2018-03-10 12:50] nashif commented on #2654
collection bug, no need for that as the other features are being dealt with individually.

[2018-03-10 12:50] #2654 closed

[2018-03-10 16:17] andyross commented on #6498
So... two issues: one is that k_busy_wait() only allows a microsecond argument, where the actual cycle counter it wraps can (usually) do better.  I don't see any reason we can't have a k_nano_wait() or whatever that takes different units.

But a request for true nanosecond precision just isn't going to work on CPUs running clocks 10-100x slower than that.  We can't fix that.

[2018-03-10 16:37] diytronic commented on #6498
No - it does not work. For example for nRF1x MCU family system tick used 32kHz timer which is unable to provide even microseconds resolution. Really this was the only reason for ``k_busy_wait`` API call implementation discussion.

[2018-03-10 16:40] diytronic commented on #6498
@andyross

nRF1x MCU has separate 16Mhz timer which can be used for this. So I expect some other MCU can have something similar. Mean some built in mechanisms not related to system clock.

[2018-03-10 19:13] d3zd3z commented on #3770
The warning still makes sense, though, even if I'm not seeing it. The compiler doesn't know that `num_tests` will always be >0, and if it is zero, it would indeed return an undefined value.

However, the error is in external code, and we should push any fix to the upstream project.

[2018-03-11 02:39] nashif commented on #2978
should be fixed

[2018-03-11 02:39] #2978 closed

[2018-03-11 02:40] nashif commented on #1845
@ramakrishnapallala please update this issue as needed

[2018-03-11 18:05] MaureenHelm opened #6559 "boards with i2c child nodes fail to build on windows"
When building on Windows, `extract_dts_includes.py` fails with an exception on boards that have i2c child nodes in dts.

Boards affected:
- disco_l475_iot1
- frdm_k64f
- frdm_kw41z
- hexiwear_k64

[code]

[2018-03-12 02:08] hongshui3000 opened #6562 "Question: Is QP™ Real-Time Frameworks/RTOS or libev supported in Zephyr? Or any plan?"
reference:
http://www.state-machine.com/
https://github.com/QuantumLeaps

[2018-03-12 07:07] tarunkum opened #6564 "samples/net/echo_client: Failed to connect to samples/net/echo_server for IPV4 test"
I was trying to test echo_server along with echo_client with two different frdm_k64f boards.
The steps I have followed for echo_server & echo_client is as below:

cd zephyr/samples/net/echo_client
mkdir build && cd build && cmake -GNinja -DBOARD=frdm_k64f ../
ninja
cp -vr outdir/frdm_k64f/zephyr.bin /run/media/MBED/

cd zephyr/samples/net/echo_server
mkdir build && cd build && cmake -GNinja -DBOAR

[2018-03-12 08:29] tarunkum opened #6565 "samples/net/sockets/echo: Failed to connect to samples/net/echo_server for IPV6 test"
I was trying to test echo_server along with echo_client with two different frdm_k64f boards.
 The steps I have followed for server & client is as below:

Client :: zephyr/samples/net/echo_client
Server :: zephyr/samples/net/sockets/echo

cd zephyr/samples/net/echo_client
 mkdir build && cd build && cmake -GNinja -DBOARD=frdm_k64f ../
 ninja
 cp -vr outdir/frdm_k64f/zephyr.bin /run/media/MBED/

cd

[2018-03-12 14:44] #6559 closed

[2018-03-12 15:26] #6342 closed

[2018-03-12 20:20] henrikbrixandersen opened #6577 "sam0: SPI CS released too early"
I was struggling to debug my SPI device driver on the Adafruit Feather M0 Basic Proto, which uses the SAM0 SPI controller driver found in `drivers/spi/spi_sam0.c`.

Turned out the issue was not related to my driver, but to a defect in the "fast" paths of the `spi_sam0.c` driver.

I have used a simple test, abbreviated below, which transmits a command over SPI, discards the first received byte, and

[2018-03-12 20:23] henrikbrixandersen commented on #6577
One comment in `spi_sam0.c` puzzled me:

Out of curiosity, how was the 4x speedup measured?

[2018-03-12 22:05] nzmichaelh commented on #6577
Hi Henrik.  Could you try changing:

static void spi_sam0_finish(SercomSpi *regs)
{
	while (!regs->INTFLAG.bit.DRE) {

with

static void spi_sam0_finish(SercomSpi *regs)
{
	while (!regs->INTFLAG.bit.TXC) {

and see if that fixes the problem?

re: speedup, this was by a mix of timer based benchmarking and hooking my signal analyser up to the port.  The generic routines have enough overhead that the

[2018-03-12 22:07] nzmichaelh commented on #6577
Oh, and the benchmark code is in https://github.com/zephyrproject-rtos/zephyr/pull/5730

[2018-03-12 22:18] henrikbrixandersen commented on #6577
@nzmichaelh Changing it to checking the TXC flag does fix the CS line behaviour, but the data read is always 0xff (should be 0x04 according to oscilloscope, which is also the behaviour when commenting out the "fast" paths").

[2018-03-13 02:45] ramakrishnapallala commented on #2410
This is covered in https://github.com/zephyrproject-rtos/zephyr/pull/6318

This can be closed.

[2018-03-13 06:54] tarunkum opened #6583 "samples/net/http_client: Failed to connect to"
[http-server.zip](https://github.com/zephyrproject-rtos/zephyr/files/1805762/http-server.zip)

I was trying to test http_server(on local machine) along with http_client( on frdm_k64f board). I am not able to see server-client communication on IPV6 for http_client.

I have followed the below steps for  http Server & http_client :

cd zephyr/samples/net/http_client
mkdir build && cd build && cmake -

[2018-03-13 09:09] ramakrishnapallala commented on #3295
@nashif do you mind if I look into these issues/stories?

[2018-03-13 09:49] erwango opened #6584 "scripts: extract_dts_inlcudes: activate correct bus master type"
Following #6401, it happens that a sensor could be used on different bus types: I2C or SPI.

This should be handled when generating CONFIG bits from extract_dts_includes.
So depending on bus type identified from dts, a config flag providing bus type should be defined and
appropriate config flags should be generated.

[2018-03-13 09:53] erwango commented on #6584
Depends on #6504

[2018-03-13 09:58] erwango commented on #6584
@tbursztyka : You said in #6401:

So once it is available, I'll work on current issue.

[2018-03-13 10:05] erwango commented on #6017
@mbolivar : Just seen your comment. Thanks for the input.

I have been convinced by argument from @sebo, saying that Kconfig will help storing configuration into git and share with others (while a command line is not made to be stores).

I'll use your input as a solution to realize this.

[2018-03-13 10:26] tagunil commented on #5653
Could you explain me to which aspects of board porting these rules should be applied? Pinmux, board dts, Kconfig.defconfig, board defconfig? Which SPI/I2C ports I should add to a new Nucleo board device tree?

[2018-03-13 11:38] Likailiu opened #6585 "kernel: re-delete event list node [bug]"
reproduce:
1. the thread A use k_poll to register EVENT A.when add EVENT A into the queue,the interrupt occured.
2. in interrupt context, give a sem using _impl_k_sem_give(), the sequence is
_impl_k_sem_give->do_sem_give->handle_poll_events->_handle_obj_poll_events->sys_dlist_get(delete the node), and clear  the state(polling) of thread A .
3. the thread B get schedule,registering EVENT B into the

[2018-03-13 11:57] laperie commented on #2987
We would like to add support for the TX checksum hardware offload in the following way:
1. Check if given adapter supports HW checksums and
2. Do not calculate the checksum for IP, TCP and UDP and put zero in the field instead if it does

[2018-03-13 12:00] laperie opened #6588 "Traffic prioritization on per-connection basis"
It should be possible to set a flag on per-connection basis that would indicate the priority of the outgoing traffic. In the stack, the outgoing traffic of he higher priority has to be delivered to a network adapter before traffic with the lower priority

[2018-03-13 12:00] carlescufi commented on #3744
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/5847

[2018-03-13 12:00] #3744 closed

[2018-03-13 12:04] carlescufi commented on #2907
@SebastianBoe is this related to https://github.com/zephyrproject-rtos/zephyr/issues/5426?

[2018-03-13 12:06] carlescufi commented on #5896
@SebastianBoe is this really an issue? now that we have native builds our users should not install MSYS2 anyway

[2018-03-13 12:08] SebastianBoe commented on #5896
MSYS2 is still supported IIRC.

[2018-03-13 12:10] SebastianBoe commented on #2907
Yes, related, but not duplicate. When #5426 is resolved, one should ensure that this issue is considered as well.

[2018-03-13 12:10] carlescufi commented on #2452
@andyross we have a proposal for a runtime provisioning system here: https://github.com/zephyrproject-rtos/zephyr/issues/5149. Not sure if this covers your requirements

[2018-03-13 12:11] carlescufi commented on #5896
It is, but not supposed to be mixed with native builds :) That said it's true, we can fix this in the best way possible.

[2018-03-13 12:19] tbursztyka commented on #6588
I don't need to be assigned to that. Actually, the work is mostly done already in one of Jukka's PR

[2018-03-13 12:26] tbursztyka commented on #6584
@erwango Actually I already started to work on SPI/dts on device side. That's how I got the limitation on the cs/gpio part (rest is straightforward), which requires extract_dts_includes improvements as well.

[2018-03-13 12:32] SebastianBoe commented on #5896
Ah, my mistake, what this issue is saying, is that for a native build, if you happened to have MSYS2 installed allready, perhaps from some other project, the build system might misbehave, so it is not related to whether we support MSYS2 or not.

[2018-03-13 13:11] b0661 commented on #6584
@tbursztyka
can´t you use the i2c-slave or spi-slave directive to attach a slave device to a specific type of bus?

[2018-03-13 13:17] tbursztyka commented on #6584
@b0661 you mean what's described here dts/bindings/device_node.yaml.template ?

[2018-03-13 13:30] tbursztyka commented on #6584
Sure that's ok, actually I already started to set the slave device properly where relevant.
The issue I have is when (and only when) the CS is delegated to a gpio line: and that I don't see how to do it properly. What I would like is something like: cs-gpio: <&gpioX N> (which would be optional of course)

And it would generate:
- one define for activating cs/gpio delegation on that slave
- one def

[2018-03-13 13:31] nvlsianpu commented on #6152
@utzig - just remind this issue to you.

[2018-03-13 13:31] erwango commented on #6584
@b0661 : Indeed

Also, we need to decide on what to do with yaml bindings. Today we define st,lsm6dsl.yaml is a i2c-device (includes i2c-device.yaml).
So either we define new yaml bindings and new compatibles: "st,lsm6dsl-spi" > deviate from Linux
But we should be able to detect that node parent is SPI or I2C type and define bus directly from that. In that case spi/i2c-device.yaml could not be inc

[2018-03-13 13:37] erwango commented on #6584
@tbursztyka: I've some bits of GPIO generation in #5381 which use current tools. But it does not manage the "(and only when)"

[2018-03-13 13:39] utzig commented on #6152
LOL, was just looking at this now, I was actually trying to find the cited zephyr flash map to see how it works...

[2018-03-13 13:48] carlescufi commented on #5896
And I wonder if we really should have provisions for this, because at the end of the day this perhaps beyond the scope of the Zephyr build system.

[2018-03-13 15:39] IvanSanchez opened #6593 "Allow configuring the USB serial number string in runtime"
As of now, the serial number string descriptor of the USB subsystem is a constant defined at compilation time:

https://github.com/zephyrproject-rtos/zephyr/blob/924e8aad124651b9d41f1acb0df4e384e6025f74/subsys/usb/usb_descriptor.c#L620

However, there is a *very* strong use case to flash the same firmware image into more than one board, and have them report different serial numbers through USB. In

[2018-03-13 15:39] IvanSanchez commented on #6593
cc @carlescufi

[2018-03-13 16:00] jfischer-phytec-iot commented on #6593
@IvanSanchez I started to revise usb descriptor (see #4661 and #4767), I will consider it there. I think it can be implemented by something like usb_descriptor_board_fixup, usb device stack have to check if it is available and call it on initialization.

[2018-03-13 16:04] IvanSanchez opened #6594 "usb: replace "unicode" with "utf16le""
The file https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/usb/usb_descriptor.c refers to the word "unicode", i.e.:

https://github.com/zephyrproject-rtos/zephyr/blob/924e8aad124651b9d41f1acb0df4e384e6025f74/subsys/usb/usb_descriptor.c#L23

This is subtly wrong. Unicode specifies that a string is a series of consecutive *codepoints*, each codepoint having a value between 0 and 1 114

[2018-03-13 18:44] MaureenHelm commented on #5327
@carlescufi Why did you add the v1.12.0 milestone? Can we close this issue?

[2018-03-13 19:08] carlescufi commented on #5327
@MaureenHelm my mistake. Closing now.

[2018-03-13 19:08] #5327 closed

[2018-03-13 19:53] henrikbrixandersen commented on #6577
@nzmichaelh At what SPI bus speed and CPU frequency was the 4x speed-up measured? I still can not wrap my head around how the fast paths could be 4 times as fast as the generic routines...

[2018-03-13 20:27] nzmichaelh commented on #6577
Could you give https://github.com/nzmichaelh/zephyr/commit/d9c848c0516d4783a9ec6a07f63042e72e5b7519 a try?  I've tested it with the following cases:

* (tx one byte, NULL) (rx one byte) - aka the bug you reported
* (tx one byte, rx one byte) (rx one byte)
* (tx one byte, rx one byte) (rx five bytes)

[2018-03-13 20:33] nzmichaelh commented on #6577
re: speed, there's two aspects: the generic code has a lot of overhead and it also doesn't interleave TX and RX.  From your screenshot it looks like you're running at ~100 kHz so the difference isn't visible but it makes a bigger and bigger difference at higher bus rates as you can interleave the CPU time with the IO time.

For example, here's some screenshots from the tests today with a 8 MHz bus

[2018-03-13 20:54] d3zd3z commented on #6388
I'm a little less worried about someone trying to enable mock entropy in order for predictable results (although I don't think this is actually useful, crypto libraries are generally unit tested with real entropy), than someone deciding to try and do bringup on a device that doesn't even have an entropy source. That's really the case where it seems likely for a product to get out with predictable

[2018-03-13 21:29] henrikbrixandersen commented on #6577
@nzmichaelh Sweet! I have tested nzmichaelh/zephyr@d9c848c locally. It looks good to me and it fixes my initial issue.

Thank you for the comprehensive explanation of the speed-up using the fast paths. Makes sense to me now. I was indeed running @ 100kHz as I had dialled the bus speed down to debug the issues with the SPI driver.

[2018-03-14 03:36] b0661 commented on #6584
By the cs-gpio and the phandle a define for the  chip select gpio device can be generated. I do the same for pinctrl client devices. The define should enable the slave to get the gpio device driver name (I made that the label property of the device) and the pin. By this the slave driver can configure and access the appropriate GPIO pin.

The label device tree property should be used as driver name

[2018-03-14 03:59] b0661 commented on #6584
@erwango
I think for sensors that are multi bus capable (e.g. SPI & I2C) there should be two different device tree specifications, for the two "faces" of the device. There may be a single driver that can imlement both faces of the device. By that the user can decide what face is relevant by just activating the respective device.

[2018-03-14 07:40] erwango commented on #6584
@b0661

Hence, we need to define 2 compatibles, "st,lsm6dsl-spi" and "st,lsm6dsl-i2c", with matching yaml bindinds, and we're good. These will be treated as 2 different sensors (which otherwise happen to have some common source code). Fine with me, only little modifications are required. No impact in extract script.

[2018-03-14 08:07] KaSroka commented on #3869
Verified, closing

[2018-03-14 08:07] #3869 closed

[2018-03-14 08:11] KaSroka commented on #3877
This should be assigned to @rlubos but I cannot see him on assignees list or even mention him.

[2018-03-14 09:35] erwango commented on #5653
@tagunil : Initially it was supposed ot be applied to pinmux. But it is right this extends to generic default board configuration. I'll see next week if extending this to more generic directives make sense.

[2018-03-14 11:48] hongshui3000 commented on #5132
It looks like this kernel   ：http://www.state-machine.com/qpc/group__qk.html

[2018-03-14 11:49] akansal1 opened #6605 "Question: Does WAMP protocol has any usecase for Zephyr"
I am looking for some solution similar to one described in [crossbar.io](https://crossbar.io/), where I can communicate between different systems running on different devices Constrained or Linux in my case.

I was looking for **OneM2M** based solution, but **WAMP** implementation by crossbar.io looks relevant as well

Does anyone here has any idea to about the **WAMP** and its usecase for impleme

[2018-03-14 12:41] #6594 closed

[2018-03-14 15:25] carlescufi commented on #6038
CC @kestewart

[2018-03-14 15:37] carlescufi opened #6611 "Make sanitycheck run on Windows"
`scripts/sanitycheck` does not run on Windows.

In order to be able to have CI on Windows machines we would need at the very least:

* The script should be able to **build** only (no QEMU) on Windows
* We should have a way to provide multiple toolchains to `sanitycheck` without an SDK

[2018-03-14 15:39] carlescufi commented on #2664
Additional info:

`scripts/sanitycheck` does not run on Windows.

In order to be able to have CI on Windows machines we would need at the very least:

* The script should be able to **build** only (no QEMU) on Windows
* We should have a way to provide multiple toolchains to `sanitycheck` without an SDK

[2018-03-14 15:39] carlescufi commented on #6611
duplicate of #2664

[2018-03-14 15:39] #6611 closed

[2018-03-14 15:39] carlescufi commented on #5718
duplicate of #2664

[2018-03-14 15:39] #5718 closed

[2018-03-14 16:15] carlescufi commented on #2664
Current state of things:

[code]

[2018-03-14 16:46] IvanSanchez commented on #4767
I totally agree with a `USB_ALLOC_ENDPOINT(BULK_IN)` approach. And with #6593, I'm not totally sure that 100% static descriptors are feasible.

I also see an issue with the current way of allocating descriptors via `Kconfig`: only one instance of a `cdc_acm` device is possible with the current implementation (and I can think of use cases where I'd like to have several `cdc_acm` interfaces to mux/d

[2018-03-14 18:27] jfischer-phytec-iot commented on #4767
It would be nice to have it, but there is still a lot to do before, otherwise it is not consistent and not easy to maintain.
1) There are three usb class drivers / functions in sample that should be moved to subsys/usb beforehand:
- samples/subsys/usb/dfu, WIP/RFC, see #4373
- samples/subsys/usb/webusb, duplicate CDC ACM code
- samples/bluetooth/hci_usb

2) Assignment of  the endpoints at runtime

[2018-03-14 20:24] pfalcon opened #6616 "Non-detected/delayed sanitycheck failures due to ROM/RAM overflow"
The issue is demonstrated by https://github.com/zephyrproject-rtos/zephyr/pull/6614 , quoting it:

---

This PR demonstrates "delayed" regression due to growing code size. Some patches grew size of various parts of code. But apparently, we don't run the entire testsuite for each PR, so some cases of samples/tests failing for particular boards due to code/RAM size were "skipped". But later, other P

[2018-03-14 20:25] pfalcon commented on #6616
@nashif : FYI

[2018-03-14 20:40] pfalcon commented on #6522
+1. I also remember that some people previously expressed concerns/issues with the current scheduler. I'm not sure if we can talk about "pluggable" schedulers, but have an alternative one would be definitely good.

[2018-03-15 00:28] galak opened #6621 "newlib expects HEAP to be in CONFIG_SRAM_*, on arc there isn't always SRAM"
Right now, we default CONFIG_SRAM_SIZE to 0 -- in lib/libc/newlib/libc-hooks.c.  This will break in real usage, but allows things to build.

[2018-03-15 07:35] jli157 opened #6623 "Request to support Application's Kconfig tree"
Some applications could need sophisticated configuration requirements, thus need to define Kconfig tree on its own to support that.

Before cmake based building system was implemented, an application can define its Kconfig tree by the following way in the Makefile:
[code]
and in its Kconfig:
[code]

However, this way is not well supported in the current cmake based building system. The existing ex

[2018-03-15 08:12] finikorg commented on #4767
@jfischer-phytec-iot I can take care of hci_usb since I have created it and know the code

[2018-03-15 09:01] pfalcon commented on #6585
@Likailiu : Can you please provide the (minimal) code to reproduce this issue?

[2018-03-15 10:22] DWagenk opened #6625 "stm32: pwm: PWM 3 typo"
pwm_stm32_2 should be pwm_stm32_3

https://github.com/zephyrproject-rtos/zephyr/blob/9d2915b763c9ead8478099bd84766673ca6162aa/drivers/pwm/pwm_stm32.c#L251

[2018-03-15 13:18] jukkar commented on #6605
I have not seen any discussion of WAMP http://wamp-proto.org/ or any use cases so far. We have websocket supported in zephyr so probably WAMP could be implemented on top of that.

[2018-03-15 14:46] finikorg commented on #5678
Root cause is the same as for #3515

[2018-03-15 14:55] finikorg commented on #6452
This looks related to  #3614

[2018-03-15 14:56] tbursztyka commented on #4533
This was addressed long ago, now 15.4 L2 is following down/up policy.

[2018-03-15 14:56] #4533 closed

[2018-03-15 14:57] tbursztyka commented on #4713
Being addressed by #5921

[2018-03-15 16:09] #6577 closed

[2018-03-15 16:41] erwango commented on #6017
Hi @SebastianBoe ,

I just had a try: https://github.com/erwango/zephyr/tree/shield_overlay).
Plan was to define CONFIG_SHIELD_X_NUCLEO_IKS01A1, then based on this, do some Kconfig computation and add boards/shields/x_nucleo_iks01a1/x_nucleo_iks01a1.overlay to DTC_OVERLAY_FILE.

Problem is that dts computation happens _before_  Kconfig.
Hence, I'm able to add .overlay (only one for now) to DTC_OVE

[2018-03-15 16:46] carlescufi commented on #6017
@erwango I am not sure I understand:

That is not the case, Kconfig is processed first, and then DTS is run:

Kconfig:
https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/app/boilerplate.cmake#L241

DTS:
https://github.com/zephyrproject-rtos/zephyr/blob/242c583c9652bd961b1c96f409eb915cc5c9a024/cmake/app/boilerplate.cmake#L260

We do use Kconfig in DTS itself, so there's something I'm mi

[2018-03-15 18:28] galak opened #6635 "tests/net/websocket/test doesnt build on qemu_xtensa"
./scripts/sanitycheck -p qemu_xtensa -s tests/net/websocket/test

Fails because completion doesn't exist.  This seems like a Kconfig issue:

warning: CONSOLE_HANDLER (defined at /home/galak/git/zephyr/drivers/console/Kconfig:30) has unsatisfied direct dependencies (UART_CONSOLE && CONSOLE), but is currently being selected by the following symbols:
CONSOLE_SHELL (defined at /home/galak/git/zephyr/s

[2018-03-15 18:54] MaureenHelm opened #6636 "Enable hardware flow control in mcux uart shim driver"
Update the imported mcux uart driver to a newer upstream version that includes support for hardware flow control, then expose that feature in the zephyr shim.

Depends on #6633

cc: @mike-scott

[2018-03-15 20:02] tbursztyka commented on #5714
@KaSroka so you need the full ack frame + fcs?
Is OT really checking the FCS? Because the "spoofed" version you showed, is made of 0s for the FCS.
Just asking because in driver side this could have effects if the true FCS is required.

[2018-03-15 21:38] galak commented on #6616
This is not a bug, but a choice about how we run sanity.  We are always going to have problems with certain configurations not building because of size and they aren't going to get caught during the development CI.  This is why we have nightly builds to show such issues.

[2018-03-15 21:40] galak commented on #6635
Is NET_SHELL actually needed by tests/net/websocket/test?

[2018-03-16 00:17] andyross commented on #6498
@diytronic: k_cycle_get_32() returns a hardware cycle counter, not scheduler ticks (except on platforms that have no such timer, I guess).  I'm all but certain this would work just fine on nRF1x.  Are you sure you actually have a problem with the API as it stands (which has some precision aliasing due to microsecond conversion, but otherwise should be close to cycle accurate)?

[2018-03-16 04:47] dleach02 commented on #5714
I believe it can be enabled to check. At a minimum, it expects the receive packet to be passed up to include the FCS which is why the Nordic and NXP enablement had to add the little quirk in the RX code. I've thought a bit about what we are having to do in the 15.4 drivers to support a different L2 and this is one area I would normalize our stack to receive the FCS as well. My thinking is that I w

[2018-03-16 05:00] dleach02 commented on #5714
With respect to the energy scan, I looked at the OT code and the KW41Z driver and it is having the driver handle the duration of the scan. In the case of the KW41Z, there is a HW phy timer resource that is set to the timeout while the radio is put into energy detect mode. Then when the scan is done, the driver lets the OT know and OT then calls to get the results (I think).

[2018-03-16 08:26] tbursztyka commented on #5714
@dleach02 The issue with including true FCS or not on driver side is about HW FCS verification, which is really something you want, there is no point verifying the FCS by ourselves: too slow, too high in the stack when this could be already done at the bottom. TI cc2520 is annoying in that regard as it verifies the FCS (if enabled to do so) and modifies the content there to tell if it passed or no

[2018-03-16 08:58] jukkar commented on #6635
No, the CONFIG_NET_SHELL=y in various unit tests is fully optional and not needed for the actual test. If found in unit tests, then it is probably a left over when debugging the actual test.

[2018-03-16 08:59] diytronic commented on #6498
@andyross I am absolutely sure, because I tried to get a delay based on this http://docs.zephyrproject.org/kernel/timing/clocks.html#measuring-time-with-high-precision and finally got got that k_cycle_get_32() working with 32kHz frequencey what was a big surprize (tested on nRF51822 MCY). So I discovered code and found what 32kHz timer used for that (nRF51822 has second timer working in 16Mhz). So

[2018-03-16 09:10] erwango commented on #6017
@carlescufi : you're right, I've been mixing Kconfig and CMake processing.

So point is I'm assigning DTC_OVERLAY_FILE in boards/shield/CMakeLists.txt and it happens to be done after dts compialtion happens (cf https://pastebin.com/LkZHSNCz, look for "EGO").
I hope this is more accurate.

[2018-03-16 09:39] laperie opened #6640 "Ethernet network management interface additions"
An Ethernet network management interface with the following parameters should be created:
- MAC address
- Auto negotiation on/off
- Link speed (10/100/1000)
- Duplex mode (half/full)
- Carrier on/off notifications

[2018-03-16 10:23] erwango commented on #6017
Anyway, this helped me. Will try to check how to put that in dts.cmake, rather than in boards/CMakeLists.txt that happen to be computed too late.
Thanks!

[2018-03-16 11:18] IvanSanchez opened #6643 "usb: nrf52 returns empty configuration responses"
I'm trying to get `samples/subsys/cdc_acm` running on a nRF52840 board (after sucessfully double-checking that it works after #6608 on an Arduino 101 board). The issue is that I'm seeing some strange behaviour during enumeration of the device.

I'm using a Debian Linux box for these tests. I'm using Zephyr freshly checked out from `master` (my `HEAD` points at https://github.com/zephyrproject-rtos

[2018-03-16 11:39] MariuszSkamra opened #6644 "Bluetooth: Add reason parameter to L2CAP Channel disconnected callback"
PTS test L2CAP/LE/CFC/BV-01-C requires user to be informed about Command Reject reason (sent as response to LE Creadit Based Connection Request).

Currently, L2CAP connection related callbacks looks as follows:
[code]
would be nice to have disconnection reason parameter, just like in bt_conn_cb disconnected callback.
[code]

[2018-03-16 11:53] IvanSanchez opened #6646 "usb: protocol field in descriptor for CDC ACM should default to zero"
The protocol field here at https://github.com/zephyrproject-rtos/zephyr/blob/4304b4c38b23d7d4a5d9bf258eb6705fcd5f373f/subsys/usb/usb_descriptor.c#L207

should default to 0x00 (meaning "no protocol") instead of 0x01 (meaning "I'm actively advertising that I support the AT V.250 protocol" AKA `V25TER`).

Although this field has been ignored by major OSs during the last decades, this creates a big de

[2018-03-16 12:14] carlescufi commented on #6643
CC @pawelzadrozniak

[2018-03-16 13:14] pfalcon commented on #6616
Well, we can call it "feature" instead of "bug", the end result is the same - it causes unexpected CI failures for unsuspecting users (for me, "Bluetooth shell" samples "got" broken, while I was working on "socket TLS", which aren't directly related).

I keep hearing about it, but never see outcomes of it, hence the questions:

1. How to access results of these nightly builds? (Do we have links to

[2018-03-16 13:37] ioannisg opened #6648 "Trusted Execution Framework: practical use-cases (high-level overview)"
Introduction
---
This issue intends to list the practical use-case within the Trusted Execution paradigm.
By having a high-level description of each relevant use-case (requirements & challenges), we can facilitate the design of the Trusted Execution framework as part of Zephyr Project.

Use-case description
---

High-level description only:

1. **Secure Bootloader**

   * Two images are loaded on

[2018-03-16 13:44] IvanSanchez opened #6649 "usb: allow UTF16LE characters in string descriptors"
Feature request:

I want to be able to write my name (`Iván`, with `á`) as UTF-8 string in the Kconfig files as part of `CONFIG_USB_DEVICE_PRODUCT`, and have it properly converted into a UTF-16-littleendian string in the USB descriptor structures.

~~This is currently blocked by https://github.com/ulfalizer/Kconfiglib/pull/41 (AKA "UTF-8 support in Kconfiglib").~~ This depends on #6716 (AKA "force

[2018-03-16 13:48] #6635 closed

[2018-03-16 13:57] jukkar opened #6651 "sanity tries to compile things when it should not"
In several PRs, I have specified minimum ram usage in testcase.yaml. For example in PR #6588 I have set the "min_ram: 64" for those tests that can fit in that, and then there are couple of tests that need few kb more so in those tests the min_ram is 68.

When sanity runs these tests I see this in shippable log https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/12318/3/tests

[code]

I

[2018-03-16 14:03] galak commented on #6651
Is this because boards/arm/nucleo_l432kc/nucleo_l432kc.yaml  doesn't have ram/flash params in it.  I think PR #6617 would address that.

[2018-03-16 14:17] erwango commented on #6017
So, it's working now (https://github.com/erwango/zephyr/tree/shield_overlay),
but with several limitations:
A]. "aliases" not working as expected. "arduino_i2c", as described above, could not be used as a node name, this is not supported by dtc.
B]. Matching dts.fixup requires to be provided for each board
C]. only one shield taken into account

A] is a blocker. Support of this feature requires a

[2018-03-16 14:27] sundar-subramaniyan commented on #6643
@IvanSanchez Could you upload the wireshark captures somewhere? (For both nRF52840 and Arduino 101 boards). I took a capture in my machine running Ubuntu with cdc_acm sample compiled from Zephyr master (HEAD pointing to 7f28edc) and I could see all the 67 bytes of the DEVICE DESCRIPTOR sent to the host - see attached screenshot. Maybe I'm missing your point. Let me understand it a bit with your ca

[2018-03-16 14:35] dleach02 commented on #5714
On FCS, I'm not suggesting we do the check. I think the OT stack conditionally does this. Maybe they run on some platforms where there is no HW FCS verification. My suggestion here is to change our native stack to accept the whole packet including FCS but just strip off the FCS before passing up. This will eliminate one of the conditional compile code blocks in all of the drivers that support OT a

[2018-03-16 14:39] IvanSanchez commented on #6643
@sundar-subramaniyan Sure, thing, there they are:

[zephyr-bug-6643-arduino101.pcapng.zip](https://github.com/zephyrproject-rtos/zephyr/files/1819571/zephyr-bug-6643-arduino101.pcapng.zip)
[zephyr-bug-6643-nrf52840.pcapng.zip](https://github.com/zephyrproject-rtos/zephyr/files/1819572/zephyr-bug-6643-nrf52840.pcapng.zip)

The captures include the hub enumeration and address request/response. The a

[2018-03-16 14:56] sundar-subramaniyan commented on #6643
@IvanSanchez Thanks for uploading.

In your case the descriptor GET takes 2 tries every time.
However, I don't see the enumeration hiccups with my setup. But I still see garbled characters when I type something to the console.

Here's the capture from my machine.
[zephyr-bug-6643-nrf52_ubuntu.pcapng.zip](https://github.com/zephyrproject-rtos/zephyr/files/1819647/zephyr-bug-6643-nrf52_ubuntu.pcapng

[2018-03-16 14:57] IvanSanchez commented on #6643
More info. The bug is reproducible on 52840 boards marked `QIAAAA` (PCB revision 0.9) but **not** on ones marked `QIAABA` (PCB revision 0.10). I'll have a look at the changelogs.

[2018-03-16 15:07] IvanSanchez commented on #6643
It seems that this bug is caused by an underlying hardware bug present in the "Engineering A" boards (marked `QIAAAA`) but that was [fixed for the "Engineering B" boards](http://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.nrf52840.EngB.errata%2Fdita%2Ferrata%2FnRF52840%2FEngineeringB%2Flatest%2Ferr_840_fixed.html&cp=2_0_1_1_2) (marked `QIAABA`).

That hardware is considered

[2018-03-16 15:07] #6643 closed

[2018-03-16 15:07] sundar-subramaniyan commented on #6643
@IvanSanchez That sounds like a HW issue. But you mention that nRF5 SDK based firmware works fine. Wondering if it applies some workaround, if any.

I've got a board with this marking on the SoC: QIAABB 1743AA
The Segger label reads: 0.11.0, 2018.3

[2018-03-16 15:35] tbursztyka commented on #5714
Sure we won't check FCS ourselves, I was just pointing out that some devices do hw check or not, but that affects the content of the FCS then. I just hope only TI's chip does this and no other ones.

[2018-03-16 18:29] ulfalizer commented on #6649
Hello,

As a note, Kconfiglib itself has no problem with UTF-8 in `string` symbols. The problem is an unfortunate default `LANG=C` locale setting in Docker, forcing an ASCII encoding.

I could force the encoding to UTF-8 via `open(..., encoding="utf-8")`, but it would cause iffiness for Python 2, requiring ugly workarounds. It would also make Kconfiglib behave in a nonstandard way, as most *nix to

[2018-03-16 20:58] #5942 closed

[2018-03-16 21:52] #5892 closed

[2018-03-16 21:52] andrewboie commented on #5892
false positive

[2018-03-16 21:53] andrewboie commented on #5891
false positive

[2018-03-16 21:53] #5891 closed

[2018-03-16 23:41] lpereira commented on #4416
FWIW, this has been implemented for x86.

[2018-03-16 23:54] lpereira commented on #6521
I remember seeing interprocessor interrupts while reading through the NuttX ESP32 port.  Let me see if I can find it.  Found some things; not sure if they're useful for this, though:

https://bitbucket.org/nuttx/nuttx/src/3a95464153e5d5cd3d0ecdb66a695cc7b21be6f6/arch/xtensa/src/esp32/esp32_cpustart.c?at=master&fileviewer=file-view-default

https://bitbucket.org/nuttx/nuttx/src/3a95464153e5d5cd3d0e

[2018-03-17 06:59] deadpoolcode1 opened #6654 "efm32wg_stk3800 bluetooth sample do not compile (add support)"
when trying to compile central_hr example for board efm32wg_stk3800, I get the following error:

[code]

[2018-03-18 16:24] nashif commented on #6616
subscribe to the zephyr-builds@ mailing list.

Not ideal, true, we build too much stuff and we build even for usecases that are not necessarily supported or practical usecases hence the many failures, but there is no way we can build everything for every PR, thats why we have the daily builds and manage to keep those happy, with a bit of delay though.

[2018-03-19 00:48] #6007 closed

[2018-03-19 02:14] hongshui3000 opened #6657 "Question: Is Bluetooth avrcp supported in Zephyr? Or any plan?"

[2018-03-19 04:20] erwango commented on #6625
Will be fixed as part of #5469

[2018-03-19 04:24] erwango commented on #6307
Hi @therealprof,

Can you eleaborate a bit on this issue, so we can investigate and fix it?
What sample were you running ? Is that systematic?

[2018-03-19 07:01] akansal1 commented on #6605
Yes, I was not able to find much over it as well, hence wrote it here
Found another thesis, that discusses and compare, WAMP and other protocols

https://into-archive.aalto.fi/download/attachments/12324178/Huang_Fuguo_thesis_2.pdf

Thx

[2018-03-19 08:46] therealprof commented on #6307
@erwango I just built the default configuration for the Nucleo-F429ZI and ran it. The sample I was trying was: in `samples/net/lwm2m_client/` but I think I've seen it with other networking examples as well.

Meanwhile I've also been able to build a configuration that doesn't crash. I don't have the board here but I think the workaround was to change from
`CONFIG_SIZE_OPTIMIZATIONS=y`
to
`CONFIG_DE

[2018-03-19 10:20] tbursztyka commented on #5714
@KaSroka , @dleach02 :

Something like that on driver side should be fine then:
`int (*ed_scan)(struct device *dev, u16_t duration, void (*done_cb)(struct device *));`

It would be just up to the OT adaptation layer to set the channel through driver's API set_channel() prior to call that one.

[2018-03-19 10:38] Shilpashree3lc opened #6660 "[Coverity CID: 183072] Incorrect expression in /tests/lib/c_lib/src/main.c"
Static code scan issues seen in File: /tests/lib/c_lib/src/main.c
 Category: Incorrect expression
 Function: test_stdint
 Component: Tests
 CID: 183072
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6661 "[Coverity CID: 183071] Incorrect expression in /tests/kernel/static_idt/src/static_idt.c"
Static code scan issues seen in File: /tests/kernel/static_idt/src/static_idt.c
 Category: Incorrect expression
 Function: test_static_idt
 Component: Tests
 CID: 183071
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6662 "[Coverity CID: 183070] Uninitialized variables in /tests/posix/timer/src/posix_timer.c"
Static code scan issues seen in File: /tests/posix/timer/src/posix_timer.c
 Category: Uninitialized variables
 Function: test_timer
 Component: Tests
 CID: 183070
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6663 "[Coverity CID: 183068] Incorrect expression in /tests/kernel/fatal/src/main.c"
Static code scan issues seen in File: /tests/kernel/fatal/src/main.c
 Category: Incorrect expression
 Function: test_fatal
 Component: Tests
 CID: 183068
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6665 "[Coverity CID: 183067] Incorrect expression in /tests/lib/c_lib/src/main.c"
Static code scan issues seen in File: /tests/lib/c_lib/src/main.c
 Category: Incorrect expression
 Function: test_limits
 Component: Tests
 CID: 183067
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6666 "[Coverity CID: 183066] Error handling issues in /tests/kernel/mbox/mbox_api/src/test_mbox_api.c"
Static code scan issues seen in File: /tests/kernel/mbox/mbox_api/src/test_mbox_api.c
 Category: Error handling issues
 Function: tmbox_get
 Component: Tests
 CID: 183066
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6667 "[Coverity CID: 183065] Integer handling issues in /tests/posix/timer/src/posix_timer.c"
Static code scan issues seen in File: /tests/posix/timer/src/posix_timer.c
 Category: Integer handling issues
 Function: test_timer
 Component: Tests
 CID: 183065
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6668 "[Coverity CID: 183064] Incorrect expression in /tests/kernel/common/src/intmath.c"
Static code scan issues seen in File: /tests/kernel/common/src/intmath.c
 Category: Incorrect expression
 Function: test_intmath
 Component: Tests
 CID: 183064
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6669 "[Coverity CID: 183063] Null pointer dereferences in /tests/net/websocket/src/server.c"
Static code scan issues seen in File: /tests/net/websocket/src/server.c
 Category: Null pointer dereferences
 Function: ws_received
 Component: Various
 CID: 183063
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6670 "[Coverity CID: 183062] Error handling issues in /samples/net/sockets/big_http_download/src/big_http_download.c"
Static code scan issues seen in File: /samples/net/sockets/big_http_download/src/big_http_download.c
 Category: Error handling issues
 Function: download
 Component: Samples
 CID: 183062
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6671 "[Coverity CID: 183061] Incorrect expression in /tests/kernel/mem_pool/mem_pool/src/main.c"
Static code scan issues seen in File: /tests/kernel/mem_pool/mem_pool/src/main.c
 Category: Incorrect expression
 Function: test_pool_block_get_wait
 Component: Tests
 CID: 183061
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6672 "[Coverity CID: 183060] Incorrect expression in /tests/kernel/fatal/src/main.c"
Static code scan issues seen in File: /tests/kernel/fatal/src/main.c
 Category: Incorrect expression
 Function: test_fatal
 Component: Tests
 CID: 183060
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6673 "[Coverity CID: 183059] Memory - corruptions in /samples/net/mbedtls_dtlsclient/src/dtls_client.c"
Static code scan issues seen in File: /samples/net/mbedtls_dtlsclient/src/dtls_client.c
 Category: Memory - corruptions
 Function: dtls_client
 Component: Samples
 CID: 183059
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6674 "[Coverity CID: 183058] Incorrect expression in /tests/kernel/static_idt/src/static_idt.c"
Static code scan issues seen in File: /tests/kernel/static_idt/src/static_idt.c
 Category: Incorrect expression
 Function: test_static_idt
 Component: Tests
 CID: 183058
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6675 "[Coverity CID: 183057] Memory - illegal accesses in /subsys/net/lib/websocket/websocket.c"
Static code scan issues seen in File: /subsys/net/lib/websocket/websocket.c
 Category: Memory - illegal accesses
 Function: prepare_reply
 Component: Networking
 CID: 183057
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6676 "[Coverity CID: 183056] Memory - corruptions in /tests/kernel/common/src/atomic.c"
Static code scan issues seen in File: /tests/kernel/common/src/atomic.c
 Category: Memory - corruptions
 Function: test_atomic
 Component: Tests
 CID: 183056
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:38] Shilpashree3lc opened #6677 "[Coverity CID: 183055] Concurrent data access violations in /kernel/posix/pthread.c"
Static code scan issues seen in File: /kernel/posix/pthread.c
 Category: Concurrent data access violations
 Function: pthread_cancel
 Component: Kernel
 CID: 183055
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6678 "[Coverity CID: 183054] Memory - corruptions in /tests/lib/c_lib/src/main.c"
Static code scan issues seen in File: /tests/lib/c_lib/src/main.c
 Category: Memory - corruptions
 Function: test_strcpy
 Component: Tests
 CID: 183054
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6679 "[Coverity CID: 183053] Memory - corruptions in /samples/net/ws_echo_server/src/ws.c"
Static code scan issues seen in File: /samples/net/ws_echo_server/src/ws.c
 Category: Memory - corruptions
 Function: start_server
 Component: Samples
 CID: 183053
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6680 "[Coverity CID: 183052] Memory - corruptions in /tests/net/app/src/main.c"
Static code scan issues seen in File: /tests/net/app/src/main.c
 Category: Memory - corruptions
 Function: app_udp4_client_peer_addr
 Component: Tests
 CID: 183052
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6681 "[Coverity CID: 183051] Error handling issues in /tests/benchmarks/app_kernel/src/memmap_b.c"
Static code scan issues seen in File: /tests/benchmarks/app_kernel/src/memmap_b.c
 Category: Error handling issues
 Function: memorymap_test
 Component: Tests
 CID: 183051
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6682 "[Coverity CID: 183050] Memory - illegal accesses in /subsys/net/lib/websocket/websocket.c"
Static code scan issues seen in File: /subsys/net/lib/websocket/websocket.c
 Category: Memory - illegal accesses
 Function: prepare_reply
 Component: Networking
 CID: 183050
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6683 "[Coverity CID: 183049] Incorrect expression in /tests/lib/c_lib/src/main.c"
Static code scan issues seen in File: /tests/lib/c_lib/src/main.c
 Category: Incorrect expression
 Function: test_stddef
 Component: Tests
 CID: 183049
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6684 "[Coverity CID: 183048] Program hangs in /tests/posix/pthread_rwlock/src/posix_rwlock.c"
Static code scan issues seen in File: /tests/posix/pthread_rwlock/src/posix_rwlock.c
 Category: Program hangs
 Function: test_rw_lock
 Component: Tests
 CID: 183048
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6685 "[Coverity CID: 183047] Uninitialized variables in /kernel/smp.c"
Static code scan issues seen in File: /kernel/smp.c
 Category: Uninitialized variables
 Function: smp_init
 Component: Kernel
 CID: 183047
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6686 "[Coverity CID: 183046] Memory - corruptions in /drivers/console/uart_console.c"
Static code scan issues seen in File: /drivers/console/uart_console.c
 Category: Memory - corruptions
 Function: handle_ansi
 Component: Drivers
 CID: 183046
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6687 "[Coverity CID: 183045] Error handling issues in /tests/drivers/spi/spi_loopback/src/spi.c"
Static code scan issues seen in File: /tests/drivers/spi/spi_loopback/src/spi.c
 Category: Error handling issues
 Function: spi_async_call_cb
 Component: Tests
 CID: 183045
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6688 "[Coverity CID: 183044] Memory - corruptions in /tests/net/app/src/main.c"
Static code scan issues seen in File: /tests/net/app/src/main.c
 Category: Memory - corruptions
 Function: app_tcp4_client_peer_addr
 Component: Tests
 CID: 183044
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6689 "[Coverity CID: 183043] Incorrect expression in /tests/kernel/common/src/intmath.c"
Static code scan issues seen in File: /tests/kernel/common/src/intmath.c
 Category: Incorrect expression
 Function: test_intmath
 Component: Tests
 CID: 183043
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6690 "[Coverity CID: 183042] Program hangs in /tests/posix/pthread_rwlock/src/posix_rwlock.c"
Static code scan issues seen in File: /tests/posix/pthread_rwlock/src/posix_rwlock.c
 Category: Program hangs
 Function: thread_top
 Component: Tests
 CID: 183042
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6691 "[Coverity CID: 183041] Memory - corruptions in /tests/net/websocket/src/server.c"
Static code scan issues seen in File: /tests/net/websocket/src/server.c
 Category: Memory - corruptions
 Function: ws_connected
 Component: Various
 CID: 183041
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6692 "[Coverity CID: 183040] Incorrect expression in /tests/kernel/static_idt/src/static_idt.c"
Static code scan issues seen in File: /tests/kernel/static_idt/src/static_idt.c
 Category: Incorrect expression
 Function: test_static_idt
 Component: Tests
 CID: 183040
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6693 "[Coverity CID: 183039] Error handling issues in /tests/kernel/mem_slab/mslab_threadsafe/src/test_mslab_threadsafe.c"
Static code scan issues seen in File: /tests/kernel/mem_slab/mslab_threadsafe/src/test_mslab_threadsafe.c
 Category: Error handling issues
 Function: tmslab_api
 Component: Tests
 CID: 183039
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6694 "[Coverity CID: 183038] Integer handling issues in /kernel/posix/timer.c"
Static code scan issues seen in File: /kernel/posix/timer.c
 Category: Integer handling issues
 Function: timer_gettime
 Component: Kernel
 CID: 183038
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6695 "[Coverity CID: 183037] Memory - corruptions in /samples/net/mbedtls_dtlsclient/src/dtls_client.c"
Static code scan issues seen in File: /samples/net/mbedtls_dtlsclient/src/dtls_client.c
 Category: Memory - corruptions
 Function: dtls_client
 Component: Samples
 CID: 183037
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6696 "[Coverity CID: 183036] Control flow issues in /drivers/gpio/gpio_sam.c"
Static code scan issues seen in File: /drivers/gpio/gpio_sam.c
 Category: Control flow issues
 Function: gpio_sam_config
 Component: Drivers
 CID: 183036
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6697 "[Coverity CID: 183035] Null pointer dereferences in /tests/net/udp/src/main.c"
Static code scan issues seen in File: /tests/net/udp/src/main.c
 Category: Null pointer dereferences
 Function: setup_ipv6_udp_long
 Component: Tests
 CID: 183035
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6698 "[Coverity CID: 183034] Error handling issues in /tests/net/websocket/src/main.c"
Static code scan issues seen in File: /tests/net/websocket/src/main.c
 Category: Error handling issues
 Function: test_v6_init
 Component: Tests
 CID: 183034
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6699 "[Coverity CID: 183033] Program hangs in /tests/posix/pthread_rwlock/src/posix_rwlock.c"
Static code scan issues seen in File: /tests/posix/pthread_rwlock/src/posix_rwlock.c
 Category: Program hangs
 Function: test_rw_lock
 Component: Tests
 CID: 183033
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6700 "[Coverity CID: 183032] Error handling issues in /tests/net/websocket/src/main.c"
Static code scan issues seen in File: /tests/net/websocket/src/main.c
 Category: Error handling issues
 Function: test_v4_init
 Component: Tests
 CID: 183032
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6701 "[Coverity CID: 183031] Error handling issues in /tests/posix/semaphore/src/sem.c"
Static code scan issues seen in File: /tests/posix/semaphore/src/sem.c
 Category: Error handling issues
 Function: test_sema
 Component: Tests
 CID: 183031
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 10:39] Shilpashree3lc opened #6702 "[Coverity CID: 183030] Memory - corruptions in /drivers/console/uart_console.c"
Static code scan issues seen in File: /drivers/console/uart_console.c
 Category: Memory - corruptions
 Function: uart_console_isr
 Component: Drivers
 CID: 183030
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-19 20:45] carlescufi commented on #6657
There's basic support for AVDTP here: https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/bluetooth/host/avdtp.c. Feel free to contribute usage samples.

[2018-03-19 20:45] #6657 closed

[2018-03-20 02:55] hongshui3000 opened #6709 "Question: Is LittlevGL supported in Zephyr? Or any plan?"
LittlevGL is a free and open-source graphics library providing everything you need to create embedded GUI with easy-to-use graphical elements, beautiful visual effects and low memory footprint.
https://github.com/littlevgl/lvgl

[2018-03-20 06:27] jhedberg commented on #6644
Sounds like a reasonable request to me. @MariuszSkamra do you want to create a patch for this?

[2018-03-20 07:47] chrta commented on #6654
So something like this is missing in the board's dts file, right?

[code]

Which UART and pins should be used for this?
I will not be able to test any implementation, since i do not have any bt hardware.

[2018-03-20 09:07] rveerama1 commented on #5344
Closing, re-open this issue it it exists.

[2018-03-20 09:07] #5344 closed

[2018-03-20 11:18] SebastianBoe commented on #6649
Hi @IvanSanchez , AFAICT this is not accurate:

"This is currently blocked by ulfalizer/Kconfiglib#41 (AKA "UTF-8 support in Kconfiglib")."

PR 41 is now abandoned in favour of https://github.com/zephyrproject-rtos/zephyr/pull/6716

If you are not observing any issues with UTF-8 in Kconfig comments, but are observing issues with UTF-8 in Kconfig values, then I would bet that the root cause is not

[2018-03-20 11:24] IvanSanchez commented on #6649
Sorry about the confusion about ulfalizer/Kconfiglib#41 - I haven't been following that very closely. Will try to make some tests in the upcoming weeks and see if there's something blocking this.

[2018-03-20 13:07] SebastianBoe commented on #5622
I spent a couple of minutes on this.

Note that this is not just a matter of updating the import. There have been backwards-incompatible changes to kconfiglib that need to be ported.

Specifically;

 Config has been renamed to Kconfig (Minor)

def get_top_level_items() does not exist any more (Unknown consequences)

https://github.com/SebastianBoe/zephyr/commit/fa404c343429da7f06454ac95c64bad10601

[2018-03-20 13:08] SebastianBoe commented on #5622
This is going to break eventually. Most certainly this is a blocker for https://github.com/zephyrproject-rtos/zephyr/pull/6569

[2018-03-20 13:13] SebastianBoe commented on #2664
"The script should be able to build only (no QEMU) on Windows"

NB: The script itself has a flag for specifying --build-only.

"  -b, --build-only      Only build the code, do not execute any of it in QEMU"

[2018-03-20 13:21] SebastianBoe commented on #2664
"Current state of things: There's a class in sanitycheck called MakeGenerator that invokes make in its execute method. We need to replace this with something else that is not make in order to get rid of this dependency on Windows."

Note that this is what: "makefile jobserver (minor)" was trying to say in the initial Jira issue.

Essentially, sanitycheck is using Make as a jobserver, we need to re

[2018-03-20 14:03] eyuval opened #6719 "compilation problems with posix/unistd.h"
In my project I am using CONFIG_PTHREAD_IPC configuration option and compiling for the qemu x86 board. I get the following compilation error
/include/posix/unistd.h:23:19: error: conflicting types for ‘sleep’
 static inline int sleep(unsigned int seconds)
/zephyr-sdk-0.9.2/sysroots/i586-zephyr-elf/usr/include/sys/unistd.h:199:17: note: previous declaration of ‘sleep’ was here
 unsigned _EXFUN(slee

[2018-03-20 14:31] SebastianBoe commented on #6017
Is it possible to solve B) by having an entry in common.dts?

#ifdef CONFIG_SHIELD
#include "shield.overlay"
#endif

See how we solved a similair, but easier, problem in https://github.com/zephyrproject-rtos/zephyr/commit/72684ef815ef594af54ed446b21730480f20641f#diff-e9f991f72df8e2fe46241e1236069780

[2018-03-20 14:36] superna9999 commented on #6017
It's a way to solve, but it won't solve the multiple shields issue

[2018-03-20 16:19] #6669 closed

[2018-03-20 16:19] #6675 closed

[2018-03-20 16:19] #6682 closed

[2018-03-20 17:48] MariuszSkamra commented on #6644
I'm looking at this now, I see it is not so trivial. L2CAP disconnected callback is common for i.a. Command Reject and LE Credit Based Connection Response. Those have conflicting error codes:
[code]
vs
[code]
What comes to my mind is to use ECONNREFUSED from errno.h. But it is not what I wanted to achieve here, there will be not L2CAP error code still.
So probably I will use bluetooth testing API

[2018-03-20 17:48] #6644 closed

[2018-03-20 18:24] ulfalizer commented on #6649
Should work fine with an UTF-8 locale, including for string values. I've done some testing locally.

Kconfiglib doesn't interpret text between quotes (except for escapes and the special values "n", "m", and "y"), so you get it for free from Python.

[2018-03-20 22:00] galak opened #6726 "setting locale breaks MacOS X builds"
Commit 8500134cc27b311b6fffe401c2c5c1efe97515b6 doesn't seem to set the local to one supported on MacOS X:

[code]

[2018-03-20 22:04] galak commented on #6726
Here's the output of running `locale -a ` on my mac os x

[code]

[2018-03-20 22:26] andrewboie opened #6727 "k_mem_pool crash with larger values of n_max"
Steps to reproduce:

At toplevel declare:
`K_MEM_POOL_DEFINE(my_pool, 64, 1024, 61, 4);`

Where n_max is 61.

Then somewhere in code:
[code]

This results in a page fault on x86, on further inspection, the dlist structures in pool->levels are being corrupted:

***** CPU Page Fault (error code 0x00000000)
Supervisor thread read address 0x20000003

If this is not a bug, we need to clearly document w

[2018-03-21 00:38] andyross commented on #6727
Yeah, there's nothing wrong or out of bounds with that code.  This should work, it's a real bug.  Will investigate.

[2018-03-21 04:16] pfalcon commented on #6388
@d3zd3z, the reason I submit this and similar tickets is to show that there's, a ... well, gap, between what's written in security team's docs, and what developers do in the source code. I definitely don't think that it makes sense to ignore this gap, and we need to look on ways to close it. Being on developers' side, I don't that the way to close it is ~~to make the code pain to work with~~ to mo

[2018-03-21 04:21] pfalcon commented on #6388
Sorry, but those are connect in a obvious way (in psychology-of-software-development sense): someone who'll do a bringup on a device without an entropy source will just enable a mock entropy source. Then may be ship it in a ready product. What we can do is to ensure that when doing so, they willfully try to do just that, and it's not result of confusion or misunderstanding. Hence, the option shoul

[2018-03-21 06:07] erwango commented on #6307
I think we can try, in net_ipv6_addr_create_solicited_node, to do something like :
```dst->s6_addr[2]   = 0x00;```
```dst->s6_addr[3]   = 0x00;```
```UNALIGNED_PUT(0, &dst->s6_addr32[1]);```
```UNALIGNED_PUT(0, &dst->s6_addr16[4]);```
instead of
```UNALIGNED_PUT(0, &dst->s6_addr16[1]);```
```UNALIGNED_PUT(0, &dst->s6_addr16[2]);```
```UNALIGNED_PUT(0, &dst->s6_addr16[3]);```
```UNALIGNED_PUT(0, &d

[2018-03-21 08:36] Likailiu commented on #6585
[kernel_bug.txt](https://github.com/zephyrproject-rtos/zephyr/files/1832469/kernel_bug.txt)
bugs encountered in our actual hardware environment.
thank you

[2018-03-21 09:42] ulfalizer commented on #6726
Here's a related paragraph from [PEP 538](https://www.python.org/dev/peps/pep-0538/):

<blockquote>
Mac OS X and other *BSD systems have taken a different approach: instead of offering a C.UTF-8 locale, they offer a partial UTF-8 locale that only defines the LC_CTYPE category. On such systems, the preferred environmental locale adjustment is to set LC_CTYPE=UTF-8 rather than to set LC_ALL or LANG.

[2018-03-21 10:35] ioannisg opened #6730 "Trusted Execution: internal API & implementation for configuring IRQ target"
This issue aims to define an internal API and implement #6376 for ARMv8-M with Security Extension.

[2018-03-21 11:08] SebastianBoe commented on #6649
Thanks for the analysis @ulfalizer. I can report that Kconfiglib is behaving as expected, but another piece of our infrastructure is not dealing with UTF8 values well.

[2018-03-21 11:27] SebastianBoe commented on #6726
"Have you contacted the Docker admins by the way? The root cause is an unfortunate default locale setting. See #6649 for an overview."

I still believe that fixing this in CI is trivial, so I'm not interested in looking into that, I'm more concerned about developers with weird systems.

[2018-03-21 13:29] #6726 closed

[2018-03-21 14:26] skordal commented on #5132
I was thinking about this from a usage perspective, and there seem to be two different ways to support tasklets.

Driver/subsystem managed tasklets:
A driver that wants to delegate processing from an ISR to a tasklet creates its own tasklet threads, using `k_thread_create()` with a special `K_TASKLET` option flag. This allows drivers more control over the code that is run in tasklet threads and ov

[2018-03-21 17:20] mbolivar commented on #6413
This is roughly what I had proposed earlier but with changes so it could work; no objections as it fixes the race within the current constraints.

The inability to fully control which events get queued feels like the wrong tradeoff to me and others I've discussed with, in addition to the API being confusing to use.

I would rather spend a bit of extra memory per event to guarantee that only events

[2018-03-21 23:06] #1420 closed

[2018-03-22 08:43] rlubos commented on #5714
Hi!
Are you sure OpenThread conditionally enables to check FCS in the stack? I couldn't recall such a feature, and I've looked through the code of the MAC layer and haven't found anything like this. But as already mention OT expects FCS bytes to be passed.

@tbursztyka nRF52840 hardware overwrites FCS bytes as well. In our case LQI is put in there.

According ED api, aren't we missing ED result in

[2018-03-22 08:46] KaSroka commented on #5714
@tbursztyka

@rlubos will take over OpenThread in Zpehyr from me

[2018-03-22 09:11] tbursztyka commented on #6413
@mbolivar btw, fixed an issue with event notification ordering (it was obvious when I implemented wifi scan: last result was always coming after "scan done" event, though they were inserted in a reverse order) see #6743

Currently the number of events is what you listed, but nothing prevents this list to grow again, making let's say ipv6 stuff not being a mask also etc...

I can make mgmt_is_event

[2018-03-22 09:46] tbursztyka commented on #5714
@KaSroka ok

@rlubos So does OT really check the FCS or it just expects to have "something" it does not care about, in place what should be the FCS?

[2018-03-22 11:10] rlubos commented on #5714
To my knowledge - it does not. I've double checked the sources and did not find any place in the stack that would verify it. It expects to get the whole PSDU, but it does not care about the contents of FCS. The only source of `OT_ERROR_FCS` error in OT is the radio driver.

[2018-03-22 12:22] ulfalizer commented on #6649
One thing that gets a bit messy is that you might end up with `.config` files containing multiple different encodings.

Maybe escapes could be used (`CONFIG_FOO="I\\x00v\\x00\\xe1\\x00n\\x00"`, from `"Iván".encode("utf-16-le")`), though that's a bit annoying to input by hand (Kconfig does escaping too, so that's why you get those double `\\`).

If a `config encoding=...` attribute was added, it co

[2018-03-22 12:35] IvanSanchez commented on #6649
That would depend on the semantics of the `option encoding=`, IMHO. Let all strings be in whatever encoding the Kconfig file is, and pass the responsibility of the actual re-encoding to the toolchain.

I'm worried that other implementations of Kconfig parsers might choke on "non-standard" option fields, though. But once again, this might be the path of least resistance.

[2018-03-22 12:39] ulfalizer commented on #6649
Hmm... I guess those double `\\` would get problematic for `autoconf.h` as well. Maybe `option encoding=` could disable `\\` escaping so you end up with valid C character escapes, though it's getting slightly hairy at that point.

[2018-03-22 12:47] ulfalizer commented on #6649
@IvanSanchez
The C tools give a `Kconfig:17: warning: ignoring unknown option encoding`. So it'd be broken, but at least you might not notice it immediately. ;)

Yeah, I'm not sure whether Kconfig is the best place to handle this either.

[2018-03-22 13:00] SebastianBoe commented on #6649
Maybe some kind of CPP macro;

ENCODING_CONVERT_FROM_UTF8_TO_UTF_16_LITTLE_ENDIAN(CONFIG_USB_DESCRIPTOR)

which either does the conversion in CPP (If technically possible), or marks the string with an attribute, which is detected and processed in one of the linker passes.

Or we do this in the Kconfig GUI frontend, have the GUI convert to the ascii equivalent and have the underlying tools just see

[2018-03-22 13:02] ulfalizer commented on #6649
Though maybe this could work:

Have `.config` files use the default encoding (UTF-8, hopefully) and only handle `option encoding=...` specially for `autoconf.h`, outputting `#define CONFIG_FOO "I\\x00v\\x00\\xe1\\x00n\\x00"` or the like.

You can then easily edit configuration files by hand.

I could add that upstream if it turns out to be the nicest solution. Python 2/3 compatibility and Unicode

[2018-03-22 13:09] IvanSanchez commented on #6649
I considered this approach with C macros, but the inability to make the preprocessor loop over characters of a constant string (plus my general lack of experience about C/C++) made me desist. I know `libicu` has macros for *individual codepoints*, but not for whole strings.

If I've overlooked something there, please prove me wrong - I'd love to see a UTF re-encoding implementation with pure macro

[2018-03-22 13:47] tbursztyka commented on #5714
Ok that facilitates then. Thanks for checking and confirming this

[2018-03-22 14:58] SebastianBoe opened #6749 "kconfig: The error message is misleading when values are out-of-range"
Hi,

the error message is misleading when values are out-of-range. E.g.

CONFIG_FOO=5

     config FOO
         range 0 3

Should trigger an error about the value being out-of-range, but instead it triggers a warning about dependencies.

warning: FOO was assigned the value "5" but got the value "0" -- check dependencies

[2018-03-22 15:36] ulfalizer commented on #6749
Might be tricky to infer that it was specifically due to the `range` from `kconfig.py`. Maybe something like this would point people in the right direction though:

[code]

The behavior of `range` is a bit wonky in general. `default 5` is clamped to `3`, while 5 as a user value causes the lower end of the range to be used. It's only done like that for compatibility with the C implementation. It wo

[2018-03-22 15:51] SebastianBoe commented on #6749
I'd say it would make more sense to error-out than to do any clamping.

The docs don't mention anything about clamping, but instead state that the user must
stay within the range. Which implies to me that an error should be triggered.

[2018-03-22 15:52] SebastianBoe commented on #6749
I am happy with any solution that makes the user realize he is out-of-range.

[2018-03-22 15:53] SebastianBoe commented on #6749
[code]
This should work.

[2018-03-22 15:59] ulfalizer commented on #6749
A warning from Kconfiglib might be nice at least, when it detects that the user value is out-of-range. Should check that it doesn't get super spammy for the Linux kernel configs though.

Should get back to finding an accountant now. Code is more fun than IRL...

[2018-03-22 20:06] mbolivar commented on #6413
Even with >16 events and only checking if any bits overlap between command code and global event mask (as in PR #6743), I still think it's worth avoiding possible false positives -- and thus memory pressure on the queue -- when we can. Wouldn't you agree?

This can be done by acting like a mask as long as possible and minimizing overlap between command codes afterwards, like this:

[code]

The dif

[2018-03-22 20:06] mbolivar commented on #6413
Noting that I'd still prefer to avoid it altogether :), but even within the current implementation, there's easy room for improvement.

[2018-03-22 22:47] webhive opened #6755 "stm32: Compile error if 2-nd UART console enabled"
Tried to enable serial console on UART2 for STM32F103C8 chip

[code]
Getting issue during compiling

[code]

So lot of undeclared variables used. If stay single ``CONFIG_UART_STM32_PORT_1=y`` everything work fine. Single ``CONFIG_UART_STM32_PORT_2=y`` broken too.

[2018-03-23 00:42] davidmaitland commented on #6230
@cvinayak my first issue. Would be grateful if you could look over the pull request when you get a chance.

[2018-03-23 01:20] Likailiu opened #6757 "kernel:the API of k_mem_pool_alloc need try again to -EAGAIN[bug]"
the API of k_mem_pool_alloc should handle the -EAGAIN which is return value of pool_alloc.
at 271 line in mempool.c comments" -EAGAIN isn't for,propagation to the caller, it's to tell the loop in k_mem_pool_alloc() to try again synchronously."but the k_mem_pool_alloc does not handle loop.
by xuemingxing .xuemingxing@zte.com.cn

[2018-03-23 06:37] #2987 closed

[2018-03-23 06:50] b0661 opened #6759 "sanitycheck in shippable states faillure but reports 0 errors"
I get the failure report below while #5799 is tested in shippable.
I don´t understand why

"ERROR SUMMARY: 0 errors from 0 contexts (suppressed: 0 from 0)"

is a failure. Is this message hiding the "real" error message?

from https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/12571/1/console

unit_testing              tests/unit/scripts/extract_dts_includes/test       FAILED: failed
-

[2018-03-23 09:17] ruuddw opened #6764 "ARC EMSK dts enhancements"
- add SPI and GPIO support, and whatever other peripherals are missing
- consider refactoring em7d, em9d, em11d soc/board/dts structure to avoid duplications and support new ARC development boards
- avoid the need for board fixups

[2018-03-23 10:33] ioannisg opened #6766 "ARMv8-M: core TrustZone API, K-config & implementation"
This issue concerns the internal ARMv8-M TrustZone API definition, documentation and implementation.

The API enables the TrustZone developer to:

- [x]  configure SAU (enable, disable, ALLNS settings)
- [x]  configure core Non-Secure register instances
- [x]   configure limits for Non-Secure Stack Pointers
- [x]  read (factory-set) SAU region configuration
- [x]  configure SAU memory regions
- [x

[2018-03-23 12:16] #6029 closed

[2018-03-23 12:34] MaureenHelm commented on #4684
@vakulgarg Is this still an issue?

[2018-03-23 12:41] MaureenHelm commented on #4309
@SebastianBoe Is this still an issue?

[2018-03-23 12:43] MaureenHelm commented on #4213
@gurucharanx @jukkar Is this still an issue?

[2018-03-23 12:50] nashif commented on #6764
@ruuddw Does it make sense to split the em_starterkit board definition into 3 distinct boards

- em7d
- em9d
- em11d
?

right now we are overloading all of those configs into one definition and this is starting to be confusing.

[2018-03-23 12:53] SebastianBoe commented on #4309
Yes.

Reproduced again with 43bc30466ab4386940066cfa54e0a11bde130e14

`sebo@mach:~/zephyr/samples/hello_world$ ninja -C b/ debugserver
`

[code]

[2018-03-23 12:57] ruuddw commented on #6764
@nashif  yes, splitting it into multiple boards is something we consider. However, since this target is an FPGA based development board that supports multiple configurations that only differ in the flavor of the ARC core used, that would lead to some duplication. Current model is one board with 3 SoC versions (different FPGA bitfile configurations).

[2018-03-23 13:11] youvedeep commented on #6719
Hi @eyuval

 Can you please comment on which project you are trying to compile ?  Is that part of Zephyr tree ?

[2018-03-23 13:13] MaureenHelm commented on #6283
@nashif @galak Not sure who to assign this to, can you please take a look?

[2018-03-23 13:47] carlescufi opened #6770 "Multiple Git Repositories"
Important: The west multi-repo model is discussed and tracked in [this document](https://docs.google.com/document/d/1HrrMZ11nULWoAv3mR70VxT6nB_I1qMytpnmxFcVPCpM/edit#heading=h.jez2gcesuzg)

This issue covers splitting the current zephyr Git repository into multiple ones, and having a tool to manage multiple repositories and contribute to them.

**Note**: We have edited this issue's description in

[2018-03-23 13:57] carlescufi commented on #6770
Options to achieve this goal:

1. Fork Google's [repo](https://gerrit.googlesource.com/git-repo) tool and make it work on Windows properly
2. Take parts or fragments from either repo or `gclient` inside [depot_tools](https://chromium.googlesource.com/chromium/tools/depot_tools.git/) and write our own tool that, in time, can also fulfill the requirements in #6205

[2018-03-23 14:03] mbolivar commented on #6770
- Ability to manage (create, delete, push, pull, rebase, etc.) project branches/revisions in diverse situations: locally, in collaboration with other developers, for upstream review
- Ability to query global status information about local projects (branches, commits, diffs)
- Ability to manage the current projects in the manifest (list project names and their paths, run commands in multiple projec

[2018-03-23 18:39] ulfalizer commented on #6749
I added a warning for it: https://github.com/ulfalizer/Kconfiglib/commit/7ba79cafa8e03af90dea0c4378e024d24a7d64b7

[2018-03-24 18:56] dbkinder opened #6773 "Publish doxygen-generated API pages"
We use doxygen to process header files to collect public API information.  Today we use the XML output to feed into the Sphinx/Breathe processing to create the published [API documentation](http://docs.zephyrproject.org/api/api.html).  Doxygen also produces an HTML version of the API documentation that we generate but don't publish.  Some developers have asked for alternative ways of presenting th

[2018-03-24 19:05] dbkinder opened #6774 "Replace zephyr-docs-theme with more maintainable theme"
The current sphinx theme used for generating the technical documentation was created to match the zephyrproject.org look and feel when the project was first launched.  We've since had revisions of the zephyrproject.org site (and now are using WordPress rather than Drupal) and have had to massage the sphinx theme to mimic the site.  The theme, javascript, and CSS is difficult to maintain as we've f

[2018-03-24 19:07] dbkinder opened #6775 "Simplify left nav index on technical docs"
Remove the word Zephyr from the index titles to reduce the navigation width (we know it's the Zephyr project).

[2018-03-24 19:08] kumarvikash1 commented on #4213
@tarunkum , please update the issue status

[2018-03-24 19:11] dbkinder opened #6776 "Use index.rst for main doc file in folders"
Many of the main sections have their content in files with the name of the folder, e.g., http://docs.zephyrproject.org/api/api.html.  This prevents using shorter URLs such as http://docs.zephyrproject.org/api because the default action, in this case, is to retrieve a file named index.html.  Renaming, for example, api.rst to index.rst will fix this problem.

[2018-03-24 19:14] dbkinder opened #6777 "Add copyright handling to contributing doc"
Clarify the rules for updating the copyright lines in files when a developer is adding material  (add a new copyright line for the new contributor).

[2018-03-24 19:14] kumarvikash1 commented on #4324
@tarunkum , please test with latest upstream.

[2018-03-24 19:16] kumarvikash1 commented on #4217
@tarunkum , please re-test this issue and update results.

[2018-03-24 19:25] dbkinder opened #6778 "Push latest docs down into a "latest" folder"
Currently, the master-branch documents are generated daily and appear at http://docs.zephyrproject.org.  Tagged release branch documentation appear at http://docs.zephyrproject.org/1.11.0/ (for example).  Proposal is to move the master branch docs into http://docs.zephyrproject.org/latest to solve a problem with the CI systems not being able to properly sync the generated content folder because th

[2018-03-24 21:36] dbkinder opened #6779 "websocket API documentation missing"
doxygen groups for ``websocket`` and ``websocket_console`` are defined in their respective .h files, but they're not referenced in a ``.. doxygengroup`` directive to display the API information (probably should be in doc/api/networking.rst)

[2018-03-24 21:55] dbkinder opened #6780 "provide a lint-like tool for checking ReST file conventions"
Casual ReSTructuredText users can miss the subtleties of ReST's indenting and blank line rules, as well as our project conventions for heading underlines.  A lint-like tool that developers can run to check for common ReST issues would be useful on content submissions and would help catch Sphinx errors and HTML rendering problems earlier (and without a visual inspection).

[2018-03-24 22:04] dbkinder opened #6781 "Verify ALL public APIs are documented"
There are many header files (179) in the include/ folder that do not define a doxygen ``@defgroup`` and so are not being included in the Sphinx/Breathe-generated API documentation.

[2018-03-24 22:14] dbkinder opened #6782 "Create PDF version of the project documentation"
Sphinx documentation generation can create LaTeX output that can then be used to create a PDF file, but we've not exercised that path in our documentation generation system.  Figure out the configuration tweaking and additional tools (e.g., ``pdflatex``) needed to make it so.

We also need the ability to create PDF versions for a subset of the documentation tree, e.g., Kernel documentation only.

[2018-03-24 22:21] dbkinder opened #6783 "Clean up wiki.zephyrproject.org content"
Some material in the project wiki was migrated to other locations but the old content remains.  Walk through the wiki pages and either update or remove.  Also, fix the manually maintained TOC on the right to include important pages not currently listed.

[2018-03-25 06:52] eyuval commented on #6719
I am trying to compile a project out-of-tree, i.e. not part of zephyr

[2018-03-25 09:33] #6230 closed

[2018-03-25 10:16] ekarlso opened #6785 "Fail to compile when OT l2 debug is enabled."
Hi if I enable OT debug for the nrf52840 application with the config below I get a error when building:
[code]

`
[123/138] Building C object zephyr/subsys/net/ip/l2/openthread/CMakeFiles/subsys__net__ip__l2__openthread.dir/openthread_utils.c.obj
FAILED: ccache /opt/zephyr-sdk/sysroots/x86_64-pokysdk-linux/usr/bin/arm-zephyr-eabi/arm-zephyr-eabi-gcc -DKERNEL -DNRF52840_XXAA -DRADIO_CCA_CORR_LIMIT=

[2018-03-25 12:52] youvedeep commented on #6719
Does your project has internal functions like sleep() and usleep ?

[2018-03-25 15:49] jukkar commented on #6770
Perhaps this is discussed already in other forums but why do we need to have multiple git repositories in first place?

[2018-03-26 00:12] mbolivar commented on #6770
In my view, Zephyr already has multiple Git repositories. Examples:

https://github.com/zephyrproject-rtos/zephyr
https://github.com/zephyrproject-rtos/Kconfiglib
https://github.com/zephyrproject-rtos/net-tools

At least zephyr and net-tools are already required to use many networking samples in Zephyr in important cases.

Just as Zephyr's networking subsystem already benefits from multiple reposi

[2018-03-26 03:06] Shilpashree3lc opened #6792 "[Coverity CID: 183443] Memory - corruptions in /subsys/bluetooth/controller/ll_sw/ctrl.c"
Static code scan issues seen in File: /subsys/bluetooth/controller/ll_sw/ctrl.c
 Category: Memory - corruptions
 Function: radio_connect_enable
 Component: Bluetooth
 CID: 183443
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-26 03:06] Shilpashree3lc opened #6793 "[Coverity CID: 183442] Null pointer dereferences in /subsys/net/ip/icmpv6.c"
Static code scan issues seen in File: /subsys/net/ip/icmpv6.c
 Category: Null pointer dereferences
 Function: handle_echo_request
 Component: Networking
 CID: 183442
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-03-26 05:20] spoorthik commented on #6514
With  #6610, the test case is now passing.

Sample log below:
[code]

[2018-03-26 05:25] ulfalizer commented on #5622
I'm looking into this now.

Another complication is that there's a custom `Symbol.rest()` function in Zephyr's Kconfiglib 1 fork that returns RST for the symbol, with links to other symbols for `select`, etc.

Kconfiglib 2 by default prints symbols using Kconfig syntax (with all the parent dependencies propagated). I think that format would work nicely in the documentation too. I could write a cus

[2018-03-26 06:48] jukkar commented on #6793
Already fixed by commit c288bf7aeb1

[2018-03-26 06:48] #6793 closed

[2018-03-26 06:52] jukkar commented on #6700
No actual issue here, the function cannot fail in this case.

[2018-03-26 06:52] #6700 closed

[2018-03-26 06:57] jukkar commented on #6698
No actual issue here, the function cannot fail in this case.

[2018-03-26 06:57] #6698 closed

[2018-03-26 06:59] jukkar commented on #6697
No actual issue here, the function cannot fail in this case.

[2018-03-26 06:59] #6697 closed

[2018-03-26 07:08] SebastianBoe commented on #6749
@ulfalizer : Much better, I would prefer an error, but if there are unresolvable compatibility issues with Linux then a warning is good enough.

[2018-03-26 07:24] jukkar commented on #6688
False positive.

[2018-03-26 07:24] #6688 closed

[2018-03-26 07:25] jukkar commented on #6680
False positive.

[2018-03-26 07:25] #6680 closed

[2018-03-26 07:28] jukkar commented on #6260
Pointer in question cannot be null.

[2018-03-26 07:28] #6260 closed

[2018-03-26 07:51] jukkar commented on #6770
I am not questioning this issue. I was just wondering the reasoning because the issue started to talk about requirements but was not describing the "why" part.

[2018-03-26 08:57] SebastianBoe commented on #4951
re-assigning to me for now, AFAICT the Kconfig part of this is done, and this is now a build-system task.

[2018-03-26 08:59] erwango commented on #6755
Hi @webhive ,

So, obviously some thing is missing here.
Though, it's hard to say what since STM32F103C8 chip is not in tree yet and everything depends on
what you've done to enable it.
Is there a branch I can look into in order to have a check and help you?

Erwan

[2018-03-26 10:01] #6691 closed

[2018-03-26 10:14] eyuval commented on #6719
No it hasn't.

[2018-03-26 10:14] vakulgarg opened #6802 "unexpected user mode stack overflows on ARM"
I am using nxp frdm_k64f (has cortex M4 core).
I tried running zephyr/tests/kernel/mem_protect/userspace. It passes successfully.

However if I introduce a printf() in function userspace/src/main.c: umode_enter_func() under the condition when is_user_context is true, zephyr kernel crashes.

***** USAGE FAULT *****
  Executing thread ID (thread): 0x200002ec
  Faulting instruction address:  0x61a0

[2018-03-26 10:21] vakulgarg commented on #4684
Yes, it should still be an issue. I do not find any updates or fixes in the mtls, tinycrypt shim drivers.

[2018-03-26 13:06] youvedeep commented on #6719
I am still not able to reproduce your issue. As there are many sample application which has CONFIG_PTHREAD_IPC enabled but still it is working fine in Zephyr tree. (please have a look at tests in dir test/posix directory).

But I found a potential issue in return type of sleep. I have created a PR https://github.com/zephyrproject-rtos/zephyr/pull/6804 for this. Can you please make this change loca

[2018-03-26 13:34] ekarlso commented on #6785
cc @KaSroka

[2018-03-26 14:48] swapkada commented on #3514
@cvinayak i was planning to start implementation of LE extended advertisement. i would be happy to contribute to this project. Any suggestions from your side that would help me to start?

[2018-03-26 16:16] nashif commented on #6802
@agross-linaro @andrewboie  FYI

[2018-03-26 16:17] nashif commented on #6802
@andrewboie @agross-linaro  FYI

[2018-03-26 16:18] nashif commented on #6783
wiki.zephyrproject.org? We do not have this anymore!

[2018-03-26 16:29] dbkinder commented on #6783
https://wiki.zephyrproject.org still exists as a link to the GitHub wiki https://github.com/zephyrproject-rtos/zephyr/wiki

[2018-03-26 18:24] #6424 closed

[2018-03-26 18:31] dbkinder opened #6810 "Add doxygen usage guide to our contributing documentation"
Early versions of the Zephyr technical docs included contributing information for using doxygen comments for API documentation but was removed in later versions.  Bring back a practical doxygen usage guide with our project conventions on documenting API interfaces with doxygen comments, how to use Sphinx directives to add the API material to the published documentation set, and known issues and wo

[2018-03-26 18:39] dbkinder opened #6811 "Add ReST/Sphinx usage guide to our contributing documentation"
New contributors to the project (and its documentation) could use practical guidelines on ReSTructuredText and Sphinx directives, and our project conventions.  Early versions of our technical docs included some of this information but was removed.   Bring that back and update with current conventions and practical issues we see in documentation contributions (e.g., conventions on indenting and hea

[2018-03-26 19:14] andrewboie commented on #6802
This is specifically a problem with how printf() calls into the kernel.
We end up in the UART console driver's console_out() function, and a pointer value that is not accessible to user mode gets dereferenced. We need to already be in supervisor mode by the time we get to this point.
@vakulgarg please meanwhile use printk() which doesn't have this problem.
I'll work up a patch to fix this issue. T

[2018-03-26 19:40] andrewboie commented on #6802
Set to medium prio now that we understand the issue better.

[2018-03-26 19:59] nashif commented on #6770
Updated with the "why" part. We had this documented somewhere else.

[2018-03-26 22:34] dbkinder commented on #6811
Document use of ``.. zephyr-app-commands`` directive

[2018-03-26 23:55] andrewboie opened #6814 "user mode does not work with newlib"
When I started running tests with newlib, I found that I was getting page faults with memory past the _end symbol when invoking console API calls (in my case the PC was in __sfputc_r). On further inspection, it appears newlib is calling _sbrk(1032) for its own internal purposes.

We are going to need to figure out some way of dealing with this. We probably need to make the newlib heap globally rea

[2018-03-27 05:06] vakulgarg commented on #6802
It is not enough to change printf() to printk(). I tried following test_main() as user mode entry point. Printk() prints the given string fine, but there is a crash subsequently.

void test_main(void *a, void *b, void *c)
{
        printk("Inside test_main\n");
        while (1) {
        }
}

***** Stack Check Fail! *****
Current thread ID = 0x20002eec
Faulting instruction address = 0x296ec

The

[2018-03-27 05:23] hongshui3000 opened #6816 "Question: Is KProbes supported in Zephyr? Or any plan?"
KProbes, dynamic instrumentation system inspired by Linux Kernel, allowing developers to gather additional information about kernel operation without recompiling or rebooting the kernel. It enables locations in the kernel to be instrumented with code, and the instrumentation code runs when the ARM core encounters that probe point. Once the instrumentation code completes execution, the kernel conti

[2018-03-27 05:57] agross-linaro commented on #6802
Can you try removing your build directory and try again.  Or did you try
that already?

On Tue, Mar 27, 2018, 00:06 Vakul Garg <notifications@github.com> wrote:

[2018-03-27 06:07] tarunkum commented on #4217
@jukkar

I tried to communicate the two FDM boards with different sample application.

In one target I have flashed the "Zephyr/samples/net/sockets/echo_async" & in other target I have flashed the "Zephyr/samples/net/echo_client".

After flashing I did not find any issues. Please find the below logs from two zephyr target devices.

window 1

Zephyr/samples/net/sockets/echo_async

***** BOOTING ZEP

[2018-03-27 06:18] hongshui3000 opened #6817 "Question: Is supported for stack sharing among tasks in Zephyr? Or any plan?"
Support for stack sharing techniques, and one-shot task model to reduce the overall stack usage.

[2018-03-27 06:21] hongshui3000 opened #6818 "Question: Is Lightweight OpenMP implementation supported in Zephyr? Or any plan?"
provides a predictable parallel programming model based on a subset of OpenMP

[2018-03-27 06:52] tarunkum commented on #4213
@jukkar , @kumarvikash1

I tried to test with 1.11 RC3 tag. I did not find any issues related to communication between http_client on Zephyr target and http_server on local machine.

Please find the below logs from my machine.

window 1

Zephyr/samples/net/http_client

[http-client] [INF] response: HTTP body: 24 bytes, expected: 24 bytes
[http-client] [INF] do_async_http_req: [18] Send /big-file.h

[2018-03-27 07:09] tarunkum commented on #4324
@kumarvikash1 , @jukkar

I tired today to validate the http_client on Zephyr & server on local machine.

I am not able to find any issues on http_client application & taken logs on zephyr console.

window 1

Zephyr/samples/net/http_client

[http-client] [INF] response: HTTP body: 24 bytes, expected: 24 bytes
[http-client] [INF] do_async_http_req: [18] Send /big-file.html
[http-client] [INF] respon

[2018-03-27 08:34] youvedeep commented on #6719
yes that is next point we need to see,  The functions are declared as static inline in unistd.h and it is later on including #include_next <unistdh> file. So looks like the functions in side posix/unistd.h (static ) are coming in conflict with unistd.h file.

we should use <posix/xxx.h> due to that only if CONFIG_POSIX_IPC is enabled posix/unistd. h is getting included first.
In order to avoid thi

[2018-03-27 09:00] vakulgarg commented on #6802
Remove build/ directory and rebuilding didn't help.

[2018-03-27 13:01] carlescufi opened #6821 "Simplify rendering of Kconfig variable doc"
Currently Kconfig options are rendered in an excessively verbose way:

http://docs.zephyrproject.org/reference/kconfig/CONFIG_NET_DEBUG_L2_IEEE802154.html#cmdoption-arg-config-net-debug-l2-ieee802154

Propose to reduce that to smaller set of variables such as:

* Title
* Help text
* Dependencies
* Value
* File defined

[2018-03-27 13:05] twowinter opened #6822 "Document how to flash with openocd on windows"
hello, i am new to zephyr.

I use NUCLEO_L073RZ to test zephyr, but failed on the step "ninja flash", these are log:

[code]

By the way, "Download with Keil MDK" is OK.

Is it about Openocd install ? or stlink path? I didn't find these information in the [tutorial](http://docs.zephyrproject.org/getting_started/installation_win.html) .

[2018-03-27 13:11] mbolivar opened #6823 "Optimize rendering of Kconfig documentation"
Generating and rendering all of the Kconfig pages in Zephyr's sphinx documentation is currently about 75% of the docs generation time in a profiling step I did recently.

This issue tracks optimizing this.

Ideas:

- Generate a thin page for each option, with a custom Sphinx directive that generates all of the text (using kconfiglib behind the scenes). This would avoid having to go to the trouble

[2018-03-27 13:37] #6109 closed

[2018-03-27 13:38] #5739 closed

[2018-03-27 13:38] #5738 closed

[2018-03-27 14:07] #6588 closed

[2018-03-27 15:54] nashif commented on #6186
![image](https://user-images.githubusercontent.com/180017/37979077-a3ea837c-31b5-11e8-9599-80756d1a0ec7.png)

[2018-03-27 15:57] carlescufi commented on #6186
CC @pizi-nordic

[2018-03-27 16:53] dbkinder commented on #6823
Quite true.  I too have noticed that this part of the doc generation really slows down the Sphinx processing.  The python script creates over 3400 .rst files (one for each Kconfig option and an index.rst to reference them all).  We might first start with whether all the information currently displayed for each option is that useful before finding a faster way to create it.  For example, is just th

[2018-03-27 17:05] dbkinder commented on #6823
... and just read #6821 that proposed a shorter list of config information.  Good.

[2018-03-27 17:14] nashif commented on #6400
@tarunkum ping (FYI @vikramx2112)

[2018-03-27 17:23] ulfalizer commented on #6823
I haven't looked into this, but it might be worthwhile to check if parallel processing can be enabled for `sphinx-build` as well. Currently it can't, due to `breathe`:

[code]

I checked with `top` that you only get a single process, even with `-j8`.

[2018-03-27 17:25] dbkinder commented on #6780
https://pypi.python.org/pypi/restructuredtext_lint might be a promising start

[2018-03-27 17:39] andrewboie commented on #6802
OK we definitely have two issues here. The other problem seems to be specific to the ARM port.

[2018-03-27 19:05] carlescufi commented on #6709
Nice timing, see https://github.com/zephyrproject-rtos/zephyr/pull/6826

[2018-03-27 22:14] mbolivar commented on #6823
Yeah, I think if we did this with a Sphinx extension that populates nodes within a small and predefined set of rst files, that then get rendered, we have a solid chance at making this a lot faster.

Here's the (stale) upstream issue: https://github.com/michaeljones/breathe/issues/141. In general, Breathe is on life support: https://github.com/michaeljones/breathe/issues/336. So I think this is not

[2018-03-27 23:28] dbkinder opened #6831 "Update template docs with build example"
We've got a sphinx extension used to generate example build instructions.  Include use of the ``zephyr-app-commands`` extension in the sample templates found in the ``doc/templates`` folder, to help show how to use it (vs. using a ``code-block``)

[2018-03-28 04:11] ulfalizer commented on #6823
@mbolivar
Almost done -- just some cleanup left to do. Here's the [current WIP](https://dpaste.de/x8ue) in the meantime ([output](https://www.dropbox.com/s/a34tlk2ncyus8po/promptandtype.png?dl=0)), if you want to get an idea of how it'll work.

The basic scheme hasn't changed since the old script: There's a separate RST file for each symbol, and an `index.rst` file that links to them. Is it possib

[2018-03-28 06:29] tarunkum commented on #6400
@rveerama1

 I took the latest branch use the same configuration as I mentioned earlier. I am not able to find the communication between server-client.

Please find the below message log of http_client  on serial window.

***** BOOTING ZEPHYR OS v1.11.99 - BUILD: Mar 28 2018 06:27:55 *****
[dev/eth_mcux] [INF] eth_mcux_phy_event: Enabled 100M full-duplex mode.
~x~] [INF] main: --------Sending 20 s

[2018-03-28 06:47] ManojSubbarao commented on #3384
@punitvara any updates?

[2018-03-28 07:05] #6779 closed

[2018-03-28 08:31] xiaom-GitHub opened #6833 "Question: BLE 5.0 extended advertising feature support for HCI"
Notice that link layer code has already implemented the extended advertising feature, and shell cmd "advx" and "scanx" for testing. May I know any plan about the extended advertising feature support for HCI cmd between host and controller? also including extended scan feature(e.g. receive the extended adv report and pass it to host). Thanks!

[2018-03-28 10:57] locomuco commented on #6770
what also could be considered:

e.g. at the moment zephr master is working with net-tools master, but there is no pinning at the moment to a specific version, like it would be with git submodules

[2018-03-28 12:05] finikorg commented on #6646
@IvanSanchez OK with the change proposed, are you going to send a PR?

[2018-03-28 12:53] erwango commented on #6017
Thanks @SebastianBoe, I'll have a look.

Meanwhile, working with @galak, we've come up to several things that should help to get things working.

A] Could be overcome by defining a connector node outside soc
```arduino,i2c: &i2c1{};```
This require dtc v1.4.2 or later and some modification in devicetree.py
(Commit of interest: https://git.kernel.org/pub/scm/utils/dtc/dtc.git/commit/?h=v1.4.6&id=33

[2018-03-28 14:07] carlescufi commented on #6833
The Link Layer currently only supports a very small subset of the Advertising Extensions feature, if that is what you are referring to. @cvinayak is currently working on rearchitecting the Link Layer to support multiple advertisers and scanners, which will pave the way to support the full set of Advertising Extensions. There is no timeline yet, but we hope to send the first patches very soon.

[2018-03-28 17:35] ulfalizer opened #6844 "Update Kconfiglib to improve generated documentation"
There are currently two issues with the fix for https://github.com/zephyrproject-rtos/zephyr/issues/6821 (pull request: https://github.com/zephyrproject-rtos/zephyr/pull/6843) that require a Kconfiglib update to resolve:

 - `FOO` is not turned into a link for `select FOO` and `imply FOO`. This will be fixed by https://github.com/ulfalizer/Kconfiglib/commit/a5ea0dcbc8b9343f6901654ad92de6ece156f954

[2018-03-28 17:38] ulfalizer commented on #6844
@carlescufi

[2018-03-28 18:41] ulfalizer commented on #6844
Fix for second issue: https://github.com/ulfalizer/Kconfiglib/commit/7245bad9ebb58fc8ce5a322081fc6c39d2dc59c6

[2018-03-28 20:13] #6450 closed

[2018-03-28 20:24] andrewboie opened #6846 "need console subsystem abstraction for console syscalls"
We currently have the printk/stdout/stdin hook registration mechanism which, among other things, doesn't have a good place to implement system calls.

We put something together specific to printk(), but we need to do this for various C library functions as well that emit to the console in both newlib and minimal libc.

A first attempt added syscalls to the C libraries (see #6815 ) but it would be

[2018-03-28 20:26] andrewboie commented on #6802
Changing title to reflect what @vakulgarg is seeing on ARM.
The printf() syscall thing, I opened a separate issue #6846

[2018-03-28 21:55] ulfalizer opened #6849 "Some Kconfig symbols select choice symbols, which is a no-op"
The latest version of Kconfiglib (https://github.com/zephyrproject-rtos/zephyr/pull/6848) warns if a `choice` symbol is `select`ed, since it's a no-op. This currently triggers the following warnings for Zephyr:

[code]

The `select`s should be removed to clarify the Kconfig files and get rid of the warnings. There might be more appropriate fixes than a dumb removal for some of the cases.

[2018-03-28 21:56] ulfalizer commented on #6849
CC @carlescufi

Please assign to me. I have a PR ready.

[2018-03-28 21:56] #6749 closed

[2018-03-28 21:56] #6844 closed

[2018-03-28 23:04] ulfalizer opened #6851 "'make html' in doc/ fails with lexer.DtsLexer import error"
Error message:

[code]

[2018-03-28 23:05] ulfalizer commented on #6851
CC @carlescufi @b0661

Please assign this to me. I have a fix ready.

[2018-03-29 04:03] ulfalizer commented on #5443
This behavior actually makes some sense once you know that `.config` files use Makefile syntax (which means they can be `include`d to check configuration values).

It's motivated by two things:

  1. You want `n` to correspond to unset, because that's easy to test for in `make`.

  2. You still need to remember `n` user values, e.g. if a symbol that's `default y` is set to `n`.

The comment will b

[2018-03-29 07:53] ulfalizer opened #6854 "'make html' in doc/ gives an error if doc.log is missing or empty"
If `sphinx-build` doesn't write anything to stdout/stderr and `doc.log` is missing or empty, `make html` gives the following error:

    ./scripts/filter-doc-log.sh doc.log
    Error in ./scripts/filter-doc-log.sh: logfile "doc.log" not found.
    Makefile:82: recipe for target ”html” failed
    make: *** [html] Error 1

[2018-03-29 09:01] KaSroka commented on #6785
This will be fixed by @rlubos. Looks like variable names has diverged somewhere

[2018-03-29 09:37] xiaom-GitHub commented on #6833
Thanks for this quick confirm. Yes, also notice some "TODOs" listed in the code now. Adv extensions feature give more opportunities to avoid the large payload fragments, currently I just adjust the Legacy Adv data mtu (31 -> 251), HCI cmd buffer size and radio pdu buffer size to allow nrf52840 transmitting the large packet, however, it's just kind of workaround. Expecting the full set of Adv exten

[2018-03-29 09:38] #6833 closed

[2018-03-29 09:39] carlescufi commented on #3514
@xiaom-GitHub FYI

[2018-03-29 09:50] pboettch commented on #5554
I'm back on this link-problem and have found another case which creates a problem: libraries added at application-level which are using functions and features from zephyr which are not used by zephyr itself.

[code]
If now the zephyr-part the (part which is linked within `--start-group` and `--end-group`)  is not using pipes the linker throws away, for example, `_impl_k_pipe_put`. As `lib` is usin

[2018-03-29 12:16] #6851 closed

[2018-03-29 12:26] #6854 closed

[2018-03-29 12:57] #6849 closed

[2018-03-29 13:54] #6356 closed

[2018-03-29 14:53] nashif opened #6857 "need to improve filtering and coverage in sanitycheck"
The numbers of code we build and run per commit has been growing out of control and the promise of having CI results delivered in 15 minutes or less is not being met anymore (we are close to 30 minutes now).

We need a better way to filter tests and still get good coverage.

See the how the numbers have been growing over time:

![image](https://user-images.githubusercontent.com/180017/38095856-71f

[2018-03-29 15:02] mbolivar commented on #6823
I have looked, and haven't found a way. I still hope I'm missing something, but I wouldn't bet on it at this point.

[2018-03-29 15:14] erwango opened #6858 "Default board configuration guidelines"
Most of the boards supported in Zephyr tree could be configured in quite multiple ways,
either for pins configuration, hardware interfaces, instances of these interfaces and
then configuration of the drivers for each of these entities.
When porting a board and pushing it upstream, one will either copy configuration from
a similar board, either configure the board according to his constraints or in

[2018-03-29 15:20] nashif commented on #6858
You probably want this documented here: doc/porting/board_porting.rst

[2018-03-29 15:33] erwango commented on #6858
Thanks for the pointer!

[2018-03-29 21:51] agross-linaro commented on #6802
The generated syscall is breaking the ARM AAPCS.  Additional padding is being put in at the time of the svc to pad out the stack.  This is breaking the expected storage of parameters.

K_SYSCALL_DECLARE2(K_SYSCALL__ZEPHYR_FPUTC, _zephyr_fputc, int, int, c, FILE *, stream);
    1088:       b410            push    {r4}
    108a:       4603            mov     r3, r0
    108c:       460a            mo

[2018-03-30 12:16] nashif commented on #4964
was completed by @galak

[2018-03-30 12:16] #4964 closed

[2018-03-30 19:04] ulfalizer commented on #5847
Here's some notes from playing around a bit with some of the toolkits (I might update them as I go):

# [ASCIIMATICS](https://github.com/peterbrittain/asciimatics)

The API and widget set seem nice and flexible, and mouse support is good.

Unfortunately, there's really noticeable startup delay and (worse) input delay in the UI examples I tried (`samples/contactlist.py`, `samples/forms.py`, `sample

[2018-03-31 06:28] zhaozhongchen opened #6866 "build: requirements: No module named yaml and elftools"
I am installing zephyr to a new ubuntu server according to this guide: Development Environment Setup on Linux. I had install additional packages by using this command:
[code]

after that i try compile a hello_world example for frdm_k64f,
[code]

the build system complained that can't find yaml. so i install python3-yaml using apt-get. after that cmake generated Makefile successful. Unfortunately m

[2018-04-01 16:23] ekarlso opened #6874 "Not able to join OpenThread BorderRouter or a ot-ftd-cli network"
Copied from Google groups:
Hmm, So I tried now using a NRF52840 as the joiner using the ot-ftd-cli firmware and using a Zephyr with joiner enabled.

The OT firmware works fine and there I get join success.

But with Zephyr I get a different EUI64 then on the ot-ftd-cli firmware as well as that it fails with NotFound:

So I enabled join using "wpanctl permit-join 7200" and "sudo wpanctl permit-join

[2018-04-01 17:06] ekarlso commented on #6874
cc @KaSroka

[2018-04-02 03:35] ulfalizer opened #6879 "Display symbols with multiple defs. with the right properties in the Kconfig documentation"
Currently, Kconfig symbols defined in multiple locations get all their properties (`defaults`, `selects`, `implies`, and `ranges`) displayed on the first instance of the symbol in the Kconfig documentation, rather than on the instance that actually has the property.

I thought of some internal Kconfiglib reorganization that would fix this (and that might also clean up the dependency propagation co

[2018-04-02 03:36] ulfalizer commented on #6879
@carlescufi

[2018-04-02 03:40] ulfalizer commented on #6879
Note to self: Save all properties separately on the menu node itself during parsing, then propagate them up to symbols and choices in `_finalize_tree()`.

[2018-04-02 05:35] Shilpashree3lc opened #6881 "[Coverity CID: 183487] Control flow issues in /subsys/net/ip/net_core.c"
Static code scan issues seen in File: /subsys/net/ip/net_core.c
 Category: Control flow issues
 Function: net_send_data
 Component: Networking
 CID: 183487
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-02 05:35] Shilpashree3lc opened #6882 "[Coverity CID: 183486] Null pointer dereferences in /tests/net/traffic_class/src/main.c"
Static code scan issues seen in File: /tests/net/traffic_class/src/main.c
 Category: Null pointer dereferences
 Function: address_setup
 Component: Tests
 CID: 183486
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-02 05:35] Shilpashree3lc opened #6883 "[Coverity CID:183485] Memory - illegal accesses in /subsys/net/ip/net_tc.c"
Static code scan issues seen in File: /subsys/net/ip/net_tc.c
 Category: Memory - illegal accesses
 Function: net_rx_priority2tc
 Component: Networking
 CID: 183485
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-02 05:35] Shilpashree3lc opened #6884 "[Coverity CID: 183484] Null pointer dereferences in /tests/net/checksum_offload/src/main.c"
Static code scan issues seen in File: /tests/net/checksum_offload/src/main.c
 Category: Null pointer dereferences
 Function: recv_cb_offload_disabled
 Component: Tests
 CID: 183484
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-02 05:35] Shilpashree3lc opened #6885 "[Coverity CID:183482] Memory - illegal accesses in /subsys/net/ip/net_tc.c"
Static code scan issues seen in File: /subsys/net/ip/net_tc.c
 Category: Memory - illegal accesses
 Function: net_tx_priority2tc
 Component: Networking
 CID: 183482
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-02 05:35] Shilpashree3lc opened #6886 "[Coverity CID: 183481] Insecure data handling in /ext/lib/crypto/mbedtls/library/pkparse.c"
Static code scan issues seen in File: /ext/lib/crypto/mbedtls/library/pkparse.c
 Category: Insecure data handling
 Function: pk_parse_key_pkcs1_der
 Component: External
 CID: 183481
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-02 05:35] Shilpashree3lc opened #6887 "[Coverity CID: 183480] Null pointer dereferences in /tests/net/checksum_offload/src/main.c"
Static code scan issues seen in File: /tests/net/checksum_offload/src/main.c
 Category: Null pointer dereferences
 Function: recv_cb_offload_enabled
 Component: Tests
 CID: 183480
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-02 05:35] Shilpashree3lc opened #6888 "[Coverity CID: 183479] Insecure data handling in /ext/lib/crypto/mbedtls/library/pkparse.c"
Static code scan issues seen in File: /ext/lib/crypto/mbedtls/library/pkparse.c
 Category: Insecure data handling
 Function: pk_get_rsapubkey
 Component: External
 CID: 183479
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-02 05:35] Shilpashree3lc opened #6889 "[Coverity CID: 183478] Error handling issues in /tests/net/ipv6/src/main.c"
Static code scan issues seen in File: /tests/net/ipv6/src/main.c
 Category: Error handling issues
 Function: test_init
 Component: Tests
 CID: 183478
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-02 08:06] spoorthik opened #6890 "tests: kernel: arm_irq_vector_table: Usage fault on nrf52_pca10040"
When zephyr.git/tests/kernel/arm_irq_vector_table is run on nrf52_pca10040, usage fault occurs.

Sample log:
[code]

Also, I could see following build warning:

`warning: NUM_IRQS (defined at zephyr.git/arch/arm/soc/arm/beetle/Kconfig.defconfig.series:16, zephyr.git/arch/arm/soc/arm/mps2/Kconfig.defconfig.mps2_an385:12, zephyr.git/arch/arm/soc/atmel_sam/sam3x/Kconfig.defconfig.series:23, zephyr.gi

[2018-04-02 11:17] ulfalizer commented on #6890
Hello,

From a Kconfig perspective, the problem is that `NUM_IRQS` isn't user-assignable (can't get its value from a `.config` file -- `tests/kernel/arm_irq_vector_table/prj.conf` in this case), because it has no `prompt`. Having a prompt corresponds to being visible in the `make menuconfig` interface, if you've used that.

Since `NUM_IRQS` isn't user-assignable, the user value from `prj.conf` is

[2018-04-02 12:58] nashif commented on #6890
The NUM_IRQ issue is a separate issue that we need to track somewhere else. We need to have a single definition of NUM_IRQ defined in 1 place for all architecture and use it in a consistent way, possible move it to arch/Kconfig and make it user-assignable

[2018-04-02 13:52] ulfalizer commented on #6890
Yeah, seems a lot of stuff in those `Kconfig.defconfig` files could be handled via `.config` files instead.

[2018-04-02 14:29] jhedberg commented on #2446
There's now a `BT_LE_ADV_OPT_USE_IDENTITY` option to force non-connectable advertisements to always go out with the same address.

[2018-04-02 14:29] #2446 closed

[2018-04-02 14:29] nashif commented on #3129
can this be closed?

[2018-04-02 14:35] nashif commented on #3221
what is the status of this? @jhedberg @sjanc ?

[2018-04-02 14:36] nashif commented on #3222
@jhedberg any update on this?

[2018-04-02 14:51] ulfalizer commented on #6890
Here's what I suspect the thinking behind the design is:

 1. Boards have some fixed setting/symbol X.

  2. If a user picks a particular board, they shouldn't be able to change X in e.g. `menuconfig`, so X has no `prompt`.

  3. Since X has no prompt, it can't be assigned its board-specific value via a `.config` file.

  4. X still needs to get its board-specific value somehow though, and that's

[2018-04-02 17:50] nashif commented on #6866
Your python installation is not working correctly, i.e. when you install with pip3 install --user it does install libraries in your home directory, the installation path seems not to be in your python path

[2018-04-02 17:52] nashif commented on #6816
it is not supported. we have plans to add more tracepoints. right now this is covered with the kernel event logger, but coverage is minimal.

[2018-04-02 18:12] MaureenHelm opened #6891 "jlink flashing is broken in windows"
The jlink binary runner supports debug and flashing capabilities that work well in Linux, but flashing in Windows returns an error:
[code]

[2018-04-02 18:38] tntclaus commented on #4959
@andrian7 you made my day, man!

[2018-04-02 19:40] chtavares592 opened #6893 "http_client: Struct data is erased for no apparent reason"
I'm developing a http_client zephyr application where the server sends a json, that json is stored in a structure.
But when I'm going to make a new request to the server, the struct data is erased .. for no apparent reason.
Does anyone know how to solve it?

[2018-04-02 22:58] andrewboie opened #6896 "too many static MPU regions on many ARM targets"
Many SoCs are configuring up to five static MPU regions at boot. With the implicit regions used for thread stack, privileged stack guard, and app data memory, there are no free regions left on systems with 8 MPU regions.

We need to reconsider what we are doing here:

- For SoCs which have 8 MPU regions, ensure we have a background mapping for global supervisor mode read/write/no-execute access to

[2018-04-03 01:22] twowinter commented on #6822
Is it about Openocd install ? or stlink path? I didn't find these information in the tutorial .

[2018-04-03 06:19] ShengRang opened #6897 "Can't build i586 on Mac following instructions"
using 1.11.99 , following the [installation_mac](http://docs.zephyrproject.org/getting_started/installation_mac.html) in doc.

Everything works exactly right until this step:

[code]

After `ct-ng oldconfig`, the file .config looks like this:
![image](https://user-images.githubusercontent.com/6905699/38232090-2dac1804-3748-11e8-9374-8234dd98fb46.png)
however in document, it said the .config should

[2018-04-03 07:08] ulfalizer commented on #5847
Made a little progress on a version that uses the `curses` module. It's still in a WIP (hacky) state and missing essential features (no save/load, symbol information, search, mouse support, etc.)

The curses-specific parts are trivial, so it'd be easy to switch out curses for something else. I suspect that will be true when more features are added as well. Most of the complication is in menu navig

[2018-04-03 08:38] IvanSanchez commented on #6646
@finikorg I'd rather wait for #4661.

[2018-04-03 09:15] carlescufi commented on #5847
@mbolivar @SebastianBoe @nashif @ulfalizer

I have looked through the option of using PDCurses and the .whl file you point to, but here are the issues with it:

* We don't have the source code for it for the latest Python version
* It's unsupported, placed in some random person's homepage
* If a problem arises on a user's computer (say a segfault) we are on our own and we would need to provide our

[2018-04-03 09:28] carlescufi commented on #5847
A few more comments on the options you list:

* Urwid does not work on Windows, requires several modules not available on it, so not an option
* Blessings doesn't seem to support color on Windows, comes with no examples either, it's a very small project

For me the best contender is still python-prompt-toolkit by far because of all the reasons listed so far.

[2018-04-03 09:52] #2342 closed

[2018-04-03 09:52] laperie commented on #2342
closing: No longer relevant. Will reopen if Zephyr will get native Thread stack,

[2018-04-03 09:53] laperie commented on #2343
closing: No longer relevant. Will reopen if Zephyr will get native Thread stack,

[2018-04-03 09:53] #2343 closed

[2018-04-03 09:53] laperie commented on #2344
closing: No longer relevant. Will reopen if Zephyr will get native Thread stack,

[2018-04-03 09:53] #2344 closed

[2018-04-03 09:53] laperie commented on #2345
closing: No longer relevant. Will reopen if Zephyr will get native Thread stack,

[2018-04-03 09:53] #2345 closed

[2018-04-03 09:53] laperie commented on #2346
closing: No longer relevant. Will reopen if Zephyr will get native Thread stack,

[2018-04-03 09:53] #2346 closed

[2018-04-03 09:53] laperie commented on #2341
closing: No longer relevant. Will reopen if Zephyr will get native Thread stack,

[2018-04-03 09:53] #2341 closed

[2018-04-03 09:53] laperie commented on #1896
closing: No longer relevant. Will reopen if Zephyr will get native Thread stack,

[2018-04-03 09:53] #1896 closed

[2018-04-03 10:46] laperie opened #6899 "support Ethernet statistical counters"
Provide a functionality allowing an application to get access to the statistical counters generated by the Ethernet controller

[2018-04-03 10:53] ioannisg commented on #5847
@gbakke FYI

[2018-04-03 11:59] ulfalizer commented on #5847
Summing up some notes from IRC:

 - FWIW, the guy providing the Python PDCurses wheel seems to be [pretty serious](https://www.python.org/community/awards/psf-awards/#october-2014). But yeah, there's of course the risk that he stops updating them.

 - I wonder what form the Unicode brokenness in the Python `PDCurses` wheel takes. Slightly messed-up display vs. very messed-up display vs. not being

[2018-04-03 12:35] carlescufi commented on #5847
@ulfalizer thanks for the updates. If all you need is `getch()` and `addstr()` then I am pretty sure we can get a version of those relatively easily either using PPT or taking the necessary code from it.

[2018-04-03 12:39] ulfalizer commented on #5847
@carlescufi I suspect it might be messy to rip it out cleanly if they don't provide it in the interface. There's probably display optimization and stuff going on. I think that's needed to avoid flicker even in terminal emulators.

Pretty sure we'll work something out at least. :)

[2018-04-03 12:43] jukkar commented on #6893
Can you elaborate the issue more, it is a bit difficult to guess what you are doing?
Do you have sample code that shows the issue?

[2018-04-03 13:01] nashif commented on #6651
ram is now added to those boards

[2018-04-03 13:01] #6651 closed

[2018-04-03 13:06] chtavares592 commented on #6893
Sorry, I'll try to explain it better.
I perform a post to the server to get a json, after getting it I perform the function call "json_obj_parse" to store the data in the struct. I verify the values contained in this structure and are all stored correctly. However, in my application it is necessary to perform a report to the server to inform the next steps, when I call the function "http_client_se

[2018-04-03 14:18] nashif opened #6902 "k_call_stacks_analyze needs to be reimplemented and optimized"
`k_call_stacks_analyze` being a 1st class kernel API currently prints stack data for system threads by directly invoking printk. It is implemented as part of the init.c source code for weird reasons and to access to stack data of threads defined in this file.

Ideally we should rely on CONFIG_THREAD_STACK_INFO instead and provide stack data/information for all threads configured in the system, for

[2018-04-03 14:29] ioannisg commented on #6890
I did some initial investigation on this. and it looks to me that we have two separate issues.
- one is the `NUM_IRQS` redefinition in prj.conf, which is discussed above
- the other one is the Usage Fault that is reported, which I discuss below

First, this is reproduced, easily. I am not so familiar with the ISR table generation, but it looks to me that this examples
- sets `CONFIG_GEN_ISR_TABLES

[2018-04-03 14:37] jukkar commented on #6893
Ok, perhaps this is related to json api usage. You can see one example how to use the json api in this PR #5035
Checkout the PR and see samples/net/rpl_border_router/src/http.c file for examples of json.

[2018-04-03 15:52] jukkar commented on #6881
False positive

[2018-04-03 15:52] #6881 closed

[2018-04-03 17:07] nashif opened #6906 "QM (Quality Managed) level qualification"
TBD

[2018-04-03 17:08] nashif commented on #5149
merged, closing

[2018-04-03 17:08] #5149 closed

[2018-04-03 17:08] lpereira opened #6907 "driver_api structs should have all function pointers defined"
This is more of an issue when user mode is enabled: some device drivers do not have all pointers set in their driver_api structs.  When making certain calls (for instance, calls to GPIO drivers), if a particular driver does not implement certain operation, a call to a NULL function pointer will be executed. This might be an issue when the reset vector is at 0x00000000.

There are three ways of fix

[2018-04-03 17:10] b0661 commented on #6759
Valgrind message was hiding the "real" error message. Seems to be fixed now.

Thx
Bobby

[2018-04-03 17:14] b0661 opened #6908 "shippable: console limit error (Console size exceeds 16 MB limit)"
I get this error message about console limit error when testing PR #5799. No errors found in PR.

  console_limit_error
  Console size exceeds 16 MB limit. Truncated from here.

see https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/12993/2/console

Thx
Bobby

[2018-04-03 17:15] agross-linaro commented on #6759
What exactly was the fix?  I don't see changes here.

[2018-04-03 17:32] b0661 commented on #6759
No fix from my side - just an assumption because I could see the error message in the console output  when testing.  I had a programming error in a python script.

[2018-04-03 17:45] MaureenHelm commented on #6890
This test passes on frdm_k64f, mimxrt1050_evk, and lpxcpresso54114

[2018-04-03 17:52] nashif commented on #6908
looks like you have way to many build errors, something I can see for example:

[code]

It is advised in this case to run sanitycheck locally and see what is going on..

[2018-04-03 17:52] nashif commented on #6890
works on sam_e70_xplained

[2018-04-03 17:55] b0661 commented on #6908
Thank you. Will check.

[2018-04-03 18:01] lpereira opened #6909 "Number of regions in arm_core_mpu_buffer_validate() can overflow"
The number of regions is an 8-bit value.  At the beginning of the for loop, r_index is set ot _get_num_regions+1, which might go past 255.  If an overflowed r_index is passed to _is_enabled_region(), _is_in_region(), or _is_user_accessible_region(), wrong values may be passed to other MPU registers.

[2018-04-03 18:08] nashif commented on #6908
you can run with --build-only, so qemu is not invoked.

[2018-04-03 18:09] b0661 commented on #6908
Thank you, that is the option I was looking for.

[2018-04-03 18:25] b0661 commented on #6908
Programming error that only shows up if ASSERT ON.

[2018-04-03 18:25] #6908 closed

[2018-04-03 19:59] #2613 closed

[2018-04-03 20:17] agross-linaro commented on #6759
Ah ok.  This needs to be more transparent.  This has happened in the past and was hard to track down due to failures that required a ton of digging to find the culprit.

[2018-04-03 21:00] ioannisg commented on #6890
@nashif @MaureenHelm thanks for your input.

I investigated this further, and turns out my initial assumption was valid: the UsageFault in nRF52832 is because somewhere - during initialization - either the RTC (timer) interrupt, or some interrupt associated with the BLE controller **fires**.

If I do not enable BT on pca_10040 and disable RTC1 interrupts, the test passes also on nrf52832.

[2018-04-03 23:53] andrewboie opened #6911 "xtools build hard-coded to use IAMCU compiler for all x86 targets"
I have brew binutils 2.30 installed, but it installs it as "greadelf" and not "readelf" and CMake can't find it. Creating a symlink did not help.

`
CMake Error at /Users/andrew/zephyr/cmake/extensions.cmake:984 (message):
  No such file or directory: CMAKE_READELF: 'CMAKE_READELF-NOTFOUND'
Call Stack (most recent call first):
  /Users/andrew/zephyr/cmake/compiler/gcc.cmake:14 (assert_exists)
  /U

[2018-04-03 23:55] andrewboie opened #6912 "OS X: setup instructions are wrong"
`brew install cmake ninja dfu-util doxygen qemu dtc python3 gperf
curl -O 'https://bootstrap.pypa.io/get-pip.py'
./get-pip.py
rm get-pip.py
cd ~/zephyr   # or to the folder where you cloned the zephyr repo
pip3 install --user -r scripts/requirements.txt`

The ./get-pip.py line does not work, the script is not executable and requires sudo anyway.

[2018-04-04 07:47] SebastianBoe commented on #5554
Hi,

will get this cleared up by the end of the week.

[2018-04-04 08:38] pboettch commented on #5554
I'm available as well for discussions (elsewhere than here or by mail if needed). I'd love to have a nice solution.

[2018-04-04 10:18] jukkar commented on #6902
This is actually how the "net stacks" net-shell command is doing things. It collects stack information for network related threads and prints the values itself. It would be great if we could have this kind of service provided by the kernel directly so I could actually remove this support from network subsystem.

[2018-04-04 11:33] ulfalizer commented on #5847
Added scrolling, support for `menuconfig FOO` symbols, and some misc. minor things:

![skarmbild fran 2018-04-04 13-09-52](https://user-images.githubusercontent.com/154768/38304415-abebe868-3809-11e8-97fb-63f2b097d041.png)

Not winning any beauty competitions yet.

One thing I've always found annoying about `make menuconfig` is that you can't search for a symbol and then jump directly to it, so I

[2018-04-04 12:01] carlescufi commented on #5847
@ulfalizer looking good. A bit more coloring and this will be menuconfig. If you want I can give it a go on Windows, need the branch.

[2018-04-04 12:06] b0661 commented on #6759
I`m confused:
test passes in PR #5799 but fails in the cut-out PR #6761 with "ERROR SUMMARY: 0 errors from 0 contexts (suppressed: 0 from 0)"

Local run with "./scripts/sanitycheck -C -R -v -t extract_dts_includes"
passes in both PRs ( #5799 and #6761 ). I removed __pychache__ in between the tests of the different branches.

See https://app.shippable.com/github/zephyrproject-rtos/zephyr/runs/13023

[2018-04-04 14:10] rveerama1 commented on #5274
@MaureenHelm @jfischer-phytec-iot @tbursztyka To reproduce this issue on frdm_k64f + mcr20a (15.4 radio) https://github.com/zephyrproject-rtos/zephyr/pull/5035/.
sample application is : samples/net/rpl_border_router, conf_file = prj_frdm_k64f_mcr20a.conf.

[2018-04-04 15:50] nashif opened #6925 "Provide Reviewer Guidelines as part of the documentation"
Provide Reviewer Guidelines as part of the documentation as discussed in the TSC.

[2018-04-04 19:44] lpereira opened #6929 "Make slab allocator work on user mode"
In order to enable certain driver subsystems (such as I2S) to work with user mode enabled, the slab allocator must be changed to work with user mode.

The way it works right now is that it maintains a free list in the unused memory block.   If a user thread has access to this buffer, it's possible for it to corrupt the free list and get the kernel to write anywhere in memory.

By keeping the metad

[2018-04-04 19:49] lpereira commented on #6909
One has to note that in most implementations, _get_num_regions() will return a value much smaller than 255.  However, adding 1 to the value returned by this function to convert from 1-based to 0-based indexing seems to me that a region is skipped in the validation.

Also, the ARM MPU implementation and the NXP MPU implementation seems to loop through the regions in a different way (one goes forwar

[2018-04-04 20:57] andrewboie commented on #6912
Crosstool setup has this command, which errors out
`$ brew tap homebrew/dupes
Error: homebrew/dupes was deprecated. This tap is now empty as all its formulae were migrated.`

[2018-04-04 21:16] andrewboie commented on #6912
Although it used to be broken, ct-ng in brew works well now in High Sierra. I think we should delete the section about building from source.

[2018-04-04 21:17] andrewboie commented on #6912
We should *definitely* delete the section on "Verifying the Configuration of the Toolchain".
The config files checked into the tree should be in a state where they Just Work if the recommended paths are used.

[2018-04-04 21:47] andrewboie commented on #6912
The config files checked into the tree do NOT have the changes in "Verifying the Configuration of the Toolchain" made.
Why is this left as an exercise for the user??

[code]

[2018-04-04 21:55] andrewboie commented on #6912
OK I'm dead in the water trying to build the toolchain.
[code]

[2018-04-04 22:03] andrewboie commented on #6912
It seems the logic in ct-ng to detect whether gstat works like BSD or GNU is broken.
I hacked it by changing

[code]

Line 582 to just 'stat' which is the OS X BSD stat tool. Seems to work?

[2018-04-04 22:12] andrewboie commented on #6912
Anas
3:02 oh
3:02 i know what the issue is
3:02 you need to run 'make oldconfig'
3:03 the configs you have are probably for Linux and have GNU in them
3:03 'make oldconfig; would reset to BSD
3:03 I remember now, hit this some time ago
3:04 CT_CONFIGURE_has_stat_flavor_GNU=y
3:05 should be CT_CONFIGURE_has_stat_flavor_BSD=y on the mac

[2018-04-04 22:51] andrewboie commented on #6912
apboie
3:47 > CT_CONFIGURE_has_stat_flavor_BSD=y
3:47 not as simple as this.
3:48 It is trying to use gstat from brew coreutils as BSD when it is actually GNU
3:48 so it is the opposite.

[2018-04-04 22:56] andrewboie commented on #6911
Looking at CMakeCache.txt, it can't find any of the toolchain executables.

[code]

Is $CROSS_COMPILE not being set properly with xtools?

I have

[code]

Contents of my toolchain installation

https://pastebin.com/7mtiBAN9

[2018-04-04 22:56] andrewboie commented on #6912
I'm now stuck on #6911

[2018-04-04 23:13] andrewboie commented on #6911
Our xtools.cmake is broken, it's hard-coded to use the IAMCU compiler for some reason for ALL x86 targets not just the ones that actually do use IAMCU (arduino_101, qemu_x86_iamcu). I had to change it:

[code]

[2018-04-05 06:45] alexsven opened #6937 "Add option for configuring P0.9 and P0.10 as GPIO"
P0.9 and P0.10 are usually reserved for NFC, need a define in Kconfig to activate the code snippet found here: [https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/arm/soc/nordic_nrf/nrf52/soc.c#L407](url)

[2018-04-05 08:47] tbursztyka commented on #5274
Ok latest news: mcr20a just works fine with frdm k64f. It happens that @rveerama1 has a bogus hardware finally (either the mcr20a or the frdm board, we don't know). But testing the rpl border router sample works totally fine on my hardware.

I might retry cc2520 at some point, just to make sure. After all, mcr20a did not work before for some reason (cca sequencing was always failing _but_ in full

[2018-04-05 12:54] #3234 closed

[2018-04-05 12:59] b0661 commented on #6759
Retested #6761 - no faults anymore.

I spotted that there is a timeout value given for the test and the matrix build was extended from 4 to 5 in between.

[2018-04-05 14:56] #5577 closed

[2018-04-05 14:59] carlescufi commented on #6912
There's a lot of stuff in here, let's start with `get-pip.py`?

[2018-04-05 15:45] carlescufi commented on #6912
@andrewboie a first pass at fixing some of the issues you mention: https://github.com/zephyrproject-rtos/zephyr/pull/6949

[2018-04-05 17:48] andrewboie commented on #6911
We could improve the error message too.

"CMake Error at /Users/andrew/zephyr/cmake/extensions.cmake:984 (message): No such file or directory: CMAKE_READELF: 'CMAKE_READELF-NOTFOUND'"

Actually means that the build can't find the toolchain.

[2018-04-06 07:19] IotPanorama opened #6957 "NRF52840: I2C, SPI driver"
does zephyr has i2c support for nrf52840? if yes then please redirect me to that.

[2018-04-06 08:34] SebastianBoe commented on #5554
I can confirm that out-of-tree drivers are not supported yet because drivers use system calls and the system call infrastructure is currently assuming that all system call declarations are located in
zephyr/include.

Offending line:
https://github.com/zephyrproject-rtos/zephyr/blob/master/CMakeLists.txt#L343

[2018-04-06 08:35] SebastianBoe commented on #5554
@pboettch : I will create a new issue for this observation/bugreport:
https://github.com/zephyrproject-rtos/zephyr/issues/5554#issuecomment-377183960

[2018-04-06 08:38] erwango opened #6958 "[PWM] Update PWM API for dynamic prescaler computation"
As discussed in [#5469](https://github.com/zephyrproject-rtos/zephyr/pull/5469#issuecomment-373422463), current PWM API prevents dynamic prescaler computation.

Indeed, using get_cycles_per_sec in pin_set prevents to adjust PWM prescaler to the requested cycle duration and hence imposes to set it before compilation. Hence PWM application is limited to work in the duration range matching harcoded p

[2018-04-06 09:00] ulfalizer commented on #5847
Got Windows installed and did some testing. Works fine until you resize the terminal.

Unfortunately, fixing that might be a bit painful. Some notes:

No `KEY_RESIZE` events are returned by `getch()` in the Python code, so the terminal resize isn't even detected. PDCurses itself supports `KEY_RESIZE`, but [the wheel](https://www.lfd.uci.edu/~gohlke/pythonlibs/#curses) does not. Functions like `cur

[2018-04-06 09:41] pboettch commented on #5554
OK. Note that syscalls haven't been a problem in my environment (yet?!). Out-of-tree-drivers and -libraries are creating link problems because they are not in the link-group.

[2018-04-06 10:57] SebastianBoe opened #6961 "The 'app' library and additional application libraries created are linked differently"
Users should be able to describe complex applications that are organized into a hierarchy of libraries with different build properties.

To this end, it must be documented and exemplified how to create and use new app CMake libraries.

The desired model for application libraries is that they be organized as pure CMakeLists.txt libraries that could in theory be copied verbatim from a CMake project.

[2018-04-06 11:01] SebastianBoe commented on #6961
Example of the problem in action:
https://github.com/SebastianBoe/zephyr/commit/fa499525dade0973f08769e03758ad1174de001a

The above does build because app_lib is not whole-archived, this again causes symbols in the 'kernel' library to be omitted.

A temporary workaround/solution (not sure if this is a clean solution yet) is to use the CMake model and explicitly link 'app_lib' with the 'kernel' lib

[2018-04-06 11:02] SebastianBoe commented on #6961
Issue originally reported in: https://github.com/zephyrproject-rtos/zephyr/issues/5554#issuecomment-377183960

@pboettch : Hi, any thoughts on this workaround? https://github.com/zephyrproject-rtos/zephyr/commit/5b8619f63466f5bd93b9a8e2cb23113655103302

[2018-04-06 11:44] jhedberg commented on #6338
I've uploaded a fix candidate for this in #6962

@MariuszSkamra could you please test it? Also verify that it doesn't break any other provisioning or GATT proxy test cases.

[2018-04-06 12:41] MariuszSkamra commented on #6338
@jhedberg Sure.
 MESH/NODE/CFG/GPXY/BV-02-C is passing now, I will check the rest test mesh cases

[2018-04-06 18:01] andrewboie commented on #6929
So for the specific use-case of i2s subsystem, we can't find a way to expose the actual queue slabs to user mode without introducing issues where user mode could do things like free slabs unexpectedly and get the kernel to blow up when it tries to take them off the queue and do things with them in interrupt context. The current plan is to do a data copy and not expose the slabs to user mode direct

[2018-04-06 18:39] andrewboie opened #6972 "RFC: kernel heap requests on behalf of syscalls"
We've found some situations where we are going to need to allow the kernel side of system calls to reserve memory on some private kernel heap, for short or long-lived purposes, because user mode cannot be trusted to provide this memory itself. However, if we allow this, we must have some means to prevent user mode threads from DoS the kernel heap by requesting all of its memory.

Let's go through

[2018-04-06 18:56] andrewboie commented on #6288
This is now complete, implemented by #6510

[2018-04-06 18:56] #6288 closed

[2018-04-06 19:36] dbkinder opened #6973 "bad magic number in 'kconfiglib' error when generating docs"
When I try to generate documentation I'm getting an error:

    ~/zephyr$ make htmldocs
    Traceback (most recent call last):
      File "scripts/genrest/genrest.py", line 5, in <module>
        import kconfiglib
    ImportError: bad magic number in 'kconfiglib': b'\x03\xf3\r\n'
    Makefile:76: recipe for target 'kconfig' failed
    make[1]: *** [kconfig] Error 1
    Makefile:17: recipe for targ

[2018-04-06 19:38] dbkinder commented on #6973
Hi @ulfalizer, not sure what's up here, can you help?

[2018-04-06 19:44] andrewboie opened #6974 "arm_mpu: _get_region_attr() needs improvement"
This function doesn't bounds-check its arguments, the arguments don't exactly correspond to the offsets in the technical documentation (for example, the enable bit is included in the size parameter and the region parameters are pre-shifted) and hard-coded values for shift offsets are used instead of defines from CMSIS.

add __ASSERTS for bounds checks, use CMSIS for offsets/masks if possible

[2018-04-06 21:34] dbkinder commented on #6973
After a bit of searching I found there was a ~/zephyr/doc/scripts/genrest/kconfiglib.pyc file.  No sure how it got created, but I deleted it and all's well now.

[2018-04-06 21:34] #6973 closed

[2018-04-07 01:05] ulfalizer opened #6978 "Fix issues with running Python's curses module on Windows"
As part of https://github.com/zephyrproject-rtos/zephyr/issues/5847, I'm looking into getting the standard Python [curses module](https://docs.python.org/3/library/curses.html) running on Windows via the Python wheels provided on https://www.lfd.uci.edu/~gohlke/pythonlibs/#curses, which seem to be widely used.

The wheels mostly work fine, with the biggest issue being broken support for terminal r

[2018-04-07 01:05] ulfalizer commented on #6978
CC @carlescufi

[2018-04-07 02:36] ulfalizer commented on #6973
Sorry, didn't see this until now.

Yeah, probably some kind of incompatibility from different Python versions or from Windows vs Linux or something. Can't recreate it. At least Python 2.7 and Python 3.6 seem to be able to deal with `.pyc`s from each other being there.

`.pyc` files are precompiled bytecode. They're generated when you `import` stuff, to save on parsing overhead later.

[2018-04-07 03:02] nashif commented on #5254
closing, this interface will be deprecated.

[2018-04-07 03:02] #5254 closed

[2018-04-07 15:12] carlescufi commented on #6978
Does this mean that, for the time being, we need to maintain a fork of both PDCurses and also the wheel itself? This seems a bit onerous. Once you have it working with curses it would be really good to see  how much work it is to use a native Python module to achieve the same. Depending on the effort required we can then take a decision at the TSC level on this matter.

[2018-04-07 15:16] cgohlke commented on #6978
I updated the [wheels for curses](https://www.lfd.uci.edu/%7Egohlke/pythonlibs/#curses) yesterday. Please try them.

[2018-04-07 15:33] ulfalizer commented on #6978
@cgohlke
Great to hear, and thanks for making those wheels available!

Since you're here, I solved the resizing issue by calling `resize_term(0, 0)` + `erase()` on receipt of `KEY_RESIZE`, which seems to be what PDCurses expects from looking at the demos (see e.g. `demos/worm.c`). That gets you ncurses-compatible behavior, with the windows automatically resized.

No new `KEY_RESIZE`s will be gener

[2018-04-07 15:56] cgohlke commented on #6978
I enabled all possible features:
[code]
On Python >= 3.5, unicode should now work.

[2018-04-07 16:07] ulfalizer commented on #6978
@cgohlke
Nice, then it could be solved with a manual `resize_term()` call.

For ncurses-compatible behavior for `KEY_RESIZE`, I also added a `resize_term(0, 0)` in `PyCursesWindow_GetCh()` when `rtn == KEY_RESIZE`. Not sure if there's more to a proper fix.

[2018-04-08 12:47] #6890 closed

[2018-04-09 06:17] twowinter commented on #6822
Waiting for this issue

[2018-04-09 07:35] erwango commented on #6822
hi @twowinter ,

I can't test flashing on windows, so I'm not sure how to solve the issue.
But, for flashing, you can just drag and drop bin file (zephyr.bin) in the USB drive which is mounted when you plug the nucleo board to your PC.

[2018-04-09 08:13] #6338 closed

[2018-04-09 10:02] swapkada opened #6980 "extended Advertising BLE-5"
in HCI_LE_Set_Extended_Advertising_Parameters one parameter is Advertisng Handle. its bit confusing for me. As per the spacifiication manual it is "The Advertising_Handle parameter identifies the advertising set whose parameters are being configured".
Is Advertising_set specified by advertising_Handle same like advertising_type in legacy Advertisng ? or samething else with a value 0x00 – 0xEF? cou

[2018-04-09 10:26] pic16f887 opened #6981 "STM32F7 series MCUs support"

[2018-04-09 10:33] pic16f887 opened #6982 "STM32F746G DISCOVERY board support"
I have started to port Zephyr RTOS to 32F746G Discovery board. Please assign this issue to me.

[2018-04-09 11:21] eyuval opened #6983 "top level CMakeList.txt test if LINKER_SCRIPT points to existing file"
In the top level CMakeList.txt the existence of a custom linker script is tested as follows:
  if(NOT EXISTS LINKER_SCRIPT)
    set(LINKER_SCRIPT ${CONFIG_CUSTOM_LINKER_SCRIPT})
    if(NOT EXISTS LINKER_SCRIPT)

I think the tests should be for ${LINKER_SCRIPT} and not for LINKER_SCRIPT

[2018-04-09 11:24] ehudmarvell opened #6984 "include pthread in app -> compilation failed"
Hi,

I tried to compile "hello world" with "pthread" include but compilation fail (without pthread compilation pass).

my compilation steps:
rm -rf  build && mdir build && cd build;
cmake -GNinja -DBOARD=qemu_x86 ..
ninja

[code]

I got the following errors:
[code]

Should I add some POSIX flag into prj.conf? or into CMakeLists.txt?

Thanks!

[2018-04-09 11:37] erwango commented on #6981
@mjs-arm : you might be interested

[2018-04-09 11:42] erwango commented on #6981
@pic16f887,  Thanks for doing this work.
As an advice, you could have a look to recent https://github.com/zephyrproject-rtos/zephyr/pull/5949
which was last PR that introduced a new STM32 family to Zephyr.
Your work should be close to that at the end.

[2018-04-09 11:51] pic16f887 commented on #6981
@erwango Thank you. I will take it into account.