[2018-04-09 11:57] anangl commented on #6957
@IotPanorama Currently, I2C on nRF52840 is supported by the same driver as for nRF52832 and nRF51822. It uses the TWI peripheral, which is the same in these chips. You can find its implementation [here](https://github.com/zephyrproject-rtos/zephyr/blob/master/drivers/i2c/i2c_nrf5.c), and you activate it using CONFIG_I2C_NRF5 setting.

[2018-04-09 11:58] carlescufi commented on #6957
@IotPanorama The new SPI driver is ready for review here: https://github.com/zephyrproject-rtos/zephyr/pull/6985

[2018-04-09 11:58] carlescufi commented on #6957
Closing since the questions have been answered

[2018-04-09 11:58] #6957 closed

[2018-04-09 13:36] stephensmalley commented on #6972
IMHO, option 3 offers the most flexibility in resource allocation policy while also being relatively simple to use in the trivial cases.

[2018-04-09 16:09] nashif opened #6991 "Enhance test reporting and maintain one source for testcase meta data"
The plan to use a test management system (TMS) for maintaining our test cases requires an overhaul of our test-case meta-data and how we maintain them. The following is needed to allow for long-term reporting on a granular level:
- Need to have unique test case IDs
- Need to have a system for categorisation of the test-cases. At minimum we need 2 levels: section and sub-section. For example Kernel

[2018-04-09 16:50] andyross commented on #6972
I... still kinda hate this.  Not the changes themselves, just the notion of where they're going.  Trying to track allocation at a fine-grained level like this is a "last mile" kind of hardening, and we're trying to do that over an API that is already full of holes.  I mean, take the k_delayed_work examples: those are functions that run in kernel space!  Why do we care about prevening a process fro

[2018-04-09 16:58] andrewboie commented on #6972
@andyross we want to implement workqueues that run in user mode, #6289. User mode won't have access to workqueues that run in supervisor mode. I had started working on this until I realized that supporting delayed work would present some issues.

[2018-04-09 16:58] #6891 closed

[2018-04-09 17:39] andyross commented on #6972
That all sounds good.  FWIW: I'd argue you don't even need the per-object byte counts.  All that is really required for security is that the kernel object's allocation be bounded to some predictable level and not drivable to arbitrary sizes by userspace requests.  We can trust kernel code.  In almost all circumstances I'm sure this is already true.

And I was making the same assumption about permi

[2018-04-09 17:43] andrewboie commented on #6972
I'm not 100% sure about this. There are some use-cases where the memory allocation might be somewhat large. Or at least, the way that objects make allocations are not necessarily on the same order of magnitude per object type.

I did sketch out use-cases in the original RFC but I'm going to take another pass at this and really drill down to the specifics for each API that might involve allocations

[2018-04-09 17:47] andrewboie commented on #6290
#6827 is definitely related to this

[2018-04-09 21:05] andrewboie opened #6992 "extern object declarations interfere with kernel object detection"
I discovered that if you have an extern declaration of an object, and then the object itself in the same compilation unit, gen_kobject_list.py will no longer be able to find the object.

Example:
[code]

The extern definition of sem1 causes the actual instance of sem1 to no longer be detected, even though this is perfectly valid C (sem1 does not have static scope).

[2018-04-09 22:33] andrewboie opened #6996 "buffer management issues with k_pipe syscalls"
The init systemcall for the pipe queue allows passing in a userspace buffer that is then written/read from the threads using the kernel object. If this buffer was to be relinquished for example because the userspace process released it from the heap or a stack frame unwound, subsequent reads/writes through the queue object would result in using the dangling pointer. The same holds for the put, get

[2018-04-09 22:34] andrewboie opened #6997 "buffer management issues with k_msgq syscalls"
The init systemcall for the k_msg_q allows passing in a userspace buffer that is then written/read from the threads using the kernel object. If this buffer was to be relinquished for example because the userspace process released it from the heap or a stack frame unwound, subsequent reads/writes through the queue object would result in using the dangling pointer. The same holds for the put, get sy

[2018-04-10 09:46] erwango opened #7001 "ST Sensors: Driver factorization"
As discussed in #6420, several sensors reuse the same bits and drivers that get them working could be optimized taking this fact into account.

Raise a dedicated topic to keep the discussion going on

[2018-04-10 09:47] erwango commented on #7001
@avisconti , @ydamigos , let's continue the discussion here.

[2018-04-10 11:45] #6640 closed

[2018-04-10 14:10] galak commented on #6186
As part of this cleanup can we look at supporting an API that allows the user to do something like:

LOG(level, log_format, ...)

and have features like COLOR work consistently.

[2018-04-10 14:50] erwango opened #7009 "LSM6DSL: Isse with spi_config"
Seems that since recent SPI API update, spi_config as lost dev element.

In LSM6DSL new SPI interface is not in line: in lsm6dsl_spi_init
``
	lsm6dsl_spi_conf.dev = data->comm_master;
``
This should be reviewed

[2018-04-10 14:51] erwango commented on #7009
@avisconti , can you have a look?

[2018-04-10 15:56] tbursztyka commented on #7009
Ah, seems like I forgot that one when rebasing to add dev parameter again to spi functions. I can fix that

[2018-04-10 16:10] avisconti commented on #7009
@tbursztyka
OK, good. I was looking into that, but for you it is definitely easier, as you know the SPI API evolution

[2018-04-10 16:42] carlescufi commented on #2360
Duplicate of https://github.com/zephyrproject-rtos/zephyr/issues/5697

[2018-04-10 16:42] #2360 closed

[2018-04-10 16:43] carlescufi commented on #5797
@tbursztyka Can we close this?

[2018-04-10 17:53] galak opened #7013 "cleanup device tree warnings on STM32"
We need to cleanup the pin-controller nodes to address the following warnings:

[code]

[2018-04-10 17:54] galak commented on #7013
@erwango not sure if this is worth deal with now, or if things will change when we add proper pinctrl/mux support to DT and zephyr

[2018-04-10 19:01] tbursztyka commented on #5797
yes!

[2018-04-10 19:01] #5797 closed

[2018-04-10 19:04] #6980 closed

[2018-04-10 20:13] ulfalizer commented on #5847
I added a simple configuration dialog for string/int/hex values (no input verification yet) and save/load functionality, so it's in a basic usable state now.

Still ugly as sin, but that's for later.

![skarmbild fran 2018-04-10 21-50-45](https://user-images.githubusercontent.com/154768/38580410-2b444f56-3d0a-11e8-80ca-db748e4719c0.png)

![skarmbild fran 2018-04-10 21-52-36](https://user-images.gi

[2018-04-10 22:06] mgielda commented on #3650
I think this could be closed now, what do you think @galak and @dbkinder ?

[2018-04-10 22:28] dbkinder commented on #3650
The board and documentation are indeed there now.  If it's been added to sanitycheck then we're good.

[2018-04-10 22:36] mgielda commented on #3650
Sorry for the rookie question: how to add the board to sanitycheck (or check if it's already there)?

[2018-04-10 22:40] mgielda commented on #3650
OK, found it in the docs now (http://docs.zephyrproject.org/subsystems/test/sanitycheck.html#board-configuration), reading up.

So we need a file like:
https://github.com/zephyrproject-rtos/zephyr/blob/master/boards/arm/sam_e70_xplained/sam_e70_xplained.yaml

Right?

[2018-04-11 02:05] galak commented on #3650
Yeah, I added one in #7018

[2018-04-11 08:21] spoorthik opened #7020 "tests/kernel/smp: Test fails, scheduler schedules the threads on only one core"
The test at tests/kernel/smp is failed as it is scheduling the threads on only one core. Please refer the sample log:

**Board used:** ESP32

**build/zephyr/.config:**

CONFIG_SMP=y
CONFIG_MP_NUM_CPUS=2

I just added few prints in the code, to recheck that,
[code]

**Sample log:**

[code]

[2018-04-11 08:51] carlescufi commented on #5847
@ulfalizer This is excellent progress. the "Search and jump to" functionality is something I've always wanted in menuconfig so this will be most welcome.
Regarding the beautification, I would settle with a simple color scheme reasonably similar to what's in menuconfig today, but maybe @mbolivar, @nashif or @SebastianBoe have opinions on the visual style that we should adopt here.
In any case, nice

[2018-04-11 09:23] oxalistriangularis opened #7022 "HTTP Server crashes on native posix"
HTTP Server crashes on native POSIX target on http_server_init - console output below.

[code]

Debug shows that the problem is NULL pointer access on net_sin(&ctx->local)->sin_port = htons(port) from init_net (ctx=0x80d22e0 <http_ctx>, server_addr=0x0, port=80) at /home/khalbali/data/kalaghoda/zephyr/subsys/net/lib/http/http_server.c:840.

My suspicion is the mismatch in sockaddr structure on var

[2018-04-11 12:57] pswarnak opened #7026 "i2c based sensor test cases fails on arc core"
**Issue**
All the i2c based sensor test cases fails on arc core

**Configuration**
Arch: arc
Board: quark_se_c1000_ss_devboard

**Testcase to Reproduce**
Path: zephyr.git/samples/sensor/tmp112

**Steps to Reproduce**

**Console Output:**

**Additional Information:**
Tried similar steps with bme280 test case, no console output shown.

[2018-04-11 13:18] galak commented on #3650
Resolved with #7018 and #6839

[2018-04-11 13:18] #3650 closed

[2018-04-11 13:50] #6899 closed

[2018-04-11 15:43] carlescufi commented on #6991
CC @myrdyr

[2018-04-11 15:47] mgielda commented on #3650
Thanks!

[2018-04-11 15:56] jukkar commented on #7022
The crash happens because of this, not because of sockaddr stuff.

[2018-04-11 16:29] mbolivar commented on #6991
Why are the test cases separated under a `common` key?

Do they have another consumer besides the consumer of the data in the `tests` key?

[2018-04-11 16:34] nashif commented on #6991
You can have the same tests run under a different condition, for example:

kernel.blah.xxxx

and kernel.blah.poll.xxxx

[2018-04-11 17:30] mbolivar commented on #6991
Oh, so the cases are globally unique, not just within section.subsection!

That explains why they have a sema_ prefix.

[2018-04-11 18:25] nashif commented on #6991
@mbolivar

Take this as an example:
[code]

there will be 2 runs for each test, for example:
- `kernel.queue.queue_loop`
- `kernel.queue.poll.queue_loop`

Thats why the list cases is in common, to avoid repeating them per test instance.

[2018-04-12 00:12] mgielda opened #7032 "Have Sphinx search display txt not ReST as results"
We had this issue in our own documentation once and managed to fix it by some clever Makefile tricks so I thought I'd take this up.

If you make a search in the Zephyr docs, like:

http://docs.zephyrproject.org/search.html?q=device+tree&check_keywords=yes&area=default

You get results in unrendered ReST, which is kind of unreadable (especially for headers). This is because the search looks in the

[2018-04-12 04:52] andyross commented on #7020
Yeah, that looks like a bug.  The failure is clear, but FWIW: the logging of CPU IDs isn't informative.  The main thread can exit the sleep (or the k_thread_create call, in fact) on a different CPU than it started on.  What this looks like is that the secondary thread never runs at all, so t2_core is left at zero from static initialization.

Did you try a quick bisection to the 1.11 release?  I kn

[2018-04-12 08:17] spoorthik opened #7033 "tests:fp_sharing: Test takes almost an hour on frdm_k64f"
The test case takes very long ~ 2510 seconds to complete the execution on Freedom board (frdm_k64f). Is it expected behavior?

[2018-04-12 09:59] twowinter commented on #6822
hi  @erwango

thank you very much, the mbed drag and drop method is good, sample work well.

i will keep on check the issue.

[2018-04-12 12:46] laperie commented on #5900
Per our recent discussion adding @pfl as an assignee

[2018-04-12 12:57] laperie commented on #6413
clearing 1.12 milestone as there is no clear action plan for the issues described; we will know the version milestone once the discussion is over.

[2018-04-12 13:04] laperie commented on #3706
Removing 1.12 version assignment:   This specific issue is more a discussion than a concrete action item. We will set a milestone after we agree on design and dependencies

[2018-04-12 13:08] laperie commented on #3639
Removing 1.12 milestone designation:   The issue will be solved as a part of our ongoing 'netbuf' redesign efforts. But that will happen past 1.12.

[2018-04-12 14:02] laperie opened #7042 "Ethernet network management interface additions for MAC filtering"
It should be possible to pass a set of MAC addresses to the Ethernet driver so that they are whitelisted.  It should be possile to drop any traffic with destination other than the whitelisted

[2018-04-12 14:06] IvanSanchez commented on #1582
See https://docs.microsoft.com/en-us/windows-hardware/drivers/usbcon/microsoft-defined-usb-descriptors also.

[2018-04-12 15:16] dbkinder commented on #7032
There have been attempts by the community to address this over the years (as noted in https://github.com/sphinx-doc/sphinx/issues/1618 for example) including hacks to patch the problem (such as https://pypi.python.org/pypi/sphinxprettysearchresults).

We've also had a (long standing) issue associated with the zephyrproject.org website to use Google search instead of the docs-restricted Sphinx sear

[2018-04-12 17:59] andyross commented on #7020
Got it.  Took a while to see, because it's timing related.  My WROVER board worked, as did the WROOM board I had at home.  But the WROOM on my desk fails every time, and it turns out if you do a bunch of reboots you can get any of these to fail or succeed randomly.

The root cause is the _smp_global_lock() abstraction, which replaces irq_lock() in SMP code.  It's wrong in two ways, one is a giant

[2018-04-12 18:30] mbolivar opened #7044 "Boot banner not correct for application builds outside of zephyr"
The git describe output in the new boot banner is not correct in some scenarios.

It looks like the boot banner configuration code runs git describe in the application directory, rather than ZEPHYR_BASE. For example, in a build of a sample application in the MCUboot tree, i'm getting this:

[code]

That's the mcuboot version, not the zephyr version.

[2018-04-12 21:26] mgielda commented on #7032
Thanks for the extensive answer @dbkinder - I know there have been attempts to address this. Of course, searching more broadly is not something we can achieve (easily) with Sphinx, but I was thinking of improving the current readability situation if possible. How I solved this in our case was:

1) generate `txt` files with `make text`
2) change the generated files to have a `rst` extension and put

[2018-04-12 22:31] #6983 closed

[2018-04-13 00:43] mrrosen opened #7048 "Tickless Kernel Timekeeping Problem"
**Issue**
`k_cycle_get_32` and `k_uptime_get_32` are not working correctly when `CONFIG_TICKLESS_KERNEL` is enabled on some boards.

**Configuration**
Zephyr Version: `v1.11.0` (on tag of same name)
Board: `stm32f429i_disc1`
Timer Driver: `cortex_m_systick`

**Steps to Reproduce**

**Console Output**

**Notes**
It appears theres some issues with time keeping when using tickless kernel mode for thi

[2018-04-13 04:45] mbolivar commented on #6991
Ah, brilliant -- the `extra_args` example really motivates the separation. Nice work.

[2018-04-13 05:48] mbolivar commented on #5847
I wish I had opinions :).

I don't use menu-driven applications from the terminal much (I prefer xconfig to menuconfig).

My only general idea would be that discoverability, for users who are accustomed to full-featured GUIs would be preferable to magic key sequences to get help or otherwise start to figure out how to use the application.

[2018-04-13 07:46] spoorthik opened #7050 "tests: sys_mem_pool: Bus fault occurs on ARM boards (frdmk64f and nrf52840_pca10056)"
When tests/kernel/mem_pool/sys_mem_pool is run on frdm_k64f and nrf52840_pca10056 platforms, bus fault occurs. I have tested only on only these 2 platforms of ARM.

Please refer the sample log:

[code]

Whereas the test passes on X86, Xtensa, nios2, riscv32 boards.
Sample log below:
[code]

[2018-04-13 09:04] erwango opened #7053 "boards: stm32: Update yaml files for STM32 boards"
Boards yaml files are not aligned/complete among stm32 boards.

[2018-04-13 10:25] SebastianBoe opened #7054 "Zephyr's Kconfig implementation should not behave subtly differently from Linux"
Zephyr's Kconfig implementation diverges from Linux by prefering later defaults. This is a problem for several reasons:

### Problem description

Zephyr can no longer rely on the existing Kconfig ecosystem for documentation. Everything in the Linux kernel's Kconfig documentation applies to Zephyr's Kconfig except that the documentation is wrong when it states that earlier defaults have precedence.

[2018-04-13 10:32] spoorthik opened #7055 "tests: fatal: Stack protection fatal test fails on ARC core"
**Test location:** zephyr.git/tests/kernel/fatal-stack.protection

**Board used:** Arduino_101_sss, quark_se_c1000_ss_devboard

Please refer the sample log below:

[code]

**Steps to reproduce:**
[code]

[2018-04-13 13:46] erwango commented on #7013
Warning detected when using dtc v1.4.2.
I porpose to address these for pinctrl introduction

[2018-04-13 17:18] ulfalizer commented on #5847
Hello,

Status update is mostly that I wasted time on nitpicking alternative scrolling implementations and trickiness related to that. Scrolling is surprisingly tricky to get robust, with having to remember positions when jumping in and out of menus, nodes disappearing, windows being resized, scroll offsets, page up/down, the window being resized while a dialog is open, etc.

I'll try to get back

[2018-04-13 17:25] b0661 opened #7067 "scripts: extract_dts_includes: fails on multiple includes in yaml bindings file"
Inheriting from multiple bindings fails.

    inherits:
        !include [binding1.yaml, binding2.yaml]

Following the above the 'node_type' node property does not account for multiple base types.

Loader.include for yaml.SequenceNode and yaml_traverse_inherited seems to be broken.

[2018-04-13 21:09] MaureenHelm commented on #6802
Any update on this issue?

[2018-04-13 21:11] MaureenHelm commented on #4684
@tbursztyka @lpereira Will you please provide a fix?

[2018-04-13 21:12] MaureenHelm commented on #4309
@rgundi @SavinayDharmappa Any update on this issue?

[2018-04-13 21:16] agross-linaro commented on #6802
I just picked this back up.  I've reworked the __svc argument passing to do something different.   I am doing testing/validation now.

[2018-04-13 21:38] mike-scott opened #7070 "lwm2m: possible buffer overflow in LwM2M engine debug output"
In subsys/net/lib/lwm2m/lwm2m_engine.c::sprint_token()
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/lib/lwm2m/lwm2m_engine.c#L189

The following assignment of var pos *could* cause a buffer overrun if a negative number is ever returned:
pos += snprintk(&buf[pos], 31 - pos, "%x", token[i]);

Currently, the token lengths are always 8 and this code is only executed with DEBUG e

[2018-04-13 22:29] agross-linaro commented on #6802
Note: Without Andrew's syscall patches the printf will still fail.  However, it should fail when it tries to access resources while not being in supervisor mode.  This is as expected, as there is not currently a way to trap the console accesses by the printf.

[2018-04-13 22:48] lpereira commented on #4684
@MaureenHelm Just sent a PR fixing this.

I'm not sure how correct this is, but it seems that, at least on the CCM encryption/decryption, both mbedTLS and TinyCrypt agree on how to calculate the output length.

For the other primitives supported by the TinyCrypt shim but not the mbedTLS shim, I believe things are correct after inspecting the respective TinyCrypt code, but I'd expect someone that k

[2018-04-13 23:08] andrewboie commented on #6814
@MaureenHelm bug hadn't been assigned, I've been working on other issues. No update.

[2018-04-14 05:44] jhedberg opened #7073 "Full persistent storage support for Bluetooth"
The Bluetooth stack should have integrated support for storing persistently (in flash) any security keys, Client Characteristic Configuration (CCC) as well as Mesh network state. Currently the stack does have the bt_storage API, but it was never used for anything else than the identity address and local IRK.

The idea is to take advantage of the recently introduced settings API, allowing either FC

[2018-04-15 05:08] gyboy opened #7075 "No such file or directory: CMAKE_READELF: 'CMAKE_READELF-NOTFOUND'"
when I tried to config the board ID to run example,something wrong with cmake,it seems that the gcc based toolchains didn't work well. I was just cloned the master to my ubuntu and build cmake-3.8.2 then installed,what's the problem?the log show below:
[code]

[2018-04-15 10:55] IotPanorama opened #7076 "NRF52840: I2C Sensor (SHT3XD) driver issue"
I am trying to use I2C SHT3XD sensor with nrf52840. i am getting the following fatal fault.
***** BOOTING ZEPHYR OS v1.11.0 - BUILD: Apr 15 2018 10:42:29 *****
dev 0x20002be8 name SHT3XD
***** BUS FAULT *****
  Executing thread ID (thread): 0x20000ce4
  Faulting instruction address:  0x4f480588
  Instruction bus error
Fatal fault in essential thread! Spinning...

[2018-04-16 05:04] Shilpashree3lc opened #7078 "[Coverity CID:185286] Error handling issues in /subsys/settings/src/settings_store.c"
Static code scan issues seen in File: /subsys/settings/src/settings_store.c
 Category: Error handling issues
 Function: settings_load_cb
 Component: Other
 CID: 185286
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7079 "[Coverity CID: 185285] Error handling issues in /subsys/settings/src/settings_fcb.c"
Static code scan issues seen in File: /subsys/settings/src/settings_fcb.c
 Category: Error handling issues
 Function: settings_fcb_append
 Component: Other
 CID: 185285
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7080 "[Coverity CID: 185284] Error handling issues in /subsys/settings/src/settings_fcb.c"
Static code scan issues seen in File: /subsys/settings/src/settings_fcb.c
 Category: Error handling issues
 Function: settings_fcb_compress
 Component: Other
 CID: 185284
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7081 "[Coverity CID:185283] Control flow issues in /subsys/fs/nffs_fs.c"
Static code scan issues seen in File: /subsys/fs/nffs_fs.c
 Category: Control flow issues
 Function: nffs_tell
 Component: Other
 CID: 185283
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7082 "[Coverity CID: 185282] Error handling issues in /subsys/settings/src/settings_init.c"
Static code scan issues seen in File: /subsys/settings/src/settings_init.c
 Category: Error handling issues
 Function: settings_subsys_init
 Component: Other
 CID: 185282
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7083 "[Coverity CID: 185281] Null pointer dereferences in /kernel/posix/mqueue.c"
Static code scan issues seen in File: /kernel/posix/mqueue.c
 Category: Null pointer dereferences
 Function: mq_getattr
 Component: Kernel
 CID: 185281
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7084 "[Coverity CID: 185280] Error handling issues in /tests/posix/pthread_rwlock/src/posix_rwlock.c"
Static code scan issues seen in File: /tests/posix/pthread_rwlock/src/posix_rwlock.c
 Category: Error handling issues
 Function: test_rw_lock
 Component: Tests
 CID: 185280
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7085 "[Coverity CID: 185279] Resource leaks in /tests/net/socket/getaddrinfo/src/main.c"
Static code scan issues seen in File: /tests/net/socket/getaddrinfo/src/main.c
 Category: Resource leaks
 Function: test_getaddrinfo_no_host
 Component: Tests
 CID: 185279
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7086 "[Coverity CID: 185278] Null pointer dereferences in /samples/net/coap_server/src/coap-server.c"
Static code scan issues seen in File: /samples/net/coap_server/src/coap-server.c
 Category: Null pointer dereferences
 Function: test_put
 Component: Samples
 CID: 185278
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7087 "[Coverity CID: 185277] Null pointer dereferences in /samples/net/coap_server/src/coap-server.c"
Static code scan issues seen in File: /samples/net/coap_server/src/coap-server.c
 Category: Null pointer dereferences
 Function: test_post
 Component: Samples
 CID: 185277
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7088 "[Coverity CID: 185276] Uninitialized variables in /tests/posix/posix_checks/src/posix_checks.c"
Static code scan issues seen in File: /tests/posix/posix_checks/src/posix_checks.c
 Category: Uninitialized variables
 Function: check_timer_support
 Component: Tests
 CID: 185276
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:04] Shilpashree3lc opened #7089 "[Coverity CID: 185275] Integer handling issues in /kernel/posix/pthread_common.c"
Static code scan issues seen in File: /kernel/posix/pthread_common.c
 Category: Integer handling issues
 Function: timespec_to_timeoutms
 Component: Kernel
 CID: 185275
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:05] Shilpashree3lc opened #7090 "[Coverity CID: 185274] Error handling issues in /subsys/settings/src/settings_store.c"
Static code scan issues seen in File: /subsys/settings/src/settings_store.c
 Category: Error handling issues
 Function: settings_store_one
 Component: Other
 CID: 185274
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 05:05] Shilpashree3lc opened #7091 "[Coverity CID: 185273] Resource leaks in /tests/net/socket/getaddrinfo/src/main.c"
Static code scan issues seen in File: /tests/net/socket/getaddrinfo/src/main.c
 Category: Resource leaks
 Function: test_getaddrinfo_ok
 Component: Tests
 CID: 185273
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-16 06:23] sam131208 opened #7092 "nRF5x Pre-programmed PPI channels"
The PPI has 12 channels is pre-programmed for radio，it is can not modify and application by other task. Why not use these channels replace the present PPI ?example the 0,3,4,5,6 channel PPI can be replace directly!

Thanks！
Sam

[2018-04-16 07:01] vonhust commented on #7055
This bug can be fixed by PR #7036

[2018-04-16 10:01] carlescufi commented on #5847
Hi Ulf, awesome update. I think it's time to post a DNM/RFC PR now so we can start discussing this. The PR should also include the following:

* Integration with CMake (at this point I suggest just using `menuconfig.py` instead of `mconf` with the same framework as the current one)
* Removal of C tools (we really want to get rid of those in one shot)

In a follow-up PR then we can target:

* Switc

[2018-04-16 11:14] IotPanorama commented on #7076
Please, someone take a look at that. I am sort of stuck here.

[2018-04-16 11:58] pfl commented on #5482
This was merged some time ago.

[2018-04-16 11:58] #5482 closed

[2018-04-16 13:58] MaureenHelm commented on #4684
@lpereira Thank you!

[2018-04-16 16:26] lpereira commented on #7081
Fixed by #7068

[2018-04-16 16:26] #7081 closed

[2018-04-16 16:33] lpereira commented on #7075
Seems to be a duplicate of #6911.

[2018-04-16 17:17] andrewboie commented on #7075
This happens when the build system cannot find the toolchain.
Check your environment and build variable settings.
Are you building on OS X?

[2018-04-16 17:50] dbkinder opened #7097 "doc build kconfig warning for XOROSHIRO_RANDOM_GENERATOR"
It's not stopping the doc build, but a warning is reported by the script used to create the configuration options documentation:

    warning: default on the choice symbol XOROSHIRO_RANDOM_GENERATOR
    (defined at subsys/random/Kconfig:50,
    arch/arm/soc/nxp_kinetis/kwx/Kconfig.defconfig.mkw41z4:65)
    will have no effect

[2018-04-16 18:05] dbkinder commented on #6823
You can create intra-page links, if that's what you mean by a "logical pages", so the index.rst could link to an anchor within a larger page.  The index.rst page today references the option-specific data with a simple ``:option:`CONFIG_2ND_LEVEL_INTERRUPTS` `` role, that links to the corresponding anchor defined with ``.. option:: CONFIG_2ND_LEVEL_INTERRUPTS`` directive.  That anchor could be in a

[2018-04-17 08:39] pboettch commented on #6961
Sorry for getting back a little late. I will try your work-around as soon as I can, but it looks promising.

It seems (to be tested) that the `whole-archive` and `start/end-group`-stuff is not necessary when using [LINK_INTERFACE_MULTIPLICITY](https://cmake.org/cmake/help/v3.8/prop_tgt/LINK_INTERFACE_MULTIPLICITY.html#prop_tgt:LINK_INTERFACE_MULTIPLICITY) .

I tried playing around with it in zephy

[2018-04-17 08:57] vonhust commented on #6621
fixed in #7100

[2018-04-17 09:12] ulfalizer commented on #6823
@dbkinder
The current index page already managed to crash Firefox a few times on my machine, so I'm not sure it's a good idea to make it larger. :)

I guess you could split the symbols up with many per page, though it feels a bit arbitrary from an organizational perspective.

[2018-04-17 10:10] SebastianBoe commented on #6961
"It seems (to be tested) that the whole-archive and start/end-group-stuff is not necessary when using LINK_INTERFACE_MULTIPLICITY ."

When initially porting the build system from Kbuild to CMake I tried and failed to get rid of --whole-archive. I can't remember the details, but I remember using LINK_INTERFACE_MULTIPLICITY. So it is still an open question whether --whole-archive can be removed.

As

[2018-04-17 11:00] ulfalizer commented on #5847
Status update:

 * Refactored the color/style code to be easy to maintain. The first version was ad-hoc and spread out.

  * Fixed crashes and other issues when colors and other optional features aren't supported. I tested with `TERM=vt100`, since it's likely to work with most terminals if it works with that.

  * Added verification of ranges, so you get an error if you attempt to set an `int`/`he

[2018-04-17 11:12] ulfalizer commented on #2860
Hello,

I'm currently working on a terminal `menuconfig` implementation. I'm posting status updates in https://github.com/zephyrproject-rtos/zephyr/issues/5847.

[2018-04-17 11:36] pboettch commented on #6961
With LTO you mean real LTO or garbage-collection via `gc-sections`?

[2018-04-17 11:56] SebastianBoe commented on #6961
real LTO

[2018-04-17 13:06] MaureenHelm commented on #7076
What board are you using? Have you written your own application or are you using an in-tree sample application?

[2018-04-17 13:51] chan0415 opened #7103 "Unpatched upstream vulnerabilities in mbedTLS"
There are two unpatched upstream vulnerabilities  in mbedTLS library.

* **CVE-2018-9988**
Brief description: Buffer over-read in `ssl_parse_server_key_exchange()` that could cause a crash on invalid input.
upstream patches: https://github.com/ARMmbed/mbedtls/commit/027f84c69f4ef30c0693832a6c396ef19e563ca1, https://github.com/ARMmbed/mbedtls/commit/a1098f81c252b317ad34ea978aea2bc47760b215
NVD link

[2018-04-17 14:48] rlubos commented on #6874
Hi,
I did some investigation on your issue and I've noticed that OT version that we are using is taken in the middle of some rework regarding Joiner ID and a bugfix it has introduced:

Rework -> https://github.com/openthread/openthread/pull/2311
Bugfix -> https://github.com/openthread/openthread/pull/2426

It seems that due to that bug, Joiner will reject a valid, joinable network, because steerin

[2018-04-17 16:51] IotPanorama commented on #7076
I am using nrf52840 pdk. and actually i am using in-tree sample application bme280 with change in prj.conf.

[2018-04-18 05:20] spoorthik opened #7106 "tests: obj_tracing: Test fails on ESP32, semaphore count is more than what is created in the application"
The obj_tracing test case at zephyr.git/tests/kernel/obj_tracing creates 5 semaphore objects and 1 for ztest. So the semaphore count has to be 6. But on ESP32, the semaphore count is found to be 10.

Please refer the sample log on ESP32 board below:

[code]

The test cases passes on x86, arm and arc boards. Please refer the sample log below:

[code]
**Steps to reproduce:**
cd zephyr.git/tests/kern

[2018-04-18 05:47] vakulgarg opened #7107 "Crash while running echo_server with openthread"
I am trying echo_server sample on frdm_kw41z board with prj_frdm_kw41z_ot.conf.
The configuration crashes immediately upon startup.

The faulting instruction address is at:

[2018-04-18 08:52] pizi-nordic commented on #6896
I have thought for a while about a bit more complex MPU management, as we would like to protect more and more regions while the devices remains constrained.

In my opinion we could try to have dynamic MPU management allowing for unlimited number of regions. In such case the MPU regions registered  in the hardware will be only a subset of all regions defined with all other areas marked as protected

[2018-04-18 11:53] ulfalizer commented on #5847
Status update:

  - Made an information interface in the same style as the main display.

  - Added information texts for all the different types of items (symbols, choices, menus, comments). It should have most of the stuff from `make menuconfig` now, barring stuff I've missed.

  - Tweaked expression printing to show the values of all the operands, like `make menuconfig` does.

    I also made i

[2018-04-18 14:57] agross-linaro commented on #6896
Yeah the uvisor has something like this where they fault in things as needed.  This definitely makes things more complex and the cost for swapping could be higher than expected.

Aside from the stack guard, if we only wanted to restrict access when in user mode, we could drop all of the regions except the stack guard and only program what is needed while executing in user mode.  We could still exc

[2018-04-18 15:26] galak commented on #7067
@erwango can you look into this issue.

[2018-04-18 15:28] erwango commented on #6307
@therealprof , any update?

[2018-04-18 15:52] erwango commented on #7067
@b0661 : In order to solve this is a coherent way, do you have any example of use for multiple bindings inclusion?

[2018-04-18 15:54] ioannisg opened #7112 "ARMv8-M: API for checking permissions using ARMv8-M TT intrinsics"
This issue concerns the definition and the implementation of an ARMv8-M API that allows the developer to evaluate permissions of memory areas (addresses, objects and address ranges).
This issue has two parts:
- API to check MPU permissions (for ARMv8-M MCUs with the optional MPU)
This part is generic to ARMv8-M. (Addressed in #6845)
- API to check Security attributions (for ARMv8-M MCUs with the o

[2018-04-18 17:11] nashif commented on #7075
This is one of those misleading warnings or errors, as @andrewboie said, it is not finding the toolchain, so please make sure you have all env variables set correctly and make sure you have a toolchain available.

[2018-04-18 23:52] jhedberg opened #7115 "doc/subsystems/settings/settings.rst references non-existing variables"
The document talks of `settings_handler` fields such as `ch_name` and `ch_set`, whereas the actual names (in `include/settings/settings.h`) are `name`, `h_set`, etc.

[2018-04-19 06:36] ManojSubbarao commented on #3384
@punitvara Any updates?

[2018-04-19 06:49] SebastianBoe commented on #7075
"when I tried to config the board ID to run example,something wrong with cmake,it seems that the gcc based toolchains didn't work well. I was just cloned the master to my ubuntu and build cmake-3.8.2 then installed,what's the problem?"

Please follow the getting started guide and post the environment variables that are set.

[2018-04-19 06:52] SebastianBoe commented on #7075
Please run

echo $ZEPHYR_SDK_INSTALL_DIR
echo $ZEPHYR_TOOLCHAIN_VARIANT

[2018-04-19 07:46] pizi-nordic commented on #6896
The solution depends on the direction we would like to go. For full blown OS, dynamic MPU management gives more flexibility (especially if we would like to support things like virtual memory in the future). However you are right that there is a cost: increased complexity and code size as well as some performance penalty.

But if we would like to keep Zephyr "simple", then ideas presented in  https

[2018-04-19 08:30] ulfalizer commented on #6978
Tried out the most recent `menuconfig` and wheel versions on Windows. Colors and Unicode work fine, but resizing is problematic.

I debugged an issue related to `KEY_RESIZE` and `get_wch()` (needed for Unicode support) in PDCurses and submitted [a fix I think would work](https://github.com/wmcbrine/PDCurses/issues/30).

Even with that, calling `resizeterm()` causes a segfault, and calling `resizet

[2018-04-19 08:42] erwango commented on #6307
One thing is I'm not able to run the sample fully (lwm2m connection PC <> board), so will be hard for me to reproduce the exact issue.

Anyway, could this be linked with compiler ?
Looking to the code I generate, this comes a bit different (with `CONFIG_SIZE_OPTIMIZATIONS=y
`), and I guess using `strh.w` or `strb` instead of `strd` will avoid the issue:
[code]
or at other places:
[code]
Did we cha

[2018-04-19 10:29] SebastianBoe opened #7120 "Kconfig sources of SoC's should not be able to affect another"
HW platforms are affecting each other's Kconfig more than they need be. This has an adverse usability side-effect.

The current Kconfig implementation behaves like this:

The user specifies a BOARD. Since boards are organized into zephyr/boards/$ARCH/<some_board> the build system is able to infer which architecture the board belongs to, but not for instance which SoC it belongs to. It then gives i

[2018-04-19 10:31] SebastianBoe commented on #7120
@ulfalizer : Not sure if there is anything to do on the Kconfig side. Perhaps this is a pure integration issue. But any input would be appreciated.

[2018-04-19 10:38] SebastianBoe commented on #7120
Thinking out loud.

I wonder if things would work better if the build system did this instead:

Use the BOARD input to select an appropriate DTS.
Use the DTS output to detect ARCH, SOC, and other HW information.

Feed the HW information from DTS into Kconfig to provide the user with reasonable defaults and prevent the user from configuring something that is not configurable. E.g. the user should n

[2018-04-19 11:57] ulfalizer commented on #7120
@SebastianBoe
Pruning on the Kconfiglib side gets tricky, so it would probably be best to do it on the `cmake` side.

You can't know in general whether an `if FOO  ...  endif` will be true or false while parsing for example, since the `FOO` symbol might be defined after the `if` (or depend on things defined after the `if`). The only really sane thing you can do in Kconfig as it is is to parse ever

[2018-04-19 12:01] #5953 closed

[2018-04-19 12:05] SebastianBoe commented on #7120
Would it be possible to have a symbol type that was immutable and required forward-declaration? The typical use-case is symbols describing HW.

Then Kconfig could first source HW symbols and then source SW Kconfig sources.

[2018-04-19 12:14] ulfalizer commented on #7120
@SebastianBoe
One thing that would make environment variables cleaner (and that's also planned for the Linux Kconfig) would be to get rid of those `option env` symbols, and just have `$FOO` automatically reference environment variables.

Those "bounce symbols" always felt kinda pointless to me, so it's a good change, imo.

[2018-04-19 12:19] pswarnak commented on #7026
@tbursztyka
Can you please check this issue. The test cases are failing after the commit 74d18355053af423d3a5d11e8b132a440813fccb.
Please let us know, if we need to modify the test case to make it run with your committed changes.

Reverting it temporarily, till we get proper fix to proceed with Sensor test case execution.

[2018-04-19 12:24] ulfalizer commented on #7120
On Linux, there's just a separate top-level `Kconfig` file per architecture. That one in turn pulls in a bunch of `Kconfig` files, many of which are shared between architectures.

[2018-04-19 12:34] SebastianBoe commented on #7120
That would work. No need for immutable symbols then.

"On Linux, there's just a separate top-level Kconfig file per architecture. That one in turn pulls in a bunch of Kconfig files, many of which are shared between architectures."

Okay, so they use the same solution and are affected by the same problem as us:
https://github.com/torvalds/linux/blob/master/arch/arm/Kconfig#L713

Good to know.

[2018-04-19 14:26] therealprof commented on #6307
@erwango I just tested the suggested change using
[code]
and that particular crash went away after making the change. I also checked that it still occurs without patch in the latest git version.

So that's good.

Unfortunately I still cannot fully test the `lwm2m_client` sample because I have a second (and seemingly unrelated) MPU fault now...

[2018-04-19 14:34] erwango commented on #6307
@therealprof , thanks for this feedback!

Can you confirm you meet the issue (w/o the patch) with `tests/net/mld` ?
Also, may I ask which compiler you're using?

[2018-04-19 14:44] therealprof commented on #6307
@erwango

No, I don't see a crash in `tests/net/mld`, in fact the suggested patch breaks this testcase (cable not connected):
[code]

[code]

[2018-04-19 16:17] therealprof opened #7127 "STM32 ethernet driver crashes without connected cable"
If the STM32 ethernet driver is enabled and a networking capable firmware run without connected cable, the firmware will almost immediately crash with a MPU error:
[code]

Analysis shows this is due to an attempt to copy data out of the DMA buffer which was never correctly initialised in in `eth_tx()`:
[code]

The problem is obviously caused by `eth_iface_init()` exiting early due to `HAL_ETH_Init

[2018-04-19 18:35] GAnthony opened #7128 "msp uninitialized on reset leading to usage fault for non-XIP targets"
I have encountered an interesting issue while debugging an intermittent usage_fault on the TI CC3220SF, when loading the program to SRAM via OpenOCD, and running with CONFIG_INIT_STACKS enabled (per below commit).

The code in __start() assumes the msp is set to the value at the beginning of the _vector_table.   Which it is, normally, when running from flash.

But, when loading to SRAM via gdb/Ope

[2018-04-19 19:42] pfalcon commented on #6616
Thanks @nashif, sorry, forgot to thank you for this hint previously (and I'm subscribed).

Given that there're suggested "workaround", as well as we tighten up ROM/RAM requirements of various tests (I myself submitted a couple of PRs which were merged), let me close this to clean up way for the release bug triaging.

[2018-04-19 19:42] #6616 closed

[2018-04-19 19:45] pfalcon commented on #3129
Yes, I didn't see this reoccurring recently, and as there're no other reports of this issue, let's close it as no longer reproducible.

[2018-04-19 19:53] #7075 closed

[2018-04-19 21:01] pfalcon commented on #7091
@stig-bjorlykke: As the author of this test, would you like to have a look/try to do something? If there're any issues, just let me know and I'll cover it. Thanks.

[2018-04-19 21:02] pfalcon commented on #7085
@stig-bjorlykke: As the author of this test, would you like to have a look/try to do something? If there're any issues, just let me know and I'll cover it. Thanks.

(Similar to https://github.com/zephyrproject-rtos/zephyr/issues/7091)

[2018-04-20 00:43] mike-scott commented on #3129
I see this behavior occasionally.  I would say, I've seen this as recently as 1 week ago.

Lately, I've been testing CoAP on K64F, but this can be recognized via very slow to no network traffic as normal packets take several retries before success.

[2018-04-20 05:44] ulfalizer commented on #7097
@dleach02
It will be ignored as long as `subsys/random/Kconfig` is included at least, since that's what makes it a choice symbol. See these issues as well: https://github.com/zephyrproject-rtos/zephyr/issues/7120, https://github.com/zephyrproject-rtos/zephyr/issues/7054

An easy way to tell whether the `default` is being ignored is to check if you get the warning.

Another complication for the sec

[2018-04-20 07:47] #6108 closed

[2018-04-20 07:48] #7085 closed

[2018-04-20 07:48] #7091 closed

[2018-04-20 09:55] pfalcon commented on #7091
That would also be my solution, glad we're on the same line here, and thanks for sharing the maintenance load. Please keep in mind that there's always a choice to mark a Coverity warning as "false positive", and in tests, being formally correct is indeed not that important. But if a better fix is simple and doesn't affect the flow of test, indeed, why not fix it, instead of silencing on Coverity s

[2018-04-20 11:52] hakonfam opened #7137 "I2C Driver does not compile for nrf5 boards"
When enabling I2C driver for nrf52_pca10040 or nrf51_pca10028 the following error is given:

[code]
And so on.

Tested on version c0d0a61bcc4f
To reproduce, build `samples/bluetooth/beacon/` for either nrf52_pca10040 or nrf51_pca10028 with the following configuration set:

CONFIG_I2C=y
CONFIG_I2C_NRF5=y
CONFIG_I2C_0=y
CONFIG_I2C_NRF5_0_GPIO_SDA_PIN=12
CONFIG_I2C_NRF5_0_GPIO_SCL_PIN=13

[2018-04-20 12:11] hakonfam commented on #7137
It looks like putting
[code]

into `boards/arm/nrf52_pca10040/nrf52_pca10040.dts` fixes the issue, although I do not know why yet.

[2018-04-20 12:14] erwango commented on #6755
Changing priority to low as issue reported on out of tree code.
@MaureenHelm : What about removing all priority when issue reported is on out of tree code?
I think this kind of activity is rather more about community support than related to code quality.

[2018-04-20 12:27] ydamigos commented on #6755
@webhive

You need also to enable UART2 in your board's dts file.
E.g.:
[code]

[2018-04-20 12:45] SebastianBoe commented on #7137
@anangl : AFAICT from the description this means that I2C is broken on nRF devices for release 1.11.

[2018-04-20 12:45] hakonfam commented on #7137
It looks like 51ba17 and 422bc2 moved the I2C configuration into DTS, but forgot to enable I2C on the board specific dts files.

[2018-04-20 13:03] #7026 closed

[2018-04-20 13:59] ulfalizer commented on #5847
There's now a do-not-merge pull request at https://github.com/zephyrproject-rtos/zephyr/pull/7140. Feedback appreciated!

[2018-04-20 14:30] dleach02 commented on #7097
In the end, I need a way to force the KW41 to use XOROSHIRO without messing with every other platform that selects a random number generator source. I too am a bit confused about the configuration hierarchy and how this all works. I see the warning but "somehow" it works for me??? Not a satisfying result though when one doesn't fully understand what is going on.

[2018-04-20 17:11] pizi-nordic commented on #6186
I would like to present a logger design which I think might be suitable for the Zephyr. I will post my proposal in parts, starting from the high-level overview. It will be later followed by some notes about the implementation and advanced features like multi-core support and Trust Zone integration.

# Introduction
The complexity of modern embedded systems enforces changes in our working methodolog

[2018-04-20 19:02] jhedberg commented on #6186
Would you consider trying to shorten the API names a bit? E.g. LOG_WARN, LOG_INFO, LOG_ERR and LOG_DBG? Part of the parameter list is often a fairly long string, and having to split it up something to be avoided.

[2018-04-21 10:03] gyboy commented on #7075
I modified the gcc.make file and run "cmake -GNinja -DBOARD=arduino_101 ../.." again ,it remind me that
-- Found PythonInterp: /usr/bin/python3 (found suitable version "3.5.2", minimum required is "3.4")
-- Selected BOARD arduino_101
Zephyr version: 1.11.99
Parsing Kconfig tree in /home/ubuntu/Desktop/zephyr/Kconfig
Using /home/ubuntu/Desktop/zephyr/boards/x86/arduino_101/arduino_101_defconfig as

[2018-04-21 12:43] #7009 closed

[2018-04-21 13:33] nashif commented on #7055
#7036 merged already

[2018-04-21 13:33] #7055 closed

[2018-04-21 13:54] nashif commented on #7032
fixed

[2018-04-21 13:54] #7032 closed

[2018-04-21 18:31] nashif commented on #6902
yes, the 'dumping' should not be part of the API though...

[2018-04-21 22:13] scott-eddy opened #7144 "SDK Openocd stm32f4discovery.cfg is incorrect for new versions of the STM32F407G-DISC1"
The new versions of the STM32F4 discovery boards, STM32F407G-DISC1, have an [STLINK V2A](http://www.st.com/en/evaluation-tools/stm32f4discovery.html) embedded on the board instead of an STLINK-V2.  However the openocd script that is shipped in Zephyr-SDK-0.9.2 specifies using the stlink v2:
[code]

Using this config causes the hello_world sample to fail when executing the flash target:
[code]

Upd

[2018-04-22 01:08] nashif commented on #6283
this is not a bug, we also fail on many other architectures, right now x86 is recommended as the development environment, we will welcome any contributions that would make this work on arm64.

[2018-04-22 01:09] nashif commented on #2916
closing this as we are moving to a different tracing model.

[2018-04-22 01:09] #2916 closed

[2018-04-22 03:33] wenhuizhang opened #7145 "Configuration file for Cross Toolchain on macOS"
Hi,

Just confused on which configuration sample should be used as base for which cross-arch.
It was saying that :

- i586.config: for standard ABI, for example for Galileo and qemu_x86
- iamcu.config: for IAMCU ABI, for example for the Arduino 101
- nios2.config: for Nios II boards

(ref http://docs.zephyrproject.org/getting_started/installation_mac.html)

However when I was trying to cross compi

[2018-04-22 17:09] ekarlso commented on #6785
Any news on this?

[2018-04-22 17:10] ekarlso commented on #6874
@rlubos of course I can test it! Do you have a bugfixed commit?

[2018-04-22 18:51] hakonfam opened #7146 "scripts/sanitycheck will delete any folder given to --outdir argument"
When using `scripts/sanitycheck --outdir my_important_folder` for the first time, it is NOT CLEAR that it will delete `my_important_folder`. Personally I assumed it would put its "results" folder in `my_important_folder`.
Luckily all my branches were pushed :smile:

I see these possible solutions:
1. State very clear in the helptext that the path given will be deleted.
2. Change `--no-clean` argum

[2018-04-23 07:27] pizi-nordic commented on #6186
@jhedberg: Good idea!

[2018-04-23 07:36] SebastianBoe commented on #7075
@gyboy : I'm not sure what the root cause is.

One abnormality is that sysroots is in  /home/ubuntu/, it should be in an "sdk" directory within /home/ubuntu/ instead.

This is what it looks like for me:

As you can see, the SDK should have a file next to sysroots called sdk_version, this file is now in your home directory, which is not great, although I can't see why this would actually be causing

[2018-04-23 08:59] ulfalizer commented on #6978
@cgohlke
I tried the latest version of the curses wheels. Resizing works fine now!

There's just one compatibility issue I noticed:

ncurses' `resizeterm()` is meant to be called from a `SIGWINCH` handler (the documentation doesn't make this super clear). It `ungetch()`'s `KEY_RESIZE` (see [this code](https://github.com/mirror/ncurses/blob/master/ncurses/base/resizeterm.c#L526)), meaning the code

[2018-04-23 09:48] erwango opened #7151 "boards: Move existing boards to "default configuration guidelines""
Following introduction of "default board configuration guidelines" (#6858), one part of the work is to move boards already ported to zephyr to conform with guidelines available here:
http://docs.zephyrproject.org/porting/board_porting.html#default-board-configuration

In order to migrate all boards to the new standards, work is split into several tickets. See below.
As part of the work to do on ea

[2018-04-23 09:50] erwango commented on #7151
@nashif , @galak : follow up of [Default board configuration guidelines](#6858).
I'll start deploying if you're ok with this.

[2018-04-23 09:53] erwango commented on #7151
I'll provide a reference PR beforehand

[2018-04-23 10:08] rlubos commented on #6785
Hi,
sorry for late response. I was trying to reproduce the issue but it appears that it is already fixed by this commit: https://github.com/zephyrproject-rtos/zephyr/commit/03b24082ee25d197bd976236c1e7270d0cd67299

It came in with OT support for KW41Z which was merged just recently (#6598). If you could just confirm that it works for you on current master I think we could close the issue.

[2018-04-23 10:39] pfalcon commented on #6105
This should be fixed by edc048e06f21fa4bb4cf81cd117d24b4acdf5166.

[2018-04-23 10:39] #6105 closed

[2018-04-23 11:33] pfalcon opened #7155 "DTS: qemu_x86.dts: Warning (unit_address_format): Node /flash@00001000 unit name should not have leading 0s"
Not sure if this is worth reporting, but let's assume it is. Building an app (I tried tests/net/socket/udp, but assume it happens with anything) for BOARD=qemu_x86 as of now, master 541c3cb18, there's a warning:

[code]

This is definitely minor (we have various other warnings here and there), but also seems like should be an easy fix to follow, if there's a specific convention to follow.

[2018-04-23 11:53] pfalcon commented on #6099
Addressed by https://github.com/zephyrproject-rtos/zephyr/pull/7156

[2018-04-23 11:53] #6099 closed

[2018-04-23 12:26] #6104 closed

[2018-04-23 12:28] rlubos commented on #6874
@ekarlso So the specific OT commit with a bugfix is debf68dd09da9a8c08e3567e884e2dc81414bd77

Actually, while I was veryfing that this specifc commit compiles well with Zephyr, I've crated a branch, as some changes to the Zephyr port were required. I didn't check the Joiner functionality though as I don't have a valid BR setup on my desk now. You can check the branch here:
https://github.com/rlubo

[2018-04-23 14:07] #7137 closed

[2018-04-23 14:14] ulfalizer opened #7159 "Kconfig.defconfig is undocumented and unclear"
`Kconfig.defconfig` files were mysterious to me, meaning they're probably super mysterious to people who are less used to Kconfig. They ought to be documented, both to make the design clearer, and to prevent people from putting stuff in random places.

The prefer-later-defaults behavior (see https://github.com/zephyrproject-rtos/zephyr/issues/7054) could be documented at the same time.

Here's an

[2018-04-23 16:13] pfalcon commented on #7013
Another DTS warning: https://github.com/zephyrproject-rtos/zephyr/issues/7155

[2018-04-23 17:44] pfalcon commented on #6106
Closed via #7156.

[2018-04-23 17:44] #6106 closed

[2018-04-23 18:00] mgielda commented on #7032
@nashif @dbkinder I daresay the `white-space: pre;` is still a good idea, see below:
![screenshot from 2018-04-23 19-56-32](https://user-images.githubusercontent.com/140166/39144375-e8213884-4730-11e8-8091-32e498727c89.png)
![screenshot from 2018-04-23 19-59-41](https://user-images.githubusercontent.com/140166/39144376-e8404a6c-4730-11e8-9490-1b1536e4c9a1.png)

[2018-04-23 18:44] cgohlke commented on #6978
I made those changes.

How about using PDCurses' `is_termresized` for `curses.is_term_resized`? Is that safe?

[2018-04-23 20:15] ulfalizer commented on #6978
@cgohlke
Thanks!

Looks like it's safe.

ncurses resizes the terminal automatically inside `getch()` before returning `KEY_RESIZE` when it's configured to handle `SIGWINCH` itself (see the notes at the end of `resizeterm(3NCURSES)`), while PDCurses needs the manual `resize_term()` call, so `is_term(_)resized()` might hit at slightly different times. It seems to mean the same thing for both of them

[2018-04-23 20:52] ulfalizer commented on #7159
CC @carlescufi

[2018-04-24 07:46] SebastianBoe commented on #7159
I don't know what the design behind Kconfig.defconfig is either.

But one would think that the use-case for having board-specific immutable/fixed configs should be covered by DTS and then input to Kconfig like ARCH is.

[2018-04-24 08:41] erwango commented on #7144
Removing the bug tag. Flashing is functional on older version of the board.
Problem is that we miss a way to handle multiple board revisions.
Related to #4315

[2018-04-24 08:52] pfalcon opened #7170 "zassert: Confusing rules and actual usage for messages in zassert_*() calls"
Split off from https://github.com/zephyrproject-rtos/zephyr/pull/7164#discussion_r183550890 .

It seems that there're no clear rules on how to format failure messages for zassert_equal(), etc. calls. For example, I recently submitted 3-4 patches for tests, and with the last one, was randomly stopped by a project maintainer requiring me put "\n" at the end of such messages: https://github.com/zephy

[2018-04-24 09:02] rveerama1 opened #7172 "Mcr20a initialization crashes with frdm_k64f board"
Mcr20a initialization crashes in frdm_k64f, latest upstream commit I noticed this crash is
--------------------------------------------------------------------------------------
commit f5f95ee3a909e522acb1a8ee534635d45803441c
Author: Leandro Pereira <leandro.pereira@intel.com>
Date:   Fri Apr 6 15:55:11 2018 -0700

    kernel: sem: Ensure that initial count is lesser or equal than limit
----------

[2018-04-24 09:28] rveerama1 commented on #7172
@mjs-arm @MaureenHelm assign to right person if it is not related to you.

[2018-04-24 09:50] carlescufi commented on #7159
Agreed, these files are a mystery. I've assigned you to this @ulfalizer so you can document them.

[2018-04-24 10:09] erwango commented on #7013
Being fixed with #7168

[2018-04-24 10:17] ulfalizer opened #7173 "Difference between the ZEPHYR_BASE and PROJECT_SOURCE_DIR CMake variables is unclear"
To me anyway.

`cmake/kconfig.cmake` references `kconfig.py` via `${PROJECT_SOURCE_DIR}/scripts/kconfig/kconfig.py`, while you have e.g. `include(${ZEPHYR_BASE}/boards/common/pyocd.board.cmake)` in other places.

Looking at https://github.com/zephyrproject-rtos/zephyr/blob/master/cmake/app/boilerplate.cmake#L75, they seem to be synonyms.

@SebastianBoe  pointed out that `PROJECT_SOURCE_DIR` is a s

[2018-04-24 10:17] ulfalizer commented on #7173
CC @carlescufi

[2018-04-24 10:27] SebastianBoe commented on #7173
Not sure how to document this. But this is the situation:

PROJECT_SOURCE_DIR is a CMake variable with documented behaviour and should always reflect what CMake documents about it.

CMake's 'project' concept has proven to not be very useful for Zephyr due in part to how Zephyr is organized and in part to it not fitting well with cross compilation[citation needed].

CMake therefore tries to rely as

[2018-04-24 11:04] #6978 closed

[2018-04-24 11:05] ulfalizer commented on #5847
A proper pull request is now at https://github.com/zephyrproject-rtos/zephyr/pull/7174.

[2018-04-24 11:40] erwango commented on #7013
Looking to the warnings, I think one of them is abusive, and I propose to derogate:
    "Node [...] has a unit name, but no reg property"
    ePAPR 1.1 section 2.2.1.1 "Node Name Requirements" specifies that any
    node that has a reg property must include a unit address in its name
    with value matching the first entry in its reg property. Conversely,
    if a node does not have a reg property

[2018-04-24 11:51] pizi-nordic commented on #6186
@skordal: Of course the *printf() interface could be provided, but in my opinion we should allow that only during a transition period, as there are essential differences between logger and the behaviour expected from *printf() calls.

The proposed logger is lossy: If there is no time to process logs, they will be dropped in order to maintain system operation. Such loss is not expected in printf().

[2018-04-24 12:33] ulfalizer commented on #5443
Closing for now. It won't change upstream in Kconfiglib, and I think maintaining a patch for it might be overkill.

Feel free to reopen.

[2018-04-24 12:56] rveerama1 commented on #6534
@baw-serafin can you please try with latest upstream and share wireshark logs?

[2018-04-24 13:26] galak commented on #7013
what does linux dt do here, does it use something like @0?

[2018-04-24 13:26] galak commented on #7013
What's the warning we get for this case?

[2018-04-24 13:29] erwango commented on #7013
Yes, exact same syntax

stm32l496g_disco.dts_compiled: Warning (unit_address_vs_reg): Node /soc/pin-controller/usart1@0 has a unit name, but no reg property

Side note:
Using alias syntax such as  `led0 = "/leds/green_4";` requires slight update of extract dts_include script.
Using `pinctrl-0 = "/soc/pin-controller@4200000/usart2_pins_d";` seems to have a deeper impact (devicetree.py as first sigh

[2018-04-24 13:33] galak commented on #7013
Confused, I was asking about the phandle issue.  What warning do we get related for that.

[2018-04-24 14:27] SebastianBoe commented on #5443
It might be okay to close. But I would like to understand this better before deciding.

Makes sense, CONFIG_F=n is easy for both humans, make, and Kconfig to understand.

Can you elaborate on what this means? Does Kconfig generate "=n" when the user has input through a GUI, but generate "# is not set" when the negative is due to Kconfig evaluation?

Does Kconfig treat "=n" and "# is not set" diffe

[2018-04-24 14:28] SebastianBoe commented on #5443
Said differently, what kind of features or use-cases would we lose if we started to use "=n" everywhere.

[2018-04-24 16:01] mringwal commented on #4249
hi. It's mentioned in Luiz' talk "BlueZ meets Zephyr". Any update on the status or some estimates? Running PTS in a CI setup would be nice :)

[2018-04-24 17:27] GAnthony opened #7178 "wifi shell module assumes tokenization handles quoted strings"
In this new commit:
https://github.com/zephyrproject-rtos/zephyr/pull/5251/commits/24f4b98d91c65dd13aef9ddebb77be3f2fdf1562
wifi_shell.c: on_cmd_connect() expects that the arguments returned by the underlying shell module command line parser, (shell.c: line2argv()) can return SSID names with embedded spaces, assuming they are quoted.

On testing with an AP with an SSID name with space embedded, I

[2018-04-24 20:44] d3zd3z opened #7179 "_vprintk incorrectly prints 64-bit values"
`_vprintk` and by extension all of the formatted print routines in Zephyr support `"%lld"` and variants to print 64-bit values. However, the code that does this discards the top 32-bits of these values, and just prints them using the 32-bit printing code:
[code]

This could be fixed by by generalizing the print routines to use 64-bit values, although there could be a performance cost to this affec

[2018-04-24 20:54] d3zd3z commented on #7179
@andrewboie this does still print garbage for 64-bit values that are larger than 32-bit.

[2018-04-24 23:33] MaureenHelm commented on #7172
Thanks @mike-scott for reporting the additional failures. I was thinking about fixing the mcr20a driver by adding dts bindings, but with the additional dependencies in the sensor drivers, I'll revert the bad PR.

[2018-04-25 00:07] sritej20 commented on #7084
Can anyone assign this issue to me so i can push the changes ?

[2018-04-25 01:59] ulfalizer commented on #5443
@SebastianBoe
The problem is that `Make` treats `CONFIG_FOO=n` and `# CONFIG_FOO is not set` differently. You can't test for the first one with `ifdef CONFIG_FOO`, and that's a nice thing to be able to do.

Kconfig never generates `CONFIG_FOO=n`, for that reason. Changing it would break the Linux kernel, so it would have to be a separate patch.

[2018-04-25 02:04] ulfalizer commented on #5443
Consider this for example:

[code]

When `FOO` is `n`, you want `ifdef CONFIG_FOO` to be false in Make, so nothing besides a Make comment can be generated for `FOO`.

At the same time, Kconfig needs to remember that `FOO` was set to `n` (especially important in this case, as it defaults to `y`). To do that without being forced to set it (which would break the handy `ifdef` Make test), you generate

[2018-04-25 05:54] nashif commented on #6991
so we have decided to parse the testcases instead of listing them in the yaml file, this works nicely and means we will not go out of sync. see related PR.

[2018-04-25 06:45] hakonfam opened #7184 "List of supported boards is incorrect when $BOARD_ROOT is set by user."
If the user sets `$BOARD_ROOT` to something other than its default value and sets `BOARD=some_board_not_defined_in_$BOARD_ROOT` the list of supported boards printed contains the boards in `$ZEPHYR_BASE/boards` which is incorrect.

[2018-04-25 07:26] #6107 closed

[2018-04-25 08:10] ramakrishnapallala commented on #6902
@nashif
I am planning to modify the API as below:
typedef void (*stack_analyze_fn)(k_tid_t thread, const char *stack, size_t size);
void k_call_stacks_analyze(k_tid_t thread, stack_analyze_fn analyze);

One challenge I see in iterating over all the threads is,  they have not tied any list. For static threads, we are doing build time magic to get the start and end of the thread (tid's) but we don't

[2018-04-25 08:19] jhedberg opened #7186 "settings_load() never returns when called"
I made a quick app to test the settings API, and doing an initial call on settings_load() on an uninitialized (erased, i.e. should be containing just 0xffff...) flash area results in the call never returning.

[2018-04-25 09:52] jukkar commented on #6902
Why do you have thread id as a parameter to k_call_stacks_analyze(), if that is omitted then the caller could just traverse through the stacks configured in the system and this would work with all the threads.

IMHO a better API would be something like this:

[code]

[2018-04-25 10:18] SebastianBoe commented on #5443
Thank you, I understand the situation.

For Zephyr, I believe the cleanest solution is to have kconfiglib support a dialect of Kconfig that produced "=n" instead of "is not set". Then users will not be confused about comments having semantics and users will not be confused about there being 2 different syntaxes for the same thing.

Having a configuration system that behaves as-expected, and theref

[2018-04-25 12:07] #7184 closed

[2018-04-25 12:11] #7146 closed

[2018-04-25 12:12] hakonfam commented on #7146
Close because of https://github.com/zephyrproject-rtos/zephyr/pull/7183

[2018-04-25 12:51] nashif commented on #4309
@jcmvbkbc any idea what is going on here? This sounds like an issue with the toolchain itself.

[2018-04-25 15:05] ioannisg commented on #7128
@GAnthony Really interesting issue. I believe that the root of the problem is just the fact that the MSP is not initialized, and has nothing to do with XIP. This is a common problem, also, in systems with sequential booting, where the preceding image needs to set the MSP properly, before jumping to the succeeding image. (E.g. MCUBoot does that before calling the reset() function of the Zephyr imag

[2018-04-25 15:10] gyboy commented on #7075
@SebastianBoe,thanks,actually I didn't find the directory.It seems that I have installed the sdk for many times,the first time I used the default directory whihout the command sudo and I can't see any file in  "/opt/zephyr sdk",the second time I installed the sdk in the directory "/home/ubuntu/",which you can see from the log,but still can't find any file,the last time I installed in "/home/ubuntu

[2018-04-25 15:31] henrikbrixandersen commented on #6205
ztool?

[2018-04-25 15:33] agross-korg commented on #7128
@ioannisg That should cover it.  We need to make sure the rest of the stack inits are done properly as well.  @GAnthony mentioned that the main stack still gets messed up later.  Maybe that is a separate issue, but still needs to be explained.

[2018-04-25 15:45] ioannisg commented on #7128
The MSP is not supposed to be initialized with `__main_stack + CONFIG_MAIN_STACK_SIZE `: that one is the start of the stack of the main thread, and I think it should not be overwritten.
Instead, I believe we need to initialize the MSP with whatever is the start of our vector table (typically the start of the flash)

[2018-04-25 16:35] nashif commented on #6902
the THREAD_MONITOR would give you this.

the callback function will be more flexible this way, this would be an optional argument in this case.

Maybe:
k_stacks_foreach -> k_thread_stack_foreach

and then also create a generic API for iterating over threads in general, i.e. k_thread_foreach.

[2018-04-25 17:04] jhedberg commented on #7186
This one got fixed by #7093

[2018-04-25 17:04] #7186 closed

[2018-04-25 17:15] jcmvbkbc commented on #4309
@nashif I agree, that sounds like discrepancy between qemu view of registers (it provides both privileged and unprivileged registers through its gdb server) and gdb view of registers (by default it only expects unprivileged registers). So far I used to modify xtensa configuration overlay applied to gdb source to mark all registers as unprivileged. But probably a better solution is to fix xtensa gd

[2018-04-25 17:27] carlescufi commented on #6205
@mbolivar @nashif

Here is the roadmap I propose for this tool:

1. Pick a name
2. Start development of the tool in `scripts/`, **documented** but not as the default mechanism to build and debug.
3. Add features in this order:
* Build, including specifying conf file and board
* Flash, including the different options like masserase or not
* Debug
4. Decouple the tool at the same time we introduce m

[2018-04-25 18:55] andyross opened #7193 "tickless and timeslicing don't play well together"
Specific bug: wake up a thread (or create a new one) at the same priority as the currently running thread, both of which are at the same preemptible priority and in a situation where no other threads exist at that priority.  In theory, the CPU timer should be adjusted to reflect the new situation and expire in one slicing tick.  In practice, the timer is not adjusted and the new thread won't get a

[2018-04-25 20:34] ekarlso commented on #6874
Hi sadly towards the OTBR (Border Router) it didnt seem to work yet. WIll test tomorrow also.

[2018-04-25 20:48] ioannisg opened #7196 "kernel: CONFIG_INIT_STACKS : minor documentation & dependency update"
While investigating #7128 , I looked into the k-config option for initializing stacks:

At least for ARM, CONFIG_INIT_STACKS initializes the _interrupt stack_, as well, so the last sentence is not accurate, IMHO.

In addition to the above: `CONFIG_INIT_STACKS=y ` looks to me that it has a dependency on `CONFIG_MULTITHREADING=y `(attempt to define the first and not the latter leads to compile error

[2018-04-25 20:59] andrewboie commented on #6972
I've spent quite some time on this. After trying out a lot of stuff I have pretty much convinced myself that Option 3 is still the way to go but let me attempt to justify it. I did seriously consider tracking allocations on a per-object instead of a per-thread basis but I found things ended up much simpler this way even though it's not how Linux does it.

First, the details of what I am specifical

[2018-04-25 21:15] #6287 closed

[2018-04-25 21:17] andrewboie commented on #6996
WIP on this: #7049

[2018-04-25 21:17] andrewboie commented on #6997
WIP on this: #7049

[2018-04-25 21:27] #6907 closed

[2018-04-25 21:30] #7155 closed

[2018-04-25 21:35] andrewboie commented on #6911
The error message is now a lot more useful.
I think it still shouldn't default to IAMCU for all x86 targets though.

[2018-04-25 21:53] mbolivar commented on #6205
@carlescufi I'm fine with that if we can come to a resolution quickly on the name.

If the bikeshedding takes more than a week or two, though, I'd like to merge #6832 through the following path:

- call the tool zprog.py instead of zephyr_run.py, as that's hopefully more clear but won't be a name clash with the meta tool
- keep it _undocumented_ for now to have it as an experimental implementation

[2018-04-25 21:54] mbolivar commented on #6205
@nashif and any other interested parties, any comments on the two above proposals?

[2018-04-25 23:54] GAnthony commented on #7128
Yes,  _vector_start[0] is set to the top of the _main_stack in vector_table.S

https://github.com/zephyrproject-rtos/zephyr/blob/246f03c9e63578ba523fce5b52b16c0856990d6c/arch/arm/core/cortex_m/vector_table.S#L36

But, main stack will get overwritten when` _net_thread(....., _main_stack) ` is called, overwriting a return address with 0xaaaaaaaa.

So, maybe _vector_start[0] needs to be initialized t

[2018-04-26 00:35] jli157 commented on #7193
Could the issue https://github.com/zephyrproject-rtos/zephyr/issues/7048 be caused by same root cause?

[2018-04-26 02:33] jcmvbkbc commented on #4309
I've added the following patch to the top of the zephyr SDK: https://github.com/jcmvbkbc/meta-zephyr-sdk/commit/42be8b49d5915a0bb94ef8dfbde50fe130e7a772 and rebuilt SDK.
I was able to run qemu-system-xtensa -cpu sample_controller -nographic -s -S and connect to it from the new xtensa-zephyr-elf-gdb.

[2018-04-26 02:38] galak opened #7198 "sanitycheck issue w/ztest"
The following commit added some checks which case break on tests/kernel/mem_protect/mem_protect/src/main.c, because of the #ifndef/#endif block.

commit aae71d74dd2f26f970f8dc0479ea706fde36dbdc
Author: Anas Nashif <anas.nashif@intel.com>
Date:   Sat Apr 21 22:26:48 2018 -0500

    sanitycheck: parse test cases from source files

    This parses the tests that run within a test project/application

[2018-04-26 03:34] galak commented on #7198
I think this shows two different issues.

1. The error reporting of sanitycheck isn't for parsing the test case isn't doing the right thing
2. The testcase tests/kernel/mem_protect/mem_protect/src/main.c also needs fixing.

[2018-04-26 03:50] ulfalizer opened #7200 "Commit 'tests: kernel: mem_protect: tests for userspace mode' breaks scripts/sanitycheck"
Now get this error:

    E: /home/ulf/zephyr/tests/kernel/mem_protect/mem_protect/testcase.yaml: can't load (skipping):
    sequence item 0: expected str instance, bytes found

`tests/kernel/mem_protect/mem_protect/testcase.yaml` seems to be causing it.

CC @AdithyaBaglody

[2018-04-26 03:52] galak commented on #7200
This is also reported in #7198

[2018-04-26 03:52] ulfalizer commented on #7200
@galak
Alright, closing then.

[2018-04-26 03:52] #7200 closed

[2018-04-26 07:34] SebastianBoe commented on #7075
Resolved.

[2018-04-26 07:48] kzyapkov opened #7207 "cmake fails when zephyr is used as submodule"
On Arch Linux, cmake version 3.10.3, zephyr@master. I have a bare bones application repo with `zephyr` as submodule. With this setup, cmake fails like so:

[code]

Contents of `CMakeError.log`
[code]

The same works fine with zephyr@v1.11.0

[2018-04-26 07:51] inakypg opened #7208 "ztest_test_fail() not failing?"
Maybe related to #7198

Force a testcase to fail, say:

[code]
Now run sanitycheck on that:

[code]

The output you get boils down to:

[code]

Well, it failed, but it is still printed as a PASS. Plus, if your message has no newline, it ends up as:

[code]
$ git -C zephyr.git/ describe
v1.11.0-833-g246f03c9e6

[2018-04-26 08:52] SebastianBoe commented on #7207
"git_describe"

@nashif : Most definitely related to the new git-based boot banner.

[2018-04-26 12:36] erwango commented on #7053
Will be fixed as part of #7151

[2018-04-26 12:40] SebastianBoe opened #7213 "DTS should use (one or more) prefixes on all defines"
Kconfig and DTS are inconsistent in their naming convention. In Kconfig all defines are prefixed with CONFIG_. In DTS it is a mix of CONFIG_ and no prefix. Unless there is a good reason for DTS to generate macros without the CONFIG_ prefix we should start enforcing that DTS limits itself to CONFIG_.

Consistently prefixing with CONFIG_ effectively creates a namespace
and that is important for two

[2018-04-26 12:50] SebastianBoe opened #7214 "Defines from DTS and Kconfig should be available simultaneously"
Currently Kconfig defines are available in all C sources through gcc's "-include file.h" mechanism whereas dts defines must be explicitly included through the preprocessor's "#include file.h" directive.

This means that firmware must treat configuration coming from DTS and Kconfig differently. This difference makes the configuration system harder to understand and can cause users to be confused ab

[2018-04-26 12:56] erwango commented on #7048
Remocing the STM32 tag as this occurs also on frdm_k64f

[2018-04-26 12:58] rlubos commented on #6874
Hey, thanks for the reply.

So I did some further digging about this commissioning issue and have the following feedback. OT commit had to be bumped up even more to enable proper radio operation after `cmd thread stop` is called (I presume you use existing examples, which start Thread at initialization). Without this bugfix Discovery Response message wasn't even forwarded to the Thread stack from

[2018-04-26 14:30] SebastianBoe opened #7216 "Stop using gcc's "-include" flag"
Both the linux kernel and Zephyr uses gcc's "-include" feature to insert Kconfig defines into the top of every source file that is built.

The main advantage of using "-include" is that it is impossible for a C source file to accidentally forget to include the Kconfig header file[0].

But protecting the user from this user-error has several disadvantages.

#### IDE support

IDE's and other C tooli

[2018-04-26 17:46] ulfalizer commented on #5443
@SebastianBoe
One drawback would be drifting further away from `kconfig-language.txt`, but maybe that's fine if we'll need separate documentation later anyway.

It's a trivial change on the Kconfiglib side at least. Think this should be enough:

[code]

It'd still handle `# CONFIG_FOO is not set` lines after that change. Just wouldn't generate them.

[2018-04-26 18:18] ulfalizer commented on #7054
The documentation added in https://github.com/zephyrproject-rtos/zephyr/pull/7199 mentions that Zephyr's Kconfig prefers later defaults. Do you think that's enough?

Might be easy to miss, but it's a big improvement from nothing at least. :)

[2018-04-26 18:39] ekarlso commented on #6874
Uhm, any idea on / from Nordic about this? We're wanting to use OpenThread and Zephyr so a working integration is fine.

[2018-04-26 19:58] anderspitman opened #7219 "printk output with gdbserver?"
I feel like this is a really dumb question but I haven't been able to figure it out after an hour of searching.

I'm using [this](https://redbear.cc/product/ble/ble-nano-kit-2.html) Redbear Nano2 board. I'm able to build and flash Zephyr without any problems, but I haven't been able to figure out how to see output from my printk statements. Running `ninja debug` gets me a gdb console using pyocd,

[2018-04-26 23:07] anderspitman commented on #7219
I had 2 problems. First was I needed to connect to the serial debugging over USB, using:

[code]

I also didn't have my TX/RX lines connected initially, since my nano 2 wasn't directly connected to the DAPlink board because the nano 2 was on a breadboard.

[2018-04-26 23:07] #7219 closed

[2018-04-27 03:07] #7208 closed

[2018-04-27 07:29] SebastianBoe commented on #5443
Yes. This is the main drawback. But IMHO it is worth it. It should be noted that all we are changing is how Kconfig integrates with it's build system. For KBuild it makes sense to generate "is not set", whereas for CMake it makes more sense to generate "=n".

This dialect change will not affect in any way any documentation about Kconfig ("is not set" is not actually documented), nor will it affect

[2018-04-27 07:36] erwango commented on #7213
@SebastianBoe , do you mean that everything which is generated from dts should use CONFIG_ name space?
Such as NORDIC_NRF5_I2C_40003000_LABEL would be CONFIG_NORDIC_NRF5_I2C_40003000_LABEL ?

[2018-04-27 07:40] SebastianBoe commented on #7054
It helps :)

But it would still be better to avoid this patch. I will re-write this issue from a doc bug to an enhancement.

[2018-04-27 07:44] SebastianBoe commented on #7054
@ulfalizer : Any ideas on how to align?

I assume that simply re-ordering and doing:

instead of

is not valid?

[2018-04-27 07:52] SebastianBoe commented on #7213
Yes. Specifically everything in generated_dts_board.h.

[2018-04-27 08:08] nashif commented on #4309
thanks @jcmvbkbc , lowering priority since this is an SDK issue.

[2018-04-27 08:26] skordal commented on #6186
That's fine, what I mean is, it could be useful to have the possibility to pass a va_list to the logging functions, to make it possible to forward logging messages from other libraries/frameworks (such as libmetal) which implement their own logging frameworks.

The problem here is that I want to forward logging messages from a function, defined as `metal_log_handler(enum metal_log_level level, con

[2018-04-27 08:27] rveerama1 commented on #6400
@tarunkum http_server and http_client samples are for different purpose. They are implemented in way to communicate each other. http_server sample expects different client and http_client expects different server capabilities.

The reason in your test these samples can not even establish TCP connection is http_server listening on port 80 and client tries to connect on port 8000. You have changed t

[2018-04-27 08:27] #6400 closed

[2018-04-27 08:38] #2410 closed

[2018-04-27 08:43] rlubos commented on #6874
I've added a fix to my branch:
https://github.com/rlubos/zephyr/tree/bump-ot-version-to-commit-db4759cc

With this fix, channel in received frame is no longer hardcoded, but read from OT platform radio port (new function was provied for that). You can check this out, feedback would be appreciated.

[2018-04-27 08:44] erwango commented on #7213
Not sure to agree in that case.

Having dts generated bit and Kcong using same namespace would create confusion as we're not able anymore to say if this should be configured from Kcong or from dts.
Also I find it would be confusing to see, in .fixup files (even if we should eventually get rid of those):
#define CONFIG_UART_STM32_PORT_1_NAME	  CONFIG_ST_STM32_USART_40013800_LABEL

Besides, eveythin

[2018-04-27 09:06] leodesigner opened #7227 "/subsys/storage/flash_map/flash_map_default.c missing declarations."
Hi,
Testing settings storage subsystem.
Got missed declarations for:
[code]
I have defined CONFIG_FS_FLASH_MAP_STORAGE
and CONFIG_SETTINGS_FCB_FLASH_AREA=4
target SOC is CONFIG_SOC_SERIES_NRF52X

should I use CONFIG_SETTINGS_FCB_FLASH_AREA=3 for now and disable CONFIG_FS_FLASH_MAP_STORAGE ?

Thanks.

[2018-04-27 10:06] #5633 closed

[2018-04-27 10:07] SebastianBoe commented on #7213
Not sure how that is better than today's situation, today there is a mix of CONFIG_ and non-CONFIG_ in DTS so you are not able to predict this now either.

Could you elaborate on what is confusing?

Correct, they are not available at the same time. But IMHO they should be available simultaneously as explained in issue #7214 .

I don't see the need for the configuration system to use a separate nam

[2018-04-27 10:42] pizi-nordic commented on #6186
@skordal: I see your problem now. The `vsprintf()` is a simple, but ineffective solution. What is needed to interface such function to the proposed logging subsystem is a code which extract arguments from the `va_list` basing on format string and pass them to the logger. Such code might be available through dedicated macros like `VLOG_VINFO()`, `VLOG_ERR()` and so on. The only drawback of such app

[2018-04-27 11:16] rveerama1 commented on #7087
https://github.com/zephyrproject-rtos/zephyr/pull/7223 fixes issue.

[2018-04-27 11:16] #7087 closed

[2018-04-27 11:17] rveerama1 commented on #7086
https://github.com/zephyrproject-rtos/zephyr/pull/7223 fixes issue.

[2018-04-27 11:17] #7086 closed

[2018-04-27 11:31] #7159 closed

[2018-04-27 11:48] rveerama1 commented on #5956
@tarunkum when you made changes to samples/net/coap_client (GET, PUT and POST methods), how did you test that?, what was your counter part of CoAP server?

[2018-04-27 11:56] leodesigner commented on #7227
Storage definition should be added to DTS for every board.
Made a temporary fix for nrf52_blenano2
in boards/arm/nrf52_blenano2/nrf52_blenano2.dts
[code]
Now the missed definition is present.
I am not familiar with the DTS tree system, is this change should be added to every board ? Or there is some kind of template for these configs ?

[2018-04-27 12:12] SebastianBoe opened #7230 "The guidelines for whether something should be in DTS or Kconfig are too vague"
We need improved guidelines for determining if a configuration knob belongs in Kconfig or DTS.
The existing guidelines are attached below.

From the guidelines one can read that DTS should be used for:

- HW description
- Zephyr-specific configuration
- Some of the use-cases where Kconfig is currently applied
- Not all of the use-cases where CMSIS (and similair) is currently applied

This is prett

[2018-04-27 15:05] ulfalizer commented on #7054
@SebastianBoe
Yeah, I've also been thinking about whether you can simply switch them around. Think it might work.

One messy thing is that many symbols already have many `default`s in the same location and depend on the prefer-later-defaults behavior. Might be a lot of stuff that would need to be fixed.

[2018-04-27 18:08] chtavares592 opened #7236 "Sample Http_Client is deprecated"
Hello,
I was seeing the sample/net/http_client  and realized that the "http_client_set_tls" function is deprecated for the current API. I would like to know if could update the example with the current API.
Thank you

[2018-04-28 00:56] GAnthony commented on #7128
Case 1) Loading to SRAM.  CONFIG_XIP=n.  Any Zephyr program (in this case samples/basic/blinky).
Stepping through reset.S in the debugger (gdb/opencode):

    ldr r0, =_interrupt_stack
    ldr r1, =CONFIG_ISR_STACK_SIZE
    adds r0, r0, r1
    msr PSP, r0
    movs.n r0, #2	/* switch to using PSP (bit1 of CONTROL reg) */
    msr CONTROL, r0

and then:

    b _PrepC

I see on the first push instruct

[2018-04-28 01:26] vonhust commented on #6764
@ruuddw @nashif  , I suggest to put em7d, em11d and em9d into one folder, named, snsps_emsk. As @ruuddw  said,  these cores share all the peripherals, the only difference is core related definitions, e.g. , core features, some interrupt configurations. These core can be viewed as in the same SoC family or SoC series.  If we split these cores into 3 distinct boards. The duplication will be unavoida

[2018-04-28 04:07] ulfalizer commented on #5443
Heh, never noticed it wasn't documented. Always amazes me how people can feel comfortable adding stuff like that without thinking it might be a good idea to at least hint at why it's there.

Yeah, pretty minimal fallout in that case, and the patch should be simple to maintain, so I'm fine with it.

[2018-04-28 12:17] ioannisg commented on #7128
@GAnthony thanks for doing this investigation.
@galak, @GAnthony, @agross-linaro , I think we might have just revealed a bug, here, which I had also tried to discuss in an earlier PR few days ago, take a look: #6977.
ARM insists on invoking ISB (and DSB, perhaps) instructions after switching Stack Pointer.

Could you please try to add the barrier instructions after modifying the control register t

[2018-04-28 19:06] pfalcon commented on #3286
As this is meta-issue, assigning to @laperie for management purposes.

(A question would be if this is still prio:high).

[2018-04-28 19:17] pfalcon commented on #4934
I'm poking around various RFC, and RFC4944 "Transmission of IPv6 Packets over IEEE 802.15.4 Networks" defines the situation very clearly (https://tools.ietf.org/html/rfc4944#section-4):

It goes on further with stuff like:

   physical layer packet size of 127 octets (aMaxPHYPacketSize) and a
   maximum frame overhead of 25 (aMaxFrameOverhead), the resultant
   maximum frame size at the media acce

[2018-04-28 23:30] paulgavrikov opened #7243 "BLE DTM ll_test does not set correct TXPower"
According to the Bluetooth Core Spec v5 Direct Test Mode shall transmit with maximum txpower. However ll_test sets the txpower to 0dBm, which is not the highest txpower for many device including Nordics nRF52 family.

[2018-04-29 12:11] b0661 commented on #7213
The meaning of CONFIG must be clear and unambiguous to the user. It shall also be clear who is the user.

In my view the
- user is the application developer (vs. driver/ kernel developer) and
- the meaning of CONFIG is "the application developer does have a choice".

Within this semantic system FLASH_NRF_FLASH_WRITE_BLOCK_SIZE should be FLASH_NRF_FLASH_WRITE_BLOCK_SIZE or DTS_FLASH_NRF_FLASH_WRITE

[2018-04-29 18:42] inakypg opened #7245 "EMSK 7d: can't build after 60ec8be309cb84d72c5fc61330abc968eb62333e"
Hello

Starting said commit

[code]

all builds in our HW automation for EMSK 7d model are failing with:

[code]

[2018-04-29 18:55] nashif commented on #7245
How do you build and what board definition are you using exactly? This builds just fine in sanitycheck and locally..

[2018-04-29 19:42] inakypg opened #7246 "esp32 fails to build with xtensa-esp32-elf-gcc: error: unrecognized command line option '-no-pie'"
bisect says after commit:
[code]
_hello world_  (and multiple others) starting failing to build with ZEPHYR_TOOLCHAIN_VARIANT=espressif (v5.2.0), ESP_IDF rev v3.0-dev-388-gdc8c3389

[code]

[2018-04-29 19:50] inakypg commented on #7245
Hmm, I thought I had added this part, but I guess I missed it:

Add a configuration file that enables:

[code]

to make sure oyu are building 7D

[2018-04-29 21:00] nashif commented on #7245
I have that, you need to show this can be reproduced with a sample, for example:

[code]

[2018-04-29 22:00] diytronic opened #7248 "i2c: Seems issue in dts"
Tried to add i2c device to stm32f103 under Zephyr. After lot of frustrations finally got what here
https://github.com/zephyrproject-rtos/zephyr/blob/master/arch/arm/soc/st_stm32/stm32f1/dts.fixup#L23 is only configuration for I2C_2, but where is a 1-st port I2C_1? Why it absent here?

Here https://github.com/zephyrproject-rtos/zephyr/blob/1f43e7b684c550737a06319a901badd5054c3499/dts/arm/st/stm32f1

[2018-04-29 22:05] inakypg commented on #7245
[code]

[2018-04-29 22:06] inakypg commented on #7245
There is no BOARD=em_starterkit_7d or whatever, only one board that then is multiplexed (the wrong way, if you ask me).

[2018-04-29 23:03] inakypg opened #7249 "Arduino 101 / ARC: tests/kernel/fifo/fifo_api/ fails after 3d9ba10b5c903265d870a9f24065340d93e7d465"
Starting said commit:
[code]

running on Arduino 101's ARC (and suspected some other ARC platforms and testcases) fail with:

[code]
the exception loop repeats for ever, the board is stuck there.

[2018-04-30 00:36] inakypg commented on #7249
Also affects tests/kernel/mem_pool/mem_pool_api:

[code]

[2018-04-30 01:51] nashif commented on #7245
why are you doing this:

[code]

em_starterkit is already configured as em9d, if you want em7d, then just use

`cmake -DBOARD=em_starterkit_em7d`

What you end up with is an invalid configuration mixing incompatible features, the difference:

[code]

[2018-04-30 01:53] nashif commented on #7245
there is a em_starterkit_em7d configuration. the multiplexing is being fixed in #7238

[2018-04-30 04:55] nashif commented on #7245
you need to check what firmware you have installed, for 2.2, you need to use `em_starterkit_em7d_v22`

[2018-04-30 05:26] ramakrishnapallala commented on #6984
@ehudmarvell  can you also dump the prj.conf kconfig options here

[2018-04-30 06:01] ydamigos commented on #7248
Hi, thanks for reporting it. I created PR #7250 to fix it.

[2018-04-30 07:02] diytronic commented on #7248
Great! Thank you

[2018-04-30 07:35] SebastianBoe commented on #7213
@b0661 , are you proposing prefixing DTS defines with DTS_ or on a case-by-case basis either prefixing DTS defines with DTS_ or CONFIG_ depending on whether they should be application-controllable or not?

Technically everything in DTS is (and needs to be) controllable-by-application (unless we start limiting DTS to describe HW). Practically however it is not obvious what values are controllable a

[2018-04-30 08:31] ramakrishnapallala commented on #6694
Fix is already in place in lib/posix/timer.c

Please close this issue.

[2018-04-30 08:31] ramakrishnapallala commented on #6694
@Shilpashree3lc

[2018-04-30 08:35] ramakrishnapallala commented on #6677
@Shilpashree3lc fixed already in lib/posix/pthread.c

[2018-04-30 08:43] ramakrishnapallala commented on #7083
@Shilpashree3lc issue is not valid anymore. we can close this.

[2018-04-30 09:28] Skjerve commented on #3689
Is this still on track for 1.12?

[2018-04-30 09:54] Shilpashree3lc opened #7254 "[Coverity CID :185402] Code maintainability issues in /drivers/spi/spi_dw.c"
Static code scan issues seen in File: /drivers/spi/spi_dw.c
 Category: Code maintainability issues
 Function: transceive
 Component: Drivers
 CID: 185402
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 09:54] Shilpashree3lc opened #7255 "[Coverity CID :185401] Integer handling issues in /drivers/spi/spi_mcux_dspi.c"
Static code scan issues seen in File: /drivers/spi/spi_mcux_dspi.c
 Category: Integer handling issues
 Function: spi_mcux_configure
 Component: Drivers
 CID: 185401
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 09:54] Shilpashree3lc opened #7256 "[Coverity CID :185400] Null pointer dereferences in /drivers/spi/spi_dw.c"
Static code scan issues seen in File: /drivers/spi/spi_dw.c
 Category: Null pointer dereferences
 Function: transceive
 Component: Drivers
 CID: 185400
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 09:54] Shilpashree3lc opened #7257 "[Coverity CID :185399] Integer handling issues in /subsys/usb/usb_device.c"
Static code scan issues seen in File: /subsys/usb/usb_device.c
 Category: Integer handling issues
 Function: usb_transfer_work
 Component: Other
 CID: 185399
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 09:54] Shilpashree3lc opened #7258 "[Coverity CID :185398] Memory - corruptions in /samples/net/mbedtls_sslclient/src/mini_client.c"
Static code scan issues seen in File: /samples/net/mbedtls_sslclient/src/mini_client.c
 Category: Memory - corruptions
 Function: tls_client
 Component: Samples
 CID: 185398
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 09:54] Shilpashree3lc opened #7259 "[Coverity CID :185397] Null pointer dereferences in /tests/net/ipv6_fragment/src/main.c"
Static code scan issues seen in File: /tests/net/ipv6_fragment/src/main.c
 Category: Null pointer dereferences
 Function: test_setup
 Component: Tests
 CID: 185397
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 09:54] Shilpashree3lc opened #7260 "[Coverity CID :185395] Memory - corruptions in /samples/net/mbedtls_sslclient/src/mini_client.c"
Static code scan issues seen in File: /samples/net/mbedtls_sslclient/src/mini_client.c
 Category: Memory - corruptions
 Function: tls_client
 Component: Samples
 CID: 185395
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 09:54] Shilpashree3lc opened #7261 "[Coverity CID :185394] Null pointer dereferences in /subsys/net/ip/l2/ethernet/arp.c"
Static code scan issues seen in File: /subsys/net/ip/l2/ethernet/arp.c
 Category: Null pointer dereferences
 Function: net_arp_prepare
 Component: Networking
 CID: 185394
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 09:54] Shilpashree3lc opened #7262 "[Coverity CID :185393] Memory - illegal accesses in /drivers/interrupt_controller/plic_fe310.c"
Static code scan issues seen in File: /drivers/interrupt_controller/plic_fe310.c
 Category: Memory - illegal accesses
 Function: plic_fe310_irq_handler
 Component: Drivers
 CID: 185393
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 09:54] Shilpashree3lc opened #7263 "[Coverity CID :185392] Null pointer dereferences in /drivers/spi/spi_dw.c"
Static code scan issues seen in File: /drivers/spi/spi_dw.c
 Category: Null pointer dereferences
 Function: transceive
 Component: Drivers
 CID: 185392
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 09:54] Shilpashree3lc opened #7264 "[Coverity CID :185391] Incorrect expression in /tests/lib/rbtree/src/main.c"
Static code scan issues seen in File: /tests/lib/rbtree/src/main.c
 Category: Incorrect expression
 Function: check_tree
 Component: Tests
 CID: 185391
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-04-30 10:15] ioannisg commented on #7196
It does initialize the IRQ stack on ARM, too. So yes, the text needs to be updated.

[2018-04-30 10:30] ramakrishnapallala commented on #6984
please with following changes:

Add  CONFIG_PTHREAD_IPC=y in prj.conf file
Add "target_include_directories(app PRIVATE $ENV{ZEPHYR_BASE}/include/posix)" in CMakeLists.txt

It works for with sample/hello_work app.

[2018-04-30 11:39] nashif commented on #7198
both issues now fixed.

[2018-04-30 11:39] #7198 closed

[2018-04-30 12:07] #7254 closed

[2018-04-30 12:36] SebastianBoe opened #7266 "Kconfig syntax error in arch/Kconfig:114"
There is a syntax error in arch/Kconfig:114

It is not reported by kconfiglib.py, e.g. when running make/ninja, but it is reported by the Kconfig GUI tools like xconfig/menuconfig (that rely on config.c).

[2018-04-30 12:37] SebastianBoe commented on #7266
[code]

Might be due to the help text not being indented. It is not clear why this would trigger now though.

[2018-04-30 12:37] nashif commented on #6759
can't reproduce

[2018-04-30 12:37] #6759 closed

[2018-04-30 12:38] cvinayak commented on #7266
it is the "depends on HEAP_MEM_POOL_SIZE > 0"  I think comparison operation is not supported.

[2018-04-30 12:39] SebastianBoe commented on #7266
Likely culprit, 6 days old commit: https://github.com/zephyrproject-rtos/zephyr/commit/31bdfc014e786d94608b4405694520f41c5066bf

[2018-04-30 12:39] nashif commented on #4959
duplicated by #6912

[2018-04-30 12:39] #4959 closed

[2018-04-30 12:39] nashif commented on #5807
duplicated by #6912

[2018-04-30 12:39] #5807 closed

[2018-04-30 13:02] pizi-nordic commented on #6186
As principles of the logger seems to be accepted by everyone, it is time to discuss some implementation details:

# Implementation considerations
The data structures used in the Logger Core are the most critical part of the design as they have direct impact on the key logger parameters (especially performance). At the first look, a plain circular buffer satisfies all needs: saving data in the buff

[2018-04-30 13:19] chtavares592 opened #7269 "/samples/net/http_client: Error using https in http_cliente sample"
I was testing the http_client example with https, and in the program execution in the "do_sync_http_req" function the call of the "http_client_send_req" function occurs a "***** Stack Check Fail! *****" error. I noticed that this error occurs because of https, in the "mbedtls_x509_crt_parse_der" function. I wonder if it would be possible to correct this error. Thank you

[code]

[2018-04-30 13:34] nashif commented on #7266
Isnt this a bug in kconfiglib allowing? it should have have detected the syntax error.

[2018-04-30 14:07] nashif commented on #7103
mbedtls is the latest, the above CVEs are for versions before 2.8.0, so closing.

[2018-04-30 14:07] #7103 closed

[2018-04-30 14:16] #7044 closed

[2018-04-30 14:16] #7207 closed

[2018-04-30 14:26] SebastianBoe opened #7272 "Be more consistent with Kconfig language"
The language used in Kconfig prompts is inconsistent. This presents application developers a messy and potentially confusing user interface (when the variation in language actually intends to communicate a variation).

Examples of phrasing used to communicate that a driver should be enabled in "Device Drivers":

[code]

Definition of Done:
[ ] Port the Kconfig language used to be more consistent.

[2018-04-30 15:13] agross-linaro commented on #6802
I tried reproducing with no success.  I mimic'd the above code and could not reproduce using just the single user_mode_enter test case or all of them in place.  I did see the usual cmake/make bug that required me to remove the build directory and rebuild the system.

[2018-04-30 15:38] andrewboie commented on #7266
I could have sworn I copied this from a different Kconfig. I'll work on a fix now.

[2018-04-30 16:25] ulfalizer commented on #7266
@andrewboie
Kconfiglib supports it. It's the version of the C tools used in Zephyr that doesn't.

[2018-04-30 16:54] #6911 closed

[2018-04-30 17:31] b0661 commented on #7213
@SebastianBoe, I think before investing the effort of re-organizing and prefixing a value by CONFIG (or any other "class" prefix) the meaning of such a prefix and the usage shall be clear and finally also documented.

At the moment the meaning of CONFIG is unclear. Mostly it may be "configuration variable created by kconfig" , but also others are using the CONFIG prefix. The perspective is tool or

[2018-04-30 20:27] subbu147 commented on #7261
I am new to zephyr, and interested in contribution. Can this be assigned to me.

Thanks

[2018-04-30 20:28] inakypg commented on #7246
doesn't work for me:

[code]

[2018-04-30 20:28] inakypg commented on #7246
same xtensa SDK version as in the bug report

[2018-04-30 22:34] nashif commented on #7261
@subbu147 please submit a PR, it is not possible to assign to you due to how github works, but feel free to submit a fix.

[2018-04-30 23:41] GAnthony commented on #7128
I dialed back to the test case (CONFIG_XIP=n) in the original bug report.  Adding the isb after the msr CONTROL didn't improve the behavior.

[2018-05-01 01:06] inakypg commented on #7245
Initial test reports hello_world working using said board and

[code]

I will need to update the HW automation environment to report a different board -- thanks for the update.

[2018-05-01 03:04] zhxianbin opened #7280 "if we have two flash on board?"
for example,if we have two flash W25QXX on board, but DEVICE_INIT just defined one, we should copy and paste ?

[2018-05-01 11:58] MaureenHelm commented on #7280
You can copy the DEVICE_INIT, but make sure to give the new instance a different name. You'll also need to create a new instance of `struct spi_flash_data`. Is this on the arduino 101 board?

[2018-05-01 14:08] zhxianbin commented on #7280
thank for your answer！it is not arduino 101 board，I just read the source and find the issue.
I think we should find a more effective method! but i have no idea.

[2018-05-01 15:49] #7280 closed

[2018-05-01 18:19] andrewboie opened #7285 "buffer management issues with k_stack syscalls"
Same issue as #6996 and #6997 but with respect to k_stack objects. User mode can't pass in the buffer used by the init function.

[2018-05-01 20:00] henrikbrixandersen opened #7287 "Git describe broken with older versions of Git"
Commit 33d87efda5ab282f84ac98707d0f72df58bd62fd (introduced in #7270) breaks on older versions of Git that does not support `-C`:

    $ cmake -DBOARD=bbc_microbit ..
    -- Found PythonInterp: /usr/bin/python3.4 (found suitable version "3.4.5", minimum required is "3.4")
    -- Selected BOARD bbc_microbit
    Zephyr version: 1.11.99
    Parsing Kconfig tree in /home/brix/Projects/git/zephyr/Kconf

[2018-05-01 20:33] #7287 closed

[2018-05-01 20:56] MaureenHelm opened #7290 "Enable mcux rtc driver on all Kinetis SoCs/boards"
All in-tree Kinetis SoCs have the same rtc hardware as kw41, so we can extend the mcux rtc driver from #7182 to work on all Kinetis boards. Make sure tests/drivers/rtc/rtc_basic_api builds and passes

[2018-05-01 21:08] andrewboie opened #7291 "intermittent issue with tests/kernel/fatal"
[code]

Seems to be some kind of race? This only happens sometimes.

[2018-05-01 22:14] MaureenHelm commented on #7050
The test doesn't fail on current master (7be3236) on frdm_k64f. @spoorthik, do you know which commit this failed on?

[2018-05-02 02:25] GAnthony commented on #7128
@ioannisg, after lots of experiments and some research, I found that the following code:
[code]
sometimes does *not* update the CPU to use the PSP.   This leaves the CPU to still be using the MSP.

When attaching the debugger to a running target (the target would be running whatever was previously flashed), gdb halts the processor at a random point in the running program.  If the halt occurs in a

[2018-05-02 03:15] nashif commented on #7246
actually this is failing with other toolchains as well, i.e. issm toolchain and xcc.

[2018-05-02 05:11] #7248 closed

[2018-05-02 08:27] cvinayak commented on #7243
@paulgavrikov if you do have a PR to use the Max Tx Power for nRF5 series SoCs, I will be happy to review the PR.
@carlescufi This will need use re-run tests on the RF tester.

[2018-05-02 09:10] SebastianBoe commented on #7213
This system would satisfy the main problem that this issue was trying to address, will re-write this issue to not include a solution, but just a problem description.

The complexity of this all annoys me though. I wonder if it would be possible to simplify the configuration system such that DTS_ is inherently not an application developer choice and CONFIG_ is. E.g. by limiting DTS_ to describe HW

[2018-05-02 09:59] erwango opened #7297 "STM32: Drivers: Document series support for each driver"
It is not clear today which drivers are validated on a specific STM32 series.
I propose to document this is in Kconfig, in the help section of 'XDRIVER_STM32' flag.
This is done for instance in `drivers/i2c/Kconfig.stm32` (but could be even further clarified)

[2018-05-02 10:02] erwango opened #7298 "STM32: Clock control: Provide support for MSI driven PLL"
MSI driven PLL for STM32 family support is only sparse for now and won't work in some configurations (Calibration from LSE).

[2018-05-02 10:48] DWagenk commented on #6822
I'm trying to eliminate the need of a VM for my development flow and am running into the same problems when using `ninja flash` or `ninja debug`  on windows. I can live without the flash target, but the debug target proved to be really helpful in the past.

Zephyr docs [getting-started - win](http://docs.zephyrproject.org/getting_started/installation_win.htm) (10.) suggest installing pyOCD, but th

[2018-05-02 10:50] SebastianBoe commented on #7246
"doesn't work for me:"

Strange. It works on my machine.

Could you try clearing the cache?
Also, make sure you have a clean git status and clean build directory.

rm -rf /home/inaky/.cache/zephyr

[code]

[2018-05-02 12:25] erwango commented on #7213
@SebastianBoe , @b0661 , I'm trying to link this conversation with issue #7159 fixed by https://github.com/zephyrproject-rtos/zephyr/commit/63cb2334f07006f6b89fbdeadebbff2445b3df90
(tell me if I'm off topic).

Visible and invisible Kconfig symbols are there defined, and from what I understand:
- only invisible symbols (board dependant) should be defined in boards Kconfig.defconfig files (which by

[2018-05-02 12:38] SebastianBoe opened #7302 "DTS metadata should be made available to Kconfig"
Note that this is now one of the tasks listed in #8499.

The list of sub-tasks in this particular tasks, from my conversations (@SebastianBoe feel free to add others here):

- [ ] Modifying the CMake build system so that DT is processed before Kconfig
- [ ] Defining a template of Kconfig option that DT can generate so that Kconfig options can depend on. i.e. DT creates and enables `CONFIG_HAS_HW_S

[2018-05-02 12:51] SebastianBoe commented on #7213
-- @erwango

I agree that Kconfig.defconfig should be deprecated and it's metadata should be moved into DeviceTree.

-- @erwango

I also agree that options that are not application-configurable should not be displayed as configuration options in the menu tree.

-- @erwango

Not sure what you mean. But we can't have a Kconfig option that is not set appropriately. The natural solution then is to hav

[2018-05-02 13:15] SebastianBoe commented on #7246
@inakypg : Please dump the cache file (after clearing it and re-running CMake).

And also place

print(key)

in cmake/extensions.cmake/zephyr_check_compiler_flag

and a

message("Cache miss")

at the end of the function.

[2018-05-02 13:26] #7257 closed

[2018-05-02 13:33] erwango commented on #7213
I meant it only for "visible symbols", according to https://github.com/zephyrproject-rtos/zephyr/commit/63cb2334f07006f6b89fbdeadebbff2445b3df90, Kconfig.defconfig is usefull for "invisible symbols"

    -- @erwango

I mean that, in the end (when we have achieved to generate everything we need from device tree), Kconfig symbols with a prompt are aliases to DTS_ symbols (IIUC what was proposed by @

[2018-05-02 13:43] nashif commented on #7249
fixed.

[2018-05-02 13:43] #7249 closed

[2018-05-02 14:16] #7246 closed

[2018-05-02 14:19] #5757 closed

[2018-05-02 14:59] #7255 closed

[2018-05-02 15:15] erwango commented on #6755
@webhive , is issue still active?

[2018-05-02 15:17] webhive commented on #6755
I think you can close it. Yes - it is a matter of dts.

[2018-05-02 15:18] erwango commented on #6755
ok, closing, thanks!

[2018-05-02 15:18] #6755 closed

[2018-05-02 15:26] mbolivar commented on #6205
We've been discussing a bit and have come up with the name `west`.

This name is:

- short
- hopefully easy to pronounce by a large proportion of the community
- ergonomic to type (at least in my opinion on QWERTY and AZERTY)
- not taken on pip
- evocative of Zephyr as the western wind
- not an offensive term in any language we're aware of (checked informally as well as with http://wordsafety.com/

[2018-05-02 15:31] carlescufi commented on #6912
Looked at this again. Seems like the issue is with `ct-ng`, I have no idea how to solve that since I have never used it. @nashif can you take a look?

[2018-05-02 15:32] carlescufi commented on #6912
@andrewboie actually you say that you are stuck on #6911 but that is closed now. Is this present issue also solved then?

[2018-05-02 15:32] jukkar commented on #7261
Already fixed by 2002a4e2450ee594ff1be41f31c5b809bc3ec9a5

[2018-05-02 15:32] #7261 closed

[2018-05-02 15:33] inakypg commented on #7246
FWIW (as it is closed :) works for me

[2018-05-02 15:35] agross-oss opened #7305 "CMake improvements to modularize gperf targets"
The kobject hash and privileged stack generation targets need to use a common target to generate their objects.  This will help for future maintenance.

[2018-05-02 15:45] jukkar commented on #6413
It seems that #6754 is not going to be merged so do we need this bug? @mbolivar what do you think?

[2018-05-02 15:45] dleach02 commented on #4416
I'll also add that there is additional debug capabilities that I tend to add in to enable Micro Trace Buffer support in Arm cores that support it. Something to consider because it is useful when you take a fault to be able to look back at the instruction flow that got you where you are...

[2018-05-02 15:46] jukkar commented on #4213
Closing this as everything seems to work ok.

[2018-05-02 15:46] #4213 closed

[2018-05-02 15:48] jukkar commented on #6583
@rveerama1 Could you investigate this?

[2018-05-02 15:48] GAnthony commented on #7128
Well, I wouldn't say it's resolved.
How is one supposed to debug Zephyr programs?   Print statements?
Also note: TI programs don't suffer from this issue.  The Zephyr usage of MSP and PSP during early boot is unorthodox, and is causing these issues with the debugger.

[2018-05-02 15:56] ioannisg commented on #7128
@GAnthony , I meant that the investigation and root cause of the reported issue is resolved. So it looks it is not a bug of the existing code, and it is not a bug related to !XIP, as far as I understand.

So, we would need to come up with a proposal to enhance the early boot code, so it handles the case of un-initialized MSP/PSP and the fact that the Thread/PRIV mode is not guaranteed.

[2018-05-02 15:59] agross-linaro commented on #7128
We can determine the mode from querying the control reg and then we can set the appropriate SP.

[2018-05-02 16:37] andrewboie opened #7308 "qemu_xtensa cannot be debugged with SDK"
I ran a test case with "make debugserver".

I then tried to connect to it with GDB:

[code]

This is pretty bad, if I am doing new feature development and something only crashes on Xtensa, it will be very difficult to figure out what is going on.

[2018-05-02 16:40] andrewboie opened #7309 "minnowboard DTS is not configured correctly"
According to marketing materials, minnowboard has 2GB of RAM and 4MB of flash.

However, our minnowboard.dts has this:

[code]

Two problems:
1. These values are way too small.
2. The board either uses XIP or it doesn't. AFAIK minnowboard has a bootloader so it doesn't. We should NOT have ifdef XIP here.

[2018-05-02 16:47] agross-linaro opened #7310 "Provide signed Zephyr releases"
We have a requirement to provide signed Zephyr releases.  Andy Gross has volunteered to sign these releases.  We need to do this for future releases and prior releases if possible.

[2018-05-02 17:01] andrewboie commented on #4309
I think this still needs to be high priority, this issue wastes a tremendous amount of expensive developer time

[2018-05-02 17:08] ioannisg commented on #7128
In Handler mode, the SPSEL bit of CONTROL is always set to 0, if I am not wrong. We would need to un-stack the EXC RETURN to get the mode

[2018-05-02 17:31] agross-linaro commented on #7128
Right.  That's pretty easy to do.

[2018-05-02 18:28] ioannisg commented on #7128
@agross-linaro I am not convinced that this is always easy to do; in general, we would not be able to dig out the EXC_RETURN as we won't have a stack to look at (if the MSP, PSP are un-initialized).

Also: even if we solve the problem of determining the mode (Handler vs Thread), it is not clear to me how setting the "right" SP would help: Zephyr early boot strictly depends on using the PSP, and cl

[2018-05-02 18:35] ioannisg commented on #7128
This is not clear to me; why is it not orthodox for a program to switch using PSP and _any_ time after reset()? So when is the program allowed to switch to PSP? An ARM expert's opinion, here, would help (I am definitely not one). AFAIK, ARM specifies that after cold/warm reset the PE shall always jump into reset(), on Thread/PRIV mode; Zephyr early boot code builds on this assumption.

[2018-05-02 18:42] nashif commented on #6831
@mbolivar I thought we had docs for the commands, can you please point us to where you have documented this?

[2018-05-02 18:50] mike-scott opened #7311 "FCB: CRC write size in append_finish doesn't honor flash min write size"
In append_finish:
https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/fs/fcb/fcb_append.c#L127

The CRC write is aligned at the offset, but the write size itself will always be 1.  So on HW like K64F where a minimum write size of 8 is needed, this write fails.

[2018-05-02 19:40] mbolivar commented on #6831
@nashif it's in pydoc:

https://github.com/zephyrproject-rtos/zephyr/blob/master/doc/extensions/zephyr/application.py#L16

I'll move the content to something under doc/templates and provide examples for the main use cases.

[2018-05-02 19:50] nashif commented on #6831
@mbolivar thanks

[2018-05-02 21:01] andrewboie commented on #7309
This is even worse than I previously suspected -- the build is not using the DT_SRAM_SIZE definition in DTS anyway, it's still getting the data from somewhere else. Was this ever tested??

[2018-05-02 21:04] andrewboie commented on #7309
OK this needs major cleanup.
The RAM size is currently coming from arch/x86/soc/atom/Kconfig.defconfig via CONFIG_RAM_SIZE and CONFIG_ROM_SIZE.
For ATOM the RAM/ROM size needs to be expressed on a per BOARD basis, and derived from DTS.

[2018-05-02 21:05] mbolivar commented on #6831
Switched assignment to @dbkinder as discused in #7312

[2018-05-02 21:08] kestewart opened #7314 "Generate SPDX TagValue document as part of 1.13 release"
Background:  We're looking at setting up Hyperledger nodes  between LF, Windriver, Intel to track software release and builds and would like Zephyr to be part of it from the start.  This is a way of tracking software provenance, licensing and security related information in the software supply chain. For use in safety critical applications, accurate provenance tracing is going to be extremely impo

[2018-05-02 21:39] andrewboie opened #7316 "native_posix supersedes ztest mocking"
We should remove ztest mocking from the tree as we have a much more robust native solution now.

[2018-05-02 21:46] kestewart opened #7317 "Add generation of SPDX TagValue documents to each build"
Background: In order to keep up with the licensing changes, and ensure that no "surprises" happen late in the cycle,  we need to monitor the state of license information in the project on every build.

By following the layout proposed in reuse.software (see: https://reuse.software/practices/2.0/) scripting can be developed to check that only files with approved licenses are automatically accepted.

[2018-05-02 21:48] kestewart commented on #7317
First step is working through https://github.com/zephyrproject-rtos/zephyr/issues/7314

[2018-05-02 21:51] andrewboie commented on #6814
Started looking at this. A fix for x86 is not too bad.
However, for devices which have power-of-two size/alignment constraints for MPU regions, this is somewhat harder.

[2018-05-03 03:41] SavinayDharmappa commented on #7309
RAM ,ROM and XIP data are  derived from arch/x86/soc/atom/Kconfig.defconfig.

[2018-05-03 04:50] DWagenk commented on #6822
@erwango i haven't found, where I can pass something in to zephyr (at cmake configure time or when running ’ninja debug‘) to set the openocd search path (I read somewhere in non-zephyr context , that on windows openocd always needs to be provided with the search path explicitly)

[2018-05-03 05:25] tarunkum commented on #5956
@rveerama1 This issue can be closed. COAP is working fine now.

[2018-05-03 05:28] spoorthik commented on #7020
Fix is merged, the issue is no more seen.

[2018-05-03 05:28] #7020 closed

[2018-05-03 05:56] #7269 closed

[2018-05-03 06:00] tarunkum commented on #4217
@jukkar @kumarvikash1

After re-validating I am not able to find any issues.

I have again taken the below logs & this issue can be closed.

[echo-client] [DBG] compare_tcp_data: (0x200025d0): Compared 45 bytes, all ok
[echo-client] [DBG] tcp_received: (0x200025d0): IPv6: Sent 536 bytes, received 54 bytes
[echo-client] [DBG] compare_tcp_data: (0x200025d0): Compared 54 bytes, all ok
[echo-client] [

[2018-05-03 06:25] DWagenk commented on #6822
Hi there,
so I found the right env variable to set in `zephyr\cmake\flash\CMakeLists.txt`:
[code]
remember to have openocd installed and added to your path

I downloaded openocd for windows from [here](http://gnutoolchains.com/arm-eabi/openocd/) unzipped it and copied the `bin`and `share` dirs to `C:\Program Files\OpenOCD\` and added  `C:\Program Files\OpenOCD\bin` to path)

I added it to my %user

[2018-05-03 06:34] inakypg commented on #7245
Verified working as expected, so closing as not a bug

[2018-05-03 06:34] #7245 closed

[2018-05-03 06:53] koffes commented on #5351
I also ran into the same issue when adding FAT support.
By including either:
`zephyr_library_link_libraries(subsys__fs)` or `target_link_libraries(app subsys__fs)` I was able to continue. However, this seems to add some tests to the build and I get multiple definitions of main(). Any tips?

`zephyr/tests/ztest/libtests__ztest.a(ztest.c.obj): In function `main':
zephyr/tests/ztest/src/ztest.c:274:

[2018-05-03 07:02] DWagenk opened #7325 "Doc: gather installation instructions for flash/debug tools somewhere"
Hi there,

I tried moving over to using Windows natively for zephyr development and stumbled over missing documentation on how to set up openocd for use with zephyr on windows. Since there's more to this topic (how to correctly set up pyocd, nrftool etc.) I'd suggest gathering them in a new section somewhere closely related to the platform dependent getting started guides.

If I'd not have been fa

[2018-05-03 07:44] erwango commented on #6822
@DWagenk , thanks for providing this solution.
Let me change title for this issue and get it implemented(documented) in tree

[2018-05-03 07:46] erwango commented on #6822
@dbkinder : Do we have some directions already on how to flash with openocd that could be enriched with above directions?

[2018-05-03 09:46] #4217 closed

[2018-05-03 12:20] aborany opened #7327 "Interrupt stack is not initialized for Xtensa target"
On Xtensa target the configuration CONFIG_INIT_STACKS is not properly applied to the _interrupt_stack. The IRQ stack stays uninitialized instead of being initialized with 0xAA, which makes it hard to analyze any stack size issues. Furthermore when configuring CONFIG_STACK_SENTINEL the sentinel 0xF0F0F0F0 is also not set to the upper most 32-Bits of the interrupt stack.

[2018-05-03 12:29] SebastianBoe commented on #5351
@koffes : To be clear, are you trying to build an application or a test?

If you are trying to build an application I would check if CONFIG_ZTEST was set, and if so find out why and/or turn it off.

[2018-05-03 13:57] zhaozhongchen opened #7329 "is there has anyone who having portting stm32f2?"

[2018-05-03 14:01] koffes commented on #5351
Thank you. You were right, a CONFIG_ZTEST=y was part of the configuration.

[2018-05-03 15:45] erwango commented on #7067
@b0661 : Is that ok if we set this ticket as 'enhancement' instead of 'bug'? (Medium priority 'bug' issues are blocking for upcoming release)
This is blocking further advanced development but not breaking anything currently.

[2018-05-03 15:54] hgijeon opened #7331 "Precise time sync through BLE mesh."
Timer of the devices can be shifted as times goes by.
It would be great if IoT devices are automatically synchronizing time from each other.
Is it possible to keep sub-millisecond precision sync between the devices?

[2018-05-03 16:47] kestewart commented on #7314
@MaureenHelm - let me know if there is other information you'd like to see added to this request.

[2018-05-03 16:58] b0661 commented on #7067
@erwango

Yes, shure it is ok to set it to 'enhancement'.

[2018-05-03 21:14] GAnthony commented on #7128
OK, so, I'll close this one and open another issue, pointing to this thread.

[2018-05-03 21:19] agross-linaro commented on #7128
i was writing one earlier to handle the enhancement.  don't worry about that one.  we do have to deal with the !xip.

[2018-05-03 22:00] andrewboie commented on #7327
CONFIG_STACK_SENTINEL is only for thread stacks.
However CONFIG_INIT_STACKS not setting the IRQ stack to 0xAA is definitely a bug.

[2018-05-03 22:14] bencorrado commented on #3860
@KaSroka I see that this is closed, but cannot figure out how NCP was implemented here or if it was just closed.  Does the current 1.11 have NCP support or does that still need to be added?

I am looking to do nRF52840 running NCP using spinel to a Linux box.

[2018-05-03 23:02] GAnthony commented on #7128
@agross-linaro,  the same behavior exhibits running from flash, when the debugger is attached at a point where CPU mode is "Handler" instead of "Thread".  So, it is in fact not related to !xip.

I thought maybe this could be a debugger issue, but looking through openocd forums, openocd source code and cfg files, I don't see anyone else mentioning this scenario.

So, I'm just surprised I'm the only

[2018-05-04 03:11] zhaozhongchen opened #7336 "USB DFU: this area can not be overwritten"
I am tring download a signed-hello.bin by using DFU:

[code]

next is the log printed from zephyr's console uart:

[code]

seems there forget add CONFIG_FLASH_BASE_ADDRESS  in dfu_data.flash_addr.

[code]

[2018-05-04 03:24] #7033 closed

[2018-05-04 06:30] zhaozhongchen opened #7340 "DISCUSS: If condition judgment"
some **if condition** in usb_handle_control_transfer is very hard to understand, can we rewrite it?
such as:

[code]

convent to:

[code]

[2018-05-04 06:33] zhaozhongchen commented on #7340
@jfischer-phytec-iot @ydamigos what's you idea?

[2018-05-04 06:53] aborany commented on #7327
Agree that CONFIG_STACK_SENTINEL is only for thread stack at the moment, but maybe this would be also an enhancement for the interrupt_stack in the future. Maybe it is worth to check that the interrupt stack did not overflow when leaving the interrupt and in case of overflow raise another exception, which would end up as double exception in the case of Xtensa architecture.

[2018-05-04 07:25] jukkar commented on #6893
@chtavares592 Is this issue still valid?

[2018-05-04 08:11] #7083 closed

[2018-05-04 08:11] ramakrishnapallala commented on #7089
not valid anymore, closing this issue.

[2018-05-04 08:11] #7089 closed

[2018-05-04 08:13] #6694 closed

[2018-05-04 08:13] #6677 closed

[2018-05-04 08:26] erwango commented on #7329
Hi,

I haven't heard anyone working on STM32F2 till now.
Your contribution would be welcome though, if you're interested.

You could use https://github.com/zephyrproject-rtos/zephyr/pull/5949 as example

Erwan

[2018-05-04 08:48] erwango opened #7342 "samples: net/dns_resolve does not build when activating dhcp"
Unlike written in README ('In this sample application, both static or DHCPv4 IP addresses are supported.') sample could not build when enabling DHCP.

How to test:
Change `CONFIG_NET_DHCPV4=n` to `CONFIG_NET_DHCPV4=y`

[code]

[2018-05-04 09:24] nvlsianpu commented on #7090
fixed in https://github.com/zephyrproject-rtos/zephyr/pull/7093

[2018-05-04 09:24] #7090 closed

[2018-05-04 09:35] nvlsianpu commented on #7227
This is not a bug - just as @leodesigner found, declaration of storage space is undefined for this board. For instance it is possible to add such by DT overlay file. Anyway I open PR for improve this.

[2018-05-04 10:02] tbursztyka commented on #5714
Please review #7346

[2018-05-04 10:14] nvlsianpu commented on #7080
fixed in #7093

[2018-05-04 10:14] #7080 closed

[2018-05-04 10:16] nvlsianpu commented on #7082
fixed in #7093

[2018-05-04 10:16] #7082 closed

[2018-05-04 10:18] nvlsianpu commented on #7079
fixed in #7093

[2018-05-04 10:18] #7079 closed

[2018-05-04 10:25] nvlsianpu commented on #7311
CC @lemrey @carlescufi

[2018-05-04 10:37] SebastianBoe opened #7347 "Zephyr CMake configuration is slow on Windows"
The CMake configure-time is approximately 6 times slower on Windows than on Linux.

It should first be understood why Zephyr builds slower on Windows, and then depending on what is discovered we should make the performance comparable, e.g. half as fast as Linux would be acceptable.

Benchmarking and analysis:

We need both benchmarking and analysis to be able to resolve this issue. Benchmarking sh

[2018-05-04 10:41] SebastianBoe commented on #7347
Benchmarking done so far ...

Windows 7, VMWare, git ?, i7-4770: about 3 seconds
Ubuntu 16, native, 542f10de7, i7-4770: 0.6 seconds.

[2018-05-04 12:09] carlescufi commented on #6792
Intentional, commented on Coverity

[2018-05-04 12:09] #6792 closed

[2018-05-04 12:10] carlescufi commented on #5742
Intentional, commented in Coverity

[2018-05-04 12:10] #5742 closed

[2018-05-04 12:12] carlescufi commented on #6262
Intentional, return value does not need to be checked. Commented in Coverity.

[2018-05-04 12:12] #6262 closed

[2018-05-04 13:44] nvlsianpu opened #7348 "subsys/fs/: shell command for mounting the file system is unimplemneted"
After introduction of VFS the mount operation is required in order to setup the FS.

[2018-05-04 13:49] tagunil opened #7349 "Add STM32L0 USB support"
#5163 enables HAL-based USB device driver for all supported STM32 families except for L0.

[2018-05-04 14:03] zhaozhongchen commented on #7329
@erwango thanks and I will have a try.

[2018-05-04 14:35] #7329 closed

[2018-05-04 14:43] MaureenHelm commented on #7325
I've done some of this for jlink and pyocd in `doc/tools/opensda.rst`, but that only covers tools used on nxp boards. @mbolivar, @dbkinder what do you think?

[2018-05-04 14:45] finikorg commented on #7340
Maybe have it like
[code]

[2018-05-04 14:49] erwango commented on #6822
Closing this issue, as it is also handled in #7325 (under different tags, but under control anyway)

[2018-05-04 14:49] #6822 closed

[2018-05-04 14:56] erwango commented on #7127
Could be closed once #7344 gets merged

[2018-05-04 14:57] mbolivar commented on #7325
I like the idea. What about an umbrella index .rst page for flashing and debugging tools, with a toctree directive inside that indexes pages for each tool?

[2018-05-04 15:00] erwango commented on #7048
@MaureenHelm : Is there any kernel guy that would be interested by this one?
(I'll be off next week, so won't progress much. Besides, I think it might be better covered by an expert)

[2018-05-04 15:09] erwango commented on #6307
@therealprof : I'm using version 6.2.0 which is coming from zephyr SDK.
Can you have a try with this one?

[2018-05-04 15:40] MaureenHelm commented on #335
Is this issue still needed? Why not commit the images to the wiki git?

[2018-05-04 16:11] andrewboie commented on #7327
Patches are welcome if you want to implement that for all our arches, but the scope of this ticket is limited to CONFIG_INIT_STACKS on Xtensa.

[2018-05-04 16:27] jfischer-phytec-iot commented on #7336
@zhaozhongchen I had CONFIG_FLASH_BASE_ADDRESS there but I removed it and I can not remember why. With which board or SoC did you try it?

[2018-05-04 16:59] GAnthony commented on #7128
I think that is a reasonable assumption.

The fact that my gdb/openocd debugger cannot reset the board back into Thread mode, is telling me this is not a Zephyr boot bug.    It may have something to do with how the board is wired up, a deficiency in the OpenOCD solution, or that's just the way it is with these MCUs.

An enhancement to check and force the CPU into Thread mode on __reset() will help

[2018-05-04 17:00] #7128 closed

[2018-05-04 21:27] mike-scott commented on #7311
Fixed by: https://github.com/zephyrproject-rtos/zephyr/pull/7343

[2018-05-04 23:55] #7311 closed

[2018-05-05 00:06] zhaozhongchen commented on #7336
@jfischer-phytec-iot stm32f401xe board. maybe you tested with a board that flash address maped to zero?

[2018-05-05 00:09] zhaozhongchen commented on #7340
ok i will make a pr to rewrite some if conditions

[2018-05-05 04:39] #7259 closed

[2018-05-05 08:06] leodesigner commented on #7227
Thanks @nvlsianpu, I was hoping it could be done for every board all at once.
But anyway, closing the issue for now.

[2018-05-05 08:06] #7227 closed

[2018-05-05 13:51] nashif commented on #7308
This is a duplicate of #4309. It is an SDK bug and not something we can fix in Zephyr. This has been resolved meanwhile and we are waiting for the fix to be verified.

[2018-05-05 13:51] #7308 closed

[2018-05-05 13:51] nashif commented on #4309
@rgundi please verify the fix above: see https://github.com/zephyrproject-rtos/meta-zephyr-sdk/releases/tag/0.9.3-rc3

[2018-05-05 14:04] nashif commented on #6866
works here.

[2018-05-05 14:04] #6866 closed

[2018-05-05 15:55] therealprof commented on #6307
That seems to be only available for Linux.

[2018-05-05 18:48] ekarlso commented on #6874
Hi @rlubos this seems to have fixed this issue at least so that it works after setting the correct panid.

Is there a way to not having to reset the panid?

[2018-05-06 06:14] zhaozhongchen opened #7364 "kernel crash: USB ECM: echo_server"
I am testing usb ecm function by using echo_server example on stm32f4, but kernel crased and print this informations on console:

[code]

Disassembly zephyr.elf and I know where failed, so I make a breakpoint and see what happens:

[code]

seems the variable ep->maxpacket is zero. search ep->maxpacket and found it was **only** assignmented at HAL_PCD_EP_Open.

[code]

and HAL_PCD_EP_Open was calle

[2018-05-06 20:42] pfalcon opened #7365 "net: Regression in multiple client connection handling with samples/net/sockets/dumb_http_server (QEMU/SLIP)"
One of the basic functional/regression tests for the IP stack is issuing 1K of HTTP requests to the samples/net/sockets/dumb_http_server sample. In 1.11, it works as expected (serving this 1K of requests).

But with the current master it's:

[code]

The test is performed using BOARD=qemu_x86.

[2018-05-06 20:46] pfalcon commented on #7365
And this is "totally impossible", but the offending commit is:

8f7e5bd0a573201a5b019643ea7318e6f3524d0d
[code]

Reverting it gets back the stable behavior with 1K requests.

@nzmichaelh : FYI ;-).

[2018-05-06 20:48] pfalcon commented on #7365
What's seen in wireshark is:

[code]

I.e. Zephyr suddenly sends for a pretty normal incoming packet.

[2018-05-06 20:51] pfalcon commented on #7365
Based on the current information, this would look like artifact of 16550 UART emulation in QEMU: i.e. something bad gets received by SLIP, which then gets RSTed by the IP stack.

That would be very sad though (because it's unclear how to deal with that), and is a hypothesis so far. It's however based on a similar case I've already seen, when QEMU UART emulation is rather crude, and what works for

[2018-05-06 21:14] pfalcon commented on #7365
No, it's get funnier than that. With master (a85321229ae15b031007cf66adce603bcefd7d25) and the commit above reverted or not reverted, and running on real hardware of frdm_k64f (with ethernet connection), I get:

[code]

And that figure of 3 is stable.

[2018-05-07 03:08] rgundi commented on #3637
This is not an issue anymore for Suecreek at least. The linker file for suecreek clearly defines the memory region and the binary is generated as per that only. Hence closing this issue.

[2018-05-07 03:08] #3637 closed

[2018-05-07 03:16] rgundi commented on #3703
This was fixed by introducing 2 new files memctl_default.S and memerror-vector.S.

[2018-05-07 03:16] #3703 closed

[2018-05-07 03:58] nashif commented on #7097
@dleach02 it works for you because you have it set also in `boards/arm/frdm_kw41z/frdm_kw41z_defconfig` maybe?

[2018-05-07 04:14] nashif opened #7367 "Doxygen warnings about device.h macros"
[code]

[2018-05-07 04:15] nashif commented on #7367
@dbkinder any idea what is going on?

[2018-05-07 06:06] vakulgarg commented on #6802
I tried after pulling the latest zephyr code today. The above code still crashes, but with a different error.

***** Stack Check Fail! *****
Current thread ID = 0x20002394
Faulting instruction address = 0x164f8

My prj.conf has CONFIG_STACK_SENTINEL=y.
Turning it off resolves the crash.

[2018-05-07 09:58] rgundi commented on #4309
@nashif , verified the fix. It is working.  thanks @jcmvbkbc.

[2018-05-07 10:15] jfischer-phytec-iot commented on #7364
@zhaozhongchen It is valid to select the alternative interface configuration. Kindly, the stack should try to disable the endpoints before reconfiguring them, but it seems not be the problem here. Can you please try it with #5163? @ydamigos @youvedeep FYI

[2018-05-07 10:43] anangl commented on #7076
Perhaps this sensor tries to use a bus that is not configured in your app.

I used the "bme280" sample on the pca10056 board and got the same error.
After adding the following to `prj.conf`:
[code]
I could see this additional message:
[code]

So I added to `prj.conf`:
[code]
and then the app started the I2C communication successfully (I haven't got the sensor, so I get only zeros, but the fault is

[2018-05-07 10:43] carlescufi commented on #7120
@ulfalizer is this something you can look into after the menuconfig work + getting rid of C tools + using `rsource` and `gsource` is complete?

[2018-05-07 10:44] carlescufi commented on #7230
Assigning to @galak since I believe he's in the better position to evaluate how to approach this.

[2018-05-07 10:44] carlescufi commented on #7302
Tentatively added assignees in order to get feedback from them.

[2018-05-07 11:31] pfl opened #7370 "Add Kconfig options to handle certificates and ciphers."
A simple Zephyr application needs not to perform too much configuration if the default certificates and ciphers are specified compile-time.

[2018-05-07 11:36] pfl opened #7371 "Move TLS connection data out from net_context"
As an interim solution, TLS connection data has been initially stored in the net_context structure. This is not ideal as there can be a mixed set of TLS and non-TLS connection. Move out TLS data into a separately handled memory area.

[2018-05-07 11:39] pfl opened #7372 "Create socket options for certificates and ciphers"
Create additional socket options so that the application can set CA certs, its own certs and ciphers. This gives the application better control on secure connectivity and makes it possible to configure identical devices after Zephyr OS installation.

[2018-05-07 13:40] SebastianBoe opened #7375 "Codecov does not report coverage of code that is not covered by the native_posix test suite"
PR https://codecov.io/gh/zephyrproject-rtos/zephyr/pull/6748/

demonstrates that codecov is not able to detect when new code that is untested is committed. Such code should be considered a coverage-regression. It is not clear why it does not catch this.

[2018-05-07 16:11] pfalcon opened #7377 "net: Regression in multiple client connection handling with samples/net/sockets/dumb_http_server (frdm_k64f/Ethernet)"
(Split off from https://github.com/zephyrproject-rtos/zephyr/issues/7365#issuecomment-386914329)

One of the basic functional/regression tests for the IP stack is issuing 1K of HTTP requests to the samples/net/sockets/dumb_http_server sample. In 1.10, it works as expected (serving this 1K of requests).

But with the current master, running on frdm_k64f with Ethernet, it's:

[code]

[2018-05-07 16:12] pfalcon commented on #7377
The offending commit is a0371ae92f1fda9e995bd7b5b246b1fa6c9294f0, https://github.com/zephyrproject-rtos/zephyr/pull/5442

@rveerama1 : FYI.

[2018-05-07 16:16] pfalcon commented on #7365
Now in https://github.com/zephyrproject-rtos/zephyr/issues/7377

[2018-05-07 16:57] andrewboie opened #7378 "TOCTOU in spi_transceive syscall handler"
The spi_transceive handler needs to copy the configuration struct after validating it to prevent TOCTOU attacks. There's nothing stopping the data from being modified after it's been validated.

[2018-05-07 17:18] andrewboie opened #7379 "TOCTOU in adc_read() handler"
The seq_table structure is not copied after being verified and could be modified after it had been validated.

[2018-05-07 17:34] andrewboie opened #7380 "dma_stm32f4x possible access out of bounds in start/stop handlers"
The channel ID passed in to dma_stm32_start() and dma_stm32_stop() is not being bounds checked for validity  and the value is used as an offset from the STM base address for the device MMIO.

if an invalid channel ID is passed in these APIs must return -EINVAL per the specification for these APIs in include/dma.h.

[2018-05-07 17:37] andrewboie opened #7381 "gpio_mcux driver needs to validate pin parameters"
In gpio_mcux driver the GPIO pin number is not checked for valid range and used as an index into the GPIO PCR register array, this can be accessed out of bounds by sending high pin numbers.

Pin input is 32-bit value and access_op is also an input controllable by a user thread.

Value written is the pin mask operation and not user input, priority is lower because of this.

[2018-05-07 17:52] andrewboie opened #7384 "ARM MPU region configuration possibly out of bounds"
in arm_mpu.c arm_core_mpu_configure_mem_partition(), the region index is computed from _get_region_index_by_type(THREAD_DOMAIN_PARTITION_REGION).

THREAD_DOMAIN_PARITITON_REGION is defined as 4.
However, consider a SOC like the Beetle. mpu_config.num_regions = 6. _get_region_by_type(THREAD_DOMAIN_PARITITON_REGION) will return 9, which is greater than the maximum amount of MPU regions (0-7)

At min

[2018-05-07 18:03] dbkinder commented on #7367
@nasif That was tricky to find.  What's happening is the @copydetails doxygen command isn't copying the detailed documentation of the referenced macro (notice it didn't complain about the `api` parameter not being documented, only the ones what were supposed to be defined by the @copydetails).

Doxygen apparenly has "issues" with function macros (those that don't end with a semicolon).  Workaround

[2018-05-07 18:10] andrewboie opened #7385 "i2c_esp32 can write past checked buffer length"
The input I2C message length is checked by the toplevel syscall handler. The driver should not access memory in the buffer past the input length.

In the ESP32 I2C driver, the message length value is incremented when the operation is a write, as per message flags. This will allow operation 1-2 bytes past the message length checked by the system call handler.

NOTE: user mode is not yet enabled for

[2018-05-07 18:47] andrewboie opened #7388 "nxp_mpu: suspicious ENDADDR_ROUND() macro"
This is currently implemented as:

#define ENDADDR_ROUND(x) (x - 0x1f)

This is not a rounding operation unless the last 5 bits are always 1.
Please double-check what this is supposed to be doing.

[2018-05-07 18:50] agross-linaro commented on #7388
Yeah looking at the NXP reference manual, it does appear that the lower 5 bits are all considered to be 1's.  So this works correctly as currently implemented.

[2018-05-07 18:50] #7388 closed

[2018-05-07 18:54] andrewboie opened #7389 "t1_adc108s102 buffer overflow due to chan->buf_idx growth"
Sampling is done in an infinite loop until no more data is received from SPI for that transaction (_ti_adc108s102_sampling() returns 0).

For each iteration, _ti_adc108s102_handle_result() is called in increments chan->buf_idx +=2 for each entry.

The check for free space in the buffer (entry->buffer_length - chan->buf_idx == 0) only works if entry->buffer_length is an even number. chan->buf_idx w

[2018-05-07 18:58] andrewboie opened #7390 "pinmux subsystem API is undocumented and does not enforce validation"
None of the pinmux APIs in include/pinmux.h have any documentation.
In addition, if we are to expose pinmux APIs to user mode, we are going to need the specification to enforce that drivers validate the parameters passed in. Currently the pinmux drivers don't validate any inputs, and a user thread using these APIs have been demonstrated writing to memory that it should not have access to or even d

[2018-05-07 19:28] dleach02 commented on #7097
Maybe. Question: What is the right way then to ensure that the XOROSHIRO gets selected for KW41 based boards?

[2018-05-08 06:13] SebastianBoe commented on #6937
@alexsven is correct to identify that this belongs in Kconfig IMHO.

Until this has been resolved users can do

echo "zephyr_compile_definitions(CONFIG_NFCT_PINS_AS_GPIOS)" >> my/app/CMakeLists.txt

[2018-05-08 06:32] KaSroka commented on #3860
This one is not related to NCP but overall OpenThread and Zephyr integration. NCP is not currently supported and will need some more work I think. To do what you want you can use pure OpenThread - there is NCP application in examples.

[2018-05-08 08:31] nvlsianpu opened #7403 "RAM flash driver emulator"
Such  driver will be useful for testing modules which extensively use the flash driver. It will be possible to emulate flash driver functionality for qemu as well.
the driver configuration should allow to configure:
- erase block size
- write block size
- size of emulated flash
- absolute offset of emulated flash

and optionally:
- erase time duration
- write time duration

Something which can be

[2018-05-08 08:35] nvlsianpu commented on #7403
@carlescufi @pizi-nordic

[2018-05-08 09:42] pizi-nordic commented on #7403
I would add some features allowing to test rainy day scenarios:
- Ability to generate random failures of read/write/erase operations at given probability (such feature will allow to easily check error handling in subsystems built on top of flash storage).
- Ability to emulate typical flash failures (stuck bit, random inversion on read etc). This feature will be important for devices with expected

[2018-05-08 10:01] carlescufi commented on #5847
This has now landed in master

[2018-05-08 10:01] #5847 closed

[2018-05-08 10:02] carlescufi commented on #2860
A cross-platform `menuconfig` implementation is now part of the tree. Closing this.

[2018-05-08 10:02] #2860 closed

[2018-05-08 10:03] carlescufi commented on #5978
This is fixed in master now

[2018-05-08 10:03] #5978 closed

[2018-05-08 10:33] ioannisg opened #7404 "arch: arm: MSP initialization during early boot"
Starting a discussion [currently only concerning ARM] on whether Zephyr early boot code should initialize the Main Stack Pointer.

Currently, Zephyr **relies** on warm/cold reset _or_ on the preceding executable image (e.g. boot-loader) to initialize the MSP.

To make Zephyr more independent of the preceding image (or the ARM hardware functioning) we could force MSP to take the value of `VECTOR_TA

[2018-05-08 10:34] ioannisg commented on #7404
CC @andrewboie @pizi-nordic

[2018-05-08 11:28] pfalcon commented on #3369
The only reason why this ticket is kept open is because of GH-3706: "BSD Sockets API: Offloading support". However, there was no work on that for awhile - since the PR to implement such an offloading support was rejected.

So, given that core work on implementing BSD Sockets API is done, I would like to close this ticket, and treat offloading support as a separate task.

[2018-05-08 11:28] #3369 closed

[2018-05-08 11:29] tbursztyka commented on #3369
I agree. BSD socket offloading will be possible when we'll be using socket API only (hopefully in 1.13).

[2018-05-08 11:33] SebastianBoe commented on #5723
Re-assigning to me as this is a build-system feature request.

[2018-05-08 11:46] pfalcon opened #7405 "Develop universal POSIX-compatible file descriptor table implementation for Zephyr, suitable for files, sockets, and file-like devices"
Currently, BSD Sockets API implementation in Zephyr is rather standalone. However, in POSIX, a socket is referenced by a standard file descriptor (fd), and besides "native" socket I/O APIs calls like recv()/send(), generic read()/write() can be used on sockets too. Moreover, there's no dedicated call for closing socket, instead the generic close() call is used.

So, when Zephyr acquires support fo

[2018-05-08 11:47] pfalcon commented on #7405
This "requirements"-style ticket created based on the discussion in https://github.com/zephyrproject-rtos/zephyr/pull/7326.

@ramakrishnapallala : FYI

[2018-05-08 12:57] ulfalizer commented on #6649
@SebastianBoe
Depends... looks like this issue also deals with UTF-16 conversion. If that's handled outside of Kconfiglib, then it's solved at least.

Kconfiglib itself never had a problem with non-ASCII characters. It now also defaults to UTF-8 on Python 3 (see https://github.com/ulfalizer/Kconfiglib/commit/da40c014398f329b324a2eb9de062344e773dc74).

[2018-05-08 13:32] pizi-nordic commented on #7404
In my opinion we should decide if basic setup of execution environment is performed by bootloader or by Zephyr itself. The latter options is safer, as it allows for reliable boot regardless of the machine state (but this might hide some bootloader errors).

[2018-05-08 14:27] rlubos opened #7409 "Networking examples crash on optimization levels different than -Os"
I've encountered a system crash when I was trying to run several networking examples with non-default optimization level on `qemu_x86` target. Every single example that I've tried, after changing optimization level crashed (`coap_client`, `echo_client`, `mbedtls_ssl_client`, `sockets/http_get`). Crash happens on both `Optimize debugging experience` and `Optimize nothing` levels, immeadetly after a

[2018-05-08 14:43] andrewboie commented on #5554
zephyr/include.

This is not really correct.
Driver system calls are declared at the subsystem level and not the actual drivers themselves.
I do not see a use-case for having out-of-tree driver subsystems or out of tree system calls. You should still be able to create out-of-tree drivers without making new syscalls.

[2018-05-08 15:16] andrewboie commented on #7404
I have no problem with doing this.

[2018-05-08 15:34] oliviermartin opened #7412 "Mismatch between 'uint32_t' (and `off_t`) definitions in minimal libc and newlib"
`uint32_t` is defined to `unsigned int` by [minimal libc](https://github.com/zephyrproject-rtos/zephyr/blob/master/lib/libc/minimal/include/stdint.h#L54) while it is defined on my platform (Nordic nRF52840) as `unsigned long int` by newlib.
While in most cases, `sizeof(unsigned int) == sizeof(unsigned long int)`, GCC complains when printf'ing a `uint32_t` value. Either `%ld` or `%d` must be used i

[2018-05-08 15:41] jhedberg opened #7413 "settings subsystem enhancements"
It'd be nice to have the following improvements to the settings API:

- [ ] Remove `SETTINGS_EXPORT_SHOW` and the `tgt` parameter to the export callback
- [ ] Reduce stack consumption
- [ ] Remove 256-byte value length limitation
- [ ] Provide stream-style encoding and decoding to/from flash, so the the API only requires a pointer to binary data, and the settings implementations takes care of enco

[2018-05-08 15:52] carlescufi commented on #7413
CC @lemrey @oyvindronningstad

[2018-05-08 17:15] nashif commented on #7378
@tbursztyka FYI

[2018-05-08 19:04] jli157 commented on #6623
The PR #7293 has resolved the issue thus it can be closed.

[2018-05-08 19:04] #6623 closed

[2018-05-08 20:40] andrewboie commented on #7412
You aren't using the right format modifiers.
https://stackoverflow.com/questions/586928/how-should-i-print-types-like-off-t-and-size-t

[2018-05-08 21:58] warner83 commented on #6654
Same issue also with cc2650_sensortag
Any workaround?

[2018-05-08 22:54] mbolivar commented on #5847
Nice work @ulfalizer!

[2018-05-09 02:40] a46554 commented on #6654
I add

`#ifdef CONFIG_BT
        zephyr,bt-uart = &uart0;
#endif
`
in boards/arm/cc2650_sensortag/cc2650_sensortag.dts.
Build success but can't scan the BLE signal from my CC2640 board

[2018-05-09 03:34] xianrenqiu opened #7423 "samples: net: echo_client: sample runs failed with prj_qemu_x86_tls.conf configuration file"
## Summary
In zephyr/samples/net/echo_client sample, when using the prj_qemu_x86.conf configuration file, the sample **runs successfully**, but using the prj_qemu_x86_tls.conf configuration file, the sample **runs failed.**  Error code is EBUSY(-16, TLS handshake not yet done ?).

## Setup
[code]

## Failed (prj_qemu_x86_tls.conf)
[code]

[2018-05-09 06:04] spoorthik commented on #7050
@MaureenHelm : I dont see this issue with the latest commit as you said. Let this issue be closed. I will reopen with the right commit ID.

[2018-05-09 06:04] #7050 closed

[2018-05-09 07:43] SebastianBoe commented on #5554
"I do not see a use-case for having out-of-tree driver subsystems or out of tree system calls."

It took me a while to think of one as well. But here is one:

An IC-vendor subscribes to the micro-repo methodology of version control.
Also, they are developing HW/SW for a driver-type that is secret until released
and happens to not be supported by Zephyr yet.

Then they need new syscall declarations

[2018-05-09 08:01] SebastianBoe commented on #6623
Thank you for reporting :)

[2018-05-09 08:54] alexanderwachter opened #7427 "drivers: gpio: stm32 gpio port names are not named after dts label"
The GPIO port device names are hard coded in drivers/gpio/gpio_stm32.c line 230-272.
In my opinion the already existing label in the device tree  should be used.

[2018-05-09 09:02] oliviermartin commented on #7412
Thanks for the pointer :+1:

[2018-05-09 09:02] #7412 closed

[2018-05-09 09:12] zhaozhongchen commented on #7364
@jfischer-phytec-iot I had tried #5163 and it's doesn't work.

please note that interface 1 has **two** altersetting, and the usb host only configued the first altersetting. EP82 and EP01 is belong to the second altersetting but **nerver**  configued.

[2018-05-09 09:58] ioannisg commented on #6392
CCing members to give visibility and request feedback:
@ruuddw , @agross-linaro , @andrewboie , @carlescufi @pizi-nordic

[2018-05-09 10:12] ulfalizer commented on #7302
There's an upcoming Kconfig feature (that I've had some input in) that might come in handy here.

It's a kind of simple preprocessor (that runs during parsing), where you can do stuff like this:

[code]

After expansion, that would turn into e.g.

[code]

Things then work like they usually do. It turns out that things get super complex if you don't limit it to a simple preprocessor.

It would also

[2018-05-09 10:28] SebastianBoe commented on #7302
Is there an RFC or similair for this?

I'm not too worried about the mechanism for injecting DTS symbols into Kconfig. That seems trivial to me, the biggest effort is going to be porting DTS sources to not rely on Kconfig as it does today.

That effort is so large, that there must be broad agreement that this makes sense. If not we are just going to have to accept and work-around that Kconfig can

[2018-05-09 10:28] ulfalizer commented on #5634
Simplest would be to always execute it I think.

If `sync_deps()` (see https://github.com/zephyrproject-rtos/zephyr/issues/4951) is called before each build and some `fixdep`-like scheme is added (see the `sync_deps()` docstring in Kconfiglib), then you could also automatically rebuild just the files that reference Kconfig symbols that have changed.

[2018-05-09 10:31] SebastianBoe commented on #5634
The incremental build runtime is unacceptable if all incremental builds run CMake.

Do you see any issues with the solution proposal?

[2018-05-09 12:12] ramakrishnapallala commented on #7348
@nvlsianpu what is expected input here? are you expecting something like below?

mount NFFS "nffs"

[2018-05-09 13:47] pizi-nordic commented on #6392
Hi.

Basing on your description @ioannisg I see 3 modes of operation on CPU which implements TEE:
- SECURE: TEE is used, image is intended to run in secure domain.
- NON-SECURE: TEE is used, image is intended to run in non-secure domain.
- COMPATIBLE: TEE is not used, image is run on secure domain in order to have full access to hardware.

I think that the importance of the security model setting

[2018-05-09 14:04] nashif commented on #7309
@SavinayDharmappa ping, are you looking into this?

[2018-05-09 14:46] mbolivar commented on #6413
Do you want to keep it at low priority? I'm OK with closing for now if not.

[2018-05-09 15:17] agross-linaro commented on #6802
Ah, that's useful to know.  Ok, let me try again with the CONFIG_STACK_SENTINEL set

[2018-05-09 16:11] andrewboie commented on #5554
and happens to not be supported by Zephyr yet.

[2018-05-09 16:35] mike-scott opened #7434 "bluetooth: host: sample applications can't set BT address w/o using an FS"
Previous to commit d22b7c9f2d771bf9a2a1b8e0378795d4c507f558, sample applications could use the bt_storage API to set the BT address.  That API was removed eliminating functionality that can be useful.

Here are some use-cases:
- Non-Nordic devices may not support a static internal private BT address
- Using customized logic to establish BT addresses allows CI testing / management to establish pre-

[2018-05-09 16:49] jhedberg commented on #7434
One solution would be to introduce something like the following that needs to be called before bt_enable():

[code]

We can discuss whether it should be behind a new Kconfig (defaulting to `n`) or always available.

[2018-05-09 16:50] mike-scott commented on #7434
This would allow callers to change the value of bt_dev.id_addr?

[2018-05-09 16:52] mike-scott commented on #7434
I can't see any reason why it would need to be behind a new Kconfig, but I might be overlooking something.  The old method was available to everyone by default.

[2018-05-09 16:55] carlescufi commented on #7434
If it's runtime then I don't see the point for such a small call to be behind Kconfig, no.

I assume no one likes to extend functions by doing something like `bt_enable_ex(id_addr, cb)` right?

[2018-05-09 17:07] jhedberg commented on #7434
Correct.

Fair enough.

I was thinking about that, and even about breaking the bt_enable() API by just adding a parameter. However, I'm slightly inclined to not giving this new feature too much publicity since it's for a quite small set of use-cases, and we don't want people misunderstanding or misusing the API (e.g. not understanding what it is and thinking they have to call it no matter what)

[2018-05-09 17:12] carlescufi commented on #7434
I agree. I think a `bt_set_id_addr()` is better but let's restrict it to being callable just before `bt_enable()` is invoked in my opinion.

[2018-05-09 18:48] loicpoulain commented on #7364
@jfischer-phytec-iot, I will have a look by the end of the week.

[2018-05-09 18:57] ulfalizer opened #7437 "Zephyr's mailing list archives were hard to find"
I went to `About` -> `Contact us` -> `Mailing lists` on https://www.zephyrproject.org/, which lands you at https://lists.zephyrproject.org/g/main.

That page gives you the impression that the mailing lists are dead, as there are just five messages for April listed. You have to click on `Subgroups` to actually get to the mailing lists. I only kept looking because I already knew there were active ma

[2018-05-09 19:08] dbkinder commented on #7437
I agree.  This happened when the Linux Foundation changed the mailing list hosting software.  I've fixed the link you mentioned to directly to the subgroups page.

[2018-05-09 19:08] dbkinder commented on #7437
Fixed.

[2018-05-09 19:08] #7437 closed

[2018-05-09 19:08] ulfalizer commented on #7437
Great, thanks!

[2018-05-09 21:00] andrewboie commented on #6802
Why are you using stack sentinel and user mode at the same time??
User mode has its own stack overflow detection, there is no need for the sentinel.

[2018-05-09 22:04] agross-linaro commented on #6802
We need to make them mutually exclusive.  If USERSPACE is set, STACK_SENTINEL is turned off.  That's my two cents at least.

[2018-05-09 22:46] Laczen commented on #7413
@nvlsianpu Item 4 could be done by moving the encoding to the file backend (the settings part of the file backend). The data representation on "disk" can then be different for different file backends: it can be a string containing the name and data for fcb and nffs. Or a string containing the name and itemid and a itemid-data pair for NVS. In this case NVS could drop the stream encoding completely

[2018-05-09 22:50] andrewboie opened #7441 "newlib support in zephyr is untested and very broken"
In the course of working on #6814 I discovered that our problems with this alternate C library run far deeper.

If I modify qemu_x86_defconfig to set CONFIG_NEWLIB_LIBC=y, and then run sanitycheck for qemu_x86, I get many failures:

[code]

[2018-05-09 23:02] lpereira opened #7442 "menuconfig should perform fuzzy string matching for symbols"
This would make searching for a symbol a whole lot easier, without having to know its precise spelling.  There are many options out there, including shelling out to [fzf](https://github.com/junegunn/fzf) if it's in the path, or [implementing our own](https://medium.com/@Srekel/implementing-a-fuzzy-search-algorithm-for-the-debuginator-cacc349e6c55).

[2018-05-09 23:05] andrewboie commented on #6814
#7319 fixes this on x86.

I am contemplating what to do for devices whose MPUs require power-of-two size/alignment.
1) It eats up an MPU region which are often very limited
2) The existing _end pointer to the end of system RAM is almost certainly not aligned/sized in a way that works for the MPU hardware.

I think what we should do is for those devices that define CONFIG_MPU_REQUIRES_POWER_OF_TWO_

[2018-05-09 23:50] ulfalizer commented on #7442
Yeah, I added regex search already in the first version after I noticed that a lot of searches get awkward without them. With some `.*` and the like sprinkled in, you can usually narrow down what you're looking for.

I wonder how far you would get with a dead simple scheme here:

Since spaces can't appear in symbol names, you could have "foo bar" match entries that match both "foo" and "bar" (whic

[2018-05-10 06:51] aescolar-ot commented on #6384
@dbkinder Currently the `--help` option is mentioned in http://docs.zephyrproject.org/boards/posix/native_posix/doc/board.html#how-to-use-it

Would you like to have this option also mentioned in http://docs.zephyrproject.org/getting_started/getting_started.html#running-a-sample-application-natively-posix-os?

Would you also like to have a list of all valid options? If so, in a new subsection of th

[2018-05-10 06:57] SavinayDharmappa commented on #7309
yeah. None of x86 boards derive RAM and ROM size from dts. So I am moving all boards boards to derive RAM and ROM size from dts. Will push the patch by EOD

[2018-05-10 07:08] aescolar-ot commented on #6388
Is there some particular proposal that you have for the native entropy driver?
Would the following changes be satisfactory?
* Rename to driver file fake_entropy_native_posix.c
* Rename the Kconfig option to FAKE_ENTROPY_NATIVE_POSIX
* Expand the Kconfig help, and the comment in the file header, to indicate it shall only be used for testing, never for real products, and that it produces consistentl

[2018-05-10 08:09] ioannisg commented on #6022
Closing this (#6143) is reviewed and merged.

[2018-05-10 08:09] #6022 closed

[2018-05-10 08:29] ioannisg commented on #7404
@pizi-nordic This issue is a step towards the direction of making Zephyr itself set up the execution environment. Because, then, Zephyr will be setting up both vector table and Main stack.

Pls, note, though, that the boot-loader would still need to know the reset_handler() of Zephyr, so it can jump to it. I don't see how that could change.

[2018-05-10 09:15] aescolar-ot opened #7447 "net tests: valgrind detected issues"
Several issues reported by valgrind on network tests

## `memcpy()` overlap:

### tests/net/mgmt/net.management
[code]

## Control depends on uninitialized variables:

### tests/net/lib/coap/net.coap
[code]
### tests/net/tcp/net.tcp
[code]

[2018-05-10 10:37] zhaozhongchen commented on #7329
I am portting stm32f2 to zephyr, if someone interested can based on my branch: stm32f2

[2018-05-10 11:52] MaureenHelm commented on #7390
@andrewboie Will you please rewrite this such that it describes what needs to be done, rather than just describing the current state of affairs? Something like "Add documentation to the pinmux APIs" and "Validate pinmux API inputs". I'd like to tag this issue as an enhancement, but that doesn't make sense with the current description.

[2018-05-10 12:29] SavinayDharmappa commented on #7309
https://github.com/zephyrproject-rtos/zephyr/pull/7451/commits/467983ab9b4051825083dfb77e8bb8188dc08afa

[2018-05-10 13:13] nvlsianpu opened #7452 "nRF52, NXP kinetis, ARM Beetle and STM `MPU` option appear for every MPU-equipped device"
Such options appear in menuconfig under [ARM Options]->[SoC Options]->*

Looks like it is required to make them dependent on appropriate architectures is only reqired for fix this issue.

![image](https://user-images.githubusercontent.com/17042885/39876936-db68c1c4-5474-11e8-92c8-a66d0805f7d0.png)

[2018-05-10 13:14] nvlsianpu commented on #7452
fix for nRF52xx is included in https://github.com/zephyrproject-rtos/zephyr/pull/7449

[2018-05-10 13:17] pfalcon commented on #7409
I'd say that the main rule is "the default configuration in the tree should work correctly". Stepping away from that (starting to tweak settings), it's pretty to get to a situation when something doesn't work as expected, or plain break.

I'd say just blindly bumping sizes up isn't good strategy - it may make Zephyr look less competitive that alternatives (and people are going to compare Zephyr wi

[2018-05-10 13:25] nvlsianpu commented on #7452
cc @MaureenHelm @galak @nashif @fvincenzo

I don't have enough knowledge (about device families) for fix this for particular devices - what i can suggest is that it has to by fixed by appropriate maintainers.

[2018-05-10 13:37] bluetooth-mdw opened #7453 "Bluetooth mesh message context API needs to expose DST address of RX messages"
bt_mesh_msg_ctx contains a field, addr which is the remote address of the sending device i.e. the SRC field. It does not currently include the destination address (DST) set by the sender.

The mesh models spec describes various rules for handling identical transactions. For example in 3.3.2.2.2 it says "...it shall set the Generic Level state to the Level field of the message, unless the message h

[2018-05-10 13:42] dleach02 commented on #7107
Identified source of crash. The original changes to enable KW41Z and OpenThread lost a set of changes related to FLASH device information. OT code is attempting to do a memcpy past the end of the flash device. PR is being prepared now.

[2018-05-10 14:37] xianrenqiu commented on #7423
Sorry, I forgot to write some process in front of it, and have been updated on them.  echo_server with TLS support refer to [net-tools](https://github.com/zephyrproject-rtos/net-tools#using-encrypted-ssl-link-with-echo--programs) ，Is there a problem in the process？

[2018-05-10 15:05] galak commented on #7452
Can you explain this a bit more, how are things show up in menuconfig?

[2018-05-10 15:10] nvlsianpu commented on #7452
I added the snipped.

[2018-05-10 15:20] galak commented on #7452
Thanks, I've got a fix I think across all the SoCs.  Will post in a minute.

[2018-05-10 15:28] andrewboie commented on #6814
x86/MMU fix is merged
#7443 fixes for MPU based devices, in code review

[2018-05-10 16:16] #7452 closed

[2018-05-10 18:44] pfalcon opened #7459 "net: Multiple inconsistent settings to configure TIME_WAIT delay in the IP stack"
Split off from https://github.com/zephyrproject-rtos/zephyr/pull/5442#issuecomment-388123413

Current situation: we have "TIMEWAIT_TIMEOUT" https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/tcp.c#L71 added in #5442, and just few lines above "TIME_WAIT_MS" and  "CONFIG_NET_TCP_2MSL_TIME" https://github.com/zephyrproject-rtos/zephyr/blob/master/subsys/net/ip/tcp.c#L59 .

Further

[2018-05-10 18:46] pfalcon commented on #7459
I intended to submit a patch addressing all the issues above: a) remove superfluous constants/options; b) add CONFIG_NET_TCP_TIME_WAIT_DELAY measured in ms, with 0 meaning "skip TIME_WAIT state".

[2018-05-10 18:46] pfalcon commented on #7459
@rveerama1 : FYI

[2018-05-10 19:11] dbkinder opened #7460 "Unable to view PR #6391"
https://github.com/zephyrproject-rtos/zephyr/pull/6391 fails to open and shows the "unicorn" page (page taking too long to load).  I reported this to the GitHub folks.  Are others having the same problem?

[2018-05-10 19:47] galak opened #7462 "Convert mcr20a to be a shield when that functionality is merged"
The mcr20a should be treated like a shield, so once we support shields, we should move the mcr20 support over to that.

[2018-05-10 19:47] galak commented on #7462
See #6017 for Shield details

[2018-05-10 19:50] galak opened #7463 "Support cleaner handling of cs-gpios for SPI devices"
Since the cs-gpios property is contained in the SPI controller node, we end up generating defines relative to the SPI controller and not the device.  We should figure out how we want to handle this in general w/regards to CS specified in DTS and the related info that gets generated.

[2018-05-10 19:53] dbkinder commented on #7460
GitHub replied: "We've got an issue open internally for our engineers to check out that PR to see what might be going on. We'll update you as soon as we know more.  Cheers, Alex"

[2018-05-10 20:39] #7434 closed

[2018-05-10 20:43] #7172 closed

[2018-05-10 21:05] dbkinder commented on #6384
@aescolar-ot  I'll submit a PR with a few more words and links from the getting started material to the native_posix board doc (no need to duplicate the info, but I'll add a reference.)  Stay tuned...

[2018-05-10 21:16] #6802 closed

[2018-05-10 21:17] #7070 closed

[2018-05-10 22:09] #6814 closed

[2018-05-10 22:49] ulfalizer commented on #7442
@lpereira
Added some improvements in https://github.com/zephyrproject-rtos/zephyr/pull/7467.

Still gotta press space, but maybe we can live with that for now. :)

[2018-05-10 23:26] #7336 closed

[2018-05-11 01:59] nashif commented on #7460
it just has too many comments and content, this has been very common with PRs that have >100 comments

[2018-05-11 05:05] dbkinder commented on #7460
If we can't view it we can't review it and it's stuck open?

[2018-05-11 08:01] loicpoulain commented on #7364
So, I'm pretty sure issue happens because of this patch: https://github.com/zephyrproject-rtos/zephyr/pull/7206#issuecomment-384544423

The connect_media callback is called on USB configuration status, however at this moment endpoints are not yet enabled (neither the interface), so trying to read/write endpoint is failing... Reverting this patch on your side should solve the issue.

We need to fin

[2018-05-11 08:41] #4052 closed

[2018-05-11 08:41] #4053 closed

[2018-05-11 09:45] chrta commented on #6654
I think that should be a dedicated uart that is not used otherwise, like for the console, right?

[2018-05-11 10:24] carlescufi opened #7473 "Bluetooth: Support for multiple local identity addresses"
In order to support the HID usecase, the BLE Host needs to be able to switch its identity address on the fly.

The parts involved in order to make this possible are:
- [x] Storage scheme that is forward-compatible with multiple local ID addresses
- [x] APIs to switch local identity addresses *or* all APIs to include local ID address
- [x] Key and CCC handling per local ID address in GAP and GATT
-

[2018-05-11 10:37] nvlsianpu commented on #7413
@jhedberg I take this on my desk.

[2018-05-11 10:46] carlescufi commented on #7473
@pizi-nordic and @jhn-nordic: Please detail the full requirements here so we can take a look

[2018-05-11 10:53] therealprof opened #7475 "LwM2M: UDP local port setting not obeyed, random port doesn't work"
I'm running into a number of fancy issues with LwM2M on a Nucleo-F429ZI board connected via Ethernet.

_If_ the app is actually capable of sending out packets over the network I'm getting the following output:
[code]

Further investigation with a mirrored port and wireshark shows that the packet is actually sent out, and ACKed by the server but the source IP chosen by zephyr is actually random ins

[2018-05-11 10:57] therealprof commented on #7475
[lwm2m_portmismatch.pcapng.zip](https://github.com/zephyrproject-rtos/zephyr/files/1995024/lwm2m_portmismatch.pcapng.zip)

[2018-05-11 10:57] #7453 closed

[2018-05-11 11:56] #7073 closed

[2018-05-11 12:35] jukkar commented on #6413
Lets close this one at this point and re-open if needed.

[2018-05-11 12:35] #6413 closed

[2018-05-11 12:42] jukkar commented on #7409
The stack sizes are always a headache. The default values for various stack sizes work ok normally but if one tweaks things the results could be what you see here. I would not want to increase the stack sizes for some corner case as user could do it by himself anyway by tweaking the kconfig option if needed. Of course it can be difficult to figure out the reason for some weird crash, perhaps some

[2018-05-11 13:09] nashif commented on #7460
yes, this needs to be fixed on github side, but I can see it an review it by not using the browser.

[2018-05-11 13:30] aescolar-ot opened #7478 "tests: valgrind detected issues"
Several issues reported by valgrind on tests

## Control depends on uninitialized variables:

### tests/kernel/mbox/mbox_api/kernel.mailbox
[code]
### tests/kernel/critical/kernel.common
[code]
### drivers/crypto/test-micro
[code]

[2018-05-11 13:31] aescolar-ot commented on #7447
Done, non net cases split into #7478

[2018-05-11 13:39] #7107 closed

[2018-05-11 15:41] nashif commented on #7409
based on the above discussion, lowering priority

[2018-05-11 16:09] #6831 closed

[2018-05-11 16:09] #6811 closed

[2018-05-11 16:45] aescolar-ot opened #7480 "pthread_attr_init( ) does not conform to POSIX specification"
Currently `pthread_attr_init()` checks the content of the input pthread_attr.
Therefore if its input was not initialized before the call, the behavior of the function is unpredictable.
Note that the point of pthread_attr_init() is to actually initialize it after it was declared and before it is used.

The POSIX spec. for this function can be found here:
http://pubs.opengroup.org/onlinepubs/9699919

[2018-05-11 16:45] aescolar-ot commented on #7480
@nashif would you be so kind as to reassign it to whoever maintains this part of the code?

[2018-05-11 17:07] pfalcon commented on #7377
Investigating the issue, it is by-product of the #5442 implementation. We used to have Kconfig setting of CONFIG_NET_TCP_TIME_WAIT, description "Enable TCP TIME_WAIT timeouts", default "n". Apparently, it implemented only partial (if at all) support for TIME_WAIT state. In #5442, TIME_WAIT was implemented, and existing config vars were ignored, so the new TIME_WAIT implementation is always on.

An

[2018-05-11 17:09] pfalcon commented on #7459
This affects baseline network testing (https://github.com/zephyrproject-rtos/zephyr/issues/7377), so setting priority as Medium and milestone as 1.12.  The patch submitted as https://github.com/zephyrproject-rtos/zephyr/pull/7476

[2018-05-11 17:41] jhedberg commented on #7413
One other thing I forgot: we discussed with @carlescufi that since settings_load() is done by the app, it'd be consistent that settings_subsys_init() is also done by the app (especially since you need to be sure that it's not called after someone has already tried to register a handler). I realized we merged a version for Bluetooth where settings_subsys_init() is called through bt_enable() and was

[2018-05-11 17:56] agross-linaro opened #7482 "[Coverity CID :185523] Out-of-bounds read in lsm6dsl driver"
Array overrun in static int lsm6dsl_odr_to_freq_val(u16_t odr).  Need to return last entry in map if index is bogus.

[2018-05-11 19:27] mike-scott commented on #7475
It would be great to see the output of the following Zephyr shell commands:
net iface
net conn

[2018-05-11 19:45] mike-scott commented on #7475
I can confirm that CONFIG_LWM2M_LOCAL_PORT=5683 is completely ignored at the moment.  It looks like the code that used to set the local port was re-written at some point and this config was never updated.

However, after adjusting the sample's settings to disable IPv6 and point at a local Leshan server instance, my FRDM-K64F connects just fine using the random port assigned.

Here's the prj.conf d

[2018-05-11 19:51] therealprof commented on #7475
Hm, weird. I also had to disable IPv6 because it had other issues. Also IPv4 doesn't work reliably and depends on how quickly a DHCP address can be obtained...

Let me try to obtain the other information you're looking for...

[2018-05-11 19:53] pfalcon commented on #7365
Ok, the real issue here appears to be the same as in https://github.com/zephyrproject-rtos/zephyr/issues/7377#issuecomment-388425338 . Why the bisecting has shown the commit above as the culprit? The only explanation was given above - that's artifacts of QEMU emulation (possibly, interaction of multiple artifacts, like UART handling, IRQ handling, etc.).

With the patch in https://github.com/zephy

[2018-05-11 19:53] #7365 closed

[2018-05-11 19:57] therealprof commented on #7475
[code]

[2018-05-11 19:57] mike-scott commented on #7475
IPv6 has worked for me using QEMU whenever I've tested it.  What issues were you seeing?  The reason I disabled it above was that I've had to disable IPv6 on my home network for a while as it was causing issues with another workstation.

[2018-05-11 20:06] therealprof commented on #7475
@mike-scott Outgoing ICMP only works sporadically, i.e. ping replies are sometimes not recognised while the other way around works nicely. And routed connections in general don't seem to work, only IPs within the same prefix discovered using neighbour discovery. Oh, and trying to ping local scoped addresses sends the shell off to an endless loop or something.

[2018-05-11 20:10] mike-scott commented on #7475
@therealprof what kind of LwM2M server are you connecting to?  Normally we test with Leshan or Wakaama.

Also, to enable routing outside the local network w/o DHCP, add this config:
CONFIG_NET_APP_MY_IPV4_GW="<your gateway IP>"

[2018-05-11 20:12] mike-scott commented on #7475
See above for corrected config value

[2018-05-11 20:35] mike-scott commented on #7475
Your server is returning 1 option value for COAP_OPTION_LOCATION_PATH:
[0] rd/95718949a6c440118201ccae40c81d61

Technically this is incorrect.  Each portion of the path needs it's own option.  So it should be returning:
[0] rd
[1] 95718949a6c440118201ccae40c81d61

Also the coap end point value of "95718949a6c440118201ccae40c81d61" is larger than the CoAP default option length of 12.  In Zephyr we

[2018-05-11 20:36] mike-scott commented on #7475
Yes, DHCP would be setting the network gateway value of the net iface.  I'll make a note to see how SLAAC is setting this.

[2018-05-11 20:42] therealprof commented on #7475
@mike-scott

Thanks a lot for debugging our software. ;) I'll look into it but can't change this right away since this sever is at the end of a longish CD chain...

CONFIG_COAP_EXTENDED_OPTIONS_LEN=y
CONFIG_COAP_EXTENDED_OPTIONS_LEN_VALUE=36

Okay, I'll test this but my gut tells me this is likely not related to Zephyr not accepting the reply on the port it was sent out from.

[2018-05-11 20:51] #6884 closed

[2018-05-11 20:52] #6662 closed

[2018-05-11 20:52] #7088 closed

[2018-05-11 21:27] mike-scott commented on #7475
While you're testing, you can also add the following 2 configs to prj.conf to enable ALL of the sys log messages for the net subsys:
CONFIG_NET_LOG_GLOBAL=y
CONFIG_SYS_LOG_DEFAULT_LEVEL=4

Be warned that this will significantly increase the size of the binary and the output from UART.

[2018-05-11 21:30] mike-scott commented on #7475
A full log example of my client connecting to your server:
https://hastebin.com/saxugibilu.go

Note line 30: Check UDP listener for pkt 0x20004a48 src port 5683 dst port 60166 family 29

This mentions the incoming port which should be the same as the randomly assigned outgoing port.

[2018-05-11 22:05] nashif commented on #7364
@finikorg can you please take a look?

[2018-05-11 22:30] nashif commented on #7115
fixed

[2018-05-11 22:30] #7115 closed

[2018-05-11 22:35] nashif commented on #6984
tried with hello world and above settings, works fine.

[2018-05-11 22:35] #6984 closed

[2018-05-11 22:45] nashif commented on #4960
moving to enhancement, this is not really a bug...

[2018-05-11 22:45] nashif commented on #4961
moving to enhancement, this is not really a bug...

[2018-05-11 22:45] nashif commented on #4962
moving to enhancement, this is not really a bug...

[2018-05-11 22:46] nashif commented on #4309
fixed in latest SDK

[2018-05-11 22:46] #4309 closed

[2018-05-11 22:47] nashif commented on #4963
moving to enhancement, this is not really a bug...

[2018-05-11 22:48] nashif commented on #4888
what is the status of this one?

[2018-05-11 22:49] nashif commented on #6038
not a bug

[2018-05-11 22:54] ulfalizer commented on #7442
@lpereira
Fine with closing this now that https://github.com/zephyrproject-rtos/zephyr/pull/7467?

Might stay open for a long time otherwise, though it's possible that I'll change how the search works at some point.

[2018-05-11 22:57] #7442 closed

[2018-05-11 23:04] #7482 closed

[2018-05-12 00:03] #7264 closed

[2018-05-12 04:29] nashif commented on #3500
we support esp32, ESP8266 is legacy

[2018-05-12 04:29] #3500 closed

[2018-05-12 05:57] jhedberg commented on #7473
Assuming that we go with the approach of supporting multiple identity addresses, I'd propose extending the settings storage in the following forward-compatible way:

Currently the identity address is stored in the key `bt/id` and the local IRK in `bt/irk`. I.e. one `bt_addr_le_t` in the first one and one `u8_t irk[16]` in the second. What I'd do is to convert these to arrays, i.e. first one would

[2018-05-12 10:56] jhedberg commented on #7473
One thing I'm wondering, I didn't find it useful to expose the actual IRK value publicly, and perhaps we don't even need/want to expose the address itself either? I.e. all the app knows is that there's a certain set of identities or that it created a new one with a given id.

[2018-05-12 14:01] nashif commented on #1620
obsolete

[2018-05-12 14:01] #1620 closed

[2018-05-12 14:02] nashif commented on #1651
old and obsolete, wont fix

[2018-05-12 14:02] #1651 closed

[2018-05-12 14:03] nashif commented on #1655
old and obsolete, wont fix

[2018-05-12 14:03] #1655 closed

[2018-05-12 14:09] nashif commented on #1799
old and obsolete

[2018-05-12 14:09] #1799 closed

[2018-05-12 14:17] nashif commented on #2001
QMSI related, wont do.

[2018-05-12 14:17] #2001 closed

[2018-05-12 14:45] nashif commented on #2002
qmsi related, wont fix

[2018-05-12 14:45] #2002 closed

[2018-05-12 15:09] b0661 opened #7495 "cmake: extensions: ToolchainCapabilityDatabase.cmake parse error in shippable"
Testing PR #6760 on shippable produces an error that seems not related to the PR.

    CMake Error at /home/buildslave/.cache/zephyr/ToolchainCapabilityDatabase.cmake:405:
     Parse error.  Function missing ending ")".  End of file reached.
    Call Stack (most recent call first):
      ../../../cmake/extensions.cmake:620 (include)
      ../../../cmake/extensions.cmake:1002 (zephyr_check_compiler

[2018-05-12 15:51] nashif commented on #2593
those applications that are not samples will need to go into their own repos using the new multi-git concept.

[2018-05-12 15:51] #2593 closed

[2018-05-12 15:53] nashif commented on #2977
not possible currently and waiting for qemu arc support

[2018-05-12 15:53] #2977 closed

[2018-05-12 15:55] nashif commented on #3167
removed panther, so we do not have much left.

[2018-05-12 15:55] #3167 closed

[2018-05-12 18:15] ydamigos commented on #7349
@tagunil I opened PR #7498 to add USB device support for L0 series. Could you please test it?

[2018-05-12 19:40] tagunil commented on #7349
Will do.

[2018-05-12 20:29] therealprof commented on #7475
Temporarily for kicks here at home: sure. Busy with some other stuff at the moment, though. ;)

[2018-05-12 20:32] mike-scott commented on #7475
I was thinking that would unblock you for testing your LwM2M server.

[2018-05-12 20:40] therealprof commented on #7475
Not really, can't use static IP addresses anywhere at work. For some real testing I'd even need DNS lookups to work and preferably IPv6, too.

[2018-05-12 21:26] mike-scott commented on #7475
Can you try commenting the following in prj.conf:
# CONFIG_NET_APP_MY_IPV4_ADDR="192.0.2.1"

That should stop the initial bind from happening till DHCP is set.

[2018-05-12 21:27] mike-scott commented on #7475
I have a rather large LwM2M related patch queue, but over the next 30 patches DNS support is being added to the example.

[2018-05-12 21:38] therealprof commented on #7475
Fantastic. Removing CONFIG_NET_APP_MY_IPV4_ADDR makes the whole thing work with DHCP.

[2018-05-12 21:40] ulfalizer opened #7499 "[RFC] Get rid of Zephyr's prefer-later-defaults behavior"
Zephyr adds a [patch](https://github.com/zephyrproject-rtos/Kconfiglib/commit/69c5735dad2d5ded9768634f1aa0c8cb283accb7) to vanilla Kconfig that makes it prefer later defaults, as documented [here](http://docs.zephyrproject.org/porting/board_porting.html#zephyr-specific-kconfig-behavior-for-defaults).

I think that change was made so that [`Kconfig.defconfig` files](http://docs.zephyrproject.org/po

[2018-05-12 21:42] ulfalizer commented on #7499
CC @carlescufi @SebastianBoe @mbolivar

[2018-05-12 21:53] mike-scott opened #7500 "DHCP: when CONFIG_NET_APP_MY_IPV4_ADDR is IP stack needs to rebind on DHCP aquire"
When testing DHCP w/ LwM2M client sample which sets CONFIG_NET_APP_MY_IPV4_ADDR="192.0.2.1" to work with QEMU by default, it was noticed that bind was happening on 192.0.2.1 and incoming packets on the DHCP address were being ignored.

We need to rebind anytime IP changes to avoid this.

[2018-05-12 21:54] mike-scott commented on #7500
Reported by @therealprof as a part of debugging https://github.com/zephyrproject-rtos/zephyr/issues/7475

[2018-05-12 21:56] mike-scott commented on #7475
Created a new issue to track DHCP bug.  This issue can track rhe fix to local port setting.

[2018-05-13 04:04] nashif commented on #7499
as long as you have a way to verify that the change does not impact the generated configurations and does generate the same final .config we should be fine with such change. Need to test this basically on all boards and tests and check if there are any differences.

[2018-05-13 10:46] henrikbrixandersen commented on #7460
FWIW, I can view #6391 fine using Safari on macOS.

[2018-05-13 12:58] ulfalizer commented on #7499
@nashif
Should be fine as long as the defaults are evaluated in the same order as before. I'll check with some of the examples too.

Thought I'd do what `doc/Makefile` does to include everything when comparing outputs.

[2018-05-13 19:41] carlescufi commented on #7499
None from me, but as @nashif said, we need to make completely sure we haven't modified the generated `.config` files by running some sort of `diffconfig` on all `.config` files generated by `sanitycheck`.

Why? I am not sure why globbing is a bad idea. We also use it in the current work to split Zephyr into multiple repositories, as you can see here:

https://github.com/zephyrproject-rtos/zephyr/p

[2018-05-13 22:03] ulfalizer commented on #7499
@carlescufi
Just some personal anti-globbing bias. Can't see at a glance what (isn't) being included, plus you might accidentally put something in there that matches (and yeah, that's actually happened to me in other projects).

The Python blowhard version would be "explicit is better than implicit" I think. :D

Maybe it's not a static set though, and yeah, just some personal experience. No biggie

[2018-05-14 06:09] a46554 commented on #6654
bt-uart is use to communication between BLE host and BLE controller. CC2650 is totally BLE SOC solution like nrf52832. So that bt-uart shouldn't exist when TI CC2650 BLE function is support.

[2018-05-14 06:14] a46554 commented on #6654
bt-uart is use to communication between BLE host and BLE controller. CC2650 is totally BLE SOC solution like nrf52832. So that bt-uart shouldn't exist when TI CC2650 BLE function is support.

[2018-05-14 06:44] vonhust commented on #6764
done in #7238

[2018-05-14 07:20] vakulgarg opened #7502 "samples/mbedtls_sslclient: Discards TLS records, handshake does not work"
I encountered a scenario where TLS handshake got broken. The mbedtls stack discarded tls records assuming corrupt data.

Digging further, I found that the way the incoming TLS records have been fed to mbedtls stack is wrong. Specifically, in function tcp_rx() (inside mbedtls_sslclient/src/tcp.c), the function always copies 'read_bytes' of data in input buffer 'buf' even if the requested input len

[2018-05-14 08:12] carlescufi commented on #7473
Thanks @jhedberg for proposing this API. I think it makes sense. In general I think it is a very good proposal. Here are some comments:

1. We still need to support setting the id address manually for each identity. This is not only because we already have an API, but also because hard-coded addresses in production are very common. In fact longer term we might want to think about the app pre-provi

[2018-05-14 08:15] nvlsianpu commented on #5554
Actually it in not hard to describe another user case (which i encountered many time in my career): An customer have a very specific requirement for a driver - so it is required to provide a user-case-driver by him. Because of business reason the customer can't even show this driver to the zephyr community. I would be pointless to keep this driver on a zephyr branch - it would be better to have it

[2018-05-14 08:17] therealprof opened #7503 "LwM2M client: No registration retry after error?"
It seems that the LwM2M client aborts any interaction with the server if it receives an unexpected reply, e.g.:
[code]

After that point: silence. Instead I would expect a retry after some time since the error might be temporary and/or sporadic.

NB: I moved the client lifetime check before the output, to make it show the default lifetime instead of 0 if not explicitly set.

[2018-05-14 08:33] carlescufi commented on #7473
@jhedberg why not:

`bt_identity_create(bt_addr_le_t **addr, u8_t **irk);`

If the addr/irk params are NULL, then the stack populates them. Otherwise the stack takes the values coming from the app.

[2018-05-14 08:39] oyvindronningstad commented on #7473
About the index:

- Just to be sure: Editing of an identity should be forbidden altogether. Only creating (or generating) new ones should be allowed.
- If you want to purge an identity, it might be risky to reuse the index for a new identity, even if you have deleted all the bonds associated with the purged identity since the user might have stored the index for its own purposes. Do we keep the en

[2018-05-14 08:43] jhn-nordic commented on #7473
## Here are a description of the real life use cases that are the reason behind the need for an approach with multiple identities

## Use case A:
![kb_3hosts](https://user-images.githubusercontent.com/36505436/39984557-e8493902-575b-11e8-8c93-89d914a8359a.png)

## Use case A1:
I have a BT enabled keyboard that supports **_only one bond at the time_**. I am now connected and bonded to Host A and wa

[2018-05-14 08:43] carlescufi commented on #7473
Not sure I follow. The user is the one deleting the identity, so it should know not to use that index anymore unless it creates a new one.

[2018-05-14 08:45] xianrenqiu commented on #7423
@pfalcon I have failed many times in the zephyr-v1.11.0 branch, and the latest submission(commit 03f9f6) can run successfully, but If it runs for a long time , there will be an  CPU Page Fault error，The following is the log：
[code]

[2018-05-14 08:54] oyvindronningstad commented on #7473
In practice, this is cumbersome because one part of the app doesn't know every other part. Being told that an identity is deprecated would make some things much easier.

[2018-05-14 09:07] carlescufi commented on #7473
@jhn-nordic: Thanks for the use cases.

[2018-05-14 09:28] spoorthik commented on #7106
Info: The test case is still on failing on ESP32. The latest commit checked on is  a869f875ec9ccdba6e6b9a951b885d9bb1c7b7c0

[2018-05-14 09:42] carlescufi commented on #7473
I would like to cover the following possibilities here in this issue:

a) Single identity, multiple IRKs, per-peer
b) Multiple identities, multiple IRKs, per-identity

In each of the above the public address should be an identity, only if it exists.

Additionally I would like to cover pre-provisioning of bonding information. This can be done in 2 ways:

1) Add APIs for it
2) Add a sample that pre-

[2018-05-14 10:41] pswarnak commented on #7460
I can view it using chrome browser. Possibly, the issue is fixed now. Please check.

[2018-05-14 11:52] carlescufi commented on #6770
@locomuco definitely. net-tools can (and probably will) be part of the default manifest

[2018-05-14 11:52] carlescufi commented on #6770
Relevant PR: https://github.com/zephyrproject-rtos/zephyr/pull/7338

[2018-05-14 11:53] jukkar commented on #7500
I could not reproduce this, or then I misunderstood the description.
I did following to test this (several terminals are needed):

Setup the qemu_x86 terminal for SLIP/TAP:

[code]

Terminal for DHCP server:
[code]

Terminal for echo-server:
[code]

The zephyr instance in qemu will first set the static IPv4 address and then after a while the address will be overridden by the DHCP address. Of cours

[2018-05-14 11:54] #7447 closed

[2018-05-14 11:59] tbursztyka commented on #7263
it was set as false positive in coverity

[2018-05-14 11:59] #7263 closed

[2018-05-14 11:59] tbursztyka commented on #7256
it was set as false positive in coverity

[2018-05-14 11:59] #7256 closed

[2018-05-14 12:01] laperie commented on #6347
@HorseMa , please try to reproduce the issue now after all SPI updates have been merged.  Is it still valid?

[2018-05-14 12:05] therealprof commented on #7500
The "short period" part is not correct. If an application binds to a port before the DHCP address arrives then all packets to the new address will be dropped (and an IGMP unreachable message generated), eternally.

That doesn't solve the problem. The IP addresses may change at any time and the system needs to be able to cope with that situation.

Typically systems support binding to IP **and** por

[2018-05-14 12:06] jukkar commented on #5781
@mike-scott There has been lot of activity with lwm2m code recently, can you confirm if this is still a valid issue?

[2018-05-14 12:15] jukkar commented on #7500
That sounds like a application issue (or could be in net_app) where IP address is set instead of just the port when creating the connection listener.

[2018-05-14 12:16] jukkar commented on #7500
That is why applications should listen IP address add/del events and act accordingly.

[2018-05-14 12:19] mandarcthorat1 opened #7508 "[Coverity CID :185523] Memory - illegal accesses in /drivers/sensor/lsm6dsl/lsm6dsl.c"
Static code scan issues seen in File: /drivers/sensor/lsm6dsl/lsm6dsl.c
 Category: Memory - illegal accesses
 Function: lsm6dsl_odr_to_freq_val
 Component: Drivers
 CID: 185523
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-14 12:19] mandarcthorat1 opened #7509 "[Coverity CID :185398] Memory - corruptions in /samples/net/mbedtls_sslclient/src/mini_client.c"
Static code scan issues seen in File: /samples/net/mbedtls_sslclient/src/mini_client.c
 Category: Memory - corruptions
 Function: tls_client
 Component: Samples
 CID: 185398
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-14 12:19] mandarcthorat1 opened #7510 "[Coverity CID :185395] Memory - corruptions in /samples/net/mbedtls_sslclient/src/mini_client.c"
Static code scan issues seen in File: /samples/net/mbedtls_sslclient/src/mini_client.c
 Category: Memory - corruptions
 Function: tls_client
 Component: Samples
 CID: 185395
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-14 12:19] mandarcthorat1 opened #7511 "[Coverity CID :185391] Incorrect expression in /tests/lib/rbtree/src/main.c"
Static code scan issues seen in File: /tests/lib/rbtree/src/main.c
 Category: Incorrect expression
 Function: check_tree
 Component: Tests
 CID: 185391
 Please fix or provide comments to square it off in coverity in the link: https://scan9.coverity.com/reports.htm#v32951/p12996

[2018-05-14 13:27] SebastianBoe commented on #7495
Not sure how to proceed here ...

Could do one or more of;

Dump the cache on CI failures for visibility.

Clear the cache when CI runs to isolate builds and have the lifetime of ccache and toolchain.cache be the same.

Use a different toolchain cache format so that we can detect and clean corrupted caches.

[2018-05-14 13:31] mekkaoui commented on #6498
I need a 1us timestamp "service". In my use-case it is simply a variable that increments every 1 us infinitely, and that gets read asynchronously as per need.

-be always monotonic at a 1us resolution
-Take care of any rollovers (64bit variable would take care of this almost at any micro-controller clock)
-If it uses interrupts, it does it right to avoid race condition

Neglecting any os issues, w

[2018-05-14 13:43] carlescufi opened #7516 "Support binary blobs / libraries and glue code in vanilla upstream Zephyr"
This issue here is to describe what to do about Zephyr (i.e. the upstream vanilla distribution) containing either of the following:

- Binary objects of any sort (firmware images, linkable libraries)
- Accompanying OSS build, header or source files to the binary objects (typically a `CMakeLists.txt` custom-made for Zephyr and then any additional `.c` and `.h` files that are compiled when using the

[2018-05-14 13:47] galak commented on #7516
I think this is something we need to support in Zephyr.  We probably need to figure out the rules and document them around what is considered an acceptable binary.  For example:

- is the binary licensed in such a way that allows re-distribution by the Zephyr project.
- are the interface/headers to the binary licensed permissively/OSI licensed (ie, something like Apache or BSD).

[2018-05-14 13:51] carlescufi commented on #7516
I agree. Where do you think this document should live?

Also, @galak I guess you are assuming option 3. and the multi-repo being there?

[2018-05-14 13:54] galak commented on #7516
I assume the doc would be part of our contributing guidelines, so something under doc/contribute/

Yes, I think something like option 3.

[2018-05-14 13:57] carlescufi commented on #7516
Depends on #6770

[2018-05-14 13:57] carlescufi commented on #7516
Yes, indeed. I guess that flew under the radar.

[2018-05-14 14:13] MaureenHelm commented on #7508
@avisconti Will you please have a look at this?